{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-ee6e3ff6-63c5-71fa-6ec2-e6fb5e563f73?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 21:22:30 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14B4FF5CEC4\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:22:30 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-ee6e3ff6-63c5-71fa-6ec2-e6fb5e563f73/test-blob-f5093f69-a760-72a4-338d-bc02092c99f1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 05 Mar 2020 21:22:30 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "I2UMG6pWkW\u002BUEF6Jlu3iPCwJZJh0qSFHnjm1VDkNfB0=",
        "x-ms-encryption-key-sha256": "eeA3cLOdX9JLa62I2eeMgOKlArKWKHTarm1tjAPl9GI=",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14B5002E87C\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:22:30 GMT",
        "x-ms-encryption-key-sha256": "eeA3cLOdX9JLa62I2eeMgOKlArKWKHTarm1tjAPl9GI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-ee6e3ff6-63c5-71fa-6ec2-e6fb5e563f73/test-blob-f5093f69-a760-72a4-338d-bc02092c99f1?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "8192",
        "x-ms-date": "Thu, 05 Mar 2020 21:22:30 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "I2UMG6pWkW\u002BUEF6Jlu3iPCwJZJh0qSFHnjm1VDkNfB0=",
        "x-ms-encryption-key-sha256": "eeA3cLOdX9JLa62I2eeMgOKlArKWKHTarm1tjAPl9GI=",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14B500FE073\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:22:30 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-ee6e3ff6-63c5-71fa-6ec2-e6fb5e563f73?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:22:30 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1064681607",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}