{
  "Entries": [
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-02b3c9ce-7767-5a43-08c4-8503755f9acb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 25 Apr 2020 01:13:43 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B5E5DC4BBD\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:13:43 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-02b3c9ce-7767-5a43-08c4-8503755f9acb/test-blob-daa21120-952e-4cd8-e84b-77ff5aeaf624",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Sat, 25 Apr 2020 01:13:43 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B5E5E7C99A\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:13:44 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-02b3c9ce-7767-5a43-08c4-8503755f9acb/test-blob-daa21120-952e-4cd8-e84b-77ff5aeaf624?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "8192",
        "x-ms-date": "Sat, 25 Apr 2020 01:13:44 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B5E5F423F1\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:13:44 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-8c2343ad-b8f7-69d0-6a2d-8bc62faa3fb7/test-blob-2e486f77-1eb0-b39a-e365-eda69d2937ca?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Fri, 24 Apr 2020 01:13:43 GMT",
        "x-ms-blob-content-length": "8192",
        "x-ms-date": "Sat, 25 Apr 2020 01:13:44 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B5E62824FF\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:13:44 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-1de715b6-d308-2369-3b61-c32798fbe9c8/test-blob-91cb7a9e-7da5-8c9b-27c3-3729b0edf924?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sun, 26 Apr 2020 01:13:43 GMT",
        "x-ms-blob-content-length": "8192",
        "x-ms-date": "Sat, 25 Apr 2020 01:13:44 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B5E65BB0ED\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:13:44 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-c7bb4f06-64cd-67c8-561d-65d4c1c9ea7e/test-blob-629df043-937f-3fc6-06f4-17456a626f7b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:13:45 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7E8B5E682465A\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:13:45 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Sat, 25 Apr 2020 01:13:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-c7bb4f06-64cd-67c8-561d-65d4c1c9ea7e/test-blob-629df043-937f-3fc6-06f4-17456a626f7b?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D7E8B5E682465A\u0022",
        "x-ms-blob-content-length": "8192",
        "x-ms-date": "Sat, 25 Apr 2020 01:13:45 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B5E69AD3FE\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:13:45 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-cfd0ff2d-7ba7-bb6c-9d87-8e6a16bae8b4/test-blob-61b7ffab-4ca0-bded-28e5-9ddc0db2f1c8?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-blob-content-length": "8192",
        "x-ms-date": "Sat, 25 Apr 2020 01:13:45 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B5E6CDC3C1\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:13:45 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-9aa66b6a-59f7-3639-0d10-4a1281c4c938/test-blob-477be614-3743-9509-e3c0-9b71f1ae4887?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:13:45 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "24c26233-4e8e-5540-469d-a42b4550aad7",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B5E6F4803B\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:13:45 GMT",
        "x-ms-lease-id": "24c26233-4e8e-5540-469d-a42b4550aad7",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-9aa66b6a-59f7-3639-0d10-4a1281c4c938?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:13:45 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-24T18:13:43.8899642-07:00",
    "RandomSeed": "2065096017",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttp://amandacanary.blob.core.windows.net\nhttp://amandacanary.file.core.windows.net\nhttp://amandacanary.queue.core.windows.net\nhttp://amandacanary.table.core.windows.net\n\n\n\n\nhttp://amandacanary-secondary.blob.core.windows.net\nhttp://amandacanary-secondary.file.core.windows.net\nhttp://amandacanary-secondary.queue.core.windows.net\nhttp://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandacanary.blob.core.windows.net/;QueueEndpoint=http://amandacanary.queue.core.windows.net/;FileEndpoint=http://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Sanitized\n\nDefaultEndpointsProtocol=https;AccountName=ortestsaccountcbn1;AccountKey=OrRfzSm3ktQSklAGiL90/QusS7SdS6Y5S/AJoxZEeyKYDtnue7OKYIMLOraTnT4xcOyhYbqzWVmtTKappcc5Fg==;EndpointSuffix=core.windows.net\nDefaultEndpointsProtocol=https;AccountName=vbalaorcentral1;AccountKey=vlHMz/LZ3Sx7r/1bdTQT26pG0tqORQ4uTIcxGhHB0LQhIhqGxfv2TXV7u\u002BI2ra4UWXrWGGHG2N6l\u002BBfb5FgAcQ==;EndpointSuffix=core.windows.net"
  }
}