{
  "Entries": [
    {
      "RequestUri": "https://storagedotnettestingprem.blob.core.windows.net/test-container-81f39ae9-2f94-472c-0660-143ce619df40?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:21 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D7E8F718F\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:58:21 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettestingprem.blob.core.windows.net/test-container-81f39ae9-2f94-472c-0660-143ce619df40/test-blob-60c72556-ee46-24ad-e330-027f9df8cab9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:21 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D7ED99C4E\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:58:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettestingprem.blob.core.windows.net/test-container-81f39ae9-2f94-472c-0660-143ce619df40/test-blob-60c72556-ee46-24ad-e330-027f9df8cab9?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:21 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "GopsJUZwlwP24rxCH9KOYyt29mLILf17ojKMfuGq1gs0vj8uNg9Y1exMu1/xovW4waHOw8O7iO2M8IMT4xkiTAywDmGTXywcHiB1e3Kdiv891LxA2xJIeDVRokaMRPHTKm5TQJSUJWF0saWiRgx67mWD1g9d4nD5aJYsQb3mj9kuolEDSkprqK9ayyltpTIo1rPgCG7idUj\u002BWtf\u002BaOOkjSLLdKO7d6QbGC1fAhZGi8JkA2oJBodrSywIBO9ybUDLtj0HoTCObV8PxO9BgnIxuM4UmmV5moeaYCl3snK0qKvslEzZPumS1ZUK\u002BkGXKsi510whXdPbUhu2bUEHFrrtWhxEVO4mWHnlgsTPbp9GAzZgvtslk0rYEEExItGoir/aHZ8lUtXak37SP[...]
    {
      "RequestUri": "https://storagedotnettestingprem.blob.core.windows.net/test-container-81f39ae9-2f94-472c-0660-143ce619df40/test-blob-60c72556-ee46-24ad-e330-027f9df8cab9?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:21 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D7EDE581F\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:58:21 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2020-10-01T22:58:21.9677819Z",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettestingprem.blob.core.windows.net/test-container-81f39ae9-2f94-472c-0660-143ce619df40/test-blob-91a8fce2-79da-de93-d059-7f3627335f62",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "P20",
        "x-ms-copy-source": "https://storagedotnettestingprem.blob.core.windows.net/test-container-81f39ae9-2f94-472c-0660-143ce619df40/test-blob-60c72556-ee46-24ad-e330-027f9df8cab9",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:22 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D7EEE3990\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:58:22 GMT",
        "x-ms-copy-id": "dbf9ca39-6390-41c7-b821-8052969872a9",
        "x-ms-copy-status": "success",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettestingprem.blob.core.windows.net/test-container-81f39ae9-2f94-472c-0660-143ce619df40/test-blob-91a8fce2-79da-de93-d059-7f3627335f62",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:22 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8665D7EEE3990\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:58:22 GMT",
        "x-ms-access-tier": "P20",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-copy-completion-time": "Thu, 01 Oct 2020 22:58:22 GMT",
        "x-ms-copy-id": "dbf9ca39-6390-41c7-b821-8052969872a9",
        "x-ms-copy-progress": "4096/4096",
        "x-ms-copy-source": "https://storagedotnettestingprem.blob.core.windows.net/test-container-81f39ae9-2f94-472c-0660-143ce619df40/test-blob-60c72556-ee46-24ad-e330-027f9df8cab9",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Thu, 01 Oct 2020 22:58:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://storagedotnettestingprem.blob.core.windows.net/test-container-81f39ae9-2f94-472c-0660-143ce619df40?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:22 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1157966461",
    "Storage_TestConfigPremiumBlob": "PremiumTenant\nstoragedotnettestingprem\nU2FuaXRpemVk\nhttps://storagedotnettestingprem.blob.core.windows.net\nhttps://storagedotnettestingprem.file.core.windows.net\nhttps://storagedotnettestingprem.queue.core.windows.net\nhttps://storagedotnettestingprem.table.core.windows.net\n\n\n\n\nhttps://storagedotnettestingprem-secondary.blob.core.windows.net\nhttps://storagedotnettestingprem-secondary.file.core.windows.net\nhttps://storagedotnettestingprem-secondary.queue.core.windows.net\nhttps://storagedotnettestingprem-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://storagedotnettestingprem.blob.core.windows.net/;QueueEndpoint=https://storagedotnettestingprem.queue.core.windows.net/;FileEndpoint=https://storagedotnettestingprem.file.core.windows.net/;BlobSecondaryEndpoint=https://storagedotnettestingprem-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://storagedotnettestingprem-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://storagedotnettestingprem-secondary.file.core.windows.net/;AccountName=storagedotnettestingprem;AccountKey=Sanitized\n"
  }
}