{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-dd0552b0-9d73-bdc4-6335-96d93b0ff1d8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 19:03:52 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D376C488805E\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:03:52 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-dd0552b0-9d73-bdc4-6335-96d93b0ff1d8?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 19:03:53 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D376C49C0A45\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:03:53 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-dd0552b0-9d73-bdc4-6335-96d93b0ff1d8/test-blob-b0a01044-1810-e8f2-5242-c5cae37e29e1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 17 Feb 2021 19:03:53 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D376C4A9DCF0\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:03:53 GMT",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T19:03:53.1993328Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-dd0552b0-9d73-bdc4-6335-96d93b0ff1d8/test-blob-b0a01044-1810-e8f2-5242-c5cae37e29e1?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 17 Feb 2021 19:03:53 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023"
      },
      "RequestBody": "PPvU4e0Ah7Fy2dxNAgaSTUOI/jx6ROvqiF/CwXbptbT8nrMGEJjwHthxkNtEizVNWkKYQkF51vcP6VmNPcY6iCMnUGRTjDyql99kCLMQpvwqdWczUXNzgse89ic/YuERNgi3HDvR\u002Bs0G7aphFc5D/0JdY8deBzaws86clpUVazX\u002BUtKrWYnBWXqZLWTJEWz5ePbk4v4Zsy/RB2lsNGM38YF0Y8P7l6a5mwlNxNnS5qJhoh6eMIk25J6i2lIgVCQWYTziVK6o/eBQK0b0zO5V/iDGCpJFmcD4PX4lWL1TmEblNmOd75HzuaQ9TgVCQRiwTdsxWUqS0ch76hYwg6Qj/JP/D5WLuA\u002BO01HtCEq6tfxldQvhIj78UmWaIQV6wzX/GVFyQzKDJJXMoob4pcl9wDQayg6ZQtpUAr0w8ZYKEw8b7e75SHLK4l[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-dd0552b0-9d73-bdc4-6335-96d93b0ff1d8/test-blob-b0a01044-1810-e8f2-5242-c5cae37e29e1?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 19:03:53 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D376C4B3548E\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:03:53 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2021-02-17T19:03:53.3644494Z",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T19:03:53.3654494Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-dd0552b0-9d73-bdc4-6335-96d93b0ff1d8/test-blob-4063c7de-0067-aeac-656b-1da5398f00d9?comp=incrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-dd0552b0-9d73-bdc4-6335-96d93b0ff1d8/test-blob-b0a01044-1810-e8f2-5242-c5cae37e29e1?snapshot=2021-02-17T19:03:53.3644494Z",
        "x-ms-date": "Wed, 17 Feb 2021 19:03:53 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D376C4EF3007\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:03:53 GMT",
        "x-ms-copy-id": "cededbba-2db8-43ae-9382-6d08e50a7bef",
        "x-ms-copy-status": "pending",
        "x-ms-version-id": "2021-02-17T19:03:53.6536583Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-dd0552b0-9d73-bdc4-6335-96d93b0ff1d8/test-blob-4063c7de-0067-aeac-656b-1da5398f00d9?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Wed, 17 Feb 2021 19:03:58 GMT"
      },
      "RequestBody": "\uFEFF\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EcoolTag\u003C/Key\u003E\u003CValue\u003Etrue\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E",
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-dd0552b0-9d73-bdc4-6335-96d93b0ff1d8/test-blob-4063c7de-0067-aeac-656b-1da5398f00d9?comp=incrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-dd0552b0-9d73-bdc4-6335-96d93b0ff1d8/test-blob-b0a01044-1810-e8f2-5242-c5cae37e29e1?snapshot=2021-02-17T19:03:58.8723971Z",
        "x-ms-date": "Wed, 17 Feb 2021 19:03:58 GMT",
        "x-ms-if-tags": "\u0022coolTag\u0022 = \u0027true\u0027"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D376C81854AD\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:03:58 GMT",
        "x-ms-copy-id": "6156b2d4-4e16-4b1f-992a-1d62949ecd6c",
        "x-ms-copy-status": "pending"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-dd0552b0-9d73-bdc4-6335-96d93b0ff1d8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 19:03:58 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1443424375",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}