{
  "Entries": [
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-1f38849d-594c-eae2-39b5-68a2de88f318?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D82E07755\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:58:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-1f38849d-594c-eae2-39b5-68a2de88f318?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u003CSignedIdentifiers /\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D82E4DC41\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:58:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-1f38849d-594c-eae2-39b5-68a2de88f318/test-blob-0c2d60a2-390d-8f95-c3a1-7b5a3ed02af0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D82E8E3F0\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:58:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-1f38849d-594c-eae2-39b5-68a2de88f318/test-blob-0c2d60a2-390d-8f95-c3a1-7b5a3ed02af0?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:28 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "gsf0HMq4dmKAkKc21VYu4ycIQt4amFHuR5iH4XbTpMMky5H6PGh8UEatne4myrkVJNVEy3fd\u002Bup2BtQxMZXrrOvjEgnEM6e\u002Bi/KXbPpjx33ecb2hj9lMRtGnhDaUSx\u002BxwfECQ7evUPAuhj\u002BFRY7vEz5WUsDXSh0Sl8s4Ha9wKUDT5qoIYITGLyDNcgmZxwFDt3H3Pvhe2XbU76vrdzNAvVz\u002Bsl7j57K6jyOfCtcTedDK9WU\u002BeepIdAw0NHDY2rjtjLWsmhWiX9C\u002BPK7Uv86fwHbbIYHNAkRxtj1Sr7JB4rRrsn4iZ967J5WUfzw8c7Q9lHT5/Lk2H4pxOuTXULAefFr5aQ1QfFiYIPnrOIMHNUKJFBo9SOX7NJLzsS35[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-1f38849d-594c-eae2-39b5-68a2de88f318/test-blob-0c2d60a2-390d-8f95-c3a1-7b5a3ed02af0?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D82EE8AA1\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:58:28 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2020-10-01T22:58:28.7828220Z",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-1f38849d-594c-eae2-39b5-68a2de88f318/test-blob-23bf19be-6ad8-8038-2a8f-effd6fc8adaf?comp=incrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://storagedotnettesting.blob.core.windows.net/test-container-1f38849d-594c-eae2-39b5-68a2de88f318/test-blob-0c2d60a2-390d-8f95-c3a1-7b5a3ed02af0?snapshot=2020-10-01T22:58:28.7828220Z",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D82F9D7F3\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:58:28 GMT",
        "x-ms-copy-id": "c09add2e-d467-4dbd-96e2-881df3418af5",
        "x-ms-copy-status": "pending",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-1f38849d-594c-eae2-39b5-68a2de88f318/test-blob-23bf19be-6ad8-8038-2a8f-effd6fc8adaf?comp=incrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://storagedotnettesting.blob.core.windows.net/test-container-1f38849d-594c-eae2-39b5-68a2de88f318/test-blob-0c2d60a2-390d-8f95-c3a1-7b5a3ed02af0?snapshot=2020-10-01T22:58:28.8879226Z",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:28 GMT",
        "x-ms-if-tags": "\u0022coolTag\u0022 = \u0027true\u0027",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:a9ce245b-b01e-0008-0246-98bdd9000000\n",
        "Time:2020-10-01T22:58:28.9348108Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-1f38849d-594c-eae2-39b5-68a2de88f318?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "565848269",
    "Storage_TestConfigDefault": "ProductionTenant\nstoragedotnettesting\nU2FuaXRpemVk\nhttps://storagedotnettesting.blob.core.windows.net\nhttps://storagedotnettesting.file.core.windows.net\nhttps://storagedotnettesting.queue.core.windows.net\nhttps://storagedotnettesting.table.core.windows.net\n\n\n\n\nhttps://storagedotnettesting-secondary.blob.core.windows.net\nhttps://storagedotnettesting-secondary.file.core.windows.net\nhttps://storagedotnettesting-secondary.queue.core.windows.net\nhttps://storagedotnettesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://storagedotnettesting.blob.core.windows.net/;QueueEndpoint=https://storagedotnettesting.queue.core.windows.net/;FileEndpoint=https://storagedotnettesting.file.core.windows.net/;BlobSecondaryEndpoint=https://storagedotnettesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://storagedotnettesting-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://storagedotnettesting-secondary.file.core.windows.net/;AccountName=storagedotnettesting;AccountKey=Kg==;\n"
  }
}