{
  "Entries": [
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-12041ce1-3003-242b-8398-3c512082795c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 01 Oct 2020 22:57:52 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D6D9CBF7C\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:57:52 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-12041ce1-3003-242b-8398-3c512082795c?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 01 Oct 2020 22:57:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u003CSignedIdentifiers /\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D6DA358DD\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:57:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-12041ce1-3003-242b-8398-3c512082795c/test-blob-732d87a7-27f1-ad9b-0286-07720b04a211",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 01 Oct 2020 22:57:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D6DA81BEA\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:57:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-12041ce1-3003-242b-8398-3c512082795c/test-blob-732d87a7-27f1-ad9b-0286-07720b04a211?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:57:53 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "6s5\u002Bi4XXBD/EVSQnai9Cm3aO1DFdrXRzAFPvJBT7qUXtVV\u002B1Tbvv5vSvXRJJKMvk1nPHjM7EWjxZCosy6OAqyKveOhTPjU26nu08rk9iKteHCk6gNB13KPsiW0Mwvf4UhJVma\u002B62FUkmDO3giKvt9\u002BC0qt2RiZOOZhEYrDEKiuHvJym6\u002B7/p0PUFeigvlqBQNWRjexIggvoB2ATdnmgXG4EL8GCBM/wgy9rojA9rXs9xyHfNpw7Pz6UvuCO7DDKN7V\u002BnI6U/zgFnQrA4N/Xrlnk0a9XwSnNyPCG7UnvZZb\u002BnW5\u002BvwzspMvl2ZWVdl5evQyGqhqBdnKLrNeeEg3yGjtzxkNtWO9M9CjnbeuUOFKWJDA5ZLt4e[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-12041ce1-3003-242b-8398-3c512082795c/test-blob-732d87a7-27f1-ad9b-0286-07720b04a211?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:57:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D6DAE5EFD\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:57:53 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2020-10-01T22:57:53.1401317Z",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-12041ce1-3003-242b-8398-3c512082795c/test-blob-e8f51bf1-3abe-179d-e105-2f8ede97e516?comp=incrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://storagedotnettesting.blob.core.windows.net/test-container-12041ce1-3003-242b-8398-3c512082795c/test-blob-732d87a7-27f1-ad9b-0286-07720b04a211?snapshot=2020-10-01T22:57:53.1401317Z",
        "x-ms-date": "Thu, 01 Oct 2020 22:57:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D6DBC933C\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:57:53 GMT",
        "x-ms-copy-id": "154b117f-ac99-46bc-9ebd-63ce55c51071",
        "x-ms-copy-status": "pending",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-12041ce1-3003-242b-8398-3c512082795c/test-blob-e8f51bf1-3abe-179d-e105-2f8ede97e516",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:57:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8665D6DBC933C\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:57:53 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-copy-id": "154b117f-ac99-46bc-9ebd-63ce55c51071",
        "x-ms-copy-progress": "0/4096",
        "x-ms-copy-source": "https://storagedotnettesting.blob.core.windows.net/test-container-12041ce1-3003-242b-8398-3c512082795c/test-blob-732d87a7-27f1-ad9b-0286-07720b04a211?snapshot=2020-10-01T22:57:53.1401317Z",
        "x-ms-copy-status": "pending",
        "x-ms-creation-time": "Thu, 01 Oct 2020 22:57:53 GMT",
        "x-ms-incremental-copy": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-12041ce1-3003-242b-8398-3c512082795c/test-blob-e8f51bf1-3abe-179d-e105-2f8ede97e516",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:07 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8665D75CFA789\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:58:06 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-copy-completion-time": "Thu, 01 Oct 2020 22:58:06 GMT",
        "x-ms-copy-destination-snapshot": "2020-10-01T22:58:06.7530035Z",
        "x-ms-copy-id": "154b117f-ac99-46bc-9ebd-63ce55c51071",
        "x-ms-copy-progress": "4096/4096",
        "x-ms-copy-source": "https://storagedotnettesting.blob.core.windows.net/test-container-12041ce1-3003-242b-8398-3c512082795c/test-blob-732d87a7-27f1-ad9b-0286-07720b04a211?snapshot=2020-10-01T22:57:53.1401317Z",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Thu, 01 Oct 2020 22:57:53 GMT",
        "x-ms-incremental-copy": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-4b39038b-0010-ef46-7175-d7c16d5dc347/test-blob-56167883-9a46-b7ff-571a-8a03a4373470?comp=incrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 30 Sep 2020 22:57:52 GMT",
        "x-ms-copy-source": "https://storagedotnettesting.blob.core.windows.net/test-container-4b39038b-0010-ef46-7175-d7c16d5dc347/test-blob-62509c3c-338f-e1bd-653f-20c64d974d4a?snapshot=2020-10-01T22:58:08.9550787Z",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:08 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D77279B49\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:58:09 GMT",
        "x-ms-copy-id": "21fd5a47-279b-4eab-bff9-fb4311cd7966",
        "x-ms-copy-status": "pending",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-fa4cd00e-3c4a-e785-0516-3526809e3fa7/test-blob-57446744-78b7-b9f5-c7bd-709a93857105?comp=incrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 02 Oct 2020 22:57:52 GMT",
        "x-ms-copy-source": "https://storagedotnettesting.blob.core.windows.net/test-container-fa4cd00e-3c4a-e785-0516-3526809e3fa7/test-blob-a0be2c47-b0fe-de68-4486-839dff85f5a0?snapshot=2020-10-01T22:58:10.4755170Z",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:10 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D780EFEFA\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:58:10 GMT",
        "x-ms-copy-id": "7438ae2e-1431-4c21-9800-c6415983085b",
        "x-ms-copy-status": "pending",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-0cf406c5-10bf-2f69-0b6f-a22550fa9470/test-blob-41c7d13c-d499-4616-acc2-5c7a52deb3ea?comp=incrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D8665D78467024\u0022",
        "x-ms-copy-source": "https://storagedotnettesting.blob.core.windows.net/test-container-0cf406c5-10bf-2f69-0b6f-a22550fa9470/test-blob-bfbe08d5-7453-297f-f5af-7d02fc7254b5?snapshot=2020-10-01T22:58:12.0440003Z",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:12 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D78FFDADC\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:58:12 GMT",
        "x-ms-copy-id": "3a39cd4e-c78f-4315-9241-543b67416202",
        "x-ms-copy-status": "pending",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-3fd73f4f-f72e-02db-0440-cc980a38faa0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:14 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-10-01T15:57:52.8727990-07:00",
    "RandomSeed": "1249532505",
    "Storage_TestConfigDefault": "ProductionTenant\nstoragedotnettesting\nU2FuaXRpemVk\nhttps://storagedotnettesting.blob.core.windows.net\nhttps://storagedotnettesting.file.core.windows.net\nhttps://storagedotnettesting.queue.core.windows.net\nhttps://storagedotnettesting.table.core.windows.net\n\n\n\n\nhttps://storagedotnettesting-secondary.blob.core.windows.net\nhttps://storagedotnettesting-secondary.file.core.windows.net\nhttps://storagedotnettesting-secondary.queue.core.windows.net\nhttps://storagedotnettesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://storagedotnettesting.blob.core.windows.net/;QueueEndpoint=https://storagedotnettesting.queue.core.windows.net/;FileEndpoint=https://storagedotnettesting.file.core.windows.net/;BlobSecondaryEndpoint=https://storagedotnettesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://storagedotnettesting-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://storagedotnettesting-secondary.file.core.windows.net/;AccountName=storagedotnettesting;AccountKey=Kg==;\n"
  }
}