{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-d56484bc-6216-f21a-fd34-50c6716f4ec2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Jul 2019 02:09:57 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5BDDF76FCB\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:09:57 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-d56484bc-6216-f21a-fd34-50c6716f4ec2?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Jul 2019 02:09:57 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "\u003cSignedIdentifiers /\u003e",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5BDDF9C4B5\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:09:57 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-d56484bc-6216-f21a-fd34-50c6716f4ec2/test-blob-3ddeb38b-0139-6585-793f-ea28a5c99d08",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 17 Jul 2019 02:09:57 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5BDDFC28EB\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:09:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-d56484bc-6216-f21a-fd34-50c6716f4ec2/test-blob-3ddeb38b-0139-6585-793f-ea28a5c99d08?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:09:57 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "59i8YhjujcT6o1pTY6HGaSTs84ueMqs2pcOf/9PGvLh21pFT2K5M5VgMIXNZGXVFJrqeGM/CirUshb1VTo7xNOai3YwQcpB2nw4ykhA43YtNWdgYJ6Tos0zbJlLx9pbKGu2NtzzpNbMpKHjBj/ik9KgxB/S12AxBuSk/NEs\u002bhal3aHcjqiZOZCQk7v8sJiRUNzKqv\u002b\u002bhFEHhS/0TqQBo66POSieAgUmC46PPkOoMFZMF6/0Zk8W61lM1Ql8oOrokvANbXdv807XoKNtL0YNX1DZpDr4CT1fdFHTTSj/qWajoq9Tmsbi3CBdHMGvpbgTP3m0pvyz8IWyrfkhnKYl2/s8zYyavcCN9sgWnuh7r86ZvA2zRwJp77IloOjNvUN\u002bN0TKctgve[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-d56484bc-6216-f21a-fd34-50c6716f4ec2/test-blob-3ddeb38b-0139-6585-793f-ea28a5c99d08?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:09:57 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5BDDFE9A85\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:09:57 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2019-07-17T02:09:57.9106795Z",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-d56484bc-6216-f21a-fd34-50c6716f4ec2/test-blob-61a5ef76-7909-03df-657d-0c182ea36dde?comp=incrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-d56484bc-6216-f21a-fd34-50c6716f4ec2/test-blob-3ddeb38b-0139-6585-793f-ea28a5c99d08?snapshot=2019-07-17T02:09:57.9106795Z",
        "x-ms-date": "Wed, 17 Jul 2019 02:09:57 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5BDE0552F0\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:09:57 GMT",
        "x-ms-copy-id": "b4a09297-e742-41ae-a474-4cfcdef0683b",
        "x-ms-copy-status": "pending",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-d56484bc-6216-f21a-fd34-50c6716f4ec2/test-blob-61a5ef76-7909-03df-657d-0c182ea36dde",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:09:57 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D70A5BDE0552F0\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:09:57 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-copy-id": "b4a09297-e742-41ae-a474-4cfcdef0683b",
        "x-ms-copy-progress": "0/4096",
        "x-ms-copy-source": "https://storageteglazatesting.blob.core.windows.net/test-container-d56484bc-6216-f21a-fd34-50c6716f4ec2/test-blob-3ddeb38b-0139-6585-793f-ea28a5c99d08?snapshot=2019-07-17T02:09:57.9106795Z",
        "x-ms-copy-status": "pending",
        "x-ms-creation-time": "Wed, 17 Jul 2019 02:09:57 GMT",
        "x-ms-incremental-copy": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-d56484bc-6216-f21a-fd34-50c6716f4ec2/test-blob-61a5ef76-7909-03df-657d-0c182ea36dde",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:09:58 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D70A5BDE08FD56\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:09:57 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-copy-completion-time": "Wed, 17 Jul 2019 02:09:57 GMT",
        "x-ms-copy-destination-snapshot": "2019-07-17T02:09:57.9727386Z",
        "x-ms-copy-id": "b4a09297-e742-41ae-a474-4cfcdef0683b",
        "x-ms-copy-progress": "4096/4096",
        "x-ms-copy-source": "https://storageteglazatesting.blob.core.windows.net/test-container-d56484bc-6216-f21a-fd34-50c6716f4ec2/test-blob-3ddeb38b-0139-6585-793f-ea28a5c99d08?snapshot=2019-07-17T02:09:57.9106795Z",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 17 Jul 2019 02:09:57 GMT",
        "x-ms-incremental-copy": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-d56484bc-6216-f21a-fd34-50c6716f4ec2/test-blob-61a5ef76-7909-03df-657d-0c182ea36dde?comp=incrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 18 Jul 2019 02:09:57 GMT",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-d56484bc-6216-f21a-fd34-50c6716f4ec2/test-blob-3ddeb38b-0139-6585-793f-ea28a5c99d08?snapshot=2019-07-17T02:09:58.9877125Z",
        "x-ms-date": "Wed, 17 Jul 2019 02:09:59 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:53d55afa-d01e-008b-6844-3c4963000000\n",
        "Time:2019-07-17T02:09:59.0098078Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-ff0da1d8-6282-b3a6-aee1-c1ee58d3addc/test-blob-384e5513-c9c8-bd2b-56c5-802f98a904ae?comp=incrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Tue, 16 Jul 2019 02:09:57 GMT",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-ff0da1d8-6282-b3a6-aee1-c1ee58d3addc/test-blob-42afd356-74b8-acc0-f334-fa2ce446b6d2?snapshot=2019-07-17T02:10:00.1738501Z",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:00 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:53d55e16-d01e-008b-3844-3c4963000000\n",
        "Time:2019-07-17T02:10:00.1959434Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-9a309906-aa98-f7bd-c146-a534710cbd02/test-blob-fc35dfe9-9384-12e9-2125-6c136e9d07bd?comp=incrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-9a309906-aa98-f7bd-c146-a534710cbd02/test-blob-dcc68788-c020-d728-2e04-21693f7e1b99?snapshot=2019-07-17T02:10:01.3419644Z",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:01 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "TargetConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eTargetConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe target condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:53d5612c-d01e-008b-5c44-3c4963000000\n",
        "Time:2019-07-17T02:10:01.4231184Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-617cba5c-22b5-8e0e-c7b3-e916920dc226/test-blob-68c52ad6-d70f-40f0-2318-3a7900190b37?comp=incrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u00220x8D70A5BE02CFFDA\u0022",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-617cba5c-22b5-8e0e-c7b3-e916920dc226/test-blob-e984f046-de82-211f-b46b-89288e395b5d?snapshot=2019-07-17T02:10:02.5881592Z",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:02 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:53d5641d-d01e-008b-7144-3c4963000000\n",
        "Time:2019-07-17T02:10:02.7293624Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-3dc4b5f1-d1a1-d14f-18bf-ef91f0f7f33b/test-blob-8eff2e1e-9cce-c57e-f078-69257396cfe5?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:03 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "46052d5c-8ba2-7b53-bd34-69ea48f4f3bc",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5BE0FB30DF\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:10:02 GMT",
        "x-ms-lease-id": "46052d5c-8ba2-7b53-bd34-69ea48f4f3bc",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-3dc4b5f1-d1a1-d14f-18bf-ef91f0f7f33b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:03 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-07-16T19:09:57.8506659-07:00",
    "RandomSeed": "1918469681",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}