{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-441f217b-bddf-387f-394d-7612fdd4be62?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 19:01:29 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D3766F55B24C\"",
        "Last-Modified": "Wed, 17 Feb 2021 19:01:30 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-441f217b-bddf-387f-394d-7612fdd4be62?restype=container&comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 19:01:30 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D3766F605CC2\"",
        "Last-Modified": "Wed, 17 Feb 2021 19:01:30 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-441f217b-bddf-387f-394d-7612fdd4be62/test-blob-5a1e1b22-0ffd-f8d7-a6fb-6607a10dfe01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 17 Feb 2021 19:01:30 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D3766F6B4AE4\"",
        "Last-Modified": "Wed, 17 Feb 2021 19:01:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-02-17T19:01:30.1829348Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-441f217b-bddf-387f-394d-7612fdd4be62/test-blob-5a1e1b22-0ffd-f8d7-a6fb-6607a10dfe01?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 17 Feb 2021 19:01:30 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "UXSScCfuQ0l2PFekeG857zHepVVnxKP7bt2pPlyBhI98MofrwXlVimfieQhFyj/NEFLj75R7143QlwFKRQTs9LjIKEXnTi24iRvuhUqataSd2y0KnpT7AVv6Gil3C0Ri9YVQfaL55sIkKmZ5jFJDNeJdrGnW4lUjzSfq7DMDQH7WjI/FSjcBpPRr5XMugXQIt+VHGl7ajBMvLLB7DvmOIOroogDDfeqqWwd1a/zh9Uuy4jVOvCUf+wB8lh6HhpX73cWJRt90RTn6nb9XZSAWTTZlyCzDP2TFyab/RufMI9RyeY43WK9sPpz7VB9mx5bfZknnIb1oN51gxH04dP5SLXnq5euS3vSH+YqPx+pFXgEQIOCe5QEWCULw15QxM8meqSele+KqTIdUXygz2W+yG2V7KFMdtEd[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-441f217b-bddf-387f-394d-7612fdd4be62/test-blob-5a1e1b22-0ffd-f8d7-a6fb-6607a10dfe01?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 19:01:30 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D3766F75FB44\"",
        "Last-Modified": "Wed, 17 Feb 2021 19:01:30 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2021-02-17T19:01:30.3230339Z",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-02-17T19:01:30.3240339Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-441f217b-bddf-387f-394d-7612fdd4be62/test-blob-b43db503-e115-086c-a2b5-450076bcf460?comp=incrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-441f217b-bddf-387f-394d-7612fdd4be62/test-blob-5a1e1b22-0ffd-f8d7-a6fb-6607a10dfe01?snapshot=2021-02-17T19:01:30.3230339Z",
        "x-ms-date": "Wed, 17 Feb 2021 19:01:30 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D3766F8D30FF\"",
        "Last-Modified": "Wed, 17 Feb 2021 19:01:30 GMT",
        "x-ms-copy-id": "74aea74a-5a2e-47c1-88f3-3776e85dab4c",
        "x-ms-copy-status": "pending",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-02-17T19:01:30.4050943Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-441f217b-bddf-387f-394d-7612fdd4be62/test-blob-b43db503-e115-086c-a2b5-450076bcf460?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Wed, 17 Feb 2021 19:01:35 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "﻿<Tags><TagSet><Tag><Key>coolTag</Key><Value>true</Value></Tag></TagSet></Tags>",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-441f217b-bddf-387f-394d-7612fdd4be62/test-blob-b43db503-e115-086c-a2b5-450076bcf460?comp=incrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-441f217b-bddf-387f-394d-7612fdd4be62/test-blob-5a1e1b22-0ffd-f8d7-a6fb-6607a10dfe01?snapshot=2021-02-17T19:01:35.6298347Z",
        "x-ms-date": "Wed, 17 Feb 2021 19:01:35 GMT",
        "x-ms-if-tags": "\"coolTag\" = 'true'",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D37672B56AF9\"",
        "Last-Modified": "Wed, 17 Feb 2021 19:01:35 GMT",
        "x-ms-copy-id": "88edf0e6-c46a-4b18-8a0a-631aa43013e5",
        "x-ms-copy-status": "pending",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-441f217b-bddf-387f-394d-7612fdd4be62?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 19:01:35 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "861175710",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}