{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-a0523529-9d34-3542-ac1a-584581221835?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:59 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6F0AC45CA3\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:56:59 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-a0523529-9d34-3542-ac1a-584581221835?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:59 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "\u003cSignedIdentifiers /\u003e",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6F0AC657BE\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:56:59 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-a0523529-9d34-3542-ac1a-584581221835/test-blob-575fa2d4-5048-6d84-eef5-afdd69f3deb1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:59 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6F0AC87C72\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:56:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-a0523529-9d34-3542-ac1a-584581221835/test-blob-575fa2d4-5048-6d84-eef5-afdd69f3deb1?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:59 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "vyOhAxqBFDciu7eFaaUx7ln7ZaTKVosYE3zcjtKprPGuO97hG7xDXsggnu7nZjUNoDAP75FbLmiYifCdpIZkeA7F1i7GUNKduAfcqricMKxGzu6imb1fUw12SZLLpblCuybgIpAHRlBecjaKf4Ow\u002b1lEVtWXwt9RZYIhUAdA0RJNme\u002bRvA4cP4eeRCeG1dSJxk05h07jqvhGjrwN5vZJHqAjPOWUHj9LKBdO\u002bX64ypCul4q5BknDau72Sy1SDliRVSWGYpnu9acO7l83lbF5jsMrX05rjxdXYNL2ndMR\u002bBq\u002bvKRYMWj3v6LiqxjqjNQ9fLxpJq4KJcUOLwLG\u002bFfU/PVFedgNIVxbNJ\u002bsieT\u002bbNT9uCEXp9Jr[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-a0523529-9d34-3542-ac1a-584581221835/test-blob-575fa2d4-5048-6d84-eef5-afdd69f3deb1?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:59 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6F0ACA9FCF\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:56:59 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2019-07-01T21:56:59.5500289Z",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-a0523529-9d34-3542-ac1a-584581221835/test-blob-218fbed8-812d-440d-286b-86c43f69c837?comp=incrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-a0523529-9d34-3542-ac1a-584581221835/test-blob-575fa2d4-5048-6d84-eef5-afdd69f3deb1?snapshot=2019-07-01T21:56:59.5500289Z",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:59 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6F0ACF34D1\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:56:59 GMT",
        "x-ms-copy-id": "8637738a-5e79-4211-9974-0c5e87f71ba8",
        "x-ms-copy-status": "pending",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-a0523529-9d34-3542-ac1a-584581221835/test-blob-218fbed8-812d-440d-286b-86c43f69c837",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:59 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D6FE6F0ACF34D1\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:56:59 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-copy-id": "8637738a-5e79-4211-9974-0c5e87f71ba8",
        "x-ms-copy-progress": "0/4096",
        "x-ms-copy-source": "https://storageteglazatesting.blob.core.windows.net/test-container-a0523529-9d34-3542-ac1a-584581221835/test-blob-575fa2d4-5048-6d84-eef5-afdd69f3deb1?snapshot=2019-07-01T21:56:59.5500289Z",
        "x-ms-copy-status": "pending",
        "x-ms-creation-time": "Mon, 01 Jul 2019 21:56:59 GMT",
        "x-ms-incremental-copy": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-a0523529-9d34-3542-ac1a-584581221835/test-blob-218fbed8-812d-440d-286b-86c43f69c837",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:59 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D6FE6F0AD37B98\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:56:59 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-copy-completion-time": "Mon, 01 Jul 2019 21:56:59 GMT",
        "x-ms-copy-destination-snapshot": "2019-07-01T21:56:59.6040808Z",
        "x-ms-copy-id": "8637738a-5e79-4211-9974-0c5e87f71ba8",
        "x-ms-copy-progress": "4096/4096",
        "x-ms-copy-source": "https://storageteglazatesting.blob.core.windows.net/test-container-a0523529-9d34-3542-ac1a-584581221835/test-blob-575fa2d4-5048-6d84-eef5-afdd69f3deb1?snapshot=2019-07-01T21:56:59.5500289Z",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Mon, 01 Jul 2019 21:56:59 GMT",
        "x-ms-incremental-copy": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-c7070a08-23f3-f2b7-8087-b7642e5f58f8/test-blob-34dadf16-bc24-4566-5dba-155f5e26f9f3?comp=incrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Sun, 30 Jun 2019 21:56:59 GMT",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-c7070a08-23f3-f2b7-8087-b7642e5f58f8/test-blob-af7599ea-f2e9-4489-9a69-e2945ad7b0e9?snapshot=2019-07-01T21:57:00.5669973Z",
        "x-ms-date": "Mon, 01 Jul 2019 21:57:00 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6F0B6AFE8B\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:57:00 GMT",
        "x-ms-copy-id": "4c2034f1-5e06-45c2-8721-693286f6b174",
        "x-ms-copy-status": "pending",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6e2d5475-1497-5895-f609-bcd589a0b2fa/test-blob-8bdfc26d-623b-4076-19ba-f1c2bef23633?comp=incrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Tue, 02 Jul 2019 21:56:59 GMT",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-6e2d5475-1497-5895-f609-bcd589a0b2fa/test-blob-1afaec33-0245-6ac9-ec39-cfca3068cf22?snapshot=2019-07-01T21:57:01.1205244Z",
        "x-ms-date": "Mon, 01 Jul 2019 21:57:01 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6F0BBF9BCC\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:57:01 GMT",
        "x-ms-copy-id": "9856bb17-2b8f-4975-875c-368e7bfe649e",
        "x-ms-copy-status": "pending",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-fd692009-9634-1c7f-e4ba-0fccfbbf1e41/test-blob-8aa7f243-2d9c-3a6e-ba60-c0dea20f64c5?comp=incrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D6FE6F0BD4FDC7\u0022",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-fd692009-9634-1c7f-e4ba-0fccfbbf1e41/test-blob-a976192a-a987-e05b-b2ca-404f3061e8cb?snapshot=2019-07-01T21:57:01.7070834Z",
        "x-ms-date": "Mon, 01 Jul 2019 21:57:01 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6F0C18A6F1\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:57:01 GMT",
        "x-ms-copy-id": "f40ef96d-df73-452a-be20-705776723854",
        "x-ms-copy-status": "pending",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-761b9968-1ec2-3b64-e629-4ff0f4ef759c/test-blob-ad649ed4-14bd-5ef5-728f-0161c56340fa?comp=incrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-761b9968-1ec2-3b64-e629-4ff0f4ef759c/test-blob-25179c2b-0b29-604f-630c-24cc92196a52?snapshot=2019-07-01T21:57:02.2976458Z",
        "x-ms-date": "Mon, 01 Jul 2019 21:57:02 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6F0C72EAE2\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:57:02 GMT",
        "x-ms-copy-id": "a95cdf56-ca91-4047-bc58-f8fe057030d3",
        "x-ms-copy-status": "pending",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-237f8238-b318-1318-a2d9-3cd147211615?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:57:02 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-07-01T14:56:59.4959275-07:00",
    "RandomSeed": "41981649"
  }
}