{
  "Entries": [
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-d56484bc-6216-f21a-fd34-50c6716f4ec2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 25 Apr 2020 01:15:15 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B61C9E9189\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:15:15 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-d56484bc-6216-f21a-fd34-50c6716f4ec2?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 25 Apr 2020 01:15:15 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "\u003CSignedIdentifiers /\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B61CAA4214\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:15:15 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-d56484bc-6216-f21a-fd34-50c6716f4ec2/test-blob-24c04483-c628-b5c9-acc8-20944f1c0a64",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Sat, 25 Apr 2020 01:15:15 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B61CB65F9D\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:15:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-d56484bc-6216-f21a-fd34-50c6716f4ec2/test-blob-24c04483-c628-b5c9-acc8-20944f1c0a64?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:15:16 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "dtaRU9iuTOVYDCFzWRl1RSa6nhjPwoq1LIW9VU6O8TTmot2MEHKQdp8OMpIQON2LTVnYGCek6LNM2yZS8faWyhrtjbc86TWzKSh4wY/4pPSoMQf0tdgMQbkpPzRLPoWpd2h3I6omTmQkJO7/LCYkVDcyqr/voRRB4Uv9E6kAaOujzkongIFJguOjz5DqDBWTBev9GZPFutZTNUJfKDq6JLwDW13b/NO16CjbS9GDV9Q2aQ6\u002BAk9X3RR000o/6lmo6KvU5rG4twgXRzBr6W4Ez95tKb8s/CFsq35IZymJdv7PM2Mmr3AjfbIFp7oe6/OmbwNs0cCae\u002ByJaDozb1DfjdEynLYL3iBtSqsNJ1RmTcCKovclHaQ9Nbd2nEc17w5iJhnp7E89m5Hj/oYVjV[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-d56484bc-6216-f21a-fd34-50c6716f4ec2/test-blob-24c04483-c628-b5c9-acc8-20944f1c0a64?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:15:16 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B61CC2E101\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:15:16 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2020-04-25T01:15:16.1249622Z",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-d56484bc-6216-f21a-fd34-50c6716f4ec2/test-blob-1e55d077-a336-a8a6-a197-b59296d66420?comp=incrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://amandacanary.blob.core.windows.net/test-container-d56484bc-6216-f21a-fd34-50c6716f4ec2/test-blob-24c04483-c628-b5c9-acc8-20944f1c0a64?snapshot=2020-04-25T01:15:16.1249622Z",
        "x-ms-date": "Sat, 25 Apr 2020 01:15:16 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B61CDCF50A\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:15:16 GMT",
        "x-ms-copy-id": "6e28980b-9fba-443e-9296-d38f5c98030f",
        "x-ms-copy-status": "pending",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-d56484bc-6216-f21a-fd34-50c6716f4ec2/test-blob-1e55d077-a336-a8a6-a197-b59296d66420",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:15:16 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7E8B61CDF65B3\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:15:16 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-copy-completion-time": "Sat, 25 Apr 2020 01:15:16 GMT",
        "x-ms-copy-destination-snapshot": "2020-04-25T01:15:16.2359019Z",
        "x-ms-copy-id": "6e28980b-9fba-443e-9296-d38f5c98030f",
        "x-ms-copy-progress": "4096/4096",
        "x-ms-copy-source": "https://amandacanary.blob.core.windows.net/test-container-d56484bc-6216-f21a-fd34-50c6716f4ec2/test-blob-24c04483-c628-b5c9-acc8-20944f1c0a64?snapshot=2020-04-25T01:15:16.1249622Z",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Sat, 25 Apr 2020 01:15:16 GMT",
        "x-ms-incremental-copy": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-d56484bc-6216-f21a-fd34-50c6716f4ec2/test-blob-1e55d077-a336-a8a6-a197-b59296d66420?comp=incrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Sun, 26 Apr 2020 01:15:15 GMT",
        "x-ms-copy-source": "http://amandacanary.blob.core.windows.net/test-container-d56484bc-6216-f21a-fd34-50c6716f4ec2/test-blob-24c04483-c628-b5c9-acc8-20944f1c0a64?snapshot=2020-04-25T01:15:16.3798229Z",
        "x-ms-date": "Sat, 25 Apr 2020 01:15:16 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:7273bf5d-501e-003c-359e-1a0c6e000000\n",
        "Time:2020-04-25T01:15:16.4776565Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-7d2d9756-8561-4db9-04bc-2b0d6f816154/test-blob-7d0df7b6-b0cf-4336-0d97-c50478913794?comp=incrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 24 Apr 2020 01:15:15 GMT",
        "x-ms-copy-source": "http://amandacanary.blob.core.windows.net/test-container-7d2d9756-8561-4db9-04bc-2b0d6f816154/test-blob-9a309906-aa98-f7bd-c146-a534710cbd02?snapshot=2020-04-25T01:15:17.2133681Z",
        "x-ms-date": "Sat, 25 Apr 2020 01:15:17 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:7273bfbf-501e-003c-109e-1a0c6e000000\n",
        "Time:2020-04-25T01:15:17.3131765Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-61b8c95d-d7e7-7c97-eaf7-a802fe8a1936/test-blob-24f7ef02-be6b-3d32-1d2c-a797be9ba679?comp=incrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-copy-source": "http://amandacanary.blob.core.windows.net/test-container-61b8c95d-d7e7-7c97-eaf7-a802fe8a1936/test-blob-9c3ede9f-11b8-96a6-3c68-7376ca8d6439?snapshot=2020-04-25T01:15:18.0489124Z",
        "x-ms-date": "Sat, 25 Apr 2020 01:15:18 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "TargetConditionNotMet",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ETargetConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe target condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:7273c010-501e-003c-589e-1a0c6e000000\n",
        "Time:2020-04-25T01:15:18.1357023Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-d05b11d7-f272-2689-e737-2be4bab7548b/test-blob-26747dee-3a31-fbca-caa8-3a4eddd841b1?comp=incrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u00220x8D7E8B61E5F406A\u0022",
        "x-ms-copy-source": "http://amandacanary.blob.core.windows.net/test-container-d05b11d7-f272-2689-e737-2be4bab7548b/test-blob-4d501ace-86e7-ea55-70d5-839e5fe4bd59?snapshot=2020-04-25T01:15:18.9704097Z",
        "x-ms-date": "Sat, 25 Apr 2020 01:15:19 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:7273c06f-501e-003c-309e-1a0c6e000000\n",
        "Time:2020-04-25T01:15:19.0671673Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-9b0e55e4-45dc-b68a-570b-78d2ca954392/test-blob-d8e6fc77-0841-b014-3059-61779c63159b?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:15:19 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "12d9cf28-e543-de07-b807-5d3d0e0952b2",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B61EEB4035\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:15:19 GMT",
        "x-ms-lease-id": "12d9cf28-e543-de07-b807-5d3d0e0952b2",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-9b0e55e4-45dc-b68a-570b-78d2ca954392?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:15:20 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-24T18:15:15.7609079-07:00",
    "RandomSeed": "1918469681",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttp://amandacanary.blob.core.windows.net\nhttp://amandacanary.file.core.windows.net\nhttp://amandacanary.queue.core.windows.net\nhttp://amandacanary.table.core.windows.net\n\n\n\n\nhttp://amandacanary-secondary.blob.core.windows.net\nhttp://amandacanary-secondary.file.core.windows.net\nhttp://amandacanary-secondary.queue.core.windows.net\nhttp://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandacanary.blob.core.windows.net/;QueueEndpoint=http://amandacanary.queue.core.windows.net/;FileEndpoint=http://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Sanitized\n\nDefaultEndpointsProtocol=https;AccountName=ortestsaccountcbn1;AccountKey=OrRfzSm3ktQSklAGiL90/QusS7SdS6Y5S/AJoxZEeyKYDtnue7OKYIMLOraTnT4xcOyhYbqzWVmtTKappcc5Fg==;EndpointSuffix=core.windows.net\nDefaultEndpointsProtocol=https;AccountName=vbalaorcentral1;AccountKey=vlHMz/LZ3Sx7r/1bdTQT26pG0tqORQ4uTIcxGhHB0LQhIhqGxfv2TXV7u\u002BI2ra4UWXrWGGHG2N6l\u002BBfb5FgAcQ==;EndpointSuffix=core.windows.net"
  }
}