{
  "Entries": [
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-dd0552b0-9d73-bdc4-6335-96d93b0ff1d8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 28 Jul 2020 16:45:50 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83315B008700F\u0022",
        "Last-Modified": "Tue, 28 Jul 2020 16:45:51 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-dd0552b0-9d73-bdc4-6335-96d93b0ff1d8?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 28 Jul 2020 16:45:50 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "\u003CSignedIdentifiers /\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83315B0131655\u0022",
        "Last-Modified": "Tue, 28 Jul 2020 16:45:51 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-dd0552b0-9d73-bdc4-6335-96d93b0ff1d8/test-blob-b0a01044-1810-e8f2-5242-c5cae37e29e1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 28 Jul 2020 16:45:50 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83315B01BE8A8\u0022",
        "Last-Modified": "Tue, 28 Jul 2020 16:45:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-07-28T16:45:51.4874024Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-dd0552b0-9d73-bdc4-6335-96d93b0ff1d8/test-blob-b0a01044-1810-e8f2-5242-c5cae37e29e1?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 Jul 2020 16:45:50 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "PPvU4e0Ah7Fy2dxNAgaSTUOI/jx6ROvqiF/CwXbptbT8nrMGEJjwHthxkNtEizVNWkKYQkF51vcP6VmNPcY6iCMnUGRTjDyql99kCLMQpvwqdWczUXNzgse89ic/YuERNgi3HDvR\u002Bs0G7aphFc5D/0JdY8deBzaws86clpUVazX\u002BUtKrWYnBWXqZLWTJEWz5ePbk4v4Zsy/RB2lsNGM38YF0Y8P7l6a5mwlNxNnS5qJhoh6eMIk25J6i2lIgVCQWYTziVK6o/eBQK0b0zO5V/iDGCpJFmcD4PX4lWL1TmEblNmOd75HzuaQ9TgVCQRiwTdsxWUqS0ch76hYwg6Qj/JP/D5WLuA\u002BO01HtCEq6tfxldQvhIj78UmWaIQV6wzX/GVFyQzKDJJXMoob4[...]
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-dd0552b0-9d73-bdc4-6335-96d93b0ff1d8/test-blob-b0a01044-1810-e8f2-5242-c5cae37e29e1?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 Jul 2020 16:45:50 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83315B02623C9\u0022",
        "Last-Modified": "Tue, 28 Jul 2020 16:45:51 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2020-07-28T16:45:51.6194958Z",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-07-28T16:45:51.6204958Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-dd0552b0-9d73-bdc4-6335-96d93b0ff1d8/test-blob-4063c7de-0067-aeac-656b-1da5398f00d9?comp=incrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmccprodca.blob.core.windows.net/test-container-dd0552b0-9d73-bdc4-6335-96d93b0ff1d8/test-blob-b0a01044-1810-e8f2-5242-c5cae37e29e1?snapshot=2020-07-28T16:45:51.6194958Z",
        "x-ms-date": "Tue, 28 Jul 2020 16:45:50 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83315B040DC8A\u0022",
        "Last-Modified": "Tue, 28 Jul 2020 16:45:51 GMT",
        "x-ms-copy-id": "201c280c-3648-48e0-84dc-d850bbca4640",
        "x-ms-copy-status": "pending",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-07-28T16:45:51.7295754Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-dd0552b0-9d73-bdc4-6335-96d93b0ff1d8/test-blob-4063c7de-0067-aeac-656b-1da5398f00d9?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Tue, 28 Jul 2020 16:45:55 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EcoolTag\u003C/Key\u003E\u003CValue\u003Etrue\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-dd0552b0-9d73-bdc4-6335-96d93b0ff1d8/test-blob-4063c7de-0067-aeac-656b-1da5398f00d9?comp=incrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmccprodca.blob.core.windows.net/test-container-dd0552b0-9d73-bdc4-6335-96d93b0ff1d8/test-blob-b0a01044-1810-e8f2-5242-c5cae37e29e1?snapshot=2020-07-28T16:45:56.9162677Z",
        "x-ms-date": "Tue, 28 Jul 2020 16:45:56 GMT",
        "x-ms-if-tags": "\u0022coolTag\u0022 = \u0027true\u0027",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83315B363212A\u0022",
        "Last-Modified": "Tue, 28 Jul 2020 16:45:56 GMT",
        "x-ms-copy-id": "987f3f6a-ad66-49bb-8572-b79203960021",
        "x-ms-copy-status": "pending",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-dd0552b0-9d73-bdc4-6335-96d93b0ff1d8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 Jul 2020 16:45:56 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1443424375",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmccprodca\nU2FuaXRpemVk\nhttps://seanmccprodca.blob.core.windows.net\nhttps://seanmccprodca.file.core.windows.net\nhttps://seanmccprodca.queue.core.windows.net\nhttps://seanmccprodca.table.core.windows.net\n\n\n\n\nhttps://seanmccprodca-secondary.blob.core.windows.net\nhttps://seanmccprodca-secondary.file.core.windows.net\nhttps://seanmccprodca-secondary.queue.core.windows.net\nhttps://seanmccprodca-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmccprodca.blob.core.windows.net/;QueueEndpoint=https://seanmccprodca.queue.core.windows.net/;FileEndpoint=https://seanmccprodca.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmccprodca-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmccprodca-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmccprodca-secondary.file.core.windows.net/;AccountName=seanmccprodca;AccountKey=Kg==;\nseanscope1"
  }
}