{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-5902f3c9-cdf3-bade-f6c0-b7e97f326cf7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2019 14:25:07 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FEF91546E661\u0022",
        "Last-Modified": "Tue, 02 Jul 2019 14:25:07 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-5902f3c9-cdf3-bade-f6c0-b7e97f326cf7?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2019 14:25:07 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "\u003cSignedIdentifiers /\u003e",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FEF91551E5C7\u0022",
        "Last-Modified": "Tue, 02 Jul 2019 14:25:07 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-5902f3c9-cdf3-bade-f6c0-b7e97f326cf7/test-blob-062df12e-27d7-e99f-fd80-0a7c248740a0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 02 Jul 2019 14:25:07 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FEF91564887A\u0022",
        "Last-Modified": "Tue, 02 Jul 2019 14:25:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-5902f3c9-cdf3-bade-f6c0-b7e97f326cf7/test-blob-062df12e-27d7-e99f-fd80-0a7c248740a0?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2019 14:25:07 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "pENh\u002bPLFtObK7Rh2a61k4iyxQqx6zd8L3ld5ERaRjEP3aowSspwS4B7R1SpiCyg2welr1brYfNdjVhmbTKLPOWDVfwAgUTCPn2KNqfi0qNMvQk8sJbeIH\u002b61r1yDd5N7AZvJjYwnFnC53DZYStPerq1GbApTohOpTF8Sa6LTDCfOEqhc6hpGByzec0mAMNQa1gCuPAuJKF6HIEEsFarO5c8PiTgqgsSS/2TedC/KKRuL95ShJc8bRelJ1MrZGvGBEI16cKec8FQ8HD2mqrMvvfYloR4VLMD/80NO4a35ueVzXWShULhz7gdAZQiSdJs1GhfTs3jTa\u002bPMenxkTQ6nQmNYM01PjWw\u002bsrIW1ce3bH6nGceWJQVsoPGA1NU7DqD4mSKlOkFO[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-5902f3c9-cdf3-bade-f6c0-b7e97f326cf7/test-blob-062df12e-27d7-e99f-fd80-0a7c248740a0?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2019 14:25:07 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FEF9156F87B1\u0022",
        "Last-Modified": "Tue, 02 Jul 2019 14:25:07 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2019-07-02T14:25:07.9826813Z",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-5902f3c9-cdf3-bade-f6c0-b7e97f326cf7/test-blob-258056c3-6755-2e6a-ec91-e5aacb78fa65?comp=incrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-5902f3c9-cdf3-bade-f6c0-b7e97f326cf7/test-blob-062df12e-27d7-e99f-fd80-0a7c248740a0?snapshot=2019-07-02T14:25:07.9826813Z",
        "x-ms-date": "Tue, 02 Jul 2019 14:25:07 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FEF915873430\u0022",
        "Last-Modified": "Tue, 02 Jul 2019 14:25:08 GMT",
        "x-ms-copy-id": "a2a59f4c-9ccb-4203-acb4-d3591b655246",
        "x-ms-copy-status": "pending",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-5902f3c9-cdf3-bade-f6c0-b7e97f326cf7/test-blob-258056c3-6755-2e6a-ec91-e5aacb78fa65",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2019 14:25:08 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D6FEF915873430\u0022",
        "Last-Modified": "Tue, 02 Jul 2019 14:25:08 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-copy-id": "a2a59f4c-9ccb-4203-acb4-d3591b655246",
        "x-ms-copy-progress": "0/4096",
        "x-ms-copy-source": "https://storageteglazatesting.blob.core.windows.net/test-container-5902f3c9-cdf3-bade-f6c0-b7e97f326cf7/test-blob-062df12e-27d7-e99f-fd80-0a7c248740a0?snapshot=2019-07-02T14:25:07.9826813Z",
        "x-ms-copy-status": "pending",
        "x-ms-creation-time": "Tue, 02 Jul 2019 14:25:08 GMT",
        "x-ms-incremental-copy": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-5902f3c9-cdf3-bade-f6c0-b7e97f326cf7/test-blob-258056c3-6755-2e6a-ec91-e5aacb78fa65",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2019 14:25:09 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D6FEF9159604DF\u0022",
        "Last-Modified": "Tue, 02 Jul 2019 14:25:08 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-copy-completion-time": "Tue, 02 Jul 2019 14:25:08 GMT",
        "x-ms-copy-destination-snapshot": "2019-07-02T14:25:08.2058953Z",
        "x-ms-copy-id": "a2a59f4c-9ccb-4203-acb4-d3591b655246",
        "x-ms-copy-progress": "4096/4096",
        "x-ms-copy-source": "https://storageteglazatesting.blob.core.windows.net/test-container-5902f3c9-cdf3-bade-f6c0-b7e97f326cf7/test-blob-062df12e-27d7-e99f-fd80-0a7c248740a0?snapshot=2019-07-02T14:25:07.9826813Z",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Tue, 02 Jul 2019 14:25:08 GMT",
        "x-ms-incremental-copy": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-5902f3c9-cdf3-bade-f6c0-b7e97f326cf7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2019 14:25:09 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1530636533"
  }
}