{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-01ce237a-e487-2e7e-35b2-0cedf405f13d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:58 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6F0A5F8EB0\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:56:58 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-01ce237a-e487-2e7e-35b2-0cedf405f13d?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:58 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "\u003cSignedIdentifiers /\u003e",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6F0A61B107\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:56:58 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-01ce237a-e487-2e7e-35b2-0cedf405f13d/test-blob-f46d5ca2-f074-6837-d919-ac47282b6c04",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:58 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6F0A65359A\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:56:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-01ce237a-e487-2e7e-35b2-0cedf405f13d/test-blob-f46d5ca2-f074-6837-d919-ac47282b6c04?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:58 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "jw0xZTz5QQKj8odCb\u002btQyut2RqxxFejF69LF3O49rvt2wAPQOGFZrgaSOGLr87MZP79WtjkhQnolbHlqM2QTZUOLy67of5KJHZim39yF2fgerJ0v5/jCVX2Iq8vn73qhftMeXycFML8szJmgemOeoJKBS4bH435LyXYwX9TGoS0dBWAIZnrQGXzdAxpeIdoa6go4ZqP02ZtV05Wx1NDrZStrg3QClTkYsTIJ6d9j7KicFnXJjTuKKSzEspLkH0Ss8p3v855lF1XRILRx6u\u002b78ubtFL5bIdfv4FlIPuKmNJLtXfdCdPkKNv4g\u002bG2GGT88CcCr9gqGUdDF/xJEHNlyKusig4z4eX3t497AOilqaMcaCzQh\u002bj6HZwwmfHTmxRkkrc2CZJWy[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-01ce237a-e487-2e7e-35b2-0cedf405f13d/test-blob-f46d5ca2-f074-6837-d919-ac47282b6c04?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:58 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6F0A6731E2\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:56:58 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2019-07-01T21:56:58.8994098Z",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-01ce237a-e487-2e7e-35b2-0cedf405f13d/test-blob-042b4671-f4cc-9528-f44a-57dbc9e7e922?comp=incrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-01ce237a-e487-2e7e-35b2-0cedf405f13d/test-blob-f46d5ca2-f074-6837-d919-ac47282b6c04?snapshot=2019-07-01T21:56:58.8994098Z",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:58 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6F0A75DB79\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:56:58 GMT",
        "x-ms-copy-id": "b9cc55e1-0646-4390-bab5-4bb9154f2ddc",
        "x-ms-copy-status": "pending",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-01ce237a-e487-2e7e-35b2-0cedf405f13d/test-blob-042b4671-f4cc-9528-f44a-57dbc9e7e922",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:58 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D6FE6F0A75DB79\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:56:58 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-copy-id": "b9cc55e1-0646-4390-bab5-4bb9154f2ddc",
        "x-ms-copy-progress": "0/4096",
        "x-ms-copy-source": "https://storageteglazatesting.blob.core.windows.net/test-container-01ce237a-e487-2e7e-35b2-0cedf405f13d/test-blob-f46d5ca2-f074-6837-d919-ac47282b6c04?snapshot=2019-07-01T21:56:58.8994098Z",
        "x-ms-copy-status": "pending",
        "x-ms-creation-time": "Mon, 01 Jul 2019 21:56:58 GMT",
        "x-ms-incremental-copy": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-01ce237a-e487-2e7e-35b2-0cedf405f13d/test-blob-042b4671-f4cc-9528-f44a-57dbc9e7e922",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:59 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D6FE6F0A7B0CD9\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:56:59 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-copy-completion-time": "Mon, 01 Jul 2019 21:56:59 GMT",
        "x-ms-copy-destination-snapshot": "2019-07-01T21:56:59.0245289Z",
        "x-ms-copy-id": "b9cc55e1-0646-4390-bab5-4bb9154f2ddc",
        "x-ms-copy-progress": "4096/4096",
        "x-ms-copy-source": "https://storageteglazatesting.blob.core.windows.net/test-container-01ce237a-e487-2e7e-35b2-0cedf405f13d/test-blob-f46d5ca2-f074-6837-d919-ac47282b6c04?snapshot=2019-07-01T21:56:58.8994098Z",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Mon, 01 Jul 2019 21:56:58 GMT",
        "x-ms-incremental-copy": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-01ce237a-e487-2e7e-35b2-0cedf405f13d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:59 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-07-01T14:56:58.9954115-07:00",
    "RandomSeed": "432955033"
  }
}