{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-441f217b-bddf-387f-394d-7612fdd4be62?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:04 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB18CE6EEA\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:24:04 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-441f217b-bddf-387f-394d-7612fdd4be62?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:04 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB18D6CF75\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:24:04 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-441f217b-bddf-387f-394d-7612fdd4be62/test-blob-5a1e1b22-0ffd-f8d7-a6fb-6607a10dfe01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:04 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB18E1492D\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:24:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:24:04.9490221Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-441f217b-bddf-387f-394d-7612fdd4be62/test-blob-5a1e1b22-0ffd-f8d7-a6fb-6607a10dfe01?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:04 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "UXSScCfuQ0l2PFekeG857zHepVVnxKP7bt2pPlyBhI98MofrwXlVimfieQhFyj/NEFLj75R7143QlwFKRQTs9LjIKEXnTi24iRvuhUqataSd2y0KnpT7AVv6Gil3C0Ri9YVQfaL55sIkKmZ5jFJDNeJdrGnW4lUjzSfq7DMDQH7WjI/FSjcBpPRr5XMugXQIt\u002BVHGl7ajBMvLLB7DvmOIOroogDDfeqqWwd1a/zh9Uuy4jVOvCUf\u002BwB8lh6HhpX73cWJRt90RTn6nb9XZSAWTTZlyCzDP2TFyab/RufMI9RyeY43WK9sPpz7VB9mx5bfZknnIb1oN51gxH04dP5SLXnq5euS3vSH\u002BYqPx\u002BpFXgEQIOCe5QEWCULw15QxM8meqSele\u002B[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-441f217b-bddf-387f-394d-7612fdd4be62/test-blob-5a1e1b22-0ffd-f8d7-a6fb-6607a10dfe01?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:04 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB18EB360A\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:24:05 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2021-02-17T02:24:05.0721080Z",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:24:05.0731080Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-441f217b-bddf-387f-394d-7612fdd4be62/test-blob-b43db503-e115-086c-a2b5-450076bcf460?comp=incrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-441f217b-bddf-387f-394d-7612fdd4be62/test-blob-5a1e1b22-0ffd-f8d7-a6fb-6607a10dfe01?snapshot=2021-02-17T02:24:05.0721080Z",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:04 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB1903F2AF\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:24:05 GMT",
        "x-ms-copy-id": "212eb86e-4c51-4cde-b764-58bb1a0d88e7",
        "x-ms-copy-status": "pending",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:24:05.1761839Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-441f217b-bddf-387f-394d-7612fdd4be62/test-blob-b43db503-e115-086c-a2b5-450076bcf460?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:10 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "\uFEFF\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EcoolTag\u003C/Key\u003E\u003CValue\u003Etrue\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-441f217b-bddf-387f-394d-7612fdd4be62/test-blob-b43db503-e115-086c-a2b5-450076bcf460?comp=incrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-441f217b-bddf-387f-394d-7612fdd4be62/test-blob-5a1e1b22-0ffd-f8d7-a6fb-6607a10dfe01?snapshot=2021-02-17T02:24:10.3628713Z",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:10 GMT",
        "x-ms-if-tags": "\u0022coolTag\u0022 = \u0027true\u0027",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB1C252588\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:24:10 GMT",
        "x-ms-copy-id": "c3f98234-882b-4818-a75b-9892c7a0261b",
        "x-ms-copy-status": "pending",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-441f217b-bddf-387f-394d-7612fdd4be62?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:10 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "861175710",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}