{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-ace65a13-cb85-daed-e790-a4c057243cd3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 12 Jul 2019 17:55:53 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F22EE35193\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:55:53 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-ace65a13-cb85-daed-e790-a4c057243cd3/test-blob-d2b1b6a2-7a00-a2d8-bb5e-6e0840810bee",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:55:53 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F22EE69657\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:55:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-ace65a13-cb85-daed-e790-a4c057243cd3/test-blob-d2b1b6a2-7a00-a2d8-bb5e-6e0840810bee?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-sequence-number": "5",
        "x-ms-date": "Fri, 12 Jul 2019 17:55:53 GMT",
        "x-ms-sequence-number-action": "update",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F22EEC6425\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:55:53 GMT",
        "x-ms-blob-sequence-number": "5",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-ace65a13-cb85-daed-e790-a4c057243cd3/test-blob-d2b1b6a2-7a00-a2d8-bb5e-6e0840810bee",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:55:53 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D706F22EEC6425\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:55:53 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "5",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 12 Jul 2019 17:55:53 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-ace65a13-cb85-daed-e790-a4c057243cd3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:55:53 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2134716176",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}