{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-2424b1be-9a83-0599-bffb-53e5500fc038?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 04:37:03 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DF3C4ED9E75\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:37:03 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-2424b1be-9a83-0599-bffb-53e5500fc038/test-blob-08e468e9-b2bd-7152-bfec-f0e14696a4bc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 11 Dec 2019 04:37:03 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DF3C4FA304F\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:37:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-2424b1be-9a83-0599-bffb-53e5500fc038/test-blob-08e468e9-b2bd-7152-bfec-f0e14696a4bc?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-sequence-number": "5",
        "x-ms-date": "Wed, 11 Dec 2019 04:37:03 GMT",
        "x-ms-sequence-number-action": "update",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DF3C5068C84\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:37:03 GMT",
        "x-ms-blob-sequence-number": "5",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-477b2784-c680-dad4-5bc6-cabe2810b0cb/test-blob-52e3f0d8-10d5-014b-eda1-b3820eba1d8a?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 10 Dec 2019 04:37:03 GMT",
        "x-ms-blob-sequence-number": "5",
        "x-ms-date": "Wed, 11 Dec 2019 04:37:03 GMT",
        "x-ms-sequence-number-action": "update",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DF3C537D5E1\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:37:03 GMT",
        "x-ms-blob-sequence-number": "5",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-71ef5294-f58e-58de-dcb4-00a3c725b14c/test-blob-2f85ec0f-7dcd-4939-9386-c6f4446dc2a0?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 12 Dec 2019 04:37:03 GMT",
        "x-ms-blob-sequence-number": "5",
        "x-ms-date": "Wed, 11 Dec 2019 04:37:03 GMT",
        "x-ms-sequence-number-action": "update",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DF3C56A3037\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:37:03 GMT",
        "x-ms-blob-sequence-number": "5",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-9c7881f3-3eba-532d-3755-3cef4756ff14/test-blob-5ff1f6a2-0e2d-8ae5-410f-143af464d31b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:37:04 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77DF3C58ECF4E\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:37:04 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 11 Dec 2019 04:37:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-9c7881f3-3eba-532d-3755-3cef4756ff14/test-blob-5ff1f6a2-0e2d-8ae5-410f-143af464d31b?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D77DF3C58ECF4E\u0022",
        "x-ms-blob-sequence-number": "5",
        "x-ms-date": "Wed, 11 Dec 2019 04:37:04 GMT",
        "x-ms-sequence-number-action": "update",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DF3C5A60105\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:37:04 GMT",
        "x-ms-blob-sequence-number": "5",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-895dd47b-9171-102b-2cc1-5c7df8c73a92/test-blob-3dc64cc5-9b26-6b90-4583-2422ddb69e97?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-blob-sequence-number": "5",
        "x-ms-date": "Wed, 11 Dec 2019 04:37:04 GMT",
        "x-ms-sequence-number-action": "update",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DF3C5D6AE0D\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:37:04 GMT",
        "x-ms-blob-sequence-number": "5",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-9b7802d2-de04-f005-62de-5d349f0b319b/test-blob-88008a10-87e8-ff5f-3271-839f009bf03d?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:37:04 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "20b5cb15-5852-51d7-f839-641c626a37ab",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DF3C5FB4D1A\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:37:04 GMT",
        "x-ms-lease-id": "20b5cb15-5852-51d7-f839-641c626a37ab",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-9b7802d2-de04-f005-62de-5d349f0b319b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:37:05 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-12-10T20:37:03.0490899-08:00",
    "RandomSeed": "419610398",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}