{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-d90d494a-a44a-b8bb-3e15-74442fba00dd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:25 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5BEE2EF828\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:10:25 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-d90d494a-a44a-b8bb-3e15-74442fba00dd?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:25 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "\u003cSignedIdentifiers /\u003e",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5BEE31AD0F\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:10:25 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-d90d494a-a44a-b8bb-3e15-74442fba00dd/test-blob-0a8be97b-4a75-e354-2ee4-449659d8bf3c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:25 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5BEE374C2B\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:10:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-d90d494a-a44a-b8bb-3e15-74442fba00dd/test-blob-0a8be97b-4a75-e354-2ee4-449659d8bf3c?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:25 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "iQDwlzZPuLH8vt2uy5oNKMkTe1L/wKhMhmqGlDkRBTo6sJeqJbMqeSQJQ3VIIXnm3jdxNUYPKMhXoxDLySN367midBsDYwIV6QIu9XwyBGXxoLYCn8/0KojOU4KjX68Akle8pq1e43s1W0xD4TJLJJ\u002br2ihtdEvprkmTNA\u002bAcolSLWMkdV24kr06zUSCsElVgi7i94WHkx0M0/hjy65rtOjC8bTPJq9B80drMqcHZv0APbHhnXsEyplFGKJlVMcOzhhbwL6UhVt/oQQ\u002bG2B2BGz6Y439ihdtvSYaig4M259/XWSOq6Y/a7hVYvx2xq84zxM2a/A6EUQB7gKXeftNcsVlvr7851jGu/fVpygb9vd34rr61nCuRUsfjb2kp/K8CO83EQfwPOi6cK/5[...]
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-d90d494a-a44a-b8bb-3e15-74442fba00dd/test-blob-6612914a-5edc-c6ac-9d35-72cbb054164e?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-d90d494a-a44a-b8bb-3e15-74442fba00dd/test-blob-0a8be97b-4a75-e354-2ee4-449659d8bf3c",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:25 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "SXO/16V5onFzmDvHrPr6aQ==",
        "ETag": "\u00220x8D70A5BEE62AC8E\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:10:25 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-f6aeedfc-d99f-0881-5cd6-a98190986334/test-blob-e2e6d30e-3972-5d82-bc83-5be7531ca77c?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 16 Jul 2019 02:10:25 GMT",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-f6aeedfc-d99f-0881-5cd6-a98190986334/test-blob-b5d5143a-1b07-9fda-9cb6-018e47f9a311",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:25 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "tz9VD43tCjqMBhIZ5Qn9Tw==",
        "ETag": "\u00220x8D70A5BEE7883D2\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:10:25 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-54e6538a-826e-9842-3f47-3fb6b4aff64d/test-blob-305c1964-cb01-c865-d69e-017da09c7b84?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 18 Jul 2019 02:10:25 GMT",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-54e6538a-826e-9842-3f47-3fb6b4aff64d/test-blob-04d0453e-2b63-f55f-eac4-c0c09c6f938e",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:25 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ni7kXcKbf5ftkcQe4rcjhg==",
        "ETag": "\u00220x8D70A5BEE900933\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:10:25 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-c2244107-1b3d-0a7b-049a-4bdcf8227547/test-blob-d9862395-c69c-64cd-7bf7-8362f05b2758",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:25 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D70A5BEEA012A4\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:10:25 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 17 Jul 2019 02:10:25 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-c2244107-1b3d-0a7b-049a-4bdcf8227547/test-blob-d9862395-c69c-64cd-7bf7-8362f05b2758?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D70A5BEEA012A4\u0022",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-c2244107-1b3d-0a7b-049a-4bdcf8227547/test-blob-dc776c11-d1e6-51db-7eb1-e350a00c43c5",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:25 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "3ArR0djNGIudbH0RqSTNzQ==",
        "ETag": "\u00220x8D70A5BEEA62EA5\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:10:25 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-0eb74f62-fe81-0478-8221-034bc580121b/test-blob-0a73d454-ec1f-e38d-443d-3d7b29d78a0c?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-0eb74f62-fe81-0478-8221-034bc580121b/test-blob-c2ba86bc-78ef-5bae-619d-7b22b09ace4a",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:25 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "a8TNY9StYX\u002biFismQ\u002bdcZQ==",
        "ETag": "\u00220x8D70A5BEEBC2CFE\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:10:25 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-48175f11-8e54-592a-7634-5bd7d0c6db16/test-blob-4d1d4302-d544-0802-a4d9-c751454d6f85?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:26 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "7bb5787f-87c8-02a6-1265-619d3c0a465f",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5BEECBE851\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:10:26 GMT",
        "x-ms-lease-id": "7bb5787f-87c8-02a6-1265-619d3c0a465f",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6d9b9ebe-7838-4fc8-fe65-680efcce4881/test-blob-2d68f855-5a04-231a-3219-4d225df6bb6d?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-6d9b9ebe-7838-4fc8-fe65-680efcce4881/test-blob-ed953cd5-7bbe-3ce3-3b3e-173dbcb2ef9c",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:26 GMT",
        "x-ms-if-sequence-number-lt": "5",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "NVVgrk\u002bWmtPQz6lj9CpwYQ==",
        "ETag": "\u00220x8D70A5BEEE7B46C\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:10:26 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-b83afe54-325e-8008-d1ce-8e17a6246666/test-blob-6e386c16-195e-89be-03b5-6c96689e9564?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-b83afe54-325e-8008-d1ce-8e17a6246666/test-blob-1be92c35-b27e-3565-b12e-6592136ade78",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:26 GMT",
        "x-ms-if-sequence-number-le": "3",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "BAUnOEeVEc5u2oNBcnxoyA==",
        "ETag": "\u00220x8D70A5BEEFFD638\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:10:26 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-c7109c78-62ed-124f-46eb-e22a2e3f513f/test-blob-2af3c5bd-dbfb-bc20-08b8-c34cc4fdf157?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-c7109c78-62ed-124f-46eb-e22a2e3f513f/test-blob-40762a84-4b2e-3504-24aa-ef07d4550199",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:26 GMT",
        "x-ms-if-sequence-number-eq": "0",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "9/l1oVlqojGOiuWFeM0TWA==",
        "ETag": "\u00220x8D70A5BEF15111A\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:10:26 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-8dd8d955-72b4-d67d-4dea-c837197cf995/test-blob-3cf5fa94-e5cb-81d4-16b2-12fe490a90b9?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-8dd8d955-72b4-d67d-4dea-c837197cf995/test-blob-6eded629-7071-87de-c0c1-8a78542ca3a8",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:26 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-if-modified-since": "Tue, 16 Jul 2019 02:10:25 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "R7VDaX5vJPk/Y2VNxnr75A==",
        "ETag": "\u00220x8D70A5BEF28C501\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:10:26 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-b25f1084-92c9-5da7-4876-1c595d255cff/test-blob-d07a0a05-eef9-039f-9ee3-345837b43003?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-b25f1084-92c9-5da7-4876-1c595d255cff/test-blob-77283315-69e4-05ae-4483-c75af9e277aa",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:26 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-if-unmodified-since": "Thu, 18 Jul 2019 02:10:25 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "\u002bPAmAuQ3yNGh1ntXZbgdvQ==",
        "ETag": "\u00220x8D70A5BEF40E6D2\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:10:26 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-53f5c848-65c0-3e3d-d6a6-ab96900f1365/test-blob-45a6f912-26e1-4946-c3b4-9041717e0076?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-53f5c848-65c0-3e3d-d6a6-ab96900f1365/test-blob-b03b5d87-6379-49d9-f03c-0a941654f11b",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:26 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-if-match": "\u00220x8D70A5BEF4CD09F\u0022",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "pBRXbLPCMXaeqxphhuyprQ==",
        "ETag": "\u00220x8D70A5BEF54E8E7\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:10:26 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-562f0d3a-e7a3-09d0-bfb5-eae4878e5dfc/test-blob-5cf637cf-105e-bf0c-dafe-7ba3840f5536?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-562f0d3a-e7a3-09d0-bfb5-eae4878e5dfc/test-blob-dbd4482c-2ff0-57f9-475f-70ef79a5532a",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:27 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-if-none-match": "\u0022garbage\u0022",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "SR/9j5kCgojzeFyKRsFnbQ==",
        "ETag": "\u00220x8D70A5BEF703FD2\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:10:27 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-562f0d3a-e7a3-09d0-bfb5-eae4878e5dfc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:27 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-07-16T19:10:25.0502341-07:00",
    "RandomSeed": "424604248",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}