{
  "Entries": [
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-304c09b2-b2f1-9cae-8f47-1fc56541e733?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 01 Oct 2020 23:02:22 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665E0E5FA2C9\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 23:02:22 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-304c09b2-b2f1-9cae-8f47-1fc56541e733/test-blob-a4aed238-9ff4-954a-538a-e4f8f892fdc2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 01 Oct 2020 23:02:22 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665E0E65B1B5\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 23:02:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-304c09b2-b2f1-9cae-8f47-1fc56541e733/test-blob-a4aed238-9ff4-954a-538a-e4f8f892fdc2?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Fri, 02 Oct 2020 23:02:22 GMT",
        "x-ms-date": "Thu, 01 Oct 2020 23:02:22 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "4871melt9p\u002BbyZ3cOX4LlbUO4aGvMaRgffLMLp/ENWD9s\u002Bi7yTrsqV9EMFQD\u002BWAoM2S8ocV4A7IqlBz3oMj/15M834aWT8t6ITdCawBQXIORpPo6CJSbhK81kTQe9AmWRFjAxhrZkuOYQX\u002BNNpex2TeYZvzOxM//oFrWYL6WXC0uqyanj5VpuBEXosYUDU0Yg7f9ho4MyICJwSa/AjElAuVSX4twCUmhL63qtiII65MNvtwGmdWeIeKmHs5vqbXf8p/hwq7Cp3puW1bgIRFdgNaSskRVHmgPsz6oyep6MYb4C8SCJyjkShZimD1/vv/QSZ743PZxitM30g5vGd6P8yrQ6BZN21itrmgt8oYrkPU\u002B2IBMglSPh4HxS1QadTE406QTrt[...]
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-5d9ed807-985c-b5f0-d38f-5145f6d67b3a/test-blob-3ef34fd1-f2ff-ad6e-fc15-f29904182b0e?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Wed, 30 Sep 2020 23:02:22 GMT",
        "x-ms-date": "Thu, 01 Oct 2020 23:02:23 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "nyXq03Im0pVdXxuZ98iGwxqgAfMR8TsfIvmANvnAly2qxAYBTifecT5w3XN8/bW78n4YWvPGJK3py7F5ppucnMfu7zLChHXywpC0oRTIoiRDxER6pz05459YF4N2ZMqi1ECrjg6D\u002BW0JJphjEoOYISmMNuJXIvWKtAuSaW3ye13FEs3UHBMWv8vWcIGk1tEcv/VZ6i7oS7JLIdkD8I8AF6o7nf\u002B2xAQVdnYWgbFz5d45dqp3mJEv3ccbifs6Es881lj[...]
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-ae19419b-2b8c-c125-00c1-9a8cee56f376/test-blob-5e4663b1-cb4c-c52a-84b8-e83265f09006?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-date": "Thu, 01 Oct 2020 23:02:23 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "WSjb7sBkWxEitYfwKSAfmnZPAt1twVKNERjEM8/DVIMlQ7F9DVTYzCxxq/7iLSvfjzUG7VBY8JfVTtyooChBX2AEyuVvoo0hdzWw/BZUquPt5aOavGYyzFMZp753LywEL0ud3mJFb\u002B2n5XUbqPSBgaT5u7qEp6P60v2SVfrOqUcJrM3Kt8uAp3W289bxFyRemCYafnRxf4ioowxlsxry2TstEfwmtsrYeBNFzrPMCLrZM7zUtCrTmC1FIRS/G/NbxBmbwwUoOOJbQQZhLL[...]
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-89c123ec-301a-5e69-8b56-dde9e1a34147/test-blob-5d7ad80a-1566-7c57-2c1e-466d562faaa8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 23:02:23 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8665E0EDC0FC0\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 23:02:23 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 01 Oct 2020 23:02:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-7e2efebe-337b-c7fc-41d1-e81781e146f1/test-blob-5b79818d-dd3b-b6f2-5852-8c6b6e741ce6?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 23:02:23 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "f715e95f-43f2-f5d2-fa23-7bc4ec8e7e91",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665E0F05C1F4\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 23:02:23 GMT",
        "x-ms-lease-id": "f715e95f-43f2-f5d2-fa23-7bc4ec8e7e91",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-629da84f-0cc1-b1be-e90c-27addd0be1a7/test-blob-6e97253f-8815-3cd5-5760-d8521227fe23?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 23:02:24 GMT",
        "x-ms-if-sequence-number-lt": "-1",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "uTqz4FBogcPVqmXU7jqH2V\u002BN3j/QcvShpLgbfG1ZCCXrH\u002BF6yiD5C1GTtoQY4kc8ojWWVgUWqUZGETyYTAVWe6FA6M9YDA4\u002BlNLuPbtviMFx39k4w7If1XWaNLnkYb5LPTri2Pl445UmV8EyJ2yL1oh6J20rHrjvIBNZvdhVWjMTo/\u002BAjbDI\u002BftEEWvw7a0JD10wajlRHx\u002BC87fmHia90P2OHoRsC0nXsi5x5wxN/jNmT657Je/5woPg/Zn54trVh0BtYs4pnAMTWLgL3zcSNfWEf853QqsNlVwAiw2v3tBTnGDL35xkPbOqZ8w37eJM[...]
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-73747efb-8dc7-1afe-f013-68c93bb07360/test-blob-52d392a6-f770-25e2-8f25-429adf0b2f1a?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 23:02:24 GMT",
        "x-ms-if-sequence-number-le": "-1",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "m23QA7RfkywyGc6u4sbXxqwm1M\u002B\u002B1xjqrPG4iA\u002BEIi82z3/g\u002BHRnZn0fJeicd42JqqMucX\u002B8hsRU5VfCpwscrvafeBNH9s44vm5RnrEvTjVkLt1sVrCveUi6jBIdpb5yA3fx/P55QrPU9rMQaucTJJYhXnktsFdG8P7KjGq7Ghiw35s5PVI26uspl1/8nw5hp2d8\u002B0dFRVIfqwz/r7VJGNyaYItM2eZE6nONAxj4SVDvaeUCPx7RaplIGpJFNzs24H6DYT\u002BDFM6AOBDTuEI5J2G7D0bPRtm9yfXyA79U/rM4ViKadegRbFQXggc[...]
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-140c0f47-4aa6-3de9-5503-e974ab4d63da/test-blob-9985fb0b-6cb8-f618-8c08-193dfc01d275?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 23:02:24 GMT",
        "x-ms-if-sequence-number-eq": "100",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "k\u002BPfTPNCvEQmCCQ0cev\u002BNnj/wLYkYxowHc7AP7jYqpJgtZkUdkMmOoqXSFH41av9DNiD0iJtHzDJri4kgXyMTl6R07tS6sA12IYrjRrIN0gjwzLgVNhw8pZpS8cUArgNC/rzZgHvqyEYTvqbQpIWAHblAL5KrPmFIeEl6J/4IdbOHYEf1NFHNBcQyAbd1LADU0pQLgH5w18BbUUgycKCHy0kzSQQ9iulnsynOeTyqEwxIpVVp/LV1FoiHmaLJ2pUjqjZuQeL8lweqpA0Uop6DsX57qcsLXc6T/jJ7tjEGndhUqs7Ge9EpS85NvxioILQpw\u002BhkTjDKGEwnm[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-140c0f47-4aa6-3de9-5503-e974ab4d63da?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 23:02:24 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-10-01T16:02:22.6093463-07:00",
    "RandomSeed": "1962328240",
    "Storage_TestConfigDefault": "ProductionTenant\nstoragedotnettesting\nU2FuaXRpemVk\nhttps://storagedotnettesting.blob.core.windows.net\nhttps://storagedotnettesting.file.core.windows.net\nhttps://storagedotnettesting.queue.core.windows.net\nhttps://storagedotnettesting.table.core.windows.net\n\n\n\n\nhttps://storagedotnettesting-secondary.blob.core.windows.net\nhttps://storagedotnettesting-secondary.file.core.windows.net\nhttps://storagedotnettesting-secondary.queue.core.windows.net\nhttps://storagedotnettesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://storagedotnettesting.blob.core.windows.net/;QueueEndpoint=https://storagedotnettesting.queue.core.windows.net/;FileEndpoint=https://storagedotnettesting.file.core.windows.net/;BlobSecondaryEndpoint=https://storagedotnettesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://storagedotnettesting-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://storagedotnettesting-secondary.file.core.windows.net/;AccountName=storagedotnettesting;AccountKey=Kg==;\n"
  }
}