{
  "Entries": [
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-39312926-bc3b-02a0-89f2-187bac47fe40?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 03 Jun 2020 17:29:06 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D807E39DC3E254\u0022",
        "Last-Modified": "Wed, 03 Jun 2020 17:29:05 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-39312926-bc3b-02a0-89f2-187bac47fe40/test-blob-4f564c7b-e7c5-352a-b3f6-e06a31585845",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 03 Jun 2020 17:29:06 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D807E39DCE007B\u0022",
        "Last-Modified": "Wed, 03 Jun 2020 17:29:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-06-03T17:29:05.9419259Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-39312926-bc3b-02a0-89f2-187bac47fe40/test-blob-4f564c7b-e7c5-352a-b3f6-e06a31585845?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Jun 2020 17:29:06 GMT",
        "x-ms-if-tags": "\u0022coolTag\u0022 = \u0027true\u0027",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "E/u\u002BzQhjEQNBbirwJQ2FjM0Pu5SL\u002B1h9N2v\u002Bp6TK9Qq50QizaVvIS4vJG37oHO60r0Zy4l\u002BHZBijQJWcZWled3gfN1QE0iJyRnAIwt/ZlBp9SfhdWBOqMmzvECjGK\u002BYiaqQGyOWZr9wk/5vvf6E5yax6HxtwAB5ldQToFML6rBuK5Vg708s145obOVh3u7PLtkZ8SwvKsWmFoVPgsZoaKlOAZJlJ/vXgRDyBVcfF7bpRHF57fWAPvzPvtTJ4VTL/AA8E9lYZgrhRmwbPSVyhwLOZjpQ8n6zzcaVlWUjDaO8JgVS3wfZjOJqmKuFaP3bXTfV\u002B38adw2FjEYWwsyhvjTMXxsgI6v68NVb5lnXKmTEvjgxTRIgobL3yVK9wso[...]
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-39312926-bc3b-02a0-89f2-187bac47fe40?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Jun 2020 17:29:06 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1448385413",
    "Storage_TestConfigDefault": "ProductionTenant\nhuxcanadac\nU2FuaXRpemVk\nhttps://huxcanadac.blob.core.windows.net\nhttps://huxcanadac.file.core.windows.net\nhttps://huxcanadac.queue.core.windows.net\nhttps://huxcanadac.table.core.windows.net\n\n\n\n\nhttps://huxcanadac-secondary.blob.core.windows.net\nhttps://huxcanadac-secondary.file.core.windows.net\nhttps://huxcanadac-secondary.queue.core.windows.net\nhttps://huxcanadac-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://huxcanadac.blob.core.windows.net/;QueueEndpoint=https://huxcanadac.queue.core.windows.net/;FileEndpoint=https://huxcanadac.file.core.windows.net/;BlobSecondaryEndpoint=https://huxcanadac-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://huxcanadac-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://huxcanadac-secondary.file.core.windows.net/;AccountName=huxcanadac;AccountKey=Sanitized\nseanscope1"
  }
}