{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-d7e9810e-c967-2e41-bbaa-230fbd2682b2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 04:39:23 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DF418749522\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:39:23 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-d7e9810e-c967-2e41-bbaa-230fbd2682b2?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 04:39:23 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "\u003CSignedIdentifiers /\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DF4188079C8\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:39:23 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-d7e9810e-c967-2e41-bbaa-230fbd2682b2/test-blob-a634eda6-3ada-1f9c-b31d-25189d41bfaf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 11 Dec 2019 04:39:23 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DF4188C64FB\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:39:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-d7e9810e-c967-2e41-bbaa-230fbd2682b2/test-blob-a634eda6-3ada-1f9c-b31d-25189d41bfaf?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:39:23 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "Bdx4EDk166iHlIY64O6XUFT3tTUSgBn2\u002B99bmzNfPBzMBsbqvoIP7sOVjnkUVXkHVqVsUY/mroXCgRRZ2k91J1dpbdonrZLR58dxfPGg4aZmU0SO8uuM5ldBJzxutRR0IGYhquee36kSm2nIdDGTIqBu84cL5jVr3YaC5oVVYzKy/VyLfje\u002Bx3Oae1eBw3ImrQScAMKMaDkxts1hHPkjvTg3FXbVCKRorysTcGve6RkUXDiBuGJvJpQiWchpXat6d70eSq77UKVgM1CWefjOU8yzTb/AogTVx\u002B/hs67c/lKAmPmtv59rGAySIIUS2aycUwb7tg/sutS5SYK\u002BGZz3hDT\u002BFuH\u002BIJQsRzSyLYJ/w\u002B1DRV\u002Bo4EhClN4[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-d7e9810e-c967-2e41-bbaa-230fbd2682b2/test-blob-b36e18f9-b02c-d36e-7d62-7a4dc02d00e8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 11 Dec 2019 04:39:23 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "jjO1XVXutpf4TE5DIp\u002BHxUmpzfYynsqtMf\u002Bt\u002BnrUg5I=",
        "x-ms-encryption-key-sha256": "EjJMvKIy2JWLMnI4FxouJtWFs1CQIHv9/ESM3XVyjxY=",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DF418A4CEE2\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:39:23 GMT",
        "x-ms-encryption-key-sha256": "EjJMvKIy2JWLMnI4FxouJtWFs1CQIHv9/ESM3XVyjxY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-d7e9810e-c967-2e41-bbaa-230fbd2682b2/test-blob-b36e18f9-b02c-d36e-7d62-7a4dc02d00e8?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://seanstagetest.blob.core.windows.net/test-container-d7e9810e-c967-2e41-bbaa-230fbd2682b2/test-blob-a634eda6-3ada-1f9c-b31d-25189d41bfaf",
        "x-ms-date": "Wed, 11 Dec 2019 04:39:23 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "jjO1XVXutpf4TE5DIp\u002BHxUmpzfYynsqtMf\u002Bt\u002BnrUg5I=",
        "x-ms-encryption-key-sha256": "EjJMvKIy2JWLMnI4FxouJtWFs1CQIHv9/ESM3XVyjxY=",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "vUhuvXsc1W5L7Cri2SfUkA==",
        "ETag": "\u00220x8D77DF418B60CF0\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:39:23 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-encryption-key-sha256": "EjJMvKIy2JWLMnI4FxouJtWFs1CQIHv9/ESM3XVyjxY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-d7e9810e-c967-2e41-bbaa-230fbd2682b2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:39:23 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1816794905",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}