{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-4d2b4192-f489-6cd4-9610-951ae663ea31?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 04:38:39 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DF3FE4AC088\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:38:39 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-4d2b4192-f489-6cd4-9610-951ae663ea31/test-blob-aa8d2e14-3de5-9f0a-010c-325677174db1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 11 Dec 2019 04:38:39 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DF3FE5782C2\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:38:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-4d2b4192-f489-6cd4-9610-951ae663ea31/test-blob-aa8d2e14-3de5-9f0a-010c-325677174db1?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:38:39 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "Z4m\u002Bq4cjRbk81ZXeA5DmFeISYqxvXVrC4QpbFMy/fIPatRIuLn\u002BY0IbutIE8iGUvcXlQKS5/FQku\u002B8l8xzDtfFkRA01\u002Bt\u002BZiepIlgKjZhVmkLKJTb1NVWqAI/zK1HAhVADgoK4QYsbmS7a\u002BcWpRhVXVw2JuNmgwGvKmtdbe0rV6Jz39wsVrVjHvpwYKjuQALp6q8RUNsx2YrIW/bazsB3UBQEooV8aMbm0sgpNmKYgOooc0N92caHAcZRI/r\u002BSE/5\u002BNBU6Z19rYHoar4TCONob9rMslu9ObZNvaC/KwTL6Ep4bz2SQ9cM6sXBVW8IdDkjKPQf8dY0fP8aByw8voJ83IJzmpmllewD/8eVu6QHBUlnm8JQ6/a0RD[...]
[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-762e544d-7bca-81d8-a2a6-99f49a361bd1/test-blob-8d078b0f-cbb7-f978-f18f-3bb662a95727?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 10 Dec 2019 04:38:39 GMT",
        "x-ms-date": "Wed, 11 Dec 2019 04:38:39 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "MpUoVPZMGLIk\u002BUmrDCVhdxhmaAqJubNnwbTOFJCNQJ8BCiACUSLeAj9tenkPZK2EMlXBZzz/K3nhwJNBfQQhlripqQIEXyb1h2XLHD86WFwHSuE6y9ljAt\u002BnIZCPnIU6S\u002BPBZburf9MvzN/WNA45p2g2OjMi58reRqcjXT2VZergkNBbefKgXMoOC//5jM3QbXooWGJSGGQZ4h8UiCGVmWf19qM\u002B3i11lt5oE9zL5LnZUvDDbQ2IjndsQ[...]
[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-7cbe5839-62db-691d-0427-49f0509efa4c/test-blob-45447a0e-f38f-5c2f-5b47-7fe87953ad97?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 12 Dec 2019 04:38:39 GMT",
        "x-ms-date": "Wed, 11 Dec 2019 04:38:40 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "Cy4kWwEZ4XbaqxrdMUBGnpM49kCYa29SEmqsWZI7wfi7XOPomFhG2FdFZ3ysdhf5LWjRnjy1zKC\u002B0kmWbIfknukiIdVcXQU68h3pUwTypZxTsispaiO8BZBDKcYPr2zPYMiTilRCndBilqwezHmbyyytQ7lbujTGZhtEGDQ\u002BK0KxGfI7XxtHERVbx9R2nTkXp12aYWyyc6WUzCQ4/YWbJGppbLOGYGwQZTKkAPNfUMjiLXDWo8nW/6ZMp5P3DxSPv6J[...]
[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-7b51234c-5046-026e-2065-654f84918cbf/test-blob-92c8c128-d8a0-248b-4276-73fc639e1f21",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:38:40 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77DF3FEE87874\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:38:40 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 11 Dec 2019 04:38:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-7b51234c-5046-026e-2065-654f84918cbf/test-blob-92c8c128-d8a0-248b-4276-73fc639e1f21?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D77DF3FEE87874\u0022",
        "x-ms-date": "Wed, 11 Dec 2019 04:38:40 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "VXio44UIK2v0F7wK4\u002BVNFmo8pOEcWESGpYfY1iCbpvVLOgCqts3uP7L3pt9B4d1mRvfNrMv\u002Bzv00Ij39L1RLWHDHv6jlol\u002BcTWQuJbFlRcSqco8ozvopTWsDdpSP8A9dq05ueiE1gaOYMF5mz6lLz9x5U73EI4l2nXE84SzKDFxU0Hlj9sqidPHrkJ2bwn3Ct6e3FpxSmYjE99yw\u002BJ93zSQCEv8v6NgR1t/L2JLs2trzeiqFEva/Ajfwn[...]
[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-e59c029b-782d-8171-b1e7-346ede576e05/test-blob-4b611b30-507a-1775-0b89-5c4e06bd8953?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Wed, 11 Dec 2019 04:38:40 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "sEcUq7xvh43Yr3QppzEu8sB89KI6rlj1grvDy\u002BQKJ0y9jJOhBB0j6tz1A0xe8Yogi8x4D5Xx4gLvHikBq7uozocobBqeje2iWArFRKoMl5AxokAXkhi3y6qRsub0Ij4gTTXENYVvgf3f1baKLJ1X44eYzwl6kTtvcKBwDdsHrjbMpPd1R2ELwSBDOLxiLZ8MOc9eW1I0pbv5VcXk/3Qh1yZ/voel4ZsljQ3oN1h\u002BDEMBY9MMqFLkl/47fPGcJsKsIWCW4m4XZ1gzO[...]
[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-bd8d1a64-daab-9e4f-03e7-711ceada899a/test-blob-6ccc73b3-d188-2777-1e4d-c8fd56c0f92b?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:38:41 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "c34d0d32-b736-0fab-d0f7-bc4798e0233a",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DF3FF52FA3E\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:38:41 GMT",
        "x-ms-lease-id": "c34d0d32-b736-0fab-d0f7-bc4798e0233a",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-43febab5-c005-0a9d-a920-515e04ce72ee/test-blob-9cf69824-ee6c-6d2a-ddb3-485b52cdd428?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:38:41 GMT",
        "x-ms-if-sequence-number-lt": "5",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "G/XWQnYlSIFpxUfWkThE1LsLH0sjNp93PBu53bAjuaw8v9YzMrbGFr4pNMQ9/ZlX/R1QbIgOeuRWXgVaa2rQRQuamdFiEKIERAiM\u002BgLaOj6CYt\u002BT00wkLkXx3NOwa6tTWO64omTH9Ox7Syh/goDifCTG2AiKPXK/dmuMcDTOU9hdOKETIZfaum3zF4ckpKzFD2Cu6pOiyBp8\u002BSz5O4O4rPhPIknezlqN7B6blybrmtG\u002BxmHUIGlFu2\u002BHlyhq4X7pO2qP1YJi5kAFIP10BjDzkV5aOnQi44yOCWbZVjcyIgqfsVy7XMVPW\u002BAgzv9r0LQ\u[...]
[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-f8213d7c-f04c-3589-11c7-3d0d93974d5d/test-blob-c2e775af-9912-d399-ff81-f86d738ce338?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:38:41 GMT",
        "x-ms-if-sequence-number-le": "3",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "NO3up3uwPaGB/gdHuAFRn12ydjM\u002BB0bbgQh3O80M9S4tUmOUcXvJRQKsWvMODX2/cqCKQBVqUC2mEyZzOALTdAjYGWadvC7i6TAxkqxTzHSLt8gsgrUYwgI17l5VVg0A2ebqNfMXIrZyqFfkOb6BU0ax6IA5pvFTwFdkZ87QjJIjMbjFaJeBdJUSutpdM4lDtJoYo26MxjL1l3WcsrvoohvEwQcFu\u002BquMHPrJ\u002BwW9YzNILIzt\u002Bgkl2qF0NEi5cHZKRi/mXKBPvmwaXP6oJ9G3qHozpIIteozoCmdf\u002BoYjEuyEf3UV1waS\u002BG5gk51KfbLP[...]
[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-06afbcc0-f7fc-fe12-dc8f-dec31e7010f1/test-blob-63c2848b-2379-f4b5-dee5-b707e97e94a1?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:38:42 GMT",
        "x-ms-if-sequence-number-eq": "0",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "LKUnE8g2DpKpyzs\u002BHXFtsSKyuqR1rynng2F8\u002BL\u002Bq99bCUxfhBa87FTZ2O6xmMQGEU4cOTZfTPXx7QJBnuhXT/tNkfMpajKtydqRu/3N8gFFg\u002BKU4m6o\u002B7xaaZcUf1Fsgoz3ZAbU3Kcbcm9byZD0I/8A\u002BBsFwmmIoJoy0vyflU6JITVw2o36cKc7eXP/US4rYkWYF4M2asAjasNsogmme9kg0qhfg0ltCot3ykT5iVNoC2y3B4HPUrpxUXPKic6ZkP2W3oKFz978Kwz7wpx7Jd1wAJqc73RXUX/t6jHVony83jVLZqrM5juNutxw15AZ\u[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-06afbcc0-f7fc-fe12-dc8f-dec31e7010f1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:38:42 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-12-10T20:38:39.2943666-08:00",
    "RandomSeed": "683067407",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}