{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-25748061-8f30-9f25-508d-b4fdef24f9ef?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 19:04:47 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D376E4DF215D\"",
        "Last-Modified": "Wed, 17 Feb 2021 19:04:47 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-25748061-8f30-9f25-508d-b4fdef24f9ef?restype=container&comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 19:04:47 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D376E4E8E729\"",
        "Last-Modified": "Wed, 17 Feb 2021 19:04:47 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-25748061-8f30-9f25-508d-b4fdef24f9ef/test-blob-31c83636-73fe-17ab-245c-e59d568ef03b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 17 Feb 2021 19:04:47 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D376E4F3362F\"",
        "Last-Modified": "Wed, 17 Feb 2021 19:04:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-02-17T19:04:47.3671215Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-25748061-8f30-9f25-508d-b4fdef24f9ef/test-blob-31c83636-73fe-17ab-245c-e59d568ef03b?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 17 Feb 2021 19:04:47 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "8NiitRsYRgbiKoWtDbDGY6VgfgaHHIIqWHRG0Rw2PPygBgTUHc0/KmAzTF0RYFg6LjwB1GKMJ9RVeFym0nXqrO6JDAer8kbYIVOlU88lGfccC6LfNGiaE94wf6VwmVjrSaBuiFRQjjz2KbIO59QEL19licbSCneG7vgoe3KgZ4j7ugovt5CjzH1m6Qu1jCwKLE9GCw+RGD8o55lcJxPJVcEqEizJ1HjOwb1JbCBs0WLLHk8jWlx4aaHLB8/3R6RqnJNKinn/QFfWeElSSKwevBY2kAnDpvtlsamL/c2p1noY3s+MIUbpy934TOESJiD0rUq4wLabpvWX5NjQdEKJLaHOOWrckZrPTcQry1oaUouIllCC8BXDfTja9D1tGVeabh8/Q+22Fxuw6XPyb9qbfZFNSN3yBzy[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-25748061-8f30-9f25-508d-b4fdef24f9ef/test-blob-3d27dec5-ee7e-99bc-3579-94ddb3d883b9?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-25748061-8f30-9f25-508d-b4fdef24f9ef/test-blob-31c83636-73fe-17ab-245c-e59d568ef03b",
        "x-ms-date": "Wed, 17 Feb 2021 19:04:47 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-content-md5": "teQ1VADQtOD7VtsVozf3ZQ==",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "Md5Mismatch",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>Md5Mismatch</Code><Message>The MD5 value specified in the request did not match with the MD5 value calculated by the server.\n",
        "RequestId:f82588ce-601e-006f-4a5f-05d031000000\n",
        "Time:2021-02-17T19:04:47.6368016Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-25748061-8f30-9f25-508d-b4fdef24f9ef?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 19:04:47 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1086136255",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}