{
  "Entries": [
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-7d6d9fad-4e36-81d4-8f6a-b1e910115585?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:38 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D88A170DC\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:58:38 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-7d6d9fad-4e36-81d4-8f6a-b1e910115585/test-blob-914a76ef-24ea-ff69-14d3-5ac8c4c0afff",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:38 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D88A605D4\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:58:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-7d6d9fad-4e36-81d4-8f6a-b1e910115585/test-blob-914a76ef-24ea-ff69-14d3-5ac8c4c0afff?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:38 GMT",
        "x-ms-if-tags": "\u0022coolTag\u0022 = \u0027true\u0027",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "iYjSB3\u002BeQLDUCBW9zF/YBM45LzCbVLt6UkHHWTyRaOtanoCePP2h\u002BVJ0hTsafHQQg/1CoGGiHjXMV7U91\u002BdzQ6ApYy7eOsjQlzXdJs5/YNbNt9U\u002BT8eJuH9K0eRIYyJrAUKa8BlGMUk1cQkrxPhmTffecB8SNPTZoKqulGnjiDQSciWM5HC8hoWMCd29XfSH5IPtafIDWMxOwVBul53fUunVGVHT2miHIeqZhisWHEK2J6/l9R9BDxlYPSMgTu/orLb06ESitAobZkcIadKgN6QNuHDt\u002BVzJkwk3epxFZ9P6sdl1IjP9FHOlyo/XOaZHuAZ\u002BEpZ\u002B\u002BrJZKlQ7ajlt1f50Dbj5KxVxD6P9SC/N8lpi8MKWxlQ9[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-7d6d9fad-4e36-81d4-8f6a-b1e910115585?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:38 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "908516767",
    "Storage_TestConfigDefault": "ProductionTenant\nstoragedotnettesting\nU2FuaXRpemVk\nhttps://storagedotnettesting.blob.core.windows.net\nhttps://storagedotnettesting.file.core.windows.net\nhttps://storagedotnettesting.queue.core.windows.net\nhttps://storagedotnettesting.table.core.windows.net\n\n\n\n\nhttps://storagedotnettesting-secondary.blob.core.windows.net\nhttps://storagedotnettesting-secondary.file.core.windows.net\nhttps://storagedotnettesting-secondary.queue.core.windows.net\nhttps://storagedotnettesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://storagedotnettesting.blob.core.windows.net/;QueueEndpoint=https://storagedotnettesting.queue.core.windows.net/;FileEndpoint=https://storagedotnettesting.file.core.windows.net/;BlobSecondaryEndpoint=https://storagedotnettesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://storagedotnettesting-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://storagedotnettesting-secondary.file.core.windows.net/;AccountName=storagedotnettesting;AccountKey=Kg==;\n"
  }
}