{
  "Entries": [
    {
      "RequestUri": "https://camaiaor.blob.core.windows.net/test-container-32497ead-8b24-2d95-8953-174b913203a3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 15 Oct 2021 19:23:21 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D99011407BD2F5\u0022",
        "Last-Modified": "Fri, 15 Oct 2021 19:23:22 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor.blob.core.windows.net/test-container-32497ead-8b24-2d95-8953-174b913203a3/test-blob-5f97cdc7-1bb9-c522-51dc-6a8054ac1ced",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 15 Oct 2021 19:23:21 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "UE6AUVAPvxZ8KplzZ/w3Arfus5x1ogXpjDwZf3y4sHo=",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D99011408D9C94\u0022",
        "Last-Modified": "Fri, 15 Oct 2021 19:23:22 GMT",
        "x-ms-encryption-key-sha256": "UE6AUVAPvxZ8KplzZ/w3Arfus5x1ogXpjDwZf3y4sHo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-15T19:23:22.1502100Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor.blob.core.windows.net/test-container-32497ead-8b24-2d95-8953-174b913203a3/test-blob-5f97cdc7-1bb9-c522-51dc-6a8054ac1ced?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 15 Oct 2021 19:23:22 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "UE6AUVAPvxZ8KplzZ/w3Arfus5x1ogXpjDwZf3y4sHo=",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "HFGQm47SD5h9AmiMGUkb2p/IurCL2elXy/\u002BomqzXQMTGjbxX5qET85OJxQFlPH4azajYjHi16ENnOM\u002BOKnXrpcKkxYyMw/P\u002BtMYdARPo8Y6Bjs0D/7NLEKR4767RhcgenR8\u002BwXbxjQm12dixmOcvf0ZBDZyn6KYOWbTnFNNFLC/9/mP0qTAXjwHDTibbmXi9SHBnkHcsdrV5MGfBCnk1b6yptJqDO9UWKX6b5JmAM8A8Kstj3Zy30Yete3nIVYWHjd55MuXdOQ2bUGf5kZIc\u002Bfynhd\u002Bt0pIQ8eIT1sBcTdP4E1e6BgDbX/C9yIw1vj/1kYF8INCl2bpMaEECymNNPwKTAH46YfL8zCXv8AoF2jKjHkQ\u002B3y0CUzmcbZ6/[...]
    {
      "RequestUri": "https://camaiaor.blob.core.windows.net/test-container-32497ead-8b24-2d95-8953-174b913203a3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 15 Oct 2021 19:23:22 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "429433701",
    "Storage_TestConfigDefault": "ProductionTenant\ncamaiaor\nU2FuaXRpemVk\nhttps://camaiaor.blob.core.windows.net\nhttps://camaiaor.file.core.windows.net\nhttps://camaiaor.queue.core.windows.net\nhttps://camaiaor.table.core.windows.net\n\n\n\n\nhttps://camaiaor-secondary.blob.core.windows.net\nhttps://camaiaor-secondary.file.core.windows.net\nhttps://camaiaor-secondary.queue.core.windows.net\nhttps://camaiaor-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://camaiaor.blob.core.windows.net/;QueueEndpoint=https://camaiaor.queue.core.windows.net/;FileEndpoint=https://camaiaor.file.core.windows.net/;BlobSecondaryEndpoint=https://camaiaor-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://camaiaor-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://camaiaor-secondary.file.core.windows.net/;AccountName=camaiaor;AccountKey=Kg==;\nsdktest\n\n"
  }
}