{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d2c396a8-d6c8-c82e-e958-7c587b56c05d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:34 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB2AA01DE4\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:24:34 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d2c396a8-d6c8-c82e-e958-7c587b56c05d?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:34 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB2AA8F279\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:24:34 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d2c396a8-d6c8-c82e-e958-7c587b56c05d/test-blob-4603b06b-d980-040e-f9ef-a8be37b94587",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:34 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB2AB2F0E6\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:24:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:24:34.8442854Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d2c396a8-d6c8-c82e-e958-7c587b56c05d/test-blob-4603b06b-d980-040e-f9ef-a8be37b94587?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:34 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "IpKvqqV/OhZMIoSQBfaMaDVEETZD6nEhn4yOvc/deWl/B/J92jlSn3DiWZ9OCro1TRB0tO16gzggjgoY8H1Hb6gaEf0ED4778XHGYJDS0pTSWW\u002B\u002BacV8BIS6XEwuOq7ymur3NPm8MT6CeMJ8tCKnTrx2RZcNiAXinQx5SbJBzLfC08al256bFigxPPACAFBiEg2QuPQW5BLlFJbtQueLQKsLueBcAnMe2i9v3EwU4J28FzeksRPCq\u002B\u002B0wMcHrtNApfxE9kZvBhCact7EpwfF0DP5MCuw5o6XSQ7xp0GsFixcLzZPz\u002BlWTBEmCj81/QTn7vCTDn2nkL9trK04fl7O7luxaHjRdgBJouQZidxPYksKCrlRGAevtJ534iI8Hs6zWBzjhJ[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d2c396a8-d6c8-c82e-e958-7c587b56c05d/test-blob-49b018f4-914a-9f7f-cb87-af56f43b1f98?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-d2c396a8-d6c8-c82e-e958-7c587b56c05d/test-blob-4603b06b-d980-040e-f9ef-a8be37b94587",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:34 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "T35WJQDTvQz4cNcLLcyKug==",
        "ETag": "\u00220x8D8D2EB2ADA0804\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:24:35 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-172ffa55-c92a-a966-8b4f-421fcbda54b1/test-blob-61214515-c10d-621c-aeea-7a8e496f8527?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 16 Feb 2021 02:24:34 GMT",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-172ffa55-c92a-a966-8b4f-421fcbda54b1/test-blob-d4bf428e-8834-5602-12a3-3260ff63add3",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:35 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "gbV78flmTwhLQ8DKqRWo2Q==",
        "ETag": "\u00220x8D8D2EB2B6794C5\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:24:36 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3b7605aa-7d24-c74a-2267-c6ad15be3b6f/test-blob-0e5185a0-0757-60df-c240-b4e3d8daf02c?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 18 Feb 2021 02:24:34 GMT",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-3b7605aa-7d24-c74a-2267-c6ad15be3b6f/test-blob-aba33a09-f88c-ac4f-3e81-65112b620e6c",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:36 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "nwsE1VbG5toPhbL0fX4bMA==",
        "ETag": "\u00220x8D8D2EB2BBFD6EF\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:24:36 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1e4acbd4-f5fc-1d5f-ed93-1575edb96b3b/test-blob-9c4bb319-57ef-6dc1-129f-84a8219aca00",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:36 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2EB2C0D8FE3\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:24:37 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 02:24:37 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:24:37.1169021Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1e4acbd4-f5fc-1d5f-ed93-1575edb96b3b/test-blob-9c4bb319-57ef-6dc1-129f-84a8219aca00?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D2EB2C0D8FE3",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-1e4acbd4-f5fc-1d5f-ed93-1575edb96b3b/test-blob-de9a0d42-eee0-e2fb-eb5a-c15b1cad428e",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:37 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "TXPE6fQuXVTgDzUSI63BYA==",
        "ETag": "\u00220x8D8D2EB2C2317A1\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:24:37 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-abb005d6-a8c7-04e1-569e-4f2ed844fdb6/test-blob-fd0c5508-5359-05f4-3625-fc15d7cbad24?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:38 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "b4ef5af0-d9bf-8fca-8bc7-df35d320d27d",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB2CD6A9D8\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:24:38 GMT",
        "x-ms-lease-id": "b4ef5af0-d9bf-8fca-8bc7-df35d320d27d",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1c6c41a6-61be-32c3-e3ec-a91c0c749b8d/test-blob-644e70d0-eb6e-2836-a3b6-dbcf84d198e3?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-1c6c41a6-61be-32c3-e3ec-a91c0c749b8d/test-blob-a74f3095-aa1a-c4dd-9cbf-b241e1318d30",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:38 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-if-sequence-number-lt": "5",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "nt9PzWkqgAIK4LEgx9t0NA==",
        "ETag": "\u00220x8D8D2EB2D49F2FF\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:24:39 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-85eaf8ec-5ed2-dbe5-82ce-b2d6049c3b68/test-blob-dfba51a0-e2c9-15c2-f147-ee86c1b2689d?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-85eaf8ec-5ed2-dbe5-82ce-b2d6049c3b68/test-blob-871a993b-e739-ef1c-8a08-dbff5d36accd",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:39 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-if-sequence-number-le": "3",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "nRiDmUnKHKSO6hZUBXT0nw==",
        "ETag": "\u00220x8D8D2EB2DAD5ACB\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:24:39 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-bff5be29-bdeb-8b3a-19d3-a1b8fc1286af/test-blob-d480de4a-2543-7ca3-c024-e5364a761f63?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-bff5be29-bdeb-8b3a-19d3-a1b8fc1286af/test-blob-4c28f1f2-a123-56bf-ec63-dbbcd0b33bea",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:40 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-if-sequence-number-eq": "0",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zUOPniQZ96F0fUaOXjnxhA==",
        "ETag": "\u00220x8D8D2EB2E1493D6\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:24:40 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-41070cb4-959c-2077-0814-a07735c9b34e/test-blob-76fc13e0-0d84-dbb6-3f72-b312fc5fd9a6?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-41070cb4-959c-2077-0814-a07735c9b34e/test-blob-d3fb2674-4890-d1b7-aff5-94a0d3ec3725",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:40 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-if-match": "",
        "x-ms-source-if-modified-since": "Tue, 16 Feb 2021 02:24:34 GMT",
        "x-ms-source-if-none-match": "",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "qreJpoT9wLgtANpTxgSx\u002Bw==",
        "ETag": "\u00220x8D8D2EB2E75B145\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:24:41 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-69ac80b9-c3d8-5453-b203-a8c6657d08ba/test-blob-9bea60d4-e2d5-4a85-86b2-408eb151665c?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-69ac80b9-c3d8-5453-b203-a8c6657d08ba/test-blob-87871dcd-7302-f03c-119a-3862249353bc",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:41 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
        "x-ms-source-if-unmodified-since": "Thu, 18 Feb 2021 02:24:34 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "6J0SjmIz6ePhyrkrR6iSDA==",
        "ETag": "\u00220x8D8D2EB2EE32D02\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:24:41 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d6c37451-be99-be00-9055-ddefa666b4dc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:43 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-16T20:24:34.3714438-06:00",
    "RandomSeed": "974971474",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}