{
  "Entries": [
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-1ff93125-f6a5-6b44-40f6-9574bb7f9f3f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:56 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D933EB0C1\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:58:56 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-1ff93125-f6a5-6b44-40f6-9574bb7f9f3f?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:56 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u003CSignedIdentifiers /\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D93446B8C\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:58:56 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-1ff93125-f6a5-6b44-40f6-9574bb7f9f3f/test-blob-75bd7cde-6baa-d0b7-ec42-c26bb87a3d23",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:56 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D934A00A1\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:58:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-1ff93125-f6a5-6b44-40f6-9574bb7f9f3f/test-blob-75bd7cde-6baa-d0b7-ec42-c26bb87a3d23?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:56 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "bOhTzldNJa0s81LueXEE9uDWGcTCv7emJK02/UeYy59rwLu0lOIflmjXI8UQ2Usc4APGLzFYSq0xrKmpFihlkyezg7m1UGL\u002Bt4Jc6pvylktiGRxE0ZxtEnYOguc4dX9AcZCdXFWSZ5Chx3iu/F8RPxZdRv0LIMGLRnFCp816xUEDG3kLVDn20LKMowokvhUX/ULR2y6CNFDOERbkT7/CJgE2q\u002BDmBevcZ3ZKfn23Z4dbK6qKqeoTgeYoPUIiEoDyynwI7RM1MfdX9HS3N7XTFqqPiCQVN30WIyr5vciouVT2V7QArnl0JvmyM7R2W0kxVSaYk4lb3ZL/8crpO3MurzofweAB0mcwG2IqYgTIoMjgyGihECbLmnoiAL2vi\u002BqGhIN6V5lpL4K\u002[...]
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-1ff93125-f6a5-6b44-40f6-9574bb7f9f3f/test-blob-41b3fe86-7e20-3ee7-e9ce-28426aea813d?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://storagedotnettesting.blob.core.windows.net/test-container-1ff93125-f6a5-6b44-40f6-9574bb7f9f3f/test-blob-75bd7cde-6baa-d0b7-ec42-c26bb87a3d23",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:56 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D935BDF3A\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:58:56 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "kRlHPbfYSr4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-1ff93125-f6a5-6b44-40f6-9574bb7f9f3f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:56 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1419294593",
    "Storage_TestConfigDefault": "ProductionTenant\nstoragedotnettesting\nU2FuaXRpemVk\nhttps://storagedotnettesting.blob.core.windows.net\nhttps://storagedotnettesting.file.core.windows.net\nhttps://storagedotnettesting.queue.core.windows.net\nhttps://storagedotnettesting.table.core.windows.net\n\n\n\n\nhttps://storagedotnettesting-secondary.blob.core.windows.net\nhttps://storagedotnettesting-secondary.file.core.windows.net\nhttps://storagedotnettesting-secondary.queue.core.windows.net\nhttps://storagedotnettesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://storagedotnettesting.blob.core.windows.net/;QueueEndpoint=https://storagedotnettesting.queue.core.windows.net/;FileEndpoint=https://storagedotnettesting.file.core.windows.net/;BlobSecondaryEndpoint=https://storagedotnettesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://storagedotnettesting-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://storagedotnettesting-secondary.file.core.windows.net/;AccountName=storagedotnettesting;AccountKey=Kg==;\n"
  }
}