{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-a6314f99-e802-c533-03ff-53b3e3b24cc9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 24 Jun 2019 23:41:33 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F8FD7D2F78DD\u0022",
        "Last-Modified": "Mon, 24 Jun 2019 23:41:33 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-a6314f99-e802-c533-03ff-53b3e3b24cc9/test-blob-1fbb275a-9692-a635-db07-0747e77a947a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 24 Jun 2019 23:41:33 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F8FD7D31786F\u0022",
        "Last-Modified": "Mon, 24 Jun 2019 23:41:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-a6314f99-e802-c533-03ff-53b3e3b24cc9/test-blob-1fbb275a-9692-a635-db07-0747e77a947a?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 25 Jun 2019 23:41:33 GMT",
        "x-ms-date": "Mon, 24 Jun 2019 23:41:33 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "W0pZvPcsN01AaOOySflpsq5vs0ZJcxsIRHMRsR11p6YGXuydIdeCHUbC8IZuMf4Ud8YRj4C5YOguUXiEG4YwysA8q\u002bsNzJHW7JX/hoOUmhJ1/DpWZBgmTf0EbtBf/gLAkiXFMYYSBqo1OqLqudpkmbZlDx5L2WWoFl3uCV7Bd\u002b6TP/Ndz2iMYvaPISp1O5Qin9QZ\u002be/jdbjAHRooI/1Mc8OzV3rmB8pO2awovLg7MtvIy2qJqH3\u002bsMk6nLFOYz74Qq1mweMaO5cJyyBDu7gAhes\u002bX1eSw8tGtaewq2oZ/3VtL3kL1HD4ro/SgN1cu/QROhfFEATmZn/hIAw8apAs8Muq1Ys\u002b9bB7RrHHwEPu6fmynnFTU\u002b9xhsn6KbRj[...]
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-16d9b7e2-6694-41d2-70c1-737bdf9144a2/test-blob-129368f6-fab3-ea9b-1b40-b59e9a7484ec?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sun, 23 Jun 2019 23:41:33 GMT",
        "x-ms-date": "Mon, 24 Jun 2019 23:41:33 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "sR6Edv0y7zN1tB9dtkKuqZyJA/agFhOeNxw7IgEn\u002bSZwf\u002bx87w3uqItmg4w41L\u002bU4VDXZ/HZlZsL5T7h9swxTbr57TdVMrmOmlprOZKGZWNcp0CxUJI0lupRcAnPDbG\u002bNTbSP\u002beIP6\u002bWSMyWblsIhIDbhE6LgPwnxFZMA8Gvv42orARctCZ702iRGgfGnSiOSeyJ84ljM7Q5qnqQPDvt5ok/7cFXrM9ZX7Dm\u002bmX0YS[...]
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-028cc0ef-a4d7-e09e-112a-7c775fc9232d/test-blob-1645b0b8-493e-33d3-c284-d12f94ef8abe?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-date": "Mon, 24 Jun 2019 23:41:33 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "sie\u002broMM7r4vgDF05I2D0f/zxNo9O6yd1gsTygeFQZyfH3xtMNw6pzJiCyjpZVV18HBO/mEJdXd7INh4\u002bSO2qj6V1cUQFqAjuRyo2jCDs3G2ndqXN0M6lqkF8Q8Ewq4Oq2HqVJCPZNrQK0RFYZpH921mwVtJH3L6Wj8bCySQHvdumS/OmV/hJjkAxwz\u002b9TQPvvqinQBTxYvu7/pQdFm1PwxN18dqeF0NhZoiSVhm\u002b2QKC0wq7YH2GtSj36pkkLLfSof[...]
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-b088ad1f-ead6-e870-bfca-5c2853a7c6ab/test-blob-e433588a-2da8-aa07-2623-b82206eee798",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 Jun 2019 23:41:33 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D6F8FD7D6677F8\u0022",
        "Last-Modified": "Mon, 24 Jun 2019 23:41:33 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 24 Jun 2019 23:41:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-b088ad1f-ead6-e870-bfca-5c2853a7c6ab/test-blob-e433588a-2da8-aa07-2623-b82206eee798?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u00220x8D6F8FD7D6677F8\u0022",
        "x-ms-date": "Mon, 24 Jun 2019 23:41:33 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "REAZCifuS3w8q2L9dlyYfpuJo9RP6yPNUwuRj5hzqHrTrGXQjn4HkOchvsh\u002bBOdttvYMVWQDu1kcS7YbXbvkyQLnKsn3yO8dgRPsLixbT04jJNmhZlMWz/EMs0PH6zMrPPXFl9kede0H79NQFowswfxo\u002bDjiQ2Ov0FrY6hSrVpXfwPI3lbd0Ba7rmXZ/xblk4PJHXvP6SfiSFsZ\u002bRYvZXJk9cFWa9CtE8/OK9qrsLwqhcwoiY/ei5Xf5pX/w9b[...]
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-972344fd-f647-7e62-6af1-df3756729180/test-blob-806cfc2c-36ad-bd39-5c90-1dfb0b41526b?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 Jun 2019 23:41:33 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "5a0ab63c-1005-21d3-78c7-0a16e0efc50c",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F8FD7D7A04B5\u0022",
        "Last-Modified": "Mon, 24 Jun 2019 23:41:33 GMT",
        "x-ms-lease-id": "5a0ab63c-1005-21d3-78c7-0a16e0efc50c",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-5bd291c0-2f95-2a9a-cf47-4db83bc2334f/test-blob-bae3b1ab-c1f4-9fc9-c0d9-cc6a0bb7e44a?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 Jun 2019 23:41:33 GMT",
        "x-ms-if-sequence-number-lt": "-1",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "IT8Mit95W7o1Nuo8KyWCpoYoJ9KLIaEbWRm4r8Oe4tu5o0nLqlprFNtgzjWmG57cwVejlL5NnACe8DHGwaz2l1QOgofct/ssvRP2K1NsdT172\u002b1s\u002bk4dbAdILLoopFMvaTfhl5kXAApbd9eqVnCsMnrzSuW\u002bipwG8RV/k4pBAxjAx8Ibit6kZNvjEYN2chaWnPo/NVptcd\u002bb26WDl21/GnO/6o6ukaebTuUK23gZj3//6fePAc69UlbjgK85Ic1tY/YPt4eH6ApTo\u002bZ1Y5VmgUslg6527xmlApg4yxD3Yi0YnHeCCtj4eAHsPF3nSO7AfP9kF[...]
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-1b1b21cc-b828-4787-661d-b18054372e4c/test-blob-6f03ce4e-414d-ae92-99e8-c7c574e02cc6?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 Jun 2019 23:41:33 GMT",
        "x-ms-if-sequence-number-le": "-1",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "/E4yhjO\u002b/9F03hpw3MKIc\u002bkE2jogHXrr39vWLnmAwehvOMkmrqWTPJTljwlHfkrWlVMp59Y\u002bb97TR6dX59FX9B0yAKT5YsVDcZ2lO41wo2CQ/5gmVtkSMcjqUmb\u002bO1XDjZvsFX6m3TOO5nY4mDNQYqNHxug4MZ1EIM7bDhBeRTZI4a3yhI7i6iJll3Bj2ZiVme/CtnRsi1v\u002bqPSvys4jL6BA77aGXt4VZNvF0pot4EY2RnQgm47B21ZR89yZMyBUQmfPI\u002brhDjsRrVKYp7jB0ceteINZApMSfhNgNGoBezG6cJAyXb1cVDg5Du48KDSe[...]
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6df320e2-eaef-7eb3-b77f-342933e314bb/test-blob-4c9bb901-b17e-0cd1-c31f-55419ae4f950?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 Jun 2019 23:41:33 GMT",
        "x-ms-if-sequence-number-eq": "100",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "ntsnekfHPW1/25NtZ9mdc5vGK2IzrXr2o3ZGw5t2OKcU0qK/vH4IpNSTswN3qL0rHKK\u002bDPGoT/FgMdbRgHnRCKLsWZU33rYcvYaNn/p3fvq5G6b5tyy1bIOwXouoNyRbwqphi08o9D7sok5qGq/26bLcF2XS11F2N\u002bwRhn8qdIZiMt1PFfKqkCZoDRXdSlHTunXZyx\u002b\u002biOpZ61RiFm2\u002bwS3ICOjRptO/MYc\u002baso7mOybPcwKUahmpKrz9iqeSHm5qkvnFEJpAROhGZqYgB0fHVJnx9mgs3CEYWM93rCpIekNhMB\u002bU4OpMTu5aT[...]
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6df320e2-eaef-7eb3-b77f-342933e314bb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 Jun 2019 23:41:33 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-06-24T16:41:33.0180286-07:00",
    "RandomSeed": "1315036735"
  }
}