{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-0517de00-4c82-96d2-31cf-93483eb9e2c5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 17 Jun 2019 20:58:29 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F3668D033A9D\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:58:29 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-0517de00-4c82-96d2-31cf-93483eb9e2c5?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 17 Jun 2019 20:58:29 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "\u003cSignedIdentifiers /\u003e",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F3668D05E5FD\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:58:29 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-0517de00-4c82-96d2-31cf-93483eb9e2c5/test-blob-27399c93-c416-62b5-ae04-fa51823b1a17",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 17 Jun 2019 20:58:29 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F3668D0856E9\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:58:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-0517de00-4c82-96d2-31cf-93483eb9e2c5/test-blob-27399c93-c416-62b5-ae04-fa51823b1a17?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:58:29 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "hE6nUBZJqIadNAH44\u002bsv5Jt/Thfjg//zenix9vTHDgEryWIYpeT\u002bsH9PwZEBMVWQ/qDeVbRGvABOs9adl7GR1SYAzRqJFz\u002b2gJ6Xk8Ju8kgiIfdT6LlM5A1hyvENYBjNvutqAWQ7BudhJ9QWryg\u002b4MGNe3a6Pe1ts\u002bgNJ01OqCCFydXWA/Hk5xoQ8sDkNjXlI\u002bkvgOWhE4D\u002b/U17Ld\u002baEn\u002bzkOVSaNzQqZNbqkssiHyzKARjHig747ZV1wajabk7dd9BMKZPkrsNX9ZRRmk10nXRxwXbN/NWeKwu/ZDWLEDaIDRr6lfVY5VIVb9S6Z1NIAWQ0qGzYD7r67j5IZUqNzKWdyY0yegd\u002b2RwkuE0BI8O4[...]
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-0517de00-4c82-96d2-31cf-93483eb9e2c5/test-blob-982642cf-9b31-5c7f-af27-186ea09c2ed9?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-0517de00-4c82-96d2-31cf-93483eb9e2c5/test-blob-27399c93-c416-62b5-ae04-fa51823b1a17",
        "x-ms-date": "Mon, 17 Jun 2019 20:58:29 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-content-md5": "teQ1VADQtOD7VtsVozf3ZQ==",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "Md5Mismatch",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\n",
        "\u003cError\u003e\u003cCode\u003eMd5Mismatch\u003c/Code\u003e\u003cMessage\u003eThe MD5 value specified in the request did not match with the MD5 value calculated by the server.\n",
        "RequestId:510ec03f-101e-002d-5e4f-25fe7d000000\n",
        "Time:2019-06-17T20:58:29.8437580Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-0517de00-4c82-96d2-31cf-93483eb9e2c5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:58:29 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1384700173"
  }
}