{
  "Entries": [
    {
      "RequestUri": "https://seanstageoauth.blob.core.windows.net/test-container-ee4d43b3-2ba3-fbce-2d3c-af9fef7dad3a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D91616FDE5A4E6\"",
        "Last-Modified": "Thu, 13 May 2021 13:57:05 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstageoauth.blob.core.windows.net/test-container-ee4d43b3-2ba3-fbce-2d3c-af9fef7dad3a/test-blob-f1451969-a8d7-0649-28b2-f38d5e921e58",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D91616FDFC27A9\"",
        "Last-Modified": "Thu, 13 May 2021 13:57:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstageoauth.blob.core.windows.net/test-container-ee4d43b3-2ba3-fbce-2d3c-af9fef7dad3a/test-blob-f1451969-a8d7-0649-28b2-f38d5e921e58?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "AViP/dcNx3F5321egBcul9ofybK12S1R2kSEkU+XjgniALZ0BmO4yHZWWi1B8dK11VpYv66w9ScrPSOSiTUh4VBke4BgupB3ZwA8X3//EOhyz7z1P85aMQqPSck/JT5ANHjd3HVRVBvK4FitdJanKy06ILp5LKKBCUl10XHHOEHB+yoHIjNzIHqhKl52rL1z5x2bBASExgfVW9Ms24KpA6gW7HhroAn5xwA/2AFDC1yMAupUKzM8PTQjMcZgRkT39ye2X8BECEYTojwERO4FklB2n9mYVNd12q9DSG9CmYC8SODZjaucR/qjQIj2OPhGHZ916qdqXqJQQIURAL/X0Am8R/wNKwSl2Vjf9RROfqG3/SvQzK7ZUek9iUwmikY6zG9/OvD7OPGa0BBPimmOAcLjWgOTBgN[...]
[...]
    {
      "RequestUri": "https://seanstageoauth.blob.core.windows.net/test-container-ee4d43b3-2ba3-fbce-2d3c-af9fef7dad3a/test-blob-384403fa-d26c-b509-32ac-af42be44f8b5?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanstageoauth.blob.core.windows.net/test-container-ee4d43b3-2ba3-fbce-2d3c-af9fef7dad3a/test-blob-f1451969-a8d7-0649-28b2-f38d5e921e58",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D91616FE3A1214\"",
        "Last-Modified": "Thu, 13 May 2021 13:57:05 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "Xb75CPB2xW0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstageoauth.blob.core.windows.net/test-container-ee4d43b3-2ba3-fbce-2d3c-af9fef7dad3a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1540261202",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanstageoauth\nU2FuaXRpemVk\nhttps://seanstageoauth.blob.core.windows.net\nhttps://seanstageoauth.file.core.windows.net\nhttps://seanstageoauth.queue.core.windows.net\nhttps://seanstageoauth.table.core.windows.net\n\n\n\n\nhttps://seanstageoauth-secondary.blob.core.windows.net\nhttps://seanstageoauth-secondary.file.core.windows.net\nhttps://seanstageoauth-secondary.queue.core.windows.net\nhttps://seanstageoauth-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanstageoauth.blob.core.windows.net/;QueueEndpoint=https://seanstageoauth.queue.core.windows.net/;FileEndpoint=https://seanstageoauth.file.core.windows.net/;BlobSecondaryEndpoint=https://seanstageoauth-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanstageoauth-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanstageoauth-secondary.file.core.windows.net/;AccountName=seanstageoauth;AccountKey=Sanitized\n\n\n"
  }
}