{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ae047e64-1856-f194-f1ee-160e254961fd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 19:04:43 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D376E30884E6\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:04:44 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ae047e64-1856-f194-f1ee-160e254961fd?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 19:04:44 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D376E31BC1C7\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:04:44 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ae047e64-1856-f194-f1ee-160e254961fd/test-blob-45b6a439-6496-37ce-cae1-7c7114be1c22",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 17 Feb 2021 19:04:44 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D376E325E9D8\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:04:44 GMT",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T19:04:44.3439576Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ae047e64-1856-f194-f1ee-160e254961fd/test-blob-45b6a439-6496-37ce-cae1-7c7114be1c22?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 17 Feb 2021 19:04:44 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023"
      },
      "RequestBody": "\u002BcpgF4e86oEm99hofi4deZ/LyOQV7nWehE2T09XJSUy\u002BT9GYFuSgb364fHxG8XVD0wPzyFaY8gpVwpI6KRasXK6LqS5dhGK7K1lmXHL4WJLXUADS1YH2JlzGQ1RRZUZnDB/OukhG5k6gOJz8MpWYXGr/Y9kW2YcslYLSlkEOasYT/lBTKp1KkWmxMZ3k\u002BfTHLubqUgFtUTKXoiXFdE8Nks7W6TNERDLMtNJvZKfqR5uOC2haIxfEpa0eu4h4hBwapJ/PDhDAgum0Hp0v/uyKrVqJN2nms262EUOGJoiqUzC1VMAIGzmLzYh\u002BpQV6lafBkw4t702zNPEwGPzMOlthCspteqorgpEh/mngZw1pO3ybxZN5fGTiAR/P2AI8vpMtHZs6DRv9lRF9DPDk08zjx91/MHXI541mi3iKW6qP5UDVskpyL[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ae047e64-1856-f194-f1ee-160e254961fd/test-blob-34ff3f6f-000e-7ed3-78ad-3216c7f19a5f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 17 Feb 2021 19:04:44 GMT",
        "x-ms-encryption-scope": "seanscope1"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D376E33AAE20\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:04:44 GMT",
        "x-ms-encryption-scope": "seanscope1",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T19:04:44.4800544Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ae047e64-1856-f194-f1ee-160e254961fd/test-blob-34ff3f6f-000e-7ed3-78ad-3216c7f19a5f?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-ae047e64-1856-f194-f1ee-160e254961fd/test-blob-45b6a439-6496-37ce-cae1-7c7114be1c22",
        "x-ms-date": "Wed, 17 Feb 2021 19:04:44 GMT",
        "x-ms-encryption-scope": "seanscope1",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
         "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "BwtXzekunBlFnM1pu9YAIA==",
        "ETag": "\u00220x8D8D376E373F0FF\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:04:44 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-encryption-scope": "seanscope1",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ae047e64-1856-f194-f1ee-160e254961fd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 19:04:44 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "880509832",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}