{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-84a37830-8306-91a5-cecb-eef37a3930a8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 01 Jul 2019 21:57:58 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6F2DF687BD\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:57:58 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-84a37830-8306-91a5-cecb-eef37a3930a8?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 01 Jul 2019 21:57:58 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "\u003cSignedIdentifiers /\u003e",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6F2DF88DCD\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:57:58 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-84a37830-8306-91a5-cecb-eef37a3930a8/test-blob-78bc6b9d-30a6-abe7-55c3-6a2d72ca34b9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 01 Jul 2019 21:57:58 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6F2DFA8BD0\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:57:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-84a37830-8306-91a5-cecb-eef37a3930a8/test-blob-78bc6b9d-30a6-abe7-55c3-6a2d72ca34b9?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:57:58 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "AlfrUTyL6L/FGB0MKf2ZY\u002b3x274GUCze3K0JJ9ZcjIMuPKWhf4vAi9R0GmNRODu8azZoDAcMF7IqDXSPgcHpaIya3uxX\u002bORhMVDqkTXJjKRxTbyf9IB7ISTzdnEXMAkTirLXtllOZHJSBtu3IoV8YYDPHjQFSXMLHrzIZIFySgBG1weD8dZLIulJTO6kxP\u002bedhTxRxLVDkA/y5edhv/w37vacEt\u002b\u002bW\u002bqhPtLu/yEZlq9Ku5tgQPuccnGRCY\u002brZzpWG0yylSzH3ylRsIWilJDumQ94FsRg1647P\u002bCuLVJbNZfYWOPUZwGCQpxyDpA1\u002bd2gonBAM1A2NQOet5UMGfHW9rrtyjus2jIN9ZRn7skeBQYCzUrh2[...]
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-84a37830-8306-91a5-cecb-eef37a3930a8/test-blob-b4664b25-8de2-e76f-cff6-cec551421b76?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-84a37830-8306-91a5-cecb-eef37a3930a8/test-blob-78bc6b9d-30a6-abe7-55c3-6a2d72ca34b9",
        "x-ms-date": "Mon, 01 Jul 2019 21:57:58 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Wl4CYaVijQ9CQyxEICctHA==",
        "ETag": "\u00220x8D6FE6F2E01B988\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:57:58 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-84a37830-8306-91a5-cecb-eef37a3930a8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:57:58 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2053729437"
  }
}