{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-64c3e1a8-fad9-9249-0f61-afa2ec6bb503?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 12 Jul 2019 17:57:09 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F25C1BFC49\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:57:09 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-64c3e1a8-fad9-9249-0f61-afa2ec6bb503/test-blob-68184ad5-6308-40b5-2b7a-22327747a286",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:57:09 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F25C1DEE60\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:57:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-64c3e1a8-fad9-9249-0f61-afa2ec6bb503/test-blob-68184ad5-6308-40b5-2b7a-22327747a286?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Sat, 13 Jul 2019 17:57:09 GMT",
        "x-ms-date": "Fri, 12 Jul 2019 17:57:09 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "KBXNoVNN\u002b8OBNULkE7dB0yP5lxJc1odVuaVw/hqhxubHvApiegAzH9KJ4d08q18/x3XvgKyfCVGOd\u002bit3Pyp325cHFet31kixXg/0/SpGQ5GMTelsUY6KLO40wIYhULW4AFv4I8IkucczbozXzZd5F7aZ6vFBC4oIfSj9AxWCj81afPyOjh/Pp5PieSLBsh8W\u002b6kPh6XEdvTR76aZJ3bxcJ6/vZDaqolWykMdXpJnBsrJ5kdscwhnlcXH/N55NkBc8MiEQjSOfBEfuP0ipthiqqjbz0DvhP1WV\u002beK0u3rHZPCgK3JosTWe2p2TPpLBO8tpRI1nSc/rWvLLioMw6ljNJspYCYqWMfkBZQWuTgDCxM4nW2btYCswxNB/rSaybfA0xgfYeTIww[...]
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-fef3f2f3-6035-530a-570b-7172afae475f/test-blob-2d6e5779-194f-f053-bbe6-2fbbc762e379?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 11 Jul 2019 17:57:09 GMT",
        "x-ms-date": "Fri, 12 Jul 2019 17:57:09 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "Taz5WEAZDywpOJfQ1g\u002boFZrVVb4qKpLR2oAGy5Ka3xhOw20aaYo59\u002b2UafkPrBcX23EeO07ZQSMZJ32/E0Sajlh/ghOijasPm13QlcGYwi1p7/AgfKTJdIFJAEIMeuSp\u002btqhkCoEdE7FDp/wCaxigGVQVSNTeRK0tQ6RWIxpAiB4Jpvm9zEDZXqiW20E2GrV53/dvCXAVYHI7NscchzBXAx\u002beOIRe4kzTO\u002bpsR2ksNyjvHENjEX7[...]
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-9ea7b8c3-d27a-5674-bc47-50cf6151cfaf/test-blob-bc58472b-3904-f34e-df11-840c71cd5c3e?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-date": "Fri, 12 Jul 2019 17:57:09 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "cdujGvkTqhno3fGvK/17oFVB5xhNWiggi0UNSwqFoSIF9pqWKUJFvIbGk28YC\u002bexPY9zEdXzQBeyg46zBV4PYjvPqjVi5XcT\u002byqRhsa4B4BeXA16EY9NEbaD5KazkbcotzAzSWGxT1gYYBWrYblQ\u002bXsOValQlFCsgZh/3gHQX2lzac\u002bWhL0erAy1YrF6orD8MuoqpTwO1yLgh8fJMnBXRwGrN/jqunS976icmzKfMd/ngqwWprotZZGttvz1VXmcXhu[...]
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-7805803e-9cf2-0cce-c1e9-5e50b11a8af8/test-blob-553e9202-a275-5b09-f55c-6b5cc8a4ba23",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:57:09 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D706F25C4B992D\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:57:09 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 12 Jul 2019 17:57:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-7805803e-9cf2-0cce-c1e9-5e50b11a8af8/test-blob-553e9202-a275-5b09-f55c-6b5cc8a4ba23?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u00220x8D706F25C4B992D\u0022",
        "x-ms-date": "Fri, 12 Jul 2019 17:57:09 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "MJN6cE1/rKbOZJmQBAJ2cKIVWTRWm0eZXxeWkYoJ4lSMZtdSCUkIg\u002beoUHec8gLOFmEX4w4j4JRL4RE26BobxIJEA54qI2ZZDNVNrkvP/G0Ux3op8v5GaYZDByg40pvMjIv1V\u002b5kpPP6vdY41TFIe\u002bSjISCf8dKD/ZkX5hw\u002bITo6gCHA2aV\u002bsCOHLjQoDZRU\u002b4tDlLB7LZu4clpUTL3WvJyc/lQQiKE/JXH9F8OeWvAFw\u[...]
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-d6654d26-f845-a84c-c02a-db1ce242ab21/test-blob-c310f3eb-856a-5b2d-4ffc-fede83a8cea2?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:57:09 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "ee315658-e832-0ab7-974c-e314cffebead",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F25C5D77D6\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:57:09 GMT",
        "x-ms-lease-id": "ee315658-e832-0ab7-974c-e314cffebead",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-8840655a-3e30-315c-b5c6-81112a6ba4d9/test-blob-e5e98eac-b15f-ecd9-eb81-4d2b01ed5c81?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:57:09 GMT",
        "x-ms-if-sequence-number-lt": "-1",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "mMNlnIG\u002beYM\u002bx1NZq4ScyFDf2bksAQ9mpIgwvN5VDoUnSpM\u002biMD/X6MD7ufykLUwBgoy/4yg1Zez/vf5jbyk6LjNMmHxXT\u002bQ33kVKRIodBPT/7bUIg/5hnX7i4nIBtHmXgYuJF5UP6jKoh8Si6uFiorjJo4G0MWp1Kvr9dK2x9moLssM\u002bU\u002b1fr8NCoDv5vvJdgD/5N9C4I5AhVCyaErWE9tFaVzgeJE6LqfO\u002bMVFue2wIn7RtuL5ZU49y3T\u002bAhV1N/akqnye6f1vxbY4dOjI\u002b8tjAkbLBV34SwQOoq0cOyyRWMHOo[...]
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-95937237-afc0-2800-873b-916cfde8eb5c/test-blob-27957da1-f62b-fde3-79c7-c4213b8c03d4?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:57:10 GMT",
        "x-ms-if-sequence-number-le": "-1",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "dIbLf1LEMfr9lWfgns\u002bZIWzQn/kR8Zl4hcGlbA6U86rABKy1wIOBzPa62NzBGDWyJMbiOS8OroPsU/qRH8TsaKG8H5ki42HpTtMCVhi9t22L8khIsbl6slYpyW2J8Kwyzm86BPibj0Bl\u002betcC1dqL5uNBS17o7foQm1D\u002bRrzYF4mz4iogrJ08GIH47fNHqb\u002bvpnR\u002b\u002bt/tiq4UsKKWJYmcZmNNjzPwazpGBXKdMD/GiPHRDqBImRzphhd8DDv6pfM4XEeQOdqL/3s5\u002bPVtEJpuDefwxNbpU41Go8jctF8\u002bi59/pNP4dk7XB[...]
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-97465d96-39c5-65f0-59e4-ebf01e2f100d/test-blob-42d70424-bff2-0310-523d-9f4a85956276?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:57:10 GMT",
        "x-ms-if-sequence-number-eq": "100",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "4DrLGljNGzZHcBWeRX92ouduNNnOxKYkniWvp1\u002bUrobR32lKykgeIwOU95nqx2sT072U5peS8RyUp3syHXPXs8GPzWUWK9ieTxHVOswNOde5m9Oh/8jvPu5MtiLM6wWQvETXW/oF/ajl9paFvLZQhm2keYGfNbP5n453yXS10mQMRX2HNd7ds54ruwkyaoE3/C\u002b0KHKD8IaQ3rxrjjQzMCMxeXc5yFGPx8XjdHmqxzUNP8xFAKnxiFX29lcicSVp\u002bIvlAPAK/jTeJWGtn3wN5heGXk5n7i95P/EiQtH5bVWgeXvtxMdEAkGYZttIROjY6RBAmxPWAQpca8[...]
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-97465d96-39c5-65f0-59e4-ebf01e2f100d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:57:10 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-07-12T10:57:09.3544277-07:00",
    "RandomSeed": "215339906",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}