{
  "Entries": [
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-4d3fbb2b-5125-5dbd-3358-b8c099c8d84f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 25 Apr 2020 01:15:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B63320F0D2\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:15:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-4d3fbb2b-5125-5dbd-3358-b8c099c8d84f?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 25 Apr 2020 01:15:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "\u003CSignedIdentifiers /\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B6332CB97B\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:15:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-4d3fbb2b-5125-5dbd-3358-b8c099c8d84f/test-blob-562089c9-90ce-e08d-7d13-08eb10359ba4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Sat, 25 Apr 2020 01:15:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B63338C315\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:15:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-4d3fbb2b-5125-5dbd-3358-b8c099c8d84f/test-blob-562089c9-90ce-e08d-7d13-08eb10359ba4?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:15:53 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "v9KO4VZ\u002BdCnZDF7L\u002Bmv7cqWlpDBVKlaqCpDFwKmOz8K7SKc4xUjBx91C\u002BxHRezpjNg63KeJQTZV849fGubR/SjycELLEw6xc491TEi5E2Y5VYYma1qbfavsRvOJx\u002Bw4owrDVNGuIn3NiW0YF/DpmOApIcFcr5HSVvKW3sgbK6\u002BfPK1B\u002BbqQizcEVOHtg2m7Aq4PYKIu2/d07P3jF0O1smG9eNtHp58llJaKVFaz5NeI39gaD8cJcGC1yQi4sXfzUqKALAaSc18O5cgLoIOcxQgmVjtrm6aasAR2kd6WbOcilwW0L7jQ\u002Bmh9CyX6/c/hFQQAkls4i7r76Xv\u002BG\u002BGAeHjk6Q196JlTVVvO7oyAn7Y4kXjWkdq[...]
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-4d3fbb2b-5125-5dbd-3358-b8c099c8d84f/test-blob-0c10e54f-be64-fbc8-ba36-7184627542f7?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://amandacanary.blob.core.windows.net/test-container-4d3fbb2b-5125-5dbd-3358-b8c099c8d84f/test-blob-562089c9-90ce-e08d-7d13-08eb10359ba4",
        "x-ms-date": "Sat, 25 Apr 2020 01:15:53 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ILDAVIexD0BMKRO3Q/fqHw==",
        "ETag": "\u00220x8D7E8B6335F7F8D\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:15:53 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-4d3fbb2b-5125-5dbd-3358-b8c099c8d84f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:15:54 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "610096824",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttp://amandacanary.blob.core.windows.net\nhttp://amandacanary.file.core.windows.net\nhttp://amandacanary.queue.core.windows.net\nhttp://amandacanary.table.core.windows.net\n\n\n\n\nhttp://amandacanary-secondary.blob.core.windows.net\nhttp://amandacanary-secondary.file.core.windows.net\nhttp://amandacanary-secondary.queue.core.windows.net\nhttp://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandacanary.blob.core.windows.net/;QueueEndpoint=http://amandacanary.queue.core.windows.net/;FileEndpoint=http://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Sanitized\n\nDefaultEndpointsProtocol=https;AccountName=ortestsaccountcbn1;AccountKey=OrRfzSm3ktQSklAGiL90/QusS7SdS6Y5S/AJoxZEeyKYDtnue7OKYIMLOraTnT4xcOyhYbqzWVmtTKappcc5Fg==;EndpointSuffix=core.windows.net\nDefaultEndpointsProtocol=https;AccountName=vbalaorcentral1;AccountKey=vlHMz/LZ3Sx7r/1bdTQT26pG0tqORQ4uTIcxGhHB0LQhIhqGxfv2TXV7u\u002BI2ra4UWXrWGGHG2N6l\u002BBfb5FgAcQ==;EndpointSuffix=core.windows.net"
  }
}