{
  "Entries": [
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-4e9cc0e1-44ed-23d8-1eec-7c05b2cdca11?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 03 Jun 2020 17:29:00 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D807E39A2CBAE7\u0022",
        "Last-Modified": "Wed, 03 Jun 2020 17:28:59 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-4e9cc0e1-44ed-23d8-1eec-7c05b2cdca11?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 03 Jun 2020 17:29:00 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u003CSignedIdentifiers /\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D807E39A5BFAEA\u0022",
        "Last-Modified": "Wed, 03 Jun 2020 17:29:00 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-4e9cc0e1-44ed-23d8-1eec-7c05b2cdca11/test-blob-17ef7bb6-7901-3944-202a-3862dc8ade97",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 03 Jun 2020 17:29:00 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D807E39A65B153\u0022",
        "Last-Modified": "Wed, 03 Jun 2020 17:29:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-06-03T17:29:00.2251603Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-4e9cc0e1-44ed-23d8-1eec-7c05b2cdca11/test-blob-17ef7bb6-7901-3944-202a-3862dc8ade97?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Jun 2020 17:29:00 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u002B\u002BTGkktmVRIogqQOW3hAf2p/DK7p1TjMk3amJnX2sKOVnbepj\u002B1kgSFnPhdKbVB\u002BSYPBgIZCvSWr\u002Bv/UwC6dMtIAeb3Alu99G4uMgpchgSUlJ93yNS8cUuCS/ZXuj8HzygxESvSTvrOUQ2X7tjuOinjZrplQq/2j4ybcLphajovKmbeK3DcxkmkqXfHJIJylA3McFOAnoh8PoWfNt48aObTaMRyDBK1BqBwwJk0L2cKKNyskPnqqoveYezvPY9vZDyQ87\u002B9/Iv/F2mzE93vRA8ekQn9k9fs6L48k6ohxcURBVhcpz\u002BrTChUrXmMO5qp8xnd0KyBbdBkoAsBfWzd2VGgngqFjqDTc0TdqOJaYLEjkqCMR/EYk5uH\u002[...]
[...]
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-4e9cc0e1-44ed-23d8-1eec-7c05b2cdca11/test-blob-16702c9c-076d-79a2-d0d4-73e9693f8897?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Wed, 03 Jun 2020 17:29:00 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EcoolTag\u003C/Key\u003E\u003CValue\u003Etrue\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-4e9cc0e1-44ed-23d8-1eec-7c05b2cdca11/test-blob-16702c9c-076d-79a2-d0d4-73e9693f8897?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://huxcanadac.blob.core.windows.net/test-container-4e9cc0e1-44ed-23d8-1eec-7c05b2cdca11/test-blob-17ef7bb6-7901-3944-202a-3862dc8ade97",
        "x-ms-date": "Wed, 03 Jun 2020 17:29:01 GMT",
        "x-ms-if-tags": "\u0022coolTag\u0022 = \u0027true\u0027",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sjiw6pH14TssmRWx5Rjsew==",
        "ETag": "\u00220x8D807E39A94454F\u0022",
        "Last-Modified": "Wed, 03 Jun 2020 17:29:00 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-4e9cc0e1-44ed-23d8-1eec-7c05b2cdca11?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Jun 2020 17:29:01 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "916369160",
    "Storage_TestConfigDefault": "ProductionTenant\nhuxcanadac\nU2FuaXRpemVk\nhttps://huxcanadac.blob.core.windows.net\nhttps://huxcanadac.file.core.windows.net\nhttps://huxcanadac.queue.core.windows.net\nhttps://huxcanadac.table.core.windows.net\n\n\n\n\nhttps://huxcanadac-secondary.blob.core.windows.net\nhttps://huxcanadac-secondary.file.core.windows.net\nhttps://huxcanadac-secondary.queue.core.windows.net\nhttps://huxcanadac-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://huxcanadac.blob.core.windows.net/;QueueEndpoint=https://huxcanadac.queue.core.windows.net/;FileEndpoint=https://huxcanadac.file.core.windows.net/;BlobSecondaryEndpoint=https://huxcanadac-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://huxcanadac-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://huxcanadac-secondary.file.core.windows.net/;AccountName=huxcanadac;AccountKey=Sanitized\nseanscope1"
  }
}