{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-47c859cc-510e-6661-ae90-194a5d3663ec?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 21:21:36 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14B2FD62D5B\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:21:36 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-47c859cc-510e-6661-ae90-194a5d3663ec?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 21:21:36 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "\u003CSignedIdentifiers /\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14B2FE2FD79\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:21:36 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-47c859cc-510e-6661-ae90-194a5d3663ec/test-blob-418b5383-5be7-783b-d7c0-924f302fcadb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 05 Mar 2020 21:21:36 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14B2FEF9551\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:21:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-47c859cc-510e-6661-ae90-194a5d3663ec/test-blob-418b5383-5be7-783b-d7c0-924f302fcadb?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:21:36 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "oj55yWCGu1SgAJz\u002Bjxv8zNpdeEk0Xk5LYGW9AMMZsVa/qplM/DbIbyGNMDmJPzE6g4T27dGnD0TvLmj6ybqQhk5FPuWBsNCklQknpi0VwSA0gn0/I8SFF5tVXc3NzaVn/arqRABMuNO0UljHf2gW2W1HxkY9UGOKvydKK1IC18djwKiDK30g6MmpitBrvZcyP4NghQZeKqxGX4TZAo2AsXqQY7\u002B/k67wJ959k8aSHwKPF\u002BzPoVLBBZb8Pcv4R\u002BY8KNhW2lnYcqzUcF0n4Zbmsz\u002BCSeqgsRAoz14pw1bi9\u002BD4QGrtPESot6RA\u002BjH0mSP/FYmLdv37m3fILQv7r69W8Xl9L6Es\u002BXf72pJFYLfeNDU7Ka3MV4Hi/aT[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-47c859cc-510e-6661-ae90-194a5d3663ec/test-blob-c9b527b4-6d01-537c-fef7-e4685b2faa4f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 05 Mar 2020 21:21:36 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "oxjMV/hFKQdg6cUIiEjUYIgvFMqHCf8wUn8lIlwTj8A=",
        "x-ms-encryption-key-sha256": "AEziNlZFLDZqGVrVC8qf4cQ5X4z5ITVXohbIlC\u002B\u002BbOQ=",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14B300987A5\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:21:36 GMT",
        "x-ms-encryption-key-sha256": "AEziNlZFLDZqGVrVC8qf4cQ5X4z5ITVXohbIlC\u002B\u002BbOQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-47c859cc-510e-6661-ae90-194a5d3663ec/test-blob-c9b527b4-6d01-537c-fef7-e4685b2faa4f?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanstagetest.blob.core.windows.net/test-container-47c859cc-510e-6661-ae90-194a5d3663ec/test-blob-418b5383-5be7-783b-d7c0-924f302fcadb",
        "x-ms-date": "Thu, 05 Mar 2020 21:21:37 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "oxjMV/hFKQdg6cUIiEjUYIgvFMqHCf8wUn8lIlwTj8A=",
        "x-ms-encryption-key-sha256": "AEziNlZFLDZqGVrVC8qf4cQ5X4z5ITVXohbIlC\u002B\u002BbOQ=",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "f6BFRA5K34aBfPHL\u002BOUnDg==",
        "ETag": "\u00220x8D7C14B30385DF2\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:21:37 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-encryption-key-sha256": "AEziNlZFLDZqGVrVC8qf4cQ5X4z5ITVXohbIlC\u002B\u002BbOQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-47c859cc-510e-6661-ae90-194a5d3663ec?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:21:37 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "815553919",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}