{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-3c0e84d3-5b6e-8f0f-6492-eb5839c24894?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 12 Jul 2019 17:57:47 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F2730E3FEF\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:57:47 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-3c0e84d3-5b6e-8f0f-6492-eb5839c24894?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 12 Jul 2019 17:57:47 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "\u003cSignedIdentifiers /\u003e",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F273102300\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:57:47 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-3c0e84d3-5b6e-8f0f-6492-eb5839c24894/test-blob-1f7961c1-3ce3-698d-27e8-50f43f2194e5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:57:47 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F273123009\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:57:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-3c0e84d3-5b6e-8f0f-6492-eb5839c24894/test-blob-1f7961c1-3ce3-698d-27e8-50f43f2194e5?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:57:47 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "Aq8IXZRD7YpYZkGKzRxOnAIkmycCeL2l5JtBe567hNm0//CSvzIyeSM0eHAXN9hCwA5u/YUIi4rxY3n4AnHrnOFn1c4su9zP8iIEzgBNja3C/7uQTYdTrHNloFu4OXexSNuOr2EKFQQxngtjBL2KpNXMNQO2W09aFClaxhuBFrirUoUkv95LuOm3X6988Ke12/uG7ARz\u002b\u002b2MM5s4r07osIdSuLE4ZeX2gH0Z/vuf3iOBpesf\u002biq0N1eXmItDEwiazq8oKjf1fHUWj2yGWvzx7FV3tgpjybVdnYFaoM1Zs2x0fy9Md7TsjCh1CGu9Ld1apaw2zF3\u002bNgX6y4y2mtyovNwAEtrMpXSgiini7cBKn2\u002bkAPshI\u002bYOdUgqUqwnNvFMz[...]
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-3c0e84d3-5b6e-8f0f-6492-eb5839c24894/test-blob-5de7257e-46ca-4b51-199e-b7a0e2f2e183?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-3c0e84d3-5b6e-8f0f-6492-eb5839c24894/test-blob-1f7961c1-3ce3-698d-27e8-50f43f2194e5",
        "x-ms-date": "Fri, 12 Jul 2019 17:57:47 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-content-md5": "eVoTERTHBE2f38\u002bFGCAdfQ==",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "eVoTERTHBE2f38\u002bFGCAdfQ==",
        "ETag": "\u00220x8D706F2731B32EE\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:57:47 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-3c0e84d3-5b6e-8f0f-6492-eb5839c24894?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:57:47 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "544943547",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}