{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-47c859cc-510e-6661-ae90-194a5d3663ec?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:51 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB34B744CB\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:24:51 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-47c859cc-510e-6661-ae90-194a5d3663ec?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:51 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB34C15944\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:24:51 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-47c859cc-510e-6661-ae90-194a5d3663ec/test-blob-418b5383-5be7-783b-d7c0-924f302fcadb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:51 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB34CBA279\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:24:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:24:51.7843342Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-47c859cc-510e-6661-ae90-194a5d3663ec/test-blob-418b5383-5be7-783b-d7c0-924f302fcadb?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:51 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "oj55yWCGu1SgAJz\u002Bjxv8zNpdeEk0Xk5LYGW9AMMZsVa/qplM/DbIbyGNMDmJPzE6g4T27dGnD0TvLmj6ybqQhk5FPuWBsNCklQknpi0VwSA0gn0/I8SFF5tVXc3NzaVn/arqRABMuNO0UljHf2gW2W1HxkY9UGOKvydKK1IC18djwKiDK30g6MmpitBrvZcyP4NghQZeKqxGX4TZAo2AsXqQY7\u002B/k67wJ959k8aSHwKPF\u002BzPoVLBBZb8Pcv4R\u002BY8KNhW2lnYcqzUcF0n4Zbmsz\u002BCSeqgsRAoz14pw1bi9\u002BD4QGrtPESot6RA\u002BjH0mSP/FYmLdv37m3fILQv7r69W8Xl9L6Es\u002BXf72pJFYLfeNDU7Ka3MV4Hi/aT[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-47c859cc-510e-6661-ae90-194a5d3663ec/test-blob-c9b527b4-6d01-537c-fef7-e4685b2faa4f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:51 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "oxjMV/hFKQdg6cUIiEjUYIgvFMqHCf8wUn8lIlwTj8A=",
        "x-ms-encryption-key-sha256": "AEziNlZFLDZqGVrVC8qf4cQ5X4z5ITVXohbIlC\u002B\u002BbOQ=",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB34DCBC9B\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:24:51 GMT",
        "x-ms-encryption-key-sha256": "AEziNlZFLDZqGVrVC8qf4cQ5X4z5ITVXohbIlC\u002B\u002BbOQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:24:51.8954139Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-47c859cc-510e-6661-ae90-194a5d3663ec/test-blob-c9b527b4-6d01-537c-fef7-e4685b2faa4f?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-47c859cc-510e-6661-ae90-194a5d3663ec/test-blob-418b5383-5be7-783b-d7c0-924f302fcadb",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:51 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "oxjMV/hFKQdg6cUIiEjUYIgvFMqHCf8wUn8lIlwTj8A=",
        "x-ms-encryption-key-sha256": "AEziNlZFLDZqGVrVC8qf4cQ5X4z5ITVXohbIlC\u002B\u002BbOQ=",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "f6BFRA5K34aBfPHL\u002BOUnDg==",
        "ETag": "\u00220x8D8D2EB34E94202\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:24:51 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-encryption-key-sha256": "AEziNlZFLDZqGVrVC8qf4cQ5X4z5ITVXohbIlC\u002B\u002BbOQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-47c859cc-510e-6661-ae90-194a5d3663ec?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:51 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "815553919",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}