{
  "Entries": [
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-8726014a-16d4-0921-8cb4-1956330db459?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:34 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D86A2B90E\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:58:34 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-8726014a-16d4-0921-8cb4-1956330db459/test-blob-bb62a786-8f61-2133-afb7-9582ecee8f22",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:35 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D86A6D3D6\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:58:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-8726014a-16d4-0921-8cb4-1956330db459/test-blob-bb62a786-8f61-2133-afb7-9582ecee8f22?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Fri, 02 Oct 2020 22:58:34 GMT",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:35 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "UCMLpCxP5bYlLnlKDYw9vJdvnA5CvBqsn3g24JlhhDqXfVbA53r5lvj1rdktwRpXSHiIQWpwwpMJXwW0GQUcxKk\u002Bs482fdUddQYWTA9Af91d35gh2EPQJrvCtoh1RX3z2Ogw7g2KIMqia8tkWnWEyN8nVjlt\u002B\u002Bxlbo3TdMZNqDCII3QmEJDP077Nfmx3bMtGPe6oTe5Dht38yoCAt6wDVcOb2zcBXbdOWIN7n31/7gHBjTbYpVpBRZ2WKkYQTxwSySmo3JGUReA2WfVqx\u002BZffNt\u002Bvil1K7BoWZWaajJwPghnadVU1xFwLEhWoUtl1322N65qkZDynJ14QIP7\u002BtqtxRrsA14RC6XKDpLgH4pkA4IX4zOEBq14dMw325eNdTJtq[...]
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-6c9222eb-0895-0ffe-1c60-ccdddc3dd17d/test-blob-67dfc942-3a79-4f8a-53e2-e55b97cdbc39?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Wed, 30 Sep 2020 22:58:34 GMT",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:35 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "cI1/PWcsx1uxruRT5qF574dOTEzeMjTd23Cr0VGVVCCBS3hI5B4u4oKT2FUp6DKxFKb6jRVYKT1YomH3gPYJG1rE0ZsoMQtpIGnKS1nftPM9\u002BryqmsYLKCE770K9NmGLib36ZRaXiOObkW2rjd7jee5tuoY5X4GUuKl57EHIq\u002BkIPsKc5E7dpXHYDghYX5tDWHZUT3zbUSk7ZqxtHZui0uaEo04bRpSfkBUUYVB4O1gNNpTLdFxsLOyYYX6icIfVNjw[...]
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-7359a939-7e29-0ad8-0099-2032c2d633da/test-blob-21a33f25-cf5a-698a-16ae-dd4e664077ba?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:35 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "CpM4yaQbx1/i8aXD47fnICAoTwHOIxdO4hZFaW\u002BL/WBb/sjuvcQQ45wTcbFvrkLBmjawi8w6H\u002BZ76uaO1l7vVvNFaOXv\u002BWJbF2tlu7Jm3zTTg88523KTIN7ictPdgg0\u002BIxq9KkVc0qDTVXRh1WQ0FQqyulKOtXuBsUcHDIeOfZVdJpeYqbTud7AvZYb9MUt6rl3IK8e6sG6eO3j\u002BVcUZRNffBK7Nm2tWxEOhXlD1g4D7jF4pxlLNonYp\u002B[...]
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-c3e73f6d-ca5a-ef89-e32a-8dce6f3a4676/test-blob-79a44d64-41e7-4e30-262c-bbf4270d9c2e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:35 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8665D8714562B\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:58:35 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 01 Oct 2020 22:58:35 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-a2aa4fac-9789-2643-28ac-a37e31b467fc/test-blob-2fc3cd4b-80ab-d614-fff6-311da223aa04?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:36 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "4617fc0d-e66b-e395-5e4b-5a5c2d630205",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D87455D14\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:58:36 GMT",
        "x-ms-lease-id": "4617fc0d-e66b-e395-5e4b-5a5c2d630205",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-c2a1e8c6-9b41-9ff3-a882-f84aceb2f004/test-blob-bb421443-35bd-2f6f-bc58-edd75df2bbc9?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:36 GMT",
        "x-ms-if-sequence-number-lt": "-1",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "CN\u002BoMvauC/1zIRCMYc1B15Nf3u016y13aI0jA1iWReRwNJgOO5KXSmS/XHoWXGHQfhZ2fOjTaR2xMcpoiwel3NssHCw1M5wByJSJdo6zYAssU4VBH8n7nMt7XArIL75cGX\u002Be6kA0mkp6dbNUSvKO/tG\u002BPDiCY70SMH9hudaROZjVLFwPFHXL97g6x6oVp1LZ7F44CfOG2bbCjLnB0\u002BF06Dsbfh2Wf\u002Blb8kSASJsT/IksiMx3WS\u002BlT1OlTYe8CSTXxd9u\u002Big1Q2103ReuBZEbro8vlUsU/I8LdS/K8DJinukgqYK7pAJg9kRfA3s[...]
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-a3e0357a-9a31-eae5-0151-e243c0c276e7/test-blob-9cf5a8eb-72b7-58b6-8214-89f78a0c8c9a?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:36 GMT",
        "x-ms-if-sequence-number-le": "-1",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "mFd0NbFWLgm5/mbu0jQpIET\u002B7IQf1ioDYeqmTc8Jz9xXiOnX7pvYtNfj/HJydiD9ZPKgKW3t\u002BMItcNPHsOA5sC6JlkpKUjGoJTesPNm3kOrJqejdaKZuapAnqn3HEQT2qUtE6eDWshHA\u002BAM1QLvodeDo/Qf4XEiIGiy6I6i04BQztZONc6cK8/bXHXCiOSnUPzSd3xT9/kwDvM6zHI9pDBfvAYooWgI43QkQID/Y5eEC5eNzFgEANrZGirfZVtdmbRBYszefq\u002BUyZAEK7N0NK9btsTas9vUV78vT4tBKX4YyqbMufzGpYzr\u002BQbEA9UnZOF7g6[...]
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-52cb8eb5-78d1-d2b3-4667-c9d91cd4416d/test-blob-8ab08f4c-3fb9-62fd-368b-908a82cb4415?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:36 GMT",
        "x-ms-if-sequence-number-eq": "100",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "uCOUHVNwRr0SMAPEoR1JMcsAvGovRpSgtSLxvRIZoZmjuyj2cKE8XdLf7E8a6Rr5kEqY3THns3GO82gxfoiq\u002BI5qIOX1U8Eqw16XUFpEhswH\u002BCzHgcRnuwi2Z3w4C95JNPPAsMg1Az2JbRnTT2MXSm2cKYZc4nbKAmXcP\u002BtE8bh/Thtmg9UD0vTuPROqlGulnh0OnOFY7VF89q5jWMRSRXxhUwFHscaYmFeSbaViIG35N6DONVXWJ2DK6Y0noHkvnPiXSUBpXe1XdgOJxn\u002BsGdZAaSEkhA8niiygfcc5cfjeYtGsy9Ytj9qyd75RTWHhHc\u002B3[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-52cb8eb5-78d1-d2b3-4667-c9d91cd4416d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:58:36 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-10-01T15:58:34.8714841-07:00",
    "RandomSeed": "1027852245",
    "Storage_TestConfigDefault": "ProductionTenant\nstoragedotnettesting\nU2FuaXRpemVk\nhttps://storagedotnettesting.blob.core.windows.net\nhttps://storagedotnettesting.file.core.windows.net\nhttps://storagedotnettesting.queue.core.windows.net\nhttps://storagedotnettesting.table.core.windows.net\n\n\n\n\nhttps://storagedotnettesting-secondary.blob.core.windows.net\nhttps://storagedotnettesting-secondary.file.core.windows.net\nhttps://storagedotnettesting-secondary.queue.core.windows.net\nhttps://storagedotnettesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://storagedotnettesting.blob.core.windows.net/;QueueEndpoint=https://storagedotnettesting.queue.core.windows.net/;FileEndpoint=https://storagedotnettesting.file.core.windows.net/;BlobSecondaryEndpoint=https://storagedotnettesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://storagedotnettesting-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://storagedotnettesting-secondary.file.core.windows.net/;AccountName=storagedotnettesting;AccountKey=Kg==;\n"
  }
}