{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b3a17616-4f21-b243-5ce5-2f1e43831b3c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:51 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB35163E2E\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:24:52 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b3a17616-4f21-b243-5ce5-2f1e43831b3c?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:52 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB3520055E\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:24:52 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b3a17616-4f21-b243-5ce5-2f1e43831b3c/test-blob-f27b17ae-acdc-034a-902b-426725084a20",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:52 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB35298B09\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:24:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:24:52.3987721Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b3a17616-4f21-b243-5ce5-2f1e43831b3c/test-blob-f27b17ae-acdc-034a-902b-426725084a20?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:52 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "vNz9eMNKFyY8Uw/iERjntk5l2zrrrWubB5mgUXJ72S22\u002BJgz6pVV6ptpJqSyQtSsLD/Z\u002BkFFMw5wYnApqcWzwHrhLBmAs8y5D/CegofG6MXF9CUzot7sccSJwockK0DVtWYq0Ra6K3hzIOpQprGHqnqrY7SfgB2b9btV9vBElOSvyc0gnBeuC8mtwIL0nMoTAhgNeMeMNTVIjtxbZTSHLosFoN3kZg1i/Fjr8sCbpljwQfTXNhscI5OX1w47U6WUJZH37vvtL5wLq3xvoUN0reeDayNAr/hv6XxKTI7/J6myVswuo7ddAxJXzIufrYJPIykmt\u002BiCVHaZiAV\u002Bo\u002BMNDIPSvEp2RQovJmcR6ONszzv6\u002Bihk2XDBMAFWlRuy3mAvS[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b3a17616-4f21-b243-5ce5-2f1e43831b3c/test-blob-b076fa02-76a6-c657-8b58-f9714ab5ca1d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:52 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-scope": "seanscope1",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB353D8BD7\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:24:52 GMT",
        "x-ms-encryption-scope": "seanscope1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:24:52.5298647Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b3a17616-4f21-b243-5ce5-2f1e43831b3c/test-blob-b076fa02-76a6-c657-8b58-f9714ab5ca1d?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-b3a17616-4f21-b243-5ce5-2f1e43831b3c/test-blob-f27b17ae-acdc-034a-902b-426725084a20",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:52 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-scope": "seanscope1",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Sc0VfAdDltssE33zUprc0Q==",
        "ETag": "\u00220x8D8D2EB35620A73\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:24:52 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-encryption-scope": "seanscope1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b3a17616-4f21-b243-5ce5-2f1e43831b3c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:24:52 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1247926731",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}