{
  "Entries": [
    {
      "RequestUri": "https://kasobolcanadacentral.blob.core.windows.net/test-container-45fbf814-f055-7dc5-62e7-dada8cc9d7cb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 04 Aug 2021 00:33:24 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D956DF7802EEC0\u0022",
        "Last-Modified": "Wed, 04 Aug 2021 00:33:24 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasobolcanadacentral.blob.core.windows.net/test-container-45fbf814-f055-7dc5-62e7-dada8cc9d7cb?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 04 Aug 2021 00:33:24 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D956DF780F651E\u0022",
        "Last-Modified": "Wed, 04 Aug 2021 00:33:24 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasobolcanadacentral.blob.core.windows.net/test-container-45fbf814-f055-7dc5-62e7-dada8cc9d7cb/test-%CE%B2%C2%A3%C2%A9%C3%BE%E2%80%BD%253A-6e3f5b9b-5e82-30a6-9dd5-1e40f4937cd8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 04 Aug 2021 00:33:24 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D956DF78221874\u0022",
        "Last-Modified": "Wed, 04 Aug 2021 00:33:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasobolcanadacentral.blob.core.windows.net/test-container-45fbf814-f055-7dc5-62e7-dada8cc9d7cb/test-%CE%B2%C2%A3%C2%A9%C3%BE%E2%80%BD%253A-6e3f5b9b-5e82-30a6-9dd5-1e40f4937cd8?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 04 Aug 2021 00:33:24 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "o2KEcDfUvBXhoH/TxLfbQ\u002BsxHPSQU/yDYscUZ/svVlabPGo/moty6dsjoi5zhQXypb/70lLyXlBmAQ5wv1UZskkpOIhMm6lgvjIZbLHNENzBIsI8M4QEqN0a2Zl8AiqGCfDkSk18pQkVmxQg2fGemPExrp2S3H7FJI\u002BqMsIQ5LsHk2LB6caPRXy4J5hv5M/se0CnS1SN8y1xHiW\u002B0nJHBbdYGEaO3a8qomgg2rXmVkC/vreBaJhnep81T8qg0HMKcSLhF8yJXZ6RfKnrbBl3isjl/hO7xZwe8J2mWY3kitH1FmmTBT50NmEY8OvvfA2GvsUCu9JfTquFwiYu4gMQrPLX9Vaw5IWJcMeyotWxLnSPIJvI4s7/lsi9DkIYRVNdCEP4GIa31tlAeEoK[...]
    {
      "RequestUri": "https://kasobolcanadacentral.blob.core.windows.net/test-container-45fbf814-f055-7dc5-62e7-dada8cc9d7cb/test-blob-8c547931-1fc5-fb8d-b689-999d42d27707",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 04 Aug 2021 00:33:24 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D956DF78399C54\u0022",
        "Last-Modified": "Wed, 04 Aug 2021 00:33:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasobolcanadacentral.blob.core.windows.net/test-container-45fbf814-f055-7dc5-62e7-dada8cc9d7cb/test-blob-8c547931-1fc5-fb8d-b689-999d42d27707?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://kasobolcanadacentral.blob.core.windows.net/test-container-45fbf814-f055-7dc5-62e7-dada8cc9d7cb/test-%CE%B2%C2%A3%C2%A9%C3%BE%E2%80%BD%253A-6e3f5b9b-5e82-30a6-9dd5-1e40f4937cd8",
        "x-ms-date": "Wed, 04 Aug 2021 00:33:24 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "MME1pCf6LyWUq9xYVW3gNg==",
        "ETag": "\u00220x8D956DF78492F7C\u0022",
        "Last-Modified": "Wed, 04 Aug 2021 00:33:24 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasobolcanadacentral.blob.core.windows.net/test-container-45fbf814-f055-7dc5-62e7-dada8cc9d7cb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Aug 2021 00:33:24 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1596881990",
    "Storage_TestConfigDefault": "ProductionTenant\nkasobolcanadacentral\nU2FuaXRpemVk\nhttps://kasobolcanadacentral.blob.core.windows.net\nhttps://kasobolcanadacentral.file.core.windows.net\nhttps://kasobolcanadacentral.queue.core.windows.net\nhttps://kasobolcanadacentral.table.core.windows.net\n\n\n\n\nhttps://kasobolcanadacentral-secondary.blob.core.windows.net\nhttps://kasobolcanadacentral-secondary.file.core.windows.net\nhttps://kasobolcanadacentral-secondary.queue.core.windows.net\nhttps://kasobolcanadacentral-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://kasobolcanadacentral.blob.core.windows.net/;QueueEndpoint=https://kasobolcanadacentral.queue.core.windows.net/;FileEndpoint=https://kasobolcanadacentral.file.core.windows.net/;BlobSecondaryEndpoint=https://kasobolcanadacentral-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://kasobolcanadacentral-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://kasobolcanadacentral-secondary.file.core.windows.net/;AccountName=kasobolcanadacentral;AccountKey=Kg==;\nencryptionScope\n\n"
  }
}