{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-7ca27c4f-be89-b648-3f5f-132a84ead97d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 04:37:31 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DF3D60D7CAA\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:37:31 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-7ca27c4f-be89-b648-3f5f-132a84ead97d?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 04:37:31 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "\u003CSignedIdentifiers /\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DF3D619BFE8\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:37:31 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-7ca27c4f-be89-b648-3f5f-132a84ead97d/test-blob-a6de2d5f-5a97-563b-a552-5cc97bb2dca8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 11 Dec 2019 04:37:31 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DF3D625843B\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:37:31 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-7ca27c4f-be89-b648-3f5f-132a84ead97d/test-blob-a6de2d5f-5a97-563b-a552-5cc97bb2dca8?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:37:32 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "jJ4QkI8\u002BpIEAeNMhPia5TIkeFs/1D8ZhUxg30EGV6cqYaSYm8vvQj5naOxsAJPf0p78q1FCvanzYrzx3B9NAao8IidQAklmNTYc1G9OqYC8gQymBahR66P\u002BpTkO\u002BWIfGmtCL95sj9BRmnIbIeU\u002BoLU4NV8Oqvv97jqDVVkQVzvX/boADH2mT/U8UGs6NsW6wACH0sAHEHNvREGn7TZ3QUM2RyQrOpQ3lelp0laQx7dwxJVUiIB7zO1KlMQ7/mK\u002BxQ8kA/Ohj4VsTDzanUIY3nyOMyShIrTCvnY64KXP/5eGqwlHaMfD0zUP6DxHnTOvMbZLqc86GaZaZUF5aq7jnFClU/I00XW4ymPvlTp0eyFGi7LvhFHITJFm7QOCSmSKKEvvnkk[...]
[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-7ca27c4f-be89-b648-3f5f-132a84ead97d/test-blob-22b81ba7-b916-c3f6-b831-f8a0a9ba2a13?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://seanstagetest.blob.core.windows.net/test-container-7ca27c4f-be89-b648-3f5f-132a84ead97d/test-blob-a6de2d5f-5a97-563b-a552-5cc97bb2dca8",
        "x-ms-date": "Wed, 11 Dec 2019 04:37:32 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-content-md5": "hHTdEOJT/nbzSRp\u002BqiYnuA==",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "hHTdEOJT/nbzSRp\u002BqiYnuA==",
        "ETag": "\u00220x8D77DF3D64A9879\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:37:32 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-7ca27c4f-be89-b648-3f5f-132a84ead97d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:37:32 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1908607684",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}