{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-0b472e5f-c841-f1bd-892d-5ac93761c7e1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 04:37:13 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DF3CB2D476A\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:37:13 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-0b472e5f-c841-f1bd-892d-5ac93761c7e1/test-blob-51050bc9-15d3-dae0-4b00-2e4eec84da13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 11 Dec 2019 04:37:13 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "uehgIFUwDxyAEO0dDtFpvKKabwtwIp5SNTJK0gDiYMk=",
        "x-ms-encryption-key-sha256": "AYvoAe/DBsdG/f09bNMDtM\u002BdEUSa6k7kCq4OE9Mbu54=",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DF3CB3A15D6\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:37:13 GMT",
        "x-ms-encryption-key-sha256": "AYvoAe/DBsdG/f09bNMDtM\u002BdEUSa6k7kCq4OE9Mbu54=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-0b472e5f-c841-f1bd-892d-5ac93761c7e1/test-blob-51050bc9-15d3-dae0-4b00-2e4eec84da13?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:37:13 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "uehgIFUwDxyAEO0dDtFpvKKabwtwIp5SNTJK0gDiYMk=",
        "x-ms-encryption-key-sha256": "AYvoAe/DBsdG/f09bNMDtM\u002BdEUSa6k7kCq4OE9Mbu54=",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "YGJY9r8w65j76NHCKMPLepZyq1IUz6OXSQ3qIuY9HJ6wI7yreXL8cq7WD4dR3CpyZ887jjYOtJC/wKyyRcmyvswzEgQGIAEkdTijPsAbRm3jeLsXAo5nom4s7LjGSi3lJFC7HcklbEfNFxj\u002BanbPo3o/zswOm7w9y2\u002BW2TNJXSsLvhpvXyijvQx0Set2aTf4XEg9hntg14mUflJaj5ITg7ns8qxbYERSnBHAmVHQx2I3nXzrDNewquaR2\u002BHWSC16YcUyiXaLnPwE6\u002BlpoD03w7bvIvEVJ3fhPEfFyoVifFPjRjiLnj7rrAGA5yDtRgqpWRcr5iY8ZDlNUEwuxdF3oW6WhloEqyV4A3XvlUBX8/Y9HHBtN5Usp\u002BH/Pk7xveYvCEWxV7[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-0b472e5f-c841-f1bd-892d-5ac93761c7e1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:37:13 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2018419100",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}