{
  "Entries": [
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-13e302fc-8de8-0107-613d-61156d57489b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D930254A677C8C\u0022",
        "Last-Modified": "Tue, 15 Jun 2021 17:44:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-13e302fc-8de8-0107-613d-61156d57489b/test-blob-dc323417-8a1f-c3d1-eb69-cf1dab3a57b6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D930254A71F4CE\u0022",
        "Last-Modified": "Tue, 15 Jun 2021 17:44:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-06-15T17:44:57.0541262Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-13e302fc-8de8-0107-613d-61156d57489b/test-blob-dc323417-8a1f-c3d1-eb69-cf1dab3a57b6?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "I/0Mr7GNslFMn2S84MnyVnI3hIcbuliTq8xjWI6MmrlIOBoR/Rt3AzPrQaRea6iMkMa1cXBcWWileATkKVrCwAWrc6ev4FhXwIFUMHm0NT8j1sfH1ihI7N6xbIQWktnZKICes/cA3K9uXrHvCCnv8EPEwFOS\u002B\u002BncYofJ/nTTQS2negf4FYJHI/kYWXh2WOS0wXtBUtKGRy2XwVBwN947mh2ESI0h99vBfJ1ZeaJxZgqiFTz4ku5bIDPaYVMx1\u002Bsb3b5b8g9Xksqgf9U0Lc2KJVtGziKhQgguKChZRpWHj6WxPpzjFXP6S4JyWBIYJ/NmUDv46wjJeZq2Lcrn/Uw0GfAwgu4wpg/oS4OfL\u002Br1FQE08vZaj6Oc58UBLeipEk01Pj8i6KQENqk[...]
[...]
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-13e302fc-8de8-0107-613d-61156d57489b/test-blob-6e37622c-5f8c-902d-0778-4bdc9ef89de1?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanoauthstage.blob.core.windows.net/test-container-13e302fc-8de8-0107-613d-61156d57489b/test-blob-dc323417-8a1f-c3d1-eb69-cf1dab3a57b6",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003ECannotVerifyCopySource\u003C/Code\u003E\u003CMessage\u003ECould not verify the copy source within the specified time.\n",
        "RequestId:4f5757a5-601e-0013-360e-624833000000\n",
        "Time:2021-06-15T17:44:57.3023273Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-13e302fc-8de8-0107-613d-61156d57489b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "373494532",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanoauthstage\nU2FuaXRpemVk\nhttps://seanoauthstage.blob.core.windows.net\nhttps://seanoauthstage.file.core.windows.net\nhttps://seanoauthstage.queue.core.windows.net\nhttps://seanoauthstage.table.core.windows.net\n\n\n\n\nhttps://seanoauthstage-secondary.blob.core.windows.net\nhttps://seanoauthstage-secondary.file.core.windows.net\nhttps://seanoauthstage-secondary.queue.core.windows.net\nhttps://seanoauthstage-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanoauthstage.blob.core.windows.net/;QueueEndpoint=https://seanoauthstage.queue.core.windows.net/;FileEndpoint=https://seanoauthstage.file.core.windows.net/;BlobSecondaryEndpoint=https://seanoauthstage-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanoauthstage-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanoauthstage-secondary.file.core.windows.net/;AccountName=seanoauthstage;AccountKey=Sanitized\n"
  }
}