{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-6051edc7-94b8-b23a-f2d2-92feded43b64?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 19:02:11 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D376881AAC48\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:02:11 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-6051edc7-94b8-b23a-f2d2-92feded43b64?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 19:02:11 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3768827B67C\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:02:11 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-6051edc7-94b8-b23a-f2d2-92feded43b64/test-blob-b5555bf5-4cc8-108c-ac6a-5829bde3f6d1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 17 Feb 2021 19:02:11 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3768830F608\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:02:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T19:02:11.7436936Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-6051edc7-94b8-b23a-f2d2-92feded43b64/test-blob-b5555bf5-4cc8-108c-ac6a-5829bde3f6d1?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 17 Feb 2021 19:02:11 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "Scf9UFALdDckvN/o/v8YV7ECLt3EIhoeJBML5dGC29dR9c5dMS88s9adDtIQ1QP\u002B1MpUrGaOpSet3iw9AI9mouEHlgkwuyaBxXsGJxNHDk4PDBAHLi5xw1CnsFID/7JGNmzxCD76zRmj0ubqh30TZc/dLfN/XnOyltO5iQvTfcbIwPCnVgYQFT72Y1tHhjzSk0qDJtG\u002Bxtj4PnJrQEQOz1QgIsaNbA7JzRi1iPsYaw\u002BX5/XAUFf0CfkYrhiUpNT66JMGJmR1RCc8ulm5CT3c4NNi01lOTn/9LBjMdb32NChDu6BnEUSqIqLNhJb\u002BOwC8O85EMdF7q5oUCfpLqM9qRYUwdk2ddc6PuLG2gcro//EYEDrvsgNXxxAGUghJX3nTYz4RzcSyHsb[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-6051edc7-94b8-b23a-f2d2-92feded43b64/test-blob-2e14d955-8eb9-2815-304e-c73cad0c4dee?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 18 Feb 2021 19:02:11 GMT",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-6051edc7-94b8-b23a-f2d2-92feded43b64/test-blob-b5555bf5-4cc8-108c-ac6a-5829bde3f6d1",
        "x-ms-date": "Wed, 17 Feb 2021 19:02:11 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:1d5a400f-f01e-0020-695f-05a165000000\n",
        "Time:2021-02-17T19:02:12.0109178Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-58c1f87f-2fa4-c185-6b17-a70c9cd191e5/test-blob-48c506d1-13d9-44ea-7809-d4c13102e176?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Tue, 16 Feb 2021 19:02:11 GMT",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-58c1f87f-2fa4-c185-6b17-a70c9cd191e5/test-blob-f003e57e-c155-5aa1-a9d8-0549f050798f",
        "x-ms-date": "Wed, 17 Feb 2021 19:02:12 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:a08271f4-501e-005b-035f-05e3f9000000\n",
        "Time:2021-02-17T19:02:12.7105295Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f966f26d-8e90-15a6-63a7-dfb7c942e763/test-blob-5862343d-0ccf-9302-08b7-80e2c154da28?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-f966f26d-8e90-15a6-63a7-dfb7c942e763/test-blob-5aaf16f8-b3d0-8a75-3182-aa40ede0c48f",
        "x-ms-date": "Wed, 17 Feb 2021 19:02:13 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "TargetConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003ETargetConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe target condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:85b14228-701e-003e-345f-054dbd000000\n",
        "Time:2021-02-17T19:02:13.4410429Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-dd892bed-7318-1fc1-5537-89ce9b5a087d/test-blob-76087db8-8576-f5e5-51b7-39b609409d59",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 19:02:14 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D376898B201D\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:02:14 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 19:02:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T19:02:14.0123165Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d6247fa3-1d23-d5a9-4b4a-ecc8436e1c1c/test-blob-2a37fd81-1d46-feb7-5fbc-29262ef645f7?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-d6247fa3-1d23-d5a9-4b4a-ecc8436e1c1c/test-blob-9d932690-ca23-e2f5-b529-7b9f967dcfc4",
        "x-ms-date": "Wed, 17 Feb 2021 19:02:14 GMT",
        "x-ms-lease-id": "81e3c0d1-babf-3497-7c4a-46751ffe9bbe",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003ELeaseNotPresentWithBlobOperation\u003C/Code\u003E\u003CMessage\u003EThere is currently no lease on the blob.\n",
        "RequestId:ab30ba4f-c01e-003b-3a5f-059f66000000\n",
        "Time:2021-02-17T19:02:14.9717095Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0a61787e-93c0-8be7-8e9a-08503952b627/test-blob-f748d885-0710-f834-542b-c389b26cd4e1?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-0a61787e-93c0-8be7-8e9a-08503952b627/test-blob-9c9d40da-0269-3710-5dd3-271c5ebe9d99",
        "x-ms-date": "Wed, 17 Feb 2021 19:02:15 GMT",
        "x-ms-if-sequence-number-lt": "-1",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidHeaderValue",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003EInvalidHeaderValue\u003C/Code\u003E\u003CMessage\u003EThe value for one of the HTTP headers is not in the correct format.\n",
        "RequestId:fad46d4c-d01e-007a-7f5f-05c782000000\n",
        "Time:2021-02-17T19:02:15.5598393Z\u003C/Message\u003E\u003CHeaderName\u003Ex-ms-if-sequence-number-lt\u003C/HeaderName\u003E\u003CHeaderValue\u003E-1\u003C/HeaderValue\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-6331dfd0-f404-dac3-06bc-a51c56a9ce4a/test-blob-8eb57e5d-4514-642f-d54f-90377d2f11d7?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-6331dfd0-f404-dac3-06bc-a51c56a9ce4a/test-blob-b06fd0d7-3d80-d979-054b-c619e41b97c2",
        "x-ms-date": "Wed, 17 Feb 2021 19:02:16 GMT",
        "x-ms-if-sequence-number-le": "-1",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidHeaderValue",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003EInvalidHeaderValue\u003C/Code\u003E\u003CMessage\u003EThe value for one of the HTTP headers is not in the correct format.\n",
        "RequestId:ac69abc6-f01e-0042-305f-056342000000\n",
        "Time:2021-02-17T19:02:16.2404314Z\u003C/Message\u003E\u003CHeaderName\u003Ex-ms-if-sequence-number-le\u003C/HeaderName\u003E\u003CHeaderValue\u003E-1\u003C/HeaderValue\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2ba3de68-7667-2b55-b154-41354cc5c671/test-blob-e6d3a557-d084-3b8b-5f34-24319df0ba43?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-2ba3de68-7667-2b55-b154-41354cc5c671/test-blob-70232c46-1151-04cf-927c-783984ea996f",
        "x-ms-date": "Wed, 17 Feb 2021 19:02:16 GMT",
        "x-ms-if-sequence-number-eq": "100",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "SequenceNumberConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003ESequenceNumberConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe sequence number condition specified was not met.\n",
        "RequestId:0f6a4a80-b01e-006c-1c5f-053155000000\n",
        "Time:2021-02-17T19:02:16.9609283Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-175d6b7e-67ec-8e0e-6757-249d47f792a8/test-blob-99fbc5de-037b-24c3-4cb0-535063564434?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-175d6b7e-67ec-8e0e-6757-249d47f792a8/test-blob-4e07fbbf-db2b-4355-1407-e75802612bdc",
        "x-ms-date": "Wed, 17 Feb 2021 19:02:17 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-if-match": "",
        "x-ms-source-if-modified-since": "Thu, 18 Feb 2021 19:02:11 GMT",
        "x-ms-source-if-none-match": "",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c5e9242f-3cd2-3e99-acf7-2c42cab6e29d/test-blob-469afd8e-7216-707e-5c23-5320f6044cd3?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-c5e9242f-3cd2-3e99-acf7-2c42cab6e29d/test-blob-ac760174-977e-ff03-578f-5e01169846c2",
        "x-ms-date": "Wed, 17 Feb 2021 19:02:18 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
        "x-ms-source-if-unmodified-since": "Tue, 16 Feb 2021 19:02:11 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003ECannotVerifyCopySource\u003C/Code\u003E\u003CMessage\u003ECould not verify the copy source within the specified time.\n",
        "RequestId:3208c97a-901e-0009-0b5f-059f11000000\n",
        "Time:2021-02-17T19:02:19.0616235Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-510ad3d7-94a0-0abd-cd0a-05dc4da23a71?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 19:02:20 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T13:02:11.3547204-06:00",
    "RandomSeed": "1302189776",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}