{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-1342f073-0890-7b16-57a5-5d02da04e56e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:27 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5BEF7A185D\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:10:27 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-1342f073-0890-7b16-57a5-5d02da04e56e?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:27 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "\u003cSignedIdentifiers /\u003e",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5BEF7CA63B\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:10:27 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-1342f073-0890-7b16-57a5-5d02da04e56e/test-blob-c3ed9614-242c-6328-f618-4bb2c2fcd71d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:27 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5BEF7F5EB8\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:10:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-1342f073-0890-7b16-57a5-5d02da04e56e/test-blob-c3ed9614-242c-6328-f618-4bb2c2fcd71d?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:27 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "BdwwLNH58PE6FQNM4LFqMTlkQ5E8IYJBGBsmtsekd0cvk2A09D4nxVjWiNU5QbkpwIjXUISDWeNa7xO10joqlZ68HUxQNj36PH44ZpmsCNdi/fU/zSfCqzl92QUqcvIeq/M3fCRs2IlK3BMGSvNKrec8UtVE68h2\u002bXES01w40MqMGrqmdIuz9iRs9PATvGBGMiwe7h8d2sAqwIOyWQQsEgxJeTA4pDhbiFyw2PfXYzwRzKAwGuGrbj/5e7QIAZ0fP\u002bHjykIvDo7zwmbDbALJUl1GoY1k/PgrngvwPyiEUoe\u002bkJgV85j54b4SPFd65wI9MChWwl8Qu0LpuCw3Ps5lb3DfBNxptF/ETL/PUr\u002bgsLYJsw4ALpAnrtRVKztswqLvrM3nm\u002b[...]
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-1342f073-0890-7b16-57a5-5d02da04e56e/test-blob-0595f832-d09b-c89f-1425-d76c408cbe84?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 18 Jul 2019 02:10:27 GMT",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-1342f073-0890-7b16-57a5-5d02da04e56e/test-blob-c3ed9614-242c-6328-f618-4bb2c2fcd71d",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:27 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\n",
        "\u003cError\u003e\u003cCode\u003eConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:4deab204-801e-003f-2e44-3c85ad000000\n",
        "Time:2019-07-17T02:10:27.3343501Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-022452ca-1223-65a9-c426-fc13c0f88082/test-blob-e1c06ea5-3c11-84a5-90a3-0555ab7f45a8?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Tue, 16 Jul 2019 02:10:27 GMT",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-022452ca-1223-65a9-c426-fc13c0f88082/test-blob-10561af4-917c-c08d-5ef0-3deaf2957e40",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:27 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\n",
        "\u003cError\u003e\u003cCode\u003eConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:4deab235-801e-003f-5644-3c85ad000000\n",
        "Time:2019-07-17T02:10:27.4664750Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-5ccc5f9f-3817-c8b3-4c64-fdbd58133593/test-blob-f396d05c-01f8-152b-8fa2-23c508764698?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-5ccc5f9f-3817-c8b3-4c64-fdbd58133593/test-blob-17dd4232-8401-8407-961d-c724d99c23ca",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:27 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "TargetConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\n",
        "\u003cError\u003e\u003cCode\u003eTargetConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe target condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:4deab263-801e-003f-7e44-3c85ad000000\n",
        "Time:2019-07-17T02:10:27.5885913Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-86245108-d942-5d30-70b0-e02f6f17a8d3/test-blob-e32f5197-a5e8-8385-16e7-0455598c43ae",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:27 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D70A5BEFC2B9D6\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:10:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 17 Jul 2019 02:10:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-86245108-d942-5d30-70b0-e02f6f17a8d3/test-blob-e32f5197-a5e8-8385-16e7-0455598c43ae?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u00220x8D70A5BEFC2B9D6\u0022",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-86245108-d942-5d30-70b0-e02f6f17a8d3/test-blob-d536aa05-2f07-974c-755d-bcccbb3b585c",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:27 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\n",
        "\u003cError\u003e\u003cCode\u003eConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:4deab2a2-801e-003f-3544-3c85ad000000\n",
        "Time:2019-07-17T02:10:27.7607553Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-811ba9bc-eea1-c88b-d611-4db23910920f/test-blob-548e294e-0850-21fe-4026-888bf0f13de9?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-811ba9bc-eea1-c88b-d611-4db23910920f/test-blob-69cea9cf-ea8f-26e2-f547-678be0eccd76",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:27 GMT",
        "x-ms-lease-id": "11a7f1a2-12b6-f0ca-9aea-4aafd286fbd2",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\n",
        "\u003cError\u003e\u003cCode\u003eLeaseNotPresentWithBlobOperation\u003c/Code\u003e\u003cMessage\u003eThere is currently no lease on the blob.\n",
        "RequestId:4deab2cc-801e-003f-5744-3c85ad000000\n",
        "Time:2019-07-17T02:10:27.8808705Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-b3ca24ed-7e4f-336d-1336-e65237081953/test-blob-2c285184-21ae-6d0d-edc1-8615b4e97513?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-b3ca24ed-7e4f-336d-1336-e65237081953/test-blob-de6db79c-e328-b66c-f713-5ebc35a162c1",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:27 GMT",
        "x-ms-if-sequence-number-lt": "-1",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidHeaderValue",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\n",
        "\u003cError\u003e\u003cCode\u003eInvalidHeaderValue\u003c/Code\u003e\u003cMessage\u003eThe value for one of the HTTP headers is not in the correct format.\n",
        "RequestId:4deab302-801e-003f-8044-3c85ad000000\n",
        "Time:2019-07-17T02:10:27.9849696Z\u003c/Message\u003e\u003cHeaderName\u003ex-ms-if-sequence-number-lt\u003c/HeaderName\u003e\u003cHeaderValue\u003e-1\u003c/HeaderValue\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-f51e53fc-84eb-6358-c674-65864d15329c/test-blob-55256c27-0a79-e141-7428-7b50988c5f5b?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-f51e53fc-84eb-6358-c674-65864d15329c/test-blob-1b99db34-7442-d492-4374-87c70ac73e3b",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:28 GMT",
        "x-ms-if-sequence-number-le": "-1",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidHeaderValue",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\n",
        "\u003cError\u003e\u003cCode\u003eInvalidHeaderValue\u003c/Code\u003e\u003cMessage\u003eThe value for one of the HTTP headers is not in the correct format.\n",
        "RequestId:4deab357-801e-003f-4944-3c85ad000000\n",
        "Time:2019-07-17T02:10:28.1591346Z\u003c/Message\u003e\u003cHeaderName\u003ex-ms-if-sequence-number-le\u003c/HeaderName\u003e\u003cHeaderValue\u003e-1\u003c/HeaderValue\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-afb6393e-57af-3198-e304-8d6bfbfde118/test-blob-6760a3bc-fa17-28ee-43a8-bc5450333e97?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-afb6393e-57af-3198-e304-8d6bfbfde118/test-blob-dd852403-bfc7-d62a-c572-a86d48530de9",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:28 GMT",
        "x-ms-if-sequence-number-eq": "100",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "SequenceNumberConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\n",
        "\u003cError\u003e\u003cCode\u003eSequenceNumberConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe sequence number condition specified was not met.\n",
        "RequestId:4deab387-801e-003f-7644-3c85ad000000\n",
        "Time:2019-07-17T02:10:28.3162847Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6930d2c2-48f8-56cb-5e60-c78c655d4918/test-blob-cc2b7848-15ea-42a8-d1dd-23b4d4af8e10?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-6930d2c2-48f8-56cb-5e60-c78c655d4918/test-blob-a1a12d8a-5f6d-1471-2d0b-e747305dccc8",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:28 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-if-modified-since": "Thu, 18 Jul 2019 02:10:27 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-ac71da31-8035-851f-a602-5aaef065cb6b/test-blob-11e68fd7-4463-3860-a8a7-bc6dfdb51a11?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-ac71da31-8035-851f-a602-5aaef065cb6b/test-blob-68e3501d-1107-16cf-0ddc-fd21230cea41",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:28 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-if-unmodified-since": "Tue, 16 Jul 2019 02:10:27 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\n",
        "\u003cError\u003e\u003cCode\u003eCannotVerifyCopySource\u003c/Code\u003e\u003cMessage\u003eCould not verify the copy source within the specified time.\n",
        "RequestId:4deab3f3-801e-003f-5344-3c85ad000000\n",
        "Time:2019-07-17T02:10:28.6035578Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-16e5f02b-ad73-f4fc-7c86-6db63e3ead5f/test-blob-6af01b7b-09e7-f5c5-2734-1572bd54cd04?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-16e5f02b-ad73-f4fc-7c86-6db63e3ead5f/test-blob-0d00a2ae-dbc1-2c98-7116-a0111fcc59a3",
        "x-ms-date": "Wed, 17 Jul 2019 02:10:44 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-if-match": "\u0022garbage\u0022",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\n",
        "\u003cError\u003e\u003cCode\u003eCannotVerifyCopySource\u003c/Code\u003e\u003cMessage\u003eCould not verify the copy source within the specified time.\n",
        "RequestId:4deacbf3-801e-003f-3344-3c85ad000000\n",
        "Time:2019-07-17T02:10:44.5767753Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-92ab359f-8a8b-9387-6cab-ffeea07d2a0b/test-blob-f60dab7f-54a9-962a-12a6-c54d1c49a9a3?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-92ab359f-8a8b-9387-6cab-ffeea07d2a0b/test-blob-d6a9481c-d5cb-3723-90c5-a98e4796cbd0",
        "x-ms-date": "Wed, 17 Jul 2019 02:11:01 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-if-none-match": "\u00220x8D70A5C03C96827\u0022",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-92ab359f-8a8b-9387-6cab-ffeea07d2a0b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:11:01 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-07-16T19:10:27.2194321-07:00",
    "RandomSeed": "802992671",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}