{
  "Entries": [
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/sparkJobDefinitions/SparkJobDefiniti?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "targetBigDataPool": {
            "type": "BigDataPoolReference",
            "referenceName": "sparkchhamosyna"
          },
          "jobProperties": {
            "file": "abfss://filesystemchhamosynapse@storagechhamosynapse.dfs.core.windows.net/samples/net/wordcount/wordcount.zip",
            "driverMemory": "28g",
            "driverCores": 4,
            "executorMemory": "28g",
            "executorCores": 4,
            "numExecutors": 2
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/8fd9093d-3c4f-4fe0-b181-a20f4f9efaa8?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/sparkJobDefinitions/SparkJobDefiniti",
        "recordId": 990935,
        "state": "Creating",
        "created": "2021-01-21T18:24:10.14Z",
        "changed": "2021-01-21T18:24:10.14Z",
        "type": "SparkJobDefinition",
        "name": "SparkJobDefiniti",
        "operationId": "8fd9093d-3c4f-4fe0-b181-a20f4f9efaa8",
        "artifactId": "FE67DBE1-9EDB-4E64-B46F-99591725A86D"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/8fd9093d-3c4f-4fe0-b181-a20f4f9efaa8?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/8fd9093d-3c4f-4fe0-b181-a20f4f9efaa8?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/8fd9093d-3c4f-4fe0-b181-a20f4f9efaa8?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/sparkjobdefinitions/SparkJobDefiniti",
        "name": "SparkJobDefiniti",
        "type": "Microsoft.Synapse/workspaces/sparkjobdefinitions",
        "properties": {
          "targetBigDataPool": {
            "type": "BigDataPoolReference",
            "referenceName": "sparkchhamosyna"
          },
          "jobProperties": {
            "file": "abfss://filesystemchhamosynapse@storagechhamosynapse.dfs.core.windows.net/samples/net/wordcount/wordcount.zip",
            "driverMemory": "28g",
            "driverCores": 4,
            "executorMemory": "28g",
            "executorCores": 4,
            "numExecutors": 2
          }
        },
        "etag": "13012175-0000-0800-0000-6009c6cb0000"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/sparkJobDefinitions?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/sparkjobdefinitions/WordCount",
            "name": "WordCount",
            "type": "Microsoft.Synapse/workspaces/sparkjobdefinitions",
            "etag": "1d020eba-0000-0800-0000-5fd3e7340000",
            "properties": {
              "targetBigDataPool": {
                "referenceName": "sparkchhamosyna",
                "type": "BigDataPoolReference"
              },
              "requiredSparkVersion": "2.4",
              "language": "csharp",
              "jobProperties": {
                "name": "WordCount",
                "file": "local:///usr/hdp/current/spark2-client/jars/microsoft-spark.jar",
                "className": "org.apache.spark.deploy.dotnet.DotnetRunner",
                "conf": {
                  "spark.dynamicAllocation.enabled": "false",
                  "spark.dynamicAllocation.minExecutors": "2",
                  "spark.dynamicAllocation.maxExecutors": "2",
                  "spark.yarn.appMasterEnv.DOTNET_ASSEMBLY_SEARCH_PATHS": "./udfs"
                },
                "args": [
                  "abfss://filesystemchhamosynapse@storagechhamosynapse.dfs.core.windows.net/wordcount.zip",
                  "WordCount",
                  "abfss://filesystemchhamosynapse@storagechhamosynapse.dfs.core.windows.net/shakespeare.txt",
                  "abfss://filesystemchhamosynapse@storagechhamosynapse.dfs.core.windows.net/result"
                ],
                "jars": [],
                "files": [],
                "archives": [
                  "abfss://filesystemchhamosynapse@storagechhamosynapse.dfs.core.windows.net/wordcount.zip#udfs"
                ],
                "driverMemory": "28g",
                "driverCores": 4,
                "executorMemory": "28g",
                "executorCores": 4,
                "numExecutors": 2
              }
            }
          },
          {
            "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Syn[...]
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/sparkJobDefinitions/WordCount?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-c[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/sparkJobDefinitions/WordCount%20PY?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/sparkJobDefinitions/SparkJobDefinition221306778?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/sparkjobdefinitions/SparkJobDefinition221306778",
        "name": "SparkJobDefinition221306778",
        "type": "Microsoft.Synapse/workspaces/sparkjobdefinitions",
        "properties": {
          "targetBigDataPool": {
            "type": "BigDataPoolReference",
            "referenceName": "sparkchhamosyna"
          },
          "jobProperties": {
            "file": "abfss://filesystemchhamosynapse@storagechhamosynapse.dfs.core.windows.net/samples/net/wordcount/wordcount.zip",
            "driverMemory": "28g",
            "driverCores": 4,
            "executorMemory": "28g",
            "executorCores": 4,
            "numExecutors": 2
          }
        },
        "etag": "07009298-0000-0800-0000-60074bc30000"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/252c45df-5c0f-4479-87ea-c6f5845ded84?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_STORAGE_ACCOUNT_NAME": "storagechhamosynapse",
    "AZURE_STORAGE_FILE_SYSTEM_NAME": "filesystemchhamosynapse",
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspacechhamosynapse.dev.azuresynapse.net",
    "RandomSeed": "1444583681"
  }
}