{
  "Entries": [
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/sparkJobDefinitions/SparkJobDefiniti?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "targetBigDataPool": {
            "type": "BigDataPoolReference",
            "referenceName": "sparkchhamosyna"
          },
          "jobProperties": {
            "file": "abfss://filesystemchhamosynapse@storagechhamosynapse.dfs.core.windows.net/samples/net/wordcount/wordcount.zip",
            "driverMemory": "28g",
            "driverCores": 4,
            "executorMemory": "28g",
            "executorCores": 4,
            "numExecutors": 2
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/1df17e70-253a-42f5-90af-ac02ade45e5b?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/sparkJobDefinitions/SparkJobDefiniti",
        "recordId": 990847,
        "state": "Creating",
        "created": "2021-01-21T17:58:14.7633333Z",
        "changed": "2021-01-21T17:58:14.7633333Z",
        "type": "SparkJobDefinition",
        "name": "SparkJobDefiniti",
        "operationId": "1df17e70-253a-42f5-90af-ac02ade45e5b",
        "artifactId": "7C9DD987-19CA-4F5B-B8CF-D469FBFF95D1"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/1df17e70-253a-42f5-90af-ac02ade45e5b?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/1df17e70-253a-42f5-90af-ac02ade45e5b?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/1df17e70-253a-42f5-90af-ac02ade45e5b?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/sparkjobdefinitions/SparkJobDefiniti",
        "name": "SparkJobDefiniti",
        "type": "Microsoft.Synapse/workspaces/sparkjobdefinitions",
        "properties": {
          "targetBigDataPool": {
            "type": "BigDataPoolReference",
            "referenceName": "sparkchhamosyna"
          },
          "jobProperties": {
            "file": "abfss://filesystemchhamosynapse@storagechhamosynapse.dfs.core.windows.net/samples/net/wordcount/wordcount.zip",
            "driverMemory": "28g",
            "driverCores": 4,
            "executorMemory": "28g",
            "executorCores": 4,
            "numExecutors": 2
          }
        },
        "etag": "0f016846-0000-0800-0000-6009c0b90000"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/sparkJobDefinitions/SparkJobDefiniti/rename?api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "newName": "Pipeline28690841"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/6c377bfd-d796-43cb-895c-373c021a8ed2?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/sparkJobDefinitions/SparkJobDefiniti",
        "recordId": 990847,
        "state": "Renaming",
        "created": "2021-01-21T17:58:14.7633333Z",
        "changed": "2021-01-21T17:58:17.61Z",
        "type": "SparkJobDefinition",
        "name": "SparkJobDefiniti",
        "operationId": "6c377bfd-d796-43cb-895c-373c021a8ed2",
        "artifactId": "7C9DD987-19CA-4F5B-B8CF-D469FBFF95D1"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/sparkJobDefinitions/Pipeline28690841?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/sparkjobdefinitions/Pipeline28690841",
        "name": "Pipeline28690841",
        "type": "Microsoft.Synapse/workspaces/sparkjobdefinitions",
        "properties": {
          "targetBigDataPool": {
            "type": "BigDataPoolReference",
            "referenceName": "sparkchhamosyna"
          },
          "jobProperties": {
            "file": "abfss://filesystemchhamosynapse@storagechhamosynapse.dfs.core.windows.net/samples/net/wordcount/wordcount.zip",
            "driverMemory": "28g",
            "driverCores": 4,
            "executorMemory": "28g",
            "executorCores": 4,
            "numExecutors": 2
          }
        },
        "etag": "0f010a50-0000-0800-0000-6009c0c70000"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/c0e6c476-5a69-4994-b807-f2c0a8c4f8b7?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_STORAGE_ACCOUNT_NAME": "storagechhamosynapse",
    "AZURE_STORAGE_FILE_SYSTEM_NAME": "filesystemchhamosynapse",
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspacechhamosynapse.dev.azuresynapse.net",
    "RandomSeed": "619784026"
  }
}