{
  "Entries": [
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/sparkJobDefinitions/SparkJobDefiniti?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "targetBigDataPool": {
            "type": "BigDataPoolReference",
            "referenceName": "sparkchhamosyna"
          },
          "jobProperties": {
            "file": "abfss://filesystemchhamosynapse@storagechhamosynapse.dfs.core.windows.net/samples/net/wordcount/wordcount.zip",
            "driverMemory": "28g",
            "driverCores": 4,
            "executorMemory": "28g",
            "executorCores": 4,
            "numExecutors": 2
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/a5fc1fb4-830b-41f8-8caf-d597f3331a23?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/sparkJobDefinitions/SparkJobDefiniti",
        "recordId": 990840,
        "state": "Creating",
        "created": "2021-01-21T17:57:10.5433333Z",
        "changed": "2021-01-21T17:57:10.5433333Z",
        "type": "SparkJobDefinition",
        "name": "SparkJobDefiniti",
        "operationId": "a5fc1fb4-830b-41f8-8caf-d597f3331a23",
        "artifactId": "5CD12148-13D8-4DB0-B5AA-C0691151FB95"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/a5fc1fb4-830b-41f8-8caf-d597f3331a23?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/a5fc1fb4-830b-41f8-8caf-d597f3331a23?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/a5fc1fb4-830b-41f8-8caf-d597f3331a23?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/sparkjobdefinitions/SparkJobDefiniti",
        "name": "SparkJobDefiniti",
        "type": "Microsoft.Synapse/workspaces/sparkjobdefinitions",
        "properties": {
          "targetBigDataPool": {
            "type": "BigDataPoolReference",
            "referenceName": "sparkchhamosyna"
          },
          "jobProperties": {
            "file": "abfss://filesystemchhamosynapse@storagechhamosynapse.dfs.core.windows.net/samples/net/wordcount/wordcount.zip",
            "driverMemory": "28g",
            "driverCores": 4,
            "executorMemory": "28g",
            "executorCores": 4,
            "numExecutors": 2
          }
        },
        "etag": "0f01e518-0000-0800-0000-6009c0780000"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/e7885bea-0e91-435e-bb3c-910c106c319b?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_STORAGE_ACCOUNT_NAME": "storagechhamosynapse",
    "AZURE_STORAGE_FILE_SYSTEM_NAME": "filesystemchhamosynapse",
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspacechhamosynapse.dev.azuresynapse.net",
    "RandomSeed": "855105310"
  }
}