{
  "Entries": [
    {
      "RequestUri": "/0cd40ba3-75d4-4d82-95fe-b4c3ff4fd7e4/services/networking/dedicatedcircuits/serviceproviders?api-version=1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2011-10-01"
        ]
      },
      "ResponseBody": "<DedicatedCircuitServiceProviders xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <DedicatedCircuitServiceProvider>\r\n    <DedicatedCircuitBandwidths>\r\n      <DedicatedCircuitBandwidth>\r\n        <Bandwidth>1</Bandwidth>\r\n        <Label>1Mbps</Label>\r\n      </DedicatedCircuitBandwidth>\r\n      <DedicatedCircuitBandwidth>\r\n        <Bandwidth>50</Bandwidth>\r\n        <Label>50Mbps</Label>\r\n      </DedicatedCircuitBandwidth>\r\n      <DedicatedCircuitBandwidth>\r\n        <Bandwidth>100</Bandwidth>\r\n        <Label>100Mbps</Label>\r\n      </DedicatedCircuitBandwidth>\r\n      <DedicatedCircuitBandwidth>\r\n        <Bandwidth>500</Bandwidth>\r\n        <Label>500Mbps</Label>\r\n      </DedicatedCircuitBandwidth>\r\n      <DedicatedCircuitBandwidth>\r\n        <Bandwidth>1000</Bandwidth>\r\n        <Label>1Gbps</Label>\r\n      </DedicatedCircuitBandwidth>\r\n      <DedicatedCircuitBandwidth>\r\n        <Bandwidth>10000</Bandwidth>\r\n        <Label>10Gbps</Label>\r\n      </DedicatedCircuitBandwidth>\r\n    </DedicatedCircuitBandwidths>\r\n    <DedicatedCircuitLocations>Boydton 1 DC,Des Moines 2 DC,USWest</DedicatedCircuitLocations>\r\n    <Encapsulation>None</Encapsulation>\r\n    <Name>BVTAzureIXP01</Name>\r\n    <Type>IXP</Type>\r\n  </DedicatedCircuitServiceProvider>\r\n  <DedicatedCircuitServiceProvider>\r\n    <DedicatedCircuitBandwidths>\r\n      <DedicatedCircuitBandwidth>\r\n        <Bandwidth>1</Bandwidth>\r\n        <Label>1Mbps</Label>\r\n      </DedicatedCircuitBandwidth>\r\n      <DedicatedCircuitBandwidth>\r\n        <Bandwidth>50</Bandwidth>\r\n        <Label>50Mbps</Label>\r\n      </DedicatedCircuitBandwidth>\r\n      <DedicatedCircuitBandwidth>\r\n        <Bandwidth>100</Bandwidth>\r\n        [...]
    {
      "RequestUri": "/0cd40ba3-75d4-4d82-95fe-b4c3ff4fd7e4/services/networking/dedicatedcircuits?api-version=1.0",
      "RequestMethod": "POST",
      "RequestBody": "<CreateDedicatedCircuit xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <Bandwidth>1</Bandwidth>\r\n  <CircuitName>circuit666</CircuitName>\r\n  <Location>Location1</Location>\r\n  <ServiceProviderName>BVTTestServiceProvider2</ServiceProviderName>\r\n</CreateDedicatedCircuit>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2011-10-01"
        ]
      },
      "ResponseBody": "<GatewayOperationAsyncResponse xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>5284437f-6eb4-0333-af5e-18240f6bf78b</ID>\r\n</GatewayOperationAsyncResponse>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/0cd40ba3-75d4-4d82-95fe-b4c3ff4fd7e4/services/networking/operation/5284437f-6eb4-0333-af5e-18240f6bf78b",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2011-10-01"
        ]
      },
      "ResponseBody": "<GatewayOperation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>5284437f-6eb4-0333-af5e-18240f6bf78b</ID>\r\n  <OperationName>CreateDedicatedCircuit</OperationName>\r\n  <OperationStartedTime>2015-02-24T21:06:02.8582692</OperationStartedTime>\r\n  <Status>InProgress</Status>\r\n</GatewayOperation>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/0cd40ba3-75d4-4d82-95fe-b4c3ff4fd7e4/services/networking/operation/5284437f-6eb4-0333-af5e-18240f6bf78b",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2011-10-01"
        ]
      },
      "ResponseBody": "<GatewayOperation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Data>1fead7c8-395c-4ffa-8a30-9965c13f7ed6</Data>\r\n  <HttpStatusCode>OK</HttpStatusCode>\r\n  <ID>5284437f-6eb4-0333-af5e-18240f6bf78b</ID>\r\n  <OperationCompletedTime>2015-02-24T21:06:08.2430735</OperationCompletedTime>\r\n  <OperationName>CreateDedicatedCircuit</OperationName>\r\n  <OperationStartedTime>2015-02-24T21:06:02.8582692</OperationStartedTime>\r\n  <Status>Successful</Status>\r\n</GatewayOperation>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/0cd40ba3-75d4-4d82-95fe-b4c3ff4fd7e4/services/networking/dedicatedcircuits/1fead7c8-395c-4ffa-8a30-9965c13f7ed6?api-version=1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2011-10-01"
        ]
      },
      "ResponseBody": "<DedicatedCircuit xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Bandwidth>1</Bandwidth>\r\n  <CircuitName>circuit666</CircuitName>\r\n  <Location>Location1</Location>\r\n  <ServiceKey>1fead7c8-395c-4ffa-8a30-9965c13f7ed6</ServiceKey>\r\n  <ServiceProviderName>bvttestserviceprovider2</ServiceProviderName>\r\n  <ServiceProviderProvisioningState>NotProvisioned</ServiceProviderProvisioningState>\r\n  <Status>Enabled</Status>\r\n</DedicatedCircuit>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/0cd40ba3-75d4-4d82-95fe-b4c3ff4fd7e4/services/networking/dedicatedcircuits?api-version=1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2011-10-01"
        ]
      },
      "ResponseBody": "<DedicatedCircuits xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <DedicatedCircuit>\r\n    <Bandwidth>1</Bandwidth>\r\n    <CircuitName>circuit666</CircuitName>\r\n    <Location>Location1</Location>\r\n    <ServiceKey>1fead7c8-395c-4ffa-8a30-9965c13f7ed6</ServiceKey>\r\n    <ServiceProviderName>bvttestserviceprovider2</ServiceProviderName>\r\n    <ServiceProviderProvisioningState>NotProvisioned</ServiceProviderProvisioningState>\r\n    <Status>Enabl[...]
    {
      "RequestUri": "/0cd40ba3-75d4-4d82-95fe-b4c3ff4fd7e4/services/networking/dedicatedcircuits/1fead7c8-395c-4ffa-8a30-9965c13f7ed6?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestBody": "<UpdateDedicatedCircuit xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <Bandwidth>10</Bandwidth>\r\n</UpdateDedicatedCircuit>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2011-10-01"
        ]
      },
      "ResponseBody": "<GatewayOperationAsyncResponse xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>95ee9da4-723b-0f5a-aba1-27a1c79c33e7</ID>\r\n</GatewayOperationAsyncResponse>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/0cd40ba3-75d4-4d82-95fe-b4c3ff4fd7e4/services/networking/operation/95ee9da4-723b-0f5a-aba1-27a1c79c33e7",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2011-10-01"
        ]
      },
      "ResponseBody": "<GatewayOperation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <HttpStatusCode>OK</HttpStatusCode>\r\n  <ID>95ee9da4-723b-0f5a-aba1-27a1c79c33e7</ID>\r\n  <OperationCompletedTime>2015-02-24T21:06:40.7929858</OperationCompletedTime>\r\n  <OperationStartedTime>2015-02-24T21:06:39.295376</OperationStartedTime>\r\n  <Status>Successful</Status>\r\n</GatewayOperation>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "CanCreateGetListUpdateAndDeleteDedicatedCircuit": [
      "circuit666"
    ]
  },
  "Variables": {
    "SubscriptionId": "0cd40ba3-75d4-4d82-95fe-b4c3ff4fd7e4",
    "TEST_PROVIDER_NAME": "bvttestserviceprovider2"
  }
}