{
  "Entries": [
    {
      "RequestUri": "https://leithyta-sdktesting.cognitiveservices.azure.com/language/query-knowledgebases/projects/TestProject1867640412?api-version=2021-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "description": "This is the description for a test project",
        "language": "en",
        "multilingualResource": false,
        "settings": {
          "defaultAnswer": "No answer found for your question."
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "projectName": "TestProject1867640412",
        "description": "This is the description for a test project",
        "language": "en",
        "multilingualResource": false,
        "createdDateTime": "2022-01-09T10:58:05Z",
        "lastModifiedDateTime": "2022-01-09T10:58:05Z",
        "settings": {
          "defaultAnswer": "No answer found for your question."
        }
      }
    },
    {
      "RequestUri": "https://leithyta-sdktesting.cognitiveservices.azure.com/language/query-knowledgebases/projects/TestProject1867640412/sources?api-version=2021-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": "[{\u0022op\u0022:\u0022add\u0022,\u0022value\u0022:{\u0022displayName\u0022:\u0022MicrosoftFAQ\u0022,\u0022source\u0022:\u0022https://www.microsoft.com/en-in/software-download/faq\u0022,\u0022sourceUri\u0022:\u0022https://www.microsoft.com/en-in/software-download/faq\u0022,\u0022sourceKind\u0022:\u0022url\u0022,\u0022contentStructureKind\u0022:\u0022unstructured\u0022,\u0022refresh\u0022:false}}]",
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://leithyta-sdktesting.cognitiveservices.azure.com:443/language/query-knowledgebases/projects/TestProject1867640412/sources/jobs/7a6692aa-66d7-4a51-a0f3-95f7190f6c78?api-version=2021-10-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://leithyta-sdktesting.cognitiveservices.azure.com/language/query-knowledgebases/projects/TestProject1867640412/sources/jobs/7a6692aa-66d7-4a51-a0f3-95f7190f6c78?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "00:00:30"
      },
      "ResponseBody": {
        "createdDateTime": "2022-01-09T10:58:06\u002B00:00",
        "expirationDateTime": "2022-01-09T16:58:06\u002B00:00",
        "jobId": "7a6692aa-66d7-4a51-a0f3-95f7190f6c78",
        "lastUpdatedDateTime": "2022-01-09T10:58:06\u002B00:00",
        "status": "notStarted"
      }
    },
[...]
    {
      "RequestUri": "https://leithyta-sdktesting.cognitiveservices.azure.com/language/query-knowledgebases/projects/TestProject1867640412/sources/jobs/7a6692aa-66d7-4a51-a0f3-95f7190f6c78?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "createdDateTime": "2022-01-09T10:58:06\u002B00:00",
        "expirationDateTime": "2022-01-09T16:58:06\u002B00:00",
        "jobId": "7a6692aa-66d7-4a51-a0f3-95f7190f6c78",
        "lastUpdatedDateTime": "2022-01-09T10:58:36\u002B00:00",
        "status": "succeeded",
        "resultUrl": "/knowledgebases/TestProject1867640412"
      }
    },
[...]
    {
      "RequestUri": "https://leithyta-sdktesting.cognitiveservices.azure.com/language/query-knowledgebases/projects/TestProject1867640412/sources?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "displayName": "MicrosoftFAQ",
            "source": "https://www.microsoft.com/en-in/software-download/faq",
            "sourceUri": "https://www.microsoft.com/en-in/software-download/faq",
            "sourceKind": "url",
            "contentStructureKind": "unstructured",
            "lastUpdatedDateTime": "2022-01-09T10:58:33.6586803Z"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://leithyta-sdktesting.cognitiveservices.azure.com/language/query-knowledgebases/projects/TestProject1867640412/qnas?api-version=2021-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": "[{\u0022op\u0022:\u0022add\u0022,\u0022value\u0022:{\u0022questions\u0022:[\u0022What is the easiest way to use azure services in my .NET project?\u0022],\u0022answer\u0022:\u0022Using Microsoft\\u0027s Azure SDKs\u0022}}]",
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://leithyta-sdktesting.cognitiveservices.azure.com:443/language/query-knowledgebases/projects/TestProject1867640412/qnas/jobs/333985c0-b421-4734-a637-d03f15cd9b8f?api-version=2021-10-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://leithyta-sdktesting.cognitiveservices.azure.com/language/query-knowledgebases/projects/TestProject1867640412/qnas/jobs/333985c0-b421-4734-a637-d03f15cd9b8f?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "00:00:30"
      },
      "ResponseBody": {
        "createdDateTime": "2022-01-09T10:58:37\u002B00:00",
        "expirationDateTime": "2022-01-09T16:58:37\u002B00:00",
        "jobId": "333985c0-b421-4734-a637-d03f15cd9b8f",
        "lastUpdatedDateTime": "2022-01-09T10:58:37\u002B00:00",
        "status": "running"
      }
    },
[...]
    {
      "RequestUri": "https://leithyta-sdktesting.cognitiveservices.azure.com/language/query-knowledgebases/projects/TestProject1867640412/qnas?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": 2,
            "answer": "Using Microsoft\u0027s Azure SDKs",
            "source": "Editorial",
            "questions": [
              "What is the easiest way to use azure services in my .NET project?"
            ],
            "metadata": {
              "system_metadata_qna_edited_manually": "true"
            },
            "dialog": {
              "isContextOnly": false,
              "prompts": []
            },
            "activeLearningSuggestions": [],
            "isDocumentText": false,
            "lastUpdatedDateTime": "01/09/2022 10:58:37 \u002B00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://leithyta-sdktesting.cognitiveservices.azure.com/language/query-knowledgebases/projects/TestProject1867640412/synonyms?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "value": [
          {
            "alterations": [
              "qnamaker",
              "qna maker"
            ]
          },
          {
            "alterations": [
              "qna",
              "question and answer"
            ]
          }
        ]
      },
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://leithyta-sdktesting.cognitiveservices.azure.com/language/query-knowledgebases/projects/TestProject1867640412/feedback?api-version=2021-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "records": [
          {
            "userId": "userX",
            "userQuestion": "what do you mean?",
            "qnaId": 1
          }
        ]
      },
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://leithyta-sdktesting.cognitiveservices.azure.com/language/query-knowledgebases/projects/deletion-jobs/bf9a932c-c00b-408a-9946-97250268ef95?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "createdDateTime": "2022-01-09T10:58:44\u002B00:00",
        "expirationDateTime": "2022-01-09T16:58:44\u002B00:00",
        "jobId": "bf9a932c-c00b-408a-9946-97250268ef95",
        "lastUpdatedDateTime": "2022-01-09T10:58:44\u002B00:00",
        "status": "succeeded"
      }
    }
  ],
  "Variables": {
    "QUESTIONANSWERING_ENDPOINT": "https://leithyta-sdktesting.cognitiveservices.azure.com",
    "QUESTIONANSWERING_KEY": "Sanitized",
    "RandomSeed": "1929835666"
  }
}
