{
  "Entries": [
    {
      "RequestUri": "https://westus2-0.in.applicationinsights.azure.com/v2/track",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": [
        "{\u0022name\u0022:\u0022Message\u0022,\u0022time\u0022:\u002202/19/2021 22:31:48\u0022,\u0022iKey\u0022:\u0022a0151fae-78ce-447c-88fc-9020efb2091c\u0022,\u0022tags\u0022:{\u0022ai.internal.sdkVersion\u0022:\u0022dotnet5.0:otel1.0.1:ext1.0.0\u0022},\u0022data\u0022:{\u0022baseType\u0022:\u0022MessageData\u0022,\u0022baseData\u0022:{\u0022message\u0022:\u0022Hello World\u0022,\u0022severityLevel\u0022:\u0022Information\u0022,\u0022ver\u0022:2}}}\n"
      ],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-session-id": "54F4538F-8403-4566-A348-538D07126B28"
      },
      "ResponseBody": {
        "itemsReceived": 1,
        "itemsAccepted": 1,
        "errors": []
      }
    },
    {
      "RequestUri": "https://api.applicationinsights.io/v1/apps/cab179c4-5745-42ef-9b49-1eb443e7b760/events/traces?timespan=PT10M",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8; ieee754compatible=false; odata.metadata=none; odata.streaming=false",
        "OData-Version": "4.0;"
      },
      "ResponseBody": {
        "@odata.context": "https://api.applicationinsights.io/v1/apps/cab179c4-5745-42ef-9b49-1eb443e7b760/events/$metadata#traces",
        "@ai.messages": [
          {
            "code": "AddedLimitToQuery",
            "message": "The query was limited to 500 rows"
          }
        ],
        "value": [
          {
            "id": "e47c6050-7301-11eb-b8c9-2fc76a5012f0",
            "count": 1,
            "type": "trace",
            "timestamp": "2021-02-19T22:29:13.000Z",
            "trace": {
              "message": "Hello World",
              "severityLevel": 1
            },
            "customDimensions": null,
            "customMeasurements": null,
            "operation": {
              "name": "",
              "id": "",
              "parentId": "",
              "syntheticSource": ""
            },
            "session": {
              "id": ""
            },
            "user": {
              "id": "",
              "authenticatedId": "",
              "accountId": ""
            },
            "application": {
              "version": ""
            },
            "client": {
              "type": "PC",
              "model": "Other",
              "os": "Windows",
              "ip": "0.0.0.0",
              "city": "Redmond",
              "stateOrProvince": "Washington",
              "countryOrRegion": "United States",
              "browser": "Other"
            },
            "cloud": {
              "roleName": "",
              "roleInstance": ""
            },
            "ai": {
              "appId": "cab179c4-5745-42ef-9b49-1eb443e7b760",
              "appName": "tileemonitor",
              "iKey": "a0151fae-78ce-447c-88fc-9020efb2091c",
              "sdkVersion": "dotnet4.8:otel1.0.1:ext1.0.0"
            }
          },
          {
            "id": "d2284c70-7301-11eb-959a-c9595b93b2fb",
            "count": 1,
            "type": "trace",
            "timestamp": "2021-02-19T22:28:41.000Z",
            "trace": {
              "message": "Hello World",
              "severityLevel": 1
            },
            "customDimensions": null,
            "customMeasurements": null,
            "operation": {
              "name": "",
              "id": "",[...]
