{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.ContainerInstance/operations?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.ContainerInstance/register/action",
            "display": {
              "provider": "Microsoft Container Instance",
              "resource": "Container Group",
              "operation": "Register Microsoft Container Instance",
              "description": "Registers the subscription for the container instance resource provider and enables the creation of container groups."
            },
            "origin": "User"
          },
          {
            "name": "Microsoft.ContainerInstance/containerGroups/read",
            "display": {
              "provider": "Microsoft Container Instance",
              "resource": "Container Group",
              "operation": "Get Container Groups",
              "description": "Get all container goups."
            },
            "origin": "User"
          },
          {
            "name": "Microsoft.ContainerInstance/containerGroups/write",
            "displ[...]
