{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-batch5268/providers/Microsoft.Batch/batchAccounts/testaccount6036?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220x8DAD2C2EEE71473\u0022",
        "Last-Modified": "Wed, 30 Nov 2022 11:06:29 GMT",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-batch5268/providers/Microsoft.Batch/batchAccounts/testaccount6036",
        "name": "testaccount6036",
        "type": "Microsoft.Batch/batchAccounts",
        "location": "westus",
        "properties": {
          "accountEndpoint": "testaccount6036.westus.batch.azure.com",
          "nodeManagementEndpoint": "ca8489db-914f-4b37-91e6-ffe5ba30ad75.westus.service.batch.azure.com",
          "provisioningState": "Succeeded",
          "dedicatedCoreQuota": 0,
          "dedicatedCoreQuotaPerVMFamily": [
            {
              "name": "standardAv2Family",
              "coreQuota": 0
            },
            {
              "name": "standardDv2Family",
              "coreQuota": 0
            },
            {
              "name": "standardDv3Family",
              "coreQuota": 0
            },
            {
              "name": "standardEv3Family",
              "coreQuota": 0
            },
            {
              "name": "standardDSv2Family",
              "coreQuota": 0
            },
            {
              "name": "standardDSv3Family",
              "core[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-batch5268/providers/Microsoft.Batch/batchAccounts/testaccount6036/pools/Pool-2409?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "displayName": "test_pool",
          "vmSize": "small",
          "deploymentConfiguration": {
            "cloudServiceConfiguration": {
              "osFamily": "2"
            }
          },
          "scaleSettings": {
            "fixedScale": {
              "targetDedicatedNodes": 0,
              "targetLowPriorityNodes": 0
            }
          },
          "startTask": {
            "commandLine": "cmd.exe /c \u0022echo hello world\u0022",
            "resourceFiles": [
              {
                "httpUrl": "https://blobsource.com/",
                "filePath": "filename.txt",
                "identityReference": {
                  "resourceId": "refUserId123"
                }
              }
            ],
            "environmentSettings": [
              {
                "name": "ENV_VAR",
                "value": "env_value"
              }
            ],
            "userIdentity": {
              "autoUser": {
                "elevationLevel": "Admin"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00220x8DAD2C2F6EEEE7B\u0022",
        "Last-Modified": "Wed, 30 Nov 2022 11:06:43 GMT",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-batch5268/providers/Microsoft.Batch/batchAccounts/testaccount6036/pools/Pool-2409",
        "name": "Pool-2409",
        "type": "Microsoft.Batch/batchAccounts/pools",
        "etag": "W/\u00220x8DAD2C2F6EEEE7B\u0022",
        "properties": {
          "displayName": "test_pool",
          "lastModified": "2022-11-30T11:06:43.4688635Z",
          "creationTime": "2022-11-30T11:06:43.4688635Z",
          "provisioningState": "Succeeded",
          "provisioningStateTransitionTime": "2022-11-30T11:06:43.4688635Z",
          "allocationState": "Resizing",
          "allocationStateTransitionTime": "2022-11-30T11:06:43.4688635Z",
          "vmSize": "Small",
          "interNodeCommunication": "Disabled",
          "taskSlotsPerNode": 1,
          "taskSchedulingPolicy": {
            "nodeFillType": "Spread"
          },
          "deploymentConfiguration": {
            "cloudServiceConfiguration": {
              "osFamily": "2",
              "osVersion": "*"
            }
          },
          "scaleSettings": {
            "fixedScale": {
              "targetDedicatedNodes": 0,
              "targetLowPriorityNodes": 0,
              "resizeTimeout": "PT15M"
            }
          },
          "startTask": {
            "commandLine": "cmd.exe /c \u0022echo hello world\u0022",
            "resourceFiles": [
              {
                "filePath": "filename.txt",
                "httpUrl": "https://blobsource.com/",
                "identityReference": {
                  "resourceId": "refUserId123"
                }
              }
            ],
            "environmentSettings": [
              {
                "name": "ENV_VAR",
                "value": "env_value"
              }
            ],
            "userIdentity": {
              "autoUser": {
                "scope": "Pool",
                "elevationLevel": "Admin"
              }
            },
            "maxTaskRetryCount": 0,
            "waitForSuccess": true
          },
          "resizeOperationStatus": {
            "targetDedicatedNodes": 0,
            "nodeDeallocationOption": "Requeue",
            "resizeTimeout": "PT15M",
            "startTime": "2022-11-30T11:06:43.4688635Z"
          },
          "currentDedicatedNodes": 0,
          "currentLowPriorityNodes": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-batch5268/providers/Microsoft.Batch/batchAccounts/testaccount6036/pools?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-batch5268/providers/Microsoft.Batch/batchAccounts/testaccount6036/pools/Pool-24091?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "error": {
          "code": "PoolNotFound",
          "message": "The specified pool does not exist.\nRequestId:74aaac45-5bad-4807-88c8-4d94b313264b\nTime:2022-11-30T11:06:47.0821202Z",
          "target": "BatchAccount"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "665932112",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
