{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0347d63a-421a-43a7-836a-5f389c79cd07/providers/Microsoft.Billing/invoices/latest?api-version=2017-02-27-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0347d63a-421a-43a7-836a-5f389c79cd07/providers/Microsoft.Billing/invoices/2017-02-09-117646100066812\",\r\n  \"type\": \"Microsoft.Billing/invoices\",\r\n  \"name\": \"2017-02-09-117646100066812\",\r\n  \"properties\": {\r\n    \"downloadUrl\": {\r\n      \"expiryTime\": \"2017-02-18T20:44:31Z\",\r\n      \"url\": \"https://billinsstorev2test.blob.core.windows.net/invoices/0347d63a-421a-43a7-836a-5f389c79cd07-2017-02-09-117646100066812.pdf?sv=2014-02-14&sr=b&sig=VHv8ac7F2mYHl2AfTe6QxZX0OKh8C7yEDtny2Gl4rpE%3D&se=2017-02-18T20%3A44%3A31Z&sp=r\"\r\n    },\r\n    \"invoicePeriodEndDate\": \"2017-02-09\",\r\n    \"invoicePeriodStartDate\": \"2017-01-10\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14998"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "0347d63a-421a-43a7-836a-5f389c79cd07"
  }
}