{
  "Entries": [
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/sqlScripts/SqlScript2115367?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "SqlScript2115367",
        "properties": {
          "content": {
            "query": "SELECT NULL LIMIT 0;",
            "currentConnection": {
              "type": "SqlPool",
              "name": "Server=tcp:nonexistant.sql.azuresynapse.net,1433;Database=nonexistant;User ID=user;Password=password;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/60a7ca54-0f31-4bd9-8241-0ce16f3f1a3b?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/sqlScripts/SqlScript2115367",
        "recordId": 1004065,
        "state": "Creating",
        "created": "2021-01-25T15:35:34.7633333Z",
        "changed": "2021-01-25T15:35:34.7633333Z",
        "type": "SqlScript",
        "name": "SqlScript2115367",
        "operationId": "60a7ca54-0f31-4bd9-8241-0ce16f3f1a3b",
        "artifactId": "93C254C9-3C19-4177-A465-A55A56F02586"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/60a7ca54-0f31-4bd9-8241-0ce16f3f1a3b?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/60a7ca54-0f31-4bd9-8241-0ce16f3f1a3b?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/60a7ca54-0f31-4bd9-8241-0ce16f3f1a3b?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/sqlscripts/SqlScript2115367",
        "name": "SqlScript2115367",
        "type": "Microsoft.Synapse/workspaces/sqlscripts",
        "properties": {
          "content": {
            "query": "SELECT NULL LIMIT 0;",
            "currentConnection": {
              "type": "SqlPool",
              "name": "Server=tcp:nonexistant.sql.azuresynapse.net,1433;Database=nonexistant;User ID=user;Password=password;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
            }
          }
        },
        "etag": "af04004d-0000-0800-0000-600ee54b0000"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/sqlScripts?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/sqlscripts/SqlScript2115367",
            "name": "SqlScript2115367",
            "type": "Microsoft.Synapse/workspaces/sqlscripts",
            "etag": "af04004d-0000-0800-0000-600ee54b0000",
            "properties": {
              "content": {
                "query": "SELECT NULL LIMIT 0;",
                "currentConnection": {
                  "type": "SqlPool",
                  "name": "Server=tcp:nonexistant.sql.azuresynapse.net,1433;Database=nonexistant;User ID=user;Password=password;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
                }
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/09d8ad20-9818-4f25-941b-2c8fcd934faa?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspacechhamosynapse.dev.azuresynapse.net",
    "RandomSeed": "1605355607"
  }
}