{
  "Entries": [
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/sqlScripts/SqlScript1397025?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "SqlScript1397025",
        "properties": {
          "content": {
            "query": "SELECT NULL LIMIT 0;",
            "currentConnection": {
              "type": "SqlPool",
              "name": "Server=tcp:nonexistant.sql.azuresynapse.net,1433;Database=nonexistant;User ID=user;Password=password;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/efba1bdf-f2a6-410d-b049-94cffd652beb?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/sqlScripts/SqlScript1397025",
        "recordId": 1004061,
        "state": "Creating",
        "created": "2021-01-25T15:34:50.88Z",
        "changed": "2021-01-25T15:34:50.88Z",
        "type": "SqlScript",
        "name": "SqlScript1397025",
        "operationId": "efba1bdf-f2a6-410d-b049-94cffd652beb",
        "artifactId": "E6DA50B4-B735-4AAE-8803-EFA0B17202F1"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/efba1bdf-f2a6-410d-b049-94cffd652beb?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/efba1bdf-f2a6-410d-b049-94cffd652beb?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/efba1bdf-f2a6-410d-b049-94cffd652beb?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/sqlscripts/SqlScript1397025",
        "name": "SqlScript1397025",
        "type": "Microsoft.Synapse/workspaces/sqlscripts",
        "properties": {
          "content": {
            "query": "SELECT NULL LIMIT 0;",
            "currentConnection": {
              "type": "SqlPool",
              "name": "Server=tcp:nonexistant.sql.azuresynapse.net,1433;Database=nonexistant;User ID=user;Password=password;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
            }
          }
        },
        "etag": "af04ab2c-0000-0800-0000-600ee51f0000"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/7672371e-2b59-464d-93b7-6c4112e15741?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspacechhamosynapse.dev.azuresynapse.net",
    "RandomSeed": "2078744629"
  }
}