{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11978"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tagValue1",
          "tagKey2": "tagValue2"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-5464?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "tags": {
          "test": "env"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-5464",
        "name": "testRG-5464",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-5464/providers/Microsoft.Compute/hostGroups/testDHG-2620?api-version=2021-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "platformFaultDomainCount": 2
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/PutDeleteDedicatedHost3Min;101,Microsoft.Compute/PutDeleteDedicatedHost30Min;577",
        "x-ms-ratelimit-remaining-subscription-writes": "1186"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022testDHG-2620\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/TESTRG-5464/providers/Microsoft.Compute/hostGroups/testDHG-2620\u0022,\r\n",
        "  \u0022type\u0022: \u0022Microsoft.Compute/hostGroups\u0022,\r\n",
        "  \u0022location\u0022: \u0022westus2\u0022,\r\n",
        "  \u0022tags\u0022: {},\r\n",
        "  \u0022properties\u0022: {\r\n",
        "    \u0022platformFaultDomainCount\u0022: 2,\r\n",
        "    \u0022supportAutomaticPlacement\u0022: false\r\n",
        "  }\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/TESTRG-5464/providers/Microsoft.Compute/hostGroups/testDHG-2620/hosts/testHost-9573?api-version=2021-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "DSv3-Type1"
        },
        "tags": {},
        "location": "westus2",
        "properties": {
          "platformFaultDomain": 0
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/westus2/operations/5941b32e-c212-4438-ba81-528b7374f63a?p=6dc3cfcb-f5db-4e95-ac20-4affbabf6d0b\u0026api-version=2021-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/PutDeleteDedicatedHost3Min;100,Microsoft.Compute/PutDeleteDedicatedHost30Min;576",
        "x-ms-ratelimit-remaining-subscription-writes": "1185"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022testHost-9573\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/TESTRG-5464/providers/Microsoft.Compute/hostGroups/testDHG-2620/hosts/testHost-9573\u0022,\r\n",
        "  \u0022type\u0022: \u0022Microsoft.Compute/hostGroups/hosts\u0022,\r\n",
        "  \u0022location\u0022: \u0022westus2\u0022,\r\n",
        "  \u0022tags\u0022: {},\r\n",
        "  \u0022sku\u0022: {\r\n",
        "    \u0022name\u0022: \u0022DSv3-Type1\u0022\r\n",
        "  },\r\n",
        "  \u0022properties\u0022: {\r\n",
        "    \u0022platformFaultDomain\u0022: 0,\r\n",
        "    \u0022autoReplaceOnFailure\u0022: true,\r\n",
        "    \u0022hostId\u0022: \u0022b1460054-2258-4d78-8a5d-2ee27eeb33f3\u0022,\r\n",
        "    \u0022provisioningState\u0022: \u0022Creating\u0022\r\n",
        "  }\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/westus2/operations/5941b32e-c212-4438-ba81-528b7374f63a?p=6dc3cfcb-f5db-4e95-ac20-4affbabf6d0b\u0026api-version=2021-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;14997,Microsoft.Compute/GetOperation30Min;29993",
        "x-ms-ratelimit-remaining-subscription-reads": "11977"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022startTime\u0022: \u00222021-08-13T05:24:43.5819726\u002B00:00\u0022,\r\n",
        "  \u0022endTime\u0022: \u00222021-08-13T05:24:43.910082\u002B00:00\u0022,\r\n",
        "  \u0022status\u0022: \u0022Succeeded\u0022,\r\n",
        "  \u0022name\u0022: \u00225941b32e-c212-4438-ba81-528b7374f63a\u0022\r\n",
        "}"
      ]
    },
[...]
