{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Subscriptions.Admin/operations?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.Subscriptions.Admin/directoryTenants/read\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Subscriptions Administration Service\",\r\n        \"resource\": \"Directory Tenant\",\r\n        \"operation\": \"Get Directory Tenant\",\r\n        \"description\": \"Gets or lists directory tenants.\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Subscriptions.Admin/directoryTenants/write\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Subscriptions Administration Service\",\r\n        \"resource\": \"Directory Tenant\",\r\n        \"operation\": \"Create Directory Tenant\",\r\n        \"description\": \"Creates or updates a directory tenant.\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Subscriptions.Admin/[...]
