{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0291eef9-9ea5-48e8-ad2c-5b3bb725ebd1/providers/Microsoft.Subscriptions.Admin/subscriptions?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/0291eef9-9ea5-48e8-ad2c-5b3bb725ebd1/providers/Microsoft.Subscriptions.Admin/subscriptions/5553b842-1dee-4919-b374-89ee5341f20b\",\r\n      \"subscriptionId\": \"5553b842-1dee-4919-b374-89ee5341f20b\",\r\n      \"delegatedProviderSubscriptionId\": \"0291eef9-9ea5-48e8-ad2c-5b3bb725ebd1\",\r\n      \"displayName\": \"cnur4373tenantresellersubscription960\",\r\n      \"owner\": \"tenantadmin1@msazurestack.onmicrosoft.com\",\r\n      \"tenantId\": \"2b3697e6-a7a2-4cdd-a3d4-f4ef6505cd4f\",\r\n      \"routingResourceManagerType\": \"Default\",\r\n      \"offerId\": \"/subscriptions/0291eef9-9ea5-48e8-ad2c-5b3bb725ebd1/resourceGroups/cnur4373resellersubscrrg960/providers/Microsoft.Subscriptions.Admin/offers/cnur4373tenantsubsvcoffer960\",\r\n      \"state\": \"Enabled\"\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/0291eef9-9ea5-48e8-ad2c-5b3bb725ebd1/providers/Microsoft.Subscriptions.Admin/subscriptions/1754b7f4-4f5c-45f6-8320-5c77733781cb\",\r\n      \"subscriptionId\": \"1754b7f4-4f5c-45f6-8320-5c77733781cb\",\r\n      \"delegatedProviderSubscriptionId\": \"0291eef9-9ea5-48e8-ad2c-5b3bb725ebd1\",\r\n      \"displayName\": \"cnur4373tenantsubscription960\",\r\n      \"owner\": \"tenantadmin1@msazurestack.onmicrosoft.com\",\r\n      \"tenantId\": \"2b3697e6-a7a2-4cdd-a3d4-f4ef6505cd4f\",\r\n      \"routingResourceManagerType\": \"Default\",\r\n      \"offerId\": \"/subscriptions/0291eef9-9ea5-48e8-ad2c-5b3bb725ebd1/resourceGroups/cnur4373subscrrg960/providers/Microsoft.Subscriptions.Admin/offers/cnur4373tenantoffer960\",\r\n      \"state\": \"Deleted\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14757"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0291eef9-9ea5-48e8-ad2c-5b3bb725ebd1/providers/Microsoft.Subscriptions.Admin/subscriptions/0291eef9-9ea5-48e8-ad2c-5b3bb725ebd1/acquiredPlans?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/0291eef9-9ea5-48e8-ad2c-5b3bb725ebd1/providers/Microsoft.Subscriptions.Admin/subscriptions/0291eef9-9ea5-48e8-ad2c-5b3bb725ebd1/acquiredPlans/f6f973db-d48a-4062-971d-bca9f34d89f5\",\r\n      \"acquisitionId\": \"f6f973db-d48a-4062-971d-bca9f34d89f5\",\r\n      \"planId\": \"/subscriptions/0291eef9-9ea5-48e8-ad2c-5b3bb725ebd1/providers/Microsoft.Subscriptions.Admin/plans/cnur4373tenantplan960\",\r\n      \"provisioningState\": \"Succeeded\",\r\n      \"acquisitionTime\": \"2018-04-25T07:52:19.6966667Z\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14756"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0291eef9-9ea5-48e8-ad2c-5b3bb725ebd1/providers/Microsoft.Subscriptions.Admin/subscriptions/0291eef9-9ea5-48e8-ad2c-5b3bb725ebd1/acquiredPlans/f6f973db-d48a-4062-971d-bca9f34d89f5?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0291eef9-9ea5-48e8-ad2c-5b3bb725ebd1/providers/Microsoft.Subscriptions.Admin/subscriptions/0291eef9-9ea5-48e8-ad2c-5b3bb725ebd1/acquiredPlans/f6f973db-d48a-4062-971d-bca9f34d89f5\",\r\n  \"acquisitionId\": \"f6f973db-d48a-4062-971d-bca9f34d89f5\",\r\n  \"planId\": \"/subscriptions/0291eef9-9ea5-48e8-ad2c-5b3bb725ebd1/providers/Microsoft.Subscriptions.Admin/plans/cnur4373tenantplan960\",\r\n  \"provisioningState\": \"Succeeded\",\r\n  \"acquisitionTime\": \"2018-04-25T07:52:19.6966667Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14755"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "0291eef9-9ea5-48e8-ad2c-5b3bb725ebd1"
  }
}