{
  "Entries": [
    {
      "RequestUri": "/v1/apps/DEMO_APP/metrics/requests%2Fduration?timespan=PT12H&aggregation=avg&segment=request%2Fname%2Crequest%2FresultCode",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-api-key": [
          "DEMO_KEY"
        ],
        "prefer": [
          "response-v1=true"
        ],
        "x-ms-app": [
          "csharpsdk"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": {\r\n    \"start\": \"2018-01-11T06:45:15.176Z\",\r\n    \"end\": \"2018-01-11T18:45:15.176Z\",\r\n    \"segments\": [\r\n      {\r\n        \"request/name\": \"GET ServiceTickets/GetLogEntries\",\r\n        \"segments\": [\r\n          {\r\n            \"requests/duration\": {\r\n              \"avg\": 5983.14\r\n            },\r\n            \"request/resultCode\": \"200\"\r\n          }\r\n        ]\r\n      },\r\n      {\r\n        \"request/name\": \"GET Customers/Delete\",\r\n        \"segments\": [\r\n          {\r\n            \"requests/duration\": {\r\n              \"avg\": 1429.27\r\n            },\r\n            \"request/resultCode\": \"200\"\r\n          }\r\n        ]\r\n      },\r\n      {\r\n        \"request/name\": \"GET Employees/Details\",\r\n        \"segments\": [\r\n  [...]
