{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6eb544b1-b5a5-d28b-f4ed-1ceee3c0fd3e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:01:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A6BF03DD3C\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:01:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6eb544b1-b5a5-d28b-f4ed-1ceee3c0fd3e/test-blob-3d68b630-4e81-0c8d-f2cb-16626d50d624",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 10 May 2022 17:01:38 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A6BF14FA1F\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:01:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:01:37.8129439Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6eb544b1-b5a5-d28b-f4ed-1ceee3c0fd3e/test-blob-3d68b630-4e81-0c8d-f2cb-16626d50d624",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:01:38 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6BF14FA1F\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:01:37 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:01:37 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:01:37.8129439Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6eb544b1-b5a5-d28b-f4ed-1ceee3c0fd3e/test-blob-3d68b630-4e81-0c8d-f2cb-16626d50d624?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA32A6BF14FA1F\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:01:38 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "nIFfVNwv/gpUwHecD9\u002B2UxD6GKio7xiIJn9Z\u002B76s74Iadg6aQYlFpj0OumR2FNYRn5UyCltGh61o1i1c1gJLp9D1gpnRHBKHtHJqmTW0EhKpR1wpeuUm1O5hMWpc6M86wxKTgZE8QIKCq1Xp2\u002B14tMQaso\u002BmIS3rzq6rcOuoKsujL9YiIJCBbQbZp86PPfgA6H2lQjY/lKHkqLLjkdCX2oCJRasXVpMzmUWJzHpfXJG1qoduA\u002BiVY5s0PXjendw1Qs1NBfdN6ZLpcanxtsgnhUsgLudIKdeY9OIQ4hgbVftoU4mtEVaaZ8D1hJE/pK3[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6eb544b1-b5a5-d28b-f4ed-1ceee3c0fd3e/test-blob-3d68b630-4e81-0c8d-f2cb-16626d50d624",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:01:38 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "qKUI9pOSe\u002B9OM1IaLLTqWg==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6BF32DE0C\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:01:38 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:01:37 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
  [...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6eb544b1-b5a5-d28b-f4ed-1ceee3c0fd3e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:01:38 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "862713702",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
