{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-23bbb956-c83a-44c1-52f0-cd998135abf2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Apr 2022 22:55:15 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA28A0FE9ECCCC\u0022",
        "Last-Modified": "Wed, 27 Apr 2022 22:55:15 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-23bbb956-c83a-44c1-52f0-cd998135abf2/test-blob-46fda795-1963-2983-06f3-b8f1f5cd3e8e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 27 Apr 2022 22:55:15 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA28A0FEAD9989\u0022",
        "Last-Modified": "Wed, 27 Apr 2022 22:55:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-27T22:55:15.9024786Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-23bbb956-c83a-44c1-52f0-cd998135abf2/test-blob-46fda795-1963-2983-06f3-b8f1f5cd3e8e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Apr 2022 22:55:15 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA28A0FEAD9989\u0022",
        "Last-Modified": "Wed, 27 Apr 2022 22:55:15 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Apr 2022 22:55:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-27T22:55:15.9024786Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-23bbb956-c83a-44c1-52f0-cd998135abf2/test-blob-46fda795-1963-2983-06f3-b8f1f5cd3e8e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA28A0FEAD9989\u0022",
        "x-ms-date": "Wed, 27 Apr 2022 22:55:15 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "QNUjh5qc5NRmebA9BH5SqUwfw7SiecB4rBt0FSqk\u002B0XVXQIchRwTOue9y7gsYdvcJa1hJ2pzw8cVqtt/J8\u002Bqwn5qaKZ7NiQwC4jM5K4ITEo/mO99Q9PbYZo7B9pBlBMYEwg5wfk1YO\u002BJMRvhpt4YDF6RP4/gLH\u002BqjwYMPy9J7nd1tNGlzopQCjcA9BG3\u002Bbu7Ivp8sFWDOOaJjjLyKSG/P0KkbPINcz3TQDRY3zht85VLUB00zT0h8XzqGz9YXeEWQbTOEo3Irq\u002B8qHAhK1itHJucp9gEinIFgnp2Ilf9euJTQZ6EnuAHg6JteC[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-23bbb956-c83a-44c1-52f0-cd998135abf2/test-blob-46fda795-1963-2983-06f3-b8f1f5cd3e8e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Apr 2022 22:55:16 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "f14IHYUCCOHt5awtSlXOfA==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA28A0FEC9F6D6\u0022",
        "Last-Modified": "Wed, 27 Apr 2022 22:55:16 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Apr 2022 22:55:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
  [...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-23bbb956-c83a-44c1-52f0-cd998135abf2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Apr 2022 22:55:16 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "997199764",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
