{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-0b937e97-0d76-730d-1db6-c4aad8fce4bd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 24 Feb 2022 00:46:43 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F72F21096A68\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:46:43 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-0b937e97-0d76-730d-1db6-c4aad8fce4bd/test-blob-2fceec41-4630-16b6-28af-528f93b5d615",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 24 Feb 2022 00:46:44 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F72F212F2E49\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:46:44 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2022-02-24T00:46:44.1899593Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-0b937e97-0d76-730d-1db6-c4aad8fce4bd/test-blob-2fceec41-4630-16b6-28af-528f93b5d615",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:46:44 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9F72F212F2E49\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:46:44 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 24 Feb 2022 00:46:44 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2022-02-24T00:46:44.1899593Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-0b937e97-0d76-730d-1db6-c4aad8fce4bd/test-blob-2fceec41-4630-16b6-28af-528f93b5d615?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9F72F212F2E49\u0022",
        "x-ms-date": "Thu, 24 Feb 2022 00:46:44 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "6Xa2yVgPQFDUJovqpcm/Dz/8z0TfK/hfq6bLi4bgWFyGJFo9V61vy1TM455I4p6EVLGJF1PBY719Vx2xRLXJ9M4vZIFugriSjQTvEkdZFsgIRjbVV0EIxMCdv/\u002BPvYeeA\u002B/QGH0cFtL59olP0VB1JEFVqf1\u002B85yMJ6DA0cK4A9B9UA9YiP5K6zBk3GC3ufNvJ5u\u002BORSJIA9SQ/DdXEUQQPO50YBBHZtCCr7NGhc81W6sUKkm\u002Bsm88zAABUUNbI7qU5tt/udyLgn/ey9VvAX3Fm6CMQub6UYp/d5PQBdWNZ0v4sd8ztaGOSKgJ3\u002[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-0b937e97-0d76-730d-1db6-c4aad8fce4bd/test-blob-2fceec41-4630-16b6-28af-528f93b5d615",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:46:44 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9F72F2158822C\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:46:44 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "U9bbOBvtOYA=",
        "x-ms-creation-time": "Thu, 24 Feb 2022 00:46:44 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2022-02-24T00:46:44.1899593Z"
      },
      "ResponseBody": "6Xa2yVgPQFDUJovqpcm/Dz/8z0TfK/hfq6bLi4bgWFyGJFo9V61vy1TM455I4p6EVLGJF1PBY719Vx2xRLXJ9M4vZIFugriSjQTvEkdZFsgIRjbVV0EIxMCdv/\u00[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-0b937e97-0d76-730d-1db6-c4aad8fce4bd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:46:44 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1300516115",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}