{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bb84c0f0-691a-7668-e944-e3098f3544f2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Apr 2022 22:55:12 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA28A0FCD59AF1\u0022",
        "Last-Modified": "Wed, 27 Apr 2022 22:55:12 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bb84c0f0-691a-7668-e944-e3098f3544f2/test-blob-2af74e0e-9cc8-793b-8852-23aa1d26d9aa",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 27 Apr 2022 22:55:12 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA28A0FCE61837\u0022",
        "Last-Modified": "Wed, 27 Apr 2022 22:55:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-27T22:55:12.9162807Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bb84c0f0-691a-7668-e944-e3098f3544f2/test-blob-2af74e0e-9cc8-793b-8852-23aa1d26d9aa",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Apr 2022 22:55:12 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA28A0FCE61837\u0022",
        "Last-Modified": "Wed, 27 Apr 2022 22:55:12 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Apr 2022 22:55:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-27T22:55:12.9162807Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bb84c0f0-691a-7668-e944-e3098f3544f2/test-blob-2af74e0e-9cc8-793b-8852-23aa1d26d9aa?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA28A0FCE61837\u0022",
        "x-ms-date": "Wed, 27 Apr 2022 22:55:12 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "WusPTMQ7mAC4pBzCOj7uv3xwg4Nm/m34x9lW5PF3PyeCes6bG3yuSnPNjd8mOHhCbD8VL/NSTlt9F4Xr5LMPQWX0P79wUqP/wjkQmHGO0Y9gFHeyYQ8zMCxyHgT2wmW/vkx6Mfi40hqbFW26QrXq70X2itA8Xd9VwQ6T/TSfCf/TUNokE6CWqEFdFkyiee52iC6\u002B/ziVg2BtJHDpJdXl\u002Bwtt5/HaxtulYOKO3kaSs0cgHHUF4ArHPc16t\u002B8vrINsdxpBNJL8nMFTGZ9VBqQZ2nEoyQhf4BsBpakkYA/sdbRfImYsUX61I4CzscZqcjYoYNx9BuJ6D[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bb84c0f0-691a-7668-e944-e3098f3544f2/test-blob-2af74e0e-9cc8-793b-8852-23aa1d26d9aa",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Apr 2022 22:55:13 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA28A0FD111933\u0022",
        "Last-Modified": "Wed, 27 Apr 2022 22:55:13 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "/arD4WT\u002Buk0=",
        "x-ms-creation-time": "Wed, 27 Apr 2022 22:55:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-27T22:55:12.9162807Z"
      },
      "ResponseBody": "WusPTMQ7mAC4pBzCOj7uv3xwg4Nm/m34x9lW5PF3PyeCes6bG3yuSnPNjd8mOHhCbD8VL/NSTlt9F4Xr5LMPQWX0P79wUqP/wjkQmHGO0Y9gFHeyYQ8zMCxyH[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bb84c0f0-691a-7668-e944-e3098f3544f2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Apr 2022 22:55:13 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "823773650",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
