{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-68f51c02-d327-1cff-c04a-806750dc39d5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:01:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A6BE999212\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:01:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-68f51c02-d327-1cff-c04a-806750dc39d5/test-blob-2d30de7a-ac5c-5330-05c6-c0ed7a08a977",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 10 May 2022 17:01:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A6BEA9286B\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:01:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:01:37.1073396Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-68f51c02-d327-1cff-c04a-806750dc39d5/test-blob-2d30de7a-ac5c-5330-05c6-c0ed7a08a977",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:01:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6BEA9286B\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:01:37 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:01:37 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:01:37.1073396Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-68f51c02-d327-1cff-c04a-806750dc39d5/test-blob-2d30de7a-ac5c-5330-05c6-c0ed7a08a977?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA32A6BEA9286B\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:01:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "abEwPG9myXEgZ8SvnZ8aQFvERo7dcr\u002BHA0yA6urXFqyv8PZQTrJMuviMp64E7z1pJmbJs7A5aPbyqDgi5t6HSVAX/6yoyvKod4yWUMsQgxMOFsSDDWL8doj/XaV6KtMZBV1d7O\u002BRwVtzITwkoxcr4SUlFM8aAzvuG4kjqGxMLk24fUpts5YjfVVoD\u002Bwl19Jx1HyAVRUE/gEib9FmbRjvJvPvbCbMvi6OAZd6svNOyEO2stTvzNg3s35JS0PEvQ89eOj5NmuspBZN8VN\u002BikwN06eOr7tD/1oauLing3PryUOHPDkLVJHXCg2\u002BoduEuCk[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-68f51c02-d327-1cff-c04a-806750dc39d5/test-blob-2d30de7a-ac5c-5330-05c6-c0ed7a08a977",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:01:37 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6BECBEDAC\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:01:37 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "r/QEWoi8uAc=",
        "x-ms-creation-time": "Tue, 10 May 2022 17:01:37 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:01:37.1073396Z"
      },
      "ResponseBody": "abEwPG9myXEgZ8SvnZ8aQFvERo7dcr\u002BHA0yA6urXFqyv8PZQTrJMuviMp64E7z1pJmbJs7A5aPbyqDgi5t6HSVAX/6yoyvKod4yWUMsQgxMOFsSDDWL8doj/X[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-68f51c02-d327-1cff-c04a-806750dc39d5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:01:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1319223222",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
