{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-ecc00e27-12e8-0b18-0ffd-fbb9a8813f85?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:01:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A6B0D8008B\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:01:13 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-ecc00e27-12e8-0b18-0ffd-fbb9a8813f85/test-blob-53b2fc18-2554-ab6c-ba52-9fe71c9ce77a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 10 May 2022 17:01:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A6B0F06CD5\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:01:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:01:14.0862951Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-ecc00e27-12e8-0b18-0ffd-fbb9a8813f85/test-blob-53b2fc18-2554-ab6c-ba52-9fe71c9ce77a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:01:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6B0F06CD5\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:01:14 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:01:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:01:14.0862951Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-ecc00e27-12e8-0b18-0ffd-fbb9a8813f85/test-blob-53b2fc18-2554-ab6c-ba52-9fe71c9ce77a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA32A6B0F06CD5\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:01:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "ukTY2LJru/5LtRqlOUIm8wRxGcM0IR/YrTFkwdQo3xpE1xqhQx/XNSlO0bBR1N7MoWGVup46zZkkACuBBvopI9YAYGEohbDkmuSZ5U9uh9hSlx9zkyV7CgmBfEL0VS4vJK7aUHR8oxuwsB\u002B6oedJtXlSLm7ato\u002BxhFZXpwlt8EW2asCglDZk1vQEwuMFwWgiN8fJoia/VG4eKcseJPwSQ8DaBDcmqCFD7lh61vOsq8PtNW9Bo04e9hVSgmpqRrH38X8iK7wx\u002B4\u002BmhrPORH17cn0IMO\u002BN0J9yuw0h1Ca22Kemg\u002BR0iYAGvDngmx[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-ecc00e27-12e8-0b18-0ffd-fbb9a8813f85/test-blob-53b2fc18-2554-ab6c-ba52-9fe71c9ce77a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:01:14 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6B1229922\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:01:14 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "CNiPj59xo8U=",
        "x-ms-creation-time": "Tue, 10 May 2022 17:01:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:01:14.0862951Z"
      },
      "ResponseBody": "ukTY2LJru/5LtRqlOUIm8wRxGcM0IR/YrTFkwdQo3xpE1xqhQx/XNSlO0bBR1N7MoWGVup46zZkkACuBBvopI9YAYGEohbDkmuSZ5U9uh9hSlx9zkyV7CgmBfEL0VS[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-ecc00e27-12e8-0b18-0ffd-fbb9a8813f85?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:01:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "178048572",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
