{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-9360553c-9272-aa09-16ee-31f2edc0d4bc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Apr 2022 22:55:19 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA28A101131966\u0022",
        "Last-Modified": "Wed, 27 Apr 2022 22:55:19 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-9360553c-9272-aa09-16ee-31f2edc0d4bc/test-blob-1177a1d1-d013-5b14-bacc-bfade3a29b9d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Apr 2022 22:55:19 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "o9eBG3wNLJzFlIOdAuhmWGULbJpWH0fX6n8dONypLemsqH1tPG6oeSbM7\u002BCKKZrUAGqBkrmNkIOQqTD87/TAHGaZ8Flq\u002BRz3Y/NzijBmTcHlSTdxKJowHxj63JI9q4kxC9N58DhAaQZOii/GGQVTKVxvF6a8T/TMadBBcByJubdpQn5d7VyIpd8wIp1ragYTp7M1zpTjdbzerYdn//nqxdB4XNeG9jwA5nLHiyxWYP7KLcloU\u002Bojhs3Cfj/UIKXlRl3N8w0vjLF2NeciG\u002BmQiEyJndEwgXHmVNYKxHf8LMbM4UXOiW3wm6AY8R4CAGrjMvXyS4LUtcTs5p42JMg5egkh[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-9360553c-9272-aa09-16ee-31f2edc0d4bc/test-blob-1177a1d1-d013-5b14-bacc-bfade3a29b9d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Apr 2022 22:55:19 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA28A10122CC34\u0022",
        "Last-Modified": "Wed, 27 Apr 2022 22:55:20 GMT",
        "x-ms-blob-content-md5": "9VrHIIIycHt7dlvqj1ZqmQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "JNNOG52KckY=",
        "x-ms-creation-time": "Wed, 27 Apr 2022 22:55:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-27T22:55:20.0249908Z"
      },
      "ResponseBody": "o9eBG3wNLJzFlIOdAuhmWGULbJpWH0fX6n8dONypLemsqH1tPG6oeSbM7\u002BCKKZrUAGqBkrmNkIOQqTD87/TAHGaZ8Flq\u002BRz3Y/NzijBmTcHlSTdxKJowHxj63JI9q4kxC9N58DhAaQZOii/GGQVTKVxvF6a8T/TMadBBcByJubdpQn5d7VyIpd8wIp1ragYTp7M1zpTjdbzerYdn//nqxdB4XNeG9jwA5nLHiyxWYP7KLcloU\u002Bojhs3Cfj/UIKXlRl3N8w0vjLF2NeciG\u002BmQiEyJndEwgXHmVNYKxHf8LMbM4UXOiW3wm6AY8R4CAGrjMvXyS4LUtcTs5p42JMg5egkhVTqjwf/fmAIwF49T41RsJpKCCuBD\u002BCuB4qLPunbY33cV4aowQHD1E7KAo540mQNKyf4[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-9360553c-9272-aa09-16ee-31f2edc0d4bc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Apr 2022 22:55:20 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1777221782",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
