{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-9ca5c318-7fe1-e05b-b8b3-46429385c60a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:01:20 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A6B4AAE907\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:01:20 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-9ca5c318-7fe1-e05b-b8b3-46429385c60a/test-blob-40c51a43-98ed-ac02-528b-67b81155f6d6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 10 May 2022 17:01:20 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A6B4C63BC5\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:01:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:01:20.5196741Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-9ca5c318-7fe1-e05b-b8b3-46429385c60a/test-blob-40c51a43-98ed-ac02-528b-67b81155f6d6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:01:20 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6B4C63BC5\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:01:20 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:01:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:01:20.5196741Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-9ca5c318-7fe1-e05b-b8b3-46429385c60a/test-blob-40c51a43-98ed-ac02-528b-67b81155f6d6?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA32A6B4C63BC5\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:01:21 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "d\u002BqXukCKI0taa2\u002BFoVpJ8W9OrnWPSVbtBINhKFvx7svYiYisL4m4CvmqIUhGKaZuH38H/bQNxC6Uqba9KPvwaXykrBjSncHllqN75CcNptrc8wnc6vEXysVaF4XT\u002BuL\u002BurjMonyOnIG\u002BImYQkd8GhgPb4DTxE3\u002BKjeJTd4U8EZvBfSpvQQNeTleHHceKBjjlVJGC9xqtDKY5QRWaOyT7gRDLThS1l0T/fZHdavW3AIapbSL0uRmAFHCDNQDuwxMyi5u2vrgjML1Mg3qJz6KwgUGP8c0CB8j3SzqkMWFEELl9q95aAEHOhT1lpz[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-9ca5c318-7fe1-e05b-b8b3-46429385c60a/test-blob-40c51a43-98ed-ac02-528b-67b81155f6d6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA32A6B4F708C5\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:01:21 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "iiRYqSTn2uT\u002BC697i5nBCg==",
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6B4F708C5\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:01:20 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:01:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:01:20.5196741Z"
      },
      "ResponseBody": "d\u002BqXukCKI0taa2\u002BFoVpJ8W9OrnWPSVbtBINhKFvx7svYiYisL4m4CvmqIUhGKaZuH38H/bQNxC6Uqba9KPvwaXykrBjSncHllqN75CcNptrc8wnc6vEXysVaF4XT\u002BuL\u002BurjMonyOnIG\u002BImYQkd8GhgPb4DTxE3\u002BKjeJTd4U8EZvBfSpvQQNeTleHHceKBjjlVJGC9xqtDKY5QRWaOyT7gRDLThS1l0T/fZHdavW3AIapbSL0uRmAFHCDNQDuwxMyi5u2vrgjML1Mg3qJz6KwgUGP8c0CB8j3SzqkMWFEELl9q95aAEHOhT1lpzaf90TN07O/X9JGMITTv3N\u002Bfv5cCHLACyTEVoH/wWuPnF\u002BRV1P1112thbHnN3tahkHNTwY\u002BCZ/E3uwfCXwyv51mtpMkQWcfiKehroLA2dOpadA/MXFlUZPAzXln1c7gesUTgIHnNUTZrcZfnVodAwUYdp\u002Bs8o0sAWUAZHTuuLPYwDO8rFhRwTSLZoSqBbM4o8l0Tl4vNIg4538c59HQ6/UTht0mYFetxrVqIYwJgfuxx8GqeWlUqYurhMXYNdlju3qOl3/WEUJyxoepxBP7LmWDayAPJXGMv9xRe9uR1JHbB2UReup827V\u002BN7Lhq\u002BV4r1VfVcq5U5UJAtejhJZm4fL2zb2t6rR6B49qkO6\u002BqhT32MuGMX8="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-9ca5c318-7fe1-e05b-b8b3-46429385c60a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:01:21 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1939378115",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
