{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c6cc81a4-6bb6-0a50-a2bf-c2b4954ffbb7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 20:53:39 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA31FDFE3B3417\u0022",
        "Last-Modified": "Mon, 09 May 2022 20:53:38 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c6cc81a4-6bb6-0a50-a2bf-c2b4954ffbb7/test-blob-d8020330-9da9-d4cc-18c1-dff24bad2a14",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 09 May 2022 20:53:39 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA31FDFE510BDD\u0022",
        "Last-Modified": "Mon, 09 May 2022 20:53:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T20:53:38.9557725Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c6cc81a4-6bb6-0a50-a2bf-c2b4954ffbb7/test-blob-d8020330-9da9-d4cc-18c1-dff24bad2a14?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "2XMNK6xuB5KS7qeLFNzdAQ==",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA31FDFE6B46D9\u0022",
        "x-ms-date": "Mon, 09 May 2022 20:53:39 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "2eP\u002BBnGHkk352rJGbC22C97xTQi\u002B91tDaWCKZ1L5ry5acklwmdpf3/pDCoJlflslh/mvUZgNzeKIup0Q/Sr7/yqD7PrkRnEEkW0Oe\u002BzZ3eoEZeBYSV6WTaRm5948T\u002BHPSApX4pJhQUCHqr8q/lL1r9yyDJhJorXM7Z9WfV6TyEKMPjPhgftYoiSf0Z\u002BebE5RcDgBikJJhaVVi/XzC8Pi8\u002BJ9nb8eFC3hWWl0qtAWLYBQBAwlkT7/Q7mNjPYGZZdgvd28Ic6OM1wLIDDZ1NvVPl10oge2vGKkfVoGkYc22/TRE\u002BzyWgyyw[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c6cc81a4-6bb6-0a50-a2bf-c2b4954ffbb7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 20:53:40 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2145287749",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
