{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1e4533b3-47a0-0e75-5bd1-74aa1d35bd5e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 May 2023 19:59:44 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB50C7EEF9C7DA\u0022",
        "Last-Modified": "Tue, 09 May 2023 19:59:44 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1e4533b3-47a0-0e75-5bd1-74aa1d35bd5e/test-blob-b1d6ad9f-6a2a-4822-618f-952dba38c80e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 09 May 2023 19:59:44 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB50C7EF015A4F\u0022",
        "Last-Modified": "Tue, 09 May 2023 19:59:44 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1e4533b3-47a0-0e75-5bd1-74aa1d35bd5e/test-blob-b1d6ad9f-6a2a-4822-618f-952dba38c80e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DB50C7EF079AEE\u0022",
        "x-ms-content-crc64": "cCK6bMlxrZA=",
        "x-ms-date": "Tue, 09 May 2023 19:59:44 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "uPDhkXeDe0DlOwdVEUrT7ivpdZIiTd13BNo9te3L/6CRD3JJixQUsQ/SikZRJn6hq5dVIQAmA2oTao2cRsVSGjtnwwLXimMX1MODUMOXJt1cmwpWdt6fawsHNSCHd2tJf28K6mJ7ySAzPkw8orOnfESvP6q7/KNcx1f2z1RCj11YOdBTjDx64dHpIjiSY8hYYLnc2DjBjoPMriIKhPrM8a7v5GjiVO8INF7Y0tlrymSPnm\u002BaZbcllqtNh94Zb1zXHTGJo35fdgs=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB50C7EF0DB488\u0022",
        "Last-Modified": "Tue, 09 May 2023 19:59:44 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "cCK6bMlxrZA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1e4533b3-47a0-0e75-5bd1-74aa1d35bd5e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 May 2023 19:59:45 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1588179561",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
