{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-3622e217-ba22-4929-f592-a76f7ffc2eff?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 May 2023 19:14:55 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB50C1AC288DC0\u0022",
        "Last-Modified": "Tue, 09 May 2023 19:14:55 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-3622e217-ba22-4929-f592-a76f7ffc2eff/test-blob-af742e4c-5857-e063-3187-ad39504bafe6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 09 May 2023 19:14:55 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB50C1AC32019E\u0022",
        "Last-Modified": "Tue, 09 May 2023 19:14:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-3622e217-ba22-4929-f592-a76f7ffc2eff/test-blob-af742e4c-5857-e063-3187-ad39504bafe6?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DB50C1AC3BC42B\u0022",
        "x-ms-content-crc64": "5JCJ/GRTXhU=",
        "x-ms-date": "Tue, 09 May 2023 19:14:55 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "nX9hCXukZrMDnZYaQWZJCa8nNb2xHmPObwTusjM5VDOfxiWAitkElVuYDP4HoRAm6yb1CTarAH8bk5l2tbR/yUhjenpAyH/WIqBiGRFlxs30yMYNQ0r988amZfY/jd\u002BnGEK1pCaV5SOmH\u002BeVSedttczMguztcYb\u002BZYe0mmKIlpTAuwDOsCKmXuKjZiNiZ6reOK8qcwvzuaa8tj6f4EvAHolS1I7mnwWpJSQJSQtim/3d1WKzXiOJzQFZEvnkB32X40iaEJMb95mqgE3n6XCbWhpAwQvoDb9lyQeNjYwLxR2mcWXCx4tqwd3ICN7VouSRvrjfpEVyr9aINEaMjmoMn7owQHcK2JKO1QAtHwThkCci\u002B87ULCHXNMKPOZJF3jJzvGkjpWFthuUlUM5FRY/Rp6QfaZKbN3OZWAy0ep//SffNumObvevFtXXpr9tSku8zvZLtJnWf14T2iUxVuAxGJQfXd4srNum5WrMdsYiXR8Ydgb0MESOBLuLfpDSeb/xp",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB50C1AC48456F\u0022",
        "Last-Modified": "Tue, 09 May 2023 19:14:55 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "5JCJ/GRTXhU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-3622e217-ba22-4929-f592-a76f7ffc2eff?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 May 2023 19:14:55 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1524883226",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
