{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-f9969442-cd3f-5a69-8907-57fb4d227864?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 20:53:25 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA31FDF5E1EA51\u0022",
        "Last-Modified": "Mon, 09 May 2022 20:53:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-f9969442-cd3f-5a69-8907-57fb4d227864/test-blob-ea110748-dc45-66f7-49fd-5949c8f24485",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 09 May 2022 20:53:25 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA31FDF5F28B7B\u0022",
        "Last-Modified": "Mon, 09 May 2022 20:53:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T20:53:24.9146747Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-f9969442-cd3f-5a69-8907-57fb4d227864/test-blob-ea110748-dc45-66f7-49fd-5949c8f24485?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA31FDF611A7CB\u0022",
        "x-ms-content-crc64": "7lGbYjI5hpI=",
        "x-ms-date": "Mon, 09 May 2022 20:53:25 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "\u002BGynkdOLnNXOVPy5vS5Y7PyLPQDNzNpFfdKR9q5uT23NnUKV9Xj4M7B/3TVh1qpeVtJaZlK3pSySYhQB\u002BaYmXwSP7CDrw/eDkwpQTu\u002Bk46YnM5/cFOkaFfcWApJk9zkJWH0x0uqJcpPa1tNIZ1Y87X9u2cYGSksaddco1cBkH5zQRvZxcxG7nsAMAT0V0a2h2RUT9R1yAw4yFlwSYJzSdbc3eCBgy3pusjsF\u002BUgNBKMph/yqUSl\u002BXUPnP1y0qD0kOYyG3lmNQQ2bpUPibQnGJBG56dmfKCSOuBrdeIseugn\u002B4MC8hyZKm0buD6zlnPA5IRtK\u002Br[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-f9969442-cd3f-5a69-8907-57fb4d227864?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 20:53:26 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "95732260",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
