{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-235af3d3-06dc-7f18-1394-0079ef0338b2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Apr 2022 22:09:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2963C1249427\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 22:09:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-235af3d3-06dc-7f18-1394-0079ef0338b2/test-blob-7bbe9a9c-075a-291a-a934-bf5d6cc146f4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 28 Apr 2022 22:09:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2963C13BA3F7\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 22:09:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-28T22:09:24.6758903Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-235af3d3-06dc-7f18-1394-0079ef0338b2/test-blob-7bbe9a9c-075a-291a-a934-bf5d6cc146f4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 22:09:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA2963C13BA3F7\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 22:09:24 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Apr 2022 22:09:24 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-28T22:09:24.6758903Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-235af3d3-06dc-7f18-1394-0079ef0338b2/test-blob-7bbe9a9c-075a-291a-a934-bf5d6cc146f4?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA2963C13BA3F7\u0022",
        "x-ms-date": "Thu, 28 Apr 2022 22:09:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "kRvZL1ZCEjWPKN1fRlIQPt7VjnU/bE4r7Bb/GpmZgDHG2jVT\u002BofUqGeOPDu9LuPwGMbs24VApSXMrkI/Qvec9qermWscvENWAeUOsC8Tbr4zDgLTraWshjUQh0xElGVv8kaTEpV401yCldmgMvT1uUCEDDT1yUkC/xI1DDX3EW1/nr3pf1woujqmUBfLDFRAGs0MwIcxein9kRKCQscni4NsIJM3CzrkW1H5T3gxNvK\u002B9fFn61HmTiSU7O1JpnhzfsWTX\u002BvACQ\u002BTKGU1OCqwy1sgw03Vv6AyhtJvoh5Mm7XZhdCzndcH/uvi08LrsBX55CGS[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-235af3d3-06dc-7f18-1394-0079ef0338b2/test-blob-7bbe9a9c-075a-291a-a934-bf5d6cc146f4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA2963C1584F36\u0022",
        "x-ms-date": "Thu, 28 Apr 2022 22:09:25 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/3072",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA2963C1584F36\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 22:09:24 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "eS/atsAgDxc=",
        "x-ms-creation-time": "Thu, 28 Apr 2022 22:09:24 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-28T22:09:24.6758903Z"
      },
      "ResponseBody": "kRvZL1ZCEjWPKN1fRlIQPt7VjnU/bE4r7Bb/GpmZgDHG2jVT\u002BofUqGeOPDu9LuPwGMbs24VApSXMrkI/Qvec9qermWscvENWAeUOsC8Tbr4zDgLTraWshjUQh[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-235af3d3-06dc-7f18-1394-0079ef0338b2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 22:09:25 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "36452114",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
