{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-78bce37e-0c9e-4d03-45fa-7e427035631d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:01:25 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A6B7D9E110\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:01:25 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-78bce37e-0c9e-4d03-45fa-7e427035631d/test-blob-a05bf186-b5e8-fe89-4fef-362c92ebc477",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 10 May 2022 17:01:26 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A6B7E9763D\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:01:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:01:25.7847113Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-78bce37e-0c9e-4d03-45fa-7e427035631d/test-blob-a05bf186-b5e8-fe89-4fef-362c92ebc477",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:01:26 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6B7E9763D\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:01:25 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:01:25 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:01:25.7847113Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-78bce37e-0c9e-4d03-45fa-7e427035631d/test-blob-a05bf186-b5e8-fe89-4fef-362c92ebc477?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA32A6B7E9763D\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:01:26 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "QBXW/6XEk/DGrE6yiZR2w5PmPfx\u002ByfUYgdH07qLtW88ULS3CqmjyQODF03u973rzLiaczB3b13Yfvn7Tz6VO2FB/nVxmtBkq9PwcufZ6WpJXAb97UY\u002BxOVW3ouzqHnE7d/oqPlEdjXoNcdggvx6ApWPrfM7m0ofBzWQGrxEsQNWL4EH8UBxAOXNEbuC3kXo3Nv2I/qKiVKRyaHDtFt1p4DAClN7cg1RHqkJaoWSnCjzpzngUpEIz6YydieerUyKW242vtPycW7OoQVNgSLM/y14zA0dlVDzuz6tRPvptm1YfxMbW\u002BFZATXPFa2Pu0qDYXb6JeFDaM[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-78bce37e-0c9e-4d03-45fa-7e427035631d/test-blob-a05bf186-b5e8-fe89-4fef-362c92ebc477",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA32A6B80A18EB\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:01:26 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6B80A18EB\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:01:25 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "kCc9OEsOyFs=",
        "x-ms-creation-time": "Tue, 10 May 2022 17:01:25 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:01:25.7847113Z"
      },
      "ResponseBody": "QBXW/6XEk/DGrE6yiZR2w5PmPfx\u002ByfUYgdH07qLtW88ULS3CqmjyQODF03u973rzLiaczB3b13Yfvn7Tz6VO2FB/nVxmtBkq9PwcufZ6WpJXAb97UY\u002BxOVW3ouzqHnE7d/oqPlEdjXoNcdggvx6ApWPrfM7m0ofBzWQGrxEsQNWL4EH8UBxAOXNEbuC3kXo3Nv2I/qKiVKRyaHDtFt1p4DAClN7cg1RHqkJaoWSnCjzpzngUpEIz6YydieerUyKW242vtPycW7OoQVNgSLM/y14zA0dlVDzuz6tRPvptm1YfxMbW\u002BFZATXPFa2Pu0qDYXb6JeFDaMIZRweRQShy4O6X8QITsaNII87bUoOnZ//wLeeA74yMGRJNAhTZx7wJWDDC98pIc7PTrgYWaBpCdeMLoRdE7fVeC9vvwq\u002BOclgOzfpO4Gwxq7ozsT2KdbD4Cowx0iakxGo/ZOvyWK0ART\u002BqB54j95Fy1flZETy305Im97gjXKA1ZgWME3\u002BEQ08NL2wB4HIW2Bb6vvgpS7Mph5FVy2T04OSfcJ2Uk\u002BAV6paqT\u002BXQtfMgEB\u002BhJJ2kCBpWYovqMnfqFEqHYm/QfkQ25NRlgv/NWNGiMbdJV7xK92SHQjFUL7gewDubTVODU5XbbkPJQokehQm6R/zAnMCOOG8HTTwS3rUYRr7EMgt\u002BIuIg="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-78bce37e-0c9e-4d03-45fa-7e427035631d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:01:26 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1246296536",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
