{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6a2a1cd9-4c15-9401-4c16-6060c8ff6d77?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 May 2023 19:59:44 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB50C7EECFD7DD\u0022",
        "Last-Modified": "Tue, 09 May 2023 19:59:43 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6a2a1cd9-4c15-9401-4c16-6060c8ff6d77/test-blob-e2cf4644-e9e4-38b0-bc56-12efc1efcf8d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 09 May 2023 19:59:44 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB50C7EED98CD4\u0022",
        "Last-Modified": "Tue, 09 May 2023 19:59:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6a2a1cd9-4c15-9401-4c16-6060c8ff6d77/test-blob-e2cf4644-e9e4-38b0-bc56-12efc1efcf8d?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DB50C7EEDFF488\u0022",
        "x-ms-content-crc64": "Uwc5blqfydE=",
        "x-ms-date": "Tue, 09 May 2023 19:59:44 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "BkAC6cvamQ31DC8UmFPTcm1rtXrr5ApW0VCqApc4i1fjEKaA178p0LQGkl\u002B1\u002BWlJeMKAJi6jtyI1qxd7MJd1vIHXMIisUpquQuXG5VGqodfmYIrUuGUpQFiESyynrp8ckNXe3sngnCUn0uRI3NLQiglAlM8MoQQcre8wKAduBpNFqVR7zMMOBcRlrOWA4WSGtMAiZxnPEO/RwjDZsHQductQAjJ\u002BVL5GMY8Lp/Qem8yLqXNGS596dplkqgmSNVRPR/MaMN4xCF8C2zWKxGn7sidkTgcA1m4r1oyZGam1tPw6u18ABGvtWqEURG9q77IwafjiLuZNT3CF7llSl\u002B62T[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6a2a1cd9-4c15-9401-4c16-6060c8ff6d77?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 May 2023 19:59:44 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "327396359",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
