{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-2c6874d6-227e-2229-ddbb-220fffcdba1d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 20:53:16 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA31FDF0E22278\u0022",
        "Last-Modified": "Mon, 09 May 2022 20:53:16 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-2c6874d6-227e-2229-ddbb-220fffcdba1d/test-blob-eb4165d3-5dd7-befe-e61f-927ba62fdcc6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 09 May 2022 20:53:16 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA31FDF0F3F7B9\u0022",
        "Last-Modified": "Mon, 09 May 2022 20:53:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T20:53:16.5363906Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-2c6874d6-227e-2229-ddbb-220fffcdba1d/test-blob-eb4165d3-5dd7-befe-e61f-927ba62fdcc6?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA31FDF1058174\u0022",
        "x-ms-date": "Mon, 09 May 2022 20:53:17 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "P2s6MeVqOC2ULfuhu18nw62ggQpQMLyru41QNaLN4OmDxYmP39ybI7xQ9DOQId0vY0JkucVPUQ\u002BvjnVYGgKLx0wRHvbVmOTQBV5O/zuJG5qwINFgaCcjM3R64FBmQgi5xS3mfgPmWstdlLNnAVHTJXPbp/kxKl8l7uqCW7iTasJVlDoOo52XycYGAtR0vDIiprrdipsPiJrNwI8YZP4SyinwEWwWxIHWRN4zKiiKsTG3X7T9tt8nRgygQOMNfmXH8ziqg6rGDOE5B0a93F1xQw9eYARKFRNKyMtfdYSeyMV4azbw4C2G8VPSxK\u002BYamquL/3Trx1hfd4kX7[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-2c6874d6-227e-2229-ddbb-220fffcdba1d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 20:53:18 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "802659479",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
