{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-00b0e5de-8820-8d0b-8d5a-3dd95d45d02b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 20:53:15 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA31FDEFE68279\u0022",
        "Last-Modified": "Mon, 09 May 2022 20:53:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-00b0e5de-8820-8d0b-8d5a-3dd95d45d02b/test-blob-758c6905-31f4-d770-c48c-f9523e1d0552",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 09 May 2022 20:53:15 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA31FDF000E121\u0022",
        "Last-Modified": "Mon, 09 May 2022 20:53:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T20:53:14.9422881Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-00b0e5de-8820-8d0b-8d5a-3dd95d45d02b/test-blob-758c6905-31f4-d770-c48c-f9523e1d0552?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA31FDF016FE04\u0022",
        "x-ms-date": "Mon, 09 May 2022 20:53:15 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "QOVI5z43NmCg0CD540hs/pr\u002BB038n1WQmfSAZ4j0FlBRgoI7RdgAmtnokASJmpGEvva2yoeGJqGQuE5Jt8/YrLrQp2DFMLjB/Wx0FA5RBv5j\u002B6iRPUzJy1zhq42Kt\u002BMJD\u002BRKuPIxv4099MwaEhKSP7FP5rsmRm9tB9wE44UrN0aJagQqBk4LMTwbU0h/rrlKT2zbOtAn48l03bEWLNsIEb2GkacNZzhjQ7R/C/Im7VgjupQYUPx1YYc7tSmc9QVgE0GL\u002BR0SPOczd/ccp9jWTu9Y8nFH78HAES8f0rIPxk2uH/ewmvQ7EX6t5NgEWbq[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-00b0e5de-8820-8d0b-8d5a-3dd95d45d02b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 20:53:16 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "509913870",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
