{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-dced1896-544c-895d-431c-10b293e268fe?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 May 2023 19:14:54 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB50C1ABC14FC3\u0022",
        "Last-Modified": "Tue, 09 May 2023 19:14:54 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-dced1896-544c-895d-431c-10b293e268fe/test-blob-cfe70b6f-4bf4-b1ca-a0f7-e7def02291e6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 09 May 2023 19:14:54 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB50C1ABC91620\u0022",
        "Last-Modified": "Tue, 09 May 2023 19:14:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-dced1896-544c-895d-431c-10b293e268fe/test-blob-cfe70b6f-4bf4-b1ca-a0f7-e7def02291e6?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DB50C1ABD23C8C\u0022",
        "x-ms-content-crc64": "w6uzPBVR6is=",
        "x-ms-date": "Tue, 09 May 2023 19:14:55 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "sQsTjpRqZ38vfoW7e7ZOEGGLBjwA3oxVGpfxjiAQUXnewvUuHyzxQe9iWvNTpp9Sz\u002BV2k9V2FNN/vnT9eNhfHi0M3LjBH/A1mcVMnoSYAXP3n786mr2jaK4ir2G388kXAzvGR8rmka/1QfkQKXVO57wBBdgYJIRvaHQKn3COfaX7NZtI0bqpEQ0QRVnEkz4408iktu7w/t63V95V3PI/ZsNTFfPaBRUCV/TLCN4qq9U20cun6ce3Cja8kXrbVDUb0N6WcH1KXs2zol75Jfb/jKwJHwoml3z8nAq9HXSaJwO/rzcAlDpX63P\u002B9EdoveVAvQTO0TQq9ThhmdNzjUFYGHtbOna\u002B//hxsjOWJ6M1lN8lfF9vzFXOlLr\u002Bnvpm5F0ypdvLDIJvgr0MXR8AlM2VLAX0TRHh6UwmjKa7v2H9Cs3WZIHHaYdctvmiY281zQDtaXL1cpZMULyPpX/cs8JcDlJSKi9LzcJ9mJcXP4Xd8L\u002BmzlbvB5g2ihPFOMQHfwI3",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB50C1ABD8F24A\u0022",
        "Last-Modified": "Tue, 09 May 2023 19:14:54 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "w6uzPBVR6is=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-dced1896-544c-895d-431c-10b293e268fe?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 May 2023 19:14:55 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1418150777",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
