{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-db47f6bb-862e-7113-f3f5-a16400ab05ad?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 20:53:28 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA31FDF80897CA\u0022",
        "Last-Modified": "Mon, 09 May 2022 20:53:28 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-db47f6bb-862e-7113-f3f5-a16400ab05ad/test-blob-ebc484b9-b681-4d28-19ee-3637eac30b7c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 09 May 2022 20:53:28 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA31FDF81877B1\u0022",
        "Last-Modified": "Mon, 09 May 2022 20:53:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T20:53:28.5186481Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-db47f6bb-862e-7113-f3f5-a16400ab05ad/test-blob-ebc484b9-b681-4d28-19ee-3637eac30b7c?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "VzRdlffqoSqRpaoUMDF\u002BmQ==",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA31FDF8282CD4\u0022",
        "x-ms-date": "Mon, 09 May 2022 20:53:29 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "JYi\u002BJyQpLUuUJgX1sad4u8L3agMe50pNPC59TcCX8Nh1wUZveQuF0M5BiTy4Z6YuH/QHOJO/9T4\u002BcOv1q\u002BCK/TYsf/BhCUG3cZo03V4OldWITy3MkLdFtssIMQkfjyTut4sFi\u002Bi1zBayT8f5ihjfL9sWbVyyvmx/58gkWNc4l\u002BF1RibSCAns0oIXGUDwTCuzKAEtCSHHO/kfhqQfkHQ/erflg0TxDSfRKZvZm6QrjpqdcDDVCo2/rQotsoFkzUEO156JC8nmwRvaXOCG7aBU8/cJgR9EaXAqJdU6xFqlbFtZy8MFooPRtq8V\u002B6[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-db47f6bb-862e-7113-f3f5-a16400ab05ad?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 20:53:30 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1025504436",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
