{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-65f37cd2-7934-659e-9dab-217d5877d192?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Apr 2022 22:09:21 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2963BF48522B\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 22:09:21 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-65f37cd2-7934-659e-9dab-217d5877d192/test-blob-8298b196-853a-1426-1667-a1cdac7acb81",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 28 Apr 2022 22:09:21 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2963BF572991\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 22:09:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-28T22:09:21.5008145Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-65f37cd2-7934-659e-9dab-217d5877d192/test-blob-8298b196-853a-1426-1667-a1cdac7acb81",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 22:09:21 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA2963BF572991\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 22:09:21 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Apr 2022 22:09:21 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-28T22:09:21.5008145Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-65f37cd2-7934-659e-9dab-217d5877d192/test-blob-8298b196-853a-1426-1667-a1cdac7acb81?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA2963BF572991\u0022",
        "x-ms-date": "Thu, 28 Apr 2022 22:09:21 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "6G50iaHah5gNbnDn\u002BsT7btnOcWPJtxJU9S8vnyloMdm9hPH8ukixMW4VDREVhtaA0qIuhKosMTFcIJNxq\u002BhvpD2XKXbT/7OQHUD0tKkAPm5Zr82GOqwukFLAoJm0QIaFpmjUfl1frdPunWdqN32HW\u002BIkF/sb6GqQaJgjEl4Z3N25bw1AK78R\u002BQH5l5xFw1nVOES3jyiKar39RBXEPJp01cGKschvRi8iEx36IVDOSqU/TdkaYky1LgRQQ\u002BeqTb1nhcLbuxGQZvIUlHwKkEltL/lwhO7AWnJ11YPEHwNIeMVgkpuN8o\u002BTrufnBc[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-65f37cd2-7934-659e-9dab-217d5877d192/test-blob-8298b196-853a-1426-1667-a1cdac7acb81",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA2963BF7311A9\u0022",
        "x-ms-date": "Thu, 28 Apr 2022 22:09:21 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/3072",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA2963BF7311A9\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 22:09:21 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "gO\u002BFSOW3a1M=",
        "x-ms-creation-time": "Thu, 28 Apr 2022 22:09:21 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-28T22:09:21.5008145Z"
      },
      "ResponseBody": "6G50iaHah5gNbnDn\u002BsT7btnOcWPJtxJU9S8vnyloMdm9hPH8ukixMW4VDREVhtaA0qIuhKosMTFcIJNxq\u002BhvpD2XKXbT/7OQHUD0tKkAPm5Zr82[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-65f37cd2-7934-659e-9dab-217d5877d192?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 22:09:22 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "940313290",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
