{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7315297b-8c73-7bae-4a32-702a05e16a3a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 03 May 2023 14:05:29 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4BDF737F5915\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:05:29 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7315297b-8c73-7bae-4a32-702a05e16a3a/test-blob-ec0f41d9-76a0-be06-5367-899b5c0dc38f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 03 May 2023 14:05:29 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4BDF73871041\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:05:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7315297b-8c73-7bae-4a32-702a05e16a3a/test-blob-ec0f41d9-76a0-be06-5367-899b5c0dc38f?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "IG66HYgVSy7s87ssdjy81Q==",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DB4BDF739B7FA0\u0022",
        "x-ms-date": "Wed, 03 May 2023 14:05:29 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "5qHgda06e1bxC3WYw6EuKJLffVhHSYFHTezZJPTlNJhS\u002BSaqQSvkcjFDL63zaz/nLAfB9egwiJ0fmCfAYFdiC9fdRsp6hOdm\u002BwomAxnTU\u002BKs8vftJD6vIXCIiqgDIxLZ4STWFSV1bKggWvrdCYWETEVFFG1fdeeYLSRZ8vk\u002BY9f4TCL1/T28NoZPzcpE0hfrAz5jvg6kems8PucAG3qu4fYi5Lxij04HiN3nD6gdVFsNbu6626TIVNK2uL9VuxoMoOvTIe1aiHTwWzUxvGrDH\u002BmM862L9AZSWZDqq9ePsszC2m\u002B8SjNtsuV6yo[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7315297b-8c73-7bae-4a32-702a05e16a3a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 May 2023 14:05:30 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "623810491",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
