{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-5f0a8a2c-5b3f-6199-8f0d-14112156e17c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 24 Feb 2022 00:36:11 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F72DA810AA6A\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:36:11 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-5f0a8a2c-5b3f-6199-8f0d-14112156e17c/test-blob-cd897972-fcb1-245f-abc2-026e2f8af603",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 24 Feb 2022 00:36:11 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F72DA81AFE54\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:36:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2022-02-24T00:36:11.5566164Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-5f0a8a2c-5b3f-6199-8f0d-14112156e17c/test-blob-cd897972-fcb1-245f-abc2-026e2f8af603?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9F72DA82EAA82\u0022",
        "x-ms-content-crc64": "bGtiWjp2PGI=",
        "x-ms-date": "Thu, 24 Feb 2022 00:36:11 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "gkHpAWJ6xMqGm5I/aIDLMR1XhIgUfys4hu84cM6C2exVu5ZUde5bE9R327YQv6UXBGFkPlwiIgIVsHpyQVT7A8Gl6a3pdrwu\u002B3GznaR1J8dKIGttHZqQM5iUP8Rz6dGAe9f0a9X3Lo6lNkPqboReoImzJyHpjuYnFbYVVTf4uhKgMyLNgLzyU/LdyOdXpcQTNp46wMGwl\u002BzxzVYf4dhXrHswSjtikB/NwdQuC8b\u002B0G/xAR\u002BYvfpR8Jw127Nl03EZhhtrJluJsKV/bf/tgYsm8vzmLeC5vu\u002BB31qeLbVsZ\u002B5iFYWrk6kUaFB6GE/7ZG4QDum2f6WRX8c[...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-5f0a8a2c-5b3f-6199-8f0d-14112156e17c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:36:13 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1957882396",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}