{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-983c0995-c57c-5cd1-c7ec-c0eee1cf191f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 03 May 2023 14:05:36 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4BDF77A338C5\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:05:36 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-983c0995-c57c-5cd1-c7ec-c0eee1cf191f/test-blob-2d061ab6-58a9-58d2-9031-8d958ca4fe65",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 03 May 2023 14:05:36 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4BDF77AAA3EC\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:05:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-983c0995-c57c-5cd1-c7ec-c0eee1cf191f/test-blob-2d061ab6-58a9-58d2-9031-8d958ca4fe65?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DB4BDF77B32E31\u0022",
        "x-ms-content-crc64": "ng3sHDq8Z38=",
        "x-ms-date": "Wed, 03 May 2023 14:05:36 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "eYZxACn2gbwrVFj0X7OimJZKce4yUu/\u002BEljVYqF1GPpb9aQzvVRMhnDgm9udKjq9B57RhdM\u002BPSeXc\u002B7RIB8atTxdmGkOb9pC/ut\u002BUbYUYOcdGFoDpJInHbh9m0pmemZRxuaeP5LQrpfDj4bowOtwgxIGtAfEFxGpNnuxkdOQ24SFLIvPdSFVTGnDPxQMPl3MDBg3YMZejK7V9AkWHx3EMrQCY5NfoQ3xsWedAdf8nfge5IS7WHu\u002BJqDc\u002BoAYPi1M/wxgCtvJbWsKRq5fwIvX2FcR\u002BDuYCNo4RDzzgqaM2XI5UQLKnJIcVHcZsBLMX2YUBSEoB0[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-983c0995-c57c-5cd1-c7ec-c0eee1cf191f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 May 2023 14:05:37 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1741562336",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
