{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6dfdacba-6d2e-6e17-86f4-d1f6fb8946e7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 20:53:35 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA31FDFC3F87EC\u0022",
        "Last-Modified": "Mon, 09 May 2022 20:53:35 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6dfdacba-6d2e-6e17-86f4-d1f6fb8946e7/test-blob-c593e8e8-7051-e1b4-caf9-d29898698f85",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 09 May 2022 20:53:35 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA31FDFC50CAC3\u0022",
        "Last-Modified": "Mon, 09 May 2022 20:53:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T20:53:35.5986627Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6dfdacba-6d2e-6e17-86f4-d1f6fb8946e7/test-blob-c593e8e8-7051-e1b4-caf9-d29898698f85?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA31FDFC64C513\u0022",
        "x-ms-content-crc64": "dIBYnsxCtGc=",
        "x-ms-date": "Mon, 09 May 2022 20:53:36 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "9yURl\u002BImSewU4Uw6zk4AvlLWYYO0mYJ6O8hdq63jZ9ec4NFJtgoXbi/omIOLek94/2Fj3ejTCl2illwayZ0\u002BMXl1ne18twdHvvJUywH/78F55axMgIruydV0piCu/aWRqmcJFdxh\u002B0daGx/1fz9co6eaoOTw8rDvhtMYCBHnmMBMwiGa9tnkGOll8mRr\u002BEmWGAN4E13Bobi2Go4JSfI2coJeqb0dwq3Ntoj6iwBMhI6KgfAOboRjiyBo49tK28/2Ln/hDE\u002BMeFZVq13VxhW4aZYAf8cCKAT9\u002Bx2ctd7Rg9q5A1yAanc\u002B/QmauMMnjcQKsHlFSl[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6dfdacba-6d2e-6e17-86f4-d1f6fb8946e7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 20:53:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "437896712",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
