{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-7dc6f7ba-a430-a9a0-8811-69a4d9dedf7b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 24 Feb 2022 00:46:50 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F72F25035A81\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:46:50 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-7dc6f7ba-a430-a9a0-8811-69a4d9dedf7b/test-blob-51e92509-3506-3fa6-cde2-dcbaff001c0c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 24 Feb 2022 00:46:50 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F72F2520BC48\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:46:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2022-02-24T00:46:50.8061768Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-7dc6f7ba-a430-a9a0-8811-69a4d9dedf7b/test-blob-51e92509-3506-3fa6-cde2-dcbaff001c0c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:46:50 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9F72F2520BC48\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:46:50 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 24 Feb 2022 00:46:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2022-02-24T00:46:50.8061768Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-7dc6f7ba-a430-a9a0-8811-69a4d9dedf7b/test-blob-51e92509-3506-3fa6-cde2-dcbaff001c0c?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9F72F2520BC48\u0022",
        "x-ms-date": "Thu, 24 Feb 2022 00:46:50 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "q\u002BSopvh0LZYG\u002BgAZogmiO5VZ3BJYEMeYNw5Z74eYYs\u002BaF\u002BsipNUWVJnwyLoF9jxIQGHDD9FqkZodD2/qGj0ObpcxfosdgJfAQod4aEgNkkHREa8m1VP\u002BMIVQBJRmLDpc4Voi1HexKr/JAsxJ8SlSEHwuGAiO55hDM04FzHwCWhZNHIbu6r7JIObvXdKGtD5c/vMXOBQxzvrB3qEoq11Dx6e2/NWiZCa\u002BZPcinorFvX4Qqc6I6iIBG02MLAscoHWIq5Yq0LhpuZrNWdMcDy9v\u002ByEjGAGPutyFtOCHFTcbosSCmfP0m\u00[...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-7dc6f7ba-a430-a9a0-8811-69a4d9dedf7b/test-blob-51e92509-3506-3fa6-cde2-dcbaff001c0c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9F72F25346876\u0022",
        "x-ms-date": "Thu, 24 Feb 2022 00:46:51 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/3072",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9F72F25346876\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:46:50 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "kBVAl5W0jZs=",
        "x-ms-creation-time": "Thu, 24 Feb 2022 00:46:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2022-02-24T00:46:50.8061768Z"
      },
      "ResponseBody": "q\u002BSopvh0LZYG\u002BgAZogmiO5VZ3BJYEMeYNw5Z74eYYs\u002BaF\u002BsipNUWVJnwyLoF9jxIQGHDD9FqkZodD2/qGj0ObpcxfosdgJfAQod4aEgNkk[...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-7dc6f7ba-a430-a9a0-8811-69a4d9dedf7b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:46:51 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2127385706",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}