{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-0ed13c3b-1a9b-16ee-2225-ec3cae68c1c8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:01:28 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A6B92432A8\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:01:27 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-0ed13c3b-1a9b-16ee-2225-ec3cae68c1c8/test-blob-f88acfbd-876f-12e8-23b1-61cfe839b471",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 10 May 2022 17:01:28 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A6B9396C8F\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:01:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:01:27.9854735Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-0ed13c3b-1a9b-16ee-2225-ec3cae68c1c8/test-blob-f88acfbd-876f-12e8-23b1-61cfe839b471",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:01:28 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6B9396C8F\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:01:27 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:01:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:01:27.9854735Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-0ed13c3b-1a9b-16ee-2225-ec3cae68c1c8/test-blob-f88acfbd-876f-12e8-23b1-61cfe839b471?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA32A6B9396C8F\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:01:28 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "OllsmOC8DpKMLuOziposIdurunYILh9HkO9UjVy/Aj4GsBmQlLFfxSnOBnoEPVT/CysV9TFq1gs5JQfxaIE1zCulrNqBnIwpS/RMOiilQlOaVIExqQ0Mm9kOVm6qbl2omDlOXpB6fm6e7Kk8HZzilOK0VxT/AyMemBAAckYeft2XpKHvVuPCINUSkr1jz309K8GL9hdJqZUWMMZ/egsogG3MpHn68z3\u002B8Tc\u002B7HBlusiSwkeEkojGTvsL2CYdQ6XK6RJPlyoEQziEjATfCrwksHb97LfEpO7kBlZ\u002B7hoX4a6RdAJeFSOdjn8PAAWE5kQ\u002B5yew[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-0ed13c3b-1a9b-16ee-2225-ec3cae68c1c8/test-blob-f88acfbd-876f-12e8-23b1-61cfe839b471",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA32A6B962C087\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:01:28 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6B962C087\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:01:28 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "loz3jCVhfAM=",
        "x-ms-creation-time": "Tue, 10 May 2022 17:01:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:01:27.9854735Z"
      },
      "ResponseBody": "OllsmOC8DpKMLuOziposIdurunYILh9HkO9UjVy/Aj4GsBmQlLFfxSnOBnoEPVT/CysV9TFq1gs5JQfxaIE1zCulrNqBnIwpS/RMOiilQlOaVIExqQ0Mm9kOVm6qbl2omDlOXpB6fm6e7Kk8HZzilOK0VxT/AyMemBAAckYeft2XpKHvVuPCINUSkr1jz309K8GL9hdJqZUWMMZ/egsogG3MpHn68z3\u002B8Tc\u002B7HBlusiSwkeEkojGTvsL2CYdQ6XK6RJPlyoEQziEjATfCrwksHb97LfEpO7kBlZ\u002B7hoX4a6RdAJeFSOdjn8PAAWE5kQ\u002B5yewIFbuBUUkapDUhlQdbKtWTpa6xptTX143tKTpYCARQAfzZ8FXom69OqqSyAgr8pNZLpeugyCMXMD4tlCgOgpvwkVMKQXq/qwn/IzwwJdVDMIRjzKJY7znZgoBX\u002BwdHf\u002BgIwXC3siOby/rhoaTnJwpoqmOj6vX5l\u002BJZcP66Z\u002B/Cd\u002BNT5yRky76gyACnt01U8pt2LxCj45TyT2mOXkEk4WQK3ynBkwAlw97kwuL1EeBUxH5jRHifXlROYZf6lm19e\u002BacnNgjk19bUCtxvyCyPT1JOZnCwZ0rq0CVczGoK21xp0c8GLUIcTEex/RNbZ9z3CRacVzTenpJcTFXTmAtsyS9wBeZdiSIQMhopDmo3g="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-0ed13c3b-1a9b-16ee-2225-ec3cae68c1c8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:01:29 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "618764059",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
