{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4bc997fe-4fa0-2b56-e0df-9f8e2c251497?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 May 2023 19:14:54 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB50C1AB6EF63C\u0022",
        "Last-Modified": "Tue, 09 May 2023 19:14:53 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4bc997fe-4fa0-2b56-e0df-9f8e2c251497/test-blob-55cf0b5d-6d63-0355-eefe-8989c53900d4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 09 May 2023 19:14:54 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB50C1AB7731B3\u0022",
        "Last-Modified": "Tue, 09 May 2023 19:14:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4bc997fe-4fa0-2b56-e0df-9f8e2c251497/test-blob-55cf0b5d-6d63-0355-eefe-8989c53900d4?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DB50C1AB811B43\u0022",
        "x-ms-content-crc64": "ofq2v4jKsgE=",
        "x-ms-date": "Tue, 09 May 2023 19:14:54 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "7HcuLxBGKbYU1EjrSAj4buixvlTVTT4INBsvhp5ZLSAIZWK7QsfdiK\u002BYsoXSYEiEuzpAFiNYy545Jfv1F6MYuqcn4uKlPCwg0zalPJu5NdTTqspjGBb9sJnEghzM53ALgPfdq35l338OIELts48CgPAmImzYtKGQKjFJ4boPU\u002BvFmbyj24pVbctLVfjUD/0KwQEspcUEM8tVTIBMHP3E/8xWKBnSX6Rl0LShjF\u002BpvBo0Ph\u002B44q0mwWXwTY8JCVDNhlYrfefjOGFdx9QRYqZsrJBmF97dDB0fMGaz4hEVW8dj0wUJfj8zUAa\u002BWxrYFV6/g6H\u002Bo/Jy8Ho[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4bc997fe-4fa0-2b56-e0df-9f8e2c251497?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 May 2023 19:14:54 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1907433277",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
