{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-3ed3ca36-e637-53c1-876c-a15991cc21de?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 03 May 2023 14:05:50 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4BDF801B01BD\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:05:50 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-3ed3ca36-e637-53c1-876c-a15991cc21de/test-blob-ec4b13bb-272f-d2d9-fbb8-c8f429d4e610",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 03 May 2023 14:05:50 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4BDF80227119\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:05:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-3ed3ca36-e637-53c1-876c-a15991cc21de/test-blob-ec4b13bb-272f-d2d9-fbb8-c8f429d4e610?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DB4BDF802AAD46\u0022",
        "x-ms-content-crc64": "RiaHPvrMRWQ=",
        "x-ms-date": "Wed, 03 May 2023 14:05:50 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "cgAuCOavCkFEcs/KEg6H3eEP0kU78gFzWPBDeoL9dIzhhUDMfIKr1kJP62n8hlAXUpWm3A9GEoD\u002Buq/2a4\u002B/Rv5C6IzNumFfY/sC7AaXd9KfLCjtVpd9mnLAzcHTtWqykKRrup7DSZczR3gTQyZ5Z0PdVj9m0fBmxE0ZDO2fi66QT1xiLLw02\u002BKRuQ8faVdMR2Z\u002B9V4rTL60BPVQqT2qk7vJg/PJFjqGqXpc1BjgR1v2zcWGIZVPZQOerifH4zGl5yVUVeZjgzAr\u002BEzjznel072aWtx4I3IleR3wKmgTv8VJt\u002B3yjPF0k0mUWyhJbJaL\u002BNpqLI[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-3ed3ca36-e637-53c1-876c-a15991cc21de?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 May 2023 14:05:51 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "269653732",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
