{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-303289eb-132f-3c8a-168f-e9f6ea0dafbf?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 May 2023 19:59:42 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB50C7EDD0B611\u0022",
        "Last-Modified": "Tue, 09 May 2023 19:59:42 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-303289eb-132f-3c8a-168f-e9f6ea0dafbf/test-blob-672015d1-5224-0ae8-fa02-5d70249bf90f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 09 May 2023 19:59:42 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB50C7EDD8E48E\u0022",
        "Last-Modified": "Tue, 09 May 2023 19:59:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-303289eb-132f-3c8a-168f-e9f6ea0dafbf/test-blob-672015d1-5224-0ae8-fa02-5d70249bf90f?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DB50C7EDE47B94\u0022",
        "x-ms-content-crc64": "7elEq7a8xyM=",
        "x-ms-date": "Tue, 09 May 2023 19:59:42 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "B6555ecCvK\u002BelE2dnAeW/n81d8E2DKnmABLgl8bGBOPAJXv4nirMe2wmA4BfoB20i3alZIcQG/oEkuXVIiXp2I9p3HeMnWBUaPtUEAkoh1/1KwtQIKBcsAqA9AtF91lHPSvx9cSlKO4VUPuLuwrx2wuF4PcZmLfuDCttC6lUD3GiDdPdN5GbTwIdOtCl0PX/jxgAwBZhLaRzAuiYNxxEwEGK6a43E6N56ZD0/F3nSTw2bnyQVE9aQN8uajWoAxfl2HmPGudHyHs=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB50C7EDF087BD\u0022",
        "Last-Modified": "Tue, 09 May 2023 19:59:42 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "7elEq7a8xyM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-303289eb-132f-3c8a-168f-e9f6ea0dafbf?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 May 2023 19:59:43 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "411750282",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
