{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-1167426f-c1f2-cd6f-50d7-767137ea6963?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:01:53 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A6C841ED74\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:01:53 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-1167426f-c1f2-cd6f-50d7-767137ea6963/test-blob-7f01a72e-b9c2-23b1-28bb-71dc6be7bcea",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 10 May 2022 17:01:53 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A6C851857C\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:01:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:01:53.3102221Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-1167426f-c1f2-cd6f-50d7-767137ea6963/test-blob-7f01a72e-b9c2-23b1-28bb-71dc6be7bcea",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:01:53 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6C851857C\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:01:53 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:01:53 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:01:53.3102221Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-1167426f-c1f2-cd6f-50d7-767137ea6963/test-blob-7f01a72e-b9c2-23b1-28bb-71dc6be7bcea?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA32A6C851857C\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:01:53 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "urw9p0IwsoafpC7T\u002BacfU9\u002BqxaezcAtnIwS/8EYak6ExWA3xwFCKe92xWbTfxEKE51CohXpFvEmw1YQ9cMI/hBCMoaCaLpKPIEnJAhZXh17BOgj1cg4n7JzDQOvLTAobcdWjUiKi6bm9GWQwe7ozWU0lezW5ShECZbUE1\u002B2nw9Q/rpBBszQ8H1FPOFmp9nDhkOedptDUYSbDoe1snRLMFlWQ8c0p8qUY6VzkahK4WG9FIkcGCR0DakxpfRJHz4I\u002BgyEDGQSiuJ5BhLx08PYUC0h9J3rKxQw4jIeAv3SS0BnapufwtD9romqpxIRgj3pWVXHJ[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-1167426f-c1f2-cd6f-50d7-767137ea6963/test-blob-7f01a72e-b9c2-23b1-28bb-71dc6be7bcea",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA32A6C872763F\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:01:54 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6C872763F\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:01:53 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "cliGVGT64bg=",
        "x-ms-creation-time": "Tue, 10 May 2022 17:01:53 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:01:53.3102221Z"
      },
      "ResponseBody": "urw9p0IwsoafpC7T\u002BacfU9\u002BqxaezcAtnIwS/8EYak6ExWA3xwFCKe92xWbTfxEKE51CohXpFvEmw1YQ9cMI/hBCMoaCaLpKPIEnJAhZXh17BOgj1cg4n7JzDQOvLTAobcdWjUiKi6bm9GWQwe7ozWU0lezW5ShECZbUE1\u002B2nw9Q/rpBBszQ8H1FPOFmp9nDhkOedptDUYSbDoe1snRLMFlWQ8c0p8qUY6VzkahK4WG9FIkcGCR0DakxpfRJHz4I\u002BgyEDGQSiuJ5BhLx08PYUC0h9J3rKxQw4jIeAv3SS0BnapufwtD9romqpxIRgj3pWVXHJyqgHc70Vy4x8IfgprrOjmUkOJFYJEoUPIQGH1/0NKmoDyAZx0jIq2uiy7oByfxXRvPUwRzAawLcj91K7jvSPb/eOJuatMscX5EltViMEnaHrthoH3eM56AhOTdrgbkz0I3\u002BJ41kvI4ouGGLnrGqUHlqwz9fZh5ETVD3dXuTsN3X8eDKke7lHvJKQ2MSBUjueui\u002BAL551G5vtdY8cUcWlQuHs6jM376OgaBNFSa/NkgEBP6O1awfWh12WtgUqK2rN6pXilGgHZsuM4MeLL9LsH\u002BONGhIh79faFWLWoDiddT2oeF4Z6/6Z\u002BtjYKYo/S1eLqpcinRBYq/q\u002BB34FMcaS7muK4rdz0jTk8yA6ScY="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-1167426f-c1f2-cd6f-50d7-767137ea6963?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:01:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2134818443",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
