{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-8acedd4e-407a-eb91-c01e-f4d64144927b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 24 Feb 2022 00:46:50 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F72F24ABAA7B\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:46:50 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-8acedd4e-407a-eb91-c01e-f4d64144927b/test-blob-3d97552b-a1a9-3863-1565-70e25c8cdc44",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 24 Feb 2022 00:46:50 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F72F24B538F4\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:46:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2022-02-24T00:46:50.1015796Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-8acedd4e-407a-eb91-c01e-f4d64144927b/test-blob-3d97552b-a1a9-3863-1565-70e25c8cdc44",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:46:50 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9F72F24B538F4\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:46:50 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 24 Feb 2022 00:46:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2022-02-24T00:46:50.1015796Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-8acedd4e-407a-eb91-c01e-f4d64144927b/test-blob-3d97552b-a1a9-3863-1565-70e25c8cdc44?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9F72F24B538F4\u0022",
        "x-ms-date": "Thu, 24 Feb 2022 00:46:50 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "i\u002B21UfDASlsRzWgM23RGAJNq43My1stt00KOdMuxEL2kG5G3CjmZMYO2qeI9X8PKHCeHhYFVFrQhSH2uMdaPYLyrZ7/jj/VZ0bHvfC3pL3R\u002BxFejKos8TwXclcK76gCtJkklkvcE540yLbTPZpmHOBkJMG1\u002B6zYxbxi6BvkznuaxQVXkxJx8et3JcfzXbOlrVV2osrqSLzoS8yLfSeCT/o/NHSREo3R8jLaPtHo5WQIvTrCciussHxIa0dB6nTD8NnNtCU/EJ7LpKyYDAnrA2Jogr/ov93Ojof0RKdGjAu6Fk34GzFCyaif\u002Bsl/EKByYWvg2[...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-8acedd4e-407a-eb91-c01e-f4d64144927b/test-blob-3d97552b-a1a9-3863-1565-70e25c8cdc44",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9F72F24C9A858\u0022",
        "x-ms-date": "Thu, 24 Feb 2022 00:46:50 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/3072",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9F72F24C9A858\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:46:50 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "OrxyUDbT9WY=",
        "x-ms-creation-time": "Thu, 24 Feb 2022 00:46:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2022-02-24T00:46:50.1015796Z"
      },
      "ResponseBody": "i\u002B21UfDASlsRzWgM23RGAJNq43My1stt00KOdMuxEL2kG5G3CjmZMYO2qeI9X8PKHCeHhYFVFrQhSH2uMdaPYLyrZ7/jj/VZ0bHvfC3pL3R\u002BxFejKos8[...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-8acedd4e-407a-eb91-c01e-f4d64144927b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:46:50 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "61868071",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}