{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-4f415a9c-8860-8fbd-fac5-fe9f58585391?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:57:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32179F1C4D7E\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:57:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-4f415a9c-8860-8fbd-fac5-fe9f58585391/test-blob-12ee98f0-ba24-969d-5abd-2c3f381eb7a6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 09 May 2022 23:57:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32179F2AC761\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:57:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:57:06.2373991Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-4f415a9c-8860-8fbd-fac5-fe9f58585391/test-blob-12ee98f0-ba24-969d-5abd-2c3f381eb7a6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:57:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32179F2AC761\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:57:06 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 09 May 2022 23:57:06 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:57:06.2373991Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-4f415a9c-8860-8fbd-fac5-fe9f58585391/test-blob-12ee98f0-ba24-969d-5abd-2c3f381eb7a6?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA32179F2AC761\u0022",
        "x-ms-date": "Mon, 09 May 2022 23:57:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "V68HH9nqiSbtbLhBhEdxVGrbM\u002BszprB9ay329rkYfT7gvB1unjtJgeP9v3QaArYkTWfpeyRSE7H/ibOr9JJt1O95YMgqA7YvkbIINuY7Yml30qhRLwEZjahsbxSHno1Qj\u002BuEoaLt\u002BkqwuepyStzLwyZKNCHqHKXuX9IfvpShqPMlt6b6t8HHiddeoHUXp0PLoKvtPGlrZnNGlkHPzjy2DhH2TJM20Axlg6tKjHsv17ePUx3otGyKulEztCF/97ubp5JkIFqvldCfiLi\u002BIdn4Fr6KP3oezlqkbJJBAxvq5YvvruTpy7Zd375MSCuzy5h3Op5i[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-4f415a9c-8860-8fbd-fac5-fe9f58585391/test-blob-12ee98f0-ba24-969d-5abd-2c3f381eb7a6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:57:06 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "EbZHEEbappv5FlQ1Yw3NRw==",
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32179F4772FC\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:57:06 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 09 May 2022 23:57:06 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:57:06.2373991Z"
      },
      "ResponseBody": "V68HH9nqiSbtbLhBhEdxVGrbM\u002BszprB9ay329rkYfT7gvB1unjtJgeP9v3QaArYkTWfpeyRSE7H/ibOr9JJt1O95YMgqA7YvkbIINuY7Yml30qhRLwEZjahsbxSHno1Qj\u002BuEoaLt\u002BkqwuepyStzLwyZKNCHqHKXuX9IfvpShqPMlt6b6t8HHiddeoHUXp0PLoKvtPGlrZnNGlkHPzjy2DhH2TJM20Axlg6tKjHsv17ePUx3otGyKulEztCF/97ubp5JkIFqvldCfiLi\u002BIdn4Fr6KP3oezlqkbJJBAxvq5YvvruTpy7Zd375MSCuzy5h3Op5i9bhBfNk3v7THbpK0taMsznL1D0oILV\u002B80oUv8aD5ych8iO/TrjEKsQwBlXErmJOHhvwmgitUWshZhKpUB84UzaTKOCyzWSBB6l0\u002BBpjtkDnyqGqj00adKC0neimGtqo\u002B7cfMYF9m0y3c5JjNFVQwa/RwYl9jcPpeLQ//jN72ujOzABjQITDai9Q8x\u002B6uzxLZ9w81FVRK2n3NbjNQZ0dO5SpkGhU8X0nEltaLJqgLr138JpTPwaTfaCWaA7P8iSSM7eHESbX9nZfFcX9\u002Bv7PUwr7WU0GyfySFhbHvoVyWxw2x/jnHRman/4j8CU8lYKlyxUH0JTbj2W68PsMDDfs7L6lyzMB6DXtYLlS4tnU="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-4f415a9c-8860-8fbd-fac5-fe9f58585391?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:57:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1272546315",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
