{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-ff9f1e14-8608-ee9f-c933-1d9d8ba543a6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:57:04 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32179DF3D9DE\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:57:04 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-ff9f1e14-8608-ee9f-c933-1d9d8ba543a6/test-blob-fc87464d-17b8-57df-31d0-94287a39de3e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 09 May 2022 23:57:04 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32179E03AFF3\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:57:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:57:04.3024883Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-ff9f1e14-8608-ee9f-c933-1d9d8ba543a6/test-blob-fc87464d-17b8-57df-31d0-94287a39de3e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:57:04 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32179E03AFF3\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:57:04 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 09 May 2022 23:57:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:57:04.3024883Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-ff9f1e14-8608-ee9f-c933-1d9d8ba543a6/test-blob-fc87464d-17b8-57df-31d0-94287a39de3e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA32179E03AFF3\u0022",
        "x-ms-date": "Mon, 09 May 2022 23:57:04 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "\u002BN59BuYzZy5zAAhS9jm0atxX9IlbBosUnJfFPE5FKGua\u002BW1b4VDfdZobyBtYT0yEeS2HH5eSOvJSaWlPbirgLdecuP3MWYmMd3/vQD1wvExKQcIhvgjTB797CHfnkAdvOptDu5dOtyCk\u002B6gYo/m04q0dBCxnv2/PyLA\u002BUVARpOZ4fwaiLQC0/ImifMJgu2TFxibKyYzaB3src/LnEGbPk1bBnyPzEbStaAijxUKtbwxMeYopRttanneKd7kNzewi0ulrnhxA0rRxHWCENkI4fQTmm5bbpkx7ZwGsaJr7n5scgPJYQdHwC6bWuCl61mc0Uvm1[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-ff9f1e14-8608-ee9f-c933-1d9d8ba543a6/test-blob-fc87464d-17b8-57df-31d0-94287a39de3e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:57:04 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32179E22F340\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:57:04 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "Yv09ua7p1Fo=",
        "x-ms-creation-time": "Mon, 09 May 2022 23:57:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:57:04.3024883Z"
      },
      "ResponseBody": "\u002BN59BuYzZy5zAAhS9jm0atxX9IlbBosUnJfFPE5FKGua\u002BW1b4VDfdZobyBtYT0yEeS2HH5eSOvJSaWlPbirgLdecuP3MWYmMd3/vQD1wvExKQcIhvgjT[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-ff9f1e14-8608-ee9f-c933-1d9d8ba543a6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:57:04 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1825203713",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
