{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-f4431868-8cec-9bc2-ddee-0415063308f0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:56:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA321797E5464C\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-f4431868-8cec-9bc2-ddee-0415063308f0/test-blob-b7297d21-b0a2-1c3f-28b2-b63ac4fa1f91",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 09 May 2022 23:56:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA321797F3FAF7\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:56:54.1342207Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-f4431868-8cec-9bc2-ddee-0415063308f0/test-blob-b7297d21-b0a2-1c3f-28b2-b63ac4fa1f91",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:56:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA321797F3FAF7\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:54 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 09 May 2022 23:56:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:56:54.1342207Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-f4431868-8cec-9bc2-ddee-0415063308f0/test-blob-b7297d21-b0a2-1c3f-28b2-b63ac4fa1f91?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA321797F3FAF7\u0022",
        "x-ms-date": "Mon, 09 May 2022 23:56:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "ETHScyue8SQDdMFuQljIaj1Y3IRI0qc34buDOH9OKbEUnlmioD2AmpDHMtShfaSwylqKTKTlZD6JmpJwGrmktEsPWqP/Jsn/2EHzgZ/TlmQW020kxNwNLjoaGAWrEIDXIn2JkSMBsaSRinRj8eOftgQtWkZLf/BuAito5A3DVMjAHF4hSgRAFSLJkzloqTxXe2IBfbU6i6KNGo/3mMyXzTWsotWEfWz/7EQjguy2BVjuEWmrwtcShpG8lC91SXxVMcYEvAdn0/32AZBxFgi21hQ2CYdj7ApemRtEx\u002Bk8iqPHzVAlsklRhj1rtMFGoHCIBr4aPj/18kW7pSLrIww[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-f4431868-8cec-9bc2-ddee-0415063308f0/test-blob-b7297d21-b0a2-1c3f-28b2-b63ac4fa1f91",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:56:54 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "6AoQ6gx5eRgrqrxayENehQ==",
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32179812C925\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:54 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 09 May 2022 23:56:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:56:54.1342207Z"
      },
      "ResponseBody": "ETHScyue8SQDdMFuQljIaj1Y3IRI0qc34buDOH9OKbEUnlmioD2AmpDHMtShfaSwylqKTKTlZD6JmpJwGrmktEsPWqP/Jsn/2EHzgZ/TlmQW020kxNwNLjoaGAWrEIDXIn2JkSMBsaSRinRj8eOftgQtWkZLf/BuAito5A3DVMjAHF4hSgRAFSLJkzloqTxXe2IBfbU6i6KNGo/3mMyXzTWsotWEfWz/7EQjguy2BVjuEWmrwtcShpG8lC91SXxVMcYEvAdn0/32AZBxFgi21hQ2CYdj7ApemRtEx\u002Bk8iqPHzVAlsklRhj1rtMFGoHCIBr4aPj/18kW7pSLrIwwUuXbsqUi3kCPL5YJJ9zdJGPiru8ArIUtk0dsLaQ0mZWMxV/pKWfco0XaaT1m8rPsOco0pQGdL6ZgriNdtrCcWpIAfF588/74BgulKkdHypyXf/Pd//CT75W5iH9EfuyVPg6rZnZRc0nPPKL59AVfGOOCyja8vl6dbIzEw2t/s4sfE\u002Bw0nGAqQgyqEsNRmfeQWm\u002BbwbS11H\u002BwCfXpiK/eT4kb2uQVKnx/WIQqEq\u002BbT9aVNGT74/HSZT9whJJuPLVcy8M2Ob8TfzPzGGksi8HQFL4jUFRG5mubRXGkpKXqERvSzUroYRIXgbU1CMeEpdl5nG/QSuxdFeVbnvRNbtaOBQtM="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-f4431868-8cec-9bc2-ddee-0415063308f0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:56:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1588345003",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
