{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-f82a6699-2905-e398-2aaa-808a85851509?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:56:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA321796B66B05\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-f82a6699-2905-e398-2aaa-808a85851509/test-blob-0d513945-3640-e974-610e-644a79f3a25d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 09 May 2022 23:56:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA321796C54397\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:56:52.1493399Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-f82a6699-2905-e398-2aaa-808a85851509/test-blob-0d513945-3640-e974-610e-644a79f3a25d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:56:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA321796C54397\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:52 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 09 May 2022 23:56:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:56:52.1493399Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-f82a6699-2905-e398-2aaa-808a85851509/test-blob-0d513945-3640-e974-610e-644a79f3a25d?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA321796C54397\u0022",
        "x-ms-date": "Mon, 09 May 2022 23:56:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "bUygyYh863\u002Bj2HREivJzyCTSN43w2gOEIOlEuYkL1BuLiDgjwbwl1wwVmC7BlGxh8seTqzGnJpJIG6mfNzH2lwNZuAG6TwZnrV\u002BA20HVw4t848fBeCnp5GGl2qUThaDbHgEqaNxrpqLALP3SJktRc1geIlNpNB7Zb9SgFXRhVCe\u002BpbxAqlquET0kAEwsFr0VU2dM9GNMceriUPgIypAuX9fVE4GPEMj\u002BbxEWRTPSrVgWisINFF/EcTPSXllhpkes9qF0VgI7hkKeToVSNSy2D6Og8T/OIEp3EKFNvLJunMjKak6SXlZV2wR/bsXacjwHHE62[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-f82a6699-2905-e398-2aaa-808a85851509/test-blob-0d513945-3640-e974-610e-644a79f3a25d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:56:52 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA321796E2D972\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:52 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "CRrghzCCCcY=",
        "x-ms-creation-time": "Mon, 09 May 2022 23:56:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:56:52.1493399Z"
      },
      "ResponseBody": "bUygyYh863\u002Bj2HREivJzyCTSN43w2gOEIOlEuYkL1BuLiDgjwbwl1wwVmC7BlGxh8seTqzGnJpJIG6mfNzH2lwNZuAG6TwZnrV\u002BA20HVw4t848fBeCnp[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-f82a6699-2905-e398-2aaa-808a85851509?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:56:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1557746227",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
