{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d63e1d20-da9f-e44a-6f92-192656a867fa?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:56:40 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32178FE123D0\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:40 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d63e1d20-da9f-e44a-6f92-192656a867fa/test-blob-00857b58-7458-d5ff-964b-aacfe437fdbf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 09 May 2022 23:56:40 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32178FF0ACF8\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:40 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:56:40.6897912Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d63e1d20-da9f-e44a-6f92-192656a867fa/test-blob-00857b58-7458-d5ff-964b-aacfe437fdbf",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:56:41 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32178FF0ACF8\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:40 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 09 May 2022 23:56:40 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:56:40.6897912Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d63e1d20-da9f-e44a-6f92-192656a867fa/test-blob-00857b58-7458-d5ff-964b-aacfe437fdbf?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA32178FF0ACF8\u0022",
        "x-ms-date": "Mon, 09 May 2022 23:56:41 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "vRVP0dtnq7Q7IzUVl5sVtXT8yqiEroxQHlUkbQoxW2Tgz/G5aU1B9AJvfEqhhWpiR6w8w3IB7w6I/7KGQz6pCsjQNMepW0snutWlFTJBr5jqwSVd9Zfy3uDjMGqau7DDxnKC0FCjuetgFAmcXNrcR08anIIZSxUw3lbnxivhjf8k4k6/v99HRgc6/OCNVYIFBukbfx4uqnpdUfL6vPPAf4cKeHmLHIhw0lV63k40oonT4b9BxQ3g9jfUYm3tTYoUeX1Zg9wIeupgq63Js8srKK5oJto0frl6KoJBt7kbg4XKZmXR2x\u002Bsy2fV4BpfFkJsqDq\u002BhCav4PvD31[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d63e1d20-da9f-e44a-6f92-192656a867fa/test-blob-00857b58-7458-d5ff-964b-aacfe437fdbf",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:56:41 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3217900EB7F6\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:40 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "oax45ed8i0w=",
        "x-ms-creation-time": "Mon, 09 May 2022 23:56:40 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:56:40.6897912Z"
      },
      "ResponseBody": "vRVP0dtnq7Q7IzUVl5sVtXT8yqiEroxQHlUkbQoxW2Tgz/G5aU1B9AJvfEqhhWpiR6w8w3IB7w6I/7KGQz6pCsjQNMepW0snutWlFTJBr5jqwSVd9Zfy3uDjMGqau7DDxnKC0FCjuetgFAmcXNrcR08anIIZSxUw3lbnxivhjf8k4k6/v99HRgc6/OCNVYIFBukbfx4uqnpdUfL6vPPAf4cKeHmLHIhw0lV63k40oonT4b9BxQ3g9jfUYm3tTYoUeX1Zg9wIeupgq63Js8srKK5oJto0frl6KoJBt7kbg4XKZmXR2x\u002Bsy2fV4BpfFkJsqDq\u002BhCav4PvD31laxsMwRSgo/01mWk2Pu1tzXp2eGhM/1Q5/XP5eGoZpDfzGUQSjpZryNxf1BU7tLsjKPIFdJcRFG/G0sekpyeTG/ExQyGpWz7kCrOL8Ss\u002B/kS01k94EDOg3gTYT7/SxyG4zLgkBnGZec2zIWnjiSNAh9B\u002B78zUFwvBkGUczQ\u002BDFUON0yRzGvvXH1yByPLFvVThl8frU9tU4LWwZnYMeKjCLAgmVbX\u002B0WzYp8xwVk4U\u002B9MQPzVLm8FoOPJuwrCFyqazv5zqn2ee4sZXDqwK4I5rm26i\u002BDl3epBKvhzHjBK8Vt0pwJaxLlhvcVxy8IkVXVRgBydF4s5tPEUIn\u002BFK11K3mrvO4SP0="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d63e1d20-da9f-e44a-6f92-192656a867fa?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:56:41 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1185151112",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
