{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d1d27a61-b6a3-1962-2475-dbbd25524989?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:56:45 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA321792CE80F4\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:45 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d1d27a61-b6a3-1962-2475-dbbd25524989/test-blob-14fdb780-2215-83ba-6232-5963ba8937da",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 09 May 2022 23:56:45 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA321792DDC3D5\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:56:45.5990229Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d1d27a61-b6a3-1962-2475-dbbd25524989/test-blob-14fdb780-2215-83ba-6232-5963ba8937da",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:56:45 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA321792DDC3D5\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:45 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 09 May 2022 23:56:45 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:56:45.5990229Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d1d27a61-b6a3-1962-2475-dbbd25524989/test-blob-14fdb780-2215-83ba-6232-5963ba8937da?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA321792DDC3D5\u0022",
        "x-ms-date": "Mon, 09 May 2022 23:56:46 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "lW3yqF5ESLP1QudYljvmXckWQ8qQ\u002B45rDtT0LDy4OvMlqZHE1AJmNREOWLgtSVN4ShMCQLNa5Znfh5qKTxx2PAj0M\u002ByqIYjGrw24gqPWPcSAe\u002BIptvpAy8P35U1o2\u002BX1lxyvORZmziiKO5CloWP2CUrWCdQ6TYYOs2gosjw7XtQnwuqHJgOtGq25nnppmilgAdwDktERu0qWoYauPRzrT927fd95b\u002BJGKO8ngK4LpBg/yLBgOMwCFQef8IR9/9yQzU\u002BdrRxK55L5vGni6juciv1tb3RrixcRuWjX2X5eySgSlrJebfb79eEeZ3[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d1d27a61-b6a3-1962-2475-dbbd25524989/test-blob-14fdb780-2215-83ba-6232-5963ba8937da",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:56:46 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA321792FBCECF\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:45 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "xQwXVuEwiO0=",
        "x-ms-creation-time": "Mon, 09 May 2022 23:56:45 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:56:45.5990229Z"
      },
      "ResponseBody": "lW3yqF5ESLP1QudYljvmXckWQ8qQ\u002B45rDtT0LDy4OvMlqZHE1AJmNREOWLgtSVN4ShMCQLNa5Znfh5qKTxx2PAj0M\u002ByqIYjGrw24gqPWPcSAe\u002BI[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d1d27a61-b6a3-1962-2475-dbbd25524989?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:56:46 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1225075865",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
