{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-50e40185-d4f2-a000-3344-bc924548b1d6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 00:01:23 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32183879E258\u0022",
        "Last-Modified": "Tue, 10 May 2022 00:01:23 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-50e40185-d4f2-a000-3344-bc924548b1d6/test-blob-9dc707d5-debf-651c-a925-4d14a39853c5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 10 May 2022 00:01:23 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32183889EE73\u0022",
        "Last-Modified": "Tue, 10 May 2022 00:01:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T00:01:23.5513971Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-50e40185-d4f2-a000-3344-bc924548b1d6/test-blob-9dc707d5-debf-651c-a925-4d14a39853c5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 00:01:23 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32183889EE73\u0022",
        "Last-Modified": "Tue, 10 May 2022 00:01:23 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 00:01:23 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T00:01:23.5513971Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-50e40185-d4f2-a000-3344-bc924548b1d6/test-blob-9dc707d5-debf-651c-a925-4d14a39853c5?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA32183889EE73\u0022",
        "x-ms-date": "Tue, 10 May 2022 00:01:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "X5ryFp7X6gvGHPR3xh6RoWyt5GYh81PoRAEk4\u002B83eUVqKIJ0n8Fw1vMb92YXpQ99VuiWoDKpxGxGCdGdsgccjqKuDZ6bHAKqPQ1yBfvt0Z7ypowGoNgTwWMWLpXw0yPs/2nDaJhx4jnl62MkNr5wWDgyqwx7Fe7Jm0w6he5tumrphgaSKmgGgMRSILR17oqkpdZcvScXcel6\u002Bc1MN11LeDH5O6\u002B43i3PLCpIKPU5VKzBld8YEP1C0hUdFzGbuklnBqiDe7Pa7MeojZD9z0j0QaQhiqF\u002BM2czt2iamsb8NHHh4SFMtdj45qgXb4NsRALMKdaM[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-50e40185-d4f2-a000-3344-bc924548b1d6/test-blob-9dc707d5-debf-651c-a925-4d14a39853c5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 00:01:24 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA321838A86E8E\u0022",
        "Last-Modified": "Tue, 10 May 2022 00:01:23 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 00:01:23 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T00:01:23.5513971Z"
      },
      "ResponseBody": "X5ryFp7X6gvGHPR3xh6RoWyt5GYh81PoRAEk4\u002B83eUVqKIJ0n8Fw1vMb92YXpQ99VuiWoDKpxGxGCdGdsgccjqKuDZ6bHAKqPQ1yBfvt0Z7ypowGoNgTwWMWLpXw0yPs/2nDaJhx4jnl62MkNr5wWDgyqwx7Fe7Jm0w6he5tumrphgaSKmgGgMRSILR17oqkpdZcvScXcel6\u002Bc1MN11LeDH5O6\u002B43i3PLCpIKPU5VKzBld8YEP1C0hUdFzGbuklnBqiDe7Pa7MeojZD9z0j0QaQhiqF\u002BM2czt2iamsb8NHHh4SFMtdj45qgXb4NsRALMKdaMeS\u002Bn6NNAT8RKQFIBrFkfHO4mp4vLKKP4ZsPkx3JmzXHwb7pBOfhODGYUraZWFsMqTSgUpoJKwVCMroIPW4hR5HLhETye3eL215olt3v8olAAunlJUifupa1ptYp1PrDdwsk0dASGi3BGHc7nJQrVjwwxD6EPCJJL8muONCdYgJnqSPSxyC1LeS4JAzRYBn\u002BjkyZ\u002BQy8Pzro26YKY91ZI7pw1/d0VI8be5pZyBQRd8uvs66AB2Txp2no6et\u002BrsoHYwRWXIwiijnBfoF2ZnMi22faWrAy2RxRgyyNj26jnMjMUmkTuxs7jSV0wojne0D2xg6HoFQV0IXoBN1flP7LHeG0qhAKExxIos2OvhaQ="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-50e40185-d4f2-a000-3344-bc924548b1d6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 00:01:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "545085502",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
