{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bf6b6fce-1e39-91bb-5e81-b0f9c2d05ec5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Apr 2022 21:20:50 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA295CF7FF6DA1\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 21:20:50 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bf6b6fce-1e39-91bb-5e81-b0f9c2d05ec5/test-blob-b04bd41e-9057-97c4-daba-530a7b6c7d43",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 28 Apr 2022 21:20:50 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA295CF80E2174\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 21:20:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-28T21:20:50.1762170Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bf6b6fce-1e39-91bb-5e81-b0f9c2d05ec5/test-blob-b04bd41e-9057-97c4-daba-530a7b6c7d43",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 21:20:50 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA295CF80E2174\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 21:20:50 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Apr 2022 21:20:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-28T21:20:50.1762170Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bf6b6fce-1e39-91bb-5e81-b0f9c2d05ec5/test-blob-b04bd41e-9057-97c4-daba-530a7b6c7d43?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA295CF80E2174\u0022",
        "x-ms-date": "Thu, 28 Apr 2022 21:20:50 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "D3FTHcS9ThDaFDvJm77iq51N\u002BHdqz2D102\u002BEaDfCGtCYFO09YMadQ/xVtE9nOnowuNs07bpfAz8QXUpUOebYF/pqMIbRpErWsLR6FRsRjZn1VK9bjSwWORGtLAJ8SQoVfJxV/QrzXxSQXT0F5O4j/tCwXuU3fIrNU/d1I3dHWmeqZJh/vJCOAvWbyy/vEVQjiS0yy\u002Bol3v8Sh6kSfTucSAPWW4BVpEI/IlvvnLFa3kKiUZlKFY58hIaYbTXne4S5/oIsGLXUzeXr8qmONUJOt6lmcCyiUjN0Wdb5vTYNWKbXNp0uLcWNzYSzXiLl7k9ESbWLgAtYF[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bf6b6fce-1e39-91bb-5e81-b0f9c2d05ec5/test-blob-b04bd41e-9057-97c4-daba-530a7b6c7d43",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 21:20:50 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA295CF8299476\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 21:20:50 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "FKIlcjkQQUs=",
        "x-ms-creation-time": "Thu, 28 Apr 2022 21:20:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-28T21:20:50.1762170Z"
      },
      "ResponseBody": "D3FTHcS9ThDaFDvJm77iq51N\u002BHdqz2D102\u002BEaDfCGtCYFO09YMadQ/xVtE9nOnowuNs07bpfAz8QXUpUOebYF/pqMIbRpErWsLR6FRsRjZn1VK9bjSwWORGtLAJ8SQoVfJxV/QrzXxSQXT0F5O4j/tCwXuU3fIrNU/d1I3dHWmeqZJh/vJCOAvWbyy/vEVQjiS0yy\u002Bol3v8Sh6kSfTucSAPWW4BVpEI/IlvvnLFa3kKiUZlKFY58hIaYbTXne4S5/oIsGLXUzeXr8qmONUJOt6lmcCyiUjN0Wdb5vTYNWKbXNp0uLcWNzYSzXiLl7k9ESbWLgAtYFqxPt7/f2g\u002Bu3pkDt/6kH4rk2aKn7vMQj2uHtXOBgdeafh/w33UFrfJ0BICI4jZQnyorp6dosCi5PyhTVySbLVzCaDjftD8U3iuvM\u002Bpyh6w0NhZJVtowMs33N6BNslXO2Nckxnn9cerqFsl8uH0\u002BRrd8HiANUteCkTZq532fxyvV4VoSTsAzNsUrXj8QtHlQufDo0JM0wIb/oTRDk4ltS0\u002BdptYiK/f2SOdb4vOYcd28Gi6MtvaXoCHUE6yM76M8vhPvcw2iLo348ois2d6SZzBXhnha4JRZBQW1ThhKallDHiPfqP7QGeyglMRu68ZDQat8NGgr4d1\u002Blm0H7d91rYcuaLu6sr8yhm0="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bf6b6fce-1e39-91bb-5e81-b0f9c2d05ec5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 21:20:50 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "754979883",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
