{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-46a32ac6-f575-2944-9574-7d92c13c2fa8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Apr 2022 22:55:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA28A11289C8F5\u0022",
        "Last-Modified": "Wed, 27 Apr 2022 22:55:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-46a32ac6-f575-2944-9574-7d92c13c2fa8/test-blob-2f40e1c3-f73b-b019-728b-16bc4369fb4e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 27 Apr 2022 22:55:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA28A112990FC8\u0022",
        "Last-Modified": "Wed, 27 Apr 2022 22:55:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-27T22:55:49.3213128Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-46a32ac6-f575-2944-9574-7d92c13c2fa8/test-blob-2f40e1c3-f73b-b019-728b-16bc4369fb4e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Apr 2022 22:55:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA28A112990FC8\u0022",
        "Last-Modified": "Wed, 27 Apr 2022 22:55:49 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Apr 2022 22:55:49 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-27T22:55:49.3213128Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-46a32ac6-f575-2944-9574-7d92c13c2fa8/test-blob-2f40e1c3-f73b-b019-728b-16bc4369fb4e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA28A112990FC8\u0022",
        "x-ms-date": "Wed, 27 Apr 2022 22:55:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "EAKMRer0HxYOz5m/Rw3TdduE2Bb0p84a88WTg0M/PZCLYiZTk1MOxYsxegnIrAhYm/cBEUMUV2kzclIkYZzTzpEIM\u002BTmf\u002BGHdhKKwi3EUUa9O\u002BdMPStMdgu9ICAB6WTuXat4wHgjcRsVepsxipQ7biELZya0h5Blu7zZKV/Aho2um2SBTJDOmcnMN8OQG\u002Bx2gbL/9YE9OdYaEgS7Ski8VPQNg\u002B4vuiGQPc1c6FDN1aDQYqeswZALcGGOZjqMEk\u002BAEOLPgpj\u002BR8eRbriz4FGGTTxk6\u002BegD5JjARKMoVPnBCp929ht[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-46a32ac6-f575-2944-9574-7d92c13c2fa8/test-blob-2f40e1c3-f73b-b019-728b-16bc4369fb4e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Apr 2022 22:55:49 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA28A112B6CC63\u0022",
        "Last-Modified": "Wed, 27 Apr 2022 22:55:49 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "lE7m3\u002BVE5So=",
        "x-ms-creation-time": "Wed, 27 Apr 2022 22:55:49 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-27T22:55:49.3213128Z"
      },
      "ResponseBody": "EAKMRer0HxYOz5m/Rw3TdduE2Bb0p84a88WTg0M/PZCLYiZTk1MOxYsxegnIrAhYm/cBEUMUV2kzclIkYZzTzpEIM\u002BTmf\u002BGHdhKKwi3EUUa9O\u[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-46a32ac6-f575-2944-9574-7d92c13c2fa8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Apr 2022 22:55:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "691518043",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
