{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-81b2fc47-1852-674c-3aa5-5a1219309519?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:56:57 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA321799F3146B\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:57 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-81b2fc47-1852-674c-3aa5-5a1219309519/test-blob-8008e44e-9e17-7bb9-53ef-1ce68d336b11",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 09 May 2022 23:56:57 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32179A063AC0\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:56:57.6092617Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-81b2fc47-1852-674c-3aa5-5a1219309519/test-blob-8008e44e-9e17-7bb9-53ef-1ce68d336b11",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:56:57 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32179A063AC0\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:57 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 09 May 2022 23:56:57 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:56:57.6092617Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-81b2fc47-1852-674c-3aa5-5a1219309519/test-blob-8008e44e-9e17-7bb9-53ef-1ce68d336b11?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA32179A063AC0\u0022",
        "x-ms-date": "Mon, 09 May 2022 23:56:58 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "eoqAnpwXPtH1PfGskIM3UtVtLKtfshwBj3L5RFt5R\u002BIMl06lZzFRzjD/7b9VkBqLBse4v4Dukchufw8qHfl2fPUOoPg1kuujHF16X8Vcq/5Ybj6TwIdhHQWFNuchJrE2iXHJR\u002B8hVXPbFaMjczICEdQQ0a674rturILzr1sDgfWsRNVUkmMPNxjKuKvjPqrTgyQTEVQCe6e1W5psLqUY15Oudy9crn5wAZqW8SoQim7YHyw273CgqckunjfIoglzseAYNcd6d9Wmow\u002B5bIl9pdEskw554egiDc1mLg9Hp16RIj9J\u002BFSnXqhXkExg5j0/sPll[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-81b2fc47-1852-674c-3aa5-5a1219309519/test-blob-8008e44e-9e17-7bb9-53ef-1ce68d336b11",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:56:58 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32179A31151D\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:57 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "aOkgZ9qcyzI=",
        "x-ms-creation-time": "Mon, 09 May 2022 23:56:57 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:56:57.6092617Z"
      },
      "ResponseBody": "eoqAnpwXPtH1PfGskIM3UtVtLKtfshwBj3L5RFt5R\u002BIMl06lZzFRzjD/7b9VkBqLBse4v4Dukchufw8qHfl2fPUOoPg1kuujHF16X8Vcq/5Ybj6TwIdhHQWFN[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-81b2fc47-1852-674c-3aa5-5a1219309519?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:56:58 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1447920822",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
