{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-48161f1d-9f8c-18e2-c40b-d629c1e9efdc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 00:01:22 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA321837A1A3D1\u0022",
        "Last-Modified": "Tue, 10 May 2022 00:01:22 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-48161f1d-9f8c-18e2-c40b-d629c1e9efdc/test-blob-334d6fc4-4bbd-3f95-4bd9-d2a0207083c5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 10 May 2022 00:01:22 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA321837B139EC\u0022",
        "Last-Modified": "Tue, 10 May 2022 00:01:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T00:01:22.1311980Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-48161f1d-9f8c-18e2-c40b-d629c1e9efdc/test-blob-334d6fc4-4bbd-3f95-4bd9-d2a0207083c5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 00:01:22 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA321837B139EC\u0022",
        "Last-Modified": "Tue, 10 May 2022 00:01:22 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 00:01:22 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T00:01:22.1311980Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-48161f1d-9f8c-18e2-c40b-d629c1e9efdc/test-blob-334d6fc4-4bbd-3f95-4bd9-d2a0207083c5?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA321837B139EC\u0022",
        "x-ms-date": "Tue, 10 May 2022 00:01:22 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "v1\u002Bjm0M8CGpX0e8Wpv3YAMrsLjdRcKoPz2WNACVNOOdCVyTgIKSlvYItJ2DLSuHc4I2vH0L8T060k8zerwhECZgI1E/Z998mR3G0I0lJQ4SDsSCYnRmkRQfWK4zXxw556R3Hw3aRA\u002BiuidjRRysFa1BHWv3orGt/Y45IAsxSToBiOzosgoAO8q036hRB0v7c0cA8j2wQkT2xSF/nSQAcWzpXbwzx2OjQOWhQsMFWPZGQbDELFb4TUan9ejkgJ6itG47a6WLx6vjXbFYDwOB7WgrNVt3OEEZ7RB5i9F2vrxK/o5UzfFQvnoE5M6hoD5DJgSAvUtDL3gpHX6[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-48161f1d-9f8c-18e2-c40b-d629c1e9efdc/test-blob-334d6fc4-4bbd-3f95-4bd9-d2a0207083c5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 00:01:22 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA321837D0563F\u0022",
        "Last-Modified": "Tue, 10 May 2022 00:01:22 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 00:01:22 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T00:01:22.1311980Z"
      },
      "ResponseBody": "v1\u002Bjm0M8CGpX0e8Wpv3YAMrsLjdRcKoPz2WNACVNOOdCVyTgIKSlvYItJ2DLSuHc4I2vH0L8T060k8zerwhECZgI1E/Z998mR3G0I0lJQ4SDsSCYnRmkRQfWK4zXxw556R3Hw3aRA\u002BiuidjRRysFa1BHWv3orGt/Y45IAsxSToBiOzosgoAO8q036hRB0v7c0cA8j2wQkT2xSF/nSQAcWzpXbwzx2OjQOWhQsMFWPZGQbDELFb4TUan9ejkgJ6itG47a6WLx6vjXbFYDwOB7WgrNVt3OEEZ7RB5i9F2vrxK/o5UzfFQvnoE5M6hoD5DJgSAvUtDL3gpHX6VEj/aaKLxERB1KR962nrdcld2dEjSNmXI9gF1B9MSL6xyv6w\u002BKngrsJMtzfzlCeLMYbkksqk1wtvaEXahfAk9YvlzBB7Oo0fbSse5oGhk4\u002BwepKIV7X0HPPjQZBkFijCJ7GsDdgHEAcJ1SWvhfCJvcS2KhttnK3F8a8sh\u002Bj8u0cCXM7P9ZW3uVqLjoKARIcDaZPLrfwNVIsT5hwo2pguDRnerTkhucg/DmDA4g4bNa0oKS5VIR1a9QgzvB\u002BJjt6ybXF4sadN0b/LnK\u002BLTGJ8\u002BKBvALFpyNv8g7gw/f2otX\u002BSDoScooQF2kd\u002BiZRt37iVxrN/Ko4dSJSVfC3/HNOyIucv6T3t4="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-48161f1d-9f8c-18e2-c40b-d629c1e9efdc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 00:01:22 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1554420533",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
