{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-fa2e5f66-29cf-5826-bb2d-d168e4ddde52?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 00:01:20 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA321836C5E35A\u0022",
        "Last-Modified": "Tue, 10 May 2022 00:01:20 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-fa2e5f66-29cf-5826-bb2d-d168e4ddde52/test-blob-543a1520-341b-ca88-02a4-db28eb4bc3ce",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 10 May 2022 00:01:20 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA321836D5EDAE\u0022",
        "Last-Modified": "Tue, 10 May 2022 00:01:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T00:01:20.6950072Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-fa2e5f66-29cf-5826-bb2d-d168e4ddde52/test-blob-543a1520-341b-ca88-02a4-db28eb4bc3ce",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 00:01:21 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA321836D5EDAE\u0022",
        "Last-Modified": "Tue, 10 May 2022 00:01:20 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 00:01:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T00:01:20.6950072Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-fa2e5f66-29cf-5826-bb2d-d168e4ddde52/test-blob-543a1520-341b-ca88-02a4-db28eb4bc3ce?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA321836D5EDAE\u0022",
        "x-ms-date": "Tue, 10 May 2022 00:01:21 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "qdU6w\u002B7Mss1aZ8sf7touytVvh4Qnf2t/Nr4PKF6Cd8QeVKNUtpRyFK7oBH7vESPztXGs3\u002BMMvilpu40wvYlv1/AGAZo32hNB/HLWPnvskCSaHHLs1pfhEpZ56vsGQVckeSyO6RCJu9tea\u002BJwNX\u002BtfCpplqEXggFYJO4Dve8XOrsbscRPXqcTEGCXjmu1cdwXzG7Qnau2DPYrNsQihv7rRjAnVIS6XR6DVYVAf/SVo7MR7PCBR5wPZaXOJCfi8Ypiq0c6jRxYXG5PTEgmdY0ClZMQEJkNav6TGO/e7Dn2oWP63tSsWhWXuY\u002BBMvpU6PA[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-fa2e5f66-29cf-5826-bb2d-d168e4ddde52/test-blob-543a1520-341b-ca88-02a4-db28eb4bc3ce",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 00:01:21 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA321836F70586\u0022",
        "Last-Modified": "Tue, 10 May 2022 00:01:20 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 00:01:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T00:01:20.6950072Z"
      },
      "ResponseBody": "qdU6w\u002B7Mss1aZ8sf7touytVvh4Qnf2t/Nr4PKF6Cd8QeVKNUtpRyFK7oBH7vESPztXGs3\u002BMMvilpu40wvYlv1/AGAZo32hNB/HLWPnvskCSaHHLs1pfhEpZ56vsGQVckeSyO6RCJu9tea\u002BJwNX\u002BtfCpplqEXggFYJO4Dve8XOrsbscRPXqcTEGCXjmu1cdwXzG7Qnau2DPYrNsQihv7rRjAnVIS6XR6DVYVAf/SVo7MR7PCBR5wPZaXOJCfi8Ypiq0c6jRxYXG5PTEgmdY0ClZMQEJkNav6TGO/e7Dn2oWP63tSsWhWXuY\u002BBMvpU6PAXzI6U0eHwVEFIp3QteXA1WKvkLJa5VTp9eVYKizgEPzD/xyCrYs\u002BCCYqSY7Ogaj8fTNlOb7xZXnZTFliK5sgJRGdELbJPifXcYiIMJvGG3Q8X6j9etc9zpWipV0x29yLBiB9LWzyNz8Ljcg2ZTDiFzDlIc/uJq4\u002BY0YhKpjGpZWr/S53RO4HTiht8ekPB2lkwJIsTLYQmON2Qs4q0QimROgyjmQGas5G3dengDTBL1/YuGoKmljjl2RLAQYf3H0fx60A3HkFXlXD5W7ibRiqsRNuThSin6qPUvcDu2XEJwFai7iLwFLm11oQRrDp/SpLoE/2sY5keSgCcY2CAabz\u002B75th\u002BVcIvDAi3q6klT1pVHM="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-fa2e5f66-29cf-5826-bb2d-d168e4ddde52?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 00:01:21 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1022699708",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
