{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bf39206f-2dfb-731b-8e7e-ab4f4f2111b7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:56:59 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32179B260DBD\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:59 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bf39206f-2dfb-731b-8e7e-ab4f4f2111b7/test-blob-6ad4f1d7-75eb-6526-34f7-8b192148f79a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 09 May 2022 23:56:59 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32179B351925\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:56:59.5931429Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bf39206f-2dfb-731b-8e7e-ab4f4f2111b7/test-blob-6ad4f1d7-75eb-6526-34f7-8b192148f79a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:56:59 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32179B351925\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:59 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 09 May 2022 23:56:59 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:56:59.5931429Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bf39206f-2dfb-731b-8e7e-ab4f4f2111b7/test-blob-6ad4f1d7-75eb-6526-34f7-8b192148f79a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA32179B351925\u0022",
        "x-ms-date": "Mon, 09 May 2022 23:57:00 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "zlnF8bkgNOHqnPz0Jov9BXcD1B9MolI6o4PxeG/ZpPHgjcEbwxXuWfvzhMktadJ9Fxjk8/0HLSsHik42L7tyEPcLE5jK4UJiFXsjWB2IDDmwdGFW9bHz2V\u002BVFDjHuCpAgXPRIlY5sjbWgd6C49UNf34UhbpZGxtGFzo4Nc0Jml1Q4taqt\u002Bnjd8IrgHPTcfWKh5W6sjJv5mZXigscAHxozOeAMQH\u002BY8eUMQ34Lpuoc6VErq44T\u002Bgq4PxwUizexndFwrOMUkD0jCPNJoEld7jLrxdm11LOMH3\u002BVlAEjRGatWqWs2vnHCFkUCGKaihnBWl[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bf39206f-2dfb-731b-8e7e-ab4f4f2111b7/test-blob-6ad4f1d7-75eb-6526-34f7-8b192148f79a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:57:00 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32179B53C03E\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:59 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "jj9TEQqlvc4=",
        "x-ms-creation-time": "Mon, 09 May 2022 23:56:59 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:56:59.5931429Z"
      },
      "ResponseBody": "zlnF8bkgNOHqnPz0Jov9BXcD1B9MolI6o4PxeG/ZpPHgjcEbwxXuWfvzhMktadJ9Fxjk8/0HLSsHik42L7tyEPcLE5jK4UJiFXsjWB2IDDmwdGFW9bHz2V\u002BVFDjHuCpAgXPRIlY5sjbWgd6C49UNf34UhbpZGxtGFzo4Nc0Jml1Q4taqt\u002Bnjd8IrgHPTcfWKh5W6sjJv5mZXigscAHxozOeAMQH\u002BY8eUMQ34Lpuoc6VErq44T\u002Bgq4PxwUizexndFwrOMUkD0jCPNJoEld7jLrxdm11LOMH3\u002BVlAEjRGatWqWs2vnHCFkUCGKaihnBWlEpaMVeO8ldpI1jfzv7/8SMnAWjsRM45P2AYcwQ8VUl1DnwOhthT17cTzZso4kdWAieDe4UHal98EQH3Zn9DLN4ParCC8WpK0ymx2HczEE0YwnDsuNnEbZQsgmXWXHE30KDNGYeWwxC9OJhbVZHYSQC03qQOZnP0Sv0cVm8EZIa4egfWZfbFcf9QL4AxaRgCRDlVIX3NKWosyN6aimyhuMQRotuaAeMZ/2y0rjbzstHlGhIlr0MI\u002B1CdqZ0YKveCvma8L8Y8aEJWSzIRGHszORX8tXBafAmBGLeLDFhF8cRlIf/AN5MbqKHf32QQ59LVamCHK3WHKDJdKwcOsVvqEEltq\u002BZ7YwGC0QzOiqylcDDUo="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bf39206f-2dfb-731b-8e7e-ab4f4f2111b7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:57:00 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "775775816",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
