{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-ac104d56-ef64-0b39-763a-d0a7d5e57edb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:56:59 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32179ACB78A2\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:58 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-ac104d56-ef64-0b39-763a-d0a7d5e57edb/test-blob-796ede7b-961e-3ad4-bdde-1e6fd88002e9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 09 May 2022 23:56:59 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32179ADA3500\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:56:58.9974784Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-ac104d56-ef64-0b39-763a-d0a7d5e57edb/test-blob-796ede7b-961e-3ad4-bdde-1e6fd88002e9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:56:59 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32179ADA3500\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:58 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 09 May 2022 23:56:58 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:56:58.9974784Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-ac104d56-ef64-0b39-763a-d0a7d5e57edb/test-blob-796ede7b-961e-3ad4-bdde-1e6fd88002e9?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA32179ADA3500\u0022",
        "x-ms-date": "Mon, 09 May 2022 23:56:59 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "Vu1WyPSNW/ArnAXYfaXpQKmMWjNc7BM9lpYiIiNcR6O9gj0138hPv0aZZyxpWozBVwAcoKibkmnZGDFeaznMzlRiG/pns2HhPJvtwoXn0zwKYMsiQKf6IfDUW8aW8VMMzJjXBz6RWaOfOmQMrc/k8kT1VApuqY6sZ/kKk1iaS0pI4PbtD8z9eAYngwZD7nQg72mCoJxJniIKK59EhsZLBe8ZxM3Z9\u002BN499sDRiaIaXmF6qPvGKqu/kLT4uQsufJA3H4WKSmmR/iFCanBRVf8gsEmvpwiXOxFa8WLBRT/Sz7pw2qncUBP36KqaQ4A7Lnq12AiBvpWHYCR0b5kG0H[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-ac104d56-ef64-0b39-763a-d0a7d5e57edb/test-blob-796ede7b-961e-3ad4-bdde-1e6fd88002e9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:56:59 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "BKNsg6IeBPsHwWnkyfnq8Q==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32179AF7F1E4\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:59 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 09 May 2022 23:56:58 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
  [...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-ac104d56-ef64-0b39-763a-d0a7d5e57edb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:56:59 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1209113719",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
