{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-30611cf7-b18b-fd99-5b0f-543a6eadb028?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:56:33 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32178B729270\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:33 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-30611cf7-b18b-fd99-5b0f-543a6eadb028/test-blob-0ce80234-c720-cce4-c763-300d21e682b3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 09 May 2022 23:56:33 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32178B819AA2\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:56:33.2509858Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-30611cf7-b18b-fd99-5b0f-543a6eadb028/test-blob-0ce80234-c720-cce4-c763-300d21e682b3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:56:33 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32178B819AA2\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:33 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 09 May 2022 23:56:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:56:33.2509858Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-30611cf7-b18b-fd99-5b0f-543a6eadb028/test-blob-0ce80234-c720-cce4-c763-300d21e682b3?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA32178B819AA2\u0022",
        "x-ms-date": "Mon, 09 May 2022 23:56:33 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "s3ynfWiiWAi\u002BMwt03FNDAexTrWPzYoBsRNx7iLP5lsq52ZE9sqWZ6rOxj3QwKdKEvjp3RKv5CFH8OzmLJ89UxZxBugLBBk9GucOwQdMMOxsJ98p5gVEev9FAQXZsDcPjXcnX727QwrjqMYroScZ\u002B7/8egjAF2kNKIvoxgcXY2qz/zOMJNEusOTQRj1DHNnYKwVF2TouT3oKGjMx0nkDzEVbd6H3jdbuzcUn780vyg\u002ByEJ8BzYoshbO5hg6d/N5rzHn356U34J0uWwtxBl\u002Bs2kwnf8HeAf6/KvHuOgfITNDmuB9TO\u002BZmfi/903Z\u002[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-30611cf7-b18b-fd99-5b0f-543a6eadb028/test-blob-0ce80234-c720-cce4-c763-300d21e682b3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:56:33 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32178B9F578A\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:33 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "R4VwxJW/9N0=",
        "x-ms-creation-time": "Mon, 09 May 2022 23:56:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:56:33.2509858Z"
      },
      "ResponseBody": "s3ynfWiiWAi\u002BMwt03FNDAexTrWPzYoBsRNx7iLP5lsq52ZE9sqWZ6rOxj3QwKdKEvjp3RKv5CFH8OzmLJ89UxZxBugLBBk9GucOwQdMMOxsJ98p5gVEev9FAQ[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-30611cf7-b18b-fd99-5b0f-543a6eadb028?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:56:33 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1615749632",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
