{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b0f6cd92-95c6-d968-5573-17513f5ec8e9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:56:51 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32179646CA88\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:51 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b0f6cd92-95c6-d968-5573-17513f5ec8e9/test-blob-3bd67a6e-aa90-c528-b16a-1fe14326bca0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 09 May 2022 23:56:51 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32179659E71A\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:56:51.4457370Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b0f6cd92-95c6-d968-5573-17513f5ec8e9/test-blob-3bd67a6e-aa90-c528-b16a-1fe14326bca0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:56:51 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32179659E71A\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:51 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 09 May 2022 23:56:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:56:51.4457370Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b0f6cd92-95c6-d968-5573-17513f5ec8e9/test-blob-3bd67a6e-aa90-c528-b16a-1fe14326bca0?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA32179659E71A\u0022",
        "x-ms-date": "Mon, 09 May 2022 23:56:51 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "ipJWCaHBxXvasAM6LQ9mpeeLYfiQZRIFqnbH8pYa\u002BM7XO87hWYLqLoFRiCZXf18MQNrxwn28nCR/UV8q\u002BtLlv7c1Y/FBhEtkoTN2Pt3rrioWu7K7KTZRG56qYQgjvzSvbMhvIhxuyryPjCBJRV1GlKI0FD4gKZaA5EdTlyJCQOH/x9IUfIwNqPD2LJwVB9VAY81l76v1j0My7z7UGjKZTUw/Sn6LMhcWJmtOKfz5at1yEjRV3FE2CTeO4YxNOY29Xd9Q1rxXtTG1Tsg/pmVGOIRhYgf\u002BQ3D6CUBG/FCLyO3dkMwdqZQgG10Dn42J9mLRSKkI7NaGv[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b0f6cd92-95c6-d968-5573-17513f5ec8e9/test-blob-3bd67a6e-aa90-c528-b16a-1fe14326bca0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:56:52 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA321796788E47\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:51 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "xBEoshr8u8g=",
        "x-ms-creation-time": "Mon, 09 May 2022 23:56:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:56:51.4457370Z"
      },
      "ResponseBody": "ipJWCaHBxXvasAM6LQ9mpeeLYfiQZRIFqnbH8pYa\u002BM7XO87hWYLqLoFRiCZXf18MQNrxwn28nCR/UV8q\u002BtLlv7c1Y/FBhEtkoTN2Pt3rrioWu7K7KTZRG56qYQgjvzSvbMhvIhxuyryPjCBJRV1GlKI0FD4gKZaA5EdTlyJCQOH/x9IUfIwNqPD2LJwVB9VAY81l76v1j0My7z7UGjKZTUw/Sn6LMhcWJmtOKfz5at1yEjRV3FE2CTeO4YxNOY29Xd9Q1rxXtTG1Tsg/pmVGOIRhYgf\u002BQ3D6CUBG/FCLyO3dkMwdqZQgG10Dn42J9mLRSKkI7NaGvxluVs17ELjhKoXaYRaZKI7wQEap\u002B6PicBLddbSmgtwXV9GyrlPHpAulInUIr5VMOB8aF6yP3MN1jOW6nZsEOqepwgpE5no7KZs7BNku2sF9kTyUjGsvh3sNPSFuDAdwoefNXuyLB1Kk3\u002B4QU9fqR7IjPAxeb648ejuON6hYzByUy2PxYXzV8onq8K19HjOjI/ZvSs/6ETE5keSw/NCpTBLRfIh0\u002BOU2TkqDdH8Av1sH6xOy6IJMmrkxuM\u002BXJPW5QKObq6KrLysQOfyFd52yONKJqBG99mOQhOLOQkAWnilUyjPbZRO4XLvnoq\u002BFxyIcfn/9Dnvk\u002B0pACyfA3Ozr\u002BprTMK1p1tO\u002B0Ew="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b0f6cd92-95c6-d968-5573-17513f5ec8e9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:56:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "569515882",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
