{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-8b43b385-b1e9-dccf-31c7-d8f77de56edf?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Apr 2022 22:55:51 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA28A1144D185E\u0022",
        "Last-Modified": "Wed, 27 Apr 2022 22:55:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-8b43b385-b1e9-dccf-31c7-d8f77de56edf/test-blob-1018b78f-f055-ced6-5786-a9fa91cef45a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 27 Apr 2022 22:55:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA28A1145D3642\u0022",
        "Last-Modified": "Wed, 27 Apr 2022 22:55:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-27T22:55:52.2845250Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-8b43b385-b1e9-dccf-31c7-d8f77de56edf/test-blob-1018b78f-f055-ced6-5786-a9fa91cef45a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Apr 2022 22:55:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA28A1145D3642\u0022",
        "Last-Modified": "Wed, 27 Apr 2022 22:55:52 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Apr 2022 22:55:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-27T22:55:52.2845250Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-8b43b385-b1e9-dccf-31c7-d8f77de56edf/test-blob-1018b78f-f055-ced6-5786-a9fa91cef45a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA28A1145D3642\u0022",
        "x-ms-date": "Wed, 27 Apr 2022 22:55:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "u8QS0cNwLm31hB1vN0o/E3rVnvACa84/RYEzuX11P0xXQ8jYC3s/6F11Do0GZjRSeYfNqoIyNFD20otCPHXvgETQGPOCZwj/lbWSjVxAON9M4D/2p5XKJA544Tjw/Kvoho5INU5A0BJ/zRTMn6f0tZms9Vw2\u002BNivBfPlCYbPD5kKqgfO9wOQDBAtd9mA/oVnhCueQwZPsY21mS9bW8aMr757wfSgJb6WG\u002BlMCYH\u002BLgdtfYVaMMuSuvh5GF3TNbFJoMgbBTyQx15tCCgdA6gMt2so7d1BMX7y6Af7JgxgwuY3Ami44yjK3bYm7CijdbdQbWHyq0fTB[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-8b43b385-b1e9-dccf-31c7-d8f77de56edf/test-blob-1018b78f-f055-ced6-5786-a9fa91cef45a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Apr 2022 22:55:52 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "V106P4KEyV4ZMRr4n/EfDg==",
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA28A1149972A3\u0022",
        "Last-Modified": "Wed, 27 Apr 2022 22:55:52 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Apr 2022 22:55:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
  [...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-8b43b385-b1e9-dccf-31c7-d8f77de56edf?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Apr 2022 22:55:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "94416229",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
