{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-3bbc21a3-a8a6-5076-474a-6dc3e71febde?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:56:43 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA321791817404\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:43 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-3bbc21a3-a8a6-5076-474a-6dc3e71febde/test-blob-bdced949-508d-6f5a-8e70-2ec1653b47e0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 09 May 2022 23:56:43 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32179191C4B3\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:56:43.4232499Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-3bbc21a3-a8a6-5076-474a-6dc3e71febde/test-blob-bdced949-508d-6f5a-8e70-2ec1653b47e0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:56:43 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32179191C4B3\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:43 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 09 May 2022 23:56:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:56:43.4232499Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-3bbc21a3-a8a6-5076-474a-6dc3e71febde/test-blob-bdced949-508d-6f5a-8e70-2ec1653b47e0?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA32179191C4B3\u0022",
        "x-ms-date": "Mon, 09 May 2022 23:56:43 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "mylcDyJMzhIvwFJXlTQwAIFRxlAGlmQ8/raVjYLmk4QzJqX26rn4sMgFJbnn\u002B3hsbQ6JF57K5gXFHxBst0CQSC3OJG\u002BPORXIWBWHAHGrVAM9KB9zXXvlaD\u002BgMcqojPmIddyLGdcJ3TT5wL6JQ\u002BWTGcsNLo4hHOqx6Lsv7ghKIMwb/4qUHzsrNEvrep29XCVaDBf/ml1rZ1ny2TAb2u4sr6DxbUNa//qP4fpCNaJN9IyV1OHwSoVvsJgxoUULEFlcv8r9y\u002B7i/w0dcLhiKDG3pOWjhQUMO2Uagr2rKV20g9Gh5nbXUCmes9TU0tnNDId[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-3bbc21a3-a8a6-5076-474a-6dc3e71febde/test-blob-bdced949-508d-6f5a-8e70-2ec1653b47e0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:56:43 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA321791AFF6BF\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:43 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "etSpn57rwz0=",
        "x-ms-creation-time": "Mon, 09 May 2022 23:56:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:56:43.4232499Z"
      },
      "ResponseBody": "mylcDyJMzhIvwFJXlTQwAIFRxlAGlmQ8/raVjYLmk4QzJqX26rn4sMgFJbnn\u002B3hsbQ6JF57K5gXFHxBst0CQSC3OJG\u002BPORXIWBWHAHGrVAM9KB9zXXvlaD\u002BgMcqojPmIddyLGdcJ3TT5wL6JQ\u002BWTGcsNLo4hHOqx6Lsv7ghKIMwb/4qUHzsrNEvrep29XCVaDBf/ml1rZ1ny2TAb2u4sr6DxbUNa//qP4fpCNaJN9IyV1OHwSoVvsJgxoUULEFlcv8r9y\u002B7i/w0dcLhiKDG3pOWjhQUMO2Uagr2rKV20g9Gh5nbXUCmes9TU0tnNDIdnev1gaIpUUINl40gwNtavae3nwUK631S7BNEwN2iLTHU1RK9gUxtHTJbycW3gbXz\u002BJWns5ktFrJqopGO4JBga2pbT\u002BvInThXRn3Ssx23n25dUMhL/nmYq8JcUuK64jih\u002B2JfWDXKK1tZTG0bWmeQswMnMY/EFGzsvqApbEpZnGRFMLe/WEM0kyls8q4MgVFaz6Pfl7Cs2eLxcp2RoLsQ/7AE1iWv0Vq/7p5iWyW\u002B3DlSzpymegi3lFbUyemlovJuW/L\u002BB68rrvpJI6USSn69NpJkQtIeaoWrUT3O2wdxGk\u002Bv8AM2wNiKJyOiXVpjoU3UF5dbQWAcU\u002B1pUrJxWNP22AVZZlp/inW12h\u002BueAkrR7Pw="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-3bbc21a3-a8a6-5076-474a-6dc3e71febde?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:56:44 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1852608342",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
