{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bc2b1fae-e4df-a615-7c45-71effeec6b5f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:56:53 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA321797875650\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:53 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bc2b1fae-e4df-a615-7c45-71effeec6b5f/test-blob-0fd0e6fb-973f-335d-9c53-e772cfee7760",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 09 May 2022 23:56:53 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA321797960A0A\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:56:53.5175690Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bc2b1fae-e4df-a615-7c45-71effeec6b5f/test-blob-0fd0e6fb-973f-335d-9c53-e772cfee7760",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:56:53 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA321797960A0A\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:53 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 09 May 2022 23:56:53 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:56:53.5175690Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bc2b1fae-e4df-a615-7c45-71effeec6b5f/test-blob-0fd0e6fb-973f-335d-9c53-e772cfee7760?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA321797960A0A\u0022",
        "x-ms-date": "Mon, 09 May 2022 23:56:53 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "eurSwCozmO6AIQrL3sB8ltWs8TTHKRBFWeCVx8V0WdwNbdo/E6\u002BayTI2wS1IB6QI8mRWBOTR0FDZjWdJndApDMguvXDlPIMlEigBkWji/VE7jdRgHlT3O52KZoZIUCthDbVlGkk0IrbhMPK80D7o948VDhD8yO1zNoHTWtb93cH8oISyfOMIB2oefu5iO2teom72M0IbZUTH8uPIYMff41Iwvy\u002B5NXqsDQal3Un/EPoVdLhnB6p\u002B4TpA64r/P6aiPpubMXw8pW30SSY8dYj6x\u002BHosuwPeNyost70eUrvrc1fA56uZN5\u002B2c5Kcr6EQmu[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bc2b1fae-e4df-a615-7c45-71effeec6b5f/test-blob-0fd0e6fb-973f-335d-9c53-e772cfee7760",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:56:54 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA321797B32AC3\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:56:53 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "Rp2KoP/22jo=",
        "x-ms-creation-time": "Mon, 09 May 2022 23:56:53 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:56:53.5175690Z"
      },
      "ResponseBody": "eurSwCozmO6AIQrL3sB8ltWs8TTHKRBFWeCVx8V0WdwNbdo/E6\u002BayTI2wS1IB6QI8mRWBOTR0FDZjWdJndApDMguvXDlPIMlEigBkWji/VE7jdRgHlT3O52KZ[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bc2b1fae-e4df-a615-7c45-71effeec6b5f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:56:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "129255159",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
