{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-77e1e1e0-8e50-005e-b82b-bff3aaceba1b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 00:01:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA321838E6C4DB\u0022",
        "Last-Modified": "Tue, 10 May 2022 00:01:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-77e1e1e0-8e50-005e-b82b-bff3aaceba1b/test-blob-850c68c9-4ce2-6283-ac8d-14befceab597",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 10 May 2022 00:01:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA321838F809B3\u0022",
        "Last-Modified": "Tue, 10 May 2022 00:01:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T00:01:24.2729907Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-77e1e1e0-8e50-005e-b82b-bff3aaceba1b/test-blob-850c68c9-4ce2-6283-ac8d-14befceab597",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 00:01:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA321838F809B3\u0022",
        "Last-Modified": "Tue, 10 May 2022 00:01:24 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 00:01:24 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T00:01:24.2729907Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-77e1e1e0-8e50-005e-b82b-bff3aaceba1b/test-blob-850c68c9-4ce2-6283-ac8d-14befceab597?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA321838F809B3\u0022",
        "x-ms-date": "Tue, 10 May 2022 00:01:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "69\u002B4AsmoGFnEZAZzNrDmO99sOLG26/yeEVSxz1OUUFbzfsM6xEmJEuC9CbqFQluLbPeowOI5I//iGfF19kkGLxSvgLfsq3eV4iXQ\u002BOJBGc74JmJb7I90uVvEWKpYFBuXttmm1sKjn8B/Et68aSocof8ifNDmq0OEOsZcJ1PMPM0JOUEJmkMMVYai29mxuFAwqLarNphKsAuVIpv7Rndss9UQsjDpEwa8FSdJRM9q04J1LH\u002BdIQY1vog1c3ioEQ4PNSgDoAUgR5Sv7iFwAWw7K08YhRr3z5HP2/Ons6COFAQYOg6nZjJ8VeXr7TPlxL0c\u002Bkcp[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-77e1e1e0-8e50-005e-b82b-bff3aaceba1b/test-blob-850c68c9-4ce2-6283-ac8d-14befceab597",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 00:01:24 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA321839174D01\u0022",
        "Last-Modified": "Tue, 10 May 2022 00:01:24 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 00:01:24 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
  [...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-77e1e1e0-8e50-005e-b82b-bff3aaceba1b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 00:01:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1884687738",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
