{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-4af4032b-6006-6dc6-f02d-7b46a69e33f0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 24 Feb 2022 00:46:47 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F72F23766558\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:46:48 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-4af4032b-6006-6dc6-f02d-7b46a69e33f0/test-blob-11d35a27-d3b9-3a65-4396-2b427f50b619",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 24 Feb 2022 00:46:48 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F72F237FF379\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:46:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2022-02-24T00:46:48.0747385Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-4af4032b-6006-6dc6-f02d-7b46a69e33f0/test-blob-11d35a27-d3b9-3a65-4396-2b427f50b619",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:46:48 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9F72F237FF379\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:46:48 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 24 Feb 2022 00:46:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2022-02-24T00:46:48.0747385Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-4af4032b-6006-6dc6-f02d-7b46a69e33f0/test-blob-11d35a27-d3b9-3a65-4396-2b427f50b619?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9F72F237FF379\u0022",
        "x-ms-date": "Thu, 24 Feb 2022 00:46:48 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "VGuAI5TjEoMgSawIdLxBiHv9Q9fjq5aF1sm5IEff8Yhl27XA5o3oH7s3ZxCZjnuoztiIu9HALajU\u002Bk3LKfI7QFckopgHgKHtFCQbq0SG7EdNEFJuVza3pK4M7OtAHfbJ/Ce4dezioU02mqatpYJkTQ4FfhigzOkhbP3q\u002BpS1rfctUq8dznZbam4EOL2PCv8sp57dO5/dKS89lwju\u002BKe5gO2uf1PSR3\u002BYqROqm5QskWL9vlL12HJYUCiA3zdtbXHHS7fQ4IusWWAeRJGLMo2aEQWm8DpVw6d6Vi4qUmdIKjyh4lDcXLHWUWXx1pPgzR2b5c0y[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-4af4032b-6006-6dc6-f02d-7b46a69e33f0/test-blob-11d35a27-d3b9-3a65-4396-2b427f50b619",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:46:48 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9F72F2391F235\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:46:48 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "AWCvCuvJ93k=",
        "x-ms-creation-time": "Thu, 24 Feb 2022 00:46:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2022-02-24T00:46:48.0747385Z"
      },
      "ResponseBody": "VGuAI5TjEoMgSawIdLxBiHv9Q9fjq5aF1sm5IEff8Yhl27XA5o3oH7s3ZxCZjnuoztiIu9HALajU\u002Bk3LKfI7QFckopgHgKHtFCQbq0SG7EdNEFJuVza3pK4M7[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-4af4032b-6006-6dc6-f02d-7b46a69e33f0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:46:48 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1759596905",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}