{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-43483268-73f6-51f9-f8ff-08304e509026?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 04 May 2022 22:47:53 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E202047C149\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:47:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-43483268-73f6-51f9-f8ff-08304e509026/test-blob-986ffda2-40f4-bf71-42b7-26d71de682c4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 04 May 2022 22:47:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E20206FE58D\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:47:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-04T22:47:54.4381837Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-43483268-73f6-51f9-f8ff-08304e509026/test-blob-986ffda2-40f4-bf71-42b7-26d71de682c4?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "EGQUud1BW2M=",
        "x-ms-date": "Wed, 04 May 2022 22:47:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "8lMrFAnBwsgd9feud5c\u002BAXUSe6X1JYyVnYpmtmBYSq7DEm\u002B/y3Xs9OeSTKQVHY//5j5H9SLf8s3HlXd\u002BWgtnxapJ62UnfzX/Joa9Y9nngID6Z9AiEFSL4x\u002Bi9zb\u002BbZrbKof6zDEq12cIR8\u002BbIo7z4BX2hPI7RbRVvQhFhYf/Abjs4jlS7bNOz49pGcmF78GQrhcgB\u002Bmnn\u002BTSpA4p5VLfCEYXrj9VofJhqLRj0izr0M1GtNZw3vnPRUJUf0ilJOo9ihCDbkCBOw0kv180Q82459RA4zB7bypMR2n9ASKqu4PKJUgbaGKMxXnJSx6amwF0m[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-43483268-73f6-51f9-f8ff-08304e509026?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 May 2022 22:47:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "793328520",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
