{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-fbc7c204-edee-2f84-da16-940a10358d24?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 11 Mar 2022 22:05:02 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA03AB303EC293\u0022",
        "Last-Modified": "Fri, 11 Mar 2022 22:05:01 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-fbc7c204-edee-2f84-da16-940a10358d24/test-blob-7c1b68e4-53b7-02ab-b6e5-10d3a61569ca",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 11 Mar 2022 22:05:02 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA03AB304995E3\u0022",
        "Last-Modified": "Fri, 11 Mar 2022 22:05:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-03-11T22:05:01.0766307Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-fbc7c204-edee-2f84-da16-940a10358d24/test-blob-7c1b68e4-53b7-02ab-b6e5-10d3a61569ca?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "VdcG\u002BwhQpIk1PuAXsPRtgQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 11 Mar 2022 22:05:02 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "I0O4YoSzMIdgQlutFZooL6jPFPnX5XueDXBdaTmH/miCrsbD8gw/QebWR2bqS4/LoBMztyLEUT3IGlQUVcZN2UTzKmbUZD2cj9MSAZ4Us8LgksglU0dFvlyI\u002B9e3K\u002BsfiG4i9iAo9zzWlidPslCfs2aSM8P9KIX9rWwKS2hl5GTn8nkv8ryit5qMT70g9gsM6UhxJfcoIV/oJEmzHqzUcLHCZ7/Wb8Cp73spcdjI3bZg/WIf9L9sv9AZR81z75jut98LXY9MNXmHxzV7/rCHIEeTUiFJtHvyVajuvCjyNv/jO7n5vX8nFMfomCyK8cAgkieG4J13pANjGAfnXXl[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-fbc7c204-edee-2f84-da16-940a10358d24?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Mar 2022 22:05:02 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "68912065",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
