{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-486f432c-d292-575b-79ff-3718e9cee493?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 04 May 2022 22:06:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E1A6661ED79\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:06:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-486f432c-d292-575b-79ff-3718e9cee493/test-blob-82499751-2a1c-dd48-baee-abe72bafd057",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 04 May 2022 22:06:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E1A66716790\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:06:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-04T22:06:54.9082000Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-486f432c-d292-575b-79ff-3718e9cee493/test-blob-82499751-2a1c-dd48-baee-abe72bafd057?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 04 May 2022 22:06:55 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "HY\u002BK3kMH0yx84dgQ\u002Bxq8NU9ECx\u002B1kS/MpeFj92SM9DTBiCIMudGvBvXt1oNiW66UrmXrVDChmYxgvjlho9zH8OykTnP4r3t9lAQpyLqsakozzkj/oKADH\u002B6Vq/uYTmIZJeaWvQw6nP7pbr8rd9HRtFPvLdSUyFBLoC6EYgSA5EWiEKLUFaw9\u002BDJJFTHg2Kgcw/anqSGOhVyWSx3etTn6aYl5iWcu/Z\u002BnsjSiSrMeasiGaJ4N2DskFItGPsmPX0P4TquoZ05A7cZXAPft6zqoeOBUV02a7ZFOVXXb6L7VGFPxqfwIdQN5RXvYtddENih[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-486f432c-d292-575b-79ff-3718e9cee493?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 May 2022 22:06:55 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1928673712",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
