{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-5bbdfbe0-c776-cbc5-e84a-9bde2d144aa3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 04 May 2022 22:06:57 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E1A68316120\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:06:57 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-5bbdfbe0-c776-cbc5-e84a-9bde2d144aa3/test-blob-7741ce4d-cb75-c377-8c92-41c5386ef4e0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 04 May 2022 22:06:58 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E1A68408C97\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:06:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-04T22:06:57.9434647Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-5bbdfbe0-c776-cbc5-e84a-9bde2d144aa3/test-blob-7741ce4d-cb75-c377-8c92-41c5386ef4e0?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "IOlSGQrYTZLjfYFCfRbJdQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 04 May 2022 22:06:58 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "ZdtHzojrv\u002BUVqFkJBgF4EjkfucENKfb4k/bazbm7\u002Bu/vpV54jkHzOawhDAS5w2aZLi7w\u002B1m8DjzkTjuSEfIrWa5pGmGiAIT4K38U7BzyP8\u002BQQJ6Kyv6WM5Yhk0AGYSi69bJWT6kF9i2q\u002BNDZpyIf8g9sAdBToI\u002Bv0ufKgG1D8clWWvZpnO8liklx4NIuvIt0AqExml9YZ1UjpnzBO3bAZgYGg00stlUfRneG4sC9gBZbVn7LEldp/vKhRfVzZE/TsHnLKDk\u002BSEtLEVPo0YSUZiZmZeT39VOunIVainBgq\u002BInsjJH8VjcH[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-5bbdfbe0-c776-cbc5-e84a-9bde2d144aa3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 May 2022 22:06:58 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1563456181",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
