{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-8015dabe-fc04-7b66-2525-7d2c959a0d64?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 04 May 2022 22:47:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E2020B20C12\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:47:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-8015dabe-fc04-7b66-2525-7d2c959a0d64/test-blob-4be7112d-8afd-df2c-4407-f56c283af6dc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 04 May 2022 22:47:55 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E2020C21836\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:47:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-04T22:47:54.9768758Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-8015dabe-fc04-7b66-2525-7d2c959a0d64/test-blob-4be7112d-8afd-df2c-4407-f56c283af6dc?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "iTSvICj3gmY=",
        "x-ms-date": "Wed, 04 May 2022 22:47:55 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "/dtPJoeD7XyWUXb\u002BOLTwAH\u002BijGk0Ztz1e6urCdGwFAt0SLOv1X9THD3oEDYHfZs6TnAUDXEoRpf/Warc1\u002BOr5T1qifAAQSr/T28rTFal7v4PcbtgnAeaTAEcr3vUd0RaPSr5nPOrOQxGFL0B/PpAWmuszGYoS0k20D3u45KuKtgr0Q8sq1EKZDevGYdJmE8G3FUQKKreMfHgw8u2vFV6l\u002Bnl1irrE64ZoWgueTHC7Djt6Ac9ngItTKAdTOiGVKfhNIGeZMElG8mm9odCr7i/HtaTydROPPnnt4mKzcfGk03ATESvI4h2x8w\u002Blqh7653nXS4R84rSk/iIt604[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-8015dabe-fc04-7b66-2525-7d2c959a0d64?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 May 2022 22:47:55 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1205561737",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
