{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8b25c476-b32a-32aa-f212-fd77ff46750d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 30 Mar 2022 00:23:23 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA11E3817D56CC\u0022",
        "Last-Modified": "Wed, 30 Mar 2022 00:23:25 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8b25c476-b32a-32aa-f212-fd77ff46750d/test-blob-987a0e63-9893-8c67-10b1-56cda8aa7e85",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 30 Mar 2022 00:23:23 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA11E381886004\u0022",
        "Last-Modified": "Wed, 30 Mar 2022 00:23:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-03-30T00:23:25.4793220Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8b25c476-b32a-32aa-f212-fd77ff46750d/test-blob-987a0e63-9893-8c67-10b1-56cda8aa7e85?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "3cVG31E6y\u002BNQJ7qmCTEJTQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 30 Mar 2022 00:23:23 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "PfSM7s4JrunjZFILThm3Ka4Kd13POEUXrIOj5CrSZS/F3FSHO3Ul9vONWWN/3ArOFThgUZL7uASudUFLZsm/Ef8iRXLEMO445YBqQt/hmNB41M/xcROdySRQ2MY02ZApzkhkXJaYCuVKKGwRkXUlzN1w0pH6zZ/rhXxNc1cnBAvwQHOWfTs638nppkmnjDiuKwvpwwb\u002BLwGpeNcaS5aOIyRhIFACjk6hNvPIECZVRPlDnkhLPkAE8hFy7QVkIJQyW4MlRmvorJ28R40TNh/aUzPe1qxOQuTjXC4/kKBJPBZelbSiL/6OW/Kqjvaz8Lzyl5rRhkno4xmfQuk8qBv9cwt3[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8b25c476-b32a-32aa-f212-fd77ff46750d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Mar 2022 00:23:23 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1812735863",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
