{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-69b89c12-3557-baf6-a0ba-2ba32a5e10c6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 11 Mar 2022 22:05:00 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA03AB2FB4E63F\u0022",
        "Last-Modified": "Fri, 11 Mar 2022 22:05:00 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-69b89c12-3557-baf6-a0ba-2ba32a5e10c6/test-blob-10baac86-1838-e032-8e3a-9a404c087ef2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 11 Mar 2022 22:05:01 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA03AB2FD2F09D\u0022",
        "Last-Modified": "Fri, 11 Mar 2022 22:05:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-03-11T22:05:00.2990749Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-69b89c12-3557-baf6-a0ba-2ba32a5e10c6/test-blob-10baac86-1838-e032-8e3a-9a404c087ef2?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "mSeJkU8pbOT4xb6tXDXkgQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 11 Mar 2022 22:05:01 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "Vvkr5ifMwAkT3ANhri7ES2/oJlheajD/Hqqiy5Iwss8gTXL8KmMcsBH1krlWbf2bqyvoQG992\u002BvILMh8KfR34iozQGG8yCELy3ZHadd2qLCsBiBmSHFgonKHM/2boIYcfrCPIyyc3\u002BMK3HT4NXITUoMXzyLUEJm40p3vNZQjcCvvK\u002Bon54WEECc9XGz8Z20Ac\u002BF6g9BjR20W11COralO52tJCQqH62r9k777l7Qtu2ow78GzqOxbi\u002BN8ERA09WN97nQAs15ieIh2fPARaLC56RvmXr3omz5/7X4mCtpayZ5bfqg/LAcMzXY5PCz8SSIzwyj0[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-69b89c12-3557-baf6-a0ba-2ba32a5e10c6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Mar 2022 22:05:01 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "733966138",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
