{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-2ccd687d-1150-4ada-e15d-4d4008ba1704?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 04 May 2022 22:07:04 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E1A6C0385FF\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:07:04 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-2ccd687d-1150-4ada-e15d-4d4008ba1704/test-blob-de62008a-220e-1b81-c0a5-c32b889d2d32",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 04 May 2022 22:07:04 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E1A6C163247\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:07:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-04T22:07:04.3767879Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-2ccd687d-1150-4ada-e15d-4d4008ba1704/test-blob-de62008a-220e-1b81-c0a5-c32b889d2d32?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "\u002B4/M7sYh9n4=",
        "x-ms-date": "Wed, 04 May 2022 22:07:04 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "evdwhNPLG\u002BjuJA34QGpTm3uEz9ozzWrzk2sYD88mHdy\u002BjPX/1V31pBKeW3SqkQpbSCnXB3O\u002BEa2MffFnswsYyAcwObN0VMYejirIlXL1SAJhvMamThVpAHtIcldrjfEHhZJteldW5vRjuHlI9nw7lzXvBvZEcnnyxzk4LOJusgA5wA/fiM2qC9bSQpWcIAn\u002BDdsifIf6whMZe7MeHbkR9AZ4DzVtXA9nRPsfcS/jVaYvOR8HSzZ5Pv78xQwajO0cwE6PIxHUkbDLuzeM2lDjNSUM7uSaCqnP/9A3cJYCTLgNArDhVDGUW6duO4/\u002B7GStGJDmDZ4Igra[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-2ccd687d-1150-4ada-e15d-4d4008ba1704?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 May 2022 22:07:04 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "825930186",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
