{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-861b4cef-9f88-70b2-25de-1173e8ca3465?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 04 May 2022 22:06:59 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E1A690CAD25\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:06:59 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-861b4cef-9f88-70b2-25de-1173e8ca3465/test-blob-70a8c87a-c47b-8292-f781-434e83bb8bb8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 04 May 2022 22:06:59 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E1A6920448F\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:06:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-04T22:06:59.4096271Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-861b4cef-9f88-70b2-25de-1173e8ca3465/test-blob-70a8c87a-c47b-8292-f781-434e83bb8bb8?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "87InHJ\u002BIQR6TW2Rfa2y9ZQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 04 May 2022 22:06:59 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "QT0d9\u002BBh3ARKBm418yMqAA4\u002B50kKY\u002B01mhoCqoKe\u002BrCgkE4IB9jyKsK6hnDNjdjPfmhT3IBoD95P6F3GXjGCrAy9lWPUIfk2S72HT9x8aAxBMisZSh4vN4FwuB97LMuQONpkD/h1\u002B11uHZDC4b8B0n9RhCwGaGHujl7hZGnaux/y9hcCGFgUzDfOqyyNbFXBbuWfKaefitB4doGZk5bzk2Jx0Ouo/7onPLj0N7w0YCEIIPaEO5F3U2xGiaLXejih2hfJHJxqGG8qeO3vqlITQxVfkXKgb1jR\u002BXx/YXUXT8J/U12la0OEngiGWcOjh6g[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-861b4cef-9f88-70b2-25de-1173e8ca3465?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 May 2022 22:06:59 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1324649078",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
