{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7d3db082-e042-8928-cddd-d719e1562b6f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 30 Mar 2022 00:23:15 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA11E37CBEF849\u0022",
        "Last-Modified": "Wed, 30 Mar 2022 00:23:17 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7d3db082-e042-8928-cddd-d719e1562b6f/test-blob-79428bb4-dfbd-ac05-86da-606f5a377ca6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 30 Mar 2022 00:23:15 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA11E37CCC24F2\u0022",
        "Last-Modified": "Wed, 30 Mar 2022 00:23:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-03-30T00:23:17.5348466Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7d3db082-e042-8928-cddd-d719e1562b6f/test-blob-79428bb4-dfbd-ac05-86da-606f5a377ca6?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "22Lc5oZd\u002BhyK2ukwiaYjSQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 30 Mar 2022 00:23:15 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "HVAvJwVSIzGRdB/NPJIpomYVT4NrU3XNz\u002B1IT6MTheVI73kP\u002B1C8dzq6R4SbrnO\u002BkwukLiioScnaYlgYCtSOfe86hEwZGaYVWNhJsAzwMSB5ibyYbla8n6avNZn4pG1mLMmVYSonpXlkj9VQX5i96TA3noAX9Q\u002BYfeWmaeMNHbRr4oRCW9D1UuRCM9\u002BBaz8O8kxowAXsTja6/ONFgDuWVnEg5X0Teo1gQkyb1cIvFxKlmHaXpV2ufpROiF7ssNGprN1uYIbC\u002Bni\u002BB365UXh0iuXRoOjE/7ATcmbpxfEvdJF68inkwbaL4p3\u0[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7d3db082-e042-8928-cddd-d719e1562b6f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Mar 2022 00:23:15 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2138028641",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
