{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.workspace.discovery.azure.com/tools/projects/test-project:run?api-version=2026-02-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "toolId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-rg/providers/Microsoft.Discovery/tools/testtool",
        "nodePoolIds": [
          "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-rg/providers/Microsoft.Discovery/supercomputers/test-sc/nodePools/nodepool1"
        ],
        "command": "echo \"cancel test\" && sleep 300"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://test-wkspc.workspace.discovery.azure.com/tools/projects/test-project/operations/7d86188d531d4e998bd8c38c94acfca9",
        "mise-correlation-id": "Sanitized",
        "operation-location": "https://test-wkspc.workspace.discovery.azure.com/tools/projects/test-project/operations/7d86188d531d4e998bd8c38c94acfca9",
        "x-ms-build-version": "1"
      },
      "ResponseBody": {
        "id": "7d86188d531d4e998bd8c38c94acfca9",
        "status": "NotStarted",
        "error": null,
        "result": null
      }
    },
    {
      "RequestUri": "https://Sanitized.workspace.discovery.azure.com/tools/projects/test-project/operations/7d86188d531d4e998bd8c38c94acfca9:cancel?api-version=2026-02-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "mise-correlation-id": "Sanitized",
        "x-ms-build-version": "1"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_DISCOVERY_PROJECT_NAME": "test-project",
    "AZURE_DISCOVERY_WORKSPACE_ENDPOINT": "https://Sanitized.workspace.discovery.azure.com",
    "RandomSeed": "1813498546",
    "TOOL_ID": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-rg/providers/Microsoft.Discovery/tools/testtool",
    "TOOL_NODE_POOL_ID": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-rg/providers/Microsoft.Discovery/supercomputers/test-sc/nodePools/nodepool1"
  }
}
