{
  "Entries": [
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmc-dotnet-sdk-RG-54/providers/Microsoft.ServiceFabric/managedClusters/sfmcdotnetsdk5820?api-version=2020-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceGroupNotFound\",\r\n    \"message\": \"Resource group 'sfmc-dotnet-sdk-RG-54' could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmc-dotnet-sdk-RG-54/providers/Microsoft.ServiceFabric/managedClusters/sfmcdotnetsdk5820?api-version=2020-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/sfmc-dotnet-sdk-RG-54/providers/Microsoft.ServiceFabric/managedClusters/sfmcdotnetsdk5820\",\r\n  \"type\": \"Microsoft.ServiceFabric/managedclusters\",\r\n  \"location\": \"South Central US\",\r\n  \"name\": \"sfmcdotnetsdk5820\",\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  },\r\n  \"properties\": {\r\n    \"clusterId\": \"93005161-cb71-4a72-85d2-ffe624c0ea9b\",\r\n    \"clusterState\": \"WaitingForNodes\",\r\n    \"clusterUpgradeCadence\": \"Wave0\",\r\n    \"adminUserName\": \"vmadmin\",\r\n    \"dnsName\": \"sfmcdotnetsdk5820\",\r\n    \"clientConnectionPort\": 19000,\r\n    \"httpGatewayConnectionPort\": 19080,\r\n    \"clients\": [\r\n      {\r\n        \"isAdmin\": true,\r\n        \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n      }\r\n    ],\r\n    \"useTestExtension\": false,\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmc-dotnet-sdk-RG-54/providers/Microsoft.ServiceFabric/managedClusters/sfmcdotnetsdk5820?api-version=2020-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/sfmc-dotnet-sdk-RG-54/providers/Microsoft.ServiceFabric/managedClusters/sfmcdotnetsdk5820\",\r\n  \"type\": \"Microsoft.ServiceFabric/managedclusters\",\r\n  \"location\": \"South Central US\",\r\n  \"name\": \"sfmcdotnetsdk5820\",\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  },\r\n  \"properties\": {\r\n    \"clusterId\": \"93005161-cb71-4a72-85d2-ffe624c0ea9b\",\r\n    \"clusterState\": \"WaitingForNodes\",\r\n    \"clusterUpgradeCadence\": \"Wave0\",\r\n    \"adminUserName\": \"vmadmin\",\r\n    \"dnsName\": \"sfmcdotnetsdk5820\",\r\n    \"fqdn\": \"sfmcdotnetsdk5820.southcentralus.cloudapp.azure.com\",\r\n    \"clusterCertificateThumbprint\": \"966D46D19443EEAD69FEA8CCD8A0DC310930BF91\",\r\n    \"clientConnectionPort\": 19000,\r\n    \"httpGatewayConnectionPort\": 19080,\r\n    \"clients\": [\r\n      {\r\n        \"isAdmin\": true,\r\n        \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n      }\r\n    ],\r\n    \"useTestExtension\": false,\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/sfmc-dotnet-sdk-RG-54?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"South Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmc-dotnet-sdk-RG-54\",\r\n  \"name\": \"sfmc-dotnet-sdk-RG-54\",\r\n  \"location\": \"southcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmc-dotnet-sdk-RG-54/providers/Microsoft.ServiceFabric/managedClusters/sfmcdotnetsdk5820?api-version=2020-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"dnsName\": \"sfmcdotnetsdk5820\",\r\n    \"clientConnectionPort\": 19000,\r\n    \"httpGatewayConnectionPort\": 19080,\r\n    \"adminUserName\": \"vmadmin\",\r\n    \"adminPassword\": \"Password123!@#\",\r\n    \"clients\": [\r\n      {\r\n        \"isAdmin\": true,\r\n        \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n      }\r\n    ]\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  },\r\n  \"location\": \"South Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmc-dotnet-sdk-RG-54/providers/Microsoft.ServiceFabric/managedClusters/sfmcdotnetsdk5820/nodeTypes/pnt5604?api-version=2020-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"isPrimary\": true,\r\n    \"vmInstanceCount\": 5,\r\n    \"dataDiskSizeGB\": 100,\r\n    \"vmSize\": \"Standard_D2\",\r\n    \"vmImagePublisher\": \"MicrosoftWindowsServer\",\r\n    \"vmImageOffer\": \"WindowsServer\",\r\n    \"vmImageSku\": \"2019-Datacenter\",\r\n    \"vmImageVersion\": \"latest\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/sfmc-dotnet-sdk-RG-54/providers/Microsoft.ServiceFabric/managedClusters/sfmcdotnetsdk5820/nodetypes/pnt5604\",\r\n  \"type\": \"Microsoft.ServiceFabric/managedclusters/nodetypes\",\r\n  \"location\": \"South Central US\",\r\n  \"name\": \"pnt5604\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"isPrimary\": true,\r\n    \"vmImagePublisher\": \"MicrosoftWindowsServer\",\r\n    \"vmImageOffer\": \"WindowsServer\",\r\n    \"vmImageSku\": \"2019-Datacenter\",\r\n    \"vmImageVersion\": \"latest\",\r\n    \"vmSize\": \"Standard_D2\",\r\n    \"vmInstanceCount\": 5,\r\n    \"dataDiskSizeGB\": 100\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmc-dotnet-sdk-RG-54/providers/Microsoft.ServiceFabric/managedClusters/sfmcdotnetsdk5820/nodeTypes/pnt5604?api-version=2020-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"isPrimary\": true,\r\n    \"vmInstanceCount\": 6,\r\n    \"dataDiskSizeGB\": 100,\r\n    \"vmSize\": \"Standard_D2\",\r\n    \"vmImagePublisher\": \"MicrosoftWindowsServer\",\r\n    \"vmImageOffer\": \"WindowsServer\",\r\n    \"vmImageSku\": \"2019-Datacenter\",\r\n    \"vmImageVersion\": \"latest\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperationresults/f4a40001-ac99-4312-a306-67d621a27b35?api-version=2020-01-01-preview&Experiment=local"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/sfmc-dotnet-sdk-RG-54/providers/Microsoft.ServiceFabric/managedClusters/sfmcdotnetsdk5820/nodetypes/pnt5604\",\r\n  \"type\": \"Microsoft.ServiceFabric/managedclusters/nodetypes\",\r\n  \"location\": \"South Central US\",\r\n  \"name\": \"pnt5604\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"isPrimary\": true,\r\n    \"vmImagePublisher\": \"MicrosoftWindowsServer\",\r\n    \"vmImageOffer\": \"WindowsServer\",\r\n    \"vmImageSku\": \"2019-Datacenter\",\r\n    \"vmImageVersion\": \"latest\",\r\n    \"vmSize\": \"Standard_D2\",\r\n    \"vmInstanceCount\": 6,\r\n    \"dataDiskSizeGB\": 100\r\n  }\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/sfmc-dotnet-sdk-RG-54/providers/Microsoft.ServiceFabric/managedClusters/sfmcdotnetsdk5820/nodeTypes?api-version=2020-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11984"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/sfmc-dotnet-sdk-RG-54/providers/Microsoft.ServiceFabric/managedClusters/sfmcdotnetsdk5820/nodetypes/pnt5604\",\r\n      \"type\": \"Microsoft.ServiceFabric/managedclusters/nodetypes\",\r\n      \"location\": \"South Central US\",\r\n      \"name\": \"pnt5604\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"isPrimary\": true,\r\n        \"vmImagePublisher\": \"MicrosoftWindowsServer\",\r\n        \"vmImageOffer\": \"WindowsServer\",\r\n        \"vmImageSku\": \"2019-Datacenter\",\r\n        \"vmImageVersion\": \"latest\",\r\n        \"vmSize\": \"Standard_D2\",\r\n        \"vmInstanceCount\": 5,\r\n        \"dataDiskSizeGB\": 100\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperationresults/f4a40001-ac99-4312-a306-67d621a27b35?api-version=2020-01-01-preview&Experiment=local",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperationresults/f4a40001-ac99-4312-a306-67d621a27b35?api-version=2020-01-01-preview&Experiment=local"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11983"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperationresults/f4a40001-ac99-4312-a306-67d621a27b35?api-version=2020-01-01-preview&Experiment=local",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11934"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"Properties\": {\r\n    \"ProvisioningState\": \"Succeeded\",\r\n    \"IsPrimary\": true,\r\n    \"VmImagePublisher\": \"MicrosoftWindowsServer\",\r\n    \"VmImageOffer\": \"WindowsServer\",\r\n    \"VmImageSku\": \"2019-Datacenter\",\r\n    \"VmImageVersion\": \"latest\",\r\n    \"VmSize\": \"Standard_D2\",\r\n    \"VmInstanceCount\": 6,\r\n    \"DataDiskSizeGB\": 100,\r\n    \"PlacementProperties\": null,\r\n    \"Capacities\": null,\r\n    \"VmSecrets\": null,\r\n    \"VmExtensions\": null\r\n  },\r\n  \"Id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/sfmc-dotnet-sdk-RG-54/providers/Microsoft.ServiceFabric/managedClusters/sfmcdotnetsdk5820/nodetypes/pnt5604\",\r\n  \"Type\": \"Microsoft.ServiceFabric/managedclusters/nodetypes\",\r\n  \"Location\": \"South Central US\",\r\n  \"Name\": \"pnt5604\",\r\n  \"Tags\": null\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmc-dotnet-sdk-RG-54/providers/Microsoft.ServiceFabric/managedClusters/sfmcdotnetsdk5820/nodeTypes/snt8728?api-version=2020-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"isPrimary\": false,\r\n    \"vmInstanceCount\": 5,\r\n    \"dataDiskSizeGB\": 100,\r\n    \"vmSize\": \"Standard_D2\",\r\n    \"vmImagePublisher\": \"MicrosoftWindowsServer\",\r\n[...]
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperationresults/6bc20001-5dad-4bbd-a0f5-89ce89b44b1d?api-version=2020-01-01-preview&Experiment=local",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11875"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {
    "CrudNodeTypeTest": [
      "sfmc-dotnet-sdk-RG-54",
      "sfmcdotnetsdk5820",
      "pnt5604",
      "snt8728"
    ]
  },
  "Variables": {
    "SubscriptionId": "b36cdf46-b75d-4dc2-9fe1-1296ee8c623d"
  }
}