{
  "Entries": [
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmc-dotnet-sdk-RG-9705/providers/Microsoft.ServiceFabric/managedClusters/sfmcdotnetsdk1734?api-version=2020-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceGroupNotFound\",\r\n    \"message\": \"Resource group 'sfmc-dotnet-sdk-RG-9705' could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmc-dotnet-sdk-RG-9705/providers/Microsoft.ServiceFabric/managedClusters/sfmcdotnetsdk1734?api-version=2020-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/sfmc-dotnet-sdk-RG-9705/providers/Microsoft.ServiceFabric/managedClusters/sfmcdotnetsdk1734\",\r\n  \"type\": \"Microsoft.ServiceFabric/managedclusters\",\r\n  \"location\": \"South Central US\",\r\n  \"name\": \"sfmcdotnetsdk1734\",\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  },\r\n  \"properties\": {\r\n    \"clusterId\": \"5e5e88dd-d004-4cff-b824-4cd34bc0e0a0\",\r\n    \"clusterState\": \"WaitingForNodes\",\r\n    \"clusterUpgradeCadence\": \"Wave0\",\r\n    \"adminUserName\": \"vmadmin\",\r\n    \"dnsName\": \"sfmcdotnetsdk1734\",\r\n    \"clientConnectionPort\": 19000,\r\n    \"httpGatewayConnectionPort\": 19080,\r\n    \"clients\": [\r\n      {\r\n        \"isAdmin\": true,\r\n        \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n      }\r\n    ],\r\n    \"useTestExtension\": false,\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmc-dotnet-sdk-RG-9705/providers/Microsoft.ServiceFabric/managedClusters/sfmcdotnetsdk1734?api-version=2020-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/sfmc-dotnet-sdk-RG-9705/providers/Microsoft.ServiceFabric/managedClusters/sfmcdotnetsdk1734\",\r\n  \"type\": \"Microsoft.ServiceFabric/managedclusters\",\r\n  \"location\": \"South Central US\",\r\n  \"name\": \"sfmcdotnetsdk1734\",\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  },\r\n  \"properties\": {\r\n    \"clusterId\": \"5e5e88dd-d004-4cff-b824-4cd34bc0e0a0\",\r\n    \"clusterState\": \"WaitingForNodes\",\r\n    \"clusterUpgradeCadence\": \"Wave0\",\r\n    \"adminUserName\": \"vmadmin\",\r\n    \"dnsName\": \"sfmcdotnetsdk1734\",\r\n    \"clusterCertificateThumbprint\": \"CCCA327B05B24A36005BF9762A89EAB9A15784AA\",\r\n    \"clientConnectionPort\": 19000,\r\n    \"httpGatewayConnectionPort\": 19080,\r\n    \"clients\": [\r\n      {\r\n        \"isAdmin\": true,\r\n        \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n      }\r\n    ],\r\n    \"useTestExtension\": false,\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmc-dotnet-sdk-RG-9705/providers/Microsoft.ServiceFabric/managedClusters/sfmcdotnetsdk1734?api-version=2020-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/sfmc-dotnet-sdk-RG-9705/providers/Microsoft.ServiceFabric/managedClusters/sfmcdotnetsdk1734\",\r\n  \"type\": \"Microsoft.ServiceFabric/managedclusters\",\r\n  \"location\": \"South Central US\",\r\n  \"name\": \"sfmcdotnetsdk1734\",\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  },\r\n  \"properties\": {\r\n    \"clusterId\": \"5e5e88dd-d004-4cff-b824-4cd34bc0e0a0\",\r\n    \"clusterState\": \"WaitingForNodes\",\r\n    \"clusterUpgradeCadence\": \"Wave0\",\r\n    \"adminUserName\": \"vmadmin\",\r\n    \"dnsName\": \"sfmcdotnetsdk1734\",\r\n    \"fqdn\": \"sfmcdotnetsdk1734.southcentralus.cloudapp.azure.com\",\r\n    \"clusterCertificateThumbprint\": \"CCCA327B05B24A36005BF9762A89EAB9A15784AA\",\r\n    \"clientConnectionPort\": 19000,\r\n    \"httpGatewayConnectionPort\": 19080,\r\n    \"clients\": [\r\n      {\r\n        \"isAdmin\": true,\r\n        \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n      }\r\n    ],\r\n    \"useTestExtension\": false,\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/sfmc-dotnet-sdk-RG-9705?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"South Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmc-dotnet-sdk-RG-9705\",\r\n  \"name\": \"sfmc-dotnet-sdk-RG-9705\",\r\n  \"location\": \"southcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmc-dotnet-sdk-RG-9705/providers/Microsoft.ServiceFabric/managedClusters/sfmcdotnetsdk1734?api-version=2020-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"dnsName\": \"sfmcdotnetsdk1734\",\r\n    \"clientConnectionPort\": 19000,\r\n    \"httpGatewayConnectionPort\": 19080,\r\n    \"adminUserName\": \"vmadmin\",\r\n    \"adminPassword\": \"Password123!@#\",\r\n    \"clients\": [\r\n      {\r\n        \"isAdmin\": true,\r\n        \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n      }\r\n    ]\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  },\r\n  \"location\": \"South Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
 [...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmc-dotnet-sdk-RG-9705/providers/Microsoft.ServiceFabric/managedClusters/sfmcdotnetsdk1734/nodeTypes/nt502?api-version=2020-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"isPrimary\": true,\r\n    \"vmInstanceCount\": 7,\r\n    \"dataDiskSizeGB\": 100,\r\n    \"vmSize\": \"Standard_D2\",\r\n    \"vmImagePublisher\": \"MicrosoftWindowsServer\",\r\n    \"vmImageOffer\": \"WindowsServer\",\r\n    \"vmImageSku\": \"2019-Datacenter\",\r\n    \"vmImageVersion\": \"latest\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/sfmc-dotnet-sdk-RG-9705/providers/Microsoft.ServiceFabric/managedClusters/sfmcdotnetsdk1734/nodetypes/nt502\",\r\n  \"type\": \"Microsoft.ServiceFabric/managedclusters/nodetypes\",\r\n  \"location\": \"South Central US\",\r\n  \"name\": \"nt502\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"isPrimary\": true,\r\n    \"vmImagePublisher\": \"MicrosoftWindowsServer\",\r\n    \"vmImageOffer\": \"WindowsServer\",\r\n    \"vmImageSku\": \"2019-Datacenter\",\r\n    \"vmImageVersion\": \"latest\",\r\n    \"vmSize\": \"Standard_D2\",\r\n    \"vmInstanceCount\": 7,\r\n    \"dataDiskSizeGB\": 100\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmc-dotnet-sdk-RG-9705/providers/Microsoft.ServiceFabric/managedClusters/sfmcdotnetsdk1734/nodeTypes/nt502/restart?api-version=2020-01-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"nodes\": [\r\n    \"nt502_3\",\r\n    \"nt502_4\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperationresults/97430000-3aff-4947-b11f-50c99fc6c4f9?api-version=2020-01-01-preview&Experiment=local"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperations/97430000-3aff-4947-b11f-50c99fc6c4f9?api-version=2020-01-01-preview&Experiment=local"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperations/97430000-3aff-4947-b11f-50c99fc6c4f9?api-version=2020-01-01-preview&Experiment=local",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11982"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"97430000-3aff-4947-b11f-50c99fc6c4f9\",\r\n  \"startTime\": \"2020-07-30T15:47:25.2360064Z\",\r\n  \"endTime\": \"0001-01-01T00:00:00\",\r\n  \"percentComplete\": 0.0,\r\n  \"status\": \"Created\",\r\n  \"error\": {\r\n    \"code\": \"OperationFailed\",\r\n    \"message\": \"\",\r\n    \"details\": []\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperationresults/97430000-3aff-4947-b11f-50c99fc6c4f9?api-version=2020-01-01-preview&Experiment=local",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11955"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmc-dotnet-sdk-RG-9705/providers/Microsoft.ServiceFabric/managedClusters/sfmcdotnetsdk1734/nodeTypes/nt502/deleteNode?api-version=2020-01-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"nodes\": [\r\n    \"nt502_3\",\r\n    \"nt502_4\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperationresults/d0e10000-4d02-4d5c-88ca-7a5683b3e451?api-version=2020-01-01-preview&Experiment=local"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperations/d0e10000-4d02-4d5c-88ca-7a5683b3e451?api-version=2020-01-01-preview&Experiment=local"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperationresults/3a5f0000-311e-4b47-8464-151c24a4cb0a?api-version=2020-01-01-preview&Experiment=local",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11956"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {
    "NodeTypeNodeOperationsTest": [
      "sfmc-dotnet-sdk-RG-9705",
      "sfmcdotnetsdk1734",
      "nt502"
    ]
  },
  "Variables": {
    "SubscriptionId": "b36cdf46-b75d-4dc2-9fe1-1296ee8c623d"
  }
}