{
  "Entries": [
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/?restype=account&comp=properties",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 02:04:50 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-account-kind": "StorageV2",
        "x-ms-is-hns-enabled": "false",
        "x-ms-sku-name": "Standard_RAGRS",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/?restype=account&comp=properties",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 02:04:50 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthenticationFailed"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.\n",
        "RequestId:6a31cdae-e01e-004d-1063-069211000000\n",
        "Time:2021-02-19T02:04:50.3574588Z</Message><AuthenticationErrorDetail>The MAC signature found in the HTTP request 'tlyzcisJmnac0We214DcLBxtnlFh11ScbHreDzJnbqk=' is not the same as any computed signature. Server used following string to sign: 'GET\n\n",
        "\n\n",
        "\n\n",
        "\n\n",
        "\n\n",
        "\n\n",
        "x-ms-client-request-id:920fd405-40a2-6c38-710b-433d6a80d456\n",
        "x-ms-date:Fri, 19 Feb 2021 02:04:50 GMT\n",
        "x-ms-return-client-request-id:true\n",
        "x-ms-version:2020-06-12\n",
        "/kasoboltest/\n",
        "comp:properties\n",
        "restype:account'.</AuthenticationErrorDetail></Error>"
      ]
    },
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/?restype=account&comp=properties",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 02:04:50 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-account-kind": "StorageV2",
        "x-ms-is-hns-enabled": "false",
        "x-ms-sku-name": "Standard_RAGRS",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1759432858",
    "Storage_TestConfigDefault": "ProductionTenant\nkasoboltest\nU2FuaXRpemVk\nhttps://kasoboltest.blob.core.windows.net\nhttps://kasoboltest.file.core.windows.net\nhttps://kasoboltest.queue.core.windows.net\nhttps://kasoboltest.table.core.windows.net\n\n\n\n\nhttps://kasoboltest-secondary.blob.core.windows.net\nhttps://kasoboltest-secondary.file.core.windows.net\nhttps://kasoboltest-secondary.queue.core.windows.net\nhttps://kasoboltest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://kasoboltest.blob.core.windows.net/;QueueEndpoint=https://kasoboltest.queue.core.windows.net/;FileEndpoint=https://kasoboltest.file.core.windows.net/;BlobSecondaryEndpoint=https://kasoboltest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://kasoboltest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://kasoboltest-secondary.file.core.windows.net/;AccountName=kasoboltest;AccountKey=Kg==;\nencryptionScope\n\n"
  }
}