{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/networkcloud-sdk1634?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk1634",
        "name": "networkcloud-sdk1634",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk1634/providers/Microsoft.NetworkCloud/l3Networks/l3network-543?api-version=2022-12-12-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "extendedLocation": {
          "name": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/m20-9a3b2a13971a-hostedresources-079a7439/providers/microsoft.extendedlocation/customlocations/m20-9a3b2a13971a-cstm-loc",
          "type": "CustomLocation"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "ipv4ConnectedPrefix": "10.4.116.0/24",
          "ipv6ConnectedPrefix": "fda0:d59c:da0a:474::/64",
          "l3IsolationDomainId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/m20-cluster/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/m20-l3domain-2",
          "vlan": 543
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/714e538e-58ec-4ea8-aa38-63bdf85e6403*94D56201854867A2DBAD14740576BA813F359C636D98A8419FF08B1421BB739F?api-version=2022-12-12-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221800aac2-0000-0100-0000-63f7d0f20000\u0022",
        "mise-correlation-id": "f944e5f5-12fc-4975-bbe3-7ecc2fbc7275",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk1634/providers/Microsoft.NetworkCloud/l3Networks/l3network-543",
        "name": "l3network-543",
        "type": "microsoft.networkcloud/l3networks",
        "location": "eastus",
        "extendedLocation": {
          "name": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/m20-9a3b2a13971a-hostedresources-079a7439/providers/microsoft.extendedlocation/customlocations/m20-9a3b2a13971a-cstm-loc",
          "type": "CustomLocation"
        },
        "tags": {},
        "systemData": {
          "createdBy": "v-dymurphy@microsoft.com",
          "createdByType": "User",
          "createdAt": "2023-02-23T20:47:45.874524Z",
          "lastModifiedBy": "v-dymurphy@microsoft.com",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2023-02-23T20:47:45.874524Z"
        },
        "properties": {
          "provisioningState": "Accepted",
          "ipv4ConnectedPrefix": "10.4.116.0/24",
          "ipv6ConnectedPrefix": "fda0:d59c:da0a:474::/64",
          "l3IsolationDomainId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/m20-cluster/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/m20-l3domain-2",
          "vlan": 543
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/714e538e-58ec-4ea8-aa38-63bdf85e6403*94D56201854867A2DBAD14740576BA813F359C636D98A8419FF08B1421BB739F?api-version=2022-12-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222700a069-0000-0100-0000-63f7d0f10000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/714e538e-58ec-4ea8-aa38-63bdf85e6403*94D56201854867A2DBAD14740576BA813F359C636D98A8419FF08B1421BB739F",
        "name": "714e538e-58ec-4ea8-aa38-63bdf85e6403*94D56201854867A2DBAD14740576BA813F359C636D98A8419FF08B1421BB739F",
        "resourceId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk1634/providers/Microsoft.NetworkCloud/l3Networks/l3network-543",
        "status": "Accepted",
        "startTime": "2023-02-23T20:47:45.9284434Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/714e538e-58ec-4ea8-aa38-63bdf85e6403*94D56201854867A2DBAD14740576BA813F359C636D98A8419FF08B1421BB739F?api-version=2022-12-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222700a569-0000-0100-0000-63f7d0fb0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/714e538e-58ec-4ea8-aa38-63bdf85e6403*94D56201854867A2DBAD14740576BA813F359C636D98A8419FF08B1421BB739F",
        "name": "714e538e-58ec-4ea8-aa38-63bdf85e6403*94D56201854867A2DBAD14740576BA813F359C636D98A8419FF08B1421BB739F",
        "resourceId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk1634/providers/Microsoft.NetworkCloud/l3Networks/l3network-543",
        "status": "Provisioning",
        "startTime": "2023-02-23T20:47:45.9284434Z",
        "error": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/714e538e-58ec-4ea8-aa38-63bdf85e6403*94D56201854867A2DBAD14740576BA813F359C636D98A8419FF08B1421BB739F?api-version=2022-12-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222700a769-0000-0100-0000-63f7d1000000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/714e538e-58ec-4ea8-aa38-63bdf85e6403*94D56201854867A2DBAD14740576BA813F359C636D98A8419FF08B1421BB739F",
        "name": "714e538e-58ec-4ea8-aa38-63bdf85e6403*94D56201854867A2DBAD14740576BA813F359C636D98A8419FF08B1421BB739F",
        "resourceId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk1634/providers/Microsoft.NetworkCloud/l3Networks/l3network-543",
        "status": "Succeeded",
        "startTime": "2023-02-23T20:47:45.9284434Z",
        "endTime": "2023-02-23T20:48:00.5821553Z",
        "error": {},
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk1634/providers/Microsoft.NetworkCloud/l3Networks?api-version=2022-12-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "1136b3de-9bad-484c-8786-ec861d77a67b",
          "1c741e3a-3d27-4316-b670-13c8c03cdea9",
          "7a050af6-817a-44d3-9b51-827cd5e41757"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk1634/providers/Microsoft.NetworkCloud/l3Networks/l3network-543",
            "name": "l3network-543",
            "type": "microsoft.networkcloud/l3networks",
            "location": "eastus",
            "extendedLocation": {
              "name": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/m20-9a3b2a13971a-hostedresources-079a7439/providers/microsoft.extendedlocation/customlocations/m20-9a3b2a13971a-cstm-loc",
              "type": "CustomLocation"
            },
            "tags": {},
            "systemData": {
              "createdBy": "v-dymurphy@microsoft.com",
              "createdByType": "User",
              "createdAt": "2023-02-23T20:47:45.874524Z",
              "lastModifiedBy": "319f651f-7ddb-4fc6-9857-7aef9250bd05",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-02-23T20:48:00.8797728Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "ipv4ConnectedPrefix": "10.4.116.0/24",
              "ipv6ConnectedPrefix": "fda0:d59c:da0a:474::/64",
              "l3IsolationDomainId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/m20-cluster/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/m20-l3domain-2",
              "vlan": 543,
              "ipAllocationType": "DualStack",
              "hybridAksPluginType": "SRIOV",
              "hybridAksIpamEnabled": "True",
              "hybridAksClustersAssociatedIds": [],
              "virtualMachinesAssociatedIds": [],
              "detailedStatus": "Available",
              "detailedStatusMessage": "checking if L3 IPPool config matches expected config",
              "interfaceName": "l3netw-4c579",
              "clusterId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/m20-cluster/providers/Microsoft.NetworkCloud/clusters/m20-9a3b2a13971a"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/l3Networks?api-version=2022-12-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "ad9dd390-ed62-4f15-a68b-53[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk1634/providers/Microsoft.NetworkCloud/l3Networks/l3network-543?api-version=2022-12-12-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "myvalue1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221800afc2-0000-0100-0000-63f7d1050000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk1634/providers/Microsoft.NetworkCloud/l3Networks/l3n[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk1634/providers/Microsoft.NetworkCloud/l3Networks/l3network-543?api-version=2022-12-12-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/887b6572-e390-486f-a5c2-9e50141d5f10*94D56201854867A2DBAD14740576BA813F359C636D98A8419FF08B1421BB739F?api-version=2022-12-12-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221800b0c2-0000-0100-0000-63f7d1070000\u0022",
        "Location": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/887b6572-e390-486f-a5c2-9e50141d5f10*94D56201854867A2DBAD14740576BA813F359C636D98A8419FF08B1421BB739F?api-version=2022-12-12-preview",
        "mise-correlation-id": "0c0c49fb-7100-412f-96a2-31520d07e5d5",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/887b6572-e390-486f-a5c2-9e50141d5f10*94D56201854867A2DBAD14740576BA813F359C636D98A8419FF08B1421BB739F?api-version=2022-12-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222700ae69-0000-0100-0000-63f7d10e0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11981"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/887b6572-e390-486f-a5c2-9e50141d5f10*94D56201854867A2DBAD14740576BA813F359C636D98A8419FF08B1421BB739F",
        "name": "887b6572-e390-486f-a5c2-9e50141d5f10*94D56201854867A2DBAD14740576BA813F359C636D98A8419FF08B1421BB739F",
        "resourceId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk1634/providers/Microsoft.NetworkCloud/l3Networks/l3network-543",
        "status": "Succeeded",
        "startTime": "2023-02-23T20:48:06.7513767Z",
        "endTime": "2023-02-23T20:48:14.8510464Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "CLUSTER_EXTENDED_LOCATION": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/m20-9a3b2a13971a-hostedresources-079a7439/providers/microsoft.extendedlocation/customlocations/m20-9a3b2a13971a-cstm-loc",
    "L3_IPV4_PREFIX": "10.4.116.0/24",
    "L3_IPV6_PREFIX": "fda0:d59c:da0a:474::/64",
    "L3_ISOLATION_DOMAIN_ID": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/m20-cluster/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/m20-l3domain-2",
    "L3_NETWORK_NAME": "l3network-543",
    "L3_VLAN": "543",
    "LOCATION": "eastus",
    "RandomSeed": "1434325966",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "fca2e8ee-1179-48b8-9532-428ed0873a2e"
  }
}
