{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/networkcloud-sdk6820?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk6820",
        "name": "networkcloud-sdk6820",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk6820/providers/Microsoft.NetworkCloud/l3Networks/l3network-543?api-version=2022-12-12-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "extendedLocation": {
          "name": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/m20-9a3b2a13971a-hostedresources-079a7439/providers/microsoft.extendedlocation/customlocations/m20-9a3b2a13971a-cstm-loc",
          "type": "CustomLocation"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "ipv4ConnectedPrefix": "10.4.116.0/24",
          "ipv6ConnectedPrefix": "fda0:d59c:da0a:474::/64",
          "l3IsolationDomainId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/m20-cluster/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/m20-l3domain-2",
          "vlan": 543
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/be1a1190-3374-4888-84a9-6bd0fe92c324*34E2BBF3B4AD4B180E95EC4C05809D4F58B13624D0D47A6A5456FA8BD034AA5F?api-version=2022-12-12-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221800b2c2-0000-0100-0000-63f7d1200000\u0022",
        "mise-correlation-id": "23bb57b0-3140-4ea9-872a-16b041ba71e8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk6820/providers/Microsoft.NetworkCloud/l3Networks/l3network-543",
        "name": "l3network-543",
        "type": "microsoft.networkcloud/l3networks",
        "location": "eastus",
        "extendedLocation": {
          "name": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/m20-9a3b2a13971a-hostedresources-079a7439/providers/microsoft.extendedlocation/customlocations/m20-9a3b2a13971a-cstm-loc",
          "type": "CustomLocation"
        },
        "tags": {},
        "systemData": {
          "createdBy": "v-dymurphy@microsoft.com",
          "createdByType": "User",
          "createdAt": "2023-02-23T20:48:31.0783951Z",
          "lastModifiedBy": "v-dymurphy@microsoft.com",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2023-02-23T20:48:31.0783951Z"
        },
        "properties": {
          "provisioningState": "Accepted",
          "ipv4ConnectedPrefix": "10.4.116.0/24",
          "ipv6ConnectedPrefix": "fda0:d59c:da0a:474::/64",
          "l3IsolationDomainId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/m20-cluster/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/m20-l3domain-2",
          "vlan": 543
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/be1a1190-3374-4888-84a9-6bd0fe92c324*34E2BBF3B4AD4B180E95EC4C05809D4F58B13624D0D47A6A5456FA8BD034AA5F?api-version=2022-12-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222700b269-0000-0100-0000-63f7d11f0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11980"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/be1a1190-3374-4888-84a9-6bd0fe92c324*34E2BBF3B4AD4B180E95EC4C05809D4F58B13624D0D47A6A5456FA8BD034AA5F",
        "name": "be1a1190-3374-4888-84a9-6bd0fe92c324*34E2BBF3B4AD4B180E95EC4C05809D4F58B13624D0D47A6A5456FA8BD034AA5F",
        "resourceId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk6820/providers/Microsoft.NetworkCloud/l3Networks/l3network-543",
        "status": "Accepted",
        "startTime": "2023-02-23T20:48:31.1233634Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/be1a1190-3374-4888-84a9-6bd0fe92c324*34E2BBF3B4AD4B180E95EC4C05809D4F58B13624D0D47A6A5456FA8BD034AA5F?api-version=2022-12-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222700b469-0000-0100-0000-63f7d1280000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11975"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/be1a1190-3374-4888-84a9-6bd0fe92c324*34E2BBF3B4AD4B180E95EC4C05809D4F58B13624D0D47A6A5456FA8BD034AA5F",
        "name": "be1a1190-3374-4888-84a9-6bd0fe92c324*34E2BBF3B4AD4B180E95EC4C05809D4F58B13624D0D47A6A5456FA8BD034AA5F",
        "resourceId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk6820/providers/Microsoft.NetworkCloud/l3Networks/l3network-543",
        "status": "Provisioning",
        "startTime": "2023-02-23T20:48:31.1233634Z",
        "error": {}
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/be1a1190-3374-4888-84a9-6bd0fe92c324*34E2BBF3B4AD4B180E95EC4C05809D4F58B13624D0D47A6A5456FA8BD034AA5F?api-version=2022-12-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222700b869-0000-0100-0000-63f7d1340000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11973"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/be1a1190-3374-4888-84a9-6bd0fe92c324*34E2BBF3B4AD4B180E95EC4C05809D4F58B13624D0D47A6A5456FA8BD034AA5F",
        "name": "be1a1190-3374-4888-84a9-6bd0fe92c324*34E2BBF3B4AD4B180E95EC4C05809D4F58B13624D0D47A6A5456FA8BD034AA5F",
        "resourceId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk6820/providers/Microsoft.NetworkCloud/l3Networks/l3network-543",
        "status": "Succeeded",
        "startTime": "2023-02-23T20:48:31.1233634Z",
        "endTime": "2023-02-23T20:48:52.9903395Z",
        "error": {},
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk6820/providers/Microsoft.NetworkCloud/l3Networks?api-version=2022-12-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "b8441618-bc35-4c87-bf39-e1f52396a0f5",
          "78abddf7-ae19-4b1b-894d-949859ea248a",
          "ed49dc81-b94b-4bbe-8807-f141ef20ca77"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11970"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk6820/providers/Microsoft.NetworkCloud/l3Networks/l3network-543",
            "name": "l3network-543",
            "type": "microsoft.networkcloud/l3networks",
            "location": "eastus",
            "extendedLocation": {
              "name": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/m20-9a3b2a13971a-hostedresources-079a7439/providers/microsoft.extendedlocation/customlocations/m20-9a3b2a13971a-cstm-loc",
              "type": "CustomLocation"
            },
            "tags": {},
            "systemData": {
              "createdBy": "v-dymurphy@microsoft.com",
              "createdByType": "User",
              "createdAt": "2023-02-23T20:48:31.0783951Z",
              "lastModifiedBy": "319f651f-7ddb-4fc6-9857-7aef9250bd05",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-02-23T20:48:53.5883656Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "ipv4ConnectedPrefix": "10.4.116.0/24",
              "ipv6ConnectedPrefix": "fda0:d59c:da0a:474::/64",
              "l3IsolationDomainId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/m20-cluster/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/m20-l3domain-2",
              "vlan": 543,
              "ipAllocationType": "DualStack",
              "hybridAksPluginType": "SRIOV",
              "hybridAksIpamEnabled": "True",
              "hybridAksClustersAssociatedIds": [],
              "virtualMachinesAssociatedIds": [],
              "detailedStatus": "Available",
              "detailedStatusMessage": "all validations succeeded",
              "interfaceName": "l3netw-35ed9",
              "clusterId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/m20-cluster/providers/Microsoft.NetworkCloud/clusters/m20-9a3b2a13971a"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/l3Networks?api-version=2022-12-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "f0ec28bb-124b-42aa-9fa9-27[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk6820/providers/Microsoft.NetworkCloud/l3Networks/l3network-543?api-version=2022-12-12-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "myvalue1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221800b7c2-0000-0100-0000-63f7d1430000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk6820/providers/Microsoft.NetworkCloud/l3Networks/l3n[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk6820/providers/Microsoft.NetworkCloud/l3Networks/l3network-543?api-version=2022-12-12-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/e0d2435e-97e2-4232-99c8-6278a9176171*34E2BBF3B4AD4B180E95EC4C05809D4F58B13624D0D47A6A5456FA8BD034AA5F?api-version=2022-12-12-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221800b8c2-0000-0100-0000-63f7d1440000\u0022",
        "Location": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/e0d2435e-97e2-4232-99c8-6278a9176171*34E2BBF3B4AD4B180E95EC4C05809D4F58B13624D0D47A6A5456FA8BD034AA5F?api-version=2022-12-12-preview",
        "mise-correlation-id": "376b1683-72ef-4200-894a-b6e0528fac79",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14998"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/e0d2435e-97e2-4232-99c8-6278a9176171*34E2BBF3B4AD4B180E95EC4C05809D4F58B13624D0D47A6A5456FA8BD034AA5F?api-version=2022-12-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222700c669-0000-0100-0000-63f7d14c0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11963"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/e0d2435e-97e2-4232-99c8-6278a9176171*34E2BBF3B4AD4B180E95EC4C05809D4F58B13624D0D47A6A5456FA8BD034AA5F",
        "name": "e0d2435e-97e2-4232-99c8-6278a9176171*34E2BBF3B4AD4B180E95EC4C05809D4F58B13624D0D47A6A5456FA8BD034AA5F",
        "resourceId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk6820/providers/Microsoft.NetworkCloud/l3Networks/l3network-543",
        "status": "Succeeded",
        "startTime": "2023-02-23T20:49:08.0066287Z",
        "endTime": "2023-02-23T20:49:16.9023677Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "CLUSTER_EXTENDED_LOCATION": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/m20-9a3b2a13971a-hostedresources-079a7439/providers/microsoft.extendedlocation/customlocations/m20-9a3b2a13971a-cstm-loc",
    "L3_IPV4_PREFIX": "10.4.116.0/24",
    "L3_IPV6_PREFIX": "fda0:d59c:da0a:474::/64",
    "L3_ISOLATION_DOMAIN_ID": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/m20-cluster/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/m20-l3domain-2",
    "L3_NETWORK_NAME": "l3network-543",
    "L3_VLAN": "543",
    "LOCATION": "eastus",
    "RandomSeed": "582150058",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "fca2e8ee-1179-48b8-9532-428ed0873a2e"
  }
}
