{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/devcenters/sdk-default-devcenter?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226101acac-0000-1a00-0000-630e52ef0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": {
        "id": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/devcenters/sdk-default-devcenter",
        "name": "sdk-default-devcenter",
        "type": "microsoft.devcenter/devcenters",
        "location": "australiaeast",
        "systemData": {
          "createdBy": "tbyfield@microsoft.com",
          "createdByType": "User",
          "createdAt": "2022-08-30T18:10:30.6728815Z",
          "lastModifiedBy": "tbyfield@microsoft.com",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2022-08-30T18:10:30.6728815Z"
        },
        "identity": {
          "principalId": "6c7d9842-faeb-43ec-bffb-e9c271d6e5e9",
          "tenantId": "8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd",
          "type": "SystemAssigned"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/devcenters/sdk-default-devcenter/devboxdefinitions/sdktest-devboxdefinition?api-version=2022-08-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "australiaeast",
        "properties": {
          "imageReference": {
            "id": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/devcenters/sdk-default-devcenter/galleries/default/images/MicrosoftWindowsDesktop_windows-ent-cpc_win11-21h2-ent-cpc-m365"
          },
          "sku": {
            "name": "general_a_8c32gb_v1"
          },
          "osStorageType": "ssd_512gb"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/providers/Microsoft.DevCenter/locations/AUSTRALIAEAST/operationStatuses/80d15836-1cd8-4a9b-ab64-d602781a480c*A54B318199EE27C1E1B1A6F19DD79E8F27B429E0EAC469CEB2A5889C22B01BEF?api-version=2022-08-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221300da8f-0000-1a00-0000-630e79ef0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-quota": "{\u0022name\u0022:{\u0022localizedValue\u0022:null,\u0022value\u0022:\u0022devBoxDefinitions\u0022},\u0022limit\u0022:200,\u0022currentUsed\u0022:2,\u0022category\u0022:\u0022Informational\u0022,\u0022scope\u0022:\u0022subscription\u0022,\u0022target\u0022:\u0022/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/\u0022,\u0022region\u0022:\u0022australiaeast\u0022}",
        "x-ms-ratelimit-remaining-subscription-writes": "1197",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2022-08-30T20:59:18.4973174Z"
      },
      "ResponseBody": {
        "id": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/devcenters/sdk-default-devcenter/devboxdefinitions/sdktest-devboxdefinition",
        "name": "sdktest-devboxdefinition",
        "type": "microsoft.devcenter/devcenters/devboxdefinitions",
        "location": "australiaeast",
        "tags": {},
        "systemData": {
          "createdBy": "8788af82-a59e-490f-ba2a-2b05bf776033",
          "createdByType": "Application",
          "createdAt": "2022-08-30T20:58:17.3878618Z",
          "lastModifiedBy": "8788af82-a59e-490f-ba2a-2b05bf776033",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-08-30T20:58:17.3878618Z"
        },
        "properties": {
          "provisioningState": "Accepted",
          "imageReference": {
            "id": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/devcenters/sdk-default-devcenter/galleries/default/images/MicrosoftWindowsDesktop_windows-ent-cpc_win11-21h2-ent-cpc-m365"
          },
          "sku": {
            "name": "general_a_8c32gb_v1"
          },
          "osStorageType": "ssd_512gb"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/providers/Microsoft.DevCenter/locations/AUSTRALIAEAST/operationStatuses/80d15836-1cd8-4a9b-ab64-d602781a480c*A54B318199EE27C1E1B1A6F19DD79E8F27B429E0EAC469CEB2A5889C22B01BEF?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022f702e4e2-0000-1a00-0000-630e79ed0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11986"
      },
      "ResponseBody": {
        "id": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/providers/Microsoft.DevCenter/locations/AUSTRALIAEAST/operationStatuses/80d15836-1cd8-4a9b-ab64-d602781a480c*A54B318199EE27C1E1B1A6F19DD79E8F27B429E0EAC469CEB2A5889C22B01BEF",
        "name": "80d15836-1cd8-4a9b-ab64-d602781a480c*A54B318199EE27C1E1B1A6F19DD79E8F27B429E0EAC469CEB2A5889C22B01BEF",
        "resourceId": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/devcenters/sdk-default-devcenter/devboxdefinitions/sdktest-devboxdefinition",
        "status": "Accepted",
        "startTime": "2022-08-30T20:58:21.0232572Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/providers/Microsoft.DevCenter/locations/AUSTRALIAEAST/operationStatuses/80d15836-1cd8-4a9b-ab64-d602781a480c*A54B318199EE27C1E1B1A6F19DD79E8F27B429E0EAC469CEB2A5889C22B01BEF?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022f7026ee3-0000-1a00-0000-630e7a0a0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11979"
      },
      "ResponseBody": {
        "id": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/providers/Microsoft.DevCenter/locations/AUSTRALIAEAST/operationStatuses/80d15836-1cd8-4a9b-ab64-d602781a480c*A54B318199EE27C1E1B1A6F19DD79E8F27B429E0EAC469CEB2A5889C22B01BEF",
        "name": "80d15836-1cd8-4a9b-ab64-d602781a480c*A54B318199EE27C1E1B1A6F19DD79E8F27B429E0EAC469CEB2A5889C22B01BEF",
        "resourceId": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/devcenters/sdk-default-devcenter/devboxdefinitions/sdktest-devboxdefinition",
        "status": "Succeeded",
        "startTime": "2022-08-30T20:58:21.0232572Z",
        "endTime": "2022-08-30T20:58:50.8676571Z",
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/devcenters/sdk-default-devcenter/devboxdefinitions?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "080b3f06-d8c9-4c48-9b0e-189c4908cc42",
          "0207910a-f9ea-4b91-95ce-16a7b8605813",
          "b6e981ee-b538-4a84-a3c2-3cf634087697",
          "805b9ae6-be21-4b4a-9735-0f0548336a1a",
          "1d5144a0-fff5-4a61-b34f-6cd52b8f657d",
          "d5025ce4-4602-433f-b762-11805e59fc92",
          "a0dbc606-ef47-4231-a6fc-d722396837b1",
          "ea8aa725-041c-447f-aaed-e0fe3bbeb22b",
          "75ab6707-3b1e-4755-9821-5348c0ef6b9e",
          "9084da66-62c5-4a7e-8c88-eca82b0e856e"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11977"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/devcenters/sdk-default-devcenter/devboxdefinitions/sdk-default-devboxdefinition",
            "name": "sdk-default-devboxdefinition",
            "type": "microsoft.devcenter/devcenters/devboxdefinitions",
            "location": "australiaeast",
            "systemData": {
              "createdBy": "tbyfield@microsoft.com",
              "createdByType": "User",
              "createdAt": "2022-08-30T18:12:13.4714153Z",
              "lastModifiedBy": "tbyfield@microsoft.com",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2022-08-30T18:12:13.4714153Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "imageReference": {
                "id": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/devcenters/sdk-default-devcenter/galleries/Default/images/MicrosoftWindowsDesktop_windows-ent-cpc_win11-21h2-ent-cpc-m365",
                "exactVersion": "1.0.0"
              },
              "sku": {
                "name": "general_a_8c32gb_v1"
              },
              "osStorageType": "ssd_1024gb",
              "imageValidationStatus": "Succeeded",
              "activeImageReference": {
                "id": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/devcenters/sdk-default-devcenter/galleries/Default/images/MicrosoftWindowsDesktop_windows-ent-cpc_win11-21h2-ent-cpc-m365",
                "exactVersion": "1.0.0"
              }
            }
          },
          {
            "id": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/devcenters/sdk-default-devcent[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/devcenters/sdk-default-devcenter/devboxdefinitions/sdktest-devboxdefinition?api-version=2022-08-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "osStorageType": "ssd_256gb"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/providers/Microsoft.DevCenter/locations/AUSTRALIAEAST/operationStatuses/ef19fd2e-41f0-4c84-a60b-a9a00c536ab9*A54B318199EE27C1E1B1A6F19DD79E8F27B429E0EAC469CEB2A5889C22B01BEF?api-version=2022-08-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221300df8f-0000-1a00-0000-630e7a300000\u0022",
        "Location": "https://management.azure.com/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/providers/Microsoft.DevCenter/locations/AUSTRALIAEAST/operationStatuses/ef19fd2e-41f0-4c84-a60b-a9a00c536ab9*A54B318199EE27C1E1B1A6F19DD79E8F27B429E0EAC469CEB2A5889C22B01BEF?api-version=2022-08-01-preview",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1196",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2022-08-30T21:00:24.6135828Z"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/providers/Microsoft.DevCenter/locations/AUSTRALIAEAST/operationStatuses/86ef87f7-6e95-49ca-b44f-32797b012cbb*A54B318199EE27C1E1B1A6F19DD79E8F27B429E0EAC469CEB2A5889C22B01BEF?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022f7027be4-0000-1a00-0000-630e7a420000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11967"
      },
      "ResponseBody": {
        "id": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/providers/Microsoft.DevCenter/locations/AUSTRALIAEAST/operationStatuses/86ef87f7-6e95-49ca-b44f-32797b012cbb*A54B318199EE27C1E1B1A6F19DD79E8F27B429E0EAC469CEB2A5889C22B01BEF",
        "name": "86ef87f7-6e95-49ca-b44f-32797b012cbb*A54B318199EE27C1E1B1A6F19DD79E8F27B429E0EAC469CEB2A5889C22B01BEF",
        "resourceId": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/devcenters/sdk-default-devcenter/devboxdefinitions/sdktest-devboxdefinition",
        "status": "Succeeded",
        "startTime": "2022-08-30T20:59:44.9734127Z",
        "endTime": "2022-08-30T20:59:46.0662899Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DEFAULT_DEVCENTER_ID": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/devcenters/sdk-default-devcenter",
    "LOCATION": "australiaeast",
    "RandomSeed": "1978515162",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "62e47139-66d0-4b0b-a000-1e8a412890c1"
  }
}
