{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11885"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "f3d94233-a9aa-4241-ac82-2dfb63ce637a",
        "tenantId": "75743128-1c62-4904-9be1-c23c1edb9a9f",
        "displayName": "Visual Studio Enterprise Subscription",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "MSDN_2014-09-01",
          "spendingLimit": "On"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-7185?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-7185",
        "name": "testRg-7185",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-7185/providers/Microsoft.Cdn/profiles/AFDProfile-4702?api-version=2020-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_AzureFrontDoor"
        },
        "location": "Global",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-7185/providers/Microsoft.Cdn/operationresults/15b9da5c-534d-44ce-99f1-dca7ddccdbd2?api-version=2020-09-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "22"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-7185/providers/Microsoft.Cdn/profiles/AFDProfile-4702",
        "type": "Microsoft.Cdn/profiles",
        "name": "AFDProfile-4702",
        "location": "Global",
        "kind": "frontdoor",
        "tags": {},
        "sku": {
          "name": "Standard_AzureFrontDoor"
        },
        "properties": {
          "frontDoorId": "9aa6cb84-a1df-4926-95f3-b7125b0cb717",
          "resourceState": "Creating",
          "provisioningState": "Creating"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-7185/providers/Microsoft.Cdn/operationresults/15b9da5c-534d-44ce-99f1-dca7ddccdbd2?api-version=2020-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11884"
      },
      "ResponseBody": {
        "status": "InProgress",
        "error": {
          "code": "None",
          "message": null
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-7185/providers/Microsoft.Cdn/profiles/AFDProfile-4702/originGroups/AFDOriginGroup-2528?api-version=2020-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "loadBalancingSettings": {
            "sampleSize": 5,
            "successfulSamplesRequired": 4,
            "additionalLatencyInMilliseconds": 200
          },
          "healthProbeSettings": {
            "probePath": "/healthz",
            "probeRequestType": "HEAD",
            "probeProtocol": "Https",
            "probeIntervalInSeconds": 60
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "97"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-7185/providers/Microsoft.Cdn/profiles/AFDProfile-4702/originGroups/AFDOriginGroup-2528",
        "type": "Microsoft.Cdn/profiles/originGroups",
        "name": "AFDOriginGroup-2528",
        "properties": {
          "loadBalancingSettings": {
            "sampleSize": 5,
            "successfulSamplesRequired": 4,
            "additionalLatencyInMilliseconds": 200
          },
          "healthProbeSettings": {
            "probePath": "/healthz",
            "probeRequestType": "HEAD",
            "probeProtocol": "Https",
            "probeIntervalInSeconds": 60
          },
          "responseBasedAFDOriginErrorDetectionSettings": null,
          "trafficRestorationTimeToHealedOrNewEndpointsInMinutes": null,
          "sessionAffinityState": "Disabled",
          "provisioningState": "Succeeded",
          "deploymentStatus": "NotStarted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-7185/providers/Microsoft.Cdn/profiles/AFDProfile-4702/originGroups/AFDOriginGroup-2528?api-version=2020-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-7185/providers/Microsoft.Cdn/operationresults/c2752693-c074-45e8-aa34-1cdcb6a2453d?api-version=2020-09-01",
        "Location": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-7185/providers/Microsoft.Cdn/operationresults/c2752693-c074-45e8-aa34-1cdcb6a2453d/profileresults/AFDProfile-4702/origingroupresults/AFDOriginGroup-2528?api-version=2020-09-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-deletes": "14997"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-7185/providers/Microsoft.Cdn/profiles/AFDProfile-4702/originGroups/AFDOriginGroup-2528?api-version=2020-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11804"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "The requested resource was not found."
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "30539148",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "f3d94233-a9aa-4241-ac82-2dfb63ce637a"
  }
}