{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Authorization/dataPolicyManifests/Microsoft.Network.Data?api-version=2020-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11998"
      },
      "ResponseBody": {
        "properties": {
          "namespaces": [
            "Microsoft.Network"
          ],
          "policyMode": "Microsoft.Network.Data",
          "isBuiltInOnly": false,
          "effects": [
            {
              "name": "addToNetworkGroup",
              "detailsSchema": {
                "type": "object",
                "properties": {
                  "networkGroupId": {
                    "type": "string"
                  },
                  "networkGroupVersion": {
                    "type": "string"
                  },
                  "commitType": {
                    "type": "string"
                  }
                },
                "required": [
                  "networkGroupId",
                  "networkGroupVersion",
                  "commitType"
                ],
                "additionalProperties": false
              }
            }
          ],
          "fieldValues": [
            "id",
            "name",
            "type",
            "location",
            "tags"
          ],
          "resourceFunctions": {
            "standard": [
              "subscription",
              "resourceGroup"
            ],
            "custom": []
          }
        },
        "id": "/providers/Microsoft.Authorization/dataPolicyManifests/Microsoft.Network.Data",
        "type": "Microsoft.Authorization/dataPolicyManifests",
        "name": "Microsoft.Network.Data"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "2031347355",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}