{
  "Entries": [
    {
      "RequestUri": "/52f290f6-ea2a-4c39-9bbc-1070047a0ef0/cloudservices/CisService-TRSY36RJLI3GVRJMZY4JKFKNS7HAHME3QGSESC5TVYOUXQUFW4NQ-west-us/resources/CISBVT2/~/CisVault/onesdk-p2/api/devices?api-version=2014-01-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-01-01"
        ]
      },
      "ResponseBody": "<ArrayOfDeviceInfo xmlns=\"http://windowscloudbackup.com/CiS/V2013_03\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <DeviceInfo>\r\n    <ACRCount>0</ACRCount>\r\n    <ActivationTime>2015-02-09T11:37:02.1937849Z</ActivationTime>\r\n    <ActiveController>Unknown</ActiveController>\r\n    <AvailableStorageInBytes>1067299373056</AvailableStorageInBytes>\r\n    <CloudCredCount>0</CloudCredCount>\r\n    <Culture>en-US</Culture>\r\n    <CurrentController>Unknown</CurrentController>\r\n    <DataContainerCount>0</DataContainerCount>\r\n    <Description>TestDescription4101</Description>\r\n    <DeviceId>865e68f6-1e71-47b6-80d5-15d3a23bd2b0</DeviceId>\r\n    <DeviceSoftwareVersion>6.3.9600.17397</DeviceSoftwareVersion>\r\n    <FriendlyName>TestFriendlyName5575</FriendlyName>\r\n    <IsConfigUpdated>true</IsConfigUpdated>\r\n    <IsVirtualApplianceInterimEntry>false</IsVirtualApplianceInterimEntry>\r\n    <Location i:nil=\"true\" />\r\n    <ModelDescription>100</ModelDescription>\r\n    <NNicCards>6</NNicCards>\r\n    <ProvisionedStorageInBytes>32212254720</ProvisionedStorageInBytes>\r\n    <SerialNumber>123456789</SerialNumber>\r\n    <Status>Online</Status>\r\n    <TargetIQN>iqn.1991-05.com.microsoft:storsimple100-123456789-target</TargetIQN>\r\n    <TimeZone>Pacific Standard Time</TimeZone>\r\n    <TotalStorageInBytes>1099511627776</TotalStorageInBytes>\r\n    <Type>Appliance</Type>\r\n    <UsingStorageInBytes>0</UsingStorageInBytes>\r\n    <VolumeCount>0</VolumeCount>\r\n  </DeviceInfo>\r\n</ArrayOfDeviceInfo>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/52f290f6-ea2a-4c39-9bbc-1070047a0ef0/cloudservices/CisService-TRSY36RJLI3GVRJMZY4JKFKNS7HAHME3QGSESC5TVYOUXQUFW4NQ-west-us/resources/CISBVT2/~/CisVault/onesdk-p2/api/devices/865e68f6-1e71-47b6-80d5-15d3a23bd2b0?api-version=2014-01-01.3.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-01-01"
        ]
      },
      "ResponseBody": "<DeviceDetails i:type=\"DeviceDetails_V3\" xmlns=\"http://windowscloudbackup.com/CiS/V2013_03\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <InstanceId>865e68f6-1e71-47b6-80d5-15d3a23bd2b0</InstanceId>\r\n  <Name i:nil=\"true\" />\r\n  <OperationInProgress>None</OperationInProgress>\r\n  <AlertNotification>\r\n    <AlertNotifcationCulture>en-US</AlertNotifcationCulture>\r\n    <AlertNotifcationEnabled>true</AlertNotifcationEnabled>\r\n    <AlertNotificationEmailList xmlns:d3p1=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\r\n      <d3p1:string>test3821@test.com</d3p1:string>\r\n      <d3p1:string>test5394@test.com</d3p1:string>\r\n      <d3p1:string>test5230@test.com</d3p1:string>\r\n    </AlertNotificationEmailList>\r\n    <AlertNotificationEnabledForAdminCoAdmins>true</AlertNotificationEnabledForAdminCoAdmins>\r\n  </AlertNotification>\r\n  <Chap i:nil=\"true\" />\r\n  <DeviceProperties>\r\n    <ACRCount>0</ACRCount>\r\n    <ActivationTime>2015-02-09T11:37:02.1937849Z</ActivationTime>\r\n    <ActiveController>Unknown</ActiveController>\r\n    <AvailableStorageInBytes>1067299373056</AvailableStorageInBytes>\r\n    <CloudCredCount>0</CloudCredCount>\r\n    <Culture>en-US</Culture>\r\n    <CurrentController>Unknown</CurrentController>\r\n    <DataContainerCount>0</DataContainerCount>\r\n    <Description>TestDescription4101</Description>\r\n    <DeviceId>865e68f6-1e71-47b6-80d5-15d3a23bd2b0</DeviceId>\r\n    <DeviceSoftwareVersion>6.3.9600.17397</DeviceSoftwareVersion>\r\n    <FriendlyName>TestFriendlyName5575</FriendlyName>\r\n    <IsConfigUpdated>true</IsConfigUpdated>\r\n    <IsVirtualApplianceInterimEntry>false</IsVirtualApplianceInterimEntry>\r\n    <Location i:nil=\"true\" />\r\n    <ModelDescription>100</ModelDescription>\r\n    <NNicCards>6</NNicCards>\r\n    <ProvisionedStorageInBytes>32212254720</ProvisionedStorageInBytes>\r\n    <SerialNumber>123456789</SerialNumber>\r\n    <Status>Online</Status>\r\n    <TargetIQN>iqn.1991-05.com.microsoft:storsimple100-123456789-target</TargetIQN>\r\n    <TimeZone>Pacific Standard Time</TimeZone>\r\n    <TotalStorageInBytes>1099511627776</TotalStorageInBytes>\r\n    <Type>Appliance</Type>\r\n    <UsingStorageInBytes>0</UsingStorageInBytes>\r\n    <VolumeCount>0</VolumeCount>\r\n  </DeviceProperties>\r\n  <DnsServer>\r\n    <PrimaryIPv4>10.124.0.216</PrimaryIPv4>\r\n    <PrimaryIPv6 i:nil=\"true\" />\r\n    <SecondaryIPv4 xmlns:d3p1=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\r\n      <d3p1:string>10.124.0.214</d3p1:string>\r\n    </SecondaryIPv4>\r\n    <SecondaryIPv6 xmlns:d3p1=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\" />\r\n  </DnsServer>\r\n  <NetInterfaceList>\r\n    <NetInterface>\r\n      <InterfaceId>Data0</InterfaceId>\r\n      <IsCloudEnabled>true</IsCloudEnabled>\r\n      <IsDefault>true</IsDefault>\r\n      <IsEnabled>true</IsEnabled>\r\n      <IsIScsiEnabled>true</IsIScsiEnabled>\r\n      <MediaConnectState>1</MediaConnectState>\r\n      <Mode>IPV4</Mode>\r\n      <NicIPv4Settings>\r\n        <Controller0IPv4Address>10.67.64.48</Controller0IPv4Address>\r\n        <Controller1IPv4Address>10.67.64.49</Controller1IPv4Address>\r\n        <IPv4Address>10.225.149.235</IPv4Address>\r\n        <IPv4Gateway>10.225.148.1</IPv4Gateway>\r\n        <IPv4Netmask>255.255.252.0</IPv4Netmask>\r\n      </NicIPv4Settings>\r\n      <NicIPv6Settings>\r\n        <Controller0IPv6Address></Controller0IPv6Address>\r\n        <Controller1IPv6Address></Controller1IPv6Address>\r\n        <IPv6Address></IPv6Address>\r\n        <IPv6Gateway></IPv6Gateway>\r\n        <IPv6Prefix></IPv6Prefix>\r\n      </NicIPv6Settings>\r\n      <Speed>10000000000</Speed>\r\n    </NetInterface>\r\n  </NetInterfaceList>\r\n  <Snapshot>\r\n    <IsSnapshotSecretSet>true</IsSnapshotSecretSet>\r\n    <SnapshotSecret i:nil=\"true\" />\r\n  </Snapshot>\r\n  <TimeServer>\r\n    <Primary>time.windows.com</Primary>\r\n    <Secondary xmlns:d3p1=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\r\n      <d3p1:string>3.in.pool.ntp.org</d3p1:string>\r\n    </Secondary>\r\n    <TimeZone>Pacific Standard Time</TimeZone>\r\n  </TimeServer>\r\n  <WebProxy>\r\n    <Authentication>None</Authentication>\r\n    <ConnectionURI></ConnectionURI>\r\n    <Username></Username>\r\n  </WebProxy>\r\n  <SecretEncryptionCertThumbprint i:nil=\"true\" />\r\n  <RemoteMgmtSettingsInfo>\r\n    <RemoteManagementMode>Disabled</RemoteManagementMode>\r\n  </RemoteMgmtSettingsInfo>\r\n  <RemoteMinishellSecretInfo>\r\n    <IsMinishellSecretSet>true</IsMinishellSecretSet>\r\n    <MinishellSecret i:nil=\"true\" />\r\n  </RemoteMinishellSecretInfo>\r\n  <Type>Appliance</Type>\r\n  <VirtualApplianceProperties i:nil=\"true\" />\r\n</DeviceDetails>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/52f290f6-ea2a-4c39-9bbc-1070047a0ef0/cloudservices/CisService-TRSY36RJLI3GVRJMZY4JKFKNS7HAHME3QGSESC5TVYOUXQUFW4NQ-west-us/resources/CISBVT2/~/CisVault/onesdk-p2/devices/865e68f6-1e71-47b6-80d5-15d3a23bd2b0?api-version=2014-01-01.3.0",
      "RequestMethod": "PUT",
      "RequestBody": "<DeviceDetails_V3 xmlns=\"http://windowscloudbackup.com/CiS/V2013_03\">\r\n  <InstanceId>865e68f6-1e71-47b6-80d5-15d3a23bd2b0</InstanceId>\r\n  <Name></Name>\r\n  <OperationInProgress>None</OperationInProgress>\r\n  <AlertNotification>\r\n    <AlertNotifcationCulture>en-US</AlertNotifcationCulture>\r\n    <AlertNotifcationEnabled>true</AlertNotifcationEnabled>\r\n    <AlertNotificationEmailList>\r\n      <string xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">test3821@test.com</string>\r\n      <string xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">test5394@test.com</string>\r\n      <string xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">test5230@test.com</string>\r\n      <string xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">test1099@test.com</string>\r\n    </AlertNotificationEmailList>\r\n    <AlertNotificationEnabled[...]
