// <auto-generated>
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is
// regenerated.
// </auto-generated>

namespace Microsoft.Azure.CognitiveServices.FormRecognizer
{
    using Models;
    using System.Collections;
    using System.Collections.Generic;
    using System.IO;
    using System.Threading;
    using System.Threading.Tasks;

    /// <summary>
    /// Extension methods for FormRecognizerClient.
    /// </summary>
    public static partial class FormRecognizerClientExtensions
    {
            /// <summary>
            /// Train Model
            /// </summary>
            /// <remarks>
            /// The train request must include a source parameter that is either an
            /// externally accessible Azure Storage blob container Uri (preferably a Shared
            /// Access Signature Uri) or valid path to a data folder in a locally mounted
            /// drive. When local paths are specified, they must follow the Linux/Unix path
            /// format and be an absolute path rooted to the input mount configuration
            /// setting value e.g., if '{Mounts:Input}' configuration setting value is
            /// '/input' then a valid source path would be '/input/contosodataset'. All
            /// data to be trained are expected to be under the source. Models are trained
            /// using documents that are of the following content type - 'application/pdf',
            /// 'image/jpeg' and 'image/png'."
            /// Other content is ignored when training a model.
            /// </remarks>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            /// <param name='trainRequest'>
            /// Request object for training.
            /// </param>
            public static TrainResult TrainCustomModel(this IFormRecognizerClient operations, TrainRequest trainRequest)
            {
                return operations.TrainCustomModelAsync(trainRequest).GetAwaiter().GetResult();
            }

            /// <summary>
            /// Train Model
            /// </summary>
            /// <remarks>
            /// The train request must include a source parameter that is either an
            /// externally accessible Azure Storage blob container Uri (preferably a Shared
            /// Access Signature Uri) or valid path to a data folder in a locally mounted
            /// drive. When local paths are specified, they must follow the Linux/Unix path
            /// format and be an absolute path rooted to the input mount configuration
            /// setting value e.g., if '{Mounts:Input}' configuration setting value is
            /// '/input' then a valid source path would be '/input/contosodataset'. All
            /// data to be trained are expected to be under the source. Models are trained
            /// using documents that are of the following content type - 'application/pdf',
            /// 'image/jpeg' and 'image/png'."
            /// Other content is ignored when training a model.
            /// </remarks>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            /// <param name='trainRequest'>
            /// Request object for training.
            /// </param>
            /// <param name='cancellationToken'>
            /// The cancellation token.
            /// </param>
            public static async Task<TrainResult> TrainCustomModelAsync(this IFormRecognizerClient operations, TrainRequest trainRequest, CancellationToken cancellationToken = default(CancellationToken))
            {
                using (var _result = await operations.TrainCustomModelWithHttpMessagesAsync(trainRequest, null, cancellationToken).ConfigureAwait(false))
                {
                    return _result.Body;
                }
            }

            /// <summary>
            /// Get Keys
            /// </summary>
            /// <remarks>
            /// Use the API to retrieve the keys that were
            /// extracted by the specified model.
            /// </remarks>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            /// <param name='id'>
            /// Model identifier.
            /// </param>
            public static KeysResult GetExtractedKeys(this IFormRecognizerClient operations, System.Guid id)
            {
                return operations.GetExtractedKeysAsync(id).GetAwaiter().GetResult();
            }

            /// <summary>
            /// Get Keys
            /// </summary>
            /// <remarks>
            /// Use the API to retrieve the keys that were
            /// extracted by the specified model.
            /// </remarks>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            /// <param name='id'>
            /// Model identifier.
            /// </param>
            /// <param name='cancellationToken'>
            /// The cancellation token.
            /// </param>
            public static async Task<KeysResult> GetExtractedKeysAsync(this IFormRecognizerClient operations, System.Guid id, CancellationToken cancellationToken = default(CancellationToken))
            {
                using (var _result = await operations.GetExtractedKeysWithHttpMessagesAsync(id, null, cancellationToken).ConfigureAwait(false))
                {
                    return _result.Body;
                }
            }

            /// <summary>
            /// Get Models
            /// </summary>
            /// <remarks>
            /// Get information about all trained models
            /// </remarks>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            public static ModelsResult GetCustomModels(this IFormRecognizerClient operations)
            {
                return operations.GetCustomModelsAsync().GetAwaiter().GetResult();
            }

            /// <summary>
            /// Get Models
            /// </summary>
            /// <remarks>
            /// Get information about all trained models
            /// </remarks>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            /// <param name='cancellationToken'>
            /// The cancellation token.
            /// </param>
            public static async Task<ModelsResult> GetCustomModelsAsync(this IFormRecognizerClient operations, CancellationToken cancellationToken = default(CancellationToken))
            {
                using (var _result = await operations.GetCustomModelsWithHttpMessagesAsync(null, cancellationToken).ConfigureAwait(false))
                {
                    return _result.Body;
                }
            }

            /// <summary>
            /// Get Model
            /// </summary>
            /// <remarks>
            /// Get information about a model.
            /// </remarks>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            /// <param name='id'>
            /// Model identifier.
            /// </param>
            public static ModelResult GetCustomModel(this IFormRecognizerClient operations, System.Guid id)
            {
                return operations.GetCustomModelAsync(id).GetAwaiter().GetResult();
            }

            /// <summary>
            /// Get Model
            /// </summary>
            /// <remarks>
            /// Get information about a model.
            /// </remarks>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            /// <param name='id'>
            /// Model identifier.
            /// </param>
            /// <param name='cancellationToken'>
            /// The cancellation token.
            /// </param>
            public static async Task<ModelResult> GetCustomModelAsync(this IFormRecognizerClient operations, System.Guid id, CancellationToken cancellationToken = default(CancellationToken))
            {
                using (var _result = await operations.GetCustomModelWithHttpMessagesAsync(id, null, cancellationToken).ConfigureAwait(false))
                {
                    return _result.Body;
                }
            }

            /// <summary>
            /// Delete Model
            /// </summary>
            /// <remarks>
            /// Delete model artifacts.
            /// </remarks>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            /// <param name='id'>
            /// The identifier of the model to delete.
            /// </param>
            public static void DeleteCustomModel(this IFormRecognizerClient operations, System.Guid id)
            {
                operations.DeleteCustomModelAsync(id).GetAwaiter().GetResult();
            }

            /// <summary>
            /// Delete Model
            /// </summary>
            /// <remarks>
            /// Delete model artifacts.
            /// </remarks>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            /// <param name='id'>
            /// The identifier of the model to delete.
            /// </param>
            /// <param name='cancellationToken'>
            /// The cancellation token.
            /// </param>
            public static async Task DeleteCustomModelAsync(this IFormRecognizerClient operations, System.Guid id, CancellationToken cancellationToken = default(CancellationToken))
            {
                (await operations.DeleteCustomModelWithHttpMessagesAsync(id, null, cancellationToken).ConfigureAwait(false)).Dispose();
            }

            /// <summary>
            /// Analyze Form
            /// </summary>
            /// <remarks>
            /// The document to analyze must be of a supported content type -
            /// 'application/pdf', 'image/jpeg' or 'image/png'. The response contains not
            /// just the extracted information of the analyzed form but also information
            /// about content that was not extracted along with a reason.
            /// </remarks>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            /// <param name='id'>
            /// Model Identifier to analyze the document with.
            /// </param>
            /// <param name='formStream'>
            /// A pdf document or image (jpg,png) file to analyze.
            /// </param>
            /// <param name='keys'>
            /// An optional list of known keys to extract the values for.
            /// </param>
            public static AnalyzeResult AnalyzeWithCustomModel(this IFormRecognizerClient operations, System.Guid id, Stream formStream, IList<string> keys = default(IList<string>))
            {
                return operations.AnalyzeWithCustomModelAsync(id, formStream, keys).GetAwaiter().GetResult();
            }

            /// <summary>
            /// Analyze Form
            /// </summary>
            /// <remarks>
            /// The document to analyze must be of a supported content type -
            /// 'application/pdf', 'image/jpeg' or 'image/png'. The response contains not
            /// just the extracted information of the analyzed form but also information
            /// about content that was not extracted along with a reason.
            /// </remarks>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            /// <param name='id'>
            /// Model Identifier to analyze the document with.
            /// </param>
            /// <param name='formStream'>
            /// A pdf document or image (jpg,png) file to analyze.
            /// </param>
            /// <param name='keys'>
            /// An optional list of known keys to extract the values for.
            /// </param>
            /// <param name='cancellationToken'>
            /// The cancellation token.
            /// </param>
            public static async Task<AnalyzeResult> AnalyzeWithCustomModelAsync(this IFormRecognizerClient operations, System.Guid id, Stream formStream, IList<string> keys = default(IList<string>), CancellationToken cancellationToken = default(CancellationToken))
            {
                using (var _result = await operations.AnalyzeWithCustomModelWithHttpMessagesAsync(id, formStream, keys, null, cancellationToken).ConfigureAwait(false))
                {
                    return _result.Body;
                }
            }

    }
}
