{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {},
        "subscriptionId": "f9b96b36-1f5e-4021-8959-51527e26e6d3",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "CS-Platform-Dev-01",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourcegroups/testRG-2558?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "centralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-2558",
        "name": "testRG-2558",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "centralus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-2558/providers/Microsoft.CognitiveServices/accounts/testAccount-2972?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "OpenAI",
        "sku": {
          "name": "S0"
        },
        "properties": {},
        "tags": {},
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncoperation": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/eastus/operationResults/39eba4d6-2788-4ff0-b706-0914734d52ef?api-version=2017-04-18",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ce00798b-0000-0100-0000-648a9cef0000\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-2558/providers/Microsoft.CognitiveServices/accounts/testAccount-2972",
        "name": "testAccount-2972",
        "type": "Microsoft.CognitiveServices/accounts",
        "etag": "\u0022ce00798b-0000-0100-0000-648a9cef0000\u0022",
        "location": "eastus",
        "sku": {
          "name": "S0"
        },
        "kind": "OpenAI",
        "tags": {},
        "properties": {
          "endpoint": "https://eastus.api.cognitive.microsoft.com/",
          "internalId": "46fd62bd656b44edab2e3436992ac71f",
          "dateCreated": "2023-06-15T05:09:03.6519268Z",
          "callRateLimit": {
            "rules": [
              {
                "key": "openai.dalle.post",
                "renewalPeriod": 1,
                "count": 30,
                "matchPatterns": [
                  {
                    "path": "dalle/*",
                    "method": "POST"
                  },
                  {
                    "path": "openai/images/*",
                    "method": "POST"
                  }
                ]
              },
              {
                "key": "openai.dalle.other",
                "renewalPeriod": 1,
                "count": 30,
                "matchPatterns": [
                  {
                    "path": "dalle/*",
                    "method": "*"
                  },
                  {
                    "path": "openai/operations/images/*",
                    "method": "*"
                  }
                ]
              },
              {
                "key": "openai",
                "renewalPeriod": 1,
                "count": 30,
                "matchPatterns": [
                  {
                    "path": "openai/*",
                    "method": "*"
                  }
                ]
              },
              {
                "key": "default",
                "renewalPeriod": 1,
                "count": 30,
                "matchPatterns": [
                  {
                    "path": "*",
                    "method": "*"
                  }
                ]
              }
            ]
          },
          "isMigrated": false,
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled",
          "capabilities": [
            {
              "name": "VirtualNetworks"
            },
            {
              "name": "CustomerManagedKey"
            },
            {
              "name": "MaxFineTuneCount",
              "value": "100"
            },
            {
              "name": "MaxRunningFineTuneCount",
              "value": "1"
            },
            {
              "name": "MaxUserFileCount",
              "value": "50"
            },
            {
              "name": "MaxTrainingFileSize",
              "value": "100000000"
            },
            {
              "name": "MaxUserFileImportDurationInHours",
              "value": "1"
            },
            {
              "name": "MaxFineTuneJobDurationInHours",
              "value": "720"
            },
            {
              "name": "BypassBilling"
            },
            {
              "name": "raiLevelOverride"
            }
          ],
          "endpoints": {
            "OpenAI Language Model Instance API": "https://eastus.api.cognitive.microsoft.com/",
            "OpenAI Dall-E API": "https://eastus.api.cognitive.microsoft.com/",
            "OpenAI Whisper API": "https://eastus.api.cognitive.microsoft.com/"
          },
          "provisioningState": "Creating"
        },
        "systemData": {
          "createdBy": "50841d5f-166a-406c-8472-6800c9698b43",
          "createdByType": "Application",
          "createdAt": "2023-06-15T05:09:03.4983005Z",
          "lastModifiedBy": "50841d5f-166a-406c-8472-6800c9698b43",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-15T05:09:03.4983005Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/eastus/operationResults/39eba4d6-2788-4ff0-b706-0914734d52ef?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11983"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/eastus/operationResults/39eba4d6-2788-4ff0-b706-0914734d52ef",
        "name": "39eba4d6-2788-4ff0-b706-0914734d52ef",
        "status": "Creating",
        "startTime": "2023-06-15T05:09:03Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/eastus/operationResults/39eba4d6-2788-4ff0-b706-0914734d52ef?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11975"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/eastus/operationResults/39eba4d6-2788-4ff0-b706-0914734d52ef",
        "name": "39eba4d6-2788-4ff0-b706-0914734d52ef",
        "status": "Succeeded",
        "startTime": "2023-06-15T05:09:03Z",
        "endTime": "2023-06-15T05:09:48Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-2558/providers/Microsoft.CognitiveServices/accounts/testAccount-2972/deployments/testDeployment-4371?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard",
          "capacity": 1
        },
        "properties": {
          "model": {
            "format": "OpenAI",
            "name": "text-ada-001",
            "version": "1"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022f7826a05-68f4-434d-b896-e787dfd11b6a\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-2558/providers/Microsoft.CognitiveServices/accounts/testAccount-2972/deployments/testDeployment-4371",
        "type": "Microsoft.CognitiveServices/accounts/deployments",
        "name": "testDeployment-4371",
        "sku": {
          "name": "Standard",
          "capacity": 1
        },
        "properties": {
          "model": {
            "format": "OpenAI",
            "name": "text-ada-001",
            "version": "1"
          },
          "versionUpgradeOption": "OnceNewDefaultVersionAvailable",
          "capabilities": {
            "completion": "true",
            "search": "true"
          },
          "provisioningState": "Succeeded",
          "ratelimits": [
            {
              "key": "request",
              "renewalPeriod": 10,
              "count": 2
            },
            {
              "key": "token",
              "renewalPeriod": 60,
              "count": 1000
            }
          ]
        },
        "systemData": {
          "createdBy": "50841d5f-166a-406c-8472-6800c9698b43",
          "createdByType": "Application",
          "createdAt": "2023-06-15T05:10:10.920717Z",
          "lastModifiedBy": "50841d5f-166a-406c-8472-6800c9698b43",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-15T05:10:10.920717Z"
        },
        "etag": "\u0022f7826a05-68f4-434d-b896-e787dfd11b6a\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-2558/providers/Microsoft.CognitiveServices/accounts/testAccount-2972/deployments/testDeployment-4371?api-version=2023-05-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "807047928",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "f9b96b36-1f5e-4021-8959-51527e26e6d3"
  }
}
