{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11862"
      },
      "ResponseBody": {
        "id": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMS12882909": "20220707"
        },
        "subscriptionId": "e29c162a-d1d4-4cc3-8295-80057c1f4bd9",
        "tenantId": "0483643a-cb2f-462a-bc27-1a270e5bdc0a",
        "displayName": "KAILANI-INT-02",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourcegroups/afs-sdk-rg400?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1172"
      },
      "ResponseBody": {
        "id": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg400",
        "name": "afs-sdk-rg400",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg400/providers/Microsoft.StorageSync/storageSyncServices/afs-sdk-sss-create7061?api-version=2022-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "centraluseuap",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6ImQzNzYwNTgzLWM0MGItNGIxZC1hMjFkLWM1Nzc1MDgyMWE4MyIsIndvcmtmbG93SWQiOiIxZDI0NjE5Ny1lNGU0LTRiMDctOWQyNy04NzIwNWJlNjUzZTIiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiYTBhMjI2MjQtZjIxMS00ZjEyLTg0NjQtMWQxYjJhYzJhZjAwIn0=?api-version=2022-06-01",
        "Location": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6ImQzNzYwNTgzLWM0MGItNGIxZC1hMjFkLWM1Nzc1MDgyMWE4MyIsIndvcmtmbG93SWQiOiIxZDI0NjE5Ny1lNGU0LTRiMDctOWQyNy04NzIwNWJlNjUzZTIiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiYTBhMjI2MjQtZjIxMS00ZjEyLTg0NjQtMWQxYjJhYzJhZjAwIn0=?api-version=2022-06-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1171",
        "X-ServiceFabricRequestId": "04d3735c-75a1-48be-b97a-417187afcb8b"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6ImQzNzYwNTgzLWM0MGItNGIxZC1hMjFkLWM1Nzc1MDgyMWE4MyIsIndvcmtmbG93SWQiOiIxZDI0NjE5Ny1lNGU0LTRiMDctOWQyNy04NzIwNWJlNjUzZTIiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiYTBhMjI2MjQtZjIxMS00ZjEyLTg0NjQtMWQxYjJhYzJhZjAwIn0=?api-version=2022-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11861",
        "X-ServiceFabricRequestId": "618e3122-d679-4ae3-8eca-cf467fc4e60c"
      },
      "ResponseBody": {
        "id": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6ImQzNzYwNTgzLWM0MGItNGIxZC1hMjFkLWM1Nzc1MDgyMWE4MyIsIndvcmtmbG93SWQiOiIxZDI0NjE5Ny1lNGU0LTRiMDctOWQyNy04NzIwNWJlNjUzZTIiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiYTBhMjI2MjQtZjIxMS00ZjEyLTg0NjQtMWQxYjJhYzJhZjAwIn0=",
        "name": "eyJwYXJ0aXRpb25JZCI6ImQzNzYwNTgzLWM0MGItNGIxZC1hMjFkLWM1Nzc1MDgyMWE4MyIsIndvcmtmbG93SWQiOiIxZDI0NjE5Ny1lNGU0LTRiMDctOWQyNy04NzIwNWJlNjUzZTIiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiYTBhMjI2MjQtZjIxMS00ZjEyLTg0NjQtMWQxYjJhYzJhZjAwIn0=",
        "status": "Accepted",
        "startTime": "2022-10-14T23:38:40.1347899Z",
        "endTime": "2022-10-14T23:38:40.1347901Z",
        "percentComplete": null,
        "error": null,
        "properties": {}
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg400/providers/Microsoft.StorageSync/storageSyncServices/afs-sdk-sss-create7061?api-version=2022-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11854",
        "X-ServiceFabricRequestId": "1f6b6786-c0e9-4063-90a7-713609eb4865"
      },
      "ResponseBody": {
        "properties": {
          "storageSyncServiceStatus": 0,
          "storageSyncServiceUid": null,
          "incomingTrafficPolicy": "AllowAllTraffic",
          "privateEndpointConnections": [],
          "provisioningState": "Succeeded",
          "lastWorkflowId": "storageSyncServices/afs-sdk-sss-create7061/workflows/1d246197-e4e4-4b07-9d27-87205be653e2",
          "lastOperationName": "ICreateStorageSyncServiceWorkflow"
        },
        "location": "centraluseuap",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "id": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg400/providers/Microsoft.StorageSync/storageSyncServices/afs-sdk-sss-create7061",
        "name": "afs-sdk-sss-create7061",
        "type": "Microsoft.StorageSync/storageSyncServices",
        "systemData": {
          "createdBy": "c8b36958-2a0a-423d-bba9-98ff3af75f58",
          "createdByType": "Application",
          "createdAt": "2022-10-14T23:38:39.8798918Z",
          "lastModifiedBy": "c8b36958-2a0a-423d-bba9-98ff3af75f58",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-10-14T23:38:39.8798918Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg400/providers/Microsoft.StorageSync/storageSyncServices?api-version=2022-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11853",
        "X-ServiceFabricRequestId": "699834f2-3ee1-4699-bd17-b7fe2dacf7ff"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "storageSyncServiceStatus": 0,
              "storageSyncServiceUid": null,
              "incomingTrafficPolicy": "AllowAllTraffic",
              "privateEndpointConnections": [],
              "provisioningState": "Succeeded",
              "lastWorkflowId": "storageSyncServices/afs-sdk-sss-create7061/workflows/1d246197-e4e4-4b07-9d27-87205be653e2",
              "lastOperationName": "ICreateStorageSyncServiceWorkflow"
            },
            "location": "centraluseuap",
            "tags": {
              "key1": "value1",
              "key2": "value2"
            },
            "id": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg400/providers/Microsoft.StorageSync/storageSyncServices/afs-sdk-sss-create7061",
            "name": "afs-sdk-sss-create7061",
            "type": "Microsoft.StorageSync/storageSyncServices",
            "systemData": {
              "createdBy": "c8b36958-2a0a-423d-bba9-98ff3af75f58",
              "createdByType": "Application",
              "createdAt": "2022-10-14T23:38:39.8798918Z",
              "lastModifiedBy": "c8b36958-2a0a-423d-bba9-98ff3af75f58",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2022-10-14T23:38:39.8798918Z"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/storageSyncServices?api-version=2022-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "58507f49-09bd-444c-9de5-7351703286de",
          "276aab51-db98-4269-8616-7340bc35fbbe",
          "9a7f4d19-5e63-47f3-a2c7-88a1cb80c4c2",
          "024c89af-f128-409e-afbd-2611e9cb50fb"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11852"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "storageSyncServiceStatus": 0,
              "storageSyncServiceUid": null,
              "incomingTrafficPolicy": "Al[...]
