{
  "Entries": [
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/serverCalls/3500789f-e11b-4ceb-85cb-bc8df2a01768/:join?api-version=2021-06-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "source": {
          "communicationUser": {
            "id": "8:acs:016a7064-0581-40b9-be73-6dde64d69d72_e3560385-776f-41d1-bf04-07ef738f2f23"
          }
        },
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "requestedMediaTypes": [
          "audio"
        ],
        "requestedCallEvents": [
          "participantsUpdated"
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "b1821f7c-71c7-4b8e-a9d3-08ac34365333"
      },
      "ResponseBody": {
        "callLegId": "1f201300-51c4-4357-927c-cb604c8985b5",
        "callConnectionId": "1f201300-51c4-4357-927c-cb604c8985b5"
      }
    },
[...]
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/serverCalls/3500789f-e11b-4ceb-85cb-bc8df2a01768/recordings?api-version=2021-06-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "recordingStateCallbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "a8242408-39ee-4500-8348-3e00bed80a0c"
      },
      "ResponseBody": {
        "recordingId": "eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiIxZjIwMTMwMC05M2ZkLTRhYzctYTI3My03OGZlYWM1ZWE3NDkiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiI4OWVkYzEzNS04NjFiLTRkYTgtYTM0Mi0wY2FlNDU3YjNlYzUifQ"
      }
    },
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/serverCalls/3500789f-e11b-4ceb-85cb-bc8df2a01768/recordings/eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiIxZjIwMTMwMC05M2ZkLTRhYzctYTI3My03OGZlYWM1ZWE3NDkiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiI4OWVkYzEzNS04NjFiLTRkYTgtYTM0Mi0wY2FlNDU3YjNlYzUifQ?api-version=2021-06-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "1ff93f18-b521-4b06-834f-b050e15e5610"
      },
      "ResponseBody": {
        "recordingState": "active"
      }
    },
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/serverCalls/3500789f-e11b-4ceb-85cb-bc8df2a01768/recordings/eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiIxZjIwMTMwMC05M2ZkLTRhYzctYTI3My03OGZlYWM1ZWE3NDkiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiI4OWVkYzEzNS04NjFiLTRkYTgtYTM0Mi0wY2FlNDU3YjNlYzUifQ/:pause?api-version=2021-06-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "dd4a3742-c0c2-4989-9bb0-5c45312d2153"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/serverCalls/3500789f-e11b-4ceb-85cb-bc8df2a01768/recordings/eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiIxZjIwMTMwMC05M2ZkLTRhYzctYTI3My03OGZlYWM1ZWE3NDkiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiI4OWVkYzEzNS04NjFiLTRkYTgtYTM0Mi0wY2FlNDU3YjNlYzUifQ/:resume?api-version=2021-06-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "5d8e71d6-3f59-469e-8ee4-2a6b7bc07e91"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/serverCalls/3500789f-e11b-4ceb-85cb-bc8df2a01768/recordings/eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiIxZjIwMTMwMC05M2ZkLTRhYzctYTI3My03OGZlYWM1ZWE3NDkiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiI4OWVkYzEzNS04NjFiLTRkYTgtYTM0Mi0wY2FlNDU3YjNlYzUifQ?api-version=2021-06-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "4e60dce4-e904-48e3-a659-4353f82e2dc0"
      },
      "ResponseBody": {
        "error": {
          "code": "8501",
          "message": "Action is invalid when call is not in Established state"
        }
      }
    },
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/callConnections/1f201300-51c4-4357-927c-cb604c8985b5/:hangup?api-version=2021-06-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "00f3c768-aff6-4c17-a1c0-b074e2912e05"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/callConnections/1f201300-9f74-415a-bc11-e8a94626e835/:hangup?api-version=2021-06-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "61de7f9a-f402-4d36-99ec-f211d3d6b3db"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://acstestbot1.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1054033129"
  }
}