{
  "Entries": [
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/serverCalls/3500789f-e11b-4ceb-85cb-bc8df2a01768/:join?api-version=2021-06-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 24 Jun 2021 20:34:50 GMT"
      },
      "RequestBody": {
        "source": {
          "communicationUser": {
            "id": "8:acs:016a7064-0581-40b9-be73-6dde64d69d72_e3560385-776f-41d1-bf04-07ef738f2f23"
          }
        },
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "requestedMediaTypes": [
          "audio"
        ],
        "requestedCallEvents": [
          "participantsUpdated"
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "f1c1317b-d9e2-42aa-bcf8-0710382bf383"
      },
      "ResponseBody": {
        "callLegId": "01000b80-52c4-44c6-ab44-5baf09dcbcd7",
        "callConnectionId": "01000b80-52c4-44c6-ab44-5baf09dcbcd7"
      }
    },
[...]
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/serverCalls/3500789f-e11b-4ceb-85cb-bc8df2a01768/recordings?api-version=2021-06-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 24 Jun 2021 20:34:53 GMT"
      },
      "RequestBody": {
        "recordingStateCallbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "9e0853f6-4d4f-4b1f-9daa-6f02524b130c"
      },
      "ResponseBody": {
        "recordingId": "eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiIwMTAwMGI4MC0zODAwLTQ1NWUtODAzZS0wZTk1YjJiMjc0ZjkiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiI3MDE1NDNmNC1jNTM5LTRhMzMtYTY4Ni04MDU2ODNiN2YxNzUifQ"
      }
    },
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/serverCalls/3500789f-e11b-4ceb-85cb-bc8df2a01768/recordings/eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiIwMTAwMGI4MC0zODAwLTQ1NWUtODAzZS0wZTk1YjJiMjc0ZjkiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiI3MDE1NDNmNC1jNTM5LTRhMzMtYTY4Ni04MDU2ODNiN2YxNzUifQ?api-version=2021-06-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 24 Jun 2021 20:35:01 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "d07524cc-c913-4851-9c34-6bbca7a8584a"
      },
      "ResponseBody": {
        "recordingState": "active"
      }
    },
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/serverCalls/3500789f-e11b-4ceb-85cb-bc8df2a01768/recordings/eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiIwMTAwMGI4MC0zODAwLTQ1NWUtODAzZS0wZTk1YjJiMjc0ZjkiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiI3MDE1NDNmNC1jNTM5LTRhMzMtYTY4Ni04MDU2ODNiN2YxNzUifQ/:pause?api-version=2021-06-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 24 Jun 2021 20:35:01 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "eeab75ed-c7cf-450a-a18d-6e670646f453"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/serverCalls/3500789f-e11b-4ceb-85cb-bc8df2a01768/recordings/eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiIwMTAwMGI4MC0zODAwLTQ1NWUtODAzZS0wZTk1YjJiMjc0ZjkiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiI3MDE1NDNmNC1jNTM5LTRhMzMtYTY4Ni04MDU2ODNiN2YxNzUifQ/:resume?api-version=2021-06-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 24 Jun 2021 20:35:07 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "4159b673-9ae4-43c0-a250-09f9d6e30f87"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/serverCalls/3500789f-e11b-4ceb-85cb-bc8df2a01768/recordings/eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiIwMTAwMGI4MC0zODAwLTQ1NWUtODAzZS0wZTk1YjJiMjc0ZjkiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiI3MDE1NDNmNC1jNTM5LTRhMzMtYTY4Ni04MDU2ODNiN2YxNzUifQ?api-version=2021-06-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 24 Jun 2021 20:35:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "2891fba2-ef7d-4d98-bede-fdcf8fa48662"
      },
      "ResponseBody": {
        "error": {
          "code": "8522",
          "message": "Recording not found."
        }
      }
    },
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/callConnections/01000b80-52c4-44c6-ab44-5baf09dcbcd7/:hangup?api-version=2021-06-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 24 Jun 2021 20:35:24 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "80fa797f-e0ba-4897-acc6-50290ba7b8c3"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/callConnections/01000b80-7812-4d0f-8528-a83ff53cf8d9/:hangup?api-version=2021-06-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 24 Jun 2021 20:35:24 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "03a9cb0d-a73d-4fea-ab0c-9d507154dbf7"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://acstestbot1.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "502582709"
  }
}