{
  "Entries": [
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/serverCalls/3500769f-e11b-4ceb-85cb-bc8df2a01768/:join?api-version=2021-06-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 12 Aug 2021 06:30:27 GMT"
      },
      "RequestBody": {
        "source": {
          "communicationUser": {
            "id": "8:acs:016a7064-0581-40b9-be73-6dde64d69d72_e3560385-776f-41d1-bf04-07ef738f2f23"
          }
        },
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "requestedMediaTypes": [
          "audio"
        ],
        "requestedCallEvents": [
          "participantsUpdated"
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "78eb1723-0682-440b-bde3-5c064c2f12f5"
      },
      "ResponseBody": {
        "callConnectionId": "00000480-8bcd-4f06-841b-a6b2c4ef9233"
      }
    },
[...]
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/serverCalls/3500769f-e11b-4ceb-85cb-bc8df2a01768/:playAudio?api-version=2021-06-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 12 Aug 2021 06:30:41 GMT"
      },
      "RequestBody": {
        "audioFileUri": "https://dummy.ngrok.io/audio/sample-message.wav",
        "loop": false,
        "operationContext": "de346f03-7f8d-41ab-a232-cc5e14990769",
        "audioFileId": "ebb1d98d-fd86-4204-800c-f7bdfc2e515c",
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "c4f801a3-2e45-4a3b-bc99-73f7ad05eb46"
      },
      "ResponseBody": {
        "operationId": "00000480-f9cc-416a-933c-b550992170af",
        "status": "running",
        "operationContext": "de346f03-7f8d-41ab-a232-cc5e14990769"
      }
    },
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/callConnections/00000480-8bcd-4f06-841b-a6b2c4ef9233/:cancelAllMediaOperations?api-version=2021-06-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 12 Aug 2021 06:30:52 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "0615d8bb-91af-42a9-9057-e7559cd1ef40"
      },
      "ResponseBody": {
        "operationId": "66219d40-0a81-4ce2-8017-397d0617fbde",
        "status": "completed"
      }
    },
[...]
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/callConnections/00000480-8bcd-4f06-841b-a6b2c4ef9233/:hangup?api-version=2021-06-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 12 Aug 2021 06:31:03 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "39c86731-65b6-4ac3-bf45-a0d5daf4586c"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/callConnections/00000480-0942-4854-9f5d-9655d90f27f7/:hangup?api-version=2021-06-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 12 Aug 2021 06:31:03 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "5b9928b5-0656-413a-a4c4-5b82c625d816"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://acstestbot1.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1656122379"
  }
}