{
  "Entries": [
    {
        "RequestUri": "https://acstestbot1.communication.azure.com/calling/serverCalls/f8c9bb0a-25ec-408d-b335-266dcc0c0c9a/:join?api-version=2021-08-30-preview",
        "RequestMethod": "POST",
        "RequestHeaders": {
            "Authorization": "Sanitized",
            "Content-Type": "application/json",
            "x-ms-content-sha256": "Sanitized",
            "x-ms-date": "Thu, 12 Aug 2021 06:26:02 GMT"
        },
        "RequestBody": {
            "source": {
                "communicationUser": {
                    "id": "8:acs:016a7064-0581-40b9-be73-6dde64d69d72_e3560385-776f-41d1-bf04-07ef738f2f23"
                }
            },
            "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
            "requestedMediaTypes": [
                "audio"
            ],
            "requestedCallEvents": [
                "participantsUpdated"
            ]
        },
        "StatusCode": 202,
        "ResponseHeaders": {
            "Content-Type": "application/json; charset=utf-8",
            "X-Microsoft-Skype-Chain-ID": "2ddf3b04-6ed8-4b4d-8154-621af3fbd9d4"
        },
        "ResponseBody": {
            "callConnectionId": "00000b80-05c6-40eb-9e74-195a033ba1e1"
        }
    },
[...]
    {
        "RequestUri": "https://acstestbot1.communication.azure.com/calling/serverCalls/f8c9bb0a-25ec-408d-b335-266dcc0c0c9a/participants?api-version=2021-08-30-preview",
        "RequestMethod": "POST",
        "RequestHeaders": {
            "Authorization": "Sanitized",
            "Content-Type": "application/json",
            "x-ms-content-sha256": "Sanitized",
            "x-ms-date": "Thu, 12 Aug 2021 06:26:16 GMT"
        },
        "RequestBody": {
            "participant": {
                "communicationUser": {
                    "id": "8:acs:016a7064-0581-40b9-be73-6dde64d69d72_0000000b-d8d8-aaa3-3ef0-8b3a0d002f3f"
                }
            },
            "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld"
        },
        "StatusCode": 202,
        "ResponseHeaders": {
            "Content-Type": "application/json; charset=utf-8",
            "X-Microsoft-Skype-Chain-ID": "3e32e7c5-5a34-470f-84d7-0614c1e9d3bc"
        },
        "ResponseBody": {
            "participantId": "2c19bbf9-2a72-4e12-a5ab-cce64fbb2205"
        }
    },
    {
        "RequestUri": "https://acstestbot1.communication.azure.com/calling/serverCalls/f8c9bb0a-25ec-408d-b335-266dcc0c0c9a/participants/2c19bbf9-2a72-4e12-a5ab-cce64fbb2205?api-version=2021-08-30-preview",
        "RequestMethod": "DELETE",
        "RequestHeaders": {
            "Authorization": "Sanitized",
            "x-ms-content-sha256": "Sanitized",
            "x-ms-date": "Thu, 12 Aug 2021 06:26:26 GMT"
        },
        "RequestBody": null,
        "StatusCode": 202,
        "ResponseHeaders": {
            "X-Microsoft-Skype-Chain-ID": "7d24e5ed-c037-4f95-9334-688c5767dded"
        },
        "ResponseBody": []
    },
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/callConnections/00000b80-05c6-40eb-9e74-195a033ba1e1/:hangup?api-version=2021-08-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 12 Aug 2021 06:26:37 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "5359f98b-6c34-40db-b8d9-437e7998f450"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/callConnections/00000b80-46f6-431e-a6bb-f294d2db880f/:hangup?api-version=2021-08-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 12 Aug 2021 06:26:37 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "76a900ea-db6a-49f8-81fc-9b2ff2c43ff6"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://acstestbot1.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1522827907"
  }
}
