{
  "Entries": [
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/serverCalls/f8c9bb0a-25ec-408d-b335-266dcc0c0c9a/:join?api-version=2021-08-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 26 Aug 2021 17:39:23 GMT"
      },
      "RequestBody": {
        "source": {
          "communicationUser": {
            "id": "8:acs:016a7064-0581-40b9-be73-6dde64d69d72_e3560385-776f-41d1-bf04-07ef738f2f23"
          }
        },
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "requestedMediaTypes": [
          "audio"
        ],
        "requestedCallEvents": [
          "participantsUpdated"
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "d309902d-d6ab-49d7-8764-d8068da68743"
      },
      "ResponseBody": {
        "callConnectionId": "00000480-20e4-41aa-a91e-ec56f72a74f5"
      }
    },
[...]
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/serverCalls/f8c9bb0a-25ec-408d-b335-266dcc0c0c9a/:playAudio?api-version=2021-08-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 26 Aug 2021 17:39:36 GMT"
      },
      "RequestBody": {
        "audioFileUri": "https://dummy.ngrok.io/audio/sample-message.wav",
        "loop": false,
        "operationContext": "de346f03-7f8d-41ab-a232-cc5e14990769",
        "audioFileId": "ebb1d98d-fd86-4204-800c-f7bdfc2e515c",
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "afc4d57a-73ba-4773-be6e-545903389c94"
      },
      "ResponseBody": {
        "operationId": "00000480-8c08-4ad5-8281-3b9e9d2a9503",
        "status": "running",
        "operationContext": "de346f03-7f8d-41ab-a232-cc5e14990769"
      }
    },
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/callConnections/00000480-20e4-41aa-a91e-ec56f72a74f5/:cancelAllMediaOperations?api-version=2021-08-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 26 Aug 2021 17:39:47 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "fc032591-d6d3-4d2b-9fea-4cd5858cf474"
      },
      "ResponseBody": {
        "operationId": "a7a4d3f4-09ed-4964-b257-ad1f4411d841",
        "status": "completed"
      }
    },
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/callConnections/00000480-59f4-4ea5-b125-4e04ec69e4f5/:cancelAllMediaOperations?api-version=2021-08-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 26 Aug 2021 17:39:47 GMT"
      },
      "RequestBody": {},
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "ec892298-6481-4ba1-bafc-3a19a8cc474c"
      },
      "ResponseBody": {
        "error": {
          "code": "8522",
          "message": "Call not found."
        }
      }
    },
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/callConnections/00000480-20e4-41aa-a91e-ec56f72a74f5/:hangup?api-version=2021-08-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 26 Aug 2021 17:39:57 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "46d3169f-e0e5-473f-b73e-d7a0522b9cad"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/callConnections/00000480-59f4-4ea5-b125-4e04ec69e4f5/:hangup?api-version=2021-08-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 26 Aug 2021 17:39:57 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "a0c7ca77-8c85-43f3-a635-9efe50a57d5c"
      },
      "ResponseBody": {
        "error": {
          "code": "8522",
          "message": "Call not found."
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://acstestbot1.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1656122379"
  }
}