{
  "Entries": [
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/serverCalls/3500789f-e11b-4ceb-85cb-bc8df2a01768/:join?api-version=2021-06-15-preview",
      "RequestMethod": "POST",
        "RequestHeaders": {
            "Authorization": "Sanitized",
            "Content-Type": "application/json",
            "x-ms-content-sha256": "Sanitized",
            "x-ms-date": "Wed, 16 Jun 2021 06:19:57 GMT"
        },
      "RequestBody": {
        "source": {
          "communicationUser": {
            "id": "8:acs:016a7064-0581-40b9-be73-6dde64d69d72_e3560385-776f-41d1-bf04-07ef738f2f23"
          }
        },
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "requestedMediaTypes": [
          "audio"
        ],
        "requestedCallEvents": [
          "participantsUpdated"
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "5a3dc9d6-3a58-4a91-a32b-aae81af84c36"
      },
      "ResponseBody": {
        "callLegId": "86201300-42cd-440d-8c0c-9536b501ae43",
        "callConnectionId": "86201300-42cd-440d-8c0c-9536b501ae43"
      }
    },
[...]
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/serverCalls/3500789f-e11b-4ceb-85cb-bc8df2a01768/participants?api-version=2021-06-15-preview",
      "RequestMethod": "POST",
        "RequestHeaders": {
            "Authorization": "Sanitized",
            "Content-Type": "application/json",
            "x-ms-content-sha256": "Sanitized",
            "x-ms-date": "Wed, 16 Jun 2021 06:20:11 GMT"
        },
      "RequestBody": {
        "participant": {
          "communicationUser": {
            "id": "8:acs:016a7064-0581-40b9-be73-6dde64d69d72_0000000a-b200-7a0d-570c-113a0d00288d"
          }
        },
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "f2914421-4a9c-40c8-af49-c26181d7b1ec"
      },
      "ResponseBody": {
        "participantId": "458cd853-3a2a-4cba-bb73-e86570c59f92"
      }
    },
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/serverCalls/3500789f-e11b-4ceb-85cb-bc8df2a01768/participants/458cd853-3a2a-4cba-bb73-e86570c59f92?api-version=2021-06-15-preview",
      "RequestMethod": "DELETE",
        "RequestHeaders": {
            "Authorization": "Sanitized",
            "x-ms-content-sha256": "Sanitized",
            "x-ms-date": "Wed, 16 Jun 2021 06:20:22 GMT"
        },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "ac90b417-6b79-4f25-8082-187cef31bfc1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/callConnections/86201300-42cd-440d-8c0c-9536b501ae43/:hangup?api-version=2021-06-15-preview",
      "RequestMethod": "POST",
        "RequestHeaders": {
            "Authorization": "Sanitized",
            "x-ms-content-sha256": "Sanitized",
            "x-ms-date": "Wed, 16 Jun 2021 06:20:34 GMT"
        },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "e0e90ba5-2f82-4e21-baf6-825be0611d19"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/callConnections/86201300-2cfb-4d0e-8db8-2e11a994b2ed/:hangup?api-version=2021-06-15-preview",
      "RequestMethod": "POST",
        "RequestHeaders": {
            "Authorization": "Sanitized",
            "x-ms-content-sha256": "Sanitized",
            "x-ms-date": "Wed, 16 Jun 2021 06:20:34 GMT"
        },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "ec709066-aef6-41c1-9764-3bafa857452d"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://acstestbot1.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1522827907"
  }
}
