{
  "Entries": [
    {
      "RequestUri": "/luis/api/v2.0/apps/domains",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  \"Booking & Reference\",\r\n  \"Business\",\r\n  \"Comics\",\r\n  \"Communication\",\r\n  \"Education\",\r\n  \"Entertainment\",\r\n  \"Finance\",\r\n  \"Food & Nutrition\",\r\n  \"Gaming\",\r\n  \"Health & Fitness\",\r\n  \"Home Automation\",\r\n  \"Media & Video\",\r\n  \"Medical\",\r\n  \"Music & Audio\",\r\n  \"Navigation & Maps\",\r\n  \"News & Magazines\",\r\n  \"Personalization\",\r\n  \"Productivity\",\r\n  \"Real Estate\",\r\n  \"Scheduler\",\r\n  \"Shopping\",\r\n  \"Social Network\",\r\n  \"Sports\",\r\n  \"Telecom\",\r\n  \"Tools\",\r\n  \"Transportation\",\r\n  \"Translation\",\r\n  \"Travel & Local\",\r\n  \"Weather\",\r\n  \"Others\"\r\n]",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}