{
  "Entries": [
    {
      "RequestUri": "/luis/api/v2.0/apps/cultures",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"name\": \"English\",\r\n    \"code\": \"en-us\"\r\n  },\r\n  {\r\n    \"name\": \"Chinese\",\r\n    \"code\": \"zh-cn\"\r\n  },\r\n  {\r\n    \"name\": \"French\",\r\n    \"code\": \"fr-fr\"\r\n  },\r\n  {\r\n    \"name\": \"French Canadian\",\r\n    \"code\": \"fr-ca\"\r\n  },\r\n  {\r\n    \"name\": \"Spanish\",\r\n    \"code\": \"es-es\"\r\n  },\r\n  {\r\n    \"name\": \"Spanish Mexican\",\r\n    \"code\": \"es-mx\"\r\n  },\r\n  {\r\n    \"name\": \"Italian\",\r\n    \"code\": \"it-it\"\r\n  },\r\n  {\r\n    \"name\": \"German\",\r\n    \"code\": \"de-de\"\r\n  },\r\n  {\r\n    \"name\": \"Japanese\",\r\n    \"code\": \"ja-jp\"\r\n  },\r\n  {\r\n    \"name\": \"Brazilian Portuguese\",\r\n    \"code\": \"pt-br\"\r\n  },\r\n  {\r\n    \"name\": \"Korean\",\r\n    \"code\": \"ko-kr\"\r\n  },\r\n  {\r\n    \"name\": \"Dutch\",\r\n    \"code\": \"nl-nl\"\r\n  }\r\n]",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}