{
    "Entries": [
      {
        "RequestUri": "/luis/api/v2.0/apps/",
        "RequestMethod": "POST",
        "RequestBody": "{\r\n  \"culture\": \"en-us\",\r\n  \"domain\": \"Comics\",\r\n  \"description\": \"New LUIS App\",\r\n  \"usageScenario\": \"IoT\",\r\n  \"name\": \"LUIS App for Settings test\"\r\n}",
        "RequestHeaders": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Ocp-Apim-Subscription-Key": [
            "00000000000000000000000000000000"
          ]
        },
        "ResponseBody": "\"c6bfb3bc-74be-4d3e-bb88-6c844a8756d5\"",
        "ResponseHeaders": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Location": [
            "https://api.luis.ai/api/v2.0/apps/c6bfb3bc-74be-4d3e-bb88-6c844a8756d5"
          ],
          "Operation-Location": [
            "https://api.luis.ai/api/v2.0/apps/c6bfb3bc-74be-4d3e-bb88-6c844a8756d5"
          ]
        },
        "StatusCode": 201
      },
      {
        "RequestUri": "/luis/api/v2.0/apps/c6bfb3bc-74be-4d3e-bb88-6c844a8756d5/publishsettings",
        "RequestMethod": "PUT",
        "RequestBody": "{\r\n  \"SentimentAnalysis\": true,\r\n \"Speech\": true,\r\n \"SpellChecker\": true\r\n}",
        "RequestHeaders": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Ocp-Apim-Subscription-Key": [
            "00000000000000000000000000000000"
          ]
        },
        "ResponseBody": "{\r\n  \"code\": \"Success\",\r\n  \"message\": \"Operation Successful\"\r\n}",
        "ResponseHeaders": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "StatusCode": 200
      },
      {
        "RequestUri": "/luis/api/v2.0/apps/c6bfb3bc-74be-4d3e-bb88-6c844a8756d5/publishsettings",
        "RequestMethod": "GET",
        "RequestBody": "",
        "RequestHeaders": {
          "Ocp-Apim-Subscription-Key": [
            "00000000000000000000000000000000"
          ]
        },
        "ResponseBody": "{\r\n  \"id\": \"c6bfb3bc-74be-4d3e-bb88-6c844a8756d5\",\r\n \"SentimentAnalysis\": true,\r\n \"Speech\": true,\r\n \"SpellChecker\": true\r\n}",
        "ResponseHeaders": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "StatusCode": 200
      },
        {
        "RequestUri": "/luis/api/v2.0/apps/c6bfb3bc-74be-4d3e-bb88-6c844a8756d5",
        "RequestMethod": "DELETE",
        "RequestBody": "",
        "RequestHeaders": {
          "Ocp-Apim-Subscription-Key": [
            "00000000000000000000000000000000"
          ]
        },
        "ResponseBody": "{\r\n  \"code\": \"Success\",\r\n  \"message\": \"Operation Successful\"\r\n}",
        "ResponseHeaders": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "StatusCode": 200
      }
    ],
    "Names": {},
    "Variables": {}
  }


