{
  "Entries": [
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-filesystem-42ef390c-3d89-1381-787d-d02290bb1f34?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 08 Apr 2020 19:56:26 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7DBF6EBA1A76A\u0022",
        "Last-Modified": "Wed, 08 Apr 2020 19:56:25 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannsecanary.dfs.core.windows.net/test-filesystem-42ef390c-3d89-1381-787d-d02290bb1f34/test-file-82789e4f-7b75-c8fb-6c7f-711ff0a27513?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 08 Apr 2020 19:56:26 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7DBF6EBB5885C\u0022",
        "Last-Modified": "Wed, 08 Apr 2020 19:56:25 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-filesystem-42ef390c-3d89-1381-787d-d02290bb1f34/test-file-82789e4f-7b75-c8fb-6c7f-711ff0a27513",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 08 Apr 2020 19:56:26 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7DBF6EBB5885C\u0022",
        "Last-Modified": "Wed, 08 Apr 2020 19:56:25 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 08 Apr 2020 19:56:25 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannsecanary.dfs.core.windows.net/test-filesystem-42ef390c-3d89-1381-787d-d02290bb1f34/test-file-82789e4f-7b75-c8fb-6c7f-711ff0a27513?action=getAccessControl",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 08 Apr 2020 19:56:26 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7DBF6EBB5885C\u0022",
        "Last-Modified": "Wed, 08 Apr 2020 19:56:25 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-group": "$superuser",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-filesystem-42ef390c-3d89-1381-787d-d02290bb1f34?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 08 Apr 2020 19:56:27 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "175155562",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttp://seannsecanary.blob.core.windows.net\nhttp://seannsecanary.file.core.windows.net\nhttp://seannsecanary.queue.core.windows.net\nhttp://seannsecanary.table.core.windows.net\n\n\n\n\nhttp://seannsecanary-secondary.blob.core.windows.net\nhttp://seannsecanary-secondary.file.core.windows.net\nhttp://seannsecanary-secondary.queue.core.windows.net\nhttp://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://seannsecanary.blob.core.windows.net/;QueueEndpoint=http://seannsecanary.queue.core.windows.net/;FileEndpoint=http://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=http://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}