{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d2183553-9f8c-bbe1-c4f5-d3dcfddd9719?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-592205e380ab61439a677e8a030d95fe-87cfeca959177d46-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191203.1\u002Bfb8a3e76e923ddd8093ad431ccf5d23b2c851a14",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "d79575c8-1f34-8ad2-6359-bd533db3d61f",
        "x-ms-date": "Wed, 04 Dec 2019 05:09:25 GMT",
=======
        "traceparent": "00-f9f4ace6498ffb4ba1980cd9a4d1dc34-609159ce734c6e45-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "d79575c8-1f34-8ad2-6359-bd533db3d61f",
        "x-ms-date": "Wed, 04 Dec 2019 19:44:49 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-share-quota": "1",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:09:24 GMT",
        "ETag": "\u00220x8D7787821B713D8\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 05:09:25 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:44:49 GMT",
        "ETag": "\u00220x8D778F26CB9DCDB\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:44:49 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "d79575c8-1f34-8ad2-6359-bd533db3d61f",
<<<<<<< HEAD
        "x-ms-request-id": "b5590137-301a-000d-2660-aa5aef000000",
=======
        "x-ms-request-id": "6805a974-401a-0007-3ddb-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d2183553-9f8c-bbe1-c4f5-d3dcfddd9719?restype=share\u0026comp=filepermission",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
<<<<<<< HEAD
        "traceparent": "00-b40cfc6c9b98b249aa76974460d41986-ca8f9f2a54a43e40-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191203.1\u002Bfb8a3e76e923ddd8093ad431ccf5d23b2c851a14",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "8814854a-c048-e8e4-341b-872d959c1393",
        "x-ms-date": "Wed, 04 Dec 2019 05:09:25 GMT",
=======
        "traceparent": "00-6f8fb9d6bf93c045834d7f105cb8591e-ccb748be2c687a40-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "8814854a-c048-e8e4-341b-872d959c1393",
        "x-ms-date": "Wed, 04 Dec 2019 19:44:49 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": {
        "permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:09:24 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:44:49 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "Transfer-Encoding": "chunked",
        "x-ms-client-request-id": "8814854a-c048-e8e4-341b-872d959c1393",
        "x-ms-file-permission-key": "11680444563946999947*422928105932735866",
<<<<<<< HEAD
        "x-ms-request-id": "b5590139-301a-000d-2760-aa5aef000000",
=======
        "x-ms-request-id": "6805a977-401a-0007-3fdb-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d2183553-9f8c-bbe1-c4f5-d3dcfddd9719/test-directory-3f15f001-1a8f-e80c-4895-916d941dfb4f?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-b065015437f78d4eac18d439175bf61e-259d34ca1b42a842-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191203.1\u002Bfb8a3e76e923ddd8093ad431ccf5d23b2c851a14",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "9db3f8b4-40fe-2f8e-782b-3fb32e775416",
        "x-ms-date": "Wed, 04 Dec 2019 05:09:25 GMT",
=======
        "traceparent": "00-3a69e9ca23b7a34ead7d29623b749d09-59b7533a24b9cb4b-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "9db3f8b4-40fe-2f8e-782b-3fb32e775416",
        "x-ms-date": "Wed, 04 Dec 2019 19:44:49 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "ReadOnly|Directory",
        "x-ms-file-creation-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-last-write-time": "2019-08-26T05:15:25.0600000Z",
        "x-ms-file-permission-key": "11680444563946999947*422928105932735866",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:09:24 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:44:49 GMT",
>>>>>>> feature/storage/stg71-base
        "ETag": "\u00220x8D7213F9447BC40\u0022",
        "Last-Modified": "Thu, 15 Aug 2019 05:15:25 GMT",
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "9db3f8b4-40fe-2f8e-782b-3fb32e775416",
        "x-ms-file-attributes": "ReadOnly | Directory",
        "x-ms-file-change-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-creation-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-08-26T05:15:25.0600000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "16713728419002454479*422928105932735866",
<<<<<<< HEAD
        "x-ms-request-id": "b559013a-301a-000d-2860-aa5aef000000",
=======
        "x-ms-request-id": "6805a97a-401a-0007-42db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d2183553-9f8c-bbe1-c4f5-d3dcfddd9719?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-4de295cb0bcfb946a156e7d510ba01fd-eab262d226ab414a-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191203.1\u002Bfb8a3e76e923ddd8093ad431ccf5d23b2c851a14",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "9cb9e929-5e6a-9850-11d9-40730e24c89f",
        "x-ms-date": "Wed, 04 Dec 2019 05:09:25 GMT",
=======
        "traceparent": "00-8332d8aa8538954e83a8aec0526aac39-c6d9f3e7796bc24b-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "9cb9e929-5e6a-9850-11d9-40730e24c89f",
        "x-ms-date": "Wed, 04 Dec 2019 19:44:50 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:09:24 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:44:49 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "9cb9e929-5e6a-9850-11d9-40730e24c89f",
<<<<<<< HEAD
        "x-ms-request-id": "b559013f-301a-000d-2c60-aa5aef000000",
=======
        "x-ms-request-id": "6805a97b-401a-0007-43db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "542401921",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}