{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-1ceb49ac-c2a9-f28b-f1fd-4187602b683a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:51:39 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-071435c2-a7ad-d947-630b-1969011c3eb1?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:20 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:51:38 GMT",
        "ETag": "\u00220x8D779E674183CE7\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:51:39 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:20 GMT",
        "ETag": "\u00220x8D779E2C6E566E5\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:20 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "6b2dd9af-46c9-3239-f5e9-13b09c7107e2",
        "x-ms-request-id": "e6d5f995-101a-0035-19cf-abfe2f000000",
=======
        "x-ms-client-request-id": "7167227a-4a99-2298-750a-621909abc7e8",
        "x-ms-request-id": "a2d0f3f1-501a-0034-78cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-1ceb49ac-c2a9-f28b-f1fd-4187602b683a?restype=share\u0026comp=filepermission",
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-071435c2-a7ad-d947-630b-1969011c3eb1?restype=share\u0026comp=filepermission",
>>>>>>> feature/storage/stg71-base
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
<<<<<<< HEAD
        "traceparent": "00-b692cc7f7fb6c449aee1ce5df43b976a-137ac7ce1e051e47-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191205.1\u002Bbcc7ff3f89054c1f852e74087cb37cd8a1dde912",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "87d8de1e-fdfd-4670-5bd5-1d66a0dc28f3",
        "x-ms-date": "Fri, 06 Dec 2019 00:51:39 GMT",
=======
        "traceparent": "00-7ed45767301cd3428970ee8bee3e8751-62c8aa4c4a307542-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191205.1\u002B4f14c4315f17fbbc59c93c6819467b6f15d7008f",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "deee856c-ccb4-2a18-3cb1-1073eb40b728",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:20 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": {
        "permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:51:38 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:20 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "Transfer-Encoding": "chunked",
<<<<<<< HEAD
        "x-ms-client-request-id": "87d8de1e-fdfd-4670-5bd5-1d66a0dc28f3",
        "x-ms-file-permission-key": "11680444563946999947*422928105932735866",
        "x-ms-request-id": "e6d5f997-101a-0035-1acf-abfe2f000000",
=======
        "x-ms-client-request-id": "deee856c-ccb4-2a18-3cb1-1073eb40b728",
        "x-ms-file-permission-key": "11680444563946999947*422928105932735866",
        "x-ms-request-id": "a2d0f3f5-501a-0034-7bcb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-1ceb49ac-c2a9-f28b-f1fd-4187602b683a/test-directory-87afab35-7f91-5de3-8835-aea38ecdfd2f?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:51:39 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-071435c2-a7ad-d947-630b-1969011c3eb1/test-directory-69ec3272-e223-dc52-fcf4-954617249772?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:20 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "ReadOnly|Directory",
        "x-ms-file-creation-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-last-write-time": "2019-08-26T05:15:25.0600000Z",
        "x-ms-file-permission-key": "11680444563946999947*422928105932735866",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:51:39 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:20 GMT",
>>>>>>> feature/storage/stg71-base
        "ETag": "\u00220x8D7213F9447BC40\u0022",
        "Last-Modified": "Thu, 15 Aug 2019 05:15:25 GMT",
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "8937c4fc-a716-9fe7-fb7a-ffc74ecdb78e",
=======
        "x-ms-client-request-id": "58010a9b-3d16-895a-3312-e2c037d21318",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "ReadOnly | Directory",
        "x-ms-file-change-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-creation-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-08-26T05:15:25.0600000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "16713728419002454479*422928105932735866",
<<<<<<< HEAD
        "x-ms-request-id": "e6d5f998-101a-0035-1bcf-abfe2f000000",
=======
        "x-ms-request-id": "a2d0f3f7-501a-0034-7dcb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-1ceb49ac-c2a9-f28b-f1fd-4187602b683a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:51:39 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-071435c2-a7ad-d947-630b-1969011c3eb1?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:20 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:51:39 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:20 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "caa6cfde-7395-1219-b2f2-c21f811dcafe",
        "x-ms-request-id": "e6d5f999-101a-0035-1ccf-abfe2f000000",
=======
        "x-ms-client-request-id": "0caafa6c-3e22-265b-8b22-50aa067354df",
        "x-ms-request-id": "a2d0f3fa-501a-0034-80cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
<<<<<<< HEAD
    "RandomSeed": "417889809",
=======
    "RandomSeed": "416008232",
>>>>>>> feature/storage/stg71-base
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}