{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-6625c414-3fee-1d58-19b6-b2604c163d24?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Dec 2019 05:09:42 GMT",
        "x-ms-share-quota": "1",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D778782C425BEE\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 05:09:43 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-6625c414-3fee-1d58-19b6-b2604c163d24/test-directory-f1b74bc4-14db-1530-07b4-b95a6cb8dccb?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Dec 2019 05:09:43 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D778782C59CAD3\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 05:09:43 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-04T05:09:43.1705299Z",
        "x-ms-file-creation-time": "2019-12-04T05:09:43.1705299Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T05:09:43.1705299Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-6625c414-3fee-1d58-19b6-b2604c163d24?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Dec 2019 05:09:43 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "633482132",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}