{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-abbc8b28-7bf8-eae0-9e84-8da57b35d98f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:09:51 GMT",
        "x-ms-share-quota": "1"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-43fcd94c-d694-8df4-a4af-c9acf8f0ba36?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:29 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:09:51 GMT",
        "ETag": "\u00220x8D77938FA1B7053\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:09:51 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:29 GMT",
        "ETag": "\u00220x8D779E2CC83644E\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:29 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "21443da6-3b04-8e5a-b362-bc5f272140b3",
        "x-ms-request-id": "0119f557-f01a-0002-2e21-ab2c83000000",
=======
        "x-ms-client-request-id": "7c060151-20eb-f7e8-b371-92380a110e4d",
        "x-ms-request-id": "a2d0f4ee-501a-0034-46cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-abbc8b28-7bf8-eae0-9e84-8da57b35d98f/test-directory-bd797ad5-ccbe-b7ef-bbe7-1c61a8bb0de5?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:09:51 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-43fcd94c-d694-8df4-a4af-c9acf8f0ba36/test-directory-77125fdd-2e40-bb19-ebfb-40fd111cb2d0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:29 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:09:51 GMT",
        "ETag": "\u00220x8D77938FA29DD68\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:09:51 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:29 GMT",
        "ETag": "\u00220x8D779E2CC90F6B4\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:29 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "7bfa7788-65c2-2230-e74a-91efe0ebe696",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-05T04:09:51.8391656Z",
        "x-ms-file-creation-time": "2019-12-05T04:09:51.8391656Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-05T04:09:51.8391656Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "0119f55b-f01a-0002-3121-ab2c83000000",
=======
        "x-ms-file-change-time": "2019-12-06T00:25:29.7836724Z",
        "x-ms-file-creation-time": "2019-12-06T00:25:29.7836724Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:25:29.7836724Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "a2d0f4f2-501a-0034-49cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-abbc8b28-7bf8-eae0-9e84-8da57b35d98f/test-directory-bd797ad5-ccbe-b7ef-bbe7-1c61a8bb0de5?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:09:51 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-43fcd94c-d694-8df4-a4af-c9acf8f0ba36/test-directory-77125fdd-2e40-bb19-ebfb-40fd111cb2d0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:29 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:09:51 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:29 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "99744f04-3621-6c0e-2837-0f9fab5b10dd",
        "x-ms-error-code": "ResourceAlreadyExists",
<<<<<<< HEAD
        "x-ms-request-id": "0119f55f-f01a-0002-3521-ab2c83000000",
=======
        "x-ms-request-id": "a2d0f4f3-501a-0034-4acb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EResourceAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified resource already exists.\n",
<<<<<<< HEAD
        "RequestId:0119f55f-f01a-0002-3521-ab2c83000000\n",
        "Time:2019-12-05T04:09:51.9246232Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-43fcd94c-d694-8df4-a4af-c9acf8f0ba36?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:29 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:09:51 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:29 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "70e31b88-5ded-a98b-3121-40fb115ecb83",
        "x-ms-request-id": "0119f563-f01a-0002-3821-ab2c83000000",
=======
        "x-ms-client-request-id": "90eb5b8c-4c76-8875-b3fa-897f08c3f4b7",
        "x-ms-request-id": "a2d0f4f4-501a-0034-4bcb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
<<<<<<< HEAD
    "RandomSeed": "291515631",
=======
    "RandomSeed": "2066683204",
>>>>>>> feature/storage/stg71-base
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}