{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-7a84c1a5-5cc4-2576-66b1-88babe4547c1?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:51:50 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-7a353494-dcd3-447a-fe23-e3bfcc455ca6?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:31 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:51:50 GMT",
        "ETag": "\u00220x8D779E67AF049D0\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:51:50 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:30 GMT",
        "ETag": "\u00220x8D779E2CD76EC31\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:31 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "e9fc4314-7cc1-e753-fefc-9b0b1e00abbd",
        "x-ms-request-id": "e6d5fa46-101a-0035-1ecf-abfe2f000000",
=======
        "x-ms-client-request-id": "83a009c4-06ab-d4e7-714a-2bfe2a8c0255",
        "x-ms-request-id": "a2d0f513-501a-0034-64cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-7a84c1a5-5cc4-2576-66b1-88babe4547c1/test-directory-2db2de81-21f2-6736-e4a2-acea6147c8b3?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:51:50 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-7a353494-dcd3-447a-fe23-e3bfcc455ca6/test-directory-683aa279-5b0d-4185-25eb-df145bcb37b0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:31 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:51:50 GMT",
        "ETag": "\u00220x8D779E67AFE8BA3\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:51:50 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:30 GMT",
        "ETag": "\u00220x8D779E2CD84A5AA\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:31 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "7ead3e2e-2301-f3a1-0c95-041fcf6886b7",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:51:50.9155747Z",
        "x-ms-file-creation-time": "2019-12-06T00:51:50.9155747Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:51:50.9155747Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "e6d5fa48-101a-0035-1fcf-abfe2f000000",
=======
        "x-ms-client-request-id": "6a352bbd-8613-6962-845e-5dc027d379a6",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:25:31.3806762Z",
        "x-ms-file-creation-time": "2019-12-06T00:25:31.3806762Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:25:31.3806762Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "a2d0f515-501a-0034-65cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-7a84c1a5-5cc4-2576-66b1-88babe4547c1/test-directory-2db2de81-21f2-6736-e4a2-acea6147c8b3/test-file-29abe734-305a-2474-dfc9-bc561491c513",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 06 Dec 2019 00:51:50 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-7a353494-dcd3-447a-fe23-e3bfcc455ca6/test-directory-683aa279-5b0d-4185-25eb-df145bcb37b0/test-file-b5c97b12-3f91-a0b0-a708-a732d4f21915",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:31 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:51:50 GMT",
        "ETag": "\u00220x8D779E67B0C4714\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:51:51 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:30 GMT",
        "ETag": "\u00220x8D779E2CD92132C\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:31 GMT",
>>>>>>> feature/storage/stg71-bas[...]
