{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-0c0b9fbb-0a95-ba6f-ec68-647d2a64818e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:51:36 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-1b6b0fca-819a-9884-f367-c35e27913f1b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:18 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:51:36 GMT",
        "ETag": "\u00220x8D779E672C778FC\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:51:37 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:18 GMT",
        "ETag": "\u00220x8D779E2C5E3394D\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:18 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "8c454a3e-7504-b8ca-511a-344dce7deda1",
        "x-ms-request-id": "e6d5f97b-101a-0035-07cf-abfe2f000000",
=======
        "x-ms-client-request-id": "8ae5f082-c5ed-c6dd-7bcc-c3442a1590fc",
        "x-ms-request-id": "a2d0f3cc-501a-0034-5bcb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-0c0b9fbb-0a95-ba6f-ec68-647d2a64818e/test-directory-a53ed989-5c16-b9e8-2fcf-8e8f88d6fcc5?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:51:37 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-1b6b0fca-819a-9884-f367-c35e27913f1b/test-directory-bb4f2f17-9927-79d1-a1d6-3c0d79c03dc4?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:18 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:51:36 GMT",
        "ETag": "\u00220x8D779E672E9BE2E\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:51:37 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:18 GMT",
        "ETag": "\u00220x8D779E2C5F9568C\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:18 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "e40fe119-3de8-e2b1-618b-5c34e63b307a",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:51:37.3574702Z",
        "x-ms-file-creation-time": "2019-12-06T00:51:37.3574702Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:51:37.3574702Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "e6d5f97e-101a-0035-08cf-abfe2f000000",
=======
        "x-ms-client-request-id": "2bac0bfb-74de-e8b1-1e6b-e91688cf4dba",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:25:18.7236492Z",
        "x-ms-file-creation-time": "2019-12-06T00:25:18.7236492Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:25:18.7236492Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "a2d0f3d0-501a-0034-5dcb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-0c0b9fbb-0a95-ba6f-ec68-647d2a64818e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:51:37 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-1b6b0fca-819a-9884-f367-c35e27913f1b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:18 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:51:37 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:18 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "a6758e61-17c6-48dc-eb5d-7e949855d2fb",
        "x-ms-request-id": "e6d5f97f-101a-0035-09cf-abfe2f000000",
=======
        "x-ms-client-request-id": "6d12736d-1213-c3e5-39f3-1840cc164aec",
        "x-ms-request-id": "a2d0f3d1-501a-0034-5ecb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
<<<<<<< HEAD
    "RandomSeed": "795311582",
=======
    "RandomSeed": "267813885",
>>>>>>> feature/storage/stg71-base
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}