{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-c00a660b-32d0-ebae-2465-542a56b7da90?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-0a804b372b088942919b7591b90821c5-9db29d7ce48e7c4b-00",
=======
        "traceparent": "00-6a228404e1624f499e79cf3e64de9005-5eb6352c3bb09441-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "ce38750e-650f-2d4b-756f-54f778050e49",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 22:59:59 GMT",
        "x-ms-return-client-request-id": "true",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:44:59 GMT",
        "x-ms-return-client-request-id": "true",
        "x-ms-share-quota": "1",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 22:59:58 GMT",
        "ETag": "\u00220x8D7790DB00D100F\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 22:59:59 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:44:59 GMT",
        "ETag": "\u00220x8D778F272D095A5\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:44:59 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "ce38750e-650f-2d4b-756f-54f778050e49",
<<<<<<< HEAD
        "x-ms-request-id": "edfb8a44-501a-0046-3ff6-aaa6bc000000",
=======
        "x-ms-request-id": "6805aa6e-401a-0007-0bdb-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-c00a660b-32d0-ebae-2465-542a56b7da90/test-directory-cc92930d-c964-5229-869a-9905b5c8807c?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-99c01d95e3e09045b9d40c68b47a25eb-eab85ca739a55d42-00",
=======
        "traceparent": "00-168c9a98485a2c43a8125c23554a17ee-761bd2c2ad112e4d-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "d7d832bc-0615-45ae-4be5-4775cb4677ac",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 22:59:59 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:00 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 22:59:58 GMT",
        "ETag": "\u00220x8D7790DB01B89B7\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 22:59:59 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:44:59 GMT",
        "ETag": "\u00220x8D778F272DEF0D2\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:00 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "d7d832bc-0615-45ae-4be5-4775cb4677ac",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-04T22:59:59.2345015Z",
        "x-ms-file-creation-time": "2019-12-04T22:59:59.2345015Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T22:59:59.2345015Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "16713728419002454479*422928105932735866",
        "x-ms-request-id": "edfb8a49-501a-0046-43f6-aaa6bc000000",
=======
        "x-ms-file-change-time": "2019-12-04T19:45:00.0846546Z",
        "x-ms-file-creation-time": "2019-12-04T19:45:00.0846546Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T19:45:00.0846546Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "16713728419002454479*422928105932735866",
        "x-ms-request-id": "6805aa71-401a-0007-0cdb-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-c00a660b-32d0-ebae-2465-542a56b7da90?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-c2788f351fc1444596bc3c39d3b8c635-8572430a3301794d-00",
=======
        "traceparent": "00-d7b75e34455f0f4fb6caebf5109e5499-ab3a091f0035fd46-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "834877a3-a9f0-8b67-91d5-9599c30b9a1b",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 22:59:59 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:00 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 22:59:58 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:44:59 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "834877a3-a9f0-8b67-91d5-9599c30b9a1b",
<<<<<<< HEAD
        "x-ms-request-id": "edfb8a4e-501a-0046-48f6-aaa6bc000000",
=======
        "x-ms-request-id": "6805aa73-401a-0007-0edb-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1121069218",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}