{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-6282598a-08ca-9d93-a00d-8c325a09ab96?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:09:53 GMT",
        "x-ms-share-quota": "1"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-7a353494-dcd3-447a-fe23-e3bfcc455ca6?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:31 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:09:52 GMT",
        "ETag": "\u00220x8D77938FB1CB3F0\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:09:53 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:30 GMT",
        "ETag": "\u00220x8D779E2CD76EC31\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:31 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "d4c4bdad-44ec-7d34-449d-56c600e24741",
        "x-ms-request-id": "0119f59a-f01a-0002-6821-ab2c83000000",
=======
        "x-ms-client-request-id": "83a009c4-06ab-d4e7-714a-2bfe2a8c0255",
        "x-ms-request-id": "a2d0f513-501a-0034-64cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-6282598a-08ca-9d93-a00d-8c325a09ab96/test-directory-a94cf482-847f-72d0-7f69-f727e4a486d0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:09:53 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-7a353494-dcd3-447a-fe23-e3bfcc455ca6/test-directory-683aa279-5b0d-4185-25eb-df145bcb37b0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:31 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:09:53 GMT",
        "ETag": "\u00220x8D77938FB2B6D4E\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:09:53 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:30 GMT",
        "ETag": "\u00220x8D779E2CD84A5AA\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:31 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "6a352bbd-8613-6962-845e-5dc027d379a6",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-05T04:09:53.5271246Z",
        "x-ms-file-creation-time": "2019-12-05T04:09:53.5271246Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-05T04:09:53.5271246Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "0119f59d-f01a-0002-6a21-ab2c83000000",
=======
        "x-ms-file-change-time": "2019-12-06T00:25:31.3806762Z",
        "x-ms-file-creation-time": "2019-12-06T00:25:31.3806762Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:25:31.3806762Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "a2d0f515-501a-0034-65cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-6282598a-08ca-9d93-a00d-8c325a09ab96/test-directory-a94cf482-847f-72d0-7f69-f727e4a486d0/test-file-d8328517-aa5d-abfc-4ad6-af008187b16d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-7a353494-dcd3-447a-fe23-e3bfcc455ca6/test-directory-683aa279-5b0d-4185-25eb-df145bcb37b0/test-file-b5c97b12-3f91-a0b0-a708-a732d4f21915",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
>>>>>>> feature/storage/stg71-base
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "ac80df60-6946-7e7c-7a95-c20bde2f9592",
        "x-ms-content-length": "1024",
<<<<<<< HEAD
        "x-ms-date": "Thu, 05 Dec 2019 04:09:53 GMT",
=======
        "x-ms-date": "Fri, 06 Dec 2019 00:25:31 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:09:53 GMT",
        "ETag": "\u00220x8D77938FB394FFD\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:09:53 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:30 GMT",
        "ETag": "\u00220x8D779E2CD92132C\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:31 GMT",
>>>>>>> feature/storage/stg71-bas[...]
