{
  "Entries": [
    {
      "RequestUri": "https://kasoboltest.file.core.windows.net/test-share-d390f12c-82fb-23fe-02bc-c796038032df?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Dec 2020 22:33:07 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8A3A4E44A91A8\u0022",
        "Last-Modified": "Fri, 18 Dec 2020 22:33:07 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasoboltest.file.core.windows.net/test-share-d390f12c-82fb-23fe-02bc-c796038032df/test-directory-a2ec5f69-d064-0755-90a9-7c631a5e9307?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Dec 2020 22:33:07 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8A3A4E4508BF0\u0022",
        "Last-Modified": "Fri, 18 Dec 2020 22:33:07 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-12-18T22:33:07.3373168Z",
        "x-ms-file-creation-time": "2020-12-18T22:33:07.3373168Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-12-18T22:33:07.3373168Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13890947526840590134*12114024658378361023",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasoboltest.file.core.windows.net/test-share-d390f12c-82fb-23fe-02bc-c796038032df/test-directory-a2ec5f69-d064-0755-90a9-7c631a5e9307?restype=directory\u0026sv=2020-04-08\u0026st=2020-12-18T21:33:07Z\u0026se=2020-12-18T23:33:07Z\u0026sr=s\u0026sp=rcwdl\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8A3A4E4508BF0\u0022",
        "Last-Modified": "Fri, 18 Dec 2020 22:33:07 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-12-18T22:33:07.3373168Z",
        "x-ms-file-creation-time": "2020-12-18T22:33:07.3373168Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-12-18T22:33:07.3373168Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13890947526840590134*12114024658378361023",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasoboltest.file.core.windows.net/test-share-d390f12c-82fb-23fe-02bc-c796038032df?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Dec 2020 22:33:07 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-12-18T14:33:07.3454149-08:00",
    "RandomSeed": "406064618",
    "Storage_TestConfigDefault": "ProductionTenant\nkasoboltest\nU2FuaXRpemVk\nhttps://kasoboltest.blob.core.windows.net\nhttps://kasoboltest.file.core.windows.net\nhttps://kasoboltest.queue.core.windows.net\nhttps://kasoboltest.table.core.windows.net\n\n\n\n\nhttps://kasoboltest-secondary.blob.core.windows.net\nhttps://kasoboltest-secondary.file.core.windows.net\nhttps://kasoboltest-secondary.queue.core.windows.net\nhttps://kasoboltest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://kasoboltest.blob.core.windows.net/;QueueEndpoint=https://kasoboltest.queue.core.windows.net/;FileEndpoint=https://kasoboltest.file.core.windows.net/;BlobSecondaryEndpoint=https://kasoboltest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://kasoboltest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://kasoboltest-secondary.file.core.windows.net/;AccountName=kasoboltest;AccountKey=Kg==;\nencryptionScope"
  }
}