{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d5ed6204-3607-78b2-7dd1-e00fee381c77?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:42:33 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14E1D4E2448\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:42:33 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d5ed6204-3607-78b2-7dd1-e00fee381c77/test-directory-c85c8dba-a385-b1d4-29a5-71619f65b4a7?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:42:34 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14E1D5DFA6B\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:42:34 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-03-05T21:42:34.0522603Z",
        "x-ms-file-creation-time": "2020-03-05T21:42:34.0522603Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-03-05T21:42:34.0522603Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d5ed6204-3607-78b2-7dd1-e00fee381c77?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:42:34 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "469514287",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}