{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-c0d11965-75b0-225f-6b33-195063002fb6?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-5618812de62a6a458a1f3918661c2e8d-d776e437cdbbf94b-00",
=======
        "traceparent": "00-c1ae8e545e55f14b9fcb42abd16b1110-8ddf3b42b3b86d41-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "653ac57a-9d96-349a-b3a4-89d6d00e68dc",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:02 GMT",
        "x-ms-return-client-request-id": "true",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:03 GMT",
        "x-ms-return-client-request-id": "true",
        "x-ms-share-quota": "1",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:01 GMT",
        "ETag": "\u00220x8D7790DB1FB9B1F\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:00:02 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:02 GMT",
        "ETag": "\u00220x8D778F274C0C8C6\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:03 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "653ac57a-9d96-349a-b3a4-89d6d00e68dc",
<<<<<<< HEAD
        "x-ms-request-id": "edfb8b09-501a-0046-71f6-aaa6bc000000",
=======
        "x-ms-request-id": "6805aab4-401a-0007-43db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-c0d11965-75b0-225f-6b33-195063002fb6/test-directory-9abce25c-edfc-035f-ba14-bda24345c5a9?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-e690e2093c433b4d9fa7c75bf7d67dcd-ab29aec3e8023a45-00",
=======
        "traceparent": "00-90a7474394139e42a5b572f36906d432-7f8c10580808264a-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "7bbd56a5-ac06-8ca7-6537-aa81e0f7f06d",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:02 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:03 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:01 GMT",
        "ETag": "\u00220x8D7790DB2099E92\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:00:02 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:02 GMT",
        "ETag": "\u00220x8D778F274CEDC9B\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:03 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "7bbd56a5-ac06-8ca7-6537-aa81e0f7f06d",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-04T23:00:02.4725138Z",
        "x-ms-file-creation-time": "2019-12-04T23:00:02.4725138Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T23:00:02.4725138Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "edfb8b0d-501a-0046-74f6-aaa6bc000000",
=======
        "x-ms-file-change-time": "2019-12-04T19:45:03.3347227Z",
        "x-ms-file-creation-time": "2019-12-04T19:45:03.3347227Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T19:45:03.3347227Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "6805aab6-401a-0007-44db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-c0d11965-75b0-225f-6b33-195063002fb6/test-directory-9abce25c-edfc-035f-ba14-bda24345c5a9/test-directory-5beae0df-ca38-9216-c245-6774d5082a32?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-ae90681919acb44096cf9442e4c8c0c5-1f5771b6db183442-00",
=======
        "traceparent": "00-add5a865887b55489cc2de5d95326333-76[...]
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-c0d11965-75b0-225f-6b33-195063002fb6/test-directory-9abce25c-edfc-035f-ba14-bda24345c5a9/test-directory-5beae0df-ca38-9216-c245-6774d5082a32?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:02 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:03 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:01 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:03 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "161194b8-8b55-dbcb-e3c0-0cd65587045a",
        "x-ms-error-code": "ResourceNotFound",
<<<<<<< HEAD
        "x-ms-request-id": "edfb8b1a-501a-0046-01f6-aaa6bc000000",
=======
        "x-ms-request-id": "6805aab9-401a-0007-47db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EResourceNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified resource does not exist.\n",
<<<<<<< HEAD
        "RequestId:edfb8b1a-501a-0046-01f6-aaa6bc000000\n",
        "Time:2019-12-04T23:00:02.7206815Z\u003C/Message\u003E\u003C/Error\u003E"
=======
        "RequestId:6805aab9-401a-0007-47db-aafe58000000\n",
        "Time:2019-12-04T19:45:03.5918331Z\u003C/Message\u003E\u003C/Error\u003E"
>>>>>>> feature/storage/stg71-base
      ]
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-c0d11965-75b0-225f-6b33-195063002fb6?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-6fb70086e28f494981f48412c0877c2f-41b8aae7d215a34c-00",
=======
        "traceparent": "00-be24cb5760e1134d99f4db1992142c10-7d1736d74229be4d-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "fca4f8db-e4d0-0845-10a4-c38671693e3d",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:02 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:03 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:02 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:03 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "fca4f8db-e4d0-0845-10a4-c38671693e3d",
<<<<<<< HEAD
        "x-ms-request-id": "edfb8b21-501a-0046-08f6-aaa6bc000000",
=======
        "x-ms-request-id": "6805aabc-401a-0007-49db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1542952462",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}