{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9f7c02f4-8387-deef-a26e-2f0a95eb3779?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:09:54 GMT",
        "x-ms-share-quota": "1"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-6ae3b4c0-0e0a-9640-b1b2-6de9b8fc2a5d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:32 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:09:54 GMT",
        "ETag": "\u00220x8D77938FBFFC0B7\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:09:54 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:32 GMT",
        "ETag": "\u00220x8D779E2CE52F455\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:32 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "9366d7b2-d320-c03b-457a-1584e49992d3",
        "x-ms-request-id": "0119f5cb-f01a-0002-1521-ab2c83000000",
=======
        "x-ms-client-request-id": "d363a0c6-2162-ea81-eca3-be1008630de7",
        "x-ms-request-id": "a2d0f53b-501a-0034-05cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9f7c02f4-8387-deef-a26e-2f0a95eb3779/test-directory-fda1166c-dbdd-3950-6589-b109692e26d7?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:09:55 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-6ae3b4c0-0e0a-9640-b1b2-6de9b8fc2a5d/test-directory-05eee846-5ca8-4432-e304-458f9cbd2913?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:32 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:09:54 GMT",
        "ETag": "\u00220x8D77938FC0F3DB7\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:09:55 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:32 GMT",
        "ETag": "\u00220x8D779E2CE6086CA\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:32 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "843c8a6d-50af-694d-6e1e-f05edcf14d2f",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-05T04:09:55.0201271Z",
        "x-ms-file-creation-time": "2019-12-05T04:09:55.0201271Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-05T04:09:55.0201271Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "0119f5cd-f01a-0002-1621-ab2c83000000",
=======
        "x-ms-file-change-time": "2019-12-06T00:25:32.8216778Z",
        "x-ms-file-creation-time": "2019-12-06T00:25:32.8216778Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:25:32.8216778Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "a2d0f540-501a-0034-09cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9f7c02f4-8387-deef-a26e-2f0a95eb3779/test-directory-fda1166c-dbdd-3950-6589-b109692e26d7/test-file-890c3e53-d441-c94e-bd2f-e055fc92934b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-6ae3b4c0-0e0a-9640-b1b2-6de9b8fc2a5d/test-directory-05eee846-5ca8-4432-e304-458f9cbd2913/test-file-90b3ab7a-f540-ef4e-ed4e-7d338f6a8722",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
>>>>>>> feature/storage/stg71-base
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "124e9d27-460c-7780-3c4c-9661d219da04",
        "x-ms-content-length": "1024",
<<<<<<< HEAD
        "x-ms-date": "Thu, 05 Dec 2019 04:09:55 GMT",
=======
        "x-ms-date": "Fri, 06 Dec 2019 00:25:32 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:09:54 GMT",
        "ETag": "\u00220x8D77938FC1E0AAB\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:09:55 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:32 GMT",
        "ETag": "\u00220x8D779E2CE6D7F2F\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:32 GMT",
>>>>>>> feature/storage/stg71-bas[...]
