{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-e1cba1b1-94d0-82b4-6e1b-4b4080651503?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:09:43 GMT",
        "x-ms-share-quota": "1"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-4a96070c-f598-e741-cea5-0ba5da76b1dc?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:22 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:09:43 GMT",
        "ETag": "\u00220x8D77938F56625E6\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:09:43 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:21 GMT",
        "ETag": "\u00220x8D779E2C8015E59\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:22 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "cad55c85-5c25-b181-69c5-f50d7a6f5672",
        "x-ms-request-id": "0119f42c-f01a-0002-2a21-ab2c83000000",
=======
        "x-ms-client-request-id": "2b7ea6f2-24ce-e352-3c63-4a0070ff52eb",
        "x-ms-request-id": "a2d0f423-501a-0034-23cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-e1cba1b1-94d0-82b4-6e1b-4b4080651503/test-directory-57f6a339-8ff8-a0e6-c757-f99293a4c0b1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:09:43 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-4a96070c-f598-e741-cea5-0ba5da76b1dc/test-directory-0193346d-6931-5344-baf3-327e258fefa6?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:22 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:09:43 GMT",
        "ETag": "\u00220x8D77938F5749057\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:09:43 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:21 GMT",
        "ETag": "\u00220x8D779E2C80F17BE\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:22 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "c345e4c7-5695-880d-622b-70dbf1d4bead",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-05T04:09:43.9401047Z",
        "x-ms-file-creation-time": "2019-12-05T04:09:43.9401047Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-05T04:09:43.9401047Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "0119f42f-f01a-0002-2c21-ab2c83000000",
=======
        "x-ms-file-change-time": "2019-12-06T00:25:22.2216638Z",
        "x-ms-file-creation-time": "2019-12-06T00:25:22.2216638Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:25:22.2216638Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "a2d0f427-501a-0034-25cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-e1cba1b1-94d0-82b4-6e1b-4b4080651503/test-directory-57f6a339-8ff8-a0e6-c757-f99293a4c0b1/test-file-71bf4405-33b5-ede2-c570-217e55c184fa",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-4a96070c-f598-e741-cea5-0ba5da76b1dc/test-directory-0193346d-6931-5344-baf3-327e258fefa6/test-file-a3b2a373-1f4b-e7f3-263b-a14321a6e36e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
>>>>>>> feature/storage/stg71-base
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "cb2a9a30-8f9a-a8cc-f05e-9d59b4ca66bb",
        "x-ms-content-length": "1024",
<<<<<<< HEAD
        "x-ms-date": "Thu, 05 Dec 2019 04:09:44 GMT",
=======
        "x-ms-date": "Fri, 06 Dec 2019 00:25:22 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:09:43 GMT",
        "ETag": "\u00220x8D77938F581FDD0\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:09:44 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:22 GMT",
        "ETag": "\u00220x8D779E2C81C12A7\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:22 GMT",
>>>>>>> feature/storage/stg71-bas[...]
