{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9f7c02f4-8387-deef-a26e-2f0a95eb3779?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-7df3d25ae0859f4ebc0d27540161283b-16ffd3ccbb6d7a44-00",
=======
        "traceparent": "00-8578881c5689b34fad9ffe91d47295cb-91b7a1afaac96548-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "9366d7b2-d320-c03b-457a-1584e49992d3",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:01 GMT",
        "x-ms-return-client-request-id": "true",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:02 GMT",
        "x-ms-return-client-request-id": "true",
        "x-ms-share-quota": "1",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:01 GMT",
        "ETag": "\u00220x8D7790DB1ADF038\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:00:01 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:02 GMT",
        "ETag": "\u00220x8D778F27472988C\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:02 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "9366d7b2-d320-c03b-457a-1584e49992d3",
<<<<<<< HEAD
        "x-ms-request-id": "edfb8ae5-501a-0046-4ef6-aaa6bc000000",
=======
        "x-ms-request-id": "6805aaab-401a-0007-3bdb-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9f7c02f4-8387-deef-a26e-2f0a95eb3779/test-directory-fda1166c-dbdd-3950-6589-b109692e26d7?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-d3826022987c6f40a412816e5eafa081-569632d17429f242-00",
=======
        "traceparent": "00-9543be8472bf85478ea3143512fc4df7-2bef0a989556d94c-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "a15446ec-f929-d6f7-872d-2e9722325617",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:01 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:02 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:01 GMT",
        "ETag": "\u00220x8D7790DB1BC8FE3\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:00:01 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:02 GMT",
        "ETag": "\u00220x8D778F274810B76\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:02 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "a15446ec-f929-d6f7-872d-2e9722325617",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-04T23:00:01.9675107Z",
        "x-ms-file-creation-time": "2019-12-04T23:00:01.9675107Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T23:00:01.9675107Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "edfb8ae9-501a-0046-51f6-aaa6bc000000",
=======
        "x-ms-file-change-time": "2019-12-04T19:45:02.8247414Z",
        "x-ms-file-creation-time": "2019-12-04T19:45:02.8247414Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T19:45:02.8247414Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "6805aaad-401a-0007-3cdb-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9f7c02f4-8387-deef-a26e-2f0a95eb3779/test-directory-fda1166c-dbdd-3950-6589-b109692e26d7/test-file-890c3e53-d441-c94e-bd2f-e055fc92934b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-5c5945e29df1644bb91f0a28019ab5ef-3721f2d78f7ed342-00",
=======
        "traceparent": "00-1e2a0c4fa56d9740b2110f9a4d41cd1a-17f8864727b27a47-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "6769c730-850c-1712-f78a-e4f919a2daf4",
        "x-ms-content-length": "1024",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:02 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:02 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:01 GMT",
        "ETag": "\u00220x8D7790DB1C9B278\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:00:02 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:02 GMT",
        "ETag": "\u00220x8D778F2748E29FE\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:02 GMT",
>>>>>>> feature/storage/stg71-bas[...]
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9f7c02f4-8387-deef-a26e-2f0a95eb3779/test-directory-fda1166c-dbdd-3950-6589-b109692e26d7/test-file-890c3e53-d441-c94e-bd2f-e055fc92934b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:02 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:03 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:01 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:02 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "Transfer-Encoding": "chunked",
        "Vary": "Origin",
        "x-ms-client-request-id": "2318e736-a57d-6dca-a328-7b0e06ed2fda",
        "x-ms-error-code": "ResourceNotFound",
<<<<<<< HEAD
        "x-ms-request-id": "edfb8afb-501a-0046-63f6-aaa6bc000000",
=======
        "x-ms-request-id": "6805aab1-401a-0007-40db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9f7c02f4-8387-deef-a26e-2f0a95eb3779?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-e2ca30786e58e94bba65775c47259c0e-c0d51df6def01447-00",
=======
        "traceparent": "00-5a966913bf02264280870ab13ce38ea7-c2c03581bb1c5e4e-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "b8192c8a-419c-0044-7850-ed7b0ec8f79d",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:02 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:03 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:01 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:02 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "b8192c8a-419c-0044-7850-ed7b0ec8f79d",
<<<<<<< HEAD
        "x-ms-request-id": "edfb8b01-501a-0046-69f6-aaa6bc000000",
=======
        "x-ms-request-id": "6805aab2-401a-0007-41db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1146118398",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}