{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-d5ed6204-3607-78b2-7dd1-e00fee381c77?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:36:13 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4C31DB5D0A\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:36:13 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-d5ed6204-3607-78b2-7dd1-e00fee381c77/test-directory-c85c8dba-a385-b1d4-29a5-71619f65b4a7?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:36:13 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4C31E565DD\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:36:13 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-21T20:36:13.6834525Z",
        "x-ms-file-creation-time": "2021-01-21T20:36:13.6834525Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-21T20:36:13.6834525Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-d5ed6204-3607-78b2-7dd1-e00fee381c77?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:36:14 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "469514287",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}