{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-271ede79-d6fb-fe4e-813f-b13e2e97de13?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-e57a94894bed9e468ce9bfd4c94cad9d-89172d000cef6749-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191203.1\u002Bfb8a3e76e923ddd8093ad431ccf5d23b2c851a14",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "333da1c4-55f5-b64e-d438-3abd68eb01ab",
        "x-ms-date": "Wed, 04 Dec 2019 05:09:46 GMT",
=======
        "traceparent": "00-c180e0f73243b0468e58343b32d6e022-3fa4f1177808d44c-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "333da1c4-55f5-b64e-d438-3abd68eb01ab",
        "x-ms-date": "Wed, 04 Dec 2019 19:45:02 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-share-quota": "1",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:09:45 GMT",
        "ETag": "\u00220x8D778782E10FDBF\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 05:09:46 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:01 GMT",
        "ETag": "\u00220x8D778F27417B798\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:02 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "333da1c4-55f5-b64e-d438-3abd68eb01ab",
<<<<<<< HEAD
        "x-ms-request-id": "b5590352-301a-000d-0b61-aa5aef000000",
=======
        "x-ms-request-id": "6805aaa1-401a-0007-33db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-271ede79-d6fb-fe4e-813f-b13e2e97de13/test-directory-bf220107-6d7a-fe25-8d68-fcf3bf553618?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-4751a75e32802a4b8ed0af967e982671-f9f118f21290a84a-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191203.1\u002Bfb8a3e76e923ddd8093ad431ccf5d23b2c851a14",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "c6f16a05-3f46-575b-7c3e-a68d595bf67e",
        "x-ms-date": "Wed, 04 Dec 2019 05:09:46 GMT",
=======
        "traceparent": "00-6e4125cffcec0442a0905a7721f0b694-ede5759a55bae94d-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "c6f16a05-3f46-575b-7c3e-a68d595bf67e",
        "x-ms-date": "Wed, 04 Dec 2019 19:45:02 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:09:45 GMT",
        "ETag": "\u00220x8D778782E1EAEB6\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 05:09:46 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:01 GMT",
        "ETag": "\u00220x8D778F27425F1E8\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:02 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "c6f16a05-3f46-575b-7c3e-a68d595bf67e",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-04T05:09:46.1385910Z",
        "x-ms-file-creation-time": "2019-12-04T05:09:46.1385910Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T05:09:46.1385910Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "b5590354-301a-000d-0c61-aa5aef000000",
=======
        "x-ms-file-change-time": "2019-12-04T19:45:02.2277096Z",
        "x-ms-file-creation-time": "2019-12-04T19:45:02.2277096Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T19:45:02.2277096Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "6805aaa3-401a-0007-34db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-271ede79-d6fb-fe4e-813f-b13e2e97de13?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-d04e1099e3828741a1f52c5ea5251dfd-bfc37568b711a544-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191203.1\u002Bfb8a3e76e923ddd8093ad431ccf5d23b2c851a14",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "9d72ad7f-a16d-911a-507b-0c4e64365753",
        "x-ms-date": "Wed, 04 Dec 2019 05:09:46 GMT",
=======
        "traceparent": "00-549e12b8cfc8004eb79395a53799ad07-fcd6e7177b8cd645-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "9d72ad7f-a16d-911a-507b-0c4e64365753",
        "x-ms-date": "Wed, 04 Dec 2019 19:45:02 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:09:45 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:01 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "9d72ad7f-a16d-911a-507b-0c4e64365753",
<<<<<<< HEAD
        "x-ms-request-id": "b5590358-301a-000d-1061-aa5aef000000",
=======
        "x-ms-request-id": "6805aaa6-401a-0007-37db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "617211494",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}