{
  "Entries": [
    {
      "RequestUri": "http://amandacanary.file.core.windows.net/test-share-3b7a1eb1-acdb-2ddc-2bae-1ee825f5ab64?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:17:45 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B675FD4934\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:17:45 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.file.core.windows.net/test-share-3b7a1eb1-acdb-2ddc-2bae-1ee825f5ab64/test-directory-c9654124-297d-de0d-d20c-8f010f7ee774?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:17:45 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B6760A2445\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:17:45 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-04-25T01:17:45.8282565Z",
        "x-ms-file-creation-time": "2020-04-25T01:17:45.8282565Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-04-25T01:17:45.8282565Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15599277547783403350*12727421398096584927",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.file.core.windows.net/test-share-3b7a1eb1-acdb-2ddc-2bae-1ee825f5ab64/test-directory-c9654124-297d-de0d-d20c-8f010f7ee774/test-file-9eb42c0d-9190-07fa-3788-a1bd5bf0ae33",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Sat, 25 Apr 2020 01:17:45 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B67615BB6F\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:17:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-04-25T01:17:45.9042159Z",
        "x-ms-file-creation-time": "2020-04-25T01:17:45.9042159Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-04-25T01:17:45.9042159Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1729393344912377937*12727421398096584927",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandacanary.file.core.windows.net/test-share-3b7a1eb1-acdb-2ddc-2bae-1ee825f5ab64/test-directory-c9654124-297d-de0d-d20c-8f010f7ee774/test-file-9eb42c0d-9190-07fa-3788-a1bd5bf0ae33",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:17:46 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.file.core.windows.net/test-share-3b7a1eb1-acdb-2ddc-2bae-1ee825f5ab64?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:17:46 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1739231643",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttp://amandacanary.blob.core.windows.net\nhttp://amandacanary.file.core.windows.net\nhttp://amandacanary.queue.core.windows.net\nhttp://amandacanary.table.core.windows.net\n\n\n\n\nhttp://amandacanary-secondary.blob.core.windows.net\nhttp://amandacanary-secondary.file.core.windows.net\nhttp://amandacanary-secondary.queue.core.windows.net\nhttp://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandacanary.blob.core.windows.net/;QueueEndpoint=http://amandacanary.queue.core.windows.net/;FileEndpoint=http://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Sanitized\n\nDefaultEndpointsProtocol=https;AccountName=ortestsaccountcbn1;AccountKey=OrRfzSm3ktQSklAGiL90/QusS7SdS6Y5S/AJoxZEeyKYDtnue7OKYIMLOraTnT4xcOyhYbqzWVmtTKappcc5Fg==;EndpointSuffix=core.windows.net\nDefaultEndpointsProtocol=https;AccountName=vbalaorcentral1;AccountKey=vlHMz/LZ3Sx7r/1bdTQT26pG0tqORQ4uTIcxGhHB0LQhIhqGxfv2TXV7u\u002BI2ra4UWXrWGGHG2N6l\u002BBfb5FgAcQ==;EndpointSuffix=core.windows.net"
  }
}