{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9a4b3d5d-5979-2068-5100-e01719bb04c0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-8a77b78486aa3d48a0740dcde98679aa-b4d66ca83996fe44-00",
=======
        "traceparent": "00-e96ac59cfb56094fac24850628a84578-53d09f9672e94241-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "f5108d73-47ab-f4d9-d3eb-6d61a9d553dd",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:03 GMT",
        "x-ms-return-client-request-id": "true",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:04 GMT",
        "x-ms-return-client-request-id": "true",
        "x-ms-share-quota": "1",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:02 GMT",
        "ETag": "\u00220x8D7790DB2940AFC\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:00:03 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:03 GMT",
        "ETag": "\u00220x8D778F2755DCB97\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:04 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "f5108d73-47ab-f4d9-d3eb-6d61a9d553dd",
<<<<<<< HEAD
        "x-ms-request-id": "edfb8b55-501a-0046-38f6-aaa6bc000000",
=======
        "x-ms-request-id": "6805aac7-401a-0007-52db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9a4b3d5d-5979-2068-5100-e01719bb04c0/test-directory-439addef-25fa-e3b6-0822-d40f82f880fc?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-27789d39aaa8a64c98ed77dfc3254051-8101e6ff43661747-00",
=======
        "traceparent": "00-b5003ee80e91794f8c96ea25c9441f38-9cefd3298d6e5d4d-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "c280f916-e3b9-4e58-d62d-ec8873ca72db",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:03 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:04 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:02 GMT",
        "ETag": "\u00220x8D7790DB2A23594\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:00:03 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:03 GMT",
        "ETag": "\u00220x8D778F2756C2CF6\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:04 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "c280f916-e3b9-4e58-d62d-ec8873ca72db",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-04T23:00:03.4725268Z",
        "x-ms-file-creation-time": "2019-12-04T23:00:03.4725268Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T23:00:03.4725268Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "edfb8b5a-501a-0046-3cf6-aaa6bc000000",
=======
        "x-ms-file-change-time": "2019-12-04T19:45:04.3656950Z",
        "x-ms-file-creation-time": "2019-12-04T19:45:04.3656950Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T19:45:04.3656950Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "6805aac9-401a-0007-53db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9a4b3d5d-5979-2068-5100-e01719bb04c0/test-directory-439addef-25fa-e3b6-0822-d40f82f880fc?comp=forceclosehandles",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-eca70e4236b1eb4dacb022371e64dd00-335759aa1bc85849-00",
=======
        "traceparent": "00-39e31aec82248c4e922771f4d4e45bf0-50d1148d8b2d8c4a-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "89f8e3a2-be77-f543-3556-b57d238cc4a5",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:03 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:04 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-handle-id": "*",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:02 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:03 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "89f8e3a2-be77-f543-3556-b57d238cc4a5",
        "x-ms-number-of-handles-closed": "0",
        "x-ms-number-of-handles-failed": "0",
<<<<<<< HEAD
        "x-ms-request-id": "edfb8b5e-501a-0046-40f6-aaa6bc000000",
=======
        "x-ms-request-id": "6805aaca-401a-0007-54db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9a4b3d5d-5979-2068-5100-e01719bb04c0?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-417c8a1488a9ad44a1df79aefdf56fc4-ea0ce913598e3e40-00",
=======
        "traceparent": "00-0f9b0b88a34bc3418055256231537a04-1d4475ff0fa1f449-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "90e5b757-e9d1-ab63-2d92-e6db12b5bc3a",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:03 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:04 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:02 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:04 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "90e5b757-e9d1-ab63-2d92-e6db12b5bc3a",
<<<<<<< HEAD
        "x-ms-request-id": "edfb8b67-501a-0046-49f6-aaa6bc000000",
=======
        "x-ms-request-id": "6805aacc-401a-0007-56db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1793408316",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}