{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-f654e966-f4e6-a873-fa35-da46a37b1225?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:09:56 GMT",
        "x-ms-share-quota": "1"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5a2316bc-7f0f-c581-c69f-53197e0ec10d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:34 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:09:56 GMT",
        "ETag": "\u00220x8D77938FD23CE60\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:09:56 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:33 GMT",
        "ETag": "\u00220x8D779E2CF6A7EDB\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:34 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "acdfc6e9-8e0b-a91c-18db-74bf17cb1fbe",
        "x-ms-request-id": "0119f60f-f01a-0002-5121-ab2c83000000",
=======
        "x-ms-client-request-id": "8ba7eb96-52ba-2d1f-2293-ec0ae2ed481d",
        "x-ms-request-id": "a2d0f571-501a-0034-36cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-f654e966-f4e6-a873-fa35-da46a37b1225/test-directory-da7f3c2a-e57a-f594-affd-ffc8d0553ebc?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:09:56 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5a2316bc-7f0f-c581-c69f-53197e0ec10d/test-directory-d581701e-541d-8393-4e58-6531e34897a2?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:34 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:09:56 GMT",
        "ETag": "\u00220x8D77938FD328A04\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:09:56 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:34 GMT",
        "ETag": "\u00220x8D779E2CF785F9B\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:34 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "bd1b7f95-87a2-4188-5724-3d61ecee49da",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-05T04:09:56.9291780Z",
        "x-ms-file-creation-time": "2019-12-05T04:09:56.9291780Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-05T04:09:56.9291780Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "0119f612-f01a-0002-5321-ab2c83000000",
=======
        "x-ms-file-change-time": "2019-12-06T00:25:34.6556827Z",
        "x-ms-file-creation-time": "2019-12-06T00:25:34.6556827Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:25:34.6556827Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "a2d0f573-501a-0034-37cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-f654e966-f4e6-a873-fa35-da46a37b1225/test-directory-da7f3c2a-e57a-f594-affd-ffc8d0553ebc?comp=forceclosehandles",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:09:57 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5a2316bc-7f0f-c581-c69f-53197e0ec10d/test-directory-d581701e-541d-8393-4e58-6531e34897a2?comp=forceclosehandles",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:34 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-handle-id": "*",
        "x-ms-recursive": "true",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:09:56 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:34 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "649b5e70-d92c-bb00-2441-3b42f8f1370d",
        "x-ms-number-of-handles-closed": "0",
        "x-ms-number-of-handles-failed": "0",
<<<<<<< HEAD
        "x-ms-request-id": "0119f613-f01a-0002-5421-ab2c83000000",
=======
        "x-ms-request-id": "a2d0f575-501a-0034-38cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-f654e966-f4e6-a873-fa35-da46a37b1225?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:09:57 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5a2316bc-7f0f-c581-c69f-53197e0ec10d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:34 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:09:56 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:34 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "b952c9f0-6d88-8c5f-ba45-cc1698705d18",
        "x-ms-request-id": "0119f614-f01a-0002-5521-ab2c83000000",
=======
        "x-ms-client-request-id": "8df1aded-e452-22ad-480c-11297973ef2b",
        "x-ms-request-id": "a2d0f576-501a-0034-39cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
<<<<<<< HEAD
    "RandomSeed": "1438481637",
=======
    "RandomSeed": "1648436162",
>>>>>>> feature/storage/stg71-base
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}