{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9a4b3d5d-5979-2068-5100-e01719bb04c0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:09:56 GMT",
        "x-ms-share-quota": "1"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d2f47d05-0c92-b120-b190-e5924145c452?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:34 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:09:55 GMT",
        "ETag": "\u00220x8D77938FCEF50D7\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:09:56 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:33 GMT",
        "ETag": "\u00220x8D779E2CF38243C\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:34 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "f5108d73-47ab-f4d9-d3eb-6d61a9d553dd",
        "x-ms-request-id": "0119f606-f01a-0002-4921-ab2c83000000",
=======
        "x-ms-client-request-id": "e373a101-2feb-eda6-5f33-40021372a329",
        "x-ms-request-id": "a2d0f56b-501a-0034-31cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9a4b3d5d-5979-2068-5100-e01719bb04c0/test-directory-439addef-25fa-e3b6-0822-d40f82f880fc?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:09:56 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d2f47d05-0c92-b120-b190-e5924145c452/test-directory-15b4fb5c-cf14-01ed-5266-2e2ef7467249?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:34 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:09:56 GMT",
        "ETag": "\u00220x8D77938FCFEA6DF\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:09:56 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:33 GMT",
        "ETag": "\u00220x8D779E2CF45BA08\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:34 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "437decc0-66b3-32a0-b472-90850178f618",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-05T04:09:56.5891295Z",
        "x-ms-file-creation-time": "2019-12-05T04:09:56.5891295Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-05T04:09:56.5891295Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "0119f608-f01a-0002-4a21-ab2c83000000",
=======
        "x-ms-file-change-time": "2019-12-06T00:25:34.3237640Z",
        "x-ms-file-creation-time": "2019-12-06T00:25:34.3237640Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:25:34.3237640Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "a2d0f56e-501a-0034-33cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9a4b3d5d-5979-2068-5100-e01719bb04c0/test-directory-439addef-25fa-e3b6-0822-d40f82f880fc?comp=forceclosehandles",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:09:56 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d2f47d05-0c92-b120-b190-e5924145c452/test-directory-15b4fb5c-cf14-01ed-5266-2e2ef7467249?comp=forceclosehandles",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:34 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-handle-id": "*",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:09:56 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:33 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "0b6efcec-2fc9-ae95-905f-ea5e50e1bd7f",
        "x-ms-number-of-handles-closed": "0",
        "x-ms-number-of-handles-failed": "0",
<<<<<<< HEAD
        "x-ms-request-id": "0119f60c-f01a-0002-4e21-ab2c83000000",
=======
        "x-ms-request-id": "a2d0f56f-501a-0034-34cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9a4b3d5d-5979-2068-5100-e01719bb04c0?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:09:56 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d2f47d05-0c92-b120-b190-e5924145c452?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:34 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:09:56 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:33 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "90e5b757-e9d1-ab63-2d92-e6db12b5bc3a",
        "x-ms-request-id": "0119f60e-f01a-0002-5021-ab2c83000000",
=======
        "x-ms-client-request-id": "04996635-eb09-904f-623f-538119f92ab3",
        "x-ms-request-id": "a2d0f570-501a-0034-35cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
<<<<<<< HEAD
    "RandomSeed": "1793408316",
=======
    "RandomSeed": "1741231957",
>>>>>>> feature/storage/stg71-base
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}