{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-6c81be6b-3c42-bd34-ba4f-ffd1f69969e4?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:51:42 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-f5fa3d2b-0178-8c6d-f1ca-a160b7183c3d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:23 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:51:42 GMT",
        "ETag": "\u00220x8D779E6762B91EE\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:51:42 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:23 GMT",
        "ETag": "\u00220x8D779E2C8EA10EA\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:23 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "e6e1f9b8-5149-e2fb-193f-db7828df35ff",
        "x-ms-request-id": "e6d5f9c7-101a-0035-40cf-abfe2f000000",
=======
        "x-ms-client-request-id": "ef542989-329d-eaf5-08a3-c802ebe2081b",
        "x-ms-request-id": "a2d0f44b-501a-0034-44cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-6c81be6b-3c42-bd34-ba4f-ffd1f69969e4/test-directory-a61e5dd1-1911-e7d1-802b-0159d224a1b8?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:51:42 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-f5fa3d2b-0178-8c6d-f1ca-a160b7183c3d/test-directory-493e8069-88f5-fdb3-588f-2c4334534cdc?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:23 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:51:42 GMT",
        "ETag": "\u00220x8D779E6763A705C\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:51:42 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:23 GMT",
        "ETag": "\u00220x8D779E2C8F7A2FE\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:23 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "bf3f69b4-9ce3-9fb8-28f9-651d50a20ff5",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:51:42.9194844Z",
        "x-ms-file-creation-time": "2019-12-06T00:51:42.9194844Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:51:42.9194844Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "e6d5f9c9-101a-0035-41cf-abfe2f000000",
=======
        "x-ms-client-request-id": "bfb0b12c-d0d6-00f4-7557-970d05b2b6b5",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:25:23.7456638Z",
        "x-ms-file-creation-time": "2019-12-06T00:25:23.7456638Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:25:23.7456638Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "a2d0f450-501a-0034-48cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-6c81be6b-3c42-bd34-ba4f-ffd1f69969e4/test-directory-a61e5dd1-1911-e7d1-802b-0159d224a1b8?comp=forceclosehandles",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:51:42 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-f5fa3d2b-0178-8c6d-f1ca-a160b7183c3d/test-directory-493e8069-88f5-fdb3-588f-2c4334534cdc?comp=forceclosehandles",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:23 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-handle-id": "*",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:51:42 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:23 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "68a474ff-e2e5-70d4-7e79-d4be1d7c7abc",
        "x-ms-number-of-handles-closed": "0",
        "x-ms-number-of-handles-failed": "0",
        "x-ms-request-id": "e6d5f9ca-101a-0035-42cf-abfe2f000000",
=======
        "x-ms-client-request-id": "82164510-8da2-df06-c2d6-186db6925cbf",
        "x-ms-number-of-handles-closed": "0",
        "x-ms-number-of-handles-failed": "0",
        "x-ms-request-id": "a2d0f452-501a-0034-4acb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-6c81be6b-3c42-bd34-ba4f-ffd1f69969e4?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:51:43 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-f5fa3d2b-0178-8c6d-f1ca-a160b7183c3d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:23 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:51:42 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:23 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "dc1eaaba-a7fd-bb10-4ffa-744c62893046",
        "x-ms-request-id": "e6d5f9cb-101a-0035-43cf-abfe2f000000",
=======
        "x-ms-client-request-id": "bffd22c0-339b-c912-e573-703460ea664d",
        "x-ms-request-id": "a2d0f454-501a-0034-4ccb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
<<<<<<< HEAD
    "RandomSeed": "1271196395",
=======
    "RandomSeed": "2079201835",
>>>>>>> feature/storage/stg71-base
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}