{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.file.core.windows.net/test-share-796c5085-de4c-49e0-10e3-aeb9134682a8?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 20 Jun 2020 00:48:27 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D814B3A4F8C959\u0022",
        "Last-Modified": "Sat, 20 Jun 2020 00:48:27 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.file.core.windows.net/test-share-796c5085-de4c-49e0-10e3-aeb9134682a8/test-directory-c590090d-abba-3762-4b30-cf8cc7229265?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 20 Jun 2020 00:48:27 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D814B3A50332A8\u0022",
        "Last-Modified": "Sat, 20 Jun 2020 00:48:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-06-20T00:48:27.3076904Z",
        "x-ms-file-creation-time": "2020-06-20T00:48:27.3076904Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-06-20T00:48:27.3076904Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11811099930176499864*14641856446884751121",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.file.core.windows.net/test-share-796c5085-de4c-49e0-10e3-aeb9134682a8/test-directory-c590090d-abba-3762-4b30-cf8cc7229265/%2521%2527%2528%2529%253B%255B%255D%2540%2526%2525%253D%252B%2524%252C%2523\u00E4\u00C4\u00F6\u00D6\u00FC\u00DC\u00DF%253B",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Sat, 20 Jun 2020 00:48:27 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D814B3A50CF873\u0022",
        "Last-Modified": "Sat, 20 Jun 2020 00:48:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-06-20T00:48:27.3717363Z",
        "x-ms-file-creation-time": "2020-06-20T00:48:27.3717363Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-06-20T00:48:27.3717363Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "7175002341387128735*14641856446884751121",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.file.core.windows.net/test-share-796c5085-de4c-49e0-10e3-aeb9134682a8/test-directory-c590090d-abba-3762-4b30-cf8cc7229265/%2521%2527%2528%2529%253B%255B%255D%2540%2526%2525%253D%252B%2524%252C%2523\u00E4\u00C4\u00F6\u00D6\u00FC\u00DC\u00DF%253B",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 20 Jun 2020 00:48:27 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D814B3A50CF873\u0022",
        "Last-Modified": "Sat, 20 Jun 2020 00:48:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-06-20T00:48:27.3717363Z",
        "x-ms-file-creation-time": "2020-06-20T00:48:27.3717363Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-06-20T00:48:27.3717363Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "7175002341387128735*14641856446884751121",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.file.core.windows.net/test-share-796c5085-de4c-49e0-10e3-aeb9134682a8/test-directory-c590090d-abba-3762-4b30-cf8cc7229265?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 20 Jun 2020 00:48:27 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://seanmcccanary.file.core.windows.net/\u0022 ShareName=\u0022test-share-796c5085-de4c-49e0-10e3-aeb9134682a8\u0022 DirectoryPath=\u0022test-directory-c590090d-abba-3762-4b30-cf8cc7229265\u0022\u003E\u003CEntries\u003E\u003CFile\u003E\u003CName\u003E%21%27%28%29%3B%5B%5D%40%26%25%3D%2B%24%2C%23\u00E4\u00C4\u00F6\u00D6\u00FC\u00DC\u00DF%3B\u003C/Name\u003E\u003CProperties\u003E\u003CContent-Length\u003E1024\u003C/Content-Length\u003E\u003C/Properties\u003E\u003C/File\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://seanmcccanary.file.core.windows.net/test-share-796c5085-de4c-49e0-10e3-aeb9134682a8/test-directory-c590090d-abba-3762-4b30-cf8cc7229265/%2521%2527%2528%2529%253B%255B%255D%2540%2526%2525%253D%252B%2524%252C%2523\u00E4\u00C4\u00F6\u00D6\u00FC\u00DC\u00DF%253B?sv=2019-12-12\u0026st=2020-06-19T23%3A48%3A27Z\u0026se=2020-06-20T01%3A48%3A27Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D814B3A50CF873\u0022",
        "Last-Modified": "Sat, 20 Jun 2020 00:48:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-06-20T00:48:27.3717363Z",
        "x-ms-file-creation-time": "2020-06-20T00:48:27.3717363Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-06-20T00:48:27.3717363Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "7175002341387128735*14641856446884751121",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.file.core.windows.net/test-share-796c5085-de4c-49e0-10e3-aeb9134682a8?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 20 Jun 2020 00:48:28 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-06-19T19:48:27.8281401-05:00",
    "RandomSeed": "1363048765",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}