{
  "Entries": [
    {
      "RequestUri": "http://amandacanaryoauth.blob.core.windows.net/test-filesystem-ed808ef3-15a1-c093-ed90-a9b225558703?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 29 May 2020 00:05:11 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D80363F4C850B5\u0022",
        "Last-Modified": "Fri, 29 May 2020 00:05:11 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanaryoauth.dfs.core.windows.net/test-filesystem-ed808ef3-15a1-c093-ed90-a9b225558703/test-directory-2802d4cb-a0a3-e67b-9b94-9196f8dbe4ef/test-dire\u00A2t \u00D8\u00AE\u03D2%253A-88b94936-f0fe-0169-c6d1-acbb05d77b36?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 May 2020 00:05:11 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D80363F4D49440\u0022",
        "Last-Modified": "Fri, 29 May 2020 00:05:11 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanaryoauth.dfs.core.windows.net/test-filesystem-ed808ef3-15a1-c093-ed90-a9b225558703?resource=filesystem\u0026recursive=true\u0026upn=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 May 2020 00:05:11 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "etag": "0x8D80363F4D3F7DF",
            "isDirectory": "true",
            "lastModified": "Fri, 29 May 2020 00:05:11 GMT",
            "name": "test-directory-2802d4cb-a0a3-e67b-9b94-9196f8dbe4ef"
          },
          {
            "contentLength": "0",
            "etag": "0x8D80363F4D49440",
            "isDirectory": "true",
            "lastModified": "Fri, 29 May 2020 00:05:11 GMT",
            "name": "test-directory-2802d4cb-a0a3-e67b-9b94-9196f8dbe4ef/test-dire\u00A2t \u00D8\u00AE\u03D2%3A-88b94936-f0fe-0169-c6d1-acbb05d77b36"
          }
        ]
      }
    },
    {
      "RequestUri": "http://amandacanaryoauth.blob.core.windows.net/test-filesystem-ed808ef3-15a1-c093-ed90-a9b225558703?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 May 2020 00:05:11 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1548058516",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandacanaryoauth\nU2FuaXRpemVk\nhttp://amandacanaryoauth.blob.core.windows.net\nhttp://amandacanaryoauth.file.core.windows.net\nhttp://amandacanaryoauth.queue.core.windows.net\nhttp://amandacanaryoauth.table.core.windows.net\n\n\n\n\nhttp://amandacanaryoauth-secondary.blob.core.windows.net\nhttp://amandacanaryoauth-secondary.file.core.windows.net\nhttp://amandacanaryoauth-secondary.queue.core.windows.net\nhttp://amandacanaryoauth-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://amandacanaryoauth.blob.core.windows.net/;QueueEndpoint=http://amandacanaryoauth.queue.core.windows.net/;FileEndpoint=http://amandacanaryoauth.file.core.windows.net/;BlobSecondaryEndpoint=http://amandacanaryoauth-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandacanaryoauth-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandacanaryoauth-secondary.file.core.windows.net/;AccountName=amandacanaryoauth;AccountKey=Sanitized\n"
  }
}