{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.file.core.windows.net/test-share-76cb6c63-6d16-144f-e37c-2244029826e3?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Jul 2020 21:01:34 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D81ECB1AF7B065\u0022",
        "Last-Modified": "Thu, 02 Jul 2020 21:01:35 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.file.core.windows.net/test-share-76cb6c63-6d16-144f-e37c-2244029826e3/directory0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Jul 2020 21:01:34 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D81ECB1B017273\u0022",
        "Last-Modified": "Thu, 02 Jul 2020 21:01:35 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-07-02T21:01:35.3199219Z",
        "x-ms-file-creation-time": "2020-07-02T21:01:35.3199219Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-07-02T21:01:35.3199219Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11811099930176499864*14641856446884751121",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.file.core.windows.net/test-share-76cb6c63-6d16-144f-e37c-2244029826e3/directory0/directory1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Jul 2020 21:01:34 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D81ECB1B0A74CC\u0022",
        "Last-Modified": "Thu, 02 Jul 2020 21:01:35 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-07-02T21:01:35.3789644Z",
        "x-ms-file-creation-time": "2020-07-02T21:01:35.3789644Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-07-02T21:01:35.3789644Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "11811099930176499864*14641856446884751121",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.file.core.windows.net/test-share-76cb6c63-6d16-144f-e37c-2244029826e3/directory0/directory1?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Jul 2020 21:01:35 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D81ECB1B0A74CC\u0022",
        "Last-Modified": "Thu, 02 Jul 2020 21:01:35 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-07-02T21:01:35.3789644Z",
        "x-ms-file-creation-time": "2020-07-02T21:01:35.3789644Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-07-02T21:01:35.3789644Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "11811099930176499864*14641856446884751121",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.file.core.windows.net/test-share-76cb6c63-6d16-144f-e37c-2244029826e3/directory0?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Jul 2020 21:01:35 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://seanmcccanary.file.core.windows.net/\u0022 ShareName=\u0022test-share-76cb6c63-6d16-144f-e37c-2244029826e3\u0022 DirectoryPath=\u0022directory0\u0022\u003E\u003CEntries\u003E\u003CDirectory\u003E\u003CName\u003Edirectory1\u003C/Name\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://seanmcccanary.file.core.windows.net/test-share-76cb6c63-6d16-144f-e37c-2244029826e3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Jul 2020 21:01:35 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "198746714",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Kg==;\nseanscope1"
  }
}