{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-1a7c76ff-d91f-0717-2484-2d6e04dec320?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:51:55 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-6096b031-f3fe-8726-8faa-dad4dddcfb93?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:35 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:51:54 GMT",
        "ETag": "\u00220x8D779E67D8379A4\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:51:55 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:34 GMT",
        "ETag": "\u00220x8D779E2CFF4BD79\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:35 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "5dd02409-94c9-ae78-3815-193efbc3ecd4",
        "x-ms-request-id": "e6d5fa94-101a-0035-58cf-abfe2f000000",
=======
        "x-ms-client-request-id": "1dd57f9f-fe61-90d6-17d8-d4e2074af50f",
        "x-ms-request-id": "a2d0f588-501a-0034-48cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-1a7c76ff-d91f-0717-2484-2d6e04dec320/test-directory-28d90768-c940-492c-7948-4dab0e1b835a?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:51:55 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-6096b031-f3fe-8726-8faa-dad4dddcfb93/test-directory-8b155a36-cc28-86eb-2e16-e73cbde475b9?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:35 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:51:55 GMT",
        "ETag": "\u00220x8D779E67D91B902\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:51:55 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:34 GMT",
        "ETag": "\u00220x8D779E2D0027918\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:35 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "7d93f587-f4f0-4084-f887-e48046cda01c",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:51:55.2355586Z",
        "x-ms-file-creation-time": "2019-12-06T00:51:55.2355586Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:51:55.2355586Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "e6d5fa96-101a-0035-59cf-abfe2f000000",
=======
        "x-ms-client-request-id": "b60b27cb-2ec0-d390-934e-ef4a1799d233",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:25:35.5607320Z",
        "x-ms-file-creation-time": "2019-12-06T00:25:35.5607320Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:25:35.5607320Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "a2d0f58c-501a-0034-4bcb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-1a7c76ff-d91f-0717-2484-2d6e04dec320/test-directory-28d90768-c940-492c-7948-4dab0e1b835a/test-file-a85d773f-306b-3233-f8ab-a22de161768b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Fri, 06 Dec 2019 00:51:55 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-6096b031-f3fe-8726-8faa-dad4dddcfb93/test-directory-8b155a36-cc28-86eb-2e16-e73cbde475b9/test-file-be5e8c43-15d4-021d-48ff-cf6db74f2ae8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:35 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:51:55 GMT",
        "ETag": "\u00220x8D779E67D9F9CC3\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:51:55 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:34 GMT",
        "ETag": "\u00220x8D779E2D00F98A5\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:35 GMT",
>>>>>>> feature/storage/stg71-bas[...]
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-6096b031-f3fe-8726-8faa-dad4dddcfb93?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:37 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:51:56 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:36 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "ef459e92-244f-8248-1f97-702c028f43f2",
        "x-ms-request-id": "e6d5faaa-101a-0035-6bcf-abfe2f000000",
=======
        "x-ms-client-request-id": "81b9badd-8497-a0d1-c415-1903ee0c216f",
        "x-ms-request-id": "a2d0f59e-501a-0034-5dcb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
<<<<<<< HEAD
    "RandomSeed": "455955791",
=======
    "RandomSeed": "1195548551",
>>>>>>> feature/storage/stg71-base
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}