{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-f5df5d47-6e10-197a-2c7a-00f6fd805d7e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:51:44 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-c5f0d063-3840-4c74-10e2-623187d05555?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:24 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:51:43 GMT",
        "ETag": "\u00220x8D779E676F017F5\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:51:44 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:24 GMT",
        "ETag": "\u00220x8D779E2C9A8A5D3\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:24 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "365f8807-237c-63cf-cda4-274b625a9ef1",
        "x-ms-request-id": "e6d5f9de-101a-0035-50cf-abfe2f000000",
=======
        "x-ms-client-request-id": "65c750d1-bce9-9d7d-8d5f-5dc937b966f7",
        "x-ms-request-id": "a2d0f472-501a-0034-65cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-f5df5d47-6e10-197a-2c7a-00f6fd805d7e/test-directory-8076bfcd-40f4-cfcb-bbde-6ee5ac87aeb9?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:51:44 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-c5f0d063-3840-4c74-10e2-623187d05555/test-directory-1185a348-30bf-5b3d-d254-6920025a1c3a?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:24 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:51:43 GMT",
        "ETag": "\u00220x8D779E676FE35D3\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:51:44 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:24 GMT",
        "ETag": "\u00220x8D779E2C9B63AC9\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:24 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "aa24d08c-1ffc-c703-bd90-7a9db4e9b746",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:51:44.2024915Z",
        "x-ms-file-creation-time": "2019-12-06T00:51:44.2024915Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:51:44.2024915Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "e6d5f9e0-101a-0035-51cf-abfe2f000000",
=======
        "x-ms-client-request-id": "8cd13fb9-da50-a060-126c-9395525d9a32",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:25:24.9947337Z",
        "x-ms-file-creation-time": "2019-12-06T00:25:24.9947337Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:25:24.9947337Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "a2d0f476-501a-0034-68cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-f5df5d47-6e10-197a-2c7a-00f6fd805d7e/test-directory-8076bfcd-40f4-cfcb-bbde-6ee5ac87aeb9/test-file-8948ee42-87db-fd70-fdf4-cebc058e05ca",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Fri, 06 Dec 2019 00:51:44 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-c5f0d063-3840-4c74-10e2-623187d05555/test-directory-1185a348-30bf-5b3d-d254-6920025a1c3a/test-file-ab2ed31d-26d0-16a6-2dbc-3a2ee7beb6ba",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:25 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:51:43 GMT",
        "ETag": "\u00220x8D779E677105E44\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:51:44 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:24 GMT",
        "ETag": "\u00220x8D779E2C9C6168B\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:25 GMT",
>>>>>>> feature/storage/stg71-bas[...]
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-c5f0d063-3840-4c74-10e2-623187d05555?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:26 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:51:44 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:26 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "0114789f-836f-cc5f-3dc6-f7276809033c",
        "x-ms-request-id": "e6d5f9f3-101a-0035-64cf-abfe2f000000",
=======
        "x-ms-client-request-id": "b2b7aff6-fb39-e15a-29a6-b3b23ba6b731",
        "x-ms-request-id": "a2d0f492-501a-0034-03cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
<<<<<<< HEAD
    "RandomSeed": "234322713",
=======
    "RandomSeed": "929085688",
>>>>>>> feature/storage/stg71-base
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}