{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-42c6ca8b-3d16-57c2-857c-52d5791cf904?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-8ff867e832fdc4488efb3ed55738c754-7ae62e1cab93664a-00",
=======
        "traceparent": "00-b508346b0cc55f40b9743f479949680c-40d25552c9e5a543-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "d26e5ee5-d510-df98-5e4a-86c575148c57",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:06 GMT",
        "x-ms-return-client-request-id": "true",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:07 GMT",
        "x-ms-return-client-request-id": "true",
        "x-ms-share-quota": "1",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:05 GMT",
        "ETag": "\u00220x8D7790DB4799551\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:00:06 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:06 GMT",
        "ETag": "\u00220x8D778F2774C025D\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:07 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "d26e5ee5-d510-df98-5e4a-86c575148c57",
<<<<<<< HEAD
        "x-ms-request-id": "edfb8c24-501a-0046-7ff6-aaa6bc000000",
=======
        "x-ms-request-id": "6805ab03-401a-0007-04db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-42c6ca8b-3d16-57c2-857c-52d5791cf904/test-directory-5264c7e7-910c-d7b0-cf35-99fb623d93f6?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-f7500de736b7cd46b906c269bf7cafd6-3540d7818a26e841-00",
=======
        "traceparent": "00-c207c2d97043874f8ee1135d16689523-d80a70c161f6384c-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "fc9d838d-dc2a-53db-ae97-03da3b9d7c20",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:06 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:07 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:05 GMT",
        "ETag": "\u00220x8D7790DB487E829\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:00:06 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:07 GMT",
        "ETag": "\u00220x8D778F2775A9279\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:07 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "fc9d838d-dc2a-53db-ae97-03da3b9d7c20",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-04T23:00:06.6555945Z",
        "x-ms-file-creation-time": "2019-12-04T23:00:06.6555945Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T23:00:06.6555945Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "edfb8c2c-501a-0046-06f6-aaa6bc000000",
=======
        "x-ms-file-change-time": "2019-12-04T19:45:07.6057721Z",
        "x-ms-file-creation-time": "2019-12-04T19:45:07.6057721Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T19:45:07.6057721Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "6805ab06-401a-0007-06db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-42c6ca8b-3d16-57c2-857c-52d5791cf904/test-directory-5264c7e7-910c-d7b0-cf35-99fb623d93f6?comp=listhandles\u0026maxresults=5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:06 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:07 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-recursive": "true",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:05 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:07 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "Transfer-Encoding": "chunked",
        "x-ms-client-request-id": "de6d0519-97a0-71cc-8e9b-6c16231932e0",
<<<<<<< HEAD
        "x-ms-request-id": "edfb8c33-501a-0046-0df6-aaa6bc000000",
=======
        "x-ms-request-id": "6805ab07-401a-0007-07db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults\u003E\u003CMaxResults\u003E5\u003C/MaxResults\u003E\u003CEntries /\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-42c6ca8b-3d16-57c2-857c-52d5791cf904?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-f0fd6b9c1616154982cd1d6a758f974d-87dce33de5805349-00",
=======
        "traceparent": "00-c44725127926744f80f8acc9d73cdec9-359bd21be1529c47-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "36c16aee-9d2f-1e7f-c306-7c8905939cb9",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:06 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:07 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:06 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:07 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "36c16aee-9d2f-1e7f-c306-7c8905939cb9",
<<<<<<< HEAD
        "x-ms-request-id": "edfb8c36-501a-0046-10f6-aaa6bc000000",
=======
        "x-ms-request-id": "6805ab08-401a-0007-08db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1890750557",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}