{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ce6f4aa4-c28b-64cf-9828-e3e3f2cbd2b3?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 May 2021 17:57:52 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D9156F77CBAD94\"",
        "Last-Modified": "Wed, 12 May 2021 17:57:54 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ce6f4aa4-c28b-64cf-9828-e3e3f2cbd2b3/test-directory-5ee2f190-193d-8ca8-d96c-c023f97887f0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 May 2021 17:57:53 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D9156F77E127E3\"",
        "Last-Modified": "Wed, 12 May 2021 17:57:54 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-05-12T17:57:54.6433507Z",
        "x-ms-file-creation-time": "2021-05-12T17:57:54.6433507Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-05-12T17:57:54.6433507Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ce6f4aa4-c28b-64cf-9828-e3e3f2cbd2b3/test-directory-5ee2f190-193d-8ca8-d96c-c023f97887f0/test-file-616686c3-ecf3-3bab-2258-d660ca02ecad",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 12 May 2021 17:57:53 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D9156F77F2903B\"",
        "Last-Modified": "Wed, 12 May 2021 17:57:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-05-12T17:57:54.7574331Z",
        "x-ms-file-creation-time": "2021-05-12T17:57:54.7574331Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-05-12T17:57:54.7574331Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ce6f4aa4-c28b-64cf-9828-e3e3f2cbd2b3/test-directory-5ee2f190-193d-8ca8-d96c-c023f97887f0/test-directory-f3b6f7bd-27c8-26d2-5b73-204b47c08bc8?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 May 2021 17:57:53 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D9156F77FEC766\"",
        "Last-Modified": "Wed, 12 May 2021 17:57:54 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-05-12T17:57:54.8374886Z",
        "x-ms-file-creation-time": "2021-05-12T17:57:54.8374886Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2021-05-12T17:57:54.8374886Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ce6f4aa4-c28b-64cf-9828-e3e3f2cbd2b3/test-directory-5ee2f190-193d-8ca8-d96c-c023f97887f0?restype=directory&comp=list&include=Attributes%2CEtag%2CPermissionKey%2CTimestamps",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 May 2021 17:57:53 GMT",
        "x-ms-file-extended-info": "true",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanary3.file.core.windows.net/\" ShareName=\"test-share-ce6f4aa4-c28b-64cf-9828-e3e3f2cbd2b3\" DirectoryPath=\"test-directory-5ee2f190-193d-8ca8-d96c-c023f97887f0\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>test-directory-f3b6f7bd-27c8-26d2-5b73-204b47c08bc8</Name><FileId>16140971433240035328</FileId><Properties><CreationTime>2021-05-12T17:57:54.8374886Z</CreationTime><LastAccessTime>2021-05-12T17:57:54.8374886Z</LastAccessTime><LastWriteTime>2021-05-12T17:57:54.8374886Z</LastWriteTime><ChangeTime>2021-05-12T17:57:54.8374886Z</ChangeTime><Last-Modified>Wed, 12 May 2021 17:57:54 GMT</Last-Modified><Etag>\"0x8D9156F77FEC766\"</Etag></Properties><Attributes>Directory</Attributes><PermissionKey>17860367565182308406*11459378189709739967</PermissionKey></Directory><File><Name>test-file-616686c3-ecf3-3bab-2258-d660ca02ecad</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length><CreationTime>2021-05-12T17:57:54.7574331Z</CreationTime><LastAccessTime>2021-05-12T17:57:54.7574331Z</LastAccessTime><LastWriteTime>2021-05-12T17:57:54.7574331Z</LastWriteTime><ChangeTime>2021-05-12T17:57:54.7574331Z</ChangeTime><Last-Modified>Wed, 12 May 2021 17:57:54 GMT</Last-Modified><Etag>\"0x8D9156F77F2903B\"</Etag></Properties><Attributes>Archive</Attributes><PermissionKey>4010187179898695473*11459378189709739967</PermissionKey></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ce6f4aa4-c28b-64cf-9828-e3e3f2cbd2b3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 May 2021 17:57:53 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "462552361",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}