{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-63129890-fbd5-b379-a928-bffba99ee085?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-7e2829bbabc95e4bb1c7d8c173709123-b8c92e0108af0d44-00",
=======
        "traceparent": "00-f7612891113b4d4fa6dd10b90c06ba0b-b60ec8d8040ade47-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "5891892c-7002-3a82-aba5-03bffc07932c",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 22:59:53 GMT",
        "x-ms-return-client-request-id": "true",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:44:54 GMT",
        "x-ms-return-client-request-id": "true",
        "x-ms-share-quota": "1",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 22:59:53 GMT",
        "ETag": "\u00220x8D7790DACDD78C1\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 22:59:53 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:44:54 GMT",
        "ETag": "\u00220x8D778F26F9D0DBA\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:44:54 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "5891892c-7002-3a82-aba5-03bffc07932c",
<<<<<<< HEAD
        "x-ms-request-id": "edfb8900-501a-0046-16f6-aaa6bc000000",
=======
        "x-ms-request-id": "6805a9e8-401a-0007-21db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-63129890-fbd5-b379-a928-bffba99ee085/test-directory-931ae39e-fe43-067b-1ca1-4f1425e1cd65?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-d48c07257761f34fa26e44fe6587de60-85d346c98c915245-00",
=======
        "traceparent": "00-79a4d88550bbb749b68abc3462379519-c9e9a394d1f77d43-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "01f9a82c-0c29-2e4d-0e8b-3c61206e15ca",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 22:59:53 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:44:54 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 22:59:53 GMT",
        "ETag": "\u00220x8D7790DACEB7EE0\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 22:59:53 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:44:54 GMT",
        "ETag": "\u00220x8D778F26FACC272\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:44:54 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "01f9a82c-0c29-2e4d-0e8b-3c61206e15ca",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-04T22:59:53.8864864Z",
        "x-ms-file-creation-time": "2019-12-04T22:59:53.8864864Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T22:59:53.8864864Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "edfb8906-501a-0046-1af6-aaa6bc000000",
=======
        "x-ms-file-change-time": "2019-12-04T19:44:54.7226226Z",
        "x-ms-file-creation-time": "2019-12-04T19:44:54.7226226Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T19:44:54.7226226Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "6805a9eb-401a-0007-22db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-63129890-fbd5-b379-a928-bffba99ee085/test-directory-931ae39e-fe43-067b-1ca1-4f1425e1cd65/test-file-1fc75a40-1941-748a-7b15-392fe86d8542",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-7d89d59d32b5ec45822c6229ff236752-2b4ebc7108d6e146-00",
=======
        "traceparent": "00-35f35bca29a7964ab6bee783d27351ea-a9549b198ed4c54e-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "7ce7432d-cce8-7c3b-e0a0-11814b21d0c4",
        "x-ms-content-length": "1048576",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 22:59:53 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:44:54 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 22:59:53 GMT",
        "ETag": "\u00220x8D7790DACFB8743\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 22:59:53 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:44:54 GMT",
        "ETag": "\u00220x8D778F26FC181F0\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:44:54 GMT",
>>>>>>> feature/storage/stg71-bas[...]
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-63129890-fbd5-b379-a928-bffba99ee085/test-directory-931ae39e-fe43-067b-1ca1-4f1425e1cd65/test-file-b36b8c3b-eee9-4d53-2bd2-b45a18f8b932?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-2f8ca798b9012749ad157bf4999a68f5-d19bb19620e7d64d-00",
=======
        "traceparent": "00-fcc7ffbbdf722a4ca117496813b1f693-22e4cff[...]
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-63129890-fbd5-b379-a928-bffba99ee085/test-directory-931ae39e-fe43-067b-1ca1-4f1425e1cd65?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 22:59:55 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:44:56 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 22:59:54 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:44:55 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "Transfer-Encoding": "chunked",
        "x-ms-client-request-id": "903b7fbf-7095-1e34-7138-ad4ece0a0d46",
<<<<<<< HEAD
        "x-ms-request-id": "edfb894e-501a-0046-61f6-aaa6bc000000",
=======
        "x-ms-request-id": "6805aa19-401a-0007-47db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022http://seanstagetest.file.core.win[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-63129890-fbd5-b379-a928-bffba99ee085?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-0d900abeb5df7a4f95e101cf2ada1813-5edfa1f7f775f44b-00",
=======
        "traceparent": "00-9a9421004d0b9040ba263e5d61908aca-73bdb074812d6741-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "b61283a2-9abe-bec2-a1d3-af90de855547",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 22:59:55 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:44:56 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 22:59:54 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:44:55 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "b61283a2-9abe-bec2-a1d3-af90de855547",
<<<<<<< HEAD
        "x-ms-request-id": "edfb8957-501a-0046-6af6-aaa6bc000000",
=======
        "x-ms-request-id": "6805aa1a-401a-0007-48db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "225891424",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}