{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-2174e075-7be4-623d-e922-f67f2ee2a076?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-65c8e6f5a2034545b71ec03125d382a8-c87cbaf0a54ea841-00",
=======
        "traceparent": "00-d8f92f560775c24aa0e40c335910976f-01bf7a35731c964e-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "951f2ad2-cfc9-fbb1-2f2e-11ef9c129d97",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:06 GMT",
        "x-ms-return-client-request-id": "true",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:07 GMT",
        "x-ms-return-client-request-id": "true",
        "x-ms-share-quota": "1",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:06 GMT",
        "ETag": "\u00220x8D7790DB4AC8C53\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:00:06 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:07 GMT",
        "ETag": "\u00220x8D778F2777FC7A3\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:07 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "951f2ad2-cfc9-fbb1-2f2e-11ef9c129d97",
<<<<<<< HEAD
        "x-ms-request-id": "edfb8c3a-501a-0046-14f6-aaa6bc000000",
=======
        "x-ms-request-id": "6805ab09-401a-0007-09db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-2174e075-7be4-623d-e922-f67f2ee2a076/test-directory-d382c99a-d6d6-c98e-cff6-6b624cdc6d77?comp=listhandles",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:06 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:07 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:06 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:07 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "2bc597e4-04ef-fb70-9b55-c6d2634eae53",
        "x-ms-error-code": "ResourceNotFound",
<<<<<<< HEAD
        "x-ms-request-id": "edfb8c40-501a-0046-19f6-aaa6bc000000",
=======
        "x-ms-request-id": "6805ab0b-401a-0007-0adb-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EResourceNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified resource does not exist.\n",
<<<<<<< HEAD
        "RequestId:edfb8c40-501a-0046-19f6-aaa6bc000000\n",
        "Time:2019-12-04T23:00:06.9867291Z\u003C/Message\u003E\u003C/Error\u003E"
=======
        "RequestId:6805ab0b-401a-0007-0adb-aafe58000000\n",
        "Time:2019-12-04T19:45:07.9377337Z\u003C/Message\u003E\u003C/Error\u003E"
>>>>>>> feature/storage/stg71-base
      ]
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-2174e075-7be4-623d-e922-f67f2ee2a076?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-4e2a00ca8c1cf94fb60b061b32576ab0-312b43ecd9b0a440-00",
=======
        "traceparent": "00-b8b533d2ce592449bbc90cbce5cf004a-0ce6991341202b48-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "b57dc916-4217-4588-3eb1-686d44db4cad",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:07 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:07 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:06 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:07 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "b57dc916-4217-4588-3eb1-686d44db4cad",
<<<<<<< HEAD
        "x-ms-request-id": "edfb8c47-501a-0046-20f6-aaa6bc000000",
=======
        "x-ms-request-id": "6805ab0c-401a-0007-0bdb-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1548064701",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}