{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5f330e9e-194e-3e6f-229b-25d73b9893c6?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-6a9daed4c243db48b0fbfc9207915e86-af2926dac6757447-00",
=======
        "traceparent": "00-723aa98fe116ad4aa2ac9b6570438c69-2e5b2cf6c2f1224a-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "7d1d3e9e-b7d4-3b78-4376-f9ca4c81e96d",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:04 GMT",
        "x-ms-return-client-request-id": "true",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:05 GMT",
        "x-ms-return-client-request-id": "true",
        "x-ms-share-quota": "1",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:03 GMT",
        "ETag": "\u00220x8D7790DB353D946\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:00:04 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:05 GMT",
        "ETag": "\u00220x8D778F276200FDA\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:05 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "7d1d3e9e-b7d4-3b78-4376-f9ca4c81e96d",
<<<<<<< HEAD
        "x-ms-request-id": "edfb8ba0-501a-0046-7ef6-aaa6bc000000",
=======
        "x-ms-request-id": "6805aae2-401a-0007-68db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5f330e9e-194e-3e6f-229b-25d73b9893c6/test-directory-a55011ac-8221-cf51-4864-97e4d84c6512?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-caba36149f3b1745b72759f848296fb4-6cf4f6494e826845-00",
=======
        "traceparent": "00-86b82d4f756c914b9facafd552ae56a1-9ed4a5925f931d41-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "c776d381-16bf-1cc7-ec4d-356f209462f6",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:04 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:05 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:03 GMT",
        "ETag": "\u00220x8D7790DB36250F6\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:00:04 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:05 GMT",
        "ETag": "\u00220x8D778F2762EBA02\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:05 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "c776d381-16bf-1cc7-ec4d-356f209462f6",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-04T23:00:04.7315190Z",
        "x-ms-file-creation-time": "2019-12-04T23:00:04.7315190Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T23:00:04.7315190Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "edfb8ba9-501a-0046-06f6-aaa6bc000000",
=======
        "x-ms-file-change-time": "2019-12-04T19:45:05.6407042Z",
        "x-ms-file-creation-time": "2019-12-04T19:45:05.6407042Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T19:45:05.6407042Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "6805aae4-401a-0007-69db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5f330e9e-194e-3e6f-229b-25d73b9893c6/test-directory-a55011ac-8221-cf51-4864-97e4d84c6512/test-file-ad798d29-e73f-626d-c944-3d13c0913fd5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-f0c61193a4437444ae42a8594c8c4fad-db02896a8759d848-00",
=======
        "traceparent": "00-42c82d4f43fb6441a8b20b1fd116cbbc-dd9614910c863241-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "056250e2-9dd6-c852-741c-102ee08111ac",
        "x-ms-content-length": "1048576",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:04 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:05 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:04 GMT",
        "ETag": "\u00220x8D7790DB36FE593\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:00:04 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:05 GMT",
        "ETag": "\u00220x8D778F2763C763A\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:05 GMT",
>>>>>>> feature/storage/stg71-bas[...]
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5f330e9e-194e-3e6f-229b-25d73b9893c6/test-directory-a55011ac-8221-cf51-4864-97e4d84c6512/test-file-9204b2fc-c643-967c-a5b5-85a3871db38b?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-a25db40dc61e1e449bcbf05dff7e5d18-f22651e650b81740-00",
=======
        "traceparent": "00-879f9c2d7ee64c4c88df09bdb61ddda7-d29f607[...]
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5f330e9e-194e-3e6f-229b-25d73b9893c6/test-directory-a55011ac-8221-cf51-4864-97e4d84c6512?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:06 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:06 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:05 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:06 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "Transfer-Encoding": "chunked",
        "x-ms-client-request-id": "8c8b34d9-ae16-4693-edd1-1cb7d5562529",
<<<<<<< HEAD
        "x-ms-request-id": "edfb8bff-501a-0046-5cf6-aaa6bc000000",
=======
        "x-ms-request-id": "6805aafd-401a-0007-7fdb-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022http://seanstagetest.file.core.win[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5f330e9e-194e-3e6f-229b-25d73b9893c6?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-c7b8237ca7e93849b35f0fb7bfb0cd71-ef62dd753df2ab43-00",
=======
        "traceparent": "00-a4d9c19e1e3d1f4da71dd3d451d0b69b-f6c41c904071834e-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "2ba95c39-73d7-6f59-5373-e94da7dce631",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:06 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:07 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:05 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:06 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "2ba95c39-73d7-6f59-5373-e94da7dce631",
<<<<<<< HEAD
        "x-ms-request-id": "edfb8c09-501a-0046-66f6-aaa6bc000000",
=======
        "x-ms-request-id": "6805aafe-401a-0007-80db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1628879872",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}