{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-e529c36a-92cb-a4a7-daf8-2924a8a346d7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:51:46 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-cd6d397d-cc30-42ac-c17c-c583504d085d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:26 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:51:45 GMT",
        "ETag": "\u00220x8D779E678222FFA\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:51:46 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:26 GMT",
        "ETag": "\u00220x8D779E2CAD05CEC\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:26 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "e9c4e977-bba1-3c58-36f4-15fa56731bff",
        "x-ms-request-id": "e6d5f9f9-101a-0035-68cf-abfe2f000000",
=======
        "x-ms-client-request-id": "a93ed914-473d-e382-3c68-0d2452022833",
        "x-ms-request-id": "a2d0f498-501a-0034-08cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-e529c36a-92cb-a4a7-daf8-2924a8a346d7/test-directory-6abcbaec-b29e-f5fb-d196-4aac098045f5?comp=listhandles",
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-cd6d397d-cc30-42ac-c17c-c583504d085d/test-directory-c7c53a01-36da-d96c-d1c1-c872b5a71bc1?comp=listhandles",
>>>>>>> feature/storage/stg71-base
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191205.1\u002Bbcc7ff3f89054c1f852e74087cb37cd8a1dde912",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "a43a8802-9b29-c597-eece-180a70ab32b6",
        "x-ms-date": "Fri, 06 Dec 2019 00:51:46 GMT",
=======
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191205.1\u002B4f14c4315f17fbbc59c93c6819467b6f15d7008f",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "ec03e496-2339-ddf4-6c64-d77b7f0f2d95",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:26 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:51:45 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:26 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "a43a8802-9b29-c597-eece-180a70ab32b6",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-request-id": "e6d5f9fc-101a-0035-69cf-abfe2f000000",
=======
        "x-ms-client-request-id": "ec03e496-2339-ddf4-6c64-d77b7f0f2d95",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-request-id": "a2d0f49b-501a-0034-0acb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EResourceNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified resource does not exist.\n",
<<<<<<< HEAD
        "RequestId:e6d5f9fc-101a-0035-69cf-abfe2f000000\n",
        "Time:2019-12-06T00:51:46.3700394Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-cd6d397d-cc30-42ac-c17c-c583504d085d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:26 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:51:45 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:26 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "81aa225a-a145-57cc-5be7-cf10432bcbaf",
        "x-ms-request-id": "e6d5f9fd-101a-0035-6acf-abfe2f000000",
=======
        "x-ms-client-request-id": "d1dcc568-2fa3-6c87-0290-0aaa88a441ec",
        "x-ms-request-id": "a2d0f49f-501a-0034-0ecb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
<<<<<<< HEAD
    "RandomSeed": "2038662378",
=======
    "RandomSeed": "1490276304",
>>>>>>> feature/storage/stg71-base
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}