{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-d68535e1-ba3b-8100-ba27-4dad848750a8?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jun 2022 20:52:32 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA587EF54A402F\u0022",
        "Last-Modified": "Mon, 27 Jun 2022 20:52:33 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-d68535e1-ba3b-8100-ba27-4dad848750a8/test-directory-d7f81b1a-1c59-8f15-f070-305eb25b7238?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jun 2022 20:52:32 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA587EF55625CC\u0022",
        "Last-Modified": "Mon, 27 Jun 2022 20:52:33 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-06-27T20:52:33.1533772Z",
        "x-ms-file-creation-time": "2022-06-27T20:52:33.1533772Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-06-27T20:52:33.1533772Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-d68535e1-ba3b-8100-ba27-4dad848750a8/test-directory-e51323c9-025d-b72b-862e-9f2f24c6029b?restype=directory\u0026comp=rename\u0026sv=2021-08-06\u0026ss=f\u0026srt=sco\u0026st=2022-06-27T19%3A52%3A32Z\u0026se=2022-06-27T21%3A52%3A32Z\u0026sp=rwdxylacuptfi\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-rename-source": "https://amandadev2.file.core.windows.net/test-share-d68535e1-ba3b-8100-ba27-4dad848750a8/test-directory-d7f81b1a-1c59-8f15-f070-305eb25b7238?sv=2021-08-06\u0026ss=f\u0026srt=sco\u0026st=2022-06-27T19%3A52%3A32Z\u0026se=2022-06-27T21%3A52%3A32Z\u0026sp=rwdxylacuptfi\u0026sig=Sanitized",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA587EF56231F3\u0022",
        "Last-Modified": "Mon, 27 Jun 2022 20:52:33 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-06-27T20:52:33.2323315Z",
        "x-ms-file-creation-time": "2022-06-27T20:52:33.1533772Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-06-27T20:52:33.1533772Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-d68535e1-ba3b-8100-ba27-4dad848750a8/test-directory-e51323c9-025d-b72b-862e-9f2f24c6029b?restype=directory\u0026sv=2021-08-06\u0026ss=f\u0026srt=sco\u0026st=2022-06-27T19%3A52%3A32Z\u0026se=2022-06-27T21%3A52%3A32Z\u0026sp=rwdxylacuptfi\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA587EF56231F3\u0022",
        "Last-Modified": "Mon, 27 Jun 2022 20:52:33 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-06-27T20:52:33.2323315Z",
        "x-ms-file-creation-time": "2022-06-27T20:52:33.1533772Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-06-27T20:52:33.1533772Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-d68535e1-ba3b-8100-ba27-4dad848750a8?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jun 2022 20:52:32 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-06-27T13:52:32.4239555-07:00",
    "RandomSeed": "1437301435",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
