{
  "Entries": [
    {
      "RequestUri": "https://jolovstorage2prim.file.core.windows.net/test-share-aa4f5f02-57d3-88f6-025c-5868facef69c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Feb 2022 00:50:40 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9EB6632046165\u0022",
        "Last-Modified": "Wed, 09 Feb 2022 00:50:40 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jolovstorage2prim.file.core.windows.net/test-share-aa4f5f02-57d3-88f6-025c-5868facef69c/test-dire%C2%A2t%20%C3%98%C2%AE%CF%92%253A-678e6ae6-c087-e754-bea9-837e6586724a?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Feb 2022 00:50:40 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9EB66320C164E\u0022",
        "Last-Modified": "Wed, 09 Feb 2022 00:50:40 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-02-09T00:50:40.8480334Z",
        "x-ms-file-creation-time": "2022-02-09T00:50:40.8480334Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-02-09T00:50:40.8480334Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "109527694763969834*7592568455507925667",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jolovstorage2prim.file.core.windows.net/test-share-aa4f5f02-57d3-88f6-025c-5868facef69c/test-dire%C2%A2t%20%C3%98%C2%AE%CF%92%253A-d90ea272-3305-20b8-75cb-f7dc787cb94b?restype=directory\u0026comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Feb 2022 00:50:40 GMT",
        "x-ms-file-rename-source": "https://jolovstorage2prim.file.core.windows.net/test-share-aa4f5f02-57d3-88f6-025c-5868facef69c/test-dire%C2%A2t%20%C3%98%C2%AE%CF%92%253A-678e6ae6-c087-e754-bea9-837e6586724a",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9EB663211BAC5\u0022",
        "Last-Modified": "Wed, 09 Feb 2022 00:50:40 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-02-09T00:50:40.8850117Z",
        "x-ms-file-creation-time": "2022-02-09T00:50:40.8480334Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-02-09T00:50:40.8480334Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "109527694763969834*7592568455507925667",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jolovstorage2prim.file.core.windows.net/test-share-aa4f5f02-57d3-88f6-025c-5868facef69c/test-dire%C2%A2t%20%C3%98%C2%AE%CF%92%253A-d90ea272-3305-20b8-75cb-f7dc787cb94b?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Feb 2022 00:50:40 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9EB663211BAC5\u0022",
        "Last-Modified": "Wed, 09 Feb 2022 00:50:40 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-02-09T00:50:40.8850117Z",
        "x-ms-file-creation-time": "2022-02-09T00:50:40.8480334Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-02-09T00:50:40.8480334Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "109527694763969834*7592568455507925667",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jolovstorage2prim.file.core.windows.net/test-share-aa4f5f02-57d3-88f6-025c-5868facef69c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Feb 2022 00:50:40 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1377215049",
    "Storage_TestConfigDefault": "ProductionTenant\njolovstorage2prim\nU2FuaXRpemVk\nhttps://jolovstorage2prim.blob.core.windows.net\nhttps://jolovstorage2prim.file.core.windows.net\nhttps://jolovstorage2prim.queue.core.windows.net\nhttps://jolovstorage2prim.table.core.windows.net\n\n\n\n\nhttps://jolovstorage2prim-secondary.blob.core.windows.net\nhttps://jolovstorage2prim-secondary.file.core.windows.net\nhttps://jolovstorage2prim-secondary.queue.core.windows.net\nhttps://jolovstorage2prim-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jolovstorage2prim.blob.core.windows.net/;QueueEndpoint=https://jolovstorage2prim.queue.core.windows.net/;FileEndpoint=https://jolovstorage2prim.file.core.windows.net/;BlobSecondaryEndpoint=https://jolovstorage2prim-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jolovstorage2prim-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jolovstorage2prim-secondary.file.core.windows.net/;AccountName=jolovstorage2prim;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
