{
  "Entries": [
    {
      "RequestUri": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-a9ca039d-31ea-eded-57bb-0d7b4e6e31c8?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Dec 2022 04:02:39 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD807E1F14DE6\u0022",
        "Last-Modified": "Wed, 07 Dec 2022 04:02:39 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-a9ca039d-31ea-eded-57bb-0d7b4e6e31c8/test-directory-2988cdfa-4f59-db20-cd06-b4db424529fd?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Wed, 07 Dec 2022 04:02:40 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD807E1FCA87D\u0022",
        "Last-Modified": "Wed, 07 Dec 2022 04:02:39 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-12-07T04:02:39.4148989Z",
        "x-ms-file-creation-time": "2022-12-07T04:02:39.4148989Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-12-07T04:02:39.4148989Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8650070825487796121*17630419429429764568",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-a9ca039d-31ea-eded-57bb-0d7b4e6e31c8/test-directory-2988cdfa-4f59-db20-cd06-b4db424529fd?restype=directory\u0026comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Wed, 07 Dec 2022 04:02:40 GMT",
        "x-ms-file-attributes": "Preserve",
        "x-ms-file-creation-time": "Preserve",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-file-permission": "Preserve",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD807E206937D\u0022",
        "Last-Modified": "Wed, 07 Dec 2022 04:02:39 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-12-07T04:02:39.4798973Z",
        "x-ms-file-creation-time": "2022-12-07T04:02:39.4148989Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-12-07T04:02:39.4148989Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8650070825487796121*17630419429429764568",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-a9ca039d-31ea-eded-57bb-0d7b4e6e31c8?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Dec 2022 04:02:40 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1511119602",
    "Storage_TestConfigDefault": "ProductionTenant\n2iqxscnapby3pev24a\nU2FuaXRpemVk\nhttps://2iqxscnapby3pev24a.blob.core.windows.net\nhttps://2iqxscnapby3pev24a.file.preprod.core.windows.net\nhttps://2iqxscnapby3pev24a.queue.core.windows.net\nhttps://2iqxscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttps://2iqxscnapby3pev24a-secondary.blob.core.windows.net\nhttps://2iqxscnapby3pev24a-secondary.file.core.windows.net\nhttps://2iqxscnapby3pev24a-secondary.queue.core.windows.net\nhttps://2iqxscnapby3pev24a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://2iqxscnapby3pev24a.blob.core.windows.net/;QueueEndpoint=https://2iqxscnapby3pev24a.queue.core.windows.net/;FileEndpoint=https://2iqxscnapby3pev24a.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://2iqxscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://2iqxscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://2iqxscnapby3pev24a-secondary.file.core.windows.net/;AccountName=2iqxscnapby3pev24a;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
