{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9ed5c6ca-c8c0-cfd0-f68d-00bd9e5375cb?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:09:49 GMT",
        "x-ms-share-quota": "1"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-e8f003c1-7767-348c-561e-6f2918be7e1e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:27 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:09:48 GMT",
        "ETag": "\u00220x8D77938F8B94866\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:09:49 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:27 GMT",
        "ETag": "\u00220x8D779E2CB28B61B\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:27 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "59549f31-4280-e5b4-79f9-b8dffb93948f",
        "x-ms-request-id": "0119f500-f01a-0002-6521-ab2c83000000",
=======
        "x-ms-client-request-id": "926ea10b-e66f-5e82-4f66-6f4266b2ef9b",
        "x-ms-request-id": "a2d0f4ab-501a-0034-17cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9ed5c6ca-c8c0-cfd0-f68d-00bd9e5375cb/test-directory-e4566047-542a-d4ef-3264-2d7234de5312?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:09:49 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-e8f003c1-7767-348c-561e-6f2918be7e1e/test-directory-8eb71c2f-64bc-3d87-9bf6-85ee6b506d3e?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:27 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:09:49 GMT",
        "ETag": "\u00220x8D77938F8C78E10\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:09:49 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:27 GMT",
        "ETag": "\u00220x8D779E2CB3648A3\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:27 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "a90c7088-e260-a65e-1931-f6786193f2ff",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-05T04:09:49.5171600Z",
        "x-ms-file-creation-time": "2019-12-05T04:09:49.5171600Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-05T04:09:49.5171600Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "0119f503-f01a-0002-6721-ab2c83000000",
=======
        "x-ms-file-change-time": "2019-12-06T00:25:27.5116707Z",
        "x-ms-file-creation-time": "2019-12-06T00:25:27.5116707Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:25:27.5116707Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "a2d0f4af-501a-0034-1acb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9ed5c6ca-c8c0-cfd0-f68d-00bd9e5375cb/test-directory-e4566047-542a-d4ef-3264-2d7234de5312?restype=directory\u0026comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:09:49 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-e8f003c1-7767-348c-561e-6f2918be7e1e/test-directory-8eb71c2f-64bc-3d87-9bf6-85ee6b506d3e?restype=directory\u0026comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:27 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:09:49 GMT",
        "ETag": "\u00220x8D77938F8D659AD\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:09:49 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:27 GMT",
        "ETag": "\u00220x8D779E2CB475FA1\u0022",
        "Last-Modified": "Fri, 06 Dec 2019[...]
