{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-0437e300-8459-0568-a43d-11d36d80167f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-2a49ba800cf9d448b100bd23fd9410ec-a22dcb99a104af46-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191203.1\u002Bfb8a3e76e923ddd8093ad431ccf5d23b2c851a14",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "8a057995-7c42-8c52-f734-92f352fdd977",
        "x-ms-date": "Wed, 04 Dec 2019 05:09:34 GMT",
=======
        "traceparent": "00-362bbe2dbae6784fbcf7eaeccffd1283-9c503b3e907e4b49-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "8a057995-7c42-8c52-f734-92f352fdd977",
        "x-ms-date": "Wed, 04 Dec 2019 19:44:58 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-share-quota": "1",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:09:33 GMT",
        "ETag": "\u00220x8D7787826EADA9E\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 05:09:34 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:44:58 GMT",
        "ETag": "\u00220x8D778F27207E5CB\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:44:58 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "8a057995-7c42-8c52-f734-92f352fdd977",
<<<<<<< HEAD
        "x-ms-request-id": "b5590233-301a-000d-0661-aa5aef000000",
=======
        "x-ms-request-id": "6805aa55-401a-0007-78db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-0437e300-8459-0568-a43d-11d36d80167f/test-directory-10a001d8-3fbf-b7b5-44ce-e928c6a689ee?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-43c428a0fd20d942937e72e5e0eff1b1-4cab0f2a47c2ee44-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191203.1\u002Bfb8a3e76e923ddd8093ad431ccf5d23b2c851a14",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "79e84757-1f15-5543-c44d-46739229c650",
        "x-ms-date": "Wed, 04 Dec 2019 05:09:34 GMT",
=======
        "traceparent": "00-fb6cc08784f4114db027f405779d8de2-93e04c8ea4dbd745-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "79e84757-1f15-5543-c44d-46739229c650",
        "x-ms-date": "Wed, 04 Dec 2019 19:44:58 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:09:33 GMT",
        "ETag": "\u00220x8D7787826F9707B\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 05:09:34 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:44:58 GMT",
        "ETag": "\u00220x8D778F27216BFB9\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:44:58 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "79e84757-1f15-5543-c44d-46739229c650",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-04T05:09:34.1504635Z",
        "x-ms-file-creation-time": "2019-12-04T05:09:34.1504635Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T05:09:34.1504635Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "b5590235-301a-000d-0761-aa5aef000000",
=======
        "x-ms-file-change-time": "2019-12-04T19:44:58.7726777Z",
        "x-ms-file-creation-time": "2019-12-04T19:44:58.7726777Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T19:44:58.7726777Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "6805aa57-401a-0007-79db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-0437e300-8459-0568-a43d-11d36d80167f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-4d63a8285f03774f81c94f8d65ae7201-c462a3f7b52d3f4c-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191203.1\u002Bfb8a3e76e923ddd8093ad431ccf5d23b2c851a14",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "7fd0cdb8-0fbe-eed9-cce8-2e2d45c89140",
        "x-ms-date": "Wed, 04 Dec 2019 05:09:34 GMT",
=======
        "traceparent": "00-6975f3c534a92746aec35e68c066de82-7283de18b52d4a47-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "7fd0cdb8-0fbe-eed9-cce8-2e2d45c89140",
        "x-ms-date": "Wed, 04 Dec 2019 19:44:58 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:09:33 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:44:58 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "7fd0cdb8-0fbe-eed9-cce8-2e2d45c89140",
<<<<<<< HEAD
        "x-ms-request-id": "b5590236-301a-000d-0861-aa5aef000000",
=======
        "x-ms-request-id": "6805aa58-401a-0007-7adb-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1552011696",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}