{
  "Entries": [
    {
      "RequestUri": "https://3x5xscnapby3pev24a.file.preprod.core.windows.net/test-share-f703515f-bd46-af20-c154-19dfbf8d8096?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 05 Jan 2022 20:03:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D0867E3118DF\u0022",
        "Last-Modified": "Wed, 05 Jan 2022 20:03:51 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://3x5xscnapby3pev24a.file.preprod.core.windows.net/test-share-f703515f-bd46-af20-c154-19dfbf8d8096/test-directory-06db44e9-8209-2f3d-fb04-a76a951560fc?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 05 Jan 2022 20:03:52 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D0867E3EB5D8\u0022",
        "Last-Modified": "Wed, 05 Jan 2022 20:03:51 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-01-05T20:03:51.1869912Z",
        "x-ms-file-creation-time": "2022-01-05T20:03:51.1869912Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-01-05T20:03:51.1869912Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12799024878497514044*4413432848340395133",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://3x5xscnapby3pev24a.file.preprod.core.windows.net/test-share-f703515f-bd46-af20-c154-19dfbf8d8096/test-directory-06db44e9-8209-2f3d-fb04-a76a951560fc?restype=directory\u0026comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 05 Jan 2022 20:03:52 GMT",
        "x-ms-file-attributes": "Preserve",
        "x-ms-file-change-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-creation-time": "Preserve",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-file-permission": "Preserve",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D0867E4852D0\u0022",
        "Last-Modified": "Wed, 05 Jan 2022 20:03:51 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-creation-time": "2022-01-05T20:03:51.1869912Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-01-05T20:03:51.1869912Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12799024878497514044*4413432848340395133",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://3x5xscnapby3pev24a.file.preprod.core.windows.net/test-share-f703515f-bd46-af20-c154-19dfbf8d8096?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 05 Jan 2022 20:03:52 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "28711478",
    "Storage_TestConfigDefault": "ProductionTenant\n3x5xscnapby3pev24a\nU2FuaXRpemVk\nhttps://3x5xscnapby3pev24a.blob.core.windows.net\nhttps://3x5xscnapby3pev24a.file.preprod.core.windows.net\nhttps://3x5xscnapby3pev24a.queue.core.windows.net\nhttps://3x5xscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttps://3x5xscnapby3pev24a-secondary.blob.core.windows.net\nhttps://3x5xscnapby3pev24a-secondary.file.core.windows.net\nhttps://3x5xscnapby3pev24a-secondary.queue.core.windows.net\nhttps://3x5xscnapby3pev24a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://3x5xscnapby3pev24a.blob.core.windows.net/;QueueEndpoint=https://3x5xscnapby3pev24a.queue.core.windows.net/;FileEndpoint=https://3x5xscnapby3pev24a.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://3x5xscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://3x5xscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://3x5xscnapby3pev24a-secondary.file.core.windows.net/;AccountName=3x5xscnapby3pev24a;AccountKey=Kg==;\nseanscope1\n\n"
  }
}