{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-0437e300-8459-0568-a43d-11d36d80167f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:09:50 GMT",
        "x-ms-share-quota": "1"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-2a68f18a-eda1-4bdd-03f6-ce7bdb7c08f8?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:28 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:09:50 GMT",
        "ETag": "\u00220x8D77938F984FC9F\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:09:50 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:28 GMT",
        "ETag": "\u00220x8D779E2CBF295D3\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:28 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "8a057995-7c42-8c52-f734-92f352fdd977",
        "x-ms-request-id": "0119f530-f01a-0002-0e21-ab2c83000000",
=======
        "x-ms-client-request-id": "4d04fa00-c7f2-f630-b704-5bb0470a50c3",
        "x-ms-request-id": "a2d0f4d7-501a-0034-33cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-0437e300-8459-0568-a43d-11d36d80167f/test-directory-10a001d8-3fbf-b7b5-44ce-e928c6a689ee?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:09:50 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-2a68f18a-eda1-4bdd-03f6-ce7bdb7c08f8/test-directory-36aafed7-191f-d1c4-6662-e2dce7b42d81?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:28 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:09:50 GMT",
        "ETag": "\u00220x8D77938F9942B43\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:09:50 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:28 GMT",
        "ETag": "\u00220x8D779E2CC009D87\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:28 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "1f514274-75d6-e6fe-3633-e790e5540f02",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-05T04:09:50.8581187Z",
        "x-ms-file-creation-time": "2019-12-05T04:09:50.8581187Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-05T04:09:50.8581187Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "0119f535-f01a-0002-1221-ab2c83000000",
=======
        "x-ms-file-change-time": "2019-12-06T00:25:28.8376711Z",
        "x-ms-file-creation-time": "2019-12-06T00:25:28.8376711Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:25:28.8376711Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "a2d0f4d9-501a-0034-34cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-0437e300-8459-0568-a43d-11d36d80167f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:09:50 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-2a68f18a-eda1-4bdd-03f6-ce7bdb7c08f8?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:28 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:09:50 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:28 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "7fd0cdb8-0fbe-eed9-cce8-2e2d45c89140",
        "x-ms-request-id": "0119f536-f01a-0002-1321-ab2c83000000",
=======
        "x-ms-client-request-id": "a467a5a3-0e63-d3ab-b195-aa43d37680f7",
        "x-ms-request-id": "a2d0f4db-501a-0034-36cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
<<<<<<< HEAD
    "RandomSeed": "1552011696",
=======
    "RandomSeed": "638481362",
>>>>>>> feature/storage/stg71-base
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}