{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-f5ac6575-54c5-1f76-41b8-6f1690e284ce?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-e4fd812801938348a631bd4bafbb65ea-2c48c3f56bc0f64b-00",
=======
        "traceparent": "00-02b1666b937c2c459073df54a101fa63-0e0659cad87e3f4c-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "1bd61c31-2149-6f88-d54d-ca6dee220f8e",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 22:59:58 GMT",
        "x-ms-return-client-request-id": "true",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:44:58 GMT",
        "x-ms-return-client-request-id": "true",
        "x-ms-share-quota": "1",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 22:59:57 GMT",
        "ETag": "\u00220x8D7790DAF700C61\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 22:59:58 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:44:58 GMT",
        "ETag": "\u00220x8D778F27230134C\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:44:58 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "1bd61c31-2149-6f88-d54d-ca6dee220f8e",
<<<<<<< HEAD
        "x-ms-request-id": "edfb8a0a-501a-0046-0af6-aaa6bc000000",
=======
        "x-ms-request-id": "6805aa5a-401a-0007-7bdb-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-f5ac6575-54c5-1f76-41b8-6f1690e284ce?restype=share\u0026comp=filepermission",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
<<<<<<< HEAD
        "traceparent": "00-d15a3594e635e241a7c667e661381daa-c4150a46a987f64b-00",
=======
        "traceparent": "00-fc8bfad914468349a5d12f72d27acb39-585dc519e0daf649-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "73e5e9b1-690b-2d84-9e55-7ca92ba42989",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 22:59:58 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:44:58 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": {
        "permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 22:59:57 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:44:58 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "Transfer-Encoding": "chunked",
        "x-ms-client-request-id": "73e5e9b1-690b-2d84-9e55-7ca92ba42989",
        "x-ms-file-permission-key": "11680444563946999947*422928105932735866",
<<<<<<< HEAD
        "x-ms-request-id": "edfb8a0f-501a-0046-0ef6-aaa6bc000000",
=======
        "x-ms-request-id": "6805aa5c-401a-0007-7cdb-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-f5ac6575-54c5-1f76-41b8-6f1690e284ce/test-directory-fbce70e5-5d0d-d723-1b56-c7b5d7b7198c?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-d7913d209ea0d3419a63969bdae9bd85-0cba015aea047c43-00",
=======
        "traceparent": "00-68b69d86c5b12e4a878ca78a70e2eb14-325b89e53c343246-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "e5ebc06b-9979-53e0-c50e-58b5a1cf55e6",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 22:59:58 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:44:59 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 22:59:57 GMT",
        "ETag": "\u00220x8D7790DAF8A6F08\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 22:59:58 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:44:58 GMT",
        "ETag": "\u00220x8D778F2724AA0EC\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:44:59 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "e5ebc06b-9979-53e0-c50e-58b5a1cf55e6",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-04T22:59:58.2835464Z",
        "x-ms-file-creation-time": "2019-12-04T22:59:58.2835464Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T22:59:58.2835464Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "edfb8a13-501a-0046-12f6-aaa6bc000000",
=======
        "x-ms-file-change-time": "2019-12-04T19:44:59.1126764Z",
        "x-ms-file-creation-time": "2019-12-04T19:44:59.1126764Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T19:44:59.1126764Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "6805aa5d-401a-0007-7ddb-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-f5ac6575-54c5-1f76-41b8-6f1690e284ce/test-directory-fbce70e5-5d0d-d723-1b56-c7b5d7b7198c?restype=directory\u0026comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-603c6cdfb74aec4eb7de3a1ca5e0e657-537391cfdaed224e-00",
=======
        "traceparent": "00-a4e08de438c41a4283636b6375642327-edfc5cdd98771e4d-00",
>>>>>>> fea[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-f5ac6575-54c5-1f76-41b8-6f1690e284ce?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-1962938ee268b8418ebdf58efef041f2-c177837d67f1694d-00",
=======
        "traceparent": "00-cfff2800d23eb148968db6545d9d3363-32902ffee6e3534d-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "88b29514-3e85-0719-dbd4-527ee31e0420",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 22:59:58 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:44:59 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 22:59:57 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:44:58 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "88b29514-3e85-0719-dbd4-527ee31e0420",
<<<<<<< HEAD
        "x-ms-request-id": "edfb8a1b-501a-0046-1af6-aaa6bc000000",
=======
        "x-ms-request-id": "6805aa61-401a-0007-01db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1987244779",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}