{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-6a89ba07-1980-9024-59f9-add7b271f12c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:10:02 GMT",
        "x-ms-share-quota": "1"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-ff40b9e3-5525-e369-92c5-6dfdd5032ae4?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:39 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:10:01 GMT",
        "ETag": "\u00220x8D77939006D5421\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:10:02 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:39 GMT",
        "ETag": "\u00220x8D779E2D28DB7E4\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:39 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "5353c4c3-874d-8500-5e1b-d77a7320bea5",
        "x-ms-request-id": "0119f6d7-f01a-0002-0621-ab2c83000000",
=======
        "x-ms-client-request-id": "5cd319f4-5a0d-0fe4-0b8f-0275c5d5fe26",
        "x-ms-request-id": "a2d0f5cf-501a-0034-01cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-6a89ba07-1980-9024-59f9-add7b271f12c?restype=share\u0026comp=filepermission",
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-ff40b9e3-5525-e369-92c5-6dfdd5032ae4?restype=share\u0026comp=filepermission",
>>>>>>> feature/storage/stg71-base
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
<<<<<<< HEAD
        "traceparent": "00-1f5162628512854f91755053d2a7d3e6-0d75156ee9bb9f49-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "ed14f6d2-9d1d-99de-f186-c2359bb60e5e",
        "x-ms-date": "Thu, 05 Dec 2019 04:10:02 GMT",
=======
        "traceparent": "00-92101888823d444fbe49838d0a5b6063-fbfb8f1e4826a943-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191205.1\u002B4f14c4315f17fbbc59c93c6819467b6f15d7008f",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "bb082db5-cd2f-95d7-d3f0-4a52eb16c521",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:39 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": {
        "permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:10:01 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:39 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "Transfer-Encoding": "chunked",
<<<<<<< HEAD
        "x-ms-client-request-id": "ed14f6d2-9d1d-99de-f186-c2359bb60e5e",
        "x-ms-file-permission-key": "11680444563946999947*422928105932735866",
        "x-ms-request-id": "0119f6de-f01a-0002-0c21-ab2c83000000",
=======
        "x-ms-client-request-id": "bb082db5-cd2f-95d7-d3f0-4a52eb16c521",
        "x-ms-file-permission-key": "11680444563946999947*422928105932735866",
        "x-ms-request-id": "a2d0f5d2-501a-0034-03cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-6a89ba07-1980-9024-59f9-add7b271f12c/test-directory-43bf3a8d-da6c-3369-66be-ca459ccc4c38?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:10:02 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-ff40b9e3-5525-e369-92c5-6dfdd5032ae4/test-directory-6771ff74-95c1-196c-92dd-2f575131df89?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:39 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:10:01 GMT",
        "ETag": "\u00220x8D779390089CA31\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:10:02 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:39 GMT",
        "ETag": "\u00220x8D779E2D2A731D0\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:39 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "303ee7f1-7210-1f5b-c1ef-28519d7f43a2",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-05T04:10:02.5341489Z",
        "x-ms-file-creation-time": "2019-12-05T04:10:02.5341489Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-05T04:10:02.5341489Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "0119f6e2-f01a-0002-1021-ab2c83000000",
=======
        "x-ms-file-change-time": "2019-12-06T00:25:39.9956944Z",
        "x-ms-file-creation-time": "2019-12-06T00:25:39.9956944Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:25:39.9956944Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "a2d0f5d4-501a-0034-05cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-6a89ba07-1980-9024-59f9-add7b271f12c/test-directory-43bf3a8d-da6c-3369-66be-ca459ccc4c38?restype=directory\u0026comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:10:02 GMT"
=======
      "RequestUri": "http://seanst[...]
