{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-7d067989-603e-b550-4eb3-6e973914fb34?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:51:58 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-87ec63cf-6250-aa5c-0893-cc57fa61e399?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:38 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:51:58 GMT",
        "ETag": "\u00220x8D779E67FABFE69\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:51:58 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:38 GMT",
        "ETag": "\u00220x8D779E2D20B4179\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:38 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "be68f417-c414-c86b-e36e-f7bea6fccf5f",
        "x-ms-request-id": "e6d5facb-101a-0035-04cf-abfe2f000000",
=======
        "x-ms-client-request-id": "52c48bb4-7c1e-2904-0e51-8ce0fdb25621",
        "x-ms-request-id": "a2d0f5bf-501a-0034-75cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-7d067989-603e-b550-4eb3-6e973914fb34/test-directory-17f4161e-c847-955f-976c-3f4ca8e53201?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:51:58 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-87ec63cf-6250-aa5c-0893-cc57fa61e399/test-directory-4cbf0a99-e894-df01-a7f1-58bb019ee0a6?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:39 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:51:58 GMT",
        "ETag": "\u00220x8D779E67FBA15B7\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:51:58 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:38 GMT",
        "ETag": "\u00220x8D779E2D2194995\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:39 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "6c4d5723-2f58-4ebe-94d3-26a8841f20fe",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:51:58.8555191Z",
        "x-ms-file-creation-time": "2019-12-06T00:51:58.8555191Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:51:58.8555191Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "e6d5facd-101a-0035-05cf-abfe2f000000",
=======
        "x-ms-client-request-id": "bf253f3f-57a2-cb96-8ae4-aa2c23482770",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:25:39.0656917Z",
        "x-ms-file-creation-time": "2019-12-06T00:25:39.0656917Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:25:39.0656917Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "a2d0f5c1-501a-0034-76cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-7d067989-603e-b550-4eb3-6e973914fb34/test-directory-17f4161e-c847-955f-976c-3f4ca8e53201?restype=directory\u0026comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:51:58 GMT"
=======
      "RequestUri": "http://seanst[...]
