{
  "Entries": [
    {
      "RequestUri": "/subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/Arpita-air/providers/Microsoft.RecoveryServices/vaults/h2atest/replicationProtectedItems?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/Subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/Arpita-air/providers/Microsoft.RecoveryServices/vaults/h2atest/replicationFabrics/SiteRecoveryTestSite1/replicationProtectionContainers/cloud_eecac84c-1761-50ad-9624-a7092c581567/replicationProtectedItems/193ca098-991d-4a6f-be78-da2c6e7bd290\",\r\n      \"name\": \"193ca098-991d-4a6f-be78-da2c6e7bd290\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/replicationProtectedItems\",\r\n      \"properties\": {\r\n        \"friendlyName\": \"VMforSDKFirst\",\r\n        \"protectedItemType\": \"HyperVVirtualMachine\",\r\n        \"protectableItemId\": \"/Subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/Arpita-air/providers/Microsoft.RecoveryServices/vaults/h2atest/replicationFabrics/SiteRecoveryTestSite1/replicationProtectionContainers/cloud_eecac84c-1761-50ad-9624-a7092c581567/replicationProtectableItems/193ca098-991d-4a6f-be78-da2c6e7bd290\",\r\n        \"recoveryServicesProviderId\": \"/Subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/Arpita-air/providers/Microsoft.RecoveryServices/vaults/h2atest/replicationFabrics/SiteRecoveryTestSite1/replicationRecoveryServicesProviders/71f21bed-b00f-4869-9dbf-288e7cb4051d\",\r\n        \"primaryFabricFriendlyName\": \"SiteRecoveryTestSite1\",\r\n        \"primaryFabricProvider\": \"SingleHostHyperVFabric\",\r\n        \"recoveryFabricFriendlyName\": \"Microsoft Azure\",\r\n        \"recoveryFabricId\": \"Microsoft Azure\",\r\n        \"primaryProtectionContainerFriendlyName\": \"SiteRecoveryTestSite1\",\r\n        \"recoveryProtectionContainerFriendlyName\": \"Microsoft Azure\",\r\n        \"protectionState\": \"Protected\",\r\n        \"protectionStateDescription\": \"Protected\",\r\n        \"activeLocation\": \"Primary\",\r\n        \"testFailoverState\": \"None\",\r\n        \"testFailoverStateDescription\": \"None\",\r\n        \"allowedOperations\": [\r\n          \"PlannedFailover\",\r\n          \"UnplannedFailover\",\r\n          \"DisableProtection\",\r\n          \"TestFailover\"\r\n        ],\r\n        \"replicationHealth\": \"Normal\",\r\n        \"failoverHealth\": \"Warning\",\r\n        \"healthErrors\": [\r\n          {\r\n            \"innerHealthErrors\": [],\r\n            \"errorSource\": \"ReplicationUnitFailoverValidatorError\",\r\n            \"errorType\": \"8010\",\r\n            \"errorLevel\": \"Warning\",\r\n            \"errorCategory\": \"TestFailover\",\r\n            \"errorCode\": \"161011\",\r\n            \"summaryMessage\": \"\",\r\n            \"errorMessage\": \"No successful test failover has been done on the virtual machine \u0027VMforSDKFirst\u0027.\",\r\n            \"possibleCauses\": \"No successful test failover has been done on the virtual machine after it was replicated.\",\r\n            \"recommendedAction\": \"Do a test failover on the virtual machine.\",\r\n            \"creationTimeUtc\": \"2021-03-18T10:03:04.9230759Z\",\r\n            \"recoveryProviderErrorMessage\": null,\r\n            \"entityId\": \"193ca098-991d-4a6f-be78-da2c6e7bd290\",\r\n            \"errorId\": \"6:8010\",\r\n            \"customerResolvability\": \"NotAllowed\"\r\n          }\r\n        ],\r\n        \"policyId\": \"/Subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/Arpita-air/providers/Microsoft.RecoveryServices/vaults/h2atest/replicationPolicies/protectionprofile2\",\r\n        \"policyFriendlyName\": \"protectionprofile2\",\r\n        \"currentScenario\": {\r\n          \"scenarioName\": \"None\",\r\n          \"jobId\": \"/Subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/Arpita-air/providers/Microsoft.RecoveryServices/vaults/h2atest/replicationJobs/None\",\r\n          \"startTime\": \"1753-01-01T01:01:01Z\"\r\n        },\r\n        \"failoverRecoveryPointId\": null,\r\n        \"providerSpecificDetails\": {\r\n          \"instanceType\": \"HyperVReplicaAzure\",\r\n          \"azureVmDiskDetails\": [\r\n            {\r\n              \"vhdType\": \"OperatingSystem\",\r\n              \"vhdId\": \"5a687328-162d-402d-a298-146ffa97b086\",\r\n              \"diskId\": \"193CA098-991D-4A6F-BE78-DA2C6E7BD290_83F8638B-8DCA-4152-9EDA-2CA8B33039B4_0_0\",\r\n              \"vhdName\": \"VMforSDKFirst\",\r\n              \"maxSizeMB\": \"40960\",\r\n              \"targetDiskLocation\": null,\r\n              \"targetDiskName\": null,\r\n              \"lunId\": \"0\",\r\n              \"diskEncryptionSetId\": null\r\n            }\r\n          ],\r\n          \"recoveryAzureVmName\": \"VMforSDKFirst\",\r\n          \"recoveryAzureVMSize\": \"Standard_B1s\",\r\n          \"recoveryAzureStorageAccount\": \"/subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/Arpita-air/providers/Microsoft.Storage/storageAccounts/sah2atest\",\r\n          \"recoveryAzureLogStorageAccountId\": null,\r\n          \"lastReplicatedTime\": \"2021-03-18T09:53:13Z\",\r\n          \"rpoInSeconds\": 11410,\r\n          \"lastRpoCalculatedTime\": \"2021-03-18T13:03:23.7330903Z\",\r\n          \"vmId\": \"193ca098-991d-4a6f-be78-da2c6e7bd290\",\r\n          \"vmProtectionState\": \"Protected\",\r\n          \"vmProtectionStateDescription\": \"Protected\",\r\n          \"initialReplicationDetails\": {\r\n            \"initialReplicationType\": \"InitialReplication\",\r\n            \"initialReplicationProgressPercentage\": \"0\"\r\n          },\r\n          \"vmNics\": [\r\n            {\r\n              \"nicId\": \"TWljcm9zb2Z0OjE5M0NBMDk4LTk5MUQtNEE2Ri1CRTc4LURBMkM2RTdCRDI5MFw2QzNFQjMwMC00NzVBLTRDMTUtQUY4Mi0zQTdBOTQxRjYyNEQ=\",\r\n              \"replicaNicId\": null,\r\n              \"sourceNicArmId\": null,\r\n              \"vMNetworkName\": \"Broadcom NetXtreme Gigabit Ethernet - Virtual Switch\",\r\n              \"recoveryVMNetworkId\": \"/subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/Arpita-air/providers/Microsoft.Network/virtualNetworks/vnh2atest\",\r\n              \"ipConfigs\": [\r\n                {\r\n                  \"name\": null,\r\n                  \"isPrimary\": true,\r\n                  \"subnetName\": \"Broadcom NetXtreme Gigabit Ethernet - Virtual Switch\",\r\n                  \"staticIPAddress\": null,\r\n                  \"ipAddressType\": \"Static\",\r\n                  \"isSeletedForFailover\": true,\r\n                  \"recoverySubnetName\": \"default\",\r\n                  \"recoveryStaticIPAddress\": \"\",\r\n                  \"recoveryIPAddressType\": \"Dynamic\",\r\n                  \"recoveryPublicIPAddressId\": null,\r\n                  \"recoveryLBBackendAddressPoolIds\": null,\r\n                  \"tfoSubnetName\": null,\r\n                  \"tfoStaticIPAddress\": null,\r\n                  \"tfoPublicIPAddressId\": null,\r\n                  \"tfoLBBackendAddressPoolIds\": null\r\n                }\r\n              ],\r\n              \"selectionType\": \"SelectedByUser\",\r\n              \"recoveryNetworkSecurityGroupId\": null,\r\n              \"enableAcceleratedNetworkingOnRecovery\": null,\r\n              \"tfoVMNetworkId\": null,\r\n              \"tfoNetworkSecurityGroupId\": null,\r\n              \"enableAcceleratedNetworkingOnTfo\": null,\r\n              \"recoveryNicName\": null,\r\n              \"recoveryNicResourceGroupName\": null,\r\n              \"reuseExistingNic\": false,\r\n              \"tfoRecoveryNicName\": null,\r\n              \"tfoRecoveryNicResourceGroupName\": null,\r\n              \"tfoReuseExistingNic\": false\r\n            }\r\n          ],\r\n          \"selectedRecoveryAzureNetworkId\": \"/subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/Arpita-air/providers/Microsoft.Network/virtualNetworks/vnh2atest\",\r\n          \"selectedSourceNicId\": \"TWljcm9zb2Z0OjE5M0NBMDk4LTk5MUQtNEE2Ri1CRTc4LURBMkM2RTdCRDI5MFw2QzNFQjMwMC00NzVBLTRDMTUtQUY4Mi0zQTdBOTQxRjYyNEQ=\",\r\n          \"encryption\": \"Disabled\",\r\n          \"oSDetails\": {\r\n            \"osType\": \"Windows\",\r\n            \"productType\": \"UNKNOWN\",\r\n            \"osEdition\": \"Standard\",\r\n            \"oSVersion\": \"1.1.1.1\",\r\n            \"oSMajorVersion\": \"0\",\r\n            \"oSMinorVersion\": \"0\"\r\n          },\r\n          \"sourceVmRamSizeInMB\": 1024,\r\n          \"sourceVmCpuCount\": 1,\r\n          \"enableRdpOnTargetOption\": \"Never\",\r\n          \"recoveryAzureResourceGroupId\": \"/subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/prakccyrg\",\r\n          \"recoveryAvailabilitySetId\": null,\r\n          \"targetAvailabilityZone\": null,\r\n          \"targetProximityPlacementGroupId\": null,\r\n          \"useManagedDisks\": \"false\",\r\n          \"licenseType\": \"NotSpecified\",\r\n          \"sqlServerLicenseType\": \"NotSpecified\",\r\n          \"lastRecoveryPointReceived\": \"2021-03-18T09:53:13.3993206Z\",\r\n          \"targetVmTags\": {},\r\n          \"seedManagedDiskTags\": null,\r\n          \"targetManagedDiskTags\": null,\r\n          \"targetNicTags\": {},\r\n          \"protectedManagedDisks\": []\r\n        },\r\n        \"recoveryContainerId\": \"/Subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/Arpita-air/providers/Microsoft.RecoveryServices/vaults/h2atest/replicationFabrics/d49858f157601230a6ac5862fbbc6e63bf38d23ecd96cf953767945d457fe9d5/replicationProtectionContainers/d38048d4-b460-4791-8ece-108395ee8478\",\r\n        \"eventCorrelationId\": \"d7ceffc4-255d-4d2f-affd-38fa714d92c5\"\r\n      }\r\n    }\r\n  ],\r\n  \"nextLink\": \"https://centraluseuap.management.azure.com/subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/Arpita-air/providers/Microsoft.RecoveryServices/vaults/h2atest/replicationProtectedItems?api-version=2021-08-01\u0026skipToken=f3ce4b50-831d-5af4-9c48-dcbc41521358\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {

  },
  "Variables": {
    "SubscriptionId": "b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c"
  }
}
