{
  "Entries": [
    {
      "RequestUri": "/Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/siterecoveryprod1/providers/Microsoft.RecoveryServices/vaults/SDKVault/replicationRecoveryPlans/rpTest1/testFailoverCleanup?api-version=2018-07-10",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"comments\": \"Cleaning up\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/siterecoveryprod1/providers/Microsoft.RecoveryServices/vaults/SDKVault/replicationRecoveryPlans/rpTest1/operationresults/8b0f8f86-fa05-48bd-b0f0-89be179342b6?api-version=2018-07-10"
        ],
        "Retry-After": [
          "30"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/siterecoveryprod1/providers/Microsoft.RecoveryServices/vaults/SDKVault/replicationJobs/8b0f8f86-fa05-48bd-b0f0-89be179342b6?api-version=2018-07-10"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/siterecoveryprod1/providers/Microsoft.RecoveryServices/vaults/SDKVault/replicationJobs/8b0f8f86-fa05-48bd-b0f0-89be179342b6?api-version=2018-07-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/siterecoveryprod1/providers/Microsoft.RecoveryServices/vaults/SDKVault/replicationJobs/3f7a5ab0-d562-4acb-878a-4514844255e1\",\r\n  \"name\": \"3f7a5ab0-d562-4acb-878a-4514844255e1\",\r\n  \"properties\": {\r\n    \"activityId\": \"02709c23-c58b-4881-821b-2facc6a772ea ActivityId: a5511f6a-c662-4ca0-8e4e-65fb30450c08\",\r\n    \"scenarioName\": \"TestFailoverCleanup\",\r\n    \"friendlyName\": \"Test failover cleanup\",\r\n    \"state\": \"InProgress\",\r\n    \"stateDescription\": \"InProgress\",\r\n    \"tasks\": [\r\n      {\r\n        \"taskId\": \"906cadf4-59df-4433-9a92-053b5c76dc52\",\r\n        \"name\": \"RpSrsPrerequisitesCheck\",\r\n        \"startTime\": \"2017-05-13T14:46:55.6906188Z\",\r\n        \"endTime\": \"0001-01-01T00:00:00\",\r\n        \"allowedActions\": [],\r\n        \"friendlyName\": \"Prerequisites check for the recovery plan\",\r\n        \"state\": \"InProgress\",\r\n        \"stateDescription\": \"InProgress\",\r\n        \"taskType\": \"TaskDetails\",\r\n        \"customDetails\": {\r\n          \"instanceType\": \"TaskDetails\"\r\n        },\r\n        \"groupTaskCustomDetails\": null,\r\n        \"errors\": []\r\n      },\r\n      {\r\n        \"taskId\": \"f486f2b9-5c81-4dc1-a9fe-b8162ef1d88f\",\r\n        \"name\": \"Unknown\",\r\n        \"startTime\": \"0001-01-01T00:00:00\",\r\n        \"endTime\": \"0001-01-01T00:00:00\",\r\n        \"allowedActions\": [],\r\n        \"friendlyName\": \"Group 1: Test failover cleanup (1)\",\r\n        \"state\": \"NotStarted\",\r\n        \"stateDescription\": \"NotStarted\",\r\n        \"taskType\": \"RecoveryPlanGroupTaskDetails\",\r\n        \"customDetails\": null,\r\n        \"groupTaskCustomDetails\": {\r\n          \"name\": \"Group1\",\r\n          \"groupId\": \"Group1\",\r\n          \"rpGroupType\": \"TestFailoverCleanupGroup\",\r\n          \"instanceType\": \"RecoveryPlanGroupTaskDetails\",\r\n          \"childTasks\": [\r\n            {\r\n              \"taskId\": \"4b0569cb-2e52-4fdf-a168-cd9dadd1696c\",\r\n              \"name\": \"Unknown\",\r\n              \"startTime\": \"0001-01-01T00:00:00\",\r\n              \"endTime\": \"0001-01-01T00:00:00\",\r\n              \"allowedActions\": [],\r\n              \"friendlyName\": \"vm1\",\r\n              \"state\": \"NotStarted\",\r\n              \"stateDescription\": \"NotStarted\",\r\n              \"taskType\": \"VirtualMachineTaskDetails\",\r\n              \"customDetails\": {\r\n                \"skippedReason\": \"None\",\r\n                \"skippedReasonString\": null,\r\n                \"jobTask\": {\r\n                  \"jobId\": \"/Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/siterecoveryprod1/providers/Microsoft.RecoveryServices/vaults/SDKVault/replicationJobs/\",\r\n                  \"jobFriendlyName\": \"Unknown\",\r\n                  \"targetObjectId\": \"f8491e4f-817a-40dd-a90c-af773978c75b\",\r\n                  \"targetObjectName\": \"vm1\",\r\n                  \"targetInstanceType\": \"Vm\",\r\n                  \"jobScenarioName\": \"Unknown\"\r\n                },\r\n                \"instanceType\": \"VirtualMachineTaskDetails\"\r\n              },\r\n              \"groupTaskCustomDetails\": null,\r\n              \"errors\": []\r\n            }\r\n          ]\r\n        },\r\n        \"errors\": []\r\n      },\r\n      {\r\n        \"taskId\": \"1df90e92-e162-45d2-96fb-45fb723d4ee7\",\r\n        \"name\": \"RpTfoDeleteTestNetwork\",\r\n        \"startTime\": \"0001-01-01T00:00:00\",\r\n        \"endTime\": \"0001-01-0[...]
[...]
    {
      "RequestUri": "/Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/siterecoveryprod1/providers/Microsoft.RecoveryServices/vaults/SDKVault/replicationRecoveryPlans/rpTest1?api-version=2018-07-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/siterecoveryprod1/providers/Microsoft.RecoveryServices/vaults/SDKVault/replicationRecoveryPlans/rpTest1\",\r\n  \"name\": \"rpTest1\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/replicationRecoveryPlans\",\r\n  \"properties\": {\r\n    \"friendlyName\": \"rpTest1\",\r\n    \"primaryFabricId\": \"/Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/siterecoveryprod1/providers/Microsoft.RecoveryServices/vaults/SDKVault/replicationFabrics/SiteRecoveryTestSite1\",\r\n    \"primaryFabricFriendlyName\": \"SiteRecoveryTestSite1\",\r\n    \"recoveryFabricId\": \"Microsoft Azure\",\r\n    \"recoveryFabricFriendlyName\": \"Microsoft Azure\",\r\n    \"failoverDeploymentModel\": \"ResourceManager\",\r\n    \"replicationProviders\": [\r\n      \"HyperVReplicaAzure\"\r\n    ],\r\n    \"allowedOperations\": [\r\n      \"PlannedFailover\",\r\n      \"UnplannedFailover\",\r\n      \"TestFailover\"\r\n    ],\r\n    \"lastTestFailoverTime\": \"2017-05-13T14:36:28.4407195Z\",\r\n    \"currentScenario\": {\r\n      \"scenarioName\": \"TestFailoverCleanup\",\r\n      \"jobId\": \"/Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/siterecoveryprod1/providers/Microsoft.RecoveryServices/vaults/SDKVault/replicationJobs/3f7a5ab0-d562-4acb-878a-4514844255e1\",\r\n      \"startTime\": \"2017-05-13T14:46:55.9250119Z\"\r\n    },\r\n    \"currentScenarioStatus\": \"Succeeded\",\r\n    \"currentScenarioStatusDescription\": \"Completed\",\r\n    \"groups\": [\r\n      {\r\n        \"groupType\": \"Shutdown\",\r\n        \"replicationProtectedItems\": [],\r\n        \"startGroupActions\": [],\r\n        \"endGroupActions\": []\r\n      },\r\n      {\r\n        \"groupType\": \"Failover\",\r\n        \"replicationProtectedItems\": [],\r\n        \"startGroupActions\": [],\r\n        \"endGroupActions\": []\r\n      },\r\n      {\r\n        \"groupType\": \"Boot\",\r\n        \"replicationProtectedItems\": [\r\n          {\r\n            \"id\": \"/Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/siterecoveryprod1/providers/Microsoft.RecoveryServices/vaults/SDKVault/replicationFabrics/SiteRecoveryTestSite1/replicationProtectionContainers/cloud_fa06e03b-e306-52f4-a01f-88cdeba67a1c/replicationProtectedItems/vm1\",\r\n            \"virtualMachineId\": \"f8491e4f-817a-40dd-a90c-af773978c75b\"\r\n          }\r\n        ],\r\n        \"startGroupActions\": [],\r\n        \"endGroupActions\": []\r\n      }\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14362"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "c183865e-6077-46f2-a3b1-deb0f4f4650a"
  }
}
