{
  "Entries": [
    {
      "RequestUri": "/Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/siterecoveryprod1/providers/Microsoft.RecoveryServices/vaults/SDKVault/replicationRecoveryPlans/rpTest1/unplannedFailover?api-version=2018-07-10",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"failoverDirection\": \"PrimaryToRecovery\",\r\n    \"sourceSiteOperations\": \"NotRequired\",\r\n    \"providerSpecificDetails\": [\r\n      {\r\n        \"instanceType\": \"HyperVReplicaAzure\",\r\n        \"vaultLocation\": \"West US\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/siterecoveryprod1/providers/Microsoft.RecoveryServices/vaults/SDKVault/replicationRecoveryPlans/rpTest1/operationresults/2d5b0264-7cf1-4476-936e-0352ed032481?api-version=2018-07-10"
        ],
        "Retry-After": [
          "30"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/siterecoveryprod1/providers/Microsoft.RecoveryServices/vaults/SDKVault/replicationJobs/2d5b0264-7cf1-4476-936e-0352ed032481?api-version=2018-07-10"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/siterecoveryprod1/providers/Microsoft.RecoveryServices/vaults/SDKVault/replicationJobs/2d5b0264-7cf1-4476-936e-0352ed032481?api-version=2018-07-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/siterecoveryprod1/providers/Microsoft.RecoveryServices/vaults/SDKVault/replicationJobs/1b8fb560-633e-4329-83fd-c8ee9cda0fd8\",\r\n  \"name\": \"1b8fb560-633e-4329-83fd-c8ee9cda0fd8\",\r\n  \"properties\": {\r\n    \"activityId\": \"6ffb7fc8-8b34-45ee-a9b9-df73754c31b0 ActivityId: cc24a43e-a0e3-4f10-ac68-25718c094545\",\r\n    \"scenarioName\": \"UnplannedFailover\",\r\n    \"friendlyName\": \"Failover\",\r\n    \"state\": \"InProgress\",\r\n    \"stateDescription\": \"InProgress\",\r\n    \"tasks\": [\r\n      {\r\n        \"taskId\": \"629e5ffe-9365-473e-a66a-43f4390fb984\",\r\n        \"name\": \"RpSrsPrerequisitesCheck\",\r\n        \"startTime\": \"2017-05-13T18:05:47.6008035Z\",\r\n        \"endTime\": \"2017-05-13T18:05:52.677206Z\",\r\n        \"allowedActions\": [],\r\n        \"friendlyName\": \"Prerequisites check for the recovery plan\",\r\n        \"state\": \"Succeeded\",\r\n        \"stateDescription\": \"Completed\",\r\n        \"taskType\": \"TaskDetails\",\r\n        \"customDetails\": {\r\n          \"instanceType\": \"TaskDetails\"\r\n        },\r\n        \"groupTaskCustomDetails\": null,\r\n        \"errors\": []\r\n      },\r\n      {\r\n        \"taskId\": \"b73181f5-1d9c-4613-97ce-ac2263976c80\",\r\n        \"name\": \"RpEnvironmentCreationTask\",\r\n        \"startTime\": \"2017-05-13T18:05:52.7709422Z\",\r\n        \"endTime\": \"2017-05-13T18:05:54.0694669Z\",\r\n        \"allowedActions\": [],\r\n        \"friendlyName\": \"Create the environment\",\r\n        \"state\": \"Succeeded\",\r\n        \"stateDescription\": \"Completed\",\r\n        \"taskType\": \"TaskDetails\",\r\n        \"customDetails\": {\r\n          \"instanceType\": \"TaskDetails\"\r\n        },\r\n        \"groupTaskCustomDetails\": null,\r\n        \"errors\": []\r\n      },\r\n      {\r\n        \"taskId\": \"FailoverAllActionGroup\",\r\n        \"name\": \"Unknown\",\r\n        \"startTime\": \"2017-05-13T18:05:54.2554224Z\",\r\n        \"endTime\": \"0001-01-01T00:00:00\",\r\n        \"allowedActions\": [],\r\n        \"friendlyName\": \"Recovery plan failover\",\r\n        \"state\": \"InProgress\",\r\n        \"stateDescription\": \"InProgress\",\r\n        \"taskType\": \"RecoveryPlanGroupTaskDetails\",\r\n        \"customDetails\": null,\r\n        \"groupTaskCustomDetails\": {\r\n          \"name\": \"FailoverAllActionGroup\",\r\n          \"groupId\": \"FailoverAllActionGroup\",\r\n          \"rpGroupType\": \"RpFailoverTask\",\r\n          \"instanceType\": \"RecoveryPlanGroupTaskDetails\",\r\n          \"childTasks\": [\r\n            {\r\n              \"taskId\": \"af29e4a4-ff52-4265-a16b-45bf902e302e\",\r\n              \"name\": \"Unknown\",\r\n              \"startTime\": \"2017-05-13T18:05:54.2554224Z\",\r\n              \"endTime\": \"0001-01-01T00:00:00\",\r\n              \"allowedActions\": [],\r\n              \"friendlyName\": \"vm1\",\r\n              \"state\": \"InProgress\",\r\n              \"stateDescription\": \"InProgress\",\r\n              \"taskType\": \"VirtualMachineTaskDetails\",\r\n              \"customDetails\": {\r\n                \"skippedReason\": \"None\",\r\n                \"skippedReasonString\": null,\r\n                \"jobTask\": {\r\n                  \"jobId\": \"/Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/siterecoveryprod1/providers/Microsoft.RecoveryServices/vaults/SDKVault/replicationJobs/07cf6e6d-f31b-4ebd-92b5-d457b5ce944c\",\r\n                  \"jobFriendlyName\": \"Failover\",\r\n                  \"targetObjectId\": \"f8491e4f-817a-40dd-a90c-af773978c75b\",\r\n                  \"targetObjectName\": \"vm1\",\r\n                  \"targetInstanceType\": \"Vm\",\r\n                  \"jobScenarioName\": \"UnplannedFailover\"\r\n                },\r\n                \"instanceType\": \"VirtualMachineTaskDetails\"\r\n              },\r\n              \"groupTaskCustomDetails\": null,\r\n              \"errors\": []\r\n            }\r\n          ]\r\n        },\r\n        \"errors\": []\r\n      },\r\n      {\r\n        \"taskId\": \"Group1\",\r\n        \"name\": \"Unknown\",\r\n        \"startTime\": \"0001-01-01T00:00:00\",\r\n        \"endTime\": \"0001-01-01T00:00:00\",\r\n        \"allowedA[...]
[...]
    {
      "RequestUri": "/Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/siterecoveryprod1/providers/Microsoft.RecoveryServices/vaults/SDKVault/replicationRecoveryPlans/rpTest1?api-version=2018-07-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/siterecoveryprod1/providers/Microsoft.RecoveryServices/vaults/SDKVault/replicationRecoveryPlans/rpTest1\",\r\n  \"name\": \"rpTest1\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/replicationRecoveryPlans\",\r\n  \"properties\": {\r\n    \"friendlyName\": \"rpTest1\",\r\n    \"primaryFabricId\": \"/Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/siterecoveryprod1/providers/Microsoft.RecoveryServices/vaults/SDKVault/replicationFabrics/SiteRecoveryTestSite1\",\r\n    \"primaryFabricFriendlyName\": \"SiteRecoveryTestSite1\",\r\n    \"recoveryFabricId\": \"Microsoft Azure\",\r\n    \"recoveryFabricFriendlyName\": \"Microsoft Azure\",\r\n    \"failoverDeploymentModel\": \"ResourceManager\",\r\n    \"replicationProviders\": [\r\n      \"HyperVReplicaAzure\"\r\n    ],\r\n    \"allowedOperations\": [\r\n      \"PlannedFailover\",\r\n      \"UnplannedFailover\",\r\n      \"TestFailover\",\r\n      \"Commit\"\r\n    ],\r\n    \"lastPlannedFailoverTime\": \"2017-05-13T17:49:23.8812431Z\",\r\n    \"lastTestFailoverTime\": \"2017-05-13T14:36:28.4407195Z\",\r\n    \"currentScenario\": {\r\n      \"scenarioName\": \"UnplannedFailover\",\r\n      \"jobId\": \"/Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/siterecoveryprod1/providers/Microsoft.RecoveryServices/vaults/SDKVault/replicationJobs/1b8fb560-633e-4329-83fd-c8ee9cda0fd8\",\r\n      \"startTime\": \"2017-05-13T18:05:52.677206Z\"\r\n    },\r\n    \"currentScenarioStatus\": \"Succeeded\",\r\n    \"currentScenarioStatusDescription\": \"Completed\",\r\n    \"groups\": [\r\n      {\r\n        \"groupType\": \"Shutdown\",\r\n        \"replicationProtectedItems\": [],\r\n        \"startGroupActions\": [],\r\n        \"endGroupActions\": []\r\n      },\r\n      {\r\n        \"groupType\": \"Failover\",\r\n        \"replicationProtectedItems\": [],\r\n        \"startGroupActions\": [],\r\n        \"endGroupActions\": []\r\n      },\r\n      {\r\n        \"groupType\": \"Boot\",\r\n        \"replicationProtectedItems\": [\r\n          {\r\n            \"id\": \"/Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/siterecoveryprod1/providers/Microsoft.RecoveryServices/vaults/SDKVault/replicationFabrics/SiteRecoveryTestSite1/replicationProtectionContainers/cloud_fa06e03b-e306-52f4-a01f-88cdeba67a1c/replicationProtectedItems/vm1\",\r\n            \"virtualMachineId\": \"f8491e4f-817a-40dd-a90c-af773978c75b\"\r\n          }\r\n        ],\r\n        \"startGroupActions\": [],\r\n        \"endGroupActions\": []\r\n      }\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14012"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "c183865e-6077-46f2-a3b1-deb0f4f4650a"
  }
}
