{
  "Entries": [
    {
      "RequestUri": "/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/providers/Microsoft.PolicyInsights/remediations?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "149"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"policyAssignmentId\": \"/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/providers/microsoft.authorization/policyassignments/613e8ca956654139835a4c6e\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"createdOn\": \"2021-11-10T23:41:25.3870352Z\",\r\n        \"lastUpdatedOn\": \"2021-11-10T23:42:37.6709452Z\",\r\n        \"deploymentStatus\": {\r\n          \"totalDeployments\": 102,\r\n          \"successfulDeployments\": 102,\r\n          \"failedDeployments\": 0\r\n        },\r\n        \"resourceDiscoveryMode\": \"ExistingNonCompliant\",\r\n        \"correlationId\": \"e775ea48-6152-49a4-8820-6e1e457a069c\",\r\n        \"resourceCount\": 102,\r\n        \"parallelDeployments\": 15\r\n      },\r\n      \"id\": \"/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/providers/microsoft.policyinsights/remediations/sdktests\",\r\n      \"name\": \"sdkTests\",\r\n      \"type\": \"Microsoft.PolicyInsights/remediations\",\r\n      \"systemData\": {\r\n        \"createdBy\": \"elpere@microsoft.com\",\r\n        \"createdByType\": \"User\",\r\n        \"createdAt\": \"2021-11-10T23:41:25.064087Z\",\r\n        \"lastModifiedBy\": \"elpere@microsoft.com\",\r\n        \"lastModifiedByType\": \"User\",\r\n        \"lastModifiedAt\": \"2021-11-10T23:41:25.064087Z\"\r\n      }\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"policyAssignmentId\": \"/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/providers/microsoft.authorization/policyassignments/613e8ca956654139835a4c6e\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"createdOn\": \"2021-11-10T22:35:57.0314587Z\",\r\n        \"lastUpdatedOn\": \"2021-11-10T22:35:57.0317887Z\",\r\n        \"filters\": {\r\n          \"locations\": [\r\n            \"westeurope\"\r\n          ]\r\n        },\r\n        \"deploymentStatus\": {\r\n          \"totalDeployments\": 0,\r\n          \"successfulDeployments\": 0,\r\n          \"failedDeployments\": 0\r\n        },\r\n        \"resourceDiscoveryMode\": \"ExistingNonCompliant\",\r\n        \"correlationId\": \"712af5b1-eaab-40fc-8e62-dfae6416bed1\"\r\n      },\r\n      \"id\": \"/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/resourcegroups/testrg35/providers/microsoft.policyin[...]
    {
      "RequestUri": "/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/providers/Microsoft.PolicyInsights/remediations?api-version=2021-10-01&$skiptoken=K1JJRDp%2BdVlkVUFQb0lTQVYyanlVQ0FBQUFCdz09I1JUOjEjVFJDOjEwMCNSVEQ6amkwK0lXNXp3TEZGNC9reVNwSXpCVE14TXpJdU1qSXVNakZWTXpNN01qazdOamt2T0RZMU1qZzJObHNBI0lTVjoyI0lFTzo2NTU1MSNRQ0Y6NA%3D%3D",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-pol[...]
    {
      "RequestUri": "/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/providers/Microsoft.PolicyInsights/remediations?api-version=2021-10-01&$top=99",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "147"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "applicatio[...]
[...]
    {
      "RequestUri": "/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/providers/Microsoft.PolicyInsights/remediations?api-version=2021-10-01&$top=101&$skiptoken=K1JJRDp%2BdVlkVUFQb0lTQVYyanlVQ0FBQUFCdz09I1JUOjEjVFJDOjEwMCNSVEQ6amkwK0lXNXp3TEZGNC9reVNwSXpCVE14TXpJdU1qSXVNakZWTXpNN01qazdOamt2T0RZMU1qZzJObHNBI0lTVjoyI0lFTzo2NTU1MSNRQ0Y6NA%3D%3D",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-rema[...]
    {
      "RequestUri": "/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/providers/Microsoft.PolicyInsights/remediations/sdkTests/listDeployments?api-version=2021-10-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "144"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"remediatedResourceId\": \"/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/resourcegroups/testrg9/providers/microsoft.network/networksecuritygroups/test4c06f7df\",\r\n      \"status\": \"Succeeded\",\r\n      \"resourceLocation\": \"westus\",\r\n      \"createdOn\": \"2021-11-10T23:41:42.0745602Z\",\r\n      \"lastUpdatedOn\": \"2021-11-10T23:42:37.4791006Z\"\r\n    },\r\n    {\r\n      \"remediatedResourceId\": \"/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/resourcegroups/testrg9/providers/microsoft.keyvault/vaults/test30d6f06c\",\r\n      \"status\": \"Succeeded\",\r\n      \"resourceLocation\": \"centralus\",\r\n      \"createdOn\": \"2021-11-10T23:41:42.0745543Z\",\r\n      \"lastUpdatedOn\": \"2021-11-10T23:4[...]
    {
      "RequestUri": "/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/providers/Microsoft.PolicyInsights/remediations/sdkTests/listDeployments?api-version=2021-10-01&$skiptoken=K1JJRDp%2BdVlkVUFQb0lTQVVHVkxVQkFBQUFDUT09I1JUOjEjVFJDOjEwMCNSVEQ6RWlhanY5K2Jmb0tQQmdlK1cvc1dCVE14TXpJdU1qSXVNakZWTXpRN05USTdOVFV2TWpvM056UXhPbHNBI0lTVjoyI0lFTzo2NTU1MSNRQ0Y6NA%3D%3D",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-[...]
    {
      "RequestUri": "/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/providers/Microsoft.PolicyInsights/remediations/sdkTests/listDeployments?api-version=2021-10-01&$top=99",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "142"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ],
        "Content-Type[...]
[...]
    {
      "RequestUri": "/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/providers/Microsoft.PolicyInsights/remediations/sdkTests/listDeployments?api-version=2021-10-01&$top=101&$skiptoken=K1JJRDp%2BdVlkVUFQb0lTQVVHVkxVQkFBQUFDUT09I1JUOjEjVFJDOjEwMCNSVEQ6RWlhanY5K2Jmb0tQQmdlK1cvc1dCVE14TXpJdU1qSXVNakZWTXpRN05USTdOVFV2TWpvM056UXhPbHNBI0lTVjoyI0lFTzo2NTU1MSNRQ0Y6NA%3D%3D",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "140"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11990"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"remediatedResourceId\": \"/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/resourcegroups/testrg9/providers/microsoft.keyvault/vaults/test6517c0a1\",\r\n      \"status\": \"Succeeded\",\r\n      \"resourceLocation\": \"centralus\",\r\n      \"createdOn\": \"2021-11-10T23:41:42.0738482Z\",\r\n      \"lastUpdatedOn\": \"2021-11-10T23:41:44.1460586Z\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "086aecf4-23d6-4dfd-99a8-a5c6299f0322"
  }
}