{
  "Entries": [
    {
      "RequestUri": "//subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourceGroups/cheggpolicy/providers/Microsoft.Sql/servers/cheggsql/providers/Microsoft.PolicyInsights/remediations/5f39e0f3-3945-4587-8a24-c1161dc10ef4?api-version=2018-07-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"policyAssignmentId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.Authorization/policyAssignments/951bc2f1b9194a66a9552f97\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
          "590"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"policyAssignmentId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/microsoft.authorization/policyassignments/951bc2f1b9194a66a9552f97\",\r\n    \"provisioningState\": \"Accepted\",\r\n    \"createdOn\": \"2018-10-03T23:25:11.2565266Z\",\r\n    \"lastUpdatedOn\": \"2018-10-03T23:25:11.2722051Z\",\r\n    \"deploymentStatus\": {\r\n      \"totalDeployments\": 1,\r\n      \"successfulDeployments\": 0,\r\n      \"failedDeployments\": 0\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/cheggpolicy/providers/microsoft.sql/servers/cheggsql/providers/microsoft.policyinsights/remediations/5f39e0f3-3945-4587-8a24-c1161dc10ef4\",\r\n  \"name\": \"5f39e0f3-3945-4587-8a24-c1161dc10ef4\",\r\n  \"type\": \"Microsoft.PolicyInsights/remediations\"\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "//subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourceGroups/cheggpolicy/providers/Microsoft.Sql/servers/cheggsql/providers/Microsoft.PolicyInsights/remediations/5f39e0f3-3945-4587-8a24-c1161dc10ef4/listDeployments?api-version=2018-07-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
          "594"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11985"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"remediatedResourceId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/cheggpolicy/providers/microsoft.sql/servers/cheggsql\",\r\n      \"deploymentId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/cheggpolicy/providers/microsoft.resources/deployments/63e36592-5244-416f-b8e4-8546e85280af\",\r\n      \"status\": \"Succeeded\",\r\n      \"resourceLocation\": \"westcentralus\",\r\n      \"createdOn\": \"2018-10-03T23:25:11.2565266Z\",\r\n      \"lastUpdatedOn\": \"2018-10-03T23:27:15.0369391Z\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "//subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourceGroups/cheggpolicy/providers/Microsoft.Sql/servers/cheggsql/providers/Microsoft.PolicyInsights/remediations/5f39e0f3-3945-4587-8a24-c1161dc10ef4/cancel?api-version=2018-07-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
          "593"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"InvalidCancelRemediationRequest\",\r\n    \"message\": \"The request to cancel remediation '5f39e0f3-3945-4587-8a24-c1161dc10ef4' is invalid. A completed remediation cannot be cancelled.\"\r\n  }\r\n}",
      "StatusCode": 400
    },
[...]
