{
  "Entries": [
    {
      "RequestUri": "/subscriptions/f67cc918-f64f-4c3f-aa24-a855465f9d41/resourceGroups/cheggrg/providers/Microsoft.PolicyInsights/remediations/79535898-0a82-4cbc-bd17-ea08f3cd2ea0?api-version=2019-07-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"policyAssignmentId\": \"/subscriptions/f67cc918-f64f-4c3f-aa24-a855465f9d41/providers/Microsoft.Authorization/policyAssignments/fcddeb6113ec43798567dce2\",\r\n    \"resourceDiscoveryMode\": \"ReEvaluateCompliance\",\r\n    \"filters\": {\r\n      \"locations\": [\r\n        \"westeurope\"\r\n      ]\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
          "599"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"policyAssignmentId\": \"/subscriptions/f67cc918-f64f-4c3f-aa24-a855465f9d41/providers/microsoft.authorization/policyassignments/fcddeb6113ec43798567dce2\",\r\n    \"provisioningState\": \"Accepted\",\r\n    \"createdOn\": \"2019-11-21T19:53:26.0600348Z\",\r\n    \"lastUpdatedOn\": \"2019-11-21T19:53:26.231873Z\",\r\n    \"filters\": {\r\n      \"locations\": [\r\n        \"westeurope\"\r\n      ]\r\n    },\r\n    \"deploymentStatus\": {\r\n      \"totalDeployments\": 0,\r\n      \"successfulDeployments\": 0,\r\n      \"failedDeployments\": 0\r\n    },\r\n    \"resourceDiscoveryMode\": \"ReEvaluateCompliance\"\r\n  },\r\n  \"id\": \"/subscriptions/f67cc918-f64f-4c3f-aa24-a855465f9d41/resourcegroups/cheggrg/providers/microsoft.policyinsights/remediations/79535898-0a82-4cbc-bd17-ea08f3cd2ea0\",\r\n  \"name\": \"79535898-0a82-4cbc-bd17-ea08f3cd2ea0\",\r\n  \"type\": \"Microsoft.PolicyInsights/remediations\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/f67cc918-f64f-4c3f-aa24-a855465f9d41/resourceGroups/cheggrg/providers/Microsoft.PolicyInsights/remediations/79535898-0a82-4cbc-bd17-ea08f3cd2ea0/listDeployments?api-version=2019-07-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
          "593"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11913"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"remediatedResourceId\": \"/subscriptions/f67cc918-f64f-4c3f-aa24-a855465f9d41/resourcegroups/cheggrg/providers/microsoft.keyvault/vaults/cheggkvwe\",\r\n      \"deploymentId\": \"/subscriptions/f67cc918-f64f-4c3f-aa24-a855465f9d41/resourcegroups/cheggrg/providers/microsoft.resources/deployments/policydeployment_15618842827812226386\",\r\n      \"status\": \"Succeeded\",\r\n      \"resourceLocation\": \"westeurope\",\r\n      \"createdOn\": \"2019-11-21T20:06:37.2119742Z\",\r\n      \"lastUpdatedOn\": \"2019-11-21T20:07:41.2652953Z\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/f67cc918-f64f-4c3f-aa24-a855465f9d41/resourceGroups/cheggrg/providers/Microsoft.PolicyInsights/remediations/79535898-0a82-4cbc-bd17-ea08f3cd2ea0/cancel?api-version=2019-07-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
          "592"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"InvalidCancelRemediationRequest\",\r\n    \"message\": \"The request to cancel remediation '79535898-0a82-4cbc-bd17-ea08f3cd2ea0' is invalid. A completed remediation cannot be cancelled.\"\r\n  }\r\n}",
      "StatusCode": 400
    },
[...]
