{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-e3614d61-a97f-61c5-f6f3-99b0740da9b6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 20 Jan 2022 20:47:12 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DC56092D2E0A\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:47:12 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-e3614d61-a97f-61c5-f6f3-99b0740da9b6/test-file-fac77d08-1519-4cb7-6b25-6233381b5d33?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Jan 2022 20:47:12 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DC560938CC56\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:47:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-e3614d61-a97f-61c5-f6f3-99b0740da9b6/test-file-fac77d08-1519-4cb7-6b25-6233381b5d33?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 20 Jan 2022 20:47:12 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "DQ\u002BEtb1eOPbn3hIDbFceosGDoYX763AWBwTeWYm5ykLHdHwOWdUxqkTREjoDs98UBsBytHnXOCKeba24gN9tLhPPPPjaEEjrUvdBKdg2E1QlylLJRhbJ7ztab\u002BsneCllY\u002BQnM3bmOfZ3h2KClg5KZ1pZk7WMo\u002Bf9Bk29gKBcw9nN28bzD9/dPpBcUb\u002BzR1gsEAiRzuVz2b/9KS0pKblVGsOJtLtIVlh6e1QlMFInSr/0kG\u002BYy/X0WQEG9uWytBXXBjf7KpKc47qvF1KRTqlt1d9tNJhJvU/OlFq5Ql9yyMc\u002BTSkaKx8sWKy16L[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-e3614d61-a97f-61c5-f6f3-99b0740da9b6/test-file-fac77d08-1519-4cb7-6b25-6233381b5d33?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9DC560938CC56\u0022",
        "x-ms-date": "Thu, 20 Jan 2022 20:47:13 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DC56095C06AC\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:47:13 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-e3614d61-a97f-61c5-f6f3-99b0740da9b6/test-file-fac77d08-1519-4cb7-6b25-6233381b5d33",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Jan 2022 20:47:13 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9DC56098DE4E0\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:47:13 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 20 Jan 2022 20:47:12 GMT",
        "x-ms-last-access-time": "Thu, 20 Jan 2022 20:47:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": "eOaBCZwN\u002BZbE6KUjwKgpo0dJG95zl5zATvlpfTMnIovA6NFLp5LHBy4SssC2ybswRRJoD19dcuFJwLuio3tjnMYaY9fX3fy1ghSvYOTbCoQ9ODggvhIsYnbvAubWJGOyrxX6m2bkWWcVs41LrhH9bbY3ZWtDQt607gBh6NsW3l2w/LHO4W4eWd/QCwuE4LRk8ZQvnr/4b2w3Rq1lgnGM/9Qwm7FgL4xIGQuLcjfSLw1M/PZH50Cet41ElpvBuNZuRAw3VEUCA8II54Wzbfw1ZBafGYV6RReUkeMkHJjwhmA0HC4rm9rHSfkzPv\u002B66kmQDzGEIZ5Q8//0osJh3ucpF2Akf1HOCsk718\u002BMRwYY2aeakw1nbGTC4yguN/gXZWsRCSeelWr4wgVoSEnOw6z428k[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-e3614d61-a97f-61c5-f6f3-99b0740da9b6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Jan 2022 20:47:13 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "834092454",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}