{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-0922ac77-7b08-f546-36b5-6efabca0b059?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 20 Jan 2022 20:46:53 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DC55FDD14F65\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:46:53 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-0922ac77-7b08-f546-36b5-6efabca0b059/test-file-c68c881f-0ed2-3e14-447a-8f3fb3802d58?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Jan 2022 20:46:53 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DC55FDE326C1\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:46:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-0922ac77-7b08-f546-36b5-6efabca0b059/test-file-c68c881f-0ed2-3e14-447a-8f3fb3802d58?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 20 Jan 2022 20:46:53 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "jh4ZIH3fVqo10PBd7r4YtNiGpj9SYX3Th\u002BSLiBq3n3988RtwrM/DQDHhkQIdt0\u002BGYdpnLdntBi2hRZmZU86PfTBx4f2jpwgIw2YOcM97ts\u002BUBSY/UHKljuruz2Y2KexiURPRrNZS47nSX2lz3pVdJo/JBU6oUC2\u002By1IStNih0Zl5qx\u002B8qQn5QSFsbfEIMa9UkKnXbSSdugHmE\u002BCDQC7hMY3Q\u002BTN2oXyFz8MtO\u002BI8tpmivSQuyWR13PAd1ZYpdgHziztjNzh83u8tUp1gcH8eqlxG4YIKsmcoWx1CWMvlW1nBObCm2H5hJ[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-0922ac77-7b08-f546-36b5-6efabca0b059/test-file-c68c881f-0ed2-3e14-447a-8f3fb3802d58?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9DC55FDE326C1\u0022",
        "x-ms-date": "Thu, 20 Jan 2022 20:46:54 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DC55FE03F070\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:46:54 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-0922ac77-7b08-f546-36b5-6efabca0b059/test-file-c68c881f-0ed2-3e14-447a-8f3fb3802d58",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Jan 2022 20:46:54 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9DC55FE381843\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:46:54 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 20 Jan 2022 20:46:53 GMT",
        "x-ms-last-access-time": "Thu, 20 Jan 2022 20:46:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": "7OlkMM4M1DFIivwfe5cUsXSjJZiPNGIfx14L14CuJ8xjJiWYn5uz4L2b\u002BlDb3N0jS4FkhBq2\u002BriHRWhwAPywmmMvu1RxexLY8EXb9DkSQ\u002BqA6Iz/SaKyrCtsEVkzQt/B6mDtqyGJsdBujJTU2wZ\u002BdAF97xdwsVDAfQ8oBGq4pK1lGQrZJZjJ9za7kL0N3dAl7pxYtlLIUDgPLC4RYKxltefnbsL8pU9os/jgtCGTsp8\u002BAxbNYO5ancjRyvhqt5eKVdrVJm8OKUhN7wJa55wXe3mO0l2WmFX4jNH5KttW/vxgVl5GvYwwMNnNgHDs/7Ysuk5\u002B2\u002BQ6872E3ZmeFP9t9vAF\u002BpA90b7tXqKDyBjlC40azXCM2CMXJmOhweDykR[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-0922ac77-7b08-f546-36b5-6efabca0b059?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Jan 2022 20:46:54 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "241055539",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}