{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-857ac811-3e67-c619-987d-a6508c94b64b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 20 Jan 2022 20:46:35 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DC55F32F568E\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:46:35 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-857ac811-3e67-c619-987d-a6508c94b64b/test-file-1ecd791d-deba-a899-b0cb-5bc4b429b73a?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Jan 2022 20:46:36 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DC55F3B2C3D6\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:46:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-857ac811-3e67-c619-987d-a6508c94b64b/test-file-1ecd791d-deba-a899-b0cb-5bc4b429b73a?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 20 Jan 2022 20:46:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "EzZ/QHnhliueSG7f3aavlWaBoY9WIqqbJzpJs900Q7/75d/CnCNfQY6m9khzA76ubH4/v05PxPCM5Bk/mOJNagSu4/jH7fhDIV8BsCxhJyR8mkZe9YNwqyHuNrgKIKmrWIxDxCDF5n\u002BF\u002B57uThPEKrz1wv2c73WAPjfX2bZAOAG2VVegHWIEtrTG2fnlgV0NKQv7FV2sDmkWw4bo7g3IRcOdOPm8JAxa8AxJ1hV7mrzayq\u002BrRSOjCkbuiVrcG8im/ZM2SEljUQX/oSRRYjhTmyjKDiRdHQCg\u002BS6yzZqxfdVDotmCRVJzdnmqq6P\u002BUacNmu4y[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-857ac811-3e67-c619-987d-a6508c94b64b/test-file-1ecd791d-deba-a899-b0cb-5bc4b429b73a?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9DC55F3B2C3D6\u0022",
        "x-ms-date": "Thu, 20 Jan 2022 20:46:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DC55F41CC0EA\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:46:37 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-857ac811-3e67-c619-987d-a6508c94b64b/test-file-1ecd791d-deba-a899-b0cb-5bc4b429b73a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Jan 2022 20:46:38 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9DC55F45AD25E\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:46:37 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 20 Jan 2022 20:46:36 GMT",
        "x-ms-last-access-time": "Thu, 20 Jan 2022 20:46:37 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "jFISxM2xN77cWX\u002BmnF8m0oOfCSkIMhUZNDy6wcvywNcyUbh\u002BhBjnb\u002BnPJznO6QNRQgmIsfwlwVk9\u002BZCR9nby6pmoc0qmp05rt5pAOQvcSko5aH7Cag7bDJBfQYuIVnly3DyfJna4q5q6HPlh5YdNYK5FWI33L4CLzWe5R2bD4mEhzlzOPSPUgL3kB00UeScIEeHcQ/7req28FFkP/mM09zqYQBcrfyOLcNfQEycydlQ/sTaE5p9jNlOvEijKxYFZrxATfDgQ3ZK9UdImGmaFiZ4Fz00trxCaNQrDfGz6wapWd2MXH/kbL9Skx5XMPBvsKoiKxPY0KwD/eEctTGAlwo8n0KMDbWqk6aB5ieh6zvju1lLkcPy0IUtjF6ex7eJzfwQGpGx46bwe5dtVuq[...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-36f505b6-1ad3-a715-9d83-7e86bc5124c3/test-file-63003475-2793-ef4e-22ad-34fc8153fc53?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 19 Jan 2022 20:46:35 GMT",
        "x-ms-date": "Thu, 20 Jan 2022 20:46:38 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DC55F4EC4EE5\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:46:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-3f7ac79b-4b11-0485-b3f2-9d038777bbe3/test-file-dc70e32f-5da3-e5d4-2637-cd030272f50d?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 21 Jan 2022 20:46:35 GMT",
        "x-ms-date": "Thu, 20 Jan 2022 20:46:39 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DC55F577FFE2\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:46:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-9b4198b2-8825-1902-6f6b-70d5b9d8aa52/test-file-45f2a80f-3452-54ea-a93d-ab27289fbf47",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Jan 2022 20:46:40 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9DC55F5F1D929\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:46:40 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 20 Jan 2022 20:46:40 GMT",
        "x-ms-last-access-time": "Thu, 20 Jan 2022 20:46:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-48696a69-4e73-cd0c-8d4f-492451146ae1/test-file-86257422-13c9-863b-e027-a6124aad257a?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Thu, 20 Jan 2022 20:46:41 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DC55F68A0B74\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:46:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-f6874d5d-c984-bd34-0e2c-585fb29826f5/test-file-8bea4175-8a66-ebf0-99b5-f3ae97ff0b5e?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Jan 2022 20:46:42 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "2bcbc20a-bfe2-b93e-2b0b-e03e69896b54",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DC55F703BDB5\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:46:42 GMT",
        "x-ms-lease-id": "2bcbc20a-bfe2-b93e-2b0b-e03e69896b54",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-f6874d5d-c984-bd34-0e2c-585fb29826f5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Jan 2022 20:46:43 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-01-20T12:46:35.1424715-08:00",
    "RandomSeed": "1249767693",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}