{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/912413408/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/912413408/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/912413408/3957ab93314542418b5ec6b3e69b9229",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zsIK8aTaiSRK6wePXHbh8i42EpG-9Xl8mUoZvEVSn-8DITUf9Puyuyfu3Yag0SqJNyxM8pybGi4jxRTxYpUWk5lca_AErA2YzIabl8keFH2qzns77LJCfS7hAKrvcXrJ565tRcxJepBNQzr_wnx5z8OtJkjwKldeNotfzifR0NDROjp7QLQBDZsZY1yMQ3U93PWybvECWOLcLuNmuJ1Z2dAVS8ubvoBZ3MvK4obeYGNzdFDNwsBAxjSmVT9nxpWK2WI5it_A8GdYzOUhRbAPt1PEFUS1GzcBtRwRdc7QNkYXDwgn-XknXtb9D0TPmxInZa1flNjjt1shZlbax5bCpQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1679346826,
          "updated": 1679346826,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/912413408/3957ab93314542418b5ec6b3e69b9229/sign?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "YPMYCWi4F5iB0VeftRDvoh3NWmgJncjBwLa45jptbxA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/912413408/3957ab93314542418b5ec6b3e69b9229",
        "value": "abA9zEZht-AgGWbZOQ4TD46qBouNy-yPjQnFifo-g3f2gdTiYhw_aSGXBSTHlxtUXm04_Hp5SYjUGlKkk3IrE23nuSWfp7TkVVxFsnOLL_vAJwaFQkiLakEkdsuSFGeGSmc0kiFz_GZUhiL7iRqW8K_nOufb6xqRNJGeGy_sHixxa_QaRqngxue3Dq0cfa3qW3GcMrDaMwznjlVjlNFLqByNhkeoNwcTIGxaNwfUqn7AVbVyu-bPh6Og_OgOLxu2LJOdsP_Yvot26JeHYgTO6SJm_cvsnNec2rPqFfhivISv2HPhVDAI0yf-drOtOEl5q4fU8aCDY__RY9xfw3XajA"
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/912413408/3957ab93314542418b5ec6b3e69b9229/verify?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "YPMYCWi4F5iB0VeftRDvoh3NWmgJncjBwLa45jptbxA",
        "value": "abA9zEZht-AgGWbZOQ4TD46qBouNy-yPjQnFifo-g3f2gdTiYhw_aSGXBSTHlxtUXm04_Hp5SYjUGlKkk3IrE23nuSWfp7TkVVxFsnOLL_vAJwaFQkiLakEkdsuSFGeGSmc0kiFz_GZUhiL7iRqW8K_nOufb6xqRNJGeGy_sHixxa_QaRqngxue3Dq0cfa3qW3GcMrDaMwznjlVjlNFLqByNhkeoNwcTIGxaNwfUqn7AVbVyu-bPh6Og_OgOLxu2LJOdsP_Yvot26JeHYgTO6SJm_cvsnNec2rPqFfhivISv2HPhVDAI0yf-drOtOEl5q4fU8aCDY__RY9xfw3XajA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1941363556"
  }
}
