{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/710192663/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/710192663/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/710192663/99bc3479a9074536b9e749fab92553ad",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0LGllMSLMOhz4hcutYL0tQqTaWhlMHXtKpeVz92WY577E9bnRdy6Ap5eFGVRGyuVz8be5RZFOxlQBdkqZBxszM7hlDURAZmPEik_3kEIDc11KmIccCZaJQggvJNG3vuRY15pH5Z8-z0CGRTMfG_9IbXvBxWNUA_w4dWiW1u_ACD1uISXd2nRy6SK4I-KWSrn80xqLxLeTL4x3UNDvfNhDj2eUh8OgVUFFfCcsHYo31_ak02UpvMpAH_qfmua2sZHFfiFHsITkr3Pv23e2L6RjVCCjvHnHkGihNcB5htTfpE1u-jwmzcO1usW7RZ19LrOVQNEsiYip8Mo1qSBe1UXGQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1679346825,
          "updated": 1679346825,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/710192663/99bc3479a9074536b9e749fab92553ad?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/710192663/99bc3479a9074536b9e749fab92553ad",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0LGllMSLMOhz4hcutYL0tQqTaWhlMHXtKpeVz92WY577E9bnRdy6Ap5eFGVRGyuVz8be5RZFOxlQBdkqZBxszM7hlDURAZmPEik_3kEIDc11KmIccCZaJQggvJNG3vuRY15pH5Z8-z0CGRTMfG_9IbXvBxWNUA_w4dWiW1u_ACD1uISXd2nRy6SK4I-KWSrn80xqLxLeTL4x3UNDvfNhDj2eUh8OgVUFFfCcsHYo31_ak02UpvMpAH_qfmua2sZHFfiFHsITkr3Pv23e2L6RjVCCjvHnHkGihNcB5htTfpE1u-jwmzcO1usW7RZ19LrOVQNEsiYip8Mo1qSBe1UXGQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1679346825,
          "updated": 1679346825,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/710192663/99bc3479a9074536b9e749fab92553ad/sign?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "YPMYCWi4F5iB0VeftRDvoh3NWmgJncjBwLa45jptbxA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/710192663/99bc3479a9074536b9e749fab92553ad",
        "value": "zD3rrfViCjtFqAQtBoyKrpzLzsG8-rO9pz-RnyFDp2RIRfwE8lwdoneLXzhcjCvrXVfqBAoRC0_IQYYtOtdPU2DW5ZMwINPjtn0TJ925xkODgP8SyF4TBCKHmFmKgixDCK3qHStjk_-7l1tPPwuyJWytnU58dQ9fOzVASEo5D5OhGQUHXjuf2TUyCZdymq7vSaHAYrFqaLqMSe8vajU5AJ3o9DGB6wG8zgmsQcRtxOh8GSMssuq81IiHNuLlzZgsmk5uMHS4ZgcQVCqK33Nj1bhVSB6wJ26YKjLOZHdMbLm0s0QYTXHrCgBRboEyJuHhup2vFUiCxcbyFvNFXCLtwQ"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1273378195"
  }
}
