{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/298645756/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/298645756/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/298645756/7490cb223824461b8dbdbe801263b69c",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wymmMxkQo4r7UOUBdWKf5P-GA80MqAzQe3s0T_Wk95hqj_Thm5Yjg4K9anjbGzq4mW5EzHDak_68Foqa8qs3YJFjJ_siQf6ZbHaQLmCupFIC7M7ukALLbAKZG-uCgZdmcbFFt9_j20SRJAZFxSE9p7hLcBQqAABtcrIn0vZDnk5UEEsCtXMqK73hlUj96vDm3-Gcapo2DNwktMAsKVbzFaQdIvPdSbQrpQcH4myeXYhte5DFuHNGZJU7eT7ZUyAUBgyLFU5vZZZAcddYcIwRgmTPMlbyc57Q8EfUT4kCyUm3Lm9L0DFJBOlFFKE5r5h970A_aIhfiMJhGdVZW7a97Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1679346842,
          "updated": 1679346842,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/298645756/7490cb223824461b8dbdbe801263b69c?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/298645756/7490cb223824461b8dbdbe801263b69c",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wymmMxkQo4r7UOUBdWKf5P-GA80MqAzQe3s0T_Wk95hqj_Thm5Yjg4K9anjbGzq4mW5EzHDak_68Foqa8qs3YJFjJ_siQf6ZbHaQLmCupFIC7M7ukALLbAKZG-uCgZdmcbFFt9_j20SRJAZFxSE9p7hLcBQqAABtcrIn0vZDnk5UEEsCtXMqK73hlUj96vDm3-Gcapo2DNwktMAsKVbzFaQdIvPdSbQrpQcH4myeXYhte5DFuHNGZJU7eT7ZUyAUBgyLFU5vZZZAcddYcIwRgmTPMlbyc57Q8EfUT4kCyUm3Lm9L0DFJBOlFFKE5r5h970A_aIhfiMJhGdVZW7a97Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1679346842,
          "updated": 1679346842,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/298645756/7490cb223824461b8dbdbe801263b69c/sign?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "YPMYCWi4F5iB0VeftRDvoh3NWmgJncjBwLa45jptbxA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/298645756/7490cb223824461b8dbdbe801263b69c",
        "value": "FCKFUX5cv7Y6mvTpA6_0ypHRHpWCn6JB8_t0HiPrvZ_BpEDb9SMud6Fj5o_g024YxBtqL02D3zjhC5SQ6W3zfgh9e_0Lh7ZAE5YPyVFMNS-CvEQd0DqQWq8m0PTwKC3wiLmp46tbVEaeq_xpSwjyLzd8ERCEhWsiRSSuh8mOuylfEzNxhh8-DGXk7vl8_HO0Evl7wVHjqsPOIiGm4B1SlBlnhB44Tr2WIUpEP7DFRjaUaPwThBLZxb5jtMvqvPsiXkLbzW7P4JsMml5lDdgJol87WYLi8HiDkAyOxsQSAUkC6CXAHkVlUkdciZxJqTxtr8oSJY6rQNqB-QYQ5aKCvw"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1954161714"
  }
}
