{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/639502423/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/639502423/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/639502423/6d0466fa58074ea3aa0c4fd0cacf1688",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uv5g41oEgjD0pmSssGzfVQopbto0sYfjN2xyvYjKVk1J4sZ1yNqQ69utpancJEtYQGuHbi6Ga__4YpvIMQeT5ndmxMUY3xt2CD_nB3iyT7P4P4wo5JxfX6UNdKmIYGynt2TGFLv4ZNdLL2cb9MAKLf_8Cd56PX-G7jVFMj8YQu50Vfm_pKpR8PJjxX90yRHuPSe-S7o2YMYRAf8iRAhQsDnmwmfNCf2-nNztDfI_HP3QxtmbjfDJ31Du30LDse0bs0Lwp6LRHTLn5vfbNbRPR9biUlD-lTCSgiES94Yu8Zz3xPNNPkSxhL8UiLd8q1XUHStqv6zRC0aONy0QZ52rMQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1667322942,
          "updated": 1667322942,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/639502423/6d0466fa58074ea3aa0c4fd0cacf1688/encrypt?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "8Oj40jE9P3nrEpEIiRncb8qNKm7amu_aYjEoKrEB1Fk"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/639502423/6d0466fa58074ea3aa0c4fd0cacf1688",
        "value": "mykttRPY5HYv_jxHCt5Gq4NfQWOQBQIA6UVL287a81i7Bb3WLD94dRYuskhZOGaoLTdTxbaSH_ukL-_rK7AdubQWJkB3zzqBlH-JmUvIn_F379Mv-5SFYlqRNLcWDLmE6NtT2yMFJtI7Vy1daFuq-WdGnvgML8CPyMIOCsnDLXyeS170XIyrzB5HYWOyQGrYkINVkF8nJMWPPzaeXUjJpmUdPvEQmI3OUCgRI9XsTd--ZgUL3d3EV7nsYUGM__M6Uu9N58UsfPJ6xvC1cLBMhTVamIjwXKfUGRpXo77ccU5yvtq1FDzzv2_jyJ6oj-XR9uUkN-7qIlIiCwHyoREs2g"
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/639502423/6d0466fa58074ea3aa0c4fd0cacf1688/decrypt?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "mykttRPY5HYv_jxHCt5Gq4NfQWOQBQIA6UVL287a81i7Bb3WLD94dRYuskhZOGaoLTdTxbaSH_ukL-_rK7AdubQWJkB3zzqBlH-JmUvIn_F379Mv-5SFYlqRNLcWDLmE6NtT2yMFJtI7Vy1daFuq-WdGnvgML8CPyMIOCsnDLXyeS170XIyrzB5HYWOyQGrYkINVkF8nJMWPPzaeXUjJpmUdPvEQmI3OUCgRI9XsTd--ZgUL3d3EV7nsYUGM__M6Uu9N58UsfPJ6xvC1cLBMhTVamIjwXKfUGRpXo77ccU5yvtq1FDzzv2_jyJ6oj-XR9uUkN-7qIlIiCwHyoREs2g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/639502423/6d0466fa58074ea3aa0c4fd0cacf1688",
        "value": "8Oj40jE9P3nrEpEIiRncb8qNKm7amu_aYjEoKrEB1Fk"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1242137561"
  }
}
