{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1433595247/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1433595247/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1433595247/b8a14303eb9f44a7a23f88dd9ce8a795",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wLEMooePsiybGMzSOkCGREXMwCO62mQtn04MxcEs9hu_YgakhglTfRacN2fbFcfOAKgbxyitJkCVcKg3MIzI0gLZNQU7ykHQXVVeGNIdYKfNIXzXMFwYUDKI0HdpUpu02jmTOeCFVUs2OMie0ZN1XjnVXngRLeWouuMpkaR8NQFeUMnzA-zcFx6pT0MLOy8LWzenQ0ADvjcyW-ymkkFsxJdGbBYzdjHKEkXo3oM3mrMXl4enuyqhSogE2lHUw1N_PtwzMX5qfGvaq7lUOyOWrUZVGWnOFbp5r5n2obHvyzVOpoPE1XECvXMsWwUkU7pCOL5JNeC8E7w3gbZTN8az5Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1677718887,
          "updated": 1677718887,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1433595247/b8a14303eb9f44a7a23f88dd9ce8a795/decrypt?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "K-iKir_c1jcUDFahOKNjdEAZbX8vWRObDAqmbRO_LWiLOxv07tSAoVlYmMdztB9D60mjQ7V-jnS7yTjgDpK8hyTtp0rb451JVU0Pt-Ca9bFRPeXgz1tbMwCK12U74bXwDnt62gCYKSmbAAlGNn1C62GwSn5duO8OssKYjPucIXJFPxW7LNbNTmQwkfXpykwUrKwW1hUqp2-tbYsbtdqFcVEKtxWrFX7y_EWDG_EXmaJQlcX-VTJA7WYqlilp19Z0e7bLqb_U3B23V1vWn7VefcXcGlNKJYMY_rN3R1vUXbV0Q7UeQc_akGz3AtfBKUE4DboSiMCkIr7N4hDvkfTphA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1433595247/b8a14303eb9f44a7a23f88dd9ce8a795",
        "value": "7-DeimsMikuELAex6_MFLbN3a3tMrTtAHY2ItGAzuq0"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "125867264"
  }
}
