{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/367656982/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/367656982/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/367656982/e40fbdda874b49eda7cbccbab03e76ab",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wBlMVBYNy6Ta1x8AGqIlV3m47-RdA12ZaYRhTIN282WOw-qg6l6vjzHJnlX3Bo6P-TtKF6IklqzZjnJXKCQSoQywIqqm8KLmU_MCzdVOZMElbSpVLQraiiAKyMMxwFyVj61I9SbktAMxDb_9rFMF3vDTvPdKHvHeXW0KGFzBQdEF5M5cNPZIY4mJpL_hZbnzbReLJmk88JV263Bqkpoc9cQk4lYY9WNtuJH3p9xny2anq5fNUIXQvqCXbgZAyxBOzKtZjnjoJmBjEi0ped9jl2YjJ8EXbYt1rBepNR_X9djqob4hGBmOOc10YY7pjGd6WhC2tUgP4Lyq0ESgHm6IgQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1677705455,
          "updated": 1677705455,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/367656982/e40fbdda874b49eda7cbccbab03e76ab?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/367656982/e40fbdda874b49eda7cbccbab03e76ab",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wBlMVBYNy6Ta1x8AGqIlV3m47-RdA12ZaYRhTIN282WOw-qg6l6vjzHJnlX3Bo6P-TtKF6IklqzZjnJXKCQSoQywIqqm8KLmU_MCzdVOZMElbSpVLQraiiAKyMMxwFyVj61I9SbktAMxDb_9rFMF3vDTvPdKHvHeXW0KGFzBQdEF5M5cNPZIY4mJpL_hZbnzbReLJmk88JV263Bqkpoc9cQk4lYY9WNtuJH3p9xny2anq5fNUIXQvqCXbgZAyxBOzKtZjnjoJmBjEi0ped9jl2YjJ8EXbYt1rBepNR_X9djqob4hGBmOOc10YY7pjGd6WhC2tUgP4Lyq0ESgHm6IgQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1677705455,
          "updated": 1677705455,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/367656982/e40fbdda874b49eda7cbccbab03e76ab/decrypt?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "OihVgJXJJW0LeG69UDoWJOVC1UR_ALJ6I0kRRujBX7i-8NEA08Cgg_B6jCI9suoc0KKdeSXDkBe6hi_dlg0NLCkZT2lihbI3JFA5iLLQqt6_jPPeqium8CPSyQ86h8s3EDWGxZCd0mWhRdHHTP9R3LLeLSXwN5kTzpp5uvufdR2tqnN01yAWcY_S5Ftmygu6W7RWj10NywmdN4TYoLcu5l7ODmZ3ZJDYI95-Mciw-kXkpgIgQy52qeRPA11zeFskSPiMIz-EqOpFjYstdKcdKeEDR-bb30xCE2CS0n51-f7RMPHR7-ITjsLd4m3ELEtNLl3oInBYGqZgPH0eT65XnQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/367656982/e40fbdda874b49eda7cbccbab03e76ab",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "599521007"
  }
}
