{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/282103462/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/282103462/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/282103462/de0d7d9b4c924ea8886e674ad4f2ca53",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "2GjdnyT93ghdnp9pwUPo9FsCSz79Qx0HOu9vBg25IUkzvVwSd8YuuL6Df7lm4JyObcY2XwRBSbG5BvBo9ASLm-Q1SNbtkLOTc440F37wE4XdTwG-YokzY26Kz_KRX2XKj8D6nWoN6VNKHppzkguhPANStdTdxLhJKQ6BuwvYPmah4FE5qjvRKzsrtax0bFSEVHtQiH-AdEpojIBAmyCX8nQpn2u-br8WKEqzNlAYENmUE15fSQhX8jRA5iOdUj2M7cyRL82yICxIHla7GEXOogqMoxRQNY-uxsgsRUuK2OCzZHNNNsn44G-yaXCpW_XwzgYj50OGLLuc_OgQjQ_FcQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1613784930,
          "updated": 1613784930,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/282103462/de0d7d9b4c924ea8886e674ad4f2ca53/encrypt?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "n8Pvjf4Cy4_6499vjr6wBj-mTO_dFNVQhvFhHxvVSzI"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/282103462/de0d7d9b4c924ea8886e674ad4f2ca53",
        "value": "V8hNLSXIdfESfzArHYDBTtZo22RTJ_qR7qD5kmM84cRL_rbG2BfAfFEkcJACQLU1L5ae0wAuCwLNAz44AXeam1WWbgM42gYj4F18NsNJArB0Ub-E-g7Zx-qRhwrpmfc2iaISXhKnIEM_8yo68Bgixo1TjxnER7dzUp06blBrWa6qFY2ibOPuHRPAER0XgC8YKwZ07bJvTRULNIgZJpD0eJ40WCstIMNFDWJnhluxmXwVAJeyVqCrAlaUO2_jv68I0GkQHGaKYd1gZR5X94kk0zD2gL1xcwa8lIHZ-SQbfMgELUEbY4U9QVaMBl-YLiAWNX8HN16jawya3gY7EXCxEA"
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/282103462/de0d7d9b4c924ea8886e674ad4f2ca53/decrypt?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "V8hNLSXIdfESfzArHYDBTtZo22RTJ_qR7qD5kmM84cRL_rbG2BfAfFEkcJACQLU1L5ae0wAuCwLNAz44AXeam1WWbgM42gYj4F18NsNJArB0Ub-E-g7Zx-qRhwrpmfc2iaISXhKnIEM_8yo68Bgixo1TjxnER7dzUp06blBrWa6qFY2ibOPuHRPAER0XgC8YKwZ07bJvTRULNIgZJpD0eJ40WCstIMNFDWJnhluxmXwVAJeyVqCrAlaUO2_jv68I0GkQHGaKYd1gZR5X94kk0zD2gL1xcwa8lIHZ-SQbfMgELUEbY4U9QVaMBl-YLiAWNX8HN16jawya3gY7EXCxEA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/282103462/de0d7d9b4c924ea8886e674ad4f2ca53",
        "value": "n8Pvjf4Cy4_6499vjr6wBj-mTO_dFNVQhvFhHxvVSzI"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "415626235"
  }
}