{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/49246789/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/49246789/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/49246789/51c23bac1d8641d094f66054ae058172",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "qClB2CkOAQuPx3rv6Fn9dsMA6mNuPhqj07kUKpBRfpR6Sot6tBZ2HHwhCOnIF68tj0bxqVt8kGj2aXKubWs-vLQDJ6yFNpkVmKN8EyAN6KSXMEx4w2avQ__Y8Z2eaTNdezWx6lhq8ovLEcSfLG_B6SjyVkBvHe5MUomeDkdzB5iJugbbDUBvTnCDnJiUSZ1E9qsA2COkYDLltEreo11EN6Ni-dlv2mCvoAleJXSRroA6kXs0pJP3kCzg3nhiDclYwg4YInOTadKqk2i1Ir4124JP5KIMC33HaWb5s30WyTANcEetoFyGZR-x9VvbkWhiq3kumGtMXxfSKo4YxGK3tQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1677718883,
          "updated": 1677718883,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/49246789/51c23bac1d8641d094f66054ae058172/encrypt?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "F-SGD8ejo4wTkvHbZKlz0DW5_WyNMgN-McR6VbrfuOc"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/49246789/51c23bac1d8641d094f66054ae058172",
        "value": "iv1BpWB6J-qvz_-P4aBuvKmS_eNECwmTlwZYYPgsqN6NLH5zHoGaVn1kJ9yjXU7Su85ZTxSSEV5ftZpkwkisXyLBeWeNBr7ThqbGU04WHiIJMAFIMEiDd0cphIhcgRkYNysTPRL4xYfVZG2CZ8hcqqgHEizG_0hC0_p55gUOjHplhtvt5o6KEAUl591ztA5PLqd5k5b4J9GZF2rmgyELornIa15iqxktr-1uCiOfstyIFYlarMoomyc_gV7MEHOpcYe1Gk2Qnw4_QGqB9sqXQ99za6_51n9Ph5V942Smca0h_tK58psNBGedGlNh6GqCeYupszSVqWGNbhJVCsnwYQ"
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/49246789/51c23bac1d8641d094f66054ae058172/decrypt?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "iv1BpWB6J-qvz_-P4aBuvKmS_eNECwmTlwZYYPgsqN6NLH5zHoGaVn1kJ9yjXU7Su85ZTxSSEV5ftZpkwkisXyLBeWeNBr7ThqbGU04WHiIJMAFIMEiDd0cphIhcgRkYNysTPRL4xYfVZG2CZ8hcqqgHEizG_0hC0_p55gUOjHplhtvt5o6KEAUl591ztA5PLqd5k5b4J9GZF2rmgyELornIa15iqxktr-1uCiOfstyIFYlarMoomyc_gV7MEHOpcYe1Gk2Qnw4_QGqB9sqXQ99za6_51n9Ph5V942Smca0h_tK58psNBGedGlNh6GqCeYupszSVqWGNbhJVCsnwYQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/49246789/51c23bac1d8641d094f66054ae058172",
        "value": "F-SGD8ejo4wTkvHbZKlz0DW5_WyNMgN-McR6VbrfuOc"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1298254845"
  }
}
