{
  "Entries": [
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1606831361/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1606831361/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/1606831361/27975d7f3b214aefa98f9788582ddc9c",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "00ogG41VSzNBSuOJFU8y1h7dK-Ms-SDBzW0rVDIb5cY3wssIYU1TwKyEy_o4lZykX72X_kH9aE-OpS0Ez8fjduJSiP5vqu4nrw-77Vke5uABO07Wycb1moeyS7ViFBZ6r_V7jI2rloDkvfzZU_DhhP-YCL4e7MzdGVGs8H5IMU72Rf27BCe2QgvbdV0uk7bP6nk6jMv1RSFHa7UBKfaLOAf_JNNYV92KE32kPpbd_q33iiqnTQJtQdQcAOGKJnm_J5iM-ry0uPGNwLLgjhUQgFSIRaV6DIxPejTX68hcaKrEpE-BcKmg5cyZ8cMtKV0mPd2342lS2GKrH2lGxVXbZQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1626224921,
          "updated": 1626224921,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1606831361/27975d7f3b214aefa98f9788582ddc9c/decrypt?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "h7pvLaXTD5G7nMu6GI2RdoPTR1U29ny-jl32niiy9VVpFS3i2A3QtyppLkbp3Psw6Mev04q01c4lIEO0C6AXl_BDfqy72_b-Ol0Ba6odBXIlst_YO555yhLjyXs8cM12WifJ8T-n630AZuMTcpLZVHbPMFkdDYRebxy3YatyFdElHlVmMR7TJAbEwJe_oPe2RUeZ3gFpisP3wT1J0j_JV5AvAFr-WFn-VzHwOd5CavWN1p0kyp3tW8nG6WD0I8Q2HhWrxs__ij72LktNWlrkSnhsIFWInYRbaTftfV8ST5Slsw0Xf1sk4nVBkS9eB7E0-7ZlQAp17k6Vsy7XMSAAJw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskvtest.vault.azure.net/keys/1606831361/27975d7f3b214aefa98f9788582ddc9c",
        "value": "tx4xV26yuZLAw54sifSETNiG0fos03cp_UAXDPUuSLM"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskvtest.vault.azure.net/",
    "RandomSeed": "572091941"
  }
}