{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/282103462/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/282103462/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/282103462/2c7fa797397b40109af807db0ae51d61",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wnxo0YgCdB5vd7tvYmkCKABGYPjAdBSxD_pbMFpUfH6KqBVq5gYuXVpHhvsbnQdej6R11nBWFEXUxyDJg0dQRXhhBgSFDT8TFFbD9Ydg-25z9Er0mJVoBvn4CnGKi6RE0A8vaXXkkAIKU6is74zRcwpo-AGZBIjBL79uUnm4ggu8FIypQnwbPy89YErPXf0w_xVeAj8HNUWXvE8iuIW4BUcYPxn_yhqePPXxHpUG_fF0nzWylNeJIjLoSFg_i9l-2pL7zoCpZzZaW77grwcLXmW7TdR-jIqQoYxvYarFm60VGXJD3pgSzyD-eiH8jvZaLivnFPoJ0m5Y6-o6ttBZsQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1612561183,
          "updated": 1612561183,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/282103462/2c7fa797397b40109af807db0ae51d61/encrypt?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "n8Pvjf4Cy4_6499vjr6wBj-mTO_dFNVQhvFhHxvVSzI"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/282103462/2c7fa797397b40109af807db0ae51d61",
        "value": "dhL7nmBzEA7v4dNFynyFk5n4Oj2Z-G5Yu3TVBVtu_TsfKi8pazh5UPT4InUL2-SfKnFRWYtg5PeKjALQNVfR2_awRARjS0yHcbMYkTTmDFtwOJERB105ZRRPZteUqnrsmOc5vdrw5MAr6XlJvybb9HQ2oLjtW1fkLwK9Nk1FEy3enWtpF_elHw3ij5UK9uDyKHgkKsmXdWBW293FpnuREtPpK-iYCg95JDMflr1CuawphnMduU7KQMQ6fIkULXVVBfVEFz-F_VvCMMCXI0vk_DRnnZlsgsRErOetMu4BttZtY0g8jV0ztZraU7q1petRpL1e3TnFch0C56g23WDL8g"
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/282103462/2c7fa797397b40109af807db0ae51d61/decrypt?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "dhL7nmBzEA7v4dNFynyFk5n4Oj2Z-G5Yu3TVBVtu_TsfKi8pazh5UPT4InUL2-SfKnFRWYtg5PeKjALQNVfR2_awRARjS0yHcbMYkTTmDFtwOJERB105ZRRPZteUqnrsmOc5vdrw5MAr6XlJvybb9HQ2oLjtW1fkLwK9Nk1FEy3enWtpF_elHw3ij5UK9uDyKHgkKsmXdWBW293FpnuREtPpK-iYCg95JDMflr1CuawphnMduU7KQMQ6fIkULXVVBfVEFz-F_VvCMMCXI0vk_DRnnZlsgsRErOetMu4BttZtY0g8jV0ztZraU7q1petRpL1e3TnFch0C56g23WDL8g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/282103462/2c7fa797397b40109af807db0ae51d61",
        "value": "n8Pvjf4Cy4_6499vjr6wBj-mTO_dFNVQhvFhHxvVSzI"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "415626235"
  }
}