{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1921316472/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1921316472/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1921316472/02e62ed4ff19425caedd35234ad83ed6",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "m75-6d99tgxcZKFO9aerDvxZxGT1q7T9WQPmSmJvRAQzHR97rY6U0UdAlZD_RbQ34KrExNy2Q8PMWxw0ahSE20wZE8ICadejEcsIKePY0L01lBKD4cY5o6prDk3MFm0XK5bmchSbQ6ECJIgP5nFbdy0LThLPXBUPFTAV_lxa1RzB0eF6v_KSZdHjOxGO-w09Fu9Y6pJZoepWbdtZWfn6SiYQKmFt1Fs4DlmURihciIdaoH9XOEFwjEWElCWoOkIG_-OvBHAaPzD7guQ3BpjJQF2LtSSApOIeoDwvxB95bWWGokBd_3Wbtyj2TcHM1h4TThniMJO8Kmp5ihWQyCm8xQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1612561251,
          "updated": 1612561251,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1921316472/02e62ed4ff19425caedd35234ad83ed6/encrypt?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "WL-NBvDQcsqnUwGA0yT-2S9VhmCLSE8c4-w9MSEGtjs"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/1921316472/02e62ed4ff19425caedd35234ad83ed6",
        "value": "YHgasD9kRvyb_BmiE63ST14nVQRgGtwkC4TtcvtibhGSbRHzwOVYEn6CRjGIzPZQ79fDlvwtnLnajg_Ye60KAlEGPTyUjtYqPmAlyviIkjG0StnamLYmI25473__f9pi_QpvTmey8xht1yDJLbvH0A2aVoPC9gHWcJvjv51yxNs8l1BQY7hQbsMV-Ru2VAAbNvcZDz2f95B1hQmPJcOEBP5y32WC8aVwE_At9JaiddfA1z8mDOkJkyE2zDqsPbXWWlmsjR39NIdxoEVjs45h_AXx9CgD1APtD4og-ifg8CVLUILS9FVIKT95g-fPu_RxgDlu6B7xQ6nll8IHwR2hRQ"
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1921316472/02e62ed4ff19425caedd35234ad83ed6/decrypt?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "YHgasD9kRvyb_BmiE63ST14nVQRgGtwkC4TtcvtibhGSbRHzwOVYEn6CRjGIzPZQ79fDlvwtnLnajg_Ye60KAlEGPTyUjtYqPmAlyviIkjG0StnamLYmI25473__f9pi_QpvTmey8xht1yDJLbvH0A2aVoPC9gHWcJvjv51yxNs8l1BQY7hQbsMV-Ru2VAAbNvcZDz2f95B1hQmPJcOEBP5y32WC8aVwE_At9JaiddfA1z8mDOkJkyE2zDqsPbXWWlmsjR39NIdxoEVjs45h_AXx9CgD1APtD4og-ifg8CVLUILS9FVIKT95g-fPu_RxgDlu6B7xQ6nll8IHwR2hRQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/1921316472/02e62ed4ff19425caedd35234ad83ed6",
        "value": "WL-NBvDQcsqnUwGA0yT-2S9VhmCLSE8c4-w9MSEGtjs"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "105485553"
  }
}