{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1253519126/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1253519126/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1253519126/260ff2947b554caf80d6904d3913333d",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "riOg7qioBdFDEu4KOgU-sfcnrMBwlTdk9PAaZNl98f1gWU2c_ESbtQ8WuHGCZoW_tCq5GOZTa8J8tEIWv4sMmL10EreJtLAxvmfuxVbR04GGEE2_bZULr0iOb3YwaXoksmNmEJzHkdd1Qc11o9xL0SPnUlBIbUYp8Y866RCw2_qbDDX4n5qgP-kKxgWbJRba-9etjXfA6pgIm_bsXP_xKo7BTKxqEs2LqmNfi47PkmPQ-twhzLaRpi4dTHu-j6ycF_sPmKLgjVWxGdR-LjmkPuqFLkx3o3auzlnQs9urED4xL90kA-QhznqNvUtVTArpUAp3W1bufn_1lxZr6z9UDQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1677718940,
          "updated": 1677718940,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1253519126/encrypt?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1253519126/260ff2947b554caf80d6904d3913333d",
        "value": "BZrUip1ba6XKP6PFi5_uSJUTJYFmpcYVtzh6SZ95TDSj5FyrFRL9tGHezWRICSwAC0GdL9GDVI7IeWarOHePVTPS8bvgZGCo_rprpm5gjedq05QXxCfr6-ajZ4hX9C3oQThLA1IiZy_tyi484qnUbUzpvd4n79oIkROl6qRXzl246PjkV05TChrQ3IAYFbZMuxGFW9rSTTrXJDIO5oTaXXlTkKZYXfluLaDF93dtMtI8mibyJPuC0Tlejeu_s96KBqrFV_c4_QkFfqkG_fv4BIaKKny9m-DlhQXkOx77sFVedQKruQ86V7QtK3xWkt2DJGyxeIbGzRggybj_8vZ7fg"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1019271956"
  }
}
