{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/437636604/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/437636604/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/437636604/ef13000120fa43e1b6183ee6f5182d68",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "q89poEYuxid3cfeg4NOFz0pMd4Mlb2gcw3Xc5IBGCi29cn-3HXhUbvT8Xp_m8d4QS8AUaqY91wAGhSQmCbbA6Hn4sOHK5-RYMPMuNx3NNAraH7Zd611liJYksA39lOabC1k0wNK26EG6Uuru3KD5GV-s1tpTN7uhb25ockQ8J3nXtpE2x3nHXs5mEzllYJ1uvqt0Yh4jrY3wqFI7_0W5VtCCPGmxjjd-Ge5_pP8WWziZAnXjC-lFkmkkyuPgqncCE9eZ0R_4U3IO-v8e0Lpg8zxj1KEJoVcrYISJyQXQKUFH2VuWnRMh2GhLd9Bw88KPQvxtDwVuIYaFIka_pZ1s7Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1677705388,
          "updated": 1677705388,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/437636604/ef13000120fa43e1b6183ee6f5182d68?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/437636604/ef13000120fa43e1b6183ee6f5182d68",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "q89poEYuxid3cfeg4NOFz0pMd4Mlb2gcw3Xc5IBGCi29cn-3HXhUbvT8Xp_m8d4QS8AUaqY91wAGhSQmCbbA6Hn4sOHK5-RYMPMuNx3NNAraH7Zd611liJYksA39lOabC1k0wNK26EG6Uuru3KD5GV-s1tpTN7uhb25ockQ8J3nXtpE2x3nHXs5mEzllYJ1uvqt0Yh4jrY3wqFI7_0W5VtCCPGmxjjd-Ge5_pP8WWziZAnXjC-lFkmkkyuPgqncCE9eZ0R_4U3IO-v8e0Lpg8zxj1KEJoVcrYISJyQXQKUFH2VuWnRMh2GhLd9Bw88KPQvxtDwVuIYaFIka_pZ1s7Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1677705388,
          "updated": 1677705388,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/437636604/ef13000120fa43e1b6183ee6f5182d68/decrypt?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "jOonVWf6WgjfsCJmRcPaRp4khUYyjFZQSfZksPSa7-Zgd3IqGzxHdQLbLumld3EQqvjrSqQuONS-N5rAJyjP8gkB7vSLY2nhZYBL1xeewjtSZj7x5FgjeHMvTLmJM3KHRPcEHk27Xn80nnmspGjYFsD9c5E_CYSkunnyLvpOUHsd5UcVklw9cctPim7qHwo8a0aMKtKD111Ibek5wxZT46DxyAwioVJkOTWhQT3lnCPJT4ZqYTdO9erNM4BDaKCqcgft-VMujHF8W7AKQ9oCp7xat0BzmOL1ryxyZOXxhMhtDxLigAQjRbUw26RHaKcXTcmbA4g5Gv3B1B4WcT1oAQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/437636604/ef13000120fa43e1b6183ee6f5182d68",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1398272493"
  }
}
