{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1199564252/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1199564252/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1199564252/817cd06a8c664a16885dd7b406c73b19",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vVrkrwlbTHXx0_R4boXjGjy5KXGD5oXgV2vz7T3S7eAWsP009cm416kxLiR8p8p_muA05Fx3YJgI2GpJ4gUZEghJtsh98IF5YnLxhks-RF15bNO3NkvuBBM94gk1xlusWP_e9P-pjT3v-gX7wR9h4wFoMmpzymOiHAWOjKNJTx1eJknMQ2dx9vHcPU_iiYcWg3ZUH6bUw-yplO6kfZTavZzLbi-gmLxf91oF_wiFtIYaOyV7V8J6YNhNr5lRknMi-4fWE2cP297Yd4qbPIbC-27FclWf8qXPTso7CghnY0Ua6DmJgg5hiW6gtPEHIC7qiYM-mgSc1DPQrPC420nFPQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1648056709,
          "updated": 1648056709,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1199564252/817cd06a8c664a16885dd7b406c73b19/encrypt?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "ppilpTLajs8hpgU0071YQg9fyLQZudfCtKKlL3P8nWk"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/1199564252/817cd06a8c664a16885dd7b406c73b19",
        "value": "tUDr_qsgkb2jpcQWP6gLkkDv1UTCnNY5I0kHwLTIrJsi40lnC7qhv1fkHWHNPBGulLsSWYqPMVSWJK8uJSXrKtJbc8cKOua7JyJIrRGf1h15TYE8pxTmgoKwO_Eg1nYbsZl_HamFc8d9ozgrO5AAQeStOtgqKRfrqQz5FTz-vayCfHBw2ffcyDqBbV1vh4ai_cOgs9o_Y4_Vbq6acM4Ue46xycbsDrdnbsmD6sURsMnvLQ3PU34HVFwObPVMLSXUODhenmuQ5U0HN2RsMqZFX-EuA5Pd8AYoXh78NFmMwhC1HPXsYNWm3l9xRUIAsdqAqetsGqpYAqIKw84cnxRvZA"
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1199564252/817cd06a8c664a16885dd7b406c73b19/decrypt?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "tUDr_qsgkb2jpcQWP6gLkkDv1UTCnNY5I0kHwLTIrJsi40lnC7qhv1fkHWHNPBGulLsSWYqPMVSWJK8uJSXrKtJbc8cKOua7JyJIrRGf1h15TYE8pxTmgoKwO_Eg1nYbsZl_HamFc8d9ozgrO5AAQeStOtgqKRfrqQz5FTz-vayCfHBw2ffcyDqBbV1vh4ai_cOgs9o_Y4_Vbq6acM4Ue46xycbsDrdnbsmD6sURsMnvLQ3PU34HVFwObPVMLSXUODhenmuQ5U0HN2RsMqZFX-EuA5Pd8AYoXh78NFmMwhC1HPXsYNWm3l9xRUIAsdqAqetsGqpYAqIKw84cnxRvZA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/1199564252/817cd06a8c664a16885dd7b406c73b19",
        "value": "ppilpTLajs8hpgU0071YQg9fyLQZudfCtKKlL3P8nWk"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "348452368"
  }
}
