{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/2000706658/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/2000706658/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/2000706658/5a9e84c1b9b0411b811476ae3a404ed3",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0zuQWD3GpRgZibR6x6FHP4_WtEeMQkh9m9rvTq4sSP-YNU7m-oVhtFrxpbCN_tlr36AAJguYtSB_SnW8LT6T9KTGR0gQS5B9KMlLC2rcvbeHdDgS5Ay_p7I-gdN6LnyGK_FyDG2JHC-oG_tM335O4c94UA-ew_IeL5j_a8pPXquU-EEPgAl1A9ixs9Q4seTYLLReAPE07iA2fNSVUOCjSkOlfm8O245gG7_ojAcR3KgOwAY0U5s-GTczJxwV8DC698cqj4bC8JH0_o3bS2BQ7KZvk_u31DQwvpOxpWbyRTT5MwymIOuVBNVvbxIpDAd2O3W_aZW6IXjuXXtme18N0Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1667322874,
          "updated": 1667322874,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/2000706658/5a9e84c1b9b0411b811476ae3a404ed3/encrypt?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "VrDusffn5BZirh7mx8l_0f955ZEinVO9t_xsKI_CUnw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/2000706658/5a9e84c1b9b0411b811476ae3a404ed3",
        "value": "VWcI6z5drU3YkS-f6z-zalhfPS_YdLHjZtVAE2RS-kMs3FFqIbrc_eAsoNZtymL26jKAZJrnqCwzcSxWsUTS7s4IPjYSvfylxCNpC_UdW3U2V0ZyLNUTm_xC63aHoNHDNbBty-_n33NlCTiooIG4onvt1-SVFBIyHdbQclYo3Y-JL7EtYZj0GnbgrihjCRECLxpsNm_2cD6kyJv8sgPOMS3wXf4vqFa-M_tjJstQDVNGwWqnS6xXesEFoOuAVB4SHmMaRCsVHIi2gZpryO53Uc704rrs9aumy1cMYN1vnsXrm5e1j6Fw1_IGR2tND26ZYT2xcBdvP2CCYSxVsNrZfA"
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/2000706658/5a9e84c1b9b0411b811476ae3a404ed3/decrypt?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "VWcI6z5drU3YkS-f6z-zalhfPS_YdLHjZtVAE2RS-kMs3FFqIbrc_eAsoNZtymL26jKAZJrnqCwzcSxWsUTS7s4IPjYSvfylxCNpC_UdW3U2V0ZyLNUTm_xC63aHoNHDNbBty-_n33NlCTiooIG4onvt1-SVFBIyHdbQclYo3Y-JL7EtYZj0GnbgrihjCRECLxpsNm_2cD6kyJv8sgPOMS3wXf4vqFa-M_tjJstQDVNGwWqnS6xXesEFoOuAVB4SHmMaRCsVHIi2gZpryO53Uc704rrs9aumy1cMYN1vnsXrm5e1j6Fw1_IGR2tND26ZYT2xcBdvP2CCYSxVsNrZfA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/2000706658/5a9e84c1b9b0411b811476ae3a404ed3",
        "value": "VrDusffn5BZirh7mx8l_0f955ZEinVO9t_xsKI_CUnw"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "568461922"
  }
}
