{
  "Entries": [
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/257695335/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/257695335/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/257695335/e8cc564afa95472eafb9f679c37264a5",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "6CimAXwPE7RpdrtRzhn3KYURKGAC4WHpj7XXFAd294hGdnCCM4nd-THTeTNoqecyf0mYMvWaoWazSI-wJauPm7x3625CSs6eNs4y-D3Nc1tHZCPKgj67iIiQjt8uCBSOVK050byEubo5c9Kc86LAjNmbxxf_IHoBKFBEQJ0XXgDnJLbczPuAVd7g96ttTB8izXfn-XiWBrGB6Q5hUY53FCUH94FFp4wWg6ISC8dhSbWpU1mCf0xgV5eRzu5zLjFNEDSNClUXSAFhcBpt5acSAtWJwwabX5aSm1jJNi-QqdcYFRux35T_OuRGdrvL9uduCHTrsTOstxCGVSzPKwv3UQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1626224920,
          "updated": 1626224920,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/257695335/e8cc564afa95472eafb9f679c37264a5/decrypt?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "ov4nM9GM_yVwDE9EyI4JptSJ0xqvrpzaYCaqIjKsI5zp3Bty8XiDBmUJQmwz0Djuq-96VuEby02pTpE6Cb-wkoF3JeaDMROd4xv3zwBlw33zO_BagrrZfDsowUnJD1zSlszhjuvBbZi6_Wwe3mjdoJ3q2Q_TKglkEoPMH3X0LYrEUdffdrouN2i-NQRjeGugGbabu0U0UNFl9-9qyDiL6WPukDI9gidIztXB6Svm4FqSNEzApm7yf-aWlDu1e-7UKjwHxQMqsUFdMsxgq6PqXsdEuWTfRBZ-ua0OiyWcolF4d44XQbOi8hyQT0xPIanAf1Tl0JeXy8HS2FxKP5E1PQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskvtest.vault.azure.net/keys/257695335/e8cc564afa95472eafb9f679c37264a5",
        "value": "MMTdcMrw8eO3KgRNcI4Qk6Sm2PH5mDvCkpfM7YoATwE"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskvtest.vault.azure.net/",
    "RandomSeed": "430231002"
  }
}