{
  "Entries": [
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1921316472/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1921316472/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/1921316472/afdc6ae865d941fa9b0f8107f427d10b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wO_BDnfLz2Ur7qQX49OCwzEyr1ALg05n-dbkcL7pcz_JduPrSXOxKey6tAAw_vXYRSxK-7_eBXAvR-zs5xVaJ_bR3_ao3MD2VZhOL9BqlNEqb0SEs0Zsl_ghfDxbUVCOMLR5t4U2QGDWVeJwhCeDZiaKxYQ3AsCboiVlGsTgDp8pjc2mBLEDZNCYXCmPP1SzJbMjLwuTT06EULpDBo6o1f-4G_Fo28GA-f42RpCsF_mP10mCzC0HfZiwDjtV_seQybOARSWuPwIco9GXcDdQpC978CJXMjdKq2Ec0nK4U2ShYe7cDKE4Ip_EicPfDNt3hHFb197p-prQabanPZFv9w",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1596062652,
          "updated": 1596062652,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1921316472/afdc6ae865d941fa9b0f8107f427d10b/encrypt?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "WL-NBvDQcsqnUwGA0yT-2S9VhmCLSE8c4-w9MSEGtjs"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskv.vault.azure.net/keys/1921316472/afdc6ae865d941fa9b0f8107f427d10b",
        "value": "PbFPLC1VkCpVHLEmIRfBcIQilNZP-KA__rhATvQ1n0nXR8VGZg6YIs8PFawkMZjc45MMMfanKCscusLlra0tVFnw0KFhz15L0HD_3iy4XsG3DeWN5RQZ2QV_qoLdCtDUaQK3fS5Hs4URxaLUBqiPLAwPIwvMIIU4Tf59lgaWR-P4RlX1IZuWN7499m27qMlVQf-bMSvQUcOQZQX_-aOGwwC9cIlfP4VAJlkfZdvRVakikshspdM6T87YIzXQssBV9Fr66_vlnbM5fohDs_wYAnEVDVYrQH9_0BZabEwi6EGqvDfCp-XZ-QAfdnjvHCzGWfF97WXIM-vrosim5wps-Q"
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1921316472/afdc6ae865d941fa9b0f8107f427d10b/decrypt?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "PbFPLC1VkCpVHLEmIRfBcIQilNZP-KA__rhATvQ1n0nXR8VGZg6YIs8PFawkMZjc45MMMfanKCscusLlra0tVFnw0KFhz15L0HD_3iy4XsG3DeWN5RQZ2QV_qoLdCtDUaQK3fS5Hs4URxaLUBqiPLAwPIwvMIIU4Tf59lgaWR-P4RlX1IZuWN7499m27qMlVQf-bMSvQUcOQZQX_-aOGwwC9cIlfP4VAJlkfZdvRVakikshspdM6T87YIzXQssBV9Fr66_vlnbM5fohDs_wYAnEVDVYrQH9_0BZabEwi6EGqvDfCp-XZ-QAfdnjvHCzGWfF97WXIM-vrosim5wps-Q"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskv.vault.azure.net/keys/1921316472/afdc6ae865d941fa9b0f8107f427d10b",
        "value": "WL-NBvDQcsqnUwGA0yT-2S9VhmCLSE8c4-w9MSEGtjs"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskv.vault.azure.net",
    "RandomSeed": "105485553"
  }
}
