{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/2094325830?api-version=7.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/2094325830?api-version=7.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "fjMM6NOSxWyFfeQ9xKu9PbF4osueRV0P70WnkZvyFK0Tno9IPES_HFGkTkRzRuSn",
          "y": "40Ib94D-4rFC-CllGUWWq6Gxwth5iJouWAMQm4jiBQqTZaqC5FTVZP8hhnHkdtO3",
          "d": "hmADk-p-26IgCanHjhVrdtTsUeu3-YdXi6fZtEhq-ILaT1cO2pS5S9rLaDYFU-0h"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/2094325830/76d815d854d547f385fefc19e18c2aee",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "fjMM6NOSxWyFfeQ9xKu9PbF4osueRV0P70WnkZvyFK0Tno9IPES_HFGkTkRzRuSn",
          "y": "40Ib94D-4rFC-CllGUWWq6Gxwth5iJouWAMQm4jiBQqTZaqC5FTVZP8hhnHkdtO3"
        },
        "attributes": {
          "enabled": true,
          "created": 1613785039,
          "updated": 1613785039,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/2094325830/76d815d854d547f385fefc19e18c2aee/verify?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "-5l7dAZZuxJwmjSk9YYLdEeM5oBZUcEWRC34lspvoix2yQ7a1KnoC4Py6Sbv9PZ0",
        "value": "T9CMlcTHiT35r6KZ80v4RgXjv7PLc6luwgrb3x39NMS9pSv_5psgCvtIevqWsfrZAaHHXR5If18UDbhfipyoVnCGx1bKv5lnS4NfMqThF39iBXpTi_wugmx71_sknjpT"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1075393506"
  }
}