{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1500023331?api-version=7.4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1500023331?api-version=7.4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "ECpsvZG3Xupw9G7ULBZY2L8b2vHbzWZugdXsm4MY1TA",
          "y": "X_edWkNZ9tVHnMZosQwCfvYnFYAAHEvWyTlyXT8nFkA",
          "d": "SgZbuLHlvlqypG5-jLHEWh7GKRlWNAqZBMopFAZ0M9w"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1500023331/9575bc7ba53f4a9384e9fb4c29209dd7",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "ECpsvZG3Xupw9G7ULBZY2L8b2vHbzWZugdXsm4MY1TA",
          "y": "X_edWkNZ9tVHnMZosQwCfvYnFYAAHEvWyTlyXT8nFkA"
        },
        "attributes": {
          "enabled": true,
          "created": 1677718890,
          "updated": 1677718890,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1500023331/9575bc7ba53f4a9384e9fb4c29209dd7/verify?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "jvBTulZNB-h7R0tsJ_D-a2DhpMjO1lCU-N8gsGAQMoQ",
        "value": "56m2y47Ck-lVnWCRTRypkNDKID42qD98mtB-g_Gu9eL6lNqFdJG6J7NXWdwSawCLvXueI-nuzJVFfuaT8y7vKQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1504841702"
  }
}
