{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/2031085011?api-version=7.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/2031085011?api-version=7.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "ALGI3JCo_lxj2-ZBclovJ7kxUAUL1L5qvlL87He1cDKaYf2s8Mb-KLGcQUND2uqxLplvNZXtMjKf9goR0M_OllKr",
          "y": "AHn65jZSHayyNfO_jEdbckvCjj5ODx2dIi6y0CdB4ndo51fte6XgjO7n0aXBavueGeqxTMotR89BAQOxc0CJqYYi",
          "d": "AQAilvepgIeFHV1qdlCrBe1x8M2oOl8HKg1CTDGgzZZfdv02xGHZqoi45Es9FCeE_2EL6VdLxTf__cPlJmwCXcht"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/2031085011/3598ff99c5424dfd9615ac7e02ac2610",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "ALGI3JCo_lxj2-ZBclovJ7kxUAUL1L5qvlL87He1cDKaYf2s8Mb-KLGcQUND2uqxLplvNZXtMjKf9goR0M_OllKr",
          "y": "AHn65jZSHayyNfO_jEdbckvCjj5ODx2dIi6y0CdB4ndo51fte6XgjO7n0aXBavueGeqxTMotR89BAQOxc0CJqYYi"
        },
        "attributes": {
          "enabled": true,
          "created": 1612561190,
          "updated": 1612561190,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/2031085011/3598ff99c5424dfd9615ac7e02ac2610/verify?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "WLRaUkvvbI39Os9LSNmYXgMWlldXQkg-JEUi-ZoY-A4mevG3XCvArcgkbJEXjQb1BrHUG8KwRK-ubJ2JTxNiyA",
        "value": "AUR3Aog-KlEzZS5vvHmBwrACxPKMOuu0Fhy8084j3FtTAX2IZ8A7AROK8yJsIWma88D5UQ3uqUf_WfhIAwk3h9UvAMRwZEXyvjK8UDpy3hLcReLA5laOSI4cwbABfBGLhXfMW6aY7BxTsroF8ZpWtMBiu7ei68bz4zqzKorz8LSn8mtB"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "48877898"
  }
}