{
  "Entries": [
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/436336452?api-version=7.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/436336452?api-version=7.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "ACpLO-FUS1pmQqHJqSZiWqtbJCKTjVJ_qNiEF7QJ9s2TFbzZHeymd_NoRicttTcnP5DIRgnCoYwkM-LgsJjkqfkG",
          "y": "AFIv3HmbgLuQNjQKuH-wQfS1I1l1gyhKpsm-P6ndB9ytvDY_h3LVNfdCWGLXU511WibTwhe9W4U1PVgF6ep5_CCE",
          "d": "AF71m01uTp9ol1qp4J87KSEkPjvbQOjvQqNjj1DUsnRaFATq5pdNDGgFHvF6-p6q7wXwZ4jo0Gavb_aO_N69yQZb"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/436336452/4fa47fa5a678452db6c5b04f4905e439",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "ACpLO-FUS1pmQqHJqSZiWqtbJCKTjVJ_qNiEF7QJ9s2TFbzZHeymd_NoRicttTcnP5DIRgnCoYwkM-LgsJjkqfkG",
          "y": "AFIv3HmbgLuQNjQKuH-wQfS1I1l1gyhKpsm-P6ndB9ytvDY_h3LVNfdCWGLXU511WibTwhe9W4U1PVgF6ep5_CCE"
        },
        "attributes": {
          "enabled": true,
          "created": 1596062665,
          "updated": 1596062665,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/436336452/4fa47fa5a678452db6c5b04f4905e439/verify?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "f_VZt5lCQDSxMXoHims-h7ZDP0tBIMUn-1LH7t3Vw9-aVNllL9GERNebVvHkqecPN7H7bOa8RZGDAeOztvYwHw",
        "value": "ARstuBqfgSSSDYW_pkX6C0etGsdK-r727gcHNjfNgX_jnhhZZ9At_Sr__1sLaaq9G16wcnv6qjX4f_56p5FGu3frAGwq33ZwNY7AznDWYu5eN_l8Kp_s6HBHIB3CAfMokcsrcaIXci-1CGdUeFa3s9MrF0AAbCTBTZp2AAWz2434opzG"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskv.vault.azure.net",
    "RandomSeed": "1032388879"
  }
}
