{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/2094325830?api-version=7.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/2094325830?api-version=7.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "QFF2v5L0SJNWrzKjxmcev55Htx9JIpxPYYPVqJ2D2Nwgg-oCG2kE_DPpxSQotesL",
          "y": "YoNLzmWM92mpZ_Z32jyicSzhYwzM6GrrdWdf0n8Qp2_iNT2rzfYST1zLx69T7Osu",
          "d": "fZZhUTZR2ZIl7LGOsthKUZAEdt6cQI7ZFR5ihNJedJm-dVwoCHT0fZS42i5IYqqH"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/2094325830/e3c10f8a540049c5ab1385b662701e8a",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "QFF2v5L0SJNWrzKjxmcev55Htx9JIpxPYYPVqJ2D2Nwgg-oCG2kE_DPpxSQotesL",
          "y": "YoNLzmWM92mpZ_Z32jyicSzhYwzM6GrrdWdf0n8Qp2_iNT2rzfYST1zLx69T7Osu"
        },
        "attributes": {
          "enabled": true,
          "created": 1612561258,
          "updated": 1612561258,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/2094325830/e3c10f8a540049c5ab1385b662701e8a/verify?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "-5l7dAZZuxJwmjSk9YYLdEeM5oBZUcEWRC34lspvoix2yQ7a1KnoC4Py6Sbv9PZ0",
        "value": "omgwI5D6nvoLiYku-suz0doUGu-wd23aE2Tbc4svv3wrOpyEczk2NY5wPUVTD1A5p28WEDZD71tKqrC6E0fHvEy9yg5Ale1-oqMbCv4SN31sIZ7DaQX-Cgw-dL1QX3U-"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1075393506"
  }
}