{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/889325722?api-version=7.3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/889325722?api-version=7.3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "wcbXq100iZImNgliaoMWDDjQ2pkCt5ycXD0SXzj2m38HtWAK1SNOkoJ4l9ygOtuI",
          "y": "w4YvzZ-W-0uMirVhKY9cdQhlQ64XBrqJfh9ZIpJyYzy00N-LNlZqDKb2LwYrZqTI",
          "d": "U-qL6QqLSAIlH2z9ZO9okBIHQq29Itokc0MGldVndW1AIo_7wKQegykDeNEfHqm0"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/889325722/79877ad0c8884e32903b52af7abaf0a4",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "wcbXq100iZImNgliaoMWDDjQ2pkCt5ycXD0SXzj2m38HtWAK1SNOkoJ4l9ygOtuI",
          "y": "w4YvzZ-W-0uMirVhKY9cdQhlQ64XBrqJfh9ZIpJyYzy00N-LNlZqDKb2LwYrZqTI"
        },
        "attributes": {
          "enabled": true,
          "created": 1648056718,
          "updated": 1648056718,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/889325722/79877ad0c8884e32903b52af7abaf0a4/verify?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "2oEuRamhyraqW2u1PT3qKWn5wJT9qko3Bi01DTB62onCR901q_lKNEUVmhBYCEmw",
        "value": "jbiLBFwog71BVXTOj1BmfDHcZK1hqwQoIo3QlwrS0zVVSycyuYt1rTeifpwUeORWAIN6RVEshTCuDlU7J4-UuAT8zQFMDnXqYCZbYok7vL7-XOINY4olKgpzXGbiDnCY"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1941862456"
  }
}
