{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/709987963?api-version=7.4-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/709987963?api-version=7.4-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "5kkQf9ZZLiuYV4BQoHtJGAyz419qLaLcVd52xROBnM_xxjnMeGiCBB8SH3Mreco6",
          "y": "x8bOgix5FctsSKNs6b82rLQr7CF6VXB-zgGvCKbKtVxupLQRfjRf5oqMw0VlbAWh",
          "d": "V-4-IzEaTFmI52wp2KSpWu9I9J5FpgQx5P81Kw5EkdWSuSkmXooMjHBetxFJKajb"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/709987963/0f5dfd93c7d7488293eeaa22691a91bc",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "5kkQf9ZZLiuYV4BQoHtJGAyz419qLaLcVd52xROBnM_xxjnMeGiCBB8SH3Mreco6",
          "y": "x8bOgix5FctsSKNs6b82rLQr7CF6VXB-zgGvCKbKtVxupLQRfjRf5oqMw0VlbAWh"
        },
        "attributes": {
          "enabled": true,
          "created": 1667322954,
          "updated": 1667322954,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/709987963/0f5dfd93c7d7488293eeaa22691a91bc/verify?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "YR71iJmzWnpalolSxDFfbQQUfNo9MGgjXWQ_fdFjBwJbmZ3lRloFCFV2OHyayDVu",
        "value": "kHpgTT8gLlkfu-8D0N4s9O469vvwtxkDbovoMEYA-PZgkFeVm4tkgCWVX3gNn7fEQqvjHqkKeW30EXVVNWrgqcScvrIhEzEb94WGFq4cQdfPvE4Fn9W57F2Grk_szoUc"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "49699509"
  }
}
