{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/40402305?api-version=7.4-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/40402305?api-version=7.4-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AS2cXp8eOelOzCQSsgYa-Pb0Blw8PWSCNP0qbm_FqB2DAYqs5BNmu_wW0kmMn3teZGU7pfF6vsLK7sAbM-NS-Lib",
          "y": "ARwtVVrWtFMncMOYeRYFIlrkDrrH3kt2ENfq--YRqPkJBHm6S279Zb2F3xIv0nSct8FfmNuJu7pK56tH4MSsH8qW",
          "d": "AHPC8m8u-Ws_2qhb0CbDmGX-k3WRADKDLqkyZCYhf8XngCroFoxqvrBREXxKOnjSxRl6aOCoUB9Ghz77lghERcnk"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/40402305/79ea7d83c7014c1abd0e5f7119899fab",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AS2cXp8eOelOzCQSsgYa-Pb0Blw8PWSCNP0qbm_FqB2DAYqs5BNmu_wW0kmMn3teZGU7pfF6vsLK7sAbM-NS-Lib",
          "y": "ARwtVVrWtFMncMOYeRYFIlrkDrrH3kt2ENfq--YRqPkJBHm6S279Zb2F3xIv0nSct8FfmNuJu7pK56tH4MSsH8qW"
        },
        "attributes": {
          "enabled": true,
          "created": 1667322954,
          "updated": 1667322954,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/40402305/79ea7d83c7014c1abd0e5f7119899fab/verify?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "8PWe1bsumoNxDd0w7LllSu6q1S9Uotss8dcrWDKgF6UzTGGYaH50MqrvzU2xgBd7ifAt4vRT6Uk3JLER9IwgNQ",
        "value": "AC53rkV_iziltp5YlH-2WesvutwNFpD28S-eMgeubA9_izerzJ8dhM-ggB9S0RtBgNz2LQL25jr0TLJx-7_5hcKLAcEbqvURJws2NdBKX2vYwE4SQGmqaBvRTZQ9m2BBv6aaKfu9VfHBmVrDsSoR439rLeh56GWIuwrZQKW9dG7yy3QO"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "995382678"
  }
}
