{
  "Entries": [
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/138802219?api-version=7.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/138802219?api-version=7.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "h2eBw9EaAplgl_dAYrphj_b3PLU4dBBbTFJluZFVGU4",
          "y": "-M5BdRdKBH0lFWu18HJ_RLf6gW4J-yQBoEwlfTklkE8",
          "d": "adMfsjf3XL3am6pQ8nNUc4g3jYMYbFW3a1hTyogk2bE"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/138802219/3a405c9f893a48769f1c63a51af6cddc",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "h2eBw9EaAplgl_dAYrphj_b3PLU4dBBbTFJluZFVGU4",
          "y": "-M5BdRdKBH0lFWu18HJ_RLf6gW4J-yQBoEwlfTklkE8"
        },
        "attributes": {
          "enabled": true,
          "created": 1596062662,
          "updated": 1596062662,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/138802219/3a405c9f893a48769f1c63a51af6cddc/verify?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "GSBcE8mTLDOo6tZOGBL3f5qmL6UgAFcjt8pm5Hpcn4U",
        "value": "0smS0bF6ypfG593YVUs-E2VT_eXvMOEj-5XaV3Pmx1QMuCfskj1pPspnPiaGIYHb_apiyUjz6o7xdQY29JSqjA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskv.vault.azure.net",
    "RandomSeed": "1817726989"
  }
}
