{
  "Entries": [
    {
      "RequestUri": "https://heathskvtst2.vault.azure.net/keys/436336452?api-version=7.3-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskvtst2.vault.azure.net/keys/436336452?api-version=7.3-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "Afg0X5lbpUbEbKuEOKprPrYAPfm3wkJqwWNJ6soQsJGx8tjBS4MlDrU7I7t0zI2oumA-h0G4ndKjfqLNkLMmsdfS",
          "y": "AAeLmyi9pwfIKwbVIhrFvrbonXHSvX2ZFOPWMEr87yWcJlWBHdTQyxrZLErMF_ykXUiy6KmiDOFEgQQC7s35Ztvh",
          "d": "ASIQFeBCFWYVse6W8H-9RiHoGMqcblgm4YE29IccTsQXVr1st5afWZIoAB9AEGcxDGpKdPCMtYmZVdEd72zLnHpA"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtst2.vault.azure.net/keys/436336452/88f2924a053e4d4891d752d6c2fbb26f",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "Afg0X5lbpUbEbKuEOKprPrYAPfm3wkJqwWNJ6soQsJGx8tjBS4MlDrU7I7t0zI2oumA-h0G4ndKjfqLNkLMmsdfS",
          "y": "AAeLmyi9pwfIKwbVIhrFvrbonXHSvX2ZFOPWMEr87yWcJlWBHdTQyxrZLErMF_ykXUiy6KmiDOFEgQQC7s35Ztvh"
        },
        "attributes": {
          "enabled": true,
          "created": 1627947024,
          "updated": 1627947024,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://heathskvtst2.vault.azure.net/keys/436336452/88f2924a053e4d4891d752d6c2fbb26f/verify?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "f_VZt5lCQDSxMXoHims-h7ZDP0tBIMUn-1LH7t3Vw9-aVNllL9GERNebVvHkqecPN7H7bOa8RZGDAeOztvYwHw",
        "value": "ATWZ3norlTh2OpBKP3-ryhB-MF2g53740vvwL8wAvsbkgUdNzXmFN33R37hwVQOomynTehlNOOV1XvCaF2kKfHm4AG74nLqV4LFgqZAf6Lcxru1qGnd8yOeWij4Oclmiu_QViM6jWE6q1FqzQE25oipjOlW7ofBtmNN61CvHiuV5N0ZA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskvtst2.vault.azure.net/",
    "RandomSeed": "1032388879"
  }
}