{
  "Entries": [
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1597244145?api-version=7.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1597244145?api-version=7.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "uPmkgiMGhZfMigReJa8kTvd2XICr-oHsIrvnIwWz8Jg",
          "y": "C8HpObKB-xZgm6rxxaiG_MAHfJm-jlDz5W25OX1KCXk",
          "d": "zAL8Nx9GtG1ejogYdZr9pwvoma0bUK3TbCcI0eofgmk"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/1597244145/db0c4ce7b8c145f58b6787153b1cc1c1",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "uPmkgiMGhZfMigReJa8kTvd2XICr-oHsIrvnIwWz8Jg",
          "y": "C8HpObKB-xZgm6rxxaiG_MAHfJm-jlDz5W25OX1KCXk"
        },
        "attributes": {
          "enabled": true,
          "created": 1596062558,
          "updated": 1596062558,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1597244145/db0c4ce7b8c145f58b6787153b1cc1c1/verify?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "KPEwebsLlvqqzMRFcU_abJW1jHEfYOv4GRn2JT93JU0",
        "value": "KeC_KPO9tY5gDmsbGqcG7AqgBnCmX4Yn_fxip14p5W0KrBb66oVTu1WAIQu0zCk_B6dSitMQZW68_MzWPwdxPA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskv.vault.azure.net",
    "RandomSeed": "548199678"
  }
}
