{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/517160442/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/517160442/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/517160442/977bb09ba7494ba591ac89a868d49523",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "8NIuKPsq99OzOquqg0-APLwwjZmrxakINNOwpsWtAKkVTwilpYnYkGxEPmaxY12rjR9CrA8XeHjPcGhBZnb39NCOG-jwvnAI6VxGc7YDu3LPIR1vx_Obg7g7o8AkAMjxipJVtZzP672UdhOPbQmHv0uEw1skvUoMP8m2hPg6bD0dsAXb-T_Ztj5zdtdJ-7hs2ldE0BcHCaMdMaVMBVAPv0qQ6zaMO73uaB55S931k_VvfknxlIjzbEYdm46BMCitzNXvHkhWGQq3rh1ZjP71PGacPaeqS1DV0ozcsPVdOlqwmM-2S0RnGkzfBFyLtgG1xrlcZoO18eZ0rxPnmHP8DQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1612561207,
          "updated": 1612561207,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/517160442/977bb09ba7494ba591ac89a868d49523/sign?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "LXiBcuv3cUzAdYqErCKvlGz45JNQVFlC-mTOC5acL1n2DeAamiLNdFcfJWCxUozm"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/517160442/977bb09ba7494ba591ac89a868d49523",
        "value": "y0p1TMPINnmLHAabhm9pLZa2BzFbiUGtYXa5CUztGp1YMT98iYbj9SFRpvZ9kJqDjvq22pRHkj1YqUqonDyf19vluBfrpXjXDNC0i68AyN71lBNr8b-ZapxcOCRe8NhZ2m9jS7BQUWYRW8YWrD8Dbd_ppbEHg-8AkfUI2lQ4Gaqxe1qXuc-kgqvNn-x2I6loNKN7JGSl4_95cEBDTTri8LBuEWU-27uRhG2UAYAkIqTTpuuOuHMs9z3OWf8WjLU2f1OxiMY8Goic-78jF3ZfVWZt64UnAccTw1xuZpSxPDD62c3UoM6Xyh_NlUpeX6D7p-MXYgeQYv8G30xsQqDUiA"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/517160442/977bb09ba7494ba591ac89a868d49523/verify?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "LXiBcuv3cUzAdYqErCKvlGz45JNQVFlC-mTOC5acL1n2DeAamiLNdFcfJWCxUozm",
        "value": "y0p1TMPINnmLHAabhm9pLZa2BzFbiUGtYXa5CUztGp1YMT98iYbj9SFRpvZ9kJqDjvq22pRHkj1YqUqonDyf19vluBfrpXjXDNC0i68AyN71lBNr8b-ZapxcOCRe8NhZ2m9jS7BQUWYRW8YWrD8Dbd_ppbEHg-8AkfUI2lQ4Gaqxe1qXuc-kgqvNn-x2I6loNKN7JGSl4_95cEBDTTri8LBuEWU-27uRhG2UAYAkIqTTpuuOuHMs9z3OWf8WjLU2f1OxiMY8Goic-78jF3ZfVWZt64UnAccTw1xuZpSxPDD62c3UoM6Xyh_NlUpeX6D7p-MXYgeQYv8G30xsQqDUiA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/517160442/977bb09ba7494ba591ac89a868d49523/verify?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "LXiBcuv3cUzAdYqErCKvlGz45JNQVFlC-mTOC5acL1n2DeAamiLNdFcfJWCxUozm",
        "value": "y0p1TMPINnmLHAabhm9pLZa2BzFbiUGtYXa5CUztGp1YMT98iYbj9SFRpvZ9kJqDjvq22pRHkj1YqUqonDyf19vluBfrpXjXDNC0i68AyN71lBNr8b-ZapxcOCRe8NhZ2m9jS7BQUWYRW8YWrD8Dbd_ppbEHg-8AkfUI2lQ4Gaqxe1qXuc-kgqvNn-x2I6loNKN7JGSl4_95cEBDTTri8LBuEWU-27uRhG2UAYAkIqTTpuuOuHMs9z3OWf8WjLU2f1OxiMY8Goic-78jF3ZfVWZt64UnAccTw1xuZpSxPDD62c3UoM6Xyh_NlUpeX6D7p-MXYgeQYv8G30xsQqDUiA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "38789067"
  }
}