{
  "Entries": [
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/613336731/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/613336731/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/613336731/70bf6cdef5b24b9fb52332648d41636e",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "cRsVpqQJEKV5Agdh9NXFGNNq4r1Cb7VRQS6xPDhZuSw",
          "y": "wGdf_OcxH1YiuAatDtkv6hKS2n4aMBSi17V12y7xcfs"
        },
        "attributes": {
          "enabled": true,
          "created": 1626224755,
          "updated": 1626224755,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/613336731/70bf6cdef5b24b9fb52332648d41636e/sign?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "WyIynh7KprXf2MzX8jIalM_3x9zaq_CEFfgRz7YaLT8"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskvtest.vault.azure.net/keys/613336731/70bf6cdef5b24b9fb52332648d41636e",
        "value": "9UF7ChHEeqbtFz2AEIIHL9OxAHInuickSG1Z5otn2Tb2DGXH5sAC87ocVP86SU7dSDAJgueBe7DKcm3UXzAOoQ"
      }
    },
[...]
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/613336731/70bf6cdef5b24b9fb52332648d41636e/verify?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "digest": "WyIynh7KprXf2MzX8jIalM_3x9zaq_CEFfgRz7YaLT8",
        "value": "fCwqAyrRxJ1sgaXhhTvEyJB8qnRPjV6YEJbdBRI2W8PRPZWmpOVsZAapYX0UD3Op45_rqSNKlfo0pgppOCUCQg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/613336731/70bf6cdef5b24b9fb52332648d41636e/verify?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "digest": "WyIynh7KprXf2MzX8jIalM_3x9zaq_CEFfgRz7YaLT8",
        "value": "9UF7ChHEeqbtFz2AEIIHL9OxAHInuickSG1Z5otn2Tb2DGXH5sAC87ocVP86SU7dSDAJgueBe7DKcm3UXzAOoQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskvtest.vault.azure.net/",
    "RandomSeed": "268235531"
  }
}