{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1536046308/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1536046308/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1536046308/425724058b8d4462be2afc942934722a",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "38hT6QKcT8Wzkg2KJ_dGzkQcOaWoiC-YyT650ix6NKUNEJJMDADZa38n5UAZmwbcTspFUVEPKi4_DtNIoGivZryOGGaI6Btx_4D7Urwj3YMJCozWdpFlrrl4g_oPXSwrbsUtt62x9yhIrShIk1kO03GEjWmK9EiE_gjWB7VvER24nUNstiko5Arsll7cgH6wzvmA3iCX9LFhY4ZA5ysYosor2eCjUQpqW8PN9h5_9zl5WH3ckmjC6OzPSlDn3eIWmhSVWUobxz1F2dZkEtGTDgOSgjsEwdfh7Myxb-HTLtW6_m4JnRJ6iPnzsR-ywV5_ULj6OT_6xU3fQ2QrJTdsrQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1677718829,
          "updated": 1677718829,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1536046308/425724058b8d4462be2afc942934722a?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1536046308/425724058b8d4462be2afc942934722a",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "38hT6QKcT8Wzkg2KJ_dGzkQcOaWoiC-YyT650ix6NKUNEJJMDADZa38n5UAZmwbcTspFUVEPKi4_DtNIoGivZryOGGaI6Btx_4D7Urwj3YMJCozWdpFlrrl4g_oPXSwrbsUtt62x9yhIrShIk1kO03GEjWmK9EiE_gjWB7VvER24nUNstiko5Arsll7cgH6wzvmA3iCX9LFhY4ZA5ysYosor2eCjUQpqW8PN9h5_9zl5WH3ckmjC6OzPSlDn3eIWmhSVWUobxz1F2dZkEtGTDgOSgjsEwdfh7Myxb-HTLtW6_m4JnRJ6iPnzsR-ywV5_ULj6OT_6xU3fQ2QrJTdsrQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1677718829,
          "updated": 1677718829,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1536046308/425724058b8d4462be2afc942934722a/sign?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "a8GGyXZLip3RQPXm04HPM-bY7CY0Q2lzZDaU3GBKqiF58vqAhnc0Oi60lVyMp5TB"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1536046308/425724058b8d4462be2afc942934722a",
        "value": "rhJNc-1kdwTFpmYvlOkgRP8c_pbDWpLgli60aTP-3Xt6Q7o6HGFx-1zCpSCQc9IaR4xli3TX2Vv34bXMVeoVLHdN-zEOhQYazq7i5AJhJcaLMnIcFkoXwTT2mGMS668kQfeWhMv2erZ6JG0D6O79nZeoN8e8um0y8qB6T-Gi-QTr3yTqfqQPkUhBCpdLNItbKFUPwwHW-UeuIeSjMvAQ9_FkQLv1ZeGVX7hsH4xJOLHq_GDUGJiQr7TP32eJz9gsNinufKI0J3oTvGLxvLGLUMHdcFlQwKc27mFaId7KrK9MmZF9KBA5XKoivIBUlFx-STjLo59cLqmaBze3494REA"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1738570981"
  }
}
