{
  "Entries": [
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/843548494/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/843548494/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/843548494/9c6fbc6dc2fa4395a5d097be58a7975a",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tFiihY8JJT8K_N86-A852fFgZXUIJ3TznOggVEfBOa7yXEAE7Dnb0i0_fKqG6caHUXA8rtLUNI87Zp0i0b0e2V0BH0xzaV-yh-n2Wu9cSK1ntEQQw0lLwe6rDZm2i-gWH3j9ZnE-zr3nVmjKrZev4wdyrzaLJimFdive1bTp_Ft_-WWD0xQWpJZqjWfanf8f8IMiWyh7PLKDfrn2YR48wLVTghlLjvlHkAN5aLUYCr4CkqU3xW5uAVGNR5JdAW_4XtFTkVYg65x80qTLSb_h_zo4BlZ5mlTldF_1Z0KN3mRnZdaGOBwQBqVJ6OaJ8WtOTO-2j9PnAwJc6rIHpXycmQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1626224765,
          "updated": 1626224765,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/843548494/9c6fbc6dc2fa4395a5d097be58a7975a/sign?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "3RLcDYczy21QjYPD_44OhfoHaUATo2jBMCtL-PKzi4Ngh-EFoXXQmDXGLv6Rle5mkMMq0io3TJ8wCdf-6hSgJg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskvtest.vault.azure.net/keys/843548494/9c6fbc6dc2fa4395a5d097be58a7975a",
        "value": "Etv6SD3j9OTHSOfu5gQqJNL3B5j-ffOWhCvuB5wognvB0kXGqPnqKnLRBKFs_BHeA0L-t0E9HjkEn29qLyQHuPu67_KZQOOMTb3laIf5-aDHPzIqq4OGRKf55AFJ5SwKTqKf5htxNoQ4yzXpsJl8BSw4SHBIJIGE3v9eJmlb3Wxto86Gv7Pwo1-r0qLyY58cZwHzDkzDyWnAOUD30ROE1Nh_07gnAC7YhMKdfyOY1QQUotUUskERglkTxaLjSWRYEhhWh4uEBA56fE1IClMPfjDXsCRTQwiU1ZVlYCuEC02VcZd67ttPFBZR8iHWXxHePiPJrMcCzJN3Hp38Vzh0pA"
      }
    },
[...]
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/843548494/9c6fbc6dc2fa4395a5d097be58a7975a/verify?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "digest": "3RLcDYczy21QjYPD_44OhfoHaUATo2jBMCtL-PKzi4Ngh-EFoXXQmDXGLv6Rle5mkMMq0io3TJ8wCdf-6hSgJg",
        "value": "EXaXvZfgQlrUCgyWpO8JB7oIn3o7zXfJ9iHrZbFkuJoKCpdSVhrOF_M-oQTxdU20sfwfPKnZiFgtMrUq2ga6vPd2e_OZMgdYr2PCj6BVO9549sjx-0nL1MSFGNwsF37o0RC25WOyGHd3Y-VhV848eytEolhHZG4W5gO_OWabjbDZL-8IV31NHTg_szaPkP4f6_3jEZusX3Hn82p5STarjz7CRq7gfnx6gbYTYjaveDGZpjvjyG0npN-UwPEwLCPUcIHYLi3WKTaf0rlUuNIEvFxZKsBvH5OtiTY6kDzI13t5XBwLxruih_trsZsCPl2RcKyL3lOwrYZrbImZADJZaw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/843548494/9c6fbc6dc2fa4395a5d097be58a7975a/verify?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "digest": "3RLcDYczy21QjYPD_44OhfoHaUATo2jBMCtL-PKzi4Ngh-EFoXXQmDXGLv6Rle5mkMMq0io3TJ8wCdf-6hSgJg",
        "value": "Etv6SD3j9OTHSOfu5gQqJNL3B5j-ffOWhCvuB5wognvB0kXGqPnqKnLRBKFs_BHeA0L-t0E9HjkEn29qLyQHuPu67_KZQOOMTb3laIf5-aDHPzIqq4OGRKf55AFJ5SwKTqKf5htxNoQ4yzXpsJl8BSw4SHBIJIGE3v9eJmlb3Wxto86Gv7Pwo1-r0qLyY58cZwHzDkzDyWnAOUD30ROE1Nh_07gnAC7YhMKdfyOY1QQUotUUskERglkTxaLjSWRYEhhWh4uEBA56fE1IClMPfjDXsCRTQwiU1ZVlYCuEC02VcZd67ttPFBZR8iHWXxHePiPJrMcCzJN3Hp38Vzh0pA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskvtest.vault.azure.net/",
    "RandomSeed": "1491734804"
  }
}