{
  "Entries": [
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1972317156/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1972317156/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/1972317156/f91c9f8f65ee4d7ab1aa720e6101786d",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yeM8a9HqXEPjm4ZNh3iffkkXDQvWLgIPKII65iDvxFB2piwK53dfplylw2sMHhhWcUl2mLonQ2GLsgWYlucXdl4rcjMoSKVuG4VHy-t6R0EIYLVE-34IEJSDq4vzK9fJWh27xVLJdfncrMjLALFl2dPLy9s532C8mw66rtQW1schg8yzMfkS0M-VcSP3eALisWSzdJlOoEgQvpjIEm66dFqsU1IO6PCUDErfsThNpIlAzv7iaRZuPmTEajQMFDNpZlpII4dq7ZN3qqdAPnmN0_Y70L1ryE0t_gOyTRVN4aK8o7iW_QmhD4G35pRfpBzlZR61Segg0HZxPNt956CQZQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1626224933,
          "updated": 1626224933,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1972317156/f91c9f8f65ee4d7ab1aa720e6101786d?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/1972317156/f91c9f8f65ee4d7ab1aa720e6101786d",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yeM8a9HqXEPjm4ZNh3iffkkXDQvWLgIPKII65iDvxFB2piwK53dfplylw2sMHhhWcUl2mLonQ2GLsgWYlucXdl4rcjMoSKVuG4VHy-t6R0EIYLVE-34IEJSDq4vzK9fJWh27xVLJdfncrMjLALFl2dPLy9s532C8mw66rtQW1schg8yzMfkS0M-VcSP3eALisWSzdJlOoEgQvpjIEm66dFqsU1IO6PCUDErfsThNpIlAzv7iaRZuPmTEajQMFDNpZlpII4dq7ZN3qqdAPnmN0_Y70L1ryE0t_gOyTRVN4aK8o7iW_QmhD4G35pRfpBzlZR61Segg0HZxPNt956CQZQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1626224933,
          "updated": 1626224933,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1972317156/f91c9f8f65ee4d7ab1aa720e6101786d/sign?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "pVYj3B9USjoJNUyE9Uz4vuaq7GOvnbuxYVPzdI1ZO4_O7j7CQqpB8R3tPaQ0I8MR"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskvtest.vault.azure.net/keys/1972317156/f91c9f8f65ee4d7ab1aa720e6101786d",
        "value": "VoQyflOwet33ml-BMUYeWmQZCJCRMcR-ywcFrR0SJnTsCHjyBDev2L-_ZoVHoOvrPfcBbmgKYTseOkvXxMTLRjMs2WB9U8zvSQw0nQnGUqfxQ6IguW-WrmkK6DuAUrnvCjcM21N39lAtYEo0qzSlPu4o0pWrcrH0qW3dYGjaMaAjKnL4XwJQp5DyW8KBnrD1g4e6WmNij8nCG6a2-IPL7IKLKsHdlrP-nmXk3ImcDr_t0GJVl4pDaGGZP-C_K95aHms7zxmRMrt36JpMN3G1GdvYGwvChkcGvmZu0uI-IB4z2Icwb0L1N5I7TlaDfER_F2FdQpF5U2xkDvhjSmtAMA"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskvtest.vault.azure.net/",
    "RandomSeed": "1620444217"
  }
}