{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1950876683/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1950876683/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1950876683/44540bfb55bd462c90e729c590838524",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "WYJrYYe2QYffnSs15GMU5TWTFRCvMEcSvvREPGiVTBE",
          "y": "n19CQFQDX-kaAgY0gJxNVQH-MIdYkhK9Q3SO9Z988f0"
        },
        "attributes": {
          "enabled": true,
          "created": 1648056497,
          "updated": 1648056497,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1950876683/44540bfb55bd462c90e729c590838524/sign?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "W6V1lcnw4YxAEbhjYMfWiTQ_d4MhedG6NMuk0Myx0DQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/1950876683/44540bfb55bd462c90e729c590838524",
        "value": "XgZFUI-PXtykKO5GDS9XZJZJNhhLtXISe-qcWM7_wu-3pAV8rGLkbQ9KaIdd3llNlU69TYtGPYcLxzq3EzBjNQ"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1950876683/44540bfb55bd462c90e729c590838524/verify?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "digest": "W6V1lcnw4YxAEbhjYMfWiTQ_d4MhedG6NMuk0Myx0DQ",
        "value": "isICaVPvk83M7URUiXY8ZfL-VtACoa4SprPT5F9pcDZp_dflvc_E556-ore4SZV6svkvuvGpskKIhkDG6LF6_A"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1950876683/44540bfb55bd462c90e729c590838524/verify?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "digest": "W6V1lcnw4YxAEbhjYMfWiTQ_d4MhedG6NMuk0Myx0DQ",
        "value": "XgZFUI-PXtykKO5GDS9XZJZJNhhLtXISe-qcWM7_wu-3pAV8rGLkbQ9KaIdd3llNlU69TYtGPYcLxzq3EzBjNQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "95784597"
  }
}
