{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/235832169/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/235832169/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/235832169/662b07310e2f44c3b1af6bdfbb0342c5",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uh0pcLIF7YEWczNXkqMuHr_w_XsCyPgiePrn832X7rRMrbeeZS-otvpjaI8mCrv9b2OPEo6BA52MTqdXeR9-rqdgLL7c_2PrQA490psLo6rrnnuevDG6wr4Jxu8qx2lGgVeAZeWkhLuqvCOS9uvK2VfeFB7y6jd5GUH-LaNKpb288aDjnmk5ediCWFcWi6OwXX3IPGHH6FTPgAS3EOhSx41mb8IQPu-A_SrvqoamvsQ_fBufxgXym4lZdhMuz-uXnI_irrcymRsPPuMwdKViYR9iQM1mHT7_xgZOGFe84LWrg3BC7yWb97B-hxAmzyDqjbyCgl8OxYlLIuQq2PbOhQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1613784984,
          "updated": 1613784984,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/235832169/662b07310e2f44c3b1af6bdfbb0342c5/sign?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "83JMGg1CeQvk5VQxpOLc3f5PRxP7QVjfhbdVEatbVCbOO_8mz7KRVnoPHFskrVGk"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/235832169/662b07310e2f44c3b1af6bdfbb0342c5",
        "value": "HUZy-9SSTDWVHB2pN7RjfDWxayqhRpDGYEEyZFnC67ReoRF7DQa-a-Jn694z8Vchhdts78OHSIg7M6VwJBc15K34R3G--0W8fyI0Xbn0vVO7wgLwoXBdq48ehsPh3aMn0cWsbtrcnHXoypIluoPybzlqKs0TPk7OSS0iI3nE7dGJD9GlXrhUS7AefAqnwAlDIXwL5QZ0J6BbvG-L0KcWgtJwaWwlBpd5jf4KFZp3vCUGVD4_FyoXV8fjj4Y-61rG4UVtj_-mLV7jyXYq2xMpWxKSuoVuZWI9E-ui4m7KGhblhuIhO9czA9j3_LP0aUZM2D8zHTsfFlaKXiZ9e2HrlQ"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/235832169/662b07310e2f44c3b1af6bdfbb0342c5/verify?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "digest": "83JMGg1CeQvk5VQxpOLc3f5PRxP7QVjfhbdVEatbVCbOO_8mz7KRVnoPHFskrVGk",
        "value": "JkhgDilYITY__VdyI2AntUREgxLRMuvyIlnTf__sjD2GSBwEAPb_oag3jMpK-tU1ZZSQtKZW1ujkCD2NhPezXLj1i9gKRUlfPMrmtUNgAQlIdyFwEDyCPLLh1U4cfOMkMouv1-_mnvhTen-Dae1G4P7WnW_-3_14UwNDBAeAs4l6cfh4ht_ZCy_nqF6p3HkJag43E5rZ3QLx1928lodgd-5tMsuNE8W1yc3BCu_9VuU8zS1_xWRUoCLGE3W_9kz5KgLgQaCIx9Ms7wG4gCO4DEmJ7Jzq8rS4Y03sIYcJSP8y8g7pw6vwU0Os3X-w7ZvAHV9xiQGfEKOZ8QvgxIs_gg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/235832169/662b07310e2f44c3b1af6bdfbb0342c5/verify?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "digest": "83JMGg1CeQvk5VQxpOLc3f5PRxP7QVjfhbdVEatbVCbOO_8mz7KRVnoPHFskrVGk",
        "value": "HUZy-9SSTDWVHB2pN7RjfDWxayqhRpDGYEEyZFnC67ReoRF7DQa-a-Jn694z8Vchhdts78OHSIg7M6VwJBc15K34R3G--0W8fyI0Xbn0vVO7wgLwoXBdq48ehsPh3aMn0cWsbtrcnHXoypIluoPybzlqKs0TPk7OSS0iI3nE7dGJD9GlXrhUS7AefAqnwAlDIXwL5QZ0J6BbvG-L0KcWgtJwaWwlBpd5jf4KFZp3vCUGVD4_FyoXV8fjj4Y-61rG4UVtj_-mLV7jyXYq2xMpWxKSuoVuZWI9E-ui4m7KGhblhuIhO9czA9j3_LP0aUZM2D8zHTsfFlaKXiZ9e2HrlQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1593074910"
  }
}