{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1450392634/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1450392634/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1450392634/56c411922e5e4e199c7923ca8e627dac",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "OvtN51-8W8vvDHq4yt4HVaJEhLuCO1wPSgwv9he12FktRPfU53QFBX2yNNuGSweO",
          "y": "x2lWoF25QMSxNJze-vbRFvwgFotGxqFY4kFMpblu6Cg1ORuvmE4kACsBAKBGLdVg"
        },
        "attributes": {
          "enabled": true,
          "created": 1613785052,
          "updated": 1613785052,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1450392634/56c411922e5e4e199c7923ca8e627dac?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1450392634/56c411922e5e4e199c7923ca8e627dac",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "OvtN51-8W8vvDHq4yt4HVaJEhLuCO1wPSgwv9he12FktRPfU53QFBX2yNNuGSweO",
          "y": "x2lWoF25QMSxNJze-vbRFvwgFotGxqFY4kFMpblu6Cg1ORuvmE4kACsBAKBGLdVg"
        },
        "attributes": {
          "enabled": true,
          "created": 1613785052,
          "updated": 1613785052,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1450392634/56c411922e5e4e199c7923ca8e627dac/sign?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "c3nxyyVrllt5YVg66kzZH56T1dhfyilHgvr4YK04PfWb9ROgIHA4ILnAqWqI__X9"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/1450392634/56c411922e5e4e199c7923ca8e627dac",
        "value": "1cmic9hEABd7sb8CAJwmN4QhYIPhUI7UzQW3tIdn649CdoBQ259pBe9IWg2nkoJS5hRk3m_NfuyjaKhFTExz9fnuQ8OKHe76BeJ1XTF1xM2-4Q_er5LUfjMdoj4CnK8Q"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1558686543"
  }
}