{
  "Entries": [
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/2095259361/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/2095259361/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/2095259361/c4db70e874b84bfaad13cd57c6f4ba84",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "6lheC-KKf7f9J6_atMDRSS4k5V9opFXoxVijdkPUNVWM7_DVPTMpW2SMPvH-BS2G-6YJi6q9gRiJDNpWlBOZtD4R8jLWbe4VXqYg0StSSHrxE8a7zULC4slARaiHWG0navZZ7nVPkQSRpn4ZnRVUyG7ERofZoWHCE3oeRiWrnl3PR0uzFB7IGyeGeQGFY_UKVJ70CB2IOHXpAQyy1y442B9SWxJruUHpXMAoz-Hdl0A96RFBYEdiU8X8KZnN4jjsjOnrEvh40S2u6kiLNEPr-lpEiex6C61f2-GNHx4n6esBNmZmChDBL2aPZ-bSEEUSjAO1NZuJ1y8RsjBoPwS8tQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1626224943,
          "updated": 1626224943,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/2095259361/c4db70e874b84bfaad13cd57c6f4ba84/sign?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "vKN7szZVatO7iT2xENFJlsVDnZ7Myvp22eKdLMCWn8Dde2fF9ri4Syx8l8gUYFuA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskvtest.vault.azure.net/keys/2095259361/c4db70e874b84bfaad13cd57c6f4ba84",
        "value": "cvY-YRNrv5sUAkCMe5rIe0aU9QCZg9crxD7IPC_EDQWZRg4uKVKeKY3Re-tMxGFxbURsSCOSlN1KyxUYi-fHbwvpe4LjmVISzzuPrEobBdLX50ZSUNVEyK8qaQlNIEAAmbxp_iQgoWk3V5cHdHJYCFMcafssgXMBpetScNYVNXx340BGjBrkiiG9s3hhohzQOkOrEzUAqitLkD6FfMwpO_vkCFN3LohNMTkVCy3G_m4Rm6XvcvvEz0TP0L2ki7f-u6fV3HurKk0dxPUZGjkWmmmDk-7-2DxNBqJYpf5JT0qNnuN1RcrjxIxTBc5w5maDsrVcVZKjMuBJOXQYetpeAw"
      }
    },
[...]
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/2095259361/c4db70e874b84bfaad13cd57c6f4ba84/verify?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "vKN7szZVatO7iT2xENFJlsVDnZ7Myvp22eKdLMCWn8Dde2fF9ri4Syx8l8gUYFuA",
        "value": "cvY-YRNrv5sUAkCMe5rIe0aU9QCZg9crxD7IPC_EDQWZRg4uKVKeKY3Re-tMxGFxbURsSCOSlN1KyxUYi-fHbwvpe4LjmVISzzuPrEobBdLX50ZSUNVEyK8qaQlNIEAAmbxp_iQgoWk3V5cHdHJYCFMcafssgXMBpetScNYVNXx340BGjBrkiiG9s3hhohzQOkOrEzUAqitLkD6FfMwpO_vkCFN3LohNMTkVCy3G_m4Rm6XvcvvEz0TP0L2ki7f-u6fV3HurKk0dxPUZGjkWmmmDk-7-2DxNBqJYpf5JT0qNnuN1RcrjxIxTBc5w5maDsrVcVZKjMuBJOXQYetpeAw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/2095259361/c4db70e874b84bfaad13cd57c6f4ba84/verify?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "vKN7szZVatO7iT2xENFJlsVDnZ7Myvp22eKdLMCWn8Dde2fF9ri4Syx8l8gUYFuA",
        "value": "cvY-YRNrv5sUAkCMe5rIe0aU9QCZg9crxD7IPC_EDQWZRg4uKVKeKY3Re-tMxGFxbURsSCOSlN1KyxUYi-fHbwvpe4LjmVISzzuPrEobBdLX50ZSUNVEyK8qaQlNIEAAmbxp_iQgoWk3V5cHdHJYCFMcafssgXMBpetScNYVNXx340BGjBrkiiG9s3hhohzQOkOrEzUAqitLkD6FfMwpO_vkCFN3LohNMTkVCy3G_m4Rm6XvcvvEz0TP0L2ki7f-u6fV3HurKk0dxPUZGjkWmmmDk-7-2DxNBqJYpf5JT0qNnuN1RcrjxIxTBc5w5maDsrVcVZKjMuBJOXQYetpeAw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskvtest.vault.azure.net/",
    "RandomSeed": "1390817002"
  }
}