{
  "Entries": [
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1698668784/create?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1698668784/create?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/1698668784/d5c46843ed25442d834124e269dd3b40",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "huvo9RcerqmB9mfRdw4jDR5OZKdzqhPerpWovqaER6uaQyiFiEkczFkSA-78REpxe6PWEd4u1o-1DiotSCYc55fY6WLXBtwiuCqIWTeUt_UEX-860KU36w9mHQHXX08sjfFbqvnvyIYrmC9IEdhqo7cc1VJuc49NTPb5Bpb3VFuB6i_hKpRs3AsKWToez1TWbX8xe7AsEyafdRA5-15PdIchNxk3IdhT1n5CixZ_dUHLy7YctIoSOFw5lIs5FyEpUKrlqyUDLeT5LbohHrg_xQFofBCu_-EyHbLNIRiSeUBiGFOiwBCHeJ2wTJQ042IRYvO6-wRkl4BLUR2p6UgUhw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1569261531,
          "updated": 1569261531,
          "recoveryLevel": "Recoverable\u002BPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1698668784/d5c46843ed25442d834124e269dd3b40?api-version=7.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/1698668784/d5c46843ed25442d834124e269dd3b40",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "huvo9RcerqmB9mfRdw4jDR5OZKdzqhPerpWovqaER6uaQyiFiEkczFkSA-78REpxe6PWEd4u1o-1DiotSCYc55fY6WLXBtwiuCqIWTeUt_UEX-860KU36w9mHQHXX08sjfFbqvnvyIYrmC9IEdhqo7cc1VJuc49NTPb5Bpb3VFuB6i_hKpRs3AsKWToez1TWbX8xe7AsEyafdRA5-15PdIchNxk3IdhT1n5CixZ_dUHLy7YctIoSOFw5lIs5FyEpUKrlqyUDLeT5LbohHrg_xQFofBCu_-EyHbLNIRiSeUBiGFOiwBCHeJ2wTJQ042IRYvO6-wRkl4BLUR2p6UgUhw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1569261531,
          "updated": 1569261531,
          "recoveryLevel": "Recoverable\u002BPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1698668784/d5c46843ed25442d834124e269dd3b40/sign?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "E0m6i61Sq9pnka3IqSl1ZPPLXrDAcZbA3BVHNuXnlbE"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskv.vault.azure.net/keys/1698668784/d5c46843ed25442d834124e269dd3b40",
        "value": "KUssAbalwWrnys8BVoJVcWfB7t9QOV1xdcBqVoLRf7LLES0xd_y9-61sKKu4ilTd4JrUDi6uwmZjCGjhmRqiqqZJjw832OUPovhZkb4nGxmJwWIr4BNbgj9SOm6wbIKUMl7mRgnhQe9McMz9kj8azhRUIioqo4dY-wDWICngD78TAVRsevzjdQ8nbNxIK6yAuuIuso4CXt5dJc1PG8xE87hmhe6i--vHPLuznsy36zCwRNIRy_IHjce0EvzwAiOUdVkJrlBCKTYRDOeq_L4SgBxxiUxCd1-lOhCWpNwMZfVrpOenbyI6Zo-QT3BW0n2hicjl1UCJ3jSFKjss5XRuyA"
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1698668784?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://heathskv.vault.azure.net/deletedkeys/1698668784",
        "deletedDate": 1569261532,
        "scheduledPurgeDate": 1577037532,
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/1698668784/d5c46843ed25442d834124e269dd3b40",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "huvo9RcerqmB9mfRdw4jDR5OZKdzqhPerpWovqaER6uaQyiFiEkczFkSA-78REpxe6PWEd4u1o-1DiotSCYc55fY6WLXBtwiuCqIWTeUt_UEX-860KU36w9mHQHXX08sjfFbqvnvyIYrmC9IEdhqo7cc1VJuc49NTPb5Bpb3VFuB6i_hKpRs3AsKWToez1TWbX8xe7AsEyafdRA5-15PdIchNxk3IdhT1n5CixZ_dUHLy7YctIoSOFw5lIs5FyEpUKrlqyUDLeT5LbohHrg_xQFofBCu_-EyHbLNIRiSeUBiGFOiwBCHeJ2wTJQ042IRYvO6-wRkl4BLUR2p6UgUhw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1569261531,
          "updated": 1569261531,
          "recoveryLevel": "Recoverable\u002BPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/deletedkeys/1698668784?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskv.vault.azure.net",
    "RandomSeed": "990754862"
  }
}