{
  "Entries": [
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/549885407/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/549885407/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/549885407/5e8cf6671d074254954bde69e75bf94d",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AQ7raDIMaPLJ3NWfdFvLtyljTycrtA6D3Rj_yr6OKTffkgI_7z0IZIekXMAXOmT75h3W58Ws6_I4fydpxvKGJUqA",
          "y": "AZXmBRegPhghMLaxzQwwHtFW_fXmbFejQPae87rF1IsAwOHbkrcegmbnZIEgIXE_59mp-o8jfDdpM99nFt6obxOv"
        },
        "attributes": {
          "enabled": true,
          "created": 1596062683,
          "updated": 1596062683,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/549885407/5e8cf6671d074254954bde69e75bf94d?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/549885407/5e8cf6671d074254954bde69e75bf94d",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AQ7raDIMaPLJ3NWfdFvLtyljTycrtA6D3Rj_yr6OKTffkgI_7z0IZIekXMAXOmT75h3W58Ws6_I4fydpxvKGJUqA",
          "y": "AZXmBRegPhghMLaxzQwwHtFW_fXmbFejQPae87rF1IsAwOHbkrcegmbnZIEgIXE_59mp-o8jfDdpM99nFt6obxOv"
        },
        "attributes": {
          "enabled": true,
          "created": 1596062683,
          "updated": 1596062683,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/549885407/5e8cf6671d074254954bde69e75bf94d/sign?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "bIdOaSTOmnu2XtYIlGlb9mgjXWb7r2KOPIW-tC409BNqAhwiT4DxngIUqF6KDx0rrAvjbDJLnnfZ7CDAo4c0_w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskv.vault.azure.net/keys/549885407/5e8cf6671d074254954bde69e75bf94d",
        "value": "ATn-MQjfz5qrREX5meBRqqDJOaNa9cna873OAjFriKsJ5fWgrhjoTzXTigVZCPDu_XgKRfTzxeffdYRvkP95NcnCAEkl4qVTEAnfNEx-E9UF0z-NLR_5WBUKd_WvudhIozGKUCizNI_Eaa1YGHC4wrb7BFlE5RBMuZNPJolb6QujrEEI"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskv.vault.azure.net",
    "RandomSeed": "676244083"
  }
}
