{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1639547056/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1639547056/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1639547056/9763de1eda7748599893e6d671abeb4c",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "uhGVzjiIqItfN0k4EtFd_cf9jtsL5Scm3-yAwlVpXAsMVNg7WYb-dbNWN1Fil5Y6",
          "y": "odSJK4FhlyqhCQUXtSOPGbY6aL5G54oocJPFzNSjv4InmKqH3lLbV9mcUnQ8pSz9"
        },
        "attributes": {
          "enabled": true,
          "created": 1677718869,
          "updated": 1677718869,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1639547056/9763de1eda7748599893e6d671abeb4c/sign?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "0NxebveeQO_Ra08fy8NL1FvvU6pd6XmZbquVOfwbYBy1BgF3SAcHH2k3Wjq9LeEu"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1639547056/9763de1eda7748599893e6d671abeb4c",
        "value": "dBUUQYibXSNZvbQMA-yhPCCuJT9WyqlHnmd3HsoFYi2NGKRzWuDbUA8UFVwfpyZMQdluvUFDE2vqfAHjG0A-mLQ4cqt7BF5wTJYvIEELvWnQgxXrgP1YNobeHL8WaPnw"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1639547056/9763de1eda7748599893e6d671abeb4c/verify?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "0NxebveeQO_Ra08fy8NL1FvvU6pd6XmZbquVOfwbYBy1BgF3SAcHH2k3Wjq9LeEu",
        "value": "m9QeYQARYyjNIOeyFu8SwQ_NpblNIPqlOXjs6TLngADcBxD3bLZ3534jFS2_XSPn2Dnmwt0bnwxtO-SwzNCwN970AVwmNDbtPeX2uTI1LqWRpq49PyqYBabMAgIlSK08"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1639547056/9763de1eda7748599893e6d671abeb4c/verify?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "0NxebveeQO_Ra08fy8NL1FvvU6pd6XmZbquVOfwbYBy1BgF3SAcHH2k3Wjq9LeEu",
        "value": "dBUUQYibXSNZvbQMA-yhPCCuJT9WyqlHnmd3HsoFYi2NGKRzWuDbUA8UFVwfpyZMQdluvUFDE2vqfAHjG0A-mLQ4cqt7BF5wTJYvIEELvWnQgxXrgP1YNobeHL8WaPnw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1725465169"
  }
}
