{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/135898814/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/135898814/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/135898814/abbcf7990af44024aed48f013b3eff2c",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "5g8ZGCKnsT107d8mnKx5PLGqRble1QsowCggXjLM5FpHG4MwIhiOQ_zlxrLwzbzNtofQ_fz3yTf_UjyKKIj_SVNxhW8w1JehuYf1fqBoQNj8Yt4HtZgS0oFErPzSyRBwx80jWrma8XVrXXVHpk4pQtxCqQf09ycFMXsy1f3v1_qvVeyIz0UewQ1B7a-hBt2gAad2NMRfeitu8YoqeFj84UblY9f6fCbby2V6HXLWL4-BElRlfLVxMy-kWFa5m11dnUhYf7tCyIpkM5zqErKeRpGNtYyq8eQhqkvdGLBRWoYVcFe03DKKL3wTmlwBuYGqodRVZiR5FchKwI_Ofb4eFQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1667322990,
          "updated": 1667322990,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/135898814/abbcf7990af44024aed48f013b3eff2c/sign?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "dqPe9YWU3WlLa6eqO3iCZtAKtorYWEtjG_vZMd1HOQuD-dL1TaQv03U0u6kvT5mzX2DkVRS0W6REtH_iNYOnUA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/135898814/abbcf7990af44024aed48f013b3eff2c",
        "value": "bY1NAFoXE58xTBChsW0gwjD7f_mvqOq0kYzDfUy7L5NPV50L6To92n5HivQ-TNRSnVQA_hi8EcGM2Y5pB6mgFoJ0ZE85AIITkqWB1fi2bnnJ0yYHfH7wm66PMVyk14EbzNIZg8PDUFFyHyvZ07y8PgXjqK-RlwYY2AH2ZSG10LFHXZXBfrgR92rMiF0PA8u_k2G_5XayrtIvG2AtwrZQm7dAiHw1KzQoaseYz0fFAG_XyOQWXU-qQIs77MdYBuHZLuxojoJJK4ldzEE1qfKjQwOlqE0hM41zOWqA6l5fSGsptI1DCU1sxMsMBQctHdUpW9KqQi_0TUWS1oiXqxE7CA"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/135898814/abbcf7990af44024aed48f013b3eff2c/verify?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "digest": "dqPe9YWU3WlLa6eqO3iCZtAKtorYWEtjG_vZMd1HOQuD-dL1TaQv03U0u6kvT5mzX2DkVRS0W6REtH_iNYOnUA",
        "value": "bY1NAFoXE58xTBChsW0gwjD7f_mvqOq0kYzDfUy7L5NPV50L6To92n5HivQ-TNRSnVQA_hi8EcGM2Y5pB6mgFoJ0ZE85AIITkqWB1fi2bnnJ0yYHfH7wm66PMVyk14EbzNIZg8PDUFFyHyvZ07y8PgXjqK-RlwYY2AH2ZSG10LFHXZXBfrgR92rMiF0PA8u_k2G_5XayrtIvG2AtwrZQm7dAiHw1KzQoaseYz0fFAG_XyOQWXU-qQIs77MdYBuHZLuxojoJJK4ldzEE1qfKjQwOlqE0hM41zOWqA6l5fSGsptI1DCU1sxMsMBQctHdUpW9KqQi_0TUWS1oiXqxE7CA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/135898814/abbcf7990af44024aed48f013b3eff2c/verify?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "digest": "dqPe9YWU3WlLa6eqO3iCZtAKtorYWEtjG_vZMd1HOQuD-dL1TaQv03U0u6kvT5mzX2DkVRS0W6REtH_iNYOnUA",
        "value": "bY1NAFoXE58xTBChsW0gwjD7f_mvqOq0kYzDfUy7L5NPV50L6To92n5HivQ-TNRSnVQA_hi8EcGM2Y5pB6mgFoJ0ZE85AIITkqWB1fi2bnnJ0yYHfH7wm66PMVyk14EbzNIZg8PDUFFyHyvZ07y8PgXjqK-RlwYY2AH2ZSG10LFHXZXBfrgR92rMiF0PA8u_k2G_5XayrtIvG2AtwrZQm7dAiHw1KzQoaseYz0fFAG_XyOQWXU-qQIs77MdYBuHZLuxojoJJK4ldzEE1qfKjQwOlqE0hM41zOWqA6l5fSGsptI1DCU1sxMsMBQctHdUpW9KqQi_0TUWS1oiXqxE7CA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1262469395"
  }
}
