{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/98351238/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/98351238/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/98351238/fdcd3b448e674b2598e0bff20ebeeef9",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "0j20VlJyublTA4Y1TNyQ6AuOiplWWWp1KzsbJhjKVPw",
          "y": "Lq9gjjZrAQFUQPgZpNi9y2MoKJLYlanxTPaWX_yxif8"
        },
        "attributes": {
          "enabled": true,
          "created": 1677718852,
          "updated": 1677718852,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/98351238/fdcd3b448e674b2598e0bff20ebeeef9/sign?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "OWqH5JCPKcNGjRPxkb30TWrdMduDKCWA2fX36mtxa40"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/98351238/fdcd3b448e674b2598e0bff20ebeeef9",
        "value": "NfYY4L0Iu692Kad6lwZ1CZkPeA77torgzM8X7dOh5-4uhmM51vinn5T6z96QqTIl52ANOHMEDNR-OpoATZP--A"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/98351238/fdcd3b448e674b2598e0bff20ebeeef9/verify?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "OWqH5JCPKcNGjRPxkb30TWrdMduDKCWA2fX36mtxa40",
        "value": "N4IhlYfDGJbbRSJgsJSSN4XyIDc4Q-fbObUPBcNmQqZ5vF-LJ2rWSjZC8zRH-6sc-L1pu308WmMqshy_4dOj8Q"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/98351238/fdcd3b448e674b2598e0bff20ebeeef9/verify?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "OWqH5JCPKcNGjRPxkb30TWrdMduDKCWA2fX36mtxa40",
        "value": "NfYY4L0Iu692Kad6lwZ1CZkPeA77torgzM8X7dOh5-4uhmM51vinn5T6z96QqTIl52ANOHMEDNR-OpoATZP--A"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "818034038"
  }
}
