{
  "Entries": [
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1113454582/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1113454582/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/1113454582/0ae1e2c849b34b2d9a39c6c9c2e614d0",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "yqF1o6GjdwmmoN2T4WF5o3giRlHrRu_U_ZDTsWmCDzE",
          "y": "LGJNLo4vl8uorJ3RpoEZKlIL_j5cIOEPLuA1zK1YfVU"
        },
        "attributes": {
          "enabled": true,
          "created": 1626224936,
          "updated": 1626224936,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1113454582/0ae1e2c849b34b2d9a39c6c9c2e614d0?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/1113454582/0ae1e2c849b34b2d9a39c6c9c2e614d0",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "yqF1o6GjdwmmoN2T4WF5o3giRlHrRu_U_ZDTsWmCDzE",
          "y": "LGJNLo4vl8uorJ3RpoEZKlIL_j5cIOEPLuA1zK1YfVU"
        },
        "attributes": {
          "enabled": true,
          "created": 1626224936,
          "updated": 1626224936,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1113454582/0ae1e2c849b34b2d9a39c6c9c2e614d0/sign?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "-yF2h4DlOyqdY8P4UFtz1TNRdHXLVYLiFiRCzC1g23c"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskvtest.vault.azure.net/keys/1113454582/0ae1e2c849b34b2d9a39c6c9c2e614d0",
        "value": "CyxxpX4uVYFgiuLB1KFB0jlhwU5LTbWkEQm9Prn_JHYN4GIcs08uZfL9qZW1sqklXnjziVqeqIl27AoN7Z-teg"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskvtest.vault.azure.net/",
    "RandomSeed": "695340884"
  }
}