{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1851936972/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1851936972/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1851936972/fa91272f5cbd45e99d543d7e2f249735",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ocCL_N5dc0-iReLsD7LlU5EfQXZYRkA_NrMPIaZ8vj7uZrsx4fao8Fz7Iko_ZiRaEqoFw6wZazdJCQRzGLIHwXtPUZfkZsiJ3IRpupiXyPbb8WjR1GnmyQqNKIaPE_Bd5_KHwi7aL4U7xaW88SQTM8YlZFcaCgJ5LZzhKeM51c19e61ASeqM6b4yEIb1I-zP5dC47JljRXV3vyTCXNLqvLgnU6JJ2AwVMKINNTztke6j_6PFx3uu_PecBg--RoV-IqQaagI2mAQ3rHTeGz7anLxD5xnktmmyVCkcQN8hwEO99ObqkSVkeeI8ECf18HtUWv8xgCCu0m4cofy5Z28p7Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1667322959,
          "updated": 1667322959,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1851936972/fa91272f5cbd45e99d543d7e2f249735?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1851936972/fa91272f5cbd45e99d543d7e2f249735",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ocCL_N5dc0-iReLsD7LlU5EfQXZYRkA_NrMPIaZ8vj7uZrsx4fao8Fz7Iko_ZiRaEqoFw6wZazdJCQRzGLIHwXtPUZfkZsiJ3IRpupiXyPbb8WjR1GnmyQqNKIaPE_Bd5_KHwi7aL4U7xaW88SQTM8YlZFcaCgJ5LZzhKeM51c19e61ASeqM6b4yEIb1I-zP5dC47JljRXV3vyTCXNLqvLgnU6JJ2AwVMKINNTztke6j_6PFx3uu_PecBg--RoV-IqQaagI2mAQ3rHTeGz7anLxD5xnktmmyVCkcQN8hwEO99ObqkSVkeeI8ECf18HtUWv8xgCCu0m4cofy5Z28p7Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1667322959,
          "updated": 1667322959,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1851936972/fa91272f5cbd45e99d543d7e2f249735/sign?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "76g-rwuqgBnjeL_W1w51LtyqbXowV13uAUQFq7WxVRT91jvdC2GV_rW3FQoLAYPxtyibbeYmF9oXEb5bsU_Fng"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/1851936972/fa91272f5cbd45e99d543d7e2f249735",
        "value": "PcAxkuP8yWKS4S1tn0i50XsDrZrJ-IUGTC5EwjfCw6VyZ7kWu4okhWa8PG35IdiWjAaNZeFtvEo0diw6eM6tKPmfIkMMIioO79C1Wbv-DZDcL33C5Tjued9yVsYdfTyxUIsIgM1UsGsEHJvOEdPv9fSwsLOMfngX5f3Zg5ZbUyVrwKuNTj-7cnM_b_OA5bHkm9o5hmdGwuwbg6pt9cpoogmQU9ektKYzsfApg2DcG3N_ZKi3wUzP6bTeq2ixgTGM378WwhcCMQONuDsjTBbZj_IynYYWOzerN3hYOZTjIHxZbNlxd9JbHXgu2WWPcP6HekWvjfkbShSrdz7JyOUHhw"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1441895055"
  }
}
