{
  "Entries": [
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/832573175/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/832573175/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/832573175/64876f7dcf574238aa76a0e1d5b12b89",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "n9AVm4LBxJE56_clJq_fhSjSK9VFkEF5dTzJU7PywM5qOk-IRDh-Mz3wlk5dDV7Vv8u3g59flXasCWAjctEStC5tg4f1aPlnQaNL0CfwPsJJyij3cQaKWDOBhwoFl58u2iI1X6thCfrjnN8mvOZ4jmZ-RwoMxIqn8aeW2ALUBbsh6LlTbnf3N_PWSNBJyjQA4dPkCZ6ytJ5DBRMJVzH8dONgKoNbjVWgrELC0eLWZdoW5DgtAAAOdOGjPfWSfLc_9gPfHF2GiA1O4vO-5od8ApOtn-SBPiKXh4JAck9D85W5FLlBPaNNbpPZ_HbHpZkzJNUJcetv_ohQXVWkQRPY_w",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1596062685,
          "updated": 1596062685,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/832573175/64876f7dcf574238aa76a0e1d5b12b89/sign?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "K3uavP8d4WLEW_oWoZFxIZPtwe0Is_hpL0516fXezl0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskv.vault.azure.net/keys/832573175/64876f7dcf574238aa76a0e1d5b12b89",
        "value": "jSFt_-jE9TmL4F2PbPf7fPTe4RIpRdargNQ_oJRpvNmL-oArXFTInqihtj1JKcfuWnt4t4J55J1-BE4JKW9CdrVyep0FLIocqVUuOWJxU31cWr6P3PFybcD76ZlCI8PCRsaZ3DXBxwWQZE8r3fKnXg0BKyrPDWL-gXNpxQ1hbb5RHkeN6upgUCzuTZ6wnhH6EvCZ9rgdlqY2KT465se49vJRNUoXr2IadHm20Q28mmWz4yVQ0qVo_0wQJu_7hZIjYHiEgdlQU4PpBvPHbS6dIfsUeIk4ZhL5Ukgxt7fO7gliml67k2_C9FHwCzwejWN3shlXeD02mg81EKUDvCOdRw"
      }
    },
[...]
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/832573175/64876f7dcf574238aa76a0e1d5b12b89/verify?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "K3uavP8d4WLEW_oWoZFxIZPtwe0Is_hpL0516fXezl0",
        "value": "jSFt_-jE9TmL4F2PbPf7fPTe4RIpRdargNQ_oJRpvNmL-oArXFTInqihtj1JKcfuWnt4t4J55J1-BE4JKW9CdrVyep0FLIocqVUuOWJxU31cWr6P3PFybcD76ZlCI8PCRsaZ3DXBxwWQZE8r3fKnXg0BKyrPDWL-gXNpxQ1hbb5RHkeN6upgUCzuTZ6wnhH6EvCZ9rgdlqY2KT465se49vJRNUoXr2IadHm20Q28mmWz4yVQ0qVo_0wQJu_7hZIjYHiEgdlQU4PpBvPHbS6dIfsUeIk4ZhL5Ukgxt7fO7gliml67k2_C9FHwCzwejWN3shlXeD02mg81EKUDvCOdRw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/832573175/64876f7dcf574238aa76a0e1d5b12b89/verify?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "K3uavP8d4WLEW_oWoZFxIZPtwe0Is_hpL0516fXezl0",
        "value": "jSFt_-jE9TmL4F2PbPf7fPTe4RIpRdargNQ_oJRpvNmL-oArXFTInqihtj1JKcfuWnt4t4J55J1-BE4JKW9CdrVyep0FLIocqVUuOWJxU31cWr6P3PFybcD76ZlCI8PCRsaZ3DXBxwWQZE8r3fKnXg0BKyrPDWL-gXNpxQ1hbb5RHkeN6upgUCzuTZ6wnhH6EvCZ9rgdlqY2KT465se49vJRNUoXr2IadHm20Q28mmWz4yVQ0qVo_0wQJu_7hZIjYHiEgdlQU4PpBvPHbS6dIfsUeIk4ZhL5Ukgxt7fO7gliml67k2_C9FHwCzwejWN3shlXeD02mg81EKUDvCOdRw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskv.vault.azure.net",
    "RandomSeed": "373071079"
  }
}
