{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/2140939877/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/2140939877/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/2140939877/9f4eaf431b3342b2984c173985142467",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uUSsA9z-UJrCsoocFooQQZ1tfaPIODZeFBM5dCDmWbHxALoQ5sBQ-lZ0RqfrLB8y1G3nstbBKn_rfqVVkTClAksFsUWbWmgY8WQfZNWIq90vJ4ZOmbRZ18Jbm2b-P5UoXceIJSLHdKC_eVOMHld8QJHn4LDF2sLzeDK7WTl9yebSeuHtTl2BTgBGcMQV9PXjUf4NPAPp0N4BLyDwGQXUMmrVYadbqj-knrHRkzXOu7EVdOsJWRTitbtGs8vm10lSLoi8XIpZgjghO1RjFjN6wdUWEBkdpmwdiqGa22yI1ZYT_9kR5HSuwIWOJDCFYTgN9HZHEYctZkOP-V-Eod6okQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1667323370,
          "updated": 1667323370,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/2140939877/9f4eaf431b3342b2984c173985142467?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/2140939877/9f4eaf431b3342b2984c173985142467",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uUSsA9z-UJrCsoocFooQQZ1tfaPIODZeFBM5dCDmWbHxALoQ5sBQ-lZ0RqfrLB8y1G3nstbBKn_rfqVVkTClAksFsUWbWmgY8WQfZNWIq90vJ4ZOmbRZ18Jbm2b-P5UoXceIJSLHdKC_eVOMHld8QJHn4LDF2sLzeDK7WTl9yebSeuHtTl2BTgBGcMQV9PXjUf4NPAPp0N4BLyDwGQXUMmrVYadbqj-knrHRkzXOu7EVdOsJWRTitbtGs8vm10lSLoi8XIpZgjghO1RjFjN6wdUWEBkdpmwdiqGa22yI1ZYT_9kR5HSuwIWOJDCFYTgN9HZHEYctZkOP-V-Eod6okQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1667323370,
          "updated": 1667323370,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/2140939877/9f4eaf431b3342b2984c173985142467/sign?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "ZsYcZuLTbXftWt9WObeKtLZfvULcYku_wE9nF-bL78iVqQRFFKijCMwXHAoB74vSqPrkYVlqqPnUthpGYGG0Rw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/2140939877/9f4eaf431b3342b2984c173985142467",
        "value": "eP5JC8ggUzBqhKSusqOznQ73YFYVBurACUJCHQr1RS5i3IpCzwsZaJPrb-Rr7EBf7JeeSlKzKAmODJm4AvstPnzBRq_J9E7Tzx3HojD6amLk9sMn3p3QjWy2QFm_rZ9vCtXikuUQ49194pURGFtdscHZagpcpoY4U11Glj3o5aWS7TjiXaJiktmSJm11AnVR9kxW-ZqjRp0ipj9Z83QbR0yh7_VyX9YPOoi3wH9z6Icf8hT-zfzgr5Ekssj4L1RYOXy2TurXPK9EBa4ZlLwnE-g1HlRcoUzpxK-ogkT2h1YrNrD5DBImTzDgV8O07FmCoEgzsamcMhyPPccEzDRYBQ"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1317948860"
  }
}
