{
  "Entries": [
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/400203247/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/400203247/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/400203247/585c61d53a444ba59c2e2b313d54d33b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "qiESM8yPKd66fMWdgW91D6me0IoZw8qepp2OQuWPxQdyueNWhT1XxvS2iYHCVJbgcbgyCqxfKskQhfKw59VRESc-qXOXKgIwfck-EJzwENTeZoK_DCurKFF2A9DxNYduqe9-FXhfC06c-ait4Zd-KrvdqvwM63ghOJ1cva5_z1-pJgWTAH4eurXlHWgv5E0OiCYUW97NRkEjae7jc2OsA4vlYY5VHGqXUspQwd4bGsj3cWKGjjxX7J6H53cxisESFvRIalObSLn6TEDdMXQYrFCO1L6Z_3eV5FzPn8DzYDdUECX-e3vKx9iQudG3eF9vPULNBIqz0g7cdH6Kq-YE5w",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1596066643,
          "updated": 1596066643,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/400203247/585c61d53a444ba59c2e2b313d54d33b?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/400203247/585c61d53a444ba59c2e2b313d54d33b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "qiESM8yPKd66fMWdgW91D6me0IoZw8qepp2OQuWPxQdyueNWhT1XxvS2iYHCVJbgcbgyCqxfKskQhfKw59VRESc-qXOXKgIwfck-EJzwENTeZoK_DCurKFF2A9DxNYduqe9-FXhfC06c-ait4Zd-KrvdqvwM63ghOJ1cva5_z1-pJgWTAH4eurXlHWgv5E0OiCYUW97NRkEjae7jc2OsA4vlYY5VHGqXUspQwd4bGsj3cWKGjjxX7J6H53cxisESFvRIalObSLn6TEDdMXQYrFCO1L6Z_3eV5FzPn8DzYDdUECX-e3vKx9iQudG3eF9vPULNBIqz0g7cdH6Kq-YE5w",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1596066643,
          "updated": 1596066643,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/400203247/585c61d53a444ba59c2e2b313d54d33b/sign?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "HVkh-_dM7GHrKZa9mC9pjVyzlPAgfuXAfTG9qrcPb-TaegAWrJwGZH4vfyAuoIOm"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskv.vault.azure.net/keys/400203247/585c61d53a444ba59c2e2b313d54d33b",
        "value": "Qe8lxMHUu3Y-VxlHXdu3Rq3y6WaDYwSJ4U6R808lRNIPDvVh0FXF5FPKW_yya02g8VYwjdc6higWaUcintKNnk-nfqQKBpWPm0u7riVzkjBZFj8GLv0DE8Fassj6j3fMYciJlrBRCIJ5ApS5GrkDnAFgcEBWy6Nh8z-evbpdDLFR36ISc9IBWr-fCzUVS2h19-Sbu3YWnC4uShulFBpL4BhKs6xhBYtkD7FQwQlCMiurSFWYRPYL2ENaxQ9mbfQXpEVJ4Lb4rJpCvDn_1iWO4NCdjSqCrXmgRYOw_aJFB7j6naESSJyenG8SbEnKdZpoAAgOpZZ9Asr225qI0Kku8g"
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/400203247/585c61d53a444ba59c2e2b313d54d33b/verify?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "digest": "HVkh-_dM7GHrKZa9mC9pjVyzlPAgfuXAfTG9qrcPb-TaegAWrJwGZH4vfyAuoIOm",
        "value": "Qe8lxMHUu3Y-VxlHXdu3Rq3y6WaDYwSJ4U6R808lRNIPDvVh0FXF5FPKW_yya02g8VYwjdc6higWaUcintKNnk-nfqQKBpWPm0u7riVzkjBZFj8GLv0DE8Fassj6j3fMYciJlrBRCIJ5ApS5GrkDnAFgcEBWy6Nh8z-evbpdDLFR36ISc9IBWr-fCzUVS2h19-Sbu3YWnC4uShulFBpL4BhKs6xhBYtkD7FQwQlCMiurSFWYRPYL2ENaxQ9mbfQXpEVJ4Lb4rJpCvDn_1iWO4NCdjSqCrXmgRYOw_aJFB7j6naESSJyenG8SbEnKdZpoAAgOpZZ9Asr225qI0Kku8g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskv.vault.azure.net",
    "RandomSeed": "2031903793"
  }
}
