{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1573763145/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1573763145/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1573763145/024ccc98636e4820bc21358e79e74ac2",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zs8r5b14xXg6gUw-vf91LY90-Dr57QFXNkvNoxUC1ouIgptXIQvaNx3AFPDpqwlyGEwprAd1USh8bc6AGatourePb9DJ0waADWm_VRSZyfvEqm_nVHNx8IxfiH_PcwU1O4pslTjMHS0kROAPfUWlLypZiAqBhENtXywiXjIRGDlFxRX3IditQ3Z7f0XZ-NisRsrNJrLnv0xbZAEAz0IGkmuLoJJOtuxKoiA46PnL2zS4-PJSQvvlEd8M0Dv9InDnWdIOuSTSAroOq6Qk9WOaQSSkfNUIoJt0EBKV_Wl_bsDMjiNYay3Lv-gqVhHnXS-eeAshT3vE1ZXjV4GoRstnxQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1613784967,
          "updated": 1613784967,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1573763145/024ccc98636e4820bc21358e79e74ac2/sign?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "mf2-UTekr8hkCANnjU3eN2jEWMCPT-MnL210Vw4jLuYkSwgjAsjklrIVvjV30FkS"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/1573763145/024ccc98636e4820bc21358e79e74ac2",
        "value": "KWwXU4BofQYRXVAqIWrmZWJszVHl8gwgBMchRj55EGuGRCu0zYbmv7H8CmDbx0gTBK6Bb9N7zz_uUhLLDIUTszUuwYDhVUXY6GvCE0QYNjRU3ZRUndZxE8wfD6Lv2EoYL-y044eNxthmSPTYcj3TUED-a1EC6sPLLXt-lPSfktE6jtKYLiCJTXloIQS53c8QNyNGT_kDsHGOxVDvC8dLfuX2yr4k4bMXagXxKjVnkUtLk0r4YOnP-3QGQ8VxQ_2Xwxrx_Ok-GnnFK1vkszy_2DAddByy6zyW-HCQAwYu2v-GGX23qic-v9afcncKPG7UAI0tLSOxIOchqCU53FNy3A"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1573763145/024ccc98636e4820bc21358e79e74ac2/verify?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "digest": "mf2-UTekr8hkCANnjU3eN2jEWMCPT-MnL210Vw4jLuYkSwgjAsjklrIVvjV30FkS",
        "value": "Cs4yYlK6vsTKlNnNm_rYMVrOc_tpzQ3Zc_xJUSavy13-RmrlVyvN_BWOE4wfj-lNT9wXs7RVespQYsYrSsGRf2li46kxqssNI9BXDu46knjQb555uRN7yYYRW1gL-TbjBwYQ0vpNQTy7Vzz7w9v285j9JJSAlapKxrQhaGWDtEyqma8ahUgb68ZR6h6l-0FcBjjkCSAW-KlK7qoc4gS8MRIKNiQ5LuRpow4nfqJ7hfCI8FaX6Gse6P6xC4WLzYtrvhs3VSbhb8v6y8HuZy83xUapYldjV5UY0mfmPY-9HdgoATvNTgORcc9rgQLv2gfXLOJMEg-lQN3i1engOrTxsA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1573763145/024ccc98636e4820bc21358e79e74ac2/verify?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "digest": "mf2-UTekr8hkCANnjU3eN2jEWMCPT-MnL210Vw4jLuYkSwgjAsjklrIVvjV30FkS",
        "value": "KWwXU4BofQYRXVAqIWrmZWJszVHl8gwgBMchRj55EGuGRCu0zYbmv7H8CmDbx0gTBK6Bb9N7zz_uUhLLDIUTszUuwYDhVUXY6GvCE0QYNjRU3ZRUndZxE8wfD6Lv2EoYL-y044eNxthmSPTYcj3TUED-a1EC6sPLLXt-lPSfktE6jtKYLiCJTXloIQS53c8QNyNGT_kDsHGOxVDvC8dLfuX2yr4k4bMXagXxKjVnkUtLk0r4YOnP-3QGQ8VxQ_2Xwxrx_Ok-GnnFK1vkszy_2DAddByy6zyW-HCQAwYu2v-GGX23qic-v9afcncKPG7UAI0tLSOxIOchqCU53FNy3A"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1057652183"
  }
}