{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/586246900/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/586246900/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/586246900/10d7b6bc14b64d06bfee7111f07fc2e7",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "xAtFKpHtucLraa1aFEEaz-iVIPI74IhvmL8KN7S1WVGM5uZ8vNjTKuwPVFs_tOIS",
          "y": "Ty9xHnJXYjK4F5dhA6nRIyIbTPiWGmyVw0CkKq_MRyK5kVSn1S4xcHF4j9vaibOi"
        },
        "attributes": {
          "enabled": true,
          "created": 1613784989,
          "updated": 1613784989,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/586246900/10d7b6bc14b64d06bfee7111f07fc2e7/sign?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "047lVrvwqCmLvhQlzgDuhVfnaEVhOl1fiClG8BzU1UXMcS4ibHT_H7htuC5Jr7f9"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/586246900/10d7b6bc14b64d06bfee7111f07fc2e7",
        "value": "HiOf3Qg4QvU79hSuUvFimoKiThFSUCKs5GMP7iGmneU8teEipH-7-Ci9aI5S8j5cAvqIqzLobXlc9_WRkReBdVfbIUefnWE_OBYFeK1CMh--QrsnGJ75aXuDlDFXr4qC"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/586246900/10d7b6bc14b64d06bfee7111f07fc2e7/verify?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "047lVrvwqCmLvhQlzgDuhVfnaEVhOl1fiClG8BzU1UXMcS4ibHT_H7htuC5Jr7f9",
        "value": "k3zLah7UoeUsVNF2IhSCJUtXSO1G7MZV9LgV7acUwlLwwDtK-L-08C0VBnaa7gcyhp7IEX8yNDW8zy5v2XicMQPkkZN-bGWfHUmc5e3nd2ut7-hiJp3tE9klv9kIM2rP"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/586246900/10d7b6bc14b64d06bfee7111f07fc2e7/verify?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "047lVrvwqCmLvhQlzgDuhVfnaEVhOl1fiClG8BzU1UXMcS4ibHT_H7htuC5Jr7f9",
        "value": "HiOf3Qg4QvU79hSuUvFimoKiThFSUCKs5GMP7iGmneU8teEipH-7-Ci9aI5S8j5cAvqIqzLobXlc9_WRkReBdVfbIUefnWE_OBYFeK1CMh--QrsnGJ75aXuDlDFXr4qC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "763993958"
  }
}