{
  "Entries": [
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1698668784/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1698668784/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/1698668784/d99f664fc0374473b6ac82208125144b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uMSL5i8RdQJ_D3hk2RZBZGe2wRJigVZpX_Swimbkjhx1DBKxlM1Ef-jf8NPBI069n4c07q01UqEf5Yu3R0BMc1sJpe6pMuM_NWC7YfHY6jsAqRHNjlOnuqs106_74U1-wKvNnIsE-UF-Kgr-jCSlGFUXAmJbRnEDuowLBlPdqSN950Sf_Btv5n92xFTYrkS_Y8uzmPsHAt3XWt8LgVS_q8w9lAIVwjlKiER8RYD3FVhnAhLCscgpxQn-HPlMC6tgfFf_1n48i1i1AOpLFkkfftqLshEMPnZP5d1jE-ZkRdBDEB9tksvKmfP8tRxbV1H4CYSoD1LkzSy6q_BX_fP-lQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1626224926,
          "updated": 1626224926,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1698668784/d99f664fc0374473b6ac82208125144b?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/1698668784/d99f664fc0374473b6ac82208125144b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uMSL5i8RdQJ_D3hk2RZBZGe2wRJigVZpX_Swimbkjhx1DBKxlM1Ef-jf8NPBI069n4c07q01UqEf5Yu3R0BMc1sJpe6pMuM_NWC7YfHY6jsAqRHNjlOnuqs106_74U1-wKvNnIsE-UF-Kgr-jCSlGFUXAmJbRnEDuowLBlPdqSN950Sf_Btv5n92xFTYrkS_Y8uzmPsHAt3XWt8LgVS_q8w9lAIVwjlKiER8RYD3FVhnAhLCscgpxQn-HPlMC6tgfFf_1n48i1i1AOpLFkkfftqLshEMPnZP5d1jE-ZkRdBDEB9tksvKmfP8tRxbV1H4CYSoD1LkzSy6q_BX_fP-lQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1626224926,
          "updated": 1626224926,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1698668784/d99f664fc0374473b6ac82208125144b/sign?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "E0m6i61Sq9pnka3IqSl1ZPPLXrDAcZbA3BVHNuXnlbE"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskvtest.vault.azure.net/keys/1698668784/d99f664fc0374473b6ac82208125144b",
        "value": "OYW8M_Yjx4siLn-ovgq_uK7xQgPm7UDraO821GIl-5b7JKwwDUYfGUNf8JCGhXdWp3lPH6L2kBmSovEE0IobQYGNq2lsvQ8Z4j6MEZyaluLan2XmTY1tbheMKsM2uRRXI28oIgBrrTIdJ0vVZ5XldIR1fW430UOuYGyTnTz1DinqihapgzIOc6ndtvAk5rJzbZPFfyI6Nl9OUyo7Ae7qaOVam9w_JCCVJrvqgGs4Hui0Mqci_UdA1dudrkPfdHgfmeSUQtE0FEElL3f-X1eTHtddXb0IqAmJDLU8sClRWRR8OyHqXJfz4bp8Fep0gpKDnpu5xORLJgkHo87dq-FfGQ"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskvtest.vault.azure.net/",
    "RandomSeed": "990754862"
  }
}