{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1137487493/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1137487493/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1137487493/0b3b32747a964c76a0538893f06003d1",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "s8gsR_O_Trq8ogD_s0fVHPqWEbAj6mVZPZyri5Pei49FusceEjm7jqDBW2YqlWrwWrAd8H4jDQCwwQrcCU0dz1dn-cfA07Q0KpYzIM0eW-2RUfPtthV0wCsByh-0b4ImCW3Hx-fDvUXqiaW1vdmO1wYkiB2gJHql0aSPj-XKp_LHCfyLqDydysDGt_gLbIu3cR_yhmITLhckh-g49u82UqhAtz-EjqOuUkfcnjEw3dwOX7E5w6yU8wu9ZwH5RNq9ntJ1tlDtDQhgE4v5805bsa1NBsVRYoOVECol-kQtRRjXiGuCWjBs_jFQQGi01izVWtp_dwBmb4Aivw7rEifMnQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1648056472,
          "updated": 1648056472,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1137487493/0b3b32747a964c76a0538893f06003d1/sign?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "8xBkpe0rs7pQ5-0_MhtKynUYf_FU6SeuGVWxEUaINQiQQ5QJLEkJj88DudfkYRY3"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/1137487493/0b3b32747a964c76a0538893f06003d1",
        "value": "s40ODp-TjzC6QtUOFV32w17n5Wb0RRVXSHL2GvYFTzPgzr82QIKv5PBeM3K_IDX7HVS8HAOFojzYBezy5qYoLhfPBMh-wg_L4scyKFMm1VqqW8ldMEhsAUWnR9a7qcbw-PehPlSn1xwYcmevJfzT-dAK4eJw-lsTKdekEunGvagg9ZnDccCe9I60Knhfx0ul0KezcxUC-y141miPfUt6mbfdVy6tK3RBeAJP7V1Tpqt-L1jcuvYCHkvLiXOnOZIt6M9Lo9eNhT_cQhPaChaLEnaqn7qYtXHwDZaWDWBZmfNPmXF0TPaRsLFk6MKGj-wNStbRVuJqiiG9ORQxdQooMA"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1137487493/0b3b32747a964c76a0538893f06003d1/verify?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "digest": "8xBkpe0rs7pQ5-0_MhtKynUYf_FU6SeuGVWxEUaINQiQQ5QJLEkJj88DudfkYRY3",
        "value": "esoguWyOMZDO4p6AbJe3ib7j5np0AsTDKiOHCVa6WLtCH9QKJYn9M4leXXJQqOmP_DjLv9-ClnHdboxMkWdin0rKyfKvA296BQESZhxREt-W8o-7QYLZHuSisd4WbWf-GyJSWMHxBM2mZWQEcpY51a2zfWwHPPZL8hh6jMWSWwE0Gm2CVKiR0y4-63HfH59V5Znvxsn5MjoyjsaS57iwqA_Bl3BiCtKRMItVuQ0KWq4A9DOO0c5JCqTDeJlLV1CDCF1GiRQrB9AvouJIlTMNK_7nBqamNUUlFEqxsk9qiKtLiQrWSs6KF2bmYrkLsAk9hg1GuO2VIvQzY2oPrSKY7g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1137487493/0b3b32747a964c76a0538893f06003d1/verify?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "digest": "8xBkpe0rs7pQ5-0_MhtKynUYf_FU6SeuGVWxEUaINQiQQ5QJLEkJj88DudfkYRY3",
        "value": "s40ODp-TjzC6QtUOFV32w17n5Wb0RRVXSHL2GvYFTzPgzr82QIKv5PBeM3K_IDX7HVS8HAOFojzYBezy5qYoLhfPBMh-wg_L4scyKFMm1VqqW8ldMEhsAUWnR9a7qcbw-PehPlSn1xwYcmevJfzT-dAK4eJw-lsTKdekEunGvagg9ZnDccCe9I60Knhfx0ul0KezcxUC-y141miPfUt6mbfdVy6tK3RBeAJP7V1Tpqt-L1jcuvYCHkvLiXOnOZIt6M9Lo9eNhT_cQhPaChaLEnaqn7qYtXHwDZaWDWBZmfNPmXF0TPaRsLFk6MKGj-wNStbRVuJqiiG9ORQxdQooMA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "587393456"
  }
}
