{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1023370471/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1023370471/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1023370471/579d2b8198bf4b8dbc1007a151bf763c",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wKghciYxauOogYW0CI_dco2IktnnBTv0xq3d5NmIhjyqCoimBVqN2LA-hFodrSB5CfKcB7p80B8HGH0_-7FSU62Mvre6tW6SagHBh-icVRZ3MZUdDjcsi8dvTk2GFzWiYvyhMSuEAqjsGh6z_ejGoex-82vCAqfOYK3aSrWhIcIIBESk-lHd9DQGW27LntyDgggn2D7JVsVlXohOUpn2qxVM9pvW4eO6vGbWRBOEtJ9APWaggKKT3eUnD1DyPtiIRSKha8RIYB6heubRYD9Kda9gqOxjkkahEvxiAIuhITvwITiU62yMrIwNc8BGbiaFgj4LKv3qlYrRxONcdPhtjQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1648056487,
          "updated": 1648056487,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1023370471/579d2b8198bf4b8dbc1007a151bf763c/sign?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "eQozTkNp4fYDiCqIdapIfLmuoqcLoPMgQ0V0Qqc741Q"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/1023370471/579d2b8198bf4b8dbc1007a151bf763c",
        "value": "SZ3wa4_GH7GoMMhrP3N4wm88ZAe_lKqGH0sb0zlXLaEY3ndoU_qTKcoZ9HU-Uej81DNpBt9EY9xI9oIqCySfzqzM7nf5NCK9hxJUqAInhvu1ewEmmG1pfO_YLkYreErn196w_sJmzd19tMO91KZXCWtGO8Wvem6ZP_a69VzqtLr8xG1G7OsPOx1wtIFzthsOGIvD16gz9tlChsA24bKTjT5Z8uJuuO0lB7e4mSc1hREI8Q2k4iGED9R8BBJm1k90C0a2rVysdwgGevY9kg2G0ubZNi_TSxKAO9xinsJhfJfnJh8y8X6aekyIbIb7hYY8z6dukZdZVo__2pCGHG0_jA"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1023370471/579d2b8198bf4b8dbc1007a151bf763c/verify?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "eQozTkNp4fYDiCqIdapIfLmuoqcLoPMgQ0V0Qqc741Q",
        "value": "uyA2X8Jh5ltP1RgW5rKQDOooDkX1gSyJPvIg0kYdldeoab2Vp2ga4ZEnLVXxxDtixBIX6Ss_FhiYTIBALM_33tvy2vNYAp-IR03vy9WAG0MESo5VPVcDzM8bnsjx4bAJWCczQLgmV_u9htveuNK8OUz4-KrXS2IyEH5UM9VLMWPDUaDc0Q13VL2svrfKuFMFokHAVCYfwqR3MIicOxFpY_Opt7_6DCd-kYHLndt9KRvYFvfcl3FCjMZSjd-RSHs06LC6dmmNr-GWpw25iAE5JV3kwwyS-LdbOpuN-ZTwrZMpcOQ86DJ8Eob7N0ZNfRoEH5ujk8V3-w_2xY4zlqldjw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1023370471/579d2b8198bf4b8dbc1007a151bf763c/verify?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "eQozTkNp4fYDiCqIdapIfLmuoqcLoPMgQ0V0Qqc741Q",
        "value": "SZ3wa4_GH7GoMMhrP3N4wm88ZAe_lKqGH0sb0zlXLaEY3ndoU_qTKcoZ9HU-Uej81DNpBt9EY9xI9oIqCySfzqzM7nf5NCK9hxJUqAInhvu1ewEmmG1pfO_YLkYreErn196w_sJmzd19tMO91KZXCWtGO8Wvem6ZP_a69VzqtLr8xG1G7OsPOx1wtIFzthsOGIvD16gz9tlChsA24bKTjT5Z8uJuuO0lB7e4mSc1hREI8Q2k4iGED9R8BBJm1k90C0a2rVysdwgGevY9kg2G0ubZNi_TSxKAO9xinsJhfJfnJh8y8X6aekyIbIb7hYY8z6dukZdZVo__2pCGHG0_jA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "666056298"
  }
}
