{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/586246900/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/586246900/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/586246900/8b940747e31147848e7a5f2f15bb36e6",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "DSIgFWKuTuz4N-MNBHoRUBn-AdCF-QUSdO8T_ikfZcT33mi0hk_qT47rQLObUVeW",
          "y": "kSVC3awTN372bmVs6s-tG-xtrewratEkYTFbB0gJ4-UfWqftukbKVt9t9AaYeyy6"
        },
        "attributes": {
          "enabled": true,
          "created": 1612561232,
          "updated": 1612561232,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/586246900/8b940747e31147848e7a5f2f15bb36e6/sign?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "047lVrvwqCmLvhQlzgDuhVfnaEVhOl1fiClG8BzU1UXMcS4ibHT_H7htuC5Jr7f9"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/586246900/8b940747e31147848e7a5f2f15bb36e6",
        "value": "Owua88zkk5i28zspfKU8uneqt3x0KSa4NncwkbR0w2IduQpJS9dsfLc2iffq46YTEbnHi9rN1Zk4Xsy5XCJSisvh1wnEOED0g-wp5nUe_GT5AJX5dknNXmV_whpYJFZI"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/586246900/8b940747e31147848e7a5f2f15bb36e6/verify?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "047lVrvwqCmLvhQlzgDuhVfnaEVhOl1fiClG8BzU1UXMcS4ibHT_H7htuC5Jr7f9",
        "value": "OXfdRIvuvdnJSsWCTrxng2E5xBBdUrjC4FDXE94UTD-0YgmrHLdPyoVPurIB2DcljAAaaE-Wc7MISYoAvY4L0CginGj0udE-0WJUX9taATWG-Ovd46MLDGYesoR9w8oM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/586246900/8b940747e31147848e7a5f2f15bb36e6/verify?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "047lVrvwqCmLvhQlzgDuhVfnaEVhOl1fiClG8BzU1UXMcS4ibHT_H7htuC5Jr7f9",
        "value": "Owua88zkk5i28zspfKU8uneqt3x0KSa4NncwkbR0w2IduQpJS9dsfLc2iffq46YTEbnHi9rN1Zk4Xsy5XCJSisvh1wnEOED0g-wp5nUe_GT5AJX5dknNXmV_whpYJFZI"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "763993958"
  }
}