{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/411107913/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/411107913/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/411107913/88946b5a16d64b23a685b3cf6721cbe2",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "1XTO4iYL_3sfsRxrFJBoB4aPHbGWDTyp34SBRustnZAZMSIgNTQLTP8gge9YVxGU1LWaGQ2A_lDkzDvs4Z48E_s5isFmj7uSQDgfgjA_6ZeE-tOayvdg1Ud0E2x_qhSUKzaBKDuJXrmAqAJkr2Zsb4VoNk9_uRIe7MrWXAIqw4O2fESLt7pWse6o3MZwGs_6onZUgSXBBwCeRsq2skblYMIc5E75z70Y8cF_MjD-NmpMwL0Nf7DBifsANsSsbNJeWfwPkR8ipd99LjMaA8WWky8F3MKn2dp3qmdnlQC3vpp6dYm6rLQLpt8s9oSaD17XwtigutJWkyUTiXkiMQOpoQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1612561297,
          "updated": 1612561297,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/411107913/88946b5a16d64b23a685b3cf6721cbe2/sign?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "bcLeedgCDQsQJWrV5YvWrfIGC4TB5MibOzETRUJMAOx8H1m70Bl7BaKMk0OYNTmlD2b0uAh84l7g6PLvu6cfpQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/411107913/88946b5a16d64b23a685b3cf6721cbe2",
        "value": "PtuwHs4jWTnqXLmMukqTLx1PREX-Df8HECOlFatlpPEFH1TpOt7t7f2NZ3FRX5860nEcd3BpEIuYcss3wtZxBfAkzvvjriQk7BySpQLLLRGoj3u3EuonosDnpdGsGIU54zx-uiQ2dmCg2QxEvPMJbH06EBf_tGXH01xM1Mj6EXPZnZrkBBOyVK6xEkc_Hd9ngynFMHYj6MY5s2CtqASpR3DvSwkK4S1iiMnHvmLgSnl8_lJa2TGGu_MwIbfmvVUMQ0I3YPld1JU8d_JfVQ4d9l8Ag4g83m8Qi1lZTUceI7bBzVwC5fz3Gi2L-A4_V7WWDI1DlX84qNICcUNP8Z047A"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/411107913/88946b5a16d64b23a685b3cf6721cbe2/verify?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "digest": "bcLeedgCDQsQJWrV5YvWrfIGC4TB5MibOzETRUJMAOx8H1m70Bl7BaKMk0OYNTmlD2b0uAh84l7g6PLvu6cfpQ",
        "value": "uSKPpj5DfvCNJB4UkgDsvccy4979guGkIZMCG1WHi0PRHAqxpmT71MjPXh-lDPQNrTuBSGCU1tJ0OGJYaUjAVjycQU-PoDayCyHo-1t90slX09S0EavRcvwXKD93rwXWgGsZ5oEyuwF7DLG5-Xacrt6HyypILOg9nCrV-4En-rIXe3XBxfBrL5x-K0s8qSNcMJjSyJjqaBXNZ2yd_a6zMJlW_WJhGnFvtT_wGL9zfzy-_3vJ_LZkNZb3q2RfnIer02qwa9A68cae2La6kHkku9kETOWBk07odQrghCDr4cWd_SJpLW9NzA24i6f5TwrAZJoC-LWwAF8GZ9fLv9nnPw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/411107913/88946b5a16d64b23a685b3cf6721cbe2/verify?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "digest": "bcLeedgCDQsQJWrV5YvWrfIGC4TB5MibOzETRUJMAOx8H1m70Bl7BaKMk0OYNTmlD2b0uAh84l7g6PLvu6cfpQ",
        "value": "PtuwHs4jWTnqXLmMukqTLx1PREX-Df8HECOlFatlpPEFH1TpOt7t7f2NZ3FRX5860nEcd3BpEIuYcss3wtZxBfAkzvvjriQk7BySpQLLLRGoj3u3EuonosDnpdGsGIU54zx-uiQ2dmCg2QxEvPMJbH06EBf_tGXH01xM1Mj6EXPZnZrkBBOyVK6xEkc_Hd9ngynFMHYj6MY5s2CtqASpR3DvSwkK4S1iiMnHvmLgSnl8_lJa2TGGu_MwIbfmvVUMQ0I3YPld1JU8d_JfVQ4d9l8Ag4g83m8Qi1lZTUceI7bBzVwC5fz3Gi2L-A4_V7WWDI1DlX84qNICcUNP8Z047A"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1129546447"
  }
}