{
  "Entries": [
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1450392634/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1450392634/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/1450392634/e6e9dfcc07c944c591445ae2a7253a82",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "cWEXmCuWhBfjHLGnUd1YXorhTdOBaU8Z2HUsY-BMytzQDZ6YHMSrCugu7T_Fk_ZL",
          "y": "A9Y6J7LhxVL3hAkCS3Cwvc0XQiT1LBzVLAfaTg_OVEYwOXbVIBVOCnqSC59QUtG-"
        },
        "attributes": {
          "enabled": true,
          "created": 1596062681,
          "updated": 1596062681,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1450392634/e6e9dfcc07c944c591445ae2a7253a82?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/1450392634/e6e9dfcc07c944c591445ae2a7253a82",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "cWEXmCuWhBfjHLGnUd1YXorhTdOBaU8Z2HUsY-BMytzQDZ6YHMSrCugu7T_Fk_ZL",
          "y": "A9Y6J7LhxVL3hAkCS3Cwvc0XQiT1LBzVLAfaTg_OVEYwOXbVIBVOCnqSC59QUtG-"
        },
        "attributes": {
          "enabled": true,
          "created": 1596062681,
          "updated": 1596062681,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1450392634/e6e9dfcc07c944c591445ae2a7253a82/sign?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "c3nxyyVrllt5YVg66kzZH56T1dhfyilHgvr4YK04PfWb9ROgIHA4ILnAqWqI__X9"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskv.vault.azure.net/keys/1450392634/e6e9dfcc07c944c591445ae2a7253a82",
        "value": "SNFSpdu1jAS0EAdq8UNCwfAKSz9AZTPDB3dBEkCCUnTU0zevfKn44uH-XKxASru8FsXR3tMez9_NTWln4Ff7moUAOBF_L1lFd3Ae3V79stn7ImeY1jUHXyyJlRcgzQWT"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskv.vault.azure.net",
    "RandomSeed": "1558686543"
  }
}
