{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1857941919/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1857941919/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1857941919/d16651406db04979988e7c8e06b29ad6",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AaUt3Tv_BjA6CpEdAJe41hv9Q_3JM48I9RuWm7IwbhGANyQom9ZSxcr7Ev-5eCASiM2GuW46vciF4ms-DySxaygv",
          "y": "AVC08EZcMJsFGVzOt1c3EEfmrENQbr_Z3gPSzbTEMtc6kVt6gpy0yJQIFJoQkwc_r1fvD4kt6jPgAo_riv9U7397"
        },
        "attributes": {
          "enabled": true,
          "created": 1648056746,
          "updated": 1648056746,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1857941919/d16651406db04979988e7c8e06b29ad6/sign?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "2wwVJC2sXQKB_HjIlEamQDE5jPO50jygdrkNYMVsnyvXJOOVCa2MtVUXOFvKAyZbCkB9a5uO9Uzyv7WECRDEZw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/1857941919/d16651406db04979988e7c8e06b29ad6",
        "value": "AM70wMQA4hjslEbIetDvKsq3xXtxGKNYp_748FUwo5qZ0a_I1kC3rUkGiSL1N2G6FRsUYqeOhxGqsWjINc48fKhsAXPHnva29VvATmWJgPDBzsyKH6Q8LCIwVWA-o_F0-n6ErzftTqk8TmsnsqONTkyLGczEJaZJdgVX2f97zYDubIqA"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1857941919/d16651406db04979988e7c8e06b29ad6/verify?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "2wwVJC2sXQKB_HjIlEamQDE5jPO50jygdrkNYMVsnyvXJOOVCa2MtVUXOFvKAyZbCkB9a5uO9Uzyv7WECRDEZw",
        "value": "Aec_fKA3sadLhE1SlAHHJaKRXFqz-XWobJTeVN4v4dgGNdJzfQBotL148uhoLPl9n7ysXceGWhOG_Z0we_inHyu_AH1YwIAc7t7nzSTRGeXeuNETQ-CuQJWashlWSeC96W2nQSkPHOErqZFTraCPvG_yWwK5yypMNqOHjBPhtiZuznr9"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1857941919/d16651406db04979988e7c8e06b29ad6/verify?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "2wwVJC2sXQKB_HjIlEamQDE5jPO50jygdrkNYMVsnyvXJOOVCa2MtVUXOFvKAyZbCkB9a5uO9Uzyv7WECRDEZw",
        "value": "AM70wMQA4hjslEbIetDvKsq3xXtxGKNYp_748FUwo5qZ0a_I1kC3rUkGiSL1N2G6FRsUYqeOhxGqsWjINc48fKhsAXPHnva29VvATmWJgPDBzsyKH6Q8LCIwVWA-o_F0-n6ErzftTqk8TmsnsqONTkyLGczEJaZJdgVX2f97zYDubIqA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1748770711"
  }
}
