{
  "Entries": [
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1057692413/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1057692413/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/1057692413/124a29e1ae704dd2b8434f6d27e44312",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "VfXec_xZmWChvZnw7c5cToi-lpaSWgD3NBmKwl5gM30KcSNyu8QmdIs8ZvJ9Y41J",
          "y": "bzRQei0-Hr685HBNBlJeyFl_WgsPBKwOnKCmllpEBcjoSVDMTq-9YVWXlMM1Xw_D"
        },
        "attributes": {
          "enabled": true,
          "created": 1626224752,
          "updated": 1626224752,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1057692413/124a29e1ae704dd2b8434f6d27e44312/sign?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "Hl7HpD-qoP0dHAy_VJTINBcla8n2lsuTUeP-Wicv6cDtx4KlCMWxSMXnX60byXFU"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskvtest.vault.azure.net/keys/1057692413/124a29e1ae704dd2b8434f6d27e44312",
        "value": "zG-Lb8YW9wjuI-OQQONdFcu-S4d7CmlbWFMS4NFFa-IAwMZOJDMDBsnTz6i1nedp8nSwuw_rX2S-VCn1upZS_3xk4oygARfv0VZu90svyIVUEXlp1GUGqvLVYgd4xfKr"
      }
    },
[...]
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1057692413/124a29e1ae704dd2b8434f6d27e44312/verify?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "Hl7HpD-qoP0dHAy_VJTINBcla8n2lsuTUeP-Wicv6cDtx4KlCMWxSMXnX60byXFU",
        "value": "cscUoZ9s0EKR6iz2PDsOsMGWt60jDtfvWGFO-CZjS9NaRmnB97BBsBavrt63AI-M8fadLE8s3wfH8XT8_M2-rLgbi2FJ1flLYPBQbo1QrpVJvulkETz8F7pIEUwJlGGR"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1057692413/124a29e1ae704dd2b8434f6d27e44312/verify?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "Hl7HpD-qoP0dHAy_VJTINBcla8n2lsuTUeP-Wicv6cDtx4KlCMWxSMXnX60byXFU",
        "value": "zG-Lb8YW9wjuI-OQQONdFcu-S4d7CmlbWFMS4NFFa-IAwMZOJDMDBsnTz6i1nedp8nSwuw_rX2S-VCn1upZS_3xk4oygARfv0VZu90svyIVUEXlp1GUGqvLVYgd4xfKr"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskvtest.vault.azure.net/",
    "RandomSeed": "1868582795"
  }
}