{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1083009181/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1083009181/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1083009181/b271d11dc85b4e81b171bd708ba05375",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AP6hVmaaQPg5EYhK-q0VaDHVNIk4C1z4aw3S_6iOZO6BzTrxoypJzvo0PPj6iE_43NGYHXrjyo68dLlptPG2c9mf",
          "y": "AHYvwqYGu_O5pAmnwIupSp9cEyrN5Pp_3zQLA4YnQGbbsWsbNFOVdEIHYIi-f2vbMYVDVzlGYOicDxGd1c9TPYkN"
        },
        "attributes": {
          "enabled": true,
          "created": 1677718918,
          "updated": 1677718918,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1083009181/b271d11dc85b4e81b171bd708ba05375/sign?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "5k5m0d7S9vjszwSp3wobDZ3ug4M660V9n-u6OU1PWlwJs05C1nuknaAuJ3e5PpuVfjnVA5U1oEOP-zJX6F7tgA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1083009181/b271d11dc85b4e81b171bd708ba05375",
        "value": "AC6bHUKHTETWogue_lmF-MwJJ7Z4UREMs8yiNfYMEeP9eqTdBAZ_lSom3J86XwF2gMcZ15MzUi2sT8P6J3T3RHdEAbQPxSqyU57cjQVzAB8oQ8cKj_gbl6HCeAwVwY8xj-otssKVhzkywelsdhmcwDAbdH_bJrVQ9bUouPIcSgkP_6iK"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1083009181/b271d11dc85b4e81b171bd708ba05375/verify?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "5k5m0d7S9vjszwSp3wobDZ3ug4M660V9n-u6OU1PWlwJs05C1nuknaAuJ3e5PpuVfjnVA5U1oEOP-zJX6F7tgA",
        "value": "Ab0b_mILTK4nNriE3t8JT9OQuQGX-KkIChvST4osxnolRU98AIt7y_oovHdvu4WL_lVrRCKi8MdGvgZzVlaG-3fzAFsXe9Su-6-lVacCxdWfbJX8KcYVVlkv4LZ0VYKtUNo0dC5VZoNKoNWjGXaCAS5zvSgcVRMjtOgZ9UAtyhk8osHe"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1083009181/b271d11dc85b4e81b171bd708ba05375/verify?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "5k5m0d7S9vjszwSp3wobDZ3ug4M660V9n-u6OU1PWlwJs05C1nuknaAuJ3e5PpuVfjnVA5U1oEOP-zJX6F7tgA",
        "value": "AC6bHUKHTETWogue_lmF-MwJJ7Z4UREMs8yiNfYMEeP9eqTdBAZ_lSom3J86XwF2gMcZ15MzUi2sT8P6J3T3RHdEAbQPxSqyU57cjQVzAB8oQ8cKj_gbl6HCeAwVwY8xj-otssKVhzkywelsdhmcwDAbdH_bJrVQ9bUouPIcSgkP_6iK"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1617971212"
  }
}
