{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1160525122/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1160525122/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1160525122/80169dd0b079479f9f778995ff6249bd",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "swDu_6BfibDICP-IOeo7vfww6MeZbdowo6X3Tg9BeaN6nC0IjhJktaUhzrRpjRYSjfYsN0gb-oqLqhJkCLo3pI4ewT0e3kq7mHDYsJSXvIxmsu8oSOTj8sqfDYlylKDpdB4bwVtxdtZN8dHqdX3yWVeUcDiQTD3oi7ypL8Z9qXGeaP_RJJ_MvTmC4IBI3GTkJ-noFP80VzK0xfCJg6AMNRJYlfCxQHUAWBPCYtFpnST9eyhAVaMn3m4z_yII67yzHDytxbDhemJfx_ZzQrMQWPzqjgM3MSGjkicV4pMaF-hC8SW2ylO4_tXLRN3p4v-7pc1bx_ZeidyRiHbm2DiYAQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1667322921,
          "updated": 1667322921,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1160525122/80169dd0b079479f9f778995ff6249bd/sign?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "5Y8p5_1wGi4Qxa4AOJVe-vXY3Wv9Vt-I3rgctMv-KOxatwvjU-bNlir_iBELKvYr"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/1160525122/80169dd0b079479f9f778995ff6249bd",
        "value": "bbQ2xQ-x_hgaGCzlhnVu24gIpv5RczX7_r5zQ225F3mYN0OlgDCwg4hig9vp5s0mSXcM6yrcgvbd5mfzZq9poc3xhi4QCh58qCgPO_24N0NS0rK7-qKsXw-UOYXL908Osg6WgBnD1-4JSFWJ41FO1HZ5ZGoFdAXkldeUlmM1PSI-eOidGhdYf1zfXW7JMkfHMAbUXLDmGlZZWZKczTLaS-VZ-rt00xcSfURPrRRI4Y-zj6xON_HftGvsdL-8IlP91VBiR7MmINELIiwDwiCJQuIT1PxspUprt_H8PXi5nJMgyKz72Qvj_mucHfHmWxvWyoQ7rrrJIbaLocd9NP-rHg"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1160525122/80169dd0b079479f9f778995ff6249bd/verify?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "5Y8p5_1wGi4Qxa4AOJVe-vXY3Wv9Vt-I3rgctMv-KOxatwvjU-bNlir_iBELKvYr",
        "value": "bbQ2xQ-x_hgaGCzlhnVu24gIpv5RczX7_r5zQ225F3mYN0OlgDCwg4hig9vp5s0mSXcM6yrcgvbd5mfzZq9poc3xhi4QCh58qCgPO_24N0NS0rK7-qKsXw-UOYXL908Osg6WgBnD1-4JSFWJ41FO1HZ5ZGoFdAXkldeUlmM1PSI-eOidGhdYf1zfXW7JMkfHMAbUXLDmGlZZWZKczTLaS-VZ-rt00xcSfURPrRRI4Y-zj6xON_HftGvsdL-8IlP91VBiR7MmINELIiwDwiCJQuIT1PxspUprt_H8PXi5nJMgyKz72Qvj_mucHfHmWxvWyoQ7rrrJIbaLocd9NP-rHg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1160525122/80169dd0b079479f9f778995ff6249bd/verify?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "5Y8p5_1wGi4Qxa4AOJVe-vXY3Wv9Vt-I3rgctMv-KOxatwvjU-bNlir_iBELKvYr",
        "value": "bbQ2xQ-x_hgaGCzlhnVu24gIpv5RczX7_r5zQ225F3mYN0OlgDCwg4hig9vp5s0mSXcM6yrcgvbd5mfzZq9poc3xhi4QCh58qCgPO_24N0NS0rK7-qKsXw-UOYXL908Osg6WgBnD1-4JSFWJ41FO1HZ5ZGoFdAXkldeUlmM1PSI-eOidGhdYf1zfXW7JMkfHMAbUXLDmGlZZWZKczTLaS-VZ-rt00xcSfURPrRRI4Y-zj6xON_HftGvsdL-8IlP91VBiR7MmINELIiwDwiCJQuIT1PxspUprt_H8PXi5nJMgyKz72Qvj_mucHfHmWxvWyoQ7rrrJIbaLocd9NP-rHg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "15587644"
  }
}
