{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/71745023/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/71745023/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/71745023/55467b1b304a47d9ac20c2c7397b3d5d",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "1TYgd_Ogxy6YnvyPkv_unv3wew-KFiUFlAezEiUTyD6g_XlVtTdI5G4nkCGlRszHuzZwqM8IL5Ed5X8MSuU9JnID83CVjI2G_KxZI1b424OvZFCOOquwEpUKurZH22K2scq7HhQGDQebCfuFsVe7ZmkBMpLegSBVPsZZld-z-4u6LKj6r8CDHHxRZoYJ8fk4jQvD3cr1QsqtgMVL0kyckmMb904CjPxC7fVubdWy0aYZHDZ5Hg8lzjPeV-FKn6Flmt_W0s5una98g8zFAgA8OSpyh2gVfXJ2bb1hiVkOG_-63FkF36NOJvhpXO4Y5JhXiOSrLqICo-7cKHD2TU2tLQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1648056735,
          "updated": 1648056735,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/71745023/55467b1b304a47d9ac20c2c7397b3d5d/sign?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "XIdQAne9uYvZjX06ZiUXSc9UUdycWgoRIg6tce2AGUWMCrmnPCF71VIe-H6AdpNR"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/71745023/55467b1b304a47d9ac20c2c7397b3d5d",
        "value": "exrweu0hsqdpSHMK2qYyfiruz75yjGHK24cBHxyAECbuc_0TeBCISfEVfbwQYlmQwhhiUvsBXxSWC08-R1UWjnS46qAfW9OHZ_taiUirVo65rcp6UmdSjC54wbLplto93d8CPD9DVH6IJzaWx1NflnlngLZOGdBZIDGWaBiyHHJ6_AZMK1ZVkam1dCZj1kOtgJuOI3CHSweir-4WozUzFGwLNjZgI0SXLj0oWQxMJZpONYzQ3bOdR7Xj8uBDa7LQoUq3rTXtwF0NGSN345LbcMEQd7nVI1uBVJVbnv1mzO-JI-G3h_DffYi_zRGN8cZqh8RVVbNErSp8IqV4ltsynw"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/71745023/55467b1b304a47d9ac20c2c7397b3d5d/verify?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "XIdQAne9uYvZjX06ZiUXSc9UUdycWgoRIg6tce2AGUWMCrmnPCF71VIe-H6AdpNR",
        "value": "exrweu0hsqdpSHMK2qYyfiruz75yjGHK24cBHxyAECbuc_0TeBCISfEVfbwQYlmQwhhiUvsBXxSWC08-R1UWjnS46qAfW9OHZ_taiUirVo65rcp6UmdSjC54wbLplto93d8CPD9DVH6IJzaWx1NflnlngLZOGdBZIDGWaBiyHHJ6_AZMK1ZVkam1dCZj1kOtgJuOI3CHSweir-4WozUzFGwLNjZgI0SXLj0oWQxMJZpONYzQ3bOdR7Xj8uBDa7LQoUq3rTXtwF0NGSN345LbcMEQd7nVI1uBVJVbnv1mzO-JI-G3h_DffYi_zRGN8cZqh8RVVbNErSp8IqV4ltsynw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/71745023/55467b1b304a47d9ac20c2c7397b3d5d/verify?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "XIdQAne9uYvZjX06ZiUXSc9UUdycWgoRIg6tce2AGUWMCrmnPCF71VIe-H6AdpNR",
        "value": "exrweu0hsqdpSHMK2qYyfiruz75yjGHK24cBHxyAECbuc_0TeBCISfEVfbwQYlmQwhhiUvsBXxSWC08-R1UWjnS46qAfW9OHZ_taiUirVo65rcp6UmdSjC54wbLplto93d8CPD9DVH6IJzaWx1NflnlngLZOGdBZIDGWaBiyHHJ6_AZMK1ZVkam1dCZj1kOtgJuOI3CHSweir-4WozUzFGwLNjZgI0SXLj0oWQxMJZpONYzQ3bOdR7Xj8uBDa7LQoUq3rTXtwF0NGSN345LbcMEQd7nVI1uBVJVbnv1mzO-JI-G3h_DffYi_zRGN8cZqh8RVVbNErSp8IqV4ltsynw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1464504155"
  }
}
