{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/263153996/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/263153996/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/263153996/c12e6e2004fa456cbb5f1d65ea68a6b1",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uMv-yN3YjDFawl8wW1yT3D_xC15LpKKzdxTlBa9uNRaxV5cWMQ51-iFmpqTl9RPz4gaQCm961C5Qgc1HhqNpOHpKmXXH3ZYskl1MzanT9DbnOyZpcAKdAtKlofCJP4t2y5dXgOq8Uv6vcTW-kzCSmfG1z-gwdQv3oIpY9AAzd0QP3BPSYVAwcnGlwMIA0CjXD74nrx-4SFTrgk6K_ZGJdbhW7zvxTNkmuZFxXOFigeTXSLTCYEOnT7Ogh8IH7KUJvs8gI9MIFnQ0zhl7WLu7p9Hr1tPOYcepyVUC2oRRAHYqGA5BSWC_sjC8Af1XISQJOs3Qo13iuYcoV6jAOOv-fQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1648056466,
          "updated": 1648056466,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/263153996/c12e6e2004fa456cbb5f1d65ea68a6b1/sign?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "WzPYGUAPGwsT-v4sAGrCR7Ybk4AsKd5ZCYMpsr38QVQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/263153996/c12e6e2004fa456cbb5f1d65ea68a6b1",
        "value": "pQZLMAdbnQHe3MCypP_TaopmaxIwjMBsiwc3lDy_zkRtI0hoNJVfk5PIcQLjdvQ2ec41SOqtCOEzCyXFv71y7BbjWoDBRglfyyTZ-8ei8A1hHzKpMcr5r45-qs1wuz9MsH6E07qjSgqMa4C8XE6tDpnpNuMLGVA5L7mnFTjuP0LbLNtrHikgy4jUFg2QWt2nAxyRBHPP_RPjv-qu-NNZUyf1l-kQ86PFq4UR0KtPF6VHwO3CuZg6jaBPScbDOm58VloohmbsG_xbZgKgv6zHcPMJ38KHUAMI-l0YpzH9fX6u5Qmun-KdWiniQkV7Py3VRGufdeRKgTVbEe_rDxuooQ"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/263153996/c12e6e2004fa456cbb5f1d65ea68a6b1/verify?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "WzPYGUAPGwsT-v4sAGrCR7Ybk4AsKd5ZCYMpsr38QVQ",
        "value": "pQZLMAdbnQHe3MCypP_TaopmaxIwjMBsiwc3lDy_zkRtI0hoNJVfk5PIcQLjdvQ2ec41SOqtCOEzCyXFv71y7BbjWoDBRglfyyTZ-8ei8A1hHzKpMcr5r45-qs1wuz9MsH6E07qjSgqMa4C8XE6tDpnpNuMLGVA5L7mnFTjuP0LbLNtrHikgy4jUFg2QWt2nAxyRBHPP_RPjv-qu-NNZUyf1l-kQ86PFq4UR0KtPF6VHwO3CuZg6jaBPScbDOm58VloohmbsG_xbZgKgv6zHcPMJ38KHUAMI-l0YpzH9fX6u5Qmun-KdWiniQkV7Py3VRGufdeRKgTVbEe_rDxuooQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/263153996/c12e6e2004fa456cbb5f1d65ea68a6b1/verify?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "WzPYGUAPGwsT-v4sAGrCR7Ybk4AsKd5ZCYMpsr38QVQ",
        "value": "pQZLMAdbnQHe3MCypP_TaopmaxIwjMBsiwc3lDy_zkRtI0hoNJVfk5PIcQLjdvQ2ec41SOqtCOEzCyXFv71y7BbjWoDBRglfyyTZ-8ei8A1hHzKpMcr5r45-qs1wuz9MsH6E07qjSgqMa4C8XE6tDpnpNuMLGVA5L7mnFTjuP0LbLNtrHikgy4jUFg2QWt2nAxyRBHPP_RPjv-qu-NNZUyf1l-kQ86PFq4UR0KtPF6VHwO3CuZg6jaBPScbDOm58VloohmbsG_xbZgKgv6zHcPMJ38KHUAMI-l0YpzH9fX6u5Qmun-KdWiniQkV7Py3VRGufdeRKgTVbEe_rDxuooQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "689723799"
  }
}
