{
  "Entries": [
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/647442469/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/647442469/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/647442469/f265d7d1e36e42ae80090708e8df52d0",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "89k3E-Z0h1leZCW_5DbWQHAKHoGdOK4ixRJFVY3edqTTcrVxhDfOQMFsfEGMGJbX9FWDFklXlpINRDfpfBoxPSKCLnyS4qAghPh8qJ7cf9kLi3V0j_wg64uv6GKbBS06Ph6lTQb59h02icirELYkzgO7nFo57duqNcHz03SEaUK47YvjT6Z10DSzIvJpE2hdmmj31pWCymnYeHtyoaEuoPe-f6iWHd0O7GrgtnoDi1vuBWrr8ew_e8eHpPiJMuq3VGmW8pZu9nY7Y4TgCN85yJBMtp9S78-7HgzV6biw5-LeodrJuhu-WhHsNWJMiByYwafKgQoQP2hfRI5ggNzm2Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1596062671,
          "updated": 1596062671,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/647442469/f265d7d1e36e42ae80090708e8df52d0?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/647442469/f265d7d1e36e42ae80090708e8df52d0",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "89k3E-Z0h1leZCW_5DbWQHAKHoGdOK4ixRJFVY3edqTTcrVxhDfOQMFsfEGMGJbX9FWDFklXlpINRDfpfBoxPSKCLnyS4qAghPh8qJ7cf9kLi3V0j_wg64uv6GKbBS06Ph6lTQb59h02icirELYkzgO7nFo57duqNcHz03SEaUK47YvjT6Z10DSzIvJpE2hdmmj31pWCymnYeHtyoaEuoPe-f6iWHd0O7GrgtnoDi1vuBWrr8ew_e8eHpPiJMuq3VGmW8pZu9nY7Y4TgCN85yJBMtp9S78-7HgzV6biw5-LeodrJuhu-WhHsNWJMiByYwafKgQoQP2hfRI5ggNzm2Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1596062671,
          "updated": 1596062671,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/647442469/f265d7d1e36e42ae80090708e8df52d0/sign?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "PJoSJGa-NPwcF3wBMV17hWSNViGqlWxnzBUMGl6SUdMkUJsFPH_Mbg8WR71C0Sb7JT6pOWqbmlEI9a1k9vU1zw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskv.vault.azure.net/keys/647442469/f265d7d1e36e42ae80090708e8df52d0",
        "value": "3wx5yYGx6dd55uP_YUlLuRg6MhxJjDd0BkM4Km9FmkpOqyeLDAtja4a_uJJY69ujNo2LFp7Qb2918VUZAoQcx7QWbMpdH1fuc23FkQEMilVDw8MBgA3S0pvZcKuSUCcw5ebAPUS0eJpCsaeskiCCBAT8HcrQCqnaVFAXbhq5wn_6GVtvn9Ubl1ZbS12X4-upSlfSMspc-ouNN53zlCNfC8FeN0heMb0gFtXeol8M4dmAu8YWiGWNquEKea1cges-6VTesMPVTT3zK8q5KChvn0tGX1bT47TJIAv9AIOC52eGCw40FHKKWnaPD7FbAnK7PTW3UgcmS8t1-U9Tu5Pg5A"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskv.vault.azure.net",
    "RandomSeed": "592199733"
  }
}
