{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/571472896/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/571472896/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/571472896/238d27f880f84d95bc6c137fe55619bb",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "xGPf_pjmzF95O8S0J0w8l47BInAAXJiff1zC_R9MsIbxrJs66uLjRBnstiM_p3GW9M51Qus9yLqzyg1kboJuQFVY_64_ato0uRGD7mfzUVtQ72ozSz5nj9E785uAPymlNbypv63OrimMya8NuMToKLxjSKRbtkzPt_2tMtI8wB5Vlf7brlgsdjP-ufJXfMjXzsVUSCU6_8v_z_OGZkrTL7QMb2I2Y48Y3BpV4iDhdplVRVwiuY-EXaxoKjizvWNCIGRxWgF3de1N0l9vSixL1Y3PCc3AK7j_EVC1d8zzjLk-dymWbPMDMp6KxwTbLHnJvbbQ-GIaKWZo76pTDrY8nQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1667322907,
          "updated": 1667322907,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/571472896/238d27f880f84d95bc6c137fe55619bb/sign?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "yRUlImc90UsZ9srOceWldwORVdJW_PnZDC7VvzJW-p0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/571472896/238d27f880f84d95bc6c137fe55619bb",
        "value": "uLjXgUXrZYJbcaeQ2Lltp40VHA4K9QGn5cOCbs9F4dhkcpAut1NcLpJQSzS7qy8LljXOMnuI7KeHpREZ7kqao20FuAmd4zpwUq9vpgImeIR8b9h8A3jhygL3jls26qnd0qk38XAw36iiXg7VKDErcWp6r05UrCfPk8REZHe2Gr9SosIJNg219NUGdsPGdeHxECepzetGo3dTEiapmK6-XD6DqgltkudZOi0_BOmKtBwuuwTOFl-DwOauMLWcaivI2c2U9IqCVTbV8jE1bLIZFFzKIlKSXLsJBjG55gvn-8F64ctFi6kYr7vfjNBD2SKYNXfOs9O9rxDctVD361IkAA"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/571472896/238d27f880f84d95bc6c137fe55619bb/verify?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "yRUlImc90UsZ9srOceWldwORVdJW_PnZDC7VvzJW-p0",
        "value": "DSWzXDfZAOwhnJfzq2-5lfrZXcTrYiNrQZV_Qh0ivWU8Z-6nCKoaGBM-qRvHzn98vIZFIH1sU_4Gy3tL2Q4TYDalKRGK5iVbPF6jT_PGmGAFmqKbb7-ZpzKLqLjrcA5gls_zTymgtOZVy0rGzM8PB9fL8pNAq4cxDg_wpVzGOs3n9_SapBL5qIRd546EiKaHDACicTcqA5lZMRhbXMJngBM9tsKGQGgTJBQACu4GDvVTQEP9Q7Hk2MsX-uzAGQTXQXTEShFIOrIT00iapYbJmEbowDuNJcjv-bDRWMU6TanhyqOZrsWP-uwSmp9pQMX4Ff-lbPFljIhxzbxgbxBiDg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/571472896/238d27f880f84d95bc6c137fe55619bb/verify?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "yRUlImc90UsZ9srOceWldwORVdJW_PnZDC7VvzJW-p0",
        "value": "uLjXgUXrZYJbcaeQ2Lltp40VHA4K9QGn5cOCbs9F4dhkcpAut1NcLpJQSzS7qy8LljXOMnuI7KeHpREZ7kqao20FuAmd4zpwUq9vpgImeIR8b9h8A3jhygL3jls26qnd0qk38XAw36iiXg7VKDErcWp6r05UrCfPk8REZHe2Gr9SosIJNg219NUGdsPGdeHxECepzetGo3dTEiapmK6-XD6DqgltkudZOi0_BOmKtBwuuwTOFl-DwOauMLWcaivI2c2U9IqCVTbV8jE1bLIZFFzKIlKSXLsJBjG55gvn-8F64ctFi6kYr7vfjNBD2SKYNXfOs9O9rxDctVD361IkAA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "402395345"
  }
}
