{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1439750328/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1439750328/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1439750328/a0a1884f4e0f4ed782af48097913c0b8",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rdITRUjIdTMUJYgnLeVqXe62oV9r5i-dQIkrWSqme_-jdfw9Un0wEJC1PPaW7XThR-7VaO3S-gDH8p9sr201ycrsfwU82rHKwBmEa8SA73Jm3SilahiTRUbAH5K8DPcSjz26hj--4CN3Zx1v6BGfNiXNJJLefdmLEGkpoxKdE77BN0kTO-9JuYbNhQiMN09lfNvp1jNuVn_pDgdWzsFtKCU6eeK36VhzEJ-KQa2v5ggMIf6KFT13aBit9w2QF3GhivVg3QYzsUqA_GYL1xOdRuTSSW3y-54afdPidqbjJM9KALsvzIXKnNHzsSe8zdifbItZ84tYBnBBzBUasYgYJQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1667322891,
          "updated": 1667322891,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1439750328/a0a1884f4e0f4ed782af48097913c0b8?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1439750328/a0a1884f4e0f4ed782af48097913c0b8",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rdITRUjIdTMUJYgnLeVqXe62oV9r5i-dQIkrWSqme_-jdfw9Un0wEJC1PPaW7XThR-7VaO3S-gDH8p9sr201ycrsfwU82rHKwBmEa8SA73Jm3SilahiTRUbAH5K8DPcSjz26hj--4CN3Zx1v6BGfNiXNJJLefdmLEGkpoxKdE77BN0kTO-9JuYbNhQiMN09lfNvp1jNuVn_pDgdWzsFtKCU6eeK36VhzEJ-KQa2v5ggMIf6KFT13aBit9w2QF3GhivVg3QYzsUqA_GYL1xOdRuTSSW3y-54afdPidqbjJM9KALsvzIXKnNHzsSe8zdifbItZ84tYBnBBzBUasYgYJQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1667322891,
          "updated": 1667322891,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1439750328/a0a1884f4e0f4ed782af48097913c0b8/sign?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "eGKnbmx5_OoM2hsqN-NErBEYVBws3Pp7COTfQAK46DRbYSf2-eZ8t7z6t2A1x_S5zmaQimit1smBQY-DcYo_bg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/1439750328/a0a1884f4e0f4ed782af48097913c0b8",
        "value": "IIeduex2Sm2ND5z5y_rtJJVRTTuZj4OtyLvcI_Fn0L_LUAUHwORz56UNlVSKouNq92bdsCc_0iA_tXuQ9xsBBRBNsEZ7olusWTdjQtdBnuof3bLV6WR6-cjuM9uASFnbygFxYaosPPUG3Sq_QvHMx3KVStVt-07Pu6RJWhAPjFGrp0U02oJ7UoEbx--3C6A7g64ArbvW3yNgpOHc1IGm3kGUjgODqwFfbjLAH4iT2y3K6QRwOhDmxBCQNbmyiqaw5LlZpZwOtmj1preU1Ji-uKYgwODtPzvjWvATvdv5CPqdiHEqSY9JeDVWxePKopvH3zEVQgY9Tdlv6o4I9b03SQ"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "93439714"
  }
}
