{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/880373818/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/880373818/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/880373818/1e2fea8b66d54b688cac6139442a846f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "1VgjbjuG-po8YqxiAB-1afloz8qF8lY8sAdtNnmwNXocaKTGWioBvtC5RjvmqPDp9TwHzLVIUBMVhXKDIGXUB4BlI3mpIscfu0IPvxS0qhT69OTRK0n0iJCmlpwC0JOtHP733nlZGTfYF4pFlQ0DGJtyMFmzBJaJYJMcRc8bYcl4ko77WBytKZe9MuVSwosXqimSY_4oowG6zrJ3n0kbUe0u_3EckCu5CL2lumF3H3nVUssE4yNCJlnjZWpvd_l-wfDzxI0O4KB__SPKaCJPSGw2hfUWWsb5Rn-iqHPlbJI2ef9W3fW1hoANg5yTRHoRJCdIJpZ8a_oZx2pXgEM3qQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1667322963,
          "updated": 1667322963,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/880373818/1e2fea8b66d54b688cac6139442a846f?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/880373818/1e2fea8b66d54b688cac6139442a846f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "1VgjbjuG-po8YqxiAB-1afloz8qF8lY8sAdtNnmwNXocaKTGWioBvtC5RjvmqPDp9TwHzLVIUBMVhXKDIGXUB4BlI3mpIscfu0IPvxS0qhT69OTRK0n0iJCmlpwC0JOtHP733nlZGTfYF4pFlQ0DGJtyMFmzBJaJYJMcRc8bYcl4ko77WBytKZe9MuVSwosXqimSY_4oowG6zrJ3n0kbUe0u_3EckCu5CL2lumF3H3nVUssE4yNCJlnjZWpvd_l-wfDzxI0O4KB__SPKaCJPSGw2hfUWWsb5Rn-iqHPlbJI2ef9W3fW1hoANg5yTRHoRJCdIJpZ8a_oZx2pXgEM3qQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1667322963,
          "updated": 1667322963,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/880373818/1e2fea8b66d54b688cac6139442a846f/sign?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "DuKaqxMQiuSOqqKRNUmW-8yqwms4X3G0oUzqF8UsaAUc-wSpFBfK1w15B3k0q7VvzG2z2N05b1eADwa7lFwbUA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/880373818/1e2fea8b66d54b688cac6139442a846f",
        "value": "qkJ4E0SMNrL8MPTJVUChWNPUW_w-bplBeTCVBSqRLVacLhFdCcRtoXm5T_G3Ju1btRB3JvmESeCW2eXP2x37zLrLA0yzvXTWN6OZSPc7bXkCWgmgAv3IOymqhqmWL2C-QFO00o1fiSp7XakZFJqio8kOnNSxaohoLYn1H6pUCJyaUERxMQ9WygDa75RvePAAeEEDnMCYNNsx5afZoDkfqn0M6OCQ-zaiNI8VfxIj917mZQLMvMTh6sz3L9g-aZV6PMqFFQax8SsX2VptwrWcZ8pktGAY5FPHuS1KXT70K7TjZMDahoAZzjYjF3mNWyZkDGC_mo4D2olOCY73IeUSVg"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1406616800"
  }
}
