{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1028975899/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1028975899/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1028975899/09a1478de4dd49cd93be4d20eaeb760d",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "urx3s2RRU3HVGfL9J5Z-VQBm4fsoPBke_TCwWKaCmzXdbMK-jnbgfAMnDOY3XKD-ws5wMiU0wcKgd-QLZa3B0otBLrczSfiDdQP_DDV9eELSaoxBra7z0WXB7PIK5wB9mbfzOWamrqQnlvVXXXhY-8tO2mMRdbgnlew36A4U6RMGOEGc1C1YrukWO3z_VWk18Zl0UzDzRS2osRO4MspQMk2R84GK4Rbd1avfl7Vp-cXPLrkRBSLaTigg1PFJms7zRh0EHmRcWheM52Fy2gXahZ5BTsPx3wapyeKNmHsAycdGOtoFbkfwFboaNQKawZ7j2vz4SnFzYcIhvE2M3zDulQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1667322919,
          "updated": 1667322919,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1028975899/09a1478de4dd49cd93be4d20eaeb760d/sign?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "OIKuw3VnkgSprHMwJRsErXzREsHfvMCbzW2AKk4OnBI"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/1028975899/09a1478de4dd49cd93be4d20eaeb760d",
        "value": "c6eZONJ07gZ4m03sUnWUt6rpPXh4R1Xdp7L1P-kP_BgH2Diazlgn8qgsNAtZfUiGrBV1WndhtxgcF5qae6gtVRgKniNZ8VdM948BGa7uEkl4bGd2Npfly-43IMdwfr8cdBQvvyuiAttwXhX_OyiLsh0MoYLlbio2gNPqCo0Qllho7AW9aoFfnrJXNLnnWkIQMn0Vl5APRSWATjyKAQfRKQNNETYT4KxstSqqChKdHBxbsV4hWzFak_5bUohJAl77Fl-1hM7etk74pTIpqnmQM_kx9l6bT9nO97Y6YEFF_Joc3dc7RQR91NrYzCcyac4bLSvgIXawKbWcBGZXayPfIQ"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1028975899/09a1478de4dd49cd93be4d20eaeb760d/verify?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "OIKuw3VnkgSprHMwJRsErXzREsHfvMCbzW2AKk4OnBI",
        "value": "c6eZONJ07gZ4m03sUnWUt6rpPXh4R1Xdp7L1P-kP_BgH2Diazlgn8qgsNAtZfUiGrBV1WndhtxgcF5qae6gtVRgKniNZ8VdM948BGa7uEkl4bGd2Npfly-43IMdwfr8cdBQvvyuiAttwXhX_OyiLsh0MoYLlbio2gNPqCo0Qllho7AW9aoFfnrJXNLnnWkIQMn0Vl5APRSWATjyKAQfRKQNNETYT4KxstSqqChKdHBxbsV4hWzFak_5bUohJAl77Fl-1hM7etk74pTIpqnmQM_kx9l6bT9nO97Y6YEFF_Joc3dc7RQR91NrYzCcyac4bLSvgIXawKbWcBGZXayPfIQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1028975899/09a1478de4dd49cd93be4d20eaeb760d/verify?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "OIKuw3VnkgSprHMwJRsErXzREsHfvMCbzW2AKk4OnBI",
        "value": "c6eZONJ07gZ4m03sUnWUt6rpPXh4R1Xdp7L1P-kP_BgH2Diazlgn8qgsNAtZfUiGrBV1WndhtxgcF5qae6gtVRgKniNZ8VdM948BGa7uEkl4bGd2Npfly-43IMdwfr8cdBQvvyuiAttwXhX_OyiLsh0MoYLlbio2gNPqCo0Qllho7AW9aoFfnrJXNLnnWkIQMn0Vl5APRSWATjyKAQfRKQNNETYT4KxstSqqChKdHBxbsV4hWzFak_5bUohJAl77Fl-1hM7etk74pTIpqnmQM_kx9l6bT9nO97Y6YEFF_Joc3dc7RQR91NrYzCcyac4bLSvgIXawKbWcBGZXayPfIQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "573944456"
  }
}
