{
  "Entries": [
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/386456308/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/386456308/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/386456308/cd4dc449c8834889bda18cf7ce988c38",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wpubeObSHY7lBBi2hAPpUgFKSjI55HUU-ZRmZDH_e9O8kfkiSWMe4YT-5w0nZc-0amExEtLx2VNLyAITwgJplLLzfJtbJXY7smyx54zcSusMKjkjNhSfw6ZGDW8yZ5Rw4tJ5b6sylPCrg_tAw0cIH9b9ininpw47vK8RyQ3sxPGSJUbo2jML_QmPsYQ77Y1uFsgiufRcNJtcIBUXS6OBIllHF_0kRsChjXk1eIn05hwuZcFhp8fOpeZR44tIGtD5rZh9EuHpP-B_1KBVAHcgzHaaRVSamPEKvZxc-5QriltbQ1rirBksCy6cE1ArIsRuajbefdgOjROwvz23WWNfHQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1626282324,
          "updated": 1626282324,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/386456308/cd4dc449c8834889bda18cf7ce988c38?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/386456308/cd4dc449c8834889bda18cf7ce988c38",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wpubeObSHY7lBBi2hAPpUgFKSjI55HUU-ZRmZDH_e9O8kfkiSWMe4YT-5w0nZc-0amExEtLx2VNLyAITwgJplLLzfJtbJXY7smyx54zcSusMKjkjNhSfw6ZGDW8yZ5Rw4tJ5b6sylPCrg_tAw0cIH9b9ininpw47vK8RyQ3sxPGSJUbo2jML_QmPsYQ77Y1uFsgiufRcNJtcIBUXS6OBIllHF_0kRsChjXk1eIn05hwuZcFhp8fOpeZR44tIGtD5rZh9EuHpP-B_1KBVAHcgzHaaRVSamPEKvZxc-5QriltbQ1rirBksCy6cE1ArIsRuajbefdgOjROwvz23WWNfHQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1626282324,
          "updated": 1626282324,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/386456308/cd4dc449c8834889bda18cf7ce988c38/sign?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "Q5kpT4dAfiZ7VWOyIOCGgYv6FjF0AotIYTLAQYBA9jZWUG7OKeOfXo0kRrEWlwUS"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskvtest.vault.azure.net/keys/386456308/cd4dc449c8834889bda18cf7ce988c38",
        "value": "D0ayE1PkdknakL4UqfoH_vMkxXR1bC9flzHv45Mk45aekaTXp0oEZK3j1MlYyOAqJy8SNDaQNHxu0nj5L6C3qFdhT2j40ohVHhRsSFn8LcPLiyFj_OjUqsbWUb9ULftZrBcJ6WryGklFQ0pxP1BW64V2YuvpUwPQNz1bk_7bsegTCEj2-_-ZjURs9opY0vNiETHbpMMZzEOdIaJpeXPKqiNDKkcWayocaviesE5y3R9T6r5MoGs22LC8v8eC9DFD8hm3lxiSPjebE_exxPfnOSXnlcfwdWar4xqEqVYVrlv6ejhBp7UUYpSQDohDUw3xlsgzX4ElHA8Y7jWCUZ1iOA"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskvtest.vault.azure.net/",
    "RandomSeed": "621971908"
  }
}