{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/211856007/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/211856007/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/211856007/9b53a46f9fdf4acb8a0f4dd8650f1cc5",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "7aexogU9JuXDLF_vmcTZy81Q1AJqDVFBAAZCnMreWNhh5MCAMlekPWtWsH8JUhYdUXFkCtY5Fyji649Y4Opv7u3tcv5xBRFml8JC5GOSnX-GgTmJTfHXr0cZpdQTHE2vV7n8j0d_J5VPA9BAqy4RlUPGjKDJDFopTfkhHjOx8UU2bkeI2nj8fSZU6nUBChA0uIU4Q4TFHK_gVbIwDm0PyOODRaIDNdiOwsFdD8YGBaZNrXDSpIEoVd0eoYeQ2qE1KOui2OFh5efveUzS1kGRjk01Ttg-CgWKUWU5TF2zMQ9DudMYtcdOxNmQww73QIIVHti6aWUnBRPZZ4d0KUeJEQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1612561264,
          "updated": 1612561264,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/211856007/9b53a46f9fdf4acb8a0f4dd8650f1cc5?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/211856007/9b53a46f9fdf4acb8a0f4dd8650f1cc5",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "7aexogU9JuXDLF_vmcTZy81Q1AJqDVFBAAZCnMreWNhh5MCAMlekPWtWsH8JUhYdUXFkCtY5Fyji649Y4Opv7u3tcv5xBRFml8JC5GOSnX-GgTmJTfHXr0cZpdQTHE2vV7n8j0d_J5VPA9BAqy4RlUPGjKDJDFopTfkhHjOx8UU2bkeI2nj8fSZU6nUBChA0uIU4Q4TFHK_gVbIwDm0PyOODRaIDNdiOwsFdD8YGBaZNrXDSpIEoVd0eoYeQ2qE1KOui2OFh5efveUzS1kGRjk01Ttg-CgWKUWU5TF2zMQ9DudMYtcdOxNmQww73QIIVHti6aWUnBRPZZ4d0KUeJEQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1612561264,
          "updated": 1612561264,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/211856007/9b53a46f9fdf4acb8a0f4dd8650f1cc5/sign?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "-HwHUMtM4lCO823ytbr2LfOTpGWdnLFAzeiVX-PCDXE"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/211856007/9b53a46f9fdf4acb8a0f4dd8650f1cc5",
        "value": "Pgdgbf3Zl0If8hwgVqkxSzxM-zEGBJ1nGOldWFU084utAZ-ZLWsBrbKlIvruy6oJoR54Nyn2SNcsa1Lks91UGW3TTwezu5zMmsl7xdqU7glb6_pshgGL7yEj8SckTnosyt_CseWg2gEcIk51nNsh_N23qPeeUV2lcFw7scxHyM-EkXM3PFSH2R2KIGlyd0hth4h9cx9KbC9eM_ymFwlFZXgaNVNUh07ISz07OEX9rXm7gBN9j1lqConO2m6HlNaNtG6bADite83FW63_KtnX5GCOcSR-ftTk26d9XEVodJB7yv1YhPb8O6UX5FgAWuZuuCPg9_GMucGt2y7c_EFytA"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1997648929"
  }
}