{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1466363485/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1466363485/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1466363485/1e8a742322e042428fd8163d3df9d8b4",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "pbuTMHOg0aOlzeMc5qEYnOqEaXG4xerBxRkk4Auu5WM",
          "y": "W6gJmrh4B8q4n7QfnwbbGJmh7upc-h-78VZ3K8tZAEQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1648056492,
          "updated": 1648056492,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1466363485/1e8a742322e042428fd8163d3df9d8b4/sign?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "XEAOrm6AUtYloxiKlY0_SqsLPBd65DsxBquPi43PgmU"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/1466363485/1e8a742322e042428fd8163d3df9d8b4",
        "value": "7aBN3AzJsypZ0BpA6uRnBL8Gjjvl6PtQh1rvkNtmbwVND_Lvr5oMfg9liTcc39gw6D6W12MZfGmuou21ZjtIUA"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1466363485/1e8a742322e042428fd8163d3df9d8b4/verify?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "XEAOrm6AUtYloxiKlY0_SqsLPBd65DsxBquPi43PgmU",
        "value": "y3FKPv5bCJUZyMad2FS1woqLUplPygst8jBy7GQqAfKp_nRlYMgakG-BUTCqFQZ2GlZQAw1Bdj0fCKRf5s9_4g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1466363485/1e8a742322e042428fd8163d3df9d8b4/verify?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "XEAOrm6AUtYloxiKlY0_SqsLPBd65DsxBquPi43PgmU",
        "value": "7aBN3AzJsypZ0BpA6uRnBL8Gjjvl6PtQh1rvkNtmbwVND_Lvr5oMfg9liTcc39gw6D6W12MZfGmuou21ZjtIUA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1669564700"
  }
}
