{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/23090845/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/23090845/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/23090845/412b77d6dc744a67a5a47d29216a21e6",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "qu9iu3HWurUO6Cu-6_COX7UMqT-5CQpvQE2jFxpHN_TsjBRy-sxY6OvjIESyPBO5hyHI5zg7yl_7sm-U_s5sgzN5N395Gz8qG-ThrYpJeipH3fl0z5HrT5kcbDaFfeW6sZs-9dOA3GouDqMyYJP1DIgXKQ7LSMHxNOGy19pMct-NcbELioJfqg4tUcjIITiKHZr5SSJw37y7CwaqNuHGJBmBIYLiwxyLISwD0mV5Hle4MWLH5Bnm2xG-oYtBLsvZ1B7fmfu56mEBXhbby6DxLj3ltQvtaEaslUColKfndJPBTrfa-t25opwakDQ4kYznji7hK2pNk_mCNpG9sXTubQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1677718861,
          "updated": 1677718861,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/23090845/412b77d6dc744a67a5a47d29216a21e6/sign?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "sMKjsKYM8z5M9zmdhTebMgrJeM3EtS5yhP7jrvWm5oCBU88ExlglCRDggD4Z9Xm-RvSPn6MokzkAzGW7DBwNyA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/23090845/412b77d6dc744a67a5a47d29216a21e6",
        "value": "i-3Gb8tEt10-dmce_faMqeMV12ngV8z6HqPAJY_dOEwSbwtmAE-Q9sO3fhfqSaZGT27xX0KSOXkuajSVECvrB3fD-dFYfNpjqmX6qGHkzAt9IzuEFG08yJGWjNJ-t0x-Fqs83SpdLxuvYNf7ra1UYL44HlmbCVyFreUvqLd8P60BQSKWzAgfg2ipvGCIJnE6W-eas76T8ktrsS5DQxWe9YoZnXCqxo8Z92rRhhQhyx73UMB00K5_bHOYZaJK3YQvsW054IaGqY_RU5jjlob0IgdiQ1Tn2vIDeBhDb__v1B7K5ul96TaD6qkCrrtxqk6NZUVAMkfDBkLGWkKaXezp-g"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/23090845/412b77d6dc744a67a5a47d29216a21e6/verify?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "digest": "sMKjsKYM8z5M9zmdhTebMgrJeM3EtS5yhP7jrvWm5oCBU88ExlglCRDggD4Z9Xm-RvSPn6MokzkAzGW7DBwNyA",
        "value": "i-3Gb8tEt10-dmce_faMqeMV12ngV8z6HqPAJY_dOEwSbwtmAE-Q9sO3fhfqSaZGT27xX0KSOXkuajSVECvrB3fD-dFYfNpjqmX6qGHkzAt9IzuEFG08yJGWjNJ-t0x-Fqs83SpdLxuvYNf7ra1UYL44HlmbCVyFreUvqLd8P60BQSKWzAgfg2ipvGCIJnE6W-eas76T8ktrsS5DQxWe9YoZnXCqxo8Z92rRhhQhyx73UMB00K5_bHOYZaJK3YQvsW054IaGqY_RU5jjlob0IgdiQ1Tn2vIDeBhDb__v1B7K5ul96TaD6qkCrrtxqk6NZUVAMkfDBkLGWkKaXezp-g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/23090845/412b77d6dc744a67a5a47d29216a21e6/verify?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "digest": "sMKjsKYM8z5M9zmdhTebMgrJeM3EtS5yhP7jrvWm5oCBU88ExlglCRDggD4Z9Xm-RvSPn6MokzkAzGW7DBwNyA",
        "value": "i-3Gb8tEt10-dmce_faMqeMV12ngV8z6HqPAJY_dOEwSbwtmAE-Q9sO3fhfqSaZGT27xX0KSOXkuajSVECvrB3fD-dFYfNpjqmX6qGHkzAt9IzuEFG08yJGWjNJ-t0x-Fqs83SpdLxuvYNf7ra1UYL44HlmbCVyFreUvqLd8P60BQSKWzAgfg2ipvGCIJnE6W-eas76T8ktrsS5DQxWe9YoZnXCqxo8Z92rRhhQhyx73UMB00K5_bHOYZaJK3YQvsW054IaGqY_RU5jjlob0IgdiQ1Tn2vIDeBhDb__v1B7K5ul96TaD6qkCrrtxqk6NZUVAMkfDBkLGWkKaXezp-g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1782906538"
  }
}
