{
  "Entries": [
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/740480559/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/740480559/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/740480559/d453eb06ceae41219fcd0732c88776ba",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "3vhUQh0YaEOyI-qU0p_cPuB936NREEQ7vBHEq5TI8TGXw54vddJeP3AvbxTEgKu5CcsTQu3sko7q0Qkzz_cglKNa04SCveu9LC-xfpcqIYRRzk9J7KV_hSZCxwPr5mr4Z-1PDBWvmtUjL-cENBmbsTCnmiU8-2Sea6x6NBUwtcHjDJEPPASEpW3CfxmFMRtVjnKUwJrzTLhAiy06WG8KoI83gsDqQwbQtOsz7r0KyKCFbK567LwbQQRTiV3dN3J4Va1ibx1ikjlaiBh01rAxwk2i2EMsF9tGlQs8XsHhjctgFy9wMuca_GD8ISaJR6PYEGUO3qk4cMiHEgJZXlQGDw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1596062566,
          "updated": 1596062566,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/740480559/d453eb06ceae41219fcd0732c88776ba?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/740480559/d453eb06ceae41219fcd0732c88776ba",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "3vhUQh0YaEOyI-qU0p_cPuB936NREEQ7vBHEq5TI8TGXw54vddJeP3AvbxTEgKu5CcsTQu3sko7q0Qkzz_cglKNa04SCveu9LC-xfpcqIYRRzk9J7KV_hSZCxwPr5mr4Z-1PDBWvmtUjL-cENBmbsTCnmiU8-2Sea6x6NBUwtcHjDJEPPASEpW3CfxmFMRtVjnKUwJrzTLhAiy06WG8KoI83gsDqQwbQtOsz7r0KyKCFbK567LwbQQRTiV3dN3J4Va1ibx1ikjlaiBh01rAxwk2i2EMsF9tGlQs8XsHhjctgFy9wMuca_GD8ISaJR6PYEGUO3qk4cMiHEgJZXlQGDw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1596062566,
          "updated": 1596062566,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/740480559/d453eb06ceae41219fcd0732c88776ba/sign?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "Y66wIxLCMTF79BVAuBFYaxYas7iozSvxTYR3Tth1a5VYZKo_gKC_SQ6JzyG0SH8R98M9QexfBG4-ZSDZb0QDvg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskv.vault.azure.net/keys/740480559/d453eb06ceae41219fcd0732c88776ba",
        "value": "sprZJ4d_KOH-VuuXq5oVoYRWh6CqzSiKs2fVagyUG8EOjLh0eThH1rV7O9z2iqhaIaalyzVgTLOrLJUr96k7d8qAFAsgLdMylao-5Aj5OMzrMF94IKxXa-30yQozgna7eToYQb7AMUOst8s9uDT7fL1bC98nShh6H8q_5fzbTERJ1QSX1sLGn3RE3HOUyC3P_-yAoLr80o4qgD9iCku_N3ZmnhQ6jHH2SNTeFhXc8lXxNljy0zViFvwgKdh2DfS8Khe6yFWVmSBaZnlnK9Rj6xkxIL69FyrqViajpAVdD_TH0wBzfI3QG4-mxhpFQqivFMss9eoUrKeIkLPfyLzMXg"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskv.vault.azure.net",
    "RandomSeed": "779201106"
  }
}
