{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1720913983/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1720913983/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1720913983/bad453aaf438402e8314c58f6ec24eed",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4ZA4Xeq2Ms9N_PsIaH6vqgLMlUVv8a4rCOA4NPafaXEqIxewZcvfngrL6Oi0onAJ0dRN7XtjefMTdl_aCSR58sQflxzbiJci_0N7jxp1Khz_WkqZHe-RML7ZEalPPUjsw8-DFSby9dk9OSFTkevQqiBJ9pIwB58MghSkmHJYMpAI2uArwMxqyQfDa_qI2D5eRmLWgFeSAaVm-62Euy3VbssCfEawUIxlV-Zve5MGmwqRPX_7GfSSvZKrHkDdxpgGzltvPd2Y8UDndzWnqI5rNLyXWpLw6ShHusWXUl4QRQ8ym6Ga2h47CDrPrkJfdPNHaQJmBnrJF-_1M8le63i6uQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1648056738,
          "updated": 1648056738,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1720913983/bad453aaf438402e8314c58f6ec24eed/sign?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "G7xJ5gDPJvVyD7OkLna1k1kh0fyT_HnaVm8ygy4lcvs"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/1720913983/bad453aaf438402e8314c58f6ec24eed",
        "value": "GM3QXsY_Ft6NeX12-k4p2z4lqkumSavkvYydIvPgxX-oQhmO57--fZGSFpiBRIv7nhKzvK9Mr5dLQWjJdKMgOelIHt-1cm7u0B32tQqsx4JiDz8aI-zme0DQ9779WfM_a3Szo4UyKF8xTQBdVOQkfzjvezlGqWceSC1yQOhSQjldJQDeM3YlNapUil0Q4mKjst1KgeSdY6W25HUchjS3v9DDrUqfJg111yXqmk0Zv_KD9f8TlOIeg8WGvVd59Dt_1LayrCdg5jZ3pio_fsi_VApD24-gkppqwa96p6drFFg2FGPnREMQzW7z-GO2Nk71nhqCeJ4XB3w5bAt3JSAMDg"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1720913983/bad453aaf438402e8314c58f6ec24eed/verify?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "G7xJ5gDPJvVyD7OkLna1k1kh0fyT_HnaVm8ygy4lcvs",
        "value": "HPUzsP2DVbyvxHY-H34qtG7bCBYOma_8y77yMDagcZ5mBsxIL83Rwk2rDSvb5yKU4mP0rKRMUskyVnVKBtUytk_uHHmIPDwKyDCMqJOfUAFdYXsiQdMdTJ60LdS2J7YFHiglwbfqeOdam2DcG9bjS9rXZjVilJ1ZqWcaUbLcWkBlbn6RKYlw6CbV1R1FnZ-h4UMogbnB_sLyBUW2B-XE07whhLKlsb4ek4ZL72NuwMSXZOZi3rX6wvO2SJCLvpRFJFnMIBfjA5zbxIF-XlquNy6YP3XMf-DG4vkynbMb1a4FIvIwqNI-RIlNFGAFoPXUa4hBGGeH5Ie4raCaFfkraQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1720913983/bad453aaf438402e8314c58f6ec24eed/verify?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "G7xJ5gDPJvVyD7OkLna1k1kh0fyT_HnaVm8ygy4lcvs",
        "value": "GM3QXsY_Ft6NeX12-k4p2z4lqkumSavkvYydIvPgxX-oQhmO57--fZGSFpiBRIv7nhKzvK9Mr5dLQWjJdKMgOelIHt-1cm7u0B32tQqsx4JiDz8aI-zme0DQ9779WfM_a3Szo4UyKF8xTQBdVOQkfzjvezlGqWceSC1yQOhSQjldJQDeM3YlNapUil0Q4mKjst1KgeSdY6W25HUchjS3v9DDrUqfJg111yXqmk0Zv_KD9f8TlOIeg8WGvVd59Dt_1LayrCdg5jZ3pio_fsi_VApD24-gkppqwa96p6drFFg2FGPnREMQzW7z-GO2Nk71nhqCeJ4XB3w5bAt3JSAMDg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "895211006"
  }
}
