{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/400203247/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/400203247/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/400203247/a3c85739fc434239a0600dcb4540f493",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "o6z9SsgjRa0fAgP-5Xq4ZZcpnm2TPBzJPI4p1FkWzje5yDcue_mjX87sTd3VUfrL1RfaJS1rZ9gB8p0UXpi4di-RoUiRtLE9dvXEPBVSvXlphJyfxD6pN-SYA-hO_Z_OO77fUJFbPGbCWbJtzoKKl9l1V_bZxdh3LBGY0Lxpy0z2zNWayWSPx9-iHnM47Z9O0CpsDudn00wGAZoE4ubx3dYjbu-glVcuke-r8bKCE0UfJ0cysgRM50WGidplHOztZap7NUqZohv6A0zssCyzkMG8f6I2uf1O_vowPZfH7-k4Kwqrp5UEnD14Z6nm5HFC_TCzLJfoi9dA7vwuOk5YIQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1613812811,
          "updated": 1613812811,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/400203247/a3c85739fc434239a0600dcb4540f493?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/400203247/a3c85739fc434239a0600dcb4540f493",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "o6z9SsgjRa0fAgP-5Xq4ZZcpnm2TPBzJPI4p1FkWzje5yDcue_mjX87sTd3VUfrL1RfaJS1rZ9gB8p0UXpi4di-RoUiRtLE9dvXEPBVSvXlphJyfxD6pN-SYA-hO_Z_OO77fUJFbPGbCWbJtzoKKl9l1V_bZxdh3LBGY0Lxpy0z2zNWayWSPx9-iHnM47Z9O0CpsDudn00wGAZoE4ubx3dYjbu-glVcuke-r8bKCE0UfJ0cysgRM50WGidplHOztZap7NUqZohv6A0zssCyzkMG8f6I2uf1O_vowPZfH7-k4Kwqrp5UEnD14Z6nm5HFC_TCzLJfoi9dA7vwuOk5YIQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1613812811,
          "updated": 1613812811,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/400203247/a3c85739fc434239a0600dcb4540f493/sign?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "HVkh-_dM7GHrKZa9mC9pjVyzlPAgfuXAfTG9qrcPb-TaegAWrJwGZH4vfyAuoIOm"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/400203247/a3c85739fc434239a0600dcb4540f493",
        "value": "AYHj9vqugwIyHdE4y1gZ5shg4ekjvm0drWcsLJBsFRRN-VQlalz3eHNdIAdM0c6vVFgTPRCepcYS9RHdV4aIDdUZ2PRAIq4S6InaBuGd2y5lTUueGs4Uk92sEXRb6YkI4W3FlJ8onlktEqDnZg7Z0FjSOBPoNE8DDbuOXDbG2k8fjrVVwsgnS_4Nn1dxVvQmYrUFEMz2HOO1I_n7VYBDqClmBP_Ucr8NUozt6iyy03oCGCXRRvMpZnIZsm3AiYPJrG0b_V6sc3-jxDKGUolav6vAMS6M6xxvM57_oEHCjzfvmC_kA-fkg1ehGaBp5ZbYz4TPjeA6_WBHSukNVLVoOA"
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/400203247/a3c85739fc434239a0600dcb4540f493/verify?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "digest": "HVkh-_dM7GHrKZa9mC9pjVyzlPAgfuXAfTG9qrcPb-TaegAWrJwGZH4vfyAuoIOm",
        "value": "AYHj9vqugwIyHdE4y1gZ5shg4ekjvm0drWcsLJBsFRRN-VQlalz3eHNdIAdM0c6vVFgTPRCepcYS9RHdV4aIDdUZ2PRAIq4S6InaBuGd2y5lTUueGs4Uk92sEXRb6YkI4W3FlJ8onlktEqDnZg7Z0FjSOBPoNE8DDbuOXDbG2k8fjrVVwsgnS_4Nn1dxVvQmYrUFEMz2HOO1I_n7VYBDqClmBP_Ucr8NUozt6iyy03oCGCXRRvMpZnIZsm3AiYPJrG0b_V6sc3-jxDKGUolav6vAMS6M6xxvM57_oEHCjzfvmC_kA-fkg1ehGaBp5ZbYz4TPjeA6_WBHSukNVLVoOA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "2031903793"
  }
}