{
  "Entries": [
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1416643590/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1416643590/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/1416643590/cd72cefc6716411281a85154e9af719f",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "ADpRfZGl_WBZyzeOLnburqa2SaINuuHpfnJcZZjItQo7QPqzRBjsiwEXhyBicb9pzZNN5NnqgeY6jnGYuhoN0jkh",
          "y": "AQvvCnS5FhYDa9hVtmSVuJstdI16B7Ybjy-3AzxgxSLbWnHenBDkowZUqqnHqVFp1pxRNnB06XI_sEQDmdvPGeB1"
        },
        "attributes": {
          "enabled": true,
          "created": 1626224739,
          "updated": 1626224739,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1416643590/cd72cefc6716411281a85154e9af719f?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/1416643590/cd72cefc6716411281a85154e9af719f",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "ADpRfZGl_WBZyzeOLnburqa2SaINuuHpfnJcZZjItQo7QPqzRBjsiwEXhyBicb9pzZNN5NnqgeY6jnGYuhoN0jkh",
          "y": "AQvvCnS5FhYDa9hVtmSVuJstdI16B7Ybjy-3AzxgxSLbWnHenBDkowZUqqnHqVFp1pxRNnB06XI_sEQDmdvPGeB1"
        },
        "attributes": {
          "enabled": true,
          "created": 1626224739,
          "updated": 1626224739,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1416643590/cd72cefc6716411281a85154e9af719f/sign?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "k2EIkqXsW-5hODSebT_gPhqX7NcHD4BoMo6k6qbxPnI4b3C_5Uhj-WcWIsO6D49sZddyd2ZY6IYMqa6X4ufmzg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskvtest.vault.azure.net/keys/1416643590/cd72cefc6716411281a85154e9af719f",
        "value": "AQKMHgiKsYDoWxVI7ArRpYP8GANLORjswMxcWzaT0BqtkDCfvIgql_RyIpO4V-GF2e493zbTkc7S7CEBYhDDCpU-AOnM85zuVk42QLXQsjS6zMlqPssyGRs2G8d97rwTqpPpxD4BFQ7Ih7ASAbdwf6nI3zGF-xUut6fcnyhBWHZBP3tg"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskvtest.vault.azure.net/",
    "RandomSeed": "340682002"
  }
}