{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1387564047/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1387564047/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1387564047/3e0b466734cc43d9bbd2ce3ff0fc1955",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "w3PMTl2NxRkrzYf8RI22mZeHvY0D7mnhpBJ6rJ3NoXlJjrFz6jQ0t4yLHERKAbGo_x4eT1jceqQrOLO0aKLhd4uOUqV3DWt5VZdykuMejRJIzBk87eHUhf8poXT97DJO8_hQorqlCOt_GSVoem8jyZoCnfFiBTeuozO6jl0hYaIyh7Uc2iMwD7ybzEc70ySoMzS_4p0uqqCxSenW9DWFyOJEXIyJEPqcrsP5-o3uw2hNXkkkbvsHWiLT3_VHUT74zKZ25wohIBR-_2gAdLiGjph9elYfqXQodQkeKWeQMrRc0ox_hlMC20Ut36_QwwuxuwJfzxvezDjkAxPinbZehQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1667322975,
          "updated": 1667322975,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1387564047/3e0b466734cc43d9bbd2ce3ff0fc1955/sign?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "WCgP0xpKBKPSzONG7BetpFZpQmvZqHYsbg28MrLdycU"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/1387564047/3e0b466734cc43d9bbd2ce3ff0fc1955",
        "value": "aYt8P4jUIIEUPYz6AbfNdRjQ0lSU5k35CDYHWO7w54uL-JSnkL-PFU22jEleEvLQE27XwciWfC3hFhFM65iTtC0NrvNt4zetOvYOxO7FYnWQzpUBhYPDmPSjTuSihYoIuQTdVRcB4JqaTXEdNwxAzq6D-PY0JIICklIdVcozHfZRQtEjjWYtQruSONkgqWe9uUiZDz4a2YaZ14D2qiriZAQgubBhs65lwVA27hKNRgUmju0oZMSz-gcXVabrgBkl0iCUGiUDHI-CxljUOa19ASwoEgvmS9qp8v8G8O8T-3hhzyX7zYOqrCAvy2NGE7RHGNLOeuNR2sNfYfX5Exr5rw"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1387564047/3e0b466734cc43d9bbd2ce3ff0fc1955/verify?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "WCgP0xpKBKPSzONG7BetpFZpQmvZqHYsbg28MrLdycU",
        "value": "L5eJMVgfaEfiT_jhQtiSHLl1ydTE5PVzai5GPAF74XyB-UfIHztisVptoIKuowxStHSsgOUy214WxTT6CiPwV02gHJ2j7IX5sC0E6lWHUgb-pn1_-URMPsmIHoIyh-tEEjGlci1JtMqFF-TBDqguDFTTwsIq-u2S2Ypg5cVcc524vsnjbMa7zYTyZzEg9MWwtYtqowmgKkyGBWM58hNYIZTKnNZlqU0GzkN6Q6p-OYJ-cCRU7j_GwkHHEjIoP8-lkISe7Ur_8P7QLEVYeDoQNeW3wQCMZziAl1GjmJNL91LdevFKMTnHadGUTqsVWiy7Pss6frtbx4fWp4A9iTag3w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1387564047/3e0b466734cc43d9bbd2ce3ff0fc1955/verify?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "WCgP0xpKBKPSzONG7BetpFZpQmvZqHYsbg28MrLdycU",
        "value": "aYt8P4jUIIEUPYz6AbfNdRjQ0lSU5k35CDYHWO7w54uL-JSnkL-PFU22jEleEvLQE27XwciWfC3hFhFM65iTtC0NrvNt4zetOvYOxO7FYnWQzpUBhYPDmPSjTuSihYoIuQTdVRcB4JqaTXEdNwxAzq6D-PY0JIICklIdVcozHfZRQtEjjWYtQruSONkgqWe9uUiZDz4a2YaZ14D2qiriZAQgubBhs65lwVA27hKNRgUmju0oZMSz-gcXVabrgBkl0iCUGiUDHI-CxljUOa19ASwoEgvmS9qp8v8G8O8T-3hhzyX7zYOqrCAvy2NGE7RHGNLOeuNR2sNfYfX5Exr5rw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1684929589"
  }
}
