{
  "Entries": [
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1930028727/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1930028727/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/1930028727/b41eb2f5bbed4fd5b7b797071997e806",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "pMyEcRw_1ORk7wZFElBe6mxGkYzAZX3vQaExvsD6bNc",
          "y": "ZTUzDVKHKhfJbQJPnxixBU2NuQUkYji5EsCh5PbG9pc"
        },
        "attributes": {
          "enabled": true,
          "created": 1596062573,
          "updated": 1596062573,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1930028727/b41eb2f5bbed4fd5b7b797071997e806?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/1930028727/b41eb2f5bbed4fd5b7b797071997e806",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "pMyEcRw_1ORk7wZFElBe6mxGkYzAZX3vQaExvsD6bNc",
          "y": "ZTUzDVKHKhfJbQJPnxixBU2NuQUkYji5EsCh5PbG9pc"
        },
        "attributes": {
          "enabled": true,
          "created": 1596062573,
          "updated": 1596062573,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1930028727/b41eb2f5bbed4fd5b7b797071997e806/sign?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "bvJIXxkfvOB8FJ6Ny_eN-0clVA_Q2-94rR0DcSFfvWI"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskv.vault.azure.net/keys/1930028727/b41eb2f5bbed4fd5b7b797071997e806",
        "value": "BSv2iFGY3UV9r2vd4Nh0bZyZMirgs3ZqBak5DkUlRTSHZxM1vuJBIp1OThelJwxQlIYk9KXgIzVhGh6d80SaJA"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskv.vault.azure.net",
    "RandomSeed": "1275484746"
  }
}
