{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/47006897/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/47006897/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/47006897/059ba45827b24547b80fa8d801dd0739",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zaI287cixiHVrAKJpISP65a9rnAKg1CQyHtk9kYtesZjnsdiEYRUOSogNLo9_G_uJA470EqNbq5B75y3E3NpUZnGT11BD7T7Y3ClyR4pPTDnXROxQGHKVoFLET_chCUrXoo82fp-jJsaL6Q5FvMfYOlHHEu5EWcfXpcjNiP7F4TaDvX4-VuK3dV2EDqP799dac4YF6uKcmM2VE72BYP0qH3Bppg1VVnen1WEqcD9mve9MzvZ-WtUSdAUowDYIRMGuNzg76tLTBq4HhrDqmKy5Q8DilnhfGUn6zYyx3daWfjlCA8tWLmPz3M3f7AbbK15RkIOywQ3b43RnQ07eqy4HQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1677718910,
          "updated": 1677718910,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/47006897/059ba45827b24547b80fa8d801dd0739/sign?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "fCj6gyibpx9XFcV3JXaWkr1Ly-RAcKlcCG-DNkik-hA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/47006897/059ba45827b24547b80fa8d801dd0739",
        "value": "hhEfVhWAdSc3diw9jbQ-M9csIm-In_ppk__eGxfNENHhqIgDuP48WQelcoXpDnK5WcFSSQHdd0xiJkV-JxVpWT2BJ94oMJVlu9wTN3mOwv-f6j4KZ3YGPfdD5-4E4d3c33M6RyGWdVauFrigpRxaHuoUdsay2ieGVpDwPWzcQ1sMvEtVWMuHgCCjwUpzimwM1pJJ2dCWR_ZdBdO5yrSh6YT7nVibDc-sfqj4QoBYN03Uemz8AewfJ2-vSKM2Sc32cFYbVYarSYgQWSjypH6bgqaIQWbWvPQ3Y-HLhTn5Of2A7Hd2NOU2EAZLYo2rdTZcbYTkO7wT8Ee92N5wRgM-ug"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/47006897/059ba45827b24547b80fa8d801dd0739/verify?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "fCj6gyibpx9XFcV3JXaWkr1Ly-RAcKlcCG-DNkik-hA",
        "value": "ytniuWgNaZUv_F4469Bq8llChj2cA2_3WD_2UshNdC9BbOCcekwlnvEEEji7jsiw-r_PaupUDXwyTQ-jEn3Il6jqrkvBNvY9HvcLZDrTtVx9_3fATJEMIx6Q8S7gRZOlY9FPlMv_wZP30EPVSimf3Nwq96byngNHZ3p9CDkikr92dk0-6-bVGeV5HKJ4gCw9--UVbEqqaoKj1ufxQQsq5kQJSZELZCLgbinpMJ6rfiqir-3dGaWES0_SRn9I7gPHXjgEYRotMzjftG6a9_ckz8HY2ANxoz3YxvBRh02eklnd_hbrJVhWD9PJKcf5395rnA8vK4F_i0P9p1m9NvIQnw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/47006897/059ba45827b24547b80fa8d801dd0739/verify?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "fCj6gyibpx9XFcV3JXaWkr1Ly-RAcKlcCG-DNkik-hA",
        "value": "hhEfVhWAdSc3diw9jbQ-M9csIm-In_ppk__eGxfNENHhqIgDuP48WQelcoXpDnK5WcFSSQHdd0xiJkV-JxVpWT2BJ94oMJVlu9wTN3mOwv-f6j4KZ3YGPfdD5-4E4d3c33M6RyGWdVauFrigpRxaHuoUdsay2ieGVpDwPWzcQ1sMvEtVWMuHgCCjwUpzimwM1pJJ2dCWR_ZdBdO5yrSh6YT7nVibDc-sfqj4QoBYN03Uemz8AewfJ2-vSKM2Sc32cFYbVYarSYgQWSjypH6bgqaIQWbWvPQ3Y-HLhTn5Of2A7Hd2NOU2EAZLYo2rdTZcbYTkO7wT8Ee92N5wRgM-ug"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1112159236"
  }
}
