{
  "Entries": [
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1057692413/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1057692413/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/1057692413/c79150017a6b40e6920f46d8b7b39913",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "KnIKXXd4Lux7u1JNLZyeoqOXvUEi5fClY4TECWbIOzSBuVPYCb46gjV5ymD_6lf8",
          "y": "wfzq5pFsnFv5gC4oVKKyuM2OnG9gDpa3dl7s4TLell2rALPRvg1U37SAAs3Ba8aM"
        },
        "attributes": {
          "enabled": true,
          "created": 1596062593,
          "updated": 1596062593,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1057692413/c79150017a6b40e6920f46d8b7b39913/sign?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "Hl7HpD-qoP0dHAy_VJTINBcla8n2lsuTUeP-Wicv6cDtx4KlCMWxSMXnX60byXFU"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskv.vault.azure.net/keys/1057692413/c79150017a6b40e6920f46d8b7b39913",
        "value": "d7n3DOvjrM6eCsVu9zGly_wBcsc31qsAhOlo6UfLj-PEmeo_s_-wt84Jau2SDODGGYO8lDqUuZL26e4MM_-TVHgZ2duDNOSt0KxcO5feGTQF_q4CTWcNAKOlDSIMslBk"
      }
    },
[...]
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1057692413/c79150017a6b40e6920f46d8b7b39913/verify?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "Hl7HpD-qoP0dHAy_VJTINBcla8n2lsuTUeP-Wicv6cDtx4KlCMWxSMXnX60byXFU",
        "value": "eZn_oW_4Zsl3v_FF8IJF42saTD2m3Fgtzhal3bamSVVta4YA5oaoiPUawc6VMZMDcOyA_5ObeNFAQ3Vb52Ge5Ed-ODIrDOmcoJx5asP6gJmsTcwooOELqsajTbHTxuSN"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1057692413/c79150017a6b40e6920f46d8b7b39913/verify?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "Hl7HpD-qoP0dHAy_VJTINBcla8n2lsuTUeP-Wicv6cDtx4KlCMWxSMXnX60byXFU",
        "value": "d7n3DOvjrM6eCsVu9zGly_wBcsc31qsAhOlo6UfLj-PEmeo_s_-wt84Jau2SDODGGYO8lDqUuZL26e4MM_-TVHgZ2duDNOSt0KxcO5feGTQF_q4CTWcNAKOlDSIMslBk"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskv.vault.azure.net",
    "RandomSeed": "1868582795"
  }
}
