{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1058485656/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1058485656/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1058485656/f596a66fc85542dea509db8c7312f3cb",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yV7O6gQJxkiKbIYM2iHxAuI33VXT4N8sWU4iPMm_5CpHnrTbE41njNO9cKOdJjdalKhoc-fOp665royd5zOXRW7PjOEwrWmR5BXNikgheWp9JYY-lgP1KIV_LyikaLns27pw5DZ79UjxQh7sZpv5128d3CQQJCotroisZ38tI5ogUDqfGOJhfWgYiYPcQ-tbRDbsd5Dat0JJWS2CBFd_MzOq5PL-T7woOTOVwOk8M0BaTzTEvOYSee6dkoW-RUPQs0w6NhxoMAg-MMSPt3SOJkU5MrNsBTl3UzLMYTqOSrhJQnKlpZaIVZuKbL8EDmAHTRiSIqALn81KqpD3BM6GJQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1677718892,
          "updated": 1677718892,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1058485656/f596a66fc85542dea509db8c7312f3cb?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1058485656/f596a66fc85542dea509db8c7312f3cb",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yV7O6gQJxkiKbIYM2iHxAuI33VXT4N8sWU4iPMm_5CpHnrTbE41njNO9cKOdJjdalKhoc-fOp665royd5zOXRW7PjOEwrWmR5BXNikgheWp9JYY-lgP1KIV_LyikaLns27pw5DZ79UjxQh7sZpv5128d3CQQJCotroisZ38tI5ogUDqfGOJhfWgYiYPcQ-tbRDbsd5Dat0JJWS2CBFd_MzOq5PL-T7woOTOVwOk8M0BaTzTEvOYSee6dkoW-RUPQs0w6NhxoMAg-MMSPt3SOJkU5MrNsBTl3UzLMYTqOSrhJQnKlpZaIVZuKbL8EDmAHTRiSIqALn81KqpD3BM6GJQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1677718892,
          "updated": 1677718892,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1058485656/f596a66fc85542dea509db8c7312f3cb/sign?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "Lj2Dajy4nz9KdnkronD2TME2kS8y-qIvTlS8xVHq8IU"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1058485656/f596a66fc85542dea509db8c7312f3cb",
        "value": "O2IiGEZINOmqndkahgI35GA93hUWJuIHhfPfKoVBUcJOUAS0Ks6j8zazPxPNIg87VpbiEQzbH2g5FuaUPqju2XIUooE79aq5qoLq9EEei7zwI4GPYBkIfs3f8_2SLJFxbyL-hXkKGUdrQyTi3fFZXI8r0lz-IkvwCA3podmYPYovOZfanRV2aijBzm3z0zOPeHo27o2BUnym0s2O9Wt4kl9Ezn56q9nGMeu6CGLqbYPPSXQe2OTUcvdtmcXvjOXAJUMwsSeUjaGRPxQ2MU5U7Y2BW7z9sC4xmM876e5LFvrAw8Vba8GU5gnMjYamg6GwgzyPtBBYMF7L0OiAwn92vw"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1816879127"
  }
}
