{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/419012479/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/419012479/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/419012479/b3ad1a33ffa14aa9892e45879a7be102",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "oWoUDoin54xpEWdCR4qYrXWv69dWLc4Ps4_R6m9zjqH02wn3MMnI9cwBQ-Qj8SKYf2BQIrmqtuMI7yobgs3IxUrv5ksRiKu8DAKtIvS9cvU5VoBxPoQT3rLXcr68KsJqvkATLAo6Z4ZJmRSbumFknUgA-cU_hz42pujFoyNlKuiZOWpK2gaKSZRc5BpI4ytj6w0zJcHQRtlKdUevKfSj8TRys8i265ClC3p2ghvcIOBRIyGHqxY7eIF5rC1vAcCPbpttGQrnDSdeDmph5mq7k5p5eA3LD5O3-8IdthgAAR_awI1tE5aj3z9xjkChnRY3JfeVOW5D3_JXtglG57u4-Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1677718863,
          "updated": 1677718863,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/419012479/b3ad1a33ffa14aa9892e45879a7be102/sign?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "PC6R6vcgCCXwjVYjKihfoQGH_tupJaXl2KCKbyd_mw8"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/419012479/b3ad1a33ffa14aa9892e45879a7be102",
        "value": "CQo__EXfOVXn7GrSNz0nskIhGU-NuK6UxISN-nvqLS3bOGpNS4PTMDUjcZ5rj1UyX9ljxL7F8ut6_I46dlUo7zpsIIG4easr7HOT1pZJPW1gqmA0kgAKKxBvcpDqKfCArO-Z5a4ENnBR6pu5gWC0aHcjrnKTngxgn6bCsmQeXVH29bfvEmw1776VJoYGzt1l4hIMR2yIfnyjjnms_mrETKYMlzvYc45R--kGXUMEwjUFSaht8-w9ipWCO77o6zgdQ0tszz4q6BrOxY41YQmEfHi-rBt-Ejzg7_SXfPc4Q5WjMzJSL46XjchLS25X_zI0Dz1k48cxop6RFnZ13hv45Q"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/419012479/b3ad1a33ffa14aa9892e45879a7be102/verify?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "PC6R6vcgCCXwjVYjKihfoQGH_tupJaXl2KCKbyd_mw8",
        "value": "i7E0EjIUTTLetKoJ3i7YYFRO_VHz1xkG8LnRC73OX9A-oMTBHr42GnTiZrA9ttEp7sNGPRZrvFr7OXZD2pdOtBW-vxJgdSsRbYKjsIDCM6KH_OiuaW2tTSuqIqlGHOinTQSRor9st2nVjkYdW37o471XIe5ppNTeNAtlXkmRVWWTRqTm1VtvkWAtR8tTBWgadEU56aCmVV8YrwoGAeSizk23vntXoC_R0uSbz2ul6_9STbXdVD19tpijpB4EiNDx7Kqv_3UIlRepyMs4o4yrpXDWPIVznspNKZ5by7WgEErdolH_UU2wDvSUh6xmzJf4JtBRZBaeEIt2GBEOx7QNPg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/419012479/b3ad1a33ffa14aa9892e45879a7be102/verify?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "PC6R6vcgCCXwjVYjKihfoQGH_tupJaXl2KCKbyd_mw8",
        "value": "CQo__EXfOVXn7GrSNz0nskIhGU-NuK6UxISN-nvqLS3bOGpNS4PTMDUjcZ5rj1UyX9ljxL7F8ut6_I46dlUo7zpsIIG4easr7HOT1pZJPW1gqmA0kgAKKxBvcpDqKfCArO-Z5a4ENnBR6pu5gWC0aHcjrnKTngxgn6bCsmQeXVH29bfvEmw1776VJoYGzt1l4hIMR2yIfnyjjnms_mrETKYMlzvYc45R--kGXUMEwjUFSaht8-w9ipWCO77o6zgdQ0tszz4q6BrOxY41YQmEfHi-rBt-Ejzg7_SXfPc4Q5WjMzJSL46XjchLS25X_zI0Dz1k48cxop6RFnZ13hv45Q"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1775471734"
  }
}
