{
  "Entries": [
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/805731832/create?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/805731832/create?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/805731832/5a986d2380fe4dffafaf7cc95a3e4b92",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tA1g6drpN_riXwfa_S_NiLCTnmM1-m2cc9oUAsZG3kU5JGhpB0V07n6q9DaXogTIs6F9WFcw6Z_p7EPzx_KSyRrPJ2H3Ssd_rCISxwVKYzNXbsnZudyMVScjBKzrEkV427j1imIKGjsCnPILHTpymDdB-MEQfFoOQ4A7gFGkUwSsjWMcjvkb7zUqg7iE7xtM6X2-2HSbCNIipuN8896hjXqTd6dWnJJn81vxiZhQjvArxl9RyehcHEstBBv09wrK3nhQ3hM6i-yLzg4jErpWilnSw7_tWsKrLlUl6rk0dutE75x3BMCHXxK6POmM8ss_v3AgDpKVsQtTqUiOu67bQw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1569259834,
          "updated": 1569259834,
          "recoveryLevel": "Recoverable\u002BPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/805731832/5a986d2380fe4dffafaf7cc95a3e4b92?api-version=7.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/805731832/5a986d2380fe4dffafaf7cc95a3e4b92",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tA1g6drpN_riXwfa_S_NiLCTnmM1-m2cc9oUAsZG3kU5JGhpB0V07n6q9DaXogTIs6F9WFcw6Z_p7EPzx_KSyRrPJ2H3Ssd_rCISxwVKYzNXbsnZudyMVScjBKzrEkV427j1imIKGjsCnPILHTpymDdB-MEQfFoOQ4A7gFGkUwSsjWMcjvkb7zUqg7iE7xtM6X2-2HSbCNIipuN8896hjXqTd6dWnJJn81vxiZhQjvArxl9RyehcHEstBBv09wrK3nhQ3hM6i-yLzg4jErpWilnSw7_tWsKrLlUl6rk0dutE75x3BMCHXxK6POmM8ss_v3AgDpKVsQtTqUiOu67bQw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1569259834,
          "updated": 1569259834,
          "recoveryLevel": "Recoverable\u002BPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/805731832/5a986d2380fe4dffafaf7cc95a3e4b92/sign?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "g34Hs6ja-8A_n4PWMLgOuWXrKhIE5l_YX5LlWXuDGPQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskv.vault.azure.net/keys/805731832/5a986d2380fe4dffafaf7cc95a3e4b92",
        "value": "R7eLs2rSnY2p1d0bPzaD7R6smRm0WXFVJunTQfpMdXXiUXelLUY_PTiarqCqYd5EX468xlM43tHU7-9MUvHUNBL_R-XV5mB3ayGqeRBdn7dbU6l1JGAukj26sMti1dLbrECI-WzYfjQjiYZV66orA5eKfXQVXd_leEm_PfgCgcauSRq9dXFAHJdglDS0DW1zD1DTW7xJAxbB7wq8YmTgm6X98iuYzaxmcwWPs0Op21inCIRrhyRCQrrvJs58GQk3K_hKcmmHcgi18hSltG1KNx8l28Kj_0Obg6ekxqR8WBL668WcLVN-CHicLx3duCBlARLXbXZYgZgVzMQ_GXm0Kg"
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/805731832/5a986d2380fe4dffafaf7cc95a3e4b92/verify?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "g34Hs6ja-8A_n4PWMLgOuWXrKhIE5l_YX5LlWXuDGPQ",
        "value": "R7eLs2rSnY2p1d0bPzaD7R6smRm0WXFVJunTQfpMdXXiUXelLUY_PTiarqCqYd5EX468xlM43tHU7-9MUvHUNBL_R-XV5mB3ayGqeRBdn7dbU6l1JGAukj26sMti1dLbrECI-WzYfjQjiYZV66orA5eKfXQVXd_leEm_PfgCgcauSRq9dXFAHJdglDS0DW1zD1DTW7xJAxbB7wq8YmTgm6X98iuYzaxmcwWPs0Op21inCIRrhyRCQrrvJs58GQk3K_hKcmmHcgi18hSltG1KNx8l28Kj_0Obg6ekxqR8WBL668WcLVN-CHicLx3duCBlARLXbXZYgZgVzMQ_GXm0Kg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/805731832?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://heathskv.vault.azure.net/deletedkeys/805731832",
        "deletedDate": 1569259835,
        "scheduledPurgeDate": 1577035835,
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/805731832/5a986d2380fe4dffafaf7cc95a3e4b92",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tA1g6drpN_riXwfa_S_NiLCTnmM1-m2cc9oUAsZG3kU5JGhpB0V07n6q9DaXogTIs6F9WFcw6Z_p7EPzx_KSyRrPJ2H3Ssd_rCISxwVKYzNXbsnZudyMVScjBKzrEkV427j1imIKGjsCnPILHTpymDdB-MEQfFoOQ4A7gFGkUwSsjWMcjvkb7zUqg7iE7xtM6X2-2HSbCNIipuN8896hjXqTd6dWnJJn81vxiZhQjvArxl9RyehcHEstBBv09wrK3nhQ3hM6i-yLzg4jErpWilnSw7_tWsKrLlUl6rk0dutE75x3BMCHXxK6POmM8ss_v3AgDpKVsQtTqUiOu67bQw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1569259834,
          "updated": 1569259834,
          "recoveryLevel": "Recoverable\u002BPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/deletedkeys/805731832?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskv.vault.azure.net",
    "RandomSeed": "583995548"
  }
}