{
  "Entries": [
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/846917584/create?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/846917584/create?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/846917584/42da0602bb774a518b5500869a629170",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "t27SLRSuHhBXYeJGzyrYdWqKAn81x3YzhjGgeZeumCZQX4slWIBm1HszcQjDAUeEW5J0g3zDQ4q6EsidJ9V30IpDnL6FxcNEa-mPh60PrzmG-Ih85EpkcMFKNHYb7Vr5D4Vrsi42x-TmqreeTS0PUjsvAmohgJERDt-GlakhWxcgQ15oUaTbPawMWN81CBJYkUSBIy-i8H2b5dWz1ibLWKc2yDA1h8vKpvCpztSAhS_XeC54hwPgiMcm-38skOj0MCKIBSAohB1A64I50tG0MtXegqoczBwgkTLOAsC3Mn2q2NLZQ20LePTz45Fi-xqXuykfqliHOJ3IEE0ETUzBUw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1569261162,
          "updated": 1569261162,
          "recoveryLevel": "Recoverable\u002BPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/846917584/42da0602bb774a518b5500869a629170?api-version=7.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/846917584/42da0602bb774a518b5500869a629170",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "t27SLRSuHhBXYeJGzyrYdWqKAn81x3YzhjGgeZeumCZQX4slWIBm1HszcQjDAUeEW5J0g3zDQ4q6EsidJ9V30IpDnL6FxcNEa-mPh60PrzmG-Ih85EpkcMFKNHYb7Vr5D4Vrsi42x-TmqreeTS0PUjsvAmohgJERDt-GlakhWxcgQ15oUaTbPawMWN81CBJYkUSBIy-i8H2b5dWz1ibLWKc2yDA1h8vKpvCpztSAhS_XeC54hwPgiMcm-38skOj0MCKIBSAohB1A64I50tG0MtXegqoczBwgkTLOAsC3Mn2q2NLZQ20LePTz45Fi-xqXuykfqliHOJ3IEE0ETUzBUw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1569261162,
          "updated": 1569261162,
          "recoveryLevel": "Recoverable\u002BPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/846917584/42da0602bb774a518b5500869a629170/sign?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "gddnS-M-ohjGeeKweVZ7pY8MDHbY7x348_7ovdvWsrk"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskv.vault.azure.net/keys/846917584/42da0602bb774a518b5500869a629170",
        "value": "iowyP0yMzjs-SVpUxLPUOcEBZ-c3491bd293fV4LbjuU5Ro0-EJUHiSpz8oSiKYP83_hVMGprGEaQ2AGTV2d01_RzTHIZ-EXsjDGDPQcdVWXYemCQSneNtiICeZSHTlt1NYMgLoPmRdhDd_Va2MZptab3G8Z6GR3E0gBXSiKLZNZ8WW4FeY8P11RS1US2RgBXrRdHH7Zlov3fw6RE1oQ787MPrjJBwn9tdQlEf3NsYGVA7AR8bLHtCgw7yuokGxJjPRXMfQQoG6XIT-EYcqEwRb2VKU5K1PcCBomIWkpTCupoqkOlkI-ubjYAkHZsmKlLp9MI4xJ-cGU03lah0cwtA"
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/846917584?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://heathskv.vault.azure.net/deletedkeys/846917584",
        "deletedDate": 1569261163,
        "scheduledPurgeDate": 1577037163,
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/846917584/42da0602bb774a518b5500869a629170",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "t27SLRSuHhBXYeJGzyrYdWqKAn81x3YzhjGgeZeumCZQX4slWIBm1HszcQjDAUeEW5J0g3zDQ4q6EsidJ9V30IpDnL6FxcNEa-mPh60PrzmG-Ih85EpkcMFKNHYb7Vr5D4Vrsi42x-TmqreeTS0PUjsvAmohgJERDt-GlakhWxcgQ15oUaTbPawMWN81CBJYkUSBIy-i8H2b5dWz1ibLWKc2yDA1h8vKpvCpztSAhS_XeC54hwPgiMcm-38skOj0MCKIBSAohB1A64I50tG0MtXegqoczBwgkTLOAsC3Mn2q2NLZQ20LePTz45Fi-xqXuykfqliHOJ3IEE0ETUzBUw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1569261162,
          "updated": 1569261162,
          "recoveryLevel": "Recoverable\u002BPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/deletedkeys/846917584?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskv.vault.azure.net",
    "RandomSeed": "52953959"
  }
}