{
  "Entries": [
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1092530618/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1092530618/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/1092530618/bfddf800853549d6b80f343be9c5d1ff",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "onxhh4HWq_TsyeEF9k8LlPUDsANHN1Uq0HRU9f9kz9nlHlVNHWW3ylVd1H9TK-1ztOH0FOYA2gji8WCS9tEQd1mf5GPvLfXgtGtPViDnUxE2pJB3A2YRP3h2DE0RAYVCiBVo3G2vrKII946IdJN5SXLgkRg2W5reVWMJnN0udyXoPGkRlvgGzfSr2kLSaLF03214GbZwNxrYdF73NZzoCnoG3NCBSoJo4lEdkOQuvXIHnKZLWIketts5bH0qmFUI1gc9WTFAH02Sk78gyLAhNfs2YTqt1M9Pk9e4zMzAXGbiGyhz17Drgc0kLnBd6fIQdoSoejiQXFXhlwL3i-HVwQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1626224946,
          "updated": 1626224946,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1092530618/bfddf800853549d6b80f343be9c5d1ff/sign?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "6Gax6swF-GUjTss4Lm-oaBHdrRPFTUrWYivXbCCyoUx2RGsRsQlq_3lfFAd26IM3nfJ1i96iIyNLduSJssqWtw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskvtest.vault.azure.net/keys/1092530618/bfddf800853549d6b80f343be9c5d1ff",
        "value": "BCH-m5x0KhdFVlsgop_MNLI5voKRlTIAJ3BeLpX-GaDz3RCd83PtGeCPyKRAXZmjAxrzbGV5foxqCFZ2le3v6ZFqUxaiqHDFUOkFUAzqpbfF0fPlCxZImvSTUkIqk8L8xw1pToVK2ce-qzr91SIizDhqAX3S8H7uiZpTPulLjNcYbQDALBX2Ke_iSZwALF0jTfw4KtJEVnQeCaC_FJYjDfTz2o0i63cG2jOroB9WEk1NVBgjcW8JgNZEa7m25IP3jqJU-5Q5nZFfQYBlymCw1yUpALf4tOaXq11BJ2kh4Q9jhkpjjpfsPSNEOUDsF1dZv567Ne-upotnvnRmsmCkKg"
      }
    },
[...]
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1092530618/bfddf800853549d6b80f343be9c5d1ff/verify?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "digest": "6Gax6swF-GUjTss4Lm-oaBHdrRPFTUrWYivXbCCyoUx2RGsRsQlq_3lfFAd26IM3nfJ1i96iIyNLduSJssqWtw",
        "value": "BCH-m5x0KhdFVlsgop_MNLI5voKRlTIAJ3BeLpX-GaDz3RCd83PtGeCPyKRAXZmjAxrzbGV5foxqCFZ2le3v6ZFqUxaiqHDFUOkFUAzqpbfF0fPlCxZImvSTUkIqk8L8xw1pToVK2ce-qzr91SIizDhqAX3S8H7uiZpTPulLjNcYbQDALBX2Ke_iSZwALF0jTfw4KtJEVnQeCaC_FJYjDfTz2o0i63cG2jOroB9WEk1NVBgjcW8JgNZEa7m25IP3jqJU-5Q5nZFfQYBlymCw1yUpALf4tOaXq11BJ2kh4Q9jhkpjjpfsPSNEOUDsF1dZv567Ne-upotnvnRmsmCkKg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1092530618/bfddf800853549d6b80f343be9c5d1ff/verify?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "digest": "6Gax6swF-GUjTss4Lm-oaBHdrRPFTUrWYivXbCCyoUx2RGsRsQlq_3lfFAd26IM3nfJ1i96iIyNLduSJssqWtw",
        "value": "BCH-m5x0KhdFVlsgop_MNLI5voKRlTIAJ3BeLpX-GaDz3RCd83PtGeCPyKRAXZmjAxrzbGV5foxqCFZ2le3v6ZFqUxaiqHDFUOkFUAzqpbfF0fPlCxZImvSTUkIqk8L8xw1pToVK2ce-qzr91SIizDhqAX3S8H7uiZpTPulLjNcYbQDALBX2Ke_iSZwALF0jTfw4KtJEVnQeCaC_FJYjDfTz2o0i63cG2jOroB9WEk1NVBgjcW8JgNZEa7m25IP3jqJU-5Q5nZFfQYBlymCw1yUpALf4tOaXq11BJ2kh4Q9jhkpjjpfsPSNEOUDsF1dZv567Ne-upotnvnRmsmCkKg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskvtest.vault.azure.net/",
    "RandomSeed": "1423861089"
  }
}