{
  "Entries": [
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/569781411/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/569781411/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/569781411/e846d359ae674fac83ebfb8c738105b0",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "xyKHl47cN4u0E3IBIzD9C_65UETFbcNWTRWH2RT6nY6EbmNs5XptD3AQVnhuBOgKLdVmkxoscU2gpbmwLK_mDB95HZxrOgTeD7N3BjawVDKtbbBqmnXO23OKh47Xs0GfbWaKr_fNhC8QrDIqebpMl20uN-UjUQDvhBrrxOsuvd2AISs5ahx-sWEQLVNc-N1S1gbma73tFE7mE6mLdurmQKoxbyp-Yt7BWUl__Wc4EkU57g4bavwEw81_x-aXdxaDTxCWxyyYPgLK3h1f20JfhjJqaYY5RSbvVEBVaB4pKwNy86xnqdWJcZ-BrvNx3vNWScttCYBBh8v3mSBOMY5C0Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1626282208,
          "updated": 1626282208,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/569781411/e846d359ae674fac83ebfb8c738105b0?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/569781411/e846d359ae674fac83ebfb8c738105b0",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "xyKHl47cN4u0E3IBIzD9C_65UETFbcNWTRWH2RT6nY6EbmNs5XptD3AQVnhuBOgKLdVmkxoscU2gpbmwLK_mDB95HZxrOgTeD7N3BjawVDKtbbBqmnXO23OKh47Xs0GfbWaKr_fNhC8QrDIqebpMl20uN-UjUQDvhBrrxOsuvd2AISs5ahx-sWEQLVNc-N1S1gbma73tFE7mE6mLdurmQKoxbyp-Yt7BWUl__Wc4EkU57g4bavwEw81_x-aXdxaDTxCWxyyYPgLK3h1f20JfhjJqaYY5RSbvVEBVaB4pKwNy86xnqdWJcZ-BrvNx3vNWScttCYBBh8v3mSBOMY5C0Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1626282208,
          "updated": 1626282208,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/569781411/e846d359ae674fac83ebfb8c738105b0/sign?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "zac0S5Je5gj5nosSeZno5_X8wWLTKIriCmxzYtzrfqDIYQxv24nveGUong6saORsUDWHOD2H6GWv5DJq7hMD3w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskvtest.vault.azure.net/keys/569781411/e846d359ae674fac83ebfb8c738105b0",
        "value": "GpuqtNXcloyWBeQhWvfbXh4A-CIUorTrkN3j3LShjSsm6LBq2vhcEkhS46FasjR_BT_PZ6-Q9IWpK6KDqXO-okrOtzksGWcLQo1IKWsrikxSn8oi2TDrcITMkQNtCgk5quJTZgrjNEqfNnivf1DGEr_myhZWeCkRhDilcWZrkvX1mCL8KvyhmRIL8zXQvqYMncX4-7A_nAmXxaPLHYViU2f_y365FtazyRnHVUOwBpr-SX4KSuymvW5dJfu1tW0cYv1SU-zWTPXE9p9ur5YshqngraZjMW8cDS0zjbjZj49Tr3ehCJi_QcUhfWReyeDflPJwYb5H5V2B9cBsgWwzmA"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskvtest.vault.azure.net/",
    "RandomSeed": "1418839833"
  }
}