{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/757469446/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/757469446/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/757469446/b61427cb5889451da70525f1a1fec75c",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vahw_jp14jXNtB3ifvd9VbhKP0rrH0zQGYi6GMhtatE06UbWBKXTGkEbuig7YeIxxgSAtr_-OEEheQx9h-FRCaxIOpchBqmZAksJi2NRWdV5HjaIZx2VqCJ2ypV_X-fEdNF508MZgt3fXpsbz0TzCcFATu1mOMNnv3F6GLVk7KtlPqCcCZQXNH2c_o9PH5qhhDueilVDtrUa2drr79TZ_ne3dE1jcKmmHmXY3S-uvQc673EO8b79eyjZO82b8s7xQ9m57p9tDt70IrBWCtyohK-T_ifsDE8pF82aXqO9zVZ-8vD-FDiWXFW_B9ZwzCTHcxdqaNHF1yxSq4eVx_IQdQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1648056488,
          "updated": 1648056488,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/757469446/b61427cb5889451da70525f1a1fec75c/sign?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "TTUvApUnEerj-bBJqrwV4KjUJnAbymP8eDJcAaem4RVfOG4W0R2Ll8KVd-Y3RnE0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/757469446/b61427cb5889451da70525f1a1fec75c",
        "value": "heWlYWcTv4uDP2NCbhkmLCoXfwIxT1VhtO6NjttE_kRPnSjjc_LWAPMltZ6bCyrGcRQQ9uUkNVGMKzQvFxxcExSVRoGHnA0DCgnFKK9HSkEPUl7dtzbDXlBmGy3CrCmeXMQGTOz79QMcrfUp3LcDu1NFDR0CrUOOTsRwZYeYvkRx49NJzICd8ChP1_fpLdWRkwY8qn3ysdDRSuFOCL7LDqts2WPRauyiqkOalOHYk3IjK0vv3sHOi9_kgPz8zFYWl6tgXdGT2PY9Z6hlyIhRPkDiszhZa0Eebgs92dYPgpfM5okDF5XHkRS0oJIW_3SiEGQtuMVSGFNaLzS3we7QCg"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/757469446/b61427cb5889451da70525f1a1fec75c/verify?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "digest": "TTUvApUnEerj-bBJqrwV4KjUJnAbymP8eDJcAaem4RVfOG4W0R2Ll8KVd-Y3RnE0",
        "value": "skVHp9j6RD9V9HaRjv8hG2lRYnxDoIUH2wRViBx5zvTaIWAxomr38P5hq7MeaGtEo5CZZz6cnvNsxgEDyZvvMY1zkMjyv3cqLk7K7Mgp8fRdza1uThi-REP5UOb-r9dsXAwKS00FI3E11FGnCU8JPgiO_yfns77fGcyu8tdgYBHP5ZpQvg_enQmHpGfaMij9sIeJoZfg1l_i4DtNsA1GXzVBotvMtGuI0SCue233Bj_70sFa2gzLD21APzeRMAR9ozLO7JkNS8Fw6HZBAwHbqqe74z8D4CsOApDV5ZKe8o1uDJb-Ws7GzCFcqd0VgwJqLhIb0P4Kio2bzsqcWDNZgg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/757469446/b61427cb5889451da70525f1a1fec75c/verify?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "digest": "TTUvApUnEerj-bBJqrwV4KjUJnAbymP8eDJcAaem4RVfOG4W0R2Ll8KVd-Y3RnE0",
        "value": "heWlYWcTv4uDP2NCbhkmLCoXfwIxT1VhtO6NjttE_kRPnSjjc_LWAPMltZ6bCyrGcRQQ9uUkNVGMKzQvFxxcExSVRoGHnA0DCgnFKK9HSkEPUl7dtzbDXlBmGy3CrCmeXMQGTOz79QMcrfUp3LcDu1NFDR0CrUOOTsRwZYeYvkRx49NJzICd8ChP1_fpLdWRkwY8qn3ysdDRSuFOCL7LDqts2WPRauyiqkOalOHYk3IjK0vv3sHOi9_kgPz8zFYWl6tgXdGT2PY9Z6hlyIhRPkDiszhZa0Eebgs92dYPgpfM5okDF5XHkRS0oJIW_3SiEGQtuMVSGFNaLzS3we7QCg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1717065692"
  }
}
