{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/996460687/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/996460687/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/996460687/32a7cb1f18d540a6a7e90d2a6ed6eee6",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "t9VIxIUklN6Yu_VKhBpyvcCVO3KgLcG_LwC1yrpXckdIPzJ9jmmTEjq4fx96-meHmHGSXQ2rUpKQpdmqbOr724QFaFSl8JDJKxZ0NY-Jo36MkiK7jFDdJ3op8XyuGL0DohhdFuaPILLC_KyCZJblF3PKGS9aMlI_NTVUgNtjxmOY6MCdsDsX9SSLvSpjXUXwarGRxiFVJgm5kqa5J_vlBWW20AeSxoR2zJnRyOoO-pMcw8XDLn70kBIUoxpPU3XmhsXIG9D75hWOcDCzw9XlC_uiG4QJj-TAZZv2glldSKSFAHB5jLx6A3YdpJpFwx1otVjkeGOpDddGVpQPN53Q4Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1677718924,
          "updated": 1677718924,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/996460687/32a7cb1f18d540a6a7e90d2a6ed6eee6/sign?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "RXjeiEWOWP_01LrwrefMK4-DpNcz5a3p9ZIMcnwO8THGNq0V6G31QJUIRJmBNieAhbMaWtJBa5zYpcI8yoAc5w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/996460687/32a7cb1f18d540a6a7e90d2a6ed6eee6",
        "value": "q2dS_eWByrGLFg2ApI66J00fvrgjFhh81v6mR9GQ3qgqbXJxAzs_j1PH-7-M5B7uaAMsdTDoghtWDtBPaym2urK1iKdfSV-CudrRX5VNA-f4P-zQRIylwYE76xqeugt8uk7x3Zd31HS_Cqa8IWw7lAyC3nqYRdh4H2hFQ_4Jc3QdwiMVeiQorh9WMpOYEYMP0gVnglMbf1jeOft4gCJuLj7R3rwTwlzKco5gkfZiru1djBbvdKBoOXPyP52Csizns77TjV8oA4XJacuPR5AzFJNH1s8EEb_tziwn7XsjI7K3nVSB7ujzf7ZmoxVCw-ozwAlYcnZhjuS8B96vtRbh7g"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/996460687/32a7cb1f18d540a6a7e90d2a6ed6eee6/verify?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "digest": "RXjeiEWOWP_01LrwrefMK4-DpNcz5a3p9ZIMcnwO8THGNq0V6G31QJUIRJmBNieAhbMaWtJBa5zYpcI8yoAc5w",
        "value": "q2dS_eWByrGLFg2ApI66J00fvrgjFhh81v6mR9GQ3qgqbXJxAzs_j1PH-7-M5B7uaAMsdTDoghtWDtBPaym2urK1iKdfSV-CudrRX5VNA-f4P-zQRIylwYE76xqeugt8uk7x3Zd31HS_Cqa8IWw7lAyC3nqYRdh4H2hFQ_4Jc3QdwiMVeiQorh9WMpOYEYMP0gVnglMbf1jeOft4gCJuLj7R3rwTwlzKco5gkfZiru1djBbvdKBoOXPyP52Csizns77TjV8oA4XJacuPR5AzFJNH1s8EEb_tziwn7XsjI7K3nVSB7ujzf7ZmoxVCw-ozwAlYcnZhjuS8B96vtRbh7g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/996460687/32a7cb1f18d540a6a7e90d2a6ed6eee6/verify?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "digest": "RXjeiEWOWP_01LrwrefMK4-DpNcz5a3p9ZIMcnwO8THGNq0V6G31QJUIRJmBNieAhbMaWtJBa5zYpcI8yoAc5w",
        "value": "q2dS_eWByrGLFg2ApI66J00fvrgjFhh81v6mR9GQ3qgqbXJxAzs_j1PH-7-M5B7uaAMsdTDoghtWDtBPaym2urK1iKdfSV-CudrRX5VNA-f4P-zQRIylwYE76xqeugt8uk7x3Zd31HS_Cqa8IWw7lAyC3nqYRdh4H2hFQ_4Jc3QdwiMVeiQorh9WMpOYEYMP0gVnglMbf1jeOft4gCJuLj7R3rwTwlzKco5gkfZiru1djBbvdKBoOXPyP52Csizns77TjV8oA4XJacuPR5AzFJNH1s8EEb_tziwn7XsjI7K3nVSB7ujzf7ZmoxVCw-ozwAlYcnZhjuS8B96vtRbh7g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "301649898"
  }
}
