{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1476098386/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1476098386/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1476098386/509ca815b0b24c3e8472f2926f131aa6",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uzrMc7Tt_q5RvxcUgPaH3R3Xdnrbb2-bJGCMMsx3kT8RweF-GcgKkTlIMY3BH8HqdRJ0BdR5D2QVb9FmoLP_kZfhmjj3tnAqXLl2YiwxrzxzKCEOLWIIKpNVSmmxQUmsZ1-ThfpICt2c2UIdHyL-Wo5s0-HZGkkrU3FMFYqci0ofNzRZlD4a3Jk3-pS83VTpYd2g_FQ95jcRQLUFJ3u7-jfOrSzwhi5VWk13iHZNDtpzzFV0bIN1mzaVPtpoTEpDVw7g0aCCyUyeNvBrZ2nn2BiXNDAndASZO9Io-GY55bJgtTeefYD8PDfpggnYsVuRq6CF0sHQBvDjFnqTA3_fNQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1667322974,
          "updated": 1667322974,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1476098386/509ca815b0b24c3e8472f2926f131aa6/sign?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "MZl_D_-9Uaa62sCPi5MwNvxyFvB5Hj38fFGolFUbPERm7Z8bHo_BKAIzfQLleUNoTKRcL91dVL8huhuuQiOfFA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/1476098386/509ca815b0b24c3e8472f2926f131aa6",
        "value": "BpskCcpytPRyWAL_fzKvUjV-dVBlLcu52GHALpkA_JxrWBwB2GFy0wqKVxDlOwKJFpz-q0bObasmblDg5UEMnfHJqbRiS84JVqm3I1rVc0x6LfBMxvx-ZFevSKqZAz4A94s_PGog3ntepL4ZkzSLp3rly7-H_m6Y_4rNHcQlKHgRJS1EZiuHHBzQw8BE8GoTBdg2aTjWo9lJWuppOl4lICI5sSeFCE5ZZB-cr-Szkqh7R20yH3vsweagkm45iNJITHTXtSAsXtOhAAf7ZrDyu8UgZC2xhHH382w3CQdV4hLsIWG2ACth0s1HEnhUzDc0a-HAjh0_hK1d6yq4am5AnA"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1476098386/509ca815b0b24c3e8472f2926f131aa6/verify?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "digest": "MZl_D_-9Uaa62sCPi5MwNvxyFvB5Hj38fFGolFUbPERm7Z8bHo_BKAIzfQLleUNoTKRcL91dVL8huhuuQiOfFA",
        "value": "BpskCcpytPRyWAL_fzKvUjV-dVBlLcu52GHALpkA_JxrWBwB2GFy0wqKVxDlOwKJFpz-q0bObasmblDg5UEMnfHJqbRiS84JVqm3I1rVc0x6LfBMxvx-ZFevSKqZAz4A94s_PGog3ntepL4ZkzSLp3rly7-H_m6Y_4rNHcQlKHgRJS1EZiuHHBzQw8BE8GoTBdg2aTjWo9lJWuppOl4lICI5sSeFCE5ZZB-cr-Szkqh7R20yH3vsweagkm45iNJITHTXtSAsXtOhAAf7ZrDyu8UgZC2xhHH382w3CQdV4hLsIWG2ACth0s1HEnhUzDc0a-HAjh0_hK1d6yq4am5AnA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1476098386/509ca815b0b24c3e8472f2926f131aa6/verify?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "digest": "MZl_D_-9Uaa62sCPi5MwNvxyFvB5Hj38fFGolFUbPERm7Z8bHo_BKAIzfQLleUNoTKRcL91dVL8huhuuQiOfFA",
        "value": "BpskCcpytPRyWAL_fzKvUjV-dVBlLcu52GHALpkA_JxrWBwB2GFy0wqKVxDlOwKJFpz-q0bObasmblDg5UEMnfHJqbRiS84JVqm3I1rVc0x6LfBMxvx-ZFevSKqZAz4A94s_PGog3ntepL4ZkzSLp3rly7-H_m6Y_4rNHcQlKHgRJS1EZiuHHBzQw8BE8GoTBdg2aTjWo9lJWuppOl4lICI5sSeFCE5ZZB-cr-Szkqh7R20yH3vsweagkm45iNJITHTXtSAsXtOhAAf7ZrDyu8UgZC2xhHH382w3CQdV4hLsIWG2ACth0s1HEnhUzDc0a-HAjh0_hK1d6yq4am5AnA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1440876756"
  }
}
