{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1883856178/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1883856178/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1883856178/0f231d54023443f5aa8d184429b15f48",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "Aezf3XtjePBfKaJ9k5tAs4XadLJG-wvEJdgT0OW8cMUKu-JScCO9orkxC_zwRCl-GXa6F250ECsGIoScGY0wy-T5",
          "y": "Abhk8I4gguZP8e-i0T1aEXHOALe66iLK2Ua5UBfFkqSneYDw4Pg_3xcluT_QScC6gN7ARKEoWTvAMjPNVX_yxQ5V"
        },
        "attributes": {
          "enabled": true,
          "created": 1667322969,
          "updated": 1667322969,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1883856178/0f231d54023443f5aa8d184429b15f48?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1883856178/0f231d54023443f5aa8d184429b15f48",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "Aezf3XtjePBfKaJ9k5tAs4XadLJG-wvEJdgT0OW8cMUKu-JScCO9orkxC_zwRCl-GXa6F250ECsGIoScGY0wy-T5",
          "y": "Abhk8I4gguZP8e-i0T1aEXHOALe66iLK2Ua5UBfFkqSneYDw4Pg_3xcluT_QScC6gN7ARKEoWTvAMjPNVX_yxQ5V"
        },
        "attributes": {
          "enabled": true,
          "created": 1667322969,
          "updated": 1667322969,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1883856178/0f231d54023443f5aa8d184429b15f48/sign?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "inCfUrCye1YYjtJNNXTuY_fv_TdPiJsiApVObbzUfMY0Qqvd1lgwhOuNrvn-3IuH1J3FcICZqBuTlZt8870B4A"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/1883856178/0f231d54023443f5aa8d184429b15f48",
        "value": "AYXK1rfxxhXIAXh3A1dTIo96ON1bT-LKYjnvzodic64__Rl469y4_dUz3qRLcPF2WGIzx3JWJWGorvju6822SR2bATIuCZVCj4YM4QimYcnNyjJrC98f5f_Ts-x87pitTafRApB23t-_LC7BuL-5Lkoz8d3SIhexeMNGIHiHOunQ4nYZ"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "991493540"
  }
}
