{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/854289342/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/854289342/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/854289342/91b6da21655644b1809a4af35e16ca3d",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "v4O1X6Ox3OvTX1Wz7INBs7ryqtIGan-MEwX78YQjhR0RiiyrHpT6sbmix8FbTECr2XAgH7Fh-Svmbpa_uTPoO0JTXqVHeuX8BewH_ttJgB6p1UiUMD0tS3DlgxoBOBNH0-xmvhhXx4cFM5TpQwW35JjhQ7ODs8KVL3ag_B0eONOJ39lHLq2eGZGewOGkF8ZX7O6bFV02c3BpkkQbAhQ8-ib-1Xd7ahai2HPyF7mE0rjPt0vm6efKhDLgCtxXNbkxfre2lNjxyLtIbLLMwsiSYtepKMSa-m07ewQapfwZcp_kLlB1UGyNoBda--Z1QALhXQI9nV18zmgLOykd2wWGvQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1667322957,
          "updated": 1667322957,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/854289342/91b6da21655644b1809a4af35e16ca3d?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/854289342/91b6da21655644b1809a4af35e16ca3d",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "v4O1X6Ox3OvTX1Wz7INBs7ryqtIGan-MEwX78YQjhR0RiiyrHpT6sbmix8FbTECr2XAgH7Fh-Svmbpa_uTPoO0JTXqVHeuX8BewH_ttJgB6p1UiUMD0tS3DlgxoBOBNH0-xmvhhXx4cFM5TpQwW35JjhQ7ODs8KVL3ag_B0eONOJ39lHLq2eGZGewOGkF8ZX7O6bFV02c3BpkkQbAhQ8-ib-1Xd7ahai2HPyF7mE0rjPt0vm6efKhDLgCtxXNbkxfre2lNjxyLtIbLLMwsiSYtepKMSa-m07ewQapfwZcp_kLlB1UGyNoBda--Z1QALhXQI9nV18zmgLOykd2wWGvQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1667322957,
          "updated": 1667322957,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/854289342/91b6da21655644b1809a4af35e16ca3d/sign?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "VEf_LXBB2lSxa-6ZPAdZaNPhjgDym4PG2rN_qmKXythbYLtiPQT2yYtY2TuuL0sI"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/854289342/91b6da21655644b1809a4af35e16ca3d",
        "value": "KxFqGbDcRrO95iIM5zg7mZa3kIrbZXazapGLmWCl-_UNwjt3E_IYUMS84DUJLY29FVysG887FLBVe_asQO3wfBAFwQ4X_rAJ9EbBam59tt82Lx-o6uo_Hyt4E4e8oyuKRX4P6MPImIlzbnbJRjZzndggkXmn3OQ_pj6hK_ObC5YYYjDWaM_Q89h0j3bm7umIDW7rXt1UG7h4e9EKxu9ehwoz9VzcwHIj4vRuQLZinu6cqGT9cvuLLJ98Vhukopz9oQvkTdd_jCiciKBip5KS3m2WEnbhCwthRrYotIq1B1_qHxrtCF4p79xsFgBFwcePCOShU2h1g_4URirL7C5ZdQ"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1487787903"
  }
}
