{
  "Entries": [
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/211856007/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/211856007/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/211856007/597a2fd8dcfb4c61b2fb391d2cc9f2dd",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tny5-ZXwXDScYWyKpB1X66Z0EU7s8g_qR8N0-DhHdegwWg-duBR6N6A8NnB6r0pANlsAjj9G5SoXlcZ5Q95q6DSk6wg0Kw3Idb_A9gZODSS_RazYfCNJMgHKMcYlSlOieJKm2x5eM8gosrPxF0j9Wuc43DbIgsibMXg6GwLm1G9POPdGDxsSl4OWBUuqcAgfm3Krdu9jRffFYx-FBK4eJFRAcmSyoegMU46AMRpaVfdRDRokYD7OkhaqLqIF_39NJFaFQTuuMzAtCj752b4IMZ238sutpcr7TvimMXlWp5ULmbzjBGSsl-YGBQofg58nWk_HZ6xPFZzbfcl18hcHqQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1626224931,
          "updated": 1626224931,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/211856007/597a2fd8dcfb4c61b2fb391d2cc9f2dd?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/211856007/597a2fd8dcfb4c61b2fb391d2cc9f2dd",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tny5-ZXwXDScYWyKpB1X66Z0EU7s8g_qR8N0-DhHdegwWg-duBR6N6A8NnB6r0pANlsAjj9G5SoXlcZ5Q95q6DSk6wg0Kw3Idb_A9gZODSS_RazYfCNJMgHKMcYlSlOieJKm2x5eM8gosrPxF0j9Wuc43DbIgsibMXg6GwLm1G9POPdGDxsSl4OWBUuqcAgfm3Krdu9jRffFYx-FBK4eJFRAcmSyoegMU46AMRpaVfdRDRokYD7OkhaqLqIF_39NJFaFQTuuMzAtCj752b4IMZ238sutpcr7TvimMXlWp5ULmbzjBGSsl-YGBQofg58nWk_HZ6xPFZzbfcl18hcHqQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1626224931,
          "updated": 1626224931,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/211856007/597a2fd8dcfb4c61b2fb391d2cc9f2dd/sign?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "-HwHUMtM4lCO823ytbr2LfOTpGWdnLFAzeiVX-PCDXE"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskvtest.vault.azure.net/keys/211856007/597a2fd8dcfb4c61b2fb391d2cc9f2dd",
        "value": "QpinLQcfGmEXYYLR-Gig8Fy_Cmiv0SZ-V64PzlZ3zunzIjdPGiD0iupZxQv477sXXauijutao_HGjFsX-1tokDkcix7DRP9t0sibUcGrI_RQPVT9x8VP4ORx0f1RPxH8aUaaxLnX1I0LLTwyr_qfDEGVdaRR0wxcQjMl6JUScIAP0_O4T5RKuIPBuVIgJkTTDBiC1pK2NVz8JA3ptQh8w-MQg4s3iuX6UiRm6JEtXyGZrPd5dMVr_MitdS_AC1JdhkHjRD802bOl_Hhw1P9EfakGFrEzL3bUdNZkwjGBfiJqNgLhhEVC_tzKMEis4zwGNRzph72KHExoTuh01hcMZQ"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskvtest.vault.azure.net/",
    "RandomSeed": "1997648929"
  }
}