{
  "Entries": [
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1704670930/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1704670930/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/1704670930/52561f4069834ffbacbc3e26ce19159f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "xAXUCvJyFB7q4GJa4P9A7C7PMXE2LK25WcB0hSxP-9ceoOtnWDTDtj9bLLLb_Oh6bhSwCJn8I5fZEKuRSKakQ_zPx_8hWSpENbLkgE8qasLFtPPHeZWVun16LelYuvuU8TaQz0DvFp3S70NKQ1__AYheI_oKCOtgHuhygURQwc0wipO-Sk9I51J_yq6eQ0lsvUJTHTbFrnA9dSZ-GNwlPNMmURbN0gbfY6GhExPD4JMh5J_Y55GNNQZAhwSzmZ1eGZ4XGxFSH22AjMNvo83viCCS_6dVb5jFed45gJGCIKBEVgTOyMxz6nUV3-KNTQM7_lN-y-phR7KaeoOhZuxCeQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1626224965,
          "updated": 1626224965,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1704670930/52561f4069834ffbacbc3e26ce19159f/sign?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "K90azpFxxyXRgIUd9U05PV5LFjqqhKfFta62uX7UZK7J7ogGK8XYw-x_5332kJpxLCGS_uHycdF2KYZdMhUNsg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskvtest.vault.azure.net/keys/1704670930/52561f4069834ffbacbc3e26ce19159f",
        "value": "mSpTK67MTvEnbRpNukECz-EX07ZdeHHMaHD6TKEnJfIYUWd83e-QIBeiuaGljK5NSrGV1TSxKtYaLtRRNG6vwJDR1ULpZfuWAKpGwx4RTi7GHhxf2DL6KH1aMhvOiP33pJ_m3CIhNtBpc9Y9cPxkKWND2Da2hqh4aBy8sHqHCAFO9tsWHb_UZhMbSephYsh_jpbNLvpKeaQ61-MxgLY4X4Ewok2PZcrNrDBz_kFJTqgL-_SZHFXaHNMDtZ8xCvVGCNgWS8m1eusUjTp027UGW1gSqjlgNl4MyPIiwoR_gl1ozgYsy8klLh_l9GwISOWrlyHiao1ii1o-Mqns6mUfUg"
      }
    },
[...]
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1704670930/52561f4069834ffbacbc3e26ce19159f/verify?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "digest": "K90azpFxxyXRgIUd9U05PV5LFjqqhKfFta62uX7UZK7J7ogGK8XYw-x_5332kJpxLCGS_uHycdF2KYZdMhUNsg",
        "value": "mSpTK67MTvEnbRpNukECz-EX07ZdeHHMaHD6TKEnJfIYUWd83e-QIBeiuaGljK5NSrGV1TSxKtYaLtRRNG6vwJDR1ULpZfuWAKpGwx4RTi7GHhxf2DL6KH1aMhvOiP33pJ_m3CIhNtBpc9Y9cPxkKWND2Da2hqh4aBy8sHqHCAFO9tsWHb_UZhMbSephYsh_jpbNLvpKeaQ61-MxgLY4X4Ewok2PZcrNrDBz_kFJTqgL-_SZHFXaHNMDtZ8xCvVGCNgWS8m1eusUjTp027UGW1gSqjlgNl4MyPIiwoR_gl1ozgYsy8klLh_l9GwISOWrlyHiao1ii1o-Mqns6mUfUg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1704670930/52561f4069834ffbacbc3e26ce19159f/verify?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "digest": "K90azpFxxyXRgIUd9U05PV5LFjqqhKfFta62uX7UZK7J7ogGK8XYw-x_5332kJpxLCGS_uHycdF2KYZdMhUNsg",
        "value": "mSpTK67MTvEnbRpNukECz-EX07ZdeHHMaHD6TKEnJfIYUWd83e-QIBeiuaGljK5NSrGV1TSxKtYaLtRRNG6vwJDR1ULpZfuWAKpGwx4RTi7GHhxf2DL6KH1aMhvOiP33pJ_m3CIhNtBpc9Y9cPxkKWND2Da2hqh4aBy8sHqHCAFO9tsWHb_UZhMbSephYsh_jpbNLvpKeaQ61-MxgLY4X4Ewok2PZcrNrDBz_kFJTqgL-_SZHFXaHNMDtZ8xCvVGCNgWS8m1eusUjTp027UGW1gSqjlgNl4MyPIiwoR_gl1ozgYsy8klLh_l9GwISOWrlyHiao1ii1o-Mqns6mUfUg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskvtest.vault.azure.net/",
    "RandomSeed": "307731143"
  }
}