{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/517160442/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/517160442/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/517160442/f53488b44e8c44179c24f43277e23ff6",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "nQFvjXAstubiKcm1hQhwQejYWSGftu9QZz5f385uUuQKHBlK09HrHUQnjNztigPEuAIiBP6dfsCWAP-CvF3DTtjUX5pMaM2vGlL_6_fL3tumN3Gy2vvnCgsG92X7vqjGV_ZbNMotKUttT8iZfalle1j7t8UKKloVufMuBgG0LgcJaePNU9dgnHhyzN0rVDfqVwqC9x3o11yIHQ1WEOfOyhUUnLDR5X5lu65-RhBRikeoze3QpZ1ajoIBz5kPtUB5C-W_C4VO9Y62JIFcRCyOJpoKPwX1ukzioZO5NXqeHWkSb_31QFkcx_7xViX5xJ0iQEuAvlmPqwrWgqSZCars2Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1613784961,
          "updated": 1613784961,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/517160442/f53488b44e8c44179c24f43277e23ff6/sign?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "LXiBcuv3cUzAdYqErCKvlGz45JNQVFlC-mTOC5acL1n2DeAamiLNdFcfJWCxUozm"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/517160442/f53488b44e8c44179c24f43277e23ff6",
        "value": "mHGi0R8vAO8wTknanYocJAIdi_tk5WO1GG11KZniuIZqRMnbQCHgwkSB3DqQoFhQ6gDx1GOIxir0YUdPi_rwtQ4cKeuVXtSmrDi9D53EeAIJHK-dMuJX8imw7Kjj6ZsdepJn7Ppyc4TqOFE8YU_wGxRyWp9-K2gcJ_jNLtO8_TYOH6_KP6PDCM8fyIWCPLnAiJKbG-JMfCFQeinDg5InrpQlPSgT9jBbKqogVt3w_IT9g-Dx_AZa5OzP-ZqcjKVrkm4HkQIMjqkCE2Hjd3iKlvMYZh-FpCHLOYbwguo4hRkH7VaawSM-p6psCkozIxG2ySr9DTDlQS_RaYn3iQfwrw"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/517160442/f53488b44e8c44179c24f43277e23ff6/verify?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "LXiBcuv3cUzAdYqErCKvlGz45JNQVFlC-mTOC5acL1n2DeAamiLNdFcfJWCxUozm",
        "value": "mHGi0R8vAO8wTknanYocJAIdi_tk5WO1GG11KZniuIZqRMnbQCHgwkSB3DqQoFhQ6gDx1GOIxir0YUdPi_rwtQ4cKeuVXtSmrDi9D53EeAIJHK-dMuJX8imw7Kjj6ZsdepJn7Ppyc4TqOFE8YU_wGxRyWp9-K2gcJ_jNLtO8_TYOH6_KP6PDCM8fyIWCPLnAiJKbG-JMfCFQeinDg5InrpQlPSgT9jBbKqogVt3w_IT9g-Dx_AZa5OzP-ZqcjKVrkm4HkQIMjqkCE2Hjd3iKlvMYZh-FpCHLOYbwguo4hRkH7VaawSM-p6psCkozIxG2ySr9DTDlQS_RaYn3iQfwrw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/517160442/f53488b44e8c44179c24f43277e23ff6/verify?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "LXiBcuv3cUzAdYqErCKvlGz45JNQVFlC-mTOC5acL1n2DeAamiLNdFcfJWCxUozm",
        "value": "mHGi0R8vAO8wTknanYocJAIdi_tk5WO1GG11KZniuIZqRMnbQCHgwkSB3DqQoFhQ6gDx1GOIxir0YUdPi_rwtQ4cKeuVXtSmrDi9D53EeAIJHK-dMuJX8imw7Kjj6ZsdepJn7Ppyc4TqOFE8YU_wGxRyWp9-K2gcJ_jNLtO8_TYOH6_KP6PDCM8fyIWCPLnAiJKbG-JMfCFQeinDg5InrpQlPSgT9jBbKqogVt3w_IT9g-Dx_AZa5OzP-ZqcjKVrkm4HkQIMjqkCE2Hjd3iKlvMYZh-FpCHLOYbwguo4hRkH7VaawSM-p6psCkozIxG2ySr9DTDlQS_RaYn3iQfwrw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "38789067"
  }
}