{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/844457773/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/844457773/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/844457773/1200c70ea024498da7a65281db6adc7f",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "oT9gs3MOBB6Gn0YDwHxvsOjEr7FwnZb1fUjvPyApeeIU1kelWb6BUjuSBkN26MBP",
          "y": "pBmcXAt3mCN8r3SvCql6r6qE6CiOkbVRog-GVCEH4LxVU3LGqTv0ViwgOFwrO4r2"
        },
        "attributes": {
          "enabled": true,
          "created": 1648056477,
          "updated": 1648056477,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/844457773/1200c70ea024498da7a65281db6adc7f/sign?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "dO5K9YVZC-cxECbJOUYbbLeId8DSsmeNLOBwyY5S-ksLVrDmnD7Bd6N21Onp2FFu"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/844457773/1200c70ea024498da7a65281db6adc7f",
        "value": "2x0jEgPgJsU8EtLqfaDeW7e6sOEswccqXnFcrjd4WAZXKLUW4Y00UOSWeFob49A8uVTRbUdBWrZJrOU6xApB8hL7wJap5KA8xZ_SGMsOGNZovlGMpLl-5_qznLTT93ru"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/844457773/1200c70ea024498da7a65281db6adc7f/verify?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "dO5K9YVZC-cxECbJOUYbbLeId8DSsmeNLOBwyY5S-ksLVrDmnD7Bd6N21Onp2FFu",
        "value": "-T6TK1wpUuSb7gkFA3KTtR2KVKHK9ssPYItAbwvLV0PnYXlzvk_VaDejW5ZCAZVcdHOYQlYLKSfsnxK10whrpiH6wMUVNm0_k8YJavyWgYgI_53TvxZVDr5PrlRHUXV5"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/844457773/1200c70ea024498da7a65281db6adc7f/verify?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "dO5K9YVZC-cxECbJOUYbbLeId8DSsmeNLOBwyY5S-ksLVrDmnD7Bd6N21Onp2FFu",
        "value": "2x0jEgPgJsU8EtLqfaDeW7e6sOEswccqXnFcrjd4WAZXKLUW4Y00UOSWeFob49A8uVTRbUdBWrZJrOU6xApB8hL7wJap5KA8xZ_SGMsOGNZovlGMpLl-5_qznLTT93ru"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "791186938"
  }
}
