{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1762154145/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1762154145/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1762154145/f39ab795f5384d338a3b0579c81a192e",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "7oESRlgQQOQv4zC2JD82pdqyD4wuQgeSb2rKxrCJVsBZLSnOPG5vXTA_n61eL7eO5B0QiUBpYLf1i4WMVw76EukwWLZ9fJ-TdJ8Y27gNuVb6FomTEY-DOkt3d2DJDEWd4NOzAHMrn9-mOgeLnkZOPQXLVw-QhWTQR0zfj0p2vcZzTcX29aNj5LrUWKKT_YdqTh9CjuFRKqKmU2ouy3B-1gSMpn5HTkezsFj-jxPk3mnuBFLtAbLWGNFxCl0iFpvyv9K6RynODagT7FpuXDHwPvbWhkuapV55hrLXF5r2m5n1lnjAbwvnMOx9S7irO5QR90xQnK84bgKgOruzNJ0d8Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1667322893,
          "updated": 1667322893,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1762154145/f39ab795f5384d338a3b0579c81a192e?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1762154145/f39ab795f5384d338a3b0579c81a192e",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "7oESRlgQQOQv4zC2JD82pdqyD4wuQgeSb2rKxrCJVsBZLSnOPG5vXTA_n61eL7eO5B0QiUBpYLf1i4WMVw76EukwWLZ9fJ-TdJ8Y27gNuVb6FomTEY-DOkt3d2DJDEWd4NOzAHMrn9-mOgeLnkZOPQXLVw-QhWTQR0zfj0p2vcZzTcX29aNj5LrUWKKT_YdqTh9CjuFRKqKmU2ouy3B-1gSMpn5HTkezsFj-jxPk3mnuBFLtAbLWGNFxCl0iFpvyv9K6RynODagT7FpuXDHwPvbWhkuapV55hrLXF5r2m5n1lnjAbwvnMOx9S7irO5QR90xQnK84bgKgOruzNJ0d8Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1667322893,
          "updated": 1667322893,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1762154145/f39ab795f5384d338a3b0579c81a192e/sign?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "aPOwzptS8jXmXa8PUWvM2TJ62j4jl5ipaQ6fvHTmX-c"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/1762154145/f39ab795f5384d338a3b0579c81a192e",
        "value": "YvAsfeSe0XRabrWQGpwK76NtXDMStN351svxkgrw-iWWo06DSS0fYi28ZqTZ1PBGyprgUUTik4h939bCgXEB3XL-TYdLkuo2kQ6Wx5mnUAd5U45Kkm-0dIuJm4vwHsByE9jlGReHTTjMfue_nnYZdtgeNIZfHIRf9HT2abLfFQ9oD1yiXGtaSjOY8fZQBOFxk22ggqmDXRhN4cCyul_3D_vvkA4vNHv2TSBpMxQSYOcbwiQq9H1Qhf4lVGRebCesoUyz3r3hbMBfrhGz60kUhvarn35vAlXY0XoE2U-N0ZaZZFNQgzOvJzCZNU6UTxe-JDg3u4yerxdxxz6UMOGozA"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "815528043"
  }
}
