{
  "Entries": [
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/568678436/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/568678436/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/568678436/ed47ec1765444f7597b49972280d7ee4",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uQqOzw56ysVFx7d2GM_5cnle-JQmmW41lbrO2eH--uhoBoivTSHqD1v5-liVGtIUPAtEATP-yvrV-J0lAPCsQCimUgh09z8a6x_4-FMHIh8qowssG1hR8aTolIky7BFiDPe10cTnUACl17MDJDMhhkHhUvouhfuekXOSoPGJjhUWf-bXak-lEWDZIRJZb2MMfFkGsCL4O71EsinFJHSF5rmM7WkUgZEN-XnZmvTvS_LdRCCcp_HCC_Yk-bySgQkF_a0I9lQgsRJ-KcXlLjpPwwP866tw8s3d9wmNFjgEcTRjCFlJ8hK0gHQcrT0C8u7Kzi8C3KA_6vHqMK_RvO2sSQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1626224758,
          "updated": 1626224758,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/568678436/ed47ec1765444f7597b49972280d7ee4/sign?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "GpscIfZAe4JrWbTRzTKwXvOqhlIz725GK1c4hwCm6wS249zpC66i4uYH2urNJ63f"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskvtest.vault.azure.net/keys/568678436/ed47ec1765444f7597b49972280d7ee4",
        "value": "Drq26MCg8lsqKjpBl-H6AOJ6dwF3jfE55hMQIyOxXr133FMrDWgb7_OM8QgxLl8HF9fzxZ1NaG1PfTm8twcD6ApQ7OjNDWGvGy7MDJlldfou3YJuiGq-xpbaRQpBiQYWnZwDcwmH_27NKngX9HSqh2LSiA6wXDJN47nSCQ7lHnd_wZLDFvXeZ78vFp9J1P-CXNyVue2tdLAICsvieQ1xhPcjLDHeEZpLWjZgDmaN0WTneP8xMvO3K6PHMB6jvd_1Xffqz_2e05vOmDsT46dArt-dIaFgFQ7FQmcifPyUN0yuoH1f6LZ5XRWNzg_nVLyAq53rXVL1SB_dmIHwKM6RHg"
      }
    },
[...]
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/568678436/ed47ec1765444f7597b49972280d7ee4/verify?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "GpscIfZAe4JrWbTRzTKwXvOqhlIz725GK1c4hwCm6wS249zpC66i4uYH2urNJ63f",
        "value": "Drq26MCg8lsqKjpBl-H6AOJ6dwF3jfE55hMQIyOxXr133FMrDWgb7_OM8QgxLl8HF9fzxZ1NaG1PfTm8twcD6ApQ7OjNDWGvGy7MDJlldfou3YJuiGq-xpbaRQpBiQYWnZwDcwmH_27NKngX9HSqh2LSiA6wXDJN47nSCQ7lHnd_wZLDFvXeZ78vFp9J1P-CXNyVue2tdLAICsvieQ1xhPcjLDHeEZpLWjZgDmaN0WTneP8xMvO3K6PHMB6jvd_1Xffqz_2e05vOmDsT46dArt-dIaFgFQ7FQmcifPyUN0yuoH1f6LZ5XRWNzg_nVLyAq53rXVL1SB_dmIHwKM6RHg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/568678436/ed47ec1765444f7597b49972280d7ee4/verify?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "GpscIfZAe4JrWbTRzTKwXvOqhlIz725GK1c4hwCm6wS249zpC66i4uYH2urNJ63f",
        "value": "Drq26MCg8lsqKjpBl-H6AOJ6dwF3jfE55hMQIyOxXr133FMrDWgb7_OM8QgxLl8HF9fzxZ1NaG1PfTm8twcD6ApQ7OjNDWGvGy7MDJlldfou3YJuiGq-xpbaRQpBiQYWnZwDcwmH_27NKngX9HSqh2LSiA6wXDJN47nSCQ7lHnd_wZLDFvXeZ78vFp9J1P-CXNyVue2tdLAICsvieQ1xhPcjLDHeEZpLWjZgDmaN0WTneP8xMvO3K6PHMB6jvd_1Xffqz_2e05vOmDsT46dArt-dIaFgFQ7FQmcifPyUN0yuoH1f6LZ5XRWNzg_nVLyAq53rXVL1SB_dmIHwKM6RHg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskvtest.vault.azure.net/",
    "RandomSeed": "1998492715"
  }
}