{
  "Entries": [
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1972317156/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1972317156/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/1972317156/fce746b1dd2e467c9cea04fbb9f39dc7",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "2z31KsC_DMgJH5XHVMdJsmw4ArNMQghJhnVb58nvvc2sWNruNEXvF_j5tEXptYoJ3uZpRgfHi1yAZvJfk2dS1eNs6E0E_cDo-BvdAX_pc6SCkCeEbY1ahS7Idy0EtOkkbsNtBELV9pG1wdvrXB0jN57VRMUndq5N40kybbJSfltOrJadGex40G3KhLqU-BmsvvGMGXNPoHiWo5mN5RomREts09BMw6xYfyG9rjQCU5DvZ1Nu9sIbn76SGUZJpmJrWSvBudBqbxwk-Md_HixlLDjylBaOTuqURHu_et0SRqzlRK-jgfPqc1bCRWEhv2Ltp5tVNzAM813PTm2KwzgSpQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1596062675,
          "updated": 1596062675,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1972317156/fce746b1dd2e467c9cea04fbb9f39dc7?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/1972317156/fce746b1dd2e467c9cea04fbb9f39dc7",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "2z31KsC_DMgJH5XHVMdJsmw4ArNMQghJhnVb58nvvc2sWNruNEXvF_j5tEXptYoJ3uZpRgfHi1yAZvJfk2dS1eNs6E0E_cDo-BvdAX_pc6SCkCeEbY1ahS7Idy0EtOkkbsNtBELV9pG1wdvrXB0jN57VRMUndq5N40kybbJSfltOrJadGex40G3KhLqU-BmsvvGMGXNPoHiWo5mN5RomREts09BMw6xYfyG9rjQCU5DvZ1Nu9sIbn76SGUZJpmJrWSvBudBqbxwk-Md_HixlLDjylBaOTuqURHu_et0SRqzlRK-jgfPqc1bCRWEhv2Ltp5tVNzAM813PTm2KwzgSpQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1596062675,
          "updated": 1596062675,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1972317156/fce746b1dd2e467c9cea04fbb9f39dc7/sign?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "pVYj3B9USjoJNUyE9Uz4vuaq7GOvnbuxYVPzdI1ZO4_O7j7CQqpB8R3tPaQ0I8MR"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskv.vault.azure.net/keys/1972317156/fce746b1dd2e467c9cea04fbb9f39dc7",
        "value": "ygLGm2Iq_iQKUO3_darnAti_18CFzWbBR3N8Rr33mQ_2_JO71Sb9nmhkl8vXyFFZtN7qHGHpsej4tZDw5OZvjtOjiVk05D1rSo4RBMmN_KijbGdmnhaIgkfkzVJF181O4NEQkq0mHmQTEMcPPNEm1o-2ltvEQBc27j_yvzSuAdnB-Yf67Y_IIiVnav6SPeNDmj8AP3LZB6ab3jrBNrL3MRuJo9pPxi0kawZvgSq-vChwl90m5PDgtef3scictgt-GYTXK_Tnn3ZM0A5-X54tpfVHE5VONl2Zs3YENDBA8t2B3iPWljVl7v20W48NU2VnRVBvTsBuzB0L028uxuHnog"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskv.vault.azure.net",
    "RandomSeed": "1620444217"
  }
}
