{
  "Entries": [
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/849938881/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/849938881/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/849938881/528ddc5298d24e96a1da91f8c5ca4cae",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "x6mAnUS9B-r72lkJfmt13scRbCaEAU15gfU-b9hfzVOcee5OaKteJrgA5WW6pQ1iljUM2dy032Vjz3d1Ot1OqxvLqB8Vq5JXM7De20FufRuwx1_3q4Z5oZTg2-5cH3npCy_VwAdkiL7WYUCoBDdBJCdsPaiNR41e5V1XV8C8ri0Yl7Pdu91wxHN2UjYTYvb3suFHhYpL3Z_Z1BxxAMokyiqtfQuFobiCAyJxZrSdBWkiBsFuIQwXqHuj77QYRXgdaYpUYytYRHsc7DOuxCAtfQuQiURFDoq3I_IM13MT2XCI8shwUFfsCWJZtcLdnKgiSrRn6ihOTxm33TlHksKiTQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1626224740,
          "updated": 1626224740,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/849938881/528ddc5298d24e96a1da91f8c5ca4cae/sign?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "zLw5KX3-sZLi1mZDbfVN268qIcAS9DlX-KVCxImvdhU"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskvtest.vault.azure.net/keys/849938881/528ddc5298d24e96a1da91f8c5ca4cae",
        "value": "dDUOKzeUTNrNIZjxUW81FYO2jdNmA8NnSPhriJyvtRKqKqdkYZL-1G0W2brdJoo3K23RRavo-ubrs8gyAhUVJFSJyBKGOhwZ0mwxKcmFXQGHrNv5V1_pgMKakfUrVQI17DuBbbJpaSmYJkXoH6anKJQhepYtnvzoFgfML2MHjHM6YrIZQ4mmkApEAicHfbxXkORxzjPeZY9qf83f_kLB4GY2yJ4PF0DYeoxetyCQlYB-KZXxUthsBUWJR2TVQoFT5pEQq_HcssvyayGYX2dZf9jrSRH-VrwVCeFrWDfRct9xvvA35MuXsVthO1qflxmLS12W41Nm-9Z3z1QfWoijPg"
      }
    },
[...]
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/849938881/528ddc5298d24e96a1da91f8c5ca4cae/verify?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "zLw5KX3-sZLi1mZDbfVN268qIcAS9DlX-KVCxImvdhU",
        "value": "dDUOKzeUTNrNIZjxUW81FYO2jdNmA8NnSPhriJyvtRKqKqdkYZL-1G0W2brdJoo3K23RRavo-ubrs8gyAhUVJFSJyBKGOhwZ0mwxKcmFXQGHrNv5V1_pgMKakfUrVQI17DuBbbJpaSmYJkXoH6anKJQhepYtnvzoFgfML2MHjHM6YrIZQ4mmkApEAicHfbxXkORxzjPeZY9qf83f_kLB4GY2yJ4PF0DYeoxetyCQlYB-KZXxUthsBUWJR2TVQoFT5pEQq_HcssvyayGYX2dZf9jrSRH-VrwVCeFrWDfRct9xvvA35MuXsVthO1qflxmLS12W41Nm-9Z3z1QfWoijPg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/849938881/528ddc5298d24e96a1da91f8c5ca4cae/verify?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "zLw5KX3-sZLi1mZDbfVN268qIcAS9DlX-KVCxImvdhU",
        "value": "dDUOKzeUTNrNIZjxUW81FYO2jdNmA8NnSPhriJyvtRKqKqdkYZL-1G0W2brdJoo3K23RRavo-ubrs8gyAhUVJFSJyBKGOhwZ0mwxKcmFXQGHrNv5V1_pgMKakfUrVQI17DuBbbJpaSmYJkXoH6anKJQhepYtnvzoFgfML2MHjHM6YrIZQ4mmkApEAicHfbxXkORxzjPeZY9qf83f_kLB4GY2yJ4PF0DYeoxetyCQlYB-KZXxUthsBUWJR2TVQoFT5pEQq_HcssvyayGYX2dZf9jrSRH-VrwVCeFrWDfRct9xvvA35MuXsVthO1qflxmLS12W41Nm-9Z3z1QfWoijPg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskvtest.vault.azure.net/",
    "RandomSeed": "1731587787"
  }
}