{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1896647618/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1896647618/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1896647618/2c5399d45cb344ee80ff17e6943fe131",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "P8rKLQtWaDh8CKoEN60AdWB1rFDy-byisZ_GqOqVrvQ",
          "y": "XHDieHeFuUVR7S9Y3TZgudAx_wLOO34gqbtrHRKXqhw"
        },
        "attributes": {
          "enabled": true,
          "created": 1677718867,
          "updated": 1677718867,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1896647618/2c5399d45cb344ee80ff17e6943fe131/sign?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "efil6YLEld-BVyjqrPtb7SQwm5pfGVuNDpPXDLtAzGw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1896647618/2c5399d45cb344ee80ff17e6943fe131",
        "value": "4WAGAo9oDKo_sN4Pq27NWxKopktdiyDyW_7kcvSdSDRZy-VOKHDAFfVvJkArLBi9h39xWWIhNL2TpPLl2prDmg"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1896647618/2c5399d45cb344ee80ff17e6943fe131/verify?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "efil6YLEld-BVyjqrPtb7SQwm5pfGVuNDpPXDLtAzGw",
        "value": "9Qdw-MftH2ziQcW156-Z2S97M3GOba3C6ffhlTTohBOx06CnE-lGb2rGqXKDoMxcyW9eEB2zxTl89wsMfnIkbA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1896647618/2c5399d45cb344ee80ff17e6943fe131/verify?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "efil6YLEld-BVyjqrPtb7SQwm5pfGVuNDpPXDLtAzGw",
        "value": "4WAGAo9oDKo_sN4Pq27NWxKopktdiyDyW_7kcvSdSDRZy-VOKHDAFfVvJkArLBi9h39xWWIhNL2TpPLl2prDmg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "881294014"
  }
}
