{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/2069121812/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/2069121812/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/2069121812/fa13cec2a43e4fe683cfa73c0a51dec0",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "gTgRUBEJKEjlAXY5Z8Qws9Rzdp6RWO7r2yHhyOfJQMM",
          "y": "90MhW8P4IUB6SLmLqW181ice8RD417aLY2LCy0tdKZM"
        },
        "attributes": {
          "enabled": true,
          "created": 1648056759,
          "updated": 1648056759,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/2069121812/fa13cec2a43e4fe683cfa73c0a51dec0/sign?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "014S9aCp5h8kGjhUuThAbiQ_HxKbdWaex0eRfmqbP-4"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/2069121812/fa13cec2a43e4fe683cfa73c0a51dec0",
        "value": "3RjSFeGdwAr0jTBnmcXOYNtQXutkSRQ1Lr_YxxeDLDnym7uSDuDeEz4njAcLhFB17kcTwJi9yBwjzkKplLnDQA"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/2069121812/fa13cec2a43e4fe683cfa73c0a51dec0/verify?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "014S9aCp5h8kGjhUuThAbiQ_HxKbdWaex0eRfmqbP-4",
        "value": "iLbdjh4chi5hHlvZNJQfSnkUvn2ftYb5TiguoOSCbrjNZfIxCST1nFjSXw2gjkvZqF6MZsrtEmWDO__Inhq_0A"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/2069121812/fa13cec2a43e4fe683cfa73c0a51dec0/verify?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "014S9aCp5h8kGjhUuThAbiQ_HxKbdWaex0eRfmqbP-4",
        "value": "3RjSFeGdwAr0jTBnmcXOYNtQXutkSRQ1Lr_YxxeDLDnym7uSDuDeEz4njAcLhFB17kcTwJi9yBwjzkKplLnDQA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "168306638"
  }
}
