{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/613336731/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/613336731/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/613336731/6fa2fc454f404b6a97614dcd7cb58311",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "NGBMJDrEGTh8wzrdytdsJhgWo3NW5y1iCKv8gcXrPpk",
          "y": "del6nQ63OwcQoLF5WkE_xEI0KMDDJDbK6CqPYNNbwtc"
        },
        "attributes": {
          "enabled": true,
          "created": 1613784975,
          "updated": 1613784975,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/613336731/6fa2fc454f404b6a97614dcd7cb58311/sign?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "WyIynh7KprXf2MzX8jIalM_3x9zaq_CEFfgRz7YaLT8"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/613336731/6fa2fc454f404b6a97614dcd7cb58311",
        "value": "n1vFZA-r0H39aHq37k9NDEXK38uCOQtc834qKKDjXs_NzioNMRzR_-7RuUs9B2r-xMEfPr2J6CDrWxuw6swp3g"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/613336731/6fa2fc454f404b6a97614dcd7cb58311/verify?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "digest": "WyIynh7KprXf2MzX8jIalM_3x9zaq_CEFfgRz7YaLT8",
        "value": "sm2DlzcSMUbbvL4x6IIAO0nsbpniPgZPR2tcfzGEF85G_u75tzAyDAIQ_T23psdwfIDQ82LtSk3fqjdo29cToA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/613336731/6fa2fc454f404b6a97614dcd7cb58311/verify?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "digest": "WyIynh7KprXf2MzX8jIalM_3x9zaq_CEFfgRz7YaLT8",
        "value": "n1vFZA-r0H39aHq37k9NDEXK38uCOQtc834qKKDjXs_NzioNMRzR_-7RuUs9B2r-xMEfPr2J6CDrWxuw6swp3g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "268235531"
  }
}