{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/538944730/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/538944730/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/538944730/c5d53e53a19e45a7a9b5a18dbd62e808",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pu3aOXLrTVSjQpm_EeIYYxahR-f2hPCojjEwqNxHq2UOmmGxyJQNS0LZtApMqD3gwlVLmPchq-lmEvNczc8JcXt29Wpk65hfttZyJTz-OUtMO5xo75ZmeheKhCmIM_USDor28zoUGkw4lk36eT1NzlR5qM9TFPn0upimNbZAnljZcwjI3OAt860rF1lKAPilV5D4-mTb2ljJUZgTjEOc4whtrwHlJ-iGD7G3StjktopVuqYztFVders5D-MAWI2iarDhFz_4NS_7OToFa8Ihqj43ZcB8KgqwZ0JSFLcqUHbC0aWZy1Abwk1l9GABrbVkJ5T9ANV_7X4S4fEdaYlHVQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1648056726,
          "updated": 1648056726,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/538944730/c5d53e53a19e45a7a9b5a18dbd62e808?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/538944730/c5d53e53a19e45a7a9b5a18dbd62e808",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pu3aOXLrTVSjQpm_EeIYYxahR-f2hPCojjEwqNxHq2UOmmGxyJQNS0LZtApMqD3gwlVLmPchq-lmEvNczc8JcXt29Wpk65hfttZyJTz-OUtMO5xo75ZmeheKhCmIM_USDor28zoUGkw4lk36eT1NzlR5qM9TFPn0upimNbZAnljZcwjI3OAt860rF1lKAPilV5D4-mTb2ljJUZgTjEOc4whtrwHlJ-iGD7G3StjktopVuqYztFVders5D-MAWI2iarDhFz_4NS_7OToFa8Ihqj43ZcB8KgqwZ0JSFLcqUHbC0aWZy1Abwk1l9GABrbVkJ5T9ANV_7X4S4fEdaYlHVQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1648056726,
          "updated": 1648056726,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/538944730/c5d53e53a19e45a7a9b5a18dbd62e808/sign?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "I1mWlJTjwYUVTfMhKmOqVCfykc0wlScb55iw-0Tev9LJkv6PgzTXuW5m3vlZjg6O"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/538944730/c5d53e53a19e45a7a9b5a18dbd62e808",
        "value": "QxfObzxPGi5DrnsiNdQdOpUxxMqyYxx7nNASdjIsbj2oCIXCrUw6JvFTHgU6L6-kza73j2mFGLfjooTyEOEVpcZhMi27CtZlUcLf3ofO7uALdtstxyG43UCiCXHGZf_U5OKkiSnAFh4g7PbfW-csDN6Z3m0G93RZT-5xZ7qScB7mXqzMJT-gdezXfoO5LhtQOzujUdB9qd6N6qLOSQUSvUOVaCpw18QM6JYyLvFKWOdfywL1cINjqHNisiywqsf9inCSpL9uinzfXcQ1WzEDbUe8-UVa5XSTZAmKCQGZdJ5iRI8kbftatCfhL_37KwKdpb2l-rUOJ6-44cnQXHdVQw"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "164411789"
  }
}
