{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1524449282/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1524449282/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1524449282/4d720a6b7c3045a48407c8cf6f64a400",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "9RYO_D_fKceNW20xsSER4HU_qMsVaEsSr6aiumI71Q4",
          "y": "9P1Dn_eS8hN0DPVXnGIIINzJgD0XDwfEDUxaHA-EuSo"
        },
        "attributes": {
          "enabled": true,
          "created": 1648056729,
          "updated": 1648056729,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1524449282/4d720a6b7c3045a48407c8cf6f64a400?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1524449282/4d720a6b7c3045a48407c8cf6f64a400",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "9RYO_D_fKceNW20xsSER4HU_qMsVaEsSr6aiumI71Q4",
          "y": "9P1Dn_eS8hN0DPVXnGIIINzJgD0XDwfEDUxaHA-EuSo"
        },
        "attributes": {
          "enabled": true,
          "created": 1648056729,
          "updated": 1648056729,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1524449282/4d720a6b7c3045a48407c8cf6f64a400/sign?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "PICL4KohgjvYJoK6Huk5Ur2KENF6TexFWco-F_cG1GQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/1524449282/4d720a6b7c3045a48407c8cf6f64a400",
        "value": "sYYBP1huhVwJKthU8CegjLOY_vRzbfa_A0DQPqV3Uige2KHBzEydmbMKTzM_3DGio5reRSediO8r6mMixFtNjw"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "367129928"
  }
}
