{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/901070839/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/901070839/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/901070839/6046050a6cb54707a0b750bb6727f94a",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yE3vWCwC0V7-wiI1ivNxB6iUF1wOtHBFy44QGOZDZbhlL74ihxIrFRv-_iIuzHuD1x-6ZFE5zKbEG460PtX44vyuHs39B6hdljwZNebFToGijfi_ObZv9fzf94CypQf_Hk30XaFZ2UeYLKOV_JgibWVyHtO4vuEtDfvjs1L0BmWQk_PclfHDkLDBvC7FehCPpNbH7N16VIVz5XbvCwlPFTPiO9vFiddZ9sJU4S0gDG_zy5GLasCXfZ-JQ4GerL5uZEPQoa8Go2C7Sk-Y031Ma4wc_Q1dCuEjGVoiZniM_K2X5PpVGEg5afi_xa-EKhziYfCedsBih-84v7y-XmljkQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1612561198,
          "updated": 1612561198,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/901070839/6046050a6cb54707a0b750bb6727f94a?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/901070839/6046050a6cb54707a0b750bb6727f94a",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yE3vWCwC0V7-wiI1ivNxB6iUF1wOtHBFy44QGOZDZbhlL74ihxIrFRv-_iIuzHuD1x-6ZFE5zKbEG460PtX44vyuHs39B6hdljwZNebFToGijfi_ObZv9fzf94CypQf_Hk30XaFZ2UeYLKOV_JgibWVyHtO4vuEtDfvjs1L0BmWQk_PclfHDkLDBvC7FehCPpNbH7N16VIVz5XbvCwlPFTPiO9vFiddZ9sJU4S0gDG_zy5GLasCXfZ-JQ4GerL5uZEPQoa8Go2C7Sk-Y031Ma4wc_Q1dCuEjGVoiZniM_K2X5PpVGEg5afi_xa-EKhziYfCedsBih-84v7y-XmljkQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1612561198,
          "updated": 1612561198,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/901070839/6046050a6cb54707a0b750bb6727f94a/sign?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "uRk3RzvKcnJtAGmugtO-jRb8iH-NNLj_g6964mgYw9gVabmoHiFK42xicd-qZpC6"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/901070839/6046050a6cb54707a0b750bb6727f94a",
        "value": "LLaVXCX-h9raiWcGmvtb1LGsnlYfHhooHNuRpl7MkTyYFzzqg14q967c3JpJDHIX5D1Ea4q1C3xm-3AK-g3o-42nI7FBa_aetzFU6n-C_sljRYws0y30kmy63QKyT45wS0WWTLorTwDTPOlN22j5CFmXRIy2OTsW01HZyWzUON9b1obuZ4CE1kwxQtikVfIbGlr3y4OcQwF7d2BB5cNawUe1rligHGhP-narQrpGxrpK4CPa_p1V2wN4Y0MD9GrYUz2HMAQxJY-qiVQbb5BVJgGPvXuclBoTSjYy-lYa_8B8LgDFn7aNVA8R-qs481P279kUTGNhRuwtfVw8Ypt6NQ"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "227171051"
  }
}