{
  "Entries": [
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/901070839/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/901070839/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/901070839/a689dbd060574112a0fa7f2ae3cd05f3",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rwotgtmf4VDbTGMbWRtgG8zMwDj-pgHYW757X0Zs-Yt7-PlJQVK_EoD83P1f3Q0kHByYeOt88RfoYprW3gThdkRpztHnK9HUvSHfmi37-9Ky_nOLpGpGu0JdSyofajMR2qzVOhhAPORSCXg97CFflC0rNqbAZaHBszjQwfmDVmERM4ww1CFvVe-3Z0fs-IELkBvaqk22lJmxrBnvLEKgpabUurqNv6XBMTIdCkYj_zQxVsks2nLFz5E7UthhzBJJ1IVcNFkNUWZWAzZc2LfaMB7E7OcLcDszAQhXs4A69B_7Az9LEP-VIsotz9X9gSNcjW5SzBtxkOmMr9ev6SjjVQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1626224732,
          "updated": 1626224732,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/901070839/a689dbd060574112a0fa7f2ae3cd05f3?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/901070839/a689dbd060574112a0fa7f2ae3cd05f3",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rwotgtmf4VDbTGMbWRtgG8zMwDj-pgHYW757X0Zs-Yt7-PlJQVK_EoD83P1f3Q0kHByYeOt88RfoYprW3gThdkRpztHnK9HUvSHfmi37-9Ky_nOLpGpGu0JdSyofajMR2qzVOhhAPORSCXg97CFflC0rNqbAZaHBszjQwfmDVmERM4ww1CFvVe-3Z0fs-IELkBvaqk22lJmxrBnvLEKgpabUurqNv6XBMTIdCkYj_zQxVsks2nLFz5E7UthhzBJJ1IVcNFkNUWZWAzZc2LfaMB7E7OcLcDszAQhXs4A69B_7Az9LEP-VIsotz9X9gSNcjW5SzBtxkOmMr9ev6SjjVQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1626224732,
          "updated": 1626224732,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/901070839/a689dbd060574112a0fa7f2ae3cd05f3/sign?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "uRk3RzvKcnJtAGmugtO-jRb8iH-NNLj_g6964mgYw9gVabmoHiFK42xicd-qZpC6"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskvtest.vault.azure.net/keys/901070839/a689dbd060574112a0fa7f2ae3cd05f3",
        "value": "QWMOswITZKigm4fDMa11_2wxxtd5Bc1qtamuN2Evp2g8mFB914jouUO1SN2GtZxR251ILSc17ev--KdcT-w_7EDcMmTzipmQQrLxjNkritOtJ_-3mi8Ai-uBs-25SQF-QfOcOHirUKSioE6mGvMhkn2A_nkvVBEgn6yFm9uvFtN_xBylOCeyXYnm9cgJr7G8rnxwe3KbmmMQAieByNxCfLVGNy3BwqErLs2kIF2RWnbFS3O_IJnY8hNvEMZ0C8hh_3x6xe-UgtwyVEIgWEDCyJYZXIxAOS2BQfLtKJJTXhwo8Au3m2Rpv9RYyLb-1BLS9VdbEy7cfdqiiy2owDWyHA"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskvtest.vault.azure.net/",
    "RandomSeed": "227171051"
  }
}