{
  "Entries": [
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/2116799626/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/2116799626/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/2116799626/0a7df6c03b344b3d9a654c8212a299e5",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pEbz7CIODkcFQhI8n-zq7dH-jGUtFYxE4qcpf0xmdRG90xWBi1wyM_fSwgsYOiwFvWzlBF6FdQ9Bk-23Vr9Cc74yUbXjK7LcnzZSfSLmEkTY84w8_qp2v69EL2l19K_uD3bcSPO-bvJ70liWNEj4_8NVq84OHLrvK9AWcWzMmdKfg3RJ5MMwYXG-zN_KlLF-e5JNEBJzlFcJ5aIrDJopTx8DakJSRkXmyNc1zZatWc5DSNAisDiFyPUWYluZla2m3GxO05jHEheNb2Omg5qxySV3p2yhlZa-N3INnrd9G0ph3xfqqBNvX5-Q0TCcVC7h1F1tLK1x3AM5a8iZkOE68Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1626224963,
          "updated": 1626224963,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/2116799626/0a7df6c03b344b3d9a654c8212a299e5/sign?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "okSEj-v94fRVB-UpP7Tb0z0ERBySmAd12z_xkIeMqhf6x9cfzkTK1_g-5OcJq-Xs"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskvtest.vault.azure.net/keys/2116799626/0a7df6c03b344b3d9a654c8212a299e5",
        "value": "RfqAhWFX26ozrKSVsze8zzsv6AAcfd4Z0WcgUlfXgLk9W4DNKjp4q3qsG6aZqRdkyR2sNtxYzhatmMipz5pITS92GNSHc3mmpSF7Sm1Dsikr0Fa6jJ9jr-m6pCKf9jyxA6NMtky3lUvtyOrWPP-oSrrPgC1qfHb3aYuPnaM9nSIJUhXCkTpge_b2kFsIyspMGjCnfDcoZDIytYo47a8IsM1Jlog2vOyL89Bv9T5Rnw3IUJoxQxRsXyuzyS8Gqce4-D2Y-mB2pxmVan_uId64pPcOCQG-3ieBzFSQ7575g0kTTFDGwXbDhXj-7Bp-DHdDl_L6ERIDMm-K5Gm53L2qVQ"
      }
    },
[...]
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/2116799626/0a7df6c03b344b3d9a654c8212a299e5/verify?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "okSEj-v94fRVB-UpP7Tb0z0ERBySmAd12z_xkIeMqhf6x9cfzkTK1_g-5OcJq-Xs",
        "value": "RfqAhWFX26ozrKSVsze8zzsv6AAcfd4Z0WcgUlfXgLk9W4DNKjp4q3qsG6aZqRdkyR2sNtxYzhatmMipz5pITS92GNSHc3mmpSF7Sm1Dsikr0Fa6jJ9jr-m6pCKf9jyxA6NMtky3lUvtyOrWPP-oSrrPgC1qfHb3aYuPnaM9nSIJUhXCkTpge_b2kFsIyspMGjCnfDcoZDIytYo47a8IsM1Jlog2vOyL89Bv9T5Rnw3IUJoxQxRsXyuzyS8Gqce4-D2Y-mB2pxmVan_uId64pPcOCQG-3ieBzFSQ7575g0kTTFDGwXbDhXj-7Bp-DHdDl_L6ERIDMm-K5Gm53L2qVQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/2116799626/0a7df6c03b344b3d9a654c8212a299e5/verify?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "okSEj-v94fRVB-UpP7Tb0z0ERBySmAd12z_xkIeMqhf6x9cfzkTK1_g-5OcJq-Xs",
        "value": "RfqAhWFX26ozrKSVsze8zzsv6AAcfd4Z0WcgUlfXgLk9W4DNKjp4q3qsG6aZqRdkyR2sNtxYzhatmMipz5pITS92GNSHc3mmpSF7Sm1Dsikr0Fa6jJ9jr-m6pCKf9jyxA6NMtky3lUvtyOrWPP-oSrrPgC1qfHb3aYuPnaM9nSIJUhXCkTpge_b2kFsIyspMGjCnfDcoZDIytYo47a8IsM1Jlog2vOyL89Bv9T5Rnw3IUJoxQxRsXyuzyS8Gqce4-D2Y-mB2pxmVan_uId64pPcOCQG-3ieBzFSQ7575g0kTTFDGwXbDhXj-7Bp-DHdDl_L6ERIDMm-K5Gm53L2qVQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskvtest.vault.azure.net/",
    "RandomSeed": "1047758130"
  }
}