{
  "Entries": [
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/846917584/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/846917584/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/846917584/5339ee8cbfad42c6968c977868abaf27",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "k_6tm830jDer6CoC6qKGiCzkSgpE_xTAWYOA3itijmsvrsqBFhDoErV_bsdQJaP1mY3A4O-PHVOfjOIzEsivoLSBi7tJ-sj2wJgkGKuu7x5g7hPys8Gtvcx7mpWpNPFo_OXpiSR_1L2gbXynl-MV6ko2dXs6F9kfVHundwIFIQbLXIc0bV698wCIu2XPp1syojrcbUX0qZGtDF-h6vNPyNAfSh6g3vqNXgtq6A8jRCXJ1Ur0laUAGQgY8hFo82DnWrJp_32pBty2OZy76oLdoJvnmJ6Nv-NLP6YxCAN3m9DiFPdu0QFBpFZLbDRzZ5L1YuEhD7HUuPSmaZYUKSlDBQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1596062562,
          "updated": 1596062562,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/846917584/5339ee8cbfad42c6968c977868abaf27?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/846917584/5339ee8cbfad42c6968c977868abaf27",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "k_6tm830jDer6CoC6qKGiCzkSgpE_xTAWYOA3itijmsvrsqBFhDoErV_bsdQJaP1mY3A4O-PHVOfjOIzEsivoLSBi7tJ-sj2wJgkGKuu7x5g7hPys8Gtvcx7mpWpNPFo_OXpiSR_1L2gbXynl-MV6ko2dXs6F9kfVHundwIFIQbLXIc0bV698wCIu2XPp1syojrcbUX0qZGtDF-h6vNPyNAfSh6g3vqNXgtq6A8jRCXJ1Ur0laUAGQgY8hFo82DnWrJp_32pBty2OZy76oLdoJvnmJ6Nv-NLP6YxCAN3m9DiFPdu0QFBpFZLbDRzZ5L1YuEhD7HUuPSmaZYUKSlDBQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1596062562,
          "updated": 1596062562,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/846917584/5339ee8cbfad42c6968c977868abaf27/sign?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "gddnS-M-ohjGeeKweVZ7pY8MDHbY7x348_7ovdvWsrk"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskv.vault.azure.net/keys/846917584/5339ee8cbfad42c6968c977868abaf27",
        "value": "L1OBYH_2YSelNb25gVp_c1s19FLua-T8_DTHBQEzhYGoRDupzRSKOuVUT-FXNYiIP52GAaUVxTUJM3t6ji5WRkeZHLwyEh2qyDCz2l7nPY7sjnBA5dbMWyk4793MjRVy02UMmdNnfXIEwCnAUj_xVJ4KIuCFIZXmC4yTt4K0bX2V3ya6SIGzI73DUYLVACjDhzmf4bTWqEGyY9EBDbsEP4esBeG6O7wjTgrjqZOrSL3u1fOMn9bxr9QyzmhNU0IBQ3f4dqMxMg-1w2rc-1qPBG1eTOIeaTaWmvh9QgoPvFLQ9CiJkY3qMEiTN1RXu1maruDrdXGUW2h3qf_35uTZLQ"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskv.vault.azure.net",
    "RandomSeed": "52953959"
  }
}
