{
  "Entries": [
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/655673836/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/655673836/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/655673836/fa68ac8eebcb43d09519f1292a5bc8fe",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uwhVK7rDVoMPKjb0_H_VSbtg5QJboRotvASq-LP2Qr4Zw6iQ_YEsPOjlW7is4XtaJoSYhUWJms7xbI44GkqlhhCWN-tPwdyFDX7syq2fVAwSHGlw79Rx-bAaoklOJrZ7q8SllE6QElLbZnj3PqQAcBwBL1KbssNkxmoRFLZXrkrMW5n2sGJ-Gc8h7lrWePokHigd38FHaVyfL5goJJplysNzBC9xh_flShQK6zz07xXN1iBUQ-K6fAe_zHmSh9UhJFMhzgRBCy9XGSJQt77fVVuupdwgFFWtmGi2w3PBuRrOmbwVEcwgwadQee9o8C_OUYnAbTuR6hDhLp0q_Mjy1Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1596062586,
          "updated": 1596062586,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/655673836/fa68ac8eebcb43d09519f1292a5bc8fe/sign?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "YzXjqBDiQKkAQ7bZJXqEvpsdZGhGu5l1rn3ESomQffk"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskv.vault.azure.net/keys/655673836/fa68ac8eebcb43d09519f1292a5bc8fe",
        "value": "WJI5RI0ZR-PhJrB8AvFXqc-pvX3MCH1dstbxRDrV56wd-z1-fydxaQr5pHEZhRqZY0rajILD61Oe5ow2Bu5ALy_v5qcjZpMnM1RB6dU425D0q0zXom64HqO3i3tFO0MHK7M7hzpLmt7bH7NDFjxR1H165kH-UsIYcVHCK0RJcIPSU5JBlUG0R4kqhIA03qGjZflcDZ2UzbYb2NZtFNejE2lcAASRwNc51fiUj_NwaIOmbxfeQP9-GCz20bTZ4jOwsgk27NUTbbon-heA1MBwr44yRx5RYhbFjG1dAsI-4WpUD6Fb0Mi66VUftNfOmR8EhXrL45Xb5vz9IwAvOuLE6w"
      }
    },
[...]
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/655673836/fa68ac8eebcb43d09519f1292a5bc8fe/verify?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "YzXjqBDiQKkAQ7bZJXqEvpsdZGhGu5l1rn3ESomQffk",
        "value": "YJ4nYqgrv_ccUtPzvkzJGRNL9pk6EpPF-Ci9GeBjOjdfxs7BMv93BdJKrS-VYnVVucjvieH8UewB4ywgsa-RJ_IwOvUKJGkv4KrU7kVgIJBYnUscgLskhX0uCpZANqYB9dx2yB9GEowlPqeaFBIXKuggNItHuy7YhEiKNyc9JV0shUbKc3wMjxE0pNL2ouW8_Gmo3A_p8Yi3cdVl7-3DTq8VU8toBvbVnJpEKSJ4avjwzJkiwnlkWZTfejaKzMmJAiBOk1pKzl6V6KDOoJHn9ZIDqWZZl8hMObsPgqOlhY9NRhHWeKJkjlluWXa9RUdT7xORqYb2-C1SqiUk5K_7vQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/655673836/fa68ac8eebcb43d09519f1292a5bc8fe/verify?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "YzXjqBDiQKkAQ7bZJXqEvpsdZGhGu5l1rn3ESomQffk",
        "value": "WJI5RI0ZR-PhJrB8AvFXqc-pvX3MCH1dstbxRDrV56wd-z1-fydxaQr5pHEZhRqZY0rajILD61Oe5ow2Bu5ALy_v5qcjZpMnM1RB6dU425D0q0zXom64HqO3i3tFO0MHK7M7hzpLmt7bH7NDFjxR1H165kH-UsIYcVHCK0RJcIPSU5JBlUG0R4kqhIA03qGjZflcDZ2UzbYb2NZtFNejE2lcAASRwNc51fiUj_NwaIOmbxfeQP9-GCz20bTZ4jOwsgk27NUTbbon-heA1MBwr44yRx5RYhbFjG1dAsI-4WpUD6Fb0Mi66VUftNfOmR8EhXrL45Xb5vz9IwAvOuLE6w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskv.vault.azure.net",
    "RandomSeed": "291634223"
  }
}
