{
  "Entries": [
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/873746382/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/873746382/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/873746382/ed1abd627a244792b0244c87396dbd44",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "5OTvh0E-W8tD67bV4B28jP7YLAsE6PFxs2oKEATotjV1D-eq5tp42zxlYTg3PkZYCaTl4kU17UruhyaW90n0h2dl8DOyFNpTd-HZ8OL23zsPhrzZMiOI45NymbGvQE3pg_nMmtXZuqGoLRM7Rmdseq8Wort6xUK1TvT_HnXVXKv5NGC1QiQSh4OkN37lveOi1Qxb2RuyzgVYn2iQbekn4jU9wAR4xttRZbcch58tVhyEkt2YIgVKDE6kFRP6RUdVWdj8V-cG1C58_5-h9ggF87EBeHZ1idlPU5jvE7q96X2jfvgcOflVB3opnRYtP-kTlE8nFFrp0ikmxOFZGU_GDQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1596062705,
          "updated": 1596062705,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/873746382/ed1abd627a244792b0244c87396dbd44/sign?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "Huev7ek1O6e1hWXK_u7AQv1IyYu6wFavMk_bEoUl1i8"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskv.vault.azure.net/keys/873746382/ed1abd627a244792b0244c87396dbd44",
        "value": "xGA9QNDUi50Q34nodlc_RdFq5cj1UoJlMVpRgXXI7KYWQGx_Ooo6MZygJsWNOvuTQlOrZdOLf7F1PhTLxmxzLY3NpO2fZ-gs01GuDjUr6N-7AY3PV0WJPUpforNypxjHzgFqAf3LAxZNcGAAfwgCMQtYGq8LyYP8oPnOP4m8mSbKw_MvIk-VrHrDrJ6jWd-sV3zNNRk9wjrW4hjdY_1OYrnB0Tu_BAs1-iTtzPSE41ikMM0j5OnEWoglKJNtftuljcrGbgzb-eTL7ACqPEfQ6c3c-xXSMFDb4BPC2mCgSUokhKksp9KDcHfu17jvM0cf7u8h4JZyFSFm3YMKTh-9Kg"
      }
    },
[...]
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/873746382/ed1abd627a244792b0244c87396dbd44/verify?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "Huev7ek1O6e1hWXK_u7AQv1IyYu6wFavMk_bEoUl1i8",
        "value": "xGA9QNDUi50Q34nodlc_RdFq5cj1UoJlMVpRgXXI7KYWQGx_Ooo6MZygJsWNOvuTQlOrZdOLf7F1PhTLxmxzLY3NpO2fZ-gs01GuDjUr6N-7AY3PV0WJPUpforNypxjHzgFqAf3LAxZNcGAAfwgCMQtYGq8LyYP8oPnOP4m8mSbKw_MvIk-VrHrDrJ6jWd-sV3zNNRk9wjrW4hjdY_1OYrnB0Tu_BAs1-iTtzPSE41ikMM0j5OnEWoglKJNtftuljcrGbgzb-eTL7ACqPEfQ6c3c-xXSMFDb4BPC2mCgSUokhKksp9KDcHfu17jvM0cf7u8h4JZyFSFm3YMKTh-9Kg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/873746382/ed1abd627a244792b0244c87396dbd44/verify?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "Huev7ek1O6e1hWXK_u7AQv1IyYu6wFavMk_bEoUl1i8",
        "value": "xGA9QNDUi50Q34nodlc_RdFq5cj1UoJlMVpRgXXI7KYWQGx_Ooo6MZygJsWNOvuTQlOrZdOLf7F1PhTLxmxzLY3NpO2fZ-gs01GuDjUr6N-7AY3PV0WJPUpforNypxjHzgFqAf3LAxZNcGAAfwgCMQtYGq8LyYP8oPnOP4m8mSbKw_MvIk-VrHrDrJ6jWd-sV3zNNRk9wjrW4hjdY_1OYrnB0Tu_BAs1-iTtzPSE41ikMM0j5OnEWoglKJNtftuljcrGbgzb-eTL7ACqPEfQ6c3c-xXSMFDb4BPC2mCgSUokhKksp9KDcHfu17jvM0cf7u8h4JZyFSFm3YMKTh-9Kg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskv.vault.azure.net",
    "RandomSeed": "285391082"
  }
}
