{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1589967734/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1589967734/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1589967734/eac3476a60e64b379854229bec978ed1",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ymf3SFX4SIRytOt-C01GzZqgB-66y1udWEz1YDfJ1LPPm_ebJ0WedCG_m0C4u65buHAE-OkOKr_sS3ZDZFhAwFV741Y5nUvvF-MfgTbqxE5VbwELb_573NfqN_i8Qe6qJFNvl03HSHW4JbHNAWF8e7GvuqYGTie9T_9fdDb5mGw7lddd4yC71ELnp49MimCPPcW9QPBWhNftzznBjjzhQuluMw4mClreO8jvboimeZT5EWjHbuthAr_85PCSoglBPCkGCrzm9st2GxUXz-StqfFgSmFi90q-_q4qt7U08pOVEi5-G6FBey56pu2H2lgZrg0z4gLatt4Y1yTQH9CfEQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1648056474,
          "updated": 1648056474,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1589967734/eac3476a60e64b379854229bec978ed1/sign?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "guKKsocdnO7DSeUVf_YDT8YFlFXq9SRhQBDiM9b5d63O0FRiDCD1KAS_c8RMbhtfy-SY61iqpBhWVzMfLzKIYQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/1589967734/eac3476a60e64b379854229bec978ed1",
        "value": "VkBAhNXZ_qhwHmVZ3QCPbeoTRQbxObLF6ydC3QvLRyXHEt1cxtKZAxvmtEEpoZJQKoSL1A4i29X4gZKvZEtxa19lKP8F664zFRfbP8yT7H1lWAoXN3F_4h_ErnwVFiTUaCNSjqajSYLi9iVidl1dqO06LzshSr5DqtosAoiX5AW-4vsfkVVM2Ai92WcJVpCOo14ZgSJekAmOtYWps8Nl3mSBU7EXQePbI5N8ht0RJBDoziQbIpd22w0DvfOIgWIex02UetqfyVSUaEar87d0442jFbQC9CjSwOPVs4JYTStifqr17wilX-vGGrrdsiCpg5gcXL35hF9zPa7ND6KSkQ"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1589967734/eac3476a60e64b379854229bec978ed1/verify?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "digest": "guKKsocdnO7DSeUVf_YDT8YFlFXq9SRhQBDiM9b5d63O0FRiDCD1KAS_c8RMbhtfy-SY61iqpBhWVzMfLzKIYQ",
        "value": "ia_EJLPsyo75_4mvZinRF1MO1u8oOckWDkjMHN-xqsGKDxM97ghscDHvwcWHcbsez1WGjOg8rXn8YwCfVSt5RCm3oShwYQoOb3am32nsY48sMtw_NIjyBhxH5b5Il2glebxllJJwUpeLyOpOW7moRtRx6gRmJTgI1oadcuQl8_Lw6JURU5cNyz6OXjE6_sau6DSbQtuX5cC2zWSqm_7DwKtXSLMG6C2kVL7wXSIMA-_0oiXRXoJTzsQH7SbnAcvn75dqgmMWs5LYiAplszGJr78Jy0g45I7zqjNomKuwm71gngI6USqz7XBcaFQpPWrhKBXDfJpEe3UVOwA3EHzXtQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1589967734/eac3476a60e64b379854229bec978ed1/verify?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "digest": "guKKsocdnO7DSeUVf_YDT8YFlFXq9SRhQBDiM9b5d63O0FRiDCD1KAS_c8RMbhtfy-SY61iqpBhWVzMfLzKIYQ",
        "value": "VkBAhNXZ_qhwHmVZ3QCPbeoTRQbxObLF6ydC3QvLRyXHEt1cxtKZAxvmtEEpoZJQKoSL1A4i29X4gZKvZEtxa19lKP8F664zFRfbP8yT7H1lWAoXN3F_4h_ErnwVFiTUaCNSjqajSYLi9iVidl1dqO06LzshSr5DqtosAoiX5AW-4vsfkVVM2Ai92WcJVpCOo14ZgSJekAmOtYWps8Nl3mSBU7EXQePbI5N8ht0RJBDoziQbIpd22w0DvfOIgWIex02UetqfyVSUaEar87d0442jFbQC9CjSwOPVs4JYTStifqr17wilX-vGGrrdsiCpg5gcXL35hF9zPa7ND6KSkQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1720818009"
  }
}
