{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/864733037/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/864733037/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/864733037/987298cca8bc4a6b96dcce1796e025fa",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "ALC-pmEfXEVD4dRZRSuQKcdobW--adZ0Obd21hrq8KRCuhB4neMlpBhMGPOshhxqnO82PzN0YSQG7MIcpZfCwCVF",
          "y": "AGptIvqZaVvmx_Dvl6YBHFb-ujWCnBgMsTMH2H8cJVaqnZUyA3tL5YjMkhHSaM59Z0-7iAG0DtMqv-BPUNzLzl87"
        },
        "attributes": {
          "enabled": true,
          "created": 1667323000,
          "updated": 1667323000,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/864733037/987298cca8bc4a6b96dcce1796e025fa/sign?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "yIZpGxD83KDJqbFamwYXkWV-CnakEc0ZY8ctV2cKW7lSUDYoZ27xac9MIMInumDBNOS0itR2mfW6eEYaVmccjw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/864733037/987298cca8bc4a6b96dcce1796e025fa",
        "value": "AW9hmtGJZNU2GXMPSz-662zWhfulPuItb1lYO-Me6Zgc-ISp6cRz0vqSero4NhrGsJX0mQwxwG4l_FXOOuUgDK6GARKTYO2xrP7xbmgQgglREyHIakcAQs0Caj4ptJ6mB5fyn60TbTamcXPRhhCfe_Pm_fLGIOOpTCw0uDG2-jn1o2oN"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/864733037/987298cca8bc4a6b96dcce1796e025fa/verify?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "yIZpGxD83KDJqbFamwYXkWV-CnakEc0ZY8ctV2cKW7lSUDYoZ27xac9MIMInumDBNOS0itR2mfW6eEYaVmccjw",
        "value": "AIIUgLduaO2OO--GSGRESV_GQIrivoO5bgxjfccP1lgrmKcfbuCaH768pOHiV-9yfwUg-WZxqzQSTARsU1CxbsB_AOfB1-CU9XPFX_iu_c3p-GdXzzIevZinh76O1qsu9QRsPybbSOHutgaXShlEsmOSWDwaJTpUpgjHrDFnMpuavC8R"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/864733037/987298cca8bc4a6b96dcce1796e025fa/verify?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "yIZpGxD83KDJqbFamwYXkWV-CnakEc0ZY8ctV2cKW7lSUDYoZ27xac9MIMInumDBNOS0itR2mfW6eEYaVmccjw",
        "value": "AW9hmtGJZNU2GXMPSz-662zWhfulPuItb1lYO-Me6Zgc-ISp6cRz0vqSero4NhrGsJX0mQwxwG4l_FXOOuUgDK6GARKTYO2xrP7xbmgQgglREyHIakcAQs0Caj4ptJ6mB5fyn60TbTamcXPRhhCfe_Pm_fLGIOOpTCw0uDG2-jn1o2oN"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "379049725"
  }
}
