{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1832349105/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1832349105/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1832349105/abb557e493614b64976f9cd1ac55ae89",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uUnJXkdfi4HGY1x_qQSD_OeOsZUYFCMarw99aTxFWY93dXJXjf8LGiTbA9BwNAzorutsxezl4T1Z-ttNtZF43TUmGLr4mkB9XPNr7gYeCVD2Zna0D5_zIOW9eyV9L40gI7UAXxatOIfiG_PPfG4B7h2JbeV-Db6w4sUEnOjFON3K1ewB0e2UjEy2Qd3F_XAdZ9Qy-GBWZVjiAdi2vsbVGLURru8cGL-kI0_1QU0FNKpXVOFVHDDYkDxyID-A6gFVFnZ9ddR04Gp5gBTBKCNtXEvxGCBLMTVkkY0Ce-fHf82EjLzGLrTj5DO_c3r-OPk1YEIOAmrjNFgtH7mOvCVnXQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1648056498,
          "updated": 1648056498,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1832349105/abb557e493614b64976f9cd1ac55ae89/wrapKey?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "IK6ThmSCqOHr91cVSJpsGCFNAh_2EEjidZmeUi9VwIg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/1832349105/abb557e493614b64976f9cd1ac55ae89",
        "value": "MovgEsA74q75hI6NlaC0BEq6g6Czif5AWNvvfCJAukEhMa0HKR3fd-PyXxW23irr-co81hjR2EbiTPs8Cgp0n-jfk7JnWi68Yvcy3LMhB8GP9CwYXbc0svRZZtx5jorNUkq3XH5GBg0XlKQh3Yw7_5q929Z_lzuzAEiqCQ8epftWEkXE9vVmU9cwauIFB66OEtFPIDmEM0j83bMo5i3zkbSqWNH2sRQUg7bXRB4dgIMQycQ8Fv5q5sFBDc0EcgNoNODAjLt3TffMCfpgEW1SSQxfx1laRiVBMXK-KgP_NDVqlpaAzeaFpyBeDg3tVv8jbPWoE85jSYGHQm7xQmJWzw"
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1832349105/abb557e493614b64976f9cd1ac55ae89/unwrapKey?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "MovgEsA74q75hI6NlaC0BEq6g6Czif5AWNvvfCJAukEhMa0HKR3fd-PyXxW23irr-co81hjR2EbiTPs8Cgp0n-jfk7JnWi68Yvcy3LMhB8GP9CwYXbc0svRZZtx5jorNUkq3XH5GBg0XlKQh3Yw7_5q929Z_lzuzAEiqCQ8epftWEkXE9vVmU9cwauIFB66OEtFPIDmEM0j83bMo5i3zkbSqWNH2sRQUg7bXRB4dgIMQycQ8Fv5q5sFBDc0EcgNoNODAjLt3TffMCfpgEW1SSQxfx1laRiVBMXK-KgP_NDVqlpaAzeaFpyBeDg3tVv8jbPWoE85jSYGHQm7xQmJWzw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/1832349105/abb557e493614b64976f9cd1ac55ae89",
        "value": "IK6ThmSCqOHr91cVSJpsGCFNAh_2EEjidZmeUi9VwIg"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1332702716"
  }
}
