{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/2112113650/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/2112113650/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/2112113650/faf6e6a6722c490990dfcd4f3f187f01",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "qDqvq9wWq1XrnAaTN0T_Z0fr1Obzc2AaIkjBu2NM3sogspkC5Fiav39lCqS04rXeqto9zO6QfV1AoyAPXtHgwxyPxxudhbvOI09yzFeRfSkYIPKtH9C8GTG0fHvQ7VhFIyK2kNMZDOwZ3WhD-8meZQwEEOKVTtw9UjvfhhAPBwIlgHc_NUIsIS-781kWBR-TBwBsrO--_NTc8-NckKT70agGvF1Z3G986t97S42kQyt_rIlWkoksB9Oh55TQzZUECPn5VxEHiRQODqfQ-jPoiX12nyc_7_r8hEQrCjCTakUMuwsauRgaE0gdyPejeeOevTD63E6Lxm9HRFxm1em5FQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1677718875,
          "updated": 1677718875,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/2112113650/faf6e6a6722c490990dfcd4f3f187f01/wrapKey?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "rwnu30M3PieE8qaGcathV0Blv9DIG5cVlAU2YcaG0PI"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/2112113650/faf6e6a6722c490990dfcd4f3f187f01",
        "value": "UMIIYc2_o9Hgn_SOEo8Cre4kT7tbCnoVJ8VbBaw9XAErLh0p0FES5QIzmjrsKgAHuJL_E2Me0EvYdtitetMkFsi713F_TUEIU3r6FMi407M45Fzym4jDTpdXxMu4tq-cGSJH6MXqUt7dJDied82UiSWMkTJHo76PxfFk_7MEHtK6uugiM5enzTwbbVkHmjF1HU7ZiDf6VbNTHWAILz-N1jlZrwXW2s6qjeXLgRLRQdwYy_mt8RdTyluddB-9SmnBUaKw5Xu52dY872lOm6mV23ysLJ1LCmU7v89JViVdZyBVrIGLClsvlCPDvK7F-0Y2QPdRWWkxI66aU4BmZtROag"
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/2112113650/faf6e6a6722c490990dfcd4f3f187f01/unwrapKey?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "UMIIYc2_o9Hgn_SOEo8Cre4kT7tbCnoVJ8VbBaw9XAErLh0p0FES5QIzmjrsKgAHuJL_E2Me0EvYdtitetMkFsi713F_TUEIU3r6FMi407M45Fzym4jDTpdXxMu4tq-cGSJH6MXqUt7dJDied82UiSWMkTJHo76PxfFk_7MEHtK6uugiM5enzTwbbVkHmjF1HU7ZiDf6VbNTHWAILz-N1jlZrwXW2s6qjeXLgRLRQdwYy_mt8RdTyluddB-9SmnBUaKw5Xu52dY872lOm6mV23ysLJ1LCmU7v89JViVdZyBVrIGLClsvlCPDvK7F-0Y2QPdRWWkxI66aU4BmZtROag"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/2112113650/faf6e6a6722c490990dfcd4f3f187f01",
        "value": "rwnu30M3PieE8qaGcathV0Blv9DIG5cVlAU2YcaG0PI"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "989283297"
  }
}
