{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1696452842/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1696452842/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1696452842/5aab9304098443318c21021675f75f57",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "z7PaRfYKzJyFfWYAPDbd7iirHqSWxacnbN05koojqy3KDGxRiJGPEOOT0YHgCDRi_hN62XoC5WqQyk2PLprrhrN9VYMWy6ME7pWUew9EQDCzrstClzsN6ZOTvChJA9Vi34FxUyA6uPjtz4QY0jnlexi4VUiOIMSeM4FIozoMEjxtrPSaYZv58tPbiZuurJFjiP5voW61VaykAAT3XbiMEcjrrB1kNgS9WC9YodzSjo_AFzlO43Kp7csxpt4IfaBWXES2MaDQTQLaDeqTxBG92-Mg22VUqVO-WYd_bK1ergkGWoyYxXufCVNAlmPuZ1vfP_J2A-sH11rE-bJpgBXirQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1677718876,
          "updated": 1677718876,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1696452842/5aab9304098443318c21021675f75f57/wrapKey?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "32xF2UbTHiHckrFNrvEwlOqEvbvp0Xwn2KQ-GdXYXj0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1696452842/5aab9304098443318c21021675f75f57",
        "value": "PeaS5fmcJxNoVFVmyWjtO3BssgY841jSSA3IjkudEy-rhbjtJ2nHeRY_-VOlJZUTFEh0HnH9TqV0Xl0jzhtCeceP4jJE9ZnN2nWuom2lScTHUJ_gbtWz4lQy1_XoniMOyArcW72npBrooIsvlih3fNxBFmOr2XB9lYYSEQkl2pO4_9nRWDWBFOsUDWSIOa0x0UwAB5MCuQFQRwWjIqUX8JqF5h5ex_Pm-7J1ATKCn-GCZk5t1KHBZ4OPOv7s-8aex5dQYFV8_jzmE9kXeH3HZ7n1UeotEzfHRkIdtXbtXCf6aSVcJTsGZJr4K9jhnMIIegK9H6Z02zySt5m4avIBUA"
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1696452842/5aab9304098443318c21021675f75f57/unwrapKey?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "PeaS5fmcJxNoVFVmyWjtO3BssgY841jSSA3IjkudEy-rhbjtJ2nHeRY_-VOlJZUTFEh0HnH9TqV0Xl0jzhtCeceP4jJE9ZnN2nWuom2lScTHUJ_gbtWz4lQy1_XoniMOyArcW72npBrooIsvlih3fNxBFmOr2XB9lYYSEQkl2pO4_9nRWDWBFOsUDWSIOa0x0UwAB5MCuQFQRwWjIqUX8JqF5h5ex_Pm-7J1ATKCn-GCZk5t1KHBZ4OPOv7s-8aex5dQYFV8_jzmE9kXeH3HZ7n1UeotEzfHRkIdtXbtXCf6aSVcJTsGZJr4K9jhnMIIegK9H6Z02zySt5m4avIBUA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1696452842/5aab9304098443318c21021675f75f57",
        "value": "32xF2UbTHiHckrFNrvEwlOqEvbvp0Xwn2KQ-GdXYXj0"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "384469867"
  }
}
