{
  "Entries": [
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1219816464/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1219816464/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/1219816464/6d7f1e3d957342c6b89ce7e33368b982",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "xVn8iMgef_Dqfm6EeUAfy_UrfZO2Sqr21ecdcQ02lsetm89h3PLdra6xQDcKFwggOe26wrgFgE9NZuF2PhAOTlXrC-AnWDTHheu1DnQgipPnHgPCo1OsUFD-5VK0lvhU5kfTgjzd3vVrWaxnrKE7NcStMEuPF9jfqcBpvjLfQR73TgtT1hT_kogmu9302QupkQCKAmMYB2cSCOltuKWkdQTFDJtK-INY0vjysCr2D73G8iQ1qd8MAaNAdCGTxnt8B-eDsYOCHpWPaWf1zZymjy1f546B-3TMNd5Ldnl3v7g2d7kZtJ_xEa_69AwBdyJfapU1MOwBv9IfFf2KsHtOTQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1626224983,
          "updated": 1626224983,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1219816464/6d7f1e3d957342c6b89ce7e33368b982/wrapKey?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "9LltEGJiWi6HthXol6dJ7g9gSNYBtrQgSDHigGNWyys"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskvtest.vault.azure.net/keys/1219816464/6d7f1e3d957342c6b89ce7e33368b982",
        "value": "t24zYmdD4KddgGdQFAoD564f83_ftYT1-4dzhqJQV-M1gar6FxMGb_yoRx4vSpBPmwM0w3t2yMuH92H9M89Qmd16VM4dKvZkFlEKu6knvpvEqBZrXbCy8c5QxHrOWNkkYY6qIKyuyyZ4kFOAwhijqCUdoP2oIJkrQZR4F_Yi9kP1ll2_PY0dzIbFEnRBztxmsdgizccYf9bNTLz43tuX26Js1Wxz2POh-5ZxeLugY-fqxDlGhdNRpDVkcp9Z_MbtW-SDvGywv9eRHw9FYJdUHnYoj2s55cxdXVcQ5whAy-XcA-Mgn2lvB-lRd1-oVRSSwYJRNKmSa77vtugQZqqxHA"
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1219816464/6d7f1e3d957342c6b89ce7e33368b982/unwrapKey?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "t24zYmdD4KddgGdQFAoD564f83_ftYT1-4dzhqJQV-M1gar6FxMGb_yoRx4vSpBPmwM0w3t2yMuH92H9M89Qmd16VM4dKvZkFlEKu6knvpvEqBZrXbCy8c5QxHrOWNkkYY6qIKyuyyZ4kFOAwhijqCUdoP2oIJkrQZR4F_Yi9kP1ll2_PY0dzIbFEnRBztxmsdgizccYf9bNTLz43tuX26Js1Wxz2POh-5ZxeLugY-fqxDlGhdNRpDVkcp9Z_MbtW-SDvGywv9eRHw9FYJdUHnYoj2s55cxdXVcQ5whAy-XcA-Mgn2lvB-lRd1-oVRSSwYJRNKmSa77vtugQZqqxHA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskvtest.vault.azure.net/keys/1219816464/6d7f1e3d957342c6b89ce7e33368b982",
        "value": "9LltEGJiWi6HthXol6dJ7g9gSNYBtrQgSDHigGNWyys"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskvtest.vault.azure.net/",
    "RandomSeed": "1028841052"
  }
}