{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/2114062419/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/2114062419/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/2114062419/5894c85c95884c0b8b809b8e32ef4ed2",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tALm8N9762-4YZvVt58arVSFPcVCvFSu0rxyR0xH_0QTje33PW_ruGIDfgr-Yrr2ol8lpmr7lQJevQSgbWJ0y8m-U88NDpwvDjvwm7TgeUT15n5X6aoecbg7IiobZrU7nRcNXjwHVX_rhs2p7T4Eku74srl49w1rcJABH8CzdYkaLjDStFtv6U2Hj8B6iuFFpw9Y1QZouDqrX0dmC7sz_zROdH4Ec5apdX0OI8CkU2-gEUiE5CpVa8QrPsf7MMVwh-50VmPBxn9Kg7J6tZwBTVIsXjSbc8VDNxXSvbRuzQFzu_mi0_S9MjDCiDXFN2euQpWdgzqY2TEYPhoQ8O8ahQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1667322937,
          "updated": 1667322937,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/2114062419/5894c85c95884c0b8b809b8e32ef4ed2/wrapKey?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "sUTn0zW1NFLjqH-kdca7dKeqRpEs2sGtuPy7OOj3VAw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/2114062419/5894c85c95884c0b8b809b8e32ef4ed2",
        "value": "gZgS61_QW7mmFyU-HiheNPJ78LIq3TqC-_8M3E17wEBfJanxMkuZYT1btaRJx9bI9EfFY81afF-fklbVUWWFtZaP9VrgE_PNJlNW3AwbGnXUYQb-_UnrQB5-f8g8moJ20NGIPXYEfmPVBBgFV04lr0y3gr1BBdMqM49uDhX1SD-0p8xkKSTfcCjQrgNM_GdGiWqY6-7Sz8SptI2Q7vIaLJRPiLEhiBpOPXYxsj3LZ2c-GUfTsO3exa4dRRH55yXqw5biXqNrT6Fhso_hCQx80Y7LfVfFaAn4tm6P0dPgWhHK0gfwsWMhHAoGiDeTM4ior_qxmsIoym4yKWO39ujarA"
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/2114062419/5894c85c95884c0b8b809b8e32ef4ed2/unwrapKey?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "gZgS61_QW7mmFyU-HiheNPJ78LIq3TqC-_8M3E17wEBfJanxMkuZYT1btaRJx9bI9EfFY81afF-fklbVUWWFtZaP9VrgE_PNJlNW3AwbGnXUYQb-_UnrQB5-f8g8moJ20NGIPXYEfmPVBBgFV04lr0y3gr1BBdMqM49uDhX1SD-0p8xkKSTfcCjQrgNM_GdGiWqY6-7Sz8SptI2Q7vIaLJRPiLEhiBpOPXYxsj3LZ2c-GUfTsO3exa4dRRH55yXqw5biXqNrT6Fhso_hCQx80Y7LfVfFaAn4tm6P0dPgWhHK0gfwsWMhHAoGiDeTM4ior_qxmsIoym4yKWO39ujarA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/2114062419/5894c85c95884c0b8b809b8e32ef4ed2",
        "value": "sUTn0zW1NFLjqH-kdca7dKeqRpEs2sGtuPy7OOj3VAw"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "89429394"
  }
}
