{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1139700490/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1139700490/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1139700490/30c418eb476d4f1eafd85aaa7d645202",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "xNltcPAUxcTYSzZVMThkJ4JLv-ld1utlb4McKc-Em0lGQdZXOVbKNk8U2JDqFSUxsuZZxHx1IcX2msJSyWtI98iY3-SgQuQFLwSax-O6aXZXVYJxrtXE_g6WlWhqHg2wKdl6jBC4x242tnGuIt5J1dzMEoDIX0yRNWGI0ZKN6JnyojzWZxpEmxOYmEKViq8QZa9Qqii73ZIP-Xy_pO6BFO6Yb6lpC5TQg2C5OgXWhmyFKVlKXhYKmamShccOXRsm556Q6DdO3DQRef5dxkA6MlGIFiKlAT2DdKgbCF_VYvip82XcIb9XvYKPmrWIwccL8bHHsuLM5-GZSjYKq2kuhQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1667323007,
          "updated": 1667323007,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1139700490/30c418eb476d4f1eafd85aaa7d645202/wrapKey?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "h8750P9oGrS5uuIWH6C1c90EukqE79Wztt0bQ1uHNlk"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/1139700490/30c418eb476d4f1eafd85aaa7d645202",
        "value": "PHlYdP1ideOqG03ZfKrUOdrUQlFW7tmGdG-rOYtPHdM25Yvhf01UIcPOFiNsByD8K4rRjD0msXowXL9GrYmQEueG2MhTjkKKU-ER5P1u8YonFR_HhsfB4FapXtdH9YekaKULvriA7jVZBoV5ffFALa9xV4ypeqSOSilei9GSHV7OeJQS72DtI-B32AC42_C672uX5p_GXEbf4NJLoSA-kh15vgrD0Jel58upeYOGDSUTA-Es5zdr6bgdUXBwHjVz48ticSY9XGRl_JewuUADHrc7w0W4hLk7SfJOOdfgbPst-iB5Y7Qdd4tLmoGFaCw3PGBKAMT5tr9jAtvLLukDuw"
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1139700490/30c418eb476d4f1eafd85aaa7d645202/unwrapKey?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "PHlYdP1ideOqG03ZfKrUOdrUQlFW7tmGdG-rOYtPHdM25Yvhf01UIcPOFiNsByD8K4rRjD0msXowXL9GrYmQEueG2MhTjkKKU-ER5P1u8YonFR_HhsfB4FapXtdH9YekaKULvriA7jVZBoV5ffFALa9xV4ypeqSOSilei9GSHV7OeJQS72DtI-B32AC42_C672uX5p_GXEbf4NJLoSA-kh15vgrD0Jel58upeYOGDSUTA-Es5zdr6bgdUXBwHjVz48ticSY9XGRl_JewuUADHrc7w0W4hLk7SfJOOdfgbPst-iB5Y7Qdd4tLmoGFaCw3PGBKAMT5tr9jAtvLLukDuw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/1139700490/30c418eb476d4f1eafd85aaa7d645202",
        "value": "h8750P9oGrS5uuIWH6C1c90EukqE79Wztt0bQ1uHNlk"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1325148939"
  }
}
