{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/706372714/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/706372714/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/706372714/b14a100ffe0b41bda7612535dffc5761",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rAq8nJxzDebrKllVrCi8PpCSxeKzAKQ8X2xLc2IhskhcfW-NaLLHjE5Casznw5uRh0jQvVRII2rxEvKRslYYmZKuzrvlh8Z_sxG7vHbES2AK-A6iTihbN6IPYz_1muKh76-ST7ICrBCYDrY3am1SRqS6bq_KSVOiYoX_EH71-XSEbUSNqKq2aIiqnZzgu50Jcsg2nVPv7hjXeiLbicRs0av0g2e2K-Rzbb5WQq2QqYiTfeJTjvb1m0iwsEHiqkU2XmRrfpBLmb9SPLZXSObw0nP2aMLDMg-86AtsD7hL_q1i-TIzYcerxqdC6ci10nWjzoRPwT3wFJXzmTPqMB3KiQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1613784997,
          "updated": 1613784997,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/706372714/b14a100ffe0b41bda7612535dffc5761/wrapKey?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "72NOzu6PqMKhxQvp2T_9sPKiQG-8SFZ_veqYQT1h7Xw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/706372714/b14a100ffe0b41bda7612535dffc5761",
        "value": "g26nsWMtuCXGRMhKk-kBH2_lnWJVrJ7ytnvuhj11noA_QxWYTHJNmhpVlLQ9wb0fgzP1QpnaoiBh9F4qMq0QldxddY3RfhN02tmEdSSAkKhdDnsCEvJolmYoGhKfTJGkDqDUk850I7ld9T0QnHqFh2q_loWTXi79-hxggO8MVidczEviUgPKozxfLErMirK2-A-dtJfRThqZd03hyR8xZyIttVelYILG8pGzKPu8Xb9VimRiwc0xv2e3cxrRrm63q6i4eFC8X8lceNuBhjCylpX-ANyBBhcJiggK2mKWg64amtd5Z0-y4TWdOW1FitK7da5Ud4cngJYD7-s9t4vO8w"
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/706372714/b14a100ffe0b41bda7612535dffc5761/unwrapKey?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "g26nsWMtuCXGRMhKk-kBH2_lnWJVrJ7ytnvuhj11noA_QxWYTHJNmhpVlLQ9wb0fgzP1QpnaoiBh9F4qMq0QldxddY3RfhN02tmEdSSAkKhdDnsCEvJolmYoGhKfTJGkDqDUk850I7ld9T0QnHqFh2q_loWTXi79-hxggO8MVidczEviUgPKozxfLErMirK2-A-dtJfRThqZd03hyR8xZyIttVelYILG8pGzKPu8Xb9VimRiwc0xv2e3cxrRrm63q6i4eFC8X8lceNuBhjCylpX-ANyBBhcJiggK2mKWg64amtd5Z0-y4TWdOW1FitK7da5Ud4cngJYD7-s9t4vO8w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/706372714/b14a100ffe0b41bda7612535dffc5761",
        "value": "72NOzu6PqMKhxQvp2T_9sPKiQG-8SFZ_veqYQT1h7Xw"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "831496493"
  }
}