{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11983"
      },
      "ResponseBody": {
        "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "ad44cbb7-4f0b-47b4-97bd-be70a5b1e681"
          }
        ],
        "subscriptionId": "ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "HCI IDC Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourcegroups/hci-cluster-rg4088?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1177"
      },
      "ResponseBody": {
        "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg4088",
        "name": "hci-cluster-rg4088",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg4088/providers/Microsoft.AzureStackHCI/clusters/hci-cluster1456?api-version=2023-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "aadClientId": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "aadTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "identity": {
          "type": "None"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e501e0f8-0000-0100-0000-642be6b40000\u0022",
        "mise-correlation-id": "f8777cad-5134-4e6f-9809-df903b16c3a4",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1176"
      },
      "ResponseBody": {
        "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg4088/providers/Microsoft.AzureStackHCI/clusters/hci-cluster1456",
        "name": "hci-cluster1456",
        "type": "microsoft.azurestackhci/clusters",
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "createdByType": "Application",
          "createdAt": "2023-04-04T08:58:27.607087Z",
          "lastModifiedBy": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-04-04T08:58:27.607087Z"
        },
        "identity": {
          "type": "None"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "status": "NotYetRegistered",
          "cloudId": "d70f2a39-3b12-441c-bff0-0de0902f3133",
          "aadClientId": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "aadTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "softwareAssuranceProperties": {
            "softwareAssuranceStatus": "Disabled",
            "softwareAssuranceIntent": "Disable"
          },
          "desiredProperties": {
            "windowsServerSubscription": "Disabled",
            "diagnosticLevel": "Basic"
          },
          "trialDaysRemaining": 60,
          "billingModel": "Trial",
          "serviceEndpoint": "https://dp.stackhci.azure.com/eastus/",
          "resourceProviderObjectId": "f57be460-ae5d-444a-9317-bbfa416ab4b9"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg4088/providers/Microsoft.AzureStackHCI/clusters?api-version=2023-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "fb718dd6-1671-43b4-b293-a66021e6f377",
          "d56c4d6e-3074-4d99-a2dc-ac8bbc6f7fab",
          "551e6581-d1bf-43d2-95ec-d538a90a0778",
          "0e6b4e34-165b-4bc1-8314-0250df18ee92",
          "82f4f5ad-4c2e-4aab-b07c-a31ba5bd29b7",
          "6b1a8002-70ee-426a-8252-b03bdfb29e21",
          "f5818527-3095-45f6-b672-293a4753dfe0",
          "27a6a25b-4d4f-461d-b18a-77a3848fbd21",
          "d5f28d3c-798f-4ad7-9c56-94caf095e8ca",
          "3a24d40e-a3ee-4f8b-9d3e-edf3d7c7e64e"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11981"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg4088/providers/Microsoft.AzureStackHCI/clusters/hci-cluster1456",
            "name": "hci-cluster1456",
            "type": "microsoft.azurestackhci/clusters",
            "location": "eastus",
            "tags": {},
            "identity": {
              "type": "None"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "status": "NotYetRegistered",
              "cloudId": "d70f2a39-3b12-441c-bff0-0de0902f3133",
              "aadClientId": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
              "aadTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "softwareAssuranceProperties": {
                "softwareAssuranceStatus": "Disabled",
                "softwareAssuranceIntent": "Disable"
              },
              "desiredProperties": {
                "windowsServerSubscription": "Disabled",
                "diagnosticLevel": "Basic"
              },
              "trialDaysRemaining": 60,
              "billingModel": "Trial",
              "serviceEndpoint": "https://dp.stackhci.azure.com/eastus/",
              "resourceProviderObjectId": "f57be460-ae5d-444a-9317-bbfa416ab4b9"
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
    "RandomSeed": "140217580",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}
