{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11980"
      },
      "ResponseBody": {
        "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "HCI IDC Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourcegroups/hci-cluster-rg6980?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1175"
      },
      "ResponseBody": {
        "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg6980",
        "name": "hci-cluster-rg6980",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg6980/providers/Microsoft.AzureStackHCI/clusters/hci-cluster5137?api-version=2023-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "aadClientId": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "aadTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "identity": {
          "type": "None"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e501927b-0000-0100-0000-6424357a0000\u0022",
        "mise-correlation-id": "248e206e-1185-4a0b-a732-edd48511c413",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1174"
      },
      "ResponseBody": {
        "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg6980/providers/Microsoft.AzureStackHCI/clusters/hci-cluster5137",
        "name": "hci-cluster5137",
        "type": "microsoft.azurestackhci/clusters",
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "createdByType": "Application",
          "createdAt": "2023-03-29T12:56:26.2647207Z",
          "lastModifiedBy": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-29T12:56:26.2647207Z"
        },
        "identity": {
          "type": "None"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "status": "NotYetRegistered",
          "cloudId": "d5c20992-0dac-4f6a-b73a-49cc3ce45341",
          "aadClientId": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "aadTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "softwareAssuranceProperties": {
            "softwareAssuranceStatus": "Disabled",
            "softwareAssuranceIntent": "Disable"
          },
          "desiredProperties": {
            "windowsServerSubscription": "Disabled",
            "diagnosticLevel": "Basic"
          },
          "trialDaysRemaining": 60,
          "billingModel": "Trial",
          "serviceEndpoint": "https://dp.stackhci.azure.com/eastus/",
          "resourceProviderObjectId": "f57be460-ae5d-444a-9317-bbfa416ab4b9"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg6980/providers/Microsoft.AzureStackHCI/clusters?api-version=2023-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "1d658e33-d0fb-4246-bcd9-045905ff0611",
          "a0b294e6-474b-41ac-94c7-95d95d498f14",
          "4dbca3a0-4a9b-4846-bfe0-ff3f68257770",
          "202ae29b-9ce5-4683-b1f4-4cd8da8f605d",
          "c9809a51-d041-413a-8a41-c6c46227748f",
          "abe3c868-7172-4363-841f-3bf6789fbb2a",
          "7e003506-28c5-4c82-93db-44e6bc0b0198",
          "6ad2ad9f-b471-42e5-b76a-bbd5a036be90",
          "fc813403-68c1-428f-82dd-3c2185c6aa83"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11978"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg6980/providers/Microsoft.AzureStackHCI/clusters/hci-cluster5137",
            "name": "hci-cluster5137",
            "type": "microsoft.azurestackhci/clusters",
            "location": "eastus",
            "tags": {},
            "identity": {
              "type": "None"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "status": "NotYetRegistered",
              "cloudId": "d5c20992-0dac-4f6a-b73a-49cc3ce45341",
              "aadClientId": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
              "aadTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "softwareAssuranceProperties": {
                "softwareAssuranceStatus": "Disabled",
                "softwareAssuranceIntent": "Disable"
              },
              "desiredProperties": {
                "windowsServerSubscription": "Disabled",
                "diagnosticLevel": "Basic"
              },
              "trialDaysRemaining": 60,
              "billingModel": "Trial",
              "serviceEndpoint": "https://dp.stackhci.azure.com/eastus/",
              "resourceProviderObjectId": "f57be460-ae5d-444a-9317-bbfa416ab4b9"
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
    "RandomSeed": "688837935",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}
