{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "45b60d85-fd72-427a-a708-f994d26e593e",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "AzureStorage_DMStaging_10041369",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourcegroups/testelasticsan?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/testelasticsan",
        "name": "testelasticsan",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/testelasticsan/providers/Microsoft.ElasticSan/elasticSans/testsan1?api-version=2021-11-20-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": {
        "properties": {
          "sku": {
            "name": "Premium_LRS"
          },
          "provisioningState": "Succeeded",
          "baseSizeTiB": 2,
          "extendedCapacitySizeTiB": 7,
          "totalIops": 10000,
          "totalMBps": 160,
          "totalSizeTiB": 9,
          "volumeGroupCount": 5,
          "totalVolumeSizeGiB": 600
        },
        "location": "southcentralusstg",
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/testelasticsan/providers/Microsoft.ElasticSan/elasticSans/testsan1",
        "name": "testsan1",
        "type": "Microsoft.ElasticSan/ElasticSans",
        "tags": {
          "tag3": "val3"
        },
        "systemData": {
          "createdAt": "2022-09-21T05:34:41.8156679Z",
          "createdBy": "a000255f-5f09-45e0-a970-9d9ed9cc6453",
          "createdByType": "Application",
          "lastModifiedAt": "2022-09-21T05:43:23.8791771Z",
          "lastModifiedBy": "a000255f-5f09-45e0-a970-9d9ed9cc6453",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/testelasticsan/providers/Microsoft.ElasticSan/elasticSans/testsan1/volumegroups/testvolgroup-3857?api-version=2021-11-20-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.ElasticSan/locations/southcentralusstg/asyncoperations/c4320000-c779-47be-97f5-473fa6449824?monitor=true\u0026api-version=2021-11-20-preview",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Creating",
          "protocolType": "iSCSI",
          "encryption": "EncryptionAtRestWithPlatformKey"
        },
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/testelasticsan/providers/Microsoft.ElasticSan/elasticSans/testsan1/volumegroups/testvolgroup-3857",
        "name": "testvolgroup-3857",
        "type": "Microsoft.ElasticSan/ElasticSans",
        "systemData": {
          "createdAt": "2022-09-21T05:47:36.3149489Z",
          "createdBy": "a000255f-5f09-45e0-a970-9d9ed9cc6453",
          "createdByType": "Application",
          "lastModifiedAt": "2022-09-21T05:47:36.3149489Z",
          "lastModifiedBy": "a000255f-5f09-45e0-a970-9d9ed9cc6453",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.ElasticSan/locations/southcentralusstg/asyncoperations/c4320000-c779-47be-97f5-473fa6449824?monitor=true\u0026api-version=2021-11-20-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11986"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "protocolType": "iSCSI",
          "encryption": "EncryptionAtRestWithPlatformKey"
        },
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/testelasticsan/providers/Microsoft.ElasticSan/elasticSans/testsan1/volumegroups/testvolgroup-3857",
        "name": "testvolgroup-3857",
        "type": "Microsoft.ElasticSan/ElasticSans",
        "systemData": {
          "createdAt": "2022-09-21T05:47:36.3149489Z",
          "createdBy": "a000255f-5f09-45e0-a970-9d9ed9cc6453",
          "createdByType": "Application",
          "lastModifiedAt": "2022-09-21T05:47:36.3149489Z",
          "lastModifiedBy": "a000255f-5f09-45e0-a970-9d9ed9cc6453",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/testelasticsan/providers/Microsoft.ElasticSan/elasticSans/testsan1/volumegroups/testvolgroup-3857/volumes/testvolume-2123?api-version=2021-11-20-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "sizeGiB": 100
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.ElasticSan/locations/southcentralusstg/asyncoperations/77a44824-4131-4a0b-a13b-b6418f804e31?monitor=true\u0026api-version=2021-11-20-preview",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "properties": {
          "creationData": {
            "createSource": "None"
          },
          "sizeGiB": 100,
          "storageTarget": {
            "provisioningState": "Creating",
            "status": "Pending"
          },
          "volumeId": "28144bad-2b05-4240-b172-c6a16c1767c9"
        },
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/testelasticsan/providers/Microsoft.ElasticSan/elasticSans/testsan1/volumegroups/testvolgroup-3857/volumes/testvolume-2123",
        "name": "testvolume-2123",
        "type": "Microsoft.ElasticSan/ElasticSans",
        "systemData": {
          "createdAt": "2022-09-21T05:47:37.283725Z",
          "createdBy": "a000255f-5f09-45e0-a970-9d9ed9cc6453",
          "createdByType": "Application",
          "lastModifiedAt": "2022-09-21T05:47:37.283725Z",
          "lastModifiedBy": "a000255f-5f09-45e0-a970-9d9ed9cc6453",
          "lastModifiedByType": "Application"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.ElasticSan/locations/southcentralusstg/asyncoperations/77a44824-4131-4a0b-a13b-b6418f804e31?monitor=true\u0026api-version=2021-11-20-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11980"
      },
      "ResponseBody": {
        "properties": {
          "creationData": {
            "createSource": "None"
          },
          "sizeGiB": 100,
          "storageTarget": {
            "targetIqn": "iqn.2022-09.net.windows.core.blob.ElasticSan.es-usk01gvcwaq0:testvolume-2123",
            "provisioningState": "Succeeded",
            "status": "Running",
            "targetPortalHostname": "es-usk01gvcwaq0.z17.blob.storage.azure.net",
            "targetPortalPort": 3260
          },
          "volumeId": "28144bad-2b05-4240-b172-c6a16c1767c9"
        },
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/testelasticsan/providers/Microsoft.ElasticSan/elasticSans/testsan1/volumegroups/testvolgroup-3857/volumes/testvolume-2123",
        "name": "testvolume-2123",
        "type": "Microsoft.ElasticSan/ElasticSans",
        "systemData": {
          "createdAt": "2022-09-21T05:47:37.283725Z",
          "createdBy": "a000255f-5f09-45e0-a970-9d9ed9cc6453",
          "createdByType": "Application",
          "lastModifiedAt": "2022-09-21T05:47:37.283725Z",
          "lastModifiedBy": "a000255f-5f09-45e0-a970-9d9ed9cc6453",
          "lastModifiedByType": "Application"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/testelasticsan/providers/Microsoft.ElasticSan/elasticSans/testsan1/volumegroups/testvolgroup-3857/volumes/testvolume-2123111?api-version=2021-11-20-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11978"
      },
      "ResponseBody": {
        "error": {
          "code": "VolumeNotFound",
          "message": "Volume testvolume-2123111 not found."
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "415483848",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "45b60d85-fd72-427a-a708-f994d26e593e"
  }
}
