{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testaksrg9350?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testaksrg9350",
        "name": "testaksrg9350",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testaksrg9350/providers/Microsoft.ContainerService/managedClusters/akscluster3800?api-version=2022-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "SystemAssigned"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "dnsPrefix": "aksdotnetsdk",
          "agentPoolProfiles": [
            {
              "name": "aksagent",
              "count": 1,
              "vmSize": "Standard_D2s_v3",
              "mode": "System"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.ContainerService/locations/eastus/operations/85194dc1-4d9f-4881-994f-a7c2fea19c8b?api-version=2017-08-31",
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testaksrg9350/providers/Microsoft.ContainerService/managedClusters/akscluster3800",
        "location": "eastus",
        "name": "akscluster3800",
        "type": "Microsoft.ContainerService/ManagedClusters",
        "properties": {
          "provisioningState": "Creating",
          "powerState": {
            "code": "Running"
          },
          "kubernetesVersion": "1.22.11",
          "currentKubernetesVersion": "1.22.11",
          "dnsPrefix": "aksdotnetsdk",
          "fqdn": "aksdotnetsdk-297bf574.hcp.eastus.azmk8s.io",
          "azurePortalFQDN": "aksdotnetsdk-297bf574.portal.hcp.eastus.azmk8s.io",
          "agentPoolProfiles": [
            {
              "name": "aksagent",
              "count": 1,
              "vmSize": "Standard_D2s_v3",
              "osDiskSizeGB": 128,
              "osDiskType": "Managed",
              "kubeletDiskType": "OS",
              "maxPods": 110,
              "type": "VirtualMachineScaleSets",
              "provisioningState": "Creating",
              "powerState": {
                "code": "Running"
              },
              "orchestratorVersion": "1.22.11",
              "currentOrchestratorVersion": "1.22.11",
              "mode": "System",
              "osType": "Linux",
              "osSKU": "Ubuntu",
              "nodeImageVersion": "AKSUbuntu-1804gen2containerd-2022.07.28",
              "enableFIPS": false
            }
          ],
          "servicePrincipalProfile": {
            "clientId": "msi"
          },
          "nodeResourceGroup": "MC_testaksrg9350_akscluster3800_eastus",
          "enableRBAC": true,
          "networkProfile": {
            "networkPlugin": "kubenet",
            "loadBalancerSku": "standard",
            "loadBalancerProfile": {
              "managedOutboundIPs": {
                "count": 1
              }
            },
            "podCidr": "10.244.0.0/16",
            "serviceCidr": "10.0.0.0/16",
            "dnsServiceIP": "10.0.0.10",
            "dockerBridgeCidr": "172.17.0.1/16",
            "outboundType": "loadBalancer",
            "podCidrs": [
              "10.244.0.0/16"
            ],
            "serviceCidrs": [
              "10.0.0.0/16"
            ],
            "ipFamilies": [
              "IPv4"
            ]
          },
          "maxAgentPools": 100,
          "securityProfile": {},
          "storageProfile": {
            "diskCSIDriver": {
              "enabled": true
            },
            "fileCSIDriver": {
              "enabled": true
            },
            "snapshotController": {
              "enabled": true
            }
          }
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "e63f7523-e06f-4eef-a91b-1b455be0b7fd",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "sku": {
          "name": "Basic",
          "tier": "Free"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.ContainerService/locations/eastus/operations/85194dc1-4d9f-4881-994f-a7c2fea19c8b?api-version=2017-08-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "name": "c14d1985-9f4d-8148-994f-a7c2fea19c8b",
        "status": "InProgress",
        "startTime": "2022-08-19T06:37:18.6929995Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.ContainerService/locations/eastus/operations/85194dc1-4d9f-4881-994f-a7c2fea19c8b?api-version=2017-08-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "name": "c14d1985-9f4d-8148-994f-a7c2fea19c8b",
        "status": "Succeeded",
        "startTime": "2022-08-19T06:37:18.6929995Z",
        "endTime": "2022-08-19T06:43:38.5451597Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testaksrg9350/providers/Microsoft.ContainerService/managedClusters?api-version=2022-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testaksrg9350/providers/Microsoft.ContainerService/managedClusters/akscluster3800",
            "location": "eastus",
            "name": "akscluster3800",
            "type": "Microsoft.ContainerService/ManagedClusters",
            "properties": {
              "provisioningState": "Succeeded",
              "powerState": {
                "code": "Running"
              },
              "kuber[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testaksrg9350/providers/Microsoft.ContainerService/managedClusters/akscluster3800?api-version=2022-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.ContainerService/locations/eastus/operations/660435d2-1ffd-433b-9e98-57cac06052cc?api-version=2017-08-31",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.ContainerService/locations/eastus/operationresults/660435d2-1ffd-433b-9e98-57cac06052cc?api-version=2017-08-31",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.ContainerService/locations/eastus/operations/660435d2-1ffd-433b-9e98-57cac06052cc?api-version=2017-08-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "name": "d2350466-fd1f-3b43-9e98-57cac06052cc",
        "status": "Succeeded",
        "startTime": "2022-08-19T06:44:03.4151524Z",
        "endTime": "2022-08-19T06:50:43.2305601Z"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "51256539",
    "RESOURCE_MANAGER_URL": "https://management.azure.com",
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
