{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testaksrg7320?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testaksrg7320",
        "name": "testaksrg7320",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testaksrg7320/providers/Microsoft.ContainerService/managedClusters/akscluster4738?api-version=2022-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "SystemAssigned"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "dnsPrefix": "aksdotnetsdk",
          "agentPoolProfiles": [
            {
              "name": "aksagent",
              "count": 1,
              "vmSize": "Standard_D2s_v3",
              "mode": "System"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.ContainerService/locations/eastus/operations/355f2942-0d6e-4bdc-af81-fd21b82f0795?api-version=2017-08-31",
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testaksrg7320/providers/Microsoft.ContainerService/managedClusters/akscluster4738",
        "location": "eastus",
        "name": "akscluster4738",
        "type": "Microsoft.ContainerService/ManagedClusters",
        "properties": {
          "provisioningState": "Creating",
          "powerState": {
            "code": "Running"
          },
          "kubernetesVersion": "1.22.11",
          "currentKubernetesVersion": "1.22.11",
          "dnsPrefix": "aksdotnetsdk",
          "fqdn": "aksdotnetsdk-19e20a04.hcp.eastus.azmk8s.io",
          "azurePortalFQDN": "aksdotnetsdk-19e20a04.portal.hcp.eastus.azmk8s.io",
          "agentPoolProfiles": [
            {
              "name": "aksagent",
              "count": 1,
              "vmSize": "Standard_D2s_v3",
              "osDiskSizeGB": 128,
              "osDiskType": "Managed",
              "kubeletDiskType": "OS",
              "maxPods": 110,
              "type": "VirtualMachineScaleSets",
              "provisioningState": "Creating",
              "powerState": {
                "code": "Running"
              },
              "orchestratorVersion": "1.22.11",
              "currentOrchestratorVersion": "1.22.11",
              "mode": "System",
              "osType": "Linux",
              "osSKU": "Ubuntu",
              "nodeImageVersion": "AKSUbuntu-1804gen2containerd-2022.07.28",
              "enableFIPS": false
            }
          ],
          "servicePrincipalProfile": {
            "clientId": "msi"
          },
          "nodeResourceGroup": "MC_testaksrg7320_akscluster4738_eastus",
          "enableRBAC": true,
          "networkProfile": {
            "networkPlugin": "kubenet",
            "loadBalancerSku": "standard",
            "loadBalancerProfile": {
              "managedOutboundIPs": {
                "count": 1
              }
            },
            "podCidr": "10.244.0.0/16",
            "serviceCidr": "10.0.0.0/16",
            "dnsServiceIP": "10.0.0.10",
            "dockerBridgeCidr": "172.17.0.1/16",
            "outboundType": "loadBalancer",
            "podCidrs": [
              "10.244.0.0/16"
            ],
            "serviceCidrs": [
              "10.0.0.0/16"
            ],
            "ipFamilies": [
              "IPv4"
            ]
          },
          "maxAgentPools": 100,
          "securityProfile": {},
          "storageProfile": {
            "diskCSIDriver": {
              "enabled": true
            },
            "fileCSIDriver": {
              "enabled": true
            },
            "snapshotController": {
              "enabled": true
            }
          }
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "96eda43a-3386-430b-a7da-2f996a7a552d",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "sku": {
          "name": "Basic",
          "tier": "Free"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.ContainerService/locations/eastus/operations/355f2942-0d6e-4bdc-af81-fd21b82f0795?api-version=2017-08-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "name": "42295f35-6e0d-dc4b-af81-fd21b82f0795",
        "status": "InProgress",
        "startTime": "2022-08-19T06:52:38.0288651Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.ContainerService/locations/eastus/operations/355f2942-0d6e-4bdc-af81-fd21b82f0795?api-version=2017-08-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "name": "42295f35-6e0d-dc4b-af81-fd21b82f0795",
        "status": "Succeeded",
        "startTime": "2022-08-19T06:52:38.0288651Z",
        "endTime": "2022-08-19T06:57:58.1376801Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testaksrg7320/providers/Microsoft.ContainerService/managedClusters?api-version=2022-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testaksrg7320/providers/Microsoft.ContainerService/managedClusters/akscluster4738",
            "location": "eastus",
            "name": "akscluster4738",
            "type": "Microsoft.ContainerService/ManagedClusters",
            "properties": {
              "provisioningState": "Succeeded",
              "powerState": {
                "code": "Running"
              },
              "kuber[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testaksrg7320/providers/Microsoft.ContainerService/managedClusters/akscluster4738?api-version=2022-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.ContainerService/locations/eastus/operations/e689d5f5-df17-4012-b245-e6ededabc052?api-version=2017-08-31",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.ContainerService/locations/eastus/operationresults/e689d5f5-df17-4012-b245-e6ededabc052?api-version=2017-08-31",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.ContainerService/locations/eastus/operations/e689d5f5-df17-4012-b245-e6ededabc052?api-version=2017-08-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11980"
      },
      "ResponseBody": {
        "name": "f5d589e6-17df-1240-b245-e6ededabc052",
        "status": "Succeeded",
        "startTime": "2022-08-19T06:58:13.1723068Z",
        "endTime": "2022-08-19T07:02:49.5107538Z"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "355741830",
    "RESOURCE_MANAGER_URL": "https://management.azure.com",
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
