{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "8409"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590",
            "authorizationSource": "RoleBased",
            "managedByTenants": [
              {
                "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
              }
            ],
            "tags": {},
            "subscriptionId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590",
            "tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
            "displayName": "AzureSDKTest",
            "state": "Enabled",
            "subscriptionPolicies": {
              "locationPlacementId": "Internal_2014-09-01",
              "quotaId": "Internal_2014-09-01",
              "spendingLimit": "Off"
            }
          }
        ],
        "count": {
          "type": "Total",
          "value": 1
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1061743549",
    "SUBSCRIPTION_ID": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"
  }
}