{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-ad36babf-950a-d8cf-356d-e18f3eed91c3?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 23:11:57 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3D654061FDA\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:11:57 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-ad36babf-950a-d8cf-356d-e18f3eed91c3/test-blob-aa4a19f3-9f64-c1da-b9d9-ea4c9be2666d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 09 Nov 2021 23:11:57 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3D654104B62\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:11:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-11-09T23:11:57.8318690Z",
        "x-ms-file-creation-time": "2021-11-09T23:11:57.8318690Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-11-09T23:11:57.8318690Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-ad36babf-950a-d8cf-356d-e18f3eed91c3/test-blob-aa4a19f3-9f64-c1da-b9d9-ea4c9be2666d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 09 Nov 2021 23:11:57 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10",
        "x-ms-write": "update"
      },
      "RequestBody": "QtFXePQQIB9XFRrM/WDN8fkGUkUDIYQQRYY78WHkCcWQTys57PvmLNjKGCiPgmaqBU2FEHpmRSBNRjJt1C69cgxVPK40lAT9ICVtOAlcgcMfkOwUXvhKKgoL66XJeFepDKUbOUa4dXFIiPBU\u002BQwX8MVvTUNCqRQTCxGkKaheNKfOwytjQEd8Zxt6y9YI9TH98/vgWioTZ2ORBy40FEzI6lRJhjXhs7B\u002B8uYox949CxXgpzWtftp8ulzI0TgZSFPOsuGCv277G0BKYmdE6p\u002BEU/wYVGwWG2x6zMzZGeJ3ZaqSWhX9u0ym5Iv1YhtyOM\u002B8Q308APPmuJZ1B/KiIQJe0/28sZCKh5ivcXDhIblQB5T9HdVkOmS3rKF/iLRZBMKJl44etYY\u002BMrvljY6DBZfdJABepAQs\u002BpiYBQTuCv/jVW2tV[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-ad36babf-950a-d8cf-356d-e18f3eed91c3/test-blob-aa4a19f3-9f64-c1da-b9d9-ea4c9be2666d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 23:11:57 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3D65422712C\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:11:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-11-09T23:11:57.8318690Z",
        "x-ms-file-creation-time": "2021-11-09T23:11:57.8318690Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-11-09T23:11:57.8318690Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-ad36babf-950a-d8cf-356d-e18f3eed91c3/test-blob-aa4a19f3-9f64-c1da-b9d9-ea4c9be2666d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 23:11:58 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3D65422712C\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:11:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-11-09T23:11:57.8318690Z",
        "x-ms-file-creation-time": "2021-11-09T23:11:57.8318690Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-11-09T23:11:57.8318690Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": "QtFXePQQIB9XFRrM/WDN8fkGUkUDIYQQRYY78WHkCcWQTys57PvmLNjKGCiPgmaqBU2FEHpmRSBNRjJt1C69cgxVPK40lAT9ICVtOAlcgcMfkOwUXvhKKgoL66XJeFepDKUbOUa4dXFIiPBU\u002BQwX8MVvTUNCqRQTCxGkKaheNKc="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-ad36babf-950a-d8cf-356d-e18f3eed91c3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 23:11:58 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1716849773",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}