{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-b42b4fb7-7373-e61d-6a11-87e37c30ebfc?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 23:11:48 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3D64E9D6A2D\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:11:48 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-b42b4fb7-7373-e61d-6a11-87e37c30ebfc/test-blob-f0af1d8b-cd25-1da1-f149-9be3d79740da",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 09 Nov 2021 23:11:48 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3D64EA795A4\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:11:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-11-09T23:11:48.7570340Z",
        "x-ms-file-creation-time": "2021-11-09T23:11:48.7570340Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-11-09T23:11:48.7570340Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-b42b4fb7-7373-e61d-6a11-87e37c30ebfc/test-blob-f0af1d8b-cd25-1da1-f149-9be3d79740da?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 09 Nov 2021 23:11:48 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10",
        "x-ms-write": "update"
      },
      "RequestBody": "2mHfzYHipViQfF6AJLFdn0OkkCeuFRN6xZMdBMti5s/8OpEo6gBgcK8oRmugJ/Y3efMZI/bOZMVNZQfuxKCNLpaPg\u002BogNbVCRB93hs6o2p6d5YvYSMPZLdXL2oT5cqsPmhjVEKMLF0Q\u002B197WV932pItpUd8VtebStVYUVVowSdFzaOy208n6kc5GmnDkA9b31DX5jyHM\u002BuUyAltN9sHpDY0NYu7xQNHCb78Qzht17bJ/HYAkNrmwp24HhNBtrJoMXIzj16DoBpRkNiBhvCvKvRSoztlBxdbUXLuA6rsAVMIlA3GOkhYRlxfrwACZTutCPce7xd7Ay5e1DnrlaBvYY\u002BFePLi6Oyr\u002BlzfCVQTWOg7PPa30RI/kZTjZ2YObKy77El0eOxIyiAGcvS2m/XWS3tRsFSpu5B5RedZ/4GGnY2sIx0Knt/[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-b42b4fb7-7373-e61d-6a11-87e37c30ebfc/test-blob-f0af1d8b-cd25-1da1-f149-9be3d79740da",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 23:11:48 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3D64EBAF3C8\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:11:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-11-09T23:11:48.7570340Z",
        "x-ms-file-creation-time": "2021-11-09T23:11:48.7570340Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-11-09T23:11:48.7570340Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-b42b4fb7-7373-e61d-6a11-87e37c30ebfc?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 23:11:48 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1384634175",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}