{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-4ed108d8-7ee3-a045-61f4-74d0a59965a5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 23:12:10 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3D65BE8C7E6\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:12:10 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-4ed108d8-7ee3-a045-61f4-74d0a59965a5/test-blob-508c3890-5c8e-68a4-b81e-47f1ac35e918",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 09 Nov 2021 23:12:11 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3D65BF38FAB\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:12:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-11-09T23:12:11.0653355Z",
        "x-ms-file-creation-time": "2021-11-09T23:12:11.0653355Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-11-09T23:12:11.0653355Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-4ed108d8-7ee3-a045-61f4-74d0a59965a5/test-blob-508c3890-5c8e-68a4-b81e-47f1ac35e918?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 09 Nov 2021 23:12:11 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10",
        "x-ms-write": "update"
      },
      "RequestBody": "qzYAjxgAmEw1\u002BSLKLeHHtXUjILqvDCdYgURpQsOglImqwriirO84r1KdI4RwzzzvRxO8IIO0358OqA7UllWJlWWYH2ooJAiG63BnEumi57EIefuv43MG9uIZkwThYxj8FI0f17DRxyILNjQSTc21a8BdzB1a2bLxkimID5AEpYdXav1cgxAANrLYpKw\u002B86kVYydDhJf7ojrbLkSHSbiSBpGtuuLQWeiwXJVrgjUFsp\u002BAcqtowSDwXMjCgFXLeez6Rp0bkTnGRQo/kygBkCAF1XulB9YNKUVwvF4aDdiT5OKpcDuX6SFmuS2gKS347sunvavaJnIV7BxYqtXarDcyq65FWB/kbetaP02obP8XeM2Sck8tub5wk4MfPz9Liw31bn1/s5asw1C/f\u002BckbIAdQDIHSDnoBfLv1cSbxS2sDrNAs/6Bl8Q35a/[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-4ed108d8-7ee3-a045-61f4-74d0a59965a5/test-blob-508c3890-5c8e-68a4-b81e-47f1ac35e918",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 23:12:11 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3D65C101434\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:12:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-11-09T23:12:11.0653355Z",
        "x-ms-file-creation-time": "2021-11-09T23:12:11.0653355Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-11-09T23:12:11.0653355Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-4ed108d8-7ee3-a045-61f4-74d0a59965a5/test-blob-508c3890-5c8e-68a4-b81e-47f1ac35e918",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 23:12:11 GMT",
        "x-ms-range": "bytes=0-156",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-156/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3D65C101434\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:12:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-11-09T23:12:11.0653355Z",
        "x-ms-file-creation-time": "2021-11-09T23:12:11.0653355Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-11-09T23:12:11.0653355Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": "qzYAjxgAmEw1\u002BSLKLeHHtXUjILqvDCdYgURpQsOglImqwriirO84r1KdI4RwzzzvRxO8IIO0358OqA7UllWJlWWYH2ooJAiG63BnEumi57EIefuv43MG9uIZkwThYxj8FI0f17DRxyILNjQSTc21a8BdzB1a2bLxkimID5AEpYdXav1cgxAANrLYpKw\u002B86kVYydDhJf7ojrbLkSHSQ=="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-4ed108d8-7ee3-a045-61f4-74d0a59965a5?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 23:12:11 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1463574153",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}