{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-5295665a-373b-3b6e-4c8c-e38772e4383c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 23:11:47 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3D64E0E8570\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:11:47 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-5295665a-373b-3b6e-4c8c-e38772e4383c/test-blob-8ad7a7d6-0c10-f931-353e-9364e4f6471a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 09 Nov 2021 23:11:47 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3D64E197423\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:11:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-11-09T23:11:47.8255651Z",
        "x-ms-file-creation-time": "2021-11-09T23:11:47.8255651Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-11-09T23:11:47.8255651Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-5295665a-373b-3b6e-4c8c-e38772e4383c/test-blob-8ad7a7d6-0c10-f931-353e-9364e4f6471a?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 09 Nov 2021 23:11:47 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10",
        "x-ms-write": "update"
      },
      "RequestBody": "gN14\u002BEiZDCYtlKiHDOMbq7tDQrRIw/RUTa1hF/RfUldy8QpBKNhYq7F1R7OsuqNZuZMeag\u002BN8bzpJKubOPUxzkJRFRvY2YLj65cC03tAqJMJB11gQedI5f9NWAQtvHK8Q3lxWqWIgd8QOn93ih5BqXwYkTGX0IxaCTAbi4F\u002Bti4lRo8Czk3ugIZ\u002BUAZo0VrhDK\u002BIFSpAJHPsF1F0bfVekoRQUUOOP9ouKRCrGICG8jfVOn7S9qAD5CEcFbf7eROQIL2CF38WUs3UWesalQvyZiQZnzJ3jJvjTGwicikjM7D9G/jCBNq4vuex/Z216U8WKa6S4drgGJQhnssS9OCjsSU6HHoTL2JKYeBLxo7\u002BLWIdC0h6kFLWHAJkoGUPpskHDUx3eszUAvlMSH/5lVIFI3Bo9OiXKCDSZAB4ro79OrsXQ[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-5295665a-373b-3b6e-4c8c-e38772e4383c/test-blob-8ad7a7d6-0c10-f931-353e-9364e4f6471a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 23:11:47 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3D64E2DBC7E\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:11:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-11-09T23:11:47.8255651Z",
        "x-ms-file-creation-time": "2021-11-09T23:11:47.8255651Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-11-09T23:11:47.8255651Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-5295665a-373b-3b6e-4c8c-e38772e4383c/test-blob-8ad7a7d6-0c10-f931-353e-9364e4f6471a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 23:11:48 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3D64E2DBC7E\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:11:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-11-09T23:11:47.8255651Z",
        "x-ms-file-creation-time": "2021-11-09T23:11:47.8255651Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-11-09T23:11:47.8255651Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": "gN14\u002BEiZDCYtlKiHDOMbq7tDQrRIw/RUTa1hF/RfUldy8QpBKNhYq7F1R7OsuqNZuZMeag\u002BN8bzpJKubOPUxzkJRFRvY2YLj65cC03tAqJMJB11gQedI5f9NWAQtvHK8Q3lxWqWIgd8QOn93ih5BqXwYkTGX0IxaCTAbi4F\u002Bti4="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-5295665a-373b-3b6e-4c8c-e38772e4383c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 23:11:48 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1295577230",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}