{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-f06d56f1-6bbc-68bb-8d8f-071124453988?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 23:12:21 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3D6620EE580\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:12:21 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-f06d56f1-6bbc-68bb-8d8f-071124453988/test-blob-1fbe3c5d-d608-3fc1-3b88-6309a25b61c3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 09 Nov 2021 23:12:21 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3D662193845\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:12:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-11-09T23:12:21.3784645Z",
        "x-ms-file-creation-time": "2021-11-09T23:12:21.3784645Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-11-09T23:12:21.3784645Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-f06d56f1-6bbc-68bb-8d8f-071124453988/test-blob-1fbe3c5d-d608-3fc1-3b88-6309a25b61c3?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 09 Nov 2021 23:12:21 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10",
        "x-ms-write": "update"
      },
      "RequestBody": "FZuVpj3IEHkU2CnHVGHAfAZA7l5c98q3vAbnkyRvI03cUUUMe\u002BOJWrVwLeVRHRYMidbLMIu6aR3Q3ek24X1UpLXc6gMctAAjt5Op68nlZp/w2gpOo/LBIecnO575Unk4HIkvdTIT8NTVqHn4EH5T63dKRgZyBQDDGskb9HhiKmQZcc9AtvBs3ek2ePt5yRFp01AmrgxzxRaIbFpp9/xbcn4U3p\u002BuEjWG3WkdPIwFSVC4siAoO3tYpqy5uEmVA\u002BXt2gZ8ZOtxusEboNCiVoiJgyIJsUTbMzYDvDfz9Vrr8NqDL2KGiOVlRvdfDZuqtVAjLzQni1GhEafPeaezfsVmL6/2HyYmAvs8pGtMfCaaWAfn0MUmxGSI4h27tw4\u002Bsscy\u002Bd3stJYq/Cw56ufmVJWANCGgzK7/P2tKbTwIa0vt/vGjGoJJrq[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-f06d56f1-6bbc-68bb-8d8f-071124453988/test-blob-1fbe3c5d-d608-3fc1-3b88-6309a25b61c3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 23:12:21 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3D6622BAC20\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:12:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-11-09T23:12:21.3784645Z",
        "x-ms-file-creation-time": "2021-11-09T23:12:21.3784645Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-11-09T23:12:21.3784645Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-f06d56f1-6bbc-68bb-8d8f-071124453988/test-blob-1fbe3c5d-d608-3fc1-3b88-6309a25b61c3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 23:12:21 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3D6622BAC20\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:12:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-11-09T23:12:21.3784645Z",
        "x-ms-file-creation-time": "2021-11-09T23:12:21.3784645Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-11-09T23:12:21.3784645Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": "FZuVpj3IEHkU2CnHVGHAfAZA7l5c98q3vAbnkyRvI03cUUUMe\u002BOJWrVwLeVRHRYMidbLMIu6aR3Q3ek24X1UpLXc6gMctAAjt5Op68nlZp/w2gpOo/LBIecnO575Unk4HIkvdTIT8NTVqHn4EH5T63dKRgZyBQDDGskb9HhiKmQ="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-f06d56f1-6bbc-68bb-8d8f-071124453988?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 23:12:22 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1210298533",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}