{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a8ac2851-8a4c-613a-8920-96684d903acf?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 23:11:27 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3D642363081\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:11:27 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a8ac2851-8a4c-613a-8920-96684d903acf/test-blob-8fbd3499-2477-5012-31ab-28bd7b8a2bf8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 09 Nov 2021 23:11:28 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3D6425FC661\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:11:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-11-09T23:11:28.1537633Z",
        "x-ms-file-creation-time": "2021-11-09T23:11:28.1537633Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-11-09T23:11:28.1537633Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a8ac2851-8a4c-613a-8920-96684d903acf/test-blob-8fbd3499-2477-5012-31ab-28bd7b8a2bf8?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 09 Nov 2021 23:11:28 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10",
        "x-ms-write": "update"
      },
      "RequestBody": "k7a2Y0nGOZ1oeqH4o2hIL6HGkz7/Hv3Gwz0GBLth8rkYSD5ioxuGDtTzs1c3Gd\u002BXUsi8eLr9nnW58J8MvzXhBofo4Fsp5oyGQIVpDGqmjqldb7HypXr\u002BGqnJqbN7ek6eEazPTzmEbWw8NTg0k5EKEmH1rlCE72EN6cWxYD3YCsU2y/u91j5w2QFEtm9CyocXvpZRhsz9GiFLwmZz0gwvYyty/siWTDwjhdVOPznxyx8\u002BmqGmh4T5OLDZchTY/Ab0FVJEz8u/gXFaLQD2rtroWfdGNThriNymeMUXvNonSonOWinmrPtTfxgvTFmEAonW8BgdkcbNiY12nVYGp8SXMuN3KFSwAaz787YfOzuCInY7QczBCrnCANCccA\u002BlTNdUmBp2DNo1Je5rIp4Qrk5R83vgy2b41icqtCeEE5GdVabey6MhCxWbBRz[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a8ac2851-8a4c-613a-8920-96684d903acf/test-blob-8fbd3499-2477-5012-31ab-28bd7b8a2bf8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 23:11:28 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3D642745CCD\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:11:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-11-09T23:11:28.1537633Z",
        "x-ms-file-creation-time": "2021-11-09T23:11:28.1537633Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-11-09T23:11:28.1537633Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a8ac2851-8a4c-613a-8920-96684d903acf/test-blob-8fbd3499-2477-5012-31ab-28bd7b8a2bf8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 23:11:28 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3D642745CCD\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:11:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-11-09T23:11:28.1537633Z",
        "x-ms-file-creation-time": "2021-11-09T23:11:28.1537633Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-11-09T23:11:28.1537633Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a8ac2851-8a4c-613a-8920-96684d903acf?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 23:11:28 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1619376379",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}