{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-e90a300b-13ce-7ce3-cf09-8b568b11d20c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 23:11:50 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3D64FE68311\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:11:50 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-e90a300b-13ce-7ce3-cf09-8b568b11d20c/test-blob-e05b780a-090a-3f9a-6820-59f6781852d4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 09 Nov 2021 23:11:50 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3D64FF0FCA9\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:11:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-11-09T23:11:50.9158057Z",
        "x-ms-file-creation-time": "2021-11-09T23:11:50.9158057Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-11-09T23:11:50.9158057Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-e90a300b-13ce-7ce3-cf09-8b568b11d20c/test-blob-e05b780a-090a-3f9a-6820-59f6781852d4?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 09 Nov 2021 23:11:50 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10",
        "x-ms-write": "update"
      },
      "RequestBody": "dc9anSOa3aTAz0\u002BQZ66t56ARtzS18TfhTfNg9WkvxGGRkL7\u002BjcpXBHm2IAWz01hqqxWeZIF3ZoSYeVAvOuc6kAru/9bvr1rWubO6/tAxLXma9klUkWDfGSo6ZRN6J8qRe4/7xdSCevy6yKrOvGezZkzWlESd5v\u002BqDuWstUlHW5LpKYNBNmikGHtNmci1EFzCh//HpJOF85WQULbv1cWyc2wY5ZPkci/jMXzIUE029P6I6S5KgLf/YzXtseWxtUK2myZcnSrJ3hTP43IXvaNIWVy3Z\u002ByXaPO1GYJe9sBKMnw5ErUm2lfUvwoZepxF6KaRpVeJ\u002BU5WHzIzp4OoauhThbH23aruIX4E46fhfe1WcDHczVBpwDgu4vKC8zPTLFQixfXrTgr7ooTZhRamdaFF3DdSzJ2X6sV4x/u4bC1LMLdTvrj3ai[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-e90a300b-13ce-7ce3-cf09-8b568b11d20c/test-blob-e05b780a-090a-3f9a-6820-59f6781852d4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 23:11:51 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3D650025F49\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:11:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-11-09T23:11:50.9158057Z",
        "x-ms-file-creation-time": "2021-11-09T23:11:50.9158057Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-11-09T23:11:50.9158057Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-e90a300b-13ce-7ce3-cf09-8b568b11d20c/test-blob-e05b780a-090a-3f9a-6820-59f6781852d4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 23:11:51 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3D650025F49\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:11:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-11-09T23:11:50.9158057Z",
        "x-ms-file-creation-time": "2021-11-09T23:11:50.9158057Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-11-09T23:11:50.9158057Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-e90a300b-13ce-7ce3-cf09-8b568b11d20c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 23:11:51 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "590598404",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}