{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c2b730d7-af81-3e93-8697-c13f9b499bb8?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 23:12:08 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3D65A817CFF\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:12:08 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c2b730d7-af81-3e93-8697-c13f9b499bb8/test-blob-5661759f-9f00-0314-4594-dfa52bbfa9de",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 09 Nov 2021 23:12:08 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3D65A8DA426\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:12:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-11-09T23:12:08.7196710Z",
        "x-ms-file-creation-time": "2021-11-09T23:12:08.7196710Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-11-09T23:12:08.7196710Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c2b730d7-af81-3e93-8697-c13f9b499bb8/test-blob-5661759f-9f00-0314-4594-dfa52bbfa9de?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 09 Nov 2021 23:12:08 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10",
        "x-ms-write": "update"
      },
      "RequestBody": "jnYpmafPvh3ycG17U9uPn9ENcCZjEnkGGVLy19B2QW\u002BeeCk4vS0M/7fJl87ha6LRnkr1\u002BHVAgHz8IoBV3OZNfC7\u002B3dqxV\u002BKkAHBvmnqrJa2vITmFgUn5XfetO5qstyLQexqg447IH0doUfcF0eYBUf3Spbutx/rkBX/iBBtH90hNnh5gC0Ef5wHyHTBR84wQq\u002Bqc2RFmI7Qfu90O5RorIVmuuDLIoUa8s766uqrKkxHy0lgxqx035ntpQE9jEAHmxvvWojtZSAqj4CZTrGgKVSjMGxPC\u002BnY7d9G3X2H2WKO91PSu9PDWmYlOjcr34zoSX\u002Bonl/TuJMuFmitpoemprIiCltdzW2E39YKJc22rRJOWpf92z8CvzrApKFnFbPegpOBCdE1ingOJ76JxZLBe2laX0/zpM93H08cnSjMH[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c2b730d7-af81-3e93-8697-c13f9b499bb8/test-blob-5661759f-9f00-0314-4594-dfa52bbfa9de",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 23:12:08 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3D65A9EDFB4\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:12:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-11-09T23:12:08.7196710Z",
        "x-ms-file-creation-time": "2021-11-09T23:12:08.7196710Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-11-09T23:12:08.7196710Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c2b730d7-af81-3e93-8697-c13f9b499bb8/test-blob-5661759f-9f00-0314-4594-dfa52bbfa9de",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 23:12:08 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3D65A9EDFB4\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:12:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-11-09T23:12:08.7196710Z",
        "x-ms-file-creation-time": "2021-11-09T23:12:08.7196710Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-11-09T23:12:08.7196710Z",
        "x-ms-file-parent-i[...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c2b730d7-af81-3e93-8697-c13f9b499bb8/test-blob-5661759f-9f00-0314-4594-dfa52bbfa9de?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Tue, 09 Nov 2021 23:12:09 GMT",
        "x-ms-file-attributes": "Preserve",
        "x-ms-file-creation-time": "Preserve",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-file-permission": "Preserve",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3D65AC80C93\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:12:09 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-11-09T23:12:09.1024531Z",
        "x-ms-file-creation-time": "2021-11-09T23:12:08.7196710Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-11-09T23:12:09.1024531Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c2b730d7-af81-3e93-8697-c13f9b499bb8?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 23:12:09 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "597066460",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}