{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-ed1762d7-6734-cf41-73ca-90ead46db459?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 23:11:50 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3D64F97D250\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:11:50 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-ed1762d7-6734-cf41-73ca-90ead46db459/test-blob-3a1657cd-5233-c7ac-fc07-2f39f2080379",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 09 Nov 2021 23:11:50 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3D64FA1D6C3\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:11:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-11-09T23:11:50.3971011Z",
        "x-ms-file-creation-time": "2021-11-09T23:11:50.3971011Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-11-09T23:11:50.3971011Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-ed1762d7-6734-cf41-73ca-90ead46db459/test-blob-3a1657cd-5233-c7ac-fc07-2f39f2080379?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 09 Nov 2021 23:11:50 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10",
        "x-ms-write": "update"
      },
      "RequestBody": "ocl2uQHJ6sc5\u002BYtFEUkAXqTtRvPG2xxdbErI9nyfGDcTjFYFn2yh2vbenkNmRJNkkjPkF\u002BLoAsatGU23AfNKmuBTMYXy\u002B784TGz85zzY9ii2Y2RJugFVKomQV4Uf6dkDlARiEhIOcZZ0rMp26xuJ1CIkAZ2PAd/f/gb7YqQ5GGOS\u002BVM3deQVp/LN1A033j9uBoJj\u002Bug7dJIlgxMLEw7yOpNn5PLHUl49Dlmrwi3RqCDHjFwh1h56VoXBEvLQCpTj2pp6z/lNp7QjJeyPkLFlVNrzRIay0GR17I1sBj9sbQTEx\u002BeSV9gmeeWn/bAy68XTXL4Y3cYOMAk2BONs4KB0t7jnysnK0vwBzMqgC9O0QwDHmamBU48\u002BtpbdXFL1uplEMkX3SiH8CInBFhH7bSU2gsHipEf382QoqRMy7XWq[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-ed1762d7-6734-cf41-73ca-90ead46db459/test-blob-3a1657cd-5233-c7ac-fc07-2f39f2080379",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 23:11:50 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3D64FB6BB4A\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:11:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-11-09T23:11:50.3971011Z",
        "x-ms-file-creation-time": "2021-11-09T23:11:50.3971011Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-11-09T23:11:50.3971011Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-ed1762d7-6734-cf41-73ca-90ead46db459/test-blob-3a1657cd-5233-c7ac-fc07-2f39f2080379",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 23:11:50 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3D64FB6BB4A\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:11:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-11-09T23:11:50.3971011Z",
        "x-ms-file-creation-time": "2021-11-09T23:11:50.3971011Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-11-09T23:11:50.3971011Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-ed1762d7-6734-cf41-73ca-90ead46db459?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 23:11:50 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "628120000",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}