{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c07b5ed7-3a3e-d226-c358-8ebc83bc8d44?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Nov 2021 00:36:08 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A5746B346FE6\u0022",
        "Last-Modified": "Fri, 12 Nov 2021 00:36:08 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c07b5ed7-3a3e-d226-c358-8ebc83bc8d44/test-blob-8f253dbc-0454-b728-92cb-b9926b9fb3ff",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 12 Nov 2021 00:36:08 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A5746B3F7426\u0022",
        "Last-Modified": "Fri, 12 Nov 2021 00:36:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-11-12T00:36:08.3745830Z",
        "x-ms-file-creation-time": "2021-11-12T00:36:08.3745830Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-11-12T00:36:08.3745830Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c07b5ed7-3a3e-d226-c358-8ebc83bc8d44/test-blob-8f253dbc-0454-b728-92cb-b9926b9fb3ff?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 12 Nov 2021 00:36:08 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-02-12",
        "x-ms-write": "update"
      },
      "RequestBody": "wTz8zYZ99\u002BbnT3JI7qCV8DPr9OnVOHpeML2dDuMaAPRMM8MA1lgbSqIAbHkvp6IN\u002Bh0oP2TAQ4jBnZ3J3\u002BkDzE99\u002B7rdlBra0KpG1MsBL4kbkBPG8sCQjPA7Pjm7Umq5/aAqsqvnMGYDTW\u002B5eW68wG4Trk/VPdqP7W/JoVXgH31AjdYr1n3dM2CtwqRQ1hKBfn3Lp6Mb48DFm8Q7Ho4RIi7yeeyYkOrwNnvuKHo2PhZdRyPXFXjZJakWZju4oRTRnKB1Xlwl6e2T2nEoLLpGjlyu3tZqOQy2GFNCgiquOJRmHIzZwOC5N102QzsGsfnuz9ffCsM\u002BZ2KUv0YI42fC5aHdwg8ubM589Kd4NPbQr2daU7JTzy7RKLUpRQGasFT1c16aKe7pwGMJYxUbxTJswxDero\u002B1bxVzC5pZBCfN[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c07b5ed7-3a3e-d226-c358-8ebc83bc8d44/test-blob-8f253dbc-0454-b728-92cb-b9926b9fb3ff",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Nov 2021 00:36:08 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A5746B52D247\u0022",
        "Last-Modified": "Fri, 12 Nov 2021 00:36:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-11-12T00:36:08.3745830Z",
        "x-ms-file-creation-time": "2021-11-12T00:36:08.3745830Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-11-12T00:36:08.3745830Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c07b5ed7-3a3e-d226-c358-8ebc83bc8d44/test-blob-8f253dbc-0454-b728-92cb-b9926b9fb3ff",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Nov 2021 00:36:08 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A5746B52D247\u0022",
        "Last-Modified": "Fri, 12 Nov 2021 00:36:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-11-12T00:36:08.3745830Z",
        "x-ms-file-creation-time": "2021-11-12T00:36:08.3745830Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-11-12T00:36:08.3745830Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": "wTz8zYZ99\u002BbnT3JI7qCV8DPr9OnVOHpeML2dDuMaAPRMM8MA1lgbSqIAbHkvp6IN\u002Bh0oP2TAQ4jBnZ3J3\u002BkDzE99\u002B7rdlBra0KpG1MsBL4kbkBPG8sCQjPA7Pjm7Umq5/aAqsqvnMGYDTW\u002B5eW68wG4Trk/VPdqP7W/JoVXgH30="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c07b5ed7-3a3e-d226-c358-8ebc83bc8d44?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Nov 2021 00:36:08 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "917338394",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}