{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "SkipCleanup": "true"
        },
        "subscriptionId": "49d64d54-e966-4c46-a868-1999802b762c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Az WaaS Test 1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourcegroups/netSdkTest-8361?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-8361",
        "name": "netSdkTest-8361",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "Created": "20230224"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-8361/providers/Microsoft.Workloads/monitors/haMonitor-7895?api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "properties": {
          "appLocation": "eastus",
          "routingPreference": "RouteAll",
          "zoneRedundancyPreference": "Disabled",
          "managedResourceGroupConfiguration": {
            "name": "haMonitor-7895mrg-1864"
          },
          "monitorSubnet": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/nitin-agarwal-scale-test/providers/Microsoft.Network/virtualNetworks/vnetpeeringtest/subnets/dotNetSdkTest4"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/d30dad3b-7251-4b6f-ac67-90766fdf3dd4*E1BE3CEB26733B768ADE0D73AE2B6E8EB1180F7AAEB6BD97D0C2BD1A8DE3D3FB?api-version=2022-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ac00a255-0000-0100-0000-63f8bb480000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-8361/providers/Microsoft.Workloads/monitors/haMonitor-7895",
        "name": "haMonitor-7895",
        "type": "microsoft.workloads/monitors",
        "location": "eastus2",
        "systemData": {
          "createdBy": "b4fe472c-a147-40e8-8824-24b9fa72af38",
          "createdByType": "Application",
          "createdAt": "2023-02-24T13:27:34.8028129Z",
          "lastModifiedBy": "b4fe472c-a147-40e8-8824-24b9fa72af38",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-02-24T13:27:34.8028129Z"
        },
        "properties": {
          "appLocation": "eastus",
          "routingPreference": "RouteAll",
          "zoneRedundancyPreference": "Disabled",
          "managedResourceGroupConfiguration": {
            "name": "haMonitor-7895mrg-1864"
          },
          "monitorSubnet": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/nitin-agarwal-scale-test/providers/Microsoft.Network/virtualNetworks/vnetpeeringtest/subnets/dotNetSdkTest4",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/d30dad3b-7251-4b6f-ac67-90766fdf3dd4*E1BE3CEB26733B768ADE0D73AE2B6E8EB1180F7AAEB6BD97D0C2BD1A8DE3D3FB?api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224e003677-0000-0100-0000-63f8bb470000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11986"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/d30dad3b-7251-4b6f-ac67-90766fdf3dd4*E1BE3CEB26733B768ADE0D73AE2B6E8EB1180F7AAEB6BD97D0C2BD1A8DE3D3FB",
        "name": "d30dad3b-7251-4b6f-ac67-90766fdf3dd4*E1BE3CEB26733B768ADE0D73AE2B6E8EB1180F7AAEB6BD97D0C2BD1A8DE3D3FB",
        "resourceId": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-8361/providers/Microsoft.Workloads/monitors/haMonitor-7895",
        "status": "Accepted",
        "startTime": "2023-02-24T13:27:35.8160168Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-8361/providers/Microsoft.Workloads/monitors/haMonitor-7895?api-version=2022-11-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "DateTime": "dotNetSdkTest"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ac002761-0000-0100-0000-63f8bc110000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-8361/providers/Microsoft.Workloads/monitors/haMonito[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-8361/providers/Microsoft.Workloads/monitors?api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "fea87907-f9ed-4b2d-b05e-3bfb6bd72684",
          "5333acb0-a151-4c4d-baa5-90b76b1dacc3",
          "06037b17-2991-4474-b8df-cee71e990685",
          "b6586aef-a2db-4bae-8056-8affcfb0f0e5",
          "e3e01f92-ece0-4088-80c4-8d9a65f43243",
          "25f035eb-eeb3-4059-89fd-1339e4dd8dcf",
          "5d889240-4968-4b0c-86b2-cc0b7a9f2fe5",
          "493ee6e4-fa67-4427-93fb-e1537956a0e5",
          "a57cb8f6-fc88-4a57-affb-74d4e38fd94c",
          "a5c21752-675f-4bdf-90d0-a74392da2114",
          "2868808c-bec6-4bf0-b81c-ecb1313ea512",
          "5c8586e9-ebc3-48ef-a783-52f018cf7cf1",
          "078991dd-9612-442c-98d2-46c977e9c885"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11969"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-8361/providers/Microsoft.Workloads/monitors/haMonitor-7895",
            "name": "haMonitor-7895",
            "type": "microsoft.workloads/monitors",
            "location": "eastus2",
            "tags": {
              "DateTime": "dotNetSdkTest"
            },
            "systemData": {
              "createdBy": "b4fe472c-a147-40e8-8824-24b9fa72af38",
              "createdByType": "Application",
              "createdAt": "2023-02-24T13:27:34.8028129Z",
              "lastModifiedBy": "b4fe472c-a147-40e8-8824-24b9fa72af38",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-02-24T13:30:57.4391048Z"
            },
            "properties": {
              "appLocation": "eastus",
              "routingPreference": "RouteAll",
              "zoneRedundancyPreference": "Disabled",
              "managedResourceGroupConfiguration": {
                "name": "haMonitor-7895mrg-1864"
              },
              "monitorSubnet": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/nitin-agarwal-scale-test/providers/Microsoft.Network/virtualNetworks/vnetpeeringtest/subnets/dotNetSdkTest4",
              "provisioningState": "Succeeded",
              "logAnalyticsWorkspaceArmId": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourcegroups/haMonitor-7895mrg-1864/providers/microsoft.operationalinsights/workspaces/sapmon-laws-9fc93f2c423913",
              "msiArmId": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourcegroups/haMonitor-7895mrg-1864/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sapmon-msi-9fc93f2c423913",
              "storageAccountArmId": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourcegroups/haMonitor-7895mrg-1864/providers/Microsoft.Storage/storageAccounts/sapsto9fc93f2c423913"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-8361/providers/Microsoft.Workloads/monitors/haMonitor-7895/providerInstances/promethueusHa2458?api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "providerSettings": {
            "prometheusUrl": "http://10.0.92.5:964/metrics",
            "hostname": "h20dbvm0",
            "sid": "X00",
            "clusterName": "hacluster",
            "sslPreference": "Disabled",
            "providerType": "PrometheusHaCluster"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/67bbbf4d-4d99-42a1-b767-257997c1b256*0D2C41D943231BDAB8FA08AB1337076C388CB702929F51FF86BB6AA1B73F1AA4?api-version=2022-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/67bbbf4d-4d99-42a1-b767-257997c1b256*0D2C41D943231BDAB8FA08AB1337076C388CB702929F51FF86BB6AA1B73F1AA4?api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002265004bc2-0000-4d00-0000-63f8bd4d0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11950"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/67bbbf4d-4d99-42a1-b767-257997c1b256*0D2C41D943231BDAB8FA08AB1337076C388CB702929F51FF86BB6AA1B73F1AA4",
        "name": "67bbbf4d-4d99-42a1-b767-257997c1b256*0D2C41D943231BDAB8FA08AB1337076C388CB702929F51FF86BB6AA1B73F1AA4",
        "resourceId": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-8361/providers/Microsoft.Workloads/monitors/haMonitor-7895/providerInstances/promethueusHa2458",
        "status": "Failed",
        "startTime": "2023-02-24T13:31:02.8901482Z",
        "error": {
          "code": "ProviderInstanceValidationOperationFailed",
          "message": "\n      The provider settings validation operation has failed with code \u0027PrometheusURLConnectionFailure\u0027.\n      Possible Causes: The operation failed with error: \u0027Failed to establish connection to the prometheus endpoint.\u0027.\n      Recommended Action: \u0027Please check if the given prometheus endpoint url is correct.\u0027.\n    "
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-8361/providers/Microsoft.Workloads/monitors/haMonitor-7895?api-version=2022-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/7ac8c130-d52e-4e2b-9f54-3e7bdfdf566b*E1BE3CEB26733B768ADE0D73AE2B6E8EB1180F7AAEB6BD97D0C2BD1A8DE3D3FB?api-version=2022-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ac00e974-0000-0100-0000-63f8bd5f0000\u0022",
        "Location": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/7ac8c130-d52e-4e2b-9f54-3e7bdfdf566b*E1BE3CEB26733B768ADE0D73AE2B6E8EB1180F7AAEB6BD97D0C2BD1A8DE3D3FB?api-version=2022-11-01-preview",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/7ac8c130-d52e-4e2b-9f54-3e7bdfdf566b*E1BE3CEB26733B768ADE0D73AE2B6E8EB1180F7AAEB6BD97D0C2BD1A8DE3D3FB?api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224e00b57c-0000-0100-0000-63f8bed00000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11930"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/7ac8c130-d52e-4e2b-9f54-3e7bdfdf566b*E1BE3CEB26733B768ADE0D73AE2B6E8EB1180F7AAEB6BD97D0C2BD1A8DE3D3FB",
        "name": "7ac8c130-d52e-4e2b-9f54-3e7bdfdf566b*E1BE3CEB26733B768ADE0D73AE2B6E8EB1180F7AAEB6BD97D0C2BD1A8DE3D3FB",
        "resourceId": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-8361/providers/Microsoft.Workloads/monitors/haMonitor-7895",
        "status": "Succeeded",
        "startTime": "2023-02-24T13:36:31.0688606Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "810326645",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "49d64d54-e966-4c46-a868-1999802b762c"
  }
}
