{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11985"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "SkipGreenTeamLinuxSSHAuthForSub": "1081476937",
          "NRMSBreakGlassNonHighRisk": "322946830",
          "NRMS15526970": "20230411"
        },
        "subscriptionId": "7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Cloud-Native-Testing-IDC-Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourcegroups/SdkRg8642?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg8642",
        "name": "SdkRg8642",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/loadTests?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "605e00df-72a5-47ef-83c7-835976caeee2",
          "f9fc149b-1309-4d54-8925-844dc7f4132d",
          "d0d64b8b-dc81-47aa-87a6-4f67b9896726",
          "3d977b17-64e8-48ea-ac43-072af11ed823",
          "010c242c-6d49-4489-93d9-c8b9a735df44",
          "156380bd-f824-43f6-b807-5e74e23b73ee",
          "198c58bf-f799-4d00-8a9b-6feea5b520f6",
          "10d56353-5e14-4720-a373-fa2db0a19824",
          "f8f9d196-3c84-4d83-9855-32a97be97512",
          "52d30bbe-0c84-49a1-af4b-a1afea7344ff",
          "6dcd1511-ad46-4bd5-8e1b-c950a9e3f3ab",
          "2ae97b6e-0ff9-427e-ad45-1747d4a6befc",
          "f3b4abad-f8d1-469e-930a-5b4d354e6678"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11982"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/jenkins-test/providers/microsoft.loadtestservice/loadtests/canary-14-12-2022-11-58-24",
            "name": "canary-14-12-2022-11-58-24",
            "type": "microsoft.loadtestservice/loadtests",
            "location": "eastus2euap",
            "systemData": {
              "createdBy": "ef9ae487-c798-4ca0-a36a-9d8f664dafc7",
              "createdByType": "Application",
              "createdAt": "2022-12-14T11:59:03.0703487Z",
              "lastModifiedBy": "ef9ae487-c798-4ca0-a36a-9d8f664dafc7",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2022-12-14T12:00:11.3638556Z"
            },
            "identity": {
              "type": "None"
            },
            "properties": {
              "description": null,
              "dataPlaneURI": "40d70f16-9452-430f-b81a-720ffd9916d4.eastus2euap.cnt-canary.loadtesting.azure.com",
              "encryption": null,
              "provisioningState": "Succeeded"
            }
          },
          {
            "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/ankur-canary-rg/providers/Microsoft.LoadTestService/loadtests/ankur-spoof-12152022",
            "name": "ankur-spoof-12152022",
            "type": "microsoft.loadtestservice/loadtests",
            "location": "eastus2euap",
            "tags": {},
            "systemData": {
              "createdBy": "ankaggarwal@mi[...]
