{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-953d98db-676f-11f3-5835-018bd48aadd8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 31 Aug 2021 19:40:19 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96CB72A2E4B25\u0022",
        "Last-Modified": "Tue, 31 Aug 2021 19:40:19 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-953d98db-676f-11f3-5835-018bd48aadd8/test-blob-b3d9d131-b9a9-8ed1-076b-408b85f01835",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 31 Aug 2021 19:40:19 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96CB72A37F697\u0022",
        "Last-Modified": "Tue, 31 Aug 2021 19:40:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-31T19:40:19.2761495Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-953d98db-676f-11f3-5835-018bd48aadd8/test-blob-b3d9d131-b9a9-8ed1-076b-408b85f01835?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "0x8D96CB72A40CEED",
        "x-ms-content-crc64": "18DuI5aQ29E=",
        "x-ms-date": "Tue, 31 Aug 2021 19:40:19 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "jqZ\u002BAg0kV2745qXGafkTcS2UKIYmVetemnBermKvq9zMz2tXaQRfPvb1XwawtF2Bh5nCF\u002BtVBzi7H2idxakLSTvI\u002BpmOuwcpNemQMfbkruUT3SbI7JPxd8cynEmcwnlN6RXL57nD8suSmeIBxdZC1nGCieeCQ1yo1oPRWx\u002B9jXJwQ0fgGcYrT\u002BtbNlOx8LHx8MXYGTiSy6a4IxA28Zes1AxvkIGOYr2qVjr8JgwJ9\u002BbR4GtZ5HM63XihJ/a19V1Tr2FHQV8wYo0ILcL\u002BlqSZrywqZBEsUu\u002BYNLMJ7DvH9GHcqHaqwrWGoX7dULexPEfTB3fKipFMJlxxrgysJnVSQThhIe0u7u12pMOTTwE45/hrNuXD/WrQj4IZOBOo2XsIiw9\u002BTxpZpRmKU\u002BbNuddbOccUQe\u002BQjkPOkZFrFLXazcpHisTyupfdEZHMOamDAtarvv9LlJiLePzLr76J7pBjsIUbhi8SaH4wNi9exFWaS467v1W1jjkyuxLIJgvYVCMAaIkkZ3ynmFWBG15pLbOmMWMvzS47rSFM6cocSkJyV\u002BILXVvMduMSFCf/NHLbyI5eIfSnqIb0xbtn132xik0TDsN8XdBX2ruAHLkHO3mvcSE8vSlNy65bF5igZJ5lYYnZ7CWuX2u9BkY5J4vM7YpCuGZcdcwkxUMVIEY3t3YdGrs=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96CB72A51BC67\u0022",
        "Last-Modified": "Tue, 31 Aug 2021 19:40:19 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "18DuI5aQ29E=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-953d98db-676f-11f3-5835-018bd48aadd8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 31 Aug 2021 19:40:21 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1761703474",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}