{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-e8503917-ba6a-d356-de99-39b7390a2778?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 13 Sep 2021 19:50:51 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D976EFCAA177A8\u0022",
        "Last-Modified": "Mon, 13 Sep 2021 19:50:51 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-e8503917-ba6a-d356-de99-39b7390a2778/test-blob-074be8a8-e2df-2ebe-4598-750805a3470e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 13 Sep 2021 19:50:51 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D976EFCAAC2C9E\u0022",
        "Last-Modified": "Mon, 13 Sep 2021 19:50:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-09-13T19:50:51.9178398Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-e8503917-ba6a-d356-de99-39b7390a2778/test-blob-074be8a8-e2df-2ebe-4598-750805a3470e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "/62zM9lXV8E=",
        "x-ms-date": "Mon, 13 Sep 2021 19:50:51 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "d4VwYbPXqNW39Ge63YbeawYJOf6ihaEd2yT9WRKAA1iN3VlvAjB7ppKR6uLhVp5uk8P7T\u002B4kXfDkU4WP2k/DNvEPLf8tb2jVjZJsEJu\u002BPIWFjsZOhbRqaH9oi6\u002Bq7MtCzrPx0SieQSNbJcFbuExVJRcACkyJdLE9pMWAxOO5KqHHKULnzWpc5k2i82DyDq8zE2aXquJ/uVkCsyxjHnxAofoglI8KbVetpCP\u002B5oFQSpYVTLF9IoC/SG/o5Rk9\u002BMfRYlFl0nogKaYO6gW\u002BgNLYsWmWTtLKwn95YUwgIYc9b6tbLYQv6ngb9SMLbjd7AMecDzOwpqr1Bp/[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-e8503917-ba6a-d356-de99-39b7390a2778?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 13 Sep 2021 19:50:52 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "523076826",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}