{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-46f60e73-de1d-ab4b-8b3c-37f7c57a0490?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 21 Sep 2021 17:35:21 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D262FFA6019\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:35:21 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-46f60e73-de1d-ab4b-8b3c-37f7c57a0490/test-blob-5a94a01b-ac52-8fac-45d2-82c3cb56f82b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 21 Sep 2021 17:35:21 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D263005BDB5\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:35:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-09-21T17:35:21.7547701Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-46f60e73-de1d-ab4b-8b3c-37f7c57a0490/test-blob-5a94a01b-ac52-8fac-45d2-82c3cb56f82b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "a6c\u002Bgzd9YsOynnWvr2JmRA==",
        "Content-Type": "application/octet-stream",
        "If-Match": "0x8D97D26300E6EFF",
        "x-ms-date": "Tue, 21 Sep 2021 17:35:21 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "nc/skym6cJml/4mq8LUCej0dq1871UZgydh6KF6knqTxC/jZJGrxkfalikukhSLTDQGHO2wip8iIjMpRP0c7AGHkueS9KVXSKxpplkr6u0S1pxpdHWI4zmQvUJigoFGuaYrqwMs9FeSrtBBSuRB\u002BjdCFm5ct3uL\u002Bq\u002BqAjdm8MovIuyy/EPt4eJI2sWlR5hVTscLIGwW5gIun6xThvIcK74KEiv7jvn3VDSIF9ix5rcXVLNwW9BaGDjqhGCTml7wKK8HmzFwWcPJE8w3itIpeLj5PC4\u002Bq9Ptr/nvDQqZY7nVm\u002B8tqk\u002BBpvrzp0QEJo1qwQurml4ssXzfGe87gUi5M6wSXfLm\u002B85pe5UzTwSL6YlohE/\u002B7clbqOpuTpBcRiWuNnOX8cSeg8U5Ph7E\u002BWJ4VzBhzvj8ukHitrUEdK0\u002BDTFzhRiQ8/fAzgCKxbOukq\u002BL8ftf/nsosXwtsTsPlgsb\u002BzDtVXRJ62c8oQD0cfSSNCAFfIax4g62StOYYz64sTf1bsqCwT07PgqUI1l6MD\u002BLn30bChWEZhkiNwqgrYgkg\u002B/JAwMqD3bmzkJ8HcKxPBqUEMO9oasecQixYI4ylpCCb59trTE4XZAGNDvXCEhabPbwDJjEauJAqo36eKrosDet/a4jR47pW7czt21vS2i8VveXQon7ugS5LQajPeDlHYQE=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "a6c\u002Bgzd9YsOynnWvr2JmRA==",
        "ETag": "\u00220x8D97D26301E9947\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:35:21 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-46f60e73-de1d-ab4b-8b3c-37f7c57a0490?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:35:23 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1884126555",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}