{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-dd292a12-e30b-6b31-6612-85e9d876f1bc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 14 Sep 2021 17:52:35 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D977A86F428D01\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 17:52:35 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-dd292a12-e30b-6b31-6612-85e9d876f1bc/test-blob-0f5eed28-2618-bcad-cf53-2b74233b3d3d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 14 Sep 2021 17:52:35 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D977A86F6A2C05\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 17:52:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-09-14T17:52:35.7075973Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-dd292a12-e30b-6b31-6612-85e9d876f1bc/test-blob-0f5eed28-2618-bcad-cf53-2b74233b3d3d?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "esxK5zqh/Tg=",
        "x-ms-date": "Tue, 14 Sep 2021 17:52:35 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "dBBqkItk0EPCrvo/kG\u002BoZB2ImKcxVAuyNkof1hrx\u002B30tx02yl2Rx62AB2QLuBYKjp09Y9sz2Wh8FuFlBRfkp0bJ8Ecki9cy4F61HL3oIxDHHfC/KmQWwN2wtrN8KL6Zm2AhQcfO5gbGDn94fryul/fMoesnKXjisy9pc9EnsrugH4FZyuFM9Dvt\u002BR/kmkIhBiK/s4bXcnHrQo6UZXIxol/H2GM7UMkWf62vOSxc\u002BhTpRGmuZ/8wyKkTcoRSuI7FuFq8HMHi6bVVqTPZJDlBikR1qyEIhzpclw\u002B6J\u002BJEw8ce6XzVnN1XCl60VL7PV6Rv0eRD3Q1tvTUc[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-dd292a12-e30b-6b31-6612-85e9d876f1bc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Sep 2021 17:52:36 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2134482289",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}