{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-1ecb1b8d-67d1-228d-25fe-b7c9e4a1c215?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 31 Aug 2021 19:40:12 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96CB726A530BE\u0022",
        "Last-Modified": "Tue, 31 Aug 2021 19:40:13 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-1ecb1b8d-67d1-228d-25fe-b7c9e4a1c215/test-blob-7de63fe5-6ff8-35b9-f547-be5b14f2eb26",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 31 Aug 2021 19:40:13 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96CB726C96770\u0022",
        "Last-Modified": "Tue, 31 Aug 2021 19:40:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-31T19:40:13.5184240Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-1ecb1b8d-67d1-228d-25fe-b7c9e4a1c215/test-blob-7de63fe5-6ff8-35b9-f547-be5b14f2eb26?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "vUvSZpS64TZrn1OmK\u002BSSww==",
        "Content-Type": "application/octet-stream",
        "If-Match": "0x8D96CB726D39F2B",
        "x-ms-date": "Tue, 31 Aug 2021 19:40:13 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "i2rQ9NAYLQQrgM0GSm5GIHPnynGiLLsm5m8eqOfAN9rMs5NyNJX/50b5atkGkm/nNYG7K6yOxl\u002Buqg5g\u002BYUdakjzOpfb0\u002Bve5\u002BMqqcLiH1T/N3JmBAwtPewzw4mHn\u002B3A2/\u002BQE1jYC2GV3UPJYxyczIq5YcESt2U8xvyqqBBiVkj1ac7CUgz8JiwQ0SfJY9rQlvf\u002BzT0sriSaU01cLmJRM4f61PlO2nl\u002BvTqVAuU\u002BcmIh2hEYY4gKyLupKP6/oPjJvp6gzo7ggbx9gBADl6w\u002BXODqOlNROc/\u002B7ws9pLJ7vh1By0NHnaTTQFhUmuN4BzEPaswe1GWkd4XOod\u002BCot0KAsHywcto9748Fvn7/J7shujaLjnlXOq3nFO9ePzFUJ57SpghhUVlpnMN4b5sqXrn4hv2qHSjJKXXOiV4q37Bd8VbgLIFygCjdIfG2HsrS/PY1pbhzqgp1yXzSksf7fv1TGr4ESjI4RgaUjTs3Uwqq\u002B4xn9Xn4KgdMaiMEn\u002B1g4aM0IsRMzrKEPR\u002Bxnt0PfrZyZ9c7k4mDWvB29\u002BAO8\u002BYZM\u002BtYAzAGHi0Z4/gaRksqfSus0ngWZU4ZsIgUFdaStQl5WGsxt3tGbAmp4e\u002BRaRRlDLr0YiFuAs6dPlKn8ggWhy6uoO3gOIXwJqZubEOeSAez7slbnhMoC1WclLjo3nnBk0=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "vUvSZpS64TZrn1OmK\u002BSSww==",
        "ETag": "\u00220x8D96CB726EF3970\u0022",
        "Last-Modified": "Tue, 31 Aug 2021 19:40:13 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-1ecb1b8d-67d1-228d-25fe-b7c9e4a1c215?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 31 Aug 2021 19:40:15 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1991016487",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}