{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-dcc9ec29-20be-7b00-5348-1748f3a3f18c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 21 Sep 2021 17:35:33 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D263751A234\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:35:33 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-dcc9ec29-20be-7b00-5348-1748f3a3f18c/test-blob-efc9af8a-d3c7-cd6f-b3bd-93f73fb628e6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 21 Sep 2021 17:35:34 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D26375B0866\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:35:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-09-21T17:35:34.0587889Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-dcc9ec29-20be-7b00-5348-1748f3a3f18c/test-blob-efc9af8a-d3c7-cd6f-b3bd-93f73fb628e6?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "TkHc\u002BHgjE38zKwmDk1KwqA==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 2021 17:35:34 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "UO1HcDye6pUEpDTDmXqejeAFTXTa/ZXbG9WL5sj9OKWviDbvfvfVXZQz71L6SLUkUj0J6LbWJFJYa1RnEgTNBmuPFBFDrw7pL\u002B/gpw1C4dMgZ5OL9FDv2WPjlxOjbkqQZujmazSj4KMvH7jG9n1FFYqBR6twQRIboDuuYBj7RsGkT0AkW3WefIbwXNSXKOLmnYGIISefICTWy8v59X\u002BKNNn3IaY8ILoV4sokf\u002BU\u002BhHdYyMKXciSaBS8cTpCppYYGZif7oAc7qXzGcz9ceqA\u002BmEZToS2988G0XRx3H9Iqaz1DHhm9Q\u002BRwHB5G0P7lPoq[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-dcc9ec29-20be-7b00-5348-1748f3a3f18c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:35:34 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1602929577",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}