{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-e937c45a-5e93-7ced-98e5-366d3a414aba?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Aug 2021 19:57:17 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96414B688F227\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 19:57:17 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-e937c45a-5e93-7ced-98e5-366d3a414aba/test-blob-46922d10-b120-63ce-5a1a-38f7ead2f5f2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "es/HJQcW/KvgWgBTqdha4w==",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Aug 2021 19:57:17 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "72RD9ehrkBvHrWu5F1PGfsC2\u002BasMZtzdcEU0rPNLm0a8PKpS1y\u002BWCP4YHTAMwtbnqM3xNz9y/ImHZYSjNuQnexEl/Nuoc6eQIPCt80ms0a1uTQMmWmMGST8hy3Gr8tEa8aEe5sX7PjUmYBdOxQhA25TXNengACGuHrObh6g15S0ekgKnjerncg7OAPlLuIQ34e/d073oOfCAcMgSYLeN8XrqMDIFmE2p78LbEgAnYmYvZKa4VxFvNlgSJx0i1BJWQQ9/YYhRMUihNOP6DSfvWQ5h4/wQ1Jloevra83EwhhuwhNHxpwDe3jNeFiIudCgxIs0PwPEWRWx1FuaNdj3Wca3ISohW/rENgw[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-e937c45a-5e93-7ced-98e5-366d3a414aba?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 19:57:17 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1107111033",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}