{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-b4b12057-22e7-03b8-929d-e9e3d88a8da3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 30 Aug 2021 21:22:35 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96BFC49267A3B\u0022",
        "Last-Modified": "Mon, 30 Aug 2021 21:22:35 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-b4b12057-22e7-03b8-929d-e9e3d88a8da3/test-blob-976e6ee8-6fe3-bc67-7b75-0cae74401b0a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "6a0QMpTiS8O9AH/E/NlWyg==",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 30 Aug 2021 21:22:35 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "aIdFEbw2e1VgWvhAwvgWOZbwqlPTKfnieTYKcgG6WMZ8v1hlEvY7AglhAk7RmPOXucZuDUrWzD\u002BOY5eGLAlTpgExwwOfsSaftKhJcSaqEeFCcrg7TEt8pfIY169etdUADVxNn9Tw9wifzlihjVsY41K2Q7lQGFm2tR4Qhtp3Qf/SSWTJXXEMUnqvnH3y2hiXAPNdp3Ecr/UCl\u002Bq233AuJ4xZz0P3T4bgqvA\u002BoHzcxNoGeYbmGpqNtppuxsaHVnMKgXTwmAvUoLBtfPyA3Q55JtIPsGbqSA3xyxipiIi/WFN9NB8H6yvPMdjVeJ2dDNmM9aDzeKYNIDln/s3yKxgnrSSpA6juc[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-b4b12057-22e7-03b8-929d-e9e3d88a8da3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 30 Aug 2021 21:22:35 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "138804366",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}