{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-9ed622a4-ee8a-f63a-906a-18d9cac128a1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Aug 2021 19:57:16 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96414B62B6F30\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 19:57:16 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-9ed622a4-ee8a-f63a-906a-18d9cac128a1/test-blob-d06e08f9-c94d-2cd5-605b-939a32f4f359?comp=block\u0026blockid=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "omj1xey4iNxcVFzCnifsqg==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 20 Aug 2021 19:57:16 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "mPMMoeW84/XEztRslDe\u002But9WLTOyQLGu4nGEB0E0ZyEeDmpEyOjc8LMZIyAC\u002B6N1ArNJSXvLmFhBXr5zN9yzkGazTYbMefH2eT2AmRyQq\u002BfNDwSO6h6mUnURA2oqabjWZZO6T60dqInBUs89S/47sLLXpSfXJaVIDPsQunWHzBCEqTSJ1lw5sGd7zZhPaAd21lK4UsOQ/0DtckOyDO0TOoW\u002BuaHKsdpWnfXAXFcN\u002BKPzmeQjznpN9Kn0nGQYh6N6Z5MSkK9lrCR4YrTN0KPo33mgvnMI8GsLccT31RV1PRZSRfTE\u002B2jzju3Aq2zFfyM[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-9ed622a4-ee8a-f63a-906a-18d9cac128a1/test-blob-d06e08f9-c94d-2cd5-605b-939a32f4f359?comp=block\u0026blockid=AAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "tXo\u002BL\u002B\u002BrtXvvffV41YcB9A==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, [...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-9ed622a4-ee8a-f63a-906a-18d9cac128a1/test-blob-d06e08f9-c94d-2cd5-605b-939a32f4f359?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Fri, 20 Aug 2021 19:57:16 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96414B64C60A9\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 19:57:17 GMT",
        "x-ms-content-crc64": "B8VTE7U2ZfY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-20T19:57:17.0218153Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-9ed622a4-ee8a-f63a-906a-18d9cac128a1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 19:57:17 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1614419116",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}