{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d04e2afb-ad83-d8aa-47d5-f042fd22a3c0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 30 Aug 2021 21:23:45 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96BFC72BC75DC\u0022",
        "Last-Modified": "Mon, 30 Aug 2021 21:23:45 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d04e2afb-ad83-d8aa-47d5-f042fd22a3c0/test-blob-e8df112e-f8c7-d56f-2a1a-1d0b24bf972b?comp=block\u0026blockid=AAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "CK9lE5sJ5v0=",
        "x-ms-date": "Mon, 30 Aug 2021 21:23:45 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "cOQeapcjHd4SmoTaD3w5m/sO/cMZ543DDkLPwucmDq\u002BW2bo86VWT1KQj9JttuVLhpNv8DjU9UYlWWlxUVFr37IvVQzXB/bKmeikf9fLxVlTw7R4LKgB5WYgx5o75PoBJLAgQmHYcIKcoVZMMHVuWZAQIZGY868KKW\u002BmtjxckrTup1snq4b3d1M1249RtbDstm4GK8doZDEFFhjyMbpCPBKhXY0eSq4NGKo\u002BYxQfuHe6uf/SVmrtgj8mHpFqBUGU95t4rFQn0m\u002B/9Q8ZLgEc5V2hN3u\u002Bb\u002Bmrs9tN9CgcoxdkpW94pwgflueQFmFb1FQ6CTUzxM3J2oux[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d04e2afb-ad83-d8aa-47d5-f042fd22a3c0/test-blob-e8df112e-f8c7-d56f-2a1a-1d0b24bf972b?comp=block\u0026blockid=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "mDY7HYftsq8=",
        "x-ms-date": "Mon, 30 Aug 2021 21:23:45[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d04e2afb-ad83-d8aa-47d5-f042fd22a3c0/test-blob-e8df112e-f8c7-d56f-2a1a-1d0b24bf972b?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Mon, 30 Aug 2021 21:23:45 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96BFC7313D17B\u0022",
        "Last-Modified": "Mon, 30 Aug 2021 21:23:45 GMT",
        "x-ms-content-crc64": "B8VTE7U2ZfY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-30T21:23:45.6245115Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d04e2afb-ad83-d8aa-47d5-f042fd22a3c0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 30 Aug 2021 21:23:45 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "817988355",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}