{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f829a111-4f95-9a95-3c4d-6c9d74188ea6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 21 Sep 2021 17:35:41 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D263C0132FE\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:35:41 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f829a111-4f95-9a95-3c4d-6c9d74188ea6/test-blob-f95b8a3c-8d9e-3545-4713-878646bc0368",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 21 Sep 2021 17:35:41 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D97D263C0AE9E0\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:35:41 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-09-21T17:35:41.9223274Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f829a111-4f95-9a95-3c4d-6c9d74188ea6/test-blob-f95b8a3c-8d9e-3545-4713-878646bc0368?comp=block\u0026blockid=AAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "NO/s7O3zYnw=",
        "x-ms-date": "Tue, 21 Sep 2021 17:35:41[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f829a111-4f95-9a95-3c4d-6c9d74188ea6/test-blob-f95b8a3c-8d9e-3545-4713-878646bc0368?comp=block\u0026blockid=AAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "MAQ816h\u002BIyI=",
        "x-ms-date": "Tue, 21 Sep 2021 17:[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f829a111-4f95-9a95-3c4d-6c9d74188ea6/test-blob-f95b8a3c-8d9e-3545-4713-878646bc0368?comp=block\u0026blockid=AAYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "NO/s7O3zYnw=",
        "x-ms-date": "Tue, 21 Sep 2021 17:35:42[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f829a111-4f95-9a95-3c4d-6c9d74188ea6/test-blob-f95b8a3c-8d9e-3545-4713-878646bc0368?comp=block\u0026blockid=AAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "MAQ816h\u002BIyI=",
        "x-ms-date": "Tue, 21 Sep 2021 17:[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f829a111-4f95-9a95-3c4d-6c9d74188ea6/test-blob-f95b8a3c-8d9e-3545-4713-878646bc0368?comp=block\u0026blockid=AAoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "NO/s7O3zYnw=",
        "x-ms-date": "Tue, 21 Sep 2021 17:35:42[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f829a111-4f95-9a95-3c4d-6c9d74188ea6/test-blob-f95b8a3c-8d9e-3545-4713-878646bc0368?comp=block\u0026blockid=AAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "MAQ816h\u002BIyI=",
        "x-ms-date": "Tue, 21 Sep 2021 17:[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f829a111-4f95-9a95-3c4d-6c9d74188ea6/test-blob-f95b8a3c-8d9e-3545-4713-878646bc0368?comp=block\u0026blockid=AA4AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "NO/s7O3zYnw=",
        "x-ms-date": "Tue, 21 Sep 2021 17:35:42[...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f829a111-4f95-9a95-3c4d-6c9d74188ea6/test-blob-f95b8a3c-8d9e-3545-4713-878646bc0368?comp=block\u0026blockid=ABIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "NO/s7O3zYnw=",
        "x-ms-date": "Tue, 21 Sep 2021 17:35:42[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f829a111-4f95-9a95-3c4d-6c9d74188ea6/test-blob-f95b8a3c-8d9e-3545-4713-878646bc0368?comp=block\u0026blockid=ABQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "MAQ816h\u002BIyI=",
        "x-ms-date": "Tue, 21 Sep 2021 17:[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f829a111-4f95-9a95-3c4d-6c9d74188ea6/test-blob-f95b8a3c-8d9e-3545-4713-878646bc0368?comp=block\u0026blockid=ABYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "NO/s7O3zYnw=",
        "x-ms-date": "Tue, 21 Sep 2021 17:35:43[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f829a111-4f95-9a95-3c4d-6c9d74188ea6/test-blob-f95b8a3c-8d9e-3545-4713-878646bc0368?comp=block\u0026blockid=ABgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "MAQ816h\u002BIyI=",
        "x-ms-date": "Tue, 21 Sep 2021 17:[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f829a111-4f95-9a95-3c4d-6c9d74188ea6/test-blob-f95b8a3c-8d9e-3545-4713-878646bc0368?comp=block\u0026blockid=ABoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "NO/s7O3zYnw=",
        "x-ms-date": "Tue, 21 Sep 2021 17:35:43[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f829a111-4f95-9a95-3c4d-6c9d74188ea6/test-blob-f95b8a3c-8d9e-3545-4713-878646bc0368?comp=block\u0026blockid=ABwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "MAQ816h\u002BIyI=",
        "x-ms-date": "Tue, 21 Sep 2021 17:[...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f829a111-4f95-9a95-3c4d-6c9d74188ea6/test-blob-f95b8a3c-8d9e-3545-4713-878646bc0368?comp=block\u0026blockid=ACIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "NO/s7O3zYnw=",
        "x-ms-date": "Tue, 21 Sep 2021 17:35:43[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f829a111-4f95-9a95-3c4d-6c9d74188ea6/test-blob-f95b8a3c-8d9e-3545-4713-878646bc0368?comp=block\u0026blockid=ACQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "MAQ816h\u002BIyI=",
        "x-ms-date": "Tue, 21 Sep 2021 17:[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f829a111-4f95-9a95-3c4d-6c9d74188ea6/test-blob-f95b8a3c-8d9e-3545-4713-878646bc0368?comp=block\u0026blockid=ACYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "NO/s7O3zYnw=",
        "x-ms-date": "Tue, 21 Sep 2021 17:35:43[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f829a111-4f95-9a95-3c4d-6c9d74188ea6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:35:44 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "504690127",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}