{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-ec0ea0e6-f2a1-106b-3530-186cf5d7620a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 30 Aug 2021 21:23:47 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96BFC73F1AC29\u0022",
        "Last-Modified": "Mon, 30 Aug 2021 21:23:47 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-ec0ea0e6-f2a1-106b-3530-186cf5d7620a/test-blob-99104f61-28ca-619a-3cd1-85b6e2f05d98",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "zRQVm6dWFaWDX5bK5ldCNw==",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 30 Aug 2021 21:23:47 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "bj\u002BbggWNVxjwdjbrvOBPTR3CREj4wnq97jVn9susQW6L9RyCTJBRm1TGrxi\u002B3ZcWtbTnlAPhRqvE3ZTQJmFMRDXIYMfEzAGMcKn0MhJh/xGdUEEWxK1rqa5wvm78gXTzeWvj9nzPUumzWiNZ7ROZYt6CMtUgNn\u002BIXLYYUw2TkO80ALmnfgmUzf1XY2qKEbya11yQek\u002Be00PsW5nFt//bIMozJexa8uPU7WTYyNIV/kr6fXyxAxaglS12uiNvzxb\u002BfEOgVuzPQOR4u4zqxgpw11xOyzmCKR2zko\u002B/5DfAZR5N2kuPdKdeKj2XOUeJtc8iBePGIQPde1Im7M[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-ec0ea0e6-f2a1-106b-3530-186cf5d7620a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 30 Aug 2021 21:23:47 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "473685048",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}