{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-e76d39fb-d859-78d9-92cb-502ba340b811?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 30 Aug 2021 21:22:36 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96BFC49EB9B33\u0022",
        "Last-Modified": "Mon, 30 Aug 2021 21:22:36 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-e76d39fb-d859-78d9-92cb-502ba340b811/test-blob-414c83b0-19f5-d2bd-142a-c5e465c9adab?comp=block\u0026blockid=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "jxts48DgAtc=",
        "x-ms-date": "Mon, 30 Aug 2021 21:22:36 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "8qP9CzNbtI\u002BB8F3hmOdhjuLyFY/VxK/KyvMw2B/frfohXf5zBt0rul/bcnKMwGKvrr723XrHDS7zM0FAK9xvokJjvzrp7YcExlsv\u002BVI8PQmQgSlh6c9/WVDQgNOb64\u002BCbNAvKAEnxsA38RYfmBPbtvU4r6mzDrhz5GXqGG20aNvLrI2CDRUIaLtoKfe4YME89MndYzvlz10Xu0SbPa1Sg4g6U\u002BuFWangL0fuSuXAuoSkrSOk1gSg5t0walHQbCoNFqZufQzWt5og/DP09oV4VgC/95CJrqyEmm0OVe5XD8Mc4TQ\u002BUT13zfaIhNrQq\u002B9XuBRQEXWag2f[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-e76d39fb-d859-78d9-92cb-502ba340b811/test-blob-414c83b0-19f5-d2bd-142a-c5e465c9adab?comp=block\u0026blockid=AAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "R3RvWp\u002B13Qw=",
        "x-ms-date": "Mon, 30 Aug 2021 21:[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-e76d39fb-d859-78d9-92cb-502ba340b811/test-blob-414c83b0-19f5-d2bd-142a-c5e465c9adab?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Mon, 30 Aug 2021 21:22:36 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96BFC4A1069E1\u0022",
        "Last-Modified": "Mon, 30 Aug 2021 21:22:36 GMT",
        "x-ms-content-crc64": "B8VTE7U2ZfY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-30T21:22:36.8156129Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-e76d39fb-d859-78d9-92cb-502ba340b811?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 30 Aug 2021 21:22:36 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "262535045",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}