{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-1839ed42-57e8-bd29-d276-d4d0319ac7f6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 13 Sep 2021 19:50:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D976EFCD3494D0\u0022",
        "Last-Modified": "Mon, 13 Sep 2021 19:50:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-1839ed42-57e8-bd29-d276-d4d0319ac7f6/test-blob-a42f8a6e-d5d9-148e-5972-5da997fb88d2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "wKMES6GHCla/ossWICztIw==",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 13 Sep 2021 19:50:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "aslofrJnSzPPhTC2oLWZoxcXFx2W3/kNJ\u002BMJmafcWBfnuQlaxuAKUcjPGHYYetI2fcQqRLosZ4rPW1fPXrGM8ywZzuesPtw2DMVVxseC9KwQ0xzjsRRcu1F\u002BimqJO/MWQyVK/6zriT/n9Df016HDTWeqv4qVqEEYvBOVLrNyrdHRPoKiOPUAJUnd/L3cZ\u002BSwuj0C33xogZrjMUKZVVqLdEdmI5geIRRyqZlBuKyEO1Qv5XR2cM1VaL3nvgayZ8/uUYd2dkRMkZgpkDXiJ8juXvXtaXDmFQR5ELraNmINwELKUmYkDcUQ41PbTeCXc0D1\u002BV8RxP1eCDyD/WWJcVo1G8/z[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-1839ed42-57e8-bd29-d276-d4d0319ac7f6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 13 Sep 2021 19:50:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "680166202",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}