{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-da3ae6f5-7766-c47f-258a-8d135c2149f1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 13 Sep 2021 19:50:55 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D976EFCD0F37DB\u0022",
        "Last-Modified": "Mon, 13 Sep 2021 19:50:55 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-da3ae6f5-7766-c47f-258a-8d135c2149f1/test-blob-000dbe05-2a45-c44c-1d5f-c4f4c9f55df6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "4/RKkbvKLH1yPvNqOi87nA==",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 13 Sep 2021 19:50:55 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "z4qJYNtIR6HxPOmjO22rWdAGQikvu6\u002Bnib3kg9\u002BWn0F2ukKOQlmriepQnAUfwbi9dhqOWG0jUhTb4dcdZMTCW52nLYEqHRZ3Wrg/3x\u002BqiMcEJgzFB0fUUmcusmCBjiUljUBod5Q3k1gEF/205HP1MFkPGD23/VNV09oZ/Gu19cyTGVHeQhAyzJO0wPBJIG70OYEHcXXnbpDsEqS6HpftTiExIMohFu5J3UuqAzxjDLJrJcLproNWrKvA8S9reK77xnLPF/\u002Bj0iKSvZQpPWpUiQbyTvjUBJ\u002Bd23QfYSS/3WScrjzJlPSyyFOgVvDvLG5Aa2gpeSq2J8LSMTyLhHH[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-da3ae6f5-7766-c47f-258a-8d135c2149f1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 13 Sep 2021 19:50:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "86875193",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}