{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3a964476-09a0-7492-6e56-038409815452?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 30 Aug 2021 21:23:47 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96BFC745D7A0E\u0022",
        "Last-Modified": "Mon, 30 Aug 2021 21:23:47 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3a964476-09a0-7492-6e56-038409815452/test-blob-111642a0-9a3b-12da-da96-17f1d38c4f29",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 30 Aug 2021 21:23:47 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D96BFC7467E562\u0022",
        "Last-Modified": "Mon, 30 Aug 2021 21:23:47 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-30T21:23:47.8532450Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3a964476-09a0-7492-6e56-038409815452/test-blob-111642a0-9a3b-12da-da96-17f1d38c4f29?comp=block\u0026blockid=AAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "GtPZBq0hGuze4rnP\u002BA0W\u002BQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 30 Au[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3a964476-09a0-7492-6e56-038409815452/test-blob-111642a0-9a3b-12da-da96-17f1d38c4f29?comp=block\u0026blockid=AAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "xPmMzUAuJ7hTFmWG7GTLUQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 30 Aug 2021 21:[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3a964476-09a0-7492-6e56-038409815452/test-blob-111642a0-9a3b-12da-da96-17f1d38c4f29?comp=block\u0026blockid=AAYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "GtPZBq0hGuze4rnP\u002BA0W\u002BQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 30 Au[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3a964476-09a0-7492-6e56-038409815452/test-blob-111642a0-9a3b-12da-da96-17f1d38c4f29?comp=block\u0026blockid=AAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "xPmMzUAuJ7hTFmWG7GTLUQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 30 Aug 2021 21:[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3a964476-09a0-7492-6e56-038409815452/test-blob-111642a0-9a3b-12da-da96-17f1d38c4f29?comp=block\u0026blockid=AAoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "GtPZBq0hGuze4rnP\u002BA0W\u002BQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 30 Au[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3a964476-09a0-7492-6e56-038409815452/test-blob-111642a0-9a3b-12da-da96-17f1d38c4f29?comp=block\u0026blockid=AAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "xPmMzUAuJ7hTFmWG7GTLUQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 30 Aug 2021 21:[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3a964476-09a0-7492-6e56-038409815452/test-blob-111642a0-9a3b-12da-da96-17f1d38c4f29?comp=block\u0026blockid=AA4AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "GtPZBq0hGuze4rnP\u002BA0W\u002BQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 30 Au[...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3a964476-09a0-7492-6e56-038409815452/test-blob-111642a0-9a3b-12da-da96-17f1d38c4f29?comp=block\u0026blockid=ABIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "GtPZBq0hGuze4rnP\u002BA0W\u002BQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 30 Au[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3a964476-09a0-7492-6e56-038409815452/test-blob-111642a0-9a3b-12da-da96-17f1d38c4f29?comp=block\u0026blockid=ABQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "xPmMzUAuJ7hTFmWG7GTLUQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 30 Aug 2021 21:[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3a964476-09a0-7492-6e56-038409815452/test-blob-111642a0-9a3b-12da-da96-17f1d38c4f29?comp=block\u0026blockid=ABYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "GtPZBq0hGuze4rnP\u002BA0W\u002BQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 30 Au[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3a964476-09a0-7492-6e56-038409815452/test-blob-111642a0-9a3b-12da-da96-17f1d38c4f29?comp=block\u0026blockid=ABgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "xPmMzUAuJ7hTFmWG7GTLUQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 30 Aug 2021 21:[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3a964476-09a0-7492-6e56-038409815452/test-blob-111642a0-9a3b-12da-da96-17f1d38c4f29?comp=block\u0026blockid=ABoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "GtPZBq0hGuze4rnP\u002BA0W\u002BQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 30 Au[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3a964476-09a0-7492-6e56-038409815452/test-blob-111642a0-9a3b-12da-da96-17f1d38c4f29?comp=block\u0026blockid=ABwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "xPmMzUAuJ7hTFmWG7GTLUQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 30 Aug 2021 21:[...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3a964476-09a0-7492-6e56-038409815452/test-blob-111642a0-9a3b-12da-da96-17f1d38c4f29?comp=block\u0026blockid=ACIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "GtPZBq0hGuze4rnP\u002BA0W\u002BQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 30 Au[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3a964476-09a0-7492-6e56-038409815452/test-blob-111642a0-9a3b-12da-da96-17f1d38c4f29?comp=block\u0026blockid=ACQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "xPmMzUAuJ7hTFmWG7GTLUQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 30 Aug 2021 21:[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3a964476-09a0-7492-6e56-038409815452/test-blob-111642a0-9a3b-12da-da96-17f1d38c4f29?comp=block\u0026blockid=ACYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "GtPZBq0hGuze4rnP\u002BA0W\u002BQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 30 Au[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3a964476-09a0-7492-6e56-038409815452?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 30 Aug 2021 21:23:50 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1340430931",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}