{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-5715edce-8cab-7f29-8d0c-65de7808cd81?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 26 Aug 2021 19:42:52 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D968C9B1BA3E32\u0022",
        "Last-Modified": "Thu, 26 Aug 2021 19:42:52 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-5715edce-8cab-7f29-8d0c-65de7808cd81/test-blob-3e4eace3-6c40-cbd0-0516-d576e59b9466?comp=block\u0026blockid=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "B8q\u002Bjwvo7bxzHnSir23PyQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 26 Aug 2021 19:42:53 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "D7VGgrczuN3x3b/0hlA7Pwi/Teky/X/pAsMuCU76iIJsz8qOCIHuXNb43iRPz26sQ2P48MhgBBE2XX/0Ba\u002BO9lQ8h7aGrDaG0PATOh9bmjJUgcXrApe6C8q4WKsC\u002BlcmaefPEki3JpcsciDXTcrx2sJMoITpovS8gnzszVOLg9aZ7NE4jIjqnFsuv4934r0Axn7otVrSPcbyEo/Ly1lDoO5KPWD4uU06YgMpu\u002BNkRKC\u002B7AbVo857x68KRXn4HtAB6x6hLaRdBw0wrVNWqYHjjs7vDd9Sbv0gznax7nPUQkMzJ8/Ewxf7YeT4pPV6JR0tJ7erCBHxr[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-5715edce-8cab-7f29-8d0c-65de7808cd81/test-blob-3e4eace3-6c40-cbd0-0516-d576e59b9466?comp=block\u0026blockid=AAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "cO5zHMVnHQRCxAnfR9uJhQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 26 Aug 2021 19:[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-5715edce-8cab-7f29-8d0c-65de7808cd81/test-blob-3e4eace3-6c40-cbd0-0516-d576e59b9466?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 26 Aug 2021 19:42:53 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D968C9B222031C\u0022",
        "Last-Modified": "Thu, 26 Aug 2021 19:42:53 GMT",
        "x-ms-content-crc64": "B8VTE7U2ZfY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-26T19:42:53.5924508Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-5715edce-8cab-7f29-8d0c-65de7808cd81?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Aug 2021 19:42:53 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1693906499",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}