{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d138c0b6-9337-3a37-b758-693dff928661?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 21 Sep 2021 17:35:38 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D263A1C8DD5\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:35:38 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d138c0b6-9337-3a37-b758-693dff928661/test-blob-813d7317-5906-0950-570d-85057070fc8a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 21 Sep 2021 17:35:38 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D97D263A258070\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:35:38 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-09-21T17:35:38.7401328Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d138c0b6-9337-3a37-b758-693dff928661/test-blob-813d7317-5906-0950-570d-85057070fc8a?comp=block\u0026blockid=AAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "vCIgQqx0ViWg\u002BExtB4K3lQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 202[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d138c0b6-9337-3a37-b758-693dff928661/test-blob-813d7317-5906-0950-570d-85057070fc8a?comp=block\u0026blockid=AAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "vCIgQqx0ViWg\u002BExtB4K3lQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 202[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d138c0b6-9337-3a37-b758-693dff928661/test-blob-813d7317-5906-0950-570d-85057070fc8a?comp=block\u0026blockid=AAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "vCIgQqx0ViWg\u002BExtB4K3lQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 202[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d138c0b6-9337-3a37-b758-693dff928661/test-blob-813d7317-5906-0950-570d-85057070fc8a?comp=block\u0026blockid=ABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "vCIgQqx0ViWg\u002BExtB4K3lQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 202[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d138c0b6-9337-3a37-b758-693dff928661/test-blob-813d7317-5906-0950-570d-85057070fc8a?comp=block\u0026blockid=ABQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "vCIgQqx0ViWg\u002BExtB4K3lQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 202[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d138c0b6-9337-3a37-b758-693dff928661/test-blob-813d7317-5906-0950-570d-85057070fc8a?comp=block\u0026blockid=ABgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "vCIgQqx0ViWg\u002BExtB4K3lQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 202[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d138c0b6-9337-3a37-b758-693dff928661/test-blob-813d7317-5906-0950-570d-85057070fc8a?comp=block\u0026blockid=ABwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "vCIgQqx0ViWg\u002BExtB4K3lQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 202[...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d138c0b6-9337-3a37-b758-693dff928661/test-blob-813d7317-5906-0950-570d-85057070fc8a?comp=block\u0026blockid=ACQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "vCIgQqx0ViWg\u002BExtB4K3lQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 202[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d138c0b6-9337-3a37-b758-693dff928661?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:35:39 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1312571538",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}