{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-697b7f52-d708-42f5-9650-34ac5a674b1b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 06 Aug 2021 21:18:11 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9591FB1D8BFD5\u0022",
        "Last-Modified": "Fri, 06 Aug 2021 21:18:11 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-697b7f52-d708-42f5-9650-34ac5a674b1b/test-blob-3ac68c3c-3237-56ad-dfbc-1aa10b897c20",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 06 Aug 2021 21:18:11 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "Hfq7poKLx4U\u002BxSngXN15luYGztuZPACe2CKSe6\u002BQ/d49svrNRMOrUrZI0VbIqztV54fJspMOL\u002BH6Hc1g\u002BEvWrcdLo6rirFIiW3wkUWup1i3mPJQnx0tLLoMY0yf2SllqciOOfAiRcjs1plYW6t12UEafebu3ruV8AHQmytgrLBAiud5HGlklVMpZ8iH0NESlooLgVtCds8M9EnyTa6hiCXpF8zD/LjbteiXxXbzEh8swgCdWS9U/hQUbCgjckekh9\u002Bimr0ATpnRM8tyrrFYGeIuwY\u002BqBDL6kBW4r4yQtEeg7z2bUHdiLHNqyClj5lNivFJF9Ky7/oOopAq[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-697b7f52-d708-42f5-9650-34ac5a674b1b/test-blob-3ac68c3c-3237-56ad-dfbc-1aa10b897c20",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Aug 2021 21:18:11 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "DDhUDHF2DmsB039419jqiQ==",
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9591FB1F04B52\u0022",
        "Last-Modified": "Fri, 06 Aug 2021 21:18:11 GMT",
        "x-ms-blob-content-md5": "cTvijXuvL4A0402JhHixfQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 06 Aug 2021 21:18:11 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 06 Aug 2021 21:18:11 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-06T21:18:11.3809234Z"
      },
      "ResponseBody": "HrCnXO0yEwBg6wmy82ZycvE7UkXWlsG0XlDFE7P\u002B9YJLZLfrGk3mfOYcZk7gweXZBDIdArwBNojv8/2dbf9MYfaGZ46uh1ekVNVeui9y1Jxr7A\u002BA4fLGSS0v/CdPSQ/nzwRYWVpWKnzbeK3mo3xYfB5hMYDwzIADvx1gf4ovVAvFd\u002BsrGnpBFMKSpWhE4Kax1n8J7heP9gKDVJk99avyqyShISyQLWGjHxy\u002BXScYv993r6gLJmX0NoDpp8bgBB8XoPlDor95IakdZc/60JnaapS6xUYC54W\u002Breqsp4Wbwhr9p70u1Rwg/Y7\u002B7cGW\u002BmbnDjwxJj/YFLlzhPXUzXokgqK1/CjbrJV4mce4BPnEKLOExZhIaZzaJZMEulAmSzAU2moe4P09C2GnuIx3IBC/r1xBUAjh2xgG2teV1/JFUU6XpCmPpUe2Rrk3obAPYwSDRArz5fsnMv9SGAYlqDNvYmc\u002B4HzmMAoViwlOqjln9nfSEZLnUWxTb3EqPI1BkJ6Gxz5J0IKInBT/3lnx2YjF6iGPU5aghxH663EKvPN91PtryOL7Hib0SnV953ISYZXoZFJrsT0I5UAtT\u002BURfuAhggpehRGmysz7mgghI5\u002Be54nbIVegESK\u002BY\u002BKizc5B4syUXGVntNyEQpqGcBc058KgjmdbNlyJgHDonyIuBPz9ubc="
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-697b7f52-d708-42f5-9650-34ac5a674b1b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Aug 2021 21:18:11 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "334183860",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}