{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-448cceb6-3844-4170-bf8f-35aa782fe206?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 16 Aug 2021 19:45:57 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D960EE776D92B6\u0022",
        "Last-Modified": "Mon, 16 Aug 2021 19:45:57 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-448cceb6-3844-4170-bf8f-35aa782fe206/test-blob-15a15e1f-cab1-e16f-e460-f729cae04b20",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 16 Aug 2021 19:45:57 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "kvlWc8bLGS3A8SsLRyAo9jZXaFp28V4pLLSLmoVH1yhRub4fc\u002BUXdwWLMLbnjBxG5AyPbYeNwaCbLEcSP3\u002BneRkDuo1hCIJRP/BV68GnQp\u002BXRbV5t2qgxPcehEedBTiF47ad5NKO5dyJPi2XN9bf9OqoevnJLsGvYvWVQ4Q7tDm4zwcKCV7MCGDZ73k8CYwhPpBd9Is\u002Bu7T17oHc\u002BaJXTon03mjO1eqL23GZ8D9HcllodAT03r\u002BtehNSFBvc7w\u002B\u002BgaDvRyskUmml0RkapMt1rXsoc4WdY2/KRmRUe8DOr\u002Bth226eWCotRCGbTg2mk9V[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-448cceb6-3844-4170-bf8f-35aa782fe206/test-blob-15a15e1f-cab1-e16f-e460-f729cae04b20",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Aug 2021 19:45:57 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D960EE7777B283\u0022",
        "Last-Modified": "Mon, 16 Aug 2021 19:45:57 GMT",
        "x-ms-blob-content-md5": "GQMN52Sezix9TZGfLKeIPQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "0Ar0xj53z6U=",
        "x-ms-creation-time": "Mon, 16 Aug 2021 19:45:57 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 16 Aug 2021 19:45:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-16T19:45:57.2451971Z"
      },
      "ResponseBody": "UJh\u002BcUHzN1KaFPUU5Z3bN6rRaeqWtQtDDMyui8WIIC4UoozAfmQ440wcm\u002Bh1vvK\u002BOUad3ES9fJuNOmR0RKuNEfTG/0MRG7hFmYaeehkizk7a8FJ/60PqVyXwM0T/w56gjorzrr6vrR2NV0O9HwKBa2sWmlRZDiaw3KgdIOh0RdXo/euOLiCPK0I08ZMALDcjbsfY6SlJRoBkQtIWkYw1GBFt1SEW8zxLhm8RJRySsK9w\u002BrEgm1ysnrdrKutOeZm2/tiBklcWDHuLjGO6NyFk0pIipZfaFX21wTZqq8lQ/QzVWyZDEB1YWu02lA748WeWB1hZK9MB2\u002BlbzNEgrGCyOo9X5Nv6IMF0ykuppIBuvM/P06Rw99E41IA950RMOK2Ng1p/oQ2LnOaW5GGHVzZp7Q8BUNi8QUK9Hg9bvTl8KJGeHCAm7xvCRDe\u002B2hNwsX1J0/o1SufU0UIXwYP9MN6tGrvP6ToWQ/3zPwuh/WcvTGySEek\u002BRt2qyUveDi2XxRRYEb9YocdCM5D8QgvcM9Pa53UWah71btTdJSDuNzTQW3r3SOyo16ulT95YQgTSzZV4BCa4gVr2YqLrenunU/xcK\u002BaR5evmMhDJcRpAnSzPC1eLdjINGNofAeVJvVwv/vvh\u002BxYeQOiqktIW7hA/tcV2G28kHN3JThMLceQFnHWzmXM="
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-448cceb6-3844-4170-bf8f-35aa782fe206?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Aug 2021 19:45:57 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1496694230",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}