{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-ea56cd49-5acc-d376-6fc4-52a507bca148?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 13 Sep 2021 19:51:08 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D976EFD4C0EF0C\u0022",
        "Last-Modified": "Mon, 13 Sep 2021 19:51:08 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-ea56cd49-5acc-d376-6fc4-52a507bca148/test-blob-3c9b0203-9f62-5a03-6799-43bfcba3d08a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 13 Sep 2021 19:51:08 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "ZG0sW476\u002B1xvkTm5zQiRREW4zv9JI4LYqNRAtDyMX9J3l/i9NmxICQc\u002BzdBmSoxeCP55E9XRQUHrVLO6uUcg4jJmQTYP1A7Zb8T4ClaxcV5H4aw\u002BEkv9pVW30eG4jlDAHuqeAAhVTzTvoKQQ2TbqOuJVctia4s/maZvgVwIsIOF0N\u002BxrE3FV8ZF3TnKn7cwfzZf/Yxt3JTwbt5ZsdPcxwn/Cm6FKfiZw/4BGI5NcPnzPwYprLb3F/BKvUFva6XyaRovy5VEq1E5wjmOaMQKovnkanLNtxpXC/Z6Pmi7LlRYEq9wIalkqpOw7\u002B59ZK8sPBpLiwEzJLYD2L\u002B[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-ea56cd49-5acc-d376-6fc4-52a507bca148/test-blob-3c9b0203-9f62-5a03-6799-43bfcba3d08a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 13 Sep 2021 19:51:08 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D976EFD4D404CA\u0022",
        "Last-Modified": "Mon, 13 Sep 2021 19:51:08 GMT",
        "x-ms-blob-content-md5": "vCNESynxQlfH4N2rN/Nipw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "/8WKVCR8JvU=",
        "x-ms-creation-time": "Mon, 13 Sep 2021 19:51:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 13 Sep 2021 19:51:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-09-13T19:51:08.9561802Z"
      },
      "ResponseBody": "ZG0sW476\u002B1xvkTm5zQiRREW4zv9JI4LYqNRAtDyMX9J3l/i9NmxICQc\u002BzdBmSoxeCP55E9XRQUHrVLO6uUcg4jJmQTYP1A7Zb8T4ClaxcV5H4aw\u002BEkv9pVW30eG4jlDAHuqeAAhVTzTvoKQQ2TbqOuJVctia4s/maZvgVwIsIOF0N\u002BxrE3FV8ZF3TnKn7cwfzZf/Yxt3JTwbt5ZsdPcxwn/Cm6FKfiZw/4BGI5NcPnzPwYprLb3F/BKvUFva6XyaRovy5VEq1E5wjmOaMQKovnkanLNtxpXC/Z6Pmi7LlRYEq9wIalkqpOw7\u002B59ZK8sPBpLiwEzJLYD2L\u002BeymjogpPhNloUloFQg7/jGMcv2adLTgJOb6dXJOn5cEjpxdwmyG1amDJRF6mY9wtBUA/u1/8[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-ea56cd49-5acc-d376-6fc4-52a507bca148?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 13 Sep 2021 19:51:09 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "815361862",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}