{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-1cbbd3f5-3432-ed9b-92a2-bc68cfb3adf4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Aug 2021 19:57:21 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96414B9429CE2\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 19:57:21 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-1cbbd3f5-3432-ed9b-92a2-bc68cfb3adf4/test-blob-1fc64d26-cd8b-bb09-a5aa-4b2bbe14c760",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Aug 2021 19:57:22 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "1pLwTh1pAKabfaPuSY57ctT7SKtJ2kSPQIdqLSuQoYTFTzbeL3\u002BjtiPCNzILSTWgjrHToavTUPtOYQ2V/9J7C9weKflXnENVV5GIh6MSg/dSyp56vf/Z8f87kM5xDrdQRyxV7R87SPFtfUkaSslXPN4WQjUzAU3cRTj6HAx140naOEB3vJXXF4GtDD\u002B2v6Y141TvWsuCHEXeeKfnQCvl\u002BJoAPxKJ4H9IPiuzhvUNJoaRxDm4hYh9Vxv6mEPu8NZWyBOltX\u002BUrALUpxygz5ZQ0FIgVnzyLHMRg\u002Bj2j0g7Wk5VXb7haHEH/Bg2495s3YiFqcfxzZpaY5ugkzGWnR2[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-1cbbd3f5-3432-ed9b-92a2-bc68cfb3adf4/test-blob-1fc64d26-cd8b-bb09-a5aa-4b2bbe14c760",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 19:57:22 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D96414B94C4AD8\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 19:57:22 GMT",
        "x-ms-blob-content-md5": "IUGAm8ahy6hIJxSJIXNypw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "I2ku9XMSl60=",
        "x-ms-creation-time": "Fri, 20 Aug 2021 19:57:22 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 20 Aug 2021 19:57:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-20T19:57:22.0544216Z"
      },
      "ResponseBody": "1pLwTh1pAKabfaPuSY57ctT7SKtJ2kSPQIdqLSuQoYTFTzbeL3\u002BjtiPCNzILSTWgjrHToavTUPtOYQ2V/9J7C9weKflXnENVV5GIh6MSg/dSyp56vf/Z8f87kM5xDrdQRyxV7R87SPFtfUkaSslXPN4WQjUzAU3cRTj6HAx140naOEB3vJXXF4GtDD\u002B2v6Y141TvWsuCHEXeeKfnQCvl\u002BJoAPxKJ4H9IPiuzhvUNJoaRxDm4hYh9Vxv6mEPu8NZWyBOltX\u002BUrALUpxygz5ZQ0FIgVnzyLHMRg\u002Bj2j0g7Wk5VXb7haHEH/Bg2495s3YiFqcfxzZpaY5ugkzGWnR26mE3NSnHXb2jgGVlju0mUpaZgcOWASoy0\u002B/kiQNU/cF77fEqQnpIWrTpfELRA9qhSC\u002B6LNiw4OU7AGU94tC6Soaj7Zz7\u002BAwYTScKqITnYdARQ0DTnszoxw0L80IVCnfkMzG8LRI5pUwfnd\u002BxpjRgU6KVLJ\u002BP5q\u002B1uyaT8ATOA0azJnlTKzC915n0s/ztOxzUq6Ojg93UVEiCBnXvqbVHUZ6ZAoO/DSRt11UFmzKyyHwFu0hlLoNk2tIs0SS\u002Bzi3grWJiVDidFZp7MaiE0rkVzz315e5s3iMbMCetjjwDswUrIOnQUHRHZKGt7fjW3AQZGwHmxOg/d88/RyAQ84ded4Kg="
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-1cbbd3f5-3432-ed9b-92a2-bc68cfb3adf4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 19:57:22 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "225212366",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}