{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-ce53d564-31ec-d3f2-e20d-c44058b0fa8c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 07 Sep 2021 18:35:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9722E54DE11D9\u0022",
        "Last-Modified": "Tue, 07 Sep 2021 18:35:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-ce53d564-31ec-d3f2-e20d-c44058b0fa8c/test-blob-118edc97-5c17-ecce-017a-3d95de50df3a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 07 Sep 2021 18:35:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "dwd\u002BE5iGzzB8/UVpox4MVyMyChcZhKVldipyQs6snMaXmT7GuiGHEQ1elBkWZEjibuVyq0bHIfJhGJxtE41h0GB/0grgRp0Cq/gKuu\u002BLTxHikNTpOfF/z3dLZKKEGf1//cO4l5I\u002BASdHcABNvWcC1smKi4K5d5dv/wKSleH7fZH7irwr0rd/pI\u002BsocnwMREQSI7Y\u002Bo56xoUsSZePq2xGTPJvUjOq1gMRC\u002BfzDNbNf87xgkxTIoMCgMM3/4kg7/kiZlTWgN/eZnGKx\u002B6nhrqvX8nJnigf8ipvbdJwctd68Bzt0aaB9/7uEhvbyFqUWvkJh5\u002B/[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-ce53d564-31ec-d3f2-e20d-c44058b0fa8c/test-blob-118edc97-5c17-ecce-017a-3d95de50df3a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 07 Sep 2021 18:35:56 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9722E54EF8BD1\u0022",
        "Last-Modified": "Tue, 07 Sep 2021 18:35:56 GMT",
        "x-ms-blob-content-md5": "MqinHI6BfhrMhsli/4RHMw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "UXZb8osb3k4=",
        "x-ms-creation-time": "Tue, 07 Sep 2021 18:35:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 07 Sep 2021 18:35:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-09-07T18:35:56.8682961Z"
      },
      "ResponseBody": "dwd\u002BE5iGzzB8/UVpox4MVyMyChcZhKVldipyQs6snMaXmT7GuiGHEQ1elBkWZEjibuVyq0bHIfJhGJxtE41h0GB/0grgRp0Cq/gKuu\u002BLTxHikNTpOfF/z3dLZKKEGf1//cO4l5I\u002BASdHcABNvWcC1smKi4K5d5dv/wKSleH7fZH7irwr0rd/pI\u002BsocnwMREQSI7Y\u002Bo56xoUsSZePq2xGTPJvUjOq1gMRC\u002BfzDNbNf87xgkxTIoMCgMM3/4kg7/kiZlTWgN/eZnGKx\u002B6nhrqvX8nJnigf8ipvbdJwctd68Bzt0aaB9/7uEhvbyFqUWvkJh5\u002B/V1DQAnMqZhMNbfOZENbSubUTLmjL2owNRCnP2xLYZus4upnLHc4zV5Dq4aQoQbiEwaFE9Vk3[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-ce53d564-31ec-d3f2-e20d-c44058b0fa8c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 07 Sep 2021 18:35:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "303796048",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}