{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-897e98aa-a6b4-0dac-5304-c7858084be33?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 06 Aug 2021 21:18:08 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9591FAFF7E7C9\u0022",
        "Last-Modified": "Fri, 06 Aug 2021 21:18:08 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-897e98aa-a6b4-0dac-5304-c7858084be33/test-blob-c7270624-9c5b-558b-c126-4b2b942d2fe0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 06 Aug 2021 21:18:08 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "OSbRUdBS/2r07aydOk5seKahOFr20HBfT7IdBUBe8iOhSyR6CQtU\u002BScj\u002BdVYlPRaxoee/IAbKmm2cgEeNPkqlvqJ\u002B\u002B8p8m6bTT4y09eaB7u9wj64v/ajhiC7xJcJNsUt\u002BGLbzpkFMNQZA69B6FeSG2pGYHK6ctcE5XTPbi7WkRd5Bdp0vzgiuJJqnrtHYp3IKagtw9VSc4aL1\u002BgkNsKlQ3KXx\u002BN9HVwxJKjgT9McvIPXBkWFqc1BJpFT6ehQ/YLPxFtIr5u6SwtM\u002B54sciOzbhplTS99IJqkVaBRKTRz4SYmEIp40w3oHLs5OK0vFbNuoHrO[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-897e98aa-a6b4-0dac-5304-c7858084be33/test-blob-c7270624-9c5b-558b-c126-4b2b942d2fe0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Aug 2021 21:18:08 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9591FB00BCC74\u0022",
        "Last-Modified": "Fri, 06 Aug 2021 21:18:08 GMT",
        "x-ms-blob-content-md5": "EQsVPhMIjXnBraS92J\u002BQ3Q==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "R0Jk5wYDsIg=",
        "x-ms-creation-time": "Fri, 06 Aug 2021 21:18:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 06 Aug 2021 21:18:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-06T21:18:08.2057332Z"
      },
      "ResponseBody": "OSbRUdBS/2r07aydOk5seKahOFr20HBfT7IdBUBe8iOhSyR6CQtU\u002BScj\u002BdVYlPRaxoee/IAbKmm2cgEeNPkqlvqJ\u002B\u002B8p8m6bTT4y09eaB7u9wj64v/ajhiC7xJcJNsUt\u002BGLbzpkFMNQZA69B6FeSG2pGYHK6ctcE5XTPbi7WkRd5Bdp0vzgiuJJqnrtHYp3IKagtw9VSc4aL1\u002BgkNsKlQ3KXx\u002BN9HVwxJKjgT9McvIPXBkWFqc1BJpFT6ehQ/YLPxFtIr5u6SwtM\u002B54sciOzbhplTS99IJqkVaBRKTRz4SYmEIp40w3oHLs5OK0vFbNuoHrO6rBSUqTBo1n6aSHX2Rp4BmKYO5sMfDBzQ\u002BftdUDs44m6pfZ2073lti\u002Bz7bOaYl\u002BStg5R1WXewW6A3g691C4YDoWXHDMjAjKksoRrWI582eCHWr4xmg0k2\u002BOI9fSvKOIBm98tA0UrbrTcrCLhc2jfAwUtNnlv5nN4c0FQmww99Yqhar2vTtabW\u002BsJVe7qQ2h7qfLvgfFpkbRrtY8E29Oon7eXPwiqL7QvktuOZZGFjS/Z1PIaTnSZONgJRJlGl38YYbY2UgNf0Hk9v\u002B4W2iwj5SdgKgfgjlBC/gcwoeob6PtbdQTbTjssegR43I6Fgl2s5l5y5mx4N9Nl9FP8Li6OItbzumUoSJbsNLACZ7E="
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-897e98aa-a6b4-0dac-5304-c7858084be33?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Aug 2021 21:18:08 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "467517108",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}