{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-a9a76a89-64ec-60f9-da0a-3cf847ab1a28?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 07 Sep 2021 18:35:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9722E54DB4567\u0022",
        "Last-Modified": "Tue, 07 Sep 2021 18:35:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-a9a76a89-64ec-60f9-da0a-3cf847ab1a28/test-blob-c0f51da3-d937-3000-7fe4-646d7e5ead8a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 07 Sep 2021 18:35:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "bo2ed8eEO6wUVW/FK\u002BMdwg7G95Va23d/z7QWCJGUJtYzo5gY5PhYHuJIq\u002BJqOgScx6Fft2YXMJMWH6cSbjIbgC\u002BYkohKBd0VbdmzEi\u002BVFZWveUHvNG5vG3IFAsVRRq\u002BvLSuz0qh8UcLESUqNZB5jgQkSYvTwK0vAKHYVRQMYxCcpA\u002BUE4UPsMyh/K\u002Bok4rdUoYG8PuO7vgHf8qkxZgu\u002BrIUiZGA5X5/GJS7LcQBgnEa/waOCXIVDbUTjJe\u002BZu80cwH9lAX1WGkHh9Rm0700BflVjcqRnPFD/3vYcVTqwLGphr7GB\u002B5vIaadhoG[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-a9a76a89-64ec-60f9-da0a-3cf847ab1a28/test-blob-c0f51da3-d937-3000-7fe4-646d7e5ead8a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 07 Sep 2021 18:35:56 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9722E54ED4238\u0022",
        "Last-Modified": "Tue, 07 Sep 2021 18:35:56 GMT",
        "x-ms-blob-content-md5": "OJwzBOKNZDbkgIpfwxUpNg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "tFr7dql1xC0=",
        "x-ms-creation-time": "Tue, 07 Sep 2021 18:35:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 07 Sep 2021 18:35:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-09-07T18:35:56.8533048Z"
      },
      "ResponseBody": "bo2ed8eEO6wUVW/FK\u002BMdwg7G95Va23d/z7QWCJGUJtYzo5gY5PhYHuJIq\u002BJqOgScx6Fft2YXMJMWH6cSbjIbgC\u002BYkohKBd0VbdmzEi\u002BVFZWveUHvNG5vG3IFAsVRRq\u002BvLSuz0qh8UcLESUqNZB5jgQkSYvTwK0vAKHYVRQMYxCcpA\u002BUE4UPsMyh/K\u002Bok4rdUoYG8PuO7vgHf8qkxZgu\u002BrIUiZGA5X5/GJS7LcQBgnEa/waOCXIVDbUTjJe\u002BZu80cwH9lAX1WGkHh9Rm0700BflVjcqRnPFD/3vYcVTqwLGphr7GB\u002B5vIaadhoGZsjn734qaZNkkotIMuZSKHOcQHMcmvU0Ccf4K6mwj9BZzqk093JXOTFvUgOfotUpV4QC/iWm[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-a9a76a89-64ec-60f9-da0a-3cf847ab1a28?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 07 Sep 2021 18:35:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1706960217",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}