{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-b33756a0-1492-349d-405a-74b96125a1fc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Aug 2021 19:57:11 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96414B2FAA814\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 19:57:11 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-b33756a0-1492-349d-405a-74b96125a1fc/test-blob-39701b05-cfd8-28a2-9434-c4193477b16c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Aug 2021 19:57:11 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "5IAmJFaU5Dr/QKlCIW6qyeP8vQ03lpvTSI4/LOrwIwKp2UoJT1IhZ2\u002ByCiAHNkB7WrGD1kmZ4U7kU9zIVbdQDx2nmUgjoHqQ2ladhIt7zBFNxNI4bUy4D/f8Jfx1WRK4YvsCX534V7k38vvz/FzCaIbLepDlF6LQ7olQJ3t9GoFD5SKPeWx0VW0YAXpRxROaOr11qt6C0ktYMnETqDA\u002Budd5rxc6Mu8aVyUizBUnfyl2te2\u002BCHCjwRLWNkb7YKw92kij1xX8XwfNW1O5XwU1MbNInfJCf7Fn1u0EY/yoH/Z45PHNhKgTeVXm8Kwc6WIMoAWSssO6\u002BlqWOwAn\u002BPw[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-b33756a0-1492-349d-405a-74b96125a1fc/test-blob-39701b05-cfd8-28a2-9434-c4193477b16c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 19:57:11 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "i8WVouyPablVumqmHVWEag==",
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D96414B304D8BC\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 19:57:11 GMT",
        "x-ms-blob-content-md5": "OW/SrXRgsL3V/mW6HqPigA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Aug 2021 19:57:11 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 20 Aug 2021 19:57:11 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-20T19:57:11.5198652Z"
      },
      "ResponseBody": "EL21SzJRqJOhDI0zgxo56asRNM25EWeWfo63uWdCboG4M6l7JSrFejfzYM8DlYYkAVF6aPAaCP5VH8ykmu8sXp0Me1BxvcOAS7mWxbGYk\u002BgHkrgVxwaQniqqJgZdId9HxwEy9ho2s0ON\u002BRw2g0JNvYvjnQc3FpaWe90lx5e9IyrZT/6vZpzO0N90iM3pWhrnXWl6eYTYELBqm3s8EOys0NbyXDRDnVfvFMwowo7JrCHCPmktQqmmAT5NRMohksDzyLf39/3mo8ASi2W4r04ioe5aedKCfo0tS1v19ViMzoILNfrW0bQj3JqpG7dE7lLwK6PbxxjucEkpyayi8K1nhbzirHpTTNA5Npw32WLW6V0IBcq1sAZpHcSwrQcIgezsQZb6YULYnN/ToZF7tpfmU\u002BBOmerisdS2eI61o57IMbSwSpfM24cbMGjr4g917mctylonuegBCZDBROmzIvlACnDcy2v/GXdYM2iB98/FQIoniNhEoHfLr0AHC5aeZw5vq9eemCP7LbDizoaAfxLA\u002BwRfjJog\u002B2n4ERsr\u002BA7gusxZEkz4JqdnK1ooYtLxSi8uRg\u002BSP9p0Tq9tpocH0DWhARO5J2zGyNVd92BA95mXB8br/LH\u002BTnvx5cOcioAfX1skhmC\u002BNyPCaH06NEd5M1YV1p7AG9ODo7KYyEGpKT5UPZg="
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-b33756a0-1492-349d-405a-74b96125a1fc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 19:57:11 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "468371019",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}