{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-0a6c1b42-3e4f-7931-2357-58a28a6d47e4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Aug 2021 19:57:19 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96414B7E5DB0C\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 19:57:19 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-0a6c1b42-3e4f-7931-2357-58a28a6d47e4/test-blob-2ace162a-2b33-d6db-d207-b54db155a4d7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Aug 2021 19:57:19 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "jkczXteFFO4DtiP0Pqi/lekgmgnxQ3xjUnLzV9Zhm8mXMvpyWg9fg2yOAbG14HybD\u002BjN\u002BoO43EvK0Atkkb0XoRpZXQutTDvawBedYkHLrXL2WEjuk6FG3lauqIkD\u002B/Gvdl\u002BWW4Jw7cKt8zlrG3kJ/iKZbjl0KQ55E3\u002B0/qOx1sUl7uziNVLvhWqFQZ9o2sPdpalmaY24OkxRHUgDu\u002B8e\u002Bx10RiyMJ8nQqujP7\u002BhuEDm711n5Smw3bbSfkRcK68l7ZkWB9JSWUX3glr\u002Bk6Utk4gwPSOSVJLCxPNh47Jaxxr8eVIii7BykJIXcGbStkoR[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-0a6c1b42-3e4f-7931-2357-58a28a6d47e4/test-blob-2ace162a-2b33-d6db-d207-b54db155a4d7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 19:57:19 GMT",
        "x-ms-range": "bytes=256-767",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "NykogcKVOGiQ3FE2ONNLgg==",
        "Content-Range": "bytes 256-767/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D96414B7EFAF56\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 19:57:19 GMT",
        "x-ms-blob-content-md5": "8TBEjcHZp6vr8lhz9tRb/Q==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Aug 2021 19:57:19 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 20 Aug 2021 19:57:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-20T19:57:19.7697878Z"
      },
      "ResponseBody": "z/\u002BGlcPC9e9qI165C/wEqVQPseelyhw5bkYNHGToBiH16eStDO\u002BleLkbkH\u002BGKzaYzA5nD7P/iQTjTCZ8tNmLgRw9xCEXVpxlaTktijmcskMPdE9Vgfdt9WDfycDIKMPgkA9jSGcUgXVyAqV60v/LR5njbUCJNf8lz8/BN4zcnEB1TfkqOGnc\u002B/LZ439R8yNgFIIm5buDVloPPnmYU0rplmZkBIQFoA4vB3FNsFKA09yrYCIKtraE8vaeGvrwQ6io8E0Z7e6eW3R09t5KNaYIj2qd7PIo3\u002BCv4BKOZoYTPsPJpb8FZ\u002BbtDQWtlb/XOrxPlouPU1e1fxFsaQ3cD/TuYLcbgJDnAyiEsN/sekkg2KVWP9D6g\u002BtrFCWumP3ZEP0RvzQIvLosaJJjCqN4yAXHTJFnhtAj893Mr2tqOGsqq5/h27oUFxvrKdY9l3lH80sg5ktscYos7cxXPAxOwi8nOF4Elu1KsjV1fFz55VtkhLsgSVIfvjoUte3uvdsPnGenFl8aQ11d1jMW9vUuMgdw87dQLXjdCHok7\u002BAAW/VZZt/0Us/8SUFewnMeCcdF5YLlfckjvm7vyg7k9VN8XXo9vI8VOuA4dKl28msFvv6y3wleGt4sNqhxBYjBF1Tu4WT44Ew3MKuirQgfrcsD6QsPMRZJHkOcEYbnozRXdl1ViBE="
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-0a6c1b42-3e4f-7931-2357-58a28a6d47e4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 19:57:19 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "590429897",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}