{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-ce79c15b-073d-ca94-32aa-25bd653f3267?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 07 Sep 2021 18:35:54 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9722E5357C48C\u0022",
        "Last-Modified": "Tue, 07 Sep 2021 18:35:54 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-ce79c15b-073d-ca94-32aa-25bd653f3267/test-blob-72f46a8b-c727-a146-c044-6452825a3684",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 07 Sep 2021 18:35:54 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "GbMBS9WRR09p3OvUxVcvv365rii4Hkn01Mjg2/41CrCpcJBSqCH1\u002BiOlCEvcctxoFKTUyasOy/ppDXcNsGtRM9I6KlTH3Rddw7QFExX\u002BGGHrd8dZYUAFm6WV6Jup50m3VNV5oUeHoTaMdgX2Cbfla/QVITik99GRNY6uMvV8s9xrTb5AhHYZY9aQzOs6DpLtr32mlMUQE1wD52u42W9BEMIpi7v5pOZ\u002B\u002B75iEyvmVib8wYJ31h8WWjpiPZ0LYYpnT7woEYLW9AuXJ5gHrv8xHJFEvBfsyTmjEjGBlmdJc5oz\u002B8RuvkWjJsx34K6GD6w6MCALxqRyeoWChP9RVF2[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-ce79c15b-073d-ca94-32aa-25bd653f3267/test-blob-72f46a8b-c727-a146-c044-6452825a3684",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 07 Sep 2021 18:35:54 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "nBup\u002BBcHnvaeylJ18z2p2g==",
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9722E5367C4E7\u0022",
        "Last-Modified": "Tue, 07 Sep 2021 18:35:54 GMT",
        "x-ms-blob-content-md5": "ltNinoJWi9sdHKhqlq3Bcg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 07 Sep 2021 18:35:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 07 Sep 2021 18:35:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-09-07T18:35:54.3007463Z"
      },
      "ResponseBody": "GbMBS9WRR09p3OvUxVcvv365rii4Hkn01Mjg2/41CrCpcJBSqCH1\u002BiOlCEvcctxoFKTUyasOy/ppDXcNsGtRM9I6KlTH3Rddw7QFExX\u002BGGHrd8dZYUAFm6WV6Jup50m3VNV5oUeHoTaMdgX2Cbfla/QVITik99GRNY6uMvV8s9xrTb5AhHYZY9aQzOs6DpLtr32mlMUQE1wD52u42W9BEMIpi7v5pOZ\u002B\u002B75iEyvmVib8wYJ31h8WWjpiPZ0LYYpnT7woEYLW9AuXJ5gHrv8xHJFEvBfsyTmjEjGBlmdJc5oz\u002B8RuvkWjJsx34K6GD6w6MCALxqRyeoWChP9RVF2jTrT\u002B1LM6wl5MoZVLdeiLHQOFRmZHPa31wIA/7DpFUtJv05L5hzv4AG3CvyUPJwSc92b8zA33XBAHCBMy\u002B9YkBk7D3KJWkZXHjEb5hX2I5ph8ovXTSYXEeHeB8X4nxgWXnbnWTEtiRmXQND/H/deTfyJ6tljhULzI/mQr1J8WoMVBYefEsZlNGVyPAhVG/Xqg7nJcrBCstk38DU7nN3HFuZN5hZvvz86JLZz7UU6mggDqiuYtuvO1lKuax6RLZeLqyUiCzHfesB\u002Bk035zsWT\u002BVopN/ayLmP\u002BfxPHwVQcpPce5EYcFJLaIC9rHied1QeNGm3EZ/Wg2XzFJ4geG7VoXepU="
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-ce79c15b-073d-ca94-32aa-25bd653f3267?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 07 Sep 2021 18:35:54 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1648560894",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}