{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-1cbbd3f5-3432-ed9b-92a2-bc68cfb3adf4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 07 Sep 2021 18:35:58 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9722E55C4CD77\u0022",
        "Last-Modified": "Tue, 07 Sep 2021 18:35:58 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-1cbbd3f5-3432-ed9b-92a2-bc68cfb3adf4/test-blob-4ef092d6-691d-a600-9b7d-a3ee498e7b72",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 07 Sep 2021 18:35:58 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "1PtIq0naRI9Ah2otK5ChhMVPNt4vf6O2I8I3MgtJNaCOsdOhq9NQ\u002B05hDZX/0nsL3B4p\u002BVecQ1VXkYiHoxKD91LKnnq9/9nx/zuQznEOt1BHLFXtHztI8W19SRpKyVc83hZCNTMBTdxFOPocDHXjSdo4QHe8ldcXga0MP7a/pjXjVO9ay4IcRd54p\u002BdAK\u002BX4mgA/Eongf0g\u002BK7OG9Q0mhpHEObiFiH1XG/qYQ\u002B7w1lbIE6W1f5SsAtSnHKDPllDQUiBWfPIscxGD6PaPSDtaTlVdvuFocQf8GDbj3mzdiIWpx/HNmlpjm6CTMZadHbqYTc1KcddvaOAZWW[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-1cbbd3f5-3432-ed9b-92a2-bc68cfb3adf4/test-blob-4ef092d6-691d-a600-9b7d-a3ee498e7b72",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 07 Sep 2021 18:35:58 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9722E55DF4765\u0022",
        "Last-Modified": "Tue, 07 Sep 2021 18:35:58 GMT",
        "x-ms-blob-content-md5": "KoluSmQypyP9pxATflkQiA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "Y9/uv/LaRpE=",
        "x-ms-creation-time": "Tue, 07 Sep 2021 18:35:58 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 07 Sep 2021 18:35:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-09-07T18:35:58.4394085Z"
      },
      "ResponseBody": "1PtIq0naRI9Ah2otK5ChhMVPNt4vf6O2I8I3MgtJNaCOsdOhq9NQ\u002B05hDZX/0nsL3B4p\u002BVecQ1VXkYiHoxKD91LKnnq9/9nx/zuQznEOt1BHLFXtHztI8W19SRpKyVc83hZCNTMBTdxFOPocDHXjSdo4QHe8ldcXga0MP7a/pjXjVO9ay4IcRd54p\u002BdAK\u002BX4mgA/Eongf0g\u002BK7OG9Q0mhpHEObiFiH1XG/qYQ\u002B7w1lbIE6W1f5SsAtSnHKDPllDQUiBWfPIscxGD6PaPSDtaTlVdvuFocQf8GDbj3mzdiIWpx/HNmlpjm6CTMZadHbqYTc1KcddvaOAZWWO7SZSlpmBw5YBKjLT7\u002BSJA1T9wXvt8SpCekhatOl8QtED2qFIL7os2LDg5TsAZT3i0LpKhqPtnPv4DBhNJwqohOdh0BFDQNOezOjHDQvzQhUKd\u002BQzMbwtEjmlTB\u002Bd37GmNGBTopUsn4/mr7W7JpPwBM4DRrMmeVMrML3XmfSz/O07HNSro6OD3dRUSIIGde\u002BptUdRnpkCg78NJG3XVQWbMrLIfAW7SGUug2Ta0izRJL7OLeCtYmJUOJ0VmnsxqITSuRXPPfXl7mzeIxswJ62OPAOzBSsg6dBQdEdkoa3t\u002BNbcBBkbAebE6D93zz9HIBDzh153gqNdsc9FfsmufUjC7CpEVCOU="
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-1cbbd3f5-3432-ed9b-92a2-bc68cfb3adf4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 07 Sep 2021 18:35:58 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "225212366",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}