{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-661098cb-e8f1-caf5-67b5-7f34c004d8da?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 21 Sep 2021 17:35:48 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D26400898E2\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:35:48 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-661098cb-e8f1-caf5-67b5-7f34c004d8da/test-blob-0cacdfd0-752e-168e-ea1a-2cd672715f59",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 21 Sep 2021 17:35:48 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "qhkGreuAbh\u002BOFi4eLuq6XJb5soph/ji4gwNsUXhso5evLRgh1taRT3GNfRdGb\u002BcAX9BAeb7V\u002BKzhTSroFBymIXKXbwDSmIW/Z2MZ04AgchMbbPGoLCrY2TVsQImsqTtU51ykr//mLcZLgBJbuyQrwNsWzKcr/vRIvpXLZVj8E70nxOwkfMITND4rXKsYfB0QQX\u002Btld2TKelnXPBqG8duT21UNPc4BkQZApdp/6FIL0J3uiTYTn3fk5sCvB/RqRh2vQ0\u002BxEgm1zo7lJNGKilHHi2u8mGjlQDwdKBbNkkkR1h\u002B8kKUCmv5UeLpnbrpmWlxup7yIre30ycMTk[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-661098cb-e8f1-caf5-67b5-7f34c004d8da/test-blob-0cacdfd0-752e-168e-ea1a-2cd672715f59",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:35:48 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "YcG71AFVYR3\u002BpdwLaOhaOQ==",
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D264018FD8D\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:35:48 GMT",
        "x-ms-blob-content-md5": "9rZkad/hIk6HgDYC9ciVFw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 21 Sep 2021 17:35:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 17:35:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-09-21T17:35:48.7254678Z"
      },
      "ResponseBody": "qhkGreuAbh\u002BOFi4eLuq6XJb5soph/ji4gwNsUXhso5evLRgh1taRT3GNfRdGb\u002BcAX9BAeb7V\u002BKzhTSroFBymIXKXbwDSmIW/Z2MZ04AgchMbbPGoLCrY2TVsQImsqTtU51ykr//mLcZLgBJbuyQrwNsWzKcr/vRIvpXLZVj8E70nxOwkfMITND4rXKsYfB0QQX\u002Btld2TKelnXPBqG8duT21UNPc4BkQZApdp/6FIL0J3uiTYTn3fk5sCvB/RqRh2vQ0\u002BxEgm1zo7lJNGKilHHi2u8mGjlQDwdKBbNkkkR1h\u002B8kKUCmv5UeLpnbrpmWlxup7yIre30ycMTk\u002BnyqHxFkw6xzfmsxTCtaB\u002BufhGBts36nurMSSgxh8biLwcUoZB\u002BIZtr9ExiweKMG0WOBkvxUdzb\u002BAlReQomQAYyytXpmIaPcBx2VcJBl90IAG3io4F7MJ0qOKlG7OhRRXQGL/cMooK/PtZvezwammBsSTjcA9yEt9p4v2AdSEN0JRBOO2fmO52rI2Sqy/WhD55I2mOvdQGXgbgclCMiobZTOxXrzF74hk2bMSB32avkl6/BlK3fxLAO9rnviWe6iEHuV9CftQM/UBQV1EQhH6fMODxzYM0IczZl3RWlCP0mIKieiYHbRSJsgkRZyfBsLZcSI5ErBye0piSaOdgtmkdXL/ObQo="
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-661098cb-e8f1-caf5-67b5-7f34c004d8da?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:35:48 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "811119572",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}