{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-7d7814e0-364f-b1ed-5bc6-0ae6bc92e757?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 13 Sep 2021 19:51:12 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D976EFD6C8567B\u0022",
        "Last-Modified": "Mon, 13 Sep 2021 19:51:12 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-7d7814e0-364f-b1ed-5bc6-0ae6bc92e757/test-blob-4c1feb31-0895-ccce-791e-a35c9b879eba",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 13 Sep 2021 19:51:12 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "7ibK4hopCYepHBrbn4UPUgraNSeBjE4TC6xEL3q3xQy/uSYkvAWmB\u002BKXo3jt8yzzD1FRwFF2OWLXttZt5NkM8VcOG\u002BZe6pYFMy1F6ujVJhiAUCApZgS7SIDETQUuOSIIirIh39dFlCS6S40jMU95AZC\u002B7ZS44opSU9Jlmp2Q1voKPF82tEdAOrz8bhp3lxYwSkt0cEuOT6cnzosF4PqGKnWSGPXvQ01JfbLXvHRv27u7NVBSG2WufOy3D\u002BW7O1rCdUSl5H8hQAf9K/OZtpMzt/PQSaupNA4P5JwIODRojkFYFUYvyvY8mfRIVe9xFcVZhFfy6vKvGEE1lQDiGQjTlZ2y[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-7d7814e0-364f-b1ed-5bc6-0ae6bc92e757/test-blob-4c1feb31-0895-ccce-791e-a35c9b879eba",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 13 Sep 2021 19:51:12 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "9jyK3rOGmGLV54AxBNKWmw==",
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D976EFD6E0C6B0\u0022",
        "Last-Modified": "Mon, 13 Sep 2021 19:51:12 GMT",
        "x-ms-blob-content-md5": "bYFF8X1rQhJ/lUPQcdm\u002BqA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 13 Sep 2021 19:51:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 13 Sep 2021 19:51:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-09-13T19:51:12.3952304Z"
      },
      "ResponseBody": "7ibK4hopCYepHBrbn4UPUgraNSeBjE4TC6xEL3q3xQy/uSYkvAWmB\u002BKXo3jt8yzzD1FRwFF2OWLXttZt5NkM8VcOG\u002BZe6pYFMy1F6ujVJhiAUCApZgS7SIDETQUuOSIIirIh39dFlCS6S40jMU95AZC\u002B7ZS44opSU9Jlmp2Q1voKPF82tEdAOrz8bhp3lxYwSkt0cEuOT6cnzosF4PqGKnWSGPXvQ01JfbLXvHRv27u7NVBSG2WufOy3D\u002BW7O1rCdUSl5H8hQAf9K/OZtpMzt/PQSaupNA4P5JwIODRojkFYFUYvyvY8mfRIVe9xFcVZhFfy6vKvGEE1lQDiGQjTlZ2yQKBMA\u002B38k6\u002B2Yd8fns7XrrPcdaNOqP0F\u002BjT2WYDrdb9Sv9QkDYBp9VdD\u002BLZiFvcxC2tU9h/6Y5ejRgm5Bjovy\u002BwfzN75sqAzc39MC7BHo\u002BM8xE4Vln6gWFs8gcd2r\u002B8cFCzKQ0kYN1jKIYOfrljnXKMlfULsGTVtfnSDvTHZvMOQL/eDfGCaI4z1SnX7AKoCVSUjUTKtMPr3XMTVlXon8WS/D35gZN9Di1m19s/Acn7JgGcMtWuR4/79jCCbxI4RzVgQPPErovFF4MXZ9zkqNupGCxQSGzz4LiyAY9e/p8fLpCl2rzaMnt52xtSmuOvE01U2Vbh6/rIcGA3Fqz8="
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-7d7814e0-364f-b1ed-5bc6-0ae6bc92e757?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 13 Sep 2021 19:51:12 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "131180994",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}