{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-2f0a77ad-3b2c-eeeb-bdbc-fce49264a931?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 30 Aug 2021 21:22:55 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96BFC5500FA69\u0022",
        "Last-Modified": "Mon, 30 Aug 2021 21:22:55 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-2f0a77ad-3b2c-eeeb-bdbc-fce49264a931/test-blob-eac42759-3141-028d-c90f-d48b4d1d4a6c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 30 Aug 2021 21:22:55 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "DmQXWxGcbaQUbc\u002B/JFmmdFaPohyvcb0OCxL/czNlxnZ0WYTjMQtcpQgQIwYklF/XqGGnR0fbDZymCU/\u002BnPpxrqdZS8rVwkNKMv0Tn0236XezKMrRvX8umEznPSe8XQkOnnVey0mUAeYeXRRKx21O7iDYS3Qvn/AoKrJ\u002B7YUbjtX0BQDYWB4uHibksmBq5NDemE4H4xKV3v\u002BENqGWFhNgA84/VsJtdpYBqi1NS\u002ByQvUXin1U2E6rCXicBUyJ9lwcSg6\u002BRK44OcSK4BjnlR5IS9Hhbs3e\u002BKu8kfPeaayJzhBIlOsg9/pK21C0zfQ1w3ReU71\u002Bp[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-2f0a77ad-3b2c-eeeb-bdbc-fce49264a931/test-blob-eac42759-3141-028d-c90f-d48b4d1d4a6c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 30 Aug 2021 21:22:55 GMT",
        "x-ms-range": "bytes=256-767",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 256-767/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D96BFC550A8DCC\u0022",
        "Last-Modified": "Mon, 30 Aug 2021 21:22:55 GMT",
        "x-ms-blob-content-md5": "q5Oi8jW\u002BjPdfxThrukVMCQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "AbuWdH\u002BzkBw=",
        "x-ms-creation-time": "Mon, 30 Aug 2021 21:22:55 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 30 Aug 2021 21:22:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-30T21:22:55.2321484Z"
      },
      "ResponseBody": "gSe/DcrU9uWk30mLrOKznuAFfMPJYy2V5W99kOMfYCgzOYtJHQnJGmnDfARGyazduhC3bYg8eh75KidbV2UChX4hV3NWaoDWO2JaBeYpTxzCoNXTaPKf975tT/PibsIDwfeGJHE5hlCP4DEm4nQ40NsKmLeQLx2LgmC06RqN9M2fVkTuoiqqiRmFQ4fBeBRJNX4X19ULc5La\u002BqERhJ01Aexkh4swSS2wXw\u002BdCuuVyglLarObdhz4k\u002BOyFKiImQR8T0GaXPGJGexQZnfFbmimRC\u002BYxhrpmYvPa/OnfjWFKMYKILup\u002Bm0YwVHHSw\u002BlMiR7C8948NLqkrW2y/H94Zu3yz6wu06t/UnBfwTJIk58KjnOLHJlDDf0II0F8y98GuC1EH/R9HfWzQ6Gt3DNIXBnOaC3L7UoUb8GvJrApwoaRWUkExLOqzbC915k31XGJv8dnrmOxeoqjb7AyjjcFiYDa3ILqA1dmI5q9DdWw3JpQJWboglQi396\u002BYZUDeH95uE4YHPju33xwAYqJNCz1MlLV4miQHMcs\u002BDykK6HCIqtbA5WHWL/hoUXqeICJWevxyW8CbZXW6ZuG62T8CrPard8fbfBXbZmTNAEi5aQGY15QsmJyv/TVhFo5wK1bJZaSD8rhqiv7WlvVb3mUtAP3QEgGa1gRaC4qCemWXW0sd86qkI="
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-2f0a77ad-3b2c-eeeb-bdbc-fce49264a931?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 30 Aug 2021 21:22:55 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "199133253",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}