{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-8a7ddeee-9ad2-72fc-2218-3bf411fc02fd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 06 Aug 2021 21:18:09 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9591FB0DB6CB0\u0022",
        "Last-Modified": "Fri, 06 Aug 2021 21:18:09 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-8a7ddeee-9ad2-72fc-2218-3bf411fc02fd/test-blob-a02ba653-b382-a089-309e-17bd0615e6d4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 06 Aug 2021 21:18:09 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "8/qPx8mj1gPOMBF/VzsktFDSyCdJ5Xl7Uo3ML1zdPxqW8s1T3gGfiBSuTlN4AkVHk9jiO5SVBw2AE3Q716an8fH26GRt0dZOMkATm5cmA09HhZuE\u002BgOGAeu/08qMZLBtB1xigRng2cICkwhTgWt1WhAk81ILIvbtcOd5rv0Lwc6QpZQ6w4I1Z6vZgmb7Mn9/SXi6aHBeYuRldRAyZyvE9tE6w9zXOpaO7oymMaCP8j5n\u002BmSEUFldMUOv1E5xA/\u002BAFYuVwG6jqA7iLHnktzBE1oPSy23HP6Z43ZKYKGZIHOuMJhwU\u002BjHQw1JVoiPfeHoTav7KnjeSuNblHOLcC3\u002B[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-8a7ddeee-9ad2-72fc-2218-3bf411fc02fd/test-blob-a02ba653-b382-a089-309e-17bd0615e6d4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Aug 2021 21:18:09 GMT",
        "x-ms-range": "bytes=0-1048575",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9591FB0F23A43\u0022",
        "Last-Modified": "Fri, 06 Aug 2021 21:18:09 GMT",
        "x-ms-blob-content-md5": "ZYyI\u002BCWzaayHwBWDw6eVog==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "XbH12nX22MQ=",
        "x-ms-creation-time": "Fri, 06 Aug 2021 21:18:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 06 Aug 2021 21:18:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-06T21:18:09.7158723Z"
      },
      "ResponseBody": "8/qPx8mj1gPOMBF/VzsktFDSyCdJ5Xl7Uo3ML1zdPxqW8s1T3gGfiBSuTlN4AkVHk9jiO5SVBw2AE3Q716an8fH26GRt0dZOMkATm5cmA09HhZuE\u002BgOGAeu/08qMZLBtB1xigRng2cICkwhTgWt1WhAk81ILIvbtcOd5rv0Lwc6QpZQ6w4I1Z6vZgmb7Mn9/SXi6aHBeYuRldRAyZyvE9tE6w9zXOpaO7oymMaCP8j5n\u002BmSEUFldMUOv1E5xA/\u002BAFYuVwG6jqA7iLHnktzBE1oPSy23HP6Z43ZKYKGZIHOuMJhwU\u002BjHQw1JVoiPfeHoTav7KnjeSuNblHOLcC3\u002BomQ\u002BOV5EUMNtRAgcbcZyCmGQXhb1nfX2z\u002BW1GL91O87fSrAkUUSHp/jojeZwvd[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-8a7ddeee-9ad2-72fc-2218-3bf411fc02fd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Aug 2021 21:18:09 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "829210694",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}