{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f397223b-6356-28c9-e993-1ad4b38296f6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 30 Aug 2021 21:24:08 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96BFC80E4463A\u0022",
        "Last-Modified": "Mon, 30 Aug 2021 21:24:08 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f397223b-6356-28c9-e993-1ad4b38296f6/test-blob-dd957138-57b7-a8ef-2da2-a814dd44b76c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 30 Aug 2021 21:24:08 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "N3qkTTRHpVh652oVf02PKPPJMb26iSw6a/BDoWBeprvBjkUeG1IcWlBvk\u002BNkDrve\u002BllWP5zBm65OauJDBAT3G0CvU/AHcQyhrdZsS/VI1lw1ZKYHB2ceAPOX0LFw2VZMeHeitLvK14lMtZLFVFC4BZSFDp9d8BTZkFL9cKBbMNSAINN9piGhao0dulHUWauj3ssd6sq27odjySNozWfo8YS\u002BRTR8O15y46MRQDbCBDenWZHVPUUJyTFLGtz9OJwmNMjNFhR2JqJsqgcmpa5RoMXswXTVErQ\u002BtXsDMSGCdaoH6gtt9e0jMDLuaJI\u002B4iSC\u002BnkWEHcoUSEUjm[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f397223b-6356-28c9-e993-1ad4b38296f6/test-blob-dd957138-57b7-a8ef-2da2-a814dd44b76c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 30 Aug 2021 21:24:08 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D96BFC80EE14EB\u0022",
        "Last-Modified": "Mon, 30 Aug 2021 21:24:08 GMT",
        "x-ms-blob-content-md5": "JsW/YULRCsPbJZlZTk1Gzg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 30 Aug 2021 21:24:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 30 Aug 2021 21:24:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-30T21:24:08.8663029Z"
      },
      "ResponseBody": "N3qkTTRHpVh652oVf02PKPPJMb26iSw6a/BDoWBeprvBjkUeG1IcWlBvk\u002BNkDrve\u002BllWP5zBm65OauJDBAT3G0CvU/AHcQyhrdZsS/VI1lw1ZKYHB2ceAPOX0LFw2VZMeHeitLvK14lMtZLFVFC4BZSFDp9d8BTZkFL9cKBbMNSAINN9piGhao0dulHUWauj3ssd6sq27odjySNozWfo8YS\u002BRTR8O15y46MRQDbCBDenWZHVPUUJyTFLGtz9OJwmNMjNFhR2JqJsqgcmpa5RoMXswXTVErQ\u002BtXsDMSGCdaoH6gtt9e0jMDLuaJI\u002B4iSC\u002BnkWEHcoUSEUjmGYcvWB6jVcH7qi46vYyZBB5qoh/9NXgDaoa2Qz35nqWWaLir09bX5c4sJq4BfNPkfm5mp38o[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f397223b-6356-28c9-e993-1ad4b38296f6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 30 Aug 2021 21:24:08 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2126797977",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}