{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-325da384-b921-6e2d-8b0b-222284e2a82e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 21 Sep 2021 17:35:53 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D264339F534\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:35:53 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-325da384-b921-6e2d-8b0b-222284e2a82e/test-blob-ec3f521f-7943-bb39-1503-56bb8f9e7187",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 21 Sep 2021 17:35:54 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "pUJ/IzBHFX/hywKzFKlDuCCLXOV1PqKO\u002BhrF4iJL\u002Bji\u002B197pU8dmfonsiMA4YBWtKylWC5vLWGeg8CkVgjNdldDJ9TzKWmVYJd1bibXhVpkFGLb59e\u002Bd8n93SWKdUPxWj/PwbmvY4tHD/eW9b86xvpqQEGl8Y6DgKwK9UhECu9ThBPrC8ectLDXlNfcJ4IKxxYrIDUCS2StSD0NoG5C/wUIR22vT782yYuM0ly2o10uADIyGOq6TTyrPb\u002BGkxBClJXS1\u002BAQX3da8FapcXkL9qjj36A8DOYaUfYxABH/rDp7TjnG58t5GaC62yiQDNvDo0cWprdsBoeztIX[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-325da384-b921-6e2d-8b0b-222284e2a82e/test-blob-ec3f521f-7943-bb39-1503-56bb8f9e7187",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:35:54 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D264350A67D\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:35:54 GMT",
        "x-ms-blob-content-md5": "rv5duUMk4dWSd2Lww66fZQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "qQOeWiY0c30=",
        "x-ms-creation-time": "Tue, 21 Sep 2021 17:35:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 17:35:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-09-21T17:35:54.1224061Z"
      },
      "ResponseBody": "pUJ/IzBHFX/hywKzFKlDuCCLXOV1PqKO\u002BhrF4iJL\u002Bji\u002B197pU8dmfonsiMA4YBWtKylWC5vLWGeg8CkVgjNdldDJ9TzKWmVYJd1bibXhVpkFGLb59e\u002Bd8n93SWKdUPxWj/PwbmvY4tHD/eW9b86xvpqQEGl8Y6DgKwK9UhECu9ThBPrC8ectLDXlNfcJ4IKxxYrIDUCS2StSD0NoG5C/wUIR22vT782yYuM0ly2o10uADIyGOq6TTyrPb\u002BGkxBClJXS1\u002BAQX3da8FapcXkL9qjj36A8DOYaUfYxABH/rDp7TjnG58t5GaC62yiQDNvDo0cWprdsBoeztIXt419hW0AcMic/RRLdZsIDgTG5ikEabWDO6QmHC0e2Ey9FjzpBVYPkd96wgFowOT/xbIFR9i5[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-325da384-b921-6e2d-8b0b-222284e2a82e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:35:54 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "677951474",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}