{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-5ed53971-2af0-d767-b1dd-e6ae7b497470?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Sep 2021 22:58:28 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96E652DB3CB0F\u0022",
        "Last-Modified": "Thu, 02 Sep 2021 22:58:28 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-5ed53971-2af0-d767-b1dd-e6ae7b497470/test-blob-c12ce339-0897-947d-8100-e61bb40bb4b0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Sep 2021 22:58:28 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "ag6slhTsD51NASNCYKzd5SWBIj7UsUD6Z6AGYN6L2YY0y6Do5hngTNSOdJXkOzPUIgD2Muh227nNsS9z5q6/wSidDZQM9f8MoNVpRTyrFStsMT3dlaadvvDnGjTpbWYlz7JtRi6fyC0A6pISDJV8IpsDB7Vx4SyB/0\u002BkJdrKIjNvRHaKPs/9zWkQ3KoUirFaaveY5WWxtO6F60be\u002BqNTNsdfo8gf8uTMBjpMYQSBbXWdSbriMTzNvpCHBFKIHtLFvKbitOfpO3gTzN8rZVPpA37RQbDocASLkeU3l\u002B2SROdnhqRen7iNtA5Cz2Vdolk9ngDTtt0h3UyiVyICsaOKgYj3w96ui[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-5ed53971-2af0-d767-b1dd-e6ae7b497470/test-blob-c12ce339-0897-947d-8100-e61bb40bb4b0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Sep 2021 22:58:28 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "CFgbsglVgvRhRvTxoMF/DA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D96E652DD12A2B\u0022",
        "Last-Modified": "Thu, 02 Sep 2021 22:58:28 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Sep 2021 22:58:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 02 Sep 2021 22:58:28 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-09-02T22:58:28.9070635Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-5ed53971-2af0-d767-b1dd-e6ae7b497470/test-blob-c12ce339-0897-947d-8100-e61bb40bb4b0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D96E652DD12A2B",
        "x-ms-date": "Thu, 02 Sep 2021 22:58:28 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D96E652DD12A2B\u0022",
        "Last-Modified": "Thu, 02 Sep 2021 22:58:28 GMT",
        "x-ms-blob-content-md5": "CFgbsglVgvRhRvTxoMF/DA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "mphmRl9De8o=",
        "x-ms-creation-time": "Thu, 02 Sep 2021 22:58:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 02 Sep 2021 22:58:28 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-09-02T22:58:28.9070635Z"
      },
      "ResponseBody": "ag6slhTsD51NASNCYKzd5SWBIj7UsUD6Z6AGYN6L2YY0y6Do5hngTNSOdJXk[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-5ed53971-2af0-d767-b1dd-e6ae7b497470?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Sep 2021 22:58:29 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "529400458",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}