{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-7ed266c4-e987-1539-b3cc-9cd131fb515b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 16 Aug 2021 19:46:02 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D960EE7A5A16FB\u0022",
        "Last-Modified": "Mon, 16 Aug 2021 19:46:02 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-7ed266c4-e987-1539-b3cc-9cd131fb515b/test-blob-0407cab2-2cbb-a6e0-5044-6139a8632041",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 16 Aug 2021 19:46:02 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "ZYnGTzZiMTRX8r4BsZg5b6DwamBkgcgf5h3LXD7gu/UWUjtRfdx1BJ5id6CskS46eeKONGAPgOPBpmkYltX2dzbJ619c6PHDe2XBAQknc1TukOJbUYeUBtFYj9dzXG7JbABq46bP3pHwy7j7Tn/ZmjMUKgXymiWvNOSNBFgaTx7395UJvJCtH7JRa4bOmbhSfvSkXjJo19Hauq7CQto51nuaA1bpz92iZgtToS6f4ZosOoVjdvDsjyDELwLh693XF5UKNJVhaa4XAfgnFDWiOtkTlQdV1V\u002BKrnQ1JKDbwXstfImZlKwEytDWTHT4xHrqIfQozVbVgkI1gIYhK0QOOz98\u002BZisCaYsD8[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-7ed266c4-e987-1539-b3cc-9cd131fb515b/test-blob-0407cab2-2cbb-a6e0-5044-6139a8632041",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Aug 2021 19:46:02 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "VLc9phphmcN1IO3O/A6YOw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D960EE7A66F77F\u0022",
        "Last-Modified": "Mon, 16 Aug 2021 19:46:02 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 16 Aug 2021 19:46:02 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 16 Aug 2021 19:46:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-16T19:46:02.1697172Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-7ed266c4-e987-1539-b3cc-9cd131fb515b/test-blob-0407cab2-2cbb-a6e0-5044-6139a8632041",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Aug 2021 19:46:02 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "VLc9phphmcN1IO3O/A6YOw==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D960EE7A66F77F\u0022",
        "Last-Modified": "Mon, 16 Aug 2021 19:46:02 GMT",
        "x-ms-blob-content-md5": "VLc9phphmcN1IO3O/A6YOw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 16 Aug 2021 19:46:02 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 16 Aug 2021 19:46:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-16T19:46:02.1697172Z"
      },
      "ResponseBody": "ZYnGTzZiM[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-7ed266c4-e987-1539-b3cc-9cd131fb515b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Aug 2021 19:46:02 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "323595288",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}