{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-7e52754c-7636-9ed8-da6e-70466043baec?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 16 Aug 2021 19:45:51 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D960EE73FCF95B\u0022",
        "Last-Modified": "Mon, 16 Aug 2021 19:45:51 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-7e52754c-7636-9ed8-da6e-70466043baec/test-blob-5bed932a-e580-ea85-b634-148f0a69ee38",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 16 Aug 2021 19:45:51 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "SRGZVLW\u002Bqu7P37kyz3JZg5GPlhkwuXKAwDA5O0wuTXAiqR0zvYgq8ZskMJnziuwqJ43mlb3IzI\u002BfGZSEhW6ioJJIECVUJsYJZaR9DInYjDVEDhO\u002BSLizWd2NlKT0pWwtgY8Gq3rG1QHG3S8YSr8GxoxeQHda41jalbZIx5IiFL84UIv50eG7fTgS\u002BGqImg8dh80XlmX10p03LBbDfQ5vo8hw4Pk0DfSqosM\u002BSOvuUvumKz/ECn5aQ33uwqXL9wApolSiF7kV6XrYbPOitomxSdobHFLPqplKFpx7RUpP36rCFKWXSzpBkULE656KuI30PHnLsNuuWve7VwEdmaM[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-7e52754c-7636-9ed8-da6e-70466043baec/test-blob-5bed932a-e580-ea85-b634-148f0a69ee38",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Aug 2021 19:45:51 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "zHD\u002Bbh6vjyZatmkKrDwnBQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D960EE7406A2C0\u0022",
        "Last-Modified": "Mon, 16 Aug 2021 19:45:51 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 16 Aug 2021 19:45:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 16 Aug 2021 19:45:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-16T19:45:51.4710720Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-7e52754c-7636-9ed8-da6e-70466043baec/test-blob-5bed932a-e580-ea85-b634-148f0a69ee38",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Aug 2021 19:45:51 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "zHD\u002Bbh6vjyZatmkKrDwnBQ==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D960EE7406A2C0\u0022",
        "Last-Modified": "Mon, 16 Aug 2021 19:45:51 GMT",
        "x-ms-blob-content-md5": "zHD\u002Bbh6vjyZatmkKrDwnBQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 16 Aug 2021 19:45:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 16 Aug 2021 19:45:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-16T19:45:51.4710720Z"
      },
      "ResponseBody": "SRGZ[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-7e52754c-7636-9ed8-da6e-70466043baec?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Aug 2021 19:45:51 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1262406790",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}