{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-44faa048-9b16-fd76-5b0f-1eefed312659?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 31 Aug 2021 19:50:43 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96CB89E058178\u0022",
        "Last-Modified": "Tue, 31 Aug 2021 19:50:43 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-44faa048-9b16-fd76-5b0f-1eefed312659/test-blob-43dbd00d-c2c9-6251-ec9b-e421c2e9a064",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1048576",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 31 Aug 2021 19:50:43 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96CB89E112CE4\u0022",
        "Last-Modified": "Tue, 31 Aug 2021 19:50:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-31T19:50:43.1343844Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-44faa048-9b16-fd76-5b0f-1eefed312659/test-blob-43dbd00d-c2c9-6251-ec9b-e421c2e9a064",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 31 Aug 2021 19:50:43 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D96CB89E112CE4\u0022",
        "Last-Modified": "Tue, 31 Aug 2021 19:50:43 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 31 Aug 2021 19:50:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-31T19:50:43.1343844Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-44faa048-9b16-fd76-5b0f-1eefed312659/test-blob-43dbd00d-c2c9-6251-ec9b-e421c2e9a064?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "0x8D96CB89E112CE4",
        "x-ms-content-crc64": "lHWJeugkPvU=",
        "x-ms-date": "Tue, 31 Aug 2021 19:50:43 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "NyWSlt1DHYC4oFFZI36wGvgaT118g/kwjdJAXL1DSfPtqcEmroAmXHIz67\u002B3lBjKk\u002B\u002Bs9a9xUbMsYgkLAsHDdFZda3m9iWx39PPrSJg5ePi5dsjNl1REfFgN\u002Bkt2GlmxcHZpWimeDQmDNAC8hQgb8ukQUYz49dwCGO4hr44gANmZOtch0B3PG2m/SmNTh/ZP8ghhZsjNuHuaZkI6fV16YjMmI0sw\u002BiHMQTYjOap5r5D40byGvpoRy4Fch2rblJ0LROgvLGSqHvjmlSSSqX/QILexQqug9KOYFVfJ1HK38K2YF/XCSYIsTbLEnyl2fiECi2ayKlLyak9ElxYN4EqFL6R3\u002BZKJDtc0hfT43FV6Ipc1x0kMBMZapq2lfbJsHmxoP[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-44faa048-9b16-fd76-5b0f-1eefed312659?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 31 Aug 2021 19:50:43 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "885363255",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}