{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-07ad1b74-8ca2-d0c2-9abc-a1b357c47c7f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 31 Aug 2021 19:40:25 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96CB72DF0B8C6\u0022",
        "Last-Modified": "Tue, 31 Aug 2021 19:40:25 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-07ad1b74-8ca2-d0c2-9abc-a1b357c47c7f/test-blob-1044e1c2-6e28-25e6-fd7a-d56099509bc0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1048576",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 31 Aug 2021 19:40:25 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96CB72DFC616E\u0022",
        "Last-Modified": "Tue, 31 Aug 2021 19:40:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-31T19:40:25.5965550Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-07ad1b74-8ca2-d0c2-9abc-a1b357c47c7f/test-blob-1044e1c2-6e28-25e6-fd7a-d56099509bc0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 31 Aug 2021 19:40:25 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D96CB72DFC616E\u0022",
        "Last-Modified": "Tue, 31 Aug 2021 19:40:25 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 31 Aug 2021 19:40:25 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-31T19:40:25.5965550Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-07ad1b74-8ca2-d0c2-9abc-a1b357c47c7f/test-blob-1044e1c2-6e28-25e6-fd7a-d56099509bc0?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "0x8D96CB72DFC616E",
        "x-ms-content-crc64": "R23AU4MBslE=",
        "x-ms-date": "Tue, 31 Aug 2021 19:40:25 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "IKDXbTCO6UDXCSFksFawDElxvoP9e6Leq05KeKeU8tzH3Ux/tgUAZuqGKtNMSlhNP4BnQEvzAKP9\u002BMHhRHCZQhZFndIJMFVDcFiZd1HOkmH1/TkmLLGR09yogr1EHiF57Oe8Bq2GQw4rJM/yWolSLmZg7Ec2chZltMn1YK2X/lI2H4pqEouzb7or\u002BwjinnlTVlNX5DLaQnnRV1LkkOJgkyV9uzr/6BzarHyMC3cNghVPogpaQBkgW90QmLo5z9/XymjiZOI/U202fTe1TTYCw9Q9lO3YBlMMXF9d7k9iod2dtUEPKx4yEE6cI8Piaw6mDtXl/Drx/8MU1geD4WUe1NxaF5j185e2CoOfO\u002BOPKfFRt\u002BB5fKSirLV9\u002BlUWry7pfk7niF[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-07ad1b74-8ca2-d0c2-9abc-a1b357c47c7f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 31 Aug 2021 19:40:25 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1072803122",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}