{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-1128a11d-e402-5220-a5e9-5b74f3c7f662?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 13 Sep 2021 19:51:16 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D976EFD97141DB\u0022",
        "Last-Modified": "Mon, 13 Sep 2021 19:51:16 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-1128a11d-e402-5220-a5e9-5b74f3c7f662/test-blob-0775f279-211b-47a9-f694-9d5bbd09a9c1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1048576",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 13 Sep 2021 19:51:16 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D976EFD97BAA34\u0022",
        "Last-Modified": "Mon, 13 Sep 2021 19:51:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-09-13T19:51:16.7657524Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-1128a11d-e402-5220-a5e9-5b74f3c7f662/test-blob-0775f279-211b-47a9-f694-9d5bbd09a9c1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 13 Sep 2021 19:51:16 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D976EFD97BAA34\u0022",
        "Last-Modified": "Mon, 13 Sep 2021 19:51:16 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 13 Sep 2021 19:51:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-09-13T19:51:16.7657524Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-1128a11d-e402-5220-a5e9-5b74f3c7f662/test-blob-0775f279-211b-47a9-f694-9d5bbd09a9c1?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "JYAd8nrDhIMz0h3BAvfYyA==",
        "Content-Type": "application/octet-stream",
        "If-Match": "0x8D976EFD97BAA34",
        "x-ms-date": "Mon, 13 Sep 2021 19:51:16 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "bocbTyWgz7jsJPCdliJczj7oRTKjTBXYlnnjH6LVt5Icj49uu1tNjfFrvSgi/bbtm/OhY0kWGiJxQrmrvbAVFmxegAaT7RPim7dAOI7ttpjD9YOvNFNJBXVs/XiiotBBVaa7xHywWa3fvsiR1uKThIwg58gsZeIZFHuRJvCaQPnn/uLnMfIcE5zWz3WLty\u002BS2XjsgroIFe/Eoq8AHzO8RH7Oqtf/rFKZA9QrVZZsjlxM/k14rr4/3\u002BnyIo9CG/RpGYr3vA1XkywlUn7m3L9ZVxRTtCDlRJbAj8ruDYnDV\u002BjfwjwLddFO9GogUls/WAMpmMt672fTg9T0Ny1DaIajYfuVBhmDTuJDBL\u002B2xPI7gDbHxXS\u002BSGeBDD9nFz6jC4zkffBfqV[...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-1128a11d-e402-5220-a5e9-5b74f3c7f662?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 13 Sep 2021 19:51:17 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1105969954",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}