{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-104c4265-a325-ddfd-e552-666b7bd4e9f6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 26 Aug 2021 23:57:04 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D968ED3436AE2F\u0022",
        "Last-Modified": "Thu, 26 Aug 2021 23:57:04 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-104c4265-a325-ddfd-e552-666b7bd4e9f6/test-blob-b439ba7a-cd04-664a-6e4f-82fb2a8178a6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 26 Aug 2021 23:57:04 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "TaLMebLIUryRpe0ZY4FrgN7MD0YVv/6MQaahxjGgzVJBEy7PmPnnk\u002BICmFK36o8I//YxDMCEF46jPzcLJouK8dia11BTnOjl5XtjEyas1FcXmcc7bsCSvfyfK1jC22xWd6d6HBI/tGMNTCdEIARo92rg9I3ET4MXCBpTs3CPIgkODJt/MrhF1\u002BRkLSGYTZz3NzTt4uffkigjYhP36wDyfioeNhRo6cWymh2oYCFhf7t\u002BXHw8oUAiL3pzW8\u002BkTevjca/3eheIj01vO0fJNjEGwuNYeY\u002BEttzp\u002BwaZ9I31DU0xxO5yagSj9swuzGb5WPhJbZnsS9RbX7vSDn[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-104c4265-a325-ddfd-e552-666b7bd4e9f6/test-blob-b439ba7a-cd04-664a-6e4f-82fb2a8178a6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Aug 2021 23:57:04 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D968ED343F7676\u0022",
        "Last-Modified": "Thu, 26 Aug 2021 23:57:04 GMT",
        "x-ms-blob-content-md5": "zrYGfj/CME7egU4cDibgvQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "fFxLzQmCtxM=",
        "x-ms-creation-time": "Thu, 26 Aug 2021 23:57:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 26 Aug 2021 23:57:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-26T23:57:04.2748022Z"
      },
      "ResponseBody": "TaLMebLIUryRpe0ZY4FrgN7MD0YVv/6MQaahxjGgzVJBEy7PmPnnk\u002BICmFK36o8I//YxDMCEF46jPzcLJouK8dia11BTnOjl5XtjEyas1FcXmcc7bsCSvfyfK1jC22xWd6d6HBI/tGMNTCdEIARo92rg9I3ET4MXCBpTs3CPIgkODJt/MrhF1\u002BRkLSGYTZz3NzTt4uffkigjYhP36wDyfioeNhRo6cWymh2oYCFhf7t\u002BXHw8oUAiL3pzW8\u002BkTevjca/3eheIj01vO0fJNjEGwuNYeY\u002BEttzp\u002BwaZ9I31DU0xxO5yagSj9swuzGb5WPhJbZnsS9RbX7vSDn4Q75rAeS35l3FCk1fetIPDVel276IOUIf0CcJ41mUyoFyFkwYyblI4/8GHBtlBDZZRmArSWx[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-104c4265-a325-ddfd-e552-666b7bd4e9f6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Aug 2021 23:57:04 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "846235048",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}