{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-08c53f5b-3d42-ad39-3b7d-987e81839b00?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 30 Aug 2021 21:24:13 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96BFC83C1D52B\u0022",
        "Last-Modified": "Mon, 30 Aug 2021 21:24:13 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-08c53f5b-3d42-ad39-3b7d-987e81839b00/test-blob-3fe1916d-8130-7f8e-4bb3-6b6df985e0b9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 30 Aug 2021 21:24:13 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "vU4K17J6fB5z5EDpCpJftZ3Ayn1k3nN4sJwUPhnQbCqd4ur/ewklOogBSqg06Sq49G9es9M\u002B7N7bkicWZT0FongWTCinXzmTmpD1YpTLRMdyXEmpcbhWXvYLI\u002BnhD9RK/KcvHZwBEJU2yxlDSYlJD05gpAn0WzC/v\u002B0ynDtPsou7qmbsmyYqcEu0c6afExVtwhSbgWvLVqF3cF6vz3RZ5hiOh54jXHMoNjO9P\u002BeJIKvXxdknszEg8FTFdSvHeqDWW4yOEIt3SWWgc0s3DRa57lCz1wqaMTLnbpdJXedIYLuT5\u002BRa\u002Bw8fYHt0hkDm6OM\u002BC4fbFKKWP[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-08c53f5b-3d42-ad39-3b7d-987e81839b00/test-blob-3fe1916d-8130-7f8e-4bb3-6b6df985e0b9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 30 Aug 2021 21:24:13 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "nuYwprWoxhfbzMm51WJf7w==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D96BFC83CB27B7\u0022",
        "Last-Modified": "Mon, 30 Aug 2021 21:24:13 GMT",
        "x-ms-blob-content-md5": "nuYwprWoxhfbzMm51WJf7w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 30 Aug 2021 21:24:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 30 Aug 2021 21:24:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-30T21:24:13.6705725Z"
      },
      "ResponseBody": "vU4K17J6fB5z5EDpCpJftZ3Ayn1k3nN4sJwUPhnQbCqd4ur/ewklOogBSqg06Sq49G9es9M\u002B7N7bkicWZT0FongWTCinXzmTmpD1YpTLRMdyXEmpcbhWXvYLI\u002BnhD9RK/KcvHZwBEJU2yxlDSYlJD05gpAn0WzC/v\u002B0ynDtPsou7qmbsmyYqcEu0c6afExVtwhSbgWvLVqF3cF6vz3RZ5hiOh54jXHMoNjO9P\u002BeJIKvXxdknszEg8FTFdSvHeqDWW4yOEIt3SWWgc0s3DRa57lCz1wqaMTLnbpdJXedIYLuT5\u002BRa\u002Bw8fYHt0hkDm6OM\u002BC4fbFKKWPClZpqL0Lex9WBKPoyYyXvJAk3ePJavyAYW0C1FgbEwY/aq6AVRsKzKO9y0tVkW9DK2UmoEqB[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-08c53f5b-3d42-ad39-3b7d-987e81839b00?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 30 Aug 2021 21:24:13 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2130366373",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}