{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3ba5a770-6921-f405-6618-014aba1e3d8b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 13 Sep 2021 19:51:20 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D976EFDBB4002B\u0022",
        "Last-Modified": "Mon, 13 Sep 2021 19:51:20 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3ba5a770-6921-f405-6618-014aba1e3d8b/test-blob-852f7f39-e65c-96ec-e7cf-576e75bfae4a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 13 Sep 2021 19:51:20 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "HjKRAQX6Pn5rVL80R9\u002Bz3XIqDMbsdHHSy4JcfgnRmwK1R8HudT7EP0CxGgcmt08HG3n7SrLoXqrBvjWCncB0mbi9f/8exGg0Zc2FOlpqqxQyVGKP1VFQzekXLbYJQqGAPYBPaThQ6VYRx\u002BXkYyNQVhMhT0ld5MRnbbIVB5ayKiMsBP3ZGkHb4moLfg5ra2nFxtej6PJXI1i85/yGO\u002BK/X5zBuF4mdjvRRW3fUWa1\u002BwFIT0C/D0Iw1OGkHTNFVaeITB9xqbMLnlCb0aKFeNHyBuz7Peui/1BakeN9glgIjPDFVwVGRFFOPbDvJD2fq1wPsRdHSRe75kzPFhjQjRz3kkWx[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3ba5a770-6921-f405-6618-014aba1e3d8b/test-blob-852f7f39-e65c-96ec-e7cf-576e75bfae4a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 13 Sep 2021 19:51:20 GMT",
        "x-ms-range": "bytes=0-3071",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D976EFDBC54535\u0022",
        "Last-Modified": "Mon, 13 Sep 2021 19:51:20 GMT",
        "x-ms-blob-content-md5": "sM/t\u002BuPrWUxwMz9ZuQRgNg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "Nq6dnoT82yg=",
        "x-ms-creation-time": "Mon, 13 Sep 2021 19:51:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 13 Sep 2021 19:51:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-09-13T19:51:20.6035765Z"
      },
      "ResponseBody": "HjKRAQX6Pn5rVL80R9\u002Bz3XIqDMbsdHHSy4JcfgnRmwK1R8HudT7EP0CxGgcmt08HG3n7SrLoXqrBvjWCncB0mbi9f/8exGg0Zc2FOlpqqxQyVGKP1VFQzekXLbYJQqGAPYBPaThQ6VYRx\u002BXkYyNQVhMhT0ld5MRnbbIVB5ayKiMsBP3ZGkHb4moLfg5ra2nFxtej6PJXI1i85/yGO\u002BK/X5zBuF4mdjvRRW3fUWa1\u002BwFIT0C/D0Iw1OGkHTNFVaeITB9xqbMLnlCb0aKFeNHyBuz7Peui/1BakeN9glgIjPDFVwVGRFFOPbDvJD2fq1wPsRdHSRe75kzPFhjQjRz3kkWxvyHMq8GarQA6stsSuuaGbtFBwULZCXG5dy05fa\u002BU95H37es7QgVVrJwWgTNwvFwySR9[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3ba5a770-6921-f405-6618-014aba1e3d8b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 13 Sep 2021 19:51:20 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "268289527",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}