{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-23702979-d2a7-b8f9-41d2-665d85a4e6a6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Aug 2021 19:57:25 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96414BB21777B\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 19:57:25 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-23702979-d2a7-b8f9-41d2-665d85a4e6a6/test-blob-e1c1fd43-3a01-1322-2a7f-0aaa69705e99",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Aug 2021 19:57:25 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "1Ym\u002BhcjvqGhxbzleLIMRIyKL3H34doVKcB\u002BOrsqDEmrxV6AcXyoRkGBD/7C5F3JzJSQSYaLaVl8DdBSpYPme7VzObNTj9cP3eksdtHbVkFmtGoilcLHIFwBAGOsWaDBmpRFT66qdkDBgG\u002BdWvaHpLuO6\u002B0Zx\u002BHyrBVXUotzY4BEbtw9kgaWuEIpYRFXJcVpeV\u002BoHW23q9KyVqOVVye1UiDrVOgWShKw\u002BC\u002Bu7GLMm4ZP7dUvx0IWkMcJiz9m/WUecBLwb9DdUy9I9yFCBLtz5bsZRWlOiYre1MAlDMLXTf7KjHxT3C\u002B1cpql5tAg1IgP[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-23702979-d2a7-b8f9-41d2-665d85a4e6a6/test-blob-e1c1fd43-3a01-1322-2a7f-0aaa69705e99",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 19:57:25 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D96414BB34504A\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 19:57:25 GMT",
        "x-ms-blob-content-md5": "5b3hnaTyJb6DK8G0MlIGUg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Aug 2021 19:57:25 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 20 Aug 2021 19:57:25 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-20T19:57:25.2527178Z"
      },
      "ResponseBody": "1Ym\u002BhcjvqGhxbzleLIMRIyKL3H34doVKcB\u002BOrsqDEmrxV6AcXyoRkGBD/7C5F3JzJSQSYaLaVl8DdBSpYPme7VzObNTj9cP3eksdtHbVkFmtGoilcLHIFwBAGOsWaDBmpRFT66qdkDBgG\u002BdWvaHpLuO6\u002B0Zx\u002BHyrBVXUotzY4BEbtw9kgaWuEIpYRFXJcVpeV\u002BoHW23q9KyVqOVVye1UiDrVOgWShKw\u002BC\u002Bu7GLMm4ZP7dUvx0IWkMcJiz9m/WUecBLwb9DdUy9I9yFCBLtz5bsZRWlOiYre1MAlDMLXTf7KjHxT3C\u002B1cpql5tAg1IgPmaGASbf7z\u002BqEEZsMuEJscaUid3Q7HAmPZ9bOqKa6ufw0FXcdUwRK0sCRy8qQpLpYOXE[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-23702979-d2a7-b8f9-41d2-665d85a4e6a6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 19:57:25 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "73758727",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}