{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-611b504c-b8fb-e48f-3bf5-e7a1e3310799?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 26 Aug 2021 23:57:03 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D968ED33ADDD81\u0022",
        "Last-Modified": "Thu, 26 Aug 2021 23:57:03 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-611b504c-b8fb-e48f-3bf5-e7a1e3310799/test-blob-7decc15b-47ea-40b6-31f2-07bd8789b5e9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 26 Aug 2021 23:57:03 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "wEf4p2QCorUucMTmXz/AF8XEERrnt5l0GX4IIAMyO97oDY7cK4m/jiaVIY\u002BzOheOUX0qq60SYwitg47m\u002BYKx/DTm/VKw4\u002Bs8BYPzUpYJwd5mes6GB5Ax1aqGLqj72JSk4yVbzTzF3W6R7qYpHxFypMKvf3\u002BzK/SktCioKrRDQCzvTm5xrvOhoJxf9BnqB7aYE4rlS1gU8LgxthgUHbO5Tq15OtCiAfXODd/jUzbaua1xDxYqXfXT2l62P/fajYPppaZrcMzl9hKUFj15MZyBVv1row6cj/C4pmBy7MH\u002B9IBb\u002Ba6QbkjgixkDlka3WajBNOn6b\u002Bp1T[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-611b504c-b8fb-e48f-3bf5-e7a1e3310799/test-blob-7decc15b-47ea-40b6-31f2-07bd8789b5e9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Aug 2021 23:57:03 GMT",
        "x-ms-range": "bytes=0-3071",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "HLktAWTqvw7lwZtrIvjA0A==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D968ED33EDB8E5\u0022",
        "Last-Modified": "Thu, 26 Aug 2021 23:57:03 GMT",
        "x-ms-blob-content-md5": "HLktAWTqvw7lwZtrIvjA0A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 26 Aug 2021 23:57:03 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 26 Aug 2021 23:57:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-26T23:57:03.7391077Z"
      },
      "ResponseBody": "wEf4p2QCorUucMTmXz/AF8XEERrnt5l0GX4IIAMyO97oDY7cK4m/jiaVIY\u002BzOheOUX0qq60SYwitg47m\u002BYKx/DTm/VKw4\u002Bs8BYPzUpYJwd5mes6GB5Ax1aqGLqj72JSk4yVbzTzF3W6R7qYpHxFypMKvf3\u002BzK/SktCioKrRDQCzvTm5xrvOhoJxf9BnqB7aYE4rlS1gU8LgxthgUHbO5Tq15OtCiAfXODd/jUzbaua1xDxYqXfXT2l62P/fajYPppaZrcMzl9hKUFj15MZyBVv1row6cj/C4pmBy7MH\u002B9IBb\u002Ba6QbkjgixkDlka3WajBNOn6b\u002Bp1TRa1s8pscwlRlSK8Hjfu8ee0ihf0mPmpAEy3sbjXA4SW5qyX2rt\u002BdBgPsgAk\u002Bjt[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-611b504c-b8fb-e48f-3bf5-e7a1e3310799?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Aug 2021 23:57:03 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1347357097",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}