{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-2ae4cdf9-40c0-50e7-9d2c-de250a30a96f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 13 Sep 2021 19:51:20 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D976EFDBE17234\u0022",
        "Last-Modified": "Mon, 13 Sep 2021 19:51:20 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-2ae4cdf9-40c0-50e7-9d2c-de250a30a96f/test-blob-de06a051-f5d4-5ca5-21c0-784268aec1e9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 13 Sep 2021 19:51:20 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "cclGSHChvyzKQy2gQmOF8YG15u2s20DpHGLm8BK0w8hHcdbUe7OxsOHZFJHHBRq\u002BOofBs8fUPZaIXSwOus8aFYBlWdCMsXbOAzYM0sevIRZIJ7aL8w8AczQ/TB2Ho/USv/4RYqxJMYkR87CRx2rP2DsVxZIZjyJwZOWcTGRYRmBB\u002BRPInr9q/vYsegBfb6vKcHTicd1i\u002BS/coP7GreQkuKxQUM5WBjp7qsac7BUhEfQ60tzwddSC3gDk7P3BpFERCMFTDx/dc2o5Z8cWxQ0Zuo8JjNoINEPXzXHNchk8ugV1iuRUzgLVXF5xtg0NaxjzyjJuuBd2CNN9fEGtDwFR/K3BoTopx[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-2ae4cdf9-40c0-50e7-9d2c-de250a30a96f/test-blob-de06a051-f5d4-5ca5-21c0-784268aec1e9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 13 Sep 2021 19:51:20 GMT",
        "x-ms-range": "bytes=0-5119",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D976EFDBF32C5E\u0022",
        "Last-Modified": "Mon, 13 Sep 2021 19:51:20 GMT",
        "x-ms-blob-content-md5": "II6MA8HL6ApjQlUPL\u002B50Og==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "KU0rtPiRCkE=",
        "x-ms-creation-time": "Mon, 13 Sep 2021 19:51:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 13 Sep 2021 19:51:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-09-13T19:51:20.9044062Z"
      },
      "ResponseBody": "cclGSHChvyzKQy2gQmOF8YG15u2s20DpHGLm8BK0w8hHcdbUe7OxsOHZFJHHBRq\u002BOofBs8fUPZaIXSwOus8aFYBlWdCMsXbOAzYM0sevIRZIJ7aL8w8AczQ/TB2Ho/USv/4RYqxJMYkR87CRx2rP2DsVxZIZjyJwZOWcTGRYRmBB\u002BRPInr9q/vYsegBfb6vKcHTicd1i\u002BS/coP7GreQkuKxQUM5WBjp7qsac7BUhEfQ60tzwddSC3gDk7P3BpFERCMFTDx/dc2o5Z8cWxQ0Zuo8JjNoINEPXzXHNchk8ugV1iuRUzgLVXF5xtg0NaxjzyjJuuBd2CNN9fEGtDwFR/K3BoTopxeyNNC98l301ymJY2qjmzgHu/oEQ11HAJ01dILlgS8ndygRG4YPn\u002BnFWR7LeVTVYai6r[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-2ae4cdf9-40c0-50e7-9d2c-de250a30a96f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 13 Sep 2021 19:51:20 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "680354631",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}