{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-dca2ce5a-01b5-9ffa-8064-6bc4225098b5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 07 Sep 2021 18:52:24 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97230A1E301C2\u0022",
        "Last-Modified": "Tue, 07 Sep 2021 18:52:24 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-dca2ce5a-01b5-9ffa-8064-6bc4225098b5/test-blob-e5a0f316-0530-116a-665e-8dcfd1950ed6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 07 Sep 2021 18:52:24 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "IMhTGO9ZEJoWIZDXKIT09rkxTZ4JXnJrnk/ZRkK\u002BJqfIScOGBBMOveIGzw90kuniaZcWoEhwzcFV53qgf8lXV/vpD9/AbvGmI4\u002B7Ao5j9wtm992qqIVeV3sCMR2YbT4YrngTi4MJIfulb324tMoz8vBuOojsrK51irdjvjzUDbVRolMWT2uIXNXiBDgIpqKxzj4sKjO1LALJngDLpmK\u002B0WLHZhJ2HKOE5d6yCad1bOMUsu/\u002Bp\u002BOCnHZRTLBqvbVzJDPWQECQOrKbp0RUAyNaUzEdtvRzwCl\u002BRcqbJc/yGSgoP\u002BR0nyujg3c9Yv\u002BfLZhS9vl\[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-dca2ce5a-01b5-9ffa-8064-6bc4225098b5/test-blob-e5a0f316-0530-116a-665e-8dcfd1950ed6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 07 Sep 2021 18:52:25 GMT",
        "x-ms-range": "bytes=0-3071",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "yFkM9m\u002BmCXndIU7Tz3OUdA==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97230A226B872\u0022",
        "Last-Modified": "Tue, 07 Sep 2021 18:52:25 GMT",
        "x-ms-blob-content-md5": "yFkM9m\u002BmCXndIU7Tz3OUdA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 07 Sep 2021 18:52:25 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 07 Sep 2021 18:52:25 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-09-07T18:52:25.4089083Z"
      },
      "ResponseBody": "IMhTGO9ZEJoWIZDXKIT09rkxTZ4JXnJrnk/ZRkK\u002BJqfIScOGBBMOveIGzw90kuniaZcWoEhwzcFV53qgf8lXV/vpD9/AbvGmI4\u002B7Ao5j9wtm992qqIVeV3sCMR2YbT4YrngTi4MJIfulb324tMoz8vBuOojsrK51irdjvjzUDbVRolMWT2uIXNXiBDgIpqKxzj4sKjO1LALJngDLpmK\u002B0WLHZhJ2HKOE5d6yCad1bOMUsu/\u002Bp\u002BOCnHZRTLBqvbVzJDPWQECQOrKbp0RUAyNaUzEdtvRzwCl\u002BRcqbJc/yGSgoP\u002BR0nyujg3c9Yv\u002BfLZhS9vl\u002BTQbBAGQJWPt29RXiqY0bLMQ\u002B5rQFeTJ8NV0p3xgxSC7Wc8whZj\u002BAakcwL[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-dca2ce5a-01b5-9ffa-8064-6bc4225098b5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 07 Sep 2021 18:52:25 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1764564741",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}