{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-66be1952-8c28-49b1-b4e9-5d996c103180?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 13 Sep 2021 19:51:21 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D976EFDC3A11D3\u0022",
        "Last-Modified": "Mon, 13 Sep 2021 19:51:21 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-66be1952-8c28-49b1-b4e9-5d996c103180/test-blob-498a78f2-bc25-b07d-a86d-02d51230ebe7?comp=block\u0026blockid=YmxvY2tJZA%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "RvB\u002BANdS0tw=",
        "x-ms-date": "Mon, 13 Sep 2021 19:51:21 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "OcaF2S5\u002B6UmvHjijy5JpYqfOKR9GMMIvOX7/Io7gRqNI7\u002BUZzGhf8WOAUZ7NDwIalhfiimAdiwgDVZ\u002Bwf8a6ztiUWtutUJY\u002Bbze7xd4kYSp75Yx2/rtDKmTcFXbJrnKdxoLFObQmbEWBoxsoYcUq3/R1NJk5Q9AdUC920DsgdcDEHf5bXih1VXhG9VufG8mesjWCVHnYZIKyqOiEr5sKYS5aY0PHzoDL/98h8011fTRm1x4FnSBG7Ll7qbY/8KbcPJQsRbiF1\u002BS1tlSat3E0PSqzHtd9BMMNE3eJSyTJiw45Rbe5SDh84AA5T\u002BfMrDRIRmyLjN[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-66be1952-8c28-49b1-b4e9-5d996c103180?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 13 Sep 2021 19:51:21 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "570547276",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}