{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d0a603c4-ef87-2093-717a-0172286cd3e8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 24 Aug 2021 18:24:18 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9672C62F713A5\u0022",
        "Last-Modified": "Tue, 24 Aug 2021 18:24:18 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d0a603c4-ef87-2093-717a-0172286cd3e8/test-blob-1b2cce3f-5940-91e6-ef0a-3df4c2d4e26b?comp=block\u0026blockid=YmxvY2tJZA%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "cZRci6dkdKeXhsyBpO2gqw==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Aug 2021 18:24:18 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "\u002B94YdwH\u002BArNJbJigYiwOLmL0fvK9qytRDvorNNRlDgo3wmsyKaAL9jP63lAJusPG2g3yN669DU\u002Bzx2kG0s3f416OaaDA2wTB6Ie/wszaSFQ3ZFnGctdberQbf2I3BSNlG/rye1AjBf4JMU4n/UuC2X8Uz250GHGHMu/rpVyiiuNjWafS580DE15avUGINHxpmKbiIja18QKJa0hhN2CiZqZqxKOjsPGyEbsPGVsv/v5yggy1v2etrWikSXuEodv9t1aaHW/Yxei1MBB6ptenWW1K77VU7ac/vRY7/2d1LW/gEWIFleCOmb0jAI5WMgeR/fAOObImqMquW1[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d0a603c4-ef87-2093-717a-0172286cd3e8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Aug 2021 18:24:19 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1810708566",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}