{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-18420f91-ea4a-bac9-95dd-2e25cc5ec8d2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 13 Sep 2021 19:51:23 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D976EFDDA10F0B\u0022",
        "Last-Modified": "Mon, 13 Sep 2021 19:51:23 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-18420f91-ea4a-bac9-95dd-2e25cc5ec8d2/test-blob-a651b473-ce7f-08e9-77a3-0b7b37e33a50",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1048576",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 13 Sep 2021 19:51:23 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D976EFDDABC0AF\u0022",
        "Last-Modified": "Mon, 13 Sep 2021 19:51:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-09-13T19:51:23.7917871Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-18420f91-ea4a-bac9-95dd-2e25cc5ec8d2/test-blob-a651b473-ce7f-08e9-77a3-0b7b37e33a50?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "KVcuqRJPCGbLq8yDSXfF4Q==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 13 Sep 2021 19:51:23 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "T0yjkcrOQ7KPiU7i67bjztZFEuVCdIkU5kH/aDLuR56lUMOJInUfRKJpxL/twD21Pt26LBnda9vDj6uJztt/oUKvPZvzWaxhJc5D2bDKJiYDSipVNBuFx\u002BXoxpPJlnXH6SN8PoKiweUwWAZLmpEr\u002BWiFhYSwKmwnKnW1C5MYmI9Ze/CMTeijYYhFJNsUOixTvM0rQxDwFr\u002B2VRMM7LZSF8B38R\u002Bhnqx/4iT8awWREvBJYk7G7VR\u002BaGQw1vfUlnTS8w0anEgNsR4hq2Hs86q5JEIjw4lniyls\u002BYi6cMe0qkyvKnj4d3anO7EvpULzkXW5d7K0sdLqamfjraO/U0BXbAAUPckywa3Me4jYN\u002BbneWgTAPkVAPl5xL8RFcnT[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-18420f91-ea4a-bac9-95dd-2e25cc5ec8d2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 13 Sep 2021 19:51:23 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "284263914",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}