{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-2516b14e-d4ca-fa8f-cfde-7dea4293793b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 Sep 2021 20:29:10 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96D8727D07E65\u0022",
        "Last-Modified": "Wed, 01 Sep 2021 20:29:10 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-2516b14e-d4ca-fa8f-cfde-7dea4293793b/test-blob-b40fc432-f4e0-d7e0-2df7-c60ddbd2ee20",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1048576",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 01 Sep 2021 20:29:10 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96D8727DAB81D\u0022",
        "Last-Modified": "Wed, 01 Sep 2021 20:29:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-09-01T20:29:10.6303783Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-2516b14e-d4ca-fa8f-cfde-7dea4293793b/test-blob-b40fc432-f4e0-d7e0-2df7-c60ddbd2ee20?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "x/x3hltiEAWraB81C9yoAQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 Sep 2021 20:29:10 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "uP4nWbA/sQJEJepw301fUi2Mo4tylgrlG6PeLmrznM19pImdVVhABgQengrrEuwzRY5LyMlQ3SHzQT0NYYOXUIkc8jrDwfzUTJyHVPgA\u002Bgm2quncqNMDLcdoqhQaMqWBhk2Azh\u002Byb4OSd3ssyYgp8kc0VraZu6i1GMVzWxfnuhn3Bc6rfyvpBDplSjBX12M\u002BPrfN5dzv58uky7VaPhRrqrxiNcS6fnMbS1J7NHF3XUFhNBxgGtQ9CB0CBrR1jsUm\u002Bp909aGfg8BEsZqJc7NaLG10\u002BQn3C4/oJC2muHe/pb2MVDnRA2ifwrFbG2k5s5RqqNlGAZW7L\u002B4Qi9B0\u002BctJhAzd/B55iCkE1DdYm\u002B8mrnGYOw\u002BdeK[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-2516b14e-d4ca-fa8f-cfde-7dea4293793b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 Sep 2021 20:29:10 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "582591240",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}