{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-2965957f-80b4-1cfe-f3a4-e05de6a387a5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 21 Sep 2021 17:36:02 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D26486148BD\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:36:02 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-2965957f-80b4-1cfe-f3a4-e05de6a387a5/test-blob-43453f99-8a6c-1bf4-156e-6666855abdf0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1048576",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 21 Sep 2021 17:36:02 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D26486AD316\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:36:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-09-21T17:36:02.6825494Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-2965957f-80b4-1cfe-f3a4-e05de6a387a5/test-blob-43453f99-8a6c-1bf4-156e-6666855abdf0?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "wxQkr/UTt3I=",
        "x-ms-date": "Tue, 21 Sep 2021 17:36:02 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "IkGwr4GhsQnObQmuPGtpVQYlmGHGKF/6WPxYP3g//IwxYnFy7O45I9PTkNhixVx0QqaB1ftzGvnhtleFSHGRj3B8fNr692kX63WN85eHmJKf5P3SvSaQvkd3kDaXtNpiQgFn5UiBeko9aeqG5SdhWR7E5WR0v9FK7L6TgmYygDeaK7GWILJJHWmylFQ8CtggFjcX0s527oMvHfmK7vjkCuiy67p1yjlresf7wSp9DeHlcmsvG65oJD0uZwK5vy9wzopriR4eqkv9rFcHeyxYsRAXpHyNte86Ssd9R2M3sruYivOgEoPCx8cfMW9WYKkQ1bXyohqz4xmbMD9XoWPoxvmcb/A5uJ6MVN20bYN/5OkebXGtRA\u002Bg5KfaBeJEayZjN2t1ufG41h0WZk09/3aWG0xVOT[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-2965957f-80b4-1cfe-f3a4-e05de6a387a5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:36:02 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "757987143",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}