{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-6a7fc8ef-6b28-7f71-7f57-3e6e9a12112d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 30 Aug 2021 21:23:03 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96BFC5A3787CA\u0022",
        "Last-Modified": "Mon, 30 Aug 2021 21:23:03 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-6a7fc8ef-6b28-7f71-7f57-3e6e9a12112d/test-blob-525f8621-3257-9451-f79b-08bdea431a29?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "Z08S\u002BzXFAXcOUfFeZ/74dA==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 30 Aug 2021 21:23:03 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "rQfDNqv\u002BvselQQBPRBjQizuyT3gEyIeBj8IGBUVQMSvitqumMOTgIGRGo2Nm\u002BfPVJlaWWe59a\u002BSAQqfp\u002BLmCVBDVbI1sKVtW0i8UviQjGpXOMN7uudc9ZEvHJu499iiqw09TkY1maPz7QIe\u002Baa2/XCcSGsfalJo4lwdCpQNtGdsGafrV0IgIaMjh8nlQfvueCMrGK9xh0C\u002B0GvmFI8L5jiaruACy6YyeCbL\u002B\u002BaEh6BkMpJ05p\u002B7/pZjKIbWPg0QF52RTpMb66x49JyEqYteOkzLfeX8lwOc3qxJn58jXD4Zt\u002BRE9zUNTEbh/\u002B3/N1UPBPI6DrwnF3yd8G/mzkgNVZhebvGjGUcXujGfGpsVn[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-6a7fc8ef-6b28-7f71-7f57-3e6e9a12112d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 30 Aug 2021 21:23:04 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1671174296",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}