{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-c5f0d412-2866-165a-ca2e-3390a8266f7d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 21 Sep 2021 17:36:03 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D2648EF5DC3\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:36:03 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-c5f0d412-2866-165a-ca2e-3390a8266f7d/test-blob-74fd3e75-a9d6-2885-a2da-21e93ae038be",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1048576",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 21 Sep 2021 17:36:03 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D2648F91BBD\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:36:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-09-21T17:36:03.6150205Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-c5f0d412-2866-165a-ca2e-3390a8266f7d/test-blob-74fd3e75-a9d6-2885-a2da-21e93ae038be?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "cHQRP\u002BGU75hvpdBEFgzj6Q==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 2021 17:36:03 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "MBAcVpvGh4uM8YWBm2su8/VwjIcK0unggSjEcTdMIp\u002BrMr7WueIoPZmREKEahYCm4VwGaxSxUF0mO9VyARZUQM/m1WisWDoSSE7uecJIxvuoHo/aRbaK\u002BeFgr30NtTuCPc/RNLAX\u002BYki8yPGw9eb3nXZyuOGefoZW9uHTKi8BZISazzydpJLkCUFt1GSxDYKxdEIM\u002BtY/MPVt9jUkK3hZu6Rs1ibqGfijjq\u002BgMKoh5elfIfWs9Gnum94Hb65dv94JFFjARDdbxxpJaWwmnsBLDBBLxQmCrMc6fnpIoqpKRc7RVxxRIWGxw1qbY0s9h/zd/GNeEbqUhmdRxcX9EyRv/yNdVQej\u002Beru2gHu50l8PLa9aqZG7DRUPND0/1tb9LA2[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-c5f0d412-2866-165a-ca2e-3390a8266f7d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:36:03 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1261674653",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}