{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/types?api-version=2020-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "types": [
          {
            "id": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
            "name": "DefaultType",
            "description": "Default type",
            "variables": {
              "EventCount": {
                "kind": "aggregate",
                "aggregation": {
                  "tsx": "count()"
                }
              }
            }
          },
          {
            "id": "86fc3da5-a7cb-443a-b7c3-00a7d9ebb72d",
            "name": "tsiTypeName6",
            "variables": {
              "aggregateVariableName": {
                "kind": "aggregate",
                "aggregation": {
                  "tsx": "count()"
                }
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/types/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "put": [
          {
            "id": "1926804622",
            "name": "type9wlbhteT",
            "variables": {
              "aggregateVariablehmUq8zPs": {
                "aggregation": {
                  "tsx": "count()"
                },
                "kind": "aggregate"
              }
            }
          },
          {
            "id": "1368369929",
            "name": "typeN7CAwbES",
            "variables": {
              "aggregateVariablehmUq8zPs": {
                "aggregation": {
                  "tsx": "count()"
                },
                "kind": "aggregate"
              }
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "put": [
          {
            "timeSeriesType": {
              "id": "1926804622",
              "name": "type9wlbhteT",
              "variables": {
                "aggregateVariablehmUq8zPs": {
                  "kind": "aggregate",
                  "aggregation": {
                    "tsx": "count()"
                  }
                }
              }
            }
          },
          {
            "timeSeriesType": {
              "id": "1368369929",
              "name": "typeN7CAwbES",
              "variables": {
                "aggregateVariablehmUq8zPs": {
                  "kind": "aggregate",
                  "aggregation": {
                    "tsx": "count()"
                  }
                }
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/types/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "get": {
          "names": [
            "type9wlbhteT",
            "typeN7CAwbES"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "get": [
          {
            "timeSeriesType": {
              "id": "1926804622",
              "name": "type9wlbhteT",
              "variables": {
                "aggregateVariablehmUq8zPs": {
                  "kind": "aggregate",
                  "aggregation": {
                    "tsx": "count()"
                  }
                }
              }
            }
          },
          {
            "timeSeriesType": {
              "id": "1368369929",
              "name": "typeN7CAwbES",
              "variables": {
                "aggregateVariablehmUq8zPs": {
                  "kind": "aggregate",
                  "aggregation": {
                    "tsx": "count()"
                  }
                }
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/types/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "get": {
          "typeIds": [
            "1926804622",
            "1368369929"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "get": [
          {
            "timeSeriesType": {
              "id": "1926804622",
              "name": "type9wlbhteT",
              "description": "Description",
              "variables": {
                "aggregateVariablehmUq8zPs": {
                  "kind": "aggregate",
                  "aggregation": {
                    "tsx": "count()"
                  }
                }
              }
            }
          },
          {
            "timeSeriesType": {
              "id": "1368369929",
              "name": "typeN7CAwbES",
              "description": "Description",
              "variables": {
                "aggregateVariablehmUq8zPs": {
                  "kind": "aggregate",
                  "aggregation": {
                    "tsx": "count()"
                  }
                }
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/types/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "delete": {
          "typeIds": [
            "1926804622",
            "1368369929"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "delete": [
          null,
          null
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "253866154",
    "TIMESERIESINSIGHTS_URL": "fakeHost.api.wus2.timeseriesinsights.azure.com"
  }
}