{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/types?api-version=2020-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "types": [
          {
            "id": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
            "name": "DefaultType",
            "description": "Default type",
            "variables": {
              "EventCount": {
                "kind": "aggregate",
                "aggregation": {
                  "tsx": "count()"
                }
              }
            }
          },
          {
            "id": "TemperatureSensorTypeId",
            "name": "TemperatureSensor",
            "variables": {
              "TemperatureInCelsius": {
                "kind": "numeric",
                "value": {
                  "tsx": "$event.Temperature"
                },
                "aggregation": {
                  "tsx": "avg($value)"
                }
              },
              "TemperatureInFahrenheit": {
                "kind": "numeric",
                "value": {
                  "tsx": "$event.Temperature * 1.8 \u002B 32"
                },
                "aggregation": {
                  "tsx": "avg($value)"
                }
              }
            }
          },
          {
            "id": "Type2Id",
            "name": "Type2",
            "description": "Description",
            "variables": {
              "aggregateVariable": {
                "kind": "aggregate",
                "aggregation": {
                  "tsx": "count()"
                }
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/types/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "put": [
          {
            "id": "874792785",
            "name": "typezLJUBV4g",
            "variables": {
              "aggregateVariablezHfEsSiR": {
                "aggregation": {
                  "tsx": "count()"
                },
                "kind": "aggregate"
              }
            }
          },
          {
            "id": "1262970626",
            "name": "typeQ1AjWf08",
            "variables": {
              "aggregateVariablezHfEsSiR": {
                "aggregation": {
                  "tsx": "count()"
                },
                "kind": "aggregate"
              }
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "put": [
          {
            "timeSeriesType": {
              "id": "874792785",
              "name": "typezLJUBV4g",
              "variables": {
                "aggregateVariablezHfEsSiR": {
                  "kind": "aggregate",
                  "aggregation": {
                    "tsx": "count()"
                  }
                }
              }
            }
          },
          {
            "timeSeriesType": {
              "id": "1262970626",
              "name": "typeQ1AjWf08",
              "variables": {
                "aggregateVariablezHfEsSiR": {
                  "kind": "aggregate",
                  "aggregation": {
                    "tsx": "count()"
                  }
                }
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/types/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "get": {
          "names": [
            "typezLJUBV4g",
            "typeQ1AjWf08"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "get": [
          {
            "timeSeriesType": {
              "id": "874792785",
              "name": "typezLJUBV4g",
              "variables": {
                "aggregateVariablezHfEsSiR": {
                  "kind": "aggregate",
                  "aggregation": {
                    "tsx": "count()"
                  }
                }
              }
            }
          },
          {
            "timeSeriesType": {
              "id": "1262970626",
              "name": "typeQ1AjWf08",
              "variables": {
                "aggregateVariablezHfEsSiR": {
                  "kind": "aggregate",
                  "aggregation": {
                    "tsx": "count()"
                  }
                }
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/types/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "get": {
          "typeIds": [
            "874792785",
            "1262970626"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "get": [
          {
            "timeSeriesType": {
              "id": "874792785",
              "name": "typezLJUBV4g",
              "description": "Description",
              "variables": {
                "aggregateVariablezHfEsSiR": {
                  "kind": "aggregate",
                  "aggregation": {
                    "tsx": "count()"
                  }
                }
              }
            }
          },
          {
            "timeSeriesType": {
              "id": "1262970626",
              "name": "typeQ1AjWf08",
              "description": "Description",
              "variables": {
                "aggregateVariablezHfEsSiR": {
                  "kind": "aggregate",
                  "aggregation": {
                    "tsx": "count()"
                  }
                }
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/types/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "delete": {
          "typeIds": [
            "874792785",
            "1262970626"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "delete": [
          null,
          null
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1211965789",
    "TIMESERIESINSIGHTS_URL": "fakeHost.api.wus2.timeseriesinsights.azure.com"
  }
}