{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11939"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "f3d94233-a9aa-4241-ac82-2dfb63ce637a",
        "tenantId": "75743128-1c62-4904-9be1-c23c1edb9a9f",
        "displayName": "Visual Studio Enterprise Subscription",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "MSDN_2014-09-01",
          "spendingLimit": "On"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-5276?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-5276",
        "name": "testRg-5276",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-5276/providers/Microsoft.Cdn/profiles/AFDProfile-2680?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_AzureFrontDoor"
        },
        "tags": {},
        "location": "Global",
        "properties": {
          "originResponseTimeoutSeconds": 60
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-5276/providers/Microsoft.Cdn/operationresults/0efb17e8-1821-4ce2-b073-935583a077eb?api-version=2021-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "22"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-5276/providers/Microsoft.Cdn/profiles/AFDProfile-2680",
        "type": "Microsoft.Cdn/profiles",
        "name": "AFDProfile-2680",
        "location": "Global",
        "kind": "frontdoor",
        "tags": {},
        "sku": {
          "name": "Standard_AzureFrontDoor"
        },
        "properties": {
          "originResponseTimeoutSeconds": 60,
          "frontDoorId": "3f9c9516-bfce-4ac1-8ac6-203ffe4dd7bf",
          "resourceState": "Creating",
          "provisioningState": "Creating"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-5276/providers/Microsoft.Cdn/operationresults/0efb17e8-1821-4ce2-b073-935583a077eb?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11938"
      },
      "ResponseBody": {
        "status": "InProgress",
        "error": {
          "code": "None",
          "message": null
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-5276/providers/Microsoft.Cdn/profiles/AFDProfile-2680/afdEndpoints/AFDEndpoint-1578?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-5276/providers/Microsoft.Cdn/operationresults/ef3ba354-e351-4bd7-be44-8760d3f3b02e?api-version=2021-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "95"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-5276/providers/Microsoft.Cdn/profiles/AFDProfile-2680/afdEndpoints/AFDEndpoint-1578",
        "type": "Microsoft.Cdn/profiles/afdendpoints",
        "name": "AFDEndpoint-1578",
        "location": "WestUs",
        "tags": {},
        "properties": {
          "hostName": "AFDEndpoint-1578-asegcmcbcch2e7bf.z01.azurefd.net",
          "autoGeneratedDomainNameLabelScope": null,
          "enabledState": "Enabled",
          "provisioningState": "Creating",
          "deploymentStatus": "NotStarted"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-5276/providers/Microsoft.Cdn/profiles/AFDProfile-2680/securityPolicies/AFDSecurityPolicy-5711?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "parameters": {
            "wafPolicy": {
              "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/CdnTest/providers/Microsoft.Network/frontdoorWebApplicationFirewallPolicies/testAFDWaf"
            },
            "associations": [
              {
                "domains": [
                  {
                    "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-5276/providers/Microsoft.Cdn/profiles/AFDProfile-2680/afdEndpoints/AFDEndpoint-1578"
                  }
                ],
                "patternsToMatch": [
                  "/*"
                ]
              }
            ],
            "type": "WebApplicationFirewall"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-5276/providers/Microsoft.Cdn/operationresults/4aa8aaf6-103f-445c-b61c-bf544c2eac18?api-version=2020-09-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "95"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-5276/providers/Microsoft.Cdn/profiles/AFDProfile-2680/securitypolicies/AFDSecurityPolicy-5711",
        "type": "Microsoft.Cdn/profiles/securityPolicies",
        "name": "AFDSecurityPolicy-5711",
        "properties": {
          "parameters": {
            "wafPolicy": {
              "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/CdnTest/providers/Microsoft.Network/frontdoorWebApplicationFirewallPolicies/testAFDWaf"
            },
            "associations": [
              {
                "domains": [
                  {
                    "isActive": true,
                    "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-5276/providers/Microsoft.Cdn/profiles/AFDProfile-2680/afdEndpoints/AFDEndpoint-1578"
                  }
                ],
                "patternsToMatch": [
                  "/*"
                ]
              }
            ],
            "type": "WebApplicationFirewall"
          },
          "deploymentStatus": "NotStarted",
          "provisioningState": "Creating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-5276/providers/Microsoft.Cdn/profiles/AFDProfile-2680/securityPolicies/AFDSecurityPolicy-5711?api-version=2021-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-5276/providers/Microsoft.Cdn/operationresults/401d4778-57b0-4c5b-ba0b-6b72a5f18c2d?api-version=2020-09-01",
        "Location": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-5276/providers/Microsoft.Cdn/operationresults/401d4778-57b0-4c5b-ba0b-6b72a5f18c2d/profileresults/AFDProfile-2680/securitypolicyresults/AFDSecurityPolicy-5711?api-version=2020-09-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-deletes": "14998"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-5276/providers/Microsoft.Cdn/profiles/AFDProfile-2680/securityPolicies/AFDSecurityPolicy-5711?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11914"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "The requested resource was not found."
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1567870391",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "f3d94233-a9aa-4241-ac82-2dfb63ce637a"
  }
}
