{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.scan.purview.azure.com/classificationrules?api-version=2018-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "minimumDistinctMatchCount": null,
              "minimumPercentageMatch": 60.0,
              "classificationAction": "Keep",
              "dataPatterns": [
                {
                  "pattern": "^[0-9]$",
                  "kind": "Regex"
                }
              ],
              "columnPatterns": [
                {
                  "pattern": "classid",
                  "kind": "Regex"
                }
              ],
              "classificationRuleBloomFilter": null,
              "description": "",
              "version": 1,
              "classificationName": "MICROSOFT.FINANCIAL.US.ABA_ROUTING_NUMBER",
              "owner": "9f78dd23-f3c4-450f-84af-d9bd0a224f0b",
              "ruleStatus": "Enabled",
              "createdAt": "2021-10-12T02:43:02.4467341Z",
              "lastModifiedAt": "2021-10-12T02:43:02.4467349Z",
              "collection": null
            },
            "kind": "Custom",
            "id": "classificationrules/test_rule1008",
            "name": "test_rule1008"
          }
        ],
        "count": 1
      }
    }
  ],
  "Variables": {
    "PURVIEW_SCANNING_URL": "https://dotnetllcpurviewaccount.scan.purview.azure.com/",
    "RandomSeed": "744094608"
  }
}