{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.scan.purview.azure.com/datasources?api-version=2018-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "serviceUrl": "s3://testpurview",
              "roleARN": null,
              "createdAt": "2021-10-12T02:43:45.6897406Z",
              "lastModifiedAt": "2021-10-12T02:43:45.6897406Z",
              "parentCollection": null,
              "collection": {
                "lastModifiedAt": "2021-10-12T02:43:45.6897406Z",
                "referenceName": "dotnetllcpurviewaccount",
                "type": "CollectionReference"
              }
            },
            "kind": "AmazonS3",
            "id": "datasources/test-source1008",
            "name": "test-source1008"
          }
        ],
        "count": 1
      }
    }
  ],
  "Variables": {
    "PURVIEW_SCANNING_URL": "https://dotnetllcpurviewaccount.scan.purview.azure.com/",
    "RandomSeed": "89260183"
  }
}