{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.scan.purview.azure.com/azureKeyVaults/default-keyvault?api-version=2018-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "test-keyvault0908",
        "properties": {
          "baseurl": "https://test-keyvault0908.vault.azure.net/",
          "description": "test"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "properties": {
          "baseUrl": "https://test-keyvault0908.vault.azure.net/",
          "description": "test"
        },
        "id": "/subscriptions/673e4bc8-459c-4471-ae5e-4e310e127429/resourceGroups/scanning-prod-westus2/providers/Microsoft.Purview/accounts/purview-f2270313-4ae9-4943-a3e5-87d78b63a143/linkedservices/default-keyvault",
        "name": "default-keyvault"
      }
    },
[...]
    {
      "RequestUri": "https://dotnetllcpurviewaccount.scan.purview.azure.com/azureKeyVaults/default-keyvault?api-version=2018-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "properties": {
          "baseUrl": "https://test-keyvault0908.vault.azure.net/",
          "description": "test"
        },
        "id": "/subscriptions/673e4bc8-459c-4471-ae5e-4e310e127429/resourceGroups/scanning-prod-westus2/providers/Microsoft.Purview/accounts/purview-f2270313-4ae9-4943-a3e5-87d78b63a143/linkedservices/default-keyvault",
        "name": "default-keyvault"
      }
    }
  ],
  "Variables": {
    "PURVIEW_SCANNING_URL": "https://dotnetllcpurviewaccount.scan.purview.azure.com/",
    "RandomSeed": "1026317006"
  }
}