{
  "Entries": [
    {
      "RequestUri": "/0cd40ba3-75d4-4d82-95fe-b4c3ff4fd7e4/services/networking/dedicatedcircuits/00000000-0000-0000-0000-000000000000?api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2011-10-01"
        ]
      },
      "ResponseBody": "<Error xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Code>BadRequest</Code>\r\n  <Message>The specified service key '00000000-0000-0000-0000-000000000000' is not valid or could not be found.</Message>\r\n</Error>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 400
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "0cd40ba3-75d4-4d82-95fe-b4c3ff4fd7e4"
  }
}