{
  "Entries": [
    {
      "RequestUri": "/subscriptions/bab3b17e-3f3b-40e0-acc4-ef8c9bbdf32b/resourcegroups/DefaultDotNetSdkIotCentralRG?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"EastUS\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/bab3b17e-3f3b-40e0-acc4-ef8c9bbdf32b/resourceGroups/DefaultDotNetSdkIotCentralRG\",\r\n  \"name\": \"DefaultDotNetSdkIotCentralRG\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/bab3b17e-3f3b-40e0-acc4-ef8c9bbdf32b/resourceGroups/DefaultDotNetSdkIotCentralRG/providers/Microsoft.IoTCentral/iotApps/defaultdotnetsdkapp?api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"displayName\": \"defaultdotnetsdkapp\",\r\n    \"subdomain\": \"defaultdotnetsdksubdomain\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"ST1\"\r\n  },\r\n  \"location\": \"EastUS\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"6b0196dc-0000-0100-0000-601b7fcf0000\""
        ],
        "x-iot-correlation": [
          "6abfox69.0"
        ],
        "X-IoT-Version": [
          "020221.0002-master"
        ],
        "X-IoT-Cluster": [
          "iotcprodcentralus01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/bab3b17e-3f3b-40e0-acc4-ef8c9bbdf32b/resourceGroups/DefaultDotNetSdkIotCentralRG/providers/Microsoft.IoTCentral/iotApps/defaultdotnetsdkapp\",\r\n  \"name\": \"defaultdotnetsdkapp\",\r\n  \"type\": \"Microsoft.IoTCentral/IoTApps\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"applicationId\": \"d92d1958-b4ae-4b81-be77-0433e451aafb\",\r\n    \"state\": \"created\",\r\n    \"displayName\": \"defaultdotnetsdkapp\",\r\n    \"tenant\": \"7f448912-3312-4b33-838d-76eb99405624\",\r\n    \"capabilities\": {\r\n      \"non-wrapped-properties\": true,\r\n      \"pnp-preview\": true,\r\n      \"asa-stamp\": true,\r\n      \"default\": true\r\n    },\r\n    \"subdomain\": \"defaultdotnetsdksubdomain\",\r\n    \"createdDate\": \"2021-02-04T05:02:07.943Z\",\r\n    \"template\": \"iotc-pnp-preview@1.0.0\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"ST1\"\r\n  },\r\n  \"etag\": \"\\\"6b0196dc-0000-0100-0000-601b7fcf0000\\\"\"\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/bab3b17e-3f3b-40e0-acc4-ef8c9bbdf32b/providers/Microsoft.IoTCentral/checkNameAvailability?api-version=2018-09-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"defaultdotnetsdkapp\",\r\n  \"type\": \"IoTApps\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"6b-Obxvouplxe0P3Of7PGeaPXdqcas\""
        ],
        "x-iot-correlation": [
          "300vol8z.0"
        ],
        "X-IoT-Version": [
          "020221.0002-master"
        ],
        "X-IoT-Cluster": [
          "iotcprodcentralus01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": false,\r\n  \"reason\": \"The resource name is in use\",\r\n  \"message\": \"Try other variations of the name\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/bab3b17e-3f3b-40e0-acc4-ef8c9bbdf32b/providers/Microsoft.IoTCentral/checkSubdomainAvailability?api-version=2018-09-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"defaultdotnetsdksubdomain\",\r\n  \"type\": \"IoTApps\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"67-MxuXaGtJH++NM0vnQQJ9VrpyYOs\""
        ],
        "x-iot-correlation": [
          "c6lpyei8.0"
        ],
        "X-IoT-Version": [
          "020221.0002-master"
        ],
        "X-IoT-Cluster": [
          "iotcprodcentralus01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": false,\r\n  \"reason\": \"The subdomain is in use\",\r\n  \"message\": \"Try other variations of the name\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/bab3b17e-3f3b-40e0-acc4-ef8c9bbdf32b/resourceGroups/DefaultDotNetSdkIotCentralRG/providers/Microsoft.IoTCentral/iotApps/defaultdotnetsdkapp?api-version=2018-09-01",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  },\r\n  \"properties\": {\r\n    \"displayName\": \"defaultdotnetsdkapp\",\r\n    \"subdomain\": \"defaultdotnetsdksubdomain\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"6b0136de-0000-0100-0000-601b7ff00000\""
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "x-iot-correlation": [[...]
    {
      "RequestUri": "/subscriptions/bab3b17e-3f3b-40e0-acc4-ef8c9bbdf32b/resourceGroups/defaultdotnetsdkiotcentralrg/providers/Microsoft.IoTCentral/iotApps?api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"322-XzwpMcizkvfZjU8Mwn8j9qBfXw8\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "x-iot-correlation": [
          "3ngw0y18.0"
        ],
        "X-IoT-Version": [
          "020221.0002-master"
        ],
        "X-IoT-Cluster": [
          "iotcprodcentralus01"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/bab3b17e-3f3b-40e0-acc4-ef8c9bbdf32b/resourceGroups/DefaultDotNetSdkIotCentralRG/providers/Microsoft.IoTCentral/iotApps/defaultdotnetsdkapp\",\r\n      \"name\": \"defaultdotnetsdkapp\",\r\n      \"type\": \"Microsoft.IoTCentral/IoTApps\",\r\n      \"location\": \"eastus\",\r\n      \"tags\": {\r\n        \"key1\": \"value1\",\r\n        \"key2\": \"value2\"\r\n      },\r\n      \"properties\": {\r\n        \"applicationId\": \"d92d1958-b4ae-4b81-be77-0433e451aafb\",\r\n        \"state\": \"created\",\r\n        \"displayName\": \"defaultdotnetsdkapp\",\r\n        \"tenant\": \"7f448912-3312-4b33-838d-76eb99405624\",\r\n        \"capabilities\": {\r\n          \"non-wrapped-properties\": true,\r\n          \"pnp-preview\": true,\r\n          \"asa-stamp\": true,\r\n          \"default\": true\r\n        },\r\n        \"subdomain\": \"defaultdotnetsdksubdomain\",\r\n        \"createdDate\": \"2021-02-04T05:02:07.943Z\",\r\n        \"lastUpdated\": \"2021-02-04T05:02:40.908Z\",\r\n        \"template\": \"iotc-pnp-preview@1.0.0\"\r\n      },\r\n      \"sku\": {\r\n        \"name\": \"ST1\"\r\n      },\r\n      \"etag\": \"\\\"6b0136de-0000-0100-0000-601b7ff00000\\\"\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/bab3b17e-3f3b-40e0-acc4-ef8c9bbdf32b/providers/Microsoft.IoTCentral/iotApps?api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"e1d-ygP2sYoCH3OfrBcndfEuJpS65r4\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "x-iot-correlation": [
          "9z3s25lg.0"
        ],
        "X[...]
