{
  "Entries": [
    {
      "RequestUri": "/subscriptions/bab3b17e-3f3b-40e0-acc4-ef8c9bbdf32b/resourcegroups/DotNetSdkIotCentralRGUpdate94089384dcab43eea798415cbfe98692?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"EastUS\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/bab3b17e-3f3b-40e0-acc4-ef8c9bbdf32b/resourceGroups/DotNetSdkIotCentralRGUpdate94089384dcab43eea798415cbfe98692\",\r\n  \"name\": \"DotNetSdkIotCentralRGUpdate94089384dcab43eea798415cbfe98692\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/bab3b17e-3f3b-40e0-acc4-ef8c9bbdf32b/resourceGroups/DotNetSdkIotCentralRGUpdate94089384dcab43eea798415cbfe98692/providers/Microsoft.IoTCentral/iotApps/dotnetsdkappupdatec10210435ce640bc9bacb86831b7faca?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"displayName\": \"dotnetsdkappupdatec10210435ce640bc9bacb86831b7faca\",\r\n    \"subdomain\": \"dotnetsdksubdomainupdate46f84dc04f994aac99202c2e8d84794d\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"ST2\"\r\n  },\r\n  \"location\": \"EastUS\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"27025901-0000-0100-0000-6182be540000\""
        ],
        "x-iot-correlation": [
          "1t1yv3d4.1.0"
        ],
        "X-IoT-Version": [
          "102821.0001-release"
        ],
        "X-IoT-Cluster": [
          "iotcprodwestus02"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/bab3b17e-3f3b-40e0-acc4-ef8c9bbdf32b/resourceGroups/DotNetSdkIotCentralRGUpdate94089384dcab43eea798415cbfe98692/providers/Microsoft.IoTCentral/iotApps/dotnetsdkappupdatec10210435ce640bc9bacb86831b7faca\",\r\n  \"name\": \"dotnetsdkappupdatec10210435ce640bc9bacb86831b7faca\",\r\n  \"type\": \"Microsoft.IoTCentral/IoTApps\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"applicationId\": \"7bf0205d-b26a-4bfe-835b-d84f79ed2b47\",\r\n    \"displayName\": \"dotnetsdkappupdatec10210435ce640bc9bacb86831b7faca\",\r\n    \"subdomain\": \"dotnetsdksubdomainupdate46f84dc04f994aac99202c2e8d84794d\",\r\n    \"template\": \"iotc-pnp-preview@1.0.0\",\r\n    \"state\": \"created\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"ST2\"\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"None\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/bab3b17e-3f3b-40e0-acc4-ef8c9bbdf32b/providers/Microsoft.IoTCentral/checkNameAvailability?api-version=2021-06-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"dotnetsdkappupdatec10210435ce640bc9bacb86831b7faca\",\r\n  \"type\": \"IoTApps\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-iot-correlation": [
          "7gt0d98v.0"
        ],
        "X-IoT-Version": [
          "102821.0001-release"
        ],
        "X-IoT-Cluster": [
          "iotcprodwestus02"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": false,\r\n  \"reason\": \"The resource name is in use\",\r\n  \"message\": \"Try other variations of the name\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/bab3b17e-3f3b-40e0-acc4-ef8c9bbdf32b/providers/Microsoft.IoTCentral/checkSubdomainAvailability?api-version=2021-06-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"dotnetsdksubdomainupdate46f84dc04f994aac99202c2e8d84794d\",\r\n  \"type\": \"IoTApps\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-iot-correlation": [
          "27qmoej5.0"
        ],
        "X-IoT-Version": [
          "102821.0001-release"
        ],
        "X-IoT-Cluster": [
          "iotcprodwestus02"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": false,\r\n  \"reason\": \"The subdomain is in use\",\r\n  \"message\": \"Try other variations of the name\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/bab3b17e-3f3b-40e0-acc4-ef8c9bbdf32b/resourceGroups/DotNetSdkIotCentralRGUpdate94089384dcab43eea798415cbfe98692/providers/Microsoft.IoTCentral/iotApps/dotnetsdkappupdatec10210435ce640bc9bacb86831b7faca?api-version=2021-06-01",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"ST2\"\r\n  },\r\n  \"properties\": {\r\n    \"displayName\": \"test-updated-display-namea4a251210e3f4b84abd077f17ce28685\",\r\n    \"subdomain\": \"test-updated-sub-domainf21d2daa58354f6e9bb7af648020ad3f\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"2702210e-0000-0100-0000-6182be760000\""
        ],[...]
    {
      "RequestUri": "/subscriptions/bab3b17e-3f3b-40e0-acc4-ef8c9bbdf32b/resourceGroups/DotNetSdkIotCentralRGUpdate94089384dcab43eea798415cbfe98692/providers/Microsoft.IoTCentral/iotApps?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "x-iot-correlation": [
          "9dl0hx3g.0"
        ],
        "X-IoT-Version": [
          "102821.0001-release"
        ],
        "X-IoT-Cluster": [
          "iotcprodwestus02"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/bab3b17e-3f3b-40e0-acc4-ef8c9bbdf32b/resourceGroups/DotNetSdkIotCentralRGUpdate94089384dcab43eea798415cbfe98692/providers/Microsoft.IoTCentral/iotApps/dotnetsdkappupdatec10210435ce640bc9bacb86831b7faca\",\r\n      \"name\": \"dotnetsdkappupdatec10210435ce640bc9bacb86831b7faca\",\r\n      \"type\": \"Microsoft.IoTCentral/IoTApps\",\r\n      \"location\": \"eastus\",\r\n      \"tags\": {\r\n        \"key1\": \"value1\",\r\n        \"key2\": \"value2\"\r\n      },\r\n      \"properties\": {\r\n        \"applicationId\": \"7bf0205d-b26a-4bfe-835b-d84f79ed2b47\",\r\n        \"displayName\": \"test-updated-display-namea4a251210e3f4b84abd077f17ce28685\",\r\n        \"subdomain\": \"test-updated-sub-domainf21d2daa58354f6e9bb7af648020ad3f\",\r\n        \"template\": \"iotc-pnp-preview@1.0.0\",\r\n        \"state\": \"created\"\r\n      },\r\n      \"sku\": {\r\n        \"name\": \"ST2\"\r\n      },\r\n      \"identity\": {\r\n        \"type\": \"None\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "bab3b17e-3f3b-40e0-acc4-ef8c9bbdf32b"
  }
}