{
  "Entries": [
    {
      "RequestUri": "/subscriptions/bab3b17e-3f3b-40e0-acc4-ef8c9bbdf32b/providers/Microsoft.IoTCentral/appTemplates?api-version=2021-06-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-iot-correlation": [
          "5turzi8.0"
        ],
        "X-IoT-Version": [
          "102821.0001-release"
        ],
        "X-IoT-Cluster": [
          "iotcprodwestus02"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"manifestId\": \"iotc-condition\",\r\n      \"manifestVersion\": \"1.0.0\",\r\n      \"name\": \"Store Analytics – Condition Monitoring\",\r\n      \"title\": \"In-store Analytics – Condition Monitoring\",\r\n      \"order\": 99,\r\n      \"description\": \"Digitally connect and monitor your store environment to reduce operating costs and create experiences that customers love.\",\r\n      \"industry\": \"Retail\",\r\n      \"locations\": [\r\n        {\r\n          \"id\": \"australiaeast\",\r\n          \"displayName\": \"Australia East\"\r\n        },\r\n        {\r\n          \"id\": \"centralus\",\r\n          \"displayName\": \"Central US\"\r\n        },\r\n        {\r\n          \"id\": \"eastus\",\r\n          \"displayName\": \"East US\"\r\n        },\r\n        {\r\n          \"id\": \"eastus2\",\r\n          \"displayName\": \"East US 2\"\r\n        },\r\n        {\r\n          \"id\": \"japaneast\",\r\n          \"displayName\": \"Japan East\"\r\n        },\r\n        {\r\n          \"id\": \"northeu[...]
