{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.IoTCentral/operations?api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"22b8-KcaRs29KlT4WtsBu8cudLZHmwLM\""
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11999"
        ],
        "x-iot-correlation": [
          "48wwmnzk.0"
        ],
        "X-IoT-Version": [
          "020221.0002-master"
        ],
        "X-IoT-Cluster": [
          "iotcprodcentralus01"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.IoTCentral/IoTApps/read\",\r\n      \"display\": {\r\n        \"provider\": \"Azure IoT Central\",\r\n        \"resource\": \"IoTApps\",\r\n        \"operation\": \"Get IoT Central Application\",\r\n        \"description\": \"Gets a single IoT Central Application\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.IoTCentral/IoTApps/write\",\r\n      \"display\": {\r\n        \"provider\": \"Azure IoT Central\",\r\n        \"resource\": \"IoTApps\",\r\n        \"operation\": \"Create or Update IoT Central Application\",\r\n        \"description\": \"Creates or Updates an IoT Central Applications\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.IoTCentral/IoTApps/delete\",\r\n      \"displa[...]
