{
  "Entries": [
    {
      "RequestUri": "/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/resourcegroups/appplatform-sdk-test-rg7560?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/resourceGroups/appplatform-sdk-test-rg7560\",\r\n  \"name\": \"appplatform-sdk-test-rg7560\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/resourceGroups/appplatform-sdk-test-rg7560/providers/Microsoft.AppPlatform/Spring/appplatform-sdk-test-asc4351?api-version=2019-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/resourceGroups/appplatform-sdk-test-rg7560/providers/Microsoft.AppPlatform/locations/eastus/operationResults/292e6a22-e1d6-41c0-aed4-9f6c4d126797/Spring/appplatform-sdk-test-asc4351?api-version=2019-05-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "x-rp-server-mvid": [
          "0aa55a30-5cd5-429c-af4f-e30df7629491"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/resourceGroups/appplatform-sdk-test-rg7560/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/appplatform-sdk-test-asc4351/operationId/292e6a22-e1d6-41c0-aed4-9f6c4d126797?api-version=2019-05-01-preview"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"configServerProperties\": {\r\n      \"state\": \"NotAvailable\"\r\n    },\r\n    \"trace\": {\r\n      \"state\": \"NotAvailable\",\r\n      \"enabled\": false,\r\n      \"appInsightInstrumentationKey\": null\r\n    },\r\n    \"version\": 2,\r\n    \"serviceId\": \"b9708f484d3245d1a72e30b294b3b1de\"\r\n  },\r\n  \"type\": \"Microsoft.AppPlatform/Spring\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": null,\r\n  \"id\": \"/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/resourceGroups/appplatform-sdk-test-rg7560/providers/Microsoft.AppPlatform/Spring/appplatform-sdk-test-asc4351\",\r\n  \"name\": \"appplatform-sdk-test-asc4351\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/resourceGroups/appplatform-sdk-test-rg7560/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/appplatform-sdk-test-asc4351/operationId/292e6a22-e1d6-41c0-aed4-9f6c4d126797?api-version=2019-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "x-rp-server-mvid": [
          "0aa55a30-5cd5-429c-af4f-e30df7629491"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/resourceGroups/appplatform-sdk-test-rg7560/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/appplatform-sdk-test-asc4351/operationId/292e6a22-e1d6-41c0-aed4-9f6c4d126797\",\r\n  \"name\": \"292e6a22-e1d6-41c0-aed4-9f6c4d126797\",\r\n  \"status\": \"Running\",\r\n  \"startTime\": \"2019-10-20T15:41:25.3361487Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/resourceGroups/appplatform-sdk-test-rg7560/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/appplatform-sdk-test-asc4351/operationId/292e6a22-e1d6-41c0-aed4-9f6c4d126797?api-version=2019-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11987"
        ],
        "x-rp-server-mvid": [
          "0aa55a30-5cd5-429c-af4f-e30df7629491"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/resourceGroups/appplatform-sdk-test-rg7560/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/appplatform-sdk-test-asc4351/operationId/292e6a22-e1d6-41c0-aed4-9f6c4d126797\",\r\n  \"name\": \"292e6a22-e1d6-41c0-aed4-9f6c4d126797\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2019-10-20T15:41:25.3361487Z\",\r\n  \"endTime\": \"2019-10-20T15:45:21.6114978Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/resourceGroups/appplatform-sdk-test-rg7560/providers/Microsoft.AppPlatform/locations/eastus/operationResults/646b8c38-ad47-4383-a13a-4e7677c4d0ee/Spring/appplatform-sdk-test-asc4351?api-version=2019-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11960"
        ],
        "x-rp-server-mvid": [
          "0aa55a30-5cd5-429c-af4f-e30df7629491"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/resourceGroups/appplatform-sdk-test-rg7560/providers/Microsoft.AppPlatform/Spring?api-version=2019-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11989"
        ],
        "x-rp-server-mvid": [
          "0aa55a30-5cd5-429c-af4f-e30df7629491"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/resourcegroups/appplatform-sdk-test-rg7560?api-version=2017-05-10",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BUFBQTEFURk9STToyRFNESzoyRFRFU1Q6MkRSRzc1NjAtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14998"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BUFBQTEFURk9STToyRFNESzoyRFRFU1Q6MkRSRzc1NjAtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BUFBQTEFURk9STToyRFNESzoyRFRFU1Q6MkRSRzc1NjAtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11946"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BUFBQTEFURk9STToyRFNESzoyRFRFU1Q6MkRSRzc1NjAtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11942"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "CreateName": [
      "appplatform-sdk-test-rg7560",
      "appplatform-sdk-test-asc4351"
    ]
  },
  "Variables": {
    "SubscriptionId": "685ba005-af8d-4b04-8f16-a7bf38b2eb5a"
  }
}