{
  "Entries": [
    {
      "RequestUri": "/subscriptions/799c12ba-353c-44a1-883d-84808ebb2216/resourcegroups/appplatform-sdk-test-rg6096?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/799c12ba-353c-44a1-883d-84808ebb2216/resourceGroups/appplatform-sdk-test-rg6096\",\r\n  \"name\": \"appplatform-sdk-test-rg6096\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/799c12ba-353c-44a1-883d-84808ebb2216/resourceGroups/appplatform-sdk-test-rg6096/providers/Microsoft.AppPlatform/Spring/appplatform-sdk-test-asc3836?api-version=2020-11-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/799c12ba-353c-44a1-883d-84808ebb2216/resourceGroups/appplatform-sdk-test-rg6096/providers/Microsoft.AppPlatform/locations/eastus/operationResults/1b65d5da-626c-4b27-937b-7660977dcd0c/Spring/appplatform-sdk-test-asc3836?api-version=2020-11-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "1199"
        ],
        "x-rp-server-mvid": [
          "d82b857d-a974-4c29-8dc8-18f1eca47316"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/799c12ba-353c-44a1-883d-84808ebb2216/resourceGroups/appplatform-sdk-test-rg6096/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/appplatform-sdk-test-asc3836/operationId/1b65d5da-626c-4b27-937b-7660977dcd0c?api-version=2020-11-01-preview"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"version\": 2,\r\n    \"serviceId\": \"6804bbdab31144cdb45052f26947453f\"\r\n  },\r\n  \"type\": \"Microsoft.AppPlatform/Spring\",\r\n  \"sku\": {\r\n    \"name\": \"S0\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"tags\": null,\r\n  \"id\": \"/subscriptions/799c12ba-353c-44a1-883d-84808ebb2216/resourceGroups/appplatform-sdk-test-rg6096/providers/Microsoft.AppPlatform/Spring/appplatform-sdk-test-asc3836\",\r\n  \"name\": \"appplatform-sdk-test-asc3836\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/799c12ba-353c-44a1-883d-84808ebb2216/resourceGroups/appplatform-sdk-test-rg6096/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/appplatform-sdk-test-asc3836/operationId/1b65d5da-626c-4b27-937b-7660977dcd0c?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11974"
        ],
        "x-rp-server-mvid": [
          "d82b857d-a974-4c29-8dc8-18f1eca47316"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/799c12ba-353c-44a1-883d-84808ebb2216/resourceGroups/appplatform-sdk-test-rg6096/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/appplatform-sdk-test-asc3836/operationId/1b65d5da-626c-4b27-937b-7660977dcd0c\",\r\n  \"name\": \"1b65d5da-626c-4b27-937b-7660977dcd0c\",\r\n  \"status\": \"Running\",\r\n  \"startTime\": \"2020-12-24T02:19:07.2055997Z\"\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/799c12ba-353c-44a1-883d-84808ebb2216/resourceGroups/appplatform-sdk-test-rg6096/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/appplatform-sdk-test-asc3836/operationId/1b65d5da-626c-4b27-937b-7660977dcd0c?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11934"
        ],
        "x-rp-server-mvid": [
          "d82b857d-a974-4c29-8dc8-18f1eca47316"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/799c12ba-353c-44a1-883d-84808ebb2216/resourceGroups/appplatform-sdk-test-rg6096/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/appplatform-sdk-test-asc3836/operationId/1b65d5da-626c-4b27-937b-7660977dcd0c\",\r\n  \"name\": \"1b65d5da-626c-4b27-937b-7660977dcd0c\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-12-24T02:19:07.2055997Z\",\r\n  \"endTime\": \"2020-12-24T02:26:05.0357409Z\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/799c12ba-353c-44a1-883d-84808ebb2216/resourceGroups/appplatform-sdk-test-rg6096/providers/Microsoft.AppPlatform/Spring/appplatform-sdk-test-asc3836?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ],
        "x-rp-server-mvid": [
          "d82b857d-a974-4c29-8dc8-18f1eca47316"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"version\": 2,\r\n    \"serviceId\": \"6804bbdab31144cdb45052f26947453f\",\r\n    \"networkProfile\": {\r\n      \"outboundIPs\": {\r\n        \"publicIPs\": [\r\n          \"40.88.212.41\",\r\n          \"40.88.212.202\"\r\n        ]\r\n      }\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.AppPlatform/Spring\",\r\n  \"sku\": {\r\n    \"name\": \"S0\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"tags\": null,\r\n  \"id\": \"/subscriptions/799c12ba-353c-44a1-883d-84808ebb2216/resourceGroups/appplatform-sdk-test-rg6096/providers/Microsoft.AppPlatform/Spring/appplatform-sdk-test-asc3836\",\r\n  \"name\": \"appplatform-sdk-test-asc3836\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/799c12ba-353c-44a1-883d-84808ebb2216/resourceGroups/appplatform-sdk-test-rg6096/providers/Microsoft.AppPlatform/Spring/appplatform-sdk-test-asc3836/apps/appplatform-sdk-test-app5828?api-version=2020-11-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/799c12ba-353c-44a1-883d-84808ebb2216/resourceGroups/appplatform-sdk-test-rg6096/providers/Microsoft.AppPlatform/locations/eastus/operationResults/d0876856-a13a-4525-8da0-4a94e468a73e/Spring/appplatform-sdk-test-app5828?api-version=2020-11-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "1199"
        ],
        "x-rp-server-mvid": [
          "d82b857d-a974-4c29-8dc8-18f1eca47316"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/799c12ba-353c-44a1-883d-84808ebb2216/resourceGroups/appplatform-sdk-test-rg6096/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/appplatform-sdk-test-app5828/operationId/d0876856-a13a-4525-8da0-4a94e468a73e?api-version=2020-11-01-preview"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"public\": false,\r\n    \"provisioningState\": \"Creating\",\r\n    \"enableEndToEndTLS\": false\r\n  },\r\n  \"type\": \"Microsoft.AppPlatform/Spring/apps\",\r\n  \"identity\": null,\r\n  \"location\": \"eastus\",\r\n  \"id\": \"/subscriptions/799c12ba-353c-44a1-883d-84808ebb2216/resourceGroups/appplatform-sdk-test-rg6096/providers/Microsoft.AppPlatform/Spring/appplatform-sdk-test-asc3836/apps/appplatform-sdk-test-app5828\",\r\n  \"name\": \"appplatform-sdk-test-app5828\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/799c12ba-353c-44a1-883d-84808ebb2216/resourceGroups/appplatform-sdk-test-rg6096/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/appplatform-sdk-test-app5828/operationId/d0876856-a13a-4525-8da0-4a94e468a73e?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11977"
        ],
        "x-rp-server-mvid": [
          "d82b857d-a974-4c29-8dc8-18f1eca47316"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/799c12ba-353c-44a1-883d-84808ebb2216/resourceGroups/appplatform-sdk-test-rg6096/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/appplatform-sdk-test-app5828/operationId/d0876856-a13a-4525-8da0-4a94e468a73e\",\r\n  \"name\": \"d0876856-a13a-4525-8da0-4a94e468a73e\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-12-24T02:26:15.1811387Z\",\r\n  \"endTime\": \"2020-12-24T02:26:21.4683493Z\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/799c12ba-353c-44a1-883d-84808ebb2216/resourceGroups/appplatform-sdk-test-rg6096/providers/Microsoft.AppPlatform/Spring/appplatform-sdk-test-asc3836/apps/appplatform-sdk-test-app5828?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ],
        "x-rp-server-mvid": [
          "d82b857d-a974-4c29-8dc8-18f1eca47316"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"public\": false,\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"fqdn\": \"appplatform-sdk-test-asc3836.azuremicroservices.io\",\r\n    \"httpsOnly\": false,\r\n    \"createdTime\": \"2020-12-24T02:26:21.434Z\",\r\n    \"temporaryDisk\": {\r\n      \"sizeInGB\": 5,\r\n      \"mountPath\": \"/tmp\"\r\n    },\r\n    \"persistentDisk\": {\r\n      \"sizeInGB\": 0,\r\n      \"mountPath\": \"/persistent\"\r\n    },\r\n    \"enableEndToEndTLS\": false\r\n  },\r\n  \"type\": \"Microsoft.AppPlatform/Spring/apps\",\r\n  \"identity\": null,\r\n  \"location\": \"eastus\",\r\n  \"id\": \"/subscriptions/799c12ba-353c-44a1-883d-84808ebb2216/resourceGroups/appplatform-sdk-test-rg6096/providers/Microsoft.AppPlatform/Spring/appplatform-sdk-test-asc3836/apps/appplatform-sdk-test-app5828\",\r\n  \"name\": \"appplatform-sdk-test-app5828\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/799c12ba-353c-44a1-883d-84808ebb2216/resourceGroups/appplatform-sdk-test-rg6096/providers/Microsoft.AppPlatform/Spring/appplatform-sdk-test-asc3836/apps/appplatform-sdk-test-app5828?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11998"
        ],
        "x-rp-server-mvid": [
          "d82b857d-a974-4c29-8dc8-18f1eca47316"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"public\": false,\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"activeDeploymentName\": \"default9453\",\r\n    \"fqdn\": \"appplatform-sdk-test-asc3836.azuremicroservices.io\",\r\n    \"httpsOnly\": false,\r\n    \"createdTime\": \"2020-12-24T02:26:21.434Z\",\r\n    \"temporaryDisk\": {\r\n      \"sizeInGB\": 5,\r\n      \"mountPath\": \"/tmp\"\r\n    },\r\n    \"persistentDisk\": {\r\n      \"sizeInGB\": 0,\r\n      \"mountPath\": \"/persistent\"\r\n    },\r\n    \"enableEndToEndTLS\": false\r\n  },\r\n  \"type\": \"Microsoft.AppPlatform/Spring/apps\",\r\n  \"identity\": null,\r\n  \"location\": \"eastus\",\r\n  \"id\": \"/subscriptions/799c12ba-353c-44a1-883d-84808ebb2216/resourceGroups/appplatform-sdk-test-rg6096/providers/Microsoft.AppPlatform/Spring/appplatform-sdk-test-asc3836/apps/appplatform-sdk-test-app5828\",\r\n  \"name\": \"appplatform-sdk-test-app5828\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/799c12ba-353c-44a1-883d-84808ebb2216/resourceGroups/appplatform-sdk-test-rg6096/providers/Microsoft.AppPlatform/Spring/appplatform-sdk-test-asc3836/apps/appplatform-sdk-test-app5828/deployments/default9453?api-version=2020-11-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"source\": {\r\n      \"type\": \"Jar\",\r\n      \"relativePath\": \"<default>\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/799c12ba-353c-44a1-883d-84808ebb2216/resourceGroups/appplatform-sdk-test-rg6096/providers/Microsoft.AppPlatform/locations/eastus/operationResults/18e4bf4c-2ed4-49eb-b2de-6a761b77f683/Spring/default9453?api-version=2020-11-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "1199"
        ],
        "x-rp-server-mvid": [
          "d82b857d-a974-4c29-8dc8-18f1eca47316"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/799c12ba-353c-44a1-883d-84808ebb2216/resourceGroups/appplatform-sdk-test-rg6096/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/default9453/operationId/18e4bf4c-2ed4-49eb-b2de-6a761b77f683?api-version=2020-11-01-preview"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"source\": {\r\n      \"type\": \"Jar\",\r\n      \"relativePath\": \"<default>\"\r\n    },\r\n    \"appName\": \"appplatform-sdk-test-app5828\",\r\n    \"deploymentSettings\": {\r\n      \"cpu\": 1,\r\n      \"memoryInGB\": 1,\r\n      \"environmentVariables\": null,\r\n      \"runtimeVersion\": \"Java_8\"\r\n    },\r\n    \"provisioningState\": \"Creating\",\r\n    \"status\": \"Running\",\r\n    \"active\": false,\r\n    \"instances\": null\r\n  },\r\n  \"type\": \"Microsoft.AppPlatform/Spring/apps/deployments\",\r\n  \"sku\": {\r\n    \"name\": \"S0\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 1\r\n  },\r\n  \"id\": \"/subscriptions/799c12ba-353c-44a1-883d-84808ebb2216/resourceGroups/appplatform-sdk-test-rg6096/providers/Microsoft.AppPlatform/Spring/appplatform-sdk-test-asc3836/apps/appplatform-sdk-test-app5828/deployments/default9453\",\r\n  \"name\": \"default9453\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/799c12ba-353c-44a1-883d-84808ebb2216/resourceGroups/appplatform-sdk-test-rg6096/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/default9453/operationId/18e4bf4c-2ed4-49eb-b2de-6a761b77f683?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11974"
        ],
        "x-rp-server-mvid": [
          "d82b857d-a974-4c29-8dc8-18f1eca47316"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/799c12ba-353c-44a1-883d-84808ebb2216/resourceGroups/appplatform-sdk-test-rg6096/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/default9453/operationId/18e4bf4c-2ed4-49eb-b2de-6a761b77f683\",\r\n  \"name\": \"18e4bf4c-2ed4-49eb-b2de-6a761b77f683\",\r\n  \"status\": \"Running\",\r\n  \"startTime\": \"2020-12-24T02:26:51.0480291Z\"\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/799c12ba-353c-44a1-883d-84808ebb2216/resourceGroups/appplatform-sdk-test-rg6096/providers/Microsoft.AppPlatform/Spring/appplatform-sdk-test-asc3836/apps/appplatform-sdk-test-app5828/deployments/default9453?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ],
        "x-rp-server-mvid": [
          "d82b857d-a974-4c29-8dc8-18f1eca47316"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"source\": {\r\n      \"type\": \"Jar\",\r\n      \"relativePath\": \"<default>\"\r\n    },\r\n    \"appName\": \"appplatform-sdk-test-app5828\",\r\n    \"deploymentSettings\": {\r\n      \"cpu\": 1,\r\n      \"memoryInGB\": 1,\r\n      \"environmentVariables\": null,\r\n      \"runtimeVersion\": \"Java_8\"\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"status\": \"Running\",\r\n    \"active\": false,\r\n    \"instances\": [\r\n      {\r\n        \"name\": \"appplatform-sdk-test-app5828-default9453-28-5ddb9895cb-xp26d\",\r\n        \"status\": \"Running\",\r\n        \"discoveryStatus\": \"OUT_OF_SERVICE\",\r\n        \"startTime\": \"2020-12-24T02:26:48Z\"\r\n      }\r\n    ]\r\n  },\r\n  \"type\": \"Microsoft.AppPlatform/Spring/apps/deployments\",\r\n  \"sku\": {\r\n    \"name\": \"S0\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 1\r\n  },\r\n  \"id\": \"/subscriptions/799c12ba-353c-44a1-883d-84808ebb2216/resourceGroups/appplatform-sdk-test-rg6096/providers/Microsoft.AppPlatform/Spring/appplatform-sdk-test-asc3836/apps/appplatform-sdk-test-app5828/deployments/default9453\",\r\n  \"name\": \"default9453\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/799c12ba-353c-44a1-883d-84808ebb2216/resourceGroups/appplatform-sdk-test-rg6096/providers/Microsoft.AppPlatform/locations/eastus/operationResults/2500fb60-8eb3-4875-86d7-afc76f606dc3/Spring/appplatform-sdk-test-asc3836?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11917"
        ],
        "x-rp-server-mvid": [
          "d82b857d-a974-4c29-8dc8-18f1eca47316"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
    {
      "RequestUri": "/subscriptions/799c12ba-353c-44a1-883d-84808ebb2216/resourceGroups/appplatform-sdk-test-rg6096/providers/Microsoft.AppPlatform/Spring?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ],
        "x-rp-server-mvid": [
          "d82b857d-a974-4c29-8dc8-18f1eca47316"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/799c12ba-353c-44a1-883d-84808ebb2216/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BUFBQTEFURk9STToyRFNESzoyRFRFU1Q6MkRSRzYwOTYtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/799c12ba-353c-44a1-883d-84808ebb2216/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BUFBQTEFURk9STToyRFNESzoyRFRFU1Q6MkRSRzYwOTYtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/799c12ba-353c-44a1-883d-84808ebb2216/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BUFBQTEFURk9STToyRFNESzoyRFRFU1Q6MkRSRzYwOTYtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "CreateName": [
      "appplatform-sdk-test-rg6096",
      "appplatform-sdk-test-asc3836",
      "appplatform-sdk-test-app5828",
      "default9453"
    ]
  },
  "Variables": {
    "SubscriptionId": "799c12ba-353c-44a1-883d-84808ebb2216"
  }
}