{
  "Entries": [
    {
      "RequestUri": "/subscriptions/6f53185c-ea09-4fc3-9075-318dec805303/providers/Microsoft.ProviderHub/providerRegistrations/Microsoft.Contoso/generateManifest?api-version=2020-11-20",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"providerAuthorizations\": [\r\n    {\r\n      \"applicationId\": \"3d834152-5efa-46f7-85a4-a18c2b5d46f9\",\r\n      \"roleDefinitionId\": \"760505bf-dcfa-4311-b890-18da392a00b2\"\r\n    }\r\n  ],\r\n  \"namespace\": \"Microsoft.Contoso\",\r\n  \"providerVersion\": \"2.0\",\r\n  \"providerType\": \"Internal, Hidden\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"name\": \"extensionresourcetype\",\r\n      \"routingType\": \"ProxyOnly, Extension\",\r\n      \"resourceValidation\": \"ReservedWords, ProfaneWords\",\r\n      \"endpoints\": [\r\n        {\r\n          \"apiVersions\": [\r\n            \"2020-01-01-preview\"\r\n          ],\r\n          \"endpointUri\": \"https://global.metarp.azure.com/\",\r\n          \"locations\": [\r\n            \"\"\r\n          ],\r\n          \"requiredFeatures\": [\r\n            \"Microsoft.Contoso/RPaaSSampleApp\"\r\n          ],\r\n          \"timeout\": \"PT20S\"\r\n        }\r\n      ],\r\n      \"linkedOperationRules\": []\r\n    },\r\n    {\r\n      \"name\": \"Operations\",\r\n      \"routingType\": \"ProxyOnly, Tenant\",\r\n      \"resourceValidation\": \"ReservedWords, ProfaneWords\",\r\n      \"allowedUnauthorizedActions\": [\r\n        \"microsoft.contoso/operations/read\"\r\n      ],\r\n      \"endpoints\": [\r\n        {\r\n          \"apiVersions\": [\r\n            \"2020-01-01-preview\"\r\n          ],\r\n          \"endpointUri\": \"https://global.metarp.azure.com/\",\r\n          \"locations\": [\r\n            \"\"\r\n          ],\r\n          \"timeout\": \"PT20S\"\r\n        }\r\n      ],\r\n      \"linkedOperationRules\": []\r\n    },\r\n    {\r\n      \"name\": \"clusters\",\r\n      \"routingType\": \"Default\",\r\n      \"resourceValidation\": \"ReservedWords, ProfaneWords\",\r\n      \"linkedAccessChecks\": [\r\n        {\r\n          \"actionName\": \"Microsoft.Contoso/clusters/write\",\r\n          \"linkedProperty\": \"extendedLocation.name\",\r\n          \"linkedAction\": \"Microsoft.ExtendedLocation/customLocations/deploy/action\"\r\n        }\r\n      ],\r\n      \"endpoints\": [\r\n        {\r\n          \"apiVersions\": [\r\n            \"2020-01-01-preview\"\r\n          ],\r\n          \"endpointUri\": \"https://eastus2euap.metarp.azure.com/rolelocation/eastus2euap/\",\r\n          \"locations\": [\r\n            \"East US 2 EUAP\"\r\n          ],\r\n          \"requiredFeatures\": [\r\n            \"Microsoft.Contoso/RPaaSBridge\"\r\n          ],\r\n          \"timeout\": \"PT20S\"\r\n        },\r\n        {\r\n          \"apiVersions\": [\r\n            \"2020-01-01-preview\"\r\n          ],\r\n          \"endpointUri\": \"https://eastus.metarp.azure.com/rolelocation/eastus/\",\r\n          \"locations\": [\r\n            \"East US\"\r\n          ],\r\n          \"requiredFeatures\": [\r\n            \"Microsoft.Contoso/RPaaSBridge\"\r\n          ],\r\n          \"timeout\": \"PT20S\"\r\n        },\r\n        {\r\n          \"apiVersions\": [\r\n            \"2020-01-01-preview\"\r\n          ],\r\n          \"endpointUri\": \"https://westeurope.metarp.azure.com/rolelocation/westeurope/\",\r\n          \"locations\": [\r\n            \"West Europe\"\r\n          ],\r\n          \"requiredFeatures\": [\r\n            \"Microsoft.Contoso/RPaaSBridge\"\r\n          ],\r\n          \"timeout\": \"PT20S\"\r\n        }\r\n      ],\r\n      \"templateDeploymentPolicy\": {\r\n        \"capabilities\": \"Preflight\",\r\n        \"preflightOptions\": \"ValidationRequests, DeploymentRequests\"\r\n      },\r\n      \"linkedOperationRules\": []\r\n    },\r\n    {\r\n      \"name\": \"Locations\",\r\n      \"routingType\": \"ProxyOnly\",\r\n      \"resourceValidation\": \"ReservedWords, ProfaneWords\",\r\n      \"endpoints\": [\r\n        {\r\n          \"apiVersions\": [\r\n            \"2020-01-01-preview\"\r\n          ],\r\n          \"endpointUri\": \"https://global.metarp.azure.com/\",\r\n          \"locations\": [\r\n            \"\"\r\n[...]
    {
      "RequestUri": "/subscriptions/6f53185c-ea09-4fc3-9075-318dec805303/providers/Microsoft.ProviderHub/providerRegistrations/Microsoft.Contoso/checkinManifest?api-version=2020-11-20",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"environment\": \"Canary\",\r\n  \"baselineArmManifestLocation\": \"EastUS2EUAP\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"isCheckedIn\": true,\r\n  \"statusMessage\": \"Manifest is successfully merged. Use the Default/Custom rollout (http://aka.ms/rpaasrollout) to roll out the manifest in ARM.\",\r\n  \"commitId\": \"a36c57be8a330f84b42c4a3713539c3a3b8e2fd2\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "6f53185c-ea09-4fc3-9075-318dec805303"
  }
}