{
  "Entries": [
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/testsparkpool/batches",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-response-time-ms": "85"
      },
      "ResponseBody": {
        "from": 0,
        "total": 20,
        "sessions": [
          {
            "id": 0,
            "appId": "application_1576224831757_0002",
            "appInfo": {
              "driverLogUrl": "http://53e52930712f4bd2a64da26879c4751c0076c436679:8042/node/containerlogs/container_1576224831757_0002_01_000001/trusted-service-user",
              "sparkUiUrl": "http://53e52930712f4bd2a64da26879c4751c01223913297:8088/proxy/application_1576224831757_0002/"
            },
            "state": "success",
            "log": [
              "\t tracking URL: http://53e52930712f4bd2a64da26879c4751c01223913297:8088/proxy/application_1576224831757_0002/",
              "\t user: trusted-service-user",
              "19/12/13 08:14:22 INFO ShutdownHookManager: Shutdown hook called",
              "19/12/13 08:14:22 INFO ShutdownHookManager: Deleting directory /tmp/spark-badf96dc-0837-41ba-9944-05f55277f611",
              "19/12/13 08:14:22 INFO ShutdownHookManager: Deleting directory /tmp/spark-04ab468f-e186-458c-91cd[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/testsparkpool/batches/0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-job-cluster": "http://171.1.154.21:8998/",
        "x-ms-job-clusterrequested-on": "12/13/2019 8:11:39 AM \u002B00:00",
        "x-ms-job-ended-on": "12/13/2019 8:15:16 AM \u002B00:00",
        "x-ms-job-internal-id": "0",
        "x-ms-job-livysubmission-on": "12/13/2019 8:13:59 AM \u002B00:00",
        "x-ms-job-queued-on": "12/13/2019 8:13:58 AM \u002B00:00",
        "x-ms-job-result": "Succeeded",
        "x-ms-job-scheduled-on": "12/13/2019 8:11:39 AM \u002B00:00",
        "x-ms-job-scheduler-state": "Ended",
        "x-ms-job-submitted-by-name": "ca728363-7297-4e35-a9c3-c6400837883e",
        "x-ms-job-submitted-on": "12/13/2019 8:11:38 AM \u002B00:00",
        "x-ms-job-type": "SparkServiceBatch",
        "x-ms-response-time-ms": "30"
      },
      "ResponseBody": {
        "id": 0,
        "appId": "application_1576224831757_0002",
        "appInfo": {
          "driverLogUrl": "http://53e52930712f4bd2a64da26879c4751c0076c436679:8042/node/containerlogs/container_1576224831757_0002_01_000001/trusted-service-user",
          "sparkUiUrl": "http://53e52930712f4bd2a64da26879c4751c01223913297:8088/proxy/application_1576224831757_0002/"
        },
        "state": "success",
        "log": [
          "\t tracking URL: http://53e52930712f4bd2a64da26879c4751c01223913297:8088/proxy/application_1576224831757_0002/",
          "\t user: trusted-service-user",
          "19/12/13 08:14:22 INFO ShutdownHookManager: Shutdown hook called",
          "19/12/13 08:14:22 INFO ShutdownHookManager: Deleting directory /tmp/spark-badf96dc-0837-41ba-9944-05f55277f611",
          "19/12/13 08:14:22 INFO ShutdownHookManager: Deleting directory /tmp/spark-04ab468f-e186-458c-91cd-ef6c97f5dff5",
          "19/12/13 08:14:22 INFO MetricsSystemImpl: Stopping azure-file-system metrics system...",
          "19/12/13 08:14:22 INFO MetricsSystemImpl: azure-file-system metrics system stopped.",
          "19/12/13 08:14:22 INFO MetricsSystemImpl: azure-file-system metrics system shutdown complete.",
          "\nstderr: ",
          "\nYARN Diagnostics: "
        ]
      }
    },
[...]
