{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tagValue1",
          "tagKey2": "tagValue2"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/teststorageRG-7177?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-7177",
        "name": "teststorageRG-7177",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-7177/providers/Microsoft.Storage/storageAccounts/storage1113?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_GRS",
          "tier": "Standard"
        },
        "kind": "Storage",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-7177/providers/Microsoft.Storage/storageAccounts/storage1113",
        "name": "storage1113",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "eastus2",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {
          "keyCreationTime": {
            "key1": "2021-08-13T08:54:48.2548672Z",
            "key2": "2021-08-13T08:54:48.2548672Z"
          },
          "privateEndpointConnections": [],
          "networkAcls": {
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2021-08-13T08:54:48.2548672Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2021-08-13T08:54:48.2548672Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "provisioningState": "Succeeded",
          "creationTime": "2021-08-13T08:54:48.1611417Z",
          "primaryEndpoints": {
            "blob": "https://storage1113.blob.core.windows.net/",
            "queue": "https://storage1113.queue.core.windows.net/",
            "table": "https://storage1113.table.core.windows.net/",
            "file": "https://storage1113.file.core.windows.net/"
          },
          "primaryLocation": "eastus2",
          "statusOfPrimary": "available",
          "secondaryLocation": "centralus",
          "statusOfSecondary": "available"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-7177/providers/Microsoft.Storage/storageAccounts/storage1113/blobServices/default?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_GRS",
          "tier": "Standard"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-7177/providers/Microsoft.Storage/storageAccounts/storage1113/blobServices/default",
        "name": "default",
        "type": "Microsoft.Storage/storageAccounts/blobServices",
        "properties": {
          "cors": {
            "corsRules": []
          },
          "deleteRetentionPolicy": {
            "enabled": false
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-7177/providers/Microsoft.Storage/storageAccounts/storage1113/blobServices/default/containers/testblob1964?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\u00220x8D95E3835FCE1BC\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-7177/providers/Microsoft.Storage/storageAccounts/storage1113/blobServices/default/containers/testblob1964",
        "name": "testblob1964",
        "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
        "etag": "\u00220x8D95E3835FCE1BC\u0022",
        "properties": {
          "deleted": false,
          "remainingRetentionDays": 0,
          "defaultEncryptionScope": "$account-encryption-key",
          "denyEncryptionScopeOverride": false,
          "metadata": {
            "key1": "value1"
          },
          "publicAccess": "Container",
          "leaseStatus": "Unlocked",
          "leaseState": "Available",
          "lastModifiedTime": "2021-08-13T08:56:16.0000000Z",
          "immutabilityPolicy": {
            "etag": "\u00228d95e3835fb09d9\u0022",
            "properties": {
              "immutabilityPeriodSinceCreationInDays": 3,
              "state": "Unlocked"
            },
            "updateHistory": [
              {
                "update": "put",
                "immutabilityPeriodSinceCreationInDays": 3,
                "timestamp": "2021-08-13T08:56:16.6459865Z",
                "objectIdentifier": "27d08915-f58f-4b79-89d2-a1c30d86c48a",
                "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
              }
            ]
          },
          "legalHold": {
            "hasLegalHold": true,
            "tags": [
              {
                "tag": "tag1",
                "timestamp": "2021-08-13T08:56:15.9272425Z",
                "objectIdentifier": "27d08915-f58f-4b79-89d2-a1c30d86c48a",
                "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
              },
              {
                "tag": "tag2",
                "timestamp": "2021-08-13T08:56:15.9272425Z",
                "objectIdentifier": "27d08915-f58f-4b79-89d2-a1c30d86c48a",
                "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
              },
              {
                "tag": "tag3",
                "timestamp": "2021-08-13T08:56:15.9272425Z",
                "objectIdentifier": "27d08915-f58f-4b79-89d2-a1c30d86c48a",
                "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
              }
            ]
          },
          "hasImmutabilityPolicy": true,
          "hasLegalHold": true
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-7177/providers/Microsoft.Storage/storageAccounts/storage1113/blobServices/default/containers/testblob1964/clearLegalHold?api-version=2021-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": [
          "tag1",
          "tag2",
          "tag3"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "hasLegalHold": false,
        "tags": []
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-7177/providers/Microsoft.Storage/storageAccounts/storage1113?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-deletes": "14998"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1732151911",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}