{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-2679?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2679",
        "name": "testRG-2679",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-2679/providers/Microsoft.StreamAnalytics/streamingjobs/testJobOutput-1687?api-version=2021-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus",
        "properties": {
          "sku": {
            "name": "Standard"
          },
          "eventsOutOfOrderPolicy": "Drop",
          "outputErrorPolicy": "Drop",
          "eventsOutOfOrderMaxDelayInSeconds": 0,
          "eventsLateArrivalMaxDelayInSeconds": 5,
          "dataLocale": "en-US",
          "compatibilityLevel": "1.0"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "b47cc56b-1f76-4716-bcf1-6f61a1c25092",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2679/providers/Microsoft.StreamAnalytics/streamingjobs/testJobOutput-1687",
        "name": "testJobOutput-1687",
        "type": "Microsoft.StreamAnalytics/streamingjobs",
        "location": "West US",
        "tags": {},
        "properties": {
          "sku": {
            "name": "Standard"
          },
          "jobId": "9fa878a7-f9ac-4780-a8b9-fd4907f8a5b2",
          "provisioningState": "Succeeded",
          "jobState": "Created",
          "eventsOutOfOrderPolicy": "Drop",
          "outputErrorPolicy": "Drop",
          "eventsOutOfOrderMaxDelayInSeconds": 0,
          "eventsLateArrivalMaxDelayInSeconds": 5,
          "dataLocale": "en-US",
          "createdDate": "2022-08-29T07:54:35.323Z",
          "compatibilityLevel": "1.0",
          "jobStorageAccount": null,
          "contentStoragePolicy": "SystemAccount",
          "inputs": [],
          "functions": [],
          "outputs": [],
          "jobType": "Cloud",
          "cluster": null
        },
        "sku": {
          "name": "Standard"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-2679/providers/Microsoft.StreamAnalytics/streamingjobs/testJobOutput-1687/outputs/testJobOutput-1687?api-version=2021-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "datasource": {
            "type": "Microsoft.Storage/Blob",
            "properties": {
              "storageAccounts": [
                {
                  "accountName": "myhditest0811hdistorage",
                  "accountKey": "$testAccountName$"
                }
              ],
              "container": "differentContainer",
              "pathPattern": "{date}/{time}",
              "dateFormat": "yyyy/MM/dd",
              "timeFormat": "HH"
            }
          },
          "serialization": {
            "type": "Csv",
            "properties": {
              "fieldDelimiter": ",",
              "encoding": "UTF8"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "ebe3f62a-6334-450e-8bc9-4a0583d52fae",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2679/providers/Microsoft.StreamAnalytics/streamingjobs/testJobOutput-1687/outputs/testJobOutput-1687",
        "name": "testJobOutput-1687",
        "type": "Microsoft.StreamAnalytics/streamingjobs/outputs",
        "properties": {
          "datasource": {
            "type": "Microsoft.Storage/Blob",
            "properties": {
              "blobPathPrefix": "{date}/{time}",
              "storageAccounts": [
                {
                  "accountName": "myhditest0811hdistorage"
                }
              ],
              "container": "differentContainer",
              "pathPattern": "{date}/{time}",
              "dateFormat": "yyyy/MM/dd",
              "timeFormat": "HH",
              "authenticationMode": "ConnectionString"
            }
          },
          "serialization": {
            "type": "Csv",
            "properties": {
              "fieldDelimiter": ",",
              "encoding": "UTF8"
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-2679/providers/Microsoft.StreamAnalytics/streamingjobs/testJobOutput-1687/outputs/testJobOutput-1687?api-version=2021-10-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "284996813",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
