{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/77969078-2897-47b0-9143-917252379303/resourcegroups/sdk-test-rg-1816?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1177"
      },
      "ResponseBody": {
        "id": "/subscriptions/77969078-2897-47b0-9143-917252379303/resourceGroups/sdk-test-rg-1816",
        "name": "sdk-test-rg-1816",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/77969078-2897-47b0-9143-917252379303/resourceGroups/sdk-test-rg-1816/providers/Microsoft.IoTCentral/iotApps/test-app-756?api-version=2021-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "ST0"
        },
        "tags": {},
        "location": "westus",
        "properties": {
          "displayName": "test-app-756",
          "subdomain": "test-app-756"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncoperation": "https://management.azure.com/subscriptions/77969078-2897-47b0-9143-917252379303/providers/Microsoft.IoTCentral/locations/westus/operationResults/ab1ea573-a43c-4b3b-a23e-2174b999df1e?api-version=2021-11-01-preview\u0026type=createOrUpdateIotApplication\u0026x-iot-region=westus\u0026asyncinfo",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "X-IoT-Cluster": "iotcprodcentralus01",
        "x-iot-correlation": "13xc7mvm.1.0",
        "X-IoT-Version": "041722.0001-release",
        "x-ms-ratelimit-remaining-subscription-writes": "1176"
      },
      "ResponseBody": {
        "id": "/subscriptions/77969078-2897-47b0-9143-917252379303/resourceGroups/sdk-test-rg-1816/providers/Microsoft.IoTCentral/iotApps/test-app-756",
        "name": "test-app-756",
        "type": "Microsoft.IoTCentral/IoTApps",
        "location": "westus",
        "tags": {},
        "properties": {
          "state": "created",
          "provisioningState": "Creating",
          "applicationId": "f6f1fc7d-1c3d-4fbb-8f02-550014c14423",
          "displayName": "test-app-756",
          "subdomain": "test-app-756",
          "template": "iotc-pnp-preview@1.0.0",
          "publicNetworkAccess": "Enabled",
          "networkRuleSets": {
            "defaultAction": "Allow",
            "applyToDevices": false,
            "applyToIoTCentral": false,
            "ipRules": []
          },
          "privateEndpointConnections": []
        },
        "sku": {
          "name": "ST0"
        },
        "identity": {
          "type": "None"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/77969078-2897-47b0-9143-917252379303/providers/Microsoft.IoTCentral/locations/westus/operationResults/ab1ea573-a43c-4b3b-a23e-2174b999df1e?api-version=2021-11-01-preview\u0026type=createOrUpdateIotApplication\u0026x-iot-region=westus\u0026asyncinfo",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-IoT-Cluster": "iotcprodwestus04",
        "x-iot-correlation": "9ga7zcqj.0",
        "X-IoT-Version": "041722.0001-release",
        "x-ms-ratelimit-remaining-subscription-reads": "11932"
      },
      "ResponseBody": {
        "status": "Creating"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/77969078-2897-47b0-9143-917252379303/resourceGroups/sdk-test-rg-1816/providers/Microsoft.IoTCentral/iotApps/test-app-756?api-version=2021-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00222000008d-0000-0100-0000-6270465a0000\u0022",
        "X-IoT-Cluster": "iotcprodcentralus01",
        "x-iot-correlation": "5dkw8zmd.0",
        "X-IoT-Version": "041722.0001-release",
        "x-ms-ratelimit-remaining-subscription-reads": "11930"
      },
      "ResponseBody": {
        "id": "/subscriptions/77969078-2897-47b0-9143-917252379303/resourceGroups/sdk-test-rg-1816/providers/Microsoft.IoTCentral/iotApps/test-app-756",
        "name": "test-app-756",
        "type": "Microsoft.IoTCentral/IoTApps",
        "location": "westus",
        "tags": {},
        "properties": {
          "state": "created",
          "provisioningState": "Succeeded",
          "applicationId": "f6f1fc7d-1c3d-4fbb-8f02-550014c14423",
          "displayName": "test-app-756",
          "subdomain": "test-app-756",
          "template": "iotc-pnp-preview@1.0.0",
          "publicNetworkAccess": "Enabled",
          "networkRuleSets": {
            "defaultAction": "Allow",
            "applyToDevices": false,
            "applyToIoTCentral": false,
            "ipRules": []
          },
          "privateEndpointConnections": []
        },
        "sku": {
          "name": "ST0"
        },
        "identity": {
          "type": "None"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/77969078-2897-47b0-9143-917252379303/resourceGroups/sdk-test-rg-1816/providers/Microsoft.IoTCentral/iotApps/test-app-756?api-version=2021-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "azure-asyncoperation": "https://management.azure.com/subscriptions/77969078-2897-47b0-9143-917252379303/providers/Microsoft.IoTCentral/locations/westus/operationResults/bda71234-64d2-4e1d-9c48-efbbbd362c52?api-version=2021-11-01-preview\u0026type=deleteIotApplication\u0026x-iot-region=westus\u0026asyncinfo",
        "Location": "https://management.azure.com/subscriptions/77969078-2897-47b0-9143-917252379303/providers/Microsoft.IoTCentral/locations/westus/operationResults/bda71234-64d2-4e1d-9c48-efbbbd362c52?api-version=2021-11-01-preview\u0026type=deleteIotApplication\u0026x-iot-region=westus",
        "Retry-After": "10",
        "X-IoT-Cluster": "iotcprodcentralus01",
        "x-iot-correlation": "6t0gfwbj.1.0",
        "X-IoT-Version": "041722.0001-release",
        "x-ms-ratelimit-remaining-subscription-deletes": "14997"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/77969078-2897-47b0-9143-917252379303/providers/Microsoft.IoTCentral/locations/westus/operationResults/bda71234-64d2-4e1d-9c48-efbbbd362c52?api-version=2021-11-01-preview\u0026type=deleteIotApplication\u0026x-iot-region=westus\u0026asyncinfo",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-IoT-Cluster": "iotcprodwestus04",
        "x-iot-correlation": "2xw2llm3.0",
        "X-IoT-Version": "041722.0001-release",
        "x-ms-ratelimit-remaining-subscription-reads": "11929"
      },
      "ResponseBody": {
        "status": "Deleting"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/77969078-2897-47b0-9143-917252379303/providers/Microsoft.IoTCentral/locations/westus/operationResults/bda71234-64d2-4e1d-9c48-efbbbd362c52?api-version=2021-11-01-preview\u0026type=deleteIotApplication\u0026x-iot-region=westus\u0026asyncinfo",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-IoT-Cluster": "iotcprodwestus04",
        "x-iot-correlation": "9tur0oz8.0",
        "X-IoT-Version": "041722.0001-release",
        "x-ms-ratelimit-remaining-subscription-reads": "11928"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1359307905",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "77969078-2897-47b0-9143-917252379303"
  }
}
