{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/sdk-test-rg-2203?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1183"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdk-test-rg-2203",
        "name": "sdk-test-rg-2203",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdk-test-rg-2203/providers/Microsoft.IoTCentral/iotApps/test-9860?api-version=2021-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "ST0"
        },
        "tags": {},
        "location": "westus",
        "properties": {
          "displayName": "test-9860",
          "subdomain": "test-9860"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncoperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.IoTCentral/locations/westus/operationResults/6ab164b1-2319-4df6-8f03-f0d4e8f7c155?api-version=2021-11-01-preview\u0026type=createOrUpdateIotApplication\u0026x-iot-region=westus\u0026asyncinfo",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "X-IoT-Cluster": "iotcprodeastus01",
        "x-iot-correlation": "7t0gctpq.1.0",
        "X-IoT-Version": "050222.0001-release",
        "x-ms-ratelimit-remaining-subscription-writes": "1182"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdk-test-rg-2203/providers/Microsoft.IoTCentral/iotApps/test-9860",
        "name": "test-9860",
        "type": "Microsoft.IoTCentral/IoTApps",
        "location": "westus",
        "tags": {},
        "properties": {
          "state": "created",
          "provisioningState": "Creating",
          "applicationId": "3a3639e2-1c26-4246-80f4-dd43b6e2c584",
          "displayName": "test-9860",
          "subdomain": "test-9860",
          "template": "iotc-pnp-preview@1.0.0",
          "publicNetworkAccess": "Enabled",
          "networkRuleSets": {
            "defaultAction": "Allow",
            "applyToDevices": false,
            "applyToIoTCentral": false,
            "ipRules": []
          },
          "privateEndpointConnections": []
        },
        "sku": {
          "name": "ST0"
        },
        "identity": {
          "type": "None"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.IoTCentral/locations/westus/operationResults/6ab164b1-2319-4df6-8f03-f0d4e8f7c155?api-version=2021-11-01-preview\u0026type=createOrUpdateIotApplication\u0026x-iot-region=westus\u0026asyncinfo",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-IoT-Cluster": "iotcprodwestus04",
        "x-iot-correlation": "8ny98jdc.0",
        "X-IoT-Version": "050222.0001-release",
        "x-ms-ratelimit-remaining-subscription-reads": "11900"
      },
      "ResponseBody": {
        "status": "Creating"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdk-test-rg-2203/providers/Microsoft.IoTCentral/iotApps/test-9860?api-version=2021-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00229a010701-0000-0100-0000-6273e3360000\u0022",
        "X-IoT-Cluster": "iotcprodeastus01",
        "x-iot-correlation": "5ncat8o8.0",
        "X-IoT-Version": "050222.0001-release",
        "x-ms-ratelimit-remaining-subscription-reads": "11896"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdk-test-rg-2203/providers/Microsoft.IoTCentral/iotApps/test-9860",
        "name": "test-9860",
        "type": "Microsoft.IoTCentral/IoTApps",
        "location": "westus",
        "tags": {},
        "properties": {
          "state": "created",
          "provisioningState": "Succeeded",
          "applicationId": "3a3639e2-1c26-4246-80f4-dd43b6e2c584",
          "displayName": "test-9860",
          "subdomain": "test-9860",
          "template": "iotc-pnp-preview@1.0.0",
          "publicNetworkAccess": "Enabled",
          "networkRuleSets": {
            "defaultAction": "Allow",
            "applyToDevices": false,
            "applyToIoTCentral": false,
            "ipRules": []
          },
          "privateEndpointConnections": []
        },
        "sku": {
          "name": "ST0"
        },
        "identity": {
          "type": "None"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.IoTCentral/iotApps?api-version=2021-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-IoT-Cluster": "iotcprodeastus04",
        "x-iot-correlation": "83ij7bvh.0",
        "X-IoT-Version": "050222.0001-release",
        "x-ms-ratelimit-remaining-subscription-reads": "11884"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/myResourceGroup/providers/Microsoft.IoTCentral/iotApps/iot-central-app-tocreate1",
            "name": "iot-central-app-tocreate1",
            "type": "Microsoft.IoTCentral/IoTApps",
            "location": "eastus",
            "tags": {},
            "properties": {
              "state": "created",
              "provisioningState": "Succeeded",
              "applicationId": "dcdd8f9f-0b45-4bca-ab14-10e505a3c838",
              "displayName": "iot-central-app-tocreate1-new-name",
              "subdomain": "iot-central-app-tocreate1",
              "template": "iotc-pnp-preview@1.0.0",
              "publicNetworkAccess": "Disabled",
              "networkRuleSets": {
                "defaultAction": "Deny",
                "applyToDevices": true,
                "applyToIoTCentral": false,
                "ipRules": []
              },
              "privateEndpointConnections": []
            },
            "sku": {
              "name": "ST2"
            },
            "identity": {
              "type": "SystemAssigned",
              "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "principalId": "dd94ec22-ef15-4c5f-8a8c-4bb77e93357a"
            }
          },
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/henrymorales-test/providers/Microsoft.IoTCentral/IoTApps/henrymorales-13228989",
            "name": "henrymorales-13228989",
            "type": "Microsoft.IoTCentral/IoTApps",
            "location": "westus",
            "tags": {},
            "properties": {
              "state": "created",
              "provisioningState": "Succeeded",
              "applicationId": "2ad13b75-9386-4733-842e-e4b731b01d55",
              "displayName": "henrymorales-13228989",
              "subdomain": "henrymorales-13228989",
              "template": "iotc-pnp-preview@1.0.0",
              "publicNetworkAccess": "Disabled",
              "networkRuleSets": {
                "defaultAction": "Deny",
                "applyToDevices": true,
                "applyToIoTCentral": false,
                "ipRules": [
                  {
                    "action": "Allow",
                    "filterName": "73.42.196.46",
                    "ipMask": "73.42.196.46"
                  }
                ]
              },
              "privateEndpointConnections": []
            },
            "sku": {
              "name": "ST2"
            },
            "identity": {
              "type": "None"
            }
          },
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdk-test-rg-4007/providers/Microsoft.IoTCentral/iotApps/test-app-3680",
            "name": "test-app-3680",
            "t[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdk-test-rg-2203/providers/Microsoft.IoTCentral/iotApps/test-3989?api-version=2021-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "azure-asyncoperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.IoTCentral/locations/westus/operationResults/204fb5dd-292f-4788-8ea9-3337dfad9226?api-version=2021-11-01-preview\u0026type=deleteIotApplication\u0026x-iot-region=westus\u0026asyncinfo",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.IoTCentral/locations/westus/operationResults/204fb5dd-292f-4788-8ea9-3337dfad9226?api-version=2021-11-01-preview\u0026type=deleteIotApplication\u0026x-iot-region=westus",
        "Retry-After": "10",
        "X-IoT-Cluster": "iotcprodeastus01",
        "x-iot-correlation": "b2g62soa.1.0",
        "X-IoT-Version": "050222.0001-release",
        "x-ms-ratelimit-remaining-subscription-deletes": "14988"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.IoTCentral/locations/westus/operationResults/204fb5dd-292f-4788-8ea9-3337dfad9226?api-version=2021-11-01-preview\u0026type=deleteIotApplication\u0026x-iot-region=westus\u0026asyncinfo",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-IoT-Cluster": "iotcprodwestus04",
        "x-iot-correlation": "5oec2ovt.0",
        "X-IoT-Version": "050222.0001-release",
        "x-ms-ratelimit-remaining-subscription-reads": "11883"
      },
      "ResponseBody": {
        "status": "Deleting"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.IoTCentral/locations/westus/operationResults/3f896006-7fee-4771-a2b5-57c14dcc06b7?api-version=2021-11-01-preview\u0026type=deleteIotApplication\u0026x-iot-region=westus\u0026asyncinfo",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-IoT-Cluster": "iotcprodwestus04",
        "x-iot-correlation": "6heudld0.0",
        "X-IoT-Version": "050222.0001-release",
        "x-ms-ratelimit-remaining-subscription-reads": "11876"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "591770081",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
