{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/sdk-test-rg-9167?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdk-test-rg-9167",
        "name": "sdk-test-rg-9167",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdk-test-rg-9167/providers/Microsoft.IoTCentral/iotApps/test-app-6361?api-version=2021-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "ST0"
        },
        "tags": {},
        "location": "westus",
        "properties": {
          "displayName": "test-app-6361",
          "subdomain": "test-app-6361"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncoperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.IoTCentral/locations/westus/operationResults/bd24b9a0-7efb-477d-b9d5-7e3dfef551bd?api-version=2021-11-01-preview\u0026type=createOrUpdateIotApplication\u0026x-iot-region=westus\u0026asyncinfo",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "X-IoT-Cluster": "iotcprodeastus04",
        "x-iot-correlation": "5bchitpo.1.0",
        "X-IoT-Version": "050222.0001-release",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdk-test-rg-9167/providers/Microsoft.IoTCentral/iotApps/test-app-6361",
        "name": "test-app-6361",
        "type": "Microsoft.IoTCentral/IoTApps",
        "location": "westus",
        "tags": {},
        "properties": {
          "state": "created",
          "provisioningState": "Creating",
          "applicationId": "b77dbd60-e892-4d86-84d5-d47c70936f27",
          "displayName": "test-app-6361",
          "subdomain": "test-app-6361",
          "template": "iotc-pnp-preview@1.0.0",
          "publicNetworkAccess": "Enabled",
          "networkRuleSets": {
            "defaultAction": "Allow",
            "applyToDevices": false,
            "applyToIoTCentral": false,
            "ipRules": []
          },
          "privateEndpointConnections": []
        },
        "sku": {
          "name": "ST0"
        },
        "identity": {
          "type": "None"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.IoTCentral/locations/westus/operationResults/bd24b9a0-7efb-477d-b9d5-7e3dfef551bd?api-version=2021-11-01-preview\u0026type=createOrUpdateIotApplication\u0026x-iot-region=westus\u0026asyncinfo",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-IoT-Cluster": "iotcprodwestus04",
        "x-iot-correlation": "6agbiay0.0",
        "X-IoT-Version": "050222.0001-release",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "status": "Creating"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdk-test-rg-9167/providers/Microsoft.IoTCentral/iotApps/test-app-6361?api-version=2021-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022da00cbb2-0000-0100-0000-6273e25f0000\u0022",
        "X-IoT-Cluster": "iotcprodeastus04",
        "x-iot-correlation": "2nu2rvuw.0",
        "X-IoT-Version": "050222.0001-release",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdk-test-rg-9167/providers/Microsoft.IoTCentral/iotApps/test-app-6361",
        "name": "test-app-6361",
        "type": "Microsoft.IoTCentral/IoTApps",
        "location": "westus",
        "tags": {},
        "properties": {
          "state": "created",
          "provisioningState": "Succeeded",
          "applicationId": "b77dbd60-e892-4d86-84d5-d47c70936f27",
          "displayName": "test-app-6361",
          "subdomain": "test-app-6361",
          "template": "iotc-pnp-preview@1.0.0",
          "publicNetworkAccess": "Enabled",
          "networkRuleSets": {
            "defaultAction": "Allow",
            "applyToDevices": false,
            "applyToIoTCentral": false,
            "ipRules": []
          },
          "privateEndpointConnections": []
        },
        "sku": {
          "name": "ST0"
        },
        "identity": {
          "type": "None"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdk-test-rg-9167/providers/Microsoft.IoTCentral/iotApps/test-app-6361?api-version=2021-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "azure-asyncoperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.IoTCentral/locations/westus/operationResults/fd3c5915-1030-47d4-919c-8cc43ff28628?api-version=2021-11-01-preview\u0026type=deleteIotApplication\u0026x-iot-region=westus\u0026asyncinfo",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.IoTCentral/locations/westus/operationResults/fd3c5915-1030-47d4-919c-8cc43ff28628?api-version=2021-11-01-preview\u0026type=deleteIotApplication\u0026x-iot-region=westus",
        "Retry-After": "10",
        "X-IoT-Cluster": "iotcprodeastus04",
        "x-iot-correlation": "4v2af165.1.0",
        "X-IoT-Version": "050222.0001-release",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.IoTCentral/locations/westus/operationResults/fd3c5915-1030-47d4-919c-8cc43ff28628?api-version=2021-11-01-preview\u0026type=deleteIotApplication\u0026x-iot-region=westus\u0026asyncinfo",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-IoT-Cluster": "iotcprodwestus04",
        "x-iot-correlation": "102ohe65.0",
        "X-IoT-Version": "050222.0001-release",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "status": "Deleting"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.IoTCentral/locations/westus/operationResults/fd3c5915-1030-47d4-919c-8cc43ff28628?api-version=2021-11-01-preview\u0026type=deleteIotApplication\u0026x-iot-region=westus\u0026asyncinfo",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-IoT-Cluster": "iotcprodwestus04",
        "x-iot-correlation": "11denyjp.0",
        "X-IoT-Version": "050222.0001-release",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1306294782",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
