{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "costcenter": "1000"
        },
        "subscriptionId": "aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
        "tenantId": "ba5ed788-ddc6-429c-a6a2-0277f01dbee7",
        "displayName": "Azure subscription 1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/ba5ed788-ddc6-429c-a6a2-0277f01dbee7",
            "tenantId": "ba5ed788-ddc6-429c-a6a2-0277f01dbee7",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/calculatePrice?api-version=2022-11-01-beta",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_B1ls"
        },
        "location": "westeurope",
        "properties": {
          "reservedResourceType": "VirtualMachines",
          "billingScopeId": "/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
          "term": "P1Y",
          "billingPlan": "Monthly",
          "quantity": 3,
          "displayName": "testVM",
          "appliedScopeType": "Shared",
          "renew": false,
          "reservedResourceProperties": {
            "instanceFlexibility": "On"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-writes": "1198",
        "x-ms-test": "{\u0022contact\u0022:\u0022yunga\u0022,\u0022scenarios\u0022:\u0022time-scale:17520,days-until-time-stop:365,TestInProduction,CSZ,Inv-v7,crs-vnext,GtmRiPurchase\u0022,\u0022retention\u0022:\u00226/4/2023 7:22:17 PM\u0022}"
      },
      "ResponseBody": {
        "properties": {
          "billingCurrencyTotal": {
            "currencyCode": "USD",
            "amount": 92.88
          },
          "netTotal": 0.0,
          "taxTotal": 0.0,
          "grandTotal": 0.0,
          "paymentSchedule": [
            {
              "dueDate": "2023-03-06",
              "pricingCurrencyTotal": {
                "currencyCode": "USD",
                "amount": 7.74
              },
              "billingCurrencyTotal": {
                "currencyCode": "USD",
                "amount": 7.74
              },
              "status": "Scheduled"
            },
            {
              "dueDate": "2023-04-06",
              "pricingCurrencyTotal": {
                "currencyCode": "USD",
                "amount": 7.74
              },
              "status": "Scheduled"
            },
            {
              "dueDate": "2023-05-06",
              "pricingCurrencyTotal": {
                "currencyCode": "USD",
                "amount": 7.74
              },
              "status": "Scheduled"
            },
          [...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/de709459-8409-480c-98ac-715c77535104?api-version=2022-11-01-beta",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_B1ls"
        },
        "location": "westeurope",
        "properties": {
          "reservedResourceType": "VirtualMachines",
          "billingScopeId": "/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
          "term": "P1Y",
          "billingPlan": "Monthly",
          "quantity": 3,
          "displayName": "testVM",
          "appliedScopeType": "Shared",
          "renew": false,
          "reservedResourceProperties": {
            "instanceFlexibility": "On"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/de709459-8409-480c-98ac-715c77535104?api-version=2022-11-01-beta",
        "Retry-After": "120",
        "x-ms-ratelimit-remaining-tenant-writes": "1198",
        "x-ms-version": "1.0.2252.117"
      },
      "ResponseBody": {
        "id": "/providers/microsoft.capacity/reservationOrders/de709459-8409-480c-98ac-715c77535104",
        "name": "de709459-8409-480c-98ac-715c77535104",
        "type": "microsoft.capacity/reservationOrders",
        "etag": 1,
        "properties": {
          "originalQuantity": 3,
          "requestDateTime": "2023-03-06T19:22:22.8812668Z",
          "billingPlan": "Monthly",
          "reservations": [
            {
              "id": "/providers/Microsoft.Capacity/reservationOrders/de709459-8409-480c-98ac-715c77535104/reservations/28d65923-d889-48d5-99f8-08d843736c7d"
            }
          ],
          "term": "P1Y",
          "displayName": "testVM",
          "provisioningState": "Creating",
          "billingProfileId": "/providers/Microsoft.Billing/billingAccounts/4973e1de-a829-5c64-4fef-0a692e2b3108:1970c5da-0aa4-46fd-a917-4772f9a17978_2019-05-31/billingProfiles/KPSV-DWNE-BG7-TGB",
          "billingAccountId": "/providers/Microsoft.Billing/billingAccounts/4973e1de-a829-5c64-4fef-0a692e2b3108:1970c5da-0aa4-46fd-a917-4772f9a17978_2019-05-31"
        }
      }
    },
[...]
