{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fed2a274-8787-4a13-8371-f5282597b779?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "id": "/subscriptions/fed2a274-8787-4a13-8371-f5282597b779",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "fed2a274-8787-4a13-8371-f5282597b779",
        "tenantId": "3a689a02-340f-4a4e-a32c-6fce276c6bdc",
        "displayName": "PayG04-15-2022",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11985"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/3a689a02-340f-4a4e-a32c-6fce276c6bdc",
            "tenantId": "3a689a02-340f-4a4e-a32c-6fce276c6bdc",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/calculatePrice?api-version=2022-03-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_B1ls"
        },
        "location": "westeurope",
        "properties": {
          "reservedResourceType": "VirtualMachines",
          "billingScopeId": "/subscriptions/fed2a274-8787-4a13-8371-f5282597b779",
          "term": "P1Y",
          "billingPlan": "Upfront",
          "quantity": 3,
          "displayName": "testVM",
          "appliedScopeType": "Single",
          "appliedScopes": [
            "/subscriptions/fed2a274-8787-4a13-8371-f5282597b779"
          ],
          "renew": false,
          "reservedResourceProperties": {
            "instanceFlexibility": "On"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-writes": "1192",
        "x-ms-test": "{\u0022contact\u0022:\u0022yunga\u0022,\u0022scenarios\u0022:\u0022GtmRiPurchase,TestInProdcution,CSZ,Inv-v7,crs-vnext,GtmRiPurchase\u0022,\u0022retention\u0022:\u002212/22/2022 10:48:52 PM\u0022}"
      },
      "ResponseBody": {
        "properties": {
          "billingCurrencyTotal": {
            "currencyCode": "USD",
            "amount": 93.0
          },
          "netTotal": 0.0,
          "taxTotal": 0.0,
          "grandTotal": 0.0,
          "reservationOrderId": "7975fd80-9b03-4f6a-b73e-f31e56da7b2b",
          "skuTitle": "Reserved VM Instance, Standard_B1ls, EU West, 1 Year",
          "skuDescription": "Standard_B1ls",
          "pricingCurrencyTotal": {
            "currencyCode": "USD",
            "amount": 93.0
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/7975fd80-9b03-4f6a-b73e-f31e56da7b2b?api-version=2022-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_B1ls"
        },
        "location": "westeurope",
        "properties": {
          "reservedResourceType": "VirtualMachines",
          "billingScopeId": "/subscriptions/fed2a274-8787-4a13-8371-f5282597b779",
          "term": "P1Y",
          "billingPlan": "Upfront",
          "quantity": 3,
          "displayName": "testVM",
          "appliedScopeType": "Single",
          "appliedScopes": [
            "/subscriptions/fed2a274-8787-4a13-8371-f5282597b779"
          ],
          "renew": false,
          "reservedResourceProperties": {
            "instanceFlexibility": "On"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/7975fd80-9b03-4f6a-b73e-f31e56da7b2b?api-version=2022-03-01",
        "Retry-After": "120",
        "x-ms-ratelimit-remaining-tenant-writes": "1192",
        "x-ms-test": "{\u0022contact\u0022:\u0022yunga\u0022,\u0022scenarios\u0022:\u0022GtmRiPurchase,TestInProdcution,CSZ,Inv-v7,crs-vnext,GtmRiPurchase\u0022,\u0022retention\u0022:\u002212/22/2022 10:48:54 PM\u0022}"
      },
      "ResponseBody": {
        "id": "/providers/microsoft.capacity/reservationOrders/7975fd80-9b03-4f6a-b73e-f31e56da7b2b",
        "type": "Microsoft.Capacity/reservationOrders",
        "name": "7975fd80-9b03-4f6a-b73e-f31e56da7b2b",
        "etag": 1,
        "properties": {
          "displayName": "testVM",
          "requestDateTime": "2022-09-23T22:48:58.0650155Z",
          "term": "P1Y",
          "provisioningState": "Creating",
          "reservations": [
            {
              "sku": {
                "name": "Standard_B1ls"
              },
              "id": "/providers/microsoft.capacity/reservationOrders/7975fd80-9b03-4f6a-b73e-f31e56da7b2b/reservations/517b3f91-de9d-408e-bd78-5957e1cce25d",
              "type": "Microsoft.Capacity/reservationOrders/reservations",
              "name": "7975fd80-9b03-4f6a-b73e-f31e56da7b2b/517b3f91-de9d-408e-bd78-5957e1cce25d",
              "etag": 1,
              "location": "westeurope",
              "properties": {
                "appliedScopes": [
                  "/subscriptions/fed2a274-8787-4a13-8371-f5282597b779"
                ],
                "appliedScopeType": "Single",
                "quantity": 3,
                "provisioningState": "Creating",
                "displayName": "testVM",
                "effectiveDateTime": "2022-09-23T22:48:58.0650155Z",
                "lastUpdatedDateTime": "2022-09-23T22:48:58.0650155Z",
                "reservedResourceType": "VirtualMachines",
                "instanceFlexibility": "On",
                "skuDescription": "Reserved VM Instance, Standard_B1ls, EU West, 1 Year",
                "renew": false,
                "archived": false
              }
            }
          ],
          "originalQuantity": 3,
          "billingPlan": "Upfront"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/7975fd80-9b03-4f6a-b73e-f31e56da7b2b?api-version=2022-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11984"
      },
      "ResponseBody": {
        "id": "/providers/microsoft.capacity/reservationOrders/7975fd80-9b03-4f6a-b73e-f31e56da7b2b",
        "type": "Microsoft.Capacity/reservationOrders",
        "name": "7975fd80-9b03-4f6a-b73e-f31e56da7b2b",
        "etag": 1,
        "properties": {
          "displayName": "testVM",
          "requestDateTime": "2022-09-23T22:48:58.0650155Z",
          "term": "P1Y",
          "provisioningState": "Creating",
          "reservations": [
            {
              "id": "/providers/microsoft.capacity/reservationOrders/7975fd80-9b03-4f6a-b73e-f31e56da7b2b/reservations/517b3f91-de9d-408e-bd78-5957e1cce25d"
            }
          ],
          "originalQuantity": 3,
          "billingPlan": "Upfront"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "2143470126",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "fed2a274-8787-4a13-8371-f5282597b779"
  }
}
