{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "costcenter": "1000"
        },
        "subscriptionId": "aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
        "tenantId": "ba5ed788-ddc6-429c-a6a2-0277f01dbee7",
        "displayName": "Azure subscription 1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/ba5ed788-ddc6-429c-a6a2-0277f01dbee7",
            "tenantId": "ba5ed788-ddc6-429c-a6a2-0277f01dbee7",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/calculatePrice?api-version=2022-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_B1ls"
        },
        "location": "westeurope",
        "properties": {
          "reservedResourceType": "VirtualMachines",
          "billingScopeId": "/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
          "term": "P1Y",
          "billingPlan": "Upfront",
          "quantity": 3,
          "displayName": "testVM",
          "appliedScopeType": "Shared",
          "renew": false,
          "reservedResourceProperties": {
            "instanceFlexibility": "On"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-writes": "1199",
        "x-ms-test": "{\u0022contact\u0022:\u0022yunga\u0022,\u0022scenarios\u0022:\u0022time-scale:17520,days-until-time-stop:365,TestInProduction,CSZ,Inv-v7,crs-vnext,GtmRiPurchase\u0022,\u0022retention\u0022:\u00226/5/2023 8:50:08 PM\u0022}"
      },
      "ResponseBody": {
        "properties": {
          "billingCurrencyTotal": {
            "currencyCode": "USD",
            "amount": 93.0
          },
          "netTotal": 0.0,
          "taxTotal": 0.0,
          "grandTotal": 0.0,
          "reservationOrderId": "59a81658-e92c-42df-bd3a-02c9d7788fb9",
          "skuTitle": "Reserved VM Instance, Standard_B1ls, EU West, 1 Year",
          "skuDescription": "Standard_B1ls",
          "pricingCurrencyTotal": {
            "currencyCode": "USD",
            "amount": 93.0
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/59a81658-e92c-42df-bd3a-02c9d7788fb9?api-version=2022-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_B1ls"
        },
        "location": "westeurope",
        "properties": {
          "reservedResourceType": "VirtualMachines",
          "billingScopeId": "/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
          "term": "P1Y",
          "billingPlan": "Upfront",
          "quantity": 3,
          "displayName": "testVM",
          "appliedScopeType": "Shared",
          "renew": false,
          "reservedResourceProperties": {
            "instanceFlexibility": "On"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/59a81658-e92c-42df-bd3a-02c9d7788fb9?api-version=2022-11-01",
        "Retry-After": "120",
        "x-ms-ratelimit-remaining-tenant-writes": "1199",
        "x-ms-version": "1.0.2252.117"
      },
      "ResponseBody": {
        "id": "/providers/microsoft.capacity/reservationOrders/59a81658-e92c-42df-bd3a-02c9d7788fb9",
        "name": "59a81658-e92c-42df-bd3a-02c9d7788fb9",
        "type": "microsoft.capacity/reservationOrders",
        "etag": 1,
        "properties": {
          "originalQuantity": 3,
          "requestDateTime": "2023-03-07T20:50:13.3219382Z",
          "billingPlan": "Upfront",
          "reservations": [
            {
              "id": "/providers/Microsoft.Capacity/reservationOrders/59a81658-e92c-42df-bd3a-02c9d7788fb9/reservations/bc783274-a65f-4e92-86d3-2f720ceaf787"
            }
          ],
          "term": "P1Y",
          "displayName": "testVM",
          "provisioningState": "Creating",
          "billingProfileId": "/providers/Microsoft.Billing/billingAccounts/4973e1de-a829-5c64-4fef-0a692e2b3108:1970c5da-0aa4-46fd-a917-4772f9a17978_2019-05-31/billingProfiles/KPSV-DWNE-BG7-TGB",
          "billingAccountId": "/providers/Microsoft.Billing/billingAccounts/4973e1de-a829-5c64-4fef-0a692e2b3108:1970c5da-0aa4-46fd-a917-4772f9a17978_2019-05-31"
        }
      }
    },
[...]
