{
  "Entries": [
    {
      "RequestUri": "https://api.cognitive.microsofttranslator.com/breaksentence?language=zh-Hans\u0026script=Latn\u0026api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "Ocp-Apim-Subscription-Region": "westus"
      },
      "RequestBody": "[{\u0022Text\u0022:\u0022zh\\u00E8 sh\\u00EC g\\u00E8 c\\u00E8 sh\\u00EC\\u3002\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-RequestId": "BKST.MW1P.99BE.0310T0013.5244C05"
      },
      "ResponseBody": "[{\u0022sentLen\u0022:[18]}]"
    }
  ],
  "Variables": {
    "RandomSeed": "1177923434",
    "TEXT_TRANSLATION_API_KEY": "Sanitized",
    "TEXT_TRANSLATION_ENDPOINT": "https://api.cognitive.microsofttranslator.com",
    "TEXT_TRANSLATION_REGION": "westus"
  }
}
