{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Intune/locations/hostName?api-version=2015-01-14-privatepreview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.Intune/locations/hostName\",\r\n  \"type\": \"Microsoft.Intune/locations\",\r\n  \"name\": \"hostname\",\r\n  \"properties\": {\r\n    \"hostName\": \"fef.bmsua01\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14994"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/providers/Microsoft.Intune/locations/fef.bmsua01/iosPolicies/2cb3dccf-4fc9-4cc6-b3e9-32c1873fa1b9?api-version=2015-01-14-privatepreview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"fileEncryptionLevel\": \"deviceLocked\",\r\n    \"touchId\": \"enable\",\r\n    \"friendlyName\": \"IntuneiOSPolicy7809\",\r\n    \"description\": \"New Android Policy\",\r\n    \"appSharingFromLevel\": \"none\",\r\n    \"appSharingToLevel\": \"none\",\r\n    \"authentication\": \"required\",\r\n    \"clipboardSharingLevel\": \"blocked\",\r\n    \"dataBackup\": \"allow\",\r\n    \"fileSharingSaveAs\": \"allow\",\r\n    \"pin\": \"required\",\r\n    \"pinNumRetry\": 15,\r\n    \"deviceCompliance\": \"enable\",\r\n    \"managedBrowser\": \"required\",\r\n    \"accessRecheckOfflineTimeout\": \"PT12H\",\r\n    \"accessRecheckOnlineTimeout\": \"PT30M\",\r\n    \"offlineWipeTimeout\": \"P1D\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.Intune/locations/fef.bmsua01/iosPolicies/2cb3dccf-4fc9-4cc6-b3e9-32c1873fa1b9\",\r\n  \"name\": \"2cb3dccf-4fc9-4cc6-b3e9-32c1873fa1b9\",\r\n  \"type\": \"Microsoft.Intune/locations/iosPolicies\",\r\n  \"properties\": {\r\n    \"touchId\": \"enable\",\r\n    \"fileEncryptionLevel\": \"deviceLocked\",\r\n    \"friendlyName\": \"IntuneiOSPolicy7809\",\r\n    \"description\": \"New Android Policy\",\r\n    \"accessRecheckOfflineTimeout\": \"P0DT12H00M\",\r\n    \"accessRecheckOnlineTimeout\": \"P0DT00H30M\",\r\n    \"appSharingFromLevel\": \"none\",\r\n    \"appSharingToLevel\": \"none\",\r\n    \"authentication\": \"required\",\r\n    \"clipboardSharingLevel\": \"blocked\",\r\n    \"dataBackup\": \"allow\",\r\n    \"deviceCompliance\": \"enable\",\r\n    \"managedBrowser\": \"required\",\r\n    \"fileSharingSaveAs\": \"allow\",\r\n    \"offlineWipeTimeout\": \"P1D\",\r\n    \"pin\": \"required\",\r\n    \"pinNumRetry\": 15,\r\n    \"numOfApps\": 0,\r\n    \"groupStatus\": \"notTargeted\",\r\n    \"lastModifiedTime\": \"2015-11-20T19:37:19.2969487Z\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json;odata=minimalmetadata;streaming=true;charset=utf-8,application/json;odata=minimalmetadata;streaming=true;charset=utf-8"
        ],
        "Last-Modified": [
          "Fri, 20 Nov 2015 19:37:19 GMT"
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1195"
        ],
        "Preference-Applied": [
          "return-content"
        ],
        "Elapsed-Time-Milliseconds": [
          "450"
        ],
        "service-name": [
          "AdminExperienceService"
        ],
        "unique-request-id": [
          "9e7f903a-90ed-454f-88b9-46a6e1b5540e"
        ],
        "related-activity-id": [
          "9e7f903a-90ed-454f-88b9-46a6e1b5540e"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "ETag": [
          "\"0d90c146-ceb8-4588-980f-00b7f0baf037\""
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/providers/Microsoft.Intune/locations/fef.bmsua01/iosPolicies/2cb3dccf-4fc9-4cc6-b3e9-32c1873fa1b9?api-version=2015-01-14-privatepreview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1194"
        ],
        "Elapsed-Time-Milliseconds": [
          "397"
        ],
        "service-name": [
          "AdminExperienceService"
        ],
        "unique-request-id": [
          "51d514b0-e242-4409-a88c-c016854986dc"
        ],
        "related-activity-id": [
          "51d514b0-e242-4409-a88c-c016854986dc"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "ShouldCreateiOSPolicyWithDefaults": [
      "IntuneiOSPolicy7809"
    ]
  },
  "Variables": {
    "SubscriptionId": "None",
    "IntunePolicy": "2cb3dccf-4fc9-4cc6-b3e9-32c1873fa1b9"
  }
}