{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Intune/locations/hostName?api-version=2015-01-14-privatepreview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.Intune/locations/hostName\",\r\n  \"type\": \"Microsoft.Intune/locations\",\r\n  \"name\": \"hostname\",\r\n  \"properties\": {\r\n    \"hostName\": \"fef.bmsua01\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14997"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/providers/Microsoft.Intune/locations/fef.bmsua01/androidPolicies/a75537b2-e73f-41ca-98be-081399810b94?api-version=2015-01-14-privatepreview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"screenCapture\": \"allow\",\r\n    \"fileEncryption\": \"required\",\r\n    \"friendlyName\": \"IntuneAndroidPolicy4629\",\r\n    \"description\": \"New Android Policy\",\r\n    \"appSharingFromLevel\": \"none\",\r\n    \"appSharingToLevel\": \"none\",\r\n    \"authentication\": \"required\",\r\n    \"clipboardSharingLevel\": \"blocked\",\r\n    \"dataBackup\": \"allow\",\r\n    \"fileSharingSaveAs\": \"allow\",\r\n    \"pin\": \"required\",\r\n    \"pinNumRetry\": 15,\r\n    \"deviceCompliance\": \"enable\",\r\n    \"managedBrowser\": \"required\",\r\n    \"accessRecheckOfflineTimeout\": \"PT12H\",\r\n    \"accessRecheckOnlineTimeout\": \"PT30M\",\r\n    \"offlineWipeTimeout\": \"P1D\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.Intune/locations/fef.bmsua01/androidPolicies/a75537b2-e73f-41ca-98be-081399810b94\",\r\n  \"name\": \"a75537b2-e73f-41ca-98be-081399810b94\",\r\n  \"type\": \"Microsoft.Intune/locations/androidPolicies\",\r\n  \"properties\": {\r\n    \"screenCapture\": \"allow\",\r\n    \"fileEncryption\": \"required\",\r\n    \"friendlyName\": \"IntuneAndroidPolicy4629\",\r\n    \"description\": \"New Android Policy\",\r\n    \"accessRecheckOfflineTimeout\": \"P0DT12H00M\",\r\n    \"accessRecheckOnlineTimeout\": \"P0DT00H30M\",\r\n    \"appSharingFromLevel\": \"none\",\r\n    \"appSharingToLevel\": \"none\",\r\n    \"authentication\": \"required\",\r\n    \"clipboardSharingLevel\": \"blocked\",\r\n    \"dataBackup\": \"allow\",\r\n    \"deviceCompliance\": \"enable\",\r\n    \"managedBrowser\": \"required\",\r\n    \"fileSharingSaveAs\": \"allow\",\r\n    \"offlineWipeTimeout\": \"P1D\",\r\n    \"pin\": \"required\",\r\n    \"pinNumRetry\": 15,\r\n    \"numOfApps\": 0,\r\n    \"groupStatus\": \"notTargeted\",\r\n    \"lastModifiedTime\": \"2015-11-23T23:13:05.1143326Z\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json;odata=minimalmetadata;streaming=true;charset=utf-8,application/json;odata=minimalmetadata;streaming=true;charset=utf-8"
        ],
        "Last-Modified": [
          "Mon, 23 Nov 2015 23:13:05 GMT"
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1197"
        ],
        "Preference-Applied": [
          "return-content"
        ],
        "Elapsed-Time-Milliseconds": [
          "2859"
        ],
        "service-name": [
          "AdminExperienceService"
        ],
        "unique-request-id": [
          "46841f6d-c76b-431c-af9e-7ac0e867b0c2"
        ],
        "related-activity-id": [
          "46841f6d-c76b-431c-af9e-7ac0e867b0c2"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "ETag": [
          "\"2124083f-a02d-493b-9bba-b9423bbc7ef6\""
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/providers/Microsoft.Intune/locations/fef.bmsua01/androidPolicies?api-version=2015-01-14-privatepreview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/providers/Microsoft.Intune/locations/fef.bmsua01/androidPolicies/68bfda3a-9b20-4faa-b164-284c5587cbb5\",\r\n      \"name\": \"68bfda3a-9b20-4faa-b164-284c5587cbb5\",\r\n      \"type\": \"Microsoft.Intune/locations/androidPolicies\",\r\n      \"properties\": {\r\n        \"screenCapture\": \"allow\",\r\n        \"fileEncryption\": \"required\",\r\n        \"friendlyName\": \"IntuneAndroidPolicy4120\",\r\n        \"description\": \"New Android Policy\",\r\n        \[...]
[...]
    {
      "RequestUri": "/providers/Microsoft.Intune/locations/fef.bmsua01/androidPolicies/68bfda3a-9b20-4faa-b164-284c5587cbb5?api-version=2015-01-14-privatepreview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1194"
        ],
        "Elapsed-Time-Milliseconds": [
          "327"
        ],
        "service-name": [
          "AdminExperienceService"
        ],
        "unique-request-id": [
          "ca63511f-cc07-4eff-821b-bfbee422158d"
        ],
        "related-activity-id": [
          "ca63511f-cc07-4eff-821b-bfbee422158d"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "ShouldGetMultipleAndroidPolicies": [
      "IntuneAndroidPolicy4629",
      "IntuneAndroidPolicy4120"
    ]
  },
  "Variables": {
    "SubscriptionId": "None",
    "IntunePolicy1": "a75537b2-e73f-41ca-98be-081399810b94",
    "IntunePolicy2": "68bfda3a-9b20-4faa-b164-284c5587cbb5"
  }
}