{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Intune/locations/hostName?api-version=2015-01-14-privatepreview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.Intune/locations/hostName\",\r\n  \"type\": \"Microsoft.Intune/locations\",\r\n  \"name\": \"hostname\",\r\n  \"properties\": {\r\n    \"hostName\": \"fef.bmsua01\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14988"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/providers/Microsoft.Intune/locations/fef.bmsua01/androidPolicies/262dd03b-4efb-4f9a-9c1e-c1112169cf2e?api-version=2015-01-14-privatepreview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"screenCapture\": \"allow\",\r\n    \"fileEncryption\": \"required\",\r\n    \"friendlyName\": \"IntuneAndroidPolicy2291\",\r\n    \"description\": \"New Android Policy\",\r\n    \"appSharingFromLevel\": \"none\",\r\n    \"appSharingToLevel\": \"none\",\r\n    \"authentication\": \"required\",\r\n    \"clipboardSharingLevel\": \"blocked\",\r\n    \"dataBackup\": \"allow\",\r\n    \"fileSharingSaveAs\": \"allow\",\r\n    \"pin\": \"required\",\r\n    \"pinNumRetry\": 15,\r\n    \"deviceCompliance\": \"enable\",\r\n    \"managedBrowser\": \"required\",\r\n    \"accessRecheckOfflineTimeout\": \"PT12H\",\r\n    \"accessRecheckOnlineTimeout\": \"PT30M\",\r\n    \"offlineWipeTimeout\": \"P1D\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.Intune/locations/fef.bmsua01/androidPolicies/262dd03b-4efb-4f9a-9c1e-c1112169cf2e\",\r\n  \"name\": \"262dd03b-4efb-4f9a-9c1e-c1112169cf2e\",\r\n  \"type\": \"Microsoft.Intune/locations/androidPolicies\",\r\n  \"properties\": {\r\n    \"screenCapture\": \"allow\",\r\n    \"fileEncryption\": \"required\",\r\n    \"friendlyName\": \"IntuneAndroidPolicy2291\",\r\n    \"description\": \"New Android Policy\",\r\n    \"accessRecheckOfflineTimeout\": \"P0DT12H00M\",\r\n    \"accessRecheckOnlineTimeout\": \"P0DT00H30M\",\r\n    \"appSharingFromLevel\": \"none\",\r\n    \"appSharingToLevel\": \"none\",\r\n    \"authentication\": \"required\",\r\n    \"clipboardSharingLevel\": \"blocked\",\r\n    \"dataBackup\": \"allow\",\r\n    \"deviceCompliance\": \"enable\",\r\n    \"managedBrowser\": \"required\",\r\n    \"fileSharingSaveAs\": \"allow\",\r\n    \"offlineWipeTimeout\": \"P1D\",\r\n    \"pin\": \"required\",\r\n    \"pinNumRetry\": 15,\r\n    \"numOfApps\": 0,\r\n    \"groupStatus\": \"notTargeted\",\r\n    \"lastModifiedTime\": \"2015-11-20T19:38:29.8576418Z\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json;odata=minimalmetadata;streaming=true;charset=utf-8,application/json;odata=minimalmetadata;streaming=true;charset=utf-8"
        ],
        "Last-Modified": [
          "Fri, 20 Nov 2015 19:38:29 GMT"
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1189"
        ],
        "Preference-Applied": [
          "return-content"
        ],
        "Elapsed-Time-Milliseconds": [
          "234"
        ],
        "service-name": [
          "AdminExperienceService"
        ],
        "unique-request-id": [
          "af490a0a-461b-4555-9081-b20f7c1641dd"
        ],
        "related-activity-id": [
          "af490a0a-461b-4555-9081-b20f7c1641dd"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "ETag": [
          "\"e0f267cb-724b-44cd-83c1-57a90b68be1a\""
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/providers/Microsoft.Intune/locations/fef.bmsua01/androidPolicies?api-version=2015-01-14-privatepreview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/providers/Microsoft.Intune/locations/fef.bmsua01/androidPolicies/262dd03b-4efb-4f9a-9c1e-c1112169cf2e\",\r\n      \"name\": \"262dd03b-4efb-4f9a-9c1e-c1112169cf2e\",\r\n      \"type\": \"Microsoft.Intune/locations/androidPolicies\",\r\n      \"properties\": {\r\n        \"screenCapture\": \"allow\",\r\n        \"fileEncryption\": \"required\",\r\n        \"friendlyName\": \"IntuneAndroidPolicy2291\",\r\n        \"description\": \"New Android Policy\",\r\n        \[...]
[...]
    {
      "RequestUri": "/providers/Microsoft.Intune/locations/fef.bmsua01/androidPolicies/3850e536-d3c2-4698-ba76-f02d931555ff?api-version=2015-01-14-privatepreview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1186"
        ],
        "Elapsed-Time-Milliseconds": [
          "373"
        ],
        "service-name": [
          "AdminExperienceService"
        ],
        "unique-request-id": [
          "6211d5c4-87eb-4453-a88c-db4481932e9d"
        ],
        "related-activity-id": [
          "6211d5c4-87eb-4453-a88c-db4481932e9d"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "ShouldGetMultipleAndroidPolicies": [
      "IntuneAndroidPolicy2291",
      "IntuneAndroidPolicy515"
    ]
  },
  "Variables": {
    "SubscriptionId": "None",
    "IntunePolicy1": "262dd03b-4efb-4f9a-9c1e-c1112169cf2e",
    "IntunePolicy2": "3850e536-d3c2-4698-ba76-f02d931555ff"
  }
}