{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Intune/locations/hostName?api-version=2015-01-14-privatepreview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.Intune/locations/hostName\",\r\n  \"type\": \"Microsoft.Intune/locations\",\r\n  \"name\": \"hostname\",\r\n  \"properties\": {\r\n    \"hostName\": \"fef.bmsua01\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14999"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/providers/Microsoft.Intune/locations/fef.bmsua01/iosPolicies/7f7f4e2f-9ca9-46b6-bd21-15b4880f3f4b?api-version=2015-01-14-privatepreview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"fileEncryptionLevel\": \"deviceLocked\",\r\n    \"touchId\": \"enable\",\r\n    \"friendlyName\": \"IntuneAndroidPolicy9887\",\r\n    \"description\": \"New Android Policy\",\r\n    \"appSharingFromLevel\": \"none\",\r\n    \"appSharingToLevel\": \"none\",\r\n    \"authentication\": \"required\",\r\n    \"clipboardSharingLevel\": \"blocked\",\r\n    \"dataBackup\": \"allow\",\r\n    \"fileSharingSaveAs\": \"allow\",\r\n    \"pin\": \"required\",\r\n    \"pinNumRetry\": 15,\r\n    \"deviceCompliance\": \"enable\",\r\n    \"managedBrowser\": \"required\",\r\n    \"accessRecheckOfflineTimeout\": \"PT12H\",\r\n    \"accessRecheckOnlineTimeout\": \"PT30M\",\r\n    \"offlineWipeTimeout\": \"P1D\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.Intune/locations/fef.bmsua01/iosPolicies/7f7f4e2f-9ca9-46b6-bd21-15b4880f3f4b\",\r\n  \"name\": \"7f7f4e2f-9ca9-46b6-bd21-15b4880f3f4b\",\r\n  \"type\": \"Microsoft.Intune/locations/iosPolicies\",\r\n  \"properties\": {\r\n    \"touchId\": \"enable\",\r\n    \"fileEncryptionLevel\": \"deviceLocked\",\r\n    \"friendlyName\": \"IntuneAndroidPolicy9887\",\r\n    \"description\": \"New Android Policy\",\r\n    \"accessRecheckOfflineTimeout\": \"P0DT12H00M\",\r\n    \"accessRecheckOnlineTimeout\": \"P0DT00H30M\",\r\n    \"appSharingFromLevel\": \"none\",\r\n    \"appSharingToLevel\": \"none\",\r\n    \"authentication\": \"required\",\r\n    \"clipboardSharingLevel\": \"blocked\",\r\n    \"dataBackup\": \"allow\",\r\n    \"deviceCompliance\": \"enable\",\r\n    \"managedBrowser\": \"required\",\r\n    \"fileSharingSaveAs\": \"allow\",\r\n    \"offlineWipeTimeout\": \"P1D\",\r\n    \"pin\": \"required\",\r\n    \"pinNumRetry\": 15,\r\n    \"numOfApps\": 0,\r\n    \"groupStatus\": \"notTargeted\",\r\n    \"lastModifiedTime\": \"2015-11-23T23:13:19.7407725Z\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json;odata=minimalmetadata;streaming=true;charset=utf-8,application/json;odata=minimalmetadata;streaming=true;charset=utf-8"
        ],
        "Last-Modified": [
          "Mon, 23 Nov 2015 23:13:19 GMT"
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1199"
        ],
        "Preference-Applied": [
          "return-content"
        ],
        "Elapsed-Time-Milliseconds": [
          "225"
        ],
        "service-name": [
          "AdminExperienceService"
        ],
        "unique-request-id": [
          "53162d1f-2236-42ea-ad6c-253ed5c0ecd5"
        ],
        "related-activity-id": [
          "53162d1f-2236-42ea-ad6c-253ed5c0ecd5"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "ETag": [
          "\"312ccf9b-2755-416a-92a2-2041de0720c2\""
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/providers/Microsoft.Intune/locations/fef.bmsua01/iosPolicies?api-version=2015-01-14-privatepreview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/providers/Microsoft.Intune/locations/fef.bmsua01/iosPolicies/2f9bab38-55a1-452f-a89c-0aa9e3dc2dc2\",\r\n      \"name\": \"2f9bab38-55a1-452f-a89c-0aa9e3dc2dc2\",\r\n      \"type\": \"Microsoft.Intune/locations/iosPolicies\",\r\n      \"properties\": {\r\n        \"touchId\": \"enable\",\r\n        \"fileEncryptionLevel\": \"deviceLocked\",\r\n        \"friendlyName\": \"IntuneAndroidPolicy9887\",\r\n        \"description\": \"New Android Policy\",\r\n        \"acc[...]
[...]
    {
      "RequestUri": "/providers/Microsoft.Intune/locations/fef.bmsua01/iosPolicies/2f9bab38-55a1-452f-a89c-0aa9e3dc2dc2?api-version=2015-01-14-privatepreview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1196"
        ],
        "Elapsed-Time-Milliseconds": [
          "948"
        ],
        "service-name": [
          "AdminExperienceService"
        ],
        "unique-request-id": [
          "0d712081-3b74-4ca2-a601-f559bf5e1d4b"
        ],
        "related-activity-id": [
          "0d712081-3b74-4ca2-a601-f559bf5e1d4b"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "ShouldGetMultipleiOSPolicies": [
      "IntuneAndroidPolicy9887",
      "IntuneAndroidPolicy6766"
    ]
  },
  "Variables": {
    "SubscriptionId": "None",
    "IntunePolicy1": "7f7f4e2f-9ca9-46b6-bd21-15b4880f3f4b",
    "IntunePolicy2": "e02de9c4-4fec-479c-80b7-a756cab6c824",
    "IntunePolicy": "2f9bab38-55a1-452f-a89c-0aa9e3dc2dc2"
  }
}