{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11920"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/teststorageRG-1147?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1178"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-1147",
        "name": "teststorageRG-1147",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/checkNameAvailability?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "teststoragemgmt1265",
        "type": "Microsoft.Storage/storageAccounts"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11919"
      },
      "ResponseBody": {
        "nameAvailable": true
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-1147/providers/Microsoft.Storage/storageAccounts/teststoragemgmt1265?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_LRS"
        },
        "kind": "Storage",
        "location": "eastus2",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/eastus2/asyncoperations/0cdf5aa9-303d-47bc-b607-62656d56a3c9?monitor=true\u0026api-version=2022-05-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1177"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/eastus2/asyncoperations/0cdf5aa9-303d-47bc-b607-62656d56a3c9?monitor=true\u0026api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/eastus2/asyncoperations/0cdf5aa9-303d-47bc-b607-62656d56a3c9?monitor=true\u0026api-version=2022-05-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-reads": "11918"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/eastus2/asyncoperations/0cdf5aa9-303d-47bc-b607-62656d56a3c9?monitor=true\u0026api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11917"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_LRS",
          "tier": "Standard"
        },
        "kind": "Storage",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-1147/providers/Microsoft.Storage/storageAccounts/teststoragemgmt1265",
        "name": "teststoragemgmt1265",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "eastus2",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {
          "keyCreationTime": {
            "key1": "2022-08-18T08:44:24.2563358Z",
            "key2": "2022-08-18T08:44:24.2563358Z"
          },
          "privateEndpointConnections": [],
          "minimumTlsVersion": "TLS1_0",
          "allowBlobPublicAccess": true,
          "networkAcls": {
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2022-08-18T08:44:24.2563358Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2022-08-18T08:44:24.2563358Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "provisioningState": "Succeeded",
          "creationTime": "2022-08-18T08:44:24.1157288Z",
          "primaryEndpoints": {
            "blob": "https://teststoragemgmt1265.blob.core.windows.net/",
            "queue": "https://teststoragemgmt1265.queue.core.windows.net/",
            "table": "https://teststoragemgmt1265.table.core.windows.net/",
            "file": "https://teststoragemgmt1265.file.core.windows.net/"
          },
          "primaryLocation": "eastus2",
          "statusOfPrimary": "available"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.ManagedIdentity?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11916"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.ManagedIdentity",
        "namespace": "Microsoft.ManagedIdentity",
        "resourceTypes": [
          {
            "resourceType": "Identities",
            "locations": [
              "Global",
              "United States",
              "South Africa",
              "UK",
              "Japan",
              "India",
              "France",
              "Europe",
              "Germany",
              "Switzerland",
              "Canada",
              "Brazil",
              "Australia",
              "Asia",
              "UAE",
              "Korea",
              "Norway",
              "South Africa North",
              "South Africa West",
        [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-1147/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testMsi-3867?api-version=2022-01-31-PREVIEW",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/teststorageRG-1147/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testMsi-3867",
        "x-ms-ratelimit-remaining-subscription-writes": "1176"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/teststorageRG-1147/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testMsi-3867",
        "name": "testMsi-3867",
        "type": "Microsoft.ManagedIdentity/userAssignedIdentities",
        "location": "eastus2",
        "tags": {},
        "properties": {
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "principalId": "80ec033c-d85f-4fa7-99bd-0152fcef680c",
          "clientId": "3ad1679e-676d-4fe3-9aa1-bdf487d64cac"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/teststorageRG-1147/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testMsi-3867?api-version=2022-01-31-PREVIEW",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11915"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/teststorageRG-1147/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testMsi-3867",
        "name": "testMsi-3867",
        "type": "Microsoft.ManagedIdentity/userAssignedIdentities",
        "location": "eastus2",
        "tags": {},
        "properties": {
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "principalId": "80ec033c-d85f-4fa7-99bd-0152fcef680c",
          "clientId": "3ad1679e-676d-4fe3-9aa1-bdf487d64cac"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-1147/providers/Microsoft.Storage/storageAccounts/teststoragemgmt1265?api-version=2022-05-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/teststorageRG-1147/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testMsi-3867": {}
          }
        },
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-writes": "1175"
      },
      "ResponseBody": {
        "identity": {
          "userAssignedIdentities": {
            "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/teststorageRG-1147/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testMsi-3867": {
              "principalId": "80ec033c-d85f-4fa7-99bd-0152fcef680c",
              "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "clientId": "3ad1679e-676d-4fe3-9aa1-bdf487d64cac",
              "identityUrl": "https://control-eastus2.identity.azure.net/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/teststorageRG-1147/providers/Microsoft.Storage/storageAccounts/teststoragemgmt1265/credentials/v2/userassigned?arpid=b92d5413-4376-4ac0-a8c4-cc9d40c99758\u0026uaid=3ad1679e-676d-4fe3-9aa1-bdf487d64cac\u0026tid=72f988bf-86f1-41af-91ab-2d7cd011db47",
              "certRenewAfter": "2022-10-03T08:39:00Z"
            }
          },
          "type": "UserAssigned"
        },
        "sku": {
          "name": "Standard_LRS",
          "tier": "Standard"
        },
        "kind": "Storage",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-1147/providers/Microsoft.Storage/storageAccounts/teststoragemgmt1265",
        "name": "teststoragemgmt1265",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "eastus2[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-1147/providers/Microsoft.Storage/storageAccounts?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11913"
      },
      "ResponseBody": {
        "value": [
          {
            "identity": {
              "userAssignedIdentities": {
                "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/teststorageRG-1147/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testMsi-3867": {
                  "principalId": "80ec033c-d85f-4fa7-99bd-0152fcef680c",
                  "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
                  "clientId": "3ad1679e-676d-4fe3-9aa1-bdf487d64cac",
                  "identi[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-1147/providers/Microsoft.Storage/storageAccounts/teststoragemgmt1265?api-version=2022-05-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-deletes": "14989"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "802248302",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
