{
  "Entries": [
    {
      "RequestUri": "https://westus.quantum.azure.com/v1.0/subscriptions/677fc922-91d0-4bf6-9b06-4274d319a0fa/resourceGroups/sdk-review-rg/providers/Microsoft.Quantum/workspaces/workspace-ms/storage/sasUri",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "containerName": "testcontainer"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "sasUri": "https://sasdkreview.blob.core.windows.net/testcontainer?sv=2019-02-02\u0026sig=QMQ9I50o%2Bg72nrU46n%2BiOXUvKyvifSdZniv1rezuJY8%3D\u0026se=2021-01-29T19%3A38%3A29Z\u0026srt=co\u0026ss=b\u0026sp=racw"
      }
    },
    {
      "RequestUri": "https://westus.quantum.azure.com/v1.0/subscriptions/677fc922-91d0-4bf6-9b06-4274d319a0fa/resourceGroups/sdk-review-rg/providers/Microsoft.Quantum/workspaces/workspace-ms/storage/sasUri",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "containerName": "testcontainer",
        "blobName": "input-9e6a79bb2b4d417db552b1df3cf6a703.json"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "sasUri": "https://sasdkreview.blob.core.windows.net/testcontainer/input-9e6a79bb2b4d417db552b1df3cf6a703.json?sv=2019-02-02\u0026sr=b\u0026sig=biWtNw%2BwvHNfHJNQsouGRrRpeQmWqd7qPIKriDOxrSc%3D\u0026se=2021-01-29T19%3A38%3A29Z\u0026sp=rcw"
      }
    },
    {
      "RequestUri": "https://westus.quantum.azure.com/v1.0/subscriptions/677fc922-91d0-4bf6-9b06-4274d319a0fa/resourceGroups/sdk-review-rg/providers/Microsoft.Quantum/workspaces/workspace-ms/jobs/job-678b53438252430f8aae812e294bbe2e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "id": "job-678b53438252430f8aae812e294bbe2e",
        "name": "jobName-5653662d3ec742f3938d615210320b63",
        "containerUri": "Sanitized",
        "inputDataUri": "Sanitized",
        "inputDataFormat": "microsoft.qio.v2",
        "providerId": "microsoft",
        "target": "microsoft.paralleltempering-parameterfree.cpu",
        "outputDataFormat": "microsoft.qio-results.v2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "containerUri": "Sanitized",
        "inputDataUri": "Sanitized",
        "inputDataFormat": "microsoft.qio.v2",
        "inputParams": {},
        "providerId": "microsoft",
        "target": "microsoft.paralleltempering-parameterfree.cpu",
        "metadata": null,
        "name": "jobName-5653662d3ec742f3938d615210320b63",
        "id": "job-678b53438252430f8aae812e294bbe2e",
        "status": "Waiting",
        "outputDataFormat": "microsoft.qio-results.v2",
        "outputDataUri": "Sanitized",
        "creationTime": "2021-01-28T07:38:30.4092737\u002B00:00",
        "beginExecutionTime": null,
        "endExecutionTime": null,
        "cancellationTime": null,
        "errorData": null
      }
    }
  ],
  "Variables": {
    "LOCATION": "westus",
    "RandomSeed": "2048573004",
    "RESOURCE_GROUP": "sdk-review-rg",
    "SUBSCRIPTION_ID": "677fc922-91d0-4bf6-9b06-4274d319a0fa",
    "WORKSPACE_NAME": "workspace-ms"
  }
}