{
  "Entries": [
    {
      "RequestUri": "https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/providerStatus",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e23d687a-2e0d-49e9-8107-ad85d33d457a"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "ionq",
            "currentAvailability": "Available",
            "targets": [
              {
                "id": "ionq.qpu",
                "currentAvailability": "Available",
                "averageQueueTime": 582132,
                "statusPage": "https://status.ionq.co"
              },
              {
                "id": "ionq.qpu.aria-1",
                "currentAvailability": "Available",
                "averageQueueTime": 122661,
                "statusPage": "https://status.ionq.co"
              },
              {
                "id": "ionq.simulator",
                "currentAvailability": "Available",
                "averageQueueTime": 1,
                "statusPage": "https://status.ionq.co"
              }
            ]
[...]
