{
  "Entries": [
    {
      "RequestUri": "https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/quotas",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "dimension": "combined_job_hours",
            "scope": "Workspace",
            "providerId": "Microsoft",
            "utilization": 0.023735023027777774,
            "holds": 0.016666666666666663,
            "limit": 20.0,
            "period": "Monthly"
          },
          {
            "dimension": "combined_job_hours",
            "scope": "Subscription",
            "providerId": "Microsoft",
            "utilization": 0.21518851416666673,
            "holds": 0.016666666666666663,
            "limit": 1000.0,
            "period": "Monthly"
          },
          {
            "dimension": "concurrent_cpu_jobs",
            "scope": "Workspace",
            "providerId": "Microsoft",
            "utilization": 0.0,
           [...]
