{
  "Entries": [
    {
      "RequestUri": "https://westus.quantum.azure.com/v1.0/subscriptions/677fc922-91d0-4bf6-9b06-4274d319a0fa/resourceGroups/sdk-review-rg/providers/Microsoft.Quantum/workspaces/workspace-ms/quotas",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "dimension": "combined_job_hours",
            "scope": "Workspace",
            "providerId": "Microsoft",
            "utilization": -0.01482089647222222,
            "holds": 0.0,
            "limit": 10000.0,
            "period": "Monthly"
          },
          {
            "dimension": "combined_job_hours",
            "scope": "Subscription",
            "providerId": "Microsoft",
            "utilization": 11.769341180972226,
            "holds": 0.0,
            "limit": 10000.0,
            "period": "Monthly"
          },
          {
            "dimension": "concurrent_cpu_jobs",
            "scope": "Workspace",
            "providerId": "Microsoft",
            "utilization": 0.0,
            "holds": 0.0,
            "limit": 5.0,
            "period": "None"
          },
          {
            "dimension": "fpga_job_hours",
            "scope": "Workspace",
            "providerId": "Microsoft",
            "utilization": 0.0,
            "holds": 0.0,
            "limit": 20.0,
            "period": "Monthly"
          },
          {
            "dimension": "fpga_job_hours",
            "scope": "Subscription",
            "providerId": "Microsoft",
            "utilization": 0.0,
            "holds": 0.0,
            "limit": 40.0,
            "period": "Monthly"
          },
          {
            "dimension": "concurrent_fpga_jobs",
            "scope": "Workspace",
            "providerId": "Microsoft",
            "utilization": 0.0,
            "holds": 0.0,
            "limit": 5.0,
            "period": "None"
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {
    "LOCATION": "westus",
    "RandomSeed": "1762521913",
    "RESOURCE_GROUP": "sdk-review-rg",
    "SUBSCRIPTION_ID": "677fc922-91d0-4bf6-9b06-4274d319a0fa",
    "WORKSPACE_NAME": "workspace-ms"
  }
}