{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-4548/providers/Microsoft.Logic/workflows/workflow6567?api-version=2019-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "19998"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "createdTime": "2022-08-26T09:04:41.9695489Z",
          "changedTime": "2022-08-26T09:04:41.9664632Z",
          "state": "Enabled",
          "version": "08585401022035544043",
          "accessEndpoint": "https://prod-01.centralus.logic.azure.com:443/workflows/141014d645d14273865f5b5c9e5466d1",
          "integrationAccount": {
            "name": "integration1409",
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-4548/providers/Microsoft.Logic/integrationAccounts/integration1409",
            "type": "Microsoft.Logic/integrationAccounts"
          },
          "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {},
            "triggers": {
              "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                  "schema": {}
                }
              }
            },
            "actions": {
              "Response": {
                "runAfter": {},
                "type": "Response",
                "kind": "Http",
                "inputs": {
                  "statusCode": 200
                }
              }
            },
            "outputs": {}
          },
          "parameters": {},
          "endpointsConfiguration": {
            "workflow": {
              "outgoingIpAddresses": [
                {
                  "address": "13.67.236.125"
                },
                {
                  "address": "104.208.25.27"
                },
                {
                  "address": "40.122.170.198"
                },
                {
                  "address": "40.113.218.230"
                },
                {
                  "address": "23.100.86.139"
                },
                {
                  "address": "23.100.87.24"
                },
                {
                  "address": "23.100.87.56"
                },
                {
                  "address": "23.100.82.16"
                },
                {
                  "address": "52.141.221.6"
                },
                {
                  "address": "52.141.218.55"
                },
                {
                  "address": "20.109.202.36"
                },
                {
                  "address": "20.109.202.29"
                }
              ],
              "accessEndpointIpAddresses": [
                {
                  "address": "13.67.236.76"
                },
                {
                  "address": "40.77.111.254"
                },
                {
                  "address": "40.77.31.87"
                },
                {
                  "address": "104.43.243.39"
                },
                {
                  "address": "13.86.98.126"
                },
                {
                  "address": "20.109.202.37"
                }
              ]
            },
            "connector": {
              "outgoingIpAddresses": [
                {
                  "address": "52.173.241.27"
                },
                {
                  "address": "52.173.245.164"
                },
                {
                  "address": "13.89.171.80/28"
                },
                {
                  "address": "13.89.178.64/27"
                },
                {
                  "address": "40.77.68.110"
                },
                {
                  "address": "20.98.144.224/27"
                },
                {
                  "address": "20.98.145.0/28"
                },
                {
                  "address": "20.80.123.134"
                },
                {
                  "address": "20.80.123.57"
                }
              ]
            }
          }
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-4548/providers/Microsoft.Logic/workflows/workflow6567",
        "name": "workflow6567",
        "type": "Microsoft.Logic/workflows",
        "location": "centralus",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-4548/providers/Microsoft.Logic/workflows/workflow6567/triggers/manual?api-version=2019-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "createdTime": "2022-08-26T09:04:41.9695489Z",
          "changedTime": "2022-08-26T09:04:41.9705143Z",
          "state": "Enabled",
          "workflow": {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-4548/providers/Microsoft.Logic/workflows/workflow6567/versions/08585401022035544043",
            "name": "08585401022035544043",
            "type": "Microsoft.Logic/workflows/versions"
          }
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-4548/providers/Microsoft.Logic/workflows/workflow6567/triggers/manual",
        "name": "manual",
        "type": "Microsoft.Logic/workflows/triggers"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-4548/providers/Microsoft.Logic/workflows/workflow6567/triggers/manual/run?api-version=2019-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-client-tracking-id": "08585401021958983039020648952CU16",
        "x-ms-execution-location": "centralus",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "4998",
        "x-ms-tracking-id": "afbd80ed-75ac-4f76-8694-4ec19c0723c5",
        "x-ms-trigger-history-name": "08585401021958983039020648952CU16",
        "x-ms-workflow-id": "141014d645d14273865f5b5c9e5466d1",
        "x-ms-workflow-name": "workflow6567",
        "x-ms-workflow-run-id": "08585401021958983039020648952CU16",
        "x-ms-workflow-system-id": "/locations/centralus/scaleunits/prod-01/workflows/141014d645d14273865f5b5c9e5466d1",
        "x-ms-workflow-version": "08585401022035544043"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-4548/providers/Microsoft.Logic/workflows/workflow6567/runs?api-version=2019-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "19997"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "waitEndTime": "2022-08-26T09:04:49.5798778Z",
              "startTime": "2022-08-26T09:04:49.5798778Z",
              "endTime": "2022-08-26T09:04:49.8717284Z",
              "status": "Succeeded",
              "correlation": {
                "clientTrackingId": "08585401021958983039020648952CU16"
              },
              "workflow": {
                "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-4548/providers/Microsoft.Logic/workflows/workflow6567/versions/08585401022035544043",
                "name": "08585401022035544043",
                "type": "Microsoft.Logic/workflows/versions"
              },
              "trigger": {
                "name": "manual",
                "inputsLink": {
                  "uri": "https://prod-01.centralus.logic.azure.com:443/workflows/141014d645d14273865f5b5c9e5466d1/runs/08585401021958983039020648952CU16/contents/TriggerInputs?api-version=2019-05-01\u0026se=2022-08-26T13%3A00%3A00.0000000Z\u0026sp=%2Fruns%2F08585401021958983039020648952CU16%2Fcontents%2FTriggerInputs%2Fread\u0026sv=1.0\u0026sig=evCtu8s3f87rzU8B8j38W21IrVBWEYBrnPGx0iW1hQk",
                  "contentSize": 13
                },
                "outputsLink": {
                  "uri": "https://prod-01.centralus.logic.azure.com:443/workflows/141014d645d14273865f5b5c9e5466d1/runs/08585401021958983039020648952CU16/contents/TriggerOutputs?api-version=2019-05-01\u0026se=2022-08-26T13%3A00%3A00.0000000Z\u0026sp=%2Fruns%2F08585401021958983039020648952CU16%2Fcontents%2FTriggerOutputs%2Fread\u0026sv=1.0\u0026sig=dMFk7zBhNfWwOCPdElJI0JsVIV4l-ZJQ8VQWq4wafi0",
                  "contentSize": 2376
                },
                "startTime": "2022-08-26T09:04:49.5758893Z",
                "endTime": "2022-08-26T09:04:49.5758893Z",
                "originHistoryName": "08585401021958983039020648952CU16",
                "correlation": {
                  "clientTrackingId": "08585401021958983039020648952CU16"
                },
                "status": "Succeeded"
              },
              "outputs": {}
            },
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-4548/providers/Microsoft.Logic/workflows/workflow6567/runs/08585401021958983039020648952CU16",
            "name": "0858540102195898303902064[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-4548/providers/Microsoft.Logic/workflows/workflow6567/runs/08585401021958983039020648952CU16?api-version=2019-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-4548/providers/Microsoft.Logic/workflows/workflow6567/runs/08585401021958983039020648952CU16/actions?api-version=2019-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "inputsLink": {
                "uri": "https://prod-01.centralus.logic.azure.com:443/workflows/141014d645d14273865f5b5c9e5466d1/runs/08585401021958983039020648952CU16/actions/Response/contents/ActionInputs?api-version=2019-05-01\u0026se=2022-08-26T13%3A00%3A00.0000000Z\u0026sp=%2Fruns%2F08585401021958983039020648952CU16%2Factions%2FResponse%2Fcontents%2FActionInputs%2Fread\u0026sv=1.0\u0026sig=xeM_T0nkLy8Ih5rp7U1iO5HMglbmw5F569mBOFYwDZw",
                "contentSize": 20
              },
              "startTime": "2022-08-26T09:04:49.8248519Z",
              "endTime": "2022-08-26T09:04:49.8248519Z",
              "correlation": {
                "actionTrackingId": "efa91b45-c7a7-40a4-bd43-c61d9f76d4db",
                "clientTrackingId": "08585401021958983039020648952CU16"
              },
              "status": "Skipped",
              "code": "ActionResponseSkipped",
              "error": {
                "code": "ActionResponseSkipped",
                "message": "The execution of template action \u0027Response\u0027 is skipped: the client application is not waiting for a response from service."
              }
            },
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-4548/providers/Microsoft.Logic/workflows/workflow6567/runs/08585401021958983039020648952CU16/actions/Response",
            "name": "Response",
            "type": "Microsoft.Logic/workflows/runs/actions"
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1771928524",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
