{
  "Entries": [
    {
      "RequestUri": "/subscriptions/63d7e191-c910-43ba-908f-252519936998/providers/Microsoft.LabServices/labs?api-version=2021-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "0HMCCRGIJ37LR:00000001",
          "0HMCAK524A64O:00000001",
          "0HMCCSEC9TTRB:00000001",
          "0HMCAI12CQC9D:00000001",
          "0HMCAJ8RU60MK:00000001"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"state\": \"Draft\",\r\n        \"autoShutdownProfile\": {\r\n          \"shutdownOnDisconnect\": \"Disabled\",\r\n          \"shutdownWhenNotConnected\": \"Disabled\",\r\n          \"shutdownOnIdle\": \"None\"\r\n        },\r\n        \"connectionProfile\": {\r\n          \"webSshAccess\": \"None\",\r\n          \"webRdpAccess\": \"None\",\r\n          \"clientSshAccess\": \"None\",\r\n          \"clientRdpAccess\": \"Public\"\r\n        },\r\n        \"virtualMachineProfile\": {\r\n          \"createOption\": \"TemplateVM\",\r\n          \"imageReference\": {\r\n            \"offer\": \"Windows-10\",\r\n            \"publisher\": \"MicrosoftWindowsDesktop\",\r\n            \"sku\": \"20h2-pro\",\r\n            \"version\": \"latest\"\r\n          },\r\n          \"osType\": \"Windows\",\r\n          \"sku\": {\r\n            \"name\": \"Standard\",\r\n            \"capacity\": 2\r\n          },\r\n          \"additionalCapabilities\": {\r\n            \"installGpuDrivers\": \"Disabled\"\r\n          },\r\n          \"usageQuota\": \"PT0S\",\r\n          \"useSharedPassword\": \"Disabled\",\r\n          \"adminUser\": {\r\n            \"username\": \"testuser\"\r\n          }\r\n        },\r\n        \"securityProfile\": {\r\n          \"registrationCode\": \"myvl7nasmkjuvpiribiyuoawh4\",\r\n          \"openAccess\": \"Disabled\"\r\n        },\r\n        \"labPlanId\": \"/subscriptions/63d7e191-c910-43ba-908f-252519936998/resourceGroups/powershell-sdk-testing/providers/Microsoft.LabServices/labPlans/labplan-unit-powershell\",\r\n        \"title\": \"LAB lab-unit-powershell\",\r\n        \"description\": \"DESCRIPTION lab-unit-powershell\"\r\n      },\r\n      \"location\": \"westcentralus\",\r\n      \"id\": \"/subscriptions/63d7e191-c910-43ba-908f-252519936998/resourceGroups/powershell-sdk-testing/providers/Microsoft.LabServices/labs/lab-unit-powershell\",\r\n      \"name\": \"lab-unit-powershell\",\r\n      \"type\": \"Microsoft.LabServices/labs\"\r\n    },\r\n    {\r\n      \"systemData\": {\r\n        \"createdBy\": \"rbest@microsoft.com\",\r\n        \"createdByType\": \"User\",\r\n        \"createdAt\": \"2021-10-09T01:33:20.050804Z\",\r\n        \"lastModifiedBy\": \"rbest@microsoft.com\",\r\n        \"lastModifiedByType\": \"User\",\r\n        \"lastModifiedAt\": \"2021-10-09T01:33:20.050804Z\"\r\n      },\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"state\": \"Draft\",\r\n        \"autoShutdownProfile\": {\r\n          \"shutdownOnDisconnect\": \"Disabled\",\r\n          \"shutdownWhenNotConnected\": \"Disabled\",\r\n          \"shutdownOnIdle\": \"None\"\r\n        },\r\n        \"connectionProfile\": {\r\n          \"webSshAccess\": \"None\",\r\n          \"webRdpAccess\": \"None\",\r\n          \"clientSsh[...]
