{
  "Entries": [
    {
      "RequestUri": "/subscriptions/63d7e191-c910-43ba-908f-252519936998/providers/Microsoft.LabServices/labs?api-version=2021-11-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "0HMEUU9J48DRP:00000001",
          "0HMEVO1VG9CKC:00000001",
          "0HMEVO6IBDVG0:00000001",
          "0HMF0IVAPAC44:00000001",
          "0HMF098KLGCO1:00000001"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"systemData\": {\r\n        \"createdBy\": \"c7bb12bf-0b39-4f7f-9171-f418ff39b76a\",\r\n        \"createdByType\": \"Application\",\r\n        \"createdAt\": \"2021-11-12T18:03:27.705822Z\",\r\n        \"lastModifiedBy\": \"c7bb12bf-0b39-4f7f-9171-f418ff39b76a\",\r\n        \"lastModifiedByType\": \"Application\",\r\n        \"lastModifiedAt\": \"2021-11-12T22:47:42.6735092Z\"\r\n      },\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"networkProfile\": {},\r\n        \"state\": \"Published\",\r\n        \"autoShutdownProfile\": {\r\n          \"shutdownOnDisconnect\": \"Disabled\",\r\n          \"shutdownWhenNotConnected\": \"Disabled\",\r\n          \"shutdownOnIdle\": \"LowUsage\",\r\n          \"disconnectDelay\": \"PT0S\",\r\n          \"noConnectDelay\": \"PT15M\",\r\n          \"idleDelay\": \"PT15M\"\r\n        },\r\n        \"connectionProfile\": {\r\n          \"webSshAccess\": \"None\",\r\n          \"webRdpAccess\": \"None\",\r\n          \"clientSshAccess\": \"None\",\r\n          \"clientRdpAccess\": \"Public\"\r\n        },\r\n        \"virtualMachineProfile\": {\r\n          \"createOption\": \"TemplateVM\",\r\n          \"imageReference\": {\r\n            \"offer\": \"Windows-10\",\r\n            \"publisher\": \"MicrosoftWindowsDesktop\",\r\n            \"sku\": \"20h2-pro\",\r\n            \"version\": \"latest\"\r\n          },\r\n          \"osType\": \"Windows\",\r\n          \"sku\": {\r\n            \"name\": \"Basic\",\r\n            \"capacity\": 3\r\n          },\r\n          \"additionalCapabilities\": {\r\n            \"installGpuDrivers\": \"Disabled\"\r\n          },\r\n          \"usageQuota\": \"PT10H\",\r\n          \"useSharedPassword\": \"Enabled\",\r\n          \"adminUser\": {\r\n            \"username\": \"vmuser\"\r\n          }\r\n        },\r\n        \"securityProfile\": {\r\n          \"registrationCode\": \"gmfxbqt0q\",\r\n          \"openAccess\": \"Disabled\"\r\n        },\r\n        \"rosterProfile\": {},\r\n        \"labPlanId\": \"/subscriptions/63d7e191-c910-43ba-908f-252519936998/resourceGroups/mylabrg/providers/Microsoft.LabServices/labPlans/mylabplan\",\r\n        \"title\": \"Java 101 Lab\"\r\n      },\r\n      \"location\": \"eastus\",\r\n      \"id\": \"/subscriptions/63d7e191-c910-43ba-908f-252519936998/resourceGroups/mylabrg/providers/Microsoft.LabServices/labs/Java 101 Lab\",\r\n      \"name\": \"Java 101 Lab\",\r\n      \"type\": \"Microsoft.LabServices/labs\"\r\n    },\r\n    {\r\n      \"systemData\": {\r\n        \"createdBy\": \"c7bb12bf-0b39-4f7f-9171-f418ff39b76a\",\r\n        \"createdByType\": \"Application\",\r\n        \"createdAt\": \"2021-11-13T21:54:03.0954191Z\",\r\n        \"lastModifiedBy\": \"c7bb12bf-0b39-4f7f-9171-f418ff39b76a\",\r\n        \"lastModifiedByType\": \"Application\",\r\n        \"lastModifiedAt\": \"2021-11-13T21:54:03.0954191Z\"\r\n      },\r\n      \"properties\": {\r\n        \"provis[...]
