{
  "Entries": [
    {
      "RequestUri": "/subscriptions/63d7e191-c910-43ba-908f-252519936998/resourceGroups/labservices-sdk-testing/providers/Microsoft.LabServices/labs/test-sdk-lab?api-version=2021-10-01-preview",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"title\": \"new title\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "api-supported-versions": [
          "2020-05-01-preview, 2021-10-01-preview"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"systemData\": {\r\n    \"createdBy\": \"4a3eb18c-e705-400a-8461-78eadf7acb48\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2021-10-11T19:12:44.6201258Z\",\r\n    \"lastModifiedBy\": \"4a3eb18c-e705-400a-8461-78eadf7acb48\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2021-10-11T19:18:46.7109615Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"state\": \"Draft\",\r\n    \"autoShutdownProfile\": {\r\n      \"shutdownOnDisconnect\": \"Disabled\",\r\n      \"shutdownWhenNotConnected\": \"Disabled\",\r\n      \"shutdownOnIdle\": \"UserAbsence\",\r\n      \"idleDelay\": \"PT15M\"\r\n    },\r\n    \"connectionProfile\": {\r\n      \"webSshAccess\": \"None\",\r\n      \"webRdpAccess\": \"None\",\r\n      \"clientSshAccess\": \"Public\",\r\n      \"clientRdpAccess\": \"Public\"\r\n    },\r\n    \"virtualMachineProfile\": {\r\n      \"createOption\": \"TemplateVM\",\r\n      \"imageReference\": {\r\n        \"offer\": \"0001-com-ubuntu-server-focal\",\r\n        \"publisher\": \"canonical\",\r\n        \"sku\": \"20_04-lts\",\r\n        \"version\": \"latest\"\r\n      },\r\n      \"osType\": \"Linux\",\r\n      \"sku\": {\r\n        \"name\": \"Basic\",\r\n        \"capacity\": 0\r\n      },\r\n      \"additionalCapabilities\": {\r\n        \"installGpuDrivers\": \"Disabled\"\r\n      },\r\n      \"usageQuota\": \"PT2H\",\r\n      \"useSharedPassword\": \"Enabled\",\r\n      \"adminUser\": {\r\n        \"username\": \"student\"\r\n      }\r\n    },\r\n    \"securityProfile\": {\r\n      \"registrationCode\": \"ba5uugkmddfu3l7u5qzmiyu5re\",\r\n      \"openAccess\": \"Disabled\"\r\n    },\r\n    \"title\": \"new title\"\r\n  },\r\n  \"location\": \"westus\",\r\n  \"id\": \"/subscriptions/63d7e191-c910-43ba-908f-252519936998/resourceGroups/labservices-sdk-testing/providers/Microsoft.LabServices/labs/test-sdk-lab\",\r\n  \"name\": \"test-sdk-lab\",\r\n  \"type\": \"Microsoft.LabServices/labs\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "63d7e191-c910-43ba-908f-252519936998"
  }
}