{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourcegroups/lucas-rg-test?api-version=2019-10-01",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.ContainerInstance?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.ContainerInstance",
        "namespace": "Microsoft.ContainerInstance",
        "authorizations": [
          {
            "applicationId": "6bb8e274-af5d-4df2-98a3-4fd78b4cafd9",
            "roleDefinitionId": "3c60422b-a83a-428d-9830-22609c77aa6c"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "containerGroups",
            "locations": [
              "West Central US",
              "West US",
              "East US",
              "West Europe",
              "West US 2",
              "North Europe",
              "Southeast Asia",
              "East US 2",
              "Central US",
              "Australia East",
              "UK South",
              "South Central US",
              "Central India",
              "Brazil South",
              "South India",
              "North Central US",
              "East Asia",
              "Canada Central",
              "Japan East",
              "Korea Central",
              "France Central",
              "Switzerland North",
              "Germany West Central",
              "UAE North"
            ],
            "apiVersions": [
              "2020-11-01",
              "2019-12-01",
              "2018-10-01",
              "2018-09-01",
              "2018-07-01",
              "2018-06-01",
              "2018-04-01",
              "2018-02-01-preview",
              "2017-12-01-preview",
              "2017-10-01-preview",
              "2017-08-01-preview"
            ],
            "capabilities": "SystemAssignedResourceIdentity, SupportsTags, SupportsLocation"
          },
          {
            "resourceType": "serviceAssociationLinks",
            "locations": [
              "West Central US",
              "West US",
              "East US",
              "West Europe",
              "West US 2",
              "North Europe",
              "Southeast Asia",
              "East US 2",
              "Central US",
              "Australia East",
              "UK South",
             [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/lucas-rg-test/providers/Microsoft.ContainerInstance/containerGroups/sdk-containergroup-6916?api-version=2020-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "SystemAssigned"
        },
        "location": "westus",
        "properties": {
          "containers": [
            {
              "name": "sdk-containergroup-6916",
              "properties": {
                "image": "alpine",
                "resources": {
                  "requests": {
                    "memoryInGB": 1.5,
                    "cpu": 1
                  }
                },
                "livenessProbe": {
                  "exec": {
                    "command": [
                      "ls"
                    ]
                  },
                  "periodSeconds": 20
                }
              }
            }
          ],
          "restartPolicy": "Never",
          "osType": "Linux",
          "diagnostics": {
            "logAnalytics": {
              "workspaceId": "workspaceid",
              "workspaceKey": "workspacekey"
            }
          },
          "sku": "Standard",
          "encryptionProperties": {
            "vaultBaseUrl": "https://cloudaci-cloudtest.vault.azure.net/",
            "keyName": "testencryptionkey",
            "keyVersion": "804d3f1d5ce2456b9bc3dc9e35aaa67e"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.ContainerInstance/locations/westus/operations/4f494fd4-4031-4407-a601-b9d0645ad53a?api-version=2018-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests-pt1h": "299",
        "x-ms-ratelimit-remaining-subscription-resource-requests-pt5m": "99",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "properties": {
          "sku": "Standard",
          "encryptionProperties": {
            "vaultBaseUrl": "https://cloudaci-cloudtest.vault.azure.net/",
            "keyName": "testencryptionkey",
            "keyVersion": "804d3f1d5ce2456b9bc3dc9e35aaa67e"
          },
          "provisioningState": "Pending",
          "containers": [
            {
              "name": "sdk-containergroup-6916",
              "properties": {
                "image": "alpine",
                "ports": [],
                "environmentVariables": [],
                "resources": {
                  "requests": {
                    "memoryInGB": 1.5,
                    "cpu": 1.0
                  }
                },
                "livenessProbe": {
                  "exec": {
                    "command": [
                      "ls"
                    ]
                  },
                  "periodSeconds": 20
                }
              }
            }
          ],
          "initContainers": [],
          "restartPolicy": "Never",
          "osType": "Linux",
          "instanceView": {
            "events": [],
            "state": "Pending"
          },
          "diagnostics": {
            "logAnalytics": {
              "workspaceId": "workspaceid"
            }
          }
        },
        "identity": {
          "principalId": "f94a5593-3330-496b-bc8d-f533aa9cb03f",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "type": "SystemAssigned"
        },
        "id": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/lucas-rg-test/providers/Microsoft.ContainerInstance/containerGroups/sdk-containergroup-6916",
        "name": "sdk-containergroup-6916",
        "type": "Microsoft.ContainerInstance/containerGroups",
        "location": "westus"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.ContainerInstance/locations/westus/operations/4f494fd4-4031-4407-a601-b9d0645ad53a?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/lucas-rg-test/providers/Microsoft.ContainerInstance/containerGroups/sdk-containergroup-6916",
        "status": "Pending",
        "startTime": "2021-01-19T08:05:21.9150398Z",
        "properties": {
          "events": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.ContainerInstance/locations/westus/operations/4f494fd4-4031-4407-a601-b9d0645ad53a?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11990"
      },
      "ResponseBody": {
        "id": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/lucas-rg-test/providers/Microsoft.ContainerInstance/containerGroups/sdk-containergroup-6916",
        "status": "Succeeded",
        "startTime": "2021-01-19T08:05:21.9150398Z",
        "properties": {
          "events": [
            {
              "count": 1,
              "firstTimestamp": "2021-01-19T08:05:27Z",
              "lastTimestamp": "2021-01-19T08:05:27Z",
              "name": "Pulling",
              "message": "pulling image \u0022alpine\u0022",
              "type": "Normal"
            },
            {
              "count": 1,
              "firstTimestamp": "2021-01-19T08:05:31Z",
              "lastTimestamp": "2021-01-19T08:05:31Z",
              "name": "Pulled",
              "message": "Successfully pulled image \u0022alpine\u0022",
              "type": "Normal"
            },
            {
              "count": 1,
              "firstTimestamp": "2021-01-19T08:05:31Z",
              "lastTimestamp": "2021-01-19T08:05:31Z",
              "name": "Created",
              "message": "Created container",
              "type": "Normal"
            },
            {
              "count": 1,
              "firstTimestamp": "2021-01-19T08:05:32Z",
              "lastTimestamp": "2021-01-19T08:05:32Z",
              "name": "Started",
              "message": "Started container",
              "type": "Normal"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/lucas-rg-test/providers/Microsoft.ContainerInstance/containerGroups/sdk-containergroup-6916?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "properties": {
          "sku": "Standard",
          "encryptionProperties": {
            "vaultBaseUrl": "https://cloudaci-cloudtest.vault.azure.net/",
            "keyName": "testencryptionkey",
            "keyVersion": "804d3f1d5ce2456b9bc3dc9e35aaa67e"
          },
          "provisioningState": "Succeeded",
          "containers": [
            {
              "name": "sdk-containergroup-6916",
              "properties": {
                "image": "alpine",
                "ports": [],
                "environmentVariables": [],
                "instanceView": {
                  "restartCount": 0,
                  "currentState": {
                    "state": "Terminated",
                    "startTime": "2021-01-19T08:05:31Z",
                    "exitCode": 0,
                    "finishTime": "2021-01-19T08:05:31Z",
                    "detailStatus": "Completed"
                  },
                  "events": [
                    {
                      "count": 1,
                      "firstTimestamp": "2021-01-19T08:05:27Z",
                      "lastTimestamp": "2021-01-19T08:05:27Z",
                      "name": "Pulling",
                      "message": "pulling image \u0022alpine\u0022",
                      "type": "Normal"
                    },
                    {
                      "count": 1,
                      "fi[...]
