{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.ContainerInstance?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11865"
      },
      "ResponseBody": {
        "id": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.ContainerInstance",
        "namespace": "Microsoft.ContainerInstance",
        "authorizations": [
          {
            "applicationId": "6bb8e274-af5d-4df2-98a3-4fd78b4cafd9",
            "roleDefinitionId": "3c60422b-a83a-428d-9830-22609c77aa6c"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "containerGroups",
            "locations": [
              "West Central US",
              "West US",
              "East US",
              "West Europe",
              "West US 2",
              "North Europe",
              "Southeast Asia",
              "East US 2",
              "Central US",
              "Australia East",
              "UK South",
              "South Central US",
              "Central India",
              "Brazil South",
              "South India",
              "North Central US",
              "East Asia",
              "Canada Central",
              "Japan East",
              "Korea Central",
              "France Central",
              "Switzerland North",
              "Germany West Central",
              "UAE North"
            ],
            "apiVersions": [
              "2020-11-01",
              "2019-12-01",
              "2018-10-01",
              "2018-09-01",
              "2018-07-01",
              "2018-06-01",
              "2018-04-01",
              "2018-02-01-preview",
              "2017-12-01-preview",
              "2017-10-01-preview",
              "2017-08-01-preview"
            ],
            "capabilities": "SystemAssignedResourceIdentity, SupportsTags, SupportsLocation"
          },
          {
            "resourceType": "serviceAssociationLinks",
            "locations": [
              "West Central US",
              "West US",
              "East US",
              "West Europe",
              "West US 2",
              "North Europe",
              "Southeast Asia",
              "East US 2",
              "Central US",
              "Australia East",
              "UK South",
             [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourcegroups/containerInstance-rg-test645?api-version=2019-10-01",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway",
        "x-ms-ratelimit-remaining-subscription-reads": "11864"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourcegroups/containerInstance-rg-test645?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "West Central US"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1183"
      },
      "ResponseBody": {
        "id": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/containerInstance-rg-test645",
        "name": "containerInstance-rg-test645",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westcentralus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/containerInstance-rg-test645/providers/Microsoft.ContainerInstance/containerGroups/sdk-containergroup-1633?api-version=2020-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "SystemAssigned"
        },
        "location": "West Central US",
        "properties": {
          "containers": [
            {
              "name": "sdk-containergroup-1633",
              "properties": {
                "image": "alpine",
                "command": [
                  "/bin/sh",
                  "-c",
                  "while true; do sleep 10; done"
                ],
                "ports": [
                  {
                    "port": 8000
                  }
                ],
                "environmentVariables": [
                  {
                    "name": "secretEnv",
                    "secureValue": "secretValue1"
                  }
                ],
                "resources": {
                  "requests": {
                    "memoryInGB": 1.5,
                    "cpu": 1
                  }
                },
                "livenessProbe": {
                  "exec": {
                    "command": [
                      "ls"
                    ]
                  },
                  "periodSeconds": 20
                }
              }
            }
          ],
          "restartPolicy": "Never",
          "ipAddress": {
            "ports": [
              {
                "protocol": "TCP",
                "port": 8000
              }
            ],
            "type": "Public",
            "dnsNameLabel": "sdk-containergroup-1633"
          },
          "osType": "Linux",
          "diagnostics": {
            "logAnalytics": {
              "workspaceId": "workspaceid",
              "workspaceKey": "workspacekey"
            }
          },
          "sku": "Standard",
          "encryptionProperties": {
            "vaultBaseUrl": "https://cloudaci-cloudtest.vault.azure.net/",
            "keyName": "testencryptionkey",
            "keyVersion": "804d3f1d5ce2456b9bc3dc9e35aaa67e"
          },
          "initContainers": [
            {
              "name": "sdk-containergroup-1633init",
              "properties": {
                "image": "alpine"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.ContainerInstance/locations/westcentralus/operations/36a4e49f-5f10-48b1-8224-0f0163dc2df1?api-version=2018-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests-pt1h": "293",
        "x-ms-ratelimit-remaining-subscription-resource-requests-pt5m": "93",
        "x-ms-ratelimit-remaining-subscription-writes": "1182"
    [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.ContainerInstance/locations/westcentralus/operations/36a4e49f-5f10-48b1-8224-0f0163dc2df1?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11863"
      },
      "ResponseBody": {
        "id": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/containerInstance-rg-test645/providers/Microsoft.ContainerInstance/containerGroups/sdk-containergroup-1633",
        "status": "Pending",
        "startTime": "2021-01-20T07:36:59.0593066Z",
        "properties": {
          "events": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.ContainerInstance/locations/westcentralus/operations/36a4e49f-5f10-48b1-8224-0f0163dc2df1?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11848"
      },
      "ResponseBody": {
        "id": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/containerInstance-rg-test645/providers/Microsoft.ContainerInstance/containerGroups/sdk-containergroup-1633",
        "status": "Succeeded",
        "startTime": "2021-01-20T07:36:59.0593066Z",
        "properties": {
          "events": [
            {
              "count": 1,
              "firstTimestamp": "2021-01-20T07:37:13Z",
              "lastTimestamp": "2021-01-20T07:37:13Z",
              "name": "Pulling",
              "message": "pulling image \u0022alpine\u0022",
              "type": "Normal"
            },
            {
              "count": 1,
              "firstTimestamp": "2021-01-20T07:37:16Z",
              "lastTimestamp": "2021-01-20T07:37:16Z",
              "name": "Pulled",
              "message": "Successfully pulled image \u0022alpine\u0022",
              "type": "Normal"
            },
            {
              "count": 1,
              "firstTimestamp": "2021-01-20T07:37:16Z",
              "lastTimestamp": "2021-01-20T07:37:16Z",
              "name": "Created",
              "message": "Created container",
              "type": "Normal"
            },
            {
              "count": 1,
              "firstTimestamp": "2021-01-20T07:37:16Z",
              "lastTimestamp": "2021-01-20T07:37:16Z",
              "name": "Started",
              "message": "Started container",
              "type": "Normal"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/containerInstance-rg-test645/providers/Microsoft.ContainerInstance/containerGroups/sdk-containergroup-1633?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11847"
      },
      "ResponseBody": {
        "properties": {
          "sku": "Standard",
          "encryptionProperties": {
            "vaultBaseUrl": "https://cloudaci-cloudtest.vault.azure.net/",
            "keyName": "testencryptionkey",
            "keyVersion": "804d3f1d5ce2456b9bc3dc9e35aaa67e"
          },
          "provisioningState": "Succeeded",
          "containers": [
            {
              "name": "sdk-containergroup-1633",
              "properties": {
                "image": "alpine",
                "command": [
                  "/bin/sh",
                  "-c",
                  "while true; do sleep 10; done"
                ],
                "ports": [
                  {
                    "port": 8000
                  }
                ],
                "environmentVariables": [
                  {
                    "name": "secretEnv"
                  }
                ],
                "instanceView": {
                  "restartCount": 0,
                  "currentState": {
                    "state": "Running",
                    "startTime": "2021-01-20T07:37:16Z",
                    "detailStatus": ""
                  },
                  "events": [
                    {
                      "count": 1,
                      "firstTimestamp": "2021-01-20T07:37:13Z",
                      "lastTimestamp": "2021-01-20T07:37:13Z",
                      "name": "Pulling",
                      "message": "pulling image \u0022alpine\u0022",
                      "type": "Normal"
                    },
                    {
                      "count": 1,
                      "firstTimest[...]
