{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications?api-version=1.42-previewInternal",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"adApplication7233\",\r\n  \"homepage\": \"http://adApplication7233/home\",\r\n  \"identifierUris\": [\r\n    \"http://adApplication7233/home\"\r\n  ],\r\n  \"replyUrls\": [\r\n    \"http://adApplication7233/home\"\r\n  ],\r\n  \"passwordCredentials\": [\r\n    {\r\n      \"startDate\": \"2015-09-17T19:41:00.6753044Z\",\r\n      \"endDate\": \"2016-09-17T19:41:00.6753044Z\",\r\n      \"keyId\": \"d9242c97-691b-4229-8392-4bf28e10a35e\",\r\n      \"value\": \"WvqVO1eUQ4gDDyHyMN2EFC05/ys9iNSEM+yzjdINWa0=\"\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.WindowsAzure.ActiveDirectory.Application/@Element\",\r\n  \"odata.type\": \"Microsoft.WindowsAzure.ActiveDirectory.Application\",\r\n  \"objectType\": \"Application\",\r\n  \"objectId\": \"520e9950-2a19-4e6e-a008-de9a71c1d794\",\r\n  \"softDeletionTimestamp\": null,\r\n  \"appId\": \"81ba644a-e652-4ebe-925d-cae20e21959b\",\r\n  \"appMetadata\": null,\r\n  \"appPermissions\": [\r\n    {\r\n      \"claimValue\": \"user_impersonation\",\r\n      \"description\": \"Allow the application to access adApplication7233 on behalf of the signed-in user.\",\r\n      \"directAccessGrantTypes\": [],\r\n      \"displayName\": \"Access adApplication7233\",\r\n      \"impersonationAccessGrantTypes\": [\r\n        {\r\n          \"impersonated\": \"User\",\r\n          \"impersonator\": \"Application\"\r\n        }\r\n      ],\r\n      \"isDisabled\": false,\r\n      \"origin\": \"Application\",\r\n      \"permissionId\": \"df7efd83-3c8d-4032-aa72-d6a618e0f267\",\r\n      \"resourceScopeType\": \"Personal\",\r\n      \"userConsentDescription\": \"Allow the application to access adApplication7233 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access adApplication7233\",\r\n      \"lang\": null\r\n    }\r\n  ],\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"adApplication7233\",\r\n  \"errorUrl\": null,\r\n  \"homepage\": \"http://adApplication7233/home\",\r\n  \"identifierUris\": [\r\n    \"http://adApplication7233/home\"\r\n  ],\r\n  \"keyCredentials\": [],\r\n  \"knownClientApplications\": [],\r\n  \"logoutUrl\": null,\r\n  \"passwordCredentials\": [\r\n    {\r\n      \"customKeyIdentifier\": null,\r\n      \"endDate\": \"2016-09-17T19:41:00.6753044Z\",\r\n      \"keyId\": \"d9242c97-691b-4229-8392-4bf28e10a35e\",\r\n      \"startDate\": \"2015-09-17T19:41:00.6753044Z\",\r\n      \"value\": null\r\n    }\r\n  ],\r\n  \"oAuth2AllowImplicitFlow\": false,\r\n  \"oAuth2AllowUrlPathMatching\": false,\r\n  \"oAuth2RequirePostResponse\": false,\r\n  \"publicClient\": null,\r\n  \"replyUrls\": [\r\n    \"http://adApplication7233/home\"\r\n  ],\r\n  \"requiredResourceAccess\": [],\r\n  \"resourceApplicationSet\": null,\r\n  \"samlMetadataUrl\": null,\r\n  \"webApi\": null,\r\n  \"webApp\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "OJEDlpO1nWkFXNc0DSj2m0k+EJetYq/Grjd02KZTLl8="
        ],
        "x-ms-gateway-rewrite": [
          "false"
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.42-previewInternal"
        ],
        "ocp-aad-session-key": [
          "UAqxntDR35JSkmxlEXz_IIhtq9WSV9TcKHJamCt-KpbLH_nY1bvesAsit7zYRdE9Kpzzsk4N3UTDdC6sKNgQVnD_0oNaqoYPaDbsErf8MN83N84Hxzg7ZlfjLKn0B1lSd-ki2M2GTQV8uwYVbKTghuMPSCCAVMCFJhYfQM0dgUbvWMcoX579SwE_tZk-MHcvm4KZ8ESjfRol-pKbrx9ozw.CO_kHBxDPvPcgRTSPWOD3D0lCdILcTJMUF04xqORIew"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "13684385"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/520e9950-2a19-4e6e-a008-de9a71c1d794/Microsoft.WindowsAzure.ActiveDirectory.Application"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals?api-version=1.42-previewInternal",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"appId\": \"81ba644a-e652-4ebe-925d-cae20e21959b\",\r\n  \"accountEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.WindowsAzure.ActiveDirectory.ServicePrincipal/@Element\",\r\n  \"odata.type\": \"Microsoft.WindowsAzure.ActiveDirectory.ServicePrincipal\",\r\n  \"objectType\": \"ServicePrincipal\",\r\n  \"objectId\": \"e74fb1d5-d47a-4727-a3c5-b1d3c090087b\",\r\n  \"softDeletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"appDisplayName\": \"adApplication7233\",\r\n  \"appId\": \"81ba644a-e652-4ebe-925d-cae20e21959b\",\r\n  \"appMetadata\": null,\r\n  \"appOwnerTenantId\": \"1273adef-00a3-4086-a51a-dbcce1857d36\",\r\n  \"appPermissions\": [\r\n    {\r\n      \"claimValue\": \"user_impersonation\",\r\n      \"description\": \"Allow the application to access adApplication7233 on behalf of the signed-in user.\",\r\n      \"directAccessGrantTypes\": [],\r\n      \"displayName\": \"Access adApplication7233\",\r\n      \"impersonationAccessGrantTypes\": [\r\n        {\r\n          \"impersonated\": \"User\",\r\n          \"impersonator\": \"Application\"\r\n        }\r\n      ],\r\n      \"isDisabled\": false,\r\n      \"origin\": \"Application\",\r\n      \"permissionId\": \"df7efd83-3c8d-4032-aa72-d6a618e0f267\",\r\n      \"resourceScopeType\": \"Personal\",\r\n      \"userConsentDescription\": \"Allow the application to access adApplication7233 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access adApplication7233\",\r\n      \"lang\": null\r\n    }\r\n  ],\r\n  \"authenticationPolicy\": null,\r\n  \"displayName\": \"adApplication7233\",\r\n  \"errorUrl\": null,\r\n  \"explicitAccessGrantRequired\": false,\r\n  \"homepage\": \"http://adApplication7233/home\",\r\n  \"keyCredentials\": [],\r\n  \"logoutUrl\": null,\r\n  \"microsoftFirstParty\": null,\r\n  \"passwordCredentials\": [],\r\n  \"publisherName\": \"rbacCliTestDirectory\",\r\n  \"replyUrls\": [\r\n    \"http://adApplication7233/home\"\r\n  ],\r\n  \"resourceApplicationSet\": null,\r\n  \"samlMetadataUrl\": null,\r\n  \"servicePrincipalNames\": [\r\n    \"81ba644a-e652-4ebe-925d-cae20e21959b\",\r\n    \"http://adApplication7233/home\"\r\n  ],\r\n  \"tags\": [],\r\n  \"webApi\": null,\r\n  \"webApp\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "7o7JCpvAMOsv7MtA28AXtuiWTyXc17omlletNDE/OUM="
        ],
        "x-ms-gateway-rewrite": [
          "false"
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.42-previewInternal"
        ],
        "ocp-aad-session-key": [
          "VCb5kOQAP9LhNsd17cvOsuvotmIBkeeF0UJ8XoVn-kPrsHMw_X1iRQofhta1ekwox7-0DN0qVfpH-HFufNQIqfvJkRND5de3oLwiEU2xMgtIn8sBC5OAXYZodrd9hW2mJKGrSZWHrJX7cxuFjkOUuiqyai12yDYP14OjWMK_z_Ei_ufbFb_E7PwDWhVHCpjeEqIBw09zPcEO9quh67YO3g.0GNVRb4EsXjcjqP8lajre6wkkHuOP6E6MepZryPaExg"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "27976258"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/e74fb1d5-d47a-4727-a3c5-b1d3c090087b/Microsoft.WindowsAzure.ActiveDirectory.ServicePrincipal"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals/e74fb1d5-d47a-4727-a3c5-b1d3c090087b?api-version=1.42-previewInternal",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "OJEDlpO1nWkFXNc0DSj2m0k+EJetYq/Grjd02KZTLl8="
        ],
        "x-ms-gateway-rewrite": [
          "false"
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.42-previewInternal"
        ],
        "ocp-aad-session-key": [
          "gWLFY6P7cNi4APpFou9Ej3DrQfqfSr5xVmdL_Q1R1xZrmQx2HAq4uhgt1gXc4wVj5Xd3NwB3EZk8aEU95WV2MM7ocjBk-y1-Fk5t_fS8h6vSYt8LFXt2G9stZdc5oakSy5WhHfCCLZ3TBN0H-vb94ZhXecTUxltgVUzjbLbGfbZK7_dLPHYrXil9y-TV5IbBYjHlKvrzcGvt-R3pw55etg.HLn_7_EfdH8Nmt8M5e2McXNgk2a6U6rwpwJnSfRdc3Q"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "2679367"
        ]
      },
      "StatusCode": 204
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications/520e9950-2a19-4e6e-a008-de9a71c1d794?api-version=1.42-previewInternal",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "7o7JCpvAMOsv7MtA28AXtuiWTyXc17omlletNDE/OUM="
        ],
        "x-ms-gateway-rewrite": [
          "false"
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.42-previewInternal"
        ],
        "ocp-aad-session-key": [
          "eB6TpzZTDuci1v4cRA3vQbGI15LAZvnanwrXwh-YGE07sg45FjK9VxvHfAfzv0twar-xwntwXO6XlTzmtjBxq_ssk6gyhn-oAGQ8F9P5FhOeB5-wHyXJmCXylKVWQKQ2WRTiWy-0EbMv2lDZeih4whQ_b-jnB6JoZhDGN-yKF7FvZhHDU3jQYpWyNOTvauEvEPsUrgAvgL8OscIFZqDUFA.zgadtN-axi4B_RuDAtQPKYqguCgIgsDpmsYuj_9VAKU"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "5289416"
        ]
      },
      "StatusCode": 204
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals/e74fb1d5-d47a-4727-a3c5-b1d3c090087b?api-version=1.42-previewInternal",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.error\": {\r\n    \"code\": \"Request_ResourceNotFound\",\r\n    \"message\": {\r\n      \"lang\": \"en\",\r\n      \"value\": \"Resource 'e74fb1d5-d47a-4727-a3c5-b1d3c090087b' does not exist or one of its queried reference-property objects are not present.\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "OwiQwVxuZXWAznx4rYbzGrX1SXicMuwxX8McepXFTKk="
        ],
        "x-ms-gateway-rewrite": [
          "false"
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.42-previewInternal"
        ],
        "ocp-aad-session-key": [
          "p6MPLcA81WnTHTgSvANq2Uybh3RwOvM20SfSxl5YxQ-neTmqsyFzjOrNTWWZAGq1QxsHaLYHouJaNW6Ss7tN-qYw9E2zBu8nghOWDxGVJX0j9J2gZwwBKRy6MywdvaNF8wL1ye1rDqPYYwKDAx7_DoUPYBtTQBMkGVK8l0tOUAWUlmkz9g5Tfobfey8nBRHOxuJDIu3AwjKWJqUk4rK27A.XxNbC9HzCU0VdwO3Jvry4GOhG02l7svR_5ldhX8SPy8"
        ],
        "Duration": [
          "901569"
        ]
      },
      "StatusCode": 404
    }
  ],
  "Names": {
    "CreateApplication": [
      "adApplication7233"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacCliTest.onmicrosoft.com"
  }
}