{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11982"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tagValue1",
          "tagKey2": "tagValue2"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRg-1646?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1186"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-1646",
        "name": "testRg-1646",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-1646/providers/Microsoft.Authorization/policyAssignments/polAssign-8462?api-version=2020-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "displayName": "Test $polAssign-8462",
          "policyDefinitionId": "/providers/Microsoft.Authorization/policyDefinitions/06a78e20-9358-41c9-923c-fb736d382a4d"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1185"
      },
      "ResponseBody": {
        "properties": {
          "displayName": "Test $polAssign-8462",
          "policyDefinitionId": "/providers/Microsoft.Authorization/policyDefinitions/06a78e20-9358-41c9-923c-fb736d382a4d",
          "scope": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-1646",
          "metadata": {
            "createdBy": "7b8faa77-f564-4284-9992-813b178ef8e0",
            "createdOn": "2022-01-12T05:48:09.6632687Z",
            "updatedBy": null,
            "updatedOn": null
          },
          "enforcementMode": "Default"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-1646/providers/Microsoft.Authorization/policyAssignments/polAssign-8462",
        "type": "Microsoft.Authorization/policyAssignments",
        "name": "polAssign-8462"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-1646/providers/Microsoft.Authorization/policyExemptions/polExemp-4536?api-version=2020-07-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "policyAssignmentId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-1646/providers/Microsoft.Authorization/policyAssignments/polAssign-8462",
          "exemptionCategory": "Waiver"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1184"
      },
      "ResponseBody": {
        "properties": {
          "policyAssignmentId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-1646/providers/Microsoft.Authorization/policyAssignments/polAssign-8462",
          "exemptionCategory": "Waiver"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-1646/providers/Microsoft.Authorization/policyExemptions/polExemp-4536",
        "type": "Microsoft.Authorization/policyExemptions",
        "name": "polExemp-4536",
        "systemData": {
          "createdBy": "5dfc0a14-4ad9-4c2f-bb0c-3ee04536f56a",
          "createdByType": "Application",
          "createdAt": "2022-01-12T05:48:09.932094Z",
          "lastModifiedBy": "5dfc0a14-4ad9-4c2f-bb0c-3ee04536f56a",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-01-12T05:48:09.932094Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-1646/providers/Microsoft.Authorization/policyExemptions/polExemp-4536?api-version=2020-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11981"
      },
      "ResponseBody": {
        "properties": {
          "policyAssignmentId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-1646/providers/Microsoft.Authorization/policyAssignments/polAssign-8462",
          "exemptionCategory": "Waiver"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-1646/providers/Microsoft.Authorization/policyExemptions/polExemp-4536",
        "type": "Microsoft.Authorization/policyExemptions",
        "name": "polExemp-4536",
        "systemData": {
          "createdBy": "5dfc0a14-4ad9-4c2f-bb0c-3ee04536f56a",
          "createdByType": "Application",
          "createdAt": "2022-01-12T05:48:09.932094Z",
          "lastModifiedBy": "5dfc0a14-4ad9-4c2f-bb0c-3ee04536f56a",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-01-12T05:48:09.932094Z"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "38709602",
    "RESOURCE_MANAGER_URL": "https://management.azure.com",
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}