{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/042ebc40-492c-4e4e-a02a-c04b5ba7ee23?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/042ebc40-492c-4e4e-a02a-c04b5ba7ee23",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "avjerafi_tag1": "testing subscription-level alert 1",
          "avjerafi_tag2": "testing subscription-level alert 2",
          "avjerafi_tag3": "testing subscription-level alert 3",
          "avjerafi_tag4": "testing subscription-level alert 4"
        },
        "subscriptionId": "042ebc40-492c-4e4e-a02a-c04b5ba7ee23",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Alerts_AMP_Playground_DEV_00",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/042ebc40-492c-4e4e-a02a-c04b5ba7ee23/resourcegroups/testRg7367?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/042ebc40-492c-4e4e-a02a-c04b5ba7ee23/resourceGroups/testRg7367",
        "name": "testRg7367",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/042ebc40-492c-4e4e-a02a-c04b5ba7ee23/resourceGroups/testRg7367/providers/Microsoft.AlertsManagement/actionRules/AlertProcessingRule3861?api-version=2021-08-08",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "scopes": [
            "/subscriptions/042ebc40-492c-4e4e-a02a-c04b5ba7ee23"
          ],
          "conditions": [
            {
              "field": "Severity",
              "operator": "Equals",
              "values": [
                "Sev2"
              ]
            }
          ],
          "actions": [
            {
              "actionType": "RemoveAllActionGroups"
            }
          ],
          "enabled": true
        },
        "tags": {},
        "location": "Global"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "properties": {
          "scopes": [
            "/subscriptions/042ebc40-492c-4e4e-a02a-c04b5ba7ee23"
          ],
          "conditions": [
            {
              "field": "Severity",
              "operator": "Equals",
              "values": [
                "Sev2"
              ]
            }
          ],
          "enabled": true,
          "actions": [
            {
              "actionType": "RemoveAllActionGroups"
            }
          ]
        },
        "systemData": {
          "createdBy": "54dc3e0a-a3bd-4017-a418-d957604499c5",
          "createdByType": "Application",
          "createdAt": "2022-09-05T12:24:16.6383871Z",
          "lastModifiedBy": "54dc3e0a-a3bd-4017-a418-d957604499c5",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-09-05T12:24:16.6383871Z"
        },
        "location": "Global",
        "id": "/subscriptions/042ebc40-492c-4e4e-a02a-c04b5ba7ee23/resourceGroups/testRg7367/providers/Microsoft.AlertsManagement/actionRules/AlertProcessingRule3861",
        "type": "Microsoft.AlertsManagement/actionRules",
        "name": "AlertProcessingRule3861"
      }
    },
[...]
