{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/042ebc40-492c-4e4e-a02a-c04b5ba7ee23?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/042ebc40-492c-4e4e-a02a-c04b5ba7ee23",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "avjerafi_tag1": "testing subscription-level alert 1",
          "avjerafi_tag2": "testing subscription-level alert 2",
          "avjerafi_tag3": "testing subscription-level alert 3",
          "avjerafi_tag4": "testing subscription-level alert 4"
        },
        "subscriptionId": "042ebc40-492c-4e4e-a02a-c04b5ba7ee23",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Alerts_AMP_Playground_DEV_00",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/042ebc40-492c-4e4e-a02a-c04b5ba7ee23/providers/Microsoft.AlertsManagement/actionRules?api-version=2021-08-08",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "997"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "scopes": [
                "/subscriptions/042ebc40-492c-4e4e-a02a-c04b5ba7ee23/resourceGroups/AMPE2EValidation",
                "/subscriptions/042ebc40-492c-4e4e-a02a-c04b5ba7ee23/resourceGroups/avhaddadResourceGroup/providers/Microsoft.Storage/storageAccounts/avhaddadstorage"
              ],
              "schedule": {
                "effectiveFrom": "2022-04-10T00:00:00",
                "effectiveUntil": "2022-05-01T23:59:59",
                "timeZone": "Central America Standard Time",
                "recurrences": [
                  {
                    "daysOfWeek": [
                      "Monday",
                      "Tuesday",
                      "Wednesday",
                      "Thursday",
                      "Friday"
                    ],
                    "recurrenceType": "Weekly",
                    "startTime": "18:00:00",
                    "endTime": "09:00:00"
                  },
                  {
                    "daysOfWeek": [
                      "Saturday",
                      "Sunday"
                    ],
                    "recurrenceType": "Weekly"
                  }
                ]
              },
              "conditions": [
                {
                  "field": "Severity",
                  "operator": "NotEquals",
                  "values": [
                    "Sev1"
                  ]
                }
              ],
              "enabled": true,
              "actions": [
                {
                  "actionGroupIds": [
                    "/subscriptions/042ebc40-492c-4e4e-a02a-c04b5ba7ee23/resourceGroups/ActionRulesRG/providers/microsoft.insights/actionGroups/Tami email"
                  ],
                  "actionType": "AddActionGroups"
                }
              ]
            },
            "systemData": {
              "createdBy": "taruas@microsoft.com",
              "createdByType": "User",
              "createdAt": "2022-04-10T11:36:12.7889047Z",
              "lastModifiedBy": "taruas@microsoft.com",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2022-04-10T19:06:39.1896667Z"
            },
            "location": "Global",
            "id": "/subscriptions/042ebc40-492c-4e4e-a02a-c04b5ba7ee23/resourceGroups/ActionRulesRG/providers/Microsoft.AlertsManagement/actionRules/ASC Demo Rule",
            "type": "Microsoft.AlertsManagement/actionRules",
            "name": "ASC Demo Rule"
          },
          {
            "properties": {
              "scopes": [
                "/subscriptions/042ebc40-492c-4e4e-a02a-c04b5ba7ee23/resourceGroups/default-activitylogalerts/providers/Microsoft.AlertsManagement/actionRules/ActionRuleTest1"
              ],
              "schedule": {
                "effectiveFrom": "2019-12-22T11:00:00",
                "effectiveUntil": "2020-09-24T11:00:00",
                "recurrences": [
                  {
                    "daysOfMonth": [
                      1,
                      2,
                      3,
                      4,
                      5,
                      6,
                      7,
                      8,
                      9,
                      10,
                      11,
                      12,
                      13,
                      14,
                      15,
                      16,
                      17,
                      18,
                      19,
                      20,
                      21,
                      22,
                      23,
                      24,
                      25,
                      26,
                      27,
                      28,
                      29,
                      30,
                      31
                    ],
                    "recurrenceType": "Monthly"
                  }
                ]
              },
              "conditions": [
                {
                  "field": "Severity",
                  "operator": "NotEquals",
                  "values": [
                    "Sev4"
                  ]
                }
              ],
              "enabled": true,
              "actions": [
                {
                  "actionType": "RemoveAllActionGroups"
                }
              ],
              "description": ""
            },
            "systemData": {
              "createdBy": "inzimerm@microsoft.com",
              "createdAt": "2019-09-10T10:33:24.4747395Z",
              "lastModifiedBy": "ilaizi@microsoft.com",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2021-11-01T19:29:43.1212865Z"
            },
            "location": "Global",
            "id": "/subscriptions/042ebc40-492c-4e4e-a02a-c04b5ba7ee23/resourceGroups/Default-ActivityLogAlerts/providers/Microso[...]
