{
  "Entries": [
    {
      "RequestUri": "https://jolovservicebus.servicebus.windows.net/basicsubscriptioncrudoperationse450400e?api-version=2017-04",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom\u002Bxml"
      },
      "RequestBody": [
        "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\r\n",
        "  \u003Ccontent type=\u0022application/xml\u0022\u003E\r\n",
        "    \u003CTopicDescription xmlns=\u0022http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\u0022\u003E\r\n",
        "      \u003CMaxSizeInMegabytes\u003E1024\u003C/MaxSizeInMegabytes\u003E\r\n",
        "      \u003CRequiresDuplicateDetection\u003Efalse\u003C/RequiresDuplicateDetection\u003E\r\n",
        "      \u003CEnableBatchedOperations\u003Etrue\u003C/EnableBatchedOperations\u003E\r\n",
        "      \u003CFilteringMessagesBeforePublishing\u003Efalse\u003C/FilteringMessagesBeforePublishing\u003E\r\n",
        "      \u003CIsAnonymousAccessible\u003Efalse\u003C/IsAnonymousAccessible\u003E\r\n",
        "      \u003CAuthorizationRules /\u003E\r\n",
        "      \u003CStatus\u003EActive\u003C/Status\u003E\r\n",
        "      \u003CSupportOrdering\u003Efalse\u003C/SupportOrdering\u003E\r\n",
        "      \u003CEnablePartitioning\u003Efalse\u003C/EnablePartitioning\u003E\r\n",
        "      \u003CEnableSubscriptionPartitioning\u003Efalse\u003C/EnableSubscriptionPartitioning\u003E\r\n",
        "      \u003CEnableExpress\u003Efalse\u003C/EnableExpress\u003E\r\n",
        "    \u003C/TopicDescription\u003E\r\n",
        "  \u003C/content\u003E\r\n",
        "\u003C/entry\u003E"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/atom\u002Bxml; type=entry; charset=utf-8"
      },
      "ResponseBody": "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\u003Cid\u003Ehttps://jolovservicebus.servicebus.windows.net/basicsubscriptioncrudoperationse450400e?api-version=2017-04\u003C/id\u003E\u003Ctitle type=\u0022text\u0022\u003Ebasicsubscriptioncrudoperationse450400e\u003C/title\u003E\u003Cpublished\u003E2020-11-20T03:31:38Z\u003C/published\u003E\u003Cupdated\u003E2020-11-20T03:31:38Z\u003C/updated\u003E\u003Cauthor\u003E\u003Cname\u003Ejolovservicebus\u003C/name\u003E\u003C/author\u0[...]
    {
      "RequestUri": "https://jolovservicebus.servicebus.windows.net/basicsubscriptioncrudoperationse450400e/Subscriptions/15cd31f5?api-version=2017-04",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom\u002Bxml"
      },
      "RequestBody": [
        "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\r\n",
        "  \u003Ccontent type=\u0022application/xml\u0022\u003E\r\n",
        "    \[...]
    {
      "RequestUri": "https://jolovservicebus.servicebus.windows.net/basicsubscriptioncrudoperationse450400e/Subscriptions/15cd31f5?api-version=2017-04\u0026enrich=False",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom\u002Bxml; type=entry; charset=utf-8",
        "ETag": "637414398982530000"
      },
      "ResponseBody": "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\u003Cid\u003Esb://jolovservicebus.servicebus.windows.net/basicsubscriptioncrudoperationse450400e/Subscriptions/15cd31f5?api-version=2017-04\u0026amp;enrich=False\u003C/id\u003E\u003Ctitle type=\u0022text\u0022\u003E15cd31f5\u003C/title\u003E\u003Cpublished\u003E2020-11-20T03:31:38Z\u003C/published\u003E\u003Cupdated\u003E2020-11-20T03:31:38Z\u003C/updated\u003E\u003Clink rel=\u00[...]
    {
      "RequestUri": "https://jolovservicebus.servicebus.windows.net/basicsubscriptioncrudoperationse450400e/Subscriptions/15cd31f5?api-version=2017-04",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom\u002Bxml",
        "If-Match": "*"
      },
      "RequestBody": [
        "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\r\n",
        "  \u003Ccontent type=\u0022application/xml\u0022\u003E\r\n",
        "    \u003CSubscriptionDescription xmlns=\u0022http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\u0022\u003E\r\n",
        "      \u003CLockDuration\u003EPT45S\u003C/LockDuration\u003E\r\n",
        "      \u003CRequiresSession\u003Etrue\u003C/RequiresSession\u003E\r\n",
        "      \[...]
[...]
    {
      "RequestUri": "https://jolovservicebus.servicebus.windows.net/basicsubscriptioncrudoperationse450400e/Subscriptions?api-version=2017-04\u0026enrich=False\u0026$skip=0\u0026$top=100",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom\u002Bxml; type=feed; charset=utf-8",
        "ETag": "637414398982530000"
      },[...]
[...]
    {
      "RequestUri": "https://jolovservicebus.servicebus.windows.net/basicsubscriptioncrudoperationse450400e/Subscriptions/15cd31f5?api-version=2017-04\u0026enrich=False",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom\u002Bxml; type=feed; charset=utf-8"
      },
      "ResponseBody": "\u003Cfeed xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\u003Ctitle type=\u0022text\u0022\u003EPublicly Listed Services\u003C/title\u003E\u003Csubtitle type=\u0022text\u0022\u003EThis is the list of publicly-listed services currently available.\u003C/subtitle\u003E\u003Cid\u003Euuid:fcb981b6-8931-4008-b940-5cca52945e81;id=6898\u003C/id\u003E\u003Cupdated\u003E2020-11-20T03:31:41Z\u003C/updated\u003E\u003Cgenerator\u003EService Bus 1.1\u003C/generator\u003E\u003C/feed\u003E"
    }
  ],
  "Variables": {
    "RandomSeed": "2061729161",
    "SERVICEBUS_CONNECTION_STRING": "Endpoint=sb://jolovservicebus.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=Kg=="
  }
}