{
  "Entries": [
    {
      "RequestUri": "https://recordedtests.servicebus.windows.net/basictopiccrudoperations1f3aa775?api-version=2017-04",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom\u002Bxml"
      },
      "RequestBody": [
        "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\r\n",
        "  \u003Ccontent type=\u0022application/xml\u0022\u003E\r\n",
        "    \u003CTopicDescription xmlns=\u0022http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\u0022\u003E\r\n",
        "      \u003CDefaultMessageTimeToLive\u003EP2D\u003C/DefaultMessageTimeToLive\u003E\r\n",
        "      \u003CMaxSizeInMegabytes\u003E2048\u003C/MaxSizeInMegabytes\u003E\r\n",
        "      \u003CRequires[...]
    {
      "RequestUri": "https://recordedtests.servicebus.windows.net/basictopiccrudoperations1f3aa775?api-version=2017-04\u0026enrich=False",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom\u002Bxml; type=entry; charset=utf-8",
        "ETag": "637387236438400000"
      },
      "ResponseBody": "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\u003Cid\u003Ehttps://recordedtests.servicebus.windows.net/basictopiccrudoperations1f3aa775?api-version=2017-04\u0026amp;enrich=False\u003C/id\u003E\u003Ctitle type=\u0022text\u0022\u003Ebasictopiccrudoperations1f3aa775\u003C/title\u003E\u003Cpublished\u003E2020-10-19T17:00:43Z\u003C/published\u003E\u003Cupdated\u003E2020-10-19T17:00:43Z\u003C/updated\u003E\u003Cauthor\u003E\u003Cname\u003Erecordedtests.servicebus.windows.net\u003C[...]
    {
      "RequestUri": "https://recordedtests.servicebus.windows.net/basictopiccrudoperations1f3aa775?api-version=2017-04",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom\u002Bxml",
        "If-Match": "*"
      },
      "RequestBody": [
        "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\r\n",
        "  \u003Ccontent type=\u0022application/xml\u0022\u003E\r\n",
        "    \u003CTopicDescription xmlns=\u0022http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\u0022\u003E\r\n",
        "      \u003CDefaultMessageTimeToLive\u003EP3D\u003C/DefaultMessageTimeToLive\u003E\r\n",
        "      \u003CMaxSizeInMegabytes\u003E1024\u003C/MaxSizeInMegabytes\u003E\r[...]
[...]
    {
      "RequestUri": "https://recordedtests.servicebus.windows.net/$Resources/topics?api-version=2017-04\u0026enrich=False\u0026$skip=0\u0026$top=100",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom\u002Bxml; type=feed; charset=utf-8"
      },
      "ResponseBody": "\u003Cfeed xmlns=\u0022http://www.w3.org/2005/Atom\u[...]
[...]
    {
      "RequestUri": "https://recordedtests.servicebus.windows.net/basictopiccrudoperations1f3aa775?api-version=2017-04\u0026enrich=False",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom\u002Bxml; type=feed; charset=utf-8"
      },
      "ResponseBody": "\u003Cfeed xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\u003Ctitle type=\u0022text\u0022\u003EPublicly Listed Services\u003C/title\u003E\u003Csubtitle type=\u0022text\u0022\u003EThis is the list of publicly-listed services currently available.\u003C/subtitle\u003E\u003Cid\u003Euuid:40da3a58-f564-47c2-82a9-170ff3a4fd67;id=142956\u003C/id\u003E\u003Cupdated\u003E2020-10-19T17:00:47Z\u003C/updated\u003E\u003Cgenerator\u003EService Bus 1.1\u003C/generator\u003E\u003C/feed\u003E"
    }
  ],
  "Variables": {
    "RandomSeed": "275336405",
    "SERVICEBUS_CONNECTION_STRING": "Endpoint=sb://recordedtests.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=Kg=="
  }
}
