{
  "Entries": [
    {
      "RequestUri": "https://sb-jolovservicebus.servicebus.windows.net/basictopiccrudoperations53cc5e51?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom\u002Bxml"
      },
      "RequestBody": [
        "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\r\n",
        "  \u003Ccontent type=\u0022application/xml\u0022\u003E\r\n",
        "    \u003CTopicDescription xmlns=\u0022http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\u0022\u003E\r\n",
        "      \u003CDefaultMessageTimeToLive\u003EP2D\u003C/DefaultMessageTimeToLive\u003E\r\n",
        "      \u003CMaxSizeInMegabytes\u003E1024\u003C/MaxSizeInMegabytes\u003E\r\n",
        "      \u003CRequires[...]
    {
      "RequestUri": "https://sb-jolovservicebus.servicebus.windows.net/basictopiccrudoperations53cc5e51?api-version=2021-05\u0026enrich=False",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom\u002Bxml; type=entry; charset=utf-8",
        "ETag": "637687053676730000"
      },
      "ResponseBody": "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\u003Cid\u003Ehttps://sb-jolovservicebus.servicebus.windows.net/basictopiccrudoperations53cc5e51?api-version=2021-05\u0026amp;enrich=False\u003C/id\u003E\u003Ctitle type=\u0022text\u0022\u003Ebasictopiccrudoperations53cc5e51\u003C/title\u003E\u003Cpublished\u003E2021-10-01T17:16:07Z\u003C/published\u003E\u003Cupdated\u003E2021-10-01T17:16:07Z\u003C/updated\u003E\u003Cauthor\u003E\u003Cname\u003Esb-jolovservicebus\u003C/name\u003E\u[...]
    {
      "RequestUri": "https://sb-jolovservicebus.servicebus.windows.net/basictopiccrudoperations53cc5e51?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom\u002Bxml",
        "If-Match": "*"
      },
      "RequestBody": [
        "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\r\n",
        "  \u003Ccontent type=\u0022application/xml\u0022\u003E\r\n",
        "    \u003CTopicDescription xmlns=\u0022http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\u0022\u003E\r\n",
        "      \u003CDefaultMessageTimeToLive\u003EP3D\u003C/DefaultMessageTimeToLive\u003E\r\n",
        "      \u003CMaxSizeInMegabytes\u003E1024\u003C/MaxSizeInMegabytes\u003E\r[...]
[...]
    {
      "RequestUri": "https://sb-jolovservicebus.servicebus.windows.net/$Resources/topics?api-version=2021-05\u0026enrich=False\u0026$skip=0\u0026$top=100",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom\u002Bxml; type=feed; charset=utf-8"
      },
      "ResponseBody": "\u003Cfeed xmlns=\u0022http://www.w3.org/2005/A[...]
[...]
    {
      "RequestUri": "https://sb-jolovservicebus.servicebus.windows.net/basictopiccrudoperations53cc5e51?api-version=2021-05\u0026enrich=False",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom\u002Bxml; type=feed; charset=utf-8"
      },
      "ResponseBody": "\u003Cfeed xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\u003Ctitle type=\u0022text\u0022\u003EPublicly Listed Services\u003C/title\u003E\u003Csubtitle type=\u0022text\u0022\u003EThis is the list of publicly-listed services currently available.\u003C/subtitle\u003E\u003Cid\u003Euuid:c38dfc4a-91e4-4a6a-9bb6-07b62040d4d8;id=63618\u003C/id\u003E\u003Cupdated\u003E2021-10-01T17:16:11Z\u003C/updated\u003E\u003Cgenerator\u003EService Bus 1.1\u003C/generator\u003E\u003C/feed\u003E"
    }
  ],
  "Variables": {
    "RandomSeed": "1029329191",
    "SERVICEBUS_CONNECTION_STRING": "Endpoint=sb://sb-jolovservicebus.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=Kg=="
  }
}