{
  "Entries": [
    {
      "RequestUri": "https://sb-jolovservicebus.servicebus.windows.net/7efe88c1?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom\u002Bxml"
      },
      "RequestBody": [
        "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\r\n",
        "  \u003Ccontent type=\u0022application/xml\u0022\u003E\r\n",
        "    \u003CTopicDescription xmlns=\u0022http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\u0022\u003E\r\n",
        "      \u003CMaxSizeInMegabytes\u003E1024\u003C/MaxSizeInMegabytes\u003E\r\n",
        "      \u003CRequiresDuplicateDetection\u003Efalse\u003C/RequiresDuplicateDetection\u003E\r\n",
        "      \u003CEnableBatchedOperations\u003Etrue\u003C/EnableBatchedOperations\u003E\r\n",
        "      \u003CFilteringMessagesBeforePublishing\u003Efalse\u003C/FilteringMessagesBeforePublishing\u003E\r\n",
        "      \u003CIsAnonymousAccessible\u003Efalse\u003C/IsAnonymousAccessible\u003E\r\n",
        "      \u003CAuthorizationRules /\u003E\r\n",
        "      \u003CStatus\u003EActive\u003C/Status\u003E\r\n",
        "      \u003CSupportOrdering\u003Efalse\u003C/SupportOrdering\u003E\r\n",
        "      \u003CEnablePartitioning\u003Efalse\u003C/EnablePartitioning\u003E\r\n",
        "      \u003CEnableSubscriptionPartitioning\u003Efalse\u003C/EnableSubscriptionPartitioning\u003E\r\n",
        "      \u003CEnableExpress\u003Efalse\u003C/EnableExpress\u003E\r\n",
        "    \u003C/TopicDescription\u003E\r\n",
        "  \u003C/content\u003E\r\n",
        "\u003C/entry\u003E"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/atom\u002Bxml; type=entry; charset=utf-8"
      },
      "ResponseBody": "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\u003Cid\u003Ehttps://sb-jolovservicebus.servicebus.windows.net/7efe88c1?api-version=2021-05\u003C/id\u003E\u003Ctitle type=\u0022text\u0022\u003E7efe88c1\u003C/title\u003E\u003Cpublished\u003E2021-10-01T00:06:31Z\u003C/published\u003E\u003Cupdated\u003E2021-10-01T00:06:31Z\u003C/updated\u003E\u003Cauthor\u003E\u003Cname\u003Esb-jolovservicebus\u003C/name\u003E\u003C/author\u003E\u003Clink rel=\u0022self\u0022 href=\u0022https://sb[...]
    {
      "RequestUri": "https://sb-jolovservicebus.servicebus.windows.net/7efe88c1/Subscriptions/562b2ed2?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom\u002Bxml"
      },
      "RequestBody": [
        "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\r\n",
        "  \u003Ccontent type=\u0022application/xml\u0022\u003E\r\n",
        "    \u003CSubscriptionDescription[...]
    {
      "RequestUri": "https://sb-jolovservicebus.servicebus.windows.net/7efe88c1/Subscriptions/562b2ed2/Rules/rule1?api-version=2021-05\u0026enrich=False",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom\u002Bxml; type=entry; charset=utf-8",
        "ETag": "637686435913730000"
      },
      "ResponseBody": "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\u003Cid\u003Esb://sb-jolovservicebus.servicebus.windows.net/7efe88c1/Subscriptions/562b2ed2/Rules/rule1?api-version=2021-05\u0026amp;enrich=False\u003C/id\u003E\u003Ctitle type=\u0022text\u0022\u003Erule1\u003C/title\u003E\u003Cpublished\u003E2021-10-01T00:06:31Z\u003C/published\u003E\u003Cupdated\u003E2021-10-01T00:06:31Z\u003C/updated\u003E\u003Clink rel=\u0022self\u0022 href=\u0022sb://sb-jolovservicebus.servicebus.windows.net/7efe88c1/Subscriptions/562b2ed2/Rules/rule1?api-version=2021-05\u0026amp;enrich=False\u0022/\u003E\u003Ccontent type=\u0022application/xml\u0022\u003E\u003CRuleDescription xmlns=\u0022http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\u0022 xmlns:i=\u0022http://www.w3.org/2001/XMLSchema-instance\u0022\u003E\u003CFilter i:type=\u0022TrueFilter\u0022\u003E\u003CSqlExpression\u003E1=1\u003C/SqlExpression\u003E\u003CCompatibilityLevel\u003E20\u003C/CompatibilityLevel\u003E\u003C/Filter\u003E\u003CAction i:type=\u0022EmptyRuleAction\u0022/\u003E\u003CCreatedAt\u003E2021-10-01T00:06:31.8631997Z\u003C/CreatedAt\u003E\u003CName\u003Erule1\u003C/Name\u003E\u003C/RuleDescription\u003E\u003C/content\u003E\u003C/entry\u003E"
    },
    {
      "RequestUri": "https://sb-jolovservicebus.servicebus.windows.net/7efe88c1/Subscriptions/562b2ed2/Rules/rule2?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom\u002Bxml"
      },
      "RequestBody": [
        "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\r\n",
        "  \u003Ccontent type=\u0022application/xml\u0022\u003E\r\n",
        "    \u003CRuleDescrip[...]
[...]
    {
      "RequestUri": "https://sb-jolovservicebus.servicebus.windows.net/7efe88c1/Subscriptions/562b2ed2/rules?api-version=2021-05\u0026enrich=False\u0026$skip=0\u0026$top=100",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom\u002Bxml; type=feed; charset=utf-8",
        "ETag": "637686435913730000"
      },
      "Respo[...]
    {
      "RequestUri": "https://sb-jolovservicebus.servicebus.windows.net/7efe88c1/Subscriptions/562b2ed2?api-version=2021-05\u0026enrich=False",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom\u002Bxml; type=entry; charset=utf-8",
        "ETag": "637686435913730000"
      },
      "ResponseBody": "\u003Centry xmlns=\u0[...]
    {
      "RequestUri": "https://sb-jolovservicebus.servicebus.windows.net/7efe88c1/Subscriptions/562b2ed2/Rules/rule3?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom\u002Bxml",
        "If-Match": "*"
      },
      "RequestBody": [
        "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\r\n",
        "  \u003Ccontent type=\u0022application/xml\u0022\u003E\r\n",
        "    \u003CRuleDescription xmlns=\u0022http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\u0022\u003E\r\n",
        "      \u003CFilter p4:type=\u0022CorrelationFilter\u0022 xmlns:p4=\u0022http://www.w3.org/2001/XMLSchema-instance\u0022\u003E\r\n",
        "        \u003CCorrelationId\u00[...]
[...]
    {
      "RequestUri": "https://sb-jolovservicebus.servicebus.windows.net/7efe88c1?api-version=2021-05",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "637686435913730000"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-09-30T17:06:32.1587545-07:00",
    "RandomSeed": "363432809",
    "SERVICEBUS_CONNECTION_STRING": "Endpoint=sb://sb-jolovservicebus.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=Kg=="
  }
}