{
  "Entries": [
    {
      "RequestUri": "https://recordedtests.servicebus.windows.net/$namespaceinfo?api-version=2017-04\u0026enrich=False",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom\u002Bxml; type=entry; charset=utf-8"
      },
      "ResponseBody": "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\u003Cid\u003Ehttps://recordedtests.servicebus.windows.net/$namespaceinfo?api-version=2017-04\u0026amp;enrich=False\u003C/id\u003E\u003Ctitle type=\u0022text\u0022\u003Erecordedtests\u003C/title\u003E\u003Cupdated\u003E2020-10-29T16:52:36Z\u003C/updated\u003E\u003Cauthor\u003E\u003Cname\u003Erecordedtests\u003C/name\u003E\u003C/author\u003E\u003Clink rel=\u0022self\u0022 href=\u0022https://recordedtests.servicebus.windows.net/$namespaceinfo?api-version=2017-04\u0026amp;enrich=False\u0022\u003E\u003C/link\u003E\u003Ccontent type=\u0022application/xml\u0022\u003E\u003CNamespaceInfo xmlns=\u0022http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\u0022 xmlns:i=\u0022http://www.w3.org/2001/XMLSchema-instance\u0022\u003E\u003CCreatedTime\u003E2020-10-29T15:48:00.867Z\u003C/CreatedTime\u003E\u003CMessagingSKU\u003EStandard\u003C/MessagingSKU\u003E\u003CModifiedTime\u003E2020-10-29T15:48:00.867Z\u003C/ModifiedTime\u003E\u003CName\u003Erecordedtests\u003C/Name\u003E\u003CNamespaceType\u003EMessaging\u003C/NamespaceType\u003E\u003C/NamespaceInfo\u003E\u003C/content\u003E\u003C/entry\u003E"
    }
  ],
  "Variables": {
    "RandomSeed": "959395559",
    "SERVICEBUS_CONNECTION_STRING": "Endpoint=sb://recordedtests.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=Kg=="
  }
}
