{
  "Entries": [
    {
      "RequestUri": "https://jolovservicebus.servicebus.windows.net/getsubscriptionruntimeinfotest45d3950f?api-version=2017-04",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom\u002Bxml",
        "UserAgent": "SERVICEBUS/2017-04(api-origin=.NETStandard,Version=v2.0;os=Microsoft Windows 10.0.18363 ;version=7.0.0.0;product=Azure .NET SDK)"
      },
      "RequestBody": [
        "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\r\n",
        "  \u003Ccontent type=\u0022application/xml\u0022\u003E\r\n",
        "    \u003CTopicDescription xmlns=\u0022http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\u0022\u003E\r\n",
        "      \u003CMaxSizeInMegabytes\u003E1024\u003C/MaxSizeInMegabytes\u003E\r\n",
        "      \u003CRequiresDuplicateDetection\u003Efalse\u003C/RequiresDuplicateDetection\u003E\r\n",
        "      \u003CEnableBatchedOperations\u003Etrue\u003C/EnableBatchedOperations\u003E\r\n",
        "      \u003CAuthorizationRules /\u003E\r\n",
        "      \u003CStatus\u003EActive\u003C/Status\u003E\r\n",
        "      \u003CSupportOrdering\u003Efalse\u003C/SupportOrdering\u003E\r\n",
        "      \u003CEnablePartitioning\u003Efalse\u003C/EnablePartitioning\u003E\r\n",
        "    \u003C/TopicDescription\u003E\r\n",
        "  \u003C/content\u003E\r\n",
        "\u003C/entry\u003E"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/atom\u002Bxml; type=entry; charset=utf-8"
      },
      "ResponseBody": "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\u003Cid\u003Ehttps://jolovservicebus.servicebus.windows.net/getsubscriptionruntimeinfotest45d3950f?api-version=2017-04\u003C/id\u003E\u003Ctitle type=\u0022text\u0022\u003Egetsubscriptionruntimeinfotest45d3950f\u003C/title\u003E\u003Cpublished\u003E2020-07-31T23:07:43Z\u003C/published\u003E\u003Cupdated\u003E2020-07-31T23:07:43Z\u003C/updated\u003E\u003Cauthor\u003E\u003Cname\u003Ejolovservicebus\u003C/name\u003E\u003C/author\u003[...]
    {
      "RequestUri": "https://jolovservicebus.servicebus.windows.net/getsubscriptionruntimeinfotest45d3950f?api-version=2017-04\u0026enrich=False",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "UserAgent": "SERVICEBUS/2017-04(api-origin=.NETStandard,Version=v2.0;os=Microsoft Windows 10.0.18363 ;version=7.0.0.0;product=Azure .NET SDK)"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom\u002Bxml; type=entry; charset=utf-8",
        "ETag": "637318336634770000"
      },
      "ResponseBody": "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\u003Cid\u003Ehttps://jolovservicebus.servicebus.windows.net/getsubscriptionruntimeinfotest45d3950f?api-version=2017-04\u0026amp;enrich=False\u003C/id\u003E\u003Ctitle type=\u0022text\u0022\u003Egetsubscriptionruntimeinfotest45d3950f\u003C/title\u003E\u003Cpublished\u003E2020-07-31T23:07:43Z\u003C/published\u003E\u003Cupdated\u003E2020-07-31T23:07:43Z\u003C/updated\u003E\u003Cauth[...]
    {
      "RequestUri": "https://jolovservicebus.servicebus.windows.net/getsubscriptionruntimeinfotest45d3950f?api-version=2017-04",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom\u002Bxml",
        "If-Match": "*",
        "UserAgent": "SERVICEBUS/2017-04(api-origin=.NETStandard,Version=v2.0;os=Microsoft Windows 10.0.18363 ;version=7.0.0.0;product=Azure .NET SDK)"
      },
      "RequestBody": [
        "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\r\n",
        "  \u003Ccontent type=\u0022application/xml\u0022\u003E\r\n",
        "    \u003CTopicDescription xmlns=\u0022http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\u0022\u003E\r\n",
        "      \u003CMaxSiz[...]
    {
      "RequestUri": "https://jolovservicebus.servicebus.windows.net/getsubscriptionruntimeinfotest45d3950f/Subscriptions/65cea5d4?api-version=2017-04",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom\u002Bxml",
        "UserAgent": "SERVICEBUS/2017-04(api-origin=.NETStandard,Version=v2.0;os=Microsoft Windows 10.0.18363 ;version=7.0.0.0;product=Azure .NET SDK)"
      },
      "RequestBody": [
        "\u[...]
[...]
    {
      "RequestUri": "https://jolovservicebus.servicebus.windows.net/getsubscriptionruntimeinfotest45d3950f/Subscriptions?api-version=2017-04\u0026enrich=False\u0026$skip=0\u0026$top=100",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "UserAgent": "SERVICEBUS/2017-04(api-origin=.NETStandard,Version=v2.0;os=Microsoft Windows 10.0.18363 ;version=7.0.0.0;product=Azure .NET SDK)"
      },
      "RequestBody": null,
      "StatusCode": 200,[...]
    {
      "RequestUri": "https://jolovservicebus.servicebus.windows.net/getsubscriptionruntimeinfotest45d3950f/Subscriptions/65cea5d4?api-version=2017-04\u0026enrich=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "UserAgent": "SERVICEBUS/2017-04(api-origin=.NETStandard,Version=v2.0;os=Microsoft Windows 10.0.18363 ;version=7.0.0.0;product=Azure .NET SDK)"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHea[...]
    {
      "RequestUri": "https://jolovservicebus.servicebus.windows.net/$Resources/topics?api-version=2017-04\u0026enrich=False\u0026$skip=0\u0026$top=100",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "UserAgent": "SERVICEBUS/2017-04(api-origin=.NETStandard,Version=v2.0;os=Microsoft Windows 10.0.18363 ;version=7.0.0.0;product=Azure .NET SDK)"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
       [...]
    {
      "RequestUri": "https://jolovservicebus.servicebus.windows.net/getsubscriptionruntimeinfotest45d3950f?api-version=2017-04\u0026enrich=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "UserAgent": "SERVICEBUS/2017-04(api-origin=.NETStandard,Version=v2.0;os=Microsoft Windows 10.0.18363 ;version=7.0.0.0;product=Azure .NET SDK)"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Conte[...]
    {
      "RequestUri": "https://jolovservicebus.servicebus.windows.net/getsubscriptionruntimeinfotest45d3950f?api-version=2017-04",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "UserAgent": "SERVICEBUS/2017-04(api-origin=.NETStandard,Version=v2.0;os=Microsoft Windows 10.0.18363 ;version=7.0.0.0;product=Azure .NET SDK)"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "637318336639970000"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "516551413"
  }
}