{
  "Entries": [
    {
      "RequestUri": "https://recordedtests.servicebus.windows.net/gettopicruntimeinfoe8b230a6?api-version=2017-04",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom\u002Bxml"
      },
      "RequestBody": [
        "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\r\n",
        "  \u003Ccontent type=\u0022application/xml\u0022\u003E\r\n",
        "    \u003CTopicDescription xmlns=\u0022http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\u0022\u003E\r\n",
        "      \u003CMaxSizeInMegabytes\u003E1024\u003C/MaxSizeInMegabytes\u003E\r\n",
        "      \u003CRequiresDuplicateDetection\u003Efalse\u003C/RequiresDuplicateDetection\u003E\r\n",
        "      \u003CEnableBatchedOperations\u003Etrue\u003C/EnableBatchedOperations\u003E\r\n",
        "      \u003CAuthorizationRules /\u003E\r\n",
        "      \u003CStatus\u003EActive\u003C/Status\u003E\r\n",
        "      \u003CSupportOrdering\u003Efalse\u003C/SupportOrdering\u003E\r\n",
        "      \u003CEnablePartitioning\u003Efalse\u003C/EnablePartitioning\u003E\r\n",
        "    \u003C/TopicDescription\u003E\r\n",
        "  \u003C/content\u003E\r\n",
        "\u003C/entry\u003E"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/atom\u002Bxml; type=entry; charset=utf-8"
      },
      "ResponseBody": "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\u003Cid\u003Ehttps://recordedtests.servicebus.windows.net/gettopicruntimeinfoe8b230a6?api-version=2017-04\u003C/id\u003E\u003Ctitle type=\u0022text\u0022\u003Egettopicruntimeinfoe8b230a6\u003C/title\u003E\u003Cpublished\u003E2020-08-03T20:44:16Z\u003C/published\u003E\u003Cupdated\u003E2020-08-03T20:44:16Z\u003C/updated\u003E\u003Cauthor\u003E\u003Cname\u003Erecordedtests\u003C/name\u003E\u003C/author\u003E\u003Clink rel=\u0022self[...]
    {
      "RequestUri": "https://recordedtests.servicebus.windows.net/gettopicruntimeinfoe8b230a6?api-version=2017-04\u0026enrich=False",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom\u002Bxml; type=entry; charset=utf-8",
        "ETag": "637320842561370000"
      },
      "ResponseBody": "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\u003Cid\u003Ehttps://recordedtests.servicebus.windows.net/gettopicruntimeinfoe8b230a6?api-version=2017-04\u0026amp;enrich=False\u003C/id\u003E\u003Ctitle type=\u0022text\u0022\u003Egettopicruntimeinfoe8b230a6\u003C/title\u003E\u003Cpublished\u003E2020-08-03T20:44:16Z\u003C/published\u003E\u003Cupdated\u003E2020-08-03T20:44:16Z\u003C/updated\u003E\u003Cauthor\u003E\u003Cname\u003E[...]
    {
      "RequestUri": "https://recordedtests.servicebus.windows.net/gettopicruntimeinfoe8b230a6?api-version=2017-04",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom\u002Bxml",
        "If-Match": "*"
      },
      "RequestBody": [
        "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\r\n",
        "  \u003Ccontent type=\u0022application/xml\u0022\u003E\r\n",
        "    \u003CTopicDescription xmlns=\u0022http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\u0022\u003E\r\n",
        "      \u003CMaxSizeInMegabytes\u003E1024\u003C/MaxSizeInMegabytes\u003E\r\n",
        "      \u003CRequiresDuplicateDetection\u003Efalse\u003C/RequiresDuplicateDetection\u[...]
    {
      "RequestUri": "https://recordedtests.servicebus.windows.net/gettopicruntimeinfoe8b230a6/Subscriptions/3efed47c?api-version=2017-04",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom\u002Bxml"
      },
      "RequestBody": [
        "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\r\n",
        "  \u003Ccontent type=\u0022application/xml\u0022\u003E\r\n",
        "    \u003CSubscript[...]
    {
      "RequestUri": "https://recordedtests.servicebus.windows.net/$Resources/topics?api-version=2017-04\u0026enrich=False\u0026$skip=0\u0026$top=100",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom\u002Bxml; type=feed; charset=utf-8"
      },
      "ResponseBody": "\u003Cfeed xmlns=\u0022http://www.w3.org/2005/Atom\u[...]
    {
      "RequestUri": "https://recordedtests.servicebus.windows.net/gettopicruntimeinfoe8b230a6?api-version=2017-04\u0026enrich=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom\u002Bxml; type=entry; charset=utf-8",
        "ETag": "637320842567300000"
      },
      "ResponseBody": "\u003Centry xmlns=\u0022http://[...]
    {
      "RequestUri": "https://recordedtests.servicebus.windows.net/gettopicruntimeinfoe8b230a6?api-version=2017-04",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "637320842567300000"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1665941433",
    "SERVICEBUS_CONNECTION_STRING": "Endpoint=sb://recordedtests.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=Kg=="
  }
}
