{
  "Entries": [
    {
      "RequestUri": "https://recordedtests.servicebus.windows.net/NonExistingPath?api-version=2017-04\u0026enrich=False",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom\u002Bxml; type=feed; charset=utf-8"
      },
      "ResponseBody": "\u003Cfeed xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\u003Ctitle type=\u0022text\u0022\u003EPublicly Listed Services\u003C/title\u003E\u003Csubtitle type=\u0022text\u0022\u003EThis is the list of publicly-listed services currently available.\u003C/subtitle\u003E\u003Cid\u003Euuid:37190e26-28dd-4334-8733-54aa0b067026;id=63048\u003C/id\u003E\u003Cupdated\u003E2020-08-03T20:44:25Z\u003C/updated\u003E\u003Cgenerator\u003EService Bus 1.1\u003C/generator\u003E\u003C/feed\u003E"
    },
    {
      "RequestUri": "https://recordedtests.servicebus.windows.net/NonExistingTopic?api-version=2017-04\u0026enrich=False",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom\u002Bxml; type=feed; charset=utf-8"
      },
      "ResponseBody": "\u003Cfeed xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\u003Ctitle type=\u0022text\u0022\u003EPublicly Listed Services\u003C/title\u003E\u003Csubtitle type=\u0022text\u0022\u003EThis is the list of publicly-listed services currently available.\u003C/subtitle\u003E\u003Cid\u003Euuid:37190e26-28dd-4334-8733-54aa0b067026;id=63049\u003C/id\u003E\u003Cupdated\u003E2020-08-03T20:44:26Z\u003C/updated\u003E\u003Cgenerator\u003EService Bus 1.1\u003C/generator\u003E\u003C/feed\u003E"
    },
    {
      "RequestUri": "https://recordedtests.servicebus.windows.net/NonExistingTopic/Subscriptions/NonExistingPath?api-version=2017-04\u0026enrich=False",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom\u002Bxml; type=feed; charset=utf-8"
      },
      "ResponseBody": "\u003Cfeed xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\u003Ctitle type=\u0022text\u0022\u003EPublicly Listed Services\u003C/title\u003E\u003Csubtitle type=\u0022text\u0022\u003EThis is the list of publicly-listed services currently available.\u003C/subtitle\u003E\u003Cid\u003Euuid:37190e26-28dd-4334-8733-54aa0b067026;id=63050\u003C/id\u003E\u003Cupdated\u003E2020-08-03T20:44:26Z\u003C/updated\u003E\u003Cgenerator\u003EService Bus 1.1\u003C/generator\u003E\u003C/feed\u003E"
    },
    {
      "RequestUri": "https://recordedtests.servicebus.windows.net/NonExistingPath?api-version=2017-04",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom\u002Bxml",
        "If-Match": "*"
      },
      "RequestBody": [
        "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\r\n",
        "  \u003Ccontent type=\u0022application/xml\u0022\u003E\r\n",
        "    \u003CQueueDescription xmlns=\u0022http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\u0022\u003E\r\n",
        "      \u003CLockDuration\u003EPT1M\u003C/LockDuration\u003E\r\n",
        "      \u003CMaxSizeInMegabytes\u003E1024\u003C/MaxSizeInMegabytes\u003E\r\n",
        "      \u0[...]
[...]
    {
      "RequestUri": "https://recordedtests.servicebus.windows.net/NonExistingTopic/Subscriptions/NonExistingPath?api-version=2017-04",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom\u002Bxml",
        "If-Match": "*"
      },
      "RequestBody": [
        "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\r\n",
        "  \u003Ccontent type=\u0022application/xml\u0022\u003E\r\n",
       [...]
[...]
    {
      "RequestUri": "https://recordedtests.servicebus.windows.net/59825ef2?api-version=2017-04",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom\u002Bxml"
      },
      "RequestBody": [
        "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\r\n",
        "  \u003Ccontent type=\u0022application/xml\u0022\u003E\r\n",
        "    \u003CQueueDescription xmlns=\u0022http://schemas.microso[...]
[...]
    {
      "RequestUri": "https://recordedtests.servicebus.windows.net/3634932c?api-version=2017-04\u0026enrich=False",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom\u002Bxml; type=entry; charset=utf-8",
        "ETag": "637320842718170000"
      },
      "ResponseBody": "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\u003Cid\u003Ehttps://recordedtests.servicebus.windows.net/3634932c?api-version=2017-04\u0026amp;enrich=False\u003C/id\u003E\u003Ctitle type=\u0022text\u0022\u003E3634932c\u003C/title\u003E\u003Cpublished\u003E2020-08-03T20:44:31Z\u003C/published\u003E\u003Cupdated\u003E2020-08-03T20:44:31Z\u003C/updated\u003E\u003Cauthor\u003E\u003Cname\u003Erecordedtests\u003C/name\u003E\u003C/a[...]
[...]
    {
      "RequestUri": "https://recordedtests.servicebus.windows.net/3634932c?api-version=2017-04",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "637320842718170000"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1627792956",
    "SERVICEBUS_CONNECTION_STRING": "Endpoint=sb://recordedtests.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=Kg=="
  }
}
