{
  "Entries": [
    {
      "RequestUri": "https://jolovservicebus.servicebus.windows.net/af5d474c?api-version=2017-04",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom\u002Bxml",
        "UserAgent": "SERVICEBUS/2017-04(api-origin=.NETStandard,Version=v2.0;os=Microsoft Windows 10.0.18363 ;version=7.0.0.0;product=Azure .NET SDK)"
      },
      "RequestBody": [
        "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\r\n",
        "  \u003Ccontent type=\u0022application/xml\u0022\u003E\r\n",
        "    \u003CQueueDescription xmlns=\u0022http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\u0022\u003E\r\n",
        "      \u003CLockDuration\u003EPT1M\u003C/LockDuration\u003E\r\n",
        "      \u003CMaxSizeInMegabytes\u003E1024\u003C/MaxSizeInMegabytes\u003E\r\n",
        "      \u003CRequiresDuplicateDetection\u003Efalse\u003C/RequiresDuplicateDetection\u003E\r\n",
        "      \u003CRequiresSession\u003Efalse\u003C/RequiresSession\u003E\r\n",
        "      \u003CDeadLetteringOnMessageExpiration\u003Efalse\u003C/DeadLetteringOnMessageExpiration\u003E\r\n",
        "      \u003CMaxDeliveryCount\u003E10\u003C/MaxDeliveryCount\u003E\r\n",
        "      \u003CEnableBatchedOperations\u003Etrue\u003C/EnableBatchedOperations\u003E\r\n",
        "      \u003CAuthorizationRules /\u003E\r\n",
        "      \u003CStatus\u003EActive\u003C/Status\u003E\r\n",
        "      \u003CEnablePartitioning\u003Efalse\u003C/EnablePartitioning\u003E\r\n",
        "    \u003C/QueueDescription\u003E\r\n",
        "  \u003C/content\u003E\r\n",
        "\u003C/entry\u003E"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/atom\u002Bxml; type=entry; charset=utf-8"
      },
      "ResponseBody": "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\u003Cid\u003Ehttps://jolovservicebus.servicebus.windows.net/af5d474c?api-version=2017-04\u003C/id\u003E\u003Ctitle type=\u0022text\u0022\u003Eaf5d474c\u003C/title\u003E\u003Cpublished\u003E2020-07-31T23:33:36Z\u003C/published\u003E\u003Cupdated\u003E2020-07-31T23:33:36Z\u003C/updated\u003E\u003Cauthor\u003E\u003Cname\u003Ejolovservicebus\u003C/name\u003E\u003C/author\u003E\u003Clink rel=\u0022self\u0022 href=\u0022https://jolovser[...]
[...]
    {
      "RequestUri": "https://jolovservicebus.servicebus.windows.net/78ca4f25/Subscriptions/86dd9149?api-version=2017-04",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom\u002Bxml",
        "UserAgent": "SERVICEBUS/2017-04(api-origin=.NETStandard,Version=v2.0;os=Microsoft Windows 10.0.18363 ;version=7.0.0.0;product=Azure .NET SDK)"
      },
      "RequestBody": [
        "\u003Centry xmlns=\u0022http://w[...]
[...]
    {
      "RequestUri": "https://jolovservicebus.servicebus.windows.net/af5d474c?api-version=2017-04",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "UserAgent": "SERVICEBUS/2017-04(api-origin=.NETStandard,Version=v2.0;os=Microsoft Windows 10.0.18363 ;version=7.0.0.0;product=Azure .NET SDK)"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "637318352167230000"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://jolovservicebus.servicebus.windows.net/78ca4f25?api-version=2017-04",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "UserAgent": "SERVICEBUS/2017-04(api-origin=.NETStandard,Version=v2.0;os=Microsoft Windows 10.0.18363 ;version=7.0.0.0;product=Azure .NET SDK)"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "637318352177030000"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1380394250"
  }
}