{
  "Entries": [
    {
      "RequestUri": "https://recordedtests.servicebus.windows.net/af5d474c?api-version=2017-04",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom\u002Bxml"
      },
      "RequestBody": [
        "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\r\n",
        "  \u003Ccontent type=\u0022application/xml\u0022\u003E\r\n",
        "    \u003CQueueDescription xmlns=\u0022http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\u0022\u003E\r\n",
        "      \u003CLockDuration\u003EPT1M\u003C/LockDuration\u003E\r\n",
        "      \u003CMaxSizeInMegabytes\u003E1024\u003C/MaxSizeInMegabytes\u003E\r\n",
        "      \u003CRequiresDuplicateDetection\u003Efalse\u003C/RequiresDuplicateDetection\u003E\r\n",
        "      \u003CRequiresSession\u003Efalse\u003C/RequiresSession\u003E\r\n",
        "      \u003CDeadLetteringOnMessageExpiration\u003Efalse\u003C/DeadLetteringOnMessageExpiration\u003E\r\n",
        "      \u003CMaxDeliveryCount\u003E10\u003C/MaxDeliveryCount\u003E\r\n",
        "      \u003CEnableBatchedOperations\u003Etrue\u003C/EnableBatchedOperations\u003E\r\n",
        "      \u003CAuthorizationRules /\u003E\r\n",
        "      \u003CStatus\u003EActive\u003C/Status\u003E\r\n",
        "      \u003CEnablePartitioning\u003Efalse\u003C/EnablePartitioning\u003E\r\n",
        "    \u003C/QueueDescription\u003E\r\n",
        "  \u003C/content\u003E\r\n",
        "\u003C/entry\u003E"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/atom\u002Bxml; type=entry; charset=utf-8"
      },
      "ResponseBody": "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\u003Cid\u003Ehttps://recordedtests.servicebus.windows.net/af5d474c?api-version=2017-04\u003C/id\u003E\u003Ctitle type=\u0022text\u0022\u003Eaf5d474c\u003C/title\u003E\u003Cpublished\u003E2020-10-19T17:00:53Z\u003C/published\u003E\u003Cupdated\u003E2020-10-19T17:00:53Z\u003C/updated\u003E\u003Cauthor\u003E\u003Cname\u003Erecordedtests.servicebus.windows.net\u003C/name\u003E\u003C/author\u003E\u003Clink rel=\u0022self\u0022 href=\u0[...]
[...]
    {
      "RequestUri": "https://recordedtests.servicebus.windows.net/78ca4f25/Subscriptions/86dd9149?api-version=2017-04",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom\u002Bxml"
      },
      "RequestBody": [
        "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\r\n",
        "  \u003Ccontent type=\u0022application/xml\u0022\u003E\r\n",
        "    \u003CSubscriptionDescription xmln[...]
[...]
    {
      "RequestUri": "https://recordedtests.servicebus.windows.net/78ca4f25?api-version=2017-04",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom\u002Bxml"
      },
      "RequestBody": [
        "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\r\n",
        "  \u003Ccontent type=\u0022application/xml\u0022\u003E\r\n",
        "    \u003CTopicDescription xmlns=\u0022http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\u0022\u003E\r\n",
        "      \u003CMaxSizeInMegabytes\u003E1024\u003C/MaxSizeInMegabytes\u003E\r\n",
        "      \u003CRequiresDuplicateDetection\u003Efalse\u003C/RequiresDuplicateDetection\u003E\r\n",
        "      \u003CEnableBatchedOperations\u003Etrue\u003C/EnableBatchedOperations\u003E\r\n",
        "      \u003CAuthorizationRules /\u003E\r\n",
        "      \u003CStatus\u003EActive\u003C/Status\u003E\r\n",
        "      \u003CSupportOrdering\u003Efalse\u003C/SupportOrdering\u003E\r\n",
        "      \u003CEnablePartitioning\u003Efalse\u003C/EnablePartitioning\u003E\r\n",
        "    \u003C/TopicDescription\u003E\r\n",
        "  \u003C/content\u003E\r\n",
        "\u003C/entry\u003E"
      ],
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml; charset=utf-8",
        "ETag": "637387236549000000"
      },
      "ResponseBody": "\u003CError\u003E\u003CCode\u003E409\u003C/Code\u003E\u003CDetail\u003ESubCode=40900. Conflict. You\u0027re requesting an operation that isn\u0027t allowed in the resource\u0027s current state. To know more visit https://aka.ms/sbResourceMgrExceptions. . TrackingId:903f6e23-0ec4-488b-bc0d-ba6da5737d9a_G15, SystemTracker:recordedtests.servicebus.windows.net:78ca4f25, Timestamp:2020-10-19T17:00:55\u003C/Detail\u003E\u003C/Error\u003E"
    },
[...]
    {
      "RequestUri": "https://recordedtests.servicebus.windows.net/78ca4f25?api-version=2017-04",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "637387236549000000"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1380394250",
    "SERVICEBUS_CONNECTION_STRING": "Endpoint=sb://recordedtests.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=Kg=="
  }
}
