{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11956"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-7114?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-7114",
        "name": "testRG-7114",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-7114/providers/Microsoft.StreamAnalytics/streamingjobs/testTransformation-9139?api-version=2021-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus",
        "properties": {
          "sku": {
            "name": "Standard"
          },
          "eventsOutOfOrderPolicy": "Drop",
          "outputErrorPolicy": "Drop",
          "eventsOutOfOrderMaxDelayInSeconds": 0,
          "eventsLateArrivalMaxDelayInSeconds": 5,
          "dataLocale": "en-US",
          "compatibilityLevel": "1.0"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "2e5420e7-dba0-46b5-aaf3-543ddb9e0747",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-7114/providers/Microsoft.StreamAnalytics/streamingjobs/testTransformation-9139",
        "name": "testTransformation-9139",
        "type": "Microsoft.StreamAnalytics/streamingjobs",
        "location": "West US",
        "tags": {},
        "properties": {
          "sku": {
            "name": "Standard"
          },
          "jobId": "a4714e31-ff81-495d-adc5-250d844f753c",
          "provisioningState": "Succeeded",
          "jobState": "Created",
          "eventsOutOfOrderPolicy": "Drop",
          "outputErrorPolicy": "Drop",
          "eventsOutOfOrderMaxDelayInSeconds": 0,
          "eventsLateArrivalMaxDelayInSeconds": 5,
          "dataLocale": "en-US",
          "createdDate": "2022-08-29T05:18:42.793Z",
          "compatibilityLevel": "1.0",
          "jobStorageAccount": null,
          "contentStoragePolicy": "SystemAccount",
          "inputs": [],
          "functions": [],
          "outputs": [],
          "jobType": "Cloud",
          "cluster": null
        },
        "sku": {
          "name": "Standard"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-7114/providers/Microsoft.StreamAnalytics/streamingjobs/testTransformation-9139/transformations/testTransformation-9139?api-version=2021-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "streamingUnits": 6,
          "query": "Select Id, Name from inputtest"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "d472fc0a-b818-4a48-9585-7d1dd225d17a",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-7114/providers/Microsoft.StreamAnalytics/streamingjobs/testTransformation-9139/transformations/testTransformation-9139",
        "name": "testTransformation-9139",
        "type": "Microsoft.StreamAnalytics/streamingjobs/transformations",
        "properties": {
          "streamingUnits": 6,
          "query": "Select Id, Name from inputtest"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-7114/providers/Microsoft.StreamAnalytics/streamingjobs/testTransformation-9139/transformations/testTransformation-9139?api-version=2021-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "d472fc0a-b818-4a48-9585-7d1dd225d17a",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-7114/providers/Microsoft.StreamAnalytics/streamingjobs/testTransformation-9139/transformations/testTransformation-9139",
        "name": "testTransformation-9139",
        "type": "Microsoft.StreamAnalytics/streamingjobs/transformations",
        "properties": {
          "streamingUnits": 6,
          "query": "Select Id, Name from inputtest"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "1613686972",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
