{
    "Entries": [
        {
            "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-01-11-preview2",
            "RequestMethod": "POST",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "Content-Type": "application/json",
                "x-ms-content-sha256": "Sanitized",
                "x-ms-date": "Tue, 22 Jun 2021 22:04:05 GMT"
            },
            "RequestBody": {
                "phoneNumberType": "tollFree",
                "assignmentType": "application",
                "capabilities": {
                    "calling": "none",
                    "sms": "outbound"
                }
            },
            "StatusCode": 202,
            "ResponseHeaders": {
                "api-supported-versions": "2022-01-11-preview2",
                "Location": "/availablePhoneNumbers/searchResults/a2b4d8dc-b133-4088-97dd-5f1b1093505b?api-version=2022-01-11-preview2",
                "MS-CV": "UI/k1nO86UW0xwtUjVnApg.0",
                "operation-id": "search_a2b4d8dc-b133-4088-97dd-5f1b1093505b",
                "Operation-Location": "/phoneNumbers/operations/search_a2b4d8dc-b133-4088-97dd-5f1b1093505b?api-version=2022-01-11-preview2",
                "search-id": "a2b4d8dc-b133-4088-97dd-5f1b1093505b",
                "X-Processing-Time": "1874ms"
            },
            "ResponseBody": []
        },
        {
            "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/operations/search_a2b4d8dc-b133-4088-97dd-5f1b1093505b?api-version=2022-01-11-preview2",
            "RequestMethod": "GET",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "x-ms-content-sha256": "Sanitized",
                "x-ms-date": "Tue, 22 Jun 2021 22:04:09 GMT"
            },
            "RequestBody": null,
            "StatusCode": 200,
            "ResponseHeaders": {
                "api-supported-versions": "2022-01-11-preview2",
                "Content-Type": "application/json; charset=utf-8",
                "Location": "/availablePhoneNumbers/searchResults/a2b4d8dc-b133-4088-97dd-5f1b1093505b?api-version=2022-01-11-preview2",
                "MS-CV": "DWJ7cSmtl02tlIS19NMJ8w.0",
                "X-Processing-Time": "404ms"
            },
            "ResponseBody": {
                "status": "succeeded",
                "resourceLocation": "/availablePhoneNumbers/searchResults/a2b4d8dc-b133-4088-97dd-5f1b1093505b?api-version=2022-01-11-preview2",
                "createdDateTime": "2021-06-22T22:04:06.9373275\u002B00:00",
                "id": "search_a2b4d8dc-b133-4088-97dd-5f1b1093505b",
                "operationType": "search",
                "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
            }
        },
        {
            "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/searchResults/a2b4d8dc-b133-4088-97dd-5f1b1093505b?api-version=2022-01-11-preview2",
            "RequestMethod": "GET",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "x-ms-content-sha256": "Sanitized",
                "x-ms-date": "Tue, 22 Jun 2021 22:04:09 GMT"
            },
            "RequestBody": null,
            "StatusCode": 200,
            "ResponseHeaders": {
                "api-supported-versions": "2022-01-11-preview2",
                "Content-Type": "application/json; charset=utf-8",
                "MS-CV": "YrJYBtrBiU22HBYYRkYWig.0",
                "X-Processing-Time": "1218ms"
            },
            "ResponseBody": {
                "searchId": "a2b4d8dc-b133-4088-97dd-5f1b1093505b",
                "phoneNumbers": [
                    "Sanitized"
                ],
                "phoneNumberType": "tollFree",
                "assignmentType": "application",
                "capabilities": {
                    "calling": "none",
                    "sms": "outbound"
                },
                "cost": {
                    "amount": 2.0,
                    "currencyCode": "USD",
                    "billingFrequency": "monthly"
                },
                "searchExpiresBy": "2021-06-22T22:20:08.7474139\u002B00:00"
            }
        },
        {
            "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-01-11-preview2",
            "RequestMethod": "POST",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "Content-Type": "application/json",
                "x-ms-content-sha256": "Sanitized",
                "x-ms-date": "Tue, 22 Jun 2021 22:04:11 GMT"
            },
            "RequestBody": {
                "searchId": "a2b4d8dc-b133-4088-97dd-5f1b1093505b"
            },
            "StatusCode": 202,
            "ResponseHeaders": {
                "api-supported-versions": "2022-01-11-preview2",
                "MS-CV": "Y4qzorky90uFbHlp\u002BVrrsQ.0",
                "operation-id": "purchase_a2b4d8dc-b133-4088-97dd-5f1b1093505b",
                "Operation-Location": "/phoneNumbers/operations/purchase_a2b4d8dc-b133-4088-97dd-5f1b1093505b?api-version=2022-01-11-preview2",
                "purchase-id": "a2b4d8dc-b133-4088-97dd-5f1b1093505b",
                "X-Processing-Time": "1707ms"
            },
            "ResponseBody": []
        },
        {
            "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/operations/purchase_a2b4d8dc-b133-4088-97dd-5f1b1093505b?api-version=2022-01-11-preview2",
            "RequestMethod": "GET",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "x-ms-content-sha256": "Sanitized",
                "x-ms-date": "Tue, 22 Jun 2021 22:04:14 GMT"
            },
            "RequestBody": null,
            "StatusCode": 200,
            "ResponseHeaders": {
                "api-supported-versions": "2022-01-11-preview2",
                "Content-Type": "application/json; charset=utf-8",
                "MS-CV": "jjvzF19rVkeXpkSiXTB7ug.0",
                "X-Processing-Time": "380ms"
            },
            "ResponseBody": {
                "status": "running",
                "resourceLocation": null,
                "createdDateTime": "2021-06-22T22:04:06.9373275\u002B00:00",
                "id": "purchase_a2b4d8dc-b133-4088-97dd-5f1b1093505b",
                "operationType": "purchase",
                "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
            }
        },
[...]
        {
            "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers?api-version=2022-01-11-preview2",
            "RequestMethod": "GET",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "x-ms-content-sha256": "Sanitized",
                "x-ms-date": "Tue, 22 Jun 2021 22:04:30 GMT"
            },
            "RequestBody": null,
            "StatusCode": 200,
            "ResponseHeaders": {
                "api-supported-versions": "2022-01-11-preview2",
                "Content-Type": "application/json; charset=utf-8",
                "MS-CV": "aw4BodWbfUK60mmS\u002B3pTmw.0",
                "X-Processing-Time": "1704ms"
            },
            "ResponseBody": {
                "phoneNumbers": [
                    {
                        "id": "Sanitized",
                        "phoneNumber": "Sanitized",
                        "countryCode": "US",
                        "phoneNumberType": "geographic",
                        "capabilities": {
                            "calling": "inbound\u002Boutbound",
                            "sms": "none"
                        },
                        "assignmentType": "application",
                        "purchaseDate": "2021-04-14T00:23:52.1861991\u002B00:00",
                        "cost": {
                            "amount": 1.0,
                            "currencyCode": "USD",
                            "billingFrequency": "monthly"
                        }
                    },
                    {
                        "id": "Sanitized",
                        "phoneNumber": "Sanitized",
                        "countryCode": "US",
                        "phoneNumberType": "geographic",
   [...]
        {
            "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/Sanitized/capabilities?api-version=2022-01-11-preview2",
            "RequestMethod": "PATCH",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "Content-Type": "application/merge-patch\u002Bjson",
                "x-ms-content-sha256": "Sanitized",
                "x-ms-date": "Tue, 22 Jun 2021 22:04:31 GMT"
            },
            "RequestBody": {
                "calling": "outbound",
                "sms": "inbound\u002Boutbound"
            },
            "StatusCode": 202,
            "ResponseHeaders": {
                "api-supported-versions": "2022-01-11-preview2",
                "capabilities-id": "817c0ef1-31fd-413f-bf09-243783bd2586",
                "Content-Type": "application/json; charset=utf-8",
                "Location": "/phoneNumbers/\u002BSanitized?api-version=2022-01-11-preview2",
                "MS-CV": "Aauh1Ex5C0mGhGbXEATIvA.0",
                "operation-id": "capabilities_817c0ef1-31fd-413f-bf09-243783bd2586",
                "Operation-Location": "/phoneNumbers/operations/capabilities_817c0ef1-31fd-413f-bf09-243783bd2586?api-version=2022-01-11-preview2",
                "X-Processing-Time": "1733ms"
            },
            "ResponseBody": {
                "capabilitiesUpdateId": "817c0ef1-31fd-413f-bf09-243783bd2586"
            }
        },
        {
            "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/operations/capabilities_817c0ef1-31fd-413f-bf09-243783bd2586?api-version=2022-01-11-preview2",
            "RequestMethod": "GET",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "x-ms-content-sha256": "Sanitized",
                "x-ms-date": "Tue, 22 Jun 2021 22:04:35 GMT"
            },
            "RequestBody": null,
            "StatusCode": 200,
            "ResponseHeaders": {
                "api-supported-versions": "2022-01-11-preview2",
                "Content-Type": "application/json; charset=utf-8",
                "Location": "/phoneNumbers/\u002BSanitized?api-version=2022-01-11-preview2",
                "MS-CV": "aU4eyEhlqES4CU8P8h23sA.0",
                "X-Processing-Time": "329ms"
            },
            "ResponseBody": {
                "status": "running",
                "resourceLocation": "/phoneNumbers/Sanitized?api-version=2022-01-11-preview2",
                "createdDateTime": "2021-06-22T22:04:33.4183499\u002B00:00",
                "id": "capabilities_817c0ef1-31fd-413f-bf09-243783bd2586",
                "operationType": "updatePhoneNumberCapabilities",
                "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
            }
        },
[...]
        {
            "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/\u002BSanitized?api-version=2022-01-11-preview2",
            "RequestMethod": "GET",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "x-ms-content-sha256": "Sanitized",
                "x-ms-date": "Tue, 22 Jun 2021 22:04:38 GMT"
            },
            "RequestBody": null,
            "StatusCode": 200,
            "ResponseHeaders": {
                "api-supported-versions": "2022-01-11-preview2",
                "Content-Type": "application/json; charset=utf-8",
                "MS-CV": "rxHIQAi8hkizHk6AUPk\u002B1g.0",
                "X-Processing-Time": "1374ms"
            },
            "ResponseBody": {
                "id": "Sanitized",
                "phoneNumber": "Sanitized",
                "countryCode": "US",
                "phoneNumberType": "tollFree",
                "capabilities": {
                    "calling": "outbound",
                    "sms": "inbound\u002Boutbound"
                },
                "assignmentType": "application",
                "purchaseDate": "2021-06-22T22:04:27.3616408\u002B00:00",
                "cost": {
                    "amount": 2.0,
                    "currencyCode": "USD",
                    "billingFrequency": "monthly"
                }
            }
        },
[...]
        {
            "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/Sanitized?api-version=2022-01-11-preview2",
            "RequestMethod": "DELETE",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "x-ms-content-sha256": "Sanitized",
                "x-ms-date": "Tue, 22 Jun 2021 22:04:41 GMT"
            },
            "RequestBody": null,
            "StatusCode": 202,
            "ResponseHeaders": {
                "api-supported-versions": "2022-01-11-preview2",
                "MS-CV": "67oe5lt37Ei/JFXDgSGKUw.0",
                "operation-id": "release_9c67e494-22f1-42ec-8664-dab0f768aa2c",
                "Operation-Location": "/phoneNumbers/operations/release_9c67e494-22f1-42ec-8664-dab0f768aa2c?api-version=2022-01-11-preview2",
                "release-id": "9c67e494-22f1-42ec-8664-dab0f768aa2c",
                "X-Processing-Time": "1236ms"
            },
            "ResponseBody": []
        },
        {
            "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/operations/release_9c67e494-22f1-42ec-8664-dab0f768aa2c?api-version=2022-01-11-preview2",
            "RequestMethod": "GET",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "x-ms-content-sha256": "Sanitized",
                "x-ms-date": "Tue, 22 Jun 2021 22:04:45 GMT"
            },
            "RequestBody": null,
            "StatusCode": 200,
            "ResponseHeaders": {
                "api-supported-versions": "2022-01-11-preview2",
                "Content-Type": "application/json; charset=utf-8",
                "MS-CV": "ib0tGahroUeSH2fLfZ\u002B4Jw.0",
                "X-Processing-Time": "604ms"
            },
            "ResponseBody": {
                "status": "running",
                "resourceLocation": null,
                "createdDateTime": "2021-06-22T22:04:42.3949247\u002B00:00",
                "id": "release_9c67e494-22f1-42ec-8664-dab0f768aa2c",
                "operationType": "releasePhoneNumber",
                "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
            }
        },
[...]
