{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 21 Jun 2023 01:18:44 GMT"
      },
      "RequestBody": {
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "none",
          "sms": "outbound"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "Location": "Sanitized",
        "MS-CV": "LVvEeFs\u002BYkuHRnXrda\u002BqBA.0",
        "operation-id": "search_63b33458-1917-4cfd-976c-7c6ed94f46cd",
        "Operation-Location": "/phoneNumbers/operations/search_63b33458-1917-4cfd-976c-7c6ed94f46cd?api-version=2022-12-01",
        "search-id": "63b33458-1917-4cfd-976c-7c6ed94f46cd",
        "X-Processing-Time": "1042ms"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/operations/search_63b33458-1917-4cfd-976c-7c6ed94f46cd?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 21 Jun 2023 01:18:45 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "Sanitized",
        "MS-CV": "5Ln1YMdLbUykQKfeibIzVA.0",
        "X-Processing-Time": "249ms"
      },
      "ResponseBody": {
        "operationType": "search",
        "status": "notStarted",
        "resourceLocation": "/availablePhoneNumbers/searchResults/63b33458-1917-4cfd-976c-7c6ed94f46cd?api-version=2022-12-01",
        "createdDateTime": "2023-06-21T01:18:44.3531418\u002B00:00",
        "id": "search_63b33458-1917-4cfd-976c-7c6ed94f46cd",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/searchResults/63b33458-1917-4cfd-976c-7c6ed94f46cd?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 21 Jun 2023 01:18:48 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "94Q3S/WUX0GRmCJeFeGzfg.0",
        "X-Processing-Time": "478ms"
      },
      "ResponseBody": {
        "searchId": "63b33458-1917-4cfd-976c-7c6ed94f46cd",
        "phoneNumbers": [
          "Sanitized"
        ],
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "none",
          "sms": "outbound"
        },
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        },
        "searchExpiresBy": "2023-06-21T01:34:46.2561422\u002B00:00",
        "error": "NoError"
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 21 Jun 2023 01:18:48 GMT"
      },
      "RequestBody": {
        "searchId": "63b33458-1917-4cfd-976c-7c6ed94f46cd"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "MS-CV": "oihZCvZeuUimwZYtUfBVKQ.0",
        "operation-id": "purchase_63b33458-1917-4cfd-976c-7c6ed94f46cd",
        "Operation-Location": "/phoneNumbers/operations/purchase_63b33458-1917-4cfd-976c-7c6ed94f46cd?api-version=2022-12-01",
        "purchase-id": "63b33458-1917-4cfd-976c-7c6ed94f46cd",
        "X-Processing-Time": "845ms"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/operations/purchase_63b33458-1917-4cfd-976c-7c6ed94f46cd?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 21 Jun 2023 01:18:49 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "jQjy3PFiKUWfaEFHzEXW2g.0",
        "X-Processing-Time": "231ms"
      },
      "ResponseBody": {
        "operationType": "purchase",
        "status": "running",
        "resourceLocation": null,
        "createdDateTime": "2023-06-21T01:18:44.3531418\u002B00:00",
        "id": "purchase_63b33458-1917-4cfd-976c-7c6ed94f46cd",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 21 Jun 2023 01:19:08 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "V5bCQ21iUkKogEDMKvsSeQ.0",
        "X-Processing-Time": "2565ms"
      },
      "ResponseBody": {
        "phoneNumbers": [
          {
            "id": "Sanitized",
            "phoneNumber": "Sanitized",
            "countryCode": "US",
            "phoneNumberType": "geographic",
            "capabilities": {
              "calling": "inbound\u002Boutbound",
              "sms": "none"
            },
            "assignmentType": "application",
            "purchaseDate": "2021-06-24T15:18:14.7689633\u002B00:00",
            "cost": {
              "amount": 1.0,
              "currencyCode": "USD",
              "billingFrequency": "monthly"
            }
          },
          {
            "id": "Sanitized",
            "phoneNumber": "Sanitized",
            "countryCode": "US",
            "phoneNumberType": "geographic",
            "capabilities": {
              "calling": "inbound\u002Boutbound",
              "sms": "none"
            },
            "a[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/Sanitized/capabilities?api-version=2022-12-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 21 Jun 2023 01:19:10 GMT"
      },
      "RequestBody": {
        "calling": "outbound",
        "sms": "inbound\u002Boutbound"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "capabilities-id": "fd1973b6-2383-45f0-93f7-d2ce0da21c8a",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "Sanitized",
        "MS-CV": "xscnHE4YXUWZi6\u002BxyXcX4A.0",
        "operation-id": "capabilities_fd1973b6-2383-45f0-93f7-d2ce0da21c8a",
        "Operation-Location": "/phoneNumbers/operations/capabilities_fd1973b6-2383-45f0-93f7-d2ce0da21c8a?api-version=2022-12-01",
        "X-Processing-Time": "3505ms"
      },
      "ResponseBody": {
        "capabilitiesUpdateId": "fd1973b6-2383-45f0-93f7-d2ce0da21c8a"
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/operations/capabilities_fd1973b6-2383-45f0-93f7-d2ce0da21c8a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 21 Jun 2023 01:19:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "Sanitized",
        "MS-CV": "ZQt4O0i41UaHUSZEmR2K\u002Bg.0",
        "X-Processing-Time": "184ms"
      },
      "ResponseBody": {
        "operationType": "updatePhoneNumberCapabilities",
        "status": "running",
        "resourceLocation": "/phoneNumbers/Sanitized?api-version=2022-12-01",
        "createdDateTime": "2023-06-21T01:19:13.315948\u002B00:00",
        "id": "capabilities_fd1973b6-2383-45f0-93f7-d2ce0da21c8a",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
        "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/Sanitized/Sanitized",
        "RequestMethod": "GET",
        "RequestHeaders": {
            "Authorization": "Sanitized",
            "x-ms-content-sha256": "Sanitized",
            "x-ms-date": "Wed, 21 Jun 2023 01:19:21 GMT"
        },
        "RequestBody": null,
        "StatusCode": 200,
        "ResponseHeaders": {
            "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
            "Content-Type": "application/json; charset=utf-8",
            "MS-CV": "lQzK6TAjLEWCuTWpw8DHwQ.0",
            "X-Processing-Time": "1763ms"
        },
        "ResponseBody": {
            "id": "Sanitized",
            "phoneNumber": "Sanitized",
            "countryCode": "US",
            "phoneNumberType": "tollFree",
            "capabilities": {
                "calling": "outbound",
                "sms": "inbound\u002Boutbound"
            },
            "assignmentType": "application",
            "purchaseDate": "2023-06-21T01:19:02.715549\u002B00:00",
            "cost": {
                "amount": 2.0,
                "currencyCode": "USD",
                "billingFrequency": "monthly"
            }
        }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/Sanitized?api-version=2022-12-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 21 Jun 2023 01:19:22 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "MS-CV": "/vnpn3gW/EuwZPl3MkuHCA.0",
        "operation-id": "release_bff10a51-015b-4283-9f56-6bb93a84ac8f",
        "Operation-Location": "/phoneNumbers/operations/release_bff10a51-015b-4283-9f56-6bb93a84ac8f?api-version=2022-12-01",
        "release-id": "bff10a51-015b-4283-9f56-6bb93a84ac8f",
        "X-Processing-Time": "2673ms"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/operations/release_bff10a51-015b-4283-9f56-6bb93a84ac8f?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 21 Jun 2023 01:19:25 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "hvglHyf4PUiIc9qgzSxm8A.0",
        "X-Processing-Time": "194ms"
      },
      "ResponseBody": {
        "operationType": "releasePhoneNumber",
        "status": "notStarted",
        "resourceLocation": null,
        "createdDateTime": "2023-06-21T01:19:24.0409115\u002B00:00",
        "id": "release_bff10a51-015b-4283-9f56-6bb93a84ac8f",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/Sanitized?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 21 Jun 2023 01:19:36 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "Content-Type": "application/json",
        "MS-CV": "6KmSLTZnuka1eSgSYrV9MQ.0",
        "X-Processing-Time": "710ms"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "Input phoneNumber Sanitized cannot be found.",
          "target": "phonenumber"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1598984751"
  }
}
