{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "none",
          "sms": "outbound"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "/availablePhoneNumbers/searchResults/1c469383-f782-4fa2-8290-9c36778313cd?api-version=2021-03-07",
        "MS-CV": "AfX1RwkP3Ee3H4cN3vbczA.0",
        "operation-id": "search_1c469383-f782-4fa2-8290-9c36778313cd",
        "Operation-Location": "/phoneNumbers/operations/search_1c469383-f782-4fa2-8290-9c36778313cd?api-version=2021-03-07",
        "search-id": "1c469383-f782-4fa2-8290-9c36778313cd",
        "X-Processing-Time": "22ms"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/search_1c469383-f782-4fa2-8290-9c36778313cd?api-version=2021-03-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/availablePhoneNumbers/searchResults/1c469383-f782-4fa2-8290-9c36778313cd?api-version=2021-03-07",
        "MS-CV": "K4Y2CbUgLk\u002BUsR67tajhaw.0",
        "X-Processing-Time": "3ms"
      },
      "ResponseBody": {
        "status": "NotStarted",
        "resourceLocation": "/availablePhoneNumbers/searchResults/1c469383-f782-4fa2-8290-9c36778313cd?api-version=2021-03-07",
        "createdDateTime": "2021-02-26T07:45:30.78606\u002B00:00",
        "id": "search_1c469383-f782-4fa2-8290-9c36778313cd",
        "operationType": "Search",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/1c469383-f782-4fa2-8290-9c36778313cd?api-version=2021-03-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "F8NuYEiAMkaRscbEKQ5lJQ.0",
        "X-Processing-Time": "2ms"
      },
      "ResponseBody": {
        "searchId": "1c469383-f782-4fa2-8290-9c36778313cd",
        "phoneNumbers": [
          "Sanitized"
        ],
        "phoneNumberType": "TollFree",
        "assignmentType": "Application",
        "capabilities": {
          "calling": "none",
          "sms": "outbound"
        },
        "cost": {
          "amount": 0.0,
          "currencyCode": "USD",
          "billingFrequency": "Monthly"
        },
        "searchExpiresBy": "2021-02-26T08:00:30.7860590\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "searchId": "1c469383-f782-4fa2-8290-9c36778313cd"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "MS-CV": "aSYz6tIVuECSNTHzn7Po0Q.0",
        "operation-id": "purchase_1c469383-f782-4fa2-8290-9c36778313cd",
        "Operation-Location": "/phoneNumbers/operations/purchase_1c469383-f782-4fa2-8290-9c36778313cd?api-version=2021-03-07",
        "purchase-id": "1c469383-f782-4fa2-8290-9c36778313cd",
        "X-Processing-Time": "10ms"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_1c469383-f782-4fa2-8290-9c36778313cd?api-version=2021-03-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "zQ2ngQDhYECIHP78ec1ZqQ.0",
        "X-Processing-Time": "2ms"
      },
      "ResponseBody": {
        "status": "NotStarted",
        "resourceLocation": null,
        "createdDateTime": "2021-02-26T07:45:30.78606\u002B00:00",
        "id": "purchase_1c469383-f782-4fa2-8290-9c36778313cd",
        "operationType": "Purchase",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers?api-version=2021-03-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "vK1oV\u002B7jx0moYbqIUtE0tg.0",
        "X-Processing-Time": "10ms"
      },
      "ResponseBody": {
        "phoneNumbers": [
          {
            "id": "Sanitized",
            "phoneNumber": "Sanitized",
            "countryCode": "US",
            "phoneNumberType": "TollFree",
            "capabilities": {
              "calling": "none",
              "sms": "outbound"
            },
            "assignmentType": "Application",
            "purchaseDate": "0001-01-01T00:00:00\u002B00:00",
            "cost": {
              "amount": 0.0,
              "currencyCode": "USD",
              "billingFrequency": "Monthly"
            }
          },
          {
            "id": "Sanitized",
            "phoneNumber": "Sanitized",
            "countryCode": "US",
            "phoneNumberType": "TollFree",
            "capabilities": {
              "calling": "none",
              "sms": "outbound"
            },
            "assignmentType": "Applic[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/Sanitized/capabilities?api-version=2021-03-07",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "calling": "outbound",
        "sms": "inbound\u002Boutbound"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "capabilities-id": "2f43a5e9-1292-486b-8f00-f7d29f265f30",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/phoneNumbers/\u002BSanitized?api-version=2021-03-07",
        "MS-CV": "\u002B0N7/lKSKEuEfg9h7g65EQ.0",
        "operation-id": "capabilities_2f43a5e9-1292-486b-8f00-f7d29f265f30",
        "Operation-Location": "/phoneNumbers/operations/capabilities_2f43a5e9-1292-486b-8f00-f7d29f265f30?api-version=2021-03-07",
        "X-Processing-Time": "18ms"
      },
      "ResponseBody": {
        "capabilitiesUpdateId": "2f43a5e9-1292-486b-8f00-f7d29f265f30"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/capabilities_2f43a5e9-1292-486b-8f00-f7d29f265f30?api-version=2021-03-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/phoneNumbers/\u002BSanitized?api-version=2021-03-07",
        "MS-CV": "Eor60d/fGEuyfJ7InnsXLQ.0",
        "X-Processing-Time": "9ms"
      },
      "ResponseBody": {
        "status": "NotStarted",
        "resourceLocation": "/phoneNumbers/Sanitized?api-version=2021-03-07",
        "createdDateTime": "2021-02-26T07:45:47.274365\u002B00:00",
        "id": "capabilities_2f43a5e9-1292-486b-8f00-f7d29f265f30",
        "operationType": "UpdatePhoneNumberCapabilities",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/\u002BSanitized?api-version=2021-03-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "HKQhA49QhE\u002BelYXB2YXYMA.0",
        "X-Processing-Time": "4ms"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "phoneNumber": "Sanitized",
        "countryCode": "US",
        "phoneNumberType": "TollFree",
        "capabilities": {
          "calling": "outbound",
          "sms": "inbound\u002Boutbound"
        },
        "assignmentType": "Application",
        "purchaseDate": "0001-01-01T00:00:00\u002B00:00",
        "cost": {
          "amount": 0.0,
          "currencyCode": "USD",
          "billingFrequency": "Monthly"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/Sanitized?api-version=2021-03-07",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "MS-CV": "zQL4aLzaWk\u002BbueQiHOeBwA.0",
        "operation-id": "release_59c132b3-545c-4292-89de-18f823fe8b8a",
        "Operation-Location": "/phoneNumbers/operations/release_59c132b3-545c-4292-89de-18f823fe8b8a?api-version=2021-03-07",
        "release-id": "59c132b3-545c-4292-89de-18f823fe8b8a",
        "X-Processing-Time": "4ms"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/release_59c132b3-545c-4292-89de-18f823fe8b8a?api-version=2021-03-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "AZVPdh4PZ0qHjaEQ4Ep7ow.0",
        "X-Processing-Time": "2ms"
      },
      "ResponseBody": {
        "status": "NotStarted",
        "resourceLocation": null,
        "createdDateTime": "2021-02-26T07:45:53.530853\u002B00:00",
        "id": "release_59c132b3-545c-4292-89de-18f823fe8b8a",
        "operationType": "ReleasePhoneNumber",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
