{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 15 Jun 2021 17:52:18 GMT"
      },
      "RequestBody": {
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "none",
          "sms": "outbound"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07",
        "Location": "/availablePhoneNumbers/searchResults/e78d4b0f-9aa1-4fff-a8dd-963c03630c6c?api-version=2021-03-07",
        "MS-CV": "2HKMud80gE\u002B70LhRhcclJg.0",
        "operation-id": "search_e78d4b0f-9aa1-4fff-a8dd-963c03630c6c",
        "Operation-Location": "/phoneNumbers/operations/search_e78d4b0f-9aa1-4fff-a8dd-963c03630c6c?api-version=2021-03-07",
        "search-id": "e78d4b0f-9aa1-4fff-a8dd-963c03630c6c",
        "X-Processing-Time": "2447ms"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/operations/search_e78d4b0f-9aa1-4fff-a8dd-963c03630c6c?api-version=2021-03-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 15 Jun 2021 17:52:23 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/availablePhoneNumbers/searchResults/e78d4b0f-9aa1-4fff-a8dd-963c03630c6c?api-version=2021-03-07",
        "MS-CV": "y//p\u002B81t20CmKa1Isp\u002Bs0w.0",
        "X-Processing-Time": "897ms"
      },
      "ResponseBody": {
        "status": "succeeded",
        "resourceLocation": "/availablePhoneNumbers/searchResults/e78d4b0f-9aa1-4fff-a8dd-963c03630c6c?api-version=2021-03-07",
        "createdDateTime": "2021-06-15T17:52:20.8115713\u002B00:00",
        "id": "search_e78d4b0f-9aa1-4fff-a8dd-963c03630c6c",
        "operationType": "search",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/searchResults/e78d4b0f-9aa1-4fff-a8dd-963c03630c6c?api-version=2021-03-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 15 Jun 2021 17:52:24 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "CZiScW236E2Dij6OKh\u002BD3w.0",
        "X-Processing-Time": "1762ms"
      },
      "ResponseBody": {
        "searchId": "e78d4b0f-9aa1-4fff-a8dd-963c03630c6c",
        "phoneNumbers": [
          "Sanitized"
        ],
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "none",
          "sms": "outbound"
        },
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        },
        "searchExpiresBy": "2021-06-15T18:08:22.9951024\u002B00:00"
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 15 Jun 2021 17:52:26 GMT"
      },
      "RequestBody": {
        "searchId": "e78d4b0f-9aa1-4fff-a8dd-963c03630c6c"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07",
        "MS-CV": "1k\u002BfGaGFtU24AskNGhw8GQ.0",
        "operation-id": "purchase_e78d4b0f-9aa1-4fff-a8dd-963c03630c6c",
        "Operation-Location": "/phoneNumbers/operations/purchase_e78d4b0f-9aa1-4fff-a8dd-963c03630c6c?api-version=2021-03-07",
        "purchase-id": "e78d4b0f-9aa1-4fff-a8dd-963c03630c6c",
        "X-Processing-Time": "3521ms"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/operations/purchase_e78d4b0f-9aa1-4fff-a8dd-963c03630c6c?api-version=2021-03-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 15 Jun 2021 17:52:31 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ZRKyM036pEqW2OXFRk\u002BoTg.0",
        "X-Processing-Time": "1646ms"
      },
      "ResponseBody": {
        "status": "notStarted",
        "resourceLocation": null,
        "createdDateTime": "2021-06-15T17:52:20.8115713\u002B00:00",
        "id": "purchase_e78d4b0f-9aa1-4fff-a8dd-963c03630c6c",
        "operationType": "purchase",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers?api-version=2021-03-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 15 Jun 2021 17:52:48 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "1mUCoHsbTE\u002BjR9E1xFIljQ.0",
        "X-Processing-Time": "2624ms"
      },
      "ResponseBody": {
        "phoneNumbers": [
          {
            "id": "Sanitized",
            "phoneNumber": "Sanitized",
            "countryCode": "US",
            "phoneNumberType": "geographic",
            "capabilities": {
              "calling": "inbound\u002Boutbound",
              "sms": "none"
            },
            "assignmentType": "application",
            "purchaseDate": "2021-04-14T00:23:52.1861991\u002B00:00",
            "cost": {
              "amount": 1.0,
              "currencyCode": "USD",
              "billingFrequency": "monthly"
            }
          },
          {
            "id": "Sanitized",
            "phoneNumber": "Sanitized",
            "countryCode": "US",
            "phoneNumberType": "geographic",
            "capabilities": {
              "calling": "outbound",
              "sms": "none"
            },
            "assignmentType[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/Sanitized/capabilities?api-version=2021-03-07",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 15 Jun 2021 17:52:51 GMT"
      },
      "RequestBody": {
        "calling": "outbound",
        "sms": "inbound\u002Boutbound"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07",
        "capabilities-id": "ab793c23-78a1-46d2-b503-ee3b7bbccd4c",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/phoneNumbers/\u002BSanitized?api-version=2021-03-07",
        "MS-CV": "n52v7o5cqkC/fsgHzLpnHA.0",
        "operation-id": "capabilities_ab793c23-78a1-46d2-b503-ee3b7bbccd4c",
        "Operation-Location": "/phoneNumbers/operations/capabilities_ab793c23-78a1-46d2-b503-ee3b7bbccd4c?api-version=2021-03-07",
        "X-Processing-Time": "5493ms"
      },
      "ResponseBody": {
        "capabilitiesUpdateId": "ab793c23-78a1-46d2-b503-ee3b7bbccd4c"
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/operations/capabilities_ab793c23-78a1-46d2-b503-ee3b7bbccd4c?api-version=2021-03-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 15 Jun 2021 17:52:58 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/phoneNumbers/\u002BSanitized?api-version=2021-03-07",
        "MS-CV": "bAqgI2puT0Wtyak46EhRVA.0",
        "X-Processing-Time": "2415ms"
      },
      "ResponseBody": {
        "status": "succeeded",
        "resourceLocation": "/phoneNumbers/Sanitized?api-version=2021-03-07",
        "createdDateTime": "2021-06-15T17:52:55.2807678\u002B00:00",
        "id": "capabilities_ab793c23-78a1-46d2-b503-ee3b7bbccd4c",
        "operationType": "updatePhoneNumberCapabilities",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/\u002BSanitized?api-version=2021-03-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 15 Jun 2021 17:53:01 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "fEx1DxVR70uWXMJDGge1KQ.0",
        "X-Processing-Time": "3997ms"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "phoneNumber": "Sanitized",
        "countryCode": "US",
        "phoneNumberType": "tollFree",
        "capabilities": {
          "calling": "outbound",
          "sms": "inbound\u002Boutbound"
        },
        "assignmentType": "application",
        "purchaseDate": "2021-06-15T17:52:43.8192336\u002B00:00",
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        }
      }
    },
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/Sanitized?api-version=2021-03-07",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 15 Jun 2021 17:53:08 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07",
        "MS-CV": "cVlG9bZx5k6aP46bzE9cCQ.0",
        "operation-id": "release_f0e6f53c-b721-45d0-987d-f8c4ec925e8a",
        "Operation-Location": "/phoneNumbers/operations/release_f0e6f53c-b721-45d0-987d-f8c4ec925e8a?api-version=2021-03-07",
        "release-id": "f0e6f53c-b721-45d0-987d-f8c4ec925e8a",
        "X-Processing-Time": "3068ms"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/operations/release_f0e6f53c-b721-45d0-987d-f8c4ec925e8a?api-version=2021-03-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 15 Jun 2021 17:53:13 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "tA8Voi9/\u002Bk2XLAH09yJDwA.0",
        "X-Processing-Time": "2310ms"
      },
      "ResponseBody": {
        "status": "running",
        "resourceLocation": null,
        "createdDateTime": "2021-06-15T17:53:09.4321993\u002B00:00",
        "id": "release_f0e6f53c-b721-45d0-987d-f8c4ec925e8a",
        "operationType": "releasePhoneNumber",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
