{
  "Entries": [
    {
      "RequestUri": "/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/providers/Microsoft.BigAnalytics/register?api-version=2014-04-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/providers/Microsoft.BigAnalytics\",\r\n  \"namespace\": \"Microsoft.BigAnalytics\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"accounts\",\r\n      \"locations\": [\r\n        \"East US 2\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-08-01-preview\",\r\n        \"2014-10-01\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"accounts/dataLakeAccounts\",\r\n      \"locations\": [\r\n        \"East US 2\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-08-01-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"accounts/storageAccounts\",\r\n      \"locations\": [\r\n        \"East US 2\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-08-01-preview\"\r\n      ]\[...]
    {
      "RequestUri": "/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/providers/Microsoft.BigAnalytics?api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/providers/Microsoft.BigAnalytics\",\r\n  \"namespace\": \"Microsoft.BigAnalytics\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"accounts\",\r\n      \"lo[...]
    {
      "RequestUri": "/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/providers/Microsoft.Storage/register?api-version=2014-04-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/providers/Microsoft.Storage\",\r\n  \"namespace\": \"Microsoft.Storage\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"storageAccounts\",\r\n      \"[...]
    {
      "RequestUri": "/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/providers/Microsoft.Storage?api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/providers/Microsoft.Storage\",\r\n  \"namespace\": \"Microsoft.Storage\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"storageAccounts\",\r\n      \"locations\[...]
    {
      "RequestUri": "/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/providers/Microsoft.DataLake/register?api-version=2014-04-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/providers/Microsoft.DataLake\",\r\n  \"namespace\": \"Microsoft.DataLake\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"dataLakeAccounts\",\r\n      \"locations\": [\r\n        \"East US 2\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2014-10-01\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"locations\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2014-10-01\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"locations/operationresults\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2014-10-01\"\r\n      ]\r\n    }\r\n  ],\r\n  \"registrationState\": \"Registered\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/providers/Microsoft.DataLake?api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/providers/Microsoft.DataLake\",\r\n  \"namespace\": \"Microsoft.DataLake\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"dataLakeAccounts\",\r\n      \"locations\": [\r\n        \"East US 2\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2014-10-01\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"locations\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2014-10-01\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"locations/operationresults\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2014-10-01\"\r\n      ]\r\n    }\r\n  ],\r\n  \"registrationState\": \"Registered\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14990"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/resourcegroups/rgaba1325?api-version=2014-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US 2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/resourceGroups/rgaba1325\",\r\n  \"name\": \"rgaba1325\",\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/resourceGroups/rgaba1325/providers/Microsoft.Storage/storageAccounts/testazureblob13744?api-version=2015-06-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US 2\",\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "25"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/providers/Microsoft.Storage/operations/0a665bfe-292b-4f97-861c-d64fcc7055d3?monitor=true&api-version=2015-06-15"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/providers/Microsoft.Storage/operations/0a665bfe-292b-4f97-861c-d64fcc7055d3?monitor=true&api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "25"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14961"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/providers/Microsoft.Storage/operations/0a665bfe-292b-4f97-861c-d64fcc7055d3?monitor=true&api-version=2015-06-15"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/resourceGroups/rgaba1325/providers/Microsoft.Storage/storageAccounts/testazureblob13744/listKeys?api-version=2015-06-15",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"key1\": \"c5/ufHHOEP6u9C88S0MD4dylate3rFWTPcW2ONGLeZUh7M7CDTpy0DOMXQedVFXiCWjNPPgkmyK+wsD/2WQKDw==\",\r\n  \"key2\": \"p7jl6O/6/433zj5kYO8f2lZwOGosxhkyMQOaaw7Wc6A47aPYfIcd68KM6tkSM0NsGGHi1YUItxp7O3JkkMKShA==\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/resourceGroups/rgaba1325/providers/Microsoft.Storage/storageAccounts/testazureblob13744?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/resourceGroups/rgaba1325/providers/Microsoft.Storage/storageAccounts/testazureblob13744\",\r\n  \"location\": \"eastus2\",\r\n  \"name\": \"testazureblob13744\",\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\",\r\n    \"creationTime\": \"2015-11-20T21:04:48.4980592Z\",\r\n    \"primaryEndpoints\": {\r\n      \"blob\": \"https://testazureblob13744.blob.core.windows.net/\",\r\n      \"file\": \"https://testazureblob13744.file.core.windows.net/\",\r\n      \"queue\": \"https://testazureblob13744.queue.core.windows.net/\",\r\n      \"table\": \"https://testazureblob13744.table.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"eastus2\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"secondaryLocation\": \"centralus\",\r\n    \"statusOfPrimary\": \"available\",\r\n    \"statusOfSecondary\": \"available\"\r\n  },\r\n  \"tags\": {},\r\n  \"type\": \"Microsoft.Storage/storageAccounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14961"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/resourceGroups/rgaba1325/providers/Microsoft.DataLakeStore/accounts/testdatalake11773?api-version=2015-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US 2\",\r\n  \"name\": \"testdatalake11773\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.Store 0.9.2-preview"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"state\": null,\r\n    \"endpoint\": null,\r\n    \"creationTime\": null,\r\n    \"lastModifiedTime\": null\r\n  },\r\n  \"location\": \"East US 2\",\r\n  \"tags\": null,\r\n  \"id\": \"/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/resourceGroups/rgaba1325/providers/Microsoft.DataLakeStore/accounts/testdatalake11773\",\r\n  \"name\": \"testdatalake11773\",\r\n  \"type\": \"Microsoft.DataLakeStore/accounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/providers/Microsoft.DataLakeStore/locations/EastUS2/operationResults/a2b9e780-1b96-44ee-bc1a-5192d6b99f3c0?api-version=2015-10-01-preview&expanded=true"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/resourcegroups/rgaba1325/providers/Microsoft.DataLakeStore/accounts/testdatalake11773/operationresults/0?api-version=2015-10-01-preview"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/providers/Microsoft.DataLakeStore/locations/EastUS2/operationResults/a2b9e780-1b96-44ee-bc1a-5192d6b99f3c0?api-version=2015-10-01-preview&expanded=true",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14958"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/resourceGroups/rgaba1325/providers/Microsoft.DataLakeAnalytics/accounts/testaba15978?api-version=2015-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US 2\",\r\n  \"name\": \"testaba15978\",\r\n  \"tags\": {\r\n    \"testkey\": \"testvalue\"\r\n  },\r\n  \"properties\": {\r\n    \"defaultDataLakeStoreAccount\": \"testdatalake11773\",\r\n    \"dataLakeStoreAccounts\": [\r\n      {\r\n        \"name\": \"testdatalake11773\",\r\n        \"properties\": {\r\n          \"suffix\": \"azuredatalakestore.net\"\r\n        }\r\n      }\r\n    ],\r\n    \"creationTime\": \"0001-01-01T00:00:00\",\r\n    \"lastModifiedTime\": \"0001-01-01T00:00:00\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.Analytics 0.9.5-preview"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"defaultDataLakeStoreAccount\": [...]
    {
      "RequestUri": "/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/providers/Microsoft.DataLakeAnalytics/locations/EastUS2/operationResults/9f5b3c2f-21ad-4d61-a5b2-9ca4fb2419480?api-version=2015-10-01-preview&expanded=true",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14901"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/resourceGroups/rgaba1325/providers/Microsoft.DataLakeAnalytics/accounts/testaba15978?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.Analytics 0.9.5-preview"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"defaultDataLakeStoreAccount\": \"testdatalake11773\",\r\n    \"dataLakeStoreAccounts\": [\r\n      {\r\n        \"properties\": {\r\n          \"suffix\": \"azuredatalakestore.net\"\r\n        },\r\n        \"name\": \"testdatalake11773\"\r\n      }\r\n    ],\r\n    \"storageAccounts\": [],\r\n    \"maxDegreeOfParallelism\": 20,\r\n    \"maxJobCount\": 3,\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"state\": \"Active\",\r\n    \"endpoint\": \"testaba15978.azuredatalakeanalytics.net\",\r\n    \"creationTime\": \"2015-11-20T21:06:55.0889022Z\",\r\n    \"lastModifiedTime\": \"2015-11-20T21:06:55.0889022Z\"\r\n  },\r\n  \"location\": \"East US 2\",\r\n  \"tags\": {\r\n    \"testkey\": \"testvalue\"\r\n  },\r\n  \"id\": \"/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/resourceGroups/rgaba1325/providers/Microsoft.DataLakeAnalytics/accounts/testaba15978\",\r\n  \"name\": \"testaba15978\",\r\n  \"type\": \"Microsoft.DataLakeAnalytics/accounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14897"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/resourceGroups/rgaba1325/providers/Microsoft.DataLakeAnalytics/accounts/testaba15978?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.Analytics 0.9.5-preview"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"defaultDataLakeStoreAccount\": \"testdatalake11773\",\r\n    \"dataLakeStoreAccounts\": [\r\n      {\r\n        \"properties\": {\r\n          \"suffix\": \"azuredatalakestore.net\"\r\n        },\r\n        \"name\": \"testdatalake11773\"\r\n      }\r\n    ],\r\n    \"storageAccounts\": [],\r\n    \"maxDegreeOfParallelism\": 20,\r\n    \"maxJobCount\": 3,\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"state\": \"Active\",\r\n    \"endpoint\": \"testaba15978.azuredatalakeanalytics.net\",\r\n    \"creationTime\": \"2015-11-20T21:06:55.0889022Z\",\r\n    \"lastModifiedTime\": \"2015-11-20T21:07:37.7564618Z\"\r\n  },\r\n  \"location\": \"East US 2\",\r\n  \"tags\": {\r\n    \"updatedKey\": \"updatedValue\"\r\n  },\r\n  \"id\": \"/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/resourceGroups/rgaba1325/providers/Microsoft.DataLakeAnalytics/accounts/testaba15978\",\r\n  \"name\": \"testaba15978\",\r\n  \"type\": \"Microsoft.DataLakeAnalytics/accounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14896"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/resourceGroups/rgaba1325/providers/Microsoft.DataLakeAnalytics/accounts/testaba15978secondacct?api-version=2015-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US 2\",\r\n  \"name\": \"testaba15978secondacct\",\r\n  \"type\": \"Microsoft.DataLakeAnalytics/accounts\",\r\n  \"id\": \"/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/resourceGroups/rgaba1325/providers/Mic[...]
    {
      "RequestUri": "/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/providers/Microsoft.DataLakeAnalytics/locations/EastUS2/operationResults/aed4f8d6-b306-430a-899d-8a8a0b81b4520?api-version=2015-10-01-preview&expanded=true",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Failed\",\r\n  \"error\": {\r\n    \"code\": \"InvalidInput\",\r\n    \"message\": \"Default DataLakeStore account is required.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14895"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/resourceGroups/rgaba1325/providers/Microsoft.DataLakeAnalytics/accounts?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.Analytics 0.9.5-preview"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"state\": \"Active\",\r\n        \"endpoint\": \"testaba15978.azuredatalakeanalytics.net\",\r\n        \"creationTime\": \"2015-11-20T21:06:55.0889022Z\",\r\n        \"lastModifiedTime\": \"2015-11-20T21:07:37.7564618Z\"\r\n      },\r\n      \"location\": \"East US 2\",\r\n      \"tags\": {\r\n        \"updatedKey\": \"updatedValue\"\r\n      },\r\n      \"id\": \"/subscriptions/46153750-fa3b-4140[...]
    {
      "RequestUri": "/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/resourceGroups/rgaba1325/providers/Microsoft.DataLakeAnalytics/accounts/testaba15978/DataLakeStoreAccounts/testdatalake28080?api-version=2015-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"suffix\": \"azuredatalakestore.net\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.Analytics 0.9.5-preview"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"suffix\": \"azuredatalakestore.net\"\r\n  },\r\n  \"id\": \"/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/resourceGroups/rgaba1325/providers/Microsoft.DataLakeAnalytics/accounts/testaba15978/dataLakeStoreAccounts/testdatalake28080\",\r\n  \"name\": \"testdatalake28080\",\r\n  \"type\": \"Microsoft.DataLakeAnalytics/accounts/dataLakeStoreAccounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/resourceGroups/rgaba1325/providers/Microsoft.DataLakeAnalytics/accounts/testaba15978/DataLakeStoreAccounts/?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.Analytics 0.9.5-preview"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties[...]
[...]
    {
      "RequestUri": "/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/resourceGroups/rgaba1325/providers/Microsoft.DataLakeAnalytics/accounts/testaba15978/StorageAccounts/testazureblob13744?api-version=2015-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"accessKey\": \"c5/ufHHOEP6u9C88S0MD4dylate3rFWTPcW2ONGLeZUh7M7CDTpy0DOMXQedVFXiCWjNPPgkmyK+wsD/2WQKDw==\",\r\n    \"suffix\": \"core.windows.net\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.Analytics 0.9.5-preview"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"suffix\": \"core.windows.net\"\r\n  },\r\n  \"id\": \"/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/resourceGroups/rgaba1325/providers/Microsoft.DataLakeAnalytics/accounts/testaba15978/storageAccounts/testazureblob13744\",\r\n  \"name\": \"testazureblob13744\",\r\n  \"type\": \"Microsoft.DataLakeAnalytics/accounts/storageAccounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/resourceGroups/rgaba1325/providers/Microsoft.DataLakeAnalytics/accounts/testaba15978/StorageAccounts/?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.Analytics 0.9.5-preview"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"suffix\": \"core.windows.net\"\r\n      },\r\n      \"id\": \"/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/resourceGroups/rgaba1325/providers/Microsoft.DataLakeAnalytics/accounts/testaba15978/storageAccounts/testazureblob13744\",\r\n      \"name\": \"testazureblob13744\",\r\n      \"type\": \"Microsoft.DataLakeAnalytics/accounts/storageAccounts\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14890"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/resourceGroups/rgaba1325/providers/Microsoft.DataLakeAnalytics/accounts/testaba15978?api-version=2015-10-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.Analytics 0.9.5-preview"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1190"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    ".ctor": [
      "rgaba1325",
      "testaba15978",
      "teststorage14200",
      "testdatalake11773",
      "testdatalake28080",
      "testazureblob13744"
    ]
  },
  "Variables": {
    "SubscriptionId": "46153750-fa3b-4140-bf57-8beb7d5c971a"
  }
}