{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/Sql-RG-3468?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11410"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3468",
        "name": "Sql-RG-3468",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3468/providers/Microsoft.Network/networkSecurityGroups/network-security-group-3562?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/db0a3007-525e-46d8-82d1-8f71540f8995?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"name\": \"network-security-group-3562\",\r\n",
        "  \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3468/providers/Microsoft.Network/networkSecurityGroups/network-security-group-3562\",\r\n",
        "  \"etag\": \"W/\\\"1d808eb4-d105-435d-94a7-809fee3ca88b\\\"\",\r\n",
        "  \"type\": \"Microsoft.Network/networkSecurityGroups\",\r\n",
        "  \"location\": \"westus2\",\r\n",
        "  \"properties\": {\r\n",
        "    \"provisioningState\": \"Updating\",\r\n",
        "    \"resourceGuid\": \"cf7628a0-dbc9-4a75-940f-a54ad989101b\",\r\n",
        "    \"securityRules\": [],\r\n",
        "    \"defaultSecurityRules\": [\r\n",
        "      {\r\n",
        "        \"name\": \"AllowVnetInBound\",\r\n",
        "        \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3468/providers/Microsoft.Network/networkSecurityGroups/network-security-group-3562/defaultSecurityRules/AllowVnetInBound\",\r\n",
        "        \"etag\": \"W/\\\"1d808eb4-d105-435d-94a7-809fee3ca88b\\\"\",\r\n",
        "        \"type\": \"Microsoft.Network/networkSecurityGroups/defaultSecurityRules\",\r\n",
        "        \"properties\": {\r\n",
        "          \"provisioningState\": \"Updating\",\r\n",
        "          \"description\": \"Allow inbound traffic from all VMs in VNET\",\r\n",
        "          \"protocol\": \"*\",\r\n",
        "          \"sourcePortRange\": \"*\",\r\n",
        "          \"destinationPortRange\": \"*\",\r\n",
        "          \"sourceAddressPrefix\": \"VirtualNetwork\",\r\n",
        "          \"destinationAddressPrefix\": \"VirtualNetwork\",\r\n",
        "          \"access\": \"Allow\",\r\n",
        "          \"priority\": 65000,\r\n",
        "          \"direction\": \"Inbound\",\r\n",
        "          \"sourcePortRanges\": [],\r\n",
        "          \"destinationPortRanges\": [],\r\n",
        "          \"sourceAddressPrefixes\": [],\r\n",
        "          \"destinationAddressPrefixes\": []\r\n",
        "        }\r\n",
        "      },\r\n",
        "      {\r\n",
        "        \"name\": \"AllowAzureLoadBalancerInBound\",\r\n",
        "        \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3468/providers/Microsoft.Network/networkSecurityGroups/network-security-group-3562/defaultSecurityRules/AllowAzureLoadBalancerInBound\",\r\n",
        "        \"etag\": \"W/\\\"1d808eb4-d105-435d-94a7-809fee3ca88b\\\"\",\r\n",
        "        \"ty[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/db0a3007-525e-46d8-82d1-8f71540f8995?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11409"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"status\": \"Succeeded\"\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3468/providers/Microsoft.Network/networkSecurityGroups/network-security-group-3562?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"94742f45-df91-40c8-b731-9a15661dfcd6\"",
        "x-ms-ratelimit-remaining-subscription-reads": "11408"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"name\": \"network-security-group-3562\",\r\n",
        "  \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3468/providers/Microsoft.Network/networkSecurityGroups/network-security-group-3562\",\r\n",
        "  \"etag\": \"W/\\\"94742f45-df91-40c8-b731-9a15661dfcd6\\\"\",\r\n",
        "  \"t[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3468/providers/Microsoft.Network/routeTables/route-table-6610?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3468/providers/Microsoft.Network/routeTables/route-table-6610?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"624752da-0996-4175-8faf-5b4b94c7bd60\"",
        "x-ms-ratelimit-remaining-subscription-reads": "11406"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"name\": \"route-table-6610\",\r\n",
        "  \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3468/providers/Microsoft.Network/routeTables/route-table-6610\",\r\n",
        "  \"etag\": \"W/\\\"624752da-0996-4175-8faf-5b4b94c7bd60\\\"\",\r\n",
        "  \"type\": \"Microsoft.Network/routeTables\",\r\n",
        "  \"location\": \"westus2\",\r\n",
        "  \"properties\": {\r\n",
        "    \"provisioningState\": \"Succeeded\",\r\n",
        "    \"resourceGuid\": \"23321d02-bccc-48b3-8a36-4209c2588bc0\",\r\n",
        "    \"disableBgpRoutePropagation\": false,\r\n",
        "    \"routes\": []\r\n",
        "  }\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3468/providers/Microsoft.Network/virtualNetworks/vnet-1459?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.10.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "subnet01",
              "properties": {
                "addressPrefix": "10.10.1.0/24"
              }
            },
            {
              "name": "ManagedInstance",
              "properties": {
                "addressPrefix": "10.10.2.0/24",
                "networkSecurityGroup": {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3468/providers/Microsoft.Network/networkSecurityGroups/network-security-group-3562",
                  "properties": {}
                },
                "routeTable": {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3468/providers/Microsoft.Network/routeTables/route-table-6610",
                  "properties": {}
                },
                "delegations": [
                  {
                    "name": "Microsoft.Sql/managedInstances",
                    "type": "Microsoft.Sql",
                    "properties": {
                      "serviceName": "Microsoft.Sql/managedInstances"
                    }
                  }
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/f3a16f24-14f6-4d8b-a5df-805ff0a10abd?api-version=2021-02-01",
        "Conten[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3468/providers/Microsoft.Sql/managedInstances/managed-instance-2741?api-version=2020-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "administratorLogin": "admin-managed-instance-2741",
          "administratorLoginPassword": "HvVJ%paVC@%GBKmi",
          "subnetId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3468/providers/Microsoft.Network/virtualNetworks/vnet-1459/subnets/ManagedInstance",
          "publicDataEndpointEnabled": false,
          "proxyOverride": "Proxy",
          "timezoneId": "UTC",
          "maintenanceConfigurationId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default",
          "storageAccountType": "GRS",
          "zoneRedundant": false
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "identity": {
          "type": "None"
        },
        "sku": {
          "name": "GP_Gen5",
          "tier": "GeneralPurpose",
          "family": "Gen5",
          "capacity": 8
        },
        "properties": {
          "provisioningState": "Creating",
          "administratorLogin": "admin-managed-instance-2741",
          "licenseType": "LicenseIncluded",
          "vCores": 8,
          "storageSizeInGB": 256,
          "collation": "SQL_Latin1_General_CP1_CI_AS",
          "publicDataEndpointEnabled": false,
          "proxyOverride": "Proxy",
          "timezoneId": "UTC",
          "maintenanceConfigurationId": "SystemDefault",
          "privateEndpointConnections": [],
          "storageAccountType": "GRS",
          "zoneRedundant": false
        },
        "location": "westus2",
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3468/providers/Microsoft.Sql/managedInstances/managed-instance-2741",
        "name": "managed-instance-2741",
        "type": "Microsoft.Sql/managedInstances"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3468/providers/Microsoft.Sql/managedInstances/managed-instance-2741?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11962"
      },
      "ResponseBody": {
        "sku": {
          "name": "GP_Gen5",
          "tier": "GeneralPurpose",
          "family": "Gen5",
          "capacity": 8
        },
        "properties": {
          "provisioningState": "Succeeded",
          "fullyQualifiedDomainName": "managed-instance-2741.87447eaa63ad.database.windows.net",
          "administratorLogin": "admin-managed-instance-2741",
          "subnetId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3468/providers/Microsoft.Network/virtualNetworks/vnet-1459/subnets/ManagedInstance",
          "state": "Ready",
          "licenseType": "LicenseIncluded",
          "vCores": 8,
          "storageSizeInGB": 256,
          "collation": "SQL_Latin1_General_CP1_CI_AS",
          "dnsZone": "87447eaa63ad",
          "publicDataEndpointEnabled": false,
          "proxyOverride": "Proxy",
          "timezoneId": "UTC",
          "maintenanceConfigurationId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default",
          "privateEndpointConnections": [],
          "storageAccountType": "GRS",
          "zoneRedundant": false
        },
        "location": "westus2",
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3468/providers/Microsoft.Sql/managedInstances/managed-instance-2741",
        "name": "managed-instance-2741",
        "type": "Microsoft.Sql/managedInstances"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3468/providers/Microsoft.Sql/managedInstances/managed-instance-2741/vulnerabilityAssessments/Default?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11961"
      },
      "ResponseBody": {
        "properties": {
          "recurringScans": {
            "isEnabled": false,
            "emailSubscriptionAdmins": true
          }
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3468/providers/Microsoft.Sql/managedInstances/managed-instance-2741/vulnerabilityAssessments/Default",
        "name": "Default",
        "type": "Microsoft.Sql/managedInstances/vulnerabilityAssessments"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3468/providers/Microsoft.Sql/managedInstances/managed-instance-2741/vulnerabilityAssessments?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11958"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "recurringScans": {
                "isEnabled": false,
                "emailSubscriptionAdmins": true
              }
            },
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3468/providers/Microsoft.Sql/managedInstances/managed-instance-2741/vulnerabilityAssessments/Default",
            "name": "Default",
            "type": "Microsoft.Sql/managedInstances/vulnerabilityAssessments"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "658684651",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}