{
  "Entries": [
    {
      "RequestUri": "/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/alerts?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/alerts/148820f7-807a-4edd-857b-a23c3dcb6acf\",\r\n      \"name\": \"148820f7-807a-4edd-857b-a23c3dcb6acf\",\r\n      \"type\": \"Microsoft.InfrastructureInsights.Admin/regionHealths/alerts\",\r\n      \"location\": \"local\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"closedTimestamp\": \"2017-08-25T04:52:27.9460892Z\",\r\n        \"createdTimestamp\": \"2017-08-25T04:44:12.8595509Z\",\r\n        \"description\": [\r\n          {\r\n            \"text\": \"The infrastructure role Infrastructure management controller is experiencing issues.\",\r\n            \"type\": \"Text\"\r\n          }\r\n        ],\r\n        \"faultId\": \"ServiceFabric:/FabricControllerRing/FabricControllerRing\",\r\n        \"alertId\": \"148820f7-807a-4edd-857b-a23c3dcb6acf\",\r\n        \"faultTypeId\": \"ServiceFabricClusterUnhealthy\",\r\n        \"lastUpdatedTimestamp\": \"2017-08-25T04:52:27.9460892Z\",\r\n        \"alertProperties\": {\r\n          \"healthState\": \"Error\",\r\n          \"name\": \"Infrastructure management controller\",\r\n          \"fabricName\": \"FabricControllerRing\",\r\n          \"description\": null,\r\n          \"serviceType\": \"FabricControllerRing\"\r\n        },\r\n        \"remediation\": [\r\n          {\r\n            \"text\": \"Please contact Support. Before you do, start the log file collection process using the guidance from \",\r\n            \"type\": \"Text\"\r\n          },\r\n          {\r\n            \"linkType\": \"Uri\",\r\n            \"uri\": \"https://aka.ms/azurestacklogfiles\",\r\n            \"type\": \"LinkBegin\"\r\n          },\r\n          {\r\n            \"text\": \"https://aka.ms/azurestacklogfiles\",\r\n            \"type\": \"Text\"\r\n          },\r\n          {\r\n            \"type\": \"LinkEnd\"\r\n          },\r\n          {\r\n            \"text\": \".\",\r\n            \"type\": \"Text\"\r\n          }\r\n        ],\r\n        \"resourceRegistrationId\": \"ca96c335-e545-4563-9d65-058db3a8ef15\",\r\n        \"resourceProviderRegistrationId\": \"e56bc7b8-c8b5-4e25-b00c-4f951effb22c\",\r\n        \"severity\": \"Warning\",\r\n        \"state\": \"Closed\",\r\n        \"title\": \"Infrastructure role is unhealthy\",\r\n        \"impactedResourceId\": \"/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/FabricControllerRing\",\r\n        \"impactedResourceDisplayName\": \"Infrastructure management controller\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/alerts/17d030ef-7be7-4e12-a653-6158a3bc7643\",\r\n      \"name\": \"17d030ef-7be7-4e12-a653-6158a3bc7643\",\r\n      \"type\": \"Microsoft.InfrastructureInsights.Admin/regionHealths/alerts\",\r\n      \"location\": \"local\",\r\n      \"tags\": {},\r\n      \"[...]
