{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11902"
      },
      "ResponseBody": {
        "id": "/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMSBreakGlassAzureOnly": "NRMSBreakGlassAzureOnly"
        },
        "subscriptionId": "5b0120b2-6e29-4784-95cd-49a1b101a0c4",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Marlin - Dev CP",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/resourcegroups/cosmospgrg1403?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "id": "/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/resourceGroups/cosmospgrg1403",
        "name": "cosmospgrg1403",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/resourceGroups/cosmospgrg1403/providers/Microsoft.DBforPostgreSQL/serverGroupsv2/cosmospgnet7642?api-version=2022-11-08",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus",
        "properties": {
          "administratorLoginPassword": "P4ssw@rd1234",
          "postgresqlVersion": "14",
          "citusVersion": "11.1",
          "preferredPrimaryZone": "1",
          "enableShardsOnCoordinator": true,
          "enableHa": false,
          "coordinatorServerEdition": "GeneralPurpose",
          "coordinatorStorageQuotaInMb": 524288,
          "coordinatorVCores": 4,
          "coordinatorEnablePublicIpAccess": true,
          "nodeCount": 0
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/providers/Microsoft.DBforPostgreSQL/locations/westus/azureAsyncOperation/b335ec54-b6ce-417f-8bce-b8bc27dfd8ce?api-version=2022-11-08",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/providers/Microsoft.DBforPostgreSQL/locations/westus/operationResults/b335ec54-b6ce-417f-8bce-b8bc27dfd8ce?api-version=2022-11-08",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "id": "/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/resourceGroups/cosmospgrg1403/providers/Microsoft.DBforPostgreSQL/serverGroupsv2/cosmospgnet7642",
        "name": "cosmospgnet7642",
        "type": "Microsoft.DBforPostgreSQL/serverGroupsv2",
        "tags": {},
        "location": "westus",
        "systemData": {
          "createdAt": "2023-05-26T21:20:43.7377327Z",
          "createdBy": "66761688-d440-4677-af3f-3325374b8ebf",
          "createdByType": "Application",
          "lastModifiedAt": "2023-05-26T21:20:43.7377327Z",
          "lastModifiedBy": "66761688-d440-4677-af3f-3325374b8ebf",
          "lastModifiedByType": "Application"
        },
        "properties": {
          "provisioningState": "Provisioning",
          "state": "Provisioning",
          "administratorLogin": "citus",
          "postgresqlVersion": "14",
          "citusVersion": "11.1",
          "maintenanceWindow": {
            "customWindow": "Disabled",
            "dayOfWeek": 0,
            "startHour": 0,
            "startMinute": 0
          },
          "preferredPrimaryZone": "1",
          "enableShardsOnCoordinator": true,
          "earliestRestoreTime": null,
          "sourceResourceId": null,
          "enableHa": false,
          "coordinatorServerEdition": "GeneralPurpose",
          "nodeServerEdition": "MemoryOptimized",
          "coordinatorStorageQuotaInMb": 524288,
          "nodeStorageQuotaInMb": 524288,
          "coordinatorVCores": 4,
          "nodeVCores": 4,
          "coordinatorEnablePublicIpAccess": true,
          "nodeEnablePublicIpAccess": false,
          "nodeCount": 0,
          "serverNames": [
            {
              "name": "cosmospgnet7642-c",
              "fullyQualifiedDomainName": "c.cosmospgnet7642.postgres.database.azure.com"
            }
          ],
          "readReplicas": [],
          "privateEndpointConnections": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/providers/Microsoft.DBforPostgreSQL/locations/westus/azureAsyncOperation/b335ec54-b6ce-417f-8bce-b8bc27dfd8ce?api-version=2022-11-08",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/providers/Microsoft.DBforPostgreSQL/locations/westus/azureAsyncOperation/b335ec54-b6ce-417f-8bce-b8bc27dfd8ce?api-version=2022-11-08",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/providers/Microsoft.DBforPostgreSQL/locations/westus/operationResults/b335ec54-b6ce-417f-8bce-b8bc27dfd8ce?api-version=2022-11-08",
        "x-ms-ratelimit-remaining-subscription-reads": "11901"
      },
      "ResponseBody": {
        "id": "/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/providers/Microsoft.DBforPostgreSQL/locations/westus/azureAsyncOperation/b335ec54-b6ce-417f-8bce-b8bc27dfd8ce",
        "name": "b335ec54-b6ce-417f-8bce-b8bc27dfd8ce",
        "status": "InProgress",
        "startTime": "2023-05-26 21:20:43 \u002B0000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/providers/Microsoft.DBforPostgreSQL/locations/westus/azureAsyncOperation/01455575-2306-4e3b-b81b-e4d3b77467ee?api-version=2022-11-08",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/providers/Microsoft.DBforPostgreSQL/locations/westus/azureAsyncOperation/01455575-2306-4e3b-b81b-e4d3b77467ee?api-version=2022-11-08",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/providers/Microsoft.DBforPostgreSQL/locations/westus/operationResults/01455575-2306-4e3b-b81b-e4d3b77467ee?api-version=2022-11-08",
        "x-ms-ratelimit-remaining-subscription-reads": "11852"
      },
      "ResponseBody": {
        "id": "/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/providers/Microsoft.DBforPostgreSQL/locations/westus/azureAsyncOperation/01455575-2306-4e3b-b81b-e4d3b77467ee",
        "name": "01455575-2306-4e3b-b81b-e4d3b77467ee",
        "status": "Succeeded",
        "startTime": "2023-05-26 21:27:59 \u002B0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "392550260",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "5b0120b2-6e29-4784-95cd-49a1b101a0c4"
  }
}
