{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11975"
      },
      "ResponseBody": {
        "id": "/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMSBreakGlassAzureOnly": "NRMSBreakGlassAzureOnly"
        },
        "subscriptionId": "5b0120b2-6e29-4784-95cd-49a1b101a0c4",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Marlin - Dev CP",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/resourcegroups/cosmospgrg4740?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/resourceGroups/cosmospgrg4740",
        "name": "cosmospgrg4740",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/resourceGroups/cosmospgrg4740/providers/Microsoft.DBforPostgreSQL/serverGroupsv2/cosmospgnet276?api-version=2022-11-08",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus",
        "properties": {
          "administratorLoginPassword": "P4ssw@rd1234",
          "postgresqlVersion": "14",
          "citusVersion": "11.1",
          "preferredPrimaryZone": "1",
          "enableShardsOnCoordinator": true,
          "enableHa": false,
          "coordinatorServerEdition": "GeneralPurpose",
          "coordinatorStorageQuotaInMb": 524288,
          "coordinatorVCores": 4,
          "coordinatorEnablePublicIpAccess": true,
          "nodeCount": 0
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/providers/Microsoft.DBforPostgreSQL/locations/westus/azureAsyncOperation/22b2baa6-f6a0-43da-8924-407748e37067?api-version=2022-11-08",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/providers/Microsoft.DBforPostgreSQL/locations/westus/operationResults/22b2baa6-f6a0-43da-8924-407748e37067?api-version=2022-11-08",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/resourceGroups/cosmospgrg4740/providers/Microsoft.DBforPostgreSQL/serverGroupsv2/cosmospgnet276",
        "name": "cosmospgnet276",
        "type": "Microsoft.DBforPostgreSQL/serverGroupsv2",
        "tags": {},
        "location": "westus",
        "systemData": {
          "createdAt": "2023-05-26T20:59:15.7016339Z",
          "createdBy": "66761688-d440-4677-af3f-3325374b8ebf",
          "createdByType": "Application",
          "lastModifiedAt": "2023-05-26T20:59:15.7016339Z",
          "lastModifiedBy": "66761688-d440-4677-af3f-3325374b8ebf",
          "lastModifiedByType": "Application"
        },
        "properties": {
          "provisioningState": "Provisioning",
          "state": "Provisioning",
          "administratorLogin": "citus",
          "postgresqlVersion": "14",
          "citusVersion": "11.1",
          "maintenanceWindow": {
            "customWindow": "Disabled",
            "dayOfWeek": 0,
            "startHour": 0,
            "startMinute": 0
          },
          "preferredPrimaryZone": "1",
          "enableShardsOnCoordinator": true,
          "earliestRestoreTime": null,
          "sourceResourceId": null,
          "enableHa": false,
          "coordinatorServerEdition": "GeneralPurpose",
          "nodeServerEdition": "MemoryOptimized",
          "coordinatorStorageQuotaInMb": 524288,
          "nodeStorageQuotaInMb": 524288,
          "coordinatorVCores": 4,
          "nodeVCores": 4,
          "coordinatorEnablePublicIpAccess": true,
          "nodeEnablePublicIpAccess": false,
          "nodeCount": 0,
          "serverNames": [
            {
              "name": "cosmospgnet276-c",
              "fullyQualifiedDomainName": "c.cosmospgnet276.postgres.database.azure.com"
            }
          ],
          "readReplicas": [],
          "privateEndpointConnections": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/providers/Microsoft.DBforPostgreSQL/locations/westus/azureAsyncOperation/22b2baa6-f6a0-43da-8924-407748e37067?api-version=2022-11-08",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/providers/Microsoft.DBforPostgreSQL/locations/westus/azureAsyncOperation/22b2baa6-f6a0-43da-8924-407748e37067?api-version=2022-11-08",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/providers/Microsoft.DBforPostgreSQL/locations/westus/operationResults/22b2baa6-f6a0-43da-8924-407748e37067?api-version=2022-11-08",
        "x-ms-ratelimit-remaining-subscription-reads": "11974"
      },
      "ResponseBody": {
        "id": "/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/providers/Microsoft.DBforPostgreSQL/locations/westus/azureAsyncOperation/22b2baa6-f6a0-43da-8924-407748e37067",
        "name": "22b2baa6-f6a0-43da-8924-407748e37067",
        "status": "InProgress",
        "startTime": "2023-05-26 20:59:15 \u002B0000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/providers/Microsoft.DBforPostgreSQL/locations/westus/azureAsyncOperation/7f284d80-05f2-4756-8032-c101922e078e?api-version=2022-11-08",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/providers/Microsoft.DBforPostgreSQL/locations/westus/azureAsyncOperation/7f284d80-05f2-4756-8032-c101922e078e?api-version=2022-11-08",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/providers/Microsoft.DBforPostgreSQL/locations/westus/operationResults/7f284d80-05f2-4756-8032-c101922e078e?api-version=2022-11-08",
        "x-ms-ratelimit-remaining-subscription-reads": "11925"
      },
      "ResponseBody": {
        "id": "/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/providers/Microsoft.DBforPostgreSQL/locations/westus/azureAsyncOperation/7f284d80-05f2-4756-8032-c101922e078e",
        "name": "7f284d80-05f2-4756-8032-c101922e078e",
        "status": "Succeeded",
        "startTime": "2023-05-26 21:06:05 \u002B0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "899952330",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "5b0120b2-6e29-4784-95cd-49a1b101a0c4"
  }
}
