{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/ee787b9b-a25f-4d20-86e9-45fcea5253dd?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/ee787b9b-a25f-4d20-86e9-45fcea5253dd",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "subscriptionId": "ee787b9b-a25f-4d20-86e9-45fcea5253dd",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure Search DEV Search PM (liamca)",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ee787b9b-a25f-4d20-86e9-45fcea5253dd/resourcegroups/sdk-test4326?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/ee787b9b-a25f-4d20-86e9-45fcea5253dd/resourceGroups/sdk-test4326",
        "name": "sdk-test4326",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ee787b9b-a25f-4d20-86e9-45fcea5253dd/resourceGroups/sdk-test4326/providers/Microsoft.Search/searchServices/search6297?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "basic"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "replicaCount": 1,
          "partitionCount": 1,
          "hostingMode": "default",
          "disableLocalAuth": true
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "4158",
        "ETag": "W/\u0022datetime\u00272023-02-28T23%3A13%3A52.6204375Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/ee787b9b-a25f-4d20-86e9-45fcea5253dd/resourceGroups/sdk-test4326/providers/Microsoft.Search/searchServices/search6297",
        "name": "search6297",
        "type": "Microsoft.Search/searchServices",
        "location": "East US",
        "tags": {},
        "properties": {
          "replicaCount": 1,
          "partitionCount": 1,
          "status": "running",
          "statusDetails": "",
          "provisioningState": "succeeded",
          "hostingMode": "default",
          "publicNetworkAccess": "Enabled",
          "networkRuleSet": {
            "ipRules": [],
            "bypass": "None"
          },
          "privateEndpointConnections": [],
          "sharedPrivateLinkResources": [],
          "disableLocalAuth": true,
          "authOptions": null
        },
        "sku": {
          "name": "basic"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ee787b9b-a25f-4d20-86e9-45fcea5253dd/resourceGroups/sdk-test4326/providers/Microsoft.Search/searchServices/search6297?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "365",
        "ETag": "W/\u0022datetime\u00272023-02-28T23%3A13%3A54.2804868Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/ee787b9b-a25f-4d20-86e9-45fcea5253dd/resourceGroups/sdk-test4326/providers/Microsoft.Search/searchServices/search6297",
        "name": "search6297",
        "type": "Microsoft.Search/searchServices",
        "location": "East US",
        "tags": {},
        "properties": {
          "replicaCount": 1,
          "partitionCount": 1,
          "status": "running",
          "statusDetails": "",
          "provisioningState": "succeeded",
          "hostingMode": "default",
          "publicNetworkAccess": "Enabled",
          "networkRuleSet": {
            "ipRules": [],
            "bypass": "None"
          },
          "privateEndpointConnections": [],
          "sharedPrivateLinkResources": [],
          "disableLocalAuth": false,
          "authOptions": {
            "apiKeyOnly": {}
          }
        },
        "sku": {
          "name": "basic"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ee787b9b-a25f-4d20-86e9-45fcea5253dd/resourceGroups/sdk-test4326/providers/Microsoft.Search/searchServices/search6297?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "basic"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "replicaCount": 1,
          "partitionCount": 1,
          "hostingMode": "default",
          "disableLocalAuth": false,
          "authOptions": {
            "aadOrApiKey": {
              "aadAuthFailureMode": "http401WithBearerChallenge"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "474",
        "ETag": "W/\u0022datetime\u00272023-02-28T23%3A13%3A57.1018731Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/ee787b9b-a25f-4d20-86e9-45fcea5253dd/resourceGroups/sdk-test4326/providers/Microsoft.Search/searchServices/search6297",
        "name": "search6297",
        "type": "Microsoft.Search/searchServices",
        "location": "East US",
        "tags": {},
        "properties": {
          "replicaCount": 1,
          "partitionCount": 1,
          "status": "running",
          "statusDetails": "",
          "provisioningState": "succeeded",
          "hostingMode": "default",
          "publicNetworkAccess": "Enabled",
          "networkRuleSet": {
            "ipRules": [],
            "bypass": "None"
          },
          "privateEndpointConnections": [],
          "sharedPrivateLinkResources": [],
          "disableLocalAuth": false,
          "authOptions": {
            "aadOrApiKey": {
              "aadAuthFailureMode": "http401WithBearerChallenge"
            }
          }
        },
        "sku": {
          "name": "basic"
        }
      }
    },
[...]
