{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/ee787b9b-a25f-4d20-86e9-45fcea5253dd?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11848"
      },
      "ResponseBody": {
        "id": "/subscriptions/ee787b9b-a25f-4d20-86e9-45fcea5253dd",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "subscriptionId": "ee787b9b-a25f-4d20-86e9-45fcea5253dd",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure Search DEV Search PM (liamca)",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ee787b9b-a25f-4d20-86e9-45fcea5253dd/resourcegroups/sdk-test8571?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "id": "/subscriptions/ee787b9b-a25f-4d20-86e9-45fcea5253dd/resourceGroups/sdk-test8571",
        "name": "sdk-test8571",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ee787b9b-a25f-4d20-86e9-45fcea5253dd/resourceGroups/sdk-test8571/providers/Microsoft.Search/searchServices/search7410?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "standard"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "replicaCount": 3,
          "partitionCount": 1,
          "hostingMode": "default"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "8596",
        "ETag": "W/\u0022datetime\u00272023-03-03T09%3A42%3A00.0265138Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "id": "/subscriptions/ee787b9b-a25f-4d20-86e9-45fcea5253dd/resourceGroups/sdk-test8571/providers/Microsoft.Search/searchServices/search7410",
        "name": "search7410",
        "type": "Microsoft.Search/searchServices",
        "location": "East US",
        "tags": {},
        "properties": {
          "replicaCount": 3,
          "partitionCount": 1,
          "status": "provisioning",
          "statusDetails": "",
          "provisioningState": "provisioning",
          "hostingMode": "default",
          "publicNetworkAccess": "Enabled",
          "networkRuleSet": {
            "ipRules": [],
            "bypass": "None"
          },
          "privateEndpointConnections": [],
          "sharedPrivateLinkResources": [],
          "disableLocalAuth": false,
          "authOptions": {
            "apiKeyOnly": {}
          }
        },
        "sku": {
          "name": "standard"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ee787b9b-a25f-4d20-86e9-45fcea5253dd/providers/Microsoft.Resources?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11836"
      },
      "ResponseBody": {
        "id": "/subscriptions/ee787b9b-a25f-4d20-86e9-45fcea5253dd/providers/Microsoft.Resources",
        "namespace": "Microsoft.Resources",
        "authorizations": [
          {
            "applicationId": "3b990c8b-9607-4c2a-8b04-1d41985facca"
          },
          {
            "applicationId": "94946920-7f9c-4956-93c0-2fcf94608102"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "deploymentScripts",
            "locations": [
              "East Asia",
              "Southeast Asia",
              "Australia East",
              "Australia Southeast",
              "Brazil South",
              "Canada Central",
              "Canada East",
              "Switzerland North",
              "Germany West Central",
              "East US 2",
              "East US",
              "Central US",
              "North Central US",
              "France Central",
              "UK South",
              "UK West",
              "Central India",
              "South India",
              "Jio India West",
              "Japan East",
              "Japan West",
              "Korea Central",
              "North Europe",
              "Norway East",
              "Sweden Central",
              "UAE North",
              "West Central US",
              "West Europe",
              "West US 2",
              "West US",
              "South Central US",
              "West US 3",
              "South Africa North"
            ],
            "apiVersions": [
              "2020-10-01",
              "2019-10-01-preview"
            ],
            "capabilities": "SupportsTags, SupportsLocation"
          },
          {
            "resourceType": "deploymentScripts/logs",
            "locations": [
              "East Asia",
              "Southeast Asia",
              "Australia East",
              "Australia Southeast",
              "Brazil South",
              "Canada Central",
              "Canada East",
              "Switzerland North",
              "Germany West Central",
              "East US 2",
              "East US",
              "C[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ee787b9b-a25f-4d20-86e9-45fcea5253dd/resourceGroups/sdk-test8571/providers/Microsoft.Search/searchServices/search7410/providers/Microsoft.Resources/tags/default?api-version=**",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "14998"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ee787b9b-a25f-4d20-86e9-45fcea5253dd/resourceGroups/sdk-test8571/providers/Microsoft.Search/searchServices/search7410/providers/Microsoft.Resources/tags/default?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "tags": {
            "key1": "value1",
            "key2": "value2"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": {
        "id": "/subscriptions/ee787b9b-a25f-4d20-86e9-45fcea5253dd/resourceGroups/sdk-test8571/providers/Microsoft.Search/searchServices/search7410/providers/Microsoft.Resources/tags/default",
        "name": "default",
        "type": "Microsoft.Resources/tags",
        "properties": {
          "tags": {
            "key1": "value1",
            "key2": "value2"
          }
        }
      }
    },
[...]
