{
  "Entries": [
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "source": "Sanitized",
        "useLabelFile": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/40d0d54b-853c-4757-8af5-4920559e0e1f"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/40d0d54b-853c-4757-8af5-4920559e0e1f?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "40d0d54b-853c-4757-8af5-4920559e0e1f",
          "status": "creating",
          "createdDateTime": "2021-05-10T20:25:42Z",
          "lastUpdatedDateTime": "2021-05-10T20:25:42Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/40d0d54b-853c-4757-8af5-4920559e0e1f?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "40d0d54b-853c-4757-8af5-4920559e0e1f",
          "attributes": {
            "isComposed": false
          },
          "status": "ready",
          "createdDateTime": "2021-05-10T20:25:42Z",
          "lastUpdatedDateTime": "2021-05-10T20:25:45Z"
        },
        "trainResult": {
          "averageModelAccuracy": 0.995,
          "trainingDocuments": [
            {
              "documentName": "label_table_fixed_rows1.pdf",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "label_table_fixed_rows2.pdf",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "label_table_fixed_rows3.pdf",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "label_table_fixed_rows4.pdf",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "label_table_fixed_rows5.pdf",
              "pages": 1,
              "status": "succeeded"
            }
          ],
          "fields": [
            {
              "fieldName": "table",
              "accuracy": 0.995
            }
          ],
          "errors": []
        }
      }
    },
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/40d0d54b-853c-4757-8af5-4920559e0e1f/analyze?includeTextDetails=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/pdf",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/40d0d54b-853c-4757-8af5-4920559e0e1f/analyzeresults/25722a59-69b1-4ffe-b86f-233765317ad8"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/40d0d54b-853c-4757-8af5-4920559e0e1f/analyzeResults/25722a59-69b1-4ffe-b86f-233765317ad8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2021-05-10T20:25:46Z",
        "lastUpdatedDateTime": "2021-05-10T20:25:46Z"
      }
    },
[...]
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/40d0d54b-853c-4757-8af5-4920559e0e1f/analyzeResults/25722a59-69b1-4ffe-b86f-233765317ad8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2021-05-10T20:25:46Z",
        "lastUpdatedDateTime": "2021-05-10T20:25:51Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch"
            }
          ],
          "pageResults": [
            {
              "page": 1,
              "tables": [
                {
                  "rows": 5,
                  "columns": 4,
                  "cells": [
                    {
                      "rowIndex": 0,
                      "columnIndex": 0,
                      "text": "",
                      "boundingBox": [
                        0.9958,
                        1.6215,
                        2.297,
                        1.6215,
                        2.297,
                        1.8221,
                        0.9958,
                        1.8221
                      ],
                      "isHeader": true
                    },
                    {
                      "rowIndex": 0,
                      "columnIndex": 1,
                      "text": "Price",
                      "boundingBox": [
                        2.297,
                        1.6215,
                        3.5982,
                        1.6215,
                        3.5982,
                        1.8272,
                        2.297,
                        1.8221
                      ],
                [...]
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/40d0d54b-853c-4757-8af5-4920559e0e1f",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_ENDPOINT": "https://mariari-canada-central.cognitiveservices.azure.com/",
    "FORM_RECOGNIZER_TABLE_FIXED_ROWS_BLOB_CONTAINER_SAS_URL_V2": "https://sanitized.blob.core.windows.net",
    "RandomSeed": "347051572"
  }
}