{
  "Entries": [
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "source": "Sanitized",
        "useLabelFile": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/73dca43e-4713-4a4c-bb4c-9078e0b95254"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/73dca43e-4713-4a4c-bb4c-9078e0b95254?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "73dca43e-4713-4a4c-bb4c-9078e0b95254",
          "status": "creating",
          "createdDateTime": "2021-05-10T20:39:48Z",
          "lastUpdatedDateTime": "2021-05-10T20:39:48Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/73dca43e-4713-4a4c-bb4c-9078e0b95254?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "73dca43e-4713-4a4c-bb4c-9078e0b95254",
          "status": "ready",
          "createdDateTime": "2021-05-10T20:39:48Z",
          "lastUpdatedDateTime": "2021-05-10T20:40:07Z"
        },
        "keys": {
          "clusters": {
            "0": [
              "Contoso Ltd. Conference will be held on May 28-29, 2020 at the Elm Conference Center in",
              "Included",
              "Maple City, Massachusetts. The conference has sold out of its 1,500 tickets, with a 400 person",
              "Package",
              "Price",
              "Rates:",
              "Vendor #:",
              "Vendor Registration",
              "below, and attach a check made out to:",
              "waitlist. Vendor applications are being accepted through Feb 28, 2020. Please fill in the form"
            ],
            "1": [
              "Company Name:",
              "Contact:",
              "Preferred Package:",
              "Special Requests:",
              "Vendor #:",
              "Vendor Details:"
            ]
          }
        },
        "trainResult": {
          "trainingDocuments": [
            {
              "documentName": "multi1.pdf",
              "pages": 2,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "multi2.pdf",
              "pages": 2,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "multi3.pdf",
              "pages": 2,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "multi4.pdf",
              "pages": 2,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "multi5.pdf",
              "pages": 2,
              "errors": [],
              "status": "succeeded"
            }
          ],
          "errors": []
        }
      }
    },
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/73dca43e-4713-4a4c-bb4c-9078e0b95254/analyze?includeTextDetails=false\u0026pages=1-2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/pdf",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/73dca43e-4713-4a4c-bb4c-9078e0b95254/analyzeresults/faf2e59c-1d1e-4724-a2d7-79923a7fffaa"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/73dca43e-4713-4a4c-bb4c-9078e0b95254/analyzeResults/faf2e59c-1d1e-4724-a2d7-79923a7fffaa",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2021-05-10T20:40:08Z",
        "lastUpdatedDateTime": "2021-05-10T20:40:08Z"
      }
    },
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/73dca43e-4713-4a4c-bb4c-9078e0b95254/analyzeResults/faf2e59c-1d1e-4724-a2d7-79923a7fffaa",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2021-05-10T20:40:08Z",
        "lastUpdatedDateTime": "2021-05-10T20:40:08Z",
        "analyzeResult": null
      }
    },
[...]
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/73dca43e-4713-4a4c-bb4c-9078e0b95254/analyzeResults/faf2e59c-1d1e-4724-a2d7-79923a7fffaa",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2021-05-10T20:40:08Z",
        "lastUpdatedDateTime": "2021-05-10T20:40:14Z",
        "analyzeResult": {
          "version": null,
          "readResults": [
            {
              "page": 1,
              "angle": 0,
              "width": 8.5,
              "height": 11.0,
              "unit": "inch",
              "lines": [],
              "selectionMarks": null
            },
            {
              "page": 2,
              "angle": 0,
              "width": 8.5,
              "height": 11.0,
              "unit": "inch",
              "lines": [],
              "selectionMarks": null
            }
          ],
          "pageResults": [
            {
              "page": 1,
              "keyValuePairs": [
                {
                  "key": {
                    "text": "Subtotal:",
                    "boundingBox": [
                      5.4972,
                      4.8889,
                      6.125,
                      4.8889,
                      6.125,
                      5.0278,
                      5.4972,
                      5.0278
                    ],
                    "elements": null
                  },
                  "value": {
                    "text": "300.00",
                    "boundingBox": [
                      6.1528,
                      4.8889,
                      6.6458,
                      4.8889,
                      6.6458,
                      5.0243,
                      6.1528,
                      5.0243
                    ],
                    "elements": null
                  },
                  "confidence": 1.0
                },
                {
                  "key": {
                    "text": "Tax:",
                    "boundingBox": [
                      5.5,
                      5.1181,
                      5.7889,
                      5.1181,
                      5.7889,
                      5.2465,
                      5.5,
                      5.2465
                    ],
                    "elements": null
                  },
                  "value": {
               [...]
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/73dca43e-4713-4a4c-bb4c-9078e0b95254",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_ENDPOINT": "https://mariari-canada-central.cognitiveservices.azure.com/",
    "FORM_RECOGNIZER_MULTIPAGE_BLOB_CONTAINER_SAS_URL_V2": "https://sanitized.blob.core.windows.net",
    "RandomSeed": "1689665867"
  }
}