{
  "Entries": [
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "source": "Sanitized",
        "useLabelFile": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/45679845-881e-4217-8028-17a20a8fcef3"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/45679845-881e-4217-8028-17a20a8fcef3?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "45679845-881e-4217-8028-17a20a8fcef3",
          "status": "creating",
          "createdDateTime": "2021-05-20T17:57:50Z",
          "lastUpdatedDateTime": "2021-05-20T17:57:50Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/45679845-881e-4217-8028-17a20a8fcef3?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "45679845-881e-4217-8028-17a20a8fcef3",
          "status": "ready",
          "createdDateTime": "2021-05-20T17:57:50Z",
          "lastUpdatedDateTime": "2021-05-20T17:58:05Z"
        },
        "keys": {
          "clusters": {
            "0": [
              "Additional Notes:",
              "Address:",
              "Company Name:",
              "Company Phone:",
              "Dated As:",
              "Details",
              "Email:",
              "Hero Limited",
              "Name:",
              "Phone:",
              "Purchase Order",
              "Purchase Order #:",
              "Quantity",
              "SUBTOTAL",
              "Seattle, WA 93849 Phone:",
              "Shipped From",
              "Shipped To",
              "TAX",
              "TOTAL",
              "Total",
              "Unit Price",
              "Vendor Name:",
              "Website:"
            ]
          }
        },
        "trainResult": {
          "trainingDocuments": [
            {
              "documentName": "Form_1.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "Form_2.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "Form_3.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "Form_4.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "Form_5.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            }
          ],
          "errors": []
        }
      }
    },
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/45679845-881e-4217-8028-17a20a8fcef3/analyze?includeTextDetails=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "image/jpeg",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/45679845-881e-4217-8028-17a20a8fcef3/analyzeresults/fb112e19-06fa-44d9-8e76-94b7fd961d3a"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/45679845-881e-4217-8028-17a20a8fcef3/analyzeResults/fb112e19-06fa-44d9-8e76-94b7fd961d3a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2021-05-20T17:58:06Z",
        "lastUpdatedDateTime": "2021-05-20T17:58:06Z"
      }
    },
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/45679845-881e-4217-8028-17a20a8fcef3/analyzeResults/fb112e19-06fa-44d9-8e76-94b7fd961d3a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2021-05-20T17:58:06Z",
        "lastUpdatedDateTime": "2021-05-20T17:58:07Z",
        "analyzeResult": null
      }
    },
[...]
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/45679845-881e-4217-8028-17a20a8fcef3/analyzeResults/fb112e19-06fa-44d9-8e76-94b7fd961d3a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2021-05-20T17:58:06Z",
        "lastUpdatedDateTime": "2021-05-20T17:58:12Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0,
              "width": 1700,
              "height": 2200,
              "unit": "pixel",
              "lines": [],
              "selectionMarks": null
            }
          ],
          "pageResults": [
            {
              "page": 1,
              "keyValuePairs": [
                {
                  "key": {
                    "text": "Company Phone:",
                    "boundingBox": [
                      163,
                      352,
                      361,
                      352,
                      361,
                      378,
                      163,
                      378
                    ],
                    "elements": null
                  },
                  "value": {
                    "text": "555-348-6512",
                    "boundingBox": [
                      365,
                      351,
                      525,
                      351,
                      525,
                      378,
                      365,
                      378
                    ],
                    "elements": null
                  },
                  "confidence": 1.0
                },
                {
                  "key": {
                    "text": "Website:",
                    "boundingBox": [
                      167,
                      394,
                      268,
                      394,
                      268,
                      417,
                      167,
                      417
                    ],
                    "elements": null
                  },
                  "value": {
                    "text": "[...]
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/45679845-881e-4217-8028-17a20a8fcef3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_BLOB_CONTAINER_SAS_URL_V2": "https://sanitized.blob.core.windows.net",
    "FORM_RECOGNIZER_ENDPOINT": "https://mariari-canada-central.cognitiveservices.azure.com/",
    "RandomSeed": "991483851"
  }
}