{
  "Entries": [
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "source": "Sanitized",
        "useLabelFile": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models/d3429059-b6a1-460b-945c-83798b3de9a4"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models/d3429059-b6a1-460b-945c-83798b3de9a4?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "d3429059-b6a1-460b-945c-83798b3de9a4",
          "status": "creating",
          "createdDateTime": "2021-04-23T17:21:47Z",
          "lastUpdatedDateTime": "2021-04-23T17:21:47Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models/d3429059-b6a1-460b-945c-83798b3de9a4?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "d3429059-b6a1-460b-945c-83798b3de9a4",
          "attributes": {
            "isComposed": false
          },
          "status": "ready",
          "createdDateTime": "2021-04-23T17:21:47Z",
          "lastUpdatedDateTime": "2021-04-23T17:21:50Z"
        },
        "trainResult": {
          "averageModelAccuracy": 0.995,
          "trainingDocuments": [
            {
              "documentName": "label_table_fixed_rows1.pdf",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "label_table_fixed_rows2.pdf",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "label_table_fixed_rows3.pdf",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "label_table_fixed_rows4.pdf",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "label_table_fixed_rows5.pdf",
              "pages": 1,
              "status": "succeeded"
            }
          ],
          "fields": [
            {
              "fieldName": "table",
              "accuracy": 0.995
            }
          ],
          "errors": []
        }
      }
    },
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models/d3429059-b6a1-460b-945c-83798b3de9a4/analyze?includeTextDetails=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/pdf",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models/d3429059-b6a1-460b-945c-83798b3de9a4/analyzeresults/3261acf7-1777-4a0c-b999-55f95b682796"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models/d3429059-b6a1-460b-945c-83798b3de9a4/analyzeResults/3261acf7-1777-4a0c-b999-55f95b682796",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2021-04-23T17:21:52Z",
        "lastUpdatedDateTime": "2021-04-23T17:21:52Z"
      }
    },
[...]
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models/d3429059-b6a1-460b-945c-83798b3de9a4/analyzeResults/3261acf7-1777-4a0c-b999-55f95b682796",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2021-04-23T17:21:52Z",
        "lastUpdatedDateTime": "2021-04-23T17:22:00Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch"
            }
          ],
          "pageResults": [
            {
              "page": 1,
              "tables": [
                {
                  "rows": 5,
                  "columns": 4,
                  "cells": [
                    {
                      "rowIndex": 0,
                      "columnIndex": 0,
                      "text": "",
                      "boundingBox": [
                        0.9904,
                        1.6215,
                        2.297,
                        1.6215,
                        2.297,
                        1.8221,
                        0.9958,
                        1.8272
                      ]
                    },
                    {
                      "rowIndex": 0,
                      "columnIndex": 1,
                      "text": "Price",
                      "boundingBox": [
                    [...]
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models/d3429059-b6a1-460b-945c-83798b3de9a4",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_ENDPOINT": "https://mariari-canada-central.cognitiveservices.azure.com/",
    "FORM_RECOGNIZER_TABLE_FIXED_ROWS_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "RandomSeed": "912060981"
  }
}