{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Logic/operations?api-version=2016-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.Logic/locations/workflows/validate/action\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Logic\",\r\n        \"resource\": \"Workflow\",\r\n        \"operation\": \"Validate Workflow\",\r\n        \"description\": \"Validates the workflow.\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Logic/workflows/read\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Logic\",\r\n        \"resource\": \"Workflow\",\r\n        \"operation\": \"Get Workflow\",\r\n        \"description\": \"Reads the workflow.\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Logic/workflows/write\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Logic\",\r\n        \"resource\": [...]
