{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11978"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tagValue1",
          "tagKey2": "tagValue2"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/teststorageRG-4355?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "tags": {
          "test": "env"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-4355",
        "name": "teststorageRG-4355",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/checkNameAvailability?api-version=2021-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "teststoragemgmt1452",
        "type": "Microsoft.Storage/storageAccounts"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11977"
      },
      "ResponseBody": {
        "nameAvailable": true
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-4355/providers/Microsoft.Storage/storageAccounts/teststoragemgmt1452?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_GRS"
        },
        "kind": "Storage",
        "location": "eastus2",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/eastus2/asyncoperations/3a15e1ca-ed9d-4fa0-b58c-c7505afc1fb4?monitor=true\u0026api-version=2021-04-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/eastus2/asyncoperations/3a15e1ca-ed9d-4fa0-b58c-c7505afc1fb4?monitor=true\u0026api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/eastus2/asyncoperations/3a15e1ca-ed9d-4fa0-b58c-c7505afc1fb4?monitor=true\u0026api-version=2021-04-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-reads": "11976"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/eastus2/asyncoperations/3a15e1ca-ed9d-4fa0-b58c-c7505afc1fb4?monitor=true\u0026api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11964"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_GRS",
          "tier": "Standard"
        },
        "kind": "Storage",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-4355/providers/Microsoft.Storage/storageAccounts/teststoragemgmt1452",
        "name": "teststoragemgmt1452",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "eastus2",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {
          "keyCreationTime": {
            "key1": "2021-11-17T08:55:07.1072483Z",
            "key2": "2021-11-17T08:55:07.1072483Z"
          },
          "privateEndpointConnections": [],
          "networkAcls": {
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2021-11-17T08:55:07.1072483Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2021-11-17T08:55:07.1072483Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "provisioningState": "Succeeded",
          "creationTime": "2021-11-17T08:55:06.9979013Z",
          "primaryEndpoints": {
            "blob": "https://teststoragemgmt1452.blob.core.windows.net/",
            "queue": "https://teststoragemgmt1452.queue.core.windows.net/",
            "table": "https://teststoragemgmt1452.table.core.windows.net/",
            "file": "https://teststoragemgmt1452.file.core.windows.net/"
          },
          "primaryLocation": "eastus2",
          "statusOfPrimary": "available",
          "secondaryLocation": "centralus",
          "statusOfSecondary": "available"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-4355/providers/Microsoft.Storage/storageAccounts/teststoragemgmt1452/fileServices/default?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11963"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_GRS",
          "tier": "Standard"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-4355/providers/Microsoft.Storage/storageAccounts/teststoragemgmt1452/fileServices/default",
        "name": "default",
        "type": "Microsoft.Storage/storageAccounts/fileServices",
        "properties": {
          "protocolSettings": {
            "smb": {}
          },
          "cors": {
            "corsRules": []
          },
          "shareDeleteRetentionPolicy": {
            "enabled": true,
            "days": 7
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-4355/providers/Microsoft.Storage/storageAccounts/teststoragemgmt1452/fileServices/default/shares/testfileshare17264?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\u00220x8D9A9A80207F699\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-4355/providers/Microsoft.Storage/storageAccounts/teststoragemgmt1452/fileServices/default/shares/testfileshare17264",
        "name": "testfileshare17264",
        "type": "Microsoft.Storage/storageAccounts/fileServices/shares",
        "properties": {}
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-4355/providers/Microsoft.Storage/storageAccounts/teststoragemgmt1452/fileServices/default/shares/testfileshare17264?$expand=snapshots\u0026api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-4355/providers/Microsoft.Storage/storageAccounts/teststoragemgmt1452/fileServices/default/shares/testfileshare17264",
        "name": "testfileshare17264",
        "type": "Microsoft.Storage/storageAccounts/fileServices/shares",
        "properties": {
          "snapshotTime": "2021-11-17T08:55:32.0000000Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-4355/providers/Microsoft.Storage/storageAccounts/teststoragemgmt1452/fileServices/default/shares/testfileshare17264?api-version=2021-04-01\u0026$expand=stats",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-snapshot": "2021-11-17T08:55:32.0000000Z"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\u00220x8D9A9A80207F699\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11961"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-4355/providers/Microsoft.Storage/storageAccounts/teststoragemgmt1452/fileServices/default/shares/testfileshare17264",
        "name": "testfileshare17264",
        "type": "Microsoft.Storage/storageAccounts/fileServices/shares",
        "etag": "\u00220x8D9A9A80207F699\u0022",
        "properties": {
          "shareUsageBytes": 0,
          "accessTier": "TransactionOptimized",
          "accessTierChangeTime": "2021-11-17T08:55:30.0000000Z",
          "snapshotTime": "2021-11-17T08:55:32.0000000Z",
          "lastModifiedTime": "2021-11-17T08:55:30.0000000Z",
          "shareQuota": 5120,
          "leaseStatus": "unlocked",
          "leaseState": "available",
          "signedIdentifiers": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-4355/providers/Microsoft.Storage/storageAccounts/teststoragemgmt1452/fileServices/default/shares?api-version=2021-04-01\u0026$expand=snapshots",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11960"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-4355/providers/Microsoft.Storage/storageAccounts/teststoragemgmt1452/fileServices/default/shares/testfileshare17264",
            "name": "testfileshare17264",
            "type": "Microsoft.Storage/storageAccounts/fileServices/shares",
            "etag": "\u00220x8D9A9A80207F699\u0022",
            "properties": {
              "accessTier": "TransactionOptimized",
              "snapshotTime": "2021-11-17T08:55:32.0000000Z",
              "lastModifiedTime": "2021-11-17T08:55:30.0000000Z",
              "shareQuota": 5120,
              "enabledProtocols": "SMB",
              "leaseStatus": "unlocked",
              "leaseState": "available"
            }
          },
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-4355/providers/Microsoft.Storage/storageAccounts/teststoragemgmt1452/fileServices/default/shares/testfileshare17264",
            "name": "testfileshare17264",
            "type": "Microsoft.Storage/storageAccounts/fileServices/shares",
            "etag": "\u00220x8D9A9A[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-4355/providers/Microsoft.Storage/storageAccounts/teststoragemgmt1452/fileServices/default/shares?api-version=2021-04-01\u0026$expand=deleted",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11959"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-4355/providers/Microsoft.Storage/storageAccounts/teststoragemgmt1452/fileServices/default/shares/testfileshare17264_01D7DB90DF803036",
            "name": "testfileshare17264",
            "type": "Microsoft.Storage/storageAccounts/fileServices/shares",
            "etag": "\u00220x8D9A9A80207F699\u0022",
            "properties": {
              "version": "01D7DB90DF803036",
              "deleted": true,
              "deletedTime": "2021-11-17T08:55:33.0000000Z",
              "remainingRetentionDays": 5,
              "accessTier": "TransactionOptimized",
              "accessTierChangeTime": "2021-11-17T08:55:30.0000000Z",
              "lastModifiedTime": "2021-11-17T08:55:30.0000000Z",
              "shareQuota": 5120,
              "enabledProtocols": "SMB",
              "leaseStatus": "unlocked",
              "leaseState": "broken"
            }
          },
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-4355/providers/Microsoft.Storage/storageAccounts/teststoragemgmt1452/fileServices/default/shares/testfileshare23301_01D7DB90DFEFD144",
            "name": "testfileshare23301",
            "type": "Microsoft.Storage/storageAccounts/fileServices/shares",
            "etag": "\u00220x8D9A9A80268F3D2\u0022",
            "properties": {
              "version": "01D7DB90DFEFD144",
              "deleted": true,
              "deletedTime": "2021-11-17T08:55:31.0000000Z",
              "remainingRetentionDays": 5,
              "accessTier": "TransactionOptimized",
              "accessTierChangeTime": "2021-11-17T08:55:30.0000000Z",
              "lastModifiedTime": "2021-11-17T08:55:30.0000000Z",
              "shareQuota": 5120,
              "enabledProtocols": "SMB",
              "leaseStatus": "unlocked",
              "leaseState": "broken"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-4355/providers/Microsoft.Storage/storageAccounts?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11958"
  [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-4355/providers/Microsoft.Storage/storageAccounts/teststoragemgmt1452?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-deletes": "14994"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1273284015",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}