{
  "Entries": [
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions?skip=0&take=100",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000 "
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"version\": \"0.1\",\r\n    \"createdDateTime\": \"2017-02-09T14:01:45Z\",\r\n    \"lastModifiedDateTime\": \"2017-12-14T21:37:17Z\",\r\n    \"lastTrainedDateTime\": null,\r\n    \"lastPublishedDateTime\": \"2017-12-12T21:59:37Z\",\r\n    \"endpointUrl\": \"https://westus.api.cognitive.microsoft.com/luis/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b\",\r\n    \"assignedEndpointKey\": {\r\n      \"SubscriptionKey\": \"00000000000000000000000000000000\",\r\n      \"SubscriptionRegion\": \"westus\",\r\n      \"SubscriptionName\": null\r\n    },\r\n    \"externalApiKeys\": {},\r\n    \"intentsCount\": 9,\r\n    \"entitiesCount\": 11,\r\n    \"endpointHitsCount\": 0,\r\n    \"trainingStatus\": \"NeedsTraining\"\r\n  },\r\n  {\r\n    \"version\": \"0.2\",\r\n    \"createdDateTime\": \"2017-11-30T22:57:36Z\",\r\n    \"lastModifiedDateTime\": \"2017-11-30T22:57:41Z\",\r\n    \"lastTrainedDateTime\": null,\r\n    \"lastPublishedDateTime\": null,\r\n    \"endpointUrl\": \"https://westus.api.cognitive.microsoft.com/luis/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b\",\r\n    \"assignedEndpointKey\": {\r\n      \"SubscriptionKey\": \"\",\r\n      \"SubscriptionRegion\": \"westus\",\r\n      \"SubscriptionName\": \"\"\r\n    },\r\n    \"externalApiKeys\": {},\r\n    \"intentsCount\": 5,\r\n    \"entitiesCount\": 4,\r\n    \"endpointHitsCount\": 0,\r\n    \"trainingStatus\": \"NeedsTraining\"\r\n  }\r\n]",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/intents?skip=0&take=100",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000 "
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"f83dcca6-7bfc-44f9-9bbb-b6285c239da3\",\r\n    \"name\": \"Calendar.CheckAvailability\",\r\n    \"typeId\": 0,\r\n    \"readableType\": \"Intent Classifier\",\r\n    \"customPrebuiltDomainName\": \"Calendar\",\r\n    \"customPrebuiltModelName\": \"CheckAvailability\"\r\n  },\r\n  {\r\n    \"id\": \"da3f90e7-d21a-41a5-98a7-d733d1861ff9\",\r\n    \"name\": \"Calendar.Delete\",\r\n    \"typeId\": 0,\r\n    \"readableType\": \"Intent Classifier\",\r\n    \"customPrebuiltDomainName\": \"Calendar\",\r\n    \"customPrebuiltModelName\": \"Delete\"\r\n  },\r\n  {\r\n    \"id\": \"5b4d2a57-727a-42d7-9e3d-a15aa28975e5\",\r\n    \"name\": \"Calendar.Edit\",\r\n    \"typeId\": 0,\r\n    \"readableType\": \"Intent Classifier\",\r\n    \"customPrebui[...]
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/intents/f83dcca6-7bfc-44f9-9bbb-b6285c239da3/suggest?take=100",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000 "
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"text\": \"today\",\r\n    \"tokenizedText\": [\r\n      \"today\"\r\n    ],\r\n    \"intentPredictions\": [\r\n      {\r\n        \"id\": \"76c92d38-2e8e-46f0-9645-5c5040c1bab1\",\r\n        \"name\": \"None\",\r\n        \"score\": 0.61\r\n      },\r\n      {\r\n        \"id\": \"c0ec08db-e136-4798-823d-9bc9cbbb58ea\",\r\n        \"name\": \"FindAirportByCode\",\r\n        \"score\": 0.01\r\n      },\r\n      {\r\n        \"id\": \"dbb1ece5-6703-4a54-97c1-e989b429aed8\",\r\n        \"name\": \"WeatherInPlace\",\r\n        \"score\": 0.01\r\n      },\r\n      {\r\n        \"id\": \"985650d4-52df-41a9-b536-2509a3994fca\",\r\n        \"name\": \"TimeInPlace\",\r\n        \"score\": 0.0\r\n      },\r\n      {\r\n        \"id\": \"5b4d2a57-727a-42d7-9e3d-a15aa28975e5\",\r\n        \"name\": \"Calendar.Edit\",\r\n        \"score\": 0.0\r\n      },\r\n      {\r\n        \"id\": \"f83dcca6-7bfc-44f9-9bbb-b6285c239da3\",\r\n        \"name\": \"Calendar.CheckAvailability\",\r\n        \"score\": 0.0\r\n      },\r\n      {\r\n        \"id\": \"d772d522-7cf6-4a4b-b628-c8d508a3805a\",\r\n        \"name\": \"FindHotels-ChangeLocation\",\r\n        \"score\": 0.0\r\n      },\r\n      {\r\n        \"id\": \"da3f90e7-d21a-41a5-98a7-d733d1861ff9\",\r\n        \"name\": \"Calendar.Delete\",\r\n        \"score\": 0.0\r\n      },\r\n      {\r\n        \"id\": \"9d3cba7e-64dd-4205-9b23-e2642221b7fe\",\r\n        \"name\": \"FindHotels\",\r\n        \"score\": 0.0\r\n      }\r\n    ],\r\n    \"entityPredictions\": [\r\n      {\r\n        \"id\": \"e221132c-d612-4a6d-a7fe-769ebd8d6b00\",\r\n        \"entityName\": \"datetime\",\r\n        \"startTokenIndex\": 0,\r\n        \"endTokenIndex\": 0,\r\n        \"phrase\": \"today\",\r\n        \"entityType\": 2\r\n      }\r\n    ]\r\n  },\r\n  {\r\n    \"text\": \"3-3-2017\",\r\n    \"tokenizedText\": [\r\n      \"3\",\r\n      \"-\",\r\n      \"3\",\r\n      \"-\",\r\n      \"2017\"\r\n    ],\r\n    \"intentPredictions\": [\r\n      {\r\n        \"id\": \"76c92d38-2e8e-46f0-9645-5c5040c1bab1\",\r\n        \"name\": \"None\",\r\n        \"score\": 0.86\r\n      },\r\n      {\r\n        \"id\": \"985650d4-52df-41a9-b536-2509a3994fca\",\r\n        \"name\": \"TimeInPlace\",\r\n        \"score\": 0.0\r[...]
[...]
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/suggest",
      "RequestMethod": "DELETE",
      "RequestBody": "\"today\"",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000 "
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"Success\",\r\n  \"message\": \"Operation Successful\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}