{
  "Entries": [
    {
      "RequestUri": "https://myaccountname.purview.azure.com/share/sentShares/fe11781e-9a7d-488d-bd22-cc2c95536e96/sentShareInvitations?api-version=2023-05-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "targetActiveDirectoryId": "165944e1-1963-4e83-920f-4d0e9c44599c",
              "targetObjectId": "5fc438a9-bdb9-46d4-89d7-43fdccc0f23e",
              "shareStatus": "Detached",
              "sentAt": "2023-06-12T04:01:41.48154Z",
              "senderName": "sdk-05-30-share",
              "senderTenantName": "Microsoft",
              "state": "Succeeded"
            },
            "invitationKind": "Service",
            "id": "b99a6cd9-9633-4d50-85fc-7a237e345815",
            "type": "sentShares/sentShareInvitations"
          },
          {
            "properties": {
              "targetActiveDirectoryId": "165944e1-1963-4e83-920f-4d0e9c44599c",
              "targetObjectId": "5fc438a9-bdb9-46d4-89d7-43fdccc0f23e",
              "shareStatus": "Detached",
              "sentAt": "2023-06-12T04:04:14.1369877Z",
              "senderName": "sdk-05-30-share",
              "senderTenantName": "Microsoft",
              "state": "Succeeded"
            },
            "invitationKind": "Service",
            "id": "4ae8a8dc-0662-4027-960e-92b4778fc5ff",
            "type": "sentShares/sentShareInvitations"
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "PURVIEW_SHARE_URL": "https://myaccountname.purview.azure.com/share",
    "RandomSeed": "436573886"
  }
}
