{
  "Entries": [
    {
      "RequestUri": "https://myaccountname.purview.azure.com/share/sentShares/7911b09b-9cb3-416a-a3f0-e242c0bfd574/sentShareInvitations?api-version=2023-02-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "targetActiveDirectoryId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "targetObjectId": "fc010728-94f6-4e9c-be3c-c08687414bd4",
              "shareStatus": "Detached",
              "sentAt": "2023-02-23T04:34:13.9348403Z",
              "senderName": "SyMS",
              "senderTenantName": "Microsoft",
              "state": "Succeeded"
            },
            "invitationKind": "Service",
            "id": "91c4b19f-8bad-4bcc-b623-f19673fb0f83",
            "type": "sentShares/sentShareInvitations"
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "PURVIEW_SHARE_URL": "https://ads-dev-eastus-pv.purview.azure.com/share",
    "RandomSeed": "388390010"
  }
}
