{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Authorization/providerOperations?api-version=2018-01-01-preview&$expand=resourceTypes",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"displayName\": \"Microsoft Domains\",\r\n      \"operations\": [\r\n        {\r\n          \"name\": \"Microsoft.DomainRegistration/generateSsoRequest/Action\",\r\n          \"displayName\": \"Generate Domain Control Center Single Sign On Request\",\r\n          \"description\": \"Generate a request for signing into domain control center.\",\r\n          \"origin\": \"user,system\",\r\n          \"properties\": null,\r\n          \"isDataAction\": false\r\n        },\r\n        {\r\n          \"name\": \"Microsoft.DomainRegistration/validateDomainRegistrationInformation/Action\",\r\n          \"displayName\": \"Domain Purchase Info Validation\",\r\n          \"description\": \"Validate domain purchase object without submitting it\",\r\n          \"origin\": \"user,system\",\r\n          \"properties\": null,\r\n          \"isDataAction\": false\r\n        },\r\n        {\r\n          \"name\": \"Microsoft.DomainRegistration/checkDomainAv[...]
