{
  "Entries": [
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder01%2FSDKTestFile02.txt3317?op=RENAME&destination=SDKTestFolder019903%2FSDKTestMoveFile01.txt&api-version=2014-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "DataLakeFileSystem SDK -  Rename Put Request"
        ]
      },
      "ResponseBody": "{\r\n  \"boolean\": true\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-origin-server": [
          "bn4sch103190734"
        ],
        "Server-Perf": [
          "[e2796aa3663e4c559f6016ece14311e5][ AuthTime::1745.82021045645::PostAuthTime::21688.8864558224 ][RenameTo :: 00:00:000 ms]%0a[RENAME :: 00:00:429 ms]%0a"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder01%2FSDKTestFile02.txt3317?op=GETFILESTATUS&api-version=2014-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "DataLakeFileSystem SDK - File Status Get Request"
        ]
      },
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"[7ed6cc301ea545adbda05ee0d4febf35]][Op=GETFILESTATUS][[FileInfoPrivate::Exist::0x8309000A]] File/Folder does not exist : SDKTestFolder01/SDKTestFile02.txt3317\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-origin-server": [
          "bn4sch103190734"
        ],
        "Server-Perf": [
          "[7ed6cc301ea545adbda05ee0d4febf35][ AuthTime::768.126677604061::PostAuthTime::133.866174883113 ][SS Response Process :: 00:00:000 ms]%0a[IsExist :: 00:00:026 ms]%0a[GETFILESTATUS :: 00:00:026 ms]%0a"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder019903?op=RENAME&destination=SDKTestMoveFolder011648&api-version=2014-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "DataLakeFileSystem SDK -  Rename Put Request"
        ]
      },
      "ResponseBody": "{\r\n  \"boolean\": true\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-origin-server": [
          "bn4sch103190734"
        ],
        "Server-Perf": [
          "[c33a9aed4b084ef38eb658782c12688b][ AuthTime::1641.89215775166::PostAuthTime::21855.256877642 ][RenameTo :: 00:00:000 ms]%0a[RENAME :: 00:00:105 ms]%0a"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestMoveFolder011648?op=LISTSTATUS&api-version=2014-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "DataLakeFileSystem SDK - List File Status Get Request"
        ]
      },
      "ResponseBody": "{\r\n  \"FileStatuses\": {\r\n    \"FileStatus\": [\r\n      {\r\n        \"length\": 42,\r\n        \"childrenNum\": 0,\r\n        \"fileId\": 0,\r\n        \"pathSuffix\": \"SDKTestMoveFile01.txt\",\r\n        \"type\": \"FILE\",\r\n        \"blockSize\": 268435456,\r\n        \"accessTime\": 1435873033357,\r\n        \"modificationTime\": 1435873033947,\r\n        \"replication\": 0,\r\n        \"permission\": \"777\",\r\n        \"owner\": \"NotSupportYet\",\r\n        \"group\": \"NotSupportYet\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-origin-server": [
          "bn4sch103190734"
        ],
        "Server-Perf": [
          "[efc810b0498141e4a47779cf26ef8453][ AuthTime::722.791806876872::PostAuthTime::123.173988390852 ][FsEnumerateDirectory :: 00:00:000 ms]%0a[ListDirectory :: 00:00:090 ms]%0a[LISTSTATUS :: 00:00:090 ms]%0a"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder019903?op=GETFILESTATUS&api-version=2014-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "DataLakeFileSystem SDK - File Status Get Request"
        ]
      },
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"[258043c0264948cc873f3c49b407c15e]][Op=GETFILESTATUS][[FileInfoPrivate::Exist::0x8309000A]] File/Folder does not exist : SDKTestFolder019903\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-origin-server": [
          "bn4sch103190734"
        ],
        "Server-Perf": [
          "[258043c0264948cc873f3c49b407c15e][ AuthTime::773.258927120346::PostAuthTime::127.023175528066 ][SS Response Process :: 00:00:000 ms]%0a[IsExist :: 00:00:435 ms]%0a[GETFILESTATUS :: 00:00:435 ms]%0a"
        ]
      },
      "StatusCode": 404
    }
  ],
  "Names": {},
  "Variables": {}
}