{
  "Entries": [
    {
      "RequestUri": "https://rnpstd.blob.core.windows.net/test-container-d1654328-19f6-862a-6602-34cdad3898f1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 30 Jul 2021 17:41:00 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9538131D162CF\u0022",
        "Last-Modified": "Fri, 30 Jul 2021 17:41:00 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.blob.core.windows.net/test-container-d1654328-19f6-862a-6602-34cdad3898f1/test-blob-ac49e709-34cc-2672-ca4f-9c7db40bcd3b/058a6a87-9b60-d2ce-a9d2-83e0fd493844",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 30 Jul 2021 17:41:00 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D9538131EA8D6B\u0022",
        "Last-Modified": "Fri, 30 Jul 2021 17:41:00 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-07-30T17:41:00.2977643Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://rnpstd.blob.core.windows.net/test-container-d1654328-19f6-862a-6602-34cdad3898f1/test-blob-ac49e709-34cc-2672-ca4f-9c7db40bcd3b/c36981d4-7209-6093-1c23-9b2e3e7f06cd/84a11321-75fb-78ba-222e-b1d5d1cf7176",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 30 Jul 2021 17:41:00 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D9538131F4A14F\u0022",
        "Last-Modified": "Fri, 30 Jul 2021 17:41:00 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-07-30T17:41:00.3638095Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://rnpstd.blob.core.windows.net/test-container-d1654328-19f6-862a-6602-34cdad3898f1?restype=container\u0026comp=list\u0026prefix=test-blob-ac49e709-34cc-2672-ca4f-9c7db40bcd3b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 30 Jul 2021 17:41:00 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-[...]
    {
      "RequestUri": "https://rnpstd.blob.core.windows.net/test-container-d1654328-19f6-862a-6602-34cdad3898f1/test-blob-c22d33a3-0c0d-7fd8-2d55-a53fd1f3f703/058a6a87-9b60-d2ce-a9d2-83e0fd493844",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://rnpstd.blob.core.windows.net/test-container-d1654328-19f6-862a-6602-34cdad3898f1/test-blob-ac49e709-34cc-2672-ca4f-9c7db40bcd3b/058a6a87-9b60-d2ce-a9d2-83e0fd493844",
        "x-ms-date": "Fri, 30 Jul 2021 17:41:00 GMT",
        "x-ms-requires-sync": "true",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D95381321BBFED\u0022",
        "Last-Modified": "Fri, 30 Jul 2021 17:41:00 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-copy-id": "cc18392e-e2c6-4d2a-a01e-4f1507d52a88",
        "x-ms-copy-status": "success",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-07-30T17:41:00.6309930Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://rnpstd.blob.core.windows.net/test-container-d1654328-19f6-862a-6602-34cdad3898f1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 30 Jul 2021 17:41:01 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "22284829",
    "Storage_TestConfigDefault": "ProductionTenant\nrnpstd\nU2FuaXRpemVk\nhttps://rnpstd.blob.core.windows.net\nhttps://rnpstd.file.core.windows.net\nhttps://rnpstd.queue.core.windows.net\nhttps://rnpstd.table.core.windows.net\n\n\n\n\nhttps://rnpstd-secondary.blob.core.windows.net\nhttps://rnpstd-secondary.file.core.windows.net\nhttps://rnpstd-secondary.queue.core.windows.net\nhttps://rnpstd-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://rnpstd.blob.core.windows.net/;QueueEndpoint=https://rnpstd.queue.core.windows.net/;FileEndpoint=https://rnpstd.file.core.windows.net/;BlobSecondaryEndpoint=https://rnpstd-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://rnpstd-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://rnpstd-secondary.file.core.windows.net/;AccountName=rnpstd;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}