{
  "Entries": [
    {
      "RequestUri": "https://rnpstd.blob.core.windows.net/test-container-7b6c8756-9162-a1cf-b95e-87269f72d229?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 20 Jul 2021 07:40:58 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94B51B74FE058\u0022",
        "Last-Modified": "Tue, 20 Jul 2021 07:40:58 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.blob.core.windows.net/test-container-7b6c8756-9162-a1cf-b95e-87269f72d229/test-blob-ca9acc26-4e31-2f02-009b-763d8d2dbf8d/157b906b-a191-1bc5-6c7d-9a0a5793e47d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 20 Jul 2021 07:40:58 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D94B51B76F15B1\u0022",
        "Last-Modified": "Tue, 20 Jul 2021 07:40:59 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-07-20T07:40:59.1580593Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://rnpstd.blob.core.windows.net/test-container-7b6c8756-9162-a1cf-b95e-87269f72d229/test-blob-ca9acc26-4e31-2f02-009b-763d8d2dbf8d/1026ef2e-e7c1-35cb-bdeb-bc77c36454d0/c36eeada-2888-b493-30ee-1826de79c165",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 20 Jul 2021 07:40:59 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D94B51B77977BE\u0022",
        "Last-Modified": "Tue, 20 Jul 2021 07:40:59 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-07-20T07:40:59.2261054Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://rnpstd.blob.core.windows.net/test-container-7b6c8756-9162-a1cf-b95e-87269f72d229?restype=container\u0026comp=list\u0026prefix=test-blob-ca9acc26-4e31-2f02-009b-763d8d2dbf8d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 20 Jul 2021 07:40:59 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-[...]
    {
      "RequestUri": "https://rnpstd.blob.core.windows.net/test-container-7b6c8756-9162-a1cf-b95e-87269f72d229/test-blob-ca9acc26-4e31-2f02-009b-763d8d2dbf8d/1026ef2e-e7c1-35cb-bdeb-bc77c36454d0/c36eeada-2888-b493-30ee-1826de79c165",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 20 Jul 2021 07:40:59 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 416,
      "ResponseHeaders": {
        "Content-Range": "bytes */0",
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidRange",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EInvalidRange\u003C/Code\u003E\u003CMessage\u003EThe range specified is invalid for the current size of the resource.\n",
        "RequestId:61241f67-b01e-0064-673a-7d5397000000\n",
        "Time:2021-07-20T07:40:59.4028393Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://rnpstd.blob.core.windows.net/test-container-7b6c8756-9162-a1cf-b95e-87269f72d229/test-blob-ca9acc26-4e31-2f02-009b-763d8d2dbf8d/1026ef2e-e7c1-35cb-bdeb-bc77c36454d0/c36eeada-2888-b493-30ee-1826de79c165",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 20 Jul 2021 07:40:59 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D94B51B77977BE\u0022",
        "Last-Modified": "Tue, 20 Jul 2021 07:40:59 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 20 Jul 2021 07:40:59 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-07-20T07:40:59.2261054Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://rnpstd.blob.core.windows.net/test-container-7b6c8756-9162-a1cf-b95e-87269f72d229?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 20 Jul 2021 07:40:59 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "510040601",
    "Storage_TestConfigDefault": "ProductionTenant\nrnpstd\nU2FuaXRpemVk\nhttps://rnpstd.blob.core.windows.net\nhttps://rnpstd.file.core.windows.net\nhttps://rnpstd.queue.core.windows.net\nhttps://rnpstd.table.core.windows.net\n\n\n\n\nhttps://rnpstd-secondary.blob.core.windows.net\nhttps://rnpstd-secondary.file.core.windows.net\nhttps://rnpstd-secondary.queue.core.windows.net\nhttps://rnpstd-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://rnpstd.blob.core.windows.net/;QueueEndpoint=https://rnpstd.queue.core.windows.net/;FileEndpoint=https://rnpstd.file.core.windows.net/;BlobSecondaryEndpoint=https://rnpstd-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://rnpstd-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://rnpstd-secondary.file.core.windows.net/;AccountName=rnpstd;AccountKey=Kg==;\n[encryption scope]"
  }
}