{
  "Entries": [
    {
      "RequestUri": "https://rnpstd.blob.core.windows.net/test-container-cc2b2215-2c8b-aa16-1500-8e3f969d7c9a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:53 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94A9587B70043\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:13:53 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.blob.core.windows.net/test-container-cc2b2215-2c8b-aa16-1500-8e3f969d7c9a/test-blob-e704672b-e826-af4e-80e9-a58ddf1b8285/test-blob-a103a65c-f6e6-a102-c60e-bbd40daa7219/c1cf4246-bb8b-53c1-a706-05ae29ed4c9d/299ad277-160a-3523-6462-21182c79a2d5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:53 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D94A9587BFB6F2\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:13:53 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-07-19T09:13:53.7706738Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://rnpstd.blob.core.windows.net/test-container-cc2b2215-2c8b-aa16-1500-8e3f969d7c9a/test-blob-e704672b-e826-af4e-80e9-a58ddf1b8285/test-blob-a103a65c-f6e6-a102-c60e-bbd40daa7219/c1cf4246-bb8b-53c1-a706-05ae29ed4c9d/0e5648ea-671b-2dc5-7d17-7eb163d1063b/c07ccc88-db1c-1232-cda6-631604b313dc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:54 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D94A9587C9CADB\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:13:53 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-07-19T09:13:53.8377208Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://rnpstd.blob.core.windows.net/test-container-cc2b2215-2c8b-aa16-1500-8e3f969d7c9a?restype=container\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:54 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-08-[...]
    {
      "RequestUri": "https://rnpstd.blob.core.windows.net/test-container-cc2b2215-2c8b-aa16-1500-8e3f969d7c9a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:54 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2026884503",
    "Storage_TestConfigDefault": "ProductionTenant\nrnpstd\nU2FuaXRpemVk\nhttps://rnpstd.blob.core.windows.net\nhttps://rnpstd.file.core.windows.net\nhttps://rnpstd.queue.core.windows.net\nhttps://rnpstd.table.core.windows.net\n\n\n\n\nhttps://rnpstd-secondary.blob.core.windows.net\nhttps://rnpstd-secondary.file.core.windows.net\nhttps://rnpstd-secondary.queue.core.windows.net\nhttps://rnpstd-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://rnpstd.blob.core.windows.net/;QueueEndpoint=https://rnpstd.queue.core.windows.net/;FileEndpoint=https://rnpstd.file.core.windows.net/;BlobSecondaryEndpoint=https://rnpstd-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://rnpstd-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://rnpstd-secondary.file.core.windows.net/;AccountName=rnpstd;AccountKey=Kg==;\n[encryption scope]"
  }
}