{
  "Entries": [
    {
      "RequestUri": "https://rnpstd.blob.core.windows.net/test-container-f0ce672a-5d52-6924-e311-cb089dfb1931?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:53 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94A95878E8976\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:13:53 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.blob.core.windows.net/test-container-f0ce672a-5d52-6924-e311-cb089dfb1931/test-blob-ffb228c1-9276-e5fd-315d-0640c70073bf/test-blob-2235ec63-7464-b879-5b7d-1c60d79aaa56/d5ebafb3-a69e-b54d-84f6-a5b2011e9dc9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:53 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D94A958793E457\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:13:53 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-07-19T09:13:53.4834775Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://rnpstd.blob.core.windows.net/test-container-f0ce672a-5d52-6924-e311-cb089dfb1931/test-blob-ffb228c1-9276-e5fd-315d-0640c70073bf/test-blob-2235ec63-7464-b879-5b7d-1c60d79aaa56/29f78eec-d062-bcf9-b215-1e77096ec9e0/6aa7dca4-bba6-c3ef-6082-5567f38d4c90",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:53 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D94A95879D5BE0\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:13:53 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-07-19T09:13:53.5455200Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://rnpstd.blob.core.windows.net/test-container-f0ce672a-5d52-6924-e311-cb089dfb1931?restype=container\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:53 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-08-[...]
    {
      "RequestUri": "https://rnpstd.blob.core.windows.net/test-container-f0ce672a-5d52-6924-e311-cb089dfb1931?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:53 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2136356591",
    "Storage_TestConfigDefault": "ProductionTenant\nrnpstd\nU2FuaXRpemVk\nhttps://rnpstd.blob.core.windows.net\nhttps://rnpstd.file.core.windows.net\nhttps://rnpstd.queue.core.windows.net\nhttps://rnpstd.table.core.windows.net\n\n\n\n\nhttps://rnpstd-secondary.blob.core.windows.net\nhttps://rnpstd-secondary.file.core.windows.net\nhttps://rnpstd-secondary.queue.core.windows.net\nhttps://rnpstd-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://rnpstd.blob.core.windows.net/;QueueEndpoint=https://rnpstd.queue.core.windows.net/;FileEndpoint=https://rnpstd.file.core.windows.net/;BlobSecondaryEndpoint=https://rnpstd-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://rnpstd-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://rnpstd-secondary.file.core.windows.net/;AccountName=rnpstd;AccountKey=Kg==;\n[encryption scope]"
  }
}