{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f2ae5577-03f7-556d-fc8b-ad0ff2e1406d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:41:22 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D373A005FD48\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:41:23 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f2ae5577-03f7-556d-fc8b-ad0ff2e1406d/test-blob-4812f781-2afa-9007-5f53-6ec9d1284d68",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:41:23 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D373A01304B4\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:41:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T18:41:23.3225908Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f2ae5577-03f7-556d-fc8b-ad0ff2e1406d/test-blob-4812f781-2afa-9007-5f53-6ec9d1284d68?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "ESx4\u002BW5Xqjidg0wV/f1ZJw==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 17 Feb 2021 18:41:23 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "4krQWcd3l\u002B0jFgTZ2RJbXeZLOM9kPeYFeU1i3keMc96iZxPqMRJaGGrW7GsZQ3KxXe9gPS2vhKVjyuB6FLmml6MlN3H/cSzU8B9kjlF76zXasYBXKzWx8\u002BJuhmYx4AOxMFTH9AsAsuzDjE0NSvZT6N\u002Bqn2M4TmttdESPkerFow8cs178s/cq2v\u002BTk5/opKjsGp6HhkGgeOHoWoDHcSAC/ek98ZeYVzXngMVkpbvMhNCco3dMPhzOezp8E1h2YmjekJW2q7IQU8JonwV8O9MmHNawK86ptr/MbnVdG0TccB5chhQlFdgdi0\u002B0458WUkBnVvaC[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f2ae5577-03f7-556d-fc8b-ad0ff2e1406d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:41:23 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "436490730",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}