{
  "Entries": [
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-5908dffa-2ecc-d4bb-bab5-59d5eba4a6b2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 25 Apr 2020 01:05:17 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B4B83536CA\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:05:17 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-5908dffa-2ecc-d4bb-bab5-59d5eba4a6b2?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 25 Apr 2020 01:05:17 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "\u003CSignedIdentifiers /\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B4B840881D\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:05:17 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-5908dffa-2ecc-d4bb-bab5-59d5eba4a6b2/test-blob-dcaca581-f57e-5e47-7a0b-63fa3883fe11",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Sat, 25 Apr 2020 01:05:17 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B4B84C00F9\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:05:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-5908dffa-2ecc-d4bb-bab5-59d5eba4a6b2/test-blob-dcaca581-f57e-5e47-7a0b-63fa3883fe11?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:05:18 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "rk26\u002BqYEeg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B4B857BF30\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:05:18 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "OZp70R\u002B\u002BnsI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-5908dffa-2ecc-d4bb-bab5-59d5eba4a6b2/test-blob-5fb5686e-2f8c-dd5d-5cde-14ff499244a1?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Sun, 26 Apr 2020 01:05:17 GMT",
        "x-ms-copy-source": "http://amandacanary.blob.core.windows.net/test-container-5908dffa-2ecc-d4bb-bab5-59d5eba4a6b2/test-blob-dcaca581-f57e-5e47-7a0b-63fa3883fe11",
        "x-ms-date": "Sat, 25 Apr 2020 01:05:18 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:b8adc8d4-701e-0082-3e9d-1a6417000000\n",
        "Time:2020-04-25T01:05:18.2354879Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-bd296d06-8e54-8faa-9315-1a317ee2a0cc/test-blob-a942247e-9937-9a12-ef4c-3cdcfc4a39c7?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 24 Apr 2020 01:05:17 GMT",
        "x-ms-copy-source": "http://amandacanary.blob.core.windows.net/test-container-bd296d06-8e54-8faa-9315-1a317ee2a0cc/test-blob-3ed07d9d-9f3e-283b-a85f-58c5d71192c2",
        "x-ms-date": "Sat, 25 Apr 2020 01:05:18 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:b8adc920-701e-0082-7f9d-1a6417000000\n",
        "Time:2020-04-25T01:05:18.7821876Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-f8d35125-2150-bbef-68a5-6ab3bb73fb6f/test-blob-43731e1d-40dc-77c1-fd1d-4c84c74e8516?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-copy-source": "http://amandacanary.blob.core.windows.net/test-container-f8d35125-2150-bbef-68a5-6ab3bb73fb6f/test-blob-876cb747-6c75-2b73-d550-85433b03fe07",
        "x-ms-date": "Sat, 25 Apr 2020 01:05:19 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:b8adc980-701e-0082-519d-1a6417000000\n",
        "Time:2020-04-25T01:05:19.3218911Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-9bf3ee13-8647-9ee9-e9ff-aaccb43c94a6/test-blob-131f5655-9436-7db4-2ce8-3359dfc538cf",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:05:19 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7E8B4B95CFD8F\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:05:19 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Sat, 25 Apr 2020 01:05:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-9bf3ee13-8647-9ee9-e9ff-aaccb43c94a6/test-blob-131f5655-9436-7db4-2ce8-3359dfc538cf?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u00220x8D7E8B4B95CFD8F\u0022",
        "x-ms-copy-source": "http://amandacanary.blob.core.windows.net/test-container-9bf3ee13-8647-9ee9-e9ff-aaccb43c94a6/test-blob-db162249-b97b-6c20-c151-39fc21b039ba",
        "x-ms-date": "Sat, 25 Apr 2020 01:05:19 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:b8adc9c1-701e-0082-0d9d-1a6417000000\n",
        "Time:2020-04-25T01:05:19.9445489Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-c83032e5-e77e-ff3e-ca20-5e175236cb39/test-blob-0c1207cd-95c1-0532-dbed-ca0b470dcc9b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://amandacanary.blob.core.windows.net/test-container-c83032e5-e77e-ff3e-ca20-5e175236cb39/test-blob-5bfe6951-1ae2-2881-b32d-22acca183fcc",
        "x-ms-date": "Sat, 25 Apr 2020 01:05:20 GMT",
        "x-ms-lease-id": "0245de77-3eff-f8a1-9bff-273885069e8f",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003ELeaseNotPresentWithBlobOperation\u003C/Code\u003E\u003CMessage\u003EThere is currently no lease on the blob.\n",
        "RequestId:b8adca08-701e-0082-4d9d-1a6417000000\n",
        "Time:2020-04-25T01:05:20.4922481Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-d9dfadd5-d327-bd52-c17b-1aaaa5de4c15/test-blob-6b5ff3f5-f1b3-c9c4-0da5-45537775322a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-condition-appendpos": "1",
        "x-ms-copy-source": "http://amandacanary.blob.core.windows.net/test-container-d9dfadd5-d327-bd52-c17b-1aaaa5de4c15/test-blob-a244f12a-6206-7213-fdad-a862a79ccb8d",
        "x-ms-date": "Sat, 25 Apr 2020 01:05:21 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AppendPositionConditionNotMet",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003EAppendPositionConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe append position condition specified was not met.\n",
        "RequestId:b8adca4e-701e-0082-0f9d-1a6417000000\n",
        "Time:2020-04-25T01:05:21.0399472Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-4e308597-ff37-f98b-9e25-2b42f131e5f9/test-blob-88a4b78a-ba80-71ef-7ee5-6141e1837d90?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-condition-maxsize": "1",
        "x-ms-copy-source": "http://amandacanary.blob.core.windows.net/test-container-4e308597-ff37-f98b-9e25-2b42f131e5f9/test-blob-4a77e5f8-d31d-44f0-c588-a2cc7e9652bf",
        "x-ms-date": "Sat, 25 Apr 2020 01:05:21 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "MaxBlobSizeConditionNotMet",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003EMaxBlobSizeConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe max blob size condition specified was not met.\n",
        "RequestId:b8adcaa7-701e-0082-5b9d-1a6417000000\n",
        "Time:2020-04-25T01:05:21.5856479Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-ec7a96c4-e97c-4ec6-5d6f-d9000cc3403c/test-blob-4c1c3962-a38d-4ca2-8ec5-7d2b80da7097?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://amandacanary.blob.core.windows.net/test-container-ec7a96c4-e97c-4ec6-5d6f-d9000cc3403c/test-blob-e50a5247-d66e-f0c2-a527-05fd64f100ff",
        "x-ms-date": "Sat, 25 Apr 2020 01:05:22 GMT",
        "x-ms-source-if-modified-since": "Sun, 26 Apr 2020 01:05:17 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-e7d5d712-70ac-b0b1-413a-36eb539f50b1/test-blob-c648a355-6fa7-8a0f-9846-ce405f2032f8?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://amandacanary.blob.core.windows.net/test-container-e7d5d712-70ac-b0b1-413a-36eb539f50b1/test-blob-3624863c-6ee0-15a7-6848-ea5804aaa8df",
        "x-ms-date": "Sat, 25 Apr 2020 01:05:22 GMT",
        "x-ms-source-if-unmodified-since": "Fri, 24 Apr 2020 01:05:17 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003ECannotVerifyCopySource\u003C/Code\u003E\u003CMessage\u003ECould not verify the copy source within the specified time.\n",
        "RequestId:b8adcb4c-701e-0082-659d-1a6417000000\n",
        "Time:2020-04-25T01:05:22.6740494Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-7cacca32-5a6b-e6ec-dbc9-d1a823159dcf/test-blob-8c03c6ef-6c09-85fd-90be-3f4deecca1e7?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://amandacanary.blob.core.windows.net/test-container-7cacca32-5a6b-e6ec-dbc9-d1a823159dcf/test-blob-0a29984c-7750-792c-198b-82f7991fecfc",
        "x-ms-date": "Sat, 25 Apr 2020 01:05:23 GMT",
        "x-ms-source-if-match": "\u0022garbage\u0022",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003ECannotVerifyCopySource\u003C/Code\u003E\u003CMessage\u003ECould not verify the copy source within the specified time.\n",
        "RequestId:b8adcbae-701e-0082-319d-1a6417000000\n",
        "Time:2020-04-25T01:05:23.2147525Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-63587885-dfcc-3d8b-057d-f415786c20e9/test-blob-30b87c14-b7ce-1160-e24a-ebab17e9b6c4?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://amandacanary.blob.core.windows.net/test-container-63587885-dfcc-3d8b-057d-f415786c20e9/test-blob-d61f229d-b8fa-73c9-1317-31375eb1bd0e",
        "x-ms-date": "Sat, 25 Apr 2020 01:05:23 GMT",
        "x-ms-source-if-none-match": "\u00220x8D7E8B4BBA390AF\u0022",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-63587885-dfcc-3d8b-057d-f415786c20e9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:05:23 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-24T18:05:17.8096626-07:00",
    "RandomSeed": "1697664117",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttp://amandacanary.blob.core.windows.net\nhttp://amandacanary.file.core.windows.net\nhttp://amandacanary.queue.core.windows.net\nhttp://amandacanary.table.core.windows.net\n\n\n\n\nhttp://amandacanary-secondary.blob.core.windows.net\nhttp://amandacanary-secondary.file.core.windows.net\nhttp://amandacanary-secondary.queue.core.windows.net\nhttp://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandacanary.blob.core.windows.net/;QueueEndpoint=http://amandacanary.queue.core.windows.net/;FileEndpoint=http://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Sanitized\n\nDefaultEndpointsProtocol=https;AccountName=ortestsaccountcbn1;AccountKey=OrRfzSm3ktQSklAGiL90/QusS7SdS6Y5S/AJoxZEeyKYDtnue7OKYIMLOraTnT4xcOyhYbqzWVmtTKappcc5Fg==;EndpointSuffix=core.windows.net\nDefaultEndpointsProtocol=https;AccountName=vbalaorcentral1;AccountKey=vlHMz/LZ3Sx7r/1bdTQT26pG0tqORQ4uTIcxGhHB0LQhIhqGxfv2TXV7u\u002BI2ra4UWXrWGGHG2N6l\u002BBfb5FgAcQ==;EndpointSuffix=core.windows.net"
  }
}