{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c16f35dc-9397-b220-1eec-a9e814c9ef0e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:06 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D373DDD4F344\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:43:06 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c16f35dc-9397-b220-1eec-a9e814c9ef0e/test-blob-1faebec6-c62d-b2d9-1eef-9068a3bb51bc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:06 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D373DDDF36A6\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:43:07 GMT",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:43:07.0018214Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c16f35dc-9397-b220-1eec-a9e814c9ef0e/test-blob-1faebec6-c62d-b2d9-1eef-9068a3bb51bc?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:07 GMT"
      },
      "RequestBody": "\u002BuqW/qzBQg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D373DDE94AA1\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:43:07 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "vyAS9OuS5kk=",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-225f813f-9e27-7dca-deb3-8564fb67f032/test-blob-c00890c7-ddb3-8dd8-cf27-4573dd43389f?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Modified-Since": "Tue, 16 Feb 2021 18:43:06 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:07 GMT"
      },
      "RequestBody": "XKmITH2vGg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D373DE28F763\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:43:07 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "CxxAjm6GVF4=",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4944c4d1-f3e5-e4d6-d9cb-badf9980199b/test-blob-e67fb830-e89c-3425-082d-e23ebe8f89c0?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Unmodified-Since": "Thu, 18 Feb 2021 18:43:06 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:07 GMT"
      },
      "RequestBody": "h02yfxbJ0w==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D373DE6C9C84\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:43:07 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "gksNO2hgT9I=",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-da771757-2bf7-5898-2d06-a422779631ba/test-blob-c53022fe-48ce-6cac-890c-63e32539e460",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:08 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D373DEA36E04\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:43:08 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:43:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:43:08.2877444Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-da771757-2bf7-5898-2d06-a422779631ba/test-blob-c53022fe-48ce-6cac-890c-63e32539e460?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "0x8D8D373DEA36E04",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:08 GMT"
      },
      "RequestBody": "yzJn3gj4zA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D373DEB7E428\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:43:08 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "4HYHAqkr/xc=",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-982662c3-e33f-366e-637f-5e8f65bd9c5b/test-blob-63d17083-da95-3e08-c461-d59c706b508f?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:09 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "224eb7d5-9804-01e5-26b5-7d6fbdeada8e"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D373DF3604F0\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:43:09 GMT",
        "x-ms-lease-id": "224eb7d5-9804-01e5-26b5-7d6fbdeada8e"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-78958420-1c49-fedd-02ab-56e89e0eff03/test-blob-59364f98-3bbb-5a7f-d3ee-6dd90c39df9e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-condition-appendpos": "0",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:09 GMT"
      },
      "RequestBody": "PF9YqU163Q==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D373DF91A324\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:43:09 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "S\u002BjR4tbjwk4=",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-494b085a-746e-c80b-c47b-e053217c3619/test-blob-dc3b0649-b205-ee3e-32f9-228de627cf87?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-condition-maxsize": "100",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:10 GMT"
      },
      "RequestBody": "3jzmhrc5Yw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D373DFD4F9FD\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:43:10 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "O8PDGu4YsLs=",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-494b085a-746e-c80b-c47b-e053217c3619?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:10 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T12:43:06.7249442-06:00",
    "RandomSeed": "1348179593",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}