{
  "Entries": [
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-bee7c1ff-2d99-881e-f7fc-e6e192e6df93?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 03 Jun 2020 17:25:59 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D807E32E30FA96\u0022",
        "Last-Modified": "Wed, 03 Jun 2020 17:25:58 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-bee7c1ff-2d99-881e-f7fc-e6e192e6df93?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 03 Jun 2020 17:25:59 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u003CSignedIdentifiers /\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D807E32E3AAE6F\u0022",
        "Last-Modified": "Wed, 03 Jun 2020 17:25:58 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-bee7c1ff-2d99-881e-f7fc-e6e192e6df93/test-blob-83e86990-f02f-7e49-b625-927e122fea13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 03 Jun 2020 17:25:59 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D807E32E48F895\u0022",
        "Last-Modified": "Wed, 03 Jun 2020 17:25:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-06-03T17:25:58.8429973Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-bee7c1ff-2d99-881e-f7fc-e6e192e6df93/test-blob-83e86990-f02f-7e49-b625-927e122fea13?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Jun 2020 17:25:59 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "4qN71qId0ysUOQ21\u002BnPCs80ZiYIdMz\u002Bs\u002BSQSyT1\u002BeI6MNF0dOp91iOghL1AzjR2zy3fukXiL8a9jzt[...]
[...]
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-bee7c1ff-2d99-881e-f7fc-e6e192e6df93/test-blob-b922f43f-2ca8-d50f-81d4-eb5efe94c20e?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Wed, 03 Jun 2020 17:25:59 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EcoolTag\u003C/Key\u003E\u003CValue\u003Etrue\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-bee7c1ff-2d99-881e-f7fc-e6e192e6df93/test-blob-b922f43f-2ca8-d50f-81d4-eb5efe94c20e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://huxcanadac.blob.core.windows.net/test-container-bee7c1ff-2d99-881e-f7fc-e6e192e6df93/test-blob-83e86990-f02f-7e49-b625-927e122fea13",
        "x-ms-date": "Wed, 03 Jun 2020 17:25:59 GMT",
        "x-ms-if-tags": "\u0022coolTag\u0022 = \u0027true\u0027",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "6OWQp2NXN08ijILyV0Cy5A==",
        "ETag": "\u00220x8D807E32E93CD1F\u0022",
        "Last-Modified": "Wed, 03 Jun 2020 17:25:59 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-bee7c1ff-2d99-881e-f7fc-e6e192e6df93?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Jun 2020 17:25:59 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1521225594",
    "Storage_TestConfigDefault": "ProductionTenant\nhuxcanadac\nU2FuaXRpemVk\nhttps://huxcanadac.blob.core.windows.net\nhttps://huxcanadac.file.core.windows.net\nhttps://huxcanadac.queue.core.windows.net\nhttps://huxcanadac.table.core.windows.net\n\n\n\n\nhttps://huxcanadac-secondary.blob.core.windows.net\nhttps://huxcanadac-secondary.file.core.windows.net\nhttps://huxcanadac-secondary.queue.core.windows.net\nhttps://huxcanadac-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://huxcanadac.blob.core.windows.net/;QueueEndpoint=https://huxcanadac.queue.core.windows.net/;FileEndpoint=https://huxcanadac.file.core.windows.net/;BlobSecondaryEndpoint=https://huxcanadac-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://huxcanadac-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://huxcanadac-secondary.file.core.windows.net/;AccountName=huxcanadac;AccountKey=Sanitized\nseanscope1"
  }
}