{
  "Entries": [
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-dfd953c2-965d-a432-8b3b-87a709bc893e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 01 Oct 2020 22:56:49 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D47E01210\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:56:49 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-dfd953c2-965d-a432-8b3b-87a709bc893e?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 01 Oct 2020 22:56:49 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u003CSignedIdentifiers /\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D47E586B1\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:56:49 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-dfd953c2-965d-a432-8b3b-87a709bc893e/test-blob-945e43fe-fe5d-9fb9-ca2c-f93e17339e57",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 01 Oct 2020 22:56:49 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D47E90B79\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:56:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-dfd953c2-965d-a432-8b3b-87a709bc893e/test-blob-945e43fe-fe5d-9fb9-ca2c-f93e17339e57?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:56:49 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "HwMB96d7Hy5GqghCxIwcfwO\u002BudSESE6T3Vp7W7uJWQCSzZl8ZnQXhEiF9RksIQS2iIr4NpIw6Ne1bRlN/8R[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-dfd953c2-965d-a432-8b3b-87a709bc893e/test-blob-0d19a355-bee9-a366-4a97-a88c3cb77e6c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 01 Oct 2020 22:56:49 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "XgHEv464YGl0lwyfhz7TAzVh1D2lI\u002BLHsFHbgs9gQSM=",
        "x-ms-encryption-key-sha256": "wsYaGKG4j4wdZM/bX7QBIaN4RKYwlai5bpS/WlphLao=",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D47F39551\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:56:49 GMT",
        "x-ms-encryption-key-sha256": "wsYaGKG4j4wdZM/bX7QBIaN4RKYwlai5bpS/WlphLao=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-dfd953c2-965d-a432-8b3b-87a709bc893e/test-blob-0d19a355-bee9-a366-4a97-a88c3cb77e6c?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://storagedotnettesting.blob.core.windows.net/test-container-dfd953c2-965d-a432-8b3b-87a709bc893e/test-blob-945e43fe-fe5d-9fb9-ca2c-f93e17339e57",
        "x-ms-date": "Thu, 01 Oct 2020 22:56:49 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "XgHEv464YGl0lwyfhz7TAzVh1D2lI\u002BLHsFHbgs9gQSM=",
        "x-ms-encryption-key-sha256": "wsYaGKG4j4wdZM/bX7QBIaN4RKYwlai5bpS/WlphLao=",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D47FB867E\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:56:49 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "98We54hA5EA=",
        "x-ms-encryption-key-sha256": "wsYaGKG4j4wdZM/bX7QBIaN4RKYwlai5bpS/WlphLao=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-dfd953c2-965d-a432-8b3b-87a709bc893e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:56:49 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "827365537",
    "Storage_TestConfigDefault": "ProductionTenant\nstoragedotnettesting\nU2FuaXRpemVk\nhttps://storagedotnettesting.blob.core.windows.net\nhttps://storagedotnettesting.file.core.windows.net\nhttps://storagedotnettesting.queue.core.windows.net\nhttps://storagedotnettesting.table.core.windows.net\n\n\n\n\nhttps://storagedotnettesting-secondary.blob.core.windows.net\nhttps://storagedotnettesting-secondary.file.core.windows.net\nhttps://storagedotnettesting-secondary.queue.core.windows.net\nhttps://storagedotnettesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://storagedotnettesting.blob.core.windows.net/;QueueEndpoint=https://storagedotnettesting.queue.core.windows.net/;FileEndpoint=https://storagedotnettesting.file.core.windows.net/;BlobSecondaryEndpoint=https://storagedotnettesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://storagedotnettesting-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://storagedotnettesting-secondary.file.core.windows.net/;AccountName=storagedotnettesting;AccountKey=Kg==;\n"
  }
}