{
  "Entries": [
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-670ff3e7-60b6-641a-0a66-7de3ba23932f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 01 Oct 2020 22:57:11 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D54E65520\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:57:11 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-670ff3e7-60b6-641a-0a66-7de3ba23932f?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 01 Oct 2020 22:57:11 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u003CSignedIdentifiers /\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D54EAC0E7\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:57:11 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-670ff3e7-60b6-641a-0a66-7de3ba23932f/test-blob-cc947842-ff59-3135-6467-17a76a8ee0f7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 01 Oct 2020 22:57:11 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D54EE6D15\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:57:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-670ff3e7-60b6-641a-0a66-7de3ba23932f/test-blob-cc947842-ff59-3135-6467-17a76a8ee0f7?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:57:11 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "fsC0aDWkPhcW2u/2NLEy86CqNFFZ9QDH9xE\u002BRJYHasKIVTI6rbMoDGbse8pL8DAhIj5pj3F3gYjA7HAjZfm[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-670ff3e7-60b6-641a-0a66-7de3ba23932f/test-blob-ac924664-6137-89b7-8171-69587d42f5ef",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 01 Oct 2020 22:57:11 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "L6/R/QXOpXQP3S/6EgVQHEX9mtWe1mBuyMemhZOYOsI=",
        "x-ms-encryption-key-sha256": "X7RT2M2g9Im/FImmq2bg5UDwRE8B6jE7aUODxgrOaGY=",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D54F7E558\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:57:11 GMT",
        "x-ms-encryption-key-sha256": "X7RT2M2g9Im/FImmq2bg5UDwRE8B6jE7aUODxgrOaGY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-670ff3e7-60b6-641a-0a66-7de3ba23932f/test-blob-ac924664-6137-89b7-8171-69587d42f5ef?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://storagedotnettesting.blob.core.windows.net/test-container-670ff3e7-60b6-641a-0a66-7de3ba23932f/test-blob-cc947842-ff59-3135-6467-17a76a8ee0f7",
        "x-ms-date": "Thu, 01 Oct 2020 22:57:11 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "L6/R/QXOpXQP3S/6EgVQHEX9mtWe1mBuyMemhZOYOsI=",
        "x-ms-encryption-key-sha256": "X7RT2M2g9Im/FImmq2bg5UDwRE8B6jE7aUODxgrOaGY=",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D54FFFD88\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:57:11 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "4HK9Vyx8oKM=",
        "x-ms-encryption-key-sha256": "X7RT2M2g9Im/FImmq2bg5UDwRE8B6jE7aUODxgrOaGY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-670ff3e7-60b6-641a-0a66-7de3ba23932f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:57:11 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1660608267",
    "Storage_TestConfigDefault": "ProductionTenant\nstoragedotnettesting\nU2FuaXRpemVk\nhttps://storagedotnettesting.blob.core.windows.net\nhttps://storagedotnettesting.file.core.windows.net\nhttps://storagedotnettesting.queue.core.windows.net\nhttps://storagedotnettesting.table.core.windows.net\n\n\n\n\nhttps://storagedotnettesting-secondary.blob.core.windows.net\nhttps://storagedotnettesting-secondary.file.core.windows.net\nhttps://storagedotnettesting-secondary.queue.core.windows.net\nhttps://storagedotnettesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://storagedotnettesting.blob.core.windows.net/;QueueEndpoint=https://storagedotnettesting.queue.core.windows.net/;FileEndpoint=https://storagedotnettesting.file.core.windows.net/;BlobSecondaryEndpoint=https://storagedotnettesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://storagedotnettesting-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://storagedotnettesting-secondary.file.core.windows.net/;AccountName=storagedotnettesting;AccountKey=Kg==;\n"
  }
}