{
  "Entries": [
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-48fa38ad-2f2f-47ec-0762-c62355ec61fd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 01 Oct 2020 22:56:56 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D4BD27995\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:56:56 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-48fa38ad-2f2f-47ec-0762-c62355ec61fd/test-blob-c4fd8754-feba-9d52-2041-6f99a0d2ae47",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 01 Oct 2020 22:56:56 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D4BD65406\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:56:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-48fa38ad-2f2f-47ec-0762-c62355ec61fd/test-blob-c4fd8754-feba-9d52-2041-6f99a0d2ae47?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "yOjfiVwsrhZrrQJ/3xUzWw==",
        "x-ms-date": "Thu, 01 Oct 2020 22:56:56 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "pPXM8xWQ1k80F9f\u002BXDXKOG08KGsMnIUn1vomtsnpTeVCJHndHOEd4F923apjHDk5AQP8W98OcQhvpBwbah\u002BFS8nxuze87RyLH0gLlb/axLnB7LXG7PIGM7JwbXfEAXVA8ZHhcmEBfRPmcDyWA9tJlOBjWn5pvl7X64iFS3\u002Bkxx3SyqQt\u002BVJYwG\u002Bi33y2bzDWJ9iXYaf31zMyCobYezGTQqgexDk3G5uOCpkOx97iIXtXryOnDGV22/Nx\u002B\u002B7Lf0Q9Dp3Tl6v3ngw8CVcN6BBUT\u002BkLgMwO7DVDp\u002BlFxh\u002Btwop[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-48fa38ad-2f2f-47ec-0762-c62355ec61fd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:56:56 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "823260430",
    "Storage_TestConfigDefault": "ProductionTenant\nstoragedotnettesting\nU2FuaXRpemVk\nhttps://storagedotnettesting.blob.core.windows.net\nhttps://storagedotnettesting.file.core.windows.net\nhttps://storagedotnettesting.queue.core.windows.net\nhttps://storagedotnettesting.table.core.windows.net\n\n\n\n\nhttps://storagedotnettesting-secondary.blob.core.windows.net\nhttps://storagedotnettesting-secondary.file.core.windows.net\nhttps://storagedotnettesting-secondary.queue.core.windows.net\nhttps://storagedotnettesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://storagedotnettesting.blob.core.windows.net/;QueueEndpoint=https://storagedotnettesting.queue.core.windows.net/;FileEndpoint=https://storagedotnettesting.file.core.windows.net/;BlobSecondaryEndpoint=https://storagedotnettesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://storagedotnettesting-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://storagedotnettesting-secondary.file.core.windows.net/;AccountName=storagedotnettesting;AccountKey=Kg==;\n"
  }
}