{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9fcad398-0dce-43f5-cdde-7c55cd12456f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:15 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D373E35E51E2\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:43:16 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9fcad398-0dce-43f5-cdde-7c55cd12456f/test-blob-f4ae4ce5-93e2-8f3d-72bd-5578db2a5a77",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:16 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D373E36A1365\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:43:16 GMT",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:43:16.3004773Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9fcad398-0dce-43f5-cdde-7c55cd12456f/test-blob-f4ae4ce5-93e2-8f3d-72bd-5578db2a5a77?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "ZMKOfITMi4NzxvHoosrDMg==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:16 GMT"
      },
      "RequestBody": "rSgMC0Pi9BMQLWyLBxgmgIfqRvREvdDc/nXvJ9HGIk\u002B1WXY/5SooUPLSjHkZQh43B4DudPKu7e9YLwzN8s1BSQsd1q2h5ppcwfUBcjFXwrxWuB9R2K5cBmuH57UeWl0lkUJu/GtwlSHlkbL8rXu\u002BAGxPdzqt73Fcwc9BGv7lPWeX2\u002BHv6MZQ5SP\u002BbEb7X1nwyedIz\u002BMjd6HQETucL3oiAFNLZNGazhem/pEWr4MqYWF1UVEXnG6DdGQ/HteLtLao22vzsPqIVfrPotBSDMcepbDZJ90pCmTlyPBtW7BAG0rabdQXN7Fm7PtXSPmdMWecIHgnsY3Zf9AHDugKG/pKjoeGd57zB27/czrh0cJqR5[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9fcad398-0dce-43f5-cdde-7c55cd12456f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:16 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "980796362",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}