{
  "Entries": [
    {
      "RequestUri": "https://seanstageoauth.blob.core.windows.net/test-container-6169d613-6da5-db6b-a1fe-7213b6ef877d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91616F82D792C\u0022",
        "Last-Modified": "Thu, 13 May 2021 13:56:55 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstageoauth.blob.core.windows.net/test-container-6169d613-6da5-db6b-a1fe-7213b6ef877d/test-blob-0b81764d-a5bc-736e-4d19-2212c9135fc6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91616F837C85B\u0022",
        "Last-Modified": "Thu, 13 May 2021 13:56:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstageoauth.blob.core.windows.net/test-container-6169d613-6da5-db6b-a1fe-7213b6ef877d/test-blob-0b81764d-a5bc-736e-4d19-2212c9135fc6?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "BfpcuCGK0OORAbr7eEYyS2qEVMD1g7n1ALOOiYqPhuMHLB\u002Bt\u002BtvMNCUWccOGrne68VlKXG/h1IFBZrdt/EdYAnrW9EwmhFGPtx\u002Ba3xL2b1I805cxRCl0JVedbJQjXzjevW5Ir7orlG0Iu6VPR/VvSvZlMCivJ75QYs70iBe8bFjnvCGjrb\u002BYET8qKImEJd5iLiGdvS4PLpWw903rNgtVS05MZ4vTy5w3zR/phf81yzzvklr2H64q2I2M87VxrNsz1dw6N71TjmKFZvAOJamWeisQ/KSxXyyfIo/9R9jmxSBEtrAi\u002BpR/nAP3cLm\u002BG7Pk9niKYK82gXawmhUuVUeKnqDPym/4c3\u002BXkWCgue5y4QbbGVBf[...]
[...]
    {
      "RequestUri": "https://seanstageoauth.blob.core.windows.net/test-container-6169d613-6da5-db6b-a1fe-7213b6ef877d/test-blob-f019214d-ba96-6d77-c5fe-76ebca1ffc61?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanstageoauth.blob.core.windows.net/test-container-6169d613-6da5-db6b-a1fe-7213b6ef877d/test-blob-0b81764d-a5bc-736e-4d19-2212c9135fc6",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003ECannotVerifyCopySource\u003C/Code\u003E\u003CMessage\u003ECould not verify the copy source within the specified time.\n",
        "RequestId:ed84a7a0-501e-0003-21ff-47a3d1000000\n",
        "Time:2021-05-13T13:56:56.1075647Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanstageoauth.blob.core.windows.net/test-container-6169d613-6da5-db6b-a1fe-7213b6ef877d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "918968581",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanstageoauth\nU2FuaXRpemVk\nhttps://seanstageoauth.blob.core.windows.net\nhttps://seanstageoauth.file.core.windows.net\nhttps://seanstageoauth.queue.core.windows.net\nhttps://seanstageoauth.table.core.windows.net\n\n\n\n\nhttps://seanstageoauth-secondary.blob.core.windows.net\nhttps://seanstageoauth-secondary.file.core.windows.net\nhttps://seanstageoauth-secondary.queue.core.windows.net\nhttps://seanstageoauth-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanstageoauth.blob.core.windows.net/;QueueEndpoint=https://seanstageoauth.queue.core.windows.net/;FileEndpoint=https://seanstageoauth.file.core.windows.net/;BlobSecondaryEndpoint=https://seanstageoauth-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanstageoauth-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanstageoauth-secondary.file.core.windows.net/;AccountName=seanstageoauth;AccountKey=Sanitized\n"
  }
}