{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5908dffa-2ecc-d4bb-bab5-59d5eba4a6b2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:30 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D373EBD97808\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:43:30 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5908dffa-2ecc-d4bb-bab5-59d5eba4a6b2?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:30 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D373EBE788CA\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:43:30 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5908dffa-2ecc-d4bb-bab5-59d5eba4a6b2/test-blob-dcaca581-f57e-5e47-7a0b-63fa3883fe11",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:30 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D373EBF2B70D\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:43:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T18:43:30.6177293Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5908dffa-2ecc-d4bb-bab5-59d5eba4a6b2/test-blob-dcaca581-f57e-5e47-7a0b-63fa3883fe11?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:30 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "rk26\u002BqYEeg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D373EBFDDCAD\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:43:30 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "OZp70R\u002B\u002BnsI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5908dffa-2ecc-d4bb-bab5-59d5eba4a6b2/test-blob-5fb5686e-2f8c-dd5d-5cde-14ff499244a1?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 18 Feb 2021 18:43:30 GMT",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-5908dffa-2ecc-d4bb-bab5-59d5eba4a6b2/test-blob-dcaca581-f57e-5e47-7a0b-63fa3883fe11",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:30 GMT",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:863839c4-f01e-001f-2e5c-0569c6000000\n",
        "Time:2021-02-17T18:43:30.9065985Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-bd296d06-8e54-8faa-9315-1a317ee2a0cc/test-blob-a942247e-9937-9a12-ef4c-3cdcfc4a39c7?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Tue, 16 Feb 2021 18:43:30 GMT",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-bd296d06-8e54-8faa-9315-1a317ee2a0cc/test-blob-3ed07d9d-9f3e-283b-a85f-58c5d71192c2",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:31 GMT",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:42c2a076-201e-000c-695c-054dca000000\n",
        "Time:2021-02-17T18:43:31.7022686Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f8d35125-2150-bbef-68a5-6ab3bb73fb6f/test-blob-43731e1d-40dc-77c1-fd1d-4c84c74e8516?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-f8d35125-2150-bbef-68a5-6ab3bb73fb6f/test-blob-876cb747-6c75-2b73-d550-85433b03fe07",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:32 GMT",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:e6e86b09-601e-008b-5f5c-05deaf000000\n",
        "Time:2021-02-17T18:43:33.0587267Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9bf3ee13-8647-9ee9-e9ff-aaccb43c94a6/test-blob-131f5655-9436-7db4-2ce8-3359dfc538cf",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:33 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D373EDBF8E1E\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:43:33 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:43:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T18:43:33.6388919Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c83032e5-e77e-ff3e-ca20-5e175236cb39/test-blob-0c1207cd-95c1-0532-dbed-ca0b470dcc9b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-c83032e5-e77e-ff3e-ca20-5e175236cb39/test-blob-5bfe6951-1ae2-2881-b32d-22acca183fcc",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:34 GMT",
        "x-ms-lease-id": "0245de77-3eff-f8a1-9bff-273885069e8f",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003ELeaseNotPresentWithBlobOperation\u003C/Code\u003E\u003CMessage\u003EThere is currently no lease on the blob.\n",
        "RequestId:88bca77b-501e-004b-115c-052691000000\n",
        "Time:2021-02-17T18:43:34.9916575Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d9dfadd5-d327-bd52-c17b-1aaaa5de4c15/test-blob-6b5ff3f5-f1b3-c9c4-0da5-45537775322a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-condition-appendpos": "1",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-d9dfadd5-d327-bd52-c17b-1aaaa5de4c15/test-blob-a244f12a-6206-7213-fdad-a862a79ccb8d",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:35 GMT",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AppendPositionConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003EAppendPositionConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe append position condition specified was not met.\n",
        "RequestId:0dd758e1-601e-0040-1c5c-05ddfa000000\n",
        "Time:2021-02-17T18:43:36.6371565Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4e308597-ff37-f98b-9e25-2b42f131e5f9/test-blob-88a4b78a-ba80-71ef-7ee5-6141e1837d90?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-condition-maxsize": "1",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-4e308597-ff37-f98b-9e25-2b42f131e5f9/test-blob-4a77e5f8-d31d-44f0-c588-a2cc7e9652bf",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:37 GMT",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "MaxBlobSizeConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003EMaxBlobSizeConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe max blob size condition specified was not met.\n",
        "RequestId:c627410c-501e-0029-0d5c-05e4b6000000\n",
        "Time:2021-02-17T18:43:37.5140983Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ec7a96c4-e97c-4ec6-5d6f-d9000cc3403c/test-blob-4c1c3962-a38d-4ca2-8ec5-7d2b80da7097?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-ec7a96c4-e97c-4ec6-5d6f-d9000cc3403c/test-blob-e50a5247-d66e-f0c2-a527-05fd64f100ff",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:38 GMT",
        "x-ms-source-if-match": "",
        "x-ms-source-if-modified-since": "Thu, 18 Feb 2021 18:43:30 GMT",
        "x-ms-source-if-none-match": "",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e7d5d712-70ac-b0b1-413a-36eb539f50b1/test-blob-c648a355-6fa7-8a0f-9846-ce405f2032f8?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-e7d5d712-70ac-b0b1-413a-36eb539f50b1/test-blob-3624863c-6ee0-15a7-6848-ea5804aaa8df",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:38 GMT",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
        "x-ms-source-if-unmodified-since": "Tue, 16 Feb 2021 18:43:30 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003ECannotVerifyCopySource\u003C/Code\u003E\u003CMessage\u003ECould not verify the copy source within the specified time.\n",
        "RequestId:863841a7-f01e-001f-505c-0569c6000000\n",
        "Time:2021-02-17T18:43:38.9643190Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-63587885-dfcc-3d8b-057d-f415786c20e9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:41 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T12:43:30.1654880-06:00",
    "RandomSeed": "1697664117",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}