{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-2a359de6-0c5f-fa47-399d-db873eea99c0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 26 May 2020 19:00:56 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D801A71FD25B0B\u0022",
        "Last-Modified": "Tue, 26 May 2020 19:00:57 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-2a359de6-0c5f-fa47-399d-db873eea99c0?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 26 May 2020 19:00:57 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "\u003CSignedIdentifiers /\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D801A71FDC3C7D\u0022",
        "Last-Modified": "Tue, 26 May 2020 19:00:57 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-2a359de6-0c5f-fa47-399d-db873eea99c0/test-\u03B2\u00A3\u00A9\u00FE\u203D-8ce92671-2776-2bbf-46a6-9829c330ba48",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 26 May 2020 19:00:57 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D801A71FE51623\u0022",
        "Last-Modified": "Tue, 26 May 2020 19:00:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-05-26T19:00:57.9198499Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-2a359de6-0c5f-fa47-399d-db873eea99c0/test-\u03B2\u00A3\u00A9\u00FE\u203D-8ce92671-2776-2bbf-46a6-9829c330ba48?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 May 2020 19:00:57 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "YNbm6I5K5KtvOQZFvuOPjB4o8CKoUuX0cFpRXpo0Qcw86pH0FuMY5yAsSkxoj\u002Brs[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-2a359de6-0c5f-fa47-399d-db873eea99c0/test-blob-ab8553e3-40e1-b27e-4648-ee5c39016d37",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 26 May 2020 19:00:57 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D801A71FF741E3\u0022",
        "Last-Modified": "Tue, 26 May 2020 19:00:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-05-26T19:00:58.0389347Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-2a359de6-0c5f-fa47-399d-db873eea99c0/test-blob-ab8553e3-40e1-b27e-4648-ee5c39016d37?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary.blob.core.windows.net/test-container-2a359de6-0c5f-fa47-399d-db873eea99c0/test-\u03B2\u00A3\u00A9\u00FE\u203D-8ce92671-2776-2bbf-46a6-9829c330ba48",
        "x-ms-date": "Tue, 26 May 2020 19:00:57 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "FYBNS7tC6BOqRuliCdtdYQ==",
        "ETag": "\u00220x8D801A7201704AA\u0022",
        "Last-Modified": "Tue, 26 May 2020 19:00:58 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-2a359de6-0c5f-fa47-399d-db873eea99c0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 May 2020 19:00:57 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "660698873",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}