{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-f98289f7-83c9-317d-173c-9dd9e2e18675?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sun, 30 Jun 2019 17:34:20 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FD8130EFC4DA\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 17:34:23 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-f98289f7-83c9-317d-173c-9dd9e2e18675?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sun, 30 Jun 2019 17:34:20 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "\u003cSignedIdentifiers /\u003e",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FD8130F1D51E\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 17:34:23 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-f98289f7-83c9-317d-173c-9dd9e2e18675/test-blob-8560f4d5-821b-a75b-f959-d9dd0ac65b86",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Sun, 30 Jun 2019 17:34:20 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FD8130F40BA2\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 17:34:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-f98289f7-83c9-317d-173c-9dd9e2e18675/test-blob-8560f4d5-821b-a75b-f959-d9dd0ac65b86?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 30 Jun 2019 17:34:20 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "fd1AZh4S4g==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "SvB1E5ctHxt0YOnWHun6Lw==",
        "ETag": "\u00220x8D6FD8130F607F0\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 17:34:23 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-f98289f7-83c9-317d-173c-9dd9e2e18675/test-blob-8ea85621-3039-1350-1ef5-8786c7b5fa1c?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Mon, 01 Jul 2019 17:34:20 GMT",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-f98289f7-83c9-317d-173c-9dd9e2e18675/test-blob-8560f4d5-821b-a75b-f959-d9dd0ac65b86",
        "x-ms-date": "Sun, 30 Jun 2019 17:34:20 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\n",
        "\u003cError\u003e\u003cCode\u003eConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:dde8d09b-801e-002f-1f6a-2f40c5000000\n",
        "Time:2019-06-30T17:34:23.3993088Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-8c011f67-a432-ede7-c93b-704c0d5ff76f/test-blob-171840a1-fa3a-7781-f876-ca13b6f0ae4f?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sat, 29 Jun 2019 17:34:20 GMT",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-8c011f67-a432-ede7-c93b-704c0d5ff76f/test-blob-51765880-adab-aed6-1c4b-e7d1a52d8aff",
        "x-ms-date": "Sun, 30 Jun 2019 17:34:20 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\n",
        "\u003cError\u003e\u003cCode\u003eConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:dde8d13a-801e-002f-296a-2f40c5000000\n",
        "Time:2019-06-30T17:34:23.5264294Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-92c52319-efac-d09a-a823-e94258840e55/test-blob-c4b650c9-5d42-9f1b-5c08-08509a5ae4ac?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-92c52319-efac-d09a-a823-e94258840e55/test-blob-c4ba60b4-6994-0df9-df24-f238ee1b3a48",
        "x-ms-date": "Sun, 30 Jun 2019 17:34:20 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\n",
        "\u003cError\u003e\u003cCode\u003eConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:dde8d1a9-801e-002f-106a-2f40c5000000\n",
        "Time:2019-06-30T17:34:23.6315302Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-63f027bd-0b85-982f-6037-3d52aeacdf2c/test-blob-06184df1-cf04-e0e7-2105-3a36beeb4b93",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 30 Jun 2019 17:34:20 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D6FD813134F521\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 17:34:23 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Sun, 30 Jun 2019 17:34:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-63f027bd-0b85-982f-6037-3d52aeacdf2c/test-blob-06184df1-cf04-e0e7-2105-3a36beeb4b93?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u00220x8D6FD813134F521\u0022",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-63f027bd-0b85-982f-6037-3d52aeacdf2c/test-blob-5fec97cf-8db4-428e-1523-e0398b200b12",
        "x-ms-date": "Sun, 30 Jun 2019 17:34:20 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\n",
        "\u003cError\u003e\u003cCode\u003eConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:dde8d250-801e-002f-286a-2f40c5000000\n",
        "Time:2019-06-30T17:34:23.7996914Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-b3862bd4-833c-fd15-1690-4075b513a628/test-blob-2aa3131c-54fe-39a2-103d-10de20c0eb4f?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-b3862bd4-833c-fd15-1690-4075b513a628/test-blob-87314ad3-b143-c7b8-7124-935841364945",
        "x-ms-date": "Sun, 30 Jun 2019 17:34:20 GMT",
        "x-ms-lease-id": "7736536e-53fc-fb4d-2804-527350eeca7a",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\n",
        "\u003cError\u003e\u003cCode\u003eLeaseNotPresentWithBlobOperation\u003c/Code\u003e\u003cMessage\u003eThere is currently no lease on the blob.\n",
        "RequestId:dde8d2c2-801e-002f-166a-2f40c5000000\n",
        "Time:2019-06-30T17:34:23.9178046Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-98cdf319-22e5-eed1-1af8-585e3621b4ab/test-blob-f01a5a92-670e-9bb2-59d7-bea6ec46e878?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-condition-appendpos": "1",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-98cdf319-22e5-eed1-1af8-585e3621b4ab/test-blob-ed92b4ec-d8ee-24b5-91c5-8a2290c71b34",
        "x-ms-date": "Sun, 30 Jun 2019 17:34:21 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AppendPositionConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\n",
        "\u003cError\u003e\u003cCode\u003eAppendPositionConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe append position condition specified was not met.\n",
        "RequestId:dde8d316-801e-002f-666a-2f40c5000000\n",
        "Time:2019-06-30T17:34:24.0399217Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-967ceb0e-076a-4e79-b039-6488aa431284/test-blob-5b67e6f5-8450-e57e-adbb-171c21387136?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-condition-maxsize": "1",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-967ceb0e-076a-4e79-b039-6488aa431284/test-blob-7d4ff9a3-31ea-44c0-e751-524c3c453c4f",
        "x-ms-date": "Sun, 30 Jun 2019 17:34:21 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "MaxBlobSizeConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\n",
        "\u003cError\u003e\u003cCode\u003eMaxBlobSizeConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe max blob size condition specified was not met.\n",
        "RequestId:dde8d3b7-801e-002f-7f6a-2f40c5000000\n",
        "Time:2019-06-30T17:34:24.1600368Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-94c3196d-84a7-25ec-ef1a-ba752f3e14dd/test-blob-30c1fe0f-b430-4afa-e783-c718e6f8bad6?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-94c3196d-84a7-25ec-ef1a-ba752f3e14dd/test-blob-9d2312ec-16ab-d334-2a04-3fecb6806c3a",
        "x-ms-date": "Sun, 30 Jun 2019 17:34:21 GMT",
        "x-ms-source-if-modified-since": "Mon, 01 Jul 2019 17:34:20 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-753427a2-a0cb-c243-b18c-ce2a29be682b/test-blob-295b795e-d354-4cd0-555e-92f07800b77b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-753427a2-a0cb-c243-b18c-ce2a29be682b/test-blob-123bdb21-c9d6-4ac9-368e-12011065516b",
        "x-ms-date": "Sun, 30 Jun 2019 17:34:21 GMT",
        "x-ms-source-if-unmodified-since": "Sat, 29 Jun 2019 17:34:20 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\n",
        "\u003cError\u003e\u003cCode\u003eCannotVerifyCopySource\u003c/Code\u003e\u003cMessage\u003eCould not verify the copy source within the specified time.\n",
        "RequestId:dde8d551-801e-002f-746a-2f40c5000000\n",
        "Time:2019-06-30T17:34:24.5564168Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-4706f68b-9e95-921a-0819-4c432ec2f78f/test-blob-b6f1747d-0d0b-528f-e08c-756d61475c42?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-4706f68b-9e95-921a-0819-4c432ec2f78f/test-blob-075418df-1774-e2b1-f13b-25484e2881b4",
        "x-ms-date": "Sun, 30 Jun 2019 17:34:38 GMT",
        "x-ms-source-if-match": "\u0022garbage\u0022",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\n",
        "\u003cError\u003e\u003cCode\u003eCannotVerifyCopySource\u003c/Code\u003e\u003cMessage\u003eCould not verify the copy source within the specified time.\n",
        "RequestId:dde92267-801e-002f-5a6a-2f40c5000000\n",
        "Time:2019-06-30T17:34:41.4896431Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-52324a89-4b5a-df83-167b-0c08a635257f/test-blob-7b4f0637-6faa-f4b9-18e1-d7e7c60057ef?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-52324a89-4b5a-df83-167b-0c08a635257f/test-blob-7c5ca9b3-80c7-ec25-23d9-a3943bc50258",
        "x-ms-date": "Sun, 30 Jun 2019 17:34:56 GMT",
        "x-ms-source-if-none-match": "\u00220x8D6FD81465211B1\u0022",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-52324a89-4b5a-df83-167b-0c08a635257f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 30 Jun 2019 17:34:56 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-06-30T10:34:20.3511493-07:00",
    "RandomSeed": "758645153"
  }
}