{
  "Entries": [
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-a3dc4025-91ef-0a1b-65ad-23d9644c9234?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 03 Jun 2020 17:25:58 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D807E32DE6FCBC\u0022",
        "Last-Modified": "Wed, 03 Jun 2020 17:25:58 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-a3dc4025-91ef-0a1b-65ad-23d9644c9234/test-blob-2d8da44b-a090-f58f-bdf8-554ceebb4cdc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 03 Jun 2020 17:25:58 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D807E32DF101D1\u0022",
        "Last-Modified": "Wed, 03 Jun 2020 17:25:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-06-03T17:25:58.2665169Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-a3dc4025-91ef-0a1b-65ad-23d9644c9234/test-blob-2d8da44b-a090-f58f-bdf8-554ceebb4cdc?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Jun 2020 17:25:58 GMT",
        "x-ms-if-tags": "\u0022coolTag\u0022 = \u0027true\u0027",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Yc9/vMKPBy2TPpJaEm5wjWqlbR2mM\u002BIkon\u002BVP2bll5C24r\u002B1sNHtTsjnhrwbnUoxGinBEpxhBS3tWxlD\u002BcjHrqYCpC\u002Buu9yYuB9Vvq0lCAU0ZCQ8I4TzVNySyFW4qlT/H9cWGfgagl9NKFp9DEeAx1IUDpWki4oiDlBTHPOH4A7KVZ7VD\u002B4MGeHF7voqdkiVEQACpJu/W5RN9Auox2ZrxkhMsraoq7hjB/Sz35yP95cIvQvzhDtyC/kKhxvjZFF7WSix3sSR7GVHn5ynDHz3vfxzoApbeEEM2ae8nSSdgKOiN4Vz3RnTdtClq\u002BWfy/99E8kecMRHIODnpAQc1E9Bqh/5BNT2g\u002[...]
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-a3dc4025-91ef-0a1b-65ad-23d9644c9234?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Jun 2020 17:25:58 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "415825568",
    "Storage_TestConfigDefault": "ProductionTenant\nhuxcanadac\nU2FuaXRpemVk\nhttps://huxcanadac.blob.core.windows.net\nhttps://huxcanadac.file.core.windows.net\nhttps://huxcanadac.queue.core.windows.net\nhttps://huxcanadac.table.core.windows.net\n\n\n\n\nhttps://huxcanadac-secondary.blob.core.windows.net\nhttps://huxcanadac-secondary.file.core.windows.net\nhttps://huxcanadac-secondary.queue.core.windows.net\nhttps://huxcanadac-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://huxcanadac.blob.core.windows.net/;QueueEndpoint=https://huxcanadac.queue.core.windows.net/;FileEndpoint=https://huxcanadac.file.core.windows.net/;BlobSecondaryEndpoint=https://huxcanadac-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://huxcanadac-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://huxcanadac-secondary.file.core.windows.net/;AccountName=huxcanadac;AccountKey=Sanitized\nseanscope1"
  }
}