{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-a095819c-5c81-5aa1-a6d8-cd1410c3d64a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 03:34:34 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEB0AE04B8F\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:34:34 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-a095819c-5c81-5aa1-a6d8-cd1410c3d64a/test-blob-7cbc8c46-7899-6f7f-58b9-197456caae3c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 11 Dec 2019 03:34:35 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "t4LjFP4OEYNwa9oMiKR5K3uKkB\u002BtpLG5fFVvfxkPRQw=",
        "x-ms-encryption-key-sha256": "J1Lw2BMVts5KraZCtk66f8Jh2V7MEfpwVsW50hFqmPA=",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEB0AECBBAE\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:34:35 GMT",
        "x-ms-encryption-key-sha256": "J1Lw2BMVts5KraZCtk66f8Jh2V7MEfpwVsW50hFqmPA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-a095819c-5c81-5aa1-a6d8-cd1410c3d64a/test-blob-7cbc8c46-7899-6f7f-58b9-197456caae3c?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:34:35 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "t4LjFP4OEYNwa9oMiKR5K3uKkB\u002BtpLG5fFVvfxkPRQw=",
        "x-ms-encryption-key-sha[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-a095819c-5c81-5aa1-a6d8-cd1410c3d64a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:34:35 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "981860044",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}