{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d8c26c10-a358-d4e9-fc42-4711adc3508e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:37:06 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2ECEAFC02EF\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:37:06 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d8c26c10-a358-d4e9-fc42-4711adc3508e/test-blob-86e4919c-4c17-c1da-fa5c-f75532c4e5a2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:37:06 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2ECEB04F331\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:37:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:37:07.0020171Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d8c26c10-a358-d4e9-fc42-4711adc3508e/test-blob-86e4919c-4c17-c1da-fa5c-f75532c4e5a2?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 17 Feb 2021 02:37:06 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "TLY/QCXkag==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2ECEB0DF57F\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:37:07 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "aDeuXM\u002BeSrU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-aadc0fce-a947-f0fa-9776-b16d54c38c9a/test-blob-a742df54-d33f-9a00-2e68-ef325da8ceea?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Modified-Since": "Tue, 16 Feb 2021 02:37:06 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 02:37:07 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "8m\u002BCT5d7aA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2ECEB4FC56D\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:37:07 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "SMM5P4/4yU8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ca9adb1f-9537-4cd5-bc5f-2b9ef56ef6d9/test-blob-5a2e3899-dd35-35ef-313b-7b1cfbb96af2?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Unmodified-Since": "Thu, 18 Feb 2021 02:37:06 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 02:37:07 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "i2MUwDSo4w==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2ECEB8CD98C\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:37:07 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "BZrAfiSI/LE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-86526245-45b4-ac75-64d2-f44cfb48919b/test-blob-a9d19a54-4e7f-59d3-817d-c5c87b7b53dd",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:37:08 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2ECEBC24B27\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:37:08 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 02:37:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:37:08.2418983Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-86526245-45b4-ac75-64d2-f44cfb48919b/test-blob-a9d19a54-4e7f-59d3-817d-c5c87b7b53dd?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "0x8D8D2ECEBC24B27",
        "x-ms-date": "Wed, 17 Feb 2021 02:37:08 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "1\u002Bw/hoywDg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2ECEBD36549\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:37:08 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "h8pkzCUr0cA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c0de62f5-a05b-cb0a-01e2-fd96c8dd807e/test-blob-40688fb7-d9b0-c5a6-5062-9359c70e7005?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:37:09 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "80a5c7e5-7ffa-2ec4-90ea-bd5876c9a472",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2ECEC4A589A\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:37:09 GMT",
        "x-ms-lease-id": "80a5c7e5-7ffa-2ec4-90ea-bd5876c9a472",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9c8a7b1a-4c5a-8e36-86bd-da7def0c3c39/test-blob-cffe9654-7f08-cb89-de9c-dd8d088bd18f?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-condition-appendpos": "0",
        "x-ms-date": "Wed, 17 Feb 2021 02:37:09 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "7PZ9bnqY4A==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2ECEC9B1F70\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:37:09 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "rgIelcEswrQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-80c88603-8e8f-c4cd-dc6c-518bf8828660/test-blob-9baabc76-bda3-37f5-daa3-72b30201811a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-condition-maxsize": "100",
        "x-ms-date": "Wed, 17 Feb 2021 02:37:09 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "ElFuLQ6VgA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2ECECDC2BDF\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:37:10 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "ov8IEoG/9A8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-80c88603-8e8f-c4cd-dc6c-518bf8828660?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:37:09 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-16T20:37:06.6123204-06:00",
    "RandomSeed": "759117727",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}