{
  "Entries": [
    {
      "RequestUri": "https://camaiaor.blob.core.windows.net/test-container-a095819c-5c81-5aa1-a6d8-cd1410c3d64a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 15 Oct 2021 18:52:42 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9900CF836A19D\u0022",
        "Last-Modified": "Fri, 15 Oct 2021 18:52:42 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor.blob.core.windows.net/test-container-a095819c-5c81-5aa1-a6d8-cd1410c3d64a/test-blob-7cbc8c46-7899-6f7f-58b9-197456caae3c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 15 Oct 2021 18:52:42 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "J1Lw2BMVts5KraZCtk66f8Jh2V7MEfpwVsW50hFqmPA=",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9900CF8510900\u0022",
        "Last-Modified": "Fri, 15 Oct 2021 18:52:42 GMT",
        "x-ms-encryption-key-sha256": "J1Lw2BMVts5KraZCtk66f8Jh2V7MEfpwVsW50hFqmPA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-15T18:52:42.9703424Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor.blob.core.windows.net/test-container-a095819c-5c81-5aa1-a6d8-cd1410c3d64a/test-blob-7cbc8c46-7899-6f7f-58b9-197456caae3c?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 15 Oct 2021 18:52:42 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "J1Lw2BMVts5KraZCtk66f8Jh2V7MEfpwVsW50hFqmPA=",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "PWjM4Hh9fDh7OQwtnXPmsz/u\u002BMs5j44T0CmXqZ6RaWEmzc4g2Jiz/g1XpHSYgxsIbrw/KxZ50q7ZuQ9O5tOa6c\u002BqB8\u002BlxtunO/q\u002B4usaekwNjjriUT1KrPofRx6IZRc6vbqk7XxMY6jgmPAcuvDDvz7D[...]
    {
      "RequestUri": "https://camaiaor.blob.core.windows.net/test-container-a095819c-5c81-5aa1-a6d8-cd1410c3d64a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 15 Oct 2021 18:52:43 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "981860044",
    "Storage_TestConfigDefault": "ProductionTenant\ncamaiaor\nU2FuaXRpemVk\nhttps://camaiaor.blob.core.windows.net\nhttps://camaiaor.file.core.windows.net\nhttps://camaiaor.queue.core.windows.net\nhttps://camaiaor.table.core.windows.net\n\n\n\n\nhttps://camaiaor-secondary.blob.core.windows.net\nhttps://camaiaor-secondary.file.core.windows.net\nhttps://camaiaor-secondary.queue.core.windows.net\nhttps://camaiaor-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://camaiaor.blob.core.windows.net/;QueueEndpoint=https://camaiaor.queue.core.windows.net/;FileEndpoint=https://camaiaor.file.core.windows.net/;BlobSecondaryEndpoint=https://camaiaor-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://camaiaor-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://camaiaor-secondary.file.core.windows.net/;AccountName=camaiaor;AccountKey=Kg==;\nsdktest\n\n"
  }
}