{
  "Entries": [
    {
      "RequestUri": "https://seanstageoauth.blob.core.windows.net/test-container-32a9315d-ba36-994e-2e82-9abac36860fc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91616F904CE51\u0022",
        "Last-Modified": "Thu, 13 May 2021 13:56:57 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstageoauth.blob.core.windows.net/test-container-32a9315d-ba36-994e-2e82-9abac36860fc/test-blob-c5f6f868-6963-234c-19ef-2a384bbf9cfd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91616F90F1D97\u0022",
        "Last-Modified": "Thu, 13 May 2021 13:56:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstageoauth.blob.core.windows.net/test-container-32a9315d-ba36-994e-2e82-9abac36860fc/test-blob-c5f6f868-6963-234c-19ef-2a384bbf9cfd?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "8Sk6tt69vNxVcnxeJO7Y6xHM0HTAyZJU/fS8\u002BcExIH5PeG6XB7rvLJLKQvd3TZxhOtOZSWcTXSiX5bjqAcIbI1L\u002BD6yAQONX3aPi9Yaa3a9XWr/umNcXOxpFACICBCvQrx6leD7w4PnvQmzDMWeh/AgIkqcDLYt759OROj/BVdh4EkZo9WVwZ3nF/lZrUwmzpAQa\u002BXGEzIKTKZBrXqa6Le2TSx8hOQailystPS40EJTJ3pY7p1tm9EXD1MvUBQnTC9Fp1wjqkWr9d2FGVo5UXhn8oX8PfoWRLFbZXWU7zpIiWTJcyziM3kwrPjD6IJ22b3Wx12OKxIxL16qxEDQFwanPJP1c95PhcMIy4z9Vlwy4I\u002B7vifYul5WlEfSN2s4[...]
[...]
    {
      "RequestUri": "https://seanstageoauth.blob.core.windows.net/test-container-32a9315d-ba36-994e-2e82-9abac36860fc/test-blob-815befad-013c-2b0f-8536-3669f4c3ad05?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanstageoauth.blob.core.windows.net/test-container-32a9315d-ba36-994e-2e82-9abac36860fc/test-blob-c5f6f868-6963-234c-19ef-2a384bbf9cfd",
        "x-ms-copy-source-authorization": "Bearer ",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003ECannotVerifyCopySource\u003C/Code\u003E\u003CMessage\u003ECould not verify the copy source within the specified time.\n",
        "RequestId:ed84a7b1-501e-0003-2fff-47a3d1000000\n",
        "Time:2021-05-13T13:56:57.5167706Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanstageoauth.blob.core.windows.net/test-container-32a9315d-ba36-994e-2e82-9abac36860fc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1294408007",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanstageoauth\nU2FuaXRpemVk\nhttps://seanstageoauth.blob.core.windows.net\nhttps://seanstageoauth.file.core.windows.net\nhttps://seanstageoauth.queue.core.windows.net\nhttps://seanstageoauth.table.core.windows.net\n\n\n\n\nhttps://seanstageoauth-secondary.blob.core.windows.net\nhttps://seanstageoauth-secondary.file.core.windows.net\nhttps://seanstageoauth-secondary.queue.core.windows.net\nhttps://seanstageoauth-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanstageoauth.blob.core.windows.net/;QueueEndpoint=https://seanstageoauth.queue.core.windows.net/;FileEndpoint=https://seanstageoauth.file.core.windows.net/;BlobSecondaryEndpoint=https://seanstageoauth-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanstageoauth-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanstageoauth-secondary.file.core.windows.net/;AccountName=seanstageoauth;AccountKey=Sanitized\n"
  }
}