{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-b7cf22cf-cf37-0914-b01c-e43c25203e4b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 17 Jun 2019 20:55:47 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F3662C0C7491\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:55:47 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-b7cf22cf-cf37-0914-b01c-e43c25203e4b?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 17 Jun 2019 20:55:47 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "\u003cSignedIdentifiers /\u003e",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F3662C0F62B6\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:55:47 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-b7cf22cf-cf37-0914-b01c-e43c25203e4b/test-blob-2cd4bc04-665e-f1e2-adc0-c7faad278a15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 17 Jun 2019 20:55:47 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F3662C11CA5C\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:55:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-b7cf22cf-cf37-0914-b01c-e43c25203e4b/test-blob-2cd4bc04-665e-f1e2-adc0-c7faad278a15?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:55:47 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "kRaM1ZV9mKvM9niIrbcMa\u002bRxqEaEPnLUAvKUpzAFmdmTlsvmuGPcFUXvM\u002bM1lI3LK4dszbzVB1Kkt9[...]
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-b7cf22cf-cf37-0914-b01c-e43c25203e4b/test-blob-9677a647-8160-0108-74a4-1f015115729f?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-b7cf22cf-cf37-0914-b01c-e43c25203e4b/test-blob-2cd4bc04-665e-f1e2-adc0-c7faad278a15",
        "x-ms-date": "Mon, 17 Jun 2019 20:55:47 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Rz9C5Tmri8qLvDnuXayikQ==",
        "ETag": "\u00220x8D6F3662C1B1B7B\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:55:47 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-b7cf22cf-cf37-0914-b01c-e43c25203e4b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:55:47 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1347771971"
  }
}