{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-fcd3be89-5a24-68cc-e08e-11466dcc42b2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 17 Jun 2019 20:54:49 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F36609D248B4\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:54:49 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-fcd3be89-5a24-68cc-e08e-11466dcc42b2/test-blob-69f66cf3-e3ae-fe03-c194-1f24e3375fed",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 17 Jun 2019 20:54:49 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F36609D491DA\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:54:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-fcd3be89-5a24-68cc-e08e-11466dcc42b2/test-blob-69f66cf3-e3ae-fe03-c194-1f24e3375fed?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "yOjfiVwsrhZrrQJ/3xUzWw==",
        "x-ms-date": "Mon, 17 Jun 2019 20:54:49 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "SuxSANXZBINZtpn\u002bhRkawPN9FybRXum/2hLp2N4xD5P94Nr25V4XraZNi4Wak15mu0TdcRZwbesDkibC7yukJ6YGAaU\u002bI9uVZmqAg9JjJUa0ghyaU519jXLu8lI3VL16qGTelJK5J5dpSAus7\u002bkYoG3fDm0PCtMJiHMyUDGIXRGsBttuhJG0\u002b1uEMQqR0Z2I1VHkWEZQa52Q1Qsehtdm4Ov6/\u002bkOqhvcKxMRitnId7bWqXrfowTLW5s\u002b3a\u002bFlXSDHlAfl9G0eis2CC0yPuDEyF1USN1chjzmLqRNz81sVpWejWuIqeDkIi5PqZ[...]
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-fcd3be89-5a24-68cc-e08e-11466dcc42b2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:54:50 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2073669269"
  }
}