{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-86a67a6d-9830-9d49-4c60-8d256d2dfaad?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:48 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D373F6BF9A71\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:43:48 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-86a67a6d-9830-9d49-4c60-8d256d2dfaad?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:48 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D373F6CB05C8\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:43:48 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-86a67a6d-9830-9d49-4c60-8d256d2dfaad/test-\u03B2\u00A3\u00A9\u00FE\u203D%253A-73643c77-54a3-b5b6-89c1-b0933d9d1ca2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:48 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D373F6DD3A2F\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:43:48 GMT",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:43:48.9328456Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-86a67a6d-9830-9d49-4c60-8d256d2dfaad/test-\u03B2\u00A3\u00A9\u00FE\u203D%253A-73643c77-54a3-b5b6-89c1-b0933d9d1ca2?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:48 GMT"
      },
      "RequestBody": "jdZQp6lom39DY55bkl5kzpRrplQqtLwKwXElVBIPT/\u002B5FEzw6fSOG/0K0NkVPGXunztz0QGrNNkZRuY3Q0dsNBOfoX4SdOSf3IpWH\u002BPi9YQMNrTWm379Dd9y1qMOV9i2npzGdpvm3CtW0/V3VRX2NlBhKw2SlZiVoZSfn51BkYWyoIFGHH/pJVmJgMiJhrjJfJ9SrCvLIwgEMdQGRz2NFUJvxbWUsBrReAWzCRXPCxrc1SL97uRZ53x5Qeqq4t4b\u002B2qFGcECNcyFgTQmFxryNCW5KnEakCddFt44G24vJ5Umlw6rSfJZ2Z9WeG2wM89ihgzF8LhtAWtDKAPiyhpdVVme/38MR\u002BszYFHRwxe5reIO1ZR[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-86a67a6d-9830-9d49-4c60-8d256d2dfaad/test-blob-356674c2-84c6-fc46-fa2f-da7a9cbd76b6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:49 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D373F6F1893D\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:43:49 GMT",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:43:49.0649405Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-86a67a6d-9830-9d49-4c60-8d256d2dfaad/test-blob-356674c2-84c6-fc46-fa2f-da7a9cbd76b6?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-86a67a6d-9830-9d49-4c60-8d256d2dfaad/test-\u03B2\u00A3\u00A9\u00FE\u203D%253A-73643c77-54a3-b5b6-89c1-b0933d9d1ca2",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:49 GMT",
        "x-ms-source-range": "bytes=0-1023",
         "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "FZGch2b7cl4I9Rs/RnH2og==",
        "ETag": "\u00220x8D8D373F7038DE9\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:43:49 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-86a67a6d-9830-9d49-4c60-8d256d2dfaad?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:49 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1735145228",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}