{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-d8656de4-bd31-2ff7-44d4-6476f7ba9eb0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 20:50:13 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C146CDC7953B\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:50:14 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-d8656de4-bd31-2ff7-44d4-6476f7ba9eb0/test-blob-622599e7-a9f2-8d73-5983-1f4b034d8fdf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 05 Mar 2020 20:50:14 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C146CDD4B135\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:50:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-d8656de4-bd31-2ff7-44d4-6476f7ba9eb0/test-blob-622599e7-a9f2-8d73-5983-1f4b034d8fdf?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "yOjfiVwsrhZrrQJ/3xUzWw==",
        "x-ms-date": "Thu, 05 Mar 2020 20:50:14 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "KrmFBjlyTs1cXVhVaibPqswneY6JiJ9O1UO6vu1L\u002B1r04CEEKbC9Xyf1quE5\u002BNq\u002BZ4EkpDYZ1KEZNzD2uI/fEGL\u002BYIkEy4EbahlmlN69FNxo/FZsJ1Yj2wuA6vF/xqeXFpl/OphRuZz/CDocskDCXCJTjrs4c\u002BkL2oV9hOCPm6Nxz31FPtlEFkO5bB4cBijLvY7PLDfsXqKvdGAT1DS8b22Wq\u002BPCfB5ID3h4fwbL7tNcssdSwG9rhXDblsl5MUEO/f2whVtECEBvhhy/dN\u002Bc5IWMtiJtaa/9KyZy5\u002BZUzt02aYEJGmh4G[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-d8656de4-bd31-2ff7-44d4-6476f7ba9eb0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 20:50:14 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1630421808",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}