{
  "Entries": [
    {
      "RequestUri": "http://jamesschreppler.blob.core.windows.net/test-container-23ef7389-6d95-b298-317c-ad797d1c927a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 Jun 2020 20:30:01 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D80CB3E2FC8DBE\u0022",
        "Last-Modified": "Tue, 09 Jun 2020 20:30:01 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://jamesschreppler.blob.core.windows.net/test-container-23ef7389-6d95-b298-317c-ad797d1c927a?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 Jun 2020 20:30:01 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "\u003CSignedIdentifiers /\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D80CB3E303DE7B\u0022",
        "Last-Modified": "Tue, 09 Jun 2020 20:30:02 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://jamesschreppler.blob.core.windows.net/test-container-23ef7389-6d95-b298-317c-ad797d1c927a/test-\u03B2\u00A3\u00A9\u00FE\u203D%253A-086f7ebb-6441-ac24-63e9-b1c371ae9ed6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 09 Jun 2020 20:30:01 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D80CB3E309C259\u0022",
        "Last-Modified": "Tue, 09 Jun 2020 20:30:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://jamesschreppler.blob.core.windows.net/test-container-23ef7389-6d95-b298-317c-ad797d1c927a/test-\u03B2\u00A3\u00A9\u00FE\u203D%253A-086f7ebb-6441-ac24-63e9-b1c371ae9ed6?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Jun 2020 20:30:01 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "oS7WFgWcqnmXM9tAEYYA7JnPcZ1AyWBXW2sc6GjJH/WJJs3CejDaHq8fJLk9t86[...]
    {
      "RequestUri": "http://jamesschreppler.blob.core.windows.net/test-container-23ef7389-6d95-b298-317c-ad797d1c927a/test-blob-d7145833-1300-9ec3-26a5-79b48b70a8a9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 09 Jun 2020 20:30:01 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D80CB3E3170B38\u0022",
        "Last-Modified": "Tue, 09 Jun 2020 20:30:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://jamesschreppler.blob.core.windows.net/test-container-23ef7389-6d95-b298-317c-ad797d1c927a/test-blob-d7145833-1300-9ec3-26a5-79b48b70a8a9?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://jamesschreppler.blob.core.windows.net/test-container-23ef7389-6d95-b298-317c-ad797d1c927a/test-\u03B2\u00A3\u00A9\u00FE\u203D%253A-086f7ebb-6441-ac24-63e9-b1c371ae9ed6",
        "x-ms-date": "Tue, 09 Jun 2020 20:30:01 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "HBJGXUuTFDuklJB\u002BO41HPA==",
        "ETag": "\u00220x8D80CB3E31E3873\u0022",
        "Last-Modified": "Tue, 09 Jun 2020 20:30:02 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://jamesschreppler.blob.core.windows.net/test-container-23ef7389-6d95-b298-317c-ad797d1c927a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Jun 2020 20:30:01 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2066111949",
    "Storage_TestConfigDefault": "ProductionTenant\njamesschreppler\nU2FuaXRpemVk\nhttp://jamesschreppler.blob.core.windows.net\nhttp://jamesschreppler.file.core.windows.net\nhttp://jamesschreppler.queue.core.windows.net\nhttp://jamesschreppler.table.core.windows.net\n\n\n\n\nhttp://jamesschreppler-secondary.blob.core.windows.net\nhttp://jamesschreppler-secondary.file.core.windows.net\nhttp://jamesschreppler-secondary.queue.core.windows.net\nhttp://jamesschreppler-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://jamesschreppler.blob.core.windows.net/;QueueEndpoint=http://jamesschreppler.queue.core.windows.net/;FileEndpoint=http://jamesschreppler.file.core.windows.net/;BlobSecondaryEndpoint=http://jamesschreppler-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://jamesschreppler-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://jamesschreppler-secondary.file.core.windows.net/;AccountName=jamesschreppler;AccountKey=Sanitized\n"
  }
}