{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-2e82169e-d0a1-7386-51dd-e2c0babafac0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sun, 30 Jun 2019 20:20:13 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FD985DB83867\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 20:20:16 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-2e82169e-d0a1-7386-51dd-e2c0babafac0/test-blob-a0940fe6-b196-6fbb-9baa-21ac918f2819",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Sun, 30 Jun 2019 20:20:14 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FD985DC76A68\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 20:20:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-2e82169e-d0a1-7386-51dd-e2c0babafac0/test-blob-a0940fe6-b196-6fbb-9baa-21ac918f2819?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 30 Jun 2019 20:20:14 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "DWnZqyVZKQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "rXfBWrHYaQiw2Rcnv9jmDw==",
        "ETag": "\u00220x8D6FD985DD0E29C\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 20:20:17 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-28964fae-a260-add6-a54e-c138bd4ea523/test-blob-dae989a3-615e-0aaa-3452-73283f2a7766?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Sat, 29 Jun 2019 20:20:13 GMT",
        "x-ms-date": "Sun, 30 Jun 2019 20:20:14 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "pIiVNGXKxQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "x59IuIWQyI1LOzAz1XvFWg==",
        "ETag": "\u00220x8D6FD985DEC87B5\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 20:20:17 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-14f91f6a-7167-a1f8-1280-df284666d438/test-blob-dab3791c-cc2f-5447-c3d9-2bf213f90249?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Mon, 01 Jul 2019 20:20:13 GMT",
        "x-ms-date": "Sun, 30 Jun 2019 20:20:14 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "y\u002bQMzbP6CQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Y\u002bgi5kD5NcjyP5CZCKF5og==",
        "ETag": "\u00220x8D6FD985E017468\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 20:20:17 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-4ccbd1b4-164a-7a07-6baf-ebbb440608c8/test-blob-0eecdb9f-8979-39ea-5a5b-a2b55dfc5914",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 30 Jun 2019 20:20:14 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D6FD985E168833\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 20:20:17 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Sun, 30 Jun 2019 20:20:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-4ccbd1b4-164a-7a07-6baf-ebbb440608c8/test-blob-0eecdb9f-8979-39ea-5a5b-a2b55dfc5914?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D6FD985E168833\u0022",
        "x-ms-date": "Sun, 30 Jun 2019 20:20:14 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "wkEbaRr6Tg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "dUOClavj9nFWMCcJDaKk3Q==",
        "ETag": "\u00220x8D6FD985E21AE81\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 20:20:17 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-4645c756-18f6-56f3-48c5-9f5dd9fb33fb/test-blob-549c48da-a99b-d603-146e-71e918d9a542?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Sun, 30 Jun 2019 20:20:14 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "AuGCkF/eYA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mCG6TWRq9\u002bSxsl9HoEf4\u002bQ==",
        "ETag": "\u00220x8D6FD985E36C251\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 20:20:17 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-e86a39bb-93ff-620d-1c20-48521573ef79/test-blob-ac367dea-6bd2-e350-5896-3a54055f4b3a?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 30 Jun 2019 20:20:15 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "d2294143-4cd0-9796-75c2-e89444c32a72",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FD985E467D98\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 20:20:17 GMT",
        "x-ms-lease-id": "d2294143-4cd0-9796-75c2-e89444c32a72",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-a82feb0f-c6cf-e852-551a-a6cfba2feb4c/test-blob-9b1f2018-ef0c-5f8f-c77f-41203fd130b3?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-condition-appendpos": "0",
        "x-ms-date": "Sun, 30 Jun 2019 20:20:15 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "ZYG3mhBPQA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "i7byDf6S2F0bO/bzhVZGYw==",
        "ETag": "\u00220x8D6FD985E711A7E\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 20:20:18 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-4fc2bd7a-2337-1add-886f-85ec77464c1e/test-blob-11262a43-ebde-3736-5410-e9edbbdca299?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-condition-maxsize": "100",
        "x-ms-date": "Sun, 30 Jun 2019 20:20:15 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "7HapTB86Pw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "OA8ghgwIJ5q4/VJ2eQS2tA==",
        "ETag": "\u00220x8D6FD985E80AEB1\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 20:20:18 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-4fc2bd7a-2337-1add-886f-85ec77464c1e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 30 Jun 2019 20:20:15 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-06-30T13:20:13.6386575-07:00",
    "RandomSeed": "361775169"
  }
}