{
  "Entries": [
    {
      "RequestUri": "https://camaiaor.blob.core.windows.net/test-container-dfd953c2-965d-a432-8b3b-87a709bc893e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 15 Oct 2021 18:55:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9900D5360FF09\u0022",
        "Last-Modified": "Fri, 15 Oct 2021 18:55:15 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor.blob.core.windows.net/test-container-dfd953c2-965d-a432-8b3b-87a709bc893e?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 15 Oct 2021 18:55:15 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9900D5385DFD9\u0022",
        "Last-Modified": "Fri, 15 Oct 2021 18:55:15 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor.blob.core.windows.net/test-container-dfd953c2-965d-a432-8b3b-87a709bc893e/test-blob-945e43fe-fe5d-9fb9-ca2c-f93e17339e57",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 15 Oct 2021 18:55:15 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9900D53926D1F\u0022",
        "Last-Modified": "Fri, 15 Oct 2021 18:55:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-15T18:55:16.0715551Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor.blob.core.windows.net/test-container-dfd953c2-965d-a432-8b3b-87a709bc893e/test-blob-945e43fe-fe5d-9fb9-ca2c-f93e17339e57?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 15 Oct 2021 18:55:16 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "HwMB96d7Hy5GqghCxIwcfwO\u002BudSESE6T3Vp7W7uJWQCSzZl8ZnQXhEiF9RksIQS2iIr4NpIw6Ne1bRlN/8RyvVAIsPfznxmPpzWM/1I0Z7xVxdIxkCJtYeTBx/hayYWDEjfII3ENw\u002BhxaY9dpOmEgAVd9zrxQS0umk4SMdggNd2vCewba0RLSAHqvyeTD737PEbz/NJKkdEJmoki\u002BpEQUDOxrZr9aRXBEq44B4EGm4qRF/WRLTgLZXcbEdG7KE5w2W/z4WIi/tMxMeojEYpPA//\u002BkeKcfiP6pkgj4VdDBulgyC4SErkobhghYPtO51Ttyw7SvJdr0[...]
    {
      "RequestUri": "https://camaiaor.blob.core.windows.net/test-container-dfd953c2-965d-a432-8b3b-87a709bc893e/test-blob-0d19a355-bee9-a366-4a97-a88c3cb77e6c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 15 Oct 2021 18:55:16 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "wsYaGKG4j4wdZM/bX7QBIaN4RKYwlai5bpS/WlphLao=",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9900D53C15E9A\u0022",
        "Last-Modified": "Fri, 15 Oct 2021 18:55:16 GMT",
        "x-ms-encryption-key-sha256": "wsYaGKG4j4wdZM/bX7QBIaN4RKYwlai5bpS/WlphLao=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-15T18:55:16.3792026Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor.blob.core.windows.net/test-container-dfd953c2-965d-a432-8b3b-87a709bc893e/test-blob-0d19a355-bee9-a366-4a97-a88c3cb77e6c?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://camaiaor.blob.core.windows.net/test-container-dfd953c2-965d-a432-8b3b-87a709bc893e/test-blob-945e43fe-fe5d-9fb9-ca2c-f93e17339e57",
        "x-ms-date": "Fri, 15 Oct 2021 18:55:16 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "wsYaGKG4j4wdZM/bX7QBIaN4RKYwlai5bpS/WlphLao=",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "tFcPSd8iHZZokrCiTlxCgQ==",
        "ETag": "\u00220x8D9900D53DC9041\u0022",
        "Last-Modified": "Fri, 15 Oct 2021 18:55:16 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-encryption-key-sha256": "wsYaGKG4j4wdZM/bX7QBIaN4RKYwlai5bpS/WlphLao=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor.blob.core.windows.net/test-container-dfd953c2-965d-a432-8b3b-87a709bc893e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 15 Oct 2021 18:55:16 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "827365537",
    "Storage_TestConfigDefault": "ProductionTenant\ncamaiaor\nU2FuaXRpemVk\nhttps://camaiaor.blob.core.windows.net\nhttps://camaiaor.file.core.windows.net\nhttps://camaiaor.queue.core.windows.net\nhttps://camaiaor.table.core.windows.net\n\n\n\n\nhttps://camaiaor-secondary.blob.core.windows.net\nhttps://camaiaor-secondary.file.core.windows.net\nhttps://camaiaor-secondary.queue.core.windows.net\nhttps://camaiaor-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://camaiaor.blob.core.windows.net/;QueueEndpoint=https://camaiaor.queue.core.windows.net/;FileEndpoint=https://camaiaor.file.core.windows.net/;BlobSecondaryEndpoint=https://camaiaor-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://camaiaor-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://camaiaor-secondary.file.core.windows.net/;AccountName=camaiaor;AccountKey=Kg==;\nsdktest\n\n"
  }
}