{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-8bd3c997-9876-3321-5dd5-358d51d2b24f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 24 Jun 2019 23:40:55 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F8FD66E844D5\u0022",
        "Last-Modified": "Mon, 24 Jun 2019 23:40:55 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-8bd3c997-9876-3321-5dd5-358d51d2b24f?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 24 Jun 2019 23:40:55 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "\u003cSignedIdentifiers /\u003e",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F8FD66EC58A2\u0022",
        "Last-Modified": "Mon, 24 Jun 2019 23:40:55 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-8bd3c997-9876-3321-5dd5-358d51d2b24f/test-blob-bc6d0f0a-8485-13a1-58b0-b2adfb534f89",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 24 Jun 2019 23:40:55 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F8FD66F03E48\u0022",
        "Last-Modified": "Mon, 24 Jun 2019 23:40:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-8bd3c997-9876-3321-5dd5-358d51d2b24f/test-blob-bc6d0f0a-8485-13a1-58b0-b2adfb534f89?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 Jun 2019 23:40:55 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "zGKL5LAyzg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "MJd/uNTOxArhmdcK3KERwg==",
        "ETag": "\u00220x8D6F8FD66F261A9\u0022",
        "Last-Modified": "Mon, 24 Jun 2019 23:40:55 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-8bd3c997-9876-3321-5dd5-358d51d2b24f/test-blob-d0d7d87c-c158-4dab-22be-69686eee55dd?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-8bd3c997-9876-3321-5dd5-358d51d2b24f/test-blob-bc6d0f0a-8485-13a1-58b0-b2adfb534f89",
        "x-ms-date": "Mon, 24 Jun 2019 23:40:55 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "MJd/uNTOxArhmdcK3KERwg==",
        "ETag": "\u00220x8D6F8FD6737B8DC\u0022",
        "Last-Modified": "Mon, 24 Jun 2019 23:40:56 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-0423e413-70b7-003b-6513-96b7cd968d33/test-blob-e04c1349-13e4-c4b2-3734-e0fa062b8f15?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Sun, 23 Jun 2019 23:40:55 GMT",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-0423e413-70b7-003b-6513-96b7cd968d33/test-blob-67442f8c-3300-7084-cdf6-459aef0f149a",
        "x-ms-date": "Mon, 24 Jun 2019 23:40:56 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "l3yXcvboFsx8VZQD20V1Mg==",
        "ETag": "\u00220x8D6F8FD674C302D\u0022",
        "Last-Modified": "Mon, 24 Jun 2019 23:40:56 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-dbb7d3ac-c11b-73a9-bc30-3edfb82664d5/test-blob-b08ba74a-2833-4faf-677f-6bbf67ae8615?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Tue, 25 Jun 2019 23:40:55 GMT",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-dbb7d3ac-c11b-73a9-bc30-3edfb82664d5/test-blob-9df8669f-c08a-d1fe-2127-b297aab210b0",
        "x-ms-date": "Mon, 24 Jun 2019 23:40:56 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "TiK7V/HPxqyCpWxj3MSdtg==",
        "ETag": "\u00220x8D6F8FD675CFD24\u0022",
        "Last-Modified": "Mon, 24 Jun 2019 23:40:56 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-010eaf98-e3a9-8595-8914-e5599dd75bdc/test-blob-47ec0ac8-2fb3-ec94-bd47-1f772f6f52e3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 Jun 2019 23:40:56 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D6F8FD67690DFB\u0022",
        "Last-Modified": "Mon, 24 Jun 2019 23:40:56 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 24 Jun 2019 23:40:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-010eaf98-e3a9-8595-8914-e5599dd75bdc/test-blob-47ec0ac8-2fb3-ec94-bd47-1f772f6f52e3?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D6F8FD67690DFB\u0022",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-010eaf98-e3a9-8595-8914-e5599dd75bdc/test-blob-b2892640-63cb-9526-be78-2270c7c2eda1",
        "x-ms-date": "Mon, 24 Jun 2019 23:40:56 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "oLwCD4gUlx4vk7Hh291S3A==",
        "ETag": "\u00220x8D6F8FD676EB4AF\u0022",
        "Last-Modified": "Mon, 24 Jun 2019 23:40:56 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-a9a31934-f077-02ee-0dcb-1ef8b73a92eb/test-blob-7d2ccb23-c83c-3711-181a-c7bbc09e8bdd?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-a9a31934-f077-02ee-0dcb-1ef8b73a92eb/test-blob-3ae13e7a-39b2-a43c-76c4-890a292df079",
        "x-ms-date": "Mon, 24 Jun 2019 23:40:56 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "NmYJaIV2K\u002bdAuJP5uT5DrA==",
        "ETag": "\u00220x8D6F8FD67828F9B\u0022",
        "Last-Modified": "Mon, 24 Jun 2019 23:40:56 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-586844c5-3f23-4970-27df-dd3f4371a129/test-blob-56869803-6539-9926-fd63-a5aedef6e1d4?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 Jun 2019 23:40:56 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "0f5f4519-b6ee-2f3e-eb70-5108dcfdbf63",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F8FD67933577\u0022",
        "Last-Modified": "Mon, 24 Jun 2019 23:40:56 GMT",
        "x-ms-lease-id": "0f5f4519-b6ee-2f3e-eb70-5108dcfdbf63",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-98f7ee1f-2668-21cc-0be8-3506d0b48f7c/test-blob-6275a2c2-87f7-7992-b9d7-dcac1f4c9bfd?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-condition-appendpos": "0",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-98f7ee1f-2668-21cc-0be8-3506d0b48f7c/test-blob-9af90926-d83d-d8f4-efea-fbd1108d6c6a",
        "x-ms-date": "Mon, 24 Jun 2019 23:40:56 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "TSm4tDeAR\u002btPpxRMpOXJqg==",
        "ETag": "\u00220x8D6F8FD67AAE1E1\u0022",
        "Last-Modified": "Mon, 24 Jun 2019 23:40:56 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6fa68c97-0167-7a80-6171-8f05f30eeb73/test-blob-ad136225-22de-bfce-2e95-7bf6b2d62ee8?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-condition-maxsize": "100",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-6fa68c97-0167-7a80-6171-8f05f30eeb73/test-blob-3b23cd04-b8f1-da17-1cc2-f3a6a8640291",
        "x-ms-date": "Mon, 24 Jun 2019 23:40:57 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "pYl\u002bbxHtjciSr6\u002bIFjotZg==",
        "ETag": "\u00220x8D6F8FD67C686E8\u0022",
        "Last-Modified": "Mon, 24 Jun 2019 23:40:57 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-8ace8b07-e4bb-44c8-8676-15d7f9a9f04d/test-blob-4b7ff7b5-8dfd-7f2d-29f7-c24656a64ff4?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-8ace8b07-e4bb-44c8-8676-15d7f9a9f04d/test-blob-8280ec2d-2ade-e902-9c43-0b9bf688b4c8",
        "x-ms-date": "Mon, 24 Jun 2019 23:40:57 GMT",
        "x-ms-source-if-modified-since": "Sun, 23 Jun 2019 23:40:55 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "6EgDHSAZAes\u002bx0JSh9ugkA==",
        "ETag": "\u00220x8D6F8FD67D7F040\u0022",
        "Last-Modified": "Mon, 24 Jun 2019 23:40:57 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-defcaf28-ac00-14cc-0967-cc1e3db8d6c4/test-blob-9a04004d-2b21-0acd-76a6-2c6b47e6cf6a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-defcaf28-ac00-14cc-0967-cc1e3db8d6c4/test-blob-30b50e87-3cac-19b9-8f51-d40b16d5f1b1",
        "x-ms-date": "Mon, 24 Jun 2019 23:40:57 GMT",
        "x-ms-source-if-unmodified-since": "Tue, 25 Jun 2019 23:40:55 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "CXvx4pFKkoRHwEIyrGJ2XQ==",
        "ETag": "\u00220x8D6F8FD67E7AB80\u0022",
        "Last-Modified": "Mon, 24 Jun 2019 23:40:57 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-f729c8f9-8660-3f4a-28cc-6228ba9b1840/test-blob-7b3db1f2-85ea-d8d3-90b7-b5355fa6606d?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-f729c8f9-8660-3f4a-28cc-6228ba9b1840/test-blob-d40d2dc2-ea0e-2111-df4f-87f9f2dddbac",
        "x-ms-date": "Mon, 24 Jun 2019 23:40:57 GMT",
        "x-ms-source-if-match": "\u00220x8D6F8FD67F2D1C4\u0022",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "TjytsfcdtD/VK9CkRpphBg==",
        "ETag": "\u00220x8D6F8FD67FA74BE\u0022",
        "Last-Modified": "Mon, 24 Jun 2019 23:40:57 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-7b49e9a7-0230-6d38-0352-845a4976d1f0/test-blob-fe1186d2-8f95-3679-d0bd-cd8a76701ad3?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-7b49e9a7-0230-6d38-0352-845a4976d1f0/test-blob-b59cef6c-9e7d-aa48-6f78-5064031e47ac",
        "x-ms-date": "Mon, 24 Jun 2019 23:40:57 GMT",
        "x-ms-source-if-none-match": "\u0022garbage\u0022",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "dV4yHI60xOhOEFY0Tdg25g==",
        "ETag": "\u00220x8D6F8FD680C2C45\u0022",
        "Last-Modified": "Mon, 24 Jun 2019 23:40:57 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-7b49e9a7-0230-6d38-0352-845a4976d1f0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 Jun 2019 23:40:57 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-06-24T16:40:55.6402443-07:00",
    "RandomSeed": "1546304614"
  }
}