{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-d987ea6d-3a78-d17e-b5ee-68fa4aadb9e9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 17 Jun 2019 20:55:46 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F3662BBF0521\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:55:46 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-d987ea6d-3a78-d17e-b5ee-68fa4aadb9e9?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 17 Jun 2019 20:55:46 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "\u003cSignedIdentifiers /\u003e",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F3662BC21A3E\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:55:46 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-d987ea6d-3a78-d17e-b5ee-68fa4aadb9e9/test-blob-5c6a1ba4-7962-dc46-7ba8-e3e9ca61dab8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 17 Jun 2019 20:55:46 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F3662BC4D01A\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:55:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-d987ea6d-3a78-d17e-b5ee-68fa4aadb9e9/test-blob-5c6a1ba4-7962-dc46-7ba8-e3e9ca61dab8?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:55:46 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "uAJFvtKxOuV1pih3ZsEz2u0fSaAKqH9g8sAGMfiqWnELpASblUJ2/2\u002b9m8M3Ei6pGLTcZ/VUJA\u002bC5c[...]
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-d987ea6d-3a78-d17e-b5ee-68fa4aadb9e9/test-blob-c53e4e30-c5f1-8dcd-80f6-75820697e7e5?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-d987ea6d-3a78-d17e-b5ee-68fa4aadb9e9/test-blob-5c6a1ba4-7962-dc46-7ba8-e3e9ca61dab8",
        "x-ms-date": "Mon, 17 Jun 2019 20:55:46 GMT",
        "x-ms-source-content-md5": "vERGe00fT8XW4VLrNIxX7A==",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "vERGe00fT8XW4VLrNIxX7A==",
        "ETag": "\u00220x8D6F3662BCE9679\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:55:46 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-d987ea6d-3a78-d17e-b5ee-68fa4aadb9e9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:55:46 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "55386280"
  }
}