{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-80973bc5-9bc6-b912-3af5-e5980db78dd4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 03:34:20 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEB021660B2\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:34:20 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-80973bc5-9bc6-b912-3af5-e5980db78dd4?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 03:34:20 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "\u003CSignedIdentifiers /\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEB0222A7AE\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:34:20 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-80973bc5-9bc6-b912-3af5-e5980db78dd4/test-blob-566d0ed9-ec26-34c3-3dba-17feb9fbdadc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 11 Dec 2019 03:34:20 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEB022E92BA\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:34:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-80973bc5-9bc6-b912-3af5-e5980db78dd4/test-blob-566d0ed9-ec26-34c3-3dba-17feb9fbdadc?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:34:20 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "eb/0pKdncp/uCUjwJ1qPqrQ1t5mjeoe9unZo3xjIucKTjw2jM3Qmxdt2XOfwUSWetR5VzpJ0\u002BP44Nukw/5KGJlCGXJd[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-80973bc5-9bc6-b912-3af5-e5980db78dd4/test-blob-587a55d0-09ed-fdbe-f0a1-c56d7420a099",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 11 Dec 2019 03:34:20 GMT",
        "x-ms-encryption-scope": "seanscope1",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEB024723C2\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:34:20 GMT",
        "x-ms-encryption-scope": "seanscope1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-80973bc5-9bc6-b912-3af5-e5980db78dd4/test-blob-587a55d0-09ed-fdbe-f0a1-c56d7420a099?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://seanstagetest.blob.core.windows.net/test-container-80973bc5-9bc6-b912-3af5-e5980db78dd4/test-blob-566d0ed9-ec26-34c3-3dba-17feb9fbdadc",
        "x-ms-date": "Wed, 11 Dec 2019 03:34:20 GMT",
        "x-ms-encryption-scope": "seanscope1",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "3ffCi1nnJdKTvYxQksHCEQ==",
        "ETag": "\u00220x8D77DEB02550676\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:34:20 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-encryption-scope": "seanscope1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-80973bc5-9bc6-b912-3af5-e5980db78dd4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:34:20 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1264646915",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}