{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-48fa38ad-2f2f-47ec-0762-c62355ec61fd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:16 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D373E3A6DEB1\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:43:16 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-48fa38ad-2f2f-47ec-0762-c62355ec61fd/test-blob-c4fd8754-feba-9d52-2041-6f99a0d2ae47",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:16 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D373E3B27452\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:43:16 GMT",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:43:16.7748178Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-48fa38ad-2f2f-47ec-0762-c62355ec61fd/test-blob-c4fd8754-feba-9d52-2041-6f99a0d2ae47?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "yOjfiVwsrhZrrQJ/3xUzWw==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:16 GMT"
      },
      "RequestBody": "pPXM8xWQ1k80F9f\u002BXDXKOG08KGsMnIUn1vomtsnpTeVCJHndHOEd4F923apjHDk5AQP8W98OcQhvpBwbah\u002BFS8nxuze87RyLH0gLlb/axLnB7LXG7PIGM7JwbXfEAXVA8ZHhcmEBfRPmcDyWA9tJlOBjWn5pvl7X64iFS3\u002Bkxx3SyqQt\u002BVJYwG\u002Bi33y2bzDWJ9iXYaf31zMyCobYezGTQqgexDk3G5uOCpkOx97iIXtXryOnDGV22/Nx\u002B\u002B7Lf0Q9Dp3Tl6v3ngw8CVcN6BBUT\u002BkLgMwO7DVDp\u002BlFxh\u002BtwopV0bhBD4nQYBAWagMOaPLjHKsFv/54LiFnkO/Bs[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-48fa38ad-2f2f-47ec-0762-c62355ec61fd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:17 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "823260430",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}