{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-40668e23-592a-b71f-b06e-39e08bdfa406?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:15 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D373E2D73AA7\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:43:15 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-40668e23-592a-b71f-b06e-39e08bdfa406/test-blob-b3fbc539-b35c-e7e9-b39d-4995648d84ca",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:15 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D373E2E11B5E\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:43:15 GMT",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:43:15.4028382Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-40668e23-592a-b71f-b06e-39e08bdfa406/test-blob-b3fbc539-b35c-e7e9-b39d-4995648d84ca?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:15 GMT",
        "x-ms-if-tags": "\u0022coolTag\u0022 = \u0027true\u0027"
      },
      "RequestBody": "xkeU\u002B/Pt\u002ByX9sJpEFay9VyMVc0EzGN8cyXJpuDUmwDioEnbhx39ANCYzbjo0RUdvYoZ9dW0tWK5odzKBg0Pv1/BimwM225Ck1T4aAKml6IMq\u002BVWvqUrKe7nHeVBNv7HjQ5dK0apEOYb22KAvElgFwo6uVortQC6llyBJb2E/VxWNN7wRWxfZ5sDPudCpm2hhwbbCnmgn9gNopDqK\u002BsoktoGLoduc82d31W/JHoZe/Pu3562rfbisZkC4qLbdT\u002Bz2qgNOHvmNxc1PS8n4Xdh9Cqg\u002B0hIceTjJ3jua40qwmYWD03ODEN0BKSHfWzLvtAhoO54OnnzZ2THKhUC\u002B8\u002BKDnrFDdYlk\u002BvrLPKnxPB0F2SozMaisovsJqvlCuIqcQz[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-40668e23-592a-b71f-b06e-39e08bdfa406?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:43:15 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1380514560",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}