{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-dfd953c2-965d-a432-8b3b-87a709bc893e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:42:11 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D373BD2E5C46\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:42:12 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-dfd953c2-965d-a432-8b3b-87a709bc893e?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:42:12 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D373BD3839B2\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:42:12 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-dfd953c2-965d-a432-8b3b-87a709bc893e/test-blob-945e43fe-fe5d-9fb9-ca2c-f93e17339e57",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:42:12 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D373BD4341A5\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:42:12 GMT",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:42:12.2926501Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-dfd953c2-965d-a432-8b3b-87a709bc893e/test-blob-945e43fe-fe5d-9fb9-ca2c-f93e17339e57?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 17 Feb 2021 18:42:12 GMT"
      },
      "RequestBody": "HwMB96d7Hy5GqghCxIwcfwO\u002BudSESE6T3Vp7W7uJWQCSzZl8ZnQXhEiF9RksIQS2iIr4NpIw6Ne1bRlN/8RyvVAIsPfznxmPpzWM/1I0Z7xVxdIxkCJtYeTBx/hayYWDEjfII3ENw\u002BhxaY9dpOmEgAVd9zrxQS0umk4SMdggNd2vCewba0RLSAHqvyeTD737PEbz/NJKkdEJmoki\u002BpEQUDOxrZr9aRXBEq44B4EGm4qRF/WRLTgLZXcbEdG7KE5w2W/z4WIi/tMxMeojEYpPA//\u002BkeKcfiP6pkgj4VdDBulgyC4SErkobhghYPtO51Ttyw7SvJdr01pL\u002BDsa/hx77SsBw0hbPPBF1SLJeh4nrL[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-dfd953c2-965d-a432-8b3b-87a709bc893e/test-blob-0d19a355-bee9-a366-4a97-a88c3cb77e6c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:42:12 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "XgHEv464YGl0lwyfhz7TAzVh1D2lI\u002BLHsFHbgs9gQSM=",
        "x-ms-encryption-key-sha256": "wsYaGKG4j4wdZM/bX7QBIaN4RKYwlai5bpS/WlphLao="
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D373BD593EB0\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:42:12 GMT",
        "x-ms-encryption-key-sha256": "wsYaGKG4j4wdZM/bX7QBIaN4RKYwlai5bpS/WlphLao=",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:42:12.4367536Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-dfd953c2-965d-a432-8b3b-87a709bc893e/test-blob-0d19a355-bee9-a366-4a97-a88c3cb77e6c?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-dfd953c2-965d-a432-8b3b-87a709bc893e/test-blob-945e43fe-fe5d-9fb9-ca2c-f93e17339e57",
        "x-ms-date": "Wed, 17 Feb 2021 18:42:12 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "XgHEv464YGl0lwyfhz7TAzVh1D2lI\u002BLHsFHbgs9gQSM=",
        "x-ms-encryption-key-sha256": "wsYaGKG4j4wdZM/bX7QBIaN4RKYwlai5bpS/WlphLao=",
        "x-ms-source-range": "bytes=0-1023",
         "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "tFcPSd8iHZZokrCiTlxCgQ==",
        "ETag": "\u00220x8D8D373BD75A589\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:42:12 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-encryption-key-sha256": "wsYaGKG4j4wdZM/bX7QBIaN4RKYwlai5bpS/WlphLao=",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-dfd953c2-965d-a432-8b3b-87a709bc893e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:42:12 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "827365537",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}