{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-edfd1d65-3892-6120-fda4-c64fafb86e64?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 20:51:02 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C146EA826BAC\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:51:02 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-edfd1d65-3892-6120-fda4-c64fafb86e64?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 20:51:02 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "\u003CSignedIdentifiers /\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C146EA8FC48A\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:51:02 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-edfd1d65-3892-6120-fda4-c64fafb86e64/test-blob-eb4dcb62-b6fc-1377-6892-ea10228c8bb3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 05 Mar 2020 20:51:02 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C146EA9CA8B4\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:51:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-edfd1d65-3892-6120-fda4-c64fafb86e64/test-blob-eb4dcb62-b6fc-1377-6892-ea10228c8bb3?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 20:51:02 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "b451jC\u002Bk9qeotPgIn6GzuHOZGUua3PlgdtZ2YRCgjtiBdhQqze0QWU5RGEMP2xbpdeUz5Xyq15KUFBZYLpWXCCYghy[...]
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-edfd1d65-3892-6120-fda4-c64fafb86e64/test-blob-a85c5212-65e1-e9fd-e13a-b6c00bb0bd77?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanstagetest.blob.core.windows.net/test-container-edfd1d65-3892-6120-fda4-c64fafb86e64/test-blob-eb4dcb62-b6fc-1377-6892-ea10228c8bb3",
        "x-ms-date": "Thu, 05 Mar 2020 20:51:02 GMT",
        "x-ms-source-content-md5": "M/hiLbymrBeSk9iBqHKpHw==",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "M/hiLbymrBeSk9iBqHKpHw==",
        "ETag": "\u00220x8D7C146EAD8042F\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:51:02 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-edfd1d65-3892-6120-fda4-c64fafb86e64?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 20:51:03 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "212218328",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}