{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1e8fdfb6-d2bc-4c16-1eb0-75ec6e616197?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 01:58:46 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E790520E7B\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 01:58:47 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1e8fdfb6-d2bc-4c16-1eb0-75ec6e616197/test-blob-a627ef90-9939-f474-5e3f-40cd88fdd0e7?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 17 Feb 2021 01:58:47 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "wrxoU/iEwnYwS5\u002BqEk/qCzZ3iYwPR4DqpnR\u002BlRd6F6RRyG6qaWXZDCywde35yuIPVDSWEHND2Hs8fq2EBi1ftjT6WEngP6HQnn1gXtGS8NuSbkDi4wcwDvDzbuu4VAX/Ub\u002B5/3KYLxWTxnH243qpqY3R8pfsfNMtyUlZ7NG1GEp3YAwS2fFp\u002BT8rTx2VOit2ScRe5mJuEtXrizUoP0JD3a0nf4Jtl8\u002BcaPlYwSy2mI8e4qIMVzHoCU42Jk28QLn853FvbbqpCLH1wX1oFlGoNfOlClyfN4V7P3Y0N3GC4Cc/W9m7RirUdNrwF5a0f/P9jfBaFjZdXLDr8y1EddFAcuFWKbp37e7I0JWBryDvx8CCNqmAJ8nx4v4pz1P8kP8JsKS0XVU4haAC[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1e8fdfb6-d2bc-4c16-1eb0-75ec6e616197?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 01:58:47 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1136490439",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}