{
  "Entries": [
    {
      "RequestUri": "https://seandevtest.blob.core.windows.net/test-container-86a67a6d-9830-9d49-4c60-8d256d2dfaad?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 10 Jun 2020 20:00:25 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D80D78EABE5075\u0022",
        "Last-Modified": "Wed, 10 Jun 2020 20:00:25 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seandevtest.blob.core.windows.net/test-container-86a67a6d-9830-9d49-4c60-8d256d2dfaad?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 10 Jun 2020 20:00:25 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u003CSignedIdentifiers /\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D80D78EACA9124\u0022",
        "Last-Modified": "Wed, 10 Jun 2020 20:00:25 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seandevtest.blob.core.windows.net/test-container-86a67a6d-9830-9d49-4c60-8d256d2dfaad/test-\u03B2\u00A3\u00A9\u00FE\u203D%253A-73643c77-54a3-b5b6-89c1-b0933d9d1ca2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 10 Jun 2020 20:00:25 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D80D78EAD5B3CC\u0022",
        "Last-Modified": "Wed, 10 Jun 2020 20:00:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seandevtest.blob.core.windows.net/test-container-86a67a6d-9830-9d49-4c60-8d256d2dfaad/test-\u03B2\u00A3\u00A9\u00FE\u203D%253A-73643c77-54a3-b5b6-89c1-b0933d9d1ca2?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Jun 2020 20:00:25 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "jdZQp6lom39DY55bkl5kzpRrplQqtLwKwXElVBIPT/\u002B5FEzw6fSOG/0K0NkVP[...]
    {
      "RequestUri": "https://seandevtest.blob.core.windows.net/test-container-86a67a6d-9830-9d49-4c60-8d256d2dfaad/test-blob-356674c2-84c6-fc46-fa2f-da7a9cbd76b6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 10 Jun 2020 20:00:25 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D80D78EAEE9734\u0022",
        "Last-Modified": "Wed, 10 Jun 2020 20:00:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seandevtest.blob.core.windows.net/test-container-86a67a6d-9830-9d49-4c60-8d256d2dfaad/test-blob-356674c2-84c6-fc46-fa2f-da7a9cbd76b6?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seandevtest.blob.core.windows.net/test-container-86a67a6d-9830-9d49-4c60-8d256d2dfaad/test-\u03B2\u00A3\u00A9\u00FE\u203D%253A-73643c77-54a3-b5b6-89c1-b0933d9d1ca2",
        "x-ms-date": "Wed, 10 Jun 2020 20:00:26 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D80D78EB046CEE\u0022",
        "Last-Modified": "Wed, 10 Jun 2020 20:00:26 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "LdxnOVdfVJ8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seandevtest.blob.core.windows.net/test-container-86a67a6d-9830-9d49-4c60-8d256d2dfaad?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Jun 2020 20:00:26 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1735145228",
    "Storage_TestConfigDefault": "ProductionTenant\nseandevtest\nU2FuaXRpemVk\nhttps://seandevtest.blob.core.windows.net\nhttps://seandevtest.file.core.windows.net\nhttps://seandevtest.queue.core.windows.net\nhttps://seandevtest.table.core.windows.net\n\n\n\n\nhttps://seandevtest-secondary.blob.core.windows.net\nhttps://seandevtest-secondary.file.core.windows.net\nhttps://seandevtest-secondary.queue.core.windows.net\nhttps://seandevtest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seandevtest.blob.core.windows.net/;QueueEndpoint=https://seandevtest.queue.core.windows.net/;FileEndpoint=https://seandevtest.file.core.windows.net/;BlobSecondaryEndpoint=https://seandevtest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seandevtest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seandevtest-secondary.file.core.windows.net/;AccountName=seandevtest;AccountKey=Sanitized\nseanscope1"
  }
}