{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-617dd613-4754-e034-6982-f0cd2a3c669c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 09 Jun 2022 23:16:10 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA4A6E0A84685D\u0022",
        "Last-Modified": "Thu, 09 Jun 2022 23:16:10 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-617dd613-4754-e034-6982-f0cd2a3c669c?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 09 Jun 2022 23:16:10 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA4A6E0A91D64E\u0022",
        "Last-Modified": "Thu, 09 Jun 2022 23:16:11 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-617dd613-4754-e034-6982-f0cd2a3c669c/test-blob-409077bb-c882-da40-ed9f-5459aa32e88b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 09 Jun 2022 23:16:10 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA4A6E0AA39B32\u0022",
        "Last-Modified": "Thu, 09 Jun 2022 23:16:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-06-09T23:16:11.1708738Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-617dd613-4754-e034-6982-f0cd2a3c669c/test-blob-409077bb-c882-da40-ed9f-5459aa32e88b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 09 Jun 2022 23:16:10 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "\u002BSfUisRViVOraZPHNNKAOSjTUyKyuqYYH80G7xQful58GbxkDIZts\u002B\u002BhPoTSXnJMfTZLVroQHj\u002BAvGr2Tpo/jK40SxsVGyyiZaAyEXsiRcFbunLe1GSka/p95FAbd2RVYrLVnhNWNmEJqfAZ3g3DXXepm5QoYLhKj\u002BAgmDfchu473a7JTaauBIMR1Sp0i4ztuYbZctvQLAH6ig4yNp4pLSMB3QFe\u002BhDQ\u002B5YRFouN1gRTMt\u002BwAxMSa7CszsKYe87k56gHcq2Lj752CHdFvxZ2bLQK3wO/eCkP7nJRsSxNOH/ILC/jhmRXy[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-617dd613-4754-e034-6982-f0cd2a3c669c/test-blob-7b28a3c7-6f0c-fe6b-43ea-fa116ffeb790?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-617dd613-4754-e034-6982-f0cd2a3c669c/test-blob-409077bb-c882-da40-ed9f-5459aa32e88b",
        "x-ms-date": "Thu, 09 Jun 2022 23:16:11 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "kUvQ1gGVLv0VX70TGtOOdw==",
        "ETag": "\u00220x8DA4A6E0ACE7593\u0022",
        "Last-Modified": "Thu, 09 Jun 2022 23:16:11 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-617dd613-4754-e034-6982-f0cd2a3c669c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 09 Jun 2022 23:16:11 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1714625593",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
