{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-5bfb29df-a14b-718f-2257-c59e8d31245c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:03 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1A5F6EBA3\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:52:03 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-5bfb29df-a14b-718f-2257-c59e8d31245c/test-blob-253b93be-fd8a-a142-97c7-abca2ad11bf1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:03 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1A5F98E28\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:52:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-5bfb29df-a14b-718f-2257-c59e8d31245c/test-blob-253b93be-fd8a-a142-97c7-abca2ad11bf1?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:03 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "0F/g\u002bfX/0U8imypY1dSZGo5U673o0tdNxNybUoyhRlrs7/rK8CH8ZgcukvNHdoq1nlYSB1Ed0/2IkzUZY3/[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-5bfb29df-a14b-718f-2257-c59e8d31245c/test-blob-253b93be-fd8a-a142-97c7-abca2ad11bf1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:03 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D706F1A5FC4DF9\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:52:03 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 12 Jul 2019 17:52:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "0F/g\u002bfX/0U8imypY1dSZGo5U673o0tdNxNybUoyhRlrs7/rK8CH8ZgcukvNHdoq1nlYSB1Ed0/2IkzUZY3/CgFTPbObZziltWIS1uj/kBk1S5rM2jz4Izhv9Ql3r4gKIaxGedwmk288spa/MZxm9o43oxn3LjPEWx53K3IzLgnWCLU4uRo5DrgrjCeqPO2YCP5/QAxyEvN8gh69s2f9DYSI6SjrLj1z\u002bpBhz54IHh4s2yJzt\u002b39Y/XFuDb7e19QKoKjHVPAsN7BC0V4DEdRcGAAkNRBjVWWj4U3JXIGdH81DaEfaQDKbCpHrqikgVeucEvW\u002buqLDp0tCI3KjY9ovpbKRwKmNgdjNiCt/d6o8g4xhLEmM3mUqf8D7mBy/96a2vAV3j5VCDpAc8DF2RC\u0[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-5bfb29df-a14b-718f-2257-c59e8d31245c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:03 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "867390813",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}