{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-bee7c1ff-2d99-881e-f7fc-e6e192e6df93?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:42:13 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D373BE6DF61B\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:42:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-bee7c1ff-2d99-881e-f7fc-e6e192e6df93?restype=container&comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:42:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D373BE7931D0\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:42:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-bee7c1ff-2d99-881e-f7fc-e6e192e6df93/test-blob-83e86990-f02f-7e49-b625-927e122fea13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:42:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D373BE85247C\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:42:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-02-17T18:42:14.4021628Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-bee7c1ff-2d99-881e-f7fc-e6e192e6df93/test-blob-83e86990-f02f-7e49-b625-927e122fea13?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 17 Feb 2021 18:42:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "4qN71qId0ysUOQ21+nPCs80ZiYIdMz+s+SQSyT1+eI6MNF0dOp91iOghL1AzjR2zy3fukXiL8a9jzt19CwnulsB+KcUVpHkuowCa/APveGsHX/7Fj+cWAEKtumvC+H3fMpiPtWRXnSb+wO148fWrc1VxdasKKQfZaCiDaOkNa6uDu8prX8MGsMHYx875ng5NAUcWUILR1AmQtkw71DU88FRC9DYrQBOSasTqMmE438oaNWai9xsosebA2ql3y9yMm9Z5tqnYIsEzg+W+56KnWNaBIZ7Pmvk5GkNPamVqGp/nXZeLvikhQRKkb3M1acpEGYLT9ak9vQHdP5xliLhcyWlF1okLG[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-bee7c1ff-2d99-881e-f7fc-e6e192e6df93/test-blob-b922f43f-2ca8-d50f-81d4-eb5efe94c20e?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Wed, 17 Feb 2021 18:42:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "﻿<Tags><TagSet><Tag><Key>coolTag</Key><Value>true</Value></Tag></TagSet></Tags>",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-bee7c1ff-2d99-881e-f7fc-e6e192e6df93/test-blob-b922f43f-2ca8-d50f-81d4-eb5efe94c20e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-bee7c1ff-2d99-881e-f7fc-e6e192e6df93/test-blob-83e86990-f02f-7e49-b625-927e122fea13",
        "x-ms-date": "Wed, 17 Feb 2021 18:42:15 GMT",
        "x-ms-if-tags": "\"coolTag\" = 'true'",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "6OWQp2NXN08ijILyV0Cy5A==",
        "ETag": "\"0x8D8D373BF80F0A6\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:42:16 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-bee7c1ff-2d99-881e-f7fc-e6e192e6df93?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:42:16 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1521225594",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}