{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-160bebad-c043-95c8-47a4-303abfe35e7b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:41:12 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D373997D0202\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:41:12 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-160bebad-c043-95c8-47a4-303abfe35e7b/test-blob-7e540231-29a6-c3c3-a589-4cf038a3cd36",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:41:12 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3739987EE0D\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:41:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T18:41:12.3447309Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-160bebad-c043-95c8-47a4-303abfe35e7b/test-blob-7e540231-29a6-c3c3-a589-4cf038a3cd36?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 17 Feb 2021 18:41:12 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "B0aI/\u002B4\u002BDLQyubRF1yhWCd/AW1qxCHkcJY8CGEKto\u002B\u002BUvJMmFKqdV9E\u002BkwNQbOhULTJDN39x5P7Ma9pePPRxhBbEsRuUMPQ0IwSIcnV2zLimresQamtvItiUWajQPhrdzA7ti7rNv/w9DxR76XKJVZ4huI4JYRmrVI9D/9ZMY\u002BTpqqVmiUD\u002B2e3u0ltW9DhmCwQJroaM1Gr0QTYqisAm8asvkj7MIsxeI9\u002BgGo\u002B\u002BVGBX3fTSQrVeXNY6ckcJ008tx\u002BGwJmL5meg3q4qn7LnbNu3W06zMVK/10TVokb[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-160bebad-c043-95c8-47a4-303abfe35e7b/test-blob-7e540231-29a6-c3c3-a589-4cf038a3cd36",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:41:12 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D37399933AC1\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:41:12 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:41:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T18:41:12.3447309Z"
      },
      "ResponseBody": "B0aI/\u002B4\u002BDLQyubRF1yhWCd/AW1qxCHkcJY8CGEKto\u002B\u002BUvJMmFKqdV9E\u002BkwNQbOhULTJDN39x5P7Ma9pePPRxhBbEsRuUMPQ0IwSIcnV2zLimresQamtvItiUWajQPhrdzA7ti7rNv/w9DxR76XKJVZ4huI4JYRmrVI9D/9ZMY\u002BTpqqVmiUD\u002B2e3u0ltW9DhmCwQJroaM1Gr0QTYqisAm8asvkj7MIsxeI9\u002BgGo\u002B\u002BVGBX3fTSQrVeXNY6ckcJ008tx\u002BGwJmL5meg3q4qn7LnbNu3W06zMVK/10TVokbCEVFCQc1OtDS3\[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-160bebad-c043-95c8-47a4-303abfe35e7b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:41:12 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1340547714",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}