{
  "Entries": [
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-a095819c-5c81-5aa1-a6d8-cd1410c3d64a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 01 Oct 2020 22:56:55 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D4B6081D5\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:56:55 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-a095819c-5c81-5aa1-a6d8-cd1410c3d64a/test-blob-7cbc8c46-7899-6f7f-58b9-197456caae3c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 01 Oct 2020 22:56:55 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "t4LjFP4OEYNwa9oMiKR5K3uKkB\u002BtpLG5fFVvfxkPRQw=",
        "x-ms-encryption-key-sha256": "J1Lw2BMVts5KraZCtk66f8Jh2V7MEfpwVsW50hFqmPA=",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D4B685C5A\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:56:55 GMT",
        "x-ms-encryption-key-sha256": "J1Lw2BMVts5KraZCtk66f8Jh2V7MEfpwVsW50hFqmPA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-a095819c-5c81-5aa1-a6d8-cd1410c3d64a/test-blob-7cbc8c46-7899-6f7f-58b9-197456caae3c?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:56:55 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "t4LjFP4OEYNwa9oMiKR5K3uKkB\u002BtpLG5fFVvfxkPRQw=",
        "x-ms-encryption-[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-a095819c-5c81-5aa1-a6d8-cd1410c3d64a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:56:55 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "981860044",
    "Storage_TestConfigDefault": "ProductionTenant\nstoragedotnettesting\nU2FuaXRpemVk\nhttps://storagedotnettesting.blob.core.windows.net\nhttps://storagedotnettesting.file.core.windows.net\nhttps://storagedotnettesting.queue.core.windows.net\nhttps://storagedotnettesting.table.core.windows.net\n\n\n\n\nhttps://storagedotnettesting-secondary.blob.core.windows.net\nhttps://storagedotnettesting-secondary.file.core.windows.net\nhttps://storagedotnettesting-secondary.queue.core.windows.net\nhttps://storagedotnettesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://storagedotnettesting.blob.core.windows.net/;QueueEndpoint=https://storagedotnettesting.queue.core.windows.net/;FileEndpoint=https://storagedotnettesting.file.core.windows.net/;BlobSecondaryEndpoint=https://storagedotnettesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://storagedotnettesting-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://storagedotnettesting-secondary.file.core.windows.net/;AccountName=storagedotnettesting;AccountKey=Kg==;\n"
  }
}