{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-a95b7752-24af-6da2-63d7-947c347b441a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:40:33 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75F3BF9B91E\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:40:32 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-a95b7752-24af-6da2-63d7-947c347b441a/test-blob-7a38ddc5-ba68-ef52-f1cb-bfc3b8160ef5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:40:33 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75F3C07A4F9\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:40:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-a6709038-aeba-9cd5-20d8-b2e9a68aa5f7/test-blob-8ea33e7d-67eb-529e-ee97-360d1ae1da2e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 01 Apr 2020 23:40:33 GMT",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:40:34 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75F3C6CBAA0\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:40:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-087611e3-9bcf-6158-1550-1f5fbb136070/test-blob-e86bb23a-5cc0-a292-162c-d991ba6924b3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 03 Apr 2020 23:40:33 GMT",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:40:34 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75F3CC28B67\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:40:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-e6e37d05-3e14-b327-9a24-a84dbeed4361/test-blob-9d5593ad-104c-e30b-4236-f9dca9d20385",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:40:35 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D75F3D109294\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:40:34 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 02 Apr 2020 23:40:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-e6e37d05-3e14-b327-9a24-a84dbeed4361/test-blob-9d5593ad-104c-e30b-4236-f9dca9d20385",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D7D75F3D109294\u0022",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:40:35 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75F3D2A60DE\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:40:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-7de6868b-2f45-7da1-dd9e-1d21a929573c/test-blob-a22289dc-2b49-ae56-9f19-fb7013f1fef7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:40:35 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75F3D86E99C\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:40:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-d792b487-c831-07a4-e316-b7395502ea64/test-blob-92e5452a-cad5-53e8-2fb1-c51394ba54f5?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:40:36 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "eccffc1b-2359-87bf-97a8-e1fe4b67106b",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75F3DD27F53\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:40:35 GMT",
        "x-ms-lease-id": "eccffc1b-2359-87bf-97a8-e1fe4b67106b",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-d792b487-c831-07a4-e316-b7395502ea64?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:40:36 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-02T16:40:33.0131546-07:00",
    "RandomSeed": "864981911",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}