{
  "Entries": [
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-d824b2d8-f983-2ea4-aeb0-7cda33b8b6b8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 03 Jun 2020 17:26:04 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D807E3313C16A7\u0022",
        "Last-Modified": "Wed, 03 Jun 2020 17:26:03 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-d824b2d8-f983-2ea4-aeb0-7cda33b8b6b8/test-blob-c554f178-3164-0b83-d8a1-1d49bc004258",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 03 Jun 2020 17:26:04 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D807E331459DAD\u0022",
        "Last-Modified": "Wed, 03 Jun 2020 17:26:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-06-03T17:26:03.8541741Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-d824b2d8-f983-2ea4-aeb0-7cda33b8b6b8/test-blob-c554f178-3164-0b83-d8a1-1d49bc004258",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 03 Jun 2020 17:26:04 GMT",
        "x-ms-if-tags": "\u0022coolTag\u0022 = \u0027true\u0027",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:b384df82-401e-0028-5ccc-39411e000000\n",
        "Time:2020-06-03T17:26:03.9348544Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-d824b2d8-f983-2ea4-aeb0-7cda33b8b6b8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Jun 2020 17:26:04 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "178417979",
    "Storage_TestConfigDefault": "ProductionTenant\nhuxcanadac\nU2FuaXRpemVk\nhttps://huxcanadac.blob.core.windows.net\nhttps://huxcanadac.file.core.windows.net\nhttps://huxcanadac.queue.core.windows.net\nhttps://huxcanadac.table.core.windows.net\n\n\n\n\nhttps://huxcanadac-secondary.blob.core.windows.net\nhttps://huxcanadac-secondary.file.core.windows.net\nhttps://huxcanadac-secondary.queue.core.windows.net\nhttps://huxcanadac-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://huxcanadac.blob.core.windows.net/;QueueEndpoint=https://huxcanadac.queue.core.windows.net/;FileEndpoint=https://huxcanadac.file.core.windows.net/;BlobSecondaryEndpoint=https://huxcanadac-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://huxcanadac-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://huxcanadac-secondary.file.core.windows.net/;AccountName=huxcanadac;AccountKey=Sanitized\nseanscope1"
  }
}