{
  "Entries": [
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-7828e9d0-3c43-3087-8dd6-207d936e9867?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 27 Jul 2020 17:50:03 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D832557E9E4BCC\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 17:50:05 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-7828e9d0-3c43-3087-8dd6-207d936e9867/test-blob-2ac232fd-6af4-3129-16c8-bd338d69f05a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 27 Jul 2020 17:50:03 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D832557EA749B8\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 17:50:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-07-27T17:50:05.1426744Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-7828e9d0-3c43-3087-8dd6-207d936e9867/test-blob-2ac232fd-6af4-3129-16c8-bd338d69f05a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 17:50:03 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D832557EA749B8\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 17:50:05 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 27 Jul 2020 17:50:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-07-27T17:50:05.1426744Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-7828e9d0-3c43-3087-8dd6-207d936e9867/test-blob-2ac232fd-6af4-3129-16c8-bd338d69f05a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D832557EA749B8\u0022",
        "x-ms-date": "Mon, 27 Jul 2020 17:50:03 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "R/6fGLL4MYWnFibFKuTrZoJ4IbJJ4ulb1nSgB2x2sujB8v5HEC2SGamaZloBZSWAr6SRgfm6BGUVQ0I9WCoZMWM9AzflpFVV5QgJr3uPWXBPH1jH5DDvB\u002B2ZMs3qVcB\u002BgDX2xGLtmgtPPJzwsVXphurS7TjSUUwzTvxKTHKIapBHii5FmJUOYoRMeKiU/laYr6vjGGeHrC/pw3Vlo06Zx9ELqSYmpO1UxIuzhdiknlCmsZzGpVEpv97\u002BXNQgqL82s7HWiFUwcQq\u002BjlTc0yZWRCQlv/Gx0yF/4ulHKEgYNBvMfdImzRb6dj\u002BRBxb9Teu4pxev\u002BujNhOCPV6Vs6EnCpQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D832557EB8B1F9\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 17:50:05 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "TLOnPof0sjs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-7828e9d0-3c43-3087-8dd6-207d936e9867?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 17:50:03 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1908381229",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmccprodca\nU2FuaXRpemVk\nhttps://seanmccprodca.blob.core.windows.net\nhttps://seanmccprodca.file.core.windows.net\nhttps://seanmccprodca.queue.core.windows.net\nhttps://seanmccprodca.table.core.windows.net\n\n\n\n\nhttps://seanmccprodca-secondary.blob.core.windows.net\nhttps://seanmccprodca-secondary.file.core.windows.net\nhttps://seanmccprodca-secondary.queue.core.windows.net\nhttps://seanmccprodca-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmccprodca.blob.core.windows.net/;QueueEndpoint=https://seanmccprodca.queue.core.windows.net/;FileEndpoint=https://seanmccprodca.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmccprodca-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmccprodca-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmccprodca-secondary.file.core.windows.net/;AccountName=seanmccprodca;AccountKey=Kg==;\nseanscope1"
  }
}