{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a778b62c-ab06-3e52-8dd2-7071bba3d01e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Aug 2021 22:44:10 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9642C06A4FDD0\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 22:44:10 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a778b62c-ab06-3e52-8dd2-7071bba3d01e/test-blob-d4d01055-19f6-2ce8-a476-25c8a83c2bb4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 20 Aug 2021 22:44:10 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9642C06AC94CD\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 22:44:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-20T22:44:10.2948045Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a778b62c-ab06-3e52-8dd2-7071bba3d01e/test-blob-d4d01055-19f6-2ce8-a476-25c8a83c2bb4?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9642C06B45E69\u0022",
        "x-ms-date": "Fri, 20 Aug 2021 22:44:10 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "a3bL1avQ1N95wPM4gyNYtJZkG/59KKuwG9OvlL\u002BGVREjcFldJAoV3NXgikiz9r7umAJ6VbSbp0LKG7rYIT8g82riFRPJ\u002BpCLTz8pnJ5j/SQUwPu8CwBch8kWkghQPbqVwJfe0eCrJZ5y7wV0cgqkZx6Vw2FDY\u002BdphY5JsmeHOhKFk9wHhSxEaZpdSRv66BS\u002Bcivqu3lZUlyvdEtSYXI267Tz798uneLxUVrG5hrMb515i0A8nH\u002BYK0GAVxHg8QcoJ15mBvg1kNVJ\u002BGofk2tC4wWu2NYy\u002BU41W8OerkXREV9Snb\u002B7ZWikQ/tq86MVeJjVPXQMMRgx9S0PMas0l\u002BGPd\u002BcKzfWshn2cCZXbxwWrIOIryXDQxd9GIaiRqzS8b6wZ2nu8CqujKLf2byiDVS4nZBHJCc5xv7IHxKtNG9pJ4JnowuyJ7xU2iKC52VW3wst5aUci82bdpxvItEb/Vg3crI\u002BOmpNBnnT7koEtuOVdUAHf07GTJ\u002BwzCxrRwDvONzGT3C3GKSc4OMvSJ2Hlr\u002B81a2NEIIJbSIWiW494cN05LFtPmtu4lifZp5rmwP\u002BLTVsrm1XXihauN5OnJM2Xv8jumPoGlhUTfdU8a3jodYeFFw00TdSHYqJEoGJIEXJZQejS\u002BCgFhLdFGB2Amh6exsILIQzAY3LzZjZXwvWyy2xi4yk=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9642C06BC27FD\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 22:44:10 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "fV4iveRvcYQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a778b62c-ab06-3e52-8dd2-7071bba3d01e/test-blob-d4d01055-19f6-2ce8-a476-25c8a83c2bb4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 22:44:10 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9642C06C37C54\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 22:44:10 GMT",
        "x-ms-blob-committed-block-count": "2",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 20 Aug 2021 22:44:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-20T22:44:10.3468409Z"
      },
      "ResponseBody": "a3bL1avQ1N95wPM4gyNYtJZkG/59KKuwG9OvlL\u002BGVREjcFldJAoV3NXgikiz9r7umAJ6VbSbp0LKG7rYIT8g82riFRPJ\u002BpCLTz8pnJ5j/SQUwPu8CwBch8kWkghQPbqVwJfe0eCrJZ5y7wV0cgqkZx6Vw2FDY\u002BdphY5JsmeHOhKFk9wHhSxEaZpdSRv66BS\u002Bcivqu3lZUlyvdEtSYXI267Tz798uneLxUVrG5hrMb515i0A8nH\u002BYK0GAVxHg8QcoJ15mBvg1kNVJ\u002BGofk2tC4wWu2NYy\u002BU41W8OerkXREV9Snb\u002B7ZWikQ/tq86MVeJjVPXQ[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a778b62c-ab06-3e52-8dd2-7071bba3d01e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 22:44:10 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "841825863",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Kg==;\ntestscope2\n\n"
  }
}