{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f2f5c604-3ec0-fb07-2f8f-51de69edfa40?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:44:03 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D373FF9D84C1\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:44:03 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f2f5c604-3ec0-fb07-2f8f-51de69edfa40/test-blob-867313ec-8094-d94a-82e1-0b24492b14b0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:44:03 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D373FFA7FBF1\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:44:03 GMT",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:44:03.6824049Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f2f5c604-3ec0-fb07-2f8f-51de69edfa40/test-blob-867313ec-8094-d94a-82e1-0b24492b14b0?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "0x8D8D373FFBA4EC7",
        "x-ms-date": "Wed, 17 Feb 2021 18:44:03 GMT"
      },
      "RequestBody": "9RbVpLHqmPOIUBjOQ6R2DjfCxQM7QKXsznuHGnm2kGoVx7BMnwWXc638S7r1KC0nh3Gc0D2sOrVx6NY1Yn560r\u002BuuXz0KW4xKlFWP/Xq96VNYJMHGr8saIz727YvYhEugXj6Rm6xMl0CaqbrVvvAhvAw5wHrcrgAglHv\u002BE64AsdAJ71877E3nC01Ba8ZQBGQOlTF/3sPQw/A\u002BsQcwToOSmjeqy4\u002BQ5Y/\u002BErTtW0I50E/X7368gJMMeStu/XtGtrzJrtGOpXjUve\u002BhQYwO46itxOC3GJ8FFdlkXpKkIihUt1v346xwqyrXAzGO2z8HPVVCwTiaj54dxJk4KkbmcFvHTMowFz/8PVm14BVtdjqaXSE9IWEvuif92d8TeEDj8JLVx4501yZVRsOe5K9IsI5eXY0lqQ8615KiMj0g6ITY0e\u002BCl26sJYY655qdUJV4tSlQtRqzvgdD2zA7kqTpNJ4\u002BxhL/xhlf8jgG6sG0nUb9Kb0T0HNqJROoPvw\u002BcJLhUbM8XoqCuO7QMMLirNNFzz2pPmjn1WRqlKD/F8ddIUGlJZkOuH78OrDOA5\u002Bwh7hAIi\u002B\u002BVTIqOXwO0Yopg6Enss9BfUc6d1b\u002B7QP4GZGE\u002BgzovvWX3owPuywc/6a00rcP5pDQL0oxBerYv6guMd/qihd9AMSrT5RDMYJa3XewChpM6E=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D373FFC5E9A5\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:44:03 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "cISHSr3Ywck=",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f2f5c604-3ec0-fb07-2f8f-51de69edfa40/test-blob-867313ec-8094-d94a-82e1-0b24492b14b0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:44:03 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D373FFCDB33E\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:44:03 GMT",
        "x-ms-blob-committed-block-count": "2",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:44:03 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:44:03.8034903Z"
      },
      "ResponseBody": "9RbVpLHqmPOIUBjOQ6R2DjfCxQM7QKXsznuHGnm2kGoVx7BMnwWXc638S7r1KC0nh3Gc0D2sOrVx6NY1Yn560r\u002BuuXz0KW4xKlFWP/Xq96VNYJMHGr8saIz727YvYhEugXj6Rm6xMl0CaqbrVvvAhvAw5wHrcrgAglHv\u002BE64AsdAJ71877E3nC01Ba8ZQBGQOlTF/3sPQw/A\u002BsQcwToOSmjeqy4\u002BQ5Y/\u002BErTtW0I50E/X7368gJMMeStu/XtGtrzJrtGOpXjUve\u002BhQYwO46itxOC3GJ8FFdlkXpKkIihUt1v346xwqyrXAzGO2z8HPVVCwTiaj54dxJk[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f2f5c604-3ec0-fb07-2f8f-51de69edfa40?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:44:03 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1206941297",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}