{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ea362c85-29f7-5dce-1efb-f178b6651681?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Aug 2021 22:44:09 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9642C05EF6F9B\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 22:44:09 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ea362c85-29f7-5dce-1efb-f178b6651681/test-blob-f6ea8548-739f-06ae-89a3-57a7ad9e963d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 20 Aug 2021 22:44:09 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9642C05F72E02\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 22:44:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-20T22:44:09.1059714Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ea362c85-29f7-5dce-1efb-f178b6651681/test-blob-f6ea8548-739f-06ae-89a3-57a7ad9e963d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 22:44:09 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9642C05F72E02\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 22:44:09 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 20 Aug 2021 22:44:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-20T22:44:09.1059714Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ea362c85-29f7-5dce-1efb-f178b6651681/test-blob-f6ea8548-739f-06ae-89a3-57a7ad9e963d?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9642C05F72E02\u0022",
        "x-ms-date": "Fri, 20 Aug 2021 22:44:09 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "G1Qlkv\u002BHROPTrowz4XkYuZ5J3Am1VkdWpAPyxTuGnSyYIRmZqnIOQ18FbUfLI5\u002BRtHCNVWDJucUMzu78lX\u002BnTBFgmsBgfw4rOpmpsOgAioFkYBDL\u002BUfLz2dUjNuEEq7gXSA1aojfMTVhYRrHHwjcDERsmDRu21PJlcpYDPIypyjqyVPIyyD4hC/aaZctA7Bfd3\u002BXF3l5cYLMa9W\u002BhyVCL7ry3Va1E0EjdBMElHG8nJEa\u002BJRzmo\u002BucVjR\u002B19KOv0KlzrcOiZaqWM\u002BdKNmdN0QEM5Do46Rz5UrRGv95B[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ea362c85-29f7-5dce-1efb-f178b6651681?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 22:44:09 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1679986626",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Kg==;\ntestscope2\n\n"
  }
}