{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-715c2983-3cba-2037-ea14-b0de10fe0b00?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Aug 2021 22:44:21 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9642C0D2736A0\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 22:44:21 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-715c2983-3cba-2037-ea14-b0de10fe0b00/test-blob-d08f73ce-b2a1-0b49-592f-51a3e7f4c9c4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 20 Aug 2021 22:44:21 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9642C0D2EF068\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 22:44:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-20T22:44:21.2154472Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-715c2983-3cba-2037-ea14-b0de10fe0b00/test-blob-d08f73ce-b2a1-0b49-592f-51a3e7f4c9c4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 22:44:21 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9642C0D2EF068\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 22:44:21 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 20 Aug 2021 22:44:21 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-20T22:44:21.2154472Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-715c2983-3cba-2037-ea14-b0de10fe0b00/test-blob-d08f73ce-b2a1-0b49-592f-51a3e7f4c9c4?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 20 Aug 2021 22:44:21 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "GG6692gWbrtxuNwjv8DG7\u002BOElvh/5S0Uw6sh/nUy0[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-715c2983-3cba-2037-ea14-b0de10fe0b00/test-blob-d08f73ce-b2a1-0b49-592f-51a3e7f4c9c4?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9642C0D2EF068\u0022",
        "x-ms-date": "Fri, 20 Aug 2021 22:44:21 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "GG6692gWbrtxuNwjv8DG7\u002BOElvh/5S0Uw6sh/nUy0k63zXDXrlRk9YC5cd27AYASNK7rgA/OpjJApjS89XBFP\u002BaObPJQ7kCPIKB4xXRPWMEqD8rGR1I\u002B6SY\u002BlwgfpwAQdDL3LJWNwUVuXF9uVeC98E1zkuamf/eUT4LLElc4b3igaFFBWCwrnE2EWOry0JNGgKa6qxUZafU6YtwTwq/uNuznzu2PfJchSPWYISYNoX/vhZKxfcRihv5cB/ZPGNqeliH\u002BCgKltgMOmGMfgUjOLcBdIzwcPLgohEfvM3Wh0TAb\u002BosFD5Z9Sc6Oou[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-715c2983-3cba-2037-ea14-b0de10fe0b00?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 22:44:21 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "774481718",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Kg==;\ntestscope2\n\n"
  }
}