{
  "Entries": [
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-76a01a41-9b40-b7b2-c498-f9120c8a30ce?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 27 Jul 2020 17:49:51 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8325577C0B6F3\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 17:49:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-76a01a41-9b40-b7b2-c498-f9120c8a30ce/test-blob-012a4d0b-69dd-fbf3-6aa1-cbc178a5a4a1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 27 Jul 2020 17:49:51 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8325577CA367A\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 17:49:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-07-27T17:49:53.6275066Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-76a01a41-9b40-b7b2-c498-f9120c8a30ce/test-blob-012a4d0b-69dd-fbf3-6aa1-cbc178a5a4a1?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 17:49:51 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "FA07A8XyT6dYAOtUsaxlYRMVsQCj36c\u002BvrXfKgG97ri7WDKIzYvxHidabPhAWsfwzAAkJavNvDRl/UUPEiSmmhIymF[...]
[...]
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-76a01a41-9b40-b7b2-c498-f9120c8a30ce/test-blob-012a4d0b-69dd-fbf3-6aa1-cbc178a5a4a1?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D8325577DC3B1D\u0022",
        "x-ms-date": "Mon, 27 Jul 2020 17:49:52 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "CqcVy/J/Zt5RZ2w/kWe7167oofJtpJvyAHR698TtbCgdUWh6iJR6/oHZ\u002BFZzQXcegDuQOzHc/2YMI8t\u002BBG4ZZPpDIUD\u002BQE8ZbqJxk6tEf779W3aJXTD2QVICbmTJ/PoSv5RcLyA2ID/sds2Pamu6x6QMgaj4kAbJTeDt\u002B9LqUHKoXtMW6E\u002Bexjs2nOZjZtbmSKbAvHpRGi\u002BNkuFASSRtAiVb5wuXo99UbrptwfMgZuYJBrMsKZP3V0SkiFVuXn0XyZrBCH7KT6THa07A41k7bSz6NkJxQdiRY5DH8xqJ5g89VvdZXl5oPrcOZL[...]
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-76a01a41-9b40-b7b2-c498-f9120c8a30ce/test-blob-012a4d0b-69dd-fbf3-6aa1-cbc178a5a4a1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 17:49:52 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8325577E53D74\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 17:49:53 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 27 Jul 2020 17:49:53 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-07-27T17:49:53.7465901Z"
      },
      "ResponseBody": "CqcVy/J/Zt5RZ2w/kWe7167oofJtpJvyAHR698TtbCgdUWh6iJR6/oHZ\u002BFZzQXcegDuQOzHc/2YMI8t\u002BBG4ZZPpDIUD\u002BQE8ZbqJxk6tEf779W3aJXTD2QVICbmTJ/PoSv5RcLyA2ID/sds2Pamu6x6QMgaj4kAbJTeDt\u002B9LqUHKoXtMW6E\u002Bexjs2nOZjZtbmSKbAvHpRGi\u002BNkuFASSRtAiVb5wuXo99UbrptwfMgZuYJBrMsKZP3V0SkiFVuXn0XyZrBCH7KT6THa07A41k7bSz6NkJxQdiRY5DH8xqJ5g89VvdZXl5oPrcOZL1FN3PqaBspcyc7pojBL[...]
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-76a01a41-9b40-b7b2-c498-f9120c8a30ce?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 17:49:52 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "341046136",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmccprodca\nU2FuaXRpemVk\nhttps://seanmccprodca.blob.core.windows.net\nhttps://seanmccprodca.file.core.windows.net\nhttps://seanmccprodca.queue.core.windows.net\nhttps://seanmccprodca.table.core.windows.net\n\n\n\n\nhttps://seanmccprodca-secondary.blob.core.windows.net\nhttps://seanmccprodca-secondary.file.core.windows.net\nhttps://seanmccprodca-secondary.queue.core.windows.net\nhttps://seanmccprodca-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmccprodca.blob.core.windows.net/;QueueEndpoint=https://seanmccprodca.queue.core.windows.net/;FileEndpoint=https://seanmccprodca.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmccprodca-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmccprodca-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmccprodca-secondary.file.core.windows.net/;AccountName=seanmccprodca;AccountKey=Kg==;\nseanscope1"
  }
}