{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-29cd155e-4c89-5780-f5f9-2eca5a9a2f78?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 19:45:59 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D37CA6B3AF84\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:45:59 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-29cd155e-4c89-5780-f5f9-2eca5a9a2f78/test-blob-9fcc43ee-90c3-3160-bdd8-850d3df588c8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 19:45:59 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-29cd155e-4c89-5780-f5f9-2eca5a9a2f78/test-blob-9fcc43ee-90c3-3160-bdd8-850d3df588c8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 17 Feb 2021 19:46:00 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D37CA6CC571D\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:46:00 GMT",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T19:46:00.0740125Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-29cd155e-4c89-5780-f5f9-2eca5a9a2f78/test-blob-9fcc43ee-90c3-3160-bdd8-850d3df588c8?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "0x8D8D37CA6CC571D",
        "x-ms-date": "Wed, 17 Feb 2021 19:46:00 GMT"
      },
      "RequestBody": "y2otttB35eTjn/Q49fLqxDOanItgjgAMQpn6usT4mVJGb5mgsZKjdl7ovCScJzvL7sDao1n9aD1qIHM3fSog6wWi8oVZSROg9iUseNLccBpdLswDHvX5SQdcNpAebPkzx9Ae\u002BjW1caStOq0z0PBrjbBZ2k5eHMwPqKl\u002B/ROCgYor\u002BbABvXXlp7woVeRIxXgX8KjgxZGq1aoDD1GLN3SQK7gjB9Y/adA7czKRNcbox\u002BMwZgxrobv4gSMF/a0kWXBIlyorJb2i14fXpVJfGJ/kG0htW9BoJYn9K4ayOmwiFhrCSZ2cvaEmjo\u002BFk/xomWiEIeJltv6f33KgLfk2750btY44nM8CR12mR8xB45KMlJEeLhiJv[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-29cd155e-4c89-5780-f5f9-2eca5a9a2f78/test-blob-9fcc43ee-90c3-3160-bdd8-850d3df588c8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 19:46:00 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D37CA6D72E8A\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:46:00 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 19:46:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T19:46:00.0740125Z"
      },
      "ResponseBody": "y2otttB35eTjn/Q49fLqxDOanItgjgAMQpn6usT4mVJGb5mgsZKjdl7ovCScJzvL7sDao1n9aD1qIHM3fSog6wWi8oVZSROg9iUseNLccBpdLswDHvX5SQdcNpAebPkzx9Ae\u002BjW1caStOq0z0PBrjbBZ2k5eHMwPqKl\u002B/ROCgYor\u002BbABvXXlp7woVeRIxXgX8KjgxZGq1aoDD1GLN3SQK7gjB9Y/adA7czKRNcbox\u002BMwZgxrobv4gSMF/a0kWXBIlyorJb2i14fXpVJfGJ/kG0htW9BoJYn9K4ayOmwiFhrCSZ2cvaEmjo\u002BFk/xomWiEIeJltv6f33KgLfk27[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-29cd155e-4c89-5780-f5f9-2eca5a9a2f78?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 19:46:00 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "496473669",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}