{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-fb4306e4-8031-5b72-3793-1703ad0fcdf3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:42:41 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D373CED585A3\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:42:41 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-fb4306e4-8031-5b72-3793-1703ad0fcdf3/test-blob-5da3a677-31b3-a9d2-cfa3-8bc7cb6de4ee",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:42:41 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D373CEF8AF1B\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:42:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-02-17T18:42:42.0029211Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-fb4306e4-8031-5b72-3793-1703ad0fcdf3/test-blob-5da3a677-31b3-a9d2-cfa3-8bc7cb6de4ee?comp=seal",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:42:42 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D373CF1D2DB8\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:42:42 GMT",
        "x-ms-blob-sealed": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-38cecc0c-2e2b-47fa-78c3-e27c929b2c0e/test-blob-6e2259f2-65bd-8d53-ad22-1c2db3dfbdd7?comp=seal",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 16 Feb 2021 18:42:41 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 18:42:42 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D373CF667931\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:42:42 GMT",
        "x-ms-blob-sealed": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-be4312e5-91c2-95c9-aa0e-329dde93a98f/test-blob-75d7a305-5076-8745-1b54-a584e27d9c84?comp=seal",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 18 Feb 2021 18:42:41 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 18:42:43 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D373CFC7BDDF\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:42:43 GMT",
        "x-ms-blob-sealed": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-10766719-a1f6-cd23-0f09-60ce37354799/test-blob-159c6f40-3d30-587f-f601-8f37614c070a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:42:43 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D8D373D00631EC\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:42:43 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:42:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-02-17T18:42:43.7691884Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-10766719-a1f6-cd23-0f09-60ce37354799/test-blob-159c6f40-3d30-587f-f601-8f37614c070a?comp=seal",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D373D00631EC",
        "x-ms-date": "Wed, 17 Feb 2021 18:42:43 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D373D01FB20A\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:42:43 GMT",
        "x-ms-blob-sealed": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e500ffd8-7f75-8ad5-7845-402946a0b600/test-blob-57ca40f4-3152-f084-ded5-c6a1ff36c83b?comp=seal",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"garbage\"",
        "x-ms-date": "Wed, 17 Feb 2021 18:42:44 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D373D06A5D55\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:42:44 GMT",
        "x-ms-blob-sealed": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3940fd5e-0c9c-ec9e-0d14-9322c2a05b60/test-blob-61761248-41c5-73fc-7b6c-1d340ad8299a?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:42:44 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "61a459ad-01d9-5ce7-1c94-df7c4e357c09",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D373D0A3521B\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:42:44 GMT",
        "x-ms-lease-id": "61a459ad-01d9-5ce7-1c94-df7c4e357c09",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ea1512c2-5ac5-66ef-7b95-0136fbec4729/test-blob-2ab5ea13-d990-f867-826a-571cff1591da?comp=seal",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-condition-appendpos": "0",
        "x-ms-date": "Wed, 17 Feb 2021 18:42:45 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D373D11E64FB\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:42:45 GMT",
        "x-ms-blob-sealed": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ea1512c2-5ac5-66ef-7b95-0136fbec4729?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:42:45 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T12:42:41.5358751-06:00",
    "RandomSeed": "1501273103",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}