{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-fb4306e4-8031-5b72-3793-1703ad0fcdf3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 13 Apr 2020 01:09:31 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7DF4751F7D6AC\u0022",
        "Last-Modified": "Mon, 13 Apr 2020 01:09:30 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-fb4306e4-8031-5b72-3793-1703ad0fcdf3/test-blob-5da3a677-31b3-a9d2-cfa3-8bc7cb6de4ee",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 13 Apr 2020 01:09:32 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7DF47520532E3\u0022",
        "Last-Modified": "Mon, 13 Apr 2020 01:09:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-fb4306e4-8031-5b72-3793-1703ad0fcdf3/test-blob-5da3a677-31b3-a9d2-cfa3-8bc7cb6de4ee?comp=seal",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 13 Apr 2020 01:09:32 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7DF47521AE1BE\u0022",
        "Last-Modified": "Mon, 13 Apr 2020 01:09:30 GMT",
        "x-ms-blob-sealed": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-38cecc0c-2e2b-47fa-78c3-e27c929b2c0e/test-blob-6e2259f2-65bd-8d53-ad22-1c2db3dfbdd7?comp=seal",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Sun, 12 Apr 2020 01:09:31 GMT",
        "x-ms-date": "Mon, 13 Apr 2020 01:09:32 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7DF47527A786D\u0022",
        "Last-Modified": "Mon, 13 Apr 2020 01:09:31 GMT",
        "x-ms-blob-sealed": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-be4312e5-91c2-95c9-aa0e-329dde93a98f/test-blob-75d7a305-5076-8745-1b54-a584e27d9c84?comp=seal",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Tue, 14 Apr 2020 01:09:31 GMT",
        "x-ms-date": "Mon, 13 Apr 2020 01:09:33 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7DF4752DBE432\u0022",
        "Last-Modified": "Mon, 13 Apr 2020 01:09:32 GMT",
        "x-ms-blob-sealed": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-10766719-a1f6-cd23-0f09-60ce37354799/test-blob-159c6f40-3d30-587f-f601-8f37614c070a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 13 Apr 2020 01:09:34 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7DF4753283D78\u0022",
        "Last-Modified": "Mon, 13 Apr 2020 01:09:32 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 13 Apr 2020 01:09:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-10766719-a1f6-cd23-0f09-60ce37354799/test-blob-159c6f40-3d30-587f-f601-8f37614c070a?comp=seal",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D7DF4753283D78\u0022",
        "x-ms-date": "Mon, 13 Apr 2020 01:09:34 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7DF475343929E\u0022",
        "Last-Modified": "Mon, 13 Apr 2020 01:09:32 GMT",
        "x-ms-blob-sealed": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-e500ffd8-7f75-8ad5-7845-402946a0b600/test-blob-57ca40f4-3152-f084-ded5-c6a1ff36c83b?comp=seal",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Mon, 13 Apr 2020 01:09:34 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7DF47539BFBEA\u0022",
        "Last-Modified": "Mon, 13 Apr 2020 01:09:33 GMT",
        "x-ms-blob-sealed": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-3940fd5e-0c9c-ec9e-0d14-9322c2a05b60/test-blob-61761248-41c5-73fc-7b6c-1d340ad8299a?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 13 Apr 2020 01:09:35 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "61a459ad-01d9-5ce7-1c94-df7c4e357c09",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7DF4753EA7866\u0022",
        "Last-Modified": "Mon, 13 Apr 2020 01:09:33 GMT",
        "x-ms-lease-id": "61a459ad-01d9-5ce7-1c94-df7c4e357c09",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-3940fd5e-0c9c-ec9e-0d14-9322c2a05b60?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 13 Apr 2020 01:09:35 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-12T18:09:31.9205885-07:00",
    "RandomSeed": "1501273103",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}