{
  "Entries": [
    {
      "RequestUri": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourcegroups/Rac46PostSwapRG/providers/microsoft.insights/alertrules/chiricutin?api-version=2016-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"name\": \"chiricutin\",\r\n    \"description\": \"description\",\r\n    \"isEnabled\": true,\r\n    \"condition\": {\r\n      \"odata.type\": \"Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition\",\r\n      \"operator\": \"GreaterThan\",\r\n      \"threshold\": 2.0,\r\n      \"windowSize\": \"PT5M\",\r\n      \"timeAggregation\": \"Total\",\r\n      \"dataSource\": {\r\n        \"odata.type\": \"Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource\",\r\n        \"metricName\": \"Requests\",\r\n        \"resourceUri\": \"/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest\"\r\n      }\r\n    },\r\n    \"actions\": [\r\n      {\r\n        \"odata.type\": \"Microsoft.Azure.Management.Insights.Models.RuleEmailAction\",\r\n        \"sendToServiceOwners\": true,\r\n        \"customEmails\": [\r\n          \"gu@ms.com\"\r\n        ]\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"West US\",\r\n  \"tags\": {\r\n    \"key1\": \"val1\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/alertrules/chiricutin\",\r\n  \"name\": \"chiricutin\",\r\n  \"type\": \"Microsoft.Insights/alertRules\",\r\n  \"location\": \"West US\",\r\n  \"tags\": {\r\n    \"$type\": \"Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary, Microsoft.WindowsAzure.Management.Common.Storage\",\r\n    \"key1\": \"val1\"\r\n  },\r\n  \"properties\": {\r\n    \"name\": \"chiricutin\",\r\n    \"description\": \"description\",\r\n    \"isEnabled\": true,\r\n    \"condition\": {\r\n      \"$type\": \"Microsoft.WindowsAzure.Management.Monitoring.Alerts.Models.ThresholdRuleCondition, Microsoft.WindowsAzure.Management.Mon.Client\",\r\n      \"odata.type\": \"Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition\",\r\n      \"dataSource\": {\r\n        \"$type\": \"Microsoft.WindowsAzure.Management.Monitoring.Alerts.Models.RuleMetricDataSource, Microsoft.WindowsAzure.Management.Mon.Client\",\r\n        \"odata.type\": \"Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource\",\r\n        \"resourceUri\": \"/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest\",\r\n        \"resourceLocation\": null,\r\n        \"metricNamespace\": null,\r\n        \"metricName\": \"Requests\",\r\n        \"legacyResourceId\": null\r\n      },\r\n      \"operator\": \"GreaterThan\",\r\n      \"threshold\": 2.0,\r\n      \"windowSize\": \"PT5M\",\r\n      \"timeAggregation\": \"Total\"\r\n    },\r\n    \"action\": null,\r\n    \"lastUpdatedTime\": \"2017-07-31T20:54:12.4535301Z\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"actions\": [\r\n      {\r\n        \"$type\": \"Microsoft.WindowsAzure.Management.Monitoring.Alerts.Models.RuleEmailAction, Microsoft.WindowsAzure.Management.Mon.Client\",\r\n        \"odata.type\": \"Microsoft.Azure.Management.Insights.Models.RuleEmailAction\",\r\n        \"sendToServiceOwners\": true,\r\n        \"customEmails\": [\r\n          \"gu@ms.com\"\r\n        ]\r\n      }\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
            "1199"
        ]
      },
      "StatusCode": 201
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "07c0b09d-9f69-4e6e-8d05-f59f67299cb2"
  }
}