{
  "Entries": [
    {
      "RequestUri": "https://azs-net-bxlywsev.search.windows.net/indexes(\u0027numalfue\u0027)/docs/$count?api-version=2019-05-06",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "elapsed-time": "66",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": "\uFEFF10"
    }
  ],
  "Variables": {
    "RandomSeed": "2104098183",
    "SearchCreateAttempts": "1"
  }
}