{
  "Entries": [
    {
      "RequestUri": "https://azs-net-yibjqkvn.search.windows.net/indexes(\u0027doesnotexist\u0027)/docs/$count?api-version=2019-05-06",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "7",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "Message": "The index \u0027doesnotexist\u0027 for service \u0027azs-net-yibjqkvn\u0027 was not found."
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1202514668",
    "SearchCreateAttempts": "1"
  }
}