{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11977"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tagValue1",
          "tagKey2": "tagValue2"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.EventHub/checkNameAvailability?api-version=2021-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "testnamespacemgmt1412"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "nameAvailable": true,
        "reason": "None",
        "message": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testeventhubRG-1989?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "tags": {
          "test": "env"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-1989",
        "name": "testeventhubRG-1989",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-1989/providers/Microsoft.EventHub/namespaces/testnamespacemgmt1412?api-version=2021-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "49"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-1989/providers/Microsoft.EventHub/namespaces/testnamespacemgmt1412",
        "name": "testnamespacemgmt1412",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "East US 2",
        "tags": {},
        "properties": {
          "disableLocalAuth": false,
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Created",
          "metricId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c:testnamespacemgmt1412",
          "createdAt": "2021-10-25T02:27:55.487Z",
          "updatedAt": "2021-10-25T02:27:55.487Z",
          "serviceBusEndpoint": "https://testnamespacemgmt1412.servicebus.windows.net:443/",
          "status": "Activating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-1989/providers/Microsoft.EventHub/namespaces/testnamespacemgmt1412?api-version=2021-06-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-1989/providers/Microsoft.EventHub/namespaces/testnamespacemgmt1412/operationresults/testnamespacemgmt1412?api-version=2021-06-01-preview",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-deletes": "14996"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-1989/providers/Microsoft.EventHub/namespaces/testnamespacemgmt1412/operationresults/testnamespacemgmt1412?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-1989/providers/Microsoft.EventHub/namespaces/testnamespacemgmt1412/operationresults/testnamespacemgmt1412?api-version=2021-06-01-preview",
        "Retry-After": "53",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-reads": "11946"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-1989/providers/Microsoft.EventHub/namespaces/testnamespacemgmt1412",
        "name": "testnamespacemgmt1412",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "East US 2",
        "tags": {},
        "properties": {
          "disableLocalAuth": false,
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Succeeded",
          "metricId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c:testnamespacemgmt1412",
          "createdAt": "2021-10-25T02:27:55.487Z",
          "updatedAt": "2021-10-25T02:28:47.41Z",
          "serviceBusEndpoint": "https://testnamespacemgmt1412.servicebus.windows.net:443/",
          "status": "Removing"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-1989/providers/Microsoft.EventHub/namespaces/testnamespacemgmt1412?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-reads": "11931"
      },
      "ResponseBody": {
        "error": {
          "message": "Namespace does not exist. CorrelationId: 3a61b90d-d280-4a56-b8b1-3254c85a8ec3",
          "code": "NotFound"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-1989/providers/Microsoft.EventHub/namespaces?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-reads": "11929"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1731360658",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}