{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11788"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tagValue1",
          "tagKey2": "tagValue2"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testeventhubRG-7786?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "tags": {
          "test": "env"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1180"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-7786",
        "name": "testeventhubRG-7786",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.EventHub/checkNameAvailability?api-version=2021-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "testnamespacemgmt6453"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "nameAvailable": true,
        "reason": "None",
        "message": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-7786/providers/Microsoft.EventHub/namespaces/testnamespacemgmt6453?api-version=2021-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "48"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-7786/providers/Microsoft.EventHub/namespaces/testnamespacemgmt6453",
        "name": "testnamespacemgmt6453",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "East US 2",
        "tags": {},
        "properties": {
          "disableLocalAuth": false,
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Created",
          "metricId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c:testnamespacemgmt6453",
          "createdAt": "2021-10-25T02:36:41.61Z",
          "updatedAt": "2021-10-25T02:36:41.61Z",
          "serviceBusEndpoint": "https://testnamespacemgmt6453.servicebus.windows.net:443/",
          "status": "Activating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-7786/providers/Microsoft.EventHub/namespaces/testnamespacemgmt6453/authorizationRules/authorizationrule973?api-version=2021-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1179"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-7786/providers/Microsoft.EventHub/namespaces/testnamespacemgmt6453/authorizationRules/authorizationrule973",
        "name": "authorizationrule973",
        "type": "Microsoft.EventHub/Namespaces/AuthorizationRules",
        "location": "East US 2",
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-7786/providers/Microsoft.EventHub/namespaces/testnamespacemgmt6453/authorizationRules/authorizationrule973/listKeys?api-version=2021-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "primaryConnectionString": "Sanitized",
        "secondaryConnectionString": "Sanitized",
        "primaryKey": "Sanitized",
        "secondaryKey": "Sanitized",
        "keyName": "Sanitized"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-7786/providers/Microsoft.EventHub/namespaces/testnamespacemgmt6453/authorizationRules/authorizationrule973/regenerateKeys?api-version=2021-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "keyType": "PrimaryKey"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "primaryConnectionString": "Sanitized",
        "secondaryConnectionString": "Sanitized",
        "primaryKey": "Sanitized",
        "secondaryKey": "Sanitized",
        "keyName": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-7786/providers/Microsoft.EventHub/namespaces?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-reads": "11767"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "Standard",
              "tier": "Standard",
              "capacity": 1
            },
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-7786/providers/Microsoft.EventHub/namespaces/testnamespacemgmt6453",
            "name": "testnamespacemgmt6453",
            "type": "Microsoft.EventHub/Namespaces",
            "location": "East US 2",
            "tags": {},
            "properties": {
              "disableLocalAuth": false,
              "zoneRedundant": false,
              "isAutoInflateEnabled": false,
              "maximumThroughputUnits": 0,
              "kafkaEnabled": true,
              "provisioningState": "Succeeded",
              "metricId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c:testnamespacemgmt6453",
              "createdAt": "2021-10-25T02:36:41.61Z",
              "updatedAt": "2021-10-25T02:37:27.937Z",
              "serviceBusEndpoint": "https://testnamespacemgmt6453.servicebus.windows.net:443/",
              "status": "Active"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-7786/providers/Microsoft.EventHub/namespaces/testnamespacemgmt6453?api-version=2021-06-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-7786/providers/Microsoft.EventHub/namespaces/testnamespacemgmt6453/operationresults/testnamespacemgmt6453?api-version=2021-06-01-preview",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-deletes": "14988"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-7786/providers/Microsoft.EventHub/namespaces/testnamespacemgmt6453/operationresults/testnamespacemgmt6453?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-7786/providers/Microsoft.EventHub/namespaces/testnamespacemgmt6453/operationresults/testnamespacemgmt6453?api-version=2021-06-01-preview",
        "Retry-After": "31",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-reads": "11766"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-7786/providers/Microsoft.EventHub/namespaces/testnamespacemgmt6453",
        "name": "testnamespacemgmt6453",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "East US 2",
        "tags": {},
        "properties": {
          "disableLocalAuth": false,
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Succeeded",
          "metricId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c:testnamespacemgmt6453",
          "createdAt": "2021-10-25T02:36:41.61Z",
          "updatedAt": "2021-10-25T02:37:57.157Z",
          "serviceBusEndpoint": "https://testnamespacemgmt6453.servicebus.windows.net:443/",
          "status": "Removing"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-7786/providers/Microsoft.EventHub/namespaces/testnamespacemgmt6453/operationresults/testnamespacemgmt6453?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "11755"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "557742158",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}