{
  "Entries": [
    {
      "RequestUri": "https://batchbatchacctoqbvmvoayk.eastus.batch.azure.com/supportedimages?api-version=2022-01-01.15.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batchbatchacctoqbvmvoayk.eastus.batch.azure.com/$metadata#supportedimages",
        "value": [
          {
            "imageReference": {
              "publisher": "almalinux",
              "offer": "almalinux",
              "sku": "8_4",
              "version": "latest"
            },
            "verificationType": "unverified",
            "nodeAgentSKUId": "batch.node.el 8",
            "osType": "linux"
          },
          {
            "imageReference": {
              "publisher": "almalinux",
              "offer": "almalinux",
              "sku": "8_4-gen2",
              "version": "latest"
            },
            "verificationType": "unverified",
            "nodeAgentSKUId": "batch.node.el 8",
            "capabilities": [
              "Generation2VMImage"
            ],
            "osType": "linux"
          },
          {
            "imageReference": {
              "publisher": "almalinux",
              "offer": "almalinux",
              "sku": "8_5",
              "version": "latest"
            },
            "verificationType": "unverified",
            "nodeAgentSKUId": "batch.node.el 8",
            "osType": "linux"
          },
          {
            "imageReference": {
              "publisher"[...]
