{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-91ebacbf-a878-93b8-b711-2a8627b53c29?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 19 Jun 2023 22:08:18 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB7111B167D5BC\u0022",
        "Last-Modified": "Mon, 19 Jun 2023 22:08:20 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-91ebacbf-a878-93b8-b711-2a8627b53c29/test-blob-eab9f4f3-d741-4bce-5bde-b45f2e80bc23",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 19 Jun 2023 22:08:18 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB7111B1798F15\u0022",
        "Last-Modified": "Mon, 19 Jun 2023 22:08:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03",
        "x-ms-version-id": "2023-06-19T22:08:20.8973589Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-91ebacbf-a878-93b8-b711-2a8627b53c29/test-blob-eab9f4f3-d741-4bce-5bde-b45f2e80bc23?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 19 Jun 2023 22:08:18 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-4095",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "fgO/gDvZSI5bRqelFMXn\u002BJfKyyus1f8p6Ut1HisPIbBTG0QSEXG9gMlWLmrPH\u002BSm1CgfR93iHagDlZfwZCljTCT3UfiB1OcmDUthVaaVWclmzkkC8NrScf2bD3vZzRug8\u002BJF2M3sJf9A\u002BTqRgMgCbjzNiZXfYFxKJN/65cVrTD8vwWLET4D8eqhKwvefQfE1maA\u002BC0SFwJKF\u002B7Tt8kA51Kz7Yb9lPh\u002B70Q7slZ5lq\u002BPuxEwkLED6qQHPPlPMDohoEO1KpN8y0FqBgzo1mSr0IE/Q/y3zFahrALi9lQDL78OGhIWwGwcEvPTxo6kGxBDW2h4D\u002Bw9adftF3qMndDpatpN3rxWkQwRIzEI4AXH\u002BZTun5[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-91ebacbf-a878-93b8-b711-2a8627b53c29/test-blob-007a22da-fa07-fd88-c98a-c4253d9160b1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 19 Jun 2023 22:08:18 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB7111B1A81265\u0022",
        "Last-Modified": "Mon, 19 Jun 2023 22:08:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03",
        "x-ms-version-id": "2023-06-19T22:08:21.2021861Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-91ebacbf-a878-93b8-b711-2a8627b53c29/test-blob-007a22da-fa07-fd88-c98a-c4253d9160b1?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-91ebacbf-a878-93b8-b711-2a8627b53c29/test-blob-eab9f4f3-d741-4bce-5bde-b45f2e80bc23",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jun 2023 22:08:18 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mUAhy2ahY\u002BdLGm7CM1iqOA==",
        "ETag": "\u00220x8DB7111B1B5A501\u0022",
        "Last-Modified": "Mon, 19 Jun 2023 22:08:21 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-91ebacbf-a878-93b8-b711-2a8627b53c29/test-blob-007a22da-fa07-fd88-c98a-c4253d9160b1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jun 2023 22:08:18 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB7111B1B5A501\u0022",
        "Last-Modified": "Mon, 19 Jun 2023 22:08:21 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 19 Jun 2023 22:08:21 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-01-03",
        "x-ms-version-id": "2023-06-19T22:08:21.2021861Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-91ebacbf-a878-93b8-b711-2a8627b53c29?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jun 2023 22:08:18 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2116133492",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n",
    "Storage_TestConfigOAuth": "OAuthTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net/\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\n\namnguye-rg\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
