{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5fbea7d8-2ca1-181c-cd2c-ea5c255968b6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB740D4233DF38\u0022",
        "Last-Modified": "Fri, 23 Jun 2023 17:14:09 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5fbea7d8-2ca1-181c-cd2c-ea5c255968b6/test-blob-9a458573-af6e-28cf-992b-28efd751f029",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB740D42404B19\u0022",
        "Last-Modified": "Fri, 23 Jun 2023 17:14:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03",
        "x-ms-version-id": "2023-06-23T17:14:09.7963801Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5fbea7d8-2ca1-181c-cd2c-ea5c255968b6/test-blob-9a458573-af6e-28cf-992b-28efd751f029?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "g/W\u002BFPpOy9Un9fus5OR9sbln1uCFDX/aIL7UoWHaHttNDE8VLFEQV4dUcr1b9rTpP0uW1XsUY3Z14/M7eSl0TdYgX9eUZ4RoV39ZMZrCfyoJ62EWQ0hfOanYoEld1N5d3yXmOpbcVNjGLn38ujHcsmTJMo3IXgmOwSYuu8Y7CoOg\u002B1F120STLJeITxXLY353/O7klKJQlYEbWHlwrpgRiiP6W7/gZ9cgNQX2Pw70w12ntr/YV3bhUGbQWYLKI33/d8Xx0Ae\u002Bl5UWxF\u002BcWVVyJpUbyPjYOTKtGApYEA1UVRKH98hIAvJV6R4qwpIWRPYRXTPtrlqFJj2SRLj9ZYeIwW9MFWKMKSOjxt/ZrnefltMTR7LZZ6a3AdCKtr45WIOXogAjyi\u002[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5fbea7d8-2ca1-181c-cd2c-ea5c255968b6/test-blob-28515133-daee-88b7-9d1e-727d33b0a733",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB740D427C8806\u0022",
        "Last-Modified": "Fri, 23 Jun 2023 17:14:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03",
        "x-ms-version-id": "2023-06-23T17:14:10.1911558Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5fbea7d8-2ca1-181c-cd2c-ea5c255968b6/test-blob-28515133-daee-88b7-9d1e-727d33b0a733?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-5fbea7d8-2ca1-181c-cd2c-ea5c255968b6/test-blob-9a458573-af6e-28cf-992b-28efd751f029",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "XC3YoQ8AdVGCYV6ARq9/rA==",
        "ETag": "\u00220x8DB740D428CD951\u0022",
        "Last-Modified": "Fri, 23 Jun 2023 17:14:10 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5fbea7d8-2ca1-181c-cd2c-ea5c255968b6/test-blob-28515133-daee-88b7-9d1e-727d33b0a733",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB740D428CD951\u0022",
        "Last-Modified": "Fri, 23 Jun 2023 17:14:10 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 23 Jun 2023 17:14:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-01-03",
        "x-ms-version-id": "2023-06-23T17:14:10.1911558Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5fbea7d8-2ca1-181c-cd2c-ea5c255968b6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1417175027",
    "Storage_TestConfigOAuth": "OAuthTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net/\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\n\namnguye-rg\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
