{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b7026b2e-6733-814a-8f7b-5440cb3f50c3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 08 Jun 2023 20:28:54 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB685EFA78AAA6\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 20:28:54 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b7026b2e-6733-814a-8f7b-5440cb3f50c3/test-blob-612172d8-c09d-6ce5-7905-1bd73cd44ce4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 08 Jun 2023 20:28:54 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB685EFA8300CB\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 20:28:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03",
        "x-ms-version-id": "2023-06-08T20:28:54.2161099Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b7026b2e-6733-814a-8f7b-5440cb3f50c3/test-blob-612172d8-c09d-6ce5-7905-1bd73cd44ce4?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 08 Jun 2023 20:28:54 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "NJQDKTeKXHrhtOEGaQibkahCS13/8Y0w6OSzKfSDl20X0CaTceN4euMZ/UXDJE8Hw8o\u002Bi0hx5kIG0kFT1zKGXh1z7pnhByDFytF55vRIbMSUq2UqRAslpenkjJ6iJKOwk58nUDW1JbuqecF3\u002BP9OvmZ8vivMWxoRTkmv/XuBI6UtyFNVIByO34aqgMtJra3pls04JWV45DeEFQLsBihAKFYcSi\u002Br\u002BZ1J7t\u002BlIttPyKCcxWatSf0/tOQc0AsaodldaVd1LWJ\u002BPZ0w7jeG08FbNU1hUEDBkt5Y3JVKjymSLkwGR7iD2po\u002BHYfJfVrGueEjwJq9uVGZm9d5HFDNM650nb/qgIsI2FuyIjK49xWDkSOzJs6O1HX7bazhCr1J[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b7026b2e-6733-814a-8f7b-5440cb3f50c3/test-blob-e31a4cca-20ec-c262-05b5-f2509d93d187",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 08 Jun 2023 20:28:54 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB685EFA9240D4\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 20:28:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03",
        "x-ms-version-id": "2023-06-08T20:28:54.3160532Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b7026b2e-6733-814a-8f7b-5440cb3f50c3/test-blob-e31a4cca-20ec-c262-05b5-f2509d93d187?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-b7026b2e-6733-814a-8f7b-5440cb3f50c3/test-blob-612172d8-c09d-6ce5-7905-1bd73cd44ce4",
        "x-ms-date": "Thu, 08 Jun 2023 20:28:54 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB685EFAFF23A6\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 20:28:55 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "Yyvd2lNEMLU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b7026b2e-6733-814a-8f7b-5440cb3f50c3/test-blob-e31a4cca-20ec-c262-05b5-f2509d93d187",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 Jun 2023 20:28:55 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB685EFAFF23A6\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 20:28:55 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 08 Jun 2023 20:28:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-01-03",
        "x-ms-version-id": "2023-06-08T20:28:54.3160532Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b7026b2e-6733-814a-8f7b-5440cb3f50c3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 Jun 2023 20:28:55 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1335119443",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
