{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b05847ff-ea74-849e-ad0d-6682a02f5de8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Dec 2022 00:18:01 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD7E881133F4E\u0022",
        "Last-Modified": "Wed, 07 Dec 2022 00:18:02 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b05847ff-ea74-849e-ad0d-6682a02f5de8/test-blob-4fb71161-4552-0ea2-53b6-97396c437b06",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 07 Dec 2022 00:18:02 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD7E88144995B\u0022",
        "Last-Modified": "Wed, 07 Dec 2022 00:18:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-07T00:18:02.7487579Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b05847ff-ea74-849e-ad0d-6682a02f5de8/test-blob-4fb71161-4552-0ea2-53b6-97396c437b06?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 07 Dec 2022 00:18:02 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "PSy8wDV0F67DRwCEl7LeY/uu\u002BPbvf\u002BZ/POyVGv7\u002BkZj6UwSW\u002BH6a7foIiwtFHnag2DQ9vUuEFr5FPIRJ3/2vxbZniUStR2p9FAv85vPbOh519EHKwdNNdjxFULv5UQ78WcZV3pQy85HKv6k/iDDKagJl0\u002Bq85QTiGRMIZ/aug8L9AI0thVyKQgGv/wEqDe0Leua5lH0jQHPCc8SAKYuaGzvmQoejneSm25DoDOUCtwsl/O0P9e9F2cAZahKYChl2FOTFQ8tmaNwCErnsOzONv7u4Wi2eiiVMoWnHiTPRDtB3cfcBPHNAv5QQDeM2WJ6MjKpX36/r2Im\u002BeaJint6pMATodMk7i4NHd5qYjX1CFkjLO/2Iei4hi5ltQ8PR3iG1Z[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b05847ff-ea74-849e-ad0d-6682a02f5de8/test-blob-4fb71161-4552-0ea2-53b6-97396c437b06?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 07 Dec 2022 00:18:02 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "PSy8wDV0F67DRwCEl7LeY/uu\u002BPbvf\u002BZ/POyVGv7\u002BkZj6UwSW\u002BH6a7foIiwtFHnag2DQ9vUuEFr5FPIRJ3/2vxbZniUStR2p9FAv85vPbOh519EHKwdNNdjxFULv5UQ78WcZV3pQy85HKv6k/iDDKagJl0\u002Bq85QTiGRMIZ/aug8L9AI0thVyKQgGv/wEqDe0Leua5lH0jQHPCc8SAKYuaGzvmQoejneSm25DoDOUCtwsl/O0P9e9F2cAZahKYChl2FOTFQ8tmaNwCE[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b05847ff-ea74-849e-ad0d-6682a02f5de8/test-blob-4fb71161-4552-0ea2-53b6-97396c437b06",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Dec 2022 00:18:02 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 1024-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAD7E8815A8F34\u0022",
        "Last-Modified": "Wed, 07 Dec 2022 00:18:02 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 07 Dec 2022 00:18:02 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-07T00:18:02.7487579Z"
      },
      "ResponseBody": "PSy8wDV0F67DRwCEl7LeY/uu\u002BPbvf\u002BZ/POyVGv7\u002BkZj6UwSW\u002BH6a7foIiwtFHnag2DQ9vUuEFr5FPIRJ3/2vxbZniUStR2p9FAv85vPbOh519EHKwdNNdjxFULv5UQ78WcZV3pQy85HKv6k/iDDKagJl0\u002Bq85QTiGRMIZ/aug8L9AI0thVyKQgGv/wEqDe0Leua5lH0jQHPCc8SAKYuaGzvmQoejneSm25DoDOUCtwsl/O0P9e9F2cAZahKYChl2FOTFQ8tmaNwCErnsOzONv7u4Wi2eiiVMoWnHiTPRDtB3cfcBPHNAv5QQDeM2WJ6MjKpX36/r2Im\u002Be[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b05847ff-ea74-849e-ad0d-6682a02f5de8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Dec 2022 00:18:02 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1465362466",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
