{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bc5961c7-7bca-13dd-bfb4-b3ac00f8a779?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Dec 2022 00:18:29 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD7E8919C250D\u0022",
        "Last-Modified": "Wed, 07 Dec 2022 00:18:30 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bc5961c7-7bca-13dd-bfb4-b3ac00f8a779/test-blob-c92bb2fa-1dec-4ff0-faae-991e72b02a06?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 07 Dec 2022 00:18:29 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=5-1028",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "\u002BBKXn5dNHcxzYJ9Fr3gnx47yMjaN8rX4bxFfrZtOBVObwfZxxHx/rJVfVox9q5\u002BBh9KQgH30eQZcnjCG7nAwJVpLqe6CtQIRcoahLZwoesRx3SXJvoXVp0jwFCZM\u002Bb0kLzAxMQGx/tHQfg33UktqNCNrFBBKZ2fUdQKlkaHcxHjJfP5r90jCv99T\u002BT933lT8huAC4eWs2sjJXLv/C20w9LmVLtVN/zzaqVQx9m0nXZetqQvA2eOTHKI2oZqNw7NyIwSF4rB/r4ejJzeQeuNaof8kUmJhcBrWAREzFl2iTeahv9NponvnLvmEHLGrA6G\u002B3ACbaHBRELLqr\u002BCeS5kpAdpR77oQ8P\u002BDPCRp3FNpKv5vdTpdB\u002BV1UK4[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bc5961c7-7bca-13dd-bfb4-b3ac00f8a779?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Dec 2022 00:18:29 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1125450337",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
