{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c60763fc-8baa-3867-7e5c-d51b986b6a93?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Dec 2022 00:18:29 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD7E891C3566A\u0022",
        "Last-Modified": "Wed, 07 Dec 2022 00:18:30 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c60763fc-8baa-3867-7e5c-d51b986b6a93/test-blob-261eb680-b212-cd58-f706-e875ccfe6aad",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 07 Dec 2022 00:18:29 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD7E891CD70A3\u0022",
        "Last-Modified": "Wed, 07 Dec 2022 00:18:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-07T00:18:30.4891043Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c60763fc-8baa-3867-7e5c-d51b986b6a93/test-blob-261eb680-b212-cd58-f706-e875ccfe6aad?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 07 Dec 2022 00:18:30 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "ne9enV7rN7AuzPBP3gRVn8GM6BezmNMKoz\u002BHVdgHy5Yco8i839fTlX5u90XBCO7zsUizQBZS\u002BQUcVPkeY\u002BLXJgBaMzs7mL/puVKYRaGNSJtRlKOQU4uAyqnDn4vdtTGcltBFZ9WztxiIyofDubRjjgtezc8\u002BR9J12mmRePg0CwMg/K7QSOHGntyLB4kEvBD1XxB/f\u002BhiXU/90IxsIT8fVL6Do70Gk0Yqly/zs0BIcB5YnBjntIwbvp5f0ndUWnyda7PLgRlS78zKVei5b6kPtV9uE4QnN58yZ\u002BQepsHO1T2yVUiNfe8EBq1LHV6kYk/0UB0Y5Uf4djMTmRk0NEgL\u002B3\u002BqBxlhgTdwag3W2xlAjQWVKVajtvD2ud8[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c60763fc-8baa-3867-7e5c-d51b986b6a93/test-blob-261eb680-b212-cd58-f706-e875ccfe6aad?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 07 Dec 2022 00:18:30 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "ne9enV7rN7AuzPBP3gRVn8GM6BezmNMKoz\u002BHVdgHy5Yco8i839fTlX5u90XBCO7zsUizQBZS\u002BQUcVPkeY\u002BLXJgBaMzs7mL/puVKYRaGNSJtRlKOQU4uAyqnDn4vdtTGcltBFZ9WztxiIyofDubRjjgtezc8\u002BR9J12mmRePg0CwMg/K7QSOHGntyLB4kEvBD1XxB/f\u002BhiXU/90IxsIT8fVL6Do70Gk0Yqly/zs0BIcB5YnBjntIwbvp5f0ndUWnyda7PLgRlS78zKV[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c60763fc-8baa-3867-7e5c-d51b986b6a93/test-blob-261eb680-b212-cd58-f706-e875ccfe6aad",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Dec 2022 00:18:30 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 1024-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAD7E891E1B8FF\u0022",
        "Last-Modified": "Wed, 07 Dec 2022 00:18:30 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 07 Dec 2022 00:18:30 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-07T00:18:30.4891043Z"
      },
      "ResponseBody": "ne9enV7rN7AuzPBP3gRVn8GM6BezmNMKoz\u002BHVdgHy5Yco8i839fTlX5u90XBCO7zsUizQBZS\u002BQUcVPkeY\u002BLXJgBaMzs7mL/puVKYRaGNSJtRlKOQU4uAyqnDn4vdtTGcltBFZ9WztxiIyofDubRjjgtezc8\u002BR9J12mmRePg0CwMg/K7QSOHGntyLB4kEvBD1XxB/f\u002BhiXU/90IxsIT8fVL6Do70Gk0Yqly/zs0BIcB5YnBjntIwbvp5f0ndUWnyda7PLgRlS78zKVei5b6kPtV9uE4QnN58yZ\u002BQepsHO1T2yVUiNfe8EBq1LHV6kYk/0UB0Y5Uf4djMTm[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c60763fc-8baa-3867-7e5c-d51b986b6a93?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Dec 2022 00:18:30 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "737367095",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
