{
  "Entries": [
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/acr/v1/ba455d13-f026-9c60-1203-4edf584672f8/_manifests?orderby=timeasc\u0026api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\u0022https://annelocontainerregistry.azurecr.io/oauth2/token\u0022,service=\u0022annelocontainerregistry.azurecr.io\u0022,scope=\u0022repository:ba455d13-f026-9c60-1203-4edf584672f8:metadata_read\u0022"
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "ba455d13-f026-9c60-1203-4edf584672f8",
                "Action": "metadata_read"
              }
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/oauth2/exchange?api-version=2021-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "grant_type=access_token\u0026service=annelocontainerregistry.azurecr.io\u0026access_token=Sanitized",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-calls-per-second": "166.6"
      },
      "ResponseBody": {
        "refresh_token": "Sanitized.eyJleHAiOjI2MTY5NzEyMDR9.Sanitized"
      }
    },
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/oauth2/token?api-version=2021-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "service=annelocontainerregistry.azurecr.io\u0026scope=repository%3Aba455d13-f026-9c60-1203-4edf584672f8%3Ametadata_read\u0026refresh_token=Sanitized\u0026grant_type=refresh_token",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-calls-per-second": "166.166667"
      },
      "ResponseBody": {
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/acr/v1/ba455d13-f026-9c60-1203-4edf584672f8/_manifests?orderby=timeasc\u0026api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0"
      },
      "ResponseBody": {
        "registry": "annelocontainerregistry.azurecr.io",
        "imageName": "ba455d13-f026-9c60-1203-4edf584672f8",
        "manifests": [
          {
            "digest": "sha256:e5fae6f325c357b5cecc99be953d1e6d346d07499d8a9b8ea19967cb87d72d2c",
            "imageSize": 0,
            "createdTime": "2022-12-13T00:26:45.9100353Z",
            "lastUpdateTime": "2022-12-13T00:26:45.9100353Z",
            "mediaType": "application/vnd.oci.image.manifest.v1\u002Bjson",
            "tags": [
              "v1"
            ],
            "changeableAttributes": {
              "deleteEnabled": true,
              "writeEnabled": true,
              "readEnabled": true,
              "listEnabled": true
            }
          },
          {
            "digest": "sha256:1eaea6492b1aa5f1e6f66409fafd6025883d875bf2cc46f12963e0c97630a45b",
            "imageSize": 0,
            "createdTime": "2022-12-13T00:26:47.6585933Z",
            "lastUpdateTime": "2022-12-13T00:26:47.6585933Z",
            "mediaType": "application/vnd.oci.image.manifest.v1\u002Bjson",
            "tags": [
              "v2"
            ],
            "changeableAttributes": {
              "deleteEnabled": true,
              "writeEnabled": true,
              "readEnabled": true,
              "listEnabled": true
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/acr/v1/ba455d13-f026-9c60-1203-4edf584672f8?api-version=2021-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\u0022https://annelocontainerregistry.azurecr.io/oauth2/token\u0022,service=\u0022annelocontainerregistry.azurecr.io\u0022,scope=\u0022repository:ba455d13-f026-9c60-1203-4edf584672f8:delete\u0022"
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "ba455d13-f026-9c60-1203-4edf584672f8",
                "Action": "delete"
              }
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/acr/v1/ba455d13-f026-9c60-1203-4edf584672f8?api-version=2021-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "X-Ms-Ratelimit-Remaining-Calls-Per-Second": "8.000000"
      },
      "ResponseBody": {
        "manifestsDeleted": [
          "sha256:1eaea6492b1aa5f1e6f66409fafd6025883d875bf2cc46f12963e0c97630a45b",
          "sha256:e5fae6f325c357b5cecc99be953d1e6d346d07499d8a9b8ea19967cb87d72d2c"
        ],
        "tagsDeleted": [
          "v1",
          "v2"
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "CONTAINERREGISTRY_ENDPOINT": "https://annelocontainerregistry.azurecr.io",
    "RandomSeed": "681362746"
  }
}
