{
  "Entries": [
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/acr/v1/library%2Fhello-world",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\u0022https://annelocontainerregistry.azurecr.io/oauth2/token\u0022,service=\u0022annelocontainerregistry.azurecr.io\u0022,scope=\u0022repository:library/hello-world:metadata_read\u0022"
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "library/hello-world",
                "Action": "metadata_read"
              }
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/oauth2/exchange",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "grant_type=access_token\u0026service=annelocontainerregistry.azurecr.io\u0026access_token=Sanitized",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-calls-per-second": "166.05"
      },
      "ResponseBody": {
        "refresh_token": "Sanitized.eyJleHAiOjI1NzQzNjE4NzZ9.Sanitized"
      }
    },
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/oauth2/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "service=annelocontainerregistry.azurecr.io\u0026scope=repository%3alibrary%2fhello-world%3ametadata_read\u0026refresh_token=Sanitized\u0026grant_type=refresh_token",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-calls-per-second": "166.033333"
      },
      "ResponseBody": {
        "access_token": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IkVERFE6SFVYWDpMQzQ3OlpCUk06T0k0WTpPUjY2OkFVWko6Qlk3RTo3N0pWOjU0UlI6UU1BSzpOTDI1In0.eyJqdGkiOiI3MmNjM2U2ZS0zZTc1LTRhMmQtYjcyMS04MTE5NDY5NzllMTUiLCJzdWIiOiI2YTIzODRjYi05Mzc2LTQwMjMtYjlmYi1hNDRjZmQ2YmFiNjUiLCJuYmYiOjE2MjgyODEwMjAsImV4cCI6MTYyODI4NTUyMCwiaWF0IjoxNjI4MjgxMDIwLCJpc3MiOiJBenVyZSBDb250YWluZXIgUmVnaXN0cnkiLCJhdWQiOiJhbm5lbG9jb250YWluZXJyZWdpc3RyeS5henVyZWNyLmlvIiwidmVyc2lvbiI6IjIuMCIsInJpZCI6ImM0ZjljYjU3N2Q2NzRkM2ZhZTk0MTI3MjI2NzY3N2E5IiwiYWNjZXNzIjpbeyJ0eXBlIjoicmVwb3NpdG9yeSIsIm5hbWUiOiJsaWJyYXJ5L2hlbGxvLXdvcmxkIiwiYWN0aW9ucyI6WyJtZXRhZGF0YV9yZWFkIl19XSwicm9sZXMiOltdLCJncmFudF90eXBlIjoiYWNjZXNzX3Rva2VuIiwiYXBwaWQiOiIwYTg4ZmZmZC0xMGZiLTQ5ODYtYmRkZi1lZmUwNDZlNTk0MGYifQ.F7qyupilRIbR8hDEpLx2O7M0c90lPAlpewRP5KdwGMVmNmAmW9-H3tC-aUpMby_5TndLCmfRny2bud6mQ6JY9qP_2AJT_6SSRIA8-fzsert_Ptvbh5VzOzsjVzPROXI3DTDh7J4DfJhbcVbgE07InMeJl2Rt6UVazna5XfM3zx8FsMtEYWRxp4uh321QmW0iFbain8N71SvCzQxDa43A7lPg4-4dGgI8kAsVqOI92XkD_1F3HmgYq4-4w_MCRtQphnskvWIka4FKj4Ms5Jq4DGEW-Scxk55wSTK6np_HdPS_FOM36wjYHFYohHgI-G6nJ8ucoDrbezessOOR-pZZFQ"
      }
    },
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/acr/v1/library%2Fhello-world",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0"
      },
      "ResponseBody": {
        "registry": "annelocontainerregistry.azurecr.io",
        "imageName": "library/hello-world",
        "createdTime": "2021-08-06T20:31:52.8585517Z",
        "lastUpdateTime": "2021-08-06T20:31:51.0638883Z",
        "manifestCount": 11,
        "tagCount": 5,
        "changeableAttributes": {
          "deleteEnabled": true,
          "writeEnabled": true,
          "readEnabled": true,
          "listEnabled": true,
          "teleportEnabled": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/acr/v1/library%2Fhello-world",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "deleteEnabled": true,
        "writeEnabled": true,
        "listEnabled": true,
        "readEnabled": true,
        "teleportEnabled": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0"
      },
      "ResponseBody": {
        "registry": "annelocontainerregistry.azurecr.io",
        "imageName": "library/hello-world",
        "createdTime": "2021-08-06T20:31:52.8585517Z",
        "lastUpdateTime": "2021-08-06T20:31:51.0638883Z",
        "manifestCount": 11,
        "tagCount": 5,
        "changeableAttributes": {
          "deleteEnabled": true,
          "writeEnabled": true,
          "readEnabled": true,
          "listEnabled": true,
          "teleportEnabled": false
        }
      }
    }
  ],
  "Variables": {
    "CONTAINERREGISTRY_ENDPOINT": "https://annelocontainerregistry.azurecr.io",
    "RandomSeed": "181583018"
  }
}