{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-0be10c8e-5d9a-b05e-2bc8-4fc68d9764e3?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Jul 2022 17:07:24 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA65BB530B37CD\u0022",
        "Last-Modified": "Thu, 14 Jul 2022 17:07:25 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-0be10c8e-5d9a-b05e-2bc8-4fc68d9764e3/test-directory-56df921f-5528-2e43-33c5-79762ddd10c8?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Jul 2022 17:07:24 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA65BB5317F3A8\u0022",
        "Last-Modified": "Thu, 14 Jul 2022 17:07:25 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-07-14T17:07:25.3714856Z",
        "x-ms-file-creation-time": "2022-07-14T17:07:25.3714856Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-14T17:07:25.3714856Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3480340292393086624*6383712961487845673",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-0be10c8e-5d9a-b05e-2bc8-4fc68d9764e3/test-directory-56df921f-5528-2e43-33c5-79762ddd10c8/test-file-5508ce43-2a10-c6b6-3380-8d9f6bc4df29",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 14 Jul 2022 17:07:24 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA65BB5324C318\u0022",
        "Last-Modified": "Thu, 14 Jul 2022 17:07:25 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-14T17:07:25.4554392Z",
        "x-ms-file-creation-time": "2022-07-14T17:07:25.4554392Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-07-14T17:07:25.4554392Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17309419537579889063*6383712961487845673",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-0be10c8e-5d9a-b05e-2bc8-4fc68d9764e3/test-directory-56df921f-5528-2e43-33c5-79762ddd10c8/test-file-5508ce43-2a10-c6b6-3380-8d9f6bc4df29?sv=2023-01-03\u0026ss=bqtf\u0026srt=ocs\u0026se=2022-07-15T17%3A07%3A24Z\u0026sp=rwdylacuptfi\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA65BB5324C318\u0022",
        "Last-Modified": "Thu, 14 Jul 2022 17:07:25 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-14T17:07:25.4554392Z",
        "x-ms-file-creation-time": "2022-07-14T17:07:25.4554392Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-07-14T17:07:25.4554392Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17309419537579889063*6383712961487845673",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-0be10c8e-5d9a-b05e-2bc8-4fc68d9764e3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Jul 2022 17:07:24 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-14T10:07:24.3951980-07:00",
    "RandomSeed": "399747737",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
