{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-f84062e3-1a4d-00bf-ed21-72aead050a49?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 22 Jun 2022 05:32:14 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA5410914A8BD8\u0022",
        "Last-Modified": "Wed, 22 Jun 2022 05:32:16 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-f84062e3-1a4d-00bf-ed21-72aead050a49/test-directory-799f2e8f-145d-5bec-b4b9-2de47c3f3853?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 22 Jun 2022 05:32:14 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA54109159253B\u0022",
        "Last-Modified": "Wed, 22 Jun 2022 05:32:16 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-06-22T05:32:16.1094971Z",
        "x-ms-file-creation-time": "2022-06-22T05:32:16.1094971Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-06-22T05:32:16.1094971Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-f84062e3-1a4d-00bf-ed21-72aead050a49/test-directory-799f2e8f-145d-5bec-b4b9-2de47c3f3853/test-file-36a193d1-772a-fd83-721f-6681feebb61b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Wed, 22 Jun 2022 05:32:14 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA541091655864\u0022",
        "Last-Modified": "Wed, 22 Jun 2022 05:32:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-06-22T05:32:16.1894500Z",
        "x-ms-file-creation-time": "2022-06-22T05:32:16.1894500Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-06-22T05:32:16.1894500Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-f84062e3-1a4d-00bf-ed21-72aead050a49/test-directory-799f2e8f-145d-5bec-b4b9-2de47c3f3853/test-file-36a193d1-772a-fd83-721f-6681feebb61b?sv=2021-08-06\u0026ss=bqtf\u0026srt=cos\u0026se=2022-06-23T05%3A32%3A14Z\u0026sp=rwdylacuptfi\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA541091655864\u0022",
        "Last-Modified": "Wed, 22 Jun 2022 05:32:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-06-22T05:32:16.1894500Z",
        "x-ms-file-creation-time": "2022-06-22T05:32:16.1894500Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-06-22T05:32:16.1894500Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-f84062e3-1a4d-00bf-ed21-72aead050a49?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 22 Jun 2022 05:32:14 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-06-21T22:32:14.4906926-07:00",
    "RandomSeed": "2127036397",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
