{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-8c9f59b0-eb70-e3e1-623b-996bc7631eac?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:55:12 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-96480d5a-a01e-f2cb-cdf4-f866d8962029?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:28:22 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:55:12 GMT",
        "ETag": "\u00220x8D779E6F3292D22\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:55:12 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:28:22 GMT",
        "ETag": "\u00220x8D779E333C1B4CA\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:28:22 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "305f45bd-d063-c4d9-351e-74edfbd6982f",
        "x-ms-request-id": "6a22e403-f01a-003d-61cf-abe420000000",
=======
        "x-ms-client-request-id": "2a6a52da-0386-9f3a-bf10-f5c098ffa4d4",
        "x-ms-request-id": "207a5989-c01a-0026-14cc-abda23000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-8c9f59b0-eb70-e3e1-623b-996bc7631eac?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:55:12 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-96480d5a-a01e-f2cb-cdf4-f866d8962029?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders":[...]
