{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-50e7f240-a4a0-9269-2130-9efd360037c2?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:12:44 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-96480d5a-a01e-f2cb-cdf4-f866d8962029?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:28:22 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:12:44 GMT",
        "ETag": "\u00220x8D77939613A0D75\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:12:44 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:28:22 GMT",
        "ETag": "\u00220x8D779E333C1B4CA\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:28:22 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "16cfec9e-6f68-e5e5-2808-aef19876eb64",
        "x-ms-request-id": "011a0d0f-f01a-0002-6a22-ab2c83000000",
=======
        "x-ms-client-request-id": "2a6a52da-0386-9f3a-bf10-f5c098ffa4d4",
        "x-ms-request-id": "207a5989-c01a-0026-14cc-abda23000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-50e7f240-a4a0-9269-2130-9efd360037c2?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:12:44 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-96480d5a-a01e-f2cb-cdf4-f866d8962029?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders":[...]
