{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-50e7f240-a4a0-9269-2130-9efd360037c2?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-e59d19d0be68b643960afb0577705a2a-9acd5712dacb564a-00",
=======
        "traceparent": "00-1faf6817962d4a40bcccb4f1502e499e-6bd3d5eca285d948-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "16cfec9e-6f68-e5e5-2808-aef19876eb64",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:02:48 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:47:48 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:02:47 GMT",
        "ETag": "\u00220x8D7790E1519C3E4\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:02:48 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:47:48 GMT",
        "ETag": "\u00220x8D778F2D72C7110\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:47:48 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "16cfec9e-6f68-e5e5-2808-aef19876eb64",
<<<<<<< HEAD
        "x-ms-request-id": "d314342b-101a-0035-78f6-aafe2f000000",
=======
        "x-ms-request-id": "0114e827-f01a-0002-26db-aa2c83000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-50e7f240-a4a0-9269-2130-9efd360037c2?restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-21e4de663d43f740b428265cd45f0bef-5ac361486a198149-00",
=======
        "traceparent": "00-658d8bc56616734e9f788d475585379c-50568deb28700b4c-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "8ea903c1-a217-2833-3911-09b2c956f535",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:02:48 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:47:48 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:02:48 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:47:48 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "8ea903c1-a217-2833-3911-09b2c956f535",
        "x-ms-error-code": "ShareNotFound",
<<<<<<< HEAD
        "x-ms-request-id": "d3143433-101a-0035-7ef6-aafe2f000000",
=======
        "x-ms-request-id": "0114e82d-f01a-0002-2bdb-aa2c83000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EShareNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified share does not exist.\n",
<<<<<<< HEAD
        "RequestId:d3143433-101a-0035-7ef6-aafe2f000000\n",
        "Time:2019-12-04T23:02:48.8457041Z\u003C/Message\u003E\u003C/Error\u003E"
=======
        "RequestId:0114e82d-f01a-0002-2bdb-aa2c83000000\n",
        "Time:2019-12-04T19:47:48.5647206Z\u003C/Message\u003E\u003C/Error\u003E"
>>>>>>> feature/storage/stg71-base
      ]
    }
  ],
  "Variables": {
    "RandomSeed": "1353490202",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}