{
  "Entries": [
    {
      "RequestUri": "http://seancanarypremiumfile2.file.core.windows.net/?restype=service&comp=properties",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Mar 2021 16:34:07 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceProperties><HourMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></MinuteMetrics><Cors><CorsRule><AllowedMethods>DELETE,GET,HEAD,MERGE,POST,OPTIONS,PUT,PATCH</AllowedMethods><AllowedOrigins>*</AllowedOrigins><AllowedHeaders>*</AllowedHeaders><ExposedHeaders>*</ExposedHeaders><MaxAgeInSeconds>86400</MaxAgeInSeconds></CorsRule></Cors><ProtocolSettings><SMB><Multichannel><Enabled>false</Enabled></Multichannel></SMB></ProtocolSettings></StorageServiceProperties>"
    },
[...]
    {
      "RequestUri": "http://seancanarypremiumfile2.file.core.windows.net/?restype=service&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Tue, 23 Mar 2021 16:34:09 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "﻿<StorageServiceProperties><HourMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></MinuteMetrics><ProtocolSettings><SMB><Multichannel><Enabled>false</Enabled></Multichannel></SMB></ProtocolSettings><Cors><CorsRule><AllowedOrigins>*</AllowedOrigins><AllowedMethods>DELETE,GET,HEAD,MERGE,POST,OPTIONS,PUT,PATCH</AllowedMethods><AllowedHeaders>*</AllowedHeaders><ExposedHeaders>*</ExposedHeaders><MaxAgeInSeconds>86400</MaxAgeInSeconds></CorsRule></Cors></StorageServiceProperties>",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1874837654",
    "Storage_TestConfigPremiumFile": "PremiumFileTenant\nseancanarypremiumfile2\nU2FuaXRpemVk\nhttp://seancanarypremiumfile2.blob.core.windows.net\nhttp://seancanarypremiumfile2.file.core.windows.net\nhttp://seancanarypremiumfile2.queue.core.windows.net\nhttp://seancanarypremiumfile2.table.core.windows.net\n\n\n\n\nhttp://seancanarypremiumfile2-secondary.blob.core.windows.net\nhttp://seancanarypremiumfile2-secondary.file.core.windows.net\nhttp://seancanarypremiumfile2-secondary.queue.core.windows.net\nhttp://seancanarypremiumfile2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seancanarypremiumfile2.blob.core.windows.net/;QueueEndpoint=http://seancanarypremiumfile2.queue.core.windows.net/;FileEndpoint=http://seancanarypremiumfile2.file.core.windows.net/;BlobSecondaryEndpoint=http://seancanarypremiumfile2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seancanarypremiumfile2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seancanarypremiumfile2-secondary.file.core.windows.net/;AccountName=seancanarypremiumfile2;AccountKey=Sanitized\n\n\n"
  }
}