{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5513adc0-b5e6-6c1b-b47d-c962a1755f5d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:28:27 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D779E336AB41B5\"",
        "Last-Modified": "Fri, 06 Dec 2019 00:28:27 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/?comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:28:27 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://seanstagetest.file.core.windows.net/\"><Shares><Share><Name>defaultshare14</Name><Properties><Last-Modified>Fri, 26 Jul 2019 19:09:10 GMT</Last-Modified><Etag>\"0x8D711FCBD5C193E\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>emptyheadershare1</Name><Properties><Last-Modified>Fri, 26 Jul 2019 19:10:58 GMT</Last-Modified><Etag>\"0x8D711FCFDCE2C47\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>publicshare14</Name><Properties><Last-Modified>Fri, 26 Jul 2019 19:09:10 GMT</Last-Modified><Etag>\"0x8D711FCBD7CE20E\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>test-share-20c05b73-7f41-ef79-7e8f-5999fc51d173</Name><Properties><Last-Modified>Thu, 05 Dec[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5513adc0-b5e6-6c1b-b47d-c962a1755f5d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:28:28 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "56899427",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}