{
  "Entries": [
    {
      "RequestUri": "https://seansoftdeletecanary.file.core.windows.net/test-share-56f2609f-ac2e-5dee-b252-5bdc002ac31e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:34:43 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C2316DE5EE59\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:34:42 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seansoftdeletecanary.file.core.windows.net/test-share-56f2609f-ac2e-5dee-b252-5bdc002ac31e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:34:43 GMT",
        "x-ms-delete-snapshots": "include"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seansoftdeletecanary.file.core.windows.net/?comp=list\u0026include=Deleted",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:34:43 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://seansoftdeletecanary.file.core.windows.net/\u0022\u003E\u003CShares\u003E\u003CShare\u003E\u003CName\u003Eexisting647b1102\u003C/Name\u003E\u003CProperties\u003E\u003CLast-Modified\u003EMon, 11 May 2020 18:54:32 GMT\u003C/Last-Modified\u003E\u003CEtag\u003E\u00220x8D7F5DCBE38249A\u0022\u003C/Etag\u003E\u003CLeaseStatus[...]
