{
  "Entries": [
    {
      "RequestUri": "http://seansoftdeletecanary.file.core.windows.net/test-share-fcb77254-09e6-e109-51fb-5251a41e8ef8?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 12 Apr 2020 20:48:30 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7DF22DADDFA61\u0022",
        "Last-Modified": "Sun, 12 Apr 2020 20:48:29 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seansoftdeletecanary.file.core.windows.net/test-share-fcb77254-09e6-e109-51fb-5251a41e8ef8?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 12 Apr 2020 20:48:30 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seansoftdeletecanary.file.core.windows.net/?comp=list\u0026include=deleted",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 12 Apr 2020 20:48:30 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022http://seansoftdeletecanary.file.core.windows.net/\u0022\u003E\u003CShares\u003E\u003CShare\u003E\u003CName\u003Etest-share-04423526-abc3-44c9-aa2e-540f6eecac0d\u003C/Name\u003E\u003CProperties\u003E\u003CLast-Modified\u003ESun, 12 Apr 2020 18:42:18 GMT\u003C/Last-Modified\u003E\u003CEtag\[...]
