{
  "Entries": [
    {
      "RequestUri": "https://azs-net-jbsukfmv.search.windows.net/indexes(\u0027nmlauecq\u0027)/docs/search.index?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "hotelId": "1",
            "hotelName": "2015-02-11T12:58:00Z",
            "rooms": [
              {
                "baseRate": "NaN"
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "153",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-jbsukfmv.search.windows.net/indexes(\u0027nmlauecq\u0027)/$metadata#Collection(Microsoft.Azure.Search.V2019_05_06_Preview.IndexResult)",
        "value": [
          {
            "key": "1",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-jbsukfmv.search.windows.net/indexes(\u0027nmlauecq\u0027)/docs(\u00271\u0027)?$select=hotelId%2ChotelName%2Crooms%2FbaseRate\u0026api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "elapsed-time": "32",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-jbsukfmv.search.windows.net/indexes(\u0027nmlauecq\u0027)/$metadata#docs(*)/$entity",
        "hotelId": "1",
        "hotelName": "2015-02-11T12:58:00Z",
        "rooms": [
          {
            "baseRate": "NaN"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1073368072",
    "SearchIndexName": "nmlauecq",
    "SearchServiceName": "azs-net-jbsukfmv"
  }
}