{
  "Entries": [
    {
      "RequestUri": "/subscriptions/4fb495a7-bdba-44c6-8058-4f25be33c3ec/providers/Microsoft.HDInsight/locations/South%20Central%20US/checkNameAvailability?api-version=2021-06-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"testclustername\",\r\n  \"type\": \"clusters\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-hdi-served-by": [
          "global"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": true\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {
    ".ctor": [
      "admin3021",
      "Password1!6877",
      "sshuser9903",
      "Password1!8795",
      "d06154c6-5f96-4acb-9835-df83383046d2",
      "hdicsharprg8621",
      "hdicsharpstorage8952",
      "hdicsharpmsi7082",
      "hdicsharpvault1603",
      "hdicsharpadls7276",
      "default1673",
      "storageaccountkey2435"
    ],
    "TestInitialize": [
      "4fb495a7-bdba-44c6-8058-4f25be33c3ec"
    ]
  },
  "Variables": {
    "SubscriptionId": "4fb495a7-bdba-44c6-8058-4f25be33c3ec"
  }
}
