{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0ce505de-6568-4f7e-8525-e29a4a915700/providers/Microsoft.HDInsight/locations/South%20Central%20US/usages?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-hdi-served-by": [
          "southcentralus"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"unit\": \"Count\",\r\n      \"currentValue\": 120,\r\n      \"limit\": 3000,\r\n      \"name\": {\r\n        \"value\": \"cores\",\r\n        \"localizedValue\": \"Cores\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {
    ".ctor": [
      "admin7395",
      "Password1!7219",
      "sshuser5821",
      "Password1!9962",
      "3684393a-4f5c-4692-9269-6706a2f15af6",
      "hdicsharprg3139",
      "hdicsharpstorage458",
      "hdicsharpmsi7163",
      "hdicsharpvault8764",
      "hdicsharpadls9937",
      "default2909",
      "storageaccountkey7189"
    ],
    "TestInitialize": [
      "0ce505de-6568-4f7e-8525-e29a4a915700"
    ]
  },
  "Variables": {
    "SubscriptionId": "0ce505de-6568-4f7e-8525-e29a4a915700"
  }
}
