{
  "Entries": [
    {
      "RequestUri": "/subscriptions/f0064e63-f407-43be-aa75-5a2db469f613/providers/Microsoft.HDInsight/locations/South%20Central%20US/capabilities?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-hdi-served-by": [
          "southcentralus"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"versions\": {\r\n    \"paas\": {\r\n      \"available\": []\r\n    },\r\n    \"iaas\": {\r\n      \"available\": [\r\n        {\r\n          \"friendlyName\": \"3.5\",\r\n          \"displayName\": \"Version 3.5.1000.0.1910181712\",\r\n          \"isDefault\": false,\r\n          \"componentVersions\": {\r\n            \"HDP\": \"2.5\"\r\n          }\r\n        },\r\n        {\r\n          \"friendlyName\": \"3.6\",\r\n          \"displayName\": \"Version 3.6.2000.67.2107220401\",\r\n          \"isDefault\": false,\r\n          \"componentVersions\": {\r\n            \"HDP\": \"2.6\",\r\n            \"Hadoop\": \"2.7.3\",\r\n            \"HBase\": \"1.1.2\",\r\n            \"Storm\": \"1.1.0\",\r\n            \"Spark\": \"2.1,2.2,2.3\",\r\n            \"RServer\": \"9.1\",\r\n            \"Kafka\": \"1.0.0,1.1.0\",\r\n            \"InteractiveHive\": \"2.1.0\",\r\n            \"MLServices\": \"9.3\"\r\n          }\r\n        },\r\n        {\r\n          \"friendlyName\": \"4.0\",\r\n          \"displayName\": \"Version 5.0.2000.0.2107220401\",\r\n          \"isDefault\": true,\r\n          \"componentVersions\": {\r\n            \"HDP\": \"3.0\",\r\n            \"Hadoop\": \"3.1.0\",\r\n            \"HBase\": \"2.1.6\",\r\n            \"InteractiveHive\": \"3.1.0\",\r\n            \"Kafka\": \"1.1.0,2.1.1,2.4.1\",\r\n            \"Spark\": \"2.3,2.4,3.0\"\r\n          }\r\n        }\r\n      ]\r\n    }\r\n  },\r\n  \"regions\": {\r\n    \"paas\": {\r\n      \"available\": [\r\n        \"AUSTRALIA EAST\",\r\n        \"AUSTRALIA SOUTHEAST\",\r\n        \"BRAZIL SOUTH\",\r\n        \"CENTRAL INDIA\",\r\n        \"CENTRAL US\",\r\n        \"EAST ASIA\",\r\n        \"EAST US\",\r\n        \"JAPAN EAST\",\r\n        \"JAPAN WEST\",\r\n        \"NORTH CENTRAL US\",\r\n        \"NORTH EUROPE\",\r\n        \"SOUTHEAST ASIA\",\r\n        \"WEST EUROPE\",\r\n        \"WEST US\"\r\n      ]\r\n    },\r\n    \"iaas\": {\r\n      \"available\": [\r\n        \"AUSTRALIA EAST\",\r\n        \"AUSTRALIA SOUTHEAST\",\r\n        \"CENTRAL US\",\r\n        \"EAST ASIA\",\r\n        \"EAST US\",\r\n        \"EAST US 2\",\r\n        \"JAPAN EAST\",\r\n        \"JAPAN WEST\",\r\n        \"NORTH CENTRAL US\",\r\n        \"NORTH EUROPE\",\r\n        \"SOUTH CENTRAL US\",\r\n        \"SOUTHEAST ASIA\",\r\n        \"WEST EUROPE\",\r\n        \"WEST US\"\r\n      ]\r\n    }\r\n  },\r\n  \"features\": [\r\n    \"ALLOW_GATEWAY_AUTH_BYPASS\",\r\n    \"ALLOW_IP_WHITELISTING_WITH_SERVICE_TAGS\",\r\n    \"ALLOW_RP_ACCESS_TO_CUSTOMER_SQL_DB\",\r\n    \"ALLOW_RP_ACCESS_TO_STORAGE_ACCOUNTS\",\r\n    \"ALLOW_SECURE_HADOOP_CLUSTER_TYPE_3_6\",\r\n    \"ALLOW_SECURE_HADOOP_CLUSTER_TYPE_99_200\",\r\n    \"ALLOW_SECURE_HBASE_CLUSTER_TYPE_3_6\",\r\n    \"ALLOW_SECURE_HBASE_CLUSTER_TYPE_99_200\",\r\n    \"ALLOW_SECURE_INTERACTIVE_HIVE_CLUSTER_TYPE\",\r\n    \"ALLOW_SECURE_INTERACTIVEHIVE_CLUSTER_TYPE_3_6\",[...]
