{
  "Entries": [
    {
      "RequestUri": "/subscriptions/660b0539-b643-4769-adee-83c40a2b34af/providers/Microsoft.HDInsight/locations/East%20US%202/usages?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-hdi-served-by": [
          "global"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11980"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"unit\": \"Count\",\r\n      \"currentValue\": 950,\r\n      \"limit\": 1000,\r\n      \"name\": {\r\n        \"value\": \"cores\",\r\n        \"localizedValue\": \"Cores\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {
    ".ctor": [
      "admin3098",
      "Password13463",
      "sshuser181",
      "Password11196",
      "f2f6371f-b8cd-4c2f-be10-d34458e6b8ff",
      "hdicsharprg2897",
      "hdicsharpstorage4372",
      "hdicsharpmsi6829",
      "hdicsharpvault557",
      "hdicsharpadls1888",
      "default76",
      "storageaccountkey4510",
      "660b0539-b643-4769-adee-83c40a2b34af"
    ]
  },
  "Variables": {
    "SubscriptionId": "660b0539-b643-4769-adee-83c40a2b34af"
  }
}
