{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"activationTime\": \"2018-08-11T16:21:37.3451912Z\",\r\n        \"allowedDeviceOperations\": [\r\n          \"Delete\",\r\n          \"DRTarget\",\r\n          \"Browsable\"\r\n        ],\r\n        \"culture\": \"en-US\",\r\n        \"deviceCapabilities\": [\r\n          \"IscsiServer\"\r\n        ],\r\n        \"domainName\": \"fareast.corp.microsoft.com\",\r\n        \"deviceSoftwareVersion\": \"10.0.10296.0\",\r\n        \"deviceConfigurationStatus\": \"Pending\",\r\n        \"modelDescription\": \"1200\",\r\n        \"status\": \"ReadyToSetup\",\r\n        \"type\": \"Series9000OnPremVirtualAppliance\"\r\n      },\r\n      \"id\": \"/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-UGU4PITWNI\",\r\n      \"name\": \"HSDK-UGU4PITWNI\",\r\n      \"type\": \"Microsoft.StorSimple/managers/devices\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"activationTime\": \"2018-08-11T14:42:31.0604569Z\",\r\n        \"allowedDeviceOperations\": [\r\n          \"Delete\",\r\n          \"DRTarget\",\r\n          \"Browsable\"\r\n        ],\r\n        \"culture\": \"en-US\",\r\n        \"deviceCapabilities\": [\r\n          \"FileServer\"\r\n        ],\r\n        \"domainName\": \"fareast.corp.microsoft.com\"[...]
    {
      "RequestUri": "/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-UGU4PITWNI?api-version=2016-10-01",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"deviceDescription\": \"NewDescription8/14/2018 2:30:34 PM\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-UGU4PITWNI/operationResults/40a3d605-088a-409a-bc60-88fbdc3692d0?api-version=2016-06-01"
        ],
        "Retry-After": [
          "30"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-UGU4PITWNI/operationResults/40a3d605-088a-409a-bc60-88fbdc3692d0?api-version=2016-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-UGU4PITWNI?api-version=2016-10-01"
        ],
        "Retry-After": [
          "1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14996"
        ]
      },
      "StatusCode": 202
    },
[...]
