{
  "Entries": [
    {
      "RequestUri": "https://ads-dev-eastus-pv.purview.azure.com/share/sentShares/sample-Share/acceptedSentShares?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "receivedShareStatus": "Active",
              "createdAt": "2022-08-02T22:57:03.7339161Z",
              "sharedAt": "2022-08-02T22:32:02.6436301Z",
              "expirationDate": null,
              "receiverName": "Yaman Wahsheh",
              "receiverEmail": "yamanwahsheh@microsoft.com",
              "receiverTenantName": "Microsoft",
              "senderName": "SyMS",
              "senderEmail": null,
              "senderTenantName": "Microsoft",
              "receiverTargetObjectId": "1326601a-cbdf-4d0a-9523-65be2d3c3ee3"
            },
            "shareKind": "InPlace",
            "id": "/sentShares/sample-Share/acceptedSentShares/1069f75c-6167-4367-a099-756f1e1da8a3",
            "name": "1069f75c-6167-4367-a099-756f1e1da8a3",
            "type": "sentShares/acceptedSentShares"
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "PURVIEW_SHARE_URL": "https://ads-dev-eastus-pv.purview.azure.com/share",
    "RandomSeed": "1623410903"
  }
}
