{
  "Entries": [
    {
      "RequestUri": "/customvision/v1.2/Training/projects?name=Test%20Project&description=This%20is%20a%20test%20project&domainId=c151d5b5-dd07-472a-acc8-15d29dea8518",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseBody": "{\r\n  \"Id\": \"8c20423b-f088-4228-af68-ca540cbdfec3\",\r\n  \"Name\": \"Test Project (4)\",\r\n  \"Description\": \"This is a test project\",\r\n  \"Settings\": {\r\n    \"DomainId\": \"c151d5b5-dd07-472a-acc8-15d29dea8518\",\r\n    \"Classification\": \"MultiLabel\",\r\n    \"UseNegativeSet\": true\r\n  },\r\n  \"CurrentIterationId\": \"3548ceeb-1df8-4a13-b0df-a050a5840839\",\r\n  \"Created\": \"2018-02-22T06:34:26.8333333\",\r\n  \"LastModified\": \"2018-02-22T06:34:26.8644699Z\",\r\n  \"ThumbnailUri\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/customvision/v1.2/Training/projects/8c20423b-f088-4228-af68-ca540cbdfec3/tags?name=Test%20Tag%201",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseBody": "{\r\n  \"Id\": \"0198e7f4-97cb-4f0e-be58-5e1b3f937405\",\r\n  \"Name\": \"Test Tag 1\",\r\n  \"Description\": null,\r\n  \"ImageCount\": 0\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/customvision/v1.2/Training/projects/8c20423b-f088-4228-af68-ca540cbdfec3/images/urls",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"Images\": [\r\n    {\r\n      \"Url\": \"https://raw.githubusercontent.com/Microsoft/Cognitive-CustomVision-Windows/master/Samples/Images/Hemlock/hemlock_1.jpg\"\r\n    }\r\n  ],\r\n  \"TagIds\": [\r\n    \"0198e7f4-97cb-4f0e-be58-5e1b3f937405\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Training-Key": [
          ""
        ]
      },
      "ResponseBody": "{\r\n  \"IsBatchSuccessful\": true,\r\n  \"Images\": [\r\n    {\r\n      \"SourceUrl\": \"https://raw.githubusercontent.com/Microsoft/Cognitive-CustomVision-Windows/master/Samples/Images/Hemlock/hemlock_1.jpg\",\r\n      \"Status\": \"OK\",\r\n      \"Image\": {\r\n        \"Id\": \"b7fbf606-8fa4-43ac-afb4-ff00c79b350e\",\r\n        \"Created\": \"2018-02-22T06:34:27.3166667\",\r\n        \"Width\": 900,\r\n        \"Height\": 1600,\r\n        \"ImageUri\": \"https://irisscuprodstore.blob.core.windows.net/i-8c20423bf0884228af68ca540cbdfec3/i-b7fbf6068fa443acafb4ff00c79b350e?sv=2016-05-31&sr=b&sig=9l7T1dcL6TIgw76CHMfvW10XoIsqhoa%2FRMnkJ3Nqyn0%3D&se=2018-02-23T00%3A00%3A00Z&sp=r\",\r\n        \"ThumbnailUri\": \"https://irisscuprodstore.blob.core.windows.net/i-8c20423bf0884228af68ca540cbdfec3/t-b7fbf6068fa443acafb4ff00c79b350e?sv=2016-05-31&sr=b&sig=JsEAJMYzH28AMF8IomY0HbaN56vjTDaTPjFiJ9UBnC4%3D&se=2018-02-23T00%3A00%3A00Z&sp=r\",\r\n        \"Tags\": [\r\n          {\r\n            \"TagId\": \"0198e7f4-97cb-4f0e-be58-5e1b3f937405\",\r\n            \"Created\": \"2018-02-22T06:34:27.2341057\"\r\n          }\r\n        ]\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/customvision/v1.2/Training/projects/8c20423b-f088-4228-af68-ca540cbdfec3",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
      },
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {}
}