{
  "Entries": [
    {
      "RequestUri": "/customvision/v2.2/Training/projects?name=Test%20Project&description=This%20is%20a%20test%20project",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"fb144c33-7ebe-4a15-a882-e3df65f4e5ed\",\r\n  \"name\": \"Test Project\",\r\n  \"description\": \"This is a test project\",\r\n  \"settings\": {\r\n    \"domainId\": \"ee85a74c-405e-4adc-bb47-ffa8ca0c9f31\",\r\n    \"classificationType\": \"Multilabel\",\r\n    \"useNegativeSet\": true,\r\n    \"detectionParameters\": null\r\n  },\r\n  \"created\": \"2018-10-18T17:05:06.6866667\",\r\n  \"lastModified\": \"2018-10-18T17:05:06.6866667\",\r\n  \"thumbnailUri\": null\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/customvision/v2.2/Training/projects/fb144c33-7ebe-4a15-a882-e3df65f4e5ed",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"name\": \"Another Name\",\r\n  \"description\": \"Updated Project Description\"\r\n}",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"fb144c33-7ebe-4a15-a882-e3df65f4e5ed\",\r\n  \"name\": \"Another Name\",\r\n  \"description\": \"Updated Project Description\",\r\n  \"settings\": {\r\n    \"domainId\": \"ee85a74c-405e-4adc-bb47-ffa8ca0c9f31\",\r\n    \"classificationType\": \"Multilabel\",\r\n    \"useNegativeSet\": true,\r\n    \"detectionParameters\": null\r\n  },\r\n  \"created\": \"2018-10-18T17:05:06.6866667\",\r\n  \"lastModified\": \"2018-10-18T17:05:06.7483979\",\r\n  \"thumbnailUri\": null\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/customvision/v2.2/Training/projects/fb144c33-7ebe-4a15-a882-e3df65f4e5ed",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {}
}