{
  "Entries": [
    {
      "RequestUri": "/customvision/v1.2/Training/projects?name=Test%20Project&description=This%20is%20a%20test%20project&domainId=c151d5b5-dd07-472a-acc8-15d29dea8518",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseBody": "{\r\n  \"Id\": \"a5b93d43-ae76-447e-8d3b-4b2df9ab14cb\",\r\n  \"Name\": \"Test Project (7)\",\r\n  \"Description\": \"This is a test project\",\r\n  \"Settings\": {\r\n    \"DomainId\": \"c151d5b5-dd07-472a-acc8-15d29dea8518\",\r\n    \"Classification\": \"MultiLabel\",\r\n    \"UseNegativeSet\": true\r\n  },\r\n  \"CurrentIterationId\": \"8bbf8c4f-2064-488e-af69-d32e6370a093\",\r\n  \"Created\": \"2018-02-22T16:45:58.43\",\r\n  \"LastModified\": \"2018-02-22T16:45:58.4464801Z\",\r\n  \"ThumbnailUri\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/customvision/v1.2/Training/projects/a5b93d43-ae76-447e-8d3b-4b2df9ab14cb",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
      },
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {}
}