{
  "Entries": [
    {
      "RequestUri": "/customvision/v3.0/training/projects?name=Test%20Project",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"49577a8c-05dd-401c-a4ac-4ec8ac5f2628\",\r\n  \"name\": \"Test Project\",\r\n  \"description\": \"\",\r\n  \"settings\": {\r\n    \"domainId\": \"ee85a74c-405e-4adc-bb47-ffa8ca0c9f31\",\r\n    \"classificationType\": \"Multilabel\",\r\n    \"useNegativeSet\": true,\r\n    \"detectionParameters\": null,\r\n    \"targetExportPlatforms\": []\r\n  },\r\n  \"created\": \"2019-03-15T04:37:42.9533333\",\r\n  \"lastModified\": \"2019-03-15T04:37:42.9533333\",\r\n  \"thumbnailUri\": null,\r\n  \"drModeEnabled\": false\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/customvision/v3.0/training/projects/49577a8c-05dd-401c-a4ac-4ec8ac5f2628/images/urls",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"images\": [\r\n    {\r\n      \"url\": \"https://raw.githubusercontent.com/Microsoft/Cognitive-CustomVision-Windows/master/Samples/Images/Test/test_image.jpg\"\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"isBatchSuccessful\": true,\r\n  \"images\": [\r\n    {\r\n      \"sourceUrl\": \"https://raw.githubusercontent.com/Microsoft/Cognitive-CustomVision-Windows/master/Samples/Images/Test/test_image.jpg\",\r\n      \"status\": \"OK\",\r\n      \"image\": {\r\n        \"id\": \"502480fd-9e1a-4143-a69c-5b33df8c831c\",\r\n        \"created\": \"2019-03-15T04:37:43.1893489\",\r\n        \"width\": 1260,\r\n        \"height\": 900,\r\n        \"resizedImageUri\": \"https://irisppewu2training.blob.core.windows.net/i-49577a8c05dd401ca4ac4ec8ac5f2628/i-502480fd9e1a4143a69c5b33df8c831c?sv=2017-04-17&sr=b&sig=qDatoKIuUscc5%2FdsWX%2BWXyFtONRxf0Wd11NnOcpka2I%3D&se=2019-03-16T04%3A37%3A43Z&sp=r\",\r\n        \"thumbnailUri\": \"https://irisppewu2training.blob.core.windows.net/i-49577a8c05dd401ca4ac4ec8ac5f2628/t-502480fd9e1a4143a69c5b33df8c831c?sv=2017-04-17&sr=b&sig=7TGoTJR841kwzI5JFoeJbfvTR3zYTxEXDDQ50o9j534%3D&se=2019-03-16T04%3A37%3A43Z&sp=r\",\r\n        \"originalImageUri\": \"https://irisppewu2training.blob.core.windows.net/i-49577a8c05dd401ca4ac4ec8ac5f2628/i-502480fd9e1a4143a69c5b33df8c831c?sv=2017-04-17&sr=b&sig=qDatoKIuUscc5%2FdsWX%2BWXyFtONRxf0Wd11NnOcpka2I%3D&se=2019-03-16T04%3A37%3A43Z&sp=r\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/customvision/v3.0/training/projects/49577a8c-05dd-401c-a4ac-4ec8ac5f2628/images?imageIds=502480fd-9e1a-4143-a69c-5b33df8c831c",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
    {
      "RequestUri": "/customvision/v3.0/training/projects/49577a8c-05dd-401c-a4ac-4ec8ac5f2628",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {}
}