{
  "Entries": [
    {
      "RequestUri": "/customvision/v2.1/Training/projects/7b7be461-eb14-410c-ac42-473a93f54d52/iterations",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"8c819c27-fda3-496e-8937-50ec3590a4ba\",\r\n    \"name\": \"Iteration 1\",\r\n    \"isDefault\": true,\r\n    \"status\": \"Completed\",\r\n    \"created\": \"2018-07-12T15:21:37.5\",\r\n    \"lastModified\": \"2018-07-12T15:21:51.4432907\",\r\n    \"trainedAt\": \"2018-07-12T15:21:50.4106387\",\r\n    \"projectId\": \"7b7be461-eb14-410c-ac42-473a93f54d52\",\r\n    \"exportable\": false,\r\n    \"domainId\": \"ee85a74c-405e-4adc-bb47-ffa8ca0c9f31\",\r\n    \"classificationType\": \"Multilabel\"\r\n  }\r\n]",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/customvision/v2.1/Training/projects/7b7be461-eb14-410c-ac42-473a93f54d52/iterations/8c819c27-fda3-496e-8937-50ec3590a4ba/performance?threshold=0.9",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseBody": "{\r\n  \"perTagPerformance\": [\r\n    {\r\n      \"id\": \"6ef241e9-b9ec-4d33-8758-e87c9437db15\",\r\n      \"name\": \"Tag1\",\r\n      \"precision\": 1.0,\r\n      \"precisionStdDeviation\": 0.0,\r\n      \"recall\": 1.0,\r\n      \"recallStdDeviation\": 0.0\r\n    },\r\n    {\r\n      \"id\": \"05620a88-05d5-4839-8116-c0fd22eba5aa\",\r\n      \"name\": \"Tag2\",\r\n      \"precision\": 1.0,\r\n      \"precisionStdDeviation\": 0.0,\r\n      \"recall\": 1.0,\r\n      \"recallStdDeviation\": 0.0\r\n    }\r\n  ],\r\n  \"precision\": 1.0,\r\n  \"precisionStdDeviation\": 0.0,\r\n  \"recall\": 1.0,\r\n  \"recallStdDeviation\": 0.0\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/customvision/v2.1/Training/projects/7b7be461-eb14-410c-ac42-473a93f54d52",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
      },
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {}
}