{
  "Entries": [
    {
      "RequestUri": "/customvision/v2.1/Training/projects/1c26165e-dc22-42a9-82b5-94d38c0d3569/tags",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"1f87d567-93ff-40fd-92fe-1d615f03b09c\",\r\n    \"name\": \"Tag1\",\r\n    \"description\": null,\r\n    \"imageCount\": 5\r\n  },\r\n  {\r\n    \"id\": \"dac93edc-c0aa-4ed3-9a83-25c95187a344\",\r\n    \"name\": \"Tag2\",\r\n    \"description\": null,\r\n    \"imageCount\": 5\r\n  }\r\n]",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/customvision/v2.1/Training/projects/1c26165e-dc22-42a9-82b5-94d38c0d3569/images/tagged?tagIds=1f87d567-93ff-40fd-92fe-1d615f03b09c&take=50&skip=0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"a3d51f80-6957-4ab5-a629-d3881ed8bf64\",\r\n    \"created\": \"2018-07-12T15:23:12.1228477\",\r\n    \"width\": 900,\r\n    \"height\": 1206,\r\n    \"imageUri\": \"https://irisscuprodstore.blob.core.windows.net/i-1c26165edc2242a982b594d38c0d3569/i-a3d51f8069574ab5a629d3881ed8bf64?sv=2017-04-17&sr=b&sig=mANnpqgg6r%2F3etuB5fiJ4llob3wPa5j8Y%2FvaAglmCDM%3D&se=2018-07-13T15%3A23%3A24Z&sp=r\",\r\n    \"thumbnailUri\": \"https://irisscuprodstore.blob.core.windows.net/i-1c26165edc2242a982b594d38c0d3569/t-a3d51f8069574ab5a629d3881ed8bf64?sv=2017-04-17&sr=b&sig=maBmj1sDFoiopV04lS%2BVPw5NShGufxusCydUw%2B%2Bu9Ro%3D&se=2018-07-13T15%3A23%3A24Z&sp=r\",\r\n    \"tags\": [\r\n      {\r\n        \"tagId\": \"1f87d567-93ff-40fd-92fe-1d615f03b09c\",\r\n        \"tagName\": \"Tag1\",\r\n        \"created\": \"2018-07-12T15:23:12.1505313\"\r\n      }\r\n    ]\r\n  },\r\n  {\r\n    \"id\": \"4b1f688e-17aa-4028-8775-73e211f0689e\",\r\n    \"created\": \"2018-07-12T15:23:12.0603428\",\r\n    \"width\": 1600,\r\n    \"height\": 900,\r\n    \"imageUri\": \"https://irisscuprodstore.blob.core.windows.net/i-1c26165edc2242a982b594d38c0d3569/i-4b1f688e17aa4028877573e211f0689e?sv=2017-04-17&sr=b&sig=EFSHB8lLsMLMX%2FR8MwUFIcZvXrbdyU5wO3b2w3wIm8U%3D&se=2018-07-13T15%3A23%3A24Z&[...]
    {
      "RequestUri": "/customvision/v2.1/Training/projects/1c26165e-dc22-42a9-82b5-94d38c0d3569/images/id?imageIds=a3d51f80-6957-4ab5-a629-d3881ed8bf64%2C4b1f688e-17aa-4028-8775-73e211f0689e%2Cbdc1051c-807c-4729-a0c4-7fab4af2be87%2C47b41b12-5f6f-4af9-9699-a9f419576832%2Cf5a6a0fb-1362-4f8f-ab02-f648fd90bd23",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\":[...]
    {
      "RequestUri": "/customvision/v2.1/Training/projects/1c26165e-dc22-42a9-82b5-94d38c0d3569",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
      },
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {}
}