{
  "Entries": [
    {
      "RequestUri": "/customvision/v3.0/training/projects/4c13a02a-2425-4c66-8f88-b490e7400cd8/iterations",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"08ef6dd9-e296-4abf-8594-d577ea641f70\",\r\n    \"name\": \"Iteration 1\",\r\n    \"status\": \"Completed\",\r\n    \"created\": \"2019-03-15T04:35:15.68\",\r\n    \"lastModified\": \"2019-03-15T04:35:32.689654\",\r\n    \"trainedAt\": \"2019-03-15T04:35:31.821617\",\r\n    \"projectId\": \"4c13a02a-2425-4c66-8f88-b490e7400cd8\",\r\n    \"exportable\": false,\r\n    \"exportableTo\": [],\r\n    \"domainId\": \"ee85a74c-405e-4adc-bb47-ffa8ca0c9f31\",\r\n    \"classificationType\": \"Multilabel\",\r\n    \"trainingType\": \"Regular\",\r\n    \"reservedBudgetInHours\": 0,\r\n    \"publishName\": \"Training UnitTest Iteration\"\r\n  }\r\n]",
      "StatusCode": 200
    },
    {
      "RequestUri": "/customvision/v3.0/training/projects/4c13a02a-2425-4c66-8f88-b490e7400cd8/iterations/08ef6dd9-e296-4abf-8594-d577ea641f70/performance?threshold=0.9",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"perTagPerformance\": [\r\n    {\r\n      \"id\": \"226371b1-4f37-44cf-bbd5-5ba2739d358c\",\r\n      \"name\": \"Tag1\",\r\n      \"precision\": 1.0,\r\n      \"precisionStdDeviation\": 0.0,\r\n      \"recall\": 1.0,\r\n      \"recallStdDeviation\": 0.0,\r\n      \"averagePrecision\": 1.0\r\n    },\r\n    {\r\n      \"id\": \"9d040433-0889-495b-a575-979e083530a8\",\r\n      \"name\": \"Tag2\",\r\n      \"precision\": 1.0,\r\n      \"precisionStdDeviation\": 0.0,\r\n      \"recall\": 1.0,\r\n      \"recallStdDeviation\": 0.0,\r\n      \"averagePrecision\": 1.0\r\n    }\r\n  ],\r\n  \"precision\": 1.0,\r\n  \"precisionStdDeviation\": 0.0,\r\n  \"recall\": 1.0,\r\n  \"recallStdDeviation\": 0.0,\r\n  \"averagePrecision\": 1.0\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}