{
  "Entries": [
    {
      "RequestUri": "/customvision/v3.0/training/projects/8ad17aeb-a314-4142-8cc1-6dcc9a3f6a24/images/tagged?take=50&skip=0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"f343c024-315b-4b7d-b34a-f4e879280c82\",\r\n    \"created\": \"2019-03-15T04:34:23.086953\",\r\n    \"width\": 900,\r\n    \"height\": 1600,\r\n    \"resizedImageUri\": \"https://irisppewu2training.blob.core.windows.net/i-8ad17aeba31441428cc16dcc9a3f6a24/i-f343c024315b4b7db34af4e879280c82?sv=2017-04-17&sr=b&sig=Cd2m%2Bip3mOyZaNKCpx7W5V8cH9vjFqwInU1igk32D3s%3D&se=2019-03-16T04%3A34%3A41Z&sp=r\",\r\n    \"thumbnailUri\": \"https://irisppewu2training.blob.core.windows.net/i-8ad17aeba31441428cc16dcc9a3f6a24/t-f343c024315b4b7db34af4e879280c82?sv=2017-04-17&sr=b&sig=gIxhSBr1kSWI%2FSC0xGkCHJLYFhkgUX9Ju0P3pF3R9sY%3D&se=2019-03-16T04%3A34%3A41Z&sp=r\",\r\n    \"originalImageUri\": \"https://irisppewu2training.blob.core.windows.net/i-8ad17aeba31441428cc16dcc9a3f6a24/i-f343c024315b4b7db34af4e879280c82?sv=2017-04-17&sr=b&sig=Cd2m%2Bip3mOyZaNKCpx7W5V8cH9vjFqwInU1igk32D3s%3D&se=2019-03-16T04%3A34%3A41Z&sp=r\",\r\n    \"tags\": [\r\n      {\r\n        \"tagId\": \"36c8b775-3453-4e04-92a1-ed3967b463be\",\r\n        \"tagName\": \"Tag2\",\r\n        \"created\": \"2019-03-15T04:34:23.0858728\"\r\n      }\r\n    ]\r\n  },\r\n  {\r\n    \"id\": \"2cb9397b-4008-455b-af6e-be7fffeb9d6c\",\r\n    \"created\": \"2019-03-15T04:34:23.0088237\",\r\n    \"width\": 900,\r\n    \"height\": 1600,\r\n    \"resizedImageUri\": \"https://irisppewu2training.blob.core.windows.net/i-8ad17aeba31441428cc16dcc9a3f6a24/i-2cb9397b4008455baf6ebe7fffeb9d6c?sv=2017-04-17&sr=b&sig=l%2Fmsv4TNhK8uK1a41NWqAutHIziWE3NgP24unhLK5ho%3D&se=2019-03-16T04%3A[...]
    {
      "RequestUri": "/customvision/v3.0/training/projects/8ad17aeb-a314-4142-8cc1-6dcc9a3f6a24/images/tagged?tagIds=36c8b775-3453-4e04-92a1-ed3967b463be&take=50&skip=0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"f343c024-315b-4b7d-b[...]
