{
  "Entries": [
    {
      "RequestUri": "/customvision/v2.0/Training/projects/524cb397-bb3c-4fe7-8838-117d57e60b66/images/tagged?take=50&skip=0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"ce950766-d3e1-49ab-8f44-a48883291cab\",\r\n    \"created\": \"2018-04-25T20:54:43.4239774\",\r\n    \"width\": 900,\r\n    \"height\": 1600,\r\n    \"imageUri\": \"https://irisusscppestore.blob.core.windows.net/i-524cb397bb3c4fe78838117d57e60b66/i-ce950766d3e149ab8f44a48883291cab?sv=2017-04-17&sr=b&sig=IziZGfK1jEXSi6r%2F74VosWf7HZBy%2BiS4XAHC7f74lg4%3D&se=2018-04-26T20%3A54%3A47Z&sp=r\",\r\n    \"thumbnailUri\": \"https://irisusscppestore.blob.core.windows.net/i-524cb397bb3c4fe78838117d57e60b66/t-ce950766d3e149ab8f44a48883291cab?sv=2017-04-17&sr=b&sig=z7NMd3Vj5D5cinyuZOAeep2MRRMaoysv3ro4cMoUCWE%3D&se=2018-04-26T20%3A54%3A47Z&sp=r\",\r\n    \"tags\": [\r\n      {\r\n        \"tagId\": \"fdb83d01-b593-407c-bdba-37f2bbf8011c\",\r\n        \"tagName\": \"Tag2\",\r\n        \"created\": \"2018-04-25T20:54:43.4570581\"\r\n      }\r\n    ]\r\n  },\r\n  {\r\n    \"id\": \"751a7db0-7720-4ae0-a98d-466814b3500b\",\r\n    \"created\": \"2018-04-25T20:54:43.3458437\",\r\n    \"width\": 900,\r\n    \"height\": 1600,\r\n    \"imageUri\": \"https://irisusscppestore.blob.core.windows.net/i-524cb397bb3c4fe78838117d57e60b66/i-751a7db077204ae0a98d466814b3500b?sv=2017-04-17&sr=b&sig=ZAheefAbkdZmUkVCUkKeDOmOs0jCHsV17yptxkzGqkA%3D&se=2018-04-26T20%3A54%3A47Z&sp[...]
    {
      "RequestUri": "/customvision/v2.0/Training/projects/524cb397-bb3c-4fe7-8838-117d57e60b66/images/tagged?tagIds=fdb83d01-b593-407c-bdba-37f2bbf8011c&take=50&skip=0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"ce950766-d3e1-49ab-8f44-a48883291cab\",\r\n    \"created\": \"2018-04-25T20:54:43.4239774\",\r\n    \"width\": 900,\r\n    \"height\": 1[...]
    {
      "RequestUri": "/customvision/v2.0/Training/projects/524cb397-bb3c-4fe7-8838-117d57e60b66",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
      },
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {}
}