{
  "Entries": [
    {
      "RequestUri": "/customvision/v2.2/Training/projects/6a060743-ff41-42d7-ab5e-04a32e93c223/images/untagged?take=50&skip=0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[]",
      "StatusCode": 200
    },
    {
      "RequestUri": "/customvision/v2.2/Training/projects/6a060743-ff41-42d7-ab5e-04a32e93c223/images/untagged?take=50&skip=0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"4e1bd435-9e7a-4f42-a30e-7472049b0a17\",\r\n    \"created\": \"2018-10-18T17:08:16.0656142\",\r\n    \"width\": 900,\r\n    \"height\": 1600,\r\n    \"resizedImageUri\": \"https://irisscuprodstore.blob.core.windows.net/i-6a060743ff4142d7ab5e04a32e93c223/i-4e1bd4359e7a4f42a30e7472049b0a17?sv=2017-04-17&sr=b&sig=MThuXOq%2FjREvWPdlhvbvNdaxDOos3UvifoyzLYHbLkc%3D&se=2018-10-19T17%3A08%3A35Z&sp=r\",\r\n    \"thumbnailUri\": \"https://irisscuprodstore.blob.core.windows.net/i-6a060743ff4142d7ab5e04a32e93c223/t-4e1bd4359e7a4f42a30e7472049b0a17?sv=2017-04-17&sr=b&sig=%2B3DerezpIzf28yGvoDDCl14ZmrTK5ysYL7zs6hyvY4o%3D&se=2018-10-19T17%3A08%3A35Z&sp=r\",\r\n    \"originalImageUri\": \"https://irisscuprodstore.blob.core.windows.net/i-6a060743ff4142d7ab5e04a32e93c223/i-4e1bd4359e7a4f42a30e7472049b0a17?sv=2017-04-17&sr=b&sig=MThuXOq%2FjREvWPdlhvbvNdaxDOos3UvifoyzLYHbLkc%3D&se=2018-10-19T17%3A08%3A35Z&sp=r\"\r\n  }\r\n]",
      "StatusCode": 200
    },
    {
      "RequestUri": "/customvision/v2.2/Training/projects/6a060743-ff41-42d7-ab5e-04a32e93c223/images/tagged?take=50&skip=0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"4e1bd435-9e7a-4f42-a30e-7472049b0a17\",\r\n    \"created\": \"2018-10-18T17:08:16.0656142\",\r\n    \"width\": 900,\r\n    \"height\": 1600,\r\n    \"resizedImageUri\": \"https://irisscuprodstore.blob.core.windows.net/i-6a060743ff4142d7ab5e04a32e93c223/i-4e1bd4359e7a4f42a30e7472049b0a17?sv=2017-04-17&sr=b&sig=MThuXOq%2FjREvWPdlhvbvNdaxDOos3UvifoyzLYHbLkc%3D&se=2018-10-19T17%3A08%3A35Z&sp=r\",\r\n    \"thumbnailUri\": \"https://irisscuprodstore.blob.core.windows.net/i-6a060743ff4142d7ab5e04a32e93c223/t-4e1bd4359e7a4f42a30e7472049b0a17?sv=2017-04-17&sr=b&sig=%2B3DerezpIzf28yGvoDDCl14ZmrTK5ysYL7zs6hyvY4o%3D&se=2018-10-19T17%3A08%3A35Z&sp=r\",\r\n    \"originalImageUri\": \"https://irisscuprodstore.blob.core.windows.net/i-6a060743ff4142d7ab5e04a32e93c223/i-4e1bd4359e7a4f42a30e7472049b0a17?sv=2017-04-17&sr=b&sig=MThuXOq%2FjREvWPdlhvbvNdaxDOos3UvifoyzLYHbLkc%3D&se=2018-10-19T17%3A08%3A35Z&sp=r\",\r\n    \"tags\": [\r\n      {\r\n        \"tagId\": \"817b0749-0f64-4aa7-b08f-39b2a1301856\",\r\n        \"tagName\": \"Tag2\",\r\n        \"created\": \"2018-10-18T17:08:16.0777901\"\r\n      }\r\n    ]\r\n  },\r\n  {\r\n    \"id\": \"852950f6-84a2-4fc8-86c5-e9c15bdcc982\",\r\n    \"created\": \"2018-10-18T17:08:16.0343617\",\r\n    \"width\": 900,\r\n    \"height\": 1600,\r\n    \"resizedImageUri\": \"https://irisscuprodstore.blob.core.windows.net/i-6a060743ff4142d7ab5e04a32e93c223/i-852950f684a24fc886c5e9c15bdcc982?sv=2017-04-17&sr=b&sig=PtFHyf6SoD%2BV38MmdHZ3Eqau2iM%2Bn%2BxKnFyioBAhdJE%3D&se=2018-10-19T17%[...]
    {
      "RequestUri": "/customvision/v2.2/Training/projects/6a060743-ff41-42d7-ab5e-04a32e93c223/images/tags?imageIds=4e1bd435-9e7a-4f42-a30e-7472049b0a17&tagIds=817b0749-0f64-4aa7-b08f-39b2a1301856",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
    {
      "RequestUri": "/customvision/v2.2/Training/projects/6a060743-ff41-42d7-ab5e-04a32e93c223/images/tags",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"tags\": [\r\n    {\r\n      \"imageId\": \"4e1bd435-9e7a-4f42-a30e-7472049b0a17\",\r\n      \"tagId\": \"817b0749-0f64-4aa7-b08f-39b2a1301856\"\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"created\": [\r\n    {\r\n      \"imageId\": \"4e1bd435-9e7a-4f42-a30e-7472049b0a17\",\r\n      \"tagId\": \"817b0749-0f64-4aa7-b08f-39b2a1301856\"\r\n    }\r\n  ],\r\n  \"duplicated\": [],\r\n  \"exceeded\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/customvision/v2.2/Training/projects/6a060743-ff41-42d7-ab5e-04a32e93c223",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {}
}