{
  "Entries": [
    {
      "RequestUri": "/customvision/v3.0/training/projects/49fc224f-f4de-4fc8-bed2-8afdc2f0c9c4/images/tagged/count",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "10",
      "StatusCode": 200
    },
    {
      "RequestUri": "/customvision/v3.0/training/projects/49fc224f-f4de-4fc8-bed2-8afdc2f0c9c4/images/untagged/count",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "0",
      "StatusCode": 200
    },
    {
      "RequestUri": "/customvision/v3.0/training/projects/49fc224f-f4de-4fc8-bed2-8afdc2f0c9c4/iterations",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"c097311c-9b0a-44b4-90f8-541d1e66f5f7\",\r\n    \"name\": \"Iteration 1\",\r\n    \"status\": \"Completed\",\r\n    \"created\": \"2019-03-15T04:34:01.5833333\",\r\n    \"lastModified\": \"2019-03-15T04:34:16.4275247\",\r\n    \"trainedAt\": \"2019-03-15T04:34:16.052397\",\r\n    \"projectId\": \"49fc224f-f4de-4fc8-bed2-8afdc2f0c9c4\",\r\n    \"exportable\": false,\r\n    \"exportableTo\": [],\r\n    \"domainId\": \"ee85a74c-405e-4adc-bb47-ffa8ca0c9f31\",\r\n    \"classificationType\": \"Multilabel\",\r\n    \"trainingType\": \"Regular\",\r\n    \"reservedBudgetInHours\": 0,\r\n    \"publishName\": \"Training UnitTest Iteration\"\r\n  }\r\n]",
      "StatusCode": 200
    },
    {
      "RequestUri": "/customvision/v3.0/training/projects/49fc224f-f4de-4fc8-bed2-8afdc2f0c9c4/iterations/c097311c-9b0a-44b4-90f8-541d1e66f5f7/performance/images/count",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "2",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}