{
  "Entries": [
    {
      "RequestUri": "/customvision/v2.2/Training/projects/cc0e0c34-3e2c-4f70-b97d-961be44ef86a/images/tagged/count",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "10",
      "StatusCode": 200
    },
    {
      "RequestUri": "/customvision/v2.2/Training/projects/cc0e0c34-3e2c-4f70-b97d-961be44ef86a/images/untagged/count",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "0",
      "StatusCode": 200
    },
    {
      "RequestUri": "/customvision/v2.2/Training/projects/cc0e0c34-3e2c-4f70-b97d-961be44ef86a/iterations",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"27ed13a5-09aa-48a5-8838-4aa15522cad0\",\r\n    \"name\": \"Iteration 1\",\r\n    \"isDefault\": true,\r\n    \"status\": \"Completed\",\r\n    \"created\": \"2018-10-18T17:03:17.6733333\",\r\n    \"lastModified\": \"2018-10-18T17:03:23.4957799\",\r\n    \"trainedAt\": \"2018-10-18T17:03:22.5473627\",\r\n    \"projectId\": \"cc0e0c34-3e2c-4f70-b97d-961be44ef86a\",\r\n    \"exportable\": false,\r\n    \"domainId\": \"ee85a74c-405e-4adc-bb47-ffa8ca0c9f31\",\r\n    \"classificationType\": \"Multilabel\"\r\n  }\r\n]",
      "StatusCode": 200
    },
    {
      "RequestUri": "/customvision/v2.2/Training/projects/cc0e0c34-3e2c-4f70-b97d-961be44ef86a/iterations/27ed13a5-09aa-48a5-8838-4aa15522cad0/performance/images/count",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "10",
      "StatusCode": 200
    },
    {
      "RequestUri": "/customvision/v2.2/Training/projects/cc0e0c34-3e2c-4f70-b97d-961be44ef86a",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {}
}