{
  "Entries": [
    {
      "RequestUri": "/customvision/v2.2/Training/projects/7af411d6-c831-42de-b36a-5935b28e6ba4/predictions/query",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"maxCount\": 0,\r\n  \"orderBy\": \"Newest\"\r\n}",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"token\": {\r\n    \"session\": \"8:1579828\",\r\n    \"continuation\": null,\r\n    \"maxCount\": 0,\r\n    \"orderBy\": \"Newest\",\r\n    \"tags\": null,\r\n    \"iterationId\": null,\r\n    \"startTime\": null,\r\n    \"endTime\": null,\r\n    \"application\": null\r\n  },\r\n  \"results\": [\r\n    {\r\n      \"resizedImageUri\": \"https://irisscuprodstorepredict1.blob.core.windows.net/e-7af411d6c83142deb36a5935b28e6ba4/o-a4a0d0e132b24cdea70ab0e0e909fa59?sv=2017-04-17&sr=b&sig=JbWPPU8mvNkNfa06hQ79F%2BGXA3PJIAK1OdJq3hZOv38%3D&se=2018-10-19T17%3A06%3A31Z&sp=r\",\r\n      \"thumbnailUri\": \"https://irisscuprodstorepredict1.blob.core.windows.net/e-7af411d6c83142deb36a5935b28e6ba4/t-a4a0d0e132b24cdea70ab0e0e909fa59?sv=2017-04-17&sr=b&sig=Rwc2GIqK7YJ94TcmK%2FRmt6S8i5FgA6YX%2BC1aexcyUF4%3D&se=2018-10-19T17%3A06%3A31Z&sp=r\",\r\n      \"originalImageUri\": \"https://irisscuprodstorepredict1.blob.core.windows.net/e-7af411d6c83142deb36a5935b28e6ba4/o-a4a0d0e132b24cdea70ab0e0e909fa59?sv=2017-04-17&sr=b&sig=JbWPPU8mvNkNfa06hQ79F%2BGXA3PJIAK1OdJq3hZOv38%3D&se=2018-10-19T17%3A06%3A31Z&sp=r\",\r\n      \"domain\": \"ee85a74c-405e-4adc-bb47-ffa8ca0c9f31\",\r\n      \"id\": \"a4a0d0e1-32b2-4cde-a70a-b0e0e909fa59\",\r\n      \"project\": \"7af411d6-c831-42de-b36a-5935b28e6ba4\",\r\n      \"iteration\": \"fdde337d-aba4-4a36-bb9c-5f9d4bede01c\",\r\n      \"created\": \"2018-10-18T17:06:31.1083648\",\r\n      \"predictions\": [\r\n        {\r\n          \"probability\": 0.934625268,\r\n          \"tagId\": \"2e74645e-f73d-4f84-b5e5-383b269b3e0f\",\r\n          \"tagName\": \"Tag1\"\r\n        },\r\n        {\r\n          \"probability\": 2.16482044E-06,\r\n          \"tagId\": \"eac3d55f-64a3-4e91-8096-1add5a1d9a90\",\r\n          \"tagName\": \"Tag2\"\r\n        }\r\n      ]\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/customvision/v2.2/Training/projects/7af411d6-c831-42de-b36a-5935b28e6ba4",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {}
}