{
  "Entries": [
    {
      "RequestUri": "/customvision/v2.0/Training/projects/9a7b2f5b-a567-480d-ae96-13f441952244/predictions/query",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"maxCount\": 0,\r\n  \"orderBy\": \"Newest\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Training-Key": [
          ""
        ]
      },
      "ResponseBody": "{\r\n  \"token\": {\r\n    \"session\": \"1:2378\",\r\n    \"continuation\": null,\r\n    \"maxCount\": 0,\r\n    \"orderBy\": \"Newest\",\r\n    \"tags\": null,\r\n    \"iterationId\": null,\r\n    \"startTime\": null,\r\n    \"endTime\": null,\r\n    \"application\": null\r\n  },\r\n  \"results\": [\r\n    {\r\n      \"imageUri\": \"https://irisusscppestorepredict1.blob.core.windows.net/e-9a7b2f5ba567480dae9613f441952244/o-5f873ff334bc449291cbd222d8f3c5eb?sv=2017-04-17&sr=b&sig=xzCx7Nj28nsbdqNEj%2BU80aNX%2B09aTt7Xe2yprHvUujA%3D&se=2018-04-26T20%3A55%3A19Z&sp=r\",\r\n      \"thumbnailUri\": \"https://irisusscppestorepredict1.blob.core.windows.net/e-9a7b2f5ba567480dae9613f441952244/t-5f873ff334bc449291cbd222d8f3c5eb?sv=2017-04-17&sr=b&sig=qsmgUFDxrG0Nlcpdg%2B9LMsSAiWKdXbgFyInIKszNQ6s%3D&se=2018-04-26T20%3A55%3A19Z&sp=r\",\r\n      \"domain\": \"ee85a74c-405e-4adc-bb47-ffa8ca0c9f31\",\r\n      \"id\": \"5f873ff3-34bc-4492-91cb-d222d8f3c5eb\",\r\n      \"project\": \"9a7b2f5b-a567-480d-ae96-13f441952244\",\r\n      \"iteration\": \"db1c0873-360b-4644-8813-da4805a16719\",\r\n      \"created\": \"2018-04-25T20:55:19.5279488\",\r\n      \"predictions\": [\r\n        {\r\n          \"probability\": 0.934625268,\r\n          \"tagId\": \"3b6e023b-253b-4866-bbd4-4b0cb7391758\",\r\n          \"tagName\": \"Tag1\"\r\n        },\r\n        {\r\n          \"probability\": 2.16482044E-06,\r\n          \"tagId\": \"d2b7bd47-fc96-44b8-9e44-c88626aec5cf\",\r\n          \"tagName\": \"Tag2\"\r\n        }\r\n      ]\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/customvision/v2.0/Training/projects/9a7b2f5b-a567-480d-ae96-13f441952244",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
      },
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {}
}