{
  "Entries": [
    {
      "RequestUri": "/customvision/v2.1/Training/domains",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"ee85a74c-405e-4adc-bb47-ffa8ca0c9f31\",\r\n    \"name\": \"General\",\r\n    \"type\": \"Classification\",\r\n    \"exportable\": false,\r\n    \"enabled\": true\r\n  },\r\n  {\r\n    \"id\": \"c151d5b5-dd07-472a-acc8-15d29dea8518\",\r\n    \"name\": \"Food\",\r\n    \"type\": \"Classification\",\r\n    \"exportable\": false,\r\n    \"enabled\": true\r\n  },\r\n  {\r\n    \"id\": \"ca455789-012d-4b50-9fec-5bb63841c793\",\r\n    \"name\": \"Landmarks\",\r\n    \"type\": \"Classification\",\r\n    \"exportable\": false,\r\n    \"enabled\": true\r\n  },\r\n  {\r\n    \"id\": \"b30a91ae-e3c1-4f73-a81e-c270bff27c39\",\r\n    \"name\": \"Retail\",\r\n   [...]
    {
      "RequestUri": "/customvision/v2.1/Training/projects",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"2723cd31-0e53-4311-a31b-ab30ff7731a6\",\r\n    \"name\": \"5b1c2810-d3a1-4778-ab9b-8179316772ec\",\r\n    \"description\": \"\",\r\n    \"settings\": {\r\n      \"domainId\": \"ee85a74c-405e-4adc-bb47-ffa8ca0c9f31\",\r\n      \"classificationType\": \"Multilabel\",\r\n      \"useNegativeSet\": true,\r\n      \"detectionParameters\": null\r\n    },\r\n    \"created\": \"2018-07-12T15:11:00.3966667\",\r\n    \"lastModified\": \"2018-07-12T15:11:00.3966667\",\r\n    \"thumbnailUri\": \"https://irisscuprodstore.blob.core.windows.net/i-2723cd310e534311a31bab30ff7731a6/t-ec3a3517199d43ce9ede22d660455a54?sv=2017-04-17&sr=b&sig=hno1hySVrrCDxlEuEFftViRYoef8SVVDfOCRJUJsNbs%3D&se=2018-07-13T15%3A50%3A58Z&sp=r\"\r\n  },\r\n  {\r\n    \"id\": \"1c4c5578-cf45-4e90-9f65-b4a71e27b084\",\r\n    \"name\": \"Obj Detection SDK Tests\",\r\n    \"description\": \"\",\r\n    \"settings\": {\r\n      \"domainId\": \"da2e3a8a-40a5-4171-82f4-58522f70fbc1\",\r\n      \"classificationType\": \"Mult[...]
    {
      "RequestUri": "/customvision/v2.1/Training/projects/1c4c5578-cf45-4e90-9f65-b4a71e27b084/images/tagged?take=50&skip=0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"1199b46b-434b-41bb-be11-1ab3973fc145\",\r\n    \"created\": \"2018-07-12T15:08:17.1808494\",\r\n    \"width\": 816,\r\n    \"height\": 612,\r\n    \"imageUri\": \"https://irisscuprodstore.blob.core.windows.net/i-1c4c5578cf454e909f65b4a71e27b084/i-1199b46b434b41bbbe111ab3973fc145?sv=2017-04-17&sr=b&sig=GKILJlfs0DktAFK%2FJ9EX%2FI%2B%2BZlLydrE18rG%2FBFbThac%3D&se=2018-07-13T15%3A50%3A58Z&sp=r\",\r\n    \"thumbnailUri\": \"https://irisscuprodstore.blob.core.windows.net/i-1c4c5578cf454e909f65b4a71e27b084/t-1199b46b434b41bbbe111ab3973fc145?sv=2017-04-17&sr=b&sig=8qJdYsPMYS3JKTnpAewalbn9GJSzvIoJhbzp2SMfOLs%3D&se=2018-07-13T15%3A50%3A58Z&sp=r\",\r\n    \"tags\": [\r\n      {\r\n        \"tagId\": \"c76eecd4-5945-4c83-875e-f323252f1c71\",\r\n        \"tagName\": \"scissors\",\r\n        \"created\": \"2018-07-12T15:08:17.1862903\"\r\n      }\r\n    ],\r\n    \"regions\": [\r\n      {\r\n        \"regionId\": \"385559db-5655-4d68-96a1-cf89769b9b57\",\r\n        \"tagName\": \"scissors\",\r\n        \"created\": \"2018-07-12T15:08:17.1862903\",\r\n        \"tagId\": \"c76eecd4-5945-4c83-875e-f323252f1c71\",\r\n        \"left\": 0.295343131,\r\n        \"top\": 0.259428144,\r\n        \"width\": 0.403186262,\r\n        \"height\": 0.421568632\r\n      }\r\n    ]\r\n  },\r\n  {\r\n    \"id\": \"476f61a5-d67c-4117-bc7b-0254e8f32ebe\",\r\n    \"created\": \"2018-07-12T15:08:17.1652241\",\r\n    \"width\": 816,\r\n    \"height\": 612,\r\n    \"imageUri\": \"https://irisscuprodstore.blob.core.windows.net/i-1c4c5578cf454e909f65b4a71e27b084/i-476f61a5d67c4117bc7b0254e8f32ebe?sv=2017-04-17&sr=b&sig=QsuZBKJ16joZzVzss8X%2FjDpFQGU9w7Ya9%2F6SxpkE6ck%3D&se=2018-07[...]
    {
      "RequestUri": "/customvision/v2.1/Training/projects/1c4c5578-cf45-4e90-9f65-b4a71e27b084/tags?name=Test%20Tag%201",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"8cdbdc69-443d-4538-91c3-78229c30be35\",\r\n  \"name\": \"Test Tag 1\",\r\n  \"description\": null,\r\n  \"imageCount\": 0\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/customvision/v2.1/Training/1c4c5578-cf45-4e90-9f65-b4a71e27b084/images/1199b46b-434b-41bb-be11-1ab3973fc145/regionproposals",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseBody": "{\r\n  \"projectId\": \"1c4c5578-cf45-4e90-9f65-b4a71e27b084\",\r\n  \"imageId\": \"1199b46b-434b-41bb-be11-1ab3973fc145\",\r\n  \"proposals\": [\r\n    {\r\n      \"confidence\": 0.0260452814,\r\n      \"boundingBox\": {\r\n        \"left\": 0.0,\r\n        \"top\": 0.0,\r\n        \"width\": 0.151249722,\r\n        \"height\": 0.9406899\r\n      }\r\n    },\r\n    {\r\n      \"confidence\": 0.0371240675,\r\n      \"boundingBox\": {\r\n        \"left\": 0.00313569419,\r\n        \"top\": 0.3433946,\r\n        \"width\": 0.0402450934,\r\n        \"height\": 0.206116587\r\n      }\r\n    },\r\n    {\r\n      \"confidence\": 0.421340853,\r\n      \"boundingBox\": {\r\n        \"left\": 0.400841862,\r\n        \"top\": 0.198895186,\r\n        \"width\": 0.2728909,\r\n        \"height\": 0.6437274\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/customvision/v2.1/Training/projects/1c4c5578-cf45-4e90-9f65-b4a71e27b084/images/regions",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"regions\": [\r\n    {\r\n      \"imageId\": \"1199b46b-434b-41bb-be11-1ab3973fc145\",\r\n      \"tagId\": \"8cdbdc69-443d-4538-91c3-78229c30be35\",\r\n      \"left\": 0.0,\r\n      \"top\": 0.0,\r\n      \"width\": 0.151249722,\r\n      \"height\": 0.9406899\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Training-Key": [
          ""
        ]
      },
      "ResponseBody": "{\r\n  \"created\": [\r\n    {\r\n      \"imageId\": \"1199b46b-434b-41bb-be11-1ab3973fc145\",\r\n      \"regionId\": \"e0630c10-d21c-4076-b1c1-9216fb13e67f\",\r\n      \"tagName\": null,\r\n      \"created\": \"2018-07-12T15:50:59.532734\",\r\n      \"tagId\": \"8cdbdc69-443d-4538-91c3-78229c30be35\",\r\n      \"left\": 0.0,\r\n      \"top\": 0.0,\r\n      \"width\": 0.151249722,\r\n      \"height\": 0.9406899\r\n    }\r\n  ],\r\n  \"duplicated\": [],\r\n  \"exceeded\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/customvision/v2.1/Training/projects/1c4c5578-cf45-4e90-9f65-b4a71e27b084/images/id?imageIds=1199b46b-434b-41bb-be11-1ab3973fc145",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"1199b46b-434b-41bb-be11-1ab3973fc145\",\r\n    \"created\": \"2018-07-12T15:08:17.1808494\",\r\n    \"width\": 816,\r\n    \"height\": 612,\r\n    \"imag[...]
[...]
    {
      "RequestUri": "/customvision/v2.1/Training/projects/1c4c5578-cf45-4e90-9f65-b4a71e27b084/images/regions?regionIds=e0630c10-d21c-4076-b1c1-9216fb13e67f",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
      },
      "StatusCode": 204
    },
    {
      "RequestUri": "/customvision/v2.1/Training/projects/1c4c5578-cf45-4e90-9f65-b4a71e27b084/tags/8cdbdc69-443d-4538-91c3-78229c30be35",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
      },
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {}
}