{
  "Entries": [
    {
      "RequestUri": "/customvision/v3.0/training/projects/089113a5-dc04-4c5a-99db-e55715366685/images/tagged?take=50&skip=0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          "fc3d389bfdb54cb39cfbe8ea365be684"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"aa1461cd-0fa4-4386-b1c8-777784620a54\",\r\n    \"created\": \"2019-03-15T15:12:39.0291006\",\r\n    \"width\": 816,\r\n    \"height\": 612,\r\n    \"resizedImageUri\": \"https://irisppewu2training.blob.core.windows.net/i-089113a5dc044c5a99dbe55715366685/i-aa1461cd0fa44386b1c8777784620a54?sv=2017-04-17&sr=b&sig=u7teuZk0EAxFN86tIjd6oHdhzRr45P6XbCXJLGJ%2F8%2Bg%3D&se=2019-03-16T15%3A14%3A29Z&sp=r\",\r\n    \"thumbnailUri\": \"https://irisppewu2training.blob.core.windows.net/i-089113a5dc044c5a99dbe55715366685/t-aa1461cd0fa44386b1c8777784620a54?sv=2017-04-17&sr=b&sig=JdXM9RdIBlz7LLoGLfuPB8rg5D8OZ59mACqOo9qP57c%3D&se=2019-03-16T15%3A14%3A29Z&sp=r\",\r\n    \"originalImageUri\": \"https://irisppewu2training.blob.core.windows.net/i-089113a5dc044c5a99dbe55715366685/i-aa1461cd0fa44386b1c8777784620a54?sv=2017-04-17&sr=b&sig=u7teuZk0EAxFN86tIjd6oHdhzRr45P6XbCXJLGJ%2F8%2Bg%3D&se=2019-03-16T15%3A14%3A29Z&sp=r\",\r\n    \"tags\": [\r\n      {\r\n        \"tagId\": \"c5c8ad79-0b71-4622-8ecc-f36caf25b89a\",\r\n        \"tagName\": \"scissors\",\r\n        \"created\": \"2019-03-15T15:12:39.0450373\"\r\n      }\r\n    ],\r\n    \"regions\": [\r\n      {\r\n        \"regionId\": \"09062bb3-d841-4de7-8192-1f619075fa8a\",\r\n        \"tagName\": \"scissors\",\r\n        \"created\": \"2019-03-15T15:12:39.0450373\",\r\n        \"tagId\": \"c5c8ad79-0b71-4622-8ecc-f36caf25b89a\",\r\n        \"left\": 0.295343131,\r\n        \"top\": 0.259428144,\r\n        \"width\": 0.403186262,\r\n        \"height\": 0.421568632\r\n      }\r\n    ]\r\n  },\r\n  {\r\n    \"id\": \"3b6facc9-366e-4a62-a138-06c3c339fd8f\",\r\n    \"created\": \"2019-03-15T15:12:39.0134749\",\r\n    \"width\": 816,\r\n    \"height\": 612,\r\n    \"resizedImageUri\": \"https://irisppewu2training.blob.core.windows.net/i-089113a5dc044c5a99dbe55715366685/i-3b6facc9366e4a62a13806c3c339fd8f?sv=2017-04-17&sr=b&sig=NY72nLVY89fOxFDcxir%2FFa6UfjWZXGFO%2BT4cyF8dI0E%3D&s[...]
    {
      "RequestUri": "/customvision/v3.0/training/projects/089113a5-dc04-4c5a-99db-e55715366685/tags?name=Test%20Tag%201",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          "fc3d389bfdb54cb39cfbe8ea365be684"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"ed217806-776f-4df0-aa27-b46cae58e947\",\r\n  \"name\": \"Test Tag 1\",\r\n  \"description\": null,\r\n  \"type\": \"Regular\",\r\n  \"imageCount\": 0\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/customvision/v3.0/training/projects/089113a5-dc04-4c5a-99db-e55715366685/images/aa1461cd-0fa4-4386-b1c8-777784620a54/regionproposals",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          "fc3d389bfdb54cb39cfbe8ea365be684"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"projectId\": \"089113a5-dc04-4c5a-99db-e55715366685\",\r\n  \"imageId\": \"aa1461cd-0fa4-4386-b1c8-777784620a54\",\r\n  \"proposals\": [\r\n    {\r\n      \"confidence\": 0.0100601455,\r\n      \"boundingBox\": {\r\n        \"left\": 0.00182300061,\r\n        \"top\": 0.285680324,\r\n        \"width\": 0.0370526947,\r\n        \"height\": 0.254270881\r\n      }\r\n    },\r\n    {\r\n      \"confidence\": 0.0523165353,\r\n      \"boundingBox\": {\r\n        \"left\": 0.386719525,\r\n        \"top\": 0.197816432,\r\n        \"width\": 0.262508571,\r\n        \"height\": 0.6531811\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/customvision/v3.0/training/projects/089113a5-dc04-4c5a-99db-e55715366685/images/regions",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"regions\": [\r\n    {\r\n      \"imageId\": \"aa1461cd-0fa4-4386-b1c8-777784620a54\",\r\n      \"tagId\": \"ed217806-776f-4df0-aa27-b46cae58e947\",\r\n      \"left\": 0.00182300061,\r\n      \"top\": 0.285680324,\r\n      \"width\": 0.0370526947,\r\n      \"height\": 0.254270881\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "Training-Key": [
          "fc3d389bfdb54cb39cfbe8ea365be684"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"created\": [\r\n    {\r\n      \"imageId\": \"aa1461cd-0fa4-4386-b1c8-777784620a54\",\r\n      \"regionId\": \"d343d812-6c75-40f0-9b8f-7b567b47c78e\",\r\n      \"tagName\": null,\r\n      \"created\": \"2019-03-15T15:14:30.1998434\",\r\n      \"tagId\": \"ed217806-776f-4df0-aa27-b46cae58e947\",\r\n      \"left\": 0.00182300061,\r\n      \"top\": 0.285680324,\r\n      \"width\": 0.0370526947,\r\n      \"height\": 0.254270881\r\n    }\r\n  ],\r\n  \"duplicated\": [],\r\n  \"exceeded\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/customvision/v3.0/training/projects/089113a5-dc04-4c5a-99db-e55715366685/images/id?imageIds=aa1461cd-0fa4-4386-b1c8-777784620a54",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          "fc3d389bfdb54cb39cfbe8ea365be684"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"aa146[...]
[...]
    {
      "RequestUri": "/customvision/v3.0/training/projects/089113a5-dc04-4c5a-99db-e55715366685/images/regions?regionIds=d343d812-6c75-40f0-9b8f-7b567b47c78e",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          "fc3d389bfdb54cb39cfbe8ea365be684"
        ]
      },
      "ResponseHeaders": {
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
    {
      "RequestUri": "/customvision/v3.0/training/projects/089113a5-dc04-4c5a-99db-e55715366685/tags/ed217806-776f-4df0-aa27-b46cae58e947",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          "fc3d389bfdb54cb39cfbe8ea365be684"
        ]
      },
      "ResponseHeaders": {
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {}
}