{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "hookParameter": {
          "toList": [
            "fake1@email.com",
            "fake2@email.com"
          ]
        },
        "hookType": "Email",
        "hookName": "hookcOKzRhKj"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/cfb28ddb-337d-44a7-b48b-b9b2723af5a2"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/cfb28ddb-337d-44a7-b48b-b9b2723af5a2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "hookId": "cfb28ddb-337d-44a7-b48b-b9b2723af5a2",
        "hookName": "hookcOKzRhKj",
        "hookType": "Email",
        "externalLink": "",
        "description": "",
        "admins": [
          "94dc466b-52e4-4678-892d-70a0c45c5f42"
        ],
        "hookParameter": {
          "toList": [
            "fake1@email.com",
            "fake2@email.com"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/cfb28ddb-337d-44a7-b48b-b9b2723af5a2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "RandomSeed": "109012307"
  }
}