{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "hookParameter": {
          "toList": [
            "fake1@email.com",
            "fake2@email.com"
          ]
        },
        "hookType": "Email",
        "hookName": "hook6PLetwXA",
        "description": "This hook was created to test the .NET client.",
        "externalLink": "http://fake.endpoint.com/"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/d3736407-a82e-4e3e-85b8-94db9ec6d9c2"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/d3736407-a82e-4e3e-85b8-94db9ec6d9c2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "hookId": "d3736407-a82e-4e3e-85b8-94db9ec6d9c2",
        "hookName": "hook6PLetwXA",
        "hookType": "Email",
        "externalLink": "http://fake.endpoint.com/",
        "description": "This hook was created to test the .NET client.",
        "admins": [
          "foo@contoso.com"
        ],
        "hookParameter": {
          "toList": [
            "fake1@email.com",
            "fake2@email.com"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/d3736407-a82e-4e3e-85b8-94db9ec6d9c2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "2953904"
  }
}