{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "hookParameter": {
          "endpoint": "http://contoso.com"
        },
        "hookType": "Webhook",
        "hookName": "hookiJABftAm"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/ccbdc5fa-2cbf-480b-a0cf-d9daed8c0963"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/ccbdc5fa-2cbf-480b-a0cf-d9daed8c0963",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "hookId": "ccbdc5fa-2cbf-480b-a0cf-d9daed8c0963",
        "hookName": "hookiJABftAm",
        "hookType": "Webhook",
        "externalLink": "",
        "description": "",
        "admins": [
          "foo@contoso.com"
        ],
        "hookParameter": {
          "endpoint": "http://contoso.com",
          "username": "",
          "password": "",
          "headers": {},
          "certificateKey": "",
          "certificatePassword": ""
        }
      }
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks?hookName=ookiJABft",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "hookId": "ccbdc5fa-2cbf-480b-a0cf-d9daed8c0963",
            "hookName": "hookiJABftAm",
            "hookType": "Webhook",
            "externalLink": "",
            "description": "",
            "admins": [
              "foo@contoso.com"
            ],
            "hookParameter": {
              "endpoint": "http://contoso.com",
              "username": "",
              "password": "",
              "headers": {},
              "certificateKey": "",
              "certificatePassword": ""
            }
          }
        ],
        "@nextLink": null
      }
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/ccbdc5fa-2cbf-480b-a0cf-d9daed8c0963",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "537245999"
  }
}