{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "hookParameter": {
          "endpoint": "http://contoso.com"
        },
        "hookType": "Webhook",
        "hookName": "hookwGFNvNnS"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/298ebae5-cd1f-434b-89ae-f02f92a1e43b"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/298ebae5-cd1f-434b-89ae-f02f92a1e43b",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "hookParameter": {
          "endpoint": "http://contoso.com",
          "username": "fakeUsername",
          "password": "fakePassword",
          "headers": {
            "key1": "value1",
            "key2": "value2"
          },
          "certificatePassword": "certPassword"
        },
        "hookType": "Webhook",
        "hookName": "hookwGFNvNnS",
        "description": "This hook was created to test the .NET client.",
        "externalLink": "http://fake.endpoint.com"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/298ebae5-cd1f-434b-89ae-f02f92a1e43b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "hookId": "298ebae5-cd1f-434b-89ae-f02f92a1e43b",
        "hookName": "hookwGFNvNnS",
        "hookType": "Webhook",
        "externalLink": "http://fake.endpoint.com",
        "description": "This hook was created to test the .NET client.",
        "admins": [
          "foo@contoso.com"
        ],
        "hookParameter": {
          "endpoint": "http://contoso.com",
          "username": "fakeUsername",
          "password": "fakePassword",
          "headers": {
            "key1": "value1",
            "key2": "value2"
          },
          "certificateKey": "",
          "certificatePassword": "certPassword"
        }
      }
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/298ebae5-cd1f-434b-89ae-f02f92a1e43b",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "1116483446"
  }
}