{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11993"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/75743128-1c62-4904-9be1-c23c1edb9a9f",
            "tenantId": "75743128-1c62-4904-9be1-c23c1edb9a9f",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Authorization/policySetDefinitions/75714362-cae7-409e-9b99-a8e5075b7fad?api-version=2020-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11992"
      },
      "ResponseBody": {
        "properties": {
          "displayName": "Enable Azure Monitor for Virtual Machine Scale Sets",
          "policyType": "BuiltIn",
          "description": "Enable Azure Monitor for the Virtual Machine Scale Sets in the specified scope (Management group, Subscription or resource group). Takes Log Analytics workspace as parameter. Note: if your scale set upgradePolicy is set to Manual, you need to apply the extension to the all VMs in the set by calling upgrade on them. In CLI this would be az vmss update-instances.",
          "metadata": {
            "version": "1.0.1",
            "category": "Monitoring"
          },
          "parameters": {
            "logAnalytics_1": {
              "type": "String",
              "metadata": {
                "displayName": "Log Analytics workspace",
                "description": "Select Log Analytics workspace from dropdown list. If this workspace is outside of the scope of the assignment you must manually grant \u0027Log Analytics Contributor\u0027 permissions (or similar) to the policy assignment\u0027s principal ID.",
                "strongType": "omsWorkspace"
              }
            },
            "listOfImageIdToInclude_windows": {
              "type": "Array",
              "metadata": {
                "displayName": "Optional: List of VM images that have supported Windows OS to add to scope",
                "description": "Example value: \u0027/subscriptions/\u003CsubscriptionId\u003E/resourceGroups/YourResourceGroup/providers/Microsoft.Compute/images/ContosoStdImage\u0027"
              },
              "defaultValue": []
            },
            "listOfImageIdToInclude_linux": {
              "type": "Array",
              "metadata": {
                "displayName": "Optional: List of VM images that have supported Linux OS to add to scope",
                "description": "Example value: \u0027/subscriptions/\u003CsubscriptionId\u003E/resourceGroups/YourResourceGroup/providers/Microsoft.Compute/images/ContosoStdImage\u0027"
              },
              "defaultValue": []
            }
          },
          "policyDefinitions": [
            {
              "policyDefinitionReferenceId": "LogAnalyticsExtension_Windows_VMSS_Deploy",
              "policyDefinitionId": "/providers/Microsoft.Authorization/policyDefinitions/3c1b3629-c8f8-4bf6-862c-037cb9094038",
              "parameters": {
                "logAnalytics": {
                  "value": "[parameters(\u0027logAnalytics_1\u0027)]"
                },
                "listOfImageIdToInclude": {
                  "value": "[parameters(\u0027listOfImageIdToInclude_windows\u0027)]"
                }
              }
            },
            {
              "policyDefinitionReferenceId": "LogAnalyticsExtension_Linux_VMSS_Deploy",
              "policyDefinitionId": "/providers/Microsoft.Authorization/policyDefinitions/5ee9e9ed-0b42-41b7-8c9c-3cfb2fbe2069",
              "parameters": {
                "logAnalytics": {
                  "value": "[parameters(\u0027logAnalytics_1\u0027)[...]
