{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Authorization/policyDefinitions/polDef-8646?api-version=2020-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "displayName": "Test $polDef-8646",
          "policyRule": {
            "if": {
              "source": "action",
              "equals": "ResourceProviderTestHost/TestResourceType/TestResourceTypeNestedOne/write"
            },
            "then": {
              "effect": "deny"
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "properties": {
          "displayName": "Test $polDef-8646",
          "policyType": "Custom",
          "mode": "Indexed",
          "metadata": {
            "createdBy": "fdc9f735-07d7-441f-92ab-f95b1c49185a",
            "createdOn": "2022-06-23T03:48:04.6394552Z",
            "updatedBy": null,
            "updatedOn": null
          },
          "policyRule": {
            "if": {
              "source": "action",
              "equals": "ResourceProviderTestHost/TestResourceType/TestResourceTypeNestedOne/write"
            },
            "then": {
              "effect": "deny"
            }
          }
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Authorization/policyDefinitions/polDef-8646",
        "type": "Microsoft.Authorization/policyDefinitions",
        "name": "polDef-8646"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Authorization/policySetDefinitions/polSetDef-8497?api-version=2020-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "displayName": "Test $polSetDef-8497",
          "policyDefinitions": [
            {
              "policyDefinitionId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Authorization/policyDefinitions/polDef-8646"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "properties": {
          "displayName": "Test $polSetDef-8497",
          "policyType": "Custom",
          "metadata": {
            "createdBy": "fdc9f735-07d7-441f-92ab-f95b1c49185a",
            "createdOn": "2022-06-23T03:48:07.8212249Z",
            "updatedBy": null,
            "updatedOn": null
          },
          "policyDefinitions": [
            {
              "policyDefinitionReferenceId": "13695989894371499811",
              "policyDefinitionId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Authorization/policyDefinitions/polDef-8646"
            }
          ]
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Authorization/policySetDefinitions/polSetDef-8497",
        "type": "Microsoft.Authorization/policySetDefinitions",
        "name": "polSetDef-8497"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Authorization/policySetDefinitions?api-version=2020-09-01\u0026$filter=policyType%20eq%20\u0027Custom\u0027",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "displayName": "azuresecuritypackautoupdate_3.0",
              "policyType": "Custom",
              "metadata": {
                "createdBy": "1f75b9dd-4f1d-4e80-9521-321a8b1f5764",
                "createdOn": "2019-07-12T00:29:57.8886527Z",
                "updatedBy": null,
                "updatedOn": null
              },
              "parameters": {
                "AllowedLocations1": {
                  "type": "Array",
                  "metadata": {
                    "displayName": "Allowed locations",
                    "description": "The list of locations that can be specified when deploying resources.",
                    "strongType": "location"
                  }
                }
              },
              "policyDefinitions": [
                {
                  "policyDefinitionReferenceId": "15538252262559902155",
                  "policyDefinitionId": "/providers/Microsoft.Management/managementgroups/48fed3a1-0814-4847-88ce-b766155f2792/providers/Microsoft.Authorization/policyDefinitions/5e6e7d4c3e34256b",
                  "parameters": {
                    "allowedLocations": {
                      "value": "[parameters(\u0027AllowedLocations1\u0027)]"
                    }
                  }
                },
                {
                  "policyDefinitionReferenceId": "2745607199541423857",
                  "policyDefinitionId": "/providers/Microsoft.Management/managementgroups/48fed3a1-0814-4847-88ce-b766155f2792/providers/Microsoft.Authorization/policyDefinitions/dac4e4f8ad529fe5",
                  "parameters": {
                    "allowedLocations[...]
