{
  "Entries": [
    {
      "RequestUri": "/Subscriptions/f5303a0b-fae4-4cdb-b44d-0e4c032dde26/resourceGroups/backuprg/providers/Microsoft.Backup/BackupVault/backuprn/storageconfig/vaultstorageconfig?api-version=2015-03-15",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"storageModelType\": \"LocallyRedundant\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-version": [
          "2013-03-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "f5303a0b-fae4-4cdb-b44d-0e4c032dde26"
  }
}