{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/e0f413ab-64d5-48c2-859b-af46b7e8d80b?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/e0f413ab-64d5-48c2-859b-af46b7e8d80b",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "e0f413ab-64d5-48c2-859b-af46b7e8d80b",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure SDK Shanghai CodeGen Test with TTL = 1 Days",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e0f413ab-64d5-48c2-859b-af46b7e8d80b/resourceGroups/testrg/providers/Microsoft.Web/sites/testfunc--1/functions/HttpTrigger1/keys/my-key?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "name": "key-name-to-be-ignored",
          "value": "key-value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/e0f413ab-64d5-48c2-859b-af46b7e8d80b/resourceGroups/testrg/providers/Microsoft.Web/sites/testfunc--1/functions/HttpTrigger1/keys/my-key",
        "name": "my-key",
        "type": "Microsoft.Web/sites/functions/keys",
        "location": "East US",
        "properties": {
          "name": "my-key",
          "value": "key-value"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "2014121699",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "e0f413ab-64d5-48c2-859b-af46b7e8d80b"
  }
}
