{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-94fed6bf-dd2e-e66d-35e1-482946b8811d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:41:23 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75F59DFB81F\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:41:22 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-94fed6bf-dd2e-e66d-35e1-482946b8811d/test-blob-a7ecb4ef-84f0-0277-6ec0-37bb26ae4ac3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:41:23 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "vcgwyUv54X7MmGE9cQ\u002BXytCjz\u002BeFfJBzBWsYezpsb1J5h5vfYdjH9tJt2lciOpBfKG3rg99iPkA3vcTf4WVEYCkPw\u002Blzt2j429kUGKE5UMrauVLNgOtzFklbp6QT6BRtKXktE3an63AE8qcGTiae/mz5BCcSdt8\u002Bm6yfGBDE5PPEp\u002B8nDDxUMs3hyI5EbcgjvKk3GuPtWrKa73jJCNJgQA2zQaY2dvIvpdFaMK1R\u002Bi3ke1tnjMkQ10w8jR3Eiir6gYiAkCsh7Ea2CHURkioESPRK5Yx2\u002BbREo2pa\u002BujVaxqnX68l0GoCwo8VsINU/0QhOEUo[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-94fed6bf-dd2e-e66d-35e1-482946b8811d/test-blob-a7ecb4ef-84f0-0277-6ec0-37bb26ae4ac3?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:41:23 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "0c7bc5bc-66d2-b779-d939-c008288aa629",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75F59ECF2D4\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:41:22 GMT",
        "x-ms-lease-id": "0c7bc5bc-66d2-b779-d939-c008288aa629",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-94fed6bf-dd2e-e66d-35e1-482946b8811d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:41:23 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "244963117",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}