{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1daac893-7c6e-7013-d49e-3fef77043abb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:45 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D3743C4EA4E7\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:45:45 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1daac893-7c6e-7013-d49e-3fef77043abb/test-blob-d9d6e8aa-312b-0786-552b-4bdfd6bbdcc4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:45 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "AJm3uJtGtQcQveuOQxizk/qfras5xHkHN2Gf25wReIqng1oxh9trZDPPyG5F+MQ8d7flNw0wizsfr4A6p9lq/kRh5r++gQweM0h4afsLwT+cYmPkK0F8dvcfEtdaMb1ZZMop5BEEfvWrxgPEuCI/FO5BnUR1htMD5XDHnm81xAKLHgQx4d0tl+RtOWU9t77V3/3oGJN45N73Jv6hPd+GdQIBOJkdDTIRFAVgB0xtxS2y8r9xTKtuEzomOrrei1oF58NiO34kt9HL1wSOGNySiWHR7kofFClWkiVf99N3MoiqWiCIC4mvjjrtpnSn4Ptdk7FZDZwQ5dKaDKhZxMD+U6R74728Cn7XImAQMm60rrIp[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1daac893-7c6e-7013-d49e-3fef77043abb/test-blob-d9d6e8aa-312b-0786-552b-4bdfd6bbdcc4?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:45 GMT",
        "x-ms-if-tags": "\"coolTag\" = 'true'",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "8a4acf6d-ed53-1c3b-a20d-d657bd3ddaae",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:d40fa70f-e01e-0013-6e5d-05fece000000\n",
        "Time:2021-02-17T18:45:46.4646606Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1daac893-7c6e-7013-d49e-3fef77043abb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:46 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1215059442",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}