{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-cb66e534-1c86-cf81-625c-f28896b0b478?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:01 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B5108E265\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:06:01 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-cb66e534-1c86-cf81-625c-f28896b0b478/test-blob-12391dd6-51aa-2510-1962-ed418dcb0d83",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:01 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "ylW28ux877lgPRd1Se6qpAn6sXl2os7b\u002bkMU941Dm\u002bkETsjOBmAMWS2Asmw6m9wrt0g3khmTDSiH2/eoaPgrHKEtcPol3J6p7VhM9vBhoV9m6T9ECwjQcEGgRitoY/E0VJXLDCriBduqjqXBRhY3JjmYQX655hCYXQC4hZVyQIpmGKFblZQ1hORkmn1jDikqaB/x0CJzem6EMq4pKX9FN00aWi513JGkY7yZVUyTNE7WjRx2gXBn8p0z1mLlC1tkH2IvSLP7tYyOTGxl2iUh8f1gU5tizrbds2iRQgUuvlhhNDbqY\u002bya29iQ5zQDAhh3EeRkhbe/AVCrUpVLaXOGYI0UA6XvN[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-cb66e534-1c86-cf81-625c-f28896b0b478/test-blob-12391dd6-51aa-2510-1962-ed418dcb0d83?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:01 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "ace19132-d74c-84c3-c7ae-583447057b3b",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B5110280E\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:06:01 GMT",
        "x-ms-lease-id": "ace19132-d74c-84c3-c7ae-583447057b3b",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-1af041e3-28ca-9781-577b-0b9ce0c4fe81/test-blob-451ca145-5c55-ae91-ddc3-21ee4f7d1384?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 16 Jul 2019 02:06:01 GMT",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:01 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "b4e6afeb-f505-4015-113b-1504b7003b29",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B511BC3AC\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:06:01 GMT",
        "x-ms-lease-id": "b4e6afeb-f505-4015-113b-1504b7003b29",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-aca51b36-f880-9b8c-c068-74ae651bc7da/test-blob-5ec3e7ad-f591-907a-fa90-22e8328a7c6a?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 18 Jul 2019 02:06:01 GMT",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:01 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "5c563578-080c-6cea-61bb-ad48618b22ca",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B51258A12\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:06:01 GMT",
        "x-ms-lease-id": "5c563578-080c-6cea-61bb-ad48618b22ca",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-0960aeaf-1857-0d03-b204-07ddef2baf5d/test-blob-0d109e01-0ba3-ea3b-fbc7-2a77120bc50e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:01 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "gt/BkRB9nRHsoc0mPLNHmQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D70A5B512F9EAC\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:06:01 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Jul 2019 02:06:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-0960aeaf-1857-0d03-b204-07ddef2baf5d/test-blob-0d109e01-0ba3-ea3b-fbc7-2a77120bc50e?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D70A5B512F9EAC\u0022",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:01 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "4dae3714-ec93-5ffb-ad82-56f0ae8a9f32",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B512F9EAC\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:06:01 GMT",
        "x-ms-lease-id": "4dae3714-ec93-5ffb-ad82-56f0ae8a9f32",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-2d4373be-55d1-210e-4a27-fa688331e835/test-blob-d1182776-693f-974d-7423-80b02ff54cfd?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:01 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "3397e120-42cc-c6e8-d657-a8017819b787",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B513D3697\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:06:01 GMT",
        "x-ms-lease-id": "3397e120-42cc-c6e8-d657-a8017819b787",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-2d4373be-55d1-210e-4a27-fa688331e835?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:01 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-07-16T19:06:01.4068607-07:00",
    "RandomSeed": "1292553580",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}