{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-665e9292-fa8a-6fe8-f374-760a89de0411?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:08:43 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E8F3A3B8C7\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:08:43 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-665e9292-fa8a-6fe8-f374-760a89de0411/test-blob-6c7684ae-9cc4-9d7c-7080-d0ba5ed82680",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:08:43 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "2nJD2gISdg/SPPL\u002B1XYivXN3YcT7LEApMj6CGmARlTvOn9FJlIEinA1nmoeqfcf5XhJH53dhha4yGqfDj1yuwae2MDak2SnyVMS2k5K4f7R3iLxNya7EbBkjFnrZXgyxuNjg9E2RVYTpVJKyqvEbeZrzTAefYff58sQcgcKvGPW4Bdu514tn5jM3Y3UbEcEnB53f5hIFElfh5wGJdNPCOjyd\u002BqUWYqEPjGbTaP2C3eEC9HklzzLjs/OD2PCJ3XFfdCk4fhYbEaX7z1mrMalZXwkghoBZnWoJukeykoqxhq70dPPUSV/K5uPUKQDZN4FJKnjnaFbxBde/L8PPaX4aSkiqt7y2hRWpVqCchXNpMIPFaWgRyR5XA24cFBmb\u002B31kud\u002B3LoDEk6VjPRG2V[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-665e9292-fa8a-6fe8-f374-760a89de0411/test-blob-6c7684ae-9cc4-9d7c-7080-d0ba5ed82680?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:08:43 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "e9a7a6c0-71eb-f066-db2d-b2902182fee3",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E8F3AECD50\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:08:43 GMT",
        "x-ms-lease-id": "e9a7a6c0-71eb-f066-db2d-b2902182fee3",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-665e9292-fa8a-6fe8-f374-760a89de0411?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:08:43 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "470760462",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}