{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b476c835-af2c-1a63-e8d9-a585f4281323?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:03 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D374D649C133\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:50:03 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b476c835-af2c-1a63-e8d9-a585f4281323/test-blob-91b6509d-1c9e-02a5-3248-4110c0f520a1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:03 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "Ff9ehJkNRHX8LpHpxy2ECj0Z0KmQMgcKyYzTl/qM74pLyVKqCVk8jwxAlHCLuzoEwzfTpiV2EOL3VLoMOqx7bz4Gnv3b2gHj3UCdT52Xfg1RztPDuUhl1blwsrSfL1VfxSUxhB09Kek18Mnk2MBEYNWsu2vZt7b1oclEaidMRK7qPol4ZfrwFKTqjcl/gPz4LFLf8nPqhQ1vO+NT+L/B6Ksa+po3y/rbu6bG7yrsdiHNTD7VbVE6ALh7CSkXnBzlKKUdZIViwWBXAzbNI5bjgsXBhqyA63pa3/rhu8LRxB+K4MaFzxGbaovdfmoabdwhmIdkVRZwZD0qw4SLgAWehj8XQkPQXrOzJhsgo20QP3Id[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b476c835-af2c-1a63-e8d9-a585f4281323/test-blob-91b6509d-1c9e-02a5-3248-4110c0f520a1?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:03 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "10",
        "x-ms-proposed-lease-id": "611c94f4-daa8-b3db-47c2-fa8e02f7b2fa",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidHeaderValue",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidHeaderValue</Code><Message>The value for one of the HTTP headers is not in the correct format.\n",
        "RequestId:560338d6-a01e-0002-7b5d-05647a000000\n",
        "Time:2021-02-17T18:50:03.9241128Z</Message><HeaderName>x-ms-lease-duration</HeaderName><HeaderValue>10</HeaderValue></Error>"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b476c835-af2c-1a63-e8d9-a585f4281323?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:03 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "963723570",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}