{
  "Entries": [
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-94fed6bf-dd2e-e66d-35e1-482946b8811d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 25 Apr 2020 01:05:48 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B4CA9BE9C6\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:05:48 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-94fed6bf-dd2e-e66d-35e1-482946b8811d/test-blob-a7ecb4ef-84f0-0277-6ec0-37bb26ae4ac3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 25 Apr 2020 01:05:48 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "vcgwyUv54X7MmGE9cQ\u002BXytCjz\u002BeFfJBzBWsYezpsb1J5h5vfYdjH9tJt2lciOpBfKG3rg99iPkA3vcTf4WVEYCkPw\u002Blzt2j429kUGKE5UMrauVLNgOtzFklbp6QT6BRtKXktE3an63AE8qcGTiae/mz5BCcSdt8\u002Bm6yfGBDE5PPEp\u002B8nDDxUMs3hyI5EbcgjvKk3GuPtWrKa73jJCNJgQA2zQaY2dvIvpdFaMK1R\u002Bi3ke1tnjMkQ10w8jR3Eiir6gYiAkCsh7Ea2CHURkioESPRK5Yx2\u002BbREo2pa\u002BujVaxqnX68l0GoCwo8VsINU/0QhOEUo[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-94fed6bf-dd2e-e66d-35e1-482946b8811d/test-blob-a7ecb4ef-84f0-0277-6ec0-37bb26ae4ac3?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:05:48 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "0c7bc5bc-66d2-b779-d939-c008288aa629",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B4CAA7A3E8\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:05:48 GMT",
        "x-ms-lease-id": "0c7bc5bc-66d2-b779-d939-c008288aa629",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-94fed6bf-dd2e-e66d-35e1-482946b8811d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:05:48 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "244963117",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttp://amandacanary.blob.core.windows.net\nhttp://amandacanary.file.core.windows.net\nhttp://amandacanary.queue.core.windows.net\nhttp://amandacanary.table.core.windows.net\n\n\n\n\nhttp://amandacanary-secondary.blob.core.windows.net\nhttp://amandacanary-secondary.file.core.windows.net\nhttp://amandacanary-secondary.queue.core.windows.net\nhttp://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandacanary.blob.core.windows.net/;QueueEndpoint=http://amandacanary.queue.core.windows.net/;FileEndpoint=http://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Sanitized\n\nDefaultEndpointsProtocol=https;AccountName=ortestsaccountcbn1;AccountKey=OrRfzSm3ktQSklAGiL90/QusS7SdS6Y5S/AJoxZEeyKYDtnue7OKYIMLOraTnT4xcOyhYbqzWVmtTKappcc5Fg==;EndpointSuffix=core.windows.net\nDefaultEndpointsProtocol=https;AccountName=vbalaorcentral1;AccountKey=vlHMz/LZ3Sx7r/1bdTQT26pG0tqORQ4uTIcxGhHB0LQhIhqGxfv2TXV7u\u002BI2ra4UWXrWGGHG2N6l\u002BBfb5FgAcQ==;EndpointSuffix=core.windows.net"
  }
}