{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-665e9292-fa8a-6fe8-f374-760a89de0411?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:43:59 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75FB7158549\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:43:58 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-665e9292-fa8a-6fe8-f374-760a89de0411/test-blob-6c7684ae-9cc4-9d7c-7080-d0ba5ed82680",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:43:59 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "2nJD2gISdg/SPPL\u002B1XYivXN3YcT7LEApMj6CGmARlTvOn9FJlIEinA1nmoeqfcf5XhJH53dhha4yGqfDj1yuwae2MDak2SnyVMS2k5K4f7R3iLxNya7EbBkjFnrZXgyxuNjg9E2RVYTpVJKyqvEbeZrzTAefYff58sQcgcKvGPW4Bdu514tn5jM3Y3UbEcEnB53f5hIFElfh5wGJdNPCOjyd\u002BqUWYqEPjGbTaP2C3eEC9HklzzLjs/OD2PCJ3XFfdCk4fhYbEaX7z1mrMalZXwkghoBZnWoJukeykoqxhq70dPPUSV/K5uPUKQDZN4FJKnjnaFbxBde/L8PPaX4aSkiqt7y2hRWpVq[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-665e9292-fa8a-6fe8-f374-760a89de0411/test-blob-6c7684ae-9cc4-9d7c-7080-d0ba5ed82680?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:43:59 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "e9a7a6c0-71eb-f066-db2d-b2902182fee3",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75FB721E305\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:43:59 GMT",
        "x-ms-lease-id": "e9a7a6c0-71eb-f066-db2d-b2902182fee3",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-665e9292-fa8a-6fe8-f374-760a89de0411?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:44:00 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "470760462",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}