{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-19b13952-ca07-34a9-f03d-940a609379aa?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:01 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D374D52CDC89\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:50:01 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-19b13952-ca07-34a9-f03d-940a609379aa/test-blob-764d9da7-f5b7-1574-280b-838fe5dafdec",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:01 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "ElRqCs9sxyAQr8NZvPkUx66QJpi2tIip4K3k1m5CCpH6lAU9ZL6EO9YsZgcyG1ku9rzgVbNkNV3MwCohh/CxzaQyXyjz12LwC+vCiU6Ad8VUteCyYbXdlV6ncaOUYrPle5hjALswOh5Z8ErIoqsPS0lkzdIQ/2zuVMrJS2a+W6g33Q61HXcJI3vCWXBrFfKzmCVaL5Xh1HwsdKvxZ+63m5WhkMSdWS3RWqlWTqX7gz/XFrNAYysSVgiSianLGLyMCr7byYQuFT/4idTsiobWMfFsGVA7dzdpjzm8C8+EBULsykTnH7m6qQBzSNpXJsyBu1i3X/5rUJKGcjpLcQpvc4OS/8BC7hI4snBPxy5cEmlt[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-19b13952-ca07-34a9-f03d-940a609379aa/test-blob-764d9da7-f5b7-1574-280b-838fe5dafdec?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 18 Feb 2021 18:50:01 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:01 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "6c7c5b01-2c42-401c-8ea1-c1e71382e769",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:3dadbd34-301e-0000-4c5d-05dac2000000\n",
        "Time:2021-02-17T18:50:02.0380213Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-cf5237b3-6b81-ac7f-61a3-f83a2c6a3060/test-blob-535b42c2-bb95-d1b6-155b-75abc9067adb?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Tue, 16 Feb 2021 18:50:01 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:02 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "e550d6b1-dc64-bcc6-7133-9b4c5ccc26b0",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:976b3b4e-c01e-0082-2a5d-059b7c000000\n",
        "Time:2021-02-17T18:50:02.4652277Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-62843da1-757c-220c-5e48-deb5f123bf08/test-blob-02163569-70d4-d32a-7c40-a637404ba40b?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"garbage\"",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:02 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "5d0ba55d-6f6f-8cae-dc41-c31d830abd33",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:de119547-c01e-0014-145d-0592ad000000\n",
        "Time:2021-02-17T18:50:02.9282940Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-07b81c29-f522-b763-c8e4-e73f40983c52/test-blob-23ebee1a-9fb8-e468-9c55-8e0b44c839ce",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:03 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "DmSX/Ek30SNLQJglvCIrZA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D8D374D6034FC4\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:50:03 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:50:03 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:50:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-02-17T18:50:03.3133508Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-07b81c29-f522-b763-c8e4-e73f40983c52/test-blob-23ebee1a-9fb8-e468-9c55-8e0b44c839ce?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "0x8D8D374D6034FC4",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:03 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "a45db4f8-2ae6-9da6-5623-143699be1257",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:a4683cce-b01e-0053-2d5d-05f9f6000000\n",
        "Time:2021-02-17T18:50:03.4287710Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-07b81c29-f522-b763-c8e4-e73f40983c52?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:03 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T12:50:01.6844462-06:00",
    "RandomSeed": "767935217",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}