{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-db257bd9-fbba-43aa-e56b-b09c1103bc28?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:13 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D374DC46CA74\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:50:13 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-db257bd9-fbba-43aa-e56b-b09c1103bc28/test-blob-d61ab689-34b1-e489-ba34-6a230e21c7d9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:13 GMT"
      },
      "RequestBody": "wvuNjxNHZQTznHPiXn8zI1ET/8Xx0gPa\u002BAu6jsNAJ2HVvX7CwLbGQVEV4hXBpoY6AUfR\u002ByEB6O/3spYIjdZBs3URDaEBcWKbTL502/DtGVGEf417bixA09SPyg0fvrN61C\u002Bgr5nlOI/kNa5jjQz/CplEgw1JxURI0TnMcqdUe44K\u002BQfATWm4n0b9ljl93EbIj7902zqlMQ7rV95gGcbokLogWZMFPr0wjOTHSy4Ly/TzBOLn4KBTZMj41fWKV4aAFAZ\u002BXIOywlACRE5V3uXf4IzpbRTjAa8ZzPTLDGnHpTReRjcojG5xQEGS5ZtR/oXiGfVpoepxnBNWZZCO5rbmOp4Z95iut1MddyzTURwTx85v6fN0XgRK7Koj0[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-db257bd9-fbba-43aa-e56b-b09c1103bc28/test-blob-d61ab689-34b1-e489-ba34-6a230e21c7d9?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:13 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "fa8377a7-5d04-9029-9158-42d9e88f169b"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D374DC51775B\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:50:13 GMT",
        "x-ms-lease-id": "fa8377a7-5d04-9029-9158-42d9e88f169b"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-db257bd9-fbba-43aa-e56b-b09c1103bc28/test-blob-d61ab689-34b1-e489-ba34-6a230e21c7d9?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:13 GMT",
        "x-ms-if-tags": "\u0022coolTag\u0022 = \u0027true\u0027",
        "x-ms-lease-action": "break"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:961bf6ec-601e-001d-1a5d-05d77e000000\n",
        "Time:2021-02-17T18:50:14.0180506Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-db257bd9-fbba-43aa-e56b-b09c1103bc28?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1454696536",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}