{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-dc9c41ec-35e4-fea9-bb48-8d3c7b5a7d49?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:47 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D3743D6C6319\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:45:47 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-dc9c41ec-35e4-fea9-bb48-8d3c7b5a7d49/test-blob-0a878f67-5029-ca91-0a1a-502d7fbe810e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:47 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "h0jJ4TGrDuqKWLvRpBupxZzLhO0lthsiCF7HIF0sSjwYbpSQ/Ti5u4Ccf9CUvybucIqQtDqU6NAsptjS5O6NXg5+uDaHGchkEchsiTdLjkg42K/Sm5YChIXEY1df59aSDyHCFgfwZ1fCLKJxJ1+Y4BiQmgw+usN3fDOww7VxBCry2noWiXdBR3FYD27zkF0mK4M+zkzKU1RdSpnTP6OhUSd4fkzkglegT1Oa5qtUhOzWipcyMjXdKIcmuD7ebQfNtr5GehERQagrnn/5L2ypCcat/bULbx/ymlbEvsoZweJLzS/sDQnaxEnvB5O25PkafK54MG9SwUeeVOC7TILdEtydrmI9vPu90zlsHGiLO7Zc[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-dc9c41ec-35e4-fea9-bb48-8d3c7b5a7d49/test-blob-0a878f67-5029-ca91-0a1a-502d7fbe810e?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:47 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "cf6a41af-ec3d-8cca-17c8-4fd4e1a71e3d",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D3743D76C67B\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:45:47 GMT",
        "x-ms-lease-id": "cf6a41af-ec3d-8cca-17c8-4fd4e1a71e3d",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-dc9c41ec-35e4-fea9-bb48-8d3c7b5a7d49/test-blob-0a878f67-5029-ca91-0a1a-502d7fbe810e?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:47 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D3743D76C67B\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:45:47 GMT",
        "x-ms-lease-time": "14",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0cf73144-fd53-ab0c-4885-9b72c757b6c0/test-blob-84e6ef00-cae2-0c28-519b-8c1a1833e4f4?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 16 Feb 2021 18:45:47 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:47 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D3743DC9B0AB\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:45:47 GMT",
        "x-ms-lease-time": "14",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9e4bcfb6-76ed-3144-61d9-3f49b6c41729/test-blob-64c155a2-caca-8ae2-d1ee-1f64d7ceecbd?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 18 Feb 2021 18:45:47 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:48 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D3743E3C84A7\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:45:48 GMT",
        "x-ms-lease-time": "14",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2ad3bae9-9c2c-b46d-0a99-c06400a93a91/test-blob-88ecbf8e-3ace-90d7-51b4-c6a2706359df",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:49 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "hfTKgTOcbOMcESsKErZhvQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D8D3743E9E8CA7\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:45:49 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:45:49 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:45:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-02-17T18:45:49.3170343Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2ad3bae9-9c2c-b46d-0a99-c06400a93a91/test-blob-88ecbf8e-3ace-90d7-51b4-c6a2706359df?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D3743E9E8CA7",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:49 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D3743E9E8CA7\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:45:49 GMT",
        "x-ms-lease-time": "14",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d7f23ade-556a-f03f-ba77-3398494fe007/test-blob-6d362f5a-eb98-9679-2ed0-548dde9da44d?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"garbage\"",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:49 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D3743EF6329F\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:45:49 GMT",
        "x-ms-lease-time": "14",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d7f23ade-556a-f03f-ba77-3398494fe007?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:50 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T12:45:47.0887557-06:00",
    "RandomSeed": "403884838",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}