{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-36d990ba-0011-37d8-f843-98637b7d0ad3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:49 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1C15AAC7C\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:52:49 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-36d990ba-0011-37d8-f843-98637b7d0ad3/test-blob-0abc7cff-3884-2a7e-7e7c-0afe5717a398",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:49 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "KzKqa1DKY6TdLi3E4aiwpwCNZP/A/0/yCGkwSwu0VPKphgRVp9i7NRgYLVULuknWzGP\u002byrOk2CviuGLmmRiYKdo6GlujWwAo0S7mqNL65k0gWn\u002bntYo\u002bBa7Ycu911JwAfwN70KDuM3Fj1viEvS9Z6NEUxj6Z8XNQ/BSsy\u002bgRsv2R5SnOfhWtMScNRN\u002bRuUh/f4odYA1dZ46PKtSLQWeIUSP689cGimm7Z5QXi6yUvkLMLUte81LvM36bPlNBIfC/hfK7l8ZwefQgYvh5Rtvh\u002b2ySvhQcKl7RCr9YaksVekWkWAW62Sd7XLRXPZFZdu2iukPnrmPco1uT6Y[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-36d990ba-0011-37d8-f843-98637b7d0ad3/test-blob-0abc7cff-3884-2a7e-7e7c-0afe5717a398?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:49 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "a04a5fd3-10a2-60cb-3082-fe216a78dd3a",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1C15DD78F\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:52:49 GMT",
        "x-ms-lease-id": "a04a5fd3-10a2-60cb-3082-fe216a78dd3a",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-36d990ba-0011-37d8-f843-98637b7d0ad3/test-blob-0abc7cff-3884-2a7e-7e7c-0afe5717a398?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:49 GMT",
        "x-ms-lease-action": "break",
        "x-ms-lease-break-period": "5",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1C15DD78F\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:52:49 GMT",
        "x-ms-lease-time": "5",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-36d990ba-0011-37d8-f843-98637b7d0ad3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:49 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "27584537",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}