{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-79d211dc-185f-0828-a8ff-b862288ba4ff?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:15 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FD8151B506E7\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 17:35:18 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-79d211dc-185f-0828-a8ff-b862288ba4ff/test-blob-738c0471-db91-7f40-4510-e1b10e4494fc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:15 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "3EBud1CEJgOpVe9WWvQ6kQ9i8SP\u002bMW2pCh\u002bTBPe3bkR0wFeMqHgF7N6JyTzs6iVQ1lChq1Nw/arTxW0x8SEM8eaq4pmdreiWXQREdWgxvR/5Qi6nFcPwA8KsueML1Pu9fddVQQiLsyhnC01PLIhCogdNN67zZNwjut7X8PQFi4kJh/iQ23wXbo8FPwp1odc6aRfbvZ1Nyhj7MocptMI0YX/ERaWQssaLNsge7SXRrRgHnIfcKs7svLzflKn07brM0N6KsVwyqrZRT4fULtzzKYVuIhc7Vzex2InosB0cl0gOUhxGRvu81fLQi9tGF43f7GokhcujkHmm2dnSSfqZNLg/xtzArOKJsk[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-79d211dc-185f-0828-a8ff-b862288ba4ff/test-blob-738c0471-db91-7f40-4510-e1b10e4494fc?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:15 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "f55b19f9-c7e5-25c7-de4e-51a819215c64",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FD8151B771F8\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 17:35:18 GMT",
        "x-ms-lease-id": "f55b19f9-c7e5-25c7-de4e-51a819215c64",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-79d211dc-185f-0828-a8ff-b862288ba4ff/test-blob-738c0471-db91-7f40-4510-e1b10e4494fc?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:15 GMT",
        "x-ms-lease-action": "break",
        "x-ms-lease-break-period": "5",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FD8151B771F8\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 17:35:18 GMT",
        "x-ms-lease-time": "5",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-79d211dc-185f-0828-a8ff-b862288ba4ff?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:15 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "609137458"
  }
}