{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-d1691cec-5a62-1ad6-00cd-3983abe76c8d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:28 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B3D7D0226\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:05:28 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-d1691cec-5a62-1ad6-00cd-3983abe76c8d/test-blob-f8bf3477-beee-54d8-fe2a-43a853d98009",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:28 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "kkaLWgt/nvGVSWAef9k1r\u002bXWDHYnc56YhUGeArffzJfC0Wqexo1X95bOY6VdudQl9JTDfMwJ4h6n8tTJ4Zs5tXzJXK5vl\u002bhXfhTfWQ/5OstteQ4jG0/LuO9L99O5jhb6lK0olF0ltl2rbP63KogPrrgIW2eNFZot/qO/I6AVnu/\u002b5cRh0aVuSMOxeK9RE45mPEkasDKubH4T\u002b5a5ZZK8ls4OuUTErdwSmhOk3J3q2\u002boUWedX\u002bu29T3hFTtUPtOIw9OLhQlpJoY5sCBUfCZDhKR\u002bspQuqZZvgUWrMf18HA\u002bYwdOi7CJiQy7hY6/HXnUXnZCW2[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-d1691cec-5a62-1ad6-00cd-3983abe76c8d/test-blob-f8bf3477-beee-54d8-fe2a-43a853d98009?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:28 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "970a18c1-5ea7-b522-1140-32c4d4633b3b",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B3D802670\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:05:28 GMT",
        "x-ms-lease-id": "970a18c1-5ea7-b522-1140-32c4d4633b3b",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-d1691cec-5a62-1ad6-00cd-3983abe76c8d/test-blob-f8bf3477-beee-54d8-fe2a-43a853d98009?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:28 GMT",
        "x-ms-lease-action": "break",
        "x-ms-lease-break-period": "5",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B3D802670\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:05:28 GMT",
        "x-ms-lease-time": "5",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-d1691cec-5a62-1ad6-00cd-3983abe76c8d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:28 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1647359029",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}