{
  "Entries": [
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-1311c67a-8c39-283a-6ce2-fb9be514d9eb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 25 Apr 2020 01:07:58 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B518043B6D\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:07:58 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-1311c67a-8c39-283a-6ce2-fb9be514d9eb/test-blob-70eb8699-fd10-d9fa-3f5d-f33f583dc475",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 25 Apr 2020 01:07:58 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "uVIEiTZOdJPJywrNtBYn/BqBY90MuJiaYQRMGUclKkridrY6H1Z7ShJYpkTyLSUoNfcl19nmaQC5aScyAlpLpKHA6j1g7N3EBRjLsxJTqDPfI\u002BRQ/1Nw/A21gbUuSUi3DAKjMUPnx0kaYNHBGrXuZcHzUt52\u002B6RNUO0vqmsnlrzQFKcPsHbw91uaNZ\u002BCr\u002BJYxhvzOvZpQRFdVeFWtxze88oU8AYO3rVLA1qC28UFy6AK1\u002BRQM1vFZtKVslqUmj8\u002BvELUbb7cSuhlqDeb5mVMWIpBS\u002BA4jb9uT4ozeCxbtmkbRB6CMV7hLo376ookKX9sSVrPU05fB[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-1311c67a-8c39-283a-6ce2-fb9be514d9eb/test-blob-70eb8699-fd10-d9fa-3f5d-f33f583dc475?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:07:58 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "e5977206-c401-02c2-bf21-50b0273a15de",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B5180EBAA0\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:07:58 GMT",
        "x-ms-lease-id": "e5977206-c401-02c2-bf21-50b0273a15de",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-1311c67a-8c39-283a-6ce2-fb9be514d9eb/test-blob-70eb8699-fd10-d9fa-3f5d-f33f583dc475?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:07:58 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B5180EBAA0\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:07:58 GMT",
        "x-ms-lease-time": "14",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-1311c67a-8c39-283a-6ce2-fb9be514d9eb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:07:58 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1143391953",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttp://amandacanary.blob.core.windows.net\nhttp://amandacanary.file.core.windows.net\nhttp://amandacanary.queue.core.windows.net\nhttp://amandacanary.table.core.windows.net\n\n\n\n\nhttp://amandacanary-secondary.blob.core.windows.net\nhttp://amandacanary-secondary.file.core.windows.net\nhttp://amandacanary-secondary.queue.core.windows.net\nhttp://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandacanary.blob.core.windows.net/;QueueEndpoint=http://amandacanary.queue.core.windows.net/;FileEndpoint=http://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Sanitized\n\nDefaultEndpointsProtocol=https;AccountName=ortestsaccountcbn1;AccountKey=OrRfzSm3ktQSklAGiL90/QusS7SdS6Y5S/AJoxZEeyKYDtnue7OKYIMLOraTnT4xcOyhYbqzWVmtTKappcc5Fg==;EndpointSuffix=core.windows.net\nDefaultEndpointsProtocol=https;AccountName=vbalaorcentral1;AccountKey=vlHMz/LZ3Sx7r/1bdTQT26pG0tqORQ4uTIcxGhHB0LQhIhqGxfv2TXV7u\u002BI2ra4UWXrWGGHG2N6l\u002BBfb5FgAcQ==;EndpointSuffix=core.windows.net"
  }
}