{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-d1691cec-5a62-1ad6-00cd-3983abe76c8d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 03:43:13 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEC402AFE4D\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:43:13 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-d1691cec-5a62-1ad6-00cd-3983abe76c8d/test-blob-5a8b4692-7f0b-f19e-9549-601e7fd935af",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 11 Dec 2019 03:43:13 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "5dYMdidznpiFQZ4Ct9/Ml8LRap7GjVf3ls5jpV251CX0lMN8zAniHqfy1Mnhmzm1fMlcrm\u002BX6Fd\u002BFN9ZD/k6y215DiMbT8u470v307mOFvqUrSiUXSW2Xats/rcqiA\u002BuuAhbZ40Vmi3\u002Bo78joBWe7/7lxGHRpW5Iw7F4r1ETjmY8SRqwMq5sfhP7lrllkryWzg65RMSt3BKaE6Tcnerb6hRZ51f67b1PeEVO1Q\u002B04jD04uFCWkmhjmwIFR8JkOEpH6ylC6plm\u002BBRasx/XwcD5jB06LsImJDLuFjr8dedRedkJbZjD9eFjkYB8e99Ii9kBS/vlaglIIYb2V[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-d1691cec-5a62-1ad6-00cd-3983abe76c8d/test-blob-5a8b4692-7f0b-f19e-9549-601e7fd935af?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:43:14 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "2304ca56-81a6-55ee-a7bc-4ea5a09ab8a6",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEC403778FB\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:43:13 GMT",
        "x-ms-lease-id": "2304ca56-81a6-55ee-a7bc-4ea5a09ab8a6",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-d1691cec-5a62-1ad6-00cd-3983abe76c8d/test-blob-5a8b4692-7f0b-f19e-9549-601e7fd935af?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:43:14 GMT",
        "x-ms-lease-action": "break",
        "x-ms-lease-break-period": "5",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEC403778FB\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:43:13 GMT",
        "x-ms-lease-time": "5",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-d1691cec-5a62-1ad6-00cd-3983abe76c8d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:43:14 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1647359029",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}