{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-442f3099-7a91-ccb9-7789-8f71c2053fbf?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:10 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1CDFB1F35\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:10 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-442f3099-7a91-ccb9-7789-8f71c2053fbf/test-blob-4fdf488c-9b5e-291f-6ce1-9dfae2804b51",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:10 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "dtM9VrvRs816/8t3W2szno4M5Hkl8GHkKiH6Ri\u002b7TfjOzdfFm6TGu5US1V/Qp84Brf5r1ZvRLIZyWCya1m2evrHSqY2TbgLqRinkEhsBFIJS\u002bJgwUHdd/KFRUkN3K\u002bQndBat/f5BbT78gY9y7BlqcESqSN7UbW46dazsQhu/chpEvZ4EUxaDEYtZM87o6w\u002bI5uL/zeMGUgaoc4hSVSsjPQ50LS96Zh0tJjZTezqfUoqcY1w5v6U3PmqYW\u002bCOMLxfNvbAc73fDYDF0aats9fMCSD9tvHP6X1pPe7F4go8nvV680RD3t7MvFbbdO7\u002biYuSzFLAkHrLkE15Vz[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-442f3099-7a91-ccb9-7789-8f71c2053fbf/test-blob-4fdf488c-9b5e-291f-6ce1-9dfae2804b51?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:10 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "dea28016-0a8b-72c5-d9b3-375f4a99d2e6",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1CDFF825F\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:10 GMT",
        "x-ms-lease-id": "dea28016-0a8b-72c5-d9b3-375f4a99d2e6",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-442f3099-7a91-ccb9-7789-8f71c2053fbf/test-blob-4fdf488c-9b5e-291f-6ce1-9dfae2804b51?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:10 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1CDFF825F\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:10 GMT",
        "x-ms-lease-time": "14",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-daed36bc-718e-f17f-c02b-143d15616694/test-blob-5fa7ca00-ac7e-570b-57f9-c96e0ecc895a?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 11 Jul 2019 17:53:10 GMT",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:11 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1CE0B6C2F\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:10 GMT",
        "x-ms-lease-time": "14",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-2bf47046-01e6-832d-e4e7-ae8f1f8a8516/test-blob-a36a90b5-cd2e-420a-016f-3b1766c0d3bf?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sat, 13 Jul 2019 17:53:10 GMT",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:11 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1CE1A3CDC\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:11 GMT",
        "x-ms-lease-time": "14",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-032eed23-922c-22b2-b270-71fa93862b87/test-blob-b617c00f-9074-ec08-b144-a564c432cac4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:11 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "unckXdMXLkOwl2eyxhhAfw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D706F1CE258A3F\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:11 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 12 Jul 2019 17:53:11 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-032eed23-922c-22b2-b270-71fa93862b87/test-blob-b617c00f-9074-ec08-b144-a564c432cac4?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D706F1CE258A3F\u0022",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:11 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1CE258A3F\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:11 GMT",
        "x-ms-lease-time": "14",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-13925e1d-64aa-1cc7-04bd-537648567fe6/test-blob-011d914e-a83b-2d2b-265f-932b88fbd8c2?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:11 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1CE33493B\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:11 GMT",
        "x-ms-lease-time": "14",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-13925e1d-64aa-1cc7-04bd-537648567fe6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:11 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-07-12T10:53:10.8996233-07:00",
    "RandomSeed": "1118430086",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}