{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-9bd58abc-1dbb-eabc-9218-a0f01b1fd4e1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:02 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B51F529E0\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:06:02 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-9bd58abc-1dbb-eabc-9218-a0f01b1fd4e1/test-blob-036c093a-95d8-fde0-8acc-2995797f5e1a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:02 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "asW1NeufsxouQbwIBuTyJ8X0tRGy0Ahv97BE1XjFGl9V/G4xtRzAm1ZS1ZfY1/am2QLQhMlMZ5m8RT06Wt6haCZdsgl2wXKoMxq7X/twliC6nvx29ZWVCZXUdG/ehkF4sWxweyTsMBePJ1GvkAeeTK4dgLziKnORx6l0oUwCyq3YQq6P/xv7zW7k5s1E5niNNijAwQWFlob437R6eI7LjV2k1k1ZDkyTIrNN/kOlTOEx5msjQQinU6wnlh9mgFTfGFlwnw8qNCfcLZ9RN5hCU5LTSZEjqExU/IOhMXgsLKFfbeXqNK3RB7JDRhRpVhsU5EOMkzfCvHAMHKOLiQKvsAD98smyVx7lAUHe32E36qZn[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-9bd58abc-1dbb-eabc-9218-a0f01b1fd4e1/test-blob-036c093a-95d8-fde0-8acc-2995797f5e1a?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:02 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "fa222f16-3a45-9ef0-8acc-81bc65527580",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B51F801DF\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:06:02 GMT",
        "x-ms-lease-id": "fa222f16-3a45-9ef0-8acc-81bc65527580",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-9bd58abc-1dbb-eabc-9218-a0f01b1fd4e1/test-blob-036c093a-95d8-fde0-8acc-2995797f5e1a?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 18 Jul 2019 02:06:02 GMT",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:03 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:30f292c9-001e-0053-7544-3c6e3a000000\n",
        "Time:2019-07-17T02:06:03.0188379Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-0043525a-0740-f5d1-20aa-ff06f43afbaa/test-blob-8e666742-8234-7a9d-114f-0beedd75d9fa?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Tue, 16 Jul 2019 02:06:02 GMT",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:03 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:30f29301-001e-0053-2844-3c6e3a000000\n",
        "Time:2019-07-17T02:06:03.1029189Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-4322af0c-3d4a-5e30-4d3a-88fd38707604/test-blob-5db694d1-bc33-4196-4d4e-3adc0463b483?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:03 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:30f2939d-001e-0053-2a44-3c6e3a000000\n",
        "Time:2019-07-17T02:06:03.4542558Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-3b698148-767e-8281-c3c7-85be8bd9d2cc/test-blob-a3b7e284-5aa5-abf0-22be-b2cb8669a3f1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:03 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "zRZDobu277a4S1BslJ8gBQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D70A5B524CC65F\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:06:03 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Jul 2019 02:06:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-3b698148-767e-8281-c3c7-85be8bd9d2cc/test-blob-a3b7e284-5aa5-abf0-22be-b2cb8669a3f1?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u00220x8D70A5B524CC65F\u0022",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:03 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:30f293c8-001e-0053-5044-3c6e3a000000\n",
        "Time:2019-07-17T02:06:03.5793761Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-3b698148-767e-8281-c3c7-85be8bd9d2cc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:03 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-07-16T19:06:02.9554975-07:00",
    "RandomSeed": "1126949912",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}