{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d1691cec-5a62-1ad6-00cd-3983abe76c8d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:52 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D374407AA222\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:45:52 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d1691cec-5a62-1ad6-00cd-3983abe76c8d/test-blob-5a8b4692-7f0b-f19e-9549-601e7fd935af",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:52 GMT"
      },
      "RequestBody": "5dYMdidznpiFQZ4Ct9/Ml8LRap7GjVf3ls5jpV251CX0lMN8zAniHqfy1Mnhmzm1fMlcrm\u002BX6Fd\u002BFN9ZD/k6y215DiMbT8u470v307mOFvqUrSiUXSW2Xats/rcqiA\u002BuuAhbZ40Vmi3\u002Bo78joBWe7/7lxGHRpW5Iw7F4r1ETjmY8SRqwMq5sfhP7lrllkryWzg65RMSt3BKaE6Tcnerb6hRZ51f67b1PeEVO1Q\u002B04jD04uFCWkmhjmwIFR8JkOEpH6ylC6plm\u002BBRasx/XwcD5jB06LsImJDLuFjr8dedRedkJbZjD9eFjkYB8e99Ii9kBS/vlaglIIYb2VNSeqoItCTkGzpRn9dZ7ll1B6egTZUphuyorq8/[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d1691cec-5a62-1ad6-00cd-3983abe76c8d/test-blob-5a8b4692-7f0b-f19e-9549-601e7fd935af?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:52 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "2304ca56-81a6-55ee-a7bc-4ea5a09ab8a6"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D374408643A4\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:45:52 GMT",
        "x-ms-lease-id": "2304ca56-81a6-55ee-a7bc-4ea5a09ab8a6"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d1691cec-5a62-1ad6-00cd-3983abe76c8d/test-blob-5a8b4692-7f0b-f19e-9549-601e7fd935af?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:52 GMT",
        "x-ms-lease-action": "break",
        "x-ms-lease-break-period": "5"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D374408643A4\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:45:52 GMT",
        "x-ms-lease-time": "5"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d1691cec-5a62-1ad6-00cd-3983abe76c8d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:52 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1647359029",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}