{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-8dbe3062-3440-9ded-cda1-934f6a86822b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:26 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B3C9156CA\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:05:27 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-8dbe3062-3440-9ded-cda1-934f6a86822b/test-blob-e77fac94-99a4-0251-a927-3185f275ad4b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:27 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "fvUPibERsgIixCIGY5zPJA1au74Hm4YtBJBScC\u002bJCPaMhdLZmQqHg/l9xeB3S58MWAx3l7nvROJu4oQgvkHSmLsret3J9YsD0jjEitamtbnxRRgiEXA9nEHva7aFZ8S3qiwkTNDBQmKBdMSBK7kMxyzKLnkpsIdL7t6b2YnUfWt0DN\u002bqgmnoMAK1oJ2ru3CH46OKujhKjvqk2V3yJWjYrfdYDR7ZYUXC4v52cw/qnzJtE/blScIzKX7lBakM9Qqa3POlUq5SroFex9g61BrrujkqhRFy8mM0JeSg9Fybtuzz3JcbREyEG2V0h4Lq\u002bFRj\u002bkpv4XD4J\u002bmQcS3Ksbk[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-8dbe3062-3440-9ded-cda1-934f6a86822b/test-blob-e77fac94-99a4-0251-a927-3185f275ad4b?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:27 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "eca7cecd-7a74-e826-f62f-af2bf83ef3b2",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B3C965052\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:05:27 GMT",
        "x-ms-lease-id": "eca7cecd-7a74-e826-f62f-af2bf83ef3b2",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-8dbe3062-3440-9ded-cda1-934f6a86822b/test-blob-e77fac94-99a4-0251-a927-3185f275ad4b?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:27 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B3C965052\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:05:27 GMT",
        "x-ms-lease-time": "14",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-8dbe3062-3440-9ded-cda1-934f6a86822b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:27 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1794891357",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}