{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-46769fb9-ceb2-e9e7-6d7a-9efa14a5df4a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:14 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FD81512EC63D\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 17:35:17 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-46769fb9-ceb2-e9e7-6d7a-9efa14a5df4a/test-blob-30ec5cc5-1f97-573e-93a0-2da188fe4005",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:14 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "pcezgdb6kegye4LnUyzhLGRONbe5r7J4hV7UxaTLccWKdRVAjpR6yssE/RucVgNnvwE8OsmJTPYUOvt4JctDZwm9Xd4WoJ3Q1GrstbGW3C5abQajjjf8ACkfLFSYAaT/wJYS3/klUR5jbGZenZZEfV7MHrjFoNjSwVy19nRJN9LG7PUahPw1NBznPyHQnWOS2q72zOPsOR\u002b9Px2ccFqqGjSTl7ChKfhhlumb3mG2ASP4IhzFU2vv2rLVXUTemMTCPCXsPAWz8LC1lDX5UFu\u002bBz76o0095cbJpL39zMy0gv0l2aE7ycQdRTJrEL419YlXF1UG5PV2hFdeI5hItSTjARI31He5gj153F[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-46769fb9-ceb2-e9e7-6d7a-9efa14a5df4a/test-blob-30ec5cc5-1f97-573e-93a0-2da188fe4005?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:14 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "ddfc57c8-6d8c-cdee-30ca-e3d1eec34e18",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FD815131584D\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 17:35:17 GMT",
        "x-ms-lease-id": "ddfc57c8-6d8c-cdee-30ca-e3d1eec34e18",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-46769fb9-ceb2-e9e7-6d7a-9efa14a5df4a/test-blob-30ec5cc5-1f97-573e-93a0-2da188fe4005?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:14 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FD815131584D\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 17:35:17 GMT",
        "x-ms-lease-time": "14",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-46769fb9-ceb2-e9e7-6d7a-9efa14a5df4a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:14 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "642524426"
  }
}