{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-efffa426-ee5a-2220-e1ad-9e79bffe62b0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 03:45:09 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEC85018787\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:45:09 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-efffa426-ee5a-2220-e1ad-9e79bffe62b0/test-blob-e2b62040-2c4a-a0f1-f3ae-08c9933efb7d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 11 Dec 2019 03:45:09 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "6fdyj\u002BkJqpnKNpR41ERJ/NaNoQat4lvZPnRkVzmf0XBxM4IPeCrkNnYcFxSYeMuuZQzzBp300AabmVF1pFJfK2QkB6HCOoOrqWqQkMpHQcWotfItq8vSfWN7c9/Zb5EjveyvdHEq7CqISFwzYz88VFeLzO9fMn\u002BZUYo\u002BRsek0TrYbNPel8xTfsjHpGNunxkkPx6HTaKiw4psFiLn66Zj5HYiWvdrXb2LN04mmI4bKrJxGQaoHIOYNqhJcYCpbJIiZL/tS0QhuOJh/BVTfCv8UOtwdtKgu8jyiiRPIuw84cu8BDTOLt5tT2EkRh9uRLl8TCCUOfXAgan3\u002BsEg0pb2JRtK[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-efffa426-ee5a-2220-e1ad-9e79bffe62b0/test-blob-e2b62040-2c4a-a0f1-f3ae-08c9933efb7d?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:45:09 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "a6e079b6-aabd-8719-5fb9-c4cb932565fe",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEC850E223C\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:45:09 GMT",
        "x-ms-lease-id": "a6e079b6-aabd-8719-5fb9-c4cb932565fe",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-efffa426-ee5a-2220-e1ad-9e79bffe62b0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:45:09 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1270288744",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}