{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-f3d20914-54f5-480b-6251-0e520601cc7c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:10 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F36639D46B81\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:56:10 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-f3d20914-54f5-480b-6251-0e520601cc7c/test-blob-8b6352c3-c74c-ca99-4510-d956ffe9b2dc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:10 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "WV5ACufrudAOnUlsmOJJwz2Nj7OdQDBGQxFTUmqkNcDV386gXgmZ2JmTfa59LDFixxUZcVr/Phku\u002bcfWmGZlameJl7kTqGQz87caCsOByRbf8ItVi8Rl1qC1cmVBwz8yLRNG9JV4Th\u002bx5X2j5DRVrC\u002bx9qfbEN6jI8AYXjX\u002b8jB359yvOtWAZqJro6VGwvFrX8Y2kMyYVx00o9DUX/DpsvJNLP1YpnFaMJAFb2w4XGHPrf5vyGJj35C\u002be5cEqwaxgvCz\u002bZb0E7lU2188kuew\u002b0ZuBbLxeuqQ6k1smSraVoSJU\u002b18hWPL2plFGu0CJ0ypDX9Q[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-f3d20914-54f5-480b-6251-0e520601cc7c/test-blob-8b6352c3-c74c-ca99-4510-d956ffe9b2dc?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:10 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "781b6cf2-612f-027b-b7a4-c4a5e5aeeb25",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F36639D7082F\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:56:10 GMT",
        "x-ms-lease-id": "781b6cf2-612f-027b-b7a4-c4a5e5aeeb25",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-06353007-5697-934c-6446-8f81b584f3e8/test-blob-cfc55d52-747a-b267-91ed-599effa0cea4?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Sun, 16 Jun 2019 20:56:10 GMT",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:10 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "19e7f3e0-f1b2-b181-aa26-f668c0aa590f",
        "x-ms-proposed-lease-id": "0b778634-8f37-d313-c2bf-df79a9f45c49",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F36639E34032\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:56:10 GMT",
        "x-ms-lease-id": "0b778634-8f37-d313-c2bf-df79a9f45c49",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-f4826e0b-9a20-2e26-1c12-cb041e4bc249/test-blob-a3e70aad-1385-2f94-8640-4e33e2f1a0fb?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Tue, 18 Jun 2019 20:56:10 GMT",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:10 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "6d309c64-2ee0-75cf-9f87-07eae9aa3e03",
        "x-ms-proposed-lease-id": "71609ccd-4066-d6b2-a992-ee4a66d3fd4c",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F36639F2AD41\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:56:10 GMT",
        "x-ms-lease-id": "71609ccd-4066-d6b2-a992-ee4a66d3fd4c",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-33047d4d-6917-eba3-41b4-24ee25c41fad/test-blob-c1004291-dc80-20b4-1838-5f1e0bccbfc5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:10 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "aEisbGz2KU4y02vDL4GnGg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D6F36639FE21B8\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:56:10 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 17 Jun 2019 20:56:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-33047d4d-6917-eba3-41b4-24ee25c41fad/test-blob-c1004291-dc80-20b4-1838-5f1e0bccbfc5?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D6F36639FE21B8\u0022",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:10 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "d76c4918-3cda-6721-3f97-6a7c5b26a629",
        "x-ms-proposed-lease-id": "fac86fa7-3614-124d-bda2-0564596ab786",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F36639FE21B8\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:56:10 GMT",
        "x-ms-lease-id": "fac86fa7-3614-124d-bda2-0564596ab786",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-cdd72394-152b-8d43-c9c0-7ee1025ea367/test-blob-1bdc8f28-92bc-8cd7-6120-af6507670141?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:10 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "6f1c55a3-9a92-f255-9c5d-8f1466536dad",
        "x-ms-proposed-lease-id": "1af9edc0-d6ea-5a31-2046-f2f1e1cd9580",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F3663A0CF265\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:56:10 GMT",
        "x-ms-lease-id": "1af9edc0-d6ea-5a31-2046-f2f1e1cd9580",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-cdd72394-152b-8d43-c9c0-7ee1025ea367?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:10 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-06-17T13:56:10.1995278-07:00",
    "RandomSeed": "1394032971"
  }
}