{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-a6e9bfc1-350c-1bfa-f539-291cbf7dab20?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:41:37 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75F62995DAC\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:41:37 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-a6e9bfc1-350c-1bfa-f539-291cbf7dab20/test-blob-3bd8eb58-4c20-77f6-ab2c-70f70176845c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:41:38 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "3oajLOlfBBLzkUowqShNI6wQK6zAHoIsnRyg7lk8JVeWRA3pbzw5\u002BefGSI4Cxs6C30xL8UvXm78Ddo/NvxW5t2zymWUbY7Rv1zLF\u002Btb0KtZOHg4M8DMLvqhN5vitaznRDJEhDyxoZnyX3BkYEqHpDky4f6EHrMY559q8zny8wWz58\u002B1E0hqq5beSdRQa8qwGY9er9eyXymDL6ChRq5j/2xutHx6zpDwyDZnpdDeyHvQutmqlEct/YSmNeeryWDkfkpr4bNONUr\u002BbeehSrVUpGck0IvUtWslQLb71JipSP7VgyeKcubIhoWOrCpjiLbPUZGAgvjVE8jjQqD8UlyyUSDkz[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-a6e9bfc1-350c-1bfa-f539-291cbf7dab20/test-blob-3bd8eb58-4c20-77f6-ab2c-70f70176845c?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:41:38 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "3a4e343a-53f2-9198-4c7a-2bf651d4246a",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75F62A622F5\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:41:37 GMT",
        "x-ms-lease-id": "3a4e343a-53f2-9198-4c7a-2bf651d4246a",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-a6e9bfc1-350c-1bfa-f539-291cbf7dab20?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:41:38 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "351577405",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}