{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a6e9bfc1-350c-1bfa-f539-291cbf7dab20?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:56 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D37442E71E0D\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:45:56 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a6e9bfc1-350c-1bfa-f539-291cbf7dab20/test-blob-3bd8eb58-4c20-77f6-ab2c-70f70176845c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:56 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "3oajLOlfBBLzkUowqShNI6wQK6zAHoIsnRyg7lk8JVeWRA3pbzw5+efGSI4Cxs6C30xL8UvXm78Ddo/NvxW5t2zymWUbY7Rv1zLF+tb0KtZOHg4M8DMLvqhN5vitaznRDJEhDyxoZnyX3BkYEqHpDky4f6EHrMY559q8zny8wWz58+1E0hqq5beSdRQa8qwGY9er9eyXymDL6ChRq5j/2xutHx6zpDwyDZnpdDeyHvQutmqlEct/YSmNeeryWDkfkpr4bNONUr+beehSrVUpGck0IvUtWslQLb71JipSP7VgyeKcubIhoWOrCpjiLbPUZGAgvjVE8jjQqD8UlyyUSDkz8uNzjF8XE4CSgU8xbf8L[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a6e9bfc1-350c-1bfa-f539-291cbf7dab20/test-blob-3bd8eb58-4c20-77f6-ab2c-70f70176845c?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:56 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "3a4e343a-53f2-9198-4c7a-2bf651d4246a",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D37442F14C87\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:45:56 GMT",
        "x-ms-lease-id": "3a4e343a-53f2-9198-4c7a-2bf651d4246a",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a6e9bfc1-350c-1bfa-f539-291cbf7dab20?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:56 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "351577405",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}