{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-32681695-980f-8730-be8c-c358e49898fa?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:29 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B3DCB0E26\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:05:29 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-32681695-980f-8730-be8c-c358e49898fa/test-blob-0d2b0ba3-f054-3fe4-b653-edc93b19ebb2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:29 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "Cou8ITBJjpEKt7caC3tizsdvtNltiqXDEGa8qRZBdWIK26uZM6MkWn2ZAp05yjQ68R4CzGUSRX/m\u002bRDJjOR7yUFUEDDQyZojS1lc04cIiUYxgbj3P6j9\u002bJUrszqTWs6YHTlb5LkEaieD3oELtnH33W/JlwsshImYVxiapBZgkPCLw7VOrKWMLRaQc2En8UIkM9XLycLCa5mww4yhasYRI02QgPK7qTDJPWr0mxAocWbWdXFAlMcuyFgcnekY68NQflATlnFPaImlAYxXzc\u002bJh1Emy/RV0Y6GYreZnwtGsVGnpBzAFNr1hgznmpM61vqIkxaX8h/O\u002bq3BjDS5tcl\u002[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-32681695-980f-8730-be8c-c358e49898fa/test-blob-0d2b0ba3-f054-3fe4-b653-edc93b19ebb2?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:29 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "9ee1bcae-b393-f100-275c-e6a15f065764",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B3DD86E39\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:05:29 GMT",
        "x-ms-lease-id": "9ee1bcae-b393-f100-275c-e6a15f065764",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-a198f052-fd69-c968-a44a-a641c210d1f5/test-blob-35e0a4e9-39d0-58c7-512d-749f989b96f1?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 16 Jul 2019 02:05:29 GMT",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:29 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "10ef0bfd-afac-111c-6827-cf01c8549629",
        "x-ms-proposed-lease-id": "256f83d4-2943-ea5b-65ec-bbf5aaee22bc",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B3DEBFB06\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:05:29 GMT",
        "x-ms-lease-id": "256f83d4-2943-ea5b-65ec-bbf5aaee22bc",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-a1897e56-ce5e-bc56-5f22-c60936c28f76/test-blob-756ace46-c59d-361c-bd75-d83a5910ba3c?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 18 Jul 2019 02:05:29 GMT",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:29 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "34c34baf-96ed-1e87-5c13-10a958f511df",
        "x-ms-proposed-lease-id": "19d39029-853c-da1c-fc71-cb9798b9cc85",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B3DFD8B86\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:05:29 GMT",
        "x-ms-lease-id": "19d39029-853c-da1c-fc71-cb9798b9cc85",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-0c8854f1-41c6-7896-4196-7287270a3fd1/test-blob-768a1790-7967-06dd-f443-109ffee8a3ff",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:29 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "qd358EM7lo32Js4Gazsm2A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D70A5B3E0A11B9\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:05:29 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Jul 2019 02:05:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-0c8854f1-41c6-7896-4196-7287270a3fd1/test-blob-768a1790-7967-06dd-f443-109ffee8a3ff?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D70A5B3E0A11B9\u0022",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:29 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "4040612e-f510-5e20-36d3-ad5db5b1d835",
        "x-ms-proposed-lease-id": "db03f21b-bece-f720-5fcf-58bffd92a29f",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B3E0A11B9\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:05:29 GMT",
        "x-ms-lease-id": "db03f21b-bece-f720-5fcf-58bffd92a29f",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-f25bdd94-631f-77e5-4869-e881ee3634ac/test-blob-5f442bdf-0438-7706-7319-f0bdd27a14dd?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:29 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "db2f4322-c59f-3e78-bc7f-8d337b16e3be",
        "x-ms-proposed-lease-id": "f91433d2-638f-caee-a476-9022d1b156d8",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B3E1B05D2\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:05:29 GMT",
        "x-ms-lease-id": "f91433d2-638f-caee-a476-9022d1b156d8",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-f25bdd94-631f-77e5-4869-e881ee3634ac?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:29 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-07-16T19:05:29.0897205-07:00",
    "RandomSeed": "299154996",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}