{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-cd9335b2-42dd-165e-a398-5bfdaed0cf4e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:49 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1C17F064F\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:52:49 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-cd9335b2-42dd-165e-a398-5bfdaed0cf4e/test-blob-dcf26b4e-e943-cb16-fc20-9b4b11cb4f58",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:49 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "rPFJ8Tql71jY0UKDE7lX9w7LrkLd8woxi\u002bUtrr4RsL8K1vjMY5hVqXyaA3KnkrhCyKQ8RhwMe7nnF2VVd0GZxyCCeD3BipN1dgTGQ/CYivgs6uUa1Wqj/lo\u002b5UszADI7ADtRJBp6gT0QxtAXRTfJT41tKIxbfvK233rigqVIQnXSi0O0RmXesminCg6Zi7gjdJW9xdil34FIm0Wgl/\u002bYyINaRbr0FQgnj3Ujs3TjHFPBvw0Pin2dLKvCa6sgPRppD0KLP0X\u002bL1\u002bNljZigSsMZH7x3tjxiD0GvBgOMqldB1FbuqQyWN0Nwo\u002btgvRHO6t/tQcsLl9Bd4YEhY[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-cd9335b2-42dd-165e-a398-5bfdaed0cf4e/test-blob-dcf26b4e-e943-cb16-fc20-9b4b11cb4f58?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:49 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "82a1f70b-ceec-94de-ca1e-732f071e86d3",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1C18194E1\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:52:49 GMT",
        "x-ms-lease-id": "82a1f70b-ceec-94de-ca1e-732f071e86d3",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-5ecf82c4-00f2-f562-aa38-c074ce3a8172/test-blob-cebf6e9d-c7fe-9669-1992-d23cdd772eb2?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 11 Jul 2019 17:52:49 GMT",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:50 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "055a643d-5545-f0e4-8596-104c519b08dc",
        "x-ms-proposed-lease-id": "6f70bc51-e6d0-8dcd-b6b1-1ad27d066e1c",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1C195BE09\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:52:50 GMT",
        "x-ms-lease-id": "6f70bc51-e6d0-8dcd-b6b1-1ad27d066e1c",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-9168caf9-d94c-56c3-bf72-4471ed1d1a79/test-blob-719a2260-e1aa-4f33-317f-995fe82d25ee?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sat, 13 Jul 2019 17:52:49 GMT",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:50 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "4ef34b08-9e30-2028-e412-f485fe10c08c",
        "x-ms-proposed-lease-id": "4619304d-8db6-7a41-d7cc-cf51e573f659",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1C1A180B2\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:52:50 GMT",
        "x-ms-lease-id": "4619304d-8db6-7a41-d7cc-cf51e573f659",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-a88932a8-a1aa-4655-5767-273ee2abea3c/test-blob-9cba8d8e-924d-7ac6-45cd-0fc567971276",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:50 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ufqPLWc4n6zvA44vHCpLtg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D706F1C1AE5511\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:52:50 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 12 Jul 2019 17:52:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-a88932a8-a1aa-4655-5767-273ee2abea3c/test-blob-9cba8d8e-924d-7ac6-45cd-0fc567971276?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D706F1C1AE5511\u0022",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:50 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "d5924e81-8d22-057f-1e96-890f48af35f8",
        "x-ms-proposed-lease-id": "00135c3f-715d-1196-e140-a99b771f68ff",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1C1AE5511\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:52:50 GMT",
        "x-ms-lease-id": "00135c3f-715d-1196-e140-a99b771f68ff",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-067fdc6d-8886-5435-0c4a-ce92689e7bce/test-blob-b9f33185-7b69-5b88-c5b5-ec36e600c9d6?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:50 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "8c4a80dc-f0e2-ab2c-8ca6-c7517936cf72",
        "x-ms-proposed-lease-id": "42a64738-c37a-94a2-a11a-78c9c9323059",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1C1BC3B23\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:52:50 GMT",
        "x-ms-lease-id": "42a64738-c37a-94a2-a11a-78c9c9323059",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-067fdc6d-8886-5435-0c4a-ce92689e7bce?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:50 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-07-12T10:52:49.9553632-07:00",
    "RandomSeed": "271146934",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}