{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f8feca79-34c3-ce53-76e0-53a177f57cb4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D374DCE64485\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:50:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f8feca79-34c3-ce53-76e0-53a177f57cb4/test-blob-6b5611b8-b79b-529c-da18-68424f978944",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "Th+qdkwyHnVUpVw6qtm3pqjwAzPbJplAY1ZvfIRZ2m5vOMcPPmKohfLhF/VaYqgBYcGaX5RVaSeFahP1w6Hw+8vtynESp2dGR31B+Q+k5QGtbRvDv3raGs+fidRPs8JQ8RsqbJc277lZVBgWFG8Y4YQRSFWGLDxQE7Cich6T9pS68Aj0eXhpdn5iaWthwwZfh6dPPWpsysTf2VnnlHybxl2EXCNnI2gMp9HXI8PR7lCpQup2Q7kpTiVDFaAfguICxqIN3Wfi+GM/Q5aZlaYBDesIPVGRJYOjWw3+Iw7H7CXv1V0gwxHpxkqHNv8jkLh+QQe1FkSRcKEeaoFZ5NVUd1ZwqcBJ4UrZH3YHCu6EgMtV[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f8feca79-34c3-ce53-76e0-53a177f57cb4/test-blob-6b5611b8-b79b-529c-da18-68424f978944?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:14 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "b3e62ca1-892b-193b-27bd-dccc69b5d176",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D374DCF156E9\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:50:14 GMT",
        "x-ms-lease-id": "b3e62ca1-892b-193b-27bd-dccc69b5d176",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-408fb132-ba30-9711-145c-7118b4e1e620/test-blob-07d18cd5-0816-4b4c-6be1-27ea8ba3669d?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 16 Feb 2021 18:50:14 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:15 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "0f26d224-7ea9-0d4d-f9ef-94783682a319",
        "x-ms-proposed-lease-id": "8ba19ecc-f7aa-aa5d-b754-102ecc05474b",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D374DD418154\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:50:15 GMT",
        "x-ms-lease-id": "8ba19ecc-f7aa-aa5d-b754-102ecc05474b",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-6237922e-4482-4652-81c5-1d5b323a7ff9/test-blob-b5ecb3f7-34ff-6a22-ff5a-cd1ed412e2e8?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 18 Feb 2021 18:50:14 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:16 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "bef6f611-db7a-3ae3-9f7f-2cb0e0f13c24",
        "x-ms-proposed-lease-id": "edf558bb-f485-a970-3bdf-6b10d12f0ce7",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D374DD8AF3C2\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:50:15 GMT",
        "x-ms-lease-id": "edf558bb-f485-a970-3bdf-6b10d12f0ce7",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-20ff7c03-2ce1-b7c2-2ea1-707d2f24dafc/test-blob-875a09cf-7528-6ed2-e230-507030df786a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:16 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "StiWucZIr3mTwqcIP8mo5A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D8D374DDD74CE9\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:50:16 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:50:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:50:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-02-17T18:50:16.4466921Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-20ff7c03-2ce1-b7c2-2ea1-707d2f24dafc/test-blob-875a09cf-7528-6ed2-e230-507030df786a?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D374DDD74CE9",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:16 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "4a348d44-985a-849c-d59c-ca084253d81b",
        "x-ms-proposed-lease-id": "9e0c2cd3-df68-5538-c33f-73726e0fdc3e",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D374DDD74CE9\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:50:16 GMT",
        "x-ms-lease-id": "9e0c2cd3-df68-5538-c33f-73726e0fdc3e",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-edd800a0-2f83-782c-c101-a6ef557000a3/test-blob-481b0374-765f-d054-148a-0a2d1a597419?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"garbage\"",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:17 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "9bdeafaf-33ba-96bb-6780-e7ba40dd18fd",
        "x-ms-proposed-lease-id": "1dc9fb93-89ae-4db3-fca7-922dab010727",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D374DE2EF2BE\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:50:17 GMT",
        "x-ms-lease-id": "1dc9fb93-89ae-4db3-fca7-922dab010727",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-edd800a0-2f83-782c-c101-a6ef557000a3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:17 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T12:50:14.6361172-06:00",
    "RandomSeed": "1398980827",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}