{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-f1dc97c8-1737-78e6-3a2a-98af07c32b58?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:41:42 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75F651B8C78\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:41:41 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-f1dc97c8-1737-78e6-3a2a-98af07c32b58/test-blob-1b648d83-f659-8018-a866-5c7fb81146be",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:41:42 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "RbHjAGcZmnKziydMTSWgrrBGUKMXyo3W79xpV0CCXwVFPIQjAgixavPyZ83OyzKDxq7OcsGjpnokDBGKsEIyMSsiBhCgfKyolOavJWK/CCOp5ZGSs\u002B1EopYJ//X3Jrmxvzaiq8Uh40kBJt3a84EXZQTt4cqwoH0\u002B3mN6ln22sG4s/mUsHVxeiAFHkIwPaa8U8pnwCUXuAB\u002B4Y81hpk3MS3VvrfQb60ioj1jJaQ/wLnS0ZaTjxacpPf5FdLmO/eG0e0QXoLy6\u002BQdRSHrsJZcPxzVYrEGp6IbORm/21neOGZJ3FO7L2Y64\u002BmydkXwtPBhnNayENlCfCpK9SFpMwyK[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-f1dc97c8-1737-78e6-3a2a-98af07c32b58/test-blob-1b648d83-f659-8018-a866-5c7fb81146be?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:41:42 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "8485d0ee-4511-4d26-f6e2-9b1bac63408a",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75F6528D60C\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:41:41 GMT",
        "x-ms-lease-id": "8485d0ee-4511-4d26-f6e2-9b1bac63408a",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-f1dc97c8-1737-78e6-3a2a-98af07c32b58/test-blob-1b648d83-f659-8018-a866-5c7fb81146be?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Fri, 03 Apr 2020 23:41:42 GMT",
        "x-ms-date": "Thu, 02 Apr 2020 23:41:42 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "8485d0ee-4511-4d26-f6e2-9b1bac63408a",
        "x-ms-proposed-lease-id": "b2b61a68-b6e4-d0e8-8ba7-955eeeccc1b6",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:678cab05-801e-007a-1c48-0950e0000000\n",
        "Time:2020-04-02T23:41:41.6985605Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-a0480379-e0bb-ef9c-140c-4a653ac7b8f9/test-blob-1b25afd7-3d8c-72a9-fee7-9b5061b3551e?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Wed, 01 Apr 2020 23:41:42 GMT",
        "x-ms-date": "Thu, 02 Apr 2020 23:41:43 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "04050bc5-c922-a857-dacb-69e86659f821",
        "x-ms-proposed-lease-id": "a5e07496-dcb9-ea35-2cbc-7dedb4550c10",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:07c58040-801e-0055-6a48-095d2b000000\n",
        "Time:2020-04-02T23:41:42.3877962Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-446b342d-b2b4-fb0a-a2c3-45dc94ba51c3/test-blob-92f6f73a-0d1c-54c2-5c13-abef273416e2?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-date": "Thu, 02 Apr 2020 23:41:43 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "27fe1f60-2bf0-9238-8f81-a01a867c0d75",
        "x-ms-proposed-lease-id": "9179e62c-01a0-9215-1273-20c814f20d2d",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:93b4ac9b-d01e-0083-0848-0953c2000000\n",
        "Time:2020-04-02T23:41:43.0766018Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-3a85ec43-47c4-c7b7-2f55-5af49efa484b/test-blob-ba7069a1-1d8e-6ba9-ef4e-4ff5679037db",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:41:44 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "hFPcsFOEjy7rkSabCDtEOw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D75F66644EB7\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:41:43 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Apr 2020 23:41:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-3a85ec43-47c4-c7b7-2f55-5af49efa484b/test-blob-ba7069a1-1d8e-6ba9-ef4e-4ff5679037db?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u00220x8D7D75F66644EB7\u0022",
        "x-ms-date": "Thu, 02 Apr 2020 23:41:44 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "fed31702-2724-2c6c-1545-a63d867f5b43",
        "x-ms-proposed-lease-id": "0aaaebc3-3e54-8431-ccbc-c5ce9f93ceae",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:d06d71a4-401e-004a-2e48-09ee2f000000\n",
        "Time:2020-04-02T23:41:43.8429156Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-3a85ec43-47c4-c7b7-2f55-5af49efa484b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:41:44 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-02T16:41:42.0213661-07:00",
    "RandomSeed": "2076360744",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}