{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e9d43596-3708-3c82-8a3a-7debc2eb3091?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D374DFB47184\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:50:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e9d43596-3708-3c82-8a3a-7debc2eb3091/test-blob-4fb051ad-f6c9-e5a1-fd2e-3cd32fd28a3c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "eYJqQGc9YsXBVkA2EsrvPIxfA2GccTGK4J/1AbMa+MGhYvM0BmdAb+/rjnK1a9IzPwBH0M4poAhR4F/HR2ERp15/lK/WujUlH5NyseK+1HXMwcGz0yjyeMLr4yUHeCeN2ecUNtYiXYTKIbA7t+4mkgzq+4afXtQ1jBzt69cQHaZr5Nj7qZ2eqWQ86bF3tsHTxFAYHX2h7nsT36m6NXKtugQK0NIWK+huS1EhYnQivdVaGiaG9wApyfVc58r05HTyjy+tbebuvJlnqdErf4sG8CHTXxpMJsID4AbcuUMeembdL9NFdVDva12MHk0u/UlqVveoIIRZpWhsqYzfEgNWSS9qTU+3wHvR5PS9vwh11OO9[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e9d43596-3708-3c82-8a3a-7debc2eb3091/test-blob-4fb051ad-f6c9-e5a1-fd2e-3cd32fd28a3c?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "﻿<Tags><TagSet><Tag><Key>coolTag</Key><Value>true</Value></Tag></TagSet></Tags>",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e9d43596-3708-3c82-8a3a-7debc2eb3091/test-blob-4fb051ad-f6c9-e5a1-fd2e-3cd32fd28a3c?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:19 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "0b26ea32-d23c-0817-6d43-6c750990247d",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D374DFBEB528\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:50:19 GMT",
        "x-ms-lease-id": "0b26ea32-d23c-0817-6d43-6c750990247d",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e9d43596-3708-3c82-8a3a-7debc2eb3091/test-blob-4fb051ad-f6c9-e5a1-fd2e-3cd32fd28a3c?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:19 GMT",
        "x-ms-if-tags": "\"coolTag\" = 'true'",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "0b26ea32-d23c-0817-6d43-6c750990247d",
        "x-ms-proposed-lease-id": "8328c635-9d58-8e5f-b6f6-67fd619d778b",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D374DFBEB528\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:50:19 GMT",
        "x-ms-lease-id": "8328c635-9d58-8e5f-b6f6-67fd619d778b",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e9d43596-3708-3c82-8a3a-7debc2eb3091?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1628365462",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}