{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f1dc97c8-1737-78e6-3a2a-98af07c32b58?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:04:24 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E8599E5A42\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:04:25 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f1dc97c8-1737-78e6-3a2a-98af07c32b58/test-blob-1b648d83-f659-8018-a866-5c7fb81146be",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:04:24 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "RbHjAGcZmnKziydMTSWgrrBGUKMXyo3W79xpV0CCXwVFPIQjAgixavPyZ83OyzKDxq7OcsGjpnokDBGKsEIyMSsiBhCgfKyolOavJWK/CCOp5ZGSs\u002B1EopYJ//X3Jrmxvzaiq8Uh40kBJt3a84EXZQTt4cqwoH0\u002B3mN6ln22sG4s/mUsHVxeiAFHkIwPaa8U8pnwCUXuAB\u002B4Y81hpk3MS3VvrfQb60ioj1jJaQ/wLnS0ZaTjxacpPf5FdLmO/eG0e0QXoLy6\u002BQdRSHrsJZcPxzVYrEGp6IbORm/21neOGZJ3FO7L2Y64\u002BmydkXwtPBhnNayENlCfCpK9SFpMwyKPwi7odRCoRO6moLLUDFcJoQlXj6DLCuNB1wlcDZAzbDZJDc9ORccHvvG9[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f1dc97c8-1737-78e6-3a2a-98af07c32b58/test-blob-1b648d83-f659-8018-a866-5c7fb81146be?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:04:25 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "8485d0ee-4511-4d26-f6e2-9b1bac63408a",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E859A95A09\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:04:25 GMT",
        "x-ms-lease-id": "8485d0ee-4511-4d26-f6e2-9b1bac63408a",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f1dc97c8-1737-78e6-3a2a-98af07c32b58/test-blob-1b648d83-f659-8018-a866-5c7fb81146be?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 18 Feb 2021 02:04:24 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 02:04:25 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "8485d0ee-4511-4d26-f6e2-9b1bac63408a",
        "x-ms-proposed-lease-id": "b2b61a68-b6e4-d0e8-8ba7-955eeeccc1b6",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:a2e201a1-e01e-0013-4ed1-04fece000000\n",
        "Time:2021-02-17T02:04:25.2702244Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a0480379-e0bb-ef9c-140c-4a653ac7b8f9/test-blob-1b25afd7-3d8c-72a9-fee7-9b5061b3551e?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Tue, 16 Feb 2021 02:04:24 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 02:04:25 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "04050bc5-c922-a857-dacb-69e86659f821",
        "x-ms-proposed-lease-id": "a5e07496-dcb9-ea35-2cbc-7dedb4550c10",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:8cab1bf9-a01e-0002-7ed1-04647a000000\n",
        "Time:2021-02-17T02:04:25.7422078Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-446b342d-b2b4-fb0a-a2c3-45dc94ba51c3/test-blob-92f6f73a-0d1c-54c2-5c13-abef273416e2?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-date": "Wed, 17 Feb 2021 02:04:26 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "27fe1f60-2bf0-9238-8f81-a01a867c0d75",
        "x-ms-proposed-lease-id": "9179e62c-01a0-9215-1273-20c814f20d2d",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:4fab75b1-001e-008d-43d1-04ed10000000\n",
        "Time:2021-02-17T02:04:26.2713178Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3a85ec43-47c4-c7b7-2f55-5af49efa484b/test-blob-ba7069a1-1d8e-6ba9-ef4e-4ff5679037db",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:04:26 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "hFPcsFOEjy7rkSabCDtEOw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2E85A8FEC65\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:04:26 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 02:04:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 02:04:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:04:26.6552421Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3a85ec43-47c4-c7b7-2f55-5af49efa484b/test-blob-ba7069a1-1d8e-6ba9-ef4e-4ff5679037db?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "0x8D8D2E85A8FEC65",
        "x-ms-date": "Wed, 17 Feb 2021 02:04:26 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "fed31702-2724-2c6c-1545-a63d867f5b43",
        "x-ms-proposed-lease-id": "0aaaebc3-3e54-8431-ccbc-c5ce9f93ceae",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:de6b8a7f-d01e-0027-1ed1-04cd06000000\n",
        "Time:2021-02-17T02:04:26.8300453Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3a85ec43-47c4-c7b7-2f55-5af49efa484b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:04:26 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-16T20:04:24.7049986-06:00",
    "RandomSeed": "2076360744",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}