{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-94d3e614-4ad9-3da8-f4cc-8f7d41efc370?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 28 Apr 2020 02:42:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EB1DD9BD00DC\u0022",
        "Last-Modified": "Tue, 28 Apr 2020 02:42:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-94d3e614-4ad9-3da8-f4cc-8f7d41efc370/test-blob-91f74f1a-62ff-5ac2-e8b3-150e1d546f49",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 28 Apr 2020 02:42:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "xeEmkNR4fTAkKN9iy5NZvNsROX20da707sBhQJkUmFfKpaTlm19HodLGbNeDX45UWVgzCxrxlFAzMqEUFj2XD5CIlybvdCF7ypir7QjXcY4xDOZA4Y082RBTsmi9M4qUL1xG\u002B8hoZeU3t0GCRadIW8ET4gpXVi4DS74VnMG4vpcNFr2rkHbGyacACSpMuZNpC1anqlCAPdkuQ68JUskjfvipdC/pnMpLTBliVk0Et5ErrJBrERRGjdnkfE3GvHfe3IoxokVkgG6LW103HeaLKowd3qY4uG3kY\u002BdVBB99hZCihHnC0hRMxywi37W3Dm/yWFLAqN7QpSQcTT5dDntODtbNlZltyVd30R[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-94d3e614-4ad9-3da8-f4cc-8f7d41efc370/test-blob-30062fe1-96a6-3e0f-3f8a-17158368a417",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "P20",
        "x-ms-copy-source": "https://seanmcccanary.blob.core.windows.net/test-container-94d3e614-4ad9-3da8-f4cc-8f7d41efc370/test-blob-91f74f1a-62ff-5ac2-e8b3-150e1d546f49",
        "x-ms-date": "Tue, 28 Apr 2020 02:42:53 GMT",
        "x-ms-requires-sync": "true",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidHeaderValue",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EInvalidHeaderValue\u003C/Code\u003E\u003CMessage\u003EThe value for one of the HTTP headers is not in the correct format.\n",
        "RequestId:83b16182-201e-0001-3006-1d127c000000\n",
        "Time:2020-04-28T02:42:53.7527068Z\u003C/Message\u003E\u003CHeaderName\u003Ex-ms-access-tier\u003C/HeaderName\u003E\u003CHeaderValue\u003EP20\u003C/HeaderValue\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-94d3e614-4ad9-3da8-f4cc-8f7d41efc370?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 Apr 2020 02:42:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1911324543",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}