{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-f49c6796-f72b-4637-eb3c-eed86b27df3f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 28 Apr 2020 02:43:50 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EB1DFBF66B51\u0022",
        "Last-Modified": "Tue, 28 Apr 2020 02:43:51 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-f49c6796-f72b-4637-eb3c-eed86b27df3f/test-blob-5c27da67-44d5-346b-732a-da0808c3bf6c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 28 Apr 2020 02:43:51 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "TMGfjRTAIy96beWmXRzQhdBKDKxYk1f0c96r8P3UcVtEl4rf9cSQprb34mhfxNdWWlQ4vbYSE7lpqho1FTMxpfuKYcaS8Y8MuWb1YbHulK4HVZapnLOkMoPQdUupWpGDxTxt1WMQxGnEKwRQHLIIexVsLsCciAlI5S9CwXtEYl7Ucpt0gb9L9pAt5HCvVBXRyPo1PSzR5zwyJO8zzQPtgMmle6oXk/pWIDcvbqSYmZEZcfiBDyQyA4teQlzQFyiNP2OnCdhruTT/3hz0oniYmYtdGlwKbHCkcngfuFGdhgkPoS5A8Y\u002B5rrfEgTAIPmETxqjRcv3Mg9PyA5dfTAHiYlgT5QBJV6j8pGykRet[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-f49c6796-f72b-4637-eb3c-eed86b27df3f/test-blob-7d6847f1-11c1-ee4f-d193-7bc4cb03a410",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary.blob.core.windows.net/test-container-f49c6796-f72b-4637-eb3c-eed86b27df3f/test-blob-5c27da67-44d5-346b-732a-da0808c3bf6c",
        "x-ms-date": "Tue, 28 Apr 2020 02:43:51 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-requires-sync": "true",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EB1DFC13BCA2\u0022",
        "Last-Modified": "Tue, 28 Apr 2020 02:43:51 GMT",
        "x-ms-content-crc64": "Pt/PWY8YkxI=",
        "x-ms-copy-id": "3f6d0c89-09ee-4be2-af4d-45373a0542cd",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-04-28T02:43:51.1960508Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-f49c6796-f72b-4637-eb3c-eed86b27df3f/test-blob-7d6847f1-11c1-ee4f-d193-7bc4cb03a410",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 Apr 2020 02:43:51 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "LwYOCLkAAtISPNyWNthAqQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7EB1DFC13BCA2\u0022",
        "Last-Modified": "Tue, 28 Apr 2020 02:43:51 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Tue, 28 Apr 2020 02:43:51 GMT",
        "x-ms-copy-id": "3f6d0c89-09ee-4be2-af4d-45373a0542cd",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://seanmcccanary.blob.core.windows.net/test-container-f49c6796-f72b-4637-eb3c-eed86b27df3f/test-blob-5c27da67-44d5-346b-732a-da0808c3bf6c",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Tue, 28 Apr 2020 02:43:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-04-28T02:43:51.1960508Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-f49c6796-f72b-4637-eb3c-eed86b27df3f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 Apr 2020 02:43:51 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "929229671",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}