{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-7d65231b-9dd7-6442-c8b2-7b4f67cd7eb6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 28 Apr 2020 02:42:54 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EB1DDA164AAB\u0022",
        "Last-Modified": "Tue, 28 Apr 2020 02:42:54 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-7d65231b-9dd7-6442-c8b2-7b4f67cd7eb6/test-blob-03ce9b97-eaa7-c3b4-a006-c36e9ee6295d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 28 Apr 2020 02:42:54 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "RVbOr41OPl2dx0QaiIS2J2dLMew3Awk3cAO6Z55Jh9fIN3hY0Zuizz043eZF6wAuXPfUyi8IpkFNlz6Jk9a/VEBsUlEMXlbMqGGv/yYi8YUDiwumdLyov5E2CjlcGDtmeYml2JmvIv6hCCHNWaYbKqW5hgfKGN\u002BExJPA1VMcb5AmSIadfRnrVGkNBWua2mXqG9\u002BUopE0nGCpIRMG7k2qhJiRpxEgfq2LzjKevBNz6ekt1bpziM3\u002B8qwm81sF5WUcY4DTCDJUyZwyCNRfld9MNjcq2RmSNvzLk7Vk\u002BopRhujNgVmToOG22AwdQYD4nlzN2b0k2wxLiSyEB3R9788R4YHs[...]
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-7d65231b-9dd7-6442-c8b2-7b4f67cd7eb6/test-blob-25cb5f4d-1e39-5dd6-c2be-a62753a77957",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary.blob.core.windows.net/test-container-7d65231b-9dd7-6442-c8b2-7b4f67cd7eb6/test-blob-03ce9b97-eaa7-c3b4-a006-c36e9ee6295d",
        "x-ms-date": "Tue, 28 Apr 2020 02:42:54 GMT",
        "x-ms-requires-sync": "true",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EB1DDA418146\u0022",
        "Last-Modified": "Tue, 28 Apr 2020 02:42:54 GMT",
        "x-ms-content-crc64": "IwXP7EVWK7M=",
        "x-ms-copy-id": "c18a4dbe-43a0-4376-ab56-8d7c4b2196bc",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-04-28T02:42:54.4550168Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-87e5c27e-1168-b085-e828-8818b306971b/test-blob-62d019d0-4628-1802-83a7-53271ad4158c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Mon, 27 Apr 2020 02:42:54 GMT",
        "x-ms-copy-source": "https://seanmcccanary.blob.core.windows.net/test-container-87e5c27e-1168-b085-e828-8818b306971b/test-blob-60be8e18-4f0b-e2b1-1cbf-3bf7f5d0a056",
        "x-ms-date": "Tue, 28 Apr 2020 02:42:55 GMT",
        "x-ms-requires-sync": "true",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EB1DDAAB2C28\u0022",
        "Last-Modified": "Tue, 28 Apr 2020 02:42:55 GMT",
        "x-ms-content-crc64": "XriRNECKtI0=",
        "x-ms-copy-id": "173bcf80-47c7-4dc3-9507-ba7d3b08a37c",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-04-28T02:42:55.1465041Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-e5031284-503b-58de-1f9b-f4faa6ab959b/test-blob-ea19c202-2bb3-3b6e-3519-7d6de05811ab",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Wed, 29 Apr 2020 02:42:54 GMT",
        "x-ms-copy-source": "https://seanmcccanary.blob.core.windows.net/test-container-e5031284-503b-58de-1f9b-f4faa6ab959b/test-blob-d07d6a9c-6f89-fe01-1674-f615fb9075b2",
        "x-ms-date": "Tue, 28 Apr 2020 02:42:55 GMT",
        "x-ms-requires-sync": "true",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EB1DDB3C63A5\u0022",
        "Last-Modified": "Tue, 28 Apr 2020 02:42:56 GMT",
        "x-ms-content-crc64": "guSGApMcLBU=",
        "x-ms-copy-id": "6a4e98b7-4d5b-49d1-bb12-3db1f4e73d5d",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-04-28T02:42:56.1011768Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-b6ea9708-4b2c-07d5-cab2-4ce007d2cb22/test-blob-037a2962-f89f-2e4d-cb30-72d261733627",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 Apr 2020 02:42:56 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "w3EPdBt14GecFgCz71gLiA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7EB1DDB93BC52\u0022",
        "Last-Modified": "Tue, 28 Apr 2020 02:42:56 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 28 Apr 2020 02:42:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-04-28T02:42:56.6685778Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-b6ea9708-4b2c-07d5-cab2-4ce007d2cb22/test-blob-037a2962-f89f-2e4d-cb30-72d261733627",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D7EB1DDB93BC52\u0022",
        "x-ms-copy-source": "https://seanmcccanary.blob.core.windows.net/test-container-b6ea9708-4b2c-07d5-cab2-4ce007d2cb22/test-blob-6f40231c-e23c-5119-234d-2892975fd279",
        "x-ms-date": "Tue, 28 Apr 2020 02:42:56 GMT",
        "x-ms-requires-sync": "true",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EB1DDBB5EA5C\u0022",
        "Last-Modified": "Tue, 28 Apr 2020 02:42:56 GMT",
        "x-ms-content-crc64": "nJuBFpvCZAo=",
        "x-ms-copy-id": "18ca84b8-b6da-48c9-aa78-03228ac0ebc9",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-04-28T02:42:56.8957363Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-fbc187d2-9924-0f37-3f2e-5286475e4133/test-blob-716f53b4-f1fa-cec1-a082-c26008d6b966",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-copy-source": "https://seanmcccanary.blob.core.windows.net/test-container-fbc187d2-9924-0f37-3f2e-5286475e4133/test-blob-b1cd2977-33ae-f92a-8899-9e0d87d54683",
        "x-ms-date": "Tue, 28 Apr 2020 02:42:57 GMT",
        "x-ms-requires-sync": "true",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EB1DDC243654\u0022",
        "Last-Modified": "Tue, 28 Apr 2020 02:42:57 GMT",
        "x-ms-content-crc64": "HTaYXc1iUZg=",
        "x-ms-copy-id": "ec371312-1b16-47c9-b1a3-c3a71d856036",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-04-28T02:42:57.6172452Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-2a6a9880-58ef-0ade-f91c-fdda1a5e307b/test-blob-43edc5e5-ae8d-f53d-e3bb-32eed84cc053?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 Apr 2020 02:42:58 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "8e9a8845-7f1d-f37d-a207-12d33642d516",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EB1DDC801BB2\u0022",
        "Last-Modified": "Tue, 28 Apr 2020 02:42:58 GMT",
        "x-ms-lease-id": "8e9a8845-7f1d-f37d-a207-12d33642d516",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-2a6a9880-58ef-0ade-f91c-fdda1a5e307b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 Apr 2020 02:42:58 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-27T19:42:54.0449247-07:00",
    "RandomSeed": "261261017",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}