{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-61692bc5-48f6-628a-1fd9-0d18402d28e6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 28 Apr 2020 02:43:40 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EB1DF5C81F8A\u0022",
        "Last-Modified": "Tue, 28 Apr 2020 02:43:40 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-61692bc5-48f6-628a-1fd9-0d18402d28e6/test-blob-f73c749b-ccc4-d116-b46b-b5f4389f513c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 28 Apr 2020 02:43:40 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "WZ0KSRHi/lAydaad2GFEWZaaT5ymiKtB4EqRe8tKoeFU37wbRyJjuHbsxE4leflTJ1xenVC0ldDyyWjGUYKE59TESPikKRFzN5YmusRcHGdRPlRv7AORn0rrKH65nGfzaNx6YDAArv1K6ma5jtsMlawBdRMuFfvQM6mtuACTupovMlLn4rw3UY9WJQGd2BBv35LRuCdUxVLhqS2HUvb8tzDLiVuJJbPwyiSD1/D5M1qYPthuwQJz223/BjmOr/6YWW3R0U\u002B05brf4O4D0O1i53XS7xMdjvUuWK7uih55Yhol636CKGIL41gejuATcAt/nB/Du8Dqe8p4onmhxlubZn7T3eVv4L4Txwu6/wA[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-61692bc5-48f6-628a-1fd9-0d18402d28e6/test-blob-6423e8b9-baf2-faeb-a63c-74dfc3f57316",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "P20",
        "x-ms-copy-source": "https://seanmcccanary.blob.core.windows.net/test-container-61692bc5-48f6-628a-1fd9-0d18402d28e6/test-blob-f73c749b-ccc4-d116-b46b-b5f4389f513c",
        "x-ms-date": "Tue, 28 Apr 2020 02:43:40 GMT",
        "x-ms-requires-sync": "true",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidHeaderValue",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EInvalidHeaderValue\u003C/Code\u003E\u003CMessage\u003EThe value for one of the HTTP headers is not in the correct format.\n",
        "RequestId:8b492637-001e-0006-0506-1d7e1f000000\n",
        "Time:2020-04-28T02:43:40.7977832Z\u003C/Message\u003E\u003CHeaderName\u003Ex-ms-access-tier\u003C/HeaderName\u003E\u003CHeaderValue\u003EP20\u003C/HeaderValue\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-61692bc5-48f6-628a-1fd9-0d18402d28e6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 Apr 2020 02:43:40 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "372382528",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}