{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-d3d6af8f-1c67-b25f-9e3c-3c929ef28e00?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 28 Apr 2020 02:43:11 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EB1DE4490F41\u0022",
        "Last-Modified": "Tue, 28 Apr 2020 02:43:11 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-d3d6af8f-1c67-b25f-9e3c-3c929ef28e00/test-blob-925ffdb1-1a28-2087-988a-ec75351e0e2e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 28 Apr 2020 02:43:11 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "zFJ0v/mIOZVxjxnCdddsIhoikKYQ3cADV9lsO8WzrGf1y3KLTxfLKMPJIJgBxarAHclbEo1oHe\u002BScWgfHP7PveOxzKpl4dIDVmjiRrwoApEvrB38WJnZja2D\u002Bd6urAzF\u002BmK1T/n/Wzz3V7wlhtYyaW7W73Dg02VJ1z/94ufzVapbHExZcrKYMFDhBAHdtAbXUI9v2Lyc5Sb9bHi5AnlUAwIRymqJ2fe7Pb8f/85jayM4JZFYhHzuvzYmWwU63i3XjAH/zOmcTXeYs5r8fOVXmgBVgdzn/H\u002BFIwozY33xgV6RSHPNZJ85m9gZv9Di8UNQzsEF5F1R74\u002BBeqjfaen[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-d3d6af8f-1c67-b25f-9e3c-3c929ef28e00/test-blob-35091cda-fa3e-0b02-15e5-789677ff1cb1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary.blob.core.windows.net/test-container-d3d6af8f-1c67-b25f-9e3c-3c929ef28e00/test-blob-925ffdb1-1a28-2087-988a-ec75351e0e2e",
        "x-ms-date": "Tue, 28 Apr 2020 02:43:11 GMT",
        "x-ms-requires-sync": "true",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EB1DE476420D\u0022",
        "Last-Modified": "Tue, 28 Apr 2020 02:43:11 GMT",
        "x-ms-content-crc64": "wuuyTmCHAe4=",
        "x-ms-copy-id": "0d191ee5-d662-4128-9713-fdeb9763d461",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-04-28T02:43:11.5770954Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-d3d6af8f-1c67-b25f-9e3c-3c929ef28e00?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 Apr 2020 02:43:11 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1741945191",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}