{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-304c2594-8b31-5c3f-78a4-939e93c94318?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 28 Apr 2020 02:43:58 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EB1E0042E376\u0022",
        "Last-Modified": "Tue, 28 Apr 2020 02:43:58 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-304c2594-8b31-5c3f-78a4-939e93c94318/test-blob-00849efe-6faa-247a-d087-278225de1ce7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 28 Apr 2020 02:43:58 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "AfobRPRbSuaLKxMox8O09Y6uYqEMou4T1LAXRsOIv7MowY4W\u002BNvDo1OddX9cUlwN0zLzd3t62l8MB3BDQwQiAmtgAAY0nfyy6r5Obi1vt4FUCnKRlUg3reYvCfFqf2BOe3IT/FFW2DU2QIy9LGsxnVDu7ziRkG0iKFMfBZQLSGtd//O6W7sv/TI9W1S8eoB6/Wyge48ovOoF8dP\u002BN9KgK/ggXy14d0KUv/IFVDUZZa7SpAcoaszcNUIItWnoMcZfnDBbmxpSAoYqDLydImi17IskK5PLeMAsRCnrb8HYrI0spbcEvcmUf6GB/l4PPhLZU8ndwwUylCRvL1fwZ5LEUV8ucH2xsC7BkK[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-304c2594-8b31-5c3f-78a4-939e93c94318/test-blob-85c3816b-6ab9-786d-15fe-1bdd0ad300da",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary.blob.core.windows.net/test-container-304c2594-8b31-5c3f-78a4-939e93c94318/test-blob-00849efe-6faa-247a-d087-278225de1ce7",
        "x-ms-date": "Tue, 28 Apr 2020 02:43:58 GMT",
        "x-ms-requires-sync": "true",
        "x-ms-tags": "tagKey0=tagValue0\u0026tagKey1=tagValue1",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EB1E00645439\u0022",
        "Last-Modified": "Tue, 28 Apr 2020 02:43:58 GMT",
        "x-ms-content-crc64": "XN0hT3bq6K0=",
        "x-ms-copy-id": "593f87e0-4de0-4f1f-9ed3-93d18af37b4b",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-04-28T02:43:58.4381608Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-304c2594-8b31-5c3f-78a4-939e93c94318/test-blob-85c3816b-6ab9-786d-15fe-1bdd0ad300da?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 Apr 2020 02:43:58 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EtagKey0\u003C/Key\u003E\u003CValue\u003EtagValue0\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003EtagKey1\u003C/Key\u003E\u003CValue\u003EtagValue1\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-304c2594-8b31-5c3f-78a4-939e93c94318?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 Apr 2020 02:43:58 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1379478338",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}