{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-7fb07750-9d1e-ac62-3c1f-b5425131e514?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:05 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B536C6E8D\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:06:05 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-7fb07750-9d1e-ac62-3c1f-b5425131e514/test-blob-37cf0fe4-07e4-a1cb-c21b-1bdb0af252cd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:05 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "L0hV38dE/5KU7yjamRsq2JZMXkFirTAtDWt1VaIHtmTwNhg5DqmhoBA8ovTf8Qin8ENFvZQRa4EXKNFbzqrwjTjD6WID8Mnsq70wJQs7ThtjzmRfwfnP3suWIebXRdFmTBS8GwelpAB5WBHW4UZ23Nq29/9FkMw/8wqXbM7jFGbsytj2fzIUvipk5mjn\u002bP2EIEUMIU3RILxIfCf8DTcxlUSr6hZtf1ynoTnV4apjV/oNEkyJ1/IYGqkcrgIKF7DzMlAkPA7mF6HoZIAU/D4S5CUs7/vrqL5Rk9BtUdBanIqJ4a5ZPxvsJvuqoHJyAx1rCsnc3Se0B4qR0qg\u002becXRjsj2ihuPuKUKQM[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-7fb07750-9d1e-ac62-3c1f-b5425131e514/test-blob-37cf0fe4-07e4-a1cb-c21b-1bdb0af252cd?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:05 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B536F94C6\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:06:05 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2019-07-17T02:06:05.4638022Z",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-7fb07750-9d1e-ac62-3c1f-b5425131e514?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:05 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "215563247",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}