{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e3c2d99f-f22a-1af9-fafa-b775e0815607?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:28 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D374E55D5154\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:50:29 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e3c2d99f-f22a-1af9-fafa-b775e0815607/test-blob-dadb5c4d-993f-3805-f66d-1141b6192d17",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:29 GMT"
      },
      "RequestBody": "sbDAR3B2vonGrbfe9m4sR78fkpAHbcgbktjp2wvIJYXwWcN4yeGr151RE5LhJ0KHQcmCl4adEEPopbWXjON9/ogx7Zyrs33ddLvztVo2OWuVYppCRY7/U0h/kCQsFEq50xUKrzml3I1LpSLLqVvpsWtJASpJO7j5MplUKyJZsGBwOeFEK4ky74UM9qBrNKntlt644xIgcJhdEH2gUbBr8vTCWnB5pIXhFxGkPEUYjv7vZpVDoM1OUMhJ5xsMkZ7VoQOrqNk5c/FY1swAfDNSRYF/sOobJ1IndAmnMLxq1YVzz5tCbOYktvKj68kBTdSV9qKajOGzuXqwhDPPkUM17gBGjKyYENiaW/r4dzyJJiY1EjkZz0mkvxUgkeiyVCWvbvzIusEn/ObK/zHnu0[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e3c2d99f-f22a-1af9-fafa-b775e0815607/test-blob-dadb5c4d-993f-3805-f66d-1141b6192d17?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:29 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D374E567F33C\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:50:29 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2021-02-17T18:50:29.2187747Z",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:50:29.2197747Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e3c2d99f-f22a-1af9-fafa-b775e0815607?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:29 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "599521716",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}