{
  "Entries": [
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-2b73eb4a-4644-ce11-d0e5-fb2b26a9fb86?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 27 Apr 2020 16:20:26 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EAC6E51D1E1D\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 16:20:26 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-2b73eb4a-4644-ce11-d0e5-fb2b26a9fb86/test-blob-1a08fb0c-d4b1-35d4-98a9-87974c79d666",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 27 Apr 2020 16:20:26 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EAC6E55F5D8D\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 16:20:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-2b73eb4a-4644-ce11-d0e5-fb2b26a9fb86/test-blob-1a08fb0c-d4b1-35d4-98a9-87974c79d666?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2020 16:20:27 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EAC6E55F5D8D\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 16:20:26 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2020-04-27T16:20:26.9850495Z",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-2b73eb4a-4644-ce11-d0e5-fb2b26a9fb86?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2020 16:20:27 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1748181336",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttp://amandacanary.blob.core.windows.net\nhttp://amandacanary.file.core.windows.net\nhttp://amandacanary.queue.core.windows.net\nhttp://amandacanary.table.core.windows.net\n\n\n\n\nhttp://amandacanary-secondary.blob.core.windows.net\nhttp://amandacanary-secondary.file.core.windows.net\nhttp://amandacanary-secondary.queue.core.windows.net\nhttp://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandacanary.blob.core.windows.net/;QueueEndpoint=http://amandacanary.queue.core.windows.net/;FileEndpoint=http://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Sanitized\n\nDefaultEndpointsProtocol=https;AccountName=ortestsaccountcbn1;AccountKey=OrRfzSm3ktQSklAGiL90/QusS7SdS6Y5S/AJoxZEeyKYDtnue7OKYIMLOraTnT4xcOyhYbqzWVmtTKappcc5Fg==;EndpointSuffix=core.windows.net\nDefaultEndpointsProtocol=https;AccountName=vbalaorcentral1;AccountKey=vlHMz/LZ3Sx7r/1bdTQT26pG0tqORQ4uTIcxGhHB0LQhIhqGxfv2TXV7u\u002BI2ra4UWXrWGGHG2N6l\u002BBfb5FgAcQ==;EndpointSuffix=core.windows.net"
  }
}