{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a481ecea-0c09-49f4-a919-9561e7fb870c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:40:59 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2ED76144AD7\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:41:00 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a481ecea-0c09-49f4-a919-9561e7fb870c/test-blob-41cb1a6a-9661-c7d2-08df-8d202f86c0f0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:41:00 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "VRL9Z3VJ2bxJkljxWzQQvoCFAm7tgyHOrb01UxCXiYsk11p/WwDiIEAO988\u002B4GzUzs6gqoRSAtHwLrq3FIWrsQjMzYPZkWOAouEt3oxSkMxRYIRC998H0tSJjixFKgy6Y0bGchPp\u002Bj1qIAejJSRFnp7uZrQBabooxPuuUAI3OnjVcntGix24aGVH2NbYY6ywRPCNVsNXufqLna0YOqo6M\u002BWPzrOp/xKANv5OuZDjUGBO/gwSqeS0fbiAuu1wny27DKTxSJX5BkTdDCDFCQBpp0xMyjydKIkB2lD6KEQkEJbQkq3r8gjLVffHNJzE7nS4FxKgI9XxHuQb8G1E/t0AufyJ9HZTfbVEgHRE1vPsPezcQhExg\u002BzB33TI0AKah1cZx3ugOvr\u002BZZld[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a481ecea-0c09-49f4-a919-9561e7fb870c/test-blob-41cb1a6a-9661-c7d2-08df-8d202f86c0f0?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:41:00 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2ED761D50A3\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:41:00 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2021-02-17T02:41:00.4260399Z",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:41:00.4270399Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-df2db614-cd30-dd6d-f5fb-c588630cdcbe/test-blob-97126d4b-8298-d982-59de-f61c33d50289?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 16 Feb 2021 02:40:59 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 02:41:00 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2ED765F6EC0\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:41:00 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2021-02-17T02:41:00.8583478Z",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:41:00.8593478Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a73f28cc-3bc4-fd24-b343-016af4b008d3/test-blob-e5e33962-ec4b-975e-7692-0587a50aea9b?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 18 Feb 2021 02:40:59 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 02:41:01 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2ED76A165C2\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:41:01 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2021-02-17T02:41:01.2946577Z",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:41:01.2956577Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1b413986-6087-c77d-c862-21d33bd06ce9/test-blob-26c2a324-273a-6bfc-c3e5-50cd8d7c23f5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:41:01 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "483tun\u002BClGcWINnTGpGDtw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2ED76E2994F\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:41:01 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 02:41:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 02:41:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:41:01.6569167Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1b413986-6087-c77d-c862-21d33bd06ce9/test-blob-26c2a324-273a-6bfc-c3e5-50cd8d7c23f5?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D2ED76E2994F",
        "x-ms-date": "Wed, 17 Feb 2021 02:41:01 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2ED76E2994F\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:41:01 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2021-02-17T02:41:01.7840059Z",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:41:01.7850059Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-cd081b41-2ebc-256b-082b-bdcc47b1c2da/test-blob-9edd7d59-fe50-f608-fe5d-a74b4c47a293?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Wed, 17 Feb 2021 02:41:02 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2ED772E561E\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:41:02 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2021-02-17T02:41:02.2173144Z",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:41:02.2183144Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-16b2f5e2-dfa9-6935-d693-0fb778d9eb87/test-blob-818476a7-e23e-06f9-d929-ae30297442ab?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:41:02 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "7369fcbd-2455-a4da-3f53-bec072c1fc07",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2ED777CD284\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:41:02 GMT",
        "x-ms-lease-id": "7369fcbd-2455-a4da-3f53-bec072c1fc07",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-16b2f5e2-dfa9-6935-d693-0fb778d9eb87?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:41:02 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-16T20:40:59.9669251-06:00",
    "RandomSeed": "1939476737",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}