{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-c48400bf-4e01-fddb-4638-6fd72d44d948?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:41:45 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75F676CD384\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:41:45 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-c48400bf-4e01-fddb-4638-6fd72d44d948/test-blob-a4e59a7e-290b-a1d6-199d-080f24fcec4b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:41:46 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "tOiZzvCcz/vgSIRrvCMip\u002B2wYHYV4HwTiLEj2gkd3C5QFg/cejWJ4crqw8KlauX2e2AidJt2NdNrhUY/efXxw2tVGqYURS23Jn6rKxy5bh3MLF\u002Bp\u002BmiT2uA7cPTvSmjV\u002BABWUFA\u002B4jUyak0cywm2shcockyVSMgDwkDF2NU5yNsW1TIcYh7NjUopdpAadg7WhL3cxtcbP7A3U40PeAlg\u002BaJyBvXXmk/5W\u002BQCbNE46Esx71QXXAID\u002BpaB5A6QvhVAyX3tqHAZ/\u002Bpt42ryGdPf/2tC3Ym1SJyfbgtfVbVBaJ3PwqJUSkDaGO9pqXmXEOD[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-c48400bf-4e01-fddb-4638-6fd72d44d948/test-blob-a4e59a7e-290b-a1d6-199d-080f24fcec4b?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:41:46 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75F67799AA0\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:41:45 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2020-04-02T23:41:45.4922761Z",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-492e47ff-1944-4a06-59f7-94ade05b0ba6/test-blob-2f5e752e-ca3b-aa7d-95ab-354c26dab15b?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 01 Apr 2020 23:41:45 GMT",
        "x-ms-date": "Thu, 02 Apr 2020 23:41:46 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75F67D33CAB\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:41:45 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2020-04-02T23:41:46.0796948Z",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-32f8ff54-110e-427e-40bf-0530d0842010/test-blob-406601bb-7e6a-c9a5-01d7-1f2a19b8a1bc?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 03 Apr 2020 23:41:45 GMT",
        "x-ms-date": "Thu, 02 Apr 2020 23:41:47 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75F682E1770\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:41:46 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2020-04-02T23:41:46.6801233Z",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-d6f0afab-9874-03f7-7bf4-47257a43ad84/test-blob-1ab942ec-b59e-493b-4dcb-e87fd2e6b929",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:41:48 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "OmlA4s6uryvdAx3hZ5jb1A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D75F68876B48\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:41:47 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Apr 2020 23:41:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-d6f0afab-9874-03f7-7bf4-47257a43ad84/test-blob-1ab942ec-b59e-493b-4dcb-e87fd2e6b929?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D7D75F68876B48\u0022",
        "x-ms-date": "Thu, 02 Apr 2020 23:41:48 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75F68876B48\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:41:47 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2020-04-02T23:41:47.3375915Z",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-bef4f121-c355-08b6-a62d-f59a6b7e25dc/test-blob-98e4b67b-c7f1-31ea-f990-a4b01b147844?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Thu, 02 Apr 2020 23:41:48 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75F68E97350\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:41:47 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2020-04-02T23:41:47.9029950Z",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-7a0db5cc-9b52-91b2-d116-23df19699b67/test-blob-bb074e1a-6b69-4efa-bd4c-be70677652d7?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:41:49 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "a22e0647-cf3c-4dfa-b70b-348b2559b3b3",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75F694055B7\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:41:48 GMT",
        "x-ms-lease-id": "a22e0647-cf3c-4dfa-b70b-348b2559b3b3",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-7a0db5cc-9b52-91b2-d116-23df19699b67?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:41:49 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-02T16:41:45.9335797-07:00",
    "RandomSeed": "594075153",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}