{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-cf6c5751-44f2-67a8-081a-eab8e89dd067?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 21:04:24 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C148C8F0D4F8\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:04:24 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-cf6c5751-44f2-67a8-081a-eab8e89dd067/test-blob-58d2f573-df63-08d1-5cac-9d1820dbe480",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 21:04:25 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "gZFgrtu9FD174mvRf80z0JtAWIy0QPV4aLm2pqecOh4uSKz6AI8ItuGV3IFzAIiPeM1834JYy0Cb6EYhBm2V36dNozYgOc8MN6KqH2R0BGcwJy7aH1qb1XxrXxhJ57B0//3ZJVxRbj/\u002Bb6jgrazcJ\u002BPe8N4\u002Bu79Nsc26tNq3w1DyNiBmm98K3rju27CxuyjQjzg0avbRNUQ9i3SPl7llR6xX7XeLdYsE0xEmUN8Pm/Wl6SWhgllaIQDcKQ9qe0f\u002BiZQDWs6wRBqsMJbkquVkLe9\u002B6q6Uw8RT/cx2r0t8mVjKJ8ZKC0En9KQK9VLCdXYad/sg7JGYasXQsFwCOpX[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-cf6c5751-44f2-67a8-081a-eab8e89dd067/test-blob-58d2f573-df63-08d1-5cac-9d1820dbe480?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Fri, 06 Mar 2020 21:04:24 GMT",
        "x-ms-date": "Thu, 05 Mar 2020 21:04:25 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:9164b71b-501e-0024-6731-f3649b000000\n",
        "Time:2020-03-05T21:04:25.2107035Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-d100f08f-faab-1cf1-c75a-2d8162d977fa/test-blob-aaef545d-befa-5a3e-72e1-b67e909e0bf1?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Wed, 04 Mar 2020 21:04:24 GMT",
        "x-ms-date": "Thu, 05 Mar 2020 21:04:25 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:2d1821a3-901e-0004-0f31-f31f3c000000\n",
        "Time:2020-03-05T21:04:25.8161595Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-c9220fed-b262-3e73-67ff-9eb634c484dd/test-blob-859f6544-13fe-ba47-96b4-172422ae5453?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-date": "Thu, 05 Mar 2020 21:04:26 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:b2d3ec94-501e-0034-6a31-f3a1f3000000\n",
        "Time:2020-03-05T21:04:26.4255578Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-706f2f80-2123-dc39-d7d0-9907266316b7/test-blob-10e52277-5a01-78d5-b20c-fb334236d533",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:04:27 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ma7gn2wwJWV\u002Br4fXH7KwUw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C148CA20E0A7\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:04:26 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 05 Mar 2020 21:04:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-706f2f80-2123-dc39-d7d0-9907266316b7/test-blob-10e52277-5a01-78d5-b20c-fb334236d533?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u00220x8D7C148CA20E0A7\u0022",
        "x-ms-date": "Thu, 05 Mar 2020 21:04:27 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:1793654f-101e-0025-7131-f33b47000000\n",
        "Time:2020-03-05T21:04:27.0985001Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-cfb8dae9-fba5-a972-1034-01b2104f1225/test-blob-e40a9220-57f9-0854-0fad-46bb831abd8f?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:04:27 GMT",
        "x-ms-lease-id": "d17aa29e-7648-2619-8044-5d54899f44b6",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseNotPresentWithBlobOperation\u003C/Code\u003E\u003CMessage\u003EThere is currently no lease on the blob.\n",
        "RequestId:17936597-101e-0025-3831-f33b47000000\n",
        "Time:2020-03-05T21:04:27.6135162Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-cfb8dae9-fba5-a972-1034-01b2104f1225?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:04:27 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-03-05T13:04:24.7686833-08:00",
    "RandomSeed": "1798800317",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}