{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4635f011-45e7-7cd1-4d15-677487db51ea?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:04:38 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E861EE4DFB\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:04:39 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4635f011-45e7-7cd1-4d15-677487db51ea/test-blob-73549251-a9b9-2d73-0c83-9732ca05f611",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:04:38 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "NhmimLkJHF58/BNHj4XD\u002B90cevPna5Uoe/Q6SgG/el3HQifWET6kR3X1972WK52Hv5xVrYsDKcqEeR3Ez9FdvIG1f01d7emfeDN\u002B8nTXkk9XsotkaszSxBldUZgg4Hejlzs74KtQKtKztjVYhTdWrOfNbR1G\u002BVK047szAJtQfpi72lo5m7GkBoi5sbOXej/hBqWxUnNaXJ7ph/3vHCo2YjednKrcHBA1KWaVjUeeHWl8Ufn2nywlYX27UBS0tOpdgk57\u002Bd2VBeqVeykMxM9XSmmUc8owQMMLeDssIcz7gXR7Nwv5IyOL50wPYSMCGJyuZAarH0EgLUKLb4GiaOMdmfq0kY3EXSZFCIx9Id\u002BfCGCefbzGUGEzWwrIbbOi6X5p8ccpTocO6gbf[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4635f011-45e7-7cd1-4d15-677487db51ea/test-blob-73549251-a9b9-2d73-0c83-9732ca05f611?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:04:38 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E861F9C9C9\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:04:39 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2021-02-17T02:04:39.1551316Z",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:04:39.1561316Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4635f011-45e7-7cd1-4d15-677487db51ea?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:04:39 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1134312486",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}