{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1bdf645d-b2a3-5687-7e22-1dca7aa0748d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:41:04 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2ED790A04F5\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:41:05 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1bdf645d-b2a3-5687-7e22-1dca7aa0748d/test-blob-420b1209-5d88-894d-9cd3-c7bf3fa7eb6d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:41:05 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "Dm9e4DOQQI2l3OXZ\u002BIe3Ww5U1lgF0SUNTeJHeTV9gqZjbTHlmfXqeNF\u002Bnat4c5EUHGux6tCSZzxKUZNRScdYJ1o\u002BdYpV0cIZal6HhzR6ldlRMlzJzJjV0Ab1mkhhmS8JJXVQOf0Gv0qpl4ByC98I0Lu5ABdrjlrCaaSEYDd5t9AufWG\u002BKVvbSnMSIDQXY8Un7MqMqJkYnpcajtBYgl4TL\u002BCvQ459SqZg3bWjWG0mqgXfXXRs7Q83Ft7Ko5qKg8gU//FUaB83qaEjLMrjdEYp9OTKeSXqpkLReCyvsqYL1Vrtj1l80kHmqLPSScBEU6KYoa62vwmiKlmugvDyiPb6F1Zv9eXsrCKi5NBxF12BjCSKFhH4VRZRSmT/zU9R8yC81zFq1V69q/SM[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1bdf645d-b2a3-5687-7e22-1dca7aa0748d/test-blob-420b1209-5d88-894d-9cd3-c7bf3fa7eb6d?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Wed, 17 Feb 2021 02:41:05 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "\uFEFF\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EcoolTag\u003C/Key\u003E\u003CValue\u003Etrue\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1bdf645d-b2a3-5687-7e22-1dca7aa0748d/test-blob-420b1209-5d88-894d-9cd3-c7bf3fa7eb6d?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:41:05 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-if-tags": "\u0022coolTag\u0022 = \u0027true\u0027",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2ED79139B1A\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:41:05 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2021-02-17T02:41:05.6147306Z",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:41:05.6157306Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1bdf645d-b2a3-5687-7e22-1dca7aa0748d/test-blob-420b1209-5d88-894d-9cd3-c7bf3fa7eb6d?snapshot=2021-02-17T02:41:05.6147306Z",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:41:05 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "jXshy/bVmjKt6GdQdCF1qw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2ED79139B1A\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:41:05 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 02:41:05 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "1",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1bdf645d-b2a3-5687-7e22-1dca7aa0748d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:41:05 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "266211860",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}