{
  "Entries": [
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-7fb07750-9d1e-ac62-3c1f-b5425131e514?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 25 Apr 2020 01:08:07 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B51D10FF2B\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:08:07 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-7fb07750-9d1e-ac62-3c1f-b5425131e514/test-blob-df55482f-44c7-92ff-94ef-28da991b2ad8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 25 Apr 2020 01:08:07 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "lkxeQWKtMC0Na3VVoge2ZPA2GDkOqaGgEDyi9N/xCKfwQ0W9lBFrgRco0VvOqvCNOMPpYgPwyeyrvTAlCztOG2POZF/B\u002Bc/ey5Yh5tdF0WZMFLwbB6WkAHlYEdbhRnbc2rb3/0WQzD/zCpdszuMUZuzK2PZ/MhS\u002BKmTmaOf4/YQgRQwhTdEgvEh8J/wNNzGVRKvqFm1/XKehOdXhqmNX\u002Bg0STInX8hgaqRyuAgoXsPMyUCQ8DuYXoehkgBT8PhLkJSzv\u002B\u002BuovlGT0G1R0Fqcionhrlk/G\u002Bwm\u002B6qgcnIDHWsKydzdJ7QHipHSqD55xdGOyPaKG4\u0[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-7fb07750-9d1e-ac62-3c1f-b5425131e514/test-blob-df55482f-44c7-92ff-94ef-28da991b2ad8?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:08:07 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B51D1B84B2\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:08:07 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2020-04-25T01:08:07.2031441Z",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-7fb07750-9d1e-ac62-3c1f-b5425131e514?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:08:07 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "215563247",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttp://amandacanary.blob.core.windows.net\nhttp://amandacanary.file.core.windows.net\nhttp://amandacanary.queue.core.windows.net\nhttp://amandacanary.table.core.windows.net\n\n\n\n\nhttp://amandacanary-secondary.blob.core.windows.net\nhttp://amandacanary-secondary.file.core.windows.net\nhttp://amandacanary-secondary.queue.core.windows.net\nhttp://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandacanary.blob.core.windows.net/;QueueEndpoint=http://amandacanary.queue.core.windows.net/;FileEndpoint=http://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Sanitized\n\nDefaultEndpointsProtocol=https;AccountName=ortestsaccountcbn1;AccountKey=OrRfzSm3ktQSklAGiL90/QusS7SdS6Y5S/AJoxZEeyKYDtnue7OKYIMLOraTnT4xcOyhYbqzWVmtTKappcc5Fg==;EndpointSuffix=core.windows.net\nDefaultEndpointsProtocol=https;AccountName=vbalaorcentral1;AccountKey=vlHMz/LZ3Sx7r/1bdTQT26pG0tqORQ4uTIcxGhHB0LQhIhqGxfv2TXV7u\u002BI2ra4UWXrWGGHG2N6l\u002BBfb5FgAcQ==;EndpointSuffix=core.windows.net"
  }
}