{
  "Entries": [
    {
      "RequestUri": "https://jolovstorage.blob.core.windows.net/test-container-e47c3ed9-12a0-edfa-6c20-13647651f8e8?sv=2019-02-02\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-11-28T06%3A24%3A25Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D773C33C3F4857\u0022",
        "Last-Modified": "Thu, 28 Nov 2019 05:24:26 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://jolovstorage.blob.core.windows.net/test-container-e47c3ed9-12a0-edfa-6c20-13647651f8e8/test-blob-6b9edcb8-77bd-b671-98eb-0d1737bfb763?sv=2019-02-02\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-11-28T06%3A24%3A25Z\u0026sp=rwdlacup\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "TJgXHQPCzJCSzCIXlKsklQwqRcSh5rgQRLQUZq3zDNMxuwOxlwlHehsFJu7MvXI0C5F92KlFwGXfBtlPrmXjn8BO5tioc/4C4sqpm7/JRIZB31sbdTQq6/qd0pAw\u002BMy2IYcufteajJiTe/XenCSlFcJSDs4JxyqMJPvdCqFt0er\u002B83k4m8Wvp1PDiPk\u002BS07W97zO3un9rFpdolrcvIL3JakL36mrbHn8omZ7Rj8wTdisBxLkn/MAAUYf2/lr0\u002BvQzGNQMmykKopC0TuCgWYaLFSBL7RwEoW1Ct5ii5GAkM97q3nc3xpsB9yHoc24fX/gBa\u002Bk6qM2YLndmiiNQZ/5wkFrB9bsPkw5FSfX6XG4/Y1egobi26YrRErA/0Xy3sU9jd\u002BM[...]
[...]
    {
      "RequestUri": "https://jolovstorage.blob.core.windows.net/test-container-1952caad-79eb-8733-99a5-4a6219446736?sv=2019-02-02\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-11-28T06%3A24%3A25Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-11-27T21:24:25.5241043-08:00",
    "RandomSeed": "1956854869",
    "Storage_TestConfigDefault": "ProductionTenant\njolovstorage\nU2FuaXRpemVk\nhttps://jolovstorage.blob.core.windows.net\nhttps://jolovstorage.file.core.windows.net\nhttps://jolovstorage.queue.core.windows.net\nhttps://jolovstorage.table.core.windows.net\n\n\n\n\nhttps://jolovstorage-secondary.blob.core.windows.net\nhttps://jolovstorage-secondary.file.core.windows.net\nhttps://jolovstorage-secondary.queue.core.windows.net\nhttps://jolovstorage-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jolovstorage.blob.core.windows.net/;QueueEndpoint=https://jolovstorage.queue.core.windows.net/;FileEndpoint=https://jolovstorage.file.core.windows.net/;BlobSecondaryEndpoint=https://jolovstorage-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jolovstorage-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jolovstorage-secondary.file.core.windows.net/;AccountName=jolovstorage;AccountKey=Sanitized"
  }
}