{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-47601295-47a7-6d71-3ffd-d3ebd493d4ca?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:30 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D374E69E11FB\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:50:31 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-47601295-47a7-6d71-3ffd-d3ebd493d4ca/%21%2A%27%28%29%3B%5B%5D%3A%40%26%25%3D%2B%24%2C/%3F%23äÄöÖüÜß",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:31 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "Jg9SzBODNsxp4+3XLlqbULUn7XYbLpj/APLpSUjbGGCb9/DCnHuXeiiqPE/Em1GmBzAYPAy+Bfd3UsshmeyEjsqNPDdp2LM6kHNNcPJIO2ShQ0IXwtxT3PH4S0qvduA8Ja6FN18ZPC993qyZcJQFLxZnf1aqbcvtOV9FcIxoihmSEUtDwgMFhwcTmeQwumxd8xwzSPaKkbjimP0A1MuiFFOSBl5JwWwTYfdOl9PmvX/z531vNEEiCH+SYCoGBLM8cIWQnbQNFDGwIOb+O/rk/Np+DexNMuASb/7etmBCDFxEEiZOVh/K5dNLvxNaI8yFrWRPh/fH7j2kfi61Ll3QbROKuinUlqW7sycYAXLMt0sy[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-47601295-47a7-6d71-3ffd-d3ebd493d4ca/%21%2A%27%28%29%3B%5B%5D%3A%40%26%25%3D%2B%24%2C/%3F%23äÄöÖüÜß",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:31 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ieNUlnwA1yF2IiY6Qfv/Yw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D8D374E6A7B250\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:50:31 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:50:31 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:50:31 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2021-02-17T18:50:31.2342096Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-47601295-47a7-6d71-3ffd-d3ebd493d4ca/%21%2A%27%28%29%3B%5B%5D%3A%40%26%25%3D%2B%24%2C/%3F%23äÄöÖüÜß?sv=2023-01-03&st=2021-02-17T17%3A50%3A31Z&se=2021-02-17T19%3A50%3A31Z&sr=b&sp=racwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ieNUlnwA1yF2IiY6Qfv/Yw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D8D374E6A7B250\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:50:31 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:50:31 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:50:31 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2021-02-17T18:50:31.2342096Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-47601295-47a7-6d71-3ffd-d3ebd493d4ca?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:31 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T12:50:31.4678284-06:00",
    "RandomSeed": "2144472300",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}