{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-47601295-47a7-6d71-3ffd-d3ebd493d4ca?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 29 Jun 2020 17:53:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D81C5547107681\u0022",
        "Last-Modified": "Mon, 29 Jun 2020 17:53:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-47601295-47a7-6d71-3ffd-d3ebd493d4ca/%21%2A%27%28%29%3B%5B%5D%3A%40%26%25%3D%2B%24%2C%2F%3F%23\u00E4\u00C4\u00F6\u00D6\u00FC\u00DC\u00DF",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 29 Jun 2020 17:53:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Jg9SzBODNsxp4\u002B3XLlqbULUn7XYbLpj/APLpSUjbGGCb9/DCnHuXeiiqPE/Em1GmBzAYPAy\u002BBfd3UsshmeyEjsqNPDdp2LM6kHNNcPJIO2ShQ0IXwtxT3PH4S0qvduA8Ja6FN18ZPC993qyZcJQFLxZnf1aqbcvtOV9FcIxoihmSEUtDwgMFhwcTmeQwumxd8xwzSPaKkbjimP0A1MuiFFOSBl5JwWwTYfdOl9PmvX/z531vNEEiCH\u002BSYCoGBLM8cIWQnbQNFDGwIOb\u002BO/rk/Np\u002BDexNMuASb/7etmBCDFxEEiZOVh/K5dNLvxNaI8yFrWRPh/fH7j2kfi61Ll3[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-47601295-47a7-6d71-3ffd-d3ebd493d4ca/%21%2A%27%28%29%3B%5B%5D%3A%40%26%25%3D%2B%24%2C%2F%3F%23\u00E4\u00C4\u00F6\u00D6\u00FC\u00DC\u00DF",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Jun 2020 17:53:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ieNUlnwA1yF2IiY6Qfv/Yw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D81C55472043B4\u0022",
        "Last-Modified": "Mon, 29 Jun 2020 17:53:06 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 29 Jun 2020 17:53:06 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-06-29T17:53:06.4019892Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-47601295-47a7-6d71-3ffd-d3ebd493d4ca/%21%2A%27%28%29%3B%5B%5D%3A%40%26%25%3D%2B%24%2C%2F%3F%23\u00E4\u00C4\u00F6\u00D6\u00FC\u00DC\u00DF?sv=2020-04-08\u0026st=2020-06-29T16%3A53%3A07Z\u0026se=2020-06-29T18%3A53%3A07Z\u0026sr=b\u0026sp=racwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ieNUlnwA1yF2IiY6Qfv/Yw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D81C55472043B4\u0022",
        "Last-Modified": "Mon, 29 Jun 2020 17:53:06 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 29 Jun 2020 17:53:06 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-06-29T17:53:06.4019892Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-47601295-47a7-6d71-3ffd-d3ebd493d4ca?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Jun 2020 17:53:07 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-06-29T12:53:07.1987897-05:00",
    "RandomSeed": "2144472300",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Kg==;\nseanscope1"
  }
}