{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-02b77ee5-4d53-2b85-877f-f90c210e7b62?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:32 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D374E76B0064\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:50:32 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-02b77ee5-4d53-2b85-877f-f90c210e7b62/test-blob-87773b41-67f7-c04a-b8fa-5fb8edb58881",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:32 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "zErhEQS+3G9PYYQPrQ2TwinIjmeNK7bDxUoDi0H/R3fm9evf/2CSgl4IOJbiOxKrZpyOJScg9KGUHUu6u1AtTxkMKLghtMLJNgsJhfMg4Yo3VyWlcCJQxQFKSuEU18cN2uh81RJairLZxe8bF26uczzBgmMriN73vGO312nhtF5E+6sKpAt43c1yy6szNK2SnNekU1Rj4lEJhRmuorJI+BCQ1xzDo88xSKWWuL0zw4e2JDuRPGEJ4RhZAB7xyjoaKdKaol2Qz/gIcwuvzSmU1sGS+H53t7yvh/UDaaOwQH5qe4/qmCEpJVVCiclWWRTvxClcX9G8o3IW6xtojWVVVzOMRVGaqT2gaNIoNC3zWC3h[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-02b77ee5-4d53-2b85-877f-f90c210e7b62/test-blob-87773b41-67f7-c04a-b8fa-5fb8edb58881",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:32 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-00861aeb-c6d1-dd7e-e70b-d8e050e11bec/test-blob-fef7f3cb-2631-2f19-0563-adb5e0ce488d",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 16 Feb 2021 18:50:32 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:33 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0f205614-90eb-7f7e-c310-9490119e6d45/test-blob-d2533e14-f41d-17ff-3c1e-3e2079e2fc12",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 18 Feb 2021 18:50:32 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:33 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-db1d13a6-606d-b0f6-2f9d-181a9554e2a7/test-blob-80e11528-a9b4-04d3-60ec-cc01f508a8cc",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:33 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "CXydDTUvwCgkn6y3WPMy0A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D8D374E83922BB\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:50:33 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:50:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:50:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-02-17T18:50:33.8650811Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-db1d13a6-606d-b0f6-2f9d-181a9554e2a7/test-blob-80e11528-a9b4-04d3-60ec-cc01f508a8cc",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D374E83922BB",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:33 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a087e27c-0e01-f552-1f2c-393902050198/test-blob-9dbbe69d-1533-f9ed-149c-13b567b570de",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"garbage\"",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:34 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7f67cd72-2749-e75e-664d-753eb9c1443f/test-blob-e8689c18-ac01-c2e1-3178-30cd402c121d?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:34 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "d06ebbff-edba-cffc-6221-88daccbb2791",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D374E8C50172\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:50:34 GMT",
        "x-ms-lease-id": "d06ebbff-edba-cffc-6221-88daccbb2791",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7f67cd72-2749-e75e-664d-753eb9c1443f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:50:34 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T12:50:32.3130516-06:00",
    "RandomSeed": "1815735702",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}