{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1a8a96e7-e342-3624-a715-eb969d779edc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:46:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3744FF0398A\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:46:18 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1a8a96e7-e342-3624-a715-eb969d779edc/test-blob-0ea11e19-dc17-ce02-3f39-f4cd6cfdf07c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:46:18 GMT"
      },
      "RequestBody": "RAsoqNfbXKNHCLrXy6R5ArHhDSaIwseS8dGDRkJqivno0G3L\u002Bxu9PcL\u002Bxg8iKwKav/Ebi\u002B/J84JElbcGWBVg3X7A7vo3rQeWI89kivu4cMXO6YZQTv4KH93rh2VjtuWsnumRYTwIYxLqhWgfZWmGiyXxOG6PEI5/tc8dSyWhMm3pt\u002BwSJw6JxYV0ZsmW6rlzZPxAcn53HY1aEatt6xfsSFL6Na59dGQWaHLpGqnF6csVqeYpYcDucpletxViHNluiB12m7UL9fCXKQoLjgLjlCjgV0IwwueSDMIUH7xPtEuZepKMT00VCrP2kTe24uSWeiLtgsSXPcU25I7y9tY0SHW\u002BchNwV0Xayk2OOjGv2ynefqSZYTKHAT3NV[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1a8a96e7-e342-3624-a715-eb969d779edc/test-blob-0ea11e19-dc17-ce02-3f39-f4cd6cfdf07c",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 18 Feb 2021 18:46:18 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 18:46:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:a046e549-b01e-0031-6b5d-053bd1000000\n",
        "Time:2021-02-17T18:46:18.5476917Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f3e1e686-f6da-b514-fd9f-45f3e88a0d66/test-blob-43c3a3fc-1da7-e2b2-68bc-e1f02ed45cfe",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Tue, 16 Feb 2021 18:46:18 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 18:46:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:0dd86e99-601e-0040-085d-05ddfa000000\n",
        "Time:2021-02-17T18:46:19.0450486Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-18ee6b07-05f9-4553-28c1-00a378fc486f/test-blob-bed92ab1-1913-5628-ad93-243c51e89249",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-date": "Wed, 17 Feb 2021 18:46:19 GMT"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:de10ab88-c01e-0014-315d-0592ad000000\n",
        "Time:2021-02-17T18:46:19.5643728Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ad1b193a-7979-a9cd-54c1-69f2da85c57a/test-blob-540d3c6e-d907-3cb9-2643-8c733ffedc27",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:46:19 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ceNJAHipu5m\u002BUOLflQVQRg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D37450E2BFC3\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:46:19 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:46:19 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:46:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:46:19.9629763Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ad1b193a-7979-a9cd-54c1-69f2da85c57a/test-blob-540d3c6e-d907-3cb9-2643-8c733ffedc27",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "0x8D8D37450E2BFC3",
        "x-ms-date": "Wed, 17 Feb 2021 18:46:20 GMT"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:12704284-101e-0028-115d-05bb6a000000\n",
        "Time:2021-02-17T18:46:20.1215166Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-bc11ac27-087a-2b0a-143f-d34df0ba09b6/test-blob-0a8bd6d9-0e39-f193-43ca-d61d88ffc9cd",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:46:20 GMT",
        "x-ms-lease-id": "f50f1bda-c3c7-61ba-0cb8-fa7b8c178db3"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseNotPresentWithBlobOperation\u003C/Code\u003E\u003CMessage\u003EThere is currently no lease on the blob.\n",
        "RequestId:a362aeb6-801e-0005-035d-050819000000\n",
        "Time:2021-02-17T18:46:20.6498623Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-bc11ac27-087a-2b0a-143f-d34df0ba09b6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:46:20 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T12:46:18.1688079-06:00",
    "RandomSeed": "633252367",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}