{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-0978d5da-578f-3558-d442-d967f10e126b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:44:31 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75FCA14D38B\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:44:30 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-0978d5da-578f-3558-d442-d967f10e126b/test-blob-3957bcff-962f-1c6c-4302-8fe5289ab763",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:44:31 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "4IH\u002Bs4/Rn8Qq232wyBIJG9fIvcAZKCjS0mL9yR82/CaSkZ/rYB/WLR2TD1QZu1Mw\u002BXMOX933SrhYK\u002BAt1Nak895XHTdzHbu38o\u002BjhRjTuRYOzdCsJ51Jm0fnkzQ\u002BqVlH7xx2wZ4bvNu4V21NVMSfhHLKHgcG\u002BMtBDoLwjIqGeUg1W5b8Xfd38hD09NAv\u002B0eCRw7Cc4tSQPdQNbMbKy9RMd0lF/gtoyd6Uiv2EgP6ERI7bUV7xAW94xufqyhEW8fgosLyCuROVaTnSCBfWy7zVSOh4L7q1m3YZzPdjff/NvdjFW9BCAYu7BeglHzkXYjsrFYEo3sJ9[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-0978d5da-578f-3558-d442-d967f10e126b/test-blob-3957bcff-962f-1c6c-4302-8fe5289ab763",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:44:31 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-0978d5da-578f-3558-d442-d967f10e126b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:44:31 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "132289785",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}