{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-7ede1347-a3e4-3038-fc79-90a18ed92985?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 03:43:24 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEC46808BAE\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:43:24 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-7ede1347-a3e4-3038-fc79-90a18ed92985/test-blob-0f19ad74-b02b-0051-ff02-1ef5f67390a0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 11 Dec 2019 03:43:24 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "FfdfKBT5yd16fuxbP8Cqn7chUPJCVG2RFMQvuAKXj2etZz45YRB2euM8lazD9cA\u002BWH491COdXcCKzRNPyRHb4\u002B\u002BErtiCcD6mqtYPBr/AzR4D8WCDWbpEDwl9r5P8J7DRYLG9PkfovOdAlipNjlYByf/1S9ixV4o0QJ/PBMGrqoMlPqUNA4/XGzR4Q8KQ94GyfOWTBtvXIAkniP6nGLclleymJ1Cw9MVwHi\u002BjOBPHpEgdHIjcF6SnTR2c5XuQLwJ9U67W6dAxAYgfIuisM\u002Bf1YOS2ivwvSX1I/9kyFA5K4O4sJuVk8bp37BoAvPS7\u002Bxk2poWW2aUGTQkxju[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-7ede1347-a3e4-3038-fc79-90a18ed92985/test-blob-0f19ad74-b02b-0051-ff02-1ef5f67390a0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:43:24 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-7ede1347-a3e4-3038-fc79-90a18ed92985?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:43:24 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "369572417",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}