{
  "Entries": [
    {
      "RequestUri": "https://seanoauthcanary.blob.core.windows.net/test-container-9f295737-02ab-c9da-dccc-e30888d49f31?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96CC4FE3846F6\u0022",
        "Last-Modified": "Tue, 31 Aug 2021 21:19:18 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthcanary.blob.core.windows.net/test-container-9f295737-02ab-c9da-dccc-e30888d49f31/test-blob-4e954627-9738-f033-ad67-fe000749b8d4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96CC4FE421EA5\u0022",
        "Last-Modified": "Tue, 31 Aug 2021 21:19:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2021-08-31T21:19:18.4771749Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthcanary.blob.core.windows.net/test-container-9f295737-02ab-c9da-dccc-e30888d49f31/test-blob-4e954627-9738-f033-ad67-fe000749b8d4?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96CC4FE4AA8EE\u0022",
        "Last-Modified": "Tue, 31 Aug 2021 21:19:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2021-08-31T21:19:18.5341438Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthcanary.blob.core.windows.net/?restype=service\u0026comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "\uFEFF\u003CKeyInfo\u003E\u003CExpiry\u003E2021-08-31T22:19:19Z\u003C/Expiry\u003E\u003C/KeyInfo\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CUserDelegationKey\u003E\u003CSignedOid\u003Ec4f48289-bb84-4086-b250-6f94a8f64cee\u003C/SignedOid\u003E\u003CSignedTid\u003E72f988bf-86f1-41af-91ab-2d7cd011db47\u003C/SignedTid\u003E\u003CSignedStart\u003E2021-08-31T21:19:18Z\u003C/SignedStart\u003E\u003CSignedExpiry\u003E2021-08-31T22:19:19Z\u003C/SignedExpiry\u003E\u003CSignedService\u003Eb\u003C/SignedService\u003E\u003CSignedVersion\u003E2020-12-06\u003C/SignedVersion\u003E\u003CValue\u003EbxkuI8JT82pmHMCRTN42zhPKyqNbdPGAVhuWHaVrabA=\u003C/Value\u003E\u003C/UserDelegationKey\u003E"
    },
    {
      "RequestUri": "https://seanoauthcanary.blob.core.windows.net/test-container-9f295737-02ab-c9da-dccc-e30888d49f31/test-blob-4e954627-9738-f033-ad67-fe000749b8d4?versionid=2021-08-31T21%3A19%3A18.4771749Z\u0026skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-08-31T21%3A19%3A18Z\u0026ske=2021-08-31T22%3A19%3A19Z\u0026sks=b\u0026skv=2020-12-06\u0026sv=2022-11-02\u0026st=2021-08-31T20%3A19%3A19Z\u0026se=2021-08-31T22%3A19%3A19Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthcanary.blob.core.windows.net/test-container-9f295737-02ab-c9da-dccc-e30888d49f31/test-blob-4e954627-9738-f033-ad67-fe000749b8d4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D96CC4FE4AA8EE\u0022",
        "Last-Modified": "Tue, 31 Aug 2021 21:19:18 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 31 Aug 2021 21:19:18 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2021-08-31T21:19:18.5341438Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthcanary.blob.core.windows.net/test-container-9f295737-02ab-c9da-dccc-e30888d49f31?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-08-31T16:19:19.2567335-05:00",
    "RandomSeed": "885818541",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanoauthcanary\nU2FuaXRpemVk\nhttps://seanoauthcanary.blob.core.windows.net\nhttps://seanoauthcanary.file.core.windows.net\nhttps://seanoauthcanary.queue.core.windows.net\nhttps://seanoauthcanary.table.core.windows.net\n\n\n\n\nhttps://seanoauthcanary-secondary.blob.core.windows.net\nhttps://seanoauthcanary-secondary.file.core.windows.net\nhttps://seanoauthcanary-secondary.queue.core.windows.net\nhttps://seanoauthcanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanoauthcanary.blob.core.windows.net/;QueueEndpoint=https://seanoauthcanary.queue.core.windows.net/;FileEndpoint=https://seanoauthcanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanoauthcanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanoauthcanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanoauthcanary-secondary.file.core.windows.net/;AccountName=seanoauthcanary;AccountKey=Sanitized\n\nXClient\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}