{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7ede1347-a3e4-3038-fc79-90a18ed92985?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:46:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D3744DEB4372\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:46:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7ede1347-a3e4-3038-fc79-90a18ed92985/test-blob-0f19ad74-b02b-0051-ff02-1ef5f67390a0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:46:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "FfdfKBT5yd16fuxbP8Cqn7chUPJCVG2RFMQvuAKXj2etZz45YRB2euM8lazD9cA+WH491COdXcCKzRNPyRHb4++ErtiCcD6mqtYPBr/AzR4D8WCDWbpEDwl9r5P8J7DRYLG9PkfovOdAlipNjlYByf/1S9ixV4o0QJ/PBMGrqoMlPqUNA4/XGzR4Q8KQ94GyfOWTBtvXIAkniP6nGLclleymJ1Cw9MVwHi+jOBPHpEgdHIjcF6SnTR2c5XuQLwJ9U67W6dAxAYgfIuisM+f1YOS2ivwvSX1I/9kyFA5K4O4sJuVk8bp37BoAvPS7+xk2poWW2aUGTQkxjur2/+151UL5fwwBkW4pPp3hLo2IjAS/[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7ede1347-a3e4-3038-fc79-90a18ed92985/test-blob-0f19ad74-b02b-0051-ff02-1ef5f67390a0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:46:15 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7ede1347-a3e4-3038-fc79-90a18ed92985?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:46:15 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "369572417",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}