{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6d4553df-d43d-cd61-f400-6eb8f79031c2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:18 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FD8153855617\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 17:35:21 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6d4553df-d43d-cd61-f400-6eb8f79031c2/test-blob-99b35aeb-c14a-55b7-3c0a-a73b9eeb3afb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:18 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "iL5QuTUaigz9DO6nAUyZQpEazJzcl3fsB/BPkysbmpNb1410YbUe0dCmnD3SEFTvcWSphB\u002bdHvBGZLJFyvfg4nFbTCq/JOHb\u002b/rMNvo6GfebYCLHcRZzvbicLvwD2QfZxrrMdsMpMEyCzogk0ej2DEu7qWrUGXBa545xIvbl2CHy828/baIzci/VRKKNTuzPpiGxRzCdBK1JcY80uA5WnfZnMt54tp\u002boiDc6/9TOzJiioXvVNJDxVe7C9fsT/rkhf6erJhwOVvCCCb/4YgTYe6T2khaSgWllddzvtsCjlIl9GYAtIqZ8lEuLUirR\u002bPLq6npWHWujjv49RbFAHqAv3nU1[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6d4553df-d43d-cd61-f400-6eb8f79031c2/test-blob-99b35aeb-c14a-55b7-3c0a-a73b9eeb3afb",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Mon, 01 Jul 2019 17:35:18 GMT",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:18 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:af4e30e5-801e-0062-196a-2f8f29000000\n",
        "Time:2019-06-30T17:35:21.3689954Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-4a8e9c25-937c-2cad-1ac7-18c81f7373a5/test-blob-8262add2-a291-fbbe-867c-4ee1cfbd502f",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sat, 29 Jun 2019 17:35:18 GMT",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:18 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:af4e312a-801e-0062-596a-2f8f29000000\n",
        "Time:2019-06-30T17:35:21.4310545Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-49578b0f-93da-c7eb-b781-aceaf51ba293/test-blob-2f327341-8644-d9d7-4fa1-ec4509b75ae4",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:18 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:af4e3172-801e-0062-1b6a-2f8f29000000\n",
        "Time:2019-06-30T17:35:21.4971178Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-9f4b8baa-0053-b46a-acf3-dc77594a30d0/test-blob-d85b5fba-9753-d43e-3c08-09b623656a98",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:18 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "fgMeIN6sImSTnDjY17wXFQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D6FD8153A3DC59\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 17:35:21 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sun, 30 Jun 2019 17:35:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-9f4b8baa-0053-b46a-acf3-dc77594a30d0/test-blob-d85b5fba-9753-d43e-3c08-09b623656a98",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u00220x8D6FD8153A3DC59\u0022",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:18 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:af4e31c3-801e-0062-676a-2f8f29000000\n",
        "Time:2019-06-30T17:35:21.5601779Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-b1eb103b-97a8-e2ae-40bd-e45c8fa332b0/test-blob-0804a4f4-2f52-943b-75f9-cd7bf6bc191d",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:18 GMT",
        "x-ms-lease-id": "9bd79e2a-0c3b-31a3-8cb9-81fe797ba628",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eLeaseNotPresentWithBlobOperation\u003c/Code\u003e\u003cMessage\u003eThere is currently no lease on the blob.\n",
        "RequestId:af4e3214-801e-0062-336a-2f8f29000000\n",
        "Time:2019-06-30T17:35:21.6142293Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-b1eb103b-97a8-e2ae-40bd-e45c8fa332b0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:18 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-06-30T10:35:18.3731949-07:00",
    "RandomSeed": "1049912943"
  }
}