{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-b73e97eb-de51-dedc-9341-de385756631c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 03:43:29 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEC495C3486\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:43:29 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-b73e97eb-de51-dedc-9341-de385756631c/test-blob-4a86d811-485a-0373-3031-62cb347d09e3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 11 Dec 2019 03:43:29 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "njFob9ZRzi\u002BO4fb3EcLP03xWTfwoWFKHdHzgHDeHu4CJ8gULGZt9vwpXu3lSfPFuYo9P3S8Mu0Xe4PpZcbL3ByZ1bR\u002B8w7rh2Y7y0ZzZNPiKcrqoN91QfTfALDigJE5XX7RT3A7SsZ7VbQShGemoBawCzv73T89IJPDn/JeBQLQ/m3Hohljpt8Ab0snZr2NNFyeMnlZPXxDlCrcd67UGUy1PYX53wH9UGBY\u002B3HwFbnWMmeVw9aJe8DthA3ugzMwLFH\u002BciU7l1lanOIVAEYOT35xCkFHQll6K8XFDFr0Ds0xJMsf9aOQnp8OOyLwdHt63zSPfXTt7O34gEpjdor\u002B[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-b73e97eb-de51-dedc-9341-de385756631c/test-blob-4a86d811-485a-0373-3031-62cb347d09e3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:43:29 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-b73e97eb-de51-dedc-9341-de385756631c/test-blob-4a86d811-485a-0373-3031-62cb347d09e3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:43:29 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-b73e97eb-de51-dedc-9341-de385756631c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:43:29 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "349929986",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}