{
  "Entries": [
    {
      "RequestUri": "https://seansoftdeletecanary.blob.core.windows.net/test-container-6b32dc06-04bb-3c35-7d63-34b61714addb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 23 Oct 2020 18:58:32 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D87785A283ADF7\u0022",
        "Last-Modified": "Fri, 23 Oct 2020 18:58:31 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seansoftdeletecanary.blob.core.windows.net/test-container-6b32dc06-04bb-3c35-7d63-34b61714addb/test-blob-508a26eb-9f79-bb35-d2fe-3daaffca8d40",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 23 Oct 2020 18:58:32 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D87785A28CE79D\u0022",
        "Last-Modified": "Fri, 23 Oct 2020 18:58:31 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-10-23T18:58:31.4424221Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seansoftdeletecanary.blob.core.windows.net/test-container-6b32dc06-04bb-3c35-7d63-34b61714addb/test-blob-508a26eb-9f79-bb35-d2fe-3daaffca8d40?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 23 Oct 2020 18:58:32 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D87785A28CE79D\u0022",
        "Last-Modified": "Fri, 23 Oct 2020 18:58:31 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2020-10-23T18:58:31.5194927Z",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-10-23T18:58:31.5204927Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seansoftdeletecanary.blob.core.windows.net/test-container-6b32dc06-04bb-3c35-7d63-34b61714addb/test-blob-508a26eb-9f79-bb35-d2fe-3daaffca8d40?snapshot=2020-10-23T18:58:31.5194927Z",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 23 Oct 2020 18:58:32 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seansoftdeletecanary.blob.core.windows.net/test-container-6b32dc06-04bb-3c35-7d63-34b61714addb/test-blob-508a26eb-9f79-bb35-d2fe-3daaffca8d40?snapshot=2020-10-23T18%3A58%3A31.5194927Z\u0026sv=2020-04-08\u0026ss=b\u0026srt=sco\u0026st=2020-10-23T17%3A58%3A32Z\u0026se=2020-10-23T19%3A58%3A32Z\u0026sp=y\u0026sig=Sanitized\u0026deletetype=permanent",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seansoftdeletecanary.blob.core.windows.net/test-container-6b32dc06-04bb-3c35-7d63-34b61714addb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 23 Oct 2020 18:58:33 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-10-23T13:58:32.9285124-05:00",
    "RandomSeed": "1060457531",
    "Storage_TestConfigSoftDelete": "SoftDeleteTenant\nseansoftdeletecanary\nU2FuaXRpemVk\nhttps://seansoftdeletecanary.blob.core.windows.net\nhttps://seansoftdeletecanary.file.core.windows.net\nhttps://seansoftdeletecanary.queue.core.windows.net\nhttps://seansoftdeletecanary.table.core.windows.net\n\n\n\n\nhttps://seansoftdeletecanary-secondary.blob.core.windows.net\nhttps://seansoftdeletecanary-secondary.file.core.windows.net\nhttps://seansoftdeletecanary-secondary.queue.core.windows.net\nhttps://seansoftdeletecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seansoftdeletecanary.blob.core.windows.net/;QueueEndpoint=https://seansoftdeletecanary.queue.core.windows.net/;FileEndpoint=https://seansoftdeletecanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seansoftdeletecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seansoftdeletecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seansoftdeletecanary-secondary.file.core.windows.net/;AccountName=seansoftdeletecanary;AccountKey=Sanitized\n"
  }
}