{
  "Entries": [
    {
      "RequestUri": "http://amandadev2.blob.core.windows.net/test-container-1a191086-3939-65b1-6197-44331d6530f8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Jan 2020 20:03:53 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D79EAD0A9B9C38\"",
        "Last-Modified": "Tue, 21 Jan 2020 20:03:54 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandadev2.blob.core.windows.net/test-container-1a191086-3939-65b1-6197-44331d6530f8/test-blob-54b81ec3-eb8f-b466-8e65-773f267d951f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 21 Jan 2020 20:03:54 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "3rmZ8DvoyX0b2J2+w6lE4J7Xb7GJZfyuxnW4yVcOgLE67vq1KGsA2lU6OLZNp/DlIJegTw7klni96yrGMP8lDVjshNSuj7gy15VbTixFYB6F06jAbTCjVViC9zxBOapVFCtdYSMbN5Hfbnh4iEhMd4sLQVxXZZ8oSS58LJh78Z3qBTkB6P76aZsX4f+4KswPNoCxNfhN/q+MNRj0ngv5Y33ajYIPSo+MEdfAP4Sfbx5hbPYXyruknQeJdbPmBcqQHn6C3p1JAOvwJCQgjL4r7MX6kzEV4ZjBNfB7hdXbpgsMMCEFHZGBF2wKJqaWgxBIXojt7HKYezzlwKiszXoWFX0ZFFydJc4zeHvFCrryKrHg[...]
    {
      "RequestUri": "http://amandadev2.blob.core.windows.net/test-container-1a191086-3939-65b1-6197-44331d6530f8/test-blob-54b81ec3-eb8f-b466-8e65-773f267d951f",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:047bf840-801e-002e-2d95-d012dc000000\n",
        "Time:2020-01-21T20:03:54.3937822Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "http://amandadev2.blob.core.windows.net/test-container-1a191086-3939-65b1-6197-44331d6530f8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Jan 2020 20:03:54 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "839986197",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttp://amandadev2.blob.core.windows.net\nhttp://amandadev2.file.core.windows.net\nhttp://amandadev2.queue.core.windows.net\nhttp://amandadev2.table.core.windows.net\n\n\n\n\nhttp://amandadev2-secondary.blob.core.windows.net\nhttp://amandadev2-secondary.file.core.windows.net\nhttp://amandadev2-secondary.queue.core.windows.net\nhttp://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandadev2.blob.core.windows.net/;QueueEndpoint=http://amandadev2.queue.core.windows.net/;FileEndpoint=http://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=http://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\n\n"
  }
}