{
  "Entries": [
    {
      "RequestUri": "https://blobindex1.blob.core.windows.net/test-container-9312b71c-40d1-59c7-077c-b313eeaba37a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 25 Apr 2020 17:28:11 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E93E0744047B\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 17:28:11 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://blobindex1.blob.core.windows.net/test-container-9312b71c-40d1-59c7-077c-b313eeaba37a/test-blob-1289c71e-456f-f9ba-ab74-04f392524bfc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Sat, 25 Apr 2020 17:28:11 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E93E0751A338\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 17:28:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-04-25T17:28:11.6249400Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://blobindex1.blob.core.windows.net/test-container-9312b71c-40d1-59c7-077c-b313eeaba37a/test-blob-1289c71e-456f-f9ba-ab74-04f392524bfc?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 17:28:11 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E93E075EEC14\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 17:28:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-04-25T17:28:11.7130020Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://blobindex1.blob.core.windows.net/test-container-9312b71c-40d1-59c7-077c-b313eeaba37a/test-blob-1289c71e-456f-f9ba-ab74-04f392524bfc?versionid=2020-04-25T17%3A28%3A11.6249400Z\u0026sv=2020-04-08\u0026st=2020-04-25T16%3A28%3A11Z\u0026se=2020-04-25T18%3A28%3A11Z\u0026sr=b\u0026sp=r\u0026sig=Sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationPermissionMismatch",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EAuthorizationPermissionMismatch\u003C/Code\u003E\u003CMessage\u003EThis request is not authorized to perform this operation using this permission.\n",
        "RequestId:537a615c-701e-006e-7226-1b188f000000\n",
        "Time:2020-04-25T17:28:12.0604512Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://blobindex1.blob.core.windows.net/test-container-9312b71c-40d1-59c7-077c-b313eeaba37a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 17:28:12 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-25T10:28:11.8991673-07:00",
    "RandomSeed": "606121904",
    "Storage_TestConfigDefault": "ProductionTenant\nblobindex1\nU2FuaXRpemVk\nhttps://blobindex1.blob.core.windows.net\nhttps://blobindex1.file.core.windows.net\nhttps://blobindex1.queue.core.windows.net\nhttps://blobindex1.table.core.windows.net\n\n\n\n\nhttps://blobindex1-secondary.blob.core.windows.net\nhttps://blobindex1-secondary.file.core.windows.net\nhttps://blobindex1-secondary.queue.core.windows.net\nhttps://blobindex1-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://blobindex1.blob.core.windows.net/;QueueEndpoint=https://blobindex1.queue.core.windows.net/;FileEndpoint=https://blobindex1.file.core.windows.net/;BlobSecondaryEndpoint=https://blobindex1-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blobindex1-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blobindex1-secondary.file.core.windows.net/;AccountName=blobindex1;AccountKey=Sanitized\nseanscope1"
  }
}