{
  "Entries": [
    {
      "RequestUri": "https://seansoftdeletecanary.blob.core.windows.net/test-container-d400cfb5-70bf-eda7-bb29-91080c5d03d4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D88032F87A31E7\u0022",
        "Last-Modified": "Tue, 03 Nov 2020 19:59:27 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seansoftdeletecanary.blob.core.windows.net/test-container-d400cfb5-70bf-eda7-bb29-91080c5d03d4/test-blob-cfda794a-cc69-6e6e-6216-8d69f4cd59db",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D88032F8844571\u0022",
        "Last-Modified": "Tue, 03 Nov 2020 19:59:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-11-03T19:59:27.9063409Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seansoftdeletecanary.blob.core.windows.net/test-container-d400cfb5-70bf-eda7-bb29-91080c5d03d4/test-blob-cfda794a-cc69-6e6e-6216-8d69f4cd59db?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D88032F8844571\u0022",
        "Last-Modified": "Tue, 03 Nov 2020 19:59:27 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2020-11-03T19:59:27.9703996Z",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-11-03T19:59:27.9713996Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seansoftdeletecanary.blob.core.windows.net/test-container-d400cfb5-70bf-eda7-bb29-91080c5d03d4/test-blob-cfda794a-cc69-6e6e-6216-8d69f4cd59db?snapshot=2020-11-03T19:59:27.9703996Z",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seansoftdeletecanary.blob.core.windows.net/?restype=service\u0026comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u003CKeyInfo\u003E\u003CExpiry\u003E2020-11-03T20:59:27Z\u003C/Expiry\u003E\u003C/KeyInfo\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CUserDelegationKey\u003E\u003CSignedOid\u003Ec4f48289-bb84-4086-b250-6f94a8f64cee\u003C/SignedOid\u003E\u003CSignedTid\u003E72f988bf-86f1-41af-91ab-2d7cd011db47\u003C/SignedTid\u003E\u003CSignedStart\u003E2020-11-03T19:59:28Z\u003C/SignedStart\u003E\u003CSignedExpiry\u003E2020-11-03T20:59:27Z\u003C/SignedExpiry\u003E\u003CSignedService\u003Eb\u003C/SignedService\u003E\u003CSignedVersion\u003E2020-04-08\u003C/SignedVersion\u003E\u003CValue\u003EWefPRpimWZaUocuBxVYQ5hQPK8O/uABYjejD3BYM0Jg=\u003C/Value\u003E\u003C/UserDelegationKey\u003E"
    },
    {
      "RequestUri": "https://seansoftdeletecanary.blob.core.windows.net/test-container-d400cfb5-70bf-eda7-bb29-91080c5d03d4/test-blob-cfda794a-cc69-6e6e-6216-8d69f4cd59db?snapshot=2020-11-03T19%3A59%3A27.9703996Z\u0026skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2020-11-03T19%3A59%3A28Z\u0026ske=2020-11-03T20%3A59%3A27Z\u0026sks=b\u0026skv=2020-04-08\u0026sv=2020-04-08\u0026st=2020-11-03T18%3A59%3A27Z\u0026se=2020-11-03T20%3A59%3A27Z\u0026sr=c\u0026sp=racwdxylt\u0026sig=Sanitized\u0026deletetype=Permanent",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seansoftdeletecanary.blob.core.windows.net/test-container-d400cfb5-70bf-eda7-bb29-91080c5d03d4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-11-03T13:59:27.8908748-06:00",
    "RandomSeed": "2089349555",
    "Storage_TestConfigSoftDelete": "SoftDeleteTenant\nseansoftdeletecanary\nU2FuaXRpemVk\nhttps://seansoftdeletecanary.blob.core.windows.net\nhttps://seansoftdeletecanary.file.core.windows.net\nhttps://seansoftdeletecanary.queue.core.windows.net\nhttps://seansoftdeletecanary.table.core.windows.net\n\n\n\n\nhttps://seansoftdeletecanary-secondary.blob.core.windows.net\nhttps://seansoftdeletecanary-secondary.file.core.windows.net\nhttps://seansoftdeletecanary-secondary.queue.core.windows.net\nhttps://seansoftdeletecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seansoftdeletecanary.blob.core.windows.net/;QueueEndpoint=https://seansoftdeletecanary.queue.core.windows.net/;FileEndpoint=https://seansoftdeletecanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seansoftdeletecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seansoftdeletecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seansoftdeletecanary-secondary.file.core.windows.net/;AccountName=seansoftdeletecanary;AccountKey=Sanitized\n"
  }
}