{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-846fa7cd-318a-2254-81b4-23470e65f56b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:04:57 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E86D022290\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:04:57 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-846fa7cd-318a-2254-81b4-23470e65f56b/test-blob-f53d4465-c64a-2702-e923-45c110dfb167",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:04:57 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "iM0BJ0xj0QlaXnl4MoaqKGyzH0JDnfzb7fuLJKTrbBE6MUWqVyEjxfoY/Q/K7RH7L/f18NqUievRJTpQ161kb/JnPQFA/9BKj1lHKqDsEf/qkPSt9Xs3padZ2TLn0u1NtI0dYq8QujAmqmGATV9L5BQ6ZUa4tnl2MJdZ5yWeY7xs\u002BXYSz65Q2tbEh0satlhIDvUerW2mlf0TpzIXttMKh0ekFFTpORVl6Ytw8y8uW3k/ENkwf7ZPxWR4/id8OCMDuf8EdaIDX9XgucPhNqHO5Uu416b52geQVU7vcTrt6LBnbTovKebWO7EEUMbzbY7DqRnbw2F9Cd73cyBTFO6a8tASeshmn7tl4Zv09YpBnefALMcgEiRP6WRbN7bFgyfCaV314PLGXAlddeLFiBNUttY4k\u002Bc[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-846fa7cd-318a-2254-81b4-23470e65f56b/test-blob-f53d4465-c64a-2702-e923-45c110dfb167",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:04:57 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "hfuwxkcr/duinLijGwGpQA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2E86D0C9942\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:04:57 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 02:04:57 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 02:04:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:04:57.6713026Z"
      },
      "ResponseBody": "iM0BJ0xj0QlaXnl4MoaqKGyzH0JDnfzb7fuLJKTrbBE6MUWqVyEjxfoY/Q/K7RH7L/f18NqUievRJTpQ161kb/JnPQFA/9BKj1lHKqDsEf/qkPSt9Xs3padZ2TLn0u1NtI0dYq8QujAmqmGATV9L5BQ6ZUa4tnl2MJdZ5yWeY7xs\u002BXYSz65Q2tbEh0satlhIDvUerW2mlf0TpzIXttMKh0ekFFTpORVl6Ytw8y8uW3k/ENkwf7ZPxWR4/id8OCMDuf8EdaIDX9XgucPhNqHO5Uu416b52geQVU7vcTrt6LBnbTovKebWO7EEUMbzbY7DqRnbw2F9Cd73cyBTFO6a8tASeshmn7tl4Zv09YpBnefALMcgEiRP6WRbN7bFgyfCaV314PLGXAlddeLFiBNUttY4k\u002Bcmed\u002BswpFkC[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-09c16a2a-7e52-0cfd-12ae-b3a5cefd26c5/test-blob-6956c8fe-d61c-f8aa-0d9e-c46a761dc49c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 16 Feb 2021 02:04:57 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 02:04:58 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "t7dpR\u002BRG0Y1tCEuWLVoyzQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2E86D5C0037\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:04:58 GMT",
        "x-ms-blob-type":[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7f2e96e9-e670-be48-9a76-e930cd3ebf31/test-blob-90ae23d6-ad4c-6923-4968-1637433cb88e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 18 Feb 2021 02:04:57 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 02:04:58 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "t66x7\u002BQP8Lc0zgBIiKPeuA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2E86DAA7CA2\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:04:58 GMT",
        "x-ms-blob-type":[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-efe55210-2c60-8b27-c502-7024e866458c/test-blob-f4223be5-9d2c-61bf-6b14-eef5cbb1ad5b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:04:59 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "BU8uWKZWZNP5UHe\u002BIFy79g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2E86DEDD372\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:04:59 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 02:04:59 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 02:04:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:04:59.1473522Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-efe55210-2c60-8b27-c502-7024e866458c/test-blob-f4223be5-9d2c-61bf-6b14-eef5cbb1ad5b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D2E86DEDD372",
        "x-ms-date": "Wed, 17 Feb 2021 02:04:59 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "BU8uWKZWZNP5UHe\u002BIFy79g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2E86DEDD372\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:04:59 GMT",
        "x-ms-blob-type": "BlockBlob"[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b4567ae8-508a-64fc-8e25-9405dfaa662b/test-blob-9f9104fc-281d-5219-9bbb-14196323b59f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Wed, 17 Feb 2021 02:04:59 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "bpy0BkEqer04/LZfkcudQQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2E86E34FB87\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:04:59 GMT",
        "x-ms-blob-type": "BlockBlob",
 [...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b4567ae8-508a-64fc-8e25-9405dfaa662b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:04:59 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-16T20:04:57.2451286-06:00",
    "RandomSeed": "82774248",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}