{
  "Entries": [
    {
      "RequestUri": "https://kasobolcanadacentral.blob.core.windows.net/test-container-eb3f3f96-5bcd-18b6-4d58-7dcda37b9962?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 14 Jul 2021 17:32:36 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D946ED5F2C6F3E\u0022",
        "Last-Modified": "Wed, 14 Jul 2021 17:32:36 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasobolcanadacentral.blob.core.windows.net/test-container-eb3f3f96-5bcd-18b6-4d58-7dcda37b9962/test-blob-5b9ab885-6cc3-391d-2454-49c64e380391",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 14 Jul 2021 17:32:36 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "bWjgH7TYkz\u002B4jCac2cZ\u002BTCNzPIZqdkLhGxHO0WFsOHpkyoMwIBVUuYjQapNU0z08o6f3Bg5FTfYm/wOjCsHeS1OrOA9CTSwOHoP9mgyujEfUkS66dTJsH32MCiERsa7H8h4/qZsu\u002BVV66OeKR7LpeHK8z3iSI9YgPxmRtUML/WzUNqfubuOsppjZP4xL4dfKo5KuVeI2NM5IH2qCnEMRb\u002Bt6thAL\u002BwmPDyngueRJ1V5BxxKxXaiKnQLYpk95KQlUx9Ch0SrGv6iIH0W5Vnrq/kkLQNQxYBJD7xgOMlS6FuYfi/IUqAMzeghqKT5i0UeH7qcFbeg1I2e9XeESt4x[...]
    {
      "RequestUri": "https://kasobolcanadacentral.blob.core.windows.net/test-container-eb3f3f96-5bcd-18b6-4d58-7dcda37b9962/test-blob-5b9ab885-6cc3-391d-2454-49c64e380391",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 14 Jul 2021 17:32:36 GMT",
        "x-ms-date": "Wed, 14 Jul 2021 17:32:36 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasobolcanadacentral.blob.core.windows.net/test-container-eb3f3f96-5bcd-18b6-4d58-7dcda37b9962?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Jul 2021 17:32:37 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-07-14T10:32:36.9942971-07:00",
    "RandomSeed": "1839439105",
    "Storage_TestConfigDefault": "ProductionTenant\nkasobolcanadacentral\nU2FuaXRpemVk\nhttps://kasobolcanadacentral.blob.core.windows.net\nhttps://kasobolcanadacentral.file.core.windows.net\nhttps://kasobolcanadacentral.queue.core.windows.net\nhttps://kasobolcanadacentral.table.core.windows.net\n\n\n\n\nhttps://kasobolcanadacentral-secondary.blob.core.windows.net\nhttps://kasobolcanadacentral-secondary.file.core.windows.net\nhttps://kasobolcanadacentral-secondary.queue.core.windows.net\nhttps://kasobolcanadacentral-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://kasobolcanadacentral.blob.core.windows.net/;QueueEndpoint=https://kasobolcanadacentral.queue.core.windows.net/;FileEndpoint=https://kasobolcanadacentral.file.core.windows.net/;BlobSecondaryEndpoint=https://kasobolcanadacentral-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://kasobolcanadacentral-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://kasobolcanadacentral-secondary.file.core.windows.net/;AccountName=kasobolcanadacentral;AccountKey=Kg==;\nencryptionScope\n\n"
  }
}