{
  "Entries": [
    {
      "RequestUri": "https://kasobolcanadacentral.blob.core.windows.net/test-container-0175b833-49c2-854e-5cfe-78ca7821b708?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 05 Mar 2021 17:14:15 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8DFFA1AC31E07\u0022",
        "Last-Modified": "Fri, 05 Mar 2021 17:14:15 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasobolcanadacentral.blob.core.windows.net/test-container-0175b833-49c2-854e-5cfe-78ca7821b708/test-blob-dd139778-9e7c-bbbf-2084-d1af207c3d72",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 05 Mar 2021 17:14:16 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "YcmREiG6UphW28TSPP3n5KbSE9sHJ\u002Bwy50S2vk7xFCKtt\u002B/U50WF/EqBOUFORfDMaGjKswdnTjndXirdA5NKZcehJYUOEv1gTRaRhu2r5KJT6lXlJ2AaRWi19ogbp/m2N9R5rCBqvlZraWbw1shLMnmIiRk9ZD1mh98cWRx0RaUd2k4ZMTeC6Cv/er36KW\u002BgacQOkh7feNKWEyVATmU69iPA0/t5MgFCBaDtPeqAbF1we\u002B9XZbKGPWJ7gx0RQZrGxYOZOVZzJzfCzIx\u002B8jroFqfH0NN14pBxOpWZ/a7jMMQGJndm5jIH/FS4lZklCEsnk212SnHHUePyKP/A2Sm[...]
    {
      "RequestUri": "https://kasobolcanadacentral.blob.core.windows.net/test-container-0175b833-49c2-854e-5cfe-78ca7821b708/test-blob-dd139778-9e7c-bbbf-2084-d1af207c3d72",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Mar 2021 17:14:16 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "K2hZAiAn/l1LyxHPRD9B6A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8DFFA1AF777C0\u0022",
        "Last-Modified": "Fri, 05 Mar 2021 17:14:16 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 05 Mar 2021 17:14:16 GMT",
        "x-ms-last-access-time": "Fri, 05 Mar 2021 17:14:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "YcmREiG6UphW28TSPP3n5KbSE9sHJ\u002Bwy50S2vk7xFCKtt\u002B/U50WF/EqBOUFORfDMaGjKswdnTjndXirdA5NKZcehJYUOEv1gTRaRhu2r5KJT6lXlJ2AaRWi19ogbp/m2N9R5rCBqvlZraWbw1shLMnmIiRk9ZD1mh98cWRx0RaUd2k4ZMTeC6Cv/er36KW\u002BgacQOkh7feNKWEyVATmU69iPA0/t5MgFCBaDtPeqAbF1we\u002B9XZbKGPWJ7gx0RQZrGxYOZOVZzJzfCzIx\u002B8jroFqfH0NN14pBxOpWZ/a7jMMQGJndm5jIH/FS4lZklCEsnk212SnHHUePyKP/A2SmI3pvIeMzCgS90v9N\u002BvEz3SzJKcmlBbeZSPtSUdL0zRiIqMLb9XI9/[...]
    {
      "RequestUri": "https://kasobolcanadacentral.blob.core.windows.net/test-container-0175b833-49c2-854e-5cfe-78ca7821b708?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Mar 2021 17:14:16 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "734234065",
    "Storage_TestConfigDefault": "ProductionTenant\nkasobolcanadacentral\nU2FuaXRpemVk\nhttps://kasobolcanadacentral.blob.core.windows.net\nhttps://kasobolcanadacentral.file.core.windows.net\nhttps://kasobolcanadacentral.queue.core.windows.net\nhttps://kasobolcanadacentral.table.core.windows.net\n\n\n\n\nhttps://kasobolcanadacentral-secondary.blob.core.windows.net\nhttps://kasobolcanadacentral-secondary.file.core.windows.net\nhttps://kasobolcanadacentral-secondary.queue.core.windows.net\nhttps://kasobolcanadacentral-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://kasobolcanadacentral.blob.core.windows.net/;QueueEndpoint=https://kasobolcanadacentral.queue.core.windows.net/;FileEndpoint=https://kasobolcanadacentral.file.core.windows.net/;BlobSecondaryEndpoint=https://kasobolcanadacentral-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://kasobolcanadacentral-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://kasobolcanadacentral-secondary.file.core.windows.net/;AccountName=kasobolcanadacentral;AccountKey=Kg==;\nencryptionScope"
  }
}