{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-cc0f2ee6-4c5b-2a35-9977-2f0a99a609a4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 04 Apr 2020 01:34:34 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D838546AA828\u0022",
        "Last-Modified": "Sat, 04 Apr 2020 01:34:34 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-cc0f2ee6-4c5b-2a35-9977-2f0a99a609a4/test-blob-42254bc1-bc8b-c02e-ea43-9f1935cf7ad9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 04 Apr 2020 01:34:34 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "kvAPq85qvSR0SOvDciWbwVtLEseYwUXsmINiLqVe\u002Br9ETn2eyHAVjhTp0hYozRJoRFr/gA6L89CrIhNKCI9\u002BFk0rfySo/fjrNYOzr\u002B8uxMpx\u002BepKX3qwuFut86Zdy4aEarzJ/E7uwEZiE0qL10PhfF1I2Q6lM7bSesbI\u002BglRjWr9LkUyZMh8gjij6EsvJeAXzHZIFPF33zYG9oGHJcU8EYXgjan\u002BrheVzFbWAUtqo1XlsC6TCHh4hk4OLG5G9F1yZtbFTpc3GR1fs0ibod7qm1IsonWWqQgNZwda74KpTtf5Y5t0pFW9rZcRM1Uw3eRwJJAbGVLo27zOuO[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-cc0f2ee6-4c5b-2a35-9977-2f0a99a609a4/test-blob-42254bc1-bc8b-c02e-ea43-9f1935cf7ad9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 04 Apr 2020 01:34:34 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "l8ZviLgDKNQaeAOT/cM8NQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D8385477F4E5\u0022",
        "Last-Modified": "Sat, 04 Apr 2020 01:34:34 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 04 Apr 2020 01:34:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "kvAPq85qvSR0SOvDciWbwVtLEseYwUXsmINiLqVe\u002Br9ETn2eyHAVjhTp0hYozRJoRFr/gA6L89CrIhNKCI9\u002BFk0rfySo/fjrNYOzr\u002B8uxMpx\u002BepKX3qwuFut86Zdy4aEarzJ/E7uwEZiE0qL10PhfF1I2Q6lM7bSesbI\u002BglRjWr9LkUyZMh8gjij6EsvJeAXzHZIFPF33zYG9oGHJcU8EYXgjan\u002BrheVzFbWAUtqo1XlsC6TCHh4hk4OLG5G9F1yZtbFTpc3GR1fs0ibod7qm1IsonWWqQgNZwda74KpTtf5Y5t0pFW9rZcRM1Uw3eRwJJAbGVLo27zOuOaQ3SmatmRxoT1Cdff9b/TdhXay3Yoi6cryjTSFEYfeputuLNBtdn3xvjum[...]
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-cc0f2ee6-4c5b-2a35-9977-2f0a99a609a4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 04 Apr 2020 01:34:34 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1383414297",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}