{
  "Entries": [
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-f2ce5c82-0f99-43d5-c69e-f17431b8c30d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 05 Mar 2021 16:42:34 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8DFF5ADF924FB\u0022",
        "Last-Modified": "Fri, 05 Mar 2021 16:42:35 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-f2ce5c82-0f99-43d5-c69e-f17431b8c30d/test-blob-9f434f07-d78f-4cdf-32f7-bdee89eeb56a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 05 Mar 2021 16:42:35 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "2atSj1mADeEdA0SMHHEjlRKSobjg6slKWWQsrQJAXGeKfIl03vsFU2v2vECDMMxfyArs3KTLlu/iBzb0U2De3KfdAZ/orrYXjE1M6S2JxymYzOT3U3/Cv\u002BaaktfFEP8LGN\u002BYpi8sdxlT1VBXfqzBWUAMXId75okoGkK5TRzfUXxOQNFO8CH5a1XLo30va0A52DmWuLR4kDFVcIzscyn9dIPTCT7acmgfE/AxsEML\u002Ba4Bf3XjSJjH1a\u002Bg\u002BICVDfgrzi/5W2ICX2bQd6XDRuDuSnfd6vS0GSzrDDOOOnroigX4BuIUEZ1L/yAPE9DzBI7Psq4JtyIDd7QCDk8vcyX[...]
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-f2ce5c82-0f99-43d5-c69e-f17431b8c30d/test-blob-9f434f07-d78f-4cdf-32f7-bdee89eeb56a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Sat, 06 Mar 2021 16:42:34 GMT",
        "x-ms-date": "Fri, 05 Mar 2021 16:42:35 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-559382d0-41ea-d714-58d9-afc957f297c4/test-blob-1c34c65e-c3f2-333a-2788-ba3573d2e1fa",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 04 Mar 2021 16:42:34 GMT",
        "x-ms-date": "Fri, 05 Mar 2021 16:42:35 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:be0b1ace-301e-0000-07de-1154f3000000\n",
        "Time:2021-03-05T16:42:35.6556541Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-46f599bb-4007-dcaf-d87c-fb9bf82e8537/test-blob-445971b6-e5e2-0356-902e-f92c89d8213d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-date": "Fri, 05 Mar 2021 16:42:35 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:be0b1b83-301e-0000-35de-1154f3000000\n",
        "Time:2021-03-05T16:42:35.8137684Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-de83b8d1-9da2-0ded-19cb-439647bfc7ad/test-blob-c6673335-3b13-ae7e-5a50-e4e13ff304af",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Mar 2021 16:42:36 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "9b5\u002BAlJwaQQp9qx/7w6HFg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8DFF5AE973436\u0022",
        "Last-Modified": "Fri, 05 Mar 2021 16:42:36 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 05 Mar 2021 16:42:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-de83b8d1-9da2-0ded-19cb-439647bfc7ad/test-blob-c6673335-3b13-ae7e-5a50-e4e13ff304af",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "0x8D8DFF5AE973436",
        "x-ms-date": "Fri, 05 Mar 2021 16:42:36 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-77fa068f-8c79-3644-8ae9-027e619c00d7/test-blob-1855469c-8505-4213-9d7d-8769925b1567",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Mar 2021 16:42:36 GMT",
        "x-ms-lease-id": "662fa7f7-5f9d-b4ba-2f9d-b964a6a67ea6",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseNotPresentWithBlobOperation\u003C/Code\u003E\u003CMessage\u003EThere is currently no lease on the blob.\n",
        "RequestId:be0b1e1f-301e-0000-3ade-1154f3000000\n",
        "Time:2021-03-05T16:42:36.4582289Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-77fa068f-8c79-3644-8ae9-027e619c00d7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Mar 2021 16:42:36 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-03-05T08:42:34.5762072-08:00",
    "RandomSeed": "1139534165",
    "Storage_TestConfigDefault": "ProductionTenant\nkasoboltest\nU2FuaXRpemVk\nhttps://kasoboltest.blob.core.windows.net\nhttps://kasoboltest.file.core.windows.net\nhttps://kasoboltest.queue.core.windows.net\nhttps://kasoboltest.table.core.windows.net\n\n\n\n\nhttps://kasoboltest-secondary.blob.core.windows.net\nhttps://kasoboltest-secondary.file.core.windows.net\nhttps://kasoboltest-secondary.queue.core.windows.net\nhttps://kasoboltest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://kasoboltest.blob.core.windows.net/;QueueEndpoint=https://kasoboltest.queue.core.windows.net/;FileEndpoint=https://kasoboltest.file.core.windows.net/;BlobSecondaryEndpoint=https://kasoboltest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://kasoboltest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://kasoboltest-secondary.file.core.windows.net/;AccountName=kasoboltest;AccountKey=Kg==;\nencryptionScope"
  }
}