{
  "Entries": [
    {
      "RequestUri": "https://seanmccuswest2.blob.core.windows.net/test-container-560ea862-33d1-d214-1491-8ba4d7a652af?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 12 Feb 2020 21:10:31 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7AFFFFE3F3B30\u0022",
        "Last-Modified": "Wed, 12 Feb 2020 21:10:31 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccuswest2.blob.core.windows.net/test-container-560ea862-33d1-d214-1491-8ba4d7a652af/test-blob-324752db-bc7c-b21a-1354-03521a7f7ea0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 12 Feb 2020 21:10:31 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "yLXM8JrCKBXTb4EiX4GAxNi0NpeViA92rrDKBJo\u002BCQFkU8qcg8g8rBf79jCpt7hXNe694Z2y6z\u002BlVULq9yR6lGWAvgy340EPd4p/mZHfzfb3cs6rgShksWiK9i2GUrTzgWHKKPmsoFKtrWoTM1GuxohL8oVVzxM9HAyjLOwUiSTWjBgwFKX9StJ7/tO\u002BUX4W3DClOmAvnbFNjQztCHNlmCRFPaY5fbHiTqey2dBAf8qNjVC8bk7Epu9m4oeYD0JeFmWueBTY3F5\u002Bwuy4fMPhDQ1BYHsjqSnWgZa205sqSj5lVMNrkge2tLHxPaxiCyoshdV5Vq/HOmw72PZ9IQnDVHet[...]
    {
      "RequestUri": "https://seanmccuswest2.blob.core.windows.net/test-container-560ea862-33d1-d214-1491-8ba4d7a652af/test-blob-324752db-bc7c-b21a-1354-03521a7f7ea0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Feb 2020 21:10:31 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7AFFFFE411FD1\u0022",
        "Last-Modified": "Wed, 12 Feb 2020 21:10:31 GMT",
        "x-ms-blob-content-md5": "sosKT6sdlLDr8ulyrSaPLA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 12 Feb 2020 21:10:31 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": "yLXM8JrCKBXTb4EiX4GAxNi0NpeViA92rrDKBJo\u002BCQFkU8qcg8g8rBf79jCpt7hXNe694Z2y6z\u002BlVULq9yR6lGWAvgy340EPd4p/mZHfzfb3cs6rgShksWiK9i2GUrTzgWHKKPmsoFKtrWoTM1GuxohL8oVVzxM9HAyjLOwUiSTWjBgwFKX9StJ7/tO\u002BUX4W3DClOmAvnbFNjQztCHNlmCRFPaY5fbHiTqey2dBAf8qNjVC8bk7Epu9m4oeYD0JeFmWueBTY3F5\u002Bwuy4fMPhDQ1BYHsjqSnWgZa205sqSj5lVMNrkge2tLHxPaxiCyoshdV5Vq/HOmw72PZ9IQnDVHetUyj/dnsGiqvJMmt9dHZrik3GsPSPnhlWL7kQOJKnLuk1tLgCLA9Zc8sD/Q[...]
[...]
    {
      "RequestUri": "https://seanmccuswest2.blob.core.windows.net/test-container-560ea862-33d1-d214-1491-8ba4d7a652af?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Feb 2020 21:10:31 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1241999716",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmccuswest2\nU2FuaXRpemVk\nhttps://seanmccuswest2.blob.core.windows.net\nhttp://seanmccuswest2.file.core.windows.net\nhttp://seanmccuswest2.queue.core.windows.net\nhttp://seanmccuswest2.table.core.windows.net\n\n\n\n\nhttp://seanmccuswest2-secondary.blob.core.windows.net\nhttp://seanmccuswest2-secondary.file.core.windows.net\nhttp://seanmccuswest2-secondary.queue.core.windows.net\nhttp://seanmccuswest2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmccuswest2.blob.core.windows.net/;QueueEndpoint=http://seanmccuswest2.queue.core.windows.net/;FileEndpoint=http://seanmccuswest2.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmccuswest2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmccuswest2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmccuswest2-secondary.file.core.windows.net/;AccountName=seanmccuswest2;AccountKey=Sanitized\nseanscope1"
  }
}