{
  "Entries": [
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-98476878-01e4-cda5-ad70-113c709889fa?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 03 Jun 2020 17:30:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D807E3C170514A\u0022",
        "Last-Modified": "Wed, 03 Jun 2020 17:30:05 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-98476878-01e4-cda5-ad70-113c709889fa/test-blob-3af8eb83-191c-e085-686f-5c77099ac62a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 03 Jun 2020 17:30:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "1fueDkXPm4MY6XB7Q4sH2zxH1oWalSlCP0A738sdcyM4oUTKMyWDlU962\u002Be6oGd8WE33oi2rgj/RW88ElLu4\u002B3ZMQqJHPKgWxEA1H7pBiJ7Zvod9JdD1jB8F\u002BddWfwGTwt9xbV3FNRuk4N7sdWKEj9IwKtY0OtWlVraCQkPQwEQ/ol3a0BpAFIhr2UXxCBa9gGkEJVQqX4cKyxanQvPY0yCZrdMEqb\u002B48BZNyWGQs02fxcHZy5rwFELW0AQDmdKVkgUkWFtCuNaqTDU\u002B3ZYmeRjJB30x/geFqJiRLtm6tFZDtzZca1vyXQzqL39lsjessFbsOpFVZJT9n6/CsYr[...]
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-98476878-01e4-cda5-ad70-113c709889fa/test-blob-3af8eb83-191c-e085-686f-5c77099ac62a?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Wed, 03 Jun 2020 17:30:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EcoolTag\u003C/Key\u003E\u003CValue\u003Etrue\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-98476878-01e4-cda5-ad70-113c709889fa/test-blob-3af8eb83-191c-e085-686f-5c77099ac62a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Jun 2020 17:30:06 GMT",
        "x-ms-if-tags": "\u0022coolTag\u0022 = \u0027true\u0027",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "alhgM3gL4eeXU8z34F4L8A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D807E3C17813E7\u0022",
        "Last-Modified": "Wed, 03 Jun 2020 17:30:05 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 03 Jun 2020 17:30:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "1",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-06-03T17:30:05.7767911Z"
      },
      "ResponseBody": "1fueDkXPm4MY6XB7Q4sH2zxH1oWalSlCP0A738sdcyM4oUTKMyWDlU962\u002Be6oGd8WE33oi2rgj/RW88ElLu4\u002B3ZMQqJHPKgWxEA1H7pBiJ7Zvod9JdD1jB8F\u002BddWfwGTwt9xbV3FNRuk4N7sdWKEj9IwKtY0OtWlVraCQkPQwEQ/ol3a0BpAFIhr2UXxCBa9gGkEJVQqX4cKyxanQvPY0yCZrdMEqb\u002B48BZNyWGQs02fxcHZy5rwFELW0AQDmdKVkgUkWFtCuNaqTDU\u002B3ZYmeRjJB30x/geFqJiRLtm6tFZDtzZca1vyXQzqL39lsjessFbsOpFVZJT9n6/CsYr975je\u002BiVgyQ691qpwRs6IIPZh5H6CznnF7lOhXsysL6uC7EDmh7cRTOZILmTn5B3FdH[...]
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-98476878-01e4-cda5-ad70-113c709889fa?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Jun 2020 17:30:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1534297533",
    "Storage_TestConfigDefault": "ProductionTenant\nhuxcanadac\nU2FuaXRpemVk\nhttps://huxcanadac.blob.core.windows.net\nhttps://huxcanadac.file.core.windows.net\nhttps://huxcanadac.queue.core.windows.net\nhttps://huxcanadac.table.core.windows.net\n\n\n\n\nhttps://huxcanadac-secondary.blob.core.windows.net\nhttps://huxcanadac-secondary.file.core.windows.net\nhttps://huxcanadac-secondary.queue.core.windows.net\nhttps://huxcanadac-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://huxcanadac.blob.core.windows.net/;QueueEndpoint=https://huxcanadac.queue.core.windows.net/;FileEndpoint=https://huxcanadac.file.core.windows.net/;BlobSecondaryEndpoint=https://huxcanadac-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://huxcanadac-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://huxcanadac-secondary.file.core.windows.net/;AccountName=huxcanadac;AccountKey=Sanitized\nseanscope1"
  }
}