{
  "Entries": [
    {
      "RequestUri": "http://seanragrscanary.blob.core.windows.net/test-container-cae28f6f-be37-e47a-56e4-3ea01154ab7a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:44:52 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75FD6C8E32F\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:44:52 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanragrscanary.blob.core.windows.net/test-container-cae28f6f-be37-e47a-56e4-3ea01154ab7a/test-blob-361cb61c-63f7-8bd6-76d0-350b737d6250",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:44:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "9qfTPKts4vnbAVjRJahq65y\u002BYZ0VBGAPZp3BTuHcLKzBytvSlwvU0pBFyxhbK5Yxkag79WQHufJHxNYNq5QY/9WsEFrNmFOR6Y4NzzhIszoGj7w4oTZHuRDpi9M1xif8LMxCrhs8ZPlUqgzW\u002Buq5/hCbBhvX4F6fZVZJ5A2AXCJmEKJsBQUfyivD4/cqcb8mL4zCmb8LJUxuo0nF8oDr1E3pb\u002BlHTPkKfDzwE/1mdPOWI7SAvsJjWutW/mG8Wdir1w\u002BpQQHW3uOStxyDGxFPBy5VL8/MahaLhhT\u002B8U6YTiJjRTvtvTPyv0TR7gam3z/aBvcyZioJ32z5Hrvt2Oy[...]
    {
      "RequestUri": "http://seanragrscanary.blob.core.windows.net/test-container-cae28f6f-be37-e47a-56e4-3ea01154ab7a/test-blob-361cb61c-63f7-8bd6-76d0-350b737d6250",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:44:53 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D75FD6D66EE6\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:44:52 GMT",
        "x-ms-blob-content-md5": "p2gbUo6329qXRR1octTGBw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Apr 2020 23:44:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "9qfTPKts4vnbAVjRJahq65y\u002BYZ0VBGAPZp3BTuHcLKzBytvSlwvU0pBFyxhbK5Yxkag79WQHufJHxNYNq5QY/9WsEFrNmFOR6Y4NzzhIszoGj7w4oTZHuRDpi9M1xif8LMxCrhs8ZPlUqgzW\u002Buq5/hCbBhvX4F6fZVZJ5A2AXCJmEKJsBQUfyivD4/cqcb8mL4zCmb8LJUxuo0nF8oDr1E3pb\u002BlHTPkKfDzwE/1mdPOWI7SAvsJjWutW/mG8Wdir1w\u002BpQQHW3uOStxyDGxFPBy5VL8/MahaLhhT\u002B8U6YTiJjRTvtvTPyv0TR7gam3z/aBvcyZioJ32z5Hrvt2OyU\u002Bmj5INbVYUn6Y2\u002BK\u002BnwP5KbVJOpWZef4WmbO9J94BO[...]
    {
      "RequestUri": "http://seanragrscanary.blob.core.windows.net/test-container-cae28f6f-be37-e47a-56e4-3ea01154ab7a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:44:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "90446585",
    "Storage_TestConfigSecondary": "SecondaryTenant\nseanragrscanary\nU2FuaXRpemVk\nhttp://seanragrscanary.blob.core.windows.net\nhttp://seanragrscanary.file.core.windows.net\nhttp://seanragrscanary.queue.core.windows.net\nhttp://seanragrscanary.table.core.windows.net\n\n\n\n\nhttp://seanragrscanary-secondary.blob.core.windows.net\nhttp://seanragrscanary-secondary.file.core.windows.net\nhttp://seanragrscanary-secondary.queue.core.windows.net\nhttp://seanragrscanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanragrscanary.blob.core.windows.net/;QueueEndpoint=http://seanragrscanary.queue.core.windows.net/;FileEndpoint=http://seanragrscanary.file.core.windows.net/;BlobSecondaryEndpoint=http://seanragrscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanragrscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanragrscanary-secondary.file.core.windows.net/;AccountName=seanragrscanary;AccountKey=Sanitized\n"
  }
}