{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-edc7e6ac-457c-4048-db4f-a4d3e142197f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:54 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1C4148330\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:52:54 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-edc7e6ac-457c-4048-db4f-a4d3e142197f/test-blob-827c7f45-d58c-bb90-2ed5-702fd9382bba",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:54 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "lLEkiwWGI7anbh8Jj41Mb6IKCmiJ0FB5wAAjj0sIoioxqT8wHY15yfNYAE4THDg8oIqdk6W0ccNhqssFYpRqnsz01\u002bZNHFEUkEF1MM8BZaPH5u7Baw\u002bEfDd8znPCdGZe7mGCHkVR74Q4iAJkP0DzX0QoPXymqTO8b1qv0U3eUhzaFkJtf0dddvZqiOIMIDz2iG8umTbpuEQtxa/qoh43WTbmiin\u002bhuD9yseFPCBRsE8duEjdsLjl8F3\u002bP7qXc9PYMi6sJpYT\u002bAKPMM9vY3wj3BVfzOnVWal9AJnMAEYmZVfzrQnxpYq5CsBGToDpdozh2mOkOKbpAtmFLiX8R/i[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-edc7e6ac-457c-4048-db4f-a4d3e142197f/test-blob-827c7f45-d58c-bb90-2ed5-702fd9382bba",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:54 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D706F1C4171190\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:52:54 GMT",
        "x-ms-blob-content-md5": "3mhSWNqQG1xFjqf/4L8RbQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 12 Jul 2019 17:52:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "lLEkiwWGI7anbh8Jj41Mb6IKCmiJ0FB5wAAjj0sIoioxqT8wHY15yfNYAE4THDg8oIqdk6W0ccNhqssFYpRqnsz01\u002bZNHFEUkEF1MM8BZaPH5u7Baw\u002bEfDd8znPCdGZe7mGCHkVR74Q4iAJkP0DzX0QoPXymqTO8b1qv0U3eUhzaFkJtf0dddvZqiOIMIDz2iG8umTbpuEQtxa/qoh43WTbmiin\u002bhuD9yseFPCBRsE8duEjdsLjl8F3\u002bP7qXc9PYMi6sJpYT\u002bAKPMM9vY3wj3BVfzOnVWal9AJnMAEYmZVfzrQnxpYq5CsBGToDpdozh2mOkOKbpAtmFLiX8R/i8acp4e7ZyMjeLpsEpjgsplIoM6iXigS2wCasva3ZkvMPIiuW1cfrWbqgsGZHk[...]
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-edc7e6ac-457c-4048-db4f-a4d3e142197f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:54 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1796848032",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}