{
  "Entries": [
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-a112e1f2-fe9b-88c6-f2bb-aaa7699a15e9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 25 Apr 2020 01:06:16 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B4DB794DCB\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:06:17 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-a112e1f2-fe9b-88c6-f2bb-aaa7699a15e9/test-blob-7e3626d2-84d6-6c16-cfbb-f2536635954a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 25 Apr 2020 01:06:17 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "7ZdkOH9HlrZ0H6LfJ3pSsoHeFk9ws9v1JugoNuL5eIU=",
        "x-ms-encryption-key-sha256": "iJfEwHjwV7YcIq6K60SjjtqpQFLfOYTTOKA4kROW\u002Bro=",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "emS6CsNAx7GmGZ8klq960DpsQ3VpyYU6C8Jzc7P23dl4kJypZ3V5Iyx/pUty1FNBJ70Kr\u002BSIbLDfgP8BzFT\u002BrzzFrAUT0GjF8x9J6iM6xzdvMkv26y317yTryuZ1eFbXgPYPrSdNLldURLvEP4KNpLnIkpoJCMMO0L3hJwaCT3vJcWotKxkPIQT0oaZxMLCiXiUtreW8zncyAN1qbAZQ0fVA\u002B80XX3mfuXCVFGYdnJ8MP8ngVKKVDaLy\u002Byo8pLX\u002Bo9CxMTTiiv6rjvR1JrkRFWQ9Xiw8cH1Tqu4qJWRPYxS6l3GWa2pqKrXKNcatH\u002Bbp4OXG/kaJwTNSXoZGt2SaXCrfu45I[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-a112e1f2-fe9b-88c6-f2bb-aaa7699a15e9/test-blob-7e3626d2-84d6-6c16-cfbb-f2536635954a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:06:17 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "7ZdkOH9HlrZ0H6LfJ3pSsoHeFk9ws9v1JugoNuL5eIU=",
        "x-ms-encryption-key-sha256": "iJfEwHjwV7YcIq6K60SjjtqpQFLfOYTTOKA4kROW\u002Bro=",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1gpi7MgGwZC0q0omIjxQ2g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7E8B4DBA8C6BA\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:06:17 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 25 Apr 2020 01:06:17 GMT",
        "x-ms-encryption-key-sha256": "iJfEwHjwV7YcIq6K60SjjtqpQFLfOYTTOKA4kROW\u002Bro=",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "emS6CsNAx7GmGZ8klq960DpsQ3VpyYU6C8Jzc7P23dl4kJypZ3V5Iyx/pUty1FNBJ70Kr\u002BSIbLDfgP8BzFT\u002BrzzFrAUT0GjF8x9J6iM6xzdvMkv26y317yTryuZ1eFbXgPYPrSdNLldURLvEP4KNpLnIkpoJCMMO0L3hJwaCT3vJcWotKxkPIQT0oaZxMLCiXiUtreW8zncyAN1qbAZQ0fVA\u002B80XX3mfuXCVFGYdnJ8MP8ngVKKVDaLy\u002Byo8pLX\u002Bo9CxMTTiiv6rjvR1JrkRFWQ9Xiw8cH1Tqu4qJWRPYxS6l3GWa2pqKrXKNcatH\u002Bbp4OXG/kaJwTNSXoZGt2SaXCrfu45Ieqn50jN3cju2pYoHQUR\u002BiWTOMdY\u002BQw3jJH[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-a112e1f2-fe9b-88c6-f2bb-aaa7699a15e9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:06:17 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "853065300",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttp://amandacanary.blob.core.windows.net\nhttp://amandacanary.file.core.windows.net\nhttp://amandacanary.queue.core.windows.net\nhttp://amandacanary.table.core.windows.net\n\n\n\n\nhttp://amandacanary-secondary.blob.core.windows.net\nhttp://amandacanary-secondary.file.core.windows.net\nhttp://amandacanary-secondary.queue.core.windows.net\nhttp://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandacanary.blob.core.windows.net/;QueueEndpoint=http://amandacanary.queue.core.windows.net/;FileEndpoint=http://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Sanitized\n\nDefaultEndpointsProtocol=https;AccountName=ortestsaccountcbn1;AccountKey=OrRfzSm3ktQSklAGiL90/QusS7SdS6Y5S/AJoxZEeyKYDtnue7OKYIMLOraTnT4xcOyhYbqzWVmtTKappcc5Fg==;EndpointSuffix=core.windows.net\nDefaultEndpointsProtocol=https;AccountName=vbalaorcentral1;AccountKey=vlHMz/LZ3Sx7r/1bdTQT26pG0tqORQ4uTIcxGhHB0LQhIhqGxfv2TXV7u\u002BI2ra4UWXrWGGHG2N6l\u002BBfb5FgAcQ==;EndpointSuffix=core.windows.net"
  }
}