{
  "Entries": [
    {
      "RequestUri": "https://kasobolcanadacentral.blob.core.windows.net/test-container-3cff6bc0-ff44-d9ed-b23c-46408d1e3da4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 05 Mar 2021 17:12:55 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8DFF9EB34B0C9\u0022",
        "Last-Modified": "Fri, 05 Mar 2021 17:12:55 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasobolcanadacentral.blob.core.windows.net/test-container-3cff6bc0-ff44-d9ed-b23c-46408d1e3da4/test-blob-44257c1e-e819-00e4-e2fb-2a6fbf197783",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 05 Mar 2021 17:12:56 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "02DJ2OjmWIsbGZq92w4miUqcNV1GOh2K7I8GWO/wIxQ9ZwtSYBnAI9dM5236hsWqIrsUJlfrdZhCPuxZ4ACcKvaGf3QC0ykx3BGG\u002BlOwj2XJXDYz3Py8UvFyDyEtZ0PXsLx3cwZRp06S40pFZHtFkq\u002BGj4TJaE35yi2CkMQIA3TOr0qWORxfeLXnofmydu52LX1yp9e/DUdufanZzheKit/Vd7UwrliSJhfO4sZURlQ\u002BDGJHlVycD6ICKLtyhqqeXBca3P85RX4k34HA8CqBGjZVmsG0Q/SDOGgSLoadIJ9sMIWvOmpUBcbjIrba3B53gQ2EHezo6RkilqOXJhf4h7/hVL\u0[...]
    {
      "RequestUri": "https://kasobolcanadacentral.blob.core.windows.net/test-container-3cff6bc0-ff44-d9ed-b23c-46408d1e3da4/test-blob-44257c1e-e819-00e4-e2fb-2a6fbf197783",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Mar 2021 17:12:56 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "B7L7M431FEGw3uWR5XjswA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8DFF9EB66279E\u0022",
        "Last-Modified": "Fri, 05 Mar 2021 17:12:56 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 05 Mar 2021 17:12:56 GMT",
        "x-ms-last-access-time": "Fri, 05 Mar 2021 17:12:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "02DJ2OjmWIsbGZq92w4miUqcNV1GOh2K7I8GWO/wIxQ9ZwtSYBnAI9dM5236hsWqIrsUJlfrdZhCPuxZ4ACcKvaGf3QC0ykx3BGG\u002BlOwj2XJXDYz3Py8UvFyDyEtZ0PXsLx3cwZRp06S40pFZHtFkq\u002BGj4TJaE35yi2CkMQIA3TOr0qWORxfeLXnofmydu52LX1yp9e/DUdufanZzheKit/Vd7UwrliSJhfO4sZURlQ\u002BDGJHlVycD6ICKLtyhqqeXBca3P85RX4k34HA8CqBGjZVmsG0Q/SDOGgSLoadIJ9sMIWvOmpUBcbjIrba3B53gQ2EHezo6RkilqOXJhf4h7/hVL\u002Bl0eDMAJT70CA\u002BqFxJm614GAKzg0dsjKPGvd\u002Bu65v3\u00[...]
    {
      "RequestUri": "https://kasobolcanadacentral.blob.core.windows.net/test-container-3cff6bc0-ff44-d9ed-b23c-46408d1e3da4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Mar 2021 17:12:56 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1443693778",
    "Storage_TestConfigDefault": "ProductionTenant\nkasobolcanadacentral\nU2FuaXRpemVk\nhttps://kasobolcanadacentral.blob.core.windows.net\nhttps://kasobolcanadacentral.file.core.windows.net\nhttps://kasobolcanadacentral.queue.core.windows.net\nhttps://kasobolcanadacentral.table.core.windows.net\n\n\n\n\nhttps://kasobolcanadacentral-secondary.blob.core.windows.net\nhttps://kasobolcanadacentral-secondary.file.core.windows.net\nhttps://kasobolcanadacentral-secondary.queue.core.windows.net\nhttps://kasobolcanadacentral-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://kasobolcanadacentral.blob.core.windows.net/;QueueEndpoint=https://kasobolcanadacentral.queue.core.windows.net/;FileEndpoint=https://kasobolcanadacentral.file.core.windows.net/;BlobSecondaryEndpoint=https://kasobolcanadacentral-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://kasobolcanadacentral-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://kasobolcanadacentral-secondary.file.core.windows.net/;AccountName=kasobolcanadacentral;AccountKey=Kg==;\nencryptionScope"
  }
}