{
  "Entries": [
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-a1582df5-2bef-b9ac-c6f7-b815d8abdaa5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 05 Mar 2021 16:44:35 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8DFF5F5C80755\"",
        "Last-Modified": "Fri, 05 Mar 2021 16:44:35 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-a1582df5-2bef-b9ac-c6f7-b815d8abdaa5/test-blob-9f31c3f5-9adf-d5fc-862e-90d23d758b40",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 05 Mar 2021 16:44:35 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "cuhkWgSOfKudALnas2VFERxV69KXRGU65DqvLjaeVmrkrdOKUYBem4lo+D7w+gmNCwLWqpJeMi6CKXXJ3051/6lO9QaRur+b91BILkwnSeowISM0x6vYhnulCCcKlLs78/iUoQQD+1BCOrNCFQThW+CLmL0rQDf9dm+K67KYkWKUDTpTkqfmLSbS8Y34lnF3w6xHf/v9D7LBliuUeQ+dqqlQrQfKjsk4pWuXWE+pBd/+EygFUBFml/2Hkvt7UbQWNUbkp+lprTXjD9qQZrdjF5FMlmXnmFmX6RYJQ/vNvFS3gSMIxF31lGbyIUE31jFGI3pqL7pOLp3sTb3TYGo5FlKG2eSUWlMzVgL/9XYYYBPl[...]
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-a1582df5-2bef-b9ac-c6f7-b815d8abdaa5/test-blob-9f31c3f5-9adf-d5fc-862e-90d23d758b40",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Mar 2021 16:44:35 GMT",
        "x-ms-if-tags": "\"coolTag\" = 'true'",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:173fd025-801e-0074-7bde-11d2b5000000\n",
        "Time:2021-03-05T16:44:35.7394396Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-a1582df5-2bef-b9ac-c6f7-b815d8abdaa5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Mar 2021 16:44:35 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "971851345",
    "Storage_TestConfigDefault": "ProductionTenant\nkasoboltest\nU2FuaXRpemVk\nhttps://kasoboltest.blob.core.windows.net\nhttps://kasoboltest.file.core.windows.net\nhttps://kasoboltest.queue.core.windows.net\nhttps://kasoboltest.table.core.windows.net\n\n\n\n\nhttps://kasoboltest-secondary.blob.core.windows.net\nhttps://kasoboltest-secondary.file.core.windows.net\nhttps://kasoboltest-secondary.queue.core.windows.net\nhttps://kasoboltest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://kasoboltest.blob.core.windows.net/;QueueEndpoint=https://kasoboltest.queue.core.windows.net/;FileEndpoint=https://kasoboltest.file.core.windows.net/;BlobSecondaryEndpoint=https://kasoboltest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://kasoboltest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://kasoboltest-secondary.file.core.windows.net/;AccountName=kasoboltest;AccountKey=Kg==;\nencryptionScope\n\n"
  }
}