{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-f60e3552-af8a-8eb1-c0f5-929791e44bd1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 20:55:49 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14795B5D329\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:55:49 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-f60e3552-af8a-8eb1-c0f5-929791e44bd1/test-blob-6c40c9f9-45b0-d48c-8593-08f6493e3ec7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 20:55:49 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "prV1csrbdPl4YgS2Mp3pbyhA\u002Bp6pVfeYSwdaUCaLY\u002B0=",
        "x-ms-encryption-key-sha256": "PLn6rYqIYOQ/yT0Tb7zFIJpKM\u002Bltnc46eRjOe6oGDT4=",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "o8wix5b6ty80hU4\u002Ba9ONOq2Lg7R3omI6W47xl94lmx\u002BHTzo0Y4BwGSU9dOk6xU1rEgotYQQQfQFq52sHCR9QDuovthyYWdYtGmmOOS14AJZBhoXT\u002BDkbd9I5ynsUaBAF7Gb/Cw4x07g0AEebgUPT8efVxoKafBawFD9JXo9aGLFYiU3HePWHELPMn/fygPWPZtiUPqKOam9PTvfP53Qp2eeVQvj2C3jyTbbPzt0evpNJuvi3xtoPyh7ddyr\u002Btyg\u002Bo8YQXD39mFpfofDrv5ySMZBjhix8cRINhXjZGJNO9JaNkCoWDmFWTCGdVyTpJAuBSkaamzH8wjG0AtfFI3/HEa1aXS9xfCMuD[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-f60e3552-af8a-8eb1-c0f5-929791e44bd1/test-blob-6c40c9f9-45b0-d48c-8593-08f6493e3ec7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 20:55:49 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "prV1csrbdPl4YgS2Mp3pbyhA\u002Bp6pVfeYSwdaUCaLY\u002B0=",
        "x-ms-encryption-key-sha256": "PLn6rYqIYOQ/yT0Tb7zFIJpKM\u002Bltnc46eRjOe6oGDT4=",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C14795C40F42\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:55:49 GMT",
        "x-ms-blob-content-md5": "\u002B8jN6IMWLsYhkRE68we8ug==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 05 Mar 2020 20:55:49 GMT",
        "x-ms-encryption-key-sha256": "PLn6rYqIYOQ/yT0Tb7zFIJpKM\u002Bltnc46eRjOe6oGDT4=",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": "o8wix5b6ty80hU4\u002Ba9ONOq2Lg7R3omI6W47xl94lmx\u002BHTzo0Y4BwGSU9dOk6xU1rEgotYQQQfQFq52sHCR9QDuovthyYWdYtGmmOOS14AJZBhoXT\u002BDkbd9I5ynsUaBAF7Gb/Cw4x07g0AEebgUPT8efVxoKafBawFD9JXo9aGLFYiU3HePWHELPMn/fygPWPZtiUPqKOam9PTvfP53Qp2eeVQvj2C3jyTbbPzt0evpNJuvi3xtoPyh7ddyr\u002Btyg\u002Bo8YQXD39mFpfofDrv5ySMZBjhix8cRINhXjZGJNO9JaNkCoWDmFWTCGdVyTpJAuBSkaamzH8wjG0AtfFI3/HEa1aXS9xfCMuDDoK3xrtJGFsV85MtFlkkc35YguKkCih1UZ2jsbcEM0ja[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-f60e3552-af8a-8eb1-c0f5-929791e44bd1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 20:55:49 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1119407824",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}