{
  "Entries": [
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-98476878-01e4-cda5-ad70-113c709889fa?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 05 Mar 2021 16:43:28 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8DFF5CDA5D970\u0022",
        "Last-Modified": "Fri, 05 Mar 2021 16:43:28 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-98476878-01e4-cda5-ad70-113c709889fa/test-blob-3af8eb83-191c-e085-686f-5c77099ac62a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 05 Mar 2021 16:43:28 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "1fueDkXPm4MY6XB7Q4sH2zxH1oWalSlCP0A738sdcyM4oUTKMyWDlU962\u002Be6oGd8WE33oi2rgj/RW88ElLu4\u002B3ZMQqJHPKgWxEA1H7pBiJ7Zvod9JdD1jB8F\u002BddWfwGTwt9xbV3FNRuk4N7sdWKEj9IwKtY0OtWlVraCQkPQwEQ/ol3a0BpAFIhr2UXxCBa9gGkEJVQqX4cKyxanQvPY0yCZrdMEqb\u002B48BZNyWGQs02fxcHZy5rwFELW0AQDmdKVkgUkWFtCuNaqTDU\u002B3ZYmeRjJB30x/geFqJiRLtm6tFZDtzZca1vyXQzqL39lsjessFbsOpFVZJT9n6/CsYr[...]
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-98476878-01e4-cda5-ad70-113c709889fa/test-blob-3af8eb83-191c-e085-686f-5c77099ac62a?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Fri, 05 Mar 2021 16:43:28 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "\uFEFF\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EcoolTag\u003C/Key\u003E\u003CValue\u003Etrue\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-98476878-01e4-cda5-ad70-113c709889fa/test-blob-3af8eb83-191c-e085-686f-5c77099ac62a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Mar 2021 16:43:28 GMT",
        "x-ms-if-tags": "\u0022coolTag\u0022 = \u0027true\u0027",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "alhgM3gL4eeXU8z34F4L8A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8DFF5CDCC2CFE\u0022",
        "Last-Modified": "Fri, 05 Mar 2021 16:43:28 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 05 Mar 2021 16:43:28 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "1",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "1fueDkXPm4MY6XB7Q4sH2zxH1oWalSlCP0A738sdcyM4oUTKMyWDlU962\u002Be6oGd8WE33oi2rgj/RW88ElLu4\u002B3ZMQqJHPKgWxEA1H7pBiJ7Zvod9JdD1jB8F\u002BddWfwGTwt9xbV3FNRuk4N7sdWKEj9IwKtY0OtWlVraCQkPQwEQ/ol3a0BpAFIhr2UXxCBa9gGkEJVQqX4cKyxanQvPY0yCZrdMEqb\u002B48BZNyWGQs02fxcHZy5rwFELW0AQDmdKVkgUkWFtCuNaqTDU\u002B3ZYmeRjJB30x/geFqJiRLtm6tFZDtzZca1vyXQzqL39lsjessFbsOpFVZJT9n6/CsYr975je\u002BiVgyQ691qpwRs6IIPZh5H6CznnF7lOhXsysL6uC7EDmh7cRTOZ[...]
[...]
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-98476878-01e4-cda5-ad70-113c709889fa?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Mar 2021 16:43:28 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1534297533",
    "Storage_TestConfigDefault": "ProductionTenant\nkasoboltest\nU2FuaXRpemVk\nhttps://kasoboltest.blob.core.windows.net\nhttps://kasoboltest.file.core.windows.net\nhttps://kasoboltest.queue.core.windows.net\nhttps://kasoboltest.table.core.windows.net\n\n\n\n\nhttps://kasoboltest-secondary.blob.core.windows.net\nhttps://kasoboltest-secondary.file.core.windows.net\nhttps://kasoboltest-secondary.queue.core.windows.net\nhttps://kasoboltest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://kasoboltest.blob.core.windows.net/;QueueEndpoint=https://kasoboltest.queue.core.windows.net/;FileEndpoint=https://kasoboltest.file.core.windows.net/;BlobSecondaryEndpoint=https://kasoboltest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://kasoboltest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://kasoboltest-secondary.file.core.windows.net/;AccountName=kasoboltest;AccountKey=Kg==;\nencryptionScope"
  }
}