{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0991a7e2-2e67-b07e-d2ca-c1c59254b119?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 10 Feb 2023 23:53:34 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB0BC2055F61D6\u0022",
        "Last-Modified": "Fri, 10 Feb 2023 23:53:34 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0991a7e2-2e67-b07e-d2ca-c1c59254b119/test-blob-3b015ce1-000d-8167-aba3-f99746787c86",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 10 Feb 2023 23:53:34 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "9n9XN\u002BoJXvAADSblZFJzSUbI13\u002BRGKAu6sqzQ1/y\u002BLpWrDW8MUwO5LTSmGt\u002BxS3sXUluwlGrjN3fKE0fVhqRDhRsj7gdthj5uvLLv381sCSdxuYVgzZoqx9X3Qj/7o6ZQIpWETZ0z6cxdQdf38xeqXgogo80fIvdBOOYxdgQ\u002BctjMn/03p/uKPc\u002B5A0uCctT\u002BTOP12z/ZMP/eAxS3AnOIXs8/K1MacvZOlqX9ph9r/sYRMykgCJfY8679WWSm0zucMKS8g0eBo9otpwRZ24rgskROpc8KqBY3ZjfkXRlR58OqYbV6rzu\u002Bj49O8qGTftgj3Kb[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0991a7e2-2e67-b07e-d2ca-c1c59254b119/test-blob-3b015ce1-000d-8167-aba3-f99746787c86",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 10 Feb 2023 23:53:34 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "7MKXB0AoFYXtUWoUWglE4Q==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB0BC20566B5CA\u0022",
        "Last-Modified": "Fri, 10 Feb 2023 23:53:34 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 10 Feb 2023 23:53:34 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 10 Feb 2023 23:53:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-02-10T23:53:34.5235402Z"
      },
      "ResponseBody": "9n9XN\u002BoJXvAADSblZFJzSUbI13\u002BRGKAu6sqzQ1/y\u002BLpWrDW8MUwO5LTSmGt\u002BxS3sXUluwlGrjN3fKE0fVhqRDhRsj7gdthj5uvLLv381sCSdxuYVgzZoqx9X3Qj/7o6ZQIpWETZ0z6cxdQdf38xeqXgogo80fIvdBOOYxdgQ\u002BctjMn/03p/uKPc\u002B5A0uCctT\u002BTOP12z/ZMP/eAxS3AnOIXs8/K1MacvZOlqX9ph9r/sYRMykgCJfY8679WWSm0zucMKS8g0eBo9otpwRZ24rgskROpc8KqBY3ZjfkXRlR58OqYbV6rzu\u002Bj49O8qGTftgj3KbgGC0sUUhORV0P3UaA2/9A77oVpcNIz9Z/\u002B7W0o\u002BcfgEBycY\u002BWfhAs7Gne[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0991a7e2-2e67-b07e-d2ca-c1c59254b119?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 10 Feb 2023 23:53:34 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1502688097",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
