{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-560ea862-33d1-d214-1491-8ba4d7a652af?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:42:19 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75F7BAEA89B\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:42:19 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-560ea862-33d1-d214-1491-8ba4d7a652af/test-blob-324752db-bc7c-b21a-1354-03521a7f7ea0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:42:20 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "yLXM8JrCKBXTb4EiX4GAxNi0NpeViA92rrDKBJo\u002BCQFkU8qcg8g8rBf79jCpt7hXNe694Z2y6z\u002BlVULq9yR6lGWAvgy340EPd4p/mZHfzfb3cs6rgShksWiK9i2GUrTzgWHKKPmsoFKtrWoTM1GuxohL8oVVzxM9HAyjLOwUiSTWjBgwFKX9StJ7/tO\u002BUX4W3DClOmAvnbFNjQztCHNlmCRFPaY5fbHiTqey2dBAf8qNjVC8bk7Epu9m4oeYD0JeFmWueBTY3F5\u002Bwuy4fMPhDQ1BYHsjqSnWgZa205sqSj5lVMNrkge2tLHxPaxiCyoshdV5Vq/HOmw72PZ9IQnDVHet[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-560ea862-33d1-d214-1491-8ba4d7a652af/test-blob-324752db-bc7c-b21a-1354-03521a7f7ea0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:42:20 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D75F7BBC3FA5\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:42:19 GMT",
        "x-ms-blob-content-md5": "sosKT6sdlLDr8ulyrSaPLA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Apr 2020 23:42:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "yLXM8JrCKBXTb4EiX4GAxNi0NpeViA92rrDKBJo\u002BCQFkU8qcg8g8rBf79jCpt7hXNe694Z2y6z\u002BlVULq9yR6lGWAvgy340EPd4p/mZHfzfb3cs6rgShksWiK9i2GUrTzgWHKKPmsoFKtrWoTM1GuxohL8oVVzxM9HAyjLOwUiSTWjBgwFKX9StJ7/tO\u002BUX4W3DClOmAvnbFNjQztCHNlmCRFPaY5fbHiTqey2dBAf8qNjVC8bk7Epu9m4oeYD0JeFmWueBTY3F5\u002Bwuy4fMPhDQ1BYHsjqSnWgZa205sqSj5lVMNrkge2tLHxPaxiCyoshdV5Vq/HOmw72PZ9IQnDVHetUyj/dnsGiqvJMmt9dHZrik3GsPSPnhlWL7kQOJKnLuk1tLgCLA9Zc8sD/Q[...]
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-560ea862-33d1-d214-1491-8ba4d7a652af?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:42:20 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1241999716",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}