{
  "Entries": [
    {
      "RequestUri": "https://seandevtest2.blob.core.windows.net/test-container-7829f666-efd9-51ff-0947-63004534f765?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:05:14 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E87724DCA2\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:05:14 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seandevtest2.blob.core.windows.net/test-container-7829f666-efd9-51ff-0947-63004534f765/test-blob-0cfa71fe-1719-c18a-a71d-13bb9db63d50",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:05:14 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "UiSZWc6QAOjymI\u002B2fprOi5inHbXWlu61BsB0nwOGdigdIxJf5FXtU491b90j\u002Baqtn\u002B3lcqJReLs15FINHGDlbCJmmFqIbqZDusklYSYQkg0VxgAWoQOGzKtWKgAC3zYvkAO7vGBPJTFGorjYKxeVJFJF91Vgzsoe4MyvMUSmQNqT9tAjVdWtxqHPz/5LraCUwQWtvefhzsE4nNyTn/PsoGHeRTRGcc58mDG0kf/M0zIrG3A\u002B\u002BIPysSgP67n4GSat4i\u002BdbWdsTVA2MCW1LD3BbMipZ4SCrafe65MLNoUUhH4LBq7QL2bLv80gB8hePIXqTX/wTrKhKzSIvoHTYBfKIqymqiaO8T1i3qi2YqXfgK8OIOkFJDXMadt6R3Dk9162VeUbt5J[...]
    {
      "RequestUri": "https://seandevtest2.blob.core.windows.net/test-container-7829f666-efd9-51ff-0947-63004534f765/test-blob-0cfa71fe-1719-c18a-a71d-13bb9db63d50",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:05:14 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Hb6ZHKTqPJbmBn54q1Ligw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2E87731E0B2\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:05:14 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 02:05:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "UiSZWc6QAOjymI\u002B2fprOi5inHbXWlu61BsB0nwOGdigdIxJf5FXtU491b90j\u002Baqtn\u002B3lcqJReLs15FINHGDlbCJmmFqIbqZDusklYSYQkg0VxgAWoQOGzKtWKgAC3zYvkAO7vGBPJTFGorjYKxeVJFJF91Vgzsoe4MyvMUSmQNqT9tAjVdWtxqHPz/5LraCUwQWtvefhzsE4nNyTn/PsoGHeRTRGcc58mDG0kf/M0zIrG3A\u002B\u002BIPysSgP67n4GSat4i\u002BdbWdsTVA2MCW1LD3BbMipZ4SCrafe65MLNoUUhH4LBq7QL2bLv80gB8hePIXqTX/wTrKhKzSIvoHTYBfKIqymqiaO8T1i3qi2YqXfgK8OIOkFJDXMadt6R3Dk9162VeUbt5Jf[...]
    {
      "RequestUri": "https://seandevtest2.blob.core.windows.net/test-container-7829f666-efd9-51ff-0947-63004534f765?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:05:14 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1704256161",
    "Storage_TestConfigSecondary": "SecondaryTenant\nseandevtest2\nU2FuaXRpemVk\nhttps://seandevtest2.blob.core.windows.net\nhttps://seandevtest2.file.core.windows.net\nhttps://seandevtest2.queue.core.windows.net\nhttps://seandevtest2.table.core.windows.net\n\n\n\n\nhttps://seandevtest2-secondary.blob.core.windows.net\nhttps://seandevtest2-secondary.file.core.windows.net\nhttps://seandevtest2-secondary.queue.core.windows.net\nhttps://seandevtest2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seandevtest2.blob.core.windows.net/;QueueEndpoint=https://seandevtest2.queue.core.windows.net/;FileEndpoint=https://seandevtest2.file.core.windows.net/;BlobSecondaryEndpoint=https://seandevtest2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seandevtest2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seandevtest2-secondary.file.core.windows.net/;AccountName=seandevtest2;AccountKey=Sanitized\nseanscope1"
  }
}