{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-decadf8c-3d88-b0eb-6251-6ff7ad0531be?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:09:51 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E91C980750\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:09:52 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-decadf8c-3d88-b0eb-6251-6ff7ad0531be/test-blob-a72565d3-b43b-a11c-53c6-97aca8a94610",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:09:52 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "iYZX2Qq9BkuB4ON6i0ceqp9jfj6Izfbt2Xl0j72nWRo=",
        "x-ms-encryption-key-sha256": "UIYw8i6f2Dcc8etJVpo9bSBaGdfqDKWQhWP/sNdsyGk="
      },
      "RequestBody": "QyOIcjAtPp6fMtQ155vRV70pvBSuzW0GhNIKLfizXNSxKgy7gSEWDVq4wx9a\u002BivPYp3OEXmNfHW1gu5dIxGl7NX/hLyPFdWcEq669gpNq4mnO8pb5EtaI62WBf8zuOpIEtdKWnVvP03HMf7K0oZrZ9ZktudHSgeKpGAO\u002BA/WaVrEceQzA1AUN/t9lLJMkFAnK54ozwICAcjPwLUVYEY98MikBmGiOGSGUH7rybVUPhQQ5s1xrZpXwXAbZEKa/te0QKPqp4nvhfM5on\u002BDFjcTeoKhBXl5y0MuTUTwhtQh7FGnN4kRapaLIGHaOAsb06o4COnA\u002BfldO3VgvFpF/v4eF7Yu3N\u002BuAQ/rFeQYn5I3E3mZuH3qYPJXSvsTsK08RiFiuyBV7PfLiQfZ[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-decadf8c-3d88-b0eb-6251-6ff7ad0531be/test-blob-a72565d3-b43b-a11c-53c6-97aca8a94610",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:09:52 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "iYZX2Qq9BkuB4ON6i0ceqp9jfj6Izfbt2Xl0j72nWRo=",
        "x-ms-encryption-key-sha256": "UIYw8i6f2Dcc8etJVpo9bSBaGdfqDKWQhWP/sNdsyGk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "\u002BKG2hgYC9gczPF0h2CRyTg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2E91CA484EF\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:09:52 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 02:09:52 GMT",
        "x-ms-encryption-key-sha256": "UIYw8i6f2Dcc8etJVpo9bSBaGdfqDKWQhWP/sNdsyGk=",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 02:09:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T02:09:52.2682095Z"
      },
      "ResponseBody": "QyOIcjAtPp6fMtQ155vRV70pvBSuzW0GhNIKLfizXNSxKgy7gSEWDVq4wx9a\u002BivPYp3OEXmNfHW1gu5dIxGl7NX/hLyPFdWcEq669gpNq4mnO8pb5EtaI62WBf8zuOpIEtdKWnVvP03HMf7K0oZrZ9ZktudHSgeKpGAO\u002BA/WaVrEceQzA1AUN/t9lLJMkFAnK54ozwICAcjPwLUVYEY98MikBmGiOGSGUH7rybVUPhQQ5s1xrZpXwXAbZEKa/te0QKPqp4nvhfM5on\u002BDFjcTeoKhBXl5y0MuTUTwhtQh7FGnN4kRapaLIGHaOAsb06o4COnA\u002BfldO3VgvFpF/v4eF7Yu3N\u002BuAQ/rFeQYn5I3E3mZuH3qYPJXSvsTsK08RiFiuyBV7PfLiQfZ1eMVRZziKKngq0a[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-decadf8c-3d88-b0eb-6251-6ff7ad0531be?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:09:52 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1867562014",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}