{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7ac61b84-9ddc-f68a-c975-efc69fdbbe6e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:46:43 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3745F01A05D\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:46:43 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7ac61b84-9ddc-f68a-c975-efc69fdbbe6e/test-blob-0dba0d6f-5189-5633-9b46-8b8cb591c710",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:46:43 GMT"
      },
      "RequestBody": "Ix3QnmWmOugjfn31OwLIpkH6bKJSSs6f4pRV4HuCfxCjeGQQUZWQs8KfUSG\u002BXwOMI3k0zn\u002BhltlOMbvQUFptoP5sUsKduFWsarjfsvit4YORyb0CTrCRAeKLwh/ZwGJoMrAiUQxA7mojh2TGwePgoVA4Poaca1JN21DgEvY206pWd4BIio92UdtS3sZMykD\u002BqyDOoIHcy8de1HW8YNt07bS6cEpjlxfAwe2rSo2LAREQ4WfVZzIoeau56bUZuvD/3vASkln1mhMJDd\u002BUMIE60tNkrH90noaCkfaeqq1hpwf8rGuceW\u002B3GkZTy1lSlEkqfxfhtQ5xij9qjwBiVvBlp2bYl4QVnVlkrJE4INItL/2tdCqWgPH4iyErM[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7ac61b84-9ddc-f68a-c975-efc69fdbbe6e/test-blob-0dba0d6f-5189-5633-9b46-8b8cb591c710?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Wed, 17 Feb 2021 18:46:43 GMT"
      },
      "RequestBody": "\uFEFF\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EtagKey0\u003C/Key\u003E\u003CValue\u003EtagValue0\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003EtagKey1\u003C/Key\u003E\u003CValue\u003EtagValue1\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E",
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7ac61b84-9ddc-f68a-c975-efc69fdbbe6e/test-blob-0dba0d6f-5189-5633-9b46-8b8cb591c710",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:46:43 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "\u002BtU9oBTnlXNk7Lx1ll32uA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D3745F0CB278\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:46:43 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:46:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:46:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "2",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:46:43.7259896Z"
      },
      "ResponseBody": "Ix3QnmWmOugjfn31OwLIpkH6bKJSSs6f4pRV4HuCfxCjeGQQUZWQs8KfUSG\u002BXwOMI3k0zn\u002BhltlOMbvQUFptoP5sUsKduFWsarjfsvit4YORyb0CTrCRAeKLwh/ZwGJoMrAiUQxA7mojh2TGwePgoVA4Poaca1JN21DgEvY206pWd4BIio92UdtS3sZMykD\u002BqyDOoIHcy8de1HW8YNt07bS6cEpjlxfAwe2rSo2LAREQ4WfVZzIoeau56bUZuvD/3vASkln1mhMJDd\u002BUMIE60tNkrH90noaCkfaeqq1hpwf8rGuceW\u002B3GkZTy1lSlEkqfxfhtQ5xij9qjwBiVvBlp2bYl4QVnVlkrJE4INItL/2tdCqWgPH4iyErMuluVMNV7SPyevzFFOG\u002BfQh8OWltPG[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7ac61b84-9ddc-f68a-c975-efc69fdbbe6e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:46:43 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "106902739",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}