{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-119865c0-e438-f467-ae38-14e4390577f5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:44:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75FD722D337\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:44:52 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-119865c0-e438-f467-ae38-14e4390577f5/test-blob-5a62f236-48b1-7ca8-426d-b607a7843469",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:44:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "rcnJeRxTVMhoUBZ9LfSbnNntKlNbHEOvfWywJht6OfwziMSOSeQLZpHh8mFGOzl/RUCoIdMz05GGGvuvoy6t7RYZSaUvDVL14cTBeSnhaEIzMOHa0hgpALQzBy/oW8JjNAVKLPGTTzftsj8OcVpnpbG5fHJM0hr\u002B8Ejx\u002BwUjDIYCXkUkljtQn\u002BCp7R/YGo9azGJ9L99PFmHqTDyoolMyyqa5DBIUQw92aNyRo\u002BX6JtW4li\u002BiptynskjjOUr\u002Bp/2MdiJ5Hg59RYhSBsYCvXJ88CVm7wskjyTJElnJMAnFd8DfBCzCgQfHO1CmT58WpPXWZ0kkmLjxaOb\u0[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-119865c0-e438-f467-ae38-14e4390577f5/test-blob-5a62f236-48b1-7ca8-426d-b607a7843469",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:44:53 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D75FD72F9B8E\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:44:52 GMT",
        "x-ms-blob-content-md5": "tXNrUFMMecX\u002BVoYuxwXJwA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Apr 2020 23:44:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "rcnJeRxTVMhoUBZ9LfSbnNntKlNbHEOvfWywJht6OfwziMSOSeQLZpHh8mFGOzl/RUCoIdMz05GGGvuvoy6t7RYZSaUvDVL14cTBeSnhaEIzMOHa0hgpALQzBy/oW8JjNAVKLPGTTzftsj8OcVpnpbG5fHJM0hr\u002B8Ejx\u002BwUjDIYCXkUkljtQn\u002BCp7R/YGo9azGJ9L99PFmHqTDyoolMyyqa5DBIUQw92aNyRo\u002BX6JtW4li\u002BiptynskjjOUr\u002Bp/2MdiJ5Hg59RYhSBsYCvXJ88CVm7wskjyTJElnJMAnFd8DfBCzCgQfHO1CmT58WpPXWZ0kkmLjxaOb\u002Brwy1tBV\u002BjY4FIrhFuW8en7S7fT\u002BEs21k8snAoN8I7pxFw[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-119865c0-e438-f467-ae38-14e4390577f5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:44:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1374921740",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}