{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-80c01b1b-d5eb-3caa-c3c5-a9724113601f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 29 Oct 2019 17:03:23 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D75C91E8704E52\u0022",
        "Last-Modified": "Tue, 29 Oct 2019 17:03:23 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-80c01b1b-d5eb-3caa-c3c5-a9724113601f/test-blob-33f48eef-6c87-a8bd-0197-0b342e0f0fea",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 29 Oct 2019 17:03:23 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "NlmaCf9wRJBzf0ZfEDGWHWy1ua9e6TrkVD\u002B2CF3GxWi3LENMDE/0SU4kAmX\u002BRmaU0A91xRglOU0ftbXAuTwzrbrdqOTtShEcwHBgOubV5Q3YITdNUP9QkfL2LVaaNI8S8FWqIZ6Cp4b\u002BWQSnxP5mSc\u002Bo55gE5V26jRbx9x26gozhTkmRKsRuVnqxTvb6qM3zj\u002BOG8kz3DQv375OHkLBpRNd4xnW11R8KOZEdU5Zmv\u002BRJ/Wc6M48/6UE\u002BmTow5sXKSAofguFXPrrDfLi72bp0kTCvPpJILhBHOdw0djvk2lLLUwuMRj0D8r\u002BsdrfXgxCHyggK[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-80c01b1b-d5eb-3caa-c3c5-a9724113601f/test-blob-33f48eef-6c87-a8bd-0197-0b342e0f0fea",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 29 Oct 2019 17:03:23 GMT",
        "x-ms-date": "Tue, 29 Oct 2019 17:03:23 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-80c01b1b-d5eb-3caa-c3c5-a9724113601f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 29 Oct 2019 17:03:23 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-10-29T10:03:23.6802041-07:00",
    "RandomSeed": "1367458358",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}