{
  "Entries": [
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-a962f9fd-e9eb-e48d-8acb-cc9d973c1072?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 27 Apr 2020 16:54:01 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EACB966F6E7D\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 16:54:01 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-a962f9fd-e9eb-e48d-8acb-cc9d973c1072/test-blob-6d96526e-a1ce-d41f-7fef-f93312c9ffa9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 27 Apr 2020 16:54:02 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "NAxvBRyGYlLLgwH59mY92sNGP61VOGM9f3dxFeLo7Ml\u002BWPKaQAJp14eUC4vClRInce6CrJ/FRfuoMYakFU1w45c4e510oprA3GcmwSzYe\u002BplSaTzZT8quRP28g57xcI6JCjzihp0s85Twc83n4PO0LacPsupfH1XDcGKfbCMRBak65wE5PDP8ZbVoKNw8hmPJyFX34f3kKiqnH1Y6TUex3y4k7PnyuzGzE001Nza5xuo\u002B1WONGWPrVv0WUhzdwdhttgmt19lqF01kRI5wrzL0LRhr\u002B7fkJIXKeVY8nGkUlRG0x0DszC7QlL4WaJSVuueKIiTEccYgiZGD415DbXrkD69[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-a962f9fd-e9eb-e48d-8acb-cc9d973c1072/test-blob-6d96526e-a1ce-d41f-7fef-f93312c9ffa9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2020 16:54:02 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "YNeE4MYxsCcWp6wHwLD6cQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7EACB96A4554A\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 16:54:02 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 27 Apr 2020 16:54:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "NAxvBRyGYlLLgwH59mY92sNGP61VOGM9f3dxFeLo7Ml\u002BWPKaQAJp14eUC4vClRInce6CrJ/FRfuoMYakFU1w45c4e510oprA3GcmwSzYe\u002BplSaTzZT8quRP28g57xcI6JCjzihp0s85Twc83n4PO0LacPsupfH1XDcGKfbCMRBak65wE5PDP8ZbVoKNw8hmPJyFX34f3kKiqnH1Y6TUex3y4k7PnyuzGzE001Nza5xuo\u002B1WONGWPrVv0WUhzdwdhttgmt19lqF01kRI5wrzL0LRhr\u002B7fkJIXKeVY8nGkUlRG0x0DszC7QlL4WaJSVuueKIiTEccYgiZGD415DbXrkD698\u002B\u002BeyB2Dpm2c5jbvxNP6usnoEEGMLVH3vaOiQTSdDMhklGL8[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-a962f9fd-e9eb-e48d-8acb-cc9d973c1072?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2020 16:54:02 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1970525108",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttp://amandacanary.blob.core.windows.net\nhttp://amandacanary.file.core.windows.net\nhttp://amandacanary.queue.core.windows.net\nhttp://amandacanary.table.core.windows.net\n\n\n\n\nhttp://amandacanary-secondary.blob.core.windows.net\nhttp://amandacanary-secondary.file.core.windows.net\nhttp://amandacanary-secondary.queue.core.windows.net\nhttp://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandacanary.blob.core.windows.net/;QueueEndpoint=http://amandacanary.queue.core.windows.net/;FileEndpoint=http://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Sanitized\n\nDefaultEndpointsProtocol=https;AccountName=ortestsaccountcbn1;AccountKey=OrRfzSm3ktQSklAGiL90/QusS7SdS6Y5S/AJoxZEeyKYDtnue7OKYIMLOraTnT4xcOyhYbqzWVmtTKappcc5Fg==;EndpointSuffix=core.windows.net\nDefaultEndpointsProtocol=https;AccountName=vbalaorcentral1;AccountKey=vlHMz/LZ3Sx7r/1bdTQT26pG0tqORQ4uTIcxGhHB0LQhIhqGxfv2TXV7u\u002BI2ra4UWXrWGGHG2N6l\u002BBfb5FgAcQ==;EndpointSuffix=core.windows.net"
  }
}