{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-3100856f-4e2c-ae1e-d5b1-18ac38e20b58?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 03:45:33 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEC93305E23\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:45:33 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-3100856f-4e2c-ae1e-d5b1-18ac38e20b58/test-blob-c6800e0f-0569-7b49-bb2e-4925b0212a08",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 11 Dec 2019 03:45:33 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "\u002BntpIZtTilTx5j6Q0SsIgZvAEscYNPJpfWailSv4zc1oFPgq6vS9RuZ15n4jKVdrFm3/ixJsT8aI/6M0sPQp\u002BBlwKL0z3ZenAszgo05zRlQONn69\u002BUK7/MUxoupQiJXxS\u002B1lsgGaODnVWIhGi6t4FLlPJXl1a//XtSz3ATqsVnk27ldgDpNSdP5F6KC5dHAZuY0xAGMce9/ujv3Vojb\u002BKAEPEJxUGAYl/LF7MINeHUC73kite1UWGnN3cn\u002BWfNHIRr\u002BeqmTUxaCHCwSxoEtcj3C8GsTtUa2s\u002BPUp3KWGj3/gsurEv3Pc5xmnJm9RZHknG\u0[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-3100856f-4e2c-ae1e-d5b1-18ac38e20b58/test-blob-c6800e0f-0569-7b49-bb2e-4925b0212a08",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:45:33 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77DEC933D247F\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:45:33 GMT",
        "x-ms-blob-content-md5": "AADCOeyyahPs765AmRZP/w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 11 Dec 2019 03:45:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": "\u002BntpIZtTilTx5j6Q0SsIgZvAEscYNPJpfWailSv4zc1oFPgq6vS9RuZ15n4jKVdrFm3/ixJsT8aI/6M0sPQp\u002BBlwKL0z3ZenAszgo05zRlQONn69\u002BUK7/MUxoupQiJXxS\u002B1lsgGaODnVWIhGi6t4FLlPJXl1a//XtSz3ATqsVnk27ldgDpNSdP5F6KC5dHAZuY0xAGMce9/ujv3Vojb\u002BKAEPEJxUGAYl/LF7MINeHUC73kite1UWGnN3cn\u002BWfNHIRr\u002BeqmTUxaCHCwSxoEtcj3C8GsTtUa2s\u002BPUp3KWGj3/gsurEv3Pc5xmnJm9RZHknG\u002BIO2WIM2/QR8rFuquj7AHuE0e1gl8/94DOrRSs\u002BWpN8AcDDd7Yd[...]
[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-3100856f-4e2c-ae1e-d5b1-18ac38e20b58?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:45:33 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "386201650",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}