{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-214cd6f4-2ec6-d6d2-ccca-db817d21068a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 21:04:40 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C148D269B67C\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:04:40 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-214cd6f4-2ec6-d6d2-ccca-db817d21068a/test-blob-eb221770-bb3a-f8a0-fa70-e57b30dc8894",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 21:04:40 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "pbQymxdjZ2XJhK00qRXmqFiLnvClszyQ3SS4uvYqAza08hc78dc4gCQWishtVmGXwO6KOJ/s7PF3ob3zq61vnoB3gLb\u002Bq7aAUx7LjihzIofCIfkHn8uWyAYlw08ZRNV3putI9darmBQ3CuSBIF3IA382MImzZ/604Liw2OhnZg5IVOg8KyyxF4jlz5XmFKeoXb/Q4hRLxD7tkxUe\u002BsAr0KPWOMx1i9hShRkBzphpzcsQCHsploT6/ZCpT5gXkxzHuf7yENzbMtHnfl36SvWmg8VJDfJFAjof3Ds8zDw/OvL9ORSZd73vNdWpQRcmALOaAsvSzoUpgbbE0jOhn2aUp0Rq/BDgDQwIWd[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-214cd6f4-2ec6-d6d2-ccca-db817d21068a/test-blob-eb221770-bb3a-f8a0-fa70-e57b30dc8894",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:04:41 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C148D278F3A2\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:04:40 GMT",
        "x-ms-blob-content-md5": "O5oB8MMwatBT88RV2EGfbQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 05 Mar 2020 21:04:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": "pbQymxdjZ2XJhK00qRXmqFiLnvClszyQ3SS4uvYqAza08hc78dc4gCQWishtVmGXwO6KOJ/s7PF3ob3zq61vnoB3gLb\u002Bq7aAUx7LjihzIofCIfkHn8uWyAYlw08ZRNV3putI9darmBQ3CuSBIF3IA382MImzZ/604Liw2OhnZg5IVOg8KyyxF4jlz5XmFKeoXb/Q4hRLxD7tkxUe\u002BsAr0KPWOMx1i9hShRkBzphpzcsQCHsploT6/ZCpT5gXkxzHuf7yENzbMtHnfl36SvWmg8VJDfJFAjof3Ds8zDw/OvL9ORSZd73vNdWpQRcmALOaAsvSzoUpgbbE0jOhn2aUp0Rq/BDgDQwIWdcdm8Ei\u002BNyHocpwbWts1Lhe1KSJTpZvFZrTvAOjufS/ynWtC\u002B[...]
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-c7615129-7fc3-abec-59e7-3fb083c1d16f/test-blob-f37c5eb5-1565-6885-fbef-8c4afa61a209",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 04 Mar 2020 21:04:40 GMT",
        "x-ms-date": "Thu, 05 Mar 2020 21:04:41 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C148D2CF77CC\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:04:41 GMT",
        "x-ms-blob-content-md5": "EetFff6ZCsV6Xf[...]
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-4f5df2bc-950a-5690-27fa-49ebde737e2e/test-blob-019f48d7-fea0-04e6-ac74-2a917e089fc1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 06 Mar 2020 21:04:40 GMT",
        "x-ms-date": "Thu, 05 Mar 2020 21:04:42 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C148D327811A\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:04:42 GMT",
        "x-ms-blob-content-md5": "OTi25WNsRIC5yJ[...]
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-60470ced-2e4f-df25-5778-3a92c650d36a/test-blob-38d43b9d-e0ed-f6b1-2ac1-86eaa1d24bff",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:04:42 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "SaOkj702TbJxdvpd3Yd/Pg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C148D37CA609\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:04:42 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 05 Mar 2020 21:04:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-60470ced-2e4f-df25-5778-3a92c650d36a/test-blob-38d43b9d-e0ed-f6b1-2ac1-86eaa1d24bff",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D7C148D37CA609\u0022",
        "x-ms-date": "Thu, 05 Mar 2020 21:04:42 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C148D37CA609\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:04:42 GMT",
        "x-ms-blob-content-md5": "SaOkj702TbJxdv[...]
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-062bb2fa-d4c1-dee7-08cc-756c2296dd3a/test-blob-79dc3e87-2b3a-190d-f250-b5f17a9fdef3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Thu, 05 Mar 2020 21:04:43 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C148D3DA5688\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:04:43 GMT",
        "x-ms-blob-content-md5": "usmB9xPLVjqoMMXfl/mVlw==[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-062bb2fa-d4c1-dee7-08cc-756c2296dd3a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:04:43 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-03-05T13:04:40.6388029-08:00",
    "RandomSeed": "286822340",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}