{
  "Entries": [
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-f1126b73-1ebe-a555-af27-2c35a82ef810?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 05 Mar 2021 16:41:43 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8DFF58F89A1A8\"",
        "Last-Modified": "Fri, 05 Mar 2021 16:41:44 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-f1126b73-1ebe-a555-af27-2c35a82ef810/test-blob-9c48e64e-7d24-f183-84a3-806189a5c82c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 05 Mar 2021 16:41:44 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "zdN5ZfLEVpe99L5PTBSkfqS4BMakOQ5D/xVNf9Mtz/P0yXMstxyBbYvyAg375Onroonblju0Y5TFNWbddtbEjyTKW4Ohd8eIN5Y6sTYASBssYd1KUTm4P2XeZ4G2pPe1LnLpMIhlSivCU16kebJdxOxKsBT5ej7rEhsdwg9F0ZOfhYPEFxeSxheyh/3aE8azgaOVa/PivLM0/R5tR4gbfIHLBPQumK3UuOn9R/JAEP5VakBssGagvcnPkBn5JX6Olgp7Dw/ShOj2wLMJ5HXB8+0fF91Hr8wbKkYrXgiT25JqbrDnxAHvg+VYdfCzlthTDpws2g2hR+c+YOTIpyXfYuUgn3XE2S7sL5T47zncaJRt[...]
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-f1126b73-1ebe-a555-af27-2c35a82ef810/test-blob-9c48e64e-7d24-f183-84a3-806189a5c82c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Sat, 06 Mar 2021 16:41:43 GMT",
        "x-ms-date": "Fri, 05 Mar 2021 16:41:44 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-66f73ee5-5841-46d0-d699-9bbd27103199/test-blob-c7c3f739-f238-9e27-f28c-3d8dd6c1ff2f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 04 Mar 2021 16:41:43 GMT",
        "x-ms-date": "Fri, 05 Mar 2021 16:41:44 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:af74a855-b01e-005e-2ade-11a7f0000000\n",
        "Time:2021-03-05T16:41:44.5631710Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-8d6cb55a-01f6-2a1f-47fc-194031696e2a/test-blob-b0ffecfc-5ab2-d398-ae94-3d006cbb64e2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"garbage\"",
        "x-ms-date": "Fri, 05 Mar 2021 16:41:44 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:af74a8ae-b01e-005e-7cde-11a7f0000000\n",
        "Time:2021-03-05T16:41:44.7352938Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-c1b8adec-1652-ea00-0450-f1cb5396f018/test-blob-5f21024f-b214-a7ff-8ada-6ff8e80d486f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Mar 2021 16:41:45 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "4ReGs6FizEo5fBSQyajE0w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D8DFF58FFA0220\"",
        "Last-Modified": "Fri, 05 Mar 2021 16:41:44 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 05 Mar 2021 16:41:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-c1b8adec-1652-ea00-0450-f1cb5396f018/test-blob-5f21024f-b214-a7ff-8ada-6ff8e80d486f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "0x8D8DFF58FFA0220",
        "x-ms-date": "Fri, 05 Mar 2021 16:41:45 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-573186eb-343c-051a-1997-fcf81e05977c/test-blob-26f13b81-253a-2a42-a9ed-eebcd8604c38",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Mar 2021 16:41:45 GMT",
        "x-ms-lease-id": "b7ec5554-7ba8-2375-36c6-e476993e121d",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseNotPresentWithBlobOperation</Code><Message>There is currently no lease on the blob.\n",
        "RequestId:af74a981-b01e-005e-34de-11a7f0000000\n",
        "Time:2021-03-05T16:41:45.0555221Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-573186eb-343c-051a-1997-fcf81e05977c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Mar 2021 16:41:45 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-03-05T10:41:43.5468066-06:00",
    "RandomSeed": "1383899796",
    "Storage_TestConfigDefault": "ProductionTenant\nkasoboltest\nU2FuaXRpemVk\nhttps://kasoboltest.blob.core.windows.net\nhttps://kasoboltest.file.core.windows.net\nhttps://kasoboltest.queue.core.windows.net\nhttps://kasoboltest.table.core.windows.net\n\n\n\n\nhttps://kasoboltest-secondary.blob.core.windows.net\nhttps://kasoboltest-secondary.file.core.windows.net\nhttps://kasoboltest-secondary.queue.core.windows.net\nhttps://kasoboltest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://kasoboltest.blob.core.windows.net/;QueueEndpoint=https://kasoboltest.queue.core.windows.net/;FileEndpoint=https://kasoboltest.file.core.windows.net/;BlobSecondaryEndpoint=https://kasoboltest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://kasoboltest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://kasoboltest-secondary.file.core.windows.net/;AccountName=kasoboltest;AccountKey=Kg==;\nencryptionScope\n\n"
  }
}