{
  "Entries": [
    {
      "RequestUri": "http://kasoboltest.blob.core.windows.net/test-container-56dfeee3-f590-3722-d44e-3f4932f0b264?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 04 May 2020 22:57:55 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7F07E951281AF\u0022",
        "Last-Modified": "Mon, 04 May 2020 22:57:55 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasoboltest.blob.core.windows.net/test-container-56dfeee3-f590-3722-d44e-3f4932f0b264/test-blob-d7cb8477-59c6-e5e9-fb06-a6b2551b1fdf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 04 May 2020 22:57:55 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "7USM9\u002BGmfvrr/3Qm\u002B5ORwMF7pZlGCXibuqsMjlZHjtmaEKBghpXj/RqvvOyozUZ1NNL612I1oePM8T01mu\u002BkpHCajOrzMTorl6d\u002Bl0yL8\u002BxlllqDTbd2ZG69lJVYrWMqChh7DUFbggOYzj\u002B7twqWQP5Q0AOVIFe5Iyd7NZ2k0\u002BpDU400D\u002BWrChNX6353u61kJlOXB91glenBwukZ30xl8/pVd2N9YjEYpMXvPjXYQWh6Fw9JDcsM476jc038kSrH8fiDIkRJ58Mif2MXcFa06ICBn8g9HOYvSJOl2e/jGxKaKEw8VB8kMC9LJ45o9HNn7orN[...]
    {
      "RequestUri": "http://kasoboltest.blob.core.windows.net/test-container-56dfeee3-f590-3722-d44e-3f4932f0b264/test-blob-d7cb8477-59c6-e5e9-fb06-a6b2551b1fdf",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 04 May 2020 22:57:55 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ww54t0qtgJUfT1ClBZ1\u002BzQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7F07E9518123D\u0022",
        "Last-Modified": "Mon, 04 May 2020 22:57:55 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 04 May 2020 22:57:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": "7USM9\u002BGmfvrr/3Qm\u002B5ORwMF7pZlGCXibuqsMjlZHjtmaEKBghpXj/RqvvOyozUZ1NNL612I1oePM8T01mu\u002BkpHCajOrzMTorl6d\u002Bl0yL8\u002BxlllqDTbd2ZG69lJVYrWMqChh7DUFbggOYzj\u002B7twqWQP5Q0AOVIFe5Iyd7NZ2k0\u002BpDU400D\u002BWrChNX6353u61kJlOXB91glenBwukZ30xl8/pVd2N9YjEYpMXvPjXYQWh6Fw9JDcsM476jc038kSrH8fiDIkRJ58Mif2MXcFa06ICBn8g9HOYvSJOl2e/jGxKaKEw8VB8kMC9LJ45o9HNn7orNe/JiitUSVNmwpA3UPmNQfEgJd5NgXW\u002BY8fRXx1QgPetlFqAgOJ13K[...]
    {
      "RequestUri": "http://kasoboltest.blob.core.windows.net/test-container-56dfeee3-f590-3722-d44e-3f4932f0b264?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 04 May 2020 22:57:55 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "75015130",
    "Storage_TestConfigDefault": "ProductionTenant\nkasoboltest\nU2FuaXRpemVk\nhttp://kasoboltest.blob.core.windows.net\nhttp://kasoboltest.file.core.windows.net\nhttp://kasoboltest.queue.core.windows.net\nhttp://kasoboltest.table.core.windows.net\n\n\n\n\nhttp://kasoboltest-secondary.blob.core.windows.net\nhttp://kasoboltest-secondary.file.core.windows.net\nhttp://kasoboltest-secondary.queue.core.windows.net\nhttp://kasoboltest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://kasoboltest.blob.core.windows.net/;QueueEndpoint=http://kasoboltest.queue.core.windows.net/;FileEndpoint=http://kasoboltest.file.core.windows.net/;BlobSecondaryEndpoint=http://kasoboltest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://kasoboltest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://kasoboltest-secondary.file.core.windows.net/;AccountName=kasoboltest;AccountKey=Sanitized\nencryptionScope"
  }
}