{
  "Entries": [
    {
      "RequestUri": "https://kasobolcanadacentral.blob.core.windows.net/test-container-63d3d213-9fb9-e13c-f115-4f6e32178aa5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 05 Mar 2021 17:18:17 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8DFFAAB511630\u0022",
        "Last-Modified": "Fri, 05 Mar 2021 17:18:18 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasobolcanadacentral.blob.core.windows.net/test-container-63d3d213-9fb9-e13c-f115-4f6e32178aa5/test-blob-eb332120-824e-3ec2-edaf-f864aca39445",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 05 Mar 2021 17:18:18 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "m5fo8q6w8tEc3ksBOpz7fg9U8TBRNPgG/lxRqGH7grgTbgROixRMzA7zOs\u002BIZOJAZGGrHm1zpGef4fNRXklvIFuS7syXrfL6CCQiXvoofpl5EUMAUGNKoMmdrqkg\u002Bm7Fgxlz9XYWqLdusBZIUUZsdmNa10wFb8/3R00C\u002Bf9I2Q21XNrgtYgiY2mMkaBNAk\u002BCMThFxiIivxRJe60oFK64JtYJkvRsi8HaN3Tjed4vqkX\u002BgMjGAhPqk53Glznb\u002BU661GvJRG9bFaV2ao6uPkU1GdFnKpPm8SPDHv9WpvSH/z0lKaVzZmbWomojUJiEPFRYkH1odM\u002B71[...]
    {
      "RequestUri": "https://kasobolcanadacentral.blob.core.windows.net/test-container-63d3d213-9fb9-e13c-f115-4f6e32178aa5/test-blob-eb332120-824e-3ec2-edaf-f864aca39445",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Mar 2021 17:18:18 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "GRd7n0UnRYKeqBflV0cdkA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8DFFAAB8511A8\u0022",
        "Last-Modified": "Fri, 05 Mar 2021 17:18:18 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 05 Mar 2021 17:18:18 GMT",
        "x-ms-last-access-time": "Fri, 05 Mar 2021 17:18:18 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "m5fo8q6w8tEc3ksBOpz7fg9U8TBRNPgG/lxRqGH7grgTbgROixRMzA7zOs\u002BIZOJAZGGrHm1zpGef4fNRXklvIFuS7syXrfL6CCQiXvoofpl5EUMAUGNKoMmdrqkg\u002Bm7Fgxlz9XYWqLdusBZIUUZsdmNa10wFb8/3R00C\u002Bf9I2Q21XNrgtYgiY2mMkaBNAk\u002BCMThFxiIivxRJe60oFK64JtYJkvRsi8HaN3Tjed4vqkX\u002BgMjGAhPqk53Glznb\u002BU661GvJRG9bFaV2ao6uPkU1GdFnKpPm8SPDHv9WpvSH/z0lKaVzZmbWomojUJiEPFRYkH1odM\u002B71ONHBSVvBW\u002Bw72tQiBWgwrNqkIcpwqGLPuGq/hZ2H4tualXCK2BAZp[...]
[...]
    {
      "RequestUri": "https://kasobolcanadacentral.blob.core.windows.net/test-container-63d3d213-9fb9-e13c-f115-4f6e32178aa5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Mar 2021 17:18:18 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1451226466",
    "Storage_TestConfigDefault": "ProductionTenant\nkasobolcanadacentral\nU2FuaXRpemVk\nhttps://kasobolcanadacentral.blob.core.windows.net\nhttps://kasobolcanadacentral.file.core.windows.net\nhttps://kasobolcanadacentral.queue.core.windows.net\nhttps://kasobolcanadacentral.table.core.windows.net\n\n\n\n\nhttps://kasobolcanadacentral-secondary.blob.core.windows.net\nhttps://kasobolcanadacentral-secondary.file.core.windows.net\nhttps://kasobolcanadacentral-secondary.queue.core.windows.net\nhttps://kasobolcanadacentral-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://kasobolcanadacentral.blob.core.windows.net/;QueueEndpoint=https://kasobolcanadacentral.queue.core.windows.net/;FileEndpoint=https://kasobolcanadacentral.file.core.windows.net/;BlobSecondaryEndpoint=https://kasobolcanadacentral-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://kasobolcanadacentral-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://kasobolcanadacentral-secondary.file.core.windows.net/;AccountName=kasobolcanadacentral;AccountKey=Kg==;\nencryptionScope"
  }
}