{
  "Entries": [
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-605b1bbe-7ab4-e974-2243-434748b59c21?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 05 Mar 2021 16:44:34 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8DFF5F56C1BD8\"",
        "Last-Modified": "Fri, 05 Mar 2021 16:44:35 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-605b1bbe-7ab4-e974-2243-434748b59c21/test-blob-c889539c-f689-93a7-a72b-4eac771798fb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 05 Mar 2021 16:44:35 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "PaUHKwbFQa46Jz87tmxohdTVo0TIvOa2vlQBrIMxEBmEM8rblUNn3sI9pRSj4uB4xwbaT2SwyIG/UG2yxJQrCRcmtoKhjPCQbcSBixbRE9tzieV8VsC11GtJHETWtRouEZz9fSxd1joWSuKfLj1q7T2RPjqvr7JWcOEXWG+rubeqUnl61JWuFrOqZgzeFaUu3y8HRHfff2LqpgxLRn7Ka5Aq9NvD8Bin4iiHBEmmeFs76XlAo3RAytMXjy2IY8803/p7syDJau4WX2JOWHoYRC6xD10Fiscb6ikIrGDqHn9ZUiVOKsQ6cX6KKUMS8XJZ/kv/11NxL1QyYMn2wb6OLEHi9QVUyRlqd57femGECPi3[...]
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-605b1bbe-7ab4-e974-2243-434748b59c21/test-blob-c889539c-f689-93a7-a72b-4eac771798fb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Mar 2021 16:44:35 GMT",
        "x-ms-if-tags": "\"coolTag\" = 'true'",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:173fcf21-801e-0074-0bde-11d2b5000000\n",
        "Time:2021-03-05T16:44:35.3591840Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-605b1bbe-7ab4-e974-2243-434748b59c21?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Mar 2021 16:44:35 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1669782843",
    "Storage_TestConfigDefault": "ProductionTenant\nkasoboltest\nU2FuaXRpemVk\nhttps://kasoboltest.blob.core.windows.net\nhttps://kasoboltest.file.core.windows.net\nhttps://kasoboltest.queue.core.windows.net\nhttps://kasoboltest.table.core.windows.net\n\n\n\n\nhttps://kasoboltest-secondary.blob.core.windows.net\nhttps://kasoboltest-secondary.file.core.windows.net\nhttps://kasoboltest-secondary.queue.core.windows.net\nhttps://kasoboltest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://kasoboltest.blob.core.windows.net/;QueueEndpoint=https://kasoboltest.queue.core.windows.net/;FileEndpoint=https://kasoboltest.file.core.windows.net/;BlobSecondaryEndpoint=https://kasoboltest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://kasoboltest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://kasoboltest-secondary.file.core.windows.net/;AccountName=kasoboltest;AccountKey=Kg==;\nencryptionScope\n\n"
  }
}