{
  "Entries": [
    {
      "RequestUri": "https://kasobolcanadacentral.blob.core.windows.net/test-container-b160800e-ae7a-f4b8-6099-8b8bddf880b7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 05 Mar 2021 20:17:34 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8E013B681236D\u0022",
        "Last-Modified": "Fri, 05 Mar 2021 20:17:34 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasobolcanadacentral.blob.core.windows.net/test-container-b160800e-ae7a-f4b8-6099-8b8bddf880b7/test-blob-68532b47-356e-a278-62b0-a58441b64a93",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 05 Mar 2021 20:17:34 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "TmIhHDIs7nrAldb60oMX3qIaedveB42XkHhZGCbHUb7W1OZ6YNo95ROfuZS5XmKr8o5VXqHNKkfUiYu60tVT\u002BEMXI/2dnH7I3JTIPk343jEWriWYcvMdCKqeptdPgxI9TMBRoTpkDVYQjYIMBev526pZoySwu4VQ\u002BhtT//ameFiCivKNpz32sqDPh\u002BVwEQO\u002BpMos9eDujZA6AacfEA5fahQpinr4bDRtYvCD4DSg3\u002BkYlVoseYJ4lP1hUqaW16KSbxzRR4aIxTeVv5PvaqxcmiG9B3uzM/CRsPZ9lxqO14tO8HEXz5hij88jlrrviSlQBbeE2M8n3zwsP5aQCy4[...]
    {
      "RequestUri": "https://kasobolcanadacentral.blob.core.windows.net/test-container-b160800e-ae7a-f4b8-6099-8b8bddf880b7/test-blob-68532b47-356e-a278-62b0-a58441b64a93",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Mar 2021 20:17:34 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "zBuRKMnufiFnMsKHAPBGyg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8E013B698A748\u0022",
        "Last-Modified": "Fri, 05 Mar 2021 20:17:34 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 05 Mar 2021 20:17:34 GMT",
        "x-ms-last-access-time": "Fri, 05 Mar 2021 20:17:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "TmIhHDIs7nrAldb60oMX3qIaedveB42XkHhZGCbHUb7W1OZ6YNo95ROfuZS5XmKr8o5VXqHNKkfUiYu60tVT\u002BEMXI/2dnH7I3JTIPk343jEWriWYcvMdCKqeptdPgxI9TMBRoTpkDVYQjYIMBev526pZoySwu4VQ\u002BhtT//ameFiCivKNpz32sqDPh\u002BVwEQO\u002BpMos9eDujZA6AacfEA5fahQpinr4bDRtYvCD4DSg3\u002BkYlVoseYJ4lP1hUqaW16KSbxzRR4aIxTeVv5PvaqxcmiG9B3uzM/CRsPZ9lxqO14tO8HEXz5hij88jlrrviSlQBbeE2M8n3zwsP5aQCy4cB\u002BcHoHk7RcuJW3irkJw2oSfMLJJjCf\u002B7JxE0648B0oSgBo/[...]
    {
      "RequestUri": "https://kasobolcanadacentral.blob.core.windows.net/test-container-b160800e-ae7a-f4b8-6099-8b8bddf880b7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Mar 2021 20:17:34 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2139906369",
    "Storage_TestConfigDefault": "ProductionTenant\nkasobolcanadacentral\nU2FuaXRpemVk\nhttps://kasobolcanadacentral.blob.core.windows.net\nhttps://kasobolcanadacentral.file.core.windows.net\nhttps://kasobolcanadacentral.queue.core.windows.net\nhttps://kasobolcanadacentral.table.core.windows.net\n\n\n\n\nhttps://kasobolcanadacentral-secondary.blob.core.windows.net\nhttps://kasobolcanadacentral-secondary.file.core.windows.net\nhttps://kasobolcanadacentral-secondary.queue.core.windows.net\nhttps://kasobolcanadacentral-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://kasobolcanadacentral.blob.core.windows.net/;QueueEndpoint=https://kasobolcanadacentral.queue.core.windows.net/;FileEndpoint=https://kasobolcanadacentral.file.core.windows.net/;BlobSecondaryEndpoint=https://kasobolcanadacentral-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://kasobolcanadacentral-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://kasobolcanadacentral-secondary.file.core.windows.net/;AccountName=kasobolcanadacentral;AccountKey=Kg==;\nencryptionScope"
  }
}