{
  "Entries": [
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-58aca4eb-e8a7-b846-0eaf-e78abd92d63a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 05 Mar 2021 16:39:42 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8DFF547047C21\u0022",
        "Last-Modified": "Fri, 05 Mar 2021 16:39:42 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-58aca4eb-e8a7-b846-0eaf-e78abd92d63a/test-blob-53f3a748-28cc-edd3-be8a-c9f3aa89aa55",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 05 Mar 2021 16:39:42 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "PEbFc/scI22OPgWr2T\u002Banl7\u002BkgAJRtlKVWjd3hwsv8C5\u002BcrXqt3t3JgbACIJrAJyxMKJsP9BC/Vsex2SP0VQYn9F8d91wvSBELZo7kW3QKhmahpaow7BeO3Uai6/W5xTyp6ixLsi/QHNCJ9J2R2vtTp1K9Qq9r9xg3jyoFfFwbUZFCOnFHztRG0YjJpud5/PJbXzSi/IKNTfMUBCMFypCEfqMMT6CKG\u002Bh\u002BZnEWkkAgzZInui0XeFUetOx\u002BM7qxQQb4RTg0fa1RwUNcJIYRdruy40aA7gBzbPZd/YrEG9g9zSVqLk0X7E/kxfjpy0PO/U4wy0BkIGL2hNgx[...]
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-58aca4eb-e8a7-b846-0eaf-e78abd92d63a/test-blob-53f3a748-28cc-edd3-be8a-c9f3aa89aa55",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Mar 2021 16:39:42 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "teDZWoSi2g80Z179qWX5GA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8DFF547145C0B\u0022",
        "Last-Modified": "Fri, 05 Mar 2021 16:39:42 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 05 Mar 2021 16:39:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "PEbFc/scI22OPgWr2T\u002Banl7\u002BkgAJRtlKVWjd3hwsv8C5\u002BcrXqt3t3JgbACIJrAJyxMKJsP9BC/Vsex2SP0VQYn9F8d91wvSBELZo7kW3QKhmahpaow7BeO3Uai6/W5xTyp6ixLsi/QHNCJ9J2R2vtTp1K9Qq9r9xg3jyoFfFwbUZFCOnFHztRG0YjJpud5/PJbXzSi/IKNTfMUBCMFypCEfqMMT6CKG\u002Bh\u002BZnEWkkAgzZInui0XeFUetOx\u002BM7qxQQb4RTg0fa1RwUNcJIYRdruy40aA7gBzbPZd/YrEG9g9zSVqLk0X7E/kxfjpy0PO/U4wy0BkIGL2hNgx5oAinbVrHmdgt0humvb2rBgXiZGyjvA8k1CHyZyyY6lk1gXPwjhDjrzsbk[...]
[...]
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-5fb1eb6a-2bce-769e-7e09-10561213edcb/test-blob-e06ceb74-2375-0464-de68-698a618fd276",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 04 Mar 2021 16:39:42 GMT",
        "x-ms-date": "Fri, 05 Mar 2021 16:39:42 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "TOekOxfezKLfc2C6NcszeA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8DFF54734E202\u0022",
        "Last-Modified": "Fri, 05 Mar 2021 16:39:42 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 05[...]
[...]
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-7ad2e5b6-dc48-87eb-a763-f0cbbcdfde8d/test-blob-1deaf58f-5960-e409-0a1f-ffc3b43d7ed9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sat, 06 Mar 2021 16:39:42 GMT",
        "x-ms-date": "Fri, 05 Mar 2021 16:39:43 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "bWsN/KjEVMjP0uAHg7fIOA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8DFF5474FE8BF\u0022",
        "Last-Modified": "Fri, 05 Mar 2021 16:39:42 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 05[...]
[...]
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-21e56915-dea0-6a92-51da-c0d75c4d25af/test-blob-20712e11-2697-8d27-a4a4-9459fe7ebf65",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Mar 2021 16:39:43 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "nXdTgmMqdPHkLvKel6em\u002Bg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8DFF54764D3F9\u0022",
        "Last-Modified": "Fri, 05 Mar 2021 16:39:43 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 05 Mar 2021 16:39:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-21e56915-dea0-6a92-51da-c0d75c4d25af/test-blob-20712e11-2697-8d27-a4a4-9459fe7ebf65",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8DFF54764D3F9",
        "x-ms-date": "Fri, 05 Mar 2021 16:39:43 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "nXdTgmMqdPHkLvKel6em\u002Bg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8DFF54764D3F9\u0022",
        "Last-Modified": "Fri, 05 Mar 2021 16:39:43 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 05 Mar 20[...]
[...]
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-d8175459-bc5b-0a64-5def-d813cdb140a5/test-blob-492d2ee7-7523-c5cc-be4c-5947b0b42fc9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Fri, 05 Mar 2021 16:39:43 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "TrZd/lHvOBWKSlN6fKjxnQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8DFF5477FB3B3\u0022",
        "Last-Modified": "Fri, 05 Mar 2021 16:39:43 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 05 Mar 2021 [...]
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-d8175459-bc5b-0a64-5def-d813cdb140a5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Mar 2021 16:39:43 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-03-05T08:39:42.5594500-08:00",
    "RandomSeed": "1160106535",
    "Storage_TestConfigDefault": "ProductionTenant\nkasoboltest\nU2FuaXRpemVk\nhttps://kasoboltest.blob.core.windows.net\nhttps://kasoboltest.file.core.windows.net\nhttps://kasoboltest.queue.core.windows.net\nhttps://kasoboltest.table.core.windows.net\n\n\n\n\nhttps://kasoboltest-secondary.blob.core.windows.net\nhttps://kasoboltest-secondary.file.core.windows.net\nhttps://kasoboltest-secondary.queue.core.windows.net\nhttps://kasoboltest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://kasoboltest.blob.core.windows.net/;QueueEndpoint=https://kasoboltest.queue.core.windows.net/;FileEndpoint=https://kasoboltest.file.core.windows.net/;BlobSecondaryEndpoint=https://kasoboltest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://kasoboltest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://kasoboltest-secondary.file.core.windows.net/;AccountName=kasoboltest;AccountKey=Kg==;\nencryptionScope"
  }
}