{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-d785b171-74e8-67fa-991d-f1ab17095e20?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 20:55:56 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14799BC533D\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:55:56 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-d785b171-74e8-67fa-991d-f1ab17095e20/test-blob-375b20f9-7a75-7363-7e3d-cd9206badec6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 20:55:56 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "wN885dQJeYspe4ECCvViGhfEFkD4JwWYe6Y3fF4dcO0bd0UlQiBYi12FDZ4olZGNdmtT1VGK\u002BpjZo2ou0fwtCwuU5pOwPdf3bIrjchpmb\u002BUUqgXyypubkX2sS5\u002B1KrlgWAGTlK7\u002B3TmUW2jGpod\u002BcjSEGSf2OkFw\u002BFUVA/E4QULRghoZ09o3FszMXm4y1Or2LtlqMBCRah2/IpxY6NlHWxom9SRsZJ5ZTQNaKtvSPiNrHtUYzRAxPxj8WbE93i3zhAJUC9/Gisk6EOMNNkBC7OR57coDL40J9LYLbwrtHG7WZ6XYfjJDpJQL3bwtJAjYumzMxPBj71R1Sx[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-d785b171-74e8-67fa-991d-f1ab17095e20/test-blob-375b20f9-7a75-7363-7e3d-cd9206badec6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 05 Mar 2020 20:55:56 GMT",
        "x-ms-date": "Thu, 05 Mar 2020 20:55:56 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-d785b171-74e8-67fa-991d-f1ab17095e20?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 20:55:56 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-03-05T12:55:56.5229835-08:00",
    "RandomSeed": "1608253729",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}