{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-49ef4683-6883-5531-a14e-2e799e4ac007?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:54 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1C42D686C\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:52:54 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-49ef4683-6883-5531-a14e-2e799e4ac007/test-blob-5801c80d-e326-2331-1270-7fc0c36fe10c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:54 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "rFCbTPNDZPI0XdW\u002buPMtiEzPOR8zX5jHnnDvJ6m/019aGM1Nr3QUnTSvGfzn6cVmLjYmsgjU4Uy41K6CVD1JdIp1ZJ8m39jYu5vqhEac37WrifhymCBWhjeAldvFkUj3ZaRycYQmP09dTvds6l0FHPT518tF1txpH95opkr9EipT8h6iKW4whEmpFUop6ZvZennnzLl9so/HCVGmvZkEYDzNGfc/YvKFyFKBnMGSQDVCjyvQFUVw1UCP2yAcicewpLQNXM\u002bkmhiGYgRm\u002bxbNNckcZC5uM0r2XES2r4fSaD6L0fcMhONmnvQSSrNBCdkqwaVXACWZQXBqFv\u002bL7eqQtPnF[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-49ef4683-6883-5531-a14e-2e799e4ac007/test-blob-5801c80d-e326-2331-1270-7fc0c36fe10c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:54 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D706F1C42FCFBF\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:52:54 GMT",
        "x-ms-blob-content-md5": "P2T7xWp6sXlgbXSupvphLA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 12 Jul 2019 17:52:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "rFCbTPNDZPI0XdW\u002buPMtiEzPOR8zX5jHnnDvJ6m/019aGM1Nr3QUnTSvGfzn6cVmLjYmsgjU4Uy41K6CVD1JdIp1ZJ8m39jYu5vqhEac37WrifhymCBWhjeAldvFkUj3ZaRycYQmP09dTvds6l0FHPT518tF1txpH95opkr9EipT8h6iKW4whEmpFUop6ZvZennnzLl9so/HCVGmvZkEYDzNGfc/YvKFyFKBnMGSQDVCjyvQFUVw1UCP2yAcicewpLQNXM\u002bkmhiGYgRm\u002bxbNNckcZC5uM0r2XES2r4fSaD6L0fcMhONmnvQSSrNBCdkqwaVXACWZQXBqFv\u002bL7eqQtPnF2yoewbHltsU5W\u002bmWtVNqjO7ie2gZ8Y\u002bGoW3k2rAJgpW6fC2vCwD[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-49ef4683-6883-5531-a14e-2e799e4ac007?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:54 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1581692292",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}