{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-be1a5cf7-cd8e-8534-7806-bff914b71b50?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Jan 2023 00:32:46 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAF36B5C986A94\u0022",
        "Last-Modified": "Wed, 11 Jan 2023 00:32:46 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-be1a5cf7-cd8e-8534-7806-bff914b71b50/test-blob-f7628566-1ae2-f11b-d421-00a783f60698",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 11 Jan 2023 00:32:46 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "xiLlm6HPro8b6gE82YoVu/2qUaot7HOiHFziIO2H5hHeTuJM1mx02Lv6E/IAYzMLTr67oFnJeNmuQ35E7I2hlATwXYunyOWQNXjvM9mBobgo1tIuy0W4FNUJnZPuL\u002BsuWX/tEAaoY4XZKmrg2kUALaHGGxa6csi\u002BN0i1nipSogWMwdpak5GygHJNVaDb1zqQCHDxJxPVc\u002Ba2L9m988VahodkVBhqpZkQE5ujbBwo418OJJW5YXvxt03zpGS39I2t884YdoMhJWPX4BN4MQbJjUx5r84voCUMc5zKdgE0WB4O9XlOD2zc7P8y4oBneYVHKhYYPkW/flKpCwPmV69hooj0ajuMe[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-be1a5cf7-cd8e-8534-7806-bff914b71b50/test-blob-f7628566-1ae2-f11b-d421-00a783f60698",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 11 Jan 2023 00:32:46 GMT",
        "x-ms-date": "Wed, 11 Jan 2023 00:32:46 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-be1a5cf7-cd8e-8534-7806-bff914b71b50?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Jan 2023 00:32:46 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-01-10T16:32:46.4758280-08:00",
    "RandomSeed": "297862335",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
