{
  "Entries": [
    {
      "RequestUri": "http://kasoboltest.blob.core.windows.net/test-container-4bff8320-0b4c-ea6d-2086-17cf04b998ab?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 04 May 2020 22:57:57 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7F07E96186EBD\u0022",
        "Last-Modified": "Mon, 04 May 2020 22:57:57 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasoboltest.blob.core.windows.net/test-container-4bff8320-0b4c-ea6d-2086-17cf04b998ab/test-blob-1d14f60c-879b-a60d-629a-b04a065539d8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 04 May 2020 22:57:57 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "8V2qeaCbyjG5tJz7F3y6iEBNb0P005TXy8aStQzgBhCKsP/S7cwpxfaTDGO\u002BeGRzJlmp9y6DTh7J0q7aCBUl2a2McWd96Jp0I6lMYcYwGFJhHo6yNg/hBmHgCRsdT7zhbjK2Mgf99j6/NdSEN\u002B1YmLlbeOmHcqOeqmoGnN9\u002BVtTta/KTeuZLZChP8wA7XM9ziHBiwtbTWfyPGIec9lpfQN//l8v6xB3SDxTBN36iYk2bkhRuHJP\u002BGhH2A2Jer23O77MhO8UDecRSj7PBESF97bU6AWNF8SRLAH25A8C7dGCm8kjLgCeIlxlQG4zgPAjweBatJK0JiP6O1jpHSXUDlxtS[...]
    {
      "RequestUri": "http://kasoboltest.blob.core.windows.net/test-container-4bff8320-0b4c-ea6d-2086-17cf04b998ab/test-blob-1d14f60c-879b-a60d-629a-b04a065539d8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 04 May 2020 22:57:57 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "XZNLsGa4WqVYOu7SkL404w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7F07E961E18E1\u0022",
        "Last-Modified": "Mon, 04 May 2020 22:57:57 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 04 May 2020 22:57:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": "8V2qeaCbyjG5tJz7F3y6iEBNb0P005TXy8aStQzgBhCKsP/S7cwpxfaTDGO\u002BeGRzJlmp9y6DTh7J0q7aCBUl2a2McWd96Jp0I6lMYcYwGFJhHo6yNg/hBmHgCRsdT7zhbjK2Mgf99j6/NdSEN\u002B1YmLlbeOmHcqOeqmoGnN9\u002BVtTta/KTeuZLZChP8wA7XM9ziHBiwtbTWfyPGIec9lpfQN//l8v6xB3SDxTBN36iYk2bkhRuHJP\u002BGhH2A2Jer23O77MhO8UDecRSj7PBESF97bU6AWNF8SRLAH25A8C7dGCm8kjLgCeIlxlQG4zgPAjweBatJK0JiP6O1jpHSXUDlxtSGh7ZsmyOsWlK9dWXasR1yYqpDk\u002BynGpJPKrsQU2jTIRxjSHpFsaqH[...]
    {
      "RequestUri": "http://kasoboltest.blob.core.windows.net/test-container-4bff8320-0b4c-ea6d-2086-17cf04b998ab?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 04 May 2020 22:57:57 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "197679419",
    "Storage_TestConfigDefault": "ProductionTenant\nkasoboltest\nU2FuaXRpemVk\nhttp://kasoboltest.blob.core.windows.net\nhttp://kasoboltest.file.core.windows.net\nhttp://kasoboltest.queue.core.windows.net\nhttp://kasoboltest.table.core.windows.net\n\n\n\n\nhttp://kasoboltest-secondary.blob.core.windows.net\nhttp://kasoboltest-secondary.file.core.windows.net\nhttp://kasoboltest-secondary.queue.core.windows.net\nhttp://kasoboltest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://kasoboltest.blob.core.windows.net/;QueueEndpoint=http://kasoboltest.queue.core.windows.net/;FileEndpoint=http://kasoboltest.file.core.windows.net/;BlobSecondaryEndpoint=http://kasoboltest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://kasoboltest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://kasoboltest-secondary.file.core.windows.net/;AccountName=kasoboltest;AccountKey=Sanitized\nencryptionScope"
  }
}