{
  "Entries": [
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-3ad74405-6e19-83cc-59a3-bbc909e7fbc8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 05 Mar 2021 16:22:01 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8DFF2CE903215\u0022",
        "Last-Modified": "Fri, 05 Mar 2021 16:22:01 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-3ad74405-6e19-83cc-59a3-bbc909e7fbc8/test-blob-e25b7f2f-04f4-b69a-2d06-80a2ec1ebf9a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 05 Mar 2021 16:22:01 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "TQARblK0VPBZK\u002BQVvzKmNTcLMqtxStSlZZQc9fZXrSFUdkvdEv1d4gmFVsdIq8kSmOhc8gECxgIrbAm9l175An3CwEnmySI6rlCh6/MMXLnKCl0O\u002BrsgUa9Isab0n0qrjFRKheuAK87FIkSxYdsOHw9P840A6gfCom6ZnRd8RQ8G9l\u002BfwtbOSd6OSNh3b/DUOpKWpKu8qqFMh\u002BN85o22Sdw1q2p8b104gamvcqIvSzJ\u002BxWOF5qFjSUu9UzrzUmNQ1//7QsSGV8o1XiICDDj/HDyx/SEqMWI70WEfvhsiRS9GX5qjMwhu\u002BG2ZUIh\u002BYDwTvjb9QVRBJ[...]
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-3ad74405-6e19-83cc-59a3-bbc909e7fbc8/test-blob-e25b7f2f-04f4-b69a-2d06-80a2ec1ebf9a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Mar 2021 16:22:01 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "QvbvXEcMI/aGX1ikEyxI1A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8DFF2CEBF8E49\u0022",
        "Last-Modified": "Fri, 05 Mar 2021 16:22:01 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 05 Mar 2021 16:22:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "TQARblK0VPBZK\u002BQVvzKmNTcLMqtxStSlZZQc9fZXrSFUdkvdEv1d4gmFVsdIq8kSmOhc8gECxgIrbAm9l175An3CwEnmySI6rlCh6/MMXLnKCl0O\u002BrsgUa9Isab0n0qrjFRKheuAK87FIkSxYdsOHw9P840A6gfCom6ZnRd8RQ8G9l\u002BfwtbOSd6OSNh3b/DUOpKWpKu8qqFMh\u002BN85o22Sdw1q2p8b104gamvcqIvSzJ\u002BxWOF5qFjSUu9UzrzUmNQ1//7QsSGV8o1XiICDDj/HDyx/SEqMWI70WEfvhsiRS9GX5qjMwhu\u002BG2ZUIh\u002BYDwTvjb9QVRBJqacwHBjZpmuEhjzu62eXOkzQwWzkeDavXAkDADlJQPbBDnzBnOYCpHU6j5[...]
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-3ad74405-6e19-83cc-59a3-bbc909e7fbc8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Mar 2021 16:22:01 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "530250914",
    "Storage_TestConfigDefault": "ProductionTenant\nkasoboltest\nU2FuaXRpemVk\nhttps://kasoboltest.blob.core.windows.net\nhttps://kasoboltest.file.core.windows.net\nhttps://kasoboltest.queue.core.windows.net\nhttps://kasoboltest.table.core.windows.net\n\n\n\n\nhttps://kasoboltest-secondary.blob.core.windows.net\nhttps://kasoboltest-secondary.file.core.windows.net\nhttps://kasoboltest-secondary.queue.core.windows.net\nhttps://kasoboltest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://kasoboltest.blob.core.windows.net/;QueueEndpoint=https://kasoboltest.queue.core.windows.net/;FileEndpoint=https://kasoboltest.file.core.windows.net/;BlobSecondaryEndpoint=https://kasoboltest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://kasoboltest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://kasoboltest-secondary.file.core.windows.net/;AccountName=kasoboltest;AccountKey=Kg==;\nencryptionScope"
  }
}