{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-8478ec18-2c80-6603-99f7-8d458f91a0c0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 20:55:43 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C1479209B22F\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:55:43 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-8478ec18-2c80-6603-99f7-8d458f91a0c0/test-blob-e64aed1f-950c-4e70-0948-882309d4019b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 20:55:43 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "t05i3rE9iAKDy6kfi0\u002BRwi22mbTk4TVlb3VQssxGIZnQwPyFdOwmblKqO78KM/SX24fz1afc\u002B9YZ/G477dU1PaoQTstTC05BkCthOqV1WjyBuNZEU0vy9MQlbHd96oB9dP4U\u002BuQoRNA5skV7esEwo6EyujT/8eleHloHLZ/Ww6Wr5ManYGBXWHQGCqAGd3oD9cjVSy9MfoIUttuKIRYxY\u002B6f0JX7iUJB2mHA\u002BOdJWKfgBDjWAHh1X2ZDkqqEzTZd1KaxZ6fkCGuGlHHNi4Wby140qh3dW2J2KXEvt/aXvAwrYiRAl/AA\u002B/vMT2wHqNPhqMdMTyMYf3lEOz[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-8478ec18-2c80-6603-99f7-8d458f91a0c0/test-blob-e64aed1f-950c-4e70-0948-882309d4019b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 20:55:43 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C14792164ABD\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:55:43 GMT",
        "x-ms-blob-content-md5": "xKQUcjprapkG8lL8lyIQlA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 05 Mar 2020 20:55:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": "t05i3rE9iAKDy6kfi0\u002BRwi22mbTk4TVlb3VQssxGIZnQwPyFdOwmblKqO78KM/SX24fz1afc\u002B9YZ/G477dU1PaoQTstTC05BkCthOqV1WjyBuNZEU0vy9MQlbHd96oB9dP4U\u002BuQoRNA5skV7esEwo6EyujT/8eleHloHLZ/Ww6Wr5ManYGBXWHQGCqAGd3oD9cjVSy9MfoIUttuKIRYxY\u002B6f0JX7iUJB2mHA\u002BOdJWKfgBDjWAHh1X2ZDkqqEzTZd1KaxZ6fkCGuGlHHNi4Wby140qh3dW2J2KXEvt/aXvAwrYiRAl/AA\u002B/vMT2wHqNPhqMdMTyMYf3lEOz01tVB17tdkoilhWjNtNK4hEQv2b4GdTQ4uSm3pEuKq/FyyykarVmGVogWp[...]
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-10f44c3d-8d0a-2a11-8dd4-3541119e3070/test-blob-501e61d1-c739-cd2d-710d-3242f987bedf",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 04 Mar 2020 20:55:43 GMT",
        "x-ms-date": "Thu, 05 Mar 2020 20:55:44 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C1479291E5BF\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:55:44 GMT",
        "x-ms-blob-content-md5": "injN4VZsp1pzZS[...]
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-5e586aa6-126a-b5ed-c24c-4349401738c5/test-blob-2b46eac9-aa06-fd0f-0aaf-3f8836475aef",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 06 Mar 2020 20:55:43 GMT",
        "x-ms-date": "Thu, 05 Mar 2020 20:55:44 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C14792E867C0\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:55:44 GMT",
        "x-ms-blob-content-md5": "/IV9enF87ixMXM[...]
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-2bbb9cd1-6c88-6c98-2a8c-828b8b0bf0f1/test-blob-1d4760e5-2571-4b2f-120f-0d75c06a4e10",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 20:55:45 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "9Vmbw2RneQGcJUNI7nH5LA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C147933AA8CD\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:55:45 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 05 Mar 2020 20:55:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-2bbb9cd1-6c88-6c98-2a8c-828b8b0bf0f1/test-blob-1d4760e5-2571-4b2f-120f-0d75c06a4e10",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D7C147933AA8CD\u0022",
        "x-ms-date": "Thu, 05 Mar 2020 20:55:45 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C147933AA8CD\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:55:45 GMT",
        "x-ms-blob-content-md5": "9Vmbw2RneQGcJU[...]
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-3be06b61-0fab-8d6b-5845-835923a6c85a/test-blob-0b591659-1641-8ba1-c84a-37cdb96ec351",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Thu, 05 Mar 2020 20:55:46 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C147939D5FC5\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:55:45 GMT",
        "x-ms-blob-content-md5": "29fqEDYaKbHqw8T9cIMDUQ==[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-3be06b61-0fab-8d6b-5845-835923a6c85a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 20:55:46 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-03-05T12:55:43.1620147-08:00",
    "RandomSeed": "1243105709",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}