{
  "Entries": [
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-d342e3f1-f5e3-da74-6dd2-8cc927a8c87a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 05 Mar 2021 16:33:05 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8DFF45ACAADFE\u0022",
        "Last-Modified": "Fri, 05 Mar 2021 16:33:06 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-d342e3f1-f5e3-da74-6dd2-8cc927a8c87a/test-blob-99490707-b36b-a290-8d35-b12620b56a85",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 05 Mar 2021 16:33:06 GMT",
        "x-ms-encryption-scope": "encryptionScope",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "GRSAXXWZv6RG80xUmg4jfm1HNgYeZgLXZ23lDiDQ6N2ce02ibgbP\u002BGHlG4N2FBqAbK5fH3LswLMRqPUItLGDdgpvtx7AgQ9ndz6kOEp/YFNSZKFxcclqsLuZkcYQxkOwYaV4B1z7v\u002Buf96c0SIhokkehtlAPEgVABAZjJvBIVrD789akBln3VqW20XkiNmgyMf5\u002BbhDzoU\u002BgNwJWmJj7VqH2OVSxxIzuql\u002BrWECLHs6dMfXxyuegB1GHBM5Wob4Mu3rXLP0TgGxykMSxSEkOFBk0uGeiCYy6VjEDKsC\u002Blwmgnp3GtPLQibCJfjkj778Iee\u002B0IuhXabHuHdXMEFastPm6EKmrSGAmYy62GYpTl2dx\u002B7HQCXQg[...]
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-d342e3f1-f5e3-da74-6dd2-8cc927a8c87a/test-blob-99490707-b36b-a290-8d35-b12620b56a85",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Mar 2021 16:33:06 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ZnMJruzC4AtGcGWfcYMjZw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8DFF45AF7EC3E\u0022",
        "Last-Modified": "Fri, 05 Mar 2021 16:33:06 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 05 Mar 2021 16:33:06 GMT",
        "x-ms-encryption-scope": "encryptionScope",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "GRSAXXWZv6RG80xUmg4jfm1HNgYeZgLXZ23lDiDQ6N2ce02ibgbP\u002BGHlG4N2FBqAbK5fH3LswLMRqPUItLGDdgpvtx7AgQ9ndz6kOEp/YFNSZKFxcclqsLuZkcYQxkOwYaV4B1z7v\u002Buf96c0SIhokkehtlAPEgVABAZjJvBIVrD789akBln3VqW20XkiNmgyMf5\u002BbhDzoU\u002BgNwJWmJj7VqH2OVSxxIzuql\u002BrWECLHs6dMfXxyuegB1GHBM5Wob4Mu3rXLP0TgGxykMSxSEkOFBk0uGeiCYy6VjEDKsC\u002Blwmgnp3GtPLQibCJfjkj778Iee\u002B0IuhXabHuHdXMEFastPm6EKmrSGAmYy62GYpTl2dx\u002B7HQCXQgSTTr15YcBH[...]
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-d342e3f1-f5e3-da74-6dd2-8cc927a8c87a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Mar 2021 16:33:06 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "293118311",
    "Storage_TestConfigDefault": "ProductionTenant\nkasoboltest\nU2FuaXRpemVk\nhttps://kasoboltest.blob.core.windows.net\nhttps://kasoboltest.file.core.windows.net\nhttps://kasoboltest.queue.core.windows.net\nhttps://kasoboltest.table.core.windows.net\n\n\n\n\nhttps://kasoboltest-secondary.blob.core.windows.net\nhttps://kasoboltest-secondary.file.core.windows.net\nhttps://kasoboltest-secondary.queue.core.windows.net\nhttps://kasoboltest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://kasoboltest.blob.core.windows.net/;QueueEndpoint=https://kasoboltest.queue.core.windows.net/;FileEndpoint=https://kasoboltest.file.core.windows.net/;BlobSecondaryEndpoint=https://kasoboltest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://kasoboltest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://kasoboltest-secondary.file.core.windows.net/;AccountName=kasoboltest;AccountKey=Kg==;\nencryptionScope"
  }
}