{
  "Entries": [
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-8cd1e2a1-6d10-31eb-a42b-1fa963e1a050?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 05 Mar 2021 16:41:45 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8DFF5903AC27E\u0022",
        "Last-Modified": "Fri, 05 Mar 2021 16:41:45 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-8cd1e2a1-6d10-31eb-a42b-1fa963e1a050/test-blob-fe2bd5fb-7a7e-80e2-877d-18fed7466350",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 05 Mar 2021 16:41:45 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "dIrDr9v9U7gVPyddm95uFphcPunvzc7jql71lw0QKLzbh5g4yuPnbCU5vEKgkyt4ZcQjDWntW6a83wV8CLyrBRdqghRGNUu1ddLDthCLQxczfTFI7BpT7SvxfOveamRpjbcrNhAXMTB5bpiWKaSVMJzuSYuKYhj8FpXoVblg1wpuWilZYAwGHEsBz32CvMOGW0tP7yHY3iqeLh97Ltx2GJeNKM97PNCP5y0/iJOaelrRYvltEefplXv\u002BujHti\u002B1virbm9JT0Cx96vwjzmFWXA7TFqcziCAewpJNUfYGeolw/0P7dtIXF3Vba8lHe9fwlZ7Z9J\u002BEhjYGuNVABoI6d3B2stMhXu[...]
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-8cd1e2a1-6d10-31eb-a42b-1fa963e1a050/test-blob-fe2bd5fb-7a7e-80e2-877d-18fed7466350",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Sat, 06 Mar 2021 16:41:45 GMT",
        "x-ms-date": "Fri, 05 Mar 2021 16:41:45 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-b77257eb-7899-7ace-6eca-f68c321542a8/test-blob-c7bed5b7-2c97-56f5-8e2d-9377d3b13bea",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 04 Mar 2021 16:41:45 GMT",
        "x-ms-date": "Fri, 05 Mar 2021 16:41:45 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:af74aac5-b01e-005e-5bde-11a7f0000000\n",
        "Time:2021-03-05T16:41:45.5128489Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-14beb9de-4c8d-170e-2f19-3ca63c3a8882/test-blob-70a4ffa2-7c8a-d47e-0827-4d1e02e3730e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-date": "Fri, 05 Mar 2021 16:41:45 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:af74ab2d-b01e-005e-36de-11a7f0000000\n",
        "Time:2021-03-05T16:41:45.6589521Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-2cd83bde-daca-093f-2f51-43b4ab29262d/test-blob-e45f38dc-3a03-2e16-bd8b-6f4b390b6fd4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Mar 2021 16:41:45 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "\u002BoUNpdzvLfuW7SKnte/1Cw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8DFF59086F157\u0022",
        "Last-Modified": "Fri, 05 Mar 2021 16:41:45 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 05 Mar 2021 16:41:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-2cd83bde-daca-093f-2f51-43b4ab29262d/test-blob-e45f38dc-3a03-2e16-bd8b-6f4b390b6fd4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "0x8D8DFF59086F157",
        "x-ms-date": "Fri, 05 Mar 2021 16:41:45 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-50614098-5577-6b65-a5b4-a893d8399543/test-blob-65402f52-e892-ac3e-72cf-5f73a4fb9bf1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Mar 2021 16:41:46 GMT",
        "x-ms-lease-id": "7f064235-89e7-3a51-2c14-db6f4b0149bf",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseNotPresentWithBlobOperation\u003C/Code\u003E\u003CMessage\u003EThere is currently no lease on the blob.\n",
        "RequestId:af74abf6-b01e-005e-72de-11a7f0000000\n",
        "Time:2021-03-05T16:41:45.9591666Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-50614098-5577-6b65-a5b4-a893d8399543?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Mar 2021 16:41:46 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-03-05T08:41:45.3858208-08:00",
    "RandomSeed": "2140413971",
    "Storage_TestConfigDefault": "ProductionTenant\nkasoboltest\nU2FuaXRpemVk\nhttps://kasoboltest.blob.core.windows.net\nhttps://kasoboltest.file.core.windows.net\nhttps://kasoboltest.queue.core.windows.net\nhttps://kasoboltest.table.core.windows.net\n\n\n\n\nhttps://kasoboltest-secondary.blob.core.windows.net\nhttps://kasoboltest-secondary.file.core.windows.net\nhttps://kasoboltest-secondary.queue.core.windows.net\nhttps://kasoboltest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://kasoboltest.blob.core.windows.net/;QueueEndpoint=https://kasoboltest.queue.core.windows.net/;FileEndpoint=https://kasoboltest.file.core.windows.net/;BlobSecondaryEndpoint=https://kasoboltest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://kasoboltest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://kasoboltest-secondary.file.core.windows.net/;AccountName=kasoboltest;AccountKey=Kg==;\nencryptionScope"
  }
}