{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-e1d19acf-1e1e-94b2-c2b9-fb30a0acdb3c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 04 Apr 2020 01:34:38 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D83856D4E523\u0022",
        "Last-Modified": "Sat, 04 Apr 2020 01:34:38 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-e1d19acf-1e1e-94b2-c2b9-fb30a0acdb3c/test-blob-b4f6c66a-a4e5-590d-76ba-000bf06e3397",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 04 Apr 2020 01:34:38 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "AreG9VPVFaeEYtBkT/sNEskL6WxsDiljyDtAC5p7Tl9EnbTPKfqccR2YR69\u002BmV0E13vPFMcIxfOOIywYlAoNCRRxILJHPunObnhO08d65C/eOzMerDmXPNjBQQbNhNwTiz6bDXiqvZmRAaZPufErEz79OlnX7l3a2uPahf3jAOmcO0iJ3te2M36ajaqTSILmlS3H0EqCO5zhwTOUzzebrQC8sn6pojVmRwbaPWGyRpFh9PDQGzCfGQCrpx2kIWNH/t\u002Bq1pYDPfL3YIlEqP47L3qhM9tGy5LPHZh\u002B/foXwiWikz6BB3D7Xbb92LqnW3EBb3ijA\u002B6IADNN2rn9hT/44J5j[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-e1d19acf-1e1e-94b2-c2b9-fb30a0acdb3c/test-blob-b4f6c66a-a4e5-590d-76ba-000bf06e3397",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 04 Apr 2020 01:34:38 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "CZB1VYmllhUlUty0zN6n6g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D83856E323EA\u0022",
        "Last-Modified": "Sat, 04 Apr 2020 01:34:38 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 04 Apr 2020 01:34:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "AreG9VPVFaeEYtBkT/sNEskL6WxsDiljyDtAC5p7Tl9EnbTPKfqccR2YR69\u002BmV0E13vPFMcIxfOOIywYlAoNCRRxILJHPunObnhO08d65C/eOzMerDmXPNjBQQbNhNwTiz6bDXiqvZmRAaZPufErEz79OlnX7l3a2uPahf3jAOmcO0iJ3te2M36ajaqTSILmlS3H0EqCO5zhwTOUzzebrQC8sn6pojVmRwbaPWGyRpFh9PDQGzCfGQCrpx2kIWNH/t\u002Bq1pYDPfL3YIlEqP47L3qhM9tGy5LPHZh\u002B/foXwiWikz6BB3D7Xbb92LqnW3EBb3ijA\u002B6IADNN2rn9hT/44J5joRS/uicJpdUlSfLXKMEnfI2BdL83GpMKNC23/th2BfgcQ7lcQbVRmV4ZYr[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-e1d19acf-1e1e-94b2-c2b9-fb30a0acdb3c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 04 Apr 2020 01:34:38 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "660193583",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}