{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-32d27010-354c-0bc8-2807-faa9bd0b1c1f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 21:04:40 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C148D20A50B7\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:04:40 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-32d27010-354c-0bc8-2807-faa9bd0b1c1f/test-blob-0b09efd3-dbde-9056-c06a-af0f5554b453",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 21:04:40 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "hY8\u002B9QcWaSj8UMbYp1u7\u002BANj72OCRxsa/DxfiuAgLEn0kOfA8g6OovBg2LPZPhh3Hw5Q8DIcez5zI/nLtt9H3CR85BZ0\u002Bgb01E1yIW5oQL0j6GvSzzsX1xWoTc4Vw\u002BsRGfuOXVoBAiQHXBzlqVnPCuM8qM50dA3oZQwBy6043xFhYQhy2eNjIeVGy3IfMS672ELr2RsdnKTupvhNADZ2znwKg0hRXTD/2YboLamayDPeRvJqTQb1RMRkhDPrFSCu0Pz1FK7lansR6wCUNG/6U97Fb7pEC4F2FT\u002BD7Nj9E8NlOV2tpLOE\u002BNt3WGEGYA9VaTBVJqZmasR6f/[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-32d27010-354c-0bc8-2807-faa9bd0b1c1f/test-blob-0b09efd3-dbde-9056-c06a-af0f5554b453",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:04:40 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C148D2185B57\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:04:40 GMT",
        "x-ms-blob-content-md5": "OmRaBhULMhdGcdPgYfPVZw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 05 Mar 2020 21:04:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": "hY8\u002B9QcWaSj8UMbYp1u7\u002BANj72OCRxsa/DxfiuAgLEn0kOfA8g6OovBg2LPZPhh3Hw5Q8DIcez5zI/nLtt9H3CR85BZ0\u002Bgb01E1yIW5oQL0j6GvSzzsX1xWoTc4Vw\u002BsRGfuOXVoBAiQHXBzlqVnPCuM8qM50dA3oZQwBy6043xFhYQhy2eNjIeVGy3IfMS672ELr2RsdnKTupvhNADZ2znwKg0hRXTD/2YboLamayDPeRvJqTQb1RMRkhDPrFSCu0Pz1FK7lansR6wCUNG/6U97Fb7pEC4F2FT\u002BD7Nj9E8NlOV2tpLOE\u002BNt3WGEGYA9VaTBVJqZmasR6f/9uYn2jFNg8LvsRTa4qQHbezbIgcLQwLYOnqOwd/86YMiWzFpZd00SIyTET[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-32d27010-354c-0bc8-2807-faa9bd0b1c1f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:04:40 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1549410906",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}