{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-9adc9788-d723-2624-cb5f-e450e5f4d93d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 25 Oct 2019 19:03:54 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7597E14F7DCC4\u0022",
        "Last-Modified": "Fri, 25 Oct 2019 19:03:54 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-9adc9788-d723-2624-cb5f-e450e5f4d93d/test-blob-57e75a91-e38b-d116-0b81-47a26bb5133f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 25 Oct 2019 19:03:54 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "94v3KLFWREg5p1qIbUpRmzUCmCeirv3hryQPT27Uh\u002B0iNFPeqCadkL08dTYVfPQUrI5TvW\u002BJWkmOFnmMR/XaZR9tZTj3c/MOZAdpZTnGyzIw\u002BqLfgMp9mdkKT5KtEUnIYQ8XqBa7HTmbRVhoIPQPyEpGXExS\u002B\u002BVV8Mxf7SNhYVO9oAQpryMcdN1pQzpxFXnl\u002BodHZ7T8dWYqwbhKXC8VOeMFqn/w5RkmKudv6beq5NpSefKcGvqewCqd/\u002B1r0RitVApXa2r59BRuIDzNjIyugNzd\u002BOI8eB/pZulUUuYru1jPwpWtU3lvWIXeLvm90TOe738R[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-9adc9788-d723-2624-cb5f-e450e5f4d93d/test-blob-57e75a91-e38b-d116-0b81-47a26bb5133f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 25 Oct 2019 19:03:54 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7597E14FA3890\u0022",
        "Last-Modified": "Fri, 25 Oct 2019 19:03:54 GMT",
        "x-ms-blob-content-md5": "MIAgNeE8C6fufDWG4g\u002B2Hg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 25 Oct 2019 19:03:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": "94v3KLFWREg5p1qIbUpRmzUCmCeirv3hryQPT27Uh\u002B0iNFPeqCadkL08dTYVfPQUrI5TvW\u002BJWkmOFnmMR/XaZR9tZTj3c/MOZAdpZTnGyzIw\u002BqLfgMp9mdkKT5KtEUnIYQ8XqBa7HTmbRVhoIPQPyEpGXExS\u002B\u002BVV8Mxf7SNhYVO9oAQpryMcdN1pQzpxFXnl\u002BodHZ7T8dWYqwbhKXC8VOeMFqn/w5RkmKudv6beq5NpSefKcGvqewCqd/\u002B1r0RitVApXa2r59BRuIDzNjIyugNzd\u002BOI8eB/pZulUUuYru1jPwpWtU3lvWIXeLvm90TOe738Rjdk1cNvqbQSBpaEuQmXj/cr2AS1jbZ9dXkkmK5S1tWNnGS1/mVG5wuV07r[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-9adc9788-d723-2624-cb5f-e450e5f4d93d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 25 Oct 2019 19:03:54 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "170571317",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}