{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-b516acce-9747-b45e-36a7-2b72bab44fba?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 25 Oct 2019 19:03:54 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7597E150462F6\u0022",
        "Last-Modified": "Fri, 25 Oct 2019 19:03:54 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-b516acce-9747-b45e-36a7-2b72bab44fba/test-blob-a3ed8065-2b2d-4aac-eac1-da5de9853763",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 25 Oct 2019 19:03:54 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "iBgG1Otu\u002BXAjsWlW8fd7iMEkBS5ijaFD2nOzuqeduZGo9pnSWIqervxMB08\u002BxIK\u002BE8odjN/eKvt2w/l4uj/JhvfYrvpdqS83hVYxFYZSBRbw9abcfy2xysyeXJWQJvS9g4FXZRaIYGqb5gaIrBV1JL3iiMWY7AfKJuMuv0yZpl9idJEE\u002Bp8AaJQ7QZgmKB62KDfYrp0uJJZ5jT8yWaEdAT\u002BnJjeDcCoe4iAwXKtupP7FeJcVwfjBNE/6imxgzg7zHkBZfwLmMrcNuct9/cfrC\u002BlBbeEJCD9H5fHniOW9vRQRPT5rFSX73kXfBwcsRDaID3\u002BDH2At6[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-b516acce-9747-b45e-36a7-2b72bab44fba/test-blob-a3ed8065-2b2d-4aac-eac1-da5de9853763",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 25 Oct 2019 19:03:54 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7597E15064976\u0022",
        "Last-Modified": "Fri, 25 Oct 2019 19:03:54 GMT",
        "x-ms-blob-content-md5": "B6rUAha\u002BjonJjzY1NTdMng==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 25 Oct 2019 19:03:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": "iBgG1Otu\u002BXAjsWlW8fd7iMEkBS5ijaFD2nOzuqeduZGo9pnSWIqervxMB08\u002BxIK\u002BE8odjN/eKvt2w/l4uj/JhvfYrvpdqS83hVYxFYZSBRbw9abcfy2xysyeXJWQJvS9g4FXZRaIYGqb5gaIrBV1JL3iiMWY7AfKJuMuv0yZpl9idJEE\u002Bp8AaJQ7QZgmKB62KDfYrp0uJJZ5jT8yWaEdAT\u002BnJjeDcCoe4iAwXKtupP7FeJcVwfjBNE/6imxgzg7zHkBZfwLmMrcNuct9/cfrC\u002BlBbeEJCD9H5fHniOW9vRQRPT5rFSX73kXfBwcsRDaID3\u002BDH2At6RUAEpkQ/6nSUPy3bMCIgPbERY6bKQE3GqG7X3lmOZ6z41MpagOL69\u002[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-b516acce-9747-b45e-36a7-2b72bab44fba/test-blob-a3ed8065-2b2d-4aac-eac1-da5de9853763",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D7597E15064976\u0022",
        "x-ms-date": "Fri, 25 Oct 2019 19:03:55 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 1024-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7597E15064976\u0022",
        "Last-Modified": "Fri, 25 Oct 2019 19:03:54 GMT",
        "x-ms-blob-content-md5": "B6rU[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-b516acce-9747-b45e-36a7-2b72bab44fba?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 25 Oct 2019 19:03:55 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "862293748",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}