{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4c9aedf1-02d4-e2ca-aef2-b2c16cd9d6ba?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:46:44 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3745F60EA22\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:46:44 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4c9aedf1-02d4-e2ca-aef2-b2c16cd9d6ba/test-blob-851baf9d-e899-eb97-7e1f-14ff5a276c1f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:46:44 GMT"
      },
      "RequestBody": "xh7Qf0sDMN6O6kMVTiu4e76uwohYlXWwhDFVNrDTWv9CENgLY7O3\u002B7Sislr9fTYzlufNp0b0SjGpH/sarfktuo9D0z1SrBgK9sfTtuIaswb6IqDIBbO5TcanYUO4nU26dPjLuar54OnPw7B/IZROj2z0H4tYZbTcioV3qkvUUlh5GUHqT/lbAUG3\u002BEICOSwxWNLXw37CYQ9D7i8lgTWe\u002B3FYBQdTY0BymB1KoWxx2VBYRlJ4/I7Zt7cyp2DKNn8LGf3RqjMk3fSSZCtheMCi0RXezDvjJf7ifk5QIbzfqGKdPohvoC4dM2hd5pdjeD/3j9ZK62lEJ/T\u002B7ivl1Lw4srvIwzk3MzHnwZjThT5mfwYPWZHmlbz4WBaUcLEDN1[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4c9aedf1-02d4-e2ca-aef2-b2c16cd9d6ba/test-blob-851baf9d-e899-eb97-7e1f-14ff5a276c1f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:46:44 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ssrs5/VzrbKPoyzWY3C26A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D3745F6A9B2D\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:46:44 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:46:44 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:46:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:46:44.3414317Z"
      },
      "ResponseBody": "xh7Qf0sDMN6O6kMVTiu4e76uwohYlXWwhDFVNrDTWv9CENgLY7O3\u002B7Sislr9fTYzlufNp0b0SjGpH/sarfktuo9D0z1SrBgK9sfTtuIaswb6IqDIBbO5TcanYUO4nU26dPjLuar54OnPw7B/IZROj2z0H4tYZbTcioV3qkvUUlh5GUHqT/lbAUG3\u002BEICOSwxWNLXw37CYQ9D7i8lgTWe\u002B3FYBQdTY0BymB1KoWxx2VBYRlJ4/I7Zt7cyp2DKNn8LGf3RqjMk3fSSZCtheMCi0RXezDvjJf7ifk5QIbzfqGKdPohvoC4dM2hd5pdjeD/3j9ZK62lEJ/T\u002B7ivl1Lw4srvIwzk3MzHnwZjThT5mfwYPWZHmlbz4WBaUcLEDN1\u002BrJTTcmrQFv1ylYyrQcaG1l28k1Xo[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4c9aedf1-02d4-e2ca-aef2-b2c16cd9d6ba?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:46:44 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1711831295",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}