{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-8616f2e2-54a0-9850-5f46-a6ce59fbc26c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:53 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1C36E0884\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:52:53 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-8616f2e2-54a0-9850-5f46-a6ce59fbc26c/test-blob-96183926-85f7-b6be-ed23-c2bef97073e8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:53 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "wdKXHGM3WbGEim8k5CPNdpQtT8S7UhpmoPPDnhp9/wYpDwyGY6YJrAO9YogNLT\u002bfNMI\u002bawlZ3G\u002b4MXxwc7uXBotp\u002b9UWRhPuJKLA/e\u002bRWHK0JGpXP5T90DKdzjEpmTlIJlz9pDJqiO2vUEdmmN5/JtkKu09RP8b2bCqieHjhxItpeNeSlLQ/Spt8qO9MljdTHadYHt3q9uaWBjgHxw90zYu8/B8H7ZIkynGz1JfXqtXzTlvRiKatf4Hw/I58OIKLCNpjj5kXTDAVNFRrNiJPvltiFHm0o0XlDn2eF/ADp5LvJ8u8cxo72wIqvFNRQkheoT0yGSMJ1mWVfoAbeTV[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-8616f2e2-54a0-9850-5f46-a6ce59fbc26c/test-blob-96183926-85f7-b6be-ed23-c2bef97073e8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:53 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D706F1C3709719\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:52:53 GMT",
        "x-ms-blob-content-md5": "Y0OQYoff65d6lEP4NPn/lA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 12 Jul 2019 17:52:53 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "wdKXHGM3WbGEim8k5CPNdpQtT8S7UhpmoPPDnhp9/wYpDwyGY6YJrAO9YogNLT\u002bfNMI\u002bawlZ3G\u002b4MXxwc7uXBotp\u002b9UWRhPuJKLA/e\u002bRWHK0JGpXP5T90DKdzjEpmTlIJlz9pDJqiO2vUEdmmN5/JtkKu09RP8b2bCqieHjhxItpeNeSlLQ/Spt8qO9MljdTHadYHt3q9uaWBjgHxw90zYu8/B8H7ZIkynGz1JfXqtXzTlvRiKatf4Hw/I58OIKLCNpjj5kXTDAVNFRrNiJPvltiFHm0o0XlDn2eF/ADp5LvJ8u8cxo72wIqvFNRQkheoT0yGSMJ1mWVfoAbeTVAEYzCew9XkktAJzl3iufxk8w1P3Wy0I1u5lBmJ/SaH2HM6arHj8Y5Bw7y8fLq[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-8616f2e2-54a0-9850-5f46-a6ce59fbc26c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:53 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1006573686",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}