{
  "Entries": [
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-e122a317-fa23-dd11-d640-68f32c567144?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 25 Apr 2020 01:08:18 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B523D93D17\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:08:18 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-e122a317-fa23-dd11-d640-68f32c567144/test-blob-de42b4d1-78c9-9fa9-43e9-8009cbb58ad4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 25 Apr 2020 01:08:18 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "Ho1Xl/zYWSe4gLYqxA8rmJC\u002BSzSa0nw/8c4eO53mEhEjneQk5hitz56U50ZzINd5/bl00c6h/ksQGKYuuR2K0W2lBiYrBrJ4EXuVBus2y9D2pT7jcUBCgp6YE81xfxWACRXYzhmwTfYH/MBTC/hg2kzWNxTfp18tY4SIk/LkBpJlFPzVXf22RldH23WA73amNzmBmkcBoWK1q2uVKLoEI/Uu7fb7i31PIPG8l8vqrHQO4Vu5Y2xKZHOaH7GRIR2dQ7h/UgF/q6y8MXpWRQqXy//3hkZfSr\u002BJ44mDYGvLvf/TH1MSalpyjzau/DHy9B5pA1SymprXPfj49m53\u002B0pB8HN6gia2h[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-e122a317-fa23-dd11-d640-68f32c567144/test-blob-de42b4d1-78c9-9fa9-43e9-8009cbb58ad4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:08:18 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "UZRembFJ\u002Bs69CyIsXlcMHQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7E8B523E3A413\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:08:18 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 25 Apr 2020 01:08:18 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "Ho1Xl/zYWSe4gLYqxA8rmJC\u002BSzSa0nw/8c4eO53mEhEjneQk5hitz56U50ZzINd5/bl00c6h/ksQGKYuuR2K0W2lBiYrBrJ4EXuVBus2y9D2pT7jcUBCgp6YE81xfxWACRXYzhmwTfYH/MBTC/hg2kzWNxTfp18tY4SIk/LkBpJlFPzVXf22RldH23WA73amNzmBmkcBoWK1q2uVKLoEI/Uu7fb7i31PIPG8l8vqrHQO4Vu5Y2xKZHOaH7GRIR2dQ7h/UgF/q6y8MXpWRQqXy//3hkZfSr\u002BJ44mDYGvLvf/TH1MSalpyjzau/DHy9B5pA1SymprXPfj49m53\u002B0pB8HN6gia2hGCkhPcPsE6Olu5qGl0XGSJk/OFaGXPr\u002B5PsbQy\u002Bd3L4sn7zD[...]
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-94397ae7-6175-d926-2e2c-dc48f1d983dd/test-blob-3bd7b49c-db32-1f0f-2ae0-fd6f55a4f5b1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Fri, 24 Apr 2020 01:08:18 GMT",
        "x-ms-date": "Sat, 25 Apr 2020 01:08:18 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Bx3RaFgg3SO\u002BxxiEeQAJhg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7E8B524113D74\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:08:18 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sa[...]
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-dc58be6e-6203-c9bd-d805-a8fa5d81b290/test-blob-a44099cf-ab88-ab86-f1f4-a68bcb0bb14f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sun, 26 Apr 2020 01:08:18 GMT",
        "x-ms-date": "Sat, 25 Apr 2020 01:08:19 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "WU\u002BtmLLizRrveopfGYlhTw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7E8B5243E3AAE\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:08:19 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sa[...]
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-6296042c-4fb1-f8ef-f711-aad335dc0188/test-blob-fbc072c4-31d6-3e34-c314-5950ef4b67eb",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:08:19 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "2YbZRI0iIXIH077INQJ4MQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7E8B5246AE9D1\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:08:19 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 25 Apr 2020 01:08:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-6296042c-4fb1-f8ef-f711-aad335dc0188/test-blob-fbc072c4-31d6-3e34-c314-5950ef4b67eb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D7E8B5246AE9D1\u0022",
        "x-ms-date": "Sat, 25 Apr 2020 01:08:19 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "2YbZRI0iIXIH077INQJ4MQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7E8B5246AE9D1\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:08:19 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 25[...]
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-cf54dc65-7570-886f-ca62-6745d971b551/test-blob-3b68096c-b6c5-530f-c9e4-e78e1dc84da8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Sat, 25 Apr 2020 01:08:19 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "q076FNyfeLvBnTUc1Z8mkg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7E8B524A245D3\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:08:19 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 25 Apr 2020 [...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-cf54dc65-7570-886f-ca62-6745d971b551?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:08:19 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-24T18:08:18.4002844-07:00",
    "RandomSeed": "2112913994",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttp://amandacanary.blob.core.windows.net\nhttp://amandacanary.file.core.windows.net\nhttp://amandacanary.queue.core.windows.net\nhttp://amandacanary.table.core.windows.net\n\n\n\n\nhttp://amandacanary-secondary.blob.core.windows.net\nhttp://amandacanary-secondary.file.core.windows.net\nhttp://amandacanary-secondary.queue.core.windows.net\nhttp://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandacanary.blob.core.windows.net/;QueueEndpoint=http://amandacanary.queue.core.windows.net/;FileEndpoint=http://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Sanitized\n\nDefaultEndpointsProtocol=https;AccountName=ortestsaccountcbn1;AccountKey=OrRfzSm3ktQSklAGiL90/QusS7SdS6Y5S/AJoxZEeyKYDtnue7OKYIMLOraTnT4xcOyhYbqzWVmtTKappcc5Fg==;EndpointSuffix=core.windows.net\nDefaultEndpointsProtocol=https;AccountName=vbalaorcentral1;AccountKey=vlHMz/LZ3Sx7r/1bdTQT26pG0tqORQ4uTIcxGhHB0LQhIhqGxfv2TXV7u\u002BI2ra4UWXrWGGHG2N6l\u002BBfb5FgAcQ==;EndpointSuffix=core.windows.net"
  }
}