{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-d0bcf399-5e51-9a51-f1ca-580f906e5ce4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 20:55:55 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C147996548E5\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:55:55 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-d0bcf399-5e51-9a51-f1ca-580f906e5ce4/test-blob-bd73f976-77a8-9e3b-591c-8358ddf98877",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 20:55:55 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "YmNel9hGguQnXg5C628\u002BXkQWJt0TTUs9VpqVHYkvi5wmWX/3Ne1pojF15jroWYERYc1WvP8LBhUYIEE9sGRb\u002BNNyHJLwRihXrIOsnmYQVP0ZhLy72M\u002BcG1Jp3xSsK/LMGu5ndj3vIBqk/g97X2iuB8tDJCuonx8E1QA/hmcUq4CQ34N4qd6/KWOiF9q/ILvqu9dIaAfHI3rOY6A8sJqykFOO63/kNl3thPrHBohFRLRFVMqPy0N5ybwJqUY9gnnJ74eGMDU8BoV5WuMM/x3yiR7s91vPI8UPFSHD2owXsAKB/RcAvhN\u002BCE1FFnBgbcqeFh8oUYod\u002BszBdxsUeCv[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-d0bcf399-5e51-9a51-f1ca-580f906e5ce4/test-blob-bd73f976-77a8-9e3b-591c-8358ddf98877",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 20:55:55 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C1479971FE18\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:55:55 GMT",
        "x-ms-blob-content-md5": "JCh0vywBREhlTcTu9ERk9Q==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 05 Mar 2020 20:55:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": "YmNel9hGguQnXg5C628\u002BXkQWJt0TTUs9VpqVHYkvi5wmWX/3Ne1pojF15jroWYERYc1WvP8LBhUYIEE9sGRb\u002BNNyHJLwRihXrIOsnmYQVP0ZhLy72M\u002BcG1Jp3xSsK/LMGu5ndj3vIBqk/g97X2iuB8tDJCuonx8E1QA/hmcUq4CQ34N4qd6/KWOiF9q/ILvqu9dIaAfHI3rOY6A8sJqykFOO63/kNl3thPrHBohFRLRFVMqPy0N5ybwJqUY9gnnJ74eGMDU8BoV5WuMM/x3yiR7s91vPI8UPFSHD2owXsAKB/RcAvhN\u002BCE1FFnBgbcqeFh8oUYod\u002BszBdxsUeCv4YqrgigEG8coLbe4OiQxUr6dXJcRs7l94YwJKP0f3apAiTLPFf\u002BLI[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-d0bcf399-5e51-9a51-f1ca-580f906e5ce4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 20:55:55 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "91331619",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}