{
  "Entries": [
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-3fcdc598-22f5-8715-a385-93accc6512a8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 25 Apr 2020 01:08:19 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B524C57711\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:08:19 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-3fcdc598-22f5-8715-a385-93accc6512a8/test-blob-2bd86360-d27d-3667-71f1-69bcb51306fc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 25 Apr 2020 01:08:20 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "5uqbyep2S8Lpw6Vf8GzgHD580\u002BQNBB5o2vMoIUpHK28Y5sK86n0sYpyVJMZ8/DG9K29WYlaZPuHLM\u002B/2Til4opg2RgmpJDHAUHFHd\u002BBX697Ca/Xa8MkYfqjh8LeONRRyHYEuRrUoEwc9lhHlUscAc0cQNOM0nrHPHchhyDN6Mhtc1VpeKaUpmlftnVq3Mizh4HxwfQAxPn/PXijtxkvUw2P2iXxsoUqh55qLRgFXF\u002BubgOe2CbQaK5bbj8p9PNMLGdn2wamvdD4yzpZmpfh9eEc8UUZkHbmv213mkRJ/JKvHgCwnYFZB7AuogzsetIaeXRaDQOuMp/sgR\u002BVMyeI[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-3fcdc598-22f5-8715-a385-93accc6512a8/test-blob-2bd86360-d27d-3667-71f1-69bcb51306fc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Sun, 26 Apr 2020 01:08:19 GMT",
        "x-ms-date": "Sat, 25 Apr 2020 01:08:20 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-e84eba46-d6f5-7d73-98f4-73ff3b1f9a2c/test-blob-48793127-49ee-ffbb-fa81-f947ec27ff02",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 24 Apr 2020 01:08:19 GMT",
        "x-ms-date": "Sat, 25 Apr 2020 01:08:20 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:fc9a7703-901e-0033-059e-1a7a02000000\n",
        "Time:2020-04-25T01:08:20.4267525Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-80a91327-e699-052d-4c2f-a0476f96b224/test-blob-9bc37f62-6745-79ed-4663-19d50c951f4b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-date": "Sat, 25 Apr 2020 01:08:20 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:fc9a7724-901e-0033-239e-1a7a02000000\n",
        "Time:2020-04-25T01:08:20.7175893Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-854828d3-8a19-5c4c-f6c5-f4e232c6ac5e/test-blob-8c946882-1c66-8340-1971-68e5e20c2fe9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:08:20 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "SiMvOdijFlb9toR1azO6/A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7E8B525563AAE\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:08:20 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 25 Apr 2020 01:08:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-854828d3-8a19-5c4c-f6c5-f4e232c6ac5e/test-blob-8c946882-1c66-8340-1971-68e5e20c2fe9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u00220x8D7E8B525563AAE\u0022",
        "x-ms-date": "Sat, 25 Apr 2020 01:08:21 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-192bbe86-4986-f297-ba66-72a8c951e59f/test-blob-9fe89484-e794-2a59-866f-fdbef7bb4d1a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:08:21 GMT",
        "x-ms-lease-id": "2f933f43-721a-4bd6-b1f8-922600ffca79",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseNotPresentWithBlobOperation\u003C/Code\u003E\u003CMessage\u003EThere is currently no lease on the blob.\n",
        "RequestId:fc9a7773-901e-0033-669e-1a7a02000000\n",
        "Time:2020-04-25T01:08:21.3732229Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-192bbe86-4986-f297-ba66-72a8c951e59f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:08:21 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-24T18:08:19.9490501-07:00",
    "RandomSeed": "1791470294",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttp://amandacanary.blob.core.windows.net\nhttp://amandacanary.file.core.windows.net\nhttp://amandacanary.queue.core.windows.net\nhttp://amandacanary.table.core.windows.net\n\n\n\n\nhttp://amandacanary-secondary.blob.core.windows.net\nhttp://amandacanary-secondary.file.core.windows.net\nhttp://amandacanary-secondary.queue.core.windows.net\nhttp://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandacanary.blob.core.windows.net/;QueueEndpoint=http://amandacanary.queue.core.windows.net/;FileEndpoint=http://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Sanitized\n\nDefaultEndpointsProtocol=https;AccountName=ortestsaccountcbn1;AccountKey=OrRfzSm3ktQSklAGiL90/QusS7SdS6Y5S/AJoxZEeyKYDtnue7OKYIMLOraTnT4xcOyhYbqzWVmtTKappcc5Fg==;EndpointSuffix=core.windows.net\nDefaultEndpointsProtocol=https;AccountName=vbalaorcentral1;AccountKey=vlHMz/LZ3Sx7r/1bdTQT26pG0tqORQ4uTIcxGhHB0LQhIhqGxfv2TXV7u\u002BI2ra4UWXrWGGHG2N6l\u002BBfb5FgAcQ==;EndpointSuffix=core.windows.net"
  }
}