{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-a631e686-9b45-1e86-dcc3-523f3c265c1e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 06 Jan 2020 18:41:33 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D792D816D4A062\u0022",
        "Last-Modified": "Mon, 06 Jan 2020 18:41:48 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-a631e686-9b45-1e86-dcc3-523f3c265c1e/test-blob-e8a64577-c01f-9c9f-6b1a-3547ad322bb6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 06 Jan 2020 18:41:49 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "s/Pt2giQQHAWYrPOZzXCd2aj3Kx/Jz\u002BQw4FgxLoS5OPHy5FiDL1B5wU20rwN0TQ1V77hClV/N4uzXBeHL3y1BH7PBpyjX2qoYfWmSVWCg/FMK2z8MdmOSJMGr6\u002BmuriJgM0\u002BPcuYkfhTOKlg2O42MNklOgQQuNOkQb0InbC6Aac8HciHREUmtJlzqfgwLW\u002Blz37WgX\u002B0eMf6mvsNj/NHmDcCI7olruyU/oVqnA/acxNNYs4y5IAniKUBjalJGSWlLBDBLgq1gCGSQoL5Sdy3Hybnvy0lFbS22poVIyBCSuVgxXD/GUUJmOGtn6L9Lj/ISW2DYVr3fxZcClNvn1w[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-a631e686-9b45-1e86-dcc3-523f3c265c1e/test-blob-e8a64577-c01f-9c9f-6b1a-3547ad322bb6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Jan 2020 18:41:49 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "csLlzpxLp45tozAFo8UXAw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D792D816E1C980\u0022",
        "Last-Modified": "Mon, 06 Jan 2020 18:41:49 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 06 Jan 2020 18:41:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-a631e686-9b45-1e86-dcc3-523f3c265c1e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Jan 2020 18:41:49 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2111848853",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}