{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-f910fb09-223b-66c4-0169-f9b9a3b7417c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:04:56 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C148DBE7A363\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:04:56 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-f910fb09-223b-66c4-0169-f9b9a3b7417c/test-blob-33e77c50-0968-8efa-7317-d2f26319289b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 21:04:56 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "d6va8ty48C4qE6Lm0s4ILXtAWsF\u002BvuXVtUsWdIrnIJwKDEFEH9ugmIu5CFVmFLylD6R2I79mHbnGBDyRoXykQ/IG28WMww6goME2xbWQbqGPcGTlcP3cpO\u002BIfRueD/YPFMViYDj2GUuW1YL9MFgDNpWbATEXv9L1KjbWA0XzApDLJrDvLg5omVcYT5t63nSWhEeFAg3F91XzbDYCHxUFotPyMgmnEwiGMmja/282e0vCP3/\u002Bbf\u002BCBi9b/MHYZnpBEqzIiKxr73E\u002B/s\u002Bl6vjlvfHrP9\u002BWBzTTbyvaTBdHrsztmOzDbvKeV1ANv28v3Bs2dT7P7Caaq[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-f910fb09-223b-66c4-0169-f9b9a3b7417c/test-blob-33e77c50-0968-8efa-7317-d2f26319289b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "WWW-Authenticate": "Bearer authorization_uri=https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/authorize resource_id=https://storage.azure.com",
        "x-ms-error-code": "NoAuthenticationInformation",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-f910fb09-223b-66c4-0169-f9b9a3b7417c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:04:57 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1517771722",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}