{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f46ce2bd-ed68-d326-e870-a3e78f73c65a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:51:11 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D374FEBE6DD9\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:51:11 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f46ce2bd-ed68-d326-e870-a3e78f73c65a/test-blob-2969f3af-a531-15bd-aa93-40dc7d85f8bd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:51:11 GMT"
      },
      "RequestBody": "TwUet1VTUJMwWmgbahvSqU5q8efB\u002BGwjGgjJdlKQXzc1gM0C64avXKLW\u002BNY8oauOwZeNEpMQ\u002B1eY\u002Bp1NidpAn/sw5ulNz77IupVF6/\u002BW53hcOrW7A0ykJIV2afHoYtLHlljbDLvBQfHYxVf\u002Byw9XAhMk8E4lhJyvjMFk1mbN31jDfVWmutu9m/nE4j30pVl1HmfdxHGDoRG8K3/5XGqKC\u002Bb\u002BO026sUc4Z1VVYaFfuuZn77j\u002B7xrnP9tD6o9bwz6POddW9WoMum0gpV0cLkBvXHGYkW2xjBzLF/txdse43KMWxijKCMV8WzRL3km9yhGb1I0dwjHQ3ay7i95umkOlZ8m5BmgXpFSrHDY5Z[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f46ce2bd-ed68-d326-e870-a3e78f73c65a/test-blob-2969f3af-a531-15bd-aa93-40dc7d85f8bd",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:51:11 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "FEDZSvtUJ2dXSctEwMXaUg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D374FEC7F6E7\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:51:11 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:51:11 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:51:11 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:51:11.7109991Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f46ce2bd-ed68-d326-e870-a3e78f73c65a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:51:11 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1991807944",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}