{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-f46ce2bd-ed68-d326-e870-a3e78f73c65a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:44:57 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75FD9E22AD1\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:44:57 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-f46ce2bd-ed68-d326-e870-a3e78f73c65a/test-blob-2969f3af-a531-15bd-aa93-40dc7d85f8bd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:44:58 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "TwUet1VTUJMwWmgbahvSqU5q8efB\u002BGwjGgjJdlKQXzc1gM0C64avXKLW\u002BNY8oauOwZeNEpMQ\u002B1eY\u002Bp1NidpAn/sw5ulNz77IupVF6/\u002BW53hcOrW7A0ykJIV2afHoYtLHlljbDLvBQfHYxVf\u002Byw9XAhMk8E4lhJyvjMFk1mbN31jDfVWmutu9m/nE4j30pVl1HmfdxHGDoRG8K3/5XGqKC\u002Bb\u002BO026sUc4Z1VVYaFfuuZn77j\u002B7xrnP9tD6o9bwz6POddW9WoMum0gpV0cLkBvXHGYkW2xjBzLF/txdse43KMWxijKCMV8WzRL3km9yhG[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-f46ce2bd-ed68-d326-e870-a3e78f73c65a/test-blob-2969f3af-a531-15bd-aa93-40dc7d85f8bd",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:44:58 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "FEDZSvtUJ2dXSctEwMXaUg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D75FD9EF61EE\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:44:57 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Apr 2020 23:44:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-f46ce2bd-ed68-d326-e870-a3e78f73c65a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:44:58 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1991807944",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}