{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-57cb0b9e-21b6-7521-bea1-6f5b2329e49a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:05:21 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E87B4C80B4\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:05:21 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-57cb0b9e-21b6-7521-bea1-6f5b2329e49a/test-blob-c2bd4925-a9aa-8d72-8e4f-d427a77485c2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:05:21 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "HvNnx4KbdHS32UFeAsn527Rwh6U\u002BwNJL6hm51ngP5Mw=",
        "x-ms-encryption-key-sha256": "L4H6L8E53wBQXQAmWI23uk0W\u002BQvXyn\u002BF\u002BXImDuQZhHE="
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E87B5E8943\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:05:21 GMT",
        "x-ms-encryption-key-sha256": "L4H6L8E53wBQXQAmWI23uk0W\u002BQvXyn\u002BF\u002BXImDuQZhHE=",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T02:05:21.6963907Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-57cb0b9e-21b6-7521-bea1-6f5b2329e49a/test-blob-c2bd4925-a9aa-8d72-8e4f-d427a77485c2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:05:21 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "HvNnx4KbdHS32UFeAsn527Rwh6U\u002BwNJL6hm51ngP5Mw=",
        "x-ms-encryption-key-sha256": "L4H6L8E53wBQXQAmWI23uk0W\u002BQvXyn\u002BF\u002BXImDuQZhHE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2E87B5E8943\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:05:21 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 02:05:21 GMT",
        "x-ms-encryption-key-sha256": "L4H6L8E53wBQXQAmWI23uk0W\u002BQvXyn\u002BF\u002BXImDuQZhHE=",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T02:05:21.6963907Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-57cb0b9e-21b6-7521-bea1-6f5b2329e49a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:05:21 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1765583674",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}