{
  "Entries": [
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-be35a157-ce73-bf9a-176e-1caa3743488b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 15 Jul 2020 18:06:32 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D828E9CF2BFA65\u0022",
        "Last-Modified": "Wed, 15 Jul 2020 18:06:34 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-be35a157-ce73-bf9a-176e-1caa3743488b/test-blob-5020ced3-f91d-6814-47e5-3e598dba66e5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Jul 2020 18:06:33 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Bzf82gsyQmbq0iF0OYLS4h/MeIj9eFcAKdqKfPZVvu54YopeaOtmrsNWA7yMvyQK\u002BpRuwsipX4/g\u002B7AwqMVwlRMy\u002B9b3dHk0ZsrEp3SadGm2gIFh5vwmzgP7fm06Ngb95m6oWcRNEoUbOlz95LgaRYZHeShDDq4XDCzT/PYL\u002BTDExsAG8RulaW38RayfKOlK4Dnm8rzeudfAkUyXeRaPD0AsOR73FFNqohC6R8kCd\u002BRDiRy8JQZz5g3pRWDPDu9XbDZrc\u002B7LUsvle1CrI3ENvRpoVPD60uo5uFMQDs7zm5MhYtuSlgP1dzZQ16m1yMKb24hFZrr\u002BX[...]
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-be35a157-ce73-bf9a-176e-1caa3743488b/test-blob-5020ced3-f91d-6814-47e5-3e598dba66e5?sv=2020-04-08\u0026st=2020-07-15T17%3A06%3A33Z\u0026se=2020-07-15T19%3A06%3A33Z\u0026sr=c\u0026sp=r\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "MT1ZmKjPkpJIG1F7Uxk3CQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D828E9CF332D04\u0022",
        "Last-Modified": "Wed, 15 Jul 2020 18:06:34 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 15 Jul 2020 18:06:34 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-07-15T18:06:34.1653764Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-be35a157-ce73-bf9a-176e-1caa3743488b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Jul 2020 18:06:33 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-07-15T13:06:33.1573793-05:00",
    "RandomSeed": "1970662373",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmccprodca\nU2FuaXRpemVk\nhttps://seanmccprodca.blob.core.windows.net\nhttps://seanmccprodca.file.core.windows.net\nhttps://seanmccprodca.queue.core.windows.net\nhttps://seanmccprodca.table.core.windows.net\n\n\n\n\nhttps://seanmccprodca-secondary.blob.core.windows.net\nhttps://seanmccprodca-secondary.file.core.windows.net\nhttps://seanmccprodca-secondary.queue.core.windows.net\nhttps://seanmccprodca-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmccprodca.blob.core.windows.net/;QueueEndpoint=https://seanmccprodca.queue.core.windows.net/;FileEndpoint=https://seanmccprodca.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmccprodca-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmccprodca-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmccprodca-secondary.file.core.windows.net/;AccountName=seanmccprodca;AccountKey=Kg==;\nseanscope1"
  }
}