{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-5cab7039-c4cd-9955-c733-62576cc8ecfb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 24 Jun 2020 17:29:58 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8186438438180\u0022",
        "Last-Modified": "Wed, 24 Jun 2020 17:29:59 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-5cab7039-c4cd-9955-c733-62576cc8ecfb/test-blob-957e6a44-cf9f-06ed-8b65-908130dab092",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 24 Jun 2020 17:29:59 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "NShEpk04PSnmhc57PcErLnUENn62aJpC2HQoWImjfG3pY\u002B7yWTBCCyxVrxoBccnJOWILLKMx28yNAc7ZEOSfQwhgktrSONVFwStRYbmAQWarXx8nl1DKt4ciZFdiaftItWsRod/u9gCNxmp333oTDcBnLbHFd6u4ltpTsNR\u002B41gwCatNb6CGvGgemtDmUtgMDleW\u002BjtJgz6/WAsFm0YsD\u002BMRR9bOxZ4g4HBJp93b0kMBRqF95\u002Bgc5oVtjRaUgSEi8Yvs1AoBPkm4dRnKANxg5IbHA1Skryf79GBQYTeIi19PJ7VS7v44AAhYxHHOUuapDKiPzX3MfUJj8d\u002[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-5cab7039-c4cd-9955-c733-62576cc8ecfb/test-blob-957e6a44-cf9f-06ed-8b65-908130dab092",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 24 Jun 2020 17:29:59 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "im4OmG7ABotjTuDGQfCyvA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D81864385A1517\u0022",
        "Last-Modified": "Wed, 24 Jun 2020 17:29:59 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 24 Jun 2020 17:29:59 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-06-24T17:29:59.4149143Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-5cab7039-c4cd-9955-c733-62576cc8ecfb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 24 Jun 2020 17:29:59 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1236777959",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}