{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-5f153458-3f5d-da5d-b079-d8c7a4b5efb0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:34 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B4138F898\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:05:34 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-5f153458-3f5d-da5d-b079-d8c7a4b5efb0/test-blob-09fa7a33-3805-f8dd-e9bb-0bef41d2d304",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:34 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "XyIgHy4mySFHInW1jl2e3unilCm65qv2PT9O9Sv9sRfTrKEZsXHGDLHYwePDJ2qLHCwGXz6qSXh2KuLv2NT1SnBe4uK8hSx3HId34iXIMhXVwtj/9lLZKWIoooeP1zPd4nZyZEWHz5cAjkO2MmZTrvfMGhb79lMehLiAk\u002bOk6ERTmgCuVc7PTfJB/mgPIvb71fOQw70d4esjVN\u002bNBzyzW6b\u002bYphmpFgo/MwkuvfrDmHBhL3vEyWHNrgUigHuQkW2jaPBEMBelDCbaMbw\u002bSfzOEV\u002by4N\u002bxEeAdivfURpXOrmGbi1UKf2hYu\u002bMVKtelz2RIFK7cHbCN[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-5f153458-3f5d-da5d-b079-d8c7a4b5efb0/test-blob-09fa7a33-3805-f8dd-e9bb-0bef41d2d304",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:34 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Jakj3hhsidQfzJwCfpX2fg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D70A5B413C1D52\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:05:34 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Jul 2019 02:05:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-55a9b2ad-cffa-618a-366a-6dc1273791c1/test-blob-c1fa39ac-503a-25cb-e93b-1d696c3ede72",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 16 Jul 2019 02:05:34 GMT",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:34 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "hJQjBvxk0SGtrlrvngKqpQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D70A5B4147B8E8\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:05:34 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Jul 2019 02:05:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-2e5ec32e-1ac9-b805-d917-1a943433c6f3/test-blob-205a9cc5-0e70-0f84-1ec7-0007be3e8413",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 18 Jul 2019 02:05:34 GMT",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:35 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "PZnVwZXnKpwKtp/Mb/3klQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D70A5B41529106\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:05:35 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Jul 2019 02:05:35 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-94db5817-9017-68eb-206f-2e65a12fe811/test-blob-9defaad2-3254-7441-c43c-c61dcd419c22",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D70A5B416028EC\u0022",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:35 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Ez\u002bU2TnoUcORv45ou2WoVw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D70A5B416028EC\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:05:35 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Jul 2019 02:05:35 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6ef1ef6b-c89a-c923-9264-f42166a446dd/test-blob-e8de4112-5337-224f-5c8a-4d155a40148c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:35 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ftjEBGHe/RaSH7oEU1G0kA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D70A5B416C39CE\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:05:35 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Jul 2019 02:05:35 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-5a47e47a-9ad1-34ce-1f66-dd7e8d8345b9/test-blob-21b70fcf-ea6b-998a-ee85-91f63e750447?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:35 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "fc1bd5ec-6b91-1790-fd4f-79f37330ddff",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B417403EC\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:05:35 GMT",
        "x-ms-lease-id": "fc1bd5ec-6b91-1790-fd4f-79f37330ddff",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-5a47e47a-9ad1-34ce-1f66-dd7e8d8345b9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:35 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-07-16T19:05:34.8794558-07:00",
    "RandomSeed": "133118041",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}