{
  "Entries": [
    {
      "RequestUri": "https://jolovstorage.blob.core.windows.net/test-container-d9e4bed2-1041-8af5-083e-2080d1fb096f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 03 Dec 2019 04:40:38 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D777AAF269A348\u0022",
        "Last-Modified": "Tue, 03 Dec 2019 04:40:39 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://jolovstorage.blob.core.windows.net/test-container-d9e4bed2-1041-8af5-083e-2080d1fb096f/test-blob-b2fc48ea-0693-c806-9963-c89f156e7ad0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 03 Dec 2019 04:40:39 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "w1AZkpr2Zb06Cq4JjhE2UI1dsxsVoD9PkpRb7u0wqq4V3DJBL0PQ9JWbn4Zpojym5u5Q6qJahSIQygAGm3bQCl//87He9CFKjb\u002BFeQG55fBXtAj/38AMu1cPMGRDyVgey5Umaq6Kx/HNBVzi1AshV\u002BUPruZu0Cqf8zhaz8S8B8NmZ65rk3pBzO0WMtpjKedL7tl\u002BMxtyr/pqhnd2MPgtEP2YfGxdtcNrzuH5V55QO8pRDuDqPtSo9Le0AQwDypz06SHcyqx67jgVE2Q5eFhbGkutJSEXQtEp8Ii0qLS3ZwRFBG18c3Ad1iCo1SpwbntfWObBVqR73adQs9okxUWEXqxf9HTq3[...]
    {
      "RequestUri": "https://jolovstorage.blob.core.windows.net/test-container-d9e4bed2-1041-8af5-083e-2080d1fb096f/test-blob-b2fc48ea-0693-c806-9963-c89f156e7ad0?sv=2019-02-02\u0026st=2019-12-03T03%3A40%3A39Z\u0026se=2019-12-03T05%3A40%3A39Z\u0026sr=c\u0026sp=racwdl\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "qlcC5RzUJKcm8PXaAVjVPA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D777AAF280C8AA\u0022",
        "Last-Modified": "Tue, 03 Dec 2019 04:40:39 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 03 Dec 2019 04:40:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://jolovstorage.blob.core.windows.net/test-container-d9e4bed2-1041-8af5-083e-2080d1fb096f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Dec 2019 04:40:39 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-12-02T20:40:39.3571076-08:00",
    "RandomSeed": "2052225601",
    "Storage_TestConfigDefault": "ProductionTenant\njolovstorage\nU2FuaXRpemVk\nhttps://jolovstorage.blob.core.windows.net\nhttps://jolovstorage.file.core.windows.net\nhttps://jolovstorage.queue.core.windows.net\nhttps://jolovstorage.table.core.windows.net\n\n\n\n\nhttps://jolovstorage-secondary.blob.core.windows.net\nhttps://jolovstorage-secondary.file.core.windows.net\nhttps://jolovstorage-secondary.queue.core.windows.net\nhttps://jolovstorage-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jolovstorage.blob.core.windows.net/;QueueEndpoint=https://jolovstorage.queue.core.windows.net/;FileEndpoint=https://jolovstorage.file.core.windows.net/;BlobSecondaryEndpoint=https://jolovstorage-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jolovstorage-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jolovstorage-secondary.file.core.windows.net/;AccountName=jolovstorage;AccountKey=Sanitized"
  }
}