{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-b694e794-8f03-bcae-d8ba-95d2eeb353e0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:13 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B58299977\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:06:13 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-b694e794-8f03-bcae-d8ba-95d2eeb353e0/test-blob-fb1be362-7efa-8842-00b6-7fa72d4c0610",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:13 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "QVPzHtJ9iMU6TxONPayU6T8ibwqXWOUBMtKVmE8FF1dvQMDU\u002b1yg5FpVwKpqtEtTIpVoCtz7eOhu8uv/6PB2NTe8Hvzsv\u002b7jgouwQpc6ln2HQXa6nQ16dMjXZglwofxq34tzrpZOZ2KmhIhRSjZRNFtteKZ6vJgqQak0FFnlc\u002bCORmILx\u002bjnOdkTExiFKSmRhjGtAihV8CLzSGzsGVMJwBGnwgTTRW1zhj/MZqh/pRiAo44nOHC3OVZAGH57\u002bh\u002bGClMH3WYkvUDEOXzpiIl6dKNUbHbF4oih74muky3u\u002bIwfRlxVd8exW\u002bVNYv7zzrDMxaPa[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-b694e794-8f03-bcae-d8ba-95d2eeb353e0/test-blob-fb1be362-7efa-8842-00b6-7fa72d4c0610",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:13 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "4LAYUaATxyV8ZxticBcNCA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D70A5B582C71DF\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:06:13 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Jul 2019 02:06:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-17548e0d-1fb0-92bc-df1f-c87590b0cb49/test-blob-00dc5b95-5254-3934-bf45-972e7033f10c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 16 Jul 2019 02:06:13 GMT",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:13 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "tuOM69OuT/H9FHcNXu0\u002bqw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D70A5B5838348E\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:06:13 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Jul 2019 02:06:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-9d1537bc-d3f3-3e30-a868-f6e0365dfb85/test-blob-855f3598-4126-2924-d042-4f449faafc68",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 18 Jul 2019 02:06:13 GMT",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:13 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "J8hv\u002bVGdseS1GKzi4l/23w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D70A5B58430CAC\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:06:13 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Jul 2019 02:06:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-d4f88fcb-d856-677f-ef3e-f98e2d079c71/test-blob-93b097cf-9fdc-b04a-0763-8d48dab05bb2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D70A5B584C36AC\u0022",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:13 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "YFeIuCSSQjGcnBSAPW5ofA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D70A5B584C36AC\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:06:13 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Jul 2019 02:06:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-92bd1639-0bb7-6c71-4c0e-bc8a5c515bc8/test-blob-2997aafe-cb79-37e5-99d5-716c97fbb8b3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:13 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "8rdN6eUtmwsv8LpVB993Jw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D70A5B585C4030\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:06:13 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Jul 2019 02:06:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-91184706-9009-612e-4777-714fbf50ea38/test-blob-7e9f26af-c17d-7d71-a73b-8418e87ba4e0?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:13 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "5652ae5e-55fe-4e0b-ad08-1932a599c4bd",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B586654C6\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:06:13 GMT",
        "x-ms-lease-id": "5652ae5e-55fe-4e0b-ad08-1932a599c4bd",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-91184706-9009-612e-4777-714fbf50ea38?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:13 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-07-16T19:06:13.3663406-07:00",
    "RandomSeed": "28405364",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}