{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-622a26ee-6a11-dd01-d620-e34449fadb88?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 10 Feb 2022 23:54:54 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9ECF0BC3906DD\u0022",
        "Last-Modified": "Thu, 10 Feb 2022 23:54:54 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-622a26ee-6a11-dd01-d620-e34449fadb88/test-blob-d19f19e2-4b1d-ccd5-66d9-eba2e14a8509",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 10 Feb 2022 23:54:54 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "\u002BipPUvl7z3/ahtcKquk76QPU0z0tU5uqITX53wStNOS\u002BbdvqPRi6Z0of95dzyyF8ngGeDXZH26eOpTDDge97LVHzSz0OUKzrGWzzDlwDNlYUfEECDydtdpE0W5jn9uVapMpFgH/jbk1Vs/MKVM1Li27arwWueB4qhdSr2fUTAyOGmGqSvrXWMA3zrFszYyLE6NApDUbgrCusG/qqOJRYQa/Qg7xiuc25A3/3usvC9iKy5vEk6vbcpus/5aK6LPh5mmusY99mYS8DcArH6fFf6SXY91GjNFe5893QI9Mq/taHfh9gFpNCTIXBIXnsFb363/x94jSn1WYU8m8ClT1c2HIzP2rR/tOSla[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-622a26ee-6a11-dd01-d620-e34449fadb88/test-blob-d19f19e2-4b1d-ccd5-66d9-eba2e14a8509",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 10 Feb 2022 23:54:54 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "6GxLmDSaS/PuqS\u002BY/hRbgA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9ECF0BC558DB9\u0022",
        "Last-Modified": "Thu, 10 Feb 2022 23:54:54 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 10 Feb 2022 23:54:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 10 Feb 2022 23:54:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2022-02-10T23:54:54.5665465Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-622a26ee-6a11-dd01-d620-e34449fadb88?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 10 Feb 2022 23:54:54 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "334419921",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}