{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "response_type=token\u0026grant_type=client_credentials\u0026client_id=5c8bb5b8-7dff-451b-b4d3-f0ee3752e9bb\u0026client_secret=Sanitized\u0026scope=https%3A%2F%2Fstorage.azure.com%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 3600,
        "ext_expires_in": 3600,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://storageteglazatesting2.blob.core.windows.net/test-container-97bbb644-d94a-3893-1dad-3557aa65fbf2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B5991F789\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:06:15 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storageteglazatesting2.blob.core.windows.net/test-container-97bbb644-d94a-3893-1dad-3557aa65fbf2/test-blob-399f5c83-28b4-e560-0533-b74f2a4e6fea",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "PUugrnIb7v5Nn5Wo9QkjLfwY6vlFaRGU89eJLvL43WD9ZRl2N4grSUIKuDmNXyZMs2UaClkUiNQ5C7qbkb8LVcI1qpDvrPV07KC2OrDYB5SwPXuN3dMG6dxFPCzNkLeD/2N2V7SWXQZwpR24XU4jYQMm61RDfXfvLsGzqm/Ip1zpMztNYa/fGd90HTe1TYuOIdsppqViP4Hshynz4rOWp/7BzykS1v9TRtF1z2A/OeA1JYiUnwC3hvS6YdmG6zcs3XU59H5ie0vb1V/T7XAgrE5IvrwqAgj9CUk0WHUmzVuaSPHqBkRi0qo8ucmg45iEmbSLPix6AdttO\u002bo0LSPWtQgEOaV\u002bNqUJ5esS7kk\u002bXSawsL7Amo8uIEYVfMpaLaWHZgTBnKrzBWMOglhAZxO[...]
    {
      "RequestUri": "https://storageteglazatesting2.blob.core.windows.net/?restype=service\u0026comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": [
        "\u003cKeyInfo\u003e\r\n",
        "  \u003cExpiry\u003e2019-07-17T03:06:15Z\u003c/Expiry\u003e\r\n",
        "\u003c/KeyInfo\u003e"
      ],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cUserDelegationKey\u003e\u003cSignedOid\u003edbfe680e-330c-4c7e-bb1c-5da5ef3ef1fd\u003c/SignedOid\u003e\u003cSignedTid\u003e72f988bf-86f1-41af-91ab-2d7cd011db47\u003c/SignedTid\u003e\u003cSignedStart\u003e2019-07-17T02:06:15Z\u003c/SignedStart\u003e\u003cSignedExpiry\u003e2019-07-17T03:06:15Z\u003c/SignedExpiry\u003e\u003cSignedService\u003eb\u003c/SignedService\u003e\u003cSignedVersion\u003e2018-11-09\u003c/SignedVersion\u003e\u003cValue\u003eVg/hoRWTWrJHXe3Ymfj32G6uCqS0IrdW3PSXBg05su4=\u003c/Value\u003e\u003c/UserDelegationKey\u003e"
    },
    {
      "RequestUri": "https://storageteglazatesting2.blob.core.windows.net/test-container-97bbb644-d94a-3893-1dad-3557aa65fbf2/test-blob-399f5c83-28b4-e560-0533-b74f2a4e6fea?sv=2018-11-09\u0026st=2019-07-17T01%3A06%3A15Z\u0026se=2019-07-17T03%3A06%3A15Z\u0026sr=c\u0026sp=racwdl\u0026skoid=dbfe680e-330c-4c7e-bb1c-5da5ef3ef1fd\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2019-07-17T02%3A06%3A15Z\u0026ske=2019-07-17T03%3A06%3A15Z\u0026sks=b\u0026skv=2018-11-09\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "f5NHvGsWZ5OTNpUbUGhsEQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D70A5B5996B29F\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:06:15 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Jul 2019 02:06:15 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storageteglazatesting2.blob.core.windows.net/test-container-97bbb644-d94a-3893-1dad-3557aa65fbf2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-07-16T19:06:15.7780150-07:00",
    "RandomSeed": "1045499766",
    "Storage_TestConfigOAuth": "OAuthTenant\nstorageteglazatesting2\nU2FuaXRpemVk\nhttps://storageteglazatesting2.blob.core.windows.net\nhttps://storageteglazatesting2.file.core.windows.net\nhttps://storageteglazatesting2.queue.core.windows.net\nhttps://storageteglazatesting2.table.core.windows.net\n\n\n\n\nhttps://storageteglazatesting2-secondary.blob.core.windows.net\n\nhttps://storageteglazatesting2-secondary.queue.core.windows.net\nhttps://storageteglazatesting2-secondary.table.core.windows.net\n5c8bb5b8-7dff-451b-b4d3-f0ee3752e9bb\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://storageteglazatesting2.blob.core.windows.net/;QueueEndpoint=https://storageteglazatesting2.queue.core.windows.net/;TableEndpoint=https://storageteglazatesting2.table.core.windows.net/;FileEndpoint=https://storageteglazatesting2.file.core.windows.net/;BlobSecondaryEndpoint=https://storageteglazatesting2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://storageteglazatesting2-secondary.queue.core.windows.net/;TableSecondaryEndpoint=https://storageteglazatesting2-secondary.table.core.windows.net/;AccountName=storageteglazatesting2;AccountKey=Sanitized"
  }
}