{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-b151ffcb-f620-b11b-cdd1-c0a6b2cd9eed?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 03:44:03 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEC5DEDE53F\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:44:03 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-b151ffcb-f620-b11b-cdd1-c0a6b2cd9eed/test-blob-7d90dc27-77a3-dd81-1005-24c50bfd36d8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 11 Dec 2019 03:44:03 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "muj7JSXnHyB05ayMy3dYdF/3NX1peNTlr1Q4WWVN2Xtx22\u002BcoH8Ip25zSR4YUYgGHCy72h8oZyEUFXbRrsW6JgswGu8Hu9Tf7o0O9S\u002B2zV3LMj04kf9bSXNOiIoIN/mpuCIS5zeZ/2BY2\u002BuRGXHyXkgZBnyIgpUM1dF7uTNJ17eUZT0Mo\u002BUmMTLc4LYUyS8CWypC7zB8IDaNBhJlHUUsDgQz/bQ05rpi8tRJq6He9wuheV4JB\u002BeGGEQGfp3TwBTtr9Gx4Mx7znVv3/xcMnWUrg4Hw6PnIwccrORvLWcdjzG/XPzQLRY\u002BJqvpmSfqKuXPcs\u002BOzP1xB[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-b151ffcb-f620-b11b-cdd1-c0a6b2cd9eed/test-blob-7d90dc27-77a3-dd81-1005-24c50bfd36d8?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:44:03 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEC5DFA3E7D\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:44:03 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2019-12-11T03:44:03.9449463Z",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-b151ffcb-f620-b11b-cdd1-c0a6b2cd9eed/test-blob-7d90dc27-77a3-dd81-1005-24c50bfd36d8?snapshot=2019-12-11T03%3A44%3A03.9449463Z\u0026sv=2019-07-07\u0026st=2019-12-11T02%3A44%3A04Z\u0026se=2019-12-11T04%3A44%3A04Z\u0026sr=bs\u0026sp=rwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "LIlU4w7TzUBWIQ8h15erGQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77DEC5DFA3E7D\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:44:03 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 11 Dec 2019 03:44:03 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-b151ffcb-f620-b11b-cdd1-c0a6b2cd9eed?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:44:04 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-12-10T19:44:04.0166730-08:00",
    "RandomSeed": "932605837",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}