{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-edf4c6bc-11ed-46ea-aee8-6dabfe4a628a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:20 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FD8154AC1CA0\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 17:35:23 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-edf4c6bc-11ed-46ea-aee8-6dabfe4a628a/test-blob-f5da8a02-b239-c675-fbc0-bfd99fbba77d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:20 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "zx6qUgGr9H8\u002bd6XLiquGO892qHRwbVDSoiuk4H2v3It6CnChx8b2V5VatsEMqjtQOoQKKRMzDGHN2K/VBxMCj5oZUH865XQIf1HeFbaPxfjvVKb4pLN4R/0O0\u002b4XIE\u002bBWCcm81q8FVQPAanCVPerPhO35bNtCernoQmCLBKF8V4BXLyPaNKdMz5R6aIJtvIFY5TbXzucFE88P1JQOelCihBLwPc6HNZBGbJ0GyBH3eoXfMl\u002bqZEjZEhtUih/TfpVDl6SvvX6y0a9mkaJKPgu9GFnObwfxOF\u002bJ1yvzMmuwcy3HwzBtR71HbGCwA9LmjxPP17GGBM9NUp9E5eYSv5[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-edf4c6bc-11ed-46ea-aee8-6dabfe4a628a/test-blob-f5da8a02-b239-c675-fbc0-bfd99fbba77d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:20 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "mwOLarYQgMJj73X3kz\u002bOmw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D6FD8154AEAFFC\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 17:35:23 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sun, 30 Jun 2019 17:35:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-a0e08e7c-7bbe-2a30-845d-ce38481c7f39/test-blob-48721649-f515-b2cc-747b-05fec7b0410f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Sat, 29 Jun 2019 17:35:20 GMT",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:20 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ZULlBGhX4YSeN1MVntCydQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D6FD8154B8EBAF\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 17:35:23 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sun, 30 Jun 2019 17:35:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-3dadbc6e-8ba1-54be-957a-7532ac0004d1/test-blob-5ecb27af-218d-a05e-3cab-302c93a55dd8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Mon, 01 Jul 2019 17:35:20 GMT",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:20 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "z\u002b1HnWqr0E9LWntInjqfuA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D6FD8154C263E6\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 17:35:23 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sun, 30 Jun 2019 17:35:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-a2fee569-9812-3e23-258b-240765a2c96a/test-blob-d61e9cda-4c82-d914-4bc9-b939e1e6f9a1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D6FD8154CBB4FB\u0022",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:20 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "d1OGVglM/Xx\u002b7nfJFjZCyw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D6FD8154CBB4FB\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 17:35:23 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sun, 30 Jun 2019 17:35:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-ed3219e8-66f4-2a3b-73c3-9bdf49473306/test-blob-721c057e-2d8d-949e-aec3-a5ebafee707f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:20 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "svtA79lH1P\u002b4viDrhCHxKg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D6FD8154D7C5E1\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 17:35:23 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sun, 30 Jun 2019 17:35:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-3b7bd8ae-638f-fd51-0f2c-7ab2f7675d13/test-blob-67cd3827-f7bc-26fd-37ed-95b1afcf344d?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:20 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "3374bf35-ecd6-9b79-9c72-5c2a951cea0a",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FD8154E0C8D0\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 17:35:23 GMT",
        "x-ms-lease-id": "3374bf35-ecd6-9b79-9c72-5c2a951cea0a",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-3b7bd8ae-638f-fd51-0f2c-7ab2f7675d13?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:20 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-06-30T10:35:20.3049288-07:00",
    "RandomSeed": "119446236"
  }
}