{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-a642b2a7-0590-a5f4-f360-5d9ddbdd35dd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 03 Apr 2020 21:58:58 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D81A353B25B7\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 21:58:57 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-a642b2a7-0590-a5f4-f360-5d9ddbdd35dd/test-blob-bc2395c1-5166-1063-8c7e-702324e6363a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 03 Apr 2020 21:58:58 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "JP15XQWLTWy56jfGTa8F\u002Bdoy0Qmt0qFqYYy/Gj0fd/JQR\u002BcsqVuscUzSNKwfX0rnL/ofaNF2i1JbDvt4zDMvmnNEdQbH2E9\u002BhmC92530SwJC1\u002BpC/w4h2ryV0JpfNKQYopo52upEH1aroOJwua\u002B0ZsP5NfRI7ZpkI5tJMQe0H1G7pDgDu3AY/biTll8ssCAM4WrWZv6w0LUA1LdO\u002Bu1P9oGQtRR3sKtT4Tg8tFY7OHJ6PFCd3bhTC9SCAue4yQPKRKDdm/oLlTC\u002Bg4TGcxtfxZtF072dsRjIPKpA9K7Dmhg0cnC1XZ13bqcf3lo0jZe4Iz1Mc/VFL[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-a642b2a7-0590-a5f4-f360-5d9ddbdd35dd?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Fri, 03 Apr 2020 21:58:58 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "\u003CSignedIdentifiers\u003E\u003CSignedIdentifier\u003E\u003CId\u003Evjryhefiabqymcnwcglm\u003C/Id\u003E\u003CAccessPolicy\u003E\u003CStart\u003E2020-04-03T20:58:58.6493183Z\u003C/Start\u003E\u003CExpiry\u003E2020-04-03T22:58:58.6493183Z\u003C/Expiry\u003E\u003CPermission\u003Erw\u003C/Permission\u003E\u003C/AccessPolicy\u003E\u003C/SignedIdentifier\u003E\u003C/SignedIdentifiers\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D81A3555868E\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 21:58:57 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-a642b2a7-0590-a5f4-f360-5d9ddbdd35dd/test-blob-bc2395c1-5166-1063-8c7e-702324e6363a?sv=2019-07-07\u0026si=vjryhefiabqymcnwcglm\u0026sr=b\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1/SQ81st5PuP7K\u002BVLdf8aA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D81A35488E09\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 21:58:57 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 03 Apr 2020 21:58:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-a642b2a7-0590-a5f4-f360-5d9ddbdd35dd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Apr 2020 21:58:59 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-03T14:58:58.6493183-07:00",
    "RandomSeed": "977609487",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}