{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-ea572f56-f0a9-2d57-a334-42e95c06ab17?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 20:59:32 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C1481AE7C62E\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:59:32 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-ea572f56-f0a9-2d57-a334-42e95c06ab17/test-blob-3b594fad-a5b5-850d-6cbc-34b45a09ae38",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 20:59:33 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "hQpt/eJligJlxgVe\u002BGrOPJsm\u002BC\u002Bl5Ab7OnIkuy381pKEEx2twiMqV6BiZGt6xri3BEFRlaui86ADccNwQM/Uae9z2uVMIHl4\u002B6GPQ4CbgHO6bLfsq0Hn4R98qVFfuhbQjfp7B\u002BzSa\u002BPH2ZkKE7AgaPFPtdMY6L6tjPjF0HYoGEGKvraGH3iH5wHTJdGn3c5vXEFfEARDuKU8zXv0DZpsnsFYf1T6mUh4yM7SRMLsBq8pVXM1yAc8RwUQSVH9k9lmZ4cQT115dcL550c2cHPiT8fMyrgnNtW5HDhP6U/2ejX0a9073LZRsOCxPOG/BdaRLfqKMcghPzCxVj[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-ea572f56-f0a9-2d57-a334-42e95c06ab17/test-blob-3b594fad-a5b5-850d-6cbc-34b45a09ae38?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 20:59:33 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C1481AF4652B\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:59:33 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2020-03-05T20:59:33.1064686Z",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-ea572f56-f0a9-2d57-a334-42e95c06ab17/test-blob-3b594fad-a5b5-850d-6cbc-34b45a09ae38?snapshot=2020-03-05T20%3A59%3A33.1064686Z\u0026sv=2019-10-10\u0026st=2020-03-05T19%3A59%3A33Z\u0026se=2020-03-05T21%3A59%3A33Z\u0026sr=bs\u0026sp=rwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "liBxYAqdCnbKy/fz2sseYQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C1481AF4652B\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:59:33 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 05 Mar 2020 20:59:33 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-snapshot": "2020-03-05T20:59:33.1064686Z",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-ea572f56-f0a9-2d57-a334-42e95c06ab17?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 20:59:33 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-03-05T12:59:33.2588862-08:00",
    "RandomSeed": "606173126",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}