{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-b9dfe985-d8d1-77c0-4b99-dd6c004b84e1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 03:45:42 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEC9880AF9C\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:45:42 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-b9dfe985-d8d1-77c0-4b99-dd6c004b84e1/test-blob-5fd4a77e-dc83-51e5-a8f1-84e279e4ad8f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 11 Dec 2019 03:45:42 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "602r4dr7HWIBierjoyGdQfjekL2lZZdl3MeENgrG9pah0tdnuxjLVp/cRm9vXgXi8M/mdU1AwIa2RgQSduZYO5JUQdFJNYXgEzodyR4n9n3CokU734BIYRFRsXUUuOC4gwvcGh0zmbtJBmESI/Znjk\u002BGT9OhHFwRC\u002BDA\u002BIQQzFtaZEUTSttgjwiK8dkfNT0a6SMljWkMF2euyw89c6E2OToGuL6wVENzJcDKFyqC8tWipQ5h6j7xTk3eZH/MIxtnU7ifGH1/apXfsmipQQA8K9g5ms6S1E77FWlx0u/DpwKkY8Nx49pXIzt5gTjWSA1NoTimkohN1X9qowMTDZemHAplBd49y[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-b9dfe985-d8d1-77c0-4b99-dd6c004b84e1/test-blob-5fd4a77e-dc83-51e5-a8f1-84e279e4ad8f?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:45:42 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEC988D2B49\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:45:42 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2019-12-11T03:45:42.2166873Z",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-b9dfe985-d8d1-77c0-4b99-dd6c004b84e1/test-blob-5fd4a77e-dc83-51e5-a8f1-84e279e4ad8f?snapshot=2019-12-11T03%3A45%3A42.2166873Z\u0026sv=2019-07-07\u0026st=2019-12-11T02%3A45%3A42Z\u0026se=2019-12-11T04%3A45%3A42Z\u0026sr=bs\u0026sp=rwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "8F0b9o/4H\u002BVyM3MD7kJm3g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77DEC988D2B49\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:45:42 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 11 Dec 2019 03:45:42 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-b9dfe985-d8d1-77c0-4b99-dd6c004b84e1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:45:42 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-12-10T19:45:42.2865750-08:00",
    "RandomSeed": "1177701553",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}