{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-e551fe9a-7675-26f2-e685-edda75960b1b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:24 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FD815710444E\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 17:35:27 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-e551fe9a-7675-26f2-e685-edda75960b1b/test-blob-c28d19a6-9954-03b6-4d58-4c605ef531d8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:24 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "nDgpBEmAUwBITZgcKpHH8VMVElMDyOFtXT4MCes7rdchxsQlyy2ORs6S\u002buygnyUkg7wmQGPig9NWu6YLdEkUDJ/A\u002bmPNoiUmhsuEcc31zL0Y54YvFW10PkPxzxCGg9KEfe5M4KXBV\u002bCWALqXXREFYe/p8ozD5PcyTLsg3NMVnwL5APPfqOwYVpClmRSy3eAx624gnZBGwZj3GpTpoXsNgGC3nV0eJrgC0Jz7Hkvif27a7/Bk9AFxsj5a6I5YLrUVlxi0\u002bj\u002bDEsW2Hsz0SqJNFJolD7KKqYxeRusfxD0pqqLm5ocyLoQvV9wqrtY1fWicDdPzMh8Diu6MVbRUY06[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-e551fe9a-7675-26f2-e685-edda75960b1b/test-blob-c28d19a6-9954-03b6-4d58-4c605ef531d8?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:24 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FD815712D8BC\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 17:35:27 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2019-06-30T17:35:27.3105438Z",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-e551fe9a-7675-26f2-e685-edda75960b1b/test-blob-c28d19a6-9954-03b6-4d58-4c605ef531d8?snapshot=2019-06-30T17%3A35%3A27.3105438Z\u0026sv=2018-11-09\u0026st=2019-06-30T16%3A35%3A24Z\u0026se=2019-06-30T18%3A35%3A24Z\u0026sr=bs\u0026sp=rwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "QTyaMrVrtM\u002bWXP/dYBI\u002bmg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D6FD815712D8BC\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 17:35:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sun, 30 Jun 2019 17:35:27 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-snapshot": "2019-06-30T17:35:27.3105438Z",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-e551fe9a-7675-26f2-e685-edda75960b1b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:24 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-06-30T10:35:24.3653017-07:00",
    "RandomSeed": "1506830688"
  }
}