{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-83e477ab-feb5-816b-949f-f02fe0d44963?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 31 Aug 2021 21:19:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96CC501824E2B\u0022",
        "Last-Modified": "Tue, 31 Aug 2021 21:19:23 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-83e477ab-feb5-816b-949f-f02fe0d44963/test-blob-97394910-4658-7e06-154a-8aa37a1587b3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 31 Aug 2021 21:19:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "GDzBAgxxdTtkXY/docyCyxOUfTgJrsyF12Nnh2d5Zz91JiK\u002BhzPps8zRdIlZKcOj46FY30rNdWpwPCupCu3T6/VQZ3qqxETfqspsNzlDK66fw6PFIIf0qLC4TksIP6je/YiTCcFI\u002BR9deTWAYD0wLBB9CkdJDctuW77K8XX41mohjTqxsCLsV8mEaKdSdEdyhyE6izVhlO\u002B8Ja0CfgipZKLKX9IDfnztkLJ\u002BxaUkG\u002Bd3V2lTvks1wPlL9Ip16tjB2gMFhxR0bwmlTPqC4s9JmAnGiyaeVaZWlZ7Zt4rxeKbaveqiHpPSAudgrnFQst0pAVuBrl6xI4RdrvJ2m7d[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-83e477ab-feb5-816b-949f-f02fe0d44963/test-blob-97394910-4658-7e06-154a-8aa37a1587b3?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 31 Aug 2021 21:19:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96CC50188BD90\u0022",
        "Last-Modified": "Tue, 31 Aug 2021 21:19:23 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2021-08-31T21:19:24.0181357Z",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2021-08-31T21:19:24.0191357Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-83e477ab-feb5-816b-949f-f02fe0d44963/test-blob-97394910-4658-7e06-154a-8aa37a1587b3?snapshot=2021-08-31T21%3A19%3A24.0181357Z\u0026sv=2022-11-02\u0026st=2021-08-31T20%3A19%3A24Z\u0026se=2021-08-31T22%3A19%3A24Z\u0026sr=bs\u0026sp=rwdyi\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "zznCxMh1/dAQoacinREa2g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D96CC50188BD90\u0022",
        "Last-Modified": "Tue, 31 Aug 2021 21:19:23 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 31 Aug 2021 21:19:23 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-83e477ab-feb5-816b-949f-f02fe0d44963?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 31 Aug 2021 21:19:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-08-31T16:19:24.7411038-05:00",
    "RandomSeed": "623915898",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}