{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-860cf1ec-0ab1-fd87-6950-0dc50a965335?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:00 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D37421CAAF44\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:45:00 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-860cf1ec-0ab1-fd87-6950-0dc50a965335/test-blob-3865b7b4-5073-42c3-65c6-a7296e3cfa8b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:00 GMT"
      },
      "RequestBody": "Th/vy0BNtvVsZrycr3rPwQsslkt4yXqEexSguJ5w02ttb8NWLLAvZwFvzAyUJpLq9uUeQaavEoWla08srP1X/JNQLz\u002B3eZVb/S5KCPxt71SBtcG4UpLFvV0\u002BsMFgA7sDGNB5RPdSM3xQwkR3ZQmIOHv6qvY7n6kAinHiecnT\u002B/lzRvAs9KtdLoJEZ49NTlhTtXhFZVnEx3kmeLmGcLqzfMdKAx4ZW0PPnXt09zcZsjwYjsNRjpWgr352Bnvy177HkevIAko6OVo0dcfdUNBCDMV8beH3Ye4xqlSfo1TI3ca9rGVMUa/x3lRoHRjOwl6uNPm2dWnczy/8l1j2mpYFbJcBIKNr9rsVi4\u002BNjkTVY\u002Bj18W5bEWhc4Nw2T[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-860cf1ec-0ab1-fd87-6950-0dc50a965335/test-blob-3865b7b4-5073-42c3-65c6-a7296e3cfa8b?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Archive",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:01 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-860cf1ec-0ab1-fd87-6950-0dc50a965335/test-blob-3865b7b4-5073-42c3-65c6-a7296e3cfa8b?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Hot",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:01 GMT",
        "x-ms-rehydrate-priority": "High"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-860cf1ec-0ab1-fd87-6950-0dc50a965335/test-blob-3865b7b4-5073-42c3-65c6-a7296e3cfa8b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:01 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ZgaYAcmvOPEjZD2slt5HoQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D37421D49E40\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:45:01 GMT",
        "x-ms-access-tier": "Archive",
        "x-ms-access-tier-change-time": "Wed, 17 Feb 2021 18:45:01 GMT",
        "x-ms-archive-status": "rehydrate-pending-to-hot",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:45:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:45:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-rehydrate-priority": "High",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:45:01.0174528Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-860cf1ec-0ab1-fd87-6950-0dc50a965335?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:01 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1681497403",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}