{
  "Entries": [
    {
      "RequestUri": "https://cdm03r01aversioning16.blob.core.windows.net/test-container-a642b2a7-0590-a5f4-f360-5d9ddbdd35dd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 25 Apr 2020 17:26:52 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E93DD80DE26B\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 17:26:52 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://cdm03r01aversioning16.blob.core.windows.net/test-container-a642b2a7-0590-a5f4-f360-5d9ddbdd35dd/test-blob-bc2395c1-5166-1063-8c7e-702324e6363a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 25 Apr 2020 17:26:52 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "JP15XQWLTWy56jfGTa8F\u002Bdoy0Qmt0qFqYYy/Gj0fd/JQR\u002BcsqVuscUzSNKwfX0rnL/ofaNF2i1JbDvt4zDMvmnNEdQbH2E9\u002BhmC92530SwJC1\u002BpC/w4h2ryV0JpfNKQYopo52upEH1aroOJwua\u002B0ZsP5NfRI7ZpkI5tJMQe0H1G7pDgDu3AY/biTll8ssCAM4WrWZv6w0LUA1LdO\u002Bu1P9oGQtRR3sKtT4Tg8tFY7OHJ6PFCd3bhTC9SCAue4yQPKRKDdm/oLlTC\u002Bg4TGcxtfxZtF072dsRjIPKpA9K7Dmhg0cnC1XZ13bqcf3lo0jZe4Iz1Mc/VFL[...]
    {
      "RequestUri": "https://cdm03r01aversioning16.blob.core.windows.net/test-container-a642b2a7-0590-a5f4-f360-5d9ddbdd35dd?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Sat, 25 Apr 2020 17:26:52 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "\u003CSignedIdentifiers\u003E\u003CSignedIdentifier\u003E\u003CId\u003Evjryhefiabqymcnwcglm\u003C/Id\u003E\u003CAccessPolicy\u003E\u003CStart\u003E2020-04-25T16:26:52.5752254Z\u003C/Start\u003E\u003CExpiry\u003E2020-04-25T18:26:52.5752254Z\u003C/Expiry\u003E\u003CPermission\u003Erw\u003C/Permission\u003E\u003C/AccessPolicy\u003E\u003C/SignedIdentifier\u003E\u003C/SignedIdentifiers\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E93DD82682B6\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 17:26:52 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://cdm03r01aversioning16.blob.core.windows.net/test-container-a642b2a7-0590-a5f4-f360-5d9ddbdd35dd/test-blob-bc2395c1-5166-1063-8c7e-702324e6363a?sv=2019-12-12\u0026si=vjryhefiabqymcnwcglm\u0026sr=b\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1/SQ81st5PuP7K\u002BVLdf8aA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7E93DD8174E2B\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 17:26:52 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 25 Apr 2020 17:26:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-04-25T17:26:52.3907390Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://cdm03r01aversioning16.blob.core.windows.net/test-container-a642b2a7-0590-a5f4-f360-5d9ddbdd35dd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 17:26:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-25T10:26:52.5752254-07:00",
    "RandomSeed": "977609487",
    "Storage_TestConfigDefault": "ProductionTenant\ncdm03r01aversioning16\nU2FuaXRpemVk\nhttps://cdm03r01aversioning16.blob.core.windows.net\nhttps://cdm03r01aversioning16.file.core.windows.net\nhttps://cdm03r01aversioning16.queue.core.windows.net\nhttps://cdm03r01aversioning16.table.core.windows.net\n\n\n\n\nhttps://cdm03r01aversioning16-secondary.blob.core.windows.net\nhttps://cdm03r01aversioning16-secondary.file.core.windows.net\nhttps://cdm03r01aversioning16-secondary.queue.core.windows.net\nhttps://cdm03r01aversioning16-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://cdm03r01aversioning16.blob.core.windows.net/;QueueEndpoint=https://cdm03r01aversioning16.queue.core.windows.net/;FileEndpoint=https://cdm03r01aversioning16.file.core.windows.net/;BlobSecondaryEndpoint=https://cdm03r01aversioning16-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://cdm03r01aversioning16-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://cdm03r01aversioning16-secondary.file.core.windows.net/;AccountName=cdm03r01aversioning16;AccountKey=Sanitized\nseanscope1"
  }
}