{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8be9ebc9-74aa-ea32-a28d-98d2ef18eefc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:10:26 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E93104AC3A\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:10:26 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8be9ebc9-74aa-ea32-a28d-98d2ef18eefc/test-blob-76899a63-0d3f-5433-0e8a-508f9f6ca241",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:10:26 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "rk\u002BV9IvUFzh0XZzpQc/z/m80Yq3YaAkvxzcKWdO3xV8=",
        "x-ms-encryption-key-sha256": "QjGbs/Lwf8Qn7U/P4Z5B/YYNtRGFQ1meudu8wwdOSTQ="
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E9311265F2\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:10:26 GMT",
        "x-ms-encryption-key-sha256": "QjGbs/Lwf8Qn7U/P4Z5B/YYNtRGFQ1meudu8wwdOSTQ=",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T02:10:26.5427442Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8be9ebc9-74aa-ea32-a28d-98d2ef18eefc/test-blob-76899a63-0d3f-5433-0e8a-508f9f6ca241",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:10:26 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "rk\u002BV9IvUFzh0XZzpQc/z/m80Yq3YaAkvxzcKWdO3xV8=",
        "x-ms-encryption-key-sha256": "QjGbs/Lwf8Qn7U/P4Z5B/YYNtRGFQ1meudu8wwdOSTQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2E9311265F2\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:10:26 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 02:10:26 GMT",
        "x-ms-encryption-key-sha256": "QjGbs/Lwf8Qn7U/P4Z5B/YYNtRGFQ1meudu8wwdOSTQ=",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T02:10:26.5427442Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8be9ebc9-74aa-ea32-a28d-98d2ef18eefc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:10:26 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "882883355",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}