{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-c3e145d3-2c6f-c0de-334a-92fa5e336dd5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:16 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1D166E51E\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:16 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-c3e145d3-2c6f-c0de-334a-92fa5e336dd5/test-blob-d2ba3b8d-7363-98c5-ffa3-b73b846643cb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:16 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "DfD1dBFR\u002bTu0M1lCnsv6VIIpbSN5mnHUCmm0TuBUKALpwgXV6VNXO0F\u002bHjAZgvk0qWK5W/kgUnJ\u002bIGmonapbYApXWNzFJWsu0THh\u002b3xBuohvgKV9m80JyXCTV8jqr56XIr0lwiodboP3ionHPlb2PGbhOB0F3sU9TY5sMs2iRCKTSti\u002bG/deUhEhhRBDQYoZnRpiCXeBkUP46HWbsTy1VUZnNPR\u002bNyBug\u002bUL41m1\u002bgwDUpWzPzqqEbiUxTOCwqHUbC/J2w2Wm2X584WRda7qQ\u002b5pl16nAhULvSM86XHt7MBDNncp6x7\u002bbbcvuU[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-c3e145d3-2c6f-c0de-334a-92fa5e336dd5/test-blob-d2ba3b8d-7363-98c5-ffa3-b73b846643cb",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:16 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "K7cDEkLG9bmuyPfNcmPong==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D706F1D16999D2\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:16 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 12 Jul 2019 17:53:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-c3e145d3-2c6f-c0de-334a-92fa5e336dd5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:16 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "190063824",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}