{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-b694e794-8f03-bcae-d8ba-95d2eeb353e0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:44:59 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75FDAE334B1\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:44:59 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-b694e794-8f03-bcae-d8ba-95d2eeb353e0/test-blob-1ef35341-7dd2-c588-3a4f-138d3dac94e9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:44:59 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "PyJvCpdY5QEy0pWYTwUXV29AwNT7XKDkWlXAqmq0S1MilWgK3Pt46G7y6//o8HY1N7we/Oy/7uOCi7BClzqWfYdBdrqdDXp0yNdmCXCh/Grfi3Oulk5nYqaEiFFKNlE0W214pnq8mCpBqTQUWeVz4I5GYgvH6Oc52RMTGIUpKZGGMa0CKFXwIvNIbOwZUwnAEafCBNNFbXOGP8xmqH\u002BlGICjjic4cLc5VkAYfnv6H4YKUwfdZiS9QMQ5fOmIiXp0o1RsdsXiiKHvia6TLe74jB9GXFV3x7Fb5U1i/vPOsMzFo9onjqjBKMpm7t12KhLWQfDKQi0l/NyiEJF3f4mtIdnhzokT0P53hDOKEdj[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-b694e794-8f03-bcae-d8ba-95d2eeb353e0/test-blob-1ef35341-7dd2-c588-3a4f-138d3dac94e9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:00 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "mwK2A89cmPSqijksNRlAeQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D75FDAF0D3E8\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:44:59 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Apr 2020 23:44:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-35e0bde6-cad4-96f5-179e-066ea28095a0/test-blob-0f71a2b8-938d-0619-34c6-7ccaa9ef867b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 01 Apr 2020 23:44:59 GMT",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:00 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "3IqUxTWYVQZ0V9rD/j\u002BTxQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D75FDB4BD5A0\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:44:59 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Apr 2020 23:44:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-ccb159bb-ac25-6687-0b13-fba76b7ecbd6/test-blob-0cd87ac8-8b74-050b-1034-21fcccb8bb7f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 03 Apr 2020 23:44:59 GMT",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:01 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "afVT9fmsuGhCVYtFFtMzoQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D75FDBA6FE6F\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:45:00 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Apr 2020 23:45:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-d38ed582-66d4-7e21-e873-7abc3b23de75/test-blob-db658e19-18fa-d95c-0c59-c56dc10eae99",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D7D75FDC02273E\u0022",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:01 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "vhIYKV7YlcN1OhnY7q9ZKQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D75FDC02273E\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:45:00 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Apr 2020 23:45:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-7afa8de8-b8de-4319-6b93-62199a8c14ba/test-blob-fe867cb2-4ee2-92a7-93c0-301cb75f986c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:02 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ngVWeP7dSvBSyXHijwR28g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D75FDC66A08C\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:45:01 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Apr 2020 23:45:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-c250de5e-704d-4a69-beec-a8a3fcc91b3d/test-blob-9c2b5b8a-83df-be05-4429-75ae3152a392?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:03 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "d8e1c71c-8ea7-1a4a-7a16-a17558ec0dc3",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75FDCC1A244\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:45:02 GMT",
        "x-ms-lease-id": "d8e1c71c-8ea7-1a4a-7a16-a17558ec0dc3",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-c250de5e-704d-4a69-beec-a8a3fcc91b3d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:03 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-02T16:44:59.6262848-07:00",
    "RandomSeed": "28405364",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}