{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-7978e14e-7382-bee9-06a5-40585247ad5f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:07 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75FDF7211B3\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:45:06 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-7978e14e-7382-bee9-06a5-40585247ad5f/test-blob-217dafd4-eaaa-68a9-3d5e-93415d4d9741",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:07 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "Df\u002Bjemyd/BEhKv0xUItr8XeqMD6ErYVLK3bYU4dqc3sY4BD9qGx8cyK2yJFrexOspEqrNHgiNGB5WE72xKmKt7aBGW97bUkLLrwczeT0369iK649vj8D9ayvg08dha95LBHa6WGkMTcAoAa7BWZ8hXiek5j6Tfh3fiPCzOn57qkNo6HSGfZOvfp2PB44SO9FMv7WfvEWft4YY2s94WROBrJcrWLEqmuCUNadhBHaPjY0fZrqI2\u002B39yXCubaLENyWKDVs3JqNgIeTVC4bePnNPiU0CWTKY\u002BNCpbY9AvG19z/5B1vbbmKbpvwSV85Am34r9HqQVgd3y8VRKTbjT36W3l3uIXCe8[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-7978e14e-7382-bee9-06a5-40585247ad5f/test-blob-217dafd4-eaaa-68a9-3d5e-93415d4d9741?sv=2019-10-10\u0026st=2020-04-02T22%3A45%3A07Z\u0026se=2020-04-03T00%3A45%3A07Z\u0026sr=b\u0026sp=racwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "vP3TGA\u002BbZEt1NRvunlS49Q==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D75FDF7F939C\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:45:06 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Apr 2020 23:45:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-7978e14e-7382-bee9-06a5-40585247ad5f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:08 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-02T16:45:07.7058690-07:00",
    "RandomSeed": "1370588073",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}