{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-651c85e8-23f1-9347-adfc-db8ae14a073c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 24 Jun 2020 17:29:56 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8186436E7FD98\u0022",
        "Last-Modified": "Wed, 24 Jun 2020 17:29:56 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-651c85e8-23f1-9347-adfc-db8ae14a073c/test-blob-bff8e821-ac69-dc33-cc86-d74612c3ae77",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 24 Jun 2020 17:29:56 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "n3dgPKGfO6nlyLvWsXkoqh7MYfw9nfp9csybeUIbOgjJ45/1g1CjgqxP2qDxXCtTXi0nRmKyOgF84srVA8JnyY2yDM3ZMifNKN9P7cNajBWgSBsV8/SmF6meeaCGzX7q6BATPlBdeisGWh2CY0w9Ila1NLunUtaYC/QkOrmGR1phZAWyRk3EQs7vD5nXJLRdYFdK0JnCQ5U6ejJbOT9yfxLCIf5Gi9sI8PLtt0M8wedAx9piPHbBniFvd8waaAiOfY\u002BGFAK2FtV7QeCm1YtS/rlLG3JlEEKbAYPc1hMO7YjpXjqztazkibAF5vuWGsmVHHkTz0yWKWxN6hN/2UDBbFNYvXZRn0gMZpLCYCl[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-651c85e8-23f1-9347-adfc-db8ae14a073c/test-blob-bff8e821-ac69-dc33-cc86-d74612c3ae77?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Archive",
        "x-ms-date": "Wed, 24 Jun 2020 17:29:57 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-651c85e8-23f1-9347-adfc-db8ae14a073c/test-blob-bff8e821-ac69-dc33-cc86-d74612c3ae77?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Hot",
        "x-ms-date": "Wed, 24 Jun 2020 17:29:57 GMT",
        "x-ms-rehydrate-priority": "Standard",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-651c85e8-23f1-9347-adfc-db8ae14a073c/test-blob-bff8e821-ac69-dc33-cc86-d74612c3ae77",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 24 Jun 2020 17:29:57 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "JWEpqpXnlXSBlzwheORNuw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D81864370914F7\u0022",
        "Last-Modified": "Wed, 24 Jun 2020 17:29:57 GMT",
        "x-ms-access-tier": "Archive",
        "x-ms-access-tier-change-time": "Wed, 24 Jun 2020 17:29:57 GMT",
        "x-ms-archive-status": "rehydrate-pending-to-hot",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 24 Jun 2020 17:29:57 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-rehydrate-priority": "Standard",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-06-24T17:29:57.2063479Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-651c85e8-23f1-9347-adfc-db8ae14a073c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 24 Jun 2020 17:29:57 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "787414729",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}