{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "response_type=token\u0026grant_type=client_credentials\u0026client_id=5c8bb5b8-7dff-451b-b4d3-f0ee3752e9bb\u0026client_secret=Sanitized\u0026scope=https%3A%2F%2Fstorage.azure.com%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 3600,
        "ext_expires_in": 3600,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://storageteglazatesting2.blob.core.windows.net/test-container-02929f36-90ea-5321-e197-5a7353149122?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1D300575F\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:19 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storageteglazatesting2.blob.core.windows.net/test-container-02929f36-90ea-5321-e197-5a7353149122/test-blob-2a1c3277-09bf-9b36-02df-1ced4d27e94c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "rg0SPjSdUC\u002bABs3rwiQjOXZy2rLXHalgRrOK20enoijNjGJrtSp1dUogS50y42pE0saUAVlU4pBksviBEnTo2WOlHjbCuIRM/WVot9EMLmNIRQmBEqHPeKnSBgMx82LVN3I5jcQzghpCSAP06yu/WISVOM1rZ8bC1qWM77GAGgoCkn9e0qCeFcLuPsqe2o1\u002bE65/nLuVadCsd7ceppJpwi758VirYIXj9iMKfSj8JPsYDtwCAH1PbSmuslrpgG4vhXybpeg00rIonKaXiuyor1O7BZi2ZsGwqYQv/K0r\u002bXW12/irYH4S5Dsp2mTWt\u002bM8BgIHLnvVeR676vtkBNUF/aIw4q/0/E/UqSBcjItd2vKh8/aqI8v632HZ8HWDruBmJNzBptUzSAmzMo[...]
    {
      "RequestUri": "https://storageteglazatesting2.blob.core.windows.net/test-container-02929f36-90ea-5321-e197-5a7353149122/test-blob-2a1c3277-09bf-9b36-02df-1ced4d27e94c?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1D303F4A3\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:19 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2019-07-12T17:53:19.3581494Z",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storageteglazatesting2.blob.core.windows.net/?restype=service\u0026comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": [
        "\u003cKeyInfo\u003e\r\n",
        "  \u003cExpiry\u003e2019-07-12T18:53:19Z\u003c/Expiry\u003e\r\n",
        "\u003c/KeyInfo\u003e"
      ],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cUserDelegationKey\u003e\u003cSignedOid\u003edbfe680e-330c-4c7e-bb1c-5da5ef3ef1fd\u003c/SignedOid\u003e\u003cSignedTid\u003e72f988bf-86f1-41af-91ab-2d7cd011db47\u003c/SignedTid\u003e\u003cSignedStart\u003e2019-07-12T17:53:19Z\u003c/SignedStart\u003e\u003cSignedExpiry\u003e2019-07-12T18:53:19Z\u003c/SignedExpiry\u003e\u003cSignedService\u003eb\u003c/SignedService\u003e\u003cSignedVersion\u003e2018-11-09\u003c/SignedVersion\u003e\u003cValue\u003eU09XDe\u002bL8QbxamtWIn6L\u002bqmeHFP/QcT/y0UhnDSEzns=\u003c/Value\u003e\u003c/UserDelegationKey\u003e"
    },
    {
      "RequestUri": "https://storageteglazatesting2.blob.core.windows.net/test-container-02929f36-90ea-5321-e197-5a7353149122/test-blob-2a1c3277-09bf-9b36-02df-1ced4d27e94c?snapshot=2019-07-12T17%3A53%3A19.3581494Z\u0026sv=2018-11-09\u0026st=2019-07-12T16%3A53%3A19Z\u0026se=2019-07-12T18%3A53%3A19Z\u0026sr=c\u0026sp=racwdl\u0026skoid=dbfe680e-330c-4c7e-bb1c-5da5ef3ef1fd\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2019-07-12T17%3A53%3A19Z\u0026ske=2019-07-12T18%3A53%3A19Z\u0026sks=b\u0026skv=2018-11-09\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "RhrMpWpsVb1WBgITbdGAvw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D706F1D303F4A3\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:19 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 12 Jul 2019 17:53:19 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-snapshot": "2019-07-12T17:53:19.3581494Z",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storageteglazatesting2.blob.core.windows.net/test-container-02929f36-90ea-5321-e197-5a7353149122?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-07-12T10:53:19.3846761-07:00",
    "RandomSeed": "1303777631",
    "Storage_TestConfigOAuth": "OAuthTenant\nstorageteglazatesting2\nU2FuaXRpemVk\nhttps://storageteglazatesting2.blob.core.windows.net\nhttps://storageteglazatesting2.file.core.windows.net\nhttps://storageteglazatesting2.queue.core.windows.net\nhttps://storageteglazatesting2.table.core.windows.net\n\n\n\n\nhttps://storageteglazatesting2-secondary.blob.core.windows.net\n\nhttps://storageteglazatesting2-secondary.queue.core.windows.net\nhttps://storageteglazatesting2-secondary.table.core.windows.net\n5c8bb5b8-7dff-451b-b4d3-f0ee3752e9bb\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://storageteglazatesting2.blob.core.windows.net/;QueueEndpoint=https://storageteglazatesting2.queue.core.windows.net/;TableEndpoint=https://storageteglazatesting2.table.core.windows.net/;FileEndpoint=https://storageteglazatesting2.file.core.windows.net/;BlobSecondaryEndpoint=https://storageteglazatesting2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://storageteglazatesting2-secondary.queue.core.windows.net/;TableSecondaryEndpoint=https://storageteglazatesting2-secondary.table.core.windows.net/;AccountName=storageteglazatesting2;AccountKey=Sanitized"
  }
}