{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-a9b8a254-1e05-f5a9-68ec-191302601566?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 24 Jan 2023 17:19:24 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFE2F242E1782\u0022",
        "Last-Modified": "Tue, 24 Jan 2023 17:19:25 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-a9b8a254-1e05-f5a9-68ec-191302601566/test-blob-9df782b0-aed3-132d-d377-fb41efb38ba8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 24 Jan 2023 17:19:24 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "W\u002BBG7iHkINcX9Rggbt6BTCyYROfJ82Ue5itezj8kORhTKpTeG6h1zGIfhd2VDKX09q8UVm6j32h6KAf2hlGY87wAzERJojCEIniFqW6HiNqFadePD\u002BKpsEosZPKgf0UQhpEhlD9hqlR/jzT1HTX58qAtcBx6CePZVxz5HD4\u002B46IydSPdZvOaJL6DEH\u002Bus5IVM3FScg8pln2tSD0jaI4VQKyRw6gSHIytk0td9vljKqOK4\u002BnM7HCTCd\u002BlLx21d7wwbc/THPDpAxflpd/Dy5\u002BESh6amISkSVQ7/rnJbO1v9xyPLYkpkA2yoODS50eRzz5AIeT/Gt43i[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-a9b8a254-1e05-f5a9-68ec-191302601566/test-blob-9df782b0-aed3-132d-d377-fb41efb38ba8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Jan 2023 17:19:24 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "\u002BX5NEo1xta6pJriqMdDlqA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAFE2F24346985\u0022",
        "Last-Modified": "Tue, 24 Jan 2023 17:19:25 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 24 Jan 2023 17:19:25 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-24T17:19:25.0689175Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-afd05d62-5e8e-5bbe-520a-f93070095304/test-blob-97d675be-55c9-1885-b32b-cd2048552169",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Mon, 23 Jan 2023 17:19:24 GMT",
        "x-ms-date": "Tue, 24 Jan 2023 17:19:24 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "vt7daxt\u002BXS/zmFVjrL7uaQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAFE2F244AD449\u0022",
        "Last-Modified": "Tue, 24 Jan 2023 17:19:25 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 24 Jan 2023 17:19:25 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-24T17:19:25.2148297Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-003daa07-062d-6f66-c951-0d4d54bec769/test-blob-d10b042d-329a-e9da-d96a-6ec752a4e2df",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Wed, 25 Jan 2023 17:19:24 GMT",
        "x-ms-date": "Tue, 24 Jan 2023 17:19:25 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ZNrW2VeGkbsZK3E4d\u002BZyZA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAFE2F24653607\u0022",
        "Last-Modified": "Tue, 24 Jan 2023 17:19:25 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 24 Jan 2023 17:19:25 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-24T17:19:25.3877255Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-5b21e2ce-47e5-fb6f-f4c5-ae5a30ce898b/test-blob-a63dff37-02b5-9d81-8ca5-0b2156db2b71",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DAFE2F2480A90B\u0022",
        "x-ms-date": "Tue, 24 Jan 2023 17:19:25 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "/zV2dsqkZZIf4hei5MPYoQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAFE2F2480A90B\u0022",
        "Last-Modified": "Tue, 24 Jan 2023 17:19:25 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 24 Jan 2023 17:19:25 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-24T17:19:25.5676171Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-57352c2c-82c2-b903-1875-e9c5ef5d45b2/test-blob-516fea4a-2c6a-45b1-c8ef-f39375a6b129",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Tue, 24 Jan 2023 17:19:25 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "spH\u002B40z8Pl47s8oVS5eecg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAFE2F24A1E78F\u0022",
        "Last-Modified": "Tue, 24 Jan 2023 17:19:25 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 24 Jan 2023 17:19:25 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-24T17:19:25.7854863Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6c457657-6f48-a13a-2f0f-63afee523261/test-blob-f41adff6-b6a7-b46d-101f-8c51c48b7d5d?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Jan 2023 17:19:25 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "bff89a77-263e-eb61-6502-04acfb72c8a1",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFE2F24BCE577\u0022",
        "Last-Modified": "Tue, 24 Jan 2023 17:19:25 GMT",
        "x-ms-lease-id": "bff89a77-263e-eb61-6502-04acfb72c8a1",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6c457657-6f48-a13a-2f0f-63afee523261?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Jan 2023 17:19:25 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-01-24T12:19:24.6239264-05:00",
    "RandomSeed": "569520033",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
