{
  "Entries": [
    {
      "RequestUri": "https://ortestsaccountcbn1.blob.core.windows.net/test1/netgetpropertiesors2blobapitestgetpropertiesors",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 07 May 2020 16:52:04 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "eyObQAWrMwC74Eh3CuRM2g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7E7D25C0F807B\u0022",
        "Last-Modified": "Thu, 23 Apr 2020 22:04:56 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 23 Apr 2020 22:04:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-or-fd2da1b9-56f5-45ff-9eb6-310e6dfc2c80_105f9aad-f39b-4064-8e47-ccd7937295ca": "complete",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-04-23T22:04:56.9882747Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://vbalaorcentral1.blob.core.windows.net/test2/netgetpropertiesors2blobapitestgetpropertiesors",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 07 May 2020 16:52:05 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "eyObQAWrMwC74Eh3CuRM2g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7E7D296E94236\u0022",
        "Last-Modified": "Thu, 23 Apr 2020 22:06:35 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Thu, 23 Apr 2020 22:06:35 GMT",
        "x-ms-copy-id": "028bc3e1-a2c9-4f14-8dd3-72772f99d681",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://ortestsaccountcbn1.blob.core.windows.net/test1/netgetpropertiesors2blobapitestgetpropertiesors?versionid=2020-04-23T22:04:56.9882747Z\u0026sv=2015-04-05\u0026ss=b\u0026srt=sco\u0026sp=rwdlacup\u0026se=2020-04-24T21%3A05%3A08.4913890Z\u0026spr=https",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Thu, 23 Apr 2020 22:06:35 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-or-policy-id": "fd2da1b9-56f5-45ff-9eb6-310e6dfc2c80",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "705597789",
    "Storage_TestConfigDefault": "ProductionTenant\nortestsaccountcbn1\nU2FuaXRpemVk\nhttps://ortestsaccountcbn1.blob.core.windows.net\nhttp://ortestsaccountcbn1.file.core.windows.net\nhttp://ortestsaccountcbn1.queue.core.windows.net\nhttp://ortestsaccountcbn1.table.core.windows.net\n\n\n\n\nhttp://ortestsaccountcbn1-secondary.blob.core.windows.net\nhttp://ortestsaccountcbn1-secondary.file.core.windows.net\nhttp://ortestsaccountcbn1-secondary.queue.core.windows.net\nhttp://ortestsaccountcbn1-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://ortestsaccountcbn1.blob.core.windows.net/;QueueEndpoint=http://ortestsaccountcbn1.queue.core.windows.net/;FileEndpoint=http://ortestsaccountcbn1.file.core.windows.net/;BlobSecondaryEndpoint=http://ortestsaccountcbn1-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://ortestsaccountcbn1-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://ortestsaccountcbn1-secondary.file.core.windows.net/;AccountName=ortestsaccountcbn1;AccountKey=Sanitized\n",
    "Storage_TestConfigSecondary": "SecondaryTenant\nvbalaorcentral1\nU2FuaXRpemVk\nhttps://vbalaorcentral1.blob.core.windows.net\nhttp://vbalaorcentral1.file.core.windows.net\nhttp://vbalaorcentral1.queue.core.windows.net\nhttp://vbalaorcentral1.table.core.windows.net\n\n\n\n\nhttp://vbalaorcentral1-secondary.blob.core.windows.net\nhttp://vbalaorcentral1-secondary.file.core.windows.net\nhttp://vbalaorcentral1-secondary.queue.core.windows.net\nhttp://vbalaorcentral1-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://vbalaorcentral1.blob.core.windows.net/;QueueEndpoint=http://vbalaorcentral1.queue.core.windows.net/;FileEndpoint=http://vbalaorcentral1.file.core.windows.net/;BlobSecondaryEndpoint=http://vbalaorcentral1-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://vbalaorcentral1-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://vbalaorcentral1-secondary.file.core.windows.net/;AccountName=vbalaorcentral1;AccountKey=Sanitized\n"
  }
}