{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-225183da-93d4-7afa-440b-dff73b3070c7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 04 Aug 2020 18:23:18 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D838A3769CCCEF\u0022",
        "Last-Modified": "Tue, 04 Aug 2020 18:23:19 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-225183da-93d4-7afa-440b-dff73b3070c7/test-blob-742fa90a-530f-d2a5-9e69-4b739e53cb51",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 04 Aug 2020 18:23:19 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u002BIrzA48AAQxux7o7ALEuPf3MnAbDnkawks3RXC5pD6Sftjsvpl\u002BYCqciBUeZadLtOg120rbFjVpEQ3HCLqTeBbcVm0l1/pedM5JeoJn\u002BFij75CIh8jzu2inh62Pu1twCRP\u002BPg82Idzx22Z4kZuzARSxIxkqCvBN7J8EglBI0rl21W1uZbpNacmzlqhmeyXM8IKU2pQ\u002BSgIjsFFsMaOMpQipBbgqQJ9eY7lTdnRL63F1N43Rt/QlNI9vTrVk4TgmJu2juXVtpq/jOnbe7tOJ28jj9voVuvEQh80svvXp\u002BYKBKVOGpC38C5Dd7nl9Skm74XbshOo\u002BEG[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-225183da-93d4-7afa-440b-dff73b3070c7/test-blob-742fa90a-530f-d2a5-9e69-4b739e53cb51",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Aug 2020 18:23:19 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "L2cLbVZf402GVvrCqAbaAQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D838A376A3566E\u0022",
        "Last-Modified": "Tue, 04 Aug 2020 18:23:19 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 04 Aug 2020 18:23:19 GMT",
        "x-ms-last-access-time": "Tue, 04 Aug 2020 18:23:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-225183da-93d4-7afa-440b-dff73b3070c7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Aug 2020 18:23:19 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "750340683",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}