{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-e2897e3d-b976-13b2-1132-210e4b66925f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:20 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FD8154F0FE8E\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 17:35:23 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-e2897e3d-b976-13b2-1132-210e4b66925f/test-blob-09e79191-b682-de64-e8f1-943c9ee9765d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:20 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "HQ2FPO2IkeHhhc85T1whVckWfLl/idyOSBVNSMdgZSnGDDnkNi0dCQAFJ/3mKo6L0D5ziGy83ZQx9vPYO0kagB\u002bmc0MjPB\u002bb\u002bHO5emHeqB2GwXeI7d29CS6ksz85RM226qfeQLdLaJQf14/5A2MzU07WUnrRkpNC6WkUfojfYrSmAo\u002b5/2dmO1jjaRZNwwbLcWDwY/JT5VgTnFdNNuoLP3XbUgDTeVPmbxYh7il99CViSQwn7v/BUh03pmMQGAVt1ymhcnAF9/gNCfPbMfYvlqgy6\u002bzd41F1GQDjnNPv1lcRsxb/24G0XVITGuQM5SEmBw\u002b73i0Yj/PYK1[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-e2897e3d-b976-13b2-1132-210e4b66925f/test-blob-09e79191-b682-de64-e8f1-943c9ee9765d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Mon, 01 Jul 2019 17:35:20 GMT",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:20 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-dae8c910-532b-ff6b-88ed-4a2bbdd3064c/test-blob-63a8dbe7-2710-714a-d196-60356a14c160",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sat, 29 Jun 2019 17:35:20 GMT",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:20 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-cad239e1-140d-f0cd-92e2-2cd36101f39c/test-blob-6984ee5d-8d52-a732-c83d-8c0724539169",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:20 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-cdc05e51-3fc6-b415-e5b4-d5687e1c6af9/test-blob-7bdb64a5-cdfd-9ea8-d9cc-f19925cd165d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:20 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1KGn082LMNksHsIFMRZddQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D6FD81551021CF\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 17:35:23 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sun, 30 Jun 2019 17:35:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-cdc05e51-3fc6-b415-e5b4-d5687e1c6af9/test-blob-7bdb64a5-cdfd-9ea8-d9cc-f19925cd165d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u00220x8D6FD81551021CF\u0022",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:20 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-095c5063-92db-b9bd-a496-a283a031b005/test-blob-5083898f-5e88-3670-2ee5-07c295f108d4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:21 GMT",
        "x-ms-lease-id": "a6059b97-c06e-c1f7-c3af-6ccae8e1bdcb",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-095c5063-92db-b9bd-a496-a283a031b005?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 30 Jun 2019 17:35:21 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-06-30T10:35:20.7566209-07:00",
    "RandomSeed": "811838019"
  }
}