{
  "Entries": [
    {
      "RequestUri": "https://seanoauthcanary.blob.core.windows.net/test-container-0df84d96-a2db-cd8b-9492-36f655875ee2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D3750B2AABC2\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:51:32 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthcanary.blob.core.windows.net/test-container-0df84d96-a2db-cd8b-9492-36f655875ee2/test-blob-3d6791ee-11fd-fbd9-392a-37e36b9f6382",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "HF8odhGwl9Vo0nDWaZlFxLLd4tGVqwKEm/G544LLTD3OCrnlpWuEPfmS1CqgA5Gf5HIxjryR7HBdo9of97RSnYUzCF7gYB5HWKXYA9bX5JhfGf4Qmr6APB5IhwKQZUZEPzekbPoyv4NU6jUXueiahb5Bv922QgPHsstAl9gctvNfk8OfMnedLVl6vK+IaYM1rgJDTqVojv003bkv8SiqNzNCtyYk+lNGpJKDO4ZTPkhIC+jW2WhN9gTGalW9bjsx0IR7RrJcELOu/KoT5FN34Z5x5uZA1F3L9cAhXpD+iDVXUmsB1/eW6/s0J9y9OhKwTom2TIdU8PwmsFHxOrEjsHN0u5HodQmm2vvrC6yADruucA8HSDyuAmFu2iempbBJEXdpSH6AyNh/D3KMaeRPpaKWQsmhHGg3xr[...]
    {
      "RequestUri": "https://seanoauthcanary.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "﻿<KeyInfo><Expiry>2021-02-17T19:51:32Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>c4f48289-bb84-4086-b250-6f94a8f64cee</SignedOid><SignedTid>72f988bf-86f1-41af-91ab-2d7cd011db47</SignedTid><SignedStart>2021-02-17T18:51:32Z</SignedStart><SignedExpiry>2021-02-17T19:51:32Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2020-06-12</SignedVersion><Value>FMcxjzrcSZIfdzlNP2CmSL2gXbXz63L3rcd7vDuKTNE=</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://seanoauthcanary.blob.core.windows.net/test-container-0df84d96-a2db-cd8b-9492-36f655875ee2/test-blob-3d6791ee-11fd-fbd9-392a-37e36b9f6382?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2021-02-17T18%3A51%3A32Z&ske=2021-02-17T19%3A51%3A32Z&sks=b&skv=2020-06-12&sv=2022-11-02&st=2021-02-17T17%3A51%3A32Z&se=2021-02-17T19%3A51%3A32Z&sr=c&sp=t&sig=Sanitized&comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "﻿<Tags><TagSet><Tag><Key>tagKey0</Key><Value>tagValue0</Value></Tag><Tag><Key>tagKey1</Key><Value>tagValue1</Value></Tag></TagSet></Tags>",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanoauthcanary.blob.core.windows.net/test-container-0df84d96-a2db-cd8b-9492-36f655875ee2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T12:51:32.5688998-06:00",
    "RandomSeed": "1563140891",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanoauthcanary\nU2FuaXRpemVk\nhttps://seanoauthcanary.blob.core.windows.net\nhttps://seanoauthcanary.file.core.windows.net\nhttps://seanoauthcanary.queue.core.windows.net\nhttps://seanoauthcanary.table.core.windows.net\n\n\n\n\nhttps://seanoauthcanary-secondary.blob.core.windows.net\nhttps://seanoauthcanary-secondary.file.core.windows.net\nhttps://seanoauthcanary-secondary.queue.core.windows.net\nhttps://seanoauthcanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanoauthcanary.blob.core.windows.net/;QueueEndpoint=https://seanoauthcanary.queue.core.windows.net/;FileEndpoint=https://seanoauthcanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanoauthcanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanoauthcanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanoauthcanary-secondary.file.core.windows.net/;AccountName=seanoauthcanary;AccountKey=Sanitized\n\n\n"
  }
}