{
  "Entries": [
    {
      "RequestUri": "https://blobindex1.blob.core.windows.net/test-container-eb6f0872-2fb4-1e9d-92dc-fbf299518572?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 17 Apr 2020 22:01:48 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E31AED029688\u0022",
        "Last-Modified": "Fri, 17 Apr 2020 22:01:48 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://blobindex1.blob.core.windows.net/test-container-eb6f0872-2fb4-1e9d-92dc-fbf299518572/test-blob-d472fea8-8bb3-1038-b93f-6e08bd259719",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 17 Apr 2020 22:01:48 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "YenpMtabDbJ7g7hBJrwItJ5lz4gGpl99LmsvJKeT1z9NIjA\u002B39o1DfHAWDDT9un9N7ppV1UOE7uKbARra\u002BgK6Kt48wOMytTEL8GXRU4uqTiBMu3tKYDpPw91s3PWyqIJtm\u002BEWwLlcW3lpSeTd81sW8LL6Tj6Hb4rjrT0FhZh7mQfjo/eqk42m8GACIRYVchBCFiwCuFpDpixWc1N8VpXhLfCdOg9jrF0lU53ehU50jjrsg29sOODtn/3LVCA6KpmKYPNleHfBHqnPHST8ZSDd4aVYj5MmdPTP71pRmBg862jEVCRbD1WDK6TFnRu8MXrc7XK64VrGo\u002Bw\u002BlYkdr0[...]
    {
      "RequestUri": "https://blobindex1.blob.core.windows.net/test-container-eb6f0872-2fb4-1e9d-92dc-fbf299518572/test-blob-d472fea8-8bb3-1038-b93f-6e08bd259719?versionid=2020-04-17T21:55:48.6692074Z\u0026comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Fri, 17 Apr 2020 22:01:48 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EtagKey0\u003C/Key\u003E\u003CValue\u003EtagValue0\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003EtagKey1\u003C/Key\u003E\u003CValue\u003EtagValue1\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E",
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003EBlobNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified blob does not exist.\n",
        "RequestId:e925e360-701e-0041-1f03-151544000000\n",
        "Time:2020-04-17T22:01:48.3660930Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://blobindex1.blob.core.windows.net/test-container-eb6f0872-2fb4-1e9d-92dc-fbf299518572?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Apr 2020 22:01:49 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1450458211",
    "Storage_TestConfigDefault": "ProductionTenant\nblobindex1\nU2FuaXRpemVk\nhttps://blobindex1.blob.core.windows.net\nhttps://blobindex1.file.core.windows.net\nhttps://blobindex1.queue.core.windows.net\nhttps://blobindex1.table.core.windows.net\n\n\n\n\nhttps://blobindex1-secondary.blob.core.windows.net\nhttps://blobindex1-secondary.file.core.windows.net\nhttps://blobindex1-secondary.queue.core.windows.net\nhttps://blobindex1-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://blobindex1.blob.core.windows.net/;QueueEndpoint=https://blobindex1.queue.core.windows.net/;FileEndpoint=https://blobindex1.file.core.windows.net/;BlobSecondaryEndpoint=https://blobindex1-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blobindex1-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blobindex1-secondary.file.core.windows.net/;AccountName=blobindex1;AccountKey=Sanitized\nseanscope1"
  }
}