{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9b031c44-4e8c-cc71-2d38-16fd966c0639?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 23 Oct 2020 19:04:57 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8778687D5E4B2\u0022",
        "Last-Modified": "Fri, 23 Oct 2020 19:04:56 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9b031c44-4e8c-cc71-2d38-16fd966c0639/test-blob-693af881-8053-6f50-7579-f14d27fed54f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 23 Oct 2020 19:04:57 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "clz2tPtoIufYx0KHXD/mZHgL8P6jW2eFkAEonQAnYVdKKPRHThAgGdZTkIw\u002ByRM2k4zVHA7XrBf1cCP6P4TnsWXrPTNKnhZo6tYnUMvbR8fu8QlzUkRIcnzdUt3sJdpSbN8mU4zf6/R2bDE3r1tLGSlcDE16c18hosq2bUw4e8X81eTrtPM7DgYV/OUSEMMhkTizkBmM1/iABbDCKX6oPfBsO9l3YGU2IP1HZXd5DpEGldwUheurcP7sa69DeeWIbb71ptXpqTHTfW8bRHGABvceu5Ohk7gEwcrbivS18qcYv/i4hGi7HeyrQQd8jyyMa2W4JL1S5tkG8OQLDR48HYrHA4R5yIKOYp6n9lK[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9b031c44-4e8c-cc71-2d38-16fd966c0639/test-blob-693af881-8053-6f50-7579-f14d27fed54f?sv=2020-04-08\u0026ss=b\u0026srt=sco\u0026st=2020-10-23T18%3A04%3A57Z\u0026se=2020-10-23T20%3A04%3A57Z\u0026sp=rwdxylacuptf\u0026sig=Sanitized\u0026comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EtagKey0\u003C/Key\u003E\u003CValue\u003EtagValue0\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003EtagKey1\u003C/Key\u003E\u003CValue\u003EtagValue1\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9b031c44-4e8c-cc71-2d38-16fd966c0639?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 23 Oct 2020 19:04:57 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-10-23T14:04:57.5064972-05:00",
    "RandomSeed": "64794343",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}