{
  "Entries": [
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-f88762c6-d94f-40fa-b4ad-ab408fef5bef?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 02 Apr 2021 17:21:46 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8F5FBCAC79010\u0022",
        "Last-Modified": "Fri, 02 Apr 2021 17:21:46 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-f88762c6-d94f-40fa-b4ad-ab408fef5bef/test-blob-619e56b5-4824-d38d-11b9-b6bde9154612",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 02 Apr 2021 17:21:46 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": "3qBaAT8Z6lIRpnRHpR0HMDqZL6MCbuWeANwxTG2kjyY6OlQltVUVnGxLT33TRS3zsoWCT\u002BaiD3C7vABj553lbRdODWvJ4Xvkg5I2tx9ny7uvPZnnIT9AlyrjavlVsrTOZuFmhDfCKtAKnsxTbFhRU/FEs6oE/UvYDXVA5XeBj9DeZ1A9AUaD7BLJ3INz7SvRkhcIEP4KymmWjnfBgUVZiQ77dQQIFFGrwceXOiDHZSBKb1JgeX7S05znpnPOwWrNcFN1eHgmyH3FXU83cpBIzilXdxLy\u002BRCPKaFnIW3e3P9cysrNUu2nJKbVmhsvmmAMntdKd0pY2ndC5U7WvqcQ5oBQ26jFenw8r1[...]
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-f88762c6-d94f-40fa-b4ad-ab408fef5bef/test-blob-619e56b5-4824-d38d-11b9-b6bde9154612?sv=2020-06-12\u0026ss=b\u0026srt=sco\u0026st=2021-04-02T16%3A21%3A46Z\u0026se=2021-04-02T18%3A21%3A46Z\u0026sp=rwdxlacuptfi\u0026sig=Sanitized\u0026comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": "\uFEFF\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EtagKey0\u003C/Key\u003E\u003CValue\u003EtagValue0\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003EtagKey1\u003C/Key\u003E\u003CValue\u003EtagValue1\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-f88762c6-d94f-40fa-b4ad-ab408fef5bef?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 02 Apr 2021 17:21:46 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-04-02T12:21:46.3866397-05:00",
    "RandomSeed": "250087561",
    "Storage_TestConfigDefault": "ProductionTenant\nseanoauthstage\nU2FuaXRpemVk\nhttps://seanoauthstage.blob.core.windows.net\nhttps://seanoauthstage.file.core.windows.net\nhttps://seanoauthstage.queue.core.windows.net\nhttps://seanoauthstage.table.core.windows.net\n\n\n\n\nhttps://seanoauthstage-secondary.blob.core.windows.net\nhttps://seanoauthstage-secondary.file.core.windows.net\nhttps://seanoauthstage-secondary.queue.core.windows.net\nhttps://seanoauthstage-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanoauthstage.blob.core.windows.net/;QueueEndpoint=https://seanoauthstage.queue.core.windows.net/;FileEndpoint=https://seanoauthstage.file.core.windows.net/;BlobSecondaryEndpoint=https://seanoauthstage-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanoauthstage-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanoauthstage-secondary.file.core.windows.net/;AccountName=seanoauthstage;AccountKey=Kg==;\n"
  }
}