{
  "Entries": [
    {
      "RequestUri": "https://seanoauthcanary.blob.core.windows.net/test-container-6e45fb76-2342-1ed4-da84-b96981da547c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D823C53F9794F6\u0022",
        "Last-Modified": "Thu, 09 Jul 2020 05:02:15 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthcanary.blob.core.windows.net/test-container-6e45fb76-2342-1ed4-da84-b96981da547c/test-blob-bf98dbae-ba6f-2ebf-4010-6b2aa50b3749",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "M6a0oXuh8FoPLR2B3j5ukdtqw/dl8ldxRAbz3QuGl3ED3ioPQNauDes\u002Br0GcPVACodlPO0hA5EFPQl10rRJPiZasfQAUXlEFu7YLJ0IV1Aa28TsxN1wow/rowP14OmDZ7iar8MBQ7UOHSYCSNLz\u002BOW5WvrvXHVE5g7oFK55UjIFVMTgbaeNGZQP4qu7clo496oaPInukAdHUcm0FSsKlM7z/PAKE4s\u002BKD1i333NjXewryEEXxWoFsTBmRvd1QRtBU3Yx3VqLuAe2BBMi7SJecRSB2YKBjW1S\u002BYvSHpzXFM49doz8MoCRnw86YMBW4sMNCNXj9GeYv8UJ3uPPuJpr3/BE5XeWYj\u002BU7zpyRyyt\u002BxfHxRXG9B9npLbG81Ocwed1zoHQ[...]
    {
      "RequestUri": "https://seanoauthcanary.blob.core.windows.net/?restype=service\u0026comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u003CKeyInfo\u003E\u003CExpiry\u003E2020-07-09T06:02:15Z\u003C/Expiry\u003E\u003C/KeyInfo\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CUserDelegationKey\u003E\u003CSignedOid\u003Ec4f48289-bb84-4086-b250-6f94a8f64cee\u003C/SignedOid\u003E\u003CSignedTid\u003E72f988bf-86f1-41af-91ab-2d7cd011db47\u003C/SignedTid\u003E\u003CSignedStart\u003E2020-07-09T05:02:15Z\u003C/SignedStart\u003E\u003CSignedExpiry\u003E2020-07-09T06:02:15Z\u003C/SignedExpiry\u003E\u003CSignedService\u003Eb\u003C/SignedService\u003E\u003CSignedVersion\u003E2019-12-12\u003C/SignedVersion\u003E\u003CValue\u003EUB5\u002BEQeKYljxgEnGVC9HFG5HiW5CgfyQ32ToroEymT8=\u003C/Value\u003E\u003C/UserDelegationKey\u003E"
    },
    {
      "RequestUri": "https://seanoauthcanary.blob.core.windows.net/test-container-6e45fb76-2342-1ed4-da84-b96981da547c/test-blob-bf98dbae-ba6f-2ebf-4010-6b2aa50b3749?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2020-07-09T05%3A02%3A15Z\u0026ske=2020-07-09T06%3A02%3A15Z\u0026sks=b\u0026skv=2019-12-12\u0026sv=2020-04-08\u0026st=2020-07-09T04%3A02%3A15Z\u0026se=2020-07-09T06%3A02%3A15Z\u0026sr=c\u0026sp=r\u0026sig=Sanitized\u0026comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EtagKey0\u003C/Key\u003E\u003CValue\u003EtagValue0\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003EtagKey1\u003C/Key\u003E\u003CValue\u003EtagValue1\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E",
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationPermissionMismatch",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003EAuthorizationPermissionMismatch\u003C/Code\u003E\u003CMessage\u003EThis request is not authorized to perform this operation using this permission.\n",
        "RequestId:a30f7ba4-001e-000e-30ae-550c19000000\n",
        "Time:2020-07-09T05:02:16.1169630Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanoauthcanary.blob.core.windows.net/test-container-6e45fb76-2342-1ed4-da84-b96981da547c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-07-08T22:02:15.6964138-07:00",
    "RandomSeed": "1280122239",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanoauthcanary\nU2FuaXRpemVk\nhttps://seanoauthcanary.blob.core.windows.net\nhttps://seanoauthcanary.file.core.windows.net\nhttps://seanoauthcanary.queue.core.windows.net\nhttps://seanoauthcanary.table.core.windows.net\n\n\n\n\nhttps://seanoauthcanary-secondary.blob.core.windows.net\nhttps://seanoauthcanary-secondary.file.core.windows.net\nhttps://seanoauthcanary-secondary.queue.core.windows.net\nhttps://seanoauthcanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanoauthcanary.blob.core.windows.net/;QueueEndpoint=https://seanoauthcanary.queue.core.windows.net/;FileEndpoint=https://seanoauthcanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanoauthcanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanoauthcanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanoauthcanary-secondary.file.core.windows.net/;AccountName=seanoauthcanary;AccountKey=Sanitized\n"
  }
}