{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3ddaef62-cc57-b191-9b7f-d772422a450d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:08:04 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E8DCE6AB6E\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:08:05 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3ddaef62-cc57-b191-9b7f-d772422a450d/test-blob-9daf1933-e1b4-dedd-274a-c427010fe985",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:08:05 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "x048JrDZvefxUCPa2pewd45ATq5mGtRUPptEBQ4PwQN/JGiRxXvaWVvHrGO\u002BAgOPmUyYwMA7H6155\u002BcUlLfZ4Y8fW7UvHrISZfRSnm1xljyXtGzBdwBCQwW7GN2UxcWj7srUnqZOYHuZhVrL6IA/B1CqfeBLF2qO3BewcwXVfqAvr6\u002BjnfeVSVTxJ/GmdluFfBCN6UjlV9dfRcKOnex1xAe6nDnQm2pZFDOLWu956GW8K/f1SJRXSlfYQ1g1BqtnfGLp69ohtOCmM9UUWf3n5lxc0XL0gHxzYlHi\u002BFgSJA2HI96Nj/yLm3YXThS/Q/FZ8Fz72DU5c/zmdoiJP7yHlA/HjDUfWldf0Tb73TFotB9fiAf7FkvYTrDiphlzAly6j7oE97a8OpYFmwf\u[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3ddaef62-cc57-b191-9b7f-d772422a450d/test-blob-9daf1933-e1b4-dedd-274a-c427010fe985?sv=2020-06-12\u0026ss=b\u0026srt=sco\u0026st=2021-02-17T01%3A08%3A05Z\u0026se=2021-02-17T03%3A08%3A05Z\u0026sp=t\u0026sig=Sanitized\u0026comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "\uFEFF\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EtagKey0\u003C/Key\u003E\u003CValue\u003EtagValue0\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003EtagKey1\u003C/Key\u003E\u003CValue\u003EtagValue1\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3ddaef62-cc57-b191-9b7f-d772422a450d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:08:05 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-16T20:08:05.2889537-06:00",
    "RandomSeed": "1158851238",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}