{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-fca396e4-9bf9-4505-9903-a825614e7e5b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:51:31 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D3750AA5B4A9\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:51:31 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-fca396e4-9bf9-4505-9903-a825614e7e5b/test-blob-60fe4572-8ad5-ccaf-0dfc-9d2fcc3d3660",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:51:31 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "tXRINlFeSBF+G93KaVlCj31LVco67V1SfC8SF3BOfEtCTXnwhxUxFP3s4rqt5GO0ug2xgedsJsgW9bkhSzGhMJ+RiBvfUQhoGUHNTQqjpJfMXV1jnPtk1Sex2ZFbD8jLS7EbG1xH1WgESWeln9m9c1AiVe3UPZOjLbLzLXh3DAp4AQFZiIg7hYf0XlOTvjZO82ZAObra9w0ed+6qU6fwjTxdLZ3XZOvH589m399AD257pTkSNtNPnQnzOhCakDHgBNEWNpGZdo96eFLqdBgu3Wd/L61u3lZpDY+U5CnaLVaehdsOKdnd4i+ql76BZCjxxV2oGmGDcSV6rSgCBJJln0v7TO48H7SOokx+w0aY6Klm[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-fca396e4-9bf9-4505-9903-a825614e7e5b/test-blob-60fe4572-8ad5-ccaf-0dfc-9d2fcc3d3660?sv=2021-12-02&st=2021-02-17T17%3A51%3A31Z&se=2021-02-17T19%3A51%3A31Z&sr=b&sp=t&sig=Sanitized&comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "﻿<Tags><TagSet><Tag><Key>tagKey0</Key><Value>tagValue0</Value></Tag><Tag><Key>tagKey1</Key><Value>tagValue1</Value></Tag></TagSet></Tags>",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-fca396e4-9bf9-4505-9903-a825614e7e5b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:51:32 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T12:51:31.7010482-06:00",
    "RandomSeed": "1522636103",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}