{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-abbb2e0e-c306-c72c-6b20-95bbc2ce2dbb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:09 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D3746E656ADC\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:47:09 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-abbb2e0e-c306-c72c-6b20-95bbc2ce2dbb/test-blob-62f1796b-5cf9-9939-92fe-f8d2fe586e5e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:09 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "f28yEf0LrDY0/rds5j/Q6p1SaN8bPissdzePEFSU0C9lMNx8lYR1YMy7LvulzLJSLg01rO+OQkBEBZnFfJziny6HB7ViU1QY3AgTYBAwh6qEPOJGXyRA1+6cOJDqr+Mw2Y7NHcX979q5HM/meuEwE37vQT+6mz8JRzDHxhrELSwl44aBY2nlh0wHjUNUWVwMayUS+26jdT1Ow9aUNSjA9O6jwZdbr7AUCbnzsw78te7Uulv1sjK+gW1IMqCTUVEkRphUsZfEsbx0/fG1sMIvUQ3owHrNykK85D8qEnwQgbhnzmx1pwRWDwmegLRACNGqGeCSqpDXVnxVmMxXmp9AZHw5TuFWuaoJkbFxL0mNe9xu[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-abbb2e0e-c306-c72c-6b20-95bbc2ce2dbb/test-blob-62f1796b-5cf9-9939-92fe-f8d2fe586e5e?sv=2022-11-02&st=2021-02-17T17%3A47%3A09Z&se=2021-02-17T19%3A47%3A09Z&sr=b&sp=t&sig=Sanitized&comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "﻿<Tags><TagSet><Tag><Key>tagKey0</Key><Value>tagValue0</Value></Tag><Tag><Key>tagKey1</Key><Value>tagValue1</Value></Tag></TagSet></Tags>",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-abbb2e0e-c306-c72c-6b20-95bbc2ce2dbb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:10 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T12:47:09.558732-06:00",
    "RandomSeed": "1894408015",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}