{
  "Entries": [
    {
      "RequestUri": "https://blobindex1.blob.core.windows.net/test-container-b7fbcb3c-c23f-21a9-a210-9227b1cc3395?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 25 Apr 2020 17:28:22 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E93E0DEA59FE\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 17:28:22 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://blobindex1.blob.core.windows.net/test-container-b7fbcb3c-c23f-21a9-a210-9227b1cc3395/test-blob-a194b666-eb2e-c9e8-8599-b5957593aeb9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 25 Apr 2020 17:28:22 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "SZmhv4DMHk\u002B0K7GZ4fbvkCWbr7xTJcmaCYHh3fGMg6uy1wXYz8UwmphE7QM5T\u002BiOqSVw2ePyZSTQBrX\u002B6kFeJ6cG5gnxFsBfaxUjDzjGYbqZUjPLHKnHwHLhCMgQMa9X5sVbMmnfnZJlEW7OzlbrCaT7ZZcNkgv\u002BPyWWDw33TzllzChyai9QurWhZgs7\u002BPIb9f8jFMwYSVS6XfNDSI2EbcE1aQEueJ51qqvibCv/wkYzexoO0zpsTYLTuA07DXEnHPlJBY/w7XxgrmohNt0pupqtD81zdZmHyRx/WsCROpw5uk8xtr22Q42driXPShakqv1zjv2ks6ZgwTxzcJO[...]
    {
      "RequestUri": "https://blobindex1.blob.core.windows.net/test-container-b7fbcb3c-c23f-21a9-a210-9227b1cc3395/test-blob-a194b666-eb2e-c9e8-8599-b5957593aeb9?sv=2019-12-12\u0026st=2020-04-25T16%3A28%3A23Z\u0026se=2020-04-25T18%3A28%3A23Z\u0026sr=c\u0026sp=r\u0026sig=Sanitized\u0026comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EtagKey0\u003C/Key\u003E\u003CValue\u003EtagValue0\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003EtagKey1\u003C/Key\u003E\u003CValue\u003EtagValue1\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E",
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationPermissionMismatch",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003EAuthorizationPermissionMismatch\u003C/Code\u003E\u003CMessage\u003EThis request is not authorized to perform this operation using this permission.\n",
        "RequestId:6fa88eed-a01e-0089-7426-1bf775000000\n",
        "Time:2020-04-25T17:28:23.1819089Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://blobindex1.blob.core.windows.net/test-container-b7fbcb3c-c23f-21a9-a210-9227b1cc3395?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 17:28:23 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-25T10:28:23.0015677-07:00",
    "RandomSeed": "154956777",
    "Storage_TestConfigDefault": "ProductionTenant\nblobindex1\nU2FuaXRpemVk\nhttps://blobindex1.blob.core.windows.net\nhttps://blobindex1.file.core.windows.net\nhttps://blobindex1.queue.core.windows.net\nhttps://blobindex1.table.core.windows.net\n\n\n\n\nhttps://blobindex1-secondary.blob.core.windows.net\nhttps://blobindex1-secondary.file.core.windows.net\nhttps://blobindex1-secondary.queue.core.windows.net\nhttps://blobindex1-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://blobindex1.blob.core.windows.net/;QueueEndpoint=https://blobindex1.queue.core.windows.net/;FileEndpoint=https://blobindex1.file.core.windows.net/;BlobSecondaryEndpoint=https://blobindex1-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blobindex1-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blobindex1-secondary.file.core.windows.net/;AccountName=blobindex1;AccountKey=Sanitized\nseanscope1"
  }
}