{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0310ec41-019b-c04c-b485-1eac8da43729?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:51:39 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3750F975370\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:51:39 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0310ec41-019b-c04c-b485-1eac8da43729/test-blob-481d7356-5aab-449e-e949-27ba8d8cb4af",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:51:39 GMT"
      },
      "RequestBody": "r2j\u002BQ3hGLFCCDeh5twrLoKkeaJjnjQpTqucHssp9IYBHlkmRPPPdD0bNxZ5yJIzffYcQbiMcxyJeq5iQP3mFBexoMiHAOWO1QFhSGsds4YZaJzVDbbJcK84nM5FbTdDMR8CxCfJrHkQjWi7Lyq1a8ckSNRdEQpc5DAZSmQXSWvOIhdIGuteT7wnwHxKEkWAhzELHSBi4hwUpeP3rGYQ\u002BUAA6QkTbVDbyf0UOVCKFtHumMc3DCxLb0P7N3ULap9aFss8SSU4cRXcL1cjSqjPio8OCRee2ekXtX3JFDnf0F9dviKFTcmssiutVtzVJCSXL6jl\u002BWGLuzjiJJOrc1jcAFr3wYiGSjjBYVbv8YcIPo1ZMeiM9dr91gbppyU6AULOzVKB[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0310ec41-019b-c04c-b485-1eac8da43729/test-blob-481d7356-5aab-449e-e949-27ba8d8cb4af?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:51:40 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "4ba40123-6f91-9059-8b8e-bdf84b20acef"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3750FA48AB7\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:51:40 GMT",
        "x-ms-lease-id": "4ba40123-6f91-9059-8b8e-bdf84b20acef"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0310ec41-019b-c04c-b485-1eac8da43729/test-blob-481d7356-5aab-449e-e949-27ba8d8cb4af?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Wed, 17 Feb 2021 18:51:40 GMT",
        "x-ms-lease-id": "4ba40123-6f91-9059-8b8e-bdf84b20acef"
      },
      "RequestBody": "\uFEFF\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EtagKey0\u003C/Key\u003E\u003CValue\u003EtagValue0\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003EtagKey1\u003C/Key\u003E\u003CValue\u003EtagValue1\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E",
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0310ec41-019b-c04c-b485-1eac8da43729?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:51:40 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "781751529",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}