{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2430b361-a89a-610b-5148-dbd375cad7c6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:05:44 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E8896FCB19\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:05:45 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2430b361-a89a-610b-5148-dbd375cad7c6/test-blob-2cdc8cac-d156-a085-19fa-1934c69ec08c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:05:45 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "uVs\u002BjT0iBU5\u002BuUl09aGFIg7dwBXoYinDYeubxg2HTxirPT5WqsnGioaOrZ2HEat3dfcm6d2rpFcxeitRhj9B92kxyLdjL3dFFjaOWbSLO1BAJFEVYWU6AJnmJDCddANGTLY0Vkj0FEaA4dKnHEqjpj7bEWHuK5UD9sgefApGp6IyRw3\u002BV\u002BUITA8LlYCSk\u002BROQ37ywmKiWCAgMGCA1Zc7OTkwdNQ9pE5Z08VR45YVcGLj0DiMVOQ/kO/t3SeEh3Z4z1xGYh4PEJ4vmO\u002BdUHWKCr/9nAVfruRU8OTlUMcn1EtP2RM6zw5E07\u002BaXbv1okB5Y9Nnh\u002BtwGSF38XE6KsDXB8SkTXZiUDqwuchFxFEpX02ka\u002B3zwExg3sDx[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2430b361-a89a-610b-5148-dbd375cad7c6/test-blob-2cdc8cac-d156-a085-19fa-1934c69ec08c?sv=2020-06-12\u0026st=2021-02-17T01%3A05%3A45Z\u0026se=2021-02-17T03%3A05%3A45Z\u0026sr=c\u0026sp=t\u0026sig=Sanitized\u0026comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "\uFEFF\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EtagKey0\u003C/Key\u003E\u003CValue\u003EtagValue0\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003EtagKey1\u003C/Key\u003E\u003CValue\u003EtagValue1\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2430b361-a89a-610b-5148-dbd375cad7c6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:05:45 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-16T20:05:45.2394116-06:00",
    "RandomSeed": "1508900189",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}