{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-c139eea3-3e6c-33ad-3077-e6318bdf2f5c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 01 Jun 2020 20:09:57 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D80667C28131D0\u0022",
        "Last-Modified": "Mon, 01 Jun 2020 20:09:58 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-c139eea3-3e6c-33ad-3077-e6318bdf2f5c/test-blob-b67854de-78b6-4f00-2733-ad51b8d292f1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 01 Jun 2020 20:09:57 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "h5OAOwW\u002BRok6nYDvRa6FG6Q8/EzGOp04T4pJ4oIMvvU7HZHtdztEHw7ufBn4EAl4rpGse9VGK032R\u002Bt7dWMHLd6KtCcdl6Rp\u002BNw9176DQD\u002BA0DTwX0Ig9fJE9y9PyKqq5046bVziWxbtQ4P4CFOPcges\u002BqQvFs6bar812aB0GS8yk\u002B9vSNLinnUdAxu/J\u002ByetYQno84GetGAnwKdrIJ1eSpTxnRkHyk0yVwuEROy3EPSliQbTHZhKxge7qnPRfHzp4rxa2B3OpVa89lx12i\u002BzsO/yhVeWiyz8ptcRTCAZINqO2qJwHDiWlyOwVmc71SwYCDl[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-c139eea3-3e6c-33ad-3077-e6318bdf2f5c/test-blob-b67854de-78b6-4f00-2733-ad51b8d292f1?sv=2020-04-08\u0026st=2020-06-01T19%3A09%3A57Z\u0026se=2020-06-01T21%3A09%3A57Z\u0026sr=c\u0026sp=r\u0026sig=Sanitized\u0026comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EtagKey0\u003C/Key\u003E\u003CValue\u003EtagValue0\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003EtagKey1\u003C/Key\u003E\u003CValue\u003EtagValue1\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E",
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationPermissionMismatch",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003EAuthorizationPermissionMismatch\u003C/Code\u003E\u003CMessage\u003EThis request is not authorized to perform this operation using this permission.\n",
        "RequestId:2e7954e1-301e-001d-3b50-38401c000000\n",
        "Time:2020-06-01T20:09:59.1804276Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-c139eea3-3e6c-33ad-3077-e6318bdf2f5c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jun 2020 20:09:58 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-06-01T15:09:57.9705825-05:00",
    "RandomSeed": "935646349",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}