{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c139eea3-3e6c-33ad-3077-e6318bdf2f5c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:15 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3747208E572\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:47:15 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c139eea3-3e6c-33ad-3077-e6318bdf2f5c/test-blob-b67854de-78b6-4f00-2733-ad51b8d292f1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:15 GMT"
      },
      "RequestBody": "h5OAOwW\u002BRok6nYDvRa6FG6Q8/EzGOp04T4pJ4oIMvvU7HZHtdztEHw7ufBn4EAl4rpGse9VGK032R\u002Bt7dWMHLd6KtCcdl6Rp\u002BNw9176DQD\u002BA0DTwX0Ig9fJE9y9PyKqq5046bVziWxbtQ4P4CFOPcges\u002BqQvFs6bar812aB0GS8yk\u002B9vSNLinnUdAxu/J\u002ByetYQno84GetGAnwKdrIJ1eSpTxnRkHyk0yVwuEROy3EPSliQbTHZhKxge7qnPRfHzp4rxa2B3OpVa89lx12i\u002BzsO/yhVeWiyz8ptcRTCAZINqO2qJwHDiWlyOwVmc71SwYCDlEHrclE1dPnnFG/Rk2o5WB5v\u002BNA1T3XC5z[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c139eea3-3e6c-33ad-3077-e6318bdf2f5c/test-blob-b67854de-78b6-4f00-2733-ad51b8d292f1?sv=2020-06-12\u0026st=2021-02-17T17%3A47%3A15Z\u0026se=2021-02-17T19%3A47%3A15Z\u0026sr=c\u0026sp=r\u0026sig=Sanitized\u0026comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml"
      },
      "RequestBody": "\uFEFF\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EtagKey0\u003C/Key\u003E\u003CValue\u003EtagValue0\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003EtagKey1\u003C/Key\u003E\u003CValue\u003EtagValue1\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E",
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationPermissionMismatch"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003EAuthorizationPermissionMismatch\u003C/Code\u003E\u003CMessage\u003EThis request is not authorized to perform this operation using this permission.\n",
        "RequestId:b6079f40-e01e-0071-6b5d-053ce9000000\n",
        "Time:2021-02-17T18:47:15.9110454Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c139eea3-3e6c-33ad-3077-e6318bdf2f5c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:15 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T12:47:15.6618113-06:00",
    "RandomSeed": "935646349",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}