{
  "Entries": [
    {
      "RequestUri": "https://seanoauthcanary.blob.core.windows.net/test-container-0df84d96-a2db-cd8b-9492-36f655875ee2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D823C54E964772\u0022",
        "Last-Modified": "Thu, 09 Jul 2020 05:02:40 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthcanary.blob.core.windows.net/test-container-0df84d96-a2db-cd8b-9492-36f655875ee2/test-blob-3d6791ee-11fd-fbd9-392a-37e36b9f6382",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "HF8odhGwl9Vo0nDWaZlFxLLd4tGVqwKEm/G544LLTD3OCrnlpWuEPfmS1CqgA5Gf5HIxjryR7HBdo9of97RSnYUzCF7gYB5HWKXYA9bX5JhfGf4Qmr6APB5IhwKQZUZEPzekbPoyv4NU6jUXueiahb5Bv922QgPHsstAl9gctvNfk8OfMnedLVl6vK\u002BIaYM1rgJDTqVojv003bkv8SiqNzNCtyYk\u002BlNGpJKDO4ZTPkhIC\u002BjW2WhN9gTGalW9bjsx0IR7RrJcELOu/KoT5FN34Z5x5uZA1F3L9cAhXpD\u002BiDVXUmsB1/eW6/s0J9y9OhKwTom2TIdU8PwmsFHxOrEjsHN0u5HodQmm2vvrC6yADruucA8HSDyuAmFu2iempbBJEXdpSH6AyNh/D3[...]
    {
      "RequestUri": "https://seanoauthcanary.blob.core.windows.net/?restype=service\u0026comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u003CKeyInfo\u003E\u003CExpiry\u003E2020-07-09T06:02:40Z\u003C/Expiry\u003E\u003C/KeyInfo\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CUserDelegationKey\u003E\u003CSignedOid\u003Ec4f48289-bb84-4086-b250-6f94a8f64cee\u003C/SignedOid\u003E\u003CSignedTid\u003E72f988bf-86f1-41af-91ab-2d7cd011db47\u003C/SignedTid\u003E\u003CSignedStart\u003E2020-07-09T05:02:40Z\u003C/SignedStart\u003E\u003CSignedExpiry\u003E2020-07-09T06:02:40Z\u003C/SignedExpiry\u003E\u003CSignedService\u003Eb\u003C/SignedService\u003E\u003CSignedVersion\u003E2019-12-12\u003C/SignedVersion\u003E\u003CValue\u003Eg\u002BctkNCH9IBDW\u002BSC4UUO766uzB1IvXA6V0WRbSfWmFA=\u003C/Value\u003E\u003C/UserDelegationKey\u003E"
    },
    {
      "RequestUri": "https://seanoauthcanary.blob.core.windows.net/test-container-0df84d96-a2db-cd8b-9492-36f655875ee2/test-blob-3d6791ee-11fd-fbd9-392a-37e36b9f6382?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2020-07-09T05%3A02%3A40Z\u0026ske=2020-07-09T06%3A02%3A40Z\u0026sks=b\u0026skv=2019-12-12\u0026sv=2020-04-08\u0026st=2020-07-09T04%3A02%3A40Z\u0026se=2020-07-09T06%3A02%3A40Z\u0026sr=c\u0026sp=t\u0026sig=Sanitized\u0026comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EtagKey0\u003C/Key\u003E\u003CValue\u003EtagValue0\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003EtagKey1\u003C/Key\u003E\u003CValue\u003EtagValue1\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanoauthcanary.blob.core.windows.net/test-container-0df84d96-a2db-cd8b-9492-36f655875ee2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-07-08T22:02:40.8712186-07:00",
    "RandomSeed": "1563140891",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanoauthcanary\nU2FuaXRpemVk\nhttps://seanoauthcanary.blob.core.windows.net\nhttps://seanoauthcanary.file.core.windows.net\nhttps://seanoauthcanary.queue.core.windows.net\nhttps://seanoauthcanary.table.core.windows.net\n\n\n\n\nhttps://seanoauthcanary-secondary.blob.core.windows.net\nhttps://seanoauthcanary-secondary.file.core.windows.net\nhttps://seanoauthcanary-secondary.queue.core.windows.net\nhttps://seanoauthcanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanoauthcanary.blob.core.windows.net/;QueueEndpoint=https://seanoauthcanary.queue.core.windows.net/;FileEndpoint=https://seanoauthcanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanoauthcanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanoauthcanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanoauthcanary-secondary.file.core.windows.net/;AccountName=seanoauthcanary;AccountKey=Sanitized\n"
  }
}