{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-10516b4f-c801-42aa-4119-e29b7fcf5157?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:17 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3747335F4FD\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:47:17 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-10516b4f-c801-42aa-4119-e29b7fcf5157/test-blob-b5cea0b2-4ba8-572f-b6c1-8b6d9f857b93",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:17 GMT"
      },
      "RequestBody": "\u002Bv7YfX9qYHHGQt14hzdBvtV1cibfaTp30vgwNGHFPpjy3YNP7kAzRz9d72Zut89/gM2YKRNUs5HDYauHOiwPAANEhaqz8tCVQirngnrUCBopsLSULRWFnSnyi4yVrA0TTe5jKTEky478AubobTEX71iQXol3e9Ltv\u002BiBwWZDAJYd0zWLcd/oBOUlmCsvnDD325szBE2Dm9IcdWpJogonuAJPy5n8i355qFmkUeOnviO3iebKEPtImjdjbvt1n2Hb/t8p39CW\u002B08duVz03knvdLZGkRgkXKgGBzFhmByCBAn4yVMDft9SIY6WrVafVLvudPpFLg1It6E3I9ifNGIym7RT/BX16/bX9HCKja9RZrJ2cyQiPdb7rxKyzFsHsu0rYxK[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-10516b4f-c801-42aa-4119-e29b7fcf5157/test-blob-b5cea0b2-4ba8-572f-b6c1-8b6d9f857b93?versionid=2020-04-17T21:55:48.6692074Z\u0026comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:17 GMT"
      },
      "RequestBody": "\uFEFF\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EtagKey0\u003C/Key\u003E\u003CValue\u003EtagValue0\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003EtagKey1\u003C/Key\u003E\u003CValue\u003EtagValue1\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E",
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobNotFound"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003EBlobNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified blob does not exist.\n",
        "RequestId:da6f3694-a01e-0094-145d-056dab000000\n",
        "Time:2021-02-17T18:47:17.7369547Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-10516b4f-c801-42aa-4119-e29b7fcf5157?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:17 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1629296732",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}