{
  "Entries": [
    {
      "RequestUri": "https://seanoauthcanary.blob.core.windows.net/test-container-436b20ab-68bb-2627-0861-f74ff8878eb8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D3746DE922A7\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:47:08 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthcanary.blob.core.windows.net/test-container-436b20ab-68bb-2627-0861-f74ff8878eb8/test-blob-95de44f6-695b-eb19-cbe8-7762098b08fd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "eaWrqyI8aCeL6NDKWtFo6XRGSkkexh5UreNiYdJ2OcjLSm2jEwj1utu3CnOYTpD6f43tw0G+37KHVv0+2gdVFK4I/xBjxdZrUJBuZ7yqvF5SZ+FEiHaGDWu6HLwLtt/TYfXEj0+Al7q3gXKwT3f23Jqe63IlEIs4gvGkqagaYJmwmgXH5SwP0tAnjQcD1r30xEAhbMtsrlFpjA1d2+0RnCDY/7VxL/Ztjxmi/oOENKs0sOVo+PTOROy0XVkfsffiFfDmK9cIgpRJs9yyyrDN5VdhKSoIqaQrCbvIvNGdTt4iwOmSnQjULC5QH0QYHHk85ngBvYjM2WxMuiIbP8bCrGX+jwrGO0dPjfz8uIlfE+xBjNVZm5FVVeZ9RuLmuO1ojXLfGYxvdasxsi+LzyHi7Kc12rLwaRHTqD[...]
    {
      "RequestUri": "https://seanoauthcanary.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "﻿<KeyInfo><Expiry>2021-02-17T19:47:08Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>c4f48289-bb84-4086-b250-6f94a8f64cee</SignedOid><SignedTid>72f988bf-86f1-41af-91ab-2d7cd011db47</SignedTid><SignedStart>2021-02-17T18:47:08Z</SignedStart><SignedExpiry>2021-02-17T19:47:08Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2020-06-12</SignedVersion><Value>jEyM15O5DtYlJ8kcpXtY9nOAgptKDEyR4vc5BvjmsnM=</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://seanoauthcanary.blob.core.windows.net/test-container-436b20ab-68bb-2627-0861-f74ff8878eb8/test-blob-95de44f6-695b-eb19-cbe8-7762098b08fd?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2021-02-17T18%3A47%3A08Z&ske=2021-02-17T19%3A47%3A08Z&sks=b&skv=2020-06-12&sv=2023-01-03&st=2021-02-17T17%3A47%3A08Z&se=2021-02-17T19%3A47%3A08Z&sr=b&sp=t&sig=Sanitized&comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "﻿<Tags><TagSet><Tag><Key>tagKey0</Key><Value>tagValue0</Value></Tag><Tag><Key>tagKey1</Key><Value>tagValue1</Value></Tag></TagSet></Tags>",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanoauthcanary.blob.core.windows.net/test-container-436b20ab-68bb-2627-0861-f74ff8878eb8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T12:47:08.7412859-06:00",
    "RandomSeed": "390396847",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanoauthcanary\nU2FuaXRpemVk\nhttps://seanoauthcanary.blob.core.windows.net\nhttps://seanoauthcanary.file.core.windows.net\nhttps://seanoauthcanary.queue.core.windows.net\nhttps://seanoauthcanary.table.core.windows.net\n\n\n\n\nhttps://seanoauthcanary-secondary.blob.core.windows.net\nhttps://seanoauthcanary-secondary.file.core.windows.net\nhttps://seanoauthcanary-secondary.queue.core.windows.net\nhttps://seanoauthcanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanoauthcanary.blob.core.windows.net/;QueueEndpoint=https://seanoauthcanary.queue.core.windows.net/;FileEndpoint=https://seanoauthcanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanoauthcanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanoauthcanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanoauthcanary-secondary.file.core.windows.net/;AccountName=seanoauthcanary;AccountKey=Sanitized\n\n\n"
  }
}