{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-e20d34a5-2148-9bce-3b82-3fe90b1bbdf6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 01 Jun 2020 20:09:56 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D80667C18D7F54\u0022",
        "Last-Modified": "Mon, 01 Jun 2020 20:09:57 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-e20d34a5-2148-9bce-3b82-3fe90b1bbdf6/test-blob-50b751cb-86c5-287f-05f6-87502925811d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 01 Jun 2020 20:09:56 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "PyPj48gQlNWgqyoFtT/RU6203shn81Z/qSuna2YzmLktqrAiI2Z7urzhsBlbenLGJDSidUe4tkzMZDqdaSlubBNx1wqOri9HOSMLhUI8JC644EYykSJxdPRkVr8s3VGTckMG6aJnN3YFWzwjrTAJj0AL5IjjPNrwAGIWKlhvGlvSeBL/NTuLUKnPLTbmTsfDW8Z/IfnIrzZpFuk/UQwelUDhUTQdCVoFf5TeEw\u002BkCbGbUs\u002BR8PliCcjclh9SS/\u002BdsZf1Bf2SplFseqFl6ZwnxAw3pP48jKVHf0drQHM6szOUQWF3rgS0CKx\u002BJXZX/CAstdESG6cAYCXyroa1J2XdMcdu[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-e20d34a5-2148-9bce-3b82-3fe90b1bbdf6/test-blob-50b751cb-86c5-287f-05f6-87502925811d?sv=2020-04-08\u0026st=2020-06-01T19%3A09%3A56Z\u0026se=2020-06-01T21%3A09%3A56Z\u0026sr=b\u0026sp=r\u0026sig=Sanitized\u0026comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EtagKey0\u003C/Key\u003E\u003CValue\u003EtagValue0\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003EtagKey1\u003C/Key\u003E\u003CValue\u003EtagValue1\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E",
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationPermissionMismatch",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003EAuthorizationPermissionMismatch\u003C/Code\u003E\u003CMessage\u003EThis request is not authorized to perform this operation using this permission.\n",
        "RequestId:2f27f28f-201e-0097-3d50-381bad000000\n",
        "Time:2020-06-01T20:09:57.5938092Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-e20d34a5-2148-9bce-3b82-3fe90b1bbdf6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jun 2020 20:09:56 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-06-01T15:09:56.3600435-05:00",
    "RandomSeed": "1463365187",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}