{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-fca396e4-9bf9-4505-9903-a825614e7e5b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:51:31 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3750AA5B4A9\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:51:31 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-fca396e4-9bf9-4505-9903-a825614e7e5b/test-blob-60fe4572-8ad5-ccaf-0dfc-9d2fcc3d3660",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:51:31 GMT"
      },
      "RequestBody": "tXRINlFeSBF\u002BG93KaVlCj31LVco67V1SfC8SF3BOfEtCTXnwhxUxFP3s4rqt5GO0ug2xgedsJsgW9bkhSzGhMJ\u002BRiBvfUQhoGUHNTQqjpJfMXV1jnPtk1Sex2ZFbD8jLS7EbG1xH1WgESWeln9m9c1AiVe3UPZOjLbLzLXh3DAp4AQFZiIg7hYf0XlOTvjZO82ZAObra9w0ed\u002B6qU6fwjTxdLZ3XZOvH589m399AD257pTkSNtNPnQnzOhCakDHgBNEWNpGZdo96eFLqdBgu3Wd/L61u3lZpDY\u002BU5CnaLVaehdsOKdnd4i\u002Bql76BZCjxxV2oGmGDcSV6rSgCBJJln0v7TO48H7SOokx\u002Bw0aY6Klmox/MMRL1[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-fca396e4-9bf9-4505-9903-a825614e7e5b/test-blob-60fe4572-8ad5-ccaf-0dfc-9d2fcc3d3660?sv=2020-06-12\u0026st=2021-02-17T17%3A51%3A31Z\u0026se=2021-02-17T19%3A51%3A31Z\u0026sr=b\u0026sp=t\u0026sig=Sanitized\u0026comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml"
      },
      "RequestBody": "\uFEFF\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EtagKey0\u003C/Key\u003E\u003CValue\u003EtagValue0\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003EtagKey1\u003C/Key\u003E\u003CValue\u003EtagValue1\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E",
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-fca396e4-9bf9-4505-9903-a825614e7e5b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:51:32 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T12:51:31.7010482-06:00",
    "RandomSeed": "1522636103",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}