{
  "Entries": [
    {
      "RequestUri": "https://blobindex1.blob.core.windows.net/test-container-c79ad03a-a1fa-d653-2a68-e1df58ab3921?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sun, 05 Apr 2020 23:23:49 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D9B864F2AE1A\u0022",
        "Last-Modified": "Sun, 05 Apr 2020 23:23:48 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://blobindex1.blob.core.windows.net/test-container-c79ad03a-a1fa-d653-2a68-e1df58ab3921/test-blob-fd3c53c8-3f7b-bf06-0367-5578a2cf7e82",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sun, 05 Apr 2020 23:23:49 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "984IxCyVvzeWAHqSrqPEahVBuwNsc5aXjb\u002Bg\u002BmLL4\u002ByrSjGg/qaRM5QEZnrFcxFgo\u002BpiYRR6FoQ3cTds9cXVyx2N52NyI2tusIdvZwwc0RmuP1Z3aILYMDSsaI1vJD7PLppcN4yt7n9\u002B87CMC653G58dvrVuXmObtbYvxbve/oxJoDlxv5mNAFDX\u002BHTRSyWFNEzuUmWIYNA3wYLWfSjEoPQkQmp0BVwFj75kl2XuymmQqpBu76wnwT9pOv0XtoInEld/rQi6EC/w6MKnI8lqSPYYRdOYVrBI/YEqC8te7tg7PIQNbxxg1plhfQfpgJ12/vEH/nGvj7ynNr[...]
    {
      "RequestUri": "https://blobindex1.blob.core.windows.net/test-container-c79ad03a-a1fa-d653-2a68-e1df58ab3921/test-blob-fd3c53c8-3f7b-bf06-0367-5578a2cf7e82?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Sun, 05 Apr 2020 23:23:49 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EtagKey0\u003C/Key\u003E\u003CValue\u003EtagValue0\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003EtagKey1\u003C/Key\u003E\u003CValue\u003EtagValue1\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://blobindex1.blob.core.windows.net/test-container-c79ad03a-a1fa-d653-2a68-e1df58ab3921?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 05 Apr 2020 23:23:50 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "942582413",
    "Storage_TestConfigDefault": "ProductionTenant\nblobindex1\nU2FuaXRpemVk\nhttps://blobindex1.blob.core.windows.net\nhttps://blobindex1.file.core.windows.net\nhttps://blobindex1.queue.core.windows.net\nhttps://blobindex1.table.core.windows.net\n\n\n\n\nhttps://blobindex1-secondary.blob.core.windows.net\nhttps://blobindex1-secondary.file.core.windows.net\nhttps://blobindex1-secondary.queue.core.windows.net\nhttps://blobindex1-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://blobindex1.blob.core.windows.net/;QueueEndpoint=https://blobindex1.queue.core.windows.net/;FileEndpoint=https://blobindex1.file.core.windows.net/;BlobSecondaryEndpoint=https://blobindex1-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blobindex1-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blobindex1-secondary.file.core.windows.net/;AccountName=blobindex1;AccountKey=Sanitized\nseanscope1"
  }
}