{
  "Entries": [
    {
      "RequestUri": "https://blobindex1.blob.core.windows.net/test-container-2430b361-a89a-610b-5148-dbd375cad7c6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 25 Apr 2020 17:27:59 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E93E00134A9F\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 17:27:59 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://blobindex1.blob.core.windows.net/test-container-2430b361-a89a-610b-5148-dbd375cad7c6/test-blob-2cdc8cac-d156-a085-19fa-1934c69ec08c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 25 Apr 2020 17:27:59 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "uVs\u002BjT0iBU5\u002BuUl09aGFIg7dwBXoYinDYeubxg2HTxirPT5WqsnGioaOrZ2HEat3dfcm6d2rpFcxeitRhj9B92kxyLdjL3dFFjaOWbSLO1BAJFEVYWU6AJnmJDCddANGTLY0Vkj0FEaA4dKnHEqjpj7bEWHuK5UD9sgefApGp6IyRw3\u002BV\u002BUITA8LlYCSk\u002BROQ37ywmKiWCAgMGCA1Zc7OTkwdNQ9pE5Z08VR45YVcGLj0DiMVOQ/kO/t3SeEh3Z4z1xGYh4PEJ4vmO\u002BdUHWKCr/9nAVfruRU8OTlUMcn1EtP2RM6zw5E07\u002BaXbv1okB5Y9Nnh\u00[...]
    {
      "RequestUri": "https://blobindex1.blob.core.windows.net/test-container-2430b361-a89a-610b-5148-dbd375cad7c6/test-blob-2cdc8cac-d156-a085-19fa-1934c69ec08c?sv=2019-12-12\u0026st=2020-04-25T16%3A27%3A59Z\u0026se=2020-04-25T18%3A27%3A59Z\u0026sr=c\u0026sp=t\u0026sig=Sanitized\u0026comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EtagKey0\u003C/Key\u003E\u003CValue\u003EtagValue0\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003EtagKey1\u003C/Key\u003E\u003CValue\u003EtagValue1\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://blobindex1.blob.core.windows.net/test-container-2430b361-a89a-610b-5148-dbd375cad7c6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 17:28:00 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-25T10:27:59.7480931-07:00",
    "RandomSeed": "1508900189",
    "Storage_TestConfigDefault": "ProductionTenant\nblobindex1\nU2FuaXRpemVk\nhttps://blobindex1.blob.core.windows.net\nhttps://blobindex1.file.core.windows.net\nhttps://blobindex1.queue.core.windows.net\nhttps://blobindex1.table.core.windows.net\n\n\n\n\nhttps://blobindex1-secondary.blob.core.windows.net\nhttps://blobindex1-secondary.file.core.windows.net\nhttps://blobindex1-secondary.queue.core.windows.net\nhttps://blobindex1-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://blobindex1.blob.core.windows.net/;QueueEndpoint=https://blobindex1.queue.core.windows.net/;FileEndpoint=https://blobindex1.file.core.windows.net/;BlobSecondaryEndpoint=https://blobindex1-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blobindex1-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blobindex1-secondary.file.core.windows.net/;AccountName=blobindex1;AccountKey=Sanitized\nseanscope1"
  }
}