{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-932e1072-151a-d838-6fff-26c088171943?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D37473DA3444\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:47:18 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-932e1072-151a-d838-6fff-26c088171943/test-blob-096b43ec-1264-ccde-9b99-43fa082f6664",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:18 GMT"
      },
      "RequestBody": "s9kn\u002BtPC0Nmn51zEZMER9XT8HC6fQumGr3i72bunXvRg3f\u002BpMrA9KnKRYXy2GWfZh06FDBI4xXHwoUpaBvYeAIhnZIbCZ8PDvvK7DeBsz5UQ4VJsIVHiKBeOuZFm4iN8cmDzTrXhFyCLwU4gfLeRhNG0SiSkst83hTtvM64yXdvOPpt/eIHgL8oy4V8Dwatf/TW/sZj\u002B2MCBvMh5ceNyWWRyUT0cEQtP1BtacdGAM8SQDzZ4cqxCz2bb/ru5Zr3mwIf7kHBuQ\u002Bspb919pGbvAYgE6WKt\u002Bee4L4LXQRNPlm1dc7FJhaNTIcxKTgLPxSr/7PwytHxbOcagQmDtlgHY2thvHzG0pXzlsMeWY6rk6WpX11UWHOLxAjrrq[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-932e1072-151a-d838-6fff-26c088171943/test-blob-096b43ec-1264-ccde-9b99-43fa082f6664?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:18 GMT",
        "x-ms-lease-id": "8321b574-369c-42bd-bcc6-71f5be37434e"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003ELeaseNotPresentWithBlobOperation\u003C/Code\u003E\u003CMessage\u003EThere is currently no lease on the blob.\n",
        "RequestId:e4b64ff9-601e-0022-795d-051fdd000000\n",
        "Time:2021-02-17T18:47:18.7753369Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-932e1072-151a-d838-6fff-26c088171943?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "919048914",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}