{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-983e1b9c-0a55-7f69-bdd9-188d238fccdc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:51:41 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D37510B5785B\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:51:41 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-983e1b9c-0a55-7f69-bdd9-188d238fccdc/test-blob-77d4f2f7-d6c1-5b4e-3c06-1ff33ae86da7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:51:41 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "K0mQ4Dkeg5d0GA2VSacY5aqViR9BNw0m9PpyUo3KD5cmUQzVA9f/2W88A6nIuRKV7TpJpV5NZvM8aus/qzAKqQh1bviaQuHSlq+wBDNjXTro3WVSgGo42OoYmZjswC4+MlmgUkoZ+qpYdw+unWHA2AyxV87LuCmePZYNgqlI5dWBcdLZwwrvzuK7+QlbiTqJWMGMO2lfc3kwAhW0DHgBEJE5LSyO5hUCwYjsD74fQrNbgynnvKpsIv5YqcD1O8Fquul4IlwO+nGsiXngc2O6EMBhWIhOGVPmzAsuNj1UDYXHgVXVpyBXTYm4OjIwjK6anpgAk+M4G6CWklVQ38Q0WHz0GPEN5WmfCgr/ld8gtT9c[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-983e1b9c-0a55-7f69-bdd9-188d238fccdc/test-blob-77d4f2f7-d6c1-5b4e-3c06-1ff33ae86da7?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:51:41 GMT",
        "x-ms-if-tags": "\"coolTag\" = 'true'",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:9361950a-401e-0078-6e5d-05793a000000\n",
        "Time:2021-02-17T18:51:42.3141578Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-983e1b9c-0a55-7f69-bdd9-188d238fccdc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:51:42 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1902030717",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}