{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a2f44745-1f60-9a2c-2ec4-4ceabf4871dc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 23 Sep 2020 01:49:50 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85F62F5F7889F\u0022",
        "Last-Modified": "Wed, 23 Sep 2020 01:49:51 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a2f44745-1f60-9a2c-2ec4-4ceabf4871dc/test-blob-41b3a775-057a-f2db-d02c-c8ac14660ce5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 23 Sep 2020 01:49:50 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "2iVmUdMdj4d377efcojeEobO29NTXOvQagRzHUZqZ9c05siXte2p8VxtngEd6rZaeGXfzje5cn45lefOqXFADIfga4vAR1yZJep25b3qs39OGaXhipmfenRKXR8G2kfrLZF5PH8qmjEIRqhNQozAT\u002BJngJDMX4HuQfEWduk9kkqji7gscHYAI35z2ETwUjfoiQ49nlq3Hs0Pi/uNEyRHy7NeqrfTlN5rZlwRWIc9/e\u002B5LuzbAPTv62zrHeV6cg9aKw2Qkad/FPUw0Tj\u002BpcZG0Y0M1OU3bMu/b75K6Hb48fNMtix5rGtHORn3qy678UampEtXbp4qI79C0SLpNSx\u002BN\u0[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a2f44745-1f60-9a2c-2ec4-4ceabf4871dc/test-blob-41b3a775-057a-f2db-d02c-c8ac14660ce5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Sep 2020 01:49:51 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Au373jb1vEDfSjIqmaX0DA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85F62F60CC20D\u0022",
        "Last-Modified": "Wed, 23 Sep 2020 01:49:51 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 23 Sep 2020 01:49:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a2f44745-1f60-9a2c-2ec4-4ceabf4871dc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Sep 2020 01:49:51 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "472636938",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}