{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-ae637380-2dec-b857-767b-12646028c352?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:44 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38AE8C435F\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:47:44 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-ae637380-2dec-b857-767b-12646028c352/test-blob-373a5568-0c77-cd23-90fe-7f7ec6413ea4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:44 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "vbR8Wb5BUhJHGFR/IMVRS\u002BZO6znW2qC5\u002BahYEabYQmCUx9SyrjsFNtU/oZjyBytJsHxsuQ6ebuMTw2AV6EBsbtXz61nxnpyrSLRkljkHxvF9D2Epa4lS9lnxn\u002Bva8E6U0zLD/hzRVxLgwXBZOdipC/xvmNnfQwJMofQAAP6w0Fhm0MIGRMfUq7hPSKoY\u002BLyAR5Tua1d1tJAwdl0o0VcTL/AX8mkVo8Y1mu0hkPpYM6g3f7lqwmQB8Rsy1s1qrNlgOxi5AAVSa6TNudBqVCOV10O18FKeqW2MFgFO4sz4y\u002B4TwFXhnjKi5BMUnAiUlp33nP6KtLuHwpKrLeoEBIj[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-ae637380-2dec-b857-767b-12646028c352/test-blob-373a5568-0c77-cd23-90fe-7f7ec6413ea4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:45 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "tdI0QJ/le9tpze1RSRFWtg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38AE9E03B8\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:47:45 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 21 Sep 2021 19:47:45 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 19:47:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-09-21T19:47:45.0877636Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-ae637380-2dec-b857-767b-12646028c352/test-blob-373a5568-0c77-cd23-90fe-7f7ec6413ea4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D97D38AE9E03B8",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:45 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38AE9E03B8\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:47:45 GMT",
        "x-ms-blob-content-md5": "tdI0QJ/le9tpze1RSRFWtg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 21 Sep 2021 19:47:45 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 19:47:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-09-21T19:47:45.0877636Z"
      },
      "ResponseBody": "vbR8Wb5BUhJHGFR/IMVRS\u002BZO6znW2qC5\u002BahYEabYQmCUx9SyrjsFNtU/oZjyBytJsHxsuQ6ebuMTw2AV6EBsbtXz61nxnpyrSLRkljkHxvF9D2Epa4lS9lnxn\u002Bva8E6U0zLD/hzRVxLgwXBZOdipC/xvmNnfQwJMofQAAP6w0Fg="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-ae637380-2dec-b857-767b-12646028c352?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:45 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1110564412",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}