{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2ec52548-7c87-2091-7bf0-f312543153e0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:32 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3747BFC35DF\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:47:32 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2ec52548-7c87-2091-7bf0-f312543153e0/test-blob-ab5b128f-d988-da76-4593-68b378c742b4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:32 GMT"
      },
      "RequestBody": "VBWcK8tKBXB89QLyqD8jROAUVdjf/Wu/e7faHXuczkSSXvznmuMTcnbh2YAFGbeC/Bgr7ZEqlVeq3K8Tb\u002Bf04Ce\u002BX0lCO6n8AONi/iTrumIAWCFicOCyZ8ilPL4zAAKO7PlYRrluP8BvLuyuyJcyvyJNExfGkm9GC/iBnf/ryADg0xErknOokRhg80HzBJ4xcn2b5uzryFqJETvB7aLBg2XszfWFByyupYH\u002BZZ4tUwdZTyqBT\u002BIU9Qu3oYA45qR2n2/bBzapq2tQ7UBr7GK7W74zZ513PzSD2NjpzmWrdr7ciMYvUkzQsKO/MWKiqAmp\u002B0bCBX8H/mA6WC5ev90FpHaBjmObjAlxYrf5uA7S4C/OQNIf6XE/1Ylm9[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2ec52548-7c87-2091-7bf0-f312543153e0/test-blob-ab5b128f-d988-da76-4593-68b378c742b4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:32 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "svb\u002B\u002BgNo6qZVNCzLhtfppQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D3747C07F332\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:47:32 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:47:32 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:47:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:47:32.3488050Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2ec52548-7c87-2091-7bf0-f312543153e0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:32 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "308121771",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}