{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-4ea85e6f-4b44-6d49-52d2-ef8190338df8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:40 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38ABE99A6E\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:47:40 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-4ea85e6f-4b44-6d49-52d2-ef8190338df8/test-blob-06522a72-1cb5-ae0d-c9e8-32fcff312837",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:40 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "hUvuaSa0kcY4dEmhFuoaplAVQhVTqxAYKpTi006wWjJBzNkIvRmziukZqHNor4tRRLMkxJBMFNk61T6R0b13iBkWX0kQEeg3YbgrOQOcsHoJkY6bjJai9bcAzujaIrgsoSBaUU9CQTPK7WPYINvWnSXEiEAv3PuCdGqSD0MAXD///5jiQV4rxlBb0J8zydTcKTDDFpl4/MQl2N3lsDHvyZAk2SFD9FvGmMHv1AxcT6qVteYTPUalhgLTvWmBRhYfawYOD/CymTXU/H3XiCi4yIgzUPpK3IxJflIfbzbyRVKr0GgGTT\u002B54huwP0HJzv3aGvThTfUc1I96xJGekyn\u002B4rcrLLjAsntIeW[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-4ea85e6f-4b44-6d49-52d2-ef8190338df8/test-blob-06522a72-1cb5-ae0d-c9e8-32fcff312837",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:40 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "k46w3DvhLnuYb7V45hxXMQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38ABFB0B11\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:47:40 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 21 Sep 2021 19:47:40 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 19:47:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-09-21T19:47:40.6632721Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-4ea85e6f-4b44-6d49-52d2-ef8190338df8/test-blob-06522a72-1cb5-ae0d-c9e8-32fcff312837",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D97D38ABFB0B11",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:40 GMT",
        "x-ms-range": "bytes=512-639",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-639/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38ABFB0B11\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:47:40 GMT",
        "x-ms-blob-content-md5": "k46w3DvhLnuYb7V45hxXMQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 21 Sep 2021 19:47:40 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 19:47:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-09-21T19:47:40.6632721Z"
      },
      "ResponseBody": "oJa7Qda354BA1VUcG5fW6YDjp2RVMtDtkbPy6i2/h2eBG0JTtU2JNeKWWM1csWcbTnJlLhuohG3FzbAixP1SgE3umwBUgjQzWnKBv9oDkd9L15y7WllL2JbUjuedZnDlQ9h/bRZmxss\u002BMtSpJ8WTwjzQ1\u002B1hlyX0osJqgPRMlfQ="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-4ea85e6f-4b44-6d49-52d2-ef8190338df8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:40 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1149883491",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}