{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d00cc520-13ce-3eb3-eeff-42b77471417a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:19 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D389F5CB74A\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:47:19 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d00cc520-13ce-3eb3-eeff-42b77471417a/test-blob-e28fc6fc-3437-bbd2-1134-236f6b1ea35e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:19 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "NpVcAXaQebsHTWYNpwVh\u002BKxj9sUUx0SNWXN0xbOhcWOMUXdHmlFpMDShcejKgSH2/blv6hFvBW5QzqgCG7QHZdsDgFaOGl1b\u002BcaRc1ZcwtdSfsf5ModRHUwI98upZhSAmQsNxwDLZ\u002BNcE/BK3pIY9AzQsJ3tDjJUsWMJhSORspKyENlKT/vWhhbjnR\u002BWBz658AK/2LZ2k4vYuBacweHAymFdmM25zaUR\u002BSmHCXATvaklUJUg0tncO31OcZbkOsU0I9O\u002BOG5xACNdrt6N74kaxftsd3BMoPeHgV1Pa1wOLL9jUuWdVYU7s1BywiP7T0z0M6ybd8JU6IPbNr[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d00cc520-13ce-3eb3-eeff-42b77471417a/test-blob-e28fc6fc-3437-bbd2-1134-236f6b1ea35e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:19 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "D8fENXIZ72qv/4/KEjm04w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D389F9110EE\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:47:19 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 21 Sep 2021 19:47:19 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 19:47:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-09-21T19:47:19.8360814Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d00cc520-13ce-3eb3-eeff-42b77471417a/test-blob-e28fc6fc-3437-bbd2-1134-236f6b1ea35e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D97D389F9110EE",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:20 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D389F9110EE\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:47:19 GMT",
        "x-ms-blob-content-md5": "D8fENXIZ72qv/4/KEjm04w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 21 Sep 2021 19:47:19 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 19:47:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-09-21T19:47:19.8360814Z"
      },
      "ResponseBody": "NpVcAXaQe[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d00cc520-13ce-3eb3-eeff-42b77471417a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:20 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1340690144",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}