{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e6112f5e-bbb5-95ae-13bb-f8f2416bcdc9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:06:10 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E89876D9A9\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:06:10 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e6112f5e-bbb5-95ae-13bb-f8f2416bcdc9/test-blob-6683a2e6-1ef9-5eb3-6861-7d42cf773c5a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:06:10 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "ETcOaUPIHrvPDiKvOoSd6QJEcyzkF0nBd\u002BGKH/PYVNI72RjAG05wtvbL5nGKjAou\u002B8SEaXydw/rtTPJhPf7H9rlQc2Br3M200702GDDYN\u002BvXXCMuVOpVnhUe089cDnj3BO\u002B4Ohmpwh730Ja/ZqvJFRQGiuHbmKHO\u002BtRKTAn\u002BV8REPhNBH/zSLZkFN4RUljdqVb66VoSXHGxO6UBEX3YV\u002BHjReiiXiPUYNFxH1mAdeWSd4PdLQwFArSGn8jW8jc4j7z8LgxsP083IoiEoT0YLMHDbpn5\u002BybR3kc0G75W/XKaNJOYhEfZJjg0pgqHfF13bnMHF4OdPpCaKlPFNCOM4CUV6mitg6h95khhxVUYTl3lwK1PT\u002BXu/PX/A[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e6112f5e-bbb5-95ae-13bb-f8f2416bcdc9/test-blob-6683a2e6-1ef9-5eb3-6861-7d42cf773c5a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:06:10 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "bASVNdcblbOGdCvWHfcUAQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2E8988210C3\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:06:10 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 02:06:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 02:06:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:06:10.5831619Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e6112f5e-bbb5-95ae-13bb-f8f2416bcdc9/test-blob-6683a2e6-1ef9-5eb3-6861-7d42cf773c5a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:06:10 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2E8988210C3\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:06:10 GMT",
        "x-ms-blob-content-md5": "bASVNdcblbOGdCvWHfcUAQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 02:06:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 02:06:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:06:10.5831619Z"
      },
      "ResponseBody": "ETcOaUPIHrvPDiKvOoSd6QJEcyzkF0nBd\u002BGKH/PYVNI72RjAG05wtvbL5nGKjAou\u002B8SEaXydw/rtTPJhPf7H9rlQc2Br3M200702GDDYN\u002BvXXCMuVOpVnhUe089cDnj3BO\u002B4Ohmpwh730Ja/ZqvJFRQGiuHbmKHO\u002BtRKTAn\u002BV8REPhNBH/zSLZkFN4RUljdqVb66VoSXHGxO6UBEX3YV\u002BHjReiiXiPUYNFxH1mAdeWSd4PdLQwFArSGn8jW8jc4j7z8LgxsP083IoiEoT0YLMHDbpn5\u002BybR3kc0G75W/XKaNJOYhEfZJjg0pgqHfF13bnMHF4OdPpCaKlPFNCOM4CUV6mitg6h95khhxVUYTl3lwK1PT\u002BXu/PX/AlnwF\u002B4Up8HlbZHwxerGiTE3O3k/fd/x33d2QZQ/Ju1ysoFOjdJeTSGTNtzP8PrChMK0u8V8w4R\u002BAjR2nmYtpkakghdpe/9i1O5bqEb/Jep8t7jRim8r9e780IuZ5667YYyWJ3LjVQzHUeLbJRc9gthJ\u002BeqpXB/bfIgkbKdzxPE/nEa6ZP53mV6sCjSIUMzbv1GvT\u002B3AEgVsvqrmvuhlV4zxm4jMhxnd0mCP\u002BVHnTyu/TK1VwHkDf45BSaZTjN5ySrKrmrVACzg30XmNNBS3iW9/K24/D5cX7h/\u002BjzlzikWCGbKfP7Rw="
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e6112f5e-bbb5-95ae-13bb-f8f2416bcdc9/test-blob-6683a2e6-1ef9-5eb3-6861-7d42cf773c5a?comp=block\u0026blockid=dGVzdC1ibG9jay1hNTM4YjdhYy1mYmIxLTRkYzktNmRjZC04MGZiNTIwYzAwNjQ%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 17 Feb 2021 02:06:10 GMT",
        "x-ms-encryption-algorithm":[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e6112f5e-bbb5-95ae-13bb-f8f2416bcdc9/test-blob-6683a2e6-1ef9-5eb3-6861-7d42cf773c5a?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Wed, 17 Feb 2021 02:06:10 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EdGVzdC1ibG9jay1hNTM4YjdhYy1mYmIxLTRkYzktNmRjZC04MGZiNTIwYzAwNjQ=\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E898AA87C0\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:06:10 GMT",
        "x-ms-content-crc64": "8QUM1mVFkqU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:06:10.8493520Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e6112f5e-bbb5-95ae-13bb-f8f2416bcdc9/test-blob-6683a2e6-1ef9-5eb3-6861-7d42cf773c5a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D2E8988210C3",
        "x-ms-date": "Wed, 17 Feb 2021 02:06:10 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-range": "bytes=512-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:1685cacd-101e-0081-6cd1-047a18000000\n",
        "Time:2021-02-17T02:06:10.9229551Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e6112f5e-bbb5-95ae-13bb-f8f2416bcdc9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:06:10 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "273952411",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}