{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-091cb0fe-752a-bf2f-2c31-69bc67199b78?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 07 Oct 2020 19:51:44 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86AFA6BBE4454\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:51:45 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-091cb0fe-752a-bf2f-2c31-69bc67199b78/test-blob-051a8508-2153-d25d-63a5-47228d082297",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 07 Oct 2020 19:51:45 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": "0hLrrQceB6nTZvHTOFHPais/StjLiJtD5h/FdxlhF9jpEwvd11ghU4ekP3aaDdQYkNFPX/SVXkl2qMfoWY\u002BPcU8Z6iRF8ZLSHvdRJkkkqNlKrOdIErfkU7XBZi6ROfn3Fc4ngSKw0p4\u002BfEH8RDcAUv/tnqyoR1\u002BXNJZuhItjQeT9WRF7/Ce2mdpJCZV25w9\u002BwRQvo5pNT85vkEyLQU4T2ztc/uomhFXXNgTSXz3JIEyH8MJ2NJ1JsApCDGzaK1iMNi5ZGuglVzy/WG2Weu\u002BQpW8ABFGLnKadEk7f5Hjo/AusRikPbwZjYZmGt9swszUasWf82iYGAJmHvAeaRnP[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-091cb0fe-752a-bf2f-2c31-69bc67199b78/test-blob-051a8508-2153-d25d-63a5-47228d082297",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:51:45 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "CcgO9kkvB0Xra4i0UhJatg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D86AFA6BD39856\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:51:45 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 Oct 2020 19:51:45 GMT",
        "x-ms-last-access-time": "Wed, 07 Oct 2020 19:51:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-091cb0fe-752a-bf2f-2c31-69bc67199b78?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:51:45 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "92272763",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}