{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-ce9763d2-6c88-40ed-14d6-bdf3b0f6350c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:50 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38B1DD63F6\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:47:50 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-ce9763d2-6c88-40ed-14d6-bdf3b0f6350c/test-blob-bf21393c-68fe-2403-922f-710939927b03",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:50 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "/csQEEXpnRWeByapSKzPAefZDNPmQ8DZgHIlsTLC/48sR0SlA9\u002Bd/T/7U0QU7u0As4oatgze9roLN5DSxOvi3AeWfQFnKf0IPA6T6\u002B97xZKFJP2op0mDTVCKmsxOyjlTGHc9fXDsmIqMEnr9SgrKj3L\u002BTaDtOTS\u002BEy\u002Bw3Y4xuXHVP9J3PUghmYtzHJXOhQNGvwtaT32ZZt9DfmlBO7v7W1gIKAo4U1Ip3bQUeR2e740sah6D12n0PNnzNL7e4F3QeME8xV34DWy5MHLIhOzBpI/cFNGcd4PvFOwxRB6TS/xWQwFcYikwNFyxyqb3K7ftMo8vAsuLMwA9TbFwx8l[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-ce9763d2-6c88-40ed-14d6-bdf3b0f6350c/test-blob-bf21393c-68fe-2403-922f-710939927b03",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:50 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "oaEQCeO5ZR\u002B//GW/KY8mmQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38B1EE132D\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:47:50 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 21 Sep 2021 19:47:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 19:47:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-09-21T19:47:50.6446125Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-ce9763d2-6c88-40ed-14d6-bdf3b0f6350c/test-blob-bf21393c-68fe-2403-922f-710939927b03",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D97D38B1EE132D",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:50 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38B1EE132D\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:47:50 GMT",
        "x-ms-blob-content-md5": "oaEQCeO5ZR\u002B//GW/KY8mmQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 21 Sep 2021 19:47:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 19:47:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-09-21T19:47:50.6446125Z"
      },
      "ResponseBody": "/csQEEXpnRWeByapSKzPAefZDNPmQ8DZgHIlsTLC/48sR0SlA9\u002Bd/T/7U0QU7u0As4oatgze9roLN5DSxOvi3AeWfQFnKf0IPA6T6\u002B97xZKFJP2op0mDTVCKmsxOyjlTGHc9fXDsmIqMEnr9SgrKj3L\u002BTaDtOTS\u002BEy\u002Bw3Y4xuXE="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-ce9763d2-6c88-40ed-14d6-bdf3b0f6350c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:51 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1766062425",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}