{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-53056f2c-ea5d-1981-ad44-4a52139b07c6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:03:35 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E83C77F9E3\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:03:36 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-53056f2c-ea5d-1981-ad44-4a52139b07c6/test-blob-56d6d12a-d9d5-ab23-225f-6525326ff38c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:03:36 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "7GTPZ0Ybrl9l6iVMYPSHN22AdoBrUq3kYanbes0HlRsK358spm6Dv\u002BTPTy7Rsgi90MiUBZyHPpq36gacQDSRXlUKQYFVW5D\u002B/LabmwN\u002BEq\u002BhHqkFco9\u002Bg6AFdbxo53\u002BwPfDYx3CHZ3U4lQnl66KWONdW\u002ByKKjOzGi77gT\u002BXTlhQ36l0Spks/GbYzzNyFmZf9bzzkEexcJbEEEjyxphiQZP/1rgFEg5KMF\u002BFsV8APQPIn4\u002BCp74Qn2sSsDZMOjXKdo2fckOqVuOuqV/oK8M7w9dFJisM453R7zdM8mHb\u002BfYpuzrNYMq8HkSr0/piKHer2vBjBxAKvZbzyYcMXWSB1rNlwmyEbmMIiQvmYQ\u002Bjc8[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-53056f2c-ea5d-1981-ad44-4a52139b07c6/test-blob-56d6d12a-d9d5-ab23-225f-6525326ff38c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:03:36 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "h75z3S2d/w4p2n9ik9u5xQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2E83C813DD4\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:03:36 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 02:03:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 02:03:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:03:36.2273748Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-53056f2c-ea5d-1981-ad44-4a52139b07c6/test-blob-56d6d12a-d9d5-ab23-225f-6525326ff38c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:03:36 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2E83C813DD4\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:03:36 GMT",
        "x-ms-blob-content-md5": "h75z3S2d/w4p2n9ik9u5xQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 02:03:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 02:03:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:03:36.2273748Z"
      },
      "ResponseBody": "7GTPZ0Ybr[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-53056f2c-ea5d-1981-ad44-4a52139b07c6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:03:36 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1900569190",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}