{
  "Entries": [
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-52bce973-743d-f688-387a-f42ef0455460?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 24 May 2021 22:46:49 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D91F05D12E94A5\"",
        "Last-Modified": "Mon, 24 May 2021 22:46:49 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-52bce973-743d-f688-387a-f42ef0455460/test-blob-436b4032-bbb1-b1a9-b087-a6dcfe9afef2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 24 May 2021 22:46:49 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "Wr0z5DNJ7OH7TrECTDjV3vLt+BH2DoxkYIEegFPSr5nyQfZjJaPU6/JtS4ZH2U0lql8o0Q438Uwxz4SyK2uNKZ4XDwpBcbhPGQweiMMGHIY0+dbzqd6Lu1CpMlUeIsCG4CHoMMlC4zin2bgBGGiJKrP+fTKVmX+/i1S6mD9iMPZMmKihHuu88hWdTM8miaLnIAeiIKSO8UahKKR1h0v5RKjBtYDA5wzHQYsc902wmAKx03c3wBBSvaZh//VGR2rKowgnZdMiJjj72t4Ycvn48ZCiw7TTwoSYbvjZXugWgPohUVREiDMvj6w+O+UxOUutaQ1lpIS29uGEj/baSMdQ5Vrk9yCltGldcjMHlYaeZjSt[...]
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-52bce973-743d-f688-387a-f42ef0455460/test-blob-436b4032-bbb1-b1a9-b087-a6dcfe9afef2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 May 2021 22:46:49 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "dvvPc9IVViagoIJiWkrb+Q==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D91F05D143EFF4\"",
        "Last-Modified": "Mon, 24 May 2021 22:46:49 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 24 May 2021 22:46:49 GMT",
        "x-ms-last-access-time": "Mon, 24 May 2021 22:46:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-52bce973-743d-f688-387a-f42ef0455460/test-blob-436b4032-bbb1-b1a9-b087-a6dcfe9afef2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D91F05D143EFF4",
        "x-ms-date": "Mon, 24 May 2021 22:46:49 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D91F05D143EFF4\"",
        "Last-Modified": "Mon, 24 May 2021 22:46:49 GMT",
        "x-ms-blob-content-md5": "dvvPc9IVViagoIJiWkrb+Q==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 24 May 2021 22:46:49 GMT",
        "x-ms-last-access-time": "Mon, 24 May 2021 22:46:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": "Wr0z5DNJ7OH7TrECTDjV3vLt+BH2DoxkYIEegFPSr5nyQfZjJaPU6/JtS4ZH2U0lql8o0Q438Uwxz4SyK2uNKZ4XDwpBcbhPGQweiMMGHIY0+db[...]
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-52bce973-743d-f688-387a-f42ef0455460?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 May 2021 22:46:49 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "788166455",
    "Storage_TestConfigDefault": "ProductionTenant\nkasobolcanadacentral\nU2FuaXRpemVk\nhttp://kasobolcanadacentral.blob.core.windows.net\nhttp://kasobolcanadacentral.file.core.windows.net\nhttp://kasobolcanadacentral.queue.core.windows.net\nhttp://kasobolcanadacentral.table.core.windows.net\n\n\n\n\nhttp://kasobolcanadacentral-secondary.blob.core.windows.net\nhttp://kasobolcanadacentral-secondary.file.core.windows.net\nhttp://kasobolcanadacentral-secondary.queue.core.windows.net\nhttp://kasobolcanadacentral-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://kasobolcanadacentral.blob.core.windows.net/;QueueEndpoint=http://kasobolcanadacentral.queue.core.windows.net/;FileEndpoint=http://kasobolcanadacentral.file.core.windows.net/;BlobSecondaryEndpoint=http://kasobolcanadacentral-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://kasobolcanadacentral-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://kasobolcanadacentral-secondary.file.core.windows.net/;AccountName=kasobolcanadacentral;AccountKey=Kg==;\nencryptionScope\n\n"
  }
}