{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-6fabbfcc-ec76-932d-e1ec-53484b8c064b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:51:48 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D375152154D6\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:51:49 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-6fabbfcc-ec76-932d-e1ec-53484b8c064b/test-blob-ec0c2379-21b9-e4e9-d4c0-b6e7d2c7271c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:51:49 GMT"
      },
      "RequestBody": "jPr8dJCPc4PiJA36QSVGtVGsgkWcDNVwHROfyBAZnIN86HtSLyYWNZJrFlFq5L2cXIJyPVu5JX8ki1d88KpzyYiJfliq9IYrlU2yMfWDBjhWA2yNpl8ow8L7LaPOmkTo903J4GZk8Wj8RqgNBvOJoIUeJu0\u002B5iMpYbqVrsbjXPsJyjqouibR8REDkV\u002B2G7zPcYwdsHNXqRAqn3\u002BrzkKhGOmsBDy54eZfTDXbOlXDckb\u002Bxj06xayHsSApfhqmJiLOYnh1ChZ/FZCmvmM\u002Be2\u002B7Zi05rQgFZ1M9JFIckGLLuCYSDNjcTWgvfrGskwZJSTaxbRftbXgayfolOOXEY4Qu2gY8K26X3hnFCS5WWdNM9NscayJK3kqu[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-6fabbfcc-ec76-932d-e1ec-53484b8c064b/test-blob-ec0c2379-21b9-e4e9-d4c0-b6e7d2c7271c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:51:49 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "kzb4AxkoD37ldrzYHZ5EVw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D375152BE2BF\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:51:49 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:51:49 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:51:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:51:49.2757183Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-6fabbfcc-ec76-932d-e1ec-53484b8c064b/test-blob-ec0c2379-21b9-e4e9-d4c0-b6e7d2c7271c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:51:49 GMT",
        "x-ms-range": "bytes=0-127"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D375152BE2BF\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:51:49 GMT",
        "x-ms-blob-content-md5": "kzb4AxkoD37ldrzYHZ5EVw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:51:49 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:51:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:51:49.2757183Z"
      },
      "ResponseBody": "jPr8dJCPc4PiJA36QSVGtVGsgkWcDNVwHROfyBAZnIN86HtSLyYWNZJrFlFq5L2cXIJyPVu5JX8ki1d88KpzyYiJfliq9IYrlU2yMfWDBjhWA2yNpl8ow8L7LaPOmkTo903J4GZk8Wj8RqgNBvOJoIUeJu0\u002B5iMpYbqVrsbjXPs="
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-6fabbfcc-ec76-932d-e1ec-53484b8c064b/test-blob-ec0c2379-21b9-e4e9-d4c0-b6e7d2c7271c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D375152BE2BF",
        "x-ms-date": "Wed, 17 Feb 2021 18:51:49 GMT",
        "x-ms-range": "bytes=128-255"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 128-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D375152BE2BF\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:51:49 GMT",
        "x-ms-blob-content-md5": "kzb4AxkoD37ldrzYHZ5EVw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:51:49 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:51:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:51:49.2757183Z"
      },
      "ResponseBody": "Cco6qLom0fERA5Ffthu8z3GMHbBzV6kQKp9/q85CoRjprAQ8ueHmX0w12zpVw3JG/sY9OsWsh7EgKX4apiYizmJ4dQoWfxWQpr5jPntvu2YtOa0IBWdTPSRSHJBiy7gmEgzY3E1oL36xrJMGSUk2sW0X7W14Gsn6JTjlxGOELto="
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-6fabbfcc-ec76-932d-e1ec-53484b8c064b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:51:49 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "874108897",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}