{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-edc3603b-fca5-d928-f889-f9017b4d490c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:08:13 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E8E224EABC\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:08:14 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-edc3603b-fca5-d928-f889-f9017b4d490c/test-blob-3bb50c18-7810-47ab-a0e4-a41fff61ecc4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:08:14 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "tGG3uHR13KyOYcKYSl58DEn9l6xZVea11EwyraICoJuh5hX7M4eH8/JGZcSGDyBFed\u002BGw/e\u002BcV96AuQoQy4Ki8An9mRIgdjCdaS6E\u002B8hLsQr7DTCfN2j4nS2gDGjX7DDO9oDXxm8/fgGxE1TBF5vWdQf/Fb6Rw7jgxPvkQCnHhbz9tcUHc6rbu87vLiQUN4WRidcg2JayfPLINwFzWv3XqU2YA2GWzsFdI1mvotWUjI02ErZS5uzmC3jSfzypqGERF0SWvDRj\u002BvsVw/V9Atodc6p0PQgHhMKg8ffoxI\u002BEs7s4nouQ/hCYklf7POL3qQie9MuSdWtYyVKCNco8ezZrUVB6RGQOTHWZm2rwTEgfqQjvSc\u002BEMn4Pn9U5DshGXFchT\u002[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-edc3603b-fca5-d928-f889-f9017b4d490c/test-blob-3bb50c18-7810-47ab-a0e4-a41fff61ecc4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:08:14 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "nV/4EGC3KOmL5kkvMnDPuQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2E8E2305BC1\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:08:14 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 02:08:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 02:08:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:08:14.1990849Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-edc3603b-fca5-d928-f889-f9017b4d490c/test-blob-3bb50c18-7810-47ab-a0e4-a41fff61ecc4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:08:14 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2E8E2305BC1\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:08:14 GMT",
        "x-ms-blob-content-md5": "nV/4EGC3KOmL5kkvMnDPuQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 02:08:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 02:08:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:08:14.1990849Z"
      },
      "ResponseBody": "tGG3uHR13[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-edc3603b-fca5-d928-f889-f9017b4d490c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:08:14 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "988059161",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}