{
  "Entries": [
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-af42acd8-2596-877d-39d7-21143098591e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 24 May 2021 22:43:58 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D91F056B357ABE\"",
        "Last-Modified": "Mon, 24 May 2021 22:43:58 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-af42acd8-2596-877d-39d7-21143098591e/test-blob-e9ddfb71-5c1f-6985-9e71-09d4b4ca3bc7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 24 May 2021 22:43:58 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "ssaSk9GQ9hx5NJTYK9EQQTVXZn1kDdXLvEV8MEFevqnxs/mwZA74HbwX0hXHuhRJIzig+AtN4qXwx9eMFMbbG3Xq53jYX9wmXkjBTTrAAwEwMwwIvcWdpNBUv503bAn1O7ef3NOccMNceprDi5RqMMPVW+C60l2vTUKnhKA/7vE+yxGCICYulMJIrEMr2hg86Y/ZYREoO2lZ8I+Q9ewjHIuohMCD5w+cp8YecSYahHIpapoRZY3gFY+oKDCXnp/WJY+3glZYuAF/PbpKCspCP2sdZopREbf9yG4w2r7eBQgnR0yXYgIc0LKZkSfTlQvFZunEeTcUhBPXurnoKN5DoTexIsN9qt1pAZbYuICPKjJj[...]
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-af42acd8-2596-877d-39d7-21143098591e/test-blob-e9ddfb71-5c1f-6985-9e71-09d4b4ca3bc7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 May 2021 22:43:58 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "t1RTnj67XAj8kgy7gYQztQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D91F056B4BC26D\"",
        "Last-Modified": "Mon, 24 May 2021 22:43:58 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 24 May 2021 22:43:58 GMT",
        "x-ms-last-access-time": "Mon, 24 May 2021 22:43:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-af42acd8-2596-877d-39d7-21143098591e/test-blob-e9ddfb71-5c1f-6985-9e71-09d4b4ca3bc7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D91F056B4BC26D",
        "x-ms-date": "Mon, 24 May 2021 22:43:58 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D91F056B4BC26D\"",
        "Last-Modified": "Mon, 24 May 2021 22:43:58 GMT",
        "x-ms-blob-content-md5": "t1RTnj67XAj8kgy7gYQztQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 24 May 2021 22:43:58 GMT",
        "x-ms-last-access-time": "Mon, 24 May 2021 22:43:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "ssaSk9GQ9hx5NJTYK9EQQTVXZn1kDdXLvEV8MEFevqnxs/mwZA74HbwX0hXHuhRJIzig+AtN4qXwx9eMFMbbG3Xq53jYX9wmXkjBTTrAAwEwMww[...]
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-af42acd8-2596-877d-39d7-21143098591e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 May 2021 22:43:58 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "15645156",
    "Storage_TestConfigDefault": "ProductionTenant\nkasobolcanadacentral\nU2FuaXRpemVk\nhttp://kasobolcanadacentral.blob.core.windows.net\nhttp://kasobolcanadacentral.file.core.windows.net\nhttp://kasobolcanadacentral.queue.core.windows.net\nhttp://kasobolcanadacentral.table.core.windows.net\n\n\n\n\nhttp://kasobolcanadacentral-secondary.blob.core.windows.net\nhttp://kasobolcanadacentral-secondary.file.core.windows.net\nhttp://kasobolcanadacentral-secondary.queue.core.windows.net\nhttp://kasobolcanadacentral-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://kasobolcanadacentral.blob.core.windows.net/;QueueEndpoint=http://kasobolcanadacentral.queue.core.windows.net/;FileEndpoint=http://kasobolcanadacentral.file.core.windows.net/;BlobSecondaryEndpoint=http://kasobolcanadacentral-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://kasobolcanadacentral-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://kasobolcanadacentral-secondary.file.core.windows.net/;AccountName=kasobolcanadacentral;AccountKey=Kg==;\nencryptionScope\n\n"
  }
}