{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ce9763d2-6c88-40ed-14d6-bdf3b0f6350c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:13 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D37429A053D7\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:45:14 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ce9763d2-6c88-40ed-14d6-bdf3b0f6350c/test-blob-bf21393c-68fe-2403-922f-710939927b03",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:14 GMT"
      },
      "RequestBody": "/csQEEXpnRWeByapSKzPAefZDNPmQ8DZgHIlsTLC/48sR0SlA9\u002Bd/T/7U0QU7u0As4oatgze9roLN5DSxOvi3AeWfQFnKf0IPA6T6\u002B97xZKFJP2op0mDTVCKmsxOyjlTGHc9fXDsmIqMEnr9SgrKj3L\u002BTaDtOTS\u002BEy\u002Bw3Y4xuXHVP9J3PUghmYtzHJXOhQNGvwtaT32ZZt9DfmlBO7v7W1gIKAo4U1Ip3bQUeR2e740sah6D12n0PNnzNL7e4F3QeME8xV34DWy5MHLIhOzBpI/cFNGcd4PvFOwxRB6TS/xWQwFcYikwNFyxyqb3K7ftMo8vAsuLMwA9TbFwx8lNJeR1ckHqZEFlq\u002BB1663c9\u002Bg1QxK[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ce9763d2-6c88-40ed-14d6-bdf3b0f6350c/test-blob-bf21393c-68fe-2403-922f-710939927b03",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "oaEQCeO5ZR\u002B//GW/KY8mmQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D37429ADF624\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:45:14 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:45:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:45:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:45:14.1858852Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ce9763d2-6c88-40ed-14d6-bdf3b0f6350c/test-blob-bf21393c-68fe-2403-922f-710939927b03",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:14 GMT",
        "x-ms-range": "bytes=0-127"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D37429ADF624\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:45:14 GMT",
        "x-ms-blob-content-md5": "oaEQCeO5ZR\u002B//GW/KY8mmQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:45:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:45:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:45:14.1858852Z"
      },
      "ResponseBody": "/csQEEXpnRWeByapSKzPAefZDNPmQ8DZgHIlsTLC/48sR0SlA9\u002Bd/T/7U0QU7u0As4oatgze9roLN5DSxOvi3AeWfQFnKf0IPA6T6\u002B97xZKFJP2op0mDTVCKmsxOyjlTGHc9fXDsmIqMEnr9SgrKj3L\u002BTaDtOTS\u002BEy\u002Bw3Y4xuXE="
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ce9763d2-6c88-40ed-14d6-bdf3b0f6350c/test-blob-bf21393c-68fe-2403-922f-710939927b03",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D37429ADF624",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:14 GMT",
        "x-ms-range": "bytes=128-255"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 128-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D37429ADF624\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:45:14 GMT",
        "x-ms-blob-content-md5": "oaEQCeO5ZR\u002B//GW/KY8mmQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:45:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:45:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:45:14.1858852Z"
      },
      "ResponseBody": "1T/Sdz1IIZmLcxyVzoUDRr8LWk99mWbfQ35pQTu7\u002B1tYCCgKOFNSKd20FHkdnu\u002BNLGoeg9dp9DzZ8zS\u002B3uBd0HjBPMVd\u002BA1suTByyITswaSP3BTRnHeD7xTsMUQek0v8VkMBXGIpMDRcscqm9yu37TKPLwLLizMAPU2xcMfJTSU="
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ce9763d2-6c88-40ed-14d6-bdf3b0f6350c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1766062425",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}