{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f97de565-80f7-b7f6-f868-8db800197e63?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:19 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D389F5CDEE7\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:47:19 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f97de565-80f7-b7f6-f868-8db800197e63/test-blob-aa1e4472-30d8-fd8b-7864-3e543558bf31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:19 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "DUhTpcXD9dBG9Hz4MaR5ZJQfK9ZwHnLKXjWsBxlbd6gp70T1QS2nyTTYGf2U8rOf8xeu8an/7\u002B/WiEeQF\u002B2363zUzkFfhCJmeGGimAR0NmyCDBQCrIX\u002BKQBVHrjmF7JGIC6AvyNxQG70SHlHXVbqYVHaDgrYtD/21qRBCWZpf2GvW3fW9HZIEMymDWMMtsypar1mDAiobmvuiel\u002BMDYIisgXmAHfE23bkf0\u002BMqfb6R/YmJ\u002BoAnNYB\u002B0L6GqMyd\u002BVnYKb9R7KylZPi3oLaTvEE6DKppiXX4hUv5EU0ysDTsgeqJUkQPQBDc1IWXf5TZ2xRtTJ[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f97de565-80f7-b7f6-f868-8db800197e63/test-blob-aa1e4472-30d8-fd8b-7864-3e543558bf31",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:19 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "D\u002BJt/bNIVc5Hu\u002B7HW9mY1g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D389F979FA9\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:47:19 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 21 Sep 2021 19:47:19 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 19:47:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-09-21T19:47:19.8800565Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f97de565-80f7-b7f6-f868-8db800197e63/test-blob-aa1e4472-30d8-fd8b-7864-3e543558bf31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D97D389F979FA9",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:20 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D389F979FA9\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:47:19 GMT",
        "x-ms-blob-content-md5": "D\u002BJt/bNIVc5Hu\u002B7HW9mY1g==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 21 Sep 2021 19:47:19 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 19:47:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-09-21T19:47:19.8800565Z"
      },
      "ResponseBody": [...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f97de565-80f7-b7f6-f868-8db800197e63?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:20 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "100382684",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}