{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2de5d0e2-821a-af01-5f39-9f9620f2e175?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 07 Oct 2020 19:40:12 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86AF8CED92A13\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:40:12 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2de5d0e2-821a-af01-5f39-9f9620f2e175/test-blob-d04a2b3f-7dd7-1132-adfc-7e7f55065ec8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 07 Oct 2020 19:40:12 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "jkXsa5csy6eP990b8O0W4hkEt9CUTsY6JKSlap7654lQkIVTj7UCsoS3BLe2IkQTT7osAg/ebUB/skbzh2AIlA9Ty2Bnw1JkAQRM3UkPhAJfkhvjzeV6cSJF091uDyskrm\u002BnYlbkrIxoyAAKkpD2by1Ek/RFJMYq2Vo9Ie909fLZKC7ZZyGreuaOewXlb9\u002BRT2SwKXs23oqpfYn8poqd9NMOMWphHAcLmRgOtqnBRWl6q9GLw8x2okmkMOqXrtNb8Ycx1j11LzNcpJBiKCfh6Dgggvu5EjAGl48gvesdc\u002BpFs8Uij24rBXudLh88FHohwkeydyzYot9WKz\u002BuVHJHPzCl[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2de5d0e2-821a-af01-5f39-9f9620f2e175/test-blob-d04a2b3f-7dd7-1132-adfc-7e7f55065ec8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:40:12 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "s\u002Bsqwq\u002BC1x47ibFdTLzL7w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D86AF8CEDF4EF9\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:40:12 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 Oct 2020 19:40:12 GMT",
        "x-ms-last-access-time": "Wed, 07 Oct 2020 19:40:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2de5d0e2-821a-af01-5f39-9f9620f2e175/test-blob-d04a2b3f-7dd7-1132-adfc-7e7f55065ec8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:40:12 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D86AF8CEDF4EF9\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:40:12 GMT",
        "x-ms-blob-content-md5": "s\u002Bsqwq\u002BC1x47ibFdTLzL7w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 Oct 2020 19:40:12 GMT",
        "x-ms-last-access-time": "Wed, 07 Oct 2020 19:40:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "jkXsa5csy6eP990b8O0W4hkEt9CUTsY6JKSlap7654lQkIVTj7UCsoS3BLe2IkQTT7osAg/ebUB/skbzh2AIlA9Ty2Bnw1JkAQRM3[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2de5d0e2-821a-af01-5f39-9f9620f2e175?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:40:12 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "916098681",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}