{
  "Entries": [
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-a260bef7-3d33-2eaf-cd4b-401f31c11f3f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 24 May 2021 22:43:57 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D91F056AC2A6E4\"",
        "Last-Modified": "Mon, 24 May 2021 22:43:57 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-a260bef7-3d33-2eaf-cd4b-401f31c11f3f/test-blob-be76fde9-7340-f444-e0c6-80ec46655d90",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 24 May 2021 22:43:57 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "F/eXiz0/PPgw3+MU7rtkqBOPTL/ti69vRrm4qhnPdkyc3N3RjaxzkzTbY68iij6g6z2qeibDhYtIKEWDh5HeYWmXeBLekxpmHLiKEij/TLt7GL/bJPsm2FdRiGVn7wyi/AFGixIrwlcjQ15tOHJjSNyJCG7SAzxucZ+6jAq0/yyr5xYmucCpT1Vnt+CcuKDk7T+I3ued0PjE1xpycDVMb0QywVFcPY8b37gYaktc0bj+1p/KKyFEDhcdYeGmNt4gGkicavZPiLCwbP4vhGWtaAZhdJqVgkMj7bM5PtuudajZ+FACwGfBr07vGr4iFYmycPnbRMJEipgFeHxDFUnUAfdVVYwVqqifn8RMpmeEANgq[...]
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-a260bef7-3d33-2eaf-cd4b-401f31c11f3f/test-blob-be76fde9-7340-f444-e0c6-80ec46655d90",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 May 2021 22:43:57 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "XRhcJcTgk0PAnj2mk8rZgA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D91F056AD98AEC\"",
        "Last-Modified": "Mon, 24 May 2021 22:43:57 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 24 May 2021 22:43:57 GMT",
        "x-ms-last-access-time": "Mon, 24 May 2021 22:43:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-a260bef7-3d33-2eaf-cd4b-401f31c11f3f/test-blob-be76fde9-7340-f444-e0c6-80ec46655d90",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D91F056AD98AEC",
        "x-ms-date": "Mon, 24 May 2021 22:43:58 GMT",
        "x-ms-range": "bytes=512-639",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-639/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D91F056AD98AEC\"",
        "Last-Modified": "Mon, 24 May 2021 22:43:57 GMT",
        "x-ms-blob-content-md5": "XRhcJcTgk0PAnj2mk8rZgA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 24 May 2021 22:43:57 GMT",
        "x-ms-last-access-time": "Mon, 24 May 2021 22:43:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "ab8ppGz1Ir89tSCyxKh3qeaZAjzAlDlQLzhlIIf6HBTAYilg4/J7m5SZbDab6O1hzBIv5zNkgtSG2HQzjwE4QpgM8WJ+FsX0HWanJygCtUZLA1N0yjTgXN9U2gp9RwuTYSmdj/eL47ZMO8rMvFusgyMt6Iyuw3dkK5SCKjy7dtU="
    },
[...]
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-a260bef7-3d33-2eaf-cd4b-401f31c11f3f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 May 2021 22:43:58 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "563504237",
    "Storage_TestConfigDefault": "ProductionTenant\nkasobolcanadacentral\nU2FuaXRpemVk\nhttp://kasobolcanadacentral.blob.core.windows.net\nhttp://kasobolcanadacentral.file.core.windows.net\nhttp://kasobolcanadacentral.queue.core.windows.net\nhttp://kasobolcanadacentral.table.core.windows.net\n\n\n\n\nhttp://kasobolcanadacentral-secondary.blob.core.windows.net\nhttp://kasobolcanadacentral-secondary.file.core.windows.net\nhttp://kasobolcanadacentral-secondary.queue.core.windows.net\nhttp://kasobolcanadacentral-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://kasobolcanadacentral.blob.core.windows.net/;QueueEndpoint=http://kasobolcanadacentral.queue.core.windows.net/;FileEndpoint=http://kasobolcanadacentral.file.core.windows.net/;BlobSecondaryEndpoint=http://kasobolcanadacentral-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://kasobolcanadacentral-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://kasobolcanadacentral-secondary.file.core.windows.net/;AccountName=kasobolcanadacentral;AccountKey=Kg==;\nencryptionScope\n\n"
  }
}