{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-22a97419-bae5-849f-b588-1bfecaf3e163?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:38 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38AAB98447\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:47:38 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-22a97419-bae5-849f-b588-1bfecaf3e163/test-blob-c7fc56ad-0a67-9f73-77a0-619a8f1fc204",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:38 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "dnkqQ7D13IcZdMy/adjYRtHlh6ZoM9eatzYNbdOLjk4V9U8yRXOFgUcDlBYgvf4Az3f\u002BwX9p8kKhj4x652\u002B0jeZ9qXOIpgBeXwZeZZ/Aefk3DZ1cjc3PrAMMkLXmC5nYTwYwohOKdyh2n2J4Coyj4BaTQtnRVwAZrv1wexVLd1RshhaYj9flrZZ05e1qVqF2abCfU8i/BvcGF/MWGvsTKygODIR2C1A\u002BrZVDXHISrlhc\u002BRJlrCOLrH8fknjjz5OaYbrFXEocAF5fYKYyfKmF82mbuiDprX8Egl8EV3jYWt4Cqfu4TVENP/m0BUt9WDDWmp4OSBRysLQ6wNnqGKjlhwXH[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-22a97419-bae5-849f-b588-1bfecaf3e163/test-blob-c7fc56ad-0a67-9f73-77a0-619a8f1fc204",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:38 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "kMOP3qOybYmqtiqBhWvcqg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38AACA7F76\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:47:38 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 21 Sep 2021 19:47:38 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 19:47:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-09-21T19:47:38.6684036Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-22a97419-bae5-849f-b588-1bfecaf3e163?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:38 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1215162157",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}