{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-67fac560-a447-b4de-b35e-5738c72a0c83?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 07 Oct 2020 19:40:13 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86AF8CF3EA62B\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:40:13 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-67fac560-a447-b4de-b35e-5738c72a0c83/test-blob-60c10d23-33be-8ff3-c19c-547dd5c9aa12",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 07 Oct 2020 19:40:13 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "72c8S7PDeljeKHxA6y5VomWSP3jwfZdYgr44hpN3AmTpa7/31awRNdXisMPGa5eIY9IJPEekXHLP5Mn0i/PFZyYXVoBvXs25gQmjDszUkhYnryPAbsUdRQ9NJ/HjHKrhHUmdrhQXGQQFT7s9AE6l\u002B1GyzdvPBPhg\u002BhFwITbb1mRfwvCDNuMCD5Yeux4K4ETBqCufME/OERhQPbQDpvfNKXlW3T5dIsVusL1EsUjZVhnMr3kKPKUVkbDYMvkv/mieUJKlswIFY4VmMX\u002BRiWDQd\u002BeaNvd\u002BwuzTQEuOhe/LPrFVpmC2NKIXx0vzpAslhAdQB7sSlMhxH42l0XO3d96[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-67fac560-a447-b4de-b35e-5738c72a0c83/test-blob-60c10d23-33be-8ff3-c19c-547dd5c9aa12",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:40:13 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "0IAfFA1B8\u002BSPZsTR8J6nOQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D86AF8CF44B2FB\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:40:13 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 Oct 2020 19:40:13 GMT",
        "x-ms-last-access-time": "Wed, 07 Oct 2020 19:40:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-67fac560-a447-b4de-b35e-5738c72a0c83/test-blob-60c10d23-33be-8ff3-c19c-547dd5c9aa12",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:40:13 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D86AF8CF44B2FB\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:40:13 GMT",
        "x-ms-blob-content-md5": "0IAfFA1B8\u002BSPZsTR8J6nOQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 Oct 2020 19:40:13 GMT",
        "x-ms-last-access-time": "Wed, 07 Oct 2020 19:40:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "72c8S7PDeljeKHxA6y5VomWSP3jwfZdYgr44hpN3AmTpa7/31awRNdXisMPGa5eIY9IJPEekXHLP5Mn0i/PFZyYXVoBvXs25gQmjDszUkh[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-67fac560-a447-b4de-b35e-5738c72a0c83?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:40:13 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "284471666",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}