{
  "Entries": [
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-aa87d6e7-0f21-b095-969e-3c02cc2978c1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 17:30:13 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993EF461E4AC1\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:30:13 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-aa87d6e7-0f21-b095-969e-3c02cc2978c1/test-blob-9c61d351-a03e-5141-b4e1-a3851059ef5d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 20 Oct 2021 17:30:13 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "DuOEKs6s2B2ORp/Ea1ABDQw3yA18x32pT3ljxMWT7R5O7TbLA2c2jeWOIv02xefb7faoGyQAOUdm29pVSRNY\u002B1iAdn0ZNgmkATon7qSAcoqSh9fO6tL6TbTuZCiM4ETSNiektU9pwbbsBBrq2Uuj5mhQw8I8iRCGhijIK9HhFyD1Vbd92706KMUg4ea4EHRpS36/Ox2Clq0WHS8moJbkCuz59IOTJQqrFpr8G6cqzna0X\u002BBTItsDc78KZr6NE4guPNf5vhvw1SVzEyWChXsF7E\u002B4ckG2kecR9oDEib9MHQISzd7QMA9axIm73w\u002B2gO1DBHpu1aFGeKvv6MiaK0xmJ/Ui[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-aa87d6e7-0f21-b095-969e-3c02cc2978c1/test-blob-9c61d351-a03e-5141-b4e1-a3851059ef5d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:30:13 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "0d/jJf54Yz2Xa1ZrbZF8Bg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993EF462BE6EF\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:30:13 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:30:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:30:13.3384943Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-aa87d6e7-0f21-b095-969e-3c02cc2978c1/test-blob-9c61d351-a03e-5141-b4e1-a3851059ef5d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D993EF462BE6EF\u0022",
        "x-ms-date": "Wed, 20 Oct 2021 17:30:13 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993EF462BE6EF\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:30:13 GMT",
        "x-ms-blob-content-md5": "0d/jJf54Yz2Xa1ZrbZF8Bg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:30:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:30:13.3384943Z"
      },
      "ResponseBody": "DuOEKs6s2B2ORp/Ea1ABDQw3yA18x32pT3ljxMWT7R5O7TbLA2c2jeWOIv02xefb7faoGyQAOUdm29pVSRNY\u002B1iAdn0ZNgmkATon7qSAcoqSh9fO6tL6TbTuZCiM4ETSNiektU9pwbbsBBrq2Uuj5mhQw8I8iRCGhijIK9HhFyA="
    },
[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-aa87d6e7-0f21-b095-969e-3c02cc2978c1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:30:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "16322748",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttps://amandacanary.blob.core.windows.net\nhttps://amandacanary.file.core.windows.net\nhttps://amandacanary.queue.core.windows.net\nhttps://amandacanary.table.core.windows.net\n\n\n\n\nhttps://amandacanary-secondary.blob.core.windows.net\nhttps://amandacanary-secondary.file.core.windows.net\nhttps://amandacanary-secondary.queue.core.windows.net\nhttps://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandacanary.blob.core.windows.net/;QueueEndpoint=https://amandacanary.queue.core.windows.net/;FileEndpoint=https://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Kg==;\ntestscope2\n\n"
  }
}