{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2403ff8a-2395-e048-e182-591939434b39?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 07 Oct 2020 19:40:00 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86AF8C7D235E0\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:40:00 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2403ff8a-2395-e048-e182-591939434b39/test-blob-90d557bd-ccb5-417f-4ff9-f38d629562ba",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 07 Oct 2020 19:40:00 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": "T4QvDmblENjX5/UFQ387ESXahYSUPSdawZ5jr5FsRPGN23kgoU4ZrqTVNyp/TcwH/g6W/Lh\u002BbxJd1EzIgWBHaqIEd2gGG3DXwdffvwX82nTRXLCD1kg5D2tmw8wBUS1DjsyHe9VkAOOevzvhnrAMYPnY9iSwxJRaymj8n1ik1W\u002BqnDA5dF\u002BfbFvN5BcMV3C7WWLSKVoIk8o4LbBsZ2GL\u002BunLNgJ/0\u002BuaOYnJ4t98TXL3QUX10awVoQhmAEeuMgX6QuouQCFuPIZ3N\u002B/QP7DqvN89dCYblSg9tpT5GNKk7AaEzqD0Tg1RiQS/fpq8RWJXe0Rncb3f363C8Y[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2403ff8a-2395-e048-e182-591939434b39/test-blob-90d557bd-ccb5-417f-4ff9-f38d629562ba",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:40:00 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "gEIBadvpT0mTDHTSGWXvcQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D86AF8C7D92635\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:40:01 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 Oct 2020 19:40:01 GMT",
        "x-ms-last-access-time": "Wed, 07 Oct 2020 19:40:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2403ff8a-2395-e048-e182-591939434b39?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:40:00 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2047075704",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}