{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-41828b29-9ab3-f067-11ba-1da64895d967?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:03 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D374237CB825\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:45:03 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-41828b29-9ab3-f067-11ba-1da64895d967/test-blob-b21c06a4-496d-7c86-85bf-71ae9a74b22a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:03 GMT"
      },
      "RequestBody": "FPd8FuVqWy\u002B3vAyitsOX/0/SnYuzKRHnfH2Zu/cBxsYQSY9hllRmnmCx\u002BJnLOEv7QwKDLdFz5uvllJpn0KA4tfZGkW0zNmn6bP4rATB4HEMynXf1fZn0nGOkewK6/s6/eUKihKbdyA2ZiMDSSOS6bXdXNTIpQzhdUfUJjrpmQG0wa4ft1picVNVpW/TYIlR/6g6KYsmcljUKRDKx1DpSMkhTod1czJbeuuBcv\u002BdDhS\u002BgiqSs292klNRS4pFm6oCbFymshIF3Ih13rKjpP9dOx74DEUqWpVZqrw0ICukFeM9gwai\u002BlwCtKWeGNS81u1X9AxvTYtk1BXHTQdV0bhczcTPYiH0ukC\u002B9VefiD28mNfO3CgbNMhX1[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-41828b29-9ab3-f067-11ba-1da64895d967/test-blob-b21c06a4-496d-7c86-85bf-71ae9a74b22a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:03 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "mLPoru5KaZl/Tp9ho6XL/A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D37423866E82\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:45:03 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:45:03 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:45:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:45:03.8604930Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-41828b29-9ab3-f067-11ba-1da64895d967/test-blob-b21c06a4-496d-7c86-85bf-71ae9a74b22a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:03 GMT",
        "x-ms-range": "bytes=0-127"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D37423866E82\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:45:03 GMT",
        "x-ms-blob-content-md5": "mLPoru5KaZl/Tp9ho6XL/A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:45:03 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:45:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:45:03.8604930Z"
      },
      "ResponseBody": "FPd8FuVqWy\u002B3vAyitsOX/0/SnYuzKRHnfH2Zu/cBxsYQSY9hllRmnmCx\u002BJnLOEv7QwKDLdFz5uvllJpn0KA4tfZGkW0zNmn6bP4rATB4HEMynXf1fZn0nGOkewK6/s6/eUKihKbdyA2ZiMDSSOS6bXdXNTIpQzhdUfUJjrpmQG0="
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-41828b29-9ab3-f067-11ba-1da64895d967/test-blob-b21c06a4-496d-7c86-85bf-71ae9a74b22a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D37423866E82",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:04 GMT",
        "x-ms-range": "bytes=128-255"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 128-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D37423866E82\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:45:03 GMT",
        "x-ms-blob-content-md5": "mLPoru5KaZl/Tp9ho6XL/A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:45:03 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:45:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:45:03.8604930Z"
      },
      "ResponseBody": "MGuH7daYnFTVaVv02CJUf\u002BoOimLJnJY1CkQysdQ6UjJIU6HdXMyW3rrgXL/nQ4UvoIqkrNvdpJTUUuKRZuqAmxcprISBdyIdd6yo6T/XTse\u002BAxFKlqVWaq8NCArpBXjPYMGovpcArSlnhjUvNbtV/QMb02LZNQVx00HVdG4XM3E="
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-41828b29-9ab3-f067-11ba-1da64895d967?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:04 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "540532036",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}