{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-54dcd9e4-4ab1-bbfd-21d1-6d72c724f313?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:49:22 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D374BDD31A87\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:49:22 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-54dcd9e4-4ab1-bbfd-21d1-6d72c724f313/test-blob-f9afabcc-e2bc-acdc-5cde-0d9639d37df4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:49:22 GMT"
      },
      "RequestBody": "AYakAt6mslfwj8TEoGl6U0QVxBKntNT\u002BGbDWMuRsY5QrdpK7KIt6BwElTq8uOdhrelQ31Davi02xpugt0H9zgysvmSrWviq5m70RgWUl0ODYareQNY5ee\u002BtFCoKiTDaBssuD/p\u002Bulbwpfjl5ngnni9UIVGXI4k6d0R0/kbSoFk6Gj8\u002BZodJAKtX7ZrdU5d3iXX6smvfQuc995i2BbgMIgWfr8g45TuoDxyqQzHyWSOxAXTQ1\u002B3xWttX/HLulv7vR8\u002BVPafLOqA\u002BUqdLNP\u002B1T5p5BQRHP0obrlDw5OjEuXghvv9mXR975cbQkoFGpiXborDUcY36pASBfZNW2lW7dZUrKXoAUvJ/AR89dqjE0QQ[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-54dcd9e4-4ab1-bbfd-21d1-6d72c724f313/test-blob-f9afabcc-e2bc-acdc-5cde-0d9639d37df4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:49:22 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "HwThY0tDHTK5TFhL5yvleQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D374BDDCA162\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:49:22 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:49:22 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:49:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:49:22.7945314Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-54dcd9e4-4ab1-bbfd-21d1-6d72c724f313/test-blob-f9afabcc-e2bc-acdc-5cde-0d9639d37df4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:49:22 GMT",
        "x-ms-range": "bytes=0-127"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D374BDDCA162\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:49:22 GMT",
        "x-ms-blob-content-md5": "HwThY0tDHTK5TFhL5yvleQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:49:22 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:49:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:49:22.7945314Z"
      },
      "ResponseBody": "AYakAt6mslfwj8TEoGl6U0QVxBKntNT\u002BGbDWMuRsY5QrdpK7KIt6BwElTq8uOdhrelQ31Davi02xpugt0H9zgysvmSrWviq5m70RgWUl0ODYareQNY5ee\u002BtFCoKiTDaBssuD/p\u002Bulbwpfjl5ngnni9UIVGXI4k6d0R0/kbSoFk4="
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-54dcd9e4-4ab1-bbfd-21d1-6d72c724f313/test-blob-f9afabcc-e2bc-acdc-5cde-0d9639d37df4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D374BDDCA162",
        "x-ms-date": "Wed, 17 Feb 2021 18:49:22 GMT",
        "x-ms-range": "bytes=128-255"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 128-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D374BDDCA162\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:49:22 GMT",
        "x-ms-blob-content-md5": "HwThY0tDHTK5TFhL5yvleQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:49:22 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:49:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:49:22.7945314Z"
      },
      "ResponseBody": "ho/PmaHSQCrV\u002B2a3VOXd4l1\u002BrJr30LnPfeYtgW4DCIFn6/IOOU7qA8cqkMx8lkjsQF00Nft8VrbV/xy7pb\u002B70fPlT2nyzqgPlKnSzT/tU\u002BaeQUERz9KG65Q8OToxLl4Ib7/Zl0fe\u002BXG0JKBRqYl26Kw1HGN\u002BqQEgX2TVtpVu3WU="
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-54dcd9e4-4ab1-bbfd-21d1-6d72c724f313?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:49:23 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "673883897",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}