{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ebe71ae6-5559-af57-e274-ae1f5f029ca9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:08:14 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E8E2D7D77C\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:08:15 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ebe71ae6-5559-af57-e274-ae1f5f029ca9/test-blob-9c7a272b-a5a4-ac7d-700b-74d8970bfff0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:08:15 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "1Q4O1zuAdKJZm4qf\u002ByeTWNYpLT5IcNNgY3fQUSB/C05qC1oNesVJcKwW0jsY7YQi9MlrF\u002BQQBWQ6rnTDsCOC2o88NPDMht4R4L2RMp6XSHbzrVxWE/RpWgb20sxRhcCJk/ir3LiUVm7rWjYnftLGo2X90ALHK8ab0tnp1rMRv1r8B56m62u9Xlfta7m9QdszMC9mU7S\u002BwmgxEAneqn\u002B62ZrbK3czH7f5P3Gq2b8N3ZH9tqaEq2umPUU2ddti37TXM5Ie4RZk/xB4bBNDE\u002BmoJDJ44PTZNi4vNe0x/arcl2C90qUt7vx6mbaVDD5XYypbjVCo6f7A/v1j76soMgJmnNSzhUBDezY2/Uc9Qyrw19LD1nBZM65i/NSoyf5QUma0L29ppN3pFxIa[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ebe71ae6-5559-af57-e274-ae1f5f029ca9/test-blob-9c7a272b-a5a4-ac7d-700b-74d8970bfff0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:08:15 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "R0WnukUir\u002Bq8mWZRxiU0wQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2E8E2E1F1CD\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:08:15 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 02:08:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 02:08:15 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:08:15.3629133Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ebe71ae6-5559-af57-e274-ae1f5f029ca9/test-blob-9c7a272b-a5a4-ac7d-700b-74d8970bfff0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:08:15 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2E8E2E1F1CD\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:08:15 GMT",
        "x-ms-blob-content-md5": "R0WnukUir\u002Bq8mWZRxiU0wQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 02:08:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 02:08:15 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:08:15.3629133Z"
      },
      "ResponseBody": "1Q4O[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ebe71ae6-5559-af57-e274-ae1f5f029ca9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:08:15 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1188150120",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}