{
  "Entries": [
    {
      "RequestUri": "https://seanchangefeed.blob.core.windows.net/test-container-75e8b2f2-1069-d462-0b9e-b2a57b1e442f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 01 Jun 2020 19:12:17 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8065FB4480987\u0022",
        "Last-Modified": "Mon, 01 Jun 2020 19:12:18 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanchangefeed.blob.core.windows.net/test-container-75e8b2f2-1069-d462-0b9e-b2a57b1e442f/test-blob-fc9d1753-3505-6fb8-e63b-6a582e81ce76",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 01 Jun 2020 19:12:18 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "W6Mmu\u002Bhf8lcM\u002BY4FOBsUt7eZdInwgTQMwy7FH4GFA1wl1\u002BscLSwx0f/XtgEEQjaQ4mJpUhW1ENpuGfi6mdLWh/Ux32Ew\u002BIqKZ6KKGMozB4D3ND0fHLFHcMYQrRM0dzgtAC8L02LUYOnX3upyK/cQOxJ3wmSUt2pE6m\u002BaIEp3Vu9qXBebJzQdItRURz7G1ETO/3IAvbXTmUnEx\u002BjzOkCfYIf6CM7gdRTdWZ\u002BQQG8sfRYqzCDYdpk6lsPO1mBMKuiTtOa2zMt27opeI2MVQ1nZmEnSyW0gx\u002Bruv3ILEp6zkS\u002B2/IuJdrFKtN6VeVI1JFN[...]
    {
      "RequestUri": "https://seanchangefeed.blob.core.windows.net/test-container-75e8b2f2-1069-d462-0b9e-b2a57b1e442f/test-blob-fc9d1753-3505-6fb8-e63b-6a582e81ce76",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 02 Jun 2020 19:12:17 GMT",
        "x-ms-date": "Mon, 01 Jun 2020 19:12:18 GMT",
        "x-ms-range": "bytes=0-255",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanchangefeed.blob.core.windows.net/test-container-c82612dc-b16c-506a-94f6-50307afd5ea0/test-blob-2b46f704-c520-597d-0fb4-aa04430c0d87",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sun, 31 May 2020 19:12:17 GMT",
        "x-ms-date": "Mon, 01 Jun 2020 19:12:18 GMT",
        "x-ms-range": "bytes=0-255",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:77b2d2a9-001e-000a-5948-38dbe8000000\n",
        "Time:2020-06-01T19:12:19.6937476Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanchangefeed.blob.core.windows.net/test-container-cdc67b9a-e6b8-df6b-d5ee-c1428ad64920/test-blob-8cb88c68-7302-2963-719d-6288508a6026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-date": "Mon, 01 Jun 2020 19:12:19 GMT",
        "x-ms-range": "bytes=0-255",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:cb0f236b-901e-0037-5948-38adf3000000\n",
        "Time:2020-06-01T19:12:20.4011003Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanchangefeed.blob.core.windows.net/test-container-55111eb8-5ce7-19c6-0c8d-ecc99b7df8c9/test-blob-4c5727d7-54e2-b9e3-e915-52528b11a0dd",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jun 2020 19:12:20 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "F0e3Wz980NzPS4Anacls9Q==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8065FB5757422\u0022",
        "Last-Modified": "Mon, 01 Jun 2020 19:12:20 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 01 Jun 2020 19:12:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanchangefeed.blob.core.windows.net/test-container-55111eb8-5ce7-19c6-0c8d-ecc99b7df8c9/test-blob-4c5727d7-54e2-b9e3-e915-52528b11a0dd",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u00220x8D8065FB5757422\u0022",
        "x-ms-date": "Mon, 01 Jun 2020 19:12:20 GMT",
        "x-ms-range": "bytes=0-255",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanchangefeed.blob.core.windows.net/test-container-78b35157-4b8c-7a1e-1041-06521c124c9b/test-blob-094803c9-5f16-8e7c-cd0c-9efedfe4f545",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jun 2020 19:12:20 GMT",
        "x-ms-lease-id": "24cb0e7f-9ebf-ba30-1fa0-d3c6c685d008",
        "x-ms-range": "bytes=0-255",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseNotPresentWithBlobOperation\u003C/Code\u003E\u003CMessage\u003EThere is currently no lease on the blob.\n",
        "RequestId:aa3f58c2-f01e-00a7-7648-38979d000000\n",
        "Time:2020-06-01T19:12:21.6288308Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanchangefeed.blob.core.windows.net/test-container-78b35157-4b8c-7a1e-1041-06521c124c9b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jun 2020 19:12:20 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-06-01T14:12:17.6974789-05:00",
    "RandomSeed": "700844951",
    "Storage_TestConfigDefault": "ProductionTenant\nseanchangefeed\nU2FuaXRpemVk\nhttps://seanchangefeed.blob.core.windows.net\nhttps://seanchangefeed.file.core.windows.net\nhttps://seanchangefeed.queue.core.windows.net\nhttps://seanchangefeed.table.core.windows.net\n\n\n\n\nhttps://seanchangefeed-secondary.blob.core.windows.net\nhttps://seanchangefeed-secondary.file.core.windows.net\nhttps://seanchangefeed-secondary.queue.core.windows.net\nhttps://seanchangefeed-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanchangefeed.blob.core.windows.net/;QueueEndpoint=https://seanchangefeed.queue.core.windows.net/;FileEndpoint=https://seanchangefeed.file.core.windows.net/;BlobSecondaryEndpoint=https://seanchangefeed-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanchangefeed-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanchangefeed-secondary.file.core.windows.net/;AccountName=seanchangefeed;AccountKey=Sanitized\nseanscope1"
  }
}