{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b5650160-a161-c266-8ce6-747e4b8d6f15?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Aug 2021 22:44:27 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9642C1103EBF2\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 22:44:27 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b5650160-a161-c266-8ce6-747e4b8d6f15/test-blob-4a356438-8d4f-d72f-808c-293f4b30403b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Aug 2021 22:44:27 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "JwvTR5afcGS3BTYL4s\u002Blqk9VRcrZve2N8aMIHtZZMf8jNXARDU\u002BImRBO\u002BiLhLv3bNnqg2TlnsGkdRlbzl1KOXtQ3561fk50Azay6isPKrMKmLehbuFfFvIQG88f4lAK\u002BwJxOqUdQe6LdoAyNrSalU5mUTWppMqV8cSsoWJ/VBzip/MonfAJ7VbFGfhdLOA5eYaAuZEeYVI720TgcJyICB5nT5LFbfdeWGfe4I7SNMTkcyvf/p6LxEac8MarKXi6PQ3Z\u002BeFRdAuPJl0tP3zHZaKD//1wqA2D34tIJH0wtzLrJKN8\u002BD7nlv8gTNRBWoTF2YsgJy1/RZEAWhp[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b5650160-a161-c266-8ce6-747e4b8d6f15/test-blob-4a356438-8d4f-d72f-808c-293f4b30403b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 22:44:27 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "T1qKtaNmbauSuUgEDVglrQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9642C110BF18B\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 22:44:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Aug 2021 22:44:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-20T22:44:27.6969867Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b5650160-a161-c266-8ce6-747e4b8d6f15/test-blob-4a356438-8d4f-d72f-808c-293f4b30403b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9642C110BF18B\u0022",
        "x-ms-date": "Fri, 20 Aug 2021 22:44:27 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9642C110BF18B\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 22:44:27 GMT",
        "x-ms-blob-content-md5": "T1qKtaNmbauSuUgEDVglrQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Aug 2021 22:44:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-20T22:44:27.6969867Z"
      },
      "ResponseBody": "JwvTR5afcGS3BTYL4s\u002Blqk9VRcrZve2N8aMIHtZZMf8jNXARDU\u002BImRBO\u002BiLh[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b5650160-a161-c266-8ce6-747e4b8d6f15?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 22:44:27 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1241420260",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Kg==;\ntestscope2\n\n"
  }
}