{
  "Entries": [
    {
      "RequestUri": "https://seandevtest.blob.core.windows.net/test-container-83bbbc71-ca7b-99be-7206-16b8fb484f89?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 09 Jul 2020 16:14:19 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8242322994D00\u0022",
        "Last-Modified": "Thu, 09 Jul 2020 16:14:19 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seandevtest.blob.core.windows.net/test-container-83bbbc71-ca7b-99be-7206-16b8fb484f89/test-blob-5460c244-3586-723c-276a-6ddd7d599507",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 09 Jul 2020 16:14:19 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "ZSc19DVkMTwaa5JhzZtWdTIO3brYLpQNLt6R3n2j2dGALbwcxt/Sdw80B4mg7nT3Z0HMZ0Le9jeSKMVW0lO/dpHA4KDeOa5SPGWrpCcKbUBqmnc813KOojaFiZ4ae6W7dJD43w3TGS2SeSrdM1IQh7qF7Dfbg58fMj5qWbAPOMG/7y\u002BWEo0yloFKqV1IsW/jdALjlY5t4PHx2a3Pab99gkFoHUMjenUsUlW2kdlC1oDPhuStK6IyUQ89pTngYy3BzSYb35MrwPqMtkI5tk4XrwIs/\u002BLbz1aeNswz5dU8TO8o9cOzJvfto8bpIXVg\u002BZrAJfU2s2RK5f7PfKnH99olUGpTEMGKZ[...]
    {
      "RequestUri": "https://seandevtest.blob.core.windows.net/test-container-83bbbc71-ca7b-99be-7206-16b8fb484f89/test-blob-5460c244-3586-723c-276a-6ddd7d599507",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 09 Jul 2020 16:14:19 GMT",
        "x-ms-range": "bytes=0-156",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-156/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8242322A5EA86\u0022",
        "Last-Modified": "Thu, 09 Jul 2020 16:14:19 GMT",
        "x-ms-blob-content-md5": "5WJmIaqRrJTEln87bPZjRg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 09 Jul 2020 16:14:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "ZSc19DVkMTwaa5JhzZtWdTIO3brYLpQNLt6R3n2j2dGALbwcxt/Sdw80B4mg7nT3Z0HMZ0Le9jeSKMVW0lO/dpHA4KDeOa5SPGWrpCcKbUBqmnc813KOojaFiZ4ae6W7dJD43w3TGS2SeSrdM1IQh7qF7Dfbg58fMj5qWbAPOMG/7y\u002BWEo0yloFKqV1IsW/jdALjlY5t4PHx2a3PaQ=="
    },
[...]
    {
      "RequestUri": "https://seandevtest.blob.core.windows.net/test-container-83bbbc71-ca7b-99be-7206-16b8fb484f89?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 09 Jul 2020 16:14:20 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1468275171",
    "Storage_TestConfigDefault": "ProductionTenant\nseandevtest\nU2FuaXRpemVk\nhttps://seandevtest.blob.core.windows.net\nhttps://seandevtest.file.core.windows.net\nhttps://seandevtest.queue.core.windows.net\nhttps://seandevtest.table.core.windows.net\n\n\n\n\nhttps://seandevtest-secondary.blob.core.windows.net\nhttps://seandevtest-secondary.file.core.windows.net\nhttps://seandevtest-secondary.queue.core.windows.net\nhttps://seandevtest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seandevtest.blob.core.windows.net/;QueueEndpoint=https://seandevtest.queue.core.windows.net/;FileEndpoint=https://seandevtest.file.core.windows.net/;BlobSecondaryEndpoint=https://seandevtest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seandevtest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seandevtest-secondary.file.core.windows.net/;AccountName=seandevtest;AccountKey=Kg==;\nseanscope1"
  }
}