{
  "Entries": [
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-83bbbc71-ca7b-99be-7206-16b8fb484f89?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 24 May 2021 22:44:00 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D91F056CAC5955\"",
        "Last-Modified": "Mon, 24 May 2021 22:44:00 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-83bbbc71-ca7b-99be-7206-16b8fb484f89/test-blob-5460c244-3586-723c-276a-6ddd7d599507",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 24 May 2021 22:44:01 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "ZSc19DVkMTwaa5JhzZtWdTIO3brYLpQNLt6R3n2j2dGALbwcxt/Sdw80B4mg7nT3Z0HMZ0Le9jeSKMVW0lO/dpHA4KDeOa5SPGWrpCcKbUBqmnc813KOojaFiZ4ae6W7dJD43w3TGS2SeSrdM1IQh7qF7Dfbg58fMj5qWbAPOMG/7y+WEo0yloFKqV1IsW/jdALjlY5t4PHx2a3Pab99gkFoHUMjenUsUlW2kdlC1oDPhuStK6IyUQ89pTngYy3BzSYb35MrwPqMtkI5tk4XrwIs/+Lbz1aeNswz5dU8TO8o9cOzJvfto8bpIXVg+ZrAJfU2s2RK5f7PfKnH99olUGpTEMGKZIgLP1sb8a3hPjwx[...]
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-83bbbc71-ca7b-99be-7206-16b8fb484f89/test-blob-5460c244-3586-723c-276a-6ddd7d599507",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 May 2021 22:44:01 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "5WJmIaqRrJTEln87bPZjRg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D91F056CC7AAF3\"",
        "Last-Modified": "Mon, 24 May 2021 22:44:00 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 24 May 2021 22:44:00 GMT",
        "x-ms-last-access-time": "Mon, 24 May 2021 22:44:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-83bbbc71-ca7b-99be-7206-16b8fb484f89/test-blob-5460c244-3586-723c-276a-6ddd7d599507",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D91F056CC7AAF3",
        "x-ms-date": "Mon, 24 May 2021 22:44:01 GMT",
        "x-ms-range": "bytes=0-156",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-156/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D91F056CC7AAF3\"",
        "Last-Modified": "Mon, 24 May 2021 22:44:00 GMT",
        "x-ms-blob-content-md5": "5WJmIaqRrJTEln87bPZjRg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 24 May 2021 22:44:00 GMT",
        "x-ms-last-access-time": "Mon, 24 May 2021 22:44:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "ZSc19DVkMTwaa5JhzZtWdTIO3brYLpQNLt6R3n2j2dGALbwcxt/Sdw80B4mg7nT3Z0HMZ0Le9jeSKMVW0lO/dpHA4KDeOa5SPGWrpCcKbUBqmnc813KOojaFiZ4ae6W7dJD43w3TGS2SeSrdM1IQh7qF7Dfbg58fMj5qWbAPOMG/7y+WEo0yloFKqV1IsW/jdALjlY5t4PHx2a3PaQ=="
    },
[...]
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-83bbbc71-ca7b-99be-7206-16b8fb484f89?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 May 2021 22:44:01 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1468275171",
    "Storage_TestConfigDefault": "ProductionTenant\nkasobolcanadacentral\nU2FuaXRpemVk\nhttp://kasobolcanadacentral.blob.core.windows.net\nhttp://kasobolcanadacentral.file.core.windows.net\nhttp://kasobolcanadacentral.queue.core.windows.net\nhttp://kasobolcanadacentral.table.core.windows.net\n\n\n\n\nhttp://kasobolcanadacentral-secondary.blob.core.windows.net\nhttp://kasobolcanadacentral-secondary.file.core.windows.net\nhttp://kasobolcanadacentral-secondary.queue.core.windows.net\nhttp://kasobolcanadacentral-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://kasobolcanadacentral.blob.core.windows.net/;QueueEndpoint=http://kasobolcanadacentral.queue.core.windows.net/;FileEndpoint=http://kasobolcanadacentral.file.core.windows.net/;BlobSecondaryEndpoint=http://kasobolcanadacentral-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://kasobolcanadacentral-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://kasobolcanadacentral-secondary.file.core.windows.net/;AccountName=kasobolcanadacentral;AccountKey=Kg==;\nencryptionScope\n\n"
  }
}