{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-52bce973-743d-f688-387a-f42ef0455460?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:10 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D374279365D1\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:45:10 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-52bce973-743d-f688-387a-f42ef0455460/test-blob-436b4032-bbb1-b1a9-b087-a6dcfe9afef2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:10 GMT"
      },
      "RequestBody": "Wr0z5DNJ7OH7TrECTDjV3vLt\u002BBH2DoxkYIEegFPSr5nyQfZjJaPU6/JtS4ZH2U0lql8o0Q438Uwxz4SyK2uNKZ4XDwpBcbhPGQweiMMGHIY0\u002Bdbzqd6Lu1CpMlUeIsCG4CHoMMlC4zin2bgBGGiJKrP\u002BfTKVmX\u002B/i1S6mD9iMPZMmKihHuu88hWdTM8miaLnIAeiIKSO8UahKKR1h0v5RKjBtYDA5wzHQYsc902wmAKx03c3wBBSvaZh//VGR2rKowgnZdMiJjj72t4Ycvn48ZCiw7TTwoSYbvjZXugWgPohUVREiDMvj6w\u002BO\u002BUxOUutaQ1lpIS29uGEj/baSMdQ5Vrk9yCltGldcjMHlYaeZjStK/Xasdt2[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-52bce973-743d-f688-387a-f42ef0455460/test-blob-436b4032-bbb1-b1a9-b087-a6dcfe9afef2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:10 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "dvvPc9IVViagoIJiWkrb\u002BQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D374279DC806\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:45:10 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:45:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:45:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:45:10.7244038Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-52bce973-743d-f688-387a-f42ef0455460/test-blob-436b4032-bbb1-b1a9-b087-a6dcfe9afef2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:10 GMT",
        "x-ms-range": "bytes=0-4194303"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D374279DC806\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:45:10 GMT",
        "x-ms-blob-content-md5": "dvvPc9IVViagoIJiWkrb\u002BQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:45:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:45:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:45:10.7244038Z"
      },
      "ResponseBody": "Wr0[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-52bce973-743d-f688-387a-f42ef0455460?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:10 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "788166455",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}