{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-17dbcc09-f554-be7a-02a8-075188128bb7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Aug 2021 22:44:58 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9642C235FE9A2\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 22:44:58 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-17dbcc09-f554-be7a-02a8-075188128bb7/test-blob-fc5d0044-4fec-0ea9-3fae-5fd830bda3bf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Aug 2021 22:44:58 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "tm6rdebq\u002B9IQBY\u002BEciqVqmEmgpciUHMvAeQWuJKuMkT2gZm6rNH65PUdKT4L3x/RbPmrfb9B3mX7e3MC00NAYtNKjfGQ2v6QK56hBCc0IyHEREyYArSFtaI0vzFd\u002BBCy3cZrwVIuQZH7G1Ehn9k9xldSPo/3p18exddOWxvMMzON7ydgyWLPlgO6nediYxbJ9vjaCrqBuzZnTPt63\u002BV2Lugdk7Cy3f30g6eLPQl4vGLBhWUi8ih5DDPw\u002BX1mVLYdQ2//Rc9lFhn75YcS9X4s7pCZuVmAVDu/pId8weR/ji7wbvmZeHeSW29MJw2gZxa1xArtzJpdnO80P6BH6VU[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-17dbcc09-f554-be7a-02a8-075188128bb7/test-blob-fc5d0044-4fec-0ea9-3fae-5fd830bda3bf",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 22:44:58 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "RNZYSIjA1XiKW0o\u002BY2NSbw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9642C23679510\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 22:44:58 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Aug 2021 22:44:58 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-20T22:44:58.4965392Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-17dbcc09-f554-be7a-02a8-075188128bb7/test-blob-fc5d0044-4fec-0ea9-3fae-5fd830bda3bf",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9642C23679510\u0022",
        "x-ms-date": "Fri, 20 Aug 2021 22:44:58 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9642C23679510\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 22:44:58 GMT",
        "x-ms-blob-content-md5": "RNZYSIjA1XiKW0o\u002BY2NSbw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Aug 2021 22:44:58 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-20T22:44:58.4965392Z"
      },
      "ResponseBody": "tm6rdebq\u002B9IQBY\u002BEciqVqmEmgpciUHMvAeQWuJKuMkT2gZm6rNH65PUdKT4L3x/RbPmrfb9B3mX7e3MC00NAYtNKjfGQ2v6QK56hBCc0IyHEREyYArSFtaI0vzFd\u002BBCy3cZrwVIuQZH7G1Ehn9k9xldSPo/3p18exddOWxvMMzM="
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-17dbcc09-f554-be7a-02a8-075188128bb7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 22:44:59 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2058286041",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Kg==;\ntestscope2\n\n"
  }
}