{
  "Entries": [
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-e6112f5e-bbb5-95ae-13bb-f8f2416bcdc9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 24 May 2021 22:43:03 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D91F054AED94CD\"",
        "Last-Modified": "Mon, 24 May 2021 22:43:04 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-e6112f5e-bbb5-95ae-13bb-f8f2416bcdc9/test-blob-6683a2e6-1ef9-5eb3-6861-7d42cf773c5a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 24 May 2021 22:43:04 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "ETcOaUPIHrvPDiKvOoSd6QJEcyzkF0nBd+GKH/PYVNI72RjAG05wtvbL5nGKjAou+8SEaXydw/rtTPJhPf7H9rlQc2Br3M200702GDDYN+vXXCMuVOpVnhUe089cDnj3BO+4Ohmpwh730Ja/ZqvJFRQGiuHbmKHO+tRKTAn+V8REPhNBH/zSLZkFN4RUljdqVb66VoSXHGxO6UBEX3YV+HjReiiXiPUYNFxH1mAdeWSd4PdLQwFArSGn8jW8jc4j7z8LgxsP083IoiEoT0YLMHDbpn5+ybR3kc0G75W/XKaNJOYhEfZJjg0pgqHfF13bnMHF4OdPpCaKlPFNCOM4CUV6mitg6h95khhxVUYTl3lw[...]
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-e6112f5e-bbb5-95ae-13bb-f8f2416bcdc9/test-blob-6683a2e6-1ef9-5eb3-6861-7d42cf773c5a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 May 2021 22:43:04 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "bASVNdcblbOGdCvWHfcUAQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D91F054B11BC80\"",
        "Last-Modified": "Mon, 24 May 2021 22:43:04 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 24 May 2021 22:43:04 GMT",
        "x-ms-last-access-time": "Mon, 24 May 2021 22:43:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-e6112f5e-bbb5-95ae-13bb-f8f2416bcdc9/test-blob-6683a2e6-1ef9-5eb3-6861-7d42cf773c5a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D91F054B11BC80",
        "x-ms-date": "Mon, 24 May 2021 22:43:04 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D91F054B11BC80\"",
        "Last-Modified": "Mon, 24 May 2021 22:43:04 GMT",
        "x-ms-blob-content-md5": "bASVNdcblbOGdCvWHfcUAQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 24 May 2021 22:43:04 GMT",
        "x-ms-last-access-time": "Mon, 24 May 2021 22:43:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "ETcOaUPIHrvPDiKvOoSd6QJEcyzkF0nBd+GKH/PYVNI72RjAG05wtvbL5nGKjAou+8SEaXydw/rtTPJhPf7H9rlQc2Br3M200702GDDYN+vXXCMuVOpVnhUe089cDnj3BO+4Ohmpwh730Ja/ZqvJFRQGiuHbmKHO+tRKTAn+V8REPhNBH/zSLZkFN4RUljdqVb66VoSXHGxO6UBEX3YV+HjReiiXiPUYNFxH1mAdeWSd4PdLQwFArSGn8jW8jc4j7z8LgxsP083IoiEoT0YLMHDbpn5+ybR3kc0G75W/XKaNJOYhEfZJjg0pgqHfF13bnMHF4OdPpCaKlPFNCOM4CUV6mitg6h95khhxVUYTl3lwK1PT+Xu/PX/AlnwF+4Up8HlbZHwxerGiTE3O3k/fd/x33d2QZQ/Ju1ysoFOjdJeTSGTNtzP8PrChMK0u8V8w4R+AjR2nmYtpkakghdpe/9i1O5bqEb/Jep8t7jRim8r9e780IuZ5667YYyWJ3LjVQzHUeLbJRc9gthJ+eqpXB/bfIgkbKdzxPE/nEa6ZP53mV6sCjSIUMzbv1GvT+3AEgVsvqrmvuhlV4zxm4jMhxnd0mCP+VHnTyu/TK1VwHkDf45BSaZTjN5ySrKrmrVACzg30XmNNBS3iW9/K24/D5cX7h/+jzlzikWCGbKfP7Rw="
    },
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-e6112f5e-bbb5-95ae-13bb-f8f2416bcdc9/test-blob-6683a2e6-1ef9-5eb3-6861-7d42cf773c5a?comp=block&blockid=dGVzdC1ibG9jay1hNTM4YjdhYy1mYmIxLTRkYzktNmRjZC04MGZiNTIwYzAwNjQ%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 24 May 2021 22:43:04 GMT",
        "x-ms-version": "2020-12-06"[...]
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-e6112f5e-bbb5-95ae-13bb-f8f2416bcdc9/test-blob-6683a2e6-1ef9-5eb3-6861-7d42cf773c5a?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Mon, 24 May 2021 22:43:05 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "﻿<BlockList><Latest>dGVzdC1ibG9jay1hNTM4YjdhYy1mYmIxLTRkYzktNmRjZC04MGZiNTIwYzAwNjQ=</Latest></BlockList>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D91F054B631FA3\"",
        "Last-Modified": "Mon, 24 May 2021 22:43:04 GMT",
        "x-ms-content-crc64": "8QUM1mVFkqU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-e6112f5e-bbb5-95ae-13bb-f8f2416bcdc9/test-blob-6683a2e6-1ef9-5eb3-6861-7d42cf773c5a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D91F054B11BC80",
        "x-ms-date": "Mon, 24 May 2021 22:43:05 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:ab34dc7b-601e-0012-0eee-50b161000000\n",
        "Time:2021-05-24T22:43:05.0563560Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-e6112f5e-bbb5-95ae-13bb-f8f2416bcdc9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 May 2021 22:43:05 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "273952411",
    "Storage_TestConfigDefault": "ProductionTenant\nkasobolcanadacentral\nU2FuaXRpemVk\nhttp://kasobolcanadacentral.blob.core.windows.net\nhttp://kasobolcanadacentral.file.core.windows.net\nhttp://kasobolcanadacentral.queue.core.windows.net\nhttp://kasobolcanadacentral.table.core.windows.net\n\n\n\n\nhttp://kasobolcanadacentral-secondary.blob.core.windows.net\nhttp://kasobolcanadacentral-secondary.file.core.windows.net\nhttp://kasobolcanadacentral-secondary.queue.core.windows.net\nhttp://kasobolcanadacentral-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://kasobolcanadacentral.blob.core.windows.net/;QueueEndpoint=http://kasobolcanadacentral.queue.core.windows.net/;FileEndpoint=http://kasobolcanadacentral.file.core.windows.net/;BlobSecondaryEndpoint=http://kasobolcanadacentral-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://kasobolcanadacentral-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://kasobolcanadacentral-secondary.file.core.windows.net/;AccountName=kasobolcanadacentral;AccountKey=Kg==;\nencryptionScope\n\n"
  }
}