{
  "Entries": [
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-49fa4630-aa9b-d815-92a3-df30cba086fc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 24 May 2021 22:43:06 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D91F054C2897FF\"",
        "Last-Modified": "Mon, 24 May 2021 22:43:06 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-49fa4630-aa9b-d815-92a3-df30cba086fc/test-blob-40cead7f-0730-5eaa-3e1e-e1538529392a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 24 May 2021 22:43:06 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "Q8PbQcEeG3a2M5ZSy98s/FU5/OONhweHQYTJhSsnjmCs1fLouw3kFsucSMEAEOWzT5IT/1W5fLu8VP88VZZKjqQ1pfbtREFHVeYY8T9FhjGeFjWZE48L8lk2LGYOp8A1UbkcymvvxQtRy6lvoYt7ds3Onj9gsXoVKrKdthfaOa4l4p+GKLvFrlAqR0jlnFHOu7WZPwiB1Z8/B6C4Ug/zd5L7Sr7r9U0SCO/uNWkyL45hzvthQfqlow3/RiEbDVxANtC16lGT4sZnhjcYk582DNcRV4MUkTWXVaaw664s9vqTrf+YfEQ8zew0+brCjRBuyTlJCbbZLKSaHZWq4vcYO488heWgnZCS1YmX35h71ceW[...]
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-49fa4630-aa9b-d815-92a3-df30cba086fc/test-blob-40cead7f-0730-5eaa-3e1e-e1538529392a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 May 2021 22:43:06 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "OAq/oCxOOJt7R86tmNvLWg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D91F054C423687\"",
        "Last-Modified": "Mon, 24 May 2021 22:43:06 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 24 May 2021 22:43:06 GMT",
        "x-ms-last-access-time": "Mon, 24 May 2021 22:43:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-49fa4630-aa9b-d815-92a3-df30cba086fc/test-blob-40cead7f-0730-5eaa-3e1e-e1538529392a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D91F054C423687",
        "x-ms-date": "Mon, 24 May 2021 22:43:06 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D91F054C423687\"",
        "Last-Modified": "Mon, 24 May 2021 22:43:06 GMT",
        "x-ms-blob-content-md5": "OAq/oCxOOJt7R86tmNvLWg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 24 May 2021 22:43:06 GMT",
        "x-ms-last-access-time": "Mon, 24 May 2021 22:43:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "Q8PbQcEeG3a2M5ZSy98s/FU5/OONhweHQYTJhSsnjmCs1fLouw3kFsucSMEAEOWzT5IT/1W5fLu8VP88VZZKjqQ1pfbtREFHVeYY8T9FhjGeFjWZE48L8lk2LGYOp8A1UbkcymvvxQtRy6lvoYt7ds3Onj9gsXoVKrKdthfaOa4l4p+GKLvFrlAqR0jlnFHOu7WZPwiB1Z8/B6C4Ug/zd5L7Sr7r9U0SCO/uNWkyL45hzvthQfqlow3/RiEbDVxANtC16lGT4sZnhjcYk582DNcRV4MUkTWXVaaw664s9vqTrf+YfEQ8zew0+brCjRBuyTlJCbbZLKSaHZWq4vcYO488heWgnZCS1YmX35h71ceWQSF04+1EuoFa/l6vkev1HL4qhgcrziyptjMtQU0MH0jNFKDVo1ii98tjRZ8x40OeosLZUU7Aa3P1yiy5F3g0Tt4V4X1KIHlmiI47x4mNd9Lwjp+KMs76Dagt39gr6OBTL/fAHALFU4JJc8m/hKTqZ1NZyYjYqRsQG9PVHUCgOp+u6JeRzVvQKjsdQL8EOokDQniF0R9XeobcrwAu8DZBqTgpEZsNWJr3iZ9Nu2lbC+FK0drIGmmAVm4RtR1aoTkE25eH2ynt9undjUiACb4dgKMf5B5ceY7Pqbot/KN8nOdlSeDR1DC3XNvw6owgAEw="
    },
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-49fa4630-aa9b-d815-92a3-df30cba086fc/test-blob-40cead7f-0730-5eaa-3e1e-e1538529392a?comp=block&blockid=dGVzdC1ibG9jay0xZjNlYjdlOC03NTRmLTE3YTMtNzJiOS1jOWM1YzlkMjYxYzI%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 24 May 2021 22:43:06 GMT",
        "x-ms-version": "2020-12-06"[...]
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-49fa4630-aa9b-d815-92a3-df30cba086fc/test-blob-40cead7f-0730-5eaa-3e1e-e1538529392a?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Mon, 24 May 2021 22:43:06 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "﻿<BlockList><Latest>dGVzdC1ibG9jay0xZjNlYjdlOC03NTRmLTE3YTMtNzJiOS1jOWM1YzlkMjYxYzI=</Latest></BlockList>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D91F054C90168C\"",
        "Last-Modified": "Mon, 24 May 2021 22:43:06 GMT",
        "x-ms-content-crc64": "LRo3DNdutlA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-49fa4630-aa9b-d815-92a3-df30cba086fc/test-blob-40cead7f-0730-5eaa-3e1e-e1538529392a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D91F054C423687",
        "x-ms-date": "Mon, 24 May 2021 22:43:07 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:ab34e35d-601e-0012-55ee-50b161000000\n",
        "Time:2021-05-24T22:43:07.0237502Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-49fa4630-aa9b-d815-92a3-df30cba086fc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 May 2021 22:43:07 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "405480633",
    "Storage_TestConfigDefault": "ProductionTenant\nkasobolcanadacentral\nU2FuaXRpemVk\nhttp://kasobolcanadacentral.blob.core.windows.net\nhttp://kasobolcanadacentral.file.core.windows.net\nhttp://kasobolcanadacentral.queue.core.windows.net\nhttp://kasobolcanadacentral.table.core.windows.net\n\n\n\n\nhttp://kasobolcanadacentral-secondary.blob.core.windows.net\nhttp://kasobolcanadacentral-secondary.file.core.windows.net\nhttp://kasobolcanadacentral-secondary.queue.core.windows.net\nhttp://kasobolcanadacentral-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://kasobolcanadacentral.blob.core.windows.net/;QueueEndpoint=http://kasobolcanadacentral.queue.core.windows.net/;FileEndpoint=http://kasobolcanadacentral.file.core.windows.net/;BlobSecondaryEndpoint=http://kasobolcanadacentral-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://kasobolcanadacentral-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://kasobolcanadacentral-secondary.file.core.windows.net/;AccountName=kasobolcanadacentral;AccountKey=Kg==;\nencryptionScope\n\n"
  }
}