{
  "Entries": [
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-a51232a6-dc99-0eda-d383-cb8518508999?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 24 May 2021 22:46:49 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D91F05D0E6D05A\"",
        "Last-Modified": "Mon, 24 May 2021 22:46:48 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-a51232a6-dc99-0eda-d383-cb8518508999/test-blob-0f3f3e2c-f64c-2720-d2ff-cb699a428af6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 24 May 2021 22:46:49 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "anuOo/45C5vSD3IF5liFLN3YpMK5CaPUuqOemluQp6FpSBcNGQH0p0r7reWytokJIIPxg+1n82DYuulamnBAQWjRm51BeBLc4/13vVy9IQMalXnXnySzAVW2NV4YmgzZu2t94Rrsx6hwFaDw7zUDGpjlQAX2aKJEHZpIikKzw0nwngLxPz/oLs3RZ4qEwhEfshrGM1kG41LIOcSAoz1lvFFW/1EzEtpZ/BI3JQEYwFuIKNcn7ZDv6rqvKQV7aIqQa6o4LcK/66A/bDZHz71Qr3lp+HtlPs/AZxWXg+nU3ZSHp7pX4JKYyDw354Bapxr9X3mMEm8PKi3ad8WtKGi3a46hvycD+M/m0C8+LlZOZr/7[...]
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-a51232a6-dc99-0eda-d383-cb8518508999/test-blob-0f3f3e2c-f64c-2720-d2ff-cb699a428af6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 May 2021 22:46:49 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "zV5Df8gEs6pcbhvMlfZpoA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D91F05D0FC2B90\"",
        "Last-Modified": "Mon, 24 May 2021 22:46:49 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 24 May 2021 22:46:49 GMT",
        "x-ms-last-access-time": "Mon, 24 May 2021 22:46:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-a51232a6-dc99-0eda-d383-cb8518508999/test-blob-0f3f3e2c-f64c-2720-d2ff-cb699a428af6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D91F05D0FC2B90",
        "x-ms-date": "Mon, 24 May 2021 22:46:49 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D91F05D0FC2B90\"",
        "Last-Modified": "Mon, 24 May 2021 22:46:49 GMT",
        "x-ms-blob-content-md5": "zV5Df8gEs6pcbhvMlfZpoA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 24 May 2021 22:46:49 GMT",
        "x-ms-last-access-time": "Mon, 24 May 2021 22:46:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": "anuOo/45C5vSD3IF5liFLN3YpMK5CaPUuqOemluQp6FpSBcNGQH0p0r7reWytokJIIPxg+1n82DYuulamnBAQWjRm51BeBLc4/13vVy9IQMalXn[...]
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-a51232a6-dc99-0eda-d383-cb8518508999?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 May 2021 22:46:49 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1787519040",
    "Storage_TestConfigDefault": "ProductionTenant\nkasobolcanadacentral\nU2FuaXRpemVk\nhttp://kasobolcanadacentral.blob.core.windows.net\nhttp://kasobolcanadacentral.file.core.windows.net\nhttp://kasobolcanadacentral.queue.core.windows.net\nhttp://kasobolcanadacentral.table.core.windows.net\n\n\n\n\nhttp://kasobolcanadacentral-secondary.blob.core.windows.net\nhttp://kasobolcanadacentral-secondary.file.core.windows.net\nhttp://kasobolcanadacentral-secondary.queue.core.windows.net\nhttp://kasobolcanadacentral-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://kasobolcanadacentral.blob.core.windows.net/;QueueEndpoint=http://kasobolcanadacentral.queue.core.windows.net/;FileEndpoint=http://kasobolcanadacentral.file.core.windows.net/;BlobSecondaryEndpoint=http://kasobolcanadacentral-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://kasobolcanadacentral-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://kasobolcanadacentral-secondary.file.core.windows.net/;AccountName=kasobolcanadacentral;AccountKey=Kg==;\nencryptionScope\n\n"
  }
}