{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-3db06c55-0a68-cf25-d710-f9ffed2d8677?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 03 Aug 2020 15:44:27 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D837C41B21128E\u0022",
        "Last-Modified": "Mon, 03 Aug 2020 15:44:28 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-3db06c55-0a68-cf25-d710-f9ffed2d8677/test-blob-e92b1a97-f500-0e07-7668-7f2d740f7e1f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 03 Aug 2020 15:44:28 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "VVUFz0yaQF/YijwnNBuWxGuGcrlHOURj5fKrsJEhAlUfRrTjDtQm8vKHdKjca37Mo6AGnThmSBsRoepZ75DNt4jnB\u002B1nsraXX3/Gv8Wbhnl03w3xGmUcuf6Y0mzpzQNiubwg9WSQZfHqbz24oIhWdRtx5BCC3J0iyk7vzt9JrZJ8ZAYIe5EV5HkbB6snYxl1QVxReOjz390f/SsVoZYRoMGrPDuCTvqKXACWZ9Xy\u002B2Y1eYyC\u002BDWpiYQo6H5l/0LjCmbpfCfd8/NixhvnXXgILQHF3ycKjqeLArO3WWV7JFy9s1xuCH8\u002BWIaYHzEawSwLILp8oCAb2Hu/XnlzJZmN56K\[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-3db06c55-0a68-cf25-d710-f9ffed2d8677/test-blob-e92b1a97-f500-0e07-7668-7f2d740f7e1f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 03 Aug 2020 15:44:28 GMT",
        "x-ms-range": "bytes=0-156",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-156/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D837C41B3D866C\u0022",
        "Last-Modified": "Mon, 03 Aug 2020 15:44:28 GMT",
        "x-ms-blob-content-md5": "OCcQ\u002BEu6CKorwkDcuCktgQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 03 Aug 2020 15:44:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-08-03T15:44:28.3059820Z"
      },
      "ResponseBody": "VVUFz0yaQF/YijwnNBuWxGuGcrlHOURj5fKrsJEhAlUfRrTjDtQm8vKHdKjca37Mo6AGnThmSBsRoepZ75DNt4jnB\u002B1nsraXX3/Gv8Wbhnl03w3xGmUcuf6Y0mzpzQNiubwg9WSQZfHqbz24oIhWdRtx5BCC3J0iyk7vzt9JrZJ8ZAYIe5EV5HkbB6snYxl1QVxReOjz390f/SsVoQ=="
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-3db06c55-0a68-cf25-d710-f9ffed2d8677/test-blob-e92b1a97-f500-0e07-7668-7f2d740f7e1f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D837C41B3D866C",
        "x-ms-date": "Mon, 03 Aug 2020 15:44:28 GMT",
        "x-ms-range": "bytes=6-162",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 6-162/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D837C41B3D866C\u0022",
        "Last-Modified": "Mon, 03 Aug 2020 15:44:28 GMT",
        "x-ms-blob-content-md5": "OCcQ\u002BEu6CKorwkDcuCktgQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 03 Aug 2020 15:44:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-08-03T15:44:28.3059820Z"
      },
      "ResponseBody": "QF/YijwnNBuWxGuGcrlHOURj5fKrsJEhAlUfRrTjDtQm8vKHdKjca37Mo6AGnThmSBsRoepZ75DNt4jnB\u002B1nsraXX3/Gv8Wbhnl03w3xGmUcuf6Y0mzpzQNiubwg9WSQZfHqbz24oIhWdRtx5BCC3J0iyk7vzt9JrZJ8ZAYIe5EV5HkbB6snYxl1QVxReOjz390f/SsVoZYRoMGrPA=="
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-3db06c55-0a68-cf25-d710-f9ffed2d8677?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 03 Aug 2020 15:44:31 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "36883440",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Kg==;\nseanscope1"
  }
}