{
  "Entries": [
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-b420a6b8-68f5-af14-ae68-8977a3d7e9ca?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 24 May 2021 22:46:45 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91F05CE97BA77\u0022",
        "Last-Modified": "Mon, 24 May 2021 22:46:45 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-b420a6b8-68f5-af14-ae68-8977a3d7e9ca/test-blob-80ba9faa-84df-0f55-1aa4-781f4d54ee70",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 24 May 2021 22:46:45 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": "HikHfXIod1HcBton842GhnPv9B\u002BSdwT08Spdj2a47ukWomj/IHcmWwz0lcDKIj7Iv3qdO/yXP6clE4xIyufrIxjxEVEkh2X8yZkSnuFEKc7slNDsG7LsfmLB2g3q3pAlCHGn2RHspDgUoHJjhaHF4eq\u002BWzYX/whlBJLvYq1YEuoI7JVwnE\u002B9//CX2Ho/ifnA/PkiK4NaDglpQtV\u002B/UGLu46IWpgMVESaAVtFfyeOJXqZLmW0NeZnrt6MB1l6PgKuDBzrty9gtKi0iConFI7i2h1a5c/c14WnIay6f03qH8NZl3MKom1LOHm9/627P5lPqSw8H1gz0jWXQ5aCpjRayWln[...]
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-b420a6b8-68f5-af14-ae68-8977a3d7e9ca/test-blob-80ba9faa-84df-0f55-1aa4-781f4d54ee70",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 May 2021 22:46:45 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "zdpfBfVNP5fQRkXbyjuJ5A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D91F05CEAD6384\u0022",
        "Last-Modified": "Mon, 24 May 2021 22:46:45 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 24 May 2021 22:46:45 GMT",
        "x-ms-last-access-time": "Mon, 24 May 2021 22:46:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-b420a6b8-68f5-af14-ae68-8977a3d7e9ca/test-blob-80ba9faa-84df-0f55-1aa4-781f4d54ee70",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D91F05CEAD6384",
        "x-ms-date": "Mon, 24 May 2021 22:46:45 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D91F05CEAD6384\u0022",
        "Last-Modified": "Mon, 24 May 2021 22:46:45 GMT",
        "x-ms-blob-content-md5": "zdpfBfVNP5fQRkXbyjuJ5A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 24 May 2021 22:46:45 GMT",
        "x-ms-last-access-time": "Mon, 24 May 2021 22:46:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": "HikHfXIod1HcBton842GhnPv9B\u002BSdwT08Spdj2a47ukWomj/IHcmWwz0lcDKIj7Iv3qdO/yXP6clE4xIyufrIxjxEVEkh2X8yZkSnuFEKc[...]
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-b420a6b8-68f5-af14-ae68-8977a3d7e9ca?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 May 2021 22:46:45 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1260559766",
    "Storage_TestConfigDefault": "ProductionTenant\nkasobolcanadacentral\nU2FuaXRpemVk\nhttp://kasobolcanadacentral.blob.core.windows.net\nhttp://kasobolcanadacentral.file.core.windows.net\nhttp://kasobolcanadacentral.queue.core.windows.net\nhttp://kasobolcanadacentral.table.core.windows.net\n\n\n\n\nhttp://kasobolcanadacentral-secondary.blob.core.windows.net\nhttp://kasobolcanadacentral-secondary.file.core.windows.net\nhttp://kasobolcanadacentral-secondary.queue.core.windows.net\nhttp://kasobolcanadacentral-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://kasobolcanadacentral.blob.core.windows.net/;QueueEndpoint=http://kasobolcanadacentral.queue.core.windows.net/;FileEndpoint=http://kasobolcanadacentral.file.core.windows.net/;BlobSecondaryEndpoint=http://kasobolcanadacentral-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://kasobolcanadacentral-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://kasobolcanadacentral-secondary.file.core.windows.net/;AccountName=kasobolcanadacentral;AccountKey=Kg==;\nencryptionScope"
  }
}