{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0b2dd691-2f76-6dcc-c6a8-b3ec4c72ef1d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:11:09 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E94AAE94DD\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:11:09 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0b2dd691-2f76-6dcc-c6a8-b3ec4c72ef1d/test-blob-ff5cb790-9cda-4972-972c-0e494af93227",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:11:09 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "R1M/c5qBGiVGOkO\u002BHJL/crH2RXlpkT7QLyUJ9aAvj5AyyPIbFYMhJbnjF6WOk\u002BQoolmvbPEM4LYUbkR0dyWEFqqyjFOf5Fwt1CDAhnmZQptB4VJHgCKfJug8Bqc/ra2UXgD62weQib78gpfRTFo8eyuoM5bSPZaIE2VqYt607idyKyd4n2aUsFiUSv2KztqOAIp7lnkXwiFpcsihJibgSJNwXyAyxNzFE4I9PfKZ/USL3GJTOFetWmkGDi2d84oxtAJpGm\u002B5XDuutoL32YQu0HSDFknDjA88wgS2K7WvJyD3C4jwL\u002BLV0X8mpILUtoDl2D24GdxAbifzLVdqAzCG/45i/837PqGRrkTKnOeMZwyD0VN49g5Dt51h/QGLas1PoKXzcray6ZmbJmuXd[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0b2dd691-2f76-6dcc-c6a8-b3ec4c72ef1d/test-blob-ff5cb790-9cda-4972-972c-0e494af93227",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:11:09 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "pfqqCgIHqSqnyBB34gBj/w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2E94ABAD24D\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:11:09 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 02:11:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 02:11:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:11:09.5895629Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0b2dd691-2f76-6dcc-c6a8-b3ec4c72ef1d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:11:09 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1970155332",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}