{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ded5e498-df3a-98c9-365f-5fe2bf102be8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:05 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3742487FCFE\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:45:05 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ded5e498-df3a-98c9-365f-5fe2bf102be8/test-blob-67ce1d2a-f1aa-cc2b-74ea-deab93d8fda8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:05 GMT"
      },
      "RequestBody": "2Ickhx6pg\u002BRETmwqjHaMK0hxEWXeemeaozHMAZRZ8AicJXqE5o7PKNZOazKwY/crUfP9JVgNT10fiePt3YJP615jjmf7B0S5oeiOjw416UA6oK\u002BgXMqwjtUdZVyr4ktT/4DTTNSPMEmvQ4Rvf79P6qCjsjzSro\u002BUs/\u002BR3qLoDr6dOpCOYZ1rqm9m8RlGQA8Wznq8By8OgVDxPpjV/lKmxzTF0UQuwIgCNwfNbLx1TnPweg8oKweOj7lAnCMElqwdwCrkgG7L6A3xus8nQRWUe/Al5INCfZssN0KK7iNl/aFar6uRkM4EJZICN3E3Zk6krCEy37Ep2kOPt0gsQPnpi7wuzZFpAuoiIL/wQEYq9dD05kECMx7vMdVoAtmF2O[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ded5e498-df3a-98c9-365f-5fe2bf102be8/test-blob-67ce1d2a-f1aa-cc2b-74ea-deab93d8fda8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:05 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "4ZeEcdMds7OMXbXO5BAj4A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D3742493C9F8\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:45:05 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:45:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:45:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:45:05.6257528Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ded5e498-df3a-98c9-365f-5fe2bf102be8/test-blob-67ce1d2a-f1aa-cc2b-74ea-deab93d8fda8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:05 GMT",
        "x-ms-range": "bytes=0-127"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D3742493C9F8\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:45:05 GMT",
        "x-ms-blob-content-md5": "4ZeEcdMds7OMXbXO5BAj4A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:45:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:45:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:45:05.6257528Z"
      },
      "ResponseBody": "2Ickhx6pg\u002BRETmwqjHaMK0hxEWXeemeaozHMAZRZ8AicJXqE5o7PKNZOazKwY/crUfP9JVgNT10fiePt3YJP615jjmf7B0S5oeiOjw416UA6oK\u002BgXMqwjtUdZVyr4ktT/4DTTNSPMEmvQ4Rvf79P6qCjsjzSro\u002BUs/\u002BR3qLoDr4="
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ded5e498-df3a-98c9-365f-5fe2bf102be8/test-blob-67ce1d2a-f1aa-cc2b-74ea-deab93d8fda8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D3742493C9F8",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:05 GMT",
        "x-ms-range": "bytes=128-255"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 128-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D3742493C9F8\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:45:05 GMT",
        "x-ms-blob-content-md5": "4ZeEcdMds7OMXbXO5BAj4A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:45:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:45:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:45:05.6257528Z"
      },
      "ResponseBody": "nTqQjmGda6pvZvEZRkAPFs56vAcvDoFQ8T6Y1f5Spsc0xdFELsCIAjcHzWy8dU5z8HoPKCsHjo\u002B5QJwjBJasHcAq5IBuy\u002BgN8brPJ0EVlHvwJeSDQn2bLDdCiu4jZf2hWq\u002BrkZDOBCWSAjdxN2ZOpKwhMt\u002BxKdpDj7dILED56Ys="
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ded5e498-df3a-98c9-365f-5fe2bf102be8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:06 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1190606746",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}