{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-034bf80c-8712-6b86-4b80-c8cacc821219?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 07 Oct 2020 19:40:05 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86AF8CA7EF2F1\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:40:05 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-034bf80c-8712-6b86-4b80-c8cacc821219/test-blob-74af9193-e13a-6c2b-903a-be0d28b25d41",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 07 Oct 2020 19:40:05 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "AHnRHezcbLB/TtEmsnERHWtUI8LRFRQbUzSCoxkhxj1Q0BThXPeHyp0Afraz9ZSYQiTs4dDYNOtktcq3WcmWXYeU1eJcL8FzzFkk0JZeZ12g6mH1NeRseJspfKYtz3DUaSAvHyCyOxJjeBV3s2NUBk5tFm9noSiiJ11GM7IaRvzoUGd2Lkg87q5OkrzP9cQ31HZYv7gAbMj3jPfDawhgSDIYjmP83tcFMCjAGQ5s0zKYDl88wYZD6OOefqJQeYKm7kmJtmZgO/WeUo6QQFK5i7nFKl2pI4ar1aZ/XWA1tLelGivE4hzLN9NpnW/4s6iQ5PPpi04l/MrC3uHA4N2VaZ7W6iUn9aic\u002BfOKP4Y[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-034bf80c-8712-6b86-4b80-c8cacc821219/test-blob-74af9193-e13a-6c2b-903a-be0d28b25d41",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:40:05 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "SzCcJf/36e4zoUL6Jv8PNg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D86AF8CA85B083\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:40:05 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 Oct 2020 19:40:05 GMT",
        "x-ms-last-access-time": "Wed, 07 Oct 2020 19:40:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-034bf80c-8712-6b86-4b80-c8cacc821219/test-blob-74af9193-e13a-6c2b-903a-be0d28b25d41",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:40:05 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D86AF8CA85B083\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:40:05 GMT",
        "x-ms-blob-content-md5": "SzCcJf/36e4zoUL6Jv8PNg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 Oct 2020 19:40:05 GMT",
        "x-ms-last-access-time": "Wed, 07 Oct 2020 19:40:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "AHnRHezcbLB/TtEmsnERHWtUI8LRFRQbUzSCoxkhxj1Q0BThXPeHyp0Afraz9ZSYQiTs4dDYNOtktcq3WcmWXYeU1eJcL8FzzFkk0JZeZ12g6mH[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-034bf80c-8712-6b86-4b80-c8cacc821219?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:40:05 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "148517223",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}