{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-150c8868-f9c4-85fc-9dc4-a5878ee6a98b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:22 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D374760E0841\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:47:22 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-150c8868-f9c4-85fc-9dc4-a5878ee6a98b/test-blob-e02684a5-3667-6797-021b-0611cb6a7706",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:22 GMT"
      },
      "RequestBody": "M73AuriJZCFB\u002BLrOtBRzwrLd9DCMtl7zqS9\u002BCWLZdrGUGrRUGlcPCfk4sTQuGiWt1CK6wLUwnnxezBCIC1u\u002BZ4EJOZpgHqhazus3VAUqxI8K0DRAH7b8ZHs39k1Hh/2eeUmyJeGKTbV6X/HK\u002BUl3MweBfTsmfkfLDdQeKChbE0ftmdu8eJ\u002Btf4N\u002BxcDEMWoywMJFxQnCd/oB5hgMbCSNH0uq3GBuurto0/23p7iGB9tq7GdmFU49KyHgupGHoRNe8aZ1GVUKxAUG3PIMCtBBe948on\u002B9Jwn9bbE\u002BjQAp4DHpWbUREO2GXyhhXzlbMSBRnz6zSv\u002BToMqdeKyjyzYF3fvAIrEaL2rwtkJXW[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-150c8868-f9c4-85fc-9dc4-a5878ee6a98b/test-blob-e02684a5-3667-6797-021b-0611cb6a7706",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 18 Feb 2021 18:47:22 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:22 GMT"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-593b0ea2-11a2-905d-b9fe-6b77301eeaab/test-blob-3a0b9e29-a482-cb55-9163-edf6067ca96f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Tue, 16 Feb 2021 18:47:22 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:22 GMT"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-27960579-5e24-dcbd-2b54-b7f2bc2c9336/test-blob-d2c796ab-df6d-5012-73f4-692b35778ca5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:23 GMT"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-99ea04ae-4b1c-da27-f1cc-c8a770a41940/test-blob-f72dc113-af7d-783b-91d6-b19f154fd487",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:23 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "qxOdEVVgkPbAiVMd6uYqfg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D37476D95113\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:47:23 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:47:23 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:47:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:47:23.6545811Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-99ea04ae-4b1c-da27-f1cc-c8a770a41940/test-blob-f72dc113-af7d-783b-91d6-b19f154fd487",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "0x8D8D37476D95113",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:23 GMT"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3ff7dc2a-48ed-6a80-c12f-39223037fba0/test-blob-2072d185-7a74-8cbd-c497-cfb7d39b3223",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:24 GMT",
        "x-ms-lease-id": "81cebfd3-4331-ef31-11dc-489e4cc1cab7"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3ff7dc2a-48ed-6a80-c12f-39223037fba0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:24 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T12:47:22.0719920-06:00",
    "RandomSeed": "2037620862",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}