{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b9873ee5-5389-f25f-7ee5-463d62a96b89?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 19 Oct 2020 17:24:52 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D87453E4AFC6ED\u0022",
        "Last-Modified": "Mon, 19 Oct 2020 17:24:54 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b9873ee5-5389-f25f-7ee5-463d62a96b89/test-blob-b74dcc19-20d3-7bff-f4be-96edec17a8db",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 19 Oct 2020 17:24:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Z862JI1H8x8/CJaDyhDW8rwTutT1JKOqj1NxRHvQE102Y\u002BdN1QOlPJqTB94n4oSq/1hyWAv7L0MqC5U51q\u002Bkb/Q4TGYoiR24bX05YRzFgqzOx0QiXrtSOjOkIslubGbr75jp75UdgXY7ueqNws0mZYnoag9qgRE45hEyg2ZTSgEXTnKE25MWsUXO56TRxHhlfr1AhQFXgG2GsQiD6v0P527pdnRboYn10bnJnJpsZyKZzAWoE8X/wM0E/imLk8ZHv/81504ECtw0SrNHjeTSGkrl6h74ZtSp6bamVqNfaj7zgtybNn/UlMIodMgStzLpMuTfpainTlgqjP2XXrM51OB0VAsHN\u002[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b9873ee5-5389-f25f-7ee5-463d62a96b89/test-blob-b74dcc19-20d3-7bff-f4be-96edec17a8db",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Oct 2020 17:24:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Y4DBVQF1cHzCEu5Mp\u002BiVPQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D87453E4BA5720\u0022",
        "Last-Modified": "Mon, 19 Oct 2020 17:24:54 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 19 Oct 2020 17:24:54 GMT",
        "x-ms-last-access-time": "Mon, 19 Oct 2020 17:24:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b9873ee5-5389-f25f-7ee5-463d62a96b89/test-blob-b74dcc19-20d3-7bff-f4be-96edec17a8db",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Oct 2020 17:24:53 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D87453E4BA5720\u0022",
        "Last-Modified": "Mon, 19 Oct 2020 17:24:54 GMT",
        "x-ms-blob-content-md5": "Y4DBVQF1cHzCEu5Mp\u002BiVPQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 19 Oct 2020 17:24:54 GMT",
        "x-ms-last-access-time": "Mon, 19 Oct 2020 17:24:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "Z862JI1H8x8/CJaDyhDW8rwTutT1JKOqj1NxRHvQE102Y\u002BdN1QOlPJqTB94n4oSq/1hyWAv7L0MqC5U51q\u002Bkb/Q4TGYoiR24bX05YRzFgqzOx0QiXrtSOjOkIslubGbr75jp75UdgXY7ueqNws0mZYnoag9qgRE45hEyg2ZTSgE="
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b9873ee5-5389-f25f-7ee5-463d62a96b89/test-blob-b74dcc19-20d3-7bff-f4be-96edec17a8db",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D87453E4BA5720",
        "x-ms-date": "Mon, 19 Oct 2020 17:24:53 GMT",
        "x-ms-range": "bytes=128-255",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 128-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D87453E4BA5720\u0022",
        "Last-Modified": "Mon, 19 Oct 2020 17:24:54 GMT",
        "x-ms-blob-content-md5": "Y4DBVQF1cHzCEu5Mp\u002BiVPQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 19 Oct 2020 17:24:54 GMT",
        "x-ms-last-access-time": "Mon, 19 Oct 2020 17:24:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "F05yhNuTFrFFzuek0cR4ZX69QIUBV4BthrEIg\u002Br9D\u002Bdu6XZ0W6GJ9dG5yZyabGcimcwFqBPF/8DNBP4pi5PGR7//NedOBArcNEqzR43k0hpK5eoe\u002BGbUqem2plajX2o\u002B84LcmzZ/1JTCKHTIErcy6TLk36Wop05YKoz9l16zOdQ="
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b9873ee5-5389-f25f-7ee5-463d62a96b89?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Oct 2020 17:24:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1948422051",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Kg==;\nseanscope1"
  }
}