{
  "Entries": [
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-447ffb48-92cf-0fda-8ce1-5a57117f5131?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 17:30:17 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993EF48958288\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:30:17 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-447ffb48-92cf-0fda-8ce1-5a57117f5131/test-blob-30cf047d-a686-6ccb-e591-f90dad434a87",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 20 Oct 2021 17:30:17 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "SG2ZLQBs7EfF1o18ge58lbi65vth3LFkPB705sWzwn7wJaMkXfqfBSjWr6kKs8YzPqbKK1JniWu8NfDhdwaBERQPi1xLWDe9GuDSiy0HWYlXwacf6ZYsiZs3ZygJvo0hVJ2U\u002Bydq5\u002BVuDBFxlP4\u002BtdxnirVfYSh\u002B4gLAFPEPs1xTsDeQcl1h7dnCsdyFu/Sc\u002BbJMojPXwvJ0FhklqdP0Xli0HuTHrUJ\u002BBpzcnLBM\u002BScNJBs\u002BwxEpe\u002B1EHFxEO0QGzVKE0JwQ1UtwzZuW\u002ByVBKBzxGIW4tZtGi6P2gpHlOspY1c9dxyiK/E7Pzv[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-447ffb48-92cf-0fda-8ce1-5a57117f5131/test-blob-30cf047d-a686-6ccb-e591-f90dad434a87",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:30:17 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "R1HsWjpHIfNarmq7AFg6fw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993EF48A25BA5\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:30:17 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:30:17 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:30:17.4702501Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-447ffb48-92cf-0fda-8ce1-5a57117f5131/test-blob-30cf047d-a686-6ccb-e591-f90dad434a87",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D993EF48A25BA5\u0022",
        "x-ms-date": "Wed, 20 Oct 2021 17:30:17 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993EF48A25BA5\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:30:17 GMT",
        "x-ms-blob-content-md5": "R1HsWjpHIfNarmq7AFg6fw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:30:17 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:30:17.4702501Z"
      },
      "ResponseBody": "SG2ZLQBs7EfF1o18ge58lbi65vth3LFkPB705sWzwn7wJaMkXfqfBSjWr6kKs8YzPqbKK1JniWu[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-447ffb48-92cf-0fda-8ce1-5a57117f5131?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:30:17 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1535717641",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttps://amandacanary.blob.core.windows.net\nhttps://amandacanary.file.core.windows.net\nhttps://amandacanary.queue.core.windows.net\nhttps://amandacanary.table.core.windows.net\n\n\n\n\nhttps://amandacanary-secondary.blob.core.windows.net\nhttps://amandacanary-secondary.file.core.windows.net\nhttps://amandacanary-secondary.queue.core.windows.net\nhttps://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandacanary.blob.core.windows.net/;QueueEndpoint=https://amandacanary.queue.core.windows.net/;FileEndpoint=https://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Kg==;\ntestscope2\n\n"
  }
}