{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3db06c55-0a68-cf25-d710-f9ffed2d8677?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 24 Aug 2020 20:02:10 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8486895081ECB\u0022",
        "Last-Modified": "Mon, 24 Aug 2020 20:02:08 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3db06c55-0a68-cf25-d710-f9ffed2d8677/test-blob-e92b1a97-f500-0e07-7668-7f2d740f7e1f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 24 Aug 2020 20:02:10 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "VVUFz0yaQF/YijwnNBuWxGuGcrlHOURj5fKrsJEhAlUfRrTjDtQm8vKHdKjca37Mo6AGnThmSBsRoepZ75DNt4jnB\u002B1nsraXX3/Gv8Wbhnl03w3xGmUcuf6Y0mzpzQNiubwg9WSQZfHqbz24oIhWdRtx5BCC3J0iyk7vzt9JrZJ8ZAYIe5EV5HkbB6snYxl1QVxReOjz390f/SsVoZYRoMGrPDuCTvqKXACWZ9Xy\u002B2Y1eYyC\u002BDWpiYQo6H5l/0LjCmbpfCfd8/NixhvnXXgILQHF3ycKjqeLArO3WWV7JFy9s1xuCH8\u002BWIaYHzEawSwLILp8oCAb2Hu/XnlzJZmN56K\[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3db06c55-0a68-cf25-d710-f9ffed2d8677/test-blob-e92b1a97-f500-0e07-7668-7f2d740f7e1f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 Aug 2020 20:02:10 GMT",
        "x-ms-range": "bytes=0-156",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-156/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D84868950DF2B5\u0022",
        "Last-Modified": "Mon, 24 Aug 2020 20:02:08 GMT",
        "x-ms-blob-content-md5": "OCcQ\u002BEu6CKorwkDcuCktgQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 24 Aug 2020 20:02:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "VVUFz0yaQF/YijwnNBuWxGuGcrlHOURj5fKrsJEhAlUfRrTjDtQm8vKHdKjca37Mo6AGnThmSBsRoepZ75DNt4jnB\u002B1nsraXX3/Gv8Wbhnl03w3xGmUcuf6Y0mzpzQNiubwg9WSQZfHqbz24oIhWdRtx5BCC3J0iyk7vzt9JrZJ8ZAYIe5EV5HkbB6snYxl1QVxReOjz390f/SsVoQ=="
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3db06c55-0a68-cf25-d710-f9ffed2d8677/test-blob-e92b1a97-f500-0e07-7668-7f2d740f7e1f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D84868950DF2B5",
        "x-ms-date": "Mon, 24 Aug 2020 20:02:10 GMT",
        "x-ms-range": "bytes=157-313",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 157-313/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D84868950DF2B5\u0022",
        "Last-Modified": "Mon, 24 Aug 2020 20:02:08 GMT",
        "x-ms-blob-content-md5": "OCcQ\u002BEu6CKorwkDcuCktgQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 24 Aug 2020 20:02:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "lhGgwas8O4JO\u002BopcAJZn1fL7ZjV5jIL4NamJhCjofmX/QuMKZul8J93z82LGG\u002BddeAgtAcXfJwqOp4sCs7dZZXskXL2zXG4Ifz5YhpgfMRrBLAsgunygIBvYe79eeXMlmY3nor4qqRyaJYKGh6BxbnVxQIerOav/gzyi2uCuqgXLMu0LOI9bl4LvhpX5Gph6ZgxJ7Tnsel/i5x6Chw=="
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3db06c55-0a68-cf25-d710-f9ffed2d8677?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 Aug 2020 20:02:10 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "36883440",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}