{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-af42acd8-2596-877d-39d7-21143098591e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:42 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38AD432B76\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:47:42 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-af42acd8-2596-877d-39d7-21143098591e/test-blob-e9ddfb71-5c1f-6985-9e71-09d4b4ca3bc7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:42 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "ssaSk9GQ9hx5NJTYK9EQQTVXZn1kDdXLvEV8MEFevqnxs/mwZA74HbwX0hXHuhRJIzig\u002BAtN4qXwx9eMFMbbG3Xq53jYX9wmXkjBTTrAAwEwMwwIvcWdpNBUv503bAn1O7ef3NOccMNceprDi5RqMMPVW\u002BC60l2vTUKnhKA/7vE\u002ByxGCICYulMJIrEMr2hg86Y/ZYREoO2lZ8I\u002BQ9ewjHIuohMCD5w\u002Bcp8YecSYahHIpapoRZY3gFY\u002BoKDCXnp/WJY\u002B3glZYuAF/PbpKCspCP2sdZopREbf9yG4w2r7eBQgnR0yXYgIc0LKZkSfTlQvFZunEeTcUh[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-af42acd8-2596-877d-39d7-21143098591e/test-blob-e9ddfb71-5c1f-6985-9e71-09d4b4ca3bc7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:42 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "t1RTnj67XAj8kgy7gYQztQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38AD54EA9D\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:47:42 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 21 Sep 2021 19:47:42 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 19:47:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-09-21T19:47:42.9299869Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-af42acd8-2596-877d-39d7-21143098591e/test-blob-e9ddfb71-5c1f-6985-9e71-09d4b4ca3bc7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D97D38AD54EA9D",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:43 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38AD54EA9D\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:47:42 GMT",
        "x-ms-blob-content-md5": "t1RTnj67XAj8kgy7gYQztQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 21 Sep 2021 19:47:42 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 19:47:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-09-21T19:47:42.9299869Z"
      },
      "ResponseBody": "ssaSk9GQ9[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-af42acd8-2596-877d-39d7-21143098591e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:43 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "15645156",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}