{
  "Entries": [
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-ebe71ae6-5559-af57-e274-ae1f5f029ca9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 24 May 2021 22:44:21 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D91F0578DC8B86\"",
        "Last-Modified": "Mon, 24 May 2021 22:44:21 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-ebe71ae6-5559-af57-e274-ae1f5f029ca9/test-blob-9c7a272b-a5a4-ac7d-700b-74d8970bfff0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 24 May 2021 22:44:21 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "1Q4O1zuAdKJZm4qf+yeTWNYpLT5IcNNgY3fQUSB/C05qC1oNesVJcKwW0jsY7YQi9MlrF+QQBWQ6rnTDsCOC2o88NPDMht4R4L2RMp6XSHbzrVxWE/RpWgb20sxRhcCJk/ir3LiUVm7rWjYnftLGo2X90ALHK8ab0tnp1rMRv1r8B56m62u9Xlfta7m9QdszMC9mU7S+wmgxEAneqn+62ZrbK3czH7f5P3Gq2b8N3ZH9tqaEq2umPUU2ddti37TXM5Ie4RZk/xB4bBNDE+moJDJ44PTZNi4vNe0x/arcl2C90qUt7vx6mbaVDD5XYypbjVCo6f7A/v1j76soMgJmnNSzhUBDezY2/Uc9Qyrw19LD[...]
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-ebe71ae6-5559-af57-e274-ae1f5f029ca9/test-blob-9c7a272b-a5a4-ac7d-700b-74d8970bfff0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 May 2021 22:44:21 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "R0WnukUir+q8mWZRxiU0wQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D91F0578F82AC8\"",
        "Last-Modified": "Mon, 24 May 2021 22:44:21 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 24 May 2021 22:44:21 GMT",
        "x-ms-last-access-time": "Mon, 24 May 2021 22:44:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-ebe71ae6-5559-af57-e274-ae1f5f029ca9/test-blob-9c7a272b-a5a4-ac7d-700b-74d8970bfff0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D91F0578F82AC8",
        "x-ms-date": "Mon, 24 May 2021 22:44:21 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D91F0578F82AC8\"",
        "Last-Modified": "Mon, 24 May 2021 22:44:21 GMT",
        "x-ms-blob-content-md5": "R0WnukUir+q8mWZRxiU0wQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 24 May 2021 22:44:21 GMT",
        "x-ms-last-access-time": "Mon, 24 May 2021 22:44:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": "1Q4O1zuAdKJZm4qf+yeTWNYpLT5IcNNgY3fQUSB/C05qC1oNesVJcKwW0jsY7YQi9MlrF+QQBWQ6rnTDsCOC2o88NPDMht4R4L2RMp6XSHbzrVx[...]
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-ebe71ae6-5559-af57-e274-ae1f5f029ca9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 May 2021 22:44:21 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1188150120",
    "Storage_TestConfigDefault": "ProductionTenant\nkasobolcanadacentral\nU2FuaXRpemVk\nhttp://kasobolcanadacentral.blob.core.windows.net\nhttp://kasobolcanadacentral.file.core.windows.net\nhttp://kasobolcanadacentral.queue.core.windows.net\nhttp://kasobolcanadacentral.table.core.windows.net\n\n\n\n\nhttp://kasobolcanadacentral-secondary.blob.core.windows.net\nhttp://kasobolcanadacentral-secondary.file.core.windows.net\nhttp://kasobolcanadacentral-secondary.queue.core.windows.net\nhttp://kasobolcanadacentral-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://kasobolcanadacentral.blob.core.windows.net/;QueueEndpoint=http://kasobolcanadacentral.queue.core.windows.net/;FileEndpoint=http://kasobolcanadacentral.file.core.windows.net/;BlobSecondaryEndpoint=http://kasobolcanadacentral-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://kasobolcanadacentral-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://kasobolcanadacentral-secondary.file.core.windows.net/;AccountName=kasobolcanadacentral;AccountKey=Kg==;\nencryptionScope\n\n"
  }
}