{
  "Entries": [
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-6fabbfcc-ec76-932d-e1ec-53484b8c064b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 16 Jul 2020 02:43:47 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D82932115B4121\u0022",
        "Last-Modified": "Thu, 16 Jul 2020 02:43:48 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-6fabbfcc-ec76-932d-e1ec-53484b8c064b/test-blob-ec0c2379-21b9-e4e9-d4c0-b6e7d2c7271c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 16 Jul 2020 02:43:48 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "jPr8dJCPc4PiJA36QSVGtVGsgkWcDNVwHROfyBAZnIN86HtSLyYWNZJrFlFq5L2cXIJyPVu5JX8ki1d88KpzyYiJfliq9IYrlU2yMfWDBjhWA2yNpl8ow8L7LaPOmkTo903J4GZk8Wj8RqgNBvOJoIUeJu0\u002B5iMpYbqVrsbjXPsJyjqouibR8REDkV\u002B2G7zPcYwdsHNXqRAqn3\u002BrzkKhGOmsBDy54eZfTDXbOlXDckb\u002Bxj06xayHsSApfhqmJiLOYnh1ChZ/FZCmvmM\u002Be2\u002B7Zi05rQgFZ1M9JFIckGLLuCYSDNjcTWgvfrGskwZJSTaxbRftbXgayfolOO[...]
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-6fabbfcc-ec76-932d-e1ec-53484b8c064b/test-blob-ec0c2379-21b9-e4e9-d4c0-b6e7d2c7271c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Jul 2020 02:43:48 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8293211661A55\u0022",
        "Last-Modified": "Thu, 16 Jul 2020 02:43:48 GMT",
        "x-ms-blob-content-md5": "kzb4AxkoD37ldrzYHZ5EVw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 16 Jul 2020 02:43:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-07-16T02:43:48.9932885Z"
      },
      "ResponseBody": "jPr8dJCPc4PiJA36QSVGtVGsgkWcDNVwHROfyBAZnIN86HtSLyYWNZJrFlFq5L2cXIJyPVu5JX8ki1d88KpzyYiJfliq9IYrlU2yMfWDBjhWA2yNpl8ow8L7LaPOmkTo903J4GZk8Wj8RqgNBvOJoIUeJu0\u002B5iMpYbqVrsbjXPs="
    },
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-6fabbfcc-ec76-932d-e1ec-53484b8c064b/test-blob-ec0c2379-21b9-e4e9-d4c0-b6e7d2c7271c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8293211661A55",
        "x-ms-date": "Thu, 16 Jul 2020 02:43:48 GMT",
        "x-ms-range": "bytes=128-255",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 128-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8293211661A55\u0022",
        "Last-Modified": "Thu, 16 Jul 2020 02:43:48 GMT",
        "x-ms-blob-content-md5": "kzb4AxkoD37ldrzYHZ5EVw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 16 Jul 2020 02:43:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-07-16T02:43:48.9932885Z"
      },
      "ResponseBody": "Cco6qLom0fERA5Ffthu8z3GMHbBzV6kQKp9/q85CoRjprAQ8ueHmX0w12zpVw3JG/sY9OsWsh7EgKX4apiYizmJ4dQoWfxWQpr5jPntvu2YtOa0IBWdTPSRSHJBiy7gmEgzY3E1oL36xrJMGSUk2sW0X7W14Gsn6JTjlxGOELto="
    },
[...]
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-6fabbfcc-ec76-932d-e1ec-53484b8c064b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Jul 2020 02:43:48 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "874108897",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmccprodca\nU2FuaXRpemVk\nhttps://seanmccprodca.blob.core.windows.net\nhttps://seanmccprodca.file.core.windows.net\nhttps://seanmccprodca.queue.core.windows.net\nhttps://seanmccprodca.table.core.windows.net\n\n\n\n\nhttps://seanmccprodca-secondary.blob.core.windows.net\nhttps://seanmccprodca-secondary.file.core.windows.net\nhttps://seanmccprodca-secondary.queue.core.windows.net\nhttps://seanmccprodca-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmccprodca.blob.core.windows.net/;QueueEndpoint=https://seanmccprodca.queue.core.windows.net/;FileEndpoint=https://seanmccprodca.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmccprodca-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmccprodca-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmccprodca-secondary.file.core.windows.net/;AccountName=seanmccprodca;AccountKey=Kg==;\nseanscope1"
  }
}