{
  "Entries": [
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-4ea85e6f-4b44-6d49-52d2-ef8190338df8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 17:30:09 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993EF43D680D8\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:30:09 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-4ea85e6f-4b44-6d49-52d2-ef8190338df8/test-blob-06522a72-1cb5-ae0d-c9e8-32fcff312837",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 20 Oct 2021 17:30:09 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "hUvuaSa0kcY4dEmhFuoaplAVQhVTqxAYKpTi006wWjJBzNkIvRmziukZqHNor4tRRLMkxJBMFNk61T6R0b13iBkWX0kQEeg3YbgrOQOcsHoJkY6bjJai9bcAzujaIrgsoSBaUU9CQTPK7WPYINvWnSXEiEAv3PuCdGqSD0MAXD///5jiQV4rxlBb0J8zydTcKTDDFpl4/MQl2N3lsDHvyZAk2SFD9FvGmMHv1AxcT6qVteYTPUalhgLTvWmBRhYfawYOD/CymTXU/H3XiCi4yIgzUPpK3IxJflIfbzbyRVKr0GgGTT\u002B54huwP0HJzv3aGvThTfUc1I96xJGekyn\u002B4rcrLLjAsntIeW[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-4ea85e6f-4b44-6d49-52d2-ef8190338df8/test-blob-06522a72-1cb5-ae0d-c9e8-32fcff312837",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:30:09 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "k46w3DvhLnuYb7V45hxXMQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993EF43E359A9\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:30:09 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:30:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:30:09.5075753Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-4ea85e6f-4b44-6d49-52d2-ef8190338df8/test-blob-06522a72-1cb5-ae0d-c9e8-32fcff312837",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D993EF43E359A9\u0022",
        "x-ms-date": "Wed, 20 Oct 2021 17:30:09 GMT",
        "x-ms-range": "bytes=512-639",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-639/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993EF43E359A9\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:30:09 GMT",
        "x-ms-blob-content-md5": "k46w3DvhLnuYb7V45hxXMQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:30:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:30:09.5075753Z"
      },
      "ResponseBody": "oJa7Qda354BA1VUcG5fW6YDjp2RVMtDtkbPy6i2/h2eBG0JTtU2JNeKWWM1csWcbTnJlLhuohG3FzbAixP1SgE3umwBUgjQzWnKBv9oDkd9L15y7WllL2JbUjuedZnDlQ9h/bRZmxss\u002BMtSpJ8WTwjzQ1\u002B1hlyX0osJqgPRMlfQ="
    },
[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-4ea85e6f-4b44-6d49-52d2-ef8190338df8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:30:09 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1149883491",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttps://amandacanary.blob.core.windows.net\nhttps://amandacanary.file.core.windows.net\nhttps://amandacanary.queue.core.windows.net\nhttps://amandacanary.table.core.windows.net\n\n\n\n\nhttps://amandacanary-secondary.blob.core.windows.net\nhttps://amandacanary-secondary.file.core.windows.net\nhttps://amandacanary-secondary.queue.core.windows.net\nhttps://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandacanary.blob.core.windows.net/;QueueEndpoint=https://amandacanary.queue.core.windows.net/;FileEndpoint=https://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Kg==;\ntestscope2\n\n"
  }
}