{
  "Entries": [
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-96907dd6-40df-f13a-a888-120805b8ed37?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 26 May 2021 17:00:43 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D92067CC831CC8\"",
        "Last-Modified": "Wed, 26 May 2021 17:00:43 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-96907dd6-40df-f13a-a888-120805b8ed37/test-blob-7841b750-3432-6558-b237-75dd2e0cb3a4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 26 May 2021 17:00:43 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "e8l0wUSaalXiVfSFEd0OBzWtfibputXjK8bZmVgAX2hmoOAZLJEh7nR6UAxnDtqbjCJkLbvMpsDzkZV9wND94vWMHnD99NqjjI+xbmrJexzrPg02mzGsmvofJZv8oy6kfW4W2/BqnpdHwaErGjdWKhV5kYLCx0bD34N23c4/p+hhDfH8s6AsgaB17tqQgYDCyfuGghKs4bYnUvts9MHICBm4yQ1GWXd1TA/iTdhsM14DsxTTuCTWtSw61WCkwI3erebB17dzfG+EETYCypTeuh+daECs9U/04hTgC4QW0IyCA6Dxq1umkDakTqfu1OuYXBpABldMMreXzPWiknDrbUCpf8bz7A/E9tcKCKanBg0p[...]
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-96907dd6-40df-f13a-a888-120805b8ed37/test-blob-7841b750-3432-6558-b237-75dd2e0cb3a4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 May 2021 17:00:43 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "VPoMfYjMB70yjBj4k9cE3g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D92067CC9307D3\"",
        "Last-Modified": "Wed, 26 May 2021 17:00:43 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 26 May 2021 17:00:43 GMT",
        "x-ms-last-access-time": "Wed, 26 May 2021 17:00:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-96907dd6-40df-f13a-a888-120805b8ed37/test-blob-7841b750-3432-6558-b237-75dd2e0cb3a4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D92067CC9307D3",
        "x-ms-date": "Wed, 26 May 2021 17:00:43 GMT",
        "x-ms-range": "bytes=0-255",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D92067CC9307D3\"",
        "Last-Modified": "Wed, 26 May 2021 17:00:43 GMT",
        "x-ms-blob-content-md5": "VPoMfYjMB70yjBj4k9cE3g==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 26 May 2021 17:00:43 GMT",
        "x-ms-last-access-time": "Wed, 26 May 2021 17:00:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "e8l0wUSaalXiVfSFEd0OBzWtfibputXjK8bZmVgAX2hmoOAZLJEh7nR6UAxnDtqbjCJkLbvMpsDzkZV9wND94vWMHnD99NqjjI+xbmrJexzrPg02mzGsmvofJZv8oy6kfW4W2/BqnpdHwaErGjdWKhV5kYLCx0bD34N23c4/p+hhDfH8s6AsgaB17tqQgYDCyfuGghKs4bYnUvts9MHICBm4yQ1GWXd1TA/iTdhsM14DsxTTuCTWtSw61WCkwI3erebB17dzfG+EETYCypTeuh+daECs9U/04hTgC4QW0IyCA6Dxq1umkDakTqfu1OuYXBpABldMMreXzPWiknDrbQ=="
    },
[...]
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-96907dd6-40df-f13a-a888-120805b8ed37/test-blob-0ceb8a30-52ce-ac77-0a4c-ec54f0c99a34",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 25 May 2021 17:00:43 GMT",
        "x-ms-date": "Wed, 26 May 2021 17:00:44 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ZXGmxCDVibM6aypiV7mfPQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D92067CCDE4EA1\"",
        "Last-Modified": "Wed, 26 May 2021 17:00:44 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 26 May 2021 17:00:44 GMT",
        "x-ms-last-access-time": "Wed, 26 May 2021 17:00:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-96907dd6-40df-f13a-a888-120805b8ed37/test-blob-9e65852a-2b54-b300-09a9-f0d19afa2adc",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 27 May 2021 17:00:43 GMT",
        "x-ms-date": "Wed, 26 May 2021 17:00:44 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "jCb4OHA5wo+rEHlcrytmsQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D92067CD27C05A\"",
        "Last-Modified": "Wed, 26 May 2021 17:00:44 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 26 May 2021 17:00:44 GMT",
        "x-ms-last-access-time": "Wed, 26 May 2021 17:00:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-96907dd6-40df-f13a-a888-120805b8ed37/test-blob-b4280860-306e-df62-9acf-51799fcc3ec0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"garbage\"",
        "x-ms-date": "Wed, 26 May 2021 17:00:45 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "vWGlaZM4rxp9lVzPRIXFPQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D92067CDBC78D4\"",
        "Last-Modified": "Wed, 26 May 2021 17:00:45 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 26 May 2021 17:00:45 GMT",
        "x-ms-last-access-time": "Wed, 26 May 2021 17:00:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-96907dd6-40df-f13a-a888-120805b8ed37/test-blob-185e041b-d84f-12fa-51f6-39415309fb16?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 May 2021 17:00:46 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "9349d134-85e6-f110-1463-504f2572d883",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D92067CE017D01\"",
        "Last-Modified": "Wed, 26 May 2021 17:00:45 GMT",
        "x-ms-lease-id": "9349d134-85e6-f110-1463-504f2572d883",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-96907dd6-40df-f13a-a888-120805b8ed37?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 May 2021 17:00:46 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-05-26T12:00:43.6723445-05:00",
    "RandomSeed": "1551542382",
    "Storage_TestConfigDefault": "ProductionTenant\nkasobolcanadacentral\nU2FuaXRpemVk\nhttp://kasobolcanadacentral.blob.core.windows.net\nhttp://kasobolcanadacentral.file.core.windows.net\nhttp://kasobolcanadacentral.queue.core.windows.net\nhttp://kasobolcanadacentral.table.core.windows.net\n\n\n\n\nhttp://kasobolcanadacentral-secondary.blob.core.windows.net\nhttp://kasobolcanadacentral-secondary.file.core.windows.net\nhttp://kasobolcanadacentral-secondary.queue.core.windows.net\nhttp://kasobolcanadacentral-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://kasobolcanadacentral.blob.core.windows.net/;QueueEndpoint=http://kasobolcanadacentral.queue.core.windows.net/;FileEndpoint=http://kasobolcanadacentral.file.core.windows.net/;BlobSecondaryEndpoint=http://kasobolcanadacentral-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://kasobolcanadacentral-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://kasobolcanadacentral-secondary.file.core.windows.net/;AccountName=kasobolcanadacentral;AccountKey=Kg==;\nencryptionScope\n\n"
  }
}