{
  "Entries": [
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-2ca59b6b-c416-042d-6566-c069f0b08391?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 17:30:20 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993EF4A62AF51\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:30:20 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-2ca59b6b-c416-042d-6566-c069f0b08391/test-blob-245a941f-96a8-91f4-66aa-d7adee34af67",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 20 Oct 2021 17:30:20 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "8GOYguZNuwhPSMPT5608ee119FfSdFRAOySme/mx2qjQJI9kU/VlJ9zVwPTQD\u002BRjHe6sDcwb5XwOV0fCp0APnW0bA8Ie2Cb4EMx6/bNgcCw/Q10KBMzctD8SVvuto4CcxiKGtAshREXItP3/oOjJruYbgmPjBJmhP06DC4IqSm1M3jaQ2bwgHf4XQlDP3RRXSagVkiAcucGJ5XW8njjDnWmPssKxONQq\u002BmRly8FI0WI6LMLaFbhMMCV1BvRHZH/FU6XmPypRpRDT65e7t\u002B0AQRMSgXF26YexQ4KdPDHf45XloHccYZI36YaxBiogkHk3dMXgNOMOT2odNfyotGne9AgB1hZ15[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-2ca59b6b-c416-042d-6566-c069f0b08391/test-blob-245a941f-96a8-91f4-66aa-d7adee34af67",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:30:20 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "EnC4a/GDNLb9CjlJJf7HEg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993EF4A6F8880\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:30:20 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:30:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:30:20.4936079Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-2ca59b6b-c416-042d-6566-c069f0b08391/test-blob-245a941f-96a8-91f4-66aa-d7adee34af67",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D993EF4A6F8880\u0022",
        "x-ms-date": "Wed, 20 Oct 2021 17:30:20 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993EF4A6F8880\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:30:20 GMT",
        "x-ms-blob-content-md5": "EnC4a/GDNLb9CjlJJf7HEg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:30:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:30:20.4936079Z"
      },
      "ResponseBody": "8GOYguZNuwhPSMPT5608ee119FfSdFRAOySme/mx2qjQJI9kU/VlJ9zVwPTQD\u002BRjHe6sDcwb5XwOV0fCp0APnW0bA8Ie2Cb4EMx6/bNgcCw/Q10KBMzctD8SVvuto4CcxiKGtAshREXItP3/oOjJruYbgmPjBJmhP06DC4IqSm0="
    },
[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-2ca59b6b-c416-042d-6566-c069f0b08391?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:30:21 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1722567523",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttps://amandacanary.blob.core.windows.net\nhttps://amandacanary.file.core.windows.net\nhttps://amandacanary.queue.core.windows.net\nhttps://amandacanary.table.core.windows.net\n\n\n\n\nhttps://amandacanary-secondary.blob.core.windows.net\nhttps://amandacanary-secondary.file.core.windows.net\nhttps://amandacanary-secondary.queue.core.windows.net\nhttps://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandacanary.blob.core.windows.net/;QueueEndpoint=https://amandacanary.queue.core.windows.net/;FileEndpoint=https://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Kg==;\ntestscope2\n\n"
  }
}