{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-2ec52548-7c87-2091-7bf0-f312543153e0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:41 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38AC405F82\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:47:41 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-2ec52548-7c87-2091-7bf0-f312543153e0/test-blob-ab5b128f-d988-da76-4593-68b378c742b4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:41 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "VBWcK8tKBXB89QLyqD8jROAUVdjf/Wu/e7faHXuczkSSXvznmuMTcnbh2YAFGbeC/Bgr7ZEqlVeq3K8Tb\u002Bf04Ce\u002BX0lCO6n8AONi/iTrumIAWCFicOCyZ8ilPL4zAAKO7PlYRrluP8BvLuyuyJcyvyJNExfGkm9GC/iBnf/ryADg0xErknOokRhg80HzBJ4xcn2b5uzryFqJETvB7aLBg2XszfWFByyupYH\u002BZZ4tUwdZTyqBT\u002BIU9Qu3oYA45qR2n2/bBzapq2tQ7UBr7GK7W74zZ513PzSD2NjpzmWrdr7ciMYvUkzQsKO/MWKiqAmp\u002B0bCBX8H/mA6WC5ev90[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-2ec52548-7c87-2091-7bf0-f312543153e0/test-blob-ab5b128f-d988-da76-4593-68b378c742b4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:41 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "svb\u002B\u002BgNo6qZVNCzLhtfppQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38AC51A9FE\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:47:41 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 21 Sep 2021 19:47:41 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 19:47:41 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-09-21T19:47:41.2309502Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-2ec52548-7c87-2091-7bf0-f312543153e0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:47:41 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "308121771",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}