{
  "Entries": [
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-7882529a-4b20-f77e-f7e5-cfb72e8d1d86?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 24 May 2021 22:44:21 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91F057930D553\u0022",
        "Last-Modified": "Mon, 24 May 2021 22:44:21 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-7882529a-4b20-f77e-f7e5-cfb72e8d1d86/test-blob-b2ec1601-b2ef-c943-5e24-f6348a396544",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 24 May 2021 22:44:22 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": "Z7DYaMZEGS/Bx1SvNOW/2BtedhveoIuzOBH0Fht1NbamUjKIRmGq/Pl\u002BuzOZ7jQ0n3YAJ/ev5sYkJS\u002B1UAITTJKeCeGyNpG5tHkhX\u002BVYGkrdwHakdA6\u002B9mxrYyEy9az3a2\u002Bh\u002B\u002BRSgWjlRnJ\u002BjobgzAvk14\u002BLbteD3xJ0R9Nvhr/MKvR2tx5mij8Ovy6bP2jmipYWTh0da/yXHRvR3TqUdcCzsmORahTsfU1Pfa\u002Bp55\u002Bqjrw8WTehrr/33poClKwFeUlt540EVCCCKdHQze1N7jV7J09\u002BWByIEgOkmYt66eigSgRl[...]
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-7882529a-4b20-f77e-f7e5-cfb72e8d1d86/test-blob-b2ec1601-b2ef-c943-5e24-f6348a396544",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 May 2021 22:44:22 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "OvGCYX46hJCfVl1w1n1b2A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D91F057946CE42\u0022",
        "Last-Modified": "Mon, 24 May 2021 22:44:21 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 24 May 2021 22:44:21 GMT",
        "x-ms-last-access-time": "Mon, 24 May 2021 22:44:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-7882529a-4b20-f77e-f7e5-cfb72e8d1d86/test-blob-b2ec1601-b2ef-c943-5e24-f6348a396544",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D91F057946CE42",
        "x-ms-date": "Mon, 24 May 2021 22:44:22 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D91F057946CE42\u0022",
        "Last-Modified": "Mon, 24 May 2021 22:44:21 GMT",
        "x-ms-blob-content-md5": "OvGCYX46hJCfVl1w1n1b2A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 24 May 2021 22:44:21 GMT",
        "x-ms-last-access-time": "Mon, 24 May 2021 22:44:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": "Z7DYaMZEGS/Bx1SvNOW/2BtedhveoIuzOBH0Fht1NbamUjKIRmGq/Pl\u002BuzOZ7jQ0n3YAJ/ev5sYkJS\u002B1UAITTJKeCeGyNpG5tHkhX[...]
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-7882529a-4b20-f77e-f7e5-cfb72e8d1d86?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 May 2021 22:44:22 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1344973114",
    "Storage_TestConfigDefault": "ProductionTenant\nkasobolcanadacentral\nU2FuaXRpemVk\nhttp://kasobolcanadacentral.blob.core.windows.net\nhttp://kasobolcanadacentral.file.core.windows.net\nhttp://kasobolcanadacentral.queue.core.windows.net\nhttp://kasobolcanadacentral.table.core.windows.net\n\n\n\n\nhttp://kasobolcanadacentral-secondary.blob.core.windows.net\nhttp://kasobolcanadacentral-secondary.file.core.windows.net\nhttp://kasobolcanadacentral-secondary.queue.core.windows.net\nhttp://kasobolcanadacentral-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://kasobolcanadacentral.blob.core.windows.net/;QueueEndpoint=http://kasobolcanadacentral.queue.core.windows.net/;FileEndpoint=http://kasobolcanadacentral.file.core.windows.net/;BlobSecondaryEndpoint=http://kasobolcanadacentral-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://kasobolcanadacentral-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://kasobolcanadacentral-secondary.file.core.windows.net/;AccountName=kasobolcanadacentral;AccountKey=Kg==;\nencryptionScope"
  }
}