{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b420a6b8-68f5-af14-ae68-8977a3d7e9ca?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 07 Oct 2020 19:40:04 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86AF8CA48ADB2\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:40:05 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b420a6b8-68f5-af14-ae68-8977a3d7e9ca/test-blob-80ba9faa-84df-0f55-1aa4-781f4d54ee70",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 07 Oct 2020 19:40:04 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "HikHfXIod1HcBton842GhnPv9B\u002BSdwT08Spdj2a47ukWomj/IHcmWwz0lcDKIj7Iv3qdO/yXP6clE4xIyufrIxjxEVEkh2X8yZkSnuFEKc7slNDsG7LsfmLB2g3q3pAlCHGn2RHspDgUoHJjhaHF4eq\u002BWzYX/whlBJLvYq1YEuoI7JVwnE\u002B9//CX2Ho/ifnA/PkiK4NaDglpQtV\u002B/UGLu46IWpgMVESaAVtFfyeOJXqZLmW0NeZnrt6MB1l6PgKuDBzrty9gtKi0iConFI7i2h1a5c/c14WnIay6f03qH8NZl3MKom1LOHm9/627P5lPqSw8H1gz0jWXQ5aCpjRayWln[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b420a6b8-68f5-af14-ae68-8977a3d7e9ca/test-blob-80ba9faa-84df-0f55-1aa4-781f4d54ee70",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:40:05 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "zdpfBfVNP5fQRkXbyjuJ5A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D86AF8CA508D02\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:40:05 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 Oct 2020 19:40:05 GMT",
        "x-ms-last-access-time": "Wed, 07 Oct 2020 19:40:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b420a6b8-68f5-af14-ae68-8977a3d7e9ca/test-blob-80ba9faa-84df-0f55-1aa4-781f4d54ee70",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:40:05 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D86AF8CA508D02\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:40:05 GMT",
        "x-ms-blob-content-md5": "zdpfBfVNP5fQRkXbyjuJ5A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 Oct 2020 19:40:05 GMT",
        "x-ms-last-access-time": "Wed, 07 Oct 2020 19:40:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "HikHfXIod1HcBton842GhnPv9B\u002BSdwT08Spdj2a47ukWomj/IHcmWwz0lcDKIj7Iv3qdO/yXP6clE4xIyufrIxjxEVEkh2X8yZkSnuFEKc[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b420a6b8-68f5-af14-ae68-8977a3d7e9ca?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:40:05 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1260559766",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}