{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-55a39ea1-0e29-7fdd-f382-2e29bfaf24a1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:10 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D37427ED51EB\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:45:11 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-55a39ea1-0e29-7fdd-f382-2e29bfaf24a1/test-blob-1cbcb736-41a2-c44b-42ff-b0dbf679212c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:11 GMT"
      },
      "RequestBody": "KL8IdD/Qdjs6LtWLJbH53WHWhMYKEqr5v\u002BX50G/V3FjUgwPGDawY1IJp18hvMqGbRRgswaICWxUUD7Ra1qbLZFF8t6KtM9C1vrBEoDvhiY1DXopXqRu20iftsf73vf3cnXJ38nv/7RJIdwLxvbraM4UnFngbdLs2xuR6v4HRvgGzaAPIapYSRHB4DjEYxBRsE3540KaFwCi2QSyWhC2QdrgBPlW3EcnuFNIIo2WJHQLPDqwCWO5aLqfaEihqe79C55h5F4W/tAK1irvTfB3DLCQqx3aBjh7KphCu3f6gg5kTxbvNEAV8EFmpTc4zhrGJF\u002BUEQLRIwVl5rnB1ENYDFAYhwLdi9RserbYd10BPlyBeJMYYnELkywRhU2GUBv\u002BCpTn[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-55a39ea1-0e29-7fdd-f382-2e29bfaf24a1/test-blob-1cbcb736-41a2-c44b-42ff-b0dbf679212c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:11 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "fAzrnV0KIlxkdLCa3ho8xA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D37427F8A2C3\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:45:11 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:45:11 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:45:11 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:45:11.3198275Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-55a39ea1-0e29-7fdd-f382-2e29bfaf24a1/test-blob-1cbcb736-41a2-c44b-42ff-b0dbf679212c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:11 GMT",
        "x-ms-range": "bytes=0-4194303"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D37427F8A2C3\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:45:11 GMT",
        "x-ms-blob-content-md5": "fAzrnV0KIlxkdLCa3ho8xA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:45:11 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:45:11 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:45:11.3198275Z"
      },
      "ResponseBody": "KL8IdD/Q[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-55a39ea1-0e29-7fdd-f382-2e29bfaf24a1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:45:11 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "227586520",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}