{
  "Entries": [
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-d00cc520-13ce-3eb3-eeff-42b77471417a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 24 May 2021 22:46:17 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D91F05BE41B2EE\"",
        "Last-Modified": "Mon, 24 May 2021 22:46:17 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-d00cc520-13ce-3eb3-eeff-42b77471417a/test-blob-e28fc6fc-3437-bbd2-1134-236f6b1ea35e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 24 May 2021 22:46:17 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "NpVcAXaQebsHTWYNpwVh+Kxj9sUUx0SNWXN0xbOhcWOMUXdHmlFpMDShcejKgSH2/blv6hFvBW5QzqgCG7QHZdsDgFaOGl1b+caRc1ZcwtdSfsf5ModRHUwI98upZhSAmQsNxwDLZ+NcE/BK3pIY9AzQsJ3tDjJUsWMJhSORspKyENlKT/vWhhbjnR+WBz658AK/2LZ2k4vYuBacweHAymFdmM25zaUR+SmHCXATvaklUJUg0tncO31OcZbkOsU0I9O+OG5xACNdrt6N74kaxftsd3BMoPeHgV1Pa1wOLL9jUuWdVYU7s1BywiP7T0z0M6ybd8JU6IPbNrcRIZTGT4IfKZyjfG91McMg2t3TizIQ[...]
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-d00cc520-13ce-3eb3-eeff-42b77471417a/test-blob-e28fc6fc-3437-bbd2-1134-236f6b1ea35e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 May 2021 22:46:18 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "D8fENXIZ72qv/4/KEjm04w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D91F05BE63B6C8\"",
        "Last-Modified": "Mon, 24 May 2021 22:46:17 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 24 May 2021 22:46:17 GMT",
        "x-ms-last-access-time": "Mon, 24 May 2021 22:46:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-d00cc520-13ce-3eb3-eeff-42b77471417a/test-blob-e28fc6fc-3437-bbd2-1134-236f6b1ea35e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D91F05BE63B6C8",
        "x-ms-date": "Mon, 24 May 2021 22:46:18 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D91F05BE63B6C8\"",
        "Last-Modified": "Mon, 24 May 2021 22:46:17 GMT",
        "x-ms-blob-content-md5": "D8fENXIZ72qv/4/KEjm04w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 24 May 2021 22:46:17 GMT",
        "x-ms-last-access-time": "Mon, 24 May 2021 22:46:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "NpVcAXaQebsHTWYNpwVh+Kxj9sUUx0SNWXN0xbOhcWOMUXdHmlFpMDShcejKgSH2/blv6hFvBW5QzqgCG7QHZdsDgFaOGl1b+caRc1ZcwtdSfsf[...]
    {
      "RequestUri": "http://kasobolcanadacentral.blob.core.windows.net/test-container-d00cc520-13ce-3eb3-eeff-42b77471417a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 May 2021 22:46:18 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1340690144",
    "Storage_TestConfigDefault": "ProductionTenant\nkasobolcanadacentral\nU2FuaXRpemVk\nhttp://kasobolcanadacentral.blob.core.windows.net\nhttp://kasobolcanadacentral.file.core.windows.net\nhttp://kasobolcanadacentral.queue.core.windows.net\nhttp://kasobolcanadacentral.table.core.windows.net\n\n\n\n\nhttp://kasobolcanadacentral-secondary.blob.core.windows.net\nhttp://kasobolcanadacentral-secondary.file.core.windows.net\nhttp://kasobolcanadacentral-secondary.queue.core.windows.net\nhttp://kasobolcanadacentral-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://kasobolcanadacentral.blob.core.windows.net/;QueueEndpoint=http://kasobolcanadacentral.queue.core.windows.net/;FileEndpoint=http://kasobolcanadacentral.file.core.windows.net/;BlobSecondaryEndpoint=http://kasobolcanadacentral-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://kasobolcanadacentral-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://kasobolcanadacentral-secondary.file.core.windows.net/;AccountName=kasobolcanadacentral;AccountKey=Kg==;\nencryptionScope\n\n"
  }
}