{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-55aae95c-449e-7cd3-080c-57f74003b820?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:52:03 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3751DE6E253\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:52:03 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-55aae95c-449e-7cd3-080c-57f74003b820/test-blob-17b0e83a-c92f-7c82-fead-9fdbe157cb99",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:52:03 GMT"
      },
      "RequestBody": "gT4jFRKa4kEFcOiDPCDyxBy1Qci/cukLqHMfkKiuMGg2CkjLzZGanwZvEr/g/z/eu9q\u002BKxYD2g5VF2yfe1GYV0CATTLXJveLG6HBT2AqKqk0QNXO8ARRMjA6drUk\u002ByS01rt\u002BYLENBpTiMxB0QYqtKuzDajp8ymc8LhoCnbBBZh98DXmlq8r3JjpA67zz3PGljEvJYZDqOAxUQjGXC2jkoczx9zQQCH8iy0MAO9\u002BqSFEpXBFkeAWPktVtUWmYYBvRXErvAuW9lIPMppVM6fwsqfngbq5WgCjHYmVeo7cViWsoLt\u002BVukZsa8eOl9FvQqjYQKdwuPFtetshKKB/XvHMtx0qJLscl\u002B\u002BycwLnyOhWVx\u002[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-55aae95c-449e-7cd3-080c-57f74003b820/test-blob-17b0e83a-c92f-7c82-fead-9fdbe157cb99?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Wed, 17 Feb 2021 18:52:04 GMT"
      },
      "RequestBody": "\uFEFF\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EcoolTag\u003C/Key\u003E\u003CValue\u003Etrue\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E",
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-55aae95c-449e-7cd3-080c-57f74003b820/test-blob-17b0e83a-c92f-7c82-fead-9fdbe157cb99?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:52:04 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "7f3eda7f-3aa7-f40d-11d5-646d2938bfa3"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3751DF0FB73\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:52:03 GMT",
        "x-ms-lease-id": "7f3eda7f-3aa7-f40d-11d5-646d2938bfa3"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-55aae95c-449e-7cd3-080c-57f74003b820/test-blob-17b0e83a-c92f-7c82-fead-9fdbe157cb99?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:52:04 GMT",
        "x-ms-if-tags": "\u0022coolTag\u0022 = \u0027true\u0027",
        "x-ms-lease-action": "release",
        "x-ms-lease-id": "7f3eda7f-3aa7-f40d-11d5-646d2938bfa3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3751DF0FB73\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:52:03 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-55aae95c-449e-7cd3-080c-57f74003b820?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:52:04 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "153394106",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}