{
  "Entries": [
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-bf1e7ae6-c570-1e2d-8d76-fcb68f26b04d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 25 Apr 2020 01:06:55 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B4F2B0B8E9\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:06:55 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-bf1e7ae6-c570-1e2d-8d76-fcb68f26b04d/test-blob-830c4955-e095-3d97-9139-ffcfc670cf51",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 25 Apr 2020 01:06:56 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "07Z2zEo8Ch115D/BXyA82HQFaAUvILBgKp/iCu0pJpAj\u002BPXycV\u002BuGT/uDbCg1t1w/CdbwQjJIbIFFaKqWv8wTL6vnmcqSmcUVk/GQBIAwFTCcQ3GzmSIWdZD7Fu9A74/vsHy8Th1RrK/Rmq5A\u002BGfBVVN6Onyan1ZJkSR510LV1KQhoJRDc4cTCpaBof6z1X0o\u002BcGbxrVTVNDmcrz415VtO8XKH1fTveGMZy\u002Bl2P2XlfunUR1BOc3ujkuDXQDKGnMBFKX4qbYlVTwfz1\u002BF7XvTTpyBUYa4K8I325EMUGCgwky8pMRXnuxFQjvhYWpuaODPr86kCMisSSijw[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-bf1e7ae6-c570-1e2d-8d76-fcb68f26b04d/test-blob-830c4955-e095-3d97-9139-ffcfc670cf51?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:06:56 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "63de5f91-4a60-a2d9-d54e-80d0cfbc4040",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B4F2BD508E\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:06:56 GMT",
        "x-ms-lease-id": "63de5f91-4a60-a2d9-d54e-80d0cfbc4040",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-bf1e7ae6-c570-1e2d-8d76-fcb68f26b04d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:06:56 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "726845075",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttp://amandacanary.blob.core.windows.net\nhttp://amandacanary.file.core.windows.net\nhttp://amandacanary.queue.core.windows.net\nhttp://amandacanary.table.core.windows.net\n\n\n\n\nhttp://amandacanary-secondary.blob.core.windows.net\nhttp://amandacanary-secondary.file.core.windows.net\nhttp://amandacanary-secondary.queue.core.windows.net\nhttp://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandacanary.blob.core.windows.net/;QueueEndpoint=http://amandacanary.queue.core.windows.net/;FileEndpoint=http://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Sanitized\n\nDefaultEndpointsProtocol=https;AccountName=ortestsaccountcbn1;AccountKey=OrRfzSm3ktQSklAGiL90/QusS7SdS6Y5S/AJoxZEeyKYDtnue7OKYIMLOraTnT4xcOyhYbqzWVmtTKappcc5Fg==;EndpointSuffix=core.windows.net\nDefaultEndpointsProtocol=https;AccountName=vbalaorcentral1;AccountKey=vlHMz/LZ3Sx7r/1bdTQT26pG0tqORQ4uTIcxGhHB0LQhIhqGxfv2TXV7u\u002BI2ra4UWXrWGGHG2N6l\u002BBfb5FgAcQ==;EndpointSuffix=core.windows.net"
  }
}