{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-276d3912-12c7-04c1-922d-4d870427c179?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 01 Jul 2019 21:54:15 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6EA8EF2A35\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:54:15 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-276d3912-12c7-04c1-922d-4d870427c179/test-blob-f1e2e150-ddef-6a9c-0051-d9f87496399e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 01 Jul 2019 21:54:15 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "TwuR1A0Bt3MDiP/hbzJhBw1rNyNEz4qlCqtrzsU9cZCtBECW\u002bUvUTilv7mfeu/rO79HrCV8VWX\u002bB68lhlumtxRZvM2vyyw7Bluj61eEix0\u002bxnd/0Umcwl6rAFA2CcrhAwShQboeP2yTCKXJ2G4SdXyR6sPkKuHKvPpzAMbYAPiMwuhO40VjHIsG6Mij0uXwmIrXoCMK/NQm2oS/rzqpuwetPRmBw5I3Ms443T4ZJuoQgmQ8BGDZhcIQKAjAo21MWTHA9pXMbtj0nHFQ0h\u002baCbOaqyjWbbKm07dbcZeJco9c6IQMVCxQRBePR2fvhLemeiJVJfREee9/HibicPlBby3l9[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-276d3912-12c7-04c1-922d-4d870427c179/test-blob-f1e2e150-ddef-6a9c-0051-d9f87496399e?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:54:15 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "44126e37-0bca-3314-156a-2460cb35c2de",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6EA8F185A7\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:54:15 GMT",
        "x-ms-lease-id": "44126e37-0bca-3314-156a-2460cb35c2de",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-276d3912-12c7-04c1-922d-4d870427c179?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:54:15 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "991449377"
  }
}