{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-1f2b78a8-4c2d-f224-4c57-040abaec8c93?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:16 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75FE53AEBEC\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:45:16 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-1f2b78a8-4c2d-f224-4c57-040abaec8c93/test-blob-6a7f3dbc-ff82-b7a2-971b-6309fec60aa4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:17 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "rR7s7WhUDP9BgFdOSXu4u\u002BmLoaooP2MeKsugbIn/u5/8Arc5FE1aaDB/KQKnVG4cYqcfcyVffG66zcOcs6B2QcW3UUfDf6ecMDh5qBZgdtVdhAnh4Eh6nYVJfkaJvrSQCec98AMmWOMAgkLs5dRYWVbuPy\u002BWlWF9PbPBegBgE3KE6J8uI4bRNiwm4V0Fjrex8CTvmn6F\u002BnOGwLJQZd3jn2/PZ/w0KjbPHQgDcLMEd6/7D4nbcHjz/\u002B4rqGPUgdFOQ0HuNia6fMbuH312gYm/gUgDVFVTBy/222gOCYHT\u002B5s2tC1yFkGJQZLD7FH6fX1kayYa0Sx7\u002BzsS91[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-1f2b78a8-4c2d-f224-4c57-040abaec8c93/test-blob-6a7f3dbc-ff82-b7a2-971b-6309fec60aa4?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:17 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "1924ce79-d6ef-112d-4fb1-31a89074298a",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75FE54892C5\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:45:16 GMT",
        "x-ms-lease-id": "1924ce79-d6ef-112d-4fb1-31a89074298a",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-1f2b78a8-4c2d-f224-4c57-040abaec8c93?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:17 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1181779703",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}