{
  "Entries": [
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-55aae95c-449e-7cd3-080c-57f74003b820?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 03 Jun 2020 17:30:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D807E3CED89F39\u0022",
        "Last-Modified": "Wed, 03 Jun 2020 17:30:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-55aae95c-449e-7cd3-080c-57f74003b820/test-blob-17b0e83a-c92f-7c82-fead-9fdbe157cb99",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 03 Jun 2020 17:30:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "gT4jFRKa4kEFcOiDPCDyxBy1Qci/cukLqHMfkKiuMGg2CkjLzZGanwZvEr/g/z/eu9q\u002BKxYD2g5VF2yfe1GYV0CATTLXJveLG6HBT2AqKqk0QNXO8ARRMjA6drUk\u002ByS01rt\u002BYLENBpTiMxB0QYqtKuzDajp8ymc8LhoCnbBBZh98DXmlq8r3JjpA67zz3PGljEvJYZDqOAxUQjGXC2jkoczx9zQQCH8iy0MAO9\u002BqSFEpXBFkeAWPktVtUWmYYBvRXErvAuW9lIPMppVM6fwsqfngbq5WgCjHYmVeo7cViWsoLt\u002BVukZsa8eOl9FvQqjYQKdwuPFtetshKKB/XvH[...]
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-55aae95c-449e-7cd3-080c-57f74003b820/test-blob-17b0e83a-c92f-7c82-fead-9fdbe157cb99?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Wed, 03 Jun 2020 17:30:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EcoolTag\u003C/Key\u003E\u003CValue\u003Etrue\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-55aae95c-449e-7cd3-080c-57f74003b820/test-blob-17b0e83a-c92f-7c82-fead-9fdbe157cb99?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Jun 2020 17:30:28 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "7f3eda7f-3aa7-f40d-11d5-646d2938bfa3",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D807E3CEE0A82A\u0022",
        "Last-Modified": "Wed, 03 Jun 2020 17:30:28 GMT",
        "x-ms-lease-id": "7f3eda7f-3aa7-f40d-11d5-646d2938bfa3",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-55aae95c-449e-7cd3-080c-57f74003b820/test-blob-17b0e83a-c92f-7c82-fead-9fdbe157cb99?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Jun 2020 17:30:28 GMT",
        "x-ms-if-tags": "\u0022coolTag\u0022 = \u0027true\u0027",
        "x-ms-lease-action": "release",
        "x-ms-lease-id": "7f3eda7f-3aa7-f40d-11d5-646d2938bfa3",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D807E3CEE0A82A\u0022",
        "Last-Modified": "Wed, 03 Jun 2020 17:30:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-55aae95c-449e-7cd3-080c-57f74003b820?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Jun 2020 17:30:29 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "153394106",
    "Storage_TestConfigDefault": "ProductionTenant\nhuxcanadac\nU2FuaXRpemVk\nhttps://huxcanadac.blob.core.windows.net\nhttps://huxcanadac.file.core.windows.net\nhttps://huxcanadac.queue.core.windows.net\nhttps://huxcanadac.table.core.windows.net\n\n\n\n\nhttps://huxcanadac-secondary.blob.core.windows.net\nhttps://huxcanadac-secondary.file.core.windows.net\nhttps://huxcanadac-secondary.queue.core.windows.net\nhttps://huxcanadac-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://huxcanadac.blob.core.windows.net/;QueueEndpoint=https://huxcanadac.queue.core.windows.net/;FileEndpoint=https://huxcanadac.file.core.windows.net/;BlobSecondaryEndpoint=https://huxcanadac-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://huxcanadac-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://huxcanadac-secondary.file.core.windows.net/;AccountName=huxcanadac;AccountKey=Sanitized\nseanscope1"
  }
}