{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-569de4b3-1ab6-aeec-91ce-e9264c6543c5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:21 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75FE7C88A54\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:45:20 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-569de4b3-1ab6-aeec-91ce-e9264c6543c5/test-blob-7eb4f404-5954-6154-b32c-942b1a04e4ec",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:21 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Q314PSDgw1vwhBbyQCiZxash4tbvDBZUuuOw1CB7WohQI8VZg6G9JDBZjtBCYSGLks9/\u002BCIN/TdmJII9L\u002B87dSmOoRxjQEIJZL2llX5GEVjBJEJR\u002B2FlQiWO8l8egPRBHRims8AEKFGMdZRkaGe4IBIqewut6nnHKF721E7j6\u002BPIZHhln12YvfzwxIXNAdq\u002B1dJM9ATplDOe34phDVMDqYqwmwTvU4G1kb0OvCX0\u002BieEOP98l/bf389ExsDSN7Cp7Bv7HWXVzoJRlmNG29cOquRj3NRThxKU0Lw0qozA4lkNZc8K\u002BNzCrmp9KwCTmQP3Nhzbb1rcV[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-569de4b3-1ab6-aeec-91ce-e9264c6543c5/test-blob-7eb4f404-5954-6154-b32c-942b1a04e4ec?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:21 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "23d2ad5a-b1a1-b271-662b-2fb3043ea5bf",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75FE7D55913\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:45:20 GMT",
        "x-ms-lease-id": "23d2ad5a-b1a1-b271-662b-2fb3043ea5bf",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-569de4b3-1ab6-aeec-91ce-e9264c6543c5/test-blob-7eb4f404-5954-6154-b32c-942b1a04e4ec?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Fri, 03 Apr 2020 23:45:21 GMT",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:21 GMT",
        "x-ms-lease-action": "release",
        "x-ms-lease-id": "23d2ad5a-b1a1-b271-662b-2fb3043ea5bf",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:28542d29-c01e-007b-0b48-090f3c000000\n",
        "Time:2020-04-02T23:45:20.9190725Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-7ba1e813-e653-8bc8-21f4-adaaa31072f6/test-blob-927401bb-f9e3-23a9-3b60-ed5200fd57e6?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Wed, 01 Apr 2020 23:45:21 GMT",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:22 GMT",
        "x-ms-lease-action": "release",
        "x-ms-lease-id": "a34890c8-fd84-a1ec-e747-4b3e78322e28",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:e64842aa-401e-0075-3248-09268c000000\n",
        "Time:2020-04-02T23:45:21.6076499Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-6416a8d9-c404-6387-5552-393f24e8b997/test-blob-2651f98f-2e40-9bcb-91a9-c8a969797df6?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:23 GMT",
        "x-ms-lease-action": "release",
        "x-ms-lease-id": "f00c2b07-e594-53d2-3e0b-17fbae30756a",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:93b4f040-d01e-0083-4c48-0953c2000000\n",
        "Time:2020-04-02T23:45:22.2613091Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-d7a99ec6-16bd-d128-d0ee-69e02c08b651/test-blob-15991238-86f1-2f33-7067-1d30ed3ba578",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:23 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Vjxvp0La68cOxuLtXUm7Lw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D75FE905ABB4\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:45:22 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Apr 2020 23:45:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-d7a99ec6-16bd-d128-d0ee-69e02c08b651/test-blob-15991238-86f1-2f33-7067-1d30ed3ba578?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u00220x8D7D75FE905ABB4\u0022",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:23 GMT",
        "x-ms-lease-action": "release",
        "x-ms-lease-id": "3298efe4-d115-bb41-f260-72c6f491e5c6",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:43076832-101e-001a-5a48-092c7f000000\n",
        "Time:2020-04-02T23:45:22.9961019Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-d7a99ec6-16bd-d128-d0ee-69e02c08b651?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:23 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-02T16:45:21.2878443-07:00",
    "RandomSeed": "556443923",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}