{
  "Entries": [
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-7021bb28-48ad-66c3-3139-c7e3b3b6f5c4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 03 Jun 2020 17:30:09 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D807E3C375A532\u0022",
        "Last-Modified": "Wed, 03 Jun 2020 17:30:09 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-7021bb28-48ad-66c3-3139-c7e3b3b6f5c4/test-blob-2d8f70ef-fda7-cde9-5af9-c0d25a2d52d6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 03 Jun 2020 17:30:09 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "MqeGbET0PcJR2ocsxZwNL3hZpaLL2XheXaSnjfLTd8btv5Jz\u002BfZP\u002BzLN28x2vAi97JBZAIewClgvJw6gTLDPfmPBPgUKmTWCCapv/v6r6KCc6aBheXY\u002BPbQ6RNHor66C/VxptH4Cs1Jb1/fdQAxZgz9tBGIQbgTsgwBR0FVjmlr87QChQjMimTZOBqJ/Yf2n4MCSeqpLco9YfTF\u002BseP99z2c4FIMt0ALS2oswWdibCIDqe\u002BU0R\u002BvsHtxScUBo\u002BhTUQ9l4oCqmyh/hy5AH7An9RAPewfzaCUd7TDWmm57CaeB2HBX/ImhWA7GFUnwb5HLSVO08ijhX[...]
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-7021bb28-48ad-66c3-3139-c7e3b3b6f5c4/test-blob-2d8f70ef-fda7-cde9-5af9-c0d25a2d52d6?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Wed, 03 Jun 2020 17:30:09 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EcoolTag\u003C/Key\u003E\u003CValue\u003Etrue\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-7021bb28-48ad-66c3-3139-c7e3b3b6f5c4/test-blob-2d8f70ef-fda7-cde9-5af9-c0d25a2d52d6?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Jun 2020 17:30:09 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "3679c8e5-08b6-1e07-e362-dee51da3f86d",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D807E3C37F010C\u0022",
        "Last-Modified": "Wed, 03 Jun 2020 17:30:09 GMT",
        "x-ms-lease-id": "3679c8e5-08b6-1e07-e362-dee51da3f86d",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-7021bb28-48ad-66c3-3139-c7e3b3b6f5c4/test-blob-2d8f70ef-fda7-cde9-5af9-c0d25a2d52d6?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Jun 2020 17:30:09 GMT",
        "x-ms-if-tags": "\u0022coolTag\u0022 = \u0027true\u0027",
        "x-ms-lease-action": "release",
        "x-ms-lease-id": "3679c8e5-08b6-1e07-e362-dee51da3f86d",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D807E3C37F010C\u0022",
        "Last-Modified": "Wed, 03 Jun 2020 17:30:09 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-7021bb28-48ad-66c3-3139-c7e3b3b6f5c4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Jun 2020 17:30:09 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "519535859",
    "Storage_TestConfigDefault": "ProductionTenant\nhuxcanadac\nU2FuaXRpemVk\nhttps://huxcanadac.blob.core.windows.net\nhttps://huxcanadac.file.core.windows.net\nhttps://huxcanadac.queue.core.windows.net\nhttps://huxcanadac.table.core.windows.net\n\n\n\n\nhttps://huxcanadac-secondary.blob.core.windows.net\nhttps://huxcanadac-secondary.file.core.windows.net\nhttps://huxcanadac-secondary.queue.core.windows.net\nhttps://huxcanadac-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://huxcanadac.blob.core.windows.net/;QueueEndpoint=https://huxcanadac.queue.core.windows.net/;FileEndpoint=https://huxcanadac.file.core.windows.net/;BlobSecondaryEndpoint=https://huxcanadac-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://huxcanadac-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://huxcanadac-secondary.file.core.windows.net/;AccountName=huxcanadac;AccountKey=Sanitized\nseanscope1"
  }
}