{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c6b1a88f-d999-36a1-cc4f-570b04cea36e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:44 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D374833D4889\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:47:44 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c6b1a88f-d999-36a1-cc4f-570b04cea36e/test-blob-bf554c54-b934-1c89-52bd-68fd042a0d6f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:44 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "GTYl8XcwC/b0srWxX/B908mzItsHduwtiDkgpaxL2mWqo0s/ZeCpI0FfyoED2L1hQJQ0UAcxZ6JK92k9D2VJqNhQB7ukPm3oCv+aqKxqKbB8vmQXF4ldeDup9G13axPbFSGos9EBvAInS0UIl7/24M64wVEBMpFO846A+0n/cJ/rv5OKwXXfewJh8MtDVOF8sxSfv6nC2eKQWsBCgcG5J9umHdcrax5Y2UZOn0LFCp6tA0c1YLH1KOWw+me1nflAqMjwnTcJUEj2RuVjczqgy08ilH15hMYpsPTye3C2ozxMDvZ51G1mpLL/PhrLkrSqDy8Ykwh8xyQCx+1CF9XXP6KpF2VDJ/biu/DLeUWsXR5A[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c6b1a88f-d999-36a1-cc4f-570b04cea36e/test-blob-bf554c54-b934-1c89-52bd-68fd042a0d6f?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:44 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "fb62279f-d7dd-6cfc-be08-a675c5c0e50c",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D3748347ADC7\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:47:44 GMT",
        "x-ms-lease-id": "fb62279f-d7dd-6cfc-be08-a675c5c0e50c",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c6b1a88f-d999-36a1-cc4f-570b04cea36e/test-blob-bf554c54-b934-1c89-52bd-68fd042a0d6f?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 18 Feb 2021 18:47:44 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:44 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "fb62279f-d7dd-6cfc-be08-a675c5c0e50c",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:7688cc6e-701e-002e-175d-0588d5000000\n",
        "Time:2021-02-17T18:47:44.6355205Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5584ffd7-a524-1704-1dd0-14776fa198b0/test-blob-ff713b5d-5b3c-e3aa-43fc-df334368adbf?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Tue, 16 Feb 2021 18:47:44 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:45 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "ae01f559-cbf8-bc48-2619-2ed22cc1674e",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:cf021314-001e-0034-125d-05e90a000000\n",
        "Time:2021-02-17T18:47:45.1297429Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a5b729b9-b675-9a31-83e5-4ce8d99f6725/test-blob-776743fe-03e1-a19c-3e46-22e16f23f8d5?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"garbage\"",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:45 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "1ac546ed-e293-c631-fd12-00d6cad64faf",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:ceb6ebfc-f01e-000f-285d-05acae000000\n",
        "Time:2021-02-17T18:47:45.6466759Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b7ca2100-44d0-001f-d7fb-dbf33e8edcd2/test-blob-588b723f-1378-3e30-ff1d-8962e6afcff4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:46 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "d7GFhnOsQdS9LyeN+/MDCg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D8D374843211C9\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:47:46 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:47:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:47:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-02-17T18:47:46.0466121Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b7ca2100-44d0-001f-d7fb-dbf33e8edcd2/test-blob-588b723f-1378-3e30-ff1d-8962e6afcff4?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "0x8D8D374843211C9",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:46 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "6b5e25bf-d33b-5b66-8920-59a8856d0419",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:7623cf09-601e-007f-345d-051559000000\n",
        "Time:2021-02-17T18:47:46.2411571Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b7ca2100-44d0-001f-d7fb-dbf33e8edcd2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:46 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T12:47:44.2276555-06:00",
    "RandomSeed": "368515654",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}