{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-a9f595d2-ff12-22bf-b0a7-c90633ded997?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 20:56:28 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C147AD2070AF\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:56:28 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-a9f595d2-ff12-22bf-b0a7-c90633ded997/test-blob-f881b9e1-7dc0-a1f8-c18b-d618792c308d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 20:56:28 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "l6MyXki4IR7qz0/L7bhRmPqxsTihF2RW2/Rf6ppyXSiutoN0B6CLKZhjDfEuLbQIOj4ex3v4638/3IJUWDeDeHEnHTY13ZBaJoegPgpzJ64/Vq9cVJattcsDNSsdNtFg4JSABw9\u002B01ytw6DzWKx1y7XUFAKHJiTaeWdrMqhlPe\u002B2P1528yCewYNSr5D1uV0ejml1SCLP2blvpY2nE6C0SIaxPRhO/tiVNVN\u002BNHeT5cAKTKQ\u002B7/TN52WkBk6S9q7inmcKRHtEz4\u002BQ4BPOUKVC3MDNncb8dliR41ayqviKAj6lnJYQiaBExX0Urg7h/pbAYSqNxVno5SgOeGAlkiW[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-a9f595d2-ff12-22bf-b0a7-c90633ded997/test-blob-f881b9e1-7dc0-a1f8-c18b-d618792c308d?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 20:56:29 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "3980516b-2da2-c791-8fe8-63efe5585e37",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C147AD2E2471\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:56:28 GMT",
        "x-ms-lease-id": "3980516b-2da2-c791-8fe8-63efe5585e37",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-c33f9d9e-28e7-9721-fd96-2e04f36b19fc/test-blob-8d187aac-4d5f-1006-8fc3-f6c0184d0d7c?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 04 Mar 2020 20:56:28 GMT",
        "x-ms-date": "Thu, 05 Mar 2020 20:56:29 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "6412e077-aaf0-2ebd-ac08-364df2555564",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C147AD932AF8\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:56:29 GMT",
        "x-ms-lease-id": "6412e077-aaf0-2ebd-ac08-364df2555564",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-39526ab7-6b92-a0db-69d3-60f4b2c1d60d/test-blob-096ce205-13e1-8008-1fc7-3a5bc2d9b4fc?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 06 Mar 2020 20:56:28 GMT",
        "x-ms-date": "Thu, 05 Mar 2020 20:56:30 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "1339a860-924c-5752-8357-c22d09adf353",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C147ADF9B2F1\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:56:30 GMT",
        "x-ms-lease-id": "1339a860-924c-5752-8357-c22d09adf353",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-208fdc7d-1305-6d60-eb53-02cd6e2b9852/test-blob-28595b5b-2875-d45f-bfed-154ced226b04",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 20:56:31 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "e94R99DngyZpSLButtPyzg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C147AE63BDFE\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:56:30 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 05 Mar 2020 20:56:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-208fdc7d-1305-6d60-eb53-02cd6e2b9852/test-blob-28595b5b-2875-d45f-bfed-154ced226b04?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D7C147AE63BDFE\u0022",
        "x-ms-date": "Thu, 05 Mar 2020 20:56:31 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "bb7e76f8-4025-c999-c8cd-b7de44474bd5",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C147AE63BDFE\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:56:30 GMT",
        "x-ms-lease-id": "bb7e76f8-4025-c999-c8cd-b7de44474bd5",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-4673cd3d-c64d-2db8-989e-343699ec888a/test-blob-1842abd4-9adf-a1ad-7ebd-362e199f1f31?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Thu, 05 Mar 2020 20:56:31 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "c5356a90-cc82-2322-7b9e-6c4e8c7b370e",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C147AED06251\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:56:31 GMT",
        "x-ms-lease-id": "c5356a90-cc82-2322-7b9e-6c4e8c7b370e",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-4673cd3d-c64d-2db8-989e-343699ec888a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 20:56:31 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-03-05T12:56:28.5887071-08:00",
    "RandomSeed": "1714955579",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}