{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-969d0967-e591-463b-d518-2fa58a3ac84b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:42:48 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75F8C87008C\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:42:47 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-969d0967-e591-463b-d518-2fa58a3ac84b/test-blob-ca41d9c6-c0b5-68fa-6122-e2e70803f037",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:42:48 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "T298e9JmPNNEcC2pbdDHIoROcHxc/gpoFAAA60a2WfLZWYhDFKm7X5xuhUSTUPqQW8BiupNz2lFkE2fSZlGMjRc70BRIhA7bkhDg7XjF1cMFcJCGVJ9eZX433gFC6flL4vgtWIDmSNeyhieCk\u002BzYnz2jzPXABTl33GqVEaUMmagXlAuAmH1DHyi51M133NKSXj/EnxwDi9y/tXwWUDYxpe1/av7hWAbAX6zNBjBrAP\u002BYA7JlSPqLFAkvweIBLc7xiC7g\u002BHHUsAY4Az9wNYSrU7V8fk2Ey13z81b0sZckvzLd3H4BiweNw1KsLUS6G96Fg20shK\u002BBbbzR7AUa3/9uFEQM[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-969d0967-e591-463b-d518-2fa58a3ac84b/test-blob-ca41d9c6-c0b5-68fa-6122-e2e70803f037?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:42:48 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "ddcee6d0-484f-80f2-7b96-fa6758420593",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75F8C93CA01\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:42:47 GMT",
        "x-ms-lease-id": "ddcee6d0-484f-80f2-7b96-fa6758420593",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-969d0967-e591-463b-d518-2fa58a3ac84b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:42:48 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1179283870",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}