{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b5f26455-2fc5-a7ca-e5f2-37c6f58e8553?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:52:11 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D375227477A2\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:52:11 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b5f26455-2fc5-a7ca-e5f2-37c6f58e8553/test-blob-9d895a43-035e-1201-c49a-be30d3453966",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:52:11 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "t2lIADYzFieNHfbrY1CIfl/iQRT1nW9680WNoZ0Nk1E0eJdlLzVDEENiD0AMFq5zEkDQ8QQkcRn6zQzwpXSJf4qktuq4Ik8pnjDQko0vbt2XGY9dPKFNEAd9a2EoUmvO2I+1Z2DDu/DwplPTU96Ly18vWYvlLEPoV6XiOrbtAEvEArr9eQZ8016ebJVOebwp8aAC+fng6KxMzBC64IA5AqUHD1EkjlFYsoYtR7+tmt3puUgW6wdS5BkNsaz1wvLdZWrwR2prBWNOqUZysqHtnzIz0Sc3IxaetCo3FtylY/CUT+JVvFJyfrPlx0LB3zF3IBF5wvDKpkFTUZM/M+6GqUZV3mO/mOLgwFNzUlvU3NT5[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b5f26455-2fc5-a7ca-e5f2-37c6f58e8553/test-blob-9d895a43-035e-1201-c49a-be30d3453966?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:52:11 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "5a419bdf-58dd-56dd-84dd-a441bb414932",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D375227DE762\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:52:11 GMT",
        "x-ms-lease-id": "5a419bdf-58dd-56dd-84dd-a441bb414932",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b5f26455-2fc5-a7ca-e5f2-37c6f58e8553/test-blob-9d895a43-035e-1201-c49a-be30d3453966?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:52:11 GMT",
        "x-ms-if-tags": "\"coolTag\" = 'true'",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "5a419bdf-58dd-56dd-84dd-a441bb414932",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:7625209e-601e-007f-765e-051559000000\n",
        "Time:2021-02-17T18:52:12.0641302Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b5f26455-2fc5-a7ca-e5f2-37c6f58e8553?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:52:12 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1880420902",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}