{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-969d0967-e591-463b-d518-2fa58a3ac84b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:06:21 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E89F477DDB\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:06:21 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-969d0967-e591-463b-d518-2fa58a3ac84b/test-blob-ca41d9c6-c0b5-68fa-6122-e2e70803f037",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:06:21 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "T298e9JmPNNEcC2pbdDHIoROcHxc/gpoFAAA60a2WfLZWYhDFKm7X5xuhUSTUPqQW8BiupNz2lFkE2fSZlGMjRc70BRIhA7bkhDg7XjF1cMFcJCGVJ9eZX433gFC6flL4vgtWIDmSNeyhieCk\u002BzYnz2jzPXABTl33GqVEaUMmagXlAuAmH1DHyi51M133NKSXj/EnxwDi9y/tXwWUDYxpe1/av7hWAbAX6zNBjBrAP\u002BYA7JlSPqLFAkvweIBLc7xiC7g\u002BHHUsAY4Az9wNYSrU7V8fk2Ey13z81b0sZckvzLd3H4BiweNw1KsLUS6G96Fg20shK\u002BBbbzR7AUa3/9uFEQMklkFqceu7rr7154ZONd4by4p9zqDXG7CMJ4CcuRSPRj/rYiEf9mlfpX1h[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-969d0967-e591-463b-d518-2fa58a3ac84b/test-blob-ca41d9c6-c0b5-68fa-6122-e2e70803f037?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:06:21 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "ddcee6d0-484f-80f2-7b96-fa6758420593",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E89F507C38\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:06:22 GMT",
        "x-ms-lease-id": "ddcee6d0-484f-80f2-7b96-fa6758420593",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-969d0967-e591-463b-d518-2fa58a3ac84b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:06:21 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1179283870",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}