{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b5f26455-2fc5-a7ca-e5f2-37c6f58e8553?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:11:30 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E957595E58\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:11:30 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b5f26455-2fc5-a7ca-e5f2-37c6f58e8553/test-blob-9d895a43-035e-1201-c49a-be30d3453966",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:11:30 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "t2lIADYzFieNHfbrY1CIfl/iQRT1nW9680WNoZ0Nk1E0eJdlLzVDEENiD0AMFq5zEkDQ8QQkcRn6zQzwpXSJf4qktuq4Ik8pnjDQko0vbt2XGY9dPKFNEAd9a2EoUmvO2I\u002B1Z2DDu/DwplPTU96Ly18vWYvlLEPoV6XiOrbtAEvEArr9eQZ8016ebJVOebwp8aAC\u002Bfng6KxMzBC64IA5AqUHD1EkjlFYsoYtR7\u002Btmt3puUgW6wdS5BkNsaz1wvLdZWrwR2prBWNOqUZysqHtnzIz0Sc3IxaetCo3FtylY/CUT\u002BJVvFJyfrPlx0LB3zF3IBF5wvDKpkFTUZM/M\u002B6GqUZV3mO/mOLgwFNzUlvU3NT5v/bLK6AAyamgAWu/MkrFXh78awHNuIgu[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b5f26455-2fc5-a7ca-e5f2-37c6f58e8553/test-blob-9d895a43-035e-1201-c49a-be30d3453966?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:11:30 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "5a419bdf-58dd-56dd-84dd-a441bb414932",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E957649557\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:11:30 GMT",
        "x-ms-lease-id": "5a419bdf-58dd-56dd-84dd-a441bb414932",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b5f26455-2fc5-a7ca-e5f2-37c6f58e8553/test-blob-9d895a43-035e-1201-c49a-be30d3453966?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:11:30 GMT",
        "x-ms-if-tags": "\u0022coolTag\u0022 = \u0027true\u0027",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "5a419bdf-58dd-56dd-84dd-a441bb414932",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:de6df950-d01e-0027-3cd2-04cd06000000\n",
        "Time:2021-02-17T02:11:30.9624197Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b5f26455-2fc5-a7ca-e5f2-37c6f58e8553?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:11:30 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1880420902",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}