{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-cc01c996-1656-67fe-d7f5-3dabacc5caeb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:59 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1C738CE79\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:52:59 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-cc01c996-1656-67fe-d7f5-3dabacc5caeb/test-blob-ebcbced4-655d-5ad9-059f-0b370eca26d5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:59 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "LbQJfOnjxmAgz7rQzAY1UjhU1t363422JJ7HdylxI0dfdMt9e0D/8Ahryo6rCY7/arn\u002buvRJ200mU1dLHE82rqtzcVc6t9b4VOXVjxT/ChsPxwxwcmlSFZl9Vyjos9S4NBviOJc2xLPjBWUPc0w5J0g8O1RCxjtBIFu\u002bvWCtEKERHFr4HNKD2ANZjG0EQ6FMQzDgq3h/dm3goRc8eAdTNfXE/lfxQQp1uWJR6DnOPdy5cXkvzWQokaXtGHu6RmD7Bld3QEVKWgImavIVLo0zEWQ7ggaOI2iRm2yxBCiOu3ICVeLiV/yWbxd2CWJyEmIYugYXf8RZbePu5qXYmFbZl69/E9iqULlnpB[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-cc01c996-1656-67fe-d7f5-3dabacc5caeb/test-blob-ebcbced4-655d-5ad9-059f-0b370eca26d5?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:59 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "5ca7c86b-1afe-892b-4c03-ca7160ce32a0",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1C73B3583\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:52:59 GMT",
        "x-ms-lease-id": "5ca7c86b-1afe-892b-4c03-ca7160ce32a0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-26676c90-ea23-a33f-8a5e-17a86c22cafe/test-blob-705063a7-e53a-8e0a-2473-8dd611caa5a3?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 11 Jul 2019 17:52:59 GMT",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:59 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "194b25aa-bcb2-fa06-bd94-1adae026931a",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1C745984A\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:52:59 GMT",
        "x-ms-lease-id": "194b25aa-bcb2-fa06-bd94-1adae026931a",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-01176a10-3d74-5a4b-6837-3258702e4815/test-blob-45e4da84-35db-51a3-e84c-6c4892c334d4?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sat, 13 Jul 2019 17:52:59 GMT",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:59 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "94aedfc7-aaf0-0550-de1b-c4ef186bb91f",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1C7541AC2\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:52:59 GMT",
        "x-ms-lease-id": "94aedfc7-aaf0-0550-de1b-c4ef186bb91f",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-e42d6640-29e9-fe77-093f-cc129c85a7f8/test-blob-39b15346-b24e-8d89-cb78-07d4224e4fe2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:59 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "SfqGg9m81A4hcyEevoFqXw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D706F1C7666EB8\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:52:59 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 12 Jul 2019 17:52:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-e42d6640-29e9-fe77-093f-cc129c85a7f8/test-blob-39b15346-b24e-8d89-cb78-07d4224e4fe2?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D706F1C7666EB8\u0022",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:59 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "23a0ecea-c4b8-b291-e6dd-dc1455535073",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1C7666EB8\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:52:59 GMT",
        "x-ms-lease-id": "23a0ecea-c4b8-b291-e6dd-dc1455535073",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-5e88a564-d9b9-b749-7393-a211fefddef3/test-blob-f4619a64-5653-dd4e-75dd-939d7e7ad514?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Fri, 12 Jul 2019 17:52:59 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "5cf9dc6f-c4a1-38b2-18e7-94547e0ef022",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1C7758D96\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:52:59 GMT",
        "x-ms-lease-id": "5cf9dc6f-c4a1-38b2-18e7-94547e0ef022",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-5e88a564-d9b9-b749-7393-a211fefddef3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:00 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-07-12T10:52:59.5597495-07:00",
    "RandomSeed": "1380844856",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}