{
  "Entries": [
    {
      "RequestUri": "http://storagedotnettesting.blob.core.windows.net/test-container-77c7359b-f722-a0a7-2bea-a4907bec299f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 29 Oct 2019 18:29:01 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D75C9DDEF24EA8\u0022",
        "Last-Modified": "Tue, 29 Oct 2019 18:29:01 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storagedotnettesting.blob.core.windows.net/test-container-77c7359b-f722-a0a7-2bea-a4907bec299f/test-blob-3da7eb6e-dccf-6bdf-7a12-9c4e5580efd8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 29 Oct 2019 18:29:01 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "zP/ZWMGvdIcH9R5bs6Y0X0xJucWr4NXbQr/\u002BGEnYbkSxokeBoS\u002BXvncfNtm9hLjT3j0BDMcpLewq/hUCsFs\u002BL4faqhFesr4csfpOi6r7Hb4HKzoL1mF9h3VbV6IalQ0b4QZS49mmdSt/5VvM26FBLuFW\u002B4UhMlklXSOcA1obAhvtM6qjqTrkYLUOjPEGsKzTGijBw5qH\u002Ba6tLIW2CnLQY\u002BI/36j2nYWmcprQE6ZnH6x2yOgyWT\u002BAZTn89n20LlZDPSgOxtEE3HyjGlEAt\u002BYHRQzZP0GJngqjv3lu\u002BqcI8kNDjNV\u002BWVnbcutsjj[...]
    {
      "RequestUri": "http://storagedotnettesting.blob.core.windows.net/test-container-77c7359b-f722-a0a7-2bea-a4907bec299f/test-blob-3da7eb6e-dccf-6bdf-7a12-9c4e5580efd8?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-encoding": "deflate, gzip",
        "x-ms-blob-content-language": "de-DE, en-CA",
        "x-ms-date": "Tue, 29 Oct 2019 18:29:01 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D75C9DDF149C87\u0022",
        "Last-Modified": "Tue, 29 Oct 2019 18:29:01 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storagedotnettesting.blob.core.windows.net/test-container-77c7359b-f722-a0a7-2bea-a4907bec299f/test-blob-3da7eb6e-dccf-6bdf-7a12-9c4e5580efd8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 29 Oct 2019 18:29:01 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Language": [
          "de-DE",
          "en-CA"
        ],
        "ETag": "\u00220x8D75C9DDF149C87\u0022",
        "Last-Modified": "Tue, 29 Oct 2019 18:29:01 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 29 Oct 2019 18:29:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storagedotnettesting.blob.core.windows.net/test-container-77c7359b-f722-a0a7-2bea-a4907bec299f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 29 Oct 2019 18:29:01 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-10-29T11:29:01.1547401-07:00",
    "RandomSeed": "206241019",
    "Storage_TestConfigDefault": "ProductionTenant\nstoragedotnettesting\nU2FuaXRpemVk\nhttp://storagedotnettesting.blob.core.windows.net\nhttps://storagedotnettesting.file.core.windows.net\nhttps://storagedotnettesting.queue.core.windows.net\nhttps://storagedotnettesting.table.core.windows.net\n\n\n\n\nhttps://storagedotnettesting-secondary.blob.core.windows.net\nhttps://storagedotnettesting-secondary.file.core.windows.net\nhttps://storagedotnettesting-secondary.queue.core.windows.net\nhttps://storagedotnettesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storagedotnettesting.blob.core.windows.net/;QueueEndpoint=https://storagedotnettesting.queue.core.windows.net/;TableEndpoint=https://storagedotnettesting.table.core.windows.net/;FileEndpoint=https://storagedotnettesting.file.core.windows.net/;BlobSecondaryEndpoint=https://storagedotnettesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://storagedotnettesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=https://storagedotnettesting-secondary.table.core.windows.net/;FileSecondaryEndpoint=https://storagedotnettesting-secondary.file.core.windows.net/;AccountName=storagedotnettesting;AccountKey=Sanitized"
  }
}