{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ad8537cf-57ac-6b26-0d2d-5bf7709793d9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:52:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D37527023A44\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:52:19 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ad8537cf-57ac-6b26-0d2d-5bf7709793d9/test-blob-7f7b54e3-46de-331d-fcdf-5b3ccb4306f0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:52:19 GMT"
      },
      "RequestBody": "UMFcNsUXPGJdE4T/myY92RFR/hChXLtVHJ5/vfJMdsN7EMSnGyh1zBcZIcvBHpfVoYIqeUT1TvMFBxkml35wEZzAg4pilr7p2zL4iDvwk/0HqhxvIvx/hsHQoRMOTzWZqBAuAJsNcgrDQJ4S/Ma4FHMbH\u002BxiAO6fQfzIkvSq24z8X98qwpJi\u002BjgRq\u002BFebIn7F4yf8i9INqghjr6eRN8VGGURFZ3mjVLhuSW0UFQNQNVzzXpoC\u002BhctCg3CTPTxLVY\u002B5J8TVfsFYo6vjkKlOVTFE3pKndkrQ19tGF0r4QfDfRvW1XBkfN\u002Bh7jwLkyuUh9D4/Xm6pk\u002B806F/pn1d2YFG7FEmjiQkoNaa6O\u002BdH/Bzm[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ad8537cf-57ac-6b26-0d2d-5bf7709793d9/test-blob-7f7b54e3-46de-331d-fcdf-5b3ccb4306f0?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-encoding": "deflate, gzip",
        "x-ms-blob-content-language": "de-DE, en-CA",
        "x-ms-date": "Wed, 17 Feb 2021 18:52:19 GMT",
        "x-ms-if-tags": "\u0022coolTag\u0022 = \u0027true\u0027"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:32049744-901e-0009-3d5e-059f11000000\n",
        "Time:2021-02-17T18:52:19.3177789Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ad8537cf-57ac-6b26-0d2d-5bf7709793d9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:52:19 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1392589991",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}