{
  "Entries": [
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-a0d59256-cf04-2ef0-117b-92c39c5ff361?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 25 Apr 2020 01:09:07 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B5412C5158\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:09:07 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-a0d59256-cf04-2ef0-117b-92c39c5ff361/test-blob-32f1f71c-cdfc-547c-97cc-c6470cd369ee",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 25 Apr 2020 01:09:07 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "QhXdDPRgAN48TdTQDEzyadWUAMwxB4AYExb6lWFxwMtVBmsBkts6vPcT9a/4rEdL2V1xd9KcvDqUxfneZmt9y4wJegXh8db5WUTVHhHRH2bOr7sD/0n4uEowbM3iXFaMlioi7zFBaeeGeB6Ox50pwqWSELavecxDEMK7sYUJF/3uSIjmrzA0jEbTfYcqavCsBqkoT0yf3Rxe395vhrdifWAgn34VQhN0XoNw2/xEGKXSD6rb4cixT2triM9RxQaOcP8mCspyl8SVs/HILgEgGcc4nHYNh5uYb1ATqbpEIph94mr8Hg7bYHjmRS7X6CBpS24IGCiPgelkjpp5Xu0KUZBYS0uXJPu4XTz\u002BJkF[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-a0d59256-cf04-2ef0-117b-92c39c5ff361/test-blob-32f1f71c-cdfc-547c-97cc-c6470cd369ee?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "vyqofnxopscqqndffvoe",
        "x-ms-blob-content-disposition": "abqvmscictuhjeosikci",
        "x-ms-blob-content-encoding": "fywetpjutohcexqtitbl",
        "x-ms-blob-content-language": "lpmuwtglxjwttgyaelcv",
        "x-ms-blob-content-md5": "V8tA5LlpoT\u002BX52yCWAaKqQ==",
        "x-ms-blob-content-type": "ihomlsdlmtknjpvpmcgy",
        "x-ms-date": "Sat, 25 Apr 2020 01:09:07 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B54142C42D\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:09:07 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-a0d59256-cf04-2ef0-117b-92c39c5ff361/test-blob-32f1f71c-cdfc-547c-97cc-c6470cd369ee",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:09:07 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "abqvmscictuhjeosikci",
        "Content-Language": "lpmuwtglxjwttgyaelcv",
        "Content-MD5": "V8tA5LlpoT\u002BX52yCWAaKqQ==",
        "Content-Type": "ihomlsdlmtknjpvpmcgy",
        "ETag": "\u00220x8D7E8B54142C42D\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:09:07 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 25 Apr 2020 01:09:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-a0d59256-cf04-2ef0-117b-92c39c5ff361?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:09:07 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-24T18:09:07.5970818-07:00",
    "RandomSeed": "896626173",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttp://amandacanary.blob.core.windows.net\nhttp://amandacanary.file.core.windows.net\nhttp://amandacanary.queue.core.windows.net\nhttp://amandacanary.table.core.windows.net\n\n\n\n\nhttp://amandacanary-secondary.blob.core.windows.net\nhttp://amandacanary-secondary.file.core.windows.net\nhttp://amandacanary-secondary.queue.core.windows.net\nhttp://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandacanary.blob.core.windows.net/;QueueEndpoint=http://amandacanary.queue.core.windows.net/;FileEndpoint=http://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Sanitized\n\nDefaultEndpointsProtocol=https;AccountName=ortestsaccountcbn1;AccountKey=OrRfzSm3ktQSklAGiL90/QusS7SdS6Y5S/AJoxZEeyKYDtnue7OKYIMLOraTnT4xcOyhYbqzWVmtTKappcc5Fg==;EndpointSuffix=core.windows.net\nDefaultEndpointsProtocol=https;AccountName=vbalaorcentral1;AccountKey=vlHMz/LZ3Sx7r/1bdTQT26pG0tqORQ4uTIcxGhHB0LQhIhqGxfv2TXV7u\u002BI2ra4UWXrWGGHG2N6l\u002BBfb5FgAcQ==;EndpointSuffix=core.windows.net"
  }
}