{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-f6872db9-3061-c179-cd62-897c45b42d92?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:32 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75FEE813310\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:45:31 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-f6872db9-3061-c179-cd62-897c45b42d92/test-blob-23f32753-8c40-b539-c643-835ce968d810",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:32 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "PwdZTNT96b0ffHtLjlV90onwvMDJ/0CVvyppZm3kWCy\u002BZNG/Ri6BVj42A8MR7SZwxbDS\u002BKsXRz/GxIyqk4JPOiROjSqEvoxbb2aCk/x9hNED\u002BaC8EmCAph2S\u002BIKh18K75smfwmD87AckdolElbNDSUC6ppnikijEzucM8cUJuZejxq0z3cFxBw2YmJvWOxBpT69B5zAo2VOg2/R57/pBGr3xoc8GEGx\u002BSZ6MSfqM7ZLWo6IWyNJmeu1ZkgHN\u002BBgSV33e5JpBYj9Dw52SnI9YE\u002B5ioktXK1LqiibirH1rsVCFefJ8rgn3lUBj0gU01N5dAX4Sa1XMu[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-f6872db9-3061-c179-cd62-897c45b42d92/test-blob-23f32753-8c40-b539-c643-835ce968d810?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:32 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75FEE9AE753\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:45:32 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-6a67bd2f-6a36-a4c5-0345-5cfa38e4d100/test-blob-cbe209ff-c3c9-8224-13aa-3e381fef7b3f?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 01 Apr 2020 23:45:32 GMT",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:33 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75FEEF68563\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:45:32 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-784a8120-64a5-e71e-8dc8-ff8fd1d3e77d/test-blob-94875b6e-052a-a29f-fddf-43e8d0c24284?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 03 Apr 2020 23:45:32 GMT",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:34 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75FEF4CA43D\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:45:33 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-46dd655d-e948-988f-6221-20fb4d3de811/test-blob-8aefd3d1-f178-f700-3ece-6e7e8178b823",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:34 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "w\u002BaPm5YNFRbxmOdPeVeDnQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D75FEF96B2F3\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:45:33 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Apr 2020 23:45:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-46dd655d-e948-988f-6221-20fb4d3de811/test-blob-8aefd3d1-f178-f700-3ece-6e7e8178b823?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D7D75FEF96B2F3\u0022",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:34 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75FEFAF6F91\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:45:33 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-76c733e1-3a07-4339-68dd-823ae350ca9e/test-blob-e0b458c3-f380-d182-bc54-02cce696e6be?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:35 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75FF005B57A\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:45:34 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-a5e8801c-b873-2e6b-b32b-2b564a6fa965/test-blob-bdc315a8-d39d-07fe-b37d-43f266e5aa13?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:35 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "32eb5db2-0742-38bc-07bd-37b21fb4ac83",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75FF05087A4\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:45:34 GMT",
        "x-ms-lease-id": "32eb5db2-0742-38bc-07bd-37b21fb4ac83",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-a5e8801c-b873-2e6b-b32b-2b564a6fa965?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:36 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-02T16:45:32.5621392-07:00",
    "RandomSeed": "1149200835",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}