{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-a0d59256-cf04-2ef0-117b-92c39c5ff361?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 03:45:51 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEC9E3E9426\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:45:51 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-a0d59256-cf04-2ef0-117b-92c39c5ff361/test-blob-32f1f71c-cdfc-547c-97cc-c6470cd369ee",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 11 Dec 2019 03:45:51 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "QhXdDPRgAN48TdTQDEzyadWUAMwxB4AYExb6lWFxwMtVBmsBkts6vPcT9a/4rEdL2V1xd9KcvDqUxfneZmt9y4wJegXh8db5WUTVHhHRH2bOr7sD/0n4uEowbM3iXFaMlioi7zFBaeeGeB6Ox50pwqWSELavecxDEMK7sYUJF/3uSIjmrzA0jEbTfYcqavCsBqkoT0yf3Rxe395vhrdifWAgn34VQhN0XoNw2/xEGKXSD6rb4cixT2triM9RxQaOcP8mCspyl8SVs/HILgEgGcc4nHYNh5uYb1ATqbpEIph94mr8Hg7bYHjmRS7X6CBpS24IGCiPgelkjpp5Xu0KUZBYS0uXJPu4XTz\u002BJkF[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-a0d59256-cf04-2ef0-117b-92c39c5ff361/test-blob-32f1f71c-cdfc-547c-97cc-c6470cd369ee?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "vyqofnxopscqqndffvoe",
        "x-ms-blob-content-disposition": "abqvmscictuhjeosikci",
        "x-ms-blob-content-encoding": "fywetpjutohcexqtitbl",
        "x-ms-blob-content-language": "lpmuwtglxjwttgyaelcv",
        "x-ms-blob-content-md5": "V8tA5LlpoT\u002BX52yCWAaKqQ==",
        "x-ms-blob-content-type": "ihomlsdlmtknjpvpmcgy",
        "x-ms-date": "Wed, 11 Dec 2019 03:45:51 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEC9E5EBE31\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:45:51 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-a0d59256-cf04-2ef0-117b-92c39c5ff361/test-blob-32f1f71c-cdfc-547c-97cc-c6470cd369ee",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:45:51 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "abqvmscictuhjeosikci",
        "Content-Language": "lpmuwtglxjwttgyaelcv",
        "Content-MD5": "V8tA5LlpoT\u002BX52yCWAaKqQ==",
        "Content-Type": "ihomlsdlmtknjpvpmcgy",
        "ETag": "\u00220x8D77DEC9E5EBE31\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:45:51 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 11 Dec 2019 03:45:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-a0d59256-cf04-2ef0-117b-92c39c5ff361?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:45:52 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-12-10T19:45:51.6751003-08:00",
    "RandomSeed": "896626173",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}