{
  "Entries": [
    {
      "RequestUri": "https://1ycxscnapbl2prdev19a.blob.preprod.core.windows.net/test-container-db930a32-2c5e-c2e8-6bb3-38eefc28113f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 06 Aug 2021 15:44:03 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D958F105200EBD\u0022",
        "Last-Modified": "Fri, 06 Aug 2021 15:44:04 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://1ycxscnapbl2prdev19a.blob.preprod.core.windows.net/test-container-db930a32-2c5e-c2e8-6bb3-38eefc28113f/test-blob-3b2573cd-103f-3467-124d-85c4e6a5cdc5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 06 Aug 2021 15:44:04 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "yLmq9eoEbBllIFiggtV/xsG0dYKBsD8zoAj7hhSbWcCktloM5OOmyQcL1R64xrI8zb4DMS9LRBd5d1XiCOYFysaX/Mt7c\u002BHdDqx7ddsgetlVvrhWlyeRWXJCkm2NxMAhBgtXIMnnwFrcJSOCz848WPx7jEktrjKfBqNZOeB0UErrWm7PyVoQbv5eeXIEDomjBjlxETd281fZuBkmjYd5aNXYlnVfbI\u002Bhax1LzjW/mvgZtjOmAj4SdWYW9hBA6eF35RCcK3cTQ5mq0KYZKiUiGR0hDddU0maXxiEPSHZ/YYI81OkkI2\u002BBBnKa/DKY\u002BUpB9NzyH9wJIxKqBWVWA/oiKm4j[...]
    {
      "RequestUri": "https://1ycxscnapbl2prdev19a.blob.preprod.core.windows.net/test-container-db930a32-2c5e-c2e8-6bb3-38eefc28113f/test-blob-3b2573cd-103f-3467-124d-85c4e6a5cdc5?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "floguokwirquscdcsyof",
        "x-ms-blob-content-disposition": "pqbdvxflyhepkrqhirbh",
        "x-ms-blob-content-encoding": "khtmwpjnhaxmdqeokljv",
        "x-ms-blob-content-language": "jywbnajalusaxhuiwnfg",
        "x-ms-blob-content-md5": "WL5B0TZHe2CnUtalzVw7Rg==",
        "x-ms-blob-content-type": "nqexiqmsmbwwhfxkkryw",
        "x-ms-date": "Fri, 06 Aug 2021 15:44:04 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D958F105768290\u0022",
        "Last-Modified": "Fri, 06 Aug 2021 15:44:05 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://1ycxscnapbl2prdev19a.blob.preprod.core.windows.net/test-container-db930a32-2c5e-c2e8-6bb3-38eefc28113f/test-blob-3b2573cd-103f-3467-124d-85c4e6a5cdc5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Aug 2021 15:44:04 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "pqbdvxflyhepkrqhirbh",
        "Content-Language": "jywbnajalusaxhuiwnfg",
        "Content-MD5": "WL5B0TZHe2CnUtalzVw7Rg==",
        "Content-Type": "nqexiqmsmbwwhfxkkryw",
        "ETag": "\u00220x8D958F105768290\u0022",
        "Last-Modified": "Fri, 06 Aug 2021 15:44:05 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 06 Aug 2021 15:44:05 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://1ycxscnapbl2prdev19a.blob.preprod.core.windows.net/test-container-db930a32-2c5e-c2e8-6bb3-38eefc28113f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Aug 2021 15:44:04 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-08-06T10:44:03.3740501-05:00",
    "RandomSeed": "698714960",
    "Storage_TestConfigDefault": "ProductionTenant\n1ycxscnapbl2prdev19a\nU2FuaXRpemVk\nhttps://1ycxscnapbl2prdev19a.blob.preprod.core.windows.net\nhttps://1ycxscnapbl2prdev19a.file.core.windows.net\nhttps://1ycxscnapbl2prdev19a.queue.core.windows.net\nhttps://1ycxscnapbl2prdev19a.table.core.windows.net\n\n\n\n\nhttps://1ycxscnapbl2prdev19a-secondary.blob.core.windows.net\nhttps://1ycxscnapbl2prdev19a-secondary.file.core.windows.net\nhttps://1ycxscnapbl2prdev19a-secondary.queue.core.windows.net\nhttps://1ycxscnapbl2prdev19a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://1ycxscnapbl2prdev19a.blob.preprod.core.windows.net/;QueueEndpoint=https://1ycxscnapbl2prdev19a.queue.core.windows.net/;FileEndpoint=https://1ycxscnapbl2prdev19a.file.core.windows.net/;BlobSecondaryEndpoint=https://1ycxscnapbl2prdev19a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://1ycxscnapbl2prdev19a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://1ycxscnapbl2prdev19a-secondary.file.core.windows.net/;AccountName=1ycxscnapbl2prdev19a;AccountKey=Kg==;\nscope-1\n\n"
  }
}