{
  "Entries": [
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-77c7359b-f722-a0a7-2bea-a4907bec299f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 18 Feb 2021 19:35:05 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D4444B78C668\u0022",
        "Last-Modified": "Thu, 18 Feb 2021 19:35:06 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-77c7359b-f722-a0a7-2bea-a4907bec299f/test-blob-3da7eb6e-dccf-6bdf-7a12-9c4e5580efd8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 18 Feb 2021 19:35:06 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "zP/ZWMGvdIcH9R5bs6Y0X0xJucWr4NXbQr/\u002BGEnYbkSxokeBoS\u002BXvncfNtm9hLjT3j0BDMcpLewq/hUCsFs\u002BL4faqhFesr4csfpOi6r7Hb4HKzoL1mF9h3VbV6IalQ0b4QZS49mmdSt/5VvM26FBLuFW\u002B4UhMlklXSOcA1obAhvtM6qjqTrkYLUOjPEGsKzTGijBw5qH\u002Ba6tLIW2CnLQY\u002BI/36j2nYWmcprQE6ZnH6x2yOgyWT\u002BAZTn89n20LlZDPSgOxtEE3HyjGlEAt\u002BYHRQzZP0GJngqjv3lu\u002BqcI8kNDjNV\u002BWVnbcutsjj[...]
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-77c7359b-f722-a0a7-2bea-a4907bec299f/test-blob-3da7eb6e-dccf-6bdf-7a12-9c4e5580efd8?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-encoding": "deflate,gzip",
        "x-ms-blob-content-language": "de-DE,en-CA",
        "x-ms-date": "Thu, 18 Feb 2021 19:35:06 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D4444B9FC51F\u0022",
        "Last-Modified": "Thu, 18 Feb 2021 19:35:06 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-77c7359b-f722-a0a7-2bea-a4907bec299f/test-blob-3da7eb6e-dccf-6bdf-7a12-9c4e5580efd8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 18 Feb 2021 19:35:06 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Language": [
          "de-DE",
          "en-CA"
        ],
        "ETag": "\u00220x8D8D4444B9FC51F\u0022",
        "Last-Modified": "Thu, 18 Feb 2021 19:35:06 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 18 Feb 2021 19:35:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-77c7359b-f722-a0a7-2bea-a4907bec299f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 18 Feb 2021 19:35:06 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-18T11:35:05.5809884-08:00",
    "RandomSeed": "206241019",
    "Storage_TestConfigDefault": "ProductionTenant\nkasoboltest\nU2FuaXRpemVk\nhttps://kasoboltest.blob.core.windows.net\nhttps://kasoboltest.file.core.windows.net\nhttps://kasoboltest.queue.core.windows.net\nhttps://kasoboltest.table.core.windows.net\n\n\n\n\nhttps://kasoboltest-secondary.blob.core.windows.net\nhttps://kasoboltest-secondary.file.core.windows.net\nhttps://kasoboltest-secondary.queue.core.windows.net\nhttps://kasoboltest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://kasoboltest.blob.core.windows.net/;QueueEndpoint=https://kasoboltest.queue.core.windows.net/;FileEndpoint=https://kasoboltest.file.core.windows.net/;BlobSecondaryEndpoint=https://kasoboltest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://kasoboltest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://kasoboltest-secondary.file.core.windows.net/;AccountName=kasoboltest;AccountKey=Kg==;\nencryptionScope"
  }
}