{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5078140e-9219-2acd-a711-6a1baee8de86?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:53 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D37488B5B68C\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:47:53 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5078140e-9219-2acd-a711-6a1baee8de86/test-blob-5e9fc0e9-211f-0cb6-f660-50fea17465de",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:53 GMT"
      },
      "RequestBody": "7bq0WvzytLxbzZ3IOQRCOXhYbwQpxZBEnd70cTKMUbVc6iwbEkic9gziA1GE7dPyHheFSQVgtScqb7wd/kKKznzna07XJyYwvHn4RsI\u002BwLALAVMaBwiw/DUF8KKMfvfKWDTVnIKFGvbwVYyLaG9k7K8MEvzvcMdzN28Z0jaEoz6BLu2NaCQthedcKbF7JJTGoATzf2v72uhtYWQTa0jAbLFOCTqB1oOK3owVkkYV\u002BBLbUzIykSPShlMFIAa/GhqfnL3/LBtZRMqAaKHe5UihV2lSOBgVjtuNfIPne7Z9ysRydvaJFsz3gQ5nsSiC9KELZMidbeIBiQ7icbCYcskUA53da25RGEGdW7cKrtyyC4fh2xbu313hce3opqUbXw5EU62KpYgy[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5078140e-9219-2acd-a711-6a1baee8de86/test-blob-5e9fc0e9-211f-0cb6-f660-50fea17465de?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:53 GMT"
      },
      "RequestBody": "\uFEFF\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EcoolTag\u003C/Key\u003E\u003CValue\u003Etrue\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E",
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5078140e-9219-2acd-a711-6a1baee8de86/test-blob-5e9fc0e9-211f-0cb6-f660-50fea17465de?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-encoding": "deflate, gzip",
        "x-ms-blob-content-language": "de-DE, en-CA",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:53 GMT",
        "x-ms-if-tags": "\u0022coolTag\u0022 = \u0027true\u0027"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D37488D21569\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:47:53 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5078140e-9219-2acd-a711-6a1baee8de86?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:47:53 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1217853595",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}