{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-40f3727f-02ee-915a-fad6-65b8d1151d8f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 03:45:56 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DECA0EF8428\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:45:56 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-40f3727f-02ee-915a-fad6-65b8d1151d8f/test-blob-4a46a7e4-e092-ed7d-ba3f-151b8d86d41e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 11 Dec 2019 03:45:56 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "57jrdt5Eep0VjduVj27AJiQi7xWVpBrs3Uke1SictiX95GE7GDhzny2pNQUF6F5Lfu/2ape\u002BiEOd/5iVJqV0eNa1l6oNhQ3rr0/o7G8V5vXq01Y5pUuNP1wenhmf3nmHNLwuUFCzPfniCrtI1pvUhxijqlNOO9OLJ1hO7ufzTNDWYLey55akN5VdV5uQRWjAShYB/DQmOPnpoij3ZU4R7r7rcXXjIaCC/nK98eQ4\u002B\u002BHvjaTR8k\u002BbsCi\u002ByURurNJGTGjcpdPz3Ch2f/3CaEcUsadGB9eqQPtuT8FNJVdbFFGgd6V7W1YO/LB7WnNS2UfgqRicJ6T6nAxsbVURpbf[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-40f3727f-02ee-915a-fad6-65b8d1151d8f/test-blob-4a46a7e4-e092-ed7d-ba3f-151b8d86d41e?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-encoding": "deflate, gzip",
        "x-ms-blob-content-language": "de-DE, en-CA",
        "x-ms-date": "Wed, 11 Dec 2019 03:45:56 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DECA10882E5\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:45:56 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-40f3727f-02ee-915a-fad6-65b8d1151d8f/test-blob-4a46a7e4-e092-ed7d-ba3f-151b8d86d41e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:45:56 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Language": [
          "de-DE",
          "en-CA"
        ],
        "ETag": "\u00220x8D77DECA10882E5\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:45:56 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 11 Dec 2019 03:45:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-40f3727f-02ee-915a-fad6-65b8d1151d8f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:45:56 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-12-10T19:45:56.1891450-08:00",
    "RandomSeed": "1832692134",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}