{
  "Entries": [
    {
      "RequestUri": "https://1ycxscnapbl2prdev19a.blob.preprod.core.windows.net/test-container-4aef58d5-3f1d-9a2f-2d9b-ebaf5e2abb93?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 06 Aug 2021 15:44:16 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D958F10C6DBFB2\u0022",
        "Last-Modified": "Fri, 06 Aug 2021 15:44:16 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://1ycxscnapbl2prdev19a.blob.preprod.core.windows.net/test-container-4aef58d5-3f1d-9a2f-2d9b-ebaf5e2abb93/test-blob-6f068111-221f-dc83-3a7d-a429e97eecd3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 06 Aug 2021 15:44:16 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "QoTlGdXAIM17SeyjeEitAwwfny1T6UenwXjA9cNPlLJarJNAvc5gUGE589U14GPyz6Edyt\u002B\u002Bf1k9PlddACoJLLU5SMy1bEY9vk/MGvVxceEUziUhMcnTmyw5A352A082L8cg\u002B5eXPWNb4AuP8mVjzMx2SDEE6PrrZayfe2jHxrv/lesuUHZJfZHBxlG9RKnH1TayALoeMUbMNJXr98H6lBlQkF16NXtWLMqgQyKoLSED16UyFMYA4WSkYRzgXoXPxjE4bbNMTZ\u002B6XNPwfe4kIwZ06B8byH9SUK741dNfds5E0HzwcMBtt4oFd7jyD2N2fz4Va3Zms/6y5RwEU3fMW\u0[...]
    {
      "RequestUri": "https://1ycxscnapbl2prdev19a.blob.preprod.core.windows.net/test-container-4aef58d5-3f1d-9a2f-2d9b-ebaf5e2abb93/test-blob-6f068111-221f-dc83-3a7d-a429e97eecd3?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-encoding": "deflate,gzip",
        "x-ms-blob-content-language": "de-DE,en-CA",
        "x-ms-date": "Fri, 06 Aug 2021 15:44:16 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D958F10C8A292E\u0022",
        "Last-Modified": "Fri, 06 Aug 2021 15:44:17 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://1ycxscnapbl2prdev19a.blob.preprod.core.windows.net/test-container-4aef58d5-3f1d-9a2f-2d9b-ebaf5e2abb93/test-blob-6f068111-221f-dc83-3a7d-a429e97eecd3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Aug 2021 15:44:16 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Language": [
          "de-DE",
          "en-CA"
        ],
        "ETag": "\u00220x8D958F10C8A292E\u0022",
        "Last-Modified": "Fri, 06 Aug 2021 15:44:17 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 06 Aug 2021 15:44:16 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://1ycxscnapbl2prdev19a.blob.preprod.core.windows.net/test-container-4aef58d5-3f1d-9a2f-2d9b-ebaf5e2abb93?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Aug 2021 15:44:16 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-08-06T10:44:16.3589550-05:00",
    "RandomSeed": "1979254830",
    "Storage_TestConfigDefault": "ProductionTenant\n1ycxscnapbl2prdev19a\nU2FuaXRpemVk\nhttps://1ycxscnapbl2prdev19a.blob.preprod.core.windows.net\nhttps://1ycxscnapbl2prdev19a.file.core.windows.net\nhttps://1ycxscnapbl2prdev19a.queue.core.windows.net\nhttps://1ycxscnapbl2prdev19a.table.core.windows.net\n\n\n\n\nhttps://1ycxscnapbl2prdev19a-secondary.blob.core.windows.net\nhttps://1ycxscnapbl2prdev19a-secondary.file.core.windows.net\nhttps://1ycxscnapbl2prdev19a-secondary.queue.core.windows.net\nhttps://1ycxscnapbl2prdev19a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://1ycxscnapbl2prdev19a.blob.preprod.core.windows.net/;QueueEndpoint=https://1ycxscnapbl2prdev19a.queue.core.windows.net/;FileEndpoint=https://1ycxscnapbl2prdev19a.file.core.windows.net/;BlobSecondaryEndpoint=https://1ycxscnapbl2prdev19a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://1ycxscnapbl2prdev19a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://1ycxscnapbl2prdev19a-secondary.file.core.windows.net/;AccountName=1ycxscnapbl2prdev19a;AccountKey=Kg==;\nscope-1\n\n"
  }
}