{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-54894d70-e399-50f1-24a4-d68b6e77a880?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 01 Jul 2019 21:54:18 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6EAB199697\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:54:18 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-54894d70-e399-50f1-24a4-d68b6e77a880/test-blob-0af9d734-6ac9-0a65-edce-9fc6da4d3d5e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 01 Jul 2019 21:54:19 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "xKNADloDM8lQnDMf7TP6DcjOVpZ9nbdRTDBF8wc3EtM9lvmy182sMaMwui02Rhy605H9C/em4Sfs78IqvT/BGIlg4lY5SDb7IiXyTeKKGgYTih92OQfblrXSxugKgXNkb6Gj1WTFgItbAunRs5REYdS7FzMfS9\u002bBhEuhZ4JO8KCxjt5A5kWiTQqUGzYdCeMhjWQTT2pARCPCIlAYJBkJDBJIICS2BHqPGckoizCoZHpnf9kdOqA2cUq6fsT0iSnwig4k1em\u002ba4nphDWgF7jzGr7VsaRA7NFxEq7a\u002b4W2mpCgOAEhhI6QqRRQM7VrlVqRxmMGHteFsJ48ssM75G8DM\u002bqk[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-54894d70-e399-50f1-24a4-d68b6e77a880/test-blob-0af9d734-6ac9-0a65-edce-9fc6da4d3d5e?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 02 Jul 2019 21:54:18 GMT",
        "x-ms-date": "Mon, 01 Jul 2019 21:54:19 GMT",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:844e6548-101e-003d-2057-303b15000000\n",
        "Time:2019-07-01T21:54:19.0252718Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-f1c72fb3-b7d5-4522-279d-2c6740eee467/test-blob-c47e7a95-e41d-da88-a7fe-e551c06fe3e1?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sun, 30 Jun 2019 21:54:18 GMT",
        "x-ms-date": "Mon, 01 Jul 2019 21:54:19 GMT",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:844e6565-101e-003d-3a57-303b15000000\n",
        "Time:2019-07-01T21:54:19.0843279Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-4bc0dd44-df9b-5632-6715-3606fadc3965/test-blob-7f770d92-419d-73f1-a12b-fc3fac1b9f92?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-date": "Mon, 01 Jul 2019 21:54:19 GMT",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:844e6572-101e-003d-4657-303b15000000\n",
        "Time:2019-07-01T21:54:19.1433840Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-bfd6f395-320b-43fe-83b4-63a1d2bb62d1/test-blob-a441b985-b6e9-5c1a-c57d-91e0700504b2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:54:19 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "cRM9pd5brB4h3VdLBkpDSw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D6FE6EAB36AC27\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:54:19 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 01 Jul 2019 21:54:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-bfd6f395-320b-43fe-83b4-63a1d2bb62d1/test-blob-a441b985-b6e9-5c1a-c57d-91e0700504b2?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u00220x8D6FE6EAB36AC27\u0022",
        "x-ms-date": "Mon, 01 Jul 2019 21:54:19 GMT",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:844e658a-101e-003d-5857-303b15000000\n",
        "Time:2019-07-01T21:54:19.2144516Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-d5456a98-503f-8463-c1ed-66fba24fa2f3/test-blob-45dc6171-247f-cbdb-3e71-8ac58a7cb05f?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:54:19 GMT",
        "x-ms-lease-id": "c31fdeee-b06a-abd9-d66c-24fbc09535f5",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eLeaseNotPresentWithBlobOperation\u003c/Code\u003e\u003cMessage\u003eThere is currently no lease on the blob.\n",
        "RequestId:844e659a-101e-003d-6457-303b15000000\n",
        "Time:2019-07-01T21:54:19.2735077Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-d5456a98-503f-8463-c1ed-66fba24fa2f3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:54:19 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-07-01T14:54:18.9959278-07:00",
    "RandomSeed": "697146642"
  }
}