{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-78c4b773-0d8f-0288-4f27-297f98743724?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:43:04 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75F967B6E90\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:43:04 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-78c4b773-0d8f-0288-4f27-297f98743724/test-blob-331364a4-f3aa-c72d-21fd-e1a1b790ffbe",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:43:05 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "amUZdG2owlxi4spiMFK4e6QtVJ59ihlx9j9tZIYxIUgKvNipAdS6\u002B6G20McpypbORWb9ijxgQOBLqH4tO17VMMGCWHR5DnrPclj9xrlSSCuonx4gNJYLqXv4XVlVjcBC4aAGp3EiVDbsLhfjY3om\u002BV9ShJxAtfwqdq/4gbEheeWYuuUZS6C6hkvnMwV/KEYB0mP5AwkjAiuk3DHCKdOFyrQySqmUDa6/mP1RWIH2q01p9q5NJ3bbdLe6dW9v\u002BFx4YWhRTN2dbcS1OWsL0qqprTDjWTIkOKM\u002BVtbx2Zg\u002BUKCh2fYZpV5wzInql\u002B4L0KENEcc\u002Bi58pU[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-78c4b773-0d8f-0288-4f27-297f98743724/test-blob-331364a4-f3aa-c72d-21fd-e1a1b790ffbe?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:43:05 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75F9696A5F7\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:43:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-e4230db0-2802-41e5-6552-26ea8aa0b752/test-blob-18b2223a-90f4-6781-9b67-568eca963615?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 01 Apr 2020 23:43:04 GMT",
        "x-ms-date": "Thu, 02 Apr 2020 23:43:05 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75F96ED3A37\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:43:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-0452879c-86e4-469a-1d77-b47facce32d6/test-blob-542544b7-42bd-b4c4-aa0f-2a2bc1bfa34a?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 03 Apr 2020 23:43:04 GMT",
        "x-ms-date": "Thu, 02 Apr 2020 23:43:06 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75F97477897\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:43:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-293a8f71-6cd5-2a34-dad2-9093ecd5e026/test-blob-98a4c86f-171f-906d-5ec2-1d0375271b77",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:43:07 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ZON/f1N/Ec881QxI2B2HIw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D75F97957FC8\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:43:06 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Apr 2020 23:43:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-293a8f71-6cd5-2a34-dad2-9093ecd5e026/test-blob-98a4c86f-171f-906d-5ec2-1d0375271b77?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D7D75F97957FC8\u0022",
        "x-ms-date": "Thu, 02 Apr 2020 23:43:07 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75F97AF7529\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:43:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-21cd92ac-a63f-e315-55ce-99dace78d662/test-blob-e1449082-88c4-3448-7cf6-38dbce26b5a2?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Thu, 02 Apr 2020 23:43:07 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75F9806576F\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:43:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-5d5eea1e-aab9-c296-dc49-656a9ead8723/test-blob-3600c245-4e48-7d20-e977-3f368605868d?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:43:08 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "f2de252d-3b92-3212-328c-9d4ebfee2198",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75F98548599\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:43:07 GMT",
        "x-ms-lease-id": "f2de252d-3b92-3212-328c-9d4ebfee2198",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-5d5eea1e-aab9-c296-dc49-656a9ead8723?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:43:08 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-02T16:43:04.8643442-07:00",
    "RandomSeed": "1063837636",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}