{
  "Entries": [
    {
      "RequestUri": "http://amandadev2.blob.core.windows.net/test-container-78c4b773-0d8f-0288-4f27-297f98743724?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 15 Oct 2019 23:40:14 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D751C906EA96C4\u0022",
        "Last-Modified": "Tue, 15 Oct 2019 23:40:14 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandadev2.blob.core.windows.net/test-container-78c4b773-0d8f-0288-4f27-297f98743724/test-blob-331364a4-f3aa-c72d-21fd-e1a1b790ffbe",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 15 Oct 2019 23:40:14 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "amUZdG2owlxi4spiMFK4e6QtVJ59ihlx9j9tZIYxIUgKvNipAdS6\u002B6G20McpypbORWb9ijxgQOBLqH4tO17VMMGCWHR5DnrPclj9xrlSSCuonx4gNJYLqXv4XVlVjcBC4aAGp3EiVDbsLhfjY3om\u002BV9ShJxAtfwqdq/4gbEheeWYuuUZS6C6hkvnMwV/KEYB0mP5AwkjAiuk3DHCKdOFyrQySqmUDa6/mP1RWIH2q01p9q5NJ3bbdLe6dW9v\u002BFx4YWhRTN2dbcS1OWsL0qqprTDjWTIkOKM\u002BVtbx2Zg\u002BUKCh2fYZpV5wzInql\u002B4L0KENEcc\u002Bi58pU[...]
    {
      "RequestUri": "http://amandadev2.blob.core.windows.net/test-container-78c4b773-0d8f-0288-4f27-297f98743724/test-blob-331364a4-f3aa-c72d-21fd-e1a1b790ffbe?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Oct 2019 23:40:14 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D751C906FCAEC4\u0022",
        "Last-Modified": "Tue, 15 Oct 2019 23:40:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandadev2.blob.core.windows.net/test-container-e4230db0-2802-41e5-6552-26ea8aa0b752/test-blob-18b2223a-90f4-6781-9b67-568eca963615?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Mon, 14 Oct 2019 23:40:14 GMT",
        "x-ms-date": "Tue, 15 Oct 2019 23:40:14 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D751C9071B86FF\u0022",
        "Last-Modified": "Tue, 15 Oct 2019 23:40:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandadev2.blob.core.windows.net/test-container-0452879c-86e4-469a-1d77-b47facce32d6/test-blob-542544b7-42bd-b4c4-aa0f-2a2bc1bfa34a?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Wed, 16 Oct 2019 23:40:14 GMT",
        "x-ms-date": "Tue, 15 Oct 2019 23:40:14 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D751C907399BB9\u0022",
        "Last-Modified": "Tue, 15 Oct 2019 23:40:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandadev2.blob.core.windows.net/test-container-293a8f71-6cd5-2a34-dad2-9093ecd5e026/test-blob-98a4c86f-171f-906d-5ec2-1d0375271b77",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Oct 2019 23:40:14 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ZON/f1N/Ec881QxI2B2HIw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D751C907505C21\u0022",
        "Last-Modified": "Tue, 15 Oct 2019 23:40:14 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 15 Oct 2019 23:40:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandadev2.blob.core.windows.net/test-container-293a8f71-6cd5-2a34-dad2-9093ecd5e026/test-blob-98a4c86f-171f-906d-5ec2-1d0375271b77?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D751C907505C21\u0022",
        "x-ms-date": "Tue, 15 Oct 2019 23:40:14 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D751C9075EDDB4\u0022",
        "Last-Modified": "Tue, 15 Oct 2019 23:40:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandadev2.blob.core.windows.net/test-container-21cd92ac-a63f-e315-55ce-99dace78d662/test-blob-e1449082-88c4-3448-7cf6-38dbce26b5a2?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Tue, 15 Oct 2019 23:40:15 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D751C9077E2B27\u0022",
        "Last-Modified": "Tue, 15 Oct 2019 23:40:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandadev2.blob.core.windows.net/test-container-5d5eea1e-aab9-c296-dc49-656a9ead8723/test-blob-3600c245-4e48-7d20-e977-3f368605868d?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Oct 2019 23:40:15 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "f2de252d-3b92-3212-328c-9d4ebfee2198",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D751C90794EB93\u0022",
        "Last-Modified": "Tue, 15 Oct 2019 23:40:15 GMT",
        "x-ms-lease-id": "f2de252d-3b92-3212-328c-9d4ebfee2198",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandadev2.blob.core.windows.net/test-container-5d5eea1e-aab9-c296-dc49-656a9ead8723?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Oct 2019 23:40:15 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-10-15T16:40:14.2321695-07:00",
    "RandomSeed": "1063837636",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttp://amandadev2.blob.core.windows.net\nhttp://amandadev2.file.core.windows.net\nhttp://amandadev2.queue.core.windows.net\nhttp://amandadev2.table.core.windows.net\n\n\n\n\nhttp://amandadev2-secondary.blob.core.windows.net\nhttp://amandadev2-secondary.file.core.windows.net\nhttp://amandadev2-secondary.queue.core.windows.net\nhttp://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandadev2.blob.core.windows.net/;QueueEndpoint=http://amandadev2.queue.core.windows.net/;TableEndpoint=http://amandadev2.table.core.windows.net/;FileEndpoint=http://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=http://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandadev2-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://amandadev2-secondary.table.core.windows.net/;FileSecondaryEndpoint=http://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized"
  }
}