{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-b6d653e5-b90c-ffb2-680b-695def3d99a9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:43:11 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75F9A6F6103\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:43:10 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-b6d653e5-b90c-ffb2-680b-695def3d99a9/test-blob-f0ebf5ce-2642-0dee-896a-ec6e9449a831",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:43:11 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "YDGC3/1aNv9cxUT4DfqtmssBmmFLuvW0IDO2CS6wZh4=",
        "x-ms-encryption-key-sha256": "4kfQ04ObOFqLmnPYGky5H9jZ5zpj8GXlr9xlqCYNE2M=",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75F9A7C0F26\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:43:10 GMT",
        "x-ms-encryption-key-sha256": "4kfQ04ObOFqLmnPYGky5H9jZ5zpj8GXlr9xlqCYNE2M=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-b6d653e5-b90c-ffb2-680b-695def3d99a9/test-blob-f0ebf5ce-2642-0dee-896a-ec6e9449a831?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:43:11 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "YDGC3/1aNv9cxUT4DfqtmssBmmFLuvW0IDO2CS6wZh4=",
        "x-ms-encryption-key-sha256": "4kfQ04ObOFqLmnPYGky5H9jZ5zpj8GXlr9xlqCYNE2M=",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75F9A88948E\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:43:11 GMT",
        "x-ms-encryption-key-sha256": "4kfQ04ObOFqLmnPYGky5H9jZ5zpj8GXlr9xlqCYNE2M=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-b6d653e5-b90c-ffb2-680b-695def3d99a9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:43:12 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1261838684",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}