{
  "Entries": [
    {
      "RequestUri": "https://camaiaor.blob.core.windows.net/test-container-b6d653e5-b90c-ffb2-680b-695def3d99a9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 15 Oct 2021 20:33:10 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9901B01BC4B01\u0022",
        "Last-Modified": "Fri, 15 Oct 2021 20:33:11 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor.blob.core.windows.net/test-container-b6d653e5-b90c-ffb2-680b-695def3d99a9/test-blob-f0ebf5ce-2642-0dee-896a-ec6e9449a831",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 15 Oct 2021 20:33:11 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "4kfQ04ObOFqLmnPYGky5H9jZ5zpj8GXlr9xlqCYNE2M=",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9901B01D32452\u0022",
        "Last-Modified": "Fri, 15 Oct 2021 20:33:11 GMT",
        "x-ms-encryption-key-sha256": "4kfQ04ObOFqLmnPYGky5H9jZ5zpj8GXlr9xlqCYNE2M=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-15T20:33:11.8767186Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor.blob.core.windows.net/test-container-b6d653e5-b90c-ffb2-680b-695def3d99a9/test-blob-f0ebf5ce-2642-0dee-896a-ec6e9449a831?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 15 Oct 2021 20:33:11 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "4kfQ04ObOFqLmnPYGky5H9jZ5zpj8GXlr9xlqCYNE2M=",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9901B01E5D3ED\u0022",
        "Last-Modified": "Fri, 15 Oct 2021 20:33:11 GMT",
        "x-ms-encryption-key-sha256": "4kfQ04ObOFqLmnPYGky5H9jZ5zpj8GXlr9xlqCYNE2M=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-15T20:33:12.0001789Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor.blob.core.windows.net/test-container-b6d653e5-b90c-ffb2-680b-695def3d99a9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 15 Oct 2021 20:33:11 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1261838684",
    "Storage_TestConfigDefault": "ProductionTenant\ncamaiaor\nU2FuaXRpemVk\nhttps://camaiaor.blob.core.windows.net\nhttps://camaiaor.file.core.windows.net\nhttps://camaiaor.queue.core.windows.net\nhttps://camaiaor.table.core.windows.net\n\n\n\n\nhttps://camaiaor-secondary.blob.core.windows.net\nhttps://camaiaor-secondary.file.core.windows.net\nhttps://camaiaor-secondary.queue.core.windows.net\nhttps://camaiaor-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://camaiaor.blob.core.windows.net/;QueueEndpoint=https://camaiaor.queue.core.windows.net/;FileEndpoint=https://camaiaor.file.core.windows.net/;BlobSecondaryEndpoint=https://camaiaor-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://camaiaor-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://camaiaor-secondary.file.core.windows.net/;AccountName=camaiaor;AccountKey=Kg==;\nsdktest\n\n"
  }
}