{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-83769010-9f0c-4f71-e07b-3b0e6b14660b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:23 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B5E4A06AE\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:06:23 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-83769010-9f0c-4f71-e07b-3b0e6b14660b/test-blob-2a79c5a4-0d98-69a5-84c2-44b143a3d93d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:23 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "YdYARILWKPXAfqCNTaAUyWFHaqWaPHKVyIVCvdYftEClFG9kFtVxzZ2EahptFxvkrXpP/DkzoiVja3v9k2seoclg6DkxsLOM1pwIFtJYKLBqXg9cz7gGcXFJAKpZdDkxZclQDS/hsv3GwyadKoxTC0PKkzVbwtERWXfH568JMmFi1rAIBxuBiKsRlgySaEbl9vVnj\u002bEE1qP3P7O3GctOvZDEOlTbSgMoSAqKSSzEf/Aw4vC6oqOAXgANEMhnym7fw9h8zS3yCqzyPkbWeYx2M8DChjfakxvtQ9xTzTk6wH6cqoVTSLHCPthEyGNcquRzl90IpEM3BS\u002b9j4lRnjxyt37IOs8HI\u002[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-83769010-9f0c-4f71-e07b-3b0e6b14660b/test-blob-2a79c5a4-0d98-69a5-84c2-44b143a3d93d?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:23 GMT",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B5E528639\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:06:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-83769010-9f0c-4f71-e07b-3b0e6b14660b/test-blob-2a79c5a4-0d98-69a5-84c2-44b143a3d93d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:23 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "DgIKdO6ge4nRlSxqaL1ixg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D70A5B5E528639\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:06:23 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Jul 2019 02:06:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-83769010-9f0c-4f71-e07b-3b0e6b14660b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:23 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1727626239",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}