{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-cc4f595b-7a7c-117b-9adf-51c837b50224?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:48:02 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D3748E14CE92\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:48:02 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-cc4f595b-7a7c-117b-9adf-51c837b50224/test-blob-512d073e-7a8d-d9e3-32f2-84bd0daec4e1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:48:02 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "AFkoaLaHG+4/IhKPELLZyeC7jkaLjWsl6yRIFq+ApLDpkHQpVXb6tus/EWtoU8l/GbvdUSB+VXLtAnyRPgU+v31hpn8+sHRpwdhaTHwAvJhbyfz0o1KQazoBO1L5aHflAVHtBqxKQGhGc5BHIwn27EXkNnUISRwr0TtEPHQhcFhgdUsqE7XrEYiTrS/CSEgxC08MFTIB3Lc1wTVxBQT0JQM35629y9mQ+CXtdJvsaYnzEzAlFFomXpiT9FGAeguEn4gsimCacz91fB0MFGgbSFesfvHTzhCoEIgVKtaHD30ZadUTwN4oWJ/xr5c9GUkweKz61PsasNB3g3nXhUlp7m2f86uSCIh5gyVR4h54a/Y+[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-cc4f595b-7a7c-117b-9adf-51c837b50224/test-blob-512d073e-7a8d-d9e3-32f2-84bd0daec4e1?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:48:02 GMT",
        "x-ms-if-tags": "\"coolTag\" = 'true'",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:0fb9370c-501e-0074-315d-05ee32000000\n",
        "Time:2021-02-17T18:48:04.6855014Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-cc4f595b-7a7c-117b-9adf-51c837b50224?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:48:04 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1124170847",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}