{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-863af161-4efa-b9f8-970b-ec8d3145719f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:43 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B467BA0A5\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:05:43 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-863af161-4efa-b9f8-970b-ec8d3145719f/test-blob-7cae2b8e-9f4a-5d27-5905-91a3d531d91f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:43 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "l6ONRQDjECG32735UmfIlWRK/gWW9FW8iARnVK6WiZYo3PpNdGKhqhuNxW7hLgvxPPw/izLTiKJO0bz8fLxyIVIm0XVteiEBqFTqCS7m2lr4dhexVv1kVFNX/qKlpS5fGqQculyWg8HbPePe6X90Z/dhAwakwMpUwnwhFnt\u002bWwIliu6Kyh/9YvJV1hgahWvT45erQ6EoulrZx/fgdG1FXOHguF6R6Z3XZKETT\u002bqyOj0QTTPk0xhh/dCTsAInHe6FD3o2OcwNQvn5098AFGpvJ4y6zyY5YYjJf7uO/Tmar0azjkBvewFxAws66wA4YOllJIh2bU3HS67ybLkRf0S/XiOZTYUqAKuLSc[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-863af161-4efa-b9f8-970b-ec8d3145719f/test-blob-7cae2b8e-9f4a-5d27-5905-91a3d531d91f?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:43 GMT",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B4687F006\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:05:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-863af161-4efa-b9f8-970b-ec8d3145719f/test-blob-7cae2b8e-9f4a-5d27-5905-91a3d531d91f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:43 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "tTb/h8Mn0a2bQELoBrEeJQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D70A5B4687F006\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:05:43 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Jul 2019 02:05:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-863af161-4efa-b9f8-970b-ec8d3145719f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:43 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1883825689",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}