{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-12ccac67-962e-1a2b-eb2c-c044175d683a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:22 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1D4E0B7F8\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:22 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-12ccac67-962e-1a2b-eb2c-c044175d683a/test-blob-a352c09b-bfa7-8f80-ece0-3cd054cea1ec",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:22 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "\u002btNtX/\u002bKIpktOZNF567L8/zVqVcLxZKhyV09jpGuPa9Iw4J8itDrEZ64dW4rOqc9FEnUfyVJ4DVAy5ahTJMHf/zk/CQsT2gr6pe5Uk8kdo61/3lH2r6K/uJMO785SsQKsfZxRz6DEcXhqJSNkI7lHFUI60wawKQ\u002bWf5B3xOo8aDSrqFZsi9QMu6zZjEp/G1UZh5qMV548PBRM\u002b1AQTGxOLb0uuLtjGkluLldZllzFF2Q7Xn0Pr9CWr6wCH9CEPC8Ai56NEGLZ9q1RHmkGoqX3h6PsFO4vPn2smAjPIPq46jJoWQr\u002bOAbBIaeP/lGnT80GSpgsmCcBEU0g4LgZyp[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-12ccac67-962e-1a2b-eb2c-c044175d683a/test-blob-a352c09b-bfa7-8f80-ece0-3cd054cea1ec?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:22 GMT",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1D4E56905\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-8213a9b2-4efc-b469-3475-7840e814a543/test-blob-b9a82b0e-1779-0ae0-6bcd-1a8676038ea4?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 11 Jul 2019 17:53:22 GMT",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:22 GMT",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1D4EDCF81\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-976d2ab1-3a0f-6ae3-8b41-f70e5413510f/test-blob-17b05eeb-e547-06d0-566d-bfc7f5c7f4cc?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sat, 13 Jul 2019 17:53:22 GMT",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:22 GMT",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1D4F6F97C\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-b88aec00-d076-d9a8-0c56-15ed3c70ff0f/test-blob-edc91c7c-d08c-4578-af51-6f5255180619",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:22 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "DEkV0Tkq3mhidfq7jC6Jug==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D706F1D5026DF5\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:22 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 12 Jul 2019 17:53:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-b88aec00-d076-d9a8-0c56-15ed3c70ff0f/test-blob-edc91c7c-d08c-4578-af51-6f5255180619?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D706F1D5026DF5\u0022",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:22 GMT",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1D506185E\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-95d6485e-62b3-705d-a00b-e353c9060938/test-blob-edae273d-0712-52e8-1249-4bb4fa38a265?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:22 GMT",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1D51C16B8\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-f7348385-d127-4a44-a925-b69e607966fa/test-blob-bb89bf9b-6773-5815-ecf6-dec3ae27d957?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:22 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "8065c275-2ada-10fd-de1e-5c7ac98dec1c",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1D52280E3\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:22 GMT",
        "x-ms-lease-id": "8065c275-2ada-10fd-de1e-5c7ac98dec1c",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-f7348385-d127-4a44-a925-b69e607966fa?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:22 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-07-12T10:53:22.4654266-07:00",
    "RandomSeed": "322920969",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}