{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-bcc7d203-af5d-ead0-51e7-d233cd2f2d16?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:11:45 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E9606A529E\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:11:45 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-bcc7d203-af5d-ead0-51e7-d233cd2f2d16/test-blob-901b41c7-cdb1-beb3-12d1-d45a56c84e7b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:11:45 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "ngfrhqrzAqv0tQDZa3vcMQGnQFq6uBl5lMYoQ\u002BaX160=",
        "x-ms-encryption-key-sha256": "9OoVfIR2\u002BLZO8myz3s9ZoHrSR0gXN8LQXiLOYdic3eY="
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E960785440\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:11:46 GMT",
        "x-ms-encryption-key-sha256": "9OoVfIR2\u002BLZO8myz3s9ZoHrSR0gXN8LQXiLOYdic3eY=",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T02:11:46.0636736Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-bcc7d203-af5d-ead0-51e7-d233cd2f2d16/test-blob-901b41c7-cdb1-beb3-12d1-d45a56c84e7b?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:11:45 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "ngfrhqrzAqv0tQDZa3vcMQGnQFq6uBl5lMYoQ\u002BaX160=",
        "x-ms-encryption-key-sha256": "9OoVfIR2\u002BLZO8myz3s9ZoHrSR0gXN8LQXiLOYdic3eY=",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E960854EFA\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:11:46 GMT",
        "x-ms-encryption-key-sha256": "9OoVfIR2\u002BLZO8myz3s9ZoHrSR0gXN8LQXiLOYdic3eY=",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T02:11:46.1497354Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-bcc7d203-af5d-ead0-51e7-d233cd2f2d16?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:11:46 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "112795390",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}