{
  "Entries": [
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-93664dbf-652a-f129-4ad3-b2cd5fc2f563?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 25 Apr 2020 01:09:18 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B547A080C8\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:09:18 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-93664dbf-652a-f129-4ad3-b2cd5fc2f563/test-blob-03bfbcd4-0c00-7768-de8d-6c7704d53b45",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 25 Apr 2020 01:09:18 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "T4R0y6KzIqY\u002BUPbSlWcnlgVdf/lFgC1LK6hjs5apHLurbLctG\u002BJgIZoZxbAWleF3ZtVxp1ZB/85WKZ/5UG4PlDM6Jyiw\u002Bnoj/F5eLLp9NZbG60zAN3VlaW3o1vJCZ9ArCTB92265xmtaTqr349MU2fMJMmQhT1291b27xyOI4JWNMyKJAFkoDSXhZejKboaZ1P3/ODVsCbrTvwaw/f9H0m0VabCxitiZ4SQ/QOl082c2IfMmiadfISlotkFTdxAmmZN6tQTW6EkkZVcQLcnQXsufedsLIUnFtUiHSNSXRmkUGKdW\u002BT1iYDiqASNQTvNfmFd1s/00GndJtf\u002B7T6B[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-93664dbf-652a-f129-4ad3-b2cd5fc2f563/test-blob-03bfbcd4-0c00-7768-de8d-6c7704d53b45?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:09:18 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "3b82c046-4f01-eeff-f6a7-4d01b0190327",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B547AAF5E9\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:09:18 GMT",
        "x-ms-lease-id": "3b82c046-4f01-eeff-f6a7-4d01b0190327",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-93664dbf-652a-f129-4ad3-b2cd5fc2f563/test-blob-03bfbcd4-0c00-7768-de8d-6c7704d53b45?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cool",
        "x-ms-date": "Sat, 25 Apr 2020 01:09:18 GMT",
        "x-ms-lease-id": "3b82c046-4f01-eeff-f6a7-4d01b0190327",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-93664dbf-652a-f129-4ad3-b2cd5fc2f563?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:09:18 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1525322923",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttp://amandacanary.blob.core.windows.net\nhttp://amandacanary.file.core.windows.net\nhttp://amandacanary.queue.core.windows.net\nhttp://amandacanary.table.core.windows.net\n\n\n\n\nhttp://amandacanary-secondary.blob.core.windows.net\nhttp://amandacanary-secondary.file.core.windows.net\nhttp://amandacanary-secondary.queue.core.windows.net\nhttp://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandacanary.blob.core.windows.net/;QueueEndpoint=http://amandacanary.queue.core.windows.net/;FileEndpoint=http://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Sanitized\n\nDefaultEndpointsProtocol=https;AccountName=ortestsaccountcbn1;AccountKey=OrRfzSm3ktQSklAGiL90/QusS7SdS6Y5S/AJoxZEeyKYDtnue7OKYIMLOraTnT4xcOyhYbqzWVmtTKappcc5Fg==;EndpointSuffix=core.windows.net\nDefaultEndpointsProtocol=https;AccountName=vbalaorcentral1;AccountKey=vlHMz/LZ3Sx7r/1bdTQT26pG0tqORQ4uTIcxGhHB0LQhIhqGxfv2TXV7u\u002BI2ra4UWXrWGGHG2N6l\u002BBfb5FgAcQ==;EndpointSuffix=core.windows.net"
  }
}