{
  "Entries": [
    {
      "RequestUri": "https://b6ixscnapmwh01pyv03a.blob.preprod.core.windows.net/test-container-258047d2-0e6a-9096-7059-3fc448ca1ad0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 28 Mar 2022 17:46:07 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA10E2D600D16A\u0022",
        "Last-Modified": "Mon, 28 Mar 2022 17:46:06 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://b6ixscnapmwh01pyv03a.blob.preprod.core.windows.net/test-container-258047d2-0e6a-9096-7059-3fc448ca1ad0/test-blob-81cf5fc2-332b-5285-0bfe-69b5b2c8c96d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 28 Mar 2022 17:46:07 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "3P188UCZOYL7xtIQsUkaPgd9C2c0\u002BxYU0Td1l3gUsLPUYRZpAbydKCZMhWRhdaHB4yuuNL1hOODmZyAJI6EJ5hUeO1AzsTxK4OJB53Wxs1yVtLRNZnz2cig1g5qclAWEQ59OQjlRjjLuY1TaH1FqNbPDc2/tvH\u002BZJ8gn/S6irkzdvaPWYnAiRCWBXgMoG1LWyk3n2CCVlocftRpwKZAETLQH/WKtk9JCoC9Ja118cAx2UDLgu9YrRyYct61VshuUfRJOIB7wKTZ7pDfxTCopokQO\u002BtheJJHe27U8kNwl7O4TtO5LLlDthif7ZRaeOvr78xRoR7hCNliBb0Ros5haVbdJ3Zg83[...]
    {
      "RequestUri": "https://b6ixscnapmwh01pyv03a.blob.preprod.core.windows.net/test-container-258047d2-0e6a-9096-7059-3fc448ca1ad0/test-blob-81cf5fc2-332b-5285-0bfe-69b5b2c8c96d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Mar 2022 17:46:07 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "KBri4S\u002BwILPtslMRiFHldQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA10E2D60D2024\u0022",
        "Last-Modified": "Mon, 28 Mar 2022 17:46:06 GMT",
        "x-ms-access-tier": "Premium",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 28 Mar 2022 17:46:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://b6ixscnapmwh01pyv03a.blob.preprod.core.windows.net/test-container-258047d2-0e6a-9096-7059-3fc448ca1ad0?restype=container\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Mar 2022 17:46:07 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-[...]
    {
      "RequestUri": "https://b6ixscnapmwh01pyv03a.blob.preprod.core.windows.net/test-container-258047d2-0e6a-9096-7059-3fc448ca1ad0/test-blob-81cf5fc2-332b-5285-0bfe-69b5b2c8c96d?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Hot",
        "x-ms-date": "Mon, 28 Mar 2022 17:46:07 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://b6ixscnapmwh01pyv03a.blob.preprod.core.windows.net/test-container-258047d2-0e6a-9096-7059-3fc448ca1ad0/test-blob-81cf5fc2-332b-5285-0bfe-69b5b2c8c96d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Mar 2022 17:46:07 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "KBri4S\u002BwILPtslMRiFHldQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA10E2D60D2024\u0022",
        "Last-Modified": "Mon, 28 Mar 2022 17:46:06 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-change-time": "Mon, 28 Mar 2022 17:46:06 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 28 Mar 2022 17:46:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://b6ixscnapmwh01pyv03a.blob.preprod.core.windows.net/test-container-258047d2-0e6a-9096-7059-3fc448ca1ad0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Mar 2022 17:46:07 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "961531484",
    "Storage_TestConfigPremiumBlob": "PremiumBlobTenant\nb6ixscnapmwh01pyv03a\nU2FuaXRpemVk\nhttps://b6ixscnapmwh01pyv03a.blob.preprod.core.windows.net\nhttp://b6ixscnapmwh01pyv03a.file.core.windows.net\nhttp://b6ixscnapmwh01pyv03a.queue.core.windows.net\nhttp://b6ixscnapmwh01pyv03a.table.core.windows.net\n\n\n\n\nhttp://b6ixscnapmwh01pyv03a-secondary.blob.core.windows.net\nhttp://b6ixscnapmwh01pyv03a-secondary.file.core.windows.net\nhttp://b6ixscnapmwh01pyv03a-secondary.queue.core.windows.net\nhttp://b6ixscnapmwh01pyv03a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://b6ixscnapmwh01pyv03a.blob.preprod.core.windows.net/;QueueEndpoint=http://b6ixscnapmwh01pyv03a.queue.core.windows.net/;FileEndpoint=http://b6ixscnapmwh01pyv03a.file.core.windows.net/;BlobSecondaryEndpoint=http://b6ixscnapmwh01pyv03a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://b6ixscnapmwh01pyv03a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://b6ixscnapmwh01pyv03a-secondary.file.core.windows.net/;AccountName=b6ixscnapmwh01pyv03a;AccountKey=Sanitized\n\n\n"
  }
}
