{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-7f3ec4bd-9ee9-4a9a-6f62-aa68ebfc81b3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 21:05:51 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C148FCAF042E\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:05:51 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-7f3ec4bd-9ee9-4a9a-6f62-aa68ebfc81b3/test-blob-604c3c5c-9b62-7a67-b406-929f29515cda",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 21:05:51 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "meA0zgH1Ik17tkUFGwyzVx6e7LFHaGeYtYDWio2ZLC7YTGqkYF3TZhn/5KxWYl6nUjqAimSrkjB5nBmBH5fA4YkWLM\u002BiD/bBy4aXSIS6QVIiLzhSGaHKLbk5KsRDUkeBPgMiPzaPBEJDvr/eE0qrvlrHXu9fbsjoTP4VaeQyfXg/FQqBlwIckyr1Dlri7BpvjWtqfPNXItA6OvM3eZtdEUBHnv1AKidXqsvFaV9tBV/kptt5yAGE5/M6RlwP5BqOmP0Zm00cL2NEEtEokrhwzTSTU9LA5Ek/wrcKBuTKSMaxNtFiU2oSx3d3NLUvW1U7yXkne5BHzrOz2tiWEil\u002BeckKd1vmDXnJgY[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-7f3ec4bd-9ee9-4a9a-6f62-aa68ebfc81b3/test-blob-604c3c5c-9b62-7a67-b406-929f29515cda?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cool",
        "x-ms-date": "Thu, 05 Mar 2020 21:05:51 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-7f3ec4bd-9ee9-4a9a-6f62-aa68ebfc81b3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:05:52 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "155797239",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}