{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8b168310-4241-a6ce-ff31-ed04ee068ae1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 20 Oct 2020 19:33:32 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8752F0858C107\u0022",
        "Last-Modified": "Tue, 20 Oct 2020 19:33:33 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8b168310-4241-a6ce-ff31-ed04ee068ae1/test-blob-46fcb96c-0f35-9faf-c1cf-c6f396a30c42",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 20 Oct 2020 19:33:32 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Ek9JPjG90pbC7uu7DIAbjAT7veDB2Wer/zUKP7Q2htE4Ii/c7gp/r\u002BZmg0ck9JNBtDnvm\u002BUsgTnnnT77spLhjGcZg\u002BlRPp75ew75WlUghwuiyYt6R\u002BvrC6H29VHMg/xUhPfgCnGp8HWb9R/WMybjxxUzWegHZ0V8LndIWklNLfgRpdZdP32a\u002BNkW31HLFNh7Ei08mSkUTR2yZNv5YZUrTccnxY1PhoeXmGAP8IjzsBmezEgbEZTO/Vi5qtqioJdD6pGJpE9KK4ylpADJBFyUv7PCWpRNEDwzWMc1ltus9fjJzAb3aQzJU6G7dWyTBfn8JOsn30UC9tpUVkyIFZS[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8b168310-4241-a6ce-ff31-ed04ee068ae1/test-blob-46fcb96c-0f35-9faf-c1cf-c6f396a30c42?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Tue, 20 Oct 2020 19:33:32 GMT",
        "x-ms-lease-id": "80ea9125-8a40-6712-57fe-0e5f2380b9ca",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EtagKey0\u003C/Key\u003E\u003CValue\u003EtagValue0\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003EtagKey1\u003C/Key\u003E\u003CValue\u003EtagValue1\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003ELeaseNotPresentWithBlobOperation\u003C/Code\u003E\u003CMessage\u003EThere is currently no lease on the blob.\n",
        "RequestId:0bdef906-301e-0062-0b17-a718e5000000\n",
        "Time:2020-10-20T19:33:33.9594144Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8b168310-4241-a6ce-ff31-ed04ee068ae1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 20 Oct 2020 19:33:33 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2048613939",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}