{
  "Entries": [
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-dfc0725a-55a4-a34a-d706-83f9a865ed98?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 25 Apr 2020 01:07:18 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B5003D2924\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:07:18 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-dfc0725a-55a4-a34a-d706-83f9a865ed98/test-blob-f69d168b-1629-994e-df72-d3098839114d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 25 Apr 2020 01:07:18 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "NaqJiv/06fZv8hxSE3h1GeRstg0VTGsGw0zsuzeT\u002B3shw52DNJcXTbBZMDoeUi3aUhKKZpEkZ\u002Bg/gsayCC6\u002B3PahMFDb8uVNVGhcvBwx6HEfEWgkCZXp/Vu0RLLRZEWCmlNDfCHd/18tPREpx6vMDZlVk/fFmdNhtzP1Jq4ze\u002B8j2iHI7mtPQhEJ98uDwDWw6DYYfNFNvAGA4cTu59mx\u002BsEhBe2JAx8uBVHlvKIH3ff\u002BRD54Gv8e1R0gSAynYVo4WPwKYrpHJuUX6nZ/Z/9feATN76ObOd/BAzDPaboSh6T2rWSl/Hs8th1YYDCJnm0dwdAI2XG3nB8dSV[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-dfc0725a-55a4-a34a-d706-83f9a865ed98/test-blob-f69d168b-1629-994e-df72-d3098839114d?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cool",
        "x-ms-date": "Sat, 25 Apr 2020 01:07:18 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-dfc0725a-55a4-a34a-d706-83f9a865ed98/test-blob-f69d168b-1629-994e-df72-d3098839114d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:07:18 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ckingjJb3aQucgotZOcFDA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7E8B50049C0FE\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:07:18 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-change-time": "Sat, 25 Apr 2020 01:07:18 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 25 Apr 2020 01:07:18 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-dfc0725a-55a4-a34a-d706-83f9a865ed98?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:07:18 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-24T18:07:18.6572919-07:00",
    "RandomSeed": "1763140711",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttp://amandacanary.blob.core.windows.net\nhttp://amandacanary.file.core.windows.net\nhttp://amandacanary.queue.core.windows.net\nhttp://amandacanary.table.core.windows.net\n\n\n\n\nhttp://amandacanary-secondary.blob.core.windows.net\nhttp://amandacanary-secondary.file.core.windows.net\nhttp://amandacanary-secondary.queue.core.windows.net\nhttp://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandacanary.blob.core.windows.net/;QueueEndpoint=http://amandacanary.queue.core.windows.net/;FileEndpoint=http://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Sanitized\n\nDefaultEndpointsProtocol=https;AccountName=ortestsaccountcbn1;AccountKey=OrRfzSm3ktQSklAGiL90/QusS7SdS6Y5S/AJoxZEeyKYDtnue7OKYIMLOraTnT4xcOyhYbqzWVmtTKappcc5Fg==;EndpointSuffix=core.windows.net\nDefaultEndpointsProtocol=https;AccountName=vbalaorcentral1;AccountKey=vlHMz/LZ3Sx7r/1bdTQT26pG0tqORQ4uTIcxGhHB0LQhIhqGxfv2TXV7u\u002BI2ra4UWXrWGGHG2N6l\u002BBfb5FgAcQ==;EndpointSuffix=core.windows.net"
  }
}