{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-54ea3194-6477-2d92-51d6-73f6a295f4f7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:43:15 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75F9CF476AD\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:43:15 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-54ea3194-6477-2d92-51d6-73f6a295f4f7/test-blob-864cc5b6-e7a4-a702-c688-dfe7a0d0f53d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:43:16 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "IosdQAufXFPbO3AQPe6V4yLkCnLHLkPxX\u002BKOEbFlhV\u002BecVpBcyzUFmj4q2l28WnY8/vEvMWDdvRHK\u002BEpEUuhdbURcsyTVHD2D/QKzoLZe215tR22oMiZG/tm\u002BUdLqwQdVjWzZH\u002BdRJ\u002BKzqzReKhxbbBzr1st69Xtd1fQLVopq2Tv7HdNJhbt3HF\u002BK9Ibx6JT9YuW1/uo72pgxuwozBdEYSJI4YswI0eahtLqrsAC0bC1fTfPktNoR/0N7V8pxRBaOsmv0\u002BYWItFD/FEpvkGqXvQ8c07fdM5P35qOIzbncMDCj3T2Uv3Jnltli5WCP4m8Yo5r[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-54ea3194-6477-2d92-51d6-73f6a295f4f7/test-blob-864cc5b6-e7a4-a702-c688-dfe7a0d0f53d?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:43:16 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "80bc19c3-734e-772a-41a2-e0a7b1aa81be",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75F9D021D7D\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:43:15 GMT",
        "x-ms-lease-id": "80bc19c3-734e-772a-41a2-e0a7b1aa81be",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-54ea3194-6477-2d92-51d6-73f6a295f4f7/test-blob-864cc5b6-e7a4-a702-c688-dfe7a0d0f53d?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cool",
        "x-ms-date": "Thu, 02 Apr 2020 23:43:16 GMT",
        "x-ms-lease-id": "80bc19c3-734e-772a-41a2-e0a7b1aa81be",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-54ea3194-6477-2d92-51d6-73f6a295f4f7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:43:16 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "226659489",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}