{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-92e53ca3-8d62-c2fb-e90c-36efdc86dae0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:11:54 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E9658669BB\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:11:54 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-92e53ca3-8d62-c2fb-e90c-36efdc86dae0/test-blob-09f6853c-74f1-4c0f-143d-b3d6659d456a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:11:54 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "cdTGL749vgPLB6woMZkhMLTUIfiHkXC0nXuI5W2jUtO4ux2z56iU/8bzPurI5xt6G4IikXtM4uBkEpFDtNiWKLTYcHV8bkgLPyExlFKF67ZfDsnqgMFXa9g8T9UXUUvuXRY18Hal/a06FlFaG06N3iba5KYOrKfygAScQB9y9O7WQjc8UPs/uRAcr2lw/U\u002BKrnCuPGyl37BvQm9yCL2OxyJig9gWUY4rmiqV8vw9goO0EpGuxLeBMWKGzQ2LzbBTjehHDXl2c1zig6JCD\u002B20McDrvfYr4ANq4VJ1kISAn8x5QmQU9XUJPZ81y0AVPyF10ptNoA\u002B6J63k3CwnAOLYYuPVyc2IoDtK4n9W9hXCVaIwAL7oM/\u002B8vhu3LxhI4Ty8XGldP3VU7DFfAr2QZ[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-92e53ca3-8d62-c2fb-e90c-36efdc86dae0/test-blob-09f6853c-74f1-4c0f-143d-b3d6659d456a?snapshot=2020-04-17T20:37:16.5129130Z\u0026comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cool",
        "x-ms-date": "Wed, 17 Feb 2021 02:11:54 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified blob does not exist.\n",
        "RequestId:3f83d466-101e-0038-2bd2-047e02000000\n",
        "Time:2021-02-17T02:11:54.7026916Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-92e53ca3-8d62-c2fb-e90c-36efdc86dae0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:11:54 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1460834528",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}