{
  "Entries": [
    {
      "RequestUri": "http://gapradev.blob.core.windows.net/test-container-38c65f30-9a89-3bd8-07fe-f55418f410b9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 12 Sep 2019 23:54:31 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D737DC8DFF7BFC\"",
        "Last-Modified": "Thu, 12 Sep 2019 23:54:31 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://gapradev.blob.core.windows.net/test-container-38c65f30-9a89-3bd8-07fe-f55418f410b9/test-blob-c0177a8b-25ca-f3ee-fd7a-7f0abee60d56",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 12 Sep 2019 23:54:31 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "M4JInoDeR3uHsyq86fQoDnOlZ7OZCqjmjIA193YEXsDz/DqhYm22rDKbOBf7MQoIUXGXGH9ZvSnZYRL/qVAFg1Rpye26h6sF77qB/dKQ61p1LKUFbUVBmT4QxwFbtgPilrXCkWgdTsrFkinF2L9XSHa3inyqABUPKC+uqcCqqTm2nmYczlnxV93bP9scfMF+uX6KoyuGN5afs2k5b6UKGujwDjpZOnodxTKfz8A68qxuL+9BHwUNL2bQfRvvuOg40SXyLG2HJX8Ebd3552jWZcC9yz+2yfvi4t7TibxfLQ1KZ/6bR8Y+5gpvPLEoFEj++RhaMe2pgQcpEEmPs5zCpUDQroBqOx36fuQ1RoxJus6W[...]
    {
      "RequestUri": "http://gapradev.blob.core.windows.net/test-container-38c65f30-9a89-3bd8-07fe-f55418f410b9/test-blob-c0177a8b-25ca-f3ee-fd7a-7f0abee60d56?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Archive",
        "x-ms-date": "Thu, 12 Sep 2019 23:54:31 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://gapradev.blob.core.windows.net/test-container-38c65f30-9a89-3bd8-07fe-f55418f410b9/test-blob-c0177a8b-25ca-f3ee-fd7a-7f0abee60d56?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cool",
        "x-ms-date": "Thu, 12 Sep 2019 23:54:31 GMT",
        "x-ms-rehydrate-priority": "None",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidHeaderValue",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidHeaderValue</Code><Message>The value for one of the HTTP headers is not in the correct format.\n",
        "RequestId:4cdff0db-c01e-0044-70c5-691804000000\n",
        "Time:2019-09-12T23:54:31.3478491Z</Message><HeaderName>x-ms-rehydrate-priority</HeaderName><HeaderValue>None</HeaderValue></Error>"
      ]
    },
    {
      "RequestUri": "http://gapradev.blob.core.windows.net/test-container-38c65f30-9a89-3bd8-07fe-f55418f410b9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 12 Sep 2019 23:54:31 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1828405794",
    "Storage_TestConfigDefault": "ProductionTenant\ngapradev\nU2FuaXRpemVk\nhttp://gapradev.blob.core.windows.net\nhttp://gapradev.file.core.windows.net\nhttp://gapradev.queue.core.windows.net\nhttp://gapradev.table.core.windows.net\n\n\n\n\nhttp://gapradev-secondary.blob.core.windows.net\nhttp://gapradev-secondary.file.core.windows.net\nhttp://gapradev-secondary.queue.core.windows.net\nhttp://gapradev-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://gapradev.blob.core.windows.net/;QueueEndpoint=http://gapradev.queue.core.windows.net/;TableEndpoint=http://gapradev.table.core.windows.net/;FileEndpoint=http://gapradev.file.core.windows.net/;BlobSecondaryEndpoint=http://gapradev-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://gapradev-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://gapradev-secondary.table.core.windows.net/;FileSecondaryEndpoint=http://gapradev-secondary.file.core.windows.net/;AccountName=gapradev;AccountKey=Sanitized\n\n"
  }
}