{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-71d3e42f-bdc9-62da-bcc9-483774c14dd8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:26 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F36643635852\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:56:26 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-71d3e42f-bdc9-62da-bcc9-483774c14dd8/test-blob-a7d6f690-27f9-2adb-cf5f-cd0ce33180b3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:26 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "TvcGoAfEZqFuEjva4JVaXvz5pn3rpd9DmMdHycBo3QNuKfcPVyxHy5A0OOfrAUo6BG4Q6osCyKgYwgg/fJzhBTU4a7adSwfPsdrst234WJd8DcVRWPN4bGFP9pQkB0/0UjKyspWUnLlnQDiwFRE7IGlwwm7Wj61Bv/9VTVRyq6mL\u002bGQ6RqUB6HEM6he6yFZPFNYqs0XgHcKEcPKWPk5k9JWOJB2tANrEb9n9yqWWhvepBTl\u002bR/hkq9uhtdWyaqoip/WBK6M4ohT7ZkNr4lId7un77TgV5q2dKnlBC0oFEQQv2yKwFFtUcGIlguC0\u002bMiIhMfst31xDMFI5AEp95bJ9lU\u002b[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-71d3e42f-bdc9-62da-bcc9-483774c14dd8/test-blob-a7d6f690-27f9-2adb-cf5f-cd0ce33180b3?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:26 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "c8b94234-d474-2985-b902-ffcf4c5c447c",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F366436647BE\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:56:26 GMT",
        "x-ms-lease-id": "c8b94234-d474-2985-b902-ffcf4c5c447c",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-71d3e42f-bdc9-62da-bcc9-483774c14dd8/test-blob-a7d6f690-27f9-2adb-cf5f-cd0ce33180b3?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cool",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:26 GMT",
        "x-ms-lease-id": "c8b94234-d474-2985-b902-ffcf4c5c447c",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-71d3e42f-bdc9-62da-bcc9-483774c14dd8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:26 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "132817834"
  }
}