{
  "Entries": [
    {
      "RequestUri": "https://cdm03r01aversioning16.blob.core.windows.net/test-container-67124b86-1baf-e917-ff35-98a815549324?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 18 Apr 2020 00:14:14 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E32D6D19D692\u0022",
        "Last-Modified": "Sat, 18 Apr 2020 00:14:13 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://cdm03r01aversioning16.blob.core.windows.net/test-container-67124b86-1baf-e917-ff35-98a815549324/test-blob-112c0ee7-1044-a6b2-da21-d9bd0ea8dc5f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 18 Apr 2020 00:14:14 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u002B4sEYgOysnHrA2osatKMjuq\u002Bh/5zJ8iTAKoFT2ZLxgaLF6LY\u002BqVJNFy7JkCmhjwIlUvSUCHd69TDcWFZrWILoDxjoVIwtJREdFKiuACI7Xpt/bobeHblrivNFIlD8If5r4YDQuXp2OG2jtvOOjPTO4Tn67Co8CfGffInYp8LAYTKqQl6hKqVhCTZZOqaF3P4\u002BtkEXATXUL9ePMTywXVBq4xXA5ApWbbZUmeLz4s9LGZ\u002BLmjFBqWA81hJG0flosKvl7hdQhPjzqAjKgmcTIEzIBBec5MNfKXn1xA44D1u9K\u002Bk2zjS4OlTm2DHotub46bXFvs3hy8vohsTdW[...]
    {
      "RequestUri": "https://cdm03r01aversioning16.blob.core.windows.net/test-container-67124b86-1baf-e917-ff35-98a815549324/test-blob-112c0ee7-1044-a6b2-da21-d9bd0ea8dc5f?snapshot=2020-04-17T20:37:16.5129130Z\u0026comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cool",
        "x-ms-date": "Sat, 18 Apr 2020 00:14:14 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified blob does not exist.\n",
        "RequestId:1debd8be-601e-0022-0716-151fdd000000\n",
        "Time:2020-04-18T00:14:14.1409109Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://cdm03r01aversioning16.blob.core.windows.net/test-container-67124b86-1baf-e917-ff35-98a815549324?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 18 Apr 2020 00:14:14 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1083775458",
    "Storage_TestConfigDefault": "ProductionTenant\ncdm03r01aversioning16\nU2FuaXRpemVk\nhttps://cdm03r01aversioning16.blob.core.windows.net\nhttps://cdm03r01aversioning16.file.core.windows.net\nhttps://cdm03r01aversioning16.queue.core.windows.net\nhttps://cdm03r01aversioning16.table.core.windows.net\n\n\n\n\nhttps://cdm03r01aversioning16-secondary.blob.core.windows.net\nhttps://cdm03r01aversioning16-secondary.file.core.windows.net\nhttps://cdm03r01aversioning16-secondary.queue.core.windows.net\nhttps://cdm03r01aversioning16-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://cdm03r01aversioning16.blob.core.windows.net/;QueueEndpoint=https://cdm03r01aversioning16.queue.core.windows.net/;FileEndpoint=https://cdm03r01aversioning16.file.core.windows.net/;BlobSecondaryEndpoint=https://cdm03r01aversioning16-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://cdm03r01aversioning16-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://cdm03r01aversioning16-secondary.file.core.windows.net/;AccountName=cdm03r01aversioning16;AccountKey=Sanitized\nseanscope1"
  }
}