{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-93664dbf-652a-f129-4ad3-b2cd5fc2f563?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:50 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75FF954B091\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:45:50 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-93664dbf-652a-f129-4ad3-b2cd5fc2f563/test-blob-03bfbcd4-0c00-7768-de8d-6c7704d53b45",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:51 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "T4R0y6KzIqY\u002BUPbSlWcnlgVdf/lFgC1LK6hjs5apHLurbLctG\u002BJgIZoZxbAWleF3ZtVxp1ZB/85WKZ/5UG4PlDM6Jyiw\u002Bnoj/F5eLLp9NZbG60zAN3VlaW3o1vJCZ9ArCTB92265xmtaTqr349MU2fMJMmQhT1291b27xyOI4JWNMyKJAFkoDSXhZejKboaZ1P3/ODVsCbrTvwaw/f9H0m0VabCxitiZ4SQ/QOl082c2IfMmiadfISlotkFTdxAmmZN6tQTW6EkkZVcQLcnQXsufedsLIUnFtUiHSNSXRmkUGKdW\u002BT1iYDiqASNQTvNfmFd1s/00GndJtf\u002B7T6B[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-93664dbf-652a-f129-4ad3-b2cd5fc2f563/test-blob-03bfbcd4-0c00-7768-de8d-6c7704d53b45?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:51 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "3b82c046-4f01-eeff-f6a7-4d01b0190327",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75FF9615A88\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:45:50 GMT",
        "x-ms-lease-id": "3b82c046-4f01-eeff-f6a7-4d01b0190327",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-93664dbf-652a-f129-4ad3-b2cd5fc2f563/test-blob-03bfbcd4-0c00-7768-de8d-6c7704d53b45?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cool",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:51 GMT",
        "x-ms-lease-id": "3b82c046-4f01-eeff-f6a7-4d01b0190327",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-93664dbf-652a-f129-4ad3-b2cd5fc2f563?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:51 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1525322923",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}