{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-762b9390-2788-98bc-7986-1235ea1667c1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:52:27 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D3752C187C3C\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:52:27 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-762b9390-2788-98bc-7986-1235ea1667c1/test-blob-b420a4fb-d90f-e805-cf27-e9b05d33b022",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:52:27 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "lxv+g8WOAwWeqWkWz+Ou25iVjUM2OuddYWgJlv2jplTstUk6srtubKAbFWVv7hnreA0YyKZs610zoSJdhWwI+wMUKRmZdCjdJyCjGySC7XJPHR7vi96uf8rsBxGYEeczExpiW8X/UgTkOqGFydA4sbOwDmdOGG8lZalPrWwXRBY5bwgJIJKtT8saClE9Kbb6s1Zd6AJ/5fqrPPUbr6WXzfWKS1rHL5AhAr6cMw0e6DzzVfkWuVwTuYkNXuOckqAmgz1bst5bMoTFPOVE47HtjVS5J1mrgBSZd5LRutCthHAddrDQwjZelyN1UXx2ztXXINCP42pGegIpwjpLinizF7h1J20BHMoeW482Ni6XI6m8[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-762b9390-2788-98bc-7986-1235ea1667c1/test-blob-b420a4fb-d90f-e805-cf27-e9b05d33b022?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Wed, 17 Feb 2021 18:52:27 GMT",
        "x-ms-if-tags": "\"coolTag\" = 'true'",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "﻿<Tags><TagSet><Tag><Key>tagKey0</Key><Value>tagValue0</Value></Tag><Tag><Key>tagKey1</Key><Value>tagValue1</Value></Tag></TagSet></Tags>",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:58880445-801e-0048-605e-05c7f5000000\n",
        "Time:2021-02-17T18:52:31.3106894Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-762b9390-2788-98bc-7986-1235ea1667c1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:52:31 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1928826594",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}