{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-afee768a-1e7b-6822-0b35-c8cb4daf8800?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:48:05 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3749009931A\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:48:05 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-afee768a-1e7b-6822-0b35-c8cb4daf8800/test-blob-fa57c93f-1b86-137b-2100-9c3761805426",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:48:05 GMT"
      },
      "RequestBody": "KhDN4iFL7siGPuoOu8ucaImKYkqNEDHi7nobEcrqt8YdlF9B3NcQ9NqOc0cxbFdWZDOt1h0JmBne6vSnL93\u002Bm4cj8SdsWoyyem5w/pzpsYEixa2WPeCpE/tFY/HjacT9kNjADXsw6gqn\u002B1yumZl99TlyhGovaF6net0rJveazhGqcm7EKaMG8tuj7kKE\u002BnliyG24ceRZzSd6GJKeBMMSDCxKAycquMuVa5GPjHkbI4BjyV6J4lwsUKRHShAQaO0XkOIVOfZSNw\u002BiIgVSykGuXvUSOjtkiSrQHrKC4266hAOkd/yXBemJEZFP5r9W2oZjmesb/i2yswa3RRtD0FOg554BrlJEFlgLiSmpFaNreUQsHkqCn4bV8sT14MDORU[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-afee768a-1e7b-6822-0b35-c8cb4daf8800/test-blob-fa57c93f-1b86-137b-2100-9c3761805426?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Wed, 17 Feb 2021 18:48:05 GMT",
        "x-ms-lease-id": "b1905471-1f54-8ffd-5173-fc3a53174a3c"
      },
      "RequestBody": "\uFEFF\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EtagKey0\u003C/Key\u003E\u003CValue\u003EtagValue0\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003EtagKey1\u003C/Key\u003E\u003CValue\u003EtagValue1\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003ELeaseNotPresentWithBlobOperation\u003C/Code\u003E\u003CMessage\u003EThere is currently no lease on the blob.\n",
        "RequestId:1d558114-f01e-0020-115d-05a165000000\n",
        "Time:2021-02-17T18:48:06.3091628Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-afee768a-1e7b-6822-0b35-c8cb4daf8800?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:48:06 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "608105943",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}