{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-fff76f78-0807-06a6-c93c-f8823e241981?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 03:44:23 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEC69A08DEA\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:44:23 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-fff76f78-0807-06a6-c93c-f8823e241981/test-blob-ddf7f916-7b7e-1b77-dca7-95b41eaa1d68",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 11 Dec 2019 03:44:23 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "fCtAW10ECGhT4c/fqD36Vzt95e5p4k7Ga6s40Ra5bY78TNkq0rsPEfGOiZ2smHOerT14oMUu/pncee\u002BxzDZSmXNA4lxkz4V/bdP921ixGtM4miPYQczIzU1ATlnMXUW6O/Apa7UWOt64\u002BDLxMSNAKl4ceTISelineBQPI4ArsxCOQ59oiK4dIV9FH0iZ1pwpACP6sOMTp8CXgvOhBxZdjUUiY\u002B6E16Kv/ljSzVsQDaF35SNdMQMse5ve0QW7fBlI55ICd3OupCiBSrGLQNplhnRRKSHzAFtC9udSpgac9IE/iebJDZYuyUH62\u002BZRoTrBeEqRaVP3VOY2wICLW/4i5FYw[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-fff76f78-0807-06a6-c93c-f8823e241981/test-blob-ddf7f916-7b7e-1b77-dca7-95b41eaa1d68?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cool",
        "x-ms-date": "Wed, 11 Dec 2019 03:44:23 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-fff76f78-0807-06a6-c93c-f8823e241981?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:44:23 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "33269154",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}