{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-7f3ec4bd-9ee9-4a9a-6f62-aa68ebfc81b3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:49 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D75FF8B34499\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:45:49 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-7f3ec4bd-9ee9-4a9a-6f62-aa68ebfc81b3/test-blob-604c3c5c-9b62-7a67-b406-929f29515cda",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:49 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "meA0zgH1Ik17tkUFGwyzVx6e7LFHaGeYtYDWio2ZLC7YTGqkYF3TZhn/5KxWYl6nUjqAimSrkjB5nBmBH5fA4YkWLM\u002BiD/bBy4aXSIS6QVIiLzhSGaHKLbk5KsRDUkeBPgMiPzaPBEJDvr/eE0qrvlrHXu9fbsjoTP4VaeQyfXg/FQqBlwIckyr1Dlri7BpvjWtqfPNXItA6OvM3eZtdEUBHnv1AKidXqsvFaV9tBV/kptt5yAGE5/M6RlwP5BqOmP0Zm00cL2NEEtEokrhwzTSTU9LA5Ek/wrcKBuTKSMaxNtFiU2oSx3d3NLUvW1U7yXkne5BHzrOz2tiWEil\u002BeckKd1vmDXnJgY[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-7f3ec4bd-9ee9-4a9a-6f62-aa68ebfc81b3/test-blob-604c3c5c-9b62-7a67-b406-929f29515cda?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cool",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:50 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-7f3ec4bd-9ee9-4a9a-6f62-aa68ebfc81b3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:45:50 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "155797239",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}