{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-54ea3194-6477-2d92-51d6-73f6a295f4f7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:45 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B47BA3B32\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:05:45 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-54ea3194-6477-2d92-51d6-73f6a295f4f7/test-blob-548a61d9-919a-254c-3093-af7ccc906de0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:45 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "tsVMhqTnAqfGiN/noND1PSKLHUALn1xT2ztwED3uleMi5Apyxy5D8V/ijhGxZYVfnnFaQXMs1BZo\u002bKtpdvFp2PP7xLzFg3b0RyvhKRFLoXW1EXLMk1Rw9g/0Cs6C2XttebUdtqDImRv7ZvlHS6sEHVY1s2R/nUSfis6s0XiocW2wc69bLevV7XdX0C1aKatk7\u002bx3TSYW7dxxfivSG8eiU/WLltf7qO9qYMbsKMwXRGEiSOGLMCNHmobS6q7AAtGwtX03z5LTaEf9De1fKcUQWjrJr9PmFiLRQ/xRKb5Bql70PHNO33TOT9\u002bajiM253DAwo909lL9yZ5bZYuVgj\u002bJvGKO[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-54ea3194-6477-2d92-51d6-73f6a295f4f7/test-blob-548a61d9-919a-254c-3093-af7ccc906de0?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:45 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "9260642e-3825-4f80-5eeb-8aa73fa2e5da",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B47BD126C\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:05:45 GMT",
        "x-ms-lease-id": "9260642e-3825-4f80-5eeb-8aa73fa2e5da",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-54ea3194-6477-2d92-51d6-73f6a295f4f7/test-blob-548a61d9-919a-254c-3093-af7ccc906de0?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cool",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:45 GMT",
        "x-ms-lease-id": "9260642e-3825-4f80-5eeb-8aa73fa2e5da",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-54ea3194-6477-2d92-51d6-73f6a295f4f7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:45 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "226659489",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}