{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-10f26b9a-77ab-cca2-d48b-0436986d6a26?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 03:46:03 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DECA538515D\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:46:03 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-10f26b9a-77ab-cca2-d48b-0436986d6a26/test-blob-50b95f3d-385b-2685-c71d-a9bbc3197712",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 11 Dec 2019 03:46:03 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "WSgEBPcUQWKQoCvg\u002BxurGISFS/UI4YD5DlCNxl3WbAssZS4BSmY2KB5XwLoNpCqscpA2Ps2CCnioC/anh3oFujQftJXsqs4eTiPXsCDF62kl4VTMny0\u002Bqlu1WD5vj6GjUgWG7fCUv8fBGPCqqllX4h\u002BNgqUmOBsG4Qk6NlGPr76BNF4bP/55kCGNCoc8lP8CXnYf4g37fRnqfwzmWoh2MmkxKHb6PKIhE/GDmS2TyU0KN9jacMyxhrZEMMDykjaZFtgeC2yIByHT/s4cd\u002BTsVrW\u002B3CKvm8GcgKG/tgviLoC76oJUdb7hgTC3BnH\u002BlQ7SWNoKM7YT6XsXgY[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-10f26b9a-77ab-cca2-d48b-0436986d6a26/test-blob-50b95f3d-385b-2685-c71d-a9bbc3197712?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Archive",
        "x-ms-date": "Wed, 11 Dec 2019 03:46:03 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-10f26b9a-77ab-cca2-d48b-0436986d6a26/test-blob-50b95f3d-385b-2685-c71d-a9bbc3197712?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cool",
        "x-ms-date": "Wed, 11 Dec 2019 03:46:03 GMT",
        "x-ms-rehydrate-priority": "High",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-10f26b9a-77ab-cca2-d48b-0436986d6a26/test-blob-50b95f3d-385b-2685-c71d-a9bbc3197712",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:46:03 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "aQ2F5b5ict0qAE48rn0dFQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77DECA544A804\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:46:03 GMT",
        "x-ms-access-tier": "Archive",
        "x-ms-access-tier-change-time": "Wed, 11 Dec 2019 03:46:03 GMT",
        "x-ms-archive-status": "rehydrate-pending-to-cool",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 11 Dec 2019 03:46:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-10f26b9a-77ab-cca2-d48b-0436986d6a26?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:46:03 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1506012663",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}