{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-27323ef0-25de-b314-04cf-7ba8cb19e6e9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:25 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1D6AC4B37\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:25 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-27323ef0-25de-b314-04cf-7ba8cb19e6e9/test-blob-673ba8a3-710e-59dc-a3ec-3d981e0422e0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:25 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "GfZoh6zVpdY0APMFahvxJJSdBSPdf9qm0NbzC9tyEy\u002b22t/LdrMxzgJkMw591\u002b6H\u002bxgDgP/\u002bA5kcwbbW4Zr6wezETpA8Jq7gazYheEzLKfnnbA/DbpIvt9ZFrrT9W\u002bxoaXEhuIheStRqIxXI3YpNUJe87nWKN1JalJa59nf54g9JuA7aqnFxiSE7WEt8Z9pL\u002bF4cQW133TIexyPxpFNdcUAGfiR8c6YmS2RTT98H3S28bf4Z3KGh0tvcu\u002bJNf\u002bTN3eYLdui1z4W39vUJI45SF\u002br2NTdVQ5WeZKxJoLfE2cx/hnH4/GZEB555YuWsmK5[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-27323ef0-25de-b314-04cf-7ba8cb19e6e9/test-blob-a383134d-dfe3-169d-c33f-a896130a9d89",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-27323ef0-25de-b314-04cf-7ba8cb19e6e9/test-blob-673ba8a3-710e-59dc-a3ec-3d981e0422e0",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:25 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1D6B282EA\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:25 GMT",
        "x-ms-copy-id": "110180ac-0b34-417e-a410-c3b0dab4bef3",
        "x-ms-copy-status": "success",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-62610356-8f75-71a3-68f1-fe9fac1dcae4/test-blob-d5b12586-f16d-c710-d6ca-b9a4b84f992f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-62610356-8f75-71a3-68f1-fe9fac1dcae4/test-blob-472943c5-257d-6ffe-c7de-b24750177951",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:25 GMT",
        "x-ms-source-if-modified-since": "Thu, 11 Jul 2019 17:53:25 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1D6C041E2\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:25 GMT",
        "x-ms-copy-id": "8ee85aeb-1007-482c-80c8-e89ef8f1f827",
        "x-ms-copy-status": "success",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-d6a09432-eeb7-77df-544f-71ac5760b497/test-blob-b92bdff5-35bc-f59f-745e-2ef3b7d4667f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-d6a09432-eeb7-77df-544f-71ac5760b497/test-blob-7e7dd46a-6b9d-58e0-ce0e-b3105ee18492",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:25 GMT",
        "x-ms-source-if-unmodified-since": "Sat, 13 Jul 2019 17:53:25 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1D6CDD9C1\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:25 GMT",
        "x-ms-copy-id": "c3c447f7-34b3-4bbc-8e6c-b5a7c6cee9c2",
        "x-ms-copy-status": "success",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-5d165f69-7e17-36bf-4414-7318662bf293/test-blob-a30ab8ba-68c9-2338-e6c5-72808c7aceb3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:25 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "sThVXyAaTWMozQAV3t7fUA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D706F1D6D49224\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:25 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 12 Jul 2019 17:53:25 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-5d165f69-7e17-36bf-4414-7318662bf293/test-blob-6099b3d2-9b47-a529-f235-a8f2c81f1466",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-5d165f69-7e17-36bf-4414-7318662bf293/test-blob-a30ab8ba-68c9-2338-e6c5-72808c7aceb3",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:25 GMT",
        "x-ms-source-if-match": "\u00220x8D706F1D6D49224\u0022",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1D6DA8707\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:25 GMT",
        "x-ms-copy-id": "b8181f8b-6888-455c-b5af-d97c008ae185",
        "x-ms-copy-status": "success",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-ec46d201-8282-5b97-d537-731dcd8cedcd/test-blob-7e76c92c-f60b-dac7-db59-5088a3bd9cda",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-ec46d201-8282-5b97-d537-731dcd8cedcd/test-blob-e59b65b5-b7de-9168-b738-11b0df1f2186",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:25 GMT",
        "x-ms-source-if-none-match": "\u0022garbage\u0022",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1D6E7D0B3\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:25 GMT",
        "x-ms-copy-id": "62f80453-eb87-45bc-acbb-0d002879a4fc",
        "x-ms-copy-status": "success",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-ec46d201-8282-5b97-d537-731dcd8cedcd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:25 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-07-12T10:53:25.4845436-07:00",
    "RandomSeed": "1948284621",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}