{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ab2cf95c-ad05-9d26-1640-8648ec5cb8be?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:48:30 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3749ED47C1C\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:48:30 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ab2cf95c-ad05-9d26-1640-8648ec5cb8be/test-blob-f5790dfa-b870-6c16-3f51-465b5b7d137d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:48:30 GMT"
      },
      "RequestBody": "AvIZpc3UJA4fOLIyeF\u002BdhblXrXsgSCN2MCKlSKHCC\u002BSX\u002BlhLxUotJehr1TcG4/Tgs8ChBM\u002BYXLnOo3SqL9xtXS3Nmn0GUr9uKoeStHPrcE0uxJXgIAYU/52efCLVgvYM/XcKOEl22WABM9pHBahG4zMnfGpHjT0muJrgaNadmKeRhrb74DcDuOs03\u002B0szfr1V5jurgWMxXA644CulnCJY5oytn/xSwL8I8R\u002BEq5Q\u002Buug6xA9r\u002BqhBcBGwfy3VSJ6qntS\u002BRZ6AwyW8opBDbLC6emUDapgTLSvkbG\u002Bq4kFRM2iBGgy/QHUJucEp7xgYPcOg9cTIkh3Gl7HomhlvFiCka28nwlKkOzo[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ab2cf95c-ad05-9d26-1640-8648ec5cb8be/test-blob-bc39846c-5757-00ff-8380-cec9528c63d0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-ab2cf95c-ad05-9d26-1640-8648ec5cb8be/test-blob-f5790dfa-b870-6c16-3f51-465b5b7d137d",
        "x-ms-date": "Wed, 17 Feb 2021 18:48:30 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3749EEF02F9\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:48:30 GMT",
        "x-ms-copy-id": "663f9f82-7c7b-4c60-9b05-6b37cf49bb2d",
        "x-ms-copy-status": "success",
        "x-ms-version-id": "2021-02-17T18:48:30.9066254Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ab2cf95c-ad05-9d26-1640-8648ec5cb8be/test-blob-bc39846c-5757-00ff-8380-cec9528c63d0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:48:30 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "FN/YrHW61v5ntpTnE/kOiw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D3749EEF02F9\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:48:30 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Wed, 17 Feb 2021 18:48:30 GMT",
        "x-ms-copy-id": "663f9f82-7c7b-4c60-9b05-6b37cf49bb2d",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-ab2cf95c-ad05-9d26-1640-8648ec5cb8be/test-blob-f5790dfa-b870-6c16-3f51-465b5b7d137d",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:48:30 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:48:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:48:30.9066254Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ab2cf95c-ad05-9d26-1640-8648ec5cb8be?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:48:30 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1267043879",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}