{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-5884dbc1-d5aa-3a1b-77c0-6c4dd7591016?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 03:46:10 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DECA941F6BB\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:46:10 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-5884dbc1-d5aa-3a1b-77c0-6c4dd7591016/test-blob-714d996d-df80-1b38-296b-ad1c36bd01c1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 11 Dec 2019 03:46:10 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "70s8btXFXqoVYDQfkZREyDJP8J9pXp8xMGchTMbRQpg1Ui6Ipu15pzqiXCCrGIqVJuXq58xhWJCrCj5tpBLjQx2c6j5muyFF1kllxgJ/hhfdjCXh5lvL0/qd3ZyuCwInvhgDDy5LLmvDpRCD/JGOLIMmkBjtAl3B0BZEyN6FlspGPQjpfHfpkV26HkFLR9dpDrAZh3vqOry7QT4YB2aMPg5FPb6IpK8LPf67MuMbdog\u002B2rotaw5PWwJMLjo40Yn2LeAyBQoY4GoADUp8LwjYoMu22SysX9IA9uG8PHZ10mt0xAUD6HB9JfpPLF7D0iz6c45ugvddSs0NMg4oXKT0izrfCGoC1bdaOLQyXDN[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-5884dbc1-d5aa-3a1b-77c0-6c4dd7591016/test-blob-32e7cdfa-eb86-58e7-c7ed-46922d754c7c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://seanstagetest.blob.core.windows.net/test-container-5884dbc1-d5aa-3a1b-77c0-6c4dd7591016/test-blob-714d996d-df80-1b38-296b-ad1c36bd01c1",
        "x-ms-date": "Wed, 11 Dec 2019 03:46:10 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DECA95E0295\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:46:10 GMT",
        "x-ms-copy-id": "f86129a0-3949-4e7f-8eb2-ad2e9f86a8cb",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-5884dbc1-d5aa-3a1b-77c0-6c4dd7591016/test-blob-32e7cdfa-eb86-58e7-c7ed-46922d754c7c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:46:10 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "VIDBSsThDrvj9EJSgdR0Uw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77DECA95E0295\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:46:10 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Wed, 11 Dec 2019 03:46:10 GMT",
        "x-ms-copy-id": "f86129a0-3949-4e7f-8eb2-ad2e9f86a8cb",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://seanstagetest.blob.core.windows.net/test-container-5884dbc1-d5aa-3a1b-77c0-6c4dd7591016/test-blob-714d996d-df80-1b38-296b-ad1c36bd01c1",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 11 Dec 2019 03:46:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-5884dbc1-d5aa-3a1b-77c0-6c4dd7591016?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:46:10 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "713422281",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}