{
  "Entries": [
    {
      "RequestUri": "https://blobindex1.blob.core.windows.net/test-container-297703f9-1d20-4820-0479-7bec6d27eb95?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 07 Apr 2020 00:04:12 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7DA87342DCD31\u0022",
        "Last-Modified": "Tue, 07 Apr 2020 00:04:12 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://blobindex1.blob.core.windows.net/test-container-297703f9-1d20-4820-0479-7bec6d27eb95/test-blob-91e5c0df-ed83-c58d-f542-e1f74d324ff4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 07 Apr 2020 00:04:12 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Vf2ABaxWWQQulGnzUKn7\u002BJVIDjgrkvt\u002B2rWg\u002BTATlJKt7w48zo3biWfgY\u002B\u002BEmXRLRulhBSMWyMIBAir2tmDUGv/WRmCavyoHbIXRSy4M\u002BUFBVLJGsY5vlidLOstj5dMGC0nvrVMTsIe\u002BWpieRX2T9QjptGGtjWhxZ685ToRepIeyyj/lHUztLaMriFf20VGquEXDeTBxWX3gfkWk2mECYLUR63o9rti7\u002B4a\u002BggUQe5Zdj5Y/mypXQHHCBZ4GSVNBKCii5OXXbAptB32pstZ3zwOvRkvLw8SKuqsJe6g5tbIzfVndbpawhiKM0pOtrY6[...]
    {
      "RequestUri": "https://blobindex1.blob.core.windows.net/test-container-297703f9-1d20-4820-0479-7bec6d27eb95/test-blob-0cad4346-bf98-2789-25ca-0e7cf2e4ee23",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://blobindex1.blob.core.windows.net/test-container-297703f9-1d20-4820-0479-7bec6d27eb95/test-blob-91e5c0df-ed83-c58d-f542-e1f74d324ff4",
        "x-ms-date": "Tue, 07 Apr 2020 00:04:12 GMT",
        "x-ms-tags": "tagKey0=tagValue0\u0026tagKey1=tagValue1",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7DA8734565E2F\u0022",
        "Last-Modified": "Tue, 07 Apr 2020 00:04:12 GMT",
        "x-ms-copy-id": "95cdb031-4565-4f6e-9ca6-d238576de464",
        "x-ms-copy-status": "success",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-04-07T00:04:12.9740102Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://blobindex1.blob.core.windows.net/test-container-297703f9-1d20-4820-0479-7bec6d27eb95/test-blob-0cad4346-bf98-2789-25ca-0e7cf2e4ee23",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 07 Apr 2020 00:04:12 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "akUML6Mk5AFWquWiISoO3A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7DA8734565E2F\u0022",
        "Last-Modified": "Tue, 07 Apr 2020 00:04:12 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Tue, 07 Apr 2020 00:04:12 GMT",
        "x-ms-copy-id": "95cdb031-4565-4f6e-9ca6-d238576de464",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://blobindex1.blob.core.windows.net/test-container-297703f9-1d20-4820-0479-7bec6d27eb95/test-blob-91e5c0df-ed83-c58d-f542-e1f74d324ff4",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Tue, 07 Apr 2020 00:04:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "2",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-04-07T00:04:12.9740102Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://blobindex1.blob.core.windows.net/test-container-297703f9-1d20-4820-0479-7bec6d27eb95/test-blob-0cad4346-bf98-2789-25ca-0e7cf2e4ee23?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 07 Apr 2020 00:04:12 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EtagKey0\u003C/Key\u003E\u003CValue\u003EtagValue0\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003EtagKey1\u003C/Key\u003E\u003CValue\u003EtagValue1\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E"
      ]
    },
    {
      "RequestUri": "https://blobindex1.blob.core.windows.net/test-container-297703f9-1d20-4820-0479-7bec6d27eb95?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 07 Apr 2020 00:04:13 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "758580301",
    "Storage_TestConfigDefault": "ProductionTenant\nblobindex1\nU2FuaXRpemVk\nhttps://blobindex1.blob.core.windows.net\nhttps://blobindex1.file.core.windows.net\nhttps://blobindex1.queue.core.windows.net\nhttps://blobindex1.table.core.windows.net\n\n\n\n\nhttps://blobindex1-secondary.blob.core.windows.net\nhttps://blobindex1-secondary.file.core.windows.net\nhttps://blobindex1-secondary.queue.core.windows.net\nhttps://blobindex1-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://blobindex1.blob.core.windows.net/;QueueEndpoint=https://blobindex1.queue.core.windows.net/;FileEndpoint=https://blobindex1.file.core.windows.net/;BlobSecondaryEndpoint=https://blobindex1-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blobindex1-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blobindex1-secondary.file.core.windows.net/;AccountName=blobindex1;AccountKey=Sanitized\nseanscope1"
  }
}