{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-dd0f14c0-1fc5-fe48-b493-664f67a7e0ee?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:52:40 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D37533B64A32\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:52:40 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-dd0f14c0-1fc5-fe48-b493-664f67a7e0ee/test-blob-0b96ea55-f407-9ee3-d3a7-0df5d11292d1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:52:40 GMT"
      },
      "RequestBody": "/HwjGAQfTxRe9opo/noHf0XN34FMi\u002BE3awTs91NNtiPJU8rjLXJ7NpuCrBFpe6BZn42wAzMQhHCb66z/MlfAET9nnquvJFLTUqjmyt7PzvBkk1fFnbLvuc5ZR0LFfANEwZvSAtz1qXs73LGKKbqSyxy7mp//\u002BnSMd\u002BXcVdwPDdaloghD/cwUb\u002BncisABZI8Tx3wlCuFkRMcmRYr2GFSfK8/a5YayT85Qpyu1InC0ihJVyI5g6gL1QF1AHLhBHVaVPV7wJ34JYXiu1WK1riFWcbp3oU/FPkHM5aQocTIVDorVIOUSxGOTTGcWshWgP5I86qv9yXwGz/4cI0Ha4O9GmMbY4I48RK1W41Tnr4wsLKYS7IeHGEUOzlDm9aEiuW[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-dd0f14c0-1fc5-fe48-b493-664f67a7e0ee/test-blob-d73f4a94-827f-8c9f-3da7-989eb3b825d7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "P20",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-dd0f14c0-1fc5-fe48-b493-664f67a7e0ee/test-blob-0b96ea55-f407-9ee3-d3a7-0df5d11292d1",
        "x-ms-date": "Wed, 17 Feb 2021 18:52:40 GMT"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidHeaderValue"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EInvalidHeaderValue\u003C/Code\u003E\u003CMessage\u003EThe value for one of the HTTP headers is not in the correct format.\n",
        "RequestId:57afb3ab-801e-0093-575e-0501c8000000\n",
        "Time:2021-02-17T18:52:40.6645185Z\u003C/Message\u003E\u003CHeaderName\u003Ex-ms-access-tier\u003C/HeaderName\u003E\u003CHeaderValue\u003EP20\u003C/HeaderValue\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-dd0f14c0-1fc5-fe48-b493-664f67a7e0ee?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:52:40 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1740856194",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}