{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8b145fee-8a6b-5d15-c871-81c5463d7f71?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 19:50:13 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D37D3DF77DC8\"",
        "Last-Modified": "Wed, 17 Feb 2021 19:50:13 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8b145fee-8a6b-5d15-c871-81c5463d7f71/test-blob-d6b8af9a-bd0f-0fa4-135a-f433b8b3b99c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 19:50:13 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "JggDqsYycZblcFHKocni31a8x/NzdGkE92c5peJHihOLoVvOszdPaD4i8J5r2m5KdxTc/OzGKLKe/7Nf+MuznuU+Pv9uFCwebV60UYPKmBz57y3Na44mxHmpL7SE73BzblK4LZxu22PovY+NEdYu02aWZgid5jJXF3mGxOR4mn3tQeMxEmuAihPK5a3/mbOje1tN7Ylo1ogfYBUi6BZ+cCIRoNDy/MH7Ftv00gCEWH7G4kmIKqzzhWtbEbFVXqL8S3WL7fjisH6aUtaucwOHmgiWWwXN9kV1HRpll+sQpbg594eL+WqF4zLL7tjVRRJn1HaovgKcL1UvFdDefRmSiqwedHt7/KGeEHfTAQhtoNcI[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8b145fee-8a6b-5d15-c871-81c5463d7f71/test-blob-c32e7ced-162c-84c2-80b6-d5081253ba5f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-8b145fee-8a6b-5d15-c871-81c5463d7f71/test-blob-d6b8af9a-bd0f-0fa4-135a-f433b8b3b99c",
        "x-ms-date": "Wed, 17 Feb 2021 19:50:13 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D37D3E0D4D00\"",
        "Last-Modified": "Wed, 17 Feb 2021 19:50:13 GMT",
        "x-ms-copy-id": "02e79c33-1ff0-496a-acc8-835293f15bc1",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-02-17T19:50:13.8356992Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-139fa845-51da-e9db-97d0-3cba09c9d462/test-blob-7ad6d6b3-2e43-1b9f-198e-50feec0579db",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-139fa845-51da-e9db-97d0-3cba09c9d462/test-blob-23fa93eb-1311-731a-03f6-236a67aa90bf",
        "x-ms-date": "Wed, 17 Feb 2021 19:50:14 GMT",
        "x-ms-source-if-modified-since": "Tue, 16 Feb 2021 19:50:13 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D37D3E544E10\"",
        "Last-Modified": "Wed, 17 Feb 2021 19:50:14 GMT",
        "x-ms-copy-id": "bd11aca6-327c-4fe6-87c1-30d2b5f17470",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-02-17T19:50:14.301032Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-fa05c521-d8fb-4f21-a6bd-74de2dc481ed/test-blob-ec310556-2ecf-65c1-fa35-15077e2f7829",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-fa05c521-d8fb-4f21-a6bd-74de2dc481ed/test-blob-9f34bc20-9017-0eb9-6bc4-ebf1fc7a326b",
        "x-ms-date": "Wed, 17 Feb 2021 19:50:14 GMT",
        "x-ms-source-if-unmodified-since": "Thu, 18 Feb 2021 19:50:13 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D37D3E9F2054\"",
        "Last-Modified": "Wed, 17 Feb 2021 19:50:14 GMT",
        "x-ms-copy-id": "c6688087-fe3c-4cfe-9b44-dd0ebdad39b2",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-02-17T19:50:14.7913812Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3e2b72de-340d-92d2-2b8d-50cb43a020e6/test-blob-2b02209a-4bf1-bce3-13a6-ec196eac91ee",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 19:50:15 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "6SSrXlrNwFRx0tONA+F17A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D8D37D3EDCA9BE\"",
        "Last-Modified": "Wed, 17 Feb 2021 19:50:15 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 19:50:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 19:50:15 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-02-17T19:50:15.1946686Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3e2b72de-340d-92d2-2b8d-50cb43a020e6/test-blob-ec2be25c-e14f-f6d1-d85a-f0bdbd530230",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-3e2b72de-340d-92d2-2b8d-50cb43a020e6/test-blob-2b02209a-4bf1-bce3-13a6-ec196eac91ee",
        "x-ms-date": "Wed, 17 Feb 2021 19:50:15 GMT",
        "x-ms-source-if-match": "0x8D8D37D3EDCA9BE",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D37D3EF146F2\"",
        "Last-Modified": "Wed, 17 Feb 2021 19:50:15 GMT",
        "x-ms-copy-id": "10acccb0-b139-4ba9-b3dd-d40100c5695f",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-02-17T19:50:15.330765Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-49e6fabb-c46c-035a-0747-beb1030fb50e/test-blob-c2c0bd59-111d-b8af-ebb0-70647df6a920",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-49e6fabb-c46c-035a-0747-beb1030fb50e/test-blob-95c18968-9b43-350c-eff6-325b994e4f4c",
        "x-ms-date": "Wed, 17 Feb 2021 19:50:15 GMT",
        "x-ms-source-if-none-match": "\"garbage\"",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D37D3F428317\"",
        "Last-Modified": "Wed, 17 Feb 2021 19:50:15 GMT",
        "x-ms-copy-id": "ee3b9674-37a1-471e-8f5c-ca2d22333a01",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-02-17T19:50:15.8621463Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-49e6fabb-c46c-035a-0747-beb1030fb50e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 19:50:15 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T13:50:13.4851618-06:00",
    "RandomSeed": "263121476",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}