{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-fff715a3-9984-6a10-80d5-047fa25c2246?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 03:46:10 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DECA9827F7F\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:46:10 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-fff715a3-9984-6a10-80d5-047fa25c2246/test-blob-c87b4f59-6309-679e-b36b-5cb243172791",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 11 Dec 2019 03:46:10 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "39a7EmY6vXU7yyXVchK1riKTBEkWcMtT1iphl0t52dZzvB7eFqAKQZvQdq\u002BX/H0x4jM9wP7xU24KZzw72CUpwfJPYrXz1piCiMOtRvocu9qsL7UYPBjXgmiw1K5kzmh1p7S8SJrHPgubuzc7Qw1z7axhj6hwEIXZd99NQgLqHrlaOJ5GYHM/5PGqfYDgnD5bPOYCAj/ABZYv49C6evsJsZ1\u002B4ApuLY04Iqu3xZME\u002Bduh8QUb5xt6mjIIFnyihWn1oMzjYrs07A9YyeCTCD8CKur0GYn27cmBA0bYZRYQlZxBwSXHIZYgbAX2wx075pHzBuySrmzg/7MCYV50W4b5RzNEUkcaO[...]
[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-fff715a3-9984-6a10-80d5-047fa25c2246/test-blob-89ea0b76-1431-dfc8-67ab-355329497c28",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Archive",
        "x-ms-copy-source": "http://seanstagetest.blob.core.windows.net/test-container-fff715a3-9984-6a10-80d5-047fa25c2246/test-blob-c87b4f59-6309-679e-b36b-5cb243172791",
        "x-ms-date": "Wed, 11 Dec 2019 03:46:10 GMT",
        "x-ms-rehydrate-priority": "High",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DECA9A8C786\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:46:10 GMT",
        "x-ms-copy-id": "2cf54d95-898e-449e-881f-c321c6cd4b3c",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-fff715a3-9984-6a10-80d5-047fa25c2246/test-blob-89ea0b76-1431-dfc8-67ab-355329497c28",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:46:10 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "NVZPD7mNY4fXPjgIrcAYGg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77DECA9A8C786\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:46:10 GMT",
        "x-ms-access-tier": "Archive",
        "x-ms-access-tier-change-time": "Wed, 11 Dec 2019 03:46:10 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Wed, 11 Dec 2019 03:46:10 GMT",
        "x-ms-copy-id": "2cf54d95-898e-449e-881f-c321c6cd4b3c",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://seanstagetest.blob.core.windows.net/test-container-fff715a3-9984-6a10-80d5-047fa25c2246/test-blob-c87b4f59-6309-679e-b36b-5cb243172791",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 11 Dec 2019 03:46:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-fff715a3-9984-6a10-80d5-047fa25c2246/test-blob-89ea0b76-1431-dfc8-67ab-355329497c28?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cool",
        "x-ms-date": "Wed, 11 Dec 2019 03:46:10 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-fff715a3-9984-6a10-80d5-047fa25c2246/test-blob-89ea0b76-1431-dfc8-67ab-355329497c28",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:46:11 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "NVZPD7mNY4fXPjgIrcAYGg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77DECA9A8C786\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:46:10 GMT",
        "x-ms-access-tier": "Archive",
        "x-ms-access-tier-change-time": "Wed, 11 Dec 2019 03:46:10 GMT",
        "x-ms-archive-status": "rehydrate-pending-to-cool",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Wed, 11 Dec 2019 03:46:10 GMT",
        "x-ms-copy-id": "2cf54d95-898e-449e-881f-c321c6cd4b3c",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://seanstagetest.blob.core.windows.net/test-container-fff715a3-9984-6a10-80d5-047fa25c2246/test-blob-c87b4f59-6309-679e-b36b-5cb243172791",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 11 Dec 2019 03:46:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-fff715a3-9984-6a10-80d5-047fa25c2246?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:46:11 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "4290217",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}