{
  "Entries": [
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-fff715a3-9984-6a10-80d5-047fa25c2246?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 25 Apr 2020 01:09:42 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B556385919\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:09:42 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-fff715a3-9984-6a10-80d5-047fa25c2246/test-blob-c87b4f59-6309-679e-b36b-5cb243172791",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 25 Apr 2020 01:09:42 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "39a7EmY6vXU7yyXVchK1riKTBEkWcMtT1iphl0t52dZzvB7eFqAKQZvQdq\u002BX/H0x4jM9wP7xU24KZzw72CUpwfJPYrXz1piCiMOtRvocu9qsL7UYPBjXgmiw1K5kzmh1p7S8SJrHPgubuzc7Qw1z7axhj6hwEIXZd99NQgLqHrlaOJ5GYHM/5PGqfYDgnD5bPOYCAj/ABZYv49C6evsJsZ1\u002B4ApuLY04Iqu3xZME\u002Bduh8QUb5xt6mjIIFnyihWn1oMzjYrs07A9YyeCTCD8CKur0GYn27cmBA0bYZRYQlZxBwSXHIZYgbAX2wx075pHzBuySrmzg/7MCYV50W4b5RzNEUkcaO[...]
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-fff715a3-9984-6a10-80d5-047fa25c2246/test-blob-89ea0b76-1431-dfc8-67ab-355329497c28",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Archive",
        "x-ms-copy-source": "http://amandacanary.blob.core.windows.net/test-container-fff715a3-9984-6a10-80d5-047fa25c2246/test-blob-c87b4f59-6309-679e-b36b-5cb243172791",
        "x-ms-date": "Sat, 25 Apr 2020 01:09:43 GMT",
        "x-ms-rehydrate-priority": "High",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B5565C8087\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:09:43 GMT",
        "x-ms-copy-id": "5dc306ff-a53d-4604-86e7-9acb8349f389",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-fff715a3-9984-6a10-80d5-047fa25c2246/test-blob-89ea0b76-1431-dfc8-67ab-355329497c28",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:09:43 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "NVZPD7mNY4fXPjgIrcAYGg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7E8B5565C8087\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:09:43 GMT",
        "x-ms-access-tier": "Archive",
        "x-ms-access-tier-change-time": "Sat, 25 Apr 2020 01:09:43 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Sat, 25 Apr 2020 01:09:43 GMT",
        "x-ms-copy-id": "5dc306ff-a53d-4604-86e7-9acb8349f389",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandacanary.blob.core.windows.net/test-container-fff715a3-9984-6a10-80d5-047fa25c2246/test-blob-c87b4f59-6309-679e-b36b-5cb243172791",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Sat, 25 Apr 2020 01:09:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-fff715a3-9984-6a10-80d5-047fa25c2246/test-blob-89ea0b76-1431-dfc8-67ab-355329497c28?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cool",
        "x-ms-date": "Sat, 25 Apr 2020 01:09:43 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-fff715a3-9984-6a10-80d5-047fa25c2246/test-blob-89ea0b76-1431-dfc8-67ab-355329497c28",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:09:43 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "NVZPD7mNY4fXPjgIrcAYGg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7E8B5565C8087\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:09:43 GMT",
        "x-ms-access-tier": "Archive",
        "x-ms-access-tier-change-time": "Sat, 25 Apr 2020 01:09:43 GMT",
        "x-ms-archive-status": "rehydrate-pending-to-cool",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Sat, 25 Apr 2020 01:09:43 GMT",
        "x-ms-copy-id": "5dc306ff-a53d-4604-86e7-9acb8349f389",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandacanary.blob.core.windows.net/test-container-fff715a3-9984-6a10-80d5-047fa25c2246/test-blob-c87b4f59-6309-679e-b36b-5cb243172791",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Sat, 25 Apr 2020 01:09:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-rehydrate-priority": "Standard",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-fff715a3-9984-6a10-80d5-047fa25c2246?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:09:43 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "4290217",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttp://amandacanary.blob.core.windows.net\nhttp://amandacanary.file.core.windows.net\nhttp://amandacanary.queue.core.windows.net\nhttp://amandacanary.table.core.windows.net\n\n\n\n\nhttp://amandacanary-secondary.blob.core.windows.net\nhttp://amandacanary-secondary.file.core.windows.net\nhttp://amandacanary-secondary.queue.core.windows.net\nhttp://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandacanary.blob.core.windows.net/;QueueEndpoint=http://amandacanary.queue.core.windows.net/;FileEndpoint=http://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Sanitized\n\nDefaultEndpointsProtocol=https;AccountName=ortestsaccountcbn1;AccountKey=OrRfzSm3ktQSklAGiL90/QusS7SdS6Y5S/AJoxZEeyKYDtnue7OKYIMLOraTnT4xcOyhYbqzWVmtTKappcc5Fg==;EndpointSuffix=core.windows.net\nDefaultEndpointsProtocol=https;AccountName=vbalaorcentral1;AccountKey=vlHMz/LZ3Sx7r/1bdTQT26pG0tqORQ4uTIcxGhHB0LQhIhqGxfv2TXV7u\u002BI2ra4UWXrWGGHG2N6l\u002BBfb5FgAcQ==;EndpointSuffix=core.windows.net"
  }
}