{
  "Entries": [
    {
      "RequestUri": "https://hv3xscnapby3pev24a.blob.preprod.core.windows.net/test-container-7e7e170b-7e42-0ec8-b9cd-856e07ebe013?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 18 Aug 2022 14:49:48 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA8128E64E2E30\u0022",
        "Last-Modified": "Thu, 18 Aug 2022 14:49:48 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hv3xscnapby3pev24a.blob.preprod.core.windows.net/test-container-7e7e170b-7e42-0ec8-b9cd-856e07ebe013/test-blob-3e4cfb88-b1fd-dadd-c042-b248c649fb87",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 18 Aug 2022 14:49:48 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "Twk\u002B7Wgtn1pziSKekahsTeOs9xflP31\u002BPKjyMF2aZz66GF/FPymjWlvyynOOPkkX1mVkGlHjoRCLwLG/O2/92CHj5HlJpg26CJ2883QJ7/1e2lr3NU3t1nZPOX935B7s9PJSq1rQzi9XqRG0J66bgdGzYGAUBaLU9g4D\u002BW2OQiR\u002Bz/6Ct0SjjgwqoIs8OK7Hs7euxIO\u002B2O9PfbRLzdTCyWfsNViwGMmND9JU6WUWl71fO0a1336hwPcOMzmPWME3aNYkUAJWF5vtILSxae6KOOb265GODOnoS3VgoeWP/bcQHYGO8ke6CSSrx7/J71cJhPtTmGwvqVvsOwSN9Xa[...]
    {
      "RequestUri": "https://hv3xscnapby3pev24a.blob.preprod.core.windows.net/test-container-7e7e170b-7e42-0ec8-b9cd-856e07ebe013/test-blob-3841f5e0-8b91-05df-c3f9-c7f245c04dcd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cold",
        "x-ms-copy-source": "https://hv3xscnapby3pev24a.blob.preprod.core.windows.net/test-container-7e7e170b-7e42-0ec8-b9cd-856e07ebe013/test-blob-3e4cfb88-b1fd-dadd-c042-b248c649fb87",
        "x-ms-date": "Thu, 18 Aug 2022 14:49:48 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA8128E68C2E34\u0022",
        "Last-Modified": "Thu, 18 Aug 2022 14:49:49 GMT",
        "x-ms-copy-id": "de30905f-dfb2-46dd-8b67-90d56ac6c05c",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hv3xscnapby3pev24a.blob.preprod.core.windows.net/test-container-7e7e170b-7e42-0ec8-b9cd-856e07ebe013/test-blob-3841f5e0-8b91-05df-c3f9-c7f245c04dcd",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 18 Aug 2022 14:49:48 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "/PTrgWG/wBP61QStgB1Jpg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA8128E68C2E34\u0022",
        "Last-Modified": "Thu, 18 Aug 2022 14:49:49 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Thu, 18 Aug 2022 14:49:49 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Thu, 18 Aug 2022 14:49:49 GMT",
        "x-ms-copy-id": "de30905f-dfb2-46dd-8b67-90d56ac6c05c",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://hv3xscnapby3pev24a.blob.preprod.core.windows.net/test-container-7e7e170b-7e42-0ec8-b9cd-856e07ebe013/test-blob-3e4cfb88-b1fd-dadd-c042-b248c649fb87",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Thu, 18 Aug 2022 14:49:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://hv3xscnapby3pev24a.blob.preprod.core.windows.net/test-container-7e7e170b-7e42-0ec8-b9cd-856e07ebe013?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 18 Aug 2022 14:49:48 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "276292314",
    "Storage_TestConfigDefault": "ProductionTenant\nhv3xscnapby3pev24a\nU2FuaXRpemVk\nhttps://hv3xscnapby3pev24a.blob.preprod.core.windows.net\nhttps://hv3xscnapby3pev24a.file.core.windows.net\nhttps://hv3xscnapby3pev24a.queue.core.windows.net\nhttps://hv3xscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttps://hv3xscnapby3pev24a-secondary.blob.core.windows.net\nhttps://hv3xscnapby3pev24a-secondary.file.core.windows.net\nhttps://hv3xscnapby3pev24a-secondary.queue.core.windows.net\nhttps://hv3xscnapby3pev24a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://hv3xscnapby3pev24a.blob.preprod.core.windows.net/;QueueEndpoint=https://hv3xscnapby3pev24a.queue.core.windows.net/;FileEndpoint=https://hv3xscnapby3pev24a.file.core.windows.net/;BlobSecondaryEndpoint=https://hv3xscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://hv3xscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://hv3xscnapby3pev24a-secondary.file.core.windows.net/;AccountName=hv3xscnapby3pev24a;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
