{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-a5c532bc-4c97-e7bd-93d1-762554de4f8c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 01 Jul 2019 21:54:19 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6EAB9A5799\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:54:19 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-a5c532bc-4c97-e7bd-93d1-762554de4f8c/test-blob-45621419-0d87-564d-b881-76ee721a28aa",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 01 Jul 2019 21:54:19 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "bSBZ0WAaVlrn6n0/1R1mpuK\u002bdkH\u002bBCvUr0K420SwgXxyXLgzhH4sKUzuC2hrQ63PVmIqp58dHGn1hSEeYXsVNmgAzHlkMiFjkkz1EPnDaGuU6YTihtrcVD9PPv5dDcjQ2NT/anYzaiNAxhVTJwtwMRy1iXf2M6\u002bOJHc5FfQiBoSEJTckw/71YX9hocDEiS0z3gzip4RQ2qQlcEb\u002b\u002bVQuHr\u002bRzgLUS24ewCf4lJHuyZpKBTboQF7/M0uS/1K49mcqM4MBMrsqX5Kew\u002bdcWEUTNqartPMeRt1gkpq3QUwbZsrAzWEO7ZbfIKajSn13otsFf8irDEFzD[...]
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-a5c532bc-4c97-e7bd-93d1-762554de4f8c/test-blob-7e0b71e6-7444-7554-1205-ae798fdf5e37",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-a5c532bc-4c97-e7bd-93d1-762554de4f8c/test-blob-45621419-0d87-564d-b881-76ee721a28aa",
        "x-ms-date": "Mon, 01 Jul 2019 21:54:19 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6EABA195EF\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:54:19 GMT",
        "x-ms-copy-id": "4bce48e2-fd5b-49d8-9bad-869e2feebeb8",
        "x-ms-copy-status": "success",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-35cb1108-5dd7-0827-4655-50f1f4e290dd/test-blob-fa337b17-ad8e-3f67-da93-f074a54613fa",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Sun, 30 Jun 2019 21:54:19 GMT",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-35cb1108-5dd7-0827-4655-50f1f4e290dd/test-blob-ef56ae3a-39ba-6e45-67aa-206ec11e814b",
        "x-ms-date": "Mon, 01 Jul 2019 21:54:19 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6EABAE4336\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:54:19 GMT",
        "x-ms-copy-id": "ca3fc02d-0ad6-4cf8-992d-b5d58c7b5c20",
        "x-ms-copy-status": "success",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-f280a66d-cdef-ad0e-a081-b29b31a6ddbe/test-blob-7ff6acf5-a752-a6af-5a59-aae9f663bc52",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Tue, 02 Jul 2019 21:54:19 GMT",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-f280a66d-cdef-ad0e-a081-b29b31a6ddbe/test-blob-61782dc3-755c-de7d-96ad-2f644fe1dfbc",
        "x-ms-date": "Mon, 01 Jul 2019 21:54:20 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6EABBA05E4\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:54:20 GMT",
        "x-ms-copy-id": "80c95da5-88ba-4d8e-8fc9-c9986978fe32",
        "x-ms-copy-status": "success",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-c438745b-19f3-f867-8212-c5a1629080ad/test-blob-f09c84cf-8c85-37ac-7786-d3cda7423fc1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:54:20 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "zOAy9mg1xuQvjzRCea5nXw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D6FE6EABC32FE4\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:54:20 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 01 Jul 2019 21:54:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-c438745b-19f3-f867-8212-c5a1629080ad/test-blob-f09c84cf-8c85-37ac-7786-d3cda7423fc1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D6FE6EABC32FE4\u0022",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-c438745b-19f3-f867-8212-c5a1629080ad/test-blob-85864fc6-eeaa-8752-e3c5-f2fd76d7c83e",
        "x-ms-date": "Mon, 01 Jul 2019 21:54:20 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6EABC776AB\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:54:20 GMT",
        "x-ms-copy-id": "be1e6073-3811-466d-b99b-68ec28ead88a",
        "x-ms-copy-status": "success",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-fb0df23f-3af0-894e-f6ae-e04530c2108e/test-blob-9b31fb23-7d8f-b3ac-2b78-e4e9c7883416",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-fb0df23f-3af0-894e-f6ae-e04530c2108e/test-blob-da49ec52-3a6b-3349-6f6e-25439436cea9",
        "x-ms-date": "Mon, 01 Jul 2019 21:54:20 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6EABD3395D\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:54:20 GMT",
        "x-ms-copy-id": "b4c1b960-0a51-4fb1-a99a-bf919745143d",
        "x-ms-copy-status": "success",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6a6b5271-9b69-df11-4281-5e04c6758b2a/test-blob-45ce73c7-e35c-791e-6c82-b04ba2e57da5?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:54:20 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "1b04c939-125b-4ea5-8fe8-33d85557d2c4",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6EABDCD8A6\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:54:20 GMT",
        "x-ms-lease-id": "1b04c939-125b-4ea5-8fe8-33d85557d2c4",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6a6b5271-9b69-df11-4281-5e04c6758b2a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:54:20 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-07-01T14:54:19.8384850-07:00",
    "RandomSeed": "1697073851"
  }
}