{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7d8a821f-3f11-166f-a0f3-0ab9bf6915f0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:07:07 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E8BA8514D3\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:07:07 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7d8a821f-3f11-166f-a0f3-0ab9bf6915f0/test-blob-1a80247f-4c04-e595-cb9c-400969a17e1a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:07:07 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "Xg1Q1OhpaBWmOgrR1oHAKkEqrbExnTbrmiLeZLiFnWwtUY9HJd33oqQi0n7\u002B9JxJECcVh1lh5cHXZDnFigRcIJ2eo4TyeARjMgoMD8q47aaGlFSRcBUSzGvOcMCkMhigxbLgYFAXV5cisVROVNb2HneTP/avy6\u002BIi9cZIwhEvwDybEkY14xVbj29br/AxHeV11JJEPMh8foCWNV4/jOP3vJUW\u002BiN3kfqPtC48VzwyMZgg0y2\u002Bq4N0HpOFn\u002B33G8JLpDMa2iOCPkKXtIiaf\u002BeEY8OGHrn2eNDR4ttPsfIM2Fhr8LMI1xe0XtSq5zc6md6sATvqMT0IVWsiSTdIckxQSpwwbk80e0zsEb/lS1GZlwj8o3D2YudbI1tH5k4gLCyIGlxbCm[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7d8a821f-3f11-166f-a0f3-0ab9bf6915f0/test-blob-e4007d7a-462d-af07-a1e9-e287087cc28d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Archive",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-7d8a821f-3f11-166f-a0f3-0ab9bf6915f0/test-blob-1a80247f-4c04-e595-cb9c-400969a17e1a",
        "x-ms-date": "Wed, 17 Feb 2021 02:07:07 GMT",
        "x-ms-rehydrate-priority": "High",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E8BAA509F0\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:07:07 GMT",
        "x-ms-copy-id": "47c0f67f-dafd-4a80-8e0a-bbdf0303b6a3",
        "x-ms-copy-status": "success",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:07:07.8558976Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7d8a821f-3f11-166f-a0f3-0ab9bf6915f0/test-blob-e4007d7a-462d-af07-a1e9-e287087cc28d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:07:07 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ddHrK9o3KielC3M0vwDxfw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2E8BAA509F0\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:07:07 GMT",
        "x-ms-access-tier": "Archive",
        "x-ms-access-tier-change-time": "Wed, 17 Feb 2021 02:07:07 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Wed, 17 Feb 2021 02:07:07 GMT",
        "x-ms-copy-id": "47c0f67f-dafd-4a80-8e0a-bbdf0303b6a3",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-7d8a821f-3f11-166f-a0f3-0ab9bf6915f0/test-blob-1a80247f-4c04-e595-cb9c-400969a17e1a",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 17 Feb 2021 02:07:07 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 02:07:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:07:07.8558976Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7d8a821f-3f11-166f-a0f3-0ab9bf6915f0/test-blob-e4007d7a-462d-af07-a1e9-e287087cc28d?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cool",
        "x-ms-date": "Wed, 17 Feb 2021 02:07:07 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7d8a821f-3f11-166f-a0f3-0ab9bf6915f0/test-blob-e4007d7a-462d-af07-a1e9-e287087cc28d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:07:07 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ddHrK9o3KielC3M0vwDxfw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2E8BAA509F0\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:07:07 GMT",
        "x-ms-access-tier": "Archive",
        "x-ms-access-tier-change-time": "Wed, 17 Feb 2021 02:07:07 GMT",
        "x-ms-archive-status": "rehydrate-pending-to-cool",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Wed, 17 Feb 2021 02:07:07 GMT",
        "x-ms-copy-id": "47c0f67f-dafd-4a80-8e0a-bbdf0303b6a3",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-7d8a821f-3f11-166f-a0f3-0ab9bf6915f0/test-blob-1a80247f-4c04-e595-cb9c-400969a17e1a",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 17 Feb 2021 02:07:07 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 02:07:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-rehydrate-priority": "Standard",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:07:07.8558976Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7d8a821f-3f11-166f-a0f3-0ab9bf6915f0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:07:07 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "649161382",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}