{
  "Entries": [
    {
      "RequestUri": "http://gapradev.blob.core.windows.net/test-container-83c5d7b2-1c09-ea7b-97e4-85dafd993991?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 12 Sep 2019 23:56:59 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D737DCE6AB4318\"",
        "Last-Modified": "Thu, 12 Sep 2019 23:56:59 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://gapradev.blob.core.windows.net/test-container-83c5d7b2-1c09-ea7b-97e4-85dafd993991/test-blob-b82ec0c4-99cd-89cc-1312-8777213b06b6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 12 Sep 2019 23:56:59 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "JPmiPyMSHKIT66eK4ohiQJYKeyKzB7+e8ewUYqNUQfR0kBdWGLzMsqSLpeHxQaeKsEfgFsDkAh05BE43/br/vqmzFlFxCyfaPsh+J2HdrK9EibJccyszj475HRRtlbTpjOY3PipWGaQfBtj3Ztq7XFif8nMIokt+f4bCd+4TbagUlJt7pW2E7nAOPGxSOyizPsC8zaNA4emaub+kk6G1DJkv49I/QLbqGgMD+WbeK0NdDzktVp8E1LKx4Oyu4FrOWC/TI1hWdP4K0bOfPeiDu417RoRoh7b5Kg8gjl/KPDqoNKE2CwjrB5s7I4TsZZbKLSRfMprWZtF52fhJNuaeQJV49whGTLCEkD7pLWMxDcV4[...]
    {
      "RequestUri": "http://gapradev.blob.core.windows.net/test-container-83c5d7b2-1c09-ea7b-97e4-85dafd993991/test-blob-9956dba7-7aea-4fbd-e949-4167113239bf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Archive",
        "x-ms-copy-source": "http://gapradev.blob.core.windows.net/test-container-83c5d7b2-1c09-ea7b-97e4-85dafd993991/test-blob-b82ec0c4-99cd-89cc-1312-8777213b06b6",
        "x-ms-date": "Thu, 12 Sep 2019 23:56:59 GMT",
        "x-ms-rehydrate-priority": "None",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidHeaderValue",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidHeaderValue</Code><Message>The value for one of the HTTP headers is not in the correct format.\n",
        "RequestId:652fb941-501e-000b-19c5-696950000000\n",
        "Time:2019-09-12T23:57:00.0270812Z</Message><HeaderName>x-ms-rehydrate-priority</HeaderName><HeaderValue>None</HeaderValue></Error>"
      ]
    },
    {
      "RequestUri": "http://gapradev.blob.core.windows.net/test-container-83c5d7b2-1c09-ea7b-97e4-85dafd993991?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 12 Sep 2019 23:57:00 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "745451831",
    "Storage_TestConfigDefault": "ProductionTenant\ngapradev\nU2FuaXRpemVk\nhttp://gapradev.blob.core.windows.net\nhttp://gapradev.file.core.windows.net\nhttp://gapradev.queue.core.windows.net\nhttp://gapradev.table.core.windows.net\n\n\n\n\nhttp://gapradev-secondary.blob.core.windows.net\nhttp://gapradev-secondary.file.core.windows.net\nhttp://gapradev-secondary.queue.core.windows.net\nhttp://gapradev-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://gapradev.blob.core.windows.net/;QueueEndpoint=http://gapradev.queue.core.windows.net/;TableEndpoint=http://gapradev.table.core.windows.net/;FileEndpoint=http://gapradev.file.core.windows.net/;BlobSecondaryEndpoint=http://gapradev-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://gapradev-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://gapradev-secondary.table.core.windows.net/;FileSecondaryEndpoint=http://gapradev-secondary.file.core.windows.net/;AccountName=gapradev;AccountKey=Sanitized\n\n"
  }
}