{
  "Entries": [
    {
      "RequestUri": "http://gapradev.blob.core.windows.net/test-container-903ac2dd-6fb8-c67a-c21e-b87d68495047?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 12 Sep 2019 23:54:39 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D737DC92F3A6DA\"",
        "Last-Modified": "Thu, 12 Sep 2019 23:54:39 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://gapradev.blob.core.windows.net/test-container-903ac2dd-6fb8-c67a-c21e-b87d68495047/test-blob-014c1d31-15fc-1b5c-6382-0eed826238b4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 12 Sep 2019 23:54:39 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "GEJK4SsCWLRsPM1T0G/dGJJy5nHBA3kdKwHrbF1bhLswPNeZH1hPLsSYlL9HCUr0pPVbEHzH8hTJLLUpF+xXEbgSI5SXQ/g5IrisKW661iK398dnAHM/aErD0POiJRfXQYMHNea2XGH9Ie3DGsmlDlaTch8k7xFE0rpJ1HMFlv2g1ejrsqE7AJpmat6Ge02AHcGcD7L3slFxwmIrbIjt94rwI0XhuVy0V3KFvoQyvlZtybayaIdKqSKWefA+EJMSeXJUlVgIn2Nl6LdAcfTMPwMMvqPROo8CpnkiS0Brdkbec0UR3in9ZClTTYDQCTcuyTrtMlLwQD7jUe/f5VQj+XFwYv6uumDaDll5fuwOMpxC[...]
    {
      "RequestUri": "http://gapradev.blob.core.windows.net/test-container-903ac2dd-6fb8-c67a-c21e-b87d68495047/test-blob-2c90b627-494c-a59e-e007-165ce2934f32",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Archive",
        "x-ms-copy-source": "http://gapradev.blob.core.windows.net/test-container-903ac2dd-6fb8-c67a-c21e-b87d68495047/test-blob-014c1d31-15fc-1b5c-6382-0eed826238b4",
        "x-ms-date": "Thu, 12 Sep 2019 23:54:39 GMT",
        "x-ms-rehydrate-priority": "None",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidHeaderValue",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidHeaderValue</Code><Message>The value for one of the HTTP headers is not in the correct format.\n",
        "RequestId:4cdff212-c01e-0044-04c5-691804000000\n",
        "Time:2019-09-12T23:54:39.5728224Z</Message><HeaderName>x-ms-rehydrate-priority</HeaderName><HeaderValue>None</HeaderValue></Error>"
      ]
    },
    {
      "RequestUri": "http://gapradev.blob.core.windows.net/test-container-903ac2dd-6fb8-c67a-c21e-b87d68495047?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 12 Sep 2019 23:54:39 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2111209273",
    "Storage_TestConfigDefault": "ProductionTenant\ngapradev\nU2FuaXRpemVk\nhttp://gapradev.blob.core.windows.net\nhttp://gapradev.file.core.windows.net\nhttp://gapradev.queue.core.windows.net\nhttp://gapradev.table.core.windows.net\n\n\n\n\nhttp://gapradev-secondary.blob.core.windows.net\nhttp://gapradev-secondary.file.core.windows.net\nhttp://gapradev-secondary.queue.core.windows.net\nhttp://gapradev-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://gapradev.blob.core.windows.net/;QueueEndpoint=http://gapradev.queue.core.windows.net/;TableEndpoint=http://gapradev.table.core.windows.net/;FileEndpoint=http://gapradev.file.core.windows.net/;BlobSecondaryEndpoint=http://gapradev-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://gapradev-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://gapradev-secondary.table.core.windows.net/;FileSecondaryEndpoint=http://gapradev-secondary.file.core.windows.net/;AccountName=gapradev;AccountKey=Sanitized\n\n"
  }
}