{
  "Entries": [
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-98a64206-6172-9e79-7ec3-f7a8d9fcfa39?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 25 Apr 2020 01:07:40 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B50D80DDB2\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:07:40 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-98a64206-6172-9e79-7ec3-f7a8d9fcfa39/test-blob-6907e68a-46a9-7136-500a-353de42246a8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 25 Apr 2020 01:07:40 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "NqvUlTmnbb\u002BZvJfYOcbc7MBszHHPIqGNDlECwnn3pSivsvQUod/X4nlH0OyuXTeJLUl8d1bV2BMKRobnpapGoRduKIfSyErhler3h1K03rAZeJQvey3S2drgCVtZ7zzOAS/UPzWwtmX\u002Bm\u002BJr3lDBVWfVzi0WFiXqnE6t8r7vh6auKIUj4J97aMIuMOBKZvuJHrTzgyEPuOsJ6qPmA8SnDxM8vbXLnnXIWmVr5\u002BVEoDVSI9MJ/ASEnnCaGfX7lWX9hyHNDqlGvoA/Kim7pNEGxUpuk9/wnRMPtx5FMIR/zcUAbV/Dd5GLDGVSydHayfqfk1SrjAGFDekOvVeKAI37wF1k[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-98a64206-6172-9e79-7ec3-f7a8d9fcfa39/test-blob-6b15dc8e-a755-0ae1-b1a0-881e80ac5ddd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://amandacanary.blob.core.windows.net/test-container-98a64206-6172-9e79-7ec3-f7a8d9fcfa39/test-blob-6907e68a-46a9-7136-500a-353de42246a8",
        "x-ms-date": "Sat, 25 Apr 2020 01:07:41 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B50D9782C0\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:07:41 GMT",
        "x-ms-copy-id": "9d8f669f-c044-411c-b7b1-4464b870837f",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-98a64206-6172-9e79-7ec3-f7a8d9fcfa39/test-blob-6b15dc8e-a755-0ae1-b1a0-881e80ac5ddd",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:07:41 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "bCBCqablwnIwIuu4mltHbw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7E8B50D9782C0\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:07:41 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Sat, 25 Apr 2020 01:07:41 GMT",
        "x-ms-copy-id": "9d8f669f-c044-411c-b7b1-4464b870837f",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandacanary.blob.core.windows.net/test-container-98a64206-6172-9e79-7ec3-f7a8d9fcfa39/test-blob-6907e68a-46a9-7136-500a-353de42246a8",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Sat, 25 Apr 2020 01:07:41 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-98a64206-6172-9e79-7ec3-f7a8d9fcfa39?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:07:41 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "352254810",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttp://amandacanary.blob.core.windows.net\nhttp://amandacanary.file.core.windows.net\nhttp://amandacanary.queue.core.windows.net\nhttp://amandacanary.table.core.windows.net\n\n\n\n\nhttp://amandacanary-secondary.blob.core.windows.net\nhttp://amandacanary-secondary.file.core.windows.net\nhttp://amandacanary-secondary.queue.core.windows.net\nhttp://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandacanary.blob.core.windows.net/;QueueEndpoint=http://amandacanary.queue.core.windows.net/;FileEndpoint=http://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Sanitized\n\nDefaultEndpointsProtocol=https;AccountName=ortestsaccountcbn1;AccountKey=OrRfzSm3ktQSklAGiL90/QusS7SdS6Y5S/AJoxZEeyKYDtnue7OKYIMLOraTnT4xcOyhYbqzWVmtTKappcc5Fg==;EndpointSuffix=core.windows.net\nDefaultEndpointsProtocol=https;AccountName=vbalaorcentral1;AccountKey=vlHMz/LZ3Sx7r/1bdTQT26pG0tqORQ4uTIcxGhHB0LQhIhqGxfv2TXV7u\u002BI2ra4UWXrWGGHG2N6l\u002BBfb5FgAcQ==;EndpointSuffix=core.windows.net"
  }
}