{
  "Entries": [
    {
      "RequestUri": "https://473xscnapby3pev24a.blob.preprod.core.windows.net/test-container-2980ecb6-5d0e-dc96-571d-9d1ba96e0742?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 23 Mar 2022 19:39:23 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA0D04D561C321\u0022",
        "Last-Modified": "Wed, 23 Mar 2022 19:39:23 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://473xscnapby3pev24a.blob.preprod.core.windows.net/test-container-2980ecb6-5d0e-dc96-571d-9d1ba96e0742/test-blob-bbebe053-879a-88fd-e8b4-e0de6d108124",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 23 Mar 2022 19:39:23 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "qwte\u002BREK3ZNGNbmMJM\u002BQozVtMnpItvc1stQUsOqSi1Zl5YgwRgFxSANYdWXNcGMYJDyo/94H2/QUKEY99iyos6ljJz5HX1w0/Op38EGRaEJx/Iyt6ot3XQqTHB66M1LWr8G7akkk0MTgdAP0kOuzgsADzPqg\u002Bske68k0s0M\u002BeciXoEB/1f35TCvHzXWIg80e4JldtmdXNbX4nX9/7x2Aofs6XO\u002BrM6zCCn/P2CxTlWf7FtKq4MJgP2qKhzh\u002BeVwNRix6Tifdc63sm6zoiF2IpQgXhNlK1sA42RyEIKt0Q5EjwZEA2EZAHaIlvUUWeLcNAuIwZ/WDwm9rQX[...]
    {
      "RequestUri": "https://473xscnapby3pev24a.blob.preprod.core.windows.net/test-container-2980ecb6-5d0e-dc96-571d-9d1ba96e0742/test-blob-c7484ae3-a247-1802-a7c1-4987d6afa85f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://473xscnapby3pev24a.blob.preprod.core.windows.net/test-container-2980ecb6-5d0e-dc96-571d-9d1ba96e0742/test-blob-bbebe053-879a-88fd-e8b4-e0de6d108124",
        "x-ms-date": "Wed, 23 Mar 2022 19:39:23 GMT",
        "x-ms-ignore-strong-consistency-lock": "true",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA0D04D5BAA66A\u0022",
        "Last-Modified": "Wed, 23 Mar 2022 19:39:24 GMT",
        "x-ms-copy-id": "17535623-5468-45c0-9a9c-fafca530ed92",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://473xscnapby3pev24a.blob.preprod.core.windows.net/test-container-2980ecb6-5d0e-dc96-571d-9d1ba96e0742/test-blob-c7484ae3-a247-1802-a7c1-4987d6afa85f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Mar 2022 19:39:23 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "SgY1zlc21A\u002Ba\u002BYQljID0vw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA0D04D5BAA66A\u0022",
        "Last-Modified": "Wed, 23 Mar 2022 19:39:24 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Wed, 23 Mar 2022 19:39:24 GMT",
        "x-ms-copy-id": "17535623-5468-45c0-9a9c-fafca530ed92",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://473xscnapby3pev24a.blob.preprod.core.windows.net/test-container-2980ecb6-5d0e-dc96-571d-9d1ba96e0742/test-blob-bbebe053-879a-88fd-e8b4-e0de6d108124",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 23 Mar 2022 19:39:24 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://473xscnapby3pev24a.blob.preprod.core.windows.net/test-container-2980ecb6-5d0e-dc96-571d-9d1ba96e0742?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Mar 2022 19:39:23 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "934597702",
    "Storage_TestConfigSecondary": "SecondaryTenant\n473xscnapby3pev24a\nU2FuaXRpemVk\nhttps://473xscnapby3pev24a.blob.preprod.core.windows.net\nhttp://473xscnapby3pev24a.file.core.windows.net\nhttp://473xscnapby3pev24a.queue.core.windows.net\nhttp://473xscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttp://473xscnapby3pev24a-secondary.blob.core.windows.net\nhttp://473xscnapby3pev24a-secondary.file.core.windows.net\nhttp://473xscnapby3pev24a-secondary.queue.core.windows.net\nhttp://473xscnapby3pev24a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://473xscnapby3pev24a.blob.preprod.core.windows.net/;QueueEndpoint=http://473xscnapby3pev24a.queue.core.windows.net/;FileEndpoint=http://473xscnapby3pev24a.file.core.windows.net/;BlobSecondaryEndpoint=http://473xscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://473xscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://473xscnapby3pev24a-secondary.file.core.windows.net/;AccountName=473xscnapby3pev24a;AccountKey=Sanitized\n\n\n"
  }
}
