{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-98a64206-6172-9e79-7ec3-f7a8d9fcfa39?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:47 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B48FF3FFA\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:05:47 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-98a64206-6172-9e79-7ec3-f7a8d9fcfa39/test-blob-52c344d3-afcc-8934-4bf5-5a2ac0767410",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:47 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "iuYHaalGNnFQCjU95CJGqDar1JU5p22/mbyX2DnG3OzAbMxxzyKhjQ5RAsJ596Uor7L0FKHf1\u002bJ5R9Dsrl03iS1JfHdW1dgTCkaG56WqRqEXbiiH0shK4ZXq94dStN6wGXiUL3st0tna4AlbWe88zgEv1D81sLZl/pvia95QwVVn1c4tFhYl6pxOrfK\u002b74emriiFI\u002bCfe2jCLjDgSmb7iR6084MhD7jrCeqj5gPEpw8TPL21y551yFpla\u002bflRKA1UiPTCfwEhJ5wmhn1\u002b5Vl/YchzQ6pRr6APyopu6TRBsVKbpPf8J0TD7ceRTCEf83FAG1fw3eRiwxlUsnR2sn[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-98a64206-6172-9e79-7ec3-f7a8d9fcfa39/test-blob-795c6cf9-e9dd-434e-4ec2-38ded2c8ea23",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-98a64206-6172-9e79-7ec3-f7a8d9fcfa39/test-blob-52c344d3-afcc-8934-4bf5-5a2ac0767410",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:47 GMT",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B49076FB9\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:05:47 GMT",
        "x-ms-copy-id": "e769741e-a76c-4875-8c7b-99b01a2e529c",
        "x-ms-copy-status": "success",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-98a64206-6172-9e79-7ec3-f7a8d9fcfa39/test-blob-795c6cf9-e9dd-434e-4ec2-38ded2c8ea23",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:47 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "HBG3EW3nwZfZ66UfmnMPPg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D70A5B49076FB9\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:05:47 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Wed, 17 Jul 2019 02:05:47 GMT",
        "x-ms-copy-id": "e769741e-a76c-4875-8c7b-99b01a2e529c",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://storageteglazatesting.blob.core.windows.net/test-container-98a64206-6172-9e79-7ec3-f7a8d9fcfa39/test-blob-52c344d3-afcc-8934-4bf5-5a2ac0767410",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 17 Jul 2019 02:05:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-98a64206-6172-9e79-7ec3-f7a8d9fcfa39?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:05:48 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "352254810",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}