{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-f75535a8-b0de-c4a5-1de1-a149776f32b9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 03:44:25 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEC6AFFAA19\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:44:25 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-f75535a8-b0de-c4a5-1de1-a149776f32b9/test-blob-6c4671d3-ed7b-8510-7be9-e5d4a1ce1058",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 11 Dec 2019 03:44:25 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "FoA7W23RhLlfoiyOiHWGFBonBEJ\u002BX6YgC3zmTHB8K8YRQS1kwpR6Au2NDdnAgf0FYtC6ecnN2rfZGk/x6jdJ4nZmfUZIIlGFrAFV8FLNYIp\u002B4emfwrH8Q2d2iqhEiRe1RCpiWgS2vD9\u002BNMzHeOllDLrFcglOqSDFaTnf0ZipQCPqn6wnagWFyCSpII3kNMt9EX3ufxcOZ5oKnPDL1uun1fOp3dg9PaG0QKrkpImT4DVuYb8au8EM2zgRHc4VufE4AkuZOlfzQNTbOT5sKsIRdru7XXUsjBkynQKfLCDTn4a4q6I9\u002BabeeyHrP4GCn7F1/6YSWVx8DHUxZ51UUxOzCJq4[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-f75535a8-b0de-c4a5-1de1-a149776f32b9/test-blob-18c4bbfe-8547-69dc-abaa-1fbab5a0b588",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cool",
        "x-ms-copy-source": "http://seanstagetest.blob.core.windows.net/test-container-f75535a8-b0de-c4a5-1de1-a149776f32b9/test-blob-6c4671d3-ed7b-8510-7be9-e5d4a1ce1058",
        "x-ms-date": "Wed, 11 Dec 2019 03:44:25 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEC6B19CBEF\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:44:25 GMT",
        "x-ms-copy-id": "8340f895-108a-4c0e-bee5-a8ac675f2b84",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-f75535a8-b0de-c4a5-1de1-a149776f32b9/test-blob-18c4bbfe-8547-69dc-abaa-1fbab5a0b588",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:44:25 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "PeoFrRWTsLqI6k8gyeI4SA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77DEC6B19CBEF\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:44:25 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-change-time": "Wed, 11 Dec 2019 03:44:25 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Wed, 11 Dec 2019 03:44:25 GMT",
        "x-ms-copy-id": "8340f895-108a-4c0e-bee5-a8ac675f2b84",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://seanstagetest.blob.core.windows.net/test-container-f75535a8-b0de-c4a5-1de1-a149776f32b9/test-blob-6c4671d3-ed7b-8510-7be9-e5d4a1ce1058",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 11 Dec 2019 03:44:25 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-f75535a8-b0de-c4a5-1de1-a149776f32b9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:44:26 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1597769791",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}