{
  "Entries": [
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-8b145fee-8a6b-5d15-c871-81c5463d7f71?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 25 Apr 2020 01:07:42 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B50E5D898F\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:07:42 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-8b145fee-8a6b-5d15-c871-81c5463d7f71/test-blob-d6b8af9a-bd0f-0fa4-135a-f433b8b3b99c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 25 Apr 2020 01:07:42 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "JggDqsYycZblcFHKocni31a8x/NzdGkE92c5peJHihOLoVvOszdPaD4i8J5r2m5KdxTc/OzGKLKe/7Nf\u002BMuznuU\u002BPv9uFCwebV60UYPKmBz57y3Na44mxHmpL7SE73BzblK4LZxu22PovY\u002BNEdYu02aWZgid5jJXF3mGxOR4mn3tQeMxEmuAihPK5a3/mbOje1tN7Ylo1ogfYBUi6BZ\u002BcCIRoNDy/MH7Ftv00gCEWH7G4kmIKqzzhWtbEbFVXqL8S3WL7fjisH6aUtaucwOHmgiWWwXN9kV1HRpll\u002BsQpbg594eL\u002BWqF4zLL7tjVRRJn1HaovgKcL1UvFd[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-8b145fee-8a6b-5d15-c871-81c5463d7f71/test-blob-c32e7ced-162c-84c2-80b6-d5081253ba5f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://amandacanary.blob.core.windows.net/test-container-8b145fee-8a6b-5d15-c871-81c5463d7f71/test-blob-d6b8af9a-bd0f-0fa4-135a-f433b8b3b99c",
        "x-ms-date": "Sat, 25 Apr 2020 01:07:42 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B50E7408AD\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:07:42 GMT",
        "x-ms-copy-id": "d9de22f7-c6a6-4a64-b94c-bac8ec002071",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-139fa845-51da-e9db-97d0-3cba09c9d462/test-blob-7ad6d6b3-2e43-1b9f-198e-50feec0579db",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://amandacanary.blob.core.windows.net/test-container-139fa845-51da-e9db-97d0-3cba09c9d462/test-blob-23fa93eb-1311-731a-03f6-236a67aa90bf",
        "x-ms-date": "Sat, 25 Apr 2020 01:07:42 GMT",
        "x-ms-source-if-modified-since": "Fri, 24 Apr 2020 01:07:42 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B50EA2B35A\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:07:42 GMT",
        "x-ms-copy-id": "97aea4ce-c21b-4dbc-81ab-deab95712e25",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-fa05c521-d8fb-4f21-a6bd-74de2dc481ed/test-blob-ec310556-2ecf-65c1-fa35-15077e2f7829",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://amandacanary.blob.core.windows.net/test-container-fa05c521-d8fb-4f21-a6bd-74de2dc481ed/test-blob-9f34bc20-9017-0eb9-6bc4-ebf1fc7a326b",
        "x-ms-date": "Sat, 25 Apr 2020 01:07:43 GMT",
        "x-ms-source-if-unmodified-since": "Sun, 26 Apr 2020 01:07:42 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B50ED09AD4\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:07:43 GMT",
        "x-ms-copy-id": "6bc78824-2415-4f68-b476-b39c901ea6b5",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-3e2b72de-340d-92d2-2b8d-50cb43a020e6/test-blob-2b02209a-4bf1-bce3-13a6-ec196eac91ee",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:07:43 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "6SSrXlrNwFRx0tONA\u002BF17A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7E8B50EF31230\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:07:43 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 25 Apr 2020 01:07:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-3e2b72de-340d-92d2-2b8d-50cb43a020e6/test-blob-ec2be25c-e14f-f6d1-d85a-f0bdbd530230",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://amandacanary.blob.core.windows.net/test-container-3e2b72de-340d-92d2-2b8d-50cb43a020e6/test-blob-2b02209a-4bf1-bce3-13a6-ec196eac91ee",
        "x-ms-date": "Sat, 25 Apr 2020 01:07:43 GMT",
        "x-ms-source-if-match": "\u00220x8D7E8B50EF31230\u0022",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B50F097D48\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:07:43 GMT",
        "x-ms-copy-id": "6b42f4db-f892-4156-8405-7173b1749663",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-49e6fabb-c46c-035a-0747-beb1030fb50e/test-blob-c2c0bd59-111d-b8af-ebb0-70647df6a920",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://amandacanary.blob.core.windows.net/test-container-49e6fabb-c46c-035a-0747-beb1030fb50e/test-blob-95c18968-9b43-350c-eff6-325b994e4f4c",
        "x-ms-date": "Sat, 25 Apr 2020 01:07:43 GMT",
        "x-ms-source-if-none-match": "\u0022garbage\u0022",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B50F3800EB\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:07:43 GMT",
        "x-ms-copy-id": "0d8536a4-6c50-4dc7-b146-56db5a7cd49c",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-49e6fabb-c46c-035a-0747-beb1030fb50e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:07:43 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-24T18:07:42.3572762-07:00",
    "RandomSeed": "263121476",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttp://amandacanary.blob.core.windows.net\nhttp://amandacanary.file.core.windows.net\nhttp://amandacanary.queue.core.windows.net\nhttp://amandacanary.table.core.windows.net\n\n\n\n\nhttp://amandacanary-secondary.blob.core.windows.net\nhttp://amandacanary-secondary.file.core.windows.net\nhttp://amandacanary-secondary.queue.core.windows.net\nhttp://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandacanary.blob.core.windows.net/;QueueEndpoint=http://amandacanary.queue.core.windows.net/;FileEndpoint=http://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Sanitized\n\nDefaultEndpointsProtocol=https;AccountName=ortestsaccountcbn1;AccountKey=OrRfzSm3ktQSklAGiL90/QusS7SdS6Y5S/AJoxZEeyKYDtnue7OKYIMLOraTnT4xcOyhYbqzWVmtTKappcc5Fg==;EndpointSuffix=core.windows.net\nDefaultEndpointsProtocol=https;AccountName=vbalaorcentral1;AccountKey=vlHMz/LZ3Sx7r/1bdTQT26pG0tqORQ4uTIcxGhHB0LQhIhqGxfv2TXV7u\u002BI2ra4UWXrWGGHG2N6l\u002BBfb5FgAcQ==;EndpointSuffix=core.windows.net"
  }
}