{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3c49beaa-35b3-1030-f72e-7f6ffd14790c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:48:20 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D37498AAA209\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:48:20 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3c49beaa-35b3-1030-f72e-7f6ffd14790c/test-blob-af16ea6f-cb98-0d64-e1e9-aad7590f73bb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:48:20 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "YjCEdeo9rddeRwtrva5q1KU1sbIlHLceIx1adhp6dl3bIszEOMG8Mj0+UFHA+U8yf9YxJF3AlkV4ZVHN4ja949Ctj5vhpZvkeH915stlXirNKPZDSVIAGoyGS9Nv708GgGyAEmm0UNk6TKveS696EwYn/7o/eZp+rXQOW1nIdIkvbmZf5UzAGNcdCfymIc/cDDjMSO+UxgbSAmT0pfWActgirtxJGy26Z+bjInCd14ylMk4g+yyZmqhfjOPny3PhnZckg3LzkvELEuEJsaOWNSrYT3OnX3ariRM06o5K0ptzAoXYeFQZsaBcFehLkOkEyFa4Dnz/OT4gefpfv6diwD9Gla4evb3Wv53TSkmNYPgq[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3c49beaa-35b3-1030-f72e-7f6ffd14790c/test-blob-e5bd2aa5-6d77-d8ea-561c-fce0b6333fd1?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Wed, 17 Feb 2021 18:48:20 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "﻿<Tags><TagSet><Tag><Key>coolTag</Key><Value>true</Value></Tag></TagSet></Tags>",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3c49beaa-35b3-1030-f72e-7f6ffd14790c/test-blob-e5bd2aa5-6d77-d8ea-561c-fce0b6333fd1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-3c49beaa-35b3-1030-f72e-7f6ffd14790c/test-blob-af16ea6f-cb98-0d64-e1e9-aad7590f73bb",
        "x-ms-date": "Wed, 17 Feb 2021 18:48:20 GMT",
        "x-ms-if-tags": "\"coolTag\" = 'true'",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D37498F8F67B\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:48:20 GMT",
        "x-ms-copy-id": "c6f9fbd8-d62e-4453-a83c-fadaf0eff9e1",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-02-17T18:48:20.9055115Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3c49beaa-35b3-1030-f72e-7f6ffd14790c/test-blob-e5bd2aa5-6d77-d8ea-561c-fce0b6333fd1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:48:20 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "L4BcTgoKdIsh/ix7KjtATg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D8D37498F8F67B\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:48:20 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Wed, 17 Feb 2021 18:48:20 GMT",
        "x-ms-copy-id": "c6f9fbd8-d62e-4453-a83c-fadaf0eff9e1",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-3c49beaa-35b3-1030-f72e-7f6ffd14790c/test-blob-af16ea6f-cb98-0d64-e1e9-aad7590f73bb",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:48:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:48:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-02-17T18:48:20.9055115Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3c49beaa-35b3-1030-f72e-7f6ffd14790c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:48:21 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1590601267",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}