{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-d5cd8c73-9df3-077c-2fc8-43b34700eb39?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:03 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1C9550614\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:03 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-d5cd8c73-9df3-077c-2fc8-43b34700eb39/test-blob-46a5714c-bcde-a7b1-d037-a4aadd820685",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:03 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "Z27Leoh23ZVfx/bDwiZAiQRiZtVbpVuwtUHR6jmCKF0pVe5Z2klY1pQQ5hbG7uWq9xulehswKsESG8VGpPJb3Z6ZmWw35667CpBBSr9E6sdcJ/Md3K1B\u002bCssRr\u002bEETKitQl3LVR4chBt6nCL798CzTH\u002b6nz\u002bPQHwV6FBCqDuN/ldnpW1zLxy47TisPE9tghMKXmOhia1o3cHhtWzN2dwfrN2LVFKTAB0iwbHHI0Ps6GY9eEnYLDTqPsdrkXnv6xMcjE\u002bx4m3Atx4Gfof7ofq\u002bNM0G0KGSB4Co4VWLJ66jcxaeqlb0esY4PIErka2s7pzMrVys6NqxSoTOy[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-d5cd8c73-9df3-077c-2fc8-43b34700eb39/test-blob-5af9344d-4725-3cb4-c1c0-b9af2500288c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-d5cd8c73-9df3-077c-2fc8-43b34700eb39/test-blob-46a5714c-bcde-a7b1-d037-a4aadd820685",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:03 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1C95BDC7D\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:03 GMT",
        "x-ms-copy-id": "2c5edeca-01d3-486c-838e-7a8c9b39cee2",
        "x-ms-copy-status": "success",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-d5cd8c73-9df3-077c-2fc8-43b34700eb39/test-blob-5af9344d-4725-3cb4-c1c0-b9af2500288c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:03 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "F9zOgH9ISxom8iCkoqGLiQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D706F1C95BDC7D\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:03 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Fri, 12 Jul 2019 17:53:03 GMT",
        "x-ms-copy-id": "2c5edeca-01d3-486c-838e-7a8c9b39cee2",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://storageteglazatesting.blob.core.windows.net/test-container-d5cd8c73-9df3-077c-2fc8-43b34700eb39/test-blob-46a5714c-bcde-a7b1-d037-a4aadd820685",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Fri, 12 Jul 2019 17:53:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-d5cd8c73-9df3-077c-2fc8-43b34700eb39?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:03 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "30923714",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}