{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8caffbe9-d1ee-9908-0f4a-bdffe44a2ec2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:06:57 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E8B4DF8740\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:06:58 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8caffbe9-d1ee-9908-0f4a-bdffe44a2ec2/test-blob-019cb734-5ed8-580f-5beb-55e51eb77cfc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:06:58 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "gDRy6lg6et6Ijw6GZWf\u002BiY\u002BkHGV2yLAu6pmXXIqrJrTJL7aROo62\u002BT2\u002BeEhQifL07ctVeZoWhbiDRP\u002B\u002Box1T3WhZvTaxbU8B7SMouE9o3WGmom\u002B/Va0Zsqn9DfaO\u002BFUfapvf9sy8Qn98VIx37c1pG2eeGACuk4i7QAqMs19Yc/XOCE20iOeU6WDvQwEgosTck/KP799UcdYTJLXBL48fI\u002BCXqOWAtZOACS6gv1CGm55FsB9tyYMVeZd2oGMx0rrQzx8gifnfW95fD\u002Baws7KGjIgXfH5vslpdgS5OCRQvTjZ00O8wZhKkZlRBDrqdZMbk7xTaGVY7YR3FwwfLkFHJL8CvPOPCVSZ2chYpLaSfwBxoaRoAVDX[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8caffbe9-d1ee-9908-0f4a-bdffe44a2ec2/test-blob-b2eb32ef-af01-0dbb-f5f0-2782c42c8822",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-8caffbe9-d1ee-9908-0f4a-bdffe44a2ec2/test-blob-019cb734-5ed8-580f-5beb-55e51eb77cfc",
        "x-ms-date": "Wed, 17 Feb 2021 02:06:58 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E8B4F821AD\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:06:58 GMT",
        "x-ms-copy-id": "13cf3086-5ad2-4999-983d-e964780daae2",
        "x-ms-copy-status": "success",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:06:58.3341250Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8caffbe9-d1ee-9908-0f4a-bdffe44a2ec2/test-blob-b2eb32ef-af01-0dbb-f5f0-2782c42c8822",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:06:58 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "NQB31QZ579aCRJqcbOe0rw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2E8B4F821AD\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:06:58 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Wed, 17 Feb 2021 02:06:58 GMT",
        "x-ms-copy-id": "13cf3086-5ad2-4999-983d-e964780daae2",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-8caffbe9-d1ee-9908-0f4a-bdffe44a2ec2/test-blob-019cb734-5ed8-580f-5beb-55e51eb77cfc",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 17 Feb 2021 02:06:58 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 02:06:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:06:58.3341250Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8caffbe9-d1ee-9908-0f4a-bdffe44a2ec2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:06:58 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "144523533",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}