{
  "Entries": [
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-2a22acfb-f4a1-c8f6-e978-0d451b852ddd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 25 Apr 2020 01:09:44 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B556E54879\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:09:44 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-2a22acfb-f4a1-c8f6-e978-0d451b852ddd/test-blob-ee4f8034-91c2-14aa-bdb9-107aec2c3f40",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 25 Apr 2020 01:09:44 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "BbLt/\u002B7VxymwyQoaZG1P1zYylQhZhJjHcYOZXMrlHmwkQ3tmVfHmXrglPfmGj69QaTlDuZc35oEZJY1rO2pfyque9iHy6IJFTDZPNEafQOHTSfKQomTU7Fz5TS9jeyJNxnNO6JiOXYG3/W1g57E7euWrl/J4zidGyQrE\u002BZtS4tATAm7SUVhJROtx2aX2dAWrvdNJt\u002BMw1fdLBx6OymTlZBucTOVDaCiMYlMGBvWCT1UEGTvICCrs4ix2h0k5unqHi3SJWicgZ1WqvVWQKs4CyLfJirApHVvwr2m4zeHfUqjYf3qA\u002BfUt47HmHUvVXLhedL6RcC/JXW4Ymaq9aJpzy2qs[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-2a22acfb-f4a1-c8f6-e978-0d451b852ddd/test-blob-04787e5d-8747-ad6d-ce06-c64d0a29f119",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://amandacanary.blob.core.windows.net/test-container-2a22acfb-f4a1-c8f6-e978-0d451b852ddd/test-blob-ee4f8034-91c2-14aa-bdb9-107aec2c3f40",
        "x-ms-date": "Sat, 25 Apr 2020 01:09:44 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B556FD651E\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:09:44 GMT",
        "x-ms-copy-id": "35d52210-1745-4ad6-b931-1412cfe99d66",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-58e6ebfe-08e1-a7b2-219c-a91ee3c18d8c/test-blob-6fa9838d-ab4e-6eae-f360-8c23570351e2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://amandacanary.blob.core.windows.net/test-container-58e6ebfe-08e1-a7b2-219c-a91ee3c18d8c/test-blob-b63fdcdb-abb3-a52b-d877-09b011e79a8a",
        "x-ms-date": "Sat, 25 Apr 2020 01:09:44 GMT",
        "x-ms-source-if-modified-since": "Fri, 24 Apr 2020 01:09:44 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B557302DE4\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:09:44 GMT",
        "x-ms-copy-id": "3ddb77fe-f2cc-4010-80f1-2defeb71f1f5",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-08cfa85d-3533-558b-510b-e6c584b7e203/test-blob-3414aa05-fb15-54c5-16dd-a3da43bc5e56",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://amandacanary.blob.core.windows.net/test-container-08cfa85d-3533-558b-510b-e6c584b7e203/test-blob-5a83a642-97b6-94b8-6085-c0bbbd8a4495",
        "x-ms-date": "Sat, 25 Apr 2020 01:09:44 GMT",
        "x-ms-source-if-unmodified-since": "Sun, 26 Apr 2020 01:09:44 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B557623370\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:09:44 GMT",
        "x-ms-copy-id": "bc2742da-c362-4aab-908e-b17ad9ef48c1",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-98fe4cb7-8e24-53db-2d5f-206a8a5c1128/test-blob-c60a092d-5fb8-5029-3688-47fff7fb8734",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:09:45 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "vcH10h4VnBYr2LXqasImTQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7E8B55787698B\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:09:45 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 25 Apr 2020 01:09:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-98fe4cb7-8e24-53db-2d5f-206a8a5c1128/test-blob-d3440404-e67f-d805-06d0-f59fbcbf5851",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://amandacanary.blob.core.windows.net/test-container-98fe4cb7-8e24-53db-2d5f-206a8a5c1128/test-blob-c60a092d-5fb8-5029-3688-47fff7fb8734",
        "x-ms-date": "Sat, 25 Apr 2020 01:09:45 GMT",
        "x-ms-source-if-match": "\u00220x8D7E8B55787698B\u0022",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B5579FD02C\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:09:45 GMT",
        "x-ms-copy-id": "da50167c-be9a-4f7d-ab4d-6818c9b1f419",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-12e92025-c32e-019f-2d33-fdf7f543fe45/test-blob-7f7a15f0-f923-71fd-8b96-7cbfab3cbdce",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://amandacanary.blob.core.windows.net/test-container-12e92025-c32e-019f-2d33-fdf7f543fe45/test-blob-69dde2be-bd17-d7ac-76ae-98780bb1208f",
        "x-ms-date": "Sat, 25 Apr 2020 01:09:45 GMT",
        "x-ms-source-if-none-match": "\u0022garbage\u0022",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B557D1879C\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:09:45 GMT",
        "x-ms-copy-id": "a572df4c-8ca5-41b3-b144-4c2a158f9e44",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-12e92025-c32e-019f-2d33-fdf7f543fe45?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:09:45 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-24T18:09:44.0348609-07:00",
    "RandomSeed": "791223929",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttp://amandacanary.blob.core.windows.net\nhttp://amandacanary.file.core.windows.net\nhttp://amandacanary.queue.core.windows.net\nhttp://amandacanary.table.core.windows.net\n\n\n\n\nhttp://amandacanary-secondary.blob.core.windows.net\nhttp://amandacanary-secondary.file.core.windows.net\nhttp://amandacanary-secondary.queue.core.windows.net\nhttp://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandacanary.blob.core.windows.net/;QueueEndpoint=http://amandacanary.queue.core.windows.net/;FileEndpoint=http://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Sanitized\n\nDefaultEndpointsProtocol=https;AccountName=ortestsaccountcbn1;AccountKey=OrRfzSm3ktQSklAGiL90/QusS7SdS6Y5S/AJoxZEeyKYDtnue7OKYIMLOraTnT4xcOyhYbqzWVmtTKappcc5Fg==;EndpointSuffix=core.windows.net\nDefaultEndpointsProtocol=https;AccountName=vbalaorcentral1;AccountKey=vlHMz/LZ3Sx7r/1bdTQT26pG0tqORQ4uTIcxGhHB0LQhIhqGxfv2TXV7u\u002BI2ra4UWXrWGGHG2N6l\u002BBfb5FgAcQ==;EndpointSuffix=core.windows.net"
  }
}