{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-608530bb-e8bc-6425-4872-1f29b130f565?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2019 12:11:23 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FEE66667B0D0\u0022",
        "Last-Modified": "Tue, 02 Jul 2019 12:11:23 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-608530bb-e8bc-6425-4872-1f29b130f565/test-blob-2529a982-0da2-b56a-f184-e56d95d61e31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 02 Jul 2019 12:11:23 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "qIzJ8FpBTrOr8ES6q1UQTJy3pgcG0MPcBo9GBCIX/0TjCyjHMuUMQVt2ebHIrwqbc5nQ3i8WK9fI7OnL\u002bkqRlPD/158tSRm3qmWskFYRE1eFq5CIRyEVzOBQ/0b8QUcR5OXByNhqbip/GDTJapqBttiSRU\u002b5CEzP6gq\u002b3EnTumgem6twUEp\u002bGjxmCC7tS2JGzkhtavv3V9uY8t7NrJLgrF3Lq87uEGaOEysSUgAe4p6neA0BZVBtJkPQ2F5ssG6qhlvQIaCTV77i31bQ5AXbeg8/JjOE3kcNXoSLHjgIImK8aMukTsD\u002bEyBPH4b5nEE\u002b9F1OLIo6JagUw8[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-608530bb-e8bc-6425-4872-1f29b130f565/test-blob-5c06dbc7-16ba-bdb7-52ff-b5d5c63e7f03",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-608530bb-e8bc-6425-4872-1f29b130f565/test-blob-2529a982-0da2-b56a-f184-e56d95d61e31",
        "x-ms-date": "Tue, 02 Jul 2019 12:11:23 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FEE6666EB141\u0022",
        "Last-Modified": "Tue, 02 Jul 2019 12:11:23 GMT",
        "x-ms-copy-id": "0a605fdc-3604-46bf-b590-4b7c9908b41f",
        "x-ms-copy-status": "success",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-608530bb-e8bc-6425-4872-1f29b130f565/test-blob-5c06dbc7-16ba-bdb7-52ff-b5d5c63e7f03",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2019 12:11:23 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Dfi123VDFZLESeACIzyJWQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D6FEE6666EB141\u0022",
        "Last-Modified": "Tue, 02 Jul 2019 12:11:23 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Tue, 02 Jul 2019 12:11:23 GMT",
        "x-ms-copy-id": "0a605fdc-3604-46bf-b590-4b7c9908b41f",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://storageteglazatesting.blob.core.windows.net/test-container-608530bb-e8bc-6425-4872-1f29b130f565/test-blob-2529a982-0da2-b56a-f184-e56d95d61e31",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Tue, 02 Jul 2019 12:11:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-608530bb-e8bc-6425-4872-1f29b130f565?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2019 12:11:23 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "886153743"
  }
}