{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-897166ab-fffb-fecc-9af0-b6a9fd58876b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:28 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F36645049C1B\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:56:28 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-897166ab-fffb-fecc-9af0-b6a9fd58876b/test-blob-f65ce24b-62b6-81f3-f7cd-9ce5d672ff21",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:28 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "72b8IoL55nrDI8BFifD8h5NvXRv8kbSlnvTkxZS\u002bd1a3VOycFjrEUvvhM5OirvgG0RRRZxXkJV2yV4OOFSDmBKtpjTUEX3BYqgsfG14hAvD83vN/bBBB0y6O6r\u002b2Njza\u002bi7oOCDCAnGk\u002bbwJxAn/kFSTkTYtZ5iaKLoGdXWxoXTORCEwOcnPOdyB23JUNw4lj1lqI6QGrZOVTRBmvIz881dHO3/oz1eKxFdaq4wlRfCr4eYcRn7PyJeOmuu5aH1PhecbDfyOPMAB4F9NqwIGbwcgutum36zZd3PoWjRs0VvaCyWkCjj0HKQlG2YeghyUhyvjmK2iqKY7QZWIpuKMlA4D[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-897166ab-fffb-fecc-9af0-b6a9fd58876b/test-blob-478ff7ba-ba24-fb92-37f9-ec26c2707e53",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-897166ab-fffb-fecc-9af0-b6a9fd58876b/test-blob-f65ce24b-62b6-81f3-f7cd-9ce5d672ff21",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:29 GMT",
        "x-ms-source-if-modified-since": "Tue, 18 Jun 2019 20:56:28 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "SourceConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eSourceConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe source condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:6ac80d6f-201e-007b-244f-250f92000000\n",
        "Time:2019-06-17T20:56:29.0038013Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-cb9a65ac-72bb-2c21-94ec-b2fc2296af16/test-blob-5999aa1f-350e-10bb-ece8-5a1add056ba6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-cb9a65ac-72bb-2c21-94ec-b2fc2296af16/test-blob-e64e216e-d785-ea7f-241b-f4e2a50a31f0",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:29 GMT",
        "x-ms-source-if-unmodified-since": "Sun, 16 Jun 2019 20:56:28 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "SourceConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eSourceConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe source condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:6ac80da7-201e-007b-544f-250f92000000\n",
        "Time:2019-06-17T20:56:29.0708647Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-13e43ee8-43f1-62db-9066-35382f3b1356/test-blob-1a906298-fe11-4090-7484-7ba442a10004",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-13e43ee8-43f1-62db-9066-35382f3b1356/test-blob-bf989408-41b1-b514-7224-70a4661d82fe",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:29 GMT",
        "x-ms-source-if-match": "\u0022garbage\u0022",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "SourceConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eSourceConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe source condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:6ac80de0-201e-007b-044f-250f92000000\n",
        "Time:2019-06-17T20:56:29.1569461Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-7d353128-4b16-8bf0-86f7-f944612d56c1/test-blob-b73b9c64-397d-ade7-3686-aed7a9753f41",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:29 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "DRBMUbSES8B/WBgEwm0\u002b9g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D6F366452E096E\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:56:29 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 17 Jun 2019 20:56:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-7d353128-4b16-8bf0-86f7-f944612d56c1/test-blob-abb758e6-e8ce-2176-9df6-155c9dbc2239",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-7d353128-4b16-8bf0-86f7-f944612d56c1/test-blob-b73b9c64-397d-ade7-3686-aed7a9753f41",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:29 GMT",
        "x-ms-source-if-none-match": "\u00220x8D6F366452E096E\u0022",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "SourceConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eSourceConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe source condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:6ac80e15-201e-007b-344f-250f92000000\n",
        "Time:2019-06-17T20:56:29.2730559Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-7d353128-4b16-8bf0-86f7-f944612d56c1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:29 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-06-17T13:56:28.9714236-07:00",
    "RandomSeed": "209157759"
  }
}