{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-8b145fee-8a6b-5d15-c871-81c5463d7f71?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 20:57:09 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C147C542044A\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:57:09 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-8b145fee-8a6b-5d15-c871-81c5463d7f71/test-blob-d6b8af9a-bd0f-0fa4-135a-f433b8b3b99c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 20:57:09 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "JggDqsYycZblcFHKocni31a8x/NzdGkE92c5peJHihOLoVvOszdPaD4i8J5r2m5KdxTc/OzGKLKe/7Nf\u002BMuznuU\u002BPv9uFCwebV60UYPKmBz57y3Na44mxHmpL7SE73BzblK4LZxu22PovY\u002BNEdYu02aWZgid5jJXF3mGxOR4mn3tQeMxEmuAihPK5a3/mbOje1tN7Ylo1ogfYBUi6BZ\u002BcCIRoNDy/MH7Ftv00gCEWH7G4kmIKqzzhWtbEbFVXqL8S3WL7fjisH6aUtaucwOHmgiWWwXN9kV1HRpll\u002BsQpbg594eL\u002BWqF4zLL7tjVRRJn1HaovgKcL1UvFd[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-8b145fee-8a6b-5d15-c871-81c5463d7f71/test-blob-c32e7ced-162c-84c2-80b6-d5081253ba5f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanstagetest.blob.core.windows.net/test-container-8b145fee-8a6b-5d15-c871-81c5463d7f71/test-blob-d6b8af9a-bd0f-0fa4-135a-f433b8b3b99c",
        "x-ms-date": "Thu, 05 Mar 2020 20:57:09 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C147C55DAA5E\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:57:09 GMT",
        "x-ms-copy-id": "725c1162-fc0b-4a4d-911e-7f9cfa971cee",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-139fa845-51da-e9db-97d0-3cba09c9d462/test-blob-7ad6d6b3-2e43-1b9f-198e-50feec0579db",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanstagetest.blob.core.windows.net/test-container-139fa845-51da-e9db-97d0-3cba09c9d462/test-blob-23fa93eb-1311-731a-03f6-236a67aa90bf",
        "x-ms-date": "Thu, 05 Mar 2020 20:57:10 GMT",
        "x-ms-source-if-modified-since": "Wed, 04 Mar 2020 20:57:09 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C147C5B34256\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:57:09 GMT",
        "x-ms-copy-id": "bf11d44b-5529-4911-b113-351e07603be2",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-fa05c521-d8fb-4f21-a6bd-74de2dc481ed/test-blob-ec310556-2ecf-65c1-fa35-15077e2f7829",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanstagetest.blob.core.windows.net/test-container-fa05c521-d8fb-4f21-a6bd-74de2dc481ed/test-blob-9f34bc20-9017-0eb9-6bc4-ebf1fc7a326b",
        "x-ms-date": "Thu, 05 Mar 2020 20:57:10 GMT",
        "x-ms-source-if-unmodified-since": "Fri, 06 Mar 2020 20:57:09 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C147C6086723\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:57:10 GMT",
        "x-ms-copy-id": "a7765374-1d7a-4a54-a1cc-b8b2ea0587a8",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-3e2b72de-340d-92d2-2b8d-50cb43a020e6/test-blob-2b02209a-4bf1-bce3-13a6-ec196eac91ee",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 20:57:11 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "6SSrXlrNwFRx0tONA\u002BF17A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C147C6521A48\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:57:11 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 05 Mar 2020 20:57:11 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-3e2b72de-340d-92d2-2b8d-50cb43a020e6/test-blob-ec2be25c-e14f-f6d1-d85a-f0bdbd530230",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanstagetest.blob.core.windows.net/test-container-3e2b72de-340d-92d2-2b8d-50cb43a020e6/test-blob-2b02209a-4bf1-bce3-13a6-ec196eac91ee",
        "x-ms-date": "Thu, 05 Mar 2020 20:57:11 GMT",
        "x-ms-source-if-match": "\u00220x8D7C147C6521A48\u0022",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C147C66D6A7E\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:57:11 GMT",
        "x-ms-copy-id": "ff46e942-15a5-4f1c-858e-411f3701660d",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-49e6fabb-c46c-035a-0747-beb1030fb50e/test-blob-c2c0bd59-111d-b8af-ebb0-70647df6a920",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanstagetest.blob.core.windows.net/test-container-49e6fabb-c46c-035a-0747-beb1030fb50e/test-blob-95c18968-9b43-350c-eff6-325b994e4f4c",
        "x-ms-date": "Thu, 05 Mar 2020 20:57:11 GMT",
        "x-ms-source-if-none-match": "\u0022garbage\u0022",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C147C6C920C6\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:57:11 GMT",
        "x-ms-copy-id": "49ea113f-5ed7-4ce3-bc78-d152307d0f89",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-49e6fabb-c46c-035a-0747-beb1030fb50e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 20:57:11 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-03-05T12:57:09.0816177-08:00",
    "RandomSeed": "263121476",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}