{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-5bfaa101-b0f1-e06a-0031-066ebfc9aa37?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 20:57:12 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C147C70544AC\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:57:12 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-5bfaa101-b0f1-e06a-0031-066ebfc9aa37/test-blob-cc50d6e0-3c3e-d28d-c3ac-616fbd4f84e0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 20:57:12 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "Ks9/MstIFDGNMGtpnLFZfdDNOYXOOvmy/iuedtEX5iQfsgIl/H5amMEfPg3QJDYRUuSf7xb\u002BEvDWzDSgqp1gdklGSuquNIBRc6HEr/vr4tr0jCPtd/YOIZ8STjBKuu0jvsjEidpMYh5jTnx0OmL16upaqx15cv9SNylKnOVQBrmzoPAyJ1j/pykFiSh6meY8HWRF7w7QqUzJcVGxAsY5E0fDwZlywsOSWgTzdOjW2J5CDX\u002BBCxaq4/akabUGTqVjzHbht9hNylqgs5UK3DVj85mzbvVHtwcwGN6izlgOiwtekKdy9CDF9EIk4FiBoAbAQHYcUt\u002BvHBRusJ76qvwBkieJq0uN8[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-5bfaa101-b0f1-e06a-0031-066ebfc9aa37/test-blob-ab2c9fc0-2a6b-0394-739c-653c637278b1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanstagetest.blob.core.windows.net/test-container-5bfaa101-b0f1-e06a-0031-066ebfc9aa37/test-blob-cc50d6e0-3c3e-d28d-c3ac-616fbd4f84e0",
        "x-ms-date": "Thu, 05 Mar 2020 20:57:12 GMT",
        "x-ms-source-if-modified-since": "Fri, 06 Mar 2020 20:57:12 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "SourceConditionNotMet",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ESourceConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe source condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:c0f31f07-a01e-0020-3530-f3e99c000000\n",
        "Time:2020-03-05T20:57:12.4176363Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-ad5128b0-f544-867a-12a9-357847a9a4d4/test-blob-ec822eeb-437c-8bf4-1beb-d249fb6de85e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanstagetest.blob.core.windows.net/test-container-ad5128b0-f544-867a-12a9-357847a9a4d4/test-blob-6684905f-3034-44b6-c47a-635316663fb7",
        "x-ms-date": "Thu, 05 Mar 2020 20:57:13 GMT",
        "x-ms-source-if-unmodified-since": "Wed, 04 Mar 2020 20:57:12 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "SourceConditionNotMet",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ESourceConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe source condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:b5198647-501e-0046-7630-f3a6bc000000\n",
        "Time:2020-03-05T20:57:13.1479981Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-79128f09-8182-9a76-84aa-128855135fbc/test-blob-0cd3fabd-b17e-cbc7-8731-8c5daea0b739",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanstagetest.blob.core.windows.net/test-container-79128f09-8182-9a76-84aa-128855135fbc/test-blob-86a86ba4-a472-bca7-77d9-3ad05b9194dd",
        "x-ms-date": "Thu, 05 Mar 2020 20:57:13 GMT",
        "x-ms-source-if-match": "\u0022garbage\u0022",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "SourceConditionNotMet",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ESourceConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe source condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:91649731-501e-0024-1730-f3649b000000\n",
        "Time:2020-03-05T20:57:13.7461727Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-103ed91b-d635-83ec-ca38-e25648562868/test-blob-fb55fe2e-90b6-3aa7-0e1b-f3538eb130ee",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 20:57:14 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "WBNkpdmldnVGLxJt00c3Fg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C147C83BC340\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:57:14 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 05 Mar 2020 20:57:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-103ed91b-d635-83ec-ca38-e25648562868/test-blob-4aecfef7-5fe7-4074-6b9c-704d6e8a78f9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanstagetest.blob.core.windows.net/test-container-103ed91b-d635-83ec-ca38-e25648562868/test-blob-fb55fe2e-90b6-3aa7-0e1b-f3538eb130ee",
        "x-ms-date": "Thu, 05 Mar 2020 20:57:14 GMT",
        "x-ms-source-if-none-match": "\u00220x8D7C147C83BC340\u0022",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "SourceConditionNotMet",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ESourceConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe source condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:8d513467-d01e-0048-2e30-f38f0c000000\n",
        "Time:2020-03-05T20:57:14.4980722Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-103ed91b-d635-83ec-ca38-e25648562868?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 20:57:14 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-03-05T12:57:12.0618636-08:00",
    "RandomSeed": "1879979060",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}