{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-0ecec652-b28b-5e66-6547-5ae1a8f05589?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 20:56:58 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C147BF3E5F62\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:56:59 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-0ecec652-b28b-5e66-6547-5ae1a8f05589/test-blob-958a9ab0-e279-5169-fd1d-71f748f422ef",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 20:56:59 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "62bXH7R8WJsZh4DBQdmdLLUnhE2dLewNNDdU7InePMHRcKJZYXJ/4AK3DRVAOz2BYAAY4keqYr16yep8KGsSO0q/8NE3RMtCp6RK5iDWzfn60ouIxlp6Jw7k35eHAreWpdLLgEtsShw11TuiX3udo/vxglXgiXXwRcjCUmQzu6Tss0FNC0yujYhvUvAf18iSRjycloBithtd2zuCqve3AhqWtas6T5euQ/TMcTeE0G0ALwsolyQkiv0l8DARK\u002BORt1DViCIcWPek7VKLlkXk2ArNgnrrjmv1ciuuFF5nnRcRO7nmrkhL49cUhKrRmPO3QRglQ6lppSjl4Bb2bkOYPE87elqL/SnCgp6i1gr[...]
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-0ecec652-b28b-5e66-6547-5ae1a8f05589/test-blob-a4b25033-adc4-a374-8746-cdcd95669e3c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanstagetest.blob.core.windows.net/test-container-0ecec652-b28b-5e66-6547-5ae1a8f05589/test-blob-958a9ab0-e279-5169-fd1d-71f748f422ef",
        "x-ms-date": "Thu, 05 Mar 2020 20:56:59 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C147BF69502E\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:56:59 GMT",
        "x-ms-copy-id": "b7d32b3f-0611-4afe-b1c2-92604d051eaa",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-672321b0-0302-c198-e290-819f1b272fb6/test-blob-5cb967e4-526a-1239-fba5-e956a2ee637a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 04 Mar 2020 20:56:58 GMT",
        "x-ms-copy-source": "https://seanstagetest.blob.core.windows.net/test-container-672321b0-0302-c198-e290-819f1b272fb6/test-blob-169b5b33-4c42-9ec9-7526-4046acdce353",
        "x-ms-date": "Thu, 05 Mar 2020 20:57:00 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C147BFDBE7B3\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:57:00 GMT",
        "x-ms-copy-id": "b1abfbee-db71-44c3-8b2e-3b3c683a9497",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-753c5f8e-f842-7302-137b-1a0cfa95a755/test-blob-1a97a4f1-bf6d-0441-8a12-15c935b72828",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 06 Mar 2020 20:56:58 GMT",
        "x-ms-copy-source": "https://seanstagetest.blob.core.windows.net/test-container-753c5f8e-f842-7302-137b-1a0cfa95a755/test-blob-ab5fd471-5e7a-9125-464d-f21de376b561",
        "x-ms-date": "Thu, 05 Mar 2020 20:57:00 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C147C04D4866\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:57:00 GMT",
        "x-ms-copy-id": "5aa22f32-f58f-41a0-a091-e2011211de45",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-8b26d8d0-a31c-7544-2b3a-9cf092ddcdcf/test-blob-bd2ba0e0-5834-6bde-6dbf-81800b43f3d1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 20:57:01 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "tnX8lvEqDjgbXl89tMziYQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C147C0A88670\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:57:01 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 05 Mar 2020 20:57:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-8b26d8d0-a31c-7544-2b3a-9cf092ddcdcf/test-blob-bd2ba0e0-5834-6bde-6dbf-81800b43f3d1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D7C147C0A88670\u0022",
        "x-ms-copy-source": "https://seanstagetest.blob.core.windows.net/test-container-8b26d8d0-a31c-7544-2b3a-9cf092ddcdcf/test-blob-48290249-8243-0465-49e3-c74e33849e5a",
        "x-ms-date": "Thu, 05 Mar 2020 20:57:01 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C147C0C388B0\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:57:01 GMT",
        "x-ms-copy-id": "b3fd6beb-669e-48c6-89eb-c4df9a4f1017",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-12770925-a29a-6f35-e8a7-b519e0b1dfd8/test-blob-c9ccd28d-dd27-bf10-8b14-122631e653ab",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-copy-source": "https://seanstagetest.blob.core.windows.net/test-container-12770925-a29a-6f35-e8a7-b519e0b1dfd8/test-blob-d3aa7430-2e1d-4af5-c877-de9acc495440",
        "x-ms-date": "Thu, 05 Mar 2020 20:57:02 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C147C129C602\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:57:02 GMT",
        "x-ms-copy-id": "25e41d15-0dde-424a-a093-182337f4a74f",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-66c9ad61-d021-b2d2-e6fd-2a15b5a47c99/test-blob-8101c279-606a-503e-935e-ce4bc7098847?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 20:57:03 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "9ccf7165-a304-df4b-043b-cade2024940b",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C147C181AAB6\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 20:57:02 GMT",
        "x-ms-lease-id": "9ccf7165-a304-df4b-043b-cade2024940b",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-66c9ad61-d021-b2d2-e6fd-2a15b5a47c99?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 20:57:03 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-03-05T12:56:58.9692554-08:00",
    "RandomSeed": "942939387",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}