{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-5b0a8619-8823-48ec-6f63-6e99dc951824?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:03 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1C9D4DC87\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:03 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-5b0a8619-8823-48ec-6f63-6e99dc951824/test-blob-a5382072-fba0-f342-70d3-0e555a24037f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:04 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "rWoqKBm4Kdn5k3OsE7AR6lUTiQfRYMHg7vlET0VQaa8Hxexxau8L/f/kVZTF7P1mw1dFyzdT10yoSjofdNmTqCnEpE3En4BlCIsI7QosGgH73YzuCp13s\u002b2fyCC164glUKxqAUewoiPX4MKrSulCfC84I5dNpZ2LTPBfJNZgrx0C451dwhm5SzpoFirbzGkEXUzxfcfx16oP3rVXUH1NdzClqGdM5LoVfthc5Y5zsICHW8eJbjJVEQvyTuNjYvq9G5/5NiMBt3iS2/7vlfIbmy41z/S1wwj\u002bT5dbWZXXsRvdnsnveXlchaRO95MzZnwZ17K0LpIFB1iW\u002b\u002baLpl3juyni[...]
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-5b0a8619-8823-48ec-6f63-6e99dc951824/test-blob-2259c602-5188-818b-c70d-348712a9ac09",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Sat, 13 Jul 2019 17:53:03 GMT",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-5b0a8619-8823-48ec-6f63-6e99dc951824/test-blob-a5382072-fba0-f342-70d3-0e555a24037f",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:04 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "TargetConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eTargetConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe target condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:69356cc1-701e-0066-79da-38022e000000\n",
        "Time:2019-07-12T17:53:04.0971642Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-50c7581d-1856-df3d-f768-4d358cea32ef/test-blob-1bd644b0-1cbe-85aa-9ec4-027c434dbefd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 11 Jul 2019 17:53:03 GMT",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-50c7581d-1856-df3d-f768-4d358cea32ef/test-blob-7f1340ed-9a72-db08-6b5d-9d233159d344",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:04 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "TargetConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eTargetConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe target condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:69356d6f-701e-0066-19da-38022e000000\n",
        "Time:2019-07-12T17:53:04.2473075Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-fc6c00c5-d0da-577a-b924-ac7569e9a9f5/test-blob-91ea7569-ea5a-b66f-7fbc-1abe8ebe8ae2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-fc6c00c5-d0da-577a-b924-ac7569e9a9f5/test-blob-9a0b0a0e-7439-897d-bd56-dcbbe69764b4",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:04 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "TargetConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eTargetConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe target condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:69356ea9-701e-0066-3cda-38022e000000\n",
        "Time:2019-07-12T17:53:04.4124642Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-4623f9b2-196c-8135-51f7-29860c8df34c/test-blob-32149ac0-ccfc-832b-24fe-d4a8d23ed2e0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:04 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Rsq0reTylXUtirlaTJzarA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D706F1CA294839\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:04 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 12 Jul 2019 17:53:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-4623f9b2-196c-8135-51f7-29860c8df34c/test-blob-32149ac0-ccfc-832b-24fe-d4a8d23ed2e0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u00220x8D706F1CA294839\u0022",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-4623f9b2-196c-8135-51f7-29860c8df34c/test-blob-99a01549-dda1-6968-1381-628c02a033e3",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:04 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "TargetConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eTargetConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe target condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:69356f0e-701e-0066-11da-38022e000000\n",
        "Time:2019-07-12T17:53:04.5115580Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-a89b0277-cada-2db2-7199-31f5758e4cac/test-blob-2e2e7c80-b201-522d-59e8-1f1b4af6e4a4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-a89b0277-cada-2db2-7199-31f5758e4cac/test-blob-f0d24173-a787-efb4-62ec-8bfb9f1fd684",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:04 GMT",
        "x-ms-lease-id": "e2dbe562-810f-ed4a-806e-373f308fafe9",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eLeaseNotPresentWithBlobOperation\u003c/Code\u003e\u003cMessage\u003eThere is currently no lease on the blob.\n",
        "RequestId:69356f9e-701e-0066-12da-38022e000000\n",
        "Time:2019-07-12T17:53:04.7137508Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-a89b0277-cada-2db2-7199-31f5758e4cac?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:04 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-07-12T10:53:03.9383475-07:00",
    "RandomSeed": "40752060",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}