{
  "Entries": [
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-87c09ca7-a85b-f8d9-67ec-09cfeaf9eeb3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 05 Jun 2020 19:25:16 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D809862DBAE3B6\u0022",
        "Last-Modified": "Fri, 05 Jun 2020 19:25:17 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-87c09ca7-a85b-f8d9-67ec-09cfeaf9eeb3/test-blob-b47bf5d2-e18f-ccd6-0ce6-187627181aa4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 05 Jun 2020 19:25:16 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "dIY48KQ6gtwRCoelkxQv4AVa7ehHw/O1JIemSVHOkh54oQYkVu\u002BDl3KeooRZMDn4tzdxzCsyXbGSg8wclDiKQnhoLfEOCokV11Z1qCBvW/NOrZIZXcXzRkRUktMjZgM5FGAM8QNH6qyuW/XUvLWQIyjYzuemcOWydOetuXi28nBTPJTAYmnwBsLmawHQH4mPxG6rSpgbk6N6Wn0cmjE092mEgYAgz8C\u002B6MckvwXj4lVdHfQJC6fYN6jwRgjs02uRsnOYS50JbvSu7WLQ99Odlngovnw8KuzCrErXMIm40RRckw2RS5a3U6//Wx5EBz/VUq\u002BPxBXuVIeG1Z9TMj5r9RtOdGTFD[...]
[...]
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-87c09ca7-a85b-f8d9-67ec-09cfeaf9eeb3/test-blob-0223a8fc-eb7d-9688-aad6-5ba07817d639",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://huxcanadac.blob.core.windows.net/test-container-87c09ca7-a85b-f8d9-67ec-09cfeaf9eeb3/test-blob-b47bf5d2-e18f-ccd6-0ce6-187627181aa4",
        "x-ms-date": "Fri, 05 Jun 2020 19:25:17 GMT",
        "x-ms-source-if-tags": "\u0022coolTag\u0022 = \u0027true\u0027",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:5c830fb2-701e-0002-116f-3b345b000000\n",
        "Time:2020-06-05T19:25:17.2397187Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://huxcanadac.blob.core.windows.net/test-container-87c09ca7-a85b-f8d9-67ec-09cfeaf9eeb3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Jun 2020 19:25:17 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "689470027",
    "Storage_TestConfigDefault": "ProductionTenant\nhuxcanadac\nU2FuaXRpemVk\nhttps://huxcanadac.blob.core.windows.net\nhttps://huxcanadac.file.core.windows.net\nhttps://huxcanadac.queue.core.windows.net\nhttps://huxcanadac.table.core.windows.net\n\n\n\n\nhttps://huxcanadac-secondary.blob.core.windows.net\nhttps://huxcanadac-secondary.file.core.windows.net\nhttps://huxcanadac-secondary.queue.core.windows.net\nhttps://huxcanadac-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://huxcanadac.blob.core.windows.net/;QueueEndpoint=https://huxcanadac.queue.core.windows.net/;FileEndpoint=https://huxcanadac.file.core.windows.net/;BlobSecondaryEndpoint=https://huxcanadac-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://huxcanadac-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://huxcanadac-secondary.file.core.windows.net/;AccountName=huxcanadac;AccountKey=Sanitized\nseanscope1"
  }
}