{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c6ecc575-ef41-76ce-85d9-4f1d962bb95b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:41:46 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2ED91F56F48\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:41:47 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c6ecc575-ef41-76ce-85d9-4f1d962bb95b/test-blob-562b627b-b8ea-7fa1-0c77-a556cbab5975",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:41:46 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "4CxbdITCdRigvBgQpdWPv\u002BhwIdXqEe7vL1iP1Qy4piHqNhi6antaOEsnCK9xLzjozI\u002BEGGpwKM49a0QrMp8M5xb2JW\u002B91FVtFuiKwgk\u002BfgAfpwl8NI22eQ1Jff42LgarGyCZegnJK/c6FgGB5mXF/uxEC4uWj7OIQKxhc1dWN\u002Bji36fopQT3VnsRQh6MNJOng34R8iJ6FYxtEDpcaLeg498Znga\u002B3VnoTLUQhEyU/AsZufDYRETFaMoaepTKmu7DcV8\u002BcpaM6KYlKaVtapA/2BQvQ67Hx56aUzY8pGLEHrHHTBLtVol1jdBKshueWP4526KAm1c//KrAox9fT0RDYQv0pR19UoKLubXefRSD/Po3AsnAQ4NZh1BoLLJpFT2LBl[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c6ecc575-ef41-76ce-85d9-4f1d962bb95b/test-blob-9535f689-d8bb-d53b-167f-f767d8e8dddd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-c6ecc575-ef41-76ce-85d9-4f1d962bb95b/test-blob-562b627b-b8ea-7fa1-0c77-a556cbab5975",
        "x-ms-date": "Wed, 17 Feb 2021 02:41:47 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2ED9214D2A7\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:41:47 GMT",
        "x-ms-copy-id": "889af939-dc87-4459-9466-3d200a103265",
        "x-ms-copy-status": "success",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:41:47.2855479Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8396163e-3982-5d48-b1ab-8bafc5f9e465/test-blob-160cecdb-f97d-b0aa-d05c-d093269eea91",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 16 Feb 2021 02:41:46 GMT",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-8396163e-3982-5d48-b1ab-8bafc5f9e465/test-blob-43aacc95-c45f-0401-d422-40e313ec5437",
        "x-ms-date": "Wed, 17 Feb 2021 02:41:47 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2ED9263281F\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:41:47 GMT",
        "x-ms-copy-id": "86b0fc3e-1ef9-486a-bbc1-daacfdf89efe",
        "x-ms-copy-status": "success",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:41:47.7999172Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-fc372924-12bb-d9b0-5565-076402511464/test-blob-cabf6a84-8642-6b1a-735d-c209e1ad672f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 18 Feb 2021 02:41:46 GMT",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-fc372924-12bb-d9b0-5565-076402511464/test-blob-f7557369-a728-661c-f521-1fe89f715377",
        "x-ms-date": "Wed, 17 Feb 2021 02:41:48 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2ED92AC4C7E\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:41:48 GMT",
        "x-ms-copy-id": "2f6579fc-b8e4-4015-a0cb-addfadf8b6d2",
        "x-ms-copy-status": "success",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:41:48.2792611Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-33cb695a-6874-862b-c13d-dc20f57fb6ac/test-blob-ef8988ff-2065-56f1-4ff5-0f4d84aa304a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:41:48 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "OdPLIUUsCjuBumYN90399g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2ED92E5B68C\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:41:48 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 02:41:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 02:41:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:41:48.6535308Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-33cb695a-6874-862b-c13d-dc20f57fb6ac/test-blob-ef8988ff-2065-56f1-4ff5-0f4d84aa304a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D2ED92E5B68C",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-33cb695a-6874-862b-c13d-dc20f57fb6ac/test-blob-c4ac795c-c38a-20db-c63c-fed4d6add3a5",
        "x-ms-date": "Wed, 17 Feb 2021 02:41:48 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2ED92F8F3F1\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:41:48 GMT",
        "x-ms-copy-id": "db134dd2-e4a5-40fc-a5a6-ec93a266a518",
        "x-ms-copy-status": "success",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:41:48.7816218Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-23d11ae4-edc1-caf5-8ef7-23ac9479f8a6/test-blob-f32f8b88-4832-d89a-9220-5f1dce1ff446",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-23d11ae4-edc1-caf5-8ef7-23ac9479f8a6/test-blob-5cb538f6-8c1e-da7a-1c2d-39cb6ee9b8f4",
        "x-ms-date": "Wed, 17 Feb 2021 02:41:49 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2ED9340DF7B\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:41:49 GMT",
        "x-ms-copy-id": "3882d689-9640-44ff-ab2b-2c5f3f47ab27",
        "x-ms-copy-status": "success",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:41:49.2529568Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f2d069f1-608e-ef41-90ea-f4468c63de52/test-blob-c1736948-5540-8c17-db48-34eb4afbc2c9?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:41:49 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "b51589b4-84ea-ff22-78c3-e8fc46954f0a",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2ED937FEFC5\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:41:49 GMT",
        "x-ms-lease-id": "b51589b4-84ea-ff22-78c3-e8fc46954f0a",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f2d069f1-608e-ef41-90ea-f4468c63de52?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:41:49 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-16T20:41:46.7337058-06:00",
    "RandomSeed": "1691294521",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}