{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4b90a479-9d8d-5cab-6210-7d565379513b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:48:22 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3749A4A3EBA\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:48:23 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4b90a479-9d8d-5cab-6210-7d565379513b/test-blob-1b27bd11-5a53-6968-9ec1-60ec84055bdf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:48:23 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3749A554379\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:48:23 GMT",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:48:23.1871353Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4b90a479-9d8d-5cab-6210-7d565379513b/test-blob-df5a8887-4ced-78e8-6082-552b2555563a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-4b90a479-9d8d-5cab-6210-7d565379513b/test-blob-1b27bd11-5a53-6968-9ec1-60ec84055bdf",
        "x-ms-date": "Wed, 17 Feb 2021 18:48:23 GMT",
        "x-ms-seal-blob": "true",
         "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3749A5F7E88\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:48:23 GMT",
        "x-ms-copy-id": "d85080b7-65e2-4905-b92b-8d41b613b660",
        "x-ms-copy-status": "success",
        "x-ms-version-id": "2021-02-17T18:48:23.2541832Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4b90a479-9d8d-5cab-6210-7d565379513b/test-blob-df5a8887-4ced-78e8-6082-552b2555563a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:48:23 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D3749A5F7E88\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:48:23 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-sealed": "true",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-copy-completion-time": "Wed, 17 Feb 2021 18:48:23 GMT",
        "x-ms-copy-id": "d85080b7-65e2-4905-b92b-8d41b613b660",
        "x-ms-copy-progress": "0/0",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-4b90a479-9d8d-5cab-6210-7d565379513b/test-blob-1b27bd11-5a53-6968-9ec1-60ec84055bdf",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:48:23 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:48:23.2541832Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4b90a479-9d8d-5cab-6210-7d565379513b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:48:23 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1584755574",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}