{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-c6ecc575-ef41-76ce-85d9-4f1d962bb95b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 21:05:56 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C148FFB2488F\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:05:56 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-c6ecc575-ef41-76ce-85d9-4f1d962bb95b/test-blob-562b627b-b8ea-7fa1-0c77-a556cbab5975",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 21:05:56 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "4CxbdITCdRigvBgQpdWPv\u002BhwIdXqEe7vL1iP1Qy4piHqNhi6antaOEsnCK9xLzjozI\u002BEGGpwKM49a0QrMp8M5xb2JW\u002B91FVtFuiKwgk\u002BfgAfpwl8NI22eQ1Jff42LgarGyCZegnJK/c6FgGB5mXF/uxEC4uWj7OIQKxhc1dWN\u002Bji36fopQT3VnsRQh6MNJOng34R8iJ6FYxtEDpcaLeg498Znga\u002B3VnoTLUQhEyU/AsZufDYRETFaMoaepTKmu7DcV8\u002BcpaM6KYlKaVtapA/2BQvQ67Hx56aUzY8pGLEHrHHTBLtVol1jdBKshueWP4526KAm1c//[...]
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-c6ecc575-ef41-76ce-85d9-4f1d962bb95b/test-blob-9535f689-d8bb-d53b-167f-f767d8e8dddd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanstagetest.blob.core.windows.net/test-container-c6ecc575-ef41-76ce-85d9-4f1d962bb95b/test-blob-562b627b-b8ea-7fa1-0c77-a556cbab5975",
        "x-ms-date": "Thu, 05 Mar 2020 21:05:57 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C148FFDC9BDD\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:05:57 GMT",
        "x-ms-copy-id": "90c21749-02a9-427b-a12f-24b9b73d4391",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-8396163e-3982-5d48-b1ab-8bafc5f9e465/test-blob-160cecdb-f97d-b0aa-d05c-d093269eea91",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 04 Mar 2020 21:05:56 GMT",
        "x-ms-copy-source": "https://seanstagetest.blob.core.windows.net/test-container-8396163e-3982-5d48-b1ab-8bafc5f9e465/test-blob-43aacc95-c45f-0401-d422-40e313ec5437",
        "x-ms-date": "Thu, 05 Mar 2020 21:05:57 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C1490046F806\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:05:57 GMT",
        "x-ms-copy-id": "001347a3-3019-4e9a-830f-4ce54bfe18d2",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-fc372924-12bb-d9b0-5565-076402511464/test-blob-cabf6a84-8642-6b1a-735d-c209e1ad672f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 06 Mar 2020 21:05:56 GMT",
        "x-ms-copy-source": "https://seanstagetest.blob.core.windows.net/test-container-fc372924-12bb-d9b0-5565-076402511464/test-blob-f7557369-a728-661c-f521-1fe89f715377",
        "x-ms-date": "Thu, 05 Mar 2020 21:05:58 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14900B54897\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:05:58 GMT",
        "x-ms-copy-id": "cf62f2d2-a21a-4339-8585-f88b6db13971",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-33cb695a-6874-862b-c13d-dc20f57fb6ac/test-blob-ef8988ff-2065-56f1-4ff5-0f4d84aa304a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:06:00 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "OdPLIUUsCjuBumYN90399g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C14901E231B5\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:06:00 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 05 Mar 2020 21:06:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-33cb695a-6874-862b-c13d-dc20f57fb6ac/test-blob-ef8988ff-2065-56f1-4ff5-0f4d84aa304a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D7C14901E231B5\u0022",
        "x-ms-copy-source": "https://seanstagetest.blob.core.windows.net/test-container-33cb695a-6874-862b-c13d-dc20f57fb6ac/test-blob-c4ac795c-c38a-20db-c63c-fed4d6add3a5",
        "x-ms-date": "Thu, 05 Mar 2020 21:06:00 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14901FB100D\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:06:00 GMT",
        "x-ms-copy-id": "bfb183dd-ae02-49f4-adbe-62f9388dd1ea",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-23d11ae4-edc1-caf5-8ef7-23ac9479f8a6/test-blob-f32f8b88-4832-d89a-9220-5f1dce1ff446",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-copy-source": "https://seanstagetest.blob.core.windows.net/test-container-23d11ae4-edc1-caf5-8ef7-23ac9479f8a6/test-blob-5cb538f6-8c1e-da7a-1c2d-39cb6ee9b8f4",
        "x-ms-date": "Thu, 05 Mar 2020 21:06:01 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C149025B570F\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:06:01 GMT",
        "x-ms-copy-id": "ca92ec41-b169-4dfa-b5da-1c6bb03b9575",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-f2d069f1-608e-ef41-90ea-f4468c63de52/test-blob-c1736948-5540-8c17-db48-34eb4afbc2c9?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:06:01 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "b51589b4-84ea-ff22-78c3-e8fc46954f0a",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14902AED074\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:06:01 GMT",
        "x-ms-lease-id": "b51589b4-84ea-ff22-78c3-e8fc46954f0a",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-f2d069f1-608e-ef41-90ea-f4468c63de52?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:06:02 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-03-05T13:05:56.6051604-08:00",
    "RandomSeed": "1691294521",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}