{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0b76c5b0-a7b6-9605-dacb-fa6981663349?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:07:30 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E8C8456888\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:07:30 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0b76c5b0-a7b6-9605-dacb-fa6981663349/test-blob-ebc5ce2f-51f8-35fe-cc20-0994f7dc761e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:07:30 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "poCX4vk2GsR80i0eYg1oNDSS\u002BVD1OYGAoDYwDuZ/X4hA\u002BUVsNgsj\u002BLQBbyUj4NO\u002Bt9RfZeMlKG3/F0HDBQvd/HOl3WnI\u002B/4obwCc9MlbXMBjclYSIPmlGtDXbR7JX/OoI3KyfgJq9rzVNvbiiTSjpLqBYJO0y9x5AMOY8I7fXg8N89BXqd69\u002BXuaPOkDwpCcNMlkSP9g9FiWOH0\u002B0QUt9dfn1JZjTPrcxGcXGo7zdj0z/LzFexYPrf94wXBgfid1bEcRG\u002B76OejOh4SYSdrJosJAC9VJaHnB1yeX6ouKfEU/oa1H4VpPOcLT9/SSd2Mkrh6tH3NSLATNUETGYk5dQwo\u002BWKcsgcBo8dISdnGFLl/Dcjxs3V3S7XWo[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0b76c5b0-a7b6-9605-dacb-fa6981663349/test-blob-0da9c8c7-ed3c-4a70-dcfa-735b655d4577",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-0b76c5b0-a7b6-9605-dacb-fa6981663349/test-blob-ebc5ce2f-51f8-35fe-cc20-0994f7dc761e",
        "x-ms-date": "Wed, 17 Feb 2021 02:07:30 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-requires-sync": "true",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E8C88B7EF0\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:07:31 GMT",
        "x-ms-content-crc64": "M39ShUg0/Ds=",
        "x-ms-copy-id": "ca5e0255-dcc4-4a16-9be5-9b54c5bfc257",
        "x-ms-copy-status": "success",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:07:32.1401703Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0b76c5b0-a7b6-9605-dacb-fa6981663349/test-blob-0da9c8c7-ed3c-4a70-dcfa-735b655d4577",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:07:32 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "xXDJ6hSiDCjc0Oc6i4Q2GA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2E8C88B7EF0\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:07:31 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Wed, 17 Feb 2021 02:07:31 GMT",
        "x-ms-copy-id": "ca5e0255-dcc4-4a16-9be5-9b54c5bfc257",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-0b76c5b0-a7b6-9605-dacb-fa6981663349/test-blob-ebc5ce2f-51f8-35fe-cc20-0994f7dc761e",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 17 Feb 2021 02:07:31 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 02:07:31 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:07:32.1401703Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0b76c5b0-a7b6-9605-dacb-fa6981663349?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:07:32 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1641271361",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}