{
  "Entries": [
    {
      "RequestUri": "https://seanstageoauth.blob.core.windows.net/test-container-e102d8cf-65be-067a-2bd9-23159dee1e81?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91616FAB2B577\u0022",
        "Last-Modified": "Thu, 13 May 2021 13:57:00 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstageoauth.blob.core.windows.net/test-container-e102d8cf-65be-067a-2bd9-23159dee1e81/test-blob-dc2739e0-4321-d3c3-2c7f-439f371c92f0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "ou6nLhhwibe1Ej5CKzURkbMjfjkUWhMrqwKCeGkgdjcO39SCZTzyb7BvJg4EgKf2brLrE51Z20fafIMW7hFOlJsHM0xgjit3MQ6IpDMFJipaiwm3NWOZtQOMqOm424GfIJFy/U1bluCGc\u002BGP0DYU1VVYvGMHl184bX5I1OZCv1aM6YShkijd//QpMMKBCuTMeNKTXx4emIkyOpDOEsL5RLSLAueyckIte7xu3WedtmOafFsTr183blH7b1iYD\u002B0yL\u002BwN9Qf9GgWQZeRhr7ohlYQsM5Vm5pRVVJOVtwPqlGzPO616j8BbnGJVg0l61b6W2dnUa9tXzElXuKFzZ2ICptB4knQMpwXD0JczEGNK2n/U/t0pFiiQeG5kI9Yf5zX/Utx4AkNKijLUEJtEI7z[...]
    {
      "RequestUri": "https://seanstageoauth.blob.core.windows.net/test-container-e102d8cf-65be-067a-2bd9-23159dee1e81/test-blob-a6430e09-f70e-7683-9ebd-738e1085c4af",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanstageoauth.blob.core.windows.net/test-container-e102d8cf-65be-067a-2bd9-23159dee1e81/test-blob-dc2739e0-4321-d3c3-2c7f-439f371c92f0",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-requires-sync": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ECannotVerifyCopySource\u003C/Code\u003E\u003CMessage\u003EAuthentication information is not given in the correct format. Check the value of Authorization header.\n",
        "RequestId:ed84a7d9-501e-0003-4fff-47a3d1000000\n",
        "Time:2021-05-13T13:57:00.4321269Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanstageoauth.blob.core.windows.net/test-container-e102d8cf-65be-067a-2bd9-23159dee1e81?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2080553834",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanstageoauth\nU2FuaXRpemVk\nhttps://seanstageoauth.blob.core.windows.net\nhttps://seanstageoauth.file.core.windows.net\nhttps://seanstageoauth.queue.core.windows.net\nhttps://seanstageoauth.table.core.windows.net\n\n\n\n\nhttps://seanstageoauth-secondary.blob.core.windows.net\nhttps://seanstageoauth-secondary.file.core.windows.net\nhttps://seanstageoauth-secondary.queue.core.windows.net\nhttps://seanstageoauth-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanstageoauth.blob.core.windows.net/;QueueEndpoint=https://seanstageoauth.queue.core.windows.net/;FileEndpoint=https://seanstageoauth.file.core.windows.net/;BlobSecondaryEndpoint=https://seanstageoauth-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanstageoauth-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanstageoauth-secondary.file.core.windows.net/;AccountName=seanstageoauth;AccountKey=Sanitized\n"
  }
}