{
  "Entries": [
    {
      "RequestUri": "https://seanstageoauth.blob.core.windows.net/test-container-1d27ec07-fcf6-2549-660e-b3a4a40cf161?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D91616FA4F9527\"",
        "Last-Modified": "Thu, 13 May 2021 13:56:59 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstageoauth.blob.core.windows.net/test-container-1d27ec07-fcf6-2549-660e-b3a4a40cf161/test-blob-1f8cc6d6-4ced-3028-be58-8ab65d88b20d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "dvnWkQJb7QkwjopAb2WIfkcN6qzLeMyB6tnXG5Tz5JW0WVJNPmaOetiD7l7B58BZ0AxuUJ0FQv4sVacphNJ0Pan1jBUSO0DgfnDUSIptvwIYfkqIhJT3rxdUIOi/ZfUFDrC1zFurRpXMjtIsMPlzvpakEQWI7LkV/dz+vhpXIBh6zzrauPKnbTe1u/bBy34e4GFRG1PwfSH2n85+rId6dG25sWG/mQaj/KTN0jHDUzJe4N64BQXFilEY4xkkKMCvOkaICBkcXkZbrh6vIqvwM0ucIMypwm5n9CcQprbsf9TkHpfqOksZQoGXXFfnFmimJ6/NhwjzBnjXIBPxDLeQby5KywQTBfgAg95LEmUXgN6+aX8GHvfL8BceEho3JzbJB+0pnUtkkiK2zQQqqPQSwKA1M6I4iVA2ft[...]
    {
      "RequestUri": "https://seanstageoauth.blob.core.windows.net/test-container-1d27ec07-fcf6-2549-660e-b3a4a40cf161/test-blob-a4fef6b1-1338-22d3-8ade-e0a31e05f9fd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanstageoauth.blob.core.windows.net/test-container-1d27ec07-fcf6-2549-660e-b3a4a40cf161/test-blob-1f8cc6d6-4ced-3028-be58-8ab65d88b20d",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-requires-sync": "true",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8D91616FA7EB4A8\"",
        "Last-Modified": "Thu, 13 May 2021 13:56:59 GMT",
        "x-ms-content-crc64": "KAvkQkzoXeI=",
        "x-ms-copy-id": "bff880ea-fbca-4e96-b742-ecd352df2fc4",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstageoauth.blob.core.windows.net/test-container-1d27ec07-fcf6-2549-660e-b3a4a40cf161/test-blob-a4fef6b1-1338-22d3-8ade-e0a31e05f9fd",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "YMemLVdDM+8Z17jcB/B+Yg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D91616FA7EB4A8\"",
        "Last-Modified": "Thu, 13 May 2021 13:56:59 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Thu, 13 May 2021 13:56:59 GMT",
        "x-ms-copy-id": "bff880ea-fbca-4e96-b742-ecd352df2fc4",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://seanstageoauth.blob.core.windows.net/test-container-1d27ec07-fcf6-2549-660e-b3a4a40cf161/test-blob-1f8cc6d6-4ced-3028-be58-8ab65d88b20d",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Thu, 13 May 2021 13:56:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstageoauth.blob.core.windows.net/test-container-1d27ec07-fcf6-2549-660e-b3a4a40cf161?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "926234317",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanstageoauth\nU2FuaXRpemVk\nhttps://seanstageoauth.blob.core.windows.net\nhttps://seanstageoauth.file.core.windows.net\nhttps://seanstageoauth.queue.core.windows.net\nhttps://seanstageoauth.table.core.windows.net\n\n\n\n\nhttps://seanstageoauth-secondary.blob.core.windows.net\nhttps://seanstageoauth-secondary.file.core.windows.net\nhttps://seanstageoauth-secondary.queue.core.windows.net\nhttps://seanstageoauth-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanstageoauth.blob.core.windows.net/;QueueEndpoint=https://seanstageoauth.queue.core.windows.net/;FileEndpoint=https://seanstageoauth.file.core.windows.net/;BlobSecondaryEndpoint=https://seanstageoauth-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanstageoauth-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanstageoauth-secondary.file.core.windows.net/;AccountName=seanstageoauth;AccountKey=Sanitized\n\n\n"
  }
}