{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c8e8babc-43e2-c4fd-6bc3-a270ba185e06?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:12:53 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E988BEBBC4\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:12:53 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c8e8babc-43e2-c4fd-6bc3-a270ba185e06/test-blob-8dbc9c0b-7f4b-9b57-3c7b-545c0d2afd65",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:12:53 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "RpJgDnRBBQ9z0DMDtNybSdO4yCpJ7sSQVAfghVVtXNrLBlo/yqMJyZatGntMU\u002Bdf4AuJVWHSG1jN0LltYYC6BXNYN62CW38wrv6TnNRJQwAggKRK4wd4\u002BeoCcfnpnGgW8hQH8xs53YSLWaZjP3\u002BDhI24TOHbcCJs4D7DgOmFRhKWfKm/QVDk56IfvopgFbpqfu1sMU\u002BHO4LymxLddl2aBhOTzMLWxEM81GU\u002Bu7GXDMuEWAH8GRTDD0EmzaU9B3BFhbh2zEj4lLqqL13qSX/QWo9HWB1bnuz\u002B0L2Ar/ed/8z0\u002BDb5ID\u002BCjMNHUeq32cbCVXIW9a5T6ubMePuLd\u002BTDDS\u002BQ9VBJ1zpPxMxaE0wBRvf3vlqEhgo[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c8e8babc-43e2-c4fd-6bc3-a270ba185e06/test-blob-d2d5f2c2-b2ce-e2d9-e4ea-00b28f039aeb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-c8e8babc-43e2-c4fd-6bc3-a270ba185e06/test-blob-8dbc9c0b-7f4b-9b57-3c7b-545c0d2afd65",
        "x-ms-date": "Wed, 17 Feb 2021 02:12:53 GMT",
        "x-ms-requires-sync": "true",
        "x-ms-tags": "tagKey0=tagValue0\u0026tagKey1=tagValue1",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E988E1DA8A\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:12:53 GMT",
        "x-ms-content-crc64": "UAbBdNk8KO0=",
        "x-ms-copy-id": "4a81ff53-1c17-4231-baa1-8becb15f15ad",
        "x-ms-copy-status": "success",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:12:53.9062407Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c8e8babc-43e2-c4fd-6bc3-a270ba185e06/test-blob-d2d5f2c2-b2ce-e2d9-e4ea-00b28f039aeb?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:12:53 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EtagKey0\u003C/Key\u003E\u003CValue\u003EtagValue0\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003EtagKey1\u003C/Key\u003E\u003CValue\u003EtagValue1\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c8e8babc-43e2-c4fd-6bc3-a270ba185e06?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:12:53 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1681212406",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}