{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-37c12dd8-40c7-b18c-43dd-1e565f62674f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:53:08 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D375444A40D9\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:53:08 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-37c12dd8-40c7-b18c-43dd-1e565f62674f/test-blob-e1bda591-986d-937b-0de0-dec48b210c53",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:53:08 GMT"
      },
      "RequestBody": "TTzlCHc/OIvT1GwaVpII58Bx2f8xrnTX2lcaNlGBGqT8mkCbizrMUm0yDpksYT172PYDGUgNIZ/IDi0fJQE5UrrIHbtRbVyFpIeR/6Dbq3kan15afQBb7nig03wNrSxr\u002BLveY0OBKWuafnXAeyL/7GOzBYWj39S6bC9DsJnfePdaJgfk/Ec1mHXzwP\u002BKmnJVoeYZWaenyBnnJPYUPXnRugZ9ZlUbG\u002B8bfmwPsB7UL9G87Q\u002Byxh5Psl7t/NhQIVr8IQX5DTQcOoX2/ds7lxj6EvQlV1BpHvTnLbP3LR4Xyl0SE44Z2yKdn7OJu8hCFBtG8\u002BrjK8kKkgIREd\u002BAJQxn3zN\u002BKIOJ4TbSh7ec4GIrpBiYsTk[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-37c12dd8-40c7-b18c-43dd-1e565f62674f/test-blob-68989e79-25f0-8538-f33c-4b933bad0ec5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-37c12dd8-40c7-b18c-43dd-1e565f62674f/test-blob-e1bda591-986d-937b-0de0-dec48b210c53",
        "x-ms-date": "Wed, 17 Feb 2021 18:53:08 GMT",
        "x-ms-requires-sync": "true",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
         "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D37544724291\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:53:08 GMT",
        "x-ms-content-crc64": "PbI3DiPGsSw=",
        "x-ms-copy-id": "d5e0a869-e314-4e65-a59a-acc3cf032fb0",
        "x-ms-copy-status": "success",
        "x-ms-version-id": "2021-02-17T18:53:08.6912026Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-43fb6ac9-8995-ddac-4235-024a52673019/test-blob-eb3b0ff6-1de0-0c44-b162-62d4eb9baf9a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-43fb6ac9-8995-ddac-4235-024a52673019/test-blob-b1d4924d-6ddd-dfef-90fd-2438f5279a2f",
        "x-ms-date": "Wed, 17 Feb 2021 18:53:09 GMT",
        "x-ms-requires-sync": "true",
        "x-ms-source-if-match": "",
        "x-ms-source-if-modified-since": "Tue, 16 Feb 2021 18:53:08 GMT",
        "x-ms-source-if-none-match": "",
         "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D37544CAB122\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:53:09 GMT",
        "x-ms-content-crc64": "rK2qY1Ro0uY=",
        "x-ms-copy-id": "8720f83c-1b09-4f2e-b858-b405721c7b91",
        "x-ms-copy-status": "success",
        "x-ms-version-id": "2021-02-17T18:53:09.3486700Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c400a1eb-7909-d20a-144d-54180b349330/test-blob-84d64147-3af4-9892-f43b-37469c16a955",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-c400a1eb-7909-d20a-144d-54180b349330/test-blob-ee0a8265-10f2-20e1-2bb1-3fd97aa086cb",
        "x-ms-date": "Wed, 17 Feb 2021 18:53:09 GMT",
        "x-ms-requires-sync": "true",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
        "x-ms-source-if-unmodified-since": "Thu, 18 Feb 2021 18:53:08 GMT",
         "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D375452E07A9\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:53:09 GMT",
        "x-ms-content-crc64": "XoDs02Agil0=",
        "x-ms-copy-id": "4b76651a-3d1c-4c5a-808d-6db1b90cb544",
        "x-ms-copy-status": "success",
        "x-ms-version-id": "2021-02-17T18:53:09.8350160Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1a387334-5c69-9497-4bee-012cddcef11a/test-blob-036b2fac-4a11-6af7-9128-b1a21ce21fc0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:53:10 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "w2w1kvHJP0A4aCSFaKe52w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D375456D7D88\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:53:10 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:53:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:53:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:53:10.2363016Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-713a696f-6121-c395-0b08-1ce9501da10b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:53:11 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T12:53:08.1070303-06:00",
    "RandomSeed": "353852979",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}