{
  "Entries": [
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-76753f66-571b-fef8-0a40-8cad14b5894a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 10 Jan 2022 22:07:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D485A419388D\u0022",
        "Last-Modified": "Mon, 10 Jan 2022 22:07:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-76753f66-571b-fef8-0a40-8cad14b5894a/test-blob-2cf0f7e2-0932-6732-8d6e-136fab2d0157",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 10 Jan 2022 22:07:50 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "fiPdyjixOeuPjGsPrI9KXXj86AXClTbGFxVJoq1xEoZz\u002B6SYJ2h3ML4FnaWdIrv\u002BJLX2r0T7lOnsFrMiaJY9Hnnkm7DqsTYQhLdHvPeQKfRZS374emNCeGa7rBC0VMgnyH4suIYLE3N\u002B5iqMs9jxW\u002B2/yBwYRKMVoiNJLwUmWzDvIPN5ZHBtTjcKeZM5tcSOyVAj9IurD4TaFxVjweRuWIr6nZPkePd8UnrlDcsP2\u002B1fumW0A2ekQxFvnkxaCoxTnCEJPxcwqVFYpqIRxgG4yjsoAwd\u002BuVUjVVqCddqqIkftkXGpBpvWLhAUW1zFknwPttMRMgaF1eLM5u[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-76753f66-571b-fef8-0a40-8cad14b5894a/test-blob-2cf0f7e2-0932-6732-8d6e-136fab2d0157?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Mon, 10 Jan 2022 22:07:50 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "\uFEFF\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003Esource\u003C/Key\u003E\u003CValue\u003Etag\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-76753f66-571b-fef8-0a40-8cad14b5894a/test-blob-fe0cc51f-f3a3-1449-c14f-ca6ac37a68c2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-76753f66-571b-fef8-0a40-8cad14b5894a/test-blob-2cf0f7e2-0932-6732-8d6e-136fab2d0157?sv=2021-12-02\u0026se=2022-01-11T22%3A07%3A50Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-copy-source-tag-option": "REPLACE",
        "x-ms-date": "Mon, 10 Jan 2022 22:07:50 GMT",
        "x-ms-requires-sync": "true",
        "x-ms-tags": "dest=tag",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D485A435C181\u0022",
        "Last-Modified": "Mon, 10 Jan 2022 22:07:50 GMT",
        "x-ms-content-crc64": "GP6ylh50QNI=",
        "x-ms-copy-id": "d892ada6-f386-496a-a0a5-055581463023",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-76753f66-571b-fef8-0a40-8cad14b5894a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 10 Jan 2022 22:07:50 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-01-10T16:07:50.1658872-06:00",
    "RandomSeed": "134511635",
    "Storage_TestConfigDefault": "ProductionTenant\n0c2xscnapby3pev24a\nU2FuaXRpemVk\nhttps://0c2xscnapby3pev24a.blob.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a.file.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a.queue.core.windows.net\nhttps://0c2xscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttps://0c2xscnapby3pev24a-secondary.blob.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.file.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.queue.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/;QueueEndpoint=https://0c2xscnapby3pev24a.queue.core.windows.net/;FileEndpoint=https://0c2xscnapby3pev24a.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.file.core.windows.net/;AccountName=0c2xscnapby3pev24a;AccountKey=Kg==;\nseanscope1\n\n"
  }
}