{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-25700b5f-de56-7d1b-8a0a-05cd10a12c32?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:07:32 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E8C956FF69\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:07:32 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-25700b5f-de56-7d1b-8a0a-05cd10a12c32/test-blob-84a55008-7fdc-679a-cb28-6298b4769df5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:07:32 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "vFtg\u002BosJdRsEVrXgMb9C3u2WnJDvyc3se65XlMp4oUEM0cOqg9YI/tqKf4XJuTYL5YOrHdoMBfONdH7dsuFRi7V01GD8mFsWjZ61ZElHIsJ3TK9GzYNnAMvQHQ9YK0z5OfPQVeXWD00olI87VqCpRVG7ZWYyCr4xDdSVLHpMvmJSvCtVd83doTxhHjjzK6kqJti9ncXmxi41n0cQQePS29Yt6Zp1VM6E3cMp0OuFPeIqagaijiCcbPX8INeGzGBZj0JixkEOtdEJOb8BvPZDr2Fl5dbdL0y1kH2keDT2/hBi0ECoI3egHLU0mFVhm6/\u002BuXB2IOaKe1/1rDXEaT2dEzuunuy1mozpxMkhqZb3VPXNpb7Df90q2FTgs3dC27J4loUas/zDSR/jjVwdadLJ/lhA98N[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-25700b5f-de56-7d1b-8a0a-05cd10a12c32/test-blob-2e6aa170-8393-e32d-e159-737472315bf9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-25700b5f-de56-7d1b-8a0a-05cd10a12c32/test-blob-84a55008-7fdc-679a-cb28-6298b4769df5",
        "x-ms-date": "Wed, 17 Feb 2021 02:07:32 GMT",
        "x-ms-requires-sync": "true",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E8C9923E8C\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:07:32 GMT",
        "x-ms-content-crc64": "OVqq5w\u002BcbkI=",
        "x-ms-copy-id": "09ea4769-6360-434c-a0bb-bece013d0b59",
        "x-ms-copy-status": "success",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:07:33.0818398Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8235f114-17f5-08e7-1c45-27edde285f5f/test-blob-70ae2760-2e5f-d81a-c5eb-fbabbc81f3b5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-8235f114-17f5-08e7-1c45-27edde285f5f/test-blob-020ef29d-f9d4-2831-8c37-9a6699e9f745",
        "x-ms-date": "Wed, 17 Feb 2021 02:07:33 GMT",
        "x-ms-requires-sync": "true",
        "x-ms-source-if-match": "",
        "x-ms-source-if-modified-since": "Tue, 16 Feb 2021 02:07:32 GMT",
        "x-ms-source-if-none-match": "",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E8C9F46DC8\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:07:33 GMT",
        "x-ms-content-crc64": "uBtwg6GBKOE=",
        "x-ms-copy-id": "0f08ade2-9942-4f78-8da9-6a16326e4aca",
        "x-ms-copy-status": "success",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:07:33.6022100Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8e8d20fa-c832-19df-ec8e-841892d582ed/test-blob-4c00d745-f5d3-10c6-f487-4ab38f4b5d85",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-8e8d20fa-c832-19df-ec8e-841892d582ed/test-blob-0db2b323-84cf-e03f-7cc7-23ac718096bd",
        "x-ms-date": "Wed, 17 Feb 2021 02:07:33 GMT",
        "x-ms-requires-sync": "true",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
        "x-ms-source-if-unmodified-since": "Thu, 18 Feb 2021 02:07:32 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E8CA5DC370\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:07:34 GMT",
        "x-ms-content-crc64": "/JEuvjZq7KI=",
        "x-ms-copy-id": "0fcac815-4356-41a3-bef3-b9997933d920",
        "x-ms-copy-status": "success",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:07:34.3997779Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1a8af698-443e-6880-371d-63794926e7fe/test-blob-45ba7438-882b-f473-c766-db0b2f78052a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:07:34 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "DTfmGhqW2q\u002BBMV0MisHRrg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2E8CAAEE514\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:07:34 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 02:07:34 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 02:07:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:07:34.7630356Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f3fc672d-616b-97df-5b2c-8db9b42bcef6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:07:38 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-16T20:07:32.1539478-06:00",
    "RandomSeed": "786189599",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}