{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-03998332-6ee4-144b-3000-526bcc019493?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:48:45 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D374A7CC9F4E\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:48:45 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-03998332-6ee4-144b-3000-526bcc019493/test-blob-812ec592-1849-5a1c-971d-0c1461ba5753",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:48:45 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "qJ051++WM8VVFJ731R+RG4Hy/vev12wZ17dnQRUfMOWxryVNoXYq/JFoKzR5JYR4jPCSb7xfpNAwIAA3L/GwNuO4RSX5RHkKyAFmRqs3n7Iz7rUljMEpUgtUHIF188yfuPRQwN9efkh2iKe6+F4l+IBOA0A8iqoij/IapSf4lNQ1xo225t7T1HBsrgQablmtLyMAJ/CMYy1KLjHsRNkgfvPShTLQbhKiei/P0NylByGYbHUE923kqGJfa7et5pCXSy8RR+gn3MARXqzAvZNRpCcPU9djHIeF7t3PcQJa9JSfOIStlL84cZC18pnAI+vPDceQnZK4My6oi1kLV2q9t2oYIYQOoxBo1+FGrintxcvx[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-03998332-6ee4-144b-3000-526bcc019493/test-blob-e5b25a76-a45e-1761-0455-8807b2a0a879",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-03998332-6ee4-144b-3000-526bcc019493/test-blob-812ec592-1849-5a1c-971d-0c1461ba5753",
        "x-ms-date": "Wed, 17 Feb 2021 18:48:45 GMT",
        "x-ms-if-tags": "\"coolTag\" = 'true'",
        "x-ms-requires-sync": "true",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:e02be453-401e-001a-3b5d-05bb1d000000\n",
        "Time:2021-02-17T18:48:46.3751647Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-03998332-6ee4-144b-3000-526bcc019493?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:48:46 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1333896823",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}