{
  "Entries": [
    {
      "RequestUri": "https://hv3xscnapby3pev24a.blob.preprod.core.windows.net/test-container-7aeea7fc-76b4-658b-3f19-51cd82783a02?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 18 Aug 2022 14:49:48 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA8128E6B9EA20\u0022",
        "Last-Modified": "Thu, 18 Aug 2022 14:49:49 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hv3xscnapby3pev24a.blob.preprod.core.windows.net/test-container-7aeea7fc-76b4-658b-3f19-51cd82783a02/test-blob-cb3d7c8b-db3c-7f5a-d415-e32a0b82ee0f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 18 Aug 2022 14:49:49 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "/d7y5/\u002BkylrZYp9vHKLiH0k5fvryUTb/P/rCIiBJlVhkUjMWhlkz57Lj8dk76mIyM8Ph0QTzHayo8qcF4qc5j8xGC8puy5jwBZZHD19cw1WXj\u002B9caMNUcDWGbpOxLgUKqWEM9d\u002BYw2cr8cxtrA5NSy5SbVK43CcJ8puU510FPtaRPGX9UM51/suIMXf35sMnOSNkXsCyUsw6AwJDA9wJJbL13G\u002BoT/tg3G\u002BHL6qvEgvXba46oOAV3uqZw0zMMvrvfgzFAQpUfukoBIFRKyIhivH2bJUtz4XR3/2FD4yuk6p0l7Ce6hABgu/EEptfxLLHdzlb1cVkwa\u002BG8y[...]
    {
      "RequestUri": "https://hv3xscnapby3pev24a.blob.preprod.core.windows.net/test-container-7aeea7fc-76b4-658b-3f19-51cd82783a02/test-blob-c6f7d495-35f7-4ad5-b2d9-eb53ceb2c1aa",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cold",
        "x-ms-copy-source": "https://hv3xscnapby3pev24a.blob.preprod.core.windows.net/test-container-7aeea7fc-76b4-658b-3f19-51cd82783a02/test-blob-cb3d7c8b-db3c-7f5a-d415-e32a0b82ee0f",
        "x-ms-date": "Thu, 18 Aug 2022 14:49:49 GMT",
        "x-ms-requires-sync": "true",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA8128E6EC45E6\u0022",
        "Last-Modified": "Thu, 18 Aug 2022 14:49:49 GMT",
        "x-ms-content-crc64": "XYk3ncsbSOE=",
        "x-ms-copy-id": "2ce7776d-06d8-4ce8-82b1-2cd59a849e3e",
        "x-ms-copy-status": "success",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hv3xscnapby3pev24a.blob.preprod.core.windows.net/test-container-7aeea7fc-76b4-658b-3f19-51cd82783a02/test-blob-c6f7d495-35f7-4ad5-b2d9-eb53ceb2c1aa",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 18 Aug 2022 14:49:49 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "bt0p2WAQ4FlvwIyGNhjC/g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA8128E6EC45E6\u0022",
        "Last-Modified": "Thu, 18 Aug 2022 14:49:49 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Thu, 18 Aug 2022 14:49:49 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Thu, 18 Aug 2022 14:49:49 GMT",
        "x-ms-copy-id": "2ce7776d-06d8-4ce8-82b1-2cd59a849e3e",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://hv3xscnapby3pev24a.blob.preprod.core.windows.net/test-container-7aeea7fc-76b4-658b-3f19-51cd82783a02/test-blob-cb3d7c8b-db3c-7f5a-d415-e32a0b82ee0f",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Thu, 18 Aug 2022 14:49:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hv3xscnapby3pev24a.blob.preprod.core.windows.net/test-container-7aeea7fc-76b4-658b-3f19-51cd82783a02?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 18 Aug 2022 14:49:49 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "528186123",
    "Storage_TestConfigDefault": "ProductionTenant\nhv3xscnapby3pev24a\nU2FuaXRpemVk\nhttps://hv3xscnapby3pev24a.blob.preprod.core.windows.net\nhttps://hv3xscnapby3pev24a.file.core.windows.net\nhttps://hv3xscnapby3pev24a.queue.core.windows.net\nhttps://hv3xscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttps://hv3xscnapby3pev24a-secondary.blob.core.windows.net\nhttps://hv3xscnapby3pev24a-secondary.file.core.windows.net\nhttps://hv3xscnapby3pev24a-secondary.queue.core.windows.net\nhttps://hv3xscnapby3pev24a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://hv3xscnapby3pev24a.blob.preprod.core.windows.net/;QueueEndpoint=https://hv3xscnapby3pev24a.queue.core.windows.net/;FileEndpoint=https://hv3xscnapby3pev24a.file.core.windows.net/;BlobSecondaryEndpoint=https://hv3xscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://hv3xscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://hv3xscnapby3pev24a-secondary.file.core.windows.net/;AccountName=hv3xscnapby3pev24a;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
