{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-aa339746-6061-35ae-2803-2a47a297065b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:53:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D37547DCD42B\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:53:14 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-aa339746-6061-35ae-2803-2a47a297065b/test-blob-580152cd-bfc6-a99b-00a9-1b7f5afb98c5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:53:14 GMT"
      },
      "RequestBody": "8SlJH6g0lJdjJnjtXOT7DdAQ5EphuTs\u002B5kXRHQjr37cee79kN/FNmb5q9J9HrU0brg6uShZNYzjuCzljY3aPd0bAz\u002BEll9bfwkuM98Sb9zj3tW/5PZWh0BeHdiy46TZH2n1Zht5s9hY3z4fLwGx0UxQAbK0HlTmxH/7JnSCqJtkVRRxHQnBai79YwW4O1RCqEyMXt32IQEVDp2fgolj2jaittXtQLBCkpuDtrtPLo0nuHor9km9cjAXXA5oIeehmYjTFYB\u002BUWuYScxCcm5FxdwQd8oPO\u002BPs5USl2eSl2my34h0yfBkMpWcOj6x5ewPFzZYuW6odkmGk4jA72HuG9nNfjoxRE0nHB9Ji/Kw3c2pA4AhOd37Clk\u002B/iZ[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-aa339746-6061-35ae-2803-2a47a297065b/test-blob-368c2f19-03c2-8581-d150-cf7e9ecfa4db",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-aa339746-6061-35ae-2803-2a47a297065b/test-blob-580152cd-bfc6-a99b-00a9-1b7f5afb98c5",
        "x-ms-date": "Wed, 17 Feb 2021 18:53:14 GMT",
        "x-ms-requires-sync": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D37547F31F58\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:53:14 GMT",
        "x-ms-content-crc64": "7vCnTU6/0IQ=",
        "x-ms-copy-id": "977ab16c-0201-4c92-bb6e-1c80b527b726",
        "x-ms-copy-status": "success",
        "x-ms-version-id": "2021-02-17T18:53:14.5113423Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-aa339746-6061-35ae-2803-2a47a297065b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:53:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1479702692",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}