{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-83ad1d42-45ac-f3d1-ce79-133dcfd275e0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:07:42 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E8CFB59B2B\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:07:43 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-83ad1d42-45ac-f3d1-ce79-133dcfd275e0/test-blob-020aa088-9673-3948-5393-d0abaa8480d9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:07:43 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "jdYjL02tJihTl2s/bxo\u002BBIGExNLr6cmDV0tzJqyOcsI7wCEEilHJ2nrir9srCco4VMwpJb\u002Bt7qMNoNcCOv97xCWoBK74Onkwu\u002BpYCDnuWE6AOtLfZUwDjdJ\u002B9\u002Bp5xqB6Zuu1ggQbPxpT\u002BWrUVOVpH0iIgf8tm1/YpXbbekOOtvRK3qJOONVJZfq3jGviLjntFNei8USgTMqL3d2OQMXXxEN1iXZCG\u002BdyPhwEdQ7z9XY87mVr7MWwqpHYwlr4uyQ14MgobaXDq/nwL7Inm9e7l\u002BhmUVJfa9d\u002BxN/kaliMeoP3z5VGy4jReUJserwSiA66HCpykWnS1XTxqqjF3kCgZLUuL8xBdcxfldcP8vAaazzRKk0tGekZJfkg[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-83ad1d42-45ac-f3d1-ce79-133dcfd275e0/test-blob-7a00757a-06ae-4b89-b6e2-33977fd4dbba",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-83ad1d42-45ac-f3d1-ce79-133dcfd275e0/test-blob-020aa088-9673-3948-5393-d0abaa8480d9",
        "x-ms-date": "Wed, 17 Feb 2021 02:07:43 GMT",
        "x-ms-requires-sync": "true",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E8CFCF9082\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:07:43 GMT",
        "x-ms-content-crc64": "KJRH1jt11jQ=",
        "x-ms-copy-id": "ab5140c6-a132-42d6-9e19-bd3a5b6fa22a",
        "x-ms-copy-status": "success",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:07:43.6233376Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-83ad1d42-45ac-f3d1-ce79-133dcfd275e0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:07:43 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1229352973",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}