{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c8e8babc-43e2-c4fd-6bc3-a270ba185e06?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:53:13 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D3754757E50A\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:53:13 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c8e8babc-43e2-c4fd-6bc3-a270ba185e06/test-blob-8dbc9c0b-7f4b-9b57-3c7b-545c0d2afd65",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:53:13 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "RpJgDnRBBQ9z0DMDtNybSdO4yCpJ7sSQVAfghVVtXNrLBlo/yqMJyZatGntMU+df4AuJVWHSG1jN0LltYYC6BXNYN62CW38wrv6TnNRJQwAggKRK4wd4+eoCcfnpnGgW8hQH8xs53YSLWaZjP3+DhI24TOHbcCJs4D7DgOmFRhKWfKm/QVDk56IfvopgFbpqfu1sMU+HO4LymxLddl2aBhOTzMLWxEM81GU+u7GXDMuEWAH8GRTDD0EmzaU9B3BFhbh2zEj4lLqqL13qSX/QWo9HWB1bnuz+0L2Ar/ed/8z0+Db5ID+CjMNHUeq32cbCVXIW9a5T6ubMePuLd+TDDS+Q9VBJ1zpPxMxaE0wBRvf3[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c8e8babc-43e2-c4fd-6bc3-a270ba185e06/test-blob-d2d5f2c2-b2ce-e2d9-e4ea-00b28f039aeb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-c8e8babc-43e2-c4fd-6bc3-a270ba185e06/test-blob-8dbc9c0b-7f4b-9b57-3c7b-545c0d2afd65",
        "x-ms-date": "Wed, 17 Feb 2021 18:53:13 GMT",
        "x-ms-requires-sync": "true",
        "x-ms-tags": "tagKey0=tagValue0&tagKey1=tagValue1",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D375476E3030\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:53:13 GMT",
        "x-ms-content-crc64": "UAbBdNk8KO0=",
        "x-ms-copy-id": "3d8c586c-d839-469e-96aa-65751c2f93ba",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-02-17T18:53:13.6177064Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c8e8babc-43e2-c4fd-6bc3-a270ba185e06/test-blob-d2d5f2c2-b2ce-e2d9-e4ea-00b28f039aeb?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:53:13 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Tags><TagSet><Tag><Key>tagKey0</Key><Value>tagValue0</Value></Tag><Tag><Key>tagKey1</Key><Value>tagValue1</Value></Tag></TagSet></Tags>"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c8e8babc-43e2-c4fd-6bc3-a270ba185e06?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:53:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1681212406",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}