{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5a8c89c8-9be0-2895-9068-8a422c0d8ef5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:48:56 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D374AE962A55\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:48:57 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5a8c89c8-9be0-2895-9068-8a422c0d8ef5/test-blob-31394530-819e-7bae-4b98-99451d5b6f8a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:48:57 GMT"
      },
      "RequestBody": "25uEjwlm9SBmavo8\u002BA42/PEzCnPNXFE87ofdZmGQRcapylMhQBlAylAYyjSGcYI8YpxU6lH7vX9JR6CCiI\u002B\u002B1SQzki67FLzY8kAjtJEdtXwEoATEPFp1rgzU1/h4vkHAWvQPUt9UgU3ge/cQ1wjtLJEjfeiK\u002BpjKvuQh5jzDYDT\u002BY1qcDmKdsB\u002B25MFiZNcE56tnVEBZNl9cRJT7MpsRHRvDEXSuUB4uhszI1BXXZ1kMHf6RWwvzpS36QMnOon6Epceln1JjVZeMOM5zkGFKhNw67hScf8EQz2xHtA9UX\u002BNORC9OMcgHqchnBCM8fxXLsLzslLRp5yUFlc/mHKCHONjrJUsy\u002B1IUM0VMNXue01[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5a8c89c8-9be0-2895-9068-8a422c0d8ef5/test-blob-9a88b30b-b7ed-2258-ee11-7e20dddb1500",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-5a8c89c8-9be0-2895-9068-8a422c0d8ef5/test-blob-31394530-819e-7bae-4b98-99451d5b6f8a",
        "x-ms-date": "Wed, 17 Feb 2021 18:48:57 GMT",
        "x-ms-requires-sync": "true",
        "x-ms-tags": "tagKey0=tagValue0\u0026tagKey1=tagValue1",
         "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D374AEAF3526\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:48:57 GMT",
        "x-ms-content-crc64": "IUQMO1oHTa8=",
        "x-ms-copy-id": "4fe3cc74-6d2a-4d2b-af1f-8b29feeef528",
        "x-ms-copy-status": "success",
        "x-ms-version-id": "2021-02-17T18:48:57.3494336Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5a8c89c8-9be0-2895-9068-8a422c0d8ef5/test-blob-9a88b30b-b7ed-2258-ee11-7e20dddb1500?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:48:57 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EtagKey0\u003C/Key\u003E\u003CValue\u003EtagValue0\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003EtagKey1\u003C/Key\u003E\u003CValue\u003EtagValue1\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5a8c89c8-9be0-2895-9068-8a422c0d8ef5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:48:57 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1448959173",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}