{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-83ad1d42-45ac-f3d1-ce79-133dcfd275e0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 28 Apr 2020 19:32:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EBAAF20E82C9\u0022",
        "Last-Modified": "Tue, 28 Apr 2020 19:32:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-83ad1d42-45ac-f3d1-ce79-133dcfd275e0/test-blob-020aa088-9673-3948-5393-d0abaa8480d9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 28 Apr 2020 19:32:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "jdYjL02tJihTl2s/bxo\u002BBIGExNLr6cmDV0tzJqyOcsI7wCEEilHJ2nrir9srCco4VMwpJb\u002Bt7qMNoNcCOv97xCWoBK74Onkwu\u002BpYCDnuWE6AOtLfZUwDjdJ\u002B9\u002Bp5xqB6Zuu1ggQbPxpT\u002BWrUVOVpH0iIgf8tm1/YpXbbekOOtvRK3qJOONVJZfq3jGviLjntFNei8USgTMqL3d2OQMXXxEN1iXZCG\u002BdyPhwEdQ7z9XY87mVr7MWwqpHYwlr4uyQ14MgobaXDq/nwL7Inm9e7l\u002BhmUVJfa9d\u002BxN/kaliMeoP3z5VGy4jReUJserwSiA6[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-83ad1d42-45ac-f3d1-ce79-133dcfd275e0/test-blob-7a00757a-06ae-4b89-b6e2-33977fd4dbba",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary.blob.core.windows.net/test-container-83ad1d42-45ac-f3d1-ce79-133dcfd275e0/test-blob-020aa088-9673-3948-5393-d0abaa8480d9",
        "x-ms-date": "Tue, 28 Apr 2020 19:32:54 GMT",
        "x-ms-requires-sync": "true",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EBAAF22D0CE5\u0022",
        "Last-Modified": "Tue, 28 Apr 2020 19:32:53 GMT",
        "x-ms-content-crc64": "KJRH1jt11jQ=",
        "x-ms-copy-id": "f782f97a-c152-4446-9aca-02cebb1c0f81",
        "x-ms-copy-status": "success",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-04-28T19:32:53.6246993Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-83ad1d42-45ac-f3d1-ce79-133dcfd275e0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 Apr 2020 19:32:54 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1229352973",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}