{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1df4b17b-eda4-8a1f-97a2-09df06a062e1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:42:02 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2ED9B339366\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:42:02 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1df4b17b-eda4-8a1f-97a2-09df06a062e1/test-blob-477602c6-cf28-01a6-ee08-69da917fd627",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:42:02 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "tV9flTNbsbHjdGo4WKuaA3w42bH5pYGvy2sYKC5WWGFp\u002BWDxULfvalDFY7NlbahDbWVdWKYlLRDdsMrIQ4iDjBwIz19LqbLFSW5gNEHNSV3C1LrI\u002Bf\u002B7RMtQE6DtJibIQtaXXJ1J98SymA83xfnOEGZsBW7OupMcTYuT\u002BpUS1yJHmPJrNe3Aed32FmDwg3/SggM6gSC4\u002BYdCew8Stv0uoMDs7ywHYtp5rIyR16QzLMkMwHiR2FYCj55qKLrdrcLfx3afA5NSyh8pwNSTJiLjD09FBvWFnMdq6mCOnTogm//JsQ8ukyg2ufZYaBeBbml8hhhrmKbNWiquNRkzxC3lCSXVynQStXsmD0z/LDSw6Hv3EhYhtAJY/Fblf14OAvXIc1/yrKT0adCd[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1df4b17b-eda4-8a1f-97a2-09df06a062e1/test-blob-e4ed2e5b-467c-9a61-9a26-61fcbce27d5a?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Wed, 17 Feb 2021 02:42:02 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "\uFEFF\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EcoolTag\u003C/Key\u003E\u003CValue\u003Etrue\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1df4b17b-eda4-8a1f-97a2-09df06a062e1/test-blob-e4ed2e5b-467c-9a61-9a26-61fcbce27d5a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-1df4b17b-eda4-8a1f-97a2-09df06a062e1/test-blob-477602c6-cf28-01a6-ee08-69da917fd627",
        "x-ms-date": "Wed, 17 Feb 2021 02:42:02 GMT",
        "x-ms-if-tags": "\u0022coolTag\u0022 = \u0027true\u0027",
        "x-ms-requires-sync": "true",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2ED9B5D6A1F\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:42:02 GMT",
        "x-ms-content-crc64": "P8IQG6y93tU=",
        "x-ms-copy-id": "4171e7dc-cb4c-457b-858f-ea53b5609aba",
        "x-ms-copy-status": "success",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:42:02.8807110Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1df4b17b-eda4-8a1f-97a2-09df06a062e1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:42:02 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1365155765",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}