{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-09326727-127b-e83b-d079-7f7aec394680?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 14 Apr 2021 19:10:37 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8FF78FD431D70\u0022",
        "Last-Modified": "Wed, 14 Apr 2021 19:10:38 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-09326727-127b-e83b-d079-7f7aec394680/test-blob-2b2b7a5d-923c-d1e6-f031-299bb200cc6b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 14 Apr 2021 19:10:37 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "XhmGV23so\u002BlziYVg4Ptuhz\u002BX3aE58Clhr/ppqqgGX/w=",
        "x-ms-encryption-key-sha256": "4CQZ6TZunjNIkSSQ7CgvOKIbkxBb6x2/ekYrrPskykw=",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "\u002Bgkcd9FIW3DWQreyDYXx9MOiWxsiKzFu8CWoc4L5QG0piGXW3/a19zxty/Y4dlMpCHTnBapE2s/XroeroOjt3QFJiIUgGhXM7GTftV86NXrSfmoOEjrD5a6V/zBvCldTf\u002B717u3OCe5fGhhFZCRwnXkM2SF938rGhqPWihvlXOIMizZxRUaMA3V7rvcifYCJJWG3YjA21Z8jLmhK937Ter02Odnu/lcygNWrAjHTpAgiTWW5Lfqx1rWWTRfeQgz3qDQ560SnmiYKhOJbitNuUIlfKKoYGkzDhGIkWLFAVD7Js1r8mbnEe7I/r6kYVkvhKP2Ofhpi3o3odmfigkJ1yjCkktd5cbbQm6z32Wujqy4WQi\u002Bz[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-09326727-127b-e83b-d079-7f7aec394680/test-blob-2b2b7a5d-923c-d1e6-f031-299bb200cc6b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Apr 2021 19:10:37 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "XhmGV23so\u002BlziYVg4Ptuhz\u002BX3aE58Clhr/ppqqgGX/w=",
        "x-ms-encryption-key-sha256": "4CQZ6TZunjNIkSSQ7CgvOKIbkxBb6x2/ekYrrPskykw=",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "OZaQyix4vTUssek\u002BQzmtmQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8FF78FD55F5B3\u0022",
        "Last-Modified": "Wed, 14 Apr 2021 19:10:38 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 14 Apr 2021 19:10:38 GMT",
        "x-ms-encryption-key-sha256": "4CQZ6TZunjNIkSSQ7CgvOKIbkxBb6x2/ekYrrPskykw=",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 14 Apr 2021 19:10:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-04-14T19:10:38.4352691Z"
      },
      "ResponseBody": "\u002Bgkcd9FIW3DWQreyDYXx9MOiWxsiKzFu8CWoc4L5QG0piGXW3/a19zxty/Y4dlMpCHTnBapE2s/XroeroOjt3QFJiIUgGhXM7GTftV86NXrSfmoOEjrD5a6V/zBvCldTf\u002B717u3OCe5fGhhFZCRwnXkM2SF938rGhqPWihvlXOIMizZxRUaMA3V7rvcifYCJJWG3YjA21Z8jLmhK937Ter02Odnu/lcygNWrAjHTpAgiTWW5Lfqx1rWWTRfeQgz3qDQ560SnmiYKhOJbitNuUIlfKKoYGkzDhGIkWLFAVD7Js1r8mbnEe7I/r6kYVkvhKP2Ofhpi3o3odmfigkJ1yjCkktd5cbbQm6z32Wujqy4WQi\u002BzsdUkZ9TMFCJR4fhvyeR4dMN0aLZGvuJtagUiRMs4y0ASwhhbfysCr[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-09326727-127b-e83b-d079-7f7aec394680/test-blob-2b2b7a5d-923c-d1e6-f031-299bb200cc6b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Apr 2021 19:10:38 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobUsesCustomerSpecifiedEncryption",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobUsesCustomerSpecifiedEncryption\u003C/Code\u003E\u003CMessage\u003EThe blob is encrypted with customer specified encryption, but it was not provided in the request.\n",
        "RequestId:1e11eaa5-801e-0048-3761-31c7f5000000\n",
        "Time:2021-04-14T19:10:38.6109774Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-09326727-127b-e83b-d079-7f7aec394680?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Apr 2021 19:10:38 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "637128241",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}