{
  "Entries": [
    {
      "RequestUri": "https://camaiaor.blob.core.windows.net/test-container-c1abb831-e206-b901-d841-f691d95ae4fc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 15 Oct 2021 20:38:58 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9901BD0CF4D26\u0022",
        "Last-Modified": "Fri, 15 Oct 2021 20:38:59 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor.blob.core.windows.net/test-container-c1abb831-e206-b901-d841-f691d95ae4fc/test-blob-87ef2fd5-22f8-3bde-4326-23605779fb1f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 15 Oct 2021 20:38:59 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "iX36yXYDbO9X2QUqjrmynWETgiUuXd9pI2vQ29RO2eU=",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "WhGtU2GMAePyxWzu3IR2G6LNEyXGbFaFW12cjkOlY1UBdACyei/0wTDOnAOtYqyqUZL1\u002BbDiC\u002B27J/gE73KgTGIX7WiExKFy2FL1989S2Pmw8T2wsGmlHmgS91I38NG9LlChlnVEJo3xgiBe7RMeaE/\u002BU/018Jz4cs7/csxOOuiAOMl/sUKEbMuwvi1JRjFU9I4DOJ3TiD20qSSmRbTAokc43bRKnrYNeucyhTFuriucqn0\u002BSwFLrbCLywge3ScW7xzlEWh8ClXX9b61oAIMRfr4Cpo2glZG7TAEv9Ou752/HJUUiJ3DH6AoZlVDlQytfoUOJdKM4G3FnyM3d0uCKQYg9oRt97xcNer6DhsAAlc[...]
    {
      "RequestUri": "https://camaiaor.blob.core.windows.net/test-container-c1abb831-e206-b901-d841-f691d95ae4fc/test-blob-87ef2fd5-22f8-3bde-4326-23605779fb1f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 15 Oct 2021 20:38:59 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "iX36yXYDbO9X2QUqjrmynWETgiUuXd9pI2vQ29RO2eU=",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "h53EHFzdpm3ChLoInCiycg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9901BD0F70D50\u0022",
        "Last-Modified": "Fri, 15 Oct 2021 20:38:59 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 15 Oct 2021 20:38:59 GMT",
        "x-ms-encryption-key-sha256": "iX36yXYDbO9X2QUqjrmynWETgiUuXd9pI2vQ29RO2eU=",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-15T20:38:59.4004304Z"
      },
      "ResponseBody": "WhGtU2GMAePyxWzu3IR2G6LNEyXGbFaFW12cjkOlY1UBdACyei/0wTDOnAOtYqyqUZL1\u002BbDiC\u002B27J/gE73KgTGIX7WiExKFy2FL1989S2Pmw8T2wsGmlHmgS91I38NG9LlChlnVEJo3xgiBe7RMeaE/\u002BU/018Jz4cs7/csxOOuiAOMl/sUKEbMuwvi1JRjFU9I4DOJ3TiD20qSSmRbTAokc43bRKnrYNeucyhTFuriucqn0\u002BSwFLrbCLywge3ScW7xzlEWh8ClXX9b61oAIMRfr4Cpo2glZG7TAEv9Ou752/HJUUiJ3DH6AoZlVDlQytfoUOJdKM4G3FnyM3d0uCKQYg9oRt97xcNer6DhsAAlckV0BOn8nKMjwnT\u002Bl5i6dUpTxPIp\u002BHQIbIsvDoktFRxJ[...]
    {
      "RequestUri": "https://camaiaor.blob.core.windows.net/test-container-c1abb831-e206-b901-d841-f691d95ae4fc/test-blob-87ef2fd5-22f8-3bde-4326-23605779fb1f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 15 Oct 2021 20:38:59 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobUsesCustomerSpecifiedEncryption",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobUsesCustomerSpecifiedEncryption\u003C/Code\u003E\u003CMessage\u003EThe blob is encrypted with customer specified encryption, but it was not provided in the request.\n",
        "RequestId:8c239304-501e-0078-1404-c28827000000\n",
        "Time:2021-10-15T20:38:59.5889453Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://camaiaor.blob.core.windows.net/test-container-c1abb831-e206-b901-d841-f691d95ae4fc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 15 Oct 2021 20:38:59 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "515866499",
    "Storage_TestConfigDefault": "ProductionTenant\ncamaiaor\nU2FuaXRpemVk\nhttps://camaiaor.blob.core.windows.net\nhttps://camaiaor.file.core.windows.net\nhttps://camaiaor.queue.core.windows.net\nhttps://camaiaor.table.core.windows.net\n\n\n\n\nhttps://camaiaor-secondary.blob.core.windows.net\nhttps://camaiaor-secondary.file.core.windows.net\nhttps://camaiaor-secondary.queue.core.windows.net\nhttps://camaiaor-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://camaiaor.blob.core.windows.net/;QueueEndpoint=https://camaiaor.queue.core.windows.net/;FileEndpoint=https://camaiaor.file.core.windows.net/;BlobSecondaryEndpoint=https://camaiaor-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://camaiaor-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://camaiaor-secondary.file.core.windows.net/;AccountName=camaiaor;AccountKey=Kg==;\nsdktest\n\n"
  }
}