{
  "Entries": [
    {
      "RequestUri": "/contentmoderator/lists/v1.0/termlists",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          
        ],
        "User-Agent": [
          "FxVersion/4.7.2600.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.16299",
          "Microsoft.CognitiveServices.ContentModerator.ContentModeratorClient/0.0.0.0"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"Id\": 66,\r\n    \"Name\": \"Testlist1\",\r\n    \"Description\": \"<List Description>\",\r\n    \"Metadata\": {\r\n      \"<Key>\": \"<Value>\"\r\n    }\r\n  }\r\n]",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}