{
  "Entries": [
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/providers/Microsoft.Compute/locations/SoutheastAsia/runCommands?api-version=2017-03-30",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"$schema\": \"http://schema.management.azure.com/schemas/2016-11-17/runcommands.json\",\r\n      \"id\": \"EnableRemotePS\",\r\n      \"osType\": \"Windows\",\r\n      \"label\": \"Enable remote PowerShell\",\r\n      \"description\": \"Configure the machine to enable remote powershell.\"\r\n    },\r\n    {\r\n      \"$schema\": \"http://schema.management.azure.com/schemas/2016-11-17/runcommands.json\",\r\n      \"id\": \"GetRDP\",\r\n      \"osType\": \"Windows\",\r\n      \"label\": \"RDP configuration\",\r\n      \"description\": \"List detailed information for the RDP settings: port number, domain profile, etc. and optionally reset the RDP.\"\r\n    },\r\n    {\r\n      \"$schema\": \"http://schema.management.azure.com/s[...]
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/providers/Microsoft.Compute/locations/SoutheastAsia/runCommands/PowerShellScript?api-version=2017-03-30",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"script\": [\r\n    \"param(\",\r\n    \"  [string]$customScript,\",\r\n    \"  [string]$customParameters\",\r\n    \")\",\r\n    \"$scriptBlock = [Scriptblock]::Create(\\\".{$customScript} $(&{$args} $customParameters)\\\")\",\r\n    \"Invoke-Command $scriptBlock\"\r\n  ],\r\n  \"parameters\": [\r\n    {\r\n      \"name\": \"customScript\",\r\n      \"type\": \"string\",\r\n      \"required\": true\r\n    },\r\n    {\r\n      \"name\": \"customParameters\",\r\n      \"type\": \"string\",\r\n      \"required\": false\r\n    }\r\n  ],\r\n  \"$schema\": \"http://schema.management.azure.com/schemas/2016-11-17/runcommands.json\",\r\n  \"id\": \"PowerShellScript\",\r\n  \"osType\": \"Windows\",\r\n  \"label\": \"Executes a PowerShell script\",\r\n  \"description\": \"Executes a custom PowerShell script with optional parameters.\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14979"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "24fb23e3-6ba3-41f0-9b6e-e41131d5d61e"
  }
}
