{
  "Entries": [
    {
      "RequestUri": "/subscriptions/df1ec963-d784-4d11-a779-1b3eeb9ecb78/resourcegroups/OI-Default-East-US/providers/Microsoft.OperationalInsights/workspaces/rasha/search?api-version=2015-03-20",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"top\": 25,\r\n  \"skip\": 0,\r\n  \"includeArchive\": false,\r\n  \"query\": \"*\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"subscriptions/df1ec963-d784-4d11-a779-1b3eeb9ecb78/resourceGroups/OI-Default-East-US/providers/Microsoft.OperationalInsights/workspaces/rasha/search/2131ae4f-2eaf-488d-a0d4-61af2ee94fe1\",\r\n  \"__metadata\": {\r\n    \"resultType\": \"raw\",\r\n    \"total\": 47660329,\r\n    \"top\": 25,\r\n    \"CoreResponses\": [],\r\n    \"CoreSummaries\": [\r\n      {\r\n        \"Status\": \"Pending\",\r\n        \"NumberOfDocuments\": 181106209\r\n      }\r\n    ],\r\n    \"Status\": \"Pending\",\r\n    \"NumberOfDocuments\": 181106209,\r\n    \"StartTime\": \"2015-11-30T23:59:55.2957608Z\",\r\n    \"LastUpdated\": \"2015-11-30T23:59:55.639509Z\",\r\n    \"ETag\": \"635845247956395090\",\r\n    \"sort\": [\r\n      {\r\n        \"name\": \"TimeGenerated\",\r\n        \"order\": \"desc\"\r\n      }\r\n    ],\r\n    \"requestTime\": 702\r\n  },\r\n  \"value\": [\r\n    {\r\n      \"Computer\": \"OMPERFSRV92.redmond.corp.microsoft.com\",\r\n      \"MG\": \"00000000-0000-0000-0000-000000000001\",\r\n      \"ManagementGroupName\": \"AOI-54bd7c21-cc2a-40fb-898f-ffd15604043e\",\r\n      \"SourceSystem\": \"OpsManager\",\r\n      \"TimeGenerated\": \"2015-11-30T23:55:33.737Z\",\r\n      \"SessionStartTime\": \"2015-11-30T23:39:35Z\",\r\n      \"SessionEndTime\": \"2015-11-30T23:54:43Z\",\r\n      \"LocalIP\": \"10.177.104.13\",\r\n      \"LocalSubnet\": \"10.177.104.0/23\",\r\n      \"LocalMAC\": \"78-e3-b5-08-7b-ba\",\r\n      \"LocalPortNumber\": 49404,\r\n      \"RemoteIP\": \"40.114.83.134\",\r\n      \"RemoteMAC\": \"e8-65-49-cd-41-c1\",\r\n      \"RemotePortNumber\": 443,\r\n      \"SessionID\": \"10.177.104.13_49404_40.114.83.134_443_18454_2015-11-30T23:39:35.000Z\",\r\n      \"SentBytes\": 0,\r\n      \"ReceivedBytes\": 602,\r\n      \"TotalBytes\": 602,\r\n      \"ProtocolName\": \"TCP\",\r\n      \"SentPackets\": 0,\r\n      \"ReceivedPackets\": 4,\r\n      \"ProcessID\": 3224,\r\n      \"ProcessName\": \"C:\\\\Program Files\\\\Microsoft Monitoring Agent\\\\Agent\\\\HealthService.exe\",\r\n      \"LatencyMilliseconds\": 0,\r\n      \"LatencySamplingTimeStamp\": \"2015-11-30T15:52:07Z\",\r\n      \"LatencySamplingFailureRate\": \"25.0%\",\r\n      \"id\": \"f92f8215-495e-e145-2250-78b3e49156be\",\r\n      \"Type\": \"WireData\",\r\n      \"Direction\": \"Outbound\",\r\n      \"SequenceNumber\": 15,\r\n      \"SessionState\": \"Established\",\r\n      \"IPVersion\": \"IPv4\",\r\n      \"ApplicationProtocol\": \"HTTPS\",\r\n      \"ApplicationServiceName\": \"https\",\r\n      \"ProcessExe_CF\": \"HealthService.exe\",\r\n      \"__metadata\": {\r\n        \"Type\": \"WireData\",\r\n        \"TimeGenerated\": \"2015-11-30T23:55:33.737Z\"\r\n      }\r\n    },\r\n    {\r\n      \"Computer\": \"OMPERFSRV92.redmond.corp.microsoft.com\",\r\n      \"MG\": \"00000000-0000-0000-0000-000000000001\",\r\n      \"ManagementGroupName\": \"AOI-54bd7c21-cc2a-40fb-898f-ffd15604043e\",\r\n      \"SourceSystem\": \"OpsManager\",\r\n      \"TimeGenerated\": \"2015-11-30T23:55:33.737Z\",\r\n      \"Session[...]
    {
      "RequestUri": "/subscriptions/df1ec963-d784-4d11-a779-1b3eeb9ecb78/resourcegroups/OI-Default-East-US/providers/Microsoft.OperationalInsights/workspaces/rasha/search/2131ae4f-2eaf-488d-a0d4-61af2ee94fe1?api-version=2015-03-20",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"subscriptions/df1ec963-d784-4d11-a779-1b3eeb9ecb78/resourceGroups/OI-Default-East-US/providers/Microsoft.OperationalInsights/works[...]
