{
  "Entries": [
    {
      "RequestUri": "/subscriptions/6f53185c-ea09-4fc3-9075-318dec805303/providers/Microsoft.ProviderHub/providerRegistrations/Microsoft.Contoso/resourcetypeRegistrations/employees?api-version=2020-11-20",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/6f53185c-ea09-4fc3-9075-318dec805303/providers/Microsoft.ProviderHub/providerRegistrations/Microsoft.Contoso/resourcetypeRegistrations/employees?api-version=2020-11-20",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceTypeRegistrationNotFound\",\r\n    \"message\": \"The resource type registration 'Microsoft.Contoso/employees' could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/6f53185c-ea09-4fc3-9075-318dec805303/providers/Microsoft.ProviderHub/providerRegistrations/Microsoft.Contoso/resourcetypeRegistrations/employees?api-version=2020-11-20",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"routingType\": \"Default\",\r\n    \"regionality\": \"Regional\",\r\n    \"endpoints\": [\r\n      {\r\n        \"apiVersions\": [\r\n          \"2018-11-01-preview\",\r\n          \"2020-01-01-preview\",\r\n          \"2019-01-01\"\r\n        ],\r\n        \"locations\": [\r\n          \"West US\",\r\n          \"West Central US\",\r\n          \"West Europe\",\r\n          \"Southeast Asia\",\r\n          \"West US 2\",\r\n          \"East US 2 EUAP\",\r\n          \"North Europe\",\r\n          \"East US\",\r\n          \"East Asia\"\r\n        ],\r\n        \"requiredFeatures\": [\r\n          \"Microsoft.Contoso/RPaaSSampleApp\"\r\n        ]\r\n      }\r\n    ],\r\n    \"swaggerSpecifications\": [\r\n      {\r\n        \"apiVersions\": [\r\n          \"2018-11-01-preview\",\r\n          \"2020-01-01-preview\",\r\n          \"2019-01-01\"\r\n        ],\r\n        \"swaggerSpecFolderUri\": \"https://github.com/Azure/azure-rest-api-specs-pr/blob/RPSaaSMaster/specification/rpsaas/resource-manager/Microsoft.Contoso/\"\r\n      }\r\n    ],\r\n    \"enableAsyncOperation\": true,\r\n    \"enableThirdPartyS2S\": false,\r\n    \"resourceMovePolicy\": {\r\n      \"validationRequired\": false,\r\n      \"crossResourceGroupMoveEnabled\": true,\r\n      \"crossSubscriptionMoveEnabled\": true\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"name\": \"employees\",\r\n    \"routingType\": \"Default\",\r\n    \"regionality\": \"Regional\",\r\n    \"endpoints\": [\r\n      {\r\n        \"apiVersions\": [\r\n          \"2018-11-01-preview\",\r\n          \"2020-01-01-preview\",\r\n          \"2019-01-01\"\r\n        ],\r\n        \"locations\": [\r\n          \"West US\",\r\n          \"West Central US\",\r\n          \"West Europe\",\r\n          \"Southeast Asia\",\r\n          \"West US 2\",\r\n          \"East US 2 EUAP\",\r\n          \"North Europe\",\r\n          \"East US\",\r\n          \"East Asia\"\r\n        ],\r\n        \"requiredFeatures\": [\r\n          \"Microsoft.Contoso/RPaaSSampleApp\"\r\n        ]\r\n      }\r\n    ],\r\n    \"swaggerSpecifications\": [\r\n      {\r\n        \"apiVersions\": [\r\n          \"2018-11-01-preview\",\r\n          \"2020-01-01-preview\",\r\n          \"2019-01-01\"\r\n        ],\r\n        \"swaggerSpecFolderUri\": \"https://github.com/Azure/azure-rest-api-specs-pr/blob/RPSaaSMaster/specification/rpsaas/resource-manager/Microsoft.Contoso/\"\r\n      }\r\n    ],\r\n    \"enableAsyncOperation\": true,\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"enableThirdPartyS2S\": false,\r\n    \"resourceMovePolicy\": {\r\n      \"validationRequired\": false,\r\n      \"crossResourceGroupMoveEnabled\": true,\r\n      \"crossSubscriptionMoveEnabled\": true\r\n    }\r\n  },\r\n  \"name\": \"employees\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "6f53185c-ea09-4fc3-9075-318dec805303"
  }
}