{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG459?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG459",
        "name": "testRG459",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG459/providers/Microsoft.Network/frontDoors/testfrontdoor1345?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "global",
        "properties": {
          "routingRules": [
            {
              "name": "routingrule1",
              "properties": {
                "frontendEndpoints": [
                  {
                    "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG459/providers/Microsoft.Network/frontDoors/testfrontdoor1345/frontendEndpoints/frontendEndpoint1"
                  }
                ],
                "acceptedProtocols": [
                  "Https"
                ],
                "patternsToMatch": [
                  "/*"
                ],
                "enabledState": "Enabled",
                "routeConfiguration": {
                  "forwardingProtocol": "MatchRequest",
                  "backendPool": {
                    "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG459/providers/Microsoft.Network/Frontdoors/testfrontdoor1345/BackendPools/backendPool1"
                  },
                  "@odata.type": "#Microsoft.Azure.FrontDoor.Models.FrontdoorForwardingConfiguration"
                }
              }
            }
          ],
          "loadBalancingSettings": [
            {
              "name": "loadBalancingSettings1",
              "properties": {
                "sampleSize": 4,
                "successfulSamplesRequired": 2,
                "additionalLatencyMilliseconds": 0
              }
            }
          ],
          "healthProbeSettings": [
            {
              "name": "healthProbeSettings1",
              "properties": {
                "path": "/",
                "protocol": "Http",
                "intervalInSeconds": 120,
                "healthProbeMethod": "GET",
                "enabledState": "Enabled"
              }
            }
          ],
          "backendPools": [
            {
              "name": "backendPool1",
              "properties": {
                "backends": [
                  {
                    "address": "contoso1.azurewebsites.net",
                    "httpPort": 80,
                    "httpsPort": 443,
                    "enabledState": "Enabled",
                    "priority": 2,
                    "weight": 1
                  }
                ],
                "loadBalancingSettings": {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG459/providers/Microsoft.Network/frontDoors/testfrontdoor1345/loadBalancingSettings/loadBalancingSettings1"
                },
                "healthProbeSettings": {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG459/providers/Microsoft.Network/frontDoors/testfrontdoor1345/healthProbeSettings/healthProbeSettings1"
                }
              }
            }
          ],
          "frontendEndpoints": [
            {
              "name": "frontendEndpoint1",
              "properties": {
                "hostName": "testfrontdoor1345.azurefd.net",
                "sessionAffinityEnabledState": "Disabled",
                "sessionAffinityTtlSeconds": 0
              }
            }
          ],
          "backendPoolsSettings": {
            "sendRecvTimeoutSeconds": 123
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG459/providers/Microsoft.Network/frontdooroperationresults/4de75fd4-39be-4181-b322-a8bb24ca625a?api-version=2021-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG459/providers/Microsoft.Network/frontdoors/testfrontdoor1345",
        "type": "Microsoft.Network/frontdoors",
        "name": "testfrontdoor1345",
        "location": "Global",
        "tags": {},
        "properties": {
          "routingRules": [
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG459/providers/Microsoft.Network/Frontdoors/testfrontdoor1345/RoutingRules/routingrule1",
              "name": "routingrule1",
              "type": "Microsoft.Network/Frontdoors/RoutingRules",
              "properties": {
                "routeConfiguration": {
                  "customForwardingPath": null,
                  "forwardingProtocol": "MatchRequest",
                  "cacheConfiguration": null,
                  "backendPool": {
                    "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG459/providers/Microsoft.Network/Frontdoors/testfrontdoor1345/BackendPools/backendPool1"
                  },
                  "@odata.type": "#Microsoft.Azure.FrontDoor.Models.FrontdoorForwardingConfiguration"
                },
                "rulesEngine": null,
                "resourceState": "Creating",
                "frontendEndpoints": [
                  {
                    "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG459/providers/Microsoft.Network/frontDoors/testfrontdoor1345/frontendEndpoints/frontendEndpoint1"
                  }
                ],
                "acceptedProtocols": [
                  "Https"
                ],
                "patternsToMatch": [
                  "/*"
                ],
                "enabledState": "Enabled",
                "webApplicationFirewallPolicyLink": null
              }
            }
          ],
          "rulesEngines": [],
          "frontdoorId": "4297833c-57dd-43ac-985a-a5012ce99c83",
          "extendedProperties": {},
          "resourceState": "Creating",
          "loadBalancingSettings": [
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG459/providers/Microsoft.Network/Frontdoors/testfrontdoor1345/LoadBalancingSettings/loadBalancingSettings1",
              "name": "loadBalancingSettings1",
              "type": "Microsoft.Network/Frontdoors/LoadBalancingSettings",
              "properties": {
                "resourceState": "Creating",
    [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG459/providers/Microsoft.Network/frontdooroperationresults/4de75fd4-39be-4181-b322-a8bb24ca625a?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "status": "InProgress",
        "error": {
          "code": "None",
          "message": null
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG459/providers/Microsoft.Network/frontDoors/testfrontdoor1345?api-version=2021-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG459/providers/Microsoft.Network/frontdooroperationresults/460407da-7b67-4280-8a76-c4ab4a232c87?api-version=2021-06-01",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG459/providers/Microsoft.Network/frontdooroperationresults/460407da-7b67-4280-8a76-c4ab4a232c87/frontdoorresults/testfrontdoor1345?api-version=2021-06-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG459/providers/Microsoft.Network/frontdooroperationresults/460407da-7b67-4280-8a76-c4ab4a232c87?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11981"
      },
      "ResponseBody": {
        "status": "Succeeded",
        "error": {
          "code": "None",
          "message": null
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "94375188",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
