{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11855"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/ServiceFabricManagedClustersRG2260?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1179"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/ServiceFabricManagedClustersRG2260",
        "name": "ServiceFabricManagedClustersRG2260",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/ServiceFabricManagedClustersRG2260/providers/Microsoft.ServiceFabric/managedClusters/sfmctest9961?api-version=2022-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Basic"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "dnsName": "sfmcnetsdk7512354",
          "clientConnectionPort": 19000,
          "httpGatewayConnectionPort": 19080,
          "adminUserName": "vmadmin",
          "adminPassword": "Password123!@#",
          "clients": [
            {
              "isAdmin": true,
              "thumbprint": "123BDACDCDFB2C7B250192C6078E47D1E1DB119B"
            }
          ],
          "clusterUpgradeMode": "Automatic",
          "zonalResiliency": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.ServiceFabric/locations/eastus/managedclusteroperations/57fb0005-7db7-4a16-b3df-ac8ebad420a7?api-version=2022-01-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1178"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/ServiceFabricManagedClustersRG2260/providers/Microsoft.ServiceFabric/managedClusters/sfmctest9961",
        "type": "Microsoft.ServiceFabric/managedclusters",
        "location": "eastus",
        "name": "sfmctest9961",
        "tags": {},
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2023-03-16T06:53:48.6535894\u002B00:00",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-16T06:53:48.6535894\u002B00:00"
        },
        "sku": {
          "name": "Basic"
        },
        "properties": {
          "provisioningState": "Creating",
          "clusterId": "cad5f591-5768-4cf3-a715-4dedcd40ef40",
          "clusterUpgradeMode": "Automatic",
          "isPrivateClusterCodeVersion": false,
          "clusterUpgradeCadence": "Wave0",
          "adminUserName": "vmadmin",
          "dnsName": "sfmcnetsdk7512354",
          "clusterCertificateThumbprints": [],
          "clientConnectionPort": 19000,
          "httpGatewayConnectionPort": 19080,
          "allowRdpAccess": false,
          "clients": [
            {
              "isAdmin": true,
              "thumbprint": "123BDACDCDFB2C7B250192C6078E47D1E1DB119B"
            }
          ],
          "enableAutoOSUpgrade": false,
          "zonalResiliency": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.ServiceFabric/locations/eastus/managedclusteroperations/57fb0005-7db7-4a16-b3df-ac8ebad420a7?api-version=2022-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11854"
      },
      "ResponseBody": {
        "name": "57fb0005-7db7-4a16-b3df-ac8ebad420a7",
        "startTime": "2023-03-16T06:53:48.9875861Z",
        "endTime": "0001-01-01T00:00:00",
        "percentComplete": 30.0,
        "status": "Created"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/ServiceFabricManagedClustersRG2260/providers/Microsoft.ServiceFabric/managedClusters/sfmctest9961?api-version=2022-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11824"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/ServiceFabricManagedClustersRG2260/providers/Microsoft.ServiceFabric/managedClusters/sfmctest9961",
        "type": "Microsoft.ServiceFabric/managedclusters",
        "location": "eastus",
        "name": "sfmctest9961",
        "tags": {},
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2023-03-16T06:53:48.6535894\u002B00:00",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-16T06:53:48.6535894\u002B00:00"
        },
        "sku": {
          "name": "Basic"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "clusterId": "cad5f591-5768-4cf3-a715-4dedcd40ef40",
          "clusterState": "WaitingForNodes",
          "clusterUpgradeMode": "Automatic",
          "isPrivateClusterCodeVersion": false,
          "clusterUpgradeCadence": "Wave0",
          "adminUserName": "vmadmin",
          "dnsName": "sfmcnetsdk7512354",
          "fqdn": "sfmcnetsdk7512354.eastus.cloudapp.azure.com",
          "ipv4Address": "4.227.239.1",
          "clusterCertificateThumbprints": [
            "0ABBAC1DF668304269F15F95ACD3E05A2B54F433"
          ],
          "clientConnectionPort": 19000,
          "httpGatewayConnectionPort": 19080,
          "allowRdpAccess": false,
          "clients": [
            {
              "isAdmin": true,
              "thumbprint": "123BDACDCDFB2C7B250192C6078E47D1E1DB119B"
            }
          ],
          "enableAutoOSUpgrade": false,
          "zonalResiliency": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/ServiceFabricManagedClustersRG2260/providers/Microsoft.ServiceFabric/managedClusters?api-version=2022-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11821"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/ServiceFabricManagedClustersRG2260/providers/Microsoft.ServiceFabric/managedClusters/sfmctest9961",
            "type": "Microsoft.ServiceFabric/managedclusters",
            "location": "eastus",
            "name": "sfmctest9961",
            "tags": {},
            "systemData": {
              "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
              "createdByType": "Application",
 [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/ServiceFabricManagedClustersRG2260/providers/Microsoft.ServiceFabric/managedClusters/sfmctest9961?api-version=2022-01-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.ServiceFabric/locations/eastus/managedclusteroperations/cfb80005-cb4f-4631-971b-f6835c92894a?api-version=2022-01-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.ServiceFabric/locations/eastus/managedclusteroperationresults/cfb80005-cb4f-4631-971b-f6835c92894a?api-version=2022-01-01",
        "x-ms-ratelimit-remaining-subscription-deletes": "14998"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/ServiceFabricManagedClustersRG2260/providers/Microsoft.ServiceFabric/managedClusters/sfmctest9[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/ServiceFabricManagedClustersRG2260/providers/Microsoft.ServiceFabric/managedClusters/sfmctest9961?api-version=2022-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.ServiceFabric/managedclusters/sfmctest9961\u0027 under resource group \u0027ServiceFabricManagedClustersRG2260\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "354236982",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
