<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="CloudServiceName" value="CisService-JYXO6H4ZMZRAOY6NAK7XQATEYETPTET2SM7BM4GTR6A7OUA65GTA-west-us" />
    <add key="ResourceName" value="onesdk-avirupch" />
    <add key="ResourceId" value="7234856578800345617" />
    <add key="ResourceNamespace" value="CISBVT2" />
    <add key="SubNetName" value="saurav" />
    <add key="VirtualNetworkName" value="Subnet-1" />
    <add key="StorageAccountName" value="sacforonesdk" />
    <add key ="FreeIpForTestAppliance1" value="10.67.64.48"/>
    <add key ="FreeIpForTestAppliance2" value="10.67.64.49"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key ="MigrationTargetDeviceID" value="4cb660cc-fb44-4bd6-830a-1ba9b0430717"/>
    <add key ="MigrationUnitTestConfig" value="MigrationUnitTestConfig.xml"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>