{
  "Entries": [
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "id": "/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions"
        },
        "subscriptionId": "31b0b6a5-2647-47eb-8a38-7d12047ee8ec",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Discovery-copilot-devslice1-uksouth",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/resourcegroups/rp114-rg?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "1098",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "id": "/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/resourceGroups/rp114-rg",
        "name": "rp114-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "uksouth",
        "tags": {
          "Created": "2026-01-15T00:18:18.3142262Z",
          "SkipAutoDeleteTill": "2026-12-31",
          "RGOwner": "patelr"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/resourceGroups/rp114-rg/providers/Microsoft.Discovery/supercomputers?api-version=2026-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "10d50015-3237-4254-bfec-bf4c8e62ed91",
          "9fa2cba8-bf3c-459a-bf97-c8d1bfca2dfc"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "1097",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/resourceGroups/rp114-rg/providers/Microsoft.Discovery/supercomputers/itsuperp114",
            "name": "itsuperp114",
            "type": "microsoft.discovery/supercomputers",
            "location": "uksouth",
            "tags": {
              "createdBy": "Sanitized"
            },
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "Application",
              "createdAt": "2026-01-15T00:18:20.4616551Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2026-01-15T00:34:40.7398302Z"
            },
            "properties": {
              "subnetId": "/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/resourceGroups/fixedrg-dev-uksouth1/providers/Microsoft.Network/virtualNetworks/vnet-dev-uksouth1/subnets/supercomputer-aks",
              "identities": {
                "clusterIdentity": {
                  "id": "/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/resourcegroups/fixedrg-dev-uksouth1/providers/Microsoft.ManagedIdentity/userAssignedIdentities/dev-uksouth1-uami",
                  "principalId": "00000000-0000-0000-0000-000000000000",
                  "clientId": "00000000-0000-0000-0000-000000000000"
                },
                "kubeletIdentity": {
                  "id": "/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/resourcegroups/fixedrg-dev-uksouth1/providers/Microsoft.ManagedIdentity/userAssignedIdentities/dev-uksouth1-uami",
                  "principalId": "00000000-0000-0000-0000-000000000000",
                  "clientId": "00000000-0000-0000-0000-000000000000"
                },
                "workloadIdentities": {
                  "/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/resourcegroups/fixedrg-dev-uksouth1/providers/Microsoft.ManagedIdentity/userAssignedIdentities/dev-uksouth1-uami": {
                    "principalId": "00000000-0000-0000-0000-000000000000",
                    "clientId": "00000000-0000-0000-0000-000000000000"
                  }
                }
              },
              "managedOnBehalfOfConfiguration": {
                "moboBrokerResources": [
                  {
                    "id": "/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/resourceGroups/rp114-rg/providers/Microsoft.Resources/moboBrokers/mobr-dscmp-itsuperp114-0v0k8q"
                  }
                ]
              },
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_RESOURCE_GROUP_NAME": "rp114-rg",
    "RandomSeed": "423457528",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "31b0b6a5-2647-47eb-8a38-7d12047ee8ec"
  }
}
