{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute/locations/southeastasia/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/WindowsServer/skus/2012-R2-Datacenter/versions?$top=1\u0026api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "10362"
      },
      "ResponseBody": [
        "[\r\n",
        "  {\r\n",
        "    \u0022location\u0022: \u0022southeastasia\u0022,\r\n",
        "    \u0022name\u0022: \u00224.127.20180315\u0022,\r\n",
        "    \u0022id\u0022: \u0022/Subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/Providers/Microsoft.Compute/Locations/southeastasia/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2012-R2-Datacenter/Versions/4.127.20180315\u0022\r\n",
        "  }\r\n",
        "]"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/crptestar94041?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "southeastasia",
        "tags": {
          "crptestar94041": "2020-08-17 11:28:29Z"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1159"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar94041",
        "name": "crptestar94041",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "southeastasia",
        "tags": {
          "crptestar94041": "2020-08-17 11:28:29Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar94041/providers/Microsoft.Storage/storageAccounts/crptestar1097?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_GRS"
        },
        "kind": "Storage",
        "location": "southeastasia",
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/southeastasia/asyncoperations/1d5ed857-8ebc-4471-92bf-4d8401a6715e?monitor=true\u0026api-version=2019-06-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1158"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/southeastasia/asyncoperations/1d5ed857-8ebc-4471-92bf-4d8401a6715e?monitor=true\u0026api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/southeastasia/asyncoperations/1d5ed857-8ebc-4471-92bf-4d8401a6715e?monitor=true\u0026api-version=2019-06-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-reads": "10361"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/southeastasia/asyncoperations/1d5ed857-8ebc-4471-92bf-4d8401a6715e?monitor=true\u0026api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "10346"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_GRS",
          "tier": "Standard"
        },
        "kind": "Storage",
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar94041/providers/Microsoft.Storage/storageAccounts/crptestar1097",
        "name": "crptestar1097",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "southeastasia",
        "tags": {},
        "properties": {
          "privateEndpointConnections": [],
          "networkAcls": {
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2020-08-17T11:28:33.6510425Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2020-08-17T11:28:33.6510425Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "provisioningState": "Succeeded",
          "creationTime": "2020-08-17T11:28:33.5885086Z",
          "primaryEndpoints": {
            "blob": "https://crptestar1097.blob.core.windows.net/",
            "queue": "https://crptestar1097.queue.core.windows.net/",
            "table": "https://crptestar1097.table.core.windows.net/",
            "file": "https://crptestar1097.file.core.windows.net/"
          },
          "primaryLocation": "southeastasia",
          "statusOfPrimary": "available",
          "secondaryLocation": "eastasia",
          "statusOfSecondary": "available"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar94041/providers/Microsoft.Storage/storageAccounts?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "10345"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "Standard_GRS",
              "tier": "Standard"
            },
            "kind": "Storage",
            "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar94041/providers/Microsoft.Storage/storageAccounts/crptestar1097",
            "name": "crptestar1097",
            "type": "Microsoft.Storage/storageAccounts",
            "location": "southeastasia",
            "tags": {},
            "properties": {[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar94041/providers/Microsoft.Network/publicIPAddresses/pip5089?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "southeastasia",
        "tags": {
          "key": "value"
        },
        "properties": {
          "publicIPAllocationMethod": "Dynamic",
          "dnsSettings": {
            "domainNameLabel": "dn5837"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/southeastasia/operations/6fe16ca3-ac89-41e7-b012-ce299cbb9cf7?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-writes": "1156"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022pip5089\u0022,\r\n",
        "  \u0022id\u0022: \u0022/sub[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/southeastasia/operations/6fe16ca3-ac89-41e7-b012-ce299cbb9cf7?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "2",
        "x-ms-ratelimit-remaining-subscription-reads": "10343"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022status\u0022: \u0022InProgress\u0022\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar94041/providers/Microsoft.Network/publicIPAddresses/pip5089?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022eba90280-4317-453e-9008-3a8007354b27\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "10340"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022pip5089\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar94041/providers/Microsoft.Network/publicIPAddresses/pip5089\u0022,\r\n",
        "  \u0022etag\u0022: \u0022W/\\\u0022eba90280-4317-453e-9008-3a8007354b27\\\u0022\u002[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar94041/providers/Microsoft.Network/virtualNetworks/vn9084?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "southeastasia",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "dhcpOptions": {
            "dnsServers": [
              "10.1.1.1",
              "10.1.2.4"
            ]
          },
          "subnets": [
            {
              "name": "sn2624",
              "properties": {
                "addressPrefix": "10.0.0.0/24"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/southeastasia/operations/2675f016-a748-4594-ad98-1290e8c7d110?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
 [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar94041/providers/Microsoft.Network/virtualNetworks/vn9084/subnets/sn2624?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00225fba7b6[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar94041/providers/Microsoft.Network/networkInterfaces/nic3812?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "southeastasia",
        "tags": {
          "key": "value"
        },
        "properties": {
          "ipConfigurations": [
            {
              "name": "ip7298",
              "properties": {
                "privateIPAllocationMethod": "Dynamic",
                "subnet": {
                  "name": "sn2624",
                  "etag": "W/\u00225fba7b6f-2bb2-44e3-805b-636d5bac2065\u0022",
                  "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar94041/providers/Microsoft.Network/virtualNetworks/vn9084/subnets/sn2624",
                  "properties": {
                    "addressPrefix": "10.0.0.0/24",
                    "delegations": [],
                    "provisioningState": "Succeeded",
                    "privateEndpointNetworkPolicies": "Enabled",
                    "privateLinkServiceNetworkPolicies": "Enabled"
                  }
                }
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/southeastasia/operations/2ee8c64d-fbf1-4d4b-89f8-f30d0bbff329?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar94041/providers/Microsoft.Compute/availabilitySets/as8026?api-version=2019-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Classic"
        },
        "location": "southeastasia",
        "tags": {
          "RG": "rg",
          "testTag": "1"
        },
        "properties": {
          "platformUpdateDomainCount": 5,
          "platformFaultDomainCount": 3
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/PutVM3Min;239,Microsoft.Compute/PutVM30Min;1191",
        "x-ms-ratelimit-remaining-subscription-writes": "1153"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022as8026\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar94041/providers/Microsoft.Compute/availabilitySets/as8026\u0022,\r\n",
        "  \u0022type\u0022: \u0022Microsoft.Compute/availabilitySets\u0022,\r\n",
        "  \u0022location\u0022: \u0022southeastasia\u0022,\r\n",
        "  \u0022tags\u0022: {\r\n",
        "    \u0022RG\u0022: \u0022rg\u0022,\r\n",
        "    \u0022testTag\u0022: \u00221\u0022\r\n",
        "  },\r\n",
        "  \u0022properties\u0022: {\r\n",
        "    \u0022platformUpdateDomainCount\u0022: 5,\r\n",
        "    \u0022platformFaultDomainCount\u0022: 3\r\n",
        "  },\r\n",
        "  \u0022sku\u0022: {\r\n",
        "    \u0022name\u0022: \u0022Classic\u0022\r\n",
        "  }\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar94041/providers/Microsoft.Compute/virtualMachines/vm1396?api-version=2019-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "southeastasia",
        "tags": {
          "RG": "rg",
          "testTag": "1"
        },
        "properties": {
          "hardwareProfile": {
            "vmSize": "Standard_A1"
          },
          "storageProfile": {
            "imageReference": {
              "publisher": "MicrosoftWindowsServer",
              "offer": "WindowsServer",
              "sku": "2012-R2-Datacenter",
              "version": "4.127.20180315"
            },
            "osDisk": {
              "name": "test",
              "vhd": {
                "uri": "https://crptestar1097.blob.core.windows.net/crptestar9306/oscrptestar2201.vhd"
              },
              "caching": "None",
              "createOption": "FromImage"
            }
          },
          "osProfile": {
            "computerName": "Test",
            "adminUsername": "Foo12",
            "adminPassword": "[PLACEHOLDEr1]"
          },
          "networkProfile": {
            "networkInterfaces": [
              {
                "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar94041/providers/Microsoft.Network/networkInterfaces/nic3812",
                "properties": {}
              }
            ]
          },
          "priority": "Spot",
          "billingProfile": {
            "maxPrice": -1
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute/locations/southeastasia/operations/4480b6a5-4f84-428a-99cd-99cc0185b20c?api-version=2019-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-resourc[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute/locations/southeastasia/operations/4480b6a5-4f84-428a-99cd-99cc0185b20c?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "50",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;14885,Microsoft.Compute/GetOperation30Min;28599",
        "x-ms-ratelimit-remaining-subscription-reads": "10331"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022startTime\u0022: \u00222020-08-17T11:29:03.6238133\u002B00:00\u0022,\r\n",
        "  \u0022status\u0022: \u0022InProgress\u0022,\r\n",
        "  \u0022name\u0022: \u00224480b6a5-4f84-428a-99cd-99cc0185b20c\u0022\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar94041/providers/Microsoft.Compute/virtualMachines/vm1396?$expand=instanceView\u0026api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelim[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar94041/providers/Microsoft.Compute/virtualMachines/vm1396/simulateEviction?api-version=2019-12-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/DeleteVM3Min;237,Microsoft.Compute/DeleteVM30Min;1191",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-08-17T19:28:29.3238007\u002B08:00",
    "RandomSeed": "2127173794",
    "SUBSCRIPTION_ID": "c9cbd920-c00c-427c-852b-8aaf38badaeb"
  }
}