{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/users?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"accountEnabled\": true,\r\n  \"displayName\": \"aduser8240\",\r\n  \"passwordProfile\": {\r\n    \"password\": \"Test12345\",\r\n    \"forceChangePasswordNextLogin\": false\r\n  },\r\n  \"userPrincipalName\": \"aduser8240@rbacclitest.onmicrosoft.com\",\r\n  \"mailNickname\": \"aduser8240test\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.User/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.User\",\r\n  \"objectType\": \"User\",\r\n  \"objectId\": \"c63e9ae2-e54b-41d2-a373-a567b6198dcb\",\r\n  \"deletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"signInNames\": [],\r\n  \"assignedLicenses\": [],\r\n  \"assignedPlans\": [],\r\n  \"city\": null,\r\n  \"companyName\": null,\r\n  \"country\": null,\r\n  \"creationType\": null,\r\n  \"department\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"aduser8240\",\r\n  \"facsimileTelephoneNumber\": null,\r\n  \"givenName\": null,\r\n  \"immutableId\": null,\r\n  \"isCompromised\": null,\r\n  \"jobTitle\": null,\r\n  \"lastDirSyncTime\": null,\r\n  \"mail\": null,\r\n  \"mailNickname\": \"aduser8240test\",\r\n  \"mobile\": null,\r\n  \"onPremisesSecurityIdentifier\": null,\r\n  \"otherMails\": [],\r\n  \"passwordPolicies\": null,\r\n  \"passwordProfile\": null,\r\n  \"physicalDeliveryOfficeName\": null,\r\n  \"postalCode\": null,\r\n  \"preferredLanguage\": null,\r\n  \"provisionedPlans\": [],\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"refreshTokensValidFromDateTime\": \"2016-08-03T06:29:18.7633984Z\",\r\n  \"sipProxyAddress\": null,\r\n  \"state\": null,\r\n  \"streetAddress\": null,\r\n  \"surname\": null,\r\n  \"telephoneNumber\": null,\r\n  \"usageLocation\": null,\r\n  \"userPrincipalName\": \"aduser8240@rbacclitest.onmicrosoft.com\",\r\n  \"userType\": \"Member\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/c63e9ae2-e54b-41d2-a373-a567b6198dcb/Microsoft.DirectoryServices.User"
        ],
        "ocp-aad-diagnostics-server-name": [
          "WidflJ9mqequu8oD2vdZNqrS85ZDnXLVWdKHcPhx/k4="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "728sblCS6UXPBQp8lCjViTjO-n9kPGtnovSvwRFoc2dv8kByJ-j97J6R3lja1iqDrSITMGwXh8Wz_2qleI-JUc0RiD_MyoDSx-iBz86gZStMXaYxg73QzwQIcaVESL_MNf1vk3bn9fIkQekAWoAkRZzOMP53YXIVXU7N3NV1THqPLVm3vGn5LPorteZuVGFk-Z0t3CbQxK3JLFMPcXq6wQ.fL6SfBpuNuAJzrwo3SgmayS0w_PA6S8i7wuUI7e3gqU"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "11271003"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/users/aduser8240@rbacclitest.onmicrosoft.com?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "XC9wGq8e5l+CvRb/18NVQPL7HrQDpUAyeREC/qiiJSE="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "srGIVfGuzKtWdZTM3yPDVVjuM2B-g1aMUz6UM8v2i5TaC7P5CHMkAQ5ussEIMRI-L6jWGCMOeIjsr8WxIOQ1Huxw4pKxx_NS6nczQEIfLQVy8qT-oc42nK3_hLRI1T38B23v2CLf3tdj7Hct83Ce4SYOVyaHwYJV0uoIouuXleBprlsmhuexfUNdtEfvSYSmf6LI5rUWhfpOS5cWjjMKgg.oh9PzP6lJy3FMqvJ2yKlEZzwtJJVSAVcbF9fr3nRcw0"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "13797711"
        ]
      },
      "StatusCode": 204
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/users/aduser8240@rbacclitest.onmicrosoft.com?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.error\": {\r\n    \"code\": \"Request_ResourceNotFound\",\r\n    \"message\": {\r\n      \"lang\": \"en\",\r\n      \"value\": \"Resource 'aduser8240@rbacclitest.onmicrosoft.com' does not exist or one of its queried reference-property objects are not present.\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "eTv/+eSXVMnsnytZxi018Ikz5qYWAsHBiTLR3SMW/5s="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "Oaw8p6OLaQm1EOEWam_s061a9PMs3x2_2znt5xwEVhmNaOpfBEJ1JRv5YhaRoLr82RoUD2Jr1IeDDeP73_Pd9LIYLcKAw69U69tfsDlXpDQDpKq9ujpCDhTUjd0tt_5w84Z4xgO9f4lGdKelplm4EAbKs8UmYuRcgAjg5fJ-WV9l4fv4ov63_RXZ0blG59Mq1BTCkdYtMsP6o6FrKjN1Nw.MAQ1k19lpfdj4z5BPeOSbDV16COK315KBYDB0LWcfx4"
        ],
        "Duration": [
          "1263412"
        ]
      },
      "StatusCode": 404
    }
  ],
  "Names": {
    "CreateUser": [
      "aduser8240"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}