{
  "Entries": [
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/to-delete-02/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurationRuns?api-version=2019-06-01&$filter=properties%2FsoftwareUpdateConfiguration%2Fname%20eq%20%27test-suc%27",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/to-delete-02/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurationRuns/e5934d51-6e50-41f8-b860-3a3657040f8d\",\r\n      \"name\": \"e5934d51-6e50-41f8-b860-3a3657040f8d\",\r\n      \"type\": null,\r\n      \"properties\": {\r\n        \"softwareUpdateConfiguration\": {\r\n          \"name\": \"test-suc\"\r\n        },\r\n        \"status\": \"InProgress\",\r\n        \"configuredDuration\": \"PT2H\",\r\n        \"osType\": \"Windows\",\r\n        \"startTime\": \"2021-03-31T17:15:38.3433333+05:30\",\r\n        \"endTime\": null,\r\n        \"computerCount\": 1,\r\n        \"failedCount\": 0,\r\n        \"error\": null,\r\n        \"tasks\": null,\r\n        \"creationTime\": \"2021-03-31T17:15:38.3433333+05:30\",\r\n        \"lastModifiedBy\": null,\r\n        \"lastModifiedTime\": \"2021-03-31T17:15:38.73+05:30\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "422b6c61-95b0-4213-b3be-7282315df71d"
  }
}