{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "id": "/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "272c26cb-7026-4b37-b190-7cb7b2abecb0",
        "tenantId": "888d76fa-54b2-4ced-8ee5-aac1585adee7",
        "displayName": "NewRelic-PayG",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourcegroups/SDKTestNRRG-1451?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/SDKTestNRRG-1451",
        "name": "SDKTestNRRG-1451",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/SDKTestNRRG-1451/providers/NewRelic.Observability/monitors/testDT-8992?api-version=2022-07-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "userInfo": {
            "firstName": "vipray",
            "lastName": "jain",
            "emailAddress": "viprayjain@microsoft.com",
            "phoneNumber": "1234567890",
            "country": "IN"
          },
          "planData": {
            "usageType": "PAYG",
            "billingCycle": "MONTHLY",
            "planDetails": "newrelic-pay-as-you-go-free-live@TIDgmz7xq9ge3py",
            "effectiveDate": "2022-09-28T07:12:30.0000000Z"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/NewRelic.Observability/locations/EASTUS/operationStatuses/b50bfe08-ee9b-479a-90e5-e07603136fee*A9A053FF50E1A48B37537249CF4B2DB700B2C7953657BE4DBE2FAC6C9A310DD0?api-version=2022-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002205006d4b-0000-0100-0000-6463757a0000\u0022",
        "Location": "https://management.azure.com/providers/NewRelic.Observability/locations/EASTUS/operationStatuses/b50bfe08-ee9b-479a-90e5-e07603136fee*A9A053FF50E1A48B37537249CF4B2DB700B2C7953657BE4DBE2FAC6C9A310DD0?api-version=2022-07-01-preview",
        "mise-correlation-id": "99ae2202-d982-4520-9239-58da2dbbe782",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/SDKTestNRRG-1451/providers/NewRelic.Observability/monitors/testDT-8992",
        "name": "testDT-8992",
        "type": "newrelic.observability/monitors",
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "09a13a20-12be-4fda-a11e-a6895d6b321b",
          "createdByType": "Application",
          "createdAt": "2023-05-16T12:22:14.0278847Z",
          "lastModifiedBy": "09a13a20-12be-4fda-a11e-a6895d6b321b",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-05-16T12:22:14.0278847Z"
        },
        "properties": {
          "orgCreationSource": "LIFTR",
          "accountCreationSource": "LIFTR",
          "provisioningState": "Accepted",
          "monitoringStatus": "Enabled",
          "marketplaceSubscriptionStatus": "Active",
          "newRelicAccountProperties": {
            "userId": null,
            "accountInfo": null,
            "organizationInfo": null
          },
          "userInfo": {
            "firstName": "vipray",
            "lastName": "jain",
            "emailAddress": "viprayjain@microsoft.com",
            "phoneNumber": "1234567890"
          },
          "planData": {
            "usageType": "PAYG",
            "billingCycle": "MONTHLY",
            "planDetails": "newrelic-pay-as-you-go-free-live@TIDgmz7xq9ge3py",
            "effectiveDate": "2022-09-28T07:12:30Z"
          },
          "liftrResourceCategory": "MonitorLogs",
          "liftrResourcePreference": 0
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/NewRelic.Observability/locations/EASTUS/operationStatuses/b50bfe08-ee9b-479a-90e5-e07603136fee*A9A053FF50E1A48B37537249CF4B2DB700B2C7953657BE4DBE2FAC6C9A310DD0?api-version=2022-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200007772-0000-0100-0000-6463757a0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/NewRelic.Observability/locations/EASTUS/operationStatuses/b50bfe08-ee9b-479a-90e5-e07603136fee*A9A053FF50E1A48B37537249CF4B2DB700B2C7953657BE4DBE2FAC6C9A310DD0",
        "name": "b50bfe08-ee9b-479a-90e5-e07603136fee*A9A053FF50E1A48B37537249CF4B2DB700B2C7953657BE4DBE2FAC6C9A310DD0",
        "resourceId": "/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/SDKTestNRRG-1451/providers/NewRelic.Observability/monitors/testDT-8992",
        "status": "Accepted",
        "startTime": "2023-05-16T12:22:18.3862007Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/NewRelic.Observability/locations/EASTUS/operationStatuses/b50bfe08-ee9b-479a-90e5-e07603136fee*A9A053FF50E1A48B37537249CF4B2DB700B2C7953657BE4DBE2FAC6C9A310DD0?api-version=2022-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000c572-0000-0100-0000-6463759a0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11992"
      },
      "ResponseBody": {
        "id": "/providers/NewRelic.Observability/locations/EASTUS/operationStatuses/b50bfe08-ee9b-479a-90e5-e07603136fee*A9A053FF50E1A48B37537249CF4B2DB700B2C7953657BE4DBE2FAC6C9A310DD0",
        "name": "b50bfe08-ee9b-479a-90e5-e07603136fee*A9A053FF50E1A48B37537249CF4B2DB700B2C7953657BE4DBE2FAC6C9A310DD0",
        "resourceId": "/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/SDKTestNRRG-1451/providers/NewRelic.Observability/monitors/testDT-8992",
        "status": "Succeeded",
        "startTime": "2023-05-16T12:22:18.3862007Z",
        "endTime": "2023-05-16T12:22:50.9480914Z",
        "error": {},
        "properties": null
      }
    },
[...]
