{
  "Entries": [
    {
      "RequestUri": "/vision/v1.0/describe?maxCandidates=2",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"url\": \"https://raw.githubusercontent.com/Azure/azure-sdk-for-net/psSdkJson6/src/SDKs/CognitiveServices/dataPlane/Vision/ComputerVision/ComputerVision.Tests/TestImages/dog.jpg\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Ocp-Apim-Subscription-Key": [
          ""
        ]
      },
      "ResponseBody": "{\r\n  \"description\": {\r\n    \"tags\": [\r\n      \"dog\",\r\n      \"outdoor\",\r\n      \"sitting\",\r\n      \"animal\",\r\n      \"mammal\",\r\n      \"looking\",\r\n      \"brown\",\r\n      \"bench\",\r\n      \"yellow\",\r\n      \"front\",\r\n      \"large\",\r\n      \"wooden\",\r\n      \"small\",\r\n      \"white\",\r\n      \"standing\",\r\n      \"close\",\r\n      \"table\",\r\n      \"orange\",\r\n      \"laying\",\r\n      \"park\",\r\n      \"head\"\r\n    ],\r\n    \"captions\": [\r\n      {\r\n        \"text\": \"a close up of a dog\",\r\n        \"confidence\": 0.96541176672082818\r\n      },\r\n      {\r\n        \"text\": \"close up of a dog\",\r\n        \"confidence\": 0.95799109896890555\r\n      }\r\n    ]\r\n  },\r\n  \"requestId\": \"b17f1aed-b5bb-4cc3-9ddf-eaedc8f7c9c3\",\r\n  \"metadata\": {\r\n    \"height\": 599,\r\n    \"width\": 455,\r\n    \"format\": \"Jpeg\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}