{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11985"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/pgrg7671?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/pgrg7671",
        "name": "pgrg7671",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/pgrg7671/providers/Microsoft.DBforPostgreSQL/servers/pgserver1845?api-version=2017-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "B_Gen5_1"
        },
        "properties": {
          "administratorLogin": "testUser",
          "administratorLoginPassword": "testPassword1!",
          "createMode": "Default"
        },
        "location": "westus"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.DBforPostgreSQL/locations/westus/azureAsyncOperation/d7866d51-6873-40ee-a361-5c9ec88c67e5?api-version=2017-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.DBforPostgreSQL/locations/westus/operationResults/d7866d51-6873-40ee-a361-5c9ec88c67e5?api-version=2017-12-01",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "operation": "UpsertElasticServer",
        "startTime": "2022-08-23T04:25:29.02Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.DBforPostgreSQL/locations/westus/azureAsyncOperation/d7866d51-6873-40ee-a361-5c9ec88c67e5?api-version=2017-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "name": "d7866d51-6873-40ee-a361-5c9ec88c67e5",
        "status": "InProgress",
        "startTime": "2022-08-23T04:25:29.02Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/pgrg7671/providers/Microsoft.DBforPostgreSQL/servers/pgserver1845?api-version=2017-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "sku": {
          "name": "B_Gen5_1",
          "tier": "Basic",
          "family": "Gen5",
          "capacity": 1
        },
        "properties": {
          "administratorLogin": "testUser",
          "storageProfile": {
            "storageMB": 5120,
            "backupRetentionDays": 7,
            "geoRedundantBackup": "Disabled",
            "storageAutogrow": "Disabled"
          },
          "version": "9.6",
          "sslEnforcement": "Enabled",
          "minimalTlsVersion": "TLSEnforcementDisabled",
          "userVisibleState": "Ready",
          "fullyQualifiedDomainName": "pgserver1845.postgres.database.azure.com",
          "earliestRestoreDate": "2022-08-23T04:35:29.333\u002B00:00",
          "replicationRole": "None",
          "masterServerId": "",
          "replicaCapacity": 5,
          "byokEnforcement": "Disabled",
          "privateEndpointConnections": [],
          "infrastructureEncryption": "Disabled",
          "publicNetworkAccess": "Enabled"
        },
        "location": "westus",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/pgrg7671/providers/Microsoft.DBforPostgreSQL/servers/pgserver1845",
        "name": "pgserver1845",
        "type": "Microsoft.DBforPostgreSQL/servers"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/pgrg7671/providers/Microsoft.DBforPostgreSQL/servers/pgserver1845?api-version=2017-12-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "SystemAssigned"
        },
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.DBforPostgreSQL/locations/westus/azureAsyncOperation/0b3cc60b-22c8-486a-a4f3-b8712f607fd6?api-version=2017-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.DBforPostgreSQL/locations/westus/operationResults/0b3cc60b-22c8-486a-a4f3-b8712f607fd6?api-version=2017-12-01",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "operation": "UpsertElasticServer",
        "startTime": "2022-08-23T04:28:39.3Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/pgrg7671/providers/Microsoft.DBforPostgreSQL/servers/pgserver1845?api-version=2017-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "identity": {
          "principalId": "c7c9f81a-2596-4bc2-832c-5aed2f871ddc",
          "type": "SystemAssigned",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "sku": {
          "name": "B_Gen5_1",
          "tier": "Basic",
          "family": "Gen5",
          "capacity": 1
        },
        "properties": {
          "administratorLogin": "testUser",
          "storageProfile": {
            "storageMB": 5120,
            "backupRetentionDays": 7,
            "geoRedundantBackup": "Disabled",
            "storageAutogrow": "Disabled"
          },
          "version": "9.6",
          "sslEnforcement": "Enabled",
          "minimalTlsVersion": "TLSEnforcementDisabled",
          "userVisibleState": "Ready",
          "fullyQualifiedDomainName": "pgserver1845.postgres.database.azure.com",
          "earliestRestoreDate": "2022-08-23T04:35:29.333\u002B00:00",
          "replicationRole": "None",
          "masterServerId": "",
          "replicaCapacity": 5,
          "byokEnforcement": "Disabled",
          "privateEndpointConnections": [],
          "infrastructureEncryption": "Disabled",
          "publicNetworkAccess": "Enabled"
        },
        "location": "westus",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/pgrg7671/providers/Microsoft.DBforPostgreSQL/servers/pgserver1845",
        "name": "pgserver1845",
        "type": "Microsoft.DBforPostgreSQL/servers"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.DBforPostgreSQL/locations/westus/azureAsyncOperation/e47e5842-13f9-444c-8019-5f6f151982b0?api-version=2017-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "name": "e47e5842-13f9-444c-8019-5f6f151982b0",
        "status": "Succeeded",
        "startTime": "2022-08-23T04:29:43.333Z"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "868122374",
    "RESOURCE_MANAGER_URL": "https://management.azure.com",
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
