{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/pgrg4958?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/pgrg4958",
        "name": "pgrg4958",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/pgrg4958/providers/Microsoft.DBforPostgreSQL/servers/pgserver6017?api-version=2017-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "B_Gen5_1"
        },
        "properties": {
          "administratorLogin": "testUser",
          "administratorLoginPassword": "testPassword1!",
          "createMode": "Default"
        },
        "location": "westus"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.DBforPostgreSQL/locations/westus/azureAsyncOperation/73b557db-8382-4ebe-90bd-59a03e8030a4?api-version=2017-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.DBforPostgreSQL/locations/westus/operationResults/73b557db-8382-4ebe-90bd-59a03e8030a4?api-version=2017-12-01",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "operation": "UpsertElasticServer",
        "startTime": "2022-08-23T04:10:34.823Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.DBforPostgreSQL/locations/westus/azureAsyncOperation/73b557db-8382-4ebe-90bd-59a03e8030a4?api-version=2017-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "name": "73b557db-8382-4ebe-90bd-59a03e8030a4",
        "status": "InProgress",
        "startTime": "2022-08-23T04:10:34.823Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/pgrg4958/providers/Microsoft.DBforPostgreSQL/servers/pgserver6017?api-version=2017-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "sku": {
          "name": "B_Gen5_1",
          "tier": "Basic",
          "family": "Gen5",
          "capacity": 1
        },
        "properties": {
          "administratorLogin": "testUser",
          "storageProfile": {
            "storageMB": 5120,
            "backupRetentionDays": 7,
            "geoRedundantBackup": "Disabled",
            "storageAutogrow": "Disabled"
          },
          "version": "9.6",
          "sslEnforcement": "Enabled",
          "minimalTlsVersion": "TLSEnforcementDisabled",
          "userVisibleState": "Ready",
          "fullyQualifiedDomainName": "pgserver6017.postgres.database.azure.com",
          "earliestRestoreDate": "2022-08-23T04:20:35.12\u002B00:00",
          "replicationRole": "None",
          "masterServerId": "",
          "replicaCapacity": 5,
          "byokEnforcement": "Disabled",
          "privateEndpointConnections": [],
          "infrastructureEncryption": "Disabled",
          "publicNetworkAccess": "Enabled"
        },
        "location": "westus",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/pgrg4958/providers/Microsoft.DBforPostgreSQL/servers/pgserver6017",
        "name": "pgserver6017",
        "type": "Microsoft.DBforPostgreSQL/servers"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/pgrg4958/providers/Microsoft.DBforPostgreSQL/servers?api-version=2017-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "B_Gen5_1",
              "tier": "Basic",
              "family": "Gen5",
              "capacity": 1
            },
            "properties": {
              "administratorLogin": "testUser",
              "storageProfile": {
                "storageMB": 5120,
                "backupRetentionDays": 7,
                "geoRedundantBackup": "Disabled",
                "storageAutogrow": "Disabled"
              },
              "version": "9.6",
              "sslEnforcement": "Enabled",
              "minimalTlsVersion": "TLSEnforcementDisabled",
              "userVisibleState": "Ready",
              "fullyQualifiedDomainName": "pgserver6017.postgres.database.azure.com",
              "earliestRestoreDate": "2022-08-23T04:20:35.12\u002B00:00",
              "replicationRole": "",
              "masterServerId": "",
              "byokEnforcement": "Disabled",
              "privateEndpointConnections": [],
              "infrastructureEncryption": "Disabled",
              "publicNetworkAccess": "Enabled"
            },
            "location": "westus",
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/pgrg4958/providers/Microsoft.DBforPostgreSQL/servers/pgserver6017",
            "name": "pgserver6017",
            "type": "Microsoft.DBforPostgreSQL/servers"
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "125947630",
    "RESOURCE_MANAGER_URL": "https://management.azure.com",
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
