{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "SkipNRMSNSG": "true"
        },
        "subscriptionId": "69a75bda-882e-44d5-8431-63421204132a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "QATest02-SVL",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourcegroups/testNetAppDotNetSDKRG-3164?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env",
          "Owner": "b-aubald"
        },
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-3164",
        "name": "testNetAppDotNetSDKRG-3164",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {
          "test": "env",
          "Owner": "b-aubald",
          "CreatedOnDate": "2022-09-14T15:25:17.4256711Z",
          "SkipNRMSNSG": "true"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/checkNameAvailability?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "account3377",
        "type": "Microsoft.NetApp/netAppAccounts",
        "resourceGroup": "testNetAppDotNetSDKRG-3164"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "isAvailable": true
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-3164/providers/Microsoft.NetApp/netAppAccounts/account3377?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/2774821b-85b4-4171-a492-844ca64bc770?api-version=2022-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-09-14T15%3A25%3A22.9941416Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-3164/providers/Microsoft.NetApp/netAppAccounts/account3377",
        "name": "account3377",
        "type": "Microsoft.NetApp/netAppAccounts",
        "etag": "W/\u0022datetime\u00272022-09-14T15%3A25%3A22.9941416Z\u0027\u0022",
        "location": "westus2",
        "tags": {
          "key1": "value1",
          "key2": "value2",
          "CreatedOnDate": "2022-09-14T15:25:20.6019452Z"
        },
        "properties": {
          "activeDirectories": [
            {
              "activeDirectoryId": "503d38f9-f17c-f92d-ef26-b0d46374534b",
              "username": "sdkuser",
              "password": "****************",
              "domain": "sdkdomain",
              "dns": "192.0.2.2",
              "status": "Created",
              "smbServerName": "SDKSMBSeNa",
              "organizationalUnit": "CN=Computers",
              "aesEncryption": false,
              "ldapSigning": false,
              "ldapOverTLS": false,
              "allowLocalNfsUsersWithLdap": false,
              "encryptDCConnections": false,
              "ldapSearchScope": {}
            }
          ],
          "provisioningState": "Creating"
        },
        "systemData": {
          "createdBy": "c6c4faba-2b22-44d9-80a4-71ff5b71f811",
          "createdByType": "Application",
          "createdAt": "2022-09-14T15:25:22.8446871Z",
          "lastModifiedBy": "c6c4faba-2b22-44d9-80a4-71ff5b71f811",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-09-14T15:25:22.8446871Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/2774821b-85b4-4171-a492-844ca64bc770?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/2774821b-85b4-4171-a492-844ca64bc770",
        "name": "2774821b-85b4-4171-a492-844ca64bc770",
        "status": "Succeeded",
        "startTime": "2022-09-14T15:25:22.9943478Z",
        "endTime": "2022-09-14T15:25:23.0881692Z",
        "percentComplete": 100.0,
        "properties": {
          "resourceName": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-3164/providers/Microsoft.NetApp/netAppAccounts/account3377"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-3164/providers/Microsoft.NetApp/netAppAccounts/account3377/capacityPools/pool1?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "location": "westus2",
        "properties": {
          "size": 4398046511104,
          "serviceLevel": "Premium"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/157ca5b8-a207-44b6-9e64-d96ecaa0798d?api-version=2022-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-09-14T15%3A25%3A27.0528202Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-3164/providers/Microsoft.NetApp/netAppAccounts/account3377/capacityPools/pool1",
        "name": "account3377/pool1",
        "type": "Microsoft.NetApp/netAppAccounts/capacityPools",
        "etag": "W/\u0022datetime\u00272022-09-14T15%3A25%3A27.0528202Z\u0027\u0022",
        "location": "westus2",
        "tags": {
          "key1": "value1",
          "key2": "value2",
          "CreatedOnDate": "2022-09-14T15:25:25.4588336Z"
        },
        "properties": {
          "serviceLevel": "Premium",
          "size": 4398046511104,
          "totalThroughputMibps": 0.0,
          "utilizedThroughputMibps": 0.0,
          "provisioningState": "Creating"
        },
        "systemData": {
          "createdBy": "c6c4faba-2b22-44d9-80a4-71ff5b71f811",
          "createdByType": "Application",
          "createdAt": "2022-09-14T15:25:26.8759547Z",
          "lastModifiedBy": "c6c4faba-2b22-44d9-80a4-71ff5b71f811",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-09-14T15:25:26.8759547Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-3164/providers/Microsoft.NetApp/netAppAccounts/account3377/capacityPools/pool1?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-09-14T15%3A25%3A28.0572621Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-3164/providers/Microsoft.NetApp/netAppAccounts/account3377/capacityPools/pool1",
        "name": "account3377/pool1",
        "type": "Microsoft.NetApp/netAppAccounts/capacityPools",
        "etag": "W/\u0022datetime\u00272022-09-14T15%3A25%3A28.0572621Z\u0027\u0022",
        "location": "westus2",
        "tags": {
          "key1": "value1",
          "key2": "value2",
          "CreatedOnDate": "2022-09-14T15:25:25.4588336Z"
        },
        "properties": {
          "poolId": "d03898b1-23f5-79da-4a61-bef7bff42956",
          "serviceLevel": "Premium",
          "size": 4398046511104,
          "qosType": "Auto",
          "totalThroughputMibps": 256.0,
          "utilizedThroughputMibps": 0.0,
          "encryptionType": "Single",
          "coolAccess": false,
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdBy": "c6c4faba-2b22-44d9-80a4-71ff5b71f811",
          "createdByType": "Application",
          "createdAt": "2022-09-14T15:25:26.8759547Z",
          "lastModifiedBy": "c6c4faba-2b22-44d9-80a4-71ff5b71f811",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-09-14T15:25:26.8759547Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-3164/providers/Microsoft.Network/virtualNetworks/vnet-600?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "default",
              "properties": {
                "addressPrefix": "10.0.1.0/24",
                "delegations": [
                  {
                    "name": "netAppVolumes",
                    "properties": {
                      "serviceName": "Microsoft.Netapp/volumes"
                    }
                  }
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.Network/locations/westus2/operations/0b677f7a-3eed-48ed-bddb-4b30a5423fc6?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "name": "vnet-600",
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-3164/providers/Microsoft.Network/virtualNetworks/vnet-600",
        "etag": "W/\u00228751890a-2127-425a-9cdd-b9bac0e082b5\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "westus2",
        "tags": {
          "CreatedOnDate": "2022-09-14T15:25:28.9290497Z"
        },
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "2050207f-50b8-483e-ba92-ecaafa0757b7",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "default",
              "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-3164/providers/Microsoft.Network/virtualNetworks/vnet-600/subnets/default",
              "etag": "W/\u00228751890a-2127-425a-9cdd-b9bac0e082b5\u0022",
              "properties": {
                "provisioningState": "Updating",
                "addressPrefix": "10.0.1.0/24",
                "delegations": [
                  {
                    "name": "netAppVolumes",
                    "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-3164/providers/Microsoft.Network/virtualNetworks/vnet-600/subnets/default/delegations/netAppVolumes",
                    "etag": "W/\u00228751890a-2127-425a-9cdd-b9bac0e082b5\u0022",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "serviceName": "Microsoft.Netapp/volumes",
                      "actions": [
                        "Microsoft.Network/networkinterfaces/*",
                        "Microsoft.Network/virtualNetworks/subnets/join/action"
                      ]
                    },
                    "type": "Microsoft.Network/virtualNetworks/subnets/delegations"
                  }
                ],
                "purpose": "HostedWorkloads",
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.Network/locations/westus2/operations/0b677f7a-3eed-48ed-bddb-4b30a5423fc6?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-3164/providers/Microsoft.NetApp/netAppAccounts/account3377/capacityPools/pool1/volumes/volumeName-3660?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "location": "westus2",
        "properties": {
          "creationToken": "volumeName-3660",
          "usageThreshold": 107374182400,
          "subnetId": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-3164/providers/Microsoft.Network/virtualNetworks/vnet-600/subnets/default"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/76d2ae79-d2a3-44aa-af9e-19d4f1b52658?api-version=2022-05-01",
        "Content-Type": "a[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-3164/providers/Microsoft.NetApp/netAppAccounts/account3377/capacityPools/pool1/volumes/volumeName-3660?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-09-14T15%3A30%3A12.6482497Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11975"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-3164/providers/Microsoft.NetApp/netAppAccounts/account3377/capacityPools/pool1/volumes/volumeName-3660",
        "name": "account3377/pool1/volumeName-3660",
        "type": "Microsoft.NetApp/netAppAccounts/capacityPools/volumes",
        "etag": "W/\u0022datetime\u00272022-09-14T15%3A30%3A12.6482497Z\u0027\u0022",
        "location": "westus2",
        "tags": {
          "key1": "value1",
          "key2": "value2",
          "CreatedOnDate": "2022-09-14T15:26:02.5654155Z"
        },
        "properties": {
          "fileSystemId": "2899a3d6-3311-cbb5-9ae8-7a7d9f63761a",
          "serviceLevel": "Premium",
          "creationToken": "volumeName-3660",
          "usageThreshold": 107374182400,
          "exportPolicy": {
            "rules": [
              {
                "ruleIndex": 1,
                "unixReadOnly": false,
                "unixReadWrite": true,
                "cifs": false,
                "nfsv3": true,
                "nfsv41": false,
                "allowedClients": "0.0.0.0/0",
                "kerberos5ReadOnly": false,
                "kerberos5ReadWrite": false,
                "kerberos5iReadOnly": false,
                "kerberos5iReadWrite": false,
                "kerberos5pReadOnly": false,
                "kerberos5pReadWrite": false,
                "hasRootAccess": true,
                "chownMode": "Restricted"
              }
            ]
          },
          "protocolTypes": [
            "NFSv3"
          ],
          "baremetalTenantId": "baremetalTenant_svm_8f82c7b40509489d9e97d719b9b955b4_e782a6af",
          "subnetId": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-3164/providers/Microsoft.Network/virtualNetworks/vnet-600/subnets/default",
          "networkFeatures": "Basic",
          "networkSiblingSetId": "ab7763c0-0463-d6df-f940-dc2eb81d55f3",
          "storageToNetworkProximity": "T2",
          "snapshotDirectoryVisible": true,
          "kerberosEnabled": false,
          "securityStyle": "Unix",
          "smbEncryption": false,
          "smbContinuouslyAvailable": false,
          "encryptionKeySource": "Microsoft.NetApp",
          "ldapEnabled": false,
          "unixPermissions": "0770",
          "mountTargets": [
            {
              "mountTargetId": "2899a3d6-3311-cbb5-9ae8-7a7d9f63761a",
              "fileSystemId": "2899a3d6-3311-cbb5-9ae8-7a7d9f63761a",
              "ipAddress": "10.0.1.4"
            }
          ],
          "throughputMibps": 6.25,
          "volumeSpecName": "generic",
          "coolAccess": false,
          "avsDataStore": "Disabled",
          "isDefaultQuotaEnabled": false,
          "defaultUserQuotaInKiBs": 0,
          "defaultGroupQuotaInKiBs": 0,
          "enableSubvolumes": "Disabled",
          "maximumNumberOfFiles": 100000000,
          "smbNonBrowsable": "Disabled",
          "smbAccessBasedEnumeration": "Disabled",
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdBy": "c6c4faba-2b22-44d9-80a4-71ff5b71f811",
          "createdByType": "Application",
          "createdAt": "2022-09-14T15:26:03.6573647Z",
          "lastModifiedBy": "c6c4faba-2b22-44d9-80a4-71ff5b71f811",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-09-14T15:26:03.6573647Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-3164/providers/Microsoft.NetApp/netAppAccounts/account3377/capacityPools/pool1/volumes/volumeName-3660/snapshots/snapshot-311?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/1c3764af-d6d0-4088-b08f-9f3ccc4ea384?api-version=2022-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/1c3764af-d6d0-4088-b08f-9f3ccc4ea384?api-version=2022-05-01\u0026operationResultResponseType=Location",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-3164/providers/Microsoft.NetApp/netAppAccounts/account3377/capacityPools/pool1/volumes/volumeName-3660/snapshots/snapshot-311",
        "name": "account3377/pool1/volumeName-3660/snapshot-311",
        "type": "Microsoft.NetApp/netAppAccounts/capacityPools/volumes/snapshots",
        "location": "westus2",
        "properties": {
          "provisioningState": "Creating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-3164/providers/Microsoft.NetApp/netAppAccounts/account3377/capacityPools/pool1/volumes/volumeName-3660/snapshots/snapshot-311?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11971"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-3164/providers/Microsoft.NetApp/netAppAccounts/account3377/capacityPools/pool1/volumes/volumeName-3660/snapshots/snapshot-311",
        "name": "account3377/pool1/volumeName-3660/snapshot-311",
        "type": "Microsoft.NetApp/netAppAccounts/capacityPools/volumes/snapshots",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded",
          "snapshotId": "63232972-edf4-9366-f769-7ed6b584554e",
          "created": "2022-09-14T15:30:33Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-3164/providers/Microsoft.NetApp/netAppAccounts/account3377/capacityPools/pool1/volumes/volume-8657?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "value1",
          "key2":[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-3164/providers/Microsoft.NetApp/netAppAccounts/account3377/capacityPools/pool1/volumes/volumeName-3660/snapshots/snapshot-3111?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11960"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "The requested snapshot \u0027snapshot-3111\u0027 was not found on the volume \u0027account3377/pool1/volumeName-3660\u0027. Please check the requested snapshot. Please note: The snapshot may no longer be available based on configured snapshot policies."
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-3164/providers/Microsoft.NetApp/netAppAccounts/account3377/capacityPools?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11956"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-3164/providers/Microsoft.NetApp/netAppAccounts/account3377/capacityPools/pool1",
            "name": "account3377/pool1",
            "type": "Microsoft.NetApp/netAppAccounts/capacityPools",
            "etag": "W/\u0022datetime\u00272022-09-14T15%3A30%3A55.693526Z\u0027\u0022",
            "location": "westus2",
            "tags": {
              "key1": "value1",
              "key2": "value2",
              "CreatedOnDate": "2022-09-14T15:25:25.4588336Z"
            },
            "properties": {
              "poolId": "d03898b1-23f5-79da-4a61-bef7bff42956",
              "serviceLevel": "Premium",
              "size": 4398046511104,
              "qosType": "Auto",
              "totalThroughputMibps": 256.0,
              "utilizedThroughputMibps": 12.5,
              "encryptionType": "Single",
              "coolAccess": false,
              "provisioningState": "Succeeded"
            },
            "systemData": {
              "createdBy": "c6c4faba-2b22-44d9-80a4-71ff5b71f811",
              "createdByType": "Application",
              "createdAt": "2022-09-14T15:25:26.8759547Z",
              "lastModifiedBy": "c6c4faba-2b22-44d9-80a4-71ff5b71f811",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2022-09-14T15:25:26.8759547Z"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-3164/providers/Microsoft.NetApp/netAppAccounts/account3377/capacityPools/pool1/volumes?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
    [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-3164/providers/Microsoft.NetApp/netAppAccounts/account3377/capacityPools/pool1/volumes/volume-8657/snapshots?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11954"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-3164/providers/Microsoft.NetApp/netAppAccounts/account3377/capacityPools/pool1/volumes/volume-8657/snapshots/snapshot-311",
            "name": "account3377/pool1/volume-8657/snapshot-311",
            "type": "Microsoft.NetApp/netAppAccounts/capacityPools/volumes/snapshots",
            "location": "westus2",
            "properties": {
              "provisioningState": "Succeeded",
              "snapshotId": "8fb7889d-f5e2-7b3c-4a29-2bff7b44dc25",
              "created": "2022-09-14T15:30:33Z"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-3164/providers/Microsoft.NetApp/netAppAccounts/account3377/capacityPools/pool1/volumes/volume-8657/snapshots/snapshot-311?api-version=2022-05-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
[...]
