{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2",
        "authorizationSource": "Bypassed",
        "managedByTenants": [],
        "subscriptionId": "46841c0e-69c8-4b17-af46-6626ecb15fc2",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Avere_AscTIP1_Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourcegroups/rg-rdupuisstoragecache?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "id": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-rdupuisstoragecache",
        "name": "rg-rdupuisstoragecache",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "ServiceDirectory": "storagecache",
          "DeleteAfter": "2023-06-19T17:35:05.7616390Z",
          "Owners": "rdupuis"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.Network?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "id": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.Network",
        "namespace": "Microsoft.Network",
        "authorizations": [
          {
            "applicationId": "2cf9eb86-36b5-49dc-86ae-9a63135dfa8c",
            "roleDefinitionId": "13ba9ab4-19f0-4804-adc4-14ece36cc7a1"
          },
          {
            "applicationId": "7c33bfcb-8d33-48d6-8e60-dc6404003489",
            "roleDefinitionId": "ad6261e4-fa9a-4642-aa5f-104f1b67e9e3"
          },
          {
            "applicationId": "1e3e4475-288f-4018-a376-df66fd7fac5f",
            "roleDefinitionId": "1d538b69-3d87-4e56-8ff8-25786fd48261"
          },
          {
            "applicationId": "a0be0c72-870e-46f0-9c49-c98333a996f7",
            "roleDefinitionId": "7ce[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-rdupuisstoragecache/providers/Microsoft.Network/virtualNetworks/scTestVNet-3912?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "scTestSubnet-7321",
              "properties": {
                "addressPrefix": "10.0.0.0/16"
              }
            }
          ]
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.Network/locations/eastus/operations/8f309d82-7e26-4bcd-9197-de650a85e721?api-version=2023-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "name": "scTestVNet-3912",
        "id": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-rdupuisstoragecache/providers/Microsoft.Network/virtualNetworks/scTestVNet-3912",
        "etag": "W/\u0022519952a5-8cd7-406d-9001-c0e9f03fdcb6\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "9b134cd1-549c-46e9-9a96-78cd875ae611",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "scTestSubnet-7321",
              "id": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-rdupuisstoragecache/providers/Microsoft.Network/virtualNetworks/scTestVNet-3912/subnets/scTestSubnet-7321",
              "etag": "W/\u0022519952a5-8cd7-406d-9001-c0e9f03fdcb6\u0022",
              "properties": {
                "provisioningState": "Updating",
                "addressPrefix": "10.0.0.0/16",
                "delegations": [],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.Network/locations/eastus/operations/8f309d82-7e26-4bcd-9197-de650a85e721?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-rdupuisstoragecache/providers/Microsoft.Network/virtualNetworks/scTestVNet-3912?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022fefef473-a3bd-4c29-98f2-418785d603f1\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "name": "scTestVNet-3912",
        "id": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-rdupuisstoragecache/providers/Microsoft.Network/virtualNetworks/scTestVNet-3912",
        "etag": "W/\u0022fefef473-a3bd-4c29-98f2-418785d603f1\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eas[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourcegroups/rg-rdupuisstoragecache/providers/Microsoft.StorageCache/caches/testsc5594?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_2G"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "cacheSizeGB": 3072,
          "subnet": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-rdupuisstoragecache/providers/Microsoft.Network/virtualNetworks/scTestVNet-3912/subnets/scTestSubnet-7321",
          "zones": [
            "1"
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/10cc4db5-978c-4934-80eb-0400a01d299e?api-version=2023-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/CreateOrUpdateCache1Min;59",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "name": "testsc5594",
        "id": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-rdupuisstoragecache/providers/Microsoft.StorageCache/caches/testsc5594",
        "type": "Microsoft.StorageCache/caches",
        "location": "eastus",
        "tags": {},
        "sku": {
          "name": "Standard_2G"
        },
        "properties": {
          "networkSettings": {
            "mtu": 1500,
            "ntpServer": "time.windows.com"
          },
          "securitySettings": {
            "accessPolicies": [
              {
                "name": "default",
                "accessRules": [
                  {
                    "scope": "default",
                    "access": "rw",
                    "suid": false,
                    "submountAccess": true,
                    "rootSquash": false
                  }
                ]
              }
            ]
          },
          "directoryServicesSettings": {},
          "zones": [
            "1"
          ],
          "cacheSizeGB": 3072,
          "health": {
            "state": "Transitioning",
            "statusDescription": "The cache is being allocated."
          },
          "provisioningState": "Creating",
          "subnet": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-rdupuisstoragecache/providers/Microsoft.Network/virtualNetworks/scTestVNet-3912/subnets/scTestSubnet-7321",
          "upgradeStatus": {
            "currentFirmwareVersion": "2023.04.2",
            "firmwareUpdateStatus": "unavailable",
            "firmwareUpdateDeadline": "0001-01-01T00:00:00Z",
            "lastFirmwareUpdate": "2023-06-15T19:39:55.1416543Z",
            "pendingFirmwareVersion": ""
          },
          "upgradeSettings": {
            "upgradeScheduleEnabled": false,
            "scheduledTime": "0001-01-01T00:00:00Z"
          }
        },
        "systemData": {
          "createdBy": "31027db9-d339-4593-9b44-454cb0ee04b7",
          "createdByType": "Application",
          "createdAt": "2023-06-15T19:39:54.9544729Z",
          "lastModifiedBy": "31027db9-d339-4593-9b44-454cb0ee04b7",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-15T19:39:54.9544729Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/10cc4db5-978c-4934-80eb-0400a01d299e?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperationStatus1Min;221",
        "x-ms-ratelimit-remaining-subscription-reads": "11990"
      },
      "ResponseBody": {
        "startTime": "2023-06-15T19:39:54.9697985\u002B00:00",
        "status": "InProgress",
        "name": "10cc4db5-978c-4934-80eb-0400a01d299e"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/10cc4db5-978c-4934-80eb-0400a01d299e?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperationStatus1Min;226",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "startTime": "2023-06-15T19:39:54.9697985\u002B00:00",
        "endTime": "2023-06-15T19:52:33.6694714\u002B00:00",
        "status": "Succeeded",
        "name": "10cc4db5-978c-4934-80eb-0400a01d299e"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourcegroups/rg-rdupuisstoragecache/providers/Microsoft.StorageCache/caches/testsc5594?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetCache1Min;116",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "name": "testsc5594",
        "id": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-rdupuisstoragecache/providers/Microsoft.StorageCache/caches/testsc5594",
        "type": "Microsoft.StorageCache/caches",
        "location": "eastus",
        "tags": {},
        "sku": {
          "name": "Standard_2G"
        },
        "properties": {
          "networkSettings": {
            "mtu": 1500,
            "utilityAddresses": [
              "10.0.0.10",
              "10.0.0.11",
              "10.0.0.12"
            ],
            "ntpServer": "time.windows.com"
          },
          "securitySettings": {
            "accessPolicies": [
              {
                "name": "default",
                "accessRules": [
                  {
                    "scope": "default",
                    "access": "rw",
                    "suid": false,
                    "submountAccess": true,
                    "rootSquash": false
                  }
                ]
              }
            ]
          },
          "directoryServicesSettings": {},
          "zones": [
            "1"
          ],
          "cacheSizeGB": 3072,
          "health": {
            "state": "Healthy",
            "statusDescription": "The cache is in Running state",
            "conditions": []
          },
          "mountAddresses": [
            "10.0.0.7",
            "10.0.0.8",
            "10.0.0.9"
          ],
          "provisioningState": "Succeeded",
          "subnet": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-rdupuisstoragecache/providers/Microsoft.Network/virtualNetworks/scTestVNet-3912/subnets/scTestSubnet-7321",
          "upgradeStatus": {
            "currentFirmwareVersion": "2023.04.2",
            "firmwareUpdateStatus": "unavailable",
            "firmwareUpdateDeadline": "0001-01-01T00:00:00Z",
            "lastFirmwareUpdate": "2023-06-15T19:39:55.1416543Z",
            "pendingFirmwareVersion": ""
          },
          "upgradeSettings": {
            "upgradeScheduleEnabled": false,
            "scheduledTime": "0001-01-01T00:00:00Z"
          }
        },
        "systemData": {
          "createdBy": "31027db9-d339-4593-9b44-454cb0ee04b7",
          "createdByType": "Application",
          "createdAt": "2023-06-15T19:39:54.9544729Z",
          "lastModifiedBy": "31027db9-d339-4593-9b44-454cb0ee04b7",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-15T19:39:54.9544729Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourcegroups/rg-rdupuisstoragecache/providers/Microsoft.StorageCache/caches?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/ListCaches1Min;119",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "testsc5594",
            "id": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/RG-RDUPUISSTORAGECACHE/providers/Microsoft.StorageCache/caches/testsc5594",
            "type": "Microsoft.StorageCache/caches",
            "location": "eastus",
            "tags": {},
            "sku": {
              "name": "Standard_2G"
            },
            "properties": {
              "networkSettings": {
                "mtu": 1500,
              [...]
