{
  "Entries": [
    {
      "RequestUri": "https://remoterendering.westeurope.mixedreality.azure.com/accounts/1b405859-8af9-47e6-941d-9205163c0f63/sessions/68f60e79-3598-022a-f15e-d70865761208?api-version=2021-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "maxLeaseTimeMinutes": -4,
        "size": "Standard"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2021-01-01-preview, 2021-01-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Gp2huRjj7USvpS9bSVK0SA.0"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "The maxLeaseTimeMinutes value cannot be negative.",
          "details": null,
          "target": null,
          "innerError": null
        }
      }
    }
  ],
  "Variables": {
    "ARR_ACCOUNT_DOMAIN": "westeurope.mixedreality.azure.com",
    "ARR_ACCOUNT_ID": "1b405859-8af9-47e6-941d-9205163c0f63",
    "ARR_ACCOUNT_KEY": "Sanitized",
    "ARR_SERVICE_ENDPOINT": "https://remoterendering.westeurope.mixedreality.azure.com",
    "RandomSeed": "1854915036"
  }
}