{
  "Entries": [
    {
      "RequestUri": "https://remoterendering.westeurope.mixedreality.azure.com/accounts/1b405859-8af9-47e6-941d-9205163c0f63/conversions/6a27bf37-5009-7103-745a-5ed572f66c08?api-version=2021-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "settings": {
          "inputLocation": {
            "storageContainerUri": "https://sdktest.blob.core.windows.net/test",
            "blobPrefix": "Input",
            "relativeInputAssetPath": "testBox.fbx"
          },
          "outputLocation": {
            "storageContainerUri": "https://sdktest.blob.core.windows.net/test",
            "blobPrefix": "Output"
          }
        }
      },
      "StatusCode": 403,
      "ResponseHeaders": {
        "api-supported-versions": "2021-01-01-preview, 2021-01-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "1ZKa7etFS02Ejuo3kLRV/g.0"
      },
      "ResponseBody": {
        "error": {
          "code": "DelegatedResourceAccessError",
          "message": "Error accessing connected storage account due to insufficient permissions. Check if the Mixed Reality resource has correct permissions assigned."
        }
      }
    }
  ],
  "Variables": {
    "ARR_ACCOUNT_DOMAIN": "westeurope.mixedreality.azure.com",
    "ARR_ACCOUNT_ID": "1b405859-8af9-47e6-941d-9205163c0f63",
    "ARR_ACCOUNT_KEY": "Sanitized",
    "ARR_BLOB_CONTAINER_NAME": "test",
    "ARR_SERVICE_ENDPOINT": "https://remoterendering.westeurope.mixedreality.azure.com",
    "ARR_STORAGE_ACCOUNT_NAME": "sdktest",
    "RandomSeed": "1312090656"
  }
}
