{
  "Entries": [
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/datasets/Dataset1735850945?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Dataset",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "workspacechhamosynapse-WorkspaceDefaultStorage"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/6cd8122f-1750-451e-9ed5-2a56e278bc8f?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/datasets/Dataset1735850945",
        "recordId": 960540,
        "state": "Creating",
        "created": "2021-01-15T18:16:42.55Z",
        "changed": "2021-01-15T18:16:42.55Z",
        "type": "Dataset",
        "name": "Dataset1735850945",
        "operationId": "6cd8122f-1750-451e-9ed5-2a56e278bc8f",
        "artifactId": "D29FF54D-7494-40DD-989C-4D3E01BE14B7"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/6cd8122f-1750-451e-9ed5-2a56e278bc8f?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/6cd8122f-1750-451e-9ed5-2a56e278bc8f?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/6cd8122f-1750-451e-9ed5-2a56e278bc8f?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/datasets/Dataset1735850945",
        "name": "Dataset1735850945",
        "type": "Microsoft.Synapse/workspaces/datasets",
        "properties": {
          "type": "Dataset",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "workspacechhamosynapse-WorkspaceDefaultStorage"
          }
        },
        "etag": "d9072952-0000-0800-0000-6001dc0b0000"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/4e4b2875-cb5e-4cef-828e-097b1a4c2618?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspacechhamosynapse.dev.azuresynapse.net",
    "RandomSeed": "1388498454"
  }
}