{
  "Entries": [
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/datasets?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/datasets/DelimitedText1",
            "name": "DelimitedText1",
            "type": "Microsoft.Synapse/workspaces/datasets",
            "etag": "1b004dbf-0000-0100-0000-5f5838240000",
            "properties": {
              "linkedServiceName": {
                "referenceName": "testsynapseworkspace-WorkspaceDefaultStorage",
                "type": "LinkedServiceReference"
              },
              "annotations": [],
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "AzureBlobFSLocation"
                },
                "columnDelimiter": ",",
                "escapeChar": "\\",
                "quoteChar": "\u0022"
              },
              "schema": []
            }
          },
          {
            "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/datasets/Dataset2095422558",
            "name": "Dataset2095422558",
            "type": "Microsoft.Synapse/workspaces/datasets",
            "etag": "00000c00-0000-0100-0000-600161bd0000",
            "properties": {
              "type1": "Dataset",
              "linkedServiceName": {
                "type": "LinkedServiceReference"
              }
            }
          },
          {
            "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/datasets/Dataset2095422559",
            "name": "Dataset2095422559",
            "type": "Microsoft.Synapse/workspaces/datasets",
            "etag": "00005000-0000-0100-0000-6001625d0000"[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/datasets/DelimitedText1?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/datasets/DelimitedText1",
        "name": "DelimitedText1",
        "type": "Microsoft.Synapse/workspaces/datasets",
        "properties": {
          "linkedServiceName": {
            "referenceName": "testsynapseworkspace-WorkspaceDefaultStorage",
            "type": "LinkedServiceReference"
          },
          "annotations": [],
          "type": "DelimitedText",
          "typeProperties": {
            "location": {
              "type": "AzureBlobFSLocation"
            },
            "columnDelimiter": ",",
            "escapeChar": "\\",
            "quoteChar": "\u0022"
          },
          "schema": []
        },
        "etag": "1b004dbf-0000-0100-0000-5f5838240000"
      }
    },
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/datasets/Dataset2095422558?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/datasets/Dataset2095422558",
        "name": "Dataset2095422558",
        "type": "Microsoft.Synapse/workspaces/datasets",
        "properties": {
          "type1": "Dataset",
          "linkedServiceName": {
            "type": "LinkedServiceReference"
          }
        },
        "etag": "00000c00-0000-0100-0000-600161bd0000"
      }
    },
[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/datasets/Dataset106638712?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/datasets/Dataset106638712",
        "name": "Dataset106638712",
        "type": "Microsoft.Synapse/workspaces/datasets",
        "properties": {
          "type": "Dataset",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "testsynapseworkspace-WorkspaceDefaultStorage"
          }
        },
        "etag": "2e00ed7f-0000-0100-0000-615556690000"
      }
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://testsynapseworkspace.dev.azuresynapse.net",
    "RandomSeed": "696646395"
  }
}