{
  "Entries": [
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/datasets/Dataset1066387120?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Dataset",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "workspacechhamosynapse-WorkspaceDefaultStorage"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/0738a2ae-d3df-4e6a-95fa-9d8a3682de6d?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/datasets/Dataset1066387120",
        "recordId": 960344,
        "state": "Updating",
        "created": "2021-01-15T16:43:15.46Z",
        "changed": "2021-01-15T16:43:19.12Z",
        "type": "Dataset",
        "name": "Dataset1066387120",
        "operationId": "0738a2ae-d3df-4e6a-95fa-9d8a3682de6d",
        "artifactId": "C72405E8-2448-40FC-9706-C88A2C8E29E3"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/0738a2ae-d3df-4e6a-95fa-9d8a3682de6d?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/0738a2ae-d3df-4e6a-95fa-9d8a3682de6d?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/0738a2ae-d3df-4e6a-95fa-9d8a3682de6d?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/datasets/Dataset1066387120",
        "name": "Dataset1066387120",
        "type": "Microsoft.Synapse/workspaces/datasets",
        "properties": {
          "type": "Dataset",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "workspacechhamosynapse-WorkspaceDefaultStorage"
          }
        },
        "etag": "c80744d6-0000-0800-0000-6001c6270000"
      }
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspacechhamosynapse.dev.azuresynapse.net",
    "RandomSeed": "1833439787"
  }
}