{
  "Entries": [
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/datasets/Dataset106638712?api-version=2020-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Dataset",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "testsynapseworkspace-WorkspaceDefaultStorage"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://testsynapseworkspace.dev.azuresynapse.net/operationResults/e881d142-aa8d-4c6e-8c82-357b3681865d?api-version=2020-12-01",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/datasets/Dataset106638712",
        "recordId": 2424231,
        "state": "Creating",
        "created": "2021-09-30T06:17:11.45Z",
        "changed": "2021-09-30T06:17:11.45Z",
        "type": "Dataset",
        "name": "Dataset106638712",
        "operationId": "e881d142-aa8d-4c6e-8c82-357b3681865d",
        "artifactId": "ABC4E56E-959B-4C02-98B1-E27EE3F9FC09"
      }
    },
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/operationResults/e881d142-aa8d-4c6e-8c82-357b3681865d?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://testsynapseworkspace.dev.azuresynapse.net/operationResults/e881d142-aa8d-4c6e-8c82-357b3681865d?api-version=2020-12-01",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/operationResults/e881d142-aa8d-4c6e-8c82-357b3681865d?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/datasets/Dataset106638712",
        "name": "Dataset106638712",
        "type": "Microsoft.Synapse/workspaces/datasets",
        "properties": {
          "type": "Dataset",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "testsynapseworkspace-WorkspaceDefaultStorage"
          }
        },
        "etag": "2e00ed7f-0000-0100-0000-615556690000"
      }
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://testsynapseworkspace.dev.azuresynapse.net",
    "RandomSeed": "1833439787"
  }
}