{
  "Entries": [
    {
      "RequestUri": "/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourcegroups?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/AAA-Default-ServiceBus-NewRegions-Testing\",\r\n      \"name\": \"AAA-Default-ServiceBus-NewRegions-Testing\",\r\n      \"location\": \"canadacentral\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/AkkaTesting\",\r\n      \"name\": \"AkkaTesting\",\r\n      \"location\": \"westcentralus\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/ali-new-rg\",\r\n      \"name\": \"ali-new-rg\",\r\n      \"location\": \"eastus2\",\[...]
    {
      "RequestUri": "/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/clemensrbactest/providers/Microsoft.EventHub/namespaces/sdk-Namespace-4791?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 1\r\n  },\r\n  \"location\": \"South Central US\",\r\n  \"tags\": {\r\n    \"tag1\": \"value1\",\r\n    \"tag2\": \"value2\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 1\r\n  },\r\n  \"id\": \"/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/clemensrbactest/providers/Microsoft.EventHub/namespaces/sdk-Namespace-4791\",\r\n  \"name\": \"sdk-Namespace-4791\",\r\n  \"type\": \"Microsoft.EventHub/Namespaces\",\r\n  \"location\": \"South Central US\",\r\n  \"tags\": {\r\n    \"tag1\": \"value1\",\r\n    \"tag2\": \"value2\"\r\n  },\r\n  \"properties\": {\r\n    \"isAutoInflateEnabled\": false,\r\n    \"maximumThroughputUnits\": 0,\r\n    \"kafkaEnabled\": false,\r\n    \"provisioningState\": \"Created\",\r\n    \"metricId\": \"854d368f-1828-428f-8f3c-f2affa9b2f7d:sdk-namespace-4791\",\r\n    \"createdAt\": \"2018-10-27T00:20:51.557Z\",\r\n    \"updatedAt\": \"2018-10-27T00:20:51.557Z\",\r\n    \"serviceBusEndpoint\": \"https://sdk-Namespace-4791.servicebus.windows.net:443/\",\r\n    \"status\": \"Activating\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/clemensrbactest/providers/Microsoft.EventHub/namespaces/sdk-Namespace-4791/AuthorizationRules/sdk-Authrules-3243?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"rights\": [\r\n      \"Listen\",\r\n      \"Send\"\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/clemensrbactest/providers/Microsoft.EventHub/namespaces/sdk-Namespace-4791/AuthorizationRules/sdk-Authrules-3243\",\r\n  \"name\": \"sdk-Authrules-3243\",\r\n  \"type\": \"\",\r\n  \"location\": \"South Central US\",\r\n  \"properties\": {\r\n    \"rights\": [\r\n      \"Listen\",\r\n      \"Send\"\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/clemensrbactest/providers/Microsoft.EventHub/namespaces/sdk-Namespace-4791/AuthorizationRules/sdk-Authrules-3243/listKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"primaryConnectionString\": \"Endpoint=sb://sdk-namespace-4791.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-3243;SharedAccessKey=0B0yh4O/+Nh4gR9wKG225dJBHxryKRjlpKyu46VkAKM=\",\r\n  \"secondaryConnectionString\": \"Endpoint=sb://sdk-namespace-4791.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-3243;SharedAccessKey=ItkA/wmL9e6SyeE3FmHV9O704vMZbtvjReStZpQUbbE=\",\r\n  \"primaryKey\": \"0B0yh4O/+Nh4gR9wKG225dJBHxryKRjlpKyu46VkAKM=\",\r\n  \"secondaryKey\": \"ItkA/wmL9e6SyeE3FmHV9O704vMZbtvjReStZpQUbbE=\",\r\n  \"keyName\": \"sdk-Authrules-3243\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/clemensrbactest/providers/Microsoft.EventHub/namespaces/sdk-Namespace-4791/disasterRecoveryConfigs/CheckNameAvailability?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"sdk-Namespace-4791\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": true,\r\n  \"reason\": \"None\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/clemensrbactest/providers/Microsoft.EventHub/namespaces/sdk-Namespace-4791/disasterRecoveryConfigs/sdk-Namespace-4791?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"partnerNamespace\": \"/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/clemensrbactest/providers/Microsoft.EventHub/namespaces/sdk-Namespace-317\",\r\n    \"alternateName\": \"sdk-DisasterRecovery-1251\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/clemensrbactest/providers/Microsoft.EventHub/namespaces/sdk-Namespace-4791/disasterRecoveryConfigs/sdk-Namespace-4791\",\r\n  \"name\": \"sdk-Namespace-4791\",\r\n  \"type\": \"Microsoft.EventHub/Namespaces/disasterrecoveryconfigs\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Accepted\",\r\n    \"partnerNamespace\": \"/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/clemensrbactest/providers/Microsoft.EventHub/namespaces/sdk-Namespace-317\",\r\n    \"role\": \"Primary\",\r\n    \"type\": \"MetadataReplication\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/clemensrbactest/providers/Microsoft.EventHub/namespaces/sdk-Namespace-4791/disasterRecoveryConfigs/sdk-Namespace-4791?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11984"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/clemensrbactest/providers/Microsoft.EventHub/namespaces/sdk-Namespace-4791/disasterRecoveryConfigs/sdk-Namespace-4791\",\r\n  \"name\": \"sdk-Namespace-4791\",\r\n  \"type\": \"Microsoft.EventHub/Namespaces/disasterrecoveryconfigs\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"partnerNamespace\": \"/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/clemensrbactest/providers/Microsoft.EventHub/namespaces/sdk-Namespace-317\",\r\n    \"alternateName\": \"sdk-DisasterRecovery-1251\",\r\n    \"role\": \"Primary\",\r\n    \"type\": \"MetadataReplication\",\r\n    \"pendingReplicationOperationsCount\": 0\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/clemensrbactest/providers/Microsoft.EventHub/namespaces/sdk-Namespace-4791/disasterRecoveryConfigs/sdk-Namespace-4791/AuthorizationRules/sdk-Authrules-3243?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/clemensrbactest/providers/Microsoft.EventHub/namespaces/sdk-Namespace-4791/disasterRecoveryConfigs/sdk-Namespace-4791/AuthorizationRules/sdk-Authrules-3243\",\r\n  \"name\": \"sdk-Authrules-3243\",\r\n  \"type\": \"\",\r\n  \"location\": \"South Central US\",\r\n  \"properties\": {\r\n    \"rights\": [\r\n      \"Listen\",\r\n      \"Send\"\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/clemensrbactest/providers/Microsoft.EventHub/namespaces/sdk-Namespace-4791/disasterRecoveryConfigs/sdk-Namespace-4791/AuthorizationRules/sdk-Authrules-3243/listKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"aliasPrimaryConnectionString\": \"Endpoint=sb://sdk-namespace-4791.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-3243;SharedAccessKey=0B0yh4O/+Nh4gR9wKG225dJBHxryKRjlpKyu46VkAKM=\",\r\n  \"aliasSecondaryConnectionString\": \"Endpoint=sb://sdk-namespace-4791.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-3243;SharedAccessKey=ItkA/wmL9e6SyeE3FmHV9O704vMZbtvjReStZpQUbbE=\",\r\n  \"primaryKey\": \"0B0yh4O/+Nh4gR9wKG225dJBHxryKRjlpKyu46VkAKM=\",\r\n  \"secondaryKey\": \"ItkA/wmL9e6SyeE3FmHV9O704vMZbtvjReStZpQUbbE=\",\r\n  \"keyName\": \"sdk-Authrules-3243\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/clemensrbactest/providers/Microsoft.EventHub/namespaces/sdk-Namespace-4791/disasterRecoveryConfigs/sdk-Namespace-4791/breakPairing?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1192"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/clemensrbactest/providers/Microsoft.EventHub/namespaces/sdk-Namespace-317/disasterRecoveryConfigs/sdk-Namespace-4791/failover?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1190"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/clemensrbactest/providers/Microsoft.EventHub/namespaces/sdk-Namespace-317/disasterRecoveryConfigs?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11953"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/clemensrbactest/providers/Microsoft.EventHub/namespaces/sdk-Namespace-317/disasterRecoveryConfigs/sdk-Namespace-4791\",\r\n      \"name\": \"sdk-Namespace-4791\",\r\n      \"type\": \"Microsoft.EventHub/Namespaces/disasterrecoveryconfigs\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"partnerNamespace\": \"\",\r\n        \"role\": \"PrimaryNotReplicating\",\r\n        \"type\": \"MetadataReplication\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/clemensrbactest/providers/Microsoft.EventHub/namespaces/sdk-Namespace-317/disasterRecoveryConfigs/sdk-Namespace-4791?api-version=2017-04-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "DisasterRecoveryAlertnateNameCreateGetUpdateDelete": [
      "sdk-Namespace-4791",
      "sdk-Namespace-317",
      "sdk-Authrules-3243",
      "sdk-DisasterRecovery-1251"
    ]
  },
  "Variables": {
    "SubscriptionId": "854d368f-1828-428f-8f3c-f2affa9b2f7d"
  }
}