{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "displayName": "RecognizeLinkedEntitiesWithAutoDetectedLanguage",
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Microsoft was founded by Bill Gates and Paul Allen.",
              "language": "auto"
            },
            {
              "id": "1",
              "text": "Pike place market is my favorite Seattle attraction.",
              "language": "auto"
            }
          ]
        },
        "tasks": [
          {
            "parameters": {
              "stringIndexType": "Utf16CodeUnit"
            },
            "kind": "EntityLinking"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/0ca06c48-db81-48c2-9526-c87ce803c9d5?api-version=2022-10-01-preview",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/0ca06c48-db81-48c2-9526-c87ce803c9d5?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "0ca06c48-db81-48c2-9526-c87ce803c9d5",
        "lastUpdateDateTime": "2022-11-22T06:41:40Z",
        "createdDateTime": "2022-11-22T06:41:39Z",
        "expirationDateTime": "2022-11-23T06:41:39Z",
        "status": "notStarted",
        "errors": [],
        "displayName": "RecognizeLinkedEntitiesWithAutoDetectedLanguage",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/0ca06c48-db81-48c2-9526-c87ce803c9d5?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "0ca06c48-db81-48c2-9526-c87ce803c9d5",
        "lastUpdateDateTime": "2022-11-22T06:41:42Z",
        "createdDateTime": "2022-11-22T06:41:39Z",
        "expirationDateTime": "2022-11-23T06:41:39Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "RecognizeLinkedEntitiesWithAutoDetectedLanguage",
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "EntityLinkingLROResults",
              "lastUpdateDateTime": "2022-11-22T06:41:42.7304213Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "entities": [
                      {
                        "bingId": "a093e9b9-90f5-a3d5-c4b8-5855e1b01f85",
                        "name": "Microsoft",
                        "matches": [
                          {
                            "text": "Microsoft",
                            "offset": 0,
                            "length": 9,
                            "confidenceScore": 0.49
                          }
                        ],
                        "language": "en",
                        "id": "Microsoft",
                        "url": "https://en.wikipedia.org/wiki/Microsoft",
                        "dataSource": "Wikipedia"
                      },
                      {
                        "bingId": "0d47c987-0042-5576-15e8-97af601614fa",
                        "name": "Bill Gates",
                        "matches": [
                          {
                            "text": "Bill Gates",
                            "offset": 25,
                            "length": 10,
                            "confidenceScore": 0.52
                          }
                        ],
                        "language": "en",
                        "id": "Bill Gates",
                        "url": "https://en.wikipedia.org/wiki/Bill_Gates",
                        "dataSource": "Wikipedia"
                      },
                      {
                        "bingId": "df2c4376-9923-6a54-893f-2ee5a5badbc7",
                        "name": "Paul Allen",
                        "matches": [
                          {
                            "text": "Paul Allen",
                            "offset": 40,
                            "length": 10,
                            "confidenceScore": 0.54
                          }
                        ],
                        "language": "en",
                        "id": "Paul Allen",
                        "url": "https://en.wikipedia.org/wiki/Paul_Allen",
                        "dataSource": "Wikipedia"
                      }
                    ],
                    "warnings": [],
                    "detectedLanguage": {
                      "name": "English",
                      "iso6391Name": "en",
                      "confidenceScore": 0.94
                    },
                    "isLanguageDefaulted": false
                  },
                  {
                    "id": "1",
                    "entities": [
                      {
                        "bingId": "38b9431e-cf91-93be-0584-c42a3ecbfdc7",
                        "name": "Pike Place Market",
                        "matches": [
                          {
                            "text": "Pike place market",
                            "offset": 0,
                            "length": 17,
                            "co[...]
