{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "Microsoft was founded by Bill Gates and Paul Allen.",
              "language": "en"
            },
            {
              "id": "3",
              "text": "Microsoft fue fundado por Bill Gates y Paul Allen.",
              "language": "es"
            }
          ]
        },
        "tasks": {
          "entityLinkingTasks": [
            {
              "parameters": {
                "loggingOptOut": true,
                "stringIndexType": "Utf16CodeUnit"
              },
              "taskName": "RecognizeLinkedEntitiesWithDisabledServiceLogs"
            },
            {
              "parameters": {
                "stringIndexType": "Utf16CodeUnit"
              },
              "taskName": "RecognizeLinkedEntities"
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/f9c3f748-7b33-44b9-9ae1-48751e369f16"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/f9c3f748-7b33-44b9-9ae1-48751e369f16",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "f9c3f748-7b33-44b9-9ae1-48751e369f16",
        "lastUpdateDateTime": "2021-10-25T21:21:53Z",
        "createdDateTime": "2021-10-25T21:21:52Z",
        "expirationDateTime": "2021-10-26T21:21:52Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 2,
          "total": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/f9c3f748-7b33-44b9-9ae1-48751e369f16",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "f9c3f748-7b33-44b9-9ae1-48751e369f16",
        "lastUpdateDateTime": "2021-10-25T21:21:57Z",
        "createdDateTime": "2021-10-25T21:21:52Z",
        "expirationDateTime": "2021-10-26T21:21:52Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 1,
          "total": 2,
          "entityLinkingTasks": [
            {
              "lastUpdateDateTime": "2021-10-25T21:21:57.6116502Z",
              "taskName": "RecognizeLinkedEntitiesWithDisabledServiceLogs",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "1",
                    "entities": [
                      {
                        "bingId": "a093e9b9-90f5-a3d5-c4b8-5855e1b01f85",
                        "name": "Microsoft",
                        "matches": [
                          {
                            "text": "Microsoft",
                            "offset": 0,
                            "length": 9,
                            "confidenceScore": 0.49
                          }
                        ],
                        "language": "en",
                        "id": "Microsoft",
                        "url": "https://en.wikipedia.org/wiki/Microsoft",
                        "dataSource": "Wikipedia"
                      },
                      {
                        "bingId": "0d47c987-0042-5576-15e8-97af601614fa",
                        "name": "Bill Gates",
                        "matches": [
                          {
                            "text": "Bill Gates",
                            "offset": 25,
                            "length": 10,
                            "confidenceScore": 0.52
                          }
                        ],
                        "language": "en",
                        "id": "Bill Gates",
                        "url": "https://en.wikipedia.org/wiki/Bill_Gates",
                        "dataSource": "Wikipedia"
                      },
                      {
                        "bingId": "df2c4376-9923-6a54-893f-2ee5a5badbc7",
                        "name": "Paul Allen",
                        "matches": [
                          {
                            "text": "Paul Allen",
                            "offset": 40,
                            "length": 10,
                            "confidenceScore": 0.54
                          }
                        ],
                        "language": "en",
                        "id": "Paul Allen",
                        "url": "https://en.wikipedia.org/wiki/Paul_Allen",
                        "dataSource": "Wikipedia"
                      }
                    ],
                    "warnings": []
                  },
                  {
                    "id": "3",
                    "entities": [
                      {
                        "bingId": "a093e9b9-90f5-a3d5-c4b8-5855e1b01f85",
                        "name": "Microsoft",
                        "matches": [
                          {
                            "text": "Microsoft",
                            "offset": 0,
                            "length": 9,
                            "confidenceScore": 0.38[...]
[...]
