{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Microsoft was founded by Bill Gates and Paul Allen.",
              "language": "en"
            }
          ]
        },
        "parameters": {
          "stringIndexType": "Utf16CodeUnit"
        },
        "kind": "EntityLinking"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=1,CognitiveServices.TextAnalytics.TextRecords=1"
      },
      "ResponseBody": {
        "kind": "EntityLinkingResults",
        "results": {
          "documents": [
            {
              "id": "0",
              "entities": [
                {
                  "bingId": "a093e9b9-90f5-a3d5-c4b8-5855e1b01f85",
                  "name": "Microsoft",
                  "matches": [
                    {
                      "text": "Microsoft",
                      "offset": 0,
                      "length": 9,
                      "confidenceScore": 0.49
                    }
                  ],
                  "language": "en",
                  "id": "Microsoft",
                  "url": "https://en.wikipedia.org/wiki/Microsoft",
                  "dataSource": "Wikipedia"
                },
                {
                  "bingId": "0d47c987-0042-5576-15e8-97af601614fa",
                  "name": "Bill Gates",
                  "matches": [
                    {
                      "text": "Bill Gates",
                      "offset": 25,
                      "length": 10,
                      "confidenceScore": 0.52
                    }
                  ],
                  "language": "en",
                  "id": "Bill Gates",
                  "url": "https://en.wikipedia.org/wiki/Bill_Gates",
                  "dataSource": "Wikipedia"
                },
                {
                  "bingId": "df2c4376-9923-6a54-893f-2ee5a5badbc7",
                  "name": "Paul Allen",
                  "matches": [
                    {
                      "text": "Paul Allen",
                      "offset": 40,
                      "length": 10,
                      "confidenceScore": 0.54
                    }
                  ],
                  "language": "en",
                  "id": "Paul Allen",
                  "url": "https://en.wikipedia.org/wiki/Paul_Allen",
                  "dataSource": "Wikipedia"
                }
              ],
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2021-06-01"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1494159955",
    "TEXT_ANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
