{
  "Entries": [
    {
      "RequestUri": "/subscriptions/45076d1d-a3e0-418b-8187-e1422a8cf5f4/providers/microsoft.insights/register?api-version=2021-04-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/45076d1d-a3e0-418b-8187-e1422a8cf5f4/providers/microsoft.insights\",\r\n  \"namespace\": \"microsoft.insights\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"6bccf540-eb86-4037-af03-7fa058c2db75\",\r\n      \"roleDefinitionId\": \"89dcede2-9219-403a-9723-d3c6473f9472\"\r\n    },\r\n    {\r\n      \"applicationId\": \"11c174dc-1945-4a9a-a36b-c79a0f246b9b\",\r\n      \"roleDefinitionId\": \"dd9d4347-f397-45f2-b538-85f21c90037b\"\r\n    },\r\n    {\r\n      \"applicationId\": \"035f9e1d-4f00-4419-bf50-bf2d87eb4878\",\r\n      \"roleDefinitionId\": \"323795fe-ba3d-4f5a-ad42-afb4e1ea9485\"\r\n    },\r\n    {\r\n      \"applicationId\": \"f5c26e74-f226-4ae8-85f0-b4af0080ac9e\",\r\n      \"roleDefinitionId\": \"529d7ae6-e892-[...]
    {
      "RequestUri": "/subscriptions/45076d1d-a3e0-418b-8187-e1422a8cf5f4/providers/microsoft.insights?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/45076d1d-a3e0-418b-8[...]
[...]
    {
      "RequestUri": "/subscriptions/45076d1d-a3e0-418b-8187-e1422a8cf5f4/providers/microsoft.insights/unregister?api-version=2021-04-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/45076d1d[...]
