{
  "Entries": [
    {
      "RequestUri": "/subscriptions/680d0dad-59aa-4464-adf3-b34b2b427e8c/resourcegroups/hci-cluster-rg1655?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/680d0dad-59aa-4464-adf3-b34b2b427e8c/resourceGroups/hci-cluster-rg1655\",\r\n  \"name\": \"hci-cluster-rg1655\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/680d0dad-59aa-4464-adf3-b34b2b427e8c/resourceGroups/hci-cluster-rg1655/providers/Microsoft.AzureStackHCI/clusters/hci-cluster6728?api-version=2020-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"aadClientId\": \"104a5669-0106-4718-9e06-c69f5a881d86\",\r\n    \"aadTenantId\": \"c76bd4d1-bea3-45ea-be1b-4a745a675d07\"\r\n  },\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/680d0dad-59aa-4464-adf3-b34b2b427e8c/resourceGroups/hci-cluster-rg1655/providers/Microsoft.AzureStackHCI/clusters/hci-cluster6728\",\r\n  \"name\": \"hci-cluster6728\",\r\n  \"type\": \"Microsoft.AzureStackHCI/clusters\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"status\": \"Disconnected\",\r\n    \"cloudId\": \"67014cf5-d153-4810-bdf2-8cda976fdf31\",\r\n    \"aadClientId\": \"104a5669-0106-4718-9e06-c69f5a881d86\",\r\n    \"aadTenantId\": \"c76bd4d1-bea3-45ea-be1b-4a745a675d07\",\r\n    \"trialDaysRemaining\": 30,\r\n    \"billingModel\": \"Trial\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/680d0dad-59aa-4464-adf3-b34b2b427e8c/resourceGroups/hci-cluster-rg1655/providers/Microsoft.AzureStackHCI/clusters?api-version=2020-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/680d0dad-59aa-4464-adf3-b34b2b427e8c/resourcegroups/hci-cluster-rg1655?api-version=2017-05-10",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/680d0dad-59aa-4464-adf3-b34b2b427e8c/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1IQ0k6MkRDTFVTVEVSOjJEUkcxNjU1LUVBU1RVUyIsImpvYkxvY2F0aW9uIjoiZWFzdHVzIn0?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/680d0dad-59aa-4464-adf3-b34b2b427e8c/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1IQ0k6MkRDTFVTVEVSOjJEUkcxNjU1LUVBU1RVUyIsImpvYkxvY2F0aW9uIjoiZWFzdHVzIn0?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/680d0dad-59aa-4464-adf3-b34b2b427e8c/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1IQ0k6MkRDTFVTVEVSOjJEUkcxNjU1LUVBU1RVUyIsImpvYkxvY2F0aW9uIjoiZWFzdHVzIn0?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/680d0dad-59aa-4464-adf3-b34b2b427e8c/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1IQ0k6MkRDTFVTVEVSOjJEUkcxNjU1LUVBU1RVUyIsImpvYkxvY2F0aW9uIjoiZWFzdHVzIn0?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "TestClusterLifeCycle": [
      "hci-cluster-rg1655",
      "hci-cluster6728"
    ]
  },
  "Variables": {
    "SubscriptionId": "680d0dad-59aa-4464-adf3-b34b2b427e8c"
  }
}