{
  "Entries": [
    {
      "RequestUri": "/subscriptions/680d0dad-59aa-4464-adf3-b34b2b427e8c/resourcegroups/hci-cluster-rg3050?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus2euap\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/680d0dad-59aa-4464-adf3-b34b2b427e8c/resourceGroups/hci-cluster-rg3050\",\r\n  \"name\": \"hci-cluster-rg3050\",\r\n  \"location\": \"eastus2euap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/680d0dad-59aa-4464-adf3-b34b2b427e8c/resourceGroups/hci-cluster-rg3050/providers/Microsoft.AzureStackHCI/clusters/hci-cluster733?api-version=2021-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"aadClientId\": \"104a5669-0106-4718-9e06-c69f5a881d86\",\r\n    \"aadTenantId\": \"c76bd4d1-bea3-45ea-be1b-4a745a675d07\"\r\n  },\r\n  \"location\": \"eastus2euap\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"00003033-0000-3400-0000-60c8f7240000\""
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/680d0dad-59aa-4464-adf3-b34b2b427e8c/resourceGroups/hci-cluster-rg3050/providers/Microsoft.AzureStackHCI/clusters/hci-cluster733\",\r\n  \"name\": \"hci-cluster733\",\r\n  \"type\": \"microsoft.azurestackhci/clusters\",\r\n  \"location\": \"eastus2euap\",\r\n  \"tags\": {},\r\n  \"systemData\": {\r\n    \"createdBy\": \"36ad8ec1-85e5-4c36-ba51-917740ee9243\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2021-06-15T18:53:24.1989584Z\",\r\n    \"lastModifiedBy\": \"36ad8ec1-85e5-4c36-ba51-917740ee9243\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2021-06-15T18:53:24.1989584Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"status\": \"NotYetRegistered\",\r\n    \"cloudId\": \"7d5f5ff1-b02d-459c-980e-66e246dd3953\",\r\n    \"aadClientId\": \"104a5669-0106-4718-9e06-c69f5a881d86\",\r\n    \"aadTenantId\": \"c76bd4d1-bea3-45ea-be1b-4a745a675d07\",\r\n    \"trialDaysRemaining\": 60,\r\n    \"billingModel\": \"Trial\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/680d0dad-59aa-4464-adf3-b34b2b427e8c/resourceGroups/hci-cluster-rg3050/providers/Microsoft.AzureStackHCI/clusters/hci-cluster733/arcSettings/default?api-version=2021-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"0000a658-0000-3400-0000-60c8f7270000\""
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/680d0dad-59aa-4464-adf3-b34b2b427e8c/resourceGroups/hci-cluster-rg3050/providers/Microsoft.AzureStackHCI/clusters/hci-cluster733/arcSettings/default\",\r\n  \"name\": \"default\",\r\n  \"type\": \"microsoft.azurestackhci/clusters/arcsettings\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"36ad8ec1-85e5-4c36-ba51-917740ee9243\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2021-06-15T18:53:25.8093756Z\",\r\n    \"lastModifiedBy\": \"36ad8ec1-85e5-4c36-ba51-917740ee9243\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2021-06-15T18:53:25.8093756Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"arcInstanceResourceGroup\": \"hci-cluster733-7d5f5ff1-b02d-459c-980e-66e246dd3953-Arc-Infra-RG\",\r\n    \"aggregateState\": \"NotSpecified\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/680d0dad-59aa-4464-adf3-b34b2b427e8c/resourceGroups/hci-cluster-rg3050/providers/Microsoft.AzureStackHCI/clusters/hci-cluster733/arcSettings?api-version=2021-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/680d0dad-59aa-4464-adf3-b34b2b427e8c/resourceGroups/hci-cluster-rg3050/providers/Microsoft.AzureStackHCI/clusters?api-version=2021-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "0f9538c2-cce0-4172-8d65-6bd57877d396",
          "5c85a08d-babb-4fd0-a2ec-b679b1bec56e",
          "4daf37b8-b7c8-432c-9480-de24595a7026",
          "42f4007a-67fb-4dca-bb2f-103c0a00808f"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/680d0dad-59aa-4464-adf3-b34b2b427e8c/resourcegroups/hci-cluster-rg3050?api-version=2017-05-10",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/680d0dad-59aa-4464-adf3-b34b2b427e8c/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1IQ0k6MkRDTFVTVEVSOjJEUkczMDUwLUVBU1RVUzJFVUFQIiwiam9iTG9jYXRpb24iOiJlYXN0dXMyZXVhcCJ9?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/680d0dad-59aa-4464-adf3-b34b2b427e8c/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1IQ0k6MkRDTFVTVEVSOjJEUkczMDUwLUVBU1RVUzJFVUFQIiwiam9iTG9jYXRpb24iOiJlYXN0dXMyZXVhcCJ9?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/680d0dad-59aa-4464-adf3-b34b2b427e8c/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1IQ0k6MkRDTFVTVEVSOjJEUkczMDUwLUVBU1RVUzJFVUFQIiwiam9iTG9jYXRpb24iOiJlYXN0dXMyZXVhcCJ9?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/680d0dad-59aa-4464-adf3-b34b2b427e8c/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1IQ0k6MkRDTFVTVEVSOjJEUkczMDUwLUVBU1RVUzJFVUFQIiwiam9iTG9jYXRpb24iOiJlYXN0dXMyZXVhcCJ9?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "TestArcSettingLifeCycle": [
      "hci-cluster-rg3050",
      "hci-cluster733"
    ]
  },
  "Variables": {
    "SubscriptionId": "680d0dad-59aa-4464-adf3-b34b2b427e8c"
  }
}