{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.DataBox/operations?api-version=2021-08-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.DataBox/jobs/cancel/action\",\r\n      \"display\": {\r\n        \"provider\": \"Azure Data Box\",\r\n        \"resource\": \"Orders\",\r\n        \"operation\": \"Cancel\",\r\n        \"description\": \"Cancels an order in progress.\"\r\n      },\r\n      \"properties\": {},\r\n      \"origin\": \"user\",\r\n      \"isDataAction\": false\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.DataBox/jobs/bookShipmentPickUp/action\",\r\n      \"display\": {\r\n        \"provider\": \"Azure Data Box\",\r\n        \"resource\": \"Orders\",\r\n        \"operation\": \"Book Shipment Pick Up\",\r\n        \"description\": \"Allows to book a pick up for return shipments.\"\r\n      },\r\n      \"properties\": {},\r\n      \"origin\": \"user\",\r\n      \"isDataAction\": false\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.DataBox/[...]
