{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.DataBox/operations?api-version=2018-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.DataBox/jobs/cancel/action\",\r\n      \"display\": {\r\n        \"provider\": \"Azure Data Box\",\r\n        \"resource\": \"Orders\",\r\n        \"operation\": \"Cancel\",\r\n        \"description\": \"Cancels an order in progress.\"\r\n      },\r\n      \"properties\": {},\r\n      \"origin\": \"user\"\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.DataBox/jobs/reportIssue/action\",\r\n      \"display\": {\r\n        \"provider\": \"Azure Data Box\",\r\n        \"resource\": \"Orders\",\r\n        \"operation\": \"Report Issue\",\r\n        \"description\": \"Reports an issue in the order.\"\r\n      },\r\n      \"properties\": {},\r\n      \"origin\": \"user\"\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.DataBox/jobs/copyLogsUri/action\",\r\n      \"display\": {\r\n        \[...]
