{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Billing/billingAccounts/4b15e98a-cb13-5f5d-0d2c-64eea298c8d4:277f7747-44f1-446f-88b0-d27d655c60cd_2019-05-31/billingSubscriptions/ce294754-54f1-41f0-853b-57415ca15600?api-version=2020-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-service-version": [
          "10.6.1265.560"
        ],
        "api-supported-versions": [
          "2018-11-01-preview, 2019-10-01-preview, 2020-05-01"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.Billing/billingAccounts/4b15e98a-cb13-5f5d-0d2c-64eea298c8d4:277f7747-44f1-446f-88b0-d27d655c60cd_2019-05-31/billingSubscriptions/ce294754-54f1-41f0-853b-57415ca15600\",\r\n  \"name\": \"ce294754-54f1-41f0-853b-57415ca15600\",\r\n  \"properties\": {\r\n    \"billingProfileId\": \"/providers/Microsoft.Billing/billingAccounts/4b15e98a-cb13-5f5d-0d2c-64eea298c8d4:277f7747-44f1-446f-88b0-d27d655c60cd_2019-05-31/billingProfiles/KKMM-ZUHC-BG7-TGB\",\r\n    \"billingProfileDisplayName\": \"First BG\",\r\n    \"displayName\": \"Sub1\",\r\n    \"invoiceSectionId\": \"/providers/Microsoft.Billing/billingAccounts/4b15e98a-cb13-5f5d-0d2c-64eea298c8d4:277f7747-44f1-446f-88b0-d27d655c60cd_2019-05-31/billingProfiles/KKMM-ZUHC-BG7-TGB/invoiceSections/UCAF-IQUR-PJA-TGB\",\r\n    \"invoiceSectionDisplayName\": \"InvoiceSection1\",\r\n    \"skuId\": \"0001\",\r\n    \"skuDescription\": \"Microsoft Azure Plan\",\r\n    \"subscriptionBillingStatus\": \"Active\",\r\n    \"subscriptionId\": \"ce294754-54f1-41f0-853b-57415ca15600\"\r\n  },\r\n  \"type\": \"Microsoft.Billing/billingAccounts/billingSubscriptions\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "ce294754-54f1-41f0-853b-57415ca15600"
  }
}