{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Billing/billingAccounts/692a1ef6-595a-5578-8776-de10c9d64861:5869ea10-a21e-423f-9213-2ca0d1938908_2019-05-31/billingProfiles/DSNH-WUZE-BG7-TGB/billingSubscriptions?api-version=2020-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-service-version": [
          "10.5.1249.546"
        ],
        "api-supported-versions": [
          "2018-11-01-preview, 2019-10-01-preview, 2020-05-01"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/providers/Microsoft.Billing/billingAccounts/692a1ef6-595a-5578-8776-de10c9d64861:5869ea10-a21e-423f-9213-2ca0d1938908_2019-05-31/billingSubscriptions/0195fcc8-69cd-4440-852b-237bdae4e36c\",\r\n      \"name\": \"0195fcc8-69cd-4440-852b-237bdae4e36c\",\r\n      \"properties\": {\r\n        \"billingProfileId\": \"/providers/Microsoft.Billing/billingAccounts/692a1ef6-595a-5578-8776-de10c9d64861:5869ea10-a21e-423f-9213-2ca0d1938908_2019-05-31/billingProfiles/DSNH-WUZE-BG7-TGB\",\r\n        \"billingProfileDisplayName\": \"Kattey Liniuieo\",\r\n        \"displayName\": \"Azure subscription 1\",\r\n        \"invoiceSectionId\": \"/providers/Microsoft.Billing/billingAccounts/692a1ef6-595a-5578-8776-de10c9d64861:5869ea10-a21e-423f-9213-2ca0d1938908_2019-05-31/billingProfiles/DSNH-WUZE-BG7-TGB/invoiceSections/CGPK-BEXW-PJA-TGB\",\r\n        \"invoiceSectionDisplayName\": \"Kattey Liniuieo\",\r\n        \"skuId\": \"0001\",\r\n        \"skuDescription\": \"Microsoft Azure Plan\",\r\n        \"subscriptionBillingStatus\": \"Active\",\r\n        \"subscriptionId\": \"0195fcc8-69cd-4440-852b-237bdae4e36c\"\r\n      },\r\n      \"type\": \"Microsoft.Billing/billingAccounts/billingSubscriptions\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "0195fcc8-69cd-4440-852b-237bdae4e36c"
  }
}