{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e66f9cbe-070c-7b0c-a981-4d9ae6f0b996?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:28:03 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC98846F5645\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:28:04 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e66f9cbe-070c-7b0c-a981-4d9ae6f0b996/test-blob-40d92e6e-f2ef-eaf2-0a8e-3e7b9dfc8cb5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 12 Dec 2022 23:28:03 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC98847E2DA2\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:28:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:28:04.2347938Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e66f9cbe-070c-7b0c-a981-4d9ae6f0b996/test-blob-40d92e6e-f2ef-eaf2-0a8e-3e7b9dfc8cb5?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Dec 2022 23:28:03 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "f0lezTTR8sW6QhsVkZ089633ocAbwhRJJtLdFa9l4nnbjXRbURY\u002BnDsThazX3FhsUUfOplvMmb01FaZh9N0WVGChOgQo4aWXuASEBzxncUp5cMNnlzseDvO2JTxv3Kde/DBMNqFURHCiNu1WR5KBzaRc6IQZr7wkgisRcrtpKNxcJgoLGzuoJSxTxWFNyMdgNViYEvQjRU1zJ7N2Q9G1OQ4R\u002BSGHdbFos8NXxepb1rpksDxj0BXnOeC9l/SIMuJanYxSPM\u002Bl2cCmL18xy39jGFD4EZKVUmj4KsBAyt294IDg/SddCZrrvtZ8vKG2tm1hWX\u002BjjyFPxEsjWRIOZA/i6E/eUM5XBQ62DVK8GZXHQnNS33BdGVFfkTjcOq\u002BI3FrHmdRR2GWeClRx7YHOk6u2XBeeu4WfhM7\u002Bfr\u002BVe8tfLTD49H/BdWoNtNUc7CzPkf6MJd6Y6iDUJxQFU1mmCY6JEr9R1Z4s9eatkAewg5iiL\u002B3ACVXtxkMPI8xqvCEQZqtGktptfrtfXzD361kZJKR8YiRs5v85m0t7QbLRwjnFnClcafC9NbAyYakk9tvq9v4o7Vn9o4CrDPaO8TwIjp33Mk4vvLu0vi1zOoVWFaVwkUqzqdTfx/ipsV35LkN0KdIMLcONujpDcy8riWn7VfdRHl/yVeTIF2pVhgtdu4/q/xA=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC988489017D\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:28:04 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "LHPCtX/oNWc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e66f9cbe-070c-7b0c-a981-4d9ae6f0b996/test-blob-40d92e6e-f2ef-eaf2-0a8e-3e7b9dfc8cb5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:28:03 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC9884942362\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:28:04 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 23:28:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:28:04.2347938Z"
      },
      "ResponseBody": "f0lezTTR8sW6QhsVkZ089633ocAbwhRJJtLdFa9l4nnbjXRbURY\u002BnDsThazX3FhsUUfOplvMmb01FaZh9N0WVGChOgQo4aWXuASEBzxncUp5cMNnlzseDvO2JTxv3Kde/DBMNqFURHCiNu1WR5KBzaRc6IQZr7wkgisRcrtpKNxcJgoLGzuoJSxTxWFNyMdgNViYEvQjRU1zJ7N2Q9G1OQ4R\u002BSGHdbFos8NXxepb1rpksDxj0BXnOeC9l/SIMuJanYxSPM\u002Bl2cCmL18xy39jGFD4EZKVUmj4KsBAyt294IDg/SddCZrrvtZ8vKG2tm1hWX\u002BjjyFPxEsjWRIOZA/i6E/[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e66f9cbe-070c-7b0c-a981-4d9ae6f0b996?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:28:03 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "670933424",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
