{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c930ed7f-00db-f609-a67a-0f47b19cf6c2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 20 Jun 2023 19:52:46 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB71C7EBAA055A\u0022",
        "Last-Modified": "Tue, 20 Jun 2023 19:52:46 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c930ed7f-00db-f609-a67a-0f47b19cf6c2/test-blob-44f83eb0-9e4f-120a-81f6-5a51241f0b50",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 20 Jun 2023 19:52:46 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "CKo4rF0T7BmF21ygLcGubzH\u002BohqUXoOYEq\u002BqQoUe9NqpDkl551/zDud0nNO7ihvYX6q6IAQyt6onn5muaamUZuaC9h53NIfRCpMyIMGv3YeT0eLbZNTVd1eeUkfFRaU94DXsOZT8YCoi6BVw/5fpd8ISGpfGuQISrH/H2eI/C8Xu9D\u002BLw6PzlnG4uHy\u002BZHfAtdqFsyoOdycz2o0UNYdI4txQggtXXbQeHoQlDgCFVEcHBiMHulia330YV\u002BgW3mDpb9afbeFsaVclZpSl6GgmrYZFDC5jQCeEtaONPgXLBz8jPJ8q5uZlm53L4lPD9PYV8qli0dIyhS6uG7g\u00[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c930ed7f-00db-f609-a67a-0f47b19cf6c2/test-blob-44f83eb0-9e4f-120a-81f6-5a51241f0b50",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 20 Jun 2023 19:52:47 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB71C7EBB3B838\u0022",
        "Last-Modified": "Tue, 20 Jun 2023 19:52:46 GMT",
        "x-ms-blob-content-md5": "\u002BLas9HfN5DcxEqitugfGdQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 20 Jun 2023 19:52:46 GMT",
        "x-ms-last-access-time": "Tue, 20 Jun 2023 19:52:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": "CKo4rF0T7BmF21ygLcGubzH\u002BohqUXoOYEq\u002BqQoUe9NqpDkl551/zDud0nNO7ihvYX6q6IAQyt6onn5muaamUZuaC9h53NIfRCpMyIMGv3YeT0eLbZNTVd1eeUkfFRaU94DXsOZT8YCoi6BVw/5fpd8ISGpfGuQISrH/H2eI/C8Xu9D\u002BLw6PzlnG4uHy\u002BZHfAtdqFsyoOdycz2o0UNYdI4txQggtXXbQeHoQlDgCFVEcHBiMHulia330YV\u002BgW3mDpb9afbeFsaVclZpSl6GgmrYZFDC5jQCeEtaONPgXLBz8jPJ8q5uZlm53L4lPD9PYV8qli0dIyhS6uG7g\u002B3ipRWV9VgqzJ/Mef33GQl17UwMCseExcaTZt8bZwe8suJ7xzeoj0bnJK[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c930ed7f-00db-f609-a67a-0f47b19cf6c2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 20 Jun 2023 19:52:47 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "3252674",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
