{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-56a30539-967a-6601-8048-16c7b294ec81?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:17:51 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC9717F0B369\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:17:52 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-56a30539-967a-6601-8048-16c7b294ec81/test-blob-ad3d7a81-fb52-216f-1bbc-45be1725d4f8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Dec 2022 23:17:51 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC9717FC3909\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:17:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:17:52.6924553Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-56a30539-967a-6601-8048-16c7b294ec81/test-blob-ad3d7a81-fb52-216f-1bbc-45be1725d4f8?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Dec 2022 23:17:51 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "z8NHalbKvC1MGKd\u002Bo7IOJsJL/uFHZsrkGuORZN6vpQaNbYCUEhx0/hQfOZ7qFUfGyQZHmamNP2n5Yk9yOFdPnXKg8DYxeROl1v/NKCwr\u002BgWcy5vXaAtdAC4Wm7DMAca80JwrSSQRlE/zocOpvxY9zWhK1m28dzVmQ/AIG91i2dQ5EViQ/7DhijZL48ZIs0EX2c5IgipYAFhmxQY0CXlxkcjucK6\u002Brc23aUw3cJNuHpCv8EIPGlap4BH/KTqqrIG92VL\u002BWUKSWSwAkRneIY/E\u002BKZ2hRg3YndxRY\u002BdvoOTDLzLeZdBb8VNHJcVD4g8y7\u002BBOzCUNCdohnfbjBSz9ZuobYVdE6f4g4jhKGiBIVLuNXnQG4NS/9eUYvMfZeKxmib8baID37cYibeosgy/5mQk7Fea4toXVW6tyLCz2B2lMI5ChbSw61XCt5HLqkzL1XyO\u002BniKFrdL5Bc0VRYHZLGZAoJ9fGGwdAEB2CpJTKsh4vM0Jd2lGhnX9qGde5U/ulPgMqjJTVga3oZ3iT6MAphrEnIi0z/T9OdppobAE/hrwh3XaBkDWJWbGUdWLZHaSvMJMWkiHOcUDD7AX6bSWsqOC8YhtZl\u002BaLrdh7n3fMZVj1ySt\u002BGPSKY1wlzbQvjuyL58yCLLuZVZismvRZQtHI93atBKP6Pp/sIg6/I9oiXB7r4=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC9718055F75\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:17:52 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "T92lFHz55UY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-56a30539-967a-6601-8048-16c7b294ec81/test-blob-ad3d7a81-fb52-216f-1bbc-45be1725d4f8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:17:52 GMT",
        "x-ms-range": "bytes=0-4095",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-4095/4096",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC97184AC2CC\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:17:53 GMT",
        "x-ms-blob-committed-block-count": "8",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 23:17:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:17:52.6924553Z"
      },
      "ResponseBody": "z8NHalbKvC1MGKd\u002Bo7IOJsJL/uFHZsrkGuORZN6vpQaNbYCUEhx0/hQfOZ7qFUfGyQZHmamNP2n5Yk9yOFdPnXKg8DYxeROl1v/NKCwr\u002BgWcy5vXaAtdAC4Wm7DMAca80JwrSSQRlE/zocOpvxY9zWhK1m28dzVmQ/AIG91i2dQ5EViQ/7DhijZL48ZIs0EX2c5IgipYAFhmxQY0CXlxkcjucK6\u002Brc23aUw3cJNuHpCv8EIPGlap4BH/KTqqrIG92VL\u002BWUKSWSwAkRneIY/E\u002BKZ2hRg3YndxRY\u002BdvoOTDLzLeZdBb8VNHJcVD4g8y7\u002BBOzCUNCdo[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-56a30539-967a-6601-8048-16c7b294ec81?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:17:52 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1933716280",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
