{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-73aad26e-0310-aad3-58ef-fc06631eea1f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:27:35 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC9873F01D7D\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:27:36 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-73aad26e-0310-aad3-58ef-fc06631eea1f/test-blob-6f743ef2-c6d1-cfc0-24c3-f09f0218ec08",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Dec 2022 23:27:35 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC9873FCAD4B\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:27:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:27:36.5435494Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-73aad26e-0310-aad3-58ef-fc06631eea1f/test-blob-6f743ef2-c6d1-cfc0-24c3-f09f0218ec08?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Dec 2022 23:27:35 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "2NEY9LDIotZ2vf54YCINP3zF6H7SwOWv1ni5nIB6IrsrndfLAH6FVkJ2s33Zvo5Hu9dlBNHsMxjraB03DwVV/JpDTcJKQT79P5E8Wwxo1hfqceCoFB3pPmq/4JdhTkY9ILfilnHM/HqZZ8U/sNcMg5IFTZ0kred9WQ5Xi2GmnPFL/ztUhT\u002BmHXVmD6xXqo2TslwFWwCpGHPPZDxidXAY8svT9LGbt/1SXzAnvp07Ja6AxNgFoUHxoebIhCEDQ6gETRzhhLXc9/tesvvPglrVlD6N4rCYE1GK4lPL0zLcTxyII3CAWqH5pM3dpu9FIR6M8\u002B/idWH3bDnLVqFiECTIgWLfR17pVDqdlD3jum1hRcA0P99C\u002Btq7kLY3tAP/lpOpFCSMZtnAop61ReAjFLHMahHgLdFEhYeHJLeosp83nf2pOqZI1d/ndJxBjbX6l3sFa0ryHmnBZI\u002BdBEEhF/D\u002BfafiedoLg5Uy\u002Bbk1A/jSjYw8okdVRH\u002BU6NUXq9CdxVysQg8NFx2g\u002Bue1wCWvjGGXyne05XSpqTkoTpEF9NjFlTNcicHoxHZvm6hfn4RZ5Vx0gOBY6N/nApjW5ciLmwUP8CrxUgKgrgYARUrMSQq0zmk1kHT3bKxTdYYoEd\u002Bt5P\u002BjUK5ZaJJZ1NHaWKOVG7mNIhdfVguRF4R\u002Bnd18d50mUmE=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC9874081D54\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:27:36 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "jg7MrWSYyUg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-73aad26e-0310-aad3-58ef-fc06631eea1f/test-blob-6f743ef2-c6d1-cfc0-24c3-f09f0218ec08",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:27:36 GMT",
        "x-ms-range": "bytes=0-4095",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-4095/4096",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC98744F7C43\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:27:37 GMT",
        "x-ms-blob-committed-block-count": "8",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 23:27:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:27:36.5435494Z"
      },
      "ResponseBody": "2NEY9LDIotZ2vf54YCINP3zF6H7SwOWv1ni5nIB6IrsrndfLAH6FVkJ2s33Zvo5Hu9dlBNHsMxjraB03DwVV/JpDTcJKQT79P5E8Wwxo1hfqceCoFB3pPmq/4JdhTkY9ILfilnHM/HqZZ8U/sNcMg5IFTZ0kred9WQ5Xi2GmnPFL/ztUhT\u002BmHXVmD6xXqo2TslwFWwCpGHPPZDxidXAY8svT9LGbt/1SXzAnvp07Ja6AxNgFoUHxoebIhCEDQ6gETRzhhLXc9/tesvvPglrVlD6N4rCYE1GK4lPL0zLcTxyII3CAWqH5pM3dpu9FIR6M8\u002B/idWH3bDnLVqFiECTIgWLfR17pVDqdl[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-73aad26e-0310-aad3-58ef-fc06631eea1f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:27:36 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1331065944",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
