{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d2fe26de-8f89-922f-b3b5-92823cd69ecb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:18:41 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC9735B667AD\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:18:42 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d2fe26de-8f89-922f-b3b5-92823cd69ecb/test-blob-1cd8e163-8ed2-a508-20cd-0c0b857bc043",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 12 Dec 2022 23:18:41 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "RreW3NPyqquarOLhmcdAPAYKhQT2jASR5CvSBt9tJgMR0XA1LXYVRDAfz\u002BESh6ZS4rM3JOVd/rmyBPeoH6PLLIXf0MdXCg\u002BP9EHT1r0iflyEgCQsNQIds9K2gih\u002BbSSNVKJbM7fe\u002BtejqC\u002BjiSj8j4abI59\u002Bn/aDwRz1oYfmEIcdRoIax0qlpoVMiY3SeiqqufOi40mEDrWr2HKa6VlPvJiohkKm4cg79XwaMhZpsEfxS\u002BeURCw9mTjMb\u002B7YC70r/cz1KfToA9gqZu7MatyfQScrqJ5yundra\u002BwK2XLZY\u002Bq/7jRJdIZTCUcPat[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d2fe26de-8f89-922f-b3b5-92823cd69ecb/test-blob-1cd8e163-8ed2-a508-20cd-0c0b857bc043",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:18:41 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC9735C2D93B\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:18:42 GMT",
        "x-ms-blob-content-md5": "DwQDgAZ9ayTHD541Mw5bng==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 23:18:42 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:18:42.6480955Z"
      },
      "ResponseBody": "RreW3NPyqquarOLhmcdAPAYKhQT2jASR5CvSBt9tJgMR0XA1LXYVRDAfz\u002BESh6ZS4rM3JOVd/rmyBPeoH6PLLIXf0MdXCg\u002BP9EHT1r0iflyEgCQsNQIds9K2gih\u002BbSSNVKJbM7fe\u002BtejqC\u002BjiSj8j4abI59\u002Bn/aDwRz1oYfmEIcdRoIax0qlpoVMiY3SeiqqufOi40mEDrWr2HKa6VlPvJiohkKm4cg79XwaMhZpsEfxS\u002BeURCw9mTjMb\u002B7YC70r/cz1KfToA9gqZu7MatyfQScrqJ5yundra\u002BwK2XLZY\u002Bq/7jRJdIZTCUcPat4\u002BcC5bLS3HrGIfuUJUib4H3SllUAIDDXynVc2h2J5WY1CZLPq9rqtFEraHnzXy9erIS[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d2fe26de-8f89-922f-b3b5-92823cd69ecb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:18:42 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1021840241",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
