{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1af984c3-362f-8d96-f7a4-66a3099e8b3c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:28:14 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC988AE92E9D\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:28:15 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1af984c3-362f-8d96-f7a4-66a3099e8b3c/test-blob-101794f6-41e6-6f3b-854a-329dafeb62b7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 12 Dec 2022 23:28:14 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC988AF4A9B0\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:28:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:28:15.0776240Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1af984c3-362f-8d96-f7a4-66a3099e8b3c/test-blob-101794f6-41e6-6f3b-854a-329dafeb62b7?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Dec 2022 23:28:14 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "y3DOSHQMc6uVOAwo\u002BqasYM8Zs5Yoxw\u002BThbn5fpNYIc/XoYyRuHn36iBreq01EnXendLNlTjLjwNhO8O6EvUYPRc9UVgaGqdVIcl1vE1hXnJEGuDAiouXDBKIMH22PdgrUzyW98EcxIMqd3NuVdK2/91QdvcUV7OLpURGkeoqn\u002BTxSWkQy2awKFVdlRIXKLc/0TCgZsbgF/uJClF91jOYANiPfQtppjR2n06ht8GgdH2NBr\u002B5ijkdEDJthsAUM1EixJU5iKqs1iv7KcZ4Pl856JXU8M9z33WfcWzY\u002Bx9zYWv8fvMrZ\u002BzS4S\u002BTvmBypdHSM54qQEOCr\u002BUfmhY\u002B09sMh8dafL9sDYGpAQ6f3yAVLMyaBceBSC[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1af984c3-362f-8d96-f7a4-66a3099e8b3c/test-blob-101794f6-41e6-6f3b-854a-329dafeb62b7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:28:14 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC988AFE934A\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:28:15 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 23:28:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:28:15.0776240Z"
      },
      "ResponseBody": "y3DOSHQMc6uVOAwo\u002BqasYM8Zs5Yoxw\u002BThbn5fpNYIc/XoYyRuHn36iBreq01EnXendLNlTjLjwNhO8O6EvUYPRc9UVgaGqdVIcl1vE1hXnJEGuDAiouXDBKIMH22PdgrUzyW98EcxIMqd3NuVdK2/91QdvcUV7OLpURGkeoqn\u002BTxSWkQy2awKFVdlRIXKLc/0TCgZsbgF/uJClF91jOYANiPfQtppjR2n06ht8GgdH2NBr\u002B5ijkdEDJthsAUM1EixJU5iKqs1iv7KcZ4Pl856JXU8M9z33WfcWzY\u002Bx9zYWv8fvMrZ\u002BzS4S\u002BTvmBypdHSM54qQEOC[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1af984c3-362f-8d96-f7a4-66a3099e8b3c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:28:14 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1897901748",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
