{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-788e9eae-b2f8-22f4-3e1a-314c203ad542?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:01:46 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF6FB4F981\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:01:46 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-788e9eae-b2f8-22f4-3e1a-314c203ad542/test-blob-2d769532-35c3-fec1-8cfd-49b243da8d1f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 22 Apr 2023 07:01:46 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "Yv8U4nnaL\u002B26eLUM9iFp0XkA5/\u002Boi24CfMNuFXmguwlymo0nSenzWGWJckp/tQdqlHg5QvOOdtaREmW2axpzGb2rmlyTQYeQDY\u002BaHxgkgse7BIABZ3kW4yO3ljeDPexKFViM1Bur1lLwqDVk9Fa\u002BbI\u002Be\u002B2eacrFElbY43KtQDc\u002BiTwm/l66sDy0tEL9Dsu/M\u002BCmn5EGEsKOnSD5kc/mnoJtlwaRN/tTh8uw6bGHyAOPGa\u002BSBqCiOHZ9mGE9vR5szhXAj3vBKf/pVxfFVSkNBtEdbnggVJvdz16MF5\u002BWFcatQBubxzyLye\u002[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-788e9eae-b2f8-22f4-3e1a-314c203ad542/test-blob-2d769532-35c3-fec1-8cfd-49b243da8d1f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:01:46 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF6FCD0542\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:01:46 GMT",
        "x-ms-blob-content-md5": "a6DC4xjEK/NUbT\u002BVAOYybg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 07:01:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:01:46.2868050Z"
      },
      "ResponseBody": "m4//3Xs86jIUZjtDCFZD/hi8FILDwKEoLQQObhr4ktmgCUTqGPnYzH6PzF4ZQN6QwRDweelST9vu1693LnsYHNNiov8RWOYe40gENPNCDu0lfq0JBxnwTrpp/EFKYZ4Cd7CKt57ffmgq0ZWhTRrnq8jCUbDODhS6cVNFqFyk1IKqArxCt1ZPRv9E3zaETwCfgVF5hw/tM2mc0EZKmtYMhf0S90tdpfNxcwuxii/eNiJTpScKK0xzvM5TpucQBKwoN1k4cVi1QdxdBxQEPKg6vpoj9/SvAlqxnzp9Cf4MYW5eiFPVpcTKnmRLrSQ3b38mGehN7A24eTX/h9IdODfdUaampbRVZBnVWVmPZFU2eTC6VvAWvnRgpg4e1h3yrGYsbVt9kMnL0LXOd5O0KBXgyQ6iYuFHxpIyRv6mN47746zzY/b5uOhm[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-788e9eae-b2f8-22f4-3e1a-314c203ad542?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:01:46 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "480857247",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
