{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b75927b6-93ef-1932-604b-5f7d5bf9f3cf?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:35:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC13655A30F0\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:35:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b75927b6-93ef-1932-604b-5f7d5bf9f3cf/test-blob-620da8e3-9094-0854-8a87-a3fd2c432b8b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Dec 2022 07:35:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC136564F621\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:35:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T07:35:08.9951265Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b75927b6-93ef-1932-604b-5f7d5bf9f3cf/test-blob-620da8e3-9094-0854-8a87-a3fd2c432b8b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Dec 2022 07:35:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "MMCGN9sJvWEnuC6H9EhZo5mYC0XItwpm0BVfitp4L\u002BHpLiO46SLz2uusO9xhzRNBLQBjlDjmw3m2H2fGqTKGr4lNnsUkoLl3pDFZG3wtBAICHl3ZFJqpAmuqAsm6LTC5JYxSFC5NHYxG7O8Hjaf9iBtkw4vUrJruo5taep7vvHcAoPbv2vDUtQDRkyeronXErXmuVmml5HjxZHGT8qLtVjB3B\u002BywDa0rkA6KAxlyQwAmls0kQWYOWrt9/XZ\u002BQMJd4zz3M5uIE5/Mg8VbG\u002BFffyFwbVzVyRXJaawwMw82rE9LLCDceg9lnYItWL6gsj/aHX5VDtNli[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b75927b6-93ef-1932-604b-5f7d5bf9f3cf/test-blob-620da8e3-9094-0854-8a87-a3fd2c432b8b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:35:08 GMT",
        "x-ms-range": "bytes=0-999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-999/1000",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC13656E43A6\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:35:09 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 07:35:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T07:35:08.9951265Z"
      },
      "ResponseBody": "MMCGN9sJvWEnuC6H9EhZo5mYC0XItwpm0BVfitp4L\u002BHpLiO46SLz2uusO9xhzRNBLQBjlDjmw3m2H2fGqTKGr4lNnsUkoLl3pDFZG3wtBAICHl3ZFJqpAmuqAsm6LTC5JYxSFC5NHYxG7O8Hjaf9iBtkw4vUrJruo5taep7vvHcAoPbv2vDUtQDRkyeronXErXmuVmml5HjxZHGT8qLtVjB3B\u002BywDa0rkA6KAxlyQwAmls0kQWYOWrt9/XZ\u002BQMJd4zz3M5uIE5/Mg8VbG\u002BFffyFwbVzVyRXJaawwMw82rE9LLCDceg9lnYItWL6gsj/aHX5VDtNliBonLcruWOCQldZ[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b75927b6-93ef-1932-604b-5f7d5bf9f3cf?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:35:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "765048305",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
