{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-69d16707-ddea-3c2e-7902-11a687e4df77?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:01:48 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF711BBEB5\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:01:48 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-69d16707-ddea-3c2e-7902-11a687e4df77/test-blob-eff8a9ad-f6be-789c-46f9-1281fed59f1c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Sat, 22 Apr 2023 07:01:48 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF712B9E94\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:01:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:01:48.5834900Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-69d16707-ddea-3c2e-7902-11a687e4df77/test-blob-eff8a9ad-f6be-789c-46f9-1281fed59f1c?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Sat, 22 Apr 2023 07:01:49 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "4MoVsFU2JNBSMweZ\u002BtMZxHRDq/RkMoiaOhViWdoHsd\u002Bwd23zfENGd4QonYrvAn1y304Muymrt65Ce3Y/1Mr1SoIn6YNlJkgx/DRvPJT9qzeX73qM\u002B/a2Bb\u002B\u002BsQDMBqK5MlMIxxn6DLgG2r71O3saRNA\u002Bp\u002BVQaU\u002BLcePDp3VHZPaStQpB9eMeneLBhiA4wMlEpGwwjV\u002B9ackDfVU1N2VDvnXIY4Zx2E/sIAoCjuIvU7AafwIIF9aX1ExAPXiO6GZ8fciqb11D08sdQ21Uutrm1CmkG7djOqefMY46MJvXXjikhRAahONT1qs269NpQhpxWWlO6c2uGUIgCz7PCaIwReU1sDTKzE9FUUUMLU/TNe5zyNYyiH[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-69d16707-ddea-3c2e-7902-11a687e4df77/test-blob-eff8a9ad-f6be-789c-46f9-1281fed59f1c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:01:49 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF716BAB66\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:01:49 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 07:01:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:01:48.5834900Z"
      },
      "ResponseBody": "4MoVsFU2JNBSMweZ\u002BtMZxHRDq/RkMoiaOhViWdoHsd\u002Bwd23zfENGd4QonYrvAn1y304Muymrt65Ce3Y/1Mr1SoIn6YNlJkgx/DRvPJT9qzeX73qM\u002B/a2Bb\u002B\u002BsQDMBqK5MlMIxxn6DLgG2r71O3saRNA\u002Bp\u002BVQaU\u002BLcePDp3VHZPaStQpB9eMeneLBhiA4wMlEpGwwjV\u002B9ackDfVU1N2VDvnXIY4Zx2E/sIAoCjuIvU7AafwIIF9aX1ExAPXiO6GZ8fciqb11D08sdQ21Uutrm1CmkG7djOqefMY46MJvXXjikhRAahONT1qs269NpQh[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-69d16707-ddea-3c2e-7902-11a687e4df77?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:01:49 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "918068425",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
