{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9813c25d-cb14-130d-45c6-e162b4a7e593?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:01:47 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF704E8B25\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:01:47 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9813c25d-cb14-130d-45c6-e162b4a7e593/test-blob-579c707c-5d97-46a8-4597-1608c72d0019",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 22 Apr 2023 07:01:47 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "CtHGJIpZXFhRPDwAhDaUa6aKY6OPZHg/59ZFnwiCyjBGeDwVT0HvIhNEBlohqMEOAqphPcpdiqVZhz2zE71PznILuQz6fxtkmkCPSl4dHT8VN5xeIYxm6O6Wu8gEPA5W9TfoFu61FIOO/aOJzj9HO2n9ntwh8a3lpNAdZMNTYF4yOFQnNQZRXyIYzyPp3RquToBeB50yNQSJAnIdl6/AO5xFV5XrIAZjqz65CCGJ/Me2bhVD9FnAAANQnTKUNMhyWJOHo4WFwy55\u002B1tfeCzi/wWqZymafUdDhFeRm4PUznd2RrCOAllBMKvmyfj\u002BYYfWbZ0s6c2f2NpMRB8u9CirpS3j6DF8VP2saT[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9813c25d-cb14-130d-45c6-e162b4a7e593/test-blob-579c707c-5d97-46a8-4597-1608c72d0019",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 22 Apr 2023 07:01:47 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "rrZqm93nqbGI5x8GyZFmze84uI/iHA3yzTnzjBQLLgNpcb/oqlPJYIlyykj6LyvdWgwxqqePZZKpeM6j8xydfLgcnVjRfSObb1cGb1HE\u002BJ0OFjIH2oRb2QstPzGFJWxt1U6P3ZLTC9zplTtPifZA5H8wld3plaI0wMNMpD7xFknrmJkDNBoLOgpWHURIDE8V7FqyVI\u002BOg0CsWh3Oh2ee\u002BH/xZPBdPbBlJVvTkndd67RzN7fjP8G6XBVZV9n9PLOjuCXEV6dfuK\u002BqTC40u/DITm9oWlCwurm\u002BNgfbA\u002BbWZ\u002B[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9813c25d-cb14-130d-45c6-e162b4a7e593/test-blob-579c707c-5d97-46a8-4597-1608c72d0019",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:01:47 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "onSswYppV4C8bHqFAfXRUw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF7058DD10\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:01:47 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 07:01:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:01:47.2022800Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9813c25d-cb14-130d-45c6-e162b4a7e593/test-blob-579c707c-5d97-46a8-4597-1608c72d0019",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:01:47 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF7058DD10\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:01:47 GMT",
        "x-ms-blob-content-md5": "onSswYppV4C8bHqFAfXRUw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 07:01:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:01:47.2022800Z"
      },
      "ResponseBody": "CtHGJIpZXFhRPDwAhDaUa6aKY6OPZHg/59ZFnwiCyjBGeDwVT0HvIhNEBlohqMEOAqphPcpdiqV[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9813c25d-cb14-130d-45c6-e162b4a7e593?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:01:47 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1590254861",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
