{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-cfe01240-f312-d4ea-05a6-99d04a28ece0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 12 Dec 2022 23:09:39 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC95F2C7B12F\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:09:40 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-cfe01240-f312-d4ea-05a6-99d04a28ece0/test-blob-4961fecc-f2ae-d5a7-1a1c-bbe841907fbb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Dec 2022 23:09:39 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC95F2D3F830\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:09:40 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:09:40.8562224Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-cfe01240-f312-d4ea-05a6-99d04a28ece0/test-blob-4961fecc-f2ae-d5a7-1a1c-bbe841907fbb?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Dec 2022 23:09:39 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "45T9OVEkUj1WW/zDc4J2R/D9jlbpeVffaAGucOyrJ\u002BCwPJG5zgBip6sj8lL25GGXpXP4QwIp0Wk8HtFQdeJRqzQbEjbxvXjwm\u002BarxocF6YSgFst4suPeh2sofLAuEjLJ0Ucd2tEqpuf6CKgbfQviNzRMsF4W2fhQPIvLyEHIwYm04vRA6A\u002BzdXDjfao7wglfRUV84WLTsvhOzJ1FXt2mMkYeZ5sXoU8lmTruM1tNFXqBbIP7TN8n4C/78RtxbRaSPEpjHVpuR6P2Vkgn5H6dALcjxPJaquZn94ZrHLAzsyskW/YQ6vgfEyTfBfWW//ywXvFkTqkkOJFk/CXUAivzw6McA4mHjBa/BLHNeqXw0PeKu72\u002BzmWC/yNlq\u002B3SShD560JSefxzKNHapUn3Vr7scywtSUdtNPQ9mgNlIuAp7Lmg1I5jnlb7F5Ls4ykbiqlleTfBpQHJi7ZOFN/4DQbwsbiQVoIviNXVMjK1gVHKIg9aAKmpZ0e410nXFYp2AgqL/DFwizMnNfBi63PPEwplg/HPngxdR0px2H84V3NKXi8nKYUfWZfbM8u4RnzT6MM/cZGYpmP9LrTn/7O07t59F4xDp\u002BqFRipa9GtApADNne\u002B7\u002BeXhsrfLKfvQN1rjJkTtOy7vkEHZuitnPbL4vIqzGmHD\u002BfQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC95F2DE08DF\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:09:40 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "s6wzcIxJrQ4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-cfe01240-f312-d4ea-05a6-99d04a28ece0/test-blob-4961fecc-f2ae-d5a7-1a1c-bbe841907fbb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:09:40 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC95F2F1B510\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:09:41 GMT",
        "x-ms-blob-committed-block-count": "3",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 23:09:40 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:09:40.8562224Z"
      },
      "ResponseBody": "45T9OVEkUj1WW/zDc4J2R/D9jlbpeVffaAGucOyrJ\u002BCwPJG5zgBip6sj8lL25GGXpXP4QwIp0Wk8HtFQdeJRqzQbEjbxvXjwm\u002BarxocF6YSgFst4suPeh2sofLAuEjLJ0Ucd2tEqpuf6CKgbfQviNzRMsF4W2fhQPIvLyEHIwYm04vRA6A\u002BzdXDjfao7wglfRUV84WLTsvhOzJ1FXt2mMkYeZ5sXoU8lmTruM1tNFXqBbIP7TN8n4C/78RtxbRaSPEpjHVpuR6P2Vkgn5H6dALcjxPJaquZn94ZrHLAzsyskW/YQ6vgfEyTfBfWW//ywXvFkTqkkOJFk/CXUAivzw6McA4mH[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-cfe01240-f312-d4ea-05a6-99d04a28ece0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:09:40 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1985923622",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
