{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-591e84c1-3ea8-2bdf-420b-4fd7d0167929?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:01:43 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF6E11BF78\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:01:43 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-591e84c1-3ea8-2bdf-420b-4fd7d0167929/test-blob-15471997-0bf4-53b7-3a10-806c17338d4d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Sat, 22 Apr 2023 07:01:43 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF6E1E5BD9\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:01:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:01:43.4634201Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-591e84c1-3ea8-2bdf-420b-4fd7d0167929/test-blob-15471997-0bf4-53b7-3a10-806c17338d4d?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Sat, 22 Apr 2023 07:01:43 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "gmncmKbls6q4q3KqsP08LRmRFYStc/HvfxxZZbw5dFsJcMpoz4rusmacXUmYDaI81FJThR0Jnw937BiJi03ufzcXoUAy016Po2MdERWoV3J6HJBp5e49ANG78eJxZSYZrt4SgGtiCgHzxOK66435zpSmDm68hJlI2qFud\u002BJ8HT09BGM3ltcGFxKPdSALgxRDwSJNy1a3XClFyaXK85Mfd6akfecqwji9n/dbLA94PFeNK7W/LlLnhac58c0xPCN/cP16ZwYsGP7qkCtfWy8ZzIxOPcjdX0lTvfc/8NBqi2PT3LwR/tVQYBK21Z4nhyl3ICVB4/5boRG0JqkO7ScufwTI[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-591e84c1-3ea8-2bdf-420b-4fd7d0167929/test-blob-15471997-0bf4-53b7-3a10-806c17338d4d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:01:43 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF6E2BEE75\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:01:43 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 07:01:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:01:43.4634201Z"
      },
      "ResponseBody": "gmncmKbls6q4q3KqsP08LRmRFYStc/HvfxxZZbw5dFsJcMpoz4rusmacXUmYDaI81FJThR0Jnw937BiJi03ufzcXoUAy016Po2MdERWoV3J6HJBp5e49ANG78eJxZSYZrt4SgGtiCgHzxOK66435zpSmDm68hJlI2qFud\u002BJ8HT09BGM3ltcGFxKPdSALgxRDwSJNy1a3XClFyaXK85Mfd6akfecqwji9n/dbLA94PFeNK7W/LlLnhac58c0xPCN/cP16ZwYsGP7qkCtfWy8ZzIxOPcjdX0lTvfc/8NBqi2PT3LwR/tVQYBK21Z4nhyl3ICVB4/5boRG0JqkO7ScufwTIi39zCM22/d21J4[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-591e84c1-3ea8-2bdf-420b-4fd7d0167929?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:01:43 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1832829192",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
