{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7ee88cd6-5fd4-54d0-3c3f-a274c8f9f293?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:35:22 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC136DCB237E\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:35:23 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7ee88cd6-5fd4-54d0-3c3f-a274c8f9f293/test-blob-0cd92a0f-df00-bad8-9df1-698192bb1b8d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Dec 2022 07:35:22 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC136DD61173\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:35:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T07:35:23.1591543Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7ee88cd6-5fd4-54d0-3c3f-a274c8f9f293/test-blob-0cd92a0f-df00-bad8-9df1-698192bb1b8d?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Dec 2022 07:35:22 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "KzdW6QkrFo4yEpdbiH2phIMaBg/VB2o/BjUqi4Il\u002BB/\u002BBUUWOeWp4xNK2e1HfTIfSOT\u002BeLUMtyTMF\u002BLTAYoMDRp3XIM3kkudcSL7iy1894kDCkOdJn9q8k4hSSID1eKIPczS0CCu57WYYQaTECv3Tx9Yz/ZHb\u002BaaDWk1FkkpmZs/ck5gqSdpVCKNBMV51uEiKvkCqgbrQc7mN8O2edFsb8drU57dlqb373vUuWohITaIEutPJ\u002B\u002BVUzF/enFksttQIZX9DYNDRZRTCrqLF4dkxRaMLmflHEfY1gBsXRs0kz2fg5jUIxSzRc1X\u[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7ee88cd6-5fd4-54d0-3c3f-a274c8f9f293/test-blob-0cd92a0f-df00-bad8-9df1-698192bb1b8d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:35:22 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC136DE0491E\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:35:23 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 07:35:23 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T07:35:23.1591543Z"
      },
      "ResponseBody": "KzdW6QkrFo4yEpdbiH2phIMaBg/VB2o/BjUqi4Il\u002BB/\u002BBUUWOeWp4xNK2e1HfTIfSOT\u002BeLUMtyTMF\u002BLTAYoMDRp3XIM3kkudcSL7iy1894kDCkOdJn9q8k4hSSID1eKIPczS0CCu57WYYQaTECv3Tx9Yz/ZHb\u002BaaDWk1FkkpmZs/ck5gqSdpVCKNBMV51uEiKvkCqgbrQc7mN8O2edFsb8drU57dlqb373vUuWohITaIEutPJ\u002B\u002BVUzF/enFksttQIZX9DYNDRZRTCrqLF4dkxRaMLmflHEfY1gBsXRs0kz2fg5jUIxSzRc1X\u002Bxw0CjypG7V[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7ee88cd6-5fd4-54d0-3c3f-a274c8f9f293?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:35:22 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "136632737",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
