{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c59778c9-2e9c-c2c6-6601-6a51df03ab23?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:27:45 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC9879A9339A\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:27:46 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c59778c9-2e9c-c2c6-6601-6a51df03ab23/test-blob-50fd3a5c-ac43-bdd6-7af2-13778c82254d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Dec 2022 23:27:45 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC9879B59A4D\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:27:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:27:46.1430861Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c59778c9-2e9c-c2c6-6601-6a51df03ab23/test-blob-50fd3a5c-ac43-bdd6-7af2-13778c82254d?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Dec 2022 23:27:45 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "kh/PKt244iNOvq0wyDv4\u002B3nr52MaHgjV3mh4Tq5bCdAr9jCO5oDYo1jaAYX\u002BpvU/\u002Bhj\u002BoJvBMnMW\u002Bkx1QJN087TdBNILaRT4E0MLPxyD1zdyOFSWXGg0acO8d\u002Bw0YmLEZg7QIKIjNJADBY1XtvNXkiIVAgc/3pZMqJoOTvEoxLHhRtkOs7aVTwTDklbb3bPQZeXJH19ahYh3g3gHFOWe20HbdnAZSN5sf7MDe0s/ccvnPukMXqVRhsBRlzA\u002BjTsfJLcV/2ZCth0GXZ\u002BsVwk8NxGtINX8knybifCvyLGuLfJ341eUKnJkp[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c59778c9-2e9c-c2c6-6601-6a51df03ab23/test-blob-50fd3a5c-ac43-bdd6-7af2-13778c82254d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:27:45 GMT",
        "x-ms-range": "bytes=0-999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-999/1000",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC9879C06E37\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:27:46 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 23:27:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:27:46.1430861Z"
      },
      "ResponseBody": "kh/PKt244iNOvq0wyDv4\u002B3nr52MaHgjV3mh4Tq5bCdAr9jCO5oDYo1jaAYX\u002BpvU/\u002Bhj\u002BoJvBMnMW\u002Bkx1QJN087TdBNILaRT4E0MLPxyD1zdyOFSWXGg0acO8d\u002Bw0YmLEZg7QIKIjNJADBY1XtvNXkiIVAgc/3pZMqJoOTvEoxLHhRtkOs7aVTwTDklbb3bPQZeXJH19ahYh3g3gHFOWe20HbdnAZSN5sf7MDe0s/ccvnPukMXqVRhsBRlzA\u002BjTsfJLcV/2ZCth0GXZ\u002BsVwk8NxGtINX8knybifCvyLGuLfJ341eUKnJkpIjLBgAGpS63FGA[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c59778c9-2e9c-c2c6-6601-6a51df03ab23?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:27:45 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "117629178",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
