{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-43d1f295-e3d7-eaf1-a547-060bbf97dfb1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:02:23 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF85B93A03\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:02:23 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-43d1f295-e3d7-eaf1-a547-060bbf97dfb1/test-blob-af8ec9b9-361e-37ef-8acc-399d2b425c05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Sat, 22 Apr 2023 07:02:23 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF85C3697E\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:02:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:02:23.1327102Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-43d1f295-e3d7-eaf1-a547-060bbf97dfb1/test-blob-af8ec9b9-361e-37ef-8acc-399d2b425c05?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Sat, 22 Apr 2023 07:02:23 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "OjgSvOcbbqIxElFu1sUXx9tTfFpNl/WOyKIrjthKEYrkOO/nrzP9BGJTk/6zIMIN0XZxGFdx2aNDhPRF8N/J5gDGip7WLxeoVXf4\u002BgT226fgHb1h2fgzcl9LpCs/uBSCiaz97JYjN6FfycLfed6fTKlNZNMiaA0Ikxc/iovsaZxjdXFX\u002BO4QvOYbAhA2U/mArFiC8VRBYCCf9Vl\u002B5K0Wc18mfANtR1O6PKfsBmb90j8evt0yaXdIIhRQuAOUktg4BY\u002BwD9f1EmQEx7WsVFm6oiMZYCXP4wno3lnvHY9QJqrPtAHWTMJoKKx5LqHCm866lRbfejGya[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-43d1f295-e3d7-eaf1-a547-060bbf97dfb1/test-blob-af8ec9b9-361e-37ef-8acc-399d2b425c05",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:02:23 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF85E0FF49\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:02:23 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 07:02:23 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:02:23.2626375Z"
      },
      "ResponseBody": "In2Ew6UJ\u002B/mz/o3ZkTbbNnri3Ko9ESPdmOFQFfEgIHKAbCs36MsobQGuzcRp2vQG6U\u002BtIZEHjhBZpivEueYIk90bWSQLpE2uum6pj0RfdL3sSSyicv7geN4a3UKgY7QbpjnmToHP\u002B0UB/mcjXf7M\u002BjJt13C5ZSDeOuBG8MYLDla5jukKeCY8HE3moHSXvRvfTuIQMoxEYUAYCBOhiQp/9u8Qac8VwYILMLoi08WsR33EZqHj\u002B9vKdS2p8W8Tm5NDZ6qEhlNLyoxgBALRIo17bMCW3CJom/oURvSia9AS\u002BJUn3mwbJ8ApeZwUg/bZ\u002BFKfLoWvfL5w[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-43d1f295-e3d7-eaf1-a547-060bbf97dfb1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:02:23 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "725686573",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
