{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6333a5e6-9136-11a3-8bb1-12e4f447eeb8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:28:11 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC98896A8E3A\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:28:12 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6333a5e6-9136-11a3-8bb1-12e4f447eeb8/test-blob-9d45f282-6028-6f9f-fa2b-91f2e4c00827",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Dec 2022 23:28:11 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC9889771ADD\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:28:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:28:12.5780458Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6333a5e6-9136-11a3-8bb1-12e4f447eeb8/test-blob-9d45f282-6028-6f9f-fa2b-91f2e4c00827?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Dec 2022 23:28:11 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "TIv7reRVBTSPtQ3Rxh5BXyX1XxUfx16Ip/Kdh4ZMiil3iEA8d3DSLewQDXNSzqnc6jHM72DzCIQscgbxuH6uQyrkWT3dBei1IzIpDrnrNdhJwJxUf5vIhIC8DwRq4HRtYcpIbnRr/\u002BVIF8wtyfnLQT0tp/fiWsOPG9S9IfXkS0K\u002Bu63uosdk3sG3C2jOm7qG8M3HPDh9iwcGuVOfrt7vZMyJbw5M3J52yck2Kk5bwIAZNjAnHA4KQC\u002Bl5\u002BlzxDDiyKacRSusORQvUXNvR2G4q/jThXeux0e9fy/epvS1AgSZU2Gov3pUbf0b\u002BMubmvnN7Tzw[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6333a5e6-9136-11a3-8bb1-12e4f447eeb8/test-blob-9d45f282-6028-6f9f-fa2b-91f2e4c00827",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:28:11 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC9889808F5D\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:28:12 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 23:28:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:28:12.5780458Z"
      },
      "ResponseBody": "TIv7reRVBTSPtQ3Rxh5BXyX1XxUfx16Ip/Kdh4ZMiil3iEA8d3DSLewQDXNSzqnc6jHM72DzCIQscgbxuH6uQyrkWT3dBei1IzIpDrnrNdhJwJxUf5vIhIC8DwRq4HRtYcpIbnRr/\u002BVIF8wtyfnLQT0tp/fiWsOPG9S9IfXkS0K\u002Bu63uosdk3sG3C2jOm7qG8M3HPDh9iwcGuVOfrt7vZMyJbw5M3J52yck2Kk5bwIAZNjAnHA4KQC\u002Bl5\u002BlzxDDiyKacRSusORQvUXNvR2G4q/jThXeux0e9fy/epvS1AgSZU2Gov3pUbf0b\u002BMubmvnN7TzwoD\u002B4NABe3[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6333a5e6-9136-11a3-8bb1-12e4f447eeb8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:28:11 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1609233930",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
