{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0990ab74-6452-16fc-558d-c47996321bdf?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:28:04 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC98850F9DC5\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:28:05 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0990ab74-6452-16fc-558d-c47996321bdf/test-blob-1f52001c-0d76-4be2-ba76-a684567f23ad",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 12 Dec 2022 23:28:04 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC98851B1A0F\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:28:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:28:05.2632079Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0990ab74-6452-16fc-558d-c47996321bdf/test-blob-1f52001c-0d76-4be2-ba76-a684567f23ad?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Dec 2022 23:28:04 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "Xp4EwDQRQ8uY5qicnLYDr26VnYJIKS0Lz9XhsFbZs3UhI0lRY6Ztm1AD/4XI66DVaisRhM6GLDRw\u002BPBfL5J1vzMzenhsskzHJwExRSqoQ\u002BM1DEYqxy6nm/cV4Gq2Dmy9jT9RlHEnaLjeSlzMVOcJyLUMKSJMSvgEjN6BV9HiERmVdLfrV69yDaONTHzS2kcPCxi0qeRJcENHTAiSphHm\u002BzlCNuAvHnAGmht\u002Bv/17MrGXcUu5LWc1SwN0pAqm32aSp1BDj6Rn4Oynrg/IyrFFyxpW\u002BzXFLc3RDerdu3pmX7u07BitN6INMJBeEX9YbIFRLtjvT\u002BMxzHmCcoK5iSRyQU9TE96ZmJR3ScukZhtOeKFpi4yidg/Xgx\u002BeKsQg[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0990ab74-6452-16fc-558d-c47996321bdf/test-blob-1f52001c-0d76-4be2-ba76-a684567f23ad",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:28:05 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC988525C6E6\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:28:05 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 23:28:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:28:05.2632079Z"
      },
      "ResponseBody": "Xp4EwDQRQ8uY5qicnLYDr26VnYJIKS0Lz9XhsFbZs3UhI0lRY6Ztm1AD/4XI66DVaisRhM6GLDRw\u002BPBfL5J1vzMzenhsskzHJwExRSqoQ\u002BM1DEYqxy6nm/cV4Gq2Dmy9jT9RlHEnaLjeSlzMVOcJyLUMKSJMSvgEjN6BV9HiERmVdLfrV69yDaONTHzS2kcPCxi0qeRJcENHTAiSphHm\u002BzlCNuAvHnAGmht\u002Bv/17MrGXcUu5LWc1SwN0pAqm32aSp1BDj6Rn4Oynrg/IyrFFyxpW\u002BzXFLc3RDerdu3pmX7u07BitN6INMJBeEX9YbIFRLtjvT\u002BMxzHmCc[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0990ab74-6452-16fc-558d-c47996321bdf?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:28:05 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "405374464",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
