{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4550e068-ea43-fa93-dabe-87e233fbc7df?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:02:16 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF81B7A688\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:02:16 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4550e068-ea43-fa93-dabe-87e233fbc7df/test-blob-213edf98-c654-0f30-c5ec-d3d707ed24cb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Sat, 22 Apr 2023 07:02:16 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF81F3B69D\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:02:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:02:16.7393701Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4550e068-ea43-fa93-dabe-87e233fbc7df/test-blob-213edf98-c654-0f30-c5ec-d3d707ed24cb?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Sat, 22 Apr 2023 07:02:16 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "qd0tzgam/8YgHKNEBc\u002BNK7TsDvbQ81TuNOZb8ztvoChRh6H4GOjv8t93ADgj6wn2X6giGt8u\u002BraJP5ofSwyKsXx68n4tlBLM/BwWWfIby0jcZJOSTIVJIo3rb9hN0KbT7E68qPiLycqWVh3DGKDDbXRSQ\u002BZ492X2MdDwQSQ5fix1Q2ykXyJPUJrI/PVnhgrsKAJk\u002B4y/WvXpxXcom4imXNfxTdU0Hg5SA/JMr/pvj6vFAxki1YOfteh3u5mrJrUSIqAedjg1twnzEfiac6r6eTbLYpdug4ZTUZjsvWN0ptw8OY1aURlykEwPLsOLBUE\u002BfEFi38Meo58ZyiWgSPqlfmsbXTodnycdWdJLX1TDyEtWrUEiEsYYHpXtQIf00UdRarBYb6gHIdwZRYbx00RKVgLZSpu5g2ykAz6kL1\u002BgKYeK\u002BfSkaliiToxkCMxAJktQouqFGoesmOdDs2xpYvF9eRz\u002BZtlPpuuqNvsOVHqgZN3zU4x0Gw7/3mANYLfrOeya5o\u002BwQb9xAfz\u002B2uOMnUNso0\u002BPdg5lCV0N/oh5QkUzvv0PdG7q8CIdgVKQdUAqc0AcoL1oXMLdNd0xokI3\u002BL62yhzmfCnVgbIscvW81ZMd4otHXaGIy2I7Mj6RuU3g5YmT2qojRPYWRx4KPOrMIWBJE8C375sdLf\u002B6q0rqQ8hlS4w=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF81FFC2CE\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:02:16 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "IsCap6on5Us=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4550e068-ea43-fa93-dabe-87e233fbc7df/test-blob-213edf98-c654-0f30-c5ec-d3d707ed24cb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:02:17 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF8236A93E\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:02:17 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 07:02:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:02:16.7393701Z"
      },
      "ResponseBody": "qd0tzgam/8YgHKNEBc\u002BNK7TsDvbQ81TuNOZb8ztvoChRh6H4GOjv8t93ADgj6wn2X6giGt8u\u002BraJP5ofSwyKsXx68n4tlBLM/BwWWfIby0jcZJOSTIVJIo3rb9hN0KbT7E68qPiLycqWVh3DGKDDbXRSQ\u002BZ492X2MdDwQSQ5fix1Q2ykXyJPUJrI/PVnhgrsKAJk\u002B4y/WvXpxXcom4imXNfxTdU0Hg5SA/JMr/pvj6vFAxki1YOfteh3u5mrJrUSIqAedjg1twnzEfiac6r6eTbLYpdug4ZTUZjsvWN0ptw8OY1aURlykEwPLsOLBUE\u002BfEFi38Meo58ZyiWgSP[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4550e068-ea43-fa93-dabe-87e233fbc7df?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:02:17 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1522641142",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
