{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-aa17faee-0de8-39bc-3785-6104a827ada5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:17:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC97176CF0A9\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:17:51 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-aa17faee-0de8-39bc-3785-6104a827ada5/test-blob-fc193c4e-722c-118d-1b90-f16105d4f9c3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Dec 2022 23:17:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC9717782811\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:17:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:17:51.8269457Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-aa17faee-0de8-39bc-3785-6104a827ada5/test-blob-fc193c4e-722c-118d-1b90-f16105d4f9c3?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Dec 2022 23:17:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "4kuD901GOCOws8sUMYikZEzBt1scWT80qEUzqgaiU1Vr51JJT0FSBhTno7HeUA/2O2BaTtEN14gMT08IEo0cDl92qEo2WhQLbrBHNbaOVVc1PG6lSASEXg/JPQDxSvOGypRRaKjEwOFMT98gxaLSfvn40tYedsVa8kk7bB0TGSS8wWohPO2ucHuNWfkkY5lt978G\u002BXcdZ1TO93ZfiVPDODW7ZAQ3sEIMSWFakB3MNo6wznVeDB\u002Btn1kWUkV2T\u002BcnyiDDaf6VNUZ9\u002Bq8Vw9Y3AsHnr7veZSsVDcWqIV79lfl6Msb8CcyQGpgv4BJvmNuC31CDj6AsSWT0rVw56hTogGS1mpAQOvn0V5QiroQZpXXpKEINeQVZTuhiB1twVjCERmCtuv1LcqRWjzgMCZrf2wfmUMHS2gZeXEynrTKdhAFjnmgja\u002Bt3nradtunNTUVOgixTiQVvsWxZT12xo8RxuQo3qGoyu3AbbrILNCMdkQ8HWSoGSvv79Oz8yRyOxvrxK/3flqTaG8a8OBpSY31IPL1OqUmZa28PO7R9NvFTjae3GQglPftqLD5kSRHhqZBvs41ePx2xWMCO0FrwXOXUaKpymkp0Iv/C43wLNSFdLZEjDoJk9U2KBsBHl22ges9Yj\u002BFnbg5G\u002BpGNm1ugpiKeMaLIzU5icHNc55SJLIuRImk=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC97178238CC\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:17:51 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "gHDZKLUQzgg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-aa17faee-0de8-39bc-3785-6104a827ada5/test-blob-fc193c4e-722c-118d-1b90-f16105d4f9c3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:17:51 GMT",
        "x-ms-range": "bytes=0-4095",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-4095/4096",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC9717CFFF5B\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:17:52 GMT",
        "x-ms-blob-committed-block-count": "8",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 23:17:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:17:51.8269457Z"
      },
      "ResponseBody": "4kuD901GOCOws8sUMYikZEzBt1scWT80qEUzqgaiU1Vr51JJT0FSBhTno7HeUA/2O2BaTtEN14gMT08IEo0cDl92qEo2WhQLbrBHNbaOVVc1PG6lSASEXg/JPQDxSvOGypRRaKjEwOFMT98gxaLSfvn40tYedsVa8kk7bB0TGSS8wWohPO2ucHuNWfkkY5lt978G\u002BXcdZ1TO93ZfiVPDODW7ZAQ3sEIMSWFakB3MNo6wznVeDB\u002Btn1kWUkV2T\u002BcnyiDDaf6VNUZ9\u002Bq8Vw9Y3AsHnr7veZSsVDcWqIV79lfl6Msb8CcyQGpgv4BJvmNuC31CDj6AsSWT0rVw56hTogGS[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-aa17faee-0de8-39bc-3785-6104a827ada5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:17:51 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1924008561",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
