{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-214fefe1-5079-816d-1523-f2386b29b03a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 20 Jun 2023 19:52:43 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB71C7E9CAA84C\u0022",
        "Last-Modified": "Tue, 20 Jun 2023 19:52:43 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-214fefe1-5079-816d-1523-f2386b29b03a/test-blob-0e489c0e-a58d-6ef4-30bd-7ed451f3d6b0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 20 Jun 2023 19:52:43 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB71C7E9D8870A\u0022",
        "Last-Modified": "Tue, 20 Jun 2023 19:52:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-214fefe1-5079-816d-1523-f2386b29b03a/test-blob-0e489c0e-a58d-6ef4-30bd-7ed451f3d6b0?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 20 Jun 2023 19:52:43 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "KAX0\u002BlRwqOMT6qXwWCjEcSvudkSun1awGSAbgfFiRYJ4r5ga4Tsp0R7j4TXsweYqMPrXRGf2zImvQ\u002BA0VCbysKQieKiPqY/wxKUlyr0gxFc68VH2iwEbgeIPap1a9X338TCQyUk9m4Zr53/B0QLLj3\u002BJ\u002BmPV\u002ByWjB/fGfz7xlc4oLdiNj/sO/FXKi6SBWbDfRNse0fsZIvYL7cFSdxtIeVGxmaMqPf\u002BDev0NCm\u002BAIa1H5jpj08PTDgvhgaE5vIU5ghJS0MAMtQbbmlb\u002BDBeHiss[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-214fefe1-5079-816d-1523-f2386b29b03a/test-blob-aa60564a-0ba8-4361-9103-ad5eeb4e080d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 20 Jun 2023 19:52:44 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB71C7E9E09C2C\u0022",
        "Last-Modified": "Tue, 20 Jun 2023 19:52:43 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 20 Jun 2023 19:52:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": "ZtoVjXIGxXnauOkXJIZ3sQ5GBE4X4AcwyO9xSiSvsi0Mps9Sm1XA33f8N94THXbYtw\u002Bmqr0JVobT5cWDlXtUKga8C363JRa5hiTWGqgoHKp4mZMVCQdvAk9IfrWPPEr8qA3YVxL4IJL47SSZMjzdqskbC/zoPiD/TAgvbqZgKUnZ2nGaUMSXf3gBHBvj1dATa9PsdDFOFGrs2AoKybHrmMTav1jKQloEg4uD5yEEG3c3HAPSc7QYi8UHrne6jbbHFYRXCBZ4SCh56PCmyy1I572T0q2tGCUPwjOSwpTiSvXUu9GdrRJgvtPbWYrDccCXv8a6JroIGv1eR0bi5oaTlp770Q9cqzqqMxTa0b\u002BaS1Bz\u002BgPOKCM6zKHUPmXMfdhNSMLsyKCwOxOLEPOmLkg9w/z[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-214fefe1-5079-816d-1523-f2386b29b03a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 20 Jun 2023 19:52:44 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "860917862",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
