{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-566f60c8-b61d-8231-5b4a-f2604fc159c4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 20 Jun 2023 19:46:11 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB71C70005597A\u0022",
        "Last-Modified": "Tue, 20 Jun 2023 19:46:11 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-566f60c8-b61d-8231-5b4a-f2604fc159c4/test-blob-a5d9a61e-cf07-d050-9a08-50c6521edf9e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 20 Jun 2023 19:46:11 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "\u002B0b0/ORPOjmbQWCu9pZX6t7apDJU923BmP3MlXyaUM6E9ssMKuO6BXUeyG/8YOVCGWjXpChQBQTZMmTng6S8AfCSKQDLS7/7IJ69Ni7\u002BxTgXiXsUwqumM/HGM/h\u002B0oLRYcZ\u002Bajbld86o24OJk87V220sz/koqD5E6/YPBRjHfE4b7NVof1sBMhGta\u002BcoHZ8i8FiKUgOIqLiIOX5A1nK14F41baf5bVsRKp3oez1XHM5W7BTAPClLk0Mc4EbcwVyf94uI8q/4KYP8eShloCx7MByw6eld9aM16tpj3I0UNWhBSIOxzykeXsKQw8MB5fIXoa8pK9hyQQHnUgjVlEz[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-566f60c8-b61d-8231-5b4a-f2604fc159c4/test-blob-a5d9a61e-cf07-d050-9a08-50c6521edf9e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 20 Jun 2023 19:46:11 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB71C7000E967F\u0022",
        "Last-Modified": "Tue, 20 Jun 2023 19:46:11 GMT",
        "x-ms-blob-content-md5": "W8iSNlGrQGnaOoWsZyPWRg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 20 Jun 2023 19:46:11 GMT",
        "x-ms-last-access-time": "Tue, 20 Jun 2023 19:46:11 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": "\u002B0b0/ORPOjmbQWCu9pZX6t7apDJU923BmP3MlXyaUM6E9ssMKuO6BXUeyG/8YOVCGWjXpChQBQTZMmTng6S8AfCSKQDLS7/7IJ69Ni7\u002BxTgXiXsUwqumM/HGM/h\u002B0oLRYcZ\u002Bajbld86o24OJk87V220sz/koqD5E6/YPBRjHfE4b7NVof1sBMhGta\u002BcoHZ8i8FiKUgOIqLiIOX5A1nK14F41baf5bVsRKp3oez1XHM5W7BTAPClLk0Mc4EbcwVyf94uI8q/4KYP8eShloCx7MByw6eld9aM16tpj3I0UNWhBSIOxzykeXsKQw8MB5fIXoa8pK9hyQQHnUgjVlEz250O/JFipyWHykYonzTLfNATnTDvd6wmQzgaBynwhScp2mtuAQcCabddNN[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-566f60c8-b61d-8231-5b4a-f2604fc159c4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 20 Jun 2023 19:46:12 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "948244736",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
