{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-52f9c777-eb54-54fa-bdb3-b63aa54d8e5f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:35:51 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC137EF6B117\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:35:51 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-52f9c777-eb54-54fa-bdb3-b63aa54d8e5f/test-blob-ccf66d73-305c-ae0e-25e6-4f3e14d99f63",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Dec 2022 07:35:51 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC137F0105B8\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:35:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T07:35:51.9609272Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-52f9c777-eb54-54fa-bdb3-b63aa54d8e5f/test-blob-ccf66d73-305c-ae0e-25e6-4f3e14d99f63?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Dec 2022 07:35:51 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "FO7rk279DTpOYt55aVx32hxRrUdi0WseAjBra2MttOFZ\u002BjCtPGYXdl\u002B7fflSlUTJb3QiwitXAUKCzJE9kqLXIa78IG8ryZ61OTfoplRyzG3rofzuC/G1AvnuK3DU2uO95FxLVXXVnaXWbIj0blruEP8kUfCl6Ba9Rx11PZ0t4V9TKsH3Jnf3FgRWF59owJOe/xtwsIjzF/xGjg1XX2AIqYopoUOZ9umILDvsT9B3VIaK1z2CvDHWYBPFsZhpoLakTm4UPx9PBQgy6INNB8cszzmHzYgihuxZUkEw00VQHoyERwFhYhRnOtE0T9StiFlLmeFf4dMtgceCuuzeHzH[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-52f9c777-eb54-54fa-bdb3-b63aa54d8e5f/test-blob-ccf66d73-305c-ae0e-25e6-4f3e14d99f63",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:35:51 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC137F0B1665\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:35:52 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 07:35:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T07:35:51.9609272Z"
      },
      "ResponseBody": "FO7rk279DTpOYt55aVx32hxRrUdi0WseAjBra2MttOFZ\u002BjCtPGYXdl\u002B7fflSlUTJb3QiwitXAUKCzJE9kqLXIa78IG8ryZ61OTfoplRyzG3rofzuC/G1AvnuK3DU2uO95FxLVXXVnaXWbIj0blruEP8kUfCl6Ba9Rx11PZ0t4V9TKsH3Jnf3FgRWF59owJOe/xtwsIjzF/xGjg1XX2AIqYopoUOZ9umILDvsT9B3VIaK1z2CvDHWYBPFsZhpoLakTm4UPx9PBQgy6INNB8cszzmHzYgihuxZUkEw00VQHoyERwFhYhRnOtE0T9StiFlLmeFf4dMtgceCuuzeHzHC4sr3yL/GymwlI[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-52f9c777-eb54-54fa-bdb3-b63aa54d8e5f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:35:51 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1139136096",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
