{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fa6d3299-75fd-a9c7-222c-ad3c6cecf972?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:28:13 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC988AA5038F\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:28:14 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fa6d3299-75fd-a9c7-222c-ad3c6cecf972/test-blob-547f0d24-eef7-2cfc-b059-317e56d36d7d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 12 Dec 2022 23:28:13 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "nW/8CWioWb7ltfaL6jAkt3tqzi0mOkZQZ1ehv/S3dn5/BbN/FPlLfLTBbkL4cEJ/NHkC7ARAVmMprKIQB5nJLj93C\u002BR8pKKCHlJ5ZMsEWPYVIYt7tIl6P65QVmhWO3Ub\u002BD8DgGVdA4/Wf82yxvKXJFOs\u002B\u002BUOTnm1/cs1LE46K\u002BPdXmyMAdeQtx37pDW8yHi8uTIVqkCPDKnGTYOZJ9dBnFTq1GiFCyN7G0PHE6lE\u002BTVSeXIbJYGiTlHCxbNT949GuQfh0fMQN64OmY78x/n/gVRORq5kJXfTR4YXwkVvKCSzgFmiYydBQkHEDYvypYZXwkNfBbDh4pOPDo[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fa6d3299-75fd-a9c7-222c-ad3c6cecf972/test-blob-547f0d24-eef7-2cfc-b059-317e56d36d7d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 12 Dec 2022 23:28:13 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "vIJ\u002BG\u002BbPOcwuW3TA5rv\u002BLoWzL6w2RMwlmxJxU7ZOJYWzRycn4j0a1ynKGcVGAfNjdv432roN5Xi1WX/UXuUW4DXuDZ\u002BT1ktHmVeDayoH3pkeDd23FkvLpWGvcoi9RXlEtDmQV/NUz5\u002By70FiinlNrnrmtVAHXsnqI2g942TDiVPdP7fxd4alyT49BCYKaBvnYsQN15ApPFZvpTSLF\u002Bs772XthUvCXDb0QOsSyVmi37pMVYGftbLDtAJggdFRGrJSAhXBHOPQJQWNGZekF3P8zMV5P8JpnDqzKtBIYdploiU5v8d[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fa6d3299-75fd-a9c7-222c-ad3c6cecf972/test-blob-547f0d24-eef7-2cfc-b059-317e56d36d7d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:28:13 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "bX4pVQncPmRK\u002BIg9EJlPwQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC988AAF946A\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:28:14 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 23:28:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:28:14.6248810Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fa6d3299-75fd-a9c7-222c-ad3c6cecf972/test-blob-547f0d24-eef7-2cfc-b059-317e56d36d7d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:28:13 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC988AAF946A\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:28:14 GMT",
        "x-ms-blob-content-md5": "bX4pVQncPmRK\u002BIg9EJlPwQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 23:28:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:28:14.6248810Z"
      },
      "ResponseBody": "nW/8CWioWb7ltfaL6jAkt3tqzi0mOkZQZ1ehv/S3dn5/BbN/FPlLfLTBbkL4cEJ/NHkC7A[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fa6d3299-75fd-a9c7-222c-ad3c6cecf972?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:28:13 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1110847138",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
