{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-922bb64c-2f68-a44b-e587-a8cb8bd5c5ad?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:17:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC9716F5882D\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:17:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-922bb64c-2f68-a44b-e587-a8cb8bd5c5ad/test-blob-182fe0b5-1551-3a17-a24a-105ebc5a805a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Dec 2022 23:17:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC9717322897\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:17:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:17:51.3692060Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-922bb64c-2f68-a44b-e587-a8cb8bd5c5ad/test-blob-182fe0b5-1551-3a17-a24a-105ebc5a805a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Dec 2022 23:17:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "hWJZaSm6Tar99crhuwdvH\u002BB/p3atyjS54Ksxgm7uyHzYqL7SbD0Aach9/YOAkcqNGhPq7aQ4Hroun4h9iMo8Di1NCRJInbKifz2tMM2wOE/go2daBNvXoIkEo8y1guH9Qe5WM4i3RXxhSG1niu7sfWc5neRi4gpRdWmJRPnm7fxcsO/fWQXHKF7r\u002BbttcBWbFyZle\u002BX8m1/jBb0fLgCCeltxCtr/DSNhcnSFd\u002BhO5AVT7izTgHEXYBWP\u002B1RIqPpdaH5g/GY7mwkCAwlxdiN2lSG3y0DUr/npWarEbxLOGcp6KA9q7eeeF1Ii0X1opurxGWYzkNy5ibiEdqO7div3M\u002Bo\u002B904UC6c5GbPtsd18gbPA0lWrm4juwJ5W5XdE46AmK56TKa\u002Bb3Q2/\u002Bncoy9jaB/Xw\u002B6PWTJhhUDavvSUw9TUSx4Y/6VcDJPVH7KARxfTGe96BVOf9UN8GMdh47B/ojwVBFQRSmx6d7Neujl/3T4tC6UJHrqBOFXamObd\u002BizfVX12b0LDvc\u002BC/42cPTsJ/DuJNNgLdoOBk8v\u002BOq2FmHmGf2C4CW3/aUnVih8s4Pse0JyrVMVQ0\u002BL98N92wYch\u002BWcQGcHWTfLNicuONexgVK7Q42YM2ke0MauBvhiSiKvCs4y4GMs5RIat3cr5wp3ymZwwpeIhER8jW\u002BgWUI/aPwEg=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC97173DE6AC\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:17:51 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "2VzB4zinzPE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-922bb64c-2f68-a44b-e587-a8cb8bd5c5ad/test-blob-182fe0b5-1551-3a17-a24a-105ebc5a805a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:17:50 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC971749CBD8\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:17:51 GMT",
        "x-ms-blob-committed-block-count": "2",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 23:17:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:17:51.3692060Z"
      },
      "ResponseBody": "hWJZaSm6Tar99crhuwdvH\u002BB/p3atyjS54Ksxgm7uyHzYqL7SbD0Aach9/YOAkcqNGhPq7aQ4Hroun4h9iMo8Di1NCRJInbKifz2tMM2wOE/go2daBNvXoIkEo8y1guH9Qe5WM4i3RXxhSG1niu7sfWc5neRi4gpRdWmJRPnm7fxcsO/fWQXHKF7r\u002BbttcBWbFyZle\u002BX8m1/jBb0fLgCCeltxCtr/DSNhcnSFd\u002BhO5AVT7izTgHEXYBWP\u002B1RIqPpdaH5g/GY7mwkCAwlxdiN2lSG3y0DUr/npWarEbxLOGcp6KA9q7eeeF1Ii0X1opurxGWYzkNy5ibiEdqO7di[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-922bb64c-2f68-a44b-e587-a8cb8bd5c5ad?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:17:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1664213512",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
