{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5dc627e4-d7fc-5ae0-297a-01b0539f8733?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:35:20 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC136CE79B37\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:35:21 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5dc627e4-d7fc-5ae0-297a-01b0539f8733/test-blob-d66c0fa2-5646-6ca2-2388-1b5187a60fde",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 12 Dec 2022 07:35:21 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC136CF177AB\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:35:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T07:35:21.6599979Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5dc627e4-d7fc-5ae0-297a-01b0539f8733/test-blob-d66c0fa2-5646-6ca2-2388-1b5187a60fde?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Dec 2022 07:35:21 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "g22mZOw9Qos024A\u002BSkL1mZ2VljzeIE20TEYmaH9azTPoTj/bAanNZczgomvWZCLgkoG08g/TAGIf8RimFtkL2g5MVvsDGpjzyDFv/X7i3ugjRdb\u002BptojFU7cuw\u002BQJk7y1chdiQ4m3XjpwCneYwPjPRMwgtEDDTMzKECtJl6IY6LjfCe2hVTZ/GhdFeaxRbFK\u002BH77YKN97siUKmHNebcaYF2H\u002B\u002BbbLbe/VoVopvhNgeOOYi3fjAL\u002BZo1fIVvzDIOwQrSJKUrKb8vGPAodFEjQR6h9PhaKOtNaiZRZewtczEoCt2NDxFiZw/JhGVD44FFFj9qydc1sJgjgLp\u002B1cfS/am\u002B/G1zkjINP5HsjKCGDYqhDE\u002[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5dc627e4-d7fc-5ae0-297a-01b0539f8733/test-blob-d66c0fa2-5646-6ca2-2388-1b5187a60fde",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:35:21 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC136CFA5003\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:35:21 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 07:35:21 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T07:35:21.6599979Z"
      },
      "ResponseBody": "g22mZOw9Qos024A\u002BSkL1mZ2VljzeIE20TEYmaH9azTPoTj/bAanNZczgomvWZCLgkoG08g/TAGIf8RimFtkL2g5MVvsDGpjzyDFv/X7i3ugjRdb\u002BptojFU7cuw\u002BQJk7y1chdiQ4m3XjpwCneYwPjPRMwgtEDDTMzKECtJl6IY6LjfCe2hVTZ/GhdFeaxRbFK\u002BH77YKN97siUKmHNebcaYF2H\u002B\u002BbbLbe/VoVopvhNgeOOYi3fjAL\u002BZo1fIVvzDIOwQrSJKUrKb8vGPAodFEjQR6h9PhaKOtNaiZRZewtczEoCt2NDxFiZw/JhGVD44FFFj9qydc1s[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5dc627e4-d7fc-5ae0-297a-01b0539f8733?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:35:21 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1770818662",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
