{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d0841c84-ce32-89a9-5495-67da9505d336?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:17:57 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC971B2D6401\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:17:58 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d0841c84-ce32-89a9-5495-67da9505d336/test-blob-ad93169f-e73a-2bab-4ef0-2410456e3b8b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Dec 2022 23:17:57 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC971B395F5C\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:17:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:17:58.1263708Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d0841c84-ce32-89a9-5495-67da9505d336/test-blob-ad93169f-e73a-2bab-4ef0-2410456e3b8b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Dec 2022 23:17:57 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "iHRMz7xDJKnrHL6bhjy/BWfIrecjVyQw7X/kCx4QzCKzTwCe/LeISF9CXQRCxZcSB\u002BHfNzA7WjBQHOE9XxiL2k\u002Bc6Dc7IAiwQGWI4Pkf7Sfn0QQ8MZXxd/TPTuDVSuhGt4K0pt1g1ufYL/bKs3o2MC65VY0UT6m6qnFCbNIo2vZ8QSl3a0dKhvsdYwKeJ8N6mB6xHPRbMmfY\u002BvtrHWoUsFQATnFRv8Xnbs\u002BR9\u002BunG4OtyNOzd70BIA/BnnBL3mmRCLOtntlRKNlZya0lyjp8Md94vlWWYDmW/y1ijyFUnJBlAO84\u002Bn2pW5/6Wq0Q21b[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d0841c84-ce32-89a9-5495-67da9505d336/test-blob-ad93169f-e73a-2bab-4ef0-2410456e3b8b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:17:57 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC971B42D3D9\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:17:58 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 23:17:58 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:17:58.1263708Z"
      },
      "ResponseBody": "iHRMz7xDJKnrHL6bhjy/BWfIrecjVyQw7X/kCx4QzCKzTwCe/LeISF9CXQRCxZcSB\u002BHfNzA7WjBQHOE9XxiL2k\u002Bc6Dc7IAiwQGWI4Pkf7Sfn0QQ8MZXxd/TPTuDVSuhGt4K0pt1g1ufYL/bKs3o2MC65VY0UT6m6qnFCbNIo2vZ8QSl3a0dKhvsdYwKeJ8N6mB6xHPRbMmfY\u002BvtrHWoUsFQATnFRv8Xnbs\u002BR9\u002BunG4OtyNOzd70BIA/BnnBL3mmRCLOtntlRKNlZya0lyjp8Md94vlWWYDmW/y1ijyFUnJBlAO84\u002Bn2pW5/6Wq0Q21bURW2R0iAT\u002[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d0841c84-ce32-89a9-5495-67da9505d336?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:17:58 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "581675157",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
