{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7b803ca0-2644-9137-fd33-4b8c05650b30?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:28:15 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC988BA8E06C\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:28:16 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7b803ca0-2644-9137-fd33-4b8c05650b30/test-blob-310accd3-a548-3ffc-385c-edab047065da",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 12 Dec 2022 23:28:15 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC988BB3BF2B\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:28:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:28:16.3309106Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7b803ca0-2644-9137-fd33-4b8c05650b30/test-blob-310accd3-a548-3ffc-385c-edab047065da?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Dec 2022 23:28:15 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "0at87pm5pGIv\u002By9LzAZkPK9la4J9B8IUDfE10Q5lG1fttiQvf77uht2QLxxGL61jxSWIjj6NpcroaOGnhNNUyeDYXRbhNb3wd\u002BSk7demzd1E0Qzo3YwYXxBaRhfdRgIKO2U8btGXgY9olxda6LjyQZoDY7LGbOxTv/4Fh\u002B6lEzDimrFxal8LrFB8gEV0vnZYZwR92eJQQ8556K7TkfqgwoTmd04Ggdc697diSeym3wGHrR/qKDlOklbj94KwOBtV3L3BjkYoUuYtQuIr7vri0witTOTbtppKmOX3I4lVib\u002BbDG0u5FG7X1o5vOVXIqNcACR5A\u002Bw2eiUjdvVgMS5c2Lkij\u002BGNtO638uyJovm18nZCmiNl24bSZZJHCm5bWi0r3[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7b803ca0-2644-9137-fd33-4b8c05650b30/test-blob-310accd3-a548-3ffc-385c-edab047065da",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:28:15 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC988BDC28D9\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:28:16 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 23:28:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:28:16.4748294Z"
      },
      "ResponseBody": "41/QGAz8F\u002BzdVPEzrCLQNW77LUXs6OVorAlR8/hWEF1Yq0Q509uR89hvZDjIlGRDgK\u002BTXiu\u002BX/t6Z2wCqiP0hkOU2wHelmKSajpsfIOsoBilDXNJw7IxmUxJv2tvj0i0e971NLhjZepMAPTwUeJ4zcZTXJywq8KRYkG0ldb2I9rxuAGkt2tfQqiI/MO9QEhp0PKlGzKsA88bZNJ2rtATVdwZ/5jh0xVa9BrzJ6//0yH5S8TkUQeoRLUxiFOZ6JPYdabmpEGvh/3cSicYuNsgHJCwfWMLLwTUcbrjsErBwQuGG7IIGC/fSsPHBwfgkIzZEWzD6GswzEWhETOGy9eyGogckZwo[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7b803ca0-2644-9137-fd33-4b8c05650b30?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:28:15 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1909188877",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
