{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b18f788c-0743-f29a-ee63-6f05946f1d10?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Jan 2023 22:08:21 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFB32D8397A14\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:08:22 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b18f788c-0743-f29a-ee63-6f05946f1d10/test-blob-c2f2dd61-9343-25b4-36a0-7aac6f34f94e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:08:21 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "mjgZ\u002BvfgspO4i\u002BR611Y394sZBBqtBfNY5lIFvTx2rjTpQVB\u002BJRGHgCpfCbevOU3faYIgVTDeoJVEwROk2/VWQtyvkJYGuNF5koPwTfs7qawEJVS6VVkECqC6OmT94qU1Ccfb/6m32LCwp8Ks7lKZCBdnn7Whm\u002ByCq4b1TH5te7DeukQzYKkDTUyjCa6XVxtOIDFMlkLvk23bWFMiwowyQysRzTMOZahtZFJp/ZI961NqpytMIOVu7yfWWAdW4Iq/ccaDhYnnP7qJ3jLvhpXbnmz/uBth5SJFo94MNw2gF4PHqYzLuWbJgmdww0GzfmmR\u002B7qbVihvXoujPuGr2we[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b18f788c-0743-f29a-ee63-6f05946f1d10/test-blob-c2f2dd61-9343-25b4-36a0-7aac6f34f94e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:08:21 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "ffsivjMtUkOSesYfPzWvHUicbMfn2Nsn7hLmRqzKpVuBP5\u002BQ6HqowHKsVngk87K2Y2pmxSGCqqUf\u002BtAgRguWx9RrngCWHjXO86tVO4JjA/pgL\u002BNBY\u002BA6/pX6ce2piHlmFo6kuVWxIEQ1l9F2LG8ivPfVvxcoVGT0MJ9rm61HJGox7yT0vkmlrg\u002BfDMsOxNIl17T208liPcEqsIi2RoSW7XNmRD1KLv2tMBAHiUeY5WzNRcP4UVGhz7FiyQ7B72eKCB5YqH\u002BU26m3SaK4WrR6ksoc6QHAnpwixXWL52Tv60GofIA[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b18f788c-0743-f29a-ee63-6f05946f1d10?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:08:21 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "230607010",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
