{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f694ae27-c125-44d9-3781-81e651742843?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Jan 2023 22:08:22 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFB32D92628AD\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:08:23 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f694ae27-c125-44d9-3781-81e651742843/test-blob-8ff98945-e1d7-14cc-447d-1c72309a4428",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:08:23 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "Bzy3oRbmoFueYZwTYZLp7hn7\u002BXYV6m1O40n\u002BJLACTt\u002BJiNDwNPd/X\u002Bid8XVEubKxky1ZNaHOEh3Pab3M6HurnBK9idnC\u002Bboie5mNd/n3CSqWTJCDqRk9u3WzIMs5s3ds8lRjhy/Z75pyNroHQJsj11\u002BSNpvqJ/P5f85jD9jv6cciIYSlk4L7vF32EHJeNnraj0hrp33bgcpgagdhdt/Cg03y5R8WfkTdl3k\u002B9BeAmklTiH\u002BPg0JKRp\u002B5RCl6mUV9M4wla1BbwxAEjg8DnY2z38\u002B9Du5fMgALp56AXDoaYv0zwMCLWy7598Ruiv[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f694ae27-c125-44d9-3781-81e651742843?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:08:23 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "143887264",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
