{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-47f9bade-cad8-5a44-08fd-0fafe2dd2918?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Jan 2023 22:08:17 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFB32D7FC7A05\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:08:21 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-47f9bade-cad8-5a44-08fd-0fafe2dd2918/test-blob-83361520-b74d-43b2-ce70-246472cd0458",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:08:21 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "R0gDlP3gp8yytQQOCTyD9V44VkB4MXr0m515AW0lPvTDOWa\u002BKYEhP21q0JezpDqS7S8GOnfE4BbND/lfZ6VfjXcPS8/WxMzcFxbSDWDiQfZj5xM9HwR9/lhQ8BqHwdjIC0Mgo1lquyhjKSJg8tK2680C/H\u002BSIW1ykkx3hdSxVVU\u002BCgIcwp6d\u002BSvr2vXhHAuFmQVMhcRZNurWrRAM8zZUsdTNIejQmSgvZQNTpkZ3kHVB8evPZdCQ5dMXRhWNkQX1likhFPsjtQDcHB/BBY\u002BjXhyaywJKhUsEPDwUuFITodT9XRAdVnx6Hjvr8kiwz99EdOj488UDqxHdHdi\u00[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-47f9bade-cad8-5a44-08fd-0fafe2dd2918?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:08:21 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "747534463",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
