{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6eada63a-6714-65c8-36ca-4c9725401e5c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 22 Apr 2023 07:02:35 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF8CD4DC13\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:02:34 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6eada63a-6714-65c8-36ca-4c9725401e5c/test-blob-96ccd6af-2413-857b-4b32-e6783100b149",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 22 Apr 2023 07:02:35 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "BwB9RarKZleA9QuSZvEGXlcCF90fLDf1ZRAJwzn\u002BHlYOBWJzq/\u002BJ5W91Fh4Y6R9ZLIggLunTKtrIh\u002BCZwaMdgda1g2CPkrNYeTJuqhYZ3Hvxr5ax3e9tO9uHqiMe7yPMV5VHY2W\u002ByprVyLW2ZYDEr6pkqBEMbKPnSEiFB\u002BePOYoPoVKB0nkWMuX82xU5ttZawvt4ukYRv\u002BvxYBsdOcKyRo4rpsMuQ90xTnYsEJCNrZFxKkTrFn5D/eJmj3Jd\u002BPkiSZWGDg8TLH8eRmzP5a5aZLKKqw5\u002Bxy8Q56ngx7Rr1FV9Csb7B56BXv7Fzc8ScxgzDCu/[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6eada63a-6714-65c8-36ca-4c9725401e5c/test-blob-96ccd6af-2413-857b-4b32-e6783100b149",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 22 Apr 2023 07:02:35 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "\u002BAXA/Uax/2kfcHhyGldoDajv\u002BGKVHAeCb0h6AzcbM8NHCA760p3bFGL1vcqz4R3jD4K3umvWcdv\u002BPY7\u002BN/syBDy0KhFIbjoKFOQAn189z40qlvO0Y3lYcJYy/JUP3Nxmw7mN/rYLmqFHrKaH1tJ8wW0A06EIfaDDXLp6FnGl\u002BzcHmdylr9HXHvxRbbfT0JrEtTsnDgg7XUUZyqL8kYQvorFugDz11xGcKbWlthDp8IsftmA2fuwuyzyXjOQv2o13IssFZFBez94piuVTlqc0MNoW3dsj\u002BSPFP7T/XkotbU4nLZR[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6eada63a-6714-65c8-36ca-4c9725401e5c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:02:35 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1321009012",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
