{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Mar 2023 14:23:09 GMT"
      },
      "RequestBody": {
        "routes": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "VDqNxqFrJUCScvJ2Sihjsw.0",
        "X-Processing-Time": "215ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Mar 2023 14:23:10 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1-437b187c-8244-bd21-e741-f3008f18d478.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-437b187c-8244-bd21-e741-f3008f18d478.testdomain.com": {
            "sipSignalingPort": 1123
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ydXaAR4FmEGocNflbAzk3Q.0",
        "X-Processing-Time": "842ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1-437b187c-8244-bd21-e741-f3008f18d478.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-437b187c-8244-bd21-e741-f3008f18d478.testdomain.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": []
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Mar 2023 14:23:11 GMT"
      },
      "RequestBody": {
        "routes": [
          {
            "description": "Handle numbers starting with \u0027\u002B123\u0027",
            "name": "First rule",
            "numberPattern": "\\\u002B123[0-9]\u002B",
            "trunks": [
              "sbs1-437b187c-8244-bd21-e741-f3008f18d478.testdomain.com"
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "e/nI4vBLq0qnqzU58S8XyA.0",
        "X-Processing-Time": "195ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1-437b187c-8244-bd21-e741-f3008f18d478.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-437b187c-8244-bd21-e741-f3008f18d478.testdomain.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": [
          {
            "description": "Handle numbers starting with \u0027\u002B123\u0027",
            "name": "First rule",
            "numberPattern": "\\\u002B123[0-9]\u002B",
            "trunks": [
              "sbs1-437b187c-8244-bd21-e741-f3008f18d478.testdomain.com"
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Mar 2023 14:23:13 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1-437b187c-8244-bd21-e741-f3008f18d478.testdomain.com": null,
          "sbs2-437b187c-8244-bd21-e741-f3008f18d478.testdomain.com": null,
          "newsbs-437b187c-8244-bd21-e741-f3008f18d478.testdomain.com": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "PdzBFg1DzU\u002B6hpshhwuc\u002BQ.0",
        "X-Processing-Time": "370ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1201310990"
  }
}
