{
  "Entries": [
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 13 Dec 2022 20:16:21 GMT"
      },
      "RequestBody": {
        "routes": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "isGSA5etQkiZe4FQtvkwag.0",
        "X-Processing-Time": "340ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1.577405d2-35b0-45f8-467d-57afd2ac5d12.com": {
            "sipSignalingPort": 9999
          },
          "sbs2.577405d2-35b0-45f8-467d-57afd2ac5d12.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": []
      }
    },
[...]
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 13 Dec 2022 20:16:23 GMT"
      },
      "RequestBody": {
        "routes": [
          {
            "description": "Handle numbers starting with \u0027\u002B123\u0027",
            "name": "First rule",
            "numberPattern": "\\\u002B123[0-9]\u002B",
            "trunks": [
              "sbs1.01791c35-4241-cf7c-58d3-fdc8e1fe4814.com"
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "v0By95XA\u002BkO6ni5W954lbA.0",
        "X-Processing-Time": "106ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1.01791c35-4241-cf7c-58d3-fdc8e1fe4814.com": {
            "sipSignalingPort": 1122
          },
          "sbs2.01791c35-4241-cf7c-58d3-fdc8e1fe4814.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": [
          {
            "description": "Handle numbers starting with \u0027\u002B123\u0027",
            "name": "First rule",
            "numberPattern": "\\\u002B123[0-9]\u002B",
            "trunks": [
              "sbs1.01791c35-4241-cf7c-58d3-fdc8e1fe4814.com"
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 13 Dec 2022 20:16:25 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1.01791c35-4241-cf7c-58d3-fdc8e1fe4814.com": null,
          "sbs2.01791c35-4241-cf7c-58d3-fdc8e1fe4814.com": null,
          "newsbs.01791c35-4241-cf7c-58d3-fdc8e1fe4814.com": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "WEbqloA7HUWfpIMITctiJg.0",
        "X-Processing-Time": "166ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://jb-sdk-e2e-test.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1229580860"
  }
}
