{
  "Entries": [
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 10 Oct 2022 08:24:23 GMT"
      },
      "RequestBody": {
        "routes": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "E0AVuNpKoUG3XjONxFLimQ.0",
        "X-Processing-Time": "98ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1.sipconfigtest.com": {
            "sipSignalingPort": 9999
          },
          "sbs2.sipconfigtest.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": []
      }
    },
[...]
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 10 Oct 2022 08:24:24 GMT"
      },
      "RequestBody": {
        "routes": [
          {
            "description": "Handle numbers starting with \u0027\u002B123\u0027",
            "name": "First rule",
            "numberPattern": "\\\u002B123[0-9]\u002B",
            "trunks": [
              "sbs1.sipconfigtest.com"
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "EhV4FF8kQ0KPp8GyoLN2rA.0",
        "X-Processing-Time": "84ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1.sipconfigtest.com": {
            "sipSignalingPort": 1122
          },
          "sbs2.sipconfigtest.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": [
          {
            "description": "Handle numbers starting with \u0027\u002B123\u0027",
            "name": "First rule",
            "numberPattern": "\\\u002B123[0-9]\u002B",
            "trunks": [
              "sbs1.sipconfigtest.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 10 Oct 2022 08:24:24 GMT"
      },
      "RequestBody": {
        "trunks": {
          "newsbs.sipconfigtest.com": {
            "sipSignalingPort": 3333
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "XcaQ\u002BHfEwUG7UwuFOe1XUA.0",
        "X-Processing-Time": "334ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1.sipconfigtest.com": {
            "sipSignalingPort": 1122
          },
          "sbs2.sipconfigtest.com": {
            "sipSignalingPort": 1123
          },
          "newsbs.sipconfigtest.com": {
            "sipSignalingPort": 3333
          }
        },
        "routes": [
          {
            "description": "Handle numbers starting with \u0027\u002B123\u0027",
            "name": "First rule",
            "numberPattern": "\\\u002B123[0-9]\u002B",
            "trunks": [
              "sbs1.sipconfigtest.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 10 Oct 2022 08:24:25 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "CsBRiKkdSE2XH7GawoiMbA.0",
        "X-Processing-Time": "65ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1.sipconfigtest.com": {
            "sipSignalingPort": 1122
          },
          "sbs2.sipconfigtest.com": {
            "sipSignalingPort": 1123
          },
          "newsbs.sipconfigtest.com": {
            "sipSignalingPort": 3333
          }
        },
        "routes": [
          {
            "description": "Handle numbers starting with \u0027\u002B123\u0027",
            "name": "First rule",
            "numberPattern": "\\\u002B123[0-9]\u002B",
            "trunks": [
              "sbs1.sipconfigtest.com"
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://jb-sdk-e2e-test.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1265487456"
  }
}
