{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 09 Mar 2023 07:13:20 GMT"
      },
      "RequestBody": {
        "routes": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "WIq5xMD5qUSSaZsJ9roANA.0",
        "X-Processing-Time": "594ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 09 Mar 2023 07:13:22 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1-a21fb0fc-6ab6-9580-3505-232474d5de76.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-a21fb0fc-6ab6-9580-3505-232474d5de76.testdomain.com": {
            "sipSignalingPort": 1123
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "8zspuDq6aUKfCarWoAyzRQ.0",
        "X-Processing-Time": "1248ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1-a21fb0fc-6ab6-9580-3505-232474d5de76.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-a21fb0fc-6ab6-9580-3505-232474d5de76.testdomain.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": []
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 09 Mar 2023 07:13:24 GMT"
      },
      "RequestBody": {
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Rule without trunks",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": []
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "xFhdqVhqjUqe7IjhePgBQg.0",
        "X-Processing-Time": "294ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1-a21fb0fc-6ab6-9580-3505-232474d5de76.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-a21fb0fc-6ab6-9580-3505-232474d5de76.testdomain.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Rule without trunks",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": []
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 09 Mar 2023 07:13:27 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1-a21fb0fc-6ab6-9580-3505-232474d5de76.testdomain.com": null,
          "sbs2-a21fb0fc-6ab6-9580-3505-232474d5de76.testdomain.com": null,
          "newsbs-a21fb0fc-6ab6-9580-3505-232474d5de76.testdomain.com": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "7R\u002BkBUMg202ZudoJvrLElQ.0",
        "X-Processing-Time": "527ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    }
  ],
  "Variables": {
    "RandomSeed": "658142216"
  }
}
