{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Feb 2023 14:17:59 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "t/J19JH\u002BB0yRbLiHELWdUw.0",
        "X-Processing-Time": "243ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Feb 2023 14:17:59 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1.ec08c099-6bde-bc11-3198-2cad623741d3.com": {
            "sipSignalingPort": 1122
          },
          "sbs2.ec08c099-6bde-bc11-3198-2cad623741d3.com": {
            "sipSignalingPort": 1123
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "J54ZypImbk20pI\u002BEQ7ysRQ.0",
        "X-Processing-Time": "1353ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1.ec08c099-6bde-bc11-3198-2cad623741d3.com": {
            "sipSignalingPort": 1122
          },
          "sbs2.ec08c099-6bde-bc11-3198-2cad623741d3.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": []
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Feb 2023 14:18:02 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "JURN33iCMkSGO7pQNJFHCA.0",
        "X-Processing-Time": "270ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "105277283"
  }
}
