{
  "Entries": [
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 20 Dec 2022 00:49:14 GMT"
      },
      "RequestBody": {
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Rule without trunks",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": []
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "8bGQ4fB4hU6InmTbtk5YSA.0",
        "X-Processing-Time": "173ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Rule without trunks",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": []
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 20 Dec 2022 00:49:15 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "8BkjVly3PU68tNMScX6zUw.0",
        "X-Processing-Time": "181ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://jb-sdk-e2e-test.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1088010620"
  }
}
