{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 09 Mar 2023 07:13:42 GMT"
      },
      "RequestBody": {
        "routes": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "\u002BNs2IAG25EyaZh9yNJx1qQ.0",
        "X-Processing-Time": "313ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 09 Mar 2023 07:13:43 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1-a2d6dbb2-cea8-dc4a-7bdc-8d47f8c3d0c0.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-a2d6dbb2-cea8-dc4a-7bdc-8d47f8c3d0c0.testdomain.com": {
            "sipSignalingPort": 1123
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "/ymp\u002BnSHYUeHgST4PczZjw.0",
        "X-Processing-Time": "1155ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1-a2d6dbb2-cea8-dc4a-7bdc-8d47f8c3d0c0.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-a2d6dbb2-cea8-dc4a-7bdc-8d47f8c3d0c0.testdomain.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": []
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 09 Mar 2023 07:13:44 GMT"
      },
      "RequestBody": {
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Rule without trunks",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": []
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "oOHd7Gb1fkyklcn7izyutw.0",
        "X-Processing-Time": "292ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1-a2d6dbb2-cea8-dc4a-7bdc-8d47f8c3d0c0.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-a2d6dbb2-cea8-dc4a-7bdc-8d47f8c3d0c0.testdomain.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Rule without trunks",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": []
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 09 Mar 2023 07:13:48 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1-a2d6dbb2-cea8-dc4a-7bdc-8d47f8c3d0c0.testdomain.com": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "hrf3q4pih0yYqZh203ykfA.0",
        "X-Processing-Time": "393ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    }
  ],
  "Variables": {
    "RandomSeed": "452623697"
  }
}
