{
  "Entries": [
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "EWXvTtbjdUan2He0MLKIGw.0",
        "X-Processing-Time": "126ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    },
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 13 Dec 2022 20:16:55 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ycCHUdio50aJvsNEtDhkPw.0",
        "X-Processing-Time": "84ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    },
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 13 Dec 2022 20:16:55 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "lN/Kxuw0ZUaxavJwtf0dlA.0",
        "X-Processing-Time": "81ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://jb-sdk-e2e-test.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "375446389"
  }
}
