{
  "Entries": [
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "4vH7rld9KEqqD\u002BwH8Rg9hA.0",
        "X-Processing-Time": "122ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    },
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 13 Dec 2022 01:47:27 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Xs8S2AbPSkSiVxZZB8fJ\u002BQ.0",
        "X-Processing-Time": "80ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    },
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 13 Dec 2022 01:47:27 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "id4q4XapiEOnBHjz4BbHuQ.0",
        "X-Processing-Time": "85ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://jb-sdk-e2e-test.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1049629783"
  }
}
