{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 09 Mar 2023 07:14:01 GMT"
      },
      "RequestBody": {
        "routes": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "9ccQD3TZR0SP9dFKbYySSA.0",
        "X-Processing-Time": "283ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 09 Mar 2023 07:14:02 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1-1569a6b9-199a-7629-3d3b-c52c6b0e3682.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-1569a6b9-199a-7629-3d3b-c52c6b0e3682.testdomain.com": {
            "sipSignalingPort": 1123
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "5HINoWuzB0yMdZ3omONWag.0",
        "X-Processing-Time": "1050ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1-1569a6b9-199a-7629-3d3b-c52c6b0e3682.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-1569a6b9-199a-7629-3d3b-c52c6b0e3682.testdomain.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": []
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 09 Mar 2023 07:14:03 GMT"
      },
      "RequestBody": {
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Rule without trunks",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": []
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "IDhBOyHJBE\u002B39jP8bMnVxQ.0",
        "X-Processing-Time": "291ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1-1569a6b9-199a-7629-3d3b-c52c6b0e3682.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-1569a6b9-199a-7629-3d3b-c52c6b0e3682.testdomain.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Rule without trunks",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": []
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 09 Mar 2023 07:14:05 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1-1569a6b9-199a-7629-3d3b-c52c6b0e3682.testdomain.com": null,
          "sbs2-1569a6b9-199a-7629-3d3b-c52c6b0e3682.testdomain.com": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "FwY\u002Bs/HudEeaSg9M52VIVw.0",
        "X-Processing-Time": "411ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1471907582"
  }
}
