{
  "Entries": [
    {
      "RequestUri": "https://billtest171913new-communication.int.communication.azure.net/sip?api-version=2022-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 24 Aug 2022 13:30:38 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "mL1JFLSuok62tbvlo2R56w.0",
        "X-Processing-Time": "39ms"
      },
      "ResponseBody": {
        "domains": {
          "contoso.com": {
            "enabled": true
          }
        },
        "trunks": {
          "acs.contoso.com": {
            "enabled": true,
            "sipSignalingPort": 123
          }
        },
        "routes": [
          {
            "description": null,
            "name": "R1",
            "numberPattern": ".*",
            "trunks": [
              "acs.contoso.com"
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://billtest171913new-communication.int.communication.azure.net/sip?api-version=2022-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 24 Aug 2022 13:30:40 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "G0nG4QjSA0KtUtnvpC6luw.0",
        "X-Processing-Time": "20ms"
      },
      "ResponseBody": {
        "domains": {
          "contoso.com": {
            "enabled": true
          }
        },
        "trunks": {
          "acs.contoso.com": {
            "enabled": true,
            "sipSignalingPort": 123
          }
        },
        "routes": [
          {
            "description": null,
            "name": "R1",
            "numberPattern": ".*",
            "trunks": [
              "acs.contoso.com"
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://billtest171913new-communication.int.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1494992033"
  }
}
