{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Mar 2023 14:23:36 GMT"
      },
      "RequestBody": {
        "routes": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "QL7Hk2r2O0G469Sa1kuQ2A.0",
        "X-Processing-Time": "204ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Mar 2023 14:23:37 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1-50c0b506-ae6e-324c-6829-8d84a5d864d0.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-50c0b506-ae6e-324c-6829-8d84a5d864d0.testdomain.com": {
            "sipSignalingPort": 1123
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "K5YxKJBTlE2gCGZ4UEZKsw.0",
        "X-Processing-Time": "896ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1-50c0b506-ae6e-324c-6829-8d84a5d864d0.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-50c0b506-ae6e-324c-6829-8d84a5d864d0.testdomain.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": []
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Mar 2023 14:23:38 GMT"
      },
      "RequestBody": {
        "routes": [
          {
            "description": "Handle numbers starting with \u0027\u002B123\u0027",
            "name": "First rule",
            "numberPattern": "\\\u002B123[0-9]\u002B",
            "trunks": [
              "sbs1-50c0b506-ae6e-324c-6829-8d84a5d864d0.testdomain.com"
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "8zaiAyMYzEKDSyJ8YlECtA.0",
        "X-Processing-Time": "195ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1-50c0b506-ae6e-324c-6829-8d84a5d864d0.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-50c0b506-ae6e-324c-6829-8d84a5d864d0.testdomain.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": [
          {
            "description": "Handle numbers starting with \u0027\u002B123\u0027",
            "name": "First rule",
            "numberPattern": "\\\u002B123[0-9]\u002B",
            "trunks": [
              "sbs1-50c0b506-ae6e-324c-6829-8d84a5d864d0.testdomain.com"
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Mar 2023 14:23:39 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1-50c0b506-ae6e-324c-6829-8d84a5d864d0.testdomain.com": null,
          "sbs2-50c0b506-ae6e-324c-6829-8d84a5d864d0.testdomain.com": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "8vkVBCui3EGnX\u002B/GsuJ0aw.0",
        "X-Processing-Time": "308ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1725345260"
  }
}
