{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 10 Mar 2023 13:53:48 GMT"
      },
      "RequestBody": {
        "routes": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "S7yUZIBx8U2IxNxB\u002BAV0BQ.0",
        "X-Processing-Time": "413ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 10 Mar 2023 13:53:49 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1-ab15ea10-b0f8-39ef-b6ad-9401ed56edcd.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-ab15ea10-b0f8-39ef-b6ad-9401ed56edcd.testdomain.com": {
            "sipSignalingPort": 1123
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "XiBSQbcLgUWEB4YDIBG0EQ.0",
        "X-Processing-Time": "1382ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1-ab15ea10-b0f8-39ef-b6ad-9401ed56edcd.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-ab15ea10-b0f8-39ef-b6ad-9401ed56edcd.testdomain.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": []
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 10 Mar 2023 13:53:51 GMT"
      },
      "RequestBody": {
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Rule without trunks",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": []
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "7bLdIYn4zUaAu/6XhHoWug.0",
        "X-Processing-Time": "619ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1-ab15ea10-b0f8-39ef-b6ad-9401ed56edcd.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-ab15ea10-b0f8-39ef-b6ad-9401ed56edcd.testdomain.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Rule without trunks",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": []
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 10 Mar 2023 13:53:53 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1-ab15ea10-b0f8-39ef-b6ad-9401ed56edcd.testdomain.com": null,
          "sbs2-ab15ea10-b0f8-39ef-b6ad-9401ed56edcd.testdomain.com": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "TX/ORs7wEECrtjaCIx1r7w.0",
        "X-Processing-Time": "405ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "66881749"
  }
}
