{
  "Entries": [
    {
      "RequestUri": "https://billtest171913new-communication.int.communication.azure.net/sip?api-version=2022-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 31 Aug 2022 12:27:48 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "kmDUsxn\u002BiUic25iuQjNgKw.0",
        "X-Processing-Time": "38ms"
      },
      "ResponseBody": {
        "domains": {
          "contoso.com": {
            "enabled": true
          }
        },
        "trunks": {
          "acs.contoso.com": {
            "enabled": true,
            "sipSignalingPort": 123
          }
        },
        "routes": [
          {
            "description": null,
            "name": "R1",
            "numberPattern": ".*",
            "trunks": [
              "acs.contoso.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://billtest171913new-communication.int.communication.azure.net/sip?api-version=2022-09-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 31 Aug 2022 12:27:49 GMT"
      },
      "RequestBody": {
        "domains": {
          "contoso123.com": {
            "enabled": true
          },
          "contoso.com": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "2U2Z9NREbU6XeKfiLnnfcA.0",
        "X-Processing-Time": "1321ms"
      },
      "ResponseBody": {
        "domains": {
          "contoso123.com": {
            "enabled": true
          }
        },
        "trunks": {},
        "routes": []
      }
    },
[...]
    {
      "RequestUri": "https://billtest171913new-communication.int.communication.azure.net/sip?api-version=2022-09-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 31 Aug 2022 12:27:51 GMT"
      },
      "RequestBody": {
        "trunks": {
          "acs.contoso123.com": {
            "sipSignalingPort": 124,
            "enabled": true
          },
          "acs.contoso.com": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "SZia8U1nY0GxPP3ZptWOGw.0",
        "X-Processing-Time": "839ms"
      },
      "ResponseBody": {
        "domains": {},
        "trunks": {
          "acs.contoso123.com": {
            "enabled": true,
            "sipSignalingPort": 124
          }
        },
        "routes": []
      }
    },
[...]
    {
      "RequestUri": "https://billtest171913new-communication.int.communication.azure.net/sip?api-version=2022-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 31 Aug 2022 12:27:53 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "AYGnWy24hkulqAJIDkVxQA.0",
        "X-Processing-Time": "19ms"
      },
      "ResponseBody": {
        "domains": {
          "contoso.com": {
            "enabled": true
          }
        },
        "trunks": {
          "acs.contoso.com": {
            "enabled": true,
            "sipSignalingPort": 123
          }
        },
        "routes": [
          {
            "description": null,
            "name": "R1",
            "numberPattern": ".*",
            "trunks": [
              "acs.contoso.com"
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://billtest171913new-communication.int.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "149726900"
  }
}
