{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Mar 2023 14:22:56 GMT"
      },
      "RequestBody": {
        "routes": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ArUOBAEpA0yxsqCm4a8\u002BtQ.0",
        "X-Processing-Time": "194ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Mar 2023 14:22:57 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1-33bed8f8-2e04-ecea-490b-b9b3947101a8.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-33bed8f8-2e04-ecea-490b-b9b3947101a8.testdomain.com": {
            "sipSignalingPort": 1123
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "QnaQ8lbAsEmCl5J6aMwQLQ.0",
        "X-Processing-Time": "958ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1-33bed8f8-2e04-ecea-490b-b9b3947101a8.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-33bed8f8-2e04-ecea-490b-b9b3947101a8.testdomain.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": []
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Mar 2023 14:22:58 GMT"
      },
      "RequestBody": {
        "routes": [
          {
            "description": "Handle numbers starting with \u0027\u002B123\u0027",
            "name": "First rule",
            "numberPattern": "\\\u002B123[0-9]\u002B",
            "trunks": [
              "sbs1-33bed8f8-2e04-ecea-490b-b9b3947101a8.testdomain.com"
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "gI1ybOr14kqOeCgiybEq1A.0",
        "X-Processing-Time": "250ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1-33bed8f8-2e04-ecea-490b-b9b3947101a8.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-33bed8f8-2e04-ecea-490b-b9b3947101a8.testdomain.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": [
          {
            "description": "Handle numbers starting with \u0027\u002B123\u0027",
            "name": "First rule",
            "numberPattern": "\\\u002B123[0-9]\u002B",
            "trunks": [
              "sbs1-33bed8f8-2e04-ecea-490b-b9b3947101a8.testdomain.com"
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Mar 2023 14:23:01 GMT"
      },
      "RequestBody": {
        "trunks": {
          "newsbs-33bed8f8-2e04-ecea-490b-b9b3947101a8.testdomain.com": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "pcUVn7dWB06d7TgkV5ex/g.0",
        "X-Processing-Time": "341ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1770797062"
  }
}
