{
  "Entries": [
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 13 Dec 2022 20:17:04 GMT"
      },
      "RequestBody": {
        "routes": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "CmJ1PYU2eEeK5OzB66RiUQ.0",
        "X-Processing-Time": "160ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    },
[...]
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 13 Dec 2022 20:17:04 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1.8cedcdb9-250b-7f26-dd05-67d813fc251d.com": {
            "sipSignalingPort": 1122
          },
          "sbs2.8cedcdb9-250b-7f26-dd05-67d813fc251d.com": {
            "sipSignalingPort": 1123
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "OgU4YDxQbk\u002BvKCaZxEalCA.0",
        "X-Processing-Time": "683ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1.8cedcdb9-250b-7f26-dd05-67d813fc251d.com": {
            "sipSignalingPort": 1122
          },
          "sbs2.8cedcdb9-250b-7f26-dd05-67d813fc251d.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": []
      }
    },
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 13 Dec 2022 20:17:05 GMT"
      },
      "RequestBody": {
        "routes": [
          {
            "description": "Handle numbers starting with \u0027\u002B123\u0027",
            "name": "First rule",
            "numberPattern": "\\\u002B123[0-9]\u002B",
            "trunks": [
              "sbs1.8cedcdb9-250b-7f26-dd05-67d813fc251d.com"
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "mUlJVT2bKUS21xNNYy6ubQ.0",
        "X-Processing-Time": "185ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1.8cedcdb9-250b-7f26-dd05-67d813fc251d.com": {
            "sipSignalingPort": 1122
          },
          "sbs2.8cedcdb9-250b-7f26-dd05-67d813fc251d.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": [
          {
            "description": "Handle numbers starting with \u0027\u002B123\u0027",
            "name": "First rule",
            "numberPattern": "\\\u002B123[0-9]\u002B",
            "trunks": [
              "sbs1.8cedcdb9-250b-7f26-dd05-67d813fc251d.com"
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 13 Dec 2022 20:17:07 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1.8cedcdb9-250b-7f26-dd05-67d813fc251d.com": null,
          "sbs2.8cedcdb9-250b-7f26-dd05-67d813fc251d.com": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "nzvb2gSLVEewGPEENZKGyw.0",
        "X-Processing-Time": "256ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://jb-sdk-e2e-test.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "609120764"
  }
}
