{
  "Entries": [
    {
      "RequestUri": "https://jannovak-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 05 Dec 2022 22:49:18 GMT"
      },
      "RequestBody": {
        "routes": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "o3baR7vHlEu5SK3rMubMGg.0",
        "X-Processing-Time": "116ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1.com": {
            "sipSignalingPort": 1122
          },
          "sbs2.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": []
      }
    },
[...]
    {
      "RequestUri": "https://jannovak-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 05 Dec 2022 22:49:19 GMT"
      },
      "RequestBody": {
        "routes": [
          {
            "description": "Handle numbers starting with \u0027\u002B123\u0027",
            "name": "First rule",
            "numberPattern": "\\\u002B123[0-9]\u002B",
            "trunks": [
              "sbs1.com"
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "X7zjut91qk\u002B9YWeLkTDnQg.0",
        "X-Processing-Time": "111ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1.com": {
            "sipSignalingPort": 1122
          },
          "sbs2.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": [
          {
            "description": "Handle numbers starting with \u0027\u002B123\u0027",
            "name": "First rule",
            "numberPattern": "\\\u002B123[0-9]\u002B",
            "trunks": [
              "sbs1.com"
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://jannovak-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 05 Dec 2022 22:49:19 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "x3MsKMjhs02tgb9KWpjumQ.0",
        "X-Processing-Time": "78ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1.com": {
            "sipSignalingPort": 1122
          },
          "sbs2.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": [
          {
            "description": "Handle all other numbers\u0027",
            "name": "Last rule",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": [
              "sbs1.com",
              "sbs2.com"
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://jannovak-test.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "404249972"
  }
}
