{
  "Entries": [
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 13 Dec 2022 20:17:07 GMT"
      },
      "RequestBody": {
        "routes": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Vf3O\u002BIzFT0iedRdIVs4a2w.0",
        "X-Processing-Time": "251ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    },
[...]
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 13 Dec 2022 20:17:08 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1.1feb7689-4426-1eb0-efd7-b9d3d2a179bd.com": {
            "sipSignalingPort": 1122
          },
          "sbs2.1feb7689-4426-1eb0-efd7-b9d3d2a179bd.com": {
            "sipSignalingPort": 1123
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "vbhYW0EmFkeRpKDSTtzwaw.0",
        "X-Processing-Time": "454ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1.1feb7689-4426-1eb0-efd7-b9d3d2a179bd.com": {
            "sipSignalingPort": 1122
          },
          "sbs2.1feb7689-4426-1eb0-efd7-b9d3d2a179bd.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": []
      }
    },
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 13 Dec 2022 20:17:08 GMT"
      },
      "RequestBody": {
        "routes": [
          {
            "description": "Handle numbers starting with \u0027\u002B123\u0027",
            "name": "First rule",
            "numberPattern": "\\\u002B123[0-9]\u002B",
            "trunks": [
              "sbs1.1feb7689-4426-1eb0-efd7-b9d3d2a179bd.com"
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "opZPuXEUN0a/ead\u002BJttD0w.0",
        "X-Processing-Time": "193ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1.1feb7689-4426-1eb0-efd7-b9d3d2a179bd.com": {
            "sipSignalingPort": 1122
          },
          "sbs2.1feb7689-4426-1eb0-efd7-b9d3d2a179bd.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": [
          {
            "description": "Handle numbers starting with \u0027\u002B123\u0027",
            "name": "First rule",
            "numberPattern": "\\\u002B123[0-9]\u002B",
            "trunks": [
              "sbs1.1feb7689-4426-1eb0-efd7-b9d3d2a179bd.com"
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 13 Dec 2022 20:17:11 GMT"
      },
      "RequestBody": {
        "trunks": {
          "newsbs.1feb7689-4426-1eb0-efd7-b9d3d2a179bd.com": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "3pNI3yylU0aes/JyvbHobg.0",
        "X-Processing-Time": "262ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://jb-sdk-e2e-test.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1865169759"
  }
}
