{
  "Entries": [
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 20 Dec 2022 00:48:58 GMT"
      },
      "RequestBody": {
        "routes": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Tfi4696nlUiRWDXyObQWlg.0",
        "X-Processing-Time": "173ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    },
[...]
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 20 Dec 2022 00:48:58 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1.bbeada43-b4bc-d38d-70d8-ad9d3bfc09f1.com": {
            "sipSignalingPort": 1122
          },
          "sbs2.bbeada43-b4bc-d38d-70d8-ad9d3bfc09f1.com": {
            "sipSignalingPort": 1123
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "YThXNrPtrk221HJK8nXJtw.0",
        "X-Processing-Time": "804ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1.bbeada43-b4bc-d38d-70d8-ad9d3bfc09f1.com": {
            "sipSignalingPort": 1122
          },
          "sbs2.bbeada43-b4bc-d38d-70d8-ad9d3bfc09f1.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": []
      }
    },
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 20 Dec 2022 00:48:59 GMT"
      },
      "RequestBody": {
        "routes": [
          {
            "description": "Handle numbers starting with \u0027\u002B123\u0027",
            "name": "First rule",
            "numberPattern": "\\\u002B123[0-9]\u002B",
            "trunks": [
              "sbs1.bbeada43-b4bc-d38d-70d8-ad9d3bfc09f1.com"
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Bq/T\u002B0xthUKNC0b5Z5xpSg.0",
        "X-Processing-Time": "156ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1.bbeada43-b4bc-d38d-70d8-ad9d3bfc09f1.com": {
            "sipSignalingPort": 1122
          },
          "sbs2.bbeada43-b4bc-d38d-70d8-ad9d3bfc09f1.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": [
          {
            "description": "Handle numbers starting with \u0027\u002B123\u0027",
            "name": "First rule",
            "numberPattern": "\\\u002B123[0-9]\u002B",
            "trunks": [
              "sbs1.bbeada43-b4bc-d38d-70d8-ad9d3bfc09f1.com"
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 20 Dec 2022 00:49:00 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1.bbeada43-b4bc-d38d-70d8-ad9d3bfc09f1.com": null,
          "sbs2.bbeada43-b4bc-d38d-70d8-ad9d3bfc09f1.com": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "dHWtLM5R4ESRnfSL2TAM0A.0",
        "X-Processing-Time": "251ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://jb-sdk-e2e-test.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1291301256"
  }
}
