{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Mar 2023 19:53:43 GMT"
      },
      "RequestBody": {
        "routes": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "5Sf7vJX2NkyyagVTKVl3Wg.0",
        "X-Processing-Time": "414ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Mar 2023 19:53:44 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1-b4885ce1-6df1-28e9-5b6d-812e2beed58e.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-b4885ce1-6df1-28e9-5b6d-812e2beed58e.testdomain.com": {
            "sipSignalingPort": 1123
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "R3FFQOEZskuKKx0BEeWlpw.0",
        "X-Processing-Time": "973ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1-b4885ce1-6df1-28e9-5b6d-812e2beed58e.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-b4885ce1-6df1-28e9-5b6d-812e2beed58e.testdomain.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": []
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Mar 2023 19:53:45 GMT"
      },
      "RequestBody": {
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Rule without trunks",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": []
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "15/GdH7Zd0\u002Bt\u002Bcmhfp2NSA.0",
        "X-Processing-Time": "400ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1-b4885ce1-6df1-28e9-5b6d-812e2beed58e.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-b4885ce1-6df1-28e9-5b6d-812e2beed58e.testdomain.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Rule without trunks",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": []
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Mar 2023 19:53:50 GMT"
      },
      "RequestBody": {
        "trunks": {
          "newsbs-b4885ce1-6df1-28e9-5b6d-812e2beed58e.testdomain.com": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "XVxM3k7u70OS7kI3N1g\u002BMw.0",
        "X-Processing-Time": "463ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    }
  ],
  "Variables": {
    "RandomSeed": "2106224445"
  }
}
