{
  "Entries": [
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 13 Dec 2022 01:40:06 GMT"
      },
      "RequestBody": {
        "routes": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "SE1OSYHKdEWwkuKuMeewrA.0",
        "X-Processing-Time": "95ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    },
[...]
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 13 Dec 2022 01:40:07 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1.f74d54f9-353d-23eb-29ac-a00430508b7d.com": {
            "sipSignalingPort": 1122
          },
          "sbs2.f74d54f9-353d-23eb-29ac-a00430508b7d.com": {
            "sipSignalingPort": 1123
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "FkIhRz9lDUi0FRrx1tgi9g.0",
        "X-Processing-Time": "336ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1.f74d54f9-353d-23eb-29ac-a00430508b7d.com": {
            "sipSignalingPort": 1122
          },
          "sbs2.f74d54f9-353d-23eb-29ac-a00430508b7d.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": []
      }
    },
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 13 Dec 2022 01:40:07 GMT"
      },
      "RequestBody": {
        "routes": [
          {
            "description": "Handle numbers starting with \u0027\u002B123\u0027",
            "name": "First rule",
            "numberPattern": "\\\u002B123[0-9]\u002B",
            "trunks": [
              "sbs1.f74d54f9-353d-23eb-29ac-a00430508b7d.com"
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "O7Zu3peDpkiZyBGZTx4YQg.0",
        "X-Processing-Time": "105ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1.f74d54f9-353d-23eb-29ac-a00430508b7d.com": {
            "sipSignalingPort": 1122
          },
          "sbs2.f74d54f9-353d-23eb-29ac-a00430508b7d.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": [
          {
            "description": "Handle numbers starting with \u0027\u002B123\u0027",
            "name": "First rule",
            "numberPattern": "\\\u002B123[0-9]\u002B",
            "trunks": [
              "sbs1.f74d54f9-353d-23eb-29ac-a00430508b7d.com"
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 13 Dec 2022 01:40:09 GMT"
      },
      "RequestBody": {
        "trunks": {
          "newsbs.f74d54f9-353d-23eb-29ac-a00430508b7d.com": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "nCV8KaKDm0SUz/OLFRdpzw.0",
        "X-Processing-Time": "125ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://jb-sdk-e2e-test.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1640124856"
  }
}
