{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "trunks": {
          "sbs1-9e2c865d-0f92-d43a-8c87-3c1e13e1f804.testdomain.com": {
            "sipSignalingPort": 5555
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ABE2y3Gwp0yzrHa81LCoRw.0",
        "X-Processing-Time": "1679ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1-9e2c865d-0f92-d43a-8c87-3c1e13e1f804.testdomain.com": {
            "sipSignalingPort": 5555
          }
        },
        "routes": []
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Mar 2023 19:53:54 GMT"
      },
      "RequestBody": {
        "routes": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "3gKbm\u002BTsDkqmGWdMQ1JafA.0",
        "X-Processing-Time": "368ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1-9e2c865d-0f92-d43a-8c87-3c1e13e1f804.testdomain.com": {
            "sipSignalingPort": 5555
          }
        },
        "routes": []
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Mar 2023 19:53:55 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1-9e2c865d-0f92-d43a-8c87-3c1e13e1f804.testdomain.com": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "JZ5mw3mciESxvzPDGz3vOA.0",
        "X-Processing-Time": "488ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    }
  ],
  "Variables": {
    "RandomSeed": "2094781962"
  }
}
