{
  "Entries": [
    {
      "RequestUri": "https://jannovak-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "trunks": {
          "sbs1.com": {
            "sipSignalingPort": 5555
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "9sLaDU4fBUK0G0sH9mJPhw.0",
        "X-Processing-Time": "414ms"
      },
      "ResponseBody": {
        "trunks": {
          "newsbs.com": {
            "sipSignalingPort": 3333
          },
          "sbs1.com": {
            "sipSignalingPort": 5555
          }
        },
        "routes": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://jannovak-test.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1900474114"
  }
}
