{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Mar 2023 14:23:05 GMT"
      },
      "RequestBody": {
        "routes": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ktWr9YjNs0OCTYljnv68Vw.0",
        "X-Processing-Time": "226ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Mar 2023 14:23:06 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1-f3de52a4-b77a-0c39-99e4-ec928a1b9cea.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-f3de52a4-b77a-0c39-99e4-ec928a1b9cea.testdomain.com": {
            "sipSignalingPort": 1123
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ajO0zAI2TUe2pPGsSGi0jA.0",
        "X-Processing-Time": "802ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1-f3de52a4-b77a-0c39-99e4-ec928a1b9cea.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-f3de52a4-b77a-0c39-99e4-ec928a1b9cea.testdomain.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": []
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Mar 2023 14:23:07 GMT"
      },
      "RequestBody": {
        "routes": [
          {
            "description": "Handle numbers starting with \u0027\u002B123\u0027",
            "name": "First rule",
            "numberPattern": "\\\u002B123[0-9]\u002B",
            "trunks": [
              "sbs1-f3de52a4-b77a-0c39-99e4-ec928a1b9cea.testdomain.com"
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "U66H\u002BDzBJUyKPzp/QdTf1g.0",
        "X-Processing-Time": "194ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1-f3de52a4-b77a-0c39-99e4-ec928a1b9cea.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-f3de52a4-b77a-0c39-99e4-ec928a1b9cea.testdomain.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": [
          {
            "description": "Handle numbers starting with \u0027\u002B123\u0027",
            "name": "First rule",
            "numberPattern": "\\\u002B123[0-9]\u002B",
            "trunks": [
              "sbs1-f3de52a4-b77a-0c39-99e4-ec928a1b9cea.testdomain.com"
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Mar 2023 14:23:09 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1-f3de52a4-b77a-0c39-99e4-ec928a1b9cea.testdomain.com": null,
          "sbs2-f3de52a4-b77a-0c39-99e4-ec928a1b9cea.testdomain.com": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "cuaQYFUAg0qg9Kj7Ff6xMQ.0",
        "X-Processing-Time": "327ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1316127610"
  }
}
