{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 09 Mar 2023 07:14:21 GMT"
      },
      "RequestBody": {
        "routes": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sBYkkr1nzkSfG7LG7ZhCeA.0",
        "X-Processing-Time": "315ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 09 Mar 2023 07:14:22 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1-92180a23-62bd-0b22-ebee-0ccdc96e402a.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-92180a23-62bd-0b22-ebee-0ccdc96e402a.testdomain.com": {
            "sipSignalingPort": 1123
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sXaXFh5zFEyCrKYRfVh6iQ.0",
        "X-Processing-Time": "1411ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1-92180a23-62bd-0b22-ebee-0ccdc96e402a.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-92180a23-62bd-0b22-ebee-0ccdc96e402a.testdomain.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": []
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 09 Mar 2023 07:14:24 GMT"
      },
      "RequestBody": {
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Rule without trunks",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": []
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "6tEm4\u002B3XyEuz\u002Bxb8iuEfTQ.0",
        "X-Processing-Time": "320ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1-92180a23-62bd-0b22-ebee-0ccdc96e402a.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-92180a23-62bd-0b22-ebee-0ccdc96e402a.testdomain.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Rule without trunks",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": []
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 09 Mar 2023 07:14:26 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1-92180a23-62bd-0b22-ebee-0ccdc96e402a.testdomain.com": null,
          "sbs2-92180a23-62bd-0b22-ebee-0ccdc96e402a.testdomain.com": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "oOtLTOqWeUmb873q8nnyjg.0",
        "X-Processing-Time": "400ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    }
  ],
  "Variables": {
    "RandomSeed": "456272608"
  }
}
