{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Feb 2023 14:54:30 GMT"
      },
      "RequestBody": {
        "routes": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "DYSgY5vOEEqr9aeV0GjrTg.0",
        "X-Processing-Time": "612ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Feb 2023 14:54:31 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1.ac4b5d3f-1690-6943-6b19-e31e6a42a421.com": {
            "sipSignalingPort": 1122
          },
          "sbs2.ac4b5d3f-1690-6943-6b19-e31e6a42a421.com": {
            "sipSignalingPort": 1123
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "HJscFxNmuUKOhnHGtBzVBw.0",
        "X-Processing-Time": "1119ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1.ac4b5d3f-1690-6943-6b19-e31e6a42a421.com": {
            "sipSignalingPort": 1122
          },
          "sbs2.ac4b5d3f-1690-6943-6b19-e31e6a42a421.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": []
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Feb 2023 14:54:32 GMT"
      },
      "RequestBody": {
        "routes": [
          {
            "description": "Handle numbers starting with \u0027\u002B123\u0027",
            "name": "First rule",
            "numberPattern": "\\\u002B123[0-9]\u002B",
            "trunks": [
              "sbs1.ac4b5d3f-1690-6943-6b19-e31e6a42a421.com"
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "KTNMLQKP\u002BkObhaf9Eht67g.0",
        "X-Processing-Time": "379ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1.ac4b5d3f-1690-6943-6b19-e31e6a42a421.com": {
            "sipSignalingPort": 1122
          },
          "sbs2.ac4b5d3f-1690-6943-6b19-e31e6a42a421.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": [
          {
            "description": "Handle numbers starting with \u0027\u002B123\u0027",
            "name": "First rule",
            "numberPattern": "\\\u002B123[0-9]\u002B",
            "trunks": [
              "sbs1.ac4b5d3f-1690-6943-6b19-e31e6a42a421.com"
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Feb 2023 14:54:34 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1.ac4b5d3f-1690-6943-6b19-e31e6a42a421.com": null,
          "sbs2.ac4b5d3f-1690-6943-6b19-e31e6a42a421.com": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "EKc3hYh6WkCQiGGnP5TUBQ.0",
        "X-Processing-Time": "395ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "844459899"
  }
}
