{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "trunks": {
          "sbs1.sipconfigtest.com": {
            "sipSignalingPort": 1122
          },
          "sbs2.sipconfigtest.com": {
            "sipSignalingPort": 1122
          }
        },
        "routes": [
          {
            "description": "Handle numbers starting with \u0027\u002B123\u0027",
            "name": "First rule",
            "numberPattern": "\\\u002B123[0-9]\u002B",
            "trunks": [
              "sbs1.sipconfigtest.com"
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Cleq1LvwMUWle4hpF38BvQ.0",
        "X-Processing-Time": "259ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1.sipconfigtest.com": {
            "sipSignalingPort": 1122
          },
          "sbs2.sipconfigtest.com": {
            "sipSignalingPort": 1122
          }
        },
        "routes": [
          {
            "description": "Handle numbers starting with \u0027\u002B123\u0027",
            "name": "First rule",
            "numberPattern": "\\\u002B123[0-9]\u002B",
            "trunks": [
              "sbs1.sipconfigtest.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "TAuJGYVONkKsSKJ\u002Be7O0vw.0",
        "X-Processing-Time": "87ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1.sipconfigtest.com": {
            "sipSignalingPort": 1122
          },
          "sbs2.sipconfigtest.com": {
            "sipSignalingPort": 1122
          }
        },
        "routes": [
          {
            "description": "Handle numbers starting with \u0027\u002B123\u0027",
            "name": "First rule",
            "numberPattern": "\\\u002B123[0-9]\u002B",
            "trunks": [
              "sbs1.sipconfigtest.com"
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://e2e_test.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "183288734"
  }
}