{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-1419/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-3742/cassandraKeyspaces/cassandra-keyspace-2320?api-version=2022-05-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11933"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-1419/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-3742/cassandraKeyspaces/cassandra-keyspace-2320",
        "type": "Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces",
        "name": "cassandra-keyspace-2320",
        "properties": {
          "resource": {
            "id": "cassandra-keyspace-2320",
            "_rid": "3vAcAA==",
            "_etag": "\u002200009301-0000-0700-0000-62c56f6f0000\u0022",
            "_ts": 1657106287
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-1419/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-3742/cassandraKeyspaces/cassandra-keyspace-2320/tables/cassandra-table-714?api-version=2022-05-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus",
        "properties": {
          "resource": {
            "id": "cassandra-table-714",
            "schema": {
              "columns": [
                {
                  "name": "columnA",
                  "type": "int"
                },
                {
                  "name": "columnB",
                  "type": "ascii"
                }
              ],
              "partitionKeys": [
                {
                  "name": "columnA"
                }
              ],
              "clusterKeys": [
                {
                  "name": "columnB",
                  "orderBy": "Asc"
                }
              ]
            }
          },
          "options": {
            "throughput": 700
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/44b33ce5-a6a1-4a0f-90df-0bad3130ba85?api-version=2022-05-15",
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-1419/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-3742/cassandraKeyspaces/cassandra-keyspace-2320/tables/cassandra-table-714/operationResults/44b33ce5-a6a1-4a0f-90df-0bad3130ba85?api-version=2022-05-15",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/44b33ce5-a6a1-4a0f-90df-0bad3130ba85?api-version=2022-05-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11932"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-1419/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-3742/cassandraKeyspaces/cassandra-keyspace-2320/tables/cassandra-table-714?api-version=2022-05-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11926"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-1419/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-3742/cassandraKeyspaces/cassandra-keyspace-2320/tables/cassandra-table-714",
        "type": "Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces/tables",
        "name": "cassandra-table-714",
        "properties": {
          "resource": {
            "id": "cassandra-table-714",
            "_rid": "3vAcAPte0So=",
            "_etag": "\u00220000a901-0000-0700-0000-62c56feb0000\u0022",
            "_ts": 1657106411,
            "defaultTtl": 0,
            "schema": {
              "columns": [
                {
                  "name": "columnA",
                  "type": "int"
                },
                {
                  "name": "columnB",
                  "type": "ascii"
                }
              ],
              "partitionKeys": [
                {
                  "name": "columnA"
                }
              ],
              "clusterKeys": [
                {
                  "name": "columnB",
                  "orderBy": "Asc"
                }
              ]
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-1419/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-3742/cassandraKeyspaces/cassandra-keyspace-2320/tables/cassandra-table-714/throughputSettings/default?api-version=2022-05-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11925"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-1419/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-3742/cassandraKeyspaces/cassandra-keyspace-2320/tables/cassandra-table-714/throughputSettings/default",
        "type": "Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces/tables/throughputSettings",
        "name": "A-A9",
        "properties": {
          "resource": {
            "throughput": 700,
            "minimumThroughput": "400"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/2168d674-07a2-4757-b1a2-fd0c53255017?api-version=2022-05-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11911"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1419778222",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
