{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-92bfbfd6-561c-b206-be04-eae9f857e9c3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:59:29 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF1DF03CCB\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:59:28 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-92bfbfd6-561c-b206-be04-eae9f857e9c3/test-blob-1d26ccd6-ab74-1512-945a-fa5d745ceff2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Sat, 22 Apr 2023 06:59:29 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF1DFB10A2\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:59:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:59:29.0143906Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-92bfbfd6-561c-b206-be04-eae9f857e9c3/test-blob-1d26ccd6-ab74-1512-945a-fa5d745ceff2?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Sat, 22 Apr 2023 06:59:29 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "jovGyqGtI4AMgakJG5XTafVfA6CI\u002BE6L9HyLklcVuWz8mu61ZJr5rLBT6SIEN8WXg5S0jAPNbZU9OtYkIZEp98g8DYGnHQVaZlfvNQ8rhr229A7CYSxpLyxZeCnD1IofKvJaxylE8GWPWSas3TiFErQZbi2CZpWb091UTaXbl5HM0Aod0b\u002BTcQSoMwcGvVLz02V1qWVdnMRcvvRM76LAtMKU3wwtaEH0hv0o2jKOlBaLYXk/Ze0rbjNGwBLKR4Fh6H9Fcd1FxWokgCNoNMKRzSnewI4ogE7UaHHZ56gvKj97x/KzSSM4RZsOG\u002BTKwzlwtfLo7IbyOGgwcA[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-92bfbfd6-561c-b206-be04-eae9f857e9c3/test-blob-1d26ccd6-ab74-1512-945a-fa5d745ceff2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:59:29 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF1E03E8F7\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:59:29 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 06:59:29 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:59:29.0143906Z"
      },
      "ResponseBody": "jovGyqGtI4AMgakJG5XTafVfA6CI\u002BE6L9HyLklcVuWz8mu61ZJr5rLBT6SIEN8WXg5S0jAPNbZU9OtYkIZEp98g8DYGnHQVaZlfvNQ8rhr229A7CYSxpLyxZeCnD1IofKvJaxylE8GWPWSas3TiFErQZbi2CZpWb091UTaXbl5HM0Aod0b\u002BTcQSoMwcGvVLz02V1qWVdnMRcvvRM76LAtMKU3wwtaEH0hv0o2jKOlBaLYXk/Ze0rbjNGwBLKR4Fh6H9Fcd1FxWokgCNoNMKRzSnewI4ogE7UaHHZ56gvKj97x/KzSSM4RZsOG\u002BTKwzlwtfLo7IbyOGgwcAhsa97C9Vbj7G3Q[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-92bfbfd6-561c-b206-be04-eae9f857e9c3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:59:29 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1489372627",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
