{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8df3af0c-9e87-7f71-8ad8-da04f2d3707a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:12 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF37E306A8\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:12 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8df3af0c-9e87-7f71-8ad8-da04f2d3707a/test-blob-65ad6173-3d63-0beb-f82a-16eb9249b140",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:12 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF37EC2916\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:00:12.5374742Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8df3af0c-9e87-7f71-8ad8-da04f2d3707a/test-blob-65ad6173-3d63-0beb-f82a-16eb9249b140?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:12 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "XTgD2/oCinPYupqU0tCEHXfcrcGURaQ\u002B/72xmofCB1rXAr1N19c/O0ZBk\u002BH/p7LakVpPD8M20xiTxNs8UO/rFrNAvM8TNkafnXJ7UrHDP1gL1ggtcveWoS\u002BkuhL8AupWVX0tv\u002Bvix1sTr3JRuoBm0IWDMXrnvqO7qRqgbnwzo5qHJPwzlX9sKQ\u002BtGcOFReauPemNeNFwb5fZchbQQVne4AvXyZaEMzoFFghqOaXgNmMz8jCTpivJF7VlWiNpnOe1zjm3rXxQKgquh2LJBTXy\u002BTuynU8oSzngDrHgHtgXm3ogtGprKIjn48gl5B/IABJ[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8df3af0c-9e87-7f71-8ad8-da04f2d3707a/test-blob-65ad6173-3d63-0beb-f82a-16eb9249b140",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:12 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF37F5EBAB\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:12 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 07:00:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:00:12.5374742Z"
      },
      "ResponseBody": "XTgD2/oCinPYupqU0tCEHXfcrcGURaQ\u002B/72xmofCB1rXAr1N19c/O0ZBk\u002BH/p7LakVpPD8M20xiTxNs8UO/rFrNAvM8TNkafnXJ7UrHDP1gL1ggtcveWoS\u002BkuhL8AupWVX0tv\u002Bvix1sTr3JRuoBm0IWDMXrnvqO7qRqgbnwzo5qHJPwzlX9sKQ\u002BtGcOFReauPemNeNFwb5fZchbQQVne4AvXyZaEMzoFFghqOaXgNmMz8jCTpivJF7VlWiNpnOe1zjm3rXxQKgquh2LJBTXy\u002BTuynU8oSzngDrHgHtgXm3ogtGprKIjn48gl5B/IABJ/c2Dot/\u002BX[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8df3af0c-9e87-7f71-8ad8-da04f2d3707a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:13 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "93678932",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
