{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1213b500-1b59-7dc3-5d56-a834249a8d1b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:59:03 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF0EAEB2A0\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:59:03 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1213b500-1b59-7dc3-5d56-a834249a8d1b/test-blob-d7142858-84aa-9e6a-67a6-ea452da6b53c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Sat, 22 Apr 2023 06:59:03 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF0EB9867C\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:59:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:59:03.4190460Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1213b500-1b59-7dc3-5d56-a834249a8d1b/test-blob-d7142858-84aa-9e6a-67a6-ea452da6b53c?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Sat, 22 Apr 2023 06:59:03 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "7hCntrTfCuqEuT6imiXM11ogU1N7Hu8p\u002B1dpFnvPw9kEKDngCp7QNk5lyDpG\u002BX2075ZNLDW8h9AhfrtcdfNvtfZknXLr6828Tx0EFlW14gHZtSfkgpakR6Fpv4vjdMBb9hND4VwLyAPJkdwXt3B6a5u6g8DLijJfwFbQgixB2NtcqR9CcQGlzewkG/C5jI8w7lPwKfAAj2vg4yEFO0bXiLgBuw5RN/qaFLXTp29BpjTGoJPYUa/qWxq0Yo3gn5KmTJM4uNCB37dZVRQ7LOf7nj3sP5qy/jYJFl/0nNVsunUiLVrcCe1jRMDcfvuary8yuMNQ82D49E5cLqJwjUL[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1213b500-1b59-7dc3-5d56-a834249a8d1b/test-blob-d7142858-84aa-9e6a-67a6-ea452da6b53c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:59:03 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF0EC237CE\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:59:03 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 06:59:03 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:59:03.4190460Z"
      },
      "ResponseBody": "7hCntrTfCuqEuT6imiXM11ogU1N7Hu8p\u002B1dpFnvPw9kEKDngCp7QNk5lyDpG\u002BX2075ZNLDW8h9AhfrtcdfNvtfZknXLr6828Tx0EFlW14gHZtSfkgpakR6Fpv4vjdMBb9hND4VwLyAPJkdwXt3B6a5u6g8DLijJfwFbQgixB2NtcqR9CcQGlzewkG/C5jI8w7lPwKfAAj2vg4yEFO0bXiLgBuw5RN/qaFLXTp29BpjTGoJPYUa/qWxq0Yo3gn5KmTJM4uNCB37dZVRQ7LOf7nj3sP5qy/jYJFl/0nNVsunUiLVrcCe1jRMDcfvuary8yuMNQ82D49E5cLqJwjULh7ZufGf6NH5RPi[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1213b500-1b59-7dc3-5d56-a834249a8d1b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:59:03 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1835333848",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
