{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-02883315-4cd6-aa7b-f068-cab0282c88eb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:16:58 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC96F8221070\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:16:59 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-02883315-4cd6-aa7b-f068-cab0282c88eb/test-blob-37c92beb-6697-8016-ae5a-534e28064103",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Dec 2022 23:16:58 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC96F82C3349\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:16:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:16:59.3197897Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-02883315-4cd6-aa7b-f068-cab0282c88eb/test-blob-37c92beb-6697-8016-ae5a-534e28064103?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Dec 2022 23:16:58 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "nw25IcgBELP6s07saGCwULxk2iGLfTU7L1iE\u002BJkAxGmfXNf3\u002BZWSCDvQ2/q5eROPSH0ArWe6zCLYfvFvfBca\u002Be/lTAuIuVcn0dHmuqE7gbZE9K8bABcB5Y\u002B1HnujIosjtuEL1CwHB48m2NuV1BGBnPw7K4dn/vnX5Gd805rbg69FwgO/L62JPe0g9Cc8axF9NIJ/aPcEu7joM\u002B/EizP1S1UrUBEOwW1Ose2ZRwnSm3hW/p8YXBu4QQdL1/y9xLG6K6nSEBsAb3IUMLYJanOuFZh3bo2U3O85cw4JwulwkOw83xxgAIpdVY4sAytlr9aTnMFj[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-02883315-4cd6-aa7b-f068-cab0282c88eb/test-blob-37c92beb-6697-8016-ae5a-534e28064103",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:16:59 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC96F835CEDC\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:16:59 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 23:16:59 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:16:59.3197897Z"
      },
      "ResponseBody": "nw25IcgBELP6s07saGCwULxk2iGLfTU7L1iE\u002BJkAxGmfXNf3\u002BZWSCDvQ2/q5eROPSH0ArWe6zCLYfvFvfBca\u002Be/lTAuIuVcn0dHmuqE7gbZE9K8bABcB5Y\u002B1HnujIosjtuEL1CwHB48m2NuV1BGBnPw7K4dn/vnX5Gd805rbg69FwgO/L62JPe0g9Cc8axF9NIJ/aPcEu7joM\u002B/EizP1S1UrUBEOwW1Ose2ZRwnSm3hW/p8YXBu4QQdL1/y9xLG6K6nSEBsAb3IUMLYJanOuFZh3bo2U3O85cw4JwulwkOw83xxgAIpdVY4sAytlr9aTnMFjRlYkJU66mJ0M9q[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-02883315-4cd6-aa7b-f068-cab0282c88eb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:16:59 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1033792635",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
