{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1bdc981e-1153-f34b-74e0-4eb1ca25657c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:53 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC985B2C2AB0\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:26:54 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1bdc981e-1153-f34b-74e0-4eb1ca25657c/test-blob-965cbc06-fd17-0395-06d0-91b105ef5629",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:54 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC985B35D99A\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:26:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:26:54.9741978Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1bdc981e-1153-f34b-74e0-4eb1ca25657c/test-blob-965cbc06-fd17-0395-06d0-91b105ef5629?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:54 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "l/c1L9pVLZQBXcJkLWRoC0h7ZwoxuX7N2MN1GdP0MUS/UcnSKiusIVtP1lS8F9BXoBChglCmbd54Z1YX3xTADCx9pNybluEczkau4uIpEMHyHXnDU670GeTqWsLVlUFHjskoP3L0uwouhLMJ\u002BIr7T1aVJMKa/bl\u002BiIv3sDseRzkFZlQZAdFO/WFulM/66iBZ7wpsQHB/rZAQqbbm/AvOEDx6BJE24k2FRidgK2nphJ5qnsExsgfJhbnDCFcbaABWoISSf\u002BWPIwy85/lJHoEnJiUXfF5JnV01sH7Yctn2ad4mCYvlVwS423u1dMsNgGc4nOIxA\u002ByiD[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1bdc981e-1153-f34b-74e0-4eb1ca25657c/test-blob-965cbc06-fd17-0395-06d0-91b105ef5629",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:54 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC985B3FC33D\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:26:55 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 23:26:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:26:54.9741978Z"
      },
      "ResponseBody": "l/c1L9pVLZQBXcJkLWRoC0h7ZwoxuX7N2MN1GdP0MUS/UcnSKiusIVtP1lS8F9BXoBChglCmbd54Z1YX3xTADCx9pNybluEczkau4uIpEMHyHXnDU670GeTqWsLVlUFHjskoP3L0uwouhLMJ\u002BIr7T1aVJMKa/bl\u002BiIv3sDseRzkFZlQZAdFO/WFulM/66iBZ7wpsQHB/rZAQqbbm/AvOEDx6BJE24k2FRidgK2nphJ5qnsExsgfJhbnDCFcbaABWoISSf\u002BWPIwy85/lJHoEnJiUXfF5JnV01sH7Yctn2ad4mCYvlVwS423u1dMsNgGc4nOIxA\u002ByiDQImXc9mtrAzxn0[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1bdc981e-1153-f34b-74e0-4eb1ca25657c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:54 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1979295520",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
