{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-544b1ba3-7f8c-4ce1-5666-dbd554b47274?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:38 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC9851BA6D4E\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:26:39 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-544b1ba3-7f8c-4ce1-5666-dbd554b47274/test-blob-4343b637-e491-3b65-63e0-bc63396354a8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:38 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC9851C6B079\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:26:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:26:39.1462009Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-544b1ba3-7f8c-4ce1-5666-dbd554b47274/test-blob-4343b637-e491-3b65-63e0-bc63396354a8?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:38 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "qyl38riaNbHkDNL1wRdYEZ5o62GTMTP7muDPFK3Op/XeNCrTuSDeKPQ0JayeyiXZUtMTlJYWzHn2e1jXyiADFmTcF43thFd\u002BisJsXgyGXc\u002B79sLZuxNfyGew3T7IBl3TMQ5IwbOY6818lArTqW5tcB2IG9ReKVtRfU4lPacZtoNkmS39PpwcIwr0XSYIix/5Q2wgP\u002BuJdQez9kRlcq4mY96Gbw9AbzGBbPfJacw0SPIvK/k6\u002BHaX2iMmSkdXtrBbzvpIgRwPudQ7ntPzvww6fq5SNUe07Gpn7pTrGiXqKbVGbpvR7MbVH3Il/lmipBsX68uZBYBpp[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-544b1ba3-7f8c-4ce1-5666-dbd554b47274/test-blob-4343b637-e491-3b65-63e0-bc63396354a8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:38 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC9851D24788\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:26:39 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 23:26:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:26:39.1462009Z"
      },
      "ResponseBody": "qyl38riaNbHkDNL1wRdYEZ5o62GTMTP7muDPFK3Op/XeNCrTuSDeKPQ0JayeyiXZUtMTlJYWzHn2e1jXyiADFmTcF43thFd\u002BisJsXgyGXc\u002B79sLZuxNfyGew3T7IBl3TMQ5IwbOY6818lArTqW5tcB2IG9ReKVtRfU4lPacZtoNkmS39PpwcIwr0XSYIix/5Q2wgP\u002BuJdQez9kRlcq4mY96Gbw9AbzGBbPfJacw0SPIvK/k6\u002BHaX2iMmSkdXtrBbzvpIgRwPudQ7ntPzvww6fq5SNUe07Gpn7pTrGiXqKbVGbpvR7MbVH3Il/lmipBsX68uZBYBpp\u002BGQ4JKII5[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-544b1ba3-7f8c-4ce1-5666-dbd554b47274?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:38 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1768386165",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
