{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-930ba931-9dd0-19f0-db7e-31b143f2befb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:35 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC985030D2DD\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:26:36 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-930ba931-9dd0-19f0-db7e-31b143f2befb/test-blob-cb222554-0d5f-0a7e-273c-3197fdb5cc2b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:35 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC98503DB1A7\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:26:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:26:36.5706663Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-930ba931-9dd0-19f0-db7e-31b143f2befb/test-blob-cb222554-0d5f-0a7e-273c-3197fdb5cc2b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:35 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "mBF2I3exxw4zqAkk\u002BrNrngPz6cwuXA5wui5PEDM8q84DjRmwiiP9sH0WLe0XadnzGC9eQjCaezwDBmhJYrba9/07IW2ZuxTf9TlOGC8hWFBVXPgD3WidaBHdrYO6tE3GOzXv3EhsWV0bfk33TGIN4a4Y8wa\u002B1xmVnbhbvA2QJEDsh9z5MXsH6QKb518aphyu0MvVosFGCGMcWj\u002BQEZxPi1kNC8SGE7AyEQoDI/C6e/ebrOxCuoJ\u002BpX953dY8dtdmTFwFDJpXKLwaopG2QuRzYd9I9WSwDNDWjmVFDTXZ9poyndeTtG5cQ4MvJxfxyGOaBXv39IFyt[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-930ba931-9dd0-19f0-db7e-31b143f2befb/test-blob-cb222554-0d5f-0a7e-273c-3197fdb5cc2b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:35 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC9850488585\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:26:36 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 23:26:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:26:36.5706663Z"
      },
      "ResponseBody": "mBF2I3exxw4zqAkk\u002BrNrngPz6cwuXA5wui5PEDM8q84DjRmwiiP9sH0WLe0XadnzGC9eQjCaezwDBmhJYrba9/07IW2ZuxTf9TlOGC8hWFBVXPgD3WidaBHdrYO6tE3GOzXv3EhsWV0bfk33TGIN4a4Y8wa\u002B1xmVnbhbvA2QJEDsh9z5MXsH6QKb518aphyu0MvVosFGCGMcWj\u002BQEZxPi1kNC8SGE7AyEQoDI/C6e/ebrOxCuoJ\u002BpX953dY8dtdmTFwFDJpXKLwaopG2QuRzYd9I9WSwDNDWjmVFDTXZ9poyndeTtG5cQ4MvJxfxyGOaBXv39IFytT\u002BLL301Eh[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-930ba931-9dd0-19f0-db7e-31b143f2befb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:35 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2121378220",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
