{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-47c1e303-2bcb-c37b-c292-880fb77f17e9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:59:03 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF0E7E5AEC\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:59:03 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-47c1e303-2bcb-c37b-c292-880fb77f17e9/test-blob-f31b4022-d170-fa73-0d95-b684d3cbf81a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Sat, 22 Apr 2023 06:59:03 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF0E87CF61\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:59:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:59:03.0942315Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-47c1e303-2bcb-c37b-c292-880fb77f17e9/test-blob-f31b4022-d170-fa73-0d95-b684d3cbf81a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Sat, 22 Apr 2023 06:59:03 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "oUorWPjc9rHWOgzyxF5JW2BctImtB8uMigFehPOHN6srYoYjMVM8z4iFspvcNIHRnraQqVbEVZl\u002Bn873fXK9TwNgxmHXJSkMH\u002BQAKFQwr1WAjeY8945UZw3spZKERFIWx2OYe20f\u002BXiNg4lxwy1FTfB5d/CMgVd0C15U64CXh9uS6mHxmDPnYJRtr3QE46Tgp1ehC81hikULI28Oyg739vuu3tnLU7W8kRZcHtHicCi6dEMp9XwNMV8b5nXD2ZaFdbl5VgTKFFSi5Xq2BWxzKLNHU1bKzgB\u002BoK16sG0/\u002BLiA1qgYaRkk8F/vhhABVyvzp73C[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-47c1e303-2bcb-c37b-c292-880fb77f17e9/test-blob-f31b4022-d170-fa73-0d95-b684d3cbf81a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:59:03 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF0E90CEC2\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:59:03 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 06:59:03 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:59:03.0942315Z"
      },
      "ResponseBody": "oUorWPjc9rHWOgzyxF5JW2BctImtB8uMigFehPOHN6srYoYjMVM8z4iFspvcNIHRnraQqVbEVZl\u002Bn873fXK9TwNgxmHXJSkMH\u002BQAKFQwr1WAjeY8945UZw3spZKERFIWx2OYe20f\u002BXiNg4lxwy1FTfB5d/CMgVd0C15U64CXh9uS6mHxmDPnYJRtr3QE46Tgp1ehC81hikULI28Oyg739vuu3tnLU7W8kRZcHtHicCi6dEMp9XwNMV8b5nXD2ZaFdbl5VgTKFFSi5Xq2BWxzKLNHU1bKzgB\u002BoK16sG0/\u002BLiA1qgYaRkk8F/vhhABVyvzp73CfIU/uqe4\u002B[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-47c1e303-2bcb-c37b-c292-880fb77f17e9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:59:03 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1618692133",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
