{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8332d5c4-78d0-d7c4-311d-fecee9cef40e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:44:12 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC14A9E7192F\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:44:13 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8332d5c4-78d0-d7c4-311d-fecee9cef40e/test-blob-2f78f6ab-45ba-5fe4-1172-a3889e61747d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Dec 2022 07:44:12 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC14A9F14D98\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:44:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T07:44:13.4966680Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8332d5c4-78d0-d7c4-311d-fecee9cef40e/test-blob-2f78f6ab-45ba-5fe4-1172-a3889e61747d?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Dec 2022 07:44:12 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "K9XuQ/4dlFDt3Hf6GExMNQZljBOpB0ED2sBZBNN22j4ceGw97Sk/3vdnf19\u002BOsuIaFKMW\u002B2QCyST6mg9w499dgI43Z/gD0fcJa0bQofihaD00JuA6n9Ri21HqQLAAhtn6QhcRVwsqFkKrzU/dMicsWXISPL0/IyC51EymGVEHCOStFh\u002BhT9DyChBdTtKERekq/id97kocux82l0K\u002BQ/zxZIRrcBvHSslhX/KsoZRONY6je1tpyRqaUFsAqvhOM4YTrCoOGNXNY3Md3I5Xb9lKqGH0GwhhR5up0N\u002BAxuAQ0ywsWTWqf9y41hgoS\u002BxMAy[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8332d5c4-78d0-d7c4-311d-fecee9cef40e/test-blob-2f78f6ab-45ba-5fe4-1172-a3889e61747d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:44:13 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC14A9FBD36B\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:44:13 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 07:44:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T07:44:13.4966680Z"
      },
      "ResponseBody": "K9XuQ/4dlFDt3Hf6GExMNQZljBOpB0ED2sBZBNN22j4ceGw97Sk/3vdnf19\u002BOsuIaFKMW\u002B2QCyST6mg9w499dgI43Z/gD0fcJa0bQofihaD00JuA6n9Ri21HqQLAAhtn6QhcRVwsqFkKrzU/dMicsWXISPL0/IyC51EymGVEHCOStFh\u002BhT9DyChBdTtKERekq/id97kocux82l0K\u002BQ/zxZIRrcBvHSslhX/KsoZRONY6je1tpyRqaUFsAqvhOM4YTrCoOGNXNY3Md3I5Xb9lKqGH0GwhhR5up0N\u002BAxuAQ0ywsWTWqf9y41hgoS\u002BxMAyBBtgJWmhi9siRO[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8332d5c4-78d0-d7c4-311d-fecee9cef40e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:44:13 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "749929376",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
