{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-de922663-385d-2af1-3191-34c4253b8fc9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:44:46 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC14BE1CF4E2\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:44:47 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-de922663-385d-2af1-3191-34c4253b8fc9/test-blob-05cbade7-6a60-5903-98fa-60302fe188fe",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Dec 2022 07:44:46 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC14BE2672E6\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:44:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T07:44:47.3993958Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-de922663-385d-2af1-3191-34c4253b8fc9/test-blob-05cbade7-6a60-5903-98fa-60302fe188fe?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Dec 2022 07:44:46 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "HGn3joSoaR5jTvmM3KQngA5vqEJYmV9mAiUYQGFQogZ1ZBJLL/HtuiNewZol42t8NbL5Q7l5iIIKkYxekCm9EqzzF3iS21Acge0f\u002BtjEQB66mwquV15N\u002B9yPQZ1ljir5oa7uMszy6Vli3MHMWo6qRlFto/QeD7tNphycA5qyt/LCJVgq1Q1SyLGxS3qcgKBO5fpM\u002BOs225LyoIywVua/ryXOCTU1f3BEGttCbcNBsCV7Th2fZr8HjErGNzSBonHL8pxVzXdrGGWJCN0Q9G7PsfBmNAjIH0hmx33qbkc8wnhpd3om6\u002BKtDzW4FV7h95jc94ZEGm1pA[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-de922663-385d-2af1-3191-34c4253b8fc9/test-blob-05cbade7-6a60-5903-98fa-60302fe188fe",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:44:46 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC14BE30D1AC\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:44:47 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 07:44:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T07:44:47.3993958Z"
      },
      "ResponseBody": "HGn3joSoaR5jTvmM3KQngA5vqEJYmV9mAiUYQGFQogZ1ZBJLL/HtuiNewZol42t8NbL5Q7l5iIIKkYxekCm9EqzzF3iS21Acge0f\u002BtjEQB66mwquV15N\u002B9yPQZ1ljir5oa7uMszy6Vli3MHMWo6qRlFto/QeD7tNphycA5qyt/LCJVgq1Q1SyLGxS3qcgKBO5fpM\u002BOs225LyoIywVua/ryXOCTU1f3BEGttCbcNBsCV7Th2fZr8HjErGNzSBonHL8pxVzXdrGGWJCN0Q9G7PsfBmNAjIH0hmx33qbkc8wnhpd3om6\u002BKtDzW4FV7h95jc94ZEGm1pAtNT7gb6gaoeTUV[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-de922663-385d-2af1-3191-34c4253b8fc9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:44:46 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "252967410",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
