{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-61701e4b-8398-95af-39ff-153eb7b5426a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Apr 2023 19:36:31 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB481FDF0906CE\u0022",
        "Last-Modified": "Fri, 28 Apr 2023 19:36:32 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-61701e4b-8398-95af-39ff-153eb7b5426a/test-blob-471aa001-c7fd-d2ec-cc88-20a9673e46d4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 28 Apr 2023 19:36:32 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB481FDF15BE2B\u0022",
        "Last-Modified": "Fri, 28 Apr 2023 19:36:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-28T19:36:32.6987307Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-61701e4b-8398-95af-39ff-153eb7b5426a/test-blob-471aa001-c7fd-d2ec-cc88-20a9673e46d4?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 28 Apr 2023 19:36:32 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "O8NiJd9A5sL9GeOvA/uuWFUKWZ4Apqx\u002B/ioQ2L\u002BaysoxxH1HM9eWsnZ0IrTn\u002BVbsv0UJTZp5cJQX5Ca1Lw0CYk8ZfT9\u002BZyV\u002BdKcni4T3lgXTJBl6kH0vuFPpL06w4YJpcb9lznsXblgfi9nzUeQQH04h4QvziNLS6sXrlDfWzpMkvhnEkseJvLXBWgWjO2dv2Q8Ajv93dentk\u002BS1LNkgSb1Gz5LKS42GlyVVMi7MLq5efLso1T\u002BTrUkw1//i1JDboBBIXWzUpI2CevfZIUK6IGQ2V68e\u002BHN\u002BsiFJmnONo8OVeZEe[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-61701e4b-8398-95af-39ff-153eb7b5426a/test-blob-471aa001-c7fd-d2ec-cc88-20a9673e46d4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Apr 2023 19:36:32 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB481FDF254C4E\u0022",
        "Last-Modified": "Fri, 28 Apr 2023 19:36:32 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 28 Apr 2023 19:36:32 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-28T19:36:32.6987307Z"
      },
      "ResponseBody": "O8NiJd9A5sL9GeOvA/uuWFUKWZ4Apqx\u002B/ioQ2L\u002BaysoxxH1HM9eWsnZ0IrTn\u002BVbsv0UJTZp5cJQX5Ca1Lw0CYk8ZfT9\u002BZyV\u002BdKcni4T3lgXTJBl6kH0vuFPpL06w4YJpcb9lznsXblgfi9nzUeQQH04h4QvziNLS6sXrlDfWzpMkvhnEkseJvLXBWgWjO2dv2Q8Ajv93dentk\u002BS1LNkgSb1Gz5LKS42GlyVVMi7MLq5efLso1T\u002BTrUkw1//i1JDboBBIXWzUpI2CevfZIUK6IGQ2V68e\u002BHN\u002BsiFJmnONo8OVeZEehNFBitctpVtIuo[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-61701e4b-8398-95af-39ff-153eb7b5426a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Apr 2023 19:36:33 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1846253500",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
