{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d74b12ae-4d12-895b-dfc7-5e5ea80d591c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:59:28 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF1D89C1CB\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:59:28 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d74b12ae-4d12-895b-dfc7-5e5ea80d591c/test-blob-cf8e5930-31e5-2b41-3397-038e5b7b93f4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Sat, 22 Apr 2023 06:59:28 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF1D97545C\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:59:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:59:28.3607644Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d74b12ae-4d12-895b-dfc7-5e5ea80d591c/test-blob-cf8e5930-31e5-2b41-3397-038e5b7b93f4?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Sat, 22 Apr 2023 06:59:28 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "gqW56cxGkjgKfGMkoej3Ysvch3ZKxbqiJIlqvum5o1XHl9uBxFhBgGNlxDZ2jPeUIzeuUs11Ar3qFsVD3NNPUdkOXQkNdZ5zmgcS5AGELJiS1puxC1GIUZQdlq2T/qSQFnJdaC7th62YOrfFYh28ZukssQY3nUaIhQt1797w35tjgs6OJsRppE/uGNCZwu53YTDDZk2eWXgs1OIjeJfOqFscYuBPLj8lwwy3SIR178Mc/Y6uLXlNxSlVYVHhRiu4IHB1fGAOJzPwnaJB5xDztuUfBnoIH3rhzpy3\u002BcztQ33h/igTAHJiDtZbvY/WDN4YYapswj\u002BwrwD1k63DVi1[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d74b12ae-4d12-895b-dfc7-5e5ea80d591c/test-blob-cf8e5930-31e5-2b41-3397-038e5b7b93f4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:59:28 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF1DA02CBE\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:59:28 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 06:59:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:59:28.3607644Z"
      },
      "ResponseBody": "gqW56cxGkjgKfGMkoej3Ysvch3ZKxbqiJIlqvum5o1XHl9uBxFhBgGNlxDZ2jPeUIzeuUs11Ar3qFsVD3NNPUdkOXQkNdZ5zmgcS5AGELJiS1puxC1GIUZQdlq2T/qSQFnJdaC7th62YOrfFYh28ZukssQY3nUaIhQt1797w35tjgs6OJsRppE/uGNCZwu53YTDDZk2eWXgs1OIjeJfOqFscYuBPLj8lwwy3SIR178Mc/Y6uLXlNxSlVYVHhRiu4IHB1fGAOJzPwnaJB5xDztuUfBnoIH3rhzpy3\u002BcztQ33h/igTAHJiDtZbvY/WDN4YYapswj\u002BwrwD1k63DVi1nAlolX\u002Bjn[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d74b12ae-4d12-895b-dfc7-5e5ea80d591c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:59:28 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1977525569",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
