{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-eff31a75-adac-bcb9-5938-c3a7ad963c66?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:44:58 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC14C4F4BAEB\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:44:58 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-eff31a75-adac-bcb9-5938-c3a7ad963c66/test-blob-a7be20f9-c5e0-76fc-fce2-125b3ca1084f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Dec 2022 07:44:58 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC14C4FF251F\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:44:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T07:44:58.8858655Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-eff31a75-adac-bcb9-5938-c3a7ad963c66/test-blob-a7be20f9-c5e0-76fc-fce2-125b3ca1084f?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Dec 2022 07:44:58 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "CyMrJRH7iwnrB8FZWaPqeJjq002DdQRLXmPozZ/mb4u9VUxoWCQWjGMUp0Rg6OVAPti1XYZ7k5Yf38euE75pBZc2nARXgR9000fpb86/6nV9p47HMBIEQcK2SXhdaHmlqqKtKUvh6b24QYo/kSPHX/RRMGsvotSFMltCoTinFmrORMQsEsAqnL7RDu\u002BHxa\u002Be7uqECzcNdQjNKPfwn0iEESofcExfm00zJ5OsXpPk/Wyro7JNIwozwM\u002B8XunJOf12TP3EaFRiPlKcUOSkYBd06CuLRPuVN\u002B4g7LB9ozxjau2WNhGWIJQXSGRgsdImjl\u002B4R3W\[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-eff31a75-adac-bcb9-5938-c3a7ad963c66/test-blob-a7be20f9-c5e0-76fc-fce2-125b3ca1084f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:44:58 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC14C5095CD9\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:44:58 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 07:44:58 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T07:44:58.8858655Z"
      },
      "ResponseBody": "CyMrJRH7iwnrB8FZWaPqeJjq002DdQRLXmPozZ/mb4u9VUxoWCQWjGMUp0Rg6OVAPti1XYZ7k5Yf38euE75pBZc2nARXgR9000fpb86/6nV9p47HMBIEQcK2SXhdaHmlqqKtKUvh6b24QYo/kSPHX/RRMGsvotSFMltCoTinFmrORMQsEsAqnL7RDu\u002BHxa\u002Be7uqECzcNdQjNKPfwn0iEESofcExfm00zJ5OsXpPk/Wyro7JNIwozwM\u002B8XunJOf12TP3EaFRiPlKcUOSkYBd06CuLRPuVN\u002B4g7LB9ozxjau2WNhGWIJQXSGRgsdImjl\u002B4R3W\u002BPfQC4RUPp[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-eff31a75-adac-bcb9-5938-c3a7ad963c66?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:44:58 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1971961466",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
