{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-40e65aa2-59be-2ef2-623f-8f63b42ddd80?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:57 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF0AE9FAB6\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:57 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-40e65aa2-59be-2ef2-623f-8f63b42ddd80/test-blob-a80f8a89-bd20-8a25-e394-dca43a9a819b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:57 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF0AF34826\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:58:57.0876712Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-40e65aa2-59be-2ef2-623f-8f63b42ddd80/test-blob-a80f8a89-bd20-8a25-e394-dca43a9a819b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:57 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "BVfrFQaYFpPZuGZdacmIz7PjySo1PqfeMVp/46Y\u002BYIU3cZb3uRU7cTwPKUnp3cOA\u002BCAMhIshC8ewDOSrGDLtmljgJvcykBWdqFftJRRd9VOW/uuFMdz6FWbOR60xj1kKIY/xCbfMTmcLb9wzM\u002BWzUheRFRlGaGh75hCRZEhobBj\u002B4wSFa\u002BybyrCDecIAxuKAGvWWoHo/w7kmdiKnOukfowPENVDhLucq9Upow\u002B6mex8tEUlS0cudvh9LXvXJ9I/HY9a/PJGRnuwOa6ow1//Lf/oDeSmgzdE3JnYwls/xYQC6oV8X5j\u002BOnHJcRG[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-40e65aa2-59be-2ef2-623f-8f63b42ddd80/test-blob-a80f8a89-bd20-8a25-e394-dca43a9a819b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:57 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF0AFCE3A0\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:57 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 06:58:57 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:58:57.0876712Z"
      },
      "ResponseBody": "BVfrFQaYFpPZuGZdacmIz7PjySo1PqfeMVp/46Y\u002BYIU3cZb3uRU7cTwPKUnp3cOA\u002BCAMhIshC8ewDOSrGDLtmljgJvcykBWdqFftJRRd9VOW/uuFMdz6FWbOR60xj1kKIY/xCbfMTmcLb9wzM\u002BWzUheRFRlGaGh75hCRZEhobBj\u002B4wSFa\u002BybyrCDecIAxuKAGvWWoHo/w7kmdiKnOukfowPENVDhLucq9Upow\u002B6mex8tEUlS0cudvh9LXvXJ9I/HY9a/PJGRnuwOa6ow1//Lf/oDeSmgzdE3JnYwls/xYQC6oV8X5j\u002BOnHJcRGYgbOcff976xntm[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-40e65aa2-59be-2ef2-623f-8f63b42ddd80?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:57 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "754127753",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
