{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a4f30d5b-276d-a5f0-67a4-cd41790fe850?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:34 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC984FA792D2\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:26:35 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a4f30d5b-276d-a5f0-67a4-cd41790fe850/test-blob-0ba5f428-c632-ebbf-88d4-d869e45c3d56",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:34 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC984FB1D9B3\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:26:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:26:35.6541875Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a4f30d5b-276d-a5f0-67a4-cd41790fe850/test-blob-0ba5f428-c632-ebbf-88d4-d869e45c3d56?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:34 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "1I0GEDSrs7iL5U/psFRLjWKS92E7ayInuESRhxwh/FmqOv3BgMwgMRPbuwFM3Nioe1Ldgsxsm2hq31fwGiybaej2P3VXiQyVccZNYK8g2txs6QvKRHqMPZ6UV6F1MBbnP1EZVZ1iUPJFRxAFHzu5SgV7hDAg0CVuaQHXwzJrIEGvZiBdB4Q\u002BCZkZhPxphx5i2gyb\u002Bqvlxm4sq\u002Bybioy/2ifOVbkaW0OAPHqXB0wpBOLjdeglzyaWyZ\u002BxMVuYon8MWanVmjJlR3/JGr0wTr8iAqcJuBSjmgsAOIsZaCnn6Jn7iq6iVGmwfi1pW7RpZXvgjy60julqa[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a4f30d5b-276d-a5f0-67a4-cd41790fe850/test-blob-0ba5f428-c632-ebbf-88d4-d869e45c3d56",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:34 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC984FBC1167\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:26:35 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 23:26:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:26:35.6541875Z"
      },
      "ResponseBody": "1I0GEDSrs7iL5U/psFRLjWKS92E7ayInuESRhxwh/FmqOv3BgMwgMRPbuwFM3Nioe1Ldgsxsm2hq31fwGiybaej2P3VXiQyVccZNYK8g2txs6QvKRHqMPZ6UV6F1MBbnP1EZVZ1iUPJFRxAFHzu5SgV7hDAg0CVuaQHXwzJrIEGvZiBdB4Q\u002BCZkZhPxphx5i2gyb\u002Bqvlxm4sq\u002Bybioy/2ifOVbkaW0OAPHqXB0wpBOLjdeglzyaWyZ\u002BxMVuYon8MWanVmjJlR3/JGr0wTr8iAqcJuBSjmgsAOIsZaCnn6Jn7iq6iVGmwfi1pW7RpZXvgjy60julqab6e1GKmS95V4jI[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a4f30d5b-276d-a5f0-67a4-cd41790fe850?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:34 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1049000942",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
