{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5908cbf4-3bfe-497a-bfe4-f84444016179?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:44:14 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC14AB17F292\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:44:15 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5908cbf4-3bfe-497a-bfe4-f84444016179/test-blob-829bae3b-0622-7314-0644-245c6aa46992",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 12 Dec 2022 07:44:14 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "pGpz7vDvlzFOrCbQqrFrHJjNDZ78RO1n7MgLBS42TNHlU2MhvietLpaJEoT98e70stZiOiWOTl99DAIo45EDGF9V6lZNSV5wH98IczJoafvZFlNX0xKrVwUEpLIlhUoEhfkkqAaYp2h48RpGhtotFKIGTs0\u002Bq0VNqZNQSaSrS5qUBO04RMH1QG7q3uH3ZdEq1o8PHjZ9xdm01v9yR17EzaaAsoHt9NDhEQ5eVM1jVkTCJnIUmy1jFj4ThG3Bg/kQJhE7drJPPeG/Lg0oHnEMUIC7ryHrrzF4HJtD2XBjH44VTS67KN\u002BRc\u002BiRVWwgO/fNBjTsBtPXJXbfwlkXDGNxXA5/EtBCU[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5908cbf4-3bfe-497a-bfe4-f84444016179/test-blob-829bae3b-0622-7314-0644-245c6aa46992",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:44:14 GMT",
        "x-ms-range": "bytes=0-99",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC14AB233880\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:44:15 GMT",
        "x-ms-blob-content-md5": "2POQit4IG/LKRJ0x5/YiaA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 07:44:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T07:44:15.5015296Z"
      },
      "ResponseBody": "pGpz7vDvlzFOrCbQqrFrHJjNDZ78RO1n7MgLBS42TNHlU2MhvietLpaJEoT98e70stZiOiWOTl99DAIo45EDGF9V6lZNSV5wH98IczJoafvZFlNX0xKrVwUEpLIlhUoEhfkkqA=="
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5908cbf4-3bfe-497a-bfe4-f84444016179?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:44:16 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1329116188",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
