{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-776255cf-7fe7-8974-3bd2-36a96c3fc68a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:43:59 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC14A1C35390\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:43:59 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-776255cf-7fe7-8974-3bd2-36a96c3fc68a/test-blob-7e464599-246e-bb1c-a3e2-3c9e97188de1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Dec 2022 07:43:59 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC14A1CCEAA1\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:43:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T07:43:59.8364321Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-776255cf-7fe7-8974-3bd2-36a96c3fc68a/test-blob-7e464599-246e-bb1c-a3e2-3c9e97188de1?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Dec 2022 07:43:59 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "Y12phWQOo10jG9ygCBhOQEHOTfBYyPIlKMm5QlkP8FEsXHRq9QExFGADdNK9VT93auy6RLES2Zprg12aVWAEEyqLdKyj5EpAnDiQVFMgaNKKQdhtVaugGoPZ/nGjlr4A/2GnMuGT04Wheqd4goRHSxuKEBSHl75\u002B6looyuXZnAZ6kFXyeDbx9m5Sy9oDKJj/krNWGYaqeGiiKEeHagmgyN6h/vEvVNLlmRmlNMvje8LBKTgxgoN/zxfsT1DuaoxlsgP7Yiqmzz3hcH9sBEOdvq2FxUHQbkVbIS7ZQgWB9y6NQILH6BiYG1n6UBIDE8vUT5CjaaVKlEO\u002BoED7zIw[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-776255cf-7fe7-8974-3bd2-36a96c3fc68a/test-blob-7e464599-246e-bb1c-a3e2-3c9e97188de1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:43:59 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC14A1D6AD36\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:43:59 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 07:43:59 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T07:43:59.8364321Z"
      },
      "ResponseBody": "Y12phWQOo10jG9ygCBhOQEHOTfBYyPIlKMm5QlkP8FEsXHRq9QExFGADdNK9VT93auy6RLES2Zprg12aVWAEEyqLdKyj5EpAnDiQVFMgaNKKQdhtVaugGoPZ/nGjlr4A/2GnMuGT04Wheqd4goRHSxuKEBSHl75\u002B6looyuXZnAZ6kFXyeDbx9m5Sy9oDKJj/krNWGYaqeGiiKEeHagmgyN6h/vEvVNLlmRmlNMvje8LBKTgxgoN/zxfsT1DuaoxlsgP7Yiqmzz3hcH9sBEOdvq2FxUHQbkVbIS7ZQgWB9y6NQILH6BiYG1n6UBIDE8vUT5CjaaVKlEO\u002BoED7zIw4X3lR3sPB1daU7[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-776255cf-7fe7-8974-3bd2-36a96c3fc68a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:43:59 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "8390166",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
