{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c26b2537-249d-c952-7d3e-6cbd62339c0f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:15 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF39718305\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:15 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c26b2537-249d-c952-7d3e-6cbd62339c0f/test-blob-ad2f9046-48a1-7df1-87aa-ce009c284e7c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:15 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF397C2B64\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:00:15.1589732Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c26b2537-249d-c952-7d3e-6cbd62339c0f/test-blob-ad2f9046-48a1-7df1-87aa-ce009c284e7c?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:15 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "S\u002BL/pKDK4lCPlAUMTOUfYaseWpntQad/E5kmd7uMyz4Vgsyt3Dv\u002BP8Nz\u002B7mEO1MzAkqnFvEptwk7gJAHo2uVA8nG9soZcoRwIBvVekbt\u002BthG83Vx5bVN68rCcluq9ptY3vfwvkSJGY/FNvXWVD3DTYa4wbD1Ix4TeQv/VwAoxil/fJxO/TyTvNnlq66/d5eN/yTU8jXqYrrZ3EQ5isKPnHDMVtigdFBKJATXEHhvUwJ0cVfbU9P0lBnhdCD3WTIWVg4\u002B8yC\u002B7IrUis0wE1JBaohCxRhqs0ic18K\u002Bv/8vU8vRwLlpMV/htYTNB8[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c26b2537-249d-c952-7d3e-6cbd62339c0f/test-blob-ad2f9046-48a1-7df1-87aa-ce009c284e7c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:15 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF3987C276\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:15 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 07:00:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:00:15.1589732Z"
      },
      "ResponseBody": "S\u002BL/pKDK4lCPlAUMTOUfYaseWpntQad/E5kmd7uMyz4Vgsyt3Dv\u002BP8Nz\u002B7mEO1MzAkqnFvEptwk7gJAHo2uVA8nG9soZcoRwIBvVekbt\u002BthG83Vx5bVN68rCcluq9ptY3vfwvkSJGY/FNvXWVD3DTYa4wbD1Ix4TeQv/VwAoxil/fJxO/TyTvNnlq66/d5eN/yTU8jXqYrrZ3EQ5isKPnHDMVtigdFBKJATXEHhvUwJ0cVfbU9P0lBnhdCD3WTIWVg4\u002B8yC\u002B7IrUis0wE1JBaohCxRhqs0ic18K\u002Bv/8vU8vRwLlpMV/htYTNB8kGxIDHnwqXtZQa[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c26b2537-249d-c952-7d3e-6cbd62339c0f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:15 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "768799927",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
