{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c1d43a0e-350e-b3ee-a80b-8ea18460644d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:29 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC984CAB6501\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:26:30 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c1d43a0e-350e-b3ee-a80b-8ea18460644d/test-blob-d816d8b8-6764-029d-befd-95a37ae36afc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:29 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC984CBA8C15\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:26:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:26:30.6780181Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c1d43a0e-350e-b3ee-a80b-8ea18460644d/test-blob-d816d8b8-6764-029d-befd-95a37ae36afc?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:29 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "poDRfT\u002B8wqL0RYJlHcCgf5XaEvM\u002BEJ5Ff0OS4qNPaajBK8EVPH/k699j1CL0JG3QYKrJlWhNH5XijP37KeD/pNvZpPH\u002Bi0MV9iYU2jt7UFvWwoH5htRAcwsrMrCB6MH\u002BZC9HGoB70dRms55BOUVaZjuiJWdeBR4GmTHm01iTlA5kFXUMNDbbWvGsktM1/jnG0cx03sNan18QQIBOlf580x6Q3STPTTIEx8t2snNL0Zv3IAGMHrVLCnUW\u002B/O2jMXyML60pCAV9oOZbxf34\u002B3rxW/lV3X877VoRdOuuVI\u002BTjoFg4K0lix64il986[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c1d43a0e-350e-b3ee-a80b-8ea18460644d/test-blob-d816d8b8-6764-029d-befd-95a37ae36afc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:30 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC984CC62328\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:26:30 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 23:26:30 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:26:30.6780181Z"
      },
      "ResponseBody": "poDRfT\u002B8wqL0RYJlHcCgf5XaEvM\u002BEJ5Ff0OS4qNPaajBK8EVPH/k699j1CL0JG3QYKrJlWhNH5XijP37KeD/pNvZpPH\u002Bi0MV9iYU2jt7UFvWwoH5htRAcwsrMrCB6MH\u002BZC9HGoB70dRms55BOUVaZjuiJWdeBR4GmTHm01iTlA5kFXUMNDbbWvGsktM1/jnG0cx03sNan18QQIBOlf580x6Q3STPTTIEx8t2snNL0Zv3IAGMHrVLCnUW\u002B/O2jMXyML60pCAV9oOZbxf34\u002B3rxW/lV3X877VoRdOuuVI\u002BTjoFg4K0lix64il9866eUyaHKjWE0DRQ[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c1d43a0e-350e-b3ee-a80b-8ea18460644d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:30 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1148918919",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
