{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ad3708a4-e3ce-616c-9b24-2a6bbbc94f9f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:12 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF37B0172A\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:12 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ad3708a4-e3ce-616c-9b24-2a6bbbc94f9f/test-blob-c09de10c-da54-81a0-1222-cf12f32f5478",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:12 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF37B960B7\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:00:12.2046647Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ad3708a4-e3ce-616c-9b24-2a6bbbc94f9f/test-blob-c09de10c-da54-81a0-1222-cf12f32f5478?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:12 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "LUfSeeVMmuRYogwqc6lD0lY6TgCGU3QDHcDd0WCD2E6hBfTe6CVnc\u002Bw0Ubm0CMOa36t0rGJY\u002BtnSz1wkbsmE1Mm9iW20Zekx0toTUQK7ThX9Q/G0DyzsSQoaCxnJQwQjsHzv939V5XrCQ9qHRKjXFoBHJyrX0MWd0D9jmVnQZ47W8KGFzFeVqF528sxRZQVhQ/WYghzZS9\u002B3USZA8ksh8dtLsVMHUkoosX7MYN74TGs6AVZkN\u002BVy/KTCzXowVbYTVQDwBbSxWvGrcNCdDeoBvwS7BfD1vbn22bSvRITP\u002BFzIuAvdCEe3iKZkuMcU1e\u002B[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ad3708a4-e3ce-616c-9b24-2a6bbbc94f9f/test-blob-c09de10c-da54-81a0-1222-cf12f32f5478",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:12 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF37C2AE2F\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:12 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 07:00:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:00:12.2046647Z"
      },
      "ResponseBody": "LUfSeeVMmuRYogwqc6lD0lY6TgCGU3QDHcDd0WCD2E6hBfTe6CVnc\u002Bw0Ubm0CMOa36t0rGJY\u002BtnSz1wkbsmE1Mm9iW20Zekx0toTUQK7ThX9Q/G0DyzsSQoaCxnJQwQjsHzv939V5XrCQ9qHRKjXFoBHJyrX0MWd0D9jmVnQZ47W8KGFzFeVqF528sxRZQVhQ/WYghzZS9\u002B3USZA8ksh8dtLsVMHUkoosX7MYN74TGs6AVZkN\u002BVy/KTCzXowVbYTVQDwBbSxWvGrcNCdDeoBvwS7BfD1vbn22bSvRITP\u002BFzIuAvdCEe3iKZkuMcU1e\u002B6wA51dU/FHphH\[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ad3708a4-e3ce-616c-9b24-2a6bbbc94f9f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:12 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "720483728",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
