{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9f0a0b22-8d36-c598-3715-ee3670bf79b5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:15 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF39AC398B\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:15 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9f0a0b22-8d36-c598-3715-ee3670bf79b5/test-blob-37fe0792-2f33-604e-9758-64baea7162f5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:15 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "0/X3fIETIPDD7LvJQIXMEFKp0irkumXafElBxuQuJkusutbhMrk6MZIICgpHkFIcEItpdDEizhiPHQA40lkMlcZwHYav696Zb6GY3LBak\u002Bz2JLZYxLEZieu9URS5AV84/HRE1nLMbSSs0AWQifJoNYoTQq2js9EUVpOa8ZnJ4G5BYN88Frx5KraRrPOsif/5VRyKpb\u002BxlEiiL4DeMXyL4vCWTikSKx/NmRf2EgbeaM2UoJx9Pzquj8yXmeY8mvg6BskCFTrW5yn9vQunuoJBxMezSpDfDaO16L9de5E4kf8evAw921KSvrlygIEvB9RJVdUeiVBoWvgmTC17eGuYxCwMif52BOl1II[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9f0a0b22-8d36-c598-3715-ee3670bf79b5/test-blob-37fe0792-2f33-604e-9758-64baea7162f5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:16 GMT",
        "x-ms-range": "bytes=0-99",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF39E51706\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:15 GMT",
        "x-ms-blob-content-md5": "kxm8eH39bgujx5/odP88Xg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 07:00:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:00:15.8465798Z"
      },
      "ResponseBody": "0/X3fIETIPDD7LvJQIXMEFKp0irkumXafElBxuQuJkusutbhMrk6MZIICgpHkFIcEItpdDEizhiPHQA40lkMlcZwHYav696Zb6GY3LBak\u002Bz2JLZYxLEZieu9URS5AV84/HRE1g=="
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9f0a0b22-8d36-c598-3715-ee3670bf79b5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:16 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2011384473",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
