{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4603b024-71db-bb4a-3fd0-fd9857a97e1e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:42:02 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC145C126090\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:42:02 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4603b024-71db-bb4a-3fd0-fd9857a97e1e/test-blob-942360c2-fd41-cb9a-9815-0052f596cf88",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Dec 2022 07:42:02 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC145C1BA4A1\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:42:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T07:42:02.9118625Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4603b024-71db-bb4a-3fd0-fd9857a97e1e/test-blob-942360c2-fd41-cb9a-9815-0052f596cf88?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Dec 2022 07:42:02 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "spSSQngCyZ3x5wSnLb7xootCYNE1HfYJ26b/1Q7ILcPfVC0UoFGLyfBya37vRW28By8sMQCzUJSeiWbRA/SOKblAyNmR3AE5t5bhwrJ4GZY5Q83fnPvDKwOYdhbqucb75EHErn2TKiot8npp0o3hJnDQl78nroy\u002BfZzV\u002BGbqTv3Q5d5ws2oYpRiisqmAWVl1t0\u002BmGiIG1DW1BTHhvjLEQqN9mO2vcHIGt/GnhPzjPSNCYEEWRDTbyRCpu644N\u002Bfm3W8GA8FsxkbdoGIwX0840cgOnl7wrf1vos/cBbTEzYAJwKeM3Tpi1pn6OaTRqmrAcenlKpmJ9[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4603b024-71db-bb4a-3fd0-fd9857a97e1e/test-blob-942360c2-fd41-cb9a-9815-0052f596cf88",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:42:02 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC145C27FEE4\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:42:02 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 07:42:02 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T07:42:02.9118625Z"
      },
      "ResponseBody": "spSSQngCyZ3x5wSnLb7xootCYNE1HfYJ26b/1Q7ILcPfVC0UoFGLyfBya37vRW28By8sMQCzUJSeiWbRA/SOKblAyNmR3AE5t5bhwrJ4GZY5Q83fnPvDKwOYdhbqucb75EHErn2TKiot8npp0o3hJnDQl78nroy\u002BfZzV\u002BGbqTv3Q5d5ws2oYpRiisqmAWVl1t0\u002BmGiIG1DW1BTHhvjLEQqN9mO2vcHIGt/GnhPzjPSNCYEEWRDTbyRCpu644N\u002Bfm3W8GA8FsxkbdoGIwX0840cgOnl7wrf1vos/cBbTEzYAJwKeM3Tpi1pn6OaTRqmrAcenlKpmJ9TBylmHyj8GRGdL[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4603b024-71db-bb4a-3fd0-fd9857a97e1e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:42:02 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1690373092",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
