{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-dab1cc74-1a8b-2d96-9d65-7447ae8125c0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:05:37 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC95627B9865\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:05:38 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-dab1cc74-1a8b-2d96-9d65-7447ae8125c0/test-blob-34b66149-641d-2503-d399-8dc838755ea2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 12 Dec 2022 23:05:37 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "i9kwOEDEf0\u002BnRgb1weuZitTnW7X0YWKsLdJJ84TZBYg2pydEAxh6nGuPkLuU/2BBRroDjCt9Ail2hAtte4vKzkF\u002BvhrEVIe7bL9KZNGmGC5yB6zK1XhcuaT9zn4NDSHfxcJ6FkFFffIyRx9sM55Y0Gvc\u002BnPfAPjIIQR2xoYIrV\u002Bdap4PLAHtLYm6mI5Z74UFpP4TMRKtAMXKsfQ8zrZrKZm/z8j/SaNp783pJGdqbjJ\u002BcSGI9XxN8GrZRHoNsF7TTm70miC9BVtaqUFEw9tdYELCvV2U4zMdcd5dJgQpXD5vFtX4ddQSwWvGLUw7CSyOfOQ3SvMAPms61ihBX99[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-dab1cc74-1a8b-2d96-9d65-7447ae8125c0/test-blob-34b66149-641d-2503-d399-8dc838755ea2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:05:37 GMT",
        "x-ms-range": "bytes=0-99",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC95628504FF\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:05:38 GMT",
        "x-ms-blob-content-md5": "ppk\u002BaOYnJgYeRBRHWAnH4g==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 23:05:38 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:05:38.7469055Z"
      },
      "ResponseBody": "i9kwOEDEf0\u002BnRgb1weuZitTnW7X0YWKsLdJJ84TZBYg2pydEAxh6nGuPkLuU/2BBRroDjCt9Ail2hAtte4vKzkF\u002BvhrEVIe7bL9KZNGmGC5yB6zK1XhcuaT9zn4NDSHfxcJ6Fg=="
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-dab1cc74-1a8b-2d96-9d65-7447ae8125c0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:05:38 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2142113266",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
