{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4110a9ed-8222-1804-b968-740f69f6fbd4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:27:07 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC98633148AF\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:27:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4110a9ed-8222-1804-b968-740f69f6fbd4/test-blob-e0afbc78-b7f9-f6c4-13db-b1937bf58354",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Dec 2022 23:27:07 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC986374291E\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:27:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:27:08.8043294Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4110a9ed-8222-1804-b968-740f69f6fbd4/test-blob-e0afbc78-b7f9-f6c4-13db-b1937bf58354?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Dec 2022 23:27:07 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "gJzIyJxDKq6v3UcmON87/PWfO/PVHWIvbC4J3HFEJiQBHqtfqzvkZP3NnmmImVuiGHjiNxrwZWI6mFttOk48arYjJRoz21C6u9f1CH74ptPTZsP5Ye8JELhJJRLfdimukDOyZXRAbj0nKHxD\u002Bl3jQfKImtSLQwnHGRRi6rY92kStR3hLRkBekveF0TlyxRZaZeMgVtxUIk0q60xf3oSH6k04lbLlmPuxKgfdBnHPVFT9B4XSHIRoWSUrIVr0/rRz/ufrOi9kdc3obizUdxvbWpb3Ytf/tM3JzzyMunagvStTaQiJ5BokmZK46q1XlOEJT8fE/Jzcc0kaImvz17pWR7EB[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4110a9ed-8222-1804-b968-740f69f6fbd4/test-blob-e0afbc78-b7f9-f6c4-13db-b1937bf58354",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:27:08 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC9863836926\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:27:08 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 23:27:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:27:08.8043294Z"
      },
      "ResponseBody": "gJzIyJxDKq6v3UcmON87/PWfO/PVHWIvbC4J3HFEJiQBHqtfqzvkZP3NnmmImVuiGHjiNxrwZWI6mFttOk48arYjJRoz21C6u9f1CH74ptPTZsP5Ye8JELhJJRLfdimukDOyZXRAbj0nKHxD\u002Bl3jQfKImtSLQwnHGRRi6rY92kStR3hLRkBekveF0TlyxRZaZeMgVtxUIk0q60xf3oSH6k04lbLlmPuxKgfdBnHPVFT9B4XSHIRoWSUrIVr0/rRz/ufrOi9kdc3obizUdxvbWpb3Ytf/tM3JzzyMunagvStTaQiJ5BokmZK46q1XlOEJT8fE/Jzcc0kaImvz17pWR7EBgA0TUXV808hFR8[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4110a9ed-8222-1804-b968-740f69f6fbd4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:27:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1413337459",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
