{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-70949e88-83d5-1edc-3072-091a34a6d48f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Apr 2023 19:35:53 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB481FC7DE559A\u0022",
        "Last-Modified": "Fri, 28 Apr 2023 19:35:53 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-70949e88-83d5-1edc-3072-091a34a6d48f/test-blob-722ca644-d193-236c-2820-a79ae7d85ba8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 28 Apr 2023 19:35:53 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB481FC7E88529\u0022",
        "Last-Modified": "Fri, 28 Apr 2023 19:35:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-28T19:35:53.8147625Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-70949e88-83d5-1edc-3072-091a34a6d48f/test-blob-722ca644-d193-236c-2820-a79ae7d85ba8?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 28 Apr 2023 19:35:53 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "Dd/nDb4Krmpj41M0e06aSe/tQQCGJEM21owzxKEdv18nFYS5QOKQRAzaRnhvmre18aVBLoueOOmcsDYy1urJRiP0DWXJ4QkNXf30q93KxjzUftL725HTiN2bHY\u002BrXW0iEQBUe41S6w\u002BbNNGOqowL0er6XVcXzWqSIIWILsN6Yf\u002BP0prddUuvgpPCYKfARd5Qj0ulsAAWCkOVwloHybxLIdLS/tjyLlueS9vEVG3D0tqmOJ541LD\u002BecdWR7Pwp7jXdz7U7UYFXWHwBmUlUbbW0vCAYZEd000h04UQm\u002BaorqQi7d0v7uSToNo9h85L2ScQgHXC[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-70949e88-83d5-1edc-3072-091a34a6d48f/test-blob-722ca644-d193-236c-2820-a79ae7d85ba8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Apr 2023 19:35:54 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB481FC7F972A6\u0022",
        "Last-Modified": "Fri, 28 Apr 2023 19:35:53 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 28 Apr 2023 19:35:53 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-28T19:35:53.8147625Z"
      },
      "ResponseBody": "Dd/nDb4Krmpj41M0e06aSe/tQQCGJEM21owzxKEdv18nFYS5QOKQRAzaRnhvmre18aVBLoueOOmcsDYy1urJRiP0DWXJ4QkNXf30q93KxjzUftL725HTiN2bHY\u002BrXW0iEQBUe41S6w\u002BbNNGOqowL0er6XVcXzWqSIIWILsN6Yf\u002BP0prddUuvgpPCYKfARd5Qj0ulsAAWCkOVwloHybxLIdLS/tjyLlueS9vEVG3D0tqmOJ541LD\u002BecdWR7Pwp7jXdz7U7UYFXWHwBmUlUbbW0vCAYZEd000h04UQm\u002BaorqQi7d0v7uSToNo9h85L2ScQgHXCcEYmuaPxshrB9c[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-70949e88-83d5-1edc-3072-091a34a6d48f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Apr 2023 19:35:55 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1755890049",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
