{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-709fd4e5-2a4f-0acb-9cf2-8823dc1e00c7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:45:37 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC14DCACA1FE\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:45:38 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-709fd4e5-2a4f-0acb-9cf2-8823dc1e00c7/test-blob-78cb76c3-aedd-08de-1978-560cc76ea7d5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 12 Dec 2022 07:45:38 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "f7AmF7XQkv7IRtumL12RdtGObazRH/yBruR0sK1a9CDqxzUTzvw6gLDh4dBISMEWgMOYOQSh\u002BF\u002BzpGnQW\u002BFQblG6u2cnfajVVOz88D4rOWYjXS/pwrsbSc7VXymSaSXOkHN/jYxZ7wIbw\u002BQXpQghh2sDrf2xZqyVn3KZUR5/QurHLV/LrKzZym4szv7WBKPFs9i9jrwnHSrG6u4Zv53knID6UHepVtu/KeOPhJetvpvO051GwbMunxA1BMG9vwrQSDJ93LMsHFz8/mTYmJiSGSxTS\u002Bv/ntrNy7BndFIaAWnYvjxlMOHnordBScJOVQZ4ouqVanQf0KlXsBEDxKg[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-709fd4e5-2a4f-0acb-9cf2-8823dc1e00c7/test-blob-78cb76c3-aedd-08de-1978-560cc76ea7d5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:45:38 GMT",
        "x-ms-range": "bytes=0-99",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC14DCC2E33E\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:45:38 GMT",
        "x-ms-blob-content-md5": "ppwosXq/RkQbG0V4R8XFhA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 07:45:38 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T07:45:38.7562814Z"
      },
      "ResponseBody": "f7AmF7XQkv7IRtumL12RdtGObazRH/yBruR0sK1a9CDqxzUTzvw6gLDh4dBISMEWgMOYOQSh\u002BF\u002BzpGnQW\u002BFQblG6u2cnfajVVOz88D4rOWYjXS/pwrsbSc7VXymSaSXOkHN/jQ=="
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-709fd4e5-2a4f-0acb-9cf2-8823dc1e00c7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:45:38 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "828781753",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
