{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b5a03ac8-8746-03c8-d78b-0678e597df48?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:05:40 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC9563DD1562\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:05:41 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b5a03ac8-8746-03c8-d78b-0678e597df48/test-blob-3f864ea4-4274-b7b3-fb44-e1fcbb957b34",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 12 Dec 2022 23:05:40 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "LFDG\u002BoaVGVsNqFM15Few0LV8uvKf\u002BnScuIQgn0sGUI8Oy0l8CKdMtsCevby\u002BRHHGZwIT/84kqDLcKkIBdXkQB1jDJxkNM8cOMAQxADy43XMSWjhJ8lHB6iIWoN1kSkFGjrZj\u002Bh1YuDQ6Bc/K86j2JEzP7xpBxxUHAj3395PqqeXD6nKFVONWuqIDDuyB9vZ6IHuQlVomBcehXPjgYcGgT1vpBwg1cM9peDR4PbgohQtGfNYXWhSKnOWr5PjrdVnhY7\u002BQmO/uRLCrJhwmrscOeNbsmeTqifVHXmojiozXfgLbltr5l\u002B0bWDgmazP3ZO4dnGsh/tx09trJSD[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b5a03ac8-8746-03c8-d78b-0678e597df48/test-blob-3f864ea4-4274-b7b3-fb44-e1fcbb957b34",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:05:40 GMT",
        "x-ms-range": "bytes=0-99",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC9563E831DB\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:05:41 GMT",
        "x-ms-blob-content-md5": "woB2z9eaMQVaSMLHYeYbbQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 23:05:41 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:05:41.0745819Z"
      },
      "ResponseBody": "LFDG\u002BoaVGVsNqFM15Few0LV8uvKf\u002BnScuIQgn0sGUI8Oy0l8CKdMtsCevby\u002BRHHGZwIT/84kqDLcKkIBdXkQB1jDJxkNM8cOMAQxADy43XMSWjhJ8lHB6iIWoN1kSkFGjrZj\u002Bg=="
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b5a03ac8-8746-03c8-d78b-0678e597df48?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:05:40 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1063137192",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
