{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-03cafe4b-6dff-8d55-bb62-518f47bd4850?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:17 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF3ADB5590\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:17 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-03cafe4b-6dff-8d55-bb62-518f47bd4850/test-blob-7ecf88ca-1fda-51d6-4fa8-d23c35d1e327",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:17 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "t1\u002B697w4nk8IDQAKFsj1UQnZuSHELBe0eK7BCnssyi7xuy/MJMKhkuqAdc0fyzuGsoEzWxfCYotIBn4OdpPT3ELSGVqZKSxHOCc3RLdKla1zOlj6\u002BW8WLlmkhB5DkxtWrZmKTLHg7IlU6yLwix7T/XDRmzs72ePTvOoA9aQNBKUL4JcewEn7kk7PpQ1MJaM70IaucfffG9S1to/G3/fkR\u002Bd95aqGtT0m1gjtazPVhpdHxSUdX5KtK8XDaAm6NLNW6l4lzz/5tBpIh5rv8q\u002Bg3zD3fxrSxuhUz7rlw000bKJUl4HUsLZXThAK1Nf4vTkVIojYwrSYhCN20P\u002BFFPD[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-03cafe4b-6dff-8d55-bb62-518f47bd4850/test-blob-85a74bbc-d863-259a-7ad4-39a249c2d627",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:17 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF3AF0936D\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:17 GMT",
        "x-ms-blob-content-md5": "GMT5n0X49jxe6NXKgmICkQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 07:00:17 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:00:17.5995757Z"
      },
      "ResponseBody": "WigUoLf\u002BiG0yJOGWRu2HkzJ6x4h34vO5S8r9UQ77pHoocDucMbecV8CK/TpGKf\u002B7HoTzBfV5JXc0WlTtADdeNn9mbdax6mF73m/I7eW5cyLKQjKKCJ6FrkrDaNdir1aIK8a637spCjMjdyeFsTiSe\u002BcyIr4E0y3h4b6L7YKKGC4ZP8Ee/pNmoDj/Z5B3//0RMezvL4yYg1iZ2f38nRyxmF/4bHF3dH1TzIGGBWycaeHBeryWmuiigbxohSWWagIbTc4xf5OMmrxvm2MKEX3s/HAbOyNgG/12Veu0Du9XvWF\u002Barida\u002BlONN//Jv\u002BFl28\u002BfIm1ei7fuzLQuymo14vNF90Bi6fFT5GGzQZDYPT\u002B8b57dZJlokIzn6\u002BGzK\u002B/pVxUMQ[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-03cafe4b-6dff-8d55-bb62-518f47bd4850?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:17 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "841676972",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
