{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f076fdb0-01cf-9912-d8dc-38e328c4e218?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:27:29 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC98705330CF\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:27:30 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f076fdb0-01cf-9912-d8dc-38e328c4e218/test-blob-bbe34dda-3eef-dafb-14f0-61ac0d84836d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 12 Dec 2022 23:27:29 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "ysbKdXZrFluDvjDPg5Yul7dmeDc5kPh19dohN2MLzM0ifI/ZUk5aql7onyZrx0lbxeev2BP2DTrNVYCcSt/4ePJirAcHVERoC83ZUfDRCS2QxXJ7W/O6LG5VC/3OvmB\u002B8Cc0CBtBVHCjRs1FHbxJ\u002B0tSC4RtfBz\u002BqICYsUhHmkxsWmHInQEST3EB1xUmdA\u002BxCxCxe7PcEXMLNl\u002BaqKInXKuA2cJbgV5KQLwSa6UG1zRw5qY4lR6ZkEjtvWahd6bP2ntqpZtMVoqyZzv2yqbOBV4rKsH77seM50l6bcT3qMkVQpApnDKZI5Achi3josWiH7cHdk3k1Ou03b5R0un[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f076fdb0-01cf-9912-d8dc-38e328c4e218/test-blob-bbe34dda-3eef-dafb-14f0-61ac0d84836d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:27:29 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC98705FE8F9\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:27:30 GMT",
        "x-ms-blob-content-md5": "3nwuA4ckuYQDZNXr8zRr9g==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 23:27:30 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:27:30.4819961Z"
      },
      "ResponseBody": "ysbKdXZrFluDvjDPg5Yul7dmeDc5kPh19dohN2MLzM0ifI/ZUk5aql7onyZrx0lbxeev2BP2DTrNVYCcSt/4ePJirAcHVERoC83ZUfDRCS2QxXJ7W/O6LG5VC/3OvmB\u002B8Cc0CBtBVHCjRs1FHbxJ\u002B0tSC4RtfBz\u002BqICYsUhHmkxsWmHInQEST3EB1xUmdA\u002BxCxCxe7PcEXMLNl\u002BaqKInXKuA2cJbgV5KQLwSa6UG1zRw5qY4lR6ZkEjtvWahd6bP2ntqpZtMVoqyZzv2yqbOBV4rKsH77seM50l6bcT3qMkVQpApnDKZI5Achi3josWiH7cHdk3k1Ou03b5R0unFur5x4YcVpGgskgYx3miZqUSD100M8DJ8MW6kdb5zR1CnVstuccE\u002BjHtO2uNGsvWCGj[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f076fdb0-01cf-9912-d8dc-38e328c4e218?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:27:29 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1317920328",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
