{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c8bc3739-723d-670e-6790-376722e27b89?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:27:11 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC986591EB60\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:27:12 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c8bc3739-723d-670e-6790-376722e27b89/test-blob-348292cd-38db-f0a4-432b-4ab83d1d9c3c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 12 Dec 2022 23:27:11 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "AOYHVyBfDVsc13xibpaqFIfuUkN1XFrweEYAIGz5X4qgPCLIjmjR32jHjJ1p9wU1WXnFPiabzKSMFt/ZXu3uI3jxwjJz4YUeHXPars\u002B8h4BBy8bzNCFjBG9\u002BPHiJ94F72GkldzTSwXfzpiCzwR7Vz45emJMm\u002B\u002B9Xjr7C9aUNlSXxX9VmlxBMbglP/40Ar0NRqWzpKl/uVNx5zeh1EMzS5RD7wmJIbzh\u002BEimJ1/xhV957cUw4I2vGAgr47Mkn1l49fBl8Be3hCDo0axc1ZH3gGHYK\u002Bp9/mcKlNL9XUIJuVjzLTFri5FLxmmgSBLhTkJ6MGNNTHdu\u002Bv[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c8bc3739-723d-670e-6790-376722e27b89/test-blob-348292cd-38db-f0a4-432b-4ab83d1d9c3c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:27:11 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC98659DE473\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:27:12 GMT",
        "x-ms-blob-content-md5": "omeK88Jk5s9a0JXuGv5qQg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 23:27:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:27:12.4332659Z"
      },
      "ResponseBody": "AOYHVyBfDVsc13xibpaqFIfuUkN1XFrweEYAIGz5X4qgPCLIjmjR32jHjJ1p9wU1WXnFPiabzKSMFt/ZXu3uI3jxwjJz4YUeHXPars\u002B8h4BBy8bzNCFjBG9\u002BPHiJ94F72GkldzTSwXfzpiCzwR7Vz45emJMm\u002B\u002B9Xjr7C9aUNlSXxX9VmlxBMbglP/40Ar0NRqWzpKl/uVNx5zeh1EMzS5RD7wmJIbzh\u002BEimJ1/xhV957cUw4I2vGAgr47Mkn1l49fBl8Be3hCDo0axc1ZH3gGHYK\u002Bp9/mcKlNL9XUIJuVjzLTFri5FLxmmgSBLhTkJ6MGNNTHdu\u002BveJX19Atibi3xRTbaRgj/jMjGGA2bZUJUaMhyjiuGjlgDI53ig2BwxCwWz6kdyeFaRmgLwR7iFBNTYUsDL6ACKrae1yKq3MlolRPhRFWZdp8m2EeDus05YQ9Kj2IVLdSMFOUyfzK\u002B76meo2vKwI/9uirsHBcYfm/ppbYTIE2nU2d/VW\u002BwpzdsaCjd5NdhbmC/jNV3KRG9c5Z1CNm8q48cNw/Ei6tgDRLzf7PuelmYSHcVk1N4cCpVgeGZe15d7/xZge2HnKK1X7/CQ\u002Bldjzk8nMBiZxg748clrsnJhpG0VY\u002B3lLir0OuUoHPTdexA9/LoXJ6d\u002B0jkHZ4moe2Y65juDe4ZpjpAkMwUzY="
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c8bc3739-723d-670e-6790-376722e27b89?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:27:11 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "456048621",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
