{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f13881ff-9260-391d-9428-11050fb5a0f0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:44:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC14C023273A\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:44:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f13881ff-9260-391d-9428-11050fb5a0f0/test-blob-80dff96a-8ad5-5b4c-539d-3485ed1d9f19",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 12 Dec 2022 07:44:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "\u002BDyuca8bomStCgw5kTfry9VZpdXtnInfSKl5CReMNZqC5L9eFvy46Ils0tZW6weAcxlQ3GGVHFyyzykGoZlNINRyt6x3jLTYob1MgMqziFyh\u002BZX9PFk47MdjrEfTskbvH7EC5DNbCedkdzukSZyR/0bMZKgET\u002BR7OsrkFOBtBO52XGEYsKQoRu\u002BtmcQdk6Mr0awAB06e69DNhqlpdvUG9nJNLuw7eE6hox64VrUgXqYmuUIzbP2g2HGRSyn6v9D6p6JR0GW38FheXmQw5ZQarCgDQr2y04l1rVZ6qS0kpuNNvq8Tz41Bb8jp1Q6ZcPPdd58B93wTR9MY2yIOPEYrObeA[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f13881ff-9260-391d-9428-11050fb5a0f0/test-blob-80dff96a-8ad5-5b4c-539d-3485ed1d9f19",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:44:50 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC14C02E053E\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:44:50 GMT",
        "x-ms-blob-content-md5": "QI8hejvYIDTLmVxZzjnqmA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 07:44:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T07:44:50.8044606Z"
      },
      "ResponseBody": "\u002BDyuca8bomStCgw5kTfry9VZpdXtnInfSKl5CReMNZqC5L9eFvy46Ils0tZW6weAcxlQ3GGVHFyyzykGoZlNINRyt6x3jLTYob1MgMqziFyh\u002BZX9PFk47MdjrEfTskbvH7EC5DNbCedkdzukSZyR/0bMZKgET\u002BR7OsrkFOBtBO52XGEYsKQoRu\u002BtmcQdk6Mr0awAB06e69DNhqlpdvUG9nJNLuw7eE6hox64VrUgXqYmuUIzbP2g2HGRSyn6v9D6p6JR0GW38FheXmQw5ZQarCgDQr2y04l1rVZ6qS0kpuNNvq8Tz41Bb8jp1Q6ZcPPdd58B93wTR9MY2yIOPEYrObeA4iblBt2awdP0yf573D1jnTKNI69mOnbb\u002BvNrMjOBvZtWGI3M93DBZjWpHn7VnP/lq54[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f13881ff-9260-391d-9428-11050fb5a0f0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:44:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1281097976",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
