{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3b8c79b6-c822-0e88-de52-222dcf639139?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:44:16 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC14ABFD1BCD\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:44:16 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3b8c79b6-c822-0e88-de52-222dcf639139/test-blob-53da6847-0591-d75d-fd60-febb3af21b63",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 12 Dec 2022 07:44:16 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "gnVAavRYg1wwCzwo8AHsl6KUe5AWQpPuFN8JCNPlR17V0UZqxfAb5jm7DeksMQSRlpTISNSk1kDiUlYUT3uISsPeUh\u002B6gtGyeZVWWjSqweLbd3E/Hf\u002BKMfoGiHOaBpa\u002BM8MlTt/l1hTCFs4\u002BTXwLOJBzONcJSC3EUyAktPleF3L\u002BmCZxhHMD9aFdfQYxS\u002BR\u002B\u002B1DjJ86/tOuVYfq\u002BwSIaY/9bP7RWmbMdb0M2rMomkwc7pbipe/CkP\u002BQ72yN4RTN\u002BQhoH1QwvKGGcxbiKiQghbs7yghtpcecOtgDQG76PpCoPuGmwH737C[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3b8c79b6-c822-0e88-de52-222dcf639139/test-blob-53da6847-0591-d75d-fd60-febb3af21b63",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:44:16 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC14AC06C09A\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:44:16 GMT",
        "x-ms-blob-content-md5": "bJo9B/P\u002BwqBgQK2NKZ\u002B53g==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 07:44:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T07:44:16.9936807Z"
      },
      "ResponseBody": "gnVAavRYg1wwCzwo8AHsl6KUe5AWQpPuFN8JCNPlR17V0UZqxfAb5jm7DeksMQSRlpTISNSk1kDiUlYUT3uISsPeUh\u002B6gtGyeZVWWjSqweLbd3E/Hf\u002BKMfoGiHOaBpa\u002BM8MlTt/l1hTCFs4\u002BTXwLOJBzONcJSC3EUyAktPleF3L\u002BmCZxhHMD9aFdfQYxS\u002BR\u002B\u002B1DjJ86/tOuVYfq\u002BwSIaY/9bP7RWmbMdb0M2rMomkwc7pbipe/CkP\u002BQ72yN4RTN\u002BQhoH1QwvKGGcxbiKiQghbs7yghtpcecOtgDQG76PpCoPuGmwH737C31XDLU4GrbbGm1VhcIYFNAy\u002BB4MXw2iDSGNetGecE8Q93eeEmUy1pxJ9AFROh5n96OY[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3b8c79b6-c822-0e88-de52-222dcf639139?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:44:16 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1006800390",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
