{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0c77ed44-81e8-0d19-b89d-a1f25da164a5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:45:12 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC14CD3DA314\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:45:12 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0c77ed44-81e8-0d19-b89d-a1f25da164a5/test-blob-984c5845-0d46-d7ba-b32f-5f4180c819c8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 12 Dec 2022 07:45:12 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "AlIZD4CkQWWGXhg7dcXbFTUZCpqjAgjLlEgMNHMACorrL3EafWFmoRbnEef0fmLuVEoLZr1/Jf9KTno4lw3xhlSOUEZTwJjUsmmDu/Ag1hbmHt8o9KTMbAlyzy7mLgkJ9YuTZi4cmpOyN7NT\u002B2oOKndkUnkuyJGvweM84fFp7YRfesZljG/nyYNLdr3weHCeZKW2gtyP2iz646RK37miSUkv9IGkqJ4IfIj24lLTv0lznX1Lsmunz5\u002BZa6jLnOnJqC10wITu\u002BrsHrgZTmfjaJiRb1kE8V5beiCTiCj31PN\u002BeLDokX//EhaPBRANkUzanvkWEcMWojVGWlThgDO99EXIm[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0c77ed44-81e8-0d19-b89d-a1f25da164a5/test-blob-984c5845-0d46-d7ba-b32f-5f4180c819c8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:45:12 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC14CD490D28\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:45:12 GMT",
        "x-ms-blob-content-md5": "HPqIB3KKsTMaW1z\u002BwwQC9g==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 07:45:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T07:45:12.7919912Z"
      },
      "ResponseBody": "AlIZD4CkQWWGXhg7dcXbFTUZCpqjAgjLlEgMNHMACorrL3EafWFmoRbnEef0fmLuVEoLZr1/Jf9KTno4lw3xhlSOUEZTwJjUsmmDu/Ag1hbmHt8o9KTMbAlyzy7mLgkJ9YuTZi4cmpOyN7NT\u002B2oOKndkUnkuyJGvweM84fFp7YRfesZljG/nyYNLdr3weHCeZKW2gtyP2iz646RK37miSUkv9IGkqJ4IfIj24lLTv0lznX1Lsmunz5\u002BZa6jLnOnJqC10wITu\u002BrsHrgZTmfjaJiRb1kE8V5beiCTiCj31PN\u002BeLDokX//EhaPBRANkUzanvkWEcMWojVGWlThgDO99EXImtWy9tcYlllGeehKTeTTtO0v4ccwZ9p/ojcnGZHmzRDOQPp7J6Ql\u002BXtl0CRI\u002BAx[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0c77ed44-81e8-0d19-b89d-a1f25da164a5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:45:12 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1293261088",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
