{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-63245507-f57b-ff37-e26d-4f2dd742dddd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:59:13 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF14BC8FA5\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:59:13 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-63245507-f57b-ff37-e26d-4f2dd742dddd/test-blob-7feb82b8-e2c8-bbac-0df3-b9b77a98d0f9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 22 Apr 2023 06:59:13 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "kCQa8JFffnJN4Dh9wQq3ymWlFhbz4doBRTVM0IJwFEwbFiiFB2\u002BFUA2KAVVgSbIZOilGddipk69KGKpcEq7v3MvsYavhMsL1H8YJaOCEofyCM5ZZKp90coN5Ou/FKT1fmySKdOcHNwdmUFUSnyrPxXeu2d4XlrIsd\u002B8naPfTMPaIqs27\u002BiwUevuO8tlJYtJZqnV4F09eRwRyXfz44M8QkyBfifVcE8tKmV/jiaPY4xUdzr6CWhmmKmPISZwvHJorfV656dnc/JapLX3ve71hmXrm2hERjjkGuV6SlMkuG3zFtwxEHvk8QNIn2Cybtq6lZ68iSEGIGu8lsjB6SmfMexIAKsOxH[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-63245507-f57b-ff37-e26d-4f2dd742dddd/test-blob-7feb82b8-e2c8-bbac-0df3-b9b77a98d0f9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:59:13 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF14C6C759\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:59:13 GMT",
        "x-ms-blob-content-md5": "BAVEFp169lX8yL0Dt/ex\u002Bg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 06:59:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:59:13.5722329Z"
      },
      "ResponseBody": "kCQa8JFffnJN4Dh9wQq3ymWlFhbz4doBRTVM0IJwFEwbFiiFB2\u002BFUA2KAVVgSbIZOilGddipk69KGKpcEq7v3MvsYavhMsL1H8YJaOCEofyCM5ZZKp90coN5Ou/FKT1fmySKdOcHNwdmUFUSnyrPxXeu2d4XlrIsd\u002B8naPfTMPaIqs27\u002BiwUevuO8tlJYtJZqnV4F09eRwRyXfz44M8QkyBfifVcE8tKmV/jiaPY4xUdzr6CWhmmKmPISZwvHJorfV656dnc/JapLX3ve71hmXrm2hERjjkGuV6SlMkuG3zFtwxEHvk8QNIn2Cybtq6lZ68iSEGIGu8lsjB6SmfMexIAKsOxHHqAqpo/6rUMawKw7CwaC9I7PJ0cHmzJwvVqWl0amovr9Es1op6nSTA5GUctyV47sm9Axe4ml[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-63245507-f57b-ff37-e26d-4f2dd742dddd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:59:13 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "665739187",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
