{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9591b728-deb3-c0b7-2428-3e283ddf728f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:27:14 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC9867924E60\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:27:15 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9591b728-deb3-c0b7-2428-3e283ddf728f/test-blob-a447abc5-5ad7-70d3-507a-5ccb06bded36",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 12 Dec 2022 23:27:14 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "oa4vaECX66eNIJdlImO6LXn5yr4FGD\u002BXNEMPm\u002B8uHWbGdsAmoKjJvmxjG/QOGM4t2lCipFKvf4lulzP9iE\u002B4XwMwn6yjlI3QMAtRofxLiRx14cCei3kUFvY3twh1yzYcq7zx3XghikXC0nRGXd6MIw4XiKaOGdOKHIm2bN2FW2TVNPZAWaujU1d727kEzbkYqpP5XUKPjpHoZ8Hvax1oPXYPcSjnTMpidDVPEz0ahU7PncJKjP0hRaZkV/Hqs\u002Bg5E55C9VyQMF3JlukNQHpUzuJyH81bHrB47SyCg/TYeMBMFQCf15DyP2xkgfUUEwQrEIkPeJMa3fXtygcvDa1p8B4o[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9591b728-deb3-c0b7-2428-3e283ddf728f/test-blob-02d10d09-d2cd-92e3-ceae-bd13e8c7b35e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:27:14 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC9867A7723A\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:27:15 GMT",
        "x-ms-blob-content-md5": "NYF1V2W0NZrAom1nyPDlZA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 23:27:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:27:15.8513210Z"
      },
      "ResponseBody": "g22Au6tbYdi07rd6OFqgTV6ElQoKoPWdNpZJSSJetF9Of9\u002BqHf8HPeTjW2/ONDwhhiKLmvLiY\u002BJ34oQVERe1VjlXLLl69jBffFcmJkWFzwFaKMMA0hltaxz9Mjp68ivMLQQ2dgiCp5DyLB2avDyc8hKCuulTtYMg6cCcfMP15IosWfhAT1j514AzDqb706/fYEAn\u002BDdCeHiBFY1H5irM/EiTbmJEW6K6iONoIKfdJBYRvRuDzetT6eCAvznLsvFWZhFdaGRNmgWdbW9U2ljRo/F2NSgOSS5cQIWBxJtp79bxErqVf7uyxCIW5WB7/g6IrhxIVHzJRxziASjfy9ZpNH6ZYsidOyM1xHEF\u002BGTO4EF2\u002BBV/IJpZKMqdsn6T0vhMrLHi4pxG63P4E5AKw0\u002B4FC[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9591b728-deb3-c0b7-2428-3e283ddf728f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:27:15 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "789413572",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
