{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-30fc9854-986b-0a2f-3bef-f4e4653cfa04?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:58 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC985DDAE02A\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:26:59 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-30fc9854-986b-0a2f-3bef-f4e4653cfa04/test-blob-61af6d5b-6d06-6db2-f8a2-d057b2ce6966",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:58 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "IZaE48QJ5QyaE4gNhAwiERRABjMlbVfyzwr3fHQ5HNiw\u002B3GhyhzgUYiixvLlpOjrf79Dccg2QLM\u002BkhO5EmmXYfavXYibgUb3YLSrg6ZkDSoiC/219asQerq9YjgIJj8fC2X7NUdfUP15SxETi70N2YTolwZr4mtLnuPO3R4N7zl1i3dAaNfiwrv/PKmZ/O79sIi0H484syn6sJZkkXPfa1zYnv9FzHGsBtVLbKXBsaL00SyVWc\u002BpPNhORrhBfjBHINFNwV7vt\u002BQXBxm57EeDOP70cMBGSRGMLmEn94a4a4ekA0zUc\u002B9DBRlHfVK28FCRyw26TA5vANa/wZP9yMB[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-30fc9854-986b-0a2f-3bef-f4e4653cfa04/test-blob-61af6d5b-6d06-6db2-f8a2-d057b2ce6966",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:58 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC985DE57A44\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:26:59 GMT",
        "x-ms-blob-content-md5": "peAU9wGJR\u002BbFeW7nk8IZkg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 23:26:59 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:26:59.4806340Z"
      },
      "ResponseBody": "IZaE48QJ5QyaE4gNhAwiERRABjMlbVfyzwr3fHQ5HNiw\u002B3GhyhzgUYiixvLlpOjrf79Dccg2QLM\u002BkhO5EmmXYfavXYibgUb3YLSrg6ZkDSoiC/219asQerq9YjgIJj8fC2X7NUdfUP15SxETi70N2YTolwZr4mtLnuPO3R4N7zl1i3dAaNfiwrv/PKmZ/O79sIi0H484syn6sJZkkXPfa1zYnv9FzHGsBtVLbKXBsaL00SyVWc\u002BpPNhORrhBfjBHINFNwV7vt\u002BQXBxm57EeDOP70cMBGSRGMLmEn94a4a4ekA0zUc\u002B9DBRlHfVK28FCRyw26TA5vANa/wZP9yMBeX5uRFOn7r8QOsWum/8u/1T4RlSx4/h95NQJ1FbJcRTxZ6R63JNtnlRtIq5uiyQEL/\u002B[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-30fc9854-986b-0a2f-3bef-f4e4653cfa04?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:58 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1532509273",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
