{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-65bb907f-766d-9f3d-d7aa-a3f9e10ab712?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:44:02 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC14A3BFC39D\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:44:03 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-65bb907f-766d-9f3d-d7aa-a3f9e10ab712/test-blob-c3a53f79-6278-164f-51fb-e035d75d9fac",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 12 Dec 2022 07:44:02 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "BJ9MjhaK7e6bctzCTJYWQ9mujKvWa6UEFPESCk2n6R4eI5cSeCdDEHKoZBVinQxnR9jHXnaod5j5R3okeOOg9Im\u002BpCj\u002BBMqya3w5LQeQonblqsJ134qodaz\u002BGDGtHpiOCG\u002BLpPjjaUMOFfP6b0mRaKQDP84hKhT/FS58/\u002BuYBUzkqiWXBf5\u002BAUF\u002BZ8mWrgZibbCMqd7Kbd1ai47KZ2lYdRCnFsUk\u002BWKmhT6MosNLaWcoGpI7DFttGTxHPHlvs5nXJvK57phBPXNN5SOgPcsaDyInok3WHGi0OfyJ3b3pN9GktXzRkXrO59we7iY3zdxwLSxX[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-65bb907f-766d-9f3d-d7aa-a3f9e10ab712/test-blob-c3a53f79-6278-164f-51fb-e035d75d9fac",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:44:02 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC14A3CA6C4C\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:44:03 GMT",
        "x-ms-blob-content-md5": "b2fqVpCh996luWoS70l/3w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 07:44:03 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T07:44:03.1755340Z"
      },
      "ResponseBody": "BJ9MjhaK7e6bctzCTJYWQ9mujKvWa6UEFPESCk2n6R4eI5cSeCdDEHKoZBVinQxnR9jHXnaod5j5R3okeOOg9Im\u002BpCj\u002BBMqya3w5LQeQonblqsJ134qodaz\u002BGDGtHpiOCG\u002BLpPjjaUMOFfP6b0mRaKQDP84hKhT/FS58/\u002BuYBUzkqiWXBf5\u002BAUF\u002BZ8mWrgZibbCMqd7Kbd1ai47KZ2lYdRCnFsUk\u002BWKmhT6MosNLaWcoGpI7DFttGTxHPHlvs5nXJvK57phBPXNN5SOgPcsaDyInok3WHGi0OfyJ3b3pN9GktXzRkXrO59we7iY3zdxwLSxXRxFMAQmJBLWcuGC2Y65S/IhPSH6nWbpwuC5BfGwfGK\u002BRke/AV7RySIzEMi98aIp45dBUIeSur\u002B5W3EjbR4hJfJ\u002BwJNK/kqXU3ADx4yaL80\u002BkyZebyvbL4\u002BIAaXtrlwAEe7aPzEO4uVMrgEXkvMzIyuj4N33wrrGp5UHwvigpaEX/7Wdw/CcM7BBEb0qw5iYVOJ6ScmCCE8wE5ecBx/sqARgA5M5kWM7B7EttrD5n\u002BP4a2oWKlvblfNmabBc/CiQVGW0ysAJYsODQ0YYUFWeOnOzo5u11oGshGmf1yey2geEmWJPQNUj8wiqlucVw0GdyDM8qVyQ3oHkCEJWaY\u002Bb0GVCk7r3TvWak7CPD0OY="
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-65bb907f-766d-9f3d-d7aa-a3f9e10ab712?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:44:02 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "151936141",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
