{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-714c5d61-de80-2651-7f31-1a2d83a58c05?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:40 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC9852DA31EF\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:26:40 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-714c5d61-de80-2651-7f31-1a2d83a58c05/test-blob-c5cfd9df-072f-ad9c-6637-69eda2f5252b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:40 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "9wcPkWxKTsVAJADrjZ1B/kdYDq3nnBPDt6yTcIjnFafj3XnPnzzJtUYZVH77nKXdXKtEEozp3Fv0TNnAtt49WQ5ZB7Ajcl8KjlhmzUeUxxoGthPcogMb\u002BQAe21JjCf5o3PtvopT0uepMOYMzgw4TX4S\u002BuQDKYLYLPQ6vBZYMp4VZ/fFMJSWFEvwpkGl/53XxCnzOpFD\u002BnXtEY2SGRLNTQJL92YUdxzpfOKYDodBNi1aYvvsaPgM0W2B1B8HA/81I1VDXgg3w00NBbmup\u002B/ur99cO7oa4OQGOyX4lqL94nznZusx/dglIqOq32NCYil9kyRDpshBGkJxOSLiOyiuDyc4x[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-714c5d61-de80-2651-7f31-1a2d83a58c05/test-blob-c5cfd9df-072f-ad9c-6637-69eda2f5252b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:40 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC9852E4C81F\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:26:41 GMT",
        "x-ms-blob-content-md5": "5Jb41BvsB81pNrq9\u002B56c4g==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 23:26:41 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:26:41.0211359Z"
      },
      "ResponseBody": "9wcPkWxKTsVAJADrjZ1B/kdYDq3nnBPDt6yTcIjnFafj3XnPnzzJtUYZVH77nKXdXKtEEozp3Fv0TNnAtt49WQ5ZB7Ajcl8KjlhmzUeUxxoGthPcogMb\u002BQAe21JjCf5o3PtvopT0uepMOYMzgw4TX4S\u002BuQDKYLYLPQ6vBZYMp4VZ/fFMJSWFEvwpkGl/53XxCnzOpFD\u002BnXtEY2SGRLNTQJL92YUdxzpfOKYDodBNi1aYvvsaPgM0W2B1B8HA/81I1VDXgg3w00NBbmup\u002B/ur99cO7oa4OQGOyX4lqL94nznZusx/dglIqOq32NCYil9kyRDpshBGkJxOSLiOyiuDyc4x0EAvLIDNxUabAGAx9T4ewN6uj\u002B0pkiovMS1Rud2\u002BNA8BZ7ofNZ2PG\u002BzKqo87HVJ5cApN1DnhCD0W//pTfAxp3cxRMI6E/4tAH3MAX\u002Bea9BTb10nScF/VH198CTWiPJ7fYM3C6uzD9XB\u002BDLXF4KhVewvmeKXDlmxtexAvB/VVnuLUIf4a2AonF\u002BHYVGSqDz62J44qu8T5HMpgVW7clO56KW7S8L\u002BqO6IAv2DD6kIIw2vSeeBnK\u002BIe2wQzuYKbS4PzXSr11x5\u002BDOvrKfxjNjKIWJICCRoNE/2MtBW7doIgZXTdz4wXEutMU230ewLluqTSq2HvmUFo5UotaSIJw5U="
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-714c5d61-de80-2651-7f31-1a2d83a58c05?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:40 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "360178247",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
