{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-052bd35a-d6fe-514a-ddac-36ff335b0096?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:45 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC9856105303\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:26:46 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-052bd35a-d6fe-514a-ddac-36ff335b0096/test-blob-83a7eb14-1124-fae3-6ae8-98e171f36bae",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:45 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "11Ahe\u002BsQEQjLczbsd55iMAl9\u002BSJDNPuuqPbAMBousc0WarinOz3DllFdDzwrEVXOHmafdDJOYqJVc9L0UOHunMFp1QzmuvXMumPQ5iW/g5eh8RGzjz2byAcVUsdqzkVwbnJ6wg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "PfjW0\u002BV16OXY\u002BHQ1b8kqtQ==",
        "ETag": "\u00220x8DADC98562151F8\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:26:46 GMT",
        "x-ms-content-crc64": "t\u002BfM\u002BuT1mQQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:26:46.4510456Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-052bd35a-d6fe-514a-ddac-36ff335b0096/test-blob-83a7eb14-1124-fae3-6ae8-98e171f36bae",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:45 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/100",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC98562151F8\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:26:46 GMT",
        "x-ms-blob-content-md5": "PfjW0\u002BV16OXY\u002BHQ1b8kqtQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 23:26:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:26:46.4510456Z"
      },
      "ResponseBody": "11Ahe\u002BsQEQjLczbsd55iMAl9\u002BSJDNPuuqPbAMBousc0WarinOz3DllFdDzwrEVXOHmafdDJOYqJVc9L0UOHunMFp1QzmuvXMumPQ5iW/g5eh8RGzjz2byAcVUsdqzkVwbnJ6wg=="
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-052bd35a-d6fe-514a-ddac-36ff335b0096?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:45 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "349613465",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
