{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6b8484e9-992c-fb9c-9c08-eedf373e177e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:44:52 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC14C1943305\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:44:53 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6b8484e9-992c-fb9c-9c08-eedf373e177e/test-blob-68a5021c-0fbb-d978-d908-083474f420a9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 12 Dec 2022 07:44:52 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "/0I4hNmpGk/Fx3vw74ahk76D0TyOwipWCKj034uKJxLkPWEWfCkH2Lgru70l4fS5V0XBeeot4zwY4nswtTvEOp9pDLEkixaVe/iEYgZtMCezOodFyK4ot1ok/pqt1iN9Z4AdvA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "hyXpbAQC7JOF\u002BHJR01j6rA==",
        "ETag": "\u00220x8DADC14C19EC4B5\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:44:53 GMT",
        "x-ms-content-crc64": "7BYPRdMXZSU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T07:44:53.2210869Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6b8484e9-992c-fb9c-9c08-eedf373e177e/test-blob-68a5021c-0fbb-d978-d908-083474f420a9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:44:52 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/100",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC14C19EC4B5\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:44:53 GMT",
        "x-ms-blob-content-md5": "hyXpbAQC7JOF\u002BHJR01j6rA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 07:44:53 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T07:44:53.2210869Z"
      },
      "ResponseBody": "/0I4hNmpGk/Fx3vw74ahk76D0TyOwipWCKj034uKJxLkPWEWfCkH2Lgru70l4fS5V0XBeeot4zwY4nswtTvEOp9pDLEkixaVe/iEYgZtMCezOodFyK4ot1ok/pqt1iN9Z4AdvA=="
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6b8484e9-992c-fb9c-9c08-eedf373e177e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:44:52 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "68559984",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
