{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-61e835ed-8b09-4579-28f7-8632ecdeafc6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:52 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC985A6BB61C\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:26:53 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-61e835ed-8b09-4579-28f7-8632ecdeafc6/test-blob-dd315fc3-6c3b-8d70-b4a7-8cbc0dda7e48",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:52 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC985A7600E4\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:26:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:26:53.7169124Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-61e835ed-8b09-4579-28f7-8632ecdeafc6/test-blob-dd315fc3-6c3b-8d70-b4a7-8cbc0dda7e48?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:52 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "LTPG5y7AqZFVukkamRJup0tMLULlkCOvlPX5xMcOtPNCNXc9QBuqwRI2vkdcCgut5B9hA27li50PFlI5xuTKRgZW2GSbMGcwomwvrtLcUorqTN\u002BnrbCFXanZLSnIcfotbHdABjGnErO4MWACtd3LMsPITnoFIplV0Hu6wQM9ZzFxAkJam0xYQzkr7nxPg6fMDvpl/yJ/J0ne6zW27FCweskvkLOacZd3bwtA2TMcBU3T7bMI12gO8tr4e7AWolbpenSzIPP0MZ1j7o8XPk4VweXo4v\u002BdqKNgIZ3YovXnYM20V16/aeVa37sVpOjY9rOM4rrKLr9XS9LQUv5VG4\u002BofI3BY\u002BfvVlcAjgNEhwO6iCrpTL86HDIOXQuM7xfmBMMrbShbFpPMnIx[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-61e835ed-8b09-4579-28f7-8632ecdeafc6/test-blob-dd315fc3-6c3b-8d70-b4a7-8cbc0dda7e48",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:52 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC985A7FC378\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:26:53 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 23:26:53 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:26:53.7169124Z"
      },
      "ResponseBody": "LTPG5y7AqZFVukkamRJup0tMLULlkCOvlPX5xMcOtPNCNXc9QBuqwRI2vkdcCgut5B9hA27li50PFlI5xuTKRgZW2GSbMGcwomwvrtLcUorqTN\u002BnrbCFXanZLSnIcfotbHdABjGnErO4MWACtd3LMsPITnoFIplV0Hu6wQM9ZzFxAkJam0xYQzkr7nxPg6fMDvpl/yJ/J0ne6zW27FCweskvkLOacZd3bwtA2TMcBU3T7bMI12gO8tr4e7AWolbpenSzIPP0MZ1j7o8XPk4VweXo4v\u002BdqKNgIZ3YovXnYM20V16/aeVa37sVpOjY9rOM4rrKLr9XS9LQUv5VG4\u002BofI3BY\u0[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-61e835ed-8b09-4579-28f7-8632ecdeafc6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:26:52 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "562357783",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
