{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-180a45dd-bad9-4a92-7c8e-dbb8de0a8a6e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:27:19 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC986AA313F3\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:27:20 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-180a45dd-bad9-4a92-7c8e-dbb8de0a8a6e/test-blob-624298cf-67c9-f39b-b3f3-478ba5e9c84c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 12 Dec 2022 23:27:19 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC986AB2BA11\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:27:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:27:20.9584145Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-180a45dd-bad9-4a92-7c8e-dbb8de0a8a6e/test-blob-624298cf-67c9-f39b-b3f3-478ba5e9c84c?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Dec 2022 23:27:20 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "JwhsBKemk1IGXNqnA4lnBxTD5J49r0guekLz1lydq9mNB7fAachGpmASfsWxlWnK0d1jNgjx8XfAPolksr32abAAGfzSp55MfT49KzGDfeXZKAR/OnXRmxU/ACs/4vSjHBQUsHtt\u002BCo\u002BF7nKs8ZFPMCkiom4di47L37mkqdzDJpJmg4cbsxqazDaQCO8BudP\u002BsNqm1dr66Xm2YD9hmaCywoegRm3KM7zOh5Y3TULfimWl5jjCHFD3q5oNpRLbOXKV3UZnoXOl9H1dmE4Eg1v2lpXZ\u002B/OnsKY2qJqT/E5p805jobA8uCkxwDG7pIQCsyh\u002BFw69AX1/LizgcPiY0jfvM6T/4OHr\u002Bh5s5/uB7Avh8/WyVaV/7PIQ5LNDHEdwWS45[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-180a45dd-bad9-4a92-7c8e-dbb8de0a8a6e/test-blob-624298cf-67c9-f39b-b3f3-478ba5e9c84c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:27:20 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC986AC2482D\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:27:21 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 23:27:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:27:20.9584145Z"
      },
      "ResponseBody": "JwhsBKemk1IGXNqnA4lnBxTD5J49r0guekLz1lydq9mNB7fAachGpmASfsWxlWnK0d1jNgjx8XfAPolksr32abAAGfzSp55MfT49KzGDfeXZKAR/OnXRmxU/ACs/4vSjHBQUsHtt\u002BCo\u002BF7nKs8ZFPMCkiom4di47L37mkqdzDJpJmg4cbsxqazDaQCO8BudP\u002BsNqm1dr66Xm2YD9hmaCywoegRm3KM7zOh5Y3TULfimWl5jjCHFD3q5oNpRLbOXKV3UZnoXOl9H1dmE4Eg1v2lpXZ\u002B/OnsKY2qJqT/E5p805jobA8uCkxwDG7pIQCsyh\u002BFw69AX1/LizgcPiY0jfvM6T/4OHr\u002Bh5s5/uB7Avh8/WyVaV/7PIQ5LNDHEdwWS45zLDfQtIGkl0wEFmBvQIg/nzDJrxSb0by7vxuaJ2XPE6NiB9bArEja4MIT5yYjydxIl3KrXJxp11qLFQV2Cm/WRPK9DUihfvL37r5Ch\u002BqGl\u002BU/QZ/jI8cXCDCMNYczZNZiPaIzdsyTpxiPs23eF09gBI0QNsjP4xE7lgUYFTlrtInn4Eo4UyEYq6p3Y2BZOODhHDEKEy4dklqA99DHi4HvE/7j9icFN6FsB5seWI\u002Bw0m0UJwkIYZFbyk3/t1tQUSAYmF9hZTK52\u002BSPnhuTD0na0CVjs1SI1qJtmDvpFXBGA="
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-180a45dd-bad9-4a92-7c8e-dbb8de0a8a6e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:27:20 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1324168622",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
