{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2d69125d-dd61-14b5-376b-2e87bb8ea22c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:01 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF31302B46\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:01 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2d69125d-dd61-14b5-376b-2e87bb8ea22c/test-blob-0c8da463-393b-2eda-648b-5c47a32705c7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:01 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF313B942B\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:00:01.3138987Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2d69125d-dd61-14b5-376b-2e87bb8ea22c/test-blob-0c8da463-393b-2eda-648b-5c47a32705c7?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:01 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "iIXAOGiBOrWsPhegq4pAn31XMdSfxK2RSGrqkQWBCe8ByV2tvRgwkWUX/rEZfpRQks34RyhWxcPYL/D\u002BlqiwKzQnnuEsk\u002BJlJ6BuiMb7d8rVmv83iMHHqwOa1I4nMfq8ZtJ88t\u002ByI/7rkyCI5z393bcmKfypeKJzYPLekr9TPfWlsiH0foXqInYATPWgPsTFnPfWAQj\u002BE\u002B0vCZLs1JE/l1Uq4jUcCV4yOwaGqCyt0iEuGPXIfTztp54zxHXz/U3kwbSfdVyPqZOYpMUBd2vAgjZwvrubdxoZPTuW6ETpPz65oeZ4DVzFn29hL9l26y8zckI\u002Bgj\u002BRSEqZhjgg\u002BMBPrmSHSNaESHTZqx5MOkdBo1IMY3YCq73\u00[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2d69125d-dd61-14b5-376b-2e87bb8ea22c/test-blob-0c8da463-393b-2eda-648b-5c47a32705c7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:01 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF31457DCB\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:01 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 07:00:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:00:01.3138987Z"
      },
      "ResponseBody": "iIXAOGiBOrWsPhegq4pAn31XMdSfxK2RSGrqkQWBCe8ByV2tvRgwkWUX/rEZfpRQks34RyhWxcPYL/D\u002BlqiwKzQnnuEsk\u002BJlJ6BuiMb7d8rVmv83iMHHqwOa1I4nMfq8ZtJ88t\u002ByI/7rkyCI5z393bcmKfypeKJzYPLekr9TPfWlsiH0foXqInYATPWgPsTFnPfWAQj\u002BE\u002B0vCZLs1JE/l1Uq4jUcCV4yOwaGqCyt0iEuGPXIfTztp54zxHXz/U3kwbSfdVyPqZOYpMUBd2vAgjZwvrubdxoZPTuW6ETpPz65oeZ4DVzFn29hL9l26y8zckI\u002Bgj\u002BRSEqZhjgg\u002BMBPrmSHSNaESHTZqx5MOkdBo1IMY3YCq73\u002BJ1ib3ockpaeuEoF07qNZrirNZdYhRQ4DWOPlE5RKTQOniCF96WnttAZ3nSfGzbSvs7VMNEbm3eFJmIajPpESZMV9zWWB28XA4LDQqafmPYsuNmDe/Rm9wKs/M1DjSXV1ZDhiSP9OLdfwjFOVFjM5Ylv7dQgwM2eswAy6Qqh03ZY6W0VuhPSL4AmI7nHFJ6p4BdD159RtRDDRtofzlOovfK68W7vuy95mcJT\u002BqEX15pliQjzXfvXCzBYUnc1tl0weWXLCCMvviTrxj3c/b5zr3M/tkVGuWP25\u002Bo6k2S0R\u002BNhI307TM97Ocrg="
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2d69125d-dd61-14b5-376b-2e87bb8ea22c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:01 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "417244102",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
