{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d0448521-9dd7-fe63-4f48-d254262fdeb8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:45:13 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC14CE0F8C13\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:45:14 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d0448521-9dd7-fe63-4f48-d254262fdeb8/test-blob-a5e3d67e-b00d-9c0c-bb95-bffb98fba786",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 12 Dec 2022 07:45:13 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC14CE19D370\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:45:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T07:45:14.1602160Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d0448521-9dd7-fe63-4f48-d254262fdeb8/test-blob-a5e3d67e-b00d-9c0c-bb95-bffb98fba786?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Dec 2022 07:45:13 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "8ONI12EMRmj\u002BWuwjYTI/evXziCDhD\u002Byxh4Gv/1qx1Ui6cmtKOk4f60\u002Bc3AGmPCKf5EUOfDrxGuH2l0/gXEYNTISjaO7H9T\u002Bm1JzQRDLrC0teDxsUo1gOyVeJVKP/P44Ij498AtMz1\u002B8FZ6idINWuC4wEgU0r\u002BakslZ\u002BXPaCcp5UNyLWjbgh4KzcrDjuwcaiC20gX\u002B71B3JbmUG0znJlOacASj1cgC5yDi1YVAOpueyT2FGJXhKzXzOsfvB2aRY6d3KV6neFQYc\u002Bsk29nK9yrd9RJPIc39uQTO8JsAE5/6EbHdyNF895CpbOSq/A9b6EPc0RJUQgGZuXAZ2Ie5GGBLKson7O4ZoT2B5bUpEvz1sshXYwJNp[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d0448521-9dd7-fe63-4f48-d254262fdeb8/test-blob-a5e3d67e-b00d-9c0c-bb95-bffb98fba786",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:45:13 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC14CE239602\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:45:14 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 07:45:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T07:45:14.1602160Z"
      },
      "ResponseBody": "8ONI12EMRmj\u002BWuwjYTI/evXziCDhD\u002Byxh4Gv/1qx1Ui6cmtKOk4f60\u002Bc3AGmPCKf5EUOfDrxGuH2l0/gXEYNTISjaO7H9T\u002Bm1JzQRDLrC0teDxsUo1gOyVeJVKP/P44Ij498AtMz1\u002B8FZ6idINWuC4wEgU0r\u002BakslZ\u002BXPaCcp5UNyLWjbgh4KzcrDjuwcaiC20gX\u002B71B3JbmUG0znJlOacASj1cgC5yDi1YVAOpueyT2FGJXhKzXzOsfvB2aRY6d3KV6neFQYc\u002Bsk29nK9yrd9RJPIc39uQTO8JsAE5/6EbHdyNF895CpbOSq/A9b6[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d0448521-9dd7-fe63-4f48-d254262fdeb8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:45:13 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1205840959",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
