{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ee213f8d-2c0d-606c-e414-150dae8c00e4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:27:33 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC9872C66E6A\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:27:34 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ee213f8d-2c0d-606c-e414-150dae8c00e4/test-blob-77ad5df3-0d5c-4848-5a4c-1999d277a207",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 12 Dec 2022 23:27:33 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC9872D1031E\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:27:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:27:34.5786654Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ee213f8d-2c0d-606c-e414-150dae8c00e4/test-blob-77ad5df3-0d5c-4848-5a4c-1999d277a207?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Dec 2022 23:27:33 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "e0TNNsBujFIvi54ne9NPbtdXpjZ0Qte4m6W/H5vC4oBshfm0Hj0Bgw\u002BvMKTTZzF/w5aS57KRljltFZsbr2y3bKgdu/Xam1CaViMnxBEy5DRzP1wEL/vN2\u002B\u002B/Rgii5tSj\u002BMP7taw7pSdF\u002BJCPadEoOjBnp28Psj2tUN8GG1RH\u002BHBOg8xNNy6IN5o0vzdqPnEdlwzYOj5kk0aGTWXMNYnT/QAgQOYF2gMB33DV2vIFQhJt6INIb70x6u\u002BFxunJuwIQYcE3Sv2LF7wI1lvOj7lTgQpTX0wGi45C7lb2gBQZOCNuxHgxzvgU4dDHP5liY1s2MUXedVy1CtYz9FunlZen7p03YMpAIrISP317Pkv04Iv6v0/OO8LHuLqi/tqd[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ee213f8d-2c0d-606c-e414-150dae8c00e4/test-blob-77ad5df3-0d5c-4848-5a4c-1999d277a207",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:27:33 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC9872DC4C1B\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 23:27:34 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 23:27:34 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T23:27:34.5786654Z"
      },
      "ResponseBody": "e0TNNsBujFIvi54ne9NPbtdXpjZ0Qte4m6W/H5vC4oBshfm0Hj0Bgw\u002BvMKTTZzF/w5aS57KRljltFZsbr2y3bKgdu/Xam1CaViMnxBEy5DRzP1wEL/vN2\u002B\u002B/Rgii5tSj\u002BMP7taw7pSdF\u002BJCPadEoOjBnp28Psj2tUN8GG1RH\u002BHBOg8xNNy6IN5o0vzdqPnEdlwzYOj5kk0aGTWXMNYnT/QAgQOYF2gMB33DV2vIFQhJt6INIb70x6u\u002BFxunJuwIQYcE3Sv2LF7wI1lvOj7lTgQpTX0wGi45C7lb2gBQZOCNuxHgxzvgU4dDHP5liY1s2MUXedVy1[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ee213f8d-2c0d-606c-e414-150dae8c00e4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 23:27:33 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1563499012",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
