{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-48307568-f57b-5dbe-e18c-a65e9306971a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:45:13 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC14CE5A1EA9\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:45:14 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-48307568-f57b-5dbe-e18c-a65e9306971a/test-blob-847cfca9-dde9-2e14-bf2c-af2d9ade137e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 12 Dec 2022 07:45:14 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADC14CE632DD6\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:45:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T07:45:14.6409430Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-48307568-f57b-5dbe-e18c-a65e9306971a/test-blob-847cfca9-dde9-2e14-bf2c-af2d9ade137e?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Dec 2022 07:45:14 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "y6sFIGjCAbGhhUr8JrcftUL\u002B7p2ox5dFNHsX4RfHyfm2XpFjA8pIfPuEqmAWyNt7WypQLlKZsAQUwOztqh\u002BZ2rtRRccmu7J4tnGhIxw2L2ufnIbtdpqmHa6MT0PdW9Hc6tCkxYITVZ932Hjh94zn3ZGATQ6ZrGMgqigZmWxvmlqfxThMkWrpi0bmdZ0ixSYipHKxXQ3CQj5shBpa\u002BrszCD4dQTFTm0snlsHHszbF/uQC9vX5vTxN3IL63w1Pj5GLsm1fBIT0zgknisZM\u002Bo8IpoU1VwPGOUoC0GSuWbw91wcwPADIZvpgDijr0jJ1AOHz8TiIGTeNxXgiXDMfRXVM6bO/HL6OP0CL1Unb2mYXjNCCu2iDtL7PonaHpgnGQMizn\u002Bl/tu[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-48307568-f57b-5dbe-e18c-a65e9306971a/test-blob-847cfca9-dde9-2e14-bf2c-af2d9ade137e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:45:14 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADC14CE6CF06A\u0022",
        "Last-Modified": "Mon, 12 Dec 2022 07:45:14 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 12 Dec 2022 07:45:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-12T07:45:14.6409430Z"
      },
      "ResponseBody": "y6sFIGjCAbGhhUr8JrcftUL\u002B7p2ox5dFNHsX4RfHyfm2XpFjA8pIfPuEqmAWyNt7WypQLlKZsAQUwOztqh\u002BZ2rtRRccmu7J4tnGhIxw2L2ufnIbtdpqmHa6MT0PdW9Hc6tCkxYITVZ932Hjh94zn3ZGATQ6ZrGMgqigZmWxvmlqfxThMkWrpi0bmdZ0ixSYipHKxXQ3CQj5shBpa\u002BrszCD4dQTFTm0snlsHHszbF/uQC9vX5vTxN3IL63w1Pj5GLsm1fBIT0zgknisZM\u002Bo8IpoU1VwPGOUoC0GSuWbw91wcwPADIZvpgDijr0jJ1AOHz8TiIGTeNxXgiXDMfRXVM6bO[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-48307568-f57b-5dbe-e18c-a65e9306971a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Dec 2022 07:45:14 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "944983392",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
