{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2e86b562-bc3b-fa20-aeb4-b9e9d657a4a6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:59:38 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF23D3456C\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:59:38 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2e86b562-bc3b-fa20-aeb4-b9e9d657a4a6/test-blob-bd86e6e4-12df-6ba6-3eac-2fd8bf55a786",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Sat, 22 Apr 2023 06:59:38 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF23DCDB09\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:59:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:59:38.8827401Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2e86b562-bc3b-fa20-aeb4-b9e9d657a4a6/test-blob-bd86e6e4-12df-6ba6-3eac-2fd8bf55a786?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Sat, 22 Apr 2023 06:59:39 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "n5gh/Mmq3KwFJMeY06pxG7bkAGJfyWxM3Lw3vLKlk8bAx6uss1mj0T0ZdjFp\u002BvFQ1Km20L5AwNYs1CANcx/6YJEB1wz/xWhdQC4lRlI64\u002BHL5\u002BcI7sIIfwbUgN84ll4dHhagaCLkUQ9BWZCPG3qD8fE\u002BQYs38XHO\u002BFcFKkWJJKnQByc8mnq\u002B5pbYx5QyeWSMUY7u\u002BlXT5S2k0W/L3ifKtzTmvxNSRlZ2f1r1XyndnH/zeNi2mypU/CL5mMkK8whvDQ9fS7pROgo3d3r63YYDxzXw12VOExwKksLxWK6Na4xShVEafVDFoT7OfyOvWR6b9tGTGhuiIPnyVbj3X\u002BFbqQzup1g06UnkKjYngJT5WjijVWLd\u002Bl[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2e86b562-bc3b-fa20-aeb4-b9e9d657a4a6/test-blob-bd86e6e4-12df-6ba6-3eac-2fd8bf55a786",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:59:39 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF23EF9D02\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:59:39 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 06:59:38 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:59:38.8827401Z"
      },
      "ResponseBody": "n5gh/Mmq3KwFJMeY06pxG7bkAGJfyWxM3Lw3vLKlk8bAx6uss1mj0T0ZdjFp\u002BvFQ1Km20L5AwNYs1CANcx/6YJEB1wz/xWhdQC4lRlI64\u002BHL5\u002BcI7sIIfwbUgN84ll4dHhagaCLkUQ9BWZCPG3qD8fE\u002BQYs38XHO\u002BFcFKkWJJKnQByc8mnq\u002B5pbYx5QyeWSMUY7u\u002BlXT5S2k0W/L3ifKtzTmvxNSRlZ2f1r1XyndnH/zeNi2mypU/CL5mMkK8whvDQ9fS7pROgo3d3r63YYDxzXw12VOExwKksLxWK6Na4xShVEafVDFoT7OfyOvWR6b9tGTGhui[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2e86b562-bc3b-fa20-aeb4-b9e9d657a4a6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:59:39 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1981136019",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
