{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-80cc31bb-b33c-4361-47eb-7d17bfa26e13?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 28 Apr 2023 19:36:49 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB481FE9657F66\u0022",
        "Last-Modified": "Fri, 28 Apr 2023 19:36:49 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-80cc31bb-b33c-4361-47eb-7d17bfa26e13/test-blob-1cdb2de3-4392-8ae7-3781-9090b687aa43",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 28 Apr 2023 19:36:49 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "tXD2ayf/f9ZtmOplF/Bf1l\u002BtgIRvjA2XAbtxEzaHS40mDNpGkT4cz\u002Bwm/OZhxQi6HzcAkSrWFCliXmprjWuf5kxcPwoWGEQhkLCXSZAnNjuyt/T/h7ljT/ix5DLTsUKBhhaZBYb\u002BpAby3gB6P8qYOycuuNZ2n1\u002BT\u002Be8SZDQSTd9tFsJ6jTG0tBPtDai46RAtGakLpPhsCua2BguX6z/R4JEhDCkIHq32egTCiZK32g/e5UuLBqjnAQvbw4YlHMnTGy0Wl93nJPr7FCr0qYFU/yz7uQX0RtnoOQodLFon0F067m1koEIy98BQkPJ981eKhsNaKWPD39VULl3Syve[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-80cc31bb-b33c-4361-47eb-7d17bfa26e13/test-blob-1cdb2de3-4392-8ae7-3781-9090b687aa43",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Apr 2023 19:36:49 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB481FE97085F0\u0022",
        "Last-Modified": "Fri, 28 Apr 2023 19:36:50 GMT",
        "x-ms-blob-content-md5": "Dt/Nl6jv9oxLHHVzupHPTA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 28 Apr 2023 19:36:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-28T19:36:50.0718844Z"
      },
      "ResponseBody": "tXD2ayf/f9ZtmOplF/Bf1l\u002BtgIRvjA2XAbtxEzaHS40mDNpGkT4cz\u002Bwm/OZhxQi6HzcAkSrWFCliXmprjWuf5kxcPwoWGEQhkLCXSZAnNjuyt/T/h7ljT/ix5DLTsUKBhhaZBYb\u002BpAby3gB6P8qYOycuuNZ2n1\u002BT\u002Be8SZDQSTd9tFsJ6jTG0tBPtDai46RAtGakLpPhsCua2BguX6z/R4JEhDCkIHq32egTCiZK32g/e5UuLBqjnAQvbw4YlHMnTGy0Wl93nJPr7FCr0qYFU/yz7uQX0RtnoOQodLFon0F067m1koEIy98BQkPJ981eKhsNaKWPD39VULl3Syveg1EPNuboT8F/pycJFo7bmakaykqWWzKf5dw\u002BXEHHlYCzIsLyusDmddpZkcWChfjsfbc[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-80cc31bb-b33c-4361-47eb-7d17bfa26e13?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Apr 2023 19:36:49 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1460482307",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
