{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ca288d38-7bc1-9c5b-f70e-3797d557948a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:34 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF44FE2153\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:34 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ca288d38-7bc1-9c5b-f70e-3797d557948a/test-blob-2d28240c-25a6-0aa4-0ff9-8e03d58726df",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:34 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "GMS/kMJovm2DwBQs28BmCTABx1Hvx8uzoIob0Rr\u002B3GBEcqUDc/3io2W6quUQdy5Pk4XT1MDU71D5C/A4TexThOS06GkbYpYyHiPsNR3moihbzD6VKwegb4NUCmcNqVZ4ZiUBXI/FMzHuoLWc57oyE2nH3ICuvljcFHjlxlcvJXXNdM745EWZlZgNpotSA4jJIvf\u002BRczVyajMJEgW4G3Zv3pAznPrOi4jLUfnoRfNihDwHKNgMd\u002Bo\u002BKolLMD8g7UrNOcRETQU3ejI2hiF7SiQ/5k4JsPJeI6amNbJxg1uJqqRvG0wu3jb2z\u002B7l1bHIgqBlS0mxF3yYbtZd3leSxb[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ca288d38-7bc1-9c5b-f70e-3797d557948a/test-blob-2d28240c-25a6-0aa4-0ff9-8e03d58726df",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:34 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF45083DB4\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:34 GMT",
        "x-ms-blob-content-md5": "NrlU0yKh\u002Ba8WRcAO1GV9/w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 07:00:34 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:00:34.5318836Z"
      },
      "ResponseBody": "GMS/kMJovm2DwBQs28BmCTABx1Hvx8uzoIob0Rr\u002B3GBEcqUDc/3io2W6quUQdy5Pk4XT1MDU71D5C/A4TexThOS06GkbYpYyHiPsNR3moihbzD6VKwegb4NUCmcNqVZ4ZiUBXI/FMzHuoLWc57oyE2nH3ICuvljcFHjlxlcvJXXNdM745EWZlZgNpotSA4jJIvf\u002BRczVyajMJEgW4G3Zv3pAznPrOi4jLUfnoRfNihDwHKNgMd\u002Bo\u002BKolLMD8g7UrNOcRETQU3ejI2hiF7SiQ/5k4JsPJeI6amNbJxg1uJqqRvG0wu3jb2z\u002B7l1bHIgqBlS0mxF3yYbtZd3leSxbaWrNt9DG7YEMgXEqDDuA30nXMRzHgR2FNn1qx10T/fZAo4T2jWS7YxjXpBWgSblPaIqQDkQT[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ca288d38-7bc1-9c5b-f70e-3797d557948a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:34 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1756796579",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
