{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-99581e3a-77ab-e918-05b1-d429a9a4fcd7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:33 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF449646E0\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:33 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-99581e3a-77ab-e918-05b1-d429a9a4fcd7/test-blob-b8b6014b-1833-369e-4e4d-434e69bb4bd4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:33 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "tnax/eGqxe/t/n9YNd7fnjgqEZx6QilfDYwExOCpLTeD\u002BTuzBSYCoTzGyjWZRQBvbqQWP6qvWnNNUu9UpQEPRNFH1TyiLJgSJ29gs3j0xciLlFY8k\u002B2M1J7IZrM3rfs6t4VjUW/EzUELAxc6Tqb6WIwmyRGr0rHjuwGd2sbl23p0JfzzkHNYx8cUMI/VUoX3zQ0nEOPpj\u002BTTgJZuJvJ7JiidxSmqBsgYzgJKlqEiDmh8pQ25vcqWipYXIBDd6qDUmQpmOIxbTMZEDkLhn/hDsHIt8YDlwmhdBjuTk\u002Ba4O\u002BRhdf2Xu9XcIFlGdK\u002BIteud1G\u002Ber/gf7[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-99581e3a-77ab-e918-05b1-d429a9a4fcd7/test-blob-b8b6014b-1833-369e-4e4d-434e69bb4bd4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:34 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF44A0FF80\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:33 GMT",
        "x-ms-blob-content-md5": "HRKeBJJxoSq8r83kjBq9FQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 07:00:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:00:33.8552704Z"
      },
      "ResponseBody": "tnax/eGqxe/t/n9YNd7fnjgqEZx6QilfDYwExOCpLTeD\u002BTuzBSYCoTzGyjWZRQBvbqQWP6qvWnNNUu9UpQEPRNFH1TyiLJgSJ29gs3j0xciLlFY8k\u002B2M1J7IZrM3rfs6t4VjUW/EzUELAxc6Tqb6WIwmyRGr0rHjuwGd2sbl23p0JfzzkHNYx8cUMI/VUoX3zQ0nEOPpj\u002BTTgJZuJvJ7JiidxSmqBsgYzgJKlqEiDmh8pQ25vcqWipYXIBDd6qDUmQpmOIxbTMZEDkLhn/hDsHIt8YDlwmhdBjuTk\u002Ba4O\u002BRhdf2Xu9XcIFlGdK\u002BIteud1G\u002Ber/gf79eiCDJRyLngjNNdfyn6q/WcUdEnnk241VBP9b93GYvrQYYm9bKjilefZufcKjXBoyh6Al0n\[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-99581e3a-77ab-e918-05b1-d429a9a4fcd7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:34 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "955330032",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
