{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c8175012-207b-71cb-7f17-8608973d17d9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Jan 2023 21:47:19 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFB2FFBD688D9\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 21:47:53 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c8175012-207b-71cb-7f17-8608973d17d9/test-blob-0a3a76b7-3f29-eeef-752d-0a3b2fa14e14",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 21:47:52 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "bKhp7wq5LR9K1EV1CwOx5wpSc6wxoLRfuETofWK0zRw4BGyQbUWV/kgav1T5euJyfCIx3C2h4svzCjfF0K\u002B8lgYoPAeWIXrEvHRjFuFfZT1idQFAgvDulyGgnGIN0C2ZXShO0D3b21qnbCC5Pczpk6T6YlutfBQVOqXl9oQXt\u002BxHyri4EZX/h5mmmBbQNVlVtgi9E23S6\u002BEUOJaX9uXWj7UzcXMTMYIP\u002BtvBBuP\u002BRARMjz98WqN/dd7XpNj\u002BaJG00AhgncPmQoWGrRiREOT9FvSRS2amWjURtPyUO4ypEZJKDTbbnadAZky59qyK7mT52o7kbBwqDnbST\[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c8175012-207b-71cb-7f17-8608973d17d9/test-blob-0a3a76b7-3f29-eeef-752d-0a3b2fa14e14",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 21:47:53 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAFB2FFBFF4D01\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 21:47:53 GMT",
        "x-ms-blob-content-md5": "jLnO1BfVovymUa7mersLRA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Jan 2023 21:47:53 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-20T21:47:53.6193793Z"
      },
      "ResponseBody": "bKhp7wq5LR9K1EV1CwOx5wpSc6wxoLRfuETofWK0zRw4BGyQbUWV/kgav1T5euJyfCIx3C2h4svzCjfF0K\u002B8lgYoPAeWIXrEvHRjFuFfZT1idQFAgvDulyGgnGIN0C2ZXShO0D3b21qnbCC5Pczpk6T6YlutfBQVOqXl9oQXt\u002BxHyri4EZX/h5mmmBbQNVlVtgi9E23S6\u002BEUOJaX9uXWj7UzcXMTMYIP\u002BtvBBuP\u002BRARMjz98WqN/dd7XpNj\u002BaJG00AhgncPmQoWGrRiREOT9FvSRS2amWjURtPyUO4ypEZJKDTbbnadAZky59qyK7mT52o7kbBwqDnbST\u002BnHUQf53JyGRgOuIXlMUOUZ7GOJhsWYmmD\u002BxaR1H/\u002B/CE2\u002BeRRFwB[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c8175012-207b-71cb-7f17-8608973d17d9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 21:47:53 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1890768165",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
