{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6ad4a2c4-1f46-ca30-6354-fb25c2111eca?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 28 Apr 2023 19:36:16 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB481FD5DEBAD2\u0022",
        "Last-Modified": "Fri, 28 Apr 2023 19:36:17 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6ad4a2c4-1f46-ca30-6354-fb25c2111eca/test-blob-06240e54-4295-3f84-182e-142e732aa498",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 28 Apr 2023 19:36:16 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "XmCxFqZerjMlV9uLBUHS/0f0ID4podAq/qImw92\u002BR51/ltATeI7ykQl88iJOhXyeAGV\u002BA1lxVL2PhxgDOOpVZxA9C29xvoe5Ao80rK\u002Bu23kmiMJ3P0NEDkESg/F17lgeJooSEHkNLEHexQHJPKgN4auf3K8o3SjM\u002Bf0tXjqVQxM2FoYlm8v/GVuAmXpCetKZBaJF1hGo9khhRhZ8384HSIHtkyYh6EXgoMNUp0Suin8qlFmXUG0CjR89w1W0gjmMeVD4VOerdxxdZTZOVE4Es7uXUUt1b/gU6wUG5CXwLB2Jxy3ztTWYfxw8Ous3tDnQOA\u002BZHDDuFwpY42nhpZL[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6ad4a2c4-1f46-ca30-6354-fb25c2111eca/test-blob-06240e54-4295-3f84-182e-142e732aa498",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Apr 2023 19:36:16 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB481FD5E9D483\u0022",
        "Last-Modified": "Fri, 28 Apr 2023 19:36:17 GMT",
        "x-ms-blob-content-md5": "IZtmBVsVC\u002BykVTHujMA2CA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 28 Apr 2023 19:36:17 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-28T19:36:17.3114499Z"
      },
      "ResponseBody": "XmCxFqZerjMlV9uLBUHS/0f0ID4podAq/qImw92\u002BR51/ltATeI7ykQl88iJOhXyeAGV\u002BA1lxVL2PhxgDOOpVZxA9C29xvoe5Ao80rK\u002Bu23kmiMJ3P0NEDkESg/F17lgeJooSEHkNLEHexQHJPKgN4auf3K8o3SjM\u002Bf0tXjqVQxM2FoYlm8v/GVuAmXpCetKZBaJF1hGo9khhRhZ8384HSIHtkyYh6EXgoMNUp0Suin8qlFmXUG0CjR89w1W0gjmMeVD4VOerdxxdZTZOVE4Es7uXUUt1b/gU6wUG5CXwLB2Jxy3ztTWYfxw8Ous3tDnQOA\u002BZHDDuFwpY42nhpZL3bDgYxI0hEP2G/9IuODQN3TfMNasVVg/tmq8im9LMttmJRc6yHu\u002BsrygREx1ewN7WSg[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6ad4a2c4-1f46-ca30-6354-fb25c2111eca?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Apr 2023 19:36:16 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1956852451",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
