{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-362c10af-525a-abcd-7b89-5fd502230778?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Jan 2023 21:47:55 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFB2FFDA75AE9\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 21:47:56 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-362c10af-525a-abcd-7b89-5fd502230778/test-blob-2f8bb57c-be9d-65df-6988-318eee6fb633",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 21:47:55 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "zsZe91oeOVN7kODVikgp0bgI4T\u002B8i/u4LGN\u002Bti28uj5Ci4\u002B01BsAXXw3sw3eCdshX1/V5o53d0LKpcv3oIImvtahk/65dfydB4TDhdfu2SKIXVfN59SwyhRM6S9QCb35EPU2PXbcZ\u002BliON4JtPFr3Muob0IqWdcC8MjpbYvNTP7HyXXit5ysq/Ztaq71phYj4Q1jp5p6zrYdNEyt8/pelevgQut8iCQv/MRMve8pDEqyxot\u002BaqVkTPq\u002BxYNP/7f7D9XDFWMrpljoNKvVLhHH9CcC\u002Bixu3ytGfPbxvcOh3/wMUK4aZvfmhx8zljX5jh3o9tBbTQSLj[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-362c10af-525a-abcd-7b89-5fd502230778/test-blob-2f8bb57c-be9d-65df-6988-318eee6fb633",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 21:47:55 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAFB2FFDB34C3C\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 21:47:56 GMT",
        "x-ms-blob-content-md5": "PYjC5dPNhPLtFRsZOxcFCw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Jan 2023 21:47:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-20T21:47:56.4767292Z"
      },
      "ResponseBody": "zsZe91oeOVN7kODVikgp0bgI4T\u002B8i/u4LGN\u002Bti28uj5Ci4\u002B01BsAXXw3sw3eCdshX1/V5o53d0LKpcv3oIImvtahk/65dfydB4TDhdfu2SKIXVfN59SwyhRM6S9QCb35EPU2PXbcZ\u002BliON4JtPFr3Muob0IqWdcC8MjpbYvNTP7HyXXit5ysq/Ztaq71phYj4Q1jp5p6zrYdNEyt8/pelevgQut8iCQv/MRMve8pDEqyxot\u002BaqVkTPq\u002BxYNP/7f7D9XDFWMrpljoNKvVLhHH9CcC\u002Bixu3ytGfPbxvcOh3/wMUK4aZvfmhx8zljX5jh3o9tBbTQSLjS\u002BqfJlsOuiVRlSuyd1jrY4vG3MMO0n1TO3YCMfyRpL4gcN\u002BcOleeU02nlDgS8V[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-362c10af-525a-abcd-7b89-5fd502230778?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 21:47:55 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "336023889",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
