{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1c80c8e2-d5da-2aa7-1ef1-b9ce0a30384b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 28 Apr 2023 19:36:15 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB481FD5820241\u0022",
        "Last-Modified": "Fri, 28 Apr 2023 19:36:16 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1c80c8e2-d5da-2aa7-1ef1-b9ce0a30384b/test-blob-6f974e28-1473-aa74-27cb-e2c5db441857",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 28 Apr 2023 19:36:16 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "iWY6wy8rGYaSOggTw6nXSe1hIDath0cg4jp\u002BNJWGK/x6iDt0ClQoKROscBH/WJlIZjUBHQkbqwIfGuD1reTxDA4MmTptYj\u002BYOfYjARY1IIqgNc1fhQ7yX905Ve90M3wuumQC879f2gT1aOQS\u002BKrr6flWVHcWkoYAGTlcNA1PIwV69EaxMy3KQFvJaRwq32YzTmv1Hd4EFyjeAtqFA6X2pkXemANjObbMixMbTShq1jnSKeahWQUnddwe0zBSRT220sPXS0dj0BS0KJLK6cr/cyygstm/VEw/tyMnRGWGeUbWZXplkoryb1nR7TBzXIwRHl8EspJj9n52mJQkO4uvLq5M9INPm[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1c80c8e2-d5da-2aa7-1ef1-b9ce0a30384b/test-blob-6f974e28-1473-aa74-27cb-e2c5db441857",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Apr 2023 19:36:16 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB481FD5916120\u0022",
        "Last-Modified": "Fri, 28 Apr 2023 19:36:16 GMT",
        "x-ms-blob-content-md5": "/swwwxTXmxP/Zd604rBp5g==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 28 Apr 2023 19:36:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-28T19:36:16.7317792Z"
      },
      "ResponseBody": "iWY6wy8rGYaSOggTw6nXSe1hIDath0cg4jp\u002BNJWGK/x6iDt0ClQoKROscBH/WJlIZjUBHQkbqwIfGuD1reTxDA4MmTptYj\u002BYOfYjARY1IIqgNc1fhQ7yX905Ve90M3wuumQC879f2gT1aOQS\u002BKrr6flWVHcWkoYAGTlcNA1PIwV69EaxMy3KQFvJaRwq32YzTmv1Hd4EFyjeAtqFA6X2pkXemANjObbMixMbTShq1jnSKeahWQUnddwe0zBSRT220sPXS0dj0BS0KJLK6cr/cyygstm/VEw/tyMnRGWGeUbWZXplkoryb1nR7TBzXIwRHl8EspJj9n52mJQkO4uvLq5M9INPmuGhrkKA7Wcby1qWFSYFgcezcm787vr1zjTOIr6BJ2gIwYR\u002BYgRQ4wkWW8w6jSVkqa3n[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1c80c8e2-d5da-2aa7-1ef1-b9ce0a30384b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Apr 2023 19:36:16 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "222388170",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
