{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-abe74b72-ba03-12d8-889b-a6cbd638606d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Jan 2023 21:47:53 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFB2FFC3ED838\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 21:47:54 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-abe74b72-ba03-12d8-889b-a6cbd638606d/test-blob-fa46ee36-ed85-b5bf-b5fe-813f18fbcd4e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 21:47:53 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "/BGgjCq87c5gEai74HmSqToQplfzpBA9ilfugezD5qiFjSBG4P1megB3mnRFA9U7bNgEB1R2W1cBYwLTzWzinCr/NlNZTMg9qitWewqb94aCsxUUv99TDzLIRX37k62Ulf5KRc2C4iAPx10pH99NZWt7UBpWzd1LrCYgkAZLQRZ\u002BwuULUbG5ANH1BfeBKvBSe98Rf0KTPcgh/pmmYVEZw4VHq1z5QRO6wlBIYcjlyYI2zhUnOsLT6oQd6lIYEp5/20FxOn6TWTnLVrzyStz/OzUWb5M78YjDc8DY21fAoa\u002BxyYWHc48Do3TcW\u002BMF4aCoHq8dAaILQ\u002Bq4rse\u002Bu33[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-abe74b72-ba03-12d8-889b-a6cbd638606d/test-blob-fa46ee36-ed85-b5bf-b5fe-813f18fbcd4e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 21:47:53 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAFB2FFC4AF0D7\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 21:47:54 GMT",
        "x-ms-blob-content-md5": "QaG4FCbQx4fSecfMgu6duQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Jan 2023 21:47:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-20T21:47:54.1150935Z"
      },
      "ResponseBody": "/BGgjCq87c5gEai74HmSqToQplfzpBA9ilfugezD5qiFjSBG4P1megB3mnRFA9U7bNgEB1R2W1cBYwLTzWzinCr/NlNZTMg9qitWewqb94aCsxUUv99TDzLIRX37k62Ulf5KRc2C4iAPx10pH99NZWt7UBpWzd1LrCYgkAZLQRZ\u002BwuULUbG5ANH1BfeBKvBSe98Rf0KTPcgh/pmmYVEZw4VHq1z5QRO6wlBIYcjlyYI2zhUnOsLT6oQd6lIYEp5/20FxOn6TWTnLVrzyStz/OzUWb5M78YjDc8DY21fAoa\u002BxyYWHc48Do3TcW\u002BMF4aCoHq8dAaILQ\u002Bq4rse\u002Bu33iCrUNQIFWeMemE8weX5alvZEfL72oo6AMpYWbzsXHROj3\u002BlAu\u002BKAeUqbnd\u00[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-abe74b72-ba03-12d8-889b-a6cbd638606d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 21:47:53 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1953419911",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
