{
  "Entries": [
    {
      "RequestUri": "/qnamaker/v4.0/knowledgebases/create",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"testqna\",\r\n  \"qnaList\": [\r\n    {\r\n      \"answer\": \"hello\",\r\n      \"questions\": [\r\n        \"hi\"\r\n      ]\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          ""
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "/operations/f6b7ab17-dca2-47e9-9af8-afbb18cef86e"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operationState\": \"NotStarted\",\r\n  \"createdTimestamp\": \"2018-11-22T11:20:16Z\",\r\n  \"lastActionTimestamp\": \"2018-11-22T11:20:16Z\",\r\n  \"userId\": \"d2749ec6c84549b291aba09d0f56ede2\",\r\n  \"operationId\": \"f6b7ab17-dca2-47e9-9af8-afbb18cef86e\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/qnamaker/v4.0/operations/f6b7ab17-dca2-47e9-9af8-afbb18cef86e",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "30"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operationState\": \"Running\",\r\n  \"createdTimestamp\": \"2018-11-22T11:20:16Z\",\r\n  \"lastActionTimestamp\": \"2018-11-22T11:20:17Z\",\r\n  \"userId\": \"d2749ec6c84549b291aba09d0f56ede2\",\r\n  \"operationId\": \"f6b7ab17-dca2-47e9-9af8-afbb18cef86e\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/qnamaker/v4.0/operations/f6b7ab17-dca2-47e9-9af8-afbb18cef86e",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operationState\": \"Succeeded\",\r\n  \"createdTimestamp\": \"2018-11-22T11:20:16Z\",\r\n  \"lastActionTimestamp\": \"2018-11-22T11:20:27Z\",\r\n  \"resourceLocation\": \"/knowledgebases/b2f95ec5-0d5f-40b6-a7d1-904aa6bb45b2\",\r\n  \"userId\": \"d2749ec6c84549b291aba09d0f56ede2\",\r\n  \"operationId\": \"f6b7ab17-dca2-47e9-9af8-afbb18cef86e\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/qnamaker/v4.0/knowledgebases/b2f95ec5-0d5f-40b6-a7d1-904aa6bb45b2",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"b2f95ec5-0d5f-40b6-a7d1-904aa6bb45b2\",\r\n  \"hostName\": \"https://qnamakerintegrationtestppega.azurewebsites.net\",\r\n  \"lastAccessedTimestamp\": \"2018-11-22T11:20:17Z\",\r\n  \"lastChangedTimestamp\": \"2018-11-22T11:20:17Z\",\r\n  \"name\": \"testqna\",\r\n  \"userId\": \"d2749ec6c84549b291aba09d0f56ede2\",\r\n  \"urls\": [],\r\n  \"sources\": [\r\n    \"Editorial\"\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/qnamaker/v4.0/knowledgebases/b2f95ec5-0d5f-40b6-a7d1-904aa6bb45b2/Test/qna",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"qnaDocuments\": [\r\n    {\r\n      \"id\": 1,\r\n      \"answer\": \"hello\",\r\n      \"source\": \"Editorial\",\r\n      \"questions\": [\r\n        \"hi\"\r\n      ],\r\n      \"metadata\": []\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/qnamaker/v4.0/knowledgebases/b2f95ec5-0d5f-40b6-a7d1-904aa6bb45b2",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"add\": {\r\n    \"qnaList\": [\r\n      {\r\n        \"answer\": \"goodbye\",\r\n        \"questions\": [\r\n          \"bye\"\r\n        ]\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          ""
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "/operations/38059ef3-15ce-4782-9cfc-c9d914e77730"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operationState\": \"NotStarted\",\r\n  \"createdTimestamp\": \"2018-11-22T11:20:28Z\",\r\n  \"lastActionTimestamp\": \"2018-11-22T11:20:28Z\",\r\n  \"userId\": \"d2749ec6c84549b291aba09d0f56ede2\",\r\n  \"operationId\": \"38059ef3-15ce-4782-9cfc-c9d914e77730\"\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/qnamaker/v4.0/knowledgebases/b2f95ec5-0d5f-40b6-a7d1-904aa6bb45b2",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {}
}