{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11970"
      },
      "ResponseBody": {
        "id": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "942b80cd-1b14-42a1-8dcf-4b21dece61ba"
          }
        ],
        "subscriptionId": "2bf4a339-294d-4c25-b0b2-ef649e9f5c27",
        "tenantId": "888d76fa-54b2-4ced-8ee5-aac1585adee7",
        "displayName": "Liftr-PAN",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourcegroups/dotnetSdkTest-2331?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-2331",
        "name": "dotnetSdkTest-2331",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourcegroups/dotnetSdkTest-infra-rg?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11969"
      },
      "ResponseBody": {
        "id": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg",
        "name": "dotnetSdkTest-infra-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "northcentralus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/dotnetSdkTest-default-1-lrs?api-version=2022-08-29",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000d0cf-0000-0100-0000-649bb7110000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11968"
      },
      "ResponseBody": {
        "id": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/dotnetSdkTest-default-1-lrs",
        "name": "dotnetSdkTest-default-1-lrs",
        "type": "paloaltonetworks.cloudngfw/localrulestacks",
        "location": "eastus2",
        "tags": {},
        "systemData": {
          "createdBy": "vibhuti.sharma@microsoft.com",
          "createdByType": "User",
          "createdAt": "2023-06-28T04:28:36.7810595Z",
          "lastModifiedBy": "vibhuti.sharma@microsoft.com",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2023-06-28T04:28:36.7810595Z"
        },
        "properties": {
          "scope": "LOCAL",
          "provisioningState": "Succeeded",
          "defaultMode": "IPS",
          "panEtag": "482021e6-156c-11ee-985e-a6a96bbe27b7",
          "minAppIdVersion": "8595-7473",
          "securityServices": {
            "vulnerabilityProfile": "BestPractice",
            "antiSpywareProfile": "BestPractice",
            "antiVirusProfile": "BestPractice",
            "urlFilteringProfile": "BestPractice",
            "fileBlockingProfile": "BestPractice",
            "dnsSubscription": "BestPractice"
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-2331/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/dotnetSdkTest-lrs-926?api-version=2022-08-29",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus2",
        "properties": {
          "scope": "LOCAL",
          "description": "local rulestacks",
          "defaultMode": "IPS",
          "securityServices": {
            "vulnerabilityProfile": "BestPractice",
            "antiSpywareProfile": "BestPractice",
            "antiVirusProfile": "BestPractice",
            "urlFilteringProfile": "BestPractice",
            "fileBlockingProfile": "BestPractice",
            "dnsSubscription": "BestPractice"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/PaloAltoNetworks.Cloudngfw/locations/EASTUS2/operationStatuses/9367ecaa-b659-4b67-a7bc-8977964336e0*D8E37B156CC656800EBDC0650913F3BAD3D1762A4B40A149632ECCFD9173EFF0?api-version=2022-08-29",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002201000b38-0000-0100-0000-649ed2970000\u0022",
        "Location": "https://management.azure.com/providers/PaloAltoNetworks.Cloudngfw/locations/EASTUS2/operationStatuses/9367ecaa-b659-4b67-a7bc-8977964336e0*D8E37B156CC656800EBDC0650913F3BAD3D1762A4B40A149632ECCFD9173EFF0?api-version=2022-08-29",
        "mise-correlation-id": "4091a8d7-dc7f-498c-aabc-1dd9f4dcd8df",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-2331/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/dotnetSdkTest-lrs-926",
        "name": "dotnetSdkTest-lrs-926",
        "type": "paloaltonetworks.cloudngfw/localrulestacks",
        "location": "eastus2",
        "tags": {},
        "systemData": {
          "createdBy": "864bdfa7-42e8-4658-83dd-9148a39ff519",
          "createdByType": "Application",
          "createdAt": "2023-06-30T13:03:18.8510506Z",
          "lastModifiedBy": "864bdfa7-42e8-4658-83dd-9148a39ff519",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-30T13:03:18.8510506Z"
        },
        "properties": {
          "scope": "LOCAL",
          "description": "local rulestacks",
          "provisioningState": "Accepted",
          "securityServices": {
            "vulnerabilityProfile": "BestPractice",
            "antiSpywareProfile": "BestPractice",
            "antiVirusProfile": "BestPractice",
            "urlFilteringProfile": "BestPractice",
            "fileBlockingProfile": "BestPractice",
            "dnsSubscription": "BestPractice",
            "outboundUnTrustCertificate": null,
            "outboundTrustCertificate": null
          },
          "defaultMode": "IPS"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/PaloAltoNetworks.Cloudngfw/locations/EASTUS2/operationStatuses/9367ecaa-b659-4b67-a7bc-8977964336e0*D8E37B156CC656800EBDC0650913F3BAD3D1762A4B40A149632ECCFD9173EFF0?api-version=2022-08-29",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221800fe8a-0000-0100-0000-649ed2970000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11990"
      },
      "ResponseBody": {
        "id": "/providers/PaloAltoNetworks.Cloudngfw/locations/EASTUS2/operationStatuses/9367ecaa-b659-4b67-a7bc-8977964336e0*D8E37B156CC656800EBDC0650913F3BAD3D1762A4B40A149632ECCFD9173EFF0",
        "name": "9367ecaa-b659-4b67-a7bc-8977964336e0*D8E37B156CC656800EBDC0650913F3BAD3D1762A4B40A149632ECCFD9173EFF0",
        "resourceId": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-2331/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/dotnetSdkTest-lrs-926",
        "status": "Accepted",
        "startTime": "2023-06-30T13:03:19.2753341Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/PaloAltoNetworks.Cloudngfw/locations/EASTUS2/operationStatuses/9367ecaa-b659-4b67-a7bc-8977964336e0*D8E37B156CC656800EBDC0650913F3BAD3D1762A4B40A149632ECCFD9173EFF0?api-version=2022-08-29",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221800368c-0000-0100-0000-649ed2b60000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11983"
      },
      "ResponseBody": {
        "id": "/providers/PaloAltoNetworks.Cloudngfw/locations/EASTUS2/operationStatuses/9367ecaa-b659-4b67-a7bc-8977964336e0*D8E37B156CC656800EBDC0650913F3BAD3D1762A4B40A149632ECCFD9173EFF0",
        "name": "9367ecaa-b659-4b67-a7bc-8977964336e0*D8E37B156CC656800EBDC0650913F3BAD3D1762A4B40A149632ECCFD9173EFF0",
        "resourceId": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-2331/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/dotnetSdkTest-lrs-926",
        "status": "Succeeded",
        "startTime": "2023-06-30T13:03:19.2753341Z",
        "endTime": "2023-06-30T13:03:50.3176739Z",
        "error": {},
        "properties": null
      }
    },
[...]
