{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11986"
      },
      "ResponseBody": {
        "id": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "942b80cd-1b14-42a1-8dcf-4b21dece61ba"
          }
        ],
        "subscriptionId": "2bf4a339-294d-4c25-b0b2-ef649e9f5c27",
        "tenantId": "888d76fa-54b2-4ced-8ee5-aac1585adee7",
        "displayName": "Liftr-PAN",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourcegroups/dotnetSdkTest-3795?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-3795",
        "name": "dotnetSdkTest-3795",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourcegroups/dotnetSdkTest-infra-rg?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11985"
      },
      "ResponseBody": {
        "id": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg",
        "name": "dotnetSdkTest-infra-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "northcentralus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/dotnetSdkTest-default-1-lrs?api-version=2022-08-29",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220100343a-0000-0100-0000-649eec9d0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "id": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/dotnetSdkTest-default-1-lrs",
        "name": "dotnetSdkTest-default-1-lrs",
        "type": "paloaltonetworks.cloudngfw/localrulestacks",
        "location": "eastus2",
        "tags": {},
        "systemData": {
          "createdBy": "vibhuti.sharma@microsoft.com",
          "createdByType": "User",
          "createdAt": "2023-06-28T04:28:36.7810595Z",
          "lastModifiedBy": "54a2195e-8365-444c-8f50-4a5de4be1e2b",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-30T14:54:21.6991773Z"
        },
        "properties": {
          "scope": "LOCAL",
          "provisioningState": "Succeeded",
          "defaultMode": "FIREWALL",
          "panEtag": "febf0a3a-1755-11ee-8f9d-ca91a7f37567",
          "minAppIdVersion": "8595-7473",
          "securityServices": {
            "vulnerabilityProfile": "BestPractice",
            "antiSpywareProfile": "BestPractice",
            "antiVirusProfile": "BestPractice",
            "urlFilteringProfile": "BestPractice",
            "fileBlockingProfile": "BestPractice",
            "dnsSubscription": "BestPractice"
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/PaloAltoNetworks.Cloudngfw/localRulestacks?api-version=2022-08-29",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "5584db20-44df-4aba-9cb2-18ddea9c1dfd",
          "bb2d2064-89be-4d8a-9200-651892c2f9c2",
          "c2ec2340-4d85-4882-849d-f5ccc64a84bd",
          "2b969ce6-e20d-41ba-9295-19b9ba02c699",
          "2796d1fc-fde8-4279-984b-de0275a2e321",
          "e11fcad2-6a56-444d-b618-2c16ff8a9aa9",
          "bd213615-3bed-4f0c-bab9-97cd3e1e82c9",
          "9ef41b03-eb92-4cac-872d-2793736efc91",
          "019831d3-8617-4e03-9184-214127fa3771",
          "cf66b900-7901-477d-bf66-fa5479f26114",
          "f93db034-8c11-4b52-81a7-57d76b2346cc",
          "6c6d4041-980f-428c-9288-3e119b13a6b3",
          "280ae730-6e85-4b48-8449-dae2fd8bafef",
          "f608c17d-ff79-4862-bcb5-866af690102b",
          "a09f2ae0-873b-4f85-ba50-7262faf615d9",
          "8a7474e3-cf0a-49f1-8e2a-b3de6dd7d54d",
          "112dd48c-4e0c-406b-877a-9a9f1059ebfd",
          "0e88de4d-f1b7-4858-92aa-0f53ef7305d0",
          "86d9df6f-9a88-4f0f-aed7-71467411dd0a",
          "5382c99c-d071-4f78-8557-d36bfaa20132",
          "9eb129f5-fdcc-4d21-8d91-4988a239e441"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11983"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/dotnetSdkTest-default-1-lrs",
            "name": "dotnetSdkTest-default-1-lrs",
            "type": "paloaltonetworks.cloudngfw/localrulestacks",
            "location": "eastus2",
            "tags": {},
            "systemData": {
              "createdBy": "vibhuti.sharma@microsoft.com",
              "createdByType":[...]
