{
  "Entries": [
    {
      "RequestUri": "https://contosoprodwus2.api.prod.adu.microsoft.com/deviceupdate/blue/v2/management/deployments",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022value\u0022: [\r\n",
        "    {\r\n",
        "      \u0022deploymentId\u0022: \u0022dpokluda-test-2021-209-1525-54\u0022,\r\n",
        "      \u0022deploymentType\u0022: \u0022Complete\u0022,\r\n",
        "      \u0022startDateTime\u0022: \u00222021-02-09T23:28:38.8516717\u002B00:00\u0022,\r\n",
        "      \u0022deviceGroupType\u0022: \u0022DeviceGroupDefinitions\u0022,\r\n",
        "      \u0022deviceGroupDefinition\u0022: [\r\n",
        "      [...]
    {
      "RequestUri": "https://contosoprodwus2.api.prod.adu.microsoft.com/deviceupdate/blue/v2/management/deployments?$top=100\u0026$skipToken=%5B%7B%22token%22%3A%22%2BRID%3A%7EBYwRANEj9L55AAAAAAAAAA%3D%3D%23RT%3A1%23TRC%3A100%23ISV%3A2%23IEO%3A65567%23QCF%3A3%23FPC%3AAgEAAAASAHgAAO73fff37v%2F%2Ff3f%2FvXf%2FHw%3D%3D%22%2C%22range%22%3A%7B%22min%22%3A%22%22%2C%22max%22%3A%22FF%22%7D%7D%5D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
[...]
