{
  "Entries": [
    {
      "RequestUri": "https://contosoprod.api.prod.adu.microsoft.com/deviceupdate/blue/v2/management/deployments/dpokluda-test-2020-1104-1616-17",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022deploymentId\u0022: \u0022dpokluda-test-2020-1104-1616-17\u0022,\r\n",
        "  \u0022deploymentType\u0022: \u0022Complete\u0022,\r\n",
        "  \u0022startDateTime\u0022: \u00222020-11-05T00:20:25.4909903\u002B00:00\u0022,\r\n",
        "  \u0022deviceGroupType\u0022: \u0022DeviceGroupDefinitions\u0022,\r\n",
        "  \u0022deviceGroupDefinition\u0022: [\r\n",
        "    \u0022dpokluda-test\u0022\r\n",
        "  ],\r\n",
        "  \u0022updateId\u0022: {\r\n",
        "    \u0022provider\u0022: \u0022Contoso\u0022,\r\n",
        "    \u0022name\u0022: \u0022Virtual-Machine\u0022,\r\n",
        "    \u0022version\u0022: \u00222020.1104.1616.17\u0022\r\n",
        "  },\r\n",
        "  \u0022isCanceled\u0022: false,\r\n",
        "  \u0022isCompleted\u0022: false,\r\n",
        "  \u0022isRetry\u0022: false\r\n",
        "}"
      ]
    }
  ],
  "Variables": {
    "DEVICEUPDATE_ACCOUNT_ENDPOINT": "contosoprod.api.prod.adu.microsoft.com",
    "DEVICEUPDATE_DEPLOYMENT_ID": "dpokluda-test-2020-1104-1616-17",
    "DEVICEUPDATE_INSTANCE_ID": "blue",
    "DEVICEUPDATE_UPDATE_VERSION": "2020.1104.1616.17",
    "RandomSeed": "2134333798"
  }
}