{
  "Entries": [
    {
      "RequestUri": "https://contosoprodwus2.api.prod.adu.microsoft.com/deviceupdate/blue/v2/management/deployments/dpokluda-test-2021-302-1202-48/status",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022deploymentState\u0022: \u0022Active\u0022,\r\n",
        "  \u0022totalDevices\u0022: 1,\r\n",
        "  \u0022devicesIncompatibleCount\u0022: 0,\r\n",
        "  \u0022devicesAlreadyInDeploymentCount\u0022: 0,\r\n",
        "  \u0022devicesInProgressCount\u0022: 0,\r\n",
        "  \u0022devicesCompletedFailedCount\u0022: 0,\r\n",
        "  \u0022devicesCompletedSucceededCount\u0022: 1,\r\n",
        "  \u0022devicesCanceledCount\u0022: 0\r\n",
        "}"
      ]
    }
  ],
  "Variables": {
    "DEVICEUPDATE_ACCOUNT_ENDPOINT": "contosoprodwus2.api.prod.adu.microsoft.com",
    "DEVICEUPDATE_DEPLOYMENT_ID": "dpokluda-test-2021-302-1202-48",
    "DEVICEUPDATE_INSTANCE_ID": "blue",
    "RandomSeed": "2026465137"
  }
}