{
  "Entries": [
    {
      "RequestUri": "/7a8c4b2b-1343-4ead-903f-031163054294/cloudservices/RecoveryServices-DKIEGNVV3OAPUDVOTINGUOLCIJIDA743FNSWQAM4O4NEQUVZFBWA-West-US/resources/HRMBvtd2ToDogfood/~/HyperVRecoveryManagerVault/TestVault2/upgrade",
      "RequestMethod": "POST",
      "RequestBody": "<ResourceUpgradeInput xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <NewResourcePath>/subscriptions/7a8c4b2b-1343-4ead-903f-031163054294/resourceGroups/TargetRg/providers/Microsoft.RecoveryServicesBVTD2/Vaults/TestVault2</NewResourcePath>\r\n</ResourceUpgradeInput>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "Agent-Authentication": [
          ""
        ],
        "x-ms-version": [
          "2013-03-01"
        ]
      },
      "ResponseBody": "<ResourceUpgradeDetails xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <EndTimeUtc>9999-12-31T23:59:59.9999999</EndTimeUtc>\r\n  <LastUpdatedTimeUtc>2017-03-23T12:18:17.174831Z</LastUpdatedTimeUtc>\r\n  <Message></Message>\r\n  <OperationId>82853727-aea6-41c0-b599-56b2b19c133a</OperationId>\r\n  <PreviousResourceId i:nil=\"true\" />\r\n  <StartTimeUtc>2017-03-23T12:18:17.174831Z</StartTimeUtc>\r\n  <Status>InProgress</Status>\r\n  <TriggerType>UserTriggered</TriggerType>\r\n  <UpgradedResourceId>/subscriptions/7a8c4b2b-1343-4ead-903f-031163054294/resourceGroups/TargetRg/providers/Microsoft.RecoveryServicesBVTD2/Vaults/TestVault2</UpgradedResourceId>\r\n</ResourceUpgradeDetails>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "7a8c4b2b-1343-4ead-903f-031163054294"
  }
}