{
  "Entries": [
    {
      "RequestUri": "/7a8c4b2b-1343-4ead-903f-031163054294/cloudservices/RecoveryServices-DKIEGNVV3OAPUDVOTINGUOLCIJIDA743FNSWQAM4O4NEQUVZFBWA-West-US/resources/HRMBvtd2ToDogfood/~/HyperVRecoveryManagerVault/TestVault2/checkPrereqsForUpgrade",
      "RequestMethod": "POST",
      "RequestBody": "<ResourceUpgradeInput xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <NewResourcePath>/subscriptions/7a8c4b2b-1343-4ead-903f-031163054294/resourceGroups/TargetRg/providers/Microsoft.RecoveryServicesBVTD2/Vaults/TestVault2</NewResourcePath>\r\n</ResourceUpgradeInput>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "Agent-Authentication": [
          ""
        ],
        "x-ms-version": [
          "2013-03-01"
        ]
      },
      "ResponseBody": "<Error i:nil=\"true\" xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "7a8c4b2b-1343-4ead-903f-031163054294"
  }
}