{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Default-CosmosDB-6301/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb7850/sqlDatabases/databaseName1413/containers?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Location": "https://management.documents.azure.com:450/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Default-CosmosDB-6301/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb7850/sqlDatabases/databaseName1413/containers?api-version=2020-04-01",
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.11.0",
        "x-ms-ratelimit-remaining-subscription-reads": "10665"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Default-CosmosDB-6301/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb7850/sqlDatabases/databaseName1413/containers/containerName8110",
            "type": "Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers",
            "name": "containerName8110",
            "properties": {
              "resource": {
                "id": "containerName8110",
                "indexingPolicy": {
                  "indexingMode": "consistent",
                  "automatic": true,
                  "includedPaths": [
                    {
                      "path": "/*"
                    }
                  ],
                  "excludedPaths": [
                    {
                      "path": "/pathToNotIndex/*"
                    },
                    {
                      "path": "/\u0022_etag\u0022/?"
                    }
                  ],
                  "spatialIndexes": [
                    {
                      "path": "/*",
                      "types": [
                        "Point",
                        "LineString",
                        "Polygon",
                        "MultiPolygon"
                      ]
                    }
                  ],
                  "compositeIndexes": [
                    [
                      {
                        "path": "/orderByPath3",
                        "order": "ascending"
                      },
                      {
                        "path": "/orderByPath4",
                        "order": "descending"
                      }
                    ]
                  ]
                },
                "partitionKey": {
                  "paths": [
                    "/address/zipCode"
                  ],
                  "kind": "Hash"
                },
                "uniqueKeyPolicy": {
                  "uniqueKeys": []
                },
                "conflictResolutionPolicy": {
                  "mode": "LastWriterWins",
                  "conflictResolutionPath": "/_ts",
                  "conflictResolutionProcedure": ""
                },
                "geospatialConfig": {
                  "type": "Geography"
                },
                "uniqueIndexReIndexingState": 0,
                "_rid": "1280AMMjt38=",
                "_ts": 1600908872,
                "_self": "dbs/1280AA==/colls/1280AMMjt38=/",
                "_etag": "\u00221700fc2e-0000-0100-0000-5f6bee480000\u0022",
                "_docs": "docs/",
                "_sprocs": "sprocs/",
                "_triggers": "triggers/",
                "_udfs": "udfs/",
                "_conflicts": "conflicts/"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Default-CosmosDB-6301/providers/Microsoft.DocumentDB/databaseAccounts/cosmosdb7850/sqlDatabases/databaseName1413/containers/containerName8110?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Location": "h[...]
