{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-a60f7a14-3d6f-08e1-45f5-700d3d855fda?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 Feb 2023 15:42:52 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB046AFAE51CA8\u0022",
        "Last-Modified": "Wed, 01 Feb 2023 15:42:52 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-a60f7a14-3d6f-08e1-45f5-700d3d855fda/test-file-8aac610a-3511-f11c-e17f-6ea89f2fa5c2?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 Feb 2023 15:42:52 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB046AFAEFCD78\u0022",
        "Last-Modified": "Wed, 01 Feb 2023 15:42:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-a60f7a14-3d6f-08e1-45f5-700d3d855fda/test-file-8aac610a-3511-f11c-e17f-6ea89f2fa5c2?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 Feb 2023 15:42:52 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "c34c512e-1827-c768-473c-bfcdeeb1e2be",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB046AFAEFCD78\u0022",
        "Last-Modified": "Wed, 01 Feb 2023 15:42:52 GMT",
        "x-ms-lease-id": "c34c512e-1827-c768-473c-bfcdeeb1e2be",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-8bd3ffb8-9df4-d670-c4b2-58748cbce22d/test-file-a0872b8c-488a-cf3f-8aa5-f608eaf15b70?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 31 Jan 2023 15:42:52 GMT",
        "x-ms-date": "Wed, 01 Feb 2023 15:42:52 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "84adf8f2-b0f9-d945-6c98-cff21ac84fd6",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB046AFB0DFF55\u0022",
        "Last-Modified": "Wed, 01 Feb 2023 15:42:52 GMT",
        "x-ms-lease-id": "84adf8f2-b0f9-d945-6c98-cff21ac84fd6",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-41c96331-4b72-a278-2f9e-326d1bf74812/test-file-bd977973-2622-853a-de10-4454904d8016?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 02 Feb 2023 15:42:52 GMT",
        "x-ms-date": "Wed, 01 Feb 2023 15:42:52 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "48c2a57e-c4a6-4dbd-96d1-536f5d4696fe",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB046AFB250658\u0022",
        "Last-Modified": "Wed, 01 Feb 2023 15:42:52 GMT",
        "x-ms-lease-id": "48c2a57e-c4a6-4dbd-96d1-536f5d4696fe",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-9d981802-e892-278d-0acf-3b401e7e7607/test-file-882a38fb-2785-12ab-d5ff-3a7305d2e622",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 Feb 2023 15:42:52 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB046AFB38D987\u0022",
        "Last-Modified": "Wed, 01 Feb 2023 15:42:53 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 Feb 2023 15:42:53 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-9d981802-e892-278d-0acf-3b401e7e7607/test-file-882a38fb-2785-12ab-d5ff-3a7305d2e622?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DB046AFB38D987\u0022",
        "x-ms-date": "Wed, 01 Feb 2023 15:42:52 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "ff1111b9-5b04-042d-d9f6-8b8c1dbf5594",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB046AFB38D987\u0022",
        "Last-Modified": "Wed, 01 Feb 2023 15:42:53 GMT",
        "x-ms-lease-id": "ff1111b9-5b04-042d-d9f6-8b8c1dbf5594",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-f61e3fab-7fe5-cca3-b265-9e36a9aef6df/test-file-44c37f4f-857b-4de5-0f6e-deaaf867a112?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Wed, 01 Feb 2023 15:42:52 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "b4bea904-fe4b-0f5e-5cb7-72ae4660ac9c",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB046AFB507CBB\u0022",
        "Last-Modified": "Wed, 01 Feb 2023 15:42:53 GMT",
        "x-ms-lease-id": "b4bea904-fe4b-0f5e-5cb7-72ae4660ac9c",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-f61e3fab-7fe5-cca3-b265-9e36a9aef6df?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 Feb 2023 15:42:52 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-02-01T10:42:52.0206242-05:00",
    "RandomSeed": "633058885",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
