{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-9f72d4a2-e871-29f5-b3a9-f4b088808c98?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 03 Feb 2021 02:10:44 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7E8EAEFDB4F\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:10:46 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-9f72d4a2-e871-29f5-b3a9-f4b088808c98/test-file-d4c6a294-33ac-5f7e-3f0a-614014de34ba?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 03 Feb 2021 02:10:45 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7E8EB290938\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:10:46 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-9f72d4a2-e871-29f5-b3a9-f4b088808c98/test-file-d4c6a294-33ac-5f7e-3f0a-614014de34ba?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "bPSrrsK\u002B\u002BGHwuPJaqiwr0A==",
        "Content-Type": "application/json",
        "x-ms-date": "Wed, 03 Feb 2021 02:10:45 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": [
        "\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\u0022\u002B\uFFFD\uFFFD\uFFFD\u0004\u014B\u0060R\uFFFD\uFFFD\u0015\u007F\\\u2245\uFFFDI,\u0019\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD1av\uFFFD^\uFFFD@qV\uFFFDqw\uFFFD\uFFFDb\uFFFD\uFFFD\uFFFD=\u0017\uFFFD\u07EE\uFFFDt\u95BE\b\uFFFD\uFFFD\u0777j\uFFFD*\uFFFD\u0060\uFFFDK\uFFFD\r",
        "\u0006\u001A\u0017\u000E\u001[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-9f72d4a2-e871-29f5-b3a9-f4b088808c98?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:10:45 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1822211483",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}