{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-82521e4f-8565-4cf0-83e0-392bbf3569bc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:11:55 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A38CDB29A\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:11:55 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-82521e4f-8565-4cf0-83e0-392bbf3569bc/test-file-cdd4004b-c065-a2f4-5277-bd496c627ca3?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 19 Feb 2021 19:11:56 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A38DD5DC3\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:11:55 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-82521e4f-8565-4cf0-83e0-392bbf3569bc/test-file-cdd4004b-c065-a2f4-5277-bd496c627ca3?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Fri, 19 Feb 2021 19:11:56 GMT",
        "x-ms-lease-id": "41bdc3a1-78cc-d3fd-bd6e-d05f1cec4d0d",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": [
        "\uFFFD-\n",
        "\uFFFD\uFFFD\uFFFD\u001C\uFFFDu\uFFFDVq\uFFFDU\uFFFD\uFFFD\uFFFDU\u032C \uFFFD\uFFFD\uFFFDQ\uFFFD\uFFFD\uFFFDw\uFFFD\t\uFFFDN.\uFFFD\uFFFDh\u000B\uFFFD\uFFFD\uFFFD\uFFFDYam\uFFFD\u001D\u0290q\uFFFD\uFFFD\uFFFD\uFFFD\uFFFDB\uFFFD\uFFFDLXj8\f\uFFFD\uFFFD\uFFFD#\uFFFD\uFFFD\u0018u\uFFFD\uFFFDC\bbT5\u001C\uFFFDk\uFFFDT\u0005\uFFFD@\uFFFDU\uFFFDl\u0017\uFFFD-\u00[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-82521e4f-8565-4cf0-83e0-392bbf3569bc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:11:56 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "36006924",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}