{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-4fa5d9b0-baef-b94a-3a34-519f738b8fc0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:11:58 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A3A30457E\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:11:57 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-4fa5d9b0-baef-b94a-3a34-519f738b8fc0/test-file-8a141cb7-c441-8a23-59a5-dfd226cf69c1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 19 Feb 2021 19:11:58 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A3A3FE444\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:11:57 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-4fa5d9b0-baef-b94a-3a34-519f738b8fc0/test-file-8a141cb7-c441-8a23-59a5-dfd226cf69c1?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Fri, 19 Feb 2021 19:11:58 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": [
        "\uFFFDp\uFFFD\uFFFD\uFFFD\u0007uU\uFFFD\u0011\uFFFD\uFFFD\uFFFD9\uFFFD\uFFFD\uFFFD\uFFFD\uFFFDa\u000B5\\\uFFFD2\u001A\u001D\uFFFD\uFFFDK\u000E;\uFFFD\u0016\u0001\uFFFD\uFFFD\uFFFD1\uFFFDOnJSxl\uFFFD\uFFFD\u0011\uFFFD\u0027(f\uFFFD\u0005\uFFFD\u0014\u0007\uFFFD\uFFFD\uFFFD\uFFFD\u019D\u0002\uFFFD\u0000\uFFFD7\u0010K\u055A\u0019\u0012\uFFFD\uFFFD\[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-4fa5d9b0-baef-b94a-3a34-519f738b8fc0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:11:58 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1756208491",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}