{
  "Entries": [
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-be1e9378-b94a-7a32-ccf7-5902455fdfde?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 22:15:23 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C152B3493417\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:15:23 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.dfs.core.windows.net/test-filesystem-be1e9378-b94a-7a32-ccf7-5902455fdfde/test-file-a3729dc7-a8c1-2453-3f2b-3cd476813432?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:15:23 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C152B37D3863\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:15:23 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.dfs.core.windows.net/test-filesystem-be1e9378-b94a-7a32-ccf7-5902455fdfde/test-file-a3729dc7-a8c1-2453-3f2b-3cd476813432?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:15:24 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "R3zobOL8Fq7jHXRaRpl/Fu11HyaYiwov\u002BVeWfJLBJh4HSHIoQNDjuTg7xQqd9DuU33A[...]
[...]
    {
      "RequestUri": "https://seanstagehierarchical.dfs.core.windows.net/test-filesystem-be1e9378-b94a-7a32-ccf7-5902455fdfde/test-file-a3729dc7-a8c1-2453-3f2b-3cd476813432?action=flush\u0026position=2048",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:15:24 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C152B3A322FC\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:15:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-be1e9378-b94a-7a32-ccf7-5902455fdfde/test-file-a3729dc7-a8c1-2453-3f2b-3cd476813432",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:15:24 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 1024-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C152B3A322FC\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:15:24 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 05 Mar 2020 22:15:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": "SNWzv0kyYHmdJ5CIt\u002BPPWmCOER\u002Bntr\u002BRBr8pkHmYAIvMWYol2xGLT40DHBmfL4JMF9DbGa7B85EVIrmKCM//BCcEvF5YqX9OAsGSo5qm8dY83HmpvefcCmb5ELlYAUe9AxfymnIk821QjRbsL0/2bzDiTStWVkdAKLL3XpnG9gF61Z\u002BDtFdkGOkLWDDQ79sWAqCIdbMbZqzPsXLALJTUiZYVcVqwc7rZfjVCSv4XcDjW4Vz4PYBOX27yswLko\u002BtUN86Zun2AZo/mr/d92ByuuEE66Us420wWxxLsvb\u002B49NpK7hMvfbW6VnvMEo2I0IdSRPrAqrqgG1yCg/NrlKjPLbsdM\u002BoJfjuMf5PPbMi\u002BjfaLmXjF90ogqdK2rfrBTs[...]
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-be1e9378-b94a-7a32-ccf7-5902455fdfde?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:15:24 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1937036383",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanstagehierarchical\nU2FuaXRpemVk\nhttps://seanstagehierarchical.blob.core.windows.net\nhttp://seanstagehierarchical.file.core.windows.net\nhttp://seanstagehierarchical.queue.core.windows.net\nhttp://seanstagehierarchical.table.core.windows.net\n\n\n\n\nhttp://seanstagehierarchical-secondary.blob.core.windows.net\nhttp://seanstagehierarchical-secondary.file.core.windows.net\nhttp://seanstagehierarchical-secondary.queue.core.windows.net\nhttp://seanstagehierarchical-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanstagehierarchical.blob.core.windows.net/;QueueEndpoint=http://seanstagehierarchical.queue.core.windows.net/;FileEndpoint=http://seanstagehierarchical.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagehierarchical-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagehierarchical-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagehierarchical-secondary.file.core.windows.net/;AccountName=seanstagehierarchical;AccountKey=Sanitized\n"
  }
}