{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-7578e839-e82f-ad29-40ed-335b011f58b3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Feb 2021 21:27:12 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C14E6408FD\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:27:13 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-7578e839-e82f-ad29-40ed-335b011f58b3/test-file-6ee777c3-ee68-c617-ef52-7e3fee7d9fdf?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 02 Feb 2021 21:27:12 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C14E9AB39D\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:27:13 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-7578e839-e82f-ad29-40ed-335b011f58b3/test-file-6ee777c3-ee68-c617-ef52-7e3fee7d9fdf?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Tue, 02 Feb 2021 21:27:12 GMT",
        "x-ms-lease-id": "8690215d-f6a4-db26-3df8-059236faab55",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": [
        "\uFFFD\uFFFDOIx\uFFFD\u04876\uFFFD(\uFFFDvi\u64AE;\uFFFD\uFFFD\uFFFD\n",
        "e\u001C\uFFFD\u000B\f\u001D\r",
        "!g\uFFFD\\\uFFFD\f-\r",
        "Y\u029B\uFFFDa_\uFFFD\b\uFFFD\uFFFD\uFFFD\uFFFD\uFFFDpo\uFFFD\uFFFDL\uFFFDM2\uFFFDl\uFFFD\uFFFDy\u0014k\uFFFDw\uFFFD\\\uFFFD\uFFFDTq[\uFFFD2\uFFFD\uFFFD\u0013\uFFFDR\uFFFDfr\uFFFD\uFFFD\uFFFD\uFFFDJv\uFFFD\u06B7^\uFFFD\uFFFD\[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-7578e839-e82f-ad29-40ed-335b011f58b3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:27:12 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "76655170",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}