{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-a3017f33-debf-404a-0c32-07fbaabdd18f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Feb 2021 21:27:34 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C15B86A077\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:27:35 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-a3017f33-debf-404a-0c32-07fbaabdd18f/test-file-1fceb77e-6998-01c6-1417-13ce5118c046?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:27:34 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C15BD42290\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:27:35 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-a3017f33-debf-404a-0c32-07fbaabdd18f/test-file-1fceb77e-6998-01c6-1417-13ce5118c046?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:27:35 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "4576f058-231d-d068-4c30-ea82023105a3",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C15BD42290\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:27:35 GMT",
        "x-ms-lease-id": "4576f058-231d-d068-4c30-ea82023105a3",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-a3017f33-debf-404a-0c32-07fbaabdd18f/test-file-1fceb77e-6998-01c6-1417-13ce5118c046?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 03 Feb 2021 21:27:34 GMT",
        "x-ms-date": "Tue, 02 Feb 2021 21:27:35 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "4576f058-231d-d068-4c30-ea82023105a3",
        "x-ms-proposed-lease-id": "1c15f4c6-f765-f54f-3716-47219e5db637",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:3bb4bb04-801e-0066-11aa-f9307f000000\n",
        "Time:2021-02-02T21:27:35.8135295Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-eccfc9c6-5d3c-e466-038d-708bc6e8bbb4/test-file-40251960-2be9-3d2f-311c-34a5cd4abb76?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Mon, 01 Feb 2021 21:27:34 GMT",
        "x-ms-date": "Tue, 02 Feb 2021 21:27:36 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "ad0bb68d-2c8e-6533-582a-cb73a4ace1f7",
        "x-ms-proposed-lease-id": "b7fdc7f6-ac8e-5a0e-3817-efe36be9363f",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:137d2023-d01e-006b-41aa-f9f8ab000000\n",
        "Time:2021-02-02T21:27:36.8921225Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-afd93f44-8a87-f3d3-561c-06a72552a79e/test-file-1678a43a-eb54-7c7b-99a2-cef86c851287?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-date": "Tue, 02 Feb 2021 21:27:37 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "99bc975a-01fb-ce4f-258a-3e55f8e2d2c4",
        "x-ms-proposed-lease-id": "7ffeac8a-d771-242f-59c9-7dedca028181",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:d254b1fa-801e-0092-18aa-f9fb89000000\n",
        "Time:2021-02-02T21:27:37.9467656Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-ceeca792-7c9e-e591-b96b-bb2a87d535b8/test-file-70ed314e-4fcf-5804-01c3-ec221a24ed10",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:27:38 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7C15DB0908F\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:27:38 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Feb 2021 21:27:38 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-ceeca792-7c9e-e591-b96b-bb2a87d535b8/test-file-70ed314e-4fcf-5804-01c3-ec221a24ed10?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u00220x8D8C7C15DB0908F\u0022",
        "x-ms-date": "Tue, 02 Feb 2021 21:27:38 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "a7097195-e0d2-9ca9-06e6-311dfcfaa084",
        "x-ms-proposed-lease-id": "7766f2f6-2506-4553-7d4e-3cad2d5ffffa",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:d8a0c0a3-501e-005a-49aa-f919b8000000\n",
        "Time:2021-02-02T21:27:39.0231200Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-ceeca792-7c9e-e591-b96b-bb2a87d535b8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:27:38 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-02T15:27:34.1165605-06:00",
    "RandomSeed": "377977654",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}