{
  "Entries": [
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-e08ccb48-0a2c-4ee5-4734-299a2ad102d4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 27 Apr 2020 04:54:10 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EA67066C2955\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 04:54:10 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary.dfs.core.windows.net/test-filesystem-e08ccb48-0a2c-4ee5-4734-299a2ad102d4/test-file-bb155561-3c01-cb92-899e-7a9a649e69f4?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2020 04:54:10 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EA67067BA422\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 04:54:10 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-e08ccb48-0a2c-4ee5-4734-299a2ad102d4/test-file-bb155561-3c01-cb92-899e-7a9a649e69f4?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2020 04:54:10 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "7b8b36cc-c4d4-bdb4-5aa3-dfd007d47986",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EA67067BA422\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 04:54:10 GMT",
        "x-ms-lease-id": "7b8b36cc-c4d4-bdb4-5aa3-dfd007d47986",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-0b5593b2-4c41-fb1c-27a4-412d012bb221/test-file-842dd874-4bf3-2906-4888-440bc7a143c2?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Sun, 26 Apr 2020 04:54:10 GMT",
        "x-ms-date": "Mon, 27 Apr 2020 04:54:11 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "f359d1b0-4b19-f6f6-1fb8-65fb3d943467",
        "x-ms-proposed-lease-id": "4d7a22e8-649b-018a-2435-ba2891d87a0d",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EA6706BF54DF\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 04:54:11 GMT",
        "x-ms-lease-id": "4d7a22e8-649b-018a-2435-ba2891d87a0d",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-2ce01680-05c9-3079-78c7-6726e112d4d7/test-file-8f90a774-4283-ac99-c08d-19259730c49f?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Tue, 28 Apr 2020 04:54:10 GMT",
        "x-ms-date": "Mon, 27 Apr 2020 04:54:11 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "7d47c8d2-a376-f49f-c73d-5e5071d33f02",
        "x-ms-proposed-lease-id": "f83b452c-ff5b-6857-04ac-e7faec76f3e3",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EA6707021FDD\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 04:54:11 GMT",
        "x-ms-lease-id": "f83b452c-ff5b-6857-04ac-e7faec76f3e3",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-57a3a16b-d08c-1147-0daa-5546a3b7f2ba/test-file-596d022a-0b5e-1283-e977-c33c6bc6dc4f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2020 04:54:12 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7EA6707455238\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 04:54:12 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 27 Apr 2020 04:54:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-57a3a16b-d08c-1147-0daa-5546a3b7f2ba/test-file-596d022a-0b5e-1283-e977-c33c6bc6dc4f?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D7EA6707455238\u0022",
        "x-ms-date": "Mon, 27 Apr 2020 04:54:12 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "123dd5d8-0c9d-07e9-e594-e1f6836adc29",
        "x-ms-proposed-lease-id": "f6bafea4-aa6f-22ff-922a-616a3bf5251d",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EA6707455238\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 04:54:12 GMT",
        "x-ms-lease-id": "f6bafea4-aa6f-22ff-922a-616a3bf5251d",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-05e0b9ff-cd59-349b-3827-9e6ee5a96d25/test-file-bfda85de-56e1-f952-7def-def3aaf065b1?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Mon, 27 Apr 2020 04:54:12 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "39d5af1f-fc6f-485f-9f38-b185b9525301",
        "x-ms-proposed-lease-id": "bdde81eb-1d24-6d04-a79c-17fc3b951368",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EA6707971B05\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 04:54:12 GMT",
        "x-ms-lease-id": "bdde81eb-1d24-6d04-a79c-17fc3b951368",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-05e0b9ff-cd59-349b-3827-9e6ee5a96d25?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2020 04:54:12 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-26T21:54:10.6416285-07:00",
    "RandomSeed": "1770402827",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary\nU2FuaXRpemVk\nhttp://amandaadlscanary.blob.core.windows.net\nhttp://amandaadlscanary.file.core.windows.net\nhttp://amandaadlscanary.queue.core.windows.net\nhttp://amandaadlscanary.table.core.windows.net\n\n\n\n\nhttp://amandaadlscanary-secondary.blob.core.windows.net\nhttp://amandaadlscanary-secondary.file.core.windows.net\nhttp://amandaadlscanary-secondary.queue.core.windows.net\nhttp://amandaadlscanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://amandaadlscanary.blob.core.windows.net/;QueueEndpoint=http://amandaadlscanary.queue.core.windows.net/;FileEndpoint=http://amandaadlscanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandaadlscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandaadlscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandaadlscanary-secondary.file.core.windows.net/;AccountName=amandaadlscanary;AccountKey=Sanitized\n\n\n"
  }
}