{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-60e92a30-94b6-5d61-82fb-2b3ef0becf25?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:12:03 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A3D50E341\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:12:02 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-60e92a30-94b6-5d61-82fb-2b3ef0becf25/test-file-392aca51-f03a-4906-cdce-cb28dc86bcb3?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:12:03 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A3D60866C\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:12:02 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-60e92a30-94b6-5d61-82fb-2b3ef0becf25/test-file-392aca51-f03a-4906-cdce-cb28dc86bcb3?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:12:03 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "b74cac5a-d011-28c9-8aad-12fcc36bc260"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A3D60866C\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:12:02 GMT",
        "x-ms-lease-id": "b74cac5a-d011-28c9-8aad-12fcc36bc260"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-b3159415-ea28-a835-5de6-a071eceb7a18/test-file-f865fe9c-5ed7-6131-ce8e-ba089879d32d?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 18 Feb 2021 19:12:03 GMT",
        "x-ms-date": "Fri, 19 Feb 2021 19:12:04 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "1171b907-5d5b-21a2-1992-a028805694fb",
        "x-ms-proposed-lease-id": "99ca3d68-fd59-1262-d72f-4dd7493f6a02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A3DA04384\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:12:03 GMT",
        "x-ms-lease-id": "99ca3d68-fd59-1262-d72f-4dd7493f6a02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-5f34ad18-1719-ea78-12cd-79192dd5cbf5/test-file-30b76aba-4dae-ea9e-57d2-55f211ee7670?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sat, 20 Feb 2021 19:12:03 GMT",
        "x-ms-date": "Fri, 19 Feb 2021 19:12:04 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "d39f1f0d-7817-2f06-881d-b0c65c9b4b6b",
        "x-ms-proposed-lease-id": "5d8509b9-6d1f-fb86-2382-f5aca0a08860"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A3DE0243D\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:12:03 GMT",
        "x-ms-lease-id": "5d8509b9-6d1f-fb86-2382-f5aca0a08860"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-526f5d21-0880-a6d8-39d2-c2044dbf80d1/test-file-e4b166ea-6299-ee71-0bcd-885abe86ca7f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:12:04 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D50A3E1F27F4\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:12:04 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:12:04 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-526f5d21-0880-a6d8-39d2-c2044dbf80d1/test-file-e4b166ea-6299-ee71-0bcd-885abe86ca7f?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D50A3E1F27F4",
        "x-ms-date": "Fri, 19 Feb 2021 19:12:05 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "cff9846a-74fa-f0ef-cf73-417b27e1bfe8",
        "x-ms-proposed-lease-id": "3dfa8ad7-541e-7b77-8dfe-c5e07e28649c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A3E1F27F4\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:12:04 GMT",
        "x-ms-lease-id": "3dfa8ad7-541e-7b77-8dfe-c5e07e28649c"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-f2274b18-b653-49ca-3d53-66e26d67b080/test-file-679a3cd9-a23a-aada-2efa-e731eff4d45b?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Fri, 19 Feb 2021 19:12:05 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "c7cfc411-ff34-28ad-2917-2c2645db5c1e",
        "x-ms-proposed-lease-id": "a922150c-9df7-8f15-c4cc-94eadfa121d0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A3E6B4A42\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:12:04 GMT",
        "x-ms-lease-id": "a922150c-9df7-8f15-c4cc-94eadfa121d0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-f2274b18-b653-49ca-3d53-66e26d67b080?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:12:05 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-19T13:12:03.4952678-06:00",
    "RandomSeed": "2119137786",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}