{
  "Entries": [
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-cd7606c2-a718-cd8b-e638-3ae74d79d164?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 23 Dec 2019 20:36:17 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D787E7C313B344\u0022",
        "Last-Modified": "Mon, 23 Dec 2019 20:36:17 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagehierarchical.dfs.core.windows.net/test-filesystem-cd7606c2-a718-cd8b-e638-3ae74d79d164/test-file-fb9f2230-ccd0-e0ef-fc29-ff3b5509245c?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Dec 2019 20:36:17 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D787E7C333567A\u0022",
        "Last-Modified": "Mon, 23 Dec 2019 20:36:17 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-cd7606c2-a718-cd8b-e638-3ae74d79d164/test-file-fb9f2230-ccd0-e0ef-fc29-ff3b5509245c?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Dec 2019 20:36:17 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "ea021cb1-2fc4-74b1-5893-c116b5a47860",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D787E7C333567A\u0022",
        "Last-Modified": "Mon, 23 Dec 2019 20:36:17 GMT",
        "x-ms-lease-id": "ea021cb1-2fc4-74b1-5893-c116b5a47860",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-43cd297d-9227-8ac3-af77-f77b503318ae/test-file-7ba2d3c0-aa40-036e-53a9-1cc1a54067e4?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Sun, 22 Dec 2019 20:36:17 GMT",
        "x-ms-date": "Mon, 23 Dec 2019 20:36:18 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "54443e9b-9a15-3bfd-551d-d234bc07adde",
        "x-ms-proposed-lease-id": "90958074-167d-39bc-7f1a-5f8546f64202",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D787E7C3935583\u0022",
        "Last-Modified": "Mon, 23 Dec 2019 20:36:18 GMT",
        "x-ms-lease-id": "90958074-167d-39bc-7f1a-5f8546f64202",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-7e62dbb0-ea82-477c-27cb-3166b8e5bc05/test-file-3c1a34b9-c041-7265-d7df-5cae89d74e1f?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Tue, 24 Dec 2019 20:36:17 GMT",
        "x-ms-date": "Mon, 23 Dec 2019 20:36:19 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "da14d0ea-419e-ba6e-f729-c7f2b69324a2",
        "x-ms-proposed-lease-id": "217d4e3b-8aed-e531-1844-6fa1195561d5",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D787E7C3F224F7\u0022",
        "Last-Modified": "Mon, 23 Dec 2019 20:36:19 GMT",
        "x-ms-lease-id": "217d4e3b-8aed-e531-1844-6fa1195561d5",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-922dfa6e-bd72-e637-60c1-146bbf1d73e4/test-file-18408f05-05f4-1043-bc66-611ee0c977d4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Dec 2019 20:36:19 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D787E7C452B434\u0022",
        "Last-Modified": "Mon, 23 Dec 2019 20:36:19 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 23 Dec 2019 20:36:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-922dfa6e-bd72-e637-60c1-146bbf1d73e4/test-file-18408f05-05f4-1043-bc66-611ee0c977d4?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D787E7C452B434\u0022",
        "x-ms-date": "Mon, 23 Dec 2019 20:36:19 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "d1c18b32-bff4-ba2a-bd6b-27f30c6713ac",
        "x-ms-proposed-lease-id": "25b1bf55-9661-2f8a-a7ce-d3e1df272752",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D787E7C452B434\u0022",
        "Last-Modified": "Mon, 23 Dec 2019 20:36:19 GMT",
        "x-ms-lease-id": "25b1bf55-9661-2f8a-a7ce-d3e1df272752",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-b0a3513f-41a8-9c45-0e15-4fecfb32b0f3/test-file-6573dbde-19bd-8963-351a-42dd24c290fd?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Mon, 23 Dec 2019 20:36:20 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "4ed43c18-1f51-38b6-bf42-3f9dd6b00d71",
        "x-ms-proposed-lease-id": "9d2ec4fc-5f1e-5860-a76c-6116d05d6b1d",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D787E7C4BE33E1\u0022",
        "Last-Modified": "Mon, 23 Dec 2019 20:36:20 GMT",
        "x-ms-lease-id": "9d2ec4fc-5f1e-5860-a76c-6116d05d6b1d",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-b0a3513f-41a8-9c45-0e15-4fecfb32b0f3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Dec 2019 20:36:20 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-12-23T12:36:17.5122789-08:00",
    "RandomSeed": "286530230",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanstagehierarchical\nU2FuaXRpemVk\nhttp://seanstagehierarchical.blob.core.windows.net\nhttp://seanstagehierarchical.file.core.windows.net\nhttp://seanstagehierarchical.queue.core.windows.net\nhttp://seanstagehierarchical.table.core.windows.net\n\n\n\n\nhttp://seanstagehierarchical-secondary.blob.core.windows.net\nhttp://seanstagehierarchical-secondary.file.core.windows.net\nhttp://seanstagehierarchical-secondary.queue.core.windows.net\nhttp://seanstagehierarchical-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://seanstagehierarchical.blob.core.windows.net/;QueueEndpoint=http://seanstagehierarchical.queue.core.windows.net/;FileEndpoint=http://seanstagehierarchical.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagehierarchical-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagehierarchical-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagehierarchical-secondary.file.core.windows.net/;AccountName=seanstagehierarchical;AccountKey=Sanitized\n"
  }
}