{
  "Entries": [
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-7cf89841-21bd-9bba-79af-cb66283c1615?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 27 Apr 2020 04:52:20 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EA66C4D099FA\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 04:52:20 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary.dfs.core.windows.net/test-filesystem-7cf89841-21bd-9bba-79af-cb66283c1615/test-directory-3507a10f-3d4f-5c49-bf35-baa58d50208c?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2020 04:52:20 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EA66C4DDDA22\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 04:52:20 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary.dfs.core.windows.net/test-filesystem-7cf89841-21bd-9bba-79af-cb66283c1615/test-directory-3507a10f-3d4f-5c49-bf35-baa58d50208c/test-file-2c25c9ac-7e1c-ec66-6850-dd8dcb5ecd10?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2020 04:52:20 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EA66C4E9C5ED\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 04:52:20 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary.dfs.core.windows.net/test-filesystem-7cf89841-21bd-9bba-79af-cb66283c1615/test-directory-3507a10f-3d4f-5c49-bf35-baa58d50208c/test-file-2c25c9ac-7e1c-ec66-6850-dd8dcb5ecd10?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Mon, 27 Apr 2020 04:52:20 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "PathAlreadyExists",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": {
        "error": {
          "code": "PathAlreadyExists",
          "message": "The specified path already exists.\nRequestId:e519f39c-701f-00e8-034f-1c6fb7000000\nTime:2020-04-27T04:52:20.8226605Z"
        }
      }
    },
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-7cf89841-21bd-9bba-79af-cb66283c1615?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2020 04:52:20 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1425937147",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary\nU2FuaXRpemVk\nhttp://amandaadlscanary.blob.core.windows.net\nhttp://amandaadlscanary.file.core.windows.net\nhttp://amandaadlscanary.queue.core.windows.net\nhttp://amandaadlscanary.table.core.windows.net\n\n\n\n\nhttp://amandaadlscanary-secondary.blob.core.windows.net\nhttp://amandaadlscanary-secondary.file.core.windows.net\nhttp://amandaadlscanary-secondary.queue.core.windows.net\nhttp://amandaadlscanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://amandaadlscanary.blob.core.windows.net/;QueueEndpoint=http://amandaadlscanary.queue.core.windows.net/;FileEndpoint=http://amandaadlscanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandaadlscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandaadlscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandaadlscanary-secondary.file.core.windows.net/;AccountName=amandaadlscanary;AccountKey=Sanitized\n\n\n"
  }
}