{
  "Entries": [
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-befe4804-5232-74da-734b-e67320f85105?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 22:16:18 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C152D44F218D\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:16:18 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.dfs.core.windows.net/test-filesystem-befe4804-5232-74da-734b-e67320f85105/test-directory-768998bd-0e73-2f3b-d323-ca1bd1728ec8?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:16:19 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C152D47FC4DC\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:16:19 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.dfs.core.windows.net/test-filesystem-befe4804-5232-74da-734b-e67320f85105/test-directory-768998bd-0e73-2f3b-d323-ca1bd1728ec8/test-file-6166de1e-0d8a-d91c-0437-059aafd80108",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:16:19 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "PathNotFound",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": {
        "error": {
          "code": "PathNotFound",
          "message": "The specified path does not exist.\nRequestId:2b8c098e-101f-001a-233b-f3f3e4000000\nTime:2020-03-05T22:16:19.3652580Z"
        }
      }
    },
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-befe4804-5232-74da-734b-e67320f85105?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:16:19 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "135047397",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanstagehierarchical\nU2FuaXRpemVk\nhttps://seanstagehierarchical.blob.core.windows.net\nhttp://seanstagehierarchical.file.core.windows.net\nhttp://seanstagehierarchical.queue.core.windows.net\nhttp://seanstagehierarchical.table.core.windows.net\n\n\n\n\nhttp://seanstagehierarchical-secondary.blob.core.windows.net\nhttp://seanstagehierarchical-secondary.file.core.windows.net\nhttp://seanstagehierarchical-secondary.queue.core.windows.net\nhttp://seanstagehierarchical-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanstagehierarchical.blob.core.windows.net/;QueueEndpoint=http://seanstagehierarchical.queue.core.windows.net/;FileEndpoint=http://seanstagehierarchical.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagehierarchical-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagehierarchical-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagehierarchical-secondary.file.core.windows.net/;AccountName=seanstagehierarchical;AccountKey=Sanitized\n"
  }
}