{
  "Entries": [
    {
      "RequestUri": "https://t4kxscnapby3pev24a.blob.preprod.core.windows.net/test-filesystem-426fa8f2-bcf2-a213-675b-4b15a7f4a744?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 06 Sep 2022 21:22:42 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA904DEEEC633A\u0022",
        "Last-Modified": "Tue, 06 Sep 2022 21:22:42 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t4kxscnapby3pev24a.dfs.preprod.core.windows.net/test-filesystem-426fa8f2-bcf2-a213-675b-4b15a7f4a744/test-file-fc2055a7-51d0-3242-5c36-662c6f416228?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 06 Sep 2022 21:22:42 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA904DEEFD803B\u0022",
        "Last-Modified": "Tue, 06 Sep 2022 21:22:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t4kxscnapby3pev24a.dfs.preprod.core.windows.net/test-filesystem-426fa8f2-bcf2-a213-675b-4b15a7f4a744/test-file-fc2055a7-51d0-3242-5c36-662c6f416228?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 06 Sep 2022 21:22:42 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "d48be43a-35c3-cd93-0d6f-7de35d71061a",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "vvWuBc3Aev1ej/\u002BpDOuPdQudXpkVeAoOmMcLNgnftxjB9pitOCT7DVsti4\u002Bpx3BANisLPIfLOEbqoG0FtET0f9fn5xZT4TznoVA\u002B6Ox6ZdBXyv/d1HuR9r5Sw5i39lgWOAy3weBa7VXuI5o2jU9ZcDucrupFFqpcVvFXAR6kMKr4J6/fw6Pw/N2q77DgWmhu\u002BFJcGkhu0CJiW2vuA\u002Bw2SfPwPmWgeqyXrLENmyf5e/uI6AjLRxViiVaNfWc3Afnwc6W98BwDzn2mxW6XYTX6aOBwZhrjawHdjbQOE/1FX6q3HCiBPIrfhRmKJYKnyyghkhSHx5vfDQej32Jn9LuAYGXD30QNeStVkOEAWEZ/NsKL7Y[...]
    {
      "RequestUri": "https://t4kxscnapby3pev24a.dfs.preprod.core.windows.net/test-filesystem-426fa8f2-bcf2-a213-675b-4b15a7f4a744/test-file-fc2055a7-51d0-3242-5c36-662c6f416228?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Sep 2022 21:22:42 GMT",
        "x-ms-lease-action": "auto-renew",
        "x-ms-lease-id": "d48be43a-35c3-cd93-0d6f-7de35d71061a",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA904DEF1A572A\u0022",
        "Last-Modified": "Tue, 06 Sep 2022 21:22:42 GMT",
        "x-ms-lease-renewed": "true",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t4kxscnapby3pev24a.blob.preprod.core.windows.net/test-filesystem-426fa8f2-bcf2-a213-675b-4b15a7f4a744/test-file-fc2055a7-51d0-3242-5c36-662c6f416228",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Sep 2022 21:22:42 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA904DEF1A572A\u0022",
        "Last-Modified": "Tue, 06 Sep 2022 21:22:42 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 06 Sep 2022 21:22:42 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-duration": "fixed",
        "x-ms-lease-state": "leased",
        "x-ms-lease-status": "locked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t4kxscnapby3pev24a.blob.preprod.core.windows.net/test-filesystem-426fa8f2-bcf2-a213-675b-4b15a7f4a744?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Sep 2022 21:22:42 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1894451659",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nt4kxscnapby3pev24a\nU2FuaXRpemVk\nhttps://t4kxscnapby3pev24a.blob.preprod.core.windows.net\nhttps://seancanaryv3.file.core.windows.net\nhttps://t4kxscnapby3pev24a.queue.core.windows.net\nhttps://t4kxscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttps://t4kxscnapby3pev24a-secondary.blob.core.windows.net\nhttps://t4kxscnapby3pev24a-secondary.file.core.windows.net\nhttps://t4kxscnapby3pev24a-secondary.queue.core.windows.net\nhttps://t4kxscnapby3pev24a-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://t4kxscnapby3pev24a.blob.preprod.core.windows.net/;QueueEndpoint=https://t4kxscnapby3pev24a.queue.core.windows.net/;FileEndpoint=https://seancanaryv3.file.core.windows.net/;BlobSecondaryEndpoint=https://t4kxscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://t4kxscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://t4kxscnapby3pev24a-secondary.file.core.windows.net/;AccountName=t4kxscnapby3pev24a;AccountKey=Sanitized\nseanscope1\nXClient\n"
  }
}
