{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-28cc7f82-7358-e1f6-006a-6a6e7a7c762e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:58:20 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D510B479F4C8\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:58:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-28cc7f82-7358-e1f6-006a-6a6e7a7c762e/test-file-6d421c4c-70ab-75a0-5af3-67f4376c64d6?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:58:20 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D510B48AB3AA\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:58:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-28cc7f82-7358-e1f6-006a-6a6e7a7c762e/test-file-6d421c4c-70ab-75a0-5af3-67f4376c64d6?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 19 Feb 2021 19:58:20 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "ajyyYsub4E7AFFe4YF976T1FIv4uBO8HxKkQPt573KlmctW9vVJWN1fun9GjRMmFaDWiC0qNbWZNq54iiqJwRDitUe2Kvivq7uqnQGUdY3/fi9ao2dBe2QVvbxK0NKy1fVqZ9fLb+qkJuB1g5i0AL0cfQv/LyGtnT3joG04ZNbo98cILg26MA5AsnyGz/fLXbkDLlfGt6rXuMqZ6899b8IJjI/Rq9azYkj9vnihKs1GFEKwOTqDIkAcMHFHHEhCx0a6eUNr+bHmT8gKyPUuMpH9V9OIyTKLhmpPtXdhaEIAuvs16q2N2h6QzeludFlK8gHjSch0tfoUMvbVHEA+gOeGCg39+E[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-28cc7f82-7358-e1f6-006a-6a6e7a7c762e/test-file-6d421c4c-70ab-75a0-5af3-67f4376c64d6?action=flush&position=1024&close=true",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:58:20 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D510B4A42173\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:58:19 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-28cc7f82-7358-e1f6-006a-6a6e7a7c762e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:58:20 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "611779444",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n\n\n"
  }
}