{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-9d570352-3195-9121-0e35-f184e3ca1820?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 22:26:30 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3931328B808\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:26:30 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-9d570352-3195-9121-0e35-f184e3ca1820/test-file-e5a06efe-0c1d-792f-f877-2905af2bfe04?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 17 Feb 2021 22:26:30 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D393135FB483\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:26:31 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-9d570352-3195-9121-0e35-f184e3ca1820/test-file-e5a06efe-0c1d-792f-f877-2905af2bfe04?action=append\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:26:31 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "3bdtFyF5VHzhefbZWWVbjrT5Fswz2poWNsybQ\u002BVwLk1F4\u002Bxm/KsOdo57Q\u002B8l9fwmqw5m[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-9d570352-3195-9121-0e35-f184e3ca1820/test-file-e5a06efe-0c1d-792f-f877-2905af2bfe04?action=flush\u0026position=0\u0026retainUncommittedData=true",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:26:31 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D393137BE779\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:26:31 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-9d570352-3195-9121-0e35-f184e3ca1820?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:26:31 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1171079015",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}