{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-6ec61bc9-03fa-4088-f99a-6e034b5a144c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:46 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D5107C4C9594\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:56:45 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-6ec61bc9-03fa-4088-f99a-6e034b5a144c/test-file-72a44d84-b34f-2c3a-028e-1b735a2a9a62?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:46 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D5107C5E538D\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:56:45 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-6ec61bc9-03fa-4088-f99a-6e034b5a144c/test-file-72a44d84-b34f-2c3a-028e-1b735a2a9a62?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:46 GMT"
      },
      "RequestBody": "QR1q7neHc0aa1RPQ3c4QH9njvvlQQnBuB/eCemmovw22pSv\u002BecbALe2TvhxJu8/5SbQwLJLO4P6t/OeABfnc8RYGGTeiEqUTIpALvIRUJEsoiTC1d5J66MQsUH3ePyjztswGQqKXVjYPHQoBwyR6WdebWHvIJ3qDizFydsEoNOJoGAW3TeKpkDL5pVqIeCSgsvemQuesKo9SgrZxJeB15ugnmaoewgv08sdIzoEf\u002BxIM0cPJgvH6vO12ZcsrOGtShL9xYd96gu/ssVAgY1sNMoejZFMcq2T2LNy8qFxAybpc9krCrpkzkU/U3dCh2liSaDNDiNMXNthbejUDvdmSq\u002BiWxG0QS4PtcNIDR86TVVGEKj8p/EDm[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-6ec61bc9-03fa-4088-f99a-6e034b5a144c/test-file-72a44d84-b34f-2c3a-028e-1b735a2a9a62?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:46 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D5107C7F2B77\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:56:45 GMT",
        "x-ms-request-server-encrypted": "false",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-9ad493d4-2c54-7667-e10f-6f637317bc8a/test-file-150afdef-e618-6fbf-5b69-1f06b5d9abe0?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 18 Feb 2021 19:56:46 GMT",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:46 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D5107CC88F7A\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:56:46 GMT",
        "x-ms-request-server-encrypted": "false",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-5676113d-6cbe-d3b5-8278-d5569f287771/test-file-14ae9a0c-55f3-6bad-f547-d9324bb23e77?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sat, 20 Feb 2021 19:56:46 GMT",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:47 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D5107D0DC014\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:56:46 GMT",
        "x-ms-request-server-encrypted": "false",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-304f0f51-6a51-44d1-73a2-132cdebd145b/test-file-1b2e19a4-f0c3-ef77-bad0-17278131a5cf",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:47 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D5107D3CB08B\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:56:47 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:56:47 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-304f0f51-6a51-44d1-73a2-132cdebd145b/test-file-1b2e19a4-f0c3-ef77-bad0-17278131a5cf?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D5107D3CB08B",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:47 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D5107D64DE43\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:56:47 GMT",
        "x-ms-request-server-encrypted": "false",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-4da9ab77-d741-c122-a098-5e58b8a37ba9/test-file-682561e7-1132-740c-aa99-681b2cab9229?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:48 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "02986daa-dc05-ccb1-ffe4-cd8a2e3b6651"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D5107DDEB8B7\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:56:48 GMT",
        "x-ms-lease-id": "02986daa-dc05-ccb1-ffe4-cd8a2e3b6651"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-4da9ab77-d741-c122-a098-5e58b8a37ba9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:49 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-19T13:56:46.1633999-06:00",
    "RandomSeed": "2954865",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}