{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-e6a34aa0-b1f4-4ad1-d38b-9f6ab334eeae?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 03 Feb 2021 02:08:17 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7E892D357A0\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:08:18 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-e6a34aa0-b1f4-4ad1-d38b-9f6ab334eeae/test-file-8684da50-6dae-aac6-e21a-42d0fbf6b283?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 03 Feb 2021 02:08:17 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7E89309E887\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:08:18 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-e6a34aa0-b1f4-4ad1-d38b-9f6ab334eeae/test-file-8684da50-6dae-aac6-e21a-42d0fbf6b283?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Wed, 03 Feb 2021 02:08:17 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": [
        "Z\u0015\uFFFD\uFFFD\uFFFDm!\uFFFD\uFFFD(\uFFFDT\uFFFD\uFFFDN\uFFFDU \uFFFDj\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\u001E\uFFFD({\uFFFDn\uFFFD/xF\u0003\uFFFD\uFFFDBR\uFFFD\uFFFD\u0005%G\uFFFD\u001A\uFFFD\uFFFDl\u0060\u001A\uFFFDd]0\uFFFDeNi\uFFFDW\uFFFD)\uFFFD\uFFFDz\u0007\u077CZ\uFFFD5\uFFFD\u000B\u0015\uFFFD\uFFFDE*\uFFFD\uFFFD\uFFFD-\u000E\uFFFDM\u0013[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-e6a34aa0-b1f4-4ad1-d38b-9f6ab334eeae/test-file-8684da50-6dae-aac6-e21a-42d0fbf6b283?action=flush\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:08:17 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7E893322070\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:08:18 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-e6a34aa0-b1f4-4ad1-d38b-9f6ab334eeae?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:08:18 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "737593245",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}