{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-8356190c-dd7b-e1f5-3871-02873dfaf609?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:52 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D5108043DEF3\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:56:52 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-8356190c-dd7b-e1f5-3871-02873dfaf609/test-file-fd268d25-1fa6-9d93-1231-69bb5cd2c776?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:52 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D5108053DAD7\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:56:52 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-8356190c-dd7b-e1f5-3871-02873dfaf609/test-file-fd268d25-1fa6-9d93-1231-69bb5cd2c776?action=append\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:53 GMT"
      },
      "RequestBody": "BtwpqP\u002Bb/66fRbbulqaC3BLLoR7VPNzZW49rLQkE9GhxIeY\u002BDHaefj1O7FQXEVb4lZHXIT0mkcoAUE1wL9Klm1FNfHS/RM\u002BbLCPhh0\u002BHwkk4c5d4LNIrS48cPbwoLU9rqFEDyZThOFHBO/QaRQp6eI4EOLs6LW5\u002BIjHlowYTcv/Tdt7\u002BhPi0VjtGtvHeEQWEocUtJPWTMHvjhKdi/JRLrcj1Rs8sfPOVT\u002BGA9Hd9oBEsYAJB5U4JQEVjGwBRUVmm\u002Bwgo6Ms2WCTRmNUTEjsEZuOWNpySCch66wWJyWHzRP2H2vluVLdF9gfdb0149S0KXrUcuxu9E/FArvzFrI/C3lPXizh[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-8356190c-dd7b-e1f5-3871-02873dfaf609/test-file-fd268d25-1fa6-9d93-1231-69bb5cd2c776?action=flush\u0026position=0\u0026retainUncommittedData=true",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:53 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D510806EBD13\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:56:52 GMT",
        "x-ms-request-server-encrypted": "false",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-8356190c-dd7b-e1f5-3871-02873dfaf609?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:53 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "239781584",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}