{
  "Entries": [
    {
      "RequestUri": "https://t4kxscnapby3pev24a.blob.preprod.core.windows.net/test-filesystem-f3db36ac-2965-8082-0678-9244b68bf6d9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 06 Sep 2022 21:22:41 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA904DEE543F5B\u0022",
        "Last-Modified": "Tue, 06 Sep 2022 21:22:41 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t4kxscnapby3pev24a.dfs.preprod.core.windows.net/test-filesystem-f3db36ac-2965-8082-0678-9244b68bf6d9/test-file-ae98893c-168b-178d-055d-a9fa59e16053?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 06 Sep 2022 21:22:41 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA904DEE63DF82\u0022",
        "Last-Modified": "Tue, 06 Sep 2022 21:22:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t4kxscnapby3pev24a.dfs.preprod.core.windows.net/test-filesystem-f3db36ac-2965-8082-0678-9244b68bf6d9/test-file-ae98893c-168b-178d-055d-a9fa59e16053?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 06 Sep 2022 21:22:41 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "zWXYPVVTWRNjj/K36BY702B4VRt8yjiCgFm7/WHQoBIYfKh2Wr/bUeNQMoqyDIGf//T071SfNAMsVbz7l1uyk\u002B/fnmxuxHihnQM4LJet0HTYHP5t27G\u002BeEelSQQC37mHnp\u002Bb0m0VMTp7UlFQZwdrfoVII3tdRLc9ISYkyXp0n75JsI73Ev0HwurD8ohfbRE/Oct/urs\u002BKVnoXbFH8GjAB7OTBrd5dGyIQWCQmlIu3rMU5I\u002Bv9eUCC4Y1D7RMwNGCAuvUzGZaxsVe93harY8GuX/9MgvYEBLOkfswQ2S3O4GPDpdnWRFNuh3KUP5sp172LlY0[...]
    {
      "RequestUri": "https://t4kxscnapby3pev24a.dfs.preprod.core.windows.net/test-filesystem-f3db36ac-2965-8082-0678-9244b68bf6d9/test-file-ae98893c-168b-178d-055d-a9fa59e16053?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Sep 2022 21:22:41 GMT",
        "x-ms-lease-action": "acquire-release",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "d94503e4-116f-1223-ce07-9f8d16ae2584",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA904DEE8052FB\u0022",
        "Last-Modified": "Tue, 06 Sep 2022 21:22:41 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t4kxscnapby3pev24a.blob.preprod.core.windows.net/test-filesystem-f3db36ac-2965-8082-0678-9244b68bf6d9/test-file-ae98893c-168b-178d-055d-a9fa59e16053",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Sep 2022 21:22:41 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA904DEE8052FB\u0022",
        "Last-Modified": "Tue, 06 Sep 2022 21:22:41 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 06 Sep 2022 21:22:41 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t4kxscnapby3pev24a.blob.preprod.core.windows.net/test-filesystem-f3db36ac-2965-8082-0678-9244b68bf6d9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Sep 2022 21:22:41 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1318641823",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nt4kxscnapby3pev24a\nU2FuaXRpemVk\nhttps://t4kxscnapby3pev24a.blob.preprod.core.windows.net\nhttps://seancanaryv3.file.core.windows.net\nhttps://t4kxscnapby3pev24a.queue.core.windows.net\nhttps://t4kxscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttps://t4kxscnapby3pev24a-secondary.blob.core.windows.net\nhttps://t4kxscnapby3pev24a-secondary.file.core.windows.net\nhttps://t4kxscnapby3pev24a-secondary.queue.core.windows.net\nhttps://t4kxscnapby3pev24a-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://t4kxscnapby3pev24a.blob.preprod.core.windows.net/;QueueEndpoint=https://t4kxscnapby3pev24a.queue.core.windows.net/;FileEndpoint=https://seancanaryv3.file.core.windows.net/;BlobSecondaryEndpoint=https://t4kxscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://t4kxscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://t4kxscnapby3pev24a-secondary.file.core.windows.net/;AccountName=t4kxscnapby3pev24a;AccountKey=Sanitized\nseanscope1\nXClient\n"
  }
}
