{
  "Entries": [
    {
      "RequestUri": "http://amandaadlscanary2.blob.core.windows.net/test-filesystem-6d7ebc8c-7ca8-5e2d-7771-b7d5fcf5ff5d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 29 Oct 2020 21:48:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D87C5451BD40AE\u0022",
        "Last-Modified": "Thu, 29 Oct 2020 21:48:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-6d7ebc8c-7ca8-5e2d-7771-b7d5fcf5ff5d/test-directory-d43118b2-e103-3b60-d1db-6426a8cf0b77?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 29 Oct 2020 21:48:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D87C5451CC0E30\u0022",
        "Last-Modified": "Thu, 29 Oct 2020 21:48:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-6d7ebc8c-7ca8-5e2d-7771-b7d5fcf5ff5d/test-directory-d43118b2-e103-3b60-d1db-6426a8cf0b77/test-file-bbe417d8-a751-9af2-a873-96637e84f26f?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 29 Oct 2020 21:48:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D87C5451D97D4C\u0022",
        "Last-Modified": "Thu, 29 Oct 2020 21:48:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary2.blob.core.windows.net/?restype=service\u0026comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u003CKeyInfo\u003E\u003CExpiry\u003E2020-10-29T22:48:06Z\u003C/Expiry\u003E\u003C/KeyInfo\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CUserDelegationKey\u003E\u003CSignedOid\u003Ec4f48289-bb84-4086-b250-6f94a8f64cee\u003C/SignedOid\u003E\u003CSignedTid\u003E72f988bf-86f1-41af-91ab-2d7cd011db47\u003C/SignedTid\u003E\u003CSignedStart\u003E2020-10-29T21:48:06Z\u003C/SignedStart\u003E\u003CSignedExpiry\u003E2020-10-29T22:48:06Z\u003C/SignedExpiry\u003E\u003CSignedService\u003Eb\u003C/SignedService\u003E\u003CSignedVersion\u003E2020-02-10\u003C/SignedVersion\u003E\u003CValue\u003Ei5yEw3UaKfMeGHtN0byDNA10HQjKXO74rDHCPC9xDCg=\u003C/Value\u003E\u003C/UserDelegationKey\u003E"
    },
    {
      "RequestUri": "https://amandaadlscanary2.dfs.core.windows.net/test-filesystem-6d7ebc8c-7ca8-5e2d-7771-b7d5fcf5ff5d/test-directory-d43118b2-e103-3b60-d1db-6426a8cf0b77/test-file-bbe417d8-a751-9af2-a873-96637e84f26f?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2020-10-29T21%3A48%3A06Z\u0026ske=2020-10-29T22%3A48%3A06Z\u0026sks=b\u0026skv=2020-02-10\u0026sv=2020-04-08\u0026st=2020-10-29T20%3A48%3A06Z\u0026se=2020-10-29T22%3A48%3A06Z\u0026sr=c\u0026sp=racwdlmeop\u0026sig=Sanitized\u0026action=getAccessControl",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D87C5451D97D4C\u0022",
        "Last-Modified": "Thu, 29 Oct 2020 21:48:06 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-group": "$superuser",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary2.blob.core.windows.net/test-filesystem-6d7ebc8c-7ca8-5e2d-7771-b7d5fcf5ff5d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 29 Oct 2020 21:48:07 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-10-29T14:48:06.5696033-07:00",
    "RandomSeed": "1445008580",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary2\nU2FuaXRpemVk\nhttp://amandaadlscanary2.blob.core.windows.net\nhttp://amandaadlscanary2.file.core.windows.net\nhttp://amandaadlscanary2.queue.core.windows.net\nhttp://amandaadlscanary2.table.core.windows.net\n\n\n\n\nhttp://amandaadlscanary2-secondary.blob.core.windows.net\nhttp://amandaadlscanary2-secondary.file.core.windows.net\nhttp://amandaadlscanary2-secondary.queue.core.windows.net\n\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://amandaadlscanary2.blob.core.windows.net/;QueueEndpoint=http://amandaadlscanary2.queue.core.windows.net/;FileEndpoint=http://amandaadlscanary2.file.core.windows.net/;BlobSecondaryEndpoint=http://amandaadlscanary2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandaadlscanary2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandaadlscanary2-secondary.file.core.windows.net/;AccountName=amandaadlscanary2;AccountKey=Sanitized\n"
  }
}