{
  "Entries": [
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-f6c2df8a-e3a2-6fe6-6ca8-f197e3088a91?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 01 Jun 2020 19:14:54 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D806601174BC09\u0022",
        "Last-Modified": "Mon, 01 Jun 2020 19:14:55 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-f6c2df8a-e3a2-6fe6-6ca8-f197e3088a91/test-file-46ba49e0-5db5-e2b5-d7a2-e4941478b1f6?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Mon, 01 Jun 2020 19:14:54 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D80660119944C4\u0022",
        "Last-Modified": "Mon, 01 Jun 2020 19:14:55 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-f6c2df8a-e3a2-6fe6-6ca8-f197e3088a91/test-file-46ba49e0-5db5-e2b5-d7a2-e4941478b1f6?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jun 2020 19:14:54 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "DW0y0GMkAyn27rIXGw617uqq0voBAhAHTAee5haxV8fxjspMS\u002B3joOXdkpL8C5S9HVxN06qeOAp[...]
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-f6c2df8a-e3a2-6fe6-6ca8-f197e3088a91/test-file-46ba49e0-5db5-e2b5-d7a2-e4941478b1f6?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jun 2020 19:14:54 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8066011AB5683\u0022",
        "Last-Modified": "Mon, 01 Jun 2020 19:14:55 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-f6c2df8a-e3a2-6fe6-6ca8-f197e3088a91/test-file-46ba49e0-5db5-e2b5-d7a2-e4941478b1f6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 02 Jun 2020 19:14:54 GMT",
        "x-ms-date": "Mon, 01 Jun 2020 19:14:54 GMT",
        "x-ms-range": "bytes=0-255",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-ef9e89ae-9015-c24b-83a3-3b243265d5f4/test-file-1eb2c6ab-308d-db25-ab62-3ab43cd6f783",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sun, 31 May 2020 19:14:54 GMT",
        "x-ms-date": "Mon, 01 Jun 2020 19:14:55 GMT",
        "x-ms-range": "bytes=0-255",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:265a46f6-c01e-0019-7048-38cd1b000000\n",
        "Time:2020-06-01T19:14:56.5685520Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-b3ca1399-6351-acbd-5595-d7d729c29fda/test-file-e628c485-adb6-e56a-f41c-a66dc71cfae6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-date": "Mon, 01 Jun 2020 19:14:56 GMT",
        "x-ms-range": "bytes=0-255",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:2ff0998a-701e-0023-7748-38d763000000\n",
        "Time:2020-06-01T19:14:57.3087760Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-258cbee0-d188-0051-6a78-6b26914886f3/test-file-ca7e6448-841b-e4f2-b9ec-9dd815df9fa2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jun 2020 19:14:57 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D80660132917CA\u0022",
        "Last-Modified": "Mon, 01 Jun 2020 19:14:58 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 01 Jun 2020 19:14:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-9ed62629-e27f-639b-b0b5-98735f0d9690/test-file-e62587c5-abd7-22e1-c763-0fc642a910f1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jun 2020 19:14:58 GMT",
        "x-ms-lease-id": "b742b293-6edf-7c14-4297-fee8401a8ebc",
        "x-ms-range": "bytes=0-255",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseNotPresentWithBlobOperation\u003C/Code\u003E\u003CMessage\u003EThere is currently no lease on the blob.\n",
        "RequestId:91638543-c01e-0036-3948-38c0d0000000\n",
        "Time:2020-06-01T19:14:59.1495197Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-9ed62629-e27f-639b-b0b5-98735f0d9690?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jun 2020 19:14:58 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-06-01T14:14:54.0949748-05:00",
    "RandomSeed": "997011770",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttps://seannsecanary.blob.core.windows.net\nhttps://seannsecanary.file.core.windows.net\nhttps://seannsecanary.queue.core.windows.net\nhttps://seannsecanary.table.core.windows.net\n\n\n\n\nhttps://seannsecanary-secondary.blob.core.windows.net\nhttps://seannsecanary-secondary.file.core.windows.net\nhttps://seannsecanary-secondary.queue.core.windows.net\nhttps://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannsecanary.blob.core.windows.net/;QueueEndpoint=https://seannsecanary.queue.core.windows.net/;FileEndpoint=https://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}