{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-f01598c2-db44-7018-d930-2c828be5b0f2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:27 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38C7F7A51B\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:27 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-f01598c2-db44-7018-d930-2c828be5b0f2/test-file-549281b7-0b3c-896e-544a-cd955bafe24d?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:27 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38C8008EA5\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-f01598c2-db44-7018-d930-2c828be5b0f2/test-file-549281b7-0b3c-896e-544a-cd955bafe24d?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:27 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "6bxuz9yFUoMJ2Smykj9LbAOcsQz48TQITn7VVNOD/YKqWBrDSNwGMS4OS2Liu/cV/2CSv/7WVPiHZoBdr/2vhdymBzkliCQmlX/e6qbRJZOGwFVy8D2E1AMhO\u002BJcqIIwXsWGO7O973c8bCp\u002B\u002BGpRtkDt1u6oPJWeIjM2A0xByez9rYvgS\u002BnfyNHdNoQTBdyY0ISibtGThyIw5xmAh\u002Bsq\u002B6I9gErfcWtWDQ0dygYRihxXnTPHn1obaiVpsGTPX0Hmszvh1oSRuV8ZS2HDdr0bH1z9Kem3Y1tIIhYkdsAHhq7MNxfLMLSXxeTUrVT5V/R[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-f01598c2-db44-7018-d930-2c828be5b0f2/test-file-549281b7-0b3c-896e-544a-cd955bafe24d?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:27 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38C81A0662\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:27 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-f01598c2-db44-7018-d930-2c828be5b0f2/test-file-549281b7-0b3c-896e-544a-cd955bafe24d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:27 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38C81A0662\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 21 Sep 2021 19:48:27 GMT",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 19:48:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-f01598c2-db44-7018-d930-2c828be5b0f2/test-file-549281b7-0b3c-896e-544a-cd955bafe24d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D97D38C81A0662",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:27 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38C81A0662\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:27 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 21 Sep 2021 19:48:27 GMT",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 19:48:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "6bxuz9yFUoMJ2Smykj9LbAOcsQz48TQITn7VVNOD/YKqWBrDSNwGMS4OS2Liu/cV/2CSv/7WVPiHZoBdr/2vhdymBzkliCQmlX/e6qbRJZOGwFVy8D2E1AMhO\u002BJcqIIwXsWGO7O973c8bCp\u002B\u002BGpRtkDt1u6oPJWeIjM2A0xByez9rYvgS\u002BnfyNHdNoQTBdyY0ISibtGThyIw5xmAh\u002Bsq\u002B6I9gErfcWtWDQ0dygYRihxXnTPHn1obaiVpsGTPX0Hmszvh1oSRuV8ZS2HDdr0bH1z9Kem3Y1tIIhYkdsAHhq7MNxfLMLSXxeTUrVT5V/RoTZEH0jZXLk/fmLRubUKeEsSy9z6mT\u002B\u002BoZmMF47UHTsoivCgv/7R4dQjH7Jf/KVihNpqPR2C1wf6hX2zSUkua2ErpTLAabhMPOoE23mNYqD0LY6wadwdqbPoqjqBIpSO9LRNMFtynh8iHgAzef\u002BOaSbYuxu6ef2BDf9\u002B27\u002BByxpVeeLFPC5JgZNvkk/f6jO0Xj0TpGd40H66zCZf88ZfnFLl3fwYySj4kzmITuetoSPLynmCcia22KlkCnAH7Y3ND/H8\u002Bgwzm5UUFxUt8IGXCS8GkClI3S4sMwVStL648KGrvz7xsKcTmDLkalsNhOQn0P1BAVlkgC7HzMsK3ObWWyZzgjVGoViH8vv6YHLXHqoc="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-f01598c2-db44-7018-d930-2c828be5b0f2/test-file-549281b7-0b3c-896e-544a-cd955bafe24d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D97D38C81A0662",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:28 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:6c71340f-d01e-0027-6e21-afcd06000000\n",
        "Time:2021-09-21T19:48:28.1968773Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-f01598c2-db44-7018-d930-2c828be5b0f2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:28 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1612248520",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}