{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-84d7a969-fe46-aae4-cac9-a3c5f8d2568f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:11:32 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A2AB9C725\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:11:31 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-84d7a969-fe46-aae4-cac9-a3c5f8d2568f/test-file-de27f783-587b-68dc-d6cf-740f00685f53?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 19 Feb 2021 19:11:32 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A2ACB4F1D\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:11:31 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-84d7a969-fe46-aae4-cac9-a3c5f8d2568f/test-file-de27f783-587b-68dc-d6cf-740f00685f53?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Fri, 19 Feb 2021 19:11:32 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": [
        "\u0013\u0000\uFFFD\uFFFD\u0002\uFFFDW\uFFFD\uFFFD\uFFFD\u0060\uFFFD\uFFFD\uFFFD\u07B7\u0060L\uFFFDa\uFFFD}\uFFFDi(\u001F\u020C\uFFFDT\u02D5G\uFFFD\u001B^\u001E@\uFFFD\u0001\uFFFD\uFFFDY\u003E\uFFFDx\uFFFD\u0060W\uFFFDj\u000B\u001D\uFFFDZ\uFFFD\uFFFD\u06A3\uFFFD\u001B\u0007d\uFFFD_M\uFFFDr\u007F\uFFFD \uFFFD\uFFFD\uFFFD\uFFFD$b\u04EF\uFFFDh5,\uFF[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-84d7a969-fe46-aae4-cac9-a3c5f8d2568f/test-file-de27f783-587b-68dc-d6cf-740f00685f53?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:11:32 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A2AE3224E\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:11:31 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-84d7a969-fe46-aae4-cac9-a3c5f8d2568f/test-file-de27f783-587b-68dc-d6cf-740f00685f53",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:11:32 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D50A2AE3224E\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:11:31 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:11:31 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-84d7a969-fe46-aae4-cac9-a3c5f8d2568f/test-file-de27f783-587b-68dc-d6cf-740f00685f53",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:11:32 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D50A2AE3224E\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:11:31 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:11:31 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "EwCN9ALCV6e5uGD1leeO3rdgTJ5huH2gaSgfyIyyVMuVR\u002BkbXh5AtgHI41k\u002BlXiTYFeFagsdwFqC7Yrao44bB2SVX03\u002Bcn\u002BZIJWcmdQkYtOvjGg1LOm/eIaPmHGTZRJzrdz0qDYqlO3X7El2gCaFXYq2Khcl5dp61ufGb9oOBbo="
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-84d7a969-fe46-aae4-cac9-a3c5f8d2568f/test-file-de27f783-587b-68dc-d6cf-740f00685f53",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D50A2AE3224E",
        "x-ms-date": "Fri, 19 Feb 2021 19:11:32 GMT",
        "x-ms-range": "bytes=128-255",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 128-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D50A2AE3224E\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:11:31 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:11:31 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "gins9y\u002B6nYX3e11AoEn3Xwk65tw7\u002B03HAnrST2MlEsjmjvNXOo0t0BmkIKqImdmM72dlnygpf4fcJPW1504i0WmVWRJVoCV7DBXDltqiP2igRV/8v3OfvQ9rehWYeOjKgk5A8kDHNk9B6pISZeisOeWNFKLuJRH29ZwD6iYP45Q="
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-84d7a969-fe46-aae4-cac9-a3c5f8d2568f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:11:33 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1916925474",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}