{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-c29f250e-9293-c24e-6209-0b3a137d768c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:11:23 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A256BA593\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:11:22 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-c29f250e-9293-c24e-6209-0b3a137d768c/test-file-460136e7-1d77-53d3-c5a8-557f67cc2fa7?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 19 Feb 2021 19:11:23 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A257B888E\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:11:22 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-c29f250e-9293-c24e-6209-0b3a137d768c/test-file-460136e7-1d77-53d3-c5a8-557f67cc2fa7?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Fri, 19 Feb 2021 19:11:23 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": [
        "pd\u0422\uFFFD\uFFFD\uFFFD\uFFFDQ\uFFFD\u01B6\u0003\u07C3XU \u001C\uFFFD7\u001D\u00047x,[%=*\uFFFD\uFFFD\u001B\uFFFD\uFFFD\uFFFD:\u0011@/Xn\u0006\uFFFD(\uFFFD{\uFFFDx\uFFFDS4J\u056DR_\uFFFD)}\uFFFD\uFFFD\uFFFD\u0026\uFFFD1\uFFFDZ\uFFFD\u001EC\uFFFD\uFFFD\uFFFD\u0016\u0018\u000E\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD|JE\uFFFD\uFFFD{\uFFFD\uFFFD\u00D[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-c29f250e-9293-c24e-6209-0b3a137d768c/test-file-460136e7-1d77-53d3-c5a8-557f67cc2fa7?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:11:23 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A2592BECD\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:11:22 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-c29f250e-9293-c24e-6209-0b3a137d768c/test-file-460136e7-1d77-53d3-c5a8-557f67cc2fa7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:11:23 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D50A2592BECD\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:11:22 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:11:22 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-c29f250e-9293-c24e-6209-0b3a137d768c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:11:23 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1354611756",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}