{
  "Entries": [
    {
      "RequestUri": "https://seanmccdfsca2.blob.core.windows.net/test-filesystem-3b8ca407-734b-9c22-1653-d5c757b5c031?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 16 Jul 2020 02:59:50 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D829344EDF0787\u0022",
        "Last-Modified": "Thu, 16 Jul 2020 02:59:51 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccdfsca2.dfs.core.windows.net/test-filesystem-3b8ca407-734b-9c22-1653-d5c757b5c031/test-file-1739e027-c2f9-92ad-2a6e-decdd34673b2?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Thu, 16 Jul 2020 02:59:50 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D829344EFDD80B\u0022",
        "Last-Modified": "Thu, 16 Jul 2020 02:59:51 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccdfsca2.dfs.core.windows.net/test-filesystem-3b8ca407-734b-9c22-1653-d5c757b5c031/test-file-1739e027-c2f9-92ad-2a6e-decdd34673b2?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Jul 2020 02:59:51 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "LPlsnNCJpXEKF/hsFmbESXh/3Skq3xl/BLVjDBENCTFFIY/eYD6GYIkZ1gHYl6yfRTwU7DRwD03g7Jca[...]
    {
      "RequestUri": "https://seanmccdfsca2.dfs.core.windows.net/test-filesystem-3b8ca407-734b-9c22-1653-d5c757b5c031/test-file-1739e027-c2f9-92ad-2a6e-decdd34673b2?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Jul 2020 02:59:51 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D829344F0CE2C0\u0022",
        "Last-Modified": "Thu, 16 Jul 2020 02:59:51 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccdfsca2.blob.core.windows.net/test-filesystem-3b8ca407-734b-9c22-1653-d5c757b5c031/test-file-1739e027-c2f9-92ad-2a6e-decdd34673b2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Jul 2020 02:59:51 GMT",
        "x-ms-range": "bytes=0-156",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-156/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D829344F0CE2C0\u0022",
        "Last-Modified": "Thu, 16 Jul 2020 02:59:51 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 16 Jul 2020 02:59:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "LPlsnNCJpXEKF/hsFmbESXh/3Skq3xl/BLVjDBENCTFFIY/eYD6GYIkZ1gHYl6yfRTwU7DRwD03g7JcaJZlg/Q7GJ/XX5ug6\u002BH2fEQkYp2wJw8bV\u002BR391BFB/nSmbDrwudnyEXC2yF9T2fO30f5EyEQqEWHSiwPxyVLjledzk4xCr1cvJZb8UvtngR8pRQMS/TYve1vYHi7VAUgd0w=="
    },
    {
      "RequestUri": "https://seanmccdfsca2.blob.core.windows.net/test-filesystem-3b8ca407-734b-9c22-1653-d5c757b5c031/test-file-1739e027-c2f9-92ad-2a6e-decdd34673b2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D829344F0CE2C0",
        "x-ms-date": "Thu, 16 Jul 2020 02:59:51 GMT",
        "x-ms-range": "bytes=6-162",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 6-162/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D829344F0CE2C0\u0022",
        "Last-Modified": "Thu, 16 Jul 2020 02:59:51 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 16 Jul 2020 02:59:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "pXEKF/hsFmbESXh/3Skq3xl/BLVjDBENCTFFIY/eYD6GYIkZ1gHYl6yfRTwU7DRwD03g7JcaJZlg/Q7GJ/XX5ug6\u002BH2fEQkYp2wJw8bV\u002BR391BFB/nSmbDrwudnyEXC2yF9T2fO30f5EyEQqEWHSiwPxyVLjledzk4xCr1cvJZb8UvtngR8pRQMS/TYve1vYHi7VAUgd0zJ34EVndA=="
    },
[...]
    {
      "RequestUri": "https://seanmccdfsca2.blob.core.windows.net/test-filesystem-3b8ca407-734b-9c22-1653-d5c757b5c031/test-file-1739e027-c2f9-92ad-2a6e-decdd34673b2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Jul 2020 02:59:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D829344F0CE2C0\u0022",
        "Last-Modified": "Thu, 16 Jul 2020 02:59:51 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 16 Jul 2020 02:59:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccdfsca2.blob.core.windows.net/test-filesystem-3b8ca407-734b-9c22-1653-d5c757b5c031?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Jul 2020 02:59:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2040662129",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmccdfsca2\nU2FuaXRpemVk\nhttps://seanmccdfsca2.blob.core.windows.net\nhttps://seanmccdfsca2.file.core.windows.net\nhttps://seanmccdfsca2.queue.core.windows.net\nhttps://seanmccdfsca2.table.core.windows.net\n\n\n\n\nhttps://seanmccdfsca2-secondary.blob.core.windows.net\nhttps://seanmccdfsca2-secondary.file.core.windows.net\nhttps://seanmccdfsca2-secondary.queue.core.windows.net\nhttps://seanmccdfsca2-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmccdfsca2.blob.core.windows.net/;QueueEndpoint=https://seanmccdfsca2.queue.core.windows.net/;FileEndpoint=https://seanmccdfsca2.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmccdfsca2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmccdfsca2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmccdfsca2-secondary.file.core.windows.net/;AccountName=seanmccdfsca2;AccountKey=Sanitized\n"
  }
}