{
  "Entries": [
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-cf492e94-73d1-041a-cf4e-3d5dcc1afec3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 19 Oct 2020 17:26:15 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8745416442DDF\u0022",
        "Last-Modified": "Mon, 19 Oct 2020 17:26:17 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-cf492e94-73d1-041a-cf4e-3d5dcc1afec3/test-file-3b9d04ac-9aa5-1b79-5f5d-b27504d20aa1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Mon, 19 Oct 2020 17:26:17 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D87454173FAD0F\u0022",
        "Last-Modified": "Mon, 19 Oct 2020 17:26:18 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-cf492e94-73d1-041a-cf4e-3d5dcc1afec3/test-file-3b9d04ac-9aa5-1b79-5f5d-b27504d20aa1?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Oct 2020 17:26:17 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "LLHwL21rCL5tWPJTALocQwwYvRbA0Uh7WMhU6VDahra1pjM3mxK3NKycvyKue0J42ULaUWiyDFtodNak[...]
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-cf492e94-73d1-041a-cf4e-3d5dcc1afec3/test-file-3b9d04ac-9aa5-1b79-5f5d-b27504d20aa1?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Oct 2020 17:26:17 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D87454175470ED\u0022",
        "Last-Modified": "Mon, 19 Oct 2020 17:26:19 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-cf492e94-73d1-041a-cf4e-3d5dcc1afec3/test-file-3b9d04ac-9aa5-1b79-5f5d-b27504d20aa1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Oct 2020 17:26:18 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D87454175470ED\u0022",
        "Last-Modified": "Mon, 19 Oct 2020 17:26:19 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 19 Oct 2020 17:26:18 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-cf492e94-73d1-041a-cf4e-3d5dcc1afec3/test-file-3b9d04ac-9aa5-1b79-5f5d-b27504d20aa1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Oct 2020 17:26:18 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D87454175470ED\u0022",
        "Last-Modified": "Mon, 19 Oct 2020 17:26:19 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 19 Oct 2020 17:26:18 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "LLHwL21rCL5tWPJTALocQwwYvRbA0Uh7WMhU6VDahra1pjM3mxK3NKycvyKue0J42ULaUWiyDFtodNakFh9uk9E8nVqG5Kj6YIlpIxElzd2G2xAN/zRNA5nXziY8Ex2NLSxRcd3o8vSa4PHeSOhJQ6f4HTsOYJOc75rArxaBvk0="
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-cf492e94-73d1-041a-cf4e-3d5dcc1afec3/test-file-3b9d04ac-9aa5-1b79-5f5d-b27504d20aa1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D87454175470ED",
        "x-ms-date": "Mon, 19 Oct 2020 17:26:18 GMT",
        "x-ms-range": "bytes=128-255",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 128-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D87454175470ED\u0022",
        "Last-Modified": "Mon, 19 Oct 2020 17:26:19 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 19 Oct 2020 17:26:18 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "bNz15NRbAJ7pG3MeQ2\u002B7sI6LfkP14n7NmLSCQydC3hgio3Fr8mRvTPh/UfPsdVh/3g8gigN6WIpdKEwf2b12pjxb\u002B6D9T70pHDJKdZCL4CNcAmQYIVMVqEvnDsoYT3M7Caq2kXm4gY9R927QMOL50kgpw9ZYXoToRVNVFkDzEMw="
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-cf492e94-73d1-041a-cf4e-3d5dcc1afec3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Oct 2020 17:26:18 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "934628076",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttps://seannsecanary.blob.core.windows.net\nhttps://seannsecanary.file.core.windows.net\nhttps://seannsecanary.queue.core.windows.net\nhttps://seannsecanary.table.core.windows.net\n\n\n\n\nhttps://seannsecanary-secondary.blob.core.windows.net\nhttps://seannsecanary-secondary.file.core.windows.net\nhttps://seannsecanary-secondary.queue.core.windows.net\nhttps://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannsecanary.blob.core.windows.net/;QueueEndpoint=https://seannsecanary.queue.core.windows.net/;FileEndpoint=https://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}