{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-db2e5075-b220-bd54-6840-9f240be5e5da?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 22:27:35 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D393399106AF\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:27:35 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-db2e5075-b220-bd54-6840-9f240be5e5da/test-file-e4a3d13e-ab0f-19cc-fad0-1ca6d655c7a8?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 17 Feb 2021 22:27:35 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D39339C51CB2\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:27:35 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-db2e5075-b220-bd54-6840-9f240be5e5da/test-file-e4a3d13e-ab0f-19cc-fad0-1ca6d655c7a8?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:27:35 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "bV7IdCFx5/kcMGtfhd\u002B9b52pwCQc7TGxyqp5Io1j9dPlLAhCh2cRzeqqyN8/bZMaEq0ILZSjjH8sFql29[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-db2e5075-b220-bd54-6840-9f240be5e5da/test-file-e4a3d13e-ab0f-19cc-fad0-1ca6d655c7a8?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:27:35 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D39339E073A1\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:27:35 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-db2e5075-b220-bd54-6840-9f240be5e5da/test-file-e4a3d13e-ab0f-19cc-fad0-1ca6d655c7a8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:27:35 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D39339E073A1\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:27:35 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 22:27:35 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-db2e5075-b220-bd54-6840-9f240be5e5da/test-file-e4a3d13e-ab0f-19cc-fad0-1ca6d655c7a8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:27:36 GMT",
        "x-ms-range": "bytes=512-639",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-639/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D39339E073A1\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:27:35 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 22:27:35 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "olqrB6mQ94MiEonjWQqZpfJ\u002B6RNZkFIS9FFB92gDMJ\u002BYh7h1XJYTZ/9\u002BOafrq2ejd8tyXw6NuRIHmRNXTgAaHuLqS9FSJElca4ET21arJkjpnn\u002BdkdCQCs6lbcKDuxj/YxvEAGCVUVOCFfSMet27XHLKbbCBfYwRWUEDrLaG2a8="
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-db2e5075-b220-bd54-6840-9f240be5e5da/test-file-e4a3d13e-ab0f-19cc-fad0-1ca6d655c7a8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D39339E073A1",
        "x-ms-date": "Wed, 17 Feb 2021 22:27:36 GMT",
        "x-ms-range": "bytes=640-767",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 640-767/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D39339E073A1\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:27:35 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 22:27:35 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "aBR3OuYl6FNMKxp73ASQ8eoQULhNaH7mjrOmHpKlnfs8RSNlZYF1TeEaY1ViETRVsRHCpTYgYQCWkawzfsnAp44fPpfgKotomwLXMwQog31\u002BUW2A4/fEHOMjz9TVQs4YWbzHQ9KddIaGWQozSS37bQ0utS1cP8OWWiKzvVq2k1k="
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-db2e5075-b220-bd54-6840-9f240be5e5da?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:27:36 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "100461827",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}