{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-ce4a3703-6054-53b4-d11c-ecdcbefac9a2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:57:50 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D510A2A2C4EA\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:57:49 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-ce4a3703-6054-53b4-d11c-ecdcbefac9a2/test-file-38f79e83-dffb-7642-c5c8-9c5f4e1beec6?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 19 Feb 2021 19:57:50 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D510A2B35249\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:57:49 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-ce4a3703-6054-53b4-d11c-ecdcbefac9a2/test-file-38f79e83-dffb-7642-c5c8-9c5f4e1beec6?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 19 Feb 2021 19:57:50 GMT"
      },
      "RequestBody": "lidNthRJz9cYXHnT4WhrI8a/1wyS9LVcMsAsfrvB\u002BuSYMbXAYaAXu\u002BKQvI\u002BxZxuXHk2XMpjbuqJx8INTHFEbV2GUOrCzqsEmqBwqAjclq8ullV9uKchLvHYTT3EcxJ6RdGUuHCxq5HSMcYp8sLhqTES3rofxrS2ZSX46oFtQCeN9mY3S94\u002BfOrDr4bg9zwy9qQIsZRYXn8Y3lNOtMEQYPGem/xYql1S1F3PWBst1W3lxfPdYI6TNZfrHm2K88Qps0qVRl9D1khGud02iQJn6wjhZPLNNwBjC2JkcY/zx\u002BSVpajMmJMSpfOrlqqtWKyVgzNgqYrVWHhGMjr422S8VvH4nONVl1J50r7/JZxVtbK[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-ce4a3703-6054-53b4-d11c-ecdcbefac9a2/test-file-38f79e83-dffb-7642-c5c8-9c5f4e1beec6?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:57:50 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D510A2D9E41F\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:57:50 GMT",
        "x-ms-request-server-encrypted": "false",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-ce4a3703-6054-53b4-d11c-ecdcbefac9a2/test-file-38f79e83-dffb-7642-c5c8-9c5f4e1beec6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:57:50 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D510A2D9E41F\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:57:50 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:57:49 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-ce4a3703-6054-53b4-d11c-ecdcbefac9a2/test-file-38f79e83-dffb-7642-c5c8-9c5f4e1beec6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:57:50 GMT",
        "x-ms-range": "bytes=0-127"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D510A2D9E41F\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:57:50 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:57:49 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": "lidNthRJz9cYXHnT4WhrI8a/1wyS9LVcMsAsfrvB\u002BuSYMbXAYaAXu\u002BKQvI\u002BxZxuXHk2XMpjbuqJx8INTHFEbV2GUOrCzqsEmqBwqAjclq8ullV9uKchLvHYTT3EcxJ6RdGUuHCxq5HSMcYp8sLhqTES3rofxrS2ZSX46oFtQCeM="
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-ce4a3703-6054-53b4-d11c-ecdcbefac9a2/test-file-38f79e83-dffb-7642-c5c8-9c5f4e1beec6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D510A2D9E41F",
        "x-ms-date": "Fri, 19 Feb 2021 19:57:51 GMT",
        "x-ms-range": "bytes=128-255"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 128-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D510A2D9E41F\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:57:50 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:57:49 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": "fZmN0vePnzqw6\u002BG4Pc8MvakCLGUWF5/GN5TTrTBEGDxnpv8WKpdUtRdz1gbLdVt5cXz3WCOkzWX6x5tivPEKbNKlUZfQ9ZIRrndNokCZ\u002BsI4WTyzTcAYwtiZHGP88fklaWozJiTEqXzq5aqrVislYMzYKmK1Vh4RjI6\u002BNtkvFbw="
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-ce4a3703-6054-53b4-d11c-ecdcbefac9a2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:57:51 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "659654626",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}