{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-c8c8f26c-4765-1c0b-525f-189da6612acc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 22:27:21 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D39331C7DF1B\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:27:22 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-c8c8f26c-4765-1c0b-525f-189da6612acc/test-file-d7fc501b-0162-416f-1cc1-de383c9c08b7?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 17 Feb 2021 22:27:22 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D39332027072\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:27:22 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-c8c8f26c-4765-1c0b-525f-189da6612acc/test-file-d7fc501b-0162-416f-1cc1-de383c9c08b7?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:27:22 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "MisoRyzzd0cBCOENQDIqrCCuUsKfVolz7/Mak/gpiwkoMnCwFMQvKNm11VogYgDqljEYjUlGGNuhtVc52ORO13[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-c8c8f26c-4765-1c0b-525f-189da6612acc/test-file-d7fc501b-0162-416f-1cc1-de383c9c08b7?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:27:22 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D393321D8600\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:27:22 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-c8c8f26c-4765-1c0b-525f-189da6612acc/test-file-d7fc501b-0162-416f-1cc1-de383c9c08b7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:27:22 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D393321D8600\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:27:22 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 22:27:22 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-c8c8f26c-4765-1c0b-525f-189da6612acc/test-file-d7fc501b-0162-416f-1cc1-de383c9c08b7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:27:22 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D393321D8600\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:27:22 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 22:27:22 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "MisoRyzzd0cBCOENQDIqrCCuUsKfVolz7/Mak/gpiwkoMnCwFMQvKNm11VogYgDqljEYjUlGGNuhtVc52ORO13zX5A7Bephbfyrp6YAvUozyMPzGEf6/4RqVDl9s9VD0Zv7dSH3yKBuZvA4fXC5bcmLKR6joiMV\u002BGAPzLGw474k="
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-c8c8f26c-4765-1c0b-525f-189da6612acc/test-file-d7fc501b-0162-416f-1cc1-de383c9c08b7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D393321D8600",
        "x-ms-date": "Wed, 17 Feb 2021 22:27:23 GMT",
        "x-ms-range": "bytes=128-255",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 128-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D393321D8600\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:27:22 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 22:27:22 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "2fWDglIJD/8H4SxV75\u002BF7Dmc/KGupwveOF4wev/7rmDNhEVmqtgfWbtHoAdbcI55fQbz0DxN2zLppUnz2ZT/DDLLh2tZHkFgfKPlZgcEgsfPt/34CN4kgKkTfQWPK38nR5TUj\u002BkjH17FklOZZ3Qq5CKCIyKXBgRTpwfCRaE80VA="
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-c8c8f26c-4765-1c0b-525f-189da6612acc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:27:23 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1401693352",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}