{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-ee62acdb-43f1-23e4-6e0f-60742c5032d2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:58:00 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D510A86EAF4A\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:57:59 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-ee62acdb-43f1-23e4-6e0f-60742c5032d2/test-file-78913fef-3d98-fa14-b10a-f1aae7804b10?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 19 Feb 2021 19:58:00 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D510A880040F\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:57:59 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-ee62acdb-43f1-23e4-6e0f-60742c5032d2/test-file-78913fef-3d98-fa14-b10a-f1aae7804b10?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 19 Feb 2021 19:58:00 GMT"
      },
      "RequestBody": "u0vS30S/aE7Ko\u002Bxjd0ARLeYOe\u002B2CkhtJh6TAsyFkumjtlujGbkoNOtd/1RMSkDsWwD6W9R60sygviFef/rQsZemEduBYSr\u002BcAEAVAr0IN/dpqfPjzsRJOeO/luXybjsiU3ApjRpavnV\u002B\u002BvTdnrBrJ1FgNlTBSZYlOjz9mLPaqZIF869M3qncDut9ZNPPbJoyVG\u002BTkjfnYQnZBFPdXCXCpFFi2KoBHkingydpQ\u002BTDVc2hy0RERhZbHpKlc9pW/7HFu8CCbZTwMDYm6w8PfR0kFq6FO5Hhfl46B7oXXKpuUYN2o4gkQOg5sZoNHVoGS6B0gF0r0cQg4zxiR2ba2NSLt5qLmdmVANXG[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-ee62acdb-43f1-23e4-6e0f-60742c5032d2/test-file-78913fef-3d98-fa14-b10a-f1aae7804b10?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:58:00 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D510A899E17E\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:57:59 GMT",
        "x-ms-request-server-encrypted": "false",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-ee62acdb-43f1-23e4-6e0f-60742c5032d2/test-file-78913fef-3d98-fa14-b10a-f1aae7804b10",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:58:00 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D510A899E17E\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:57:59 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:57:59 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-ee62acdb-43f1-23e4-6e0f-60742c5032d2/test-file-78913fef-3d98-fa14-b10a-f1aae7804b10",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:58:00 GMT",
        "x-ms-range": "bytes=0-127"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D510A899E17E\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:57:59 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:57:59 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": "u0vS30S/aE7Ko\u002Bxjd0ARLeYOe\u002B2CkhtJh6TAsyFkumjtlujGbkoNOtd/1RMSkDsWwD6W9R60sygviFef/rQsZemEduBYSr\u002BcAEAVAr0IN/dpqfPjzsRJOeO/luXybjsiU3ApjRpavnV\u002B\u002BvTdnrBrJ1FgNlTBSZYlOjz9mLPaqZI="
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-ee62acdb-43f1-23e4-6e0f-60742c5032d2/test-file-78913fef-3d98-fa14-b10a-f1aae7804b10",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D510A899E17E",
        "x-ms-date": "Fri, 19 Feb 2021 19:58:00 GMT",
        "x-ms-range": "bytes=128-255"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 128-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D510A899E17E\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:57:59 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:57:59 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": "BfOvTN6p3A7rfWTTz2yaMlRvk5I352EJ2QRT3VwlwqRRYtiqAR5Ip4MnaUPkw1XNoctEREYWWx6SpXPaVv\u002BxxbvAgm2U8DA2JusPD30dJBauhTuR4X5eOge6F1yqblGDdqOIJEDoObGaDR1aBkugdIBdK9HEIOM8Ykdm2tjUi7c="
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-ee62acdb-43f1-23e4-6e0f-60742c5032d2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:58:01 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1842919495",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}