{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-c9cb1e6f-4133-d6f6-8a02-9aed8ee8fb4d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 08 Aug 2020 00:13:59 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83B2FF3241163\u0022",
        "Last-Modified": "Sat, 08 Aug 2020 00:14:00 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-c9cb1e6f-4133-d6f6-8a02-9aed8ee8fb4d/test-file-125b7f74-9e0e-2697-0164-2e3ab4cc5a2c?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 08 Aug 2020 00:14:00 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83B2FF3586A05\u0022",
        "Last-Modified": "Sat, 08 Aug 2020 00:14:00 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-c9cb1e6f-4133-d6f6-8a02-9aed8ee8fb4d/test-file-125b7f74-9e0e-2697-0164-2e3ab4cc5a2c?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 08 Aug 2020 00:14:00 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "q5WHHXlMCEJ77MtOm7OfZHm68SAXXikALwvOH2odUaHynzfxFc37/YtygBYs3wbgMWNtYrSsSk1rh\u002B5tf[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-c9cb1e6f-4133-d6f6-8a02-9aed8ee8fb4d/test-file-125b7f74-9e0e-2697-0164-2e3ab4cc5a2c?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D83B2FF364B506\u0022",
        "x-ms-date": "Sat, 08 Aug 2020 00:14:00 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83B2FF37DB8DC\u0022",
        "Last-Modified": "Sat, 08 Aug 2020 00:14:00 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-c9cb1e6f-4133-d6f6-8a02-9aed8ee8fb4d/test-file-125b7f74-9e0e-2697-0164-2e3ab4cc5a2c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 08 Aug 2020 00:14:00 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D83B2FF37DB8DC\u0022",
        "Last-Modified": "Sat, 08 Aug 2020 00:14:00 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 08 Aug 2020 00:14:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "q5WHHXlMCEJ77MtOm7OfZHm68SAXXikALwvOH2odUaHynzfxFc37/YtygBYs3wbgMWNtYrSsSk1rh\u002B5tfejXXpopXPt7rU6rv/OUpN4T01AF7e4HsO/tRVXqho3fjX\u002BjmyJ7AoMKZIQUwaPBGKVvV7OeaI/60K6rPBamkCfBzDFz8Am7mNDM\u002B4hp8u5LLC2vey7aQCXvqctz0MZsY9RcU/VxTSecs7/i0WwGkN2/XxDp9xX454sMg0c9R8cKYJe0DJ752t4FE8hu92\u002B46RjttHC1g2y\u002BZGxqZcngXmv413HVUoM\u002BxoUx4\u002BNMiu8cVJovUJNWVNwr9qgyj3UVJbVddh/94paUru7rhJ\u002BIcdp8TRAusQ3XoYOUqVzbDDcQG7[...]
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-8c7f75b3-75f0-8113-f748-1d700d19b91c/test-file-1dd26a1b-964f-36ef-ea45-5c54b9175585?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Fri, 07 Aug 2020 00:13:59 GMT",
        "x-ms-date": "Sat, 08 Aug 2020 00:14:01 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83B2FF40A17FD\u0022",
        "Last-Modified": "Sat, 08 Aug 2020 00:14:01 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-27b55326-5496-ed9c-3e52-7b7441b8ca26/test-file-ca69f99f-7fbb-ceac-1e67-c7aa984fef9a?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sun, 09 Aug 2020 00:13:59 GMT",
        "x-ms-date": "Sat, 08 Aug 2020 00:14:02 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83B2FF4B14D21\u0022",
        "Last-Modified": "Sat, 08 Aug 2020 00:14:02 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-87f71bd3-8b24-29fa-bb96-bd0a8828100b/test-file-3f3084c4-b428-00ed-89bd-7598381be9c5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 08 Aug 2020 00:14:03 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D83B2FF5474D92\u0022",
        "Last-Modified": "Sat, 08 Aug 2020 00:14:03 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 08 Aug 2020 00:14:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-dfae6dfe-be62-afd9-5119-930f867635c0/test-file-7e4aee9a-e668-d2db-c69e-b38508e4f2eb?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Sat, 08 Aug 2020 00:14:05 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83B2FF62460DB\u0022",
        "Last-Modified": "Sat, 08 Aug 2020 00:14:05 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-d3595656-2501-c67d-6585-1919a4361b9d/test-file-38be1820-ab0a-902a-c688-cd41be6c0ba3?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 08 Aug 2020 00:14:06 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "384eb1b0-f289-d423-6491-f590989f1e1a",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83B2FF6D2E1C9\u0022",
        "Last-Modified": "Sat, 08 Aug 2020 00:14:06 GMT",
        "x-ms-lease-id": "384eb1b0-f289-d423-6491-f590989f1e1a",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-d3595656-2501-c67d-6585-1919a4361b9d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 08 Aug 2020 00:14:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-08-07T19:13:59.8603410-05:00",
    "RandomSeed": "1581398751",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}