{
  "Entries": [
    {
      "RequestUri": "https://seanmccdfsca2.blob.core.windows.net/test-filesystem-299670af-b8e9-c6f2-546c-8c866e413d6f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 16 Jul 2020 02:59:45 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D829344BA89BAE\u0022",
        "Last-Modified": "Thu, 16 Jul 2020 02:59:45 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccdfsca2.dfs.core.windows.net/test-filesystem-299670af-b8e9-c6f2-546c-8c866e413d6f/test-file-3a5f4b7e-66c1-41d1-6fd2-93b14b2ff134?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Thu, 16 Jul 2020 02:59:45 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D829344BCCECE9\u0022",
        "Last-Modified": "Thu, 16 Jul 2020 02:59:45 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccdfsca2.dfs.core.windows.net/test-filesystem-299670af-b8e9-c6f2-546c-8c866e413d6f/test-file-3a5f4b7e-66c1-41d1-6fd2-93b14b2ff134?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Jul 2020 02:59:45 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "7GkG61oo3WDWItsLP7Wq50zVRYnBRGEZsaWlvzYmW7c6\u002Bl6vp/88Vm3\u002BY5\u002BKxQG5K[...]
    {
      "RequestUri": "https://seanmccdfsca2.dfs.core.windows.net/test-filesystem-299670af-b8e9-c6f2-546c-8c866e413d6f/test-file-3a5f4b7e-66c1-41d1-6fd2-93b14b2ff134?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Jul 2020 02:59:45 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D829344BDCB637\u0022",
        "Last-Modified": "Thu, 16 Jul 2020 02:59:46 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccdfsca2.blob.core.windows.net/test-filesystem-299670af-b8e9-c6f2-546c-8c866e413d6f/test-file-3a5f4b7e-66c1-41d1-6fd2-93b14b2ff134",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Jul 2020 02:59:45 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D829344BDCB637\u0022",
        "Last-Modified": "Thu, 16 Jul 2020 02:59:46 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 16 Jul 2020 02:59:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "7GkG61oo3WDWItsLP7Wq50zVRYnBRGEZsaWlvzYmW7c6\u002Bl6vp/88Vm3\u002BY5\u002BKxQG5KKxkdelocqgH7Tq0gh4psMYk0UVX\u002Bj9NmO8bwuDCjuyk65aKwebN0oe1qLrFiNNP1bPYZvS7Yi5sF9z6TbDIRF5NEJaHn\u002B7gV/\u002B\u002BolGFhxAby\u002B0s6Sj46IloHaoJ0oTW7WNceHg9yDXF\u002BA70/cDc54/M34HDm1s1VScMH4FD1oV657TuKQ\u002BY3QO3Z/EaA\u002BvJizYbPfIDE1IIJiJQMKizgSGIehUL7r2AMwJ\u002BCzNpG1E8Q5NKKJmTd9Ri5QPsR6xaBObQkYnVvZ15mgnwhAcenwrQFO0VaViH9QJBqAm6k\[...]
[...]
    {
      "RequestUri": "https://seanmccdfsca2.blob.core.windows.net/test-filesystem-299670af-b8e9-c6f2-546c-8c866e413d6f/test-file-3a5f4b7e-66c1-41d1-6fd2-93b14b2ff134",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D829344BDCB637",
        "x-ms-date": "Thu, 16 Jul 2020 02:59:45 GMT",
        "x-ms-range": "bytes=512-4194815",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:36980a6c-e01e-0036-721d-5b1cf2000000\n",
        "Time:2020-07-16T02:59:46.2798390Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanmccdfsca2.blob.core.windows.net/test-filesystem-299670af-b8e9-c6f2-546c-8c866e413d6f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Jul 2020 02:59:45 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "548094300",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmccdfsca2\nU2FuaXRpemVk\nhttps://seanmccdfsca2.blob.core.windows.net\nhttps://seanmccdfsca2.file.core.windows.net\nhttps://seanmccdfsca2.queue.core.windows.net\nhttps://seanmccdfsca2.table.core.windows.net\n\n\n\n\nhttps://seanmccdfsca2-secondary.blob.core.windows.net\nhttps://seanmccdfsca2-secondary.file.core.windows.net\nhttps://seanmccdfsca2-secondary.queue.core.windows.net\nhttps://seanmccdfsca2-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmccdfsca2.blob.core.windows.net/;QueueEndpoint=https://seanmccdfsca2.queue.core.windows.net/;FileEndpoint=https://seanmccdfsca2.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmccdfsca2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmccdfsca2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmccdfsca2-secondary.file.core.windows.net/;AccountName=seanmccdfsca2;AccountKey=Sanitized\n"
  }
}