{
  "Entries": [
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-b997a476-e51a-e0d6-bb17-8ab09e440af3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 18:02:07 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F3BB0E6B21\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:02:07 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-b997a476-e51a-e0d6-bb17-8ab09e440af3/test-file-f2103141-25cc-929d-ca7a-15a7e09e8918?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 18:02:07 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F3BB480678\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:02:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-b997a476-e51a-e0d6-bb17-8ab09e440af3/test-file-f2103141-25cc-929d-ca7a-15a7e09e8918?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 20 Oct 2021 18:02:07 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "7sF5jbSq8ioysoSd\u002BpHjhq7W9iWSNvwRc/2WhyTyO5Ol0lp3ozd6lz/mvxmg/5c4lo75CqdkhrjEaBq2E2oFQHbx9yg2bON3W17lq3bicHNlXfCW\u002BDHrQUyhsjscw4TV4X6jrwdvAiqrgq5IftpB4venUbZ5bkdEBbbclbqnWpfaEMn3P8Fr9VvG63aCo8NxYNBEdXLNW3I3XqpRk21vAycXbW4QSqI2O1tbs4LRwmLzajTqY\u002BQkDbVXwOAWGmLuV\u002BhOazVUYBUtDToXcafwZZxIXig4hKBD8mC5uYnCHyH5bVyaglYsngofvVWpDZsNZlpEzrs5t[...]
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-b997a476-e51a-e0d6-bb17-8ab09e440af3/test-file-f2103141-25cc-929d-ca7a-15a7e09e8918?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D993F3BB480678\u0022",
        "x-ms-date": "Wed, 20 Oct 2021 18:02:07 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F3BB6402EA\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:02:07 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-b997a476-e51a-e0d6-bb17-8ab09e440af3/test-file-f2103141-25cc-929d-ca7a-15a7e09e8918",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 18:02:08 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F3BB6402EA\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:02:07 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 18:02:07 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": "7sF5jbSq8ioysoSd\u002BpHjhq7W9iWSNvwRc/2WhyTyO5Ol0lp3ozd6lz/mvxmg/5c4lo75CqdkhrjEaBq2E2oFQHbx9yg2bON3W17lq3bicHNlXfCW\u002BDHrQUyhsjscw4TV4X6jrwdvAiqrgq5IftpB4venUbZ5bkdEBbbclbqnWpfaEMn3P8Fr9VvG63aCo8NxYNBEdXLNW3I3XqpRk21vAycXbW4QSqI2O1tbs4LRwmLzajTqY\u002BQkDbVXwOAWGmLuV\u002BhOazVUYBUtDToXcafwZZxIXig4hKBD8mC5uYnCHyH5bVyaglYsngofvVWpDZsNZlpEzrs5tdJHC3jVm6aMa\u002B0ZHgRLVeNFG8AeGcdKmeTErFIuflBlv7eJUnbeVwJjklJnkO\u002BW[...]
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-b997a476-e51a-e0d6-bb17-8ab09e440af3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 18:02:08 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "365670512",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary\nU2FuaXRpemVk\nhttps://amandaadlscanary.blob.core.windows.net\nhttps://amandaadlscanary.file.core.windows.net\nhttps://amandaadlscanary.queue.core.windows.net\nhttps://amandaadlscanary.table.core.windows.net\n\n\n\n\nhttps://amandaadlscanary-secondary.blob.core.windows.net\nhttps://amandaadlscanary-secondary.file.core.windows.net\nhttps://amandaadlscanary-secondary.queue.core.windows.net\n\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://amandaadlscanary.blob.core.windows.net/;QueueEndpoint=https://amandaadlscanary.queue.core.windows.net/;FileEndpoint=https://amandaadlscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandaadlscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandaadlscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandaadlscanary-secondary.file.core.windows.net/;AccountName=amandaadlscanary;AccountKey=Sanitized\n\n\n"
  }
}