{
  "Entries": [
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-44496dcf-370d-1e5a-4785-8f4c217eff27?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 18:00:20 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F37B0D5569\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:00:20 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-44496dcf-370d-1e5a-4785-8f4c217eff27/test-file-2c151ba6-49af-d2b8-38a3-ecc709468b55?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 20 Oct 2021 18:00:20 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F37B536E8C\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:00:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-44496dcf-370d-1e5a-4785-8f4c217eff27/test-file-2c151ba6-49af-d2b8-38a3-ecc709468b55?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 20 Oct 2021 18:00:20 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "qPxfnImWeEZRmYNRXzjv7BlcJNgX9lzg4jolrFNC7E5YKnky\u002B8\u002BpkdAftjHFnLwjb0m/Zk2KlLGgfrlOcMzzDq00\u002BDS/vfFJs5MI\u002BD8qG0Z9AjwJg4UAzZXHknwWWiEDK6eEkKOIZLJYdbO6gZxxdWNz0G6Q6YsoNCqe9yp0M1hyBcyYpoqi9Z2JsQ7RRUv5VhwZo4myc0EcXFx46WyH40FaSHzQ2c7Y0NvQBjh9Vu7fpaEOWpDPv5GKe0ouKQwwAc3Mdv3OKHxOQNKu4mwJnwVumUPLeYmxi4nrRV6EqqfOnwRqsN/xEHwkwBq9IN0kgNtEv4/JZ[...]
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-44496dcf-370d-1e5a-4785-8f4c217eff27/test-file-2c151ba6-49af-d2b8-38a3-ecc709468b55?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 18:00:20 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F37B75DDA4\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:00:20 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-44496dcf-370d-1e5a-4785-8f4c217eff27/test-file-2c151ba6-49af-d2b8-38a3-ecc709468b55",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 18:00:20 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F37B75DDA4\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:00:20 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 18:00:20 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-44496dcf-370d-1e5a-4785-8f4c217eff27/test-file-2c151ba6-49af-d2b8-38a3-ecc709468b55",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D993F37B75DDA4\u0022",
        "x-ms-date": "Wed, 20 Oct 2021 18:00:20 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F37B75DDA4\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:00:20 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 18:00:20 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource[...]
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-44496dcf-370d-1e5a-4785-8f4c217eff27?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 18:00:20 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2088590892",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary\nU2FuaXRpemVk\nhttps://amandaadlscanary.blob.core.windows.net\nhttps://amandaadlscanary.file.core.windows.net\nhttps://amandaadlscanary.queue.core.windows.net\nhttps://amandaadlscanary.table.core.windows.net\n\n\n\n\nhttps://amandaadlscanary-secondary.blob.core.windows.net\nhttps://amandaadlscanary-secondary.file.core.windows.net\nhttps://amandaadlscanary-secondary.queue.core.windows.net\n\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://amandaadlscanary.blob.core.windows.net/;QueueEndpoint=https://amandaadlscanary.queue.core.windows.net/;FileEndpoint=https://amandaadlscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandaadlscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandaadlscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandaadlscanary-secondary.file.core.windows.net/;AccountName=amandaadlscanary;AccountKey=Sanitized\n\n\n"
  }
}