{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-6758dea3-2d39-263f-a1ee-e922ca6ee793?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 03 Feb 2021 02:10:13 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7E8D80FE0AE\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:10:14 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-6758dea3-2d39-263f-a1ee-e922ca6ee793/test-file-cbf8e149-8bfa-a996-15a3-adb0f986bd8c?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 03 Feb 2021 02:10:13 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7E8D84BCFCA\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:10:14 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-6758dea3-2d39-263f-a1ee-e922ca6ee793/test-file-cbf8e149-8bfa-a996-15a3-adb0f986bd8c?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Wed, 03 Feb 2021 02:10:14 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": [
        "N\uFFFD\uFFFDY\uFFFDUB\u0019_\uFFFDK\uFFFD\u0005a\uFFFD\uFFFD6\uFFFD\uFFFDJQ\uFFFDfCN\uFFFD\uFFFD\u058E\uFFFD\u0026\uFFFDR\uFFFD\uFFFD\uFFFD\u0015^R6=\u0004\uFFFDmL{=T\uFFFDbVz\uFFFD\uFFFD;dZ\uFFFD\n",
        "\uFFFDal\uFFFDm\uFFFDp\uFFFDi\uFFFD\b\uFFFD\u0626\u0060\fLJ\uFFFD\uFFFD\uFFFDj\uFFFDS,\uFFFD\uFFFD1\uFFFD\u0060*SeT\\\uFFFD\uFFFDz1\uFFF[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-6758dea3-2d39-263f-a1ee-e922ca6ee793/test-file-cbf8e149-8bfa-a996-15a3-adb0f986bd8c?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:10:14 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7E8D87A3E6B\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:10:15 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-6758dea3-2d39-263f-a1ee-e922ca6ee793/test-file-cbf8e149-8bfa-a996-15a3-adb0f986bd8c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:10:14 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7E8D87A3E6B\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:10:15 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 03 Feb 2021 02:10:14 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-6758dea3-2d39-263f-a1ee-e922ca6ee793/test-file-cbf8e149-8bfa-a996-15a3-adb0f986bd8c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:10:14 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7E8D87A3E6B\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:10:15 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 03 Feb 2021 02:10:14 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "TsHzWZ5VQhlfv0viBWG2mDb4lkpR6WZDTqjz1o7xJttSm4\u002BuFV5SNj0Enm1Mez1Ug2JWeqm6O2RasAr2YWyKbZlwkGnRCIPYpmAMTEr49tNqnlMsm6sxl2AqU2VUXNTRejHT3OvUg3rffdNIru4aYrk3jMMYXtLuPvgIprUehEo="
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-6758dea3-2d39-263f-a1ee-e922ca6ee793/test-file-cbf8e149-8bfa-a996-15a3-adb0f986bd8c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8C7E8D87A3E6B",
        "x-ms-date": "Wed, 03 Feb 2021 02:10:14 GMT",
        "x-ms-range": "bytes=128-255",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 128-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7E8D87A3E6B\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:10:15 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 03 Feb 2021 02:10:14 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "jDvRGSQa55Ub2E0d1\u002BnocRDxqx3PELgcXuWd8svcxcH5ibxyHAE9n0/2p0AQtBZVEJaWxHJmenuCtbo/fPTKPxOMI04sdVQOswvN2Wh4C6rPR\u002BI1RQBOkg9A8GdH/SNbK2gshJDIKJpBhxBmmaATCqoQcDQRlfkTPZE\u002B7IXtx7Y="
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-6758dea3-2d39-263f-a1ee-e922ca6ee793?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:10:15 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1199283598",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}