{
  "Entries": [
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-aa313ac4-9612-c1b2-1bd8-89dc144c3125?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 25 May 2021 00:07:06 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91F110811F990\u0022",
        "Last-Modified": "Tue, 25 May 2021 00:07:05 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolhnscanada.dfs.core.windows.net/test-filesystem-aa313ac4-9612-c1b2-1bd8-89dc144c3125/test-file-36356bf0-cde7-a133-9cbb-f5e18c79e66a?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 25 May 2021 00:07:06 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91F1108225B1D\u0022",
        "Last-Modified": "Tue, 25 May 2021 00:07:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolhnscanada.dfs.core.windows.net/test-filesystem-aa313ac4-9612-c1b2-1bd8-89dc144c3125/test-file-36356bf0-cde7-a133-9cbb-f5e18c79e66a?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 25 May 2021 00:07:06 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": "RFY7/Tbeep1q1RsC10n9zbGFpn5HSA1cEbRuToEfERLRIyNuEinNVxtnfkJvWI55Edj/xdbAVPxI3\u002ByBcCsbS8MJMbMljruIt05i4MrL7bgm9D2oIEw8EM8nJTM9TOfwSzJ\u002BZSfaVIIddg2HXXMxffIzWnzucit3zSDj/mmISmpncpSYTIeQTKC6i6k\u002BtLJc9adACvJqAdkHB5gH9lUZlSyiIOvemTFqog7cM\u002BaBOBhthwjBR0B4/HC7kETviVVKofZ9m5THfVx21mfkjs7yhc5/mW9NWE3rKiN6Ignsexi4kZLwBJyEpQmrSnDYk22iyQp2b/Dm/[...]
    {
      "RequestUri": "http://kasobolhnscanada.dfs.core.windows.net/test-filesystem-aa313ac4-9612-c1b2-1bd8-89dc144c3125/test-file-36356bf0-cde7-a133-9cbb-f5e18c79e66a?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 May 2021 00:07:06 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91F11083AAC2D\u0022",
        "Last-Modified": "Tue, 25 May 2021 00:07:06 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-aa313ac4-9612-c1b2-1bd8-89dc144c3125/test-file-36356bf0-cde7-a133-9cbb-f5e18c79e66a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 May 2021 00:07:06 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D91F11083AAC2D\u0022",
        "Last-Modified": "Tue, 25 May 2021 00:07:06 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 25 May 2021 00:07:06 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-aa313ac4-9612-c1b2-1bd8-89dc144c3125/test-file-36356bf0-cde7-a133-9cbb-f5e18c79e66a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D91F11083AAC2D",
        "x-ms-date": "Tue, 25 May 2021 00:07:06 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D91F11083AAC2D\u0022",
        "Last-Modified": "Tue, 25 May 2021 00:07:06 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 25 May 2021 00:07:06 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-e[...]
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-aa313ac4-9612-c1b2-1bd8-89dc144c3125?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 May 2021 00:07:06 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1247476166",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nkasobolhnscanada\nU2FuaXRpemVk\nhttp://kasobolhnscanada.blob.core.windows.net\nhttp://kasobolhnscanada.file.core.windows.net\nhttp://kasobolhnscanada.queue.core.windows.net\nhttp://kasobolhnscanada.table.core.windows.net\n\n\n\n\nhttp://kasobolhnscanada-secondary.blob.core.windows.net\nhttp://kasobolhnscanada-secondary.file.core.windows.net\nhttp://kasobolhnscanada-secondary.queue.core.windows.net\nhttp://kasobolhnscanada-secondary.table.core.windows.net\nc6b5fe1a-9b59-4975-92c4-d9f728c3c371\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://kasobolhnscanada.blob.core.windows.net/;QueueEndpoint=http://kasobolhnscanada.queue.core.windows.net/;FileEndpoint=http://kasobolhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=http://kasobolhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://kasobolhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://kasobolhnscanada-secondary.file.core.windows.net/;AccountName=kasobolhnscanada;AccountKey=Sanitized\n"
  }
}