{
  "Entries": [
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-ef2904d7-4e99-cb46-acd3-a88c7a055491?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 25 May 2021 00:06:20 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D91F10ECBB0160\"",
        "Last-Modified": "Tue, 25 May 2021 00:06:20 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolhnscanada.dfs.core.windows.net/test-filesystem-ef2904d7-4e99-cb46-acd3-a88c7a055491/test-file-4fecec68-3275-7d5b-5d65-f87994baf855?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 25 May 2021 00:06:20 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D91F10ECC93B3D\"",
        "Last-Modified": "Tue, 25 May 2021 00:06:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolhnscanada.dfs.core.windows.net/test-filesystem-ef2904d7-4e99-cb46-acd3-a88c7a055491/test-file-4fecec68-3275-7d5b-5d65-f87994baf855?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 25 May 2021 00:06:20 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "V5nAa2NlHe9iY3zFUjnjO+qhI+ZqK5qZsySQDrVqoVxTsBZH+su1As/87RG1lSskgb2O8pcS6yv+J7c+1A46+MIgcaEjm0Af7CAWbT6I4x35bI34267FQcXqSNITdy3AwvVOlSOJAeV8bwZ2+37tdkOZRGiBQhwUWjDcOFNtC3XyVqpIOU76cGune2uoTkZG/NKOejLFP4DYOjrzrMiSD2OQhKXUpDz1n9T82sawbAzpljyA3pFCLBYpcP8UBsOjFGwIF8mhcliWmdteyWW5J84uChaMEjDSTliOqjQ94JgQWMVaqFRCRyPk6kS25GOxcEgw5fysFwI7NshxE8gjWblCTXCfX[...]
    {
      "RequestUri": "http://kasobolhnscanada.dfs.core.windows.net/test-filesystem-ef2904d7-4e99-cb46-acd3-a88c7a055491/test-file-4fecec68-3275-7d5b-5d65-f87994baf855?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 May 2021 00:06:20 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D91F10ECE1EA63\"",
        "Last-Modified": "Tue, 25 May 2021 00:06:20 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-ef2904d7-4e99-cb46-acd3-a88c7a055491/test-file-4fecec68-3275-7d5b-5d65-f87994baf855",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 May 2021 00:06:20 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D91F10ECE1EA63\"",
        "Last-Modified": "Tue, 25 May 2021 00:06:20 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 25 May 2021 00:06:20 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-ef2904d7-4e99-cb46-acd3-a88c7a055491/test-file-4fecec68-3275-7d5b-5d65-f87994baf855",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D91F10ECE1EA63",
        "x-ms-date": "Tue, 25 May 2021 00:06:20 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D91F10ECE1EA63\"",
        "Last-Modified": "Tue, 25 May 2021 00:06:20 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 25 May 2021 00:06:20 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "V5nAa2NlHe9iY3zFUjnjO+qhI+ZqK5qZsySQDrVqoVxTsBZH+su1As/87RG1lSskgb2O8pcS6yv+J7c+1A46+MIgcaEjm0Af7CAWbT6I4x35bI34267FQcXqSNITdy3AwvVOlSOJAeV8bwZ2+37tdkOZRGiBQhwUWjDcOFNtC3XyVqpIOU76cGune2uoTkZG/NKOejLFP4DYOjrzrMiSD2OQhKXUpDz1n9T82sawbAzpljyA3pFCLBYpcP8UBsOjFGwIF8mhcliWmdteyWW5J84uChaMEjDSTliOqjQ94JgQWMVaqFRCRyPk6kS25GOxcEgw5fysFwI7NshxE8gjWblCTXCfXn957MLypyfsG2r13DrrDPqbZEHDH3KL0DRbwJGLc5byERHJt/k6uW/aThpefDaNOEy+p+ku3D8M7RuNlueWYKjTAsspIVUBYarS6NBXLFP+zodEzMytwzTRvMndrCOHRO1yi3prZBb3vUU+XPRutcDIj8hfUpTbJT6WV2SMI7SHSqTi5aHZkmlwTA+GbmZAYgcIFR1aKPFZlmU71A2xa5mRtxJQjM8f7vxf7gWFVbbXVfRdhA6XLCKyiE87nr1bv+F19bdU8NY46CYg+jnr1EGuY34ZVOeL+orwnQN/41A+Ay8kD1//g2UdJJvndjHpxrQOjDo/Qmr56fs="
    },
[...]
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-ef2904d7-4e99-cb46-acd3-a88c7a055491/test-file-4fecec68-3275-7d5b-5d65-f87994baf855",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D91F10ECE1EA63",
        "x-ms-date": "Tue, 25 May 2021 00:06:20 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:ff2eda77-c01e-0013-07f9-505bbe000000\n",
        "Time:2021-05-25T00:06:20.7736798Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-ef2904d7-4e99-cb46-acd3-a88c7a055491?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 May 2021 00:06:20 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1770894297",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nkasobolhnscanada\nU2FuaXRpemVk\nhttp://kasobolhnscanada.blob.core.windows.net\nhttp://kasobolhnscanada.file.core.windows.net\nhttp://kasobolhnscanada.queue.core.windows.net\nhttp://kasobolhnscanada.table.core.windows.net\n\n\n\n\nhttp://kasobolhnscanada-secondary.blob.core.windows.net\nhttp://kasobolhnscanada-secondary.file.core.windows.net\nhttp://kasobolhnscanada-secondary.queue.core.windows.net\nhttp://kasobolhnscanada-secondary.table.core.windows.net\nc6b5fe1a-9b59-4975-92c4-d9f728c3c371\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://kasobolhnscanada.blob.core.windows.net/;QueueEndpoint=http://kasobolhnscanada.queue.core.windows.net/;FileEndpoint=http://kasobolhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=http://kasobolhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://kasobolhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://kasobolhnscanada-secondary.file.core.windows.net/;AccountName=kasobolhnscanada;AccountKey=Sanitized\n\n\n"
  }
}