{
  "Entries": [
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-65573734-0a1e-e4de-3d26-cd365659812d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 07 Oct 2020 19:41:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86AF90B6BE7AA\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:41:54 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-65573734-0a1e-e4de-3d26-cd365659812d/test-file-2cc4bc6d-af37-9f7f-00ae-03ecac611ff4?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 07 Oct 2020 19:41:54 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86AF90BC45F98\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:41:54 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-65573734-0a1e-e4de-3d26-cd365659812d/test-file-2cc4bc6d-af37-9f7f-00ae-03ecac611ff4?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:41:54 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "2VWFXjaLsHDcBs5ICj26yS78d6yzSNoz2Np6TMSvJ6wmdsfU7pmaM/k1XExBbQ7bkjV8LXEE1ZF7UYVc[...]
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-65573734-0a1e-e4de-3d26-cd365659812d/test-file-2cc4bc6d-af37-9f7f-00ae-03ecac611ff4?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:41:54 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86AF90BDA110F\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:41:55 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-65573734-0a1e-e4de-3d26-cd365659812d/test-file-2cc4bc6d-af37-9f7f-00ae-03ecac611ff4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:41:54 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D86AF90BDA110F\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:41:55 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 Oct 2020 19:41:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-65573734-0a1e-e4de-3d26-cd365659812d/test-file-2cc4bc6d-af37-9f7f-00ae-03ecac611ff4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:41:55 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D86AF90BDA110F\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:41:55 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 Oct 2020 19:41:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "2VWFXjaLsHDcBs5ICj26yS78d[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-65573734-0a1e-e4de-3d26-cd365659812d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:41:55 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1176820712",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttps://seannsecanary.blob.core.windows.net\nhttps://seannsecanary.file.core.windows.net\nhttps://seannsecanary.queue.core.windows.net\nhttps://seannsecanary.table.core.windows.net\n\n\n\n\nhttps://seannsecanary-secondary.blob.core.windows.net\nhttps://seannsecanary-secondary.file.core.windows.net\nhttps://seannsecanary-secondary.queue.core.windows.net\nhttps://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannsecanary.blob.core.windows.net/;QueueEndpoint=https://seannsecanary.queue.core.windows.net/;FileEndpoint=https://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}