{
  "Entries": [
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-1cf86486-7201-9dd6-ef36-e73560150963?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 25 May 2021 00:07:07 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D91F110905117B\"",
        "Last-Modified": "Tue, 25 May 2021 00:07:07 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolhnscanada.dfs.core.windows.net/test-filesystem-1cf86486-7201-9dd6-ef36-e73560150963/test-file-30f8ed2a-ff3d-579c-9668-6e3e26060cf0?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 25 May 2021 00:07:07 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D91F1109136E18\"",
        "Last-Modified": "Tue, 25 May 2021 00:07:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolhnscanada.dfs.core.windows.net/test-filesystem-1cf86486-7201-9dd6-ef36-e73560150963/test-file-30f8ed2a-ff3d-579c-9668-6e3e26060cf0?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 25 May 2021 00:07:07 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "q+DBhQnBVq1J7wo1zVM2Xgm8S5K5/7wVAlDvjhG+hWpc79eGzqchKHeuwbehfwHekmlTx1zc+6skq4K50cibi2qf2N18sJBhmiIaCz4EdINPEfunar0Of/QrYSIkaFevEjZNAaYjYuLZ8Sw5wvBtIDf/acDN8yCskVjpUE5tPDLLa/gItnPdLK4ZzniQ1L0DvkHrJf6W4h4VoW9NORKTa7T5blf3ZGnEIjwSsyWoG7yb5ZINgRc0NIjZ8xUDj/KchWLDlmZlC1nXJwPBhC75bYWzslN/hemdxTnOHXFUwZJKdS3C5IVWNdk4NVoTcq9a4IWPT9yeHAB4JdAsl+7ng2Zwdw8AN[...]
    {
      "RequestUri": "http://kasobolhnscanada.dfs.core.windows.net/test-filesystem-1cf86486-7201-9dd6-ef36-e73560150963/test-file-30f8ed2a-ff3d-579c-9668-6e3e26060cf0?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 May 2021 00:07:07 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D91F11093BC236\"",
        "Last-Modified": "Tue, 25 May 2021 00:07:07 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-1cf86486-7201-9dd6-ef36-e73560150963/test-file-30f8ed2a-ff3d-579c-9668-6e3e26060cf0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 May 2021 00:07:08 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D91F11093BC236\"",
        "Last-Modified": "Tue, 25 May 2021 00:07:07 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 25 May 2021 00:07:07 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-1cf86486-7201-9dd6-ef36-e73560150963/test-file-30f8ed2a-ff3d-579c-9668-6e3e26060cf0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D91F11093BC236",
        "x-ms-date": "Tue, 25 May 2021 00:07:08 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D91F11093BC236\"",
        "Last-Modified": "Tue, 25 May 2021 00:07:07 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 25 May 2021 00:07:07 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted[...]
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-1cf86486-7201-9dd6-ef36-e73560150963?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 May 2021 00:07:08 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "63792318",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nkasobolhnscanada\nU2FuaXRpemVk\nhttp://kasobolhnscanada.blob.core.windows.net\nhttp://kasobolhnscanada.file.core.windows.net\nhttp://kasobolhnscanada.queue.core.windows.net\nhttp://kasobolhnscanada.table.core.windows.net\n\n\n\n\nhttp://kasobolhnscanada-secondary.blob.core.windows.net\nhttp://kasobolhnscanada-secondary.file.core.windows.net\nhttp://kasobolhnscanada-secondary.queue.core.windows.net\nhttp://kasobolhnscanada-secondary.table.core.windows.net\nc6b5fe1a-9b59-4975-92c4-d9f728c3c371\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://kasobolhnscanada.blob.core.windows.net/;QueueEndpoint=http://kasobolhnscanada.queue.core.windows.net/;FileEndpoint=http://kasobolhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=http://kasobolhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://kasobolhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://kasobolhnscanada-secondary.file.core.windows.net/;AccountName=kasobolhnscanada;AccountKey=Sanitized\n\n\n"
  }
}