{
  "Entries": [
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-16e1f7a6-8489-ac97-f752-fcbdcd6e9a31?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 18:01:28 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F3A3A57B71\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:01:28 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-16e1f7a6-8489-ac97-f752-fcbdcd6e9a31/test-file-c6886d54-ee4b-492c-bff8-d43c5d40e5bb?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 18:01:28 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F3A3DED9AB\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:01:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-16e1f7a6-8489-ac97-f752-fcbdcd6e9a31/test-file-c6886d54-ee4b-492c-bff8-d43c5d40e5bb",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 18:01:28 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F3A3DED9AB\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:01:28 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 18:01:28 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-16e1f7a6-8489-ac97-f752-fcbdcd6e9a31/test-file-c6886d54-ee4b-492c-bff8-d43c5d40e5bb?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 20 Oct 2021 18:01:28 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "lYZsQC52ervePjkl2zouMjmpsYc8iwfvIQL1h1fkuJG5uFyUIX78FFxHfHUUogobIA9w6ErlHAp\u002BfR8rgfJk\u002BYWnayLemRG6rJ0q9Q\u002BS2n732mdHdM9H05tRFaNf0ZJq44LwbTfoPIb\u002Btjytuif77KKhM6eKHIS1X5eHjINtW9oKwBGMoWxHD53hSb6Tmhl0VikAvZ3r38f\u002BOg2fYK8CkFpho/oVb0o2WiQKqdLGIsV\u002BEzZabJ09H\u002BBKjmdfp67t3rljMvcfXufeymN54Tb0NxdHIU14qCO9JIQZy\u002BHj17J1HMsYY/DOX7RPfKI5xD2qVVZPF4ZgdDWVpQ5zBZMG\u002Bw==",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-16e1f7a6-8489-ac97-f752-fcbdcd6e9a31/test-file-c6886d54-ee4b-492c-bff8-d43c5d40e5bb?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D993F3A3DED9AB\u0022",
        "x-ms-date": "Wed, 20 Oct 2021 18:01:29 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F3A43F207C\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:01:29 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-16e1f7a6-8489-ac97-f752-fcbdcd6e9a31?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 18:01:29 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1348001322",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary\nU2FuaXRpemVk\nhttps://amandaadlscanary.blob.core.windows.net\nhttps://amandaadlscanary.file.core.windows.net\nhttps://amandaadlscanary.queue.core.windows.net\nhttps://amandaadlscanary.table.core.windows.net\n\n\n\n\nhttps://amandaadlscanary-secondary.blob.core.windows.net\nhttps://amandaadlscanary-secondary.file.core.windows.net\nhttps://amandaadlscanary-secondary.queue.core.windows.net\n\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://amandaadlscanary.blob.core.windows.net/;QueueEndpoint=https://amandaadlscanary.queue.core.windows.net/;FileEndpoint=https://amandaadlscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandaadlscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandaadlscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandaadlscanary-secondary.file.core.windows.net/;AccountName=amandaadlscanary;AccountKey=Sanitized\n\n\n"
  }
}