{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-d953b095-31e1-8024-8ca3-fe31b065b066?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 03 Feb 2021 02:08:51 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7E8A70F91CB\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:08:52 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-d953b095-31e1-8024-8ca3-fe31b065b066/test-file-051a645a-2963-e798-ac55-e15828e12644?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 03 Feb 2021 02:08:51 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7E8A74E3849\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:08:52 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-d953b095-31e1-8024-8ca3-fe31b065b066/test-file-051a645a-2963-e798-ac55-e15828e12644?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Wed, 03 Feb 2021 02:08:51 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": [
        "\uFFFD6M\u0005\to\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\u0060/.t\fN\uFFFD\uFFFD\uFFFD-\uFFFDe\uFFFD\u0012t\uFFFD\uFFFD\uFFFD\uFFFD\u045F\uFFFD;\u002BR\uFFFD4S\uFFFD\u0508P\uFFFDn7\uFFFD~\uFFFD\uFFFD\t|\uFFFD1\u0016\uFFFD\u0452\uFFFD\uFFFD\u000F\u000E\uFFFD\uFFFD\u001B\uFFFD\uFFFD\u0003\u0022n\u001AX\uFFFD!\uFFFD\uFFFD\uFFFDK\u06FC\u0015\uFFFD\uFFFD\uFFF[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-d953b095-31e1-8024-8ca3-fe31b065b066/test-file-051a645a-2963-e798-ac55-e15828e12644?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:08:52 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7E8A778ABD1\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:08:52 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-d953b095-31e1-8024-8ca3-fe31b065b066/test-file-051a645a-2963-e798-ac55-e15828e12644",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:08:52 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7E8A778ABD1\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:08:52 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 03 Feb 2021 02:08:52 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-d953b095-31e1-8024-8ca3-fe31b065b066/test-file-051a645a-2963-e798-ac55-e15828e12644",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:08:52 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7E8A778ABD1\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:08:52 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 03 Feb 2021 02:08:52 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "qTZNBQlvkJG1urtgLy50DE6r6PUt9GW6EnSTgIO30Z\u002BsOytSnjRT6tSIUKhuN7h\u002B4NUJfPgxFrXRkvKV3A8O/ekbtPQDIm4aWP0hpKO8S9u8FZ\u002BurVSmeiR2gQtBvg7EelK/U4LEer5m7iT7EHIRFUcX2MZvX1CUdDnPjaBj2ZruXCpQ/PhY\u002BJvhR74wq2qxZGzDKuVIVRoCK95J9O0eAxWJDLRIwBhOvuAqjheRZMnPHSg0n660pgYPTtAaDwSuwkSppp\u002B2aaRTdWsFHcYCcccVetbE6mNm1WatOHJINK/cfMvT6L0qGLSE4CpCrohADNwJBZQt6djgQtE4CDAxC0C8KaH7L4kJ6mEiQAk5IybebSyVPi8arpLy8qXs8RCDUtXphoXmRdxT/xozC6nPpx6qWpsEnMwRoXsOCDzjHflRn\u002B40UJ2h9ydPQj4U56LpI0uGQZd0frUI1\u002BQJ2D2gb\u002BIg4Wy6m1eACWJztFmN/bnYJOTxXdth3SA4K3i5lx/qr9Nc8wY2L4j0BTc0AMlce9oqMbNYrhIGvgRMgW/ex3JDiQWGMQmzovVb/FekLdxW3K\u002BejmZskQDBVTQB6a0YFj7F8XfE1UnQdo69/bK6YpEn9aTAPzkM1/cFxdvUsrhHQ\u002BYZ3ztlkgdlzRfXrpROBvOj2fQIWNYEuBl/vhBu/MQ="
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-d953b095-31e1-8024-8ca3-fe31b065b066/test-file-051a645a-2963-e798-ac55-e15828e12644",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8C7E8A778ABD1",
        "x-ms-date": "Wed, 03 Feb 2021 02:08:52 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:2837c62c-d01e-007b-1cd1-f93dc3000000\n",
        "Time:2021-02-03T02:08:53.5179942Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-d953b095-31e1-8024-8ca3-fe31b065b066?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:08:52 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "420370482",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}