{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-ba3c8858-d668-a2ac-a7db-717d6d6984c1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Feb 2021 21:25:52 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C11F056055\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:25:53 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-ba3c8858-d668-a2ac-a7db-717d6d6984c1/test-file-2f59677a-ffb5-f1d8-62aa-1e6f7816ca9a?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 02 Feb 2021 21:25:53 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C11F401E86\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:25:53 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-ba3c8858-d668-a2ac-a7db-717d6d6984c1/test-file-2f59677a-ffb5-f1d8-62aa-1e6f7816ca9a?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Tue, 02 Feb 2021 21:25:53 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": [
        "\u0022\uFFFD\uFFFDl\uFFFD\u001F\uFFFDW\u0003\uFFFD\u03D1\uFFFD\u001C\uFFFD\u001CI\uFFFD:~/\uFFFDq*b\u000E\uFFFD\u000E\u0013LJ\uFFFD\famj\uFFFD%\u0002#W\u2142\uFFFD\uFFFD\u0001\u002B\uFFFD\uFFFD\uFFFDw\uFFFDKS\u0027?\uFFFD\n",
        "\uFFFD?\uFFFDC\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\u001BN$\uFFFD\u0016\u0026Lv\uFFFDc\r",
        "\uFFFD\uFFFDB[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-ba3c8858-d668-a2ac-a7db-717d6d6984c1/test-file-2f59677a-ffb5-f1d8-62aa-1e6f7816ca9a?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:25:53 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C11F5B52CB\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:25:54 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-ba3c8858-d668-a2ac-a7db-717d6d6984c1/test-file-2f59677a-ffb5-f1d8-62aa-1e6f7816ca9a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:25:53 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7C11F5B52CB\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:25:54 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Feb 2021 21:25:53 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-ba3c8858-d668-a2ac-a7db-717d6d6984c1/test-file-2f59677a-ffb5-f1d8-62aa-1e6f7816ca9a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:25:53 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7C11F5B52CB\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:25:54 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Feb 2021 21:25:53 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "IrG9bMEfl1cDzc\u002BR8RyGHEmtOn4v\u002B3EqYg7fDhNMStUMYW1qzSUCI1fihYKV/gEriNDud9tLUyc/kgqyP4hDt4P5hZCvG04kqxYmTHbvlGMNs4ZCXdL5wQ5FKjsbUOPPn83/m3lwe2yCyszEJAewUP6mpIwBAFqw/8SCavETCVo="
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-ba3c8858-d668-a2ac-a7db-717d6d6984c1/test-file-2f59677a-ffb5-f1d8-62aa-1e6f7816ca9a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8C7C11F5B52CB",
        "x-ms-date": "Tue, 02 Feb 2021 21:25:53 GMT",
        "x-ms-range": "bytes=128-255",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 128-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7C11F5B52CB\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:25:54 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Feb 2021 21:25:53 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "M1esqO/56pw4Gr\u002BSBjWcB5TaPXSrV82fck\u002Bbte4Re2/BcZHNWghhBLwIU\u002BdAyKnKJ3vVF9aUr9uKDTagXTSuJp9Q0JWjzqyMeDi3owPmXqql0Y1zPGSZLMG1Q0zSwKeHWi1H8PcUJljOSJ6e3QzXo6\u002BL\u002BounOuk7tqTT7Ytgurg="
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-ba3c8858-d668-a2ac-a7db-717d6d6984c1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:25:54 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "345101287",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}