{
  "Entries": [
    {
      "RequestUri": "https://seanmccdfsca2.blob.core.windows.net/test-filesystem-8ef3cf27-6d8a-7054-27e6-80c70e586748?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 10 Jul 2020 02:41:41 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8247AC7167DDF\u0022",
        "Last-Modified": "Fri, 10 Jul 2020 02:41:41 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccdfsca2.dfs.core.windows.net/test-filesystem-8ef3cf27-6d8a-7054-27e6-80c70e586748/test-file-6ab87e7d-2407-e685-db15-800ac372bd4b?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 10 Jul 2020 02:41:41 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8247AC73CEF7D\u0022",
        "Last-Modified": "Fri, 10 Jul 2020 02:41:42 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccdfsca2.dfs.core.windows.net/test-filesystem-8ef3cf27-6d8a-7054-27e6-80c70e586748/test-file-6ab87e7d-2407-e685-db15-800ac372bd4b?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 10 Jul 2020 02:41:41 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "3BvoLQFescQvJd/E20PS6nx9ZTQjoF26XHAsgRUv\u002B7hrGNTvO9YrHszzO\u002BJFwAqYQ5aORQ[...]
    {
      "RequestUri": "https://seanmccdfsca2.dfs.core.windows.net/test-filesystem-8ef3cf27-6d8a-7054-27e6-80c70e586748/test-file-6ab87e7d-2407-e685-db15-800ac372bd4b?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 10 Jul 2020 02:41:41 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8247AC74BCC3D\u0022",
        "Last-Modified": "Fri, 10 Jul 2020 02:41:42 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccdfsca2.blob.core.windows.net/test-filesystem-8ef3cf27-6d8a-7054-27e6-80c70e586748/test-file-6ab87e7d-2407-e685-db15-800ac372bd4b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 10 Jul 2020 02:41:41 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8247AC74BCC3D\u0022",
        "Last-Modified": "Fri, 10 Jul 2020 02:41:42 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 10 Jul 2020 02:41:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "3BvoLQFescQvJd/E20PS6nx9ZTQjoF26XHAsgRUv\u002B7hrGNTvO9YrHszzO\u002BJFwAqYQ5aORQ2JKDu\u002BLdCRMS\u002Bv/yknWcJu4q\u002BmUUZnL2V6dZxllD5\u002BobWq4vCZMQ0FmeydRDu4HWZHKmDn5/TGIfjWQ7gzLJ3xMF50fHfS1bChoLhZyuspwVc1HWrdl7rB48D3wu1V0m1OqxPdRKDvdVSwRUY7bFYNrIJg/g4zFJijspm22hLCTM5LCx/XS3y3RqgVLFJzhXZq6hZr9dReG5d6OZIHOJpC7fl48GE3NWAFqbdmHudGMCwiTO/8V1f67PCIXBLqrw0N0z9Y\u002BpUUM7S1ZUwc\u002BPyvNAll5eyqRZaifgRxrtlOG/mqWEun7jWXDR[...]
    {
      "RequestUri": "https://seanmccdfsca2.blob.core.windows.net/test-filesystem-8ef3cf27-6d8a-7054-27e6-80c70e586748?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 10 Jul 2020 02:41:41 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "560687648",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmccdfsca2\nU2FuaXRpemVk\nhttps://seanmccdfsca2.blob.core.windows.net\nhttps://seanmccdfsca2.file.core.windows.net\nhttps://seanmccdfsca2.queue.core.windows.net\nhttps://seanmccdfsca2.table.core.windows.net\n\n\n\n\nhttps://seanmccdfsca2-secondary.blob.core.windows.net\nhttps://seanmccdfsca2-secondary.file.core.windows.net\nhttps://seanmccdfsca2-secondary.queue.core.windows.net\nhttps://seanmccdfsca2-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmccdfsca2.blob.core.windows.net/;QueueEndpoint=https://seanmccdfsca2.queue.core.windows.net/;FileEndpoint=https://seanmccdfsca2.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmccdfsca2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmccdfsca2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmccdfsca2-secondary.file.core.windows.net/;AccountName=seanmccdfsca2;AccountKey=Sanitized\n"
  }
}