{
  "Entries": [
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-899b4b5f-5730-0d92-710d-67645f2a46b3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 07 Oct 2020 19:41:31 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86AF8FE171B9A\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:41:32 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-899b4b5f-5730-0d92-710d-67645f2a46b3/test-file-aaf416a2-5792-2bf1-a3ea-4e27eb62efd9?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 07 Oct 2020 19:41:31 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86AF8FE49A686\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:41:32 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-899b4b5f-5730-0d92-710d-67645f2a46b3/test-file-aaf416a2-5792-2bf1-a3ea-4e27eb62efd9?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:41:32 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "GndMW66OVdwX5MCrjRNwGzd1Sh79YS4TC2wXcvLNAGqmfmQmCnpDi\u002BtQzaGiFWmY83QuQRPATrh[...]
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-899b4b5f-5730-0d92-710d-67645f2a46b3/test-file-aaf416a2-5792-2bf1-a3ea-4e27eb62efd9?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:41:32 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86AF8FE5E9606\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:41:32 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-899b4b5f-5730-0d92-710d-67645f2a46b3/test-file-aaf416a2-5792-2bf1-a3ea-4e27eb62efd9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:41:32 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D86AF8FE5E9606\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:41:32 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 Oct 2020 19:41:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-899b4b5f-5730-0d92-710d-67645f2a46b3/test-file-aaf416a2-5792-2bf1-a3ea-4e27eb62efd9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:41:32 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D86AF8FE5E9606\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:41:32 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 Oct 2020 19:41:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "GndMW66OVdwX5MCrjRNwGzd1Sh79YS4TC2wXcvLNAGqmfmQmCnpDi\u002BtQzaGiFWmY83QuQRPATrhIOE9BduLpSeRVBQ\u002BuShG8Mr8yrZSMcfUDf39\u002Bnr9W5S\u002Bs3dErARQIZoO9TA9a6qhjcQ5UjaEkvMdZPvdja6ok/x/fAm0/kTA="
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-899b4b5f-5730-0d92-710d-67645f2a46b3/test-file-aaf416a2-5792-2bf1-a3ea-4e27eb62efd9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D86AF8FE5E9606",
        "x-ms-date": "Wed, 07 Oct 2020 19:41:32 GMT",
        "x-ms-range": "bytes=128-255",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 128-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D86AF8FE5E9606\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:41:32 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 Oct 2020 19:41:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "qylGEM8k5qmV1hossAJYjochCdHDHKX72JhN73rnOyPg3aljWhTsonOUYoxQfXT9x1B6TDbAbY6ESzc31/YurZv3TNJY9DRyNGZdLroYqlojUCgqbO7tH3Ab3w/dtMt9ZrXxWDGhpNMcBxfPYz7Ta6DcFIfOBECsCi1hPRUklYA="
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-899b4b5f-5730-0d92-710d-67645f2a46b3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:41:32 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1514797825",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttps://seannsecanary.blob.core.windows.net\nhttps://seannsecanary.file.core.windows.net\nhttps://seannsecanary.queue.core.windows.net\nhttps://seannsecanary.table.core.windows.net\n\n\n\n\nhttps://seannsecanary-secondary.blob.core.windows.net\nhttps://seannsecanary-secondary.file.core.windows.net\nhttps://seannsecanary-secondary.queue.core.windows.net\nhttps://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannsecanary.blob.core.windows.net/;QueueEndpoint=https://seannsecanary.queue.core.windows.net/;FileEndpoint=https://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}