{
  "Entries": [
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-9ec99348-5814-2e58-07fa-2dcfc6772eca?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 14 Sep 2020 20:10:40 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D858EA41B8445D\u0022",
        "Last-Modified": "Mon, 14 Sep 2020 20:10:42 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-9ec99348-5814-2e58-07fa-2dcfc6772eca/test-file-512bea34-b0b2-e382-0a59-ad0a341ce5e1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Sep 2020 20:10:41 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D858EA4225E0E9\u0022",
        "Last-Modified": "Mon, 14 Sep 2020 20:10:42 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-9ec99348-5814-2e58-07fa-2dcfc6772eca/test-file-512bea34-b0b2-e382-0a59-ad0a341ce5e1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Sep 2020 20:10:41 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D858EA4225E0E9\u0022",
        "Last-Modified": "Mon, 14 Sep 2020 20:10:42 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 14 Sep 2020 20:10:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-9ec99348-5814-2e58-07fa-2dcfc6772eca/test-file-512bea34-b0b2-e382-0a59-ad0a341ce5e1?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Sep 2020 20:10:42 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "5ezXxQrlFTiPYsySbj1Mk78zeNcVhufJp7bfy9NG9pHiSV\u002Bqn9RvrEfOz5ei10Z0l5VVnntm414FDR1UBUplSWs7sCTeovPrw8uPRrZPJ9BvajQ\u002B8FgWe2YApJG2G6b9aYYsZyYhlvWhatuv1p2ntuZN5JsVJ1gTJTS\u002B3f1hNKgkkd0wI7\u002BpTtQ\u002BnIZ8Z6XIWO6raDYL50EuGELxYrj3QDUzikTAd5Mmo5bG14vRlr2P9YUPtstxGaqbAgp9t\u002BsbRltRSd1gCOFbhMWgRBC2XIGEYmwz6IppwXCaJHWIqeuqq5AvgE3gL\u002ByjszEG0NSZ5aWI\u002BVV\u002B517R54dsxeRr0g==",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-9ec99348-5814-2e58-07fa-2dcfc6772eca/test-file-512bea34-b0b2-e382-0a59-ad0a341ce5e1?action=flush\u0026position=1024\u0026close=true",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D858EA4225E0E9\u0022",
        "x-ms-date": "Mon, 14 Sep 2020 20:10:42 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D858EA42787658\u0022",
        "Last-Modified": "Mon, 14 Sep 2020 20:10:43 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-9ec99348-5814-2e58-07fa-2dcfc6772eca?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Sep 2020 20:10:42 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1116691881",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttps://seannsecanary.blob.core.windows.net\nhttps://seannsecanary.file.core.windows.net\nhttps://seannsecanary.queue.core.windows.net\nhttps://seannsecanary.table.core.windows.net\n\n\n\n\nhttps://seannsecanary-secondary.blob.core.windows.net\nhttps://seannsecanary-secondary.file.core.windows.net\nhttps://seannsecanary-secondary.queue.core.windows.net\nhttps://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannsecanary.blob.core.windows.net/;QueueEndpoint=https://seannsecanary.queue.core.windows.net/;FileEndpoint=https://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}
