{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-299670af-b8e9-c6f2-546c-8c866e413d6f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 24 Aug 2020 20:05:23 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D84869082C2D97\u0022",
        "Last-Modified": "Mon, 24 Aug 2020 20:05:21 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-299670af-b8e9-c6f2-546c-8c866e413d6f/test-file-3a5f4b7e-66c1-41d1-6fd2-93b14b2ff134?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Mon, 24 Aug 2020 20:05:23 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D84869085DAD25\u0022",
        "Last-Modified": "Mon, 24 Aug 2020 20:05:22 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-299670af-b8e9-c6f2-546c-8c866e413d6f/test-file-3a5f4b7e-66c1-41d1-6fd2-93b14b2ff134?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 Aug 2020 20:05:23 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "7GkG61oo3WDWItsLP7Wq50zVRYnBRGEZsaWlvzYmW7c6\u002Bl6vp/88Vm3\u002BY5\u002BKxQG5KKxkdel[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-299670af-b8e9-c6f2-546c-8c866e413d6f/test-file-3a5f4b7e-66c1-41d1-6fd2-93b14b2ff134?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 Aug 2020 20:05:24 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D848690875C328\u0022",
        "Last-Modified": "Mon, 24 Aug 2020 20:05:22 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-299670af-b8e9-c6f2-546c-8c866e413d6f/test-file-3a5f4b7e-66c1-41d1-6fd2-93b14b2ff134",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 Aug 2020 20:05:24 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D848690875C328\u0022",
        "Last-Modified": "Mon, 24 Aug 2020 20:05:22 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 24 Aug 2020 20:05:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "7GkG61oo3WDWItsLP7Wq50zVRYnBRGEZsaWlvzYmW7c6\u002Bl6vp/88Vm3\u002BY5\u002BKxQG5KKxkdelocqgH7Tq0gh4psMYk0UVX\u002Bj9NmO8bwuDCjuyk65aKwebN0oe1qLrFiNNP1bPYZvS7Yi5sF9z6TbDIRF5NEJaHn\u002B7gV/\u002B\u002BolGFhxAby\u002B0s6Sj46IloHaoJ0oTW7WNceHg9yDXF\u002BA70/cDc54/M34HDm1s1VScMH4FD1oV657TuKQ\u002BY3QO3Z/EaA\u002BvJizYbPfIDE1IIJiJQMKizgSGIehUL7r2AMwJ\u002BCzNpG1E8Q5NKKJmTd9Ri5QPsR6xaBObQkYnVvZ15mgnwhAcenwrQFO0VaViH9QJBqAm6k\u002BxVIwdMmIrIZoX20Y6Qo/LMQ0X4GzO/RZqOSZuGkxWTvgcdmmEA0Qd/CK1oHpfK91IQdWXDwXe5lt1svk/vQtNwYhKGcgiQzHE\u002BeROFVyYDw1FIdR6v0P2PYwODkxO3kMXa97uEQ4RKf6nzhEhkMz\u002B2aPv9psy0wJIV9w4EDThehuhNql9rf4DN/vZ1vEu0Ki/EzCoXuun4Jjcpbkt1RXJwlP1gFonfS\u002Bl7MKjWPwNGYc3eQEANRsz\u002BVYQoQRA0V7mDBChOVBOm5IBAnIpBIeYz4w1\u002BlwQxY00xYcEFtwrZRtnvUjvb\u002BAy5OFu/zKpBvTM="
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-299670af-b8e9-c6f2-546c-8c866e413d6f/test-file-3a5f4b7e-66c1-41d1-6fd2-93b14b2ff134",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D848690875C328",
        "x-ms-date": "Mon, 24 Aug 2020 20:05:24 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:23c6f09f-e01e-00ab-0251-7a0095000000\n",
        "Time:2020-08-24T20:05:23.0722805Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-299670af-b8e9-c6f2-546c-8c866e413d6f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 Aug 2020 20:05:24 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "548094300",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}