{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-c8490238-239b-e678-9fa4-def9eff821a0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:08:14 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D509B489DD1A\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:08:13 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-c8490238-239b-e678-9fa4-def9eff821a0/test-file-32898672-0e44-493f-7677-58d6865d8d3f?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 19 Feb 2021 19:08:14 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D509B497BA42\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:08:13 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-c8490238-239b-e678-9fa4-def9eff821a0/test-file-32898672-0e44-493f-7677-58d6865d8d3f?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Fri, 19 Feb 2021 19:08:14 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": [
        "\u0000\uFFFD5*\u041BZ\uFFFD\uFFFDkr4@U\u000B\uFFFD\u003E\uFFFD\uFFFD\uFFFD\u0019\uFFFDg-5d\uFFFDh\u0026o{J\uFFFD\u0022\uFFFD\u003C\uFFFD\uFFFD\uFFFD\uFFFDV\uFFFDD[\u0012 ;\u0007\uFFFD\uFFFD;l:\u0016[\uFFFD\uFFFD\uFFFD6i\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD3(D\u0001\u0001\uFFFD\uFFFD,\uFFFD\u0003#\uFFFD#C\uFFFD\u0060i\uFFFD?\uFFFDS\u000B\uFFFD\uFFFD@\uF[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-c8490238-239b-e678-9fa4-def9eff821a0/test-file-32898672-0e44-493f-7677-58d6865d8d3f?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:08:14 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D509B4B42BFE\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:08:13 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-c8490238-239b-e678-9fa4-def9eff821a0/test-file-32898672-0e44-493f-7677-58d6865d8d3f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:08:14 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D509B4B42BFE\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:08:13 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:08:13 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-c8490238-239b-e678-9fa4-def9eff821a0/test-file-32898672-0e44-493f-7677-58d6865d8d3f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:08:14 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D509B4B42BFE\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:08:13 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:08:13 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "APg1KtCbWvHga3I0QFUL1z6Hn64Z6ZxnLTVk8Ggmb3tKjiLikjyGv\u002BbtVplEWxIgOwe95ztsOhZbzfyaNmmJuvz36rIzKEQBAeDILJIDI9IjQ7RgaYc/3VMLh8RA7Ih8Y5ycTHBg7RPDu\u002BZbpA2EWKopd/K0KFF0twxeJ6F/wRU="
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-c8490238-239b-e678-9fa4-def9eff821a0/test-file-32898672-0e44-493f-7677-58d6865d8d3f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D509B4B42BFE",
        "x-ms-date": "Fri, 19 Feb 2021 19:08:14 GMT",
        "x-ms-range": "bytes=128-255",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 128-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D509B4B42BFE\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:08:13 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:08:13 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "V0vI9WbWYcJWoZ2toeQ5RYcuGhZ0lsc7SyiUZAHGcUP60ANYRI7y1Me0mxOLpNPT0higc2WroMCEjao\u002BQf3AjzBZstDh4QD4O0VOwPq0r6dVwZLpJf3eTzBD1LfktJPK8wziMvEC8vEXqDgfXN/Fz90C6H9q12oyemOfnQxJE4Y="
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-c8490238-239b-e678-9fa4-def9eff821a0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:08:15 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "82427213",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}