{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-41cbfb40-546f-278a-064a-8cc82a50a738?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 03 Feb 2021 02:10:34 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7E8E473FBED\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:10:35 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-41cbfb40-546f-278a-064a-8cc82a50a738/test-file-8dfe23e4-9bb6-9f46-d3c0-8340e7d8a856?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:10:34 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7E8E4AEA7BD\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:10:35 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-41cbfb40-546f-278a-064a-8cc82a50a738/test-file-8dfe23e4-9bb6-9f46-d3c0-8340e7d8a856?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Wed, 03 Feb 2021 02:10:34 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": [
        ")\uFFFDo\uFFFDy\uFFFD_)nSf\u0026\uFFFD\uFFFD\uFFFDa\uFFFD\uFFFD\uFFFD\uFFFD\u000BM\uFFFD\u0495\u02E4C\uFFFD\uFFFD!\uFFFD\uFFFDpD\u0002\uFFFDO\uFFFD\uFFFD^\u000Fy\uFFFDs\u07B79Fq\uFFFD\uFFFD\u079C\b\uFFFD\u0017\u001B\uFFFD}\uFFFDDQ\u0014\u003C\uFFFD^\uFFFDl\uFFFD\u0022gaF\uFFFD\u001C\u001B1e\uFFFDc\uFFFD\uFFFDE\uFFFDee\uFFFD\uFFFD\u0617\u001Cn\uF[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-41cbfb40-546f-278a-064a-8cc82a50a738/test-file-8dfe23e4-9bb6-9f46-d3c0-8340e7d8a856?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8C7E8E4BD9B03",
        "x-ms-date": "Wed, 03 Feb 2021 02:10:35 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7E8E4E8674C\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:10:35 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-41cbfb40-546f-278a-064a-8cc82a50a738/test-file-8dfe23e4-9bb6-9f46-d3c0-8340e7d8a856",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:10:35 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7E8E4E8674C\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:10:35 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 03 Feb 2021 02:10:35 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "KYNvnnm8XyluU2Ym/6zXYYq7lNULTaTSlcukQ6HxqSHV63BEApdP8LKj7F4PebBz3rc5RnHmpdzenAitFxuHfalEURQ8k17ybKMiZ2FGwxwbMWXquGOw7kWUZWWOodiXHG61yiibN0tYRtrNxD16mNnskua2ncVFlGLOpy74ZMrLi0vykfjzf/oZkXKJ4ioIGc2LoQ/y4H6pbzXFzI8dX\u002BEPATnxiAfh\u002BRPrnAtSvLE4xo1hbMK72arMSCHDLbJq/DGQeeDwFpHFqqj8BkNzVrODjQYBvPMeVCiOJT/lHstggKDZwkPQR6/8m8Iav9NnWfJuP6CraUA\u002BcSS4YvFS4Izcm4WimZRvskVWBSEwBJVUJ8xNdt4rtBdgm1AeGOW\u002Bqro1PSROxL9d/oxaVW[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-41cbfb40-546f-278a-064a-8cc82a50a738?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:10:35 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "502127565",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}