{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-b6132673-7563-41d3-3753-aed5f0728f2b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:10:02 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D509F55EE3E9\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:10:02 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-b6132673-7563-41d3-3753-aed5f0728f2b/test-file-d5454f61-8429-fa9c-e859-3ce4bddbebe7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:10:02 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-b6132673-7563-41d3-3753-aed5f0728f2b/test-file-d5454f61-8429-fa9c-e859-3ce4bddbebe7?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:10:02 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D509F57C6858\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:10:02 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-b6132673-7563-41d3-3753-aed5f0728f2b/test-file-d5454f61-8429-fa9c-e859-3ce4bddbebe7?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Fri, 19 Feb 2021 19:10:03 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": [
        "*\u0026\uFFFDI\uFFFDo\uFFFDK\uFFFD\u0018\uFFFDOZ\u0001\uFFFDM\uFFFD\uFFFD\uFFFD\u0007\tS^\uFFFD\n",
        "\uFFFD6-\u06E8\uFFFD\uFFFD6\u0011\u0101\uFFFDP\uFFFD\uFFFD\u0006\u0010\uFFFDM\uFFFD\uFFFD\uFFFDR5E\uFFFD\uFFFD\uFFFD\uFFFD\u0005\u003EG8wp\u0026\uFFFD\uFFFD\uFFFD$\uFFFD\t\uFFFD\uFFFD7\uFFFD]\u000FLN\uFFFD\uFFFD\uFFFDO\uFFFD\uFFFDVT\uFFFD[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-b6132673-7563-41d3-3753-aed5f0728f2b/test-file-d5454f61-8429-fa9c-e859-3ce4bddbebe7?action=flush\u0026position=512",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D509F57C6858",
        "x-ms-date": "Fri, 19 Feb 2021 19:10:03 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D509F59367D0\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:10:02 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-b6132673-7563-41d3-3753-aed5f0728f2b/test-file-d5454f61-8429-fa9c-e859-3ce4bddbebe7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:10:03 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D509F5A9FBC5\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:10:02 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:10:02 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "KiarSeBvpEvOGJRPWgHOTZGHlQcJU16lCpg2LduoifOONhHEgaNQ8ar6BhDvTZ/niu5SNUXj3tfHBT5HOHdwJo6gwSTvCcztN6RdD0xOtb35T6LsVlStqlg6/XxlCLkyiuCBT4t6\u002BIEhZP2hhs6LeU\u002BBTunVg8868hbLtAxQiC7rKoVrzGYxflYhyvFWDCSJr4Ms47rPXQYRR1x1r0N00dvPtltJIK3oT8\u002BSs7jd5ObyQgWII6VzG8x\u002BWoUKvM8TrPkWhlXIP4/WQ5PrPalNM2J1gm096602W5uPy8Uo3ZP/fwe/x12RKQJ2st8RiN4jMCYilTli1cBL4Cu6OXTJrmUA672ijmsE5FhqxznNJNO8bJqeBUhZnalGdOcy1vCOrQN5EJ0ggKK7HbHh9w[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-b6132673-7563-41d3-3753-aed5f0728f2b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:10:03 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "431972517",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}