{
  "Entries": [
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-b50e7563-8afc-054f-c2a1-e79d4ed0d2c1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 23 Sep 2020 02:10:12 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85F65CE15BA89\u0022",
        "Last-Modified": "Wed, 23 Sep 2020 02:10:12 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-b50e7563-8afc-054f-c2a1-e79d4ed0d2c1/test-file-2266bf8e-5bdd-1249-9272-09cfae234ac1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 23 Sep 2020 02:10:12 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85F65CE5B3A49\u0022",
        "Last-Modified": "Wed, 23 Sep 2020 02:10:13 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-b50e7563-8afc-054f-c2a1-e79d4ed0d2c1/test-file-2266bf8e-5bdd-1249-9272-09cfae234ac1?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Sep 2020 02:10:12 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "LvVOlCJNQUwqxj8KM2KBHMHjde/szJCag73KyZOkdO1Yxr6OV0vh2x2Y22q5nLkdOmfl7xOppGFltBFk[...]
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-b50e7563-8afc-054f-c2a1-e79d4ed0d2c1/test-file-2266bf8e-5bdd-1249-9272-09cfae234ac1?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Sep 2020 02:10:13 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85F65CE6E6323\u0022",
        "Last-Modified": "Wed, 23 Sep 2020 02:10:13 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-b50e7563-8afc-054f-c2a1-e79d4ed0d2c1/test-file-2266bf8e-5bdd-1249-9272-09cfae234ac1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Sep 2020 02:10:13 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85F65CE6E6323\u0022",
        "Last-Modified": "Wed, 23 Sep 2020 02:10:13 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 23 Sep 2020 02:10:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-b50e7563-8afc-054f-c2a1-e79d4ed0d2c1/test-file-2266bf8e-5bdd-1249-9272-09cfae234ac1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Sep 2020 02:10:13 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85F65CE6E6323\u0022",
        "Last-Modified": "Wed, 23 Sep 2020 02:10:13 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 23 Sep 2020 02:10:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "LvVOlCJNQUwqxj8KM2KBHMHjde/szJCag73KyZOkdO1Yxr6OV0vh2x2Y22q5nLkdOmfl7xOppGFltBFkgni4hVJSsWyk88V1AZnRU/El4OcErY4sv4TaryFdKaM6fFil31YYZ\u002BpMeUehb\u002B5511BvQNMqYNTqjMbOdwJLRsoiO4Q="
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-b50e7563-8afc-054f-c2a1-e79d4ed0d2c1/test-file-2266bf8e-5bdd-1249-9272-09cfae234ac1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D85F65CE6E6323",
        "x-ms-date": "Wed, 23 Sep 2020 02:10:13 GMT",
        "x-ms-range": "bytes=128-255",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 128-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85F65CE6E6323\u0022",
        "Last-Modified": "Wed, 23 Sep 2020 02:10:13 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 23 Sep 2020 02:10:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "QSx0mwx5/Lc0RotPlmDX0O3pzxAchLtTj0rv5wEyfX40aTir3NQzWi2ooKMAdjcXKnpZ4FMqaL1xIAvCiRW2AckMGi0oLPQYtXXjdOMXUhkS2LyH2ZwrCgF7OrzJcdEX8Z7a9FsK7v6GQCveR/PZWc3yr7BYLygs4BAsrfI4T0Q="
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-b50e7563-8afc-054f-c2a1-e79d4ed0d2c1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Sep 2020 02:10:13 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1227496089",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttps://seannsecanary.blob.core.windows.net\nhttps://seannsecanary.file.core.windows.net\nhttps://seannsecanary.queue.core.windows.net\nhttps://seannsecanary.table.core.windows.net\n\n\n\n\nhttps://seannsecanary-secondary.blob.core.windows.net\nhttps://seannsecanary-secondary.file.core.windows.net\nhttps://seannsecanary-secondary.queue.core.windows.net\nhttps://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannsecanary.blob.core.windows.net/;QueueEndpoint=https://seannsecanary.queue.core.windows.net/;FileEndpoint=https://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}