{
  "Entries": [
    {
      "RequestUri": "http://gen1gen2domain1.blob.core.windows.net/test-filesystem-4493fa1f-2c60-04dd-3155-3222bfc50cd2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 03 Sep 2020 19:24:44 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8503F03B20BC9\u0022",
        "Last-Modified": "Thu, 03 Sep 2020 19:24:44 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://gen1gen2domain1.dfs.core.windows.net/test-filesystem-4493fa1f-2c60-04dd-3155-3222bfc50cd2/test-file-4d6adcac-ab81-74e3-d4ac-a508dab8d43c?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Thu, 03 Sep 2020 19:24:45 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8503F03D0BEE6\u0022",
        "Last-Modified": "Thu, 03 Sep 2020 19:24:45 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://gen1gen2domain1.dfs.core.windows.net/test-filesystem-4493fa1f-2c60-04dd-3155-3222bfc50cd2/test-file-4d6adcac-ab81-74e3-d4ac-a508dab8d43c?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Sep 2020 19:24:45 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "i4mMjjipWc45UxaXVtUdhOE7eFOKeyfqTRiOzEEeJMFHF8Q\u002BjOfdA4ObFC2UTB7\u002BjiAmn[...]
    {
      "RequestUri": "http://gen1gen2domain1.dfs.core.windows.net/test-filesystem-4493fa1f-2c60-04dd-3155-3222bfc50cd2/test-file-4d6adcac-ab81-74e3-d4ac-a508dab8d43c?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Sep 2020 19:24:45 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8503F03EB0CB2\u0022",
        "Last-Modified": "Thu, 03 Sep 2020 19:24:45 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://gen1gen2domain1.blob.core.windows.net/test-filesystem-4493fa1f-2c60-04dd-3155-3222bfc50cd2/test-file-4d6adcac-ab81-74e3-d4ac-a508dab8d43c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Sep 2020 19:24:45 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8503F03EB0CB2\u0022",
        "Last-Modified": "Thu, 03 Sep 2020 19:24:45 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 03 Sep 2020 19:24:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://gen1gen2domain1.blob.core.windows.net/test-filesystem-4493fa1f-2c60-04dd-3155-3222bfc50cd2/test-file-4d6adcac-ab81-74e3-d4ac-a508dab8d43c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Sep 2020 19:24:45 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8503F03EB0CB2\u0022",
        "Last-Modified": "Thu, 03 Sep 2020 19:24:45 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 03 Sep 2020 19:24:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "i4mMjjipWc45UxaXVtUdhOE7eFOKeyfqTRiOzEEeJMFHF8Q\u002BjOfdA4ObFC2UTB7\u002BjiAmnz\u002BAsg9iokAfGoyNGi5VUD4R3vj6XnXQ7mf5VQH5jz4g94WCx2W03Oqmvej3Dvr\u002BP/zg7a8oLEDJr8OoaEw/JopObCKp0ojYXAEOU6CN2N9t\u002BxYFGaKO98tEuBeiC3SdZ5ddqKLXVWxzB5CtGtigPNbjO202Ogzov3RXZBpxNlCNcOsILy89laWqkRIR4N3ypHtAvtAHZy2LdOktgPFSAdFAIKntlwympaXHjKj6196XZL\u002BeMXeAhQm\u002BfbtGEBWzWJBB0cAzBQ1umRkrP9uFkZwKlRsys89Zv5ufLxlRYJSPFDMYuAYeY1\u002BxMJheVUUuOOwePHv6gaTA5xEllNb0HTiEmyunbdiW6zG7gIM3\u002BmpVcPYtMyMZlJOOV9H1\u002Bc\u002BJvRJf2rkah8sTh1BJPwAhieymzyPgxuoUagaYGBUHofJiMcNw1yCxO\u002BgqGavT0FWTbc3kTiqrqfYoSm\u002Bygm\u002B1DOZe5g09sbLM9ZM7ta0/QZqxBKpHIlLHtofMSIyw/rl5dAzEdOlHVrwbGFmWcPRJ6QjVAX3EbemUly\u002BFcGklG/bawUGges2xaq7uLAr4MEaTgl6D2/08tAYiMN25weVS9vxjvK6yqG47JJfO1UE="
    },
[...]
    {
      "RequestUri": "http://gen1gen2domain1.blob.core.windows.net/test-filesystem-4493fa1f-2c60-04dd-3155-3222bfc50cd2/test-file-4d6adcac-ab81-74e3-d4ac-a508dab8d43c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8503F03EB0CB2",
        "x-ms-date": "Thu, 03 Sep 2020 19:24:45 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:26bb693e-401e-0081-5827-8256fb000000\n",
        "Time:2020-09-03T19:24:45.6064581Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "http://gen1gen2domain1.blob.core.windows.net/test-filesystem-4493fa1f-2c60-04dd-3155-3222bfc50cd2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Sep 2020 19:24:45 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1348964077",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\ngen1gen2domain1\nU2FuaXRpemVk\nhttp://gen1gen2domain1.blob.core.windows.net\nhttp://gen1gen2domain1.file.core.windows.net\nhttp://gen1gen2domain1.queue.core.windows.net\nhttp://gen1gen2domain1.table.core.windows.net\n\n\n\n\nhttp://gen1gen2domain1-secondary.blob.core.windows.net\nhttp://gen1gen2domain1-secondary.file.core.windows.net\nhttp://gen1gen2domain1-secondary.queue.core.windows.net\nhttp://gen1gen2domain1-secondary.table.core.windows.net\nc6b5fe1a-9b59-4975-92c4-d9f728c3c371\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://gen1gen2domain1.blob.core.windows.net/;QueueEndpoint=http://gen1gen2domain1.queue.core.windows.net/;FileEndpoint=http://gen1gen2domain1.file.core.windows.net/;BlobSecondaryEndpoint=http://gen1gen2domain1-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://gen1gen2domain1-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://gen1gen2domain1-secondary.file.core.windows.net/;AccountName=gen1gen2domain1;AccountKey=Sanitized\n"
  }
}