{
  "Entries": [
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-056636c1-33f0-92ae-6329-8554dca74de0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 26 May 2021 17:53:43 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9206F33E56A74\u0022",
        "Last-Modified": "Wed, 26 May 2021 17:53:43 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolhnscanada.dfs.core.windows.net/test-filesystem-056636c1-33f0-92ae-6329-8554dca74de0/test-file-6be57c9f-6a52-26bc-1945-0a8ef9f4b790?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 26 May 2021 17:53:43 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9206F34117EAD\u0022",
        "Last-Modified": "Wed, 26 May 2021 17:53:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolhnscanada.dfs.core.windows.net/test-filesystem-056636c1-33f0-92ae-6329-8554dca74de0/test-file-6be57c9f-6a52-26bc-1945-0a8ef9f4b790?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 26 May 2021 17:53:43 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": "S\u002BAWMJYyYK0RL5izj0TD0cJ2oFQoTE/gyFuOubkHTC3vlR3tezZ5gSfR72KTr0OD3YlcdJ/45f\u002BRNmg6o6fzCuJrw/kn1laL/B4tV13sTRkYC9wvqtiN968eXETOPt2A3eSAKOtJXAcy0XeAyo6hpOlPIpjKw18J3cxJCHkRvL5BrXl4bCUtzq/V/dlgDSwhfLdbfxxFtRqFdksf/1ONIBS5Px0VKTjEIVPo9caFqc\u002BgKIzCtj2h/Phe8/baDc5cSNzFps4OC1J\u002Bl13IXMBT/8x7f9fGymrXGEMltjZC6hOFjK3qwAMBkRw5Qx7f2J84C/MpXo73l[...]
    {
      "RequestUri": "http://kasobolhnscanada.dfs.core.windows.net/test-filesystem-056636c1-33f0-92ae-6329-8554dca74de0/test-file-6be57c9f-6a52-26bc-1945-0a8ef9f4b790?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 May 2021 17:53:43 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9206F342BAD28\u0022",
        "Last-Modified": "Wed, 26 May 2021 17:53:43 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-056636c1-33f0-92ae-6329-8554dca74de0/test-file-6be57c9f-6a52-26bc-1945-0a8ef9f4b790",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 May 2021 17:53:44 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9206F342BAD28\u0022",
        "Last-Modified": "Wed, 26 May 2021 17:53:43 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 26 May 2021 17:53:43 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-056636c1-33f0-92ae-6329-8554dca74de0/test-file-6be57c9f-6a52-26bc-1945-0a8ef9f4b790",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D9206F342BAD28",
        "x-ms-date": "Wed, 26 May 2021 17:53:44 GMT",
        "x-ms-range": "bytes=0-255",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9206F342BAD28\u0022",
        "Last-Modified": "Wed, 26 May 2021 17:53:43 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 26 May 2021 17:53:43 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": "S\u002BAWMJYyYK0RL5izj0TD0cJ2oFQoTE/gyFuOubkHTC3vlR3tezZ5gSfR72KTr0OD3YlcdJ/45f\u002BRNmg6o6fzCuJrw/kn1laL/B4tV13sTRkYC9wvqtiN968eXETOPt2A3eSAKOtJXAcy0XeAyo6hpOlPIpjKw18J3cxJCHkRvL5BrXl4bCUtzq/V/dlgDSwhfLdbfxxFtRqFdksf/1ONIBS5Px0VKTjEIVPo9caFqc\u002BgKIzCtj2h/Phe8/baDc5cSNzFps4OC1J\u002Bl13IXMBT/8x7f9fGymrXGEMltjZC6hOFjK3qwAMBkRw5Qx7f2J84C/MpXo73lX1x7Y6L6VUcPA=="
    },
[...]
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-4dd61398-bd23-649a-02ab-6e9dcf3c4e94/test-file-9571c295-2561-a1c3-848b-0bfeaf5355d6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 25 May 2021 17:53:43 GMT",
        "x-ms-date": "Wed, 26 May 2021 17:53:44 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9206F34AC7132\u0022",
        "Last-Modified": "Wed, 26 May 2021 17:53:44 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 26 May 2021 17:53:44 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-9d7650a9-6324-462a-d022-4ecc7972daa5/test-file-74ae0d7e-fc24-3292-b581-b2337eb3f34d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 27 May 2021 17:53:43 GMT",
        "x-ms-date": "Wed, 26 May 2021 17:53:45 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9206F3525F664\u0022",
        "Last-Modified": "Wed, 26 May 2021 17:53:45 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 26 May 2021 17:53:45 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-145347e2-c9ab-0cba-3de2-e53289d87d95/test-file-590e6703-4209-5345-d987-69c8cba9b9a1?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 May 2021 17:53:48 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "24130e8e-af61-2cf2-f6f1-ebce3dd9bfe0",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9206F36A3F50B\u0022",
        "Last-Modified": "Wed, 26 May 2021 17:53:47 GMT",
        "x-ms-lease-id": "24130e8e-af61-2cf2-f6f1-ebce3dd9bfe0",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-145347e2-c9ab-0cba-3de2-e53289d87d95?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 May 2021 17:53:48 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-05-26T10:53:43.2110544-07:00",
    "RandomSeed": "2130765090",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nkasobolhnscanada\nU2FuaXRpemVk\nhttp://kasobolhnscanada.blob.core.windows.net\nhttp://kasobolhnscanada.file.core.windows.net\nhttp://kasobolhnscanada.queue.core.windows.net\nhttp://kasobolhnscanada.table.core.windows.net\n\n\n\n\nhttp://kasobolhnscanada-secondary.blob.core.windows.net\nhttp://kasobolhnscanada-secondary.file.core.windows.net\nhttp://kasobolhnscanada-secondary.queue.core.windows.net\nhttp://kasobolhnscanada-secondary.table.core.windows.net\nc6b5fe1a-9b59-4975-92c4-d9f728c3c371\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://kasobolhnscanada.blob.core.windows.net/;QueueEndpoint=http://kasobolhnscanada.queue.core.windows.net/;FileEndpoint=http://kasobolhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=http://kasobolhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://kasobolhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://kasobolhnscanada-secondary.file.core.windows.net/;AccountName=kasobolhnscanada;AccountKey=Sanitized\n"
  }
}