{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-c2b144f2-0f07-095e-a864-11199ed20c6c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:36 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38CD571BF6\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:36 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-c2b144f2-0f07-095e-a864-11199ed20c6c/test-file-2c7e2d88-f105-d42a-88af-7d60de712ee4?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:36 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38CD60E1E9\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-c2b144f2-0f07-095e-a864-11199ed20c6c/test-file-2c7e2d88-f105-d42a-88af-7d60de712ee4?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:36 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "72JkMZoWzk5tnmbUM8EUZhDX/ZadkML2rJAGplJe3KRaK62S3SOfBTrnDguaYMpHmetnX7pCEl\u002BfbYUJDyj7DsLCegcTgYjtOPdbtYG2XEvGvw1n93zqFxhO8nCdlfUS7P9J2ObDNBdjeibC5l3d6RE5Q1AblBdF12LuxY4YT6IBScmCbIRlA4v1A3xWJzC7cAleZFKl91fnBACD1G\u002BISyuDwZ2TW3yN00DFJZCb77AyMlSFuepQW1JxmmiD4i4cbbhQ0maTJxSM0JAS4NHHTBVPUKIaApFBM2VKIsEUCfERqLjXShxJnwtA\u002BehZPnuBqU1SNJGLAWonD5[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-c2b144f2-0f07-095e-a864-11199ed20c6c/test-file-2c7e2d88-f105-d42a-88af-7d60de712ee4?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:36 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38CD7C552E\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:36 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-c2b144f2-0f07-095e-a864-11199ed20c6c/test-file-2c7e2d88-f105-d42a-88af-7d60de712ee4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:36 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38CD7C552E\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:36 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 21 Sep 2021 19:48:36 GMT",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 19:48:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-c2b144f2-0f07-095e-a864-11199ed20c6c/test-file-2c7e2d88-f105-d42a-88af-7d60de712ee4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D97D38CD7C552E",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:36 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38CD7C552E\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:36 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 21 Sep 2021 19:48:36 GMT",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 19:48:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "202[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-c2b144f2-0f07-095e-a864-11199ed20c6c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:37 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1049179312",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}