{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-7905655b-65d0-00f6-318c-a2d1560d2a3c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Feb 2021 21:29:58 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C1B14D4BC7\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:29:59 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-7905655b-65d0-00f6-318c-a2d1560d2a3c/test-file-c1f9c7d6-a330-6169-4c06-9dd0e4e1bf5c?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 02 Feb 2021 21:29:58 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C1B18CA15C\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:29:59 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-7905655b-65d0-00f6-318c-a2d1560d2a3c/test-file-c1f9c7d6-a330-6169-4c06-9dd0e4e1bf5c?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Tue, 02 Feb 2021 21:29:58 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": [
        "\uFFFD\uFFFD(\uFFFD\uFFFD4\uFFFDr\uFFFD_\uFFFD3\uFFFD\u000F\u0012\uFFFD\uFFFD[\uFFFD\uFFFD\uFFFD\uFFFD-\uFFFD\uFFFD#\uFFFD\u0016\u0502\uFFFD\uFFFDf\uFFFD\uFFFD,t\u000E^\u0017{\uFFFD\uFFFD\uFFFD\uFFFD\u0513\uFFFD\u001A\u007F\u002B\uFFFD\uFFFD\u003C\u0019\u0026\uFFFD:\uFFFD\uFFFDs\u029Ea\uFFFD\uFFFD\uFFFD*\u0010\uFFFD \uFFFD\uFFFDn~F\u003E}1\u0002[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-7905655b-65d0-00f6-318c-a2d1560d2a3c/test-file-c1f9c7d6-a330-6169-4c06-9dd0e4e1bf5c?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:29:58 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C1B1A8DBC5\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:29:59 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-7905655b-65d0-00f6-318c-a2d1560d2a3c/test-file-c1f9c7d6-a330-6169-4c06-9dd0e4e1bf5c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:29:59 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7C1B1A8DBC5\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:29:59 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Feb 2021 21:29:59 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-7905655b-65d0-00f6-318c-a2d1560d2a3c/test-file-c1f9c7d6-a330-6169-4c06-9dd0e4e1bf5c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:29:59 GMT",
        "x-ms-range": "bytes=0-156",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-156/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7C1B1A8DBC5\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:29:59 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Feb 2021 21:29:59 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "6MEoq\u002Bg04XLkX5Ezwg8SldJbhfnwwi3t1yPBFtSCm6RmmP4sdA5eF3uqg6\u002B71JPZGn8rsL08GSaTOtTEc8qeYcPszCoQ5iDE/G5\u002BRj59MQKQ6PxUV\u002BvnKX7YmDk5maSwCyHszghpyDReZrNPvtPnFgnRNIrOSQrYBaOrOE3nimPJzTodkWP6Jx/H9vA3mGqr8IIvaGUZ4cIWE8lkvQ=="
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-7905655b-65d0-00f6-318c-a2d1560d2a3c/test-file-c1f9c7d6-a330-6169-4c06-9dd0e4e1bf5c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8C7C1B1A8DBC5",
        "x-ms-date": "Tue, 02 Feb 2021 21:29:59 GMT",
        "x-ms-range": "bytes=157-313",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 157-313/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7C1B1A8DBC5\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:29:59 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Feb 2021 21:29:59 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "j\u002BZ23FCF8ZjKhKXXDWsHUxqgbTj/SMu4Iv2w63cGfZqVaZDgfxTnEnkSJv2JkFeu2m/8clssvUcbvrlS1QUgwwYLQaTaJtMFuVq\u002B7CLOLpGmARAICQs\u002BaKtJxcBblT1z8mL2fk\u002Bz07Sb9rkBbdEkTJAnrNP0GLn7zdj5kWATqiQcS/rA2LBC8y5cbBNRPPvaJHgwM\u002Bhpftmo\u002BrB2ug=="
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-7905655b-65d0-00f6-318c-a2d1560d2a3c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:29:59 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1867845850",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}