{
  "Entries": [
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-e7f7490b-04bc-54f1-fc8a-08558ef9c5ed?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 18:01:35 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F3A854486E\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:01:36 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-e7f7490b-04bc-54f1-fc8a-08558ef9c5ed/test-file-fced3a9b-dd53-b3ff-9fa2-cc2de54b3580?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 20 Oct 2021 18:01:36 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F3A88D2C4A\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:01:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-e7f7490b-04bc-54f1-fc8a-08558ef9c5ed/test-file-fced3a9b-dd53-b3ff-9fa2-cc2de54b3580?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 20 Oct 2021 18:01:36 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "lm2TTeyjDJ\u002BtLlx/MGCLrIBigqBiHMVGDLUOFVgaOlT6\u002B/pbu7y5LuH4\u002BvpxOlZwPGcBK7SidnmoTUE3lPdGk/QHhTRlL/DDqVO\u002BaSLL1dFfntnxGQ6gWIWAs257gZrqsWcFabUhCgx2PYJg4w1X3Hhv1/YeVXnlZy2v5HuBRye51Le7xWscPZPMetuMP3R4Kdb2DKqkzFvtIAKIciWR9PZapw9VmxcNU5piUdqeWCe4Nrulizt9FQdbzqVolMptO4blMphlIo2/6bkPQnqBTsfazztq62m63JIH\u002Bc1ypL/P9BZUuCaOUxQt5qGBbdON2n/d[...]
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-e7f7490b-04bc-54f1-fc8a-08558ef9c5ed/test-file-fced3a9b-dd53-b3ff-9fa2-cc2de54b3580?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 18:01:36 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F3A8A66DCF\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:01:36 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-e7f7490b-04bc-54f1-fc8a-08558ef9c5ed/test-file-fced3a9b-dd53-b3ff-9fa2-cc2de54b3580",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 18:01:36 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F3A8A66DCF\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:01:36 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 18:01:36 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-e7f7490b-04bc-54f1-fc8a-08558ef9c5ed/test-file-fced3a9b-dd53-b3ff-9fa2-cc2de54b3580",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D993F3A8A66DCF\u0022",
        "x-ms-date": "Wed, 20 Oct 2021 18:01:36 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F3A8A66DCF\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:01:36 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 18:01:36 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": "lm2TTeyjDJ\u002BtLlx/MGCLrIBigqBiHMVGDLUOFVgaOlT6\u002B/pbu7y5LuH4\u002BvpxOlZwPGcBK7SidnmoTUE3lPdGk/QHhTRlL/DDqVO\u002BaSLL1dFfntnxGQ6gWIWAs257gZrqsWcFabUhCgx2PYJg4w1X3Hhv1/YeVXnlZy2v5HuBRyc="
    },
[...]
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-e7f7490b-04bc-54f1-fc8a-08558ef9c5ed?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 18:01:37 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1874862463",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary\nU2FuaXRpemVk\nhttps://amandaadlscanary.blob.core.windows.net\nhttps://amandaadlscanary.file.core.windows.net\nhttps://amandaadlscanary.queue.core.windows.net\nhttps://amandaadlscanary.table.core.windows.net\n\n\n\n\nhttps://amandaadlscanary-secondary.blob.core.windows.net\nhttps://amandaadlscanary-secondary.file.core.windows.net\nhttps://amandaadlscanary-secondary.queue.core.windows.net\n\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://amandaadlscanary.blob.core.windows.net/;QueueEndpoint=https://amandaadlscanary.queue.core.windows.net/;FileEndpoint=https://amandaadlscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandaadlscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandaadlscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandaadlscanary-secondary.file.core.windows.net/;AccountName=amandaadlscanary;AccountKey=Sanitized\n\n\n"
  }
}