{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-8d2661e7-6f7c-b72e-48fb-2fbff9b3d103?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 22:27:40 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3933CED0A6B\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:27:40 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-8d2661e7-6f7c-b72e-48fb-2fbff9b3d103/test-file-e836edea-204c-82e6-e06b-887c3a605b83",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:27:41 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-8d2661e7-6f7c-b72e-48fb-2fbff9b3d103/test-file-e836edea-204c-82e6-e06b-887c3a605b83?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:27:41 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3933D36BF8C\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:27:41 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-8d2661e7-6f7c-b72e-48fb-2fbff9b3d103/test-file-e836edea-204c-82e6-e06b-887c3a605b83?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:27:41 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "ce64D1p3weTHDPSeixqaAbFJ426OofTmBNZ51hyCFqm3VfUySz\u002BPcixSID8sR/fF0IfL8Xzt9dD50guE/evIRfZL5zYlaLVyunFCPIC0ur3etAWUtyUtymAkOHkzC3RAidtJ4V/AoGjRWTYKq7hQRBdOpUnlM47QHR3WAC88Pq78AbOla9hdHhSdw17uIh6n1PRh5WYrW1VMeMNC6p84lBuIDqoFqtk/8Yc1SHAw4vv\u002BLiw72lhI0aZdWPIVGjN0ZC5DZhN0oSkbIvTe9RLlHJbHRLtz/bnCPz0DqFLmKdZTwONB7HzniYwCH7hkaduTdztcTdZ4AWd0gCbWcPnXNfgdizQupDAZ4LoucN4BXtZhbzAWidwA2798zGxWERmTKuq/Rt6nZdMLQ20bSZGJcyFPdQDJwKscHK91stfDw8\u002Bhm0XzQRj3ugpdC0Zu5JIt81lKBpwYyWo\u002BoykuMbP7R3\u002Beeq1LlTEJV7r2a7VkrTcdR75\u002BebwyidHbtJ7uyYhXYcTG0Grl4l4nQK7hIV612vXxEOn0fM7Da/Hbb\u002BCTG44yngnxnd3NOGVgVzgOUWdzJtqo/LieY\u002BX1A2V4CXN9kyQgroNUwzwYJNiEkySVtRmJZ0gG6x/Vkzsk\u002B5p3VC7x4sQU7qLkH2KdkNjgGc/AYE5L7qIqd6cFShtHL8iioM8=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-8d2661e7-6f7c-b72e-48fb-2fbff9b3d103/test-file-e836edea-204c-82e6-e06b-887c3a605b83?action=flush\u0026position=512",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D8D3933D36BF8C\u0022",
        "x-ms-date": "Wed, 17 Feb 2021 22:27:41 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3933D53936D\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:27:41 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-8d2661e7-6f7c-b72e-48fb-2fbff9b3d103/test-file-e836edea-204c-82e6-e06b-887c3a605b83",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:27:41 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D3933D6F6822\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:27:41 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 22:27:41 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "ce64D1p3weTHDPSeixqaAbFJ426OofTmBNZ51hyCFqm3VfUySz\u002BPcixSID8sR/fF0IfL8Xzt9dD50guE/evIRfZL5zYlaLVyunFCPIC0ur3etAWUtyUtymAkOHkzC3RAidtJ4V/AoGjRWTYKq7hQRBdOpUnlM47QHR3WAC88Pq78AbOla9hdHhSdw17uIh6n1PRh5WYrW1VMeMNC6p84lBuIDqoFqtk/8Yc1SHAw4vv\u002BLiw72lhI0aZdWPIVGjN0ZC5DZhN0oSkbIvTe9RLlHJbHRLtz/bnCPz0DqFLmKdZTwONB7HzniYwCH7hkaduTdztcTdZ4AWd0gCbWcPnXNfgdizQupDAZ4LoucN4BXtZhbzAWidwA2798zGxWERmTKuq/Rt6nZdMLQ20bSZGJcyFPdQDJ[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-8d2661e7-6f7c-b72e-48fb-2fbff9b3d103?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:27:41 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "686873432",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}