{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-75d87b30-995c-1a9c-6336-0fc32d5facef?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 03 Feb 2021 02:10:03 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7E8D2531299\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:10:04 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-75d87b30-995c-1a9c-6336-0fc32d5facef/test-file-3f94274b-0e41-75e0-9af6-20a0a2a8ad94?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 03 Feb 2021 02:10:04 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7E8D2902BA7\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:10:05 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-75d87b30-995c-1a9c-6336-0fc32d5facef/test-file-3f94274b-0e41-75e0-9af6-20a0a2a8ad94?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Wed, 03 Feb 2021 02:10:04 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": [
        "{v\u0018I\u0026\r",
        "\uFFFD\u0060\uFFFD\uFFFD\u0000\uFFFDD\u0456d\uFFFD\u0022\\\uFFFD\u0004\u0010\uFFFD:\uFFFD\uFFFD\uFFFD{\uFFFD\u024A\u007F\uFFFD^zW\uFFFD\uFFFD\u0026h\\\uFFFD\uFFFDf9\uFFFD\u0004\uFFFD\b\uFFFD2\u067D\uFFFDr\u0007u\uFFFD\u0011=\uFFFD\uFFFD\uFFFD\uFFFDJ\uFFFD\u0011\uFFFDV?\uFFFD\uFFFD\uFFFD\uFFFD\t]m\u0000\u0014\uFFFD\uF[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-75d87b30-995c-1a9c-6336-0fc32d5facef/test-file-3f94274b-0e41-75e0-9af6-20a0a2a8ad94?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:10:04 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7E8D2BA5B2D\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:10:05 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-75d87b30-995c-1a9c-6336-0fc32d5facef/test-file-3f94274b-0e41-75e0-9af6-20a0a2a8ad94",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:10:04 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7E8D2BA5B2D\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:10:05 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 03 Feb 2021 02:10:05 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-75d87b30-995c-1a9c-6336-0fc32d5facef/test-file-3f94274b-0e41-75e0-9af6-20a0a2a8ad94",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:10:04 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7E8D2BA5B2D\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:10:05 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 03 Feb 2021 02:10:05 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-e[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-75d87b30-995c-1a9c-6336-0fc32d5facef?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:10:04 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1891076225",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}