{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-3e3b4a3a-148b-17d4-34cc-229888dedaa1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 22:30:45 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D393AAEE0FC0\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:30:45 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-3e3b4a3a-148b-17d4-34cc-229888dedaa1/test-file-88cbc908-ee49-3a60-e952-23fe359d4c8e?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 17 Feb 2021 22:30:45 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D393AB1E4EB6\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:30:45 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-3e3b4a3a-148b-17d4-34cc-229888dedaa1/test-file-88cbc908-ee49-3a60-e952-23fe359d4c8e?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:30:45 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "t9gnclEjgSP6umNkEkdIqwUpY24sifIsz7KNbuvNjdgki9X2YVSmEpiOVvQFKOkSen98yp6TSi7m\u002B6Oel[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-3e3b4a3a-148b-17d4-34cc-229888dedaa1/test-file-88cbc908-ee49-3a60-e952-23fe359d4c8e?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:30:45 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D393AB3697C1\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:30:45 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-3e3b4a3a-148b-17d4-34cc-229888dedaa1/test-file-88cbc908-ee49-3a60-e952-23fe359d4c8e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:30:46 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D393AB3697C1\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:30:45 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 22:30:45 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-3e3b4a3a-148b-17d4-34cc-229888dedaa1/test-file-88cbc908-ee49-3a60-e952-23fe359d4c8e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:30:46 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D393AB3697C1\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:30:45 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 22:30:45 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "t9gnclEjgSP6umNkEkdIqwUpY24sifIsz7KNbuvNjdgki9X2YVSmEpiOVvQFKOkSen98yp6TSi7m\u002B6OelRI4LSyLP4dyUkqwg1DVnTL9JqbJevRsUMM5kUGmD2axB3yGVinHeuhinyc0y0ZNvaz86dT81Rody9xpUa5FzELk/3s="
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-3e3b4a3a-148b-17d4-34cc-229888dedaa1/test-file-88cbc908-ee49-3a60-e952-23fe359d4c8e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D393AB3697C1",
        "x-ms-date": "Wed, 17 Feb 2021 22:30:46 GMT",
        "x-ms-range": "bytes=128-255",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 128-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D393AB3697C1\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:30:45 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 22:30:45 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "1E9HCDWsvmbbzTeEfOzTlKomkbQxYWmKTV4pOhzT5FDMy3luZfOzKD5uP0\u002BTV\u002B1k2rAhG1JKSXLlvLrXg4NJB\u002BjmuLFzZS\u002B3cml2wiIZ9vZxxF9rssn\u002BgoEGiKk43KS6JTdnrJ488XWBaqjo1IZQzMXEZb8j3lUf6DYvbNyGfpY="
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-3e3b4a3a-148b-17d4-34cc-229888dedaa1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:30:46 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "137856277",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}