{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-31ab145a-826b-8c89-8b05-4a5e0ebb6b1a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:17 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D5106AFC88D7\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:56:16 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-31ab145a-826b-8c89-8b05-4a5e0ebb6b1a/test-file-403deca9-2fdd-ef81-496b-e4f9871f646c?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:17 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D5106B12185F\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:56:16 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-31ab145a-826b-8c89-8b05-4a5e0ebb6b1a/test-file-403deca9-2fdd-ef81-496b-e4f9871f646c?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:17 GMT"
      },
      "RequestBody": "tkf7W10aWyzrkhOLCIaNfJ5i\u002B0HRvSYU9vAVGHBKH2xDT0y4EwuKSHG9wmFxSpFyyUFBl7VZWfgg5mVtBEK7oHKmSLg61WiS17LQFPvFo6teo04vCIe36vZTlyymHUMuAiHuywLZOPTZrr8CiEX9WkO5DmHzi5jr7l7B5j0767puohHZ19ephWpaVVnHtGGxVjzp7Q/iOnaJAtykF1K2nsMFk\u002BYzI4NrEIj2mTU\u002BJDr8EI8BUf6qjGeaUNT7BG4YpLeWwSB7fTO5fd2H66FASt6ipwbDtUzEWwd\u002BmNKvcAsZ3vV\u002Bp2IZgZNbR9QhI6DGWQb1WV1oVe5r0mYY/ORhCg3SbQ2swqJ7iCZzZ213oj[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-31ab145a-826b-8c89-8b05-4a5e0ebb6b1a/test-file-403deca9-2fdd-ef81-496b-e4f9871f646c?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:17 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D5106B2D0DE6\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:56:16 GMT",
        "x-ms-request-server-encrypted": "false",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-31ab145a-826b-8c89-8b05-4a5e0ebb6b1a/test-file-403deca9-2fdd-ef81-496b-e4f9871f646c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:17 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D5106B2D0DE6\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:56:16 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:56:16 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-31ab145a-826b-8c89-8b05-4a5e0ebb6b1a/test-file-403deca9-2fdd-ef81-496b-e4f9871f646c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:17 GMT",
        "x-ms-range": "bytes=0-127"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D5106B2D0DE6\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:56:16 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:56:16 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": "tkf7W10aWyzrkhOLCIaNfJ5i\u002B0HRvSYU9vAVGHBKH2xDT0y4EwuKSHG9wmFxSpFyyUFBl7VZWfgg5mVtBEK7oHKmSLg61WiS17LQFPvFo6teo04vCIe36vZTlyymHUMuAiHuywLZOPTZrr8CiEX9WkO5DmHzi5jr7l7B5j0767o="
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-31ab145a-826b-8c89-8b05-4a5e0ebb6b1a/test-file-403deca9-2fdd-ef81-496b-e4f9871f646c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D5106B2D0DE6",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:17 GMT",
        "x-ms-range": "bytes=128-255"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 128-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D5106B2D0DE6\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:56:16 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:56:16 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": "bqIR2dfXqYVqWlVZx7RhsVY86e0P4jp2iQLcpBdStp7DBZPmMyODaxCI9pk1PiQ6/BCPAVH\u002BqoxnmlDU\u002BwRuGKS3lsEge30zuX3dh\u002BuhQEreoqcGw7VMxFsHfpjSr3ALGd71fqdiGYGTW0fUISOgxlkG9VldaFXua9JmGPzkYQo="
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-31ab145a-826b-8c89-8b05-4a5e0ebb6b1a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1899333107",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}