{
  "Entries": [
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-55839d71-89b7-35fd-c1c9-a12c47bc57e9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 25 May 2021 00:05:55 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D91F10DE100C8E\"",
        "Last-Modified": "Tue, 25 May 2021 00:05:55 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolhnscanada.dfs.core.windows.net/test-filesystem-55839d71-89b7-35fd-c1c9-a12c47bc57e9/test-file-e6e41aff-8b7f-a860-00c9-5af95ebc1d24?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 25 May 2021 00:05:55 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D91F10DE1E6363\"",
        "Last-Modified": "Tue, 25 May 2021 00:05:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolhnscanada.dfs.core.windows.net/test-filesystem-55839d71-89b7-35fd-c1c9-a12c47bc57e9/test-file-e6e41aff-8b7f-a860-00c9-5af95ebc1d24?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 25 May 2021 00:05:55 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "w3C2SHcxHunWEqf2mjtQxAZKfzeY7ot7/pELnQkyVZkUsv90R3nfe/A5kkoCOnWRfrmO0ZR1o9XkOknmJYDfo70N4uc73H2NawRGXltAecQbeR5QpIMFng4qjwww+FVwWu+N9FiNVaI8AWaPLkV5o8GEyqthj/45CEPZEUxwXHKu1gRss4RsjSN8E6MddXDJsOtKqy6qDsvwU+wUtENVy6T04FdADe89GDyH5XtbHJLTD2FgJbFEBMg5e2CYV9nfJkj+KZUYiKP7DZLxIihPlDZZQaXi9KXzsNyPB5GPpMFjp74zXPP9uoa+ZRceUuKf6uYpPhU0/TGiC3m5iYERbGnRjnppG[...]
    {
      "RequestUri": "http://kasobolhnscanada.dfs.core.windows.net/test-filesystem-55839d71-89b7-35fd-c1c9-a12c47bc57e9/test-file-e6e41aff-8b7f-a860-00c9-5af95ebc1d24?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 May 2021 00:05:55 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D91F10DE39BA57\"",
        "Last-Modified": "Tue, 25 May 2021 00:05:55 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-55839d71-89b7-35fd-c1c9-a12c47bc57e9/test-file-e6e41aff-8b7f-a860-00c9-5af95ebc1d24",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 May 2021 00:05:56 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D91F10DE39BA57\"",
        "Last-Modified": "Tue, 25 May 2021 00:05:55 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 25 May 2021 00:05:55 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-55839d71-89b7-35fd-c1c9-a12c47bc57e9/test-file-e6e41aff-8b7f-a860-00c9-5af95ebc1d24",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D91F10DE39BA57",
        "x-ms-date": "Tue, 25 May 2021 00:05:56 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D91F10DE39BA57\"",
        "Last-Modified": "Tue, 25 May 2021 00:05:55 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 25 May 2021 00:05:55 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "w3C2SHcxHunWEqf2mjtQxAZKfzeY7ot7/pELnQkyVZkUsv90R3nfe/A5kkoCOnWRfrmO0ZR1o9XkOknmJYDfo70N4uc73H2NawRGXltAecQbeR5QpIMFng4qjwww+FVwWu+N9FiNVaI8AWaPLkV5o8GEyqthj/45CEPZEUxwXHI="
    },
[...]
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-55839d71-89b7-35fd-c1c9-a12c47bc57e9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 May 2021 00:05:56 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "193339698",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nkasobolhnscanada\nU2FuaXRpemVk\nhttp://kasobolhnscanada.blob.core.windows.net\nhttp://kasobolhnscanada.file.core.windows.net\nhttp://kasobolhnscanada.queue.core.windows.net\nhttp://kasobolhnscanada.table.core.windows.net\n\n\n\n\nhttp://kasobolhnscanada-secondary.blob.core.windows.net\nhttp://kasobolhnscanada-secondary.file.core.windows.net\nhttp://kasobolhnscanada-secondary.queue.core.windows.net\nhttp://kasobolhnscanada-secondary.table.core.windows.net\nc6b5fe1a-9b59-4975-92c4-d9f728c3c371\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://kasobolhnscanada.blob.core.windows.net/;QueueEndpoint=http://kasobolhnscanada.queue.core.windows.net/;FileEndpoint=http://kasobolhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=http://kasobolhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://kasobolhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://kasobolhnscanada-secondary.file.core.windows.net/;AccountName=kasobolhnscanada;AccountKey=Sanitized\n\n\n"
  }
}