{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-84d7a969-fe46-aae4-cac9-a3c5f8d2568f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:40 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38CFF59B0B\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:41 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-84d7a969-fe46-aae4-cac9-a3c5f8d2568f/test-file-de27f783-587b-68dc-d6cf-740f00685f53?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:41 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38CFFEF941\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-84d7a969-fe46-aae4-cac9-a3c5f8d2568f/test-file-de27f783-587b-68dc-d6cf-740f00685f53?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:41 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "EwCN9ALCV6e5uGD1leeO3rdgTJ5huH2gaSgfyIyyVMuVR\u002BkbXh5AtgHI41k\u002BlXiTYFeFagsdwFqC7Yrao44bB2SVX03\u002Bcn\u002BZIJWcmdQkYtOvjGg1LOm/eIaPmHGTZRJzrdz0qDYqlO3X7El2gCaFXYq2Khcl5dp61ufGb9oOBbqCKez3L7qdhfd7XUCgSfdfCTrm3Dv7TccCetJPYyUSyOaO81c6jS3QGaQgqoiZ2YzvZ2WfKCl/h9wk9bXnTiLRaZVZElWgJXsMFcOW2qI/aKBFX/y/c5\u002B9D2t6FZh46MqCTkDyQMc2T0HqkhJl6Kw55Y0U[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-84d7a969-fe46-aae4-cac9-a3c5f8d2568f/test-file-de27f783-587b-68dc-d6cf-740f00685f53?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:41 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38D018E61E\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:41 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-84d7a969-fe46-aae4-cac9-a3c5f8d2568f/test-file-de27f783-587b-68dc-d6cf-740f00685f53",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:41 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38D018E61E\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:41 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 21 Sep 2021 19:48:41 GMT",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 19:48:41 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-84d7a969-fe46-aae4-cac9-a3c5f8d2568f/test-file-de27f783-587b-68dc-d6cf-740f00685f53",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D97D38D018E61E",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:41 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38D018E61E\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:41 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 21 Sep 2021 19:48:41 GMT",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 19:48:41 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "EwCN9ALCV6e5uGD1leeO3rdgTJ5huH2gaSgfyIyyVMuVR\u002BkbXh5AtgHI41k\u002BlXiTYFeFagsdwFqC7Yrao44bB2SVX03\u002Bcn\u002BZIJWcmdQkYtOvjGg1LOm/eIaPmHGTZRJzrdz0qDYqlO3X7El2gCaFXYq2Khcl5dp61ufGb9oOBbo="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-84d7a969-fe46-aae4-cac9-a3c5f8d2568f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:41 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1916925474",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}