{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-fefd63f0-55e2-c617-ef58-8814de618fb3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:31 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38CA4F7C8A\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:31 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-fefd63f0-55e2-c617-ef58-8814de618fb3/test-file-d57960c7-96dd-61ec-0f97-ee36d21ce057?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:31 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38CA58A678\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:31 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-fefd63f0-55e2-c617-ef58-8814de618fb3/test-file-d57960c7-96dd-61ec-0f97-ee36d21ce057?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:31 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "z5Oo\u002BCMkxB8BPE0EVFf9aMla3i339YX6/ag5c1Y9ixv9KfA23pUKEe1KmPLZ3S\u002B6dxJa2raz39oOrvt76lHJxLEyBipnxok0UMxArF2TIB94f/xE4rFkSkoWKC\u002BajiacgNNAp9cEU7CIJonpczJ8e47bA2tUheIAzbvgUJ5ZmcKmoyuJUnhIdCtLu7sne9YXma2hv4u6R/vwQNobIwIRL43HQ88H8ygVko5ACckn2FHkybfxt9k261wvmRKeLVAoOYwtXzcHD6aEjC38ej0yyWeINlpLIHe0kFhy11oWd2Q9F889\u002BXga3bkQbSusOnAf/c\u002Bq[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-fefd63f0-55e2-c617-ef58-8814de618fb3/test-file-d57960c7-96dd-61ec-0f97-ee36d21ce057?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:31 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38CA729358\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:31 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-fefd63f0-55e2-c617-ef58-8814de618fb3/test-file-d57960c7-96dd-61ec-0f97-ee36d21ce057",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:31 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38CA729358\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:31 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 21 Sep 2021 19:48:31 GMT",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 19:48:31 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-fefd63f0-55e2-c617-ef58-8814de618fb3/test-file-d57960c7-96dd-61ec-0f97-ee36d21ce057",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D97D38CA729358",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:31 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38CA729358\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:31 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 21 Sep 2021 19:48:31 GMT",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 19:48:31 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "z5Oo\u002BCMkxB8BPE0EVFf9aMla3i339YX6/ag5c1Y9ixv9KfA23pUKEe1KmPLZ3S\u002B6dxJa2raz39oOrvt76lHJxLEyBipnxok0UMxArF2TIB94f/xE4rFkSkoWKC\u002BajiacgNNAp9cEU7CIJonpczJ8e47bA2tUheIAzbvgUJ5ZmcI="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-fefd63f0-55e2-c617-ef58-8814de618fb3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:32 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "26748626",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}