{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-e4ef1ba0-7711-26f0-98a9-c3d8e06326ed?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 22:23:50 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D392B3E712BC\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:23:50 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-e4ef1ba0-7711-26f0-98a9-c3d8e06326ed/test-file-c59c7745-2d5d-4c08-b0bd-4e7925b904a6?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 17 Feb 2021 22:23:51 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D392B41EA1AA\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:23:51 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-e4ef1ba0-7711-26f0-98a9-c3d8e06326ed/test-file-c59c7745-2d5d-4c08-b0bd-4e7925b904a6?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:23:51 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "6eGRN8GZV67ZK5XQliuD2uF9ZaSBRDbN8nEx/8uJT9nj7dvCLJGE2OQzCIrJyFY9/0vW9xC5cqWqxEVPaFfjT9[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-e4ef1ba0-7711-26f0-98a9-c3d8e06326ed/test-file-c59c7745-2d5d-4c08-b0bd-4e7925b904a6?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:23:51 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D392B43C668F\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:23:51 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-e4ef1ba0-7711-26f0-98a9-c3d8e06326ed/test-file-c59c7745-2d5d-4c08-b0bd-4e7925b904a6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:23:51 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D392B43C668F\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:23:51 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 22:23:51 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-e4ef1ba0-7711-26f0-98a9-c3d8e06326ed/test-file-c59c7745-2d5d-4c08-b0bd-4e7925b904a6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:23:51 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D392B43C668F\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:23:51 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 22:23:51 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "6eGRN8GZV67ZK5XQliuD2uF9ZaSBRDbN8nEx/8uJT9nj7dvCLJGE2OQzCIrJyFY9/0vW9xC5cqWqxEVPaFfjT9y77KhQwa1Q\u002BIy/TTysAykb9AB/s1fIKXo2F2hMNHCMULitDtut7D6ehv6D\u002BSVo/cEbNHNXY5yE8sMtGqlEBMQ="
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-e4ef1ba0-7711-26f0-98a9-c3d8e06326ed/test-file-c59c7745-2d5d-4c08-b0bd-4e7925b904a6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D392B43C668F",
        "x-ms-date": "Wed, 17 Feb 2021 22:23:51 GMT",
        "x-ms-range": "bytes=128-255",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 128-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D392B43C668F\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:23:51 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 22:23:51 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "GzP8g//1TW4IweAtWUUvVc0apzAA/TTsHCgbGH/RlVmBOmfGKOX\u002By87Ga5aCbiutk9dNjp3Twx7\u002BEGbW2TXuNiyGqx/daC3nHNtiOZKeaa39bYSngwa8rXZJyBh\u002BJ/GZ2DRq/MMLzyqqZXLBcYqMYKa52WywRrIlyv2plKAUafQ="
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-e4ef1ba0-7711-26f0-98a9-c3d8e06326ed?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:23:52 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1720201709",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}