{
  "Entries": [
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-8edff7ff-3535-1931-eab3-fa9b4ff6ce27?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 27 Jul 2020 21:32:26 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D832748EB2BF92\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 21:32:26 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-8edff7ff-3535-1931-eab3-fa9b4ff6ce27/test-file-cd326c09-ef7c-fd11-b2d8-36727f240e58?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Mon, 27 Jul 2020 21:32:27 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D832748F715C3E\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 21:32:27 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-8edff7ff-3535-1931-eab3-fa9b4ff6ce27/test-file-cd326c09-ef7c-fd11-b2d8-36727f240e58?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 21:32:27 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "F8AJGiZDKkbIm0FNEzMvqNTAA55fzr2jI9HYJHU/vZyIlfsXptTPxULsBeCtxOp/qY6dviFv\u002BUg[...]
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-8edff7ff-3535-1931-eab3-fa9b4ff6ce27/test-file-cd326c09-ef7c-fd11-b2d8-36727f240e58?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 21:32:27 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D832748F82FB83\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 21:32:27 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-8edff7ff-3535-1931-eab3-fa9b4ff6ce27/test-file-cd326c09-ef7c-fd11-b2d8-36727f240e58",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 21:32:28 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D832748F9D35BC\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 21:32:27 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 27 Jul 2020 21:32:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "l5TrdqRMfuhM8tToXgs1ogoLiRZvNYNUFGocDAc98eFpS6hjskznh8LYuk6ksW4S2ULzCBrB5mERlmE6L3LgDwDyfxJi0vC\u002BIwJTlno1sGL7CjLESenGp2RGUhvqrVdQ96tNsTFcrwZSNOQYblDn3Ob\u002BPiU/HMUXLNetG4DU1HWrAp7P5/8xn1sscRUErjkUX3U1628xEdvmNYRZrpOGfl9vbWuxF/TmzZ7KE6uvEn6dmLsKnukFefDD6bF61/HHpfO1lUHNYkiBTx3RZ/4wNiMGuxXYfN92afN77i5Ca/WtA223\u002Bn090DZziU/LNBHyk7KOdBvb7ikTPytNUnQZPuMnI2SQeDymyevfZPKPqjXhiFt7tPfa0hRDpLpR733BWkprpBCtYRp26Kov\u002B4[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-8edff7ff-3535-1931-eab3-fa9b4ff6ce27?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 21:32:29 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "35177039",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttps://seannsecanary.blob.core.windows.net\nhttps://seannsecanary.file.core.windows.net\nhttps://seannsecanary.queue.core.windows.net\nhttps://seannsecanary.table.core.windows.net\n\n\n\n\nhttps://seannsecanary-secondary.blob.core.windows.net\nhttps://seannsecanary-secondary.file.core.windows.net\nhttps://seannsecanary-secondary.queue.core.windows.net\nhttps://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannsecanary.blob.core.windows.net/;QueueEndpoint=https://seannsecanary.queue.core.windows.net/;FileEndpoint=https://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}