{
  "Entries": [
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-1167dfbf-d7c9-93ac-e12b-865660dba91e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 18:00:26 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F37ECB469F\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:00:26 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-1167dfbf-d7c9-93ac-e12b-865660dba91e/test-file-c4ff63c1-cd2a-dd24-f60c-1ebdcaf6f5ea?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 20 Oct 2021 18:00:26 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F37F019ADC\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:00:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-1167dfbf-d7c9-93ac-e12b-865660dba91e/test-file-c4ff63c1-cd2a-dd24-f60c-1ebdcaf6f5ea?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 20 Oct 2021 18:00:26 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "xYMgnvqMKmCvpoxFJ3ANY1UK0oXGbFiDiX0ejsPC8NxM83YDXTeB97C1jR/syG8RmjgYxtWx9lkqnRR8bpud7bWv\u002BDT6CgUeidrVEN45l8AODPSKqSoGmv0d2L8iBIkUF6BpPNA6FpAy\u002Bj373OV68QZUbmGnEkOLqV033DFF\u002B4RQwPk\u002Bz1rw1PZkWK/tCr4Xo\u002Be5zpYnbARd3pNyAzle7P\u002B4qhvsOyGsY5prQ7qUnZ6eHzlKjCzuKVP04fDGfdG8BWyvNV\u002BjK2fFDWr8uylKyEH10\u002BP/FF/SyYHH91ow5ebIrz1O5Gg\u[...]
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-1167dfbf-d7c9-93ac-e12b-865660dba91e/test-file-c4ff63c1-cd2a-dd24-f60c-1ebdcaf6f5ea?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 18:00:26 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F37F1ACD89\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:00:26 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-1167dfbf-d7c9-93ac-e12b-865660dba91e/test-file-c4ff63c1-cd2a-dd24-f60c-1ebdcaf6f5ea",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 18:00:26 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F37F1ACD89\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:00:26 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 18:00:26 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-1167dfbf-d7c9-93ac-e12b-865660dba91e/test-file-c4ff63c1-cd2a-dd24-f60c-1ebdcaf6f5ea",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D993F37F1ACD89\u0022",
        "x-ms-date": "Wed, 20 Oct 2021 18:00:26 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F37F1ACD89\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:00:26 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 18:00:26 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": "xYMgnvqMKmCvpoxFJ3ANY1UK0oXGbFiDiX0ejsPC8NxM83YDXTeB97C1jR/syG8RmjgYxtWx9lkqnRR8bpud7bWv\u002BDT6CgUeidrVEN45l8AODPSKqSoGmv0d2L8iBIkUF6BpPNA6FpAy\u002Bj373OV68QZUbmGnEkOLqV033DFF\u002B4Q="
    },
[...]
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-1167dfbf-d7c9-93ac-e12b-865660dba91e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 18:00:27 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1377723525",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary\nU2FuaXRpemVk\nhttps://amandaadlscanary.blob.core.windows.net\nhttps://amandaadlscanary.file.core.windows.net\nhttps://amandaadlscanary.queue.core.windows.net\nhttps://amandaadlscanary.table.core.windows.net\n\n\n\n\nhttps://amandaadlscanary-secondary.blob.core.windows.net\nhttps://amandaadlscanary-secondary.file.core.windows.net\nhttps://amandaadlscanary-secondary.queue.core.windows.net\n\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://amandaadlscanary.blob.core.windows.net/;QueueEndpoint=https://amandaadlscanary.queue.core.windows.net/;FileEndpoint=https://amandaadlscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandaadlscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandaadlscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandaadlscanary-secondary.file.core.windows.net/;AccountName=amandaadlscanary;AccountKey=Sanitized\n\n\n"
  }
}