{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-45f0b3b9-783f-dbfd-fb39-ea23ad0738e1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 03 Feb 2021 02:11:12 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7E8FB6C4737\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:11:13 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-45f0b3b9-783f-dbfd-fb39-ea23ad0738e1/test-file-b8a3eb79-f6ea-e5eb-894a-dfa180c5535f?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 03 Feb 2021 02:11:12 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7E8FBA868E0\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:11:14 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-45f0b3b9-783f-dbfd-fb39-ea23ad0738e1/test-file-b8a3eb79-f6ea-e5eb-894a-dfa180c5535f?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Wed, 03 Feb 2021 02:11:13 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": [
        "\t\uFFFD\uFFFDxeA\uFFFD\u001BUjy\uFFFD?\u0016\uFFFD\uFFFD\uFFFD\u0019\u0007\uFFFD:Q#\u001C\uFFFD6|\u002B\u001Cl\uFFFDw\uFFFD\u0761@9j\uFFFD\u0060\uFFFD\uFFFDS\u0004\u0012\uFFFD$:z\uFFFD\uFFFD:\uFFFDA\uFFFD~\uFFFD\uFFFD\uFFFD\n",
        ")\uFFFD8\uFFFD\uFFFD\u001F\uFFFD9\uFFFD\uFFFDM\uFFFD,F\uFFFD\uFFFD\uFFFD\u0018\uFFFD\uFFFD\u0012A\uFFFDbmN\uF[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-45f0b3b9-783f-dbfd-fb39-ea23ad0738e1/test-file-b8a3eb79-f6ea-e5eb-894a-dfa180c5535f?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:11:13 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7E8FBD5F271\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:11:14 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-45f0b3b9-783f-dbfd-fb39-ea23ad0738e1/test-file-b8a3eb79-f6ea-e5eb-894a-dfa180c5535f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:11:13 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7E8FBD5F271\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:11:14 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 03 Feb 2021 02:11:14 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-45f0b3b9-783f-dbfd-fb39-ea23ad0738e1/test-file-b8a3eb79-f6ea-e5eb-894a-dfa180c5535f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:11:13 GMT",
        "x-ms-range": "bytes=0-255",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7E8FBD5F271\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:11:14 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 03 Feb 2021 02:11:14 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "CaLCeGVBphtVanmWPxaX\u002BIcZB6Y6USMc5og2fCscbIl3vN2hQDlq22CxklMEEr0kOnq6/zqLQbh\u002BppHdCinwOP3wH4M59bdNryxGib7QGNTLEkGwYm1O63skI5qojdA2wVpVFPI66kXCbE8ORbj6ro68EfjnP9WPoTMHFNIdpSJbD8dkegPhkSf77vYdP6bDKnQM63vXToGFxnK/MtZzpcctsjXwlTOK24DR61HecmGNROpdELmnhMBG37SRIl5RiEgv741w05RBgRD6BmMwplMRMe7rFpQNhi51qbZ\u002B\u002Bbkif2MIr4LUHHBVG46prH1dFThhf/BwZXG0IWle\u002Bindww=="
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-5f01e784-a08f-b810-cbf1-98175afbe505/test-file-d53c23c9-9400-b92b-5bb5-7072bc2ba481",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 02 Feb 2021 02:11:12 GMT",
        "x-ms-date": "Wed, 03 Feb 2021 02:11:15 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7E8FCC5E05C\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:11:16 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 03 Feb 2021 02:11:15 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-d818586d-9bc7-33fd-bd5a-a268f4f0c6cd/test-file-d5df5a5e-e5c5-44c3-1b70-41d0c9d7b7d2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 04 Feb 2021 02:11:12 GMT",
        "x-ms-date": "Wed, 03 Feb 2021 02:11:16 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7E8FDB9C832\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:11:17 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 03 Feb 2021 02:11:17 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-d8b92942-949e-3979-8a0c-20dd7b7d867e/test-file-c7234240-e0ef-48e2-ccf1-f99383c61d3a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D8C7E8FEA34E55\u0022",
        "x-ms-date": "Wed, 03 Feb 2021 02:11:18 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7E8FEA34E55\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:11:19 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 03 Feb 2021 02:11:18 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-14d2ea5c-1d2a-3466-da74-ad63ae97e1c8/test-file-8d0566b0-425a-b322-5a11-9bced65cb7b6?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:11:21 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "2d13b425-c09a-ec06-22cf-142e5aa59b02",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7E900A9C71E\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:11:22 GMT",
        "x-ms-lease-id": "2d13b425-c09a-ec06-22cf-142e5aa59b02",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-14d2ea5c-1d2a-3466-da74-ad63ae97e1c8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:11:22 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-02T20:11:12.5919270-06:00",
    "RandomSeed": "411685877",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}