{
  "Entries": [
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-85a5f6ac-981e-241d-d73d-2f90ac4f35c7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 25 May 2021 00:06:21 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D91F10ED881394\"",
        "Last-Modified": "Tue, 25 May 2021 00:06:21 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolhnscanada.dfs.core.windows.net/test-filesystem-85a5f6ac-981e-241d-d73d-2f90ac4f35c7/test-file-02c681ad-6e4e-6dc9-80d9-ee1b1c193fa9?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 25 May 2021 00:06:21 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D91F10ED974CD9\"",
        "Last-Modified": "Tue, 25 May 2021 00:06:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolhnscanada.dfs.core.windows.net/test-filesystem-85a5f6ac-981e-241d-d73d-2f90ac4f35c7/test-file-02c681ad-6e4e-6dc9-80d9-ee1b1c193fa9?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 25 May 2021 00:06:21 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "ef8Rz5PuMmgmTiUfYE3n2TkyVWNnwOEQFE7Gu1acDibMNa7krfu2v09d3ABIqQ0z8hXh6sTcQbkeAbtFJ3YSiUD/UyqeAys+fJYUCeThx2pBk8lBuyRi8PT1xaxAcJfYS1PASFbilO7po20tyDfVPDlQA5St0c0bnWM1qT1//gv+O76RIX8UXv7aVxe2NCe9IIlz720DK3mFpKvzreuwaaViL4x4Qxu5O6SV0nm2ZWk7eIi0DA6e+xBFDH3TIbETKu5yVAWaRNxuubTIbVj/zj5CtzVi/FyWwzN8Mzed5hnzgqiLQxFjoTOrRlNZ1Y63RT0+kWp7sC2R25DRHRGl0NKa1Oqwd[...]
    {
      "RequestUri": "http://kasobolhnscanada.dfs.core.windows.net/test-filesystem-85a5f6ac-981e-241d-d73d-2f90ac4f35c7/test-file-02c681ad-6e4e-6dc9-80d9-ee1b1c193fa9?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 May 2021 00:06:21 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D91F10EDB12E6F\"",
        "Last-Modified": "Tue, 25 May 2021 00:06:21 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-85a5f6ac-981e-241d-d73d-2f90ac4f35c7/test-file-02c681ad-6e4e-6dc9-80d9-ee1b1c193fa9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 May 2021 00:06:21 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D91F10EDB12E6F\"",
        "Last-Modified": "Tue, 25 May 2021 00:06:21 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 25 May 2021 00:06:21 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-85a5f6ac-981e-241d-d73d-2f90ac4f35c7/test-file-02c681ad-6e4e-6dc9-80d9-ee1b1c193fa9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D91F10EDB12E6F",
        "x-ms-date": "Tue, 25 May 2021 00:06:22 GMT",
        "x-ms-range": "bytes=512-639",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-639/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D91F10EDB12E6F\"",
        "Last-Modified": "Tue, 25 May 2021 00:06:21 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 25 May 2021 00:06:21 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "/o6TIfgQooeekvA8BLIKRQoRlfrsbg97tGuTPXY+0v47brj4hpsTSEg8QHAzpxSg5TzmIyCltZB+GG2MfGQRX7/xAJX5Eb5u/k2xry6fRwxW81c5WK/elrkoem4uhsvkK+CwQqd/ptR+dyTS9AVh3tFgNYkM1wcQE2rb0JdQQHc="
    },
[...]
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-85a5f6ac-981e-241d-d73d-2f90ac4f35c7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 May 2021 00:06:22 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "456847285",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nkasobolhnscanada\nU2FuaXRpemVk\nhttp://kasobolhnscanada.blob.core.windows.net\nhttp://kasobolhnscanada.file.core.windows.net\nhttp://kasobolhnscanada.queue.core.windows.net\nhttp://kasobolhnscanada.table.core.windows.net\n\n\n\n\nhttp://kasobolhnscanada-secondary.blob.core.windows.net\nhttp://kasobolhnscanada-secondary.file.core.windows.net\nhttp://kasobolhnscanada-secondary.queue.core.windows.net\nhttp://kasobolhnscanada-secondary.table.core.windows.net\nc6b5fe1a-9b59-4975-92c4-d9f728c3c371\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://kasobolhnscanada.blob.core.windows.net/;QueueEndpoint=http://kasobolhnscanada.queue.core.windows.net/;FileEndpoint=http://kasobolhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=http://kasobolhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://kasobolhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://kasobolhnscanada-secondary.file.core.windows.net/;AccountName=kasobolhnscanada;AccountKey=Sanitized\n\n\n"
  }
}