{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-62bfe324-8a0e-906a-8399-4b861a9d957d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:13:06 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A62A12934\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:13:05 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-62bfe324-8a0e-906a-8399-4b861a9d957d/test-file-d968146b-2040-28b5-968e-48dc62aafa54",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:13:06 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-62bfe324-8a0e-906a-8399-4b861a9d957d/test-file-d968146b-2040-28b5-968e-48dc62aafa54?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:13:06 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A62BCC2B6\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:13:05 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-62bfe324-8a0e-906a-8399-4b861a9d957d/test-file-d968146b-2040-28b5-968e-48dc62aafa54?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Fri, 19 Feb 2021 19:13:06 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": [
        "\uFFFD\uFFFD\u0015c\u0017n\u0016\uFFFD\uFFFD\u001D\r",
        "\uFFFD(\uFFFDz\u0026\uFFFD\uFFFDS\uFFFD\uFFFD\uFFFDCP\u0000\\\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\u007F\uFFFD\uFFFD\uFFFD*8\uFFFD\uFFFD\uFFFD\u0006#\u0013\u0015\u0000\uFFFD\u0013!9\uFFFDWy\uFFFD\u0404\uFFFDb\uFFFD\uFFFD\u003E\uFFFD\uFFFDf\r",
        "\uFFFD\uFFFD.\uFFFDHy\uFF[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-62bfe324-8a0e-906a-8399-4b861a9d957d/test-file-d968146b-2040-28b5-968e-48dc62aafa54?action=flush\u0026position=512",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D50A62BCC2B6",
        "x-ms-date": "Fri, 19 Feb 2021 19:13:06 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A62EC4FEB\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:13:05 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-62bfe324-8a0e-906a-8399-4b861a9d957d/test-file-d968146b-2040-28b5-968e-48dc62aafa54",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:13:06 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D50A630415BF\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:13:06 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:13:05 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "yMcVYxduFpfTHQ2gKNl6JqPYU4DG90NQAFyQ2Ovttv/0f6ru3io4/P7RBiMTFQC8EyE5ild5jdCExGK73T6r5WYNrKkui0h5n1aC9PAfPetb08TJtCyoevHaahnHfR\u002B/JiG8BWhXjofZv\u002BoA95jgZId3Xwl64jA6ZTK3VCEvsSI3w87PYjeDBEU88PRBqINY\u002BQWSUB0VRUPxgqA2nzlmqQ7IyDPJEAFP81vDPfE7\u002BLyuXlobnGAEIn2L3uCXTWQM1kbmeN9Pj\u002BkDQ1zBUQdStYnjh0HeSg2uxKa1PjIht6b3t2arVX/cX89xF1kDQtB1OChWs8YiLow5OLQ5mVC24ou2ypmhp2AKBydybDK0qoHVQAUKywTg1InacRzLosZ\u002BuzXNTXc3[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-62bfe324-8a0e-906a-8399-4b861a9d957d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:13:06 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "707936589",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}