{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-be5aa519-8ad0-6ff9-ccf2-ac5bbd148009?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:13:02 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A6043162F\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:13:01 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-be5aa519-8ad0-6ff9-ccf2-ac5bbd148009/test-file-0207d46c-46e2-0a11-aa5b-24c214e48bdc?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 19 Feb 2021 19:13:02 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A60547FCA\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:13:01 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-be5aa519-8ad0-6ff9-ccf2-ac5bbd148009/test-file-0207d46c-46e2-0a11-aa5b-24c214e48bdc?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Fri, 19 Feb 2021 19:13:02 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": [
        "A\uFFFDu\u0026\uFFFDg\uFFFD7\uFFFD\uFFFDf-\uFFFD[W6\u0005\u0429\u0010\uFFFD7\uFFFD\uFFFDXn\uFFFD\uFFFD\uFFFD2c\uFFFDg^\u0015\uFFFD\uFFFD\uFFFD\u0004\u0026\uFFFDXY\uFFFD\uFFFD@O\u0003\uFFFDC;{\uFFFD\uFFFDZ\u05A0Z\uFFFD\uFFFD;\uFFFDV\u0002Pb\uFFFDAI#\u0724\uFFFD\u0016U\u07BE\uFFFD\u0017\u001F\uFFFD\u000E\u0011\uFFFD(br\u02BB\u0016B\uFFFD\u000Bw\uF[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-be5aa519-8ad0-6ff9-ccf2-ac5bbd148009/test-file-0207d46c-46e2-0a11-aa5b-24c214e48bdc?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:13:02 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A606AD477\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:13:01 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-be5aa519-8ad0-6ff9-ccf2-ac5bbd148009/test-file-0207d46c-46e2-0a11-aa5b-24c214e48bdc",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:13:02 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D50A606AD477\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:13:01 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:13:01 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-be5aa519-8ad0-6ff9-ccf2-ac5bbd148009/test-file-0207d46c-46e2-0a11-aa5b-24c214e48bdc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:13:02 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D50A606AD477\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:13:01 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:13:01 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-e[...]
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-be5aa519-8ad0-6ff9-ccf2-ac5bbd148009?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:13:02 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "907595562",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}