{
  "Entries": [
    {
      "RequestUri": "http://gen1gen2domain1.blob.core.windows.net/test-filesystem-00776a3b-51f0-0029-b3b0-94407b549a3f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 03 Sep 2020 19:25:03 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8503F0ECC3D06\u0022",
        "Last-Modified": "Thu, 03 Sep 2020 19:25:03 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://gen1gen2domain1.dfs.core.windows.net/test-filesystem-00776a3b-51f0-0029-b3b0-94407b549a3f/test-file-a2bfb9cf-a78b-bf11-b7c9-240bad7d48d2?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Thu, 03 Sep 2020 19:25:17 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8503F170F892A\u0022",
        "Last-Modified": "Thu, 03 Sep 2020 19:25:17 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://gen1gen2domain1.dfs.core.windows.net/test-filesystem-00776a3b-51f0-0029-b3b0-94407b549a3f/test-file-a2bfb9cf-a78b-bf11-b7c9-240bad7d48d2?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Sep 2020 19:25:17 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "NUpnIuqy66514\u002BhGAXzLoQaG3P4g2L4xSKswia4LNBD3qACX07syHc0RLai/yr07/YIEJqBJsl[...]
    {
      "RequestUri": "http://gen1gen2domain1.dfs.core.windows.net/test-filesystem-00776a3b-51f0-0029-b3b0-94407b549a3f/test-file-a2bfb9cf-a78b-bf11-b7c9-240bad7d48d2?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Sep 2020 19:25:17 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8503F1729F6B6\u0022",
        "Last-Modified": "Thu, 03 Sep 2020 19:25:17 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://gen1gen2domain1.blob.core.windows.net/test-filesystem-00776a3b-51f0-0029-b3b0-94407b549a3f/test-file-a2bfb9cf-a78b-bf11-b7c9-240bad7d48d2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Sep 2020 19:25:17 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8503F1729F6B6\u0022",
        "Last-Modified": "Thu, 03 Sep 2020 19:25:17 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 03 Sep 2020 19:25:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://gen1gen2domain1.blob.core.windows.net/test-filesystem-00776a3b-51f0-0029-b3b0-94407b549a3f/test-file-a2bfb9cf-a78b-bf11-b7c9-240bad7d48d2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Sep 2020 19:25:17 GMT",
        "x-ms-range": "bytes=512-639",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-639/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8503F1729F6B6\u0022",
        "Last-Modified": "Thu, 03 Sep 2020 19:25:17 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 03 Sep 2020 19:25:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "vGIFiO8xiVnTwE95lA719rZuNVfHd\u002BouuEu7uGPoaMzymv7VUkJafuTovg4lwb\u002BOGBIDPfJ\u002BGkV318\u002BkddH16liDhvoQIKN0E7Zy37nbCPaMLaBQ5SrZdH\u002B5XXtytggT8tO2oTvFffhvjik7CzuMnM7YF0gxpAUtqRF6V8InAV0="
    },
    {
      "RequestUri": "http://gen1gen2domain1.blob.core.windows.net/test-filesystem-00776a3b-51f0-0029-b3b0-94407b549a3f/test-file-a2bfb9cf-a78b-bf11-b7c9-240bad7d48d2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8503F1729F6B6",
        "x-ms-date": "Thu, 03 Sep 2020 19:25:17 GMT",
        "x-ms-range": "bytes=640-767",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 640-767/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8503F1729F6B6\u0022",
        "Last-Modified": "Thu, 03 Sep 2020 19:25:17 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 03 Sep 2020 19:25:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "rl/s5SVnu8avp\u002BFWAZ5pRC3ArZmewOJOzoj4KUomNUeMy42rTqZ2Zx1QmInDrisKqDYqAXpov\u002B59nhadbpF8iXKZyTYRvfWGSkV8TSdZih9c7YEU/DPMJAyeLrCQ2fiL1A8WKeX1\u002BepBo7c17HHGJBP3QIAQaIw/zKUqco9E9XA="
    },
[...]
    {
      "RequestUri": "http://gen1gen2domain1.blob.core.windows.net/test-filesystem-00776a3b-51f0-0029-b3b0-94407b549a3f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Sep 2020 19:25:18 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1056692295",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\ngen1gen2domain1\nU2FuaXRpemVk\nhttp://gen1gen2domain1.blob.core.windows.net\nhttp://gen1gen2domain1.file.core.windows.net\nhttp://gen1gen2domain1.queue.core.windows.net\nhttp://gen1gen2domain1.table.core.windows.net\n\n\n\n\nhttp://gen1gen2domain1-secondary.blob.core.windows.net\nhttp://gen1gen2domain1-secondary.file.core.windows.net\nhttp://gen1gen2domain1-secondary.queue.core.windows.net\nhttp://gen1gen2domain1-secondary.table.core.windows.net\nc6b5fe1a-9b59-4975-92c4-d9f728c3c371\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://gen1gen2domain1.blob.core.windows.net/;QueueEndpoint=http://gen1gen2domain1.queue.core.windows.net/;FileEndpoint=http://gen1gen2domain1.file.core.windows.net/;BlobSecondaryEndpoint=http://gen1gen2domain1-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://gen1gen2domain1-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://gen1gen2domain1-secondary.file.core.windows.net/;AccountName=gen1gen2domain1;AccountKey=Sanitized\n"
  }
}