{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-93d24517-c29c-0231-09db-c77e48f96860?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:40 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38CFAC7533\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:40 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-93d24517-c29c-0231-09db-c77e48f96860/test-file-fc3984fd-4c18-9ae7-a647-65b5c31f89db?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:40 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38CFB59ED9\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:40 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-93d24517-c29c-0231-09db-c77e48f96860/test-file-fc3984fd-4c18-9ae7-a647-65b5c31f89db?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:40 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "MAvHXCixct/LKiOmR40hk1wSMo7ch2HLrOEEDj9OKdjnNnPVriKMmkc8FdS7yfAhiWXOa2SAZ6mp/LBGrWSgfAFLvxAaTOU6hphGoHGND\u002BLw44TZgL10Zs7KK7FxRezjm5jScArgBz1/lOXLOsc3HO3OVcnfx/xD1lhBTyEzyECrYgXYup/XENxHWuvYqSsHkg/Eo\u002B8jA9Scj5qxn7cbS8ukH9fCX2FO9kXtmG0Qay0tObwSbyRQiF8wPCsEJnAkKw4gM4lURTOtdq2qNWtniyNshGX7CdymVJZ4kSM1SdDVyW1e8Dij2PSIZPh3plP0ybEImKEKKSExed/y27Q[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-93d24517-c29c-0231-09db-c77e48f96860/test-file-fc3984fd-4c18-9ae7-a647-65b5c31f89db?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:40 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38CFCFD9C9\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:40 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-93d24517-c29c-0231-09db-c77e48f96860/test-file-fc3984fd-4c18-9ae7-a647-65b5c31f89db",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:40 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38CFCFD9C9\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:40 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 21 Sep 2021 19:48:40 GMT",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 19:48:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-93d24517-c29c-0231-09db-c77e48f96860/test-file-fc3984fd-4c18-9ae7-a647-65b5c31f89db",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D97D38CFCFD9C9",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:40 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38CFCFD9C9\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:40 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 21 Sep 2021 19:48:40 GMT",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 19:48:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "MAvHXCixct/LKiOmR40hk1wSMo7ch2HLrOEEDj9OKdjnNnPVriKMmkc8FdS7yfAhiWXOa2SAZ6mp/LBGrWSgfAFLvxAaTOU6hphGoHGND\u002BLw44TZgL10Zs7KK7FxRezjm5jScArgBz1/lOXLOsc3HO3OVcnfx/xD1lhBTyEzyEA="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-93d24517-c29c-0231-09db-c77e48f96860?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:41 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "459506304",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}