{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-81e532bd-ca5d-6947-673c-5e25f87fbbbc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Feb 2021 21:26:16 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C12D3C9128\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:26:17 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-81e532bd-ca5d-6947-673c-5e25f87fbbbc/test-file-853d10b3-dd46-672c-9a02-08f2a5f68824?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 02 Feb 2021 21:26:16 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C12D7EB2A9\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:26:17 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-81e532bd-ca5d-6947-673c-5e25f87fbbbc/test-file-853d10b3-dd46-672c-9a02-08f2a5f68824?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Tue, 02 Feb 2021 21:26:17 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": [
        "A\uFFFDV-\u002B\uFFFD\uFFFD\u0016\uFFFD\u0000\uFFFDm\u0015\uFFFDG\uFFFD\u0060\uFFFD1\uFFFD\u0001J\u007F?\u0000\uFFFDw\uFFFD\uFFFD\u0006\u0012A\uFFFDW-0\u0060\u0489\u02A6\uFFFDq\uFFFD\uFFFDP\u0003(\u003E\uFFFD}\uFFFD}n@\uFFFD\uFFFD\uFFFD*V\uFFFD\uFFFD\u0022\uFFFD\uFFFD\u002B\uFFFDW\u0019\uFFFDN\uFFFD7g\u001C6\uFFFD\uDA47\uDC00NI\u0003\uFFFDJ\uFFF[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-81e532bd-ca5d-6947-673c-5e25f87fbbbc/test-file-853d10b3-dd46-672c-9a02-08f2a5f68824?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:26:17 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C12D9B48E1\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:26:18 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-81e532bd-ca5d-6947-673c-5e25f87fbbbc/test-file-853d10b3-dd46-672c-9a02-08f2a5f68824",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:26:17 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7C12D9B48E1\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:26:18 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Feb 2021 21:26:17 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-81e532bd-ca5d-6947-673c-5e25f87fbbbc/test-file-853d10b3-dd46-672c-9a02-08f2a5f68824",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:26:17 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7C12D9B48E1\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:26:18 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Feb 2021 21:26:17 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "QfRWLSvb/BbuAOVtFa5H4K5gwDHDAUp/PwCEd4jMBhJBglctMGDSicqmy3GNnlADKD7Jfch9bkCp1\u002B4qVoWNIvnSK5NXGa9OjjdnHDbZ8qGwgE5JA4lKwxQXhFlypzJFGKh3unK8rA\u002BOe\u002B6RFlIJz\u002BVMetY2RB5wiGh\u002BQJRW2\u002BY="
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-81e532bd-ca5d-6947-673c-5e25f87fbbbc/test-file-853d10b3-dd46-672c-9a02-08f2a5f68824",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8C7C12D9B48E1",
        "x-ms-date": "Tue, 02 Feb 2021 21:26:17 GMT",
        "x-ms-range": "bytes=128-255",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 128-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7C12D9B48E1\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:26:18 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Feb 2021 21:26:17 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "BSEDjWE3LvPTPruImriswQ20cyUtWw7UigcxCj5sejefB4z1TnttrR6GAveJltXPu7wy3\u002BO2uakTLgNaBiS1Z8SD6ZMst3ORRsYHplkWS/MyYk\u002BBOptU6E7i4SB4E6f50ZozBa1CogNJoJgcrxJP/OMQKKPVNC0pLgBEStVTGTM="
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-81e532bd-ca5d-6947-673c-5e25f87fbbbc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:26:18 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "31289760",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}