{
  "Entries": [
    {
      "RequestUri": "https://seanmccdfsca2.blob.core.windows.net/test-filesystem-da9c261d-4cde-1726-7e05-de188fbe3a17?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 16 Jul 2020 02:54:02 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D829337FB5F9C9\u0022",
        "Last-Modified": "Thu, 16 Jul 2020 02:54:03 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccdfsca2.dfs.core.windows.net/test-filesystem-da9c261d-4cde-1726-7e05-de188fbe3a17/test-file-6f30c2a9-ccdf-b8cb-b39f-a838f22e3930?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Thu, 16 Jul 2020 02:54:02 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D829337FE2289D\u0022",
        "Last-Modified": "Thu, 16 Jul 2020 02:54:03 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccdfsca2.dfs.core.windows.net/test-filesystem-da9c261d-4cde-1726-7e05-de188fbe3a17/test-file-6f30c2a9-ccdf-b8cb-b39f-a838f22e3930?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Jul 2020 02:54:03 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "GbH5TcR2YY2u0qoHLL0LdKy0ThsdfE1SdkEQFiur\u002B730B5xAxKzgMmCjwQwhw4z1lDOLPd8dE51[...]
    {
      "RequestUri": "https://seanmccdfsca2.dfs.core.windows.net/test-filesystem-da9c261d-4cde-1726-7e05-de188fbe3a17/test-file-6f30c2a9-ccdf-b8cb-b39f-a838f22e3930?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Jul 2020 02:54:03 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D829337FF1910D\u0022",
        "Last-Modified": "Thu, 16 Jul 2020 02:54:03 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccdfsca2.blob.core.windows.net/test-filesystem-da9c261d-4cde-1726-7e05-de188fbe3a17/test-file-6f30c2a9-ccdf-b8cb-b39f-a838f22e3930",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Jul 2020 02:54:03 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D829337FF1910D\u0022",
        "Last-Modified": "Thu, 16 Jul 2020 02:54:03 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 16 Jul 2020 02:54:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "GbH5TcR2YY2u0qoHLL0LdKy0ThsdfE1SdkEQFiur\u002B730B5xAxKzgMmCjwQwhw4z1lDOLPd8dE51jp9eDZktiAtbtEiUhyrD/1By7ebpAMLO0GoH3IL7d1/P\u002B3RzVXcsUQL82NLBm1MmDjGnCYZniInYkzkvKauIXDzsxIuyUKXZRpzn7CvwCTUa3dJNVGnZZHLqlsY5/StbdHiR1NbLc72Lycbpg5xh6IYAFEvZOwvTF2AYy7njo0VxiHuzXjBiT24UxY6m7\u002BTSiK48OejjgjlswsFysqgDqCaBd/cgropRncTdwHV5LCd/Rj8Po2Vckgo\u002BQp9y75zCER1kIXftsdoj7pggBb3H95Kd92hs9ATBJOXs4m/q4q4oG69YFQ6vkZRg67TNPIxMek8I1Pg[...]
[...]
    {
      "RequestUri": "https://seanmccdfsca2.blob.core.windows.net/test-filesystem-da9c261d-4cde-1726-7e05-de188fbe3a17/test-file-6f30c2a9-ccdf-b8cb-b39f-a838f22e3930",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Jul 2020 02:54:03 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D829338009CB82\u0022",
        "Last-Modified": "Thu, 16 Jul 2020 02:54:04 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 16 Jul 2020 02:54:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmccdfsca2.blob.core.windows.net/test-filesystem-da9c261d-4cde-1726-7e05-de188fbe3a17?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Jul 2020 02:54:03 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "955145871",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmccdfsca2\nU2FuaXRpemVk\nhttps://seanmccdfsca2.blob.core.windows.net\nhttps://seanmccdfsca2.file.core.windows.net\nhttps://seanmccdfsca2.queue.core.windows.net\nhttps://seanmccdfsca2.table.core.windows.net\n\n\n\n\nhttps://seanmccdfsca2-secondary.blob.core.windows.net\nhttps://seanmccdfsca2-secondary.file.core.windows.net\nhttps://seanmccdfsca2-secondary.queue.core.windows.net\nhttps://seanmccdfsca2-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmccdfsca2.blob.core.windows.net/;QueueEndpoint=https://seanmccdfsca2.queue.core.windows.net/;FileEndpoint=https://seanmccdfsca2.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmccdfsca2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmccdfsca2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmccdfsca2-secondary.file.core.windows.net/;AccountName=seanmccdfsca2;AccountKey=Sanitized\n"
  }
}