{
  "Entries": [
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-e04c8bbf-cd56-70f5-a3ec-21b197931508?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 23 Sep 2020 02:09:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85F65C2DB0CAF\u0022",
        "Last-Modified": "Wed, 23 Sep 2020 02:09:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-e04c8bbf-cd56-70f5-a3ec-21b197931508/test-file-8ebdaa63-290e-1d3e-9cd8-cc34acda0a29?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 23 Sep 2020 02:09:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85F65C300604E\u0022",
        "Last-Modified": "Wed, 23 Sep 2020 02:09:54 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-e04c8bbf-cd56-70f5-a3ec-21b197931508/test-file-8ebdaa63-290e-1d3e-9cd8-cc34acda0a29?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Sep 2020 02:09:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "DWOPqvGLzPVelWeLvJ87G9\u002Bupn5agijFrfemzo2zTCdjGkjS92KBf0tENEqCjsQk0SCZu6vonIs[...]
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-e04c8bbf-cd56-70f5-a3ec-21b197931508/test-file-8ebdaa63-290e-1d3e-9cd8-cc34acda0a29?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Sep 2020 02:09:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85F65C3123B11\u0022",
        "Last-Modified": "Wed, 23 Sep 2020 02:09:54 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-e04c8bbf-cd56-70f5-a3ec-21b197931508/test-file-8ebdaa63-290e-1d3e-9cd8-cc34acda0a29",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Sep 2020 02:09:54 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85F65C3123B11\u0022",
        "Last-Modified": "Wed, 23 Sep 2020 02:09:54 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 23 Sep 2020 02:09:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-e04c8bbf-cd56-70f5-a3ec-21b197931508/test-file-8ebdaa63-290e-1d3e-9cd8-cc34acda0a29",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Sep 2020 02:09:54 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85F65C3123B11\u0022",
        "Last-Modified": "Wed, 23 Sep 2020 02:09:54 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 23 Sep 2020 02:09:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "DWOPqvGLzPVelWeLvJ87G9\u002Bupn5agijFrfemzo2zTCdjGkjS92KBf0tENEqCjsQk0SCZu6vonIs6yvz65f1nqkhAJ6JXaCR8LScyFU7dQh8ygf1sGpB7en69ly1mhplO3YkCQmcizWj8HI6EtoY8XIjdx2P/\u002BpC3xKwkmdH2FqY="
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-e04c8bbf-cd56-70f5-a3ec-21b197931508/test-file-8ebdaa63-290e-1d3e-9cd8-cc34acda0a29",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D85F65C3123B11",
        "x-ms-date": "Wed, 23 Sep 2020 02:09:54 GMT",
        "x-ms-range": "bytes=128-255",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 128-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85F65C3123B11\u0022",
        "Last-Modified": "Wed, 23 Sep 2020 02:09:54 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 23 Sep 2020 02:09:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "jeQ4xdv/txC0lXD9AvfE94A6pYm\u002BNk7i\u002BEp9u/0zlgYG5/fRTneBiCW3r2qKk7TN5ywZllGM6FaWVcyQgvwSgP5p9xoA86gJuR1jB4fkV2WWsNPQGgC1ef\u002BgO/ir8AYppC5rIJuZzPSEEN0zKODPsv1m\u002BtEpQWb\u002BtH0bX7ewXcg="
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-e04c8bbf-cd56-70f5-a3ec-21b197931508?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Sep 2020 02:09:54 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "265289596",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttps://seannsecanary.blob.core.windows.net\nhttps://seannsecanary.file.core.windows.net\nhttps://seannsecanary.queue.core.windows.net\nhttps://seannsecanary.table.core.windows.net\n\n\n\n\nhttps://seannsecanary-secondary.blob.core.windows.net\nhttps://seannsecanary-secondary.file.core.windows.net\nhttps://seannsecanary-secondary.queue.core.windows.net\nhttps://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannsecanary.blob.core.windows.net/;QueueEndpoint=https://seannsecanary.queue.core.windows.net/;FileEndpoint=https://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}