{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-5268eb43-bf5e-e7c6-6cbc-1cf252c7a38d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 22:30:46 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D393ABE14616\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:30:47 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-5268eb43-bf5e-e7c6-6cbc-1cf252c7a38d/test-file-d5542787-bcd8-d96e-c7fb-0d67947cca8a?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 17 Feb 2021 22:30:47 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D393AC19A1C8\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:30:47 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-5268eb43-bf5e-e7c6-6cbc-1cf252c7a38d/test-file-d5542787-bcd8-d96e-c7fb-0d67947cca8a?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:30:47 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "\u002BRZW7lzFHA5fJB\u002BWqcA\u002B2zK1jVjcFkQLDRStMpBkuLMsLwuSOZsKnt3cLiVga3PRLsn11fB[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-5268eb43-bf5e-e7c6-6cbc-1cf252c7a38d/test-file-d5542787-bcd8-d96e-c7fb-0d67947cca8a?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:30:47 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D393AC39BE03\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:30:47 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-5268eb43-bf5e-e7c6-6cbc-1cf252c7a38d/test-file-d5542787-bcd8-d96e-c7fb-0d67947cca8a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:30:47 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D393AC39BE03\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:30:47 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 22:30:47 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-5268eb43-bf5e-e7c6-6cbc-1cf252c7a38d/test-file-d5542787-bcd8-d96e-c7fb-0d67947cca8a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:30:47 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D393AC39BE03\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:30:47 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 22:30:47 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "\u002BRZW7lzFHA5fJB\u002BWqcA\u002B2zK1jVjcFkQLDRStMpBkuLMsLwuSOZsKnt3cLiVga3PRLsn11fBDCePSS\u002BBIGOl\u002B\u002Bmtranq1rKGXq\u002B97/\u002BgfqqKh2wTGbuPC6CUnwO66wYXzXjO59QH5HIEnXikByAr7s6A\u002Bpz3lt4yIqYFUjeyy3Ok="
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-5268eb43-bf5e-e7c6-6cbc-1cf252c7a38d/test-file-d5542787-bcd8-d96e-c7fb-0d67947cca8a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D393AC39BE03",
        "x-ms-date": "Wed, 17 Feb 2021 22:30:47 GMT",
        "x-ms-range": "bytes=128-255",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 128-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D393AC39BE03\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:30:47 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 22:30:47 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "aYehtGW1oae\u002Bg54PucEgGywNTnsaSA6mpzFMf6SPlHSBQJhAaUdN6p3/fmIZfM7nYDlg32RhzyB5\u002Bgw0aSEDL\u002B4pjnkp4LHlv2PeGsqsjStiZB5qLrUQIHB3x286GYF7/E5z7\u002B1VvoCHex8Ag7VVzWzh0QUCmAA4GW0IsRlCq6Y="
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-5268eb43-bf5e-e7c6-6cbc-1cf252c7a38d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:30:48 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "762916214",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}