{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-19f10b02-8830-c7b4-b7d8-c24e6b0c1332?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:57:10 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D5108ADF2427\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:57:09 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-19f10b02-8830-c7b4-b7d8-c24e6b0c1332/test-file-88002fab-0dd2-35e3-f7e2-cb65ecb6e815?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 19 Feb 2021 19:57:10 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D5108AFF8770\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:57:10 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-19f10b02-8830-c7b4-b7d8-c24e6b0c1332/test-file-88002fab-0dd2-35e3-f7e2-cb65ecb6e815?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 19 Feb 2021 19:57:10 GMT"
      },
      "RequestBody": "JMgSOacpxju9a2sOS0dd0qOvUq\u002BhKicuTi/yiP\u002BZjGcya6jpae1EgmjFy2eh1OmwhPnCPWQ5dPmg4\u002Bp3Nj07JN4D3N\u002Bec2i1atBH21/AjHpGQQQG1k8D\u002BPeuSYUDzUsqiaaJnvcKEhCQDNKU8Zia31dwMfQ5NU2OAOPo7yrjsp2EHFK4N\u002B6CPC/zdsp9bgdfFGkuk5xW8FRZ\u002Bp0UIiLlrVo0D9VF4aho7vTFRb6DEJHciNvBtR4BLSz\u002BXzxRbhoNDclvSF4xGTLBxaWnkaqV1ukLN5lGJPc7M\u002BKpR4JrF3/atzj1E8cyqm\u002BpAO95WZuBaIhSRTaAxunRMxV8i[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-19f10b02-8830-c7b4-b7d8-c24e6b0c1332/test-file-88002fab-0dd2-35e3-f7e2-cb65ecb6e815?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:57:10 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D5108B1A55F2\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:57:10 GMT",
        "x-ms-request-server-encrypted": "false",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-19f10b02-8830-c7b4-b7d8-c24e6b0c1332/test-file-88002fab-0dd2-35e3-f7e2-cb65ecb6e815",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:57:11 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D5108B1A55F2\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:57:10 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:57:10 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-19f10b02-8830-c7b4-b7d8-c24e6b0c1332/test-file-88002fab-0dd2-35e3-f7e2-cb65ecb6e815",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:57:11 GMT",
        "x-ms-range": "bytes=512-639"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-639/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D5108B1A55F2\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:57:10 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:57:10 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": "fhigVr6/2ZqTbz1J9BjrUjHj00\u002B4iCOcfKL/O6X43fM3HZoHR\u002Ba0QMDF1Sx8RxSG2dYiUkRaivb0A9obwJ30mpFJEdd94wpKL5KP87P3IDWOeGHP1ouv3JKjE0MLmIAi0DqaMjU9CPbL1yOxy5ZD/eOljUc7JcQGmTVE2tDHPpY="
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-19f10b02-8830-c7b4-b7d8-c24e6b0c1332/test-file-88002fab-0dd2-35e3-f7e2-cb65ecb6e815",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D5108B1A55F2",
        "x-ms-date": "Fri, 19 Feb 2021 19:57:11 GMT",
        "x-ms-range": "bytes=640-767"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 640-767/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D5108B1A55F2\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:57:10 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:57:10 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": "EmwjeVzt/1FvawP/Z/4R/GAWYGULOOaqdpOY//kuJQSYjJ9ecsqg9aY719AhxJ\u002BbI0d5umbZi9mGeALJVP9YQUX/Zttfs4mVdWq/0GEWiLH0/dyxtGudvwHF1/nH16Cm45aKIV7DO2\u002B95ET8Gbt4cPBR1Fcjpo3ZYqbamduQzp4="
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-19f10b02-8830-c7b4-b7d8-c24e6b0c1332?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:57:11 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "929586583",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}