{
  "Entries": [
    {
      "RequestUri": "http://gen1gen2domain1.blob.core.windows.net/test-filesystem-683d22ba-8b30-c7e3-fe16-0f3998e14b6b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 08 Sep 2020 16:07:49 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85411557D45EC\u0022",
        "Last-Modified": "Tue, 08 Sep 2020 16:07:49 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://gen1gen2domain1.dfs.core.windows.net/test-filesystem-683d22ba-8b30-c7e3-fe16-0f3998e14b6b/test-file-f591039d-06c0-eeca-1c2a-4a7b3d29ffa9?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 08 Sep 2020 16:07:50 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8541155AF7755\u0022",
        "Last-Modified": "Tue, 08 Sep 2020 16:07:50 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://gen1gen2domain1.dfs.core.windows.net/test-filesystem-683d22ba-8b30-c7e3-fe16-0f3998e14b6b/test-file-f591039d-06c0-eeca-1c2a-4a7b3d29ffa9?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 08 Sep 2020 16:07:50 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "0VonJdUn0quRyra\u002BOaYuvgiZql3JnuUJpBBscfIfq8zHLGs\u002BGOigZ2hsG7tXkCFanl5oL[...]
    {
      "RequestUri": "http://gen1gen2domain1.dfs.core.windows.net/test-filesystem-683d22ba-8b30-c7e3-fe16-0f3998e14b6b/test-file-f591039d-06c0-eeca-1c2a-4a7b3d29ffa9?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 08 Sep 2020 16:07:50 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8541155D820CB\u0022",
        "Last-Modified": "Tue, 08 Sep 2020 16:07:50 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://gen1gen2domain1.blob.core.windows.net/test-filesystem-683d22ba-8b30-c7e3-fe16-0f3998e14b6b/test-file-f591039d-06c0-eeca-1c2a-4a7b3d29ffa9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 08 Sep 2020 16:07:50 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8541155D820CB\u0022",
        "Last-Modified": "Tue, 08 Sep 2020 16:07:50 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 08 Sep 2020 16:07:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://gen1gen2domain1.blob.core.windows.net/test-filesystem-683d22ba-8b30-c7e3-fe16-0f3998e14b6b/test-file-f591039d-06c0-eeca-1c2a-4a7b3d29ffa9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 08 Sep 2020 16:07:50 GMT",
        "x-ms-range": "bytes=0-255",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8541155D820CB\u0022",
        "Last-Modified": "Tue, 08 Sep 2020 16:07:50 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 08 Sep 2020 16:07:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "0VonJdUn0quRyra\u002BOaYuvgiZql3JnuUJpBBscfIfq8zHLGs\u002BGOigZ2hsG7tXkCFanl5oLTtMWzN1HoDFumC4ch/p9w0676Ug\u002BUL1XIMpsRTvEtOUtn2RetE4yfpn2q0ItKmcbZkTIK64SDT4V/\u002BvS2xs1qiMJLyhWH08ASaquR6V7KjZjUN62/El225ImCLSiH6O\u002BgQEfJDt\u002BhUc1x6IDY4WY2tW1r4p8fu2Z0hNWL9aanioHL4ZkHAY7JItXgPTnc3fMjW3e7K/ZAgJTRVHn6JWwW2l3/HQ/NL6Puor\u002B5P348l7biWKou/G6Li1EENb0Ezw15yWLb3cDzZjvDzIlA=="
    },
[...]
    {
      "RequestUri": "http://gen1gen2domain1.blob.core.windows.net/test-filesystem-8e66e9e1-ac56-834a-df76-6c1387be016f/test-file-37d1a8f0-87bd-7b84-4cfc-7a077f1754c3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Mon, 07 Sep 2020 16:07:49 GMT",
        "x-ms-date": "Tue, 08 Sep 2020 16:07:51 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85411568CFD21\u0022",
        "Last-Modified": "Tue, 08 Sep 2020 16:07:51 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 08 Sep 2020 16:07:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://gen1gen2domain1.blob.core.windows.net/test-filesystem-31409cd3-5c39-2365-6aba-37e0d574954d/test-file-3d9e4811-bcdb-9381-2e37-2a87f4d1ede5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Wed, 09 Sep 2020 16:07:49 GMT",
        "x-ms-date": "Tue, 08 Sep 2020 16:07:52 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85411572759D8\u0022",
        "Last-Modified": "Tue, 08 Sep 2020 16:07:52 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 08 Sep 2020 16:07:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://gen1gen2domain1.blob.core.windows.net/test-filesystem-64d58955-c26e-afcd-2e6d-b8f9af618ce7/test-file-89b7c0f3-d192-cf33-e64a-d71bdf68d2a2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D8541157C50A35\u0022",
        "x-ms-date": "Tue, 08 Sep 2020 16:07:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8541157C50A35\u0022",
        "Last-Modified": "Tue, 08 Sep 2020 16:07:53 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 08 Sep 2020 16:07:53 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://gen1gen2domain1.blob.core.windows.net/test-filesystem-7a9624c1-c081-c733-442d-930ffd24917b/test-file-3997c7cf-7126-4a47-ec82-b80a28e60d2a?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 08 Sep 2020 16:07:56 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "3ee4b659-2eeb-3351-1b9d-5ce75998922d",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D854115912FA13\u0022",
        "Last-Modified": "Tue, 08 Sep 2020 16:07:55 GMT",
        "x-ms-lease-id": "3ee4b659-2eeb-3351-1b9d-5ce75998922d",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://gen1gen2domain1.blob.core.windows.net/test-filesystem-7a9624c1-c081-c733-442d-930ffd24917b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 08 Sep 2020 16:07:56 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-09-08T09:07:49.4633654-07:00",
    "RandomSeed": "65589473",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\ngen1gen2domain1\nU2FuaXRpemVk\nhttp://gen1gen2domain1.blob.core.windows.net\nhttp://gen1gen2domain1.file.core.windows.net\nhttp://gen1gen2domain1.queue.core.windows.net\nhttp://gen1gen2domain1.table.core.windows.net\n\n\n\n\nhttp://gen1gen2domain1-secondary.blob.core.windows.net\nhttp://gen1gen2domain1-secondary.file.core.windows.net\nhttp://gen1gen2domain1-secondary.queue.core.windows.net\nhttp://gen1gen2domain1-secondary.table.core.windows.net\nc6b5fe1a-9b59-4975-92c4-d9f728c3c371\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://gen1gen2domain1.blob.core.windows.net/;QueueEndpoint=http://gen1gen2domain1.queue.core.windows.net/;FileEndpoint=http://gen1gen2domain1.file.core.windows.net/;BlobSecondaryEndpoint=http://gen1gen2domain1-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://gen1gen2domain1-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://gen1gen2domain1-secondary.file.core.windows.net/;AccountName=gen1gen2domain1;AccountKey=Sanitized\n"
  }
}