{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-63a3ff7d-c556-8108-7d5a-6514665642ae?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:38 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38CEBFED94\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:38 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-63a3ff7d-c556-8108-7d5a-6514665642ae/test-file-b74c6135-3e36-aafb-5e47-ed010c720b37?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:39 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38CEC9DA73\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-63a3ff7d-c556-8108-7d5a-6514665642ae/test-file-b74c6135-3e36-aafb-5e47-ed010c720b37?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:39 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "Tc0TaHRkgGKY6m5fTr2Jeov8bK\u002BkcLCGCxsUDUUjRuYohPwr72X0QzVPOBN2\u002BN/XJ1q4dqIeTtwcjVxYT3McdaOINsnAXoslCCh6VTicDxM8PeXqas9DCjYgDmIJm/PBMsJv7sEVFsjPkm56pPmkgH1JHBKOMQrURCyToFAoHGw0uCJ1LCBSJiccG9hgyWY9e43lwH/hMwG4m6mVgXV4p3UCRevWL1Rc9/XqcRYydHvGViXCQ1ztUoQhvZF3vKSxpHRiXoN6Zkw5iMiJ9sLqhSYuzitQtmQZFPNmtXHC5TpROc2i0Bb3S/DZibqTY1vCNjdqSe55Ye0PSUmQE7D[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-63a3ff7d-c556-8108-7d5a-6514665642ae/test-file-b74c6135-3e36-aafb-5e47-ed010c720b37?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:39 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38CEE2DD12\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:39 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-63a3ff7d-c556-8108-7d5a-6514665642ae/test-file-b74c6135-3e36-aafb-5e47-ed010c720b37",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:39 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38CEE2DD12\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:39 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 21 Sep 2021 19:48:39 GMT",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 19:48:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-63a3ff7d-c556-8108-7d5a-6514665642ae/test-file-b74c6135-3e36-aafb-5e47-ed010c720b37",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D97D38CEE2DD12",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:39 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38CEE2DD12\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:39 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 21 Sep 2021 19:48:39 GMT",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 19:48:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "Tc0TaHRkgGKY6m5fTr2Jeov8bK\u002BkcLCGCxsUDUUjRuYohPwr72X0QzVPOBN2\u002BN/XJ1q4dqIeTtwcjVxYT3McdaOINsnAXoslCCh6VTicDxM8PeXqas9DCjYgDmIJm/PBMsJv7sEVFsjPkm56pPmkgH1JHBKOMQrURCyToFAoHGw="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-63a3ff7d-c556-8108-7d5a-6514665642ae?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:39 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "661784316",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}