{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-d889f1ae-7fc6-c830-66ee-6d8a0e4efc6f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Feb 2021 21:25:57 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C1219F32F4\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:25:57 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-d889f1ae-7fc6-c830-66ee-6d8a0e4efc6f/test-file-695e757d-26b5-5246-ce67-8068ee58be7a?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 02 Feb 2021 21:25:57 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C121DA607B\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:25:58 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-d889f1ae-7fc6-c830-66ee-6d8a0e4efc6f/test-file-695e757d-26b5-5246-ce67-8068ee58be7a?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Tue, 02 Feb 2021 21:25:57 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": [
        "\uFFFD\uFFFDp:\uFFFD\u003C\uFFFD\u0016\t\u0529fN\uFFFD\u0014\uFFFD\uFFFD\u04A6\u0014\uFFFD\uFFFD@\u003CC\uFFFDC/6\uFFFDE\r",
        "@\uFFFD\uFFFD[\uFFFD\u02E7\u001B\uFFFD\u0015Z\uFFFD\uFFFDd\uFFFD\uFFFD\u0013\uFFFD{\u000B\u0132\uFFFD4\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD*\uFFFD\uFFFD%d4E\u003E5\u0006\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD_?\uFFFDWn\u02E9\uFFF[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-d889f1ae-7fc6-c830-66ee-6d8a0e4efc6f/test-file-695e757d-26b5-5246-ce67-8068ee58be7a?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:25:57 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C121F5ABF2\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:25:58 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-d889f1ae-7fc6-c830-66ee-6d8a0e4efc6f/test-file-695e757d-26b5-5246-ce67-8068ee58be7a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:25:57 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7C121F5ABF2\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:25:58 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Feb 2021 21:25:58 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-d889f1ae-7fc6-c830-66ee-6d8a0e4efc6f/test-file-695e757d-26b5-5246-ce67-8068ee58be7a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:25:58 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7C121F5ABF2\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:25:58 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Feb 2021 21:25:58 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "j\u002BRwOs883xYJ1KlmTuoUmvTSphSC3UA8Q/hDLzbfRQ1A6rbPW7/Lpxu1FVq347hk2McTnHsLxLKkNPbX\u002BK/gKo6bJWQ0RT41Bv75zcflhV8/31duy6mSNSYDKifI865r1OvLG75UMJOJ3pV9Efbrvq6XlxlYcl7lCe89MBoWbRI="
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-d889f1ae-7fc6-c830-66ee-6d8a0e4efc6f/test-file-695e757d-26b5-5246-ce67-8068ee58be7a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8C7C121F5ABF2",
        "x-ms-date": "Tue, 02 Feb 2021 21:25:58 GMT",
        "x-ms-range": "bytes=128-255",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 128-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7C121F5ABF2\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:25:58 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Feb 2021 21:25:58 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "T4352xpqoeuvw\u002BTtExUkLxhreDFclRJhjeURzhb/eHJwgi2D/Q\u002BkRPWsapSNcdL0yw4Yr507trl7l040WNLUr0txfJDnoDIJxjQ7ryt91BsSHQMI58nVNcxzCGbAb\u002Bsj2LpJG/RCDCrcDuhpAAeO/cMyIjrOzMiBnEfEc5fLSVc="
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-d889f1ae-7fc6-c830-66ee-6d8a0e4efc6f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:25:58 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1447748334",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}