{
  "Entries": [
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-19f10b02-8830-c7b4-b7d8-c24e6b0c1332?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 18:01:06 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F396870A41\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:01:06 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-19f10b02-8830-c7b4-b7d8-c24e6b0c1332/test-file-88002fab-0dd2-35e3-f7e2-cb65ecb6e815?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 20 Oct 2021 18:01:06 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F396BD8C26\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:01:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-19f10b02-8830-c7b4-b7d8-c24e6b0c1332/test-file-88002fab-0dd2-35e3-f7e2-cb65ecb6e815?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 20 Oct 2021 18:01:06 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "JMgSOacpxju9a2sOS0dd0qOvUq\u002BhKicuTi/yiP\u002BZjGcya6jpae1EgmjFy2eh1OmwhPnCPWQ5dPmg4\u002Bp3Nj07JN4D3N\u002Bec2i1atBH21/AjHpGQQQG1k8D\u002BPeuSYUDzUsqiaaJnvcKEhCQDNKU8Zia31dwMfQ5NU2OAOPo7yrjsp2EHFK4N\u002B6CPC/zdsp9bgdfFGkuk5xW8FRZ\u002Bp0UIiLlrVo0D9VF4aho7vTFRb6DEJHciNvBtR4BLSz\u002BXzxRbhoNDclvSF4xGTLBxaWnkaqV1ukLN5lGJPc7M\u002BKpR4JrF3/atzj1[...]
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-19f10b02-8830-c7b4-b7d8-c24e6b0c1332/test-file-88002fab-0dd2-35e3-f7e2-cb65ecb6e815?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 18:01:06 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F396DF21D0\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:01:06 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-19f10b02-8830-c7b4-b7d8-c24e6b0c1332/test-file-88002fab-0dd2-35e3-f7e2-cb65ecb6e815",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 18:01:06 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F396DF21D0\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:01:06 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 18:01:06 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-19f10b02-8830-c7b4-b7d8-c24e6b0c1332/test-file-88002fab-0dd2-35e3-f7e2-cb65ecb6e815",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D993F396DF21D0\u0022",
        "x-ms-date": "Wed, 20 Oct 2021 18:01:06 GMT",
        "x-ms-range": "bytes=512-639",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-639/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F396DF21D0\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:01:06 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 18:01:06 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": "fhigVr6/2ZqTbz1J9BjrUjHj00\u002B4iCOcfKL/O6X43fM3HZoHR\u002Ba0QMDF1Sx8RxSG2dYiUkRaivb0A9obwJ30mpFJEdd94wpKL5KP87P3IDWOeGHP1ouv3JKjE0MLmIAi0DqaMjU9CPbL1yOxy5ZD/eOljUc7JcQGmTVE2tDHPpY="
    },
[...]
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-19f10b02-8830-c7b4-b7d8-c24e6b0c1332?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 18:01:07 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "929586583",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary\nU2FuaXRpemVk\nhttps://amandaadlscanary.blob.core.windows.net\nhttps://amandaadlscanary.file.core.windows.net\nhttps://amandaadlscanary.queue.core.windows.net\nhttps://amandaadlscanary.table.core.windows.net\n\n\n\n\nhttps://amandaadlscanary-secondary.blob.core.windows.net\nhttps://amandaadlscanary-secondary.file.core.windows.net\nhttps://amandaadlscanary-secondary.queue.core.windows.net\n\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://amandaadlscanary.blob.core.windows.net/;QueueEndpoint=https://amandaadlscanary.queue.core.windows.net/;FileEndpoint=https://amandaadlscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandaadlscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandaadlscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandaadlscanary-secondary.file.core.windows.net/;AccountName=amandaadlscanary;AccountKey=Sanitized\n\n\n"
  }
}