{
  "Entries": [
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-79348a20-0a99-88fe-2a89-a30d3a272870?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 18:02:00 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F3B6FDCCDB\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:02:00 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-79348a20-0a99-88fe-2a89-a30d3a272870/test-file-d2754ae9-155f-6281-b180-0dcdc116f280?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 18:02:00 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F3B735A352\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:02:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-79348a20-0a99-88fe-2a89-a30d3a272870/test-file-d2754ae9-155f-6281-b180-0dcdc116f280?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 20 Oct 2021 18:02:01 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "6xOrWPcFh5Kc2qYdbj45h\u002BQVrmUXqExQPAGYAzVs5DIMNFcVfUL/GdRsrVkNZQzRJ5ldoEvQWkPHWhz2bYNcMPZ0EDnnIwmhFpWQq/rzQ9b0xtycD0PmPNkUTiMmCatQD31jmVXS6gOPu4q2P69I0xdFAaanwCCyjdRf0tTmegzpQJt8kKqBIdzYDVO4MP0qy3oM4QcFqE9dsAuBchcuqUB\u002BzP8Ty0Nsw\u002BDJz7LM\u002BV3WNQZa2pkE45dMH9\u002BfAK7FqWMTOmP\u002BF/83nx0nO9mckLauqj0Q1M6meehnxqxjzcIxBCZOub/52B0GIzp73ai[...]
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-79348a20-0a99-88fe-2a89-a30d3a272870/test-file-d2754ae9-155f-6281-b180-0dcdc116f280?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D993F3B742CFAE\u0022",
        "x-ms-date": "Wed, 20 Oct 2021 18:02:01 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F3B7606C37\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:02:01 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-79348a20-0a99-88fe-2a89-a30d3a272870/test-file-d2754ae9-155f-6281-b180-0dcdc116f280",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 18:02:01 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F3B7606C37\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:02:01 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 18:02:01 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": "6xOrWPcFh5Kc2qYdbj45h\u002BQVrmUXqExQPAGYAzVs5DIMNFcVfUL/GdRsrVkNZQzRJ5ldoEvQWkPHWhz2bYNcMPZ0EDnnIwmhFpWQq/rzQ9b0xtycD0PmPNkUTiMmCatQD31jmVXS6gOPu4q2P69I0xdFAaanwCCyjdRf0tTmegzpQJt8kKqBIdzYDVO4MP0qy3oM4QcFqE9dsAuBchcuqUB\u002BzP8Ty0Nsw\u002BDJz7LM\u002BV3WNQZa2pkE45dMH9\u002BfAK7FqWMTOmP\u002BF/83nx0nO9mckLauqj0Q1M6meehnxqxjzcIxBCZOub/52B0GIzp73ai\u002Br44p8FZwtNSVbMF6llBT09Jb9TeyTdf3tNIgCbGUK5tAqRcdOtxswE9SuUz9f0HMs09[...]
[...]
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-6ab08f4b-ff3d-e61a-3cfe-e68beb976cf4/test-file-1ee46904-7208-e335-7176-7f654d474a71?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 19 Oct 2021 18:02:00 GMT",
        "x-ms-date": "Wed, 20 Oct 2021 18:02:02 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F3B7F8A7BC\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:02:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-d7eae198-f0fe-1d67-5623-a58f8e81874d/test-file-7952e547-0fb5-54c7-a90b-b72b069f642c?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 21 Oct 2021 18:02:00 GMT",
        "x-ms-date": "Wed, 20 Oct 2021 18:02:03 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F3B8E25840\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:02:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-f293d88d-1d16-0435-4a56-bdd06a6d5719/test-file-0dd6e00a-15f6-0b88-7787-44bb58a96134",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 18:02:04 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F3B969D4C2\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:02:04 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 18:02:04 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-aa928f66-c34d-2dec-63e8-49952277e94c/test-file-5f80f274-40fe-4b53-21fe-634b995e30c7?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Wed, 20 Oct 2021 18:02:05 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F3BA0A6CE2\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:02:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-ae144f67-5cc1-5486-106d-94a1e6beb23d/test-file-f33ba258-72fd-b60f-cc4d-25cfd48d0c7a?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 18:02:06 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "afdf6137-270e-092a-dfcb-7805e8ebe334",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F3BA825872\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:02:06 GMT",
        "x-ms-lease-id": "afdf6137-270e-092a-dfcb-7805e8ebe334",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-ae144f67-5cc1-5486-106d-94a1e6beb23d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 18:02:07 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-10-20T11:02:00.5648085-07:00",
    "RandomSeed": "1431549421",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary\nU2FuaXRpemVk\nhttps://amandaadlscanary.blob.core.windows.net\nhttps://amandaadlscanary.file.core.windows.net\nhttps://amandaadlscanary.queue.core.windows.net\nhttps://amandaadlscanary.table.core.windows.net\n\n\n\n\nhttps://amandaadlscanary-secondary.blob.core.windows.net\nhttps://amandaadlscanary-secondary.file.core.windows.net\nhttps://amandaadlscanary-secondary.queue.core.windows.net\n\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://amandaadlscanary.blob.core.windows.net/;QueueEndpoint=https://amandaadlscanary.queue.core.windows.net/;FileEndpoint=https://amandaadlscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandaadlscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandaadlscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandaadlscanary-secondary.file.core.windows.net/;AccountName=amandaadlscanary;AccountKey=Sanitized\n\n\n"
  }
}