{
  "Entries": [
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-00c2f5b4-cf06-28da-f63e-661c52ef3e8f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 11 Sep 2020 15:50:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8566A5B675EA3\u0022",
        "Last-Modified": "Fri, 11 Sep 2020 15:50:07 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-00c2f5b4-cf06-28da-f63e-661c52ef3e8f/test-file-6b1d9535-3c97-4793-83c5-a065169651c9?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 11 Sep 2020 15:50:08 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8566A5C5BA4E5\u0022",
        "Last-Modified": "Fri, 11 Sep 2020 15:50:08 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-00c2f5b4-cf06-28da-f63e-661c52ef3e8f/test-file-6b1d9535-3c97-4793-83c5-a065169651c9?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Sep 2020 15:50:08 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "zfggaVZwE6/1Zstg4H2BUcDQDkEPBda/VFFKtlbLpCJjwieD7neSxIFudjFxM2YGQ06lRocPusghYBQE[...]
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-00c2f5b4-cf06-28da-f63e-661c52ef3e8f/test-file-6b1d9535-3c97-4793-83c5-a065169651c9?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Sep 2020 15:50:08 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8566A5C777681\u0022",
        "Last-Modified": "Fri, 11 Sep 2020 15:50:09 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-00c2f5b4-cf06-28da-f63e-661c52ef3e8f/test-file-6b1d9535-3c97-4793-83c5-a065169651c9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Sep 2020 15:50:08 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8566A5C777681\u0022",
        "Last-Modified": "Fri, 11 Sep 2020 15:50:09 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 11 Sep 2020 15:50:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-00c2f5b4-cf06-28da-f63e-661c52ef3e8f/test-file-6b1d9535-3c97-4793-83c5-a065169651c9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Sep 2020 15:50:10 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8566A5C777681\u0022",
        "Last-Modified": "Fri, 11 Sep 2020 15:50:09 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 11 Sep 2020 15:50:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "zfggaVZwE6/1Zstg4H2BUcDQDkEPBda/VFFKtlbLpCJjwieD7neSxIFudjFxM2YGQ06lRocPusghYBQEJlxYKcGo/B5V/mNJPkq/oY6lTiHrQ3MHJV6bUwhfYY5ijZ4lFUxvyTZIsUXrXAc8UBg5exHzGeLpUQNiDKkV9Z3V5rA="
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-00c2f5b4-cf06-28da-f63e-661c52ef3e8f/test-file-6b1d9535-3c97-4793-83c5-a065169651c9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8566A5C777681",
        "x-ms-date": "Fri, 11 Sep 2020 15:50:10 GMT",
        "x-ms-range": "bytes=128-255",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 128-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8566A5C777681\u0022",
        "Last-Modified": "Fri, 11 Sep 2020 15:50:09 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 11 Sep 2020 15:50:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "q5qLQjaF6qKSLhvJV14D8CblfG90vDvESAy8jTO7pxZ1V5G1jPdFjAh2T7s1OgutpSXOt1h3O\u002B9fx/kqyF1v1oYFU//NTmMvn/Bm/myAjw4AD\u002BcN7fC\u002B/huhVsX9G8OqB3g1L\u002BYL31fCnxdoED2C3zjrKbl2YemVR1XkLPidMoQ="
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-00c2f5b4-cf06-28da-f63e-661c52ef3e8f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Sep 2020 15:50:10 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1736013693",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttps://seannsecanary.blob.core.windows.net\nhttps://seannsecanary.file.core.windows.net\nhttps://seannsecanary.queue.core.windows.net\nhttps://seannsecanary.table.core.windows.net\n\n\n\n\nhttps://seannsecanary-secondary.blob.core.windows.net\nhttps://seannsecanary-secondary.file.core.windows.net\nhttps://seannsecanary-secondary.queue.core.windows.net\nhttps://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannsecanary.blob.core.windows.net/;QueueEndpoint=https://seannsecanary.queue.core.windows.net/;FileEndpoint=https://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}