{
  "Entries": [
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-b6132673-7563-41d3-3753-aed5f0728f2b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 18:01:10 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F398DED268\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:01:10 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-b6132673-7563-41d3-3753-aed5f0728f2b/test-file-d5454f61-8429-fa9c-e859-3ce4bddbebe7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 18:01:10 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-b6132673-7563-41d3-3753-aed5f0728f2b/test-file-d5454f61-8429-fa9c-e859-3ce4bddbebe7?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 18:01:10 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F3992177E5\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:01:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-b6132673-7563-41d3-3753-aed5f0728f2b/test-file-d5454f61-8429-fa9c-e859-3ce4bddbebe7?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 20 Oct 2021 18:01:10 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "KiarSeBvpEvOGJRPWgHOTZGHlQcJU16lCpg2LduoifOONhHEgaNQ8ar6BhDvTZ/niu5SNUXj3tfHBT5HOHdwJo6gwSTvCcztN6RdD0xOtb35T6LsVlStqlg6/XxlCLkyiuCBT4t6\u002BIEhZP2hhs6LeU\u002BBTunVg8868hbLtAxQiC7rKoVrzGYxflYhyvFWDCSJr4Ms47rPXQYRR1x1r0N00dvPtltJIK3oT8\u002BSs7jd5ObyQgWII6VzG8x\u002BWoUKvM8TrPkWhlXIP4/WQ5PrPalNM2J1gm096602W5uPy8Uo3ZP/fwe/x12RKQJ2st8RiN4jMCYilTli1cBL4Cu6OXTJrmUA672ijmsE5FhqxznNJNO8bJqeBUhZnalGdOcy1vCOrQN5EJ0ggKK7HbHh9w6HfbtY/czZKqgdp00UWxmE0g1o3Bk1UxM1nOv44\u002BeXeKabv/Yr2tkjtINbXGlPDCSINkujeRr0USmoImDh4EbAhi6neZwjWfc0RCeW2vep5pDGcK2b8/\u002BLpm7Ng7d4QtQ8mtY6qJOIZd1UbzTzXnYy/jzQGnCZJZIvHNIuVtY/uwFTWUAhbj79PgrQR4TKmEj3moR7pydjo3VDC4vAWQ8GFLMynwQ2EY/\u002B09xlyd0NZYOJN7tRxBTa8LbK3WOyPOT7yTLRl/hDwIn1fdRL/dqXNaU=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-b6132673-7563-41d3-3753-aed5f0728f2b/test-file-d5454f61-8429-fa9c-e859-3ce4bddbebe7?action=flush\u0026position=512",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D993F3992177E5\u0022",
        "x-ms-date": "Wed, 20 Oct 2021 18:01:10 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F3993ABAB5\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:01:10 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-b6132673-7563-41d3-3753-aed5f0728f2b/test-file-d5454f61-8429-fa9c-e859-3ce4bddbebe7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 18:01:11 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F3997A8218\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:01:11 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 18:01:10 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": "KiarSeBvpEvOGJRPWgHOTZGHlQcJU16lCpg2LduoifOONhHEgaNQ8ar6BhDvTZ/niu5SNUXj3tfHBT5HOHdwJo6gwSTvCcztN6RdD0xOtb35T6LsVlStqlg6/XxlCLkyiuCBT4t6\u002BIEhZP2hhs6LeU\u002BBTunVg8868hbLtAxQiC7rKoVrzGYxflYhyvFWDCSJr4Ms47rPXQYRR1x1r0N00dvPtltJIK3oT8\u002BSs7jd5ObyQgWII6VzG8x\u002BWoUKvM8TrPkWhlXIP4/WQ5PrPalNM2J1gm096602W5uPy8Uo3ZP/fwe/x12RKQJ2st8RiN4jMCYilTli1cBL4Cu6OXTJrmUA672ijmsE5FhqxznNJNO8bJqeBUhZnalGdOcy1vCOrQN5EJ0ggKK7HbHh9w[...]
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-b6132673-7563-41d3-3753-aed5f0728f2b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 18:01:11 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "431972517",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary\nU2FuaXRpemVk\nhttps://amandaadlscanary.blob.core.windows.net\nhttps://amandaadlscanary.file.core.windows.net\nhttps://amandaadlscanary.queue.core.windows.net\nhttps://amandaadlscanary.table.core.windows.net\n\n\n\n\nhttps://amandaadlscanary-secondary.blob.core.windows.net\nhttps://amandaadlscanary-secondary.file.core.windows.net\nhttps://amandaadlscanary-secondary.queue.core.windows.net\n\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://amandaadlscanary.blob.core.windows.net/;QueueEndpoint=https://amandaadlscanary.queue.core.windows.net/;FileEndpoint=https://amandaadlscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandaadlscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandaadlscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandaadlscanary-secondary.file.core.windows.net/;AccountName=amandaadlscanary;AccountKey=Sanitized\n\n\n"
  }
}