{
  "Entries": [
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-55cf2055-7dad-6761-77de-b52c5fa6a833?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 07 Oct 2020 20:55:36 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86B03574D6E2A\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 20:55:36 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-55cf2055-7dad-6761-77de-b52c5fa6a833/test-file-3a66a6c2-84de-ccc7-c4b1-64677a03f0ab?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 07 Oct 2020 20:55:36 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86B0357795F1E\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 20:55:36 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-55cf2055-7dad-6761-77de-b52c5fa6a833/test-file-3a66a6c2-84de-ccc7-c4b1-64677a03f0ab?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 20:55:36 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "EEzZUXSKLYVjDaSW/hVqVJjr0JPN/5Oi15h3mB3Va4UJ5zuxSfNV0Z9URZL00HAVY11Nalp6yhC4Nnrc[...]
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-55cf2055-7dad-6761-77de-b52c5fa6a833/test-file-3a66a6c2-84de-ccc7-c4b1-64677a03f0ab?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 20:55:36 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86B03578E30E6\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 20:55:37 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-55cf2055-7dad-6761-77de-b52c5fa6a833/test-file-3a66a6c2-84de-ccc7-c4b1-64677a03f0ab",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 20:55:36 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D86B03578E30E6\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 20:55:37 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 Oct 2020 20:55:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-55cf2055-7dad-6761-77de-b52c5fa6a833?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 20:55:37 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1425727665",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttps://seannsecanary.blob.core.windows.net\nhttps://seannsecanary.file.core.windows.net\nhttps://seannsecanary.queue.core.windows.net\nhttps://seannsecanary.table.core.windows.net\n\n\n\n\nhttps://seannsecanary-secondary.blob.core.windows.net\nhttps://seannsecanary-secondary.file.core.windows.net\nhttps://seannsecanary-secondary.queue.core.windows.net\nhttps://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannsecanary.blob.core.windows.net/;QueueEndpoint=https://seannsecanary.queue.core.windows.net/;FileEndpoint=https://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}