{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-023a1545-6f8b-6978-3eda-e6acbbfad10d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 03 Feb 2021 02:09:56 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7E8CDD1879F\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:09:57 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-023a1545-6f8b-6978-3eda-e6acbbfad10d/test-file-ca82fcc8-b728-6b1c-9cd1-232f42ba6581?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 03 Feb 2021 02:09:56 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7E8CE0B6A88\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:09:57 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-023a1545-6f8b-6978-3eda-e6acbbfad10d/test-file-ca82fcc8-b728-6b1c-9cd1-232f42ba6581?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Wed, 03 Feb 2021 02:09:56 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": [
        "\uFFFD\uFFFD\uFFFD\uFFFDD\uFFFDsD\uFFFD\u0007\uFFFDS\uFFFDV\uFFFDe\uFFFD\uFFFD\uFFFD\u000B\u0384\uFFFD\u001C\u0006\uFFFD\uFFFD\uFFFDw\uFFFD\uFFFD\uFFFD\uFFFD\uFFFDn\uFFFD\uFFFD7\uFFFD\u0013\u003C\uFFFDdE\uFFFD\uFFFD\u00D6\uFFFD#\uFFFD@kK\uFFFD.7\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD!\r",
        "\uFFFDr\uFFFD\uFFFD\uFFFDp{P\uFFFD\uFFFD\uFFFD\u001Fz[B\u[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-023a1545-6f8b-6978-3eda-e6acbbfad10d/test-file-ca82fcc8-b728-6b1c-9cd1-232f42ba6581?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:09:56 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7E8CE334A9A\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:09:57 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-023a1545-6f8b-6978-3eda-e6acbbfad10d/test-file-ca82fcc8-b728-6b1c-9cd1-232f42ba6581",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:09:57 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7E8CE334A9A\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:09:57 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 03 Feb 2021 02:09:57 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-023a1545-6f8b-6978-3eda-e6acbbfad10d/test-file-ca82fcc8-b728-6b1c-9cd1-232f42ba6581",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:09:57 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7E8CE334A9A\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:09:57 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 03 Feb 2021 02:09:57 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "svfj8USmc0TpB8RTwVayZbL58gvOhMAcBoS\u002BxHfH\u002BeDg5G6\u002B9DeoEzzoZEXBxMOWniOyQGtL\u002By43xurA567MIQ3kct3n9HB7UN7O5R96W0LBKCVUFLl0lehAhy1N6CuOG0I33VHlrqqzNu\u002BMfRUOvGun/7\u002BIeA1Ub9z0pmxCLmg="
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-023a1545-6f8b-6978-3eda-e6acbbfad10d/test-file-ca82fcc8-b728-6b1c-9cd1-232f42ba6581",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8C7E8CE334A9A",
        "x-ms-date": "Wed, 03 Feb 2021 02:09:57 GMT",
        "x-ms-range": "bytes=128-255",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 128-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7E8CE334A9A\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:09:57 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 03 Feb 2021 02:09:57 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "s0DK3UJ98dt5eqHeyecY0jHKwqXoawWjNeNudPAIPXAIh9k9SzF67rYkRg7XLoqIxCJ1ooCIf0c6JqheD3zqcT0w1kIN24YAUNPvxCX3zAZZ5rDOkpvvfwiSAiWIG986OdXRplhIeumbdFKsmbohQ1mhBSnMG96hQVY6ethhdzU="
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-023a1545-6f8b-6978-3eda-e6acbbfad10d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:09:58 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "719668783",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}