{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-0076d53f-66ba-c463-806e-eb3f1fb9d47d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Feb 2021 21:29:25 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C19DCC6A99\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:29:26 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-0076d53f-66ba-c463-806e-eb3f1fb9d47d/test-file-0a9b3a24-2530-f890-dee7-6e9a9e32e2b0?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 02 Feb 2021 21:29:25 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C19E040915\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:29:26 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-0076d53f-66ba-c463-806e-eb3f1fb9d47d/test-file-0a9b3a24-2530-f890-dee7-6e9a9e32e2b0?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Tue, 02 Feb 2021 21:29:26 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": [
        "\uFFFDu\u0006\u001A.\u01C5\u0584\uFFFD\uFFFD\uFFFD\u0027\uFFFD\uFFFD\uFFFD:\uFFFD\uFFFD#\uFFFD\uFFFD\r",
        "\uFFFD\u0027\uFFFD\uFFFD\uFFFDy\u001F)\uFFFD\uFFFD\uFFFD\u001Do\uFFFD\u00190\uFFFDwMe\uFFFD\uFFFD].\uFFFD1\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\u0562hu\uFFFDc\uFFFD\uFFFD\\e\uFFFD\uFFFD\u0014S\uFFFDnr \\q\uFFFDH\uFFFD[\uFFFD\u029B\u0012\uFF[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-0076d53f-66ba-c463-806e-eb3f1fb9d47d/test-file-0a9b3a24-2530-f890-dee7-6e9a9e32e2b0?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:29:26 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C19E1FBF91\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:29:26 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-0076d53f-66ba-c463-806e-eb3f1fb9d47d/test-file-0a9b3a24-2530-f890-dee7-6e9a9e32e2b0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:29:26 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7C19E1FBF91\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:29:26 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Feb 2021 21:29:26 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-0076d53f-66ba-c463-806e-eb3f1fb9d47d/test-file-0a9b3a24-2530-f890-dee7-6e9a9e32e2b0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:29:26 GMT",
        "x-ms-range": "bytes=0-255",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7C19E1FBF91\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:29:26 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Feb 2021 21:29:26 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "jXUGGi7HhdaEv4bqJ7je9jqN9SOV6w2RJ8rQ2XkfKdrV0x1vgxkwg3dNZbHwXS6\u002BMfj4/6rY1aJodfNj9qtcZZWsFFObbnIgXHGrSIVboMqbEqiBJykv/P56Bw0mzIzM8AAbQ0jaIsKF16M5LYwcDNQpyOQD2z5rfRdVIWdl\u002BY/l3liFQF2Bwe/l/E\u002BG9s9xXfo5/QSoyRTBsMYwhAFbIN4TU040l8x3pwb1Hd7u5YdI48NtK/yKPRVDw4\u002BWUTztitxxcqKBPcYtwVX9sqs10ss\u002B6KE\u002B7vThiBY58NM94FbKB5MCfXLlxqb8P2qmjYppDfDEV2ibr5zoj\u002BmLSE3y8A=="
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-f82b4684-10f7-b9bb-b83c-42fc1d4da92f/test-file-93a0b74c-473e-faf6-986d-0c6f6456797b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Mon, 01 Feb 2021 21:29:25 GMT",
        "x-ms-date": "Tue, 02 Feb 2021 21:29:27 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7C19EF6565A\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:29:28 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Feb 2021 21:29:28 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-37e23ef2-3584-0d6c-7adc-c56742f1fdde/test-file-14d78169-f418-7255-a247-7c318c1d8a99",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Wed, 03 Feb 2021 21:29:25 GMT",
        "x-ms-date": "Tue, 02 Feb 2021 21:29:29 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7C19FE60F1D\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:29:29 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Feb 2021 21:29:29 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-db46e49d-8d2d-1889-dafa-bbcdff5467c7/test-file-0b72f834-84c6-eed1-dcce-dc8284901b61",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D8C7C1A0C23011\u0022",
        "x-ms-date": "Tue, 02 Feb 2021 21:29:30 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7C1A0C23011\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:29:31 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Feb 2021 21:29:31 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-066de01c-4b59-f89d-9036-3778b024f14e/test-file-bf6c1553-32af-3fd5-fd11-756fd897677c?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:29:33 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "696f0e8a-532c-ae9c-6e9a-08a8ec2bf508",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C1A2965ED8\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:29:34 GMT",
        "x-ms-lease-id": "696f0e8a-532c-ae9c-6e9a-08a8ec2bf508",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-066de01c-4b59-f89d-9036-3778b024f14e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:29:34 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-02T15:29:25.4057209-06:00",
    "RandomSeed": "450167987",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}