{
  "Entries": [
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-d889f1ae-7fc6-c830-66ee-6d8a0e4efc6f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 07 Oct 2020 19:41:52 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86AF90A865BAD\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:41:52 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-d889f1ae-7fc6-c830-66ee-6d8a0e4efc6f/test-file-695e757d-26b5-5246-ce67-8068ee58be7a?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 07 Oct 2020 19:41:52 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86AF90AB359FB\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:41:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-d889f1ae-7fc6-c830-66ee-6d8a0e4efc6f/test-file-695e757d-26b5-5246-ce67-8068ee58be7a?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:41:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "j\u002BRwOs883xYJ1KlmTuoUmvTSphSC3UA8Q/hDLzbfRQ1A6rbPW7/Lpxu1FVq347hk2McTnHsLxLK[...]
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-d889f1ae-7fc6-c830-66ee-6d8a0e4efc6f/test-file-695e757d-26b5-5246-ce67-8068ee58be7a?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:41:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86AF90ACB1797\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:41:53 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-d889f1ae-7fc6-c830-66ee-6d8a0e4efc6f/test-file-695e757d-26b5-5246-ce67-8068ee58be7a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:41:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D86AF90ACB1797\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:41:53 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 Oct 2020 19:41:53 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-d889f1ae-7fc6-c830-66ee-6d8a0e4efc6f/test-file-695e757d-26b5-5246-ce67-8068ee58be7a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:41:53 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D86AF90ACB1797\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:41:53 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 Oct 2020 19:41:53 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "j\u002BRwOs883xYJ1KlmTuoUmvTSphSC3UA8Q/hDLzbfRQ1A6rbPW7/Lpxu1FVq347hk2McTnHsLxLKkNPbX\u002BK/gKo6bJWQ0RT41Bv75zcflhV8/31duy6mSNSYDKifI865r1OvLG75UMJOJ3pV9Efbrvq6XlxlYcl7lCe89MBoWbRI="
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-d889f1ae-7fc6-c830-66ee-6d8a0e4efc6f/test-file-695e757d-26b5-5246-ce67-8068ee58be7a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D86AF90ACB1797",
        "x-ms-date": "Wed, 07 Oct 2020 19:41:53 GMT",
        "x-ms-range": "bytes=128-255",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 128-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D86AF90ACB1797\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:41:53 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 Oct 2020 19:41:53 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "T4352xpqoeuvw\u002BTtExUkLxhreDFclRJhjeURzhb/eHJwgi2D/Q\u002BkRPWsapSNcdL0yw4Yr507trl7l040WNLUr0txfJDnoDIJxjQ7ryt91BsSHQMI58nVNcxzCGbAb\u002Bsj2LpJG/RCDCrcDuhpAAeO/cMyIjrOzMiBnEfEc5fLSVc="
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-d889f1ae-7fc6-c830-66ee-6d8a0e4efc6f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:41:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1447748334",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttps://seannsecanary.blob.core.windows.net\nhttps://seannsecanary.file.core.windows.net\nhttps://seannsecanary.queue.core.windows.net\nhttps://seannsecanary.table.core.windows.net\n\n\n\n\nhttps://seannsecanary-secondary.blob.core.windows.net\nhttps://seannsecanary-secondary.file.core.windows.net\nhttps://seannsecanary-secondary.queue.core.windows.net\nhttps://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannsecanary.blob.core.windows.net/;QueueEndpoint=https://seannsecanary.queue.core.windows.net/;FileEndpoint=https://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}