{
  "Entries": [
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-023a1545-6f8b-6978-3eda-e6acbbfad10d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 07 Oct 2020 19:41:51 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86AF909A7F39C\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:41:51 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-023a1545-6f8b-6978-3eda-e6acbbfad10d/test-file-ca82fcc8-b728-6b1c-9cd1-232f42ba6581?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 07 Oct 2020 19:41:51 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86AF909D17853\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:41:51 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-023a1545-6f8b-6978-3eda-e6acbbfad10d/test-file-ca82fcc8-b728-6b1c-9cd1-232f42ba6581?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:41:51 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "svfj8USmc0TpB8RTwVayZbL58gvOhMAcBoS\u002BxHfH\u002BeDg5G6\u002B9DeoEzzoZEXBxMOWn[...]
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-023a1545-6f8b-6978-3eda-e6acbbfad10d/test-file-ca82fcc8-b728-6b1c-9cd1-232f42ba6581?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:41:51 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86AF909E5E7BA\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:41:51 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-023a1545-6f8b-6978-3eda-e6acbbfad10d/test-file-ca82fcc8-b728-6b1c-9cd1-232f42ba6581",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:41:51 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D86AF909E5E7BA\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:41:51 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 Oct 2020 19:41:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-023a1545-6f8b-6978-3eda-e6acbbfad10d/test-file-ca82fcc8-b728-6b1c-9cd1-232f42ba6581",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:41:51 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D86AF909E5E7BA\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:41:51 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 Oct 2020 19:41:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "svfj8USmc0TpB8RTwVayZbL58gvOhMAcBoS\u002BxHfH\u002BeDg5G6\u002B9DeoEzzoZEXBxMOWniOyQGtL\u002By43xurA567MIQ3kct3n9HB7UN7O5R96W0LBKCVUFLl0lehAhy1N6CuOG0I33VHlrqqzNu\u002BMfRUOvGun/7\u002BIeA1Ub9z0pmxCLmg="
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-023a1545-6f8b-6978-3eda-e6acbbfad10d/test-file-ca82fcc8-b728-6b1c-9cd1-232f42ba6581",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D86AF909E5E7BA",
        "x-ms-date": "Wed, 07 Oct 2020 19:41:51 GMT",
        "x-ms-range": "bytes=128-255",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 128-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D86AF909E5E7BA\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:41:51 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 Oct 2020 19:41:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "s0DK3UJ98dt5eqHeyecY0jHKwqXoawWjNeNudPAIPXAIh9k9SzF67rYkRg7XLoqIxCJ1ooCIf0c6JqheD3zqcT0w1kIN24YAUNPvxCX3zAZZ5rDOkpvvfwiSAiWIG986OdXRplhIeumbdFKsmbohQ1mhBSnMG96hQVY6ethhdzU="
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-023a1545-6f8b-6978-3eda-e6acbbfad10d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:41:52 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "719668783",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttps://seannsecanary.blob.core.windows.net\nhttps://seannsecanary.file.core.windows.net\nhttps://seannsecanary.queue.core.windows.net\nhttps://seannsecanary.table.core.windows.net\n\n\n\n\nhttps://seannsecanary-secondary.blob.core.windows.net\nhttps://seannsecanary-secondary.file.core.windows.net\nhttps://seannsecanary-secondary.queue.core.windows.net\nhttps://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannsecanary.blob.core.windows.net/;QueueEndpoint=https://seannsecanary.queue.core.windows.net/;FileEndpoint=https://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}