{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-1256657c-79e2-4098-8c95-18207edbe880?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Feb 2021 21:34:51 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C25FEDFA19\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:34:51 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-1256657c-79e2-4098-8c95-18207edbe880/test-file-b9bf10e5-02d0-ff53-0be6-5e633df194f7?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:34:51 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C26024533C\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:34:52 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-1256657c-79e2-4098-8c95-18207edbe880/test-file-b9bf10e5-02d0-ff53-0be6-5e633df194f7?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Tue, 02 Feb 2021 21:34:51 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": [
        "\uFFFDN\uFFFD\u0011:m\uFFFD\uFFFD\u0005t\uFFFD\n",
        "\uFFFD\uFFFD\uFFFD\u0017\uFFFD\uFFFD?\u000B.\uFFFD\u0022\u0001\u0001\uFFFD\uFFFD\uFFFD\uFFFD|v\uFFFD\u001A\u0011\uFFFD\uFFFD\uFFFD(]\uFFFD|A\uFFFD\u0060\uFFFD\u0018\uFFFD\uFFFD\uFFFDa\uFFFD\u000E\u001F\uFFFD\u0026\uFFFD,\uFFFD\u0010\uFFFD\uFFFD\u5508\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-1256657c-79e2-4098-8c95-18207edbe880/test-file-b9bf10e5-02d0-ff53-0be6-5e633df194f7?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8C7C260328E6B",
        "x-ms-date": "Tue, 02 Feb 2021 21:34:51 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C2604CEA92\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:34:52 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-1256657c-79e2-4098-8c95-18207edbe880/test-file-b9bf10e5-02d0-ff53-0be6-5e633df194f7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:34:52 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7C2604CEA92\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:34:52 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Feb 2021 21:34:52 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "xU73ETpttIAFdJ8KnLvHF6zGPwsu\u002BSIBAaavz\u002Bx8drsaEdPp/ChdtnxBlWDNGJ\u002BCvmHiDh\u002BfJsss9hCUveWUiP7k8Irn3hqDaYmP7WPBM\u002BgGLRGKmmebe\u002BoIvQYYyPmXrQxi6SgUm99GXqWWDzloasInjpDUCe6XSHSf3yEUa6CP9z9WX0nA8pExRDvCBWuxn1JD8Tpow6Mey6GzdLu9MfMEBhf5EQt4Z5z\u002BosWz1EMJ7j/P0XlmJzScOJOoDH3VcxJIvf5TuI5GyoqeaSDdavZdqoZ87mB5nd/jXNl30FoeKC6zaxZEtTWxiAbvyL0Uvs2dSmL2WYWxziAfcFu1zvkwf0HxKv/fGPVQy2VZitUhzp4L2oX3J8\u002BpAZz2JU[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-1256657c-79e2-4098-8c95-18207edbe880?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:34:52 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "811577527",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}