{
  "Entries": [
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-c2b144f2-0f07-095e-a864-11199ed20c6c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 18:01:42 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F3AC28A603\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:01:42 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-c2b144f2-0f07-095e-a864-11199ed20c6c/test-file-2c7e2d88-f105-d42a-88af-7d60de712ee4?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 20 Oct 2021 18:01:42 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F3AC5FF07F\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:01:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-c2b144f2-0f07-095e-a864-11199ed20c6c/test-file-2c7e2d88-f105-d42a-88af-7d60de712ee4?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 20 Oct 2021 18:01:42 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "72JkMZoWzk5tnmbUM8EUZhDX/ZadkML2rJAGplJe3KRaK62S3SOfBTrnDguaYMpHmetnX7pCEl\u002BfbYUJDyj7DsLCegcTgYjtOPdbtYG2XEvGvw1n93zqFxhO8nCdlfUS7P9J2ObDNBdjeibC5l3d6RE5Q1AblBdF12LuxY4YT6IBScmCbIRlA4v1A3xWJzC7cAleZFKl91fnBACD1G\u002BISyuDwZ2TW3yN00DFJZCb77AyMlSFuepQW1JxmmiD4i4cbbhQ0maTJxSM0JAS4NHHTBVPUKIaApFBM2VKIsEUCfERqLjXShxJnwtA\u002BehZPnuBqU1SNJGLAWonD5[...]
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-c2b144f2-0f07-095e-a864-11199ed20c6c/test-file-2c7e2d88-f105-d42a-88af-7d60de712ee4?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 18:01:42 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F3AC7AB472\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:01:42 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-c2b144f2-0f07-095e-a864-11199ed20c6c/test-file-2c7e2d88-f105-d42a-88af-7d60de712ee4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 18:01:43 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F3AC7AB472\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:01:42 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 18:01:42 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-c2b144f2-0f07-095e-a864-11199ed20c6c/test-file-2c7e2d88-f105-d42a-88af-7d60de712ee4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D993F3AC7AB472\u0022",
        "x-ms-date": "Wed, 20 Oct 2021 18:01:43 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F3AC7AB472\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:01:42 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 18:01:42 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource[...]
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-c2b144f2-0f07-095e-a864-11199ed20c6c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 18:01:43 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1049179312",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary\nU2FuaXRpemVk\nhttps://amandaadlscanary.blob.core.windows.net\nhttps://amandaadlscanary.file.core.windows.net\nhttps://amandaadlscanary.queue.core.windows.net\nhttps://amandaadlscanary.table.core.windows.net\n\n\n\n\nhttps://amandaadlscanary-secondary.blob.core.windows.net\nhttps://amandaadlscanary-secondary.file.core.windows.net\nhttps://amandaadlscanary-secondary.queue.core.windows.net\n\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://amandaadlscanary.blob.core.windows.net/;QueueEndpoint=https://amandaadlscanary.queue.core.windows.net/;FileEndpoint=https://amandaadlscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandaadlscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandaadlscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandaadlscanary-secondary.file.core.windows.net/;AccountName=amandaadlscanary;AccountKey=Sanitized\n\n\n"
  }
}