{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-a459401b-04c4-04ae-8bd6-c269ce1e432b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:36 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38CD61EFD8\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:36 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-a459401b-04c4-04ae-8bd6-c269ce1e432b/test-file-f9b895f8-2936-8e60-da80-5fb9cbb5f84b?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:36 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38CD6C2AE8\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-a459401b-04c4-04ae-8bd6-c269ce1e432b/test-file-f9b895f8-2936-8e60-da80-5fb9cbb5f84b?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:36 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "Xn4oFDb41eTRXTGZe6xgVCemo1phlIEeMhx76cr0g/eTpKMlDprlzZ7Y3U2V7QVc/hdU0dc9gsr9CuIZfOsZ3Nk5BtYJO0WMwda7iLc0iEQXH\u002BuzoLIgVSLYKAS4y1CyvwFzW\u002BcvUsPRxxABgfoTyIGdAl0AZjsnGbG0MBNA1PaFCcm2wCxd6Mwn4dmhH9MnxV\u002BDGsjzsVjFTEI2eyKwkfIae3gwXQhUQBqQ2IRihfrdjGqzvbktkldw8HPqJ2ypd1Dmh6Ra9mhWLtquYtjTYsdIWO64/NM57eghwGyVahmt5mA0fP5Vg5UCXY/ffi9\u002BnI6sos998[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-a459401b-04c4-04ae-8bd6-c269ce1e432b/test-file-f9b895f8-2936-8e60-da80-5fb9cbb5f84b?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:36 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38CD86DAF5\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:36 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-a459401b-04c4-04ae-8bd6-c269ce1e432b/test-file-f9b895f8-2936-8e60-da80-5fb9cbb5f84b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:36 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38CD86DAF5\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:36 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 21 Sep 2021 19:48:36 GMT",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 19:48:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-a459401b-04c4-04ae-8bd6-c269ce1e432b/test-file-f9b895f8-2936-8e60-da80-5fb9cbb5f84b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D97D38CD86DAF5",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:37 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38CD86DAF5\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:36 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 21 Sep 2021 19:48:36 GMT",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 19:48:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "202[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-a459401b-04c4-04ae-8bd6-c269ce1e432b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:37 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1702299933",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}