{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-b997a476-e51a-e0d6-bb17-8ab09e440af3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:58:13 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D510B07B2FE4\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:58:12 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-b997a476-e51a-e0d6-bb17-8ab09e440af3/test-file-f2103141-25cc-929d-ca7a-15a7e09e8918?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:58:13 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D510B08B0031\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:58:13 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-b997a476-e51a-e0d6-bb17-8ab09e440af3/test-file-f2103141-25cc-929d-ca7a-15a7e09e8918?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 19 Feb 2021 19:58:13 GMT"
      },
      "RequestBody": "7sF5jbSq8ioysoSd\u002BpHjhq7W9iWSNvwRc/2WhyTyO5Ol0lp3ozd6lz/mvxmg/5c4lo75CqdkhrjEaBq2E2oFQHbx9yg2bON3W17lq3bicHNlXfCW\u002BDHrQUyhsjscw4TV4X6jrwdvAiqrgq5IftpB4venUbZ5bkdEBbbclbqnWpfaEMn3P8Fr9VvG63aCo8NxYNBEdXLNW3I3XqpRk21vAycXbW4QSqI2O1tbs4LRwmLzajTqY\u002BQkDbVXwOAWGmLuV\u002BhOazVUYBUtDToXcafwZZxIXig4hKBD8mC5uYnCHyH5bVyaglYsngofvVWpDZsNZlpEzrs5tdJHC3jVm6aMa\u002B0ZHgRLVeNFG8AeGcdKme[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-b997a476-e51a-e0d6-bb17-8ab09e440af3/test-file-f2103141-25cc-929d-ca7a-15a7e09e8918?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D510B08B0031",
        "x-ms-date": "Fri, 19 Feb 2021 19:58:13 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D510B0A64AE8\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:58:13 GMT",
        "x-ms-request-server-encrypted": "false",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-b997a476-e51a-e0d6-bb17-8ab09e440af3/test-file-f2103141-25cc-929d-ca7a-15a7e09e8918",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:58:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D510B0A64AE8\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:58:13 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:58:13 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": "7sF5jbSq8ioysoSd\u002BpHjhq7W9iWSNvwRc/2WhyTyO5Ol0lp3ozd6lz/mvxmg/5c4lo75CqdkhrjEaBq2E2oFQHbx9yg2bON3W17lq3bicHNlXfCW\u002BDHrQUyhsjscw4TV4X6jrwdvAiqrgq5IftpB4venUbZ5bkdEBbbclbqnWpfaEMn3P8Fr9VvG63aCo8NxYNBEdXLNW3I3XqpRk21vAycXbW4QSqI2O1tbs4LRwmLzajTqY\u002BQkDbVXwOAWGmLuV\u002BhOazVUYBUtDToXcafwZZxIXig4hKBD8mC5uYnCHyH5bVyaglYsngofvVWpDZsNZlpEzrs5tdJHC3jVm6aMa\u002B0ZHgRLVeNFG8AeGcdKmeTErFIuflBlv7eJUnbeVwJjklJnkO\u002B[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-b997a476-e51a-e0d6-bb17-8ab09e440af3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:58:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "365670512",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}