{
  "Entries": [
    {
      "RequestUri": "https://seanmccdfsca2.blob.core.windows.net/test-filesystem-8ae1b199-6229-d47e-fd4e-00763d72ff97?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 09 Jul 2020 16:23:10 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D824245F19939A\u0022",
        "Last-Modified": "Thu, 09 Jul 2020 16:23:10 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccdfsca2.dfs.core.windows.net/test-filesystem-8ae1b199-6229-d47e-fd4e-00763d72ff97/test-file-af3fe9c7-26f1-1b2b-10c8-d26d5d2de020?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Thu, 09 Jul 2020 16:23:10 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D824245F5D741B\u0022",
        "Last-Modified": "Thu, 09 Jul 2020 16:23:11 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccdfsca2.dfs.core.windows.net/test-filesystem-8ae1b199-6229-d47e-fd4e-00763d72ff97/test-file-af3fe9c7-26f1-1b2b-10c8-d26d5d2de020?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 09 Jul 2020 16:23:10 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "8AsiChAXRNqZfEXbaIEId4syiAqdrgMtB0fXivylnpQ69S8EHibCsKRlFnXgT7KOv1riKqXWgkIH9QPI[...]
    {
      "RequestUri": "https://seanmccdfsca2.dfs.core.windows.net/test-filesystem-8ae1b199-6229-d47e-fd4e-00763d72ff97/test-file-af3fe9c7-26f1-1b2b-10c8-d26d5d2de020?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 09 Jul 2020 16:23:10 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D824245F730905\u0022",
        "Last-Modified": "Thu, 09 Jul 2020 16:23:11 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccdfsca2.blob.core.windows.net/test-filesystem-8ae1b199-6229-d47e-fd4e-00763d72ff97/test-file-af3fe9c7-26f1-1b2b-10c8-d26d5d2de020",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 09 Jul 2020 16:23:11 GMT",
        "x-ms-range": "bytes=0-1048575",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D824245F730905\u0022",
        "Last-Modified": "Thu, 09 Jul 2020 16:23:11 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 09 Jul 2020 16:23:11 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "8AsiChAXRNqZfEXbaIEId4syiAqdrgMtB0fXivylnpQ69S8EHibCsKRlFnXgT7KOv1riKqXWgkIH9QPIP7rd9N2woXNSBFlkcNhlOJeOTLeUScqiwnTvY3Lt/Ckj\u002BnHqiCGXMK0/O7sBfrrMcUqqealLM/XvOjFpwD4AZQcwQHVneq929xsKVQ4PoES5I/InQ4OA2MZ7\u002Bk3wLW9vPtaz0T1EZfabM4GNQN7n4JrtsJ1M2SKDsGev64Bihsqsmxc3W88Gdb37jA8C8pfnlBqyAn3RI2W0MCHWlHl2OK224KXHr4TL5jrfUEwSgb3Px1dlr4NN23exgyutMOBEhVNhSxLyIOSW5xxC8dIYoa9kBswhEIgqaQUtFSxYHbZam8r4sTWq3aZzz8hnCumlmOF8SSkTInXK[...]
    {
      "RequestUri": "https://seanmccdfsca2.blob.core.windows.net/test-filesystem-8ae1b199-6229-d47e-fd4e-00763d72ff97?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 09 Jul 2020 16:23:11 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "119616878",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmccdfsca2\nU2FuaXRpemVk\nhttps://seanmccdfsca2.blob.core.windows.net\nhttps://seanmccdfsca2.file.core.windows.net\nhttps://seanmccdfsca2.queue.core.windows.net\nhttps://seanmccdfsca2.table.core.windows.net\n\n\n\n\nhttps://seanmccdfsca2-secondary.blob.core.windows.net\nhttps://seanmccdfsca2-secondary.file.core.windows.net\nhttps://seanmccdfsca2-secondary.queue.core.windows.net\nhttps://seanmccdfsca2-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmccdfsca2.blob.core.windows.net/;QueueEndpoint=https://seanmccdfsca2.queue.core.windows.net/;FileEndpoint=https://seanmccdfsca2.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmccdfsca2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmccdfsca2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmccdfsca2-secondary.file.core.windows.net/;AccountName=seanmccdfsca2;AccountKey=Sanitized\n"
  }
}