{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-056636c1-33f0-92ae-6329-8554dca74de0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:53 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D5108089CE83\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:56:52 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-056636c1-33f0-92ae-6329-8554dca74de0/test-file-6be57c9f-6a52-26bc-1945-0a8ef9f4b790?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:53 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D510809B0FE5\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:56:52 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-056636c1-33f0-92ae-6329-8554dca74de0/test-file-6be57c9f-6a52-26bc-1945-0a8ef9f4b790?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:53 GMT"
      },
      "RequestBody": "S\u002BAWMJYyYK0RL5izj0TD0cJ2oFQoTE/gyFuOubkHTC3vlR3tezZ5gSfR72KTr0OD3YlcdJ/45f\u002BRNmg6o6fzCuJrw/kn1laL/B4tV13sTRkYC9wvqtiN968eXETOPt2A3eSAKOtJXAcy0XeAyo6hpOlPIpjKw18J3cxJCHkRvL5BrXl4bCUtzq/V/dlgDSwhfLdbfxxFtRqFdksf/1ONIBS5Px0VKTjEIVPo9caFqc\u002BgKIzCtj2h/Phe8/baDc5cSNzFps4OC1J\u002Bl13IXMBT/8x7f9fGymrXGEMltjZC6hOFjK3qwAMBkRw5Qx7f2J84C/MpXo73lX1x7Y6L6VUcPK1JQ88TaD/Jee66jIZM9z\u002[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-056636c1-33f0-92ae-6329-8554dca74de0/test-file-6be57c9f-6a52-26bc-1945-0a8ef9f4b790?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:53 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D51080B4E8E9\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:56:52 GMT",
        "x-ms-request-server-encrypted": "false",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-056636c1-33f0-92ae-6329-8554dca74de0/test-file-6be57c9f-6a52-26bc-1945-0a8ef9f4b790",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:53 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D51080B4E8E9\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:56:52 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:56:52 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-056636c1-33f0-92ae-6329-8554dca74de0/test-file-6be57c9f-6a52-26bc-1945-0a8ef9f4b790",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:53 GMT",
        "x-ms-range": "bytes=0-255"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D51080B4E8E9\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:56:52 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:56:52 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": "S\u002BAWMJYyYK0RL5izj0TD0cJ2oFQoTE/gyFuOubkHTC3vlR3tezZ5gSfR72KTr0OD3YlcdJ/45f\u002BRNmg6o6fzCuJrw/kn1laL/B4tV13sTRkYC9wvqtiN968eXETOPt2A3eSAKOtJXAcy0XeAyo6hpOlPIpjKw18J3cxJCHkRvL5BrXl4bCUtzq/V/dlgDSwhfLdbfxxFtRqFdksf/1ONIBS5Px0VKTjEIVPo9caFqc\u002BgKIzCtj2h/Phe8/baDc5cSNzFps4OC1J\u002Bl13IXMBT/8x7f9fGymrXGEMltjZC6hOFjK3qwAMBkRw5Qx7f2J84C/MpXo73lX1x7Y6L6VUcPA=="
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-4dd61398-bd23-649a-02ab-6e9dcf3c4e94/test-file-9571c295-2561-a1c3-848b-0bfeaf5355d6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 18 Feb 2021 19:56:53 GMT",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:54 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D510813A55B4\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:56:53 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:56:53 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-9d7650a9-6324-462a-d022-4ecc7972daa5/test-file-74ae0d7e-fc24-3292-b581-b2337eb3f34d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sat, 20 Feb 2021 19:56:53 GMT",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:55 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D51081BE5CE0\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:56:54 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:56:54 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-47a9f9ef-bbc5-c8fc-e997-f08bba01c361/test-file-708e5f37-65c1-4303-012c-537fa5bfb45b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D51082436195",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:56 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D51082436195\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:56:55 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:56:55 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-145347e2-c9ab-0cba-3de2-e53289d87d95/test-file-590e6703-4209-5345-d987-69c8cba9b9a1?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:58 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "24130e8e-af61-2cf2-f6f1-ebce3dd9bfe0"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D51083505D1B\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:56:57 GMT",
        "x-ms-lease-id": "24130e8e-af61-2cf2-f6f1-ebce3dd9bfe0"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-145347e2-c9ab-0cba-3de2-e53289d87d95?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:58 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-19T13:56:53.2794311-06:00",
    "RandomSeed": "2130765090",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}