{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-5e7b2f0a-5782-35fa-8456-179aa1bd9bd0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:15 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D5106A3AEA05\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:56:15 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-5e7b2f0a-5782-35fa-8456-179aa1bd9bd0/test-file-f57069ef-db7d-bc1f-8e55-ca7c70888635?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:15 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D5106A4C6FB1\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:56:15 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-5e7b2f0a-5782-35fa-8456-179aa1bd9bd0/test-file-f57069ef-db7d-bc1f-8e55-ca7c70888635?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:16 GMT"
      },
      "RequestBody": "qoAbXWwpSZqyyYcCXDK9nzkHnRWdXkp81DF4HluWu1/\u002B\u002Bx34yb\u002Bi1EGGirxdVnjsHHSs79prYkw1nok6sSs\u002BHA0oA2AUxNV6ZcnUF9SOH365iwHn6suFkpnQwyo2ZyIWR22uNFIY11ieMooRl0t4p38LgSUqVjJCo3DHQwGrQ/2mvc9m3\u002BorobOpSbdBdPtNWByrK\u002Bb86/E7bJHhUZNX8\u002B6Matl7EseV3\u002BBygA16AC91eevk/xgXqdLeKnNZSlAfUlXJtQkh0UZUFUwFimrjwWtha9eocvPWdMEHnedUO5SQUy64sEslU6elkOrMER5n\u002BmgH9954duBi80BHGjReAN[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-5e7b2f0a-5782-35fa-8456-179aa1bd9bd0/test-file-f57069ef-db7d-bc1f-8e55-ca7c70888635?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:16 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D5106A66AFE7\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:56:15 GMT",
        "x-ms-request-server-encrypted": "false",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-5e7b2f0a-5782-35fa-8456-179aa1bd9bd0/test-file-f57069ef-db7d-bc1f-8e55-ca7c70888635",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:16 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D5106A66AFE7\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:56:15 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:56:15 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-5e7b2f0a-5782-35fa-8456-179aa1bd9bd0/test-file-f57069ef-db7d-bc1f-8e55-ca7c70888635",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:16 GMT",
        "x-ms-range": "bytes=0-127"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D5106A66AFE7\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:56:15 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:56:15 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": "qoAbXWwpSZqyyYcCXDK9nzkHnRWdXkp81DF4HluWu1/\u002B\u002Bx34yb\u002Bi1EGGirxdVnjsHHSs79prYkw1nok6sSs\u002BHA0oA2AUxNV6ZcnUF9SOH365iwHn6suFkpnQwyo2ZyIWR22uNFIY11ieMooRl0t4p38LgSUqVjJCo3DHQwGrQ/0="
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-5e7b2f0a-5782-35fa-8456-179aa1bd9bd0/test-file-f57069ef-db7d-bc1f-8e55-ca7c70888635",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D5106A66AFE7",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:16 GMT",
        "x-ms-range": "bytes=128-255"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 128-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D5106A66AFE7\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:56:15 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:56:15 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": "pr3PZt/qK6GzqUm3QXT7TVgcqyvm/OvxO2yR4VGTV/PujGrZexLHld/gcoANegAvdXnr5P8YF6nS3ipzWUpQH1JVybUJIdFGVBVMBYpq48FrYWvXqHLz1nTBB53nVDuUkFMuuLBLJVOnpZDqzBEeZ/poB/feeHbgYvNARxo0XgA="
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-5e7b2f0a-5782-35fa-8456-179aa1bd9bd0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:17 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "936999623",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}