{
  "Entries": [
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-85a5f6ac-981e-241d-d73d-2f90ac4f35c7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Aug 2021 22:58:48 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9642E125830BA\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 22:58:48 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-85a5f6ac-981e-241d-d73d-2f90ac4f35c7/test-file-02c681ad-6e4e-6dc9-80d9-ee1b1c193fa9?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 20 Aug 2021 22:58:48 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9642E128C07E8\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 22:58:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-85a5f6ac-981e-241d-d73d-2f90ac4f35c7/test-file-02c681ad-6e4e-6dc9-80d9-ee1b1c193fa9?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 20 Aug 2021 22:58:49 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "ef8Rz5PuMmgmTiUfYE3n2TkyVWNnwOEQFE7Gu1acDibMNa7krfu2v09d3ABIqQ0z8hXh6sTcQbkeAbtFJ3YSiUD/UyqeAys\u002BfJYUCeThx2pBk8lBuyRi8PT1xaxAcJfYS1PASFbilO7po20tyDfVPDlQA5St0c0bnWM1qT1//gv\u002BO76RIX8UXv7aVxe2NCe9IIlz720DK3mFpKvzreuwaaViL4x4Qxu5O6SV0nm2ZWk7eIi0DA6e\u002BxBFDH3TIbETKu5yVAWaRNxuubTIbVj/zj5CtzVi/FyWwzN8Mzed5hnzgqiLQxFjoTOrRlNZ1Y63RT0\u002BkWp7s[...]
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-85a5f6ac-981e-241d-d73d-2f90ac4f35c7/test-file-02c681ad-6e4e-6dc9-80d9-ee1b1c193fa9?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 22:58:49 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9642E12A70C4F\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 22:58:49 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-85a5f6ac-981e-241d-d73d-2f90ac4f35c7/test-file-02c681ad-6e4e-6dc9-80d9-ee1b1c193fa9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 22:58:49 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9642E12A70C4F\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 22:58:49 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Aug 2021 22:58:49 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-85a5f6ac-981e-241d-d73d-2f90ac4f35c7/test-file-02c681ad-6e4e-6dc9-80d9-ee1b1c193fa9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9642E12A70C4F\u0022",
        "x-ms-date": "Fri, 20 Aug 2021 22:58:49 GMT",
        "x-ms-range": "bytes=512-639",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-639/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9642E12A70C4F\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 22:58:49 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Aug 2021 22:58:49 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": "/o6TIfgQooeekvA8BLIKRQoRlfrsbg97tGuTPXY\u002B0v47brj4hpsTSEg8QHAzpxSg5TzmIyCltZB\u002BGG2MfGQRX7/xAJX5Eb5u/k2xry6fRwxW81c5WK/elrkoem4uhsvkK\u002BCwQqd/ptR\u002BdyTS9AVh3tFgNYkM1wcQE2rb0JdQQHc="
    },
[...]
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-85a5f6ac-981e-241d-d73d-2f90ac4f35c7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 22:58:49 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "456847285",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary\nU2FuaXRpemVk\nhttps://amandaadlscanary.blob.core.windows.net\nhttps://amandaadlscanary.file.core.windows.net\nhttps://amandaadlscanary.queue.core.windows.net\nhttps://amandaadlscanary.table.core.windows.net\n\n\n\n\nhttps://amandaadlscanary-secondary.blob.core.windows.net\nhttps://amandaadlscanary-secondary.file.core.windows.net\nhttps://amandaadlscanary-secondary.queue.core.windows.net\n\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://amandaadlscanary.blob.core.windows.net/;QueueEndpoint=https://amandaadlscanary.queue.core.windows.net/;FileEndpoint=https://amandaadlscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandaadlscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandaadlscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandaadlscanary-secondary.file.core.windows.net/;AccountName=amandaadlscanary;AccountKey=Sanitized\n\n\n"
  }
}