{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-1a8adc10-d796-2bd0-0af9-219acf11bf82?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 03 Feb 2021 02:10:32 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7E8E3945E63\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:10:33 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-1a8adc10-d796-2bd0-0af9-219acf11bf82/test-file-8262a2a6-16d6-2c55-2d19-2e9bcbf29c6a?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:10:32 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7E8E3D00B39\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:10:34 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-1a8adc10-d796-2bd0-0af9-219acf11bf82/test-file-8262a2a6-16d6-2c55-2d19-2e9bcbf29c6a?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Wed, 03 Feb 2021 02:10:33 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": [
        "\uFFFD\uFFFDs\uFFFD)\u0004\u02C1\uFFFD, H\uFFFD\uFFFD4\uFFFDh\uFFFD7\uFFFD=\uFFFD}\u000F\u017B\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\u0060;\uFFFD\uFFFDn\uFFFD\uFFFDB\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\f\uFFFD7\uFFFD3\u002B\uFFFD\uFFFD,\u000EOc\uFFFDmv,\uFFFD\ty\uFFFD\r",
        "\uFFFD\uFFFD\uFFFD\u040B]\uFFFD\u0013\\\uFFFD\uFFFD\u0019\uFFFD\u0027U\uFFFD3X\[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-1a8adc10-d796-2bd0-0af9-219acf11bf82/test-file-8262a2a6-16d6-2c55-2d19-2e9bcbf29c6a?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8C7E8E3D00B39",
        "x-ms-date": "Wed, 03 Feb 2021 02:10:33 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7E8E419443E\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:10:34 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-1a8adc10-d796-2bd0-0af9-219acf11bf82/test-file-8262a2a6-16d6-2c55-2d19-2e9bcbf29c6a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:10:33 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7E8E419443E\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:10:34 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 03 Feb 2021 02:10:34 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "ws1ztSkEy4GVLCBIl/U0pGigN\u002Bs9tH0PxbuNnryLsmA74vZu1N1Codfh7ar2DJQ35IkzK7qxLA5PY\u002B9tdizECXm/DbX/xtCLXZYTXMbTGbgnVbkzWIemibXnH3Dt1SqqHeMwNv/fOB65p80jndBIfEo3RiFzkbHyGYP/GKdfnohraD/io\u002BK4Rx2berC5guvlnqImtY4JN4wyPR183x92WQlFuDWRZdhofv4D1xYBOJaXGnkEOOj5YTCzsGXEO2f9JCCmdMm2VDjKvjaPBWB1MQSG5cWlciAhS1cE3bVzo0OWBrL2WsTN4MVBOnqxalvQPX9hPlaiWLL/hSlysnaDVhvz\u002Bf\u002Buf9dAuQT/ZDimb\u002BH7NKA2EWXs9K4A9tSaWi5PveNfvXFb[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-1a8adc10-d796-2bd0-0af9-219acf11bf82?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:10:33 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "459709169",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}