{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-bb975800-adf1-c1a7-98d6-1891eec55f06?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:59:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D510D6D1AD5A\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:59:17 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-bb975800-adf1-c1a7-98d6-1891eec55f06/test-file-ae083364-924d-ce75-c6e1-0786b1bca10d?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:59:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D510D6E1E96F\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:59:17 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-bb975800-adf1-c1a7-98d6-1891eec55f06/test-file-ae083364-924d-ce75-c6e1-0786b1bca10d?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 19 Feb 2021 19:59:18 GMT"
      },
      "RequestBody": "A3SK2wUFWRUZTg16vKQfTcdjRts1tIv0txbTowQOigtDAc457j2eOntw0jOMjzeuCfxDy0\u002Bznk7plSPuMbYRC8MCNrrW5l\u002BKxQtgxeJYaCffJZkIyr\u002B7kGJ/UFgZrwjEX8dwiVl81yOduQVDU9lskS38DwwdCEAERqZXVpUHcBYCm2Ua597OYk11ahG5dzyJE78qHZ/8p1aGa0OzJICOlknvQLd0UalOLay\u002BqJ0vS89pzkLW3FJ2BvQOlHybGz7N59THyjaEFMIW3PDzPv64ViBzSVY9t7n2eDrDZbwssxFu8cHJaICY5LmAv/9ig8j1Vj5bJ9Hojy8a0VL8wa8G6SnehE097\u002B6f22Wcvfi6lP[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-bb975800-adf1-c1a7-98d6-1891eec55f06/test-file-ae083364-924d-ce75-c6e1-0786b1bca10d?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:59:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D510D6FE59EA\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:59:17 GMT",
        "x-ms-request-server-encrypted": "false",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-bb975800-adf1-c1a7-98d6-1891eec55f06/test-file-ae083364-924d-ce75-c6e1-0786b1bca10d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:59:18 GMT",
        "x-ms-range": "bytes=0-268435455"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D510D6FE59EA\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:59:17 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:59:17 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": "A3SK2wUFWRUZTg16vKQfTcdjRts1tIv0txbTowQOigtDAc457j2eOntw0jOMjzeuCfxDy0\u002Bznk7plSPuMbYRC8MCNrrW5l\u002BKxQtgxeJYaCffJZkIyr\u002B7kGJ/UFgZrwjEX8dwiVl81yOduQVDU9lskS38DwwdCEAERqZXVpUHcBYCm2Ua597OYk11ahG5dzyJE78qHZ/8p1aGa0OzJICOlknvQLd0UalOLay\u002BqJ0vS89pzkLW3FJ2BvQOlHybGz7N59THyjaEFMIW3PDzPv64ViBzSVY9t7n2eDrDZbwssxFu8cHJaICY5LmAv/9ig8j1Vj5bJ9Hojy8a0VL8wa8G6SnehE097\u002B6f22Wcvfi6lPRxzg9\u002B0Ys/hmGRrpYumyMKetbWg/5[...]
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-bb975800-adf1-c1a7-98d6-1891eec55f06?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:59:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1641592492",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}