{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-59d015ce-bb18-ac14-62ef-3cd3b882e43e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Feb 2021 21:30:51 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C1D0EBC6C7\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:30:52 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-59d015ce-bb18-ac14-62ef-3cd3b882e43e/test-file-b260604f-22e1-2365-a4ff-433714de37df?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:30:51 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C1D129EAF8\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:30:52 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-59d015ce-bb18-ac14-62ef-3cd3b882e43e/test-file-b260604f-22e1-2365-a4ff-433714de37df?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Tue, 02 Feb 2021 21:30:51 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": [
        "\uFFFD\uFFFD\u001B\uFFFD[\uFFFDZ\u0026\uFFFD\u001F}\u007F\u000B\u007F\u0001l\uFFFDo\u0027\uFFFD\uFFFD\u0022\uFFFD\uFFFD\uFFFD\u0019\uFFFD\uFFFD\u0011\uFFFD\uFFFDp\uFFFD|\uFFFDz\u001D:xX\u017F#\u0002\uFFFD\uFFFD\uFFFD\uFFFD1\uFFFD\uFFFD\u000B\uFFFD\u0221\uFFFD\uFFFD\u001E/A\uFFFDa\u0014RY\f\u068F\uFFFD\uFFFDO\uFFFD\uFFFD\uFFFD/8\uFFFD\uFFFDX\uFFF[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-59d015ce-bb18-ac14-62ef-3cd3b882e43e/test-file-b260604f-22e1-2365-a4ff-433714de37df?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:30:52 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C1D1469DAA\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:30:52 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-59d015ce-bb18-ac14-62ef-3cd3b882e43e/test-file-b260604f-22e1-2365-a4ff-433714de37df",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:30:52 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7C1D1469DAA\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:30:52 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Feb 2021 21:30:52 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "96cbzFu2WibxH31/C38BbPhvJ/T4Irz8nRni\u002BRGfxnClfO56HTp4WMW/IwKj38C4MarXC5vIodTrHi9B1GEUUlkM2o\u002BQhk\u002B99s8vOP\u002B5WL5ZKchnyLrV3Noaj/4LNoRjq9GplgQwKKtbGRTMmGnVMcZw6KqYrYmeN/21dvZQsb9Ky40uEMG5KAEdDK6lCERxRV44mk7Zy/5HCl8He7G0CmhVgczbpiAEt7\u002BpeqDb\u002BC65RDGYGBdwcQCP5wZisq1QaAFGUIZ3lZ49M\u002BOPMFBdaxEwTjeAHPJR5BDMTL8aoQURWRGelaioQa6TWuQz4UCvMnv1MmN2z0wP9Wt1qkneI5Lefdc\u002BvtVoiAyI7cINHQPPHRpEJG\u002Bhm4nFj[...]
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-59d015ce-bb18-ac14-62ef-3cd3b882e43e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:30:52 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1264107957",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}