{
  "Entries": [
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-2481c00b-13d3-1d8f-071d-54eadef68d98?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 22:21:36 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C15391795FD6\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:21:36 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.dfs.core.windows.net/test-filesystem-2481c00b-13d3-1d8f-071d-54eadef68d98/test-file-c6ef7c63-5eab-8310-7ed0-65abe690e917?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:21:36 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C15391AB617D\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:21:36 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.dfs.core.windows.net/test-filesystem-2481c00b-13d3-1d8f-071d-54eadef68d98/test-file-c6ef7c63-5eab-8310-7ed0-65abe690e917?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:21:36 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "a0lcI9699ZGLgISMoWmVizJ2PFx6oLqcdOcw/bvYLDvIeLk\u002BIMf/8IzqYF2pFdxSajM[...]
    {
      "RequestUri": "https://seanstagehierarchical.dfs.core.windows.net/test-filesystem-2481c00b-13d3-1d8f-071d-54eadef68d98/test-file-c6ef7c63-5eab-8310-7ed0-65abe690e917?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:21:36 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C15391C52BF5\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:21:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-2481c00b-13d3-1d8f-071d-54eadef68d98/test-file-c6ef7c63-5eab-8310-7ed0-65abe690e917",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:21:36 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "FU6FRU4YK1tRwY\u002BkwK79dA==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C15391C52BF5\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:21:36 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 05 Mar 2020 22:21:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": "a0lcI9699ZGLgISMoWmVizJ2PFx6oLqcdOcw/bvYLDvIeLk\u002BIMf/8IzqYF2pFdxSajMpXSgif8uPwK/2jPfWslRIxCiwVmtqd0vQj0Bc8l4L3pOHrs4Tpfnur18YCGOUFK0JYFCzoRTIv\u002BbcUvCKMs1Q661kTgSFNR8uwaYLUm/nO3qSU5IOWD1/vu/oNlIJY32Sxx21MMWphCoxheBtvW139Bd1\u002BN47QpJw5JAVnP/MJF0peYpRMQq16M9n3NJdEQGBcUE7lGueVoWKRUs1lOcrZGCCREPjJcMMwA8P02XAE9OOkyu9kZDyiiIEx\u002By\u002Bf1ToPHhy2s29nkt\u002BLtRbj4MgyjF4pgC7bdPPj7kh3l3WTkC7J5ftTTgF0fTfP2O8l/ue4/27[...]
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-2481c00b-13d3-1d8f-071d-54eadef68d98?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:21:37 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1711734001",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanstagehierarchical\nU2FuaXRpemVk\nhttps://seanstagehierarchical.blob.core.windows.net\nhttp://seanstagehierarchical.file.core.windows.net\nhttp://seanstagehierarchical.queue.core.windows.net\nhttp://seanstagehierarchical.table.core.windows.net\n\n\n\n\nhttp://seanstagehierarchical-secondary.blob.core.windows.net\nhttp://seanstagehierarchical-secondary.file.core.windows.net\nhttp://seanstagehierarchical-secondary.queue.core.windows.net\nhttp://seanstagehierarchical-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanstagehierarchical.blob.core.windows.net/;QueueEndpoint=http://seanstagehierarchical.queue.core.windows.net/;FileEndpoint=http://seanstagehierarchical.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagehierarchical-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagehierarchical-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagehierarchical-secondary.file.core.windows.net/;AccountName=seanstagehierarchical;AccountKey=Sanitized\n"
  }
}