{
  "Entries": [
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-eda0e970-4d45-97a2-9326-e24d1a5589d5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 06:24:38 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E02CCC1A0EF\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:24:38 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagehierarchical.dfs.core.windows.net/test-filesystem-eda0e970-4d45-97a2-9326-e24d1a5589d5/test-file-9216b3b8-f043-7cea-ad1e-87cedbcabc81?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 06:24:38 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E02CCD36128\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:24:38 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagehierarchical.dfs.core.windows.net/test-filesystem-eda0e970-4d45-97a2-9326-e24d1a5589d5/test-file-9216b3b8-f043-7cea-ad1e-87cedbcabc81?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 06:24:38 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "36BjhozrtG7BKG3mQlvz7wabgWspvkc8m1C4eIOxU0HlJWgDQJm54Pq\u002BCWSSPQvm3I9u[...]
    {
      "RequestUri": "http://seanstagehierarchical.dfs.core.windows.net/test-filesystem-eda0e970-4d45-97a2-9326-e24d1a5589d5/test-file-9216b3b8-f043-7cea-ad1e-87cedbcabc81?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 06:24:38 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E02CCEF6FC7\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:24:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-eda0e970-4d45-97a2-9326-e24d1a5589d5/test-file-9216b3b8-f043-7cea-ad1e-87cedbcabc81",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 06:24:39 GMT",
        "x-ms-range": "bytes=256-767",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "8en/F2c156qMbRdttzD00g==",
        "Content-Range": "bytes 256-767/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77E02CCEF6FC7\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:24:38 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 11 Dec 2019 06:24:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": "r19b3ETgDZqAe2TSlb7FaqjsQSskrWcPz3GmPIdDrNyYQOWCnv8l3eWUhHYUTOC1jhESCx7gmQL3TA3SOtESPM\u002BIOVTZQ8yox2NFjynx\u002B4KQ8K12MaC\u002Bt6fjilLyUqIUgkemjBKM3EtFakS6mgnYBlCKQUkjnAsvyYGs9bh6tnTAMQ3hSm5vBBRiMMZbBByeCoQBaBBZ8OY7d8KR4OaTy7PQ\u002BWn89rzhGj01wWtE08VlDuszeE5jZ0AmptKs3iQtz2UTigqzohPIH03TJC969qP9K9L6X1JlbJIo1VDpNTwZB/EFMUi7sWvXa1kAkEMQq68ur7JSMm8TrR53is3C3ukRuRw\u002BdcRaQnlmI/P5ZdxPGCmhuoaJx9SB8oQqQyeeFYxv79Ym0jbq02w46w98GUhBKHGjISRjh/JIvIJAMP9Sxw1niXUGKEbyt\u002BYZUNvEBdg86Rq2\u002BvNoDGjj3RW0qaNt5iQCFI/SO/8rsWo9STYXhLapBEbknMwZ/30NIkswPQ1CrGq3wvBJaa4aikmJKsIxzFlfC6VciEpX6BUSxRi0\u002B3Nc\u002B53MYMLFYJqYyhGDkNW63Fbx0TJn5SMgX9nbNqSWZY/VLC8lZWyXmaoLxL4401hAV\u002BjCwypA9RV6qwDo6in1AmSCrmOmlXbpWjeIXCFk54uBm9\u002B706JllDcZq7k="
    },
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-eda0e970-4d45-97a2-9326-e24d1a5589d5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 06:24:39 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "583557334",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanstagehierarchical\nU2FuaXRpemVk\nhttp://seanstagehierarchical.blob.core.windows.net\nhttp://seanstagehierarchical.file.core.windows.net\nhttp://seanstagehierarchical.queue.core.windows.net\nhttp://seanstagehierarchical.table.core.windows.net\n\n\n\n\nhttp://seanstagehierarchical-secondary.blob.core.windows.net\nhttp://seanstagehierarchical-secondary.file.core.windows.net\nhttp://seanstagehierarchical-secondary.queue.core.windows.net\nhttp://seanstagehierarchical-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://seanstagehierarchical.blob.core.windows.net/;QueueEndpoint=http://seanstagehierarchical.queue.core.windows.net/;FileEndpoint=http://seanstagehierarchical.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagehierarchical-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagehierarchical-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagehierarchical-secondary.file.core.windows.net/;AccountName=seanstagehierarchical;AccountKey=Sanitized\n"
  }
}