{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-eda0e970-4d45-97a2-9326-e24d1a5589d5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 03 Feb 2021 02:09:31 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7E8BEF0544F\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:09:32 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-eda0e970-4d45-97a2-9326-e24d1a5589d5/test-file-9216b3b8-f043-7cea-ad1e-87cedbcabc81?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:09:31 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7E8BF3C71FC\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:09:32 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-eda0e970-4d45-97a2-9326-e24d1a5589d5/test-file-9216b3b8-f043-7cea-ad1e-87cedbcabc81?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Wed, 03 Feb 2021 02:09:31 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": [
        "\u07E0c\uFFFD\uFFFD\uFFFDn\uFFFD(m\uFFFDB[\uFFFD\uFFFD\u0006\uFFFD\uFFFDk)\uFFFDG\u003C\uFFFDP\uFFFDx\uFFFD\uFFFDSA\uFFFD%h\u0003@\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\td\uFFFD=\u000B\uFFFD\u070Fn\uFFFD\uFFFD\u000E\uFFFD!X\u0027\uFFFD\u003C2\u003C\uFFFD\u0010\uFFFD,\u0001\u001C\uFFFD\uFFFDm\uFFFDpk\uFFFD\uFFFD^D\u045B\uFFFDB\u0284\uFFFDiG\uFFFD\u0019\u[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-eda0e970-4d45-97a2-9326-e24d1a5589d5/test-file-9216b3b8-f043-7cea-ad1e-87cedbcabc81?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:09:32 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7E8BF66F7A8\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:09:33 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-eda0e970-4d45-97a2-9326-e24d1a5589d5/test-file-9216b3b8-f043-7cea-ad1e-87cedbcabc81",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:09:32 GMT",
        "x-ms-range": "bytes=256-767",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "8en/F2c156qMbRdttzD00g==",
        "Content-Range": "bytes 256-767/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7E8BF66F7A8\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:09:33 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 03 Feb 2021 02:09:32 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "r19b3ETgDZqAe2TSlb7FaqjsQSskrWcPz3GmPIdDrNyYQOWCnv8l3eWUhHYUTOC1jhESCx7gmQL3TA3SOtESPM\u002BIOVTZQ8yox2NFjynx\u002B4KQ8K12MaC\u002Bt6fjilLyUqIUgkemjBKM3EtFakS6mgnYBlCKQUkjnAsvyYGs9bh6tnTAMQ3hSm5vBBRiMMZbBByeCoQBaBBZ8OY7d8KR4OaTy7PQ\u002BWn89rzhGj01wWtE08VlDuszeE5jZ0AmptKs3iQtz2UTigqzohPIH03TJC969qP9K9L6X1JlbJIo1VDpNTwZB/EFMUi7sWvXa1kAkEMQq68ur7JSMm8TrR53is3C3ukRuRw\u002BdcRaQnlmI/P5ZdxPGCmhuoaJx9SB8oQqQyeeFYxv79Ym0jbq02w46w98GUhBKHGjISRjh/JIvIJAMP9Sxw1niXUGKEbyt\u002BYZUNvEBdg86Rq2\u002BvNoDGjj3RW0qaNt5iQCFI/SO/8rsWo9STYXhLapBEbknMwZ/30NIkswPQ1CrGq3wvBJaa4aikmJKsIxzFlfC6VciEpX6BUSxRi0\u002B3Nc\u002B53MYMLFYJqYyhGDkNW63Fbx0TJn5SMgX9nbNqSWZY/VLC8lZWyXmaoLxL4401hAV\u002BjCwypA9RV6qwDo6in1AmSCrmOmlXbpWjeIXCFk54uBm9\u002B706JllDcZq7k="
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-eda0e970-4d45-97a2-9326-e24d1a5589d5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:09:32 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "583557334",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}