{
  "Entries": [
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-aee393c8-4cf4-2a8b-e539-66b7ec4dbaef?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 18 Oct 2019 21:14:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D75410278CA5DE\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 21:14:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannse.dfs.core.windows.net/test-filesystem-aee393c8-4cf4-2a8b-e539-66b7ec4dbaef/test-file-741c87df-3250-d580-b58c-da12986d1483?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2019 21:14:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D754102791AA2A\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 21:14:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannse.dfs.core.windows.net/test-filesystem-aee393c8-4cf4-2a8b-e539-66b7ec4dbaef/test-file-741c87df-3250-d580-b58c-da12986d1483?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2019 21:14:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "Avc0lFR7G1NC7o9DRUIV1Aj4PrF2jEemSk10bbTtZGvOXUcd3JwZ/R6E67r\u002BSybJSetal3QvMnWwjUkGBq[...]
    {
      "RequestUri": "http://seannse.dfs.core.windows.net/test-filesystem-aee393c8-4cf4-2a8b-e539-66b7ec4dbaef/test-file-741c87df-3250-d580-b58c-da12986d1483?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2019 21:14:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D75410279764B5\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 21:14:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-aee393c8-4cf4-2a8b-e539-66b7ec4dbaef/test-file-741c87df-3250-d580-b58c-da12986d1483",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2019 21:14:25 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D75410279764B5\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 21:14:25 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 18 Oct 2019 21:14:25 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": "Avc0lFR7G1NC7o9DRUIV1Aj4PrF2jEemSk10bbTtZGvOXUcd3JwZ/R6E67r\u002BSybJSetal3QvMnWwjUkGBq6fVIkkdej79/hs3kGT8qCMp/8mqiPIk8z2nyvRbU5SE/Zv5Jcw2tU\u002BzlLz7rkznD/VI\u002BZK31uL1sG8Lda8KYqpGcpKIw0JXMwp6NzR1aQTwwLr/EloBzOa5A3Vc63/gqTHSdTu6Xkxy8cZIfd/uQEdqWrT0C1AQRKXrz7/M\u002BgfKWU3CYzPJdqJuTCBT\u002BU8GysMuMpDLLF2hgfCVzk7MZfe\u002BviRSLB0TYSPSRb9v/IsWpQS83se3Py0wIKEDM2gToeYo1XtqtJ7l2pFs\u002BKaeccVlvykKD4cvx373Yct8EC27/uOZRu[...]
[...]
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-f5243e61-1f22-8008-5cf8-f433fece6a06/test-file-21b7dddc-6b20-2c9a-f482-0fc8b43d0a74",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 17 Oct 2019 21:14:25 GMT",
        "x-ms-date": "Fri, 18 Oct 2019 21:14:26 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7541027DF611C\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 21:14:26 GMT",
        "x-ms-blob-type": "BlockBlob",
        "[...]
[...]
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-7b2b32c4-7114-8f05-c442-4a99853bf870/test-file-55fb07e0-5c8a-2465-e12d-2eb5323854c6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sat, 19 Oct 2019 21:14:25 GMT",
        "x-ms-date": "Fri, 18 Oct 2019 21:14:26 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7541027F0CB3B\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 21:14:26 GMT",
        "x-ms-blob-type": "BlockBlob",
        "[...]
[...]
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-0e7dda8d-3355-af68-46c3-304dd75bd20b/test-file-60985de8-a82f-9691-97ca-2a6beafc47c7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2019 21:14:26 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7541028022F00\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 21:14:26 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 18 Oct 2019 21:14:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-0e7dda8d-3355-af68-46c3-304dd75bd20b/test-file-60985de8-a82f-9691-97ca-2a6beafc47c7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D7541028022F00\u0022",
        "x-ms-date": "Fri, 18 Oct 2019 21:14:26 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7541028022F00\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 21:14:26 GMT",
        "x-ms-blob-type": "BlockBlob",
        "[...]
[...]
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-089e406d-f701-6fd5-0d43-cd68ca0b2452/test-file-fae80e47-9de8-9ecb-6342-6b8a8c674503",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Fri, 18 Oct 2019 21:14:26 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D754102815D1C0\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 21:14:26 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creat[...]
[...]
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-73aa276d-a217-adbb-4601-3d96c3f5fb90/test-file-c2aa6529-1bc6-8a0b-a28e-5fa0532f2e47?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2019 21:14:26 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "11066c0f-0810-d7ef-3f6f-ecf867700fdc",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D754102828ECE6\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 21:14:26 GMT",
        "x-ms-lease-id": "11066c0f-0810-d7ef-3f6f-ecf867700fdc",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-73aa276d-a217-adbb-4601-3d96c3f5fb90?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2019 21:14:26 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-10-18T14:14:25.6029640-07:00",
    "RandomSeed": "1247691042",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttp://seannse.blob.core.windows.net\nhttp://seannse.file.core.windows.net\nhttp://seannse.queue.core.windows.net\nhttp://seannse.table.core.windows.net\n\n\n\n\nhttp://seannse-secondary.blob.core.windows.net\nhttp://seannse-secondary.file.core.windows.net\nhttp://seannse-secondary.queue.core.windows.net\nhttp://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://seannse.blob.core.windows.net/;QueueEndpoint=http://seannse.queue.core.windows.net/;TableEndpoint=http://seannse.table.core.windows.net/;FileEndpoint=http://seannse.file.core.windows.net/;BlobSecondaryEndpoint=http://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seannse-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://seannse-secondary.table.core.windows.net/;FileSecondaryEndpoint=http://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized"
  }
}