{
  "Entries": [
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-filesystem-b21db5e4-21a6-3f65-4975-84d15c31ef70?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 03 Apr 2020 20:59:56 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D811F63517CC\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 20:59:55 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannsecanary.dfs.core.windows.net/test-filesystem-b21db5e4-21a6-3f65-4975-84d15c31ef70/test-file-18e26efc-4840-7633-e606-a9559b4d2590?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Apr 2020 20:59:56 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D811F6458B2D\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 20:59:55 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannsecanary.dfs.core.windows.net/test-filesystem-b21db5e4-21a6-3f65-4975-84d15c31ef70/test-file-18e26efc-4840-7633-e606-a9559b4d2590?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Apr 2020 20:59:56 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "kVu8Mj3CCiMWgFU\u002BC57zWRl2e2syermxqqRB26hGd\u002BfxVgIn0Lr1FiX3lFaADufUfNb4dV\[...]
    {
      "RequestUri": "http://seannsecanary.dfs.core.windows.net/test-filesystem-b21db5e4-21a6-3f65-4975-84d15c31ef70/test-file-18e26efc-4840-7633-e606-a9559b4d2590?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Apr 2020 20:59:57 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D811F6607F6B\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 20:59:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-filesystem-b21db5e4-21a6-3f65-4975-84d15c31ef70/test-file-18e26efc-4840-7633-e606-a9559b4d2590",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Apr 2020 20:59:57 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D811F6607F6B\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 20:59:55 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 03 Apr 2020 20:59:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "kVu8Mj3CCiMWgFU\u002BC57zWRl2e2syermxqqRB26hGd\u002BfxVgIn0Lr1FiX3lFaADufUfNb4dV\u002BlsxeiCoeZgC57zwhuTbSczIlfgGVFO\u002BZiMZy9bF7RTgKIS6PrhMUzXJX2e8VOEcAyOLBNmPX6X3cwQNnq3BTQqoAG5gERsEfDKyTPT78gEx/cijSug7UMjewrukTsSH\u002BBJtFERyu\u002BIYdpimzRKhC4ECy5DlLfISbK\u002BVgU5fYD1uOkTiju3MzzHWmsRPlIO2Pcc6oXMjktoQSreU3TqTuRZbOJLNznyTNgxfDoM9wtgr70OHFL7KOpd6wjQ2N\u002BIHMtGt9Fvw\u002BG9al2tmxJRG4nffeP3nHKRXkP37Qww4bQ4aV9uxj95[...]
[...]
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-filesystem-b21db5e4-21a6-3f65-4975-84d15c31ef70?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Apr 2020 20:59:57 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "680595123",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttp://seannsecanary.blob.core.windows.net\nhttp://seannsecanary.file.core.windows.net\nhttp://seannsecanary.queue.core.windows.net\nhttp://seannsecanary.table.core.windows.net\n\n\n\n\nhttp://seannsecanary-secondary.blob.core.windows.net\nhttp://seannsecanary-secondary.file.core.windows.net\nhttp://seannsecanary-secondary.queue.core.windows.net\nhttp://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://seannsecanary.blob.core.windows.net/;QueueEndpoint=http://seannsecanary.queue.core.windows.net/;FileEndpoint=http://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=http://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}