{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-29f864e2-b50b-2071-2a21-f1cdf5d5acbb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:10:19 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D509FF1975A9\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:10:18 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-29f864e2-b50b-2071-2a21-f1cdf5d5acbb/test-file-ca755df7-bae7-4540-d6ce-60a526a3425f?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:10:19 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D509FF288DB2\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:10:18 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-29f864e2-b50b-2071-2a21-f1cdf5d5acbb/test-file-ca755df7-bae7-4540-d6ce-60a526a3425f?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Fri, 19 Feb 2021 19:10:19 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": [
        "[O6#\uFFFD]\\\uFFFD,\uFFFD\uFFFDE\uFFFDU\u002B\u0001K\u0002\u0006~\uFFFD\uFFFDr\u0060u\n",
        "W\u00E1\uFFFD?)\uFFFD\u0004\uFFFD\uFFFD\uFFFD6h\u001B\uFFFD\uFFFDvO\uFFFD\uFFFD\u0002a\uFFFD\u0012\uFFFD\u0003\uFFFDlj\uFFFD\u05AE\uFFFD\u0006\uFFFD\uFFFDR\uFFFD\u030D\uFFFD\uFFFD\uFFFD\u0010\uFFFD\u031Eb\uFFFDc\uFFFD\u0010\uFFFDkTa\uFFFD\uFFFD[\u[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-29f864e2-b50b-2071-2a21-f1cdf5d5acbb/test-file-ca755df7-bae7-4540-d6ce-60a526a3425f?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:10:19 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D509FF417300\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:10:18 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-29f864e2-b50b-2071-2a21-f1cdf5d5acbb/test-file-ca755df7-bae7-4540-d6ce-60a526a3425f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:10:19 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D509FF417300\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:10:18 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:10:18 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "W082I7ddXJUs0vZFvlUrAUsCBn6G8XJgdQpXw6HaPym3BMCm8bM2aBu6jnZPup8CYakS5AOPbGrc1q6tBpjzUpLMjbqVhBCXzJ5iy2P7ELprVGH3x1smJ5hWyRsFiWKCxjvkgizlbd2ZexhkLaAG4MXzQrE3\u002B4s2pmUhPrr1kkM74AUnF42NheeEXktDwfr3T\u002BhVEkawS8uwrdzHwy4ipOjVKU2b38k3ZbzJsp0/8\u002BRqKu/Rn4D8i5Q5d2mxxsK5YrljbpitXG8fHayK5pgucLn4XJk\u002BUARo2J24YWhghp/6EFDj3IVMvc2AsoLUcaT7CwavuWopehK0\u002B5X69foHv5YNj9VISpQ0rJ/Lvp2ClGb5vFZhsM000ZY9L\u002BHvUcfTePPsxuHO[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-29f864e2-b50b-2071-2a21-f1cdf5d5acbb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:10:19 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "685890022",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}