{
  "Entries": [
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-882ed177-2b83-68e9-2f63-bb19486c398d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 12 Feb 2020 21:13:40 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7B0006EE00219\u0022",
        "Last-Modified": "Wed, 12 Feb 2020 21:13:40 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannse.dfs.core.windows.net/test-filesystem-882ed177-2b83-68e9-2f63-bb19486c398d/test-file-150fd624-1205-45ad-d6b5-a9012c70baa1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Feb 2020 21:13:40 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7B0006EEE5CD2\u0022",
        "Last-Modified": "Wed, 12 Feb 2020 21:13:40 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannse.dfs.core.windows.net/test-filesystem-882ed177-2b83-68e9-2f63-bb19486c398d/test-file-150fd624-1205-45ad-d6b5-a9012c70baa1?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Feb 2020 21:13:40 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "1ud1gxHKvIyBZcLDYCmbwcTlb/cc4iKSUAyx883RhJ89/KzCn22yx3jIVhkb75xKfgm\u002BP0QMmfTE4zMEGM[...]
    {
      "RequestUri": "http://seannse.dfs.core.windows.net/test-filesystem-882ed177-2b83-68e9-2f63-bb19486c398d/test-file-150fd624-1205-45ad-d6b5-a9012c70baa1?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Feb 2020 21:13:40 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7B0006EFA43B6\u0022",
        "Last-Modified": "Wed, 12 Feb 2020 21:13:40 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-882ed177-2b83-68e9-2f63-bb19486c398d/test-file-150fd624-1205-45ad-d6b5-a9012c70baa1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Feb 2020 21:13:40 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7B0006EFA43B6\u0022",
        "Last-Modified": "Wed, 12 Feb 2020 21:13:40 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 12 Feb 2020 21:13:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": "1ud1gxHKvIyBZcLDYCmbwcTlb/cc4iKSUAyx883RhJ89/KzCn22yx3jIVhkb75xKfgm\u002BP0QMmfTE4zMEGMi/r\u002BEjhWN82SFXM6h\u002BVIwJd2FvZnXDE0RbMGO4/bw6ra6wCKY3\u002BGk4zqXnZwubjUVnu2vRlbFT\u002B5ycx1QAxNtkHIb5zkvm0n/4NpjP26s5v6IeUUJRaRj8XAwJmjAUOArKg0qFob/5gOns2F4Zgx/wYwix4XKYE7Nt/HE\u002B3DdO5P6OBVhhsx3jJdBZZJC649ntGDcnYleXMW\u002BXF6RNuqSxnvRfin3Hj6/qzryiP68jsxmYUcP/JoGm99Tpypx4lmosp8abWllcJYmHPZSa9fLAc2OLtGngsndyuZOo3cUTcTdSdpf[...]
[...]
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-882ed177-2b83-68e9-2f63-bb19486c398d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Feb 2020 21:13:40 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1441194745",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttp://seannse.blob.core.windows.net\nhttp://seannse.file.core.windows.net\nhttp://seannse.queue.core.windows.net\nhttp://seannse.table.core.windows.net\n\n\n\n\nhttp://seannse-secondary.blob.core.windows.net\nhttp://seannse-secondary.file.core.windows.net\nhttp://seannse-secondary.queue.core.windows.net\nhttp://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://seannse.blob.core.windows.net/;QueueEndpoint=http://seannse.queue.core.windows.net/;FileEndpoint=http://seannse.file.core.windows.net/;BlobSecondaryEndpoint=http://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}