{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-c53e9951-211e-1c88-c2a2-a80d24dcf4dc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:59:17 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D510D6608747\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:59:16 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-c53e9951-211e-1c88-c2a2-a80d24dcf4dc/test-file-77a2db1c-3e45-01aa-e9f4-6ef889f036bb?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:59:17 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D510D671A59C\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:59:16 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-c53e9951-211e-1c88-c2a2-a80d24dcf4dc/test-file-77a2db1c-3e45-01aa-e9f4-6ef889f036bb?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 19 Feb 2021 19:59:17 GMT"
      },
      "RequestBody": "Fy7vcVoyiY1IQbBqCXOa0ojoY590LFYncx9EbBM\u002BCYvulx84KPsrYmHuwSPRjE6nHajMbthNKevXx/067h16CjckfHJTYaqMvQA9hmoyVubRnE5qcZuzoG00YWD\u002B8HREdLfsrBDbU7z9QLDXEKOBpHAXaVHOD5iccNwEHwBJjs2L\u002BRGyRqnW9UmRbTHq3JDKs7zw54cjdWQfUDw01zS8s7LjSxaRzl3HQHQIPKJnsZRMOmxDWadFaIStkvZtoR0V1bl\u002BBpB5OOReKaYTGzjCuJ6n6J3HeFoLneOS5DtnWZ9W8mfo6KoD0gGH5TAAMkxL6tpYxbmATVxfc2it5lSo988HvSjR2c/zoxWbP5MpCmuWRvl[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-c53e9951-211e-1c88-c2a2-a80d24dcf4dc/test-file-77a2db1c-3e45-01aa-e9f4-6ef889f036bb?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:59:17 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D510D68D676C\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:59:16 GMT",
        "x-ms-request-server-encrypted": "false",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-c53e9951-211e-1c88-c2a2-a80d24dcf4dc/test-file-77a2db1c-3e45-01aa-e9f4-6ef889f036bb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:59:17 GMT",
        "x-ms-range": "bytes=0-268435455"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D510D68D676C\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:59:16 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:59:16 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": "Fy7vcVoyiY1IQbBqCXOa0ojoY590LFYncx9EbBM\u002BCYvulx84KPsrYmHuwSPRjE6nHajMbthNKevXx/067h16CjckfHJTYaqMvQA9hmoyVubRnE5qcZuzoG00YWD\u002B8HREdLfsrBDbU7z9QLDXEKOBpHAXaVHOD5iccNwEHwBJjs2L\u002BRGyRqnW9UmRbTHq3JDKs7zw54cjdWQfUDw01zS8s7LjSxaRzl3HQHQIPKJnsZRMOmxDWadFaIStkvZtoR0V1bl\u002BBpB5OOReKaYTGzjCuJ6n6J3HeFoLneOS5DtnWZ9W8mfo6KoD0gGH5TAAMkxL6tpYxbmATVxfc2it5lSo988HvSjR2c/zoxWbP5MpCmuWRvlhD5Tl1aUKiXRCVuus3\u002B5h\u002BXU[...]
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-c53e9951-211e-1c88-c2a2-a80d24dcf4dc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:59:17 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1051508055",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}