{
  "Entries": [
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-e0de392c-1390-8d91-91d0-dcf570d2761e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 18 Oct 2019 21:14:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D754102779E129\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 21:14:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannse.dfs.core.windows.net/test-filesystem-e0de392c-1390-8d91-91d0-dcf570d2761e/test-file-2d69c16f-82e2-eec7-46d0-510ed5b8e80c?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2019 21:14:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D75410277EB9EE\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 21:14:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannse.dfs.core.windows.net/test-filesystem-e0de392c-1390-8d91-91d0-dcf570d2761e/test-file-2d69c16f-82e2-eec7-46d0-510ed5b8e80c?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2019 21:14:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "LOCPFJwlvmjuBKNr8oTsYOR3/yPeOpXOg4rBlbPvISXl2eDBoNjI0I2LToTFwYC27a93QBcbafJKwZARYym1/uN[...]
    {
      "RequestUri": "http://seannse.dfs.core.windows.net/test-filesystem-e0de392c-1390-8d91-91d0-dcf570d2761e/test-file-2d69c16f-82e2-eec7-46d0-510ed5b8e80c?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2019 21:14:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7541027844691\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 21:14:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-e0de392c-1390-8d91-91d0-dcf570d2761e/test-file-2d69c16f-82e2-eec7-46d0-510ed5b8e80c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2019 21:14:25 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7541027844691\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 21:14:25 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 18 Oct 2019 21:14:25 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": "LOCPFJwlvmjuBKNr8oTsYOR3/yPeOpXOg4rBlbPvISXl2eDBoNjI0I2LToTFwYC27a93QBcbafJKwZARYym1/uN9hRmjK78Mry6WUusRCMEJCqcDd\u002BAOym/udt9Htmxk1k\u002BhSDxnE8LvapHphRYGObjOCFmBsYcCb7qptbTgxfjBMXuccMCFovfkFA1OJEVZ5z0neK4T4iXIntiBvV0OD6SYKFOaasj4SWZhnJx5tEt1UM13uE1KrU9W09LnBOSZ1gRotfzxvn10Li5IsUWITumNC22QllZXTnoERJb2EEWByMaYEf5Pg5JQAokeAfwJzYXoWvh2CUCtEGeB7Xnmfh7pxul/8D3rPojbQJPNOU1\u002B\u002BncRDbZNC76G6gCXzZYYaYRrNTsSidxH/Bxvm8[...]
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-e0de392c-1390-8d91-91d0-dcf570d2761e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2019 21:14:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1160499639",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttp://seannse.blob.core.windows.net\nhttp://seannse.file.core.windows.net\nhttp://seannse.queue.core.windows.net\nhttp://seannse.table.core.windows.net\n\n\n\n\nhttp://seannse-secondary.blob.core.windows.net\nhttp://seannse-secondary.file.core.windows.net\nhttp://seannse-secondary.queue.core.windows.net\nhttp://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://seannse.blob.core.windows.net/;QueueEndpoint=http://seannse.queue.core.windows.net/;TableEndpoint=http://seannse.table.core.windows.net/;FileEndpoint=http://seannse.file.core.windows.net/;BlobSecondaryEndpoint=http://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seannse-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://seannse-secondary.table.core.windows.net/;FileSecondaryEndpoint=http://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized"
  }
}