{
  "Entries": [
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-00b504af-b2fe-1c16-3910-802d0d621e20?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 22:21:44 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C15396BEE9FE\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:21:45 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.dfs.core.windows.net/test-filesystem-00b504af-b2fe-1c16-3910-802d0d621e20/test-file-1a178049-1a7e-9a36-9ee2-70dfe4310043?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:21:45 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C15396F3DB09\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:21:45 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-00b504af-b2fe-1c16-3910-802d0d621e20/test-file-1a178049-1a7e-9a36-9ee2-70dfe4310043?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:21:45 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "b6b6fef3-d5f5-fa36-0b21-9bf35519c680",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C15396F3DB09\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:21:45 GMT",
        "x-ms-lease-id": "b6b6fef3-d5f5-fa36-0b21-9bf35519c680",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-00b504af-b2fe-1c16-3910-802d0d621e20/test-file-1a178049-1a7e-9a36-9ee2-70dfe4310043?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Fri, 06 Mar 2020 22:21:44 GMT",
        "x-ms-date": "Thu, 05 Mar 2020 22:21:45 GMT",
        "x-ms-lease-action": "release",
        "x-ms-lease-id": "b6b6fef3-d5f5-fa36-0b21-9bf35519c680",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:6afb7461-f01e-0012-203c-f3e9eb000000\n",
        "Time:2020-03-05T22:21:45.6925057Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-2ca6d22a-721c-04b4-0c04-ae55b93bb439/test-file-4b30ecf0-146e-1fc9-c4ec-7b37a1afeb36?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Wed, 04 Mar 2020 22:21:44 GMT",
        "x-ms-date": "Thu, 05 Mar 2020 22:21:46 GMT",
        "x-ms-lease-action": "release",
        "x-ms-lease-id": "703d1289-efff-14d3-4d6d-078ded135d8c",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:60917d06-901e-0049-5f3c-f3d0d0000000\n",
        "Time:2020-03-05T22:21:46.6334929Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-5f965361-0915-102b-c2aa-6f837c5de51b/test-file-2e94cb8e-8ead-5537-911d-4bd8ba713be2?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-date": "Thu, 05 Mar 2020 22:21:47 GMT",
        "x-ms-lease-action": "release",
        "x-ms-lease-id": "fc7bb11f-97f4-c20d-fd46-196e8da4dd39",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:36ca34ca-201e-003e-4d3c-f30544000000\n",
        "Time:2020-03-05T22:21:47.5351297Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-8315752a-859b-476d-d1bd-feaa6d993fc9/test-file-e9bfdc8f-4ecf-d212-3f3d-0dbd7d4b4aec",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:21:48 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C1539897341D\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:21:48 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 05 Mar 2020 22:21:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-8315752a-859b-476d-d1bd-feaa6d993fc9/test-file-e9bfdc8f-4ecf-d212-3f3d-0dbd7d4b4aec?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u00220x8D7C1539897341D\u0022",
        "x-ms-date": "Thu, 05 Mar 2020 22:21:48 GMT",
        "x-ms-lease-action": "release",
        "x-ms-lease-id": "9fa3d98a-cf66-7b55-4979-484316713f9f",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:b2d66919-501e-0034-5c3c-f3a1f3000000\n",
        "Time:2020-03-05T22:21:48.5214851Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-8315752a-859b-476d-d1bd-feaa6d993fc9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:21:48 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-03-05T14:21:44.9727973-08:00",
    "RandomSeed": "1396927625",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanstagehierarchical\nU2FuaXRpemVk\nhttps://seanstagehierarchical.blob.core.windows.net\nhttp://seanstagehierarchical.file.core.windows.net\nhttp://seanstagehierarchical.queue.core.windows.net\nhttp://seanstagehierarchical.table.core.windows.net\n\n\n\n\nhttp://seanstagehierarchical-secondary.blob.core.windows.net\nhttp://seanstagehierarchical-secondary.file.core.windows.net\nhttp://seanstagehierarchical-secondary.queue.core.windows.net\nhttp://seanstagehierarchical-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanstagehierarchical.blob.core.windows.net/;QueueEndpoint=http://seanstagehierarchical.queue.core.windows.net/;FileEndpoint=http://seanstagehierarchical.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagehierarchical-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagehierarchical-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagehierarchical-secondary.file.core.windows.net/;AccountName=seanstagehierarchical;AccountKey=Sanitized\n"
  }
}