{
  "Entries": [
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-b76b330b-b139-f7bf-1f8f-bb1ccca1a47f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 27 Apr 2020 04:55:07 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EA6728812387\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 04:55:07 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary.dfs.core.windows.net/test-filesystem-b76b330b-b139-f7bf-1f8f-bb1ccca1a47f/test-file-c7cc7c43-d5c9-92f7-e480-a7f65f761076?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2020 04:55:07 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EA67288F5857\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 04:55:07 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-b76b330b-b139-f7bf-1f8f-bb1ccca1a47f/test-file-c7cc7c43-d5c9-92f7-e480-a7f65f761076?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2020 04:55:08 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "7e3f8c43-d97b-8768-f8c2-d9a8b2701c60",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EA67288F5857\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 04:55:07 GMT",
        "x-ms-lease-id": "7e3f8c43-d97b-8768-f8c2-d9a8b2701c60",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-79d2a009-ba1b-747f-bb55-dd873ac97703/test-file-0381eb5c-b552-2341-5c4f-912b2ee40dc4?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Sun, 26 Apr 2020 04:55:07 GMT",
        "x-ms-date": "Mon, 27 Apr 2020 04:55:08 GMT",
        "x-ms-lease-action": "release",
        "x-ms-lease-id": "0ce182cc-234f-903d-c5d4-0a0504ea84af",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EA6728D3B2CC\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 04:55:08 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-9c4fb03a-3323-fe83-515c-55127edd66d3/test-file-715c9280-0b22-c064-9a23-7f9d0fbf4e5c?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Tue, 28 Apr 2020 04:55:07 GMT",
        "x-ms-date": "Mon, 27 Apr 2020 04:55:08 GMT",
        "x-ms-lease-action": "release",
        "x-ms-lease-id": "0410623f-9ec3-07cb-e022-dc2ebad10563",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EA672918D484\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 04:55:08 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-9a6ad5ef-a5c2-d5c5-aa86-6a39f175a5e9/test-file-a07d195c-3aa6-8a63-9ccc-60181d5f9f99",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2020 04:55:09 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7EA67295CE0DA\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 04:55:09 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 27 Apr 2020 04:55:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-9a6ad5ef-a5c2-d5c5-aa86-6a39f175a5e9/test-file-a07d195c-3aa6-8a63-9ccc-60181d5f9f99?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D7EA67295CE0DA\u0022",
        "x-ms-date": "Mon, 27 Apr 2020 04:55:09 GMT",
        "x-ms-lease-action": "release",
        "x-ms-lease-id": "617ac7f1-e464-849f-b38f-f77ba30b8694",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EA67295CE0DA\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 04:55:09 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-9bf9b5a3-fdc4-d397-9393-af8a76ada929/test-file-ae154a65-5332-05be-3e9a-24f329e17392?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Mon, 27 Apr 2020 04:55:09 GMT",
        "x-ms-lease-action": "release",
        "x-ms-lease-id": "05e68fe3-2338-d8cd-926e-56b1b27d8a7f",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EA6729AD28A4\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 04:55:09 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-9bf9b5a3-fdc4-d397-9393-af8a76ada929?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2020 04:55:10 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-26T21:55:07.8170119-07:00",
    "RandomSeed": "997000791",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary\nU2FuaXRpemVk\nhttp://amandaadlscanary.blob.core.windows.net\nhttp://amandaadlscanary.file.core.windows.net\nhttp://amandaadlscanary.queue.core.windows.net\nhttp://amandaadlscanary.table.core.windows.net\n\n\n\n\nhttp://amandaadlscanary-secondary.blob.core.windows.net\nhttp://amandaadlscanary-secondary.file.core.windows.net\nhttp://amandaadlscanary-secondary.queue.core.windows.net\nhttp://amandaadlscanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://amandaadlscanary.blob.core.windows.net/;QueueEndpoint=http://amandaadlscanary.queue.core.windows.net/;FileEndpoint=http://amandaadlscanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandaadlscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandaadlscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandaadlscanary-secondary.file.core.windows.net/;AccountName=amandaadlscanary;AccountKey=Sanitized\n\n\n"
  }
}