{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-6cbec0b7-8f68-a7f6-1e16-009b7420c8e6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:10:42 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D50A0D538E14\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:10:42 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-6cbec0b7-8f68-a7f6-1e16-009b7420c8e6/test-file-11663349-e03d-b3dd-5e31-5a1da302a582?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:10:43 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D50A0D62D598\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:10:42 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-6cbec0b7-8f68-a7f6-1e16-009b7420c8e6/test-file-1270d4bb-3fc4-e73c-2988-d56b40e10650?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:10:43 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-6cbec0b7-8f68-a7f6-1e16-009b7420c8e6%2Ftest-file-11663349-e03d-b3dd-5e31-5a1da302a582=",
        "x-ms-source-if-modified-since": "Sat, 20 Feb 2021 19:10:42 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "SourceConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": {
        "error": {
          "code": "SourceConditionNotMet",
          "message": "The source condition specified using HTTP conditional header(s) is not met.\nRequestId:6f4b42f6-e01f-004f-4ff2-060e0b000000\nTime:2021-02-19T19:10:42.5644484Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-29ac9541-ea2f-10b4-4208-2147dcc667ae/test-file-a787327f-762b-7b21-3285-b6c22e0e4447?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:10:43 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-29ac9541-ea2f-10b4-4208-2147dcc667ae%2Ftest-file-d9064e3a-5ed9-dd17-dbc1-8e634c3f4597=",
        "x-ms-source-if-unmodified-since": "Thu, 18 Feb 2021 19:10:42 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "SourceConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": {
        "error": {
          "code": "SourceConditionNotMet",
          "message": "The source condition specified using HTTP conditional header(s) is not met.\nRequestId:6f4b4355-e01f-004f-2ef2-060e0b000000\nTime:2021-02-19T19:10:42.9897476Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-8b8e3345-2006-793c-f3a0-7db1b3a6e550/test-file-048ddf55-04fd-ba4e-fbb0-47891bd6bc67?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:10:44 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-8b8e3345-2006-793c-f3a0-7db1b3a6e550%2Ftest-file-21240b70-1688-ad6e-0a7e-7be802e80dc7=",
        "x-ms-source-if-match": "\"garbage\"",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "SourceConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": {
        "error": {
          "code": "SourceConditionNotMet",
          "message": "The source condition specified using HTTP conditional header(s) is not met.\nRequestId:6f4b43ef-e01f-004f-48f2-060e0b000000\nTime:2021-02-19T19:10:43.4040390Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-4056e9e3-56c4-6eff-4e35-d8fdb85810ea/test-file-55392cc0-d386-ff5c-5848-032bee21accd",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:10:44 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D8D50A0E234CD2\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:10:43 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:10:43 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-4056e9e3-56c4-6eff-4e35-d8fdb85810ea/test-file-82f734f4-041f-82d0-7ad2-5457fca41cb0?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:10:44 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-4056e9e3-56c4-6eff-4e35-d8fdb85810ea%2Ftest-file-55392cc0-d386-ff5c-5848-032bee21accd=",
        "x-ms-source-if-none-match": "0x8D8D50A0E234CD2",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "SourceConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": {
        "error": {
          "code": "SourceConditionNotMet",
          "message": "The source condition specified using HTTP conditional header(s) is not met.\nRequestId:6f4b448f-e01f-004f-67f2-060e0b000000\nTime:2021-02-19T19:10:43.9524247Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-43315c05-a9cc-1566-efcc-78d3a2611d82/test-file-bfdb49f7-910b-7a38-4082-4c7663dc1ecb?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:10:45 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-43315c05-a9cc-1566-efcc-78d3a2611d82%2Ftest-file-77b9af83-6c06-bdf7-3a70-0a74ad8e8360=",
        "x-ms-source-lease-id": "75072117-be69-b194-d212-19ca1197ad39",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "LeaseNotPresent",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": {
        "error": {
          "code": "LeaseNotPresent",
          "message": "There is currently no lease on the resource.\nRequestId:6f4b44fd-e01f-004f-55f2-060e0b000000\nTime:2021-02-19T19:10:44.3917337Z"
        }
      }
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-43315c05-a9cc-1566-efcc-78d3a2611d82?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:10:45 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-19T13:10:42.977418-06:00",
    "RandomSeed": "1361571186",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n\n\n"
  }
}