{
  "Entries": [
    {
      "RequestUri": "https://jolovstorage2dtlk.blob.core.windows.net/test-filesystem-4550b917-f3ad-8f2c-f099-ea1777084a11?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 01 Feb 2022 05:50:20 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9E546BB5C7306\u0022",
        "Last-Modified": "Tue, 01 Feb 2022 05:50:20 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jolovstorage2dtlk.dfs.core.windows.net/test-filesystem-4550b917-f3ad-8f2c-f099-ea1777084a11/test-directory-cf83b42b-7ed2-9646-41c2-f490a3138c2b?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 01 Feb 2022 05:50:20 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9E546BB66926B\u0022",
        "Last-Modified": "Tue, 01 Feb 2022 05:50:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jolovstorage2dtlk.dfs.core.windows.net/test-filesystem-4550b917-f3ad-8f2c-f099-ea1777084a11/!\u0027()%3B%5B%5D%40%26%25%3D%2B%24%2C%23%C3%A4%C3%84%C3%B6%C3%96%C3%BC%C3%9C%C3%9F%3B?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 01 Feb 2022 05:50:20 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9E546BB6D75EC\u0022",
        "Last-Modified": "Tue, 01 Feb 2022 05:50:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jolovstorage2dtlk.dfs.core.windows.net/test-filesystem-4550b917-f3ad-8f2c-f099-ea1777084a11/test-directory-cf83b42b-7ed2-9646-41c2-f490a3138c2b/test-file-c6f1f52b-7b48-ddd2-c3f3-eae5aac25266?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 01 Feb 2022 05:50:20 GMT",
        "x-ms-rename-source": "/test-filesystem-4550b917-f3ad-8f2c-f099-ea1777084a11/%21%27%28%29%3B%5B%5D%40%26%25%3D%2B%24%2C%23%C3%A4%C3%84%C3%B6%C3%96%C3%BC%C3%9C%C3%9F%3B",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9E546BB6D75EC\u0022",
        "Last-Modified": "Tue, 01 Feb 2022 05:50:20 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jolovstorage2dtlk.blob.core.windows.net/test-filesystem-4550b917-f3ad-8f2c-f099-ea1777084a11/test-directory-cf83b42b-7ed2-9646-41c2-f490a3138c2b/test-file-c6f1f52b-7b48-ddd2-c3f3-eae5aac25266",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 01 Feb 2022 05:50:20 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9E546BB6D75EC\u0022",
        "Last-Modified": "Tue, 01 Feb 2022 05:50:20 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 01 Feb 2022 05:50:20 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jolovstorage2dtlk.blob.core.windows.net/test-filesystem-4550b917-f3ad-8f2c-f099-ea1777084a11?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 01 Feb 2022 05:50:20 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1666840062",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njolovstorage2dtlk\nU2FuaXRpemVk\nhttps://jolovstorage2dtlk.blob.core.windows.net\nhttps://jolovstorage2dtlk.file.core.windows.net\nhttps://jolovstorage2dtlk.queue.core.windows.net\nhttps://jolovstorage2dtlk.table.core.windows.net\n\n\n\n\nhttps://jolovstorage2dtlk-secondary.blob.core.windows.net\nhttps://jolovstorage2dtlk-secondary.file.core.windows.net\nhttps://jolovstorage2dtlk-secondary.queue.core.windows.net\nhttps://jolovstorage2dtlk-secondary.table.core.windows.net\n242889f1-3df0-481a-bbb4-7e4030a75fe2\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://jolovstorage2dtlk.blob.core.windows.net/;QueueEndpoint=https://jolovstorage2dtlk.queue.core.windows.net/;FileEndpoint=https://jolovstorage2dtlk.file.core.windows.net/;BlobSecondaryEndpoint=https://jolovstorage2dtlk-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jolovstorage2dtlk-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jolovstorage2dtlk-secondary.file.core.windows.net/;AccountName=jolovstorage2dtlk;AccountKey=Sanitized\n\n\n"
  }
}
