{
  "Entries": [
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-28cf39a2-ed26-364a-2bcf-8d59f6444099?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 01 May 2020 01:05:41 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7ED6BC558EAD9\u0022",
        "Last-Modified": "Fri, 01 May 2020 01:05:42 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-28cf39a2-ed26-364a-2bcf-8d59f6444099/test-file-123b4e53-b0f9-046f-22e8-ade6371a1c15?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 01 May 2020 01:05:41 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7ED6BC58BCA6C\u0022",
        "Last-Modified": "Fri, 01 May 2020 01:05:42 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-28cf39a2-ed26-364a-2bcf-8d59f6444099/test-file-e32abd09-c9c9-6a59-41d9-4b66614138c1?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 01 May 2020 01:05:42 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-28cf39a2-ed26-364a-2bcf-8d59f6444099%2Ftest-file-123b4e53-b0f9-046f-22e8-ade6371a1c15=",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-28cf39a2-ed26-364a-2bcf-8d59f6444099/test-file-e32abd09-c9c9-6a59-41d9-4b66614138c1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 01 May 2020 01:05:42 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7ED6BC58BCA6C\u0022",
        "Last-Modified": "Fri, 01 May 2020 01:05:42 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 01 May 2020 01:05:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-270f427c-ac4a-4359-fd54-caf63e0d9ec2/test-file-cf4f46a8-c76e-81c5-e9e9-7915b5ede266?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 01 May 2020 01:05:43 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-270f427c-ac4a-4359-fd54-caf63e0d9ec2%2Ftest-file-198297c5-239b-a323-a7bb-b2bb420a27d1=",
        "x-ms-source-if-modified-since": "Thu, 30 Apr 2020 01:05:41 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-e529a684-afbb-6ea0-0993-3005b97c3ee1/test-file-a671b9c1-45a7-361d-7607-aec6543773c1?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 01 May 2020 01:05:44 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-e529a684-afbb-6ea0-0993-3005b97c3ee1%2Ftest-file-66f58a10-2309-8196-a492-5d4f8d07303b=",
        "x-ms-source-if-unmodified-since": "Sat, 02 May 2020 01:05:41 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-85503557-b6d7-3814-2757-d828ccc81e8c/test-file-c6143613-004f-5e1b-2736-23b059b813a2?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 01 May 2020 01:05:45 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-85503557-b6d7-3814-2757-d828ccc81e8c%2Ftest-file-ecc7e38e-e9af-f79b-35c7-e8d770e2a945=",
        "x-ms-source-if-match": "\u00220x8D7ED6BC76DC506\u0022",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-e3121106-e539-c387-05c1-662265be9bbc/test-file-ec724a3e-bc2e-e9b4-3f81-69d525c7f0fa?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 01 May 2020 01:05:46 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-e3121106-e539-c387-05c1-662265be9bbc%2Ftest-file-1f96bf4f-820b-8a93-4d2a-6cc2a006e797=",
        "x-ms-source-if-none-match": "\u0022garbage\u0022",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-e0d9a197-d5f0-0117-a83f-3b54e910ad86/test-file-7e633591-539a-f686-6104-70537364e291?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 01 May 2020 01:05:47 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "e6601801-16eb-d396-ccae-8d0f9d498982",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7ED6BC8BBC3A8\u0022",
        "Last-Modified": "Fri, 01 May 2020 01:05:48 GMT",
        "x-ms-lease-id": "e6601801-16eb-d396-ccae-8d0f9d498982",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-e0d9a197-d5f0-0117-a83f-3b54e910ad86/test-file-8f10a9cb-b2b0-1f41-23d4-48bbd4fd8fc2?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 01 May 2020 01:05:47 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-e0d9a197-d5f0-0117-a83f-3b54e910ad86%2Ftest-file-7e633591-539a-f686-6104-70537364e291=",
        "x-ms-source-lease-id": "e6601801-16eb-d396-ccae-8d0f9d498982",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-e0d9a197-d5f0-0117-a83f-3b54e910ad86?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 01 May 2020 01:05:48 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-30T18:05:41.6400989-07:00",
    "RandomSeed": "1470266210",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttps://seannsecanary.blob.core.windows.net\nhttps://seannsecanary.file.core.windows.net\nhttps://seannsecanary.queue.core.windows.net\nhttps://seannsecanary.table.core.windows.net\n\n\n\n\nhttps://seannsecanary-secondary.blob.core.windows.net\nhttps://seannsecanary-secondary.file.core.windows.net\nhttps://seannsecanary-secondary.queue.core.windows.net\nhttps://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannsecanary.blob.core.windows.net/;QueueEndpoint=https://seannsecanary.queue.core.windows.net/;FileEndpoint=https://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}