{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-5dc46b66-daaa-dc1b-a97d-c68bc1a20d4f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 22:35:21 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3944FD9C1FA\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:35:22 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-5dc46b66-daaa-dc1b-a97d-c68bc1a20d4f/test-file-7b0e73ca-b310-3efd-cdb3-3833d230fb11?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:35:22 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D394501175E7\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:35:22 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-5dc46b66-daaa-dc1b-a97d-c68bc1a20d4f/test-file-cb65a13b-25ad-8be9-73bf-4e731c0fca97?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:35:22 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-5dc46b66-daaa-dc1b-a97d-c68bc1a20d4f%2Ftest-file-7b0e73ca-b310-3efd-cdb3-3833d230fb11=",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-5dc46b66-daaa-dc1b-a97d-c68bc1a20d4f/test-file-cb65a13b-25ad-8be9-73bf-4e731c0fca97",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:35:22 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D394501175E7\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:35:22 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 22:35:22 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-bf525ee9-f743-c9d8-c3bb-4ca808778345/test-file-babe7bed-263f-b5c1-b1e8-bc7c51cef0ce?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 16 Feb 2021 22:35:21 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 22:35:23 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-bf525ee9-f743-c9d8-c3bb-4ca808778345%2Ftest-file-b762eb59-d315-7a4d-a4a4-992c68c67d6b=",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-ad556c60-d571-68af-74e9-777944cb479f/test-file-0537a987-560e-c8d1-ca44-44c3273b03a9?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 18 Feb 2021 22:35:21 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 22:35:25 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-ad556c60-d571-68af-74e9-777944cb479f%2Ftest-file-e6e3a8a0-a4af-9dbe-efc5-04bea9f1607f=",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-90d81c5e-b9f6-f754-2ad2-791f538a0773/test-file-cc55db50-22e6-874f-529e-6e4e76ff432a?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D3945224AB7A",
        "x-ms-date": "Wed, 17 Feb 2021 22:35:26 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-90d81c5e-b9f6-f754-2ad2-791f538a0773%2Ftest-file-9c02d64c-4294-060b-de2c-a4be8cc254b9=",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-c817e471-6dd6-a797-ab8d-73400ead09b0/test-file-61af412a-5b3f-ce7c-d9fd-96cbeffadbb6?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Wed, 17 Feb 2021 22:35:27 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-c817e471-6dd6-a797-ab8d-73400ead09b0%2Ftest-file-691cb72c-4bff-0307-5976-b00a2fd1bc05=",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-ab2b4bd2-4920-b5c5-d45b-ccf4609af9a9/test-file-f3fd0eb4-70ba-73d2-4933-dfb151faa0d9?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:35:28 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "801fb2d6-c911-8576-19ce-d44f02b28f80",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D394537F08CB\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:35:28 GMT",
        "x-ms-lease-id": "801fb2d6-c911-8576-19ce-d44f02b28f80",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-ab2b4bd2-4920-b5c5-d45b-ccf4609af9a9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:35:28 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T16:35:21.8947620-06:00",
    "RandomSeed": "1330411428",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}