{
  "Entries": [
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-filesystem-5cd55b6d-d73e-2357-ed7d-283b38fd6ed7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 03 Apr 2020 21:00:22 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D812056734E7\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 21:00:20 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannsecanary.dfs.core.windows.net/test-filesystem-5cd55b6d-d73e-2357-ed7d-283b38fd6ed7/test-file-51fb52d1-4fa6-bfdf-ca4b-e7e03886ebee?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Apr 2020 21:00:22 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D81205764D99\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 21:00:20 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannsecanary.dfs.core.windows.net/test-filesystem-5cd55b6d-d73e-2357-ed7d-283b38fd6ed7/test-file-cf1fed45-57ab-341b-e829-e304e20eed8c?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Sat, 04 Apr 2020 21:00:22 GMT",
        "x-ms-date": "Fri, 03 Apr 2020 21:00:22 GMT",
        "x-ms-rename-source": "/test-filesystem-5cd55b6d-d73e-2357-ed7d-283b38fd6ed7/test-file-51fb52d1-4fa6-bfdf-ca4b-e7e03886ebee",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified using HTTP conditional header(s) is not met.\nRequestId:fa440044-201f-0097-5cfa-091bad000000\nTime:2020-04-03T21:00:23.3374975Z"
        }
      }
    },
[...]
    {
      "RequestUri": "http://seannsecanary.dfs.core.windows.net/test-filesystem-224630c0-7f36-cbb0-6e10-0d342733471f/test-file-4bfcb4da-8f3b-501d-4556-0d877f866c06?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 02 Apr 2020 21:00:22 GMT",
        "x-ms-date": "Fri, 03 Apr 2020 21:00:25 GMT",
        "x-ms-rename-source": "/test-filesystem-224630c0-7f36-cbb0-6e10-0d342733471f/test-file-7aaa7df5-8463-67b8-4202-9ab36efc2ea8",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified using HTTP conditional header(s) is not met.\nRequestId:fa440047-201f-0097-5ffa-091bad000000\nTime:2020-04-03T21:00:28.2829771Z"
        }
      }
    },
[...]
    {
      "RequestUri": "http://seannsecanary.dfs.core.windows.net/test-filesystem-3545cc2d-206e-be17-a559-3fa406af0c33/test-file-b8c533e6-3426-841f-35b8-38fad0d9c02a?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-date": "Fri, 03 Apr 2020 21:00:30 GMT",
        "x-ms-rename-source": "/test-filesystem-3545cc2d-206e-be17-a559-3fa406af0c33/test-file-777f6e41-4d2b-ebd8-3ec2-5fe7c9889ee2",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified using HTTP conditional header(s) is not met.\nRequestId:fa44004e-201f-0097-64fa-091bad000000\nTime:2020-04-03T21:00:28.8353652Z"
        }
      }
    },
[...]
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-filesystem-91d336ac-0fca-e27f-d2a5-6ea267cb96d2/test-file-ef1b03d2-85a2-51d5-57eb-3775f724b3e2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Apr 2020 21:00:30 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D8120A6F8E58\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 21:00:29 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 03 Apr 2020 21:00:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannsecanary.dfs.core.windows.net/test-filesystem-91d336ac-0fca-e27f-d2a5-6ea267cb96d2/test-file-ef1b03d2-85a2-51d5-57eb-3775f724b3e2?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u00220x8D7D8120A6F8E58\u0022",
        "x-ms-date": "Fri, 03 Apr 2020 21:00:30 GMT",
        "x-ms-rename-source": "/test-filesystem-91d336ac-0fca-e27f-d2a5-6ea267cb96d2/test-file-0f7b3ee6-5b15-c4fc-6dca-98b15147dad4",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified using HTTP conditional header(s) is not met.\nRequestId:fa440052-201f-0097-67fa-091bad000000\nTime:2020-04-03T21:00:32.1967297Z"
        }
      }
    },
[...]
    {
      "RequestUri": "http://seannsecanary.dfs.core.windows.net/test-filesystem-7215631f-a38c-ae6c-8263-f68b73c2f8d1/test-file-d24942d8-6ff8-8d7c-c32e-4d1aafb08d14?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Apr 2020 21:00:34 GMT",
        "x-ms-lease-id": "c9540b2f-30cf-cd8e-703f-296576a071e1",
        "x-ms-rename-source": "/test-filesystem-7215631f-a38c-ae6c-8263-f68b73c2f8d1/test-file-2bfa3e9e-a481-b96d-c242-d99be9d2bdf8",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "LeaseNotPresent",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": {
        "error": {
          "code": "LeaseNotPresent",
          "message": "There is currently no lease on the resource.\nRequestId:fa440057-201f-0097-6bfa-091bad000000\nTime:2020-04-03T21:00:32.9002249Z"
        }
      }
    },
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-filesystem-7215631f-a38c-ae6c-8263-f68b73c2f8d1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Apr 2020 21:00:34 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-03T14:00:22.2285192-07:00",
    "RandomSeed": "811045549",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttp://seannsecanary.blob.core.windows.net\nhttp://seannsecanary.file.core.windows.net\nhttp://seannsecanary.queue.core.windows.net\nhttp://seannsecanary.table.core.windows.net\n\n\n\n\nhttp://seannsecanary-secondary.blob.core.windows.net\nhttp://seannsecanary-secondary.file.core.windows.net\nhttp://seannsecanary-secondary.queue.core.windows.net\nhttp://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://seannsecanary.blob.core.windows.net/;QueueEndpoint=http://seannsecanary.queue.core.windows.net/;FileEndpoint=http://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=http://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}