{
  "Entries": [
    {
      "RequestUri": "https://mroxscnapby3pev24a.blob.preprod.core.windows.net/test-filesystem-cabcc567-c6b4-da30-743e-4d35b00bcc5c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 05 Jul 2022 17:32:25 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA5EAC546B1496\u0022",
        "Last-Modified": "Tue, 05 Jul 2022 17:32:27 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://mroxscnapby3pev24a.dfs.preprod.core.windows.net/test-filesystem-cabcc567-c6b4-da30-743e-4d35b00bcc5c/test-directory-d0b3751b-514a-b6ef-8fd4-773326d74f0d?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 05 Jul 2022 17:32:26 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA5EAC54791BBB\u0022",
        "Last-Modified": "Tue, 05 Jul 2022 17:32:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://mroxscnapby3pev24a.dfs.preprod.core.windows.net/test-filesystem-cabcc567-c6b4-da30-743e-4d35b00bcc5c/test-directory-d0b3751b-514a-b6ef-8fd4-773326d74f0d/test-file-1b1731ab-4132-c237-2c4e-5721d3d9fa38?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 05 Jul 2022 17:32:26 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA5EAC5486432D\u0022",
        "Last-Modified": "Tue, 05 Jul 2022 17:32:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://mroxscnapby3pev24a.dfs.preprod.core.windows.net/test-filesystem-cabcc567-c6b4-da30-743e-4d35b00bcc5c/test-directory-d0b3751b-514a-b6ef-8fd4-773326d74f0d/test-file-cc77453f-cd46-c598-76c7-5db973c39257?mode=legacy\u0026sv=2023-01-03\u0026ss=b\u0026srt=sco\u0026st=2022-07-05T16%3A32%3A25Z\u0026se=2022-07-05T18%3A32%3A25Z\u0026sp=rwdlac\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-rename-source": "/test-filesystem-cabcc567-c6b4-da30-743e-4d35b00bcc5c/test-directory-d0b3751b-514a-b6ef-8fd4-773326d74f0d/test-file-1b1731ab-4132-c237-2c4e-5721d3d9fa38?sv=2023-01-03\u0026ss=b\u0026srt=sco\u0026st=2022-07-05T16%3A32%3A25Z\u0026se=2022-07-05T18%3A32%3A25Z\u0026sp=rwdlac\u0026sig=Sanitized",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA5EAC5486432D\u0022",
        "Last-Modified": "Tue, 05 Jul 2022 17:32:27 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://mroxscnapby3pev24a.blob.preprod.core.windows.net/test-filesystem-cabcc567-c6b4-da30-743e-4d35b00bcc5c/test-directory-d0b3751b-514a-b6ef-8fd4-773326d74f0d/test-file-cc77453f-cd46-c598-76c7-5db973c39257?sv=2023-01-03\u0026ss=b\u0026srt=sco\u0026st=2022-07-05T16%3A32%3A25Z\u0026se=2022-07-05T18%3A32%3A25Z\u0026sp=rwdlac\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA5EAC5486432D\u0022",
        "Last-Modified": "Tue, 05 Jul 2022 17:32:27 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 05 Jul 2022 17:32:27 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://mroxscnapby3pev24a.blob.preprod.core.windows.net/test-filesystem-cabcc567-c6b4-da30-743e-4d35b00bcc5c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 05 Jul 2022 17:32:26 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-05T12:32:25.9755957-05:00",
    "RandomSeed": "227178212",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nmroxscnapby3pev24a\nU2FuaXRpemVk\nhttps://mroxscnapby3pev24a.blob.preprod.core.windows.net\nhttps://mroxscnapby3pev24a.file.core.windows.net\nhttps://mroxscnapby3pev24a.queue.core.windows.net\nhttps://mroxscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttps://mroxscnapby3pev24a-secondary.blob.core.windows.net\nhttps://mroxscnapby3pev24a-secondary.file.core.windows.net\nhttps://mroxscnapby3pev24a-secondary.queue.core.windows.net\nhttps://mroxscnapby3pev24a-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://mroxscnapby3pev24a.blob.preprod.core.windows.net/;QueueEndpoint=https://mroxscnapby3pev24a.queue.core.windows.net/;FileEndpoint=https://mroxscnapby3pev24a.file.core.windows.net/;BlobSecondaryEndpoint=https://mroxscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://mroxscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://mroxscnapby3pev24a-secondary.file.core.windows.net/;AccountName=mroxscnapby3pev24a;AccountKey=Sanitized\nseanscope1\nXClient\n"
  }
}
