{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-463e81fe-1d0b-b031-9c43-7ed1567afa59?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 22:28:58 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3936B59506D\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:28:58 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-463e81fe-1d0b-b031-9c43-7ed1567afa59/test-file-4e6e1668-db37-7d3c-416e-1dd4398034dc?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:28:58 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3936B8AE12A\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:28:59 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-463e81fe-1d0b-b031-9c43-7ed1567afa59/test-file-34bfc875-ccea-355c-8f62-fab376efa1eb?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:28:59 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-463e81fe-1d0b-b031-9c43-7ed1567afa59%2Ftest-file-4e6e1668-db37-7d3c-416e-1dd4398034dc=",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-463e81fe-1d0b-b031-9c43-7ed1567afa59/test-file-34bfc875-ccea-355c-8f62-fab376efa1eb",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:28:59 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D3936B8AE12A\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:28:59 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 22:28:59 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-99643484-0964-14ef-5c40-6a3873427227/test-file-8480291a-5582-042d-36cf-78c9cd468a99?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:29:00 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-99643484-0964-14ef-5c40-6a3873427227%2Ftest-file-7368a4f2-6fd0-6c9f-e0e8-09e9c1cf6a0e=",
        "x-ms-source-if-modified-since": "Tue, 16 Feb 2021 22:28:58 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-3ae0cb66-235c-fb08-bb57-839eb1047cf5/test-file-82a76b78-2100-3e2c-830d-dab089c18548?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:29:01 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-3ae0cb66-235c-fb08-bb57-839eb1047cf5%2Ftest-file-c556176b-697d-a428-c369-1212bc2d9338=",
        "x-ms-source-if-unmodified-since": "Thu, 18 Feb 2021 22:28:58 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-3a57defb-273f-513e-4d7d-e9da56399bbb/test-file-63632409-d105-d8eb-d24f-cab9abbae3f0?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:29:02 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-3a57defb-273f-513e-4d7d-e9da56399bbb%2Ftest-file-43d2d2d1-d97f-ce48-3c6f-c759927e9d1e=",
        "x-ms-source-if-match": "0x8D8D3936D74A573",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-ff69cf94-dc3a-aec3-2101-c313deec373b/test-file-6f9bed13-6bb0-1a62-5167-a25084743162?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:29:03 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-ff69cf94-dc3a-aec3-2101-c313deec373b%2Ftest-file-5f423a28-6da2-de8a-e2b2-32383dc6d41b=",
        "x-ms-source-if-none-match": "\u0022garbage\u0022",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-da848f2a-5fdb-f507-fdc3-86280ccca334/test-file-a08c4602-7d91-d473-886b-676da5cbffe1?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:29:04 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "44c9e02d-9391-8ed3-7156-788512d75d7b",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3936ED26347\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:29:04 GMT",
        "x-ms-lease-id": "44c9e02d-9391-8ed3-7156-788512d75d7b",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-da848f2a-5fdb-f507-fdc3-86280ccca334/test-file-f09bc3dd-6a48-172f-bf0d-08cfd4ab2250?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:29:04 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-da848f2a-5fdb-f507-fdc3-86280ccca334%2Ftest-file-a08c4602-7d91-d473-886b-676da5cbffe1=",
        "x-ms-source-lease-id": "44c9e02d-9391-8ed3-7156-788512d75d7b",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-da848f2a-5fdb-f507-fdc3-86280ccca334?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:29:05 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T16:28:58.5839170-06:00",
    "RandomSeed": "1878981144",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}