{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-ccf83f28-d440-ceb1-4fdd-163c75d6d5ca?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Feb 2021 21:39:24 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C302C00029\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:39:25 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-ccf83f28-d440-ceb1-4fdd-163c75d6d5ca/test-file-d16df31c-9bd4-db65-eb8c-a31511b3d018?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:39:24 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C302FCCEFE\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:39:25 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-ccf83f28-d440-ceb1-4fdd-163c75d6d5ca/test-file-e9c2d678-db97-cda1-e1d5-82f2dff77ea7?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 03 Feb 2021 21:39:24 GMT",
        "x-ms-date": "Tue, 02 Feb 2021 21:39:25 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-ccf83f28-d440-ceb1-4fdd-163c75d6d5ca%2Ftest-file-d16df31c-9bd4-db65-eb8c-a31511b3d018=",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified using HTTP conditional header(s) is not met.\nRequestId:482bccda-401f-0079-50ab-f9837b000000\nTime:2021-02-02T21:39:25.7708302Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-1f7b68e2-52e5-a45b-7683-9dbcfad8e15f/test-file-6df52191-57d1-3885-ff8f-ce9f05dd8ca9?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Mon, 01 Feb 2021 21:39:24 GMT",
        "x-ms-date": "Tue, 02 Feb 2021 21:39:26 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-1f7b68e2-52e5-a45b-7683-9dbcfad8e15f%2Ftest-file-5cef1337-a3b4-d1d5-515f-6aba5ad3cda8=",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified using HTTP conditional header(s) is not met.\nRequestId:6f0644cf-601f-0033-5bab-f920f4000000\nTime:2021-02-02T21:39:26.8108305Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-1c57df43-42e9-b45f-8714-3f999c6f0ed7/test-file-bc5accd3-5a0e-a753-0d5b-05d62999e5ac?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-date": "Tue, 02 Feb 2021 21:39:27 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-1c57df43-42e9-b45f-8714-3f999c6f0ed7%2Ftest-file-23e68622-efec-ae83-5dff-b4c5ac1a9aff=",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified using HTTP conditional header(s) is not met.\nRequestId:fdb016d9-601f-006e-65ab-f92a70000000\nTime:2021-02-02T21:39:27.8184028Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-abe023da-a5cf-ecad-802d-02375c5fd77d/test-file-78de6496-40e1-2b92-a10d-87ae559d9a60",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:39:28 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7C304EBD95A\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:39:28 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Feb 2021 21:39:28 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-abe023da-a5cf-ecad-802d-02375c5fd77d/test-file-78de6496-40e1-2b92-a10d-87ae559d9a60?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u00220x8D8C7C304EBD95A\u0022",
        "x-ms-date": "Tue, 02 Feb 2021 21:39:28 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-abe023da-a5cf-ecad-802d-02375c5fd77d%2Ftest-file-20506b30-5c9c-c361-bcb2-8da91d709c89=",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified using HTTP conditional header(s) is not met.\nRequestId:4b169022-901f-0045-08ab-f9aabc000000\nTime:2021-02-02T21:39:29.0272691Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-72510ee5-c0cd-9efc-8b10-cd0a49a055da/test-file-56ae9842-7540-1d56-56f8-4aa940e3a05c?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:39:29 GMT",
        "x-ms-lease-id": "3f176654-deec-4fda-80f1-be5cfd360c1c",
        "x-ms-rename-source": "%2Ftest-filesystem-72510ee5-c0cd-9efc-8b10-cd0a49a055da%2Ftest-file-7a0b8bef-3be1-844a-c6ce-4f804ac501e4=",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "LeaseNotPresent",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": {
        "error": {
          "code": "LeaseNotPresent",
          "message": "There is currently no lease on the resource.\nRequestId:5bc2956a-601f-008a-6aab-f924ee000000\nTime:2021-02-02T21:39:30.1324107Z"
        }
      }
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-72510ee5-c0cd-9efc-8b10-cd0a49a055da?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:39:29 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-02T15:39:24.2708891-06:00",
    "RandomSeed": "1054992555",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}