{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-a6fae8bf-a138-d6b5-23ed-0d6a9cda7960?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Feb 2021 21:31:12 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C1DD90A92C\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:31:13 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-a6fae8bf-a138-d6b5-23ed-0d6a9cda7960/test-file-5c03e6c0-c015-8996-d2a3-32bee836c377?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:31:12 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C1DDCCEC38\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:31:13 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-a6fae8bf-a138-d6b5-23ed-0d6a9cda7960/test-file-8f1dfdb8-025b-5296-8978-31713963c847?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 03 Feb 2021 21:31:12 GMT",
        "x-ms-date": "Tue, 02 Feb 2021 21:31:13 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-a6fae8bf-a138-d6b5-23ed-0d6a9cda7960%2Ftest-file-5c03e6c0-c015-8996-d2a3-32bee836c377=",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified using HTTP conditional header(s) is not met.\nRequestId:2502aad6-001f-0078-5faa-f9dca7000000\nTime:2021-02-02T21:31:13.8883662Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-449c1474-e0f3-c015-41f6-b08e703dee8f/test-file-fb1677fe-4884-a7c5-d4c8-b56d6afe3f72?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Mon, 01 Feb 2021 21:31:12 GMT",
        "x-ms-date": "Tue, 02 Feb 2021 21:31:14 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-449c1474-e0f3-c015-41f6-b08e703dee8f%2Ftest-file-9c0562fc-49bf-5a16-b3da-83dfb8896488=",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified using HTTP conditional header(s) is not met.\nRequestId:e672baaa-301f-0001-27aa-f92083000000\nTime:2021-02-02T21:31:14.9338303Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-3212803b-41c5-76ec-ea78-1b5d9e7996fc/test-file-bd8a9b88-f985-a1cc-4123-ef1301c4ec75?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-date": "Tue, 02 Feb 2021 21:31:15 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-3212803b-41c5-76ec-ea78-1b5d9e7996fc%2Ftest-file-872102ad-c20a-ba42-f391-a7fe75af7118=",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified using HTTP conditional header(s) is not met.\nRequestId:bad59e67-c01f-0067-7faa-f96fa3000000\nTime:2021-02-02T21:31:16.3065602Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-8797b5db-db9a-be4d-05ae-b3f4bd012fed/test-file-8fc5c216-59f3-f641-4c8f-78c78cbf4534",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:31:16 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7C1DFF22A45\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:31:17 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Feb 2021 21:31:17 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-8797b5db-db9a-be4d-05ae-b3f4bd012fed/test-file-8fc5c216-59f3-f641-4c8f-78c78cbf4534?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u00220x8D8C7C1DFF22A45\u0022",
        "x-ms-date": "Tue, 02 Feb 2021 21:31:16 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-8797b5db-db9a-be4d-05ae-b3f4bd012fed%2Ftest-file-07744e01-5755-2272-2870-dba82aa11e19=",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified using HTTP conditional header(s) is not met.\nRequestId:a3587d34-901f-0008-3baa-f96550000000\nTime:2021-02-02T21:31:17.4748061Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-2c4b94d0-b41d-28a3-3245-150d2681e127/test-file-63acd148-7087-661e-8216-66f304692b5f?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:31:17 GMT",
        "x-ms-lease-id": "9852e92e-9a7a-e7ad-cd3a-47e0eb457b45",
        "x-ms-rename-source": "%2Ftest-filesystem-2c4b94d0-b41d-28a3-3245-150d2681e127%2Ftest-file-888d5bac-502d-d30d-23ac-1f45d9690883=",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "LeaseNotPresent",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": {
        "error": {
          "code": "LeaseNotPresent",
          "message": "There is currently no lease on the resource.\nRequestId:03186faf-f01f-0088-58aa-f99a56000000\nTime:2021-02-02T21:31:18.5984610Z"
        }
      }
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-2c4b94d0-b41d-28a3-3245-150d2681e127?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:31:18 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-02T15:31:12.3649428-06:00",
    "RandomSeed": "1344521272",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}