{
  "Entries": [
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-b6f967b9-2299-89ed-ecb0-4e43d3b9cfae?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 27 Apr 2020 04:55:16 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EA672D8884A6\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 04:55:16 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary.dfs.core.windows.net/test-filesystem-b6f967b9-2299-89ed-ecb0-4e43d3b9cfae/test-file-2324c9b8-1798-392d-febd-ba8ffc77ded6?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2020 04:55:16 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EA672D9730EE\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 04:55:16 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary.dfs.core.windows.net/test-filesystem-b6f967b9-2299-89ed-ecb0-4e43d3b9cfae/test-file-86b979db-8067-29a6-6648-5950308609b8?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 28 Apr 2020 04:55:16 GMT",
        "x-ms-date": "Mon, 27 Apr 2020 04:55:16 GMT",
        "x-ms-rename-source": "/test-filesystem-b6f967b9-2299-89ed-ecb0-4e43d3b9cfae/test-file-2324c9b8-1798-392d-febd-ba8ffc77ded6",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified using HTTP conditional header(s) is not met.\nRequestId:e519f6d6-701f-00e8-7b50-1c6fb7000000\nTime:2020-04-27T04:55:16.5299433Z"
        }
      }
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary.dfs.core.windows.net/test-filesystem-3357cffe-1879-8cc1-4ea2-2fcd33166971/test-file-6264f3f6-faff-f848-820b-6abe57d58b0a?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sun, 26 Apr 2020 04:55:16 GMT",
        "x-ms-date": "Mon, 27 Apr 2020 04:55:16 GMT",
        "x-ms-rename-source": "/test-filesystem-3357cffe-1879-8cc1-4ea2-2fcd33166971/test-file-21789cbe-c68b-caf3-f609-fd75b2185201",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified using HTTP conditional header(s) is not met.\nRequestId:e519f6d9-701f-00e8-7e50-1c6fb7000000\nTime:2020-04-27T04:55:16.9653573Z"
        }
      }
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary.dfs.core.windows.net/test-filesystem-c68089d2-6da8-48e6-0358-74cbbccf479e/test-file-6d0b4af8-2af1-9c60-a8c2-36efc3b57a7f?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-date": "Mon, 27 Apr 2020 04:55:17 GMT",
        "x-ms-rename-source": "/test-filesystem-c68089d2-6da8-48e6-0358-74cbbccf479e/test-file-1d4156b6-7778-6020-47f3-7b3b1913de42",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified using HTTP conditional header(s) is not met.\nRequestId:e519f6dc-701f-00e8-0150-1c6fb7000000\nTime:2020-04-27T04:55:17.4117823Z"
        }
      }
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-3a507960-9e84-0ad6-e868-abfecb6f6f29/test-file-fb382e30-1e7f-c8b6-7c10-b2b792e7231a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2020 04:55:17 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7EA672E6D550B\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 04:55:17 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 27 Apr 2020 04:55:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary.dfs.core.windows.net/test-filesystem-3a507960-9e84-0ad6-e868-abfecb6f6f29/test-file-fb382e30-1e7f-c8b6-7c10-b2b792e7231a?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u00220x8D7EA672E6D550B\u0022",
        "x-ms-date": "Mon, 27 Apr 2020 04:55:17 GMT",
        "x-ms-rename-source": "/test-filesystem-3a507960-9e84-0ad6-e868-abfecb6f6f29/test-file-428443d0-e09f-41fc-3c01-ec3d77f641d3",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified using HTTP conditional header(s) is not met.\nRequestId:e519f6df-701f-00e8-0450-1c6fb7000000\nTime:2020-04-27T04:55:17.9392843Z"
        }
      }
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary.dfs.core.windows.net/test-filesystem-05c1d8b0-e493-3cab-6344-6d45121923fd/test-file-dfabcffe-ed21-fe01-12ab-3040211e1430?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2020 04:55:18 GMT",
        "x-ms-lease-id": "3c433c6c-57d3-acbe-e788-7722732b4b8f",
        "x-ms-rename-source": "/test-filesystem-05c1d8b0-e493-3cab-6344-6d45121923fd/test-file-b2c6f0c7-08ef-b2ed-53c0-66c4c4f10b8f",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "LeaseNotPresent",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": {
        "error": {
          "code": "LeaseNotPresent",
          "message": "There is currently no lease on the resource.\nRequestId:e519f6e4-701f-00e8-0950-1c6fb7000000\nTime:2020-04-27T04:55:18.3736974Z"
        }
      }
    },
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-05c1d8b0-e493-3cab-6344-6d45121923fd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2020 04:55:18 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-26T21:55:16.2568608-07:00",
    "RandomSeed": "512881502",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary\nU2FuaXRpemVk\nhttp://amandaadlscanary.blob.core.windows.net\nhttp://amandaadlscanary.file.core.windows.net\nhttp://amandaadlscanary.queue.core.windows.net\nhttp://amandaadlscanary.table.core.windows.net\n\n\n\n\nhttp://amandaadlscanary-secondary.blob.core.windows.net\nhttp://amandaadlscanary-secondary.file.core.windows.net\nhttp://amandaadlscanary-secondary.queue.core.windows.net\nhttp://amandaadlscanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://amandaadlscanary.blob.core.windows.net/;QueueEndpoint=http://amandaadlscanary.queue.core.windows.net/;FileEndpoint=http://amandaadlscanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandaadlscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandaadlscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandaadlscanary-secondary.file.core.windows.net/;AccountName=amandaadlscanary;AccountKey=Sanitized\n\n\n"
  }
}