{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-40d854c3-eda1-f350-f6b0-edd985880da5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Feb 2021 21:26:47 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C13FC58C6E\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:26:48 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-40d854c3-eda1-f350-f6b0-edd985880da5/test-directory-a5593a6a-7fb7-127e-cfcc-02691a4692b9?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:26:48 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C140046432\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:26:48 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-40d854c3-eda1-f350-f6b0-edd985880da5/test-file-8a29ab52-f913-d98c-d86b-b1fe0c21c6da?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:26:48 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C14014E4C4\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:26:49 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-40d854c3-eda1-f350-f6b0-edd985880da5/test-directory-a5593a6a-7fb7-127e-cfcc-02691a4692b9/%2521%2527%2528%2529%253B%255B%255D%2540%2526%2525%253D%252B%2524%252C%2523\u00E4\u00C4\u00F6\u00D6\u00FC\u00DC\u00DF%253B?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:26:48 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-40d854c3-eda1-f350-f6b0-edd985880da5%2Ftest-file-8a29ab52-f913-d98c-d86b-b1fe0c21c6da=",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-40d854c3-eda1-f350-f6b0-edd985880da5/test-directory-a5593a6a-7fb7-127e-cfcc-02691a4692b9/%2521%2527%2528%2529%253B%255B%255D%2540%2526%2525%253D%252B%2524%252C%2523\u00E4\u00C4\u00F6\u00D6\u00FC\u00DC\u00DF%253B",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:26:48 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7C14014E4C4\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:26:49 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Feb 2021 21:26:49 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-40d854c3-eda1-f350-f6b0-edd985880da5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:26:48 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "146010861",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}