{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-7bbf3f53-fd80-dc3d-c168-0e5e170dac35?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Feb 2021 21:39:39 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C30BE6AAFD\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:39:40 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-7bbf3f53-fd80-dc3d-c168-0e5e170dac35/test-file-e44ea4db-ed7c-b759-299d-6cbafb4315ae?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:39:39 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C30C1DAC35\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:39:40 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-7bbf3f53-fd80-dc3d-c168-0e5e170dac35/test-file-edb9c2e5-062a-80b3-c897-86778b4d8bbe?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:39:40 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-7bbf3f53-fd80-dc3d-c168-0e5e170dac35%2Ftest-file-e44ea4db-ed7c-b759-299d-6cbafb4315ae=",
        "x-ms-source-if-modified-since": "Wed, 03 Feb 2021 21:39:39 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "SourceConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": {
        "error": {
          "code": "SourceConditionNotMet",
          "message": "The source condition specified using HTTP conditional header(s) is not met.\nRequestId:db47e58e-901f-0037-41ab-f9adf3000000\nTime:2021-02-02T21:39:41.0652873Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-992fb004-8351-635e-2a1d-59f491b6daa5/test-file-531d524f-0357-9442-4b1a-76f4e06ba017?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:39:41 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-992fb004-8351-635e-2a1d-59f491b6daa5%2Ftest-file-b00d0ed9-755c-7fc2-4137-973916c7b153=",
        "x-ms-source-if-unmodified-since": "Mon, 01 Feb 2021 21:39:39 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "SourceConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": {
        "error": {
          "code": "SourceConditionNotMet",
          "message": "The source condition specified using HTTP conditional header(s) is not met.\nRequestId:0a616575-e01f-0070-23ab-f9c6a8000000\nTime:2021-02-02T21:39:42.1353920Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-7f5cfa2f-ec55-0d54-c3fa-4c9e503c2039/test-file-fc990fc6-50e3-de57-8c69-388033e60785?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:39:42 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-7f5cfa2f-ec55-0d54-c3fa-4c9e503c2039%2Ftest-file-ae838619-f642-b3fe-49c9-441767af13c0=",
        "x-ms-source-if-match": "\u0022garbage\u0022",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "SourceConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": {
        "error": {
          "code": "SourceConditionNotMet",
          "message": "The source condition specified using HTTP conditional header(s) is not met.\nRequestId:e2875ad6-201f-008b-78ab-f97b32000000\nTime:2021-02-02T21:39:43.1999931Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-eebab7a4-b8d5-a362-d6b7-e9699b6e66f1/test-file-a921151f-947e-a2ae-6331-8e7fec4569b8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:39:43 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7C30DFD3CA3\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:39:44 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Feb 2021 21:39:44 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-eebab7a4-b8d5-a362-d6b7-e9699b6e66f1/test-file-ce4a0924-6a44-f526-b597-582a39456192?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:39:43 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-eebab7a4-b8d5-a362-d6b7-e9699b6e66f1%2Ftest-file-a921151f-947e-a2ae-6331-8e7fec4569b8=",
        "x-ms-source-if-none-match": "\u00220x8D8C7C30DFD3CA3\u0022",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "SourceConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": {
        "error": {
          "code": "SourceConditionNotMet",
          "message": "The source condition specified using HTTP conditional header(s) is not met.\nRequestId:124fd0e4-a01f-002c-79ab-f993f0000000\nTime:2021-02-02T21:39:44.2864219Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-8a9bf059-ee37-cc4f-e909-d167f694d6cf/test-file-cb703708-2c8c-caaf-023b-615e41eaa9e1?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:39:44 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-8a9bf059-ee37-cc4f-e909-d167f694d6cf%2Ftest-file-6c830150-0ec9-68ae-f145-73bbd41206f9=",
        "x-ms-source-lease-id": "32d7bdbf-7a13-fd7d-b787-da581043cf60",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "LeaseNotPresent",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": {
        "error": {
          "code": "LeaseNotPresent",
          "message": "There is currently no lease on the resource.\nRequestId:66c0172d-001f-001a-59ab-f91e80000000\nTime:2021-02-02T21:39:45.3143227Z"
        }
      }
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-8a9bf059-ee37-cc4f-e909-d167f694d6cf?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:39:44 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-02T15:39:39.5988408-06:00",
    "RandomSeed": "655346341",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}