{
  "Entries": [
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-9cb37cfa-44bb-8617-0568-6253a1c8db97?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 06:23:05 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E02953BCB70\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:23:05 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagehierarchical.dfs.core.windows.net/test-filesystem-9cb37cfa-44bb-8617-0568-6253a1c8db97/test-file-2e9340c3-3d59-30a3-4068-5c1028d4a90a?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 06:23:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E02954D9BC5\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:23:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-9cb37cfa-44bb-8617-0568-6253a1c8db97/test-file-2e9340c3-3d59-30a3-4068-5c1028d4a90a?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 06:23:05 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "3287e3aa-2bc7-63a0-497e-92dcfe2a54bd",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E02954D9BC5\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:23:05 GMT",
        "x-ms-lease-id": "3287e3aa-2bc7-63a0-497e-92dcfe2a54bd",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-00753eac-95bd-4baa-22be-c12ba426c747/test-file-7337cf99-ee45-a25f-1820-80a1a82a57ed?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 10 Dec 2019 06:23:05 GMT",
        "x-ms-date": "Wed, 11 Dec 2019 06:23:06 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "46cb98f0-573c-475e-d054-2a3118801ef6",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E029598DA9E\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:23:06 GMT",
        "x-ms-lease-id": "46cb98f0-573c-475e-d054-2a3118801ef6",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-64868568-c9b9-0b0a-7b96-0060eded7789/test-file-250344bb-58b0-7671-0a60-d4fa074d966e?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 12 Dec 2019 06:23:05 GMT",
        "x-ms-date": "Wed, 11 Dec 2019 06:23:06 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "395b61b7-0451-f736-9ed1-1dd51fd15452",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E0295EA3C0F\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:23:06 GMT",
        "x-ms-lease-id": "395b61b7-0451-f736-9ed1-1dd51fd15452",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-78022385-1710-ee90-366d-5f51d0947022/test-file-c88c8057-c15b-1329-98bd-3ba5b36dd36f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 06:23:07 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77E029639B792\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:23:07 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 11 Dec 2019 06:23:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-78022385-1710-ee90-366d-5f51d0947022/test-file-c88c8057-c15b-1329-98bd-3ba5b36dd36f?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D77E029639B792\u0022",
        "x-ms-date": "Wed, 11 Dec 2019 06:23:07 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "4b715dc9-3f2d-c213-fef5-e25b8b236fd0",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E029639B792\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:23:07 GMT",
        "x-ms-lease-id": "4b715dc9-3f2d-c213-fef5-e25b8b236fd0",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-1ef6eabb-072a-09d2-ac57-583b96892762/test-file-8077833e-2469-2be5-4eb5-22b1cdaa60bc?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Wed, 11 Dec 2019 06:23:07 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "776af794-8fd9-3507-c22f-b72607f84ff3",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E029695FC6E\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:23:07 GMT",
        "x-ms-lease-id": "776af794-8fd9-3507-c22f-b72607f84ff3",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-1ef6eabb-072a-09d2-ac57-583b96892762?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 06:23:08 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-12-10T22:23:05.4607851-08:00",
    "RandomSeed": "1306638929",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanstagehierarchical\nU2FuaXRpemVk\nhttp://seanstagehierarchical.blob.core.windows.net\nhttp://seanstagehierarchical.file.core.windows.net\nhttp://seanstagehierarchical.queue.core.windows.net\nhttp://seanstagehierarchical.table.core.windows.net\n\n\n\n\nhttp://seanstagehierarchical-secondary.blob.core.windows.net\nhttp://seanstagehierarchical-secondary.file.core.windows.net\nhttp://seanstagehierarchical-secondary.queue.core.windows.net\nhttp://seanstagehierarchical-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://seanstagehierarchical.blob.core.windows.net/;QueueEndpoint=http://seanstagehierarchical.queue.core.windows.net/;FileEndpoint=http://seanstagehierarchical.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagehierarchical-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagehierarchical-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagehierarchical-secondary.file.core.windows.net/;AccountName=seanstagehierarchical;AccountKey=Sanitized\n"
  }
}