{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-f9fbaa0c-2fa3-f43f-a1af-1ca6b5decb1d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:13:48 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D50A7BA9E93F\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:13:47 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-f9fbaa0c-2fa3-f43f-a1af-1ca6b5decb1d/test-file-c3298556-b813-bcf0-0f93-86aa08311d36?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:13:48 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D50A7BBA0645\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:13:47 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-f9fbaa0c-2fa3-f43f-a1af-1ca6b5decb1d/test-file-c3298556-b813-bcf0-0f93-86aa08311d36?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:13:48 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "8b427c5d-008f-7c1c-fbbd-4c7bb32a1f1a",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D50A7BBA0645\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:13:47 GMT",
        "x-ms-lease-id": "8b427c5d-008f-7c1c-fbbd-4c7bb32a1f1a",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-755b39c6-5547-bfcd-5f6b-00eb631d0dee/test-file-24220faa-8cb2-f081-7a4b-218c84e1d917?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 18 Feb 2021 19:13:48 GMT",
        "x-ms-date": "Fri, 19 Feb 2021 19:13:48 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "8a2c5347-8a99-82a8-105c-2f8c15108524",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D50A7BFB64B0\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:13:47 GMT",
        "x-ms-lease-id": "8a2c5347-8a99-82a8-105c-2f8c15108524",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-d2abdc9f-50ac-769c-4ce3-2affb6ca4251/test-file-15102bfe-d8c9-cf7d-fa04-005628c413b4?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sat, 20 Feb 2021 19:13:48 GMT",
        "x-ms-date": "Fri, 19 Feb 2021 19:13:49 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "e59d88e8-b6f3-9f47-87f7-e58620c13c17",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D50A7C3AAB1C\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:13:48 GMT",
        "x-ms-lease-id": "e59d88e8-b6f3-9f47-87f7-e58620c13c17",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-96b37f40-83db-4bc3-5dff-d92484380385/test-file-4f120861-d672-668f-0255-fd3bdb5f03df",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:13:49 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D8D50A7C78ACA9\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:13:48 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:13:48 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-96b37f40-83db-4bc3-5dff-d92484380385/test-file-4f120861-d672-668f-0255-fd3bdb5f03df?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D50A7C78ACA9",
        "x-ms-date": "Fri, 19 Feb 2021 19:13:49 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "47c7541f-3bf4-a7e6-bda1-775c2d83c267",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D50A7C78ACA9\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:13:48 GMT",
        "x-ms-lease-id": "47c7541f-3bf4-a7e6-bda1-775c2d83c267",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-10b43b78-d929-7fbf-3e08-381adc3cbc48/test-file-8610fc3e-2812-7aa1-b23a-859035781f94?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"garbage\"",
        "x-ms-date": "Fri, 19 Feb 2021 19:13:50 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "b0a2463f-4f5b-4926-02ce-69819e3f57ce",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D50A7CC45372\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:13:49 GMT",
        "x-ms-lease-id": "b0a2463f-4f5b-4926-02ce-69819e3f57ce",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-10b43b78-d929-7fbf-3e08-381adc3cbc48?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:13:50 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-19T13:13:48.0898262-06:00",
    "RandomSeed": "1088669106",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n\n\n"
  }
}