{
  "Entries": [
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-e8eaeb4b-9007-6fd5-9718-bd8b37694557?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 23 Dec 2019 20:38:00 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D787E800928302\u0022",
        "Last-Modified": "Mon, 23 Dec 2019 20:38:00 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagehierarchical.dfs.core.windows.net/test-filesystem-e8eaeb4b-9007-6fd5-9718-bd8b37694557/test-file-0fd53c2e-bfdf-2ec9-3198-67dee65c12dd?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Dec 2019 20:38:00 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D787E800AF7A7A\u0022",
        "Last-Modified": "Mon, 23 Dec 2019 20:38:00 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-e8eaeb4b-9007-6fd5-9718-bd8b37694557/test-file-0fd53c2e-bfdf-2ec9-3198-67dee65c12dd?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Dec 2019 20:38:01 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "323869e7-cccc-1a57-8d9f-24ad13d958f5",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D787E800AF7A7A\u0022",
        "Last-Modified": "Mon, 23 Dec 2019 20:38:00 GMT",
        "x-ms-lease-id": "323869e7-cccc-1a57-8d9f-24ad13d958f5",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-e8eaeb4b-9007-6fd5-9718-bd8b37694557/test-file-0fd53c2e-bfdf-2ec9-3198-67dee65c12dd?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 24 Dec 2019 20:38:00 GMT",
        "x-ms-date": "Mon, 23 Dec 2019 20:38:01 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "323869e7-cccc-1a57-8d9f-24ad13d958f5",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:f752fbc9-101e-0035-69d0-b9fe2f000000\n",
        "Time:2019-12-23T20:38:01.1659131Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-46ced4cc-01e9-816f-5443-edc0f1a12725/test-file-3fe39981-ddc3-2cb0-8792-df5e15991f9c?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sun, 22 Dec 2019 20:38:00 GMT",
        "x-ms-date": "Mon, 23 Dec 2019 20:38:01 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "ca585503-27f1-d55b-9d58-8b3359c57ef9",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:00e5e18e-101e-0025-66d0-b93b47000000\n",
        "Time:2019-12-23T20:38:01.7998477Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-96e384d3-61a9-83c7-4ba8-e3a15d1c4a7c/test-file-ddd15b27-452b-0baa-d74d-1870d9c815e7?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-date": "Mon, 23 Dec 2019 20:38:02 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "0793bf1a-7e60-8ed1-f227-aec53543e93f",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:b95f91a8-901e-003b-2ed0-b9d79f000000\n",
        "Time:2019-12-23T20:38:02.4407238Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-23c3f0bf-a9b6-86c7-fbfe-48bf91905821/test-file-6172d3c2-1b95-d7ad-724f-6470e35da8c8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Dec 2019 20:38:02 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D787E801D0306E\u0022",
        "Last-Modified": "Mon, 23 Dec 2019 20:38:02 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 23 Dec 2019 20:38:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-23c3f0bf-a9b6-86c7-fbfe-48bf91905821/test-file-6172d3c2-1b95-d7ad-724f-6470e35da8c8?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u00220x8D787E801D0306E\u0022",
        "x-ms-date": "Mon, 23 Dec 2019 20:38:03 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "a126f0e4-a729-2529-d4eb-6c351163a97d",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:f752fbeb-101e-0035-05d0-b9fe2f000000\n",
        "Time:2019-12-23T20:38:03.1209175Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-23c3f0bf-a9b6-86c7-fbfe-48bf91905821?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Dec 2019 20:38:03 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-12-23T12:38:00.6870644-08:00",
    "RandomSeed": "1965393784",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanstagehierarchical\nU2FuaXRpemVk\nhttp://seanstagehierarchical.blob.core.windows.net\nhttp://seanstagehierarchical.file.core.windows.net\nhttp://seanstagehierarchical.queue.core.windows.net\nhttp://seanstagehierarchical.table.core.windows.net\n\n\n\n\nhttp://seanstagehierarchical-secondary.blob.core.windows.net\nhttp://seanstagehierarchical-secondary.file.core.windows.net\nhttp://seanstagehierarchical-secondary.queue.core.windows.net\nhttp://seanstagehierarchical-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://seanstagehierarchical.blob.core.windows.net/;QueueEndpoint=http://seanstagehierarchical.queue.core.windows.net/;FileEndpoint=http://seanstagehierarchical.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagehierarchical-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagehierarchical-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagehierarchical-secondary.file.core.windows.net/;AccountName=seanstagehierarchical;AccountKey=Sanitized\n"
  }
}