{
  "Entries": [
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-a0cfbc48-b2ca-4f4a-a42d-9b5d19945375?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 06:25:00 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E02D9BF9678\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:25:00 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagehierarchical.dfs.core.windows.net/test-filesystem-a0cfbc48-b2ca-4f4a-a42d-9b5d19945375/test-file-8f374572-d43d-a2eb-4e5e-c815c18c9968?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 06:25:00 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E02D9D2446A\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:25:00 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-a0cfbc48-b2ca-4f4a-a42d-9b5d19945375/test-file-8f374572-d43d-a2eb-4e5e-c815c18c9968?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 06:25:00 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "81ca00e0-5f94-961f-fbf7-d88e924a6536",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E02D9D2446A\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:25:00 GMT",
        "x-ms-lease-id": "81ca00e0-5f94-961f-fbf7-d88e924a6536",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-27a15606-224c-543b-8960-278187e898ad/test-file-fe64b055-439a-ea56-1710-002d6ae662b6?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 10 Dec 2019 06:25:00 GMT",
        "x-ms-date": "Wed, 11 Dec 2019 06:25:01 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "c7aee9b1-6e77-1931-573c-b6933f7b6e79",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E02DA1E9106\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:25:01 GMT",
        "x-ms-lease-id": "c7aee9b1-6e77-1931-573c-b6933f7b6e79",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-a587e063-f212-8cf3-b786-cab8ebc6d00d/test-file-b0633d4a-ceab-7c70-c5c5-3a9804c02ac0?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 12 Dec 2019 06:25:00 GMT",
        "x-ms-date": "Wed, 11 Dec 2019 06:25:01 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "3a2c6942-5305-7714-a8c6-5c41f8c1bf19",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E02DA686DAB\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:25:01 GMT",
        "x-ms-lease-id": "3a2c6942-5305-7714-a8c6-5c41f8c1bf19",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-606b2806-5b34-09ec-f848-532657976b7f/test-file-a6a4b7cd-d5e0-5435-9e39-da8f5f493144",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 06:25:02 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77E02DAB8C90A\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:25:02 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 11 Dec 2019 06:25:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-606b2806-5b34-09ec-f848-532657976b7f/test-file-a6a4b7cd-d5e0-5435-9e39-da8f5f493144?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D77E02DAB8C90A\u0022",
        "x-ms-date": "Wed, 11 Dec 2019 06:25:02 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "c989887b-410f-9c50-b5b0-da47c2386e92",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E02DAB8C90A\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:25:02 GMT",
        "x-ms-lease-id": "c989887b-410f-9c50-b5b0-da47c2386e92",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-167d8b4e-0fa6-b6c0-00a2-a8071771222d/test-file-009c646e-6989-bbee-9076-50f781b0cb9b?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Wed, 11 Dec 2019 06:25:02 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "ec8e9785-12db-c6b1-8626-99db09765a74",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E02DB12D4D8\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:25:02 GMT",
        "x-ms-lease-id": "ec8e9785-12db-c6b1-8626-99db09765a74",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-167d8b4e-0fa6-b6c0-00a2-a8071771222d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 06:25:02 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-12-10T22:25:00.4141594-08:00",
    "RandomSeed": "1799403652",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanstagehierarchical\nU2FuaXRpemVk\nhttp://seanstagehierarchical.blob.core.windows.net\nhttp://seanstagehierarchical.file.core.windows.net\nhttp://seanstagehierarchical.queue.core.windows.net\nhttp://seanstagehierarchical.table.core.windows.net\n\n\n\n\nhttp://seanstagehierarchical-secondary.blob.core.windows.net\nhttp://seanstagehierarchical-secondary.file.core.windows.net\nhttp://seanstagehierarchical-secondary.queue.core.windows.net\nhttp://seanstagehierarchical-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://seanstagehierarchical.blob.core.windows.net/;QueueEndpoint=http://seanstagehierarchical.queue.core.windows.net/;FileEndpoint=http://seanstagehierarchical.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagehierarchical-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagehierarchical-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagehierarchical-secondary.file.core.windows.net/;AccountName=seanstagehierarchical;AccountKey=Sanitized\n"
  }
}