{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-a0cfbc48-b2ca-4f4a-a42d-9b5d19945375?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 22:35:49 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D394602318A9\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:35:49 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-a0cfbc48-b2ca-4f4a-a42d-9b5d19945375/test-file-8f374572-d43d-a2eb-4e5e-c815c18c9968?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:35:49 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3946059D894\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:35:49 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-a0cfbc48-b2ca-4f4a-a42d-9b5d19945375/test-file-8f374572-d43d-a2eb-4e5e-c815c18c9968?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:35:49 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "81ca00e0-5f94-961f-fbf7-d88e924a6536",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3946059D894\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:35:49 GMT",
        "x-ms-lease-id": "81ca00e0-5f94-961f-fbf7-d88e924a6536",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-27a15606-224c-543b-8960-278187e898ad/test-file-fe64b055-439a-ea56-1710-002d6ae662b6?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 16 Feb 2021 22:35:49 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 22:35:51 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "c7aee9b1-6e77-1931-573c-b6933f7b6e79",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D39460E9BC66\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:35:50 GMT",
        "x-ms-lease-id": "c7aee9b1-6e77-1931-573c-b6933f7b6e79",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-a587e063-f212-8cf3-b786-cab8ebc6d00d/test-file-b0633d4a-ceab-7c70-c5c5-3a9804c02ac0?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 18 Feb 2021 22:35:49 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 22:35:51 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "3a2c6942-5305-7714-a8c6-5c41f8c1bf19",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D394617C42C0\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:35:51 GMT",
        "x-ms-lease-id": "3a2c6942-5305-7714-a8c6-5c41f8c1bf19",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-606b2806-5b34-09ec-f848-532657976b7f/test-file-a6a4b7cd-d5e0-5435-9e39-da8f5f493144",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:35:52 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D3946208AC56\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:35:52 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 22:35:52 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-606b2806-5b34-09ec-f848-532657976b7f/test-file-a6a4b7cd-d5e0-5435-9e39-da8f5f493144?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D3946208AC56",
        "x-ms-date": "Wed, 17 Feb 2021 22:35:52 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "c989887b-410f-9c50-b5b0-da47c2386e92",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3946208AC56\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:35:52 GMT",
        "x-ms-lease-id": "c989887b-410f-9c50-b5b0-da47c2386e92",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-167d8b4e-0fa6-b6c0-00a2-a8071771222d/test-file-009c646e-6989-bbee-9076-50f781b0cb9b?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Wed, 17 Feb 2021 22:35:53 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "ec8e9785-12db-c6b1-8626-99db09765a74",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D394629A8A67\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:35:53 GMT",
        "x-ms-lease-id": "ec8e9785-12db-c6b1-8626-99db09765a74",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-167d8b4e-0fa6-b6c0-00a2-a8071771222d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:35:53 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T16:35:49.2853769-06:00",
    "RandomSeed": "1799403652",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}