{
  "Entries": [
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-e40ce8ac-920b-9458-5e15-0ea03128f10c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 06 Nov 2019 03:33:03 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7626A07C83AE9\u0022",
        "Last-Modified": "Wed, 06 Nov 2019 03:33:03 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannse.dfs.core.windows.net/test-filesystem-e40ce8ac-920b-9458-5e15-0ea03128f10c/test-file-17aedbd4-38bb-c7fb-a7a3-511b55231da2?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 06 Nov 2019 03:33:03 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7626A07CD85C3\u0022",
        "Last-Modified": "Wed, 06 Nov 2019 03:33:03 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannse.dfs.core.windows.net/test-filesystem-e40ce8ac-920b-9458-5e15-0ea03128f10c/test-file-17aedbd4-38bb-c7fb-a7a3-511b55231da2?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::rwx,group::rwx,other::rwx,mask::rwx",
        "x-ms-date": "Wed, 06 Nov 2019 03:33:03 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7626A07CD85C3\u0022",
        "Last-Modified": "Wed, 06 Nov 2019 03:33:03 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannse.dfs.core.windows.net/test-filesystem-c2a66c19-8af5-4396-5055-b00903773270/test-file-c0aebe3d-bb1a-dcd2-0fc7-de27fab9ebb7?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 05 Nov 2019 03:33:03 GMT",
        "x-ms-acl": "user::rwx,group::rwx,other::rwx,mask::rwx",
        "x-ms-date": "Wed, 06 Nov 2019 03:33:03 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7626A07DB5D07\u0022",
        "Last-Modified": "Wed, 06 Nov 2019 03:33:03 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannse.dfs.core.windows.net/test-filesystem-3750ede3-8c58-46cb-fee2-89ee17052a01/test-file-b34ee49c-3592-b256-094e-b8d2f2a65da4?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 07 Nov 2019 03:33:03 GMT",
        "x-ms-acl": "user::rwx,group::rwx,other::rwx,mask::rwx",
        "x-ms-date": "Wed, 06 Nov 2019 03:33:03 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7626A07EAAD83\u0022",
        "Last-Modified": "Wed, 06 Nov 2019 03:33:03 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-6f901b70-d8e5-c0b0-9184-dd90e1f0d8fe/test-file-9024b236-4c5c-5832-9893-b6aaf37c704c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 06 Nov 2019 03:33:03 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7626A07F96802\u0022",
        "Last-Modified": "Wed, 06 Nov 2019 03:33:03 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 06 Nov 2019 03:33:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannse.dfs.core.windows.net/test-filesystem-6f901b70-d8e5-c0b0-9184-dd90e1f0d8fe/test-file-9024b236-4c5c-5832-9893-b6aaf37c704c?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D7626A07F96802\u0022",
        "x-ms-acl": "user::rwx,group::rwx,other::rwx,mask::rwx",
        "x-ms-date": "Wed, 06 Nov 2019 03:33:03 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7626A07F96802\u0022",
        "Last-Modified": "Wed, 06 Nov 2019 03:33:03 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannse.dfs.core.windows.net/test-filesystem-23c99f6d-823f-9879-27bd-2bc4d12f6576/test-file-c6958821-b9ff-dccc-40f3-52f1ab73db18?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-acl": "user::rwx,group::rwx,other::rwx,mask::rwx",
        "x-ms-date": "Wed, 06 Nov 2019 03:33:03 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7626A080C0577\u0022",
        "Last-Modified": "Wed, 06 Nov 2019 03:33:03 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-16fc15af-9e39-a7ad-5d04-d2f816d04581/test-file-4042930a-d8bf-e78a-6dab-3be638e43f13?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 06 Nov 2019 03:33:03 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "3b66c091-76a0-7970-d095-ec80c08bf3ac",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7626A08187408\u0022",
        "Last-Modified": "Wed, 06 Nov 2019 03:33:03 GMT",
        "x-ms-lease-id": "3b66c091-76a0-7970-d095-ec80c08bf3ac",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-16fc15af-9e39-a7ad-5d04-d2f816d04581?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 06 Nov 2019 03:33:03 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-11-05T19:33:03.2890584-08:00",
    "RandomSeed": "1030255717",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttp://seannse.blob.core.windows.net\nhttp://seannse.file.core.windows.net\nhttp://seannse.queue.core.windows.net\nhttp://seannse.table.core.windows.net\n\n\n\n\nhttp://seannse-secondary.blob.core.windows.net\nhttp://seannse-secondary.file.core.windows.net\nhttp://seannse-secondary.queue.core.windows.net\nhttp://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://seannse.blob.core.windows.net/;QueueEndpoint=http://seannse.queue.core.windows.net/;TableEndpoint=http://seannse.table.core.windows.net/;FileEndpoint=http://seannse.file.core.windows.net/;BlobSecondaryEndpoint=http://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seannse-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://seannse-secondary.table.core.windows.net/;FileSecondaryEndpoint=http://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized"
  }
}