{
  "Entries": [
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-7814888a-340a-6058-6487-a69a35c83af2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 26 Apr 2021 22:12:44 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D909006ACA9046\u0022",
        "Last-Modified": "Mon, 26 Apr 2021 22:12:44 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolhnscanada.dfs.core.windows.net/test-filesystem-7814888a-340a-6058-6487-a69a35c83af2/test-file-432070ce-71ba-6781-06fe-3223bb08fa1d?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 26 Apr 2021 22:12:44 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D909006AF10792\u0022",
        "Last-Modified": "Mon, 26 Apr 2021 22:12:44 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-7814888a-340a-6058-6487-a69a35c83af2/test-file-432070ce-71ba-6781-06fe-3223bb08fa1d?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "lldatwnludibgmwlquve",
        "x-ms-blob-content-disposition": "hsyfjccdumkjccqntluc",
        "x-ms-blob-content-encoding": "pormnxvxbeiogfqsmxpq",
        "x-ms-blob-content-language": "tjqisxxeuirfasoramrl",
        "x-ms-blob-content-md5": "C2Fwl5132XvE4ivzKm61bg==",
        "x-ms-blob-content-type": "gdcpdvdwkxbvudifxito",
        "x-ms-date": "Mon, 26 Apr 2021 22:12:44 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D909006B0391C3\u0022",
        "Last-Modified": "Mon, 26 Apr 2021 22:12:44 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-35e2e047-3bda-b1f0-7df5-34fe43c1fbee/test-file-555d35fc-3335-6ff9-0852-5d891d91b2ce?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Sun, 25 Apr 2021 22:12:43 GMT",
        "x-ms-blob-cache-control": "lldatwnludibgmwlquve",
        "x-ms-blob-content-disposition": "hsyfjccdumkjccqntluc",
        "x-ms-blob-content-encoding": "pormnxvxbeiogfqsmxpq",
        "x-ms-blob-content-language": "tjqisxxeuirfasoramrl",
        "x-ms-blob-content-md5": "C2Fwl5132XvE4ivzKm61bg==",
        "x-ms-blob-content-type": "gdcpdvdwkxbvudifxito",
        "x-ms-date": "Mon, 26 Apr 2021 22:12:45 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D909006B41A605\u0022",
        "Last-Modified": "Mon, 26 Apr 2021 22:12:45 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-71f106f3-eb76-d8b8-b7f5-c46376cb4866/test-file-3b4e2c43-71a1-c9a2-6bd0-4404f60516ab?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Tue, 27 Apr 2021 22:12:43 GMT",
        "x-ms-blob-cache-control": "lldatwnludibgmwlquve",
        "x-ms-blob-content-disposition": "hsyfjccdumkjccqntluc",
        "x-ms-blob-content-encoding": "pormnxvxbeiogfqsmxpq",
        "x-ms-blob-content-language": "tjqisxxeuirfasoramrl",
        "x-ms-blob-content-md5": "C2Fwl5132XvE4ivzKm61bg==",
        "x-ms-blob-content-type": "gdcpdvdwkxbvudifxito",
        "x-ms-date": "Mon, 26 Apr 2021 22:12:45 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D909006B78C059\u0022",
        "Last-Modified": "Mon, 26 Apr 2021 22:12:45 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-6c181f0c-2c8d-55ef-a53f-b81994574154/test-file-82ee6fef-1881-e277-a91c-137420270832",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 26 Apr 2021 22:12:46 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D909006BA4A1AA\u0022",
        "Last-Modified": "Mon, 26 Apr 2021 22:12:46 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 26 Apr 2021 22:12:46 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-6c181f0c-2c8d-55ef-a53f-b81994574154/test-file-82ee6fef-1881-e277-a91c-137420270832?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D909006BA4A1AA",
        "x-ms-blob-cache-control": "lldatwnludibgmwlquve",
        "x-ms-blob-content-disposition": "hsyfjccdumkjccqntluc",
        "x-ms-blob-content-encoding": "pormnxvxbeiogfqsmxpq",
        "x-ms-blob-content-language": "tjqisxxeuirfasoramrl",
        "x-ms-blob-content-md5": "C2Fwl5132XvE4ivzKm61bg==",
        "x-ms-blob-content-type": "gdcpdvdwkxbvudifxito",
        "x-ms-date": "Mon, 26 Apr 2021 22:12:46 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D909006BBFF809\u0022",
        "Last-Modified": "Mon, 26 Apr 2021 22:12:46 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-4c34737c-9955-6639-752b-39e77f1c9435/test-file-3274265e-5992-e4cd-387a-b9ae4b388567?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-blob-cache-control": "lldatwnludibgmwlquve",
        "x-ms-blob-content-disposition": "hsyfjccdumkjccqntluc",
        "x-ms-blob-content-encoding": "pormnxvxbeiogfqsmxpq",
        "x-ms-blob-content-language": "tjqisxxeuirfasoramrl",
        "x-ms-blob-content-md5": "C2Fwl5132XvE4ivzKm61bg==",
        "x-ms-blob-content-type": "gdcpdvdwkxbvudifxito",
        "x-ms-date": "Mon, 26 Apr 2021 22:12:46 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D909006BF4A661\u0022",
        "Last-Modified": "Mon, 26 Apr 2021 22:12:46 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-cdbd8d84-3bbf-9d2b-60fd-9fda02498a4e/test-file-53ce95bc-ea64-bc04-7eba-fac9f5e30dd4?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 26 Apr 2021 22:12:46 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "148695c8-4922-c0db-4b71-0f12819f5de4",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D909006C201965\u0022",
        "Last-Modified": "Mon, 26 Apr 2021 22:12:46 GMT",
        "x-ms-lease-id": "148695c8-4922-c0db-4b71-0f12819f5de4",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-cdbd8d84-3bbf-9d2b-60fd-9fda02498a4e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 26 Apr 2021 22:12:47 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-04-26T15:12:43.8014908-07:00",
    "RandomSeed": "1767629157",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nkasobolhnscanada\nU2FuaXRpemVk\nhttp://kasobolhnscanada.blob.core.windows.net\nhttp://kasobolhnscanada.file.core.windows.net\nhttp://kasobolhnscanada.queue.core.windows.net\nhttp://kasobolhnscanada.table.core.windows.net\n\n\n\n\nhttp://kasobolhnscanada-secondary.blob.core.windows.net\nhttp://kasobolhnscanada-secondary.file.core.windows.net\nhttp://kasobolhnscanada-secondary.queue.core.windows.net\nhttp://kasobolhnscanada-secondary.table.core.windows.net\nc6b5fe1a-9b59-4975-92c4-d9f728c3c371\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://kasobolhnscanada.blob.core.windows.net/;QueueEndpoint=http://kasobolhnscanada.queue.core.windows.net/;FileEndpoint=http://kasobolhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=http://kasobolhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://kasobolhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://kasobolhnscanada-secondary.file.core.windows.net/;AccountName=kasobolhnscanada;AccountKey=Sanitized\n"
  }
}