{
  "Entries": [
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-81f8193d-caf5-68e0-aa9b-29dbd6439477?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 06:23:16 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E029BC1B526\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:23:16 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagehierarchical.dfs.core.windows.net/test-filesystem-81f8193d-caf5-68e0-aa9b-29dbd6439477/test-file-b47af35b-6cda-6cc4-a43d-83d950633cf4?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 06:23:16 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E029BD32EC1\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:23:16 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-81f8193d-caf5-68e0-aa9b-29dbd6439477/test-file-b47af35b-6cda-6cc4-a43d-83d950633cf4?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "avxslgnytsangthkvxjb",
        "x-ms-blob-content-disposition": "abydaqrpotvmcbkhqfdy",
        "x-ms-blob-content-encoding": "ooollysrusyqmqrxvtst",
        "x-ms-blob-content-language": "oxkyvmlfiytqujmllmra",
        "x-ms-blob-content-md5": "oIbWv9V59dSqqr1lRPqGdg==",
        "x-ms-blob-content-type": "xatvufaljlkvmikqdopx",
        "x-ms-date": "Wed, 11 Dec 2019 06:23:16 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E029BE12A1D\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:23:16 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-ed6ac3e5-4ba4-9537-0e72-6915b38d627c/test-file-0f8d6fe1-b73b-247b-b8e5-8c424da03bb9?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 10 Dec 2019 06:23:16 GMT",
        "x-ms-blob-cache-control": "avxslgnytsangthkvxjb",
        "x-ms-blob-content-disposition": "abydaqrpotvmcbkhqfdy",
        "x-ms-blob-content-encoding": "ooollysrusyqmqrxvtst",
        "x-ms-blob-content-language": "oxkyvmlfiytqujmllmra",
        "x-ms-blob-content-md5": "oIbWv9V59dSqqr1lRPqGdg==",
        "x-ms-blob-content-type": "xatvufaljlkvmikqdopx",
        "x-ms-date": "Wed, 11 Dec 2019 06:23:17 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E029C1EFC38\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:23:17 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-10c5fe02-fc5c-5114-004e-cb02a06a51ba/test-file-8d79af23-4513-9190-d316-403eea87a722?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 12 Dec 2019 06:23:16 GMT",
        "x-ms-blob-cache-control": "avxslgnytsangthkvxjb",
        "x-ms-blob-content-disposition": "abydaqrpotvmcbkhqfdy",
        "x-ms-blob-content-encoding": "ooollysrusyqmqrxvtst",
        "x-ms-blob-content-language": "oxkyvmlfiytqujmllmra",
        "x-ms-blob-content-md5": "oIbWv9V59dSqqr1lRPqGdg==",
        "x-ms-blob-content-type": "xatvufaljlkvmikqdopx",
        "x-ms-date": "Wed, 11 Dec 2019 06:23:17 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E029C5C9AA3\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:23:17 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-efd7a682-f93c-01a7-535d-b46529a06be3/test-file-4ded4688-f080-0fd7-4b55-f66aef4fb7ca",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 06:23:17 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77E029C8F049A\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:23:17 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 11 Dec 2019 06:23:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-efd7a682-f93c-01a7-535d-b46529a06be3/test-file-4ded4688-f080-0fd7-4b55-f66aef4fb7ca?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D77E029C8F049A\u0022",
        "x-ms-blob-cache-control": "avxslgnytsangthkvxjb",
        "x-ms-blob-content-disposition": "abydaqrpotvmcbkhqfdy",
        "x-ms-blob-content-encoding": "ooollysrusyqmqrxvtst",
        "x-ms-blob-content-language": "oxkyvmlfiytqujmllmra",
        "x-ms-blob-content-md5": "oIbWv9V59dSqqr1lRPqGdg==",
        "x-ms-blob-content-type": "xatvufaljlkvmikqdopx",
        "x-ms-date": "Wed, 11 Dec 2019 06:23:17 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E029CA969DE\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:23:17 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-c8c04e02-2a09-9faf-7be7-40e82c402e19/test-file-eaa82ae7-0217-9b56-719a-e014fe6d9084?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-blob-cache-control": "avxslgnytsangthkvxjb",
        "x-ms-blob-content-disposition": "abydaqrpotvmcbkhqfdy",
        "x-ms-blob-content-encoding": "ooollysrusyqmqrxvtst",
        "x-ms-blob-content-language": "oxkyvmlfiytqujmllmra",
        "x-ms-blob-content-md5": "oIbWv9V59dSqqr1lRPqGdg==",
        "x-ms-blob-content-type": "xatvufaljlkvmikqdopx",
        "x-ms-date": "Wed, 11 Dec 2019 06:23:18 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E029CE7D089\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:23:18 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-e94b4489-fada-70f2-192e-647e01e4a830/test-file-d10062ea-820b-9570-05de-8d6f06a0df99?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 06:23:18 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "c06bcdaa-786e-757e-0456-4d929592090b",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E029D175F52\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:23:18 GMT",
        "x-ms-lease-id": "c06bcdaa-786e-757e-0456-4d929592090b",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-e94b4489-fada-70f2-192e-647e01e4a830?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 06:23:18 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-12-10T22:23:16.4068555-08:00",
    "RandomSeed": "1995490940",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanstagehierarchical\nU2FuaXRpemVk\nhttp://seanstagehierarchical.blob.core.windows.net\nhttp://seanstagehierarchical.file.core.windows.net\nhttp://seanstagehierarchical.queue.core.windows.net\nhttp://seanstagehierarchical.table.core.windows.net\n\n\n\n\nhttp://seanstagehierarchical-secondary.blob.core.windows.net\nhttp://seanstagehierarchical-secondary.file.core.windows.net\nhttp://seanstagehierarchical-secondary.queue.core.windows.net\nhttp://seanstagehierarchical-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://seanstagehierarchical.blob.core.windows.net/;QueueEndpoint=http://seanstagehierarchical.queue.core.windows.net/;FileEndpoint=http://seanstagehierarchical.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagehierarchical-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagehierarchical-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagehierarchical-secondary.file.core.windows.net/;AccountName=seanstagehierarchical;AccountKey=Sanitized\n"
  }
}