{
  "Entries": [
    {
      "RequestUri": "https://seanstagehns.blob.core.windows.net/test-filesystem-f777f69d-ebbf-f742-f237-1beb19eec6a1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 03 Jun 2021 20:19:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D926CCF4548393\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 20:19:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehns.dfs.core.windows.net/test-filesystem-f777f69d-ebbf-f742-f237-1beb19eec6a1/test-file-fbce5625-9656-4609-1a21-e6871b61673e?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jun 2021 20:19:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D926CCF45D56A9\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 20:19:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehns.blob.core.windows.net/test-filesystem-f777f69d-ebbf-f742-f237-1beb19eec6a1/test-file-fbce5625-9656-4609-1a21-e6871b61673e?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Fri, 04 Jun 2021 20:19:56 GMT",
        "x-ms-blob-cache-control": "hshuqtelkiwrhwwebram",
        "x-ms-blob-content-disposition": "nqhmnaxwdmuqcdktriee",
        "x-ms-blob-content-encoding": "lxnmcbdexovvfmlqkthp",
        "x-ms-blob-content-language": "uhixmgodmdlrnvbpcujl",
        "x-ms-blob-content-md5": "L3SS/9Rb89AM6GcIXgn8iA==",
        "x-ms-blob-content-type": "wsynqykoqtiwbnieppyv",
        "x-ms-date": "Thu, 03 Jun 2021 20:19:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:57439834-101e-0014-12b5-588ee6000000\n",
        "Time:2021-06-03T20:19:56.5048524Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanstagehns.blob.core.windows.net/test-filesystem-abadc342-cbe8-d5a7-76a9-91fe938857c4/test-file-ed46467f-290a-199f-6bbf-3e650e81d0cf?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Wed, 02 Jun 2021 20:19:56 GMT",
        "x-ms-blob-cache-control": "hshuqtelkiwrhwwebram",
        "x-ms-blob-content-disposition": "nqhmnaxwdmuqcdktriee",
        "x-ms-blob-content-encoding": "lxnmcbdexovvfmlqkthp",
        "x-ms-blob-content-language": "uhixmgodmdlrnvbpcujl",
        "x-ms-blob-content-md5": "L3SS/9Rb89AM6GcIXgn8iA==",
        "x-ms-blob-content-type": "wsynqykoqtiwbnieppyv",
        "x-ms-date": "Thu, 03 Jun 2021 20:19:57 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:5743983e-101e-0014-18b5-588ee6000000\n",
        "Time:2021-06-03T20:19:56.6647609Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanstagehns.blob.core.windows.net/test-filesystem-a22863fa-8fd3-2a38-d5f0-aae182b37f5a/test-file-6a649dcb-0e4f-a8a9-4685-3a34f06b2fb9?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-blob-cache-control": "hshuqtelkiwrhwwebram",
        "x-ms-blob-content-disposition": "nqhmnaxwdmuqcdktriee",
        "x-ms-blob-content-encoding": "lxnmcbdexovvfmlqkthp",
        "x-ms-blob-content-language": "uhixmgodmdlrnvbpcujl",
        "x-ms-blob-content-md5": "L3SS/9Rb89AM6GcIXgn8iA==",
        "x-ms-blob-content-type": "wsynqykoqtiwbnieppyv",
        "x-ms-date": "Thu, 03 Jun 2021 20:19:57 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:57439847-101e-0014-20b5-588ee6000000\n",
        "Time:2021-06-03T20:19:56.8226710Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanstagehns.blob.core.windows.net/test-filesystem-853c7e39-d3b0-0498-c0ef-8389eb9a90ad/test-file-71883fd1-78de-3935-cbdb-12129391fada",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jun 2021 20:19:57 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D926CCF4AAB7D8\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 20:19:56 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 03 Jun 2021 20:19:56 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehns.blob.core.windows.net/test-filesystem-853c7e39-d3b0-0498-c0ef-8389eb9a90ad/test-file-71883fd1-78de-3935-cbdb-12129391fada?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "0x8D926CCF4AAB7D8",
        "x-ms-blob-cache-control": "hshuqtelkiwrhwwebram",
        "x-ms-blob-content-disposition": "nqhmnaxwdmuqcdktriee",
        "x-ms-blob-content-encoding": "lxnmcbdexovvfmlqkthp",
        "x-ms-blob-content-language": "uhixmgodmdlrnvbpcujl",
        "x-ms-blob-content-md5": "L3SS/9Rb89AM6GcIXgn8iA==",
        "x-ms-blob-content-type": "wsynqykoqtiwbnieppyv",
        "x-ms-date": "Thu, 03 Jun 2021 20:19:57 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:57439856-101e-0014-2db5-588ee6000000\n",
        "Time:2021-06-03T20:19:57.0255553Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanstagehns.blob.core.windows.net/test-filesystem-eaae336e-deaa-02dd-6049-b8053138cc5a/test-file-c59dd213-1629-d6e2-4b12-d5486d04cd62?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "hshuqtelkiwrhwwebram",
        "x-ms-blob-content-disposition": "nqhmnaxwdmuqcdktriee",
        "x-ms-blob-content-encoding": "lxnmcbdexovvfmlqkthp",
        "x-ms-blob-content-language": "uhixmgodmdlrnvbpcujl",
        "x-ms-blob-content-md5": "L3SS/9Rb89AM6GcIXgn8iA==",
        "x-ms-blob-content-type": "wsynqykoqtiwbnieppyv",
        "x-ms-date": "Thu, 03 Jun 2021 20:19:57 GMT",
        "x-ms-lease-id": "18321617-369e-9b54-d5eb-f7543360193e",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseNotPresentWithBlobOperation\u003C/Code\u003E\u003CMessage\u003EThere is currently no lease on the blob.\n",
        "RequestId:5743985d-101e-0014-33b5-588ee6000000\n",
        "Time:2021-06-03T20:19:57.2124477Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanstagehns.blob.core.windows.net/test-filesystem-eaae336e-deaa-02dd-6049-b8053138cc5a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jun 2021 20:19:57 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-06-03T15:19:56.8351680-05:00",
    "RandomSeed": "1960223532",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanstagehns\nU2FuaXRpemVk\nhttps://seanstagehns.blob.core.windows.net\nhttps://seanstagehns.file.core.windows.net\nhttps://seanstagehns.queue.core.windows.net\nhttps://seanstagehns.table.core.windows.net\n\n\n\n\nhttps://seanstagehns-secondary.blob.core.windows.net\nhttps://seanstagehns-secondary.file.core.windows.net\nhttps://seanstagehns-secondary.queue.core.windows.net\nhttps://seanstagehns-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanstagehns.blob.core.windows.net/;QueueEndpoint=https://seanstagehns.queue.core.windows.net/;FileEndpoint=https://seanstagehns.file.core.windows.net/;BlobSecondaryEndpoint=https://seanstagehns-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanstagehns-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanstagehns-secondary.file.core.windows.net/;AccountName=seanstagehns;AccountKey=Sanitized\n"
  }
}