{
  "Entries": [
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-98a81586-2d7f-4de4-1336-393333521120?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 22:22:36 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C153B5A02EAD\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:22:36 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.dfs.core.windows.net/test-filesystem-98a81586-2d7f-4de4-1336-393333521120/test-file-880a0aac-349e-77e0-5406-5f40d3526e3a?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:22:37 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C153B5D55710\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:22:37 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-98a81586-2d7f-4de4-1336-393333521120/test-file-880a0aac-349e-77e0-5406-5f40d3526e3a?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "lqkakiyevdrkpxgpfrrt",
        "x-ms-blob-content-disposition": "apkrwbdomvopbmrovqjk",
        "x-ms-blob-content-encoding": "ycbrljbamubwsdlvfrdi",
        "x-ms-blob-content-language": "fjqanbjdfrtnihtworgm",
        "x-ms-blob-content-md5": "xBwIITG6ttY3LiKwDhh7Lw==",
        "x-ms-blob-content-type": "yccruqvxbvidnbeoladj",
        "x-ms-date": "Thu, 05 Mar 2020 22:22:37 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C153B5E2FF86\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:22:37 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-b799cbd7-1450-dc28-cc07-286821fda3a2/test-file-4d94ad8c-5eb9-88b2-4e80-0b541abc7158?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 04 Mar 2020 22:22:36 GMT",
        "x-ms-blob-cache-control": "lqkakiyevdrkpxgpfrrt",
        "x-ms-blob-content-disposition": "apkrwbdomvopbmrovqjk",
        "x-ms-blob-content-encoding": "ycbrljbamubwsdlvfrdi",
        "x-ms-blob-content-language": "fjqanbjdfrtnihtworgm",
        "x-ms-blob-content-md5": "xBwIITG6ttY3LiKwDhh7Lw==",
        "x-ms-blob-content-type": "yccruqvxbvidnbeoladj",
        "x-ms-date": "Thu, 05 Mar 2020 22:22:38 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C153B684F896\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:22:38 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-5c22cc41-e056-7ffd-c333-c83d2a1156d4/test-file-45fe424c-eea3-6955-6611-6a3eb4cb32e9?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 06 Mar 2020 22:22:36 GMT",
        "x-ms-blob-cache-control": "lqkakiyevdrkpxgpfrrt",
        "x-ms-blob-content-disposition": "apkrwbdomvopbmrovqjk",
        "x-ms-blob-content-encoding": "ycbrljbamubwsdlvfrdi",
        "x-ms-blob-content-language": "fjqanbjdfrtnihtworgm",
        "x-ms-blob-content-md5": "xBwIITG6ttY3LiKwDhh7Lw==",
        "x-ms-blob-content-type": "yccruqvxbvidnbeoladj",
        "x-ms-date": "Thu, 05 Mar 2020 22:22:39 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C153B7141ABC\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:22:39 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-af91d14f-a0d4-e453-7401-15d2b1c946f7/test-file-8263ff73-fbd8-7e9c-05ab-ce07b714dcef",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:22:40 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C153B785C575\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:22:40 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 05 Mar 2020 22:22:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-af91d14f-a0d4-e453-7401-15d2b1c946f7/test-file-8263ff73-fbd8-7e9c-05ab-ce07b714dcef?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D7C153B785C575\u0022",
        "x-ms-blob-cache-control": "lqkakiyevdrkpxgpfrrt",
        "x-ms-blob-content-disposition": "apkrwbdomvopbmrovqjk",
        "x-ms-blob-content-encoding": "ycbrljbamubwsdlvfrdi",
        "x-ms-blob-content-language": "fjqanbjdfrtnihtworgm",
        "x-ms-blob-content-md5": "xBwIITG6ttY3LiKwDhh7Lw==",
        "x-ms-blob-content-type": "yccruqvxbvidnbeoladj",
        "x-ms-date": "Thu, 05 Mar 2020 22:22:40 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C153B7A84600\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:22:40 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-e14ed97e-8bc6-d767-3e52-e318ee81198f/test-file-f443e9e8-6b63-4952-0a43-0dea917f6048?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-blob-cache-control": "lqkakiyevdrkpxgpfrrt",
        "x-ms-blob-content-disposition": "apkrwbdomvopbmrovqjk",
        "x-ms-blob-content-encoding": "ycbrljbamubwsdlvfrdi",
        "x-ms-blob-content-language": "fjqanbjdfrtnihtworgm",
        "x-ms-blob-content-md5": "xBwIITG6ttY3LiKwDhh7Lw==",
        "x-ms-blob-content-type": "yccruqvxbvidnbeoladj",
        "x-ms-date": "Thu, 05 Mar 2020 22:22:41 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C153B82E5EF6\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:22:41 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-cb99da50-b414-4281-435d-5cfa05a9a18a/test-file-ac4e514a-f24c-a6bd-c234-b8b2745d4b5e?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:22:42 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "6b09297f-968b-aaca-22ac-aa3cc48e84f0",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C153B8A18DBC\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:22:42 GMT",
        "x-ms-lease-id": "6b09297f-968b-aaca-22ac-aa3cc48e84f0",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-cb99da50-b414-4281-435d-5cfa05a9a18a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:22:42 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-03-05T14:22:36.7574011-08:00",
    "RandomSeed": "1972402142",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanstagehierarchical\nU2FuaXRpemVk\nhttps://seanstagehierarchical.blob.core.windows.net\nhttp://seanstagehierarchical.file.core.windows.net\nhttp://seanstagehierarchical.queue.core.windows.net\nhttp://seanstagehierarchical.table.core.windows.net\n\n\n\n\nhttp://seanstagehierarchical-secondary.blob.core.windows.net\nhttp://seanstagehierarchical-secondary.file.core.windows.net\nhttp://seanstagehierarchical-secondary.queue.core.windows.net\nhttp://seanstagehierarchical-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanstagehierarchical.blob.core.windows.net/;QueueEndpoint=http://seanstagehierarchical.queue.core.windows.net/;FileEndpoint=http://seanstagehierarchical.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagehierarchical-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagehierarchical-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagehierarchical-secondary.file.core.windows.net/;AccountName=seanstagehierarchical;AccountKey=Sanitized\n"
  }
}