{
  "Entries": [
    {
      "RequestUri": "https://seanstagehns.blob.core.windows.net/test-filesystem-15822257-e745-5078-6547-2dbf22107a67?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 03 Jun 2021 20:19:55 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D926CCF3A8CC55\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 20:19:55 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehns.dfs.core.windows.net/test-filesystem-15822257-e745-5078-6547-2dbf22107a67/test-file-2d3fd24d-a6ce-5662-bbbf-2980a5e682f4?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jun 2021 20:19:55 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D926CCF3B2FD81\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 20:19:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehns.blob.core.windows.net/test-filesystem-15822257-e745-5078-6547-2dbf22107a67/test-file-2d3fd24d-a6ce-5662-bbbf-2980a5e682f4?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "lldatwnludibgmwlquve",
        "x-ms-blob-content-disposition": "hsyfjccdumkjccqntluc",
        "x-ms-blob-content-encoding": "pormnxvxbeiogfqsmxpq",
        "x-ms-blob-content-language": "tjqisxxeuirfasoramrl",
        "x-ms-blob-content-md5": "C2Fwl5132XvE4ivzKm61bg==",
        "x-ms-blob-content-type": "gdcpdvdwkxbvudifxito",
        "x-ms-date": "Thu, 03 Jun 2021 20:19:55 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D926CCF3B87AFA\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 20:19:55 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagehns.blob.core.windows.net/test-filesystem-90d7d8ac-51d7-5e1d-ffaf-0197fc1dec94/test-file-bbdf67d4-a9a7-7f2d-8411-24d3948b61c9?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 02 Jun 2021 20:19:55 GMT",
        "x-ms-blob-cache-control": "lldatwnludibgmwlquve",
        "x-ms-blob-content-disposition": "hsyfjccdumkjccqntluc",
        "x-ms-blob-content-encoding": "pormnxvxbeiogfqsmxpq",
        "x-ms-blob-content-language": "tjqisxxeuirfasoramrl",
        "x-ms-blob-content-md5": "C2Fwl5132XvE4ivzKm61bg==",
        "x-ms-blob-content-type": "gdcpdvdwkxbvudifxito",
        "x-ms-date": "Thu, 03 Jun 2021 20:19:55 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D926CCF3D3B1FF\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 20:19:55 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagehns.blob.core.windows.net/test-filesystem-209a2a92-712c-b3f4-c10c-6a68123ebcf9/test-file-27834f0f-1c25-da6d-5e84-6a2855b67095?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 04 Jun 2021 20:19:55 GMT",
        "x-ms-blob-cache-control": "lldatwnludibgmwlquve",
        "x-ms-blob-content-disposition": "hsyfjccdumkjccqntluc",
        "x-ms-blob-content-encoding": "pormnxvxbeiogfqsmxpq",
        "x-ms-blob-content-language": "tjqisxxeuirfasoramrl",
        "x-ms-blob-content-md5": "C2Fwl5132XvE4ivzKm61bg==",
        "x-ms-blob-content-type": "gdcpdvdwkxbvudifxito",
        "x-ms-date": "Thu, 03 Jun 2021 20:19:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D926CCF3ED5EC8\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 20:19:55 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagehns.blob.core.windows.net/test-filesystem-fc7629c2-1858-c70b-4c73-277449b28afa/test-file-e32b47cc-357f-6962-de35-43328d30d7dd",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jun 2021 20:19:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D926CCF3FFE091\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 20:19:55 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 03 Jun 2021 20:19:55 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehns.blob.core.windows.net/test-filesystem-fc7629c2-1858-c70b-4c73-277449b28afa/test-file-e32b47cc-357f-6962-de35-43328d30d7dd?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D926CCF3FFE091",
        "x-ms-blob-cache-control": "lldatwnludibgmwlquve",
        "x-ms-blob-content-disposition": "hsyfjccdumkjccqntluc",
        "x-ms-blob-content-encoding": "pormnxvxbeiogfqsmxpq",
        "x-ms-blob-content-language": "tjqisxxeuirfasoramrl",
        "x-ms-blob-content-md5": "C2Fwl5132XvE4ivzKm61bg==",
        "x-ms-blob-content-type": "gdcpdvdwkxbvudifxito",
        "x-ms-date": "Thu, 03 Jun 2021 20:19:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D926CCF40C5959\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 20:19:55 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagehns.blob.core.windows.net/test-filesystem-ba3b976a-a692-004d-e10e-5bdd2196a51d/test-file-5d357777-0925-5049-f37d-69b77ad6a2ba?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-blob-cache-control": "lldatwnludibgmwlquve",
        "x-ms-blob-content-disposition": "hsyfjccdumkjccqntluc",
        "x-ms-blob-content-encoding": "pormnxvxbeiogfqsmxpq",
        "x-ms-blob-content-language": "tjqisxxeuirfasoramrl",
        "x-ms-blob-content-md5": "C2Fwl5132XvE4ivzKm61bg==",
        "x-ms-blob-content-type": "gdcpdvdwkxbvudifxito",
        "x-ms-date": "Thu, 03 Jun 2021 20:19:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D926CCF4254559\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 20:19:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagehns.blob.core.windows.net/test-filesystem-020ec83c-f5d2-4745-8f8b-108b6887fe8e/test-file-5d49fc4b-5144-6569-5f9a-d93d301e8bf9?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jun 2021 20:19:56 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "2f171458-f5ec-08f7-ecff-6e7fb34d9cca",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D926CCF4396AD4\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 20:19:56 GMT",
        "x-ms-lease-id": "2f171458-f5ec-08f7-ecff-6e7fb34d9cca",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagehns.blob.core.windows.net/test-filesystem-020ec83c-f5d2-4745-8f8b-108b6887fe8e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jun 2021 20:19:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-06-03T15:19:55.7028795-05:00",
    "RandomSeed": "1767629157",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanstagehns\nU2FuaXRpemVk\nhttps://seanstagehns.blob.core.windows.net\nhttps://seanstagehns.file.core.windows.net\nhttps://seanstagehns.queue.core.windows.net\nhttps://seanstagehns.table.core.windows.net\n\n\n\n\nhttps://seanstagehns-secondary.blob.core.windows.net\nhttps://seanstagehns-secondary.file.core.windows.net\nhttps://seanstagehns-secondary.queue.core.windows.net\nhttps://seanstagehns-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanstagehns.blob.core.windows.net/;QueueEndpoint=https://seanstagehns.queue.core.windows.net/;FileEndpoint=https://seanstagehns.file.core.windows.net/;BlobSecondaryEndpoint=https://seanstagehns-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanstagehns-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanstagehns-secondary.file.core.windows.net/;AccountName=seanstagehns;AccountKey=Sanitized\n"
  }
}