{
  "Entries": [
    {
      "RequestUri": "https://seanstagehns.blob.core.windows.net/test-filesystem-f03e9cd7-8931-ffd3-692f-dbae96560e86?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 03 Jun 2021 20:19:59 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D926CCF5B9D2BD\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 20:19:58 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehns.dfs.core.windows.net/test-filesystem-f03e9cd7-8931-ffd3-692f-dbae96560e86/test-file-bd441170-f667-b8d7-0f94-13b3e1e87580?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jun 2021 20:19:59 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D926CCF5C26E44\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 20:19:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehns.blob.core.windows.net/test-filesystem-f03e9cd7-8931-ffd3-692f-dbae96560e86/test-file-bd441170-f667-b8d7-0f94-13b3e1e87580?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Fri, 04 Jun 2021 20:19:59 GMT",
        "x-ms-blob-cache-control": "hdnvgmgxrbvewnlwegmn",
        "x-ms-blob-content-disposition": "hjwpoplyuakawooaxqfg",
        "x-ms-blob-content-encoding": "bfixnxtgcwvrnoywfxhp",
        "x-ms-blob-content-language": "ahdrpuhhykymagmbbycq",
        "x-ms-blob-content-md5": "qFSH/kpwofRzGMzncYBmbQ==",
        "x-ms-blob-content-type": "ufvwdrliprtajofscqhr",
        "x-ms-date": "Thu, 03 Jun 2021 20:19:59 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:574398b9-101e-0014-7eb5-588ee6000000\n",
        "Time:2021-06-03T20:19:58.8245262Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanstagehns.blob.core.windows.net/test-filesystem-491d6adb-d521-4e5d-fdcd-cda41752422b/test-file-55795d6b-4a6c-a747-c1e5-67bcb5c5787b?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Wed, 02 Jun 2021 20:19:59 GMT",
        "x-ms-blob-cache-control": "hdnvgmgxrbvewnlwegmn",
        "x-ms-blob-content-disposition": "hjwpoplyuakawooaxqfg",
        "x-ms-blob-content-encoding": "bfixnxtgcwvrnoywfxhp",
        "x-ms-blob-content-language": "ahdrpuhhykymagmbbycq",
        "x-ms-blob-content-md5": "qFSH/kpwofRzGMzncYBmbQ==",
        "x-ms-blob-content-type": "ufvwdrliprtajofscqhr",
        "x-ms-date": "Thu, 03 Jun 2021 20:19:59 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:574398c2-101e-0014-06b5-588ee6000000\n",
        "Time:2021-06-03T20:19:58.9804372Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanstagehns.blob.core.windows.net/test-filesystem-78707693-efb5-8d47-2adc-a2636fc10ed4/test-file-64b7c7d2-b895-2080-7389-2eed7df3c70b?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-blob-cache-control": "hdnvgmgxrbvewnlwegmn",
        "x-ms-blob-content-disposition": "hjwpoplyuakawooaxqfg",
        "x-ms-blob-content-encoding": "bfixnxtgcwvrnoywfxhp",
        "x-ms-blob-content-language": "ahdrpuhhykymagmbbycq",
        "x-ms-blob-content-md5": "qFSH/kpwofRzGMzncYBmbQ==",
        "x-ms-blob-content-type": "ufvwdrliprtajofscqhr",
        "x-ms-date": "Thu, 03 Jun 2021 20:19:59 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:574398cb-101e-0014-0db5-588ee6000000\n",
        "Time:2021-06-03T20:19:59.1483413Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanstagehns.blob.core.windows.net/test-filesystem-f2a1e60c-a430-0e7c-52ec-135e711c2b3e/test-file-76e51b0c-2497-ddb0-d9de-9d12ec124036",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jun 2021 20:19:59 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D926CCF60E71D7\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 20:19:59 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 03 Jun 2021 20:19:59 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehns.blob.core.windows.net/test-filesystem-f2a1e60c-a430-0e7c-52ec-135e711c2b3e/test-file-76e51b0c-2497-ddb0-d9de-9d12ec124036?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "0x8D926CCF60E71D7",
        "x-ms-blob-cache-control": "hdnvgmgxrbvewnlwegmn",
        "x-ms-blob-content-disposition": "hjwpoplyuakawooaxqfg",
        "x-ms-blob-content-encoding": "bfixnxtgcwvrnoywfxhp",
        "x-ms-blob-content-language": "ahdrpuhhykymagmbbycq",
        "x-ms-blob-content-md5": "qFSH/kpwofRzGMzncYBmbQ==",
        "x-ms-blob-content-type": "ufvwdrliprtajofscqhr",
        "x-ms-date": "Thu, 03 Jun 2021 20:19:59 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:574398d5-101e-0014-16b5-588ee6000000\n",
        "Time:2021-06-03T20:19:59.3572221Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanstagehns.blob.core.windows.net/test-filesystem-1ce759f6-57d5-5b48-060e-6a2c1e3070aa/test-file-4392f8f3-6847-9596-afe2-ccf6c393bd27?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "hdnvgmgxrbvewnlwegmn",
        "x-ms-blob-content-disposition": "hjwpoplyuakawooaxqfg",
        "x-ms-blob-content-encoding": "bfixnxtgcwvrnoywfxhp",
        "x-ms-blob-content-language": "ahdrpuhhykymagmbbycq",
        "x-ms-blob-content-md5": "qFSH/kpwofRzGMzncYBmbQ==",
        "x-ms-blob-content-type": "ufvwdrliprtajofscqhr",
        "x-ms-date": "Thu, 03 Jun 2021 20:19:59 GMT",
        "x-ms-lease-id": "076b5326-9d4e-d057-ca7e-976c8c061999",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseNotPresentWithBlobOperation\u003C/Code\u003E\u003CMessage\u003EThere is currently no lease on the blob.\n",
        "RequestId:574398e0-101e-0014-1fb5-588ee6000000\n",
        "Time:2021-06-03T20:19:59.5041385Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanstagehns.blob.core.windows.net/test-filesystem-1ce759f6-57d5-5b48-060e-6a2c1e3070aa?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jun 2021 20:19:59 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-06-03T15:19:59.1839813-05:00",
    "RandomSeed": "1050652194",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanstagehns\nU2FuaXRpemVk\nhttps://seanstagehns.blob.core.windows.net\nhttps://seanstagehns.file.core.windows.net\nhttps://seanstagehns.queue.core.windows.net\nhttps://seanstagehns.table.core.windows.net\n\n\n\n\nhttps://seanstagehns-secondary.blob.core.windows.net\nhttps://seanstagehns-secondary.file.core.windows.net\nhttps://seanstagehns-secondary.queue.core.windows.net\nhttps://seanstagehns-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanstagehns.blob.core.windows.net/;QueueEndpoint=https://seanstagehns.queue.core.windows.net/;FileEndpoint=https://seanstagehns.file.core.windows.net/;BlobSecondaryEndpoint=https://seanstagehns-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanstagehns-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanstagehns-secondary.file.core.windows.net/;AccountName=seanstagehns;AccountKey=Sanitized\n"
  }
}