{
  "Entries": [
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-ad60e6c0-aa81-9a48-9c77-8b326ae57fff?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 06:23:24 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E02A0B47C3F\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:23:24 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagehierarchical.dfs.core.windows.net/test-filesystem-ad60e6c0-aa81-9a48-9c77-8b326ae57fff/test-file-9606b3d0-ecc7-4166-8762-407324cc2795?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 06:23:24 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E02A0C6E4AE\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:23:24 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-ad60e6c0-aa81-9a48-9c77-8b326ae57fff/test-file-9606b3d0-ecc7-4166-8762-407324cc2795?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 12 Dec 2019 06:23:24 GMT",
        "x-ms-date": "Wed, 11 Dec 2019 06:23:24 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:884107fc-e01e-001e-17eb-af7ee3000000\n",
        "Time:2019-12-11T06:23:24.9541696Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-9e63e69f-44d5-1892-932e-9dee313df4fa/test-file-77b456f7-9f3e-01d4-4ebe-5c4b9dfecc61?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Tue, 10 Dec 2019 06:23:24 GMT",
        "x-ms-date": "Wed, 11 Dec 2019 06:23:25 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:88410804-e01e-001e-1ceb-af7ee3000000\n",
        "Time:2019-12-11T06:23:25.3621660Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-4cf243ef-f0fb-0696-37eb-2af49e809c5c/test-file-0060f42c-6121-2c3c-7f7c-bf7a34152c1e?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-date": "Wed, 11 Dec 2019 06:23:25 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:8841080c-e01e-001e-22eb-af7ee3000000\n",
        "Time:2019-12-11T06:23:25.8701701Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-b5dc8cfe-0f3b-a7e1-ce75-e475bab75365/test-file-6d97e263-f236-6189-652d-1c4f30c02f89",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 06:23:26 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77E02A19010BC\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:23:26 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 11 Dec 2019 06:23:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-b5dc8cfe-0f3b-a7e1-ce75-e475bab75365/test-file-6d97e263-f236-6189-652d-1c4f30c02f89?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u00220x8D77E02A19010BC\u0022",
        "x-ms-date": "Wed, 11 Dec 2019 06:23:26 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:88410815-e01e-001e-28eb-af7ee3000000\n",
        "Time:2019-12-11T06:23:26.3571611Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-b77ffbf9-9f89-6baf-3c3c-34f9f3ea1e7b/test-file-559430af-69cd-c277-6b6c-28788172989e?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 06:23:26 GMT",
        "x-ms-lease-id": "cf86187b-dc60-7747-3d4f-b3f994a0e6fd",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseNotPresentWithBlobOperation\u003C/Code\u003E\u003CMessage\u003EThere is currently no lease on the blob.\n",
        "RequestId:88410819-e01e-001e-2beb-af7ee3000000\n",
        "Time:2019-12-11T06:23:26.7541580Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-b77ffbf9-9f89-6baf-3c3c-34f9f3ea1e7b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 06:23:26 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-12-10T22:23:24.7110336-08:00",
    "RandomSeed": "805005405",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanstagehierarchical\nU2FuaXRpemVk\nhttp://seanstagehierarchical.blob.core.windows.net\nhttp://seanstagehierarchical.file.core.windows.net\nhttp://seanstagehierarchical.queue.core.windows.net\nhttp://seanstagehierarchical.table.core.windows.net\n\n\n\n\nhttp://seanstagehierarchical-secondary.blob.core.windows.net\nhttp://seanstagehierarchical-secondary.file.core.windows.net\nhttp://seanstagehierarchical-secondary.queue.core.windows.net\nhttp://seanstagehierarchical-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://seanstagehierarchical.blob.core.windows.net/;QueueEndpoint=http://seanstagehierarchical.queue.core.windows.net/;FileEndpoint=http://seanstagehierarchical.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagehierarchical-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagehierarchical-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagehierarchical-secondary.file.core.windows.net/;AccountName=seanstagehierarchical;AccountKey=Sanitized\n"
  }
}