{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-012b68db-756a-a39b-064b-d62d7b6e3c74?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:11:06 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A1B98F334\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:11:06 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-012b68db-756a-a39b-064b-d62d7b6e3c74/test-file-c52034cd-860d-b61a-d107-0009644795ec?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:11:07 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A1BA7B2BD\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:11:06 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-012b68db-756a-a39b-064b-d62d7b6e3c74/test-file-c52034cd-860d-b61a-d107-0009644795ec?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:11:07 GMT",
        "x-ms-permissions": "rwxrwxrwx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A1BA7B2BD\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:11:06 GMT",
        "x-ms-namespace-enabled": "true"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-8e53d0f6-21a9-a14d-08c5-df9db95e141c/test-file-a1e50822-a1f8-e5c4-8072-d18cd4eddaac?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 18 Feb 2021 19:11:06 GMT",
        "x-ms-date": "Fri, 19 Feb 2021 19:11:07 GMT",
        "x-ms-permissions": "rwxrwxrwx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A1BDB93C8\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:11:06 GMT",
        "x-ms-namespace-enabled": "true"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-7519a17b-2203-ba48-d05a-65bc4394193c/test-file-27445a3e-5eac-d15b-5080-fe128b782c41?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sat, 20 Feb 2021 19:11:06 GMT",
        "x-ms-date": "Fri, 19 Feb 2021 19:11:07 GMT",
        "x-ms-permissions": "rwxrwxrwx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A1C117065\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:11:07 GMT",
        "x-ms-namespace-enabled": "true"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-4f50f472-d314-d05a-6e77-914f63881284/test-file-ba2e23e1-f190-11f5-a614-b29a47a10ecd",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:11:08 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D50A1C4567A4\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:11:07 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:11:07 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-4f50f472-d314-d05a-6e77-914f63881284/test-file-ba2e23e1-f190-11f5-a614-b29a47a10ecd?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D50A1C4567A4",
        "x-ms-date": "Fri, 19 Feb 2021 19:11:08 GMT",
        "x-ms-permissions": "rwxrwxrwx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A1C4567A4\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:11:07 GMT",
        "x-ms-namespace-enabled": "true"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-58e57671-77e6-51d6-49ad-e4816553a48f/test-file-2cc8fcf7-3efc-c906-2749-6f703d8a8ec6?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Fri, 19 Feb 2021 19:11:08 GMT",
        "x-ms-permissions": "rwxrwxrwx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A1C896594\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:11:07 GMT",
        "x-ms-namespace-enabled": "true"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-05f50f0b-beb1-f237-671e-39916b24abae/test-file-63c33482-b6c1-4e92-7f14-7df189980452?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:11:08 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "84f14ff9-5b8d-45c6-b7d5-b7c9ca9c3461"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A1CBB2F1B\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:11:08 GMT",
        "x-ms-lease-id": "84f14ff9-5b8d-45c6-b7d5-b7c9ca9c3461"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-05f50f0b-beb1-f237-671e-39916b24abae?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:11:09 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-19T13:11:06.9245020-06:00",
    "RandomSeed": "1135755755",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}