{
  "Entries": [
    {
      "RequestUri": "https://s9axscnapby3pev24a.blob.preprod.core.windows.net/test-filesystem-ee2344b3-93e1-6311-9130-14481ba5e380?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 Jan 2022 20:02:26 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DABD731797F1\u0022",
        "Last-Modified": "Tue, 18 Jan 2022 20:02:26 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://s9axscnapby3pev24a.dfs.preprod.core.windows.net/test-filesystem-ee2344b3-93e1-6311-9130-14481ba5e380/test-directory-a6591405-db1d-259c-f679-20cede4e658a?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 18 Jan 2022 20:02:26 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DABD73284716\u0022",
        "Last-Modified": "Tue, 18 Jan 2022 20:02:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://s9axscnapby3pev24a.dfs.preprod.core.windows.net/test-filesystem-ee2344b3-93e1-6311-9130-14481ba5e380/test-directory-a6591405-db1d-259c-f679-20cede4e658a/test-file-d55adaaf-a82a-be57-ccc0-0dab81d0b08b?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 18 Jan 2022 20:02:26 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "QcHfIJVy4jgqvIL1msjtknzS9pQoHbuDLx4vsNvPv40=",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DABD733598CE\u0022",
        "Last-Modified": "Tue, 18 Jan 2022 20:02:26 GMT",
        "x-ms-encryption-key-sha256": "QcHfIJVy4jgqvIL1msjtknzS9pQoHbuDLx4vsNvPv40=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://s9axscnapby3pev24a.dfs.preprod.core.windows.net/test-filesystem-ee2344b3-93e1-6311-9130-14481ba5e380/test-directory-a6591405-db1d-259c-f679-20cede4e658a/test-file-d55adaaf-a82a-be57-ccc0-0dab81d0b08b?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 18 Jan 2022 20:02:26 GMT",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DABD733598CE\u0022",
        "Last-Modified": "Tue, 18 Jan 2022 20:02:26 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://s9axscnapby3pev24a.blob.preprod.core.windows.net/test-filesystem-ee2344b3-93e1-6311-9130-14481ba5e380?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 18 Jan 2022 20:02:27 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1339627836",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\ns9axscnapby3pev24a\nU2FuaXRpemVk\nhttps://s9axscnapby3pev24a.blob.preprod.core.windows.net\nhttp://s9axscnapby3pev24a.file.core.windows.net\nhttp://s9axscnapby3pev24a.queue.core.windows.net\nhttp://s9axscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttp://s9axscnapby3pev24a-secondary.blob.core.windows.net\nhttp://s9axscnapby3pev24a-secondary.file.core.windows.net\nhttp://s9axscnapby3pev24a-secondary.queue.core.windows.net\nhttp://s9axscnapby3pev24a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://s9axscnapby3pev24a.blob.preprod.core.windows.net/;QueueEndpoint=http://s9axscnapby3pev24a.queue.core.windows.net/;FileEndpoint=http://s9axscnapby3pev24a.file.core.windows.net/;BlobSecondaryEndpoint=http://s9axscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://s9axscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://s9axscnapby3pev24a-secondary.file.core.windows.net/;AccountName=s9axscnapby3pev24a;AccountKey=Sanitized\n\n\n"
  }
}