{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-eaad0a7c-7ae7-fec8-94aa-ca8850f962ed?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 22:36:55 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D394879F7978\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:36:55 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-eaad0a7c-7ae7-fec8-94aa-ca8850f962ed/test-file-7379982f-9e32-0503-ddae-160b4847d188?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 17 Feb 2021 22:36:55 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D39487D3D825\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:36:56 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-eaad0a7c-7ae7-fec8-94aa-ca8850f962ed/test-file-7379982f-9e32-0503-ddae-160b4847d188?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:36:56 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "mJhmAh\u002B4q2DntjlSDrJ6HKIQUpWSngCEStTLk\u002B515uey4OHrUTcBduwZjHtksfYrM/lpN/Q89fmY[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-eaad0a7c-7ae7-fec8-94aa-ca8850f962ed/test-file-7379982f-9e32-0503-ddae-160b4847d188?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:36:56 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D39487EE6005\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:36:56 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-eaad0a7c-7ae7-fec8-94aa-ca8850f962ed/test-file-7379982f-9e32-0503-ddae-160b4847d188",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:36:56 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D39487EE6005\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:36:56 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 22:36:56 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "mJhmAh\u002B4q2DntjlSDrJ6HKIQUpWSngCEStTLk\u002B515uey4OHrUTcBduwZjHtksfYrM/lpN/Q89fmY4bdL7Bhxcs9Rny7Qj8tqDtuoeRKEH5ndoGD0C6/zduroU2\u002BAtonUpxqsEhLIWqQt/ygZk3zmFMIebUy4fGYgXihD6Dtc6lhR1NH41wyHFUa7xgyG2eJuAT\u002BsYkk9Gyqzi7PphHFo0RTQx7\u002Br7jy1llcF/LZamYVF1Of8r4gOFLimRUtZnpHUU/X3tREjwxMC98vxNx90WfEuo6\u002BKayGMwrMHBKnwXPjGMajAYuRzIhHT\u002Bbi8HNyYMutZK/rhSejTavNeG75qEpvSKwV2s/YNuoGdtnFpz6XWbtK9ljH\u002B5ejA7PjwFQ[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-eaad0a7c-7ae7-fec8-94aa-ca8850f962ed/test-file-7379982f-9e32-0503-ddae-160b4847d188?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 17 Feb 2021 22:36:56 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "PathAlreadyExists",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": {
        "error": {
          "code": "PathAlreadyExists",
          "message": "The specified path already exists.\nRequestId:abc46ffd-201f-007f-177d-05b0c4000000\nTime:2021-02-17T22:36:56.3884145Z"
        }
      }
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-eaad0a7c-7ae7-fec8-94aa-ca8850f962ed?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:36:56 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "627648983",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}