{
  "Entries": [
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-eaad0a7c-7ae7-fec8-94aa-ca8850f962ed?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 22:23:11 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C153CA84927B\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:23:12 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.dfs.core.windows.net/test-filesystem-eaad0a7c-7ae7-fec8-94aa-ca8850f962ed/test-file-7379982f-9e32-0503-ddae-160b4847d188?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Thu, 05 Mar 2020 22:23:12 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C153CABB2995\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:23:12 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.dfs.core.windows.net/test-filesystem-eaad0a7c-7ae7-fec8-94aa-ca8850f962ed/test-file-7379982f-9e32-0503-ddae-160b4847d188?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:23:12 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "mJhmAh\u002B4q2DntjlSDrJ6HKIQUpWSngCEStTLk\u002B515uey4OHrUTcBduwZjHtksf[...]
    {
      "RequestUri": "https://seanstagehierarchical.dfs.core.windows.net/test-filesystem-eaad0a7c-7ae7-fec8-94aa-ca8850f962ed/test-file-7379982f-9e32-0503-ddae-160b4847d188?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:23:12 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C153CAD73440\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:23:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-eaad0a7c-7ae7-fec8-94aa-ca8850f962ed/test-file-7379982f-9e32-0503-ddae-160b4847d188",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:23:12 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C153CAD73440\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:23:12 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 05 Mar 2020 22:23:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": "mJhmAh\u002B4q2DntjlSDrJ6HKIQUpWSngCEStTLk\u002B515uey4OHrUTcBduwZjHtksfYrM/lpN/Q89fmY4bdL7Bhxcs9Rny7Qj8tqDtuoeRKEH5ndoGD0C6/zduroU2\u002BAtonUpxqsEhLIWqQt/ygZk3zmFMIebUy4fGYgXihD6Dtc6lhR1NH41wyHFUa7xgyG2eJuAT\u002BsYkk9Gyqzi7PphHFo0RTQx7\u002Br7jy1llcF/LZamYVF1Of8r4gOFLimRUtZnpHUU/X3tREjwxMC98vxNx90WfEuo6\u002BKayGMwrMHBKnwXPjGMajAYuRzIhHT\u002Bbi8HNyYMutZK/rhSejTavNeG75qEpvSKwV2s/YNuoGdtnFpz6XWbtK9ljH\u002B5ejA7PjwFQ[...]
    {
      "RequestUri": "https://seanstagehierarchical.dfs.core.windows.net/test-filesystem-eaad0a7c-7ae7-fec8-94aa-ca8850f962ed/test-file-7379982f-9e32-0503-ddae-160b4847d188?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Thu, 05 Mar 2020 22:23:12 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "PathAlreadyExists",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": {
        "error": {
          "code": "PathAlreadyExists",
          "message": "The specified path already exists.\nRequestId:5895a355-d01f-003a-743c-f38843000000\nTime:2020-03-05T22:23:12.7616275Z"
        }
      }
    },
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-eaad0a7c-7ae7-fec8-94aa-ca8850f962ed?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:23:12 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "627648983",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanstagehierarchical\nU2FuaXRpemVk\nhttps://seanstagehierarchical.blob.core.windows.net\nhttp://seanstagehierarchical.file.core.windows.net\nhttp://seanstagehierarchical.queue.core.windows.net\nhttp://seanstagehierarchical.table.core.windows.net\n\n\n\n\nhttp://seanstagehierarchical-secondary.blob.core.windows.net\nhttp://seanstagehierarchical-secondary.file.core.windows.net\nhttp://seanstagehierarchical-secondary.queue.core.windows.net\nhttp://seanstagehierarchical-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanstagehierarchical.blob.core.windows.net/;QueueEndpoint=http://seanstagehierarchical.queue.core.windows.net/;FileEndpoint=http://seanstagehierarchical.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagehierarchical-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagehierarchical-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagehierarchical-secondary.file.core.windows.net/;AccountName=seanstagehierarchical;AccountKey=Sanitized\n"
  }
}