{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-1f947d69-5f3d-4972-3d3f-9c98cdc1cd8d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 Aug 2020 15:08:44 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8438899B73313\u0022",
        "Last-Modified": "Tue, 18 Aug 2020 15:08:44 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-1f947d69-5f3d-4972-3d3f-9c98cdc1cd8d/test-file-dfd9b19b-0baf-59f2-2fa8-5d6472c4ea60?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 18 Aug 2020 15:08:45 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8438899F6DB4E\u0022",
        "Last-Modified": "Tue, 18 Aug 2020 15:08:45 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-1f947d69-5f3d-4972-3d3f-9c98cdc1cd8d/test-file-dfd9b19b-0baf-59f2-2fa8-5d6472c4ea60?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 18 Aug 2020 15:08:45 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "CqNJxb9mPpNR0cfWpvvPtkAfs3Xa33HyV9CvkrV3YaSWWfWRJNTp2ZToUMBwPInfAQE2TGS9xSoyV27vtqve2m8iP0wFPpJsNtnh8Y\u002BwgRpGz5GzQBRA2ZPKXsxl\u002BiPoCnZRTf082cJvyRaK3NObgtVTqOYaKpla4mW5O9/FBjy2\u002BOcYXzMdCvXORHb\u002Btfy/Ltz3ElE8zuDc9muXg57jqsPa1OTsgyKhNp7wTOYiXCxp\u002BQwCzvTqeioHO2jHhoZX65mzI\u002BEY06u5VduzS4L6upo/LoqS4NzO8Fq55Ue62bAXmWBMbjlLUCVgSXgYNi6oDIHOiFf8xAq95DKGXu1k/3srnLEhrkth9N1kMZdjtrorEdjF7FFYGtRVjooGxPE3\u002B0n87Jl8h142bZN6l5NzWS54Wk0VnhMq04Hcyx/BWy/rLDVNZ8kgr4l5j3693YJB4jRbjWmjIlw20hkYn7w/dBJjjmtdJvJlWKvEmw\u002BUbPb\u002Bm\u002BjrZc3FRwrYFpWwCA/NOhtsWU4X47tB9jS\u002B34dNomUjGQTTUw5EnUZghBBdtFCc9mD0JxKn57ctqW\u002BZB2iDi3Mvje4K\u002BuYMKLsItl\u002Br40HjIugmWXpSfDJNpamfq5be3fmcLSdhkfx65/9WnjBYgcUuteV/XTH53RG8vVQ9bXwlKdhlD7YZgpDsq3F7\u002B90=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-1f947d69-5f3d-4972-3d3f-9c98cdc1cd8d/test-file-dfd9b19b-0baf-59f2-2fa8-5d6472c4ea60?action=flush\u0026position=1748",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 18 Aug 2020 15:08:45 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D843889A3C8D04\u0022",
        "Last-Modified": "Tue, 18 Aug 2020 15:08:45 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-1f947d69-5f3d-4972-3d3f-9c98cdc1cd8d/test-file-dfd9b19b-0baf-59f2-2fa8-5d6472c4ea60",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 18 Aug 2020 15:08:46 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D843889A3C8D04\u0022",
        "Last-Modified": "Tue, 18 Aug 2020 15:08:45 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 18 Aug 2020 15:08:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "CqNJxb9mPpNR0cfWpvvPtkAfs3Xa33HyV9CvkrV3YaSWWfWRJNTp2ZToUMBwPInfAQE2TGS9xSoyV27vtqve2m8iP0wFPpJsNtnh8Y\u002BwgRpGz5GzQBRA2ZPKXsxl\u002BiPoCnZRTf082cJvyRaK3NObgtVTqOYaKpla4mW5O9/FBjy2\u002BOcYXzMdCvXORHb\u002Btfy/Ltz3ElE8zuDc9muXg57jqsPa1OTsgyKhNp7wTOYiXCxp\u002BQwCzvTqeioHO2jHhoZX65mzI\u002BEY06u5VduzS4L6upo/LoqS4NzO8Fq55Ue62bAXmWBMbjlLUCVgSXgYNi6oDIHOiFf8xAq95DKGXu1k/3srnLEhrkth9N1kMZdjtrorEdjF7FFYGtRVjooGxPE3\u002B0n[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-1f947d69-5f3d-4972-3d3f-9c98cdc1cd8d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 18 Aug 2020 15:08:46 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1956843520",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}