{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-646ed0ad-931d-4f76-9261-ff71df1e1a34?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:40 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D51078B111A7\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:56:39 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-646ed0ad-931d-4f76-9261-ff71df1e1a34/test-file-bd0873b9-bc5c-6cd5-1d86-810376bb9f1b?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:40 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D51078C4C94F\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:56:39 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-646ed0ad-931d-4f76-9261-ff71df1e1a34/test-file-bd0873b9-bc5c-6cd5-1d86-810376bb9f1b?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:40 GMT"
      },
      "RequestBody": "wXlWmkix4DMqrde6iyzvMdT7Ajxu4yleb2lLzcQ/Bx0\u002BmcZ\u002BW6rZB5PVkq/lGuDwl1AuerljrN1P9yveZhJv66W5fPJmcNYqIfqpmVB6eVSJWjZzEYxk2\u002BzoLmN/\u002BqGAZacJK57tiiZ5BFm\u002BuROM1X3WVQvc\u002B9kZVKAFfUFyqidZKDOpcE62m88P\u002BQ0zpiHYW1nmqKWVo2rN8Nb96A3lB1kxZJHg4mQuILk8zQHM5a5/LCHoiwKBxIXJ3H93ubPCKvK0AUGQ\u002BHn0t4jsWNZoAQsofrvr/HtXsJ8MFgbkt2YFeaMOGONs7jOo89R5lGyuYdt0Tjr41y13XVChhOJyDwAh5t4[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-646ed0ad-931d-4f76-9261-ff71df1e1a34/test-file-bd0873b9-bc5c-6cd5-1d86-810376bb9f1b?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:40 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D51078E18B5F\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:56:39 GMT",
        "x-ms-request-server-encrypted": "false",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-646ed0ad-931d-4f76-9261-ff71df1e1a34/test-file-bd0873b9-bc5c-6cd5-1d86-810376bb9f1b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:40 GMT",
        "x-ms-range": "bytes=0-268435455"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D51078E18B5F\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:56:39 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:56:39 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": "wXlWmkix4DMqrde6iyzvMdT7Ajxu4yleb2lLzcQ/Bx0\u002BmcZ\u002BW6rZB5PVkq/lGuDwl1AuerljrN1P9yveZhJv66W5fPJmcNYqIfqpmVB6eVSJWjZzEYxk2\u002BzoLmN/\u002BqGAZacJK57tiiZ5BFm\u002BuROM1X3WVQvc\u002B9kZVKAFfUFyqidZKDOpcE62m88P\u002BQ0zpiHYW1nmqKWVo2rN8Nb96A3lB1kxZJHg4mQuILk8zQHM5a5/LCHoiwKBxIXJ3H93ubPCKvK0AUGQ\u002BHn0t4jsWNZoAQsofrvr/HtXsJ8MFgbkt2YFeaMOGONs7jOo89R5lGyuYdt0Tjr41y13XVChhOJyDwAh5t4yWegnvI\u002BHQgin3RszXbUrcGgsDaJ1[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-646ed0ad-931d-4f76-9261-ff71df1e1a34?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:56:40 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1980492086",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}