{
  "Entries": [
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-e616bfb8-4884-b6b1-461d-90a8709e87b3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 22:23:14 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C153CBD5D76E\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:23:14 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.dfs.core.windows.net/test-filesystem-e616bfb8-4884-b6b1-461d-90a8709e87b3/test-file-46d38e4e-7de2-e699-5247-6bac3f356d72?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Thu, 05 Mar 2020 22:23:14 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C153CC0982BA\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:23:14 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.dfs.core.windows.net/test-filesystem-e616bfb8-4884-b6b1-461d-90a8709e87b3/test-file-46d38e4e-7de2-e699-5247-6bac3f356d72?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:23:14 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "rF7VV1Vix64xFP/BXejU6XZlLroBK09Vf2LSpMdI7dB9AtibvAlN68YkFM1\u002B2Ihpc4I[...]
    {
      "RequestUri": "https://seanstagehierarchical.dfs.core.windows.net/test-filesystem-e616bfb8-4884-b6b1-461d-90a8709e87b3/test-file-46d38e4e-7de2-e699-5247-6bac3f356d72?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:23:14 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C153CC23C4EA\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:23:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-e616bfb8-4884-b6b1-461d-90a8709e87b3/test-file-46d38e4e-7de2-e699-5247-6bac3f356d72",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:23:14 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C153CC23C4EA\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:23:14 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 05 Mar 2020 22:23:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": "rF7VV1Vix64xFP/BXejU6XZlLroBK09Vf2LSpMdI7dB9AtibvAlN68YkFM1\u002B2Ihpc4I12QaycYAPgNfzkCPn6CcuQ1oPOC1tGEP03BaB1qfZaDBFExTJy5FYizsxWVujPSylUJQuWjpUyMDDvZRpjaowGSfyodUTZHjItq3yPL7oUZ/q24YSqw728EtTBg397v6QAEAzsJtXkuwcZaONYosC22z1f7EkHm4Z/LCJwF5qy8ivYTt\u002BtKADkkma9UZqaY6/UCqhB29MbOLSGbTrzdKNspnb3gFQhCbL8u1oiignr5Miym8zycNYYvVZrJrsF8R3DEOsjoqMb8wD1RWC4\u002BG5qmogyQNiWunVgnsM9teM3too8X7leyAIlVujL/Ou1n8TnwIwzE7BFLFa1gwPgHj[...]
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-e616bfb8-4884-b6b1-461d-90a8709e87b3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:23:14 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "491960652",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanstagehierarchical\nU2FuaXRpemVk\nhttps://seanstagehierarchical.blob.core.windows.net\nhttp://seanstagehierarchical.file.core.windows.net\nhttp://seanstagehierarchical.queue.core.windows.net\nhttp://seanstagehierarchical.table.core.windows.net\n\n\n\n\nhttp://seanstagehierarchical-secondary.blob.core.windows.net\nhttp://seanstagehierarchical-secondary.file.core.windows.net\nhttp://seanstagehierarchical-secondary.queue.core.windows.net\nhttp://seanstagehierarchical-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanstagehierarchical.blob.core.windows.net/;QueueEndpoint=http://seanstagehierarchical.queue.core.windows.net/;FileEndpoint=http://seanstagehierarchical.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagehierarchical-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagehierarchical-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagehierarchical-secondary.file.core.windows.net/;AccountName=seanstagehierarchical;AccountKey=Sanitized\n"
  }
}