{
  "Entries": [
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-20990b44-e138-66d5-ceb9-9f9f636baca6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 27 Apr 2020 04:55:52 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EA6743242BEC\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 04:55:52 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary.dfs.core.windows.net/test-filesystem-20990b44-e138-66d5-ceb9-9f9f636baca6/test-file-99d00f11-a6ed-ab0e-374f-835a8bba300c?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Mon, 27 Apr 2020 04:55:52 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EA674333DF80\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 04:55:52 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary.dfs.core.windows.net/test-filesystem-20990b44-e138-66d5-ceb9-9f9f636baca6/test-file-99d00f11-a6ed-ab0e-374f-835a8bba300c?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2020 04:55:52 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "VvLEGtAnHRt5sWjPrqRAwhknCiXxyb8zOu9NOmnIJEXJ3dgWFqpf6fK0IDs\u002BP/ySDsFAZK8LG[...]
    {
      "RequestUri": "http://amandaadlscanary.dfs.core.windows.net/test-filesystem-20990b44-e138-66d5-ceb9-9f9f636baca6/test-file-99d00f11-a6ed-ab0e-374f-835a8bba300c?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2020 04:55:52 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EA67434B0B31\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 04:55:52 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-20990b44-e138-66d5-ceb9-9f9f636baca6/test-file-99d00f11-a6ed-ab0e-374f-835a8bba300c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2020 04:55:52 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7EA67434B0B31\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 04:55:52 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 27 Apr 2020 04:55:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "VvLEGtAnHRt5sWjPrqRAwhknCiXxyb8zOu9NOmnIJEXJ3dgWFqpf6fK0IDs\u002BP/ySDsFAZK8LGo0ykODh2eOysY0iBdHMKqxvxyAzPKiE9fryuyyoh8CWvsNL5IXJfRAPAm\u002BtGzkrxuQV0ZyO193krprl7h63CinNjEcOgEYmpUoQJDo51trAxvVHk7UkB\u002BblZjXq5I/xWPdF4I7yHUWe7ixSfbOiq9jAJSgob3dzqYVhKBkQPMG6HstD9PVMzqmvqaSJ0okyQrtdKr5myemA0TcIkPQrjbFql1/nX7bic1Z/ecXS6df8L\u002BZeshICVFXiwyK\u002BQz60gxzzHzoqSuIEe7Zo508jredgDGEOzdufaEMJBJyUIzAYyvWp38qc0eQDWTdcmmwFvhU6X[...]
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-20990b44-e138-66d5-ceb9-9f9f636baca6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2020 04:55:52 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1120563124",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary\nU2FuaXRpemVk\nhttp://amandaadlscanary.blob.core.windows.net\nhttp://amandaadlscanary.file.core.windows.net\nhttp://amandaadlscanary.queue.core.windows.net\nhttp://amandaadlscanary.table.core.windows.net\n\n\n\n\nhttp://amandaadlscanary-secondary.blob.core.windows.net\nhttp://amandaadlscanary-secondary.file.core.windows.net\nhttp://amandaadlscanary-secondary.queue.core.windows.net\nhttp://amandaadlscanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://amandaadlscanary.blob.core.windows.net/;QueueEndpoint=http://amandaadlscanary.queue.core.windows.net/;FileEndpoint=http://amandaadlscanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandaadlscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandaadlscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandaadlscanary-secondary.file.core.windows.net/;AccountName=amandaadlscanary;AccountKey=Sanitized\n\n\n"
  }
}