{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-805dcfb3-2430-c22f-6d1f-427c35587fe5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Feb 2021 21:40:57 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C33A85FF9A\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:40:58 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-805dcfb3-2430-c22f-6d1f-427c35587fe5/test-file-1f42fa1a-5d09-0dc9-b753-57d7cc81f0f1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 02 Feb 2021 21:40:58 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C33AC2DD4E\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:40:59 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-805dcfb3-2430-c22f-6d1f-427c35587fe5/test-file-1f42fa1a-5d09-0dc9-b753-57d7cc81f0f1?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Tue, 02 Feb 2021 21:40:58 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": [
        "6\u001D\uFFFD\uFFFD\b\u0022\uFFFD\uFFFDW\u0013\uFFFD-\b\uFFFDE\uFFFD\uFFFD-\uFFFD\uFFFD9\uFFFD\u001B\uFFFD\uFFFDA\uFFFD\uFFFD\u0016\uFFFD\uFFFD\uFFFDs\uFFFD\uFFFD\u000F\uFFFD\u0022\uFFFD\n",
        "C\uFFFD\uFFFD\uFFFD\uFFFD\u0005\uFFFD\r",
        "\uFFFD\uFFFD\uFFFD\uFFFD\u0017\uFFFDl\u0001\u0003\uFFFD\uFFFD}M\uFFFD6\u0279]\uFFFD\uFFFDy\uFFFD[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-805dcfb3-2430-c22f-6d1f-427c35587fe5/test-file-1f42fa1a-5d09-0dc9-b753-57d7cc81f0f1?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:40:58 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C33AE3615F\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:40:59 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-805dcfb3-2430-c22f-6d1f-427c35587fe5/test-file-1f42fa1a-5d09-0dc9-b753-57d7cc81f0f1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:40:58 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7C33AE3615F\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:40:59 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Feb 2021 21:40:59 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "Nh2QiAgi7/5XE74tCO5FiNktk9g5yRuN40Glohan3PVzqvOnD/Yi\u002BApDx/aenAXIDc7\u002Bn\u002B4Xt2wBA6XGfU3orzbJuV36nnniCpvN9gEl70c83ZRHqTwGW/OHpQxRW3q8Whi/1eKnzW9VG5RTSsFr3BReip\u002B5oAb6w15qc/hskK8gEZzpZRlllBAl8o2nsxExHMn489HbA7kRxRKDPVl26YvlMzglgXb6\u002BPWOlK54Uw9MOFcvc53dRA7i16AH4Ve2rgkCwYDYDJpS/vrcTG4LmXICNgQCR3XtCO4qQqrW8hed2OakdpGPdCy83HSjAfif1z4uBapTtGeUFbmRrcnwfAziPnSIZiPgcsLYRWoASgb2i2tsp\u002B1tSiR\u002BEGHX/cZizGB[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-805dcfb3-2430-c22f-6d1f-427c35587fe5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:40:58 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1128725654",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}