{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-7b7e8f8e-1f9f-344a-6052-25bfb17884e6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:14:13 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A8AB81BE3\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:14:12 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-7b7e8f8e-1f9f-344a-6052-25bfb17884e6/test-file-d1b825dd-e576-8400-cf02-13a02d97a5c7?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:14:13 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A8AC9C370\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:14:12 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-7b7e8f8e-1f9f-344a-6052-25bfb17884e6/test-file-d1b825dd-e576-8400-cf02-13a02d97a5c7?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Fri, 19 Feb 2021 19:14:13 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": [
        "\uFFFD35]a\u00DC\u0017\uFFFDa\uFFFD\u0017{;\f\uFFFD\uFFFDT\uFFFDi\uFFFD{\uFFFDR\uFFFD\uFFFDG\uFFFD\uFFFD\u0026\u077D\u01B1=\uFFFD\uFFFD\u003C\u0019\uFFFD\uFFFD0\u0014\u0010\uFFFD\t\uFFFD\uFFFDj\uFFFD\uFFFD\uFFFD\u003C\uFFFD%\uFFFD\uFFFD\n",
        "\uFFFD\uFFFDUk\uFFFD;\uFFFDY\uFFFD\uFFFD\uFFFD \uFFFD\u0017\uFFFD\uFFFD?}g\uFFFDi\uFFFD]QA\uFFFDL[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-7b7e8f8e-1f9f-344a-6052-25bfb17884e6/test-file-d1b825dd-e576-8400-cf02-13a02d97a5c7?action=flush\u0026position=1024\u0026close=true",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:14:13 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A8AE464EE\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:14:12 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-7b7e8f8e-1f9f-344a-6052-25bfb17884e6/test-file-d1b825dd-e576-8400-cf02-13a02d97a5c7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:14:13 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D50A8AE464EE\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:14:12 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:14:12 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "0zM1XWHDnBegYdQXezsMqcdU1WngrXukUpLxR6yvJt29xrE9iNk8GYigMBQQ6QmT9WrY2cE85yW3kQrO0lVr8Tv3WbWKzyDtF7vgP31nlGmJXVFB1kwbgd6LhffObUYzNT/YGZBTCCZJ6sEFXKioUP2hRHUDKRvu29fW/0kpH6l1rQk\u002Bj3vZNlUr\u002BOuLFSQ24jX5LSnRLwwj6T24fQncH8sXkK6easGCxw4g2DAvY8azoBwUL/GAo338GqU9IblLTtgfc4R1l3hzd2UbsVfc9IZ2BdzsyO/Zlu0xoVAbRKVV1IpYD\u002B9BPQijoLiMZfIlICUfxhzcXoXoRtyXRPUoWDK/xd3Ng\u002BSWNcfUSSc3TTH7C4Eq/H2JeXUEb8kSqvgSe0iGzJ8UWJxBiJFUCB[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-7b7e8f8e-1f9f-344a-6052-25bfb17884e6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:14:13 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1227478938",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}