{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-2a469d5a-b364-d1e1-088b-d028904b0f86?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 03 Feb 2021 02:12:38 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7E92EDA8D87\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:12:40 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-2a469d5a-b364-d1e1-088b-d028904b0f86/test-file-187781b7-3b36-f562-87cf-6197d81abaa4?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:12:39 GMT",
        "x-ms-permissions": "0777",
        "x-ms-umask": "0057",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7E92F1737AF\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:12:40 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-2a469d5a-b364-d1e1-088b-d028904b0f86/test-file-187781b7-3b36-f562-87cf-6197d81abaa4?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Wed, 03 Feb 2021 02:12:39 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": [
        "N--\uFFFDg\uFFFD%h\uFFFD\uFFFD\uFFFD\uFFFD\u0653p\uFFFD\r",
        "\uFFFD\u000F\uFFFD\uFFFD%k\uFFFD\uFFFD\uFFFD\uFFFD\f\uFFFDCyK\uFFFD4\u066D\u0022\uFFFD\uFFFD\\\u000F]iqe\u001B\uFFFD_s\uFFFD\u0015\n",
        "$\uFFFD)\uFFFDn\n",
        "zG\uFFFD\\%\uFFFDP\uFFFD\uFFFD^\uFFFD@\uFFFD\u0011@9\uFFFD\uFFFD\u0002M,\u046C2\uFFFD\u000B-n\u0026-\u000[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-2a469d5a-b364-d1e1-088b-d028904b0f86/test-file-187781b7-3b36-f562-87cf-6197d81abaa4?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:12:39 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7E92F454C8A\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:12:40 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-2a469d5a-b364-d1e1-088b-d028904b0f86/test-file-187781b7-3b36-f562-87cf-6197d81abaa4?action=getAccessControl",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:12:39 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7E92F454C8A\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:12:40 GMT",
        "x-ms-acl": "user::rwx,group::-w-,other::---",
        "x-ms-group": "$superuser",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwx-w----",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-2a469d5a-b364-d1e1-088b-d028904b0f86?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:12:40 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1830136275",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}