{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-73fefc46-0008-a621-2779-a8864bf59dba?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:14:19 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A8E354341\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:14:18 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-73fefc46-0008-a621-2779-a8864bf59dba/test-file-c7b34764-30cd-ad10-6a0d-b03abc079b02?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:14:19 GMT",
        "x-ms-permissions": "0777",
        "x-ms-umask": "0057",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A8E44DA3B\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:14:18 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-73fefc46-0008-a621-2779-a8864bf59dba/test-file-c7b34764-30cd-ad10-6a0d-b03abc079b02?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Fri, 19 Feb 2021 19:14:19 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": [
        "\uFFFD\uFFFD\uFFFDe\uFFFD\uFFFD\uFFFDDS\uFFFD\u000BG\uFFFD\u0000e\u06F4t\uFFFD\uFFFDq\uFFFD9\uFFFD\uFFFDmS\uFFFD\u0001\uFFFD!\uFFFDa\uFFFD\uFFFD\uFFFD\u0016\uFFFD\uFFFDXos\uFFFD%\uFFFD\uFFFDj\uFFFD\u0546GR\u05D0\uFFFDgL\uFFFDm\uFFFD0B\uFFFD\uFFFDn\uFFFD\uFFFD%z\uFFFD\u0001\uFFFD0k\u0001\uFFFDW_\u000B\uFFFD\uFFFD\u0016\u002B\u0004\uFFFDJ\uFFFD=#\[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-73fefc46-0008-a621-2779-a8864bf59dba/test-file-c7b34764-30cd-ad10-6a0d-b03abc079b02?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:14:19 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A8E6387FC\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:14:18 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-73fefc46-0008-a621-2779-a8864bf59dba/test-file-c7b34764-30cd-ad10-6a0d-b03abc079b02?action=getAccessControl",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:14:19 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A8E6387FC\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:14:18 GMT",
        "x-ms-acl": "user::rwx,group::-w-,other::---",
        "x-ms-group": "$superuser",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwx-w----",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-73fefc46-0008-a621-2779-a8864bf59dba?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:14:19 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1209364687",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}