{
  "Entries": [
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-5cdbcbeb-3d2b-9131-8d7d-5099d3eba272?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 22:23:12 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C153CB2FBB0D\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:23:13 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.dfs.core.windows.net/test-filesystem-5cdbcbeb-3d2b-9131-8d7d-5099d3eba272/test-file-eb0005a9-97d1-c154-feb0-7f54911371a5?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:23:13 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C153CB640E6C\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:23:13 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagehierarchical.dfs.core.windows.net/test-filesystem-5cdbcbeb-3d2b-9131-8d7d-5099d3eba272/test-file-eb0005a9-97d1-c154-feb0-7f54911371a5?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:23:13 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "0HwSoNaGrRZ7/cJgn2a54TLz99yfV72om/JnZoJSZAnF6B2LCt211gddn\u002BkyEeglKC8[...]
    {
      "RequestUri": "https://seanstagehierarchical.dfs.core.windows.net/test-filesystem-5cdbcbeb-3d2b-9131-8d7d-5099d3eba272/test-file-eb0005a9-97d1-c154-feb0-7f54911371a5?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:23:13 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C153CB8D1032\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:23:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-5cdbcbeb-3d2b-9131-8d7d-5099d3eba272/test-file-eb0005a9-97d1-c154-feb0-7f54911371a5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:23:13 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C153CB8D1032\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:23:13 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 05 Mar 2020 22:23:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": "0HwSoNaGrRZ7/cJgn2a54TLz99yfV72om/JnZoJSZAnF6B2LCt211gddn\u002BkyEeglKC8FqijPcHi\u002BaQTkHkeUKJm4mrdILtdVPiDVQbjTdooJQj5STLrh9nelzKDY0Le/yHZQeXYx3flYsGsI\u002BS7A6vN629wIQtze16Q/o2E2fG5oFXlCg/wT12VE\u002BZtO2PxI5OGsXvXbtoaacaHS8jmYITT9n\u002BS1fmf2ZgR3xEhAkP6n9r5/ih15jF7ypxFbQOQrrNhnUTkYk2Z6tvfwZPI\u002BWeGjK/t7GJcWhBKFwtZVmyYfTBhv2T7Fj2NXBdQmiChrtE4wuBXor5NAUMwmktCQJBrR0Bfazn\u002Bi3ZuYIxLD8PzqGg2HJOMQNpyELolxn/ySx\u[...]
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-5cdbcbeb-3d2b-9131-8d7d-5099d3eba272?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:23:13 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "611053928",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanstagehierarchical\nU2FuaXRpemVk\nhttps://seanstagehierarchical.blob.core.windows.net\nhttp://seanstagehierarchical.file.core.windows.net\nhttp://seanstagehierarchical.queue.core.windows.net\nhttp://seanstagehierarchical.table.core.windows.net\n\n\n\n\nhttp://seanstagehierarchical-secondary.blob.core.windows.net\nhttp://seanstagehierarchical-secondary.file.core.windows.net\nhttp://seanstagehierarchical-secondary.queue.core.windows.net\nhttp://seanstagehierarchical-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanstagehierarchical.blob.core.windows.net/;QueueEndpoint=http://seanstagehierarchical.queue.core.windows.net/;FileEndpoint=http://seanstagehierarchical.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagehierarchical-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagehierarchical-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagehierarchical-secondary.file.core.windows.net/;AccountName=seanstagehierarchical;AccountKey=Sanitized\n"
  }
}