{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-86a4c38a-ec8d-0121-fd84-edb46434554d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 22:36:53 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3948652DD98\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:36:53 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-86a4c38a-ec8d-0121-fd84-edb46434554d/test-file-fbba5e35-ede3-3432-226b-b3b9bb72c09f?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:36:53 GMT",
        "x-ms-properties": "foo=YmFy,meta=ZGF0YQ==,Capital=bGV0dGVy,UPPER=Y2FzZQ==",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D39486886368\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:36:53 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-86a4c38a-ec8d-0121-fd84-edb46434554d/test-file-fbba5e35-ede3-3432-226b-b3b9bb72c09f?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:36:54 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "JYcVavmjgyTzwdpyZH7ZJCxJeeKjY4KxxwaOXryz2mDbUfzYmT3tkdqWCCITv9CkkY6Ncvjd/MIFY6PzFCVoQO[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-86a4c38a-ec8d-0121-fd84-edb46434554d/test-file-fbba5e35-ede3-3432-226b-b3b9bb72c09f?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:36:54 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D39486A34739\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:36:54 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-86a4c38a-ec8d-0121-fd84-edb46434554d/test-file-fbba5e35-ede3-3432-226b-b3b9bb72c09f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:36:54 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D39486A34739\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:36:54 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 22:36:53 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-86a4c38a-ec8d-0121-fd84-edb46434554d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:36:54 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "927470457",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}