{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-d73bf679-5c40-3705-b690-296bd2a8552b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:59:22 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D510D9BC5E61\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:59:22 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-d73bf679-5c40-3705-b690-296bd2a8552b/test-file-f6410386-0468-5fab-b705-827b12e63299?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:59:23 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D510D9CE027A\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:59:22 GMT"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-d73bf679-5c40-3705-b690-296bd2a8552b/test-file-f6410386-0468-5fab-b705-827b12e63299?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 19 Feb 2021 19:59:23 GMT"
      },
      "RequestBody": "RwQvMhwQlKMgzGn9fw3kJmIXtH1MMr5h/Ta0\u002BiahkQT\u002B51d2YXBOtgD14A6yZBgsQ5Xgy9TuURVGzjTlXJp8fztl/5i2bcTxyP59V1GwrpkdiLeRwcUvD5ZBL5M8aVlleWHSTWSAdtXR7gPWcfnDlSCax9Pj6752NfACdD4xtV\u002BkF93w3WA1nRLhwNLCWZ6cfplzoaGGgo6iXBd0fQGXnzijMVkc0ri/ZSnBASrrs9xRZfWkvhS\u002BHpRPToFIwB8QSiCZHihEgKzhszt3xIFjt6g7IhgM8\u002BEk5RPEzIQ2dqQJsbcKUZW0DeVJwgrYRlkT7JbYDZ4HBFc\u002BdTgUf7Mnqz2XbRPKWWYThxQyw[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-d73bf679-5c40-3705-b690-296bd2a8552b/test-file-f6410386-0468-5fab-b705-827b12e63299?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:59:23 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D510D9F7AB13\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:59:22 GMT",
        "x-ms-request-server-encrypted": "false",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-d73bf679-5c40-3705-b690-296bd2a8552b/test-file-f6410386-0468-5fab-b705-827b12e63299",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:59:23 GMT",
        "x-ms-range": "bytes=0-268435455"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D510D9F7AB13\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:59:22 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:59:22 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": "RwQvMhwQlKMgzGn9fw3kJmIXtH1MMr5h/Ta0\u002BiahkQT\u002B51d2YXBOtgD14A6yZBgsQ5Xgy9TuURVGzjTlXJp8fztl/5i2bcTxyP59V1GwrpkdiLeRwcUvD5ZBL5M8aVlleWHSTWSAdtXR7gPWcfnDlSCax9Pj6752NfACdD4xtV\u002BkF93w3WA1nRLhwNLCWZ6cfplzoaGGgo6iXBd0fQGXnzijMVkc0ri/ZSnBASrrs9xRZfWkvhS\u002BHpRPToFIwB8QSiCZHihEgKzhszt3xIFjt6g7IhgM8\u002BEk5RPEzIQ2dqQJsbcKUZW0DeVJwgrYRlkT7JbYDZ4HBFc\u002BdTgUf7Mnqz2XbRPKWWYThxQywjHXTJ\u002B5seDtXWkGAaxgy9xcn40yIR[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-d73bf679-5c40-3705-b690-296bd2a8552b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:59:23 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2055304845",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}