{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-fcdc1b5b-014f-a0ee-9042-69f0ff06f93c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Feb 2021 21:40:55 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C3390B93B9\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:40:56 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-fcdc1b5b-014f-a0ee-9042-69f0ff06f93c/test-file-9edc3f95-72a4-4f9b-48ec-92ad60e24640?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 02 Feb 2021 21:40:55 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C33944C82D\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:40:56 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-fcdc1b5b-014f-a0ee-9042-69f0ff06f93c/test-file-9edc3f95-72a4-4f9b-48ec-92ad60e24640?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Tue, 02 Feb 2021 21:40:56 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": [
        "\uFFFD/\uFFFD\u0013\uFFFD*;\u001CG.i\u0060%\u03F3\u0003h\u0060u\u0019s\u0007\uFFFD\uFFFDP\uFFFD\uFFFD\u0015@\uFFFD\u00030\u000B\uFFFDe\r",
        "u%Ak\u0004\uFFFDWu\b:*x8\uFFFDE\u0000m,\u0356\uFFFDd\uFFFDG\uFFFD%\u06C0\u002B8U\u007Fj\uFFFD\uFFFDB\u001E\n",
        "\u0015\uFFFD\uFFFD!\uFFFD\u0015\uFFFD\u000E\u0771\uFFFD\u0003\uFFFD\uFFFD\uFFFD[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-fcdc1b5b-014f-a0ee-9042-69f0ff06f93c/test-file-9edc3f95-72a4-4f9b-48ec-92ad60e24640?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:40:56 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C3396188D7\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:40:56 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-fcdc1b5b-014f-a0ee-9042-69f0ff06f93c/test-file-9edc3f95-72a4-4f9b-48ec-92ad60e24640",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:40:56 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7C3396188D7\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:40:56 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Feb 2021 21:40:56 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "nS/xE/8qOxxHLmlgJc\u002BzA2hgdRlzB5aMULeGFUDGAzALpmUNdSVBawS/V3UIOip4OI9FAG0szZaYZMJHoyXbgCs4VX9qpo1CHgoVs7AhgxWNDt2xgAPD39jPdBFj\u002Bsfe5NZKz\u002BWrDpEBA\u002BFiFhrmd\u002BCsuZVIKgAndHammzJ83yRCNs/Z17Mw4gBLr30hYMi\u002B6P0wtkAylbnWIltuBHJfhSO8IOBKDKAse9eU/XqCBhSu6LI1SynkD6AVA7RYwt2N7CpZZUDnc9xdBDponpg/UxxGwBzAKjn62BE/NQjr07n5BxBPKKHUxnTV2Efue3EH1rCYEgLAzcLwXowupz7UcTCAb5aI7yt6cvmo6lLyDFyfOF5YUsG3ODpOXskUpR41AWYWbQza[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-fcdc1b5b-014f-a0ee-9042-69f0ff06f93c/test-file-9edc3f95-72a4-4f9b-48ec-92ad60e24640?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 02 Feb 2021 21:40:56 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "PathAlreadyExists",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": {
        "error": {
          "code": "PathAlreadyExists",
          "message": "The specified path already exists.\nRequestId:8d63bc0e-101f-0064-0cac-f98ec7000000\nTime:2021-02-02T21:40:57.0061519Z"
        }
      }
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-fcdc1b5b-014f-a0ee-9042-69f0ff06f93c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:40:56 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1199177067",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}