{
  "Entries": [
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-87eed879-221b-e85f-3ea2-0666bf1d1181?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 21 Feb 2020 20:57:22 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7B710A5CCC6EC\u0022",
        "Last-Modified": "Fri, 21 Feb 2020 20:57:22 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannse.dfs.core.windows.net/test-filesystem-87eed879-221b-e85f-3ea2-0666bf1d1181/test-file-9cd13356-36dd-7d16-9376-85b19a2e533b?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 21 Feb 2020 20:57:22 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7B710A5DEDD3D\u0022",
        "Last-Modified": "Fri, 21 Feb 2020 20:57:22 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannse.dfs.core.windows.net/test-filesystem-87eed879-221b-e85f-3ea2-0666bf1d1181/test-file-9cd13356-36dd-7d16-9376-85b19a2e533b?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 21 Feb 2020 20:57:22 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "usKFX200/KBV53SGjkXJplNE2WIxS2aqSTNID/pvRrx0MkPs1rfWITYwRvXBj\u002B5OrN9dVVTwCm9b2hU67O[...]
    {
      "RequestUri": "http://seannse.dfs.core.windows.net/test-filesystem-87eed879-221b-e85f-3ea2-0666bf1d1181/test-file-9cd13356-36dd-7d16-9376-85b19a2e533b?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 21 Feb 2020 20:57:22 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7B710A5ED9BC1\u0022",
        "Last-Modified": "Fri, 21 Feb 2020 20:57:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-87eed879-221b-e85f-3ea2-0666bf1d1181/test-file-9cd13356-36dd-7d16-9376-85b19a2e533b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 21 Feb 2020 20:57:22 GMT",
        "x-ms-range": "bytes=0-16777215",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7B710A5ED9BC1\u0022",
        "Last-Modified": "Fri, 21 Feb 2020 20:57:22 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 21 Feb 2020 20:57:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": "usKFX200/KBV53SGjkXJplNE2WIxS2aqSTNID/pvRrx0MkPs1rfWITYwRvXBj\u002B5OrN9dVVTwCm9b2hU67Oyl5qC4EVwB3c\u002BcbrgrAARw6bpE\u002BmIbEfFngyjUkPuhnDVKi2BVCX2STM8PweecxQlr6vFb9fGJitSvUI40LUzU\u002BtKC4HWjG988sq2TDFAJy74eaaUKRqZDwAGLprjvXR\u002BCO8cUGeSUx88RH0JD9n2EpYTPFcOmybMrPyBzF3UnTFSOENCI9LLZiaLW\u002BSdk/8qDBwAzIEhb3HET6drEIK9a6tLttOWt\u002B7DS9osh0NCLxz9W8BB08ywMMzRedQvYFWnzfA5Udkrk1gxPYSq8OQuhhyGabi\u002Be5fem4IGxToal\u[...]
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-87eed879-221b-e85f-3ea2-0666bf1d1181?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 21 Feb 2020 20:57:22 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1172559404",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttp://seannse.blob.core.windows.net\nhttp://seannse.file.core.windows.net\nhttp://seannse.queue.core.windows.net\nhttp://seannse.table.core.windows.net\n\n\n\n\nhttp://seannse-secondary.blob.core.windows.net\nhttp://seannse-secondary.file.core.windows.net\nhttp://seannse-secondary.queue.core.windows.net\nhttp://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://seannse.blob.core.windows.net/;QueueEndpoint=http://seannse.queue.core.windows.net/;FileEndpoint=http://seannse.file.core.windows.net/;BlobSecondaryEndpoint=http://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}