{
  "Entries": [
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-805dcfb3-2430-c22f-6d1f-427c35587fe5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 22:19:11 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C1533B483E61\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:19:11 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.dfs.core.windows.net/test-filesystem-805dcfb3-2430-c22f-6d1f-427c35587fe5/test-file-1f42fa1a-5d09-0dc9-b753-57d7cc81f0f1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Thu, 05 Mar 2020 22:19:11 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C1533B7C3773\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:19:12 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.dfs.core.windows.net/test-filesystem-805dcfb3-2430-c22f-6d1f-427c35587fe5/test-file-1f42fa1a-5d09-0dc9-b753-57d7cc81f0f1?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:19:12 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "Nh2QiAgi7/5XE74tCO5FiNktk9g5yRuN40Glohan3PVzqvOnD/Yi\u002BApDx/aenAXIDc7[...]
    {
      "RequestUri": "https://seanstagehierarchical.dfs.core.windows.net/test-filesystem-805dcfb3-2430-c22f-6d1f-427c35587fe5/test-file-1f42fa1a-5d09-0dc9-b753-57d7cc81f0f1?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:19:12 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C1533B96FACE\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:19:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-805dcfb3-2430-c22f-6d1f-427c35587fe5/test-file-1f42fa1a-5d09-0dc9-b753-57d7cc81f0f1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:19:12 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C1533B96FACE\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:19:12 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 05 Mar 2020 22:19:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": "Nh2QiAgi7/5XE74tCO5FiNktk9g5yRuN40Glohan3PVzqvOnD/Yi\u002BApDx/aenAXIDc7\u002Bn\u002B4Xt2wBA6XGfU3orzbJuV36nnniCpvN9gEl70c83ZRHqTwGW/OHpQxRW3q8Whi/1eKnzW9VG5RTSsFr3BReip\u002B5oAb6w15qc/hskK8gEZzpZRlllBAl8o2nsxExHMn489HbA7kRxRKDPVl26YvlMzglgXb6\u002BPWOlK54Uw9MOFcvc53dRA7i16AH4Ve2rgkCwYDYDJpS/vrcTG4LmXICNgQCR3XtCO4qQqrW8hed2OakdpGPdCy83HSjAfif1z4uBapTtGeUFbmRrcnwfAziPnSIZiPgcsLYRWoASgb2i2tsp\u002B1tSiR\u002BEGHX/cZizGB[...]
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-805dcfb3-2430-c22f-6d1f-427c35587fe5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:19:12 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1128725654",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanstagehierarchical\nU2FuaXRpemVk\nhttps://seanstagehierarchical.blob.core.windows.net\nhttp://seanstagehierarchical.file.core.windows.net\nhttp://seanstagehierarchical.queue.core.windows.net\nhttp://seanstagehierarchical.table.core.windows.net\n\n\n\n\nhttp://seanstagehierarchical-secondary.blob.core.windows.net\nhttp://seanstagehierarchical-secondary.file.core.windows.net\nhttp://seanstagehierarchical-secondary.queue.core.windows.net\nhttp://seanstagehierarchical-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanstagehierarchical.blob.core.windows.net/;QueueEndpoint=http://seanstagehierarchical.queue.core.windows.net/;FileEndpoint=http://seanstagehierarchical.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagehierarchical-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagehierarchical-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagehierarchical-secondary.file.core.windows.net/;AccountName=seanstagehierarchical;AccountKey=Sanitized\n"
  }
}