{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-6e6b2934-a9a8-153f-fddb-c94a4d95addb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 22:30:20 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3939C2B269E\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:30:20 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-6e6b2934-a9a8-153f-fddb-c94a4d95addb/test-file-e5064742-17c3-9b40-3c31-2b8649d6a0ff?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 17 Feb 2021 22:30:20 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3939C65FB5A\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:30:21 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-6e6b2934-a9a8-153f-fddb-c94a4d95addb/test-file-e5064742-17c3-9b40-3c31-2b8649d6a0ff?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:30:21 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "IbSWH1X4OCdxdlmTdHNEo2OpJi321FKc7aR4cegHofWHJFdBCJ9gSg7fdE2\u002BrSfI7YcioK9zCUxh\u002[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-6e6b2934-a9a8-153f-fddb-c94a4d95addb/test-file-e5064742-17c3-9b40-3c31-2b8649d6a0ff?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:30:21 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3939C81134E\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:30:21 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-6e6b2934-a9a8-153f-fddb-c94a4d95addb/test-file-e5064742-17c3-9b40-3c31-2b8649d6a0ff",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:30:21 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D3939C81134E\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:30:21 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 22:30:21 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "IbSWH1X4OCdxdlmTdHNEo2OpJi321FKc7aR4cegHofWHJFdBCJ9gSg7fdE2\u002BrSfI7YcioK9zCUxh\u002BjGxf8c\u002BatVjC1AcAprESNseFmAF3kB9sIRg5AFFFBoL3w5trspHoQl3WqHWrOrtXlfTVfLrXBzxNM9D3YXUHvc1ECOMVpkR1nVWjYOfpgOac4apcb8oH4Lxe3r6BMOEozupoZvGYAe9wn59lc\u002BYUo7MqGn\u002BKqw4DfGgmtsfF9Gx0elI9QRn0xN\u002B7K9Aq4qzWSnrLVtahXmPcJSqJsUsnqusy8PmUFyJZdVWgD79\u002BGFn7UGxM\u002Bl2V0xvuYRwvK1NUk4Ek9/GzAnMYsiGBAU7kXgyQziEe2rCNnR3dpfYGagnCS3w\u[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-6e6b2934-a9a8-153f-fddb-c94a4d95addb/test-file-e5064742-17c3-9b40-3c31-2b8649d6a0ff?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 17 Feb 2021 22:30:21 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "PathAlreadyExists",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": {
        "error": {
          "code": "PathAlreadyExists",
          "message": "The specified path already exists.\nRequestId:8470dbb3-001f-000a-7a7c-05dbe8000000\nTime:2021-02-17T22:30:21.4177656Z"
        }
      }
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-6e6b2934-a9a8-153f-fddb-c94a4d95addb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:30:21 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1970155124",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}