{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-5e7c8647-6917-1b10-9dff-261c04cba6fd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:14:17 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A8D5343A1\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:14:17 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-5e7c8647-6917-1b10-9dff-261c04cba6fd/test-file-bc18095e-8032-8865-629e-2437a7d8c85c?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 19 Feb 2021 19:14:17 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A8D62B7BD\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:14:17 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-5e7c8647-6917-1b10-9dff-261c04cba6fd/test-file-bc18095e-8032-8865-629e-2437a7d8c85c?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Fri, 19 Feb 2021 19:14:17 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": [
        "\uFFFDU\uFFFD\uFFFDk\uFFFD\uFFFD6\u0005\u0001\uFFFDX\u000Ez\uFFFD\uFFFD\uFFFD\uFFFD\uFFFDdb\uFFFD\uFFFD\u002BH\u0015\u0017\uFFFD\u0013?\u0060O\uFFFD\uFFFDd\uFFFDO\uFFFD\uFFFD\uFFFDd\uFFFD\uFFFD\u0019\uFFFDj\uFFFD\uFFFD7~\uFFFD\uFFFDC\uFFFDK0\uFFFDe\uFFFDVj\u0022\u0022\u01A02\uFFFD9\u0016\u026F\uFFFD\uFFFDB\uFFFD\uFFFD\uFFFDy\uFFFD\uFFFDb\u001Ep\[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-5e7c8647-6917-1b10-9dff-261c04cba6fd/test-file-bc18095e-8032-8865-629e-2437a7d8c85c?action=flush\u0026position=512",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:14:17 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50A8D7A92FB\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:14:17 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-5e7c8647-6917-1b10-9dff-261c04cba6fd/test-file-bc18095e-8032-8865-629e-2437a7d8c85c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:14:18 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D50A8D7A92FB\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:14:17 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:14:17 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "wlWRzWuByjYFAYFYDnq2/rCa52RikpIrSBUXqBM/YE/W1GTtT7eqpWSXlxmdarL4N36ihUOLSzDDZYRWaiIixqAygjkWya/570L/yvt5jd5iHnCVnNsMSok0KekzVDtCdNB4a\u002Bh44m7OqZUBjIA0Stel80uyjSnEJjew4Z/GxpsGvVUrACL26jwBxvNFCr4IAN8RjWDwkOems0WxxwDOCOP6\u002Bs4rCEm1rwkOsMY2fht4qOC/tDg6Fi1uhEzdRCI8M74PSxDw3PeVXN1X4d8gcDQpOB8gDlOqwOOhvIT812rn0n0IJzMLiMvoKVhb4zVNTRQYtAsDGyRqZIssTiBzmIRycA5iF0gBHrBTN\u002BT6T92uU29w5CNe47ZZncKo3jmrdZHT6HIm6zbLFpVbr\u002BQ/bxSuffuxArRhFIxYCXmGWT93qMFTJ2dqiGg4pc2NAzTRGi6u\u002BWE9\u002BnLcctTmzuK8Rb1V4wcj60isRPWTeF3m0xBYhu5L2F/eOa1Od7STg7qFfGAQOCAsri/lAbVsqoIV9p/DjUfzcGxedqla1HOUGcA6Dfv91pvwLNi/Ztapco8rOYAVz/VykgvzscF20tm7Uej1MZyGFyAE02FvMwqWtAQZLpvzfknKx3rvCiTZeVn\u002BBBTutEHzpCFgEfyUA18BXf28XKM\u002Bx9KeK2khlw37Klk="
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-5e7c8647-6917-1b10-9dff-261c04cba6fd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:14:18 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "985152935",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}