{
  "Entries": [
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-fcdc1b5b-014f-a0ee-9042-69f0ff06f93c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 22:19:08 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C15339C1769A\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:19:09 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.dfs.core.windows.net/test-filesystem-fcdc1b5b-014f-a0ee-9042-69f0ff06f93c/test-file-9edc3f95-72a4-4f9b-48ec-92ad60e24640?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Thu, 05 Mar 2020 22:19:09 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C15339F49DCE\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:19:09 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.dfs.core.windows.net/test-filesystem-fcdc1b5b-014f-a0ee-9042-69f0ff06f93c/test-file-9edc3f95-72a4-4f9b-48ec-92ad60e24640?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:19:09 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "nS/xE/8qOxxHLmlgJc\u002BzA2hgdRlzB5aMULeGFUDGAzALpmUNdSVBawS/V3UIOip4OI9[...]
    {
      "RequestUri": "https://seanstagehierarchical.dfs.core.windows.net/test-filesystem-fcdc1b5b-014f-a0ee-9042-69f0ff06f93c/test-file-9edc3f95-72a4-4f9b-48ec-92ad60e24640?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:19:09 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C1533A0E9D9C\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:19:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-fcdc1b5b-014f-a0ee-9042-69f0ff06f93c/test-file-9edc3f95-72a4-4f9b-48ec-92ad60e24640",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:19:09 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C1533A0E9D9C\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:19:09 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 05 Mar 2020 22:19:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": "nS/xE/8qOxxHLmlgJc\u002BzA2hgdRlzB5aMULeGFUDGAzALpmUNdSVBawS/V3UIOip4OI9FAG0szZaYZMJHoyXbgCs4VX9qpo1CHgoVs7AhgxWNDt2xgAPD39jPdBFj\u002Bsfe5NZKz\u002BWrDpEBA\u002BFiFhrmd\u002BCsuZVIKgAndHammzJ83yRCNs/Z17Mw4gBLr30hYMi\u002B6P0wtkAylbnWIltuBHJfhSO8IOBKDKAse9eU/XqCBhSu6LI1SynkD6AVA7RYwt2N7CpZZUDnc9xdBDponpg/UxxGwBzAKjn62BE/NQjr07n5BxBPKKHUxnTV2Efue3EH1rCYEgLAzcLwXowupz7UcTCAb5aI7yt6cvmo6lLyDFyfOF5YUsG3ODpOXskUpR41AWYWbQza[...]
    {
      "RequestUri": "https://seanstagehierarchical.dfs.core.windows.net/test-filesystem-fcdc1b5b-014f-a0ee-9042-69f0ff06f93c/test-file-9edc3f95-72a4-4f9b-48ec-92ad60e24640?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Thu, 05 Mar 2020 22:19:09 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "PathAlreadyExists",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": {
        "error": {
          "code": "PathAlreadyExists",
          "message": "The specified path already exists.\nRequestId:c4760f2d-301f-0040-463c-f39503000000\nTime:2020-03-05T22:19:09.8871046Z"
        }
      }
    },
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-fcdc1b5b-014f-a0ee-9042-69f0ff06f93c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:19:09 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1199177067",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanstagehierarchical\nU2FuaXRpemVk\nhttps://seanstagehierarchical.blob.core.windows.net\nhttp://seanstagehierarchical.file.core.windows.net\nhttp://seanstagehierarchical.queue.core.windows.net\nhttp://seanstagehierarchical.table.core.windows.net\n\n\n\n\nhttp://seanstagehierarchical-secondary.blob.core.windows.net\nhttp://seanstagehierarchical-secondary.file.core.windows.net\nhttp://seanstagehierarchical-secondary.queue.core.windows.net\nhttp://seanstagehierarchical-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanstagehierarchical.blob.core.windows.net/;QueueEndpoint=http://seanstagehierarchical.queue.core.windows.net/;FileEndpoint=http://seanstagehierarchical.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagehierarchical-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagehierarchical-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagehierarchical-secondary.file.core.windows.net/;AccountName=seanstagehierarchical;AccountKey=Sanitized\n"
  }
}