{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-60af61e3-de7a-c55e-73e8-515ac9b8fae9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 03 Feb 2021 02:09:39 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7E8C3D8B0E0\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:09:40 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-60af61e3-de7a-c55e-73e8-515ac9b8fae9/test-file-25067059-d76a-192f-2cdc-cf70a78925a3?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:09:39 GMT",
        "x-ms-properties": "foo=YmFy,meta=ZGF0YQ==,Capital=bGV0dGVy,UPPER=Y2FzZQ==",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7E8C418F448\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:09:40 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-60af61e3-de7a-c55e-73e8-515ac9b8fae9/test-file-25067059-d76a-192f-2cdc-cf70a78925a3?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Wed, 03 Feb 2021 02:09:40 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": [
        "\u0011\uFFFD\u000F\uFFFD\u0015T\uFFFD\uFFFD\uFFFD\u002B(hX2]\uFFFD\uFFFD\uFFFD{0\u0230Wr\u0000\uFFFDy{\u0019ekd\uFFFD\uFFFD\uFFFD\u6D462\u0004\uFFFD*\u0060?\uFFFD\uFFFD\uFFFD\uFFFD~\u0002\uFFFD\uFFFD\r",
        "\uFFFD\uFFFD\u00607\uFFFD\uFFFD\uFFFD\uFFFD\u0016\uFFFD\u0060\uFFFD\u011E\uFFFDBw\u0016d\uFFFDvR\uFFFDP\u0018\uFFFD9\uFFFD\u007F\uFFFD[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-60af61e3-de7a-c55e-73e8-515ac9b8fae9/test-file-25067059-d76a-192f-2cdc-cf70a78925a3?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:09:40 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7E8C447FF19\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:09:41 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-60af61e3-de7a-c55e-73e8-515ac9b8fae9/test-file-25067059-d76a-192f-2cdc-cf70a78925a3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:09:40 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7E8C447FF19\u0022",
        "Last-Modified": "Wed, 03 Feb 2021 02:09:41 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 03 Feb 2021 02:09:40 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-60af61e3-de7a-c55e-73e8-515ac9b8fae9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 Feb 2021 02:09:40 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "236434499",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}