{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-16cd11b9-337d-d534-6da2-ab526363fc4e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Feb 2021 21:32:51 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C218A28450\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:32:52 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-16cd11b9-337d-d534-6da2-ab526363fc4e/test-file-2aa07319-f1d5-78fc-b675-4de8002924bf?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 02 Feb 2021 21:32:51 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C218DEB299\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:32:52 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-16cd11b9-337d-d534-6da2-ab526363fc4e/test-file-2aa07319-f1d5-78fc-b675-4de8002924bf?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Tue, 02 Feb 2021 21:32:52 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": [
        "KF6\u0006K\uFFFDi\u0005\u001Cu\uFFFD\u0444\u000B@\uFFFDP/N]\u00166\u3901\uFFFDy\\\u002B\uFFFD\uFFFD\uFFFD\u0012\uFFFD\uFFFD\u0012\uFFFD\uFFFD\uFFFDj\uFFFD\u0016\uFFFD\uFFFD8\uFFFD\u0017\uFFFDWa\u001A\u0765\u007F\u0014c\uFFFD\uFFFD\uFFFD6\f\u065C\uFFFD8\uFFFD\uFFFD8.E]S\uFFFD\uFFFD\u0000}\fk\uFFFD\uFFFDa\uFFFD\uFFFD\u001E\uFFFD\uFFFDmy\uFFFD\uFFF[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-16cd11b9-337d-d534-6da2-ab526363fc4e/test-file-2aa07319-f1d5-78fc-b675-4de8002924bf?action=flush\u0026position=512",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:32:52 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C218FCE531\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:32:52 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-16cd11b9-337d-d534-6da2-ab526363fc4e/test-file-2aa07319-f1d5-78fc-b675-4de8002924bf",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:32:52 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7C218FCE531\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:32:52 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Feb 2021 21:32:52 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "S0Y2BkuvaQUcddbRhAtAyVAvTl0WNuOkgZJ5XCuArp4S\u002BdMShPLcapUWudY475gXx1dhGt2lfxRjkYW4NgzZnMc4vos4LkVdU\u002BTIAH0Ma5H5YZXTHpPBbXm\u002BrvJsIzSIPBwOADAN3pkSA8f53H\u002BWVibzvtR3Bn0zdlEReX9S8DCwP8Ng/mpg7IP7wRrMyJD6KFfMeGRfETaf2onf\u002B2UZvxKXSZ27NVi7k9JRe0RiZ67AF1EnhnfLUC6NwSPhgfAe4QEHNX/zPvL/EOWSDpbxPHPbHuQT8TiazPhuLnM12hLiM5lDWzIvzdhfKHWSOEGYnIWvBWILCvDIbWmGhBB\u002ByTbTsNv8reFArFEMs8jDCJO31pLuhdSv1iipeu7JqEjH4V8/vohmm\u002B6kb1gR/1YnBWTVz61\u002BkERhJNmzUzPzdwQIRNJpg0oKUDujSRZ8ndfRgnWJ89mbSVAb3Zqvs0i6sfhUCbqEvYEay35y2kYt5YYB4dG9aYMqbPqCTqawWp3z6JceJ5QdTcTzbyhaKW8J7fgTrtF2/Uh0KZy/AW7baXDgfvGvD73x5JQMyvlbz0OLeGGtnKzMfOtPqf34XUtVGAW3eqp9Wt06Ico8ajJOGVlZM4kNLc3DEwIFX2XA\u002BYZJtrL0o1WZDh2Ec3rikBK5AZCjnyrBSOo482aoePt3eSg="
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-16cd11b9-337d-d534-6da2-ab526363fc4e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:32:52 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1113549594",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}