{
  "Entries": [
    {
      "RequestUri": "/subscriptions/d9d3e089-f228-4295-8be4-c8d56846001d/resourcegroups/crptestar5179?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"crptestar5179\": \"2020-06-03 22:12:14Z\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/d9d3e089-f228-4295-8be4-c8d56846001d/resourceGroups/crptestar5179\",\r\n  \"name\": \"crptestar5179\",\r\n  \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"crptestar5179\": \"2020-06-03 22:12:14Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/d9d3e089-f228-4295-8be4-c8d56846001d/resourceGroups/crptestar5179/providers/Microsoft.Network/publicIPAddresses/pip4113?api-version=2018-07-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"dn346\"\r\n    }\r\n  },\r\n  \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/d9d3e089-f228-4295-8be4-c8d56846001d/providers/Microsoft.Network/locations/westus.validation/operations/51fde20a-e154-4c5e-83d9-c3fd36feff24?api-version=2018-07-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"pip4113\",\r\n  \"id\": \"/subscriptions/d9d3e089-f228-4295-8be4-c8d56846001d/resourceGroups/crptestar5179/providers/Microsoft.Network/publicIPAddresses/pip4113\",\r\n  \"etag\": \"W/\\\"c9f49f25-b232-4662-9459-ace7d1133b75\\\"\",\r\n  \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"a0e12e0d-4562-4c0c-8ee8-b967e6c7b6ac\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"dn346\",\r\n      \"fqdn\": \"dn346.westus.validation.cloudapp.azure.com\"\r\n    },\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/d9d3e089-f228-4295-8be4-c8d56846001d/providers/Microsoft.Network/locations/westus.validation/operations/51fde20a-e154-4c5e-83d9-c3fd36feff24?api-version=2018-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/d9d3e089-f228-4295-8be4-c8d56846001d/resourceGroups/crptestar5179/providers/Microsoft.Network/publicIPAddresses/pip4113?api-version=2018-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"385c2c0a-ebe5-4da6-bf05-995ae114d81c\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"pip4113\",\r\n  \"id\": \"/subscriptions/d9d3e089-f228-4295-8be4-c8d56846001d/resourceGroups/crptestar5179/providers/Microsoft.Network/publicIPAddresses/pip4113\",\r\n  \"etag\": \"W/\\\"385c2c0a-ebe5-4da6-bf05-995ae114d81c\\\"\",\r\n  \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"a0e12e0d-4562-4c0c-8ee8-b967e6c7b6ac\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"dn346\",\r\n      \"fqdn\": \"dn346.westus.validation.cloudapp.azure.com\"\r\n    },\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/d9d3e089-f228-4295-8be4-c8d56846001d/resourceGroups/crptestar5179/providers/Microsoft.Network/virtualNetworks/vn9727?api-version=2018-07-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\"\r\n        },\r\n        \"name\": \"sn6012\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/d9d3e089-f228-4295-8be4-c8d56846001d/providers/Microsoft.Network/locations/westus.validation[...]
[...]
    {
      "RequestUri": "/subscriptions/d9d3e089-f228-4295-8be4-c8d56846001d/resourceGroups/crptestar5179/providers/Microsoft.Network/virtualNetworks/vn9727/subnets/sn6012?api-version=2018-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"77fde3b3-e0a4-41d1-8fce-29aad62e9133\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11987"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"sn6012\",\r\n  \"id\": \"/subscriptions/d9d3e089-f228-4295-8be4-c8d56846001d/resourceGroups/crptestar5179/providers/Microsoft.Network/virtualNetworks/vn9727/subnets/sn6012\",\r\n  \"etag\": \"W/\\\"77fde3b3-e0a4-41d1-8fce-29aad62e9133\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n    \"delegations\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/d9d3e089-f228-4295-8be4-c8d56846001d/resourceGroups/crptestar5179/providers/Microsoft.Network/networkInterfaces/nic5633?api-version=2018-07-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"properties\": {\r\n              \"addressPrefix\": \"10.0.0.0/24\",\r\n              \"provisioningState\": \"Succeeded\"\r\n            },\r\n            \"name\": \"sn6012\",\r\n            \"etag\": \"W/\\\"77fde3b3-e0a4-41d1-8fce-29aad62e9133\\\"\",\r\n            \"id\": \"/subscriptions/d9d3e089-f228-4295-8be4-c8d56846001d/resourceGroups/crptestar5179/providers/Microsoft.Network/virtualNetworks/vn9727/subnets/sn6012\"\r\n          }\r\n        },\r\n        \"name\": \[...]
[...]
    {
      "RequestUri": "/subscriptions/d9d3e089-f228-4295-8be4-c8d56846001d/resourceGroups/crptestar5179/providers/Microsoft.Compute/availabilitySets/as7272?api-version=2020-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"platformUpdateDomainCount\": 1,\r\n    \"platformFaultDomainCount\": 1\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Aligned\"\r\n  },\r\n  \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/PutVM3Min;239,Microsoft.Compute/PutVM30Min;1197"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"as7272\",\r\n  \"id\": \"/subscriptions/d9d3e089-f228-4295-8be4-c8d56846001d/resourceGroups/crptestar5179/providers/Microsoft.Compute/availabilitySets/as7272\",\r\n  \"type\": \"Microsoft.Compute/availabilitySets\",\r\n  \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\"\r\n  },\r\n  \"properties\": {\r\n    \"platformUpdateDomainCount\": 1,\r\n    \"platformFaultDomainCount\": 1\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Aligned\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/d9d3e089-f228-4295-8be4-c8d56846001d/resourceGroups/crptestar5179/providers/Microsoft.Compute/hostGroups/dhgtest6968?api-version=2020-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"platformFaultDomainCount\": 1,\r\n    \"supportAutomaticPlacement\": true\r\n  },\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/PutDeleteDedicatedHost3Min;119,Microsoft.Compute/PutDeleteDedicatedHost30Min;594"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"dhgtest6968\",\r\n  \"id\": \"/subscriptions/d9d3e089-f228-4295-8be4-c8d56846001d/resourceGroups/CRPTESTAR5179/providers/Microsoft.Compute/hostGroups/dhgtest6968\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"platformFaultDomainCount\": 1,\r\n    \"supportAutomaticPlacement\": true\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/d9d3e089-f228-4295-8be4-c8d56846001d/resourceGroups/crptestar5179/providers/Microsoft.Compute/hostGroups/dhgtest6968/hosts/dhtest3524?api-version=2020-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"DSv3-Type1\"\r\n  },\r\n  \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"crptestar5179\": \"2020-06-03 22:12:23Z\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/j[...]
    {
      "RequestUri": "/subscriptions/d9d3e089-f228-4295-8be4-c8d56846001d/providers/Microsoft.Compute/locations/westus/operations/62d245e9-7f41-4ef3-8bbd-7a1f4f285d19?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14992,Microsoft.Compute/GetOperation30Min;29937"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2020-06-03T15:12:24.0501225-07:00\",\r\n  \"endTime\": \"2020-06-03T15:12:25.3626458-07:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"name\": \"62d245e9-7f41-4ef3-8bbd-7a1f4f285d19\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/d9d3e089-f228-4295-8be4-c8d56846001d/resourceGroups/crptestar5179/providers/Microsoft.Compute/hostGroups/dhgtest6968/hosts/dhtest3524?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetDedicatedHost3Min;197,Microsoft.Compute/GetDedicatedHost30Min;983"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"dhtest3524\",\r\n  \"id\": \"/subscriptions/d9d3e089-f228-4295-8be4-c8d56846001d/resourceGroups/crptestar5179/providers/Microsoft.Compute/hostGroups/dhgtest6968/hosts/dhtest3524\",\r\n  \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"crptestar5179\": \"2020-06-03 22:12:23Z\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"DSv3-Type1\"\r\n  },\r\n  \"properties\": {\r\n    \"platformFaultDomain\": 0,\r\n    \"autoReplaceOnFailure\": true,\r\n    \"hostId\": \"7982a3ad-25d6-4392-a9a3-905ebf1106db\",\r\n    \"virtualMachines\": [],\r\n    \"provisioningTime\": \"2020-06-03T15:12:25.2845329-07:00\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/d9d3e089-f228-4295-8be4-c8d56846001d/resourceGroups/crptestar5179/providers/Microsoft.Compute/virtualMachines/vm331?api-version=2020-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_D2s_v3\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"AzureRT.PIRCore.TestWAStage\",\r\n        \"offer\": \"TestUbuntuServer\",\r\n        \"sku\": \"16.04\",\r\n        \"version\": \"latest\"\r\n      },\r\n      \"osDisk\": {\r\n        \"name\": \"test\",\r\n        \"caching\": \"None\",\r\n        \"createOption\": \"FromImage\",\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Standard_LRS\"\r\n        }\r\n      },\r\n      \"dataDisks\": [\r\n        {\r\n          \"lun\": 0,\r\n          \"caching\": \"None\",\r\n          \"createOption\": \"Empty\",\r\n          \"diskSizeGB\": 30,\r\n          \"managedDisk\": {\r\n            \"storageAccountType\": \"Standard_LRS\"\r\n          }\r\n        }\r\n      ]\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"Test\",\r\n      \"adminUsername\": \"Foo12\",\r\n      \"adminPassword\": \"[PLACEHOLDEr1]\"\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/d9d3e089-f228-4295-8be4-c8d56846001d/resourceGroups/crptestar5179/providers/Microsoft.Network/networkInterfaces/nic5633\"\r\n        }\r\n      ]\r\n    },\r\n    \"hostGroup\": {\r\n      \"id\": \"/subscriptions/d9d3e089-f228-4295-8be4-c8d56846001d/resourceGroups/crptestar5179/providers/Microsoft.Compute/hostGroups/dhgtest6968\"\r\n    }\r\n  },\r\n  \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/d9d3e089-f228-4295-8be4-c8d56846001d/providers/Microsoft.Compute/locations/westus/operations/8d86d81d-b898-4836-8264-56d078f0fcb9?api-version=2020-06-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/PutVM3Min;238,Microsoft.Compute/PutVM30Min;1196"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vm331\",\r\n  \"id\": \"/subscriptions/d9d3e089-f228-4295-8be4-c8d56846001d/resourceGroups/crptestar5179/providers/Microsoft.Compute/virtualMachines/vm331\",\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\"\r\n  },\r\n  \"properties\": {\r\n    \"vmId\": \"f0dae432-8021-4ed8-b38c-c7fd47cce804\",\r\n    \"hostGroup\": {\r\n      \"id\": \"/subscriptions/d9d3e089-f228-4295-8be4-c8d56846001d/resourceGroups/CRPTESTAR5179/providers/Microsoft.Compute/hostGroups/dhgtest6968\"\r\n    },\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_D2s_v3\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"AzureRT.PIRCore.TestWAStage\",\r\n        \"offer\": \"TestUbuntuServer\",\r\n        \"sku\": \"16.04\",\r\n        \"version\": \"latest\",\r\n        \"exactVersion\": \"1604.03.09\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n        \"name\": \"test\",\r\n        \"createOption\": \"FromImage\",\r\n        \"caching\": \"None\",\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Standard_LRS\"\r\n        },\r\n        \"diskSizeGB\": 30\r\n      },\r\n      \"dataDisks\": [\r\n        {\r\n          \"lun\": 0,\r\n          \"createOption\": \"Empty\",\r\n          \"caching\": \"None\",\r\n          \"managedDisk\": {\r\n            \"storageAccountType\": \"Standard_LRS\"\r\n          },\r\n          \"diskSizeGB\": 30,\r\n          \"toBeDetached\": false\r\n        }\r\n      ]\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"Test\",\r\n      \"adminUsername\": \"Foo12\",\r\n      \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\": false,\r\n        \"provisionVMAgent\": true\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\": true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/d9d3e089-f228-4295-8be4-c8d56846001d/resourceGroups/crptestar5179/providers/Microsoft.Network/networkInterfaces/nic5633\"\r\n        }\r\n      ]\r\n    },\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/d9d3e089-f228-4295-8be4-c8d56846001d/resourceGroups/crptestar5179/providers/Microsoft.Compute/virtualMachines/vm331?$expand=instanceView&api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/LowCostGet3Min;3999,Microsoft.Compute/LowCostGet30Min;31988"
        ],
        "x-ms-ratelimit-remaini[...]
    {
      "RequestUri": "/subscriptions/d9d3e089-f228-4295-8be4-c8d56846001d/resourceGroups/crptestar5179/providers/Microsoft.Compute/virtualMachines/vm331/instanceView?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/LowCostGet3Min;3998,Microsoft.Compute/LowCostGet30Min;31987"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"assignedHost\": \"/subscriptions/d9d3e089-f228-4295-8be4-c8d56846001d/resourceGroups/CRPTESTAR5179/providers/Microsoft.Compute/hostGroups/dhgtest6968/hosts/dhtest3524\",\r\n  \"disks\": [\r\n    {\r\n      \"name\": \"test\",\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n          \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning succeeded\",\r\n          \"time\": \"2020-06-03T15:13:23.988105-07:00\"\r\n        }\r\n      ]\r\n    },\r\n    {\r\n      \"name\": \"vm331_disk2_e5e2546b14624174bc80ca7931c4f691\",\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n          \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning succeeded\",\r\n          \"time\": \"2020-06-03T15:13:23.988105-07:00\"\r\n        }\r\n      ]\r\n    }\r\n  ],\r\n  \"internalData\": {\r\n    \"fabricCluster\": \"usstagesc-prod-a\",\r\n    \"fabricTenantName\": \"620f6428-e125-4712-9fba-2e1778716ea5\"\r\n  },\r\n  \"hyperVGeneration\": \"V1\",\r\n  \"statuses\": [\r\n    {\r\n      \"code\": \"ProvisioningState/succeeded\",\r\n      \"level\": \"Info\",\r\n      \"displayStatus\": \"Provisioning succeeded\",\r\n      \"time\": \"2020-06-03T15:14:06.8639599-07:00\"\r\n    },\r\n    {\r\n      \"code\": \"PowerState/running\",\r\n      \"level\": \"Info\",\r\n      \"displayStatus\": \"VM running\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/d9d3e089-f228-4295-8be4-c8d56846001d/resourceGroups/crptestar5179/providers/Microsoft.Compute/virtualMachines?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/HighCostGet3Min;139,Microsoft.Compute/HighCostGet30Min;699"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"vm331\",\r\n      \"id\": \"/subscriptions/d9d3e089-f228-4295-8be4-c8d56846001d/resourceGroups/crptestar5179/providers/Microsoft.Compute/virtualMachines/vm331\",\r\n      \"type\": \"Microsoft.Compute/virtualMachines\",\r\n      \"location\": \"westus\",\r\n      \"tags\": {\r\n        \"RG\": \"rg\",\r\n        \"testTag\": \"1\"\r\n      },\r\n      \"properties\": {\r\n        \"vmId\": \"f0dae432-8021-4ed8-b38c-c7fd47cce804\",\r\n        \"hostGroup\": {\r\n [...]
    {
      "RequestUri": "/subscriptions/d9d3e089-f228-4295-8be4-c8d56846001d/resourcegroups/crptestar5179?api-version=2017-05-10",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/d9d3e089-f228-4295-8be4-c8d56846001d/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DUlBURVNUQVI1MTc5LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    }
  ],
  "Names": {
    "TestVMScenarioOperationsInternal": [
      "crptestar5179",
      "crptestar9383",
      "as7272",
      "dhgtest6968",
      "dhtest3524"
    ],
    "CreatePublicIP": [
      "pip4113",
      "dn346"
    ],
    "CreateVNET": [
      "vn9727",
      "sn6012"
    ],
    "CreateNIC": [
      "nic5633",
      "ip9239"
    ],
    "CreateDefaultVMInput": [
      "crptestar9947",
      "crptestar5127",
      "crptestar8230",
      "vm331",
      "Microsoft.Compute/virtualMachines4536"
    ]
  },
  "Variables": {
    "SubscriptionId": "d9d3e089-f228-4295-8be4-c8d56846001d"
  }
}