{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "f3d94233-a9aa-4241-ac82-2dfb63ce637a",
        "tenantId": "75743128-1c62-4904-9be1-c23c1edb9a9f",
        "displayName": "Visual Studio Enterprise Subscription",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "MSDN_2014-09-01",
          "spendingLimit": "On"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11995"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/75743128-1c62-4904-9be1-c23c1edb9a9f",
            "tenantId": "75743128-1c62-4904-9be1-c23c1edb9a9f",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Authorization/dataPolicyManifests/Microsoft.Network.Data?api-version=2020-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11994"
      },
      "ResponseBody": {
        "properties": {
          "namespaces": [
            "Microsoft.Network"
          ],
          "policyMode": "Microsoft.Network.Data",
          "isBuiltInOnly": false,
          "effects": [
            {
              "name": "addToNetworkGroup",
              "detailsSchema": {
                "type": "object",
                "properties": {
                  "networkGroupId": {
                    "type": "string"
                  },
                  "networkGroupVersion": {
                    "type": "string"
                  },
                  "commitType": {
                    "type": "string"
                  }
                },
                "required": [
                  "networkGroupId",
                  "networkGroupVersion",
                  "commitType"
                ],
                "additionalProperties": false
              }
            }
          ],
          "fieldValues": [
            "id",
            "name",
            "type",
            "location",
            "tags"
          ],
          "resourceFunctions": {
            "standard": [
              "subscription",
              "resourceGroup"
            ],
            "custom": []
          }
        },
        "id": "/providers/Microsoft.Authorization/dataPolicyManifests/Microsoft.Network.Data",
        "type": "Microsoft.Authorization/dataPolicyManifests",
        "name": "Microsoft.Network.Data"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "2091194145",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "f3d94233-a9aa-4241-ac82-2dfb63ce637a"
  }
}