{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS12581055": "20220228",
          "NRMSBreakGlassNonHighRisk ": "NRMSBreakGlassNonHighRisk "
        },
        "subscriptionId": "fb9e7fe1-af44-47ef-852d-2d086a069327",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "GenevaMetrics_Int",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/providers/Microsoft.Network/trafficManagerUserMetricsKeys?api-version=2018-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "10795"
      },
      "ResponseBody": {
        "__type": "TrafficManagerUserMetricsKeyPackageBodyV2:http://schemas.microsoft.com/windowsazure",
        "id": "/providers/Microsoft.Network/trafficManagerUserMetricsKeys/default",
        "name": "default",
        "type": "Microsoft.Network/trafficManagerUserMetricsKeys",
        "properties": {
          "key": "5ee57e7cbb50e881bfec25d3ffe9dd6c"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/providers/Microsoft.Network/trafficManagerUserMetricsKeys?api-version=2018-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "10792"
      },
      "ResponseBody": {
        "__type": "TrafficManagerUserMetricsKeyPackageBodyV2:http://schemas.microsoft.com/windowsazure",
        "id": "/providers/Microsoft.Network/trafficManagerUserMetricsKeys/default",
        "name": "default",
        "type": "Microsoft.Network/trafficManagerUserMetricsKeys",
        "properties": {
          "key": ""
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1969332442",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "fb9e7fe1-af44-47ef-852d-2d086a069327"
  }
}
