{
  "Entries": [
    {
      "RequestUri": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/regulatoryComplianceStandards?api-version=2019-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/regulatoryComplianceStandards/Azure-CIS-1.1.0\",\r\n      \"name\": \"Azure-CIS-1.1.0\",\r\n      \"type\": \"Microsoft.Security/regulatoryComplianceStandards\",\r\n      \"properties\": {\r\n        \"state\": \"Failed\",\r\n        \"passedControls\": 12,\r\n        \"failedControls\": 11,\r\n        \"skippedControls\": 1,\r\n        \"unsupportedControls\": 82\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/regulatoryComplianceStandards/ISO-27001\",\r\n      \"name\": \"ISO-27001\",\r\n      \"type\": \"Microsoft.Security/regulatoryComplianceStandards\",\r\n      \"properties\": {\r\n        \"state\": \"Failed\",\r\n        \"passedControls\": 5,\r\n        \"failedControls\": 14,\r\n        \"skippedControls\": 3,\r\n        \"unsupportedControls\": 104\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/regulatoryComplianceStandards/PCI-DSS-3.2\",\r\n      \"name\": \"PCI-DSS-3.2\",\r\n      \"type\": \"Microsoft.Security/regulatoryComplianceStandards\",\r\n      \"properties\": {\r\n        \"state\": \"Failed\",\r\n        \"passedControls\": 28,\r\n        \"failedControls\": 3,\r\n        \"skippedControls\": 0,\r\n        \"unsupportedControls\": 181\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/regulatoryComplianceStandards/SOC-TSP\",\r\n      \"name\": \"SOC-TSP\",\r\n      \"type\": \"Microsoft.Security/regulatoryComplianceStandards\",\r\n      \"properties\": {\r\n        \"state\": \"Failed\",\r\n        \"passedControls\": 4,\r\n        \"failedControls\": 8,\r\n        \"skippedControls\": 0,\r\n        \"unsupportedControls\": 25\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/regulatoryComplianceStandards/Azure-CIS-1.1.0/regulatoryComplianceControls?api-version=2019-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/regulatoryComplianceStandards/Azure-CIS-1.1.0/regulatoryComplianceControls/1.1\",\r\n      \"name\": \"1.1\",\r\n      \"type\": \"Microsoft.Security/regulatoryComplianceStandards/regulatoryComplianceControls\",\r\n      \"properties\": {\r\n        \"description\": \"Ensure that multi-factor authentication is enabled for all privileged users\",\r\n        \"state\": \"Failed\",\r\n        \"passedAssessments\": 0,\r\n        \"failedAssessments\": 1,\r\n        \"skippedAssessments\": 0\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/regulatoryComplianceStandards/Azure-CIS-1.1.0/regulatoryComplianceControls/1.11\",\r\n      \"name\": \"1.11\",\r\n      \"type\": \"Microsoft.Security/regulatoryComplianceStandards/regulatoryComplianceControls\",\r\n      \"properties\": {\r\n        \"description\": \"Ensure that 'Users can register applications' is set to 'No'\",\r\n        \"state\": \"Unsuppor[...]
    {
      "RequestUri": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/regulatoryComplianceStandards/Azure-CIS-1.1.0/regulatoryComplianceControls/1.1?api-version=2019-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "748"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/regulatoryComplianceStandards/Azure-CIS-1.1.0/regulatoryComplianceControls/1.1\",\r\n  \"name\": \"1.1\",\r\n  \"type\": \"Microsoft.Security/regulatoryComplianceStandards/regulatoryComplianceControls\",\r\n  \"properties\": {\r\n    \"description\": \"Ensure that multi-factor authentication is enabled for all privileged users\",\r\n    \"state\": \"Failed\",\r\n    \"passedAssessments\": 0,\r\n    \"failedAssessments\": 1,\r\n    \"skippedAssessments\": 0\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}