{
  "Entries": [
    {
      "RequestUri": "https://heathskv.vault.azure.net/secrets/881437262?api-version=7.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/secrets/881437262?api-version=7.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "KJlQ0qsvpXm2wjtCUGOwWBCru_AC4JtPv42KFMjBhMw",
        "contentType": "application/octet-stream"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "KJlQ0qsvpXm2wjtCUGOwWBCru_AC4JtPv42KFMjBhMw",
        "contentType": "application/octet-stream",
        "id": "https://heathskv.vault.azure.net/secrets/881437262/eee2ff97177f43dca9820fa5f0167b61",
        "attributes": {
          "enabled": true,
          "created": 1596063120,
          "updated": 1596063120,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/secrets/881437262/eee2ff97177f43dca9820fa5f0167b61?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "KJlQ0qsvpXm2wjtCUGOwWBCru_AC4JtPv42KFMjBhMw",
        "contentType": "application/octet-stream",
        "id": "https://heathskv.vault.azure.net/secrets/881437262/eee2ff97177f43dca9820fa5f0167b61",
        "attributes": {
          "enabled": true,
          "created": 1596063120,
          "updated": 1596063120,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskv.vault.azure.net",
    "RandomSeed": "793957607"
  }
}
