{
  "Entries": [
    {
      "RequestUri": "https://jolovkeyvault.vault.azure.net/keys/430692953/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://jolovkeyvault.vault.azure.net/keys/430692953/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://jolovkeyvault.vault.azure.net/keys/430692953/f4390fe43fb14edca77cf508dc2f59bb",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pMpLVR14vIZ3vsoK6QDeNfsj7rhZHkpel401DkrbuMZE497baB1sx4x_IdhbS9Qbn_37rwOXDR8recUtE0N_MYJOjFfC256_1d5hNeWHObqY6aCW-KrmwgHmUNSsWB-FOvstuNWW096w921lSTEEIdC0Xt00HgOABfKdIKqM7bHc0ch-26UOIYkfhPTqRtjOOgt5T_M1AvOhRdkFLvEwLPuEANLBJcwILXnXjzi66MPJpGGbOzG5Iq-fz4OkTCNyHRhka_g2NpBL6dFXuQajO0bp967TeDYbArhtjoFcg5w7BZJI3h0MlUsGT3vxm-caF2I0qeOb4fuyKPObpYMKQQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1637207063,
          "updated": 1637207063,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://jolovkeyvault.vault.azure.net/keys/430692953/f4390fe43fb14edca77cf508dc2f59bb?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
[...]
    {
      "RequestUri": "https://jolovkeyvault.vault.azure.net/keys/430692953?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://jolovkeyvault.vault.azure.net/deletedkeys/430692953",
        "deletedDate": 1637207066,
        "scheduledPurgeDate": 1637811866,
        "key": {
          "kid": "https://jolovkeyvault.vault.azure.net/keys/430692953/f4390fe43fb14edca77cf508dc2f59bb",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pMpLVR14vIZ3vsoK6QDeNfsj7rhZHkpel401DkrbuMZE497baB1sx4x_IdhbS9Qbn_37rwOXDR8recUtE0N_MYJOjFfC256_1d5hNeWHObqY6aCW-KrmwgHmUNSsWB-FOvstuNWW096w921lSTEEIdC0Xt00HgOABfKdIKqM7bHc0ch-26UOIYkfhPTqRtjOOgt5T_M1AvOhRdkFLvEwLPuEANLBJcwILXnXjzi66MPJpGGbOzG5Iq-fz4OkTCNyHRhka_g2NpBL6dFXuQajO0bp967TeDYbArhtjoFcg5w7BZJI3h0MlUsGT3vxm-caF2I0qeOb4fuyKPObpYMKQQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1637207063,
          "updated": 1637207063,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://jolovkeyvault.vault.azure.net/",
    "RandomSeed": "779396749"
  }
}
