{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/2107873188/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/2107873188/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/2107873188/5c49e21dcd2e4f50a6b0aea347f7d353",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uVjhjWrC87PmrCF2ZuBWlazdYX5vH7EiYwD58t9IB6CpsULZbx6GJlCIDRAgAIVJ0N0fntoIFCsvOtAZ8uoxMClCAk9s4CiLrkwqrGfM3QSeYZrv_a-0awiGHRD082D1lF4xiLUnrGXc35j7697F7MibhGHJxgj1ec4onpHJ2FxWlcGK-Jvj9dkPKa9jGKOVx-oFNicQP8Fcj1y-CMJ8PwlMiSzhrkRnApeTKhZH1OnRDPVo7QvqJ_fyoJ0TJaTtd6zaienf2_s4ap7S_uZXCjQauuWLxoinnv3nZvjOuXTknraOBLEYkUIScju6SMhhQxv3IWpDsy-BRAT3_km4jQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1667323014,
          "updated": 1667323014,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/2107873188/5c49e21dcd2e4f50a6b0aea347f7d353?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/2107873188/5c49e21dcd2e4f50a6b0aea347f7d353",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uVjhjWrC87PmrCF2ZuBWlazdYX5vH7EiYwD58t9IB6CpsULZbx6GJlCIDRAgAIVJ0N0fntoIFCsvOtAZ8uoxMClCAk9s4CiLrkwqrGfM3QSeYZrv_a-0awiGHRD082D1lF4xiLUnrGXc35j7697F7MibhGHJxgj1ec4onpHJ2FxWlcGK-Jvj9dkPKa9jGKOVx-oFNicQP8Fcj1y-CMJ8PwlMiSzhrkRnApeTKhZH1OnRDPVo7QvqJ_fyoJ0TJaTtd6zaienf2_s4ap7S_uZXCjQauuWLxoinnv3nZvjOuXTknraOBLEYkUIScju6SMhhQxv3IWpDsy-BRAT3_km4jQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1667323014,
          "updated": 1667323014,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "873430628"
  }
}
