{
  "Entries": [
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1997865383?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) 1997865383 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskvtest.vault.azure.net/",
    "RandomSeed": "356916101"
  }
}