{
  "Entries": [
    {
      "RequestUri": "https://allkimprim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 27 Jul 2020 17:22:45 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtable9k9pvnd0"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272020-07-27T17%3A22%3A46.0770312Z\u0027\u0022",
        "Location": "https://allkimprim.table.cosmos.azure.com/Tables(\u0027testtable9k9pvnd0\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtable9k9pvnd0",
        "odata.metadata": "https://allkimprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://allkimprim.table.cosmos.azure.com/testtable9k9pvnd0?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 27 Jul 2020 17:22:46 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "StringTypeProperty": "This is table entity number 01",
        "DatetimeTypeProperty": "2020-01-01T01:02:00.0000000Z",
        "DatetimeTypeProperty@odata.type": "Edm.DateTime",
        "DatetimeOffsetTypeProperty": "2020-01-01T01:02:00.0000000Z",
        "DatetimeOffsetTypeProperty@odata.type": "Edm.DateTime",
        "GuidTypeProperty": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "GuidTypeProperty@odata.type": "Edm.Guid",
        "BinaryTypeProperty": "AQIDBAU=",
        "BinaryTypeProperty@odata.type": "Edm.Binary",
        "Int64TypeProperty": "1",
        "Int64TypeProperty@odata.type": "Edm.Int64",
        "DoubleTypeProperty": 1,
        "DoubleTypeProperty@odata.type": "Edm.Double",
        "IntTypeProperty": 1,
        "PartitionKey": "somPartition",
        "RowKey": "01",
        "Timestamp": null,
        "ETag": null
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272020-07-27T17%3A22%3A46.8570120Z\u0027\u0022",
        "Location": "https://allkimprim.table.cosmos.azure.com/testtable9k9pvnd0(PartitionKey=\u0027somPartition\u0027,RowKey=\u002701\u0027)"
      },
      "ResponseBody": {
        "odata.metadata": "https://allkimprim.table.cosmos.azure.com/testtable9k9pvnd0/$metadata#testtable9k9pvnd0/@Element",
        "odata.etag": "W/\u0022datetime\u00272020-07-27T17%3A22%3A46.8570120Z\u0027\u0022",
        "StringTypeProperty": "This is table entity number 01",
        "DatetimeTypeProperty@odata.type": "Edm.DateTime",
        "DatetimeTypeProperty": "2020-01-01T01:02:00.0000000Z",
        "DatetimeOffsetTypeProperty@odata.type": "Edm.DateTime",
        "DatetimeOffsetTypeProperty": "2020-01-01T01:02:00.0000000Z",
        "GuidTypeProperty@odata.type": "Edm.Guid",
        "GuidTypeProperty": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "BinaryTypeProperty@odata.type": "Edm.Binary",
        "BinaryTypeProperty": "AQIDBAU=",
        "Int64TypeProperty@odata.type": "Edm.Int64",
        "Int64TypeProperty": "1",
        "DoubleTypeProperty": 1,
        "IntTypeProperty": 1,
        "PartitionKey": "somPartition",
        "RowKey": "01",
        "Timestamp@odata.type": "Edm.DateTime",
        "Timestamp": "2020-07-27T17:22:46.8570120Z"
      }
    },
    {
      "RequestUri": "https://allkimprim.table.cosmos.azure.com/testtable9k9pvnd0()?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$filter=PartitionKey%20eq%20%27somPartition%27%20and%20RowKey%20eq%20%2701%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 27 Jul 2020 17:22:46 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272020-07-27T17%3A22%3A46.8570120Z\u0027\u0022",
            "StringTypeProperty": "This is table entity number 01",
            "DatetimeTypeProperty@odata.type": "Edm.DateTime",
            "DatetimeTypeProperty": "2020-01-01T01:02:00.0000000Z",
            "DatetimeOffsetTypeProperty@odata.type": "Edm.DateTime",
            "DatetimeOffsetTypeProperty": "2020-01-01T01:02:00.0000000Z",
            "GuidTypeProperty@odata.type": "Edm.Guid",
            "GuidTypeProperty": "0d391d16-97f1-4b9a-be68-4cc871f90001",
            "BinaryTypeProperty@odata.type": "Edm.Binary",
            "BinaryTypeProperty": "AQIDBAU=",
            "Int64TypeProperty@odata.type": "Edm.Int64",
            "Int64TypeProperty": "1",
            "DoubleTypeProperty": 1,
            "IntTypeProperty": 1,
            "PartitionKey": "somPartition",
            "RowKey": "01",
            "Timestamp@odata.type": "Edm.DateTime",
            "Timestamp": "2020-07-27T17:22:46.8570120Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://allkimprim.table.cosmos.azure.com/Tables(\u0027testtable9k9pvnd0\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 17:22:46 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1353972034",
    "TABLES_COSMOS_ACCOUNT_NAME": "allkimprim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": ""
  }
}