{
  "Entries": [
    {
      "RequestUri": "https://chrisstablesprim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 18 Oct 2021 17:12:56 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtabletg54dz3h"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-10-18T17%3A12%3A57.0850312Z\u0027\u0022",
        "Location": "https://chrisstablesprim.table.cosmos.azure.com/Tables(\u0027testtabletg54dz3h\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtabletg54dz3h",
        "odata.metadata": "https://chrisstablesprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://chrisstablesprim.table.cosmos.azure.com/testtabletg54dz3h?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-date": "Mon, 18 Oct 2021 17:12:58 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "StringTypeProperty": "This is table entity number 01",
        "DatetimeTypeProperty": "2020-01-01T01:02:00.0000000Z",
        "DatetimeTypeProperty@odata.type": "Edm.DateTime",
        "DatetimeOffsetTypeProperty": "2020-01-01T01:02:00.0000000Z",
        "DatetimeOffsetTypeProperty@odata.type": "Edm.DateTime",
        "GuidTypeProperty": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "GuidTypeProperty@odata.type": "Edm.Guid",
        "BinaryTypeProperty": "AQIDBAU=",
        "BinaryTypeProperty@odata.type": "Edm.Binary",
        "Int64TypeProperty": "1",
        "Int64TypeProperty@odata.type": "Edm.Int64",
        "UInt64TypeProperty": "1",
        "UInt64TypeProperty@odata.type": "Edm.Int64",
        "DoubleTypeProperty": 1,
        "DoubleTypeProperty@odata.type": "Edm.Double",
        "IntTypeProperty": 1,
        "PartitionKey": "somPartition",
        "RowKey": "01"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272021-10-18T17%3A12%3A57.8322440Z\u0027\u0022",
        "Location": "https://chrisstablesprim.table.cosmos.azure.com/testtabletg54dz3h(PartitionKey=\u0027somPartition\u0027,RowKey=\u002701\u0027)",
        "Preference-Applied": "return-no-content"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://chrisstablesprim.table.cosmos.azure.com/testtabletg54dz3h()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$filter=PartitionKey%20eq%20%27somPartition%27%20and%20RowKey%20eq%20%2701%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 18 Oct 2021 17:12:58 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272021-10-18T17%3A12%3A57.8322440Z\u0027\u0022",
            "StringTypeProperty": "This is table entity number 01",
            "DatetimeTypeProperty@odata.type": "Edm.DateTime",
            "DatetimeTypeProperty": "2020-01-01T01:02:00.0000000Z",
            "DatetimeOffsetTypeProperty@odata.type": "Edm.DateTime",
            "DatetimeOffsetTypeProperty": "2020-01-01T01:02:00.0000000Z",
            "GuidTypeProperty@odata.type": "Edm.Guid",
            "GuidTypeProperty": "0d391d16-97f1-4b9a-be68-4cc871f90001",
            "BinaryTypeProperty@odata.type": "Edm.Binary",
            "BinaryTypeProperty": "AQIDBAU=",
            "Int64TypeProperty@odata.type": "Edm.Int64",
            "Int64TypeProperty": "1",
            "UInt64TypeProperty@odata.type": "Edm.Int64",
            "UInt64TypeProperty": "1",
            "DoubleTypeProperty": 1.0,
            "IntTypeProperty": 1,
            "PartitionKey": "somPartition",
            "RowKey": "01",
            "Timestamp": "2021-10-18T17:12:57.8322440Z"
          }
        ],
        "odata.metadata": "https://chrisstablesprim.table.cosmos.azure.com/$metadata#testtabletg54dz3h"
      }
    },
    {
      "RequestUri": "https://chrisstablesprim.table.cosmos.azure.com/Tables(\u0027testtabletg54dz3h\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 18 Oct 2021 17:12:58 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COSMOS_TABLES_ENDPOINT_SUFFIX": null,
    "RandomSeed": "1281023895",
    "TABLES_COSMOS_ACCOUNT_NAME": "chrisstablesprim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "Kg=="
  }
}