{
  "Entries": [
    {
      "RequestUri": "https://t6d9ba26493dd43beprim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Aug 2020 18:05:59 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtablehylzfh6f"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272020-08-20T18%3A05%3A59.9423496Z\u0027\u0022",
        "Location": "https://t6d9ba26493dd43beprim.table.cosmos.azure.com/Tables(\u0027testtablehylzfh6f\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtablehylzfh6f",
        "odata.metadata": "https://t6d9ba26493dd43beprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://t6d9ba26493dd43beprim.table.cosmos.azure.com/testtablehylzfh6f?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Aug 2020 18:06:00 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "somPartition",
        "RowKey": "01",
        "SomeStringProperty": "This is table entity number 01",
        "SomeDateProperty": "2020-01-01T01:02:00.0000000Z",
        "SomeDateProperty@odata.type": "Edm.DateTime",
        "SomeGuidProperty": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "SomeGuidProperty@odata.type": "Edm.Guid",
        "SomeBinaryProperty": "AQIDBAU=",
        "SomeBinaryProperty@odata.type": "Edm.Binary",
        "SomeInt64Property": "1",
        "SomeInt64Property@odata.type": "Edm.Int64",
        "SomeDoubleProperty0": 1,
        "SomeDoubleProperty0@odata.type": "Edm.Double",
        "SomeDoubleProperty1": 1.1000000000000001,
        "SomeDoubleProperty1@odata.type": "Edm.Double",
        "SomeIntProperty": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272020-08-20T18%3A06%3A00.4156424Z\u0027\u0022",
        "Location": "https://t6d9ba26493dd43beprim.table.cosmos.azure.com/testtablehylzfh6f(PartitionKey=\u0027somPartition\u0027,RowKey=\u002701\u0027)"
      },
      "ResponseBody": {
        "odata.metadata": "https://t6d9ba26493dd43beprim.table.cosmos.azure.com/testtablehylzfh6f/$metadata#testtablehylzfh6f/@Element",
        "odata.etag": "W/\u0022datetime\u00272020-08-20T18%3A06%3A00.4156424Z\u0027\u0022",
        "PartitionKey": "somPartition",
        "RowKey": "01",
        "SomeStringProperty": "This is table entity number 01",
        "SomeDateProperty@odata.type": "Edm.DateTime",
        "SomeDateProperty": "2020-01-01T01:02:00.0000000Z",
        "SomeGuidProperty@odata.type": "Edm.Guid",
        "SomeGuidProperty": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "SomeBinaryProperty@odata.type": "Edm.Binary",
        "SomeBinaryProperty": "AQIDBAU=",
        "SomeInt64Property@odata.type": "Edm.Int64",
        "SomeInt64Property": "1",
        "SomeDoubleProperty0": 1,
        "SomeDoubleProperty1": 1.1,
        "SomeIntProperty": 1,
        "Timestamp@odata.type": "Edm.DateTime",
        "Timestamp": "2020-08-20T18:06:00.4156424Z"
      }
    },
[...]
    {
      "RequestUri": "https://t6d9ba26493dd43beprim.table.cosmos.azure.com/testtablehylzfh6f()?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Aug 2020 18:06:01 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272020-08-20T18%3A06%3A00.4156424Z\u0027\u0022",
            "PartitionKey": "somPartition",
            "RowKey": "01",
            "SomeStringProperty": "This is table entity number 01",
            "SomeDateProperty@odata.type": "Edm.DateTime",
            "SomeDateProperty": "2020-01-01T01:02:00.0000000Z",
            "SomeGuidProperty@odata.type": "Edm.Guid",
            "SomeGuidProperty": "0d391d16-97f1-4b9a-be68-4cc871f90001",[...]
    {
      "RequestUri": "https://t6d9ba26493dd43beprim.table.cosmos.azure.com/Tables(\u0027testtablehylzfh6f\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Aug 2020 18:06:02 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "114059248",
    "TABLES_COSMOS_ACCOUNT_NAME": "t6d9ba26493dd43beprim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "Sanitized"
  }
}