{
  "Entries": [
    {
      "RequestUri": "https://chrisstablesprim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 04 Jan 2021 22:26:46 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtable8822lm1f"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-01-04T22%3A26%3A35.4845704Z\u0027\u0022",
        "Location": "https://chrisstablesprim.table.cosmos.azure.com/Tables(\u0027testtable8822lm1f\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtable8822lm1f",
        "odata.metadata": "https://chrisstablesprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://chrisstablesprim.table.cosmos.azure.com/testtable8822lm1f?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-date": "Mon, 04 Jan 2021 22:26:46 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "StringTypeProperty": "This is table entity number 01",
        "DatetimeTypeProperty": "2020-01-01T01:02:00.0000000Z",
        "DatetimeTypeProperty@odata.type": "Edm.DateTime",
        "DatetimeOffsetTypeProperty": "2020-01-01T01:02:00.0000000Z",
        "DatetimeOffsetTypeProperty@odata.type": "Edm.DateTime",
        "GuidTypeProperty": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "GuidTypeProperty@odata.type": "Edm.Guid",
        "BinaryTypeProperty": "AQIDBAU=",
        "BinaryTypeProperty@odata.type": "Edm.Binary",
        "Int64TypeProperty": "1",
        "Int64TypeProperty@odata.type": "Edm.Int64",
        "DoubleTypeProperty": 1,
        "DoubleTypeProperty@odata.type": "Edm.Double",
        "IntTypeProperty": 1,
        "PartitionKey": "somPartition",
        "RowKey": "01",
        "Timestamp": null
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272021-01-04T22%3A26%3A36.0600584Z\u0027\u0022",
        "Location": "https://chrisstablesprim.table.cosmos.azure.com/testtable8822lm1f(PartitionKey=\u0027somPartition\u0027,RowKey=\u002701\u0027)",
        "Preference-Applied": "return-no-content"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chrisstablesprim.table.cosmos.azure.com/testtable8822lm1f()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$top=5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 04 Jan 2021 22:26:48 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "x-ms-continuation-NextPartitionKey": "{\u0022token\u0022:\u0022LYBnAPeFQn4FAAAAAAAAAA==\u0022,\u0022range\u0022:{\u0022min\u0022:\u0022\u0022,\u0022max\u0022:\u0022FF\u0022}}",
        "x-ms-continuation-NextRowKey": "NA"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272021-01-04T22%3A26%3A36.0600584Z\u0027\u0022",
            "StringTypeProperty": "This is table entity number 01",
            "DatetimeTypeProperty@odata.type": "Edm.DateTime",
            "DatetimeTypeProperty": "2020-01-01T01:02:00.0000000Z",
            "DatetimeOffsetTypeProperty@odata.type": "Edm.DateTime",
            "DatetimeOffsetTypeProperty": "2020-01-01T01:02:00.0000000Z",
            "GuidTypeProperty@odata.type": "Edm.Guid",
            "GuidTypeProperty": [...]
    {
      "RequestUri": "https://chrisstablesprim.table.cosmos.azure.com/testtable8822lm1f()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$top=5\u0026NextPartitionKey=%7B%22token%22%3A%22LYBnAPeFQn4FAAAAAAAAAA%3D%3D%22%2C%22range%22%3A%7B%22min%22%3A%22%22%2C%22max%22%3A%22FF%22%7D%7D\u0026NextRowKey=NA",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 04 Jan 2021 22:26:48[...]
    {
      "RequestUri": "https://chrisstablesprim.table.cosmos.azure.com/testtable8822lm1f()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$top=5\u0026NextPartitionKey=%5B%7B%22token%22%3A%22LYBnAPeFQn4KAAAAAAAAAA%3D%3D%22%2C%22range%22%3A%7B%22min%22%3A%22%22%2C%22max%22%3A%22FF%22%7D%7D%5D\u0026NextRowKey=NA",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 04 Jan 2021 22[...]
    {
      "RequestUri": "https://chrisstablesprim.table.cosmos.azure.com/testtable8822lm1f()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$top=5\u0026NextPartitionKey=%5B%7B%22token%22%3A%22LYBnAPeFQn4PAAAAAAAAAA%3D%3D%22%2C%22range%22%3A%7B%22min%22%3A%22%22%2C%22max%22%3A%22FF%22%7D%7D%5D\u0026NextRowKey=NA",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 04 Jan 2021 22[...]
    {
      "RequestUri": "https://chrisstablesprim.table.cosmos.azure.com/Tables(\u0027testtable8822lm1f\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 04 Jan 2021 22:26:48 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COSMOS_TABLES_ENDPOINT_SUFFIX": null,
    "RandomSeed": "678687848",
    "TABLES_COSMOS_ACCOUNT_NAME": "chrisstablesprim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "Kg=="
  }
}