{
  "Entries": [
    {
      "RequestUri": "https://chrissprim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 21 Aug 2020 15:53:48 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtable0e71f32s"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272020-08-21T15%3A53%3A48.6180360Z\u0027\u0022",
        "Location": "https://chrissprim.table.cosmos.azure.com/Tables(\u0027testtable0e71f32s\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtable0e71f32s",
        "odata.metadata": "https://chrissprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
[...]
    {
      "RequestUri": "https://chrissprim.table.cosmos.azure.com/Tables(\u0027testtablez0ygcv1o\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 21 Aug 2020 15:53:49 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://chrissprim.table.cosmos.azure.com/Tables(\u0027testtable0e71f32s\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 21 Aug 2020 15:53:49 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2019404461",
    "TABLES_COSMOS_ACCOUNT_NAME": "chrissprim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "Kg=="
  }
}