{
  "Entries": [
    {
      "RequestUri": "https://t487ba7ce49634c8eprim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 25 Aug 2020 16:28:59 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtable93bxlvf9"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272020-08-25T16%3A29%3A00.0464392Z\u0027\u0022",
        "Location": "https://t487ba7ce49634c8eprim.table.cosmos.azure.com/Tables(\u0027testtable93bxlvf9\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtable93bxlvf9",
        "odata.metadata": "https://t487ba7ce49634c8eprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://t487ba7ce49634c8eprim.table.cosmos.azure.com/testtable93bxlvf9?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-date": "Tue, 25 Aug 2020 16:29:00 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "somPartition",
        "RowKey": "01",
        "SomeStringProperty": "This is table entity number 01",
        "SomeDateProperty": "2020-01-01T01:02:00.0000000Z",
        "SomeDateProperty@odata.type": "Edm.DateTime",
        "SomeGuidProperty": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "SomeGuidProperty@odata.type": "Edm.Guid",
        "SomeBinaryProperty": "AQIDBAU=",
        "SomeBinaryProperty@odata.type": "Edm.Binary",
        "SomeInt64Property": "1",
        "SomeInt64Property@odata.type": "Edm.Int64",
        "SomeDoubleProperty0": 1,
        "SomeDoubleProperty0@odata.type": "Edm.Double",
        "SomeDoubleProperty1": 1.1000000000000001,
        "SomeDoubleProperty1@odata.type": "Edm.Double",
        "SomeIntProperty": 1
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272020-08-25T16%3A29%3A00.7269896Z\u0027\u0022",
        "Location": "https://t487ba7ce49634c8eprim.table.cosmos.azure.com/testtable93bxlvf9(PartitionKey=\u0027somPartition\u0027,RowKey=\u002701\u0027)",
        "Preference-Applied": "return-no-content"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://t487ba7ce49634c8eprim.table.cosmos.azure.com/testtable93bxlvf9()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$filter=PartitionKey%20eq%20%27somPartition%27%20and%20RowKey%20gt%20%2710%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 25 Aug 2020 16:29:02 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272020-08-25T16%3A29%3A01.4162440Z\u0027\u0022",
            "PartitionKey": "somPartition",
            "RowKey": "11",
            "SomeStringProperty": "This is table entity number 11",
            "SomeDateProperty@odata.type": "Edm.DateTime",
            "SomeDateProperty": "2020-01-01T01:12:00.0000000Z",
            "SomeGuidProperty@odata.type": "Edm.Guid",
            "SomeGuidProperty": "0d391d16-97f1-4b9a-be68-4cc871f90011",
            "SomeBinaryProperty@odata.type": "Edm.Binary",
            "SomeBinaryProperty": "AQIDBAU=",
            "SomeInt64Property@odata.type": "Edm.Int64",
            "SomeInt64Property": "11",
            "SomeDoubleProperty0": 11,
            "SomeDoubleProperty1": 11.1,
            "SomeIntProperty": 11,
            "Timestamp@odata.type": "Edm.DateTime",
            "Timestamp": "2020-08-25T16:29:01.4162440Z"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272020-08-25T16%3A29%3A01.4843400Z\u0027\u0022",
            "PartitionKey": "somPartition",
            "RowKey": "12",
            "SomeStringProperty": "This is table entity number 12",
            "SomeDateProperty@odata.type": "Edm.DateTime",
            "SomeDateProperty": "2020-01-01T01:13:00.0000000Z",
            "SomeGuidProperty@odata.type": "Edm.Guid",
            "SomeGuidProperty[...]
    {
      "RequestUri": "https://t487ba7ce49634c8eprim.table.cosmos.azure.com/Tables(\u0027testtable93bxlvf9\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Aug 2020 16:29:02 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "189498940",
    "TABLES_COSMOS_ACCOUNT_NAME": "t487ba7ce49634c8eprim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "Kg=="
  }
}