{
  "Entries": [
    {
      "RequestUri": "https://t6d9ba26493dd43beprim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Aug 2020 18:05:27 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtableik7vknrq"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272020-08-20T18%3A05%3A27.8797832Z\u0027\u0022",
        "Location": "https://t6d9ba26493dd43beprim.table.cosmos.azure.com/Tables(\u0027testtableik7vknrq\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtableik7vknrq",
        "odata.metadata": "https://t6d9ba26493dd43beprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://t6d9ba26493dd43beprim.table.cosmos.azure.com/testtableik7vknrq?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Aug 2020 18:05:28 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "somPartition",
        "RowKey": "01",
        "SomeStringProperty": "This is table entity number 01",
        "SomeDateProperty": "2020-01-01T01:02:00.0000000Z",
        "SomeDateProperty@odata.type": "Edm.DateTime",
        "SomeGuidProperty": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "SomeGuidProperty@odata.type": "Edm.Guid",
        "SomeBinaryProperty": "AQIDBAU=",
        "SomeBinaryProperty@odata.type": "Edm.Binary",
        "SomeInt64Property": "1",
        "SomeInt64Property@odata.type": "Edm.Int64",
        "SomeDoubleProperty0": 1,
        "SomeDoubleProperty0@odata.type": "Edm.Double",
        "SomeDoubleProperty1": 1.1000000000000001,
        "SomeDoubleProperty1@odata.type": "Edm.Double",
        "SomeIntProperty": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272020-08-20T18%3A05%3A28.3404808Z\u0027\u0022",
        "Location": "https://t6d9ba26493dd43beprim.table.cosmos.azure.com/testtableik7vknrq(PartitionKey=\u0027somPartition\u0027,RowKey=\u002701\u0027)"
      },
      "ResponseBody": {
        "odata.metadata": "https://t6d9ba26493dd43beprim.table.cosmos.azure.com/testtableik7vknrq/$metadata#testtableik7vknrq/@Element",
        "odata.etag": "W/\u0022datetime\u00272020-08-20T18%3A05%3A28.3404808Z\u0027\u0022",
        "PartitionKey": "somPartition",
        "RowKey": "01",
        "SomeStringProperty": "This is table entity number 01",
        "SomeDateProperty@odata.type": "Edm.DateTime",
        "SomeDateProperty": "2020-01-01T01:02:00.0000000Z",
        "SomeGuidProperty@odata.type": "Edm.Guid",
        "SomeGuidProperty": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "SomeBinaryProperty@odata.type": "Edm.Binary",
        "SomeBinaryProperty": "AQIDBAU=",
        "SomeInt64Property@odata.type": "Edm.Int64",
        "SomeInt64Property": "1",
        "SomeDoubleProperty0": 1,
        "SomeDoubleProperty1": 1.1,
        "SomeIntProperty": 1,
        "Timestamp@odata.type": "Edm.DateTime",
        "Timestamp": "2020-08-20T18:05:28.3404808Z"
      }
    },
[...]
    {
      "RequestUri": "https://t6d9ba26493dd43beprim.table.cosmos.azure.com/testtableik7vknrq()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$filter=PartitionKey%20eq%20%27somPartition%27%20and%20RowKey%20gt%20%2710%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Aug 2020 18:05:29 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272020-08-20T18%3A05%3A29.1672584Z\u0027\u0022",
            "PartitionKey": "somPartition",
            "RowKey": "11",
            "SomeStringProperty": "This is table entity number 11",
            "SomeDateProperty@odata.type": "Edm.DateTime",
            "SomeDateProperty": "2020-01-01T01:12:00.0000000Z",
            "SomeGuidProperty@odata.type": "Edm.Guid",
            "SomeGuidProperty": "0d391d16-97f1-4b9a-be68-4cc871f90011",[...]
    {
      "RequestUri": "https://t6d9ba26493dd43beprim.table.cosmos.azure.com/Tables(\u0027testtableik7vknrq\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Aug 2020 18:05:30 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1152198573",
    "TABLES_COSMOS_ACCOUNT_NAME": "t6d9ba26493dd43beprim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "Sanitized"
  }
}