{
  "Entries": [
    {
      "RequestUri": "https://chrissprim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 17 Jul 2020 21:12:53 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtable89ykktyv"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272020-07-17T21%3A12%3A54.4589832Z\u0027\u0022",
        "Location": "https://chrissprim.table.cosmos.azure.com/Tables(\u0027testtable89ykktyv\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtable89ykktyv",
        "odata.metadata": "https://chrissprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://chrissprim.table.cosmos.azure.com/testtable89ykktyv?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 17 Jul 2020 21:12:55 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "StringTypeProperty": "This is table entity number 01",
        "DatetimeTypeProperty": "2020-01-01T01:02:00.0000000Z",
        "DatetimeTypeProperty@odata.type": "Edm.DateTime",
        "DatetimeOffsetTypeProperty": "2020-01-01T01:02:00.0000000Z",
        "DatetimeOffsetTypeProperty@odata.type": "Edm.DateTime",
        "GuidTypeProperty": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "GuidTypeProperty@odata.type": "Edm.Guid",
        "BinaryTypeProperty": "AQIDBAU=",
        "BinaryTypeProperty@odata.type": "Edm.Binary",
        "Int64TypeProperty": "1",
        "Int64TypeProperty@odata.type": "Edm.Int64",
        "DoubleTypeProperty": 1,
        "DoubleTypeProperty@odata.type": "Edm.Double",
        "IntTypeProperty": 1,
        "PartitionKey": "somPartition",
        "RowKey": "01",
        "Timestamp": "0001-01-01T00:00:00.0000000Z",
        "Timestamp@odata.type": "Edm.DateTime",
        "ETag": null
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272020-07-17T21%3A12%3A55.0327304Z\u0027\u0022",
        "Location": "https://chrissprim.table.cosmos.azure.com/testtable89ykktyv(PartitionKey=\u0027somPartition\u0027,RowKey=\u002701\u0027)"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissprim.table.cosmos.azure.com/testtable89ykktyv/$metadata#testtable89ykktyv/@Element",
        "odata.etag": "W/\u0022datetime\u00272020-07-17T21%3A12%3A55.0327304Z\u0027\u0022",
        "StringTypeProperty": "This is table entity number 01",
        "DatetimeTypeProperty@odata.type": "Edm.DateTime",
        "DatetimeTypeProperty": "2020-01-01T01:02:00.0000000Z",
        "DatetimeOffsetTypeProperty@odata.type": "Edm.DateTime",
        "DatetimeOffsetTypeProperty": "2020-01-01T01:02:00.0000000Z",
        "GuidTypeProperty@odata.type": "Edm.Guid",
        "GuidTypeProperty": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "BinaryTypeProperty@odata.type": "Edm.Binary",
        "BinaryTypeProperty": "AQIDBAU=",
        "Int64TypeProperty@odata.type": "Edm.Int64",
        "Int64TypeProperty": "1",
        "DoubleTypeProperty": 1,
        "IntTypeProperty": 1,
        "PartitionKey": "somPartition",
        "RowKey": "01",
        "Timestamp@odata.type": "Edm.DateTime",
        "Timestamp": "2020-07-17T21:12:55.0327304Z"
      }
    },
[...]
    {
      "RequestUri": "https://chrissprim.table.cosmos.azure.com/testtable89ykktyv()?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 17 Jul 2020 21:12:56 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272020-07-17T21%3A12%3A55.0327304Z\u0027\u0022",
            "StringTypeProperty": "This is table entity number 01",
            "DatetimeTypeProperty@odata.type": "Edm.DateTime",
            "DatetimeTypeProperty": "2020-01-01T01:02:00.0000000Z",
            "DatetimeOffsetTypeProperty@odata.type": "Edm.DateTime",
            "DatetimeOffsetTypeProperty": "2020-01-01T01:02:00.0000000Z",
            "GuidTypeProperty@odata.type": "Edm[...]
    {
      "RequestUri": "https://chrissprim.table.cosmos.azure.com/Tables(\u0027testtable89ykktyv\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jul 2020 21:12:56 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "152366549",
    "TABLES_COSMOS_ACCOUNT_NAME": "chrissprim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": ""
  }
}