{
  "Entries": [
    {
      "RequestUri": "https://allkimprim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Jul 2020 23:38:04 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtable4k2syqpc"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272020-07-29T23%3A38%3A02.2636552Z\u0027\u0022",
        "Location": "https://allkimprim.table.cosmos.azure.com/Tables(\u0027testtable4k2syqpc\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtable4k2syqpc",
        "odata.metadata": "https://allkimprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://allkimprim.table.cosmos.azure.com/testtable4k2syqpc(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Jul 2020 23:38:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "StringTypeProperty": "This is the original",
        "PartitionKey": "somPartition",
        "RowKey": "1",
        "Timestamp": null,
        "ETag": null
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272020-07-29T23%3A38%3A02.7375624Z\u0027\u0022"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://allkimprim.table.cosmos.azure.com/testtable4k2syqpc()?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$filter=PartitionKey%20eq%20%27somPartition%27%20and%20RowKey%20eq%20%271%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Jul 2020 23:38:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272020-07-29T23%3A38%3A02.7375624Z\u0027\u0022",
            "PartitionKey": "somPartition",
            "RowKey": "1",
            "StringTypeProperty": "This is the original",
            "Timestamp@odata.type": "Edm.DateTime",
            "Timestamp": "2020-07-29T23:38:02.7375624Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://allkimprim.table.cosmos.azure.com/testtable4k2syqpc(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Jul 2020 23:38:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "odata.etag": "W/\u0022datetime\u00272020-07-29T23%3A38%3A02.7375624Z\u0027\u0022",
        "PartitionKey": "somPartition",
        "RowKey": "1",
        "StringTypeProperty": "This is the original",
        "Timestamp": "2020-07-29T23:38:02.7375624Z",
        "Timestamp@odata.type": "Edm.DateTime",
        "SomeStringProperty": "This is new and improved!"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272020-07-29T23%3A38%3A02.9170696Z\u0027\u0022"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://allkimprim.table.cosmos.azure.com/Tables(\u0027testtable4k2syqpc\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Jul 2020 23:38:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1448417861",
    "TABLES_COSMOS_ACCOUNT_NAME": "allkimprim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": ""
  }
}