{
  "Entries": [
    {
      "RequestUri": "https://chrissprim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 17 Jul 2020 19:34:43 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtablejmibwiiq"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272020-07-17T19%3A34%3A43.6131848Z\u0027\u0022",
        "Location": "https://chrissprim.table.cosmos.azure.com/Tables(\u0027testtablejmibwiiq\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtablejmibwiiq",
        "odata.metadata": "https://chrissprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://chrissprim.table.cosmos.azure.com/testtablejmibwiiq(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 17 Jul 2020 19:34:44 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "StringTypeProperty": "This is the original",
        "PartitionKey": "somPartition",
        "RowKey": "1",
        "Timestamp": "0001-01-01T00:00:00.0000000Z",
        "Timestamp@odata.type": "Edm.DateTime",
        "ETag": null
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272020-07-17T19%3A34%3A44.2342408Z\u0027\u0022"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://chrissprim.table.cosmos.azure.com/testtablejmibwiiq()?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$filter=PartitionKey%20eq%20%27somPartition%27%20and%20RowKey%20eq%20%271%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 17 Jul 2020 19:34:44 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272020-07-17T19%3A34%3A44.2342408Z\u0027\u0022",
            "PartitionKey": "somPartition",
            "RowKey": "1",
            "StringTypeProperty": "This is the original",
            "Timestamp@odata.type": "Edm.DateTime",
            "Timestamp": "2020-07-17T19:34:44.2342408Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://chrissprim.table.cosmos.azure.com/testtablejmibwiiq(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 17 Jul 2020 19:34:44 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "odata.etag": "W/\u0022datetime\u00272020-07-17T19%3A34%3A44.2342408Z\u0027\u0022",
        "PartitionKey": "somPartition",
        "RowKey": "1",
        "StringTypeProperty": "This is the original",
        "SomeStringProperty": "This is new and improved!",
        "Timestamp": "2020-07-17T19:34:44.2342408Z",
        "Timestamp@odata.type": "Edm.DateTime"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272020-07-17T19%3A34%3A44.3915272Z\u0027\u0022"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chrissprim.table.cosmos.azure.com/Tables(\u0027testtablejmibwiiq\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jul 2020 19:34:44 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1571622286",
    "TABLES_COSMOS_ACCOUNT_NAME": "chrissprim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": ""
  }
}