{
  "Entries": [
    {
      "RequestUri": "https://allkimprim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 27 Jul 2020 17:23:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtableq6v37yiv"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272020-07-27T17%3A23%3A05.2770312Z\u0027\u0022",
        "Location": "https://allkimprim.table.cosmos.azure.com/Tables(\u0027testtableq6v37yiv\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtableq6v37yiv",
        "odata.metadata": "https://allkimprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://allkimprim.table.cosmos.azure.com/Tables(\u0027testtableq6v37yiv\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 17:23:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1024462870",
    "TABLES_COSMOS_ACCOUNT_NAME": "allkimprim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": ""
  }
}