{
  "Entries": [
    {
      "RequestUri": "https://jverazsdkprim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 22 Mar 2021 23:44:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtable0d5myo2r"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json;odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-03-22T23%3A44%3A07.1581704Z\u0027\u0022",
        "Location": "https://jverazsdkprim.table.cosmos.azure.com/Tables(\u0027testtable0d5myo2r\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtable0d5myo2r",
        "odata.metadata": "https://jverazsdkprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://jverazsdkprim.table.cosmos.azure.com/testtable0d5myo2r(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 22 Mar 2021 23:44:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "somPartition",
        "RowKey": "1",
        "SomeStringProperty": "This is the original"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272021-03-22T23%3A44%3A07.6930056Z\u0027\u0022"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://jverazsdkprim.table.cosmos.azure.com/testtable0d5myo2r()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$filter=PartitionKey%20eq%20%27somPartition%27%20and%20RowKey%20eq%20%271%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 22 Mar 2021 23:44:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json;odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272021-03-22T23%3A44%3A07.6930056Z\u0027\u0022",
            "PartitionKey": "somPartition",
            "RowKey": "1",
            "SomeStringProperty": "This is the original",
            "Timestamp": "2021-03-22T23:44:07.6930056Z"
          }
        ],
        "odata.metadata": "https://jverazsdkprim.table.cosmos.azure.com/$metadata#testtable0d5myo2r"
      }
    },
    {
      "RequestUri": "https://jverazsdkprim.table.cosmos.azure.com/testtable0d5myo2r(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 22 Mar 2021 23:44:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "somPartition",
        "RowKey": "1",
        "SomeStringProperty": "This is new and improved!",
        "Timestamp": "2021-03-22T23:44:07.6930056Z",
        "Timestamp@odata.type": "Edm.DateTime"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272021-03-22T23%3A44%3A07.7884424Z\u0027\u0022"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://jverazsdkprim.table.cosmos.azure.com/Tables(\u0027testtable0d5myo2r\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 22 Mar 2021 23:44:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COSMOS_TABLES_ENDPOINT_SUFFIX": null,
    "RandomSeed": "1904516550",
    "TABLES_COSMOS_ACCOUNT_NAME": "jverazsdkprim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "Kg=="
  }
}