{
  "Entries": [
    {
      "RequestUri": "https://t1acd88e4a1c34b8dprim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 21 Aug 2020 15:54:00 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtablemylg8nep"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272020-08-21T15%3A54%3A00.0754696Z\u0027\u0022",
        "Location": "https://chrissprim.table.cosmos.azure.com/Tables(\u0027testtablemylg8nep\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtablemylg8nep",
        "odata.metadata": "https://t1acd88e4a1c34b8dprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://t1acd88e4a1c34b8dprim.table.cosmos.azure.com/Tables(\u0027testtablemylg8nep\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 21 Aug 2020 15:54:00 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1473915832",
    "TABLES_COSMOS_ACCOUNT_NAME": "chrissprim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "Kg=="
  }
}