{
  "Entries": [
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Jul 2020 20:56:09 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtableusxiz4l0"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "Location": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtableusxiz4l0\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissscratch.table.core.windows.net/$metadata#Tables/@Element",
        "odata.type": "chrissscratch.Tables",
        "odata.id": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtableusxiz4l0\u0027)",
        "odata.editLink": "Tables(\u0027testtableusxiz4l0\u0027)",
        "TableName": "testtableusxiz4l0"
      }
    },
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/testtableusxiz4l0(PartitionKey=\u0027somPartition\u0027,RowKey=\u002701\u0027)?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Jul 2020 20:56:09 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "somPartition",
        "RowKey": "01",
        "SomeStringProperty": "This is table entity number 01",
        "SomeDateProperty": "2020-01-01T01:02:00.0000000Z",
        "SomeDateProperty@odata.type": "Edm.DateTime",
        "SomeGuidProperty": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "SomeGuidProperty@odata.type": "Edm.Guid",
        "SomeBinaryProperty": "AQIDBAU=",
        "SomeBinaryProperty@odata.type": "Edm.Binary",
        "SomeInt64Property": "1",
        "SomeInt64Property@odata.type": "Edm.Int64",
        "SomeDoubleProperty0": 1,
        "SomeDoubleProperty0@odata.type": "Edm.Double",
        "SomeDoubleProperty1": 1.1000000000000001,
        "SomeDoubleProperty1@odata.type": "Edm.Double",
        "SomeIntProperty": 1
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272020-07-14T20%3A56%3A09.5472914Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/testtableusxiz4l0()?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$filter=PartitionKey%20eq%20%27somPartition%27%20and%20RowKey%20eq%20%2701%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Jul 2020 20:56:09 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissscratch.table.core.windows.net/$metadata#testtableusxiz4l0",
        "value": [
          {
            "odata.type": "chrissscratch.testtableusxiz4l0",
            "odata.id": "https://chrissscratch.table.core.windows.net/testtableusxiz4l0(PartitionKey=\u0027somPartition\u0027,RowKey=\u002701\u0027)",
            "odata.etag": "W/\u0022datetime\u00272020-07-14T20%3A56%3A09.5472914Z\u0027\u0022",
            "odata.editLink": "testtableusxiz4l0(PartitionKey=\u0027somPartition\u0027,RowKey=\u002701\u0027)",
            "PartitionKey": "somPartition",
            "RowKey": "01",
            "Timestamp@odata.type": "Edm.DateTime",
            "Timestamp": "2020-07-14T20:56:09.5472914Z",
            "SomeBinaryProperty@odata.type": "Edm.Binary",
            "SomeBinaryProperty": "AQIDBAU=",
            "SomeDateProperty@odata.type": "Edm.DateTime",
            "SomeDateProperty": "2020-01-01T01:02:00Z",
            "SomeDoubleProperty0": 1.0,
            "SomeDoubleProperty1": 1.1,
            "SomeGuidProperty@odata.type": "Edm.Guid",
            "SomeGuidProperty": "0d391d16-97f1-4b9a-be68-4cc871f90001",
            "SomeInt64Property@odata.type": "Edm.Int64",
            "SomeInt64Property": "1",
            "SomeIntProperty": 1,
            "SomeStringProperty": "This is table entity number 01"
          }
        ]
      }
    },
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtableusxiz4l0\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Jul 2020 20:56:09 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "831497240",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "",
    "TABLES_STORAGE_ACCOUNT_NAME": "chrissscratch"
  }
}