{
  "Entries": [
    {
      "RequestUri": "https://chrisstablesprim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 20 Sep 2021 14:08:47 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtablembq8jree"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-09-20T14%3A08%3A45.9056136Z\u0027\u0022",
        "Location": "https://chrisstablesprim.table.cosmos.azure.com/Tables(\u0027testtablembq8jree\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtablembq8jree",
        "odata.metadata": "https://chrisstablesprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://chrisstablesprim.table.cosmos.azure.com/testtablembq8jree(PartitionKey=\u0027PartitionWithi%27%27singleQuote\u0027,RowKey=\u002701%27%27\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Mon, 20 Sep 2021 14:08:47 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PartitionWithi\u0027singleQuote",
        "RowKey": "01\u0027",
        "SomeStringProperty": "This is table entity number 01",
        "SomeDateProperty": "2020-01-01T01:02:00.0000000Z",
        "SomeDateProperty@odata.type": "Edm.DateTime",
        "SomeGuidProperty": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "SomeGuidProperty@odata.type": "Edm.Guid",
        "SomeBinaryProperty": "AQIDBAU=",
        "SomeBinaryProperty@odata.type": "Edm.Binary",
        "SomeInt64Property": "1",
        "SomeInt64Property@odata.type": "Edm.Int64",
        "SomeDoubleProperty0": 1,
        "SomeDoubleProperty0@odata.type": "Edm.Double",
        "SomeDoubleProperty1": 1.5,
        "SomeDoubleProperty1@odata.type": "Edm.Double",
        "SomeIntProperty": 1
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272021-09-20T14%3A08%3A46.4749576Z\u0027\u0022"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://chrisstablesprim.table.cosmos.azure.com/testtablembq8jree()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$filter=%28PartitionKey%20eq%20%27PartitionWithi%27%27singleQuote%27%29%20and%20%28RowKey%20eq%20%2701%27%27%27%29",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 20 Sep 2021 14:08:47 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272021-09-20T14%3A08%3A46.4749576Z\u0027\u0022",
            "PartitionKey": "PartitionWithi\u0027singleQuote",
            "RowKey": "01\u0027",
            "SomeStringProperty": "This is table entity number 01",
            "SomeDateProperty@odata.type": "Edm.DateTime",
            "SomeDateProperty": "2020-01-01T01:02:00.0000000Z",
            "SomeGuidProperty@odata.type": "Edm.Guid",
            "SomeGuidProperty": "0d391d16-97f1-4b9a-be68-4cc871f90001",
            "SomeBinaryProperty@odata.type": "Edm.Binary",
            "SomeBinaryProperty": "AQIDBAU=",
            "SomeInt64Property@odata.type": "Edm.Int64",
            "SomeInt64Property": "1",
            "SomeDoubleProperty0": 1.0,
            "SomeDoubleProperty1": 1.5,
            "SomeIntProperty": 1,
            "Timestamp": "2021-09-20T14:08:46.4749576Z"
          }
        ],
        "odata.metadata": "https://chrisstablesprim.table.cosmos.azure.com/$metadata#testtablembq8jree"
      }
    },
[...]
    {
      "RequestUri": "https://chrisstablesprim.table.cosmos.azure.com/Tables(\u0027testtablembq8jree\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 Sep 2021 14:08:48 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COSMOS_TABLES_ENDPOINT_SUFFIX": null,
    "RandomSeed": "229636387",
    "TABLES_COSMOS_ACCOUNT_NAME": "chrisstablesprim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "Kg=="
  }
}