{
  "Entries": [
    {
      "RequestUri": "https://chrissprim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 19 Aug 2020 16:01:51 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtablezfarwh1l"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272020-08-19T16%3A01%3A51.6862472Z\u0027\u0022",
        "Location": "https://chrissprim.table.cosmos.azure.com/Tables(\u0027testtablezfarwh1l\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtablezfarwh1l",
        "odata.metadata": "https://chrissprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
[...]
    {
      "RequestUri": "https://chrissprim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$filter=TableName%20eq%20%27testtableqmmjal2e%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 19 Aug 2020 16:01:53 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "value": [
          {
            "TableName": "testtableqmmjal2e"
          }
        ]
      }
    },
    {
      "RequestUri": "https://chrissprim.table.cosmos.azure.com/Tables(\u0027testtableqmmjal2e\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Aug 2020 16:01:53 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chrissprim.table.cosmos.azure.com/Tables(\u0027testtablezfarwh1l\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Aug 2020 16:01:53 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1413939319",
    "TABLES_COSMOS_ACCOUNT_NAME": "chrissprim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": ""
  }
}