{
  "Entries": [
    {
      "RequestUri": "https://chrisstablesprim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 13 May 2021 13:28:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtabledh0dtm1j"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-05-13T13%3A28%3A36.7613960Z\u0027\u0022",
        "Location": "https://chrisstablesprim.table.cosmos.azure.com/Tables(\u0027testtabledh0dtm1j\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtabledh0dtm1j",
        "odata.metadata": "https://chrisstablesprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://chrisstablesprim.table.cosmos.azure.com/testtabledh0dtm1j()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026tn=testtabledh0dtm1j\u0026sv=2019-02-02\u0026se=2040-01-01T01%3A01%3A00Z\u0026sp=r\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [],
        "odata.metadata": "https://chrisstablesprim.table.cosmos.azure.com/$metadata#testtabledh0dtm1j"
      }
    },
    {
      "RequestUri": "https://chrisstablesprim.table.cosmos.azure.com/testtabledh0dtm1j(PartitionKey=\u0027partition\u0027,RowKey=\u002701\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026tn=testtabledh0dtm1j\u0026sv=2019-02-02\u0026se=2040-01-01T01%3A01%3A00Z\u0026sp=r\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "partition",
        "RowKey": "01",
        "SomeStringProperty": "This is table entity number 01",
        "SomeDateProperty": "2020-01-01T01:02:00.0000000Z",
        "SomeDateProperty@odata.type": "Edm.DateTime",
        "SomeGuidProperty": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "SomeGuidProperty@odata.type": "Edm.Guid",
        "SomeBinaryProperty": "AQIDBAU=",
        "SomeBinaryProperty@odata.type": "Edm.Binary",
        "SomeInt64Property": "1",
        "SomeInt64Property@odata.type": "Edm.Int64",
        "SomeDoubleProperty0": 1,
        "SomeDoubleProperty0@odata.type": "Edm.Double",
        "SomeDoubleProperty1": 1.5,
        "SomeDoubleProperty1@odata.type": "Edm.Double",
        "SomeIntProperty": 1
      },
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": [
        "{\u0022odata.error\u0022:{\u0022code\u0022:\u0022Forbidden\u0022,\u0022message\u0022:{\u0022lang\u0022:\u0022en-us\u0022,\u0022value\u0022:\u0022This request is not authorized to perform this operation using this permission.\\r\\nActivityId: 626ae29b-e287-f761-bb38-056746a7b745, documentdb-dotnet-sdk/2.11.0 Host/64-bit MicrosoftWindowsNT/6.2.9200.0\\nRequestID:626ae29b-e287-f761-bb38-056746a7b745\\n\u0022}}}\r\n"
      ]
    },
    {
      "RequestUri": "https://chrisstablesprim.table.cosmos.azure.com/Tables(\u0027testtabledh0dtm1j\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 May 2021 13:28:37 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COSMOS_TABLES_ENDPOINT_SUFFIX": null,
    "RandomSeed": "1359918957",
    "TABLES_COSMOS_ACCOUNT_NAME": "chrisstablesprim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "Kg=="
  }
}