{
  "Entries": [
    {
      "RequestUri": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto\",\r\n  \"namespace\": \"Microsoft.Kusto\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"2746ea77-4702-4b45-80ca-3c97e680e8b7\",\r\n      \"roleDefinitionId\": \"dd9d4347-f397-45f2-b538-85f21c90037c\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"clusters\",\r\n      \"locations\": [\r\n        \"Australia Central\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Brazil South\",\r\n        \"Brazil Southeast\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"Central India\",\r\n        \"Central US\",\r\n        \"East Asia\",\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"France Central\",\r\n        \"France South\",\r\n        \"Germany West Central\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Jio India Central\",\r\n        \"Jio India West\",\r\n        \"Korea Central\",\r\n        \"North Central US\",\r\n        \"North Europe\",\r\n        \"Norway East\",\r\n        \"Norway West\",\r\n        \"South Africa North\",\r\n        \"South Africa West\",\r\n        \"South Central US\",\r\n        \"South India\",\r\n        \"Southeast Asia\",\r\n        \"Sweden Central\",\r\n        \"Switzerland North\",\r\n        \"UAE North\",\r\n        \"UK South\",\r\n        \"UK West\",\r\n        \"West Central US\",\r\n        \"West Europe\",\r\n        \"West India\",\r\n        \"West US\",\r\n        \"West US 2\",\r\n        \"West US 3\",\r\n        \"Korea South\",\r\n        \"Sweden South\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2022-02-01\",\r\n        \"2021-08-27\",\r\n        \"2021-01-01\",\r\n        \"2020-09-18\",\r\n        \"2020-06-14\",\r\n        \"2020-02-15\",\r\n        \"2019-11-09\",\r\n        \"2019-09-07\",\r\n        \"2019-05-15\",\r\n        \"2019-01-21\",\r\n        \"2018-09-07-preview\",\r\n        \"2017-09-07-privatepreview\"\r\n      ],\r\n      \"zoneMappings\": [\r\n        {\r\n          \"location\": \"Australia East\",\r\n          \"zones\": [\r\n            \"3\",\r\n            \"1\",\r\n            \"2\"\r\n          ]\r\n        },\r\n        {\r\n          \"location\": \"Brazil South\",\r\n          \"zones\": [\r\n            \"3\",\r\n            \"1\",\r\n            \"2\"\r\n          ]\r\n        },\r\n        {\r\n          \"location\": \"Canada Central\",\r\n          \"zones\": [\r\n            \"1\",\r\n            \"2\",\r\n            \"3\"\r\n          ]\r\n        },\r\n        {\r\n          \"location\": \"Cen[...]
    {
      "RequestUri": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourcegroups/sdktestrg8810?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"Australia Central\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdktestrg8810\",\r\n  \"name\": \"sdktestrg8810\",\r\n  \"location\": \"australiacentral\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdktestrg8810/providers/Microsoft.Kusto/clusters/testcluster8318?api-version=2022-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_D13_v2\",\r\n    \"capacity\": 2,\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"properties\": {\r\n    \"trustedExternalTenants\": [\r\n      {\r\n        \"value\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\r\n      }\r\n    ],\r\n    \"optimizedAutoscale\": {\r\n      \"version\": 1,\r\n      \"isEnabled\": true,\r\n      \"minimum\": 2,\r\n      \"maximum\": 100\r\n    }\r\n  },\r\n  \"location\": \"Australia Central\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"\""
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/Australia Central/operationResults/11a87631-59e0-4938-a903-9ff2091794bc?api-version=2022-02-01"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdktestrg8810/providers/Microsoft.Kusto/Clusters/testcluster8318\",\r\n  \"name\": \"testcluster8318\",\r\n  \"type\": \"Microsoft.Kusto/Clusters\",\r\n  \"etag\": \"\\\"\\\"\",\r\n  \"location\": \"Australia Central\",\r\n  \"sku\": {\r\n    \"name\": \"Standard_D13_v2\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\": {\r\n    \"state\": \"Creating\",\r\n    \"trustedExternalTenants\": [\r\n      {\r\n        \"value\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\r\n      }\r\n    ],\r\n    \"optimizedAutoscale\": {\r\n      \"version\": 1,\r\n      \"isEnabled\": true,\r\n      \"minimum\": 2,\r\n      \"maximum\": 100\r\n    },\r\n    \"provisioningState\": \"Creating\"\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdktestrg8810/providers/Microsoft.Kusto/clusters/testcluster8318?api-version=2022-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_D13_v2\",\r\n    \"capacity\": 2,\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"properties\": {\r\n    \"trustedExternalTenants\": [\r\n      {\r\n        \"value\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\r\n      }\r\n    ],\r\n    \"optimizedAutoscale\": {\r\n      \"version\": 1,\r\n      \"isEnabled\": true,\r\n      \"minimum\": 0,\r\n      \"maximum\": 100\r\n    }\r\n  },\r\n  \"location\": \"Australia Central\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "197"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"InvalidOptimizedAutoScaleConfiguration\",\r\n    \"message\": \"Invalid Minimum value, should be greater than or equal to 2\"\r\n  }\r\n}",
      "StatusCode": 400
    },
    {
      "RequestUri": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/Australia%20Central/operationResults/11a87631-59e0-4938-a903-9ff2091794bc?api-version=2022-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-operation-root-activity-id": [
          "f9d1be06-a321-4a2e-92e4-e63d46a3068d"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "299"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/Australia Central/operationresults/11a87631-59e0-4938-a903-9ff2091794bc\",\r\n  \"name\": \"11a87631-59e0-4938-a903-9ff2091794bc\",\r\n  \"status\": \"Running\",\r\n  \"startTime\": \"2022-02-09T20:05:20.7443384Z\",\r\n  \"endTime\": \"2022-02-09T20:05:20.7443384Z\",\r\n  \"percentComplete\": 0.5,\r\n  \"properties\": {\r\n    \"operationKind\": \"ClusterCreateExternal\",\r\n    \"provisioningState\": \"Running\",\r\n    \"operationState\": \"InProgress\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdktestrg8810/providers/Microsoft.Kusto/clusters/testcluster8318?api-version=2022-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"2022-02-09T20:17:26.7637024Z\""
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "299"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdktestrg8810/providers/Microsoft.Kusto/Clusters/testcluster8318\",\r\n  \"name\": \"testcluster8318\",\r\n  \"type\": \"Microsoft.Kusto/Clusters\",\r\n  \"etag\": \"\\\"2022-02-09T20:17:26.7637024Z\\\"\",\r\n  \"location\": \"Australia Central\",\r\n  \"sku\": {\r\n    \"name\": \"Standard_D13_v2\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"state\": \"Running\",\r\n    \"stateReason\": null,\r\n    \"uri\": \"https://testcluster8318.australiacentral.kusto.windows.net\",\r\n    \"dataIngestionUri\": \"https://ingest-testcluster8318.australiacentral.kusto.windows.net\",\r\n    \"trustedExternalTenants\": [\r\n      {\r\n        \"value\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\r\n      }\r\n    ],\r\n    \"virtualNetworkConfiguration\": null,\r\n    \"optimizedAutoscale\": {\r\n      \"version\": 1,\r\n      \"isEnabled\": true,\r\n      \"minimum\": 2,\r\n      \"maximum\": 100\r\n    },\r\n    \"enableDiskEncryption\": false,\r\n    \"enableStreamingIngest\": false,\r\n    \"keyVaultProperties\": null,\r\n    \"languageExtensions\": {\r\n      \"value\": []\r\n    },\r\n    \"enablePurge\": null,\r\n    \"enableDoubleEncryption\": false,\r\n    \"engineType\": \"V3\",\r\n    \"acceptedAudiences\": [],\r\n    \"restrictOutboundNetworkAccess\": \"Disabled\",\r\n    \"allowedFqdnList\": [],\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"allowedIpRangeList\": [],\r\n    \"enableAutoStop\": true,\r\n    \"publicIPType\": \"IPv4\",\r\n    \"virtualClusterGraduationProperties\": null,\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"identity\": {\r\n    \"principalId\": \"68d55d6e-c67c-47d0-9f2e-d3d37bb4cc78\",\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n    \"type\": \"SystemAssigned\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdktestrg8810/providers/Microsoft.Kusto/clusters/testcluster8318?api-version=2022-02-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/Australia%20Central/operationResults/36458038-ebea-4ff6-94ae-cbd40988f887?api-version=2022-02-01&operationResultResponseType=Location"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/Australia Central/operationResults/36458038-ebea-4ff6-94ae-cbd40988f887?api-version=2022-02-01"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14998"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/Australia%20Central/operationResults/36458038-ebea-4ff6-94ae-cbd40988f887?api-version=2022-02-01&operationResultResponseType=Location",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "287"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {
    "Initialize": [
      "sdktestrg8810",
      "testcluster8318",
      "testfollower4638",
      "testdatabase8034",
      "testattacheddatabaseconfiguration3762",
      "eventhubConnection5347",
      "eventGridConnection8708",
      "iothubConnection2385",
      "privateendpointname9198",
      "managedprivateendpointname7779"
    ]
  },
  "Variables": {
    "SubscriptionId": "e8257c73-24c5-4791-94dc-8b7901c90dbf",
    "TenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
    "SubId": "e8257c73-24c5-4791-94dc-8b7901c90dbf"
  }
}