{
  "Entries": [
    {
      "RequestUri": "/subscriptions/171c9d6d-bf11-42af-9646-f2c4672c0444/resourceGroups/synapsesdkrp3479/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace2010?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"defaultDataLakeStorage\": {\r\n      \"accountUrl\": \"https://synapsesdkstorage5429.dfs.core.windows.net\",\r\n      \"filesystem\": \"synapsesdkfilesys7212\"\r\n    },\r\n    \"sqlAdministratorLoginPassword\": \"Password1!8178\",\r\n    \"sqlAdministratorLogin\": \"sshuser6581\"\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"location\": \"northeurope\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://eastus2euap.management.azure.com/subscriptions/171c9d6d-bf11-42af-9646-f2c4672c0444/resourceGroups/synapsesdkrp3479/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace2010/operationStatuses/ce9d4c41-d276-4971-829d-b2a4f1eceee0?api-version=2019-06-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/171c9d6d-bf11-42af-9646-f2c4672c0444/resourceGroups/synapsesdkrp3479/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace2010\",\r\n  \"location\": \"northeurope\",\r\n  \"name\": \"synapsesdkworkspace2010\",\r\n  \"type\": \"Microsoft.Synapse/workspaces\",\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n    \"principalId\": \"ec301c24-5d52-4920-8fbb-7e58fb0ef70d\"\r\n  },\r\n  \"properties\": {\r\n    \"connectivityEndpoints\": {\r\n      \"web\": \"https://web.azuresynapse.net?workspace=%2fsubscriptions%2f171c9d6d-bf11-42af-9646-f2c4672c0444%2fresourceGroups%2fsynapsesdkrp3479%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fsynapsesdkworkspace2010\",\r\n      \"dev\": \"https://synapsesdkworkspace2010.dev.azuresynapse.net\",\r\n      \"sqlOnDemand\": \"synapsesdkworkspace2010-ondemand.sql.azuresynapse.net\",\r\n      \"sql\": \"synapsesdkworkspace2010.sql.azuresynapse.net\"\r\n    },\r\n    \"managedResourceGroupName\": \"synapseworkspace-managedrg-23e7414f-b388-4475-b449-1820ae1228dc\",\r\n    \"defaultDataLakeStorage\": {\r\n      \"accountUrl\": \"https://synapsesdkstorage5429.dfs.core.windows.net\",\r\n      \"filesystem\": \"synapsesdkfilesys7212\"\r\n    },\r\n    \"privateEndpointConnections\": [],\r\n    \"workspaceUID\": \"1a8a88e1-6fc2-43ab-a037-bc2d6216363a\",\r\n    \"extraProperties\": {\r\n      \"IsScopeEnabled\": false,\r\n      \"WorkspaceType\": \"Normal\"\r\n    },\r\n    \"encryption\": {\r\n      \"doubleEncryptionEnabled\": false\r\n    },\r\n    \"provisioningState\": \"Provisioning\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/171c9d6d-bf11-42af-9646-f2c4672c0444/resourceGroups/synapsesdkrp3479/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace2010?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"defaultDataLakeStorage\": {\r\n      \"accountUrl\": \"https://synapsesdkstorage5429.dfs.core.windows.net\",\r\n      \"filesystem\": \"synapsesdkfilesys7212\"\r\n    },\r\n    \"sqlAdministratorLoginPassword\": \"Password1!8178\",\r\n    \"sqlAdministratorLogin\": \"sshuser6581\"\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"tags\": {\r\n    \"TestTag\": \"TestUpdate\"\r\n  },\r\n  \"location\": \"northeurope\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://eastus2euap.management.azure.com/subscriptions/171c9d6d-bf11-42af-9646-f2c4672c0444/resourceGroups/synapsesdkrp3479/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace2010/operationStatuses/a892f42d-4ceb-40a0-96c3-eed47bc0c43e?api-v[...]
    {
      "RequestUri": "/subscriptions/171c9d6d-bf11-42af-9646-f2c4672c0444/resourceGroups/synapsesdkrp3479/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace2010/operationStatuses/ce9d4c41-d276-4971-829d-b2a4f1eceee0?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/171c9d6d-bf11-42af-9646-f2c4672c0444/resourceGroups/synapsesdkrp3479/providers/Microsoft.Synapse/workspaces?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11986"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/171c9d6d-bf11-42af-9646-f2c4672c0444/resourceGroups/synapsesdkrp3479/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace2010\",\r\n      \"location\": \"northeurope\",\r\n      \"name\": \"synapsesdkworkspace2010\",\r\n      \"type\": \"Microsoft.Synapse/workspaces\",\r\n      \"identity\": {\r\n        \"type\": \"SystemAssigned\",\r\n        \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n        \"principalId\": \"ec301c24-5d52-4[...]
[...]
    {
      "RequestUri": "/subscriptions/171c9d6d-bf11-42af-9646-f2c4672c0444/providers/Microsoft.Synapse/workspaces?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "011a314f-376d-4b77-a19f-9008373b49e1",
          "48b29eac-a10e-45e7-8b55-b1c9a1e7b421",
          "1a25a2c2-c265-4471-b172-e3c8af50ac92",
          "5f1ab9df-e703-4752-a012-be141a5c24b4",
          "19afc146-b5ff-4a98-8a9d-c23d0431579d",
          "8e17f226-c49e-4a0b-b004-1a5e9e6a38fb",
          "b279d468-cefa-4584-9184-760c818e444c",
          "6fbcc03c-100a-4bba-a880-14b272e50343",
          "02d6d534-67f4-4698-a97c-23f439cd3917",
          "80759aba-ace2-4cbe-ac36-08cf180e463c[...]
    {
      "RequestUri": "/subscriptions/171c9d6d-bf11-42af-9646-f2c4672c0444/resourceGroups/synapsesdkrp3479/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace2010?api-version=2019-06-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://eastus2euap.management.azure.com/subscriptions/171c9d6d-bf11-42af-9646-f2c4672c0444/resourceGroups/synapsesdkrp3479/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace2010/operationResults/5f94c406-4f7e-4a8c-aaa0-2655ce8c361e?api-version=2019-06-01-preview"
        ],
        "Azure-AsyncOperation": [
          "https://eastus2euap.management.azure.com/subscriptions/171c9d6d-bf11-42af-9646-f2c4672c0444/resourceGroups/synapsesdkrp3479/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace2010/operationStatuses/5f94c406-4f7e-4a8c-aaa0-2655ce8c361e?api-version=2019-06-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/171c9d6d-bf11-42af-9646-f2c4672c0444/resourceGroups/synapsesdkrp3479/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace2010/operationStatuses/5f94c406-4f7e-4a8c-aaa0-2655ce8c361e?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ParentResourceNotFound\",\r\n    \"message\": \"Can not perform requested operation on nested resource. Parent resource 'synapsesdkworkspace2010' not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    }
  ],
  "Names": {
    ".ctor": [
      "synapsesdkrp3479",
      "synapsesdkstorage5429",
      "sshuser6581",
      "Password1!8178",
      "synapsesdkfilesys7212"
    ],
    "TestInitialize": [
      "171c9d6d-bf11-42af-9646-f2c4672c0444"
    ],
    "TestWorkspaceLifeCycle": [
      "synapsesdkworkspace2010"
    ]
  },
  "Variables": {
    "SubscriptionId": "171c9d6d-bf11-42af-9646-f2c4672c0444"
  }
}
