{
  "Entries": [
    {
      "RequestUri": "/subscriptions/5b781e30-75d0-49f8-9277-5d2a5f05b6df/resourceGroups/synapsesdkrp7115/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace736?api-version=2021-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"defaultDataLakeStorage\": {\r\n      \"accountUrl\": \"https://synapsesdkstorage425.dfs.core.windows.net\",\r\n      \"filesystem\": \"synapsesdkfilesys9477\"\r\n    },\r\n    \"sqlAdministratorLoginPassword\": \"Password1!2681\",\r\n    \"sqlAdministratorLogin\": \"sshuser1897\"\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"location\": \"eastus2euap\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://eastus2euap.management.azure.com/subscriptions/5b781e30-75d0-49f8-9277-5d2a5f05b6df/resourceGroups/synapsesdkrp7115/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace736/operationStatuses/4e158b63-9505-41fe-90ac-a0c416019304?api-version=2021-03-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"type\": \"Microsoft.Synapse/workspaces\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Provisioning\",\r\n    \"connectivityEndpoints\": {\r\n      \"web\": \"https://web.azuresynapse.net?workspace=%2fsubscriptions%2f5b781e30-75d0-49f8-9277-5d2a5f05b6df%2fresourceGroups%2fsynapsesdkrp7115%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fsynapsesdkworkspace736\",\r\n      \"dev\": \"https://synapsesdkworkspace736.dev.azuresynapse.net\",\r\n      \"sqlOnDemand\": \"synapsesdkworkspace736-ondemand.sql.azuresynapse.net\",\r\n      \"sql\": \"synapsesdkworkspace736.sql.azuresynapse.net\"\r\n    },\r\n    \"managedResourceGroupName\": \"synapseworkspace-managedrg-a33ef488-16d4-4bce-85db-c0fa41112245\",\r\n    \"defaultDataLakeStorage\": {\r\n      \"accountUrl\": \"https://synapsesdkstorage425.dfs.core.windows.net\",\r\n      \"filesystem\": \"synapsesdkfilesys9477\"\r\n    },\r\n    \"privateEndpointConnections\": [],\r\n    \"workspaceUID\": \"502901bc-5508-4485-a332-3d40692e6130\",\r\n    \"extraProperties\": {\r\n      \"IsScopeEnabled\": false,\r\n      \"WorkspaceType\": \"Normal\"\r\n    },\r\n    \"encryption\": {\r\n      \"doubleEncryptionEnabled\": false\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/5b781e30-75d0-49f8-9277-5d2a5f05b6df/resourceGroups/synapsesdkrp7115/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace736\",\r\n  \"location\": \"eastus2euap\",\r\n  \"name\": \"synapsesdkworkspace736\",\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n    \"principalId\": \"fdecb7a8-46b5-413e-9070-68a82049472f\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/5b781e30-75d0-49f8-9277-5d2a5f05b6df/resourceGroups/synapsesdkrp7115/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace736?api-version=2021-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"defaultDataLakeStorage\": {\r\n      \"accountUrl\": \"https://synapsesdkstorage425.dfs.core.windows.net\",\r\n      \"filesystem\": \"synapsesdkfilesys9477\"\r\n    },\r\n    \"sqlAdministratorLoginPassword\": \"Password1!2681\",\r\n    \"sqlAdministratorLogin\": \"sshuser1897\"\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"tags\": {\r\n    \"TestTag\": \"TestUpdate\"\r\n  },\r\n  \"location\": \"eastus2euap\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://eastus2euap.management.azure.com/subscriptions/5b781e30-75d0-49f8-9277-5d2a5f05b6df/resourceGroups/synapsesdkrp7115/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace736/operationStatuses/95be1ffd-cf0b-4954-899d-941b6bf964d7?api-ve[...]
    {
      "RequestUri": "/subscriptions/5b781e30-75d0-49f8-9277-5d2a5f05b6df/resourceGroups/synapsesdkrp7115/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace736/operationStatuses/4e158b63-9505-41fe-90ac-a0c416019304?api-version=2021-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11980"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5b781e30-75d0-49f8-9277-5d2a5f05b6df/resourceGroups/synapsesdkrp7115/providers/Microsoft.Synapse/workspaces?api-version=2021-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11967"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"type\": \"Microsoft.Synapse/workspaces\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"connectivityEndpoints\": {\r\n          \"web\": \"https://web.azuresynapse.net?workspace=%2fsubscriptions%2f5b781e30-75d0-49f8-9277-5d2a5f05b6df%2fresourceGroups%2fsynapsesdkrp7115%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fsynapsesdkworkspace736\",\r\n          \"dev\": \"https://synapsesdkworkspace736.dev.azuresynapse.net\",\r\n         [...]
[...]
    {
      "RequestUri": "/subscriptions/5b781e30-75d0-49f8-9277-5d2a5f05b6df/providers/Microsoft.Synapse/workspaces?api-version=2021-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "78d92509-e140-46d4-a99d-f8ad7bb6ecb0",
          "9f5dd792-71af-49d5-b26b-77feafe019c4",
          "654991e1-05b1-49b0-b7ee-c359f28a4d7d",
          "a0474c74-1407-454b-a59f-ea3ad13042f5",
          "d9437d57-8128-409a-b090-228750b82051",
          "41fc0a3c-010a-4a51-a851-0f01097f04b2",
          "7244ab79-2e75-4ed2-a7d7-e23ec9a1a901",
          "d12698a5-5e2d-4f2e-b7fa-b5433411853b",
          "82423a0a-bce6-49a3-9718-e5903d8645fb",
          "f243e574-5bf4-4a4e-9ae8-354a60e1b0ac[...]
    {
      "RequestUri": "/subscriptions/5b781e30-75d0-49f8-9277-5d2a5f05b6df/resourceGroups/synapsesdkrp7115/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace736?api-version=2021-03-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://eastus2euap.management.azure.com/subscriptions/5b781e30-75d0-49f8-9277-5d2a5f05b6df/resourceGroups/synapsesdkrp7115/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace736/operationResults/a8908db6-bdaf-4db0-8be9-67e7fe84b44f?api-version=2021-03-01"
        ],
        "Azure-AsyncOperation": [
          "https://eastus2euap.management.azure.com/subscriptions/5b781e30-75d0-49f8-9277-5d2a5f05b6df/resourceGroups/synapsesdkrp7115/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace736/operationStatuses/a8908db6-bdaf-4db0-8be9-67e7fe84b44f?api-version=2021-03-01"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14998"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/5b781e30-75d0-49f8-9277-5d2a5f05b6df/resourceGroups/synapsesdkrp7115/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace736/operationStatuses/a8908db6-bdaf-4db0-8be9-67e7fe84b44f?api-version=2021-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ParentResourceNotFound\",\r\n    \"message\": \"Can not perform requested operation on nested resource. Parent resource 'synapsesdkworkspace736' not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    }
  ],
  "Names": {
    ".ctor": [
      "synapsesdkrp7115",
      "synapsesdkstorage425",
      "sshuser1897",
      "Password1!2681",
      "synapsesdkfilesys9477"
    ],
    "TestInitialize": [
      "5b781e30-75d0-49f8-9277-5d2a5f05b6df"
    ],
    "TestWorkspaceLifeCycle": [
      "synapsesdkworkspace736"
    ]
  },
  "Variables": {
    "SubscriptionId": "5b781e30-75d0-49f8-9277-5d2a5f05b6df"
  }
}
