{
  "Entries": [
    {
      "RequestUri": "/subscriptions/f28872d6-4a93-4bb1-84b9-aecb02b6af4c/providers/Microsoft.Sql/checkNameAvailability?api-version=2014-04-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"sqlcrudtest-1514\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"sqlcrudtest-1514\",\r\n  \"available\": true,\r\n  \"reason\": null,\r\n  \"message\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Preference-Applied": [
          "return-content"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "TestCheckServerNameAvailable": [
      "sqlcrudtest-1514"
    ]
  },
  "Variables": {
    "SubscriptionId": "f28872d6-4a93-4bb1-84b9-aecb02b6af4c"
  }
}