{
  "Entries": [
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtablecjo3pyg4"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://chrisstablesprim.table.core.windows.net/Tables(\u0027testtablecjo3pyg4\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrisstablesprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "testtablecjo3pyg4"
      }
    },
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtablecjo3pyg4"
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "TableAlreadyExists",
          "message": {
            "lang": "en-US",
            "value": "The table specified already exists.\nRequestId:de580a7d-0002-0011-5cd5-62aea0000000\nTime:2021-06-16T17:29:44.0694222Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/Tables(\u0027testtablesneiqzrd\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/Tables(\u0027testtablecjo3pyg4\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1198045616",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "Kg==",
    "TABLES_STORAGE_ACCOUNT_NAME": "chrisstablesprim"
  }
}