{
  "Entries": [
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "TableName": "testtable3t55y0yr"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://chrisstablesprim.table.core.windows.net/Tables(\u0027testtable3t55y0yr\u0027)",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrisstablesprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "testtable3t55y0yr"
      }
    },
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/testtable3t55y0yr/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "TableName": "testtable3t55y0yr"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "PropertiesNeedValue",
          "message": {
            "lang": "en-US",
            "value": "The values are not specified for all properties in the entity.\nRequestId:9d009ed7-8002-003b-09a9-bcec4f000000\nTime:2022-08-30T19:46:30.6702108Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/testtable3t55y0yr/Tables(\u0027testtable3t55y0yr\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidInput",
          "message": {
            "lang": "en-US",
            "value": "The number of keys specified in the URI does not match number of key properties for the resource \u0027chrisstablesprim.testtable3t55y0yr\u0027.\nRequestId:9d009ee4-8002-003b-14a9-bcec4f000000\nTime:2022-08-30T19:46:30.7371724Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/Tables(\u0027testtable3t55y0yr\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "57068324",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "Kg==",
    "TABLES_STORAGE_ACCOUNT_NAME": "chrisstablesprim"
  }
}
