{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG6657/providers/Microsoft.Media/mediaservices/mediadotnetsdktests2203?api-version=2023-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "storageAccounts": [
            {
              "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG6657/providers/Microsoft.Storage/storageAccounts/azstorageformedia2660",
              "type": "Primary"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/a625afc4-4717-470f-bcc2-52d5e128fe5b?api-version=2023-01-01",
        "Content-Type": "application/json; odata.metadata=minimal",
        "Location": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/providers/Microsoft.Media/locations/westus2/mediaServicesOperationResults/a625afc4-4717-470f-bcc2-52d5e128fe5b?api-version=2023-01-01",
        "OData-Version": "4.0",
        "Retry-After": "30",
        "x-ms-ratelimit-remaining-subscription-writes": "1027"
      },
      "ResponseBody": {
        "name": "mediadotnetsdktests2203",
        "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG6657/providers/Microsoft.Media/mediaservices/mediadotnetsdktests2203",
        "type": "Microsoft.Media/mediaservices",
        "location": "West US 2",
        "tags": {},
        "properties": {
          "mediaServiceId": "e0455475-52a4-4630-ad84-3c19e4bc3bf1",
          "storageAccounts": [
            {
              "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG6657/providers/Microsoft.Storage/storageAccounts/azstorageformedia2660",
              "type": "Primary"
            }
          ],
          "keyDelivery": {
            "accessControl": {
              "defaultAction": "Allow",
              "ipAllowList": []
            }
          },
          "publicNetworkAccess": "Enabled",
          "provisioningState": "InProgress",
          "privateEndpointConnections": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/a625afc4-4717-470f-bcc2-52d5e128fe5b?api-version=2023-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11507"
      },
      "ResponseBody": {
        "name": "a625afc4-4717-470f-bcc2-52d5e128fe5b",
        "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/a625afc4-4717-470f-bcc2-52d5e128fe5b",
        "startTime": "2023-03-22T06:40:05.259128Z",
        "status": "InProgress"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/a625afc4-4717-470f-bcc2-52d5e128fe5b?api-version=2023-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11506"
      },
      "ResponseBody": {
        "name": "a625afc4-4717-470f-bcc2-52d5e128fe5b",
        "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/a625afc4-4717-470f-bcc2-52d5e128fe5b",
        "startTime": "2023-03-22T06:40:05.259128Z",
        "endTime": "2023-03-22T06:40:05.7904141Z",
        "status": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG6657/providers/Microsoft.Media/mediaservices/mediadotnetsdktests2203?api-version=2023-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11505"
      },
      "ResponseBody": {
        "name": "mediadotnetsdktests2203",
        "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG6657/providers/Microsoft.Media/mediaservices/mediadotnetsdktests2203",
        "type": "Microsoft.Media/mediaservices",
        "location": "West US 2",
        "properties": {
          "mediaServiceId": "e0455475-52a4-4630-ad84-3c19e4bc3bf1",
          "storageAccounts": [
            {
              "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG6657/providers/Microsoft.Storage/storageAccounts/azstorageformedia2660",
              "type": "Primary"
            }
          ],
          "storageAuthentication": "System",
          "encryption": {
            "type": "SystemKey"
          },
          "keyDelivery": {
            "accessControl": {
              "defaultAction": "Allow",
              "ipAllowList": []
            }
          },
          "publicNetworkAccess": "Enabled",
          "provisioningState": "Succeeded",
          "privateEndpointConnections": [],
          "minimumTlsVersion": "Tls12"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG6657/providers/Microsoft.Media/mediaServices/mediadotnetsdktests2203/assets/emptyAsset1214?api-version=2023-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11981"
      },
      "ResponseBody": {
        "name": "emptyAsset1214",
        "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG6657/providers/Microsoft.Media/mediaservices/mediadotnetsdktests2203/assets/emptyAsset1214",
        "type": "Microsoft.Media/mediaservices/assets",
        "properties": {
          "assetId": "8e2d7342-a7ed-4f29-b269-ad660201168e",
          "created": "2023-03-22T06:40:07.123Z",
          "lastModified": "2023-03-22T06:40:07.123Z",
          "container": "asset-8e2d7342-a7ed-4f29-b269-ad660201168e",
          "storageAccountName": "azstorageformedia2660",
          "storageEncryptionFormat": "None"
        },
        "systemData": {
          "createdBy": "d2631ee4-9bcf-4b98-bd42-dced0fadaa92",
          "createdByType": "Application",
          "createdAt": "2023-03-22T06:40:06.922265Z",
          "lastModifiedBy": "d2631ee4-9bcf-4b98-bd42-dced0fadaa92",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-22T06:40:06.922265Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG6657/providers/Microsoft.Media/mediaServices/mediadotnetsdktests2203/streamingLocators/streamingLocator9862?api-version=2023-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "assetName": "emptyAsset1214",
          "streamingPolicyName": "Predefined_ClearStreamingOnly"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11999"
      },
      "ResponseBody": {
        "name": "streamingLocator9862",
        "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG6657/providers/Microsoft.Media/mediaservices/mediadotnetsdktests2203/streamingLocators/streamingLocator9862",
        "type": "Microsoft.Media/mediaservices/streamingLocators",
        "properties": {
          "assetName": "emptyAsset1214",
          "created": "2023-03-22T06:40:07.4519429Z",
          "endTime": "9999-12-31T23:59:59.9999999Z",
          "streamingLocatorId": "f0c4dfba-a5c9-4788-b359-35cebdcba2e6",
          "streamingPolicyName": "Predefined_ClearStreamingOnly",
          "contentKeys": [],
          "filters": []
        },
        "systemData": {
          "createdBy": "d2631ee4-9bcf-4b98-bd42-dced0fadaa92",
          "createdByType": "Application",
          "createdAt": "2023-03-22T06:40:07.3753788Z",
          "lastModifiedBy": "d2631ee4-9bcf-4b98-bd42-dced0fadaa92",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-22T06:40:07.3753788Z"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2023-03-21T23:40:02.9936898-07:00",
    "RandomSeed": "626821853",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5"
  }
}
