{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG471/providers/Microsoft.Media/mediaservices/mediadotnetsdktests5135?api-version=2023-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "storageAccounts": [
            {
              "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG471/providers/Microsoft.Storage/storageAccounts/azstorageformedia777",
              "type": "Primary"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/14203d5a-00fc-4e4c-94db-25e2874ed00c?api-version=2023-01-01",
        "Content-Type": "application/json; odata.metadata=minimal",
        "Location": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/providers/Microsoft.Media/locations/westus2/mediaServicesOperationResults/14203d5a-00fc-4e4c-94db-25e2874ed00c?api-version=2023-01-01",
        "OData-Version": "4.0",
        "Retry-After": "30",
        "x-ms-ratelimit-remaining-subscription-writes": "1081"
      },
      "ResponseBody": {
        "name": "mediadotnetsdktests5135",
        "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG471/providers/Microsoft.Media/mediaservices/mediadotnetsdktests5135",
        "type": "Microsoft.Media/mediaservices",
        "location": "West US 2",
        "tags": {},
        "properties": {
          "mediaServiceId": "3a192235-0076-422d-9d31-0b053ae4e226",
          "storageAccounts": [
            {
              "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG471/providers/Microsoft.Storage/storageAccounts/azstorageformedia777",
              "type": "Primary"
            }
          ],
          "keyDelivery": {
            "accessControl": {
              "defaultAction": "Allow",
              "ipAllowList": []
            }
          },
          "publicNetworkAccess": "Enabled",
          "provisioningState": "InProgress",
          "privateEndpointConnections": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/14203d5a-00fc-4e4c-94db-25e2874ed00c?api-version=2023-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11676"
      },
      "ResponseBody": {
        "name": "14203d5a-00fc-4e4c-94db-25e2874ed00c",
        "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/14203d5a-00fc-4e4c-94db-25e2874ed00c",
        "startTime": "2023-03-06T18:39:23.4315074Z",
        "status": "InProgress"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/14203d5a-00fc-4e4c-94db-25e2874ed00c?api-version=2023-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11675"
      },
      "ResponseBody": {
        "name": "14203d5a-00fc-4e4c-94db-25e2874ed00c",
        "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/14203d5a-00fc-4e4c-94db-25e2874ed00c",
        "startTime": "2023-03-06T18:39:23.4315074Z",
        "endTime": "2023-03-06T18:39:23.7760422Z",
        "status": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG471/providers/Microsoft.Media/mediaservices/mediadotnetsdktests5135?api-version=2023-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11674"
      },
      "ResponseBody": {
        "name": "mediadotnetsdktests5135",
        "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG471/providers/Microsoft.Media/mediaservices/mediadotnetsdktests5135",
        "type": "Microsoft.Media/mediaservices",
        "location": "West US 2",
        "properties": {
          "mediaServiceId": "3a192235-0076-422d-9d31-0b053ae4e226",
          "storageAccounts": [
            {
              "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG471/providers/Microsoft.Storage/storageAccounts/azstorageformedia777",
              "type": "Primary"
            }
          ],
          "storageAuthentication": "System",
          "encryption": {
            "type": "SystemKey"
          },
          "keyDelivery": {
            "accessControl": {
              "defaultAction": "Allow",
              "ipAllowList": []
            }
          },
          "publicNetworkAccess": "Enabled",
          "provisioningState": "Succeeded",
          "privateEndpointConnections": [],
          "minimumTlsVersion": "Tls12"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG471/providers/Microsoft.Media/mediaServices/mediadotnetsdktests5135/assets/emptyAsset8409?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11977"
      },
      "ResponseBody": {
        "name": "emptyAsset8409",
        "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG471/providers/Microsoft.Media/mediaservices/mediadotnetsdktests5135/assets/emptyAsset8409",
        "type": "Microsoft.Media/mediaservices/assets",
        "properties": {
          "assetId": "13ae3dcd-f297-452d-b86d-f28fcbe426d1",
          "created": "2023-03-06T18:39:25.063Z",
          "lastModified": "2023-03-06T18:39:25.063Z",
          "container": "asset-13ae3dcd-f297-452d-b86d-f28fcbe426d1",
          "storageAccountName": "azstorageformedia777",
          "storageEncryptionFormat": "None"
        },
        "systemData": {
          "createdBy": "d2631ee4-9bcf-4b98-bd42-dced0fadaa92",
          "createdByType": "Application",
          "createdAt": "2023-03-06T18:39:24.9617025Z",
          "lastModifiedBy": "d2631ee4-9bcf-4b98-bd42-dced0fadaa92",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-06T18:39:24.9617025Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG471/providers/Microsoft.Media/mediaServices/mediadotnetsdktests5135/streamingLocators/streamingLocator3174?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "assetName": "emptyAsset8409",
          "streamingPolicyName": "Predefined_ClearStreamingOnly"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11994"
      },
      "ResponseBody": {
        "name": "streamingLocator3174",
        "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG471/providers/Microsoft.Media/mediaservices/mediadotnetsdktests5135/streamingLocators/streamingLocator3174",
        "type": "Microsoft.Media/mediaservices/streamingLocators",
        "properties": {
          "assetName": "emptyAsset8409",
          "created": "2023-03-06T18:39:25.2361226Z",
          "endTime": "9999-12-31T23:59:59.9999999Z",
          "streamingLocatorId": "e94cdbdd-5ea7-46f2-9b8d-04583b90b11d",
          "streamingPolicyName": "Predefined_ClearStreamingOnly",
          "contentKeys": [],
          "filters": []
        },
        "systemData": {
          "createdBy": "d2631ee4-9bcf-4b98-bd42-dced0fadaa92",
          "createdByType": "Application",
          "createdAt": "2023-03-06T18:39:25.196072Z",
          "lastModifiedBy": "d2631ee4-9bcf-4b98-bd42-dced0fadaa92",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-06T18:39:25.196072Z"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2023-03-06T10:39:21.5068054-08:00",
    "RandomSeed": "651003913",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5"
  }
}
