{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/networkcloud-sdk8582?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk8582",
        "name": "networkcloud-sdk8582",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/m15-cluster/providers/Microsoft.NetworkCloud/clusters/m15-47e8287f7f4f?api-version=2022-12-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221e006263-0000-0100-0000-640ed42a0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11968"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/m15-cluster/providers/Microsoft.NetworkCloud/clusters/m15-47e8287f7f4f",
        "name": "m15-47e8287f7f4f",
        "type": "microsoft.networkcloud/clusters",
        "location": "eastus",
        "extendedLocation": {
          "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/m15-clustermgr-mrg-jxqhdyobe3gnu/providers/microsoft.extendedlocation/customlocations/m15-jxqhdyobe3gnu-cl",
          "type": "CustomLocation"
        },
        "tags": {
          "ManagedBy": "nc-labs",
          "LabEnvironment": "m15",
          "ResourceType": "cluster",
          "sshKeyUrl": "https://aka.ms/aods-nc-ssh",
          "SkipHardwareValidation": "true"
        },
        "systemData": {
          "createdBy": "de975306-d24e-4dec-9d3b-ef05c66f0075",
          "createdByType": "Application",
          "createdAt": "2023-03-13T05:48:08.9800447Z",
          "lastModifiedBy": "319f651f-7ddb-4fc6-9857-7aef9250bd05",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-13T07:43:38.5455113Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "analyticsWorkspaceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/m15-cluster/providers/Microsoft.OperationalInsights/workspaces/m15-law",
          "networkFabricId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/aods-rg/providers/Microsoft.Network/virtualNetworks/aods-b37-vnet/subnets/ClusterManagerSubnet",
          "clusterType": "SingleRack",
          "clusterVersion": "0.1.7",
          "aggregatorOrSingleRackDefinition": {
            "networkRackId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/aods-rg/providers/Microsoft.Network/virtualNetworks/aods-b37-vnet/subnets/ClusterManagerSubnet",
            "rackSkuId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/rackSkus/VLab_Single_DellR750_8C2M_x70r3_9",
            "rackSerialNumber": "b37m15r1",
            "rackLocation": "b37m15r1",
            "availabilityZone": "1",
            "storageApplianceConfigurationData": [
              {
                "rackSlot": 1,
                "adminCredentials": {
                  "username": "pureuser"
                },
                "storageApplianceName": "b37m15purestor1",
                "serialNumber": "serial"
              }
            ],
            "bareMetalMachineConfigurationData": [
              {
                "rackSlot": 2,
                "bootMacAddress": "B0:7B:25:F8:71:2E",
                "bmcCredentials": {
                  "username": "root"
                },
                "bmcConnectionString": "redfish\u002Bhttps://10.0.3.11/redfish/v1/Systems/System.Embedded.1",
                "machineName": "m15r750wkr1",
                "bmcMacAddress": "B0:7B:25:FD:E7:08",
                "serialNumber": "5HS7PK3"
              },
              {
                "rackSlot": 3,
                "bootMacAddress": "B0:7B:25:F8:78:C0",
                "bmcCredentials": {
                  "username": "root"
                },
                "bmcConnectionString": "redfish\u002Bhttps://10.0.3.12/redfish/v1/Systems/System.Embedded.1",
                "machineName": "m15r750wkr2",
                "machineDetails": "16628585",
                "bmcMacAddress": "B0:7B:25:FD:E6:CC",
                "serialNumber": "4HS7PK3"
              },
              {
                "rackSlot": 4,
                "bootMacAddress": "B0:7B:25:F8:50:C6",
                "bmcCredentials": {
                  "username": "root"
                },
                "bmcConnectionString": "redfish\u002Bhttps://10.0.3.13/redfish/v1/Systems/System.Embedded.1",
                "machineName": "m15r750wkr3",
                "bmcMacA[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/m15-cluster/providers/Microsoft.NetworkCloud/clusters/m15-47e8287f7f4f/bareMetalMachineKeySets/bareMetalMachineKeySet1055?api-version=2022-12-12-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "extendedLocation": {
          "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/m15-47e8287f7f4f-hostedresources-40dc54a4/providers/microsoft.extendedlocation/customlocations/m15-47e8287f7f4f-cstm-loc",
          "type": "CustomLocation"
        },
        "tags": {
          "key1": "myvalue1"
        },
        "location": "eastus",
        "properties": {
          "azureGroupId": "fake-id",
          "expiration": "2023-03-14T17:06:26.0000000Z",
          "jumpHostsAllowed": [],
          "privilegeLevel": "Standard",
          "userList": [
            {
              "azureUserName": "userABC",
              "sshPublicKey": {
                "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCYnWX/sth0/ikG/d\u002BahWdO4sTp1stHP1jnEcxt0Vr4YcoKYh6cic2yZr3Mjb4NxcuJKAw4kmJ7bSRl5na8MEJkSFyMberQaqapahv\u002Blx7Pm8ZTZVlVcvq0Q83yrHA/62RNtLqLF03RaTaBMrNXZoC76euPEHK4LNgk9UxhTfE0GDHGHOHGRafh24pTgVhyd7nSTuYyY\u002BOlIfv6J726wGsRFZ8OXtE7xfHEtfzsFJBpf15YOEEtdrIQ0w\u002Bxj53nO2FOk\u002BgLhExxlfj4gizQZPXtNI\u002BnM7d25rlZWQW4RngFAvon63/3HNELCEHmAaEPpoAQpgESl19AtTQzUf5hl3RAyL75CM7V95/NcUG0UJ\u002B3t1wI\u002BKc3WpTkHZmbcgOBYSi6\u002BJPpmqB/oxEkjDUIvyyenLB9UFyTj8keQ2vCYzaTBLjcndDJWFYM\u002BMbKHCSx/XxZXDkFiPQeLgkWixFAWLmufnwULIx/tr/VRdQFSZI6MoUmfUqaQhv7a2eVikiqLEk= fake-public-key"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/194f3f2d-319f-4fc3-9b51-fa219898b58e*FF8F30EF4334A31780EA458C802059F3069426F9B75866AEE2F4E99DEF2C77E7?api-version=2022-12-12-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022b50bd4d9-0000-0100-0000-640f58240000\u0022",
        "mise-correlation-id": "8b6f1220-7d32-4a6b-b2aa-a9d9372a85bc",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/m15-cluster/providers/Microsoft.NetworkCloud/clusters/m15-47e8287f7f4f/bareMetalMachineKeySets/bareMetalMachineKeySet1055",
        "name": "bareMetalMachineKeySet1055",
        "type": "microsoft.networkcloud/clusters/baremetalmachineke[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/194f3f2d-319f-4fc3-9b51-fa219898b58e*FF8F30EF4334A31780EA458C802059F3069426F9B75866AEE2F4E99DEF2C77E7?api-version=2022-12-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002230003963-0000-0100-0000-640f58240000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11967"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/194f3f2d-319f-4fc3-9b51-fa219898b58e*FF8F30EF4334A31780EA458C802059F3069426F9B75866AEE2F4E99DEF2C77E7",
        "name": "194f3f2d-319f-4fc3-9b51-fa219898b58e*FF8F30EF4334A31780EA458C802059F3069426F9B75866AEE2F4E99DEF2C77E7",
        "resourceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/m15-cluster/providers/Microsoft.NetworkCloud/clusters/m15-47e8287f7f4f/bareMetalMachineKeySets/bareMetalMachineKeySet1055",
        "status": "Accepted",
        "startTime": "2023-03-13T17:06:44.0068076Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/194f3f2d-319f-4fc3-9b51-fa219898b58e*FF8F30EF4334A31780EA458C802059F3069426F9B75866AEE2F4E99DEF2C77E7?api-version=2022-12-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002230004463-0000-0100-0000-640f582a0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11962"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/194f3f2d-319f-4fc3-9b51-fa219898b58e*FF8F30EF4334A31780EA458C802059F3069426F9B75866AEE2F4E99DEF2C77E7",
        "name": "194f3f2d-319f-4fc3-9b51-fa219898b58e*FF8F30EF4334A31780EA458C802059F3069426F9B75866AEE2F4E99DEF2C77E7",
        "resourceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/m15-cluster/providers/Microsoft.NetworkCloud/clusters/m15-47e8287f7f4f/bareMetalMachineKeySets/bareMetalMachineKeySet1055",
        "status": "Provisioning",
        "startTime": "2023-03-13T17:06:44.0068076Z",
        "error": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/194f3f2d-319f-4fc3-9b51-fa219898b58e*FF8F30EF4334A31780EA458C802059F3069426F9B75866AEE2F4E99DEF2C77E7?api-version=2022-12-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002230004e63-0000-0100-0000-640f58350000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11961"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/194f3f2d-319f-4fc3-9b51-fa219898b58e*FF8F30EF4334A31780EA458C802059F3069426F9B75866AEE2F4E99DEF2C77E7",
        "name": "194f3f2d-319f-4fc3-9b51-fa219898b58e*FF8F30EF4334A31780EA458C802059F3069426F9B75866AEE2F4E99DEF2C77E7",
        "resourceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/m15-cluster/providers/Microsoft.NetworkCloud/clusters/m15-47e8287f7f4f/bareMetalMachineKeySets/bareMetalMachineKeySet1055",
        "status": "Succeeded",
        "startTime": "2023-03-13T17:06:44.0068076Z",
        "endTime": "2023-03-13T17:07:01.8863789Z",
        "error": {},
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/m15-cluster/providers/Microsoft.NetworkCloud/clusters/m15-47e8287f7f4f/bareMetalMachineKeySets?api-version=2022-12-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "732e0621-910b-4bff-a037-c8f9cb210a33",
          "42033b8d-a484-4855-9e54-314a0a3993dd",
          "801cd5a9-c06c-4479-ba1c-8a9b2cefda8d"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11958"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/m15-cluster/providers/Microsoft.NetworkCloud/clusters/m15-47e8287f7f4f/bareMetalMachineKeySets/bareMetalMachineKeySet1055",
            "name": "bareMetalMachineKeySet1055",
            "type": "microsoft.networkcloud/clusters/baremetalmachinekeysets",
            "location": "eastus",
            "extendedLocation": {
              "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/res[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/m15-cluster/providers/Microsoft.NetworkCloud/clusters/m15-47e8287f7f4f/bareMetalMachineKeySets/bareMetalMachineKeySet1055?api-version=2022-12-12-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "myvalue1",
          "key2": "myvalue2"
        },
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/e6d83d7c-7a0e-41c3-8a7b-339a7a8be36b*FF8F30EF4334A31780EA458C802059F3069426F9B75866AEE2F4E99DEF2C77E7?api-version=2022-12-12-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022b50b11e0-0000-0100-0000-640f58380000\u0022",
        "Location": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/e6d83d7c-7a0e-41c3-8a7b-339a7a8be36b*FF8F30EF4334A31780EA458C802059F3069426F9B75866AEE2F4E99DEF2C77E7?api-version=2022-12-12-preview",
        "mise-correlation-id": "c990e6cc-a86a-4cde-a9fc-14458689c9b9",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/b0d8ba6f-c48e-4a2f-a990-52d7a2a77556*FF8F30EF4334A31780EA458C802059F3069426F9B75866AEE2F4E99DEF2C77E7?api-version=2022-12-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002230005a63-0000-0100-0000-640f58500000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11944"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/b0d8ba6f-c48e-4a2f-a990-52d7a2a77556*FF8F30EF4334A31780EA458C802059F3069426F9B75866AEE2F4E99DEF2C77E7",
        "name": "b0d8ba6f-c48e-4a2f-a990-52d7a2a77556*FF8F30EF4334A31780EA458C802059F3069426F9B75866AEE2F4E99DEF2C77E7",
        "resourceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/m15-cluster/providers/Microsoft.NetworkCloud/clusters/m15-47e8287f7f4f/bareMetalMachineKeySets/bareMetalMachineKeySet1055",
        "status": "Succeeded",
        "startTime": "2023-03-13T17:07:14.6073874Z",
        "endTime": "2023-03-13T17:07:28.3785043Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "CLUSTER_ID": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/m15-cluster/providers/Microsoft.NetworkCloud/clusters/m15-47e8287f7f4f",
    "DAY_FROM_NOW": "Tue, 14 Mar 2023 13:06:26 -0400",
    "LOCATION": "eastus",
    "RandomSeed": "1768478060",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "a3eeb848-665a-4dbf-80a4-eb460930fb23"
  }
}
