{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/networkcloud-sdk7618?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk7618",
        "name": "networkcloud-sdk7618",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/anpankie-sim/providers/Microsoft.NetworkCloud/clusters/simulator?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022d400cd58-0000-0100-0000-6490f2320000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/anpankie-sim/providers/Microsoft.NetworkCloud/clusters/simulator",
        "name": "simulator",
        "type": "microsoft.networkcloud/clusters",
        "location": "eastus",
        "extendedLocation": {
          "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/sim-clustermgr-mrg-phdz6a3e4oyhi/providers/microsoft.extendedlocation/customlocations/sim-cluster-mgr-phdz6a3e4oyhi-cl",
          "type": "CustomLocation"
        },
        "tags": {
          "ManagedBy": "nc-development-environments",
          "LabEnvironment": "simulator",
          "ResourceType": "cluster",
          "sshKeyUrl": "https://simulatorsa.blob.core.windows.net/simulator-public-key/common-simulator-key.pub"
        },
        "systemData": {
          "createdBy": "de975306-d24e-4dec-9d3b-ef05c66f0075",
          "createdByType": "Application",
          "createdAt": "2023-06-19T22:57:19.5338882Z",
          "lastModifiedBy": "319f651f-7ddb-4fc6-9857-7aef9250bd05",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-20T00:26:26.0530912Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "analyticsWorkspaceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/anpankie-sim/providers/Microsoft.OperationalInsights/workspaces/simulator-law",
          "networkFabricId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/anpankie-sim/providers/Microsoft.Network/virtualNetworks/CM_vNet/subnets/CM_Subnet",
          "clusterType": "MultiRack",
          "clusterVersion": "3.3.0",
          "aggregatorOrSingleRackDefinition": {
            "networkRackId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/anpankie-sim/providers/Microsoft.Network/virtualNetworks/vNet/subnets/Subnet",
            "rackSkuId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/rackSkus/VLab1_4_Aggregator_sim",
            "rackSerialNumber": "aa1234",
            "rackLocation": "Foo Datacenter, Floor 3, Aisle 9, Rack 2",
            "availabilityZone": "A",
            "storageApplianceConfigurationData": [],
            "bareMetalMachineConfigurationData": []
          },
          "computeRackDefinitions": [
            {
              "networkRackId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/anpankie-sim/providers/Microsoft.Network/virtualNetworks/vNet/subnets/Subnet",
              "rackSkuId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/rackSkus/VLab1_4_Compute_DellR750_3C2M_sim",
              "rackSerialNumber": "aa5678",
              "rackLocation": "Foo Datacenter, Floor 3, Aisle 9, Rack 2",
              "availabilityZone": "1",
              "storageApplianceConfigurationData": [],
              "bareMetalMachineConfigurationData": [
                {
                  "rackSlot": 1,
                  "bootMacAddress": "52:54:00:9b:27:01",
                  "bmcCredentials": {
                    "username": "dXNlcm5hbWUK"
                  },
                  "bmcConnectionString": "redfish\u002Bhttps://10.100.100.10:8443/redfish/v1/Systems/rack1compute01",
                  "machineName": "rack1compute01",
                  "bmcMacAddress": "AA:BB:CC:DD:EE:AA",
                  "serialNumber": "BM1219XX1"
                },
                {
                  "rackSlot": 2,
                  "bootMacAddress": "52:54:00:68:9b:b1",
                  "bmcCredentials": {
                    "username": "dXNlcm5hbWUK"
                  },
                  "bmcConnectionString": "redfish\u002Bhttps://10.100.100.10:8443/redfish/v1/Systems/rack1compute02",
                  "machineName": "rack1compute02",
                  "bmcMacAddress": "AA:BB:CC:DD:EE:BB",
                  "serialNumb[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/anpankie-sim/providers/Microsoft.NetworkCloud/clusters/simulator/bareMetalMachineKeySets/bareMetalMachineKeySet9889?api-version=2023-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "extendedLocation": {
          "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/simulator-hostedresources-4ae3464d/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc",
          "type": "CustomLocation"
        },
        "tags": {
          "key1": "myvalue1"
        },
        "location": "eastus",
        "properties": {
          "azureGroupId": "fake-id",
          "expiration": "2023-06-23T19:12:30.0000000Z",
          "jumpHostsAllowed": [],
          "privilegeLevel": "Standard",
          "userList": [
            {
              "azureUserName": "userABC",
              "sshPublicKey": {
                "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCYnWX/sth0/ikG/d\u002BahWdO4sTp1stHP1jnEcxt0Vr4YcoKYh6cic2yZr3Mjb4NxcuJKAw4kmJ7bSRl5na8MEJkSFyMberQaqapahv\u002Blx7Pm8ZTZVlVcvq0Q83yrHA/62RNtLqLF03RaTaBMrNXZoC76euPEHK4LNgk9UxhTfE0GDHGHOHGRafh24pTgVhyd7nSTuYyY\u002BOlIfv6J726wGsRFZ8OXtE7xfHEtfzsFJBpf15YOEEtdrIQ0w\u002Bxj53nO2FOk\u002BgLhExxlfj4gizQZPXtNI\u002BnM7d25rlZWQW4RngFAvon63/3HNELCEHmAaEPpoAQpgESl19AtTQzUf5hl3RAyL75CM7V95/NcUG0UJ\u002B3t1wI\u002BKc3WpTkHZmbcgOBYSi6\u002BJPpmqB/oxEkjDUIvyyenLB9UFyTj8keQ2vCYzaTBLjcndDJWFYM\u002BMbKHCSx/XxZXDkFiPQeLgkWixFAWLmufnwULIx/tr/VRdQFSZI6MoUmfUqaQhv7a2eVikiqLEk= fake-public-key"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/e4f7bcb9-f59d-4692-914b-88304f8a5228*AFD819B0368FE873EBF7A732A10E08041FDB393FE09328C71D7F3C5B220FC759?api-version=2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022d3010c96-0000-0100-0000-6494a5bb0000\u0022",
        "mise-correlation-id": "67d6c8a8-fa57-44e5-a594-b0b449a0fc4d",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/anpankie-sim/providers/Microsoft.NetworkCloud/clusters/simulator/bareMetalMachineKeySets/bareMetalMachineKeySet9889",
        "name": "bareMetalMachineKeySet9889",
        "type": "microsoft.networkcloud/clusters/baremetalmachinekeysets"[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/e4f7bcb9-f59d-4692-914b-88304f8a5228*AFD819B0368FE873EBF7A732A10E08041FDB393FE09328C71D7F3C5B220FC759?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e602809d-0000-0100-0000-6494a5ba0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/e4f7bcb9-f59d-4692-914b-88304f8a5228*AFD819B0368FE873EBF7A732A10E08041FDB393FE09328C71D7F3C5B220FC759",
        "name": "e4f7bcb9-f59d-4692-914b-88304f8a5228*AFD819B0368FE873EBF7A732A10E08041FDB393FE09328C71D7F3C5B220FC759",
        "resourceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/anpankie-sim/providers/Microsoft.NetworkCloud/clusters/simulator/bareMetalMachineKeySets/bareMetalMachineKeySet9889",
        "status": "Accepted",
        "startTime": "2023-06-22T19:49:14.6433352Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/e4f7bcb9-f59d-4692-914b-88304f8a5228*AFD819B0368FE873EBF7A732A10E08041FDB393FE09328C71D7F3C5B220FC759?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e602829d-0000-0100-0000-6494a5c00000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/e4f7bcb9-f59d-4692-914b-88304f8a5228*AFD819B0368FE873EBF7A732A10E08041FDB393FE09328C71D7F3C5B220FC759",
        "name": "e4f7bcb9-f59d-4692-914b-88304f8a5228*AFD819B0368FE873EBF7A732A10E08041FDB393FE09328C71D7F3C5B220FC759",
        "resourceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/anpankie-sim/providers/Microsoft.NetworkCloud/clusters/simulator/bareMetalMachineKeySets/bareMetalMachineKeySet9889",
        "status": "Provisioning",
        "startTime": "2023-06-22T19:49:14.6433352Z",
        "error": {}
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/e4f7bcb9-f59d-4692-914b-88304f8a5228*AFD819B0368FE873EBF7A732A10E08041FDB393FE09328C71D7F3C5B220FC759?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e6028b9d-0000-0100-0000-6494a5c90000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/e4f7bcb9-f59d-4692-914b-88304f8a5228*AFD819B0368FE873EBF7A732A10E08041FDB393FE09328C71D7F3C5B220FC759",
        "name": "e4f7bcb9-f59d-4692-914b-88304f8a5228*AFD819B0368FE873EBF7A732A10E08041FDB393FE09328C71D7F3C5B220FC759",
        "resourceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/anpankie-sim/providers/Microsoft.NetworkCloud/clusters/simulator/bareMetalMachineKeySets/bareMetalMachineKeySet9889",
        "status": "Succeeded",
        "startTime": "2023-06-22T19:49:14.6433352Z",
        "endTime": "2023-06-22T19:49:29.9307406Z",
        "error": {},
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/anpankie-sim/providers/Microsoft.NetworkCloud/clusters/simulator/bareMetalMachineKeySets?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/anpankie-sim/providers/Microsoft.NetworkCloud/clusters/simulator/bareMetalMachineKeySets/bareMetalMachineKeySet7001",
            "name": "bareMetalMachineKeySet7001",
            "type": "microsoft.networkcloud/clusters/baremetalmachinekeysets",
            "location": "eastus",
            "extendedLocation": {
              "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/simulator-hostedresources-4ae3464d/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc",
              "type": "CustomLocation"
            },
            "tags": {
              "key1": "myvalue1",
              "key2": "myvalue2"
            },
            "systemData": {
              "createdBy": "REDACTED",
              "createdByType": "User",
              "createdAt": "2023-06-22T19:47:14.0080339Z",
              "lastModifiedBy": "319f651f-7ddb-4fc6-9857-7aef9250bd05",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-06-22T19:49:20.0760072Z"
            },
            "properties": {
              "azureGroupId": "fake-id",
              "expiration": "2023-06-23T19:12:30Z",
              "jumpHostsAllowed": [],
              "privilegeLevel": "Standard",
              "userList": [
                {
                  "azureUserName": "userABC",
                  "sshPublicKey": {
                    "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCYnWX/sth0/ikG/d\u002BahWdO4sTp1stHP1jnEcxt0Vr4YcoKYh6cic2yZr3Mjb4NxcuJKAw4kmJ7bSRl5na8MEJkSFyMberQaqapahv\u002Blx7Pm8ZTZVlVcvq0Q83yrHA/62RNtLqLF03RaTaBMrNXZoC76euPEHK4LNgk9UxhTfE0GDHGHOHGRafh24pTgVhyd7nSTuYyY\u002BOlIfv6J726wGsRFZ8OXtE7xfHEtfzsFJBpf15YOEEtdrIQ0w\u002Bxj53nO2FOk\u002BgLhExxlfj4gizQZPXtNI\u002BnM7d25rlZWQW4RngFAvon63/3HNELCEHmAaEPpoAQpgESl19AtTQzUf5hl3RAyL75CM7V95/NcUG0UJ\u002B3t1wI\u002BKc3WpTkHZmbcgOBYSi6\u002BJPpmqB/oxEkjDUIvyyenLB9UFyTj8keQ2vCYzaTBLjcndDJWFYM\u002BMbKHCSx/XxZXDkFiPQeLgkWixFAWLmufnwULIx/tr/VRdQFSZI6MoUmfUqaQhv7a2eVikiqLEk= fake-public-key"
                  }
                }
              ],
              "osGroupName": "bmmkeysetgrp1203",
              "userListStatus": [
                {
                  "azureUserName": "userABC",
                  "status": "Active"
                }
              ],
              "lastValidation": "2023-06-22T19:49:18Z",
              "detailedStatus": "AllActive",
              "detailedStatusMessage": "Updated users on all the nodes",
              "provisioningState": "Succeeded"
            }
          },
          {
            "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/anpankie-sim/providers/Microsoft.NetworkCloud/clusters/simulator/bareMetalMachineKeySets/bareMetalMachineKeySet9889",
            "name": "bareMetalMachineKeySet9889",
            "type": "microsoft.networkcloud/clusters/baremetalmachinekeysets",
            "location": "eastus",
            [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/anpankie-sim/providers/Microsoft.NetworkCloud/clusters/simulator/bareMetalMachineKeySets/bareMetalMachineKeySet9889?api-version=2023-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "myvalue1",
          "key2": "myvalue2"
        },
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/b5145d75-8716-4bec-97a0-ff0e72cf297b*AFD819B0368FE873EBF7A732A10E08041FDB393FE09328C71D7F3C5B220FC759?api-version=2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022d3013897-0000-0100-0000-6494a5ce0000\u0022",
        "Location": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/b5145d75-8716-4bec-97a0-ff0e72cf297b*AFD819B0368FE873EBF7A732A10E08041FDB393FE09328C71D7F3C5B220FC759?api-version=2023-05-01-preview",
        "mise-correlation-id": "6792969b-3fb4-4a05-97d6-2ad285fe0698",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/93f396a6-a51b-4655-9b6e-697526973cd3*AFD819B0368FE873EBF7A732A10E08041FDB393FE09328C71D7F3C5B220FC759?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e602c69d-0000-0100-0000-6494a5dc0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11977"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/93f396a6-a51b-4655-9b6e-697526973cd3*AFD819B0368FE873EBF7A732A10E08041FDB393FE09328C71D7F3C5B220FC759",
        "name": "93f396a6-a51b-4655-9b6e-697526973cd3*AFD819B0368FE873EBF7A732A10E08041FDB393FE09328C71D7F3C5B220FC759",
        "resourceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/anpankie-sim/providers/Microsoft.NetworkCloud/clusters/simulator/bareMetalMachineKeySets/bareMetalMachineKeySet9889",
        "status": "Succeeded",
        "startTime": "2023-06-22T19:49:40.2376433Z",
        "endTime": "2023-06-22T19:49:48.87122Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "CLUSTER_ID": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/anpankie-sim/providers/Microsoft.NetworkCloud/clusters/simulator",
    "DAY_FROM_NOW": "Fri, 23 Jun 2023 15:12:30 -0400",
    "LOCATION": "eastus",
    "RandomSeed": "481236782",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "a3eeb848-665a-4dbf-80a4-eb460930fb23"
  }
}
