{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-7113/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-7174?api-version=2023-03-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11955"
      },
      "ResponseBody": {
        "id": "/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-7113/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-7174",
        "name": "dbaccount-7174",
        "location": "West US 2",
        "type": "Microsoft.DocumentDB/databaseAccounts",
        "kind": "GlobalDocumentDB",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "systemData": {
          "createdAt": "2023-06-29T20:23:57.0674751Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "documentEndpoint": "https://dbaccount-7174.documents.azure.com:443/",
          "cassandraEndpoint": "https://dbaccount-7174.cassandra.cosmos.azure.com:443/",
          "sqlEndpoint": "https://dbaccount-7174.documents.azure.com:443/",
          "publicNetworkAccess": "Enabled",
          "enableAutomaticFailover": false,
          "enableMultipleWriteLocations": false,
          "enablePartitionKeyMonitor": false,
          "isVirtualNetworkFilterEnabled": true,
          "virtualNetworkRules": [],
          "EnabledApiTypes": "Cassandra",
          "disableKeyBasedMetadataWriteAccess": false,
          "enableFreeTier": false,
          "enableAnalyticalStorage": false,
          "analyticalStorageConfiguration": {
            "schemaType": "WellDefined"
          },
          "instanceId": "4f999a35-2225-4eac-85ec-e6620395f501",
          "databaseAccountOfferType": "Standard",
          "enableCassandraConnector": false,
          "connectorOffer": "Small",
          "enableMaterializedViews": false,
          "enableFullFidelityChangeFeed": false,
          "defaultIdentity": "FirstPartyIdentity",
          "networkAclBypass": "None",
          "disableLocalAuth": false,
          "enablePartitionMerge": false,
          "enableBurstCapacity": false,
          "minimalTlsVersion": "Tls12",
          "consistencyPolicy": {
            "defaultConsistencyLevel": "BoundedStaleness",
            "maxIntervalInSeconds": 1000,
            "maxStalenessPrefix": 300
          },
          "configurationOverrides": {},
          "writeLocations": [
            {
              "id": "dbaccount-7174-westus",
              "locationName": "West US",
              "documentEndpoint": "https://dbaccount-7174-westus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "readLocations": [
            {
              "id": "dbaccount-7174-westus",
              "locationName": "West US",
              "documentEndpoint": "https://dbaccount-7174-westus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "locations": [
            {
              "id": "dbaccount-7174-westus",
              "locationName": "West US",
              "documentEndpoint": "https://dbaccount-7174-westus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "failoverPolicies": [
            {
              "id": "dbaccount-7174-westus",
              "locationName": "West US",
              "failoverPriority": 0
            }
          ],
          "cors": [],
          "capabilities": [
            {
              "name": "EnableCassandra"
            }
          ],
          "ipRules": [
            {
              "ipAddressOrRange": "23.43.230.120"
            }
          ],
          "backupPolicy": {
            "type": "Periodic",
            "periodicModeProperties": {
              "backupIntervalInMinutes": 240,
              "backupRetentionIntervalInHours": 8,
              "backupStorageRedundancy": "Geo"
            }
          },
          "networkAclBypassResourceIds": [],
          "diagnosticLogSettings": {
            "enableFullTextQuery": "None"
          },
          "keysMetadata": {
            "primaryMasterKey": {
              "generationTime": "2023-06-29T20:23:57.0674751Z"
            },
            "secondaryMasterKey": {
              "generationTime": "2023-06-29T20:23:57.0674751Z"
            },
            "primaryReadonlyMasterKey": {
              "generationTime": "2023-06-29T20:23:57.0674751Z"
            },
            "secondaryReadonlyMasterKey": {
              "generationTime": "2023-06-29T20:23:57.0674751Z"
            }
          }
        },
        "identity": {
          "type": "None"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-7113/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-7174/cassandraKeyspaces/cassandra-keyspace-8749?api-version=2023-03-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus",
        "properties": {
          "resource": {
            "id": "cassandra-keyspace-8749"
          },
          "options": {
            "throughput": 700
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/96564619-358e-4adf-a117-26671e4c451b?api-version=2023-03-15-preview",
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-7113/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-7174/cassandraKeyspaces/cassandra-keyspace-8749/operationResults/96564619-358e-4adf-a117-26671e4c451b?api-version=2023-03-15-preview",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/96564619-358e-4adf-a117-26671e4c451b?api-version=2023-03-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11954"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-7113/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-7174/cassandraKeyspaces/cassandra-keyspace-8749?api-version=2023-03-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11947"
      },
      "ResponseBody": {
        "id": "/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-7113/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-7174/cassandraKeyspaces/cassandra-keyspace-8749",
        "type": "Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces",
        "name": "cassandra-keyspace-8749",
        "properties": {
          "resource": {
            "id": "cassandra-keyspace-8749",
            "_rid": "3rpiAA==",
            "_etag": "\u00220000f702-0000-0700-0000-649de87d0000\u0022",
            "_ts": 1688070269
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/241d38c5-85e6-4045-827e-c6c2eeab0511?api-version=2023-03-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11929"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "348360272",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "220fc532-6091-423c-8ba0-66c2397d591b"
  }
}
