{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/collections/naip-atl/items/ga_m_3308421_se_16_060_20211114/bounds?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "bounds": [
          -84.44157,
          33.621853,
          -84.370894,
          33.690654
        ]
      }
    }
  ],
  "Variables": {
    "PLANETARYCOMPUTER_COLLECTION_ID": "naip-atl",
    "PLANETARYCOMPUTER_ENDPOINT": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com",
    "PLANETARYCOMPUTER_ITEM_ID": "ga_m_3308421_se_16_060_20211114",
    "RandomSeed": "1951008490"
  }
}
