{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/collections/naip-atl/items/ga_m_3308421_se_16_060_20211114/WebMercatorQuad/tilejson.json?api-version=2025-04-30-preview&assets=image&asset_bidx=image%7C1%2C2%2C3&tile_format=png&tile_scale=1&minzoom=7&maxzoom=14",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "tilejson": "2.2.0",
        "version": "1.0.0",
        "scheme": "xyz",
        "tiles": [
          "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/collections/naip-atl/items/ga_m_3308421_se_16_060_20211114/tiles/WebMercatorQuad/{z}/{x}/{y}@1x.png?api-version=2025-04-30-preview&assets=image&asset_bidx=image%7C1%2C2%2C3"
        ],
        "minzoom": 7,
        "maxzoom": 14,
        "bounds": [
          -84.44157,
          33.621853,
          -84.370894,
          33.690654
        ],
        "center": [
          -84.406232,
          33.656253500000005,
          7
        ]
      }
    }
  ],
  "Variables": {
    "PLANETARYCOMPUTER_COLLECTION_ID": "naip-atl",
    "PLANETARYCOMPUTER_ENDPOINT": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com",
    "PLANETARYCOMPUTER_ITEM_ID": "ga_m_3308421_se_16_060_20211114",
    "RandomSeed": "74169307"
  }
}
