{
  "Entries": [
    {
      "RequestUri": "https://myaccountname.purview.azure.com/share/sentShares/b9228fde-9f48-4d9f-a634-24206bbce06b/sentShareInvitations/e6f27ecd-e78c-466b-842b-2d8211cc9d35?api-version=2023-05-30-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "invitationKind": "User",
        "properties": {
          "TargetEmail": "customer@contoso.com",
          "Notify": true
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/sentShares/b9228fde-9f48-4d9f-a634-24206bbce06b/sentShareInvitations/e6f27ecd-e78c-466b-842b-2d8211cc9d35/e6f27ecd-e78c-466b-842b-2d8211cc9d35"
      },
      "ResponseBody": {
        "properties": {
          "targetEmail": "customer@contoso.com",
          "notify": true,
          "shareStatus": "Detached",
          "sentAt": "2023-06-13T22:52:36.9126199Z",
          "senderName": "sdk-05-30-share",
          "senderTenantName": "Microsoft",
          "state": "Succeeded"
        },
        "invitationKind": "User",
        "id": "e6f27ecd-e78c-466b-842b-2d8211cc9d35",
        "type": "sentShares/sentShareInvitations"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "PURVIEW_SHARE_URL": "https://myaccountname.purview.azure.com/share",
    "RandomSeed": "1355086782"
  }
}
