{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/sanitized/resourcegroups/SdkRg7602?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/sanitized/resourceGroups/SdkRg7602",
        "name": "SdkRg7602",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/sanitized/resourceGroups/SdkRg4656/providers/Microsoft.EdgeOrder/orderItems/SdkOrderItem4763?api-version=2020-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "orderItemDetails": {
            "productDetails": {
              "hierarchyInformation": {
                "productFamilyName": "AzureStackEdge",
                "productLineName": "AzureStackEdge",
                "productName": "AzureStackEdgeGPU",
                "configurationName": "EdgeP_Base"
              }
            },
            "orderItemType": "Purchase",
            "preferences": {
              "transportPreferences": {
                "preferredShipmentType": "MicrosoftManaged"
              }
            }
          },
          "addressDetails": {
            "forwardAddress": {
              "shippingAddress": {
                "streetAddress1": "16 TOWNSEND ST",
                "streetAddress2": "Unit 1",
                "city": "San Francisco",
                "stateOrProvince": "CA",
                "country": "US",
                "postalCode": "94107",
                "companyName": "Microsoft",
                "addressType": "Commercial"
              },
              "contactDetails": {
                "contactName": "Public SDK Test",
                "phone": "1234567890",
                "phoneExtension": "1234",
                "emailList": [
                  "testing@microsoft.com"
                ]
              }
            }
          },
          "orderId": "/subscriptions/sanitized/resourceGroups/SdkRg4656/providers/Microsoft.EdgeOrder/locations/eastus/orders/SdkOrderItem4763"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/sanitized/providers/Microsoft.EdgeOrder/locations/eastus/operationResults/38b31a6e-1d84-4a10-a83f-b9a1b7c2bc5c?api-version=2020-12-01-preview",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/sanitized/providers/Microsoft.EdgeOrder/locations/eastus/operationResults/38b31a6e-1d84-4a10-a83f-b9a1b7c2bc5c?api-version=2020-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/sanitized/resourceGroups/SdkRg4656/providers/Microsoft.EdgeOrder/orderItems/SdkOrderItem4763?api-version=2020-12-01-preview",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/sanitized/resourceGroups/SdkRg4656/providers/Microsoft.EdgeOrder/orderItems/SdkOrderItem4763?api-version=2020-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "properties": {
          "orderItemDetails": {
            "productDetails": {
              "displayInfo": {
                "productFamilyDisplayName": "Azure Stack Edge",
                "configurationDisplayName": "Azure Stack Edge Pro - 1 GPU"
              },
              "hierarchyInformation": {
                "productFamilyName": "azurestackedge",
                "productLineName": "azurestackedge",
                "productName": "azurestackedgegpu",
                "configurationName": "edgep_base"
              },
              "count": 0
            },
            "orderItemType": "Purchase",
            "currentStage": {
              "stageStatus": "InProgress",
              "stageName": "Placed",
              "startTime": "2021-06-21T12:14:20.7468337\u002B00:00"
            },
            "orderItemStageHistory": [
              {
                "stageStatus": "None",
                "stageName": "Placed"
              },
              {
                "stageStatus": "None",
                "stageName": "Confirmed"
              },
              {
                "stageStatus": "None",
                "stageName": "ReadyToShip"
              },
              {
                "stageStatus": "None",
                "stageName": "Shipped"
              },
              {
                "stageStatus": "None",
                "stageName": "Delivered"
              },
              {
                "stageStatus": "None",
                "stageName": "InUse"
              }
            ],
            "preferences": {
              "transportPreferences": {
                "preferredShipmentType": "MicrosoftManaged"
              }
            },
            "notificationEmailList": [],
            "cancellationStatus": "Cancellable",
            "deletionStatus": "NotAllowed",
            "returnStatus": "NotReturnable"
          },
          "addressDetails": {
            "forwardAddress": {
              "shippingAddress": {
                "streetAddress1": "16 TOWNSEND ST",
                "streetAddress2": "Unit 1",
                "city": "San Francisco",
                "stateOrProvince": "CA",
                "country": "US",
                "postalCode": "94107",
                "companyName": "Microsoft",
                "addressType": "Commercial"
              },
              "contactDetails": {
                "contactName": "Public SDK Test",
                "phone": "1234567890",
                "phoneExtension": "1234",
                "emailList": [
                  "testing@microsoft.com"
                ]
              }
            }
          },
          "startTime": "2021-06-21T12:14:20.7468337\u002B00:00",
          "orderId": "/subscriptions/sanitized/resourceGroups/SdkRg4656/providers/Microsoft.EdgeOrder/locations/eastus/orders/SdkOrderItem4763"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "Application",
          "createdAt": "2021-06-21T12:14:19.4960068\u002B00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2021-06-21T12:14:19.4960068\u002B00:00"
        },
        "location": "eastus",
        "tags": {},
        "sku": {},
        "identity": "Sanitized",
        "name": "SdkOrderItem4763",
        "id": "/subscriptions/sanitized/resourceGroups/SdkRg4656/providers/Microsoft.EdgeOrder/orderItems/SdkOrderItem4763",
        "type": "Microsoft.EdgeOrder/orderItems"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/sanitized/resourceGroups/SdkRg4656/providers/Microsoft.EdgeOrder/orderItems/SdkOrderItem4763/cancel?api-version=2020-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "reason": "Order item cancelled"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/sanitized/providers/Microsoft.EdgeOrder/locations/eastus/operationResults/6722676634658068212-deleteresource?api-version=2020-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/sanitized/providers/Microsoft.EdgeOrder/locations/eastus/operationResults/6722676634658068212-deleteresource?api-version=2020-12-01-preview",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/sanitized/providers/Microsoft.EdgeOrder/locations/eastus/operationResults/6722676634658068212-deleteresource?api-version=2020-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": "11874"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1571553546",
    "SUBSCRIPTION_ID": "sanitized"
  }
}