{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/IotHub-RG-2187?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11985"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/IotHub-RG-2187",
        "name": "IotHub-RG-2187",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/IotHub-RG-2187/providers/Microsoft.Devices/IotHubs/IotHub-1561?api-version=2021-07-02",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "S1",
          "capacity": 1
        },
        "tags": {},
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Devices/locations/westus2/operationResults/aWQ9b3NfaWhfMWY3MzBkNGQtZWRhYy00ZWM2LThhZDMtMGZlZjBhYzU1ZWMwO3JlZ2lvbj13ZXN0dXMy?api-version=2021-07-02\u0026operationSource=other\u0026asyncinfo",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "4998"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/IotHub-RG-2187/providers/Microsoft.Devices/IotHubs/IotHub-1561",
        "name": "IotHub-1561",
        "type": "Microsoft.Devices/IotHubs",
        "location": "westus2",
        "tags": {},
        "subscriptionid": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "resourcegroup": "IotHub-RG-2187",
        "properties": {
          "state": "Activating",
          "provisioningState": "Accepted",
          "enableFileUploadNotifications": false,
          "cloudToDevice": {
            "maxDeliveryCount": 10,
            "defaultTtlAsIso8601": "PT1H",
            "feedback": {
              "lockDurationAsIso8601": "PT1M",
              "ttlAsIso8601": "PT1H",
              "maxDeliveryCount": 10
            }
          },
          "features": "None",
          "allowedFqdnList": []
        },
        "sku": {
          "name": "S1",
          "tier": "Standard",
          "capacity": 1
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Devices/locations/westus2/operationResults/aWQ9b3NfaWhfMWY3MzBkNGQtZWRhYy00ZWM2LThhZDMtMGZlZjBhYzU1ZWMwO3JlZ2lvbj13ZXN0dXMy?api-version=2021-07-02\u0026operationSource=other\u0026asyncinfo",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "status": "Running"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/IotHub-RG-2187/providers/Microsoft.Devices/IotHubs/IotHub-1561?api-version=2021-07-02",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11974"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/IotHub-RG-2187/providers/Microsoft.Devices/IotHubs/IotHub-1561",
        "name": "IotHub-1561",
        "type": "Microsoft.Devices/IotHubs",
        "location": "westus2",
        "tags": {},
        "subscriptionid": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "resourcegroup": "IotHub-RG-2187",
        "etag": "AAAADGwljhI=",
        "properties": {
          "locations": [
            {
              "location": "West US 2",
              "role": "primary"
            },
            {
              "location": "West Central US",
              "role": "secondary"
            }
          ],
          "state": "Active",
          "provisioningState": "Succeeded",
          "ipFilterRules": [],
          "hostName": "IotHub-1561.azure-devices.net",
          "eventHubEndpoints": {
            "events": {
              "retentionTimeInDays": 1,
              "partitionCount": 4,
              "partitionIds": [
                "0",
                "1",
                "2",
                "3"
              ],
              "path": "iothub-1561",
              "endpoint": "sb://iothub-ns-iothub-156-20190770-376b1c4918.servicebus.windows.net/"
            }
          },
          "routing": {
            "endpoints": {
              "serviceBusQueues": [],
              "serviceBusTopics": [],
              "eventHubs": [],
              "storageContainers": []
            },
            "routes": [],
            "fallbackRoute": {
              "name": "$fallback",
              "source": "DeviceMessages",
              "condition": "true",
              "endpointNames": [
                "events"
              ],
              "isEnabled": true
            }
          },
          "storageEndpoints": {
            "$default": {
              "sasTtlAsIso8601": "PT1H",
              "connectionString": "",
              "containerName": ""
            }
          },
          "messagingEndpoints": {
            "fileNotifications": {
              "lockDurationAsIso8601": "PT1M",
              "ttlAsIso8601": "PT1H",
              "maxDeliveryCount": 10
            }
          },
          "enableFileUploadNotifications": false,
          "cloudToDevice": {
            "maxDeliveryCount": 10,
            "defaultTtlAsIso8601": "PT1H",
            "feedback": {
              "lockDurationAsIso8601": "PT1M",
              "ttlAsIso8601": "PT1H",
              "maxDeliveryCount": 10
            }
          },
          "features": "None",
          "allowedFqdnList": [],
          "rootCertificate": {}
        },
        "sku": {
          "name": "S1",
          "tier": "Standard",
          "capacity": 1
        },
        "identity": {
          "type": "None"
        },
        "systemData": {
          "createdAt": "2022-07-13T09:40:04.3966667Z"
        }
      }
    },
[...]
