{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/29-2F-EC-04-25-55-5A-7C-D6-FD-1C-96-C3-89-1B-63-53?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 17:38:52 GMT"
      },
      "RequestBody": {
        "name": "29-2F-EC-04-25-55-5A-7C-D6-FD-1C-96-C3-89-1B-63-53-Name",
        "offerTtlSeconds": 1,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022920230e0-0000-0700-0000-62aa192e0000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 17:38:54 GMT",
        "trace-id": "a012c44b8bf20446a68d44555c81fa47"
      },
      "ResponseBody": {
        "id": "29-2F-EC-04-25-55-5A-7C-D6-FD-1C-96-C3-89-1B-63-53",
        "name": "29-2F-EC-04-25-55-5A-7C-D6-FD-1C-96-C3-89-1B-63-53-Name",
        "offerTtlSeconds": 1,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/29-2F-EC-04-25-55-5A-7C-D6-FD-1C-96-C3-89-1B-63-53?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 17:38:52 GMT"
      },
      "RequestBody": {
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022920247e0-0000-0700-0000-62aa192e0000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 17:38:54 GMT",
        "trace-id": "2ca0297c15887141876d64cd9084353c"
      },
      "ResponseBody": {
        "id": "29-2F-EC-04-25-55-5A-7C-D6-FD-1C-96-C3-89-1B-63-53",
        "name": "29-2F-EC-04-25-55-5A-7C-D6-FD-1C-96-C3-89-1B-63-53-Name",
        "offerTtlSeconds": 1,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": true
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-0JqfNCMBwUy2nch6SbCjAw-",
    "RandomSeed": "148568436"
  }
}
