{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/sdk-HBRub27ZVUaAO0DlJuUF6Q--RR-DistributionPolicy?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 23:59:53 GMT"
      },
      "RequestBody": {
        "name": "sdk-HBRub27ZVUaAO0DlJuUF6Q--RR-DistributionPolicy-Name",
        "offerTtlSeconds": 1,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226b0284fb-0000-0700-0000-62a7cf790000\u0022",
        "Last-Modified": "Mon, 13 Jun 2022 23:59:53 GMT",
        "trace-id": "1a38404acb118544af44892ca8a24eaf"
      },
      "ResponseBody": {
        "id": "sdk-HBRub27ZVUaAO0DlJuUF6Q--RR-DistributionPolicy",
        "name": "sdk-HBRub27ZVUaAO0DlJuUF6Q--RR-DistributionPolicy-Name",
        "offerTtlSeconds": 1,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/sdk-HBRub27ZVUaAO0DlJuUF6Q--RR-DistributionPolicy?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 23:59:53 GMT"
      },
      "RequestBody": {
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226b028bfb-0000-0700-0000-62a7cf7a0000\u0022",
        "Last-Modified": "Mon, 13 Jun 2022 23:59:54 GMT",
        "trace-id": "0f2a2ac84b75974b8be1fc75db87d634"
      },
      "ResponseBody": {
        "id": "sdk-HBRub27ZVUaAO0DlJuUF6Q--RR-DistributionPolicy",
        "name": "sdk-HBRub27ZVUaAO0DlJuUF6Q--RR-DistributionPolicy-Name",
        "offerTtlSeconds": 1,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": true
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-HBRub27ZVUaAO0DlJuUF6Q-",
    "RandomSeed": "792758193"
  }
}
