{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/sdk-P0NDT3gLOUeUSalPX1iHaQ--RR-DistributionPolicy?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 21:23:47 GMT"
      },
      "RequestBody": {
        "name": "sdk-P0NDT3gLOUeUSalPX1iHaQ--RR-DistributionPolicy-Name",
        "offerTtlSeconds": 1,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225c00fd4e-0000-0700-0000-642de6e40000\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 21:23:48 GMT",
        "trace-id": "b1932d48-0e5c-9f45-ac50-4fc90bd709bf"
      },
      "ResponseBody": {
        "id": "sdk-P0NDT3gLOUeUSalPX1iHaQ--RR-DistributionPolicy",
        "name": "sdk-P0NDT3gLOUeUSalPX1iHaQ--RR-DistributionPolicy-Name",
        "offerTtlSeconds": 1,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/sdk-P0NDT3gLOUeUSalPX1iHaQ--RR-DistributionPolicy?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 21:23:47 GMT"
      },
      "RequestBody": {
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225c00144f-0000-0700-0000-642de6e50000\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 21:23:49 GMT",
        "trace-id": "80cb7d07-a026-824d-bd22-5173c5c56502"
      },
      "ResponseBody": {
        "id": "sdk-P0NDT3gLOUeUSalPX1iHaQ--RR-DistributionPolicy",
        "name": "sdk-P0NDT3gLOUeUSalPX1iHaQ--RR-DistributionPolicy-Name",
        "offerTtlSeconds": 1,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": true
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-P0NDT3gLOUeUSalPX1iHaQ-",
    "RandomSeed": "2034720539"
  }
}
