{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/sdk-rl8anb3HnUGbUvjGxLvqRg--RR-DistributionPolicy?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Jun 2023 20:21:53 GMT"
      },
      "RequestBody": {
        "name": "sdk-rl8anb3HnUGbUvjGxLvqRg--RR-DistributionPolicy-Name",
        "offerExpiresAfterSeconds": 1,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220b00814d-0000-0d00-0000-649de7e20000\u0022",
        "Last-Modified": "Thu, 29 Jun 2023 20:21:54 GMT",
        "trace-id": "34c6b0f9-952d-d6cf-4bf9-06cdf57fc0b8"
      },
      "ResponseBody": {
        "id": "sdk-rl8anb3HnUGbUvjGxLvqRg--RR-DistributionPolicy",
        "name": "sdk-rl8anb3HnUGbUvjGxLvqRg--RR-DistributionPolicy-Name",
        "offerExpiresAfterSeconds": 1,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/sdk-rl8anb3HnUGbUvjGxLvqRg--RR-DistributionPolicy?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Jun 2023 20:21:53 GMT"
      },
      "RequestBody": {
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220b00844d-0000-0d00-0000-649de7e20000\u0022",
        "Last-Modified": "Thu, 29 Jun 2023 20:21:54 GMT",
        "trace-id": "6f74eadb-7b40-d415-9c71-2009f69a2b62"
      },
      "ResponseBody": {
        "id": "sdk-rl8anb3HnUGbUvjGxLvqRg--RR-DistributionPolicy",
        "name": "sdk-rl8anb3HnUGbUvjGxLvqRg--RR-DistributionPolicy-Name",
        "offerExpiresAfterSeconds": 1,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": true
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-rl8anb3HnUGbUvjGxLvqRg-",
    "RandomSeed": "1174085214"
  }
}
