{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/09-CD-6E-91-73-E1-AE-22-37-E4-23-F7-9F-F0-EA-8D-08?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jun 2022 01:20:41 GMT"
      },
      "RequestBody": {
        "name": "09-CD-6E-91-73-E1-AE-22-37-E4-23-F7-9F-F0-EA-8D-08-Name",
        "offerTtlSeconds": 1,
        "mode": {
          "scoringRule": {
            "functionUrl": "https://my.function.app/api/myfunction?code=Kg==",
            "credential": {
              "appKey": "Sanitized",
              "clientId": "MyClientId"
            },
            "kind": "azure-function-rule"
          },
          "scoringRuleOptions": {
            "scoringParameters": [
              "workerSelectors"
            ],
            "allowScoringBatchOfWorkers": false,
            "descendingOrder": true
          },
          "kind": "best-worker",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229f0244bb-0000-0700-0000-62aa85690000\u0022",
        "Last-Modified": "Thu, 16 Jun 2022 01:20:41 GMT",
        "trace-id": "446ef886c20c2c498cf956ce23ba0d2f"
      },
      "ResponseBody": {
        "id": "09-CD-6E-91-73-E1-AE-22-37-E4-23-F7-9F-F0-EA-8D-08",
        "name": "09-CD-6E-91-73-E1-AE-22-37-E4-23-F7-9F-F0-EA-8D-08-Name",
        "offerTtlSeconds": 1,
        "mode": {
          "kind": "best-worker",
          "scoringRule": {
            "kind": "azure-function-rule",
            "functionUrl": "https://my.function.app/api/myfunction?code=Kg==",
            "credential": {
              "appKey": "Sanitized",
              "clientId": "MyClientId"
            }
          },
          "scoringRuleOptions": {
            "scoringParameters": [
              "workerSelectors"
            ],
            "allowScoringBatchOfWorkers": false,
            "descendingOrder": true
          },
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/09-CD-6E-91-73-E1-AE-22-37-E4-23-F7-9F-F0-EA-8D-08?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jun 2022 01:20:41 GMT"
      },
      "RequestBody": {
        "mode": {
          "scoringRule": {
            "functionUrl": "https://my.function.app/api/myfunction?code=Kg==",
            "credential": {
              "functionKey": "Sanitized"
            },
            "kind": "azure-function-rule"
          },
          "scoringRuleOptions": {
            "scoringParameters": [
              "workerSelectors"
            ],
            "allowScoringBatchOfWorkers": false,
            "descendingOrder": true
          },
          "kind": "best-worker",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHead[...]
