{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/sdk-oHpUviX9QUaZR5q4japRFw--RR-DistributionPolicy?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jun 2022 01:20:40 GMT"
      },
      "RequestBody": {
        "name": "sdk-oHpUviX9QUaZR5q4japRFw--RR-DistributionPolicy-Name",
        "offerTtlSeconds": 1,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229f0242bb-0000-0700-0000-62aa85680000\u0022",
        "Last-Modified": "Thu, 16 Jun 2022 01:20:40 GMT",
        "trace-id": "33f39f7408ac4f40825bd5ed4e71d22d"
      },
      "ResponseBody": {
        "id": "sdk-oHpUviX9QUaZR5q4japRFw--RR-DistributionPolicy",
        "name": "sdk-oHpUviX9QUaZR5q4japRFw--RR-DistributionPolicy-Name",
        "offerTtlSeconds": 1,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/sdk-oHpUviX9QUaZR5q4japRFw--RR-DistributionPolicy?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jun 2022 01:20:40 GMT"
      },
      "RequestBody": {
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229f0243bb-0000-0700-0000-62aa85680000\u0022",
        "Last-Modified": "Thu, 16 Jun 2022 01:20:40 GMT",
        "trace-id": "5251dab3d2486544b89d84b83c075968"
      },
      "ResponseBody": {
        "id": "sdk-oHpUviX9QUaZR5q4japRFw--RR-DistributionPolicy",
        "name": "sdk-oHpUviX9QUaZR5q4japRFw--RR-DistributionPolicy-Name",
        "offerTtlSeconds": 1,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": true
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-oHpUviX9QUaZR5q4japRFw-",
    "RandomSeed": "1568302011"
  }
}
