{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/sdk-gS9wKzc4FEOe8Y3cGNZ60w--RR-DistributionPolicy?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:51:23 GMT"
      },
      "RequestBody": {
        "name": "sdk-gS9wKzc4FEOe8Y3cGNZ60w--RR-DistributionPolicy-Name",
        "offerExpiresAfterSeconds": 1,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227101a90a-0000-0700-0000-648ccb490000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:51:21 GMT",
        "trace-id": "e9ee6891-0700-a922-6790-0e5aa2cea2fe"
      },
      "ResponseBody": {
        "id": "sdk-gS9wKzc4FEOe8Y3cGNZ60w--RR-DistributionPolicy",
        "name": "sdk-gS9wKzc4FEOe8Y3cGNZ60w--RR-DistributionPolicy-Name",
        "offerExpiresAfterSeconds": 1,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/sdk-gS9wKzc4FEOe8Y3cGNZ60w--RR-DistributionPolicy?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:51:24 GMT"
      },
      "RequestBody": {
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227101ae0a-0000-0700-0000-648ccb4a0000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:51:22 GMT",
        "trace-id": "2eff85bc-2cb0-4c84-d4ba-1c8b6ed9c251"
      },
      "ResponseBody": {
        "id": "sdk-gS9wKzc4FEOe8Y3cGNZ60w--RR-DistributionPolicy",
        "name": "sdk-gS9wKzc4FEOe8Y3cGNZ60w--RR-DistributionPolicy-Name",
        "offerExpiresAfterSeconds": 1,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": true
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-gS9wKzc4FEOe8Y3cGNZ60w-",
    "RandomSeed": "1477346177"
  }
}
