{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/A0-40-62-FC-11-06-71-5A-15-94-94-61-44-7A-4A-41-30?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 23:45:01 GMT"
      },
      "RequestBody": {
        "name": "A0-40-62-FC-11-06-71-5A-15-94-94-61-44-7A-4A-41-30-Name",
        "offerTtlSeconds": 1,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229f02b00f-0000-0700-0000-62aa6efd0000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 23:45:01 GMT",
        "trace-id": "230fd96e97d6d74babf670e956e32dc5"
      },
      "ResponseBody": {
        "id": "A0-40-62-FC-11-06-71-5A-15-94-94-61-44-7A-4A-41-30",
        "name": "A0-40-62-FC-11-06-71-5A-15-94-94-61-44-7A-4A-41-30-Name",
        "offerTtlSeconds": 1,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/A0-40-62-FC-11-06-71-5A-15-94-94-61-44-7A-4A-41-30?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 23:45:01 GMT"
      },
      "RequestBody": {
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229f02bf0f-0000-0700-0000-62aa6efd0000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 23:45:01 GMT",
        "trace-id": "682abd98563a2f498c106597fe75f5ae"
      },
      "ResponseBody": {
        "id": "A0-40-62-FC-11-06-71-5A-15-94-94-61-44-7A-4A-41-30",
        "name": "A0-40-62-FC-11-06-71-5A-15-94-94-61-44-7A-4A-41-30-Name",
        "offerTtlSeconds": 1,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": true
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-RdscwbCZ0E2Df6mVgrvwQQ-",
    "RandomSeed": "1417947660"
  }
}
