{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/92-BE-2F-8A-F0-0B-17-53-B1-80-DF-3A-7B-B8-5E-C1-BD?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 23:59:52 GMT"
      },
      "RequestBody": {
        "name": "92-BE-2F-8A-F0-0B-17-53-B1-80-DF-3A-7B-B8-5E-C1-BD-Name",
        "offerTtlSeconds": 60,
        "mode": {
          "scoringRuleOptions": {
            "descendingOrder": true
          },
          "kind": "best-worker",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226b026cfb-0000-0700-0000-62a7cf790000\u0022",
        "Last-Modified": "Mon, 13 Jun 2022 23:59:53 GMT",
        "trace-id": "d27a3858a744fb4da273955e25372d7a"
      },
      "ResponseBody": {
        "id": "92-BE-2F-8A-F0-0B-17-53-B1-80-DF-3A-7B-B8-5E-C1-BD",
        "name": "92-BE-2F-8A-F0-0B-17-53-B1-80-DF-3A-7B-B8-5E-C1-BD-Name",
        "offerTtlSeconds": 60,
        "mode": {
          "kind": "best-worker",
          "scoringRuleOptions": {
            "scoringParameters": [
              "jobLabels",
              "workerSelectors"
            ],
            "allowScoringBatchOfWorkers": false,
            "descendingOrder": true
          },
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
[...]
