{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/85-92-81-E8-E9-A9-8D-31-28-4D-73-7E-3F-68-04-0C-E6?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jun 2022 01:20:41 GMT"
      },
      "RequestBody": {
        "name": "85-92-81-E8-E9-A9-8D-31-28-4D-73-7E-3F-68-04-0C-E6-Name",
        "offerTtlSeconds": 60,
        "mode": {
          "scoringRuleOptions": {
            "descendingOrder": true
          },
          "kind": "best-worker",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229f0246bb-0000-0700-0000-62aa85690000\u0022",
        "Last-Modified": "Thu, 16 Jun 2022 01:20:41 GMT",
        "trace-id": "e0f71542cfcd01449052038b713ddd0f"
      },
      "ResponseBody": {
        "id": "85-92-81-E8-E9-A9-8D-31-28-4D-73-7E-3F-68-04-0C-E6",
        "name": "85-92-81-E8-E9-A9-8D-31-28-4D-73-7E-3F-68-04-0C-E6-Name",
        "offerTtlSeconds": 60,
        "mode": {
          "kind": "best-worker",
          "scoringRuleOptions": {
            "scoringParameters": [
              "jobLabels",
              "workerSelectors"
            ],
            "allowScoringBatchOfWorkers": false,
            "descendingOrder": true
          },
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
[...]
