{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/61-5C-1D-4A-E8-CD-BB-C5-F0-61-3D-71-EA-A4-2B-7E-C4?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 17:38:50 GMT"
      },
      "RequestBody": {
        "name": "61-5C-1D-4A-E8-CD-BB-C5-F0-61-3D-71-EA-A4-2B-7E-C4-Name",
        "offerTtlSeconds": 60,
        "mode": {
          "scoringRuleOptions": {
            "descendingOrder": true
          },
          "kind": "best-worker",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229202acdf-0000-0700-0000-62aa192c0000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 17:38:52 GMT",
        "trace-id": "fa8a66eaecf9524bb53dada0c6d8434e"
      },
      "ResponseBody": {
        "id": "61-5C-1D-4A-E8-CD-BB-C5-F0-61-3D-71-EA-A4-2B-7E-C4",
        "name": "61-5C-1D-4A-E8-CD-BB-C5-F0-61-3D-71-EA-A4-2B-7E-C4-Name",
        "offerTtlSeconds": 60,
        "mode": {
          "kind": "best-worker",
          "scoringRuleOptions": {
            "scoringParameters": [
              "jobLabels",
              "workerSelectors"
            ],
            "allowScoringBatchOfWorkers": false,
            "descendingOrder": true
          },
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
[...]
