{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/FBDA7886BBCC8DFD111293B6B2BAFD209DC5220064BA082DDD?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 21:23:44 GMT"
      },
      "RequestBody": {
        "name": "FBDA7886BBCC8DFD111293B6B2BAFD209DC5220064BA082DDD-Name",
        "offerTtlSeconds": 1,
        "mode": {
          "scoringRule": {
            "functionUri": "https://my.function.app/api/myfunction?code=Kg==",
            "credential": {
              "appKey": "Sanitized",
              "clientId": "MyClientId"
            },
            "kind": "azure-function-rule"
          },
          "scoringRuleOptions": {
            "scoringParameters": [
              "workerSelectors"
            ],
            "allowScoringBatchOfWorkers": false,
            "descendingOrder": true
          },
          "kind": "best-worker",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225c00604e-0000-0700-0000-642de6e10000\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 21:23:45 GMT",
        "trace-id": "8ae44c71-6b19-834c-86b4-120f0a9e3e16"
      },
      "ResponseBody": {
        "id": "FBDA7886BBCC8DFD111293B6B2BAFD209DC5220064BA082DDD",
        "name": "FBDA7886BBCC8DFD111293B6B2BAFD209DC5220064BA082DDD-Name",
        "offerTtlSeconds": 1,
        "mode": {
          "kind": "best-worker",
          "scoringRule": {
            "kind": "azure-function-rule",
            "functionUri": "https://my.function.app/api/myfunction?code=Kg==",
            "credential": {
              "appKey": "Sanitized",
              "clientId": "MyClientId"
            }
          },
          "scoringRuleOptions": {
            "scoringParameters": [
              "workerSelectors"
            ],
            "allowScoringBatchOfWorkers": false,
            "descendingOrder": true
          },
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/FBDA7886BBCC8DFD111293B6B2BAFD209DC5220064BA082DDD?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 21:23:44 GMT"
      },
      "RequestBody": {
        "mode": {
          "scoringRule": {
            "functionUri": "https://my.function.app/api/myfunction?code=Kg==",
            "credential": {
              "functionKey": "Sanitized"
            },
            "kind": "azure-function-rule"
          },
          "scoringRuleOptions": {
            "scoringParameters": [
              "workerSelectors"
            ],
            "allowScoringBatchOfWorkers": false,
            "descendingOrder": true
          },
          "kind": "best-worker",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHead[...]
