{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/741D960E0F91B8C39C678039CDF57C4DF8B6C85A7DCA30C973?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Jun 2023 20:21:43 GMT"
      },
      "RequestBody": {
        "name": "741D960E0F91B8C39C678039CDF57C4DF8B6C85A7DCA30C973-Name",
        "offerExpiresAfterSeconds": 1,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220b00464d-0000-0d00-0000-649de7d80000\u0022",
        "Last-Modified": "Thu, 29 Jun 2023 20:21:44 GMT",
        "trace-id": "6399e9dd-73cf-87e1-51b5-400f4a81c4a8"
      },
      "ResponseBody": {
        "id": "741D960E0F91B8C39C678039CDF57C4DF8B6C85A7DCA30C973",
        "name": "741D960E0F91B8C39C678039CDF57C4DF8B6C85A7DCA30C973-Name",
        "offerExpiresAfterSeconds": 1,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/741D960E0F91B8C39C678039CDF57C4DF8B6C85A7DCA30C973?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Jun 2023 20:21:43 GMT"
      },
      "RequestBody": {
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220b00484d-0000-0d00-0000-649de7d80000\u0022",
        "Last-Modified": "Thu, 29 Jun 2023 20:21:44 GMT",
        "trace-id": "56489b3f-b5ca-9f5a-e72a-f93ecc16892c"
      },
      "ResponseBody": {
        "id": "741D960E0F91B8C39C678039CDF57C4DF8B6C85A7DCA30C973",
        "name": "741D960E0F91B8C39C678039CDF57C4DF8B6C85A7DCA30C973-Name",
        "offerExpiresAfterSeconds": 1,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": true
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-ZeuL4RteQEaJVzw_bVlfLw-",
    "RandomSeed": "663608895"
  }
}
