{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/F7F8DB19A488B0FB2AEAC7F68C22326D187F17EC567E2FF67F?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 21:23:42 GMT"
      },
      "RequestBody": {
        "name": "F7F8DB19A488B0FB2AEAC7F68C22326D187F17EC567E2FF67F-Name",
        "offerTtlSeconds": 1,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225c00fd4d-0000-0700-0000-642de6df0000\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 21:23:43 GMT",
        "trace-id": "fd0af2b4-fde0-ab4e-99a6-f1695690f223"
      },
      "ResponseBody": {
        "id": "F7F8DB19A488B0FB2AEAC7F68C22326D187F17EC567E2FF67F",
        "name": "F7F8DB19A488B0FB2AEAC7F68C22326D187F17EC567E2FF67F-Name",
        "offerTtlSeconds": 1,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/F7F8DB19A488B0FB2AEAC7F68C22326D187F17EC567E2FF67F?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 21:23:43 GMT"
      },
      "RequestBody": {
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225c001c4e-0000-0700-0000-642de6e00000\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 21:23:44 GMT",
        "trace-id": "e3d106f9-24e1-134b-9464-d7e331b848d3"
      },
      "ResponseBody": {
        "id": "F7F8DB19A488B0FB2AEAC7F68C22326D187F17EC567E2FF67F",
        "name": "F7F8DB19A488B0FB2AEAC7F68C22326D187F17EC567E2FF67F-Name",
        "offerTtlSeconds": 1,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": true
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-2MEXWc9czUemN2ulmdqcPA-",
    "RandomSeed": "498352459"
  }
}
