{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/4F-D2-BA-11-3D-DB-10-64-D7-82-DD-C8-FF-12-FE-A9-79?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 23:59:52 GMT"
      },
      "RequestBody": {
        "name": "4F-D2-BA-11-3D-DB-10-64-D7-82-DD-C8-FF-12-FE-A9-79-Name",
        "offerTtlSeconds": 1,
        "mode": {
          "scoringRule": {
            "functionUrl": "https://my.function.app/api/myfunction?code=Kg==",
            "credential": {
              "appKey": "Sanitized",
              "clientId": "MyClientId"
            },
            "kind": "azure-function-rule"
          },
          "scoringRuleOptions": {
            "scoringParameters": [
              "workerSelectors"
            ],
            "allowScoringBatchOfWorkers": false,
            "descendingOrder": true
          },
          "kind": "best-worker",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226b0261fb-0000-0700-0000-62a7cf790000\u0022",
        "Last-Modified": "Mon, 13 Jun 2022 23:59:53 GMT",
        "trace-id": "e311d914cb84634ea9c42b2a0f782f48"
      },
      "ResponseBody": {
        "id": "4F-D2-BA-11-3D-DB-10-64-D7-82-DD-C8-FF-12-FE-A9-79",
        "name": "4F-D2-BA-11-3D-DB-10-64-D7-82-DD-C8-FF-12-FE-A9-79-Name",
        "offerTtlSeconds": 1,
        "mode": {
          "kind": "best-worker",
          "scoringRule": {
            "kind": "azure-function-rule",
            "functionUrl": "https://my.function.app/api/myfunction?code=Kg==",
            "credential": {
              "appKey": "Sanitized",
              "clientId": "MyClientId"
            }
          },
          "scoringRuleOptions": {
            "scoringParameters": [
              "workerSelectors"
            ],
            "allowScoringBatchOfWorkers": false,
            "descendingOrder": true
          },
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/4F-D2-BA-11-3D-DB-10-64-D7-82-DD-C8-FF-12-FE-A9-79?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 23:59:52 GMT"
      },
      "RequestBody": {
        "mode": {
          "scoringRule": {
            "functionUrl": "https://my.function.app/api/myfunction?code=Kg==",
            "credential": {
              "functionKey": "Sanitized"
            },
            "kind": "azure-function-rule"
          },
          "scoringRuleOptions": {
            "scoringParameters": [
              "workerSelectors"
            ],
            "allowScoringBatchOfWorkers": false,
            "descendingOrder": true
          },
          "kind": "best-worker",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHead[...]
