{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/sdk-QIAtdtZq1UKytL4QLNYl_Q--RR-DistributionPolicy?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 23:59:51 GMT"
      },
      "RequestBody": {
        "name": "sdk-QIAtdtZq1UKytL4QLNYl_Q--RR-DistributionPolicy-Name",
        "offerTtlSeconds": 1,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226b0257fb-0000-0700-0000-62a7cf780000\u0022",
        "Last-Modified": "Mon, 13 Jun 2022 23:59:52 GMT",
        "trace-id": "618508a81bae2943854f74be49276f38"
      },
      "ResponseBody": {
        "id": "sdk-QIAtdtZq1UKytL4QLNYl_Q--RR-DistributionPolicy",
        "name": "sdk-QIAtdtZq1UKytL4QLNYl_Q--RR-DistributionPolicy-Name",
        "offerTtlSeconds": 1,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/sdk-QIAtdtZq1UKytL4QLNYl_Q--RR-DistributionPolicy?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 23:59:51 GMT"
      },
      "RequestBody": {
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226b025afb-0000-0700-0000-62a7cf780000\u0022",
        "Last-Modified": "Mon, 13 Jun 2022 23:59:52 GMT",
        "trace-id": "52cc6c5c5d481b41b15ddc27d5cff0e7"
      },
      "ResponseBody": {
        "id": "sdk-QIAtdtZq1UKytL4QLNYl_Q--RR-DistributionPolicy",
        "name": "sdk-QIAtdtZq1UKytL4QLNYl_Q--RR-DistributionPolicy-Name",
        "offerTtlSeconds": 1,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": true
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-QIAtdtZq1UKytL4QLNYl_Q-",
    "RandomSeed": "724805934"
  }
}
