{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/F0F8FA4CA3139C9EBB78E00416B0C49AE0529121570A49D910?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 21:23:40 GMT"
      },
      "RequestBody": {
        "name": "F0F8FA4CA3139C9EBB78E00416B0C49AE0529121570A49D910-Name",
        "offerTtlSeconds": 1,
        "mode": {
          "scoringRule": {
            "functionUri": "https://my.function.app/api/myfunction?code=Kg==",
            "credential": {
              "appKey": "Sanitized",
              "clientId": "MyClientId"
            },
            "kind": "azure-function-rule"
          },
          "scoringRuleOptions": {
            "scoringParameters": [
              "workerSelectors"
            ],
            "allowScoringBatchOfWorkers": false,
            "descendingOrder": true
          },
          "kind": "best-worker",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225c00804d-0000-0700-0000-642de6dd0000\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 21:23:41 GMT",
        "trace-id": "70d5f671-e786-9d40-b54b-66b8d3a8d316"
      },
      "ResponseBody": {
        "id": "F0F8FA4CA3139C9EBB78E00416B0C49AE0529121570A49D910",
        "name": "F0F8FA4CA3139C9EBB78E00416B0C49AE0529121570A49D910-Name",
        "offerTtlSeconds": 1,
        "mode": {
          "kind": "best-worker",
          "scoringRule": {
            "kind": "azure-function-rule",
            "functionUri": "https://my.function.app/api/myfunction?code=Kg==",
            "credential": {
              "appKey": "Sanitized",
              "clientId": "MyClientId"
            }
          },
          "scoringRuleOptions": {
            "scoringParameters": [
              "workerSelectors"
            ],
            "allowScoringBatchOfWorkers": false,
            "descendingOrder": true
          },
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/F0F8FA4CA3139C9EBB78E00416B0C49AE0529121570A49D910?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 21:23:40 GMT"
      },
      "RequestBody": {
        "mode": {
          "scoringRule": {
            "functionUri": "https://my.function.app/api/myfunction?code=Kg==",
            "credential": {
              "functionKey": "Sanitized"
            },
            "kind": "azure-function-rule"
          },
          "scoringRuleOptions": {
            "scoringParameters": [
              "workerSelectors"
            ],
            "allowScoringBatchOfWorkers": false,
            "descendingOrder": true
          },
          "kind": "best-worker",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHead[...]
