{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/1C68D15EEFFB4073C510CEE9F9A73EB627C5F336D346A29B4D?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:50:51 GMT"
      },
      "RequestBody": {
        "name": "1C68D15EEFFB4073C510CEE9F9A73EB627C5F336D346A29B4D-Name",
        "offerExpiresAfterSeconds": 1,
        "mode": {
          "scoringRule": {
            "functionUri": "https://my.function.app/api/myfunction?code=Kg==",
            "credential": {
              "appKey": "Sanitized",
              "clientId": "MyClientId"
            },
            "kind": "azure-function-rule"
          },
          "scoringRuleOptions": {
            "scoringParameters": [
              "workerSelectors"
            ],
            "allowScoringBatchOfWorkers": false,
            "descendingOrder": true
          },
          "kind": "best-worker",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227101080a-0000-0700-0000-648ccb290000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:50:49 GMT",
        "trace-id": "064863b5-cfcd-ee11-2281-782468dcf94c"
      },
      "ResponseBody": {
        "id": "1C68D15EEFFB4073C510CEE9F9A73EB627C5F336D346A29B4D",
        "name": "1C68D15EEFFB4073C510CEE9F9A73EB627C5F336D346A29B4D-Name",
        "offerExpiresAfterSeconds": 1,
        "mode": {
          "kind": "best-worker",
          "scoringRule": {
            "kind": "azure-function-rule",
            "functionUri": "https://my.function.app/api/myfunction?code=Kg==",
            "credential": {
              "appKey": "Sanitized",
              "clientId": "MyClientId"
            }
          },
          "scoringRuleOptions": {
            "scoringParameters": [
              "workerSelectors"
            ],
            "allowScoringBatchOfWorkers": false,
            "descendingOrder": true
          },
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/1C68D15EEFFB4073C510CEE9F9A73EB627C5F336D346A29B4D?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:50:52 GMT"
      },
      "RequestBody": {
        "mode": {
          "scoringRule": {
            "functionUri": "https://my.function.app/api/myfunction?code=Kg==",
            "credential": {
              "functionKey": "Sanitized"
            },
            "kind": "azure-function-rule"
          },
          "scoringRuleOptions": {
            "scoringParameters": [
              "workerSelectors"
            ],
            "allowScoringBatchOfWorkers": false,
            "descendingOrder": true
          },
          "kind": "best-worker",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versi[...]
