{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/AA-82-29-0C-19-1C-9A-CF-8B-1D-19-3D-0F-B9-F4-11-F4?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 17:38:51 GMT"
      },
      "RequestBody": {
        "name": "AA-82-29-0C-19-1C-9A-CF-8B-1D-19-3D-0F-B9-F4-11-F4-Name",
        "offerTtlSeconds": 60,
        "mode": {
          "scoringRuleOptions": {
            "descendingOrder": true
          },
          "kind": "best-worker",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022920219e0-0000-0700-0000-62aa192d0000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 17:38:53 GMT",
        "trace-id": "6d8e6132127bcc47a2691baa7decf277"
      },
      "ResponseBody": {
        "id": "AA-82-29-0C-19-1C-9A-CF-8B-1D-19-3D-0F-B9-F4-11-F4",
        "name": "AA-82-29-0C-19-1C-9A-CF-8B-1D-19-3D-0F-B9-F4-11-F4-Name",
        "offerTtlSeconds": 60,
        "mode": {
          "kind": "best-worker",
          "scoringRuleOptions": {
            "scoringParameters": [
              "jobLabels",
              "workerSelectors"
            ],
            "allowScoringBatchOfWorkers": false,
            "descendingOrder": true
          },
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
[...]
