{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-8180/providers/Microsoft.Logic/workflows/workflow2327/triggers/manual?api-version=2019-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "createdTime": "2022-08-25T08:35:18.7686829Z",
          "changedTime": "2022-08-25T08:35:18.7689072Z",
          "state": "Enabled",
          "workflow": {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-8180/providers/Microsoft.Logic/workflows/workflow2327/versions/08585401903667519010",
            "name": "08585401903667519010",
            "type": "Microsoft.Logic/workflows/versions"
          }
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-8180/providers/Microsoft.Logic/workflows/workflow2327/triggers/manual",
        "name": "manual",
        "type": "Microsoft.Logic/workflows/triggers"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-8180/providers/Microsoft.Logic/workflows/workflow2327/triggers/manual/run?api-version=2019-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-client-tracking-id": "08585401903604028364198644880CU15",
        "x-ms-execution-location": "centralus",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "4998",
        "x-ms-tracking-id": "394f5f63-9057-4ebc-aa0b-61f2c8cd16f6",
        "x-ms-trigger-history-name": "08585401903604028364198644880CU15",
        "x-ms-workflow-id": "77fc3c8bdefd4787991e39b210ca01a2",
        "x-ms-workflow-name": "workflow2327",
        "x-ms-workflow-run-id": "08585401903604028364198644880CU15",
        "x-ms-workflow-system-id": "/locations/centralus/scaleunits/prod-14/workflows/77fc3c8bdefd4787991e39b210ca01a2",
        "x-ms-workflow-version": "08585401903667519010"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-8180/providers/Microsoft.Logic/workflows/workflow2327/triggers/manual/histories?api-version=2019-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "19997"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "startTime": "2022-08-25T08:35:25.0608408Z",
              "endTime": "2022-08-25T08:35:25.4991036Z",
              "status": "Succeeded",
              "correlation": {
                "clientTrackingId": "08585401903604028364198644880CU15"
              },
              "inputsLink": {
                "uri": "https://prod-14.centralus.logic.azure.com:443/workflows/77fc3c8bdefd4787991e39b210ca01a2/triggers/manual/histories/08585401903604028364198644880CU15/contents/TriggerInputs?api-version=2019-05-01\u0026se=2022-08-25T12%3A00%3A00.0000000Z\u0026sp=%2Ftriggers%2Fmanual%2Fhistories%2F08585401903604028364198644880CU15%2Fcontents%2FTriggerInputs%2Fread\u0026sv=1.0\u0026sig=FWXd-B6cRO07taG9Ngy2CWJjA0v5FiqAXi_Pju6OAcw",
                "contentSize": 13
              },
              "outputsLink": {
                "uri": "https://prod-14.centralus.logic.azure.com:443/workflows/77fc3c8bdefd4787991e39b210ca01a2/triggers/manual/histories/08585401903604028364198644880CU15/contents/TriggerOutputs?api-version=2019-05-01\u0026se=2022-08-25T12%3A00%3A00.0000000Z\u0026sp=%2Ftriggers%2Fmanual%2Fhistories%2F08585401903604028364198644880CU15%2Fcontents%2FTriggerOutputs%2Fread\u0026sv=1.0\u0026sig=n8NbFI05WWUY7gEWTqwSAL9BnuBtEPw-jNVk0q6gGCk",
                "contentSize": 2376
              },
              "fired": true,
              "run": {
                "name": "08585401903604028364198644880CU15",
                "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-8180/providers/Microsoft.Logic/workflows/workflow2327/runs/08585401903604028364198644880CU15",
                "type": "Microsoft.Logic/workflows/runs"
              },
              "workflow": {
                "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-8180/providers/Microsoft.Logic/workfl[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-8180/providers/Microsoft.Logic/workflows/workflow2327/triggers/manual/histories/08585401903604028364198644880CU15?api-version=2019-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; char[...]
