{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-1169/providers/Microsoft.Logic/workflows/workflow5115/triggers/manual?api-version=2019-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "createdTime": "2022-08-25T08:34:40.7515589Z",
          "changedTime": "2022-08-25T08:34:40.7523949Z",
          "state": "Enabled",
          "workflow": {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-1169/providers/Microsoft.Logic/workflows/workflow5115/versions/08585401904047532084",
            "name": "08585401904047532084",
            "type": "Microsoft.Logic/workflows/versions"
          }
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-1169/providers/Microsoft.Logic/workflows/workflow5115/triggers/manual",
        "name": "manual",
        "type": "Microsoft.Logic/workflows/triggers"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-1169/providers/Microsoft.Logic/workflows/workflow5115/triggers/manual/run?api-version=2019-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-client-tracking-id": "08585401903942080779856194820CU24",
        "x-ms-execution-location": "centralus",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "4997",
        "x-ms-tracking-id": "5df52b31-eba2-445d-bcfe-3adff9b15a1a",
        "x-ms-trigger-history-name": "08585401903942080779856194820CU24",
        "x-ms-workflow-id": "fa50c0845810426d8645b8f6205b685b",
        "x-ms-workflow-name": "workflow5115",
        "x-ms-workflow-run-id": "08585401903942080779856194820CU24",
        "x-ms-workflow-system-id": "/locations/centralus/scaleunits/prod2-06/workflows/fa50c0845810426d8645b8f6205b685b",
        "x-ms-workflow-version": "08585401904047532084"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-1169/providers/Microsoft.Logic/workflows/workflow5115/triggers/manual/histories?api-version=2019-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "19995"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "startTime": "2022-08-25T08:34:51.2638415Z",
              "endTime": "2022-08-25T08:34:51.3089789Z",
              "status": "Succeeded",
              "correlation": {
                "clientTrackingId": "08585401903942080779856194820CU24"
              },
              "inputsLink": {
                "uri": "https://prod-06.centralus.logic.azure.com:443/workflows/fa50c0845810426d8645b8f6205b685b/triggers/manual/histories/08585401903942080779856194820CU24/contents/TriggerInputs?api-version=2019-05-01\u0026se=2022-08-25T12%3A00%3A00.0000000Z\u0026sp=%2Ftriggers%2Fmanual%2Fhistories%2F08585401903942080779856194820CU24%2Fcontents%2FTriggerInputs%2Fread\u0026sv=1.0\u0026sig=2Ls2eQr3Kbn45LBbhohfHW6ixlRXsScadk2UaRPq2FA",
                "contentSize": 13
              },
              "outputsLink": {
                "uri": "https://prod-06.centralus.logic.azure.com:443/workflows/fa50c0845810426d8645b8f6205b685b/triggers/manual/histories/08585401903942080779856194820CU24/contents/TriggerOutputs?api-version=2019-05-01\u0026se=2022-08-25T12%3A00%3A00.0000000Z\u0026sp=%2Ftriggers%2Fmanual%2Fhistories%2F08585401903942080779856194820CU24%2Fcontents%2FTriggerOutputs%2Fread\u0026sv=1.0\u0026sig=uD610EwmtwAKIJz9Mdk4-4FAIAQH72nFRXI1Dh64d7E",
                "contentSize": 2376
              },
              "fired": true,
              "run": {
                "name": "08585401903942080779856194820CU24",
                "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-1169/providers/Microsoft.Logic/workflows/workflow5115/runs/08585401903942080779856194820CU24",
                "type": "Microsoft.Logic/workflows/runs"
              },
              "workflow": {
                "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-1169/providers/Microsoft.Logic/workfl[...]
