{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/LogicAppRG-1169?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "centralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-1169",
        "name": "LogicAppRG-1169",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "centralus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-1169/providers/Microsoft.Logic/integrationAccounts/integration8364?api-version=2019-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "tags": {},
        "location": "centralus",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "properties": {
          "state": "Enabled"
        },
        "sku": {
          "name": "Standard"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-1169/providers/Microsoft.Logic/integrationAccounts/integration8364",
        "name": "integration8364",
        "type": "Microsoft.Logic/integrationAccounts",
        "location": "centralus",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-1169/providers/Microsoft.Logic/workflows/workflow5115?api-version=2019-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "centralus",
        "properties": {
          "integrationAccount": {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-1169/providers/Microsoft.Logic/integrationAccounts/integration8364"
          },
          "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {},
            "triggers": {
              "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                  "schema": {}
                }
              }
            },
            "actions": {
              "Response": {
                "runAfter": {},
                "type": "Response",
                "kind": "Http",
                "inputs": {
                  "statusCode": 200
                }
              }
            },
            "outputs": {}
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "createdTime": "2022-08-25T08:34:40.7515589Z",
          "changedTime": "2022-08-25T08:34:40.7475221Z",
          "state": "Enabled",
          "version": "08585401904047532084",
          "accessEndpoint": "https://prod-06.centralus.logic.azure.com:443/workflows/fa50c0845810426d8645b8f6205b685b",
          "integrationAccount": {
            "name": "integration8364",
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-1169/providers/Microsoft.Logic/integrationAccounts/integration8364",
            "type": "Microsoft.Logic/integrationAccounts"
          },
          "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {},
            "triggers": {
              "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                  "schema": {}
                }
              }
            },
            "actions": {
              "Response": {
                "runAfter": {},
                "type": "Response",
                "kind": "Http",
                "inputs": {
                  "statusCode": 200
                }
              }
            },
            "outputs": {}
          },
          "parameters": {},
          "endpointsConfiguration": {
            "workflow": {
              "outgoingIpAddresses": [
                {
                  "address": "13.67.236.125"
                },
                {
                  "address": "104.208.25.27"
                },
                {
                  "address": "40.122.170.198"
                },
                {
                  "address": "40.113.218.230"
                },
                {
                  "address": "23.100.86.139"
                },
                {
                  "address": "23.100.87.24"
                },
                {
                  "address": "23.100.87.56"
                },
                {
                  "address": "23.100.82.16"
                },
                {
                  "address": "52.141.221.6"
                },
                {
                  "address": "52.141.218.55"
                },
                {
                  "address": "20.109.202.36"
                },
                {
                  "address": "20.109.202.29"
                }
              ],
              "accessEndpointIpAddresses": [
                {
                  "address": "13.67.236.76"
                },
                {
                  "address": "40.77.111.254"
                },
                {
                  "address": "40.77.31.87"
                },
                {
                  "address": "104.43.243.39"
                },
                {
                  "address": "13.86.98.126"
                },
                {
                  "address": "20.109.202.37"
                }
              ]
            },
            "connector": {
              "outgoingIpAddresses": [
                {
                  "address": "52.173.241.27"
                },
                {
                  "address": "52.173.245.164"
                },
                {
                  "address": "13.89.171.80/28"
                },
                {
                  "address": "13.89.178.64/27"
                },
                {
                  "address": "40.77.68.110"
                },
                {
                  "address": "20.98.144.224/27"
                },
                {
                  "address": "20.98.145.0/28"
                },
                {
                  "address": "20.80.123.134"
                },
                {
                  "address": "20.80.123.57"
                }
              ]
            }
          }
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-1169/providers/Microsoft.Logic/workflows/workflow5115",
        "name": "workflow5115",
        "type": "Microsoft.Logic/workflows",
        "location": "centralus",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-1169/providers/Microsoft.Logic/workflows/workflow5115/triggers/manual?api-version=2019-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "createdTime": "2022-08-25T08:34:40.7515589Z",
          "changedTime": "2022-08-25T08:34:40.7523949Z",
          "state": "Enabled",
          "workflow": {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-1169/providers/Microsoft.Logic/workflows/workflow5115/versions/08585401904047532084",
            "name": "08585401904047532084",
            "type": "Microsoft.Logic/workflows/versions"
          }
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-1169/providers/Microsoft.Logic/workflows/workflow5115/triggers/manual",
        "name": "manual",
        "type": "Microsoft.Logic/workflows/triggers"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1770629631",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
