{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/crptestar1496?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1496",
        "name": "crptestar1496",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1496/providers/Microsoft.Compute/disks/diskrp1905?api-version=2019-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "UltraSSD_LRS"
        },
        "zones": [
          "1"
        ],
        "location": "eastus",
        "properties": {
          "osType": "Linux",
          "creationData": {
            "createOption": "Empty"
          },
          "diskSizeGB": 32,
          "diskIOPSReadWrite": 512,
          "diskMBpsReadWrite": 8
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute/locations/eastus/DiskOperations/98dabf15-3d66-4067-9724-64ca3764246e?api-version=2019-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute/locations/eastus/DiskOperations/98dabf15-3d66-4067-9724-64ca3764246e?monitor=true\u0026api-version=2019-11-01",
        "Retry-After": "2",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/CreateUpdateDisks3Min;999,Microsoft.Compute/CreateUpdateDisks30Min;7999",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022diskrp1905\u0022,\r\n",
        "  \u0022location\u0022: \u0022eastus\u0022,\r\n",
        "  \u0022zones\u0022: [\r\n",
        "    \u00221\u0022\r\n",
        "  ],\r\n",
        "  \u0022sku\u0022: {\r\n",
        "    \u0022name\u0022: \u0022UltraSSD_LRS\u0022\r\n",
        "  },\r\n",
        "  \u0022properties\u0022: {\r\n",
        "    \u0022osType\u0022: \u0022Linux\u0022,\r\n",
        "    \u0022creationData\u0022: {\r\n",
        "      \u0022createOption\u0022: \u0022Empty\u0022\r\n",
        "    },\r\n",
        "    \u0022diskSizeGB\u0022: 32,\r\n",
        "    \u0022diskIOPSReadWrite\u0022: 512,\r\n",
        "    \u0022diskMBpsReadWrite\u0022: 8,\r\n",
        "    \u0022readOnly\u0022: false,\r\n",
        "    \u0022diskIOPSReadOnly\u0022: 100,\r\n",
        "    \u0022diskMBpsReadOnly\u0022: 13,\r\n",
        "    \u0022provisioningState\u0022: \u0022Updating\u0022,\r\n",
        "    \u0022isArmResource\u0022: true\r\n",
        "  }\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute/locations/eastus/DiskOperations/98dabf15-3d66-4067-9724-64ca3764246e?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;49999,Microsoft.Compute/GetOperation30Min;399999",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022startTime\u0022: \u00222020-08-12T08:16:13.0314958\u002B00:00\u0022,\r\n",
        "  \u0022status\u0022: \u0022InProgress\u0022,\r\n",
        "  \u0022name\u0022: \u002298dabf15-3d66-4067-9724-64ca3764246e\u0022\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1496/providers/Microsoft.Compute/disks/diskrp1905?api-version=2019-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "tagKey": "tagValue"
        },
        "sku": {
          "name": "UltraSSD_LRS"
        },
        "properties": {
          "diskIOPSReadWrite": 600,
          "diskMBpsReadWrite": 9
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute/locations/eastus/DiskOperations/8e584f53-e8e4-4f27-970c-3b3c6a62d060?api-version=2019-11-01",
        "Content-[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute/locations/eastus/DiskOperations/8e584f53-e8e4-4f27-970c-3b3c6a62d060?monitor=true\u0026api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;49996,Microsoft.Compute/GetOperation30Min;399996",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "name": "diskrp1905",
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1496/providers/Microsoft.Compute/disks/diskrp1905",
        "type": "Microsoft.Compute/disks",
        "location": "eastus",
        "tags": {
          "tagKey": "tagValue"
        },
        "zones": [
          "1"
        ],
        "sku": {
          "name": "UltraSSD_LRS",
          "tier": "Ultra"
        },
        "properties": {
          "osType": "Linux",
          "creationData": {
            "createOption": "Empty"
          },
          "diskSizeGB": 32,
          "diskIOPSReadWrite": 600,
          "diskMBpsReadWrite": 9,
          "readOnly": false,
          "diskIOPSReadOnly": 100,
          "diskMBpsReadOnly": 13,
          "encryption": {
            "type": "EncryptionAtRestWithPlatformKey"
          },
          "maxShares": 1,
          "timeCreated": "2020-08-12T08:16:13.0471022\u002B00:00",
          "provisioningState": "Succeeded",
          "diskState": "Unattached",
          "diskSizeBytes": 34359738368,
          "uniqueId": "93c1fd26-3229-45dc-b9ff-42486adf0b5a"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1496/providers/Microsoft.Compute/disks/diskrp1905?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/LowCostGet3Min;4996,Microsoft.Compute/LowCostGet30Min;39996",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022error\u0022: {\r\n",
        "    \u0022code\u0022: \u0022NotFound\u0022,\r\n",
        "    \u0022message\u0022: \u0022Disk diskrp1905 is not found.\u0022\r\n",
        "  }\r\n",
        "}"
      ]
    }
  ],
  "Variables": {
    "RandomSeed": "525880098",
    "SUBSCRIPTION_ID": "c9cbd920-c00c-427c-852b-8aaf38badaeb"
  }
}