{
  "Entries": [
    {
      "RequestUri": "/subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/SdkRg8910/providers/Microsoft.DataBox/locations/westus/validateInputs?api-version=2020-11-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"validationCategory\": \"JobCreationValidation\",\r\n  \"individualRequestDetails\": [\r\n    {\r\n      \"validationType\": \"ValidateDataTransferDetails\",\r\n      \"dataImportDetails\": [\r\n        {\r\n          \"accountDetails\": {\r\n            \"dataAccountType\": \"StorageAccount\",\r\n            \"storageAccountId\": \"/subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount\"\r\n          }\r\n        }\r\n      ],\r\n      \"deviceType\": \"DataBox\",\r\n      \"transferType\": \"ImportToAzure\"\r\n    },\r\n    {\r\n      \"validationType\": \"ValidateAddress\",\r\n      \"shippingAddress\": {\r\n        \"streetAddress1\": \"16 TOWNSEND ST\",\r\n        \"streetAddress2\": \"Unit 1\",\r\n        \"city\": \"San Francisco\",\r\n        \"stateOrProvince\": \"CA\",\r\n        \"country\": \"US\",\r\n        \"postalCode\": \"94107\",\r\n        \"companyName\": \"Microsoft\",\r\n        \"addressType\": \"Commercial\"\r\n      },\r\n      \"deviceType\": \"DataBox\",\r\n      \"transportPreferences\": {\r\n        \"preferredShipmentType\": \"MicrosoftManaged\"\r\n      }\r\n    },\r\n    {\r\n      \"validationType\": \"ValidateSubscriptionIsAllowedToCreateJob\"\r\n    },\r\n    {\r\n      \"validationType\": \"ValidateSkuAvailability\",\r\n      \"deviceType\": \"DataBox\",\r\n      \"transferType\": \"ImportToAzure\",\r\n      \"country\": \"US\",\r\n      \"location\": \"westus\"\r\n    },\r\n    {\r\n      \"validationType\": \"ValidateCreateOrderLimit\",\r\n      \"deviceType\": \"DataBox\"\r\n    },\r\n    {\r\n      \"validationType\": \"ValidatePreferences\",\r\n      \"preference\": {\r\n        \"transportPreferences\": {\r\n          \"preferredShipmentType\": \"MicrosoftManaged\"\r\n        }\r\n      },\r\n      \"deviceType\": \"DataBox\"\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"status\": \"AllValidToProceed\",\r\n    \"individualResponseDetails\": [\r\n      {\r\n        \"status\": \"Valid\",\r\n        \"validationType\": \"ValidateDataTransferDetails\",\r\n        \"error\": {\r\n          \"code\": \"Success\",\r\n          \"target\": \"KeyEncryptionKey\",\r\n          \"details\": [],\r\n          \"additionalInfo\": []\r\n        }\r\n      },\r\n      {\r\n        \"validationStatus\": \"Valid\",\r\n        \"alternateAddresses\": [\r\n          {\r\n            \"streetAddress1\": \"16 TOWNSEND ST\",\r\n            \"streetAddress2\": \"Unit 1\",\r\n            \"streetAddress3\": \"\",\r\n            \"city\": \"SAN FRANCISCO\",\r\n            \"stateOrProvince\": \"CA\",\r\n            \"country\": \"US\",\r\n            \"postalCode\": \"94107\",\r\n            \"addressType\": \"None\"\r\n          }\r\n        ],\r\n        \"validationType\": \"ValidateAddress\",\r\n        \"error\": {\r\n          \"code\": \"Success\",\r\n          \"target\": \"KeyEncryptionKey\",\r\n          \"details\": [],\r\n          \"additionalInfo\": []\r\n        }\r\n      },\r\n    [...]
