{
  "Entries": [
    {
      "RequestUri": "/subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/providers/Microsoft.DataBox/locations/westus/regionConfiguration?api-version=2020-11-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"transportAvailabilityRequest\": {\r\n    \"skuName\": \"DataBox\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"transportAvailabilityResponse\": {\r\n    \"transportAvailabilityDetails\": [\r\n      {\r\n        \"shipmentType\": \"MicrosoftManaged\"\r\n      },\r\n      {\r\n        \"shipmentType\": \"CustomerManaged\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "fa68082f-8ff7-4a25-95c7-ce9da541242f",
    "SubId": "fa68082f-8ff7-4a25-95c7-ce9da541242f"
  }
}