{
  "Entries": [
    {
      "RequestUri": "/subscriptions/c574775c-5bbe-4332-ab92-bd41ff6df882/resourceGroups/DeviceUpdateResourceGroup/providers/Microsoft.DeviceUpdate/accounts/aducpsdktestaccount3?api-version=2020-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"30004abd-0000-0800-0000-6181c8e10000\""
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "x-ms-async-operation-timeout": [
          "PT15M"
        ],
        "api-supported-versions": [
          "2020-03-01-preview"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/f095e305-598c-4f78-808c-1761ca02b342*116D1AE14F89F4BF0D3CB7129EC49AC5765BD072A76C03C231F926C597E2585F?api-version=2020-03-01-preview"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c574775c-5bbe-4332-ab92-bd41ff6df882/resourceGroups/DeviceUpdateResourceGroup/providers/Microsoft.DeviceUpdate/accounts/aducpsdktestaccount3\",\r\n  \"name\": \"aducpsdktestaccount3\",\r\n  \"type\": \"microsoft.deviceupdate/accounts\",\r\n  \"location\": \"westus2\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"71318fd3-e515-4267-979a-98e06d2b139e\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2021-11-02T23:25:19.8389133Z\",\r\n    \"lastModifiedBy\": \"71318fd3-e515-4267-979a-98e06d2b139e\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2021-11-02T23:25:19.8389133Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Accepted\",\r\n    \"hostName\": \"aducpsdktestaccount3.api.adu.microsoft.com\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/f095e305-598c-4f78-808c-1761ca02b342*116D1AE14F89F4BF0D3CB7129EC49AC5765BD072A76C03C231F926C597E2585F?api-version=2020-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"3e00c84b-0000-0800-0000-6181c8fc0000\""
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/f095e305-598c-4f78-808c-1761ca02b342*116D1AE14F89F4BF0D3CB7129EC49AC5765BD072A76C03C231F926C597E2585F\",\r\n  \"name\": \"f095e305-598c-4f78-808c-1761ca02b342*116D1AE14F89F4BF0D3CB7129EC49AC5765BD072A76C03C231F926C597E2585F\",\r\n  \"resourceId\": \"/subscriptions/c574775c-5bbe-4332-ab92-bd41ff6df882/resourceGroups/DeviceUpdateResourceGroup/providers/Microsoft.DeviceUpdate/accounts/aducpsdktestaccount3\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2021-11-02T23:25:21.220612Z\",\r\n  \"endTime\": \"2021-11-02T23:25:48.7086662Z\",\r\n  \"properties\": null\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/c574775c-5bbe-4332-ab92-bd41ff6df882/resourceGroups/DeviceUpdateResourceGroup/providers/Microsoft.DeviceUpdate/accounts?api-version=2020-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "07da0cec-d117-4d68-98a6-651bb5d3409f",
          "ee7f18da-74ba-45c4-a8a3-2f6b8084fcb1",
          "c49a1eeb-c969-42f2-890c-4642b6b91bb1",
          "8f304e9e-5be0-4c13-a826-15fec32ad372"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/c574775c-5bbe-4332-ab92-bd41ff6df882/resourceGroups/DeviceUpdateResourceGroup/providers/Microsoft.DeviceUpdate/accounts/aducpsdktestaccount3\",\r\n      \"name\": \"aducpsdktestaccount3\",\r\n      \"type\": \"microsoft.deviceupdate/accounts\",\r\n      \"location\": \"westus2\",\r\n      \"systemData\": {\r\n        \"createdBy\": \"71318fd3-e515-4267-979a-98e06d2b139e\",\r\n        \"createdByType\": \"Application\",\r\n        \"createdAt\": \"2021-11-02T23:25:19.8389133Z\",\r\n        \"lastModifiedBy\": \"71318fd3-e515-4267-979a-98e06d2b139e\",\r\n        \"lastModifiedByType\": \"Application\",\r\n        \"lastModifiedAt\": \"2021-11-02T23:25:19.8389133Z\"\r\n      },\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"hostName\": \"aducpsdktestaccount3.api.adu.microsoft.com\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/c574775c-5bbe-4332-ab92-bd41ff6df882/resourceGroups/DeviceUpdateResourceGroup/providers/Microsoft.DeviceUpdate/accounts/aducpsdktestaccount3?api-version=2020-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"30009cbd-0000-0800-0000-6181c9190000\""
        ],
        "Location": [
          "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/fb096644-fd22-4354-b7ae-426f703c3e35*116D1AE14F89F4BF0D3CB7129EC49AC5765BD072A76C03C231F926C597E2585F?api-version=2020-03-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/fb096644-fd22-4354-b7ae-426f703c3e35*116D1AE14F89F4BF0D3CB7129EC49AC5765BD072A76C03C231F926C597E2585F?api-version=2020-03-01-preview"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "null",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/fb096644-fd22-4354-b7ae-426f703c3e35*116D1AE14F89F4BF0D3CB7129EC49AC5765BD072A76C03C231F926C597E2585F?api-version=2020-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"3e00d94d-0000-0800-0000-6181c93f0000\""
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/fb096644-fd22-4354-b7ae-426f703c3e35*116D1AE14F89F4BF0D3CB7129EC49AC5765BD072A76C03C231F926C597E2585F\",\r\n  \"name\": \"fb096644-fd22-4354-b7ae-426f703c3e35*116D1AE14F89F4BF0D3CB7129EC49AC5765BD072A76C03C231F926C597E2585F\",\r\n  \"resourceId\": \"/subscriptions/c574775c-5bbe-4332-ab92-bd41ff6df882/resourceGroups/DeviceUpdateResourceGroup/providers/Microsoft.DeviceUpdate/accounts/aducpsdktestaccount3\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2021-11-02T23:26:17.1259316Z\",\r\n  \"properties\": null\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "c574775c-5bbe-4332-ab92-bd41ff6df882"
  }
}