{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/34625051-15dd-44cf-90ef-f897cba300a6?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/34625051-15dd-44cf-90ef-f897cba300a6",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "34625051-15dd-44cf-90ef-f897cba300a6",
        "tenantId": "be9927fa-821c-4178-9dae-e520c4beca74",
        "displayName": "Pay-As-You-Go",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/34625051-15dd-44cf-90ef-f897cba300a6/resourcegroups/SDKTestRG-1955?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/34625051-15dd-44cf-90ef-f897cba300a6/resourceGroups/SDKTestRG-1955",
        "name": "SDKTestRG-1955",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/34625051-15dd-44cf-90ef-f897cba300a6/resourceGroups/SDKTestRG-1955/providers/Dynatrace.Observability/monitors/testDT-8328?api-version=2021-09-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "dynatraceEnvironmentProperties": {
            "singleSignOnProperties": {
              "singleSignOnState": "Disable",
              "singleSignOnUrl": "http://www.contoso.com/",
              "aadDomains": [
                "SDKTest"
              ]
            }
          },
          "userInfo": {
            "firstName": "Divyansh",
            "lastName": "Agarwal",
            "emailAddress": "agarwald@microsoft.com",
            "phoneNumber": "1234567890",
            "country": "US"
          },
          "planData": {
            "usageType": "COMMITTED",
            "billingCycle": "Monthly",
            "planDetails": "azureportalintegration_privatepreview",
            "effectiveDate": "2022-05-26T07:12:30.0000000Z"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/b558e337-c44e-4b34-a6d4-73a88fbbb180*1725BE4C9442156C64469CD6A057B52928497DB59FC13765B46B92B8B542A50A?api-version=2021-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222000769e-0000-0100-0000-628fdf730000\u0022",
        "Location": "https://management.azure.com/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/b558e337-c44e-4b34-a6d4-73a88fbbb180*1725BE4C9442156C64469CD6A057B52928497DB59FC13765B46B92B8B542A50A?api-version=2021-09-01-preview",
        "mise-correlation-id": "457cf4f6-3208-4fa2-aad5-ddf78c9dde8f",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/34625051-15dd-44cf-90ef-f897cba300a6/resourceGroups/SDKTestRG-1955/providers/Dynatrace.Observability/monitors/testDT-8328",
        "name": "testDT-8328",
        "type": "dynatrace.observability/monitors",
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "5f5198fa-5086-4347-b257-fe5003e52d41",
          "createdByType": "Application",
          "createdAt": "2022-05-26T20:13:35.7289093Z",
          "lastModifiedBy": "5f5198fa-5086-4347-b257-fe5003e52d41",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-05-26T20:13:35.7289093Z"
        },
        "properties": {
          "monitoringStatus": "Enabled",
          "marketplaceSubscriptionStatus": "Active",
          "dynatraceEnvironmentProperties": {
            "userId": null,
            "accountInfo": null,
            "environmentInfo": null,
            "singleSignOnProperties": {
              "singleSignOnState": "Disable",
              "enterpriseAppId": null,
              "singleSignOnUrl": "http://www.contoso.com/",
              "aadDomains": [
                "SDKTest"
              ],
              "provisioningState": "Accepted"
            }
          },
          "userInfo": null,
          "planData": {
            "usageType": "COMMITTED",
            "billingCycle": "Monthly",
            "planDetails": "azureportalintegration_privatepreview",
            "effectiveDate": "2022-05-26T07:12:30Z"
          },
          "liftrResourceCategory": "MonitorLogs",
          "liftrResourcePreference": 0,
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/b558e337-c44e-4b34-a6d4-73a88fbbb180*1725BE4C9442156C64469CD6A057B52928497DB59FC13765B46B92B8B542A50A?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222f036a30-0000-0100-0000-628fdf730000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/b558e337-c44e-4b34-a6d4-73a88fbbb180*1725BE4C9442156C64469CD6A057B52928497DB59FC13765B46B92B8B542A50A",
        "name": "b558e337-c44e-4b34-a6d4-73a88fbbb180*1725BE4C9442156C64469CD6A057B52928497DB59FC13765B46B92B8B542A50A",
        "resourceId": "/subscriptions/34625051-15dd-44cf-90ef-f897cba300a6/resourceGroups/SDKTestRG-1955/providers/Dynatrace.Observability/monitors/testDT-8328",
        "status": "Accepted",
        "startTime": "2022-05-26T20:13:39.2594649Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/b558e337-c44e-4b34-a6d4-73a88fbbb180*1725BE4C9442156C64469CD6A057B52928497DB59FC13765B46B92B8B542A50A?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222f033f38-0000-0100-0000-628fdfa40000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11991"
      },
      "ResponseBody": {
        "id": "/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/b558e337-c44e-4b34-a6d4-73a88fbbb180*1725BE4C9442156C64469CD6A057B52928497DB59FC13765B46B92B8B542A50A",
        "name": "b558e337-c44e-4b34-a6d4-73a88fbbb180*1725BE4C9442156C64469CD6A057B52928497DB59FC13765B46B92B8B542A50A",
        "resourceId": "/subscriptions/34625051-15dd-44cf-90ef-f897cba300a6/resourceGroups/SDKTestRG-1955/providers/Dynatrace.Observability/monitors/testDT-8328",
        "status": "Succeeded",
        "startTime": "2022-05-26T20:13:39.2594649Z",
        "endTime": "2022-05-26T20:14:28.138408Z",
        "error": {},
        "properties": null
      }
    },
[...]
