{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tagValue1",
          "tagKey2": "tagValue2"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testeventhubRG-6699?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "tags": {
          "test": "env"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6699",
        "name": "testeventhubRG-6699",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.EventHub/checkNameAvailability?api-version=2018-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "testnamespacemgmt431"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "nameAvailable": true,
        "reason": "None",
        "message": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6699/providers/Microsoft.EventHub/namespaces/testnamespacemgmt431?api-version=2018-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "49"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6699/providers/Microsoft.EventHub/namespaces/testnamespacemgmt431",
        "name": "testnamespacemgmt431",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "East US 2",
        "tags": {},
        "properties": {
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Created",
          "metricId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c:testnamespacemgmt431",
          "createdAt": "2021-09-15T08:24:14.3Z",
          "updatedAt": "2021-09-15T08:24:14.3Z",
          "serviceBusEndpoint": "https://testnamespacemgmt431.servicebus.windows.net:443/",
          "status": "Activating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6699/providers/Microsoft.EventHub/namespaces/testnamespacemgmt431/eventhubs/eventhub7084?api-version=2018-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6699/providers/Microsoft.EventHub/namespaces/testnamespacemgmt431/eventhubs/eventhub7084",
        "name": "eventhub7084",
        "type": "Microsoft.EventHub/Namespaces/EventHubs",
        "location": "East US 2",
        "properties": {
          "messageRetentionInDays": 7,
          "partitionCount": 4,
          "status": "Active",
          "createdAt": "2021-09-15T08:25:09.257Z",
          "updatedAt": "2021-09-15T08:25:09.487Z",
          "partitionIds": [
            "0",
            "1",
            "2",
            "3"
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6699/providers/Microsoft.EventHub/namespaces/testnamespacemgmt431/eventhubs/eventhub7084/consumergroups/consumergroup3898?api-version=2018-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6699/providers/Microsoft.EventHub/namespaces/testnamespacemgmt431/eventhubs/eventhub7084/consumergroups/consumergroup3898",
        "name": "consumergroup3898",
        "type": "Microsoft.EventHub/Namespaces/EventHubs/ConsumerGroups",
        "location": "East US 2",
        "properties": {
          "createdAt": "2021-09-15T08:25:11.8174153Z",
          "updatedAt": "2021-09-15T08:25:11.8174153Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6699/providers/Microsoft.EventHub/namespaces/testnamespacemgmt431/eventhubs/eventhub7084/consumergroups/consumergroup3898?api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "11954"
      },
      "ResponseBody": {
        "error": {
          "message": "Entity \u0027TESTNAMESPACEMGMT431:EVENTHUB:EVENTHUB7084~16383|CONSUMERGROUP3898\u0027 was not found. To know more visit https://aka.ms/sbResourceMgrExceptions. . TrackingId:3ab047eb-4831-4c4c-ab4c-3e4ea7ed996f_M7CH3_M7CH3_G2, SystemTracker:testnamespacemgmt431:EventHub:eventhub7084, Timestamp:2021-09-15T08:25:13 CorrelationId: 2f78f7be-5cea-415c-9d5e-f87e8c84f6f5",
          "code": "NotFound"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6699/providers/Microsoft.EventHub/namespaces?api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "11952"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "Standard",
              "tier": "Standard",
              "capacity": 1
            },
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6699/providers/Microsoft.EventHub/namespaces/testnamespacemgmt431",
            "name": "testnamespacemgmt431",
            "type": "Microsoft.EventHub/Namespaces",
            "location": "East US 2",
            "tags": {},
            "properties": {
              "zoneRedundant": false,
              "isAutoInflateEnabled": false,
              "maximumThroughputUnits": 0,
              "kafkaEnabled": true,
              "provisioningState": "Succeeded",
              "metricId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c:testnamespacemgmt431",
              "createdAt": "2021-09-15T08:24:14.3Z",
              "updatedAt": "2021-09-15T08:25:05.39Z",
              "serviceBusEndpoint": "https://testnamespacemgmt431.servicebus.windows.net:443/",
              "status": "Active"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6699/providers/Microsoft.EventHub/namespaces/testnamespacemgmt431?api-version=2018-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6699/providers/Microsoft.EventHub/namespaces/testnamespacemgmt431/operationresults/testnamespacemgmt431?api-version=2018-01-01-preview",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-deletes": "14997"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6699/providers/Microsoft.EventHub/namespaces/testnamespacemgmt431/operationresults/testnamespacemgmt431?api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6699/providers/Microsoft.EventHub/namespaces/testnamespacemgmt431/operationresults/testnamespacemgmt431?api-version=2018-01-01-preview",
        "Retry-After": "51",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "11951"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6699/providers/Microsoft.EventHub/namespaces/testnamespacemgmt431",
        "name": "testnamespacemgmt431",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "East US 2",
        "tags": {},
        "properties": {
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Succeeded",
          "metricId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c:testnamespacemgmt431",
          "createdAt": "2021-09-15T08:24:14.3Z",
          "updatedAt": "2021-09-15T08:25:17.227Z",
          "serviceBusEndpoint": "https://testnamespacemgmt431.servicebus.windows.net:443/",
          "status": "Removing"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6699/providers/Microsoft.EventHub/namespaces/testnamespacemgmt431/operationresults/testnamespacemgmt431?api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "11934"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "409648729",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}