{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11966"
      },
      "ResponseBody": {
        "id": "/subscriptions/326100e2-f69d-4268-8503-075374f62b6e",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "subscriptionId": "326100e2-f69d-4268-8503-075374f62b6e",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure Messaging PM Playground",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourcegroups/testeventhubRG-747?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "id": "/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/testeventhubRG-747",
        "name": "testeventhubRG-747",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/providers/Microsoft.EventHub/checkNameAvailability?api-version=2022-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "testnamespacemgmt6728"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "nameAvailable": true,
        "reason": "None",
        "message": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/testeventhubRG-747/providers/Microsoft.EventHub/namespaces/testnamespacemgmt6728?api-version=2022-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "47"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "id": "/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/testeventhubRG-747/providers/Microsoft.EventHub/namespaces/testnamespacemgmt6728",
        "name": "testnamespacemgmt6728",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "East US 2",
        "tags": {},
        "properties": {
          "minimumTlsVersion": "1.2",
          "publicNetworkAccess": "Enabled",
          "disableLocalAuth": false,
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Created",
          "metricId": "326100e2-f69d-4268-8503-075374f62b6e:testnamespacemgmt6728",
          "createdAt": "2022-12-09T07:09:33.993Z",
          "updatedAt": "2022-12-09T07:09:33.993Z",
          "serviceBusEndpoint": "https://testnamespacemgmt6728.servicebus.windows.net:443/",
          "status": "Activating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/testeventhubRG-747/providers/Microsoft.EventHub/namespaces/testnamespacemgmt6728/eventhubs/eventhub7877?api-version=2022-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "id": "/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/testeventhubRG-747/providers/Microsoft.EventHub/namespaces/testnamespacemgmt6728/eventhubs/eventhub7877",
        "name": "eventhub7877",
        "type": "Microsoft.EventHub/namespaces/eventhubs",
        "location": "eastus2",
        "properties": {
          "messageRetentionInDays": 7,
          "partitionCount": 4,
          "status": "Active",
          "createdAt": "2022-12-09T07:10:44.067Z",
          "updatedAt": "2022-12-09T07:10:44.25Z",
          "partitionIds": [
            "0",
            "1",
            "2",
            "3"
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/testeventhubRG-747/providers/Microsoft.EventHub/namespaces/testnamespacemgmt6728/eventhubs/eventhub7877/consumergroups/testconsumergroup01280?api-version=2022-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": {
        "id": "/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/testeventhubRG-747/providers/Microsoft.EventHub/namespaces/testnamespacemgmt6728/eventhubs/eventhub7877/consumergroups/testconsumergroup01280",
        "name": "testconsumergroup01280",
        "type": "Microsoft.EventHub/namespaces/eventhubs/consumergroups",
        "location": "eastus2",
        "properties": {
          "createdAt": "2022-12-09T07:10:45.7960233Z",
          "updatedAt": "2022-12-09T07:10:45.7960233Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/testeventhubRG-747/providers/Microsoft.EventHub/namespaces/testnamespacemgmt6728/eventhubs/eventhub7877/consumergroups?api-version=2022-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-inline-count": "",
        "x-ms-ratelimit-remaining-subscription-reads": "11956"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/testeventhubRG-747/providers/Microsoft.EventHub/namespaces/testnamespacemgmt6728/eventhubs/eventhub7877/consumergroups/$Default",
            "name": "$Default",
            "type": "Microsoft.EventHub/namespaces/eventhubs/consumergroups",
            "location": "eastus2",
            "properties": {
              "createdAt": "2022-12-09T07:10:44.126Z",
              "updatedAt": "2022-12-09T07[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/testeventhubRG-747/providers/Microsoft.EventHub/namespaces/testnamespacemgmt6728/eventhubs/eventhub7877/consumergroups?api-version=2022-01-01-preview\u0026$skip=5\u0026$top=5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Typ[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/testeventhubRG-747/providers/Microsoft.EventHub/namespaces/testnamespacemgmt6728/eventhubs/eventhub7877/consumergroups?api-version=2022-01-01-preview\u0026$skip=10\u0026$top=5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-inline-count": "",
        "x-ms-ratelimit-remaining-subscription-reads": "11954"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/testeventhubRG-747/providers/Microsoft.EventHub/namespaces/testnamespacemgmt6728/eventhubs/eventhub7877/consumergroups/testconsumergroup93215",
            "name": "testconsumergroup93215",
            "type": "Microsoft.EventHub/namespaces/eventhubs/consumergroups",
            "location": "eastus2",
            "properties": {
              "createdAt": "2022-12-09T07:10:56.973Z",
              "updatedAt": "2022-12-09T07:10:56.973Z"
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1086850021",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "326100e2-f69d-4268-8503-075374f62b6e"
  }
}
