{
  "Entries": [
    {
      "RequestUri": "/subscriptions/3919658b-68ae-4509-8c17-6a2238340ae7/resourceGroups/RedisGetList3786/providers/Microsoft.Cache/redis/RedisGetList9254/listKeys?api-version=2022-06-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "833439e0-b740-4cd3-bb1d-5515649d1e5a"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"primaryKey\": \"WjNcMr2vYTASFw4Cy42mfaSS1lKpCX3r9AzCaNAO6e4=\",\r\n  \"secondaryKey\": \"Z9bvx2sL8pctSU89eDipAYLBM7n0w7G2ZAzCaMnlE2g=\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/3919658b-68ae-4509-8c17-6a2238340ae7/resourceGroups/RedisGetList3786/providers/Microsoft.Cache/redis/RedisGetList9254/regenerateKey?api-version=2022-06-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"keyType\": \"Primary\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "833439e0-b740-4cd3-bb1d-5515649d1e5a"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"primaryKey\": \"6uPcT1f70U40ZrszyvpII8yceGwYAdNs8AzCaFTZ6WA=\",\r\n  \"secondaryKey\": \"Z9bvx2sL8pctSU89eDipAYLBM7n0w7G2ZAzCaMnlE2g=\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "3919658b-68ae-4509-8c17-6a2238340ae7"
  }
}