{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "parameters": {
          "keyVaultEndpoint": "https://fakeuri.com/",
          "keyVaultClientId": "clientId",
          "keyVaultClientSecret": "Sanitized",
          "servicePrincipalIdNameInKV": "clientIdSecretName",
          "servicePrincipalSecretNameInKV": "clientSecretSecretName",
          "tenantId": "tenantId"
        },
        "dataSourceCredentialType": "ServicePrincipalInKV",
        "dataSourceCredentialName": "credentialrLoTkN6a",
        "dataSourceCredentialDescription": "This is a description"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/886f85fa-8257-44dc-b409-c6ac30483199"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/886f85fa-8257-44dc-b409-c6ac30483199",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataSourceCredentialId": "886f85fa-8257-44dc-b409-c6ac30483199",
        "dataSourceCredentialName": "credentialrLoTkN6a",
        "dataSourceCredentialDescription": "This is a description",
        "dataSourceCredentialType": "ServicePrincipalInKV",
        "parameters": {
          "servicePrincipalSecretNameInKV": "clientSecretSecretName",
          "servicePrincipalIdNameInKV": "clientIdSecretName",
          "tenantId": "tenantId",
          "keyVaultClientId": "clientId",
          "keyVaultEndpoint": "https://fakeuri.com/"
        }
      }
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/886f85fa-8257-44dc-b409-c6ac30483199",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "670197164"
  }
}