{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "parameters": {
          "keyVaultEndpoint": "https://fakeuri.com/",
          "keyVaultClientId": "clientId",
          "keyVaultClientSecret": "Sanitized",
          "servicePrincipalIdNameInKV": "clientIdSecretName",
          "servicePrincipalSecretNameInKV": "clientSecretSecretName",
          "tenantId": "tenantId"
        },
        "dataSourceCredentialType": "ServicePrincipalInKV",
        "dataSourceCredentialName": "credentialxGZ16wwx"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/6fd9013c-52ee-461d-88b3-62b1b58e4691"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/6fd9013c-52ee-461d-88b3-62b1b58e4691",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataSourceCredentialId": "6fd9013c-52ee-461d-88b3-62b1b58e4691",
        "dataSourceCredentialName": "credentialxGZ16wwx",
        "dataSourceCredentialDescription": "",
        "dataSourceCredentialType": "ServicePrincipalInKV",
        "parameters": {
          "servicePrincipalSecretNameInKV": "clientSecretSecretName",
          "servicePrincipalIdNameInKV": "clientIdSecretName",
          "tenantId": "tenantId",
          "keyVaultClientId": "clientId",
          "keyVaultEndpoint": "https://fakeuri.com/"
        }
      }
    },
[...]
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/6fd9013c-52ee-461d-88b3-62b1b58e4691",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "180972362"
  }
}