{
  "Entries": [
    {
      "RequestUri": "/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/deploymentmanager-sdk-net-test-rg2388?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourceGroups/deploymentmanager-sdk-net-test-rg2388\",\r\n  \"name\": \"deploymentmanager-sdk-net-test-rg2388\",\r\n  \"location\": \"centralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourceGroups/adm-sdk-tests/providers/Microsoft.Storage/storageAccounts/sdktests/listKeys?api-version=2015-06-15",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"key1\": \"RLZtDAk4JJch3Mo4w5IFI8RVukyHR126iZdA4+V5LE5Sf8rQWzg0MYqYR64aS6Pk1EVwOIarAHeIoqxC7u0Z8w==\",\r\n  \"key2\": \"Sg3aTntH8JvErHxBx/ZpJq5G6vjcsG4TWjlghK9v+61+jqObdSCcgulblvNvmSYdTpAXTgWzIOhkY/jRVqtn2g==\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourceGroups/deploymentmanager-sdk-net-test-rg2388/providers/Microsoft.DeploymentManager/artifactSources/sdk-for-net-topologyv1?api-version=2018-09-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sourceType\": \"AzureStorage\",\r\n    \"artifactRoot\": \"builds/1.0.0.0\",\r\n    \"authentication\": {\r\n      \"type\": \"Sas\",\r\n      \"properties\": {\r\n        \"sasUri\": \"https://sdktests.blob.core.windows.net/artifacts?sv=2017-04-17&sr=c&sig=4JlEe919CeM6jUyYuwsdTRvuFjCaPXshGv6lPqeduXA%3D&st=2019-03-05T01%3A47%3A17Z&se=2019-03-08T01%3A47%3A17Z&sp=rl\"\r\n      }\r\n    }\r\n  },\r\n  \"location\": \"Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"sourceType\": \"AzureStorage\",\r\n    \"artifactRoot\": \"builds/1.0.0.0\",\r\n    \"authentication\": {\r\n      \"type\": \"Sas\",\r\n      \"properties\": {\r\n        \"sasUri\": \"https://sdktests.blob.core.windows.net/artifacts?sv=2017-04-17&sr=c&sig=4JlEe919CeM6jUyYuwsdTRvuFjCaPXshGv6lPqeduXA%3D&st=2019-03-05T01%3A47%3A17Z&se=2019-03-08T01%3A47%3A17Z&sp=rl\"\r\n      }\r\n    },\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"type\": \"Microsoft.DeploymentManager/artifactSources\",\r\n  \"apiVersion\": \"2018-09-01-preview\",\r\n  \"id\": \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/deploymentmanager-sdk-net-test-rg2388/providers/Microsoft.DeploymentManager/artifactSources/sdk-for-net-topologyv1\",\r\n  \"name\": \"sdk-for-net-topologyv1\",\r\n  \"location\": \"Central US\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourceGroups/deploymentmanager-sdk-net-test-rg2388/providers/Microsoft.DeploymentManager/serviceTopologies/sdk-for-net?api-version=2018-09-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"artifactSourceId\": \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/deploymentmanager-sdk-net-test-rg2388/providers/Microsoft.DeploymentManager/artifactSources/sdk-for-net-topologyv1\"\r\n  },\r\n  \"location\": \"Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"artifactSourceId\": \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/deploymentmanager-sdk-net-test-rg2388/providers/Microsoft.DeploymentManager/artifactSources/sdk-for-net-topologyv1\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"type\": \"Microsoft.DeploymentManager/servicetopologies\",\r\n  \"apiVersion\": \"2018-09-01-preview\",\r\n  \"id\": \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/deploymentmanager-sdk-net-test-rg2388/providers/Microsoft.DeploymentManager/serviceTopologies/sdk-for-net\",\r\n  \"name\": \"sdk-for-net\",\r\n  \"location\": \"Central US\"\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourceGroups/deploymentmanager-sdk-net-test-rg2388/providers/Microsoft.DeploymentManager/serviceTopologies/sdk-for-net?api-version=2018-09-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.DeploymentManager/serviceTopologies/sdk-for-net' under resource group 'deploymentmanager-sdk-net-test-rg2388' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourceGroups/deploymentmanager-sdk-net-test-rg2388/providers/Microsoft.DeploymentManager/serviceTopologies/sdk-for-net/services/Contoso_Service?api-version=2018-09-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"targetLocation\": \"East US 2\",\r\n    \"targetSubscriptionId\": \"53012dcb-5039-4e96-8e6c-5d913da1cdb5\"\r\n  },\r\n  \"location\": \"Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"targetSubscriptionId\": \"53012dcb-5039-4e96-8e6c-5d913da1cdb5\",\r\n    \"targetLocation\": \"East US 2\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"type\": \"Microsoft.DeploymentManager/serviceTopologies/services\",\r\n  \"apiVersion\": \"2018-09-01-preview\",\r\n  \"id\": \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/deploymentmanager-sdk-net-test-rg2388/providers/Microsoft.DeploymentManager/serviceTopologies/sdk-for-net/services/Contoso_Service\",\r\n  \"name\": \"Contoso_Service\",\r\n  \"location\": \"Central US\"\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourceGroups/deploymentmanager-sdk-net-test-rg2388/providers/Microsoft.DeploymentManager/serviceTopologies/sdk-for-net/services/Contoso_Service/serviceUnits/Contoso_WebApp?api-version=2018-09-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"targetResourceGroup\": \"sdk-net-targetResourceGroup\",\r\n    \"deploymentMode\": \"Incremental\",\r\n    \"artifacts\": {\r\n      \"templateArtifactSourceRelativePath\": \"Templates/WebApp.Template.json\",\r\n      \"parametersArtifactSourceRelativePath\": \"Parameters/WebApp.Parameters.json\"\r\n    }\r\n  },\r\n  \"location\": \"Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/deploymentmanager-sdk-net-test-rg2388/providers/Microsoft.DeploymentManager/operationResults/d39a187e-29eb-4291-9230-86e510210cd2?api-version=2018-09-01-preview"
        ],
        "Retry-After": [
          "42"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/deploymentmanager-sdk-net-test-rg2388/providers/Microsoft.DeploymentManager/operationResults/d39a187e-29eb-4291-9230-86e510210cd2?api-version=2018-09-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"targetResourceGroup\": \"sdk-net-targetResourceGroup\",\r\n    \"deploymentMode\": \"Incremental\",\r\n    \"artifacts\": {\r\n      \"templateArtifactSourceRelativePath\": \"Templates/WebApp.Template.json\",\r\n      \"parametersArtifactSourceRelativePath\": \"Parameters/WebApp.Parameters.json\"\r\n    },\r\n    \"provisioningState\": \"Running\"\r\n  },\r\n  \"type\": \"Microsoft.DeploymentManager/serviceTopologies/services/serviceUnits\",\r\n  \"apiVersion\": \"2018-09-01-preview\",\r\n  \"id\": \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/deploymentmanager-sdk-net-test-rg2388/providers/Microsoft.DeploymentManager/serviceTopologies/sdk-for-net/services/Contoso_Service/serviceUnits/Contoso_WebApp\",\r\n  \"name\": \"Contoso_WebApp\",\r\n  \"location\": \"Central US\"\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/deploymentmanager-sdk-net-test-rg2388/providers/Microsoft.DeploymentManager/operationResults/d39a187e-29eb-4291-9230-86e510210cd2?api-version=2018-09-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/deploymentmanager-sdk-net-test-rg2388/providers/Microsoft.DeploymentManager/serviceTopologies/sdk-for-net/services/Contoso_Service/serviceUnits/Contoso_WebApp?api-version=2018-09-01-preview"
        ],
        "Retry-After": [
          "30"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2019-03-06T01:47:24.792Z\",\r\n  \"endTime\": \"2019-03-06T01:47:30.314Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourceGroups/deploymentmanager-sdk-net-test-rg2388/providers/Microsoft.DeploymentManager/rollouts/rollout1?api-version=2018-09-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"identity\": {\r\n    \"type\": \"userAssigned\",\r\n    \"identityIds\": [\r\n      \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/adm-sdk-tests/providers/Microsoft.ManagedIdentity/userassignedidentities/admsdktests\"\r\n    ]\r\n  },\r\n  \"properties\": {\r\n    \"buildVersion\": \"1.0.0.0\",\r\n    \"artifactSourceId\": \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/deploymentmanager-sdk-net-test-rg2388/providers/Microsoft.DeploymentManager/artifactSources/sdk-for-net-topologyv1\",\r\n    \"targetServiceTopologyId\": \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/deploymentmanager-sdk-net-test-rg2388/providers/Microsoft.DeploymentManager/serviceTopologies/sdk-for-net\",\r\n    \"stepGroups\": [\r\n      {\r\n        \"name\": \"First_Region\",\r\n        \"deploymentTargetId\": \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/deploymentmanager-sdk-net-test-rg2388/providers/Microsoft.DeploymentManager/serviceTopologies/sdk-for-net/services/Contoso_Service/serviceUnits/Contoso_WebApp\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.[...]
[...]
    {
      "RequestUri": "/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourceGroups/deploymentmanager-sdk-net-test-rg2388/providers/Microsoft.DeploymentManager/rollouts/rollout1?api-version=2018-09-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/deploymentmanager-sdk-net-test-rg2388/providers/Microsoft.DeploymentManager/rollouts/rollout1?api-version=2018-09-01-preview"
        ],
        "Retry-After": [
          "120"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11993"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"identity\": {\r\n    \"type\": \"userAssigned\",\r\n    \"identityIds\": [\r\n      \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/adm-sdk-tests/providers/Microsoft.ManagedIdentity/userassignedidentities/admsdktests\"\r\n    ]\r\n  },\r\n  \"properties\": {\r\n    \"status\": \"Running\",\r\n    \"totalRetryAttempts\": 0,\r\n    \"operationInfo\": {\r\n      \"retryAttempt\": 0,\r\n      \"skipSucceededOnRetry\": false,\r\n      \"startTime\": \"2019-03-06T01:48:18.338Z\",\r\n      \"lastUpdatedTime\": \"2019-03-06T01:48:18.338Z\"\r\n    },\r\n    \"services\": [\r\n      {\r\n        \"name\": \"Contoso_Service\",\r\n        \"targetSubscriptionId\": \"53012dcb-5039-4e96-8e6c-5d913da1cdb5\",\r\n        \"targetLocation\": \"East US 2\",\r\n        \"serviceUnits\": [\r\n          {\r\n            \"name\": \"Contoso_WebApp\",\r\n            \"targetResourceGroup\": \"sdk-net-targetResourceGroup\",\r\n            \"artifacts\": {},\r\n            \"steps\": [\r\n              {\r\n                \"name\": \"Deploy\",\r\n                \"stepGroup\": \"First_Region\",\r\n                \"status\": \"Running\",\r\n                \"operationInfo\": {\r\n                  \"correlationId\": \"af0dbbeb-8d18-4677-94c2-272b53476bc5\",\r\n                  \"deploymentName\": \"918D8C42A14640458ACDB241ED1F85650Contoso_WebApp\",\r\n                  \"startTime\": \"2019-03-06T01:48:32.734Z\",\r\n                  \"lastUpdatedTime\": \"2019-03-06T01:49:05.265Z\"\r\n                },\r\n                \"resourceOperations\": [\r\n                  {\r\n                    \"ResourceName\": \"AdmSdkNetNodejsAppPlan\",\r\n                    \"OperationId\": \"2BD1ABC3B260BF38\",\r\n                    \"ResourceType\": \"Microsoft.Web/serverfarms\",\r\n                    \"ProvisioningState\": \"Succeeded\",\r\n                    \"StatusMessage\": \"\",\r\n                    \"StatusCode\": \"OK\"\r\n                  }\r\n                ],\r\n                \"messages\": []\r\n              }\r\n            ]\r\n          }\r\n        ]\r\n      }\r\n    ],\r\n    \"buildVersion\": \"1.0.0.0\",\r\n    \"targetServiceTopologyId\": \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/deploymentmanager-sdk-net-test-rg2388/providers/Microsoft.DeploymentManager/serviceTopologies/sdk-for-net\",\r\n    \"artifactSourceId\": \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/deploymentmanager-sdk-net-test-rg2388/providers/Microsoft.DeploymentManager/artifactSources/sdk-for-net-topologyv1\",\r\n    \"stepGroups\": [\r\n      {\r\n        \"name\": \"First_Region\",\r\n        \"deploymentTargetId\": \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/deploymentmanager-sdk-net-test-rg2388/providers/Microsoft.DeploymentManager/serviceTopologies/sdk-for-net/services/Contoso_Service/serviceUnits/Contoso_WebApp\",\r\n        \"preDeploymentSteps\": [],\r\n        \"postDeploymentSteps\": [],\r\n        \"dependsOnStepGroups\": []\r\n      }\r\n    ],\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"type\": \"Microsoft.DeploymentManager/rollouts\",\r\n  \"apiVersion\": \"2018-09-01-preview\",\r\n  \"id\": \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/deploymentmanager-sdk-net-test-rg2388/providers/Microsoft.DeploymentManager/rollouts/rollout1\",\r\n  \"name\": \"rollout1\",\r\n  \"location\": \"Central US\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourceGroups/deploymentmanager-sdk-net-test-rg2388/providers/Microsoft.DeploymentManager/rollouts/rollout1/cancel?api-version=2018-09-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/deploymentmanager-sdk-net-[...]
[...]
    {
      "RequestUri": "/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/sdk-net-targetResourceGroup?api-version=2015-11-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TREs6MkRORVQ6MkRUQVJHRVRSRVNPVVJDRUdST1VQLUVBU1RVUzIiLCJqb2JMb2NhdGlvbiI6ImVhc3R1czIifQ?api-version=2015-11-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14998"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TREs6MkRORVQ6MkRUQVJHRVRSRVNPVVJDRUdST1VQLUVBU1RVUzIiLCJqb2JMb2NhdGlvbiI6ImVhc3R1czIifQ?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TREs6MkRORVQ6MkRUQVJHRVRSRVNPVVJDRUdST1VQLUVBU1RVUzIiLCJqb2JMb2NhdGlvbiI6ImVhc3R1czIifQ?api-version=2015-11-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1ERVBMT1lNRU5UTUFOQUdFUjoyRFNESzoyRE5FVDoyRFRFU1Q6MkRSRzIzODgtQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJjZW50cmFsdXMifQ?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1ERVBMT1lNRU5UTUFOQUdFUjoyRFNESzoyRE5FVDoyRFRFU1Q6MkRSRzIzODgtQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJjZW50cmFsdXMifQ?api-version=2015-11-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11989"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1ERVBMT1lNRU5UTUFOQUdFUjoyRFNESzoyRE5FVDoyRFRFU1Q6MkRSRzIzODgtQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJjZW50cmFsdXMifQ?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11986"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    ".ctor": [
      "deploymentmanager-sdk-net-test-rg2388"
    ]
  },
  "Variables": {
    "SubscriptionId": "53012dcb-5039-4e96-8e6c-5d913da1cdb5"
  }
}