{
  "Entries": [
    {
      "RequestUri": "/subscriptions/74eccef0-4b8d-4f83-b5f9-fa100d155b22/providers/Microsoft.MachineLearningCompute?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/74eccef0-4b8d-4f83-b5f9-fa100d155b22/providers/Microsoft.MachineLearningCompute\",\r\n  \"namespace\": \"Microsoft.MachineLearningCompute\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"0736f41a-0425-4b46-bdb5-1563eff02385\",\r\n    \"roleDefinitionId\": \"376aa7d7-51a9-463d-bd4d-7e1691345612\",\r\n    \"managedByRoleDefinitionId\": \"91d00862-cf55-46a5-9dce-260bbd92ce25\"\r\n  },\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"operationalizationClusters\",\r\n      \"locations\": [\r\n        \"East US 2\",\r\n        \"West Central US\",\r\n        \"Australia East\",\r\n        \"West Europe\",\r\n        \"Southeast Asia\",\r\n        \"East US 2 EUAP\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2017-08-01-preview\",\r\n        \"2017-06-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"operations\",\r\n      \"locations\": [\r\n        \"East US 2\",\r\n        \"East US 2 EUAP\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2017-08-01-preview\",\r\n        \"2017-06-01-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"locations\",\r\n      \"locations\": [\r\n        \"East US 2\",\r\n        \"East US 2 EUAP\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2017-08-01-preview\",\r\n        \"2017-06-01-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"locations/operations\",\r\n      \"locations\": [\r\n        \"East US 2\",\r\n        \"West Central US\",\r\n        \"Australia East\",\r\n        \"West Europe\",\r\n        \"Southeast Asia\",\r\n        \"East US 2 EUAP\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2017-08-01-preview\",\r\n        \"2017-06-01-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"locations/operationsStatus\",\r\n      \"locations\": [\r\n        \"East US 2\",\r\n        \"West Central US\",\r\n        \"Australia East\",\r\n        \"West Europe\",\r\n        \"Southeast Asia\",\r\n        \"East US 2 EUAP\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2017-08-01-preview\",\r\n        \"2017-06-01-preview\"\r\n      ]\r\n    }\r\n  ],\r\n  \"registrationState\": \"Registered\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14983"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/74eccef0-4b8d-4f83-b5f9-fa100d155b22/resourcegroups/mlcrp-dotnet-test-list-sub4648?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US 2 EUAP\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/74eccef0-4b8d-4f83-b5f9-fa100d155b22/resourceGroups/mlcrp-dotnet-test-list-sub4648\",\r\n  \"name\": \"mlcrp-dotnet-test-list-sub4648\",\r\n  \"location\": \"eastus2euap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/74eccef0-4b8d-4f83-b5f9-fa100d155b22/resourceGroups/mlcrp-dotnet-test-list-sub4648/providers/Microsoft.MachineLearningCompute/operationalizationClusters/mlcrp-dotnet-test-list-sub9328?api-version=2017-08-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"description\": \"Test cluster\",\r\n    \"clusterType\": \"ACS\",\r\n    \"containerService\": {\r\n      \"orchestratorType\": \"Kubernetes\",\r\n      \"orchestratorProperties\": {\r\n        \"servicePrincipal\": {\r\n          \"clientId\": \"00000000-0000-0000-0000-000000000000\",\r\n          \"secret\": \"abcde\"\r\n        }\r\n      }\r\n    }\r\n  },\r\n  \"location\": \"East US 2 EUAP\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/74eccef0-4b8d-4f83-b5f9-fa100d155b22/resourcegroups/mlcrp-dotnet-test-list-sub4648/providers/Microsoft.MachineLearningCompute/operationalizationClusters/mlcrp-dotnet-test-list-sub9328\",\r\n  \"name\": \"mlcrp-dotnet-test-list-sub9328\",\r\n  \"type\": \"Microsoft.MachineLearningCompute/operationalizationClusters\",\r\n  \"location\": \"East US 2 EUAP\",\r\n  \"tags\": null,\r\n  \"properties\": {\r\n    \"createdOn\": \"2017-11-01T19:48:27.648Z\",\r\n    \"description\": \"Test cluster\",\r\n    \"provisioningState\": \"Creating\",\r\n    \"provisioningErrors\": null,\r\n    \"storageAccount\": {\r\n      \"resourceId\": \"/subscriptions/74eccef0-4b8d-4f83-b5f9-fa100d155b22/resourcegroups/mlcrp-dotnet-test-list-sub4648-azureml-0cf39/providers/Microsoft.Storage/storageAccounts/mlcrpstg85b77302864f\"\r\n    },\r\n    \"containerRegistry\": {\r\n      \"resourceId\": \"/subscriptions/74eccef0-4b8d-4f83-b5f9-fa100d155b22/resourcegroups/mlcrp-dotnet-test-list-sub4648-azureml-0cf39/providers/Microsoft.ContainerRegistry/registries/mlcrpacrc0959133d26d\"\r\n    },\r\n    \"clusterType\": \"ACS\",\r\n    \"containerService\": {\r\n      \"clusterFqdn\": \"mlcrp-dotnet-test-list-sub9328-a6d79632\",\r\n      \"systemServices\": null,\r\n      \"masterCount\": 1,\r\n      \"agentCount\": 2,\r\n      \"agentVmSize\": \"Standard_D3_v2\",\r\n      \"orchestratorType\": \"Kubernetes\",\r\n      \"orchestratorProperties\": {\r\n        \"servicePrincipal\": {\r\n          \"clientId\": \"00000000-0000-0000-0000-000000000000\",\r\n          \"secret\": \"<REDACTED>\"\r\n        }\r\n      }\r\n    },\r\n    \"appInsights\": {\r\n      \"resourceId\": \"/subscriptions/74eccef0-4b8d-4f83-b5f9-fa100d155b22/resourcegroups/mlcrp-dotnet-test-list-sub4648-azureml-0cf39/providers/Microsoft.Insights/components/mlcrpai41178650c6e8\"\r\n    },\r\n    \"globalServiceConfiguration\": null\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/74eccef0-4b8d-4f83-b5f9-fa100d155b22/providers/Microsoft.MachineLearningCompute/locations/eastus2euap/operationsStatus/5e1d7f1d-b5cd-48fa-8699-8dd83dbf3a75?api-version=2017-06-01-preview"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/74eccef0-4b8d-4f83-b5f9-fa100d155b22/providers/Microsoft.MachineLearningCompute/locations/eastus2euap/operationsStatus/5e1d7f1d-b5cd-48fa-8699-8dd83dbf3a75?api-version=2017-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/74eccef0-4b8d-4f83-b5f9-fa100d155b22/locations/eastus2euap/operationStatus/5e1d7f1d-b5cd-48fa-8699-8dd83dbf3a75\",\r\n  \"name\": \"5e1d7f1d-b5cd-48fa-8699-8dd83dbf3a75\",\r\n  \"status\": \"Creating\",\r\n  \"startTime\": \"2017-11-01T19:48:29.122Z\",\r\n  \"percentComplete\": 0.0\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14935"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/74eccef0-4b8d-4f83-b5f9-fa100d155b22/providers/Microsoft.MachineLearningCompute/locations/eastus2euap/operationsStatus/5e1d7f1d-b5cd-48fa-8699-8dd83dbf3a75?api-version=2017-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/74eccef0-4b8d-4f83-b5f9-fa100d155b22/locations/eastus2euap/operationStatus/5e1d7f1d-b5cd-48fa-8699-8dd83dbf3a75\",\r\n  \"name\": \"5e1d7f1d-b5cd-48fa-8699-8dd83dbf3a75\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2017-11-01T19:48:29.122Z\",\r\n  \"endTime\": \"2017-11-01T20:04:28.519Z\",\r\n  \"percentComplete\": 0.0\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14910"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/74eccef0-4b8d-4f83-b5f9-fa100d155b22/providers/Microsoft.MachineLearningCompute/operationalizationClusters?api-version=2017-08-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/74eccef0-4b8d-4f83-b5f9-fa100d155b22/resourcegroups/ibiza-integration/providers/Microsoft.MachineLearningCompute/operationalizationClusters/ibiza-int-cluster\",\r\n      \"name\": \"ibiza-int-cluster\",\r\n      \"type\": \"Microsoft.MachineLearningCompute/operationalizationClusters\",\r\n      \"location\": \"East US 2\",\r\n      \"tags\": null,\r\n      \"properties\": {\r\n        \"createdOn\": \"2017-09-14T03:12:39.205Z\",\r\n        \"description\": \"Machine Learning Compute Cluster\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"provisioningErrors\": null,\r\n        \"storageAccount\": {\r\n          \"resourceId\": \"/subscriptions/74eccef0-4b8d-4f83-b5f9-fa100d155b22/resourcegroups/ibiza-integration/providers/Microsoft.Storage/storageAccounts/mlcrpstg0f366918edd0\"\r\n        },\r\n        \"containerRegistry\": {\r\n          \"resourceId\": \"/subscriptions/74eccef0-4b8d-4f83-b5f9-fa100d155b22/resourcegroups/ibiza-integration/providers/Microsoft.ContainerRegistry/registries/mlcrpacrb0d883842acf\"\r\n        },\r\n        \"clusterType\": \"ACS\",\r\n        \"containerService\": {\r\n          \"clusterFqdn\": \"ibiza-int-cluster-5cf12408.eastus2.cloudapp.azure.com\",\r\n          \"systemServices\": [\r\n            {\r\n              \"systemServiceType\": \"ScoringFrontEnd\",\r\n              \"publicIpAddress\": \"40.84.51.112\",\r\n              \"version\": \"prod/1.20170912.13/master.b91415a8189e71c824150b9034d946511cd272bc\"\r\n            }\r\n          ],\r\n          \"masterCount\": 1,\r\n          \"agentCount\": 4,\r\n          \"agentVmSize\": \"Standard_D3_v2\",\r\n          \"orchestratorType\": \"Kubernetes\",\r\n          \"orchestratorProperties\": {\r\n            \"servicePrincipal\": {\r\n              \"clientId\": \"dc5460de-980e-4baf-b914-7f63115f0f22\",\r\n              \"secret\": null\r\n            }\r\n          }\r\n        },\r\n        \"appInsights\": {\r\n          \"resourceId\": \"/subscriptions/74eccef0-4b8d-4f83-b5f9-fa100d155b22/resourcegroups/ibiza-integration/providers/Microsoft.Insights/components/mlcrpai9cc04647d204\"\r\n        },\r\n        \"globalServiceConfiguration\": null\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/74eccef0-4b8d-4f83-b5f9-fa100d155b22/resourcegroups/mlcrp-temp/providers/Microsoft.MachineLearningCompute/operationalizationClusters/mlcrp-temp-cluster-2\",\r\n      \"name\": \"mlcrp-temp-cluster-2\",\r\n      \"type\": \"Microsoft.MachineLearningCompute/operationalizationClusters\",\r\n      \"location\": \"East US 2\",\r\n      \"tags\": null,\r\n      \"properties\": {\r\n        \"createdOn\": \"2017-09-26T19:58:15.757Z\",\r\n        \"description\": null,\r\n        \"provisioningState\": \"Deleting\",\r\n        \"provisioningErrors\": [\r\n          {\r\n            \"error\": {\r\n              \"code\": \"InternalError\",\r\n              \"statusCode\": 500,\r\n              \"message\": \"Failed to start Azure resource deployment. InternalErrorCode: ArmDeploymentCreateFailed\"\r\n            }\r\n          }\r\n        ],\r\n        \"storageAccount\": {\r\n          \"resourceId\": \"/subscriptions/74eccef0-4b8d-4f83-b5f9-fa100d155b22/resourcegroups/mlcrp-temp/providers/Microsoft.Storage/storageAccounts/mlcrpstg0447551344ac\"\r\n        },\r\n        \"containerRegistry\": {\r\n          \"resourceId\": \"/subscriptions/74eccef0-4b8d-4f83-b5f9-fa100d155b22/resourcegroups/mlcr[...]
    {
      "RequestUri": "/subscriptions/74eccef0-4b8d-4f83-b5f9-fa100d155b22/resourcegroups?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/74eccef0-4b8d-4f83-b5f9-fa100d155b22/resourceGroups/amlbigdata\",\r\n      \"name\": \"amlbigdata\",\r\n      \"location\": \"westus\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succee[...]
    {
      "RequestUri": "/subscriptions/74eccef0-4b8d-4f83-b5f9-fa100d155b22/resourcegroups/mlcrp-dotnet-test-list-sub4648-azureml-0cf39?api-version=2017-05-10",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/74eccef0-4b8d-4f83-b5f9-fa100d155b22/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1NTENSUDoyRERPVE5FVDoyRFRFU1Q6MkRMSVNUOjJEU1VCNDY0ODoyREFaVVJFTUw6MkQwQ0YzOS1FQVNUVVMyIiwiam9iTG9jYXRpb24iOiJlYXN0dXMyIn0?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/74eccef0-4b8d-4f83-b5f9-fa100d155b22/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1NTENSUDoyRERPVE5FVDoyRFRFU1Q6MkRMSVNUOjJEU1VCNDY0ODoyREFaVVJFTUw6MkQwQ0YzOS1FQVNUVVMyIiwiam9iTG9jYXRpb24iOiJlYXN0dXMyIn0?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/74eccef0-4b8d-4f83-b5f9-fa100d155b22/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1NTENSUDoyRERPVE5FVDoyRFRFU1Q6MkRMSVNUOjJEU1VCNDY0ODoyREFaVVJFTUw6MkQwQ0YzOS1FQVNUVVMyIiwiam9iTG9jYXRpb24iOiJlYXN0dXMyIn0?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14971"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/74eccef0-4b8d-4f83-b5f9-fa100d155b22/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1NTENSUDoyRERPVE5FVDoyRFRFU1Q6MkRMSVNUOjJEU1VCNDY0ODoyREFaVVJFTUw6MkQwQ0YzOS1FQVNUVVMyIiwiam9iTG9jYXRpb24iOiJlYXN0dXMyIn0?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14941"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    ".ctor": [
      "mlcrp-dotnet-test-list-sub4648",
      "mlcrp-dotnet-test-list-sub9328"
    ]
  },
  "Variables": {
    "SubscriptionId": "74eccef0-4b8d-4f83-b5f9-fa100d155b22",
    "ServicePrincipal": "00000000-0000-0000-0000-000000000000"
  }
}