{
  "Entries": [
    {
      "RequestUri": "/subscriptions/4f455bd0-f95a-4b7d-8d08-078611508e0b/resourcegroups/mlcrp-dotnet-client-test-keys?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US 2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/4f455bd0-f95a-4b7d-8d08-078611508e0b/resourceGroups/mlcrp-dotnet-client-test-keys\",\r\n  \"name\": \"mlcrp-dotnet-client-test-keys\",\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1190"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/4f455bd0-f95a-4b7d-8d08-078611508e0b/resourceGroups/mlcrp-dotnet-client-test-keys/providers/Microsoft.MachineLearningCompute/operationalizationClusters/mlcrp-test-keys?api-version=2017-08-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"description\": \"temp cluster\",\r\n    \"clusterType\": \"ACS\",\r\n    \"containerService\": {\r\n      \"orchestratorType\": \"Kubernetes\",\r\n      \"orchestratorProperties\": {\r\n        \"servicePrincipal\": {\r\n          \"clientId\": \"00000000-0000-0000-0000-000000000000\",\r\n          \"secret\": \"abcde\"\r\n        }\r\n      }\r\n    }\r\n  },\r\n  \"location\": \"East US 2 EUAP\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/4f455bd0-f95a-4b7d-8d08-078611508e0b/resourcegroups/mlcrp-dotnet-client-test-keys/providers/Microsoft.MachineLearningCompute/operationalizationClusters/mlcrp-test-keys\",\r\n  \"name\": \"mlcrp-test-keys\",\r\n  \"type\": \"Microsoft.MachineLearningCompute/operationalizationClusters\",\r\n  \"location\": \"East US 2 EUAP\",\r\n  \"tags\": null,\r\n  \"properties\": {\r\n    \"createdOn\": \"2017-09-05T22:10:01.42Z\",\r\n    \"description\": \"temp cluster\",\r\n    \"provisioningState\": \"Creating\",\r\n    \"storageAccount\": {\r\n      \"resourceId\": \"/subscriptions/4f455bd0-f95a-4b7d-8d08-078611508e0b/resourcegroups/mlcrp-dotnet-client-test-keys/providers/Microsoft.Storage/storageAccounts/mlcrpstga77074179227\"\r\n    },\r\n    \"containerRegistry\": {\r\n      \"resourceId\": \"/subscriptions/4f455bd0-f95a-4b7d-8d08-078611508e0b/resourcegroups/mlcrp-dotnet-client-test-keys/providers/Microsoft.ContainerRegistry/registries/mlcrpacr6e7046059646\"\r\n    },\r\n    \"clusterType\": \"ACS\",\r\n    \"containerService\": {\r\n      \"clusterFqdn\": \"mlcrp-test-keys-35822008\",\r\n      \"systemServices\": null,\r\n      \"masterCount\": 1,\r\n      \"agentCount\": 2,\r\n      \"agentVmSize\": \"Standard_D3_v2\",\r\n      \"orchestratorType\": \"Kubernetes\",\r\n      \"orchestratorProperties\": {\r\n        \"servicePrincipal\": {\r\n          \"clientId\": \"00000000-0000-0000-0000-000000000000\",\r\n          \"secret\": null\r\n        }\r\n      }\r\n    },\r\n    \"appInsights\": {\r\n      \"resourceId\": \"/subscriptions/4f455bd0-f95a-4b7d-8d08-078611508e0b/resourcegroups/mlcrp-dotnet-client-test-keys/providers/Microsoft.Insights/components/mlcrpaic527316016d0\"\r\n    },\r\n    \"globalServiceConfiguration\": null\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/4f455bd0-f95a-4b7d-8d08-078611508e0b/providers/Microsoft.MachineLearningCompute/locations/eastus2euap/operationsStatus/f9f791fb-900c-41c5-b8ae-8d665c33cfbf?api-version=2017-06-01-preview"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/4f455bd0-f95a-4b7d-8d08-078611508e0b/providers/Microsoft.MachineLearningCompute/locations/eastus2euap/operationsStatus/f9f791fb-900c-41c5-b8ae-8d665c33cfbf?api-version=2017-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/4f455bd0-f95a-4b7d-8d08-078611508e0b/locations/eastus2euap/operationStatus/f9f791fb-900c-41c5-b8ae-8d665c33cfbf\",\r\n  \"name\": \"f9f791fb-900c-41c5-b8ae-8d665c33cfbf\",\r\n  \"status\": \"Creating\",\r\n  \"startTime\": \"2017-09-05T22:10:01.988Z\",\r\n  \"percentComplete\": 0.0\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14888"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/4f455bd0-f95a-4b7d-8d08-078611508e0b/providers/Microsoft.MachineLearningCompute/locations/eastus2euap/operationsStatus/f9f791fb-900c-41c5-b8ae-8d665c33cfbf?api-version=2017-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/4f455bd0-f95a-4b7d-8d08-078611508e0b/locations/eastus2euap/operationStatus/f9f791fb-900c-41c5-b8ae-8d665c33cfbf\",\r\n  \"name\": \"f9f791fb-900c-41c5-b8ae-8d665c33cfbf\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2017-09-05T22:10:01.988Z\",\r\n  \"endTime\": \"2017-09-05T22:24:30.484Z\",\r\n  \"percentComplete\": 0.0\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14829"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/4f455bd0-f95a-4b7d-8d08-078611508e0b/resourceGroups/mlcrp-dotnet-client-test-keys/providers/Microsoft.MachineLearningCompute/operationalizationClusters/mlcrp-test-keys/listKeys?api-version=2017-08-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"storageAccount\": {\r\n    \"resourceId\": \"/subscriptions/4f455bd0-f95a-4b7d-8d08-078611508e0b/resourcegroups/mlcrp-dotnet-client-test-keys/providers/Microsoft.Storage/storageAccounts/mlcrpstga77074179227\",\r\n    \"primaryKey\": \"/uPDCXb028/Mz8hCOJxXF/Us79ED8itUxxkzklBkE2GEu15KptTkamFPtB7t1NmNssVso1/oxYmlrsHHKnDV3Q==\",\r\n    \"secondaryKey\": \"Ou8IQ8r11qI/aziBnt57tT9xuGS8tKHX+hrRWdo3YWhzNnAyYPc6Js5MQRkztn2C+8ftgI0OfeWlgG52r5IgQw==\"\r\n  },\r\n  \"containerRegistry\": {\r\n    \"loginServer\": \"mlcrpacr6e7046059646.azurecr.io\",\r\n    \"password\": \"=/OdV/QH==++vm+=mIF=8=/dFh=VO14f\",\r\n    \"password2\": \"+=+ODU/8+7Tb5rP+dUd7AZpu/S3gUZfr\",\r\n    \"username\": \"mlcrpacr6e7046059646\"\r\n  },\r\n  \"containerService\": {\r\n    \"acsKubeConfig\": \"\\n---\\napiVersion: v1\\nclusters:\\n- cluster:\\n    certificate-authority-data: \\\"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tDQpNSUlETURDQ0FoaWdBd0lCQWdJSUdoSGtTSGdhYXRnd0RRWUpLb1pJaHZjTkFRRUxCUUF3RXpFUk1BOEdBMVVFQXd3SVlXTnphemh6DQpZMkV3SGhjTk1UY3dPVEExTURBd01EQXdXaGNOTVRrd09UQTFNREF3TURBd1dqQVRNUkV3RHdZRFZRUUREQWhoWTNOck9ITmpZVENDDQpBU0l3RFFZSktvWklodmNOQVFFQkJRQURnZ0VQQURDQ0FRb0NnZ0VCQUpNcHEreXREUm5mdko1YUdGaThKMTNMREJudXByakxBVGJ4DQpDbVc4V3lld1hLaVlXM2pvMFlmL256eGhFeGI4OHFDUEFaN0txNElHdE9sUm[...]
