{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": {
        "id": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf",
        "authorizationSource": "Bypassed",
        "managedByTenants": [],
        "tags": {
          "NRMS9825974": "20220330",
          "NRMSBreakGlassAzureOnly": "286269898",
          "NRMS13179388": "20220808"
        },
        "subscriptionId": "e8257c73-24c5-4791-94dc-8b7901c90dbf",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Kusto_Dev_Kusto_Ilay_04_Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourcegroups/sdkRg827?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11986"
      },
      "ResponseBody": {
        "id": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg827",
        "name": "sdkRg827",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "Owners": "tabebchuk",
          "DeleteAfter": "2022-11-11T00:43:26.3465812Z",
          "ServiceDirectory": "kusto"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg827/providers/Microsoft.Kusto/clusters/sdkCluster827?api-version=2022-07-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222022-11-10T23:57:08.2246476Z\u0022",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "295"
      },
      "ResponseBody": {
        "id": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg827/providers/Microsoft.Kusto/Clusters/sdkCluster827",
        "name": "sdkCluster827",
        "type": "Microsoft.Kusto/Clusters",
        "etag": "\u00222022-11-10T23:57:08.2246476Z\u0022",
        "location": "East US 2",
        "sku": {
          "name": "Standard_D13_v2",
          "tier": "Standard",
          "capacity": 2
        },
        "tags": {},
        "properties": {
          "state": "Running",
          "stateReason": null,
          "uri": "https://sdkcluster827.eastus2.kusto.windows.net",
          "dataIngestionUri": "https://ingest-sdkcluster827.eastus2.kusto.windows.net",
          "trustedExternalTenants": [],
          "virtualNetworkConfiguration": null,
          "optimizedAutoscale": null,
          "enableDiskEncryption": false,
          "enableStreamingIngest": false,
          "keyVaultProperties": null,
          "languageExtensions": {
            "value": []
          },
          "enablePurge": null,
          "enableDoubleEncryption": false,
          "engineType": "V3",
          "acceptedAudiences": [],
          "restrictOutboundNetworkAccess": "Disabled",
          "allowedFqdnList": [],
          "publicNetworkAccess": "Enabled",
          "allowedIpRangeList": [],
          "enableAutoStop": true,
          "publicIPType": "IPv4",
          "virtualClusterGraduationProperties": null,
          "privateEndpointConnections": [
            {
              "name": "sdkPrivateEndpoint827-2782df49-a369-459a-a4ed-00db85ff46e1",
              "type": "Microsoft.Kusto/Clusters/privateEndpointConnections",
              "id": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg827/providers/Microsoft.Kusto/Clusters/sdkCluster827/privateEndpointConnections/sdkPrivateEndpoint827-2782df49-a369-459a-a4ed-00db85ff46e1",
              "properties": {
                "provisioningState": "Succeeded",
                "groupId": "cluster",
                "privateEndpoint": {
                  "id": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg827/providers/Microsoft.Network/privateEndpoints/sdkPrivateEndpoint827"
                },
                "privateLinkServiceConnectionState": {
                  "status": "Approved",
                  "description": "",
                  "actionsRequired": "None"
                }
              }
            }
          ],
          "provisioningState": "Succeeded"
        },
        "identity": {
          "principalId": "325fc617-43cb-4fc5-b518-b04d18bfc224",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "type": "SystemAssigned, UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourcegroups/sdkRg827/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sdkUserAssignedIdentity827": {
              "principalId": "fddfe11b-7972-4257-bb61-3190e424aa73",
              "clientId": "e6dfe9a7-461f-48ed-9113-2d40c2f80bb0"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg827/providers/Microsoft.Kusto/clusters/sdkCluster827/databases/sdkDatabase827?api-version=2022-07-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "293"
      },
      "ResponseBody": {
        "id": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg827/providers/Microsoft.Kusto/Clusters/sdkCluster827/Databases/sdkDatabase827",
        "name": "sdkCluster827/sdkDatabase827",
        "type": "Microsoft.Kusto/Clusters/Databases",
        "location": "East US 2",
        "kind": "ReadWrite",
        "properties": {
          "statistics": {
            "size": 0.0
          },
          "isFollowed": false,
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg827/providers/Microsoft.Kusto/clusters/sdkFollowingCluster827?api-version=2022-07-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222022-11-10T23:57:08.224[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg827/providers/Microsoft.Kusto/clusters/sdkFollowingCluster827/attachedDatabaseConfigurations/sdkAttachedDatabaseConfiguration827?api-version=2022-07-07",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "properties": {
          "databaseName": "sdkDatabase827",
          "clusterResourceId": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg827/providers/Microsoft.Kusto/Clusters/sdkCluster827",
          "defaultPrincipalsModificationKind": "Replace"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/eastus2/operationResults/4116c855-2c78-41e9-b56e-094fc9ca7e9c?api-version=2022-07-07",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "190"
      },
      "ResponseBody": {
        "id": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg827/providers/Microsoft.Kusto/Clusters/sdkFollowingCluster827/AttachedDatabaseConfigurations/sdkAttachedDatabaseConfiguration827",
        "name": "sdkFollowingCluster827/sdkAttachedDatabaseConfiguration827",
        "type": "Microsoft.Kusto/Clusters/AttachedDatabaseConfigurations",
        "location": "eastus2",
        "properties": {
          "databaseName": "sdkDatabase827",
          "clusterResourceId": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg827/providers/Microsoft.Kusto/Clusters/sdkCluster827",
          "defaultPrincipalsModificationKind": "Replace",
          "provisioningState": "Creating"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/eastus2/operationResults/4116c855-2c78-41e9-b56e-094fc9ca7e9c?api-version=2022-07-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-operation-root-activity-id": "b72b5c41-4fde-42ed-8d8a-9f25977ffb2e",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "262"
      },
      "ResponseBody": {
        "id": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/eastus2/operationresults/4116c855-2c78-41e9-b56e-094fc9ca7e9c",
        "name": "4116c855-2c78-41e9-b56e-094fc9ca7e9c",
        "status": "Running",
        "startTime": "2022-11-10T23:57:15.3502081Z",
        "endTime": "2022-11-10T23:57:15.6471154Z",
        "percentComplete": 0.5,
        "properties": {
          "operationKind": "FollowerDatabaseCreate",
          "provisioningState": "Running",
          "operationState": "InProgress"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg827/providers/Microsoft.Kusto/clusters/sdkFollowingCluster827/attachedDatabaseConfigurations/sdkAttachedDatabaseConfiguration827?api-version=2022-07-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "290"
      },
      "ResponseBody": {
        "id": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg827/providers/Microsoft.Kusto/Clusters/sdkFollowingCluster827/AttachedDatabaseConfigurations/sdkAttachedDatabaseConfiguration827",
        "name": "sdkFollowingCluster827/sdkAttachedDatabaseConfiguration827",
        "type": "Microsoft.Kusto/Clusters/AttachedDatabaseConfigurations",
        "location": "East US 2",
        "properties": {
          "clusterResourceId": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg827/providers/Microsoft.Kusto/Clusters/sdkCluster827",
          "databaseName": "sdkDatabase827",
          "attachedDatabaseNames": [
            "sdkDatabase827"
          ],
          "defaultPrincipalsModificationKind": "Replace",
          "tableLevelSharingProperties": null,
          "databaseNameOverride": null,
          "databaseNamePrefix": null,
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg827/providers/Microsoft.Kusto/clusters/sdkFollowingCluster827/attachedDatabaseConfigurations/sdkAttachedDatabaseConfiguration827?api-version=2022-07-07",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "properties": {
          "databaseName": "sdkDatabase827",
          "clusterResourceId": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg827/providers/Microsoft.Kusto/Clusters/sdkCluster827",
          "defaultPrincipalsModificationKind": "Replace",
          "tableLevelSharingProperties": {
            "tablesToInclude": [
              "include"
            ],
            "tablesToExclude": [
              "exclude"
            ],
            "externalTablesToInclude": [
              "externalInclude"
            ],
            "externalTablesToExclude": [
              "externalExclude"
            ],
            "materializedViewsToInclude": [
              "materializedViewInclude"
            ],
            "materializedViewsToExclude": [
              "materializedViewExclude"
            ]
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/East US 2/operationResults/323d22ff-66d0-48ba-ad63-a5ae0403999a?api-version=2022-07-07",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-request[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/East%20US%202/operationResults/323d22ff-66d0-48ba-ad63-a5ae0403999a?api-version=2022-07-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-operation-root-activity-id": "4090ad7e-a841-4d93-b1a6-a3a8c5cd3444",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "255"
      },
      "ResponseBody": {
        "id": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/East US 2/operationresults/323d22ff-66d0-48ba-ad63-a5ae0403999a",
        "name": "323d22ff-66d0-48ba-ad63-a5ae0403999a",
        "status": "Running",
        "startTime": "2022-11-10T23:57:35.5861207Z",
        "endTime": "2022-11-10T23:57:35.945591Z",
        "percentComplete": 0.5,
        "properties": {
          "operationKind": "FollowerDatabaseCreate",
          "provisioningState": "Running",
          "operationState": "InProgress"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg827/providers/Microsoft.Kusto/clusters/sdkFollowingCluster827/attachedDatabaseConfigurations?api-version=2022-07-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-r[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg827/providers/Microsoft.Kusto/clusters/sdkFollowingCluster827/attachedDatabaseConfigurations/nonExistent?api-version=2022-07-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "285"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The resource with identifier \u0027/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg827/providers/Microsoft.Kusto/Clusters/sdkFollowingCluster827/AttachedDatabaseConfigurations/nonExistent\u0027 is not found."
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg827/providers/Microsoft.Kusto/clusters/sdkFollowingCluster827/databases/sdkDatabase827?api-version=2022-07-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "292"
      },
      "ResponseBody": {
        "id": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg827/providers/Microsoft.Kusto/Clusters/sdkFollowingCluster827/Databases/sdkDatabase827",
        "name": "sdkFollowingCluster827/sdkDatabase827",
        "type": "Microsoft.Kusto/Clusters/Databases",
        "location": "East US 2",
        "kind": "ReadOnlyFollowing",
        "properties": {
          "statistics": {
            "size": 0.0
          },
          "leaderClusterResourceId": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg827/providers/Microsoft.Kusto/Clusters/sdkCluster827",
          "attachedDatabaseConfigurationName": "sdkAttachedDatabaseConfiguration827",
          "principalsModificationKind": "Replace",
          "tableLevelSharingProperties": {
            "tablesToInclude": [
              "include"
            ],
            "tablesToExclude": [
              "exclude"
            ],
            "externalTablesToInclude": [
              "externalInclude"
            ],
            "externalTablesToExclude": [
              "externalExclude"
            ],
            "materializedViewsToInclude": [
              "materializedViewInclude"
            ],
            "materializedViewsToExclude": [
              "materializedViewExclude"
            ]
          },
          "databaseShareOrigin": "Direct",
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg827/providers/Microsoft.Kusto/clusters/sdkFollowingCluster827/databases/sdkDatabase827?api-version=2022-07-07",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "kind": "ReadOnlyFollowing",
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/East US 2/operationResults/f8715f5e-96ea-4374-85f2-c65e3d0837eb?api-version=2022-07-07",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/East%20US%202/operationResults/f8715f5e-96ea-4374-85f2-c65e3d0837eb?api-version=2022-07-07\u0026operationResultResponseType=Location",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "196"
      },
      "ResponseBody": {
        "id": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg827/providers/Microsoft.Kusto/Clusters/sdkFollowingCluster827/Databases/sdkDatabase827",
        "name": "sdkFollowingCluster827/sdkDatabase827",
        "type": "Microsoft.Kusto/Clusters/Databases",
        "location": "East US 2",
        "kind": "ReadOnlyFollowing",
        "properties": {
          "provisioningState": "Accepted"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg827/providers/Microsoft.Kusto/clusters/sdkFollowingCluster827/attachedDatabaseConfigurations/sdkAttachedDatabaseConfiguration827?api-version=2022-07-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "283"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The resource with identifier \u0027/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg827/providers/Microsoft.Kusto/Clusters/sdkFollowingCluster827/AttachedDatabaseConfigurations/sdkAttachedDatabaseConfiguration827\u0027 is not found."
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "CLUSTER_NAME": "sdkCluster827",
    "DATABASE_NAME": "sdkDatabase827",
    "FOLLOWING_CLUSTER_NAME": "sdkFollowingCluster827",
    "ID": "827",
    "LOCATION": "eastus2",
    "RandomSeed": "857442869",
    "RESOURCE_GROUP": "sdkRg827",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "e8257c73-24c5-4791-94dc-8b7901c90dbf"
  }
}
