{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMS9825974": "20220330",
          "NRMSBreakGlassAzureOnly": "286269898",
          "NRMS13179388": "20220808"
        },
        "subscriptionId": "fbccad30-f0ed-4ac4-9497-93bf6141062f",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Kusto_Dev_Kusto_Ilay_00",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourcegroups/CSharpSDKRG275?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG275",
        "name": "CSharpSDKRG275",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "australiaeast",
        "tags": {
          "DeleteAfter": "2023-06-29T20:12:45.0225642Z",
          "Owners": "michaelshikh",
          "ServiceDirectory": "kusto"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG275/providers/Microsoft.Kusto/clusters/sdkCluster275?api-version=2023-05-02",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222023-06-29T19:33:20.4927317Z\u0022",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "297"
      },
      "ResponseBody": {
        "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG275/providers/Microsoft.Kusto/Clusters/sdkCluster275",
        "name": "sdkCluster275",
        "type": "Microsoft.Kusto/Clusters",
        "etag": "\u00222023-06-29T19:33:20.4927317Z\u0022",
        "location": "Australia East",
        "sku": {
          "name": "Standard_E2a_v4",
          "tier": "Standard",
          "capacity": 2
        },
        "tags": {},
        "properties": {
          "state": "Running",
          "stateReason": null,
          "uri": "https://sdkcluster275.australiaeast.dev.kusto.windows.net",
          "dataIngestionUri": "https://ingest-sdkcluster275.australiaeast.dev.kusto.windows.net",
          "trustedExternalTenants": [],
          "virtualNetworkConfiguration": null,
          "optimizedAutoscale": null,
          "enableDiskEncryption": false,
          "enableStreamingIngest": false,
          "keyVaultProperties": null,
          "languageExtensions": {
            "value": []
          },
          "enablePurge": null,
          "enableDoubleEncryption": false,
          "engineType": "V3",
          "acceptedAudiences": [],
          "restrictOutboundNetworkAccess": "Disabled",
          "allowedFqdnList": [],
          "publicNetworkAccess": "Enabled",
          "allowedIpRangeList": [],
          "enableAutoStop": true,
          "publicIPType": "IPv4",
          "virtualClusterGraduationProperties": null,
          "privateEndpointConnections": [
            {
              "name": "sdkPrivateEndpoint275-dc20dcd0-60a2-41fe-ab6a-a91f276d7650",
              "type": "Microsoft.Kusto/Clusters/privateEndpointConnections",
              "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG275/providers/Microsoft.Kusto/Clusters/sdkCluster275/privateEndpointConnections/sdkPrivateEndpoint275-dc20dcd0-60a2-41fe-ab6a-a91f276d7650",
              "properties": {
                "provisioningState": "Succeeded",
                "groupId": "cluster",
                "privateEndpoint": {
                  "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG275/providers/Microsoft.Network/privateEndpoints/sdkPrivateEndpoint275"
                },
                "privateLinkServiceConnectionState": {
                  "status": "Approved",
                  "description": "",
                  "actionsRequired": "None"
                }
              }
            }
          ],
          "migrationCluster": null,
          "provisioningState": "Succeeded"
        },
        "identity": {
          "principalId": "248b89d6-0e4e-4feb-a6da-492b52973868",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "type": "SystemAssigned, UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourcegroups/CSharpSDKRG275/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sdkUserAssignedIdentity275": {
              "principalId": "350beacb-08b0-4272-aa40-9fe463a5304c",
              "clientId": "771fdec6-d1e2-4987-8076-804f0a92960a"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG275/providers/Microsoft.Kusto/clusters/sdkCluster275/databases/sdkDatabase275?api-version=2023-05-02",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "296"
      },
      "ResponseBody": {
        "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG275/providers/Microsoft.Kusto/Clusters/sdkCluster275/Databases/sdkDatabase275",
        "name": "sdkCluster275/sdkDatabase275",
        "type": "Microsoft.Kusto/Clusters/Databases",
        "location": "Australia East",
        "kind": "ReadWrite",
        "properties": {
          "statistics": {
            "size": 0.0
          },
          "isFollowed": false,
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG275/providers/Microsoft.Kusto/clusters/sdkFollowingCluster275?api-version=2023-05-02",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222023-06-29T19:33:[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG275/providers/Microsoft.Kusto/clusters/sdkFollowingCluster275/attachedDatabaseConfigurations/sdkAttachedDatabaseConfiguration2751?api-version=2023-05-02",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "australiaeast",
        "properties": {
          "databaseName": "sdkDatabase275",
          "clusterResourceId": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG275/providers/Microsoft.Kusto/Clusters/sdkCluster275",
          "defaultPrincipalsModificationKind": "Replace"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/providers/Microsoft.Kusto/locations/australiaeast/operationResults/5f33777c-7805-4162-8d55-e9f86f93fbfe?api-version=2023-05-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "197"
      },
      "ResponseBody": {
        "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG275/providers/Microsoft.Kusto/Clusters/sdkFollowingCluster275/AttachedDatabaseConfigurations/sdkAttachedDatabaseConfiguration2751",
        "name": "sdkFollowingCluster275/sdkAttachedDatabaseConfiguration2751",
        "type": "Microsoft.Kusto/Clusters/AttachedDatabaseConfigurations",
        "location": "australiaeast",
        "properties": {
          "clusterResourceId": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG275/providers/Microsoft.Kusto/Clusters/sdkCluster275",
          "databaseName": "sdkDatabase275",
          "defaultPrincipalsModificationKind": "Replace",
          "provisioningState": "Creating"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/providers/Microsoft.Kusto/locations/australiaeast/operationResults/5f33777c-7805-4162-8d55-e9f86f93fbfe?api-version=2023-05-02",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-operation-root-activity-id": "637989aa-e472-49b2-8664-2dc87c8e6525",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "279"
      },
      "ResponseBody": {
        "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/providers/Microsoft.Kusto/locations/australiaeast/operationresults/5f33777c-7805-4162-8d55-e9f86f93fbfe",
        "name": "5f33777c-7805-4162-8d55-e9f86f93fbfe",
        "status": "Running",
        "startTime": "2023-06-29T19:33:25.5685444Z",
        "endTime": "2023-06-29T19:33:25.5841699Z",
        "percentComplete": 0.5,
        "properties": {
          "operationKind": "FollowerDatabaseCreate",
          "provisioningState": "Running",
          "operationState": "InProgress"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG275/providers/Microsoft.Kusto/clusters/sdkFollowingCluster275/attachedDatabaseConfigurations/sdkAttachedDatabaseConfiguration2751?api-version=2023-05-02",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "291"
      },
      "ResponseBody": {
        "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG275/providers/Microsoft.Kusto/Clusters/sdkFollowingCluster275/AttachedDatabaseConfigurations/sdkAttachedDatabaseConfiguration2751",
        "name": "sdkFollowingCluster275/sdkAttachedDatabaseConfiguration2751",
        "type": "Microsoft.Kusto/Clusters/AttachedDatabaseConfigurations",
        "location": "Australia East",
        "properties": {
          "clusterResourceId": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG275/providers/Microsoft.Kusto/Clusters/sdkCluster275",
          "databaseName": "sdkDatabase275",
          "attachedDatabaseNames": [
            "sdkDatabase275"
          ],
          "defaultPrincipalsModificationKind": "Replace",
          "tableLevelSharingProperties": null,
          "databaseNameOverride": null,
          "databaseNamePrefix": null,
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG275/providers/Microsoft.Kusto/clusters/sdkCluster275/listFollowerDatabases?api-version=2023-05-02",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "value": [
          {
            "clusterResourceId": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG275/providers/Microsoft.Kusto/Clusters/sdkFollowingCluster275",
            "attachedDatabaseConfigurationName": "sdkAttachedDatabaseConfiguration2751",
            "databaseName": "sdkDatabase275",
            "databaseShareOrigin": "Direct"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG275/providers/Microsoft.Kusto/clusters/sdkFollowingCluster275/detachFollowerDatabases?api-version=2023-05-02",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "clusterResourceId": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG275/providers/Microsoft.Kusto/Clusters/sdkFollowingCluster275",
        "attachedDatabaseConfigurationName": "sdkAttachedDatabaseConfiguration2751"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/providers/Microsoft.Kusto/locations/Australia East/operationResults/08a6825e-0ac9-4536-9bbf-33fd71c98a27?api-version=2023-05-02",
        "Location": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/providers/Microsoft.Kusto/locations/Australia%20East/operationResults/08a6825e-0ac9-4536-9bbf-33fd71c98a27?api-version=2023-05-02\u0026operationResultResponseType=Location",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/providers/Microsoft.Kusto/locations/Australia%20East/operationResults/08a6825e-0ac9-4536-9bbf-33fd71c98a27?api-version=2023-05-02",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-operation-root-activity-id": "b06e71d1-8372-41e0-af13-0254c25089aa",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "272"
      },
      "ResponseBody": {
        "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/providers/Microsoft.Kusto/locations/Australia East/operationresults/08a6825e-0ac9-4536-9bbf-33fd71c98a27",
        "name": "08a6825e-0ac9-4536-9bbf-33fd71c98a27",
        "status": "Running",
        "startTime": "2023-06-29T19:33:47.0003413Z",
        "endTime": "2023-06-29T19:33:47.0003433Z",
        "percentComplete": 0.5,
        "properties": {
          "operationKind": "FollowerDatabaseDetach",
          "provisioningState": "Running",
          "operationState": "InProgress"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/providers/Microsoft.Kusto/locations/Australia%20East/operationResults/08a6825e-0ac9-4536-9bbf-33fd71c98a27?api-version=2023-05-02\u0026operationResultResponseType=Location",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": "265"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG275/providers/Microsoft.Kusto/clusters/sdkCluster275/databases/sdkDatabase275?api-version=2023-05-02",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "294"
      },
      "ResponseBody": {
        "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG275/providers/Microsoft.Kusto/Clusters/sdkCluster275/Databases/sdkDatabase275",
        "name": "sdkCluster275/sdkDatabase275",
        "type": "Microsoft.Kusto/Clusters/Databases",
        "location": "Australia East",
        "kind": "ReadWrite",
        "properties": {
          "statistics": {
            "size": 0.0
          },
          "isFollowed": false,
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "CLUSTER_NAME": "sdkCluster275",
    "DATABASE_NAME": "sdkDatabase275",
    "FOLLOWING_CLUSTER_NAME": "sdkFollowingCluster275",
    "ID": "275",
    "LOCATION": "australiaeast",
    "RandomSeed": "954405607",
    "RESOURCE_GROUP": "CSharpSDKRG275",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "fbccad30-f0ed-4ac4-9497-93bf6141062f"
  }
}
