{
  "Entries": [
    {
      "RequestUri": "/keys/CreateDeleteRecoverPurgeTest/create?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"kty\": \"RSA\",\r\n  \"key_size\": 2048,\r\n  \"key_ops\": [\r\n    \"encrypt\",\r\n    \"decrypt\",\r\n    \"sign\",\r\n    \"verify\",\r\n    \"wrapKey\",\r\n    \"unwrapKey\"\r\n  ],\r\n  \"attributes\": {},\r\n  \"tags\": {\r\n    \"purpose\": \"unit test\",\r\n    \"test name \": \"CreateDeleteRecoverPurgeTest\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://karlaugsoftdeletesdk.vault-int.azure-int.net/keys/CreateDeleteRecoverPurgeTest/ed0630c77dcf4d35b4f2c949ab3f8a07\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"6j0E_J8NHglCbHdr1RtDVLaUvPL_iihbY1C6m9NgR_EdBnuiXOxyACsFycqiQsEC7ubcjPMW3yE0fUUIVamzSgKGx3O26RIKwaCFXL0eD1_zs1oJN4PglB7mwrh2EGYnrZlF3cZtwCGIwYDP8DYGKi3c6gGX-a7HraG2u2de63duhc18NVXatJebUhPhOBnyamo4R5NNZo0PDzR5Tfwq5vypk_2vN2zOlXRSgUZGoMt5dfameTDrfYqwHpMdI420-g01dJLz5xyTYpYNB-NIQeFjSvr8d50ny_6hr-ZTH9BGr-xKbkBSwszIVcaGK9xcMvHHITtBPT3UJIc0TDj8RQ\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1482186872,\r\n    \"updated\": 1482186872\r\n  },\r\n  \"tags\": {\r\n    \"purpose\": \"unit test\",\r\n    \"test name \": \"CreateDeleteRecoverPurgeTest\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/keys/CreateDeleteRecoverPurgeTest/?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://karlaugsoftdeletesdk.vault-int.azure-int.net/keys/CreateDeleteRecoverPurgeTest/ed0630c77dcf4d35b4f2c949ab3f8a07\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"6j0E_J8NHglCbHdr1RtDVLaUvPL_iihbY1C6m9NgR_EdBnuiXOxyACsFycqiQsEC7ubcjPMW3yE0fUUIVamzSgKGx3O26RIKwaCFXL0eD1_zs1oJN4PglB7mwrh2EGYnrZlF3cZtwCGIwYDP8DYGKi3c6gGX-a7HraG2u2de63duhc18NVXatJebUhPhOBnyamo4R5NNZo0PDzR5Tfwq5vypk_2vN2zOlXRSgUZGoMt5dfameTDrfYqwHpMdI420-g01dJLz5xyTYpYNB-NIQeFjSvr8d50ny_6hr-ZTH9BGr-xKbkBSwszIVcaGK9xcMvHHITtBPT3UJIc0TDj8RQ\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1482186872,\r\n    \"updated\": 1482186872\r\n  },\r\n  \"tags\": {\r\n    \"purpose\": \"unit test\",\r\n    \"test name \": \"CreateDeleteRecoverPurgeTest\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/keys/CreateDeleteRecoverPurgeTest/?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"KeyNotFound\",\r\n    \"message\": \"Key not found: CreateDeleteRecoverPurgeTest\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/keys/CreateDeleteRecoverPurgeTest?api-version=2016-10-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"recoveryId\": \"https://karlaugsoftdeletesdk.vault-int.azure-int.net/deletedkeys/CreateDeleteRecoverPurgeTest\",\r\n  \"deletedDate\": 1482186873,\r\n  \"scheduledPurgeDate\": 1489962873,\r\n  \"key\": {\r\n    \"kid\": \"https://karlaugsoftdeletesdk.vault-int.azure-int.net/keys/CreateDeleteRecoverPurgeTest/ed0630c77dcf4d35b4f2c949ab3f8a07\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"6j0E_J8NHglCbHdr1RtDVLaUvPL_iihbY1C6m9NgR_EdBnuiXOxyACsFycqiQsEC7ubcjPMW3yE0fUUIVamzSgKGx3O26RIKwaCFXL0eD1_zs1oJN4PglB7mwrh2EGYnrZlF3cZtwCGIwYDP8DYGKi3c6gGX-a7HraG2u2de63duhc18NVXatJebUhPhOBnyamo4R5NNZo0PDzR5Tfwq5vypk_2vN2zOlXRSgUZGoMt5dfameTDrfYqwHpMdI420-g01dJLz5xyTYpYNB-NIQeFjSvr8d50ny_6hr-ZTH9BGr-xKbkBSwszIVcaGK9xcMvHHITtBPT3UJIc0TDj8RQ\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1482186872,\r\n    \"updated\": 1482186872\r\n  },\r\n  \"tags\": {\r\n    \"purpose\": \"unit test\",\r\n    \"test name \": \"CreateDeleteRecoverPurgeTest\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/deletedkeys/CreateDeleteRecoverPurgeTest?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"KeyNotFound\",\r\n    \"message\": \"Deleted Key not found: CreateDeleteRecoverPurgeTest\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/deletedkeys/CreateDeleteRecoverPurgeTest/recover?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://karlaugsoftdeletesdk.vault-int.azure-int.net/keys/CreateDeleteRecoverPurgeTest/ed0630c77dcf4d35b4f2c949ab3f8a07\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"6j0E_J8NHglCbHdr1RtDVLaUvPL_iihbY1C6m9NgR_EdBnuiXOxyACsFycqiQsEC7ubcjPMW3yE0fUUIVamzSgKGx3O26RIKwaCFXL0eD1_zs1oJN4PglB7mwrh2EGYnrZlF3cZtwCGIwYDP8DYGKi3c6gGX-a7HraG2u2de63duhc18NVXatJebUhPhOBnyamo4R5NNZo0PDzR5Tfwq5vypk_2vN2zOlXRSgUZGoMt5dfameTDrfYqwHpMdI420-g01dJLz5xyTYpYNB-NIQeFjSvr8d50ny_6hr-ZTH9BGr-xKbkBSwszIVcaGK9xcMvHHITtBPT3UJIc0TDj8RQ\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1482186872,\r\n    \"updated\": 1482186872\r\n  },\r\n  \"tags\": {\r\n    \"purpose\": \"unit test\",\r\n    \"test name \": \"CreateDeleteRecoverPurgeTest\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/deletedkeys/CreateDeleteRecoverPurgeTest?api-version=2016-10-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
      },
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {
    "VaultAddress": "https://karlaugsoftdeletesdk.vault-int.azure-int.net",
    "KeyName": "sdktestkey",
    "KeyVersion": "4ac8dbcb697b44a2bff598b1a21e371c",
    "SoftDeleteEnabled": "true"
  }
}