{
  "Entries": [
    {
      "RequestUri": "https://chrisskeyvaulthsm.managedhsm.azure.net/backup?api-version=7.2-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://chrisskeyvaulthsm.managedhsm.azure.net/backup?api-version=7.2-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://chrisskeyvaultprim.blob.core.windows.net/backup/some/folder/name",
        "token": "Sanitized"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "azure-asyncoperation": "https://chrisskeyvaulthsm.managedhsm.azure.net/backup/85f8de13a6094613bd46140409631931/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "0",
        "x-ms-server-latency": "1326"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": {
          "code": null,
          "message": null,
          "innererror": null
        },
        "startTime": 1607363757,
        "endTime": null,
        "jobId": "85f8de13a6094613bd46140409631931",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://chrisskeyvaulthsm.managedhsm.azure.net/backup/85f8de13a6094613bd46140409631931/pending?api-version=7.2-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20201130-1-64549fd2-develop",
        "x-ms-server-latency": "970"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": {
          "code": null,
          "innererror": null,
          "message": null
        },
        "jobId": "85f8de13a6094613bd46140409631931",
        "startTime": 1607363757,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://chrisskeyvaulthsm.managedhsm.azure.net/restore?api-version=7.2-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sasTokenParameters": {
          "storageResourceUri": "https://chrisskeyvaultprim.blob.core.windows.net/backup",
          "token": "Sanitized"
        },
        "folderToRestore": "some/folder/name/mhsm-chrisskeyvaulthsm-2020120717555793"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "azure-asyncoperation": "https://chrisskeyvaulthsm.managedhsm.azure.net/restore/61d7751ec2dc40a8add891bbd9753b44/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "0",
        "x-ms-server-latency": "5589"
      },
      "ResponseBody": {
        "endTime": null,
        "error": {
          "code": null,
          "innererror": null,
          "message": null
        },
        "jobId": "61d7751ec2dc40a8add891bbd9753b44",
        "startTime": 1607363773,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://chrisskeyvaulthsm.managedhsm.azure.net/restore/61d7751ec2dc40a8add891bbd9753b44/pending?api-version=7.2-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20201130-1-64549fd2-develop",
        "x-ms-server-latency": "1038"
      },
      "ResponseBody": {
        "endTime": null,
        "error": {
          "code": null,
          "innererror": null,
          "message": null
        },
        "jobId": "61d7751ec2dc40a8add891bbd9753b44",
        "startTime": 1607363773,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://chrisskeyvaulthsm.managedhsm.azure.net/restore/61d7751ec2dc40a8add891bbd9753b44/pending?api-version=7.2-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20201130-1-64549fd2-develop",
        "x-ms-server-latency": "4251"
      },
      "ResponseBody": {
        "endTime": 1607363793,
        "error": null,
        "jobId": "61d7751ec2dc40a8add891bbd9753b44",
        "startTime": 1607363773,
        "status": "Succeeded",
        "statusDetails": null
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://chrisskeyvaulthsm.managedhsm.azure.net/",
    "BLOB_PRIMARY_STORAGE_ACCOUNT_KEY": "Sanitized",
    "BLOB_STORAGE_ACCOUNT_NAME": "chrisskeyvaultprim",
    "RandomSeed": "1277853065"
  }
}