{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/backup?api-version=7.2-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/backup?api-version=7.2-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://heathskeyvaultprim.blob.core.windows.net/backup",
        "token": "Sanitized"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "azure-asyncoperation": "https://heathskeyvaulthsm.managedhsm.azure.net/backup/45c0df143eca41868f2fa2b8c492925a/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "0",
        "x-ms-server-latency": "866"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": {
          "code": null,
          "message": null,
          "innererror": null
        },
        "startTime": 1604025251,
        "endTime": null,
        "jobId": "45c0df143eca41868f2fa2b8c492925a",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/backup/45c0df143eca41868f2fa2b8c492925a/pending?api-version=7.2-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20200917-2-1617fc9c-develop",
        "x-ms-server-latency": "635"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": {
          "code": null,
          "innererror": null,
          "message": null
        },
        "jobId": "45c0df143eca41868f2fa2b8c492925a",
        "startTime": 1604025251,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/restore?api-version=7.2-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sasTokenParameters": {
          "storageResourceUri": "https://heathskeyvaultprim.blob.core.windows.net/backup",
          "token": "Sanitized"
        },
        "folderToRestore": "mhsm-heathskeyvaulthsm-2020103002341151"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "azure-asyncoperation": "https://heathskeyvaulthsm.managedhsm.azure.net/restore/de751ca6bfec4448862f817fbea521eb/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "0",
        "x-ms-server-latency": "834"
      },
      "ResponseBody": {
        "endTime": null,
        "error": {
          "code": null,
          "innererror": null,
          "message": null
        },
        "jobId": "de751ca6bfec4448862f817fbea521eb",
        "startTime": 1604025265,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/restore/de751ca6bfec4448862f817fbea521eb/pending?api-version=7.2-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20200917-2-1617fc9c-develop",
        "x-ms-server-latency": "2039"
      },
      "ResponseBody": {
        "endTime": null,
        "error": {
          "code": null,
          "innererror": null,
          "message": null
        },
        "jobId": "de751ca6bfec4448862f817fbea521eb",
        "startTime": 1604025265,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/restore/de751ca6bfec4448862f817fbea521eb/pending?api-version=7.2-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20200917-2-1617fc9c-develop",
        "x-ms-server-latency": "669"
      },
      "ResponseBody": {
        "endTime": 1604025276,
        "error": null,
        "jobId": "de751ca6bfec4448862f817fbea521eb",
        "startTime": 1604025265,
        "status": "Succeeded",
        "statusDetails": null
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "BLOB_PRIMARY_STORAGE_ACCOUNT_KEY": "Sanitized",
    "BLOB_STORAGE_ACCOUNT_NAME": "heathskeyvaultprim",
    "RandomSeed": "1955361809"
  }
}