{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/backup?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/backup?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://heathskvtestprim.blob.core.windows.net/backup",
        "token": "Sanitized"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "azure-asyncoperation": "https://heathskvtesthsm.managedhsm.azure.net/backup/64fbac4dcd5a4bbcab4676babfdf326e/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "0",
        "x-ms-server-latency": "3013"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1626278922,
        "endTime": null,
        "jobId": "64fbac4dcd5a4bbcab4676babfdf326e",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/backup/64fbac4dcd5a4bbcab4676babfdf326e/pending?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "2706"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": null,
        "jobId": "64fbac4dcd5a4bbcab4676babfdf326e",
        "startTime": 1626278922,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/restore?api-version=7.3-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sasTokenParameters": {
          "storageResourceUri": "https://heathskvtestprim.blob.core.windows.net/backup",
          "token": "Sanitized"
        },
        "folderToRestore": "mhsm-heathskvtesthsm-2021071416084212"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "azure-asyncoperation": "https://heathskvtesthsm.managedhsm.azure.net/restore/65c2f1d6cab146c08ec762ed00515050/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "0",
        "x-ms-server-latency": "2721"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "65c2f1d6cab146c08ec762ed00515050",
        "startTime": 1626278950,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/restore/65c2f1d6cab146c08ec762ed00515050/pending?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "2620"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "65c2f1d6cab146c08ec762ed00515050",
        "startTime": 1626278950,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/restore/65c2f1d6cab146c08ec762ed00515050/pending?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "2586"
      },
      "ResponseBody": {
        "endTime": 1626278966,
        "error": null,
        "jobId": "65c2f1d6cab146c08ec762ed00515050",
        "startTime": 1626278950,
        "status": "Succeeded",
        "statusDetails": null
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "BLOB_PRIMARY_STORAGE_ACCOUNT_KEY": "Sanitized",
    "BLOB_STORAGE_ACCOUNT_NAME": "heathskvtestprim",
    "RandomSeed": "1277853065"
  }
}