{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/TestMgmtGroup?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ba-restapi": "1.0.3.2409",
        "x-ms-ratelimit-remaining-tenant-reads": "11994"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/managementGroups/TestMgmtGroup",
        "type": "Microsoft.Management/managementGroups",
        "name": "TestMgmtGroup",
        "properties": {
          "tenantId": "75743128-1c62-4904-9be1-c23c1edb9a9f",
          "displayName": "TestMgmtGroup",
          "details": {
            "version": 2,
            "updatedTime": "2021-07-27T10:42:42.4541292Z",
            "updatedBy": "5fb160c5-5f5e-4097-8ad3-174a58b6d0f1",
            "parent": {
              "id": "/providers/Microsoft.Management/managementGroups/75743128-1c62-4904-9be1-c23c1edb9a9f",
              "name": "75743128-1c62-4904-9be1-c23c1edb9a9f",
              "displayName": "Tenant Root Group"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/TestMgmtGroup/providers/Microsoft.Authorization/policyDefinitions/polDef-3911?api-version=2020-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "displayName": "Test $polDef-3911",
          "policyRule": {
            "if": {
              "source": "action",
              "equals": "ResourceProviderTestHost/TestResourceType/TestResourceTypeNestedOne/write"
            },
            "then": {
              "effect": "deny"
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-writes": "1198"
      },
      "ResponseBody": {
        "properties": {
          "displayName": "Test $polDef-3911",
          "policyType": "Custom",
          "mode": "Indexed",
          "metadata": {
            "createdBy": "a7f6524f-c945-44eb-8671-431626ab4768",
            "createdOn": "2021-12-20T09:00:03.1893689Z",
            "updatedBy": null,
            "updatedOn": null
          },
          "policyRule": {
            "if": {
              "source": "action",
              "equals": "ResourceProviderTestHost/TestResourceType/TestResourceTypeNestedOne/write"
            },
            "then": {
              "effect": "deny"
            }
          }
        },
        "id": "/providers/Microsoft.Management/managementGroups/TestMgmtGroup/providers/Microsoft.Authorization/policyDefinitions/polDef-3911",
        "type": "Microsoft.Authorization/policyDefinitions",
        "name": "polDef-3911"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1215403501",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "f3d94233-a9aa-4241-ac82-2dfb63ce637a"
  }
}