{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Authorization/policyDefinitions/polDef-5666?api-version=2020-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "displayName": "Test $polDef-5666",
          "policyRule": {
            "if": {
              "source": "action",
              "equals": "ResourceProviderTestHost/TestResourceType/TestResourceTypeNestedOne/write"
            },
            "then": {
              "effect": "deny"
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "properties": {
          "displayName": "Test $polDef-5666",
          "policyType": "Custom",
          "mode": "Indexed",
          "metadata": {
            "createdBy": "fdc9f735-07d7-441f-92ab-f95b1c49185a",
            "createdOn": "2022-12-22T02:41:36.232684Z",
            "updatedBy": null,
            "updatedOn": null
          },
          "policyRule": {
            "if": {
              "source": "action",
              "equals": "ResourceProviderTestHost/TestResourceType/TestResourceTypeNestedOne/write"
            },
            "then": {
              "effect": "deny"
            }
          }
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Authorization/policyDefinitions/polDef-5666",
        "type": "Microsoft.Authorization/policyDefinitions",
        "name": "polDef-5666"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Authorization/policyDefinitions/polDef-5666?api-version=2020-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "properties": {
          "displayName": "Test $polDef-5666",
          "policyType": "Custom",
          "mode": "Indexed",
          "metadata": {
            "createdBy": "fdc9f735-07d7-441f-92ab-f95b1c49185a",
            "createdOn": "2022-12-22T02:41:36.232684Z",
            "updatedBy": null,
            "updatedOn": null
          },
          "policyRule": {
            "if": {
              "source": "action",
              "equals": "ResourceProviderTestHost/TestResourceType/TestResourceTypeNestedOne/write"
            },
            "then": {
              "effect": "deny"
            }
          }
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Authorization/policyDefinitions/polDef-5666",
        "type": "Microsoft.Authorization/policyDefinitions",
        "name": "polDef-5666"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "300927511",
    "RESOURCE_MANAGER_URL": "https://management.azure.com",
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
