{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-2712/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-4679/sqlDatabases/sql-db-5134?api-version=2023-03-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11766"
      },
      "ResponseBody": {
        "id": "/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-2712/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-4679/sqlDatabases/sql-db-5134",
        "type": "Microsoft.DocumentDB/databaseAccounts/sqlDatabases",
        "name": "sql-db-5134",
        "properties": {
          "resource": {
            "id": "sql-db-5134",
            "_rid": "gLQtAA==",
            "_self": "dbs/gLQtAA==/",
            "_etag": "\u002200005706-0000-0700-0000-649fbca70000\u0022",
            "_colls": "colls/",
            "_users": "users/",
            "_ts": 1688190119
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-2712/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-4679/sqlDatabases/sql-db-5134/containers/sql-container-8810?api-version=2023-03-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus",
        "properties": {
          "resource": {
            "id": "sql-container-8810",
            "indexingPolicy": {
              "automatic": true,
              "indexingMode": "consistent",
              "includedPaths": [
                {
                  "path": "/*"
                }
              ],
              "excludedPaths": [
                {
                  "path": "/pathToNotIndex/*"
                }
              ],
              "compositeIndexes": [
                [
                  {
                    "path": "/orderByPath1",
                    "order": "ascending"
                  },
                  {
                    "path": "/orderByPath2",
                    "order": "descending"
                  }
                ]
              ],
              "spatialIndexes": [
                {
                  "path": "/*",
                  "types": [
                    "Point"
                  ]
                }
              ]
            },
            "partitionKey": {
              "paths": [
                "/address/zipCode"
              ],
              "kind": "Hash"
            }
          },
          "options": {
            "throughput": 700
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/6d002936-17f3-4851-8b91-abdc51e798ed?api-version=2023-03-15-preview",
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-2712/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-4679/sqlDatabases/sql-db-5134/containers/sql-container-8810/operationResults/6d002936-17f3-4851-8b91-abdc51e798ed?api-version=2023-03-15-preview",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/6d002936-17f3-4851-8b91-abdc51e798ed?api-version=2023-03-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11765"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-2712/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-4679/sqlDatabases/sql-db-5134/containers?api-version=2023-03-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11756"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-2712/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-4679/sqlDatabases/sql-db-5134/containers/sql-container-8810",
            "type": "Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers",
            "name": "sql-container-8810",
            "properties": {
              "resource": {
                "id": "sql-container-8810",
                "indexingPolicy": {
 [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11755"
      },
      "ResponseBody": {
        "id": "/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "subscriptionId": "220fc532-6091-423c-8ba0-66c2397d591b",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "CosmosDB-Demos-GeneralUse",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/providers/Microsoft.DocumentDB/restorableDatabaseAccounts?api-version=2023-03-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          ""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "e3b8d461-1403-43f5-8af8-6b03f6e462e1",
            "location": "West Central US",
            "type": "Microsoft.DocumentDB/locations/restorableDatabaseAccounts",
            "id": "/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/providers/Microsoft.DocumentDB/locations/westcentralus/restorableDatabaseAccounts/e3b8d461-1403-43f5-8af8-6b03f6e462e1",
            "properties": {
              "accountName": "r-database-account-4185",
              "apiType": "Sql",
              "creationTime": "2023-06-30T17:34:32Z",
              "deletionTime": "2023-06-30T18:40:00Z",
              "oldestRestorableTime": "2023-06-01T05:44:17Z",
              "restorableLocations": [
                {
                  "locationName": "West Central US",
                  "regionalDatabaseAccountInstanceId": "bcb2142a-85be-415b-993f-9d25c03b0848",
                  "creationTime": "2023-06-30T17:34:33Z",
                  "deletionTime": "2023-06-30T18:40:00Z"
                }
              ]
            }
          },
          {
            "name": "ee102bad-8eef-4279-998a-9b927835741c",
            "location": "West Central US",
            "type": "Microsoft.DocumentDB/locations/restorableDatabaseAccounts",
            "id": "/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/providers/Micros[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-2712/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-4679/sqlDatabases/sql-db-5134/containers/sql-container-8810?api-version=2023-03-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "code": "NotFound",
        "message": "Message: {\u0022code\u0022:\u0022NotFound\u0022,\u0022message\u0022:\u0022Message: {\\\u0022Errors\\\u0022:[\\\u0022Resource Not Found. Learn more: https:\\\\/\\\\/aka.ms\\\\/cosmosdb-tsg-not-found\\\u0022]}\\r\\nActivityId: b079632b-3e66-a044-265b-369fa625e548, Request URI: /apps/630d1ec5-1e0c-4e41-bd4d-59c2f41fda5e/services/0b9c968d-b3a4-41ea-8ca5-8b52042748ae/partitions/9102ecc3-2d05-460f-adeb-58b62b56b3c4/replicas/133326630056690683s, RequestStats: \\r\\nRequestStartTime: 2023-07-01T05:45:[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-2712/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-4679/sqlDatabases/sql-db-5134/containers/sql-container-8810?api-version=2023-03-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus",
        "properties": {
          "resource": {
            "id": "sql-container-8810",
            "restoreParameters": {
              "restoreSource": "/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/providers/Microsoft.DocumentDB/locations/westus2/restorableDatabaseAccounts/35b7ef09-62ee-4f99-912b-9a5660607673",
              "restoreTimestampInUtc": "2023-07-01T05:44:28.0000000Z"
            },
            "createMode": "Restore"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/17d16c7a-1a8d-4dd0-a708-a2e9d4a73719?api-version=2023-03-15-preview",
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-2712/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-4679/sqlDatabases/sql-db-5134/containers/sql-container-8810/operationResults/17d16c7a-1a8d-4dd0-a708-a2e9d4a73719?api-version=2023-03-15-preview",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
[...]
