{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
            "authorizationSource": "RoleBased",
            "managedByTenants": [],
            "tags": {
              "tagKey1": "tagValue1",
              "tagKey2": "tagValue2"
            },
            "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
            "state": "Enabled",
            "subscriptionPolicies": {
              "locationPlacementId": "Internal_2014-09-01",
              "quotaId": "Internal_2014-09-01",
              "spendingLimit": "Off"
            }
          }
        ],
        "count": {
          "type": "Total",
          "value": 1
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRg-2432?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-2432",
        "name": "testRg-2432",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-2432/providers/Microsoft.Network/virtualNetworks/testVn-6093?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          }
        },
        "tags": {},
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/5d9e3d1a-789f-402a-a814-fac7086fda30?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022testVn-6093\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-2432/providers/Microsoft.Network/virtualNetworks/testVn-6093\u0022,\r\n",
        "  \u0022etag\u0022: \u0022W/\\\u0022124c853d-47fd-496e-a20d-644ec3c9d6ad\\\u0022\u0022,\r\n",
        "  \u0022type\u0022: \u0022Microsoft.Network/virtualNetworks\u0022,\r\n",
        "  \u0022location\u0022: \u0022westus2\u0022,\r\n",
        "  \u0022tags\u0022: {},\r\n",
        "  \u0022properties\u0022: {\r\n",
        "    \u0022provisioningState\u0022: \u0022Updating\u0022,\r\n",
        "    \u0022resourceGuid\u0022: \u002233937e04-cee8-42de-b620-0bb84ebfa942\u0022,\r\n",
        "    \u0022addressSpace\u0022: {\r\n",
        "      \u0022addressPrefixes\u0022: [\r\n",
        "        \u002210.0.0.0/16\u0022\r\n",
        "      ]\r\n",
        "    },\r\n",
        "    \u0022subnets\u0022: [],\r\n",
        "    \u0022virtualNetworkPeerings\u0022: [],\r\n",
        "    \u0022enableDdosProtection\u0022: false\r\n",
        "  }\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/5d9e3d1a-789f-402a-a814-fac7086fda30?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022status\u0022: \u0022Succeeded\u0022\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-2432/providers/Microsoft.Network/virtualNetworks/testVn-6093?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022d677af96-12a5-4fe5-90e3-06a4f37d7fdb\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022testVn-6093\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-2432/providers/Microsoft.Network/virtualNetworks/testVn-6093\u0022,\r\n",
        "  \u0022etag\u0022: \u0022W/\\\u0022d677af96-12a5-4fe5-90e3-06a4f37d7fdb\\\u0022\u0022,\r\n",
        "  \u0022type\u0022: \u0022Microsoft.Network/virtualNetworks\u0022,\r\n",
        "  \u0022location\u0022: \u0022westus2\u0022,\r\n",
        "  \u0022tags\u0022: {},\r\n",
        "  \u0022properties\u0022: {\r\n",
        "    \u0022provisioningState\u0022: \u0022Succeeded\u0022,\r\n",
        "    \u0022resourceGuid\u0022: \u002233937e04-cee8-42de-b620-0bb84ebfa942\u0022,\r\n",
        "    \u0022addressSpace\u0022: {\r\n",
        "      \u0022addressPrefixes\u0022: [\r\n",
        "        \u002210.0.0.0/16\u0022\r\n",
        "      ]\r\n",
        "    },\r\n",
        "    \u0022subnets\u0022: [],\r\n",
        "    \u0022virtualNetworkPeerings\u0022: [],\r\n",
        "    \u0022enableDdosProtection\u0022: false\r\n",
        "  }\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-2432/providers/Microsoft.Network/virtualNetworks/testVn-6093/providers/Microsoft.Resources/links/link-9554?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "targetId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-2432/providers/Microsoft.Network/virtualNetworks/testVn-9268"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "properties": {
          "sourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-2432/providers/Microsoft.Network/virtualNetworks/testVn-6093/",
          "targetId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-2432/providers/Microsoft.Network/virtualNetworks/testVn-9268/"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-2432/providers/Microsoft.Network/virtualNetworks/testVn-6093/providers/Microsoft.Resources/links/link-9554",
        "type": "Microsoft.Resources/links",
        "name": "link-9554"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1442580394",
    "RESOURCE_MANAGER_URL": "https://management.azure.com",
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}