{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11991"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11990"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
            "authorizationSource": "RoleBased",
            "managedByTenants": [],
            "tags": {
              "tagKey1": "tagValue1",
              "tagKey2": "tagValue2"
            },
            "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
            "state": "Enabled",
            "subscriptionPolicies": {
              "locationPlacementId": "Internal_2014-09-01",
              "quotaId": "Internal_2014-09-01",
              "spendingLimit": "Off"
            }
          }
        ],
        "count": {
          "type": "Total",
          "value": 1
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRg-175?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1161"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-175",
        "name": "testRg-175",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11873"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network",
        "namespace": "Microsoft.Network",
        "authorizations": [
          {
            "applicationId": "2cf9eb86-36b5-49dc-86ae-9a63135dfa8c",
            "roleDefinitionId": "13ba9ab4-19f0-4804-adc4-14ece36cc7a1"
          },
          {
            "applicationId": "7c33bfcb-8d33-48d6-8e60-dc6404003489",
            "roleDefinitionId": "ad6261e4-fa9a-4642-aa5f-104f1b67e9e3"
          },
          {
            "applicationId": "1e3e4475-288f-4018-a376-df66fd7fac5f",
            "roleDefinitionId": "1d538b69-3d87-4e56-8ff8-25786fd48261"
          },
          {
            "applicationId": "a0be0c72-870e-46f0-9c49-c98333a996f7",
            "roleDefinitionId": "7ce[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-175/providers/Microsoft.Network/virtualNetworks/testVn-685?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          }
        },
        "location": "westus2"
      },
      "StatusCode": 500,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "InternalServerError",
          "message": "Encountered internal server error. Diagnostic information: timestamp \u002720220117T022639Z\u0027, subscription id \u0027db1ab6f0-4769-4b27-930e-01e2ef9c123c\u0027, tracking id \u002763b333c6-1efb-4477-b801-55a6a85ff336\u0027, request correlation id \u002763b333c6-1efb-4477-b801-55a6a85ff336\u0027."
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-175/providers/Microsoft.Network/virtualNetworks/testVn-685?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          }
        },
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/e882c8d6-85d6-4801-b43a-b0236f9ce5c0?api-version=2021-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022testVn-685\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/db1ab6f0-4769-4b27-9[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/e882c8d6-85d6-4801-b43a-b0236f9ce5c0?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022status\u0022: \u0022Succeeded\u0022\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-175/providers/Microsoft.Network/virtualNetworks/testVn-685?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022009b13fb-e474-4bf7-a9b0-85121f622aa1\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11990"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022testVn-685\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-175/providers/Microsoft.Network/virtualNetworks/testVn-685\u0022,\r\n",
        "  \u0022etag\u0022: \u0022W/\\\u0022009b13fb-e474-4bf7-a9b0-85121f622aa1\\\u0022\u0022,\r\n",
        "  \u0022type\u0022: \u0022Microsoft.Network/virtualNetworks\u0022,\r\n",
        "  \u0022location\u0022: \u0022westus2\u0022,\r\n",
        "  \u0022tags\u0022: {},\r\n",
        "  \u0022properties\u0022: {\r\n",
        "    \u0022provisioningState\u0022: \u0022Succeeded\u0022,\r\n",
        "    \u0022resourceGuid\u0022: \u00228481c851-efc8-47ca-829d-81da84225575\u0022,\r\n",
        "    \u0022addressSpace\u0022: {\r\n",
        "      \u0022addressPrefixes\u0022: [\r\n",
        "        \u002210.0.0.0/16\u0022\r\n",
        "      ]\r\n",
        "    },\r\n",
        "    \u0022subnets\u0022: [],\r\n",
        "    \u0022virtualNetworkPeerings\u0022: [],\r\n",
        "    \u0022enableDdosProtection\u0022: false\r\n",
        "  }\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-175/providers/Microsoft.Network/virtualNetworks/testVn-2335?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          }
        },
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/42c5c2b7-161f-49a0-96ef-b59fb547288c?api-version=2021-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022testVn-2335\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-175/providers/Microsoft.Network/virtualNetworks/testVn-2335\u0022,\r\n",
        "  \u0022etag\u0022: \u0022W/\\\u00222ee2e8f5-2beb-4d48-898b-40210e22eded\\\u0022\u0022,\r\n",
        "  \u0022type\u0022: \u0022Microsoft.Network/virtualNetworks\u0022,\r\n",
        "  \u0022location\u0022: \u0022westus2\u0022,\r\n",
        "  \u0022tags\u0022: {},\r\n",
        "  \u0022properties\u0022: {\r\n",
        "    \u0022provisioningState\u0022: \u0022Updating\u0022,\r\n",
        "    \u0022resourceGuid\u0022: \u0022bf5e88ce-cb29-4f0f-ac1a-af81001a7dce\u0022,\r\n",
        "    \u0022addressSpace\u0022: {\r\n",
        "      \u0022addressPrefixes\u0022: [\r\n",
        "        \u002210.0.0.0/16\u0022\r\n",
        "      ]\r\n",
        "    },\r\n",
        "    \u0022subnets\u0022: [],\r\n",
        "    \u0022virtualNetworkPeerings\u0022: [],\r\n",
        "    \u0022enableDdosProtection\u0022: false\r\n",
        "  }\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-175/providers/Microsoft.Network/virtualNetworks/testVn-685/providers/Microsoft.Resources/links/link-1868?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "targetId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-175/providers/Microsoft.Network/virtualNetworks/testVn-2335"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "properties": {
          "sourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-175/providers/Microsoft.Network/virtualNetworks/testVn-685/",
          "targetId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-175/providers/Microsoft.Network/virtualNetworks/testVn-2335/"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-175/providers/Microsoft.Network/virtualNetworks/testVn-685/providers/Microsoft.Resources/links/link-1868",
        "type": "Microsoft.Resources/links",
        "name": "link-1868"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-175/providers/Microsoft.Network/virtualNetworks/testVn-685/providers/Microsoft.Resources/links/link-1868?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": {
        "properties": {
          "sourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-175/providers/Microsoft.Network/virtualNetworks/testVn-685/",
          "targetId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-175/providers/Microsoft.Network/virtualNetworks/testVn-2335/"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-175/providers/Microsoft.Network/virtualNetworks/testVn-685/providers/Microsoft.Resources/links/link-1868",
        "type": "Microsoft.Resources/links",
        "name": "link-1868"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1795355353",
    "RESOURCE_MANAGER_URL": "https://management.azure.com",
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}