{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-86e6d489-1069-b00c-c4b3-44ad93e35f40?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 31 Aug 2021 21:19:25 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96CC502441413\u0022",
        "Last-Modified": "Tue, 31 Aug 2021 21:19:25 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-86e6d489-1069-b00c-c4b3-44ad93e35f40/test-blob-08b75c36-0fa3-515d-2126-ce2b3fec9aea",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 31 Aug 2021 21:19:25 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "EBnsiA0roNI20f2MmPIR34Dl6bgimoaxrYQSelr5dnPXtLCV6zXeC7zk0tIR0bkvFe6rWQLix3WTO9qJGCV4PVuKtONCfPRKBt78Psi0n9zK42VrTRxx9ew6Aa9aVfOWa5R2hx3V7Zj6YFMk5omt3pz\u002BvjXADe8/Gb72B3pE77HrZdIzPRi/9fXMcOzITQ9jjCMTW5e\u002B1V6lN25e3uUetnGiOIC2eqCDP8g/9J0Cdsuvk3tWMZMZLI90jQaqYRYQrbl7JhSPrRKCjxzOfuHAo8Girktqx4XdiAzwQeya2d6xL0fjhk\u002B3IOVp06F3Sq2us\u002BpECLLLpuU0np4Inmsm6LY9[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-86e6d489-1069-b00c-c4b3-44ad93e35f40/test-blob-08b75c36-0fa3-515d-2126-ce2b3fec9aea?sv=2023-01-03\u0026st=2021-08-31T20%3A19%3A25Z\u0026se=2021-08-31T22%3A19%3A25Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "7tJdgwU3NQuhFVY2Qq9llQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D96CC5024A91C8\u0022",
        "Last-Modified": "Tue, 31 Aug 2021 21:19:25 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 31 Aug 2021 21:19:25 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 31 Aug 2021 21:19:25 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2021-08-31T21:19:25.2444370Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-86e6d489-1069-b00c-c4b3-44ad93e35f40?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 31 Aug 2021 21:19:26 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-08-31T16:19:25.9668732-05:00",
    "RandomSeed": "1599393888",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}