{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7cc0e0e3-6368-f17d-26ae-004369b2f8c1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 14 May 2021 16:55:20 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D916F90ED5EDE0\"",
        "Last-Modified": "Fri, 14 May 2021 16:55:20 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7cc0e0e3-6368-f17d-26ae-004369b2f8c1/test-blob-07e05f5f-d99a-1dbf-2a00-059f90645127",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 14 May 2021 16:55:20 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "+0Ha4nVNRKYH/rxP9YHrq6ZZuUAeqyOPxx6BfCLMd+lmqTiS8D8DEhs5AJwcbyioFFr5NqoRCFAdSxtWzMiEOofT6EtJWLpmVqYk5aqHclj22GfH00A+VaDodaUkrUZTtcYUSYbcX7ugkuAD7COlldnCX/NgvGZGlJOrYeMVQqlg0TDkcinRGnmsJ0FgOml9Qt/MYU1S8/hgzrTzMf3Yi1A3oxrywCOv8UV5tJQk5VkqLR4ESeBbDd43hKR03uh71JzxKZdOioK8HHAH2T5kO+lbyQPf00Fv25U7uzx+OxJd/eD4M7zC26OcSCxvVDSf00i7GRXlnABagU0BE85FPeBdqttebAgsmO1fQ4sU/4Zh[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7cc0e0e3-6368-f17d-26ae-004369b2f8c1/test-blob-07e05f5f-d99a-1dbf-2a00-059f90645127?sv=2020-10-02&st=2021-05-14T15%3A55%3A20Z&se=2021-05-14T17%3A55%3A20Z&sr=b&sp=racwdxltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "2V8iUC12vgSox7VD9NIJDw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D916F90EE15562\"",
        "Last-Modified": "Fri, 14 May 2021 16:55:20 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 14 May 2021 16:55:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 14 May 2021 16:55:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-05-14T16:55:20.1962099Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7cc0e0e3-6368-f17d-26ae-004369b2f8c1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 14 May 2021 16:55:20 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-05-14T11:55:20.6814548-05:00",
    "RandomSeed": "885294133",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}