{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8e6dab31-a9e3-3e6d-91a3-c69421e0c486?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 29 Oct 2020 21:53:43 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D87C551AEAA9C7\u0022",
        "Last-Modified": "Thu, 29 Oct 2020 21:53:43 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8e6dab31-a9e3-3e6d-91a3-c69421e0c486/test-blob-4199cbc4-d457-1006-709a-1cd21be6add5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 29 Oct 2020 21:53:43 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "cDgIWmAk5I1j1HSUHKpEC8KywcUj8Ta3wG8wB19Q\u002BXg/LyBWXvN6oOYL3YNgcvPFVRAQaCXnsX4BUJnw890tEtr7VO2K7q3ONyHeFxSzVk58arJPQJBTWH2hVA1aiqwJ3cqoZR4GO2ZjQTEECZpqTflLdIkr3tJKp/xv6JmfdK101TlKC/EwdS9L7P5fT07jNwcTDhUj3v/3Xr0hllLNw82DjzRgH0IIG/5Z3/LT6litjLGSjGWXUfY6Uq00Dt/cfigx278agxfEC/MXyf4MJHNkcwmgOjdo7D49Jc2V1AwefGHJog6YkgmazYFxgIf3LS45z5rVPEPxyO\u002BB3V1JLzbm\u002BEydQ[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8e6dab31-a9e3-3e6d-91a3-c69421e0c486/test-blob-4199cbc4-d457-1006-709a-1cd21be6add5?sv=2020-04-08\u0026st=2020-10-29T20%3A53%3A44Z\u0026se=2020-10-29T22%3A53%3A44Z\u0026sr=b\u0026sp=r\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "oCeC5iHhcJhh1nrBp1d3MA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D87C551B002FDF\u0022",
        "Last-Modified": "Thu, 29 Oct 2020 21:53:43 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 29 Oct 2020 21:53:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-10-29T21:53:43.9986655Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8e6dab31-a9e3-3e6d-91a3-c69421e0c486?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 29 Oct 2020 21:53:44 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-10-29T14:53:44.0332863-07:00",
    "RandomSeed": "595703838",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Kg==;\n"
  }
}