{
  "Entries": [
    {
      "RequestUri": "https://language-dev-frontend-westus2-qna.cognitiveservices.azure.com/language/:analyze-conversations?api-version=2022-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "conversationItem": {
            "text": "Send an email to Carol about the tomorrow\u0027s demo",
            "id": "1",
            "participantId": "1"
          }
        },
        "parameters": {
          "projectName": "EmailDomain",
          "deploymentName": "production"
        },
        "kind": "Conversation"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.Language.ConversationalLanguageUnderstanding.Prediction=1"
      },
      "ResponseBody": {
        "kind": "ConversationResult",
        "result": {
          "query": "Send an email to Carol about the tomorrow\u0027s demo",
          "prediction": {
            "topIntent": "Read",
            "projectKind": "Conversation",
            "intents": [
              {
                "category": "Read",
                "confidenceScore": 0.53281987
              },
              {
                "category": "Send",
                "confidenceScore": 0.2706726
              },
              {
                "category": "Setup",
                "confidenceScore": 0.12964208
              },
              {
                "category": "Find",
                "confidenceScore": 0.056024347
              },
              {
                "category": "Set",
                "confidenceScore": 0.006720359
              },
              {
                "category": "Call",
                "confidenceScore": 0.0032539133
              },
              {
                "category": "None",
                "confidenceScore": 0.0005657527
              },
              {
                "category": "Open",
                "confidenceScore": 0.00024706984
              },
              {
                "category": "Play",
                "confidenceScore": 5.4002798E-05
              }
            ],
            "entities": [
              {
                "category": "Contact",
                "text": "Carol",
                "offset": 17,
                "length": 5,
                "confidenceScore": 1,
                "extraInformation": [
                  {
                    "extraInformationKind": "EntitySubtype",
                    "value": "person.name"
                  }
                ]
              },
              {
                "category": "MeetingDate",
                "text": "tomorrow",
                "offset": 33,
                "length": 8,
                "confidenceScore": 1,
                "resolutions": [
                  {
                    "resolutionKind": "DateTimeResolution",
                    "dateTimeSubKind": "Date",
                    "timex": "2022-05-20",
                    "value": "2022-05-20"
                  }
                ],
                "extraInformation": [
                  {
                    "extraInformationKind": "EntitySubtype",
                    "value": "datetime.date"
                  }
                ]
              },
              {
                "category": "Contact",
                "text": "demo",
                "offset": 44,
                "length": 4,
                "confidenceScore": 1
              }
            ]
          }
        }
      }
    }
  ],
  "Variables": {
    "AZURE_CONVERSATIONS_DEPLOYMENT_NAME": "production",
    "AZURE_CONVERSATIONS_ENDPOINT": "https://language-dev-frontend-westus2-qna.cognitiveservices.azure.com/",
    "AZURE_CONVERSATIONS_KEY": "Sanitized",
    "AZURE_CONVERSATIONS_PROJECT_NAME": "EmailDomain",
    "RandomSeed": "620860292"
  }
}
