{
  "Entries": [
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/:analyze-conversations?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "conversationItem": {
            "text": "Send an email to Carol about the tomorrow\u0027s demo",
            "id": "1",
            "participantId": "1"
          }
        },
        "parameters": {
          "projectName": "OrchestrationScriptDeployed",
          "deploymentName": "production"
        },
        "kind": "Conversation"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.Language.OrchestrationWorkflow.Prediction=1",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "kind": "ConversationResult",
        "result": {
          "query": "Send an email to Carol about the tomorrow\u0027s demo",
          "prediction": {
            "topIntent": "EmailIntent",
            "projectKind": "Orchestration",
            "intents": {
              "EmailIntent": {
                "confidenceScore": 0.7871725,
                "targetProjectKind": "Conversation",
                "result": {
                  "query": "Send an email to Carol about the tomorrow\u0027s demo",
                  "prediction": {
                    "topIntent": "Send",
                    "projectKind": "Conversation",
                    "intents": [
                      {
                        "category": "Send",
                        "confidenceScore": 0.9052755
                      },
                      {
                        "category": "Read",
                        "confidenceScore": 0.44003114
                      },
                      {
                        "category": "Setup",
                        "confidenceScore": 0.41299748
                      },
                      {
                        "category": "Set",
                        "confidenceScore": 0.21182476
                      },
                      {
                        "category": "None",
                        "confidenceScore": 0.19785939
                      },
                      {
                        "category": "Find",
                        "confidenceScore": 0.19204247
                      },
                      {
                        "category": "Call",
                        "confidenceScore": 0.16442677
                      },
                      {
                        "category": "Play",
                        "confidenceScore": 0.15646957
                      },
                      {
                        "category": "Open",
                        "confidenceScore": 0.08694848
                      }
                    ],
                    "entities": [
                      {
                        "category": "Contact",
                        "text": "Carol",
                        "offset": 17,
                        "length": 5,
                        "confidenceScore": 1,
                        "extraInformation": [
                          {
                            "extraInformationKind": "EntitySubtype",
                            "value": "person.name"
                          }
                        ]
                      },
                      {
                        "category": "MeetingDate",
                        "text": "tomorrow",
                        "offset": 33,
                        "length": 8,
                        "confidenceScore": 1,
                        "resolutions": [
                          {
                            "resolutionKind": "DateTimeResolution",
                            "dateTimeSubKind": "Date",
                            "timex": "2023-05-09",
                            "value": "2023-05-09"
                          }
                        ],
                        "extraInformation": [
                          {
                            "extraInformationKind": "EntitySubtype",
                            "value": "datetime.date"
                          }
                        ]
                      }
                    ]
                  }
                }
              },
              "ChitChat-QnA": {
                "confidenceScore": 0.65083516,
                "targetProjectKind": "QuestionAnswering"
              },
              "None": {
                "confidenceScore": 0.15003009,
                "targetProjectKind": "NonLinked"
              }
            }
          }
        }
      }
    }
  ],
  "Variables": {
    "CONVERSATIONS_ENDPOINT": "https://languagesdkresource.cognitiveservices.azure.com/",
    "CONVERSATIONS_KEY": "Sanitized",
    "CONVERSATIONS_WORKFLOW_DEPLOYMENT_NAME": "production",
    "CONVERSATIONS_WORKFLOW_PROJECT_NAME": "OrchestrationScriptDeployed",
    "RandomSeed": "1202914734"
  }
}
