{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/FirewallRG-3501?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11864"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallRG-3501",
        "name": "FirewallRG-3501",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallRG-3501/providers/Microsoft.Network/virtualNetworks/vnet-5110?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"45fbf23c-cd70-4b3c-a6d5-534209839c71\"",
        "x-ms-ratelimit-remaining-subscription-reads": "11863"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"name\": \"vnet-5110\",\r\n",
        "  \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallRG-3501/providers/Microsoft.Network/virtualNetworks/vnet-5110\",\r\n",
        "  \"etag\": \"W/\\\"45fbf23c-cd70-4b3c-a6d5-534209839c71\\\"\",\r\n",
        "  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n",
        "  \"location\": \"westus2\",\r\n",
        "  \"properties\": {\r\n",
        "    \"provisioningState\": \"Succeeded\",\r\n",
        "    \"resourceGuid\": \"53ea5341-9bf7-4476-9ec8-c1b1ea2699b1\",\r\n",
        "    \"addressSpace\": {\r\n",
        "      \"addressPrefixes\": [\r\n",
        "        \"10.20.0.0/16\"\r\n",
        "      ]\r\n",
        "    },\r\n",
        "    \"subnets\": [\r\n",
        "      {\r\n",
        "        \"name\": \"AzureFirewallSubnet\",\r\n",
        "        \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallRG-3501/providers/Microsoft.Network/virtualNetworks/vnet-5110/subnets/AzureFirewallSubnet\",\r\n",
        "        \"etag\": \"W/\\\"45fbf23c-cd70-4b3c-a6d5-534209839c71\\\"\",\r\n",
        "        \"properties\": {\r\n",
        "          \"provisioningState\": \"Succeeded\",\r\n",
        "          \"addressPrefix\": \"10.20.2.0/26\",\r\n",
        "          \"delegations\": [],\r\n",
        "          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n",
        "          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n",
        "        },\r\n",
        "        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n",
        "      },\r\n",
        "      {\r\n",
        "        \"name\": \"Default\",\r\n",
        "        \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallRG-3501/providers/Microsoft.Network/virtualNetworks/vnet-5110/subnets/Default\",\r\n",
        "        \"etag\": \"W/\\\"45fbf23c-cd70-4b3c-a6d5-534209839c71\\\"\",\r\n",
        "        \"properties\": {\r\n",
        "          \"provisioningState\": \"Succeeded\",\r\n",
        "          \"addressPrefix\": \"10.20.1.0/26\",\r\n",
        "          \"networkSecurityGroup\": {\r\n",
        "            \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallRG-3501/providers/Microsoft.Network/networkSecurityGroups/NRMS-crmkw7nxmz53gvnet-5110\"\r\n",
        "          },\r\n",
        "          \"delegations\": [],\r\n",
        "          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n",
        "          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n",
        "        },\r\n",
        "        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n",
        "      }\r\n",
        "    ],\r\n",
        "    \"virtualNetworkPeerings\": [],\r\n",
        "    \"enableDdosProtection\": false\r\n",
        "  }\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallRG-3501/providers/Microsoft.Network/publicIPAddresses/publicIp-5717?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"88a4467f-bf45-4674-bf83-d36323411a58\"",
        "x-ms-ratelimit-remaining-subscription-reads": "11862"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"name\": \"publicIp-5717\",\r\n",
        "  \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallRG-3501/providers/Microsoft.Network/publicIPAddresses/publicIp-5717\",\r\n",
        "  \"etag\": \"W/\\\"88a4467f-bf45-4674-bf83-d36323411a58\\\"\",\r\n",
        "  \"location\": \"westus2\",\r\n",
        "  \"properties\": {\r\n",
        "    \"provisioningState\": \"Succeeded\",\r\n",
        "    \"resourceGuid\": \"a89ad5b0-a232-4ee2-97b2-92f7677f8569\",\r\n",
        "    \"ipAddress\": \"20.114.54.163\",\r\n",
        "    \"publicIPAddressVersion\": \"IPv4\",\r\n",
        "    \"publicIPAllocationMethod\": \"Static\",\r\n",
        "    \"idleTimeoutInMinutes\": 4,\r\n",
        "    \"ipTags\": []\r\n",
        "  },\r\n",
        "  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n",
        "  \"sku\": {\r\n",
        "    \"name\": \"Standard\",\r\n",
        "    \"tier\": \"Regional\"\r\n",
        "  }\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallRG-3501/providers/Microsoft.Network/azureFirewalls/firewall-8134?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "ipConfigurations": [
            {
              "name": "fwpip",
              "properties": {
                "subnet": {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallRG-3501/providers/Microsoft.Network/virtualNetworks/vnet-5110/subnets/AzureFirewallSubnet"
                },
                "publicIPAddress": {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallRG-3501/providers/Microsoft.Network/publicIPAddresses/publicIp-5717"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/1c8c32b8-bbf3-438b-a23c-1f86d5a9aeee?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1179"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"name\": \"firewall-8134\",\r\n",
        "  \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallRG-3501/providers/Microsoft.Network/azureFirewalls/firewall-8134\",\r\n",
        "  \"etag\": \"W/\\\"009740e5-f2fe-473f-9793-c6d6f924f669\\\"\",\r\n",
        "  \"type\": \"Microsoft.Network/azureFirewalls\",\r\n",
        "  \"location\": \"westus2\",\r\n",
        "  \"properties\": {\r\n",
        "    \"provisioningState\": \"Updating\",\r\n",
        "    \"sku\": {\r\n",
        "      \"name\": \"AZFW_VNet\",\r\n",
        "      \"tier\": \"Standard\"\r\n",
        "    },\r\n",
        "    \"threatIntelMode\": \"Alert\",\r\n",
        "    \"additionalProperties\": {},\r\n",
        "    \"ipConfigurations\": [\r\n",
        "      {\r\n",
        "        \"name\": \"fwpip\",\r\n",
        "        \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallRG-3501/providers/Microsoft.Network/azureFirewalls/firewall-8134/azureFirewallIpConfigurations/fwpip\",\r\n",
        "        \"etag\": \"W/\\\"009740e5-f2fe-473f-9793-c6d6f924f669\\\"\",\r\n",
        "        \"type\": \"Microsoft.Network/azureFirewalls/azureFirewallIpConfigurations\",\r\n",
        "        \"properties\": {\r\n",
        "          \"provisioningState\": \"Succeeded\",\r\n",
        "          \"privateIPAllocationMethod\": \"Dynamic\",\r\n",
        "          \"publicIPAddress\": {\r\n",
        "            \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallRG-3501/providers/Microsoft.Network/publicIPAddresses/publicIp-5717\"\r\n",
        "          },\r\n",
        "          \"subnet\": {\r\n",
        "            \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallRG-3501/providers/Microsoft.Network/virtualNetworks/vnet-5110/subnets/AzureFirewallSubnet\"\r\n",
        "          }\r\n",
        "        }\r\n",
        "      }\r\n",
        "    ],\r\n",
        "    \"networkRuleCollections\": [],\r\n",
        "    \"applicationRuleCollections\": [],\r\n",
        "    \"natRuleCollections\": []\r\n",
        "  }\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/1c8c32b8-bbf3-438b-a23c-1f86d5a9aeee?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11861"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"status\": \"InProgress\"\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallRG-3501/providers/Microsoft.Network/azureFirewalls?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"value\": [\r\n",
        "    {\r\n",
        "      \"name\": \"firewall-8134\",\r\n",
        "      \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallRG-3501/providers/Microsoft.Network/azureFirewalls/firewall-8134\",\r\n",
        "      \"etag\": \"W/\\\"39dc5f47-ac7e-4018-9052-60a1c99330ba\\\"\",\r\n",
        "      \"type\": \"Microsoft.Network/azureFirewalls\",\r\n",
        "      \"location\": \"westus2\",\r\n",
        "      \"properties\": {\r\n",
        "        \"provisioningState\": \"Succeeded\",\r\n",
        "        \"sku\": {\r\n",
        "          \"name\": \"AZFW_VNet\",\r\n",
        "          \"tier\": \"Standard\"\r\n",
        "        },\r\n",
        "        \"threatIntelMode\": \"Alert\",\r\n",
        "        \"additionalProperties\": {},\r\n",
        "        \"ipConfigurations\": [\r\n",
        "          {\r\n",
        "            \"name\": \"fwpip\",\r\n",
        "            \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallRG-3501/providers/Microsoft.Network/azureFirewalls/firewall-8134/azureFirewallIpConfigurations/fwpip\",\r\n",
        "            \"etag\": \"W/\\\"39dc5f47-ac7e-4018-9052-60a1c99330ba\\\"\",\r\n",
        "            \"type\": \"Microsoft.Network/azureFirewalls/azureFirewallIpConfigurations\",\r\n",
        "            \"properties\": {\r\n",
        "              \"provisioningState\": \"Succeeded\",\r\n",
        "              \"privateIPAddress\": \"10.20.2.4\",\r\n",
        "              \"privateIPAllocationMethod\": \"Dynamic\",\r\n",
        "              \"publicIPAddress\": {\r\n",
        "                \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallRG-3501/providers/Microsoft.Network/publicIPAddresses/publicIp-5717\"\r\n",
        "              },\r\n",
        "              \"subnet\": {\r\n",
        "                \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallRG-3501/providers/Microsoft.Network/virtualNetworks/vnet-5110/subnets/AzureFirewallSubnet\"\r\n",
        "              }\r\n",
        "            }\r\n",
        "          }\r\n",
        "        ],\r\n",
        "        \"networkRuleCollections\": [],\r\n",
        "        \"applicationRuleCollections\": [],\r\n",
        "        \"natRuleCollections\": []\r\n",
        "      }\r\n",
        "    }\r\n",
        "  ]\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallRG-3501/providers/Microsoft.Network/azureFirewalls/firewall-8134?api-version=2021-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/39cb0b2f-aee1-4288-a00c-bf747edd8d4c?api-version=2021-02-01",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operationResults/39cb0b2f-aee1-4288-a00c-bf747edd8d4c?api-version=2021-02-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/39cb0b2f-aee1-4288-a00c-bf747edd8d4c?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"status\": \"Succeeded\"\r\n",
        "}"
      ]
    }
  ],
  "Variables": {
    "RandomSeed": "1609662180",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}