{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Capacity/operations?api-version=2017-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.Capacity/reservationorders/read\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Capacity\",\r\n        \"resource\": \"Reservations\",\r\n        \"operation\": \"Get Reservations\",\r\n        \"description\": \"Read All Reservations\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Capacity/reservationorders/write\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Capacity\",\r\n        \"resource\": \"Reservations\",\r\n        \"operation\": \"Create Reservations\",\r\n        \"description\": \"Create any Reservation\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Capacity/reservationorders/action\",\r\n      \"display\": {\r\n        \"provider\": \"Micro[...]
