{
  "Entries": [
    {
      "RequestUri": "/subscriptions/caadc3f2-e83e-487c-9a14-41f74366467f/providers/Microsoft.Capacity/catalogs?api-version=2018-06-01&reservedResourceType=VirtualMachines&location=westus",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "[\r\n  {\r\n    \"resourceType\": \"virtualMachines\",\r\n    \"name\": \"Standard_D1\",\r\n    \"terms\": [\r\n      \"P1Y\",\r\n      \"P3Y\"\r\n    ],\r\n    \"locations\": [\r\n      \"westus\"\r\n    ],\r\n    \"skuProperties\": [\r\n      {\r\n        \"name\": \"Cores\",\r\n        \"value\": \"1\"\r\n      },\r\n      {\r\n        \"name\": \"ReservationsAutofitGroup\",\r\n        \"value\": \"D Series\"\r\n      },\r\n      {\r\n        \"name\": \"ProductShortName\",\r\n        \"value\": \"D Series\"\r\n      },\r\n      {\r\n        \"name\": \"ProductTitle\",\r\n        \"value\": \"D Series\"\r\n      },\r\n      {\r\n        \"name\": \"SkuName\",\r\n        \"value\": \"D1\"\r\n      },\r\n      {\r\n        \"name\": \"MeterId\",\r\n        \"value\": \"9a721778-24e6-40c4-a4e5-02014fd8f6ee\"\r\n      }\r\n    ],\r\n    \"restrictions\": []\r\n  },\r\n  {\r\n    \"resourceType\": \"virtualMachines\",\r\n    \"name\": \"Standard_F2\",\r\n    \"terms\": [\r\n      \"P1Y\",\r\n      \"P3Y\"\r\n    ],\r\n    \"locations\": [\r\n      \"westus\"\r\n    ],\r\n    \"skuProperties\": [\r\n      {\r\n        \"name\": \"Cores\",\r\n        \"value\": \"2\"\r\n      },\r\n      {\r\n        \"name\": \"ReservationsAutofitGroup\",\r\n        \"value\": \"F Series\"\r\n      },\r\n      {\r\n        \"name\": \"ProductShortName\",\r\n        \"value\": \"F Series\"\r\n      },\r\n      {\r\n        \"name\": \"ProductTitle\",\r\n        \"value\": \"F Series\"\r\n      },\r\n      {\r\n        \"name\": \"SkuName\",\r\n        \"value\": \"F2\"\r\n      },\r\n      {\r\n        \"name\": \"MeterId\",\r\n        \"value\": \"efdb48e1-6e65-4d8a-ba65-f7b6a04d05ee\"\r\n      }\r\n    ],\r\n    \"restrictions\": []\r\n  }\r\n]",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ],
        "x-ms-test": [
          "{\"contact\":\"kgautam\",\"scenarios\":\"SqlSusePurchase\",\"retention\":\"6/18/2018 4:57:52 PM\"}"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/caadc3f2-e83e-487c-9a14-41f74366467f/providers/Microsoft.Capacity/catalogs?api-version=2018-06-01&reservedResourceType=SqlDatabases&location=southeastasia",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "[\r\n  {\r\n    \"resourceType\": \"SQLDatabases\",\r\n    \"name\": \"SQLDB_BC_Compute_Gen5\",\r\n    \"terms\": [\r\n      \"P1Y\",\r\n      \"P3Y\"\r\n    ],\r\n    \"locations\": [\r\n[...]
    {
      "RequestUri": "/subscriptions/caadc3f2-e83e-487c-9a14-41f74366467f/providers/Microsoft.Capacity/catalogs?api-version=2018-06-01&reservedResourceType=SuseLinux",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "[\r\n  {\r\n    \"resourceType\": \"SuseLinux\",\r\n    \"name\": \"sles_hpc_priority_1-2_vcpu_vm\",\r\n    \"terms\": [\r\n      \"P1Y\",\r\n      \"P3Y\"\r\n    ],\r\n    \"skuProperties\": [\r\n      {\r\n      [...]
