{
  "Entries": [
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1815279286/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1815279286/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "attributes": {
          "enabled": false,
          "nbf": 1564536012,
          "exp": 1567128012
        },
        "key_ops": [
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/1815279286/4e2767398e6446dca2855cd7a8e62880",
          "kty": "EC",
          "key_ops": [
            "verify"
          ],
          "crv": "P-256",
          "x": "ZzOt_LHFrm2YYDN217pAQph62QGWBJBuH6hu37kfhxM",
          "y": "Zyuz5mRsCXPmWi5mDJn6mTxhJ3U799PbdcaDIrDz0SQ"
        },
        "attributes": {
          "enabled": false,
          "nbf": 1564536012,
          "exp": 1567128012,
          "created": 1626225096,
          "updated": 1626225096,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1815279286/?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/1815279286/4e2767398e6446dca2855cd7a8e62880",
          "kty": "EC",
          "key_ops": [
            "verify"
          ],
          "crv": "P-256",
          "x": "ZzOt_LHFrm2YYDN217pAQph62QGWBJBuH6hu37kfhxM",
          "y": "Zyuz5mRsCXPmWi5mDJn6mTxhJ3U799PbdcaDIrDz0SQ"
        },
        "attributes": {
          "enabled": false,
          "nbf": 1564536012,
          "exp": 1567128012,
          "created": 1626225096,
          "updated": 1626225096,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskvtest.vault.azure.net/",
    "RandomSeed": "647661522"
  }
}