{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1486037799/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1486037799/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1486037799/bc7b78e4759a4eadb273473ac23426b3",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AElydvosOkb_Ro2CjnM4oz0x8zbW3UYpbgC4_7huE2xWXSdccir6KRHH6Nvh8YZ25wXGMxwDf3xiymt8ORz3X6sv",
          "y": "ANOIifN0Sp49WKdK4ZXX7XQJONRy52rziIcGLm4MnaUdnb8DECpavvq7mNO-lGFFzBCXXQmNiyzd7blL1FD_KrU7"
        },
        "attributes": {
          "enabled": true,
          "created": 1667258367,
          "updated": 1667258367,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1486037799/?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1486037799/bc7b78e4759a4eadb273473ac23426b3",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AElydvosOkb_Ro2CjnM4oz0x8zbW3UYpbgC4_7huE2xWXSdccir6KRHH6Nvh8YZ25wXGMxwDf3xiymt8ORz3X6sv",
          "y": "ANOIifN0Sp49WKdK4ZXX7XQJONRy52rziIcGLm4MnaUdnb8DECpavvq7mNO-lGFFzBCXXQmNiyzd7blL1FD_KrU7"
        },
        "attributes": {
          "enabled": true,
          "created": 1667258367,
          "updated": 1667258367,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1812046829"
  }
}
