{
  "Entries": [
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/436042095/create?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "curveName": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/436042095/5673a2366f50466b8399c1086f651cfb",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "dn-fPfbUDyJ59qWqgD3eDL5eQBu_TPBxhhAXt_zqiI0",
          "y": "a2fVEEbhIsyz78Tk0EjZyHvf0SzWddP_fhKoQKOZAHY"
        },
        "attributes": {
          "enabled": true,
          "created": 1560381475,
          "updated": 1560381475,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/436042095?api-version=7.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/436042095/5673a2366f50466b8399c1086f651cfb",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "dn-fPfbUDyJ59qWqgD3eDL5eQBu_TPBxhhAXt_zqiI0",
          "y": "a2fVEEbhIsyz78Tk0EjZyHvf0SzWddP_fhKoQKOZAHY"
        },
        "attributes": {
          "enabled": true,
          "created": 1560381475,
          "updated": 1560381475,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/436042095?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://pakrym-keyvault.vault.azure.net/deletedkeys/436042095",
        "deletedDate": 1560381475,
        "scheduledPurgeDate": 1568157475,
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/436042095/5673a2366f50466b8399c1086f651cfb",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "dn-fPfbUDyJ59qWqgD3eDL5eQBu_TPBxhhAXt_zqiI0",
          "y": "a2fVEEbhIsyz78Tk0EjZyHvf0SzWddP_fhKoQKOZAHY"
        },
        "attributes": {
          "enabled": true,
          "created": 1560381475,
          "updated": 1560381475,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/deletedkeys/436042095?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://pakrym-keyvault.vault.azure.net/",
    "RandomSeed": "523954085"
  }
}