{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/795788076/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/795788076/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/795788076/b62aa4acf40c49b782e6765c6acb6dd2",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pzexVWufeLtq5FIFcdUiAHEp45JKMTWB5udiV3CxFCRp059SCcCJI_na1C0VBifqLU6D45-Hbv_26zKFSG2hKpezsVqI5OV1fdEOdtEd-V7hzqZXxWpwzCnBEjpLLqXAmj7JQjlVcZVjZdQrjQAIT75sG9GLImWN8441GW7AlBGqbcEmb9IhRxocA1LrH-2MSiTC_yjWYdVlkpP29VgHS5J31vCLcbCmZDoVya2eS4u738XZeUtl8ZBZX8wmhoq_jUMLaVJTmY70xyvLsuTGqB3j5r23tgIqB-PMXaKIBfzsfqp6Bh50LA3mS1EPRivHSUTo68sZTbg-aukYPE00YQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1612561462,
          "updated": 1612561462,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/795788076/?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/795788076/b62aa4acf40c49b782e6765c6acb6dd2",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pzexVWufeLtq5FIFcdUiAHEp45JKMTWB5udiV3CxFCRp059SCcCJI_na1C0VBifqLU6D45-Hbv_26zKFSG2hKpezsVqI5OV1fdEOdtEd-V7hzqZXxWpwzCnBEjpLLqXAmj7JQjlVcZVjZdQrjQAIT75sG9GLImWN8441GW7AlBGqbcEmb9IhRxocA1LrH-2MSiTC_yjWYdVlkpP29VgHS5J31vCLcbCmZDoVya2eS4u738XZeUtl8ZBZX8wmhoq_jUMLaVJTmY70xyvLsuTGqB3j5r23tgIqB-PMXaKIBfzsfqp6Bh50LA3mS1EPRivHSUTo68sZTbg-aukYPE00YQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1612561462,
          "updated": 1612561462,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1119859545"
  }
}