{
  "Entries": [
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/528552223/create?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/528552223/0f38b49f20544461991e6f6229af663e",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tJCo74jnV5OIXJBLCqKz6fn-pT4UgSzlu4Tdkf2QWa8e7LEi68lX1qQnP7HO0BKAeezNPCF4O2S9yWmvq7EP3hd5cC-TIbx_W0PlcyUuVQQB7qF-5JOGd4ZIGDrwceEflDmKo94M-_tTv_4OjbBzJ4v5w2vqlbWNzVpphwc3QGC2EHt8sFiBmao6-JAl3vEHveUmvD6hMhGQoprEAbANkNI8fgi5qPojIn_VuR1FFN_hgeOaUwZc00fDgBcUbpJ0K7sdDO8w8R3ZHhrLlik1_NtfGkZnhp3GeuS8PDXm9Z_Fi22o2HK9eeFcz2dqiocCbd0NZBJx1yQ1utILbUoRRQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1560496292,
          "updated": 1560496292,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/528552223/?api-version=7.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/528552223/0f38b49f20544461991e6f6229af663e",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tJCo74jnV5OIXJBLCqKz6fn-pT4UgSzlu4Tdkf2QWa8e7LEi68lX1qQnP7HO0BKAeezNPCF4O2S9yWmvq7EP3hd5cC-TIbx_W0PlcyUuVQQB7qF-5JOGd4ZIGDrwceEflDmKo94M-_tTv_4OjbBzJ4v5w2vqlbWNzVpphwc3QGC2EHt8sFiBmao6-JAl3vEHveUmvD6hMhGQoprEAbANkNI8fgi5qPojIn_VuR1FFN_hgeOaUwZc00fDgBcUbpJ0K7sdDO8w8R3ZHhrLlik1_NtfGkZnhp3GeuS8PDXm9Z_Fi22o2HK9eeFcz2dqiocCbd0NZBJx1yQ1utILbUoRRQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1560496292,
          "updated": 1560496292,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/528552223?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://pakrym-keyvault.vault.azure.net/deletedkeys/528552223",
        "deletedDate": 1560496292,
        "scheduledPurgeDate": 1568272292,
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/528552223/0f38b49f20544461991e6f6229af663e",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tJCo74jnV5OIXJBLCqKz6fn-pT4UgSzlu4Tdkf2QWa8e7LEi68lX1qQnP7HO0BKAeezNPCF4O2S9yWmvq7EP3hd5cC-TIbx_W0PlcyUuVQQB7qF-5JOGd4ZIGDrwceEflDmKo94M-_tTv_4OjbBzJ4v5w2vqlbWNzVpphwc3QGC2EHt8sFiBmao6-JAl3vEHveUmvD6hMhGQoprEAbANkNI8fgi5qPojIn_VuR1FFN_hgeOaUwZc00fDgBcUbpJ0K7sdDO8w8R3ZHhrLlik1_NtfGkZnhp3GeuS8PDXm9Z_Fi22o2HK9eeFcz2dqiocCbd0NZBJx1yQ1utILbUoRRQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1560496292,
          "updated": 1560496292,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/deletedkeys/528552223?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://pakrym-keyvault.vault.azure.net/",
    "RandomSeed": "240049146"
  }
}