{
  "Entries": [
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/795788076/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/795788076/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/795788076/3d8b4027ba8d4d218dda17f091497f7d",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tY5ebZIKNbEvxovbia7S7AKxeM24--L1Mlv6Ma_v8ta0hpUOuEtdDw6B5YXTM8cyr8v6ZwXVqZjkQopQyV_fCyPGV6BaJ-QiPsMnO4Gjl3JoltcfxWJ1p-77tPyImkSz9qbFd9o9yFD7IgoVkOm7L38hbBplGtmWuGo6XkhlfxFScUOrkd8PlHGCL5JxsttmVPKDWeAZHc6iT5KTFYLetA31U5SdcJgEm_9bTcXRN4p2FcxH1x-oQRp8Jo1V1IjtKXctMflBQ-qMSJvpFV5FFA5za-wNsppvtl81B3lxAdThyZBz5BHxEd9rTwKoZYveksIkwytvUBma4_7kVmfESQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1596062949,
          "updated": 1596062949,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/795788076/?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/795788076/3d8b4027ba8d4d218dda17f091497f7d",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tY5ebZIKNbEvxovbia7S7AKxeM24--L1Mlv6Ma_v8ta0hpUOuEtdDw6B5YXTM8cyr8v6ZwXVqZjkQopQyV_fCyPGV6BaJ-QiPsMnO4Gjl3JoltcfxWJ1p-77tPyImkSz9qbFd9o9yFD7IgoVkOm7L38hbBplGtmWuGo6XkhlfxFScUOrkd8PlHGCL5JxsttmVPKDWeAZHc6iT5KTFYLetA31U5SdcJgEm_9bTcXRN4p2FcxH1x-oQRp8Jo1V1IjtKXctMflBQ-qMSJvpFV5FFA5za-wNsppvtl81B3lxAdThyZBz5BHxEd9rTwKoZYveksIkwytvUBma4_7kVmfESQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1596062949,
          "updated": 1596062949,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskv.vault.azure.net",
    "RandomSeed": "1119859545"
  }
}
