{
  "Entries": [
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/625710934/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/625710934/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/625710934/f3efc479dfad4cdc9fc11705585ce57a",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vf1RDD4cqG9tbrArPUh4qpLH8kGIPqbHqpzl1z7G-2SY4oQMpYPxflTf9B6H4Y-fQOmkXK41uBs7oPOElSLOWWUQIrQoiZB2OIDihm4VhbFsWEzW2I3NH0hDT3fKUoakdCoDxGS7n_u7HuSzu8m-XsJXXnlKqtz7n0owIQfFESFjovDf9RC-6ImU0pCgnVgpkd8ChEgGYR3VxA2BfXiBiM84-7oFvarGokY1_Upw1q8Ud2gGFlR-edX1P7nRVcdCZmMZ5pHxuiyYckG6Tk-oqWueB6QjetzjotrUTwQH5pZHwHnNV7FO_o4lXqPHccyyPdgtc_LE-nqdLPAE2uaxBQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1596062773,
          "updated": 1596062773,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/625710934/?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/625710934/f3efc479dfad4cdc9fc11705585ce57a",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vf1RDD4cqG9tbrArPUh4qpLH8kGIPqbHqpzl1z7G-2SY4oQMpYPxflTf9B6H4Y-fQOmkXK41uBs7oPOElSLOWWUQIrQoiZB2OIDihm4VhbFsWEzW2I3NH0hDT3fKUoakdCoDxGS7n_u7HuSzu8m-XsJXXnlKqtz7n0owIQfFESFjovDf9RC-6ImU0pCgnVgpkd8ChEgGYR3VxA2BfXiBiM84-7oFvarGokY1_Upw1q8Ud2gGFlR-edX1P7nRVcdCZmMZ5pHxuiyYckG6Tk-oqWueB6QjetzjotrUTwQH5pZHwHnNV7FO_o4lXqPHccyyPdgtc_LE-nqdLPAE2uaxBQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1596062773,
          "updated": 1596062773,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskv.vault.azure.net",
    "RandomSeed": "205833507"
  }
}
