{
  "Entries": [
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/1174488637/create?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "attributes": {
          "enabled": false
        },
        "key_ops": [
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/1174488637/bf9591928c74402c995fe1709b18fcfd",
          "kty": "EC",
          "key_ops": [
            "verify"
          ],
          "crv": "P-256",
          "x": "W73-4D4xOEUh0zGJQrzuI4rQJMLyBGEM15-UjdHbeIA",
          "y": "SUXUbeLNdg0A5pKgf_DqRIseDlkohpjruqOAL3GWxso"
        },
        "attributes": {
          "enabled": false,
          "created": 1560890135,
          "updated": 1560890135,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/1174488637/?api-version=7.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/1174488637/bf9591928c74402c995fe1709b18fcfd",
          "kty": "EC",
          "key_ops": [
            "verify"
          ],
          "crv": "P-256",
          "x": "W73-4D4xOEUh0zGJQrzuI4rQJMLyBGEM15-UjdHbeIA",
          "y": "SUXUbeLNdg0A5pKgf_DqRIseDlkohpjruqOAL3GWxso"
        },
        "attributes": {
          "enabled": false,
          "created": 1560890135,
          "updated": 1560890135,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/1174488637?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://pakrym-keyvault.vault.azure.net/deletedkeys/1174488637",
        "deletedDate": 1560890135,
        "scheduledPurgeDate": 1568666135,
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/1174488637/bf9591928c74402c995fe1709b18fcfd",
          "kty": "EC",
          "key_ops": [
            "verify"
          ],
          "crv": "P-256",
          "x": "W73-4D4xOEUh0zGJQrzuI4rQJMLyBGEM15-UjdHbeIA",
          "y": "SUXUbeLNdg0A5pKgf_DqRIseDlkohpjruqOAL3GWxso"
        },
        "attributes": {
          "enabled": false,
          "created": 1560890135,
          "updated": 1560890135,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/deletedkeys/1174488637?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://pakrym-keyvault.vault.azure.net/",
    "RandomSeed": "659908472"
  }
}