{
  "Entries": [
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/564029645/create?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/564029645/8df18ed89ccd471ead2103b22949ee91",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zXiuzM2ik5YhcYwcrIYDMbtcKaxXu5omeP6d-3TMTm4C9R55hdszrBFp42SsbvxzMLtNjIAz68RE45tpy80NlrD4LwdkrTCPOYDKget8e7CH5q0vFa0HMTLyV-1959CNF37ejX62pE2T-eZPGCwposLJh95AczFLh9QclPUvglX7RJXcXN6HPli_erybr2RF52hhkiPZFyRoHuvIdfxgENFtY-FunaQHiIIrAep0Gymi7OroZ5hQlcrCEpbtNTNDlnEesaIUi0rzWykxG3L-qiJu6s9dIfoFZNdnp_bsZVe0UWl7w4NcC_uYPQI0EszDlitxJNr2snDkQwUS7obUGw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1560381534,
          "updated": 1560381534,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/564029645?api-version=7.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/564029645/8df18ed89ccd471ead2103b22949ee91",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zXiuzM2ik5YhcYwcrIYDMbtcKaxXu5omeP6d-3TMTm4C9R55hdszrBFp42SsbvxzMLtNjIAz68RE45tpy80NlrD4LwdkrTCPOYDKget8e7CH5q0vFa0HMTLyV-1959CNF37ejX62pE2T-eZPGCwposLJh95AczFLh9QclPUvglX7RJXcXN6HPli_erybr2RF52hhkiPZFyRoHuvIdfxgENFtY-FunaQHiIIrAep0Gymi7OroZ5hQlcrCEpbtNTNDlnEesaIUi0rzWykxG3L-qiJu6s9dIfoFZNdnp_bsZVe0UWl7w4NcC_uYPQI0EszDlitxJNr2snDkQwUS7obUGw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1560381534,
          "updated": 1560381534,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/564029645?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://pakrym-keyvault.vault.azure.net/deletedkeys/564029645",
        "deletedDate": 1560381534,
        "scheduledPurgeDate": 1568157534,
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/564029645/8df18ed89ccd471ead2103b22949ee91",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zXiuzM2ik5YhcYwcrIYDMbtcKaxXu5omeP6d-3TMTm4C9R55hdszrBFp42SsbvxzMLtNjIAz68RE45tpy80NlrD4LwdkrTCPOYDKget8e7CH5q0vFa0HMTLyV-1959CNF37ejX62pE2T-eZPGCwposLJh95AczFLh9QclPUvglX7RJXcXN6HPli_erybr2RF52hhkiPZFyRoHuvIdfxgENFtY-FunaQHiIIrAep0Gymi7OroZ5hQlcrCEpbtNTNDlnEesaIUi0rzWykxG3L-qiJu6s9dIfoFZNdnp_bsZVe0UWl7w4NcC_uYPQI0EszDlitxJNr2snDkQwUS7obUGw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1560381534,
          "updated": 1560381534,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/deletedkeys/564029645?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://pakrym-keyvault.vault.azure.net/",
    "RandomSeed": "1698294825"
  }
}