{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/738902410/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/738902410/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/738902410/c81da0ba72e142eaaf738aeafda28203",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "sPw7-Drhthp_HE5mF5T1f1FvmL66uNH08Tpe7FId9qDNTrx3AZuwOB3OinKGmO7ufqRb0281728O96fcZKE-qlkKd1GBf-q0yzsjiH-SREA8PR_s3O8b0NWD-R5DioTyK1hm2x536mo_Jh2458oMwpszPKu1jetvrNtMge9-VM2iXH47PT7cPj0RlIsvcwG3K2QisZw5kn6Ebtn3GSpnUTgfr1EtJdKdBDkfVUIytTyQ4dqHQlLmT9yqOaJbLFTysVszYFpsFXBjUUw8ctGfD2O3xrDxrSQL9BIBp-mgFMoVmzRKP3esAPa2hbC7WIMxHxTH8LEbNWBszfAliDExKQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1677705603,
          "updated": 1677705603,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/738902410/?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/738902410/c81da0ba72e142eaaf738aeafda28203",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "sPw7-Drhthp_HE5mF5T1f1FvmL66uNH08Tpe7FId9qDNTrx3AZuwOB3OinKGmO7ufqRb0281728O96fcZKE-qlkKd1GBf-q0yzsjiH-SREA8PR_s3O8b0NWD-R5DioTyK1hm2x536mo_Jh2458oMwpszPKu1jetvrNtMge9-VM2iXH47PT7cPj0RlIsvcwG3K2QisZw5kn6Ebtn3GSpnUTgfr1EtJdKdBDkfVUIytTyQ4dqHQlLmT9yqOaJbLFTysVszYFpsFXBjUUw8ctGfD2O3xrDxrSQL9BIBp-mgFMoVmzRKP3esAPa2hbC7WIMxHxTH8LEbNWBszfAliDExKQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1677705603,
          "updated": 1677705603,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1234520769"
  }
}
