{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1106960130/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1106960130/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1106960130/eb236343011c4c51b3a7fd1927d6f853",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "riYxCy_ze1Jx8PKpOXFwBsGe0L82LsbJVfJExiwrxgXoByyh5IB6UvrurDVo6_dN",
          "y": "XA7DHI9NQaW5dQCtQ5_JTyKTftikEUfD5jokqzaI3eZeUjQRpJfD0d9RCft3mUY6"
        },
        "attributes": {
          "enabled": true,
          "created": 1648056977,
          "updated": 1648056977,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1106960130/?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1106960130/eb236343011c4c51b3a7fd1927d6f853",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "riYxCy_ze1Jx8PKpOXFwBsGe0L82LsbJVfJExiwrxgXoByyh5IB6UvrurDVo6_dN",
          "y": "XA7DHI9NQaW5dQCtQ5_JTyKTftikEUfD5jokqzaI3eZeUjQRpJfD0d9RCft3mUY6"
        },
        "attributes": {
          "enabled": true,
          "created": 1648056977,
          "updated": 1648056977,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "149906363"
  }
}
