{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1067083352/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1067083352/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "attributes": {
          "enabled": false,
          "nbf": 1564536012,
          "exp": 1567128012
        },
        "key_ops": [
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1067083352/e98b65207993476b9117fa9666067ba0",
          "kty": "EC",
          "key_ops": [
            "verify"
          ],
          "crv": "P-256",
          "x": "C0IadY97qkXEZzWGeNfVrOiY-LPJkDMNKYIAEVwpYLM",
          "y": "sy3mmwc81DneP8zZl2NmwKc5lTOFtPhnNBVPEpxBRGY"
        },
        "attributes": {
          "enabled": false,
          "nbf": 1564536012,
          "exp": 1567128012,
          "created": 1677705600,
          "updated": 1677705600,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1067083352/?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1067083352/e98b65207993476b9117fa9666067ba0",
          "kty": "EC",
          "key_ops": [
            "verify"
          ],
          "crv": "P-256",
          "x": "C0IadY97qkXEZzWGeNfVrOiY-LPJkDMNKYIAEVwpYLM",
          "y": "sy3mmwc81DneP8zZl2NmwKc5lTOFtPhnNBVPEpxBRGY"
        },
        "attributes": {
          "enabled": false,
          "nbf": 1564536012,
          "exp": 1567128012,
          "created": 1677705600,
          "updated": 1677705600,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "917698771"
  }
}
