{
  "Entries": [
    {
      "RequestUri": "https://dotnettestvaultpre.vault.azure.net/keys/1009895480/create?api-version=7.1-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://dotnettestvaultpre.vault.azure.net/keys/1009895480/create?api-version=7.1-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://dotnettestvaultpre.vault.azure.net/keys/1009895480/b88817cc0457403cb3a9ce1e5257181f",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zVvfUMTVzXR6pq0gYu_2cddm9xouFmgYbVhhP_JhwF2EwP4x29VMM96k-fa85oVG31ZPpAcbu9juc_jvih67nnvFNYspyri8SlFqoX98Iqqb1xbR4KZntaXf338Od5lpWKK9xFWKpGnA3BopNY4C52OQk3goTNif7tFAldS2E-APWlm14T7k4TpJRzXd0_KOgFpjyKmHt09OKRQ4NGs8z5mtysQGOOOchRFpX1usiLFXmBxM54yNw8go9XJKkiMpKw_5VE4DaIyXGmZ2WgVqjoY5Zn5tm9mt-OlTsMSJRTIwUPqWXsnnMFv12R4Wx9iJL7TcGZEq38qzG0GtRoETNQ",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1584519180,
          "updated": 1584519180,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://dotnettestvaultpre.vault.azure.net/keys/1009895480/?api-version=7.1-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://dotnettestvaultpre.vault.azure.net/keys/1009895480/b88817cc0457403cb3a9ce1e5257181f",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zVvfUMTVzXR6pq0gYu_2cddm9xouFmgYbVhhP_JhwF2EwP4x29VMM96k-fa85oVG31ZPpAcbu9juc_jvih67nnvFNYspyri8SlFqoX98Iqqb1xbR4KZntaXf338Od5lpWKK9xFWKpGnA3BopNY4C52OQk3goTNif7tFAldS2E-APWlm14T7k4TpJRzXd0_KOgFpjyKmHt09OKRQ4NGs8z5mtysQGOOOchRFpX1usiLFXmBxM54yNw8go9XJKkiMpKw_5VE4DaIyXGmZ2WgVqjoY5Zn5tm9mt-OlTsMSJRTIwUPqWXsnnMFv12R4Wx9iJL7TcGZEq38qzG0GtRoETNQ",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1584519180,
          "updated": 1584519180,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://dotnettestvaultpre.vault.azure.net/",
    "RandomSeed": "786086946"
  }
}