{
  "Entries": [
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/1402080399/create?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/1402080399/7e1e6ede640c4e859eb9a3abb90f658d",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4mkta_c4L91QvtMPEH-awtyMg0XsruA6qvHxKT7QNpz9Hya1aQQO6FDJD4ixPk4KYtW2IsPFz7j0px4cFBWsaFbv31wU_kIZ4UKAT24cCdbXMFvo9VHT_ntngLILSPMjg8K6p694ogyoDNYM7-f5SfJ8Ml7Mut03rStS0uUEKaD0VqVa9fhhYvgCMnk_2iSGzwdY3VJQrimCvLB934Gw2M_dZjjwJxBaJw4AuQ5KryelWKGAqRu_z2AEjs_rU28kXvhNjQE_aQXrA3CZa73_gqxkw1zoOJgxa8qja1Mp_YyFO892z3YvRuOn9skkBFmCGXlGPyujxsoxt4R0_k8y4Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1560889871,
          "updated": 1560889871,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/1402080399/?api-version=7.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/1402080399/7e1e6ede640c4e859eb9a3abb90f658d",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4mkta_c4L91QvtMPEH-awtyMg0XsruA6qvHxKT7QNpz9Hya1aQQO6FDJD4ixPk4KYtW2IsPFz7j0px4cFBWsaFbv31wU_kIZ4UKAT24cCdbXMFvo9VHT_ntngLILSPMjg8K6p694ogyoDNYM7-f5SfJ8Ml7Mut03rStS0uUEKaD0VqVa9fhhYvgCMnk_2iSGzwdY3VJQrimCvLB934Gw2M_dZjjwJxBaJw4AuQ5KryelWKGAqRu_z2AEjs_rU28kXvhNjQE_aQXrA3CZa73_gqxkw1zoOJgxa8qja1Mp_YyFO892z3YvRuOn9skkBFmCGXlGPyujxsoxt4R0_k8y4Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1560889871,
          "updated": 1560889871,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/1402080399?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://pakrym-keyvault.vault.azure.net/deletedkeys/1402080399",
        "deletedDate": 1560889871,
        "scheduledPurgeDate": 1568665871,
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/1402080399/7e1e6ede640c4e859eb9a3abb90f658d",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4mkta_c4L91QvtMPEH-awtyMg0XsruA6qvHxKT7QNpz9Hya1aQQO6FDJD4ixPk4KYtW2IsPFz7j0px4cFBWsaFbv31wU_kIZ4UKAT24cCdbXMFvo9VHT_ntngLILSPMjg8K6p694ogyoDNYM7-f5SfJ8Ml7Mut03rStS0uUEKaD0VqVa9fhhYvgCMnk_2iSGzwdY3VJQrimCvLB934Gw2M_dZjjwJxBaJw4AuQ5KryelWKGAqRu_z2AEjs_rU28kXvhNjQE_aQXrA3CZa73_gqxkw1zoOJgxa8qja1Mp_YyFO892z3YvRuOn9skkBFmCGXlGPyujxsoxt4R0_k8y4Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1560889871,
          "updated": 1560889871,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/deletedkeys/1402080399?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://pakrym-keyvault.vault.azure.net/",
    "RandomSeed": "23474718"
  }
}