{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1365538103/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1365538103/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1365538103/61fb0139b70e4eff84f823fb1da1537a",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "z7WEv8UMaJakqz-m1qgtyfTjCEplZ_1Np-Dc3KPPv15QEtSTodENeR_mCLzCk8x43Rtb5NnHpc7SDNHgvormyez5Y4p2uvbXyNK7qLrvTyWV8AFyavaNwyHAMXKxTjgIX5gpjwrrXbHYn_NEh501CRS--UDHBsFox5fPFPt7-ErEIIGE6L2pMTNKOUFJOvm_W7Ew0rO2jsBYW4EI7RXHIb57s5aY6w7U8GFS5FTc1NNtnFGc89b7cs_m_2hsGLw0oBYU3LZScWtH4X3kUQQ_Ikk0_Meebt1hb_nO6qM42pSpYTeC9-7NmN6211SBV0jtOdQ3FwD-WimiGNk0ZCmJwQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1677705474,
          "updated": 1677705474,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1365538103/?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1365538103/61fb0139b70e4eff84f823fb1da1537a",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "z7WEv8UMaJakqz-m1qgtyfTjCEplZ_1Np-Dc3KPPv15QEtSTodENeR_mCLzCk8x43Rtb5NnHpc7SDNHgvormyez5Y4p2uvbXyNK7qLrvTyWV8AFyavaNwyHAMXKxTjgIX5gpjwrrXbHYn_NEh501CRS--UDHBsFox5fPFPt7-ErEIIGE6L2pMTNKOUFJOvm_W7Ew0rO2jsBYW4EI7RXHIb57s5aY6w7U8GFS5FTc1NNtnFGc89b7cs_m_2hsGLw0oBYU3LZScWtH4X3kUQQ_Ikk0_Meebt1hb_nO6qM42pSpYTeC9-7NmN6211SBV0jtOdQ3FwD-WimiGNk0ZCmJwQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1677705474,
          "updated": 1677705474,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1851243245"
  }
}
