{
  "Entries": [
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/1203357007/create?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "curveName": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/1203357007/8a95826846714ea1a985a2027b5718ba",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "yOT666Evocs_J2NZoKiiAkH9ATprFynH3uwgm0rNniw",
          "y": "J30ChVWIWoE19l4zcv39nBLg7tQZHn3visRDZeMt64I"
        },
        "attributes": {
          "enabled": true,
          "created": 1560889807,
          "updated": 1560889807,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/1203357007/?api-version=7.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/1203357007/8a95826846714ea1a985a2027b5718ba",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "yOT666Evocs_J2NZoKiiAkH9ATprFynH3uwgm0rNniw",
          "y": "J30ChVWIWoE19l4zcv39nBLg7tQZHn3visRDZeMt64I"
        },
        "attributes": {
          "enabled": true,
          "created": 1560889807,
          "updated": 1560889807,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/1203357007?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://pakrym-keyvault.vault.azure.net/deletedkeys/1203357007",
        "deletedDate": 1560889807,
        "scheduledPurgeDate": 1568665807,
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/1203357007/8a95826846714ea1a985a2027b5718ba",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "yOT666Evocs_J2NZoKiiAkH9ATprFynH3uwgm0rNniw",
          "y": "J30ChVWIWoE19l4zcv39nBLg7tQZHn3visRDZeMt64I"
        },
        "attributes": {
          "enabled": true,
          "created": 1560889807,
          "updated": 1560889807,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/deletedkeys/1203357007?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://pakrym-keyvault.vault.azure.net/",
    "RandomSeed": "1000952390"
  }
}