{
  "Entries": [
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/625710934/create?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/625710934/c9bd29faeee84f359b02b83ea4f30b42",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "llKJMH65GgzInk5Zdi_DS2OcbYG6cGfTCeKwLGKNaXErwUVbe7z9l9JPpOELYMa8mMNqxXWmLKIee9MIQNegsYtIQbooUT_5q2GSlf7C0s7o4mf7LuaEA5g2I7kNgqOTuzrg1ePwMlcSEJ8slKZfjq5Unl_lvkIZddqB4UoNcmvVBwUYyebvf6rIb0tYMpH6kfNQwz4nptFzlwAAzncJKsi_ZfnmVNSW59eJRMLtMDbPq5hGAaR2xpAwleL5hxqkRjPIgE1wKrNKmxmWukVw3_NjfpS8UMg9A9-h4k6bLUSGqKFpNkg0POOSzQhSGPlSXLgbs0vPZwWYVD0gSAjMLQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1560495979,
          "updated": 1560495979,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/625710934/?api-version=7.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/625710934/c9bd29faeee84f359b02b83ea4f30b42",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "llKJMH65GgzInk5Zdi_DS2OcbYG6cGfTCeKwLGKNaXErwUVbe7z9l9JPpOELYMa8mMNqxXWmLKIee9MIQNegsYtIQbooUT_5q2GSlf7C0s7o4mf7LuaEA5g2I7kNgqOTuzrg1ePwMlcSEJ8slKZfjq5Unl_lvkIZddqB4UoNcmvVBwUYyebvf6rIb0tYMpH6kfNQwz4nptFzlwAAzncJKsi_ZfnmVNSW59eJRMLtMDbPq5hGAaR2xpAwleL5hxqkRjPIgE1wKrNKmxmWukVw3_NjfpS8UMg9A9-h4k6bLUSGqKFpNkg0POOSzQhSGPlSXLgbs0vPZwWYVD0gSAjMLQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1560495979,
          "updated": 1560495979,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/625710934?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://pakrym-keyvault.vault.azure.net/deletedkeys/625710934",
        "deletedDate": 1560495980,
        "scheduledPurgeDate": 1568271980,
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/625710934/c9bd29faeee84f359b02b83ea4f30b42",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "llKJMH65GgzInk5Zdi_DS2OcbYG6cGfTCeKwLGKNaXErwUVbe7z9l9JPpOELYMa8mMNqxXWmLKIee9MIQNegsYtIQbooUT_5q2GSlf7C0s7o4mf7LuaEA5g2I7kNgqOTuzrg1ePwMlcSEJ8slKZfjq5Unl_lvkIZddqB4UoNcmvVBwUYyebvf6rIb0tYMpH6kfNQwz4nptFzlwAAzncJKsi_ZfnmVNSW59eJRMLtMDbPq5hGAaR2xpAwleL5hxqkRjPIgE1wKrNKmxmWukVw3_NjfpS8UMg9A9-h4k6bLUSGqKFpNkg0POOSzQhSGPlSXLgbs0vPZwWYVD0gSAjMLQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1560495979,
          "updated": 1560495979,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/deletedkeys/625710934?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://pakrym-keyvault.vault.azure.net/",
    "RandomSeed": "205833507"
  }
}