{
  "Entries": [
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/1402080399/create?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/1402080399/1a5e4479b31b4e5495d7bdf0e77d0a3b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "lW75xjCoHMG50RBUA-jjxp743O1QInYrvscBU3OdmNhkpHf3qUkxj4QKZY7nym-42meBYolUiIs8WJaGCrkS1Cq-kwB9fKfFj76z2sAn_0XRSEhXaBEL18e7M-P-hFRqVEUtA1BQpNbRjgRET1YZOad8cCw2va7ReGdGYbCj6C1N5iqQiMjdud4Tzh2YY1duicb_EYxBh1Oh3MGWCsxxLpGaxht5NjRtFj891g1VXSaew8W7SxmSHixPlPMQiDz3Ar6c6bAL-uv5l52M73iP4XsT-uBrYTCNz1_cJlWiLlVxAPCNYOxN5Su4HNswq5FQ_y2Ok7tlprPty9DTq4ScmQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1560495996,
          "updated": 1560495996,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/1402080399/?api-version=7.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/1402080399/1a5e4479b31b4e5495d7bdf0e77d0a3b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "lW75xjCoHMG50RBUA-jjxp743O1QInYrvscBU3OdmNhkpHf3qUkxj4QKZY7nym-42meBYolUiIs8WJaGCrkS1Cq-kwB9fKfFj76z2sAn_0XRSEhXaBEL18e7M-P-hFRqVEUtA1BQpNbRjgRET1YZOad8cCw2va7ReGdGYbCj6C1N5iqQiMjdud4Tzh2YY1duicb_EYxBh1Oh3MGWCsxxLpGaxht5NjRtFj891g1VXSaew8W7SxmSHixPlPMQiDz3Ar6c6bAL-uv5l52M73iP4XsT-uBrYTCNz1_cJlWiLlVxAPCNYOxN5Su4HNswq5FQ_y2Ok7tlprPty9DTq4ScmQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1560495996,
          "updated": 1560495996,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/1402080399?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://pakrym-keyvault.vault.azure.net/deletedkeys/1402080399",
        "deletedDate": 1560495996,
        "scheduledPurgeDate": 1568271996,
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/1402080399/1a5e4479b31b4e5495d7bdf0e77d0a3b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "lW75xjCoHMG50RBUA-jjxp743O1QInYrvscBU3OdmNhkpHf3qUkxj4QKZY7nym-42meBYolUiIs8WJaGCrkS1Cq-kwB9fKfFj76z2sAn_0XRSEhXaBEL18e7M-P-hFRqVEUtA1BQpNbRjgRET1YZOad8cCw2va7ReGdGYbCj6C1N5iqQiMjdud4Tzh2YY1duicb_EYxBh1Oh3MGWCsxxLpGaxht5NjRtFj891g1VXSaew8W7SxmSHixPlPMQiDz3Ar6c6bAL-uv5l52M73iP4XsT-uBrYTCNz1_cJlWiLlVxAPCNYOxN5Su4HNswq5FQ_y2Ok7tlprPty9DTq4ScmQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1560495996,
          "updated": 1560495996,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/deletedkeys/1402080399?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://pakrym-keyvault.vault.azure.net/",
    "RandomSeed": "23474718"
  }
}