{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/379816522/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/379816522/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/379816522/f07e7559e7c74b45b8f28bb63cbd2a0d",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "DYw2hnKMLEYbqZtoreccqbZfeoqAv4LOu_UfD4cvN00",
          "y": "lqUeu6tzPQQaGSXqBUfww8gefRb-x0m-OlI0rMLHyJs"
        },
        "attributes": {
          "enabled": true,
          "created": 1648057353,
          "updated": 1648057353,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/379816522/?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/379816522/f07e7559e7c74b45b8f28bb63cbd2a0d",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "DYw2hnKMLEYbqZtoreccqbZfeoqAv4LOu_UfD4cvN00",
          "y": "lqUeu6tzPQQaGSXqBUfww8gefRb-x0m-OlI0rMLHyJs"
        },
        "attributes": {
          "enabled": true,
          "created": 1648057353,
          "updated": 1648057353,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "259895041"
  }
}
