{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1766550767/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1766550767/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1766550767/4e9d0a334afc472aa71d08c3f19d5c8b",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "ALLo-hbj94g3y0kqxOp0ViGPKrUFHQfItbFwUwyDFU8TIe-UUs5mNFNj1acDE8hDuiK_gFP2cFWZ9yJfFNleMKrG",
          "y": "AJvIGJvF4oRQxtDxTm458HaNyskTVFfEcwmEAcwFSXUr1_Mdg56AFHC5yTJVV7EJ2-phDH8pG0uftO02y6zR3F31"
        },
        "attributes": {
          "enabled": true,
          "created": 1677705592,
          "updated": 1677705592,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1766550767/?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1766550767/4e9d0a334afc472aa71d08c3f19d5c8b",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "ALLo-hbj94g3y0kqxOp0ViGPKrUFHQfItbFwUwyDFU8TIe-UUs5mNFNj1acDE8hDuiK_gFP2cFWZ9yJfFNleMKrG",
          "y": "AJvIGJvF4oRQxtDxTm458HaNyskTVFfEcwmEAcwFSXUr1_Mdg56AFHC5yTJVV7EJ2-phDH8pG0uftO02y6zR3F31"
        },
        "attributes": {
          "enabled": true,
          "created": 1677705592,
          "updated": 1677705592,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "2014071875"
  }
}
