{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/883889916/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/883889916/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/883889916/696629a2eb334b9c8fcd06bb0f31894e",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AZSfE4s934BgxBAr6kS5um4arw9jJYxM9zGo9C_0qhXHvoDkwiYNGBVe3pps7AFuYvMSmFWvGX4NjaC_d2S6yl9o",
          "y": "AWVqPFHTNf31erIsWUZ5lJ_E8M8VbeUkRmRR5r-NjM6QJuWq2zOgIf_Ox_AlmCMUQr1UIdldjdDSs1ufQ0vPI8ru"
        },
        "attributes": {
          "enabled": true,
          "created": 1612561439,
          "updated": 1612561439,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/883889916/?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/883889916/696629a2eb334b9c8fcd06bb0f31894e",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AZSfE4s934BgxBAr6kS5um4arw9jJYxM9zGo9C_0qhXHvoDkwiYNGBVe3pps7AFuYvMSmFWvGX4NjaC_d2S6yl9o",
          "y": "AWVqPFHTNf31erIsWUZ5lJ_E8M8VbeUkRmRR5r-NjM6QJuWq2zOgIf_Ox_AlmCMUQr1UIdldjdDSs1ufQ0vPI8ru"
        },
        "attributes": {
          "enabled": true,
          "created": 1612561439,
          "updated": 1612561439,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "975632805"
  }
}