{
  "Entries": [
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/62898117/create?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/62898117/915c19301abf44a288c9fe3e8f1d9a5e",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "IMZhCxVY9b6mBmZoRXHg7uIwQx4q87zH9gaS5AUfN80",
          "y": "qKGcBQmRGOxFcWKo26D2z8B3lGr283Q8F6paYRzwXk8"
        },
        "attributes": {
          "enabled": true,
          "created": 1560889823,
          "updated": 1560889823,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/62898117/?api-version=7.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/62898117/915c19301abf44a288c9fe3e8f1d9a5e",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "IMZhCxVY9b6mBmZoRXHg7uIwQx4q87zH9gaS5AUfN80",
          "y": "qKGcBQmRGOxFcWKo26D2z8B3lGr283Q8F6paYRzwXk8"
        },
        "attributes": {
          "enabled": true,
          "created": 1560889823,
          "updated": 1560889823,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/62898117?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://pakrym-keyvault.vault.azure.net/deletedkeys/62898117",
        "deletedDate": 1560889823,
        "scheduledPurgeDate": 1568665823,
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/62898117/915c19301abf44a288c9fe3e8f1d9a5e",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "IMZhCxVY9b6mBmZoRXHg7uIwQx4q87zH9gaS5AUfN80",
          "y": "qKGcBQmRGOxFcWKo26D2z8B3lGr283Q8F6paYRzwXk8"
        },
        "attributes": {
          "enabled": true,
          "created": 1560889823,
          "updated": 1560889823,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/deletedkeys/62898117?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://pakrym-keyvault.vault.azure.net/",
    "RandomSeed": "367009498"
  }
}