{
  "Entries": [
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/625710934/create?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/625710934/fd899b07e6974d9087f1e34722a41012",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "nBxw5J5JDyDqbNiYj663X-Cq1e7eOknqKNZKYF9wIq6VsvM-duShmBtHOdnUrxnwFnC_BLxuZjvb_JH6HYn3iIOHSZ0rep6Oq4GJn_e3SjfLeKmxuBllV9lih8W7dKRBXm3VuIz4haXTS1kV4rbN8emU2-fo6LvNl-tSK0wYxX6YOMy2PFkVd-Q-FyHitUYeb5TMsQTfOujWM8mBhEH1DW0u-yQ7bps3UteTUViBtmgpm2-MUBHQv47k5z0TKrQBOOyTSe2P22NkRPs8Shuy9chKdzTRWkRtZ0Kzo86EyTswWdlxPVvdLZKPWwRf_E1M4CGSgJ3b0oNyrZI3g_T4LQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1560889855,
          "updated": 1560889855,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/625710934/?api-version=7.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/625710934/fd899b07e6974d9087f1e34722a41012",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "nBxw5J5JDyDqbNiYj663X-Cq1e7eOknqKNZKYF9wIq6VsvM-duShmBtHOdnUrxnwFnC_BLxuZjvb_JH6HYn3iIOHSZ0rep6Oq4GJn_e3SjfLeKmxuBllV9lih8W7dKRBXm3VuIz4haXTS1kV4rbN8emU2-fo6LvNl-tSK0wYxX6YOMy2PFkVd-Q-FyHitUYeb5TMsQTfOujWM8mBhEH1DW0u-yQ7bps3UteTUViBtmgpm2-MUBHQv47k5z0TKrQBOOyTSe2P22NkRPs8Shuy9chKdzTRWkRtZ0Kzo86EyTswWdlxPVvdLZKPWwRf_E1M4CGSgJ3b0oNyrZI3g_T4LQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1560889855,
          "updated": 1560889855,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/625710934?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://pakrym-keyvault.vault.azure.net/deletedkeys/625710934",
        "deletedDate": 1560889855,
        "scheduledPurgeDate": 1568665855,
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/625710934/fd899b07e6974d9087f1e34722a41012",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "nBxw5J5JDyDqbNiYj663X-Cq1e7eOknqKNZKYF9wIq6VsvM-duShmBtHOdnUrxnwFnC_BLxuZjvb_JH6HYn3iIOHSZ0rep6Oq4GJn_e3SjfLeKmxuBllV9lih8W7dKRBXm3VuIz4haXTS1kV4rbN8emU2-fo6LvNl-tSK0wYxX6YOMy2PFkVd-Q-FyHitUYeb5TMsQTfOujWM8mBhEH1DW0u-yQ7bps3UteTUViBtmgpm2-MUBHQv47k5z0TKrQBOOyTSe2P22NkRPs8Shuy9chKdzTRWkRtZ0Kzo86EyTswWdlxPVvdLZKPWwRf_E1M4CGSgJ3b0oNyrZI3g_T4LQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1560889855,
          "updated": 1560889855,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/deletedkeys/625710934?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://pakrym-keyvault.vault.azure.net/",
    "RandomSeed": "205833507"
  }
}