{
  "Entries": [
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/1815279286/create?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "attributes": {
          "enabled": false
        },
        "key_ops": [
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/1815279286/414d199cf0ec46d7b0ff332472b36598",
          "kty": "EC",
          "key_ops": [
            "verify"
          ],
          "crv": "P-256",
          "x": "1WfKQ1wePucQ73NURiAZ83CqbPJV0jVWRJrbX-O13MI",
          "y": "oeQJ1cvRIgdX54qNHKIBNKeHnIjXAmaFeD1HdRPZMXY"
        },
        "attributes": {
          "enabled": false,
          "created": 1560889839,
          "updated": 1560889839,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/1815279286/?api-version=7.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/1815279286/414d199cf0ec46d7b0ff332472b36598",
          "kty": "EC",
          "key_ops": [
            "verify"
          ],
          "crv": "P-256",
          "x": "1WfKQ1wePucQ73NURiAZ83CqbPJV0jVWRJrbX-O13MI",
          "y": "oeQJ1cvRIgdX54qNHKIBNKeHnIjXAmaFeD1HdRPZMXY"
        },
        "attributes": {
          "enabled": false,
          "created": 1560889839,
          "updated": 1560889839,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/1815279286?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://pakrym-keyvault.vault.azure.net/deletedkeys/1815279286",
        "deletedDate": 1560889839,
        "scheduledPurgeDate": 1568665839,
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/1815279286/414d199cf0ec46d7b0ff332472b36598",
          "kty": "EC",
          "key_ops": [
            "verify"
          ],
          "crv": "P-256",
          "x": "1WfKQ1wePucQ73NURiAZ83CqbPJV0jVWRJrbX-O13MI",
          "y": "oeQJ1cvRIgdX54qNHKIBNKeHnIjXAmaFeD1HdRPZMXY"
        },
        "attributes": {
          "enabled": false,
          "created": 1560889839,
          "updated": 1560889839,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/deletedkeys/1815279286?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://pakrym-keyvault.vault.azure.net/",
    "RandomSeed": "647661522"
  }
}