{
  "Entries": [
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1009895480/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1009895480/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/1009895480/0921d76f8ea64282987e3840cf50465d",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pyC_TGbcmI5Bo_pp8XOkRJ302f_LX6Ohq9bk2fWA3k-Z3SsEb9GyegSVGc1oa0DDYH9_QW7NcXP-36PaDDh-JWPLao4QgmKcJP9-Wpdl6lRusxNmbjlFr1jzpM_i5a0drUsrhneU9gUBvHoavQLfnvAZzBFSiLeEHpNNej17o0nVqg1ki08lAftf-oL9x1KxxNlMLPi_G-uTOuDeVnmuXEtlqjbxBEuTdrI3hEB-y0nSBS5zJjT1LRN3tJ0CD8DlOYcapq7oqXWk1WIoiENHGke5qB5_Pshb-k79_R1ICFV1Kn7Hm62ovDN4XXhbpCAigqgIPk7GMZ2NpCUYlXVkww",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1626226693,
          "updated": 1626226693,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1009895480/?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/1009895480/0921d76f8ea64282987e3840cf50465d",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pyC_TGbcmI5Bo_pp8XOkRJ302f_LX6Ohq9bk2fWA3k-Z3SsEb9GyegSVGc1oa0DDYH9_QW7NcXP-36PaDDh-JWPLao4QgmKcJP9-Wpdl6lRusxNmbjlFr1jzpM_i5a0drUsrhneU9gUBvHoavQLfnvAZzBFSiLeEHpNNej17o0nVqg1ki08lAftf-oL9x1KxxNlMLPi_G-uTOuDeVnmuXEtlqjbxBEuTdrI3hEB-y0nSBS5zJjT1LRN3tJ0CD8DlOYcapq7oqXWk1WIoiENHGke5qB5_Pshb-k79_R1ICFV1Kn7Hm62ovDN4XXhbpCAigqgIPk7GMZ2NpCUYlXVkww",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1626226693,
          "updated": 1626226693,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskvtest.vault.azure.net/",
    "RandomSeed": "786086946"
  }
}