{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/617285586/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/617285586/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/617285586/bda9499ceb54469bb81a46ae4df521d1",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "oO6Uu3cwQTeizEB0abdu-get4bQ7TPx5UB-usdtWVtY8oCTLkxv04mLmMrhfrM4J",
          "y": "g-ntCd60P_UBHHp2_AbFAgwY7qQHVLpMobuz_jZ0zpuKW3MjW6bnJ6WNInEAGxnK"
        },
        "attributes": {
          "enabled": true,
          "created": 1612561438,
          "updated": 1612561438,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/617285586/?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/617285586/bda9499ceb54469bb81a46ae4df521d1",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "oO6Uu3cwQTeizEB0abdu-get4bQ7TPx5UB-usdtWVtY8oCTLkxv04mLmMrhfrM4J",
          "y": "g-ntCd60P_UBHHp2_AbFAgwY7qQHVLpMobuz_jZ0zpuKW3MjW6bnJ6WNInEAGxnK"
        },
        "attributes": {
          "enabled": true,
          "created": 1612561438,
          "updated": 1612561438,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1575879306"
  }
}