{
  "Entries": [
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/83159489/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/83159489/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/83159489/c3a34970419044db90b2ec27ac8977a9",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "r95G3zrNfEdM6cTUBewrAaXovbfzu6P35ZU8krnf-FoNDaQDzMhkUZD7PGsq4CYstWSH5E8laugx1YuKWOqIavgX8Llz2QM0_cOftXpHhtgdbt-IbAKNxwMqhPWMOnXSd9Fq6YF5R26AhKQ_39wgoBO1GnX3Q1vjU0oVkNLABi88M_TRK-84wow7x0Abk2OU-w3X0SSmHs_HRP-UB5lz2Wy9Z0PMEi97fnGVqIO1EAxo0qIVMkgSPNqXO5sS8YVO4kj3_489jz8HH4e-zGloU7RwQl3cBi5uxM5vjmLk-U-0iBmPaHNRtzycmZWVJLkzjGBsM-eH5YipWGdFs6eCcQ",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1597277228,
          "updated": 1597277228,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/83159489?api-version=7.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://heathskv.vault.azure.net/deletedkeys/83159489",
        "deletedDate": 1597277230,
        "scheduledPurgeDate": 1605053230,
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/83159489/c3a34970419044db90b2ec27ac8977a9",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "r95G3zrNfEdM6cTUBewrAaXovbfzu6P35ZU8krnf-FoNDaQDzMhkUZD7PGsq4CYstWSH5E8laugx1YuKWOqIavgX8Llz2QM0_cOftXpHhtgdbt-IbAKNxwMqhPWMOnXSd9Fq6YF5R26AhKQ_39wgoBO1GnX3Q1vjU0oVkNLABi88M_TRK-84wow7x0Abk2OU-w3X0SSmHs_HRP-UB5lz2Wy9Z0PMEi97fnGVqIO1EAxo0qIVMkgSPNqXO5sS8YVO4kj3_489jz8HH4e-zGloU7RwQl3cBi5uxM5vjmLk-U-0iBmPaHNRtzycmZWVJLkzjGBsM-eH5YipWGdFs6eCcQ",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1597277228,
          "updated": 1597277228,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/deletedkeys/83159489?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: 83159489"
        }
      }
    },
[...]
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/83159489/?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) 83159489 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskv.vault.azure.net",
    "RandomSeed": "463470934"
  }
}