{
  "Entries": [
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1400326497/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1400326497/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/1400326497/be38f85f8c3f474c88454ef776ef44bc",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "raeXJl7nolJFBm7NIzVRvqLz848dNzSNtR4GEAlkoAqIz0OPkrTYxhhWeQ5YliAOkcj5aoqCoVCT6NU04tZyPR0nLiqhsdj0LkO_kBfviltbzxOGTcQs6MZ0A6b-W2S-FlIN3af9B0Cb4an9YVE7W0nGi__p5eDoLNzKEFvWvAx0QhtNtZqSgX8XoVSeS2EMNNXmjjTl_D_LAL7ZVqMxFtvA8nzd96eO7q4er15VkxXeiXhcGi0rGRwVA0pMK5x2CGWjTUv_SGL0rwOmGi-xyxXUR6t4-2z-OH-4eMqMCc6Upa6MYZ8pi8pQc52Yi4npV8Ey3f16AyTEO7VgkFengw",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1597277021,
          "updated": 1597277021,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1400326497?api-version=7.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://heathskv.vault.azure.net/deletedkeys/1400326497",
        "deletedDate": 1597277022,
        "scheduledPurgeDate": 1605053022,
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/1400326497/be38f85f8c3f474c88454ef776ef44bc",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "raeXJl7nolJFBm7NIzVRvqLz848dNzSNtR4GEAlkoAqIz0OPkrTYxhhWeQ5YliAOkcj5aoqCoVCT6NU04tZyPR0nLiqhsdj0LkO_kBfviltbzxOGTcQs6MZ0A6b-W2S-FlIN3af9B0Cb4an9YVE7W0nGi__p5eDoLNzKEFvWvAx0QhtNtZqSgX8XoVSeS2EMNNXmjjTl_D_LAL7ZVqMxFtvA8nzd96eO7q4er15VkxXeiXhcGi0rGRwVA0pMK5x2CGWjTUv_SGL0rwOmGi-xyxXUR6t4-2z-OH-4eMqMCc6Upa6MYZ8pi8pQc52Yi4npV8Ey3f16AyTEO7VgkFengw",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1597277021,
          "updated": 1597277021,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/deletedkeys/1400326497?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: 1400326497"
        }
      }
    },
[...]
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1400326497/?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) 1400326497 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskv.vault.azure.net",
    "RandomSeed": "440675361"
  }
}