{
  "Entries": [
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/1423220187/create?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/1423220187/63ed4fe93f114c73acd704451e3a0c00",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "qslGU4GFgg2jRjB_aku0VvkIap2PdUIhbrZ9vfrl48Q",
          "y": "TAvnQyJ_Bvsl0i3QnhDU0FcCGs221SDRg2pK4yVscew"
        },
        "attributes": {
          "enabled": true,
          "created": 1560496011,
          "updated": 1560496011,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/1423220187?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://pakrym-keyvault.vault.azure.net/deletedkeys/1423220187",
        "deletedDate": 1560496012,
        "scheduledPurgeDate": 1568272012,
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/1423220187/63ed4fe93f114c73acd704451e3a0c00",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "qslGU4GFgg2jRjB_aku0VvkIap2PdUIhbrZ9vfrl48Q",
          "y": "TAvnQyJ_Bvsl0i3QnhDU0FcCGs221SDRg2pK4yVscew"
        },
        "attributes": {
          "enabled": true,
          "created": 1560496011,
          "updated": 1560496011,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/1423220187/?api-version=7.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: 1423220187"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/deletedkeys/1423220187?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://pakrym-keyvault.vault.azure.net/",
    "RandomSeed": "329028074"
  }
}