{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1400326497/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1400326497/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1400326497/95132a611dd64afc835e5c164ea38051",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "x5cJyt3FNNNW-FlgFTAzNU0-MoxYO83PeSlDwJL_u0E8NDblaHq9IFIvoSDccwgl2I2HKR0o1K_FTCf1aE-pJXo4c5im2FXhCqZOIt90rWXHF_bbpuC9IRt0lshHxKI-5P5YSFo1wQ664m7Qvi_WMXUwXPhTEiU9684Q_FKlnA0gdlN6ncSn8nb3RMNBPGXtAZoupEYermG7TEQMGOaorz6S8UaOcyXSuRxVtlDPTPIJyA2H2GsYogNW-4Jm0L8sFULOLGE1Gb1kliDTenMBDZAViCoZgmCvH6ceMsvaG8gzArTsOUW8GxoB4dD3wGobmMpnB0LEEBP31gHEvlJqLw",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1613807160,
          "updated": 1613807160,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1400326497?api-version=7.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://heathskeyvault.vault.azure.net/deletedkeys/1400326497",
        "deletedDate": 1613807161,
        "scheduledPurgeDate": 1621583161,
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1400326497/95132a611dd64afc835e5c164ea38051",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "x5cJyt3FNNNW-FlgFTAzNU0-MoxYO83PeSlDwJL_u0E8NDblaHq9IFIvoSDccwgl2I2HKR0o1K_FTCf1aE-pJXo4c5im2FXhCqZOIt90rWXHF_bbpuC9IRt0lshHxKI-5P5YSFo1wQ664m7Qvi_WMXUwXPhTEiU9684Q_FKlnA0gdlN6ncSn8nb3RMNBPGXtAZoupEYermG7TEQMGOaorz6S8UaOcyXSuRxVtlDPTPIJyA2H2GsYogNW-4Jm0L8sFULOLGE1Gb1kliDTenMBDZAViCoZgmCvH6ceMsvaG8gzArTsOUW8GxoB4dD3wGobmMpnB0LEEBP31gHEvlJqLw",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1613807160,
          "updated": 1613807160,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/deletedkeys/1400326497?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: 1400326497"
        }
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1400326497/?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) 1400326497 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "440675361"
  }
}