{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1783789668/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1783789668/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1783789668/30225d7e558d4ded9e9a23c6307d40ca",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0GYwDpP577UBPoCZG6ALavWvJ7H3WjWC7-BnzNkbzY4rfC2ExcbaOUPGoq-7Sjim9rJ7R_k3gBtjbQWjc5O4NYiQ-v4tCF6MG-_B_QCEFKawej5WiO6AjyO2kqWki91WOShqM7c_NRM2U961RQDzLOKFm-tbNTju3-g4yCI31BW6iA8ZFOP3YowUc19DeBSpC4dzy6P39gwB9yITPhlhZLuP5-PNh6rqntyLvOMLE0x4T_3-7XWcmDM_gnj5nwUO3hIcKNXOhqaSRkPT5eSJpKsBe-wlaghl3cAiLJ1Y9r_VpKI2SU3-4dkVLOp4lbYCmZ5EKnAYq1mvHS5KY8Naaw",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1648057006,
          "updated": 1648057006,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1783789668?api-version=7.3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://heathskeyvault.vault.azure.net/deletedkeys/1783789668",
        "deletedDate": 1648057007,
        "scheduledPurgeDate": 1648661807,
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1783789668/30225d7e558d4ded9e9a23c6307d40ca",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0GYwDpP577UBPoCZG6ALavWvJ7H3WjWC7-BnzNkbzY4rfC2ExcbaOUPGoq-7Sjim9rJ7R_k3gBtjbQWjc5O4NYiQ-v4tCF6MG-_B_QCEFKawej5WiO6AjyO2kqWki91WOShqM7c_NRM2U961RQDzLOKFm-tbNTju3-g4yCI31BW6iA8ZFOP3YowUc19DeBSpC4dzy6P39gwB9yITPhlhZLuP5-PNh6rqntyLvOMLE0x4T_3-7XWcmDM_gnj5nwUO3hIcKNXOhqaSRkPT5eSJpKsBe-wlaghl3cAiLJ1Y9r_VpKI2SU3-4dkVLOp4lbYCmZ5EKnAYq1mvHS5KY8Naaw",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1648057006,
          "updated": 1648057006,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/deletedkeys/1783789668?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: 1783789668"
        }
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1783789668/?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) 1783789668 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "2087812180"
  }
}
