{
  "Entries": [
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/1227833838?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: 1227833838"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://pakrym-keyvault.vault.azure.net/",
    "RandomSeed": "1646191600"
  }
}