{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1691118951/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1691118951/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1691118951/34ab192da02a4684b93aeb46591702fe",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "l1ng6iG-S3EX0aMhoyH6J0D1Fw4mCixezdZRtgrdJ90",
          "y": "p8lGnDALMcTt54mXvcJW8DpJwdamf0Y1yYbZIXj9RqA"
        },
        "attributes": {
          "enabled": true,
          "created": 1613807140,
          "updated": 1613807140,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1691118951?api-version=7.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://heathskeyvault.vault.azure.net/deletedkeys/1691118951",
        "deletedDate": 1613807142,
        "scheduledPurgeDate": 1621583142,
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1691118951/34ab192da02a4684b93aeb46591702fe",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "l1ng6iG-S3EX0aMhoyH6J0D1Fw4mCixezdZRtgrdJ90",
          "y": "p8lGnDALMcTt54mXvcJW8DpJwdamf0Y1yYbZIXj9RqA"
        },
        "attributes": {
          "enabled": true,
          "created": 1613807140,
          "updated": 1613807140,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/deletedkeys/1691118951?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: 1691118951"
        }
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1691118951/?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) 1691118951 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "151586307"
  }
}