{
  "Entries": [
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/320286382/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/320286382/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/320286382/24441e16cf944eb3b6ddb751b46391da",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rztD_UEJpFnuJgU7z-IkyGQiQXoGx27AhQUwQ5SpTgOztPWwrnip7ZNkEGi8xKOJiZp93nieVqbdT-l5-PaIzqR04aErTQ5yi4GAdFbJoq2oknlVG47bOKKjJ9C_0uIucBKbrJDEdrSQ4qvjKBq5baCCihwZN4zcHfev7yOBcdx0-bCdLqAxWHQ8-axaSpAkmWxXBXbHr-9OS_D9OpmJjZICqYO4YZ1AftCJUfwq7BkAwIQdkw3Ys7awpza7t9Mi0BqZtYKLoQQuqe59N_Aq43FQyNfaWydIi5Ie8wW8EBzW2VGOIQcN2N4DmEDJJqJqe8lOV6GZhFLOoD_w-rgCKQ",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1626225877,
          "updated": 1626225877,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/320286382?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://heathskvtest.vault.azure.net/deletedkeys/320286382",
        "deletedDate": 1626225878,
        "scheduledPurgeDate": 1634001878,
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/320286382/24441e16cf944eb3b6ddb751b46391da",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rztD_UEJpFnuJgU7z-IkyGQiQXoGx27AhQUwQ5SpTgOztPWwrnip7ZNkEGi8xKOJiZp93nieVqbdT-l5-PaIzqR04aErTQ5yi4GAdFbJoq2oknlVG47bOKKjJ9C_0uIucBKbrJDEdrSQ4qvjKBq5baCCihwZN4zcHfev7yOBcdx0-bCdLqAxWHQ8-axaSpAkmWxXBXbHr-9OS_D9OpmJjZICqYO4YZ1AftCJUfwq7BkAwIQdkw3Ys7awpza7t9Mi0BqZtYKLoQQuqe59N_Aq43FQyNfaWydIi5Ie8wW8EBzW2VGOIQcN2N4DmEDJJqJqe8lOV6GZhFLOoD_w-rgCKQ",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1626225877,
          "updated": 1626225877,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/deletedkeys/320286382?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: 320286382"
        }
      }
    },
[...]
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/deletedkeys/320286382?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://heathskvtest.vault.azure.net/deletedkeys/320286382",
        "deletedDate": 1626225878,
        "scheduledPurgeDate": 1634001878,
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/320286382/24441e16cf944eb3b6ddb751b46391da",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rztD_UEJpFnuJgU7z-IkyGQiQXoGx27AhQUwQ5SpTgOztPWwrnip7ZNkEGi8xKOJiZp93nieVqbdT-l5-PaIzqR04aErTQ5yi4GAdFbJoq2oknlVG47bOKKjJ9C_0uIucBKbrJDEdrSQ4qvjKBq5baCCihwZN4zcHfev7yOBcdx0-bCdLqAxWHQ8-axaSpAkmWxXBXbHr-9OS_D9OpmJjZICqYO4YZ1AftCJUfwq7BkAwIQdkw3Ys7awpza7t9Mi0BqZtYKLoQQuqe59N_Aq43FQyNfaWydIi5Ie8wW8EBzW2VGOIQcN2N4DmEDJJqJqe8lOV6GZhFLOoD_w-rgCKQ",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1626225877,
          "updated": 1626225877,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskvtest.vault.azure.net/",
    "RandomSeed": "2008389249"
  }
}