{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/13699411/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/13699411/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/13699411/d3f55ecfa6c5499eaa991cf74b0da460",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "a3E0I4k20mukcHbOpVCG3DLDb18OoPYy-BBIfkLGC2s",
          "y": "9aYVwfL_IgsaiJ26AEIc9HZ5na1nZxOIV-pE5ASKbn4"
        },
        "attributes": {
          "enabled": true,
          "created": 1613807413,
          "updated": 1613807413,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/13699411?api-version=7.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://heathskeyvault.vault.azure.net/deletedkeys/13699411",
        "deletedDate": 1613807413,
        "scheduledPurgeDate": 1621583413,
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/13699411/d3f55ecfa6c5499eaa991cf74b0da460",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "a3E0I4k20mukcHbOpVCG3DLDb18OoPYy-BBIfkLGC2s",
          "y": "9aYVwfL_IgsaiJ26AEIc9HZ5na1nZxOIV-pE5ASKbn4"
        },
        "attributes": {
          "enabled": true,
          "created": 1613807413,
          "updated": 1613807413,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/deletedkeys/13699411?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: 13699411"
        }
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/deletedkeys/13699411?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://heathskeyvault.vault.azure.net/deletedkeys/13699411",
        "deletedDate": 1613807413,
        "scheduledPurgeDate": 1621583413,
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/13699411/d3f55ecfa6c5499eaa991cf74b0da460",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "a3E0I4k20mukcHbOpVCG3DLDb18OoPYy-BBIfkLGC2s",
          "y": "9aYVwfL_IgsaiJ26AEIc9HZ5na1nZxOIV-pE5ASKbn4"
        },
        "attributes": {
          "enabled": true,
          "created": 1613807413,
          "updated": 1613807413,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "280266253"
  }
}