{
  "Entries": [
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/13699411/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/13699411/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/13699411/6124ace10f24462d85bd737361ee2be1",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "oAGxvx-TWB0ofYn0FZUnhJ4E4_18lR1dINlS9Orx6aE",
          "y": "X_F8D5l8hyaFx1bfokbxB1yG5Pnu-5GJVfJgYGwuHQI"
        },
        "attributes": {
          "enabled": true,
          "created": 1597277254,
          "updated": 1597277254,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/13699411?api-version=7.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://heathskv.vault.azure.net/deletedkeys/13699411",
        "deletedDate": 1597277256,
        "scheduledPurgeDate": 1605053256,
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/13699411/6124ace10f24462d85bd737361ee2be1",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "oAGxvx-TWB0ofYn0FZUnhJ4E4_18lR1dINlS9Orx6aE",
          "y": "X_F8D5l8hyaFx1bfokbxB1yG5Pnu-5GJVfJgYGwuHQI"
        },
        "attributes": {
          "enabled": true,
          "created": 1597277254,
          "updated": 1597277254,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/deletedkeys/13699411?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: 13699411"
        }
      }
    },
[...]
    {
      "RequestUri": "https://heathskv.vault.azure.net/deletedkeys/13699411?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://heathskv.vault.azure.net/deletedkeys/13699411",
        "deletedDate": 1597277256,
        "scheduledPurgeDate": 1605053256,
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/13699411/6124ace10f24462d85bd737361ee2be1",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "oAGxvx-TWB0ofYn0FZUnhJ4E4_18lR1dINlS9Orx6aE",
          "y": "X_F8D5l8hyaFx1bfokbxB1yG5Pnu-5GJVfJgYGwuHQI"
        },
        "attributes": {
          "enabled": true,
          "created": 1597277254,
          "updated": 1597277254,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskv.vault.azure.net",
    "RandomSeed": "280266253"
  }
}