{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/77421092/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/77421092/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/77421092/9fa4cbfc966d480493a643737afb7b76",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "jT98hfJ6E4Q-7XQlVcrBYcfD96r-2Vhr_rtVqxA3d-0",
          "y": "mGlqlh3jEZ3RINaTxXnezl_-sADU4o8DQRvWgYPAo3k"
        },
        "attributes": {
          "enabled": true,
          "created": 1677705490,
          "updated": 1677705490,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/77421092?api-version=7.4",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://tcac7e9c41ef52cec.vault.azure.net/deletedkeys/77421092",
        "deletedDate": 1677705490,
        "scheduledPurgeDate": 1678310290,
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/77421092/9fa4cbfc966d480493a643737afb7b76",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "jT98hfJ6E4Q-7XQlVcrBYcfD96r-2Vhr_rtVqxA3d-0",
          "y": "mGlqlh3jEZ3RINaTxXnezl_-sADU4o8DQRvWgYPAo3k"
        },
        "attributes": {
          "enabled": true,
          "created": 1677705490,
          "updated": 1677705490,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/deletedkeys/77421092?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://tcac7e9c41ef52cec.vault.azure.net/deletedkeys/77421092",
        "deletedDate": 1677705490,
        "scheduledPurgeDate": 1678310290,
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/77421092/9fa4cbfc966d480493a643737afb7b76",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "jT98hfJ6E4Q-7XQlVcrBYcfD96r-2Vhr_rtVqxA3d-0",
          "y": "mGlqlh3jEZ3RINaTxXnezl_-sADU4o8DQRvWgYPAo3k"
        },
        "attributes": {
          "enabled": true,
          "created": 1677705490,
          "updated": 1677705490,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1160420255"
  }
}
