{
  "Entries": [
    {
      "RequestUri": "https://dotnettestvaultpre.vault.azure.net/keys/1316065026/create?api-version=7.1-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://dotnettestvaultpre.vault.azure.net/keys/1316065026/create?api-version=7.1-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://dotnettestvaultpre.vault.azure.net/keys/1316065026/2414fa411723410787108fe6df599519",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "s-C677HvekO_IIcX8G6gp2v8Chb1NtA-rDsHntm4PoY",
          "y": "D0zBkk21JKNbde_ZThx9_S2rJSp7kMv9bwLzTqW7DoU"
        },
        "attributes": {
          "enabled": true,
          "created": 1584519043,
          "updated": 1584519043,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://dotnettestvaultpre.vault.azure.net/keys/1316065026?api-version=7.1-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://dotnettestvaultpre.vault.azure.net/deletedkeys/1316065026",
        "deletedDate": 1584519044,
        "scheduledPurgeDate": 1592295044,
        "key": {
          "kid": "https://dotnettestvaultpre.vault.azure.net/keys/1316065026/2414fa411723410787108fe6df599519",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "s-C677HvekO_IIcX8G6gp2v8Chb1NtA-rDsHntm4PoY",
          "y": "D0zBkk21JKNbde_ZThx9_S2rJSp7kMv9bwLzTqW7DoU"
        },
        "attributes": {
          "enabled": true,
          "created": 1584519043,
          "updated": 1584519043,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://dotnettestvaultpre.vault.azure.net/deletedkeys/1316065026?api-version=7.1-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://dotnettestvaultpre.vault.azure.net/deletedkeys/1316065026",
        "deletedDate": 1584519044,
        "scheduledPurgeDate": 1592295044,
        "key": {
          "kid": "https://dotnettestvaultpre.vault.azure.net/keys/1316065026/2414fa411723410787108fe6df599519",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "s-C677HvekO_IIcX8G6gp2v8Chb1NtA-rDsHntm4PoY",
          "y": "D0zBkk21JKNbde_ZThx9_S2rJSp7kMv9bwLzTqW7DoU"
        },
        "attributes": {
          "enabled": true,
          "created": 1584519043,
          "updated": 1584519043,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://dotnettestvaultpre.vault.azure.net/",
    "RandomSeed": "1938186775"
  }
}