{
  "Entries": [
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/637125876/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/637125876/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/637125876/36d1639df9864eb7a0ac58dd40ef7c22",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "eSs2BKsEBh8_4GsCZXVkvS-A7zxjmxus9u5IO12Qno0",
          "y": "UL4YzMdrkzPQv_JDW1uhJ0PfSPeS_LUD7DvpjqSKMeQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1626225508,
          "updated": 1626225508,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/637125876?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://heathskvtest.vault.azure.net/deletedkeys/637125876",
        "deletedDate": 1626225508,
        "scheduledPurgeDate": 1634001508,
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/637125876/36d1639df9864eb7a0ac58dd40ef7c22",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "eSs2BKsEBh8_4GsCZXVkvS-A7zxjmxus9u5IO12Qno0",
          "y": "UL4YzMdrkzPQv_JDW1uhJ0PfSPeS_LUD7DvpjqSKMeQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1626225508,
          "updated": 1626225508,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/deletedkeys/637125876?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://heathskvtest.vault.azure.net/deletedkeys/637125876",
        "deletedDate": 1626225508,
        "scheduledPurgeDate": 1634001508,
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/637125876/36d1639df9864eb7a0ac58dd40ef7c22",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "eSs2BKsEBh8_4GsCZXVkvS-A7zxjmxus9u5IO12Qno0",
          "y": "UL4YzMdrkzPQv_JDW1uhJ0PfSPeS_LUD7DvpjqSKMeQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1626225508,
          "updated": 1626225508,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskvtest.vault.azure.net/",
    "RandomSeed": "1880848523"
  }
}