{
  "Entries": [
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/20980359740/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/20980359740/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/20980359740/3d174b7d8d5942de8d9ab1803571670d",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "qjXPxzwaT42LWEceAEC80heo_wzLOQ8vtLMoIww4L6M",
          "y": "k_4KQ0mRpsXbSlUo6hqu9p9lu_RbUZ8Lca4acAAp_QU"
        },
        "attributes": {
          "enabled": true,
          "created": 1596062816,
          "updated": 1596062816,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/20980359740?api-version=7.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://heathskv.vault.azure.net/deletedkeys/20980359740",
        "deletedDate": 1596062816,
        "scheduledPurgeDate": 1603838816,
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/20980359740/3d174b7d8d5942de8d9ab1803571670d",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "qjXPxzwaT42LWEceAEC80heo_wzLOQ8vtLMoIww4L6M",
          "y": "k_4KQ0mRpsXbSlUo6hqu9p9lu_RbUZ8Lca4acAAp_QU"
        },
        "attributes": {
          "enabled": true,
          "created": 1596062816,
          "updated": 1596062816,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
[...]
    {
      "RequestUri": "https://heathskv.vault.azure.net/deletedkeys/?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://heathskv.vault.azure.net/deletedkeys/1402080399",
            "deletedDate": 1596062775,
            "scheduledPurgeDate": 1603838775,
            "kid": "https://heathskv.vault.azure.net/keys/1402080399",
            "attributes": {
              "enabled": true,
              "created": 1596062775,
              "updated": 1596062775,
              "recoveryLevel": "Recoverable\u002BPurgeable",
              "recoverableDays": 90
            }
[...]
