{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1596341667/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1596341667/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1596341667/5cd15db4bc204207b2c288572de0f39d",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "FdbEAr7OdNUHRQA8j5R7zD4veb1IWTE9g4EtREIz-TE",
          "y": "Rv-KH_ZWeI7n5_3igBFNRdHWvtVMWymNbN9kG5-4S7c"
        },
        "attributes": {
          "enabled": true,
          "created": 1677705487,
          "updated": 1677705487,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1596341667?api-version=7.4",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://tcac7e9c41ef52cec.vault.azure.net/deletedkeys/1596341667",
        "deletedDate": 1677705487,
        "scheduledPurgeDate": 1678310287,
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1596341667/5cd15db4bc204207b2c288572de0f39d",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "FdbEAr7OdNUHRQA8j5R7zD4veb1IWTE9g4EtREIz-TE",
          "y": "Rv-KH_ZWeI7n5_3igBFNRdHWvtVMWymNbN9kG5-4S7c"
        },
        "attributes": {
          "enabled": true,
          "created": 1677705487,
          "updated": 1677705487,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/deletedkeys/1596341667?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: 1596341667"
        }
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/deletedkeys/1596341667?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://tcac7e9c41ef52cec.vault.azure.net/deletedkeys/1596341667",
        "deletedDate": 1677705487,
        "scheduledPurgeDate": 1678310287,
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1596341667/5cd15db4bc204207b2c288572de0f39d",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "FdbEAr7OdNUHRQA8j5R7zD4veb1IWTE9g4EtREIz-TE",
          "y": "Rv-KH_ZWeI7n5_3igBFNRdHWvtVMWymNbN9kG5-4S7c"
        },
        "attributes": {
          "enabled": true,
          "created": 1677705487,
          "updated": 1677705487,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1392864410"
  }
}
