{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1555501643/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1555501643/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1555501643/29e7ace519004c86b01acade0dfcf161",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "LD8WNCS2a1ukauEjlYm_1a_Dh-DbuZBzV3fVZf3EX28",
          "y": "S0op_H_fXzimXuAwcmeqXQV-LIoINZ-PBZ-L8nooTBg"
        },
        "attributes": {
          "enabled": true,
          "created": 1677705644,
          "updated": 1677705644,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1555501643/?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1555501643/29e7ace519004c86b01acade0dfcf161",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "LD8WNCS2a1ukauEjlYm_1a_Dh-DbuZBzV3fVZf3EX28",
          "y": "S0op_H_fXzimXuAwcmeqXQV-LIoINZ-PBZ-L8nooTBg"
        },
        "attributes": {
          "enabled": true,
          "created": 1677705644,
          "updated": 1677705644,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1629517749"
  }
}
