{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1249469704/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1249469704/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1249469704/92d0a9f947d847beaa970b0526eab569",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "sLPCL1Em14n19iFD8J_tbV5qItbedOQ67-64DR-qgvZ_n3NkRejW07LWQHAxOVxz-lW-6Z6klbXCTyY2NtUjnypzY8YzYJf1EAlJaX1LZaSe77F4PEMDFKu_2eIHMSiA4aJ6dmeFHNv5qMxXXd0Wvq0GB6IdFdlonIxodjwzlbyWHzcYLS503D4YCcsf1qrDNeyd1NbcFI8-XZEp2RAlCNVxeM797mopwIOE6xnU6kNd6lCZNaQj5ZeKtdlyht5tDAsTsXUvE5mx3e4EEruaHGwindySXQtd2oodOcxyYiDDe7dW_LKLYcqFOX4eASJm31wpHiUmbJR78l06eQtHaQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1633481898,
          "updated": 1633481898,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1249469704/rotationpolicy?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "lifetimeActions": null,
        "attributes": null
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "709740529"
  }
}