{
  "Entries": [
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/2009631410/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/2009631410/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/2009631410/2c301ddfdd454ddfa97a1713de05c9d7",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "0R_cRbDmUN5H2X1XTP-SXErLfbARLzANB7usg4qlGkQ",
          "y": "UPmNMvEI-T5VTM5v2KATEFLerzoLaRmtpsPS5_-_f4s"
        },
        "attributes": {
          "enabled": true,
          "created": 1596062837,
          "updated": 1596062837,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/2009631410/2c301ddfdd454ddfa97a1713de05c9d7?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/2009631410/2c301ddfdd454ddfa97a1713de05c9d7",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "0R_cRbDmUN5H2X1XTP-SXErLfbARLzANB7usg4qlGkQ",
          "y": "UPmNMvEI-T5VTM5v2KATEFLerzoLaRmtpsPS5_-_f4s"
        },
        "attributes": {
          "enabled": true,
          "created": 1596062837,
          "updated": 1596062837,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskv.vault.azure.net",
    "RandomSeed": "1613609085"
  }
}
