{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1193878993/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1193878993/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1193878993/de094f5ae76449e9b53d5b09abb84fcb",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "3y5AxqzgElZwD-N1-lnNGY0uGek59nLt7Ah3f-vyPf5vM1PZFCGceXh0NS_y22V9lpZ8VEJ3u3Roab-DFHdNhD8-Dd5u5V9alqs8JeHXR0oT5dRVfKhZIIYYN5AkBJBEBki9sGxCq7tJpO0jP1P_M5hD_vuhyri0yuLrQwk_yMa-8l5FkWw9Xv6AmzxdyzFHoL0ncVz2KRIYI4SxG_qLAY4JMLGeqNTNCTAJpWYGWve_zWoreOaudEtRMauDS87esl3v0Z40yJqaWV4mtQA94uIbnJV5Nr-qNz9T2uI0QYiLbQ76cj64sUEL7DTk8QUBwEjKeHrOTLRZhVAFjbN0KQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1648057055,
          "updated": 1648057055,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1193878993/rotationpolicy?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "lifetimeActions": [
          {
            "trigger": {
              "timeBeforeExpiry": "P30D"
            },
            "action": {
              "type": "Notify"
            }
          }
        ],
        "attributes": null
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1022689811"
  }
}
