{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/7730695690/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/7730695690/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/7730695690/e5c9ef56231a4c3e9d4f679b43f33589",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "eyV9GSIVVxd4aIUtYtnealEH7l2p9krCFzB24EhBmpk",
          "y": "oC5TZx1LoDqUYsnX-8lAgmZQoftcuTKTWxz4kOCFtCI"
        },
        "attributes": {
          "enabled": true,
          "created": 1613807466,
          "updated": 1613807466,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://heathskeyvault.vault.azure.net/keys/7730695690",
            "attributes": {
              "enabled": true,
              "created": 1613807466,
              "updated": 1613807466,
              "recoveryLevel": "Recoverable\u002BPurgeable",
              "recoverableDays": 90
            }
          },
          {
            "kid": "https://heathskeyvault.vault.azure.net/keys/7730695691",
            "attributes": {
              "enabled": true,
              "created": 1613807467,
              "updated": 1613807467,
              "recoveryLevel": "Recoverable\u002BPurgeable",
              "recoverableDays": 90
            }
          }
        ],
        "nextLink": "https://heathskeyvault.vault.azure.net:443/keys?api-version=7.2\u0026$skiptoken=eyJOZXh0TWFya2VyIjoiMiE3NiFNREF3TURFeklXdGxlUzg1T1RBeE16azVNVGtoTURBd01ESTRJVGs1T1RrdE1USXRNekZVTWpNNk5UazZOVGt1T1RrNU9UazVPVm9oIiwiVGFyZ2V0TG9jYXRpb24iOjB9"
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys?api-version=7.2\u0026$skiptoken=eyJOZXh0TWFya2VyIjoiMiE3NiFNREF3TURFeklXdGxlUzg1T1RBeE16azVNVGtoTURBd01ESTRJVGs1T1RrdE1USXRNekZVTWpNNk5UazZOVGt1T1RrNU9UazVPVm9oIiwiVGFyZ2V0TG9jYXRpb24iOjB9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": null
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1502892751"
  }
}