{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/855674448/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/855674448/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/855674448/28660f42f609476ab511ae33fe732178",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "Qz7NwpsYWjq7gwAByulSTv5OVL_h6OQdGaqo2PdJ_QE",
          "y": "eEmCvad_RQV2UIvMLodT1bJFXYRYS1FaXrp63pDRVqU"
        },
        "attributes": {
          "enabled": true,
          "created": 1612561381,
          "updated": 1612561381,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/855674448/versions?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://heathskeyvault.vault.azure.net/keys/855674448/28660f42f609476ab511ae33fe732178",
            "attributes": {
              "enabled": true,
              "created": 1612561381,
              "updated": 1612561381,
              "recoveryLevel": "Recoverable\u002BPurgeable",
              "recoverableDays": 90
            }
          },
          {
            "kid": "https://heathskeyvault.vault.azure.net/keys/855674448/a99c7f6a30ae45f8be1eebb7ac6b1974",
            "attributes": {
              "enabled": true,
              "created": 1612561382,
              "updated": 1612561382,
              "recoveryLevel": "Recoverable\u002BPurgeable",
              "recoverableDays": 90
            }
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1627660882"
  }
}