{
  "Entries": [
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1275615013/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1275615013/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/1275615013/f4aa06ce49034228b9a744db624277be",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "8v50BtdGBw3Ejv9SZH5nfbt7tl2zbcvSTywdai8w334",
          "y": "lNjmd9YalVEikexjrg9_1H8tQN_JBwCnuydqVOUq6VE"
        },
        "attributes": {
          "enabled": true,
          "created": 1626227246,
          "updated": 1626227246,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
[...]
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1275615013/versions?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://heathskvtest.vault.azure.net/keys/1275615013/65b857e8cfab4af9866dd9427dcdc135",
            "attributes": {
              "enabled": true,
              "created": 1626227247,
              "updated": 1626227247,
              "recoveryLevel": "Recoverable\u002BPurgeable",
              "recoverableDays": 90
            }
          },
          {
            "kid": "https://heathskvtest.vault.azure.net/keys/1275615013/f4aa06ce49034228b9a744db624277be",
            "attributes": {
              "enabled": true,
              "created": 1626227246,
              "updated": 1626227246,
              "recoveryLevel": "Recoverable\u002BPurgeable",
              "recoverableDays": 90
            }
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskvtest.vault.azure.net/",
    "RandomSeed": "677979882"
  }
}