{
  "Entries": [
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/7730695690/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/7730695690/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/7730695690/2defc745181a47eeb587202ede335bb6",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "yFcBSL64G0kXOo9FCJOv3Y9VyWv25OE7vmfsHiq9haY",
          "y": "T9_A7GaTVPlltLYwsPG7oGzr7_O1nyaLb5tPXRnMrIk"
        },
        "attributes": {
          "enabled": true,
          "created": 1596063017,
          "updated": 1596063017,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
[...]
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://heathskv.vault.azure.net/keys/7730695690",
            "attributes": {
              "enabled": true,
              "created": 1596063017,
              "updated": 1596063017,
              "recoveryLevel": "Recoverable\u002BPurgeable",
              "recoverableDays": 90
            }
          },
          {
            "kid": "https://heathskv.vault.azure.net/keys/7730695691",
            "attributes": {
              "enabled": true,
              "created": 1596063018,
              "updated": 1596063018,
              "recoveryLevel": "Recoverable\u002BPurgeable",
              "recoverableDays": 90
            }
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskv.vault.azure.net",
    "RandomSeed": "1502892751"
  }
}
