{
  "Entries": [
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1296496553/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1296496553/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/1296496553/cda6928996ca4ed6af891a8ea287b327",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "mjPqgvvYGkUBUJMBEHEGwNgXR5A5op3efTU4TFNmvsYu_BNk3Cuhai8MLeZIfTosQYFeBEsIRLcEDtFo7bi3uHFoOmKp04NZ2IaLgnzrQtv4u0HTtQa6ULFO3Pu8gfZm7nmunPLl9OqxUO38gSFY0lncNBfL7AGNlLhvFDiKuw0NtVwWcwFlRQ_EH8JZSiQ9bCFXY4urZaKT8pxrPY0PTtfhD1MfZABJhVGyyWUBkS87LjKGzrdN9yE8lriq8eloL7mCCu0Ucp1ZgWA0OFjC7XadY7_9dvJIq_MIT0m02maP8njaoLSfsW4NjFHOKkalHZJ_5kcY_M8KxwyuegqYxw",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1597277297,
          "updated": 1597277297,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1296496553/?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/1296496553/cda6928996ca4ed6af891a8ea287b327",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "mjPqgvvYGkUBUJMBEHEGwNgXR5A5op3efTU4TFNmvsYu_BNk3Cuhai8MLeZIfTosQYFeBEsIRLcEDtFo7bi3uHFoOmKp04NZ2IaLgnzrQtv4u0HTtQa6ULFO3Pu8gfZm7nmunPLl9OqxUO38gSFY0lncNBfL7AGNlLhvFDiKuw0NtVwWcwFlRQ_EH8JZSiQ9bCFXY4urZaKT8pxrPY0PTtfhD1MfZABJhVGyyWUBkS87LjKGzrdN9yE8lriq8eloL7mCCu0Ucp1ZgWA0OFjC7XadY7_9dvJIq_MIT0m02maP8njaoLSfsW4NjFHOKkalHZJ_5kcY_M8KxwyuegqYxw",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1597277297,
          "updated": 1597277297,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskv.vault.azure.net",
    "RandomSeed": "1871787638"
  }
}