{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/183636958/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/183636958/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/183636958/a82ceb17c8fc43b1968ece6a387c769a",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vxvbDj5DN0cft8JuNqJmDV5G3x-Ey0YTSlrifWU2xRDTfD0YgAZMHDmqD3bBL-WG0tQYXIu8EtOZ5jiYNyXV7wBCFbSXlWOHo42sjUgZQ-xOa_xh5UKAH6UVNDXJti3jBt4VRA4CH5p0Un-7fTsbu57weyaMcw2FNyLjrnQEOwKP11OtzHUsJDN8UHE_RKa1CVk6TWujxjFksLB6ja6NGsA0kaXQ79JlN2id5C5vIbQSfWoF7-sFsJlYQAW6O0KltEgSBlTvUwHKG2T3HeXIe9zAAD_WLcTZhgeZTCsEWNe-eFCN0Hedg9UfZr_W30BoIF_1zR3_7X7DhDO-3p2PwQ",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1677705658,
          "updated": 1677705658,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/183636958/?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/183636958/a82ceb17c8fc43b1968ece6a387c769a",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vxvbDj5DN0cft8JuNqJmDV5G3x-Ey0YTSlrifWU2xRDTfD0YgAZMHDmqD3bBL-WG0tQYXIu8EtOZ5jiYNyXV7wBCFbSXlWOHo42sjUgZQ-xOa_xh5UKAH6UVNDXJti3jBt4VRA4CH5p0Un-7fTsbu57weyaMcw2FNyLjrnQEOwKP11OtzHUsJDN8UHE_RKa1CVk6TWujxjFksLB6ja6NGsA0kaXQ79JlN2id5C5vIbQSfWoF7-sFsJlYQAW6O0KltEgSBlTvUwHKG2T3HeXIe9zAAD_WLcTZhgeZTCsEWNe-eFCN0Hedg9UfZr_W30BoIF_1zR3_7X7DhDO-3p2PwQ",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1677705658,
          "updated": 1677705658,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "396628595"
  }
}
