{
  "Entries": [
    {
      "RequestUri": "https://dotnettestvaultpre.vault.azure.net/keys/1729385359/create?api-version=7.1-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://dotnettestvaultpre.vault.azure.net/keys/1729385359/create?api-version=7.1-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://dotnettestvaultpre.vault.azure.net/keys/1729385359/49197a23c2fa4b318b4051d2bd7c1a32",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "o9_D1j7bGBoOcRUHg-LE_6FP4ouO3-npHxKTgDt6Z7BZPJJQl5gkSWuXuciaQAsnZgtcikPrxrAo-bMkgLclCJ5nWTwfZsyktDXelFIe54JXn_Rtvt1XY0hmKtTsPf2IyoL0F24vTXCBW86mySOnFxlosQygvEPg4ah-vAoML6m-pC7RqPHJV64aiHVzbm5pHYQjKIIAJ2PX-AS1RfaZb3gELsj99reRA4Szl8ZN6a89ko8PY9dP6uFcxBqB6XqDzHnXIwB86oMZNvSAoIkfTRjCiwU1Ra6xKKEMw5UfClps4U09VXrTZunekdG_0FBGf3P9X5PQr_T_ea6LTY5akQ",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1584519074,
          "updated": 1584519074,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://dotnettestvaultpre.vault.azure.net/keys/1729385359/?api-version=7.1-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://dotnettestvaultpre.vault.azure.net/keys/1729385359/49197a23c2fa4b318b4051d2bd7c1a32",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "o9_D1j7bGBoOcRUHg-LE_6FP4ouO3-npHxKTgDt6Z7BZPJJQl5gkSWuXuciaQAsnZgtcikPrxrAo-bMkgLclCJ5nWTwfZsyktDXelFIe54JXn_Rtvt1XY0hmKtTsPf2IyoL0F24vTXCBW86mySOnFxlosQygvEPg4ah-vAoML6m-pC7RqPHJV64aiHVzbm5pHYQjKIIAJ2PX-AS1RfaZb3gELsj99reRA4Szl8ZN6a89ko8PY9dP6uFcxBqB6XqDzHnXIwB86oMZNvSAoIkfTRjCiwU1Ra6xKKEMw5UfClps4U09VXrTZunekdG_0FBGf3P9X5PQr_T_ea6LTY5akQ",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1584519074,
          "updated": 1584519074,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://dotnettestvaultpre.vault.azure.net/",
    "RandomSeed": "377692772"
  }
}