{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1943436591/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1943436591/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1943436591/b8dd6c2e25ed40d78ea66e96dbb5ccef",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yCCcvQla9iJJPoej5LL0ZGrIY3dATlhqjhKey3JG1gHA0B6ZmM8-FSoe8WZsZ6FzuQxiHCtqKWV-Y_Mnku4QSjRpGq0f0-G5JPc9xACqm-tKc0So5GIRXVi6KNLdpAwcfj6UBV7GOfJY6G2CyFdCg9sKDuecsBzVGRt2lrK87FUfXlx_RsH4Ma5H58T9OSu9OJBxMGpuNgN4wuDcGoL-pQn5TvBsDvNoZJzoVmbzhnM8pJWIdpEjGqVnZP0Z0r_VIxQT55pmIf7tYV1sI8ISNTVhJyL6QdApw8OyDVTXt7LMqnPpNWwDCzoLbOk4DFpvyuhyLmOoNOjrLevBfILB2Q",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1667258595,
          "updated": 1667258595,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1943436591?api-version=7.4-preview.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://heathskeyvault.vault.azure.net/deletedkeys/1943436591",
        "deletedDate": 1667258596,
        "scheduledPurgeDate": 1667863396,
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1943436591/b8dd6c2e25ed40d78ea66e96dbb5ccef",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yCCcvQla9iJJPoej5LL0ZGrIY3dATlhqjhKey3JG1gHA0B6ZmM8-FSoe8WZsZ6FzuQxiHCtqKWV-Y_Mnku4QSjRpGq0f0-G5JPc9xACqm-tKc0So5GIRXVi6KNLdpAwcfj6UBV7GOfJY6G2CyFdCg9sKDuecsBzVGRt2lrK87FUfXlx_RsH4Ma5H58T9OSu9OJBxMGpuNgN4wuDcGoL-pQn5TvBsDvNoZJzoVmbzhnM8pJWIdpEjGqVnZP0Z0r_VIxQT55pmIf7tYV1sI8ISNTVhJyL6QdApw8OyDVTXt7LMqnPpNWwDCzoLbOk4DFpvyuhyLmOoNOjrLevBfILB2Q",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1667258595,
          "updated": 1667258595,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/deletedkeys/1943436591?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: 1943436591"
        }
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1943436591/?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) 1943436591 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/deletedkeys/1943436591/recover?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1943436591/b8dd6c2e25ed40d78ea66e96dbb5ccef",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yCCcvQla9iJJPoej5LL0ZGrIY3dATlhqjhKey3JG1gHA0B6ZmM8-FSoe8WZsZ6FzuQxiHCtqKWV-Y_Mnku4QSjRpGq0f0-G5JPc9xACqm-tKc0So5GIRXVi6KNLdpAwcfj6UBV7GOfJY6G2CyFdCg9sKDuecsBzVGRt2lrK87FUfXlx_RsH4Ma5H58T9OSu9OJBxMGpuNgN4wuDcGoL-pQn5TvBsDvNoZJzoVmbzhnM8pJWIdpEjGqVnZP0Z0r_VIxQT55pmIf7tYV1sI8ISNTVhJyL6QdApw8OyDVTXt7LMqnPpNWwDCzoLbOk4DFpvyuhyLmOoNOjrLevBfILB2Q",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1667258595,
          "updated": 1667258595,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1943436591/b8dd6c2e25ed40d78ea66e96dbb5ccef?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) 1943436591/b8dd6c2e25ed40d78ea66e96dbb5ccef was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1943436591/?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1943436591/b8dd6c2e25ed40d78ea66e96dbb5ccef",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yCCcvQla9iJJPoej5LL0ZGrIY3dATlhqjhKey3JG1gHA0B6ZmM8-FSoe8WZsZ6FzuQxiHCtqKWV-Y_Mnku4QSjRpGq0f0-G5JPc9xACqm-tKc0So5GIRXVi6KNLdpAwcfj6UBV7GOfJY6G2CyFdCg9sKDuecsBzVGRt2lrK87FUfXlx_RsH4Ma5H58T9OSu9OJBxMGpuNgN4wuDcGoL-pQn5TvBsDvNoZJzoVmbzhnM8pJWIdpEjGqVnZP0Z0r_VIxQT55pmIf7tYV1sI8ISNTVhJyL6QdApw8OyDVTXt7LMqnPpNWwDCzoLbOk4DFpvyuhyLmOoNOjrLevBfILB2Q",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1667258595,
          "updated": 1667258595,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1353476920"
  }
}
