{
  "Entries": [
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/617675879/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/617675879/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/617675879/49b8045dec51409e91c0c78f1a3e1f17",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "q9wpb02l2-S4gLVcw6qTlB-yiO8fontPYSwIMXQaQ-A",
          "y": "iZT5jykgfFZHkOO3XZ-1hHfA_jFBEylKiFTRN4tyqNg"
        },
        "attributes": {
          "enabled": true,
          "created": 1626226205,
          "updated": 1626226205,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/617675879?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://heathskvtest.vault.azure.net/deletedkeys/617675879",
        "deletedDate": 1626226205,
        "scheduledPurgeDate": 1634002205,
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/617675879/49b8045dec51409e91c0c78f1a3e1f17",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "q9wpb02l2-S4gLVcw6qTlB-yiO8fontPYSwIMXQaQ-A",
          "y": "iZT5jykgfFZHkOO3XZ-1hHfA_jFBEylKiFTRN4tyqNg"
        },
        "attributes": {
          "enabled": true,
          "created": 1626226205,
          "updated": 1626226205,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/617675879/?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) 617675879 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/deletedkeys/617675879/recover?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/617675879/49b8045dec51409e91c0c78f1a3e1f17",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "q9wpb02l2-S4gLVcw6qTlB-yiO8fontPYSwIMXQaQ-A",
          "y": "iZT5jykgfFZHkOO3XZ-1hHfA_jFBEylKiFTRN4tyqNg"
        },
        "attributes": {
          "enabled": true,
          "created": 1626226205,
          "updated": 1626226205,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/617675879/?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/617675879/49b8045dec51409e91c0c78f1a3e1f17",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "q9wpb02l2-S4gLVcw6qTlB-yiO8fontPYSwIMXQaQ-A",
          "y": "iZT5jykgfFZHkOO3XZ-1hHfA_jFBEylKiFTRN4tyqNg"
        },
        "attributes": {
          "enabled": true,
          "created": 1626226205,
          "updated": 1626226205,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskvtest.vault.azure.net/",
    "RandomSeed": "2088491901"
  }
}