{
  "Entries": [
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/deletedkeys/924949630/recover?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: 924949630"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://pakrym-keyvault.vault.azure.net/",
    "RandomSeed": "688242518"
  }
}