{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/318000622/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/318000622/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/318000622/13d96d819dfa4b09b3a8b9001faca56f",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0iN5T9NI5iZNJ_4btvc2RLJ371Abe-5RuLHno7Ha8Q0ARZzpQbjUatHHcFccT6WgZBy511sAWzJxty1ZmcumJ1nVH3A3h-tM0atjJc_Gsu9n-r_CnCyiUiGclBV7zeKOoccQoYwitviWkZfE0U0JTKyl0CnVapphN3WhpDK_VKFWniaH9CSllN4Aaq0X75FS8gMM032OD-yGgeIt--HGI_1UrhP8TIEgt4UHBaYNri3n_wlhJV0nW0XQhZdCLRESbfNlEQ3AiuExf39tygeIUc1RAQ7LmGvYiFZYaijvUCb4JdJ61NPIbQyJVt5P4XqqIQaAvGjMjd5D5MRWMUITSw",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1677705682,
          "updated": 1677705682,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/318000622?api-version=7.4",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://tcac7e9c41ef52cec.vault.azure.net/deletedkeys/318000622",
        "deletedDate": 1677705683,
        "scheduledPurgeDate": 1678310483,
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/318000622/13d96d819dfa4b09b3a8b9001faca56f",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0iN5T9NI5iZNJ_4btvc2RLJ371Abe-5RuLHno7Ha8Q0ARZzpQbjUatHHcFccT6WgZBy511sAWzJxty1ZmcumJ1nVH3A3h-tM0atjJc_Gsu9n-r_CnCyiUiGclBV7zeKOoccQoYwitviWkZfE0U0JTKyl0CnVapphN3WhpDK_VKFWniaH9CSllN4Aaq0X75FS8gMM032OD-yGgeIt--HGI_1UrhP8TIEgt4UHBaYNri3n_wlhJV0nW0XQhZdCLRESbfNlEQ3AiuExf39tygeIUc1RAQ7LmGvYiFZYaijvUCb4JdJ61NPIbQyJVt5P4XqqIQaAvGjMjd5D5MRWMUITSw",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1677705682,
          "updated": 1677705682,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/deletedkeys/318000622?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: 318000622"
        }
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/318000622/?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) 318000622 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/deletedkeys/318000622/recover?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/318000622/13d96d819dfa4b09b3a8b9001faca56f",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0iN5T9NI5iZNJ_4btvc2RLJ371Abe-5RuLHno7Ha8Q0ARZzpQbjUatHHcFccT6WgZBy511sAWzJxty1ZmcumJ1nVH3A3h-tM0atjJc_Gsu9n-r_CnCyiUiGclBV7zeKOoccQoYwitviWkZfE0U0JTKyl0CnVapphN3WhpDK_VKFWniaH9CSllN4Aaq0X75FS8gMM032OD-yGgeIt--HGI_1UrhP8TIEgt4UHBaYNri3n_wlhJV0nW0XQhZdCLRESbfNlEQ3AiuExf39tygeIUc1RAQ7LmGvYiFZYaijvUCb4JdJ61NPIbQyJVt5P4XqqIQaAvGjMjd5D5MRWMUITSw",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1677705682,
          "updated": 1677705682,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/318000622/?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/318000622/13d96d819dfa4b09b3a8b9001faca56f",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0iN5T9NI5iZNJ_4btvc2RLJ371Abe-5RuLHno7Ha8Q0ARZzpQbjUatHHcFccT6WgZBy511sAWzJxty1ZmcumJ1nVH3A3h-tM0atjJc_Gsu9n-r_CnCyiUiGclBV7zeKOoccQoYwitviWkZfE0U0JTKyl0CnVapphN3WhpDK_VKFWniaH9CSllN4Aaq0X75FS8gMM032OD-yGgeIt--HGI_1UrhP8TIEgt4UHBaYNri3n_wlhJV0nW0XQhZdCLRESbfNlEQ3AiuExf39tygeIUc1RAQ7LmGvYiFZYaijvUCb4JdJ61NPIbQyJVt5P4XqqIQaAvGjMjd5D5MRWMUITSw",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1677705682,
          "updated": 1677705682,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "678236737"
  }
}
