{
  "Entries": [
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/947854563/create?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/947854563/b39f681df74440c98080cd073547627b",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "DK5Hek4bo4YJUWdlVMLA5jEUdEqBW2PuVEw4P4TEgQQ",
          "y": "IeE7mmvV52zOGpHtPI7C3jHMR2aY_AObjYpeGGVEisQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1560496447,
          "updated": 1560496447,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/947854563?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://pakrym-keyvault.vault.azure.net/deletedkeys/947854563",
        "deletedDate": 1560496447,
        "scheduledPurgeDate": 1568272447,
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/947854563/b39f681df74440c98080cd073547627b",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "DK5Hek4bo4YJUWdlVMLA5jEUdEqBW2PuVEw4P4TEgQQ",
          "y": "IeE7mmvV52zOGpHtPI7C3jHMR2aY_AObjYpeGGVEisQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1560496447,
          "updated": 1560496447,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/947854563/?api-version=7.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: 947854563"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/deletedkeys/947854563/recover?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/947854563/b39f681df74440c98080cd073547627b",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "DK5Hek4bo4YJUWdlVMLA5jEUdEqBW2PuVEw4P4TEgQQ",
          "y": "IeE7mmvV52zOGpHtPI7C3jHMR2aY_AObjYpeGGVEisQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1560496447,
          "updated": 1560496447,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
[...]
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/deletedkeys/947854563?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://pakrym-keyvault.vault.azure.net/",
    "RandomSeed": "1592873077"
  }
}