{
  "Entries": [
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/392874804/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/392874804/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/392874804/87f4bda712a049189b2b2439b6a6b657",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "jCFXv--VVVQiDxcLkqG6botA9n29iaD9o-E_TG_gOPm8hBflc_RUo7rdsy4wQV6HwXvd8wELG7kKTDF2k9AHxdL0-rPXID9g0FBPQbC-06OO6s7YAWX1vIDtOvIvOpCN2INyTllIiA_RkKq00cDA5exwt2ZSg2NDWEnPS1DbRqbazk-ss2sI_D8OnNsU0mOdOAWp5ET3sOuF2I-WQn15v_1o_dlHjXmShIwSruFH21bRh53SROrO91jkvm7-F-iONTQ-UFz4y2qUwm1NcWxkVItK1_eoH4PsVaq_1h0hnsD-UfBA2VvUJPf-dOm-ZxrTLshDhn5zMCNbambMKPzBGw",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1597277119,
          "updated": 1597277119,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/392874804?api-version=7.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://heathskv.vault.azure.net/deletedkeys/392874804",
        "deletedDate": 1597277120,
        "scheduledPurgeDate": 1605053120,
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/392874804/87f4bda712a049189b2b2439b6a6b657",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "jCFXv--VVVQiDxcLkqG6botA9n29iaD9o-E_TG_gOPm8hBflc_RUo7rdsy4wQV6HwXvd8wELG7kKTDF2k9AHxdL0-rPXID9g0FBPQbC-06OO6s7YAWX1vIDtOvIvOpCN2INyTllIiA_RkKq00cDA5exwt2ZSg2NDWEnPS1DbRqbazk-ss2sI_D8OnNsU0mOdOAWp5ET3sOuF2I-WQn15v_1o_dlHjXmShIwSruFH21bRh53SROrO91jkvm7-F-iONTQ-UFz4y2qUwm1NcWxkVItK1_eoH4PsVaq_1h0hnsD-UfBA2VvUJPf-dOm-ZxrTLshDhn5zMCNbambMKPzBGw",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1597277119,
          "updated": 1597277119,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/deletedkeys/392874804?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: 392874804"
        }
      }
    },
[...]
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/392874804/?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) 392874804 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/deletedkeys/392874804/recover?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/392874804/87f4bda712a049189b2b2439b6a6b657",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "jCFXv--VVVQiDxcLkqG6botA9n29iaD9o-E_TG_gOPm8hBflc_RUo7rdsy4wQV6HwXvd8wELG7kKTDF2k9AHxdL0-rPXID9g0FBPQbC-06OO6s7YAWX1vIDtOvIvOpCN2INyTllIiA_RkKq00cDA5exwt2ZSg2NDWEnPS1DbRqbazk-ss2sI_D8OnNsU0mOdOAWp5ET3sOuF2I-WQn15v_1o_dlHjXmShIwSruFH21bRh53SROrO91jkvm7-F-iONTQ-UFz4y2qUwm1NcWxkVItK1_eoH4PsVaq_1h0hnsD-UfBA2VvUJPf-dOm-ZxrTLshDhn5zMCNbambMKPzBGw",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1597277119,
          "updated": 1597277119,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/392874804/87f4bda712a049189b2b2439b6a6b657?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) 392874804/87f4bda712a049189b2b2439b6a6b657 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
[...]
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/392874804/?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/392874804/87f4bda712a049189b2b2439b6a6b657",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "jCFXv--VVVQiDxcLkqG6botA9n29iaD9o-E_TG_gOPm8hBflc_RUo7rdsy4wQV6HwXvd8wELG7kKTDF2k9AHxdL0-rPXID9g0FBPQbC-06OO6s7YAWX1vIDtOvIvOpCN2INyTllIiA_RkKq00cDA5exwt2ZSg2NDWEnPS1DbRqbazk-ss2sI_D8OnNsU0mOdOAWp5ET3sOuF2I-WQn15v_1o_dlHjXmShIwSruFH21bRh53SROrO91jkvm7-F-iONTQ-UFz4y2qUwm1NcWxkVItK1_eoH4PsVaq_1h0hnsD-UfBA2VvUJPf-dOm-ZxrTLshDhn5zMCNbambMKPzBGw",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1597277119,
          "updated": 1597277119,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskv.vault.azure.net",
    "RandomSeed": "1802595456"
  }
}