{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/392874804/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/392874804/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/392874804/bb607ed0def6410a9053d5e8768a1c7e",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "kqeALglVebXwY5d5AlBR59O_SGWPFwan_Z5btyWZU-bNH6e5HZvgbCp2JwzwYLvHb-OwfI0HUheZOlgAe51moyGQlQ9TvtVMYT5enh4uriqqZGtnLwatZrc-Sb1SfSgYW5AsjCNgB7o10u0g2g8aZ_ZWzqsJyxZVD9TdWFOxsQSjT1avvYodr59CoE9wKxlIXrAvE6UbiQ-0CZBVRGQhJNXAEOSg9zv72RlSxBMODOErQjpj8w82D1FnrqiKTTQFbaqLRBogyF3r6F2riUrhN5RB1rylJCUHKdGrHVdZxpNPYweuOehFg1VSoMooJcNKW49rQ-zzugb-IewG8Bp85Q",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1612561403,
          "updated": 1612561403,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/392874804?api-version=7.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://heathskeyvault.vault.azure.net/deletedkeys/392874804",
        "deletedDate": 1612561404,
        "scheduledPurgeDate": 1620337404,
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/392874804/bb607ed0def6410a9053d5e8768a1c7e",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "kqeALglVebXwY5d5AlBR59O_SGWPFwan_Z5btyWZU-bNH6e5HZvgbCp2JwzwYLvHb-OwfI0HUheZOlgAe51moyGQlQ9TvtVMYT5enh4uriqqZGtnLwatZrc-Sb1SfSgYW5AsjCNgB7o10u0g2g8aZ_ZWzqsJyxZVD9TdWFOxsQSjT1avvYodr59CoE9wKxlIXrAvE6UbiQ-0CZBVRGQhJNXAEOSg9zv72RlSxBMODOErQjpj8w82D1FnrqiKTTQFbaqLRBogyF3r6F2riUrhN5RB1rylJCUHKdGrHVdZxpNPYweuOehFg1VSoMooJcNKW49rQ-zzugb-IewG8Bp85Q",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1612561403,
          "updated": 1612561403,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/deletedkeys/392874804?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: 392874804"
        }
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/392874804/?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) 392874804 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/deletedkeys/392874804/recover?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/392874804/bb607ed0def6410a9053d5e8768a1c7e",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "kqeALglVebXwY5d5AlBR59O_SGWPFwan_Z5btyWZU-bNH6e5HZvgbCp2JwzwYLvHb-OwfI0HUheZOlgAe51moyGQlQ9TvtVMYT5enh4uriqqZGtnLwatZrc-Sb1SfSgYW5AsjCNgB7o10u0g2g8aZ_ZWzqsJyxZVD9TdWFOxsQSjT1avvYodr59CoE9wKxlIXrAvE6UbiQ-0CZBVRGQhJNXAEOSg9zv72RlSxBMODOErQjpj8w82D1FnrqiKTTQFbaqLRBogyF3r6F2riUrhN5RB1rylJCUHKdGrHVdZxpNPYweuOehFg1VSoMooJcNKW49rQ-zzugb-IewG8Bp85Q",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1612561403,
          "updated": 1612561403,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/392874804/bb607ed0def6410a9053d5e8768a1c7e?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) 392874804/bb607ed0def6410a9053d5e8768a1c7e was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/392874804/?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/392874804/bb607ed0def6410a9053d5e8768a1c7e",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "kqeALglVebXwY5d5AlBR59O_SGWPFwan_Z5btyWZU-bNH6e5HZvgbCp2JwzwYLvHb-OwfI0HUheZOlgAe51moyGQlQ9TvtVMYT5enh4uriqqZGtnLwatZrc-Sb1SfSgYW5AsjCNgB7o10u0g2g8aZ_ZWzqsJyxZVD9TdWFOxsQSjT1avvYodr59CoE9wKxlIXrAvE6UbiQ-0CZBVRGQhJNXAEOSg9zv72RlSxBMODOErQjpj8w82D1FnrqiKTTQFbaqLRBogyF3r6F2riUrhN5RB1rylJCUHKdGrHVdZxpNPYweuOehFg1VSoMooJcNKW49rQ-zzugb-IewG8Bp85Q",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1612561403,
          "updated": 1612561403,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1802595456"
  }
}