{
  "Entries": [
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/617675879/create?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/617675879/ad624d94710f4e9f8486de1766430063",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "yWHl-wcXn1tBwJD5cal1U7_oqI40vI_AWnYex6VlBB4",
          "y": "wJzH8cXB7iLSP33wzvgtLLqat34V22lS2_fHpW83HJU"
        },
        "attributes": {
          "enabled": true,
          "created": 1560889992,
          "updated": 1560889992,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/617675879?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://pakrym-keyvault.vault.azure.net/deletedkeys/617675879",
        "deletedDate": 1560889992,
        "scheduledPurgeDate": 1568665992,
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/617675879/ad624d94710f4e9f8486de1766430063",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "yWHl-wcXn1tBwJD5cal1U7_oqI40vI_AWnYex6VlBB4",
          "y": "wJzH8cXB7iLSP33wzvgtLLqat34V22lS2_fHpW83HJU"
        },
        "attributes": {
          "enabled": true,
          "created": 1560889992,
          "updated": 1560889992,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/617675879/?api-version=7.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: 617675879"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/deletedkeys/617675879/recover?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/617675879/ad624d94710f4e9f8486de1766430063",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "yWHl-wcXn1tBwJD5cal1U7_oqI40vI_AWnYex6VlBB4",
          "y": "wJzH8cXB7iLSP33wzvgtLLqat34V22lS2_fHpW83HJU"
        },
        "attributes": {
          "enabled": true,
          "created": 1560889992,
          "updated": 1560889992,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
[...]
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/deletedkeys/617675879?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://pakrym-keyvault.vault.azure.net/",
    "RandomSeed": "2088491901"
  }
}