{
  "Entries": [
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/635067480/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/635067480/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/635067480/72e1469be9e44220bdfb722a719dad1c",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "bIo7rJ2QHe8tvZ15wTGjt0afZrrSop3zvgR2Gqk6TUU",
          "y": "-ON0SMVWcRz5HPl0spMlHuwIkS1DxiYg4uZSezrfV8I"
        },
        "attributes": {
          "enabled": true,
          "created": 1626226038,
          "updated": 1626226038,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/635067480?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://heathskvtest.vault.azure.net/deletedkeys/635067480",
        "deletedDate": 1626226040,
        "scheduledPurgeDate": 1634002040,
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/635067480/72e1469be9e44220bdfb722a719dad1c",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "bIo7rJ2QHe8tvZ15wTGjt0afZrrSop3zvgR2Gqk6TUU",
          "y": "-ON0SMVWcRz5HPl0spMlHuwIkS1DxiYg4uZSezrfV8I"
        },
        "attributes": {
          "enabled": true,
          "created": 1626226038,
          "updated": 1626226038,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/deletedkeys/635067480?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: 635067480"
        }
      }
    },
[...]
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/635067480/?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) 635067480 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/deletedkeys/635067480/recover?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/635067480/72e1469be9e44220bdfb722a719dad1c",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "bIo7rJ2QHe8tvZ15wTGjt0afZrrSop3zvgR2Gqk6TUU",
          "y": "-ON0SMVWcRz5HPl0spMlHuwIkS1DxiYg4uZSezrfV8I"
        },
        "attributes": {
          "enabled": true,
          "created": 1626226038,
          "updated": 1626226038,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/635067480/72e1469be9e44220bdfb722a719dad1c?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) 635067480/72e1469be9e44220bdfb722a719dad1c was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
[...]
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/635067480/?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/635067480/72e1469be9e44220bdfb722a719dad1c",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "bIo7rJ2QHe8tvZ15wTGjt0afZrrSop3zvgR2Gqk6TUU",
          "y": "-ON0SMVWcRz5HPl0spMlHuwIkS1DxiYg4uZSezrfV8I"
        },
        "attributes": {
          "enabled": true,
          "created": 1626226038,
          "updated": 1626226038,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskvtest.vault.azure.net/",
    "RandomSeed": "1496181627"
  }
}