{
  "Entries": [
    {
      "RequestUri": "https://dotnettestvaultpre.vault.azure.net/keys/610915290/create?api-version=7.1-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://dotnettestvaultpre.vault.azure.net/keys/610915290/create?api-version=7.1-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "tags": {
          "A": "1",
          "B": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://dotnettestvaultpre.vault.azure.net/keys/610915290/38ff13711d7e4a598be26ab5defa8e6b",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "u_S_AC_3wzCnOdHrc6Zfb0Ta5R_C-6JDXpRuk6y6Q5cti7MQ79kEPIAJVpnjAvoveaCOxF_GZkQi_BxBb17ohaxsH88iEuOpr5XeaPWFAp_gV5u-gcUI0s_oNrL6tU1JSLrbgs8YS44SHvIMUt39c_cvUQlaggjB1r2u1tfnaL5_uSiSD3q4r77LamLA0RgSJgWamorqnGW1WqGlNB0klQ2H5dyFhg3OTy_z9MD7qWL8aevHwrXNSLtltxt3VH4Vs8x9nRHWC5hxaF8TcAYGI_zc-iGxxbfivQ6mJsPMBhWC8StdA6IpHSPeYEm5BgVn4qKYdexVanyeohddVeFr7w",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1584519157,
          "updated": 1584519157,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        },
        "tags": {
          "A": "1",
          "B": "2"
        }
      }
    },
    {
      "RequestUri": "https://dotnettestvaultpre.vault.azure.net/keys/610915290/38ff13711d7e4a598be26ab5defa8e6b?api-version=7.1-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true
        },
        "tags": {
          "A": "1",
          "B": "3",
          "C": "4"
        }
      },
      "StatusCode": 200,
   [...]
[...]
