{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/433621292/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/433621292/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM",
        "key_ops": [
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/433621292/6e48db60ca9f4fa6b6c7a4e5c424dd51",
          "kty": "EC-HSM",
          "key_ops": [
            "verify"
          ],
          "crv": "P-256",
          "x": "Nt3-DeFFtHZITViXSr5PgBhNWwqI7PcD4nUHZ86Tmh0",
          "y": "I6gDgMiy1o-UFWTm6qzTeahWMAT0YaDADXn5a2lV_y8"
        },
        "attributes": {
          "enabled": true,
          "created": 1648057478,
          "updated": 1648057478,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/433621292/6e48db60ca9f4fa6b6c7a4e5c424dd51?api-version=7.3",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1648143879
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/433621292/6e48db60ca9f4fa6b6c7a4e5c424dd51",
          "kty": "EC-HSM",
          "key_ops": [
            "verify"
          ],
          "crv": "P-256",
          "x": "Nt3-DeFFtHZITViXSr5PgBhNWwqI7PcD4nUHZ86Tmh0",
          "y": "I6gDgMiy1o-UFWTm6qzTeahWMAT0YaDADXn5a2lV_y8"
        },
        "attributes": {
          "enabled": true,
          "exp": 1648143879,
          "created": 1648057478,
          "updated": 1648057479,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/433621292/6e48db60ca9f4fa6b6c7a4e5c424dd51?api-version=7.3",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1648143879
        },
        "key_ops": [
          "sign",
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/433621292/6e48db60ca9f4fa6b6c7a4e5c424dd51",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "Nt3-DeFFtHZITViXSr5PgBhNWwqI7PcD4nUHZ86Tmh0",
          "y": "I6gDgMiy1o-UFWTm6qzTeahWMAT0YaDADXn5a2lV_y8"
        },
        "attributes": {
          "enabled": true,
          "exp": 1648143879,
          "created": 1648057478,
          "updated": 1648057479,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1483791540"
  }
}
