{
  "Entries": [
    {
      "RequestUri": "https://dotnettestvaultpre.vault.azure.net/keys/1799681749/create?api-version=7.1-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://dotnettestvaultpre.vault.azure.net/keys/1799681749/create?api-version=7.1-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://dotnettestvaultpre.vault.azure.net/keys/1799681749/1675952dcbc94c22bffd46131825f12f",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rXpiaf4ihYTWI8zFwsACbR7g_QqFi_d8HeEjkT_y2EYkq3gEHPbYH_D7WLzj0HQA--_nURs8dEmZJfhkz3Mm2VgQLJQMN_bKq37stB3dcpyAzDM3gnOtRLKj9AUk334UNIj1Cp7yUacnkXHmqYMGRTmMsMAf4U8L0BWGjc67g-3WliJv8MxmZ1T__MJXKukronP_YG97SJLJ3MezomW9G5j5BswbKBgBcWHQ8s1kCVaSYaKpBXmnLokac-IEvUgj7yt_L1OuiNPKpP2ZxKtvkHjvqRnwaG4hKIhZ9OWi1qYg0mWMiM2JbXl2E8YWjFRihuZ6Nz68-OzItuxBfi6VCw",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1584519146,
          "updated": 1584519146,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://dotnettestvaultpre.vault.azure.net/keys/1799681749/1675952dcbc94c22bffd46131825f12f?api-version=7.1-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1584519146
        },
        "key_ops": [
          "encrypt",
          "decrypt",
          "sign",
          "verify",
          "wrapKey",
          "unwrapKey"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://dotnettestvaultpre.vault.azure.net/keys/1799681749/1675952dcbc94c22bffd46131825f12f",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rXpiaf4ihYTWI8zFwsACbR7g_QqFi_d8HeEjkT_y2EYkq3gEHPbYH_D7WLzj0HQA--_nURs8dEmZJfhkz3Mm2VgQLJQMN_bKq37stB3dcpyAzDM3gnOtRLKj9AUk334UNIj1Cp7yUacnkXHmqYMGRTmMsMAf4U8L0BWGjc67g-3WliJv8MxmZ1T__MJXKukronP_YG97SJLJ3MezomW9G5j5BswbKBgBcWHQ8s1kCVaSYaKpBXmnLokac-IEvUgj7yt_L1OuiNPKpP2ZxKtvkHjvqRnwaG4hKIhZ9OWi1qYg0mWMiM2JbXl2E8YWjFRihuZ6Nz68-OzItuxBfi6VCw",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "exp": 1584519146,
          "created": 1584519146,
          "updated": 1584519147,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://dotnettestvaultpre.vault.azure.net/",
    "RandomSeed": "2109258658"
  }
}