{
  "Entries": [
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/213523749/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/213523749/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM",
        "key_ops": [
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/213523749/23a22eeba6fd435a8aa54f730429b84a",
          "kty": "EC-HSM",
          "key_ops": [
            "verify"
          ],
          "crv": "P-256",
          "x": "1Vp44-07eQVSDsucR5Mt4hvf33B10N5x4IyIM-3lRr0",
          "y": "jrcs_Xs3okeuV8m_l2ioGt2FD92uXqyMxIWD9xXUi8s"
        },
        "attributes": {
          "enabled": true,
          "created": 1597277381,
          "updated": 1597277381,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/213523749/23a22eeba6fd435a8aa54f730429b84a?api-version=7.1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1597363782
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/213523749/23a22eeba6fd435a8aa54f730429b84a",
          "kty": "EC-HSM",
          "key_ops": [
            "verify"
          ],
          "crv": "P-256",
          "x": "1Vp44-07eQVSDsucR5Mt4hvf33B10N5x4IyIM-3lRr0",
          "y": "jrcs_Xs3okeuV8m_l2ioGt2FD92uXqyMxIWD9xXUi8s"
        },
        "attributes": {
          "enabled": true,
          "exp": 1597363782,
          "created": 1597277381,
          "updated": 1597277382,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/213523749/23a22eeba6fd435a8aa54f730429b84a?api-version=7.1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1597363782
        },
        "key_ops": [
          "sign",
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/213523749/23a22eeba6fd435a8aa54f730429b84a",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "1Vp44-07eQVSDsucR5Mt4hvf33B10N5x4IyIM-3lRr0",
          "y": "jrcs_Xs3okeuV8m_l2ioGt2FD92uXqyMxIWD9xXUi8s"
        },
        "attributes": {
          "enabled": true,
          "exp": 1597363782,
          "created": 1597277381,
          "updated": 1597277382,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskv.vault.azure.net",
    "RandomSeed": "1802690568"
  }
}