{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1065138409/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1065138409/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "key_ops": [
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1065138409/1bbfad97768a40139daeb98bb4cb31f9",
          "kty": "EC",
          "key_ops": [
            "verify"
          ],
          "crv": "P-256",
          "x": "tfLMXgaAtUevD0UHgXQ22bPMRoMIxPUQWO2ssJ796zI",
          "y": "ifLfl4ZQeGD2vMWFwnzPc6PQU8Rxm_N4Cx1V85ecAQY"
        },
        "attributes": {
          "enabled": true,
          "created": 1677705707,
          "updated": 1677705707,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1065138409/1bbfad97768a40139daeb98bb4cb31f9?api-version=7.4",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1677792107,
          "exportable": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1065138409/1bbfad97768a40139daeb98bb4cb31f9",
          "kty": "EC",
          "key_ops": [
            "verify"
          ],
          "crv": "P-256",
          "x": "tfLMXgaAtUevD0UHgXQ22bPMRoMIxPUQWO2ssJ796zI",
          "y": "ifLfl4ZQeGD2vMWFwnzPc6PQU8Rxm_N4Cx1V85ecAQY"
        },
        "attributes": {
          "enabled": true,
          "exp": 1677792107,
          "created": 1677705707,
          "updated": 1677705707,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1065138409/1bbfad97768a40139daeb98bb4cb31f9?api-version=7.4",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1677792107,
          "exportable": false
        },
        "key_ops": [
          "sign",
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1065138409/1bbfad97768a40139daeb98bb4cb31f9",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "tfLMXgaAtUevD0UHgXQ22bPMRoMIxPUQWO2ssJ796zI",
          "y": "ifLfl4ZQeGD2vMWFwnzPc6PQU8Rxm_N4Cx1V85ecAQY"
        },
        "attributes": {
          "enabled": true,
          "exp": 1677792107,
          "created": 1677705707,
          "updated": 1677705707,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1879366323"
  }
}
