{
  "Entries": [
    {
      "RequestUri": "https://dotnettestvaultpre.vault.azure.net/keys/990139919/create?api-version=7.1-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://dotnettestvaultpre.vault.azure.net/keys/990139919/create?api-version=7.1-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://dotnettestvaultpre.vault.azure.net/keys/990139919/b6990efb590544b082399e6d106ef7f8",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "Q724E8pztPa7cMLb5pLKYXSno6ZsOMnpL65C59yVmVk",
          "y": "nceBTBfIaLF1sOmMpNoJRXmMoobEUAOUuAGaLytcwCU"
        },
        "attributes": {
          "enabled": true,
          "created": 1584519137,
          "updated": 1584519137,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://dotnettestvaultpre.vault.azure.net/keys/990139919/b6990efb590544b082399e6d106ef7f8?api-version=7.1-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": false
        },
        "key_ops": [
          "sign",
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://dotnettestvaultpre.vault.azure.net/keys/990139919/b6990efb590544b082399e6d106ef7f8",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "Q724E8pztPa7cMLb5pLKYXSno6ZsOMnpL65C59yVmVk",
          "y": "nceBTBfIaLF1sOmMpNoJRXmMoobEUAOUuAGaLytcwCU"
        },
        "attributes": {
          "enabled": false,
          "created": 1584519137,
          "updated": 1584519137,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://dotnettestvaultpre.vault.azure.net/keys/990139919/?api-version=7.1-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://dotnettestvaultpre.vault.azure.net/keys/990139919/b6990efb590544b082399e6d106ef7f8",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "Q724E8pztPa7cMLb5pLKYXSno6ZsOMnpL65C59yVmVk",
          "y": "nceBTBfIaLF1sOmMpNoJRXmMoobEUAOUuAGaLytcwCU"
        },
        "attributes": {
          "enabled": false,
          "created": 1584519137,
          "updated": 1584519137,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://dotnettestvaultpre.vault.azure.net/",
    "RandomSeed": "1873029777"
  }
}