{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/270379736/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/270379736/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/270379736/91fb3a40bc05402c9b2d6587ab0c946a",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uw7V1fEoWK0hD2JtNg6OAapGrxrsv2gQL0-XSl9p5L_IADv3OHjlhlpRujDYcv3spU8mcCjp2JgrpfLhSJuuX_QMNuwxlyFnkJLkjnHP2B83XWpYXmfVT7enbWzt6LBYKJKDkJx-4ZlI6s2LbV5lMZ2U-d-UL-9dqliZT0VaMRbdLZPGpKjt-JD1gnh4fosRuLlo-x3M2N_KuP46WEoIwXH676r-cXJai3UQehgT9IeUc9uGvgGWZrDo8VhHkLm8-7VhX9j-uG_uohCiyAWUx_S78zMs3vezQnI9D7JVUGz_25NZuLPU-0ZL4Duf85XC26dEhbjZPTlsBS1s54r4tQ",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1677705578,
          "updated": 1677705578,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/270379736/91fb3a40bc05402c9b2d6587ab0c946a?api-version=7.4",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1677705578,
          "exportable": false
        },
        "key_ops": [
          "encrypt",
          "decrypt",
          "sign",
          "verify",
          "wrapKey",
          "unwrapKey"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/270379736/91fb3a40bc05402c9b2d6587ab0c946a",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uw7V1fEoWK0hD2JtNg6OAapGrxrsv2gQL0-XSl9p5L_IADv3OHjlhlpRujDYcv3spU8mcCjp2JgrpfLhSJuuX_QMNuwxlyFnkJLkjnHP2B83XWpYXmfVT7enbWzt6LBYKJKDkJx-4ZlI6s2LbV5lMZ2U-d-UL-9dqliZT0VaMRbdLZPGpKjt-JD1gnh4fosRuLlo-x3M2N_KuP46WEoIwXH676r-cXJai3UQehgT9IeUc9uGvgGWZrDo8VhHkLm8-7VhX9j-uG_uohCiyAWUx_S78zMs3vezQnI9D7JVUGz_25NZuLPU-0ZL4Duf85XC26dEhbjZPTlsBS1s54r4tQ",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "exp": 1677705578,
          "created": 1677705578,
          "updated": 1677705578,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1728842217"
  }
}
