{
  "Entries": [
    {
      "RequestUri": "https://dotnettestvaultpre.vault.azure.net/keys/554229513/create?api-version=7.1-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://dotnettestvaultpre.vault.azure.net/keys/554229513/create?api-version=7.1-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM",
        "key_ops": [
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://dotnettestvaultpre.vault.azure.net/keys/554229513/f9ae4ce847ec4c41a65bb0656e477352",
          "kty": "EC-HSM",
          "key_ops": [
            "verify"
          ],
          "crv": "P-256",
          "x": "uB0kxRPn3o6mNpsCx7KlH9WwMeXlUwzBxDvHXgxQyx4",
          "y": "Jqyk_vvH75M75ddO_7Lj4oVxvN7M0qxByN0sBxWOg3o"
        },
        "attributes": {
          "enabled": true,
          "created": 1584519140,
          "updated": 1584519140,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://dotnettestvaultpre.vault.azure.net/keys/554229513/f9ae4ce847ec4c41a65bb0656e477352?api-version=7.1-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1584605544
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://dotnettestvaultpre.vault.azure.net/keys/554229513/f9ae4ce847ec4c41a65bb0656e477352",
          "kty": "EC-HSM",
          "key_ops": [
            "verify"
          ],
          "crv": "P-256",
          "x": "uB0kxRPn3o6mNpsCx7KlH9WwMeXlUwzBxDvHXgxQyx4",
          "y": "Jqyk_vvH75M75ddO_7Lj4oVxvN7M0qxByN0sBxWOg3o"
        },
        "attributes": {
          "enabled": true,
          "exp": 1584605544,
          "created": 1584519140,
          "updated": 1584519140,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://dotnettestvaultpre.vault.azure.net/keys/554229513/f9ae4ce847ec4c41a65bb0656e477352?api-version=7.1-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1584605544
        },
        "key_ops": [
          "sign",
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://dotnettestvaultpre.vault.azure.net/keys/554229513/f9ae4ce847ec4c41a65bb0656e477352",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "uB0kxRPn3o6mNpsCx7KlH9WwMeXlUwzBxDvHXgxQyx4",
          "y": "Jqyk_vvH75M75ddO_7Lj4oVxvN7M0qxByN0sBxWOg3o"
        },
        "attributes": {
          "enabled": true,
          "exp": 1584605544,
          "created": 1584519140,
          "updated": 1584519140,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://dotnettestvaultpre.vault.azure.net/",
    "RandomSeed": "603118218"
  }
}