{
  "Entries": [
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/1054358347/create?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/1054358347/7d856ec37806483cba548ded098345aa",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "99lNGQYP6mPJJ2xwtqtfM6buM5Wkl9knXGmrwtpgcLY",
          "y": "RtOzCHhknyTupNFKEMWAQvSEjUdRG9Dr1hWtoSy95TI"
        },
        "attributes": {
          "enabled": true,
          "created": 1560381417,
          "updated": 1560381417,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/1054358347/7d856ec37806483cba548ded098345aa?api-version=7.0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": false
        },
        "key_ops": [
          "sign",
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/1054358347/7d856ec37806483cba548ded098345aa",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "99lNGQYP6mPJJ2xwtqtfM6buM5Wkl9knXGmrwtpgcLY",
          "y": "RtOzCHhknyTupNFKEMWAQvSEjUdRG9Dr1hWtoSy95TI"
        },
        "attributes": {
          "enabled": false,
          "created": 1560381417,
          "updated": 1560381417,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/1054358347?api-version=7.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/1054358347/7d856ec37806483cba548ded098345aa",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "99lNGQYP6mPJJ2xwtqtfM6buM5Wkl9knXGmrwtpgcLY",
          "y": "RtOzCHhknyTupNFKEMWAQvSEjUdRG9Dr1hWtoSy95TI"
        },
        "attributes": {
          "enabled": false,
          "created": 1560381417,
          "updated": 1560381417,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/1054358347?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://pakrym-keyvault.vault.azure.net/deletedkeys/1054358347",
        "deletedDate": 1560381418,
        "scheduledPurgeDate": 1568157418,
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/1054358347/7d856ec37806483cba548ded098345aa",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "99lNGQYP6mPJJ2xwtqtfM6buM5Wkl9knXGmrwtpgcLY",
          "y": "RtOzCHhknyTupNFKEMWAQvSEjUdRG9Dr1hWtoSy95TI"
        },
        "attributes": {
          "enabled": false,
          "created": 1560381417,
          "updated": 1560381417,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/deletedkeys/1054358347?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://pakrym-keyvault.vault.azure.net/",
    "RandomSeed": "909623856"
  }
}