{
  "Entries": [
    {
      "RequestUri": "https://dotnettestvaultpre.vault.azure.net/keys/384963213/create?api-version=7.1-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://dotnettestvaultpre.vault.azure.net/keys/384963213/create?api-version=7.1-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://dotnettestvaultpre.vault.azure.net/keys/384963213/4ee4ba6a593143c893431c855c527b39",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rXwVvZYu6p5K6jwnqSyh1eRkwuDxT-0_fMbGut0gzFiUZgnCuB54kKp3wdZzc_rsVmv8Y-DJ3Y-cxY2ZlteLadXQ5z_bQk7XCLAZsydxxGLNvEtu1KcXBnHhVoiJ76BNfrSC2sCnJeNa3cJ5c8c6CLI04-XkPfNuOJADG24LuCUqsNGmMHr89pwfvrjmkT-4Ns6MYr13rmI6B4BVPgu_8Rr2czEEhePSP_VtkdaEkzU3IfZBWxz_uRN9ssqqbX-T_B1knJGcnp6L_RoYP0Lu3Zj-07KxCXhHq5D6sjxpFBhykH6Lpsn6evCsuM2LZYPABx_M7EBXR6NIYU05ISRuDw",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1584519298,
          "updated": 1584519298,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://dotnettestvaultpre.vault.azure.net/keys/384963213/4ee4ba6a593143c893431c855c527b39?api-version=7.1-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1584519298
        },
        "key_ops": [
          "encrypt",
          "decrypt",
          "sign",
          "verify",
          "wrapKey",
          "unwrapKey"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://dotnettestvaultpre.vault.azure.net/keys/384963213/4ee4ba6a593143c893431c855c527b39",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rXwVvZYu6p5K6jwnqSyh1eRkwuDxT-0_fMbGut0gzFiUZgnCuB54kKp3wdZzc_rsVmv8Y-DJ3Y-cxY2ZlteLadXQ5z_bQk7XCLAZsydxxGLNvEtu1KcXBnHhVoiJ76BNfrSC2sCnJeNa3cJ5c8c6CLI04-XkPfNuOJADG24LuCUqsNGmMHr89pwfvrjmkT-4Ns6MYr13rmI6B4BVPgu_8Rr2czEEhePSP_VtkdaEkzU3IfZBWxz_uRN9ssqqbX-T_B1knJGcnp6L_RoYP0Lu3Zj-07KxCXhHq5D6sjxpFBhykH6Lpsn6evCsuM2LZYPABx_M7EBXR6NIYU05ISRuDw",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "exp": 1584519298,
          "created": 1584519298,
          "updated": 1584519298,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://dotnettestvaultpre.vault.azure.net/",
    "RandomSeed": "132204188"
  }
}