{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1420520613/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1420520613/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "key_ops": [
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1420520613/646def15822044659b73ef5edcbd77f3",
          "kty": "EC",
          "key_ops": [
            "verify"
          ],
          "crv": "P-256",
          "x": "Hl5DBoU9XBfbLMFjU_z3xx8-sY6dRQcYjmmogpeTtQU",
          "y": "f5XX9kwgc72T9-h0E0BIgnnhQ-PzIAuMRGEMzVzK6tY"
        },
        "attributes": {
          "enabled": true,
          "created": 1613807570,
          "updated": 1613807570,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1420520613/646def15822044659b73ef5edcbd77f3?api-version=7.2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1613893970
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1420520613/646def15822044659b73ef5edcbd77f3",
          "kty": "EC",
          "key_ops": [
            "verify"
          ],
          "crv": "P-256",
          "x": "Hl5DBoU9XBfbLMFjU_z3xx8-sY6dRQcYjmmogpeTtQU",
          "y": "f5XX9kwgc72T9-h0E0BIgnnhQ-PzIAuMRGEMzVzK6tY"
        },
        "attributes": {
          "enabled": true,
          "exp": 1613893970,
          "created": 1613807570,
          "updated": 1613807570,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1420520613/646def15822044659b73ef5edcbd77f3?api-version=7.2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1613893970
        },
        "key_ops": [
          "sign",
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1420520613/646def15822044659b73ef5edcbd77f3",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "Hl5DBoU9XBfbLMFjU_z3xx8-sY6dRQcYjmmogpeTtQU",
          "y": "f5XX9kwgc72T9-h0E0BIgnnhQ-PzIAuMRGEMzVzK6tY"
        },
        "attributes": {
          "enabled": true,
          "exp": 1613893970,
          "created": 1613807570,
          "updated": 1613807570,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "889674511"
  }
}