{
  "Entries": [
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1950476481/create?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1950476481/create?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "tags": {
          "A": "1",
          "B": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/1950476481/6b25bd284e454a768e37167d2efe1234",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "MsA1hUm5Pg19xNA9Er4TetuagtvXB4_m1TciwlKHF6c",
          "y": "aq5wKNZ_SE3cgnQMsHdPrtUby-3AgHC9Xu6KmnYdee4"
        },
        "attributes": {
          "enabled": true,
          "created": 1571861599,
          "updated": 1571861599,
          "recoveryLevel": "Recoverable\u002BPurgeable"
        },
        "tags": {
          "A": "1",
          "B": "2"
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1950476481/6b25bd284e454a768e37167d2efe1234?api-version=7.0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true
        },
        "tags": {
          "A": "1",
          "B": "3",
          "C": "4"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/1950476481/6b25bd284e454a768e37167d2efe1234",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "MsA1hUm5Pg19xNA9Er4TetuagtvXB4_m1TciwlKHF6c",
          "y": "aq5wKNZ_SE3cgnQMsHdPrtUby-3AgHC9Xu6KmnYdee4"
        },
        "attributes": {
          "enabled": true,
          "created": 1571861599,
          "updated": 1571861599,
          "recoveryLevel": "Recoverable\u002BPurgeable"
        },
        "tags": {
          "A": "1",
          "B": "3",
          "C": "4"
        }
      }
    },
[...]
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1950476481?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://heathskv.vault.azure.net/deletedkeys/1950476481",
        "deletedDate": 1571861599,
        "scheduledPurgeDate": 1579637599,
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/1950476481/6b25bd284e454a768e37167d2efe1234",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "MsA1hUm5Pg19xNA9Er4TetuagtvXB4_m1TciwlKHF6c",
          "y": "aq5wKNZ_SE3cgnQMsHdPrtUby-3AgHC9Xu6KmnYdee4"
        },
        "attributes": {
          "enabled": true,
          "created": 1571861599,
          "updated": 1571861599,
          "recoveryLevel": "Recoverable\u002BPurgeable"
        },
        "tags": {
          "D": "5"
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/deletedkeys/1950476481?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskv.vault.azure.net",
    "RandomSeed": "914419415"
  }
}