{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/384963213/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/384963213/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/384963213/99850570dd77472d8834169151b96919",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "xShDSkE93ddL8vOoX_avTqOpTxAqOeOBzN23ECxRdUklNCf4jCx4JxsOiffMGOCweGgJA7WFGGoaaBz_UEXaMwgtox3Wh9LLl6yZcRcDP8xQtUpwsZB0cx2ZCtCZjvUhtwYi229C8Ir3nNYH7AZ0UpL4QfE7QB42mIkUqPaPR1TY9SDUpthL6VPU_ti-6y1RnzQ9KQ5WZadg83sgYWkIYXz-rWOGtCN4V9f9Q1M9PRlARzDhS682Qehsxxp4i7tLqZUl74txq6FnUbyFWrHvVVg6GSej-X4DfIP2sdBlJjlaugQMZ17qbOsa2IaLDu3SuMhRsDl0USYfTRddsklckw",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1612561538,
          "updated": 1612561538,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/384963213/99850570dd77472d8834169151b96919?api-version=7.1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1612561538
        },
        "key_ops": [
          "encrypt",
          "decrypt",
          "sign",
          "verify",
          "wrapKey",
          "unwrapKey"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/384963213/99850570dd77472d8834169151b96919",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "xShDSkE93ddL8vOoX_avTqOpTxAqOeOBzN23ECxRdUklNCf4jCx4JxsOiffMGOCweGgJA7WFGGoaaBz_UEXaMwgtox3Wh9LLl6yZcRcDP8xQtUpwsZB0cx2ZCtCZjvUhtwYi229C8Ir3nNYH7AZ0UpL4QfE7QB42mIkUqPaPR1TY9SDUpthL6VPU_ti-6y1RnzQ9KQ5WZadg83sgYWkIYXz-rWOGtCN4V9f9Q1M9PRlARzDhS682Qehsxxp4i7tLqZUl74txq6FnUbyFWrHvVVg6GSej-X4DfIP2sdBlJjlaugQMZ17qbOsa2IaLDu3SuMhRsDl0USYfTRddsklckw",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "exp": 1612561538,
          "created": 1612561538,
          "updated": 1612561539,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "132204188"
  }
}