{
  "Entries": [
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/861166131/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/861166131/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/861166131/e3163a9c198549d4b84494d695c88620",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "R24UEmQ47ymgPy9fs4tMqQa3ZTTj9f1-TIfpzkJhmRU",
          "y": "yjsNYbA-fKr95DkGXN7mEtYxgNRWtv2hXY3sxOlgzQQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1626227823,
          "updated": 1626227823,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/861166131/e3163a9c198549d4b84494d695c88620?api-version=7.3-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": false
        },
        "key_ops": [
          "sign",
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/861166131/e3163a9c198549d4b84494d695c88620",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "R24UEmQ47ymgPy9fs4tMqQa3ZTTj9f1-TIfpzkJhmRU",
          "y": "yjsNYbA-fKr95DkGXN7mEtYxgNRWtv2hXY3sxOlgzQQ"
        },
        "attributes": {
          "enabled": false,
          "created": 1626227823,
          "updated": 1626227823,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/861166131/?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/861166131/e3163a9c198549d4b84494d695c88620",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "R24UEmQ47ymgPy9fs4tMqQa3ZTTj9f1-TIfpzkJhmRU",
          "y": "yjsNYbA-fKr95DkGXN7mEtYxgNRWtv2hXY3sxOlgzQQ"
        },
        "attributes": {
          "enabled": false,
          "created": 1626227823,
          "updated": 1626227823,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskvtest.vault.azure.net/",
    "RandomSeed": "1687623275"
  }
}