{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1027657259/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1027657259/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1027657259/de6e892d232247d2a0e3708885c396ae",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "kDqNiORcOnkdywHS5M7-VZwbsOhzn22jxRxGQHEFryw",
          "y": "S2hyBFA09G0UqRk_ux52YAiJCTGLzk2BlvHFc0y6s4w"
        },
        "attributes": {
          "enabled": true,
          "created": 1613807557,
          "updated": 1613807557,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1027657259/de6e892d232247d2a0e3708885c396ae?api-version=7.2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1613807557
        },
        "key_ops": [
          "sign",
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1027657259/de6e892d232247d2a0e3708885c396ae",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "kDqNiORcOnkdywHS5M7-VZwbsOhzn22jxRxGQHEFryw",
          "y": "S2hyBFA09G0UqRk_ux52YAiJCTGLzk2BlvHFc0y6s4w"
        },
        "attributes": {
          "enabled": true,
          "exp": 1613807557,
          "created": 1613807557,
          "updated": 1613807557,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "178782590"
  }
}