{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/904839810/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/904839810/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/904839810/3f6c6c71b99d4af288199767db416b5b",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uD0JFkUFonkw62BB_b19ZO5GCUqB2EHgPdJd0El-M58nKzpxHbY_JIWt_lZtfawjUg9dzZUYv86XD7c4ZeZ36a0bk_e5I9HkL6hyZJG8wKuDaf9U2Wzw84gSiqn0VMHiy-CxT-w13lyujePHTpIyaxVOUD4pObqXrHnDP-kbPJG3A5F2wGrlW1N-sI3BB8w-zk3deP0T_1SHTs-r3DpIJ5afpo2DbRN9Fm7_OSYoAWF5goWi2spADlHSIj6L_4XtmXwUHTa7Zc0drzqxe2GSCA_Oq_pdgSuYzmpIjyviuLjDtXGYBapCAiIDJFkKYz3caCgbHUMgk5IESke_Xg5Xkw",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1648057491,
          "updated": 1648057491,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/904839810/3f6c6c71b99d4af288199767db416b5b?api-version=7.3",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": false
        },
        "key_ops": [
          "encrypt",
          "decrypt",
          "sign",
          "verify",
          "wrapKey",
          "un[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/904839810/?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/904839810/3f6c6c71b99d4af288199767db416b5b",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uD0JFkUFonkw62BB_b19ZO5GCUqB2EHgPdJd0El-M58nKzpxHbY_JIWt_lZtfawjUg9dzZUYv86XD7c4ZeZ36a0bk_e5I9HkL6hyZJG8wKuDaf9U2Wzw84gSiqn0VMHiy-CxT-w13lyujePHTpIyaxVOUD4pObqXrHnDP-kbPJG3A5F2wGrlW1N-sI3BB8w-zk3deP0T_1SHTs-r3DpIJ5afpo2DbRN9Fm7_OSYoAWF5goWi2spADlHSIj6L_4XtmXwUHTa7Zc0drzqxe2GSCA_Oq_pdgSuYzmpIjyviuLjDtXGYBapCAiIDJFkKYz3caCgbHUMgk5IESke_Xg5Xkw",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": false,
          "created": 1648057491,
          "updated": 1648057492,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1051085862"
  }
}
