{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1799681749/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1799681749/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1799681749/aecae66b6072450da0917abdf0965d5c",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0vsqsEEF4pFELXLlQaCPwKczc-2IAaG16H8pJR2wwJ-NQ3c9H2GPOOvyb_NNTAdzmAttR5ikAPxfTQkx0wr3ObzCj3N3R2Sj8XfKfRRS_F0lIKNB-GNXNsup20by24tlFJzSz_CGGtSVapi9kyGmYEKI22YS5NAqrIb-9IwjrRh-Af12tnoJjZeO9wTF9iH7UT_ZorkbFwI3a69E2QYFaoEv3C41lzueQyxorYULQBAtTvXvjyPmX0kkOkhPGW4tbcNAMXK2BcyfMdz8SECBiu_2zimuzV0N9dUGDx3qlNhca-BsEv046OZ411gt2RVmccbMEGn5KcNjnocnADP-lQ",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1613807318,
          "updated": 1613807318,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1799681749/aecae66b6072450da0917abdf0965d5c?api-version=7.2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1613807318
        },
        "key_ops": [
          "encrypt",
          "decrypt",
          "sign",
          "verify",
          "wrapKey",
          "unwrapKey"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1799681749/aecae66b6072450da0917abdf0965d5c",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0vsqsEEF4pFELXLlQaCPwKczc-2IAaG16H8pJR2wwJ-NQ3c9H2GPOOvyb_NNTAdzmAttR5ikAPxfTQkx0wr3ObzCj3N3R2Sj8XfKfRRS_F0lIKNB-GNXNsup20by24tlFJzSz_CGGtSVapi9kyGmYEKI22YS5NAqrIb-9IwjrRh-Af12tnoJjZeO9wTF9iH7UT_ZorkbFwI3a69E2QYFaoEv3C41lzueQyxorYULQBAtTvXvjyPmX0kkOkhPGW4tbcNAMXK2BcyfMdz8SECBiu_2zimuzV0N9dUGDx3qlNhca-BsEv046OZ411gt2RVmccbMEGn5KcNjnocnADP-lQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "exp": 1613807318,
          "created": 1613807318,
          "updated": 1613807319,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "2109258658"
  }
}