{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/493885932/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/493885932/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/493885932/bdf5d555f23041e8a3ed8a327e2e6990",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "qAvR3IDU1NLgrATl0WVgPfTWACf7_scJlPBVChklJD6LjkRgjPX5SVaLgYCWqhhJT0m2GzmgkavdF1D5TXkieo2MWucvRQKQfiZWhzIDPH2RgU8c1inprQgPoK0e5IuWAz8qzOgH_8n-DYsvMgjZhTyAnTn3NTr6AZy2789dstLtg7ufgU4kL4FKoMuoD1fkOJUfb_cuBlo3uJ_JAE72A4oc42x_pmUB75oQkbEvBNF0mc8tX_g46OX4oWNlN4wpq9ZVpQhuzLopDGCOwGxCis4jPUdpHD7rADtjVtkeVYEviSVZi-uSweNoJm3mVaAnIao9xKIRqtnf9MpTfPkg0Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1633482177,
          "updated": 1633482177,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/493885932/rotationpolicy?api-version=7.3-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lifetimeActions": [
          {
            "trigger": {
              "timeBeforeExpiry": "P10D"
            },
            "action": {
              "type": "Rotate"
            }
          }
        ],
        "attributes": {
          "expiryTime": "P90D"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://heathskeyvault.vault.azure.net/keys/493885932/rotationpolicy",
        "lifetimeActions": [
          {
            "trigger": {
              "timeBeforeExpiry": "P10D"
            },
            "action": {
              "type": "Rotate"
            }
          }
        ],
        "attributes": {
          "expiryTime": "P90D",
          "created": 1633482178,
          "updated": 1633482178
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "926354892"
  }
}