{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1045768551/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1045768551/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "tags": {
          "A": "1",
          "B": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1045768551/e807e9b59e6c452c8079deada14b093c",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "lILp_I_jpGepXIVV1wU5vZCwcQUIQxSubGxUHDJt8ehXMOcqcDpCI8nxMd3EJHJZS0Q1-lvBoPEI0iEHfgDWXkgtTsQFRLt4vy-xLUm5aAjxTSK_wGJAAnCUC8dhccroVFdoa85Dg_pwoBlAzfbFldCaxMmKuMlXF_BnVx8oH9ojFeEyGc_K1kpb0R6PlbHhvxp6D3IxhSU3MyvAYcrLM4ZND_bbxJh0zyr0nEBEV_ztIAtiXYyA96jGafQwIvWsHB9g8AxHNkb60tSYtFBlN_A4U_fQEERieDpBNzLQh9pixgcpL0ymQCi0yGIzDT6JOV_5hEsF-AXcscBFAUKuYQ",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1677705714,
          "updated": 1677705714,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        },
        "tags": {
          "A": "1",
          "B": "2"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1045768551/e807e9b59e6c452c8079deada14b093c?api-version=7.4",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exportable": false
        },
        "tags": {
          "A": "1",
          "B": "3",
          "C": "4"
        }
      },
     [...]
[...]
