{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/861166131/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/861166131/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/861166131/ad83fe9ac8394336a5dfdfd998938c02",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "F95Q5MIIVC_F5xRmz_yZKpitVsDvHQYiB_hSy2x0bAA",
          "y": "bZNL6KwfNrgc1nknrVW90Xm_rtJUXiczZaCCTvAZmFQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1613807566,
          "updated": 1613807566,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/861166131/ad83fe9ac8394336a5dfdfd998938c02?api-version=7.2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": false
        },
        "key_ops": [
          "sign",
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/861166131/ad83fe9ac8394336a5dfdfd998938c02",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "F95Q5MIIVC_F5xRmz_yZKpitVsDvHQYiB_hSy2x0bAA",
          "y": "bZNL6KwfNrgc1nknrVW90Xm_rtJUXiczZaCCTvAZmFQ"
        },
        "attributes": {
          "enabled": false,
          "created": 1613807566,
          "updated": 1613807566,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/861166131/?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/861166131/ad83fe9ac8394336a5dfdfd998938c02",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "F95Q5MIIVC_F5xRmz_yZKpitVsDvHQYiB_hSy2x0bAA",
          "y": "bZNL6KwfNrgc1nknrVW90Xm_rtJUXiczZaCCTvAZmFQ"
        },
        "attributes": {
          "enabled": false,
          "created": 1613807566,
          "updated": 1613807566,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1687623275"
  }
}