{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/554229513/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/554229513/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM",
        "key_ops": [
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/554229513/ba74a80eb74546ba8cfbcfd71441cef7",
          "kty": "EC-HSM",
          "key_ops": [
            "verify"
          ],
          "crv": "P-256",
          "x": "cR19ByBtVThxrpLlQXpbDVvl0sK_JgIwc2YAJ3d9YoY",
          "y": "Up4z5zU9Syi7rtOanWwLOT6yhXCixCoWk8VjjhFfOzY"
        },
        "attributes": {
          "enabled": true,
          "created": 1612561415,
          "updated": 1612561415,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/554229513/ba74a80eb74546ba8cfbcfd71441cef7?api-version=7.1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1612647816
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/554229513/ba74a80eb74546ba8cfbcfd71441cef7",
          "kty": "EC-HSM",
          "key_ops": [
            "verify"
          ],
          "crv": "P-256",
          "x": "cR19ByBtVThxrpLlQXpbDVvl0sK_JgIwc2YAJ3d9YoY",
          "y": "Up4z5zU9Syi7rtOanWwLOT6yhXCixCoWk8VjjhFfOzY"
        },
        "attributes": {
          "enabled": true,
          "exp": 1612647816,
          "created": 1612561415,
          "updated": 1612561417,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/554229513/ba74a80eb74546ba8cfbcfd71441cef7?api-version=7.1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1612647816
        },
        "key_ops": [
          "sign",
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/554229513/ba74a80eb74546ba8cfbcfd71441cef7",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "cR19ByBtVThxrpLlQXpbDVvl0sK_JgIwc2YAJ3d9YoY",
          "y": "Up4z5zU9Syi7rtOanWwLOT6yhXCixCoWk8VjjhFfOzY"
        },
        "attributes": {
          "enabled": true,
          "exp": 1612647816,
          "created": 1612561415,
          "updated": 1612561418,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "603118218"
  }
}