{
  "Entries": [
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/660108455/create?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/660108455/7e2d574200c44aa08ac1651d7c25598d",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "Og9YkgH552oCGHiHIOm9Girscwj6_EnjckvnboG7IEY",
          "y": "Fnjl3uF2u2uON1oiHwowq1bYc8VMGyQgEUusui4MR0w"
        },
        "attributes": {
          "enabled": true,
          "created": 1560890364,
          "updated": 1560890364,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/660108455/7e2d574200c44aa08ac1651d7c25598d?api-version=7.0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1560890364
        },
        "key_ops": [
          "sign",
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/660108455/7e2d574200c44aa08ac1651d7c25598d",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "Og9YkgH552oCGHiHIOm9Girscwj6_EnjckvnboG7IEY",
          "y": "Fnjl3uF2u2uON1oiHwowq1bYc8VMGyQgEUusui4MR0w"
        },
        "attributes": {
          "enabled": true,
          "exp": 1560890364,
          "created": 1560890364,
          "updated": 1560890364,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/keys/660108455?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://pakrym-keyvault.vault.azure.net/deletedkeys/660108455",
        "deletedDate": 1560890364,
        "scheduledPurgeDate": 1568666364,
        "key": {
          "kid": "https://pakrym-keyvault.vault.azure.net/keys/660108455/7e2d574200c44aa08ac1651d7c25598d",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "Og9YkgH552oCGHiHIOm9Girscwj6_EnjckvnboG7IEY",
          "y": "Fnjl3uF2u2uON1oiHwowq1bYc8VMGyQgEUusui4MR0w"
        },
        "attributes": {
          "enabled": true,
          "exp": 1560890364,
          "created": 1560890364,
          "updated": 1560890364,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/deletedkeys/660108455?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://pakrym-keyvault.vault.azure.net/",
    "RandomSeed": "2023801437"
  }
}