{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1859980845/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1859980845/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "tags": {
          "A": "1",
          "B": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1859980845/84f40d78219c465cbe02d8dd723dad1d",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "073oMESctbLdzQxedLyrakxJWnOez1k9eps74Pa_gv8H6P0KHpq1CF00ZugwVLNKrkxpjEYQGgNxOlEdvJdZL0fEe1p6XizyRKo5ZtTnfiazDA-OrUOVIY25OXeJ-jztKJcsk1iP4RAymI4I7J0JwRvg70g7aWEbjQ7DIvOgAItjW-FW_nthdKt0xuQP2rObVpqT8aGw9vZzTyTb99bJO-Ht6bnpvFlV1Yl6BNtaz2h8T3QdwjKKsGic7aHCPV3F0pM0M2GyfL1pGXliorB2NSmVTQhD_h7Ezmf3aQUFFD9_-SzKB9Vdw89tOyy815bJAXrAaB9XTCMQSuYrxvq27w",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1648057495,
          "updated": 1648057495,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "tags": {
          "A": "1",
          "B": "2"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1859980845/84f40d78219c465cbe02d8dd723dad1d?api-version=7.3",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true
        },
        "tags": {
          "A": "1",
          "B": "3",
          "C": "4"
        }
      },
      "StatusCode": 200,
      "Respons[...]
[...]
