{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/984320169/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/984320169/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/984320169/203efa18c2fe4768804fba2b130675df",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "2fOF8UD6IcBTAQ5d1j85lRxX82mlPz3qJY1usTMFJ9wgp5KkZgSd-vu2LJg5yY-JgjkzAL5VkWLlu1eAof6RI8oyvgBzPVQfZlpiZL0VPa3kWkFBtabL280YrKEM0ZZ69z-_1NIFa1PpDog7MigGEk_hMl8ufl6ir2zc_scAZPY0wmc2XDUeRhecuuDW12d4jnSR1gmXlScEa78glV9HD94ROCjr79d3338lPkFuoN8JF4omOWq4nH_Q_eCVA9yJBvhl2r_5Q8P99JhoHMCkGOWdnErizijf2iYDzFTo8xxBnlW0P7VgsDHz3HM9E4nsJDY3qB32EaPRGW6jz7rYXQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1667258484,
          "updated": 1667258484,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/984320169/rotationpolicy?api-version=7.4-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lifetimeActions": [
          {
            "trigger": {
              "timeBeforeExpiry": "P10D"
            },
            "action": {
              "type": "Rotate"
            }
          }
        ],
        "attributes": {
          "expiryTime": "P90D"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://heathskeyvault.vault.azure.net/keys/984320169/rotationpolicy",
        "lifetimeActions": [
          {
            "trigger": {
              "timeBeforeExpiry": "P10D"
            },
            "action": {
              "type": "Rotate"
            }
          }
        ],
        "attributes": {
          "expiryTime": "P90D",
          "created": 1667258485,
          "updated": 1667258485
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "180758771"
  }
}
