{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/660108455/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/660108455/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/660108455/b5ed1ebba0994bc786b947625e1b0826",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "vYBgFIksd0Ozc2w5w7hRQlPSBRoZx5LYaF84Zl2IZBQ",
          "y": "4BRPOC1q25o_8O7Zo1J_2ApR4Hdj2FIrS5csNuXAU8w"
        },
        "attributes": {
          "enabled": true,
          "created": 1613807568,
          "updated": 1613807568,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/660108455/b5ed1ebba0994bc786b947625e1b0826?api-version=7.2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1613807568
        },
        "key_ops": [
          "sign",
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/660108455/b5ed1ebba0994bc786b947625e1b0826",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "vYBgFIksd0Ozc2w5w7hRQlPSBRoZx5LYaF84Zl2IZBQ",
          "y": "4BRPOC1q25o_8O7Zo1J_2ApR4Hdj2FIrS5csNuXAU8w"
        },
        "attributes": {
          "enabled": true,
          "exp": 1613807568,
          "created": 1613807568,
          "updated": 1613807568,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "2023801437"
  }
}