{
  "Entries": [
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1799681749/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1799681749/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/1799681749/db1b5e6fcda9411b9521b649e0ab24fa",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vWw1P18wAJpr-Tp4-sU49yPQhH-s8zMZyjsNmVP4qTWL_9M-cVbkR9lLIp2bRZV9w6Cs7B06lGBdYRWis9qz-_qrr_gDQQavk2HIrDoAjusJyT8gP5z3j_n4WXkozAemJA7T2EmZ-ZqWb2V6dg9e07yXEGo7JlavV_CSzqiwP-2S19w0iNI45wvuW3pS5K0-waQEHcEB7qrZvG89YT40_mp9VCqsrmmkDhSsDgkqN9fQ06kfCVvoYAoF4i92fjcvOxWhL61UHcjJ1OEZuOX8J4qtDXn_eSTSoP4kWyQuvesMav_M9H6vFFoe-f7qJM1cyA0tctPrmEGoYLXMc04hTw",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1597277159,
          "updated": 1597277159,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/keys/1799681749/db1b5e6fcda9411b9521b649e0ab24fa?api-version=7.1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1597277159
        },
        "key_ops": [
          "encrypt",
          "decrypt",
          "sign",
          "verify",
          "wrapKey",
          "unwrapKey"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskv.vault.azure.net/keys/1799681749/db1b5e6fcda9411b9521b649e0ab24fa",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vWw1P18wAJpr-Tp4-sU49yPQhH-s8zMZyjsNmVP4qTWL_9M-cVbkR9lLIp2bRZV9w6Cs7B06lGBdYRWis9qz-_qrr_gDQQavk2HIrDoAjusJyT8gP5z3j_n4WXkozAemJA7T2EmZ-ZqWb2V6dg9e07yXEGo7JlavV_CSzqiwP-2S19w0iNI45wvuW3pS5K0-waQEHcEB7qrZvG89YT40_mp9VCqsrmmkDhSsDgkqN9fQ06kfCVvoYAoF4i92fjcvOxWhL61UHcjJ1OEZuOX8J4qtDXn_eSTSoP4kWyQuvesMav_M9H6vFFoe-f7qJM1cyA0tctPrmEGoYLXMc04hTw",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "exp": 1597277159,
          "created": 1597277159,
          "updated": 1597277159,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskv.vault.azure.net",
    "RandomSeed": "2109258658"
  }
}