{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/530981760/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/530981760/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM",
        "key_ops": [
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/530981760/b43eb26fe84a4661be2c358da101ce49",
          "kty": "EC-HSM",
          "key_ops": [
            "verify"
          ],
          "crv": "P-256",
          "x": "rvEuxYoDCK3Gp2YKFf_wAM6p28O4q-4t6eQYjbyLkjI",
          "y": "-kRAN0lu45UZcQaCt5VQzq7gIC8fGmRv-jRYDOWb1R8"
        },
        "attributes": {
          "enabled": true,
          "created": 1667258612,
          "updated": 1667258612,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/530981760/b43eb26fe84a4661be2c358da101ce49?api-version=7.4-preview.1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1667345012,
          "exportable": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/530981760/b43eb26fe84a4661be2c358da101ce49",
          "kty": "EC-HSM",
          "key_ops": [
            "verify"
          ],
          "crv": "P-256",
          "x": "rvEuxYoDCK3Gp2YKFf_wAM6p28O4q-4t6eQYjbyLkjI",
          "y": "-kRAN0lu45UZcQaCt5VQzq7gIC8fGmRv-jRYDOWb1R8"
        },
        "attributes": {
          "enabled": true,
          "exp": 1667345012,
          "created": 1667258612,
          "updated": 1667258613,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/530981760/b43eb26fe84a4661be2c358da101ce49?api-version=7.4-preview.1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1667345012,
          "exportable": false
        },
        "key_ops": [
          "sign",
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/530981760/b43eb26fe84a4661be2c358da101ce49",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "rvEuxYoDCK3Gp2YKFf_wAM6p28O4q-4t6eQYjbyLkjI",
          "y": "-kRAN0lu45UZcQaCt5VQzq7gIC8fGmRv-jRYDOWb1R8"
        },
        "attributes": {
          "enabled": true,
          "exp": 1667345012,
          "created": 1667258612,
          "updated": 1667258613,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "2103148773"
  }
}
