{
  "Entries": [
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1048397531/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1048397531/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "key_ops": [
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/1048397531/f4f66b3323c54d4cb2de54af6fdba667",
          "kty": "EC",
          "key_ops": [
            "verify"
          ],
          "crv": "P-256",
          "x": "flK8170kkpJh2FkN9KZnXVz2xVz42fkd4p7sDnow9ko",
          "y": "wPGxrJ4SNh1Mv7lZUcBY1XE17khJrKQwThhSSIo6yJY"
        },
        "attributes": {
          "enabled": true,
          "created": 1626226567,
          "updated": 1626226567,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1048397531/f4f66b3323c54d4cb2de54af6fdba667?api-version=7.3-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1626312967
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/1048397531/f4f66b3323c54d4cb2de54af6fdba667",
          "kty": "EC",
          "key_ops": [
            "verify"
          ],
          "crv": "P-256",
          "x": "flK8170kkpJh2FkN9KZnXVz2xVz42fkd4p7sDnow9ko",
          "y": "wPGxrJ4SNh1Mv7lZUcBY1XE17khJrKQwThhSSIo6yJY"
        },
        "attributes": {
          "enabled": true,
          "exp": 1626312967,
          "created": 1626226567,
          "updated": 1626226567,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/keys/1048397531/f4f66b3323c54d4cb2de54af6fdba667?api-version=7.3-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1626312967
        },
        "key_ops": [
          "sign",
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest.vault.azure.net/keys/1048397531/f4f66b3323c54d4cb2de54af6fdba667",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "flK8170kkpJh2FkN9KZnXVz2xVz42fkd4p7sDnow9ko",
          "y": "wPGxrJ4SNh1Mv7lZUcBY1XE17khJrKQwThhSSIo6yJY"
        },
        "attributes": {
          "enabled": true,
          "exp": 1626312967,
          "created": 1626226567,
          "updated": 1626226567,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskvtest.vault.azure.net/",
    "RandomSeed": "1180467642"
  }
}