{
  "Entries": [
    {
      "RequestUri": "/%2Fsubscriptions%2F487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/compliances/2020-05-03Z?api-version=2017-08-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/compliances/2020-05-03Z\",\r\n  \"name\": \"2020-05-03Z\",\r\n  \"type\": \"Microsoft.Security/compliances\",\r\n  \"properties\": {\r\n    \"scope\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869\",\r\n    \"assessmentResult\": [\r\n      {\r\n        \"type\": \"Compliant\",\r\n        \"percentage\": 0.5\r\n      }\r\n    ],\r\n    \"resourceCount\": 14,\r\n    \"assessmentTimestampUtcDate\": \"2020-05-03T00:00:00Z\"\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "487bb485-b5b0-471e-9c0d-10717612f869"
  }
}