{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS12581055": "20220228",
          "NRMSBreakGlassNonHighRisk ": "NRMSBreakGlassNonHighRisk "
        },
        "subscriptionId": "fb9e7fe1-af44-47ef-852d-2d086a069327",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "GenevaMetrics_Int",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourceGroups/dialtone-traffic-manager/providers/Microsoft.Network/trafficmanagerprofiles/az-int-int-msftmetrics/heatMaps/default?api-version=2022-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "598"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourceGroups/dialtone-traffic-manager/providers/Microsoft.Network/trafficManagerProfiles/az-int-int-msftmetrics/heatMaps/default",
        "name": "default",
        "type": "Microsoft.Network/trafficManagerProfiles/heatMaps",
        "properties": {
          "endTime": "2022-06-29T00:00:00.0000000Z",
          "endpoints": [
            {
              "endpointId": 0,
              "resourceId": "/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourceGroups/dialtone-traffic-manager/providers/Microsoft.Network/trafficManagerProfiles/az-int-int-msftmetrics/externalEndpoints/az-int-black"
            },
            {
              "endpointId": 1,
              "resourceId": "/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourceGroups/dialtone-traffic-manager/providers/Microsoft.Network/trafficManagerProfiles/az-int-int-msftmetrics/externalEndpoints/az-int-red"
            }
          ],
          "startTime": "2022-06-22T00:00:00.0000000Z",
          "trafficFlows": [
            {
              "latitude": 37.335,
              "longitude": -121.888,
              "queryExperiences": [
                {
                  "endpointId": 0,
                  "queryCount": 533951
                },
                {
                  "endpointId": 1,
                  "queryCount": 297145
                }
              ],
              "sourceIp": "40.112.246.128"
            },
            {
              "latitude": 37.335,
              "longitude": -121.888,
              "queryExperiences": [
                {
                  "endpointId": 0,
                  "queryCount": 405089
                },
                {
                  "endpointId": 1,
                  "queryCount": 225529
                }
              ],
              "sourceIp": "40.112.240.128"
            },
            {
              "latitude": 47.132,
  [...]
