{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "requests": [
          {
            "id": "0",
            "headers": {
              "Prefer": "include-statistics=true"
            },
            "body": {
              "query": "TableA1_59_CL",
              "timespan": "2023-02-28T00:00:00.0000000Z/P15D"
            },
            "path": "/query",
            "method": "POST",
            "workspace": "314be15c-6065-462b-a0dc-8fe1213796f2"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "responses": [
          {
            "id": "0",
            "status": 200,
            "headers": {
            },
            "body": "{\u0022tables\u0022:[{\u0022name\u0022:\u0022PrimaryResult\u0022,\u0022columns\u0022:[{\u0022name\u0022:\u0022TenantId\u0022,\u0022type\u0022:\u0022string\u0022},{\u0022name\u0022:\u0022SourceSystem\u0022,\u0022type\u0022:\u0022string\u0022},{\u0022name\u0022:\u0022MG\u0022,\u0022type\u0022:\u0022string\u0022},{\u0022name\u0022:\u0022ManagementGroupName\u0022,\u0022type\u0022:\u0022string\u0022},{\u0022name\u0022:\u0022TimeGenera[...]
