{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-query12/providers/Microsoft.Storage/storageAccounts/zcgm7u7qywpla/query?query=search%20%2A\u0026timespan=P15D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "$table",
                "type": "string"
              },
              {
                "name": "OperationName",
                "type": "string"
              },
              {
                "name": "CorrelationId",
                "type": "string"
              },
              {
                "name": "CallerIpAddress",
                "type": "string"
              },
              {
                "name": "Category",
                "type": "string"
              },
              {
                "name": "TenantI[...]
