{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/bb1b4371-062d-414d-bef3-b0d124ff721c/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "TableA1_116_CL",
        "timespan": "2021-04-26T00:00:00.0000000Z/P7D"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "TenantId",
                "type": "string"
              },
              {
                "name": "SourceSystem",
                "type": "string"
              },
              {
                "name": "MG",
                "type": "string"
              },
              {
                "name": "ManagementGroupName",
                "type": "string"
              },
              {
                "name": "TimeGenerated",
                "type": "datetime"
              },
              {
                "name": "Computer",
                "type": "string"
              },
              {
                "name": "RawData",
                "type": "string"
              },
              {
                "name": "IntColumn_d",
                "type": "real"
              },
              {
                "name": "StringColumn_s",
                "type": "string"
              },
              {
                "name": "BoolColumn_b",
                "type": "bool"
              },
              {
                "name": "FloatColumn_d",
                "type": "real"
              },
              {
                "name": "Type",
                "type": "string"
              },
              {
                "name": "_ResourceId",
                "type": "string"
              }
            ],
            "rows": [
              [
                "bb1b4371-062d-414d-bef3-b0d124ff721c",
                "RestAPI",
                "",
                "",
                "2021-04-26T00:00:00Z",
                "",
                "",
                1,
                "a",
                false,
                0,
                "TableA1_116_CL",
                ""
              ],
              [
                "bb1b4371-062d-414d-bef3-b0d124ff721c",
                "RestAPI",
                "",
                "",
                "2021-04-28T00:00:00Z",
                "",
                "",
                3,
                "b",
                true,
                1.20000005,
                "TableA1_116_CL",
                ""
              ],
              [
                "bb1b4371-062d-414d-bef3-b0d124ff721c",
                "RestAPI",
                "",
                "",
                "2021-05-01T00:00:00Z",
                "",
                "",
                1,
                "c",
                false,
                1.10000002,
                "TableA1_116_CL",
                ""
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-05-04T11:37:12.4048879-07:00",
    "RandomSeed": "649791919",
    "WORKSPACE_ID": "bb1b4371-062d-414d-bef3-b0d124ff721c"
  }
}