{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/ba97a8e8-b16d-418c-b1ad-1fdfe06d2d89/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "TableA1_193_CL | distinct * |project StringColumn_s, IntColumn_d, BoolColumn_b, FloatColumn_d |order by StringColumn_s asc",
        "timespan": "2021-07-12T00:00:00.0000000Z/P7D"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "StringColumn_s",
                "type": "string"
              },
              {
                "name": "IntColumn_d",
                "type": "real"
              },
              {
                "name": "BoolColumn_b",
                "type": "bool"
              },
              {
                "name": "FloatColumn_d",
                "type": "real"
              }
            ],
            "rows": [
              [
                "a",
                1,
                false,
                0
              ],
              [
                "b",
                3,
                true,
                1.20000005
              ],
              [
                "c",
                1,
                false,
                1.10000002
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-07-20T11:30:23.2096047-07:00",
    "LOGS_ENDPOINT": "https://api.loganalytics.io",
    "RandomSeed": "1465646503",
    "WORKSPACE_ID": "ba97a8e8-b16d-418c-b1ad-1fdfe06d2d89"
  }
}