{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "requests": [
          {
            "id": "0",
            "body": {
              "query": "TableA1_51_CL | distinct * | project TimeGenerated",
              "timespan": "PT5S"
            },
            "path": "/query",
            "method": "POST",
            "workspace": "1a0ed2b2-8f83-4b6c-b1da-01f912436358"
          },
          {
            "id": "1",
            "body": {
              "query": "TableA1_51_CL | distinct * | project TimeGenerated",
              "timespan": "P19DT19H41M58.4324121S"
            },
            "path": "/query",
            "method": "POST",
            "workspace": "1a0ed2b2-8f83-4b6c-b1da-01f912436358"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "responses": [
          {
            "id": "0",
            "status": 200,
            "headers": {
            },
            "body": {
              "tables": [
                {
                  "name": "PrimaryResult",
                  "columns": [
                    {
                      "name": "TimeGenerated",
                      "type": "datetime"
                    }
                  ],
                  "rows": []
                }
              ]
            }
          },
          {
            "id": "1",
            "status": 200,
            "body": {
              "tables": [
                {
                  "name": "PrimaryResult",
                  "columns": [
                    {
                      "name": "TimeGenerated",
                      "type": "datetime"
                    }
                  ],
                  "rows": [
                    [
                      "2023-02-27T22:32:39.3825624Z"
                    ],
                    [
                      "2023-02-27T22:32:39.3825624Z"
                    ],
                    [
                      "2023-02-27T22:32:39.3825624Z"
                    ],
                    [
                      "2023-02-27T22:33:09.5019266Z"
                    ],
                    [
                      "2023-02-27T22:33:09.5019266Z"
                    ],
                    [
                      "2023-02-27T22:33:09.5019266Z"
                    ]
                  ]
                }
              ]
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DateTimeOffsetNow": "2023-03-09T11:41:58.4324121-08:00",
    "LOGS_ENDPOINT": "https://api.loganalytics.io",
    "RandomSeed": "1271899467",
    "SECONDARY_WORKSPACE_ID": "72ecab51-3ee0-4872-8947-fab34f29c024",
    "SECONDARY_WORKSPACE_KEY": "Kg==",
    "WORKSPACE_ID": "1a0ed2b2-8f83-4b6c-b1da-01f912436358",
    "WORKSPACE_KEY": "Kg=="
  }
}
