{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/1a0ed2b2-8f83-4b6c-b1da-01f912436358/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "datatable (DateTime: datetime) [ datetime(null) ]",
        "timespan": "2023-02-20T00:00:00.0000000Z/P14D"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "DateTime",
                "type": "datetime"
              }
            ],
            "rows": [
              [
                null
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DateTimeOffsetNow": "2023-03-08T14:50:00.0418285-08:00",
    "LOGS_ENDPOINT": "https://api.loganalytics.io",
    "RandomSeed": "637486803",
    "WORKSPACE_ID": "1a0ed2b2-8f83-4b6c-b1da-01f912436358"
  }
}
