{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "requests": [
          {
            "id": "0",
            "body": {
              "query": "TableA1_59_CL | distinct * | project TimeGenerated",
              "timespan": "PT5S"
            },
            "path": "/query",
            "method": "POST",
            "workspace": "314be15c-6065-462b-a0dc-8fe1213796f2"
          },
          {
            "id": "1",
            "body": {
              "query": "TableA1_59_CL | distinct * | project TimeGenerated",
              "timespan": "P16DT22H24M44.5110993S"
            },
            "path": "/query",
            "method": "POST",
            "workspace": "314be15c-6065-462b-a0dc-8fe1213796f2"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "responses": [
          {
            "id": "0",
            "status": 200,
            "body": {
              "tables": [
                {
                  "name": "PrimaryResult",
                  "columns": [
                    {
                      "name": "TimeGenerated",
                      "type": "datetime"
                    }
                  ],
                  "rows": []
                }
              ]
            }
          },
          {
            "id": "1",
            "status": 200,
            "body": {
              "tables": [
                {
                  "name": "PrimaryResult",
                  "columns": [
                    {
                      "name": "TimeGenerated",
                      "type": "datetime"
                    }
                  ],
                  "rows": [
                    [
                      "2023-03-14T20:57:43.1872735Z"
                    ],
                    [
                      "2023-03-14T20:57:43.1872735Z"
                    ],
                    [
                      "2023-03-14T20:57:43.1872735Z"
                    ],
                    [
                      "2023-03-14T20:49:08.116641Z"
                    ],
                    [
                      "2023-03-14T20:49:08.116641Z"
                    ],
                    [
                      "2023-03-14T20:49:08.116641Z"
                    ],
                    [
                      "2023-03-14T20:46:27.9577001Z"
                    ],
                    [
                      "2023-03-14T20:46:27.9577001Z"
                    ],
                    [
                      "2023-03-14T20:46:27.9577001Z"
                    ]
                  ]
                }
              ]
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DateTimeOffsetNow": "2023-03-14T15:24:44.5110993-07:00",
    "LOGS_ENDPOINT": "https://api.loganalytics.io",
    "RandomSeed": "1541515841",
    "WORKSPACE_ID": "314be15c-6065-462b-a0dc-8fe1213796f2"
  }
}
