{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/1a0ed2b2-8f83-4b6c-b1da-01f912436358/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "TableA1_51_CL | distinct StringColumn_s, IntColumn_d |project-rename Name = StringColumn_s, Age = IntColumn_d |project Name, Age |order by Name asc",
        "timespan": "2023-02-20T00:00:00.0000000Z/P14D"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "Name",
                "type": "string"
              },
              {
                "name": "Age",
                "type": "real"
              }
            ],
            "rows": [
              [
                "a",
                1
              ],
              [
                "b",
                3
              ],
              [
                "c",
                1
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DateTimeOffsetNow": "2023-03-08T14:51:35.5742851-08:00",
    "LOGS_ENDPOINT": "https://api.loganalytics.io",
    "RandomSeed": "235241216",
    "WORKSPACE_ID": "1a0ed2b2-8f83-4b6c-b1da-01f912436358"
  }
}
