{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-query16/providers/Microsoft.OperationalInsights/workspaces/query16-logs2/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "TableA1_125_CL | distinct * | project TimeGenerated",
        "timespan": "PT5S"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "TimeGenerated",
                "type": "datetime"
              }
            ],
            "rows": []
          }
        ]
      }
    },
    {
      "RequestUri": "https://api.loganalytics.io/v1/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-query16/providers/Microsoft.OperationalInsights/workspaces/query16-logs2/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "TableA1_125_CL | distinct * | project TimeGenerated",
        "timespan": "P16DT22H38M59.7009529S"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "TimeGenerated",
                "type": "datetime"
              }
            ],
            "rows": [
              [
                "2023-05-19T19:46:16.6140626Z"
              ],
              [
                "2023-05-19T19:46:16.6140626Z"
              ],
              [
                "2023-05-19T19:46:16.6140626Z"
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DateTimeOffsetNow": "2023-05-19T15:38:59.7009529-07:00",
    "LOGS_ENDPOINT": "https://api.loganalytics.io",
    "RandomSeed": "1524576943",
    "WORKSPACE_SECONDARY_RESOURCE_ID": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-query16/providers/Microsoft.OperationalInsights/workspaces/query16-logs2"
  }
}
