{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/50e32c19-2b4b-4152-b97e-0e02441cae60/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Prefer": " include-statistics=true"
      },
      "RequestBody": {
        "query": "TableA1_123_CL",
        "timespan": "2021-05-03T00:00:00.0000000Z/P7D"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "TenantId",
                "type": "string"
              },
              {
                "name": "SourceSystem",
                "type": "string"
              },
              {
                "name": "MG",
                "type": "string"
              },
              {
                "name": "ManagementGroupName",
                "type": "string"
              },
              {
                "name": "TimeGenerated",
                "type": "datetime"
              },
              {
                "name": "Computer",
                "type": "string"
              },
              {
                "name": "RawData",
                "type": "string"
              },
              {
                "name": "IntColumn_d",
                "type": "real"
              },
              {
                "name": "StringColumn_s",
                "type": "string"
              },
              {
                "name": "BoolColumn_b",
                "type": "bool"
              },
              {
                "name": "FloatColumn_d",
                "type": "real"
              },
              {
                "name": "Type",
                "type": "string"
              },
              {
                "name": "_ResourceId",
                "type": "string"
              }
            ],
            "rows": [
              [
                "50e32c19-2b4b-4152-b97e-0e02441cae60",
                "RestAPI",
                "",
                "",
                "2021-05-03T00:00:00Z",
                "",
                "",
                1,
                "a",
                false,
                0,
                "TableA1_123_CL",
                ""
              ],
              [
                "50e32c19-2b4b-4152-b97e-0e02441cae60",
                "RestAPI",
                "",
                "",
                "2021-05-05T00:00:00Z",
                "",
                "",
                3,
                "b",
                true,
                1.20000005,
                "TableA1_123_CL",
                ""
              ],
              [
                "50e32c19-2b4b-4152-b97e-0e02441cae60",
                "RestAPI",
                "",
                "",
                "2021-05-08T00:00:00Z",
                "",
                "",
                1,
                "c",
                false,
                1.10000002,
                "TableA1_123_CL",
                ""
              ]
            ]
          }
        ],
        "statistics": {
          "query": {
            "executionTime": 0.0156752,
            "resourceUsage": {
                "disk": {
                  "hits": 0,
                  "misses": 0,
                  "total": 0
                },
                "shards": {
                  "hot": {
                    "hitbytes": 0,
                    "missbytes": 0,
                    "retrievebytes": 0
                  },
                  "cold": {
                    "hitbytes": 0,
                    "missbytes": 0,
                    "retrievebytes": 0
                  },
                  "bypassbytes": 0
                }
              },
              "cpu": {
                "user": "00:00:00",
                "kernel": "00:00:00",
                "totalCpu": "00:00:00"
              },
              "memory": {
                "peakPerNode": 5244224
              }
            },
            "inputDatasetStatistics": {
              "extents": {
                "total": 1,
                "scanned": 1,
                "scannedMinDatetime": "2021-05-13T21:57:06.9994202Z",
                "scannedMaxDatetime": "2021-05-13T21:57:06.9994202Z"
              },
              "rows": {
                "total": 3,
                "scanned": 3
              },
              "rowstores": {
                "scannedRows": 0,
                "scannedValuesSize": 0
              },
              "shards": {
                "queriesGeneric": 0,
                "queriesSpecialized": 0
              }
            },
            "datasetStatistics": [
              {
                "tableRowCount": 3,
                "tableSize": 266
              }
            ]
          }
        }
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-05-13T14:58:20.3799939-07:00",
    "LOGS_ENDPOINT": "https://api.loganalytics.io",
    "RandomSeed": "321992665",
    "WORKSPACE_ID": "50e32c19-2b4b-4152-b97e-0e02441cae60"
  }
}