{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "requests": [
          {
            "id": "0",
            "body": {
              "query": "TableA1_116_CL | project TimeGenerated",
              "timespan": "2021-04-26T00:00:00.0000000Z/P7D"
            },
            "path": "/query",
            "method": "POST",
            "workspace": "bb1b4371-062d-414d-bef3-b0d124ff721c"
          },
          {
            "id": "1",
            "body": {
              "query": "TableA1_116_CL | project TimeGenerated",
              "timespan": "P7DT18H37M6.2800793S"
            },
            "path": "/query",
            "method": "POST",
            "workspace": "bb1b4371-062d-414d-bef3-b0d124ff721c"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "responses": [
          {
            "id": "0",
            "status": 200,
            "headers": {
            },
            "body": {
              "tables": [
                {
                  "name": "PrimaryResult",
                  "columns": [
                    {
                      "name": "TimeGenerated",
                      "type": "datetime"
                    }
                  ],
                  "rows": [
                    [
                      "2021-04-26T00:00:00Z"
                    ],
                    [
                      "2021-04-28T00:00:00Z"
                    ],
                    [
                      "2021-05-01T00:00:00Z"
                    ]
                  ]
                }
              ]
            }
          },
          {
            "id": "1",
            "status": 200,
            "body": {
              "tables": [
                {
                  "name": "PrimaryResult",
                  "columns": [
                    {
                      "name": "TimeGenerated",
                      "type": "datetime"
                    }
                  ],
                  "rows": [
                    [
                      "2021-04-28T00:00:00Z"
                    ],
                    [
                      "2021-05-01T00:00:00Z"
                    ]
                  ]
                }
              ]
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-05-04T11:37:06.2800793-07:00",
    "RandomSeed": "1342496839",
    "WORKSPACE_ID": "bb1b4371-062d-414d-bef3-b0d124ff721c"
  }
}