{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/0a1f6b9a-caa1-4e5a-ac9a-54aa9b2fb131/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "set truncationmaxrecords=1; datatable (s: string) [\u0027a\u0027, \u0027b\u0027]",
        "timespan": "2021-06-14T00:00:00.0000000Z/P7D"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "s",
                "type": "string"
              }
            ],
            "rows": [
              [
                "a"
              ]
            ]
          }
        ],
        "error": {
          "code": "PartialError",
          "message": "There were some errors when processing your query.",
          "details": [
            {
              "code": "EngineError",
              "message": "Something went wrong processing your query on the server.",
              "innererror": {
                "code": "-2133196797",
                "message": "Query result set has exceeded the internal record count limit 1 (E_QUERY_RESULT_SET_TOO_LARGE; see https://aka.ms/kustoquerylimits)",
                "severity": 2,
                "severityName": "Error"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-06-23T13:06:16.3383231-07:00",
    "LOGS_ENDPOINT": "https://api.loganalytics.io",
    "RandomSeed": "326254235",
    "SECONDARY_WORKSPACE_ID": "0cf963f0-c6a5-4ced-8cd8-93a8d6e3e9d3",
    "SECONDARY_WORKSPACE_KEY": "Kg==",
    "WORKSPACE_ID": "0a1f6b9a-caa1-4e5a-ac9a-54aa9b2fb131",
    "WORKSPACE_KEY": "Kg=="
  }
}