{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/bb1b4371-062d-414d-bef3-b0d124ff721c/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "TableA1_116_CL | count",
        "timespan": "2021-04-26T00:00:00.0000000Z/P7D"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "Count",
                "type": "long"
              }
            ],
            "rows": [
              [
                3
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-05-04T11:37:20.5926733-07:00",
    "RandomSeed": "765892111",
    "WORKSPACE_ID": "bb1b4371-062d-414d-bef3-b0d124ff721c"
  }
}