{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/9a15b791-8d2f-436f-a734-25d128c72254/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "TableA1_102_CL |project-rename Name = StringColumn_s, Age = IntColumn_d |project Name, Age |order by Name asc"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "Name",
                "type": "string"
              },
              {
                "name": "Age",
                "type": "real"
              }
            ],
            "rows": [
              [
                "a",
                1
              ],
              [
                "b",
                3
              ],
              [
                "c",
                1
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-04-20T15:12:13.0477459-07:00",
    "RandomSeed": "472670342",
    "WORKSPACE_ID": "9a15b791-8d2f-436f-a734-25d128c72254"
  }
}