{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/ba97a8e8-b16d-418c-b1ad-1fdfe06d2d89/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "TableA1_193_CL | distinct * |project-rename Name = StringColumn_s, Age = IntColumn_d |project Name, Age |order by Name asc",
        "timespan": "2021-07-12T00:00:00.0000000Z/P7D"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "Name",
                "type": "string"
              },
              {
                "name": "Age",
                "type": "real"
              }
            ],
            "rows": [
              [
                "a",
                1
              ],
              [
                "b",
                3
              ],
              [
                "c",
                1
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-07-20T11:30:24.3100269-07:00",
    "LOGS_ENDPOINT": "https://api.loganalytics.io",
    "RandomSeed": "332246161",
    "WORKSPACE_ID": "ba97a8e8-b16d-418c-b1ad-1fdfe06d2d89"
  }
}