{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/1a0ed2b2-8f83-4b6c-b1da-01f912436358/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Prefer": "include-statistics=true"
      },
      "RequestBody": {
        "query": "TableA1_51_CL",
        "timespan": "2023-02-20T00:00:00.0000000Z/P14D"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "TenantId",
                "type": "string"
              },
              {
                "name": "SourceSystem",
                "type": "string"
              },
              {
                "name": "MG",
                "type": "string"
              },
              {
                "name": "ManagementGroupName",
                "type": "string"
              },
              {
                "name": "TimeGenerated",
                "type": "datetime"
              },
              {
                "name": "Computer",
                "type": "string"
              },
              {
                "name": "RawData",
                "type": "string"
              },
              {
                "name": "IntColumn_d",
                "type": "real"
              },
              {
                "name": "StringColumn_s",
                "type": "string"
              },
              {
                "name": "BoolColumn_b",
                "type": "bool"
              },
              {
                "name": "FloatColumn_d",
                "type": "real"
              },
              {
                "name": "Type",
                "type": "string"
              },
              {
                "name": "_ResourceId",
                "type": "string"
              }
            ],
            "rows": [
              [
                "1a0ed2b2-8f83-4b6c-b1da-01f912436358",
                "RestAPI",
                "",
                "",
                "2023-02-27T22:32:39.3825624Z",
                "",
                "",
                1,
                "a",
                false,
                0,
                "TableA1_51_CL",
                ""
              ],
              [
                "1a0ed2b2-8f83-4b6c-b1da-01f912436358",
                "RestAPI",
                "",
[...]
