{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/50e32c19-2b4b-4152-b97e-0e02441cae60/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "TableA1_123_CL |project-rename Name = StringColumn_s, Age = IntColumn_d |project Name, Age |order by Name asc",
        "timespan": "2021-05-03T00:00:00.0000000Z/P7D"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "Name",
                "type": "string"
              },
              {
                "name": "Age",
                "type": "real"
              }
            ],
            "rows": [
              [
                "a",
                1
              ],
              [
                "b",
                3
              ],
              [
                "c",
                1
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-05-13T14:58:16.9852930-07:00",
    "LOGS_ENDPOINT": "https://api.loganalytics.io",
    "RandomSeed": "332246161",
    "WORKSPACE_ID": "50e32c19-2b4b-4152-b97e-0e02441cae60"
  }
}