{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/e7bf7412-576d-4978-b47c-2edf669e3e2a/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Prefer": "include-render=true"
      },
      "RequestBody": {
        "query": "datatable (s: string, i: long) [ \u0022a\u0022, 1, \u0022b\u0022, 2, \u0022c\u0022, 3 ] | render columnchart",
        "timespan": "2021-06-07T00:00:00.0000000Z/P7D"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "s",
                "type": "string"
              },
              {
                "name": "i",
                "type": "long"
              }
            ],
            "rows": [
              [
                "a",
                1
              ],
              [
                "b",
                2
              ],
              [
                "c",
                3
              ]
            ]
          }
        ],
        "render": {
          "visualization": "columnchart",
          "title": null,
          "accumulate": false,
          "isQuerySorted": false,
          "kind": null,
          "legend": null,
          "series": null,
          "yMin": "NaN",
          "yMax": "NaN",
          "xAxis": null,
          "xColumn": null,
          "xTitle": null,
          "yAxis": null,
          "yColumns": null,
          "ySplit": null,
          "yTitle": null,
          "anomalyColumns": null
        }
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-06-14T13:40:19.0931760-07:00",
    "LOGS_ENDPOINT": "https://api.loganalytics.io",
    "RandomSeed": "1647985512",
    "WORKSPACE_ID": "e7bf7412-576d-4978-b47c-2edf669e3e2a"
  }
}