{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "requests": [
          {
            "id": "0",
            "body": {
              "query": "TableA1_123_CL | project TimeGenerated",
              "timespan": "2021-05-03T00:00:00.0000000Z/P7D"
            },
            "path": "/query",
            "method": "POST",
            "workspace": "50e32c19-2b4b-4152-b97e-0e02441cae60"
          },
          {
            "id": "1",
            "body": {
              "query": "TableA1_123_CL | project TimeGenerated",
              "timespan": "P9DT21H57M53.378418S"
            },
            "path": "/query",
            "method": "POST",
            "workspace": "50e32c19-2b4b-4152-b97e-0e02441cae60"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "responses": [
          {
            "id": "0",
            "status": 200,
            "body": {
              "tables": [
                {
                  "name": "PrimaryResult",
                  "columns": [
                    {
                      "name": "TimeGenerated",
                      "type": "datetime"
                    }
                  ],
                  "rows": [
                    [
                      "2021-05-03T00:00:00Z"
                    ],
                    [
                      "2021-05-05T00:00:00Z"
                    ],
                    [
                      "2021-05-08T00:00:00Z"
                    ]
                  ]
                }
              ]
            }
          },
          {
            "id": "1",
            "status": 200,
            "body": {
              "tables": [
                {
                  "name": "PrimaryResult",
                  "columns": [
                    {
                      "name": "TimeGenerated",
                      "type": "datetime"
                    }
                  ],
                  "rows": [
                    [
                      "2021-05-05T00:00:00Z"
                    ],
                    [
                      "2021-05-08T00:00:00Z"
                    ]
                  ]
                }
              ]
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-05-13T14:57:53.3784180-07:00",
    "LOGS_ENDPOINT": "https://api.loganalytics.io",
    "RandomSeed": "1342496839",
    "WORKSPACE_ID": "50e32c19-2b4b-4152-b97e-0e02441cae60"
  }
}