{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/e7bf7412-576d-4978-b47c-2edf669e3e2a/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Prefer": "wait=1"
      },
      "RequestBody": {
        "query": "range x from 1 to 100000003440 step 1 | count",
        "timespan": "2021-05-31T00:00:00.0000000Z/P7D"
      },
      "StatusCode": 504,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Preference-Applied": "wait=1"
      },
      "ResponseBody": {
        "error": {
          "message": "Gateway timeout",
          "code": "GatewayTimeout",
          "correlationId": "da562afe-cb60-4db0-9775-2267f857a871",
          "innererror": {
            "code": "GatewayTimeout",
            "message": "Kusto query timed out"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/e7bf7412-576d-4978-b47c-2edf669e3e2a/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Prefer": "wait=1"
      },
      "RequestBody": {
        "query": "range x from 1 to 100000003440 step 1 | count",
        "timespan": "2021-05-31T00:00:00.0000000Z/P7D"
      },
      "StatusCode": 504,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Preference-Applied": "wait=1"
      },
      "ResponseBody": {
        "error": {
          "message": "Gateway timeout",
          "code": "GatewayTimeout",
          "correlationId": "91e558a9-25b3-4ea1-93da-3dbafc885858",
          "innererror": {
            "code": "GatewayTimeout",
            "message": "Kusto query timed out"
          }
        }
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-06-07T09:39:46.9629131-07:00",
    "LOGS_ENDPOINT": "https://api.loganalytics.io",
    "RandomSeed": "253792280",
    "SECONDARY_WORKSPACE_ID": "4f6289fe-fa1f-4e57-86ee-42a1a09a5856",
    "SECONDARY_WORKSPACE_KEY": "Kg==",
    "WORKSPACE_ID": "e7bf7412-576d-4978-b47c-2edf669e3e2a",
    "WORKSPACE_KEY": "Kg=="
  }
}