{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/e7bf7412-576d-4978-b47c-2edf669e3e2a/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Prefer": "wait=1"
      },
      "RequestBody": {
        "query": "range x from 1 to 100000004898 step 1 | count",
        "timespan": "2021-05-31T00:00:00.0000000Z/P7D"
      },
      "StatusCode": 504,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Preference-Applied": "wait=1"
      },
      "ResponseBody": {
        "error": {
          "message": "Gateway timeout",
          "code": "GatewayTimeout",
          "correlationId": "b7f96610-c1dc-472a-8171-4f37be236e1b",
          "innererror": {
            "code": "GatewayTimeout",
            "message": "Kusto query timed out"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/e7bf7412-576d-4978-b47c-2edf669e3e2a/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Prefer": "wait=1"
      },
      "RequestBody": {
        "query": "range x from 1 to 100000004898 step 1 | count",
        "timespan": "2021-05-31T00:00:00.0000000Z/P7D"
      },
      "StatusCode": 504,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Preference-Applied": "wait=1"
      },
      "ResponseBody": {
        "error": {
          "message": "Gateway timeout",
          "code": "GatewayTimeout",
          "correlationId": "826e8a0a-68f4-4e27-aa14-cc71250f2771",
          "innererror": {
            "code": "GatewayTimeout",
            "message": "Kusto query timed out"
          }
        }
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-06-07T09:40:00.4185754-07:00",
    "LOGS_ENDPOINT": "https://api.loganalytics.io",
    "RandomSeed": "429621551",
    "WORKSPACE_ID": "e7bf7412-576d-4978-b47c-2edf669e3e2a"
  }
}