{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/314be15c-6065-462b-a0dc-8fe1213796f2/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Prefer": "wait=1"
      },
      "RequestBody": {
        "query": "range x from 1 to 100000003003 step 1 | count",
        "timespan": "2023-02-28T00:00:00.0000000Z/P15D"
      },
      "StatusCode": 504,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Preference-Applied": "wait=1"
      },
      "ResponseBody": {
        "error": {
          "message": "Gateway timeout",
          "code": "GatewayTimeout",
          "correlationId": "195a923c-c445-4ba5-a6f4-726cb7d817d8",
          "innererror": {
            "code": "GatewayTimeout",
            "message": "ADX query timed out"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/314be15c-6065-462b-a0dc-8fe1213796f2/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Prefer": "wait=1"
      },
      "RequestBody": {
        "query": "range x from 1 to 100000003003 step 1 | count",
        "timespan": "2023-02-28T00:00:00.0000000Z/P15D"
      },
      "StatusCode": 504,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Preference-Applied": "wait=1"
      },
      "ResponseBody": {
        "error": {
          "message": "Gateway timeout",
          "code": "GatewayTimeout",
          "correlationId": "e8f3454c-adc5-41c0-ac9a-99932bbd7e26",
          "innererror": {
            "code": "GatewayTimeout",
            "message": "ADX query timed out"
          }
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DateTimeOffsetNow": "2023-03-14T15:25:09.8567499-07:00",
    "LOGS_ENDPOINT": "https://api.loganalytics.io",
    "RandomSeed": "139558650",
    "WORKSPACE_ID": "314be15c-6065-462b-a0dc-8fe1213796f2"
  }
}
