{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "requests": [
          {
            "id": "0",
            "body": {
              "query": "this won\u0027t work",
              "timespan": "2023-02-28T00:00:00.0000000Z/P15D"
            },
            "path": "/query",
            "method": "POST",
            "workspace": "314be15c-6065-462b-a0dc-8fe1213796f2"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "responses": [
          {
            "id": "0",
            "status": 400,
            "body": {
              "error": {
                "message": "The request had some invalid properties",
                "code": "BadArgumentError",
                "correlationId": "fec9f234-48bb-49ec-adcc-d0954f145d0c",
                "innererror": {
                  "code": "SyntaxError",
                  "message": "Request is invalid and cannot be processed: Syntax error: SYN0001: I could not parse that, sorry. [line:position=0:0]"
                }
              }
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DateTimeOffsetNow": "2023-03-14T14:53:42.4715613-07:00",
    "LOGS_ENDPOINT": "https://api.loganalytics.io",
    "RandomSeed": "1261902936",
    "WORKSPACE_ID": "314be15c-6065-462b-a0dc-8fe1213796f2"
  }
}
