{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/97fa26b5-39ef-45ce-8f17-e4359d0d2730/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "set truncationmaxrecords=1; datatable (s: string) [\u0027a\u0027, \u0027b\u0027]",
        "timespan": "2021-09-06T00:00:00.0000000Z/P7D"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "s",
                "type": "string"
              }
            ],
            "rows": [
              [
                "a"
              ]
            ]
          }
        ],
        "error": {
          "code": "PartialError",
          "message": "There were some errors when processing your query.",
          "details": [
            {
              "code": "EngineError",
              "message": "Something went wrong processing your query on the server.",
              "innererror": {
                "code": "-2133196797",
                "message": "Query result set has exceeded the internal record count limit 1 (E_QUERY_RESULT_SET_TOO_LARGE; see https://aka.ms/kustoquerylimits)",
                "severity": 2,
                "severityName": "Error"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-09-14T17:03:09.8586316-07:00",
    "LOGS_ENDPOINT": "https://api.loganalytics.io",
    "RandomSeed": "1164869739",
    "WORKSPACE_ID": "97fa26b5-39ef-45ce-8f17-e4359d0d2730"
  }
}