{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/1a0ed2b2-8f83-4b6c-b1da-01f912436358/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "set truncationmaxrecords=1; datatable (s: string) [\u0027a\u0027, \u0027b\u0027]",
        "timespan": "2023-02-20T00:00:00.0000000Z/P14D"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "s",
                "type": "string"
              }
            ],
            "rows": [
              [
                "a"
              ]
            ]
          }
        ],
        "error": {
          "code": "PartialError",
          "message": "There were some errors when processing your query.",
          "details": [
            {
              "code": "EngineError",
              "message": "Something went wrong processing your query on the server.",
              "innererror": {
                "code": "-2133196797",
                "message": "The results of this query exceed the set limit of 1 records, so not all records were returned (E_QUERY_RESULT_SET_TOO_LARGE, 0x80DA0003). See https://aka.ms/kustoquerylimits for more information and possible solutions.",
                "severity": 2,
                "severityName": "Error"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DateTimeOffsetNow": "2023-03-08T14:50:52.0071113-08:00",
    "LOGS_ENDPOINT": "https://api.loganalytics.io",
    "RandomSeed": "1845120083",
    "WORKSPACE_ID": "1a0ed2b2-8f83-4b6c-b1da-01f912436358"
  }
}
