{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/314be15c-6065-462b-a0dc-8fe1213796f2/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "print real(nan), real(\u002Binf), real(-inf), real(null), real(123)",
        "timespan": "PT1M"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "print_0",
                "type": "real"
              },
              {
                "name": "print_1",
                "type": "real"
              },
              {
                "name": "print_2",
                "type": "real"
              },
              {
                "name": "print_3",
                "type": "real"
              },
              {
                "name": "print_4",
                "type": "real"
              }
            ],
            "rows": [
              [
                "NaN",
                "Infinity",
                "-Infinity",
                null,
                123
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DateTimeOffsetNow": "2023-03-14T14:53:44.0592579-07:00",
    "LOGS_ENDPOINT": "https://api.loganalytics.io",
    "RandomSeed": "2093292190",
    "WORKSPACE_ID": "314be15c-6065-462b-a0dc-8fe1213796f2"
  }
}
