{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/8dc700b5-3709-41b5-9958-a1c52bb46555/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Prefer": "wait=600"
      },
      "RequestBody": {
        "query": "print real(nan), real(\u002Binf), real(-inf), real(null), real(123)",
        "timespan": "P1D"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "print_0",
                "type": "real"
              },
              {
                "name": "print_1",
                "type": "real"
              },
              {
                "name": "print_2",
                "type": "real"
              },
              {
                "name": "print_3",
                "type": "real"
              },
              {
                "name": "print_4",
                "type": "real"
              }
            ],
            "rows": [
              [
                "NaN",
                "Infinity",
                "-Infinity",
                null,
                123
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-11-02T16:43:16.4681419-07:00",
    "LOGS_ENDPOINT": "https://api.loganalytics.io",
    "RandomSeed": "1229166509",
    "WORKSPACE_ID": "8dc700b5-3709-41b5-9958-a1c52bb46555"
  }
}