{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11267"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-5985?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "864"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-5985",
        "name": "testRG-5985",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11266"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network",
        "namespace": "Microsoft.Network",
        "authorizations": [
          {
            "applicationId": "2cf9eb86-36b5-49dc-86ae-9a63135dfa8c",
            "roleDefinitionId": "13ba9ab4-19f0-4804-adc4-14ece36cc7a1"
          },
          {
            "applicationId": "7c33bfcb-8d33-48d6-8e60-dc6404003489",
            "roleDefinitionId": "ad6261e4-fa9a-4642-aa5f-104f1b67e9e3"
          },
          {
            "applicationId": "1e3e4475-288f-4018-a376-df66fd7fac5f",
            "roleDefinitionId": "1d538b69-3d87-4e56-8ff8-25786fd48261"
          },
          {
            "applicationId": "a0be0c72-870e-46f0-9c49-c98333a996f7",
            "roleDefinitionId": "7ce[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-5985/providers/Microsoft.Network/virtualNetworks/testVNet-7428?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "testSubnet-74",
              "properties": {
                "addressPrefix": "10.0.2.0/24"
              }
            }
          ]
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncnotification": "Enabled",
        "azure-asyncoperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/eastus/operations/eefc9453-a1cf-4c23-ab2b-296d2bf9096b?api-version=2022-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "863"
      },
      "ResponseBody": {
        "name": "testVNet-7428",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-5985/providers/Microsoft.Network/virtualNetworks/testVNet-7428",
        "etag": "W/\u0022224cd269-aae2-4e9f-9f48-5155fa9b0003\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "98e324aa-4b36-4893-9da7-9c83730e15b3",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "testSubnet-74",
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-5985/providers/Microsoft.Network/virtualNetworks/testVNet-7428/subnets/testSubnet-74",
              "etag": "W/\u0022224cd269-aae2-4e9f-9f48-5155fa9b0003\u0022",
              "properties": {
                "provisioningState": "Updating",
                "addressPrefix": "10.0.2.0/24",
                "delegations": [],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/eastus/operations/eefc9453-a1cf-4c23-ab2b-296d2bf9096b?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11265"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-5985/providers/Microsoft.Network/virtualNetworks/testVNet-7428?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022b50bbfb5-cc67-42a2-adac-a28940c50a65\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11263"
      },
      "ResponseBody": {
        "name": "testVNet-7428",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-5985/providers/Microsoft.Network/virtualNetworks/testVNet-7428",
        "etag": "W/\u0022b50bbfb5-cc67-42a2-adac-a28940c50a65\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus",
        "[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-5985/providers/Microsoft.Network/networkInterfaces/testNic-6784?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "ipConfigurations": [
            {
              "name": "internal",
              "properties": {
                "subnet": {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-5985/providers/Microsoft.Network/virtualNetworks/testVNet-7428/subnets/testSubnet-74"
                }
              }
            }
          ]
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncnotification": "Enabled",
        "azure-asyncoperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2e[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-5985/providers/Microsoft.Compute/virtualMachines/testVM-9391?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "hardwareProfile": {
            "vmSize": "Standard_F2"
          },
          "storageProfile": {
            "imageReference": {
              "publisher": "Canonical",
              "offer": "UbuntuServer",
              "sku": "16.04-LTS",
              "version": "latest"
            },
            "osDisk": {
              "osType": "Linux",
              "caching": "ReadWrite",
              "createOption": "FromImage",
              "managedDisk": {
                "storageAccountType": "Standard_LRS"
              }
            }
          },
          "osProfile": {
            "computerName": "testVM-9391",
            "adminUsername": "adminuser",
            "linuxConfiguration": {
              "disablePasswordAuthentication": true,
              "ssh": {
                "publicKeys": [
                  {
                    "path": "/home/adminuser/.ssh/authorized_keys",
                    "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC\u002BwWK73dCr\u002BjgQOAxNsHAnNNNMEMWOHYEccp6wJm2gotpr9katuF/ZAdou5AaW1C61slRkHRkpRRX9FA9CYBiitZgvCCz\u002B3nWNN7l/Up54Zps/pHWGZLHNJZRYyAB6j5yVLMVHIHriY49d/GZTZVNB8GoJv9Gakwc/fuEZYYl4YDFiGMBP///TzlI4jhiJzjKnEvqPFki5p2ZRJqcbCiF4pJrxUQR/RXqVFQdbRLZgYfJ8xGB878RENq3yQ39d8dVOkq4edbkzwcUmwwwkYVPIoDGsYLaRHnG\u002BTo7FvMeyO7xDVQkMKzopTQV8AuKpyvpqu0a9pWOMaiCyDytO7GGN you@me.com"
                  }
                ]
              }
            }
          },
          "networkProfile": {
            "networkInterfaces": [
              {
                "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-5985/providers/Microsoft.Network/networkInterfaces/testNic-6784",
                "properties": {
                  "primary": true
                }
              }
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/eastus/operations/8c11a3b3-3c1c-4492-8f69-23a564afb5d9?p=6a5473bf-f845-44a5-b675-411600120563\u0026api-version=2022-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/PutVM3Min;237,Microsoft.Compute/PutVM30Min;1187",
        "x-ms-ratelimit-remaining-subscription-writes": "859"
      },
      "ResponseBody": {
        "name": "testVM-9391",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-5985/providers/Microsoft.Compute/virtualMachines/testVM-9391",
        "type": "Microsoft.Compute/virtualMachines",
        "location": "eastus",
        "tags": {
          "azsecpack": "nonprod",
          "platformsettings.host_environment.service.platform_optedin_for_rootcerts": "true"
        },
        "properties": {
          "vmId": "1b425c80-6582-4ab5-85d2-74b47a86fd24",
          "hardwareProfile": {
            "vmSize": "Standard_F2"
          },
          "storageProfile": {
            "imageReference": {
              "publisher": "Canonical",
              "offer": "UbuntuServer",
              "sku": "16.04-LTS",
              "version": "latest",
              "exactVersion": "16.04.202109280"
            },
            "osDisk": {
              "osType": "Linux",
              "createOption": "FromImage",
              "caching": "ReadWrite",
              "managedDisk": {
                "storageAccountType": "Standard_LRS"
              },
              "deleteOption": "Detach",
              "diskSizeGB": 30
            },
            "dataDisks": []
          },
          "osProfile": {
            "computerName": "testVM-9391",
            "adminUsername": "adminuser",
            "linuxConfiguration": {
              "disablePasswordAuthentication": true,
              "ssh": {
                "publicKeys": [
                  {
                    "path": "/home/adminuser/.ssh/authorized_keys",
                    "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC\u002BwWK73dCr\u002BjgQOAxNsHAnNNNMEMWOHYEccp6wJm2gotpr9katuF/ZAdou5AaW1C61slRkHRkpRRX9FA9CYBiitZgvCCz\u002B3nWNN7l/Up54Zps/pHWGZLHNJZRYyAB6j5yVLMVHIHriY49d/GZTZVNB8GoJv9Gakwc/fuEZYYl4YDFiGMBP///TzlI4jhiJzjKnEvqPFki5p2ZRJqcbCiF4pJrxUQR/RXqVFQdbRLZgYfJ8xGB878RENq3yQ39d8dVOkq4edbkzwcUmwwwkYVPIoDGsYLaRHnG\u002BTo7FvMeyO7xDVQkMKzopTQV8AuKpyvpqu0a9pWOMaiCyDytO7GGN you@me.com"
                  }
                ]
              },
              "provisionVMAgent": true,
              "patchSettings": {
                "patchMode": "ImageDefault",
                "assessmentMode": "ImageDefault"
              },
              "enableVMAgentPlatformUpdates": false
            },
            "secrets": [],
            "allowExtensionOperations": true,
            "requireGuestProvisionSignal": true
          },
          "networkProfile": {
            "networkInterfaces": [
              {
                "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-5985/providers/Microsoft.Network/networkInterfaces/testNic-6784",
                "properties": {
                  "primary": true
                }
              }
            ]
          },
          "provisioningState": "Creating",
          "timeCreated": "2022-09-30T02:51:23.1660272\u002B00:00"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/eastus/operations/8c11a3b3-3c1c-4492-8f69-23a564afb5d9?p=6a5473bf-f845-44a5-b675-411600120563\u0026api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "35",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;14983,Microsoft.Compute/GetOperation30Min;29886",
        "x-ms-ratelimit-remaining-subscription-reads": "11256"
      },
      "ResponseBody": {
        "startTime": "2022-09-30T02:51:21.0253652\u002B00:00",
        "status": "InProgress",
        "name": "8c11a3b3-3c1c-4492-8f69-23a564afb5d9"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/eastus/operations/8c11a3b3-3c1c-4492-8f69-23a564afb5d9?p=6a5473bf-f845-44a5-b675-411600120563\u0026api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;14976,Microsoft.Compute/GetOperation30Min;29876",
        "x-ms-ratelimit-remaining-subscription-reads": "11250"
      },
      "ResponseBody": {
        "startTime": "2022-09-30T02:51:21.0253652\u002B00:00",
        "endTime": "2022-09-30T02:52:12.8225895\u002B00:00",
        "status": "Succeeded",
        "name": "8c11a3b3-3c1c-4492-8f69-23a564afb5d9"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/virtualMachines?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "810f6e25-cff1-48cf-ba0c-4dcf9d56328b",
          "3c3d1eaa-a91b-4af6-a8f9-b5a141751796",
          "d9df2dc7-9e45-4c3a-83e4-66b026a1e307"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11240"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "testVM-9391",
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/TESTRG-5985/providers/Microsoft.Compute/virtualMachines/testVM-9391",
            "type": "Microsoft.Compute/virtualMachines",
            "location": "eastus",
            "tags": {
              "azsecpack": "nonprod",
              "platformsettings.host_environment.service.platform_optedin_for_rootcerts": "true"
            },
            "properties": {
   [...]
