{
  "Entries": [
    {
      "RequestUri": "https://pakrymappconfiguration-azconfig-net.azconfig.io/kv/key-666836216?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Y3Prjd5Nqa4DGpQuo1FQPNbLG6x\u0022",
        "Last-Modified": "Mon, 08 Feb 2021 19:13:50 GMT",
        "Sync-Token": "zAJw6V16=MDozIzY4NzEzNjg=;sn=6871368",
        "x-ms-tenant-name": "pakrymappconfiguration-azconfig-net"
      },
      "ResponseBody": {
        "etag": "Y3Prjd5Nqa4DGpQuo1FQPNbLG6x",
        "key": "key-666836216",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2021-02-08T19:13:50\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://pakrymappconfiguration-azconfig-net.azconfig.io/kv/key-666836216?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=MDozIzY4NzEzNjg=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Y3Prjd5Nqa4DGpQuo1FQPNbLG6x\u0022",
        "Last-Modified": "Mon, 08 Feb 2021 19:13:50 GMT",
        "Sync-Token": "zAJw6V16=MDozIzY4NzEzNjk=;sn=6871369",
        "x-ms-tenant-name": "pakrymappconfiguration-azconfig-net"
      },
      "ResponseBody": {
        "etag": "Y3Prjd5Nqa4DGpQuo1FQPNbLG6x",
        "key": "key-666836216",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2021-02-08T19:13:50\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://pakrymappconfiguration-azconfig-net.azconfig.io;Id=HJQj-l2-s0:y/nolwTrxZa9soWjduE/;Secret=Kg==",
    "RandomSeed": "1138301469"
  }
}