{
  "Entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1530528738?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "aDaoGrnXeLk4BtC\u002BbcUBHjAOl1G533H6XGiHrRY9PKA="
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022dl8lxEdIJrheesNqteAtOTyEBa1\u0022",
        "Last-Modified": "Fri, 15 Nov 2019 16:11:43 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM4MTkxOTc=;sn=819197"
      },
      "ResponseBody": {
        "etag": "dl8lxEdIJrheesNqteAtOTyEBa1",
        "key": "key-1530528738",
        "label": null,
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2019-11-15T16:11:43\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1530528738?api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM4MTkxOTc=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022dl8lxEdIJrheesNqteAtOTyEBa1\u0022",
        "Last-Modified": "Fri, 15 Nov 2019 16:11:43 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM4MTkxOTg=;sn=819198"
      },
      "ResponseBody": {
        "etag": "dl8lxEdIJrheesNqteAtOTyEBa1",
        "key": "key-1530528738",
        "label": null,
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2019-11-15T16:11:43\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002BFOYz;Secret=;",
    "RandomSeed": "823130362"
  }
}