{
  "Entries": [
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/kv/key-1371587881?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "aDaoGrnXeLk4BtC\u002BbcUBHjAOl1G533H6XGiHrRY9PKA="
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022r81owjkhjdEgXnd_7X1LmYYBzuKCQNVTaQ1Q3Sqh4Co\u0022",
        "Last-Modified": "Fri, 19 Aug 2022 00:56:56 GMT",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3NjY2;sn=9207666"
      },
      "ResponseBody": {
        "etag": "r81owjkhjdEgXnd_7X1LmYYBzuKCQNVTaQ1Q3Sqh4Co",
        "key": "key-1371587881",
        "label": null,
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2022-08-19T00:56:56\u002B00:00"
      }
    },
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/kv/key-1371587881?api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3NjY2",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022r81owjkhjdEgXnd_7X1LmYYBzuKCQNVTaQ1Q3Sqh4Co\u0022",
        "Last-Modified": "Fri, 19 Aug 2022 00:56:56 GMT",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3NjY3;sn=9207667"
      },
      "ResponseBody": {
        "etag": "r81owjkhjdEgXnd_7X1LmYYBzuKCQNVTaQ1Q3Sqh4Co",
        "key": "key-1371587881",
        "label": null,
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2022-08-19T00:56:56\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io;Id=FDfK-l2-s0:mngxQOl8i8oeTC1tVysQ;Secret=Kg==",
    "RandomSeed": "1997268401"
  }
}
