{
  "Entries": [
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/key-798656318?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "aDaoGrnXeLk4BtC\u002BbcUBHjAOl1G533H6XGiHrRY9PKA="
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022VOzIiwO7CFVNw4DPK12bDwBULZ24LBVk33zFJ9qu-jk\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:25:29 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM0NDg=;sn=1293448"
      },
      "ResponseBody": {
        "etag": "VOzIiwO7CFVNw4DPK12bDwBULZ24LBVk33zFJ9qu-jk",
        "key": "key-798656318",
        "label": null,
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-01-31T20:25:29\u002B00:00"
      }
    },
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/key-798656318?api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM0NDg=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022VOzIiwO7CFVNw4DPK12bDwBULZ24LBVk33zFJ9qu-jk\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:25:29 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM0NDk=;sn=1293449"
      },
      "ResponseBody": {
        "etag": "VOzIiwO7CFVNw4DPK12bDwBULZ24LBVk33zFJ9qu-jk",
        "key": "key-798656318",
        "label": null,
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-01-31T20:25:29\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://shrejaappconfiguration-azconfig-net.azconfig.io;Id=RoMR-l1-s0:NgGvLRBi23WLJ6PQ6mcy;Secret=Kg==",
    "RandomSeed": "1292802384"
  }
}
