{
  "Entries": [
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/kv/key-411559220?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "aDaoGrnXeLk4BtC\u002BbcUBHjAOl1G533H6XGiHrRY9PKA="
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022CDdNRyGNhBQ7CNEVJ207Xoq4-CAwq8xfL79exWbb1WQ\u0022",
        "Last-Modified": "Fri, 19 Aug 2022 01:01:12 GMT",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3Nzg0;sn=9207784"
      },
      "ResponseBody": {
        "etag": "CDdNRyGNhBQ7CNEVJ207Xoq4-CAwq8xfL79exWbb1WQ",
        "key": "key-411559220",
        "label": null,
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2022-08-19T01:01:12\u002B00:00"
      }
    },
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/kv/key-411559220?api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3Nzg0",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022CDdNRyGNhBQ7CNEVJ207Xoq4-CAwq8xfL79exWbb1WQ\u0022",
        "Last-Modified": "Fri, 19 Aug 2022 01:01:12 GMT",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3Nzg1;sn=9207785"
      },
      "ResponseBody": {
        "etag": "CDdNRyGNhBQ7CNEVJ207Xoq4-CAwq8xfL79exWbb1WQ",
        "key": "key-411559220",
        "label": null,
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2022-08-19T01:01:12\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io;Id=FDfK-l2-s0:mngxQOl8i8oeTC1tVysQ;Secret=Kg==",
    "RandomSeed": "475939930"
  }
}
