{
  "Entries": [
    {
      "RequestUri": "https://pakrymappconfiguration-azconfig-net.azconfig.io/kv/key-954193548?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00222ov8Erpw7Ps0fukzTzF6QMGut4A\u0022",
        "Last-Modified": "Mon, 08 Feb 2021 19:13:51 GMT",
        "Sync-Token": "zAJw6V16=MDozIzY4NzEzNzY=;sn=6871376",
        "x-ms-tenant-name": "pakrymappconfiguration-azconfig-net"
      },
      "ResponseBody": {
        "etag": "2ov8Erpw7Ps0fukzTzF6QMGut4A",
        "key": "key-954193548",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2021-02-08T19:13:51\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrymappconfiguration-azconfig-net.azconfig.io/kv/key-954193548?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=MDozIzY4NzEzNzY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00222ov8Erpw7Ps0fukzTzF6QMGut4A\u0022",
        "Last-Modified": "Mon, 08 Feb 2021 19:13:51 GMT",
        "Sync-Token": "zAJw6V16=MDozIzY4NzEzNzc=;sn=6871377",
        "x-ms-tenant-name": "pakrymappconfiguration-azconfig-net"
      },
      "ResponseBody": {
        "etag": "2ov8Erpw7Ps0fukzTzF6QMGut4A",
        "key": "key-954193548",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2021-02-08T19:13:51\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://pakrymappconfiguration-azconfig-net.azconfig.io",
    "RandomSeed": "625079903"
  }
}