{
  "Entries": [
    {
      "RequestUri": "https://endpoint.azconfig.io/kv/key-1929679324?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Dh6F7XnhV4kcwimviyXmgrdSqK9\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 18:11:56 GMT",
        "Sync-Token": "zAJw6V16=ODo0IzIzMzYwMTcjMT0tMQ==;sn=2336017"
      },
      "ResponseBody": {
        "etag": "Dh6F7XnhV4kcwimviyXmgrdSqK9",
        "key": "key-1929679324",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2020-09-21T18:11:56\u002B00:00"
      }
    },
    {
      "RequestUri": "https://endpoint.azconfig.io/kv/key-1929679324?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo0IzIzMzYwMTcjMT0tMQ==",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Dh6F7XnhV4kcwimviyXmgrdSqK9\u0022",
        "Last-Modified": "Mon, 21 Sep 2020 18:11:56 GMT",
        "Sync-Token": "zAJw6V16=ODo0IzIzMzYwMTgjMT0tMQ==;sn=2336018"
      },
      "ResponseBody": {
        "etag": "Dh6F7XnhV4kcwimviyXmgrdSqK9",
        "key": "key-1929679324",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2020-09-21T18:11:56\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://endpoint.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002BFOYz;Secret=;",
    "RandomSeed": "78656074"
  }
}
