{
  "Entries": [
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/key-1508395981?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022N0I_tcXp8ABYyBh10PeE3ltWGXX4JKs-gXINIoj8bdg\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:24:08 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTMyNjg=;sn=1293268"
      },
      "ResponseBody": {
        "etag": "N0I_tcXp8ABYyBh10PeE3ltWGXX4JKs-gXINIoj8bdg",
        "key": "key-1508395981",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-01-31T20:24:08\u002B00:00"
      }
    },
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/key-1508395981?api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTMyNjg=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022N0I_tcXp8ABYyBh10PeE3ltWGXX4JKs-gXINIoj8bdg\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:24:08 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTMyNjk=;sn=1293269"
      },
      "ResponseBody": {
        "etag": "N0I_tcXp8ABYyBh10PeE3ltWGXX4JKs-gXINIoj8bdg",
        "key": "key-1508395981",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-01-31T20:24:08\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://shrejaappconfiguration-azconfig-net.azconfig.io;Id=RoMR-l1-s0:NgGvLRBi23WLJ6PQ6mcy;Secret=Kg==",
    "RandomSeed": "429543925"
  }
}
