{
  "Entries": [
    {
      "RequestUri": "https://pakrymappconfiguration-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%201179169811?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "h3OBEI7rk4qcgIJymlxpRoh/qNeJMHydSnkz06Rvb8I="
      },
      "RequestBody": {
        "value": "{\u0022id\u0022:\u0022feature 1179169811\u0022,\u0022enabled\u0022:true,\u0022conditions\u0022:{}}",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ehG5s73XtzdjROMYKkVYWq4R2RL\u0022",
        "Last-Modified": "Mon, 08 Feb 2021 19:13:15 GMT",
        "Sync-Token": "zAJw6V16=MDozIzY4NzExODg=;sn=6871188",
        "x-ms-tenant-name": "pakrymappconfiguration-azconfig-net"
      },
      "ResponseBody": {
        "etag": "ehG5s73XtzdjROMYKkVYWq4R2RL",
        "key": ".appconfig.featureflag/feature 1179169811",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value": "{\u0022id\u0022:\u0022feature 1179169811\u0022,\u0022enabled\u0022:true,\u0022conditions\u0022:{}}",
        "tags": {},
        "locked": false,
        "last_modified": "2021-02-08T19:13:15\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrymappconfiguration-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%201179169811?api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=MDozIzY4NzExODg=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ehG5s73XtzdjROMYKkVYWq4R2RL\u0022",
        "Last-Modified": "Mon, 08 Feb 2021 19:13:15 GMT",
        "Sync-Token": "zAJw6V16=MDozIzY4NzExODk=;sn=6871189",
        "x-ms-tenant-name": "pakrymappconfiguration-azconfig-net"
      },
      "ResponseBody": {
        "etag": "ehG5s73XtzdjROMYKkVYWq4R2RL",
        "key": ".appconfig.featureflag/feature 1179169811",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value": "{\u0022id\u0022:\u0022feature 1179169811\u0022,\u0022enabled\u0022:true,\u0022conditions\u0022:{}}",
        "tags": {},
        "locked": false,
        "last_modified": "2021-02-08T19:13:15\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://pakrymappconfiguration-azconfig-net.azconfig.io;Id=HJQj-l2-s0:y/nolwTrxZa9soWjduE/;Secret=Kg==",
    "RandomSeed": "1668304245"
  }
}