{
  "Entries": [
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/secret1186843957?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "BmuolBVkkINubbicejqM2nGMxRfAI11qltN8GaA/nas="
      },
      "RequestBody": {
        "value": "{\u0022uri\u0022:\u0022http://secret1.com/\u0022}",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022aAxMAvdG1PkMANiQ4zRDPA_K461chZwItr1HN1_lft4\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:25:38 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM0Njg=;sn=1293468"
      },
      "ResponseBody": {
        "etag": "aAxMAvdG1PkMANiQ4zRDPA_K461chZwItr1HN1_lft4",
        "key": "secret1186843957",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022http://secret1.com/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-01-31T20:25:38\u002B00:00"
      }
    },
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/secret1186843957?api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM0Njg=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022aAxMAvdG1PkMANiQ4zRDPA_K461chZwItr1HN1_lft4\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:25:38 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM0Njk=;sn=1293469"
      },
      "ResponseBody": {
        "etag": "aAxMAvdG1PkMANiQ4zRDPA_K461chZwItr1HN1_lft4",
        "key": "secret1186843957",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022http://secret1.com/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-01-31T20:25:38\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://shrejaappconfiguration-azconfig-net.azconfig.io;Id=RoMR-l1-s0:NgGvLRBi23WLJ6PQ6mcy;Secret=Kg==",
    "RandomSeed": "1690594433"
  }
}
