{
  "Entries": [
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%201306740339?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "ZySNVE1R/QBXwdBsoJzI8fkLpkQR8hfu17Qn9lv6d0k="
      },
      "RequestBody": {
        "value": "{\u0022id\u0022:\u0022feature 1306740339\u0022,\u0022description\u0022:\u0022Feature description\u0022,\u0022display_name\u0022:\u0022Feature display name\u0022,\u0022enabled\u0022:true,\u0022conditions\u0022:{\u0022client_filters\u0022:[{\u0022name\u0022:\u0022FilterA\u0022,\u0022parameters\u0022:{}},{\u0022name\u0022:\u0022Microsoft.TimeWindow\u0022,\u0022parameters\u0022:{\u0022Start\u0022:\u0022Wed, 01 May 2019 13:59:59 GMT\u0022,\u0022End\u0022:\u0022Mon, 01 July 2019 00:00:00 GMT\u0022}}]}}",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Xw8kFsc-oaEk_nXNPXOWkAaCE6de_zAgyLgPiI0k-AY\u0022",
        "Last-Modified": "Fri, 19 Aug 2022 01:01:17 GMT",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3ODE2;sn=9207816"
      },
      "ResponseBody": {
        "etag": "Xw8kFsc-oaEk_nXNPXOWkAaCE6de_zAgyLgPiI0k-AY",
        "key": ".appconfig.featureflag/feature 1306740339",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value": "{\u0022id\u0022:\u0022feature 1306740339\u0022,\u0022description\u0022:\u0022Feature description\u0022,\u0022display_name\u0022:\u0022Feature display name\u0022,\u0022enabled\u0022:true,\u0022conditions\u0022:{\u0022client_filters\u0022:[{\u0022name\u0022:\u0022FilterA\u0022,\u0022parameters\u0022:{}},{\u0022name\u0022:\u0022Microsoft.TimeWindow\u0022,\u0022parameters\u0022:{\u0022Start\u0022:\u0022Wed, 01 May 2019 13:59:59 GMT\u0022,\u0022End\u0022:\u0022Mon, 01 July 2019 00:00:00 GMT\u0022}}]}}",
        "tags": {},
        "locked": false,
        "last_modified": "2022-08-19T01:01:17\u002B00:00"
      }
    },
[...]
