{
  "Entries": [
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%2011626311529?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "O4pcu5gSy9\u002B7csbwTtw18S96/\u002BHSz9AzKlGjiDkkLos="
      },
      "RequestBody": {
        "value": "{\u0022id\u0022:\u0022feature 11626311529\u0022,\u0022enabled\u0022:true,\u0022conditions\u0022:{}}",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022zLCFLnrAmj9fnGog7tv6VZSn9rwaug0xBJgGpmM6WI8\u0022",
        "Last-Modified": "Fri, 19 Aug 2022 01:01:15 GMT",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3ODAy;sn=9207802"
      },
      "ResponseBody": {
        "etag": "zLCFLnrAmj9fnGog7tv6VZSn9rwaug0xBJgGpmM6WI8",
        "key": ".appconfig.featureflag/feature 11626311529",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value": "{\u0022id\u0022:\u0022feature 11626311529\u0022,\u0022enabled\u0022:true,\u0022conditions\u0022:{}}",
        "tags": {},
        "locked": false,
        "last_modified": "2022-08-19T01:01:15\u002B00:00"
      }
    },
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%2011626311529?api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3ODAy",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022zLCFLnrAmj9fnGog7tv6VZSn9rwaug0xBJgGpmM6WI8\u0022",
        "Last-Modified": "Fri, 19 Aug 2022 01:01:15 GMT",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3ODAz;sn=9207803"
      },
      "ResponseBody": {
        "etag": "zLCFLnrAmj9fnGog7tv6VZSn9rwaug0xBJgGpmM6WI8",
        "key": ".appconfig.featureflag/feature 11626311529",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value": "{\u0022id\u0022:\u0022feature 11626311529\u0022,\u0022enabled\u0022:true,\u0022conditions\u0022:{}}",
        "tags": {},
        "locked": false,
        "last_modified": "2022-08-19T01:01:15\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io;Id=FDfK-l2-s0:mngxQOl8i8oeTC1tVysQ;Secret=Kg==",
    "RandomSeed": "1682040805"
  }
}
