{
  "Entries": [
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/kv/secret297093776?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "BmuolBVkkINubbicejqM2nGMxRfAI11qltN8GaA/nas="
      },
      "RequestBody": {
        "value": "{\u0022uri\u0022:\u0022http://secret1.com/\u0022}",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022acA0pmRoExHjygch8A-T8h_YqBSEl-VSYyvDjJzm0ZQ\u0022",
        "Last-Modified": "Fri, 19 Aug 2022 01:01:16 GMT",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3ODE0;sn=9207814"
      },
      "ResponseBody": {
        "etag": "acA0pmRoExHjygch8A-T8h_YqBSEl-VSYyvDjJzm0ZQ",
        "key": "secret297093776",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022http://secret1.com/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2022-08-19T01:01:16\u002B00:00"
      }
    },
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/kv/secret297093776?api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3ODE0",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022acA0pmRoExHjygch8A-T8h_YqBSEl-VSYyvDjJzm0ZQ\u0022",
        "Last-Modified": "Fri, 19 Aug 2022 01:01:16 GMT",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3ODE1;sn=9207815"
      },
      "ResponseBody": {
        "etag": "acA0pmRoExHjygch8A-T8h_YqBSEl-VSYyvDjJzm0ZQ",
        "key": "secret297093776",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022http://secret1.com/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2022-08-19T01:01:16\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io;Id=FDfK-l2-s0:mngxQOl8i8oeTC1tVysQ;Secret=Kg==",
    "RandomSeed": "979465136"
  }
}
