{
  "Entries": [
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/kv/key-1726010439?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022xU48IpC0zYjS42d-JvSJ2DZAWClldGapv4ijeEhnMeQ\u0022",
        "Last-Modified": "Fri, 19 Aug 2022 01:01:34 GMT",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3OTc0;sn=9207974"
      },
      "ResponseBody": {
        "etag": "xU48IpC0zYjS42d-JvSJ2DZAWClldGapv4ijeEhnMeQ",
        "key": "key-1726010439",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2022-08-19T01:01:34\u002B00:00"
      }
    },
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/locks/key-1726010439?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022xU48IpC0zYjS42d-JvSJ2DZAWClldGapv4ijeEhnMeQ\u0022",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3OTc0",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022EwgLbKLatxALXsYjsXVqG6lbH2mYaVvCQCpsaRX0oLI\u0022",
        "Last-Modified": "Fri, 19 Aug 2022 01:01:34 GMT",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3OTc1;sn=9207975"
      },
      "ResponseBody": {
        "etag": "EwgLbKLatxALXsYjsXVqG6lbH2mYaVvCQCpsaRX0oLI",
        "key": "key-1726010439",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": true,
        "last_modified": "2022-08-19T01:01:34\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/kv/key-1726010439?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3OTc4",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022SsVz5cZfJ3P13cOm2iQGJPgovWe7LCbcJsHKuwNvpQg\u0022",
        "Last-Modified": "Fri, 19 Aug 2022 01:01:34 GMT",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3OTc5;sn=9207979"
      },
      "ResponseBody": {
        "etag": "SsVz5cZfJ3P13cOm2iQGJPgovWe7LCbcJsHKuwNvpQg",
        "key": "key-1726010439",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2022-08-19T01:01:34\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io;Id=FDfK-l2-s0:mngxQOl8i8oeTC1tVysQ;Secret=Kg==",
    "RandomSeed": "359478356"
  }
}
