{
  "Entries": [
    {
      "RequestUri": "https://endpoint.azconfig.io/kv/key-877681402?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00222SL9Iwoy6LxKzPTQaK7KiD6KGea\u0022",
        "Last-Modified": "Fri, 11 Sep 2020 16:11:31 GMT",
        "Sync-Token": "zAJw6V16=ODo0IzIyODQxODIjMT0tMQ==;sn=2284182"
      },
      "ResponseBody": {
        "etag": "2SL9Iwoy6LxKzPTQaK7KiD6KGea",
        "key": "key-877681402",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2020-09-11T16:11:31\u002B00:00"
      }
    },
    {
      "RequestUri": "https://endpoint.azconfig.io/locks/key-877681402?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00222SL9Iwoy6LxKzPTQaK7KiD6KGea\u0022",
        "Sync-Token": "zAJw6V16=ODo0IzIyODQxODIjMT0tMQ==",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00223d7T6wuYGIx5q8QDadd2AJ15iXa\u0022",
        "Last-Modified": "Fri, 11 Sep 2020 16:11:31 GMT",
        "Sync-Token": "zAJw6V16=ODo0IzIyODQxODMjMT0tMQ==;sn=2284183"
      },
      "ResponseBody": {
        "etag": "3d7T6wuYGIx5q8QDadd2AJ15iXa",
        "key": "key-877681402",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": true,
        "last_modified": "2020-09-11T16:11:31\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://endpoint.azconfig.io/kv/key-877681402?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo0IzIyODQxODQjMT0tMQ==",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022rDidph888HORLO511X9AyVJrQta\u0022",
        "Last-Modified": "Fri, 11 Sep 2020 16:11:31 GMT",
        "Sync-Token": "zAJw6V16=ODo0IzIyODQxODUjMT0tMQ==;sn=2284185"
      },
      "ResponseBody": {
        "etag": "rDidph888HORLO511X9AyVJrQta",
        "key": "key-877681402",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2020-09-11T16:11:31\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://endpoint.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002BFOYz;Secret=;",
    "RandomSeed": "1434061722"
  }
}
