{
  "Entries": [
    {
      "RequestUri": "https://endpoint.azconfig.io/kv/key-1360318288?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022yP8u49UkjjoDIFUsi69E2EYsScp\u0022",
        "Last-Modified": "Fri, 11 Sep 2020 16:11:30 GMT",
        "Sync-Token": "zAJw6V16=ODo0IzIyODQxNzUjMT0tMQ==;sn=2284175"
      },
      "ResponseBody": {
        "etag": "yP8u49UkjjoDIFUsi69E2EYsScp",
        "key": "key-1360318288",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2020-09-11T16:11:30\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://endpoint.azconfig.io/locks/key-1360318288?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022yP8u49UkjjoDIFUsi69E2EYsScp\u0022",
        "Sync-Token": "zAJw6V16=ODo0IzIyODQxNzYjMT0tMQ==",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://endpoint.azconfig.io/kv/key-1360318288?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo0IzIyODQxNzYjMT0tMQ==",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Y5FUZnuVM5Rj7akwm3mBBjOvLNa\u0022",
        "Last-Modified": "Fri, 11 Sep 2020 16:11:30 GMT",
        "Sync-Token": "zAJw6V16=ODo0IzIyODQxNzcjMT0tMQ==;sn=2284177"
      },
      "ResponseBody": {
        "etag": "Y5FUZnuVM5Rj7akwm3mBBjOvLNa",
        "key": "key-1360318288",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2020-09-11T16:11:30\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://endpoint.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002BFOYz;Secret=;",
    "RandomSeed": "1319524407"
  }
}
