{
  "Entries": [
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/kv/key-2141872649?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022LgZO1vXg1qh1tBjyRitcoYSFTRUkXB8XdxsHMM1AzrI\u0022",
        "Last-Modified": "Fri, 19 Aug 2022 01:01:33 GMT",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3OTY0;sn=9207964"
      },
      "ResponseBody": {
        "etag": "LgZO1vXg1qh1tBjyRitcoYSFTRUkXB8XdxsHMM1AzrI",
        "key": "key-2141872649",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2022-08-19T01:01:33\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/locks/key-2141872649?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022LgZO1vXg1qh1tBjyRitcoYSFTRUkXB8XdxsHMM1AzrI\u0022",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3OTY1",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/kv/key-2141872649?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3OTY1",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022srN4UEtp4Yqx8Rf55kGwqm-zLNoMNxFgRHFPT48uRTM\u0022",
        "Last-Modified": "Fri, 19 Aug 2022 01:01:33 GMT",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3OTY3;sn=9207967"
      },
      "ResponseBody": {
        "etag": "srN4UEtp4Yqx8Rf55kGwqm-zLNoMNxFgRHFPT48uRTM",
        "key": "key-2141872649",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2022-08-19T01:01:33\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io;Id=FDfK-l2-s0:mngxQOl8i8oeTC1tVysQ;Secret=Kg==",
    "RandomSeed": "1593606737"
  }
}
