{
  "Entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1554500712?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022hdStLoczJOaGgL3maHhaFsoOz3O\u0022",
        "Last-Modified": "Wed, 18 Sep 2019 21:12:49 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM1MzgzMTM=;sn=538313"
      },
      "ResponseBody": {
        "etag": "hdStLoczJOaGgL3maHhaFsoOz3O",
        "key": "key-1554500712",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-09-18T21:12:49\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1554500712?label=test_label_diff\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=ODotMSM1MzgzMTM=",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022aPZkf32nPtF9b4MeCjQyuw3ygtT\u0022",
        "Last-Modified": "Wed, 18 Sep 2019 21:12:49 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM1MzgzMTQ=;sn=538314"
      },
      "ResponseBody": {
        "etag": "aPZkf32nPtF9b4MeCjQyuw3ygtT",
        "key": "key-1554500712",
        "label": "test_label_diff",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-09-18T21:12:49\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1554500712?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM1MzgzMTU=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022hdStLoczJOaGgL3maHhaFsoOz3O\u0022",
        "Last-Modified": "Wed, 18 Sep 2019 21:12:49 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM1MzgzMTY=;sn=538316"
      },
      "ResponseBody": {
        "etag": "hdStLoczJOaGgL3maHhaFsoOz3O",
        "key": "key-1554500712",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-09-18T21:12:49\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002BFOYz;Secret=;",
    "RandomSeed": "640518183"
  }
}