{
  "Entries": [
    {
      "RequestUri": "https://pakrymac3-azconfig-net.azconfig.io/kv/key-1740125087?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00223MuIIVCYESgeNKJZs2FJQFzkOUM\u0022",
        "Last-Modified": "Mon, 26 Jul 2021 23:55:22 GMT",
        "Sync-Token": "zAJw6V16=MDoxNyMxMDA0MDA1NQ==;sn=10040055"
      },
      "ResponseBody": {
        "etag": "3MuIIVCYESgeNKJZs2FJQFzkOUM",
        "key": "key-1740125087",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2021-07-26T23:55:22\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrymac3-azconfig-net.azconfig.io/kv/key-1740125087?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022this won\u0027t match\u0022",
        "Sync-Token": "zAJw6V16=MDoxNyMxMDA0MDA1NQ==",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://pakrymac3-azconfig-net.azconfig.io/kv/key-1740125087?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=MDoxNyMxMDA0MDA1NQ==",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00223MuIIVCYESgeNKJZs2FJQFzkOUM\u0022",
        "Last-Modified": "Mon, 26 Jul 2021 23:55:22 GMT",
        "Sync-Token": "zAJw6V16=MDoxNyMxMDA0MDA1Ng==;sn=10040056"
      },
      "ResponseBody": {
        "etag": "3MuIIVCYESgeNKJZs2FJQFzkOUM",
        "key": "key-1740125087",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2021-07-26T23:55:22\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://pakrymac3-azconfig-net.azconfig.io;Id=BbJ0-l2-s0:PUvmSHe8jF0liHP7M/IX;Secret=Kg==",
    "RandomSeed": "266967590"
  }
}