{
  "Entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1870507046?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00223gspYyEaddPgDtaJMNEBFwbW36s\u0022",
        "Last-Modified": "Fri, 15 Nov 2019 16:12:01 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM4MTkzMzU=;sn=819335"
      },
      "ResponseBody": {
        "etag": "3gspYyEaddPgDtaJMNEBFwbW36s",
        "key": "key-1870507046",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-11-15T16:12:01\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1870507046?label=test_label_diff\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=ODotMSM4MTkzMzU=",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022gDISwbPVmnOqPaCUEtQTqmqZdnj\u0022",
        "Last-Modified": "Fri, 15 Nov 2019 16:12:01 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM4MTkzMzY=;sn=819336"
      },
      "ResponseBody": {
        "etag": "gDISwbPVmnOqPaCUEtQTqmqZdnj",
        "key": "key-1870507046",
        "label": "test_label_diff",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-11-15T16:12:01\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1870507046?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM4MTkzMzc=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00223gspYyEaddPgDtaJMNEBFwbW36s\u0022",
        "Last-Modified": "Fri, 15 Nov 2019 16:12:01 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM4MTkzMzg=;sn=819338"
      },
      "ResponseBody": {
        "etag": "3gspYyEaddPgDtaJMNEBFwbW36s",
        "key": "key-1870507046",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-11-15T16:12:01\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002BFOYz;Secret=;",
    "RandomSeed": "1381926152"
  }
}