{
  "Entries": [
    {
      "RequestUri": "https://pakrymac3-azconfig-net.azconfig.io/kv/key-1988013131?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022kHbZMwa3JQ6KfPy1laHpF2rWe7g\u0022",
        "Last-Modified": "Tue, 27 Jul 2021 00:03:14 GMT",
        "Sync-Token": "zAJw6V16=MDoxNyMxMDA0MDE1Ng==;sn=10040156"
      },
      "ResponseBody": {
        "etag": "kHbZMwa3JQ6KfPy1laHpF2rWe7g",
        "key": "key-1988013131",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2021-07-27T00:03:14\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrymac3-azconfig-net.azconfig.io/kv/key-1988013131?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022this won\u0027t match\u0022",
        "Sync-Token": "zAJw6V16=MDoxNyMxMDA0MDE1Ng==",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022kHbZMwa3JQ6KfPy1laHpF2rWe7g\u0022",
        "Last-Modified": "Tue, 27 Jul 2021 00:03:14 GMT",
        "Sync-Token": "zAJw6V16=MDoxNyMxMDA0MDE1Nw==;sn=10040157"
      },
      "ResponseBody": {
        "etag": "kHbZMwa3JQ6KfPy1laHpF2rWe7g",
        "key": "key-1988013131",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2021-07-27T00:03:14\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://pakrymac3-azconfig-net.azconfig.io;Id=BbJ0-l2-s0:PUvmSHe8jF0liHP7M/IX;Secret=Kg==",
    "RandomSeed": "811882703"
  }
}