{
  "Entries": [
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/key-1384298084?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022-T0cTR_v-9V8VeHTb6l92Q_v7AIAiCQ_m6x1MWSg3tg\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:24:21 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTMzMDA=;sn=1293300"
      },
      "ResponseBody": {
        "etag": "-T0cTR_v-9V8VeHTb6l92Q_v7AIAiCQ_m6x1MWSg3tg",
        "key": "key-1384298084",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-01-31T20:24:21\u002B00:00"
      }
    },
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/key-1384298084?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022-T0cTR_v-9V8VeHTb6l92Q_v7AIAiCQ_m6x1MWSg3tg\u0022",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTMzMDA=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022-T0cTR_v-9V8VeHTb6l92Q_v7AIAiCQ_m6x1MWSg3tg\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:24:21 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTMzMDE=;sn=1293301"
      },
      "ResponseBody": {
        "etag": "-T0cTR_v-9V8VeHTb6l92Q_v7AIAiCQ_m6x1MWSg3tg",
        "key": "key-1384298084",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-01-31T20:24:21\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://shrejaappconfiguration-azconfig-net.azconfig.io;Id=RoMR-l1-s0:NgGvLRBi23WLJ6PQ6mcy;Secret=Kg==",
    "RandomSeed": "1756095972"
  }
}
