{
  "Entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/abcde-300675015?label=abcde\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "mJ1uCv/VecpXkX4Vs1s3UAgW0gvXCg/ItUdjA2deKZk="
      },
      "RequestBody": {
        "value": "Starts with abc",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 503,
      "ResponseHeaders": {},
      "ResponseBody": null
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/abcde-300675015?label=abcde\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "mJ1uCv/VecpXkX4Vs1s3UAgW0gvXCg/ItUdjA2deKZk="
      },
      "RequestBody": {
        "value": "Starts with abc",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Jl3NrnWTMEWZ0ffnzCrWyeJH17b\u0022",
        "Last-Modified": "Wed, 22 Jan 2020 22:43:36 GMT",
        "Sync-Token": "zAJw6V16=ODotMSMxMTQwNzU1;sn=1140755"
      },
      "ResponseBody": {
        "etag": "Jl3NrnWTMEWZ0ffnzCrWyeJH17b",
        "key": "abcde-300675015",
        "label": "abcde",
        "content_type": null,
        "value": "Starts with abc",
        "tags": {},
        "locked": false,
        "last_modified": "2020-01-22T22:43:36\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/?key=abc%2A\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSMxMTQwNzU1",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 503,
      "ResponseHeaders": {},
      "ResponseBody": null
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/?key=abc%2A\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSMxMTQwNzU1",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=ODotMSMxMTQwNzU1;sn=1140755"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "E3lW4OWgaQ8h5KtgIRFPGdD7tjl",
            "key": "abcde-1249484353",
            "label": "abcde",
            "content_type": null,
            "value": "Starts with abc",
            "tags": {},
            "locked": false,
            "last_modified": "2019-11-01T13:16:43\u002B00:00"
          },
          {
            "etag": "qclFDFpiNOupVK8uF7s3KvC4FBJ",
            "key": "abcde-1403086661",
            "label": "abcde",
            "content_type": nul[...]
[...]
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/abcde-300675015?label=abcde\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSMxMTQwNzU1",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Jl3NrnWTMEWZ0ffnzCrWyeJH17b\u0022",
        "Last-Modified": "Wed, 22 Jan 2020 22:43:36 GMT",
        "Sync-Token": "zAJw6V16=ODotMSMxMTQwNzU2;sn=1140756"
      },
      "ResponseBody": {
        "etag": "Jl3NrnWTMEWZ0ffnzCrWyeJH17b",
        "key": "abcde-300675015",
        "label": "abcde",
        "content_type": null,
        "value": "Starts with abc",
        "tags": {},
        "locked": false,
        "last_modified": "2020-01-22T22:43:36\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002BFOYz;Secret=",
    "RandomSeed": "1231024577"
  }
}