{
  "Entries": [
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/abc?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "rAtZS5jYy5MYxM4VT\u002BT/MN4FLSW1Bmj5GOiFWNbW4fc="
      },
      "RequestBody": {
        "value": "abc setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022x8UYJPECMXTU4R6OtTPX-P3M7ql6LTNkFMhHW48-vww\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:26:07 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM1Mjg=;sn=1293528"
      },
      "ResponseBody": {
        "etag": "x8UYJPECMXTU4R6OtTPX-P3M7ql6LTNkFMhHW48-vww",
        "key": "abc",
        "label": null,
        "content_type": null,
        "value": "abc setting",
        "tags": {},
        "locked": false,
        "last_modified": "2023-01-31T20:26:07\u002B00:00"
      }
    },
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/xyz?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM1Mjg=",
        "x-ms-content-sha256": "scA3BRUvZMHMdOfosREYMLRH6CkQbPCSKsePkUSvt1A="
      },
      "RequestBody": {
        "value": "xyz setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022S4aGtffkEHwuid7x1gnojYX8nXky91mhMXDfKcMgCNI\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:26:07 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM1MzA=;sn=1293530"
      },
      "ResponseBody": {
        "etag": "S4aGtffkEHwuid7x1gnojYX8nXky91mhMXDfKcMgCNI",
        "key": "xyz",
        "label": null,
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2023-01-31T20:26:07\u002B00:00"
      }
    },
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv?key=abc%2Cxyz\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM1MzA=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM1MzE=;sn=1293531"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "x8UYJPECMXTU4R6OtTPX-P3M7ql6LTNkFMhHW48-vww",
            "key": "abc",
            "label": null,
            "content_type": null,
            "value": "abc setting",
            "tags": {},
            "locked": false,
            "last_modified": "2023-01-31T20:26:07\u002B00:00"
          },
          {
            "etag": "S4aGtffkEHwuid7x1gnojYX8nXky91mhMXDfKcMgCNI",
            "key": "xyz",
            "label": null,
            "content_type": null,
            "value": "xyz setting",
            "tags": {},
            "locked": false,
            "last_modified": "2023-01-31T20:26:07\u002B00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/xyz?api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM1MzI=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022S4aGtffkEHwuid7x1gnojYX8nXky91mhMXDfKcMgCNI\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:26:07 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM1MzM=;sn=1293533"
      },
      "ResponseBody": {
        "etag": "S4aGtffkEHwuid7x1gnojYX8nXky91mhMXDfKcMgCNI",
        "key": "xyz",
        "label": null,
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2023-01-31T20:26:07\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://shrejaappconfiguration-azconfig-net.azconfig.io;Id=RoMR-l1-s0:NgGvLRBi23WLJ6PQ6mcy;Secret=Kg==",
    "RandomSeed": "986492797"
  }
}
