{
  "Entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-%21%40%23%24%5E%26%28%2C%29-%3D?label=label-%21%40%23%24%5E%26%28%2C%29-%3D\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "bRdkns2RatYvjGttbvaVK62PiJdPuJsjtYEaSjcBZ5Q="
      },
      "RequestBody": {
        "value": "value-!@#$^\u0026(,)-=",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022BdVBzr9jjXCe1zix6YEPWPEihDF\u0022",
        "Last-Modified": "Sat, 19 Oct 2019 03:16:15 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM2NzMwMzk=;sn=673039"
      },
      "ResponseBody": {
        "etag": "BdVBzr9jjXCe1zix6YEPWPEihDF",
        "key": "key-!@#$^\u0026(,)-=",
        "label": "label-!@#$^\u0026(,)-=",
        "content_type": null,
        "value": "value-!@#$^\u0026(,)-=",
        "tags": {},
        "locked": false,
        "last_modified": "2019-10-19T03:16:15\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/?key=key-%21%40%23%24%5E%26%28%5C%2C%29-%3D\u0026label=%2A%21%40%23%24%5E%26%28%5C%2C%29-%3D\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM2NzMwMzk=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=ODotMSM2NzMwMzk=;sn=673039"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "BdVBzr9jjXCe1zix6YEPWPEihDF",
            "key": "key-!@#$^\u0026(,)-=",
            "label": "label-!@#$^\u0026(,)-=",
            "content_type": null,
            "value": "value-!@#$^\u0026(,)-=",
            "tags": {},
            "locked": false,
            "last_modified": "2019-10-19T03:16:15\u002B00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-%21%40%23%24%5E%26%28%2C%29-%3D?label=label-%21%40%23%24%5E%26%28%2C%29-%3D\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM2NzMwMzk=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022BdVBzr9jjXCe1zix6YEPWPEihDF\u0022",
        "Last-Modified": "Sat, 19 Oct 2019 03:16:15 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM2NzMwNDA=;sn=673040"
      },
      "ResponseBody": {
        "etag": "BdVBzr9jjXCe1zix6YEPWPEihDF",
        "key": "key-!@#$^\u0026(,)-=",
        "label": "label-!@#$^\u0026(,)-=",
        "content_type": null,
        "value": "value-!@#$^\u0026(,)-=",
        "tags": {},
        "locked": false,
        "last_modified": "2019-10-19T03:16:15\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002BFOYz;Secret=;",
    "RandomSeed": "1594673485"
  }
}