{
  "Entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/BatchKey?api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 503,
      "ResponseHeaders": {},
      "ResponseBody": null
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/BatchKey?api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022KTB8XJRCqOnIZKwEoXO6TYdyto6\u0022",
        "Last-Modified": "Fri, 15 Nov 2019 16:04:46 GMT",
        "Sync-Token": "zAJw6V16=ODotMSMxMTQwNzUz;sn=1140753"
      },
      "ResponseBody": {
        "etag": "KTB8XJRCqOnIZKwEoXO6TYdyto6",
        "key": "BatchKey",
        "label": null,
        "content_type": null,
        "value": "key-1612358565",
        "tags": {},
        "locked": false,
        "last_modified": "2019-11-15T16:04:46\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/?key=key-1612358565\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSMxMTQwNzUz",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 503,
      "ResponseHeaders": {},
      "ResponseBody": null
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/?key=key-1612358565\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSMxMTQwNzUz",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Link": "\u003C/kv/?key=key-1612358565\u0026api-version=1.0\u0026after=a2V5LTE2MTIzNTg1NjUKOTQ%3D\u003E; rel=\u0022next\u0022",
        "Sync-Token": "zAJw6V16=ODotMSMxMTQwNzUz;sn=1140753"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "UpqEI7t1xOqncFmIyxBb7mUbxd4",
            "key": "key-1612358565",
            "label": "0",
            "content_type": null,
            "value": "test_value",
            "tags": {},
            "locked": false,
            "last_modified": "2019-11-15T16:04:36\u002B00:00"
          },
          {
            "etag": "GcCrWAFKvIwFRlWB5P838QAdtvF",
            "key": "key-1612358565",
            "label": "1",
            "content_type": null,
            "v[...]
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/?key=key-1612358565\u0026after=a2V5LTE2MTIzNTg1NjUKOTQ%3D\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSMxMTQwNzUz",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 503,
      "ResponseHeaders": {},
      "ResponseBody": null
    },
[...]
