{
  "Entries": [
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/kv/keyFields-676309702?label=my_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "EvztPjFq9O5ineHKH6U017hNcB1ScAKnt5HeCaAErk4="
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": "content-type",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022MAyEqKNztsMDjYlOXJw4ltrs0YrqEeSwwCyec7aDtSk\u0022",
        "Last-Modified": "Fri, 19 Aug 2022 01:01:24 GMT",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3ODg2;sn=9207886"
      },
      "ResponseBody": {
        "etag": "MAyEqKNztsMDjYlOXJw4ltrs0YrqEeSwwCyec7aDtSk",
        "key": "keyFields-676309702",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2022-08-19T01:01:24\u002B00:00"
      }
    },
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/kv?key=keyFields-676309702\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3ODg2",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3ODg2;sn=9207886"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "MAyEqKNztsMDjYlOXJw4ltrs0YrqEeSwwCyec7aDtSk",
            "key": "keyFields-676309702",
            "label": "my_label",
            "content_type": "content-type",
            "value": "my_value",
            "tags": {},
            "locked": false,
            "last_modified": "2022-08-19T01:01:24\u002B00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/kv/keyFields-676309702?label=my_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3ODg2",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022MAyEqKNztsMDjYlOXJw4ltrs0YrqEeSwwCyec7aDtSk\u0022",
        "Last-Modified": "Fri, 19 Aug 2022 01:01:24 GMT",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3ODg3;sn=9207887"
      },
      "ResponseBody": {
        "etag": "MAyEqKNztsMDjYlOXJw4ltrs0YrqEeSwwCyec7aDtSk",
        "key": "keyFields-676309702",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2022-08-19T01:01:24\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io;Id=FDfK-l2-s0:mngxQOl8i8oeTC1tVysQ;Secret=Kg==",
    "RandomSeed": "347412996"
  }
}
