{
  "Entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/abc?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "rAtZS5jYy5MYxM4VT\u002BT/MN4FLSW1Bmj5GOiFWNbW4fc="
      },
      "RequestBody": {
        "value": "abc setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022oEB9d4MnnjawzLLNcyMnlgj8smT\u0022",
        "Last-Modified": "Mon, 21 Oct 2019 16:09:28 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM2OTA2ODA=;sn=690680"
      },
      "ResponseBody": {
        "etag": "oEB9d4MnnjawzLLNcyMnlgj8smT",
        "key": "abc",
        "label": null,
        "content_type": null,
        "value": "abc setting",
        "tags": {},
        "locked": false,
        "last_modified": "2019-10-21T16:09:28\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/xyz?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=ODotMSM2OTA2ODA=",
        "x-ms-content-sha256": "scA3BRUvZMHMdOfosREYMLRH6CkQbPCSKsePkUSvt1A="
      },
      "RequestBody": {
        "value": "xyz setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022oX25MYAZVoWeyaot7UCP1rIx9ou\u0022",
        "Last-Modified": "Mon, 21 Oct 2019 16:09:28 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM2OTA2ODE=;sn=690681"
      },
      "ResponseBody": {
        "etag": "oX25MYAZVoWeyaot7UCP1rIx9ou",
        "key": "xyz",
        "label": null,
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2019-10-21T16:09:28\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/?key=abc%5C%2Cxyz\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM2OTA2ODE=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8"
      },
      "ResponseBody": {
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/xyz?api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM2OTA2ODI=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022oX25MYAZVoWeyaot7UCP1rIx9ou\u0022",
        "Last-Modified": "Mon, 21 Oct 2019 16:09:28 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM2OTA2ODM=;sn=690683"
      },
      "ResponseBody": {
        "etag": "oX25MYAZVoWeyaot7UCP1rIx9ou",
        "key": "xyz",
        "label": null,
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2019-10-21T16:09:28\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002BFOYz;Secret=;",
    "RandomSeed": "1191626525"
  }
}