{
  "Entries": [
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/ab%2Ccd?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "c\u002BBFVvNJS72\u002B8PpnYY4/0u7GTtabNc5s43\u002BqPwc0PZE="
      },
      "RequestBody": {
        "value": "comma in key",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022OnAQMkTOh2AaGY23r93nbDMnRPVmeBDTSQnJNAUp7JU\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:26:03 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM1MTY=;sn=1293516"
      },
      "ResponseBody": {
        "etag": "OnAQMkTOh2AaGY23r93nbDMnRPVmeBDTSQnJNAUp7JU",
        "key": "ab,cd",
        "label": null,
        "content_type": null,
        "value": "comma in key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-01-31T20:26:03\u002B00:00"
      }
    },
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/wx%2Cyz?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM1MTY=",
        "x-ms-content-sha256": "c\u002BBFVvNJS72\u002B8PpnYY4/0u7GTtabNc5s43\u002BqPwc0PZE="
      },
      "RequestBody": {
        "value": "comma in key",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022C-Q4UqrxGZsAdUOgxG7pbfyqwZJVvb5h4QmPsRWBC-4\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:26:03 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM1MTg=;sn=1293518"
      },
      "ResponseBody": {
        "etag": "C-Q4UqrxGZsAdUOgxG7pbfyqwZJVvb5h4QmPsRWBC-4",
        "key": "wx,yz",
        "label": null,
        "content_type": null,
        "value": "comma in key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-01-31T20:26:03\u002B00:00"
      }
    },
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv?key=ab%5C%2Ccd%2Cwx%5C%2Cyz\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM1MTg=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM1MTk=;sn=1293519"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "OnAQMkTOh2AaGY23r93nbDMnRPVmeBDTSQnJNAUp7JU",
            "key": "ab,cd",
            "label": null,
            "content_type": null,
            "value": "comma in key",
            "tags": {},
            "locked": false,
            "last_modified": "2023-01-31T20:26:03\u002B00:00"
          },
          {
            "etag": "C-Q4UqrxGZsAdUOgxG7pbfyqwZJVvb5h4QmPsRWBC-4",
            "key": "wx,yz",
            "label": null,
            "content_type": null,
            "value": "comma in key",
            "tags": {},
            "locked": false,
            "last_modified": "2023-01-31T20:26:03\u002B00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/wx%2Cyz?api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM1MjA=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022C-Q4UqrxGZsAdUOgxG7pbfyqwZJVvb5h4QmPsRWBC-4\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:26:03 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM1MjE=;sn=1293521"
      },
      "ResponseBody": {
        "etag": "C-Q4UqrxGZsAdUOgxG7pbfyqwZJVvb5h4QmPsRWBC-4",
        "key": "wx,yz",
        "label": null,
        "content_type": null,
        "value": "comma in key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-01-31T20:26:03\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://shrejaappconfiguration-azconfig-net.azconfig.io;Id=RoMR-l1-s0:NgGvLRBi23WLJ6PQ6mcy;Secret=Kg==",
    "RandomSeed": "1983611983"
  }
}
