{
  "Entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/yzabcde-1623831952?label=yzabcde\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "PZVsAArJDwx9YGZNe5SZLRduoKOVD8qbTjYWb27kqA4="
      },
      "RequestBody": {
        "value": "Contains abc",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022rSFE8OWhXR0PENTuI1jx22O6EGB\u0022",
        "Last-Modified": "Mon, 21 Oct 2019 03:43:54 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM2ODY3Mjc=;sn=686727"
      },
      "ResponseBody": {
        "etag": "rSFE8OWhXR0PENTuI1jx22O6EGB",
        "key": "yzabcde-1623831952",
        "label": "yzabcde",
        "content_type": null,
        "value": "Contains abc",
        "tags": {},
        "locked": false,
        "last_modified": "2019-10-21T03:43:54\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/?key=%2Aabc%2A\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM2ODY3Mjc=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=ODotMSM2ODY3Mjc=;sn=686727"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "u4qe0vr98D13zgOJOfTfZGp3CKd",
            "key": "abcde-1179400413",
            "label": "abcde",
            "content_type": null,
            "value": "Starts with abc",
            "tags": {},
            "locked": false,
            "last_modified": "2019-10-21T03:41:52\u002B00:00"
          },
          {
            "etag": "LctILDYslKLxor8DaBE49XxgS2b",
            "key": "abcde-1206182416",
            "label": "abcde",
            "content_type": nul[...]
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/yzabcde-1623831952?api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM2ODY3Mjc=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002BFOYz;Secret=;",
    "RandomSeed": "1874170287"
  }
}