{
  "Entries": [
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/keyFields-1487971427?label=my_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "EvztPjFq9O5ineHKH6U017hNcB1ScAKnt5HeCaAErk4="
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": "content-type",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022kdroS2NvX_HoBS-POIFu_zsLLb14lxCz_7jFV2omMbQ\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:24:46 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTMzNTI=;sn=1293352"
      },
      "ResponseBody": {
        "etag": "kdroS2NvX_HoBS-POIFu_zsLLb14lxCz_7jFV2omMbQ",
        "key": "keyFields-1487971427",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-01-31T20:24:46\u002B00:00"
      }
    },
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv?key=keyFields-1487971427\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTMzNTI=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTMzNTI=;sn=1293352"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "kdroS2NvX_HoBS-POIFu_zsLLb14lxCz_7jFV2omMbQ",
            "key": "keyFields-1487971427",
            "label": "my_label",
            "content_type": "content-type",
            "value": "my_value",
            "tags": {},
            "locked": false,
            "last_modified": "2023-01-31T20:24:46\u002B00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/keyFields-1487971427?label=my_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTMzNTI=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022kdroS2NvX_HoBS-POIFu_zsLLb14lxCz_7jFV2omMbQ\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:24:46 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTMzNTM=;sn=1293353"
      },
      "ResponseBody": {
        "etag": "kdroS2NvX_HoBS-POIFu_zsLLb14lxCz_7jFV2omMbQ",
        "key": "keyFields-1487971427",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-01-31T20:24:46\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://shrejaappconfiguration-azconfig-net.azconfig.io;Id=RoMR-l1-s0:NgGvLRBi23WLJ6PQ6mcy;Secret=Kg==",
    "RandomSeed": "1468528186"
  }
}
