{
  "Entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-abc?label=abc\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "rAtZS5jYy5MYxM4VT\u002BT/MN4FLSW1Bmj5GOiFWNbW4fc="
      },
      "RequestBody": {
        "value": "abc setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022wOCh3kWsZY81KqaUMMpFS3mYW89\u0022",
        "Last-Modified": "Fri, 15 Nov 2019 16:12:06 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM4MTkzNjY=;sn=819366"
      },
      "ResponseBody": {
        "etag": "wOCh3kWsZY81KqaUMMpFS3mYW89",
        "key": "key-abc",
        "label": "abc",
        "content_type": null,
        "value": "abc setting",
        "tags": {},
        "locked": false,
        "last_modified": "2019-11-15T16:12:06\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/label-xyz?label=xyz\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=ODotMSM4MTkzNjY=",
        "x-ms-content-sha256": "scA3BRUvZMHMdOfosREYMLRH6CkQbPCSKsePkUSvt1A="
      },
      "RequestBody": {
        "value": "xyz setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022FFboOEMQNfKpLcQLJsfbnaKIKrD\u0022",
        "Last-Modified": "Fri, 15 Nov 2019 16:12:06 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM4MTkzNjc=;sn=819367"
      },
      "ResponseBody": {
        "etag": "FFboOEMQNfKpLcQLJsfbnaKIKrD",
        "key": "label-xyz",
        "label": "xyz",
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2019-11-15T16:12:06\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/?key=%2A\u0026label=abc%2Cxyz\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM4MTkzNjc=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=ODotMSM4MTkzNjc=;sn=819367"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "wOCh3kWsZY81KqaUMMpFS3mYW89",
            "key": "key-abc",
            "label": "abc",
            "content_type": null,
            "value": "abc setting",
            "tags": {},
            "locked": false,
            "last_modified": "2019-11-15T16:12:06\u002B00:00"
          },
          {
            "etag": "FFboOEMQNfKpLcQLJsfbnaKIKrD",
            "key": "label-xyz",
            "label": "xyz",
            "content_type": null,
            "value": "xyz setting",
            "tags": {},
            "locked": false,
            "last_modified": "2019-11-15T16:12:06\u002B00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/label-xyz?label=xyz\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM4MTkzNjg=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022FFboOEMQNfKpLcQLJsfbnaKIKrD\u0022",
        "Last-Modified": "Fri, 15 Nov 2019 16:12:06 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM4MTkzNjk=;sn=819369"
      },
      "ResponseBody": {
        "etag": "FFboOEMQNfKpLcQLJsfbnaKIKrD",
        "key": "label-xyz",
        "label": "xyz",
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2019-11-15T16:12:06\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002BFOYz;Secret=;",
    "RandomSeed": "1290847135"
  }
}