{
  "Entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/ab%2Ccd?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "c\u002BBFVvNJS72\u002B8PpnYY4/0u7GTtabNc5s43\u002BqPwc0PZE="
      },
      "RequestBody": {
        "value": "comma in key",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00229BIqojS6yNwm9P28tW8okT4h297\u0022",
        "Last-Modified": "Mon, 21 Oct 2019 03:43:55 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM2ODY3Mzc=;sn=686737"
      },
      "ResponseBody": {
        "etag": "9BIqojS6yNwm9P28tW8okT4h297",
        "key": "ab,cd",
        "label": null,
        "content_type": null,
        "value": "comma in key",
        "tags": {},
        "locked": false,
        "last_modified": "2019-10-21T03:43:55\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/wx%2Cyz?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=ODotMSM2ODY3Mzc=",
        "x-ms-content-sha256": "c\u002BBFVvNJS72\u002B8PpnYY4/0u7GTtabNc5s43\u002BqPwc0PZE="
      },
      "RequestBody": {
        "value": "comma in key",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022J3rsQPMSg9ps3R1TxNTSgogM2oM\u0022",
        "Last-Modified": "Mon, 21 Oct 2019 03:43:55 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM2ODY3Mzg=;sn=686738"
      },
      "ResponseBody": {
        "etag": "J3rsQPMSg9ps3R1TxNTSgogM2oM",
        "key": "wx,yz",
        "label": null,
        "content_type": null,
        "value": "comma in key",
        "tags": {},
        "locked": false,
        "last_modified": "2019-10-21T03:43:55\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/?key=%2A%2Cab%5C%2Ccd%2Cwz%5C%2Cyz\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM2ODY3Mzg=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/invalid-argument",
        "title": "Invalid request parameter \u0027key\u0027",
        "name": "key",
        "detail": "key(0): Invalid character",
        "pos": 0,
        "status": 400
      }
    },
[...]
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/wx%2Cyz?api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM2ODY3Mzk=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022J3rsQPMSg9ps3R1TxNTSgogM2oM\u0022",
        "Last-Modified": "Mon, 21 Oct 2019 03:43:55 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM2ODY3NDA=;sn=686740"
      },
      "ResponseBody": {
        "etag": "J3rsQPMSg9ps3R1TxNTSgogM2oM",
        "key": "wx,yz",
        "label": null,
        "content_type": null,
        "value": "comma in key",
        "tags": {},
        "locked": false,
        "last_modified": "2019-10-21T03:43:55\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002BFOYz;Secret=;",
    "RandomSeed": "1123459657"
  }
}