{
  "Entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1608512009?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022MqROoQrWOTzONp0avVOW7iXI8KY\u0022",
        "Last-Modified": "Wed, 18 Sep 2019 21:33:04 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM1Mzg3MTM=;sn=538713"
      },
      "ResponseBody": {
        "etag": "MqROoQrWOTzONp0avVOW7iXI8KY",
        "key": "key-1608512009",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-09-18T21:33:04\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/?key=*\u0026label=test_label\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM1Mzg3MTM=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=ODotMSM1Mzg3MTM=;sn=538713"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "MqROoQrWOTzONp0avVOW7iXI8KY",
            "key": "key-1608512009",
            "label": "test_label",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2019-09-18T21:33:04\u002B00:00"
          },
          {
            "etag": "QB6ZifyjGfUn17lEKZMAK6No3jf",
           [...]
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1608512009?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM1Mzg3MTM=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022MqROoQrWOTzONp0avVOW7iXI8KY\u0022",
        "Last-Modified": "Wed, 18 Sep 2019 21:33:04 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM1Mzg3MTQ=;sn=538714"
      },
      "ResponseBody": {
        "etag": "MqROoQrWOTzONp0avVOW7iXI8KY",
        "key": "key-1608512009",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-09-18T21:33:04\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002BFOYz;Secret=;",
    "RandomSeed": "784650"
  }
}