{
  "Entries": [
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/key-abc?label=abc\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "rAtZS5jYy5MYxM4VT\u002BT/MN4FLSW1Bmj5GOiFWNbW4fc="
      },
      "RequestBody": {
        "value": "abc setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022MVIBUSZ6Kd45eUwwSyWVmop5_HgQwRNOTNEeC6T8PnM\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:24:44 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTMzNDY=;sn=1293346"
      },
      "ResponseBody": {
        "etag": "MVIBUSZ6Kd45eUwwSyWVmop5_HgQwRNOTNEeC6T8PnM",
        "key": "key-abc",
        "label": "abc",
        "content_type": null,
        "value": "abc setting",
        "tags": {},
        "locked": false,
        "last_modified": "2023-01-31T20:24:44\u002B00:00"
      }
    },
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/label-xyz?label=xyz\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTMzNDY=",
        "x-ms-content-sha256": "scA3BRUvZMHMdOfosREYMLRH6CkQbPCSKsePkUSvt1A="
      },
      "RequestBody": {
        "value": "xyz setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022taPGoY5KrU6drjSFWnAP2YpmomFIiCObrw49qM9DIIs\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:24:44 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTMzNDg=;sn=1293348"
      },
      "ResponseBody": {
        "etag": "taPGoY5KrU6drjSFWnAP2YpmomFIiCObrw49qM9DIIs",
        "key": "label-xyz",
        "label": "xyz",
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2023-01-31T20:24:44\u002B00:00"
      }
    },
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv?label=abc%2Cxyz\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTMzNDg=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTMzNDk=;sn=1293349"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "MVIBUSZ6Kd45eUwwSyWVmop5_HgQwRNOTNEeC6T8PnM",
            "key": "key-abc",
            "label": "abc",
            "content_type": null,
            "value": "abc setting",
            "tags": {},
            "locked": false,
            "last_modified": "2023-01-31T20:24:44\u002B00:00"
          },
          {
            "etag": "taPGoY5KrU6drjSFWnAP2YpmomFIiCObrw49qM9DIIs",
            "key": "label-xyz",
            "label": "xyz",
            "content_type": null,
            "value": "xyz setting",
            "tags": {},
            "locked": false,
            "last_modified": "2023-01-31T20:24:44\u002B00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/label-xyz?label=xyz\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTMzNTA=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022taPGoY5KrU6drjSFWnAP2YpmomFIiCObrw49qM9DIIs\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:24:44 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTMzNTE=;sn=1293351"
      },
      "ResponseBody": {
        "etag": "taPGoY5KrU6drjSFWnAP2YpmomFIiCObrw49qM9DIIs",
        "key": "label-xyz",
        "label": "xyz",
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2023-01-31T20:24:44\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://shrejaappconfiguration-azconfig-net.azconfig.io;Id=RoMR-l1-s0:NgGvLRBi23WLJ6PQ6mcy;Secret=Kg==",
    "RandomSeed": "458124979"
  }
}
