{
  "Entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/a%2Cb?label=c%2Cd\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "NfJ9\u002Bis\u002BYdJdXQ4qgUHcuWXOIeapRdPJBpQ53a5GLl0="
      },
      "RequestBody": {
        "value": "e,f",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00220AeUsKKiq9cMW9ZeXhdjeAy4rwR\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 14:37:18 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM2NzA5ODE=;sn=670981"
      },
      "ResponseBody": {
        "etag": "0AeUsKKiq9cMW9ZeXhdjeAy4rwR",
        "key": "a,b",
        "label": "c,d",
        "content_type": null,
        "value": "e,f",
        "tags": {},
        "locked": false,
        "last_modified": "2019-10-18T14:37:18\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/?key=a%5C%2Cb\u0026label=c%5C%2Cd\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM2NzA5ODE=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=ODotMSM2NzA5ODE=;sn=670981"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "0AeUsKKiq9cMW9ZeXhdjeAy4rwR",
            "key": "a,b",
            "label": "c,d",
            "content_type": null,
            "value": "e,f",
            "tags": {},
            "locked": false,
            "last_modified": "2019-10-18T14:37:18\u002B00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/a%2Cb?label=c%2Cd\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM2NzA5ODE=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00220AeUsKKiq9cMW9ZeXhdjeAy4rwR\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 14:37:18 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM2NzA5ODI=;sn=670982"
      },
      "ResponseBody": {
        "etag": "0AeUsKKiq9cMW9ZeXhdjeAy4rwR",
        "key": "a,b",
        "label": "c,d",
        "content_type": null,
        "value": "e,f",
        "tags": {},
        "locked": false,
        "last_modified": "2019-10-18T14:37:18\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002BFOYz;Secret=;",
    "RandomSeed": "1801530791"
  }
}