{
  "Entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/a%2Cb?label=c%2Cd\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "NfJ9\u002Bis\u002BYdJdXQ4qgUHcuWXOIeapRdPJBpQ53a5GLl0="
      },
      "RequestBody": {
        "value": "e,f",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Il4a5WhJBuu7TEMUQU3mZfWJ8tw\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 14:37:42 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM2NzEwODA=;sn=671080"
      },
      "ResponseBody": {
        "etag": "Il4a5WhJBuu7TEMUQU3mZfWJ8tw",
        "key": "a,b",
        "label": "c,d",
        "content_type": null,
        "value": "e,f",
        "tags": {},
        "locked": false,
        "last_modified": "2019-10-18T14:37:42\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/?key=a%5C%2Cb\u0026label=c%5C%2Cd\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM2NzEwODA=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=ODotMSM2NzEwODA=;sn=671080"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "Il4a5WhJBuu7TEMUQU3mZfWJ8tw",
            "key": "a,b",
            "label": "c,d",
            "content_type": null,
            "value": "e,f",
            "tags": {},
            "locked": false,
            "last_modified": "2019-10-18T14:37:42\u002B00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/a%2Cb?label=c%2Cd\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM2NzEwODA=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Il4a5WhJBuu7TEMUQU3mZfWJ8tw\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 14:37:42 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM2NzEwODE=;sn=671081"
      },
      "ResponseBody": {
        "etag": "Il4a5WhJBuu7TEMUQU3mZfWJ8tw",
        "key": "a,b",
        "label": "c,d",
        "content_type": null,
        "value": "e,f",
        "tags": {},
        "locked": false,
        "last_modified": "2019-10-18T14:37:42\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002BFOYz;Secret=;",
    "RandomSeed": "1625825298"
  }
}