{
  "Entries": [
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/abcde-281653568?label=abcde\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "mJ1uCv/VecpXkX4Vs1s3UAgW0gvXCg/ItUdjA2deKZk="
      },
      "RequestBody": {
        "value": "Starts with abc",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022LcC71f2ntOF8bXDKQvZhqwcEDf35m1UsF6Syewnc4kE\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:26:02 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM1MTQ=;sn=1293514"
      },
      "ResponseBody": {
        "etag": "LcC71f2ntOF8bXDKQvZhqwcEDf35m1UsF6Syewnc4kE",
        "key": "abcde-281653568",
        "label": "abcde",
        "content_type": null,
        "value": "Starts with abc",
        "tags": {},
        "locked": false,
        "last_modified": "2023-01-31T20:26:02\u002B00:00"
      }
    },
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv?key=abc%2A\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM1MTQ=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM1MTQ=;sn=1293514"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "LcC71f2ntOF8bXDKQvZhqwcEDf35m1UsF6Syewnc4kE",
            "key": "abcde-281653568",
            "label": "abcde",
            "content_type": null,
            "value": "Starts with abc",
            "tags": {},
            "locked": false,
            "last_modified": "2023-01-31T20:26:02\u002B00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/abcde-281653568?label=abcde\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM1MTQ=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022LcC71f2ntOF8bXDKQvZhqwcEDf35m1UsF6Syewnc4kE\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:26:02 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM1MTU=;sn=1293515"
      },
      "ResponseBody": {
        "etag": "LcC71f2ntOF8bXDKQvZhqwcEDf35m1UsF6Syewnc4kE",
        "key": "abcde-281653568",
        "label": "abcde",
        "content_type": null,
        "value": "Starts with abc",
        "tags": {},
        "locked": false,
        "last_modified": "2023-01-31T20:26:02\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://shrejaappconfiguration-azconfig-net.azconfig.io;Id=RoMR-l1-s0:NgGvLRBi23WLJ6PQ6mcy;Secret=Kg==",
    "RandomSeed": "1474297846"
  }
}
