{
  "Entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/yzabc-652906355?label=yzabc\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Rf5H9Ns/lduvC/ymiRaVwUJnono1w8u6JkAnyZCNW0g="
      },
      "RequestBody": {
        "value": "Test of ends with",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022OQ4X43xMxhcVf1zaioEE4q0MWUC\u0022",
        "Last-Modified": "Thu, 31 Oct 2019 22:17:31 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM3NDM4MDg=;sn=743808"
      },
      "ResponseBody": {
        "etag": "OQ4X43xMxhcVf1zaioEE4q0MWUC",
        "key": "yzabc-652906355",
        "label": "yzabc",
        "content_type": null,
        "value": "Test of ends with",
        "tags": {},
        "locked": false,
        "last_modified": "2019-10-31T22:17:31\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/?key=%2A-652906355\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM3NDM4MDg=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=ODotMSM3NDM4MDg=;sn=743808"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "OQ4X43xMxhcVf1zaioEE4q0MWUC",
            "key": "yzabc-652906355",
            "label": "yzabc",
            "content_type": null,
            "value": "Test of ends with",
            "tags": {},
            "locked": false,
            "last_modified": "2019-10-31T22:17:31\u002B00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/yzabc-652906355?label=yzabc\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM3NDM4MDg=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022OQ4X43xMxhcVf1zaioEE4q0MWUC\u0022",
        "Last-Modified": "Thu, 31 Oct 2019 22:17:31 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM3NDM4MDk=;sn=743809"
      },
      "ResponseBody": {
        "etag": "OQ4X43xMxhcVf1zaioEE4q0MWUC",
        "key": "yzabc-652906355",
        "label": "yzabc",
        "content_type": null,
        "value": "Test of ends with",
        "tags": {},
        "locked": false,
        "last_modified": "2019-10-31T22:17:31\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002BFOYz;Secret=;",
    "RandomSeed": "1934638093"
  }
}