{
  "Entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-%21%40%23%24%5E%26%28%29-%3D?label=label-%21%40%23%24%5E%26%28%29-%3D\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sYTQeIKQYlPgOzwf92tFXWclXBkpGE5N1Ji4imVZIxw="
      },
      "RequestBody": {
        "value": "value-!@#$^\u0026()-=",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022F2OlLpdO9NOQmw63xB3MQvjN7e5\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 14:37:19 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM2NzA5ODc=;sn=670987"
      },
      "ResponseBody": {
        "etag": "F2OlLpdO9NOQmw63xB3MQvjN7e5",
        "key": "key-!@#$^\u0026()-=",
        "label": "label-!@#$^\u0026()-=",
        "content_type": null,
        "value": "value-!@#$^\u0026()-=",
        "tags": {},
        "locked": false,
        "last_modified": "2019-10-18T14:37:19\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/?key=%2A%21%40%23%24%5E%26%28%29-%3D\u0026label=label-%21%40%23%24%5E%26%28%29-%3D\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM2NzA5ODc=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=ODotMSM2NzA5ODc=;sn=670987"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "F2OlLpdO9NOQmw63xB3MQvjN7e5",
            "key": "key-!@#$^\u0026()-=",
            "label": "label-!@#$^\u0026()-=",
            "content_type": null,
            "value": "value-!@#$^\u0026()-=",
            "tags": {},
            "locked": false,
            "last_modified": "2019-10-18T14:37:19\u002B00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-%21%40%23%24%5E%26%28%29-%3D?label=label-%21%40%23%24%5E%26%28%29-%3D\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM2NzA5ODc=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022F2OlLpdO9NOQmw63xB3MQvjN7e5\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 14:37:19 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM2NzA5ODg=;sn=670988"
      },
      "ResponseBody": {
        "etag": "F2OlLpdO9NOQmw63xB3MQvjN7e5",
        "key": "key-!@#$^\u0026()-=",
        "label": "label-!@#$^\u0026()-=",
        "content_type": null,
        "value": "value-!@#$^\u0026()-=",
        "tags": {},
        "locked": false,
        "last_modified": "2019-10-18T14:37:19\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002BFOYz;Secret=;",
    "RandomSeed": "2952416"
  }
}