{
  "Entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1301486225?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ge27ip0XjEBukeKBkd6N8KIRq3c\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 19:36:56 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM5MTEzNDk=;sn=911349"
      },
      "ResponseBody": {
        "etag": "ge27ip0XjEBukeKBkd6N8KIRq3c",
        "key": "key-1301486225",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-12-05T19:36:56\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/?api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM5MTEzNDk=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Link": "\u003C/kv/?api-version=1.0\u0026after=a2V5LTE2MTIzNTg1NjUKODI%3D\u003E; rel=\u0022next\u0022",
        "Sync-Token": "zAJw6V16=ODotMSM5MTEzNDk=;sn=911349"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "LYxPXmOPWevSwZ8iUy6Yv4leYBS",
            "key": "*abc,\\",
            "label": null,
            "content_type": "",
            "value": "*abc,\\",
            "tags": {},
            "locked": false,
            "last_modified": "2019-11-14T16:48:42\u002B00:00"
          },
          {
            "etag": "f7SFWDzNyUyHYNvNum0IeuYkz1G",
            "key": "*xyz",
            "label": null,
            "content_type": "",
            "value": "",
           [...]
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/?after=a2V5LTE2MTIzNTg1NjUKODI%3D\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM5MTEzNDk=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.ap[...]
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/?after=fmAhQCMkXiYoKV8rPVtde318OyInPD4uLy0tMTE4NzAwMjQ0MApsYWJlbC1%2BYCFAIyReJigpXys9W117fXw7Iic8Pi4vLQ%3D%3D\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM5MTEzNDk=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
    [...]
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/?after=fmAhQCMkXiYoKV8rPVtde318OyInPD4uLy0tMTQ2MTI2ODI2NQpsYWJlbC1%2BYCFAIyReJigpXys9W117fXw7Iic8Pi4vLQ%3D%3D\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM5MTEzNDk=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
    [...]
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/?after=fmAhQCMkXiYoKV8rPVtde318OyInPD4uLy0tMTczNDkxOTU5MApsYWJlbC1%2BYCFAIyReJigpXys9W117fXw7Iic8Pi4vLQ%3D%3D\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM5MTEzNDk=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
    [...]
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/?after=fmAhQCMkXiYoKV8rPVtde318OyInPD4uLy0tMjAzMTM5MTQ2MApsYWJlbC1%2BYCFAIyReJigpXys9W117fXw7Iic8Pi4vLQ%3D%3D\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM5MTEzNDk=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
    [...]
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/?after=fmAhQCMkXiYoKV8rPVtde318OyInPD4uLy0tMzgzNDQ0NTUyCmxhYmVsLX5gIUAjJF4mKClfKz1bXXt9fDsiJzw%2BLi8t\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM5MTEzNDk=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "Respo[...]
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/?after=fmAhQCMkXiYoKV8rPVtde318OyInPD4uLy0tNjQxODIwMjkKbGFiZWwtfmAhQCMkXiYoKV8rPVtde318OyInPD4uLy0%3D\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM5MTEzNDk=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "Respo[...]
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/?after=fmAhQCMkXiYoKV8rPVtde318OyInPD4uLy0tOTE2NTA3NDI5CmxhYmVsLX5gIUAjJF4mKClfKz1bXXt9fDsiJzw%2BLi8t\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM5MTEzNDk=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "Respo[...]
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1301486225?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM5MTEzNDk=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ge27ip0XjEBukeKBkd6N8KIRq3c\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 19:36:56 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM5MTEzNTA=;sn=911350"
      },
      "ResponseBody": {
        "etag": "ge27ip0XjEBukeKBkd6N8KIRq3c",
        "key": "key-1301486225",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-12-05T19:36:56\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002BFOYz;Secret=;",
    "RandomSeed": "1340716751"
  }
}