{
  "Entries": [
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/kv/BatchKey?api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022qWhybomXAfKHi0z_0ZrLeSPTvv_hQtfDm0yJYOzE6XE\u0022",
        "Last-Modified": "Fri, 19 Aug 2022 00:37:02 GMT",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjE2MDIz;sn=9216023"
      },
      "ResponseBody": {
        "etag": "qWhybomXAfKHi0z_0ZrLeSPTvv_hQtfDm0yJYOzE6XE",
        "key": "BatchKey",
        "label": null,
        "content_type": null,
        "value": "key-1353292639",
        "tags": {},
        "locked": false,
        "last_modified": "2022-08-19T00:37:02\u002B00:00"
      }
    },
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/kv?key=key-1353292639\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjE2MDIz",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Link": "\u003C/kv?key=key-1353292639\u0026api-version=1.0\u0026after=a2V5LTEzNTMyOTI2MzkKOTQ%3D\u003E; rel=\u0022next\u0022",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjE2MDIz;sn=9216023"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "h1ZHzv_KAa3bO0qnFOV_liTVtfT9vZ08IBP0Xi0gbSE",
            "key": "key-1353292639",
            "label": "0",
            "content_type": null,
            "value": "test_value",
            "tags": {},
            "locked": false,
            "last_modified": "2022-08-19T00:36:53\u002B00:00"
          },
          {
            "etag": "ZBnY-QLbbdIsHYar3LYlg4JsX_Oha4KgY3h3m0a0ZqE",
            "key": "key-1353292639",
            "label": "1",
            "con[...]
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/kv?key=key-1353292639\u0026api-version=1.0\u0026after=a2V5LTEzNTMyOTI2MzkKOTQ%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjE2MDIz",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Cont[...]
