{
  "Entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/yzabcde-631107257?label=yzabcde\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "PZVsAArJDwx9YGZNe5SZLRduoKOVD8qbTjYWb27kqA4="
      },
      "RequestBody": {
        "value": "Contains abc",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022nmYGa4PlZjM9Ngmv7HndW9tazR8\u0022",
        "Last-Modified": "Thu, 31 Oct 2019 22:17:31 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM3NDM4MDY=;sn=743806"
      },
      "ResponseBody": {
        "etag": "nmYGa4PlZjM9Ngmv7HndW9tazR8",
        "key": "yzabcde-631107257",
        "label": "yzabcde",
        "content_type": null,
        "value": "Contains abc",
        "tags": {},
        "locked": false,
        "last_modified": "2019-10-31T22:17:31\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/?key=%2Aabc%2A\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM3NDM4MDY=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Link": "\u003C/kv/?key=*abc*\u0026api-version=1.0\u0026after=eXphYmNkZS0xMzg0MzI0OTg0Cnl6YWJjZGU%3D\u003E; rel=\u0022next\u0022",
        "Sync-Token": "zAJw6V16=ODotMSM3NDM4MDY=;sn=743806"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "tBhwp31IMIWvWHdmlahd3eP1OJx",
            "key": "abcde-1166904401",
            "label": "abcde",
            "content_type": null,
            "value": "Starts with abc",
            "tags": {},
            "locked": false,
            "last_modified": "2019-10-30T13:05:03\u002B00:00"
          },
          {
            "etag": "l04UjmpTZx4HIZVMOpIZEKkEZM0",
            "key": "abcde-1303851975",
            "label": "abcde",
            "content_type": nul[...]
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/?key=%2Aabc%2A\u0026after=eXphYmNkZS0xMzg0MzI0OTg0Cnl6YWJjZGU%3D\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM3NDM4MDY=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type"[...]
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/yzabcde-631107257?label=yzabcde\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM3NDM4MDY=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022nmYGa4PlZjM9Ngmv7HndW9tazR8\u0022",
        "Last-Modified": "Thu, 31 Oct 2019 22:17:31 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM3NDM4MDc=;sn=743807"
      },
      "ResponseBody": {
        "etag": "nmYGa4PlZjM9Ngmv7HndW9tazR8",
        "key": "yzabcde-631107257",
        "label": "yzabcde",
        "content_type": null,
        "value": "Contains abc",
        "tags": {},
        "locked": false,
        "last_modified": "2019-10-31T22:17:31\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002BFOYz;Secret=;",
    "RandomSeed": "71105941"
  }
}