{
  "Entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/keyFields-1967554874?label=my_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "aDaoGrnXeLk4BtC\u002BbcUBHjAOl1G533H6XGiHrRY9PKA="
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u002207y0rLGQREt28oBKV46zdNfHcIb\u0022",
        "Last-Modified": "Mon, 14 Oct 2019 21:21:36 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM2NTEwODg=;sn=651088"
      },
      "ResponseBody": {
        "etag": "07y0rLGQREt28oBKV46zdNfHcIb",
        "key": "keyFields-1967554874",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2019-10-14T21:21:36\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/?key=keyFields-1967554874\u0026$select=key%2C%20label%2C%20etag\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM2NTEwODg=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=ODotMSM2NTEwODg=;sn=651088"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "07y0rLGQREt28oBKV46zdNfHcIb",
            "key": "keyFields-1967554874",
            "label": "my_label"
          }
        ]
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/keyFields-1967554874?label=my_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM2NTEwODg=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u002207y0rLGQREt28oBKV46zdNfHcIb\u0022",
        "Last-Modified": "Mon, 14 Oct 2019 21:21:36 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM2NTEwODk=;sn=651089"
      },
      "ResponseBody": {
        "etag": "07y0rLGQREt28oBKV46zdNfHcIb",
        "key": "keyFields-1967554874",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2019-10-14T21:21:36\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002BFOYz;Secret=;",
    "RandomSeed": "418959735"
  }
}