{
  "Entries": [
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/key-1198607700?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ylG7ImYxpnFQYLdNgAKEtrJUiwO7Jo4RVpADx6fZ9kE\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:24:51 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTMzNjI=;sn=1293362"
      },
      "ResponseBody": {
        "etag": "ylG7ImYxpnFQYLdNgAKEtrJUiwO7Jo4RVpADx6fZ9kE",
        "key": "key-1198607700",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-01-31T20:24:51\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/key-1198607700?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTMzNjI=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ylG7ImYxpnFQYLdNgAKEtrJUiwO7Jo4RVpADx6fZ9kE\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:24:51 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTMzNjM=;sn=1293363"
      },
      "ResponseBody": {
        "etag": "ylG7ImYxpnFQYLdNgAKEtrJUiwO7Jo4RVpADx6fZ9kE",
        "key": "key-1198607700",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-01-31T20:24:51\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://shrejaappconfiguration-azconfig-net.azconfig.io;Id=RoMR-l1-s0:NgGvLRBi23WLJ6PQ6mcy;Secret=Kg==",
    "RandomSeed": "988540323"
  }
}
