{
  "Entries": [
    {
      "RequestUri": "https://pakrymac3-azconfig-net.azconfig.io/kv/key-1772305825?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022NPFxFAlIGN4Dh5te05sBDP4VwBh\u0022",
        "Last-Modified": "Fri, 06 Aug 2021 20:15:17 GMT",
        "Sync-Token": "zAJw6V16=MDoxNyMxMDMzMzUzNQ==;sn=10333535"
      },
      "ResponseBody": {
        "etag": "NPFxFAlIGN4Dh5te05sBDP4VwBh",
        "key": "key-1772305825",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2021-08-06T20:15:17\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://pakrymac3-azconfig-net.azconfig.io/kv/key-1772305825?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=MDoxNyMxMDMzMzUzNQ==",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022NPFxFAlIGN4Dh5te05sBDP4VwBh\u0022",
        "Last-Modified": "Fri, 06 Aug 2021 20:15:17 GMT",
        "Sync-Token": "zAJw6V16=MDoxNyMxMDMzMzUzNg==;sn=10333536"
      },
      "ResponseBody": {
        "etag": "NPFxFAlIGN4Dh5te05sBDP4VwBh",
        "key": "key-1772305825",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2021-08-06T20:15:17\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://pakrymac3-azconfig-net.azconfig.io;Id=BbJ0-l2-s0:PUvmSHe8jF0liHP7M/IX;Secret=Kg==",
    "RandomSeed": "138742230"
  }
}