{
  "Entries": [
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/key-2053040160?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022oUjYIpH_X9jaIp1s15wNEc61b1GG8j9Y3X5PmYtXtks\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:26:13 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM1NDY=;sn=1293546"
      },
      "ResponseBody": {
        "etag": "oUjYIpH_X9jaIp1s15wNEc61b1GG8j9Y3X5PmYtXtks",
        "key": "key-2053040160",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-01-31T20:26:13\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/key-2053040160?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM1NDg=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022kSgvGet3TZAWOIdbSnTEsAklvGTH8sBK_m4fky6hxkk\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:26:14 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM1NDk=;sn=1293549"
      },
      "ResponseBody": {
        "etag": "kSgvGet3TZAWOIdbSnTEsAklvGTH8sBK_m4fky6hxkk",
        "key": "key-2053040160",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-01-31T20:26:14\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://shrejaappconfiguration-azconfig-net.azconfig.io;Id=RoMR-l1-s0:NgGvLRBi23WLJ6PQ6mcy;Secret=Kg==",
    "RandomSeed": "428820379"
  }
}
