{
  "Entries": [
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/kv/key-1453718700?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022C4YxNrYbUqdBAqo8xb7IkNpRtr4MEyf_oi22wB_80AY\u0022",
        "Last-Modified": "Fri, 19 Aug 2022 01:01:26 GMT",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3OTAw;sn=9207900"
      },
      "ResponseBody": {
        "etag": "C4YxNrYbUqdBAqo8xb7IkNpRtr4MEyf_oi22wB_80AY",
        "key": "key-1453718700",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2022-08-19T01:01:26\u002B00:00"
      }
    },
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/kv/key-1453718700?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3OTAw",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022C4YxNrYbUqdBAqo8xb7IkNpRtr4MEyf_oi22wB_80AY\u0022",
        "Last-Modified": "Fri, 19 Aug 2022 01:01:26 GMT",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3OTAx;sn=9207901"
      },
      "ResponseBody": {
        "etag": "C4YxNrYbUqdBAqo8xb7IkNpRtr4MEyf_oi22wB_80AY",
        "key": "key-1453718700",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2022-08-19T01:01:26\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io;Id=FDfK-l2-s0:mngxQOl8i8oeTC1tVysQ;Secret=Kg==",
    "RandomSeed": "2061726853"
  }
}
