{
  "Entries": [
    {
      "RequestUri": "https://pakrymappconfiguration-azconfig-net.azconfig.io/kv/key-1803235105?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022bBVVSukClZOcUU3kUYhZ42XCJ7j\u0022",
        "Last-Modified": "Mon, 08 Feb 2021 19:13:53 GMT",
        "Sync-Token": "zAJw6V16=MDozIzY4NzE0NDA=;sn=6871440",
        "x-ms-tenant-name": "pakrymappconfiguration-azconfig-net"
      },
      "ResponseBody": {
        "etag": "bBVVSukClZOcUU3kUYhZ42XCJ7j",
        "key": "key-1803235105",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2021-02-08T19:13:53\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrymappconfiguration-azconfig-net.azconfig.io/kv/key-1803235105?label=test_label_update\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=MDozIzY4NzE0NDA=",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022cJBQz76jwCi6dmolxGEV8txKInk\u0022",
        "Last-Modified": "Mon, 08 Feb 2021 19:13:53 GMT",
        "Sync-Token": "zAJw6V16=MDozIzY4NzE0NDE=;sn=6871441",
        "x-ms-tenant-name": "pakrymappconfiguration-azconfig-net"
      },
      "ResponseBody": {
        "etag": "cJBQz76jwCi6dmolxGEV8txKInk",
        "key": "key-1803235105",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2021-02-08T19:13:53\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrymappconfiguration-azconfig-net.azconfig.io/revisions/?key=key-1803235105\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "Fri, 31 Dec 9999 23:59:59 GMT",
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=MDozIzY4NzE0NDE=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=MDozIzY4NzE0NDE=;sn=6871441",
        "x-ms-tenant-name": "pakrymappconfiguration-azconfig-net"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "bBVVSukClZOcUU3kUYhZ42XCJ7j",
            "key": "key-1803235105",
            "label": "test_label",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2021-02-08T19:13:53\u002B00:00"
          },
          {
            "etag": "cJBQz76jwCi6dmolxGEV8txKInk",
            "key": "key-1803235105",
            "label": "test_label_update",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2021-02-08T19:13:53\u002B00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://pakrymappconfiguration-azconfig-net.azconfig.io/kv/key-1803235105?label=test_label_update\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=MDozIzY4NzE0NDI=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022cJBQz76jwCi6dmolxGEV8txKInk\u0022",
        "Last-Modified": "Mon, 08 Feb 2021 19:13:53 GMT",
        "Sync-Token": "zAJw6V16=MDozIzY4NzE0NDM=;sn=6871443",
        "x-ms-tenant-name": "pakrymappconfiguration-azconfig-net"
      },
      "ResponseBody": {
        "etag": "cJBQz76jwCi6dmolxGEV8txKInk",
        "key": "key-1803235105",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2021-02-08T19:13:53\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://pakrymappconfiguration-azconfig-net.azconfig.io;Id=HJQj-l2-s0:y/nolwTrxZa9soWjduE/;Secret=Kg==",
    "RandomSeed": "582341739"
  }
}