{
  "Entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1676541143?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022qyfcOoe1YVJKrZK8nmw1SbBS9OD\u0022",
        "Last-Modified": "Tue, 12 Nov 2019 22:56:25 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM4MDQyNjk=;sn=804269"
      },
      "ResponseBody": {
        "etag": "qyfcOoe1YVJKrZK8nmw1SbBS9OD",
        "key": "key-1676541143",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-11-12T22:56:25\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1676541143?label=test_label_update\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=ODotMSM4MDQyNjk=",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022cBGwLAMHHmADzT2GXwEEKuxOgmf\u0022",
        "Last-Modified": "Tue, 12 Nov 2019 22:56:25 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM4MDQyNzA=;sn=804270"
      },
      "ResponseBody": {
        "etag": "cBGwLAMHHmADzT2GXwEEKuxOgmf",
        "key": "key-1676541143",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-11-12T22:56:25\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/revisions/?key=key-1676541143\u0026label=test_label_update\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM4MDQyNzA=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=ODotMSM4MDQyNzA=;sn=804270"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "cBGwLAMHHmADzT2GXwEEKuxOgmf",
            "key": "key-1676541143",
            "label": "test_label_update",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2019-11-12T22:56:25\u002B00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1676541143?label=test_label_update\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM4MDQyNzE=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022cBGwLAMHHmADzT2GXwEEKuxOgmf\u0022",
        "Last-Modified": "Tue, 12 Nov 2019 22:56:25 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM4MDQyNzI=;sn=804272"
      },
      "ResponseBody": {
        "etag": "cBGwLAMHHmADzT2GXwEEKuxOgmf",
        "key": "key-1676541143",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-11-12T22:56:25\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002BFOYz;Secret=;",
    "RandomSeed": "1528073391"
  }
}