{
  "Entries": [
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/kv/key-774108484?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Ki3DRYzq4uIv-3tHCDkbWjrW7JL2HgvPW-BGzoGZ24Q\u0022",
        "Last-Modified": "Fri, 19 Aug 2022 00:53:32 GMT",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3NjIy;sn=9207622"
      },
      "ResponseBody": {
        "etag": "Ki3DRYzq4uIv-3tHCDkbWjrW7JL2HgvPW-BGzoGZ24Q",
        "key": "key-774108484",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2022-08-19T00:53:32\u002B00:00"
      }
    },
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/kv/key-774108484?label=test_label_update\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3NjIy",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ySxP5p36dI1f8oa1ciOs63lVxrlC2w0ghEVi9VUTmeI\u0022",
        "Last-Modified": "Fri, 19 Aug 2022 00:53:32 GMT",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3NjIz;sn=9207623"
      },
      "ResponseBody": {
        "etag": "ySxP5p36dI1f8oa1ciOs63lVxrlC2w0ghEVi9VUTmeI",
        "key": "key-774108484",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2022-08-19T00:53:32\u002B00:00"
      }
    },
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/revisions?key=key-774108484\u0026label=test_label_update\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3NjIz",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3NjIz;sn=9207623"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "ySxP5p36dI1f8oa1ciOs63lVxrlC2w0ghEVi9VUTmeI",
            "key": "key-774108484",
            "label": "test_label_update",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2022-08-19T00:53:32\u002B00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/kv/key-774108484?label=test_label_update\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3NjI0",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ySxP5p36dI1f8oa1ciOs63lVxrlC2w0ghEVi9VUTmeI\u0022",
        "Last-Modified": "Fri, 19 Aug 2022 00:53:32 GMT",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3NjI1;sn=9207625"
      },
      "ResponseBody": {
        "etag": "ySxP5p36dI1f8oa1ciOs63lVxrlC2w0ghEVi9VUTmeI",
        "key": "key-774108484",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2022-08-19T00:53:32\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io;Id=FDfK-l2-s0:mngxQOl8i8oeTC1tVysQ;Secret=Kg==",
    "RandomSeed": "738022220"
  }
}
