{
  "Entries": [
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/key-660471830?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022vK9vote1OBgIp9hBxEdi_o6ta2Ki9HYZW5SPsl0Ev_Y\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:26:20 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM1NjA=;sn=1293560"
      },
      "ResponseBody": {
        "etag": "vK9vote1OBgIp9hBxEdi_o6ta2Ki9HYZW5SPsl0Ev_Y",
        "key": "key-660471830",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-01-31T20:26:20\u002B00:00"
      }
    },
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/key-660471830?label=test_label_update\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM1NjA=",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022lhg9kHjNT5mKiJW2NM9SJFN5tRrxnOonJvQK4ZaePbU\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:26:20 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM1NjE=;sn=1293561"
      },
      "ResponseBody": {
        "etag": "lhg9kHjNT5mKiJW2NM9SJFN5tRrxnOonJvQK4ZaePbU",
        "key": "key-660471830",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-01-31T20:26:20\u002B00:00"
      }
    },
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/revisions?key=key-660471830\u0026label=test_label_update\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM1NjE=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM1NjE=;sn=1293561"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "lhg9kHjNT5mKiJW2NM9SJFN5tRrxnOonJvQK4ZaePbU",
            "key": "key-660471830",
            "label": "test_label_update",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2023-01-31T20:26:20\u002B00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/key-660471830?label=test_label_update\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM1NjI=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022lhg9kHjNT5mKiJW2NM9SJFN5tRrxnOonJvQK4ZaePbU\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:26:20 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM1NjM=;sn=1293563"
      },
      "ResponseBody": {
        "etag": "lhg9kHjNT5mKiJW2NM9SJFN5tRrxnOonJvQK4ZaePbU",
        "key": "key-660471830",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-01-31T20:26:20\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://shrejaappconfiguration-azconfig-net.azconfig.io;Id=RoMR-l1-s0:NgGvLRBi23WLJ6PQ6mcy;Secret=Kg==",
    "RandomSeed": "1962966867"
  }
}
