{
  "Entries": [
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/kv/key-23194544?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022rKADUdbuOnTRwPR1U3Nw1UwdK1-vf7isMxYj2GIbaP0\u0022",
        "Last-Modified": "Fri, 19 Aug 2022 17:01:57 GMT",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjE2MDI0;sn=9216024"
      },
      "ResponseBody": {
        "etag": "rKADUdbuOnTRwPR1U3Nw1UwdK1-vf7isMxYj2GIbaP0",
        "key": "key-23194544",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2022-08-19T17:01:57\u002B00:00"
      }
    },
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/kv/key-23194544?label=test_label_update\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjE2MDI0",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00229FLBb2IaMyOGz1YFj-_V1VAEhDboNQ58Azd9_qksQEc\u0022",
        "Last-Modified": "Fri, 19 Aug 2022 17:01:57 GMT",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjE2MDI1;sn=9216025"
      },
      "ResponseBody": {
        "etag": "9FLBb2IaMyOGz1YFj-_V1VAEhDboNQ58Azd9_qksQEc",
        "key": "key-23194544",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2022-08-19T17:01:57\u002B00:00"
      }
    },
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/revisions?key=key-23194544\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "Fri, 31 Dec 9999 23:59:59 GMT",
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjE2MDI1",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjE2MDI1;sn=9216025"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "9FLBb2IaMyOGz1YFj-_V1VAEhDboNQ58Azd9_qksQEc",
            "key": "key-23194544",
            "label": "test_label_update",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2022-08-19T17:01:57\u002B00:00"
          },
          {
            "etag": "rKADUdbuOnTRwPR1U3Nw1UwdK1-vf7isMxYj2GIbaP0",
            "key": "key-23194544",
            "label": "test_label",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2022-08-19T17:01:57\u002B00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/kv/key-23194544?label=test_label_update\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjE2MDI2",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00229FLBb2IaMyOGz1YFj-_V1VAEhDboNQ58Azd9_qksQEc\u0022",
        "Last-Modified": "Fri, 19 Aug 2022 17:01:57 GMT",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjE2MDI3;sn=9216027"
      },
      "ResponseBody": {
        "etag": "9FLBb2IaMyOGz1YFj-_V1VAEhDboNQ58Azd9_qksQEc",
        "key": "key-23194544",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2022-08-19T17:01:57\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io;Id=FDfK-l2-s0:mngxQOl8i8oeTC1tVysQ;Secret=Kg==",
    "RandomSeed": "1201377418"
  }
}
