{
  "Entries": [
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/key-1799773378?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00221Ws6d-inOMaKC_3GltNNyXsl7_u-qUWl87GVXN2kd50\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:25:05 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTMzODg=;sn=1293388"
      },
      "ResponseBody": {
        "etag": "1Ws6d-inOMaKC_3GltNNyXsl7_u-qUWl87GVXN2kd50",
        "key": "key-1799773378",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-01-31T20:25:05\u002B00:00"
      }
    },
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/key-1799773378?label=test_label\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022this won\u0027t match\u0022",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTMzODg=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00221Ws6d-inOMaKC_3GltNNyXsl7_u-qUWl87GVXN2kd50\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:25:05 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTMzODg=;sn=1293388"
      },
      "ResponseBody": {
        "etag": "1Ws6d-inOMaKC_3GltNNyXsl7_u-qUWl87GVXN2kd50",
        "key": "key-1799773378",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-01-31T20:25:05\u002B00:00"
      }
    },
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/key-1799773378?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTMzODg=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00221Ws6d-inOMaKC_3GltNNyXsl7_u-qUWl87GVXN2kd50\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:25:05 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTMzODk=;sn=1293389"
      },
      "ResponseBody": {
        "etag": "1Ws6d-inOMaKC_3GltNNyXsl7_u-qUWl87GVXN2kd50",
        "key": "key-1799773378",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-01-31T20:25:05\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://shrejaappconfiguration-azconfig-net.azconfig.io;Id=RoMR-l1-s0:NgGvLRBi23WLJ6PQ6mcy;Secret=Kg==",
    "RandomSeed": "1129515328"
  }
}
