{
  "Entries": [
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/kv/key-1311549920?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022v4TIC4gCLmMnAQxIWIALVEI8fjOF16TYqkqHPJ76eJc\u0022",
        "Last-Modified": "Fri, 19 Aug 2022 00:56:00 GMT",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3NjUy;sn=9207652"
      },
      "ResponseBody": {
        "etag": "v4TIC4gCLmMnAQxIWIALVEI8fjOF16TYqkqHPJ76eJc",
        "key": "key-1311549920",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2022-08-19T00:56:00\u002B00:00"
      }
    },
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/kv/key-1311549920?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3NjUy",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022aS9fckgQxf0uBM2YqYvZqUaKozfLhaLL4eQo6YNO6UA\u0022",
        "Last-Modified": "Fri, 19 Aug 2022 00:56:01 GMT",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3NjUz;sn=9207653"
      },
      "ResponseBody": {
        "etag": "aS9fckgQxf0uBM2YqYvZqUaKozfLhaLL4eQo6YNO6UA",
        "key": "key-1311549920",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2022-08-19T00:56:01\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/kv/key-1311549920?api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3NjU0",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022v4TIC4gCLmMnAQxIWIALVEI8fjOF16TYqkqHPJ76eJc\u0022",
        "Last-Modified": "Fri, 19 Aug 2022 00:56:00 GMT",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3NjU1;sn=9207655"
      },
      "ResponseBody": {
        "etag": "v4TIC4gCLmMnAQxIWIALVEI8fjOF16TYqkqHPJ76eJc",
        "key": "key-1311549920",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2022-08-19T00:56:00\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io;Id=FDfK-l2-s0:mngxQOl8i8oeTC1tVysQ;Secret=Kg==",
    "RandomSeed": "1124421989"
  }
}
