{
  "Entries": [
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--1362772582?label=label-~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F-\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "IYqatbqQIAqCRjWZPzXr7bolkCXMwIR9XGVBbyQCXwI="
      },
      "RequestBody": {
        "value": "value-~\u0060!@#$^\u0026()_\u002B=[]{}|;\u0022\u0027\u003C\u003E./-",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022u0q9Re41Aws9Sjr977s0akYj0wgDPO5PCo3S243kYAA\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:25:00 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTMzODA=;sn=1293380"
      },
      "ResponseBody": {
        "etag": "u0q9Re41Aws9Sjr977s0akYj0wgDPO5PCo3S243kYAA",
        "key": "~\u0060!@#$^\u0026()_\u002B=[]{}|;\u0022\u0027\u003C\u003E./--1362772582",
        "label": "label-~\u0060!@#$^\u0026()_\u002B=[]{}|;\u0022\u0027\u003C\u003E./-",
        "content_type": null,
        "value": "value-~\u0060!@#$^\u0026()_\u002B=[]{}|;\u0022\u0027\u003C\u003E./-",
        "tags": {},
        "locked": false,
        "last_modified": "2023-01-31T20:25:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--1362772582?label=label-~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F-\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTMzODA=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022u0q9Re41Aws9Sjr977s0akYj0wgDPO5PCo3S243kYAA\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:25:00 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTMzODE=;sn=1293381"
      },
      "ResponseBody": {
        "etag": "u0q9Re41Aws9Sjr977s0akYj0wgDPO5PCo3S243kYAA",
        "key": "~\u0060!@#$^\u0026()_\u002B=[]{}|;\u0022\u0027\u003C\u003E./--1362772582",
        "label": "label-~\u0060!@#$^\u0026()_\u002B=[]{}|;\u0022\u0027\u003C\u003E./-",
        "content_type": null,
        "value": "value-~\u0060!@#$^\u0026()_\u002B=[]{}|;\u0022\u0027\u003C\u003E./-",
        "tags": {},
        "locked": false,
        "last_modified": "2023-01-31T20:25:00\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://shrejaappconfiguration-azconfig-net.azconfig.io;Id=RoMR-l1-s0:NgGvLRBi23WLJ6PQ6mcy;Secret=Kg==",
    "RandomSeed": "996754548"
  }
}
