{
  "Entries": [
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/kv/key-880428844?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00224T1jv4ME5QdVSEgPrxOw6r1k4CuOamnWlAsbrh_aTeE\u0022",
        "Last-Modified": "Fri, 19 Aug 2022 01:01:27 GMT",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3OTEw;sn=9207910"
      },
      "ResponseBody": {
        "etag": "4T1jv4ME5QdVSEgPrxOw6r1k4CuOamnWlAsbrh_aTeE",
        "key": "key-880428844",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2022-08-19T01:01:27\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/kv/key-880428844?api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3OTEw",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00224T1jv4ME5QdVSEgPrxOw6r1k4CuOamnWlAsbrh_aTeE\u0022",
        "Last-Modified": "Fri, 19 Aug 2022 01:01:27 GMT",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3OTEx;sn=9207911"
      },
      "ResponseBody": {
        "etag": "4T1jv4ME5QdVSEgPrxOw6r1k4CuOamnWlAsbrh_aTeE",
        "key": "key-880428844",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2022-08-19T01:01:27\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io;Id=FDfK-l2-s0:mngxQOl8i8oeTC1tVysQ;Secret=Kg==",
    "RandomSeed": "520839110"
  }
}
