{
  "Entries": [
    {
      "RequestUri": "https://pakrymac2-azconfig-net.azconfig.io/kv/key-1419445568?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022pAhP5EtGMGMAlOkExxbUTddteOH\u0022",
        "Last-Modified": "Tue, 08 Jun 2021 17:44:48 GMT",
        "Sync-Token": "zAJw6V16=MDoxNyM5MTgzNTM3;sn=9183537"
      },
      "ResponseBody": {
        "etag": "pAhP5EtGMGMAlOkExxbUTddteOH",
        "key": "key-1419445568",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2021-06-08T17:44:48\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrymac2-azconfig-net.azconfig.io/kv/key-1419445568?label=test_label\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022pAhP5EtGMGMAlOkExxbUTddteOH\u0022",
        "Sync-Token": "zAJw6V16=MDoxNyM5MTgzNTM3",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "ETag": "\u0022pAhP5EtGMGMAlOkExxbUTddteOH\u0022",
        "Sync-Token": "zAJw6V16=MDoxNyM5MTgzNTM3;sn=9183537"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://pakrymac2-azconfig-net.azconfig.io/kv/key-1419445568?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=MDoxNyM5MTgzNTM3",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022pAhP5EtGMGMAlOkExxbUTddteOH\u0022",
        "Last-Modified": "Tue, 08 Jun 2021 17:44:48 GMT",
        "Sync-Token": "zAJw6V16=MDoxNyM5MTgzNTM4;sn=9183538"
      },
      "ResponseBody": {
        "etag": "pAhP5EtGMGMAlOkExxbUTddteOH",
        "key": "key-1419445568",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2021-06-08T17:44:48\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://pakrymac2-azconfig-net.azconfig.io;Id=1Umh-l2-s0:lhr9xPc/4znKhCwqJnXu;Secret=Kg==",
    "RandomSeed": "776667577"
  }
}