{
  "Entries": [
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/key-1843388117?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Cntbtjrv9I9ISb2M6LYWsxFdUghsNuwyThvqjBEegAU\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:25:08 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTMzOTQ=;sn=1293394"
      },
      "ResponseBody": {
        "etag": "Cntbtjrv9I9ISb2M6LYWsxFdUghsNuwyThvqjBEegAU",
        "key": "key-1843388117",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-01-31T20:25:08\u002B00:00"
      }
    },
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/key-1843388117?label=test_label\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "Fri, 31 Dec 9999 23:59:59 GMT",
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTMzOTQ=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Cntbtjrv9I9ISb2M6LYWsxFdUghsNuwyThvqjBEegAU\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:25:08 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTMzOTQ=;sn=1293394"
      },
      "ResponseBody": {
        "etag": "Cntbtjrv9I9ISb2M6LYWsxFdUghsNuwyThvqjBEegAU",
        "key": "key-1843388117",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-01-31T20:25:08\u002B00:00"
      }
    },
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/key-1843388117?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTMzOTQ=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Cntbtjrv9I9ISb2M6LYWsxFdUghsNuwyThvqjBEegAU\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:25:08 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTMzOTU=;sn=1293395"
      },
      "ResponseBody": {
        "etag": "Cntbtjrv9I9ISb2M6LYWsxFdUghsNuwyThvqjBEegAU",
        "key": "key-1843388117",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-01-31T20:25:08\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://shrejaappconfiguration-azconfig-net.azconfig.io;Id=RoMR-l1-s0:NgGvLRBi23WLJ6PQ6mcy;Secret=Kg==",
    "RandomSeed": "2121528186"
  }
}
