{
  "Entries": [
    {
      "RequestUri": "https://pakrymac3-azconfig-net.azconfig.io/kv/key-383899308?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022TgsYQAcQRPuLktq64XUFkkWxBET\u0022",
        "Last-Modified": "Tue, 27 Jul 2021 20:56:53 GMT",
        "Sync-Token": "zAJw6V16=MDoxNyMxMDA2NTAxOQ==;sn=10065019"
      },
      "ResponseBody": {
        "etag": "TgsYQAcQRPuLktq64XUFkkWxBET",
        "key": "key-383899308",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2021-07-27T20:56:53\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrymac3-azconfig-net.azconfig.io/kv/key-383899308?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022this won\u0027t match\u0022",
        "Sync-Token": "zAJw6V16=MDoxNyMxMDA2NTAxOQ==",
        "x-ms-content-sha256": "cp47nivaZe17VFjne26t9da/3i46xDhZzlgBqySiH5M="
      },
      "RequestBody": {
        "value": "new value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "etag": "TgsYQAcQRPuLktq64XUFkkWxBET"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://pakrymac3-azconfig-net.azconfig.io/kv/key-383899308?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=MDoxNyMxMDA2NTAxOQ==",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022TgsYQAcQRPuLktq64XUFkkWxBET\u0022",
        "Last-Modified": "Tue, 27 Jul 2021 20:56:53 GMT",
        "Sync-Token": "zAJw6V16=MDoxNyMxMDA2NTAyMA==;sn=10065020"
      },
      "ResponseBody": {
        "etag": "TgsYQAcQRPuLktq64XUFkkWxBET",
        "key": "key-383899308",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2021-07-27T20:56:53\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://pakrymac3-azconfig-net.azconfig.io;Id=BbJ0-l2-s0:PUvmSHe8jF0liHP7M/IX;Secret=Kg==",
    "RandomSeed": "659432654"
  }
}