{
  "Entries": [
    {
      "RequestUri": "https://pakrymac3-azconfig-net.azconfig.io/kv/key-1282878347?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022JmW7fBI3Xzsdez12VKa8sXuppjA\u0022",
        "Last-Modified": "Tue, 27 Jul 2021 20:56:53 GMT",
        "Sync-Token": "zAJw6V16=MDoxNyMxMDA2NTAzMQ==;sn=10065031"
      },
      "ResponseBody": {
        "etag": "JmW7fBI3Xzsdez12VKa8sXuppjA",
        "key": "key-1282878347",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2021-07-27T20:56:53\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrymac3-azconfig-net.azconfig.io/kv/key-1282878347?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "\u0022JmW7fBI3Xzsdez12VKa8sXuppjA\u0022",
        "Sync-Token": "zAJw6V16=MDoxNyMxMDA2NTAzMQ==",
        "x-ms-content-sha256": "SiC1dFI0kZCX\u002BV3xM9BsY9iay/qRqAGcjYZLjDdn7CQ="
      },
      "RequestBody": {
        "value": "new value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "etag": "JmW7fBI3Xzsdez12VKa8sXuppjA"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://pakrymac3-azconfig-net.azconfig.io/kv/key-1282878347?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=MDoxNyMxMDA2NTAzMQ==",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022JmW7fBI3Xzsdez12VKa8sXuppjA\u0022",
        "Last-Modified": "Tue, 27 Jul 2021 20:56:53 GMT",
        "Sync-Token": "zAJw6V16=MDoxNyMxMDA2NTAzMg==;sn=10065032"
      },
      "ResponseBody": {
        "etag": "JmW7fBI3Xzsdez12VKa8sXuppjA",
        "key": "key-1282878347",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2021-07-27T20:56:53\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://pakrymac3-azconfig-net.azconfig.io;Id=BbJ0-l2-s0:PUvmSHe8jF0liHP7M/IX;Secret=Kg==",
    "RandomSeed": "1884425833"
  }
}