{
  "Entries": [
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/key-1485305307?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022yGGC1J29q7OR8TQeJHPaD6gzZyTDqRjZnfY8t9wsTrs\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:26:33 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM1ODQ=;sn=1293584"
      },
      "ResponseBody": {
        "etag": "yGGC1J29q7OR8TQeJHPaD6gzZyTDqRjZnfY8t9wsTrs",
        "key": "key-1485305307",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-01-31T20:26:33\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/key-1485305307?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM1ODU=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022APYHiQabNuPFspUrScG_ApEdUfwo6q0YrNrxOvwI0VQ\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:26:33 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM1ODc=;sn=1293587"
      },
      "ResponseBody": {
        "etag": "APYHiQabNuPFspUrScG_ApEdUfwo6q0YrNrxOvwI0VQ",
        "key": "key-1485305307",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-01-31T20:26:33\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://shrejaappconfiguration-azconfig-net.azconfig.io;Id=RoMR-l1-s0:NgGvLRBi23WLJ6PQ6mcy;Secret=Kg==",
    "RandomSeed": "613018277"
  }
}
