{
  "Entries": [
    {
      "RequestUri": "https://pakrymappconfiguration-azconfig-net.azconfig.io/kv/key-564516400?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022VU0peC0QfXFAe9ys1g656NHL8gc\u0022",
        "Last-Modified": "Mon, 08 Feb 2021 19:13:53 GMT",
        "Sync-Token": "zAJw6V16=MDozIzY4NzE0NjY=;sn=6871466",
        "x-ms-tenant-name": "pakrymappconfiguration-azconfig-net"
      },
      "ResponseBody": {
        "etag": "VU0peC0QfXFAe9ys1g656NHL8gc",
        "key": "key-564516400",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2021-02-08T19:13:53\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrymappconfiguration-azconfig-net.azconfig.io/kv/key-564516400?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022VU0peC0QfXFAe9ys1g656NHL8gc\u0022",
        "Sync-Token": "zAJw6V16=MDozIzY4NzE0NjY=",
        "x-ms-content-sha256": "CKnqV9O3NBflg1NLc/tHAecMLRpprcJXHxALzEPRiCU="
      },
      "RequestBody": {
        "value": "new_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "etag": "VU0peC0QfXFAe9ys1g656NHL8gc"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Krs3HYobPOUDTIgdvWF7ECa8yP5\u0022",
        "Last-Modified": "Mon, 08 Feb 2021 19:13:53 GMT",
        "Sync-Token": "zAJw6V16=MDozIzY4NzE0Njc=;sn=6871467",
        "x-ms-tenant-name": "pakrymappconfiguration-azconfig-net"
      },
      "ResponseBody": {
        "etag": "Krs3HYobPOUDTIgdvWF7ECa8yP5",
        "key": "key-564516400",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2021-02-08T19:13:53\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrymappconfiguration-azconfig-net.azconfig.io/kv/key-564516400?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=MDozIzY4NzE0Njc=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Krs3HYobPOUDTIgdvWF7ECa8yP5\u0022",
        "Last-Modified": "Mon, 08 Feb 2021 19:13:53 GMT",
        "Sync-Token": "zAJw6V16=MDozIzY4NzE0Njg=;sn=6871468",
        "x-ms-tenant-name": "pakrymappconfiguration-azconfig-net"
      },
      "ResponseBody": {
        "etag": "Krs3HYobPOUDTIgdvWF7ECa8yP5",
        "key": "key-564516400",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2021-02-08T19:13:53\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://pakrymappconfiguration-azconfig-net.azconfig.io;Id=HJQj-l2-s0:y/nolwTrxZa9soWjduE/;Secret=Kg==",
    "RandomSeed": "236627790"
  }
}