{
  "Entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1612456222?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022oz5bIldqXjaOjHH0LjIkLAr2J9w\u0022",
        "Last-Modified": "Sun, 29 Sep 2019 17:37:47 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM1ODU1NTI=;sn=585552"
      },
      "ResponseBody": {
        "etag": "oz5bIldqXjaOjHH0LjIkLAr2J9w",
        "key": "key-1612456222",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-09-29T17:37:47\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1612456222?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022oz5bIldqXjaOjHH0LjIkLAr2J9w\u0022",
        "Sync-Token": "zAJw6V16=ODotMSM1ODU1NTM=",
        "x-ms-content-sha256": "M2UAMV4hOmi0lLlNQawKArbKOmaYcDL9YBA\u002BowXSBd4="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "etag": "oz5bIldqXjaOjHH0LjIkLAr2J9w"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1612456222?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM1ODU1NTM=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Kcc6dK6tKWqdNQAiqIaJR1I8qGv\u0022",
        "Last-Modified": "Sun, 29 Sep 2019 17:37:47 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM1ODU1NTQ=;sn=585554"
      },
      "ResponseBody": {
        "etag": "Kcc6dK6tKWqdNQAiqIaJR1I8qGv",
        "key": "key-1612456222",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-09-29T17:37:47\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002BFOYz;Secret=;",
    "RandomSeed": "1874420941"
  }
}