{
  "Entries": [
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/kv/key-552115026?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022NjDqfx23nE3PqJbfwmleY28wSYYzdZwSe2KQO1-UKao\u0022",
        "Last-Modified": "Fri, 19 Aug 2022 01:01:31 GMT",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3OTM4;sn=9207938"
      },
      "ResponseBody": {
        "etag": "NjDqfx23nE3PqJbfwmleY28wSYYzdZwSe2KQO1-UKao",
        "key": "key-552115026",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2022-08-19T01:01:31\u002B00:00"
      }
    },
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/kv/key-552115026?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022NjDqfx23nE3PqJbfwmleY28wSYYzdZwSe2KQO1-UKao\u0022",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3OTM4",
        "x-ms-content-sha256": "AJvnB4s4/hRzLdjpyWoXm3OchG/e/QpuwqRu560lyVs="
      },
      "RequestBody": {
        "value": "new_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "etag": "NjDqfx23nE3PqJbfwmleY28wSYYzdZwSe2KQO1-UKao"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022l6QE6DXZ6hhZzJGFxI9ZXHs551kE5ldsCUR4oTYIvXA\u0022",
        "Last-Modified": "Fri, 19 Aug 2022 01:01:31 GMT",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3OTM5;sn=9207939"
      },
      "ResponseBody": {
        "etag": "l6QE6DXZ6hhZzJGFxI9ZXHs551kE5ldsCUR4oTYIvXA",
        "key": "key-552115026",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2022-08-19T01:01:31\u002B00:00"
      }
    },
    {
      "RequestUri": "https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io/kv/key-552115026?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3OTM5",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022l6QE6DXZ6hhZzJGFxI9ZXHs551kE5ldsCUR4oTYIvXA\u0022",
        "Last-Modified": "Fri, 19 Aug 2022 01:01:31 GMT",
        "Sync-Token": "zAJw6V16=MjoxNyM5MjA3OTQx;sn=9207941"
      },
      "ResponseBody": {
        "etag": "l6QE6DXZ6hhZzJGFxI9ZXHs551kE5ldsCUR4oTYIvXA",
        "key": "key-552115026",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2022-08-19T01:01:31\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t-dnnwaokochaappconfig-azconfig-net.azconfig.io;Id=FDfK-l2-s0:mngxQOl8i8oeTC1tVysQ;Secret=Kg==",
    "RandomSeed": "1031455249"
  }
}
