{
  "Entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1239750290?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022dr75C8IB9qPpT9bYtbPkxUTD84f\u0022",
        "Last-Modified": "Sun, 29 Sep 2019 17:37:47 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM1ODU1NTU=;sn=585555"
      },
      "ResponseBody": {
        "etag": "dr75C8IB9qPpT9bYtbPkxUTD84f",
        "key": "key-1239750290",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-09-29T17:37:47\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1239750290?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022dr75C8IB9qPpT9bYtbPkxUTD84f\u0022",
        "Sync-Token": "zAJw6V16=ODotMSM1ODU1NTU=",
        "x-ms-content-sha256": "eZmlN82OXxGcwu2EV4w86/Kqp5/K\u002BoDh/yFjST\u002BtXXk="
      },
      "RequestBody": {
        "value": "new_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "etag": "dr75C8IB9qPpT9bYtbPkxUTD84f"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022NOw3bqMetqz1pMK24rywz9SzlZg\u0022",
        "Last-Modified": "Sun, 29 Sep 2019 17:37:47 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM1ODU1NTY=;sn=585556"
      },
      "ResponseBody": {
        "etag": "NOw3bqMetqz1pMK24rywz9SzlZg",
        "key": "key-1239750290",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-09-29T17:37:47\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1239750290?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM1ODU1NTY=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022NOw3bqMetqz1pMK24rywz9SzlZg\u0022",
        "Last-Modified": "Sun, 29 Sep 2019 17:37:47 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM1ODU1NTc=;sn=585557"
      },
      "ResponseBody": {
        "etag": "NOw3bqMetqz1pMK24rywz9SzlZg",
        "key": "key-1239750290",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-09-29T17:37:47\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002BFOYz;Secret=;",
    "RandomSeed": "1415960846"
  }
}