{
  "Entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1239750290?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00227rW7VqQRRhYE9r2zxIB4TLF9Tjm\u0022",
        "Last-Modified": "Fri, 15 Nov 2019 16:11:56 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM4MTkyOTM=;sn=819293"
      },
      "ResponseBody": {
        "etag": "7rW7VqQRRhYE9r2zxIB4TLF9Tjm",
        "key": "key-1239750290",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-11-15T16:11:56\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1239750290?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u00227rW7VqQRRhYE9r2zxIB4TLF9Tjm\u0022",
        "Sync-Token": "zAJw6V16=ODotMSM4MTkyOTM=",
        "x-ms-content-sha256": "mXcqgS71c6yn3AE32h1OJPn9IEFQCSmyRvpsUrTJ6zo="
      },
      "RequestBody": {
        "value": "new_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "etag": "7rW7VqQRRhYE9r2zxIB4TLF9Tjm"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00228GsctVVU6SlJiQ9yRw9t8xVRHLx\u0022",
        "Last-Modified": "Fri, 15 Nov 2019 16:11:56 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM4MTkyOTQ=;sn=819294"
      },
      "ResponseBody": {
        "etag": "8GsctVVU6SlJiQ9yRw9t8xVRHLx",
        "key": "key-1239750290",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-11-15T16:11:56\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1239750290?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM4MTkyOTQ=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00228GsctVVU6SlJiQ9yRw9t8xVRHLx\u0022",
        "Last-Modified": "Fri, 15 Nov 2019 16:11:56 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM4MTkyOTU=;sn=819295"
      },
      "ResponseBody": {
        "etag": "8GsctVVU6SlJiQ9yRw9t8xVRHLx",
        "key": "key-1239750290",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-11-15T16:11:56\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002BFOYz;Secret=;",
    "RandomSeed": "1415960846"
  }
}