{
  "Entries": [
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/key-254230563?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022HHV7c4HAOw5WhZRbDGWSZbv-PwnqGWVbluFQS94mAtA\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:25:11 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM0MDA=;sn=1293400"
      },
      "ResponseBody": {
        "etag": "HHV7c4HAOw5WhZRbDGWSZbv-PwnqGWVbluFQS94mAtA",
        "key": "key-254230563",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-01-31T20:25:11\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/key-254230563?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022HHV7c4HAOw5WhZRbDGWSZbv-PwnqGWVbluFQS94mAtA\u0022",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM0MDE=",
        "x-ms-content-sha256": "ZmX0AMAx6w3pdtpV/SphMZuwZX7HkKOvBMGocuctges="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "etag": "HHV7c4HAOw5WhZRbDGWSZbv-PwnqGWVbluFQS94mAtA"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM0MDI=;sn=1293402"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/key-254230563?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM0MDI=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022MguZYVe0Gd3Ikn_YHzSYeDxRxSZxCuqyqh-BCfV8mZU\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:25:11 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM0MDM=;sn=1293403"
      },
      "ResponseBody": {
        "etag": "MguZYVe0Gd3Ikn_YHzSYeDxRxSZxCuqyqh-BCfV8mZU",
        "key": "key-254230563",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-01-31T20:25:11\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://shrejaappconfiguration-azconfig-net.azconfig.io;Id=RoMR-l1-s0:NgGvLRBi23WLJ6PQ6mcy;Secret=Kg==",
    "RandomSeed": "811473219"
  }
}
