{
  "Entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1612456222?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022l8MUa9kXrwtCvP6q3lGxoNwjQZw\u0022",
        "Last-Modified": "Fri, 15 Nov 2019 16:11:55 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM4MTkyOTA=;sn=819290"
      },
      "ResponseBody": {
        "etag": "l8MUa9kXrwtCvP6q3lGxoNwjQZw",
        "key": "key-1612456222",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-11-15T16:11:55\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1612456222?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022l8MUa9kXrwtCvP6q3lGxoNwjQZw\u0022",
        "Sync-Token": "zAJw6V16=ODotMSM4MTkyOTE=",
        "x-ms-content-sha256": "Gfi/6FRZ4m8I/I6H6z\u002Bfk\u002BCsMu6GWu8zaIRedNuWj9o="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "etag": "l8MUa9kXrwtCvP6q3lGxoNwjQZw"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1612456222?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM4MTkyOTE=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022werheh4CotCKhCzr40zniXdyeto\u0022",
        "Last-Modified": "Fri, 15 Nov 2019 16:11:56 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM4MTkyOTI=;sn=819292"
      },
      "ResponseBody": {
        "etag": "werheh4CotCKhCzr40zniXdyeto",
        "key": "key-1612456222",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-11-15T16:11:56\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002BFOYz;Secret=;",
    "RandomSeed": "1874420941"
  }
}