{
  "Entries": [
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/key-727629822?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022hnz7Q_FLvxp1CjzKAvOBOPQf7YCfcV_mHI0ZG1k_N90\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:25:12 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM0MDQ=;sn=1293404"
      },
      "ResponseBody": {
        "etag": "hnz7Q_FLvxp1CjzKAvOBOPQf7YCfcV_mHI0ZG1k_N90",
        "key": "key-727629822",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-01-31T20:25:12\u002B00:00"
      }
    },
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/key-727629822?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022hnz7Q_FLvxp1CjzKAvOBOPQf7YCfcV_mHI0ZG1k_N90\u0022",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM0MDQ=",
        "x-ms-content-sha256": "hGozg0p8X8oqTTykMSjHWHe0cLAdON9LHbedW54PczE="
      },
      "RequestBody": {
        "value": "new_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "etag": "hnz7Q_FLvxp1CjzKAvOBOPQf7YCfcV_mHI0ZG1k_N90"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022LATYPygMT95ElMJ_EsrIlmODG-rZWaoEUPypoRiTQM0\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:25:12 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM0MDU=;sn=1293405"
      },
      "ResponseBody": {
        "etag": "LATYPygMT95ElMJ_EsrIlmODG-rZWaoEUPypoRiTQM0",
        "key": "key-727629822",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-01-31T20:25:12\u002B00:00"
      }
    },
    {
      "RequestUri": "https://shrejaappconfiguration-azconfig-net.azconfig.io/kv/key-727629822?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM0MDU=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022LATYPygMT95ElMJ_EsrIlmODG-rZWaoEUPypoRiTQM0\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 20:25:12 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzEyOTM0MDc=;sn=1293407"
      },
      "ResponseBody": {
        "etag": "LATYPygMT95ElMJ_EsrIlmODG-rZWaoEUPypoRiTQM0",
        "key": "key-727629822",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-01-31T20:25:12\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://shrejaappconfiguration-azconfig-net.azconfig.io;Id=RoMR-l1-s0:NgGvLRBi23WLJ6PQ6mcy;Secret=Kg==",
    "RandomSeed": "1047785637"
  }
}
