{
  "Entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1379540123?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "aDaoGrnXeLk4BtC\u002BbcUBHjAOl1G533H6XGiHrRY9PKA="
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022NEQs12UqwVNCgRwR8bQ3VozvcPg\u0022",
        "Last-Modified": "Wed, 18 Sep 2019 21:33:05 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM1Mzg3MzY=;sn=538736"
      },
      "ResponseBody": {
        "etag": "NEQs12UqwVNCgRwR8bQ3VozvcPg",
        "key": "key-1379540123",
        "label": null,
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2019-09-18T21:33:05\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1379540123?api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODotMSM1Mzg3MzY=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022NEQs12UqwVNCgRwR8bQ3VozvcPg\u0022",
        "Last-Modified": "Wed, 18 Sep 2019 21:33:05 GMT",
        "Sync-Token": "zAJw6V16=ODotMSM1Mzg3Mzc=;sn=538737"
      },
      "ResponseBody": {
        "etag": "NEQs12UqwVNCgRwR8bQ3VozvcPg",
        "key": "key-1379540123",
        "label": null,
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2019-09-18T21:33:05\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002BFOYz;Secret=;",
    "RandomSeed": "922465801"
  }
}