{
  "Entries": [
    {
      "RequestUri": "https://pakrymac3-azconfig-net.azconfig.io/kv/key-2127374146?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00227xF1upmWbjHeAXsYmFYmk86IuTs\u0022",
        "Last-Modified": "Tue, 27 Jul 2021 18:16:32 GMT",
        "Sync-Token": "zAJw6V16=MDoxNyMxMDA2MDc3Mg==;sn=10060772"
      },
      "ResponseBody": {
        "etag": "7xF1upmWbjHeAXsYmFYmk86IuTs",
        "key": "key-2127374146",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2021-07-27T18:16:32\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrymac3-azconfig-net.azconfig.io/locks/key-2127374146?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022this won\u0027t match\u0022",
        "Sync-Token": "zAJw6V16=MDoxNyMxMDA2MDc3Mg==",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022dMVOmW1Z9YjkZCD6xwwS0RW9Cdk\u0022",
        "Last-Modified": "Tue, 27 Jul 2021 18:16:32 GMT",
        "Sync-Token": "zAJw6V16=MDoxNyMxMDA2MDc3Mw==;sn=10060773"
      },
      "ResponseBody": {
        "etag": "dMVOmW1Z9YjkZCD6xwwS0RW9Cdk",
        "key": "key-2127374146",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": true,
        "last_modified": "2021-07-27T18:16:32\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://pakrymac3-azconfig-net.azconfig.io/kv/key-2127374146?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=MDoxNyMxMDA2MDc3NA==",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022DPo9hg9MK9dJNxdB7fQamo9HRny\u0022",
        "Last-Modified": "Tue, 27 Jul 2021 18:16:32 GMT",
        "Sync-Token": "zAJw6V16=MDoxNyMxMDA2MDc3NQ==;sn=10060775"
      },
      "ResponseBody": {
        "etag": "DPo9hg9MK9dJNxdB7fQamo9HRny",
        "key": "key-2127374146",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2021-07-27T18:16:32\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://pakrymac3-azconfig-net.azconfig.io;Id=BbJ0-l2-s0:PUvmSHe8jF0liHP7M/IX;Secret=Kg==",
    "RandomSeed": "1952185414"
  }
}