{
  "Entries": [
    {
      "RequestUri": "https://pakrymac3-azconfig-net.azconfig.io/kv/key-1473299950?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022S9iwdmGskGyiTHqQqhmGAUMwBKl\u0022",
        "Last-Modified": "Tue, 27 Jul 2021 18:16:33 GMT",
        "Sync-Token": "zAJw6V16=MDoxNyMxMDA2MDc4NQ==;sn=10060785"
      },
      "ResponseBody": {
        "etag": "S9iwdmGskGyiTHqQqhmGAUMwBKl",
        "key": "key-1473299950",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2021-07-27T18:16:33\u002B00:00"
      }
    },
    {
      "RequestUri": "https://pakrymac3-azconfig-net.azconfig.io/locks/key-1473299950?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022this won\u0027t match\u0022",
        "Sync-Token": "zAJw6V16=MDoxNyMxMDA2MDc4NQ==",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022CDKOVOqx6y9nJwxQ5judJKiLhWw\u0022",
        "Last-Modified": "Tue, 27 Jul 2021 18:16:33 GMT",
        "Sync-Token": "zAJw6V16=MDoxNyMxMDA2MDc4Ng==;sn=10060786"
      },
      "ResponseBody": {
        "etag": "CDKOVOqx6y9nJwxQ5judJKiLhWw",
        "key": "key-1473299950",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": true,
        "last_modified": "2021-07-27T18:16:33\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://pakrymac3-azconfig-net.azconfig.io/kv/key-1473299950?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=MDoxNyMxMDA2MDc4Nw==",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00221AvCCYQMBovhTVhlx9qVpF4s20Q\u0022",
        "Last-Modified": "Tue, 27 Jul 2021 18:16:33 GMT",
        "Sync-Token": "zAJw6V16=MDoxNyMxMDA2MDc4OA==;sn=10060788"
      },
      "ResponseBody": {
        "etag": "1AvCCYQMBovhTVhlx9qVpF4s20Q",
        "key": "key-1473299950",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2021-07-27T18:16:33\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://pakrymac3-azconfig-net.azconfig.io;Id=BbJ0-l2-s0:PUvmSHe8jF0liHP7M/IX;Secret=Kg==",
    "RandomSeed": "1906291952"
  }
}