{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/prebuilt/invoice/analyze?includeTextDetails=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "image/tiff",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/prebuilt/invoice/analyzeResults/af90ecd5-8c98-418b-b960-75209898aac1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/prebuilt/invoice/analyzeResults/af90ecd5-8c98-418b-b960-75209898aac1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2021-03-24T21:48:28Z",
        "lastUpdatedDateTime": "2021-03-24T21:48:28Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/prebuilt/invoice/analyzeResults/af90ecd5-8c98-418b-b960-75209898aac1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2021-03-24T21:48:28Z",
        "lastUpdatedDateTime": "2021-03-24T21:48:35Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0,
              "width": 1700,
              "height": 2200,
              "unit": "pixel"
            }
          ],
          "pageResults": [
            {
              "page": 1,
              "tables": [
                {
                  "rows": 3,
                  "columns": 6,
                  "cells": [
                    {
                      "rowIndex": 0,
                      "columnIndex": 0,
                      "text": "Invoice Number",
                      "boundingBox": [
                        101,
                        556,
                        380,
                        558,
                        380,
                        662,
                        101,
                        661
                      ]
                    },
                    {
                      "rowIndex": 0,
                      "columnIndex": 1,
                      "text": "Invoice Date",
                      "boundingBox": [
                        380,
                        558,
                        658,
                        558,
                        659,
                        662,
                        380,
                        662
                      ]
                    },
                    {
                      "rowIndex": 0,
                      "columnIndex": 2,
                      "text": "Invoice Due Date",
                      "boundingBox": [
                        658,
                        558,
                        941,
                        558,
                        941,
                        662,
                        659,
                        662
                      ]
                    },
                    {
                      "rowIndex": 0,
                      "columnIndex": 3,
                      "columnSpan": 2,
                      "text": "Charges",
                      "boundingBox": [
                        941,
                        558,
                        1220,
                        558,
                        1220,
                        662,
                        941,
                        662
                      ]
                    },
                    {
                      "rowIndex": 0,
                      "columnIndex": 5,
                      "text": "VAT ID",
                      "boundingBox": [
                        1220,
                        558,
                        1499,
                        556,
                        1500,
                        661,
                        1220,
                        662
                      ]
                    },
                    {
                      "rowIndex": 1,
                      "columnIndex": 0,
                      "rowSpan": 2,
                      "text": "34278587",
                      "boundingBox": [
                        101,
                        661,
                        380,
                        662,
                        380,
                        771,
                        101,
                        771
                      ]
                    },
                    {
                      "rowIndex": 1,
                      "columnIndex": 1,
                      "rowSpan": 2,
  [...]
