{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.0-preview/layout/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/pdf",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.0-preview/layout/analyzeResults/9d9bb110-e146-49dd-8416-65437ce06e9f"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.0-preview/layout/analyzeResults/9d9bb110-e146-49dd-8416-65437ce06e9f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2020-06-18T22:54:11Z",
        "lastUpdatedDateTime": "2020-06-18T22:54:11Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.0-preview/layout/analyzeResults/9d9bb110-e146-49dd-8416-65437ce06e9f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2020-06-18T22:54:11Z",
        "lastUpdatedDateTime": "2020-06-18T22:54:15Z",
        "analyzeResult": {
          "version": "2.0.0",
          "readResults": [
            {
              "page": 1,
              "language": "en",
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch",
              "lines": [
                {
                  "boundingBox": [
                    0.5384,
                    1.1583,
                    1.4466,
                    1.1583,
                    1.4466,
                    1.3534,
                    0.5384,
                    1.3534
                  ],
                  "text": "Contoso",
                  "words": [
                    {
                      "boundingBox": [
                        0.5384,
                        1.1583,
                        1.4466,
                        1.1583,
                        1.4466,
                        1.3534,
                        0.5384,
                        1.3534
                      ],
                      "text": "Contoso",
                      "confidence": 1
                    }
                  ]
                },
                {
                  "boundingBox": [
                    0.7994,
                    1.5143,
                    1.3836,
                    1.5143,
                    1.3836,
                    1.6154,
                    0.7994,
                    1.6154
                  ],
                  "text": "Address:",
                  "words": [
                    {
                      "boundingBox": [
           [...]
