{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/prebuilt/invoice/analyze?includeTextDetails=true\u0026locale=en-US",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "image/tiff",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/prebuilt/invoice/analyzeResults/58b320f6-e588-4a35-8587-5bef228d15b5"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/prebuilt/invoice/analyzeResults/58b320f6-e588-4a35-8587-5bef228d15b5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2021-03-23T00:45:25Z",
        "lastUpdatedDateTime": "2021-03-23T00:45:25Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/prebuilt/invoice/analyzeResults/58b320f6-e588-4a35-8587-5bef228d15b5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2021-03-23T00:45:25Z",
        "lastUpdatedDateTime": "2021-03-23T00:45:31Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0,
              "width": 1700,
              "height": 2200,
              "unit": "pixel",
              "lines": [
                {
                  "text": "Contoso",
                  "boundingBox": [
                    105,
                    231,
                    289,
                    232,
                    289,
                    274,
                    105,
                    273
                  ],
                  "words": [
                    {
                      "text": "Contoso",
                      "boundingBox": [
                        106,
                        232,
                        284,
                        234,
                        283,
                        274,
                        105,
                        274
                      ],
                      "confidence": 0.994
                    }
                  ],
                  "appearance": {
                    "style": {
                      "name": "other",
                      "confidence": 0.878
                    }
                  }
                },
                {
                  "text": "Address:",
                  "boundingBox": [
                    159,
                    299,
                    279,
                    300,
                    279,
                    326,
                    159,
                    325
                  ],
                  "words": [
                    {
                      "te[...]
