{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/prebuilt/invoice/analyze?includeTextDetails=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/pdf",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/prebuilt/invoice/analyzeResults/4b67ba48-5b8c-4556-aac5-856beeb92908"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/prebuilt/invoice/analyzeResults/4b67ba48-5b8c-4556-aac5-856beeb92908",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2020-11-02T21:36:57Z",
        "lastUpdatedDateTime": "2020-11-02T21:36:57Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/prebuilt/invoice/analyzeResults/4b67ba48-5b8c-4556-aac5-856beeb92908",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2020-11-02T21:36:57Z",
        "lastUpdatedDateTime": "2020-11-02T21:37:02Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch"
            }
          ],
          "pageResults": [
            {
              "page": 1
            }
          ],
          "documentResults": [
            {
              "docType": "prebuilt:invoice",
              "pageRange": [
                1,
                1
              ],
              "fields": {}
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_ENDPOINT": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/",
    "RandomSeed": "161034418"
  }
}