{
  "Entries": [
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.1-preview.1/layout/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/pdf",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.1-preview.1/layout/analyzeResults/981a0e0e-ca0a-4691-a897-ab3af1020076"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.1-preview.1/layout/analyzeResults/981a0e0e-ca0a-4691-a897-ab3af1020076",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2020-09-09T22:33:13Z",
        "lastUpdatedDateTime": "2020-09-09T22:33:13Z"
      }
    },
[...]
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.1-preview.1/layout/analyzeResults/981a0e0e-ca0a-4691-a897-ab3af1020076",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2020-09-09T22:33:13Z",
        "lastUpdatedDateTime": "2020-09-09T22:33:17Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0,
              "width": 8.4967,
              "height": 10.9967,
              "unit": "inch",
              "lines": []
            }
          ],
          "pageResults": [
            {
              "page": 1,
              "tables": []
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_ENDPOINT": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/",
    "RandomSeed": "902934581"
  }
}