{
  "Entries": [
    {
      "RequestUri": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/prebuilt/receipt/analyze?includeTextDetails=true\u0026locale=en-US",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "image/jpeg",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/prebuilt/receipt/analyzeResults/d3c52247-2c6b-4bb6-8e19-e7e2073e0cec"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/prebuilt/receipt/analyzeResults/d3c52247-2c6b-4bb6-8e19-e7e2073e0cec",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2020-11-17T00:34:17Z",
        "lastUpdatedDateTime": "2020-11-17T00:34:17Z"
      }
    },
[...]
    {
      "RequestUri": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/prebuilt/receipt/analyzeResults/d3c52247-2c6b-4bb6-8e19-e7e2073e0cec",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2020-11-17T00:34:17Z",
        "lastUpdatedDateTime": "2020-11-17T00:34:18Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0.2511,
              "width": 1688,
              "height": 3000,
              "unit": "pixel",
              "lines": [
                {
                  "text": "Contoso",
                  "boundingBox": [
                    619,
                    291,
                    1051,
                    284,
                    1053,
                    384,
                    620,
                    396
                  ],
                  "words": [
                    {
                      "text": "Contoso",
                      "boundingBox": [
                        623,
                        292,
                        1051,
                        284,
                        1052,
                        383,
                        624,
                        397
                      ],
                      "confidence": 0.959
                    }
                  ]
                },
                {
                  "text": "Contoso",
                  "boundingBox": [
                    322,
                    591,
                    501,
                    601,
                    498,
                    654,
                    319,
                    644
                  ],
                  "words": [
                    {
                      "text": "Contoso",
                      "boundin[...]
