{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "source": "Sanitized",
        "useLabelFile": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models/a79b2759-a69f-4897-85fc-50c2c5f5a9ac"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models/a79b2759-a69f-4897-85fc-50c2c5f5a9ac?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "a79b2759-a69f-4897-85fc-50c2c5f5a9ac",
          "status": "creating",
          "createdDateTime": "2021-03-24T21:49:39Z",
          "lastUpdatedDateTime": "2021-03-24T21:49:39Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models/a79b2759-a69f-4897-85fc-50c2c5f5a9ac?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "a79b2759-a69f-4897-85fc-50c2c5f5a9ac",
          "attributes": {
            "isComposed": false
          },
          "status": "ready",
          "createdDateTime": "2021-03-24T21:49:39Z",
          "lastUpdatedDateTime": "2021-03-24T21:49:42Z"
        },
        "trainResult": {
          "averageModelAccuracy": 0.96,
          "trainingDocuments": [
            {
              "documentName": "Form_1.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_2.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_3.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_4.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_5.jpg",
              "pages": 1,
              "status": "succeeded"
            }
          ],
          "fields": [
            {
              "fieldName": "CompanyAddress",
              "accuracy": 0.8
            },
            {
              "fieldName": "CompanyName",
              "accuracy": 0.995
            },
            {
              "fieldName": "CompanyPhoneNumber",
              "accuracy": 0.995
            },
            {
              "fieldName": "DatedAs",
              "accuracy": 0.995
            },
            {
              "fieldName": "Email",
              "accuracy": 0.8
            },
            {
              "fieldName": "Merchant",
              "accuracy": 0.995
            },
            {
              "fieldName": "PhoneNumber",
              "accuracy": 0.995
            },
            {
              "fieldName": "PurchaseOrderNumber",
              "accuracy": 0.995
            },
            {
              "fieldName": "Quantity",
              "accuracy": 0.995
            },
            {
              "fieldName": "Signature",
              "accuracy": 0.8
            },
            {
              "fieldName": "Subtotal",
              "accuracy": 0.995
            },
            {
              "fieldName": "Tax",
              "accuracy": 0.995
            },
            {
              "fieldName": "Total",
              "accuracy": 0.995
            },
            {
              "fieldName": "VendorName",
              "accuracy": 0.995
            },
            {
              "fieldName": "Website",
              "accuracy": 0.995
            }
          ],
          "errors": []
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models/a79b2759-a69f-4897-85fc-50c2c5f5a9ac/analyze?includeTextDetails=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/pdf",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": "JVBERlVVVQ==",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "1000",
          "message": "Invalid input file."
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models/a79b2759-a69f-4897-85fc-50c2c5f5a9ac",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "FORM_RECOGNIZER_ENDPOINT": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/",
    "RandomSeed": "509420641"
  }
}