{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "source": "Sanitized",
        "useLabelFile": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models/8cdd7890-1868-40e3-85d0-38a5fef27490"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models/8cdd7890-1868-40e3-85d0-38a5fef27490?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "8cdd7890-1868-40e3-85d0-38a5fef27490",
          "status": "creating",
          "createdDateTime": "2021-03-23T00:49:41Z",
          "lastUpdatedDateTime": "2021-03-23T00:49:41Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models/8cdd7890-1868-40e3-85d0-38a5fef27490?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "8cdd7890-1868-40e3-85d0-38a5fef27490",
          "attributes": {
            "isComposed": false
          },
          "status": "ready",
          "createdDateTime": "2021-03-23T00:49:41Z",
          "lastUpdatedDateTime": "2021-03-23T00:49:44Z"
        },
        "trainResult": {
          "averageModelAccuracy": 0.971,
          "trainingDocuments": [
            {
              "documentName": "multi1.pdf",
              "pages": 2,
              "status": "succeeded"
            },
            {
              "documentName": "multi2.pdf",
              "pages": 2,
              "status": "succeeded"
            },
            {
              "documentName": "multi3.pdf",
              "pages": 2,
              "status": "succeeded"
            },
            {
              "documentName": "multi4.pdf",
              "pages": 2,
              "status": "succeeded"
            },
            {
              "documentName": "multi5.pdf",
              "pages": 2,
              "status": "succeeded"
            }
          ],
          "fields": [
            {
              "fieldName": "Bronze",
              "accuracy": 0.995
            },
            {
              "fieldName": "CompanyName",
              "accuracy": 0.8
            },
            {
              "fieldName": "Contact",
              "accuracy": 0.995
            },
            {
              "fieldName": "Full",
              "accuracy": 0.995
            },
            {
              "fieldName": "Gold",
              "accuracy": 0.995
            },
            {
              "fieldName": "Half",
              "accuracy": 0.995
            },
            {
              "fieldName": "Silver",
              "accuracy": 0.995
            }
          ],
          "errors": []
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models/8cdd7890-1868-40e3-85d0-38a5fef27490/analyze?includeTextDetails=true",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/pdf",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models/8cdd7890-1868-40e3-85d0-38a5fef27490/analyzeresults/e93b4550-0235-46b9-904d-77fd2d0ff598"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models/8cdd7890-1868-40e3-85d0-38a5fef27490/analyzeResults/e93b4550-0235-46b9-904d-77fd2d0ff598",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2021-03-23T00:49:45Z",
        "lastUpdatedDateTime": "2021-03-23T00:49:45Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models/8cdd7890-1868-40e3-85d0-38a5fef27490",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_ENDPOINT": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/",
    "FORM_RECOGNIZER_MULTIPAGE_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "RandomSeed": "697771995"
  }
}