{
  "Entries": [
    {
      "RequestUri": "https://t00b5fddbfc124bd4-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/prebuilt/receipt/analyze?includeTextDetails=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "source": "Sanitized"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://t00b5fddbfc124bd4-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/prebuilt/receipt/analyzeResults/f0be601a-9b42-444e-afbb-7c4ae122654f"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://t00b5fddbfc124bd4-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/prebuilt/receipt/analyzeResults/f0be601a-9b42-444e-afbb-7c4ae122654f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2020-08-20T18:07:31Z",
        "lastUpdatedDateTime": "2020-08-20T18:07:31Z"
      }
    },
[...]
    {
      "RequestUri": "https://t00b5fddbfc124bd4-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/prebuilt/receipt/analyzeResults/f0be601a-9b42-444e-afbb-7c4ae122654f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2020-08-20T18:07:31Z",
        "lastUpdatedDateTime": "2020-08-20T18:07:34Z",
        "analyzeResult": {
          "version": "2.0.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0.6701,
              "width": 1688,
              "height": 3000,
              "unit": "pixel",
              "language": "en"
            }
          ],
          "documentResults": [
            {
              "docType": "prebuilt:receipt",
              "pageRange": [
                1,
                1
              ],
              "fields": {
                "ReceiptType": {
                  "type": "string",
                  "valueString": "Itemized",
                  "confidence": 0.954
                },
                "MerchantName": {
                  "type": "string",
                  "valueString": "Contoso Contoso",
                  "text": "Contoso Contoso",
                  "boundingBox": [
                    378.2,
                    292.4,
                    1117.7,
                    468.3,
                    1035.7,
                    812.7,
                    296.3,
                    636.8
                  ],
                  "page": 1,
                  "confidence": 0.616
                },
                "MerchantAddress": {
                  "type": "string",
                  "valueString": "123 Main Street Redmond, WA 98052",
                  "text": "123 Main Street Redmond, WA 98052",
                  "boundingBox": [
                    302,
                    675.8,
                    848.1,
                    793.7,
                    809.9,
                    970.4,
                    263.9,
                    852.5
                  ],
                  "page": 1,
                  "confidence": 0.99
                },
                "MerchantPhoneNumber": {
                  "type": "phoneNumber",
                  "valuePhoneNumber": "\u002B19876543210",
                  "text": "987-654-3210",
                  "boundingBox": [
                    278,
                    1004,
                    657.3,
                    1054.7,
                    647.8,
                    1125.4,
                    268.5,
                    1074.7
                  ],
                  "page": 1,
                  "confidence": 0.99
                },
                "TransactionDate": {
                  "type": "date",
                  "valueDate": "2020-06-10",
                  "text": "6/10/20",
                  "boundingBox": [
                    264,
                    1228,
                    454,
                    1240.5,
                    448.4,
                    1326.5,
                    258.3,
                    1314
                  ],
                  "page": 1,
                  "confidence": 0.904
                },
                "TransactionTime": {
                  "type": "time",
                  "valueTime": "13:59:00",
                  "text": "13:59",
                  "boundingBox": [
                    539,
                    1248,
                    678.1,
                    1261.6,
                    669.9,
                    1346.4,
                    530.7,
                    1332.9
                  ],
                  "page": 1,
                  "confidence": 0.693
                },
                "Items": {
                  "type": "array",
                  "valueArray": [
                    {
                      "type": "object",
                      "valueObject": {
                        "Quantity": {
                          "type": "number",
                          "text": "1",
                          "boundingBox": [
                            245.5,
                            1580.9,
                            302,
                            1585,
                            295.4,
                            1676,
                            238.9,
                            1672
                          ],
                          "page": 1,
                          "confidence": 0.919
                        },
                        "Name": {
                          "type": "string",
                          "valueString": "Cappuccino",
                          "text": "Cappuccino",
                          "boundingBox": [
                            316.3,
                            1584.9,
                            658.2,
                            1600.9,
                            653.9,
                            1693.1,
                            312,
                            1677
                          ],
                          "page": 1,
                          "confidence": 0.923
                        },
                        "TotalPrice": {
                          "type": "number",
                          "valueNumber": 2.2,
                          "text": "$2.20",
                          "boundingBox": [
                            1107.7,
                            1584,
                            1263,
                            1574,
                            1268.3,
                            1656,
                            1113,
                            1666
                          ],
                          "page": 1,
                          "confidence": 0.918
                     [...]
