{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/a86c39a4-59ec-4fc3-a8b5-19256fb5464e"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/a86c39a4-59ec-4fc3-a8b5-19256fb5464e?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "a86c39a4-59ec-4fc3-a8b5-19256fb5464e",
          "status": "creating",
          "createdDateTime": "2020-06-22T07:05:52Z",
          "lastUpdatedDateTime": "2020-06-22T07:05:52Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/a86c39a4-59ec-4fc3-a8b5-19256fb5464e?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "a86c39a4-59ec-4fc3-a8b5-19256fb5464e",
          "status": "ready",
          "createdDateTime": "2020-06-22T07:05:52Z",
          "lastUpdatedDateTime": "2020-06-22T07:05:59Z"
        },
        "trainResult": {
          "averageModelAccuracy": 0.973,
          "trainingDocuments": [
            {
              "documentName": "Form_1.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_2.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_3.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_4.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_5.jpg",
              "pages": 1,
              "status": "succeeded"
            }
          ],
          "fields": [
            {
              "fieldName": "CompanyAddress",
              "accuracy": 0.8
            },
            {
              "fieldName": "CompanyName",
              "accuracy": 1.0
            },
            {
              "fieldName": "CompanyPhoneNumber",
              "accuracy": 1.0
            },
            {
              "fieldName": "DatedAs",
              "accuracy": 1.0
            },
            {
              "fieldName": "Email",
              "accuracy": 0.8
            },
            {
              "fieldName": "Merchant",
              "accuracy": 1.0
            },
            {
              "fieldName": "PhoneNumber",
              "accuracy": 1.0
            },
            {
              "fieldName": "PurchaseOrderNumber",
              "accuracy": 1.0
            },
            {
              "fieldName": "Quantity",
              "accuracy": 1.0
            },
            {
              "fieldName": "Signature",
              "accuracy": 1.0
            },
            {
              "fieldName": "Subtotal",
              "accuracy": 1.0
            },
            {
              "fieldName": "Tax",
              "accuracy": 1.0
            },
            {
              "fieldName": "Total",
              "accuracy": 1.0
            },
            {
              "fieldName": "VendorName",
              "accuracy": 1.0
            },
            {
              "fieldName": "Website",
              "accuracy": 1.0
            }
          ],
          "errors": []
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/a86c39a4-59ec-4fc3-a8b5-19256fb5464e/analyze?includeTextDetails=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "source": "https://raw.githubusercontent.com/Azure/azure-sdk-for-net/master/sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Assets/Form_1.jpg"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/a86c39a4-59ec-4fc3-a8b5-19256fb5464e/analyzeresults/2dfe85ab-3b7f-4e01-9b17-595d43243646"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/a86c39a4-59ec-4fc3-a8b5-19256fb5464e/analyzeResults/2dfe85ab-3b7f-4e01-9b17-595d43243646",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2020-06-22T07:06:00Z",
        "lastUpdatedDateTime": "2020-06-22T07:06:00Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/a86c39a4-59ec-4fc3-a8b5-19256fb5464e/analyzeResults/2dfe85ab-3b7f-4e01-9b17-595d43243646",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2020-06-22T07:06:00Z",
        "lastUpdatedDateTime": "2020-06-22T07:06:11Z",
        "analyzeResult": {
          "version": "2.0.0",
          "readResults": [
            {
              "page": 1,
              "language": "en",
              "angle": 0,
              "width": 1700,
              "height": 2200,
              "unit": "pixel"
            }
          ],
          "pageResults": [
            {
              "page": 1,
              "tables": [
                {
                  "rows": 4,
                  "columns": 3,
                  "cells": [
                    {
                      "rowIndex": 1,
                      "columnIndex": 1,
                      "text": "SUBTOTAL",
                      "boundingBox": [
                        1072,
                        1566,
                        1309,
                        1566,
                        1309,
                        1610,
                        1072,
                        1610
                      ]
                    },
                    {
                      "rowIndex": 1,
                      "columnIndex": 2,
                      "text": "$140.00",
                      "boundingBox": [
                        1309,
  [...]
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/a86c39a4-59ec-4fc3-a8b5-19256fb5464e",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "FORM_RECOGNIZER_ENDPOINT": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/",
    "RandomSeed": "1714912708"
  }
}