{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/prebuilt/idDocument/analyze?includeTextDetails=true",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "image/jpeg",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/prebuilt/idDocument/analyzeResults/4954fffd-c3ab-49dc-94f7-4a1c1be139e2"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/prebuilt/idDocument/analyzeResults/4954fffd-c3ab-49dc-94f7-4a1c1be139e2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2021-03-31T23:55:24Z",
        "lastUpdatedDateTime": "2021-03-31T23:55:24Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/prebuilt/idDocument/analyzeResults/4954fffd-c3ab-49dc-94f7-4a1c1be139e2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2021-03-31T23:55:24Z",
        "lastUpdatedDateTime": "2021-03-31T23:55:27Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": -0.2823,
              "width": 450,
              "height": 294,
              "unit": "pixel",
              "lines": [
                {
                  "text": "USA WASHINGTON",
                  "boundingBox": [
                    17,
                    25,
                    232,
                    22,
                    233,
                    47,
                    17,
                    49
                  ],
                  "words": [
                    {
                      "text": "USA",
                      "boundingBox": [
                        18,
                        34,
                        42,
                        31,
                        41,
                        48,
                        18,
                        49
                      ],
                      "confidence": 0.931
                    },
                    {
                      "text": "WASHINGTON",
                      "boundingBox": [
                        45,
                        30,
                        218,
                        25,
                        218,
                        48,
                        44,
                        48
                      ],
                      "confidence": 0.991
                    }
                  ],
                  "appearance": {
                    "style": {
                      "name": "other",
                      "confidence": 0.878
                    }
                  }
                },
                {
                  "text": "WA",
                  "boundingBox": [
                    17,
                    24,
                    39,
                    25,
                    39,
                    37,
                    18,
                    36
                  ],
                  "words": [
                    {
                      "text": "WA",
   [...]
