{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "source": "Sanitized",
        "useLabelFile": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/custom/models/2066d1ff-b08b-466b-8833-507558001c7a"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/custom/models/2066d1ff-b08b-466b-8833-507558001c7a?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "2066d1ff-b08b-466b-8833-507558001c7a",
          "status": "creating",
          "createdDateTime": "2020-10-30T13:02:39Z",
          "lastUpdatedDateTime": "2020-10-30T13:02:39Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/custom/models/2066d1ff-b08b-466b-8833-507558001c7a?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "2066d1ff-b08b-466b-8833-507558001c7a",
          "status": "ready",
          "createdDateTime": "2020-10-30T13:02:39Z",
          "lastUpdatedDateTime": "2020-10-30T13:02:51Z"
        },
        "keys": {
          "clusters": {
            "0": [
              "Additional Notes:",
              "Address:",
              "Company Name:",
              "Company Phone:",
              "Dated As:",
              "Details",
              "Email:",
              "Ft Lauderdale, FL Phone:",
              "Hero Limited",
              "Name:",
              "Phone:",
              "Purchase Order",
              "Purchase Order #:",
              "Quantity",
              "SUBTOTAL",
              "Seattle, WA 93849 Phone:",
              "Shipped From",
              "Shipped To",
              "TAX",
              "TOTAL",
              "Total",
              "Unit Price",
              "Vendor Name:",
              "Website:"
            ]
          }
        },
        "trainResult": {
          "trainingDocuments": [
            {
              "documentName": "Form_1.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "Form_2.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "Form_3.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "Form_4.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "Form_5.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            }
          ],
          "errors": []
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/custom/models/2066d1ff-b08b-466b-8833-507558001c7a/analyze?includeTextDetails=true",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/pdf",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.1/custom/models/2066d1ff-b08b-466b-8833-507558001c7a/analyzeresults/d7daa1c9-67b3-4eff-862b-40ea56ed58c8"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/custom/models/2066d1ff-b08b-466b-8833-507558001c7a/analyzeResults/d7daa1c9-67b3-4eff-862b-40ea56ed58c8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2020-10-30T13:02:53Z",
        "lastUpdatedDateTime": "2020-10-30T13:02:53Z"
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/custom/models/2066d1ff-b08b-466b-8833-507558001c7a/analyzeResults/d7daa1c9-67b3-4eff-862b-40ea56ed58c8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2020-10-30T13:02:53Z",
        "lastUpdatedDateTime": "2020-10-30T13:02:54Z",
        "analyzeResult": null
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/custom/models/2066d1ff-b08b-466b-8833-507558001c7a/analyzeResults/d7daa1c9-67b3-4eff-862b-40ea56ed58c8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2020-10-30T13:02:53Z",
        "lastUpdatedDateTime": "2020-10-30T13:03:04Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0,
              "width": 8.5,
              "height": 11.0,
              "unit": "inch",
              "lines": [
                {
                  "text": "Company A Invoice",
                  "boundingBox": [
                    0.8861,
                    1.1226,
                    2.3778,
                    1.1226,
                    2.3778,
                    1.263,
                    0.8861,
                    1.263
                  ],
                  "words": [
                    {
                      "text": "Company",
                      "boundingBox": [
                        0.8861,
                        1.1233,
                        1.6208,
                        1.1233,
                        1.6208,
                        1.2812,
                        0.8861,
                        1.2812
                      ]
                    },
                    {
                      "text": "A",
                      "boundingBox":[...]
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/custom/models/2066d1ff-b08b-466b-8833-507558001c7a",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "FORM_RECOGNIZER_ENDPOINT": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/",
    "RandomSeed": "1552024379"
  }
}