{
  "Entries": [
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.1-preview.1/prebuilt/businessCard/analyze?includeTextDetails=true",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/pdf",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.1-preview.1/prebuilt/businessCard/analyzeResults/60c98a52-c0f6-4fda-9c84-8eb01157c897"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.1-preview.1/prebuilt/businessCard/analyzeResults/60c98a52-c0f6-4fda-9c84-8eb01157c897",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2020-10-15T21:42:08Z",
        "lastUpdatedDateTime": "2020-10-15T21:42:08Z"
      }
    },
[...]
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.1-preview.1/prebuilt/businessCard/analyzeResults/60c98a52-c0f6-4fda-9c84-8eb01157c897",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2020-10-15T21:42:08Z",
        "lastUpdatedDateTime": "2020-10-15T21:42:13Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": 7.188,
              "width": 8.4967,
              "height": 10.9967,
              "unit": "inch",
              "lines": [
                {
                  "text": "JOHN",
                  "boundingBox": [
                    1.7133,
                    3.7667,
                    2.95,
                    3.8933,
                    2.9133,
                    4.2233,
                    1.68,
                    4.0833
                  ],
                  "words": [
                    {
                      "text": "JOHN",
                      "boundingBox": [
                        1.775,
                        3.7725,
                        2.8476,
                        3.8928,
                        2.8116,
                        4.2151,
                        1.7324,
                        4.0939
                      ],
                      "confidence": 0.947
                    }
                  ]
                },
                {
                  "text": "SINGER",
                  "boundingBox": [
                    1.7267,
                    4.1633,
                    3.3167,
                    4.3333,
                    3.2867,
                    4.6733,
                    1.69,
                    4.49
                  ],
                  "words": [
                    {
                      "text": "SINGER",
            [...]
