{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "source": "Sanitized",
        "useLabelFile": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models/4a581f6a-fa32-413e-9db8-4b68b69d15a5"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models/4a581f6a-fa32-413e-9db8-4b68b69d15a5?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "4a581f6a-fa32-413e-9db8-4b68b69d15a5",
          "status": "creating",
          "createdDateTime": "2021-03-24T21:50:20Z",
          "lastUpdatedDateTime": "2021-03-24T21:50:20Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models/4a581f6a-fa32-413e-9db8-4b68b69d15a5?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "4a581f6a-fa32-413e-9db8-4b68b69d15a5",
          "attributes": {
            "isComposed": false
          },
          "status": "ready",
          "createdDateTime": "2021-03-24T21:50:20Z",
          "lastUpdatedDateTime": "2021-03-24T21:50:22Z"
        },
        "trainResult": {
          "averageModelAccuracy": 0.995,
          "trainingDocuments": [
            {
              "documentName": "CCAuth-1.pdf",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "CCAuth-2.pdf",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "CCAuth-3.pdf",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "CCAuth-4.pdf",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "CCAuth-5.pdf",
              "pages": 1,
              "status": "succeeded"
            }
          ],
          "fields": [
            {
              "fieldName": "AMEX_SELECTION_MARK",
              "accuracy": 0.995
            },
            {
              "fieldName": "MASTERCARD_SELECTION_MARK",
              "accuracy": 0.995
            },
            {
              "fieldName": "VISA_SELECTION_MARK",
              "accuracy": 0.995
            }
          ],
          "errors": []
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models/4a581f6a-fa32-413e-9db8-4b68b69d15a5/analyze?includeTextDetails=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/pdf",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models/4a581f6a-fa32-413e-9db8-4b68b69d15a5/analyzeresults/1867dcdb-a510-49d6-9f5d-53250d726d1f"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models/4a581f6a-fa32-413e-9db8-4b68b69d15a5/analyzeResults/1867dcdb-a510-49d6-9f5d-53250d726d1f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2021-03-24T21:50:24Z",
        "lastUpdatedDateTime": "2021-03-24T21:50:24Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models/4a581f6a-fa32-413e-9db8-4b68b69d15a5/analyzeResults/1867dcdb-a510-49d6-9f5d-53250d726d1f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2021-03-24T21:50:24Z",
        "lastUpdatedDateTime": "2021-03-24T21:50:35Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch",
              "selectionMarks": [
                {
                  "boundingBox": [
                    1.6159,
                    5.4302,
                    1.7762,
                    5.4302,
                    1.7762,
                    5.5929,
                    1.6159,
                    5.5929
                  ],
                  "confidence": 1,
                  "state": "unselected"
                },
                {
                  "boundingBox": [
                    2.3779,
                    5.4731,
                    2.4454,
                    5.4731,
                    2.4454,
                    5.5463,
                    2.3779,
                    5.5463
                  ],
                  "confidence": 1,
                  "state": "selected"
                },
                {
                  "boundingBox": [
                    3.0846,
                    5.4481,
                    3.2448,
                    5.4481,
                    3.2448,
                    5.6108,
                    3.0846,
                    5.6108
                  ],
                  "confidence": 1,
                  "state": "unselected"
                }
              ]
            }
          ],
          "pageResults": [
            {
              "page": 1,
              "tables": []
            }
          ],
          "documentResults": [
            {
              "docType": "custom:4a581f6a-fa32-413e-9db8-4b68b69d15a5",
              "modelId": "4a581f6a-fa32-413e-9db8-4b68b69d15a5",
              "pageRange": [
                1,
                1
              ],
              "fields": {
                "VISA_SELECTION_MARK": {
                  "type": "selectionMark",
                  "text": "unselected",
                  "page": 1,
                  "boundingBox": [
                    1.615,
                    5.43,
                    1.775,
                    5.43,
                    1.775,
                    5.595,
                    1.615,
                    5.595
                  ],
                  "confidence": 0.995
                },
                "MASTERCARD_SELECTION_MARK": {
                  "type": "selectionMark",
                  "text": "unselected",
                  "page": 1,
                  "boundingBox": [
                    3.085,
                    5.45,
                    3.245,
                    5.45,
                    3.245,
                    5.61,
                    3.085,
                    5.61
                  ],
                  "confidence": 0.995
                },
                "AMEX_SELECTION_MARK": {
                  "type": "selectionMark",
                  "text": "selected",
                  "page": 1,
                  "boundingBox": [
                    2.38,
                    5.475,
                    2.445,
                    5.475,
                    2.445,
                    5.545,
                    2.38,
                    5.545
                  ],
                  "confidence": 0.995
                }
              },
              "docTypeConfidence": 0.92
            }
          ],
          "errors": []
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models/4a581f6a-fa32-413e-9db8-4b68b69d15a5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_ENDPOINT": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/",
    "FORM_RECOGNIZER_SELECTION_MARK_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "RandomSeed": "1278783287"
  }
}