{
  "Entries": [
    {
      "RequestUri": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/prebuilt/receipt/analyze?includeTextDetails=true",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/pdf",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/prebuilt/receipt/analyzeResults/1770ce2f-45a6-4e83-beab-b19e4c07d45b"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/prebuilt/receipt/analyzeResults/1770ce2f-45a6-4e83-beab-b19e4c07d45b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2020-11-17T00:31:58Z",
        "lastUpdatedDateTime": "2020-11-17T00:31:58Z"
      }
    },
[...]
    {
      "RequestUri": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/prebuilt/receipt/analyzeResults/1770ce2f-45a6-4e83-beab-b19e4c07d45b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2020-11-17T00:31:58Z",
        "lastUpdatedDateTime": "2020-11-17T00:32:03Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch",
              "lines": [
                {
                  "text": "Company A Invoice",
                  "boundingBox": [
                    0.8861,
                    1.1217,
                    2.3783,
                    1.1217,
                    2.3783,
                    1.2812,
                    0.8861,
                    1.2812
                  ],
                  "words": [
                    {
                      "text": "Company",
                      "boundingBox": [
                        0.8861,
                        1.1232,
                        1.6203,
                        1.1232,
                        1.6203,
                        1.2812,
                        0.8861,
                        1.2812
                      ],
                      "confidence": 1
                    },
                    {
                      "text": "A",
                      "boundingBox": [
                        1.6696,
                        1.1242,
                        1.7749,
                        1.1242,
                        1.7749,
                        1.2473,
                        1.6696,
                        1.2473
                      ],
                      "confidence": 1
                    },
                    {
               [...]
