{
  "Entries": [
    {
      "RequestUri": "https://camaior-formrec.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://camaior-formrec.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/dd38cf39-2186-4af2-ac9c-549aa88914fb"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaior-formrec.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/dd38cf39-2186-4af2-ac9c-549aa88914fb?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "dd38cf39-2186-4af2-ac9c-549aa88914fb",
          "status": "creating",
          "createdDateTime": "2020-04-28T21:21:32Z",
          "lastUpdatedDateTime": "2020-04-28T21:21:32Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://camaior-formrec.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/dd38cf39-2186-4af2-ac9c-549aa88914fb?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "dd38cf39-2186-4af2-ac9c-549aa88914fb",
          "status": "ready",
          "createdDateTime": "2020-04-28T21:21:32Z",
          "lastUpdatedDateTime": "2020-04-28T21:21:40Z"
        },
        "keys": {
          "clusters": {
            "0": [
              "Additional Notes:",
              "Address:",
              "Address:",
              "Company Name:",
              "Company Phone:",
              "Dated As:",
              "Email:",
              "Hero Limited",
              "Name:",
              "Phone:",
              "Phone:",
              "Purchase Order",
              "Purchase Order",
              "Purchase Order #:",
              "SUBTOTAL",
              "Seattle, WA 93849 Phone:",
              "Shipped From",
              "Shipped To",
              "TAX",
              "TOTAL",
              "Vendor Name:",
              "Website:"
            ]
          }
        },
        "trainResult": {
          "trainingDocuments": [
            {
              "documentName": "Form_1.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "Form_2.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "Form_3.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "Form_4.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "Form_5.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            }
          ],
          "errors": []
        }
      }
    },
    {
      "RequestUri": "https://camaior-formrec.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/dd38cf39-2186-4af2-ac9c-549aa88914fb/analyze?includeTextDetails=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "image/jpeg",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaior-formrec.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/dd38cf39-2186-4af2-ac9c-549aa88914fb/analyzeresults/fa26bd07-fc3d-4048-a32e-cd3d80160775"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaior-formrec.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/dd38cf39-2186-4af2-ac9c-549aa88914fb/analyzeResults/fa26bd07-fc3d-4048-a32e-cd3d80160775",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2020-04-28T21:21:41Z",
        "lastUpdatedDateTime": "2020-04-28T21:21:41Z"
      }
    },
    {
      "RequestUri": "https://camaior-formrec.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/dd38cf39-2186-4af2-ac9c-549aa88914fb/analyzeResults/fa26bd07-fc3d-4048-a32e-cd3d80160775",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2020-04-28T21:21:41Z",
        "lastUpdatedDateTime": "2020-04-28T21:21:42Z",
        "analyzeResult": null
      }
    },
[...]
    {
      "RequestUri": "https://camaior-formrec.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/dd38cf39-2186-4af2-ac9c-549aa88914fb/analyzeResults/fa26bd07-fc3d-4048-a32e-cd3d80160775",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2020-04-28T21:21:41Z",
        "lastUpdatedDateTime": "2020-04-28T21:21:44Z",
        "analyzeResult": {
          "version": "2.0.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0.12,
              "width": 1700,
              "height": 2200,
              "unit": "pixel",
              "lines": []
            }
          ],
          "pageResults": [
            {
              "page": 1,
              "keyValuePairs": [
                {
                  "key": {
                    "text": "Hero Limited",
                    "boundingBox": [
                      620,
                      203,
                      1078,
                      203,
                      1078,
                      271,
                      620,
                      271
                    ],
                    "elements": null
                  },
                  "value": {
                    "text": "",
                    "boundingBox": null,
                    "elements": null
                  },
                  "confidence": 0.5
                },
                {
                  "key": {
                    "text": "Company Phone:",
                    "boundingBox": [
                      167,
                      351,
                      365,
                      351,
                      365,
                      381,
                      167,
                      381
                    ],
                    "elements": null
                  },
                  "value": {
                    "te[...]
    {
      "RequestUri": "https://camaior-formrec.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/dd38cf39-2186-4af2-ac9c-549aa88914fb",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_BLOB_CONTAINER_SAS_URL": "https://mariaritraining.blob.core.windows.net/training?Sanitized",
    "FORM_RECOGNIZER_ENDPOINT": "https://camaior-formrec.cognitiveservices.azure.com/",
    "RandomSeed": "260884550"
  }
}