{
  "Entries": [
    {
      "RequestUri": "https://camaior-formrec.cognitiveservices.azure.com/formrecognizer/v2.0-preview/prebuilt/receipt/analyze?includeTextDetails=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "source": "https://raw.githubusercontent.com/Azure/azure-sdk-for-net/master/sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Assets/multipage_invoice_noblank.pdf"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaior-formrec.cognitiveservices.azure.com/formrecognizer/v2.0-preview/prebuilt/receipt/analyzeResults/55d2a983-6639-4100-a4e6-df1a553c3d73"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaior-formrec.cognitiveservices.azure.com/formrecognizer/v2.0-preview/prebuilt/receipt/analyzeResults/55d2a983-6639-4100-a4e6-df1a553c3d73",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2020-05-15T17:18:55Z",
        "lastUpdatedDateTime": "2020-05-15T17:18:55Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaior-formrec.cognitiveservices.azure.com/formrecognizer/v2.0-preview/prebuilt/receipt/analyzeResults/55d2a983-6639-4100-a4e6-df1a553c3d73",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2020-05-15T17:18:55Z",
        "lastUpdatedDateTime": "2020-05-15T17:19:15Z",
        "analyzeResult": {
          "version": "2.0.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch",
              "language": "en"
            },
            {
              "page": 2,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch",
              "language": "en"
            }
          ],
          "documentResults": [
            {
              "docType": "prebuilt:receipt",
              "pageRange": [
                1,
                1
              ],
              "fields": {
                "ReceiptType": {
                  "type": "string",
                  "valueString": "Itemized",
                  "confidence": 0.99
                },
                "MerchantName": {
                  "type": "string",
                  "valueString": "Bilbo Baggins",
                  "text": "Bilbo Baggins",
                  "boundingBox": [
                    6.0164,
                    1.4503,
                    6.8967,
                    1.4503,
                    6.8967,
                    1.5931,
                    6.0164,
                    1.5931
                  ],
                  "page": 1,
                  "confidence": 0.985
                },
                "MerchantAddress": {
                  "type": "string",
                  "valueString": "123 Hobbit Lane 567 Main St. Redmond, WA Redmond, WA",
                  "text": "123 Hobbit Lane 567 Main St. Redmond, WA Redmond, WA",
                  "boundingBox": [
                    0.8852,
                    1.6707,
                    7.1006,
                    1.6707,
                    7.1006,
                    2.1975,
                    0.8852,
                    2.1975
                  ],
                  "page": 1,
                  "confidence": 0.99
                },
                "MerchantPhoneNumber": {
                  "type": "phoneNumber",
                  "valuePhoneNumber": "\u002B15555555555",
                  "text": "555-555-5555",
                  "boundingBox": [
                    6.0105,
                    2.1187,
                    6.9371,
                    2.1187,
                    6.9371,
                    2.2254,
                    6.0105,
                    2.2254
                  ],
                  "page": 1,
                  "confidence": 0.99
                },
                "Items": {
                  "type": "array",
                  "valueArray": [
                    {
                      "type": "object",
                      "valueObject": {
                        "Name": {
                          "type": "string",
                          "valueString": "F",
                          "text": "F",
                          "boundingBox": [
                            1.0943,
                            4.2661,
                            1.1497,
                            4.2661,
                            1.1497,
                            4.3717,
                            1.0943,
                            4.3717
                          ],
                          "page": 1,
                          "confidence": 0.965
                        },
                        "TotalPrice": {
                          "type": "number",
                          "valueNumber": 12,
                          "text": "12.00",
                          "boundingBox": [
                            5.4232,
                            4.2646,
                            5.7809,
                            4.2646,
                            5.7809,
                            4.3727,
                            5.4232,
                            4.3727
                          ],
                          "page": 1,
                          "confidence": 0.947
                        }
                      }
                    },
                    {
                      "type": "object",
                      "valueObject": {
                        "TotalPrice": {
                          "type": "number",
                          "valueNumber": 22,
                          "text": "22.00",
                          "boundingBox": [
                            5.4184,
                            4.4746,
                            5.781,
                            4.4746,
                            5.781,
                            4.5827,
                            5.4184,
                            4.5827
                          ],
                          "page": 1,
                          "confidence": 0.936
                        }
                      }
                    }
                  ]
                },
                "Subtotal": {
                  "type": "number",
                  "valueNumber": 300,
                  "text": "300.00",
                  "boundingBox": [
                    6.1794,
                    4.9042,
                    6.632,
                    4.9042,
                    6.632,
                    5.0131,
                    6.1794,
                    5.0131
                  ],
                  "page": 1,
                  "confidence": 0.99
                },
                "Total": {
                  "type": "number",
                  "valueNumber": 100,
                  "text": "100.00",
                  "boundingBox": [
                    5.811,
                    5.3445,
                    6.2587,
                    5.3445,
                    6.2587,
                    5.4533,
                    5.811,
                    5.4533
                  ],
                  "page": 1,
                  "confidence": 0.99
                }
              }
          [...]
