{
  "Entries": [
    {
      "RequestUri": "https://camaior-formrec.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://camaior-formrec.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/0eba84c7-96fa-47e5-a7bc-fe7076d2a4a5"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaior-formrec.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/0eba84c7-96fa-47e5-a7bc-fe7076d2a4a5?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "0eba84c7-96fa-47e5-a7bc-fe7076d2a4a5",
          "status": "creating",
          "createdDateTime": "2020-04-29T19:32:59Z",
          "lastUpdatedDateTime": "2020-04-29T19:32:59Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://camaior-formrec.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/0eba84c7-96fa-47e5-a7bc-fe7076d2a4a5?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "0eba84c7-96fa-47e5-a7bc-fe7076d2a4a5",
          "status": "ready",
          "createdDateTime": "2020-04-29T19:32:59Z",
          "lastUpdatedDateTime": "2020-04-29T19:33:08Z"
        },
        "keys": {
          "clusters": {
            "0": [
              "Additional Notes:",
              "Address:",
              "Address:",
              "Company Name:",
              "Company Phone:",
              "Dated As:",
              "Email:",
              "Hero Limited",
              "Name:",
              "Phone:",
              "Phone:",
              "Purchase Order",
              "Purchase Order",
              "Purchase Order #:",
              "SUBTOTAL",
              "Seattle, WA 93849 Phone:",
              "Shipped From",
              "Shipped To",
              "TAX",
              "TOTAL",
              "Vendor Name:",
              "Website:"
            ]
          }
        },
        "trainResult": {
          "trainingDocuments": [
            {
              "documentName": "Form_1.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "Form_2.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "Form_3.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "Form_4.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "Form_5.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            }
          ],
          "errors": []
        }
      }
    },
    {
      "RequestUri": "https://camaior-formrec.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/0eba84c7-96fa-47e5-a7bc-fe7076d2a4a5/analyze?includeTextDetails=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "source": "https://raw.githubusercontent.com/Azure/azure-sdk-for-net/master/sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Assets/Form_1.jpg"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaior-formrec.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/0eba84c7-96fa-47e5-a7bc-fe7076d2a4a5/analyzeresults/ebabf40e-1c36-4df5-9452-7908a6653209"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaior-formrec.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/0eba84c7-96fa-47e5-a7bc-fe7076d2a4a5/analyzeResults/ebabf40e-1c36-4df5-9452-7908a6653209",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2020-04-29T19:33:10Z",
        "lastUpdatedDateTime": "2020-04-29T19:33:10Z"
      }
    },
    {
      "RequestUri": "https://camaior-formrec.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/0eba84c7-96fa-47e5-a7bc-fe7076d2a4a5/analyzeResults/ebabf40e-1c36-4df5-9452-7908a6653209",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2020-04-29T19:33:10Z",
        "lastUpdatedDateTime": "2020-04-29T19:33:11Z",
        "analyzeResult": null
      }
    },
[...]
    {
      "RequestUri": "https://camaior-formrec.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/0eba84c7-96fa-47e5-a7bc-fe7076d2a4a5/analyzeResults/ebabf40e-1c36-4df5-9452-7908a6653209",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2020-04-29T19:33:10Z",
        "lastUpdatedDateTime": "2020-04-29T19:33:16Z",
        "analyzeResult": {
          "version": "2.0.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0.12,
              "width": 1700,
              "height": 2200,
              "unit": "pixel",
              "lines": []
            }
          ],
          "pageResults": [
            {
              "page": 1,
              "keyValuePairs": [
                {
                  "key": {
                    "text": "Hero Limited",
                    "boundingBox": [
                      620,
                      203,
                      1078,
                      203,
                      1078,
                      271,
                      620,
                      271
                    ],
                    "elements": null
                  },
                  "value": {
                    "text": "",
                    "boundingBox": null,
                    "elements": null
                  },
                  "confidence": 0.5
                },
                {
                  "key": {
                    "text": "Company Phone:",
                    "boundingBox": [
                      167,
                      351,
                      365,
                      351,
                      365,
                      381,
                      167,
                      381
                    ],
                    "elements": null
                  },
                  "value": {
                    "te[...]
    {
      "RequestUri": "https://camaior-formrec.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/0eba84c7-96fa-47e5-a7bc-fe7076d2a4a5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "FORM_RECOGNIZER_ENDPOINT": "https://camaior-formrec.cognitiveservices.azure.com/",
    "RandomSeed": "79070469"
  }
}