{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/prebuilt/receipt/analyze?includeTextDetails=false\u0026pages=1-2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/pdf",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/prebuilt/receipt/analyzeResults/6a7c7666-6b22-4506-8839-2bc44fd1a1bf"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/prebuilt/receipt/analyzeResults/6a7c7666-6b22-4506-8839-2bc44fd1a1bf",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2021-03-29T17:17:01Z",
        "lastUpdatedDateTime": "2021-03-29T17:17:01Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/prebuilt/receipt/analyzeResults/6a7c7666-6b22-4506-8839-2bc44fd1a1bf",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2021-03-29T17:17:01Z",
        "lastUpdatedDateTime": "2021-03-29T17:17:07Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch"
            },
            {
              "page": 2,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch"
            }
          ],
          "documentResults": [
            {
              "docType": "prebuilt:receipt",
              "pageRange": [
                1,
                1
              ],
              "fields": {
                "Items": {
                  "type": "array",
                  "valueArray": [
                    {
                      "type": "object",
                      "valueObject": {
                        "Quantity": {
                          "type": "number",
                          "valueNumber": 1,
                          "text": "1",
                          "boundingBox": [
                            3.2589,
                            3.2116,
                            3.3202,
                            3.2116,
                            3.3202,
                            3.3176,
                            3.2589,
                            3.3176
                          ],
                          "page": 1,
                          "confidence": 0.971
                        },
                        "TotalPrice": {
                          "type": "number",
                          "valueNumber": 10.99,
                          "text": "10.99",
                          "boundingBox": [
                            5.4232,
                            3.2108,
                            5.7784,
                            3.2108,
                            5.7784,
                            3.319,
                            5.4232,
                            3.319
                          ],
     [...]
