{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "source": "Sanitized",
        "useLabelFile": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/custom/models/577a5a06-7f1b-4cf7-916a-b79161669818"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/custom/models/577a5a06-7f1b-4cf7-916a-b79161669818?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "577a5a06-7f1b-4cf7-916a-b79161669818",
          "status": "creating",
          "createdDateTime": "2020-10-30T12:55:40Z",
          "lastUpdatedDateTime": "2020-10-30T12:55:40Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/custom/models/577a5a06-7f1b-4cf7-916a-b79161669818?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "577a5a06-7f1b-4cf7-916a-b79161669818",
          "status": "ready",
          "createdDateTime": "2020-10-30T12:55:40Z",
          "lastUpdatedDateTime": "2020-10-30T12:56:01Z"
        },
        "keys": {
          "clusters": {
            "0": [
              "25% discount on program guide",
              "50% discount on program guide",
              "Bronze Sponsor",
              "Contoso Ltd. Conference will be held on May 28-29, 2020 at the Elm Conference Center in",
              "Full Booth",
              "Full booth",
              "Full page ad in program guide",
              "Gold Sponsor",
              "Half Booth",
              "Half page ad in program guide",
              "Included",
              "Logo on poster",
              "Maple City, Massachusetts. The conference has sold out of its 1,500 tickets, with a 400 person",
              "Package",
              "Post-keynote thank you",
              "Pre-keynote thank you",
              "Price",
              "Rates:",
              "Silver Sponsor",
              "Vendor #:",
              "Vendor Registration",
              "advertisements",
              "below, and attach a check made out to:",
              "waitlist. Vendor applications are being accepted through Feb 28, 2020. Please fill in the form"
            ],
            "1": [
              "Company Name:",
              "Contact:",
              "Preferred Package:",
              "Special Requests:",
              "Vendor #:",
              "Vendor Details:"
            ]
          }
        },
        "trainResult": {
          "trainingDocuments": [
            {
              "documentName": "multi1.pdf",
              "pages": 2,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "multi2.pdf",
              "pages": 2,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "multi3.pdf",
              "pages": 2,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "multi4.pdf",
              "pages": 2,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "multi5.pdf",
              "pages": 2,
              "errors": [],
              "status": "succeeded"
            }
          ],
          "errors": []
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/custom/models/577a5a06-7f1b-4cf7-916a-b79161669818/analyze?includeTextDetails=true",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/pdf",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.1/custom/models/577a5a06-7f1b-4cf7-916a-b79161669818/analyzeresults/f0e54b7f-864e-40cf-ad84-7bda4bc2257a"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/custom/models/577a5a06-7f1b-4cf7-916a-b79161669818/analyzeResults/f0e54b7f-864e-40cf-ad84-7bda4bc2257a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2020-10-30T12:56:03Z",
        "lastUpdatedDateTime": "2020-10-30T12:56:03Z"
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/custom/models/577a5a06-7f1b-4cf7-916a-b79161669818/analyzeResults/f0e54b7f-864e-40cf-ad84-7bda4bc2257a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2020-10-30T12:56:03Z",
        "lastUpdatedDateTime": "2020-10-30T12:56:04Z",
        "analyzeResult": null
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/custom/models/577a5a06-7f1b-4cf7-916a-b79161669818/analyzeResults/f0e54b7f-864e-40cf-ad84-7bda4bc2257a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2020-10-30T12:56:03Z",
        "lastUpdatedDateTime": "2020-10-30T12:56:14Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0,
              "width": 8.5,
              "height": 11.0,
              "unit": "inch",
              "lines": [
                {
                  "text": "Vendor #:",
                  "boundingBox": [
                    6.1278,
                    1.0688,
                    7.1514,
                    1.0688,
                    7.1514,
                    1.24,
                    6.1278,
                    1.24
                  ],
                  "words": [
                    {
                      "text": "Vendor",
                      "boundingBox": [
                        6.1278,
                        1.0667,
                        6.8653,
                        1.0667,
                        6.8653,
                        1.2403,
                        6.1278,
                        1.2403
                      ]
                    },
                    {
                      "text": "#:",
                      "boundingBox":[...]
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/custom/models/577a5a06-7f1b-4cf7-916a-b79161669818",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_ENDPOINT": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/",
    "FORM_RECOGNIZER_MULTIPAGE_BLOB_CONTAINER_SAS_URL": "https://azuresdktrainingdata.blob.core.windows.net/multipage-vendor-forms?sp=rl\u0026st=2020-06-25T04:55:22Z\u0026se=2021-06-26T04:55:00Z\u0026sv=2019-10-10\u0026sr=c\u0026sig=Z25JFTIsP3tbxDjHP2CK05HxIS9uz1E%2FDaRfjeEUyaU%3D",
    "RandomSeed": "589125165"
  }
}