{
  "Entries": [
    {
      "RequestUri": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/prebuilt/receipt/analyze?includeTextDetails=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "image/png",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/prebuilt/receipt/analyzeResults/6f1ff2be-e07e-4733-b4b2-9855180ed25a"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/prebuilt/receipt/analyzeResults/6f1ff2be-e07e-4733-b4b2-9855180ed25a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2020-11-17T00:32:53Z",
        "lastUpdatedDateTime": "2020-11-17T00:32:53Z"
      }
    },
[...]
    {
      "RequestUri": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/prebuilt/receipt/analyzeResults/6f1ff2be-e07e-4733-b4b2-9855180ed25a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2020-11-17T00:32:53Z",
        "lastUpdatedDateTime": "2020-11-17T00:32:56Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0.6701,
              "width": 1688,
              "height": 3000,
              "unit": "pixel"
            }
          ],
          "documentResults": [
            {
              "docType": "prebuilt:receipt",
              "pageRange": [
                1,
                1
              ],
              "fields": {
                "ReceiptType": {
                  "type": "string",
                  "valueString": "Itemized",
                  "confidence": 0.954
                },
                "MerchantName": {
                  "type": "string",
                  "valueString": "Contoso Contoso",
                  "text": "Contoso Contoso",
                  "boundingBox": [
                    378.2,
                    292.4,
                    1117.7,
                    468.3,
                    1035.7,
                    812.7,
                    296.3,
                    636.8
                  ],
                  "page": 1,
                  "confidence": 0.616
                },
                "MerchantAddress": {
                  "type": "string",
                  "valueString": "123 Main Street Redmond, WA 98052",
                  "text": "123 Main Street Redmond, WA 98052",
                  "boundingBox": [
                    302,
                    675.8,
                    848.1,
                    793.7,
                    809.9,
                    970.4,
                    263.9,
                    852.5
                  ],
                  "page": 1,
                  "confidence": 0.99
                },
                "MerchantPhoneNumber": {
                  "type": "phoneNumber",
                  "valuePhoneNumber": "\u002B19876543210",
                  "text": "987-654-3210",
                  "boundingBox": [
                    278,
                    1004,
                    657,
                    1057,
                    647,
                    1123,
                    271,
                    1075
                  ],
                  "page": 1,
                  "confidence": 0.99
                },
                "TransactionDate": {
                  "type": "date",
                  "valueDate": "2020-06-10",
                  "text": "6/10/20",
                  "boundingBox": [
                    264,
                    1228,
                    454,
                    1241,
                    448,
                    1326,
                    259,
                    1314
                  ],
                  "page": 1,
                  "confidence": 0.904
                },
                "TransactionTime": {
                  "type": "time",
                  "valueTime": "13:59:00",
                  "text": "13:59",
                  "boundingBox": [
                    539,
                    1248,
                    678,
                    1263,
                    670,
                    1345,
                    532,
                    1333
                  ],
                  "page": 1,
                  "confidence": 0.693
                },
                "Items": {
                  "type": "array",
                  "valueArray": [
                    {
                      "type": "object",
                      "valueObject": {
                        "Quantity": {
                          "type": "number",
                          "valueNumber": 1,
                          "text": "1",
                          "boundingBox": [
                            247,
                            1582,
                            302,
                            1585,
                            295,
                            1676,
                            239,
                            1671
                          ],
                          "page": 1,
                          "confidence": 0.919
                        },
                        "Name": {
                          "type": "string",
                          "valueString": "Cappuccino",
                          "text": "Cappuccino",
                          "boundingBox": [
                            319,
                            1585,
                            658,
                            1605,
                            654,
                            1689,
                            312,
                            1677
                          ],
                          "page": 1,
                          "confidence": 0.923
                        },
                        "TotalPrice": {
                          "type": "number",
                          "valueNumber": 2.2,
                          "text": "$2.20",
                          "boundingBox": [
                            1108,
                            1584,
                            1263,
                            1574,
                            1268,
                            1656,
                            1113,
                            1666
                          ],
                     [...]
