{
  "Entries": [
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/prebuilt/invoice/analyze?includeTextDetails=true\u0026locale=en-US",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "image/tiff",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/prebuilt/invoice/analyzeResults/8906ec2d-7c7e-4a9a-9b9a-c870282b50ff"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/prebuilt/invoice/analyzeResults/8906ec2d-7c7e-4a9a-9b9a-c870282b50ff",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2021-01-29T00:11:34Z",
        "lastUpdatedDateTime": "2021-01-29T00:11:34Z"
      }
    },
[...]
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/prebuilt/invoice/analyzeResults/8906ec2d-7c7e-4a9a-9b9a-c870282b50ff",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2021-01-29T00:11:34Z",
        "lastUpdatedDateTime": "2021-01-29T00:11:42Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0,
              "width": 1700,
              "height": 2200,
              "unit": "pixel",
              "lines": [
                {
                  "text": "Contoso",
                  "boundingBox": [
                    105,
                    231,
                    289,
                    232,
                    289,
                    274,
                    105,
                    273
                  ],
                  "words": [
                    {
                      "text": "Contoso",
                      "boundingBox": [
                        106,
                        232,
                        288,
                        234,
                        288,
                        274,
                        105,
                        274
                      ],
                      "confidence": 0.985
                    }
                  ],
                  "appearance": {
                    "style": {
                      "name": "other",
                      "confidence": 0.999
                    }
                  }
                },
                {
                  "text": "Address:",
                  "boundingBox": [
                    159,
                    299,
                    279,
                    300,
                    279,
                    326,
                    159,
                    325
                  ],
                  "words": [
                    {
                      "te[...]
