{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/prebuilt/businessCard/analyze?includeTextDetails=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "image/jpeg"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/prebuilt/businessCard/analyzeResults/f18033cf-5d6e-4f3f-9536-12fb71a8ed9d"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/prebuilt/businessCard/analyzeResults/f18033cf-5d6e-4f3f-9536-12fb71a8ed9d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2021-03-23T00:43:26Z",
        "lastUpdatedDateTime": "2021-03-23T00:43:26Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/prebuilt/businessCard/analyzeResults/f18033cf-5d6e-4f3f-9536-12fb71a8ed9d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2021-03-23T00:43:26Z",
        "lastUpdatedDateTime": "2021-03-23T00:43:28Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": -16.6836,
              "width": 4032,
              "height": 3024,
              "unit": "pixel"
            }
          ],
          "documentResults": [
            {
              "docType": "prebuilt:businesscard",
              "pageRange": [
                1,
                1
              ],
              "fields": {
                "Addresses": {
                  "type": "array",
                  "valueArray": [
                    {
                      "type": "string",
                      "valueString": "2 Kingdom Street Paddington, London, W2 6BD",
                      "text": "2 Kingdom Street Paddington, London, W2 6BD",
                      "boundingBox": [
                        1227.3,
                        2138.3,
                        2520.2,
                        1690.5,
                        2597,
                        1912.3,
                        1304.1,
                        2360.1
                      ],
                      "page": 1,
                      "confidence": 0.98
                    }
                  ]
                },
                "CompanyNames": {
                  "type": "array",
                  "valueArray": [
                    {
                      "type": "string",
                      "valueString": "Contoso",
                      "text": "Contoso",
                      "boundingBox": [
                        1146,
                        1926,
                        2224,
                        1587,
                        2285,
                        1756,
                        1202,
                        2099
                      ],
                      "page": 1,
                      "confidence": 0.168
                    }
                  ]
                },
                "ContactNames": {
                  "type": "array",
                  "valueArray": [
                    {
                      "type": "object",
                      "valueObject": {
                        "FirstName": {
                          "type": "string",
                          "valueString": "Avery",
                          "text": "Avery",
                          "boundingBox": [
                            666,
                            1102,
                            1111,
                            995,
                            1140,
                            1114,
                            696,
                            1216
                          ],
                          "page": 1
                        },
                        "LastName": {
                          "type": "string",
                          "valueString": "Smith",
                          "text": "Smith",
                          "boundingBox": [
                            1170,
                            981,
                            1571,
                            881,
                            1600,
                            1000,
                            1200,
                            1100
                          ],
                          "page": 1
                        }
                      },
                      "text": "Dr. Avery Smith",
                      "boundingBox": [
                        414.1,
                        1153,
                        1572,
                        880.8,
                        1601.3,
                        1005.6,
                        443.5,
                        1277.9
                      ],
                      "page": 1,
                      "confidence": 0.979
                    }
                  ]
                },
                "Departments": {
                  "type": "array",
                  "valueArray": [
                    {
                      "type": "string",
                      "valueString": "Cloud \u0026 Al Department",
                      "text": "Cloud \u0026 Al Department",
                      "boundingBox": [
                        473.6,
                        1409.5,
                        1586,
                        1134,
                        1607.3,
                        1219.8,
                        494.9,
                        1495.3
                      ],
                      "page": 1,
                      "confidence": 0.989
                    }
                  ]
                },
                "Emails": {
                  "type": "array",
                  "valueArray": [
                    {
                      "type": "string",
                      "valueString": "avery.smith@contoso.com",
                      "text": "avery.smith@contoso.com",
                      "boundingBox": [
                        2106,
                        934,
                        2908,
                        706,
                        2921,
                        769,
                        2122,
                        993
                      ],
                      "page": 1,
                      "confidence": 0.99
                    }
                  ]
                },
                "Faxes": {
                  "type": "array",
                  "valueArray": [
                    {
                      "type": "phoneNumber",
                      "text": "\u002B44 (0) 20 6789 2345",
                      "boundingBox": [
                        2520.4,
                        1195.5,
                        3191.8,
                        983.5,
                        3215.8,
                        1059.2,
                        2544.3,
                        1271.3
                      ],
                      "page": 1,
                      "confidence": 0.99
                    }
                  ]
                },
                "JobTitles": {
                  "type": "array",
                  "valueArray": [
                    {
                      "type": "string",
                      "valueString": "Senior Researcher",
                      "text": "Senior Researcher",
                      "boundingBox": [
                        451,
                        1312,
                        1315.9,
                        1103.6,
                        1334.7,
                        1181.7,
                        469.8,
                        1390
                      ],
                      "page": 1,
                      "confidence": 0.99
                    }
                  ]
                },
                "MobilePhones": {
                  "type": "array",
                  "valueArray": [
                    {
                      "type": "phoneNumber",
                      "text": "\u002B44 (0) 7911 123456",
                      "boundingBox": [
                        2426.8,
                        1040.1,
                        3065.5,
                        846,
                        3087.2,
                        917.6,
                        2448.5,
                        1111.7
                      ],
                      "page": 1,
                      "confidence": 0.99
                    }
                  ]
                },
                "Websites": {
                  "type": "array",
                  "valueArray": [
                    {
                      "type": "string",
                      "valueString": "https://www.contoso.com/",
                      "text": "https://www.contoso.com/",
                      "boundingBox": [
                        2120,
                        1003,
                        2981,
                        757,
                        3006,
                        824,
                        2139,
                        1075
                      ],
                      "page": 1,
                      "confidence": 0.99
                    }
                  ]
                },
                "WorkPhones": {
                  "type": "array",
                  "valueArray": [
                    {
                      "type": "phoneNumber",
                      "text": "\u002B44 (0) 20 9876 5432",
                      "boundingBox": [
                        2468.2,
                        1118.1,
                        3130.3,
                        914.6,
                        3152.9,
                        988.2,
                        2490.8,
                        1191.6
                      ],
                      "page": 1,
                      "confidence": 0.989
                    }
                  ]
                }
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_ENDPOINT": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/",
    "RandomSeed": "967458419"
  }
}