{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/prebuilt/invoice/analyze?includeTextDetails=false\u0026pages=1-2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/pdf",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/prebuilt/invoice/analyzeResults/38a0d864-178d-44bc-a21a-ed8ff88f5e6c"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/prebuilt/invoice/analyzeResults/38a0d864-178d-44bc-a21a-ed8ff88f5e6c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2021-03-29T17:54:32Z",
        "lastUpdatedDateTime": "2021-03-29T17:54:32Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/prebuilt/invoice/analyzeResults/38a0d864-178d-44bc-a21a-ed8ff88f5e6c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2021-03-29T17:54:32Z",
        "lastUpdatedDateTime": "2021-03-29T17:54:39Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch"
            },
            {
              "page": 2,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch"
            }
          ],
          "pageResults": [
            {
              "page": 1,
              "tables": [
                {
                  "rows": 8,
                  "columns": 3,
                  "cells": [
                    {
                      "rowIndex": 0,
                      "columnIndex": 0,
                      "text": "Item",
                      "boundingBox": [
                        0.9909,
                        2.9408,
                        3.1582,
                        2.9408,
                        3.1582,
                        3.1528,
                        0.9909,
                        3.1528
                      ]
                    },
                    {
                      "rowIndex": 0,
                      "columnIndex": 1,
                      "text": "Quantity",
                      "boundingBox": [
               [...]
