{
  "Entries": [
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "source": "Sanitized",
        "useLabelFile": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/e8717191-9a5e-4218-85e4-75bbf82beff8"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/e8717191-9a5e-4218-85e4-75bbf82beff8?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "e8717191-9a5e-4218-85e4-75bbf82beff8",
          "status": "creating",
          "createdDateTime": "2020-08-07T02:19:57Z",
          "lastUpdatedDateTime": "2020-08-07T02:19:57Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/e8717191-9a5e-4218-85e4-75bbf82beff8?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "e8717191-9a5e-4218-85e4-75bbf82beff8",
          "status": "ready",
          "createdDateTime": "2020-08-07T02:19:57Z",
          "lastUpdatedDateTime": "2020-08-07T02:20:11Z"
        },
        "keys": {
          "clusters": {
            "0": [
              "Additional Notes:",
              "Address:",
              "Company Name:",
              "Company Phone:",
              "Dated As:",
              "Details",
              "Email:",
              "Hero Limited",
              "Name:",
              "Phone:",
              "Purchase Order",
              "Purchase Order #:",
              "Quantity",
              "SUBTOTAL",
              "Seattle, WA 93849 Phone:",
              "Shipped From",
              "Shipped To",
              "TAX",
              "TOTAL",
              "Total",
              "Unit Price",
              "Vendor Name:",
              "Website:"
            ]
          }
        },
        "trainResult": {
          "trainingDocuments": [
            {
              "documentName": "Form_1.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "Form_2.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "Form_3.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "Form_4.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "Form_5.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            }
          ],
          "errors": []
        }
      }
    },
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/e8717191-9a5e-4218-85e4-75bbf82beff8/analyze?includeTextDetails=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "image/jpeg",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/e8717191-9a5e-4218-85e4-75bbf82beff8/analyzeresults/51a7f0a1-dbea-4801-8c1a-de9393649606"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/e8717191-9a5e-4218-85e4-75bbf82beff8/analyzeResults/51a7f0a1-dbea-4801-8c1a-de9393649606",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2020-08-07T02:20:18Z",
        "lastUpdatedDateTime": "2020-08-07T02:20:18Z"
      }
    },
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/e8717191-9a5e-4218-85e4-75bbf82beff8/analyzeResults/51a7f0a1-dbea-4801-8c1a-de9393649606",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2020-08-07T02:20:18Z",
        "lastUpdatedDateTime": "2020-08-07T02:20:18Z",
        "analyzeResult": null
      }
    },
[...]
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/e8717191-9a5e-4218-85e4-75bbf82beff8/analyzeResults/51a7f0a1-dbea-4801-8c1a-de9393649606",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2020-08-07T02:20:18Z",
        "lastUpdatedDateTime": "2020-08-07T02:20:21Z",
        "analyzeResult": {
          "version": "2.0.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0.16,
              "width": 1700,
              "height": 2200,
              "unit": "pixel",
              "lines": []
            }
          ],
          "pageResults": [
            {
              "page": 1,
              "keyValuePairs": [
                {
                  "key": {
                    "text": "Hero Limited",
                    "boundingBox": [
                      620.0,
                      203.0,
                      1078.0,
                      203.0,
                      1078.0,
                      271.0,
                      620.0,
                      271.0
                    ],
                    "elements": null
                  },
                  "value": {
                    "text": "",
                    "boundingBox": null,
                    "elements": null
                  },
                  "confidence": 0.5
                },
                {
                  "key": {
                    "text": "Company Phone:",
                    "boundingBox": [
                      167.0,
                      351.0,
                      365.0,
                      351.0,
                      365.0,
                      381.0,
                      167.0,
                      381.0
                    ],
                    "elements": null
                  },
                  "value": {
       [...]
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/e8717191-9a5e-4218-85e4-75bbf82beff8",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "FORM_RECOGNIZER_ENDPOINT": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/",
    "RandomSeed": "216728248"
  }
}