{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/prebuilt/invoice/analyze?includeTextDetails=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/pdf",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/prebuilt/invoice/analyzeResults/224974fa-4c3b-41e8-a68c-e3bb60294626"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/prebuilt/invoice/analyzeResults/224974fa-4c3b-41e8-a68c-e3bb60294626",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2021-03-23T00:54:23Z",
        "lastUpdatedDateTime": "2021-03-23T00:54:23Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/prebuilt/invoice/analyzeResults/224974fa-4c3b-41e8-a68c-e3bb60294626",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2021-03-23T00:54:23Z",
        "lastUpdatedDateTime": "2021-03-23T00:54:29Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch"
            }
          ],
          "pageResults": [
            {
              "page": 1,
              "tables": [
                {
                  "rows": 3,
                  "columns": 6,
                  "cells": [
                    {
                      "rowIndex": 0,
                      "columnIndex": 0,
                      "text": "Invoice Number",
                      "boundingBox": [
                        0.5136,
                        2.7829,
                        1.8978,
                        2.79,
                        1.8978,
                        3.311,
                        0.5136,
                        3.311
                      ]
                    },
                    {
                      "rowIndex": 0,
                      "columnIndex": 1,
                      "text": "Invoice Date",
                      "boundingBox": [
                        1.8978,
                        2.79,
                        3.2964,
                        2.79,
                        3.3036,
                        3.311,
                        1.8978,
                        3.311
                      ]
                    },
                    {
                      "rowIndex": 0,
                      "columnIndex": 2,
                      "text": "Invoice Due Date",
                      "boundingBox": [
                        3.2964,
                        2.79,
                        4.7022,
                        2.79,
                        4.7094,
                        3.311,
                        3.3036,
                        3.311
                      ]
                    },
                    {
                      "rowIndex": 0,
                      "columnIndex": 3,
                      "columnSpan": 2,
                      "text": "Charges",
                      "boundingBox": [
                        4.7022,
                        2.79,
                        6.1079,
                        2.7829,
                        6.1079,
                        3.311,
                        4.7094,
                        3.311
                      ]
                    },
                    {
                      "rowIndex": 0,
                      "columnIndex": 5,
                      "text": "VAT ID",
                      "boundingBox": [
                        6.1079,
                        2.7829,
                        7.485,
                        2.7829,
                        7.4922,
                        3.311,
                        6.1079,
                        3.311
                      ]
                    },
                    {
                      "rowIndex": 1,
                      "columnIndex": 0,
                      "rowSpan": 2,
                      "text": "34278587",
                      "boundingBox": [
                        0.5136,
                        3.311,
                        1.8978,
                        3.311,
                        1.8978,
                        3.8534,
                        0.5136,
                        3.8534
                      ]
                    },
                    {
                      "rowIndex": 1,
                      "columnIndex": 1,
                [...]
