{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/prebuilt/invoice/analyze?includeTextDetails=false\u0026locale=not-locale",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "source": "Sanitized"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "UnsupportedLocale",
          "innerError": {
            "requestId": "936c3cb3-b970-4df0-9d7b-8d6fc70d7541"
          },
          "message": "Locale unsupported. Supported locale includes en-US."
        }
      }
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_ENDPOINT": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/",
    "RandomSeed": "118110014"
  }
}