{
  "Entries": [
    {
      "RequestUri": "https://t00b5fddbfc124bd4-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "source": "Sanitized",
        "useLabelFile": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://t00b5fddbfc124bd4-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/1528bd33-a15c-475f-8992-3b6ee94e4d72"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://t00b5fddbfc124bd4-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/1528bd33-a15c-475f-8992-3b6ee94e4d72?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "1528bd33-a15c-475f-8992-3b6ee94e4d72",
          "status": "creating",
          "createdDateTime": "2020-08-20T18:06:12Z",
          "lastUpdatedDateTime": "2020-08-20T18:06:12Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://t00b5fddbfc124bd4-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/1528bd33-a15c-475f-8992-3b6ee94e4d72?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "1528bd33-a15c-475f-8992-3b6ee94e4d72",
          "status": "ready",
          "createdDateTime": "2020-08-20T18:06:12Z",
          "lastUpdatedDateTime": "2020-08-20T18:06:20Z"
        },
        "keys": {
          "clusters": {
            "0": [
              "Additional Notes:",
              "Address:",
              "Company Name:",
              "Company Phone:",
              "Dated As:",
              "Details",
              "Email:",
              "Hero Limited",
              "Name:",
              "Phone:",
              "Purchase Order",
              "Purchase Order #:",
              "Quantity",
              "SUBTOTAL",
              "Seattle, WA 93849 Phone:",
              "Shipped From",
              "Shipped To",
              "TAX",
              "TOTAL",
              "Total",
              "Unit Price",
              "Vendor Name:",
              "Website:"
            ]
          }
        },
        "trainResult": {
          "trainingDocuments": [
            {
              "documentName": "Form_1.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "Form_2.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "Form_3.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "Form_4.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "Form_5.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            }
          ],
          "errors": []
        }
      }
    },
    {
      "RequestUri": "https://t00b5fddbfc124bd4-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/1528bd33-a15c-475f-8992-3b6ee94e4d72/analyze?includeTextDetails=true",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "source": "Sanitized"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://t00b5fddbfc124bd4-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/1528bd33-a15c-475f-8992-3b6ee94e4d72/analyzeresults/57b3693e-e3d6-4e38-8720-099d67b06243"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://t00b5fddbfc124bd4-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/1528bd33-a15c-475f-8992-3b6ee94e4d72/analyzeResults/57b3693e-e3d6-4e38-8720-099d67b06243",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2020-08-20T18:06:21Z",
        "lastUpdatedDateTime": "2020-08-20T18:06:21Z"
      }
    },
    {
      "RequestUri": "https://t00b5fddbfc124bd4-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/1528bd33-a15c-475f-8992-3b6ee94e4d72/analyzeResults/57b3693e-e3d6-4e38-8720-099d67b06243",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2020-08-20T18:06:21Z",
        "lastUpdatedDateTime": "2020-08-20T18:06:22Z",
        "analyzeResult": null
      }
    },
[...]
    {
      "RequestUri": "https://t00b5fddbfc124bd4-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/1528bd33-a15c-475f-8992-3b6ee94e4d72/analyzeResults/57b3693e-e3d6-4e38-8720-099d67b06243",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2020-08-20T18:06:21Z",
        "lastUpdatedDateTime": "2020-08-20T18:06:25Z",
        "analyzeResult": {
          "version": "2.0.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0.16,
              "width": 1700,
              "height": 2200,
              "unit": "pixel",
              "lines": [
                {
                  "text": "Purchase Order",
                  "boundingBox": [
                    141.0,
                    140.0,
                    348.0,
                    140.0,
                    348.0,
                    168.0,
                    141.0,
                    168.0
                  ],
                  "words": [
                    {
                      "text": "Purchase",
                      "boundingBox": [
                        141.0,
                        139.0,
                        267.0,
                        139.0,
                        267.0,
                        167.0,
                        141.0,
                        167.0
                      ]
                    },
                    {
                      "text": "Order",
                      "boundingBox": [
[...]
    {
      "RequestUri": "https://t00b5fddbfc124bd4-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/1528bd33-a15c-475f-8992-3b6ee94e4d72",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "FORM_RECOGNIZER_ENDPOINT": "https://t00b5fddbfc124bd4-formrecognizer.cognitiveservices.azure.com",
    "RandomSeed": "878562365"
  }
}