{
  "Entries": [
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.1-preview.1/prebuilt/businessCard/analyze?includeTextDetails=true",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "image/jpeg",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.1-preview.1/prebuilt/businessCard/analyzeResults/fe857cb9-7bf3-4bde-8f02-9049b3b27d98"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.1-preview.1/prebuilt/businessCard/analyzeResults/fe857cb9-7bf3-4bde-8f02-9049b3b27d98",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2020-10-09T23:19:43Z",
        "lastUpdatedDateTime": "2020-10-09T23:19:43Z"
      }
    },
[...]
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.1-preview.1/prebuilt/businessCard/analyzeResults/fe857cb9-7bf3-4bde-8f02-9049b3b27d98",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2020-10-09T23:19:43Z",
        "lastUpdatedDateTime": "2020-10-09T23:19:46Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": -17.0956,
              "width": 4032,
              "height": 3024,
              "unit": "pixel",
              "lines": [
                {
                  "text": "Dr. Avery Smith",
                  "boundingBox": [
                    418,
                    1156,
                    1608,
                    874,
                    1636,
                    994,
                    445,
                    1264
                  ],
                  "words": [
                    {
                      "text": "Dr.",
                      "boundingBox": [
                        422,
                        1166,
                        664,
                        1105,
                        694,
                        1214,
                        451,
                        1264
                      ],
                      "confidence": 0.946
                    },
                    {
                      "text": "Avery",
                      "boundingBox": [
                        703,
                        1096,
                        1134,
                        989,
                        1165,
                        1109,
                        733,
                        1206
                      ],
                      "confidence": 0.956
                    },
                    {
                      [...]
