{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/292d7caa-a878-4de8-b774-689097666272?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11879"
      },
      "ResponseBody": {
        "id": "/subscriptions/292d7caa-a878-4de8-b774-689097666272",
        "authorizationSource": "Bypassed",
        "managedByTenants": [],
        "subscriptionId": "292d7caa-a878-4de8-b774-689097666272",
        "tenantId": "01884692-6d96-44fa-8c58-11b4e90fef19",
        "displayName": "Microsoft Azure",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "CSP_2015-05-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/292d7caa-a878-4de8-b774-689097666272/resourcegroups/azsdkRG?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11878"
      },
      "ResponseBody": {
        "id": "/subscriptions/292d7caa-a878-4de8-b774-689097666272/resourceGroups/azsdkRG",
        "name": "azsdkRG",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "brazilsouth",
        "tags": {
          "ServiceDirectory": "desktopvirtualization",
          "Creator": "sampa",
          "DeleteAfter": "2022-05-22T20:49:28.1719085Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/292d7caa-a878-4de8-b774-689097666272/resourceGroups/azsdkRG/providers/Microsoft.DesktopVirtualization/workspaces/testWorkspaceCrudWS?api-version=2021-07-12",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "brazilsouth",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/subscriptions/292d7caa-a878-4de8-b774-689097666272/resourcegroups/azsdkRG/providers/Microsoft.DesktopVirtualization/workspaces/testWorkspaceCrudWS",
        "x-ms-lamport-ts": "10842",
        "x-ms-opsarmpath64": "L3N1YnNjcmlwdGlvbnMvMjkyZDdjYWEtYTg3OC00ZGU4LWI3NzQtNjg5MDk3NjY2MjcyL3Jlc291cmNlR3JvdXBzL2F6c2RrUkcvcHJvdmlkZXJzL01pY3Jvc29mdC5EZXNrdG9wVmlydHVhbGl6YXRpb24vd29ya3NwYWNlcy90ZXN0V29ya3NwYWNlQ3J1ZFdT",
        "x-ms-ratelimit-remaining-subscription-writes": "1141",
        "X-Rate-Limit-Limit": "0",
        "X-Rate-Limit-Remaining": "9223372036854775807",
        "X-Rate-Limit-Reset": "0"
      },
      "ResponseBody": {
        "name": "testWorkspaceCrudWS",
        "id": "/subscriptions/292d7caa-a878-4de8-b774-689097666272/resourcegroups/azsdkRG/providers/Microsoft.DesktopVirtualization/workspaces/testWorkspaceCrudWS",
        "type": "Microsoft.DesktopVirtualization/workspaces",
        "location": "brazilsouth",
        "tags": {},
        "kind": null,
        "systemData": {
          "createdBy": "4d623718-752b-4325-9960-46e070a92bca",
          "createdByType": "Application",
          "createdAt": "2022-06-02T19:19:16.56Z",
          "lastModifiedBy": "4d623718-752b-4325-9960-46e070a92bca",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-06-02T19:19:16.56Z"
        },
        "properties": {
          "description": null,
          "friendlyName": null,
          "applicationGroupReferences": [],
          "cloudPcResource": false,
          "objectId": "a07ae8fc-9dad-488a-ac85-2d3349634946"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/292d7caa-a878-4de8-b774-689097666272/resourceGroups/azsdkRG/providers/Microsoft.DesktopVirtualization/workspaces/testWorkspaceCrudWS?api-version=2021-07-12",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.DesktopVirtualization/workspaces/testWorkspaceCrudWS\u0027 under resource group \u0027azsdkRG\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    }
  ],
  "Variables": {
    "DESKTOPVIRTUALIZATION_RESOURCE_GROUP": "azsdkRG",
    "RandomSeed": "1388080628",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "292d7caa-a878-4de8-b774-689097666272"
  }
}
