<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="All Rules with default action" Description="All Rules with default action. Rules with IsEnabledByDefault = false are disabled." ToolsVersion="15.0">
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1000" Action="None" />
    <Rule Id="CA1008" Action="None" />
    <Rule Id="CA1010" Action="None" />
    <Rule Id="CA1012" Action="None" />
    <Rule Id="CA1014" Action="None" />
    <Rule Id="CA1016" Action="None" />
    <Rule Id="CA1017" Action="None" />
    <Rule Id="CA1018" Action="None" />
    <Rule Id="CA1024" Action="None" />
    <Rule Id="CA1027" Action="None" />
    <Rule Id="CA1028" Action="None" />
    <Rule Id="CA1030" Action="None" />
    <Rule Id="CA1033" Action="None" />
    <Rule Id="CA1034" Action="None" />
    <Rule Id="CA1036" Action="None" />
    <Rule Id="CA1040" Action="None" />
    <Rule Id="CA1041" Action="None" />
    <Rule Id="CA1043" Action="None" />
    <Rule Id="CA1044" Action="None" />
    <Rule Id="CA1050" Action="None" />
    <Rule Id="CA1051" Action="None" />
    <Rule Id="CA1052" Action="None" />
    <Rule Id="CA1054" Action="None" />
    <Rule Id="CA1055" Action="None" />
    <Rule Id="CA1056" Action="None" />
    <Rule Id="CA1060" Action="None" />
    <Rule Id="CA1061" Action="None" />
    <Rule Id="CA1063" Action="None" />
    <Rule Id="CA1064" Action="None" />
    <Rule Id="CA1066" Action="None" />
    <Rule Id="CA1067" Action="None" />
    <Rule Id="CA1068" Action="None" />
    <Rule Id="CA1501" Action="None" />
    <Rule Id="CA1502" Action="None" />
    <Rule Id="CA1505" Action="None" />
    <Rule Id="CA1506" Action="None" />
    <Rule Id="CA1509" Action="None" />
    <Rule Id="CA1707" Action="None" />
    <Rule Id="CA1708" Action="None" />
    <Rule Id="CA1710" Action="None" />
    <Rule Id="CA1711" Action="None" />
    <Rule Id="CA1714" Action="None" />
    <Rule Id="CA1715" Action="None" />
    <Rule Id="CA1716" Action="None" />
    <Rule Id="CA1717" Action="None" />
    <Rule Id="CA1720" Action="None" />
    <Rule Id="CA1721" Action="None" />
    <Rule Id="CA1724" Action="None" />
    <Rule Id="CA1725" Action="None" />
    <Rule Id="CA1801" Action="None" />
    <Rule Id="CA1802" Action="None" />
    <Rule Id="CA1806" Action="None" />
    <Rule Id="CA1812" Action="None" />
    <Rule Id="CA1814" Action="None" />
    <Rule Id="CA1815" Action="None" />
    <Rule Id="CA1819" Action="None" />
    <Rule Id="CA1822" Action="None" />
    <Rule Id="CA1823" Action="None" />
    <Rule Id="CA2007" Action="Error" />
    <Rule Id="CA2119" Action="None" />
    <Rule Id="CA2211" Action="None" />
    <Rule Id="CA2214" Action="None" />
    <Rule Id="CA2217" Action="None" />
    <Rule Id="CA2219" Action="None" />
    <Rule Id="CA2225" Action="None" />
    <Rule Id="CA2226" Action="None" />
    <Rule Id="CA2227" Action="None" />
    <Rule Id="CA2231" Action="None" />
    <Rule Id="CA2244" Action="None" />
    <Rule Id="CA9999" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.CSharp.Analyzers" RuleNamespace="Microsoft.CodeQuality.CSharp.Analyzers">
    <Rule Id="Async001" Action="None" />
    <Rule Id="Async002" Action="None" />
    <Rule Id="Async003" Action="None" />
    <Rule Id="Async004" Action="None" />
    <Rule Id="Async005" Action="None" />
    <Rule Id="Async006" Action="None" />
    <Rule Id="CA1001" Action="None" />
    <Rule Id="CA1003" Action="None" />
    <Rule Id="CA1019" Action="None" />
    <Rule Id="CA1032" Action="None" />
    <Rule Id="CA1065" Action="None" />
    <Rule Id="CA1200" Action="None" />
    <Rule Id="CA1500" Action="None" />
    <Rule Id="CA1507" Action="None" />
    <Rule Id="CA1726" Action="None" />
    <Rule Id="CA1821" Action="None" />
    <Rule Id="CA2001" Action="None" />
    <Rule Id="CA2109" Action="None" />
    <Rule Id="CA2200" Action="None" />
    <Rule Id="CA2234" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.VisualBasic.Analyzers" RuleNamespace="Microsoft.CodeQuality.VisualBasic.Analyzers">
    <Rule Id="Async001" Action="None" />
    <Rule Id="Async002" Action="None" />
    <Rule Id="Async003" Action="None" />
    <Rule Id="Async004" Action="None" />
    <Rule Id="Async005" Action="None" />
    <Rule Id="Async006" Action="None" />
    <Rule Id="CA1001" Action="None" />
    <Rule Id="CA1003" Action="None" />
    <Rule Id="CA1019" Action="None" />
    <Rule Id="CA1032" Action="None" />
    <Rule Id="CA1065" Action="None" />
    <Rule Id="CA1200" Action="None" />
    <Rule Id="CA1500" Action="None" />
    <Rule Id="CA1507" Action="None" />
    <Rule Id="CA1726" Action="None" />
    <Rule Id="CA1821" Action="None" />
    <Rule Id="CA2001" Action="None" />
    <Rule Id="CA2109" Action="None" />
    <Rule Id="CA2200" Action="None" />
    <Rule Id="CA2218" Action="None" />
    <Rule Id="CA2224" Action="None" />
    <Rule Id="CA2234" Action="None" />
  </Rules>
</RuleSet>