{
  "Entries": [
    {
      "RequestUri": "/subscriptions/a6383be3-f0e8-4968-93d5-10f2625f5bb5/resourcegroups/OIAutoRest5212?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"Australia Southeast\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a6383be3-f0e8-4968-93d5-10f2625f5bb5/resourceGroups/OIAutoRest5212\",\r\n  \"name\": \"OIAutoRest5212\",\r\n  \"location\": \"australiasoutheast\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/a6383be3-f0e8-4968-93d5-10f2625f5bb5/resourcegroups/OIAutoRest5212/providers/Microsoft.OperationalInsights/workspaces/AzTest5239?api-version=2015-11-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"Free\"\r\n    }\r\n  },\r\n  \"name\": \"AzTest5239\",\r\n  \"location\": \"australiasoutheast\",\r\n  \"tags\": {\r\n    \"tag1\": \"val1\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\": \"fdeff28b-ae43-4f90-8261-b252c653b99b\",\r\n    \"portalUrl\": \"https://seau.mms.microsoft.com/Account?tenant=72f988bf-86f1-41af-91ab-2d7cd011db47&resource=%2fsubscriptions%2fa6383be3-f0e8-4968-93d5-10f2625f5bb5%2fresourcegroups%2foiautorest5212%2fproviders%2fmicrosoft.operationalinsights%2fworkspaces%2faztest5239\",\r\n    \"provisioningState\": \"Creating\",\r\n    \"sku\": {\r\n      \"name\": \"free\"\r\n    },\r\n    \"retentionInDays\": 7\r\n  },\r\n  \"id\": \"/subscriptions/a6383be3-f0e8-4968-93d5-10f2625f5bb5/resourcegroups/oiautorest5212/providers/microsoft.operationalinsights/workspaces/aztest5239\",\r\n  \"name\": \"AzTest5239\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n  \"location\": \"australiasoutheast\",\r\n  \"tags\": {\r\n    \"tag1\": \"val1\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/a6383be3-f0e8-4968-93d5-10f2625f5bb5/resourcegroups/OIAutoRest5212/providers/Microsoft.OperationalInsights/workspaces/AzTest5239/intelligencePacks/ChangeTracking/Enable?api-version=2015-11-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "X-AMS-APIVersion": [
          "WebAPI1.0"
        ],
        "CacheControl": [
          "no-cache"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a6383be3-f0e8-4968-93d5-10f2625f5bb5/resourcegroups/OIAutoRest5212/providers/Microsoft.OperationalInsights/workspaces/AzTest5239/intelligencePacks/SiteRecovery/Enable?api-version=2015-11-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "X-AMS-APIVersion": [
          "WebAPI1.0"
        ],
        "CacheControl": [
          "no-cache"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a6383be3-f0e8-4968-93d5-10f2625f5bb5/resourcegroups/OIAutoRest5212/providers/Microsoft.OperationalInsights/workspaces/AzTest5239/intelligencePacks?api-version=2015-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "[\r\n  {\r\n    \"name\": \"CapacityPerformance\",\r\n    \"enabled\": false,\r\n    \"displayname\": \"Capacity and Performance\"\r\n  },\r\n  {\r\n    \"name\": \"Security\",\r\n    \"enabled\": false,\r\n    \"displayname\": \"Security and Audit\"\r\n  },\r\n  {\r\n    \"name\": \"Updates\",\r\n    \"enabled\": false,\r\n    \"displayname\": \"Update Management\"\r\n  },\r\n  {\r\n    \"name\": \"AntiMalware\",\r\n    \"enabled\": false,\r\n    \"displayname\": \"Antimalware Assessment\"\r\n  },\r\n  {\r\n    \"name\": \"LogManagement\",\r\n    \"enabled\": true,\r\n    \"displayname\": \"Lo[...]
[...]
    {
      "RequestUri": "/subscriptions/a6383be3-f0e8-4968-93d5-10f2625f5bb5/resourcegroups/OIAutoRest5212/providers/Microsoft.OperationalInsights/workspaces/AzTest5239/intelligencePacks/ChangeTracking/Disable?api-version=2015-11-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "X-AMS-APIVersion": [
          "WebAPI1.0"
        ],
        "CacheControl": [
          "no-cache"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a6383be3-f0e8-4968-93d5-10f2625f5bb5/resourcegroups/OIAutoRest5212/providers/Microsoft.OperationalInsights/workspaces/AzTest5239/intelligencePacks/SiteRecovery/Disable?api-version=2015-11-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "X-AMS-APIVersion": [
          "WebAPI1.0"
        ],
        "CacheControl": [
          "no-cache"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "CanEnableDisableListIntelligencePacks": [
      "OIAutoRest5212",
      "AzTest5239"
    ]
  },
  "Variables": {
    "SubscriptionId": "a6383be3-f0e8-4968-93d5-10f2625f5bb5"
  }
}