{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11979"
      },
      "ResponseBody": {
        "id": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "942b80cd-1b14-42a1-8dcf-4b21dece61ba"
          }
        ],
        "subscriptionId": "2bf4a339-294d-4c25-b0b2-ef649e9f5c27",
        "tenantId": "888d76fa-54b2-4ced-8ee5-aac1585adee7",
        "displayName": "Liftr-PAN",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourcegroups/dotnetSdkTest-infra-rg?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11978"
      },
      "ResponseBody": {
        "id": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg",
        "name": "dotnetSdkTest-infra-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "northcentralus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/dotnetSdkTest-default-2-lrs?api-version=2022-08-29",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002201000a3b-0000-0100-0000-649ef7e30000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11977"
      },
      "ResponseBody": {
        "id": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/dotnetSdkTest-default-2-lrs",
        "name": "dotnetSdkTest-default-2-lrs",
        "type": "paloaltonetworks.cloudngfw/localrulestacks",
        "location": "eastus2",
        "tags": {},
        "systemData": {
          "createdBy": "vibhuti.sharma@microsoft.com",
          "createdByType": "User",
          "createdAt": "2023-06-28T04:35:51.1909158Z",
          "lastModifiedBy": "54a2195e-8365-444c-8f50-4a5de4be1e2b",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-30T15:42:27.12822Z"
        },
        "properties": {
          "scope": "LOCAL",
          "provisioningState": "Succeeded",
          "defaultMode": "FIREWALL",
          "panEtag": "b6b42cbe-175c-11ee-9baa-ca91a7f37567",
          "minAppIdVersion": "8595-7473",
          "securityServices": {
            "vulnerabilityProfile": "BestPractice",
            "antiSpywareProfile": "BestPractice",
            "antiVirusProfile": "BestPractice",
            "urlFilteringProfile": "BestPractice",
            "fileBlockingProfile": "BestPractice",
            "dnsSubscription": "BestPractice"
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/dotnetSdkTest-default-2-lrs/certificates/dotnetSdkTest-cert?api-version=2022-08-29",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0c4bc922-f92d-4d0f-8027-39eb621b138d",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11976"
      },
      "ResponseBody": {
        "id": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/dotnetSdkTest-default-2-lrs/certificates/dotnetSdkTest-cert",
        "name": "dotnetSdkTest-cert",
        "type": "localRulestacks/certificates",
        "properties": {
          "certificateSelfSigned": "TRUE",
          "description": "Updated description for certificates test",
          "etag": "79f03e8e-176c-11ee-8cf7-ca91a7f37567",
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/dotnetSdkTest-default-2-lrs/certificates/cert1?api-version=2022-08-29",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "certificateSelfSigned": "T[...]
