{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/search/fuzzy/json?api-version=1.0\u0026query=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "a1ee513d-a824-4693-a430-e997b5d25172"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "error": {
          "code": "400 BadRequest",
          "message": "query is missing or empty"
        }
      }
    }
  ],
  "Variables": {
    "AZMAPS_CLIENT_ID": "a1ee513d-a824-4693-a430-e997b5d25172",
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "ENDPOINT_URL": "https://atlas.microsoft.com",
    "RandomSeed": "1065548866"
  }
}
