{
  "Entries": [
    {
      "RequestUri": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/chaos-dotnet-e2e-tests/providers/Microsoft.DocumentDB/databaseAccounts/chaos-sdk-e2e-validation-westus2/providers/Microsoft.Chaos/targets/microsoft-cosmosdb?api-version=2021-09-15-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"04003afe-0000-0800-0000-617a59880000\""
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "199"
        ],
        "api-supported-versions": [
          "2021-07-01-preview, 2021-07-05-preview, 2021-08-11-preview, 2021-09-15-preview"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"location\": \"westus2\",\r\n  \"id\": \"/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/chaos-dotnet-e2e-tests/providers/Microsoft.DocumentDB/databaseAccounts/chaos-sdk-e2e-validation-westus2/providers/Microsoft.Chaos/targets/microsoft-cosmosdb\",\r\n  \"name\": \"microsoft-cosmosdb\",\r\n  \"systemData\": {\r\n    \"createdAt\": \"2021-10-28T00:51:41.8339064-07:00\",\r\n    \"lastModifiedAt\": \"2021-10-28T01:04:24.5181128-07:00\",\r\n    \"createdByType\": \"User\"\r\n  },\r\n  \"type\": \"Microsoft.Chaos/targets\",\r\n  \"properties\": {}\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/chaos-dotnet-e2e-tests/providers/Microsoft.DocumentDB/databaseAccounts/chaos-sdk-e2e-validation-westus2/providers/Microsoft.Chaos/targets/microsoft-cosmosdb/capabilities/Failover-1.0?api-version=2021-09-15-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHea[...]
    {
      "RequestUri": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/chaos-dotnet-e2e-tests/providers/Microsoft.DocumentDB/databaseAccounts/chaos-sdk-e2e-validation-westus2/providers/Microsoft.Chaos/targets/microsoft-cosmosdb/capabilities?api-version=2021-09-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "1799"
        ],
        "api-supported-versions": [
          "2021-07-01-preview, 2021-07-05-preview, 2021-08-11-preview, 2021-09-15-preview"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/chaos-dotnet-e2e-tests/providers/Microsoft.DocumentDB/databaseAccounts/chaos-sdk-e2e-validation-westus2/providers/Microsoft.Chaos/targets/microsoft-cosmosdb/capabilities/Failover-1.0\",\r\n      \"name\": \"Failover-1.0\",\r\n      \"systemData\": {\r\n        \"createdAt\": \"2021-10-28T01:04:24.938316-07:00\",\r\n        \"lastModifiedAt\": \"2021-10-28T01:04:24.938316-07:00\",\r\n        \"createdByType\": \"User\"\r\n      },\r\n      \"type\": \"Microsoft.Chaos/targets/capabilities\",\r\n      \"properties\": {\r\n        \"publisher\": \"microsoft\",\r\n        \"targetType\": \"cosmosdb\",\r\n        \"description\": \"\",\r\n        \"parametersSchema\": \"https://schema-tc.westus2.chaos-test.azure.com/targetTypes/Microsoft-CosmosDB/capabilityTypes/Failover-1.0/parametersSchema.json\",\r\n        \"urn\": \"urn:csci:microsoft:cosmosDB:failover/1.0\"\r\n      }\r\n    }\r\n  ],\r\n  \"nextLink\": \"\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/chaos-dotnet-e2e-tests/providers/Microsoft.DocumentDB/databaseAccounts/chaos-sdk-e2e-validation-westus2/providers/Microsoft.Chaos/targets/microsoft-cosmosdb/capabilities/Failover-1.0?api-version=2021-09-15-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "599"
        ],
        "api-supported-versions": [
          "2021-07-01-preview, 2021-07-05-preview, 2021-08-11-preview, 2021-09-15-preview"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "fb74b135-894b-4c1d-9b2e-8a3c231abc14"
  }
}