{
  "Entries": [
    {
      "RequestUri": "https://eastus.easm.defender.microsoft.com/subscriptions/59af3bf1-d118-4916-808e-923509b34a94/resourceGroups/shad-rg/workspaces/sdktest/savedFilters?api-version=2023-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ui-version": "sdk"
      },
      "ResponseBody": {
        "totalElements": 1,
        "value": [
          {
            "id": "new_put_filter",
            "name": "new_put_filter",
            "displayName": "new_put_filter",
            "filter": "name = \u0022new_put_filter\u0022",
            "description": "Sample description"
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "ENDPOINT": "Sanitized",
    "RandomSeed": "1926388810",
    "RESOURCEGROUPNAME": "Sanitized",
    "SUBSCRIPTION_ID": "59af3bf1-d118-4916-808e-923509b34a94",
    "WORKSPACENAME": "Sanitized"
  }
}
