{
  "Entries": [
    {
      "RequestUri": "https://nibhati-dce-final-vhac.westus2-1.ingest.monitor.azure.com/dataCollectionRules/dcr-981bcfe0506f41f5b5168f3368499cfa/streams/Custom-MyTableRawData?api-version=2021-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": [
        "\u001F\uFFFD\b\u0000\u0000\u0000\u0000\u0000\u0004\u0000\uFFFD\uFFFD1\n",
        "\uFFFD0\f\uFFFD\uFFFDhN\uFFFD\uFFFD(\uFFFD\uFFFD\uFFFD\uFFFD\n",
        "\uFFFDB\uFFFDB\u003C\u0018\uFFFD\uFFFD\u0014\u0017\n",
        "\uFFFDwo:tS\u0027m\uFFFD!\uFFFD\uFFFD\uFFFD\u0017LyK\u0010\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD2N$\u0011\uFFFD(\uFFFD$\uFFFD\ty\uFFFD\u0006\u01B2\uFFFD\u001E5\u074F\uFFFD\u07C9\uFFFD|^\uFFFD\\s\uFFFD/\u05F1\uFFFD5=\u002BD|/\uFFFDA%]%\uFFFD\u02BA\uFFFD6\uFFFD\uFFFD\uFFFD\u03A6\uFFFD\uFFFD\uFFFDM\uFFFDu\uFFFD\uFFFD\uFFFDNW\uFFFDM\u001Dtu\uFFFD\uFFFD^W\uFFFDM\r",
        "\uFFFD\u001A\uFFFD\u0015\uFFFD\uFFFD\uFFFD\uFFFDu-\u001F\uFFFD\uFFFD\uFFFD\uFFFD\u0003\u0000\u0000"
      ],
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nibhati-dce-final-vhac.westus2-1.ingest.monitor.azure.com/dataCollectionRules/dcr-981bcfe0506f41f5b5168f3368499cfa/streams/Custom-MyTableRawData?api-version=2021-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": [
        "\u001F\uFFFD\b\u0000\u0000\u0000\u0000\u0000\u0004\u0000\uFFFD\u0331\n",
        "\uFFFD \u0014\uFFFD\uFFFDw\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD-z\uFFFD6q\br\u0010*#\f\uFFFD\uFFFD\uFFFDsitr;\uFFFD\u001F\u003E\uFFFD\uFFFD\uFFFDw\u0007\u001A8\u5F21\uFFFD\uFFFDtf\uFFFDi\uFFFDQ\uFFFD(\u00042\u0240\uFFFD\u0014\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\u007F\uFFFD\uFFFDs\u0018\uFFFD\uFFFDG\u001F\uFFFDe\uFFFD\uFFFD\u0011\uFFFD\u0013A\u742C\uFFFD\uFFFDE\t\u0016\u0252*y(\uFFFDC\uFFFD,K\uFFFD\uFFFD\uFFFDUIV\uFFFD\uFFFD\u000F\uFFFDy\uFFFD\uFFFD\uFFFD\u0001\u0000\u0000"
      ],
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "AZURE_MONITOR_INGESTION_DATA_COLLECTION_ENDPOINT": "https://nibhati-dce-final-vhac.westus2-1.ingest.monitor.azure.com",
    "AZURE_MONITOR_INGESTION_LOGS_DCR_RULE_ID": "dcr-981bcfe0506f41f5b5168f3368499cfa",
    "AZURE_MONITOR_INGESTION_LOGS_DCR_STREAM_NAME": "Custom-MyTableRawData",
    "DateTimeOffsetNow": "2022-09-20T14:03:48.4664181-07:00",
    "RandomSeed": "1409399880"
  }
}
