{
  "Entries": [
    {
      "RequestUri": "https://nibhati-dce-final-vhac.westus2-1.ingest.monitor.azure.com/dataCollectionRules/dcr-981bcfe0506f41f5b5168f3368499cfa/streams/Custom-MyTableRawData?api-version=2021-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": [
        "\u001F\uFFFD\b\u0000\u0000\u0000\u0000\u0000\u0000\n",
        "\uFFFD\uFFFD\uFFFD\uFFFDm\u06E2\u001E\uFFFD.\u0027\uFFFD\uFFFDl\uFFFD\uFFFD\uFFFD\uFFFD\u0019\uFFFD\uFFFD2\uFFFD\uFFFD\uFFFD\u001B\\\uFFFD$c\uFFFD\uFFFD\u0060\uFFFD\uFFFDapv*\uFFFD\u0015m\uFFFD\uFFFDG\uFFFD\u000E\uFFFD\uFFFD\uFFFDl5Z\uFFFD/\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\u007F\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\u007F\u033F9\uFFFD\uFFFD\uFFFD\uFFFD\u001F\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\uFFFDq\uFFFDe\uFFFD\uFFFDi[...]
[...]
