{
  "Entries": [
    {
      "RequestUri": "https://9d2b163e-87de-536c-ac5f-c3209657d8a8-z2vl.westus-1.ingest.monitor.azure.com/dataCollectionRules/dcr-bcdb7829b33440ac891fc35cf35d5c34/streams/Custom-MyTableRawData?api-version=2021-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": [
        "\u001F\uFFFD\b\u0000\u0000\u0000\u0000\u0000\u0004\u0000\uFFFD\uFFFDV\n",
        "\uFFFD\uFFFDMU\uFFFDR2202\uFFFD54\uFFFD56\b14\uFFFD2\uFFFD\uFFFD21\uFFFD37277\uFFFD\uFFFDT\uFFFDQr\uFFFD\uFFFD-(-I-\u0002*\uFFFD1\r",
        "\uFFFD\u008E))\uFFFD%\uFFFD\uFFFDy\uFFFD9\uFFFD\uFFFDy%\uFFFD\u0015%JVF\uFFFD:\uFFFDi\uFFFD\uFFFDL\uFFFD\uFFFDX\u0000(\uFFFD\uFFFDF\uFFFD\u0000\u0000\u0000"
      ],
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DateTimeOffsetNow": "2022-11-30T12:18:46.7277389-08:00",
    "INGESTION_DATA_COLLECTION_ENDPOINT": "https://9d2b163e-87de-536c-ac5f-c3209657d8a8-z2vl.westus-1.ingest.monitor.azure.com",
    "INGESTION_DATA_COLLECTION_RULE_IMMUTABLE_ID": "dcr-bcdb7829b33440ac891fc35cf35d5c34",
    "INGESTION_STREAM_NAME": "Custom-MyTableRawData",
    "RandomSeed": "576269924"
  }
}
