{
  "Entries": [
    {
      "RequestUri": "https://nibhati-dce-final-vhac.westus2-1.ingest.monitor.azure.com/dataCollectionRules/dcr-981bcfe0506f41f5b5168f3368499cfa/streams/Custom-MyTableRawData?api-version=2021-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": [
        "\u001F\uFFFD\b\u0000\u0000\u0000\u0000\u0000\u0000\n",
        "\uFFFD\u0331\n",
        "\uFFFD0\u0010\uFFFD\uFFFDw\uFFFDY\uFFFD\uFFFDb\u0012\uFFFD\uFFFD\uFFFD\n",
        "n\uFFFDA0C@\uFFFDH\n",
        "\uFFFD\uFFFD\uFFFD\u000E\uFFFDn\uFFFD\uFFFD\uFFFD\uFFFD\uFFFDo\uFFFD\u003E0\uFFFD-A\u0000B\uFFFD\u0016}K8*\u001D\uFFFD\u000Bh\u001F\u000E5\u0019\uFFFD\uFFFD\uFFFDP\uFFFD\uFFFDU\uFFFDy\u001F\uFFFD\u0013\uFFFD\uFFFD\\\uFFFD\\s\uFFFD\uFFFDu({M\uFFFD\n",
        "\u0001\uFFFD\uFFFD\bT\u016BJ\uFFFD\u0012\uFFFD\uFFFDL\u057C\uFFFDej\u01EB\uFFFDL5\uFFFDjd\uFFFD\uFFFDU\u002BS\u001D\uFFFD:\uFFFD\uFFFD\uFFFDj/S\u007F\uFFFDQ\uFFFD\u0015\uFFFD\u0017\u0000\u0000\uFFFD\uFFFD"
      ],
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "AZURE_MONITOR_INGESTION_DATA_COLLECTION_ENDPOINT": "https://nibhati-dce-final-vhac.westus2-1.ingest.monitor.azure.com",
    "AZURE_MONITOR_INGESTION_LOGS_DCR_RULE_ID": "dcr-981bcfe0506f41f5b5168f3368499cfa",
    "AZURE_MONITOR_INGESTION_LOGS_DCR_STREAM_NAME": "Custom-MyTableRawData",
    "DateTimeOffsetNow": "2022-09-20T13:57:06.7032529-07:00",
    "RandomSeed": "1906897193"
  }
}
