{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-5267c782-dacf-3916-19eb-c7f6c20ef5fb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:27:45 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D0EBAD4E743\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:27:45 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-5267c782-dacf-3916-19eb-c7f6c20ef5fb/test-blob-30a05114-1b90-33c4-4c69-df344e74f4b2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:27:45 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D0EBAEF2E5E\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:27:45 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "BV1N0AGr2Bg=",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:27:45 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:27:45.3812189Z"
      },
      "ResponseBody": "xHZuMDqfaptJ/LLKShWDRXg82LMvdab4rsaXI\u002BlATbIdYjw/ZkJRfqRENVilJtejmrjD4RU0/U7QdYFzCEaxCa8ArOjZRN826lkO6kBNU4fv84kxfWuc6GTtb/DA3nZekyyppXrvylbZjfa8JRMOgiL5gxW9f4tEY8OD69XudQzisFcTpK4N/ygzWO904MNR3uzOx1phoROgZUG2bN\u002BB6hjq2XW8\u002B95z7ITsiSecz4IAMQzoIK2ygQ9Ecz9sV5NIsW3WigdOleMNWtrWdBfrBJW/tTrSmMpqN1hmd4efB5Xwo9i6xUR7spwp2sXS3Az3WG\u002BpraFZdhmibFKu6B1bblNF5dE/MD5RQwOdqb0El1tLbh8Y9lnzly2\u002BGFnxzMp/zWxyjfc7uCgwV2mdu8xbndT3Y3n[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-5267c782-dacf-3916-19eb-c7f6c20ef5fb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:27:45 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1992730503",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}