{
  "Entries": [
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-16ee5d14-180e-00da-00a8-c19b7d9777ed?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 17:55:24 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F2CAA95EA9\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:55:24 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-16ee5d14-180e-00da-00a8-c19b7d9777ed/test-blob-a01705e6-3499-b781-dca8-94014a410b7c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 20 Oct 2021 17:55:24 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F2CAB716DA\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:55:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:55:24.2001114Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-16ee5d14-180e-00da-00a8-c19b7d9777ed/test-blob-a01705e6-3499-b781-dca8-94014a410b7c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:55:24 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F2CAB716DA\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:55:24 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:55:24 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:55:24.2001114Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-16ee5d14-180e-00da-00a8-c19b7d9777ed/test-blob-a01705e6-3499-b781-dca8-94014a410b7c?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D993F2CAB716DA\u0022",
        "x-ms-date": "Wed, 20 Oct 2021 17:55:24 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "3RJJQAtnIZSPjvn2Ye3bIcIvE1VHi8CX7B9dwcr0Vy0GuA8TlaWGIQW8W56mg7Wrh5QW2N28t1FRsVPsCmDJmjfL76neyIwcqfFQii8h8Whpsjo23n5PSgC9weNRmRel88Fn2pMMzb8H\u002BS7rbC0hMMDrglclkru4e6WoIAaoyw/aqpZuuhbUXeV7LuVPZN7Tm5EiZhe/f2AFrl7uZKy4Xy0fEMGWsnWqFyVyqmTWaBfH1YR1hWT4Gyo2aQy35vk4w8\u002B3MFMcPOgbeE/xTNX8L0VHJo8nQtnIJvWWX0lp8jAsOueUHjfEqpicWQwVB85VOjrGcL9pEYD27g[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-16ee5d14-180e-00da-00a8-c19b7d9777ed/test-blob-a01705e6-3499-b781-dca8-94014a410b7c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:55:24 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F2CAD4D3E5\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:55:24 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "Qh0W5egkzho=",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:55:24 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:55:24.2001114Z"
      },
      "ResponseBody": "3RJJQAtnIZSPjvn2Ye3bIcIvE1VHi8CX7B9dwcr0Vy0GuA8TlaWGIQW8W56mg7Wrh5QW2N28t1FRsVPsCmDJmjfL76neyIwcqfFQii8h8Whpsjo23n5PSgC9weNRmR[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-16ee5d14-180e-00da-00a8-c19b7d9777ed?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:55:24 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2112049998",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttps://amandacanary.blob.core.windows.net\nhttps://amandacanary.file.core.windows.net\nhttps://amandacanary.queue.core.windows.net\nhttps://amandacanary.table.core.windows.net\n\n\n\n\nhttps://amandacanary-secondary.blob.core.windows.net\nhttps://amandacanary-secondary.file.core.windows.net\nhttps://amandacanary-secondary.queue.core.windows.net\nhttps://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandacanary.blob.core.windows.net/;QueueEndpoint=https://amandacanary.queue.core.windows.net/;FileEndpoint=https://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Kg==;\ntestscope2\n\n"
  }
}