{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-9fa0e370-eb1c-313b-73c5-a8e1c14a317f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:28:06 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D0EC7652659\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:28:06 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-9fa0e370-eb1c-313b-73c5-a8e1c14a317f/test-blob-b0fa1a41-fea5-38bb-33ff-80ebd531a3b3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:28:06 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "jdmRa7iPMvMliRWycqC/Uw==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D0EC786E7D3\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:28:06 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:28:06 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:28:06.4592471Z"
      },
      "ResponseBody": "csSHAU1R/GeKyKF33Bb2FBIkQIDFtW5czG7H\u002BXResY80arJ22LA2UEQd8Ugeq7gmUYDnAS3w371VKjTfiQLyKxYRQnJkfzxh7fA7p8MlPSG2oajzd69iRIv0IK18V8ZBK8YxDWlFwdFEhRQ8tDf5MOwTKeha/rRnr/7nb16O5ZYq\u002Bnv99DC3cN/Wr/GbJY9T\u002B/DAaS7e5y0Syl1rXlFztaB\u002BErq8\u002Bzy7W7gIhE/Cy4pulHRtzXxnSxNO6ynTTBKNYvlRHRLVl/\u002B0BQ111WLeT//S/MrdBegjFsenbRAS6A\u002BmeiFVca13mfx0uchv8nawcJwqAE9HsF0RLQdLLinvoRz9zlpBiN1RW2PNaEsftCRR9/1z6Oe/XsrDRESmLGvThRircSMbbue/2KXse[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-9fa0e370-eb1c-313b-73c5-a8e1c14a317f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:28:06 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2139622740",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}