{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-03ea479f-b3ef-be4d-b9ff-277ebd3ce39e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:06 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D10DFDDBD39\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:43:06 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-03ea479f-b3ef-be4d-b9ff-277ebd3ce39e/test-blob-cbd76a80-c06a-728d-2489-5756571b092a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:06 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D10DFE6F136\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:43:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:43:06.5083190Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-03ea479f-b3ef-be4d-b9ff-277ebd3ce39e/test-blob-cbd76a80-c06a-728d-2489-5756571b092a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:06 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D10DFE6F136\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:43:06 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:43:06 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:43:06.5083190Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-03ea479f-b3ef-be4d-b9ff-277ebd3ce39e/test-blob-cbd76a80-c06a-728d-2489-5756571b092a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "0x8D98D10DFE6F136",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:06 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "FY4HFyXWXvVpp\u002BNnv9BLvDSMJaXZtW1ke0RKyO5r37jkjGfj9LN1grluxIn4ksOxuv4\u002B1kH\u002Bjl8ho5zgi5UG/cgqgzNoZ8iBFqPra/Hka\u002BiAmQ3vLQl25f0HwlEXlfYkZ8bBzg\u002BQSFM2vMCeEyJuPTezX/KHFtC\u002Bs501YaR2aoGsxwMrIpzZ8FG6uXFJ2NLbmYUZYzUEnFH2AhpxWueuv1I\u002B8UsfQhqa2W\u002BgzV1fddvLWsceXQZLqCqyNSCCaJVpC/keCuaGvFZrforGY870l4w\u002BpQAfj2JM80kgbA35GHHZNsJjQGv1RJ1[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-03ea479f-b3ef-be4d-b9ff-277ebd3ce39e/test-blob-cbd76a80-c06a-728d-2489-5756571b092a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:07 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D10E0324726\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:43:07 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "liC8VuZWWQU=",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:43:06 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:43:06.5083190Z"
      },
      "ResponseBody": "FY4HFyXWXvVpp\u002BNnv9BLvDSMJaXZtW1ke0RKyO5r37jkjGfj9LN1grluxIn4ksOxuv4\u002B1kH\u002Bjl8ho5zgi5UG/cgqgzNoZ8iBFqPra/Hka\u002B[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-03ea479f-b3ef-be4d-b9ff-277ebd3ce39e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:07 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1144301462",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}