{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-0dc70bb8-1212-0032-eb11-a15d0f3f79cf?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:42:43 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D10D260AB93\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:42:43 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-0dc70bb8-1212-0032-eb11-a15d0f3f79cf/test-blob-2620a535-2496-7b15-8863-701711d3cff5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 11 Oct 2021 23:42:44 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D10D2880CA2\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:42:44 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:42:44.0760482Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-0dc70bb8-1212-0032-eb11-a15d0f3f79cf/test-blob-2620a535-2496-7b15-8863-701711d3cff5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:42:44 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D10D2880CA2\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:42:44 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:42:44 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:42:44.0760482Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-0dc70bb8-1212-0032-eb11-a15d0f3f79cf/test-blob-2620a535-2496-7b15-8863-701711d3cff5?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "0x8D98D10D2880CA2",
        "x-ms-date": "Mon, 11 Oct 2021 23:42:44 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "QSm/uRHi6xVTmOOO9whFnndlZQWUQANMhlfqnkYAQjSipeiQjN8pFR\u002BV5TKaXp4j\u002Br0/hY/b4QElczO590zOU1au61IftRKYPFDm/lrRsSi5xqSIwL2kxsPnahiscB7Sx5Lc63JLBESrp0k/9eOmVMEKADCnRZKYCSSOOEr568sxEzbI9Ma1bcJf3RlzZdHgQRZWoW/uKoEAQ\u002BJOvcz6sbt9DeGs3mD7VZJtSGh5JaRSrfY0oklbQ\u002Bi1x7DkZrD2ZStd9VfvNGO2W0zdgOIZhx49/A/VxQ5xIcr49xavF\u002B7id\u002BI8Gy9MY3mTfkf9fsMGm0CRpm[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-0dc70bb8-1212-0032-eb11-a15d0f3f79cf/test-blob-2620a535-2496-7b15-8863-701711d3cff5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:42:44 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "dvRmSadRhE1tXm8WfAefbw==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D10D2E16A49\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:42:44 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:42:44 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
  [...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-0dc70bb8-1212-0032-eb11-a15d0f3f79cf?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:42:44 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1051347731",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}