{
  "Entries": [
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-3a7c1dd6-e262-b640-aee3-c2e522a6accb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 17:55:45 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F2D79CBDA9\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:55:45 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-3a7c1dd6-e262-b640-aee3-c2e522a6accb/test-blob-0477b009-34f4-5dfc-3591-74d3e4dc93ad",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 20 Oct 2021 17:55:45 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F2D7A9A0A3\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:55:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:55:45.9222691Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-3a7c1dd6-e262-b640-aee3-c2e522a6accb/test-blob-0477b009-34f4-5dfc-3591-74d3e4dc93ad",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:55:45 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F2D7A9A0A3\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:55:45 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:55:45 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:55:45.9222691Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-3a7c1dd6-e262-b640-aee3-c2e522a6accb/test-blob-0477b009-34f4-5dfc-3591-74d3e4dc93ad?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D993F2D7A9A0A3\u0022",
        "x-ms-date": "Wed, 20 Oct 2021 17:55:46 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "uNOM41UVvrZUKEqwxXLlok1SkCSaJAVcB4QmyU6pRUhueRX9f7EbPz9WMp3L8oV9fy/RvBcfCpPNMNzR7/Rnq\u002BIBQkxc5yKbN1DlQ/JokBT\u002BqEof14kwTm6BL0/VSVBK7oe7yrA5IJcMNoXHOsahZZ/H00aqSNRZ0fPd2rfTxe3/mlVqrMZkxYiyE6EDaBOo4MqwDnYKoKazYvm8W0XfOXCXyJ9xNrnZYg299zUyVWjgNfrtIrd39Pqvt0nNp2lC09kxbKBzN6kR1qtoTKhwgA2Q3CZK8Ra4INOlwX5vDLqkeiNbAejIbP1Q3EwLDqhRPjc8PMtD\u002B[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-3a7c1dd6-e262-b640-aee3-c2e522a6accb/test-blob-0477b009-34f4-5dfc-3591-74d3e4dc93ad",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:55:46 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "968lboiwjAjVEg55yloMIA==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F2D7C2CA6F\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:55:46 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:55:45 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
  [...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-3a7c1dd6-e262-b640-aee3-c2e522a6accb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:55:46 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2003718222",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttps://amandacanary.blob.core.windows.net\nhttps://amandacanary.file.core.windows.net\nhttps://amandacanary.queue.core.windows.net\nhttps://amandacanary.table.core.windows.net\n\n\n\n\nhttps://amandacanary-secondary.blob.core.windows.net\nhttps://amandacanary-secondary.file.core.windows.net\nhttps://amandacanary-secondary.queue.core.windows.net\nhttps://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandacanary.blob.core.windows.net/;QueueEndpoint=https://amandacanary.queue.core.windows.net/;FileEndpoint=https://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Kg==;\ntestscope2\n\n"
  }
}