{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-54154353-666a-1b77-40a3-a437b6b5f45c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:42:44 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D10D316D62B\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:42:45 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-54154353-666a-1b77-40a3-a437b6b5f45c/test-blob-63540e2a-9026-96d9-d8ae-db6fe345b8af",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 11 Oct 2021 23:42:45 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D10D32435F3\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:42:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:42:45.0994675Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-54154353-666a-1b77-40a3-a437b6b5f45c/test-blob-63540e2a-9026-96d9-d8ae-db6fe345b8af",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:42:45 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D10D32435F3\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:42:45 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:42:45 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:42:45.0994675Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-54154353-666a-1b77-40a3-a437b6b5f45c/test-blob-63540e2a-9026-96d9-d8ae-db6fe345b8af?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "0x8D98D10D32435F3",
        "x-ms-date": "Mon, 11 Oct 2021 23:42:45 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "DL1\u002BcdjSMfbG5z7BCACX\u002BRVDb2fcJIDi5bZyBY1N7GNEU2rGyByI9R3hCfSLoJxGQ9Ya/kP8Leg9nIwhYCxpefrafbWV0DD4u3pJ\u002BxqLVkQaK8G2Mu4gRyWCiCuPZpXxeI/5sCPmsXKmIUPIszLNsUVIBzVqs0YMujWPEkgFaFTlV4KKkqYhM3lOEBCrV5TytNflR15fh8VJ7fXtV54qobnu41uwQh\u002BfJtO7G6M1YGOhnV5xHyD1hdC9QaSxNNzaI29XvXM4QnG3RiCLpGshE42SS7pAuYGY\u002BF6L8gB67vL34fg03qLvaVrsudgAauFlmy4XH\u002B[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-54154353-666a-1b77-40a3-a437b6b5f45c/test-blob-63540e2a-9026-96d9-d8ae-db6fe345b8af",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:42:45 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "4YtUnIOrSu6bFRdpoZApfg==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D10D336F7EA\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:42:45 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:42:45 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
  [...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-54154353-666a-1b77-40a3-a437b6b5f45c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:42:45 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "908352280",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}