{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-cb57a473-91c5-4cb2-55ad-574b5bf95666?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:08 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D10E14ECE3D\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:43:08 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-cb57a473-91c5-4cb2-55ad-574b5bf95666/test-blob-2566e9f7-9605-7591-52d5-4cb065daab91",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:08 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "StShNkTFbmON1MeqGP2D4YZMZhGluHj/xLqjFvdCg\u002BoUiWr10/DHHtvwERnzQBBWuDdOs7P0SZJbonKJIldrSlDclY6Sjg6WhUg1tadeC4OpTV7A9M82IEDYmTF\u002BPfyEhMbIFquCwyopty5rvpTq/Zbu39T4q1aBpnVOuvTdGEdLsTDglfXYJ4k0lzyhy2Kr7ZyakF4ni9lwR3A1NAk1S5/mHwxjCmehFbdLxBMZ39oTosxYQojpIyZXcE2Eo/N//0uduqtVR\u002BM1\u002BXqm3MbFVmiWIpE93AkX/fvmDJkZHHHEy8XIfCUuvVroI0gNQ0dfkRnl7oBhQiJBhb2vbztJG90I[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-cb57a473-91c5-4cb2-55ad-574b5bf95666/test-blob-2566e9f7-9605-7591-52d5-4cb065daab91",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:09 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D10E1921938\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:43:09 GMT",
        "x-ms-blob-content-md5": "lhYd4IaRvdGKChY9zPFdpQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:43:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 11 Oct 2021 23:43:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-11T23:43:09.3077304Z"
      },
      "ResponseBody": "StShNkTFbmON1MeqGP2D4YZMZhGluHj/xLqjFvdCg\u002BoUiWr10/DHHtvwERnzQBBWuDdOs7P0SZJbonKJIldrSlDclY6Sjg6WhUg1tadeC4OpTV7A9M82IEDYmTF\u002BPfyEhMbIFquCwyopty5rvpTq/Zbu39T4q1aBpnVOuvTdGEdLsTDglfXYJ4k0lzyhy2Kr7ZyakF4ni9lwR3A1NAk1S5/mHwxjCmehFbdLxBMZ39oTosxYQojpIyZXcE2Eo/N//0uduqtVR\u002BM1\u002BXqm3MbFVmiWIpE93AkX/fvmDJkZHHHEy8XIfCUuvVroI0gNQ0dfkRnl7oBhQiJBhb2vbztJG90I4RAB/NpCZ2Q3VLjBCrm0hnqAMy7xYomihvZof04fnwdrBGE3XpQ\u002Bo4ccKu1pgHsD\u0[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-cb57a473-91c5-4cb2-55ad-574b5bf95666?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:09 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1823369288",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}