{
  "Entries": [
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-8bcce92a-5d40-acd9-4a52-a473589426e9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 17:55:37 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F2D2F037D5\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:55:37 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-8bcce92a-5d40-acd9-4a52-a473589426e9/test-blob-77de0165-7c6b-be1d-17e1-4d722915e3f1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 20 Oct 2021 17:55:38 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F2D2FD3A4E\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:55:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:55:38.0815438Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-8bcce92a-5d40-acd9-4a52-a473589426e9/test-blob-77de0165-7c6b-be1d-17e1-4d722915e3f1?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "qZYqWrDkui1hh\u002B\u002B95l/Leg==",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D993F2D30A57D9\u0022",
        "x-ms-date": "Wed, 20 Oct 2021 17:55:38 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "cGbGITjEJcRqWdq/RYZHGtckulMTdFJQL5Lr9KnYGJZOMeP\u002BaVlH89\u002B9Rz2yPECiYaLONl/e0/sTdfGm2TAbkkBEcROjSbB93cd0Vi0VnfNRSZMHCuI2b17n6vRooBquobT9bsot/hjxUVmYan3O/tj\u002BVJCdFIheDQK1u168FTysxrR4Fy4pJEp6FbiJngXgGewcaUyJEI0sn2HHd0K5NTsc66TJVeap1S9FIv7P1W781KJyoKvwI7UmS3jNYawHwOB9bLJhF8MFcpQcQ\u002B2PXcryy6OgR5WPK8juogpu3HSCPWIeUmi8m7zfbS0X1N/Hlu6t[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-8bcce92a-5d40-acd9-4a52-a473589426e9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:55:38 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "27544183",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttps://amandacanary.blob.core.windows.net\nhttps://amandacanary.file.core.windows.net\nhttps://amandacanary.queue.core.windows.net\nhttps://amandacanary.table.core.windows.net\n\n\n\n\nhttps://amandacanary-secondary.blob.core.windows.net\nhttps://amandacanary-secondary.file.core.windows.net\nhttps://amandacanary-secondary.queue.core.windows.net\nhttps://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandacanary.blob.core.windows.net/;QueueEndpoint=https://amandacanary.queue.core.windows.net/;FileEndpoint=https://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Kg==;\ntestscope2\n\n"
  }
}