{
  "Entries": [
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-d03d24af-3927-1ae0-34f1-9ef5d271a073?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 17:55:52 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F2DBD905E8\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:55:52 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-d03d24af-3927-1ae0-34f1-9ef5d271a073/test-blob-bd959dc9-413e-e53d-fc78-300378457b1f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 20 Oct 2021 17:55:52 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F2DBE63DC3\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:55:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:55:53.0303939Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-d03d24af-3927-1ae0-34f1-9ef5d271a073/test-blob-bd959dc9-413e-e53d-fc78-300378457b1f?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D993F2DBF35B4B\u0022",
        "x-ms-content-crc64": "SvmkePBS7Aw=",
        "x-ms-date": "Wed, 20 Oct 2021 17:55:53 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "fnmXePDl1\u002B485cQMw2cAR85Lbe7ZMXfT2J1w52oKNhU7UPuhVaphoQuoMhbhZuaNoQ8P1YjxS0wBxJ9TdPCEMa\u002Bv0XNsX/Ij6svjMf9h8nK240Vb\u002B2GMSQSun5ALDSwbJABmMZVzIEId7Ou8DhpNoNItnZGqKDZOIoduvr9hF9yeyAz\u002B\u002BsDcQ8MDPg920DvpYf6\u002B3nCbcPzKGA8NBGKCu9QOHUUOT6URUFrOp\u002Bon2FJLhVzAojlrA1cQM\u002BKxzz9ggII6Z7L12xFZrI0WzcgRoz\u002B8wX8FwRmaoxru/hvDYIEbbSdo7HGfVqlKZ/Wr[...]
[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-d03d24af-3927-1ae0-34f1-9ef5d271a073?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:55:53 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1183771451",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttps://amandacanary.blob.core.windows.net\nhttps://amandacanary.file.core.windows.net\nhttps://amandacanary.queue.core.windows.net\nhttps://amandacanary.table.core.windows.net\n\n\n\n\nhttps://amandacanary-secondary.blob.core.windows.net\nhttps://amandacanary-secondary.file.core.windows.net\nhttps://amandacanary-secondary.queue.core.windows.net\nhttps://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandacanary.blob.core.windows.net/;QueueEndpoint=https://amandacanary.queue.core.windows.net/;FileEndpoint=https://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Kg==;\ntestscope2\n\n"
  }
}