{
  "Entries": [
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-88c5b75e-07da-587b-a685-9fdf0138449d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 17:55:38 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F2D33B3FAA\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:55:38 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-88c5b75e-07da-587b-a685-9fdf0138449d/test-blob-79a9b2b8-a3ce-3ef2-718a-0f0b7632773a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 20 Oct 2021 17:55:38 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F2D34890AB\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:55:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:55:38.5752747Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-88c5b75e-07da-587b-a685-9fdf0138449d/test-blob-79a9b2b8-a3ce-3ef2-718a-0f0b7632773a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D993F2D3556028\u0022",
        "x-ms-content-crc64": "468Af6UbBU4=",
        "x-ms-date": "Wed, 20 Oct 2021 17:55:38 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "RGy8BVqzG6HxPJ4Lquz0ocdHK3oCinTAEDpH9JZcvb\u002B\u002BD0v3R7j9/2uUyOsAy/fFeoWghP6WSrn4/PQgbCcLlH/eTZqg/FkPSiwObcGIwERCgXkQvDnAKMSR/kvD3JJEiTNsIX5cJX4skDnSh934cDuw3uuu\u002BthGHSTWDv0NTG2ZyeONHJ7F5Vv75Cv/7qDnmY4PE/6nlo5bJQRZhhaAHkTLOb35alOd6viPsxasRy\u002BD73Rv/jlv8TNUMveaa19EesbnM7Tj7S86cigGF\u002BN4rt3V1peiECALXEeKpDdcA36ZSjhQxRN6oAFENIsQadlP3IQZxJXIomqm29dt[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-88c5b75e-07da-587b-a685-9fdf0138449d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:55:38 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2137506234",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttps://amandacanary.blob.core.windows.net\nhttps://amandacanary.file.core.windows.net\nhttps://amandacanary.queue.core.windows.net\nhttps://amandacanary.table.core.windows.net\n\n\n\n\nhttps://amandacanary-secondary.blob.core.windows.net\nhttps://amandacanary-secondary.file.core.windows.net\nhttps://amandacanary-secondary.queue.core.windows.net\nhttps://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandacanary.blob.core.windows.net/;QueueEndpoint=https://amandacanary.queue.core.windows.net/;FileEndpoint=https://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Kg==;\ntestscope2\n\n"
  }
}