{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-b6542ae8-1712-fc73-e8ff-27c6b8514a2d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:28:19 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D0ECF64A86D\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:28:19 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-b6542ae8-1712-fc73-e8ff-27c6b8514a2d/test-blob-eb99fe6e-b613-c5b6-ede9-db1caac8487c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:28:20 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "gmbJhF25aJUgzEEEE5Xwzw==",
        "Content-Range": "bytes 0-511/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D0ECF7F1147\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:28:19 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:28:19 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:28:19.8786240Z"
      },
      "ResponseBody": "0jwDNr6dymVIjRsErEFPbkGdIdEf/9/JqHqgf0qu/fKgsl9wdofKBxzMAsGqMgY9aMrxK4icmdNdOo5E/Eoamo8oY/rh3ve50xm0UvweHnV0Yxd/vNJpBBiMEzz4hgrRsWcxgc8MXInTOFhu50fWPxsY0Jkzm969v1/hVMu6wU0P46CV7JylaAeNq4R6\u002BxzRtdQh37VxnRaIdMJwKge9GHYLXwSmQFJ\u002BcmiSpe9aQsNCD573meGXnUWKDHjaNT3/0JMNb5sXK3WBomxN3/cnLjH\u002BLRtoxn\u002BVdMG/HDPZpD0qktVcTdMnK\u002BMpdfZ0Sb1NYt5H2wchlwkTePvaVw5BqP4vI00iyuFd1gI3PlCIICoDcrlVkck1CfrMSNTYTdPU6M34RSZwK5j96gQF6Vm5i1fQ1uVV6xY1\u002BRpSVoIMhIgvYlWDkNoEk0chWKfEMB\u002BhErx8CHftf/y2w0sLHdUV8GV71oYDNvt9y0KeM5NvcMn6sUPFj3wRQeNZzMyP\u002BHVyDGdCSVqYndzB/zw0T0toR1OCEGuRT2HoaZSjqmku7dLNLCcsLSZvYhRnA49A3PKY8IV5DOcK4LwGWd/F9PNykxJpZyIjPBosE65XKkzRqI2iC7rktOHqw0trJtNHqW0h9HB91nXPdLRqTfk5srVvNLBSI\u002Bk4jd4wfqTWtxVG5Gk="
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-b6542ae8-1712-fc73-e8ff-27c6b8514a2d/test-blob-eb99fe6e-b613-c5b6-ede9-db1caac8487c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D98D0ECF7F1147",
        "x-ms-date": "Mon, 11 Oct 2021 23:28:20 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "AW8AjE8/RE7QGe7KY42t8A==",
        "Content-Range": "bytes 512-1023/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D0ECF7F1147\u0022",
        "Last[...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-b6542ae8-1712-fc73-e8ff-27c6b8514a2d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:28:20 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2073618874",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}