{
  "Entries": [
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-7a818291-8e04-d206-bcdb-b2ca7306ccef?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 17:55:55 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F2DD53CBB0\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:55:55 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-7a818291-8e04-d206-bcdb-b2ca7306ccef/test-blob-30140e89-06bf-185e-e194-986ebf092bb3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 20 Oct 2021 17:55:55 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F2DD60C20E\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:55:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:55:55.5110414Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-7a818291-8e04-d206-bcdb-b2ca7306ccef/test-blob-30140e89-06bf-185e-e194-986ebf092bb3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:55:55 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F2DD60C20E\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:55:55 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:55:55 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:55:55.5110414Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-7a818291-8e04-d206-bcdb-b2ca7306ccef/test-blob-30140e89-06bf-185e-e194-986ebf092bb3?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D993F2DD60C20E\u0022",
        "x-ms-date": "Wed, 20 Oct 2021 17:55:55 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "x7TXJUDRnbDQJZu04COdbzgNEA7gvolyyllvLNlYOpTxlBuAdX1j6cd2PkC50gb4AJghFDlQOQkrZVvnYXDWeOoHw0sIHPq7qSZGaX9IuPdSdyxBNyZboVsRVQ8ifIhWn8ZWsQ\u002B78OOdZWoSCc\u002BK4qxjlOlElUHErCHv9sbrmS2e78q58gbol4dIo9G7SJeMh3JivuieEgmFkQXty/kdscs9cxkE0PCme/xi/PFvCGOKY25UidtEAN3AM2AA\u002BsyNK/EFftR9h7eBvEPrOxUXFYiiY2eLyCjw\u002BHM8Q5yPpYEw1NH/aYmODNy30s2XWMTHqR7Y[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-7a818291-8e04-d206-bcdb-b2ca7306ccef/test-blob-30140e89-06bf-185e-e194-986ebf092bb3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:55:55 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F2DD7976B9\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:55:55 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "D\u002BOUmsY1Yj0=",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:55:55 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:55:55.5110414Z"
      },
      "ResponseBody": "x7TXJUDRnbDQJZu04COdbzgNEA7gvolyyllvLNlYOpTxlBuAdX1j6cd2PkC50gb4AJghFDlQOQkrZVvnYXDWeOoHw0sIHPq7qSZGaX9IuPdSdyxBNyZboVsRVQ8ifIhWn8ZWsQ\u002B78OOdZWoSCc\u002BK4qxjlOlElUHErCHv9sbrmS2e78q58gbol4dIo9G7SJeMh3JivuieEgmFkQXty/kdscs9cxkE0PCme/xi/PFvCGOKY25UidtEAN3AM2AA\u002BsyNK/EFftR9h7eBvEPrOxUXFYiiY2eLyCjw\u002BHM8Q5yPpYEw1NH/aYmODNy30s2XWMTHqR7YXpZkAmLJFYZhQUMa8hfCu2ZEF6z\u002BE1eL0/ZbWJ\u002BudJp\u002Bt0bqy9JuNlQDLMuYneC11Z1eg5Fy2Uo/2S5sbbzns8yomzvQ1/CU1eFY\u002B\u002BeM8jYWpYICUPEJDN37qvGjAsiXG3n\u002B8AGk5f6tya6wGd5js\u002Bf4Vcg65WLbn45d1Cz\u002B8dIYwd9tjQE0ccCEVIZCWfL/mPcKqqwAXDYWIlFzRxDRrtjcl1j\u002B9iXlw\u002BQItpDcmUWbXjw19EYlGGSoV2qwwSqvsqauZsGZAKLRJObI96amOokL1\u002BjUnLqStn/0VZ67NAK6WQPqLjKDAV2aY89fXSC9AhzgpepB2hXrG69CpasDFu/kDZ6jvAxXh9WLOjg="
    },
[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-7a818291-8e04-d206-bcdb-b2ca7306ccef?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:55:55 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1661385657",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttps://amandacanary.blob.core.windows.net\nhttps://amandacanary.file.core.windows.net\nhttps://amandacanary.queue.core.windows.net\nhttps://amandacanary.table.core.windows.net\n\n\n\n\nhttps://amandacanary-secondary.blob.core.windows.net\nhttps://amandacanary-secondary.file.core.windows.net\nhttps://amandacanary-secondary.queue.core.windows.net\nhttps://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandacanary.blob.core.windows.net/;QueueEndpoint=https://amandacanary.queue.core.windows.net/;FileEndpoint=https://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Kg==;\ntestscope2\n\n"
  }
}