{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f3a7aebc-2386-2a26-aa46-a30240bdf308?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:28:20 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D0ECFABCC74\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:28:20 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f3a7aebc-2386-2a26-aa46-a30240bdf308/test-blob-dd1a8f2c-0d33-242e-2f80-0d034d19028d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:28:20 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "vBofWIKEuu/VnqxldJK2wg==",
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D0ECFC7A878\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:28:20 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:28:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:28:20.3433602Z"
      },
      "ResponseBody": "6cLQYGxwAKQpMkr4L2lQeuRHspGeBjwHivxbYmBRTQm5WNQXXgHw3656wpkWfLfYvDxO4OxC/eKGydZwFJ1E2OVAP9eUOBziVtLiJEOj8A1EgqYkA2wcdlrxkZQqgMoRNuqz1j3gRIQfbIkaX9mf4tjJK5L3H9V4I8h8o6aHt9YH0e1Y7xrPYz4hBJfjAheAUq67YVQ4GRYVOrJ0Y6Ddl7SyEo7sRvO\u002B\u002BcdU1Ro9lSGx/FH3zFaBz7fXQ7RoWgCdQ23iMO\u002BJlAu7/WeN40T716WQw2dO5stdMUPWFAM\u002BVp7HtpGtW2QxKGhFO87u9Otz3GsP15eYTl2hhf\u002Bssn8IfafIxS2yTXxBX5v/Car8bjxXYjiXL34HLmc0C9VkhXXoPb4nJi\u002B\u002BwI7uzXf8m[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f3a7aebc-2386-2a26-aa46-a30240bdf308?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:28:20 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1886179007",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}