{
  "Entries": [
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-b6542ae8-1712-fc73-e8ff-27c6b8514a2d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 17:55:54 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F2DC81B067\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:55:54 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-b6542ae8-1712-fc73-e8ff-27c6b8514a2d/test-blob-eb99fe6e-b613-c5b6-ede9-db1caac8487c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 20 Oct 2021 17:55:54 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F2DC9096C5\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:55:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:55:54.1467845Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-b6542ae8-1712-fc73-e8ff-27c6b8514a2d/test-blob-eb99fe6e-b613-c5b6-ede9-db1caac8487c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:55:54 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F2DC9096C5\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:55:54 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:55:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:55:54.1467845Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-b6542ae8-1712-fc73-e8ff-27c6b8514a2d/test-blob-eb99fe6e-b613-c5b6-ede9-db1caac8487c?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D993F2DC9096C5\u0022",
        "x-ms-date": "Wed, 20 Oct 2021 17:55:54 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "0jwDNr6dymVIjRsErEFPbkGdIdEf/9/JqHqgf0qu/fKgsl9wdofKBxzMAsGqMgY9aMrxK4icmdNdOo5E/Eoamo8oY/rh3ve50xm0UvweHnV0Yxd/vNJpBBiMEzz4hgrRsWcxgc8MXInTOFhu50fWPxsY0Jkzm969v1/hVMu6wU0P46CV7JylaAeNq4R6\u002BxzRtdQh37VxnRaIdMJwKge9GHYLXwSmQFJ\u002BcmiSpe9aQsNCD573meGXnUWKDHjaNT3/0JMNb5sXK3WBomxN3/cnLjH\u002BLRtoxn\u002BVdMG/HDPZpD0qktVcTdMnK\u002BMpdfZ0Sb1[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-b6542ae8-1712-fc73-e8ff-27c6b8514a2d/test-blob-eb99fe6e-b613-c5b6-ede9-db1caac8487c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:55:54 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "gmbJhF25aJUgzEEEE5Xwzw==",
        "Content-Range": "bytes 0-511/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F2DCA99988\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:55:54 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:55:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:55:54.1467845Z"
      },
      "ResponseBody": "0jwDNr6dymVIjRsErEFPbkGdIdEf/9/JqHqgf0qu/fKgsl9wdofKBxzMAsGqMgY9aMrxK4icmdNdOo5E/Eoamo8oY/rh3ve50xm0UvweHnV0Yxd/vNJpBBiMEzz4hgrRsWcxgc8MXInTOFhu50fWPxsY0Jkzm969v1/hVMu6wU0P46CV7JylaAeNq4R6\u002BxzRtdQh37VxnRaIdMJwKge9GHYLXwSmQFJ\u002BcmiSpe9aQsNCD573meGXnUWKDHjaNT3/0JMNb5sXK3WBomxN3/cnLjH\u002BLRtoxn\u002BVdMG/HDPZpD0qktVcTdMnK\u002BMpdfZ0Sb1NYt5H2wchlwkTePvaVw5BqP4vI00iyuFd1gI3PlCIICoDcrlVkck1CfrMSNTYTdPU6M34RSZwK5j96gQF6Vm5i1fQ1uVV6xY1\u002BRpSVoIMhIgvYlWDkNoEk0chWKfEMB\u002BhErx8CHftf/y2w0sLHdUV8GV71oYDNvt9y0KeM5NvcMn6sUPFj3wRQeNZzMyP\u002BHVyDGdCSVqYndzB/zw0T0toR1OCEGuRT2HoaZSjqmku7dLNLCcsLSZvYhRnA49A3PKY8IV5DOcK4LwGWd/F9PNykxJpZyIjPBosE65XKkzRqI2iC7rktOHqw0trJtNHqW0h9HB91nXPdLRqTfk5srVvNLBSI\u002Bk4jd4wfqTWtxVG5Gk="
    },
[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-b6542ae8-1712-fc73-e8ff-27c6b8514a2d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:55:54 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2073618874",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttps://amandacanary.blob.core.windows.net\nhttps://amandacanary.file.core.windows.net\nhttps://amandacanary.queue.core.windows.net\nhttps://amandacanary.table.core.windows.net\n\n\n\n\nhttps://amandacanary-secondary.blob.core.windows.net\nhttps://amandacanary-secondary.file.core.windows.net\nhttps://amandacanary-secondary.queue.core.windows.net\nhttps://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandacanary.blob.core.windows.net/;QueueEndpoint=https://amandacanary.queue.core.windows.net/;FileEndpoint=https://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Kg==;\ntestscope2\n\n"
  }
}