{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-2d6c5552-6378-878e-c52f-de9d33d2cbee?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:28:24 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D0ED2253304\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:28:24 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-2d6c5552-6378-878e-c52f-de9d33d2cbee/test-blob-e163dea2-230f-1806-4d72-88def9099461",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 11 Oct 2021 23:28:24 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D0ED22E8B09\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:28:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:28:24.4960009Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-2d6c5552-6378-878e-c52f-de9d33d2cbee/test-blob-e163dea2-230f-1806-4d72-88def9099461?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "4tvf6iIB9QI=",
        "x-ms-date": "Mon, 11 Oct 2021 23:28:24 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "oNoKQVtPkWY4H9gfs7uBCkl/4GhZz1BqHnowBCZCxFKVVjIrr6UDbTkTw30jeomo/7qRCCJZANGKoCLgH4w/9VqGiV2IVVqkfHIvRQvSRqPwhwRrsbwvPFVhoQ\u002BCIk6s1M0jnfAsIKlg7IuwKrvFt1l/8JeI00SdVk0IJ7RLIlojgnE9r6myxGZaC8QxfxKam\u002Bq2AjK2JAGJhUajI/n1FcowjKdJhwevzCsxLceAbNc7bYvJlB8obF5wtCpiD6BtZPb5APJqUBPiBjYGhfY5CRhvaLZtK4CrCB9J2NPdTL2Kw8jQhmzk0B14543oIednNqsR86bqADl1TffSIXhABbp4e8EtaYK[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-2d6c5552-6378-878e-c52f-de9d33d2cbee?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:28:24 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1651891567",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}