{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-bd448cd5-ed32-8469-8a30-00e5176d6872?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:02 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D10DD44231E\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:43:02 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-bd448cd5-ed32-8469-8a30-00e5176d6872/test-blob-d37e9245-1bff-9eba-f85b-f6c192eb3533",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:02 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D10DD4D6D26\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:43:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:43:02.1467942Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-bd448cd5-ed32-8469-8a30-00e5176d6872/test-blob-d37e9245-1bff-9eba-f85b-f6c192eb3533?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "PnStNuf/jeM=",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:02 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "k0FHoPz73W5zNRMrXMINGEC2sxA\u002BgMXLUtfaQ0s33Tp39BM0KlBONym/dHfuyZgTGgKiert9XRF8e00lIJkjO1jZtGev2O3vZ3vmfwxN3Yk\u002BxyhJlWJ\u002B\u002BZcBuK8CKRaQmzgeFBUwY0IUshI/l94FLp3E5llw2qb1WrrQrSA\u002B7D5lVuPTL8hzDmPmNOJPPmK4/IkSPkO8H8GRKbpbX7Yh1sXU2kD7Mf/UUdf1iaXDpRtXGLGWK677qDYhQQYOGK6txF4de2QivcqJPe1rxpUczoOfA0cEi6oX2TEJ2e/5xjgoSMRHpiq2NVrnDe7Aj\u002BGhBXOCbhRnqDm[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-bd448cd5-ed32-8469-8a30-00e5176d6872?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:02 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "202918690",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}