{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-5e0aab8d-a26d-e44d-ca95-f9fbd18ea4b5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:28 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D10ED01670A\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:43:28 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-5e0aab8d-a26d-e44d-ca95-f9fbd18ea4b5/test-blob-08203891-e156-73ea-80f2-236c50852f47",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:28 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D10ED0B1F26\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:43:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:43:28.5558054Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-5e0aab8d-a26d-e44d-ca95-f9fbd18ea4b5/test-blob-08203891-e156-73ea-80f2-236c50852f47?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "RIkhadPIL64=",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:28 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "uwqmm1CB66gKElDexicdG3juYSBgTKiZTDXigmlSLKImXWq8CIK5GMWFTfojUkjJtV/V3QpIHW9iDE4bnmg/t\u002Baut2m9YBL1NEha2/6tdvnsGM0JfU\u002BX3j/6Wvs0nnldRpYUdZveDFVM4KjC7kJwtJZULoWbNTqXFtgpwgUXwJbO/JVomQBeDQx3vZ2m1fD9iaZl4HD0whFbfF7CtUlPNR8R8/GsCBqW9iB5I3ed8EHoLDhfsuAm2jqEDByim1jCKId9leH/UIGLz\u002BlPe56Zvowc2okR8IM\u002B6xi2KPv\u002B9FrHtvvvH1tg6du30\u002BL21l\u002Bb6k6Qhc[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-5e0aab8d-a26d-e44d-ca95-f9fbd18ea4b5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:29 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "356901860",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}