{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-ca762f0c-62f3-ebad-93d7-cda138b318fe?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:24 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D10EAC8C349\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:43:24 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-ca762f0c-62f3-ebad-93d7-cda138b318fe/test-blob-e97556c1-c55c-81ac-ed77-37d47d40b8cc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:24 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D10EAD1AE86\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:43:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:43:24.8239238Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-ca762f0c-62f3-ebad-93d7-cda138b318fe/test-blob-e97556c1-c55c-81ac-ed77-37d47d40b8cc?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "EMygK8xswRA=",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:24 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "IzOJS9JUEYUXLlyrp/Y1PXubR6ubJrthix24Jf5BagGBv5SBzA9fBnuR2xQ8UGdg6ktaQSUbX/t4J8C1m\u002BuH1cRaKuhis3BsO0EvCUumJTq1Vzuz5yncZV\u002BYCaROqWqQCgVQ4SZ//jba7gXj7FWw0gKGAESw0\u002B6afsSIyarMHZLXn/9FVUMTNlkE2Pkj\u002BHgK6DehyKkl3zcXtWNi9jSMDtFzDE1Wany/c8nqrPr0d4VLfuFzKlTpsb/ILqDgsT8leMoosOsrs3274lXfOzI8Ij7eFnhSGOR8iVuNjjzb38GKxTQwzMeZIMpkt0f/CXWNjAtiAZvH0l/lqyaQnSVA3[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-ca762f0c-62f3-ebad-93d7-cda138b318fe?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:25 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1031281910",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}