{
  "Entries": [
    {
      "RequestUri": "https://devicemodels.azure.com/metadata.json",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "NKppgKFM3\u002B6s8eXtEYbFkw==",
        "Content-Type": "application/json",
        "ETag": "\u00220x8D9875AEB0F0DED\u0022",
        "Last-Modified": "Mon, 04 Oct 2021 17:18:01 GMT",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-03-28"
      },
      "ResponseBody": [
        "{\n",
        "  \u0022commitId\u0022: \u00228776be97bdb9803e90499eff98b95fb792da3e56\u0022,\n",
        "  \u0022features\u0022: {\n",
        "    \u0022expanded\u0022: true,\n",
        "    \u0022index\u0022: true\n",
        "  },\n",
        "  \u0022publishDateUtc\u0022: \u00222021-10-04T17:00:46.811428\u002B00:00\u0022,\n",
        "  \u0022sourceRepo\u0022: \u0022Azure/iot-plugandplay-models\u0022,\n",
        "  \u0022totalModelCount\u0022: 19027\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://devicemodels.azure.com/dtmi/com/example/thermostat-1.expanded.json",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "pH51cS5\u002Bu5tWh2Krmys7qA==",
        "Content-Type": "application/json",
        "ETag": "\u00220x8D8FED94ECA13B6\u0022",
        "Last-Modified": "Wed, 14 Apr 2021 00:07:35 GMT",
        "x-ms-error-code": "ConditionNotMet",[...]
    {
      "RequestUri": "https://devicemodels.azure.com/dtmi/azure/devicemanagement/deviceinformation-1.expanded.json",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Vw1WdSQoTBOhmiB9XXUwsw==",
        "Content-Type": "application/json",
        "ETag": "\u00220x8D8FED95F570217\u0022",
        "Last-Modified": "Wed, 14 Apr 2021 00:08:03 GMT",
        "x-ms-error-code": "Cond[...]
