{
  "Entries": [
    {
      "RequestUri": "https://devicemodels.azure.com/dtmi/com/example/temperaturecontroller-1.json",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "w8OrFrbCwZwtVo6WaKDWxQ==",
        "Content-Type": "application/json",
        "ETag": "\u00220x8D8A13DEABA3051\u0022",
        "Last-Modified": "Tue, 15 Dec 2020 21:10:57 GMT",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-03-28"
      },
      "ResponseBody": [
        "{\n",
        "  \u0022@context\u0022: \u0022dtmi:dtdl:context;2\u0022,\n",
        "  \u0022@id\u0022: \u0022dtmi:com:example:TemperatureController;1\u0022,\n",
        "  \u0022@type\u0022: \u0022Interface\u0022,\n",
        "  \u0022displayName\u0022: \u0022Temperature Controller\u0022,\n",
        "  \u0022description\u0022: \u0022Device with two thermostats and remote reboot.\u0022,\n",
        "  \u0022contents\u0022: [\n",
        "    {\n",
        "      \u0022@type\u0022: [[...]
    {
      "RequestUri": "https://devicemodels.azure.com/dtmi/com/example/thermostat-1.json",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "U0VZgOgpfb6bwvG5UDVZuw==",
        "Content-Type": "application/json",
        "ETag": "\u00220x8D8A13DEABC53BA\u0022",
        "Last-Modified": "Tue, 15 Dec 2020 21:10:57 GMT",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms[...]
    {
      "RequestUri": "https://devicemodels.azure.com/dtmi/azure/devicemanagement/deviceinformation-1.json",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "oCzHP9acH\u002B/\u002BFQOv2V56NA==",
        "Content-Type": "application/json",
        "ETag": "\u00220x8D8A13DEBC614F0\u0022",
        "Last-Modified": "Tue, 15 Dec 2020 21:10:59 GMT",
        "x-ms-error-code": "Con[...]
