{
  "Entries": [
    {
      "RequestUri": "https://devicemodels.azure.com/metadata.json",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "CBiVBvdQTCS2b8XJ\u002BeqxwQ==",
        "Content-Type": "application/json",
        "ETag": "\u00220x8D94142479740F0\u0022",
        "Last-Modified": "Wed, 07 Jul 2021 12:25:17 GMT",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-03-28"
      },
      "ResponseBody": [
        "{\n",
        "  \u0022commitId\u0022: \u002200f5fba10751d8dd2d6141c8ae36f81f8b706379\u0022,\n",
        "  \u0022features\u0022: {\n",
        "    \u0022expanded\u0022: true,\n",
        "    \u0022index\u0022: true\n",
        "  },\n",
        "  \u0022publishDateUtc\u0022: \u00222021-07-07T12:00:53.574226\u002B00:00\u0022,\n",
        "  \u0022sourceRepo\u0022: \u0022Azure/iot-plugandplay-models\u0022,\n",
        "  \u0022totalModelCount\u0022: 18945\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://devicemodels.azure.com/dtmi/com/example/thermojax-999.expanded.json",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "text/html",
        "x-ms-error-code": "WebContentNotFound",
        "x-ms-version": "2018-03-28"
      },
      "ResponseBody": "\u003C!DOCTYPE html\u003E\u003Chtml\u003E\u003Chead\u003E\u003Ctitle\u003EWebContentNotFound\u003C/title\u003E\u003C/head\u003E\u003Cbody\u003E\u003Ch1\u003EThe requested content does not exist.\u003C/h1\u003E\u003Cp\u003E\u003Cul\u003E\u003Cli\u003EHttpStatusCode: 404\u003C/li\u003E\u003Cli\u003EErrorCode: WebContentNotFound\u003C/li\u003E\u003Cli\u003ERequestId : 0eea9138-501e-00c3-7588-7361c9000000\u003C/li\u003E\u003Cli\u003ETimeStamp : 2021-07-07T23:32:54.2648857Z\u003C/li\u003E\u003C/ul\u003E\u003C/p\u003E\u003C/body\u003E\u003C/html\u003E"
    },
    {
      "RequestUri": "https://devicemodels.azure.com/dtmi/com/example/thermojax-999.json",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "text/html",
        "x-ms-error-code": "WebContentNotFound",
        "x-ms-version": "2018-03-28"
      },
      "ResponseBody": "\u003C!DOCTYPE html\u003E\u003Chtml\u003E\u003Chead\u003E\u003Ctitle\u003EWebContentNotFound\u003C/title\u003E\u003C/head\u003E\u003Cbody\u003E\u003Ch1\u003EThe requested content does not exist.\u003C/h1\u003E\u003Cp\u003E\u003Cul\u003E\u003Cli\u003EHttpStatusCode: 404\u003C/li\u003E\u003Cli\u003EErrorCode: WebContentNotFound\u003C/li\u003E\u003Cli\u003ERequestId : 4dec82fa-301e-00e9-5388-73feef000000\u003C/li\u003E\u003Cli\u003ETimeStamp : 2021-07-07T23:32:54.3085560Z\u003C/li\u003E\u003C/ul\u003E\u003C/p\u003E\u003C/body\u003E\u003C/html\u003E"
    }
  ],
  "Variables": {
    "RandomSeed": "447199371"
  }
}