{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11910"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRg1042?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1173"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg1042",
        "name": "testRg1042",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg1042/providers/Microsoft.ContainerRegistry/registries/acrregistry7141?api-version=2022-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Premium"
        },
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "location": "eastus",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1172"
      },
      "ResponseBody": {
        "sku": {
          "name": "Premium",
          "tier": "Premium"
        },
        "type": "Microsoft.ContainerRegistry/registries",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg1042/providers/Microsoft.ContainerRegistry/registries/acrregistry7141",
        "name": "acrregistry7141",
        "location": "eastus",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "systemData": {
          "createdBy": "ea0eddd2-3d60-47f8-b3bf-7ec8ae554d10",
          "createdByType": "Application",
          "createdAt": "2023-02-15T08:41:03.9071864\u002B00:00",
          "lastModifiedBy": "ea0eddd2-3d60-47f8-b3bf-7ec8ae554d10",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-02-15T08:41:03.9071864\u002B00:00"
        },
        "properties": {
          "loginServer": "acrregistry7141.azurecr.io",
          "creationDate": "2023-02-15T08:41:03.9071864Z",
          "provisioningState": "Succeeded",
          "adminUserEnabled": false,
          "networkRuleSet": {
            "defaultAction": "Allow",
            "ipRules": []
          },
          "policies": {
            "quarantinePolicy": {
              "status": "disabled"
            },
            "trustPolicy": {
              "type": "Notary",
              "status": "disabled"
            },
            "retentionPolicy": {
              "days": 7,
              "lastUpdatedTime": "2023-02-15T08:41:12.0087122\u002B00:00",
              "status": "disabled"
            },
            "exportPolicy": {
              "status": "enabled"
            },
            "azureADAuthenticationAsArmPolicy": {
              "status": "enabled"
            },
            "softDeletePolicy": {
              "retentionDays": 7,
              "lastUpdatedTime": "2023-02-15T08:41:12.0087122\u002B00:00",
              "status": "disabled"
            }
          },
          "encryption": {
            "status": "disabled"
          },
          "dataEndpointEnabled": false,
          "dataEndpointHostNames": [],
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled",
          "networkRuleBypassOptions": "AzureServices",
          "zoneRedundancy": "Disabled",
          "anonymousPullEnabled": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg1042/providers/Microsoft.ContainerRegistry/registries/acrregistry7141/taskRuns/acrtaskrun6859?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdk-test/providers/Microsoft.ManagedIdentity/userAssignedIdentities/acrsdktestidentity": {}
          }
        },
        "location": "eastus",
        "properties": {
          "runRequest": {
            "encodedTaskContent": "CnZlcnNpb246IHYxLjEuMApzdGVwczoKICAtIGNtZDogZG9ja2VyIGltYWdlcw==",
            "timeout": 600,
            "platform": {
              "os": "Linux",
              "architecture": "amd64"
            },
            "credentials": {
              "sourceRegistry": {
                "loginMode": "Default"
              },
              "customRegistries": {
                "netsdkacr.azurecr.io": {
                  "identity": "527def11-cef4-4b38-b6d2-3f11f86910a0"
                }
              }
            },
            "type": "EncodedTaskRunRequest"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg1042/providers/Microsoft.ContainerRegistry/registries/acrregistry7141/taskRuns/acrtaskrun6859/operationStatuses/ca1?api-version=2019-06-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "30",
        "x-ms-ratelimit-remaining-subscription-writes": "1171"
      },
      "ResponseBody": {
        "type": "Microsoft.ContainerRegistry/registries/taskRuns",
        "properties": {
          "provisioningState": "Creating",
          "runRequest": {
            "type": "EncodedTaskRunRequest",
            "encodedTaskContent": "CnZlcnNpb246IHYxLjEuMApzdGVwczoKICAtIGNtZDogZG9ja2VyIGltYWdlcw==",
            "timeout": 600,
            "platform": {
              "os": "Linux",
              "architecture": "amd64"
            },
            "credentials": {
              "sourceRegistry": {
                "loginMode": "Default"
              },
              "customRegistries": {
                "netsdkacr.azurecr.io": null
              }
            }
          },
          "runResult": {
            "type": "Microsoft.ContainerRegistry/registries/runs",
            "properties": {
              "runId": "ca1",
              "status": "Queued",
              "lastUpdatedTime": "2023-02-15T08:41:16\u002B00:00",
              "runType": "QuickRun",
              "createTime": "2023-02-15T08:41:16.6809124\u002B00:00",
              "platform": {
                "os": "Linux",
                "architecture": "amd64"
              },
              "agentConfiguration": {
                "cpu": 2
              },
              "provisioningState": "Succeeded",
              "isArchiveEnabled": false
            },
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg1042/providers/Microsoft.ContainerRegistry/registries/acrregistry7141/runs/ca1",
            "name": "ca1"
          }
        },
        "location": "eastus",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg1042/providers/Microsoft.ContainerRegistry/registries/acrregistry7141/taskRuns/acrtaskrun6859",
        "name": "acrtaskrun6859",
        "systemData": {
          "createdBy": "ea0eddd2-3d60-47f8-b3bf-7ec8ae554d10",
          "createdByType": "Application",
          "createdAt": "2023-02-15T08:41:13.4449038\u002B00:00",
          "lastModifiedBy": "ea0eddd2-3d60-47f8-b3bf-7ec8ae554d10",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-02-15T08:41:13.4449038\u002B00:00"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg1042/providers/Microsoft.ContainerRegistry/registries/acrregistry7141/taskRuns/acrtaskrun6859/operationStatuses/ca1?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg1042/providers/Microsoft.ContainerRegistry/registries/acrregistry7141/taskRuns/acrtaskrun6859/operationStatuses/ca1?api-version=2019-06-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "30",
        "x-ms-ratelimit-remaining-subscription-reads": "11909"
      },
      "ResponseBody": {
        "status": "Creating"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg1042/providers/Microsoft.ContainerRegistry/registries/acrregistry7141/taskRuns?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11906"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "Microsoft.ContainerRegistry/registries/taskRuns",
            "properties": {
              "provisioningState": "Succeeded",
              "runRequest": {
                "type": "EncodedTaskRunRequest",
                "encodedTaskContent": "CnZlcnNpb246IHYxLjEuMApzdGVwczoKICAtIGNtZDogZG9ja2VyIGltYWdlcw==",
                "timeout": 600,
                "platform": {
                  "os": "Linux",
                  "architecture": "amd64"
                },
                "credentials": {
                  "sourceRegistry": {
                    "loginMode": "Default"
                  },
                  "customRegistries": {
                    "netsdkacr.azurecr.io": null
                  }
                }
              },
              "runResult": {
                "type": "Microsoft.ContainerRegistry/registries/runs",
                "properties": {
                  "runId": "ca1",
                  "status": "Succeeded",
                  "lastUpdatedTime": "2023-02-15T08:41:33\u002B00:00",
                  "runType": "QuickRun",
                  "createTime": "2023-02-15T08:41:16.6809124\u002B00:00",
                  "startTime": "2023-02-15T08:41:17.3206392\u002B00:00",
                  "finishTime": "2023-02-15T08:41:33.8252876\u002B00:00",
                  "platform": {
                    "os": "Linux",
                    "architecture": "amd64"
                  },
                  "agentConfiguration": {
                    "cpu": 2
                  },
                  "sourceRegistryAuth": "Default",
                  "customRegistries": [
                    "netsdkacr.azurecr.io"
                  ],
                  "provisioningState": "Succeeded",
                  "isArchiveEnabled": false
                },
                "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg1042/providers/Microsoft.ContainerRegistry/registries/acrregistry7141/runs/ca1",
                "name": "ca1"
              }
            },
            "location": "eastus",
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg1042/providers/Microsoft.ContainerRegistry/registries/acrregistry7141/taskRuns/acrtaskrun6859",
            "name": "acrtaskrun6859",
            "systemData": {
              "createdBy": "ea0eddd2-3d60-47f8-b3bf-7ec8ae554d10",
              "createdByType": "Application",
              "createdAt": "2023-02-15T08:41:13.4449038\u002B00:00",
              "lastModifiedBy": "ea0eddd2-3d60-47f8-b3bf-7ec8ae554d10",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-02-15T08:41:13.4449038\u002B00:00"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg1042/providers/Microsoft.ContainerRegistry/registries/acrregistry7141?api-version=2022-12-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12-01",
        "x-ms-ratelimit-remaining-subscription-deletes": "14986"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1895356201",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
