{
  "Entries": [
    {
      "RequestUri": "/luis/api/v2.0/apps/import?appName=Test%20Import%20LUIS%20App",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"LuisBot\",\r\n  \"versionId\": \"0.1\",\r\n  \"desc\": \"\",\r\n  \"culture\": \"en-us\",\r\n  \"intents\": [\r\n    {\r\n      \"name\": \"dateintent\"\r\n    },\r\n    {\r\n      \"name\": \"Help\"\r\n    },\r\n    {\r\n      \"name\": \"None\"\r\n    },\r\n    {\r\n      \"name\": \"SearchHotels\"\r\n    },\r\n    {\r\n      \"name\": \"ShowHotelsReviews\"\r\n    }\r\n  ],\r\n  \"entities\": [\r\n    {\r\n      \"name\": \"AirportCode\"\r\n    },\r\n    {\r\n      \"name\": \"Hotel\"\r\n    }\r\n  ],\r\n  \"bing_entities\": [\r\n    \"datetimeV2\",\r\n    \"geography\"\r\n  ],\r\n  \"closedLists\": [],\r\n  \"composites\": [],\r\n  \"regex_features\": [\r\n    {\r\n      \"pattern\": \"[a-z]{3}\",\r\n      \"activated\": true,\r\n      \"name\": \"AirportCodeRegex\"\r\n    }\r\n  ],\r\n  \"model_features\": [\r\n    {\r\n      \"activated\": true,\r\n      \"name\": \"Near\",\r\n      \"words\": \"near,around,close,nearby\",\r\n      \"mode\": true\r\n    },\r\n    {\r\n      \"activated\": true,\r\n      \"name\": \"Show\",\r\n      \"words\": \"show,find,look,search\",\r\n      \"mode\": true\r\n    }\r\n  ],\r\n  \"utterances\": [\r\n    {\r\n      \"text\": \"i need help\",\r\n      \"intent\": \"Help\",\r\n      \"entities\": []\r\n    },\r\n    {\r\n      \"text\": \"help me\",\r\n      \"intent\": \"Help\",\r\n      \"entities\": []\r\n    },\r\n    {\r\n      \"text\": \"tomorrow\",\r\n      \"intent\": \"dateintent\",\r\n      \"entities\": []\r\n    },\r\n    {\r\n      \"text\": \"search for hotels in seattle\",\r\n      \"intent\": \"SearchHotels\",\r\n      \"entities\": []\r\n    },\r\n    {\r\n      \"text\": \"what can i do?\",\r\n      \"intent\": \"Help\",\r\n      \"entities\": []\r\n    },\r\n    {\r\n      \"text\": \"next monday\",\r\n      \"intent\": \"dateintent\",\r\n      \"entities\": []\r\n    },\r\n    {\r\n      \"text\": \"next year\",\r\n      \"intent\": \"dateintent\",\r\n      \"entities\": []\r\n    },\r\n    {\r\n      \"text\": \"look for hotels in miami\",\r\n      \"intent\": \"SearchHotels\",\r\n      \"entities\": []\r\n    },\r\n    {\r\n      \"text\": \"show me hotels in california\",\r\n      \"intent\": \"SearchHotels\",\r\n      \"entities\": []\r\n    },\r\n    {\r\n      \"text\": \"show me the reviews of the amazing bot resort\",\r\n      \"intent\": \"ShowHotelsReviews\",\r\n      \"entities\": [\r\n        {\r\n          \"startPos\": 23,\r\n          \"endPos\": 44,\r\n          \"entity\": \"Hotel\"\r\n        }\r\n      ]\r\n    },\r\n    {\r\n      \"text\": \"can i see the reviews of extended bot hotel?\",\r\n      \"intent\": \"ShowHotelsReviews\",\r\n      \"entities\": [\r\n        {\r\n          \"startPos\": 25,\r\n          \"endPos\": 42,\r\n          \"entity\": \"Hotel\"\r\n        }\r\n      ]\r\n    },\r\n    {\r\n      \"text\": \"find reviews of hotelxya\",\r\n      \"intent\": \"ShowHotelsReviews\",\r\n      \"entities\": [\r\n        {\r\n          \"startPos\":[...]
    {
      "RequestUri": "/luis/api/v2.0/apps/525eb3b5-651d-4201-b75d-71df9a655f35",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"525eb3b5-651d-4201-b75d-71df9a655f35\",\r\n  \"name\": \"Test Import LUIS App\",\r\n  \"description\": \"\",\r\n  \"culture\": \"en-us\",\r\n  \"usageScenario\": \"\",\r\n  \"domain\": \"\",\r\n  \"versionsCount\": 1,\r\n  \"createdDateTime\": \"2017-12-14T17:09:59Z\",\r\n  \"endpoints\": {},\r\n  \"endpointHitsCount\": 0,\r\n  \"activeVersion\": \"0.1\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/525eb3b5-651d-4201-b75d-71df9a655f35",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"Success\",\r\n  \"message\": \"Operation Successful\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}