{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.bookshelf.discovery.azure.com/knowledgeBases/test-kb/versions/v1:startIndexing?api-version=2026-02-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized"
      },
      "RequestBody": {
        "nodePoolId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-rg/providers/Microsoft.Discovery/supercomputers/test-sc/nodePools/nodepool1",
        "projectId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-rg/providers/Microsoft.Discovery/workspaces/test-wkspc/projects/test-project"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "Sanitized",
        "operation-location": "https://Sanitized.bookshelf.discovery.azure.com/knowledgeBases/test-kb/versions/v1/operations//knowledgeBases/test-kb/versions/v1?api-version=2026-02-01-preview",
        "repeatability-result": "accepted",
        "x-ms-build-version": "1"
      },
      "ResponseBody": {
        "id": "/knowledgeBases/test-kb/versions/v1",
        "status": "Processing",
        "result": {
          "runId": "indexingrune68cc6beff3361d6502a66fb8d1633fe"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.bookshelf.discovery.azure.com/knowledgeBases/test-kb/versions/v1:cancelIndexing?api-version=2026-02-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized"
      },
      "RequestBody": {
        "nodePoolId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-rg/providers/Microsoft.Discovery/supercomputers/test-sc/nodePools/nodepool1"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "Sanitized",
        "operation-location": "https://Sanitized.bookshelf.discovery.azure.com/knowledgeBases/test-kb/versions/v1/operations/indexingrune68cc6beff3361d6502a66fb8d1633fe?api-version=2026-02-01-preview",
        "repeatability-result": "accepted",
        "x-ms-build-version": "1"
      },
      "ResponseBody": {
        "id": "/knowledgeBases/test-kb/versions/v1",
        "status": "Processing",
        "result": {
          "runId": "indexingrune68cc6beff3361d6502a66fb8d1633fe"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_DISCOVERY_BOOKSHELF_ENDPOINT": "https://Sanitized.bookshelf.discovery.azure.com",
    "KNOWLEDGE_BASE_NAME": "test-kb",
    "KNOWLEDGE_BASE_VERSION": "v1",
    "NODE_POOL_ID": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-rg/providers/Microsoft.Discovery/supercomputers/test-sc/nodePools/nodepool1",
    "PROJECT_ARM_ID": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-rg/providers/Microsoft.Discovery/workspaces/test-wkspc/projects/test-project",
    "RandomSeed": "548271021"
  }
}
