{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.bookshelf.discovery.azure.com/knowledgeBases/test-kb/versions/v1?api-version=2026-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "Sanitized",
        "x-ms-build-version": "1"
      },
      "ResponseBody": {
        "id": "/knowledgeBases/test-kb/versions/v1",
        "name": "test-kb",
        "version": "v1",
        "knowledgeBaseUrl": "",
        "bookshelfName": "Sanitized",
        "createdAt": "2026-05-10T02:52:11.2547143Z",
        "createdBy": "Sanitized",
        "createdByType": "User",
        "lastModifiedAt": "2026-05-12T03:01:11.8191126Z",
        "lastModifiedBy": "Sanitized",
        "lastModifiedByType": "User",
        "storageAssetReferences": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test-rg/providers/microsoft.discovery/storagecontainers/test-storage/storageassets/test-sa",
            "userAssignedIdentity": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/test-mi"
          }
        ],
        "provisioningState": "Succeeded",
        "status": "Running",
        "tags": [
          {
            "key": "indexerType",
            "value": "LGR"
          }
        ],
        "description": "Use this tool to query information about immersion cooling systems or liquid cooling technologies.",
        "copilotInstruction": "Use this tool to query information about immersion cooling systems or liquid cooling technologies.",
        "apiVersion": "2026-02-01-preview"
      }
    }
  ],
  "Variables": {
    "AZURE_DISCOVERY_BOOKSHELF_ENDPOINT": "https://Sanitized.bookshelf.discovery.azure.com",
    "KNOWLEDGE_BASE_NAME": "test-kb",
    "KNOWLEDGE_BASE_VERSION": "v1",
    "RandomSeed": "1682603747"
  }
}
