{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/networkcloud-sdk1779?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk1779",
        "name": "networkcloud-sdk1779",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6-cluster/providers/Microsoft.NetworkCloud/kubernetesClusters/kubernetesCluster785?api-version=2023-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "extendedLocation": {
          "name": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/dev6-1013a8b273c4-hostedresources-69088feb/providers/microsoft.extendedlocation/customlocations/dev6-1013a8b273c4-cstm-loc",
          "type": "CustomLocation"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "aadConfiguration": {
            "adminGroupObjectIds": [
              "3d4c8620-ac8c-4bd6-9a92-f2b75923ef9f"
            ]
          },
          "administratorConfiguration": {
            "adminUsername": "fakesuser",
            "sshPublicKeys": [
              {
                "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCjxBjt9iSrZqTJOp\u002BLqGLJN/6x5BhbkReh1F9WtKY5I30NMm8NyJpoTef5tRKWJOFenyhHv92Q1CVbjIOfToM1o\u002B0omzruJnWvzNOIqRfktBgpaAvI3NBW8jyP88dU370R79pCcHS258sEsYZu7Pt3bPHWnJynqqpi3e/icJ902gwR0ZCHWkLS\u002BKojn6\u002B60TdxnPBlACi/QDQcXE9BtuEO6O9Owtzd9j9q2WdaQTElZHyrjBudDcv8DGVErOl2yPRD9a2kGF3zE9OFemq75UH4YeXDb0FgUdgxq9vvXWlWSm7banZ681MgdMYksYUDuSfvtrnwQl9LBcxvk\u002BZ3eHCaAcHHQ/S5h/lAG5xbGaeE6A9woTMKrnqzXvL/XCg02gM01smgUxO7aIIcMquPaTJBc8rSd4wSihg1iRY93OAMVvj4U8ZqLwIt03Z8aIhrVvAmzkmlZ9YwvSXYBDg0KdMNKG4zrnRqWP7ge7ayb\u002BhPxN6UZ0E7Z3VoVw\u002B2R2NxjHE= fakesuser@fakehost"
              }
            ]
          },
          "controlPlaneNodeConfiguration": {
            "administratorConfiguration": {
              "adminUsername": "fakesuser",
              "sshPublicKeys": [
                {
                  "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCjxBjt9iSrZqTJOp\u002BLqGLJN/6x5BhbkReh1F9WtKY5I30NMm8NyJpoTef5tRKWJOFenyhHv92Q1CVbjIOfToM1o\u002B0omzruJnWvzNOIqRfktBgpaAvI3NBW8jyP88dU370R79pCcHS258sEsYZu7Pt3bPHWnJynqqpi3e/icJ902gwR0ZCHWkLS\u002BKojn6\u002B60TdxnPBlACi/QDQcXE9BtuEO6O9Owtzd9j9q2WdaQTElZHyrjBudDcv8DGVErOl2yPRD9a2kGF3zE9OFemq75UH4YeXDb0FgUdgxq9vvXWlWSm7banZ681MgdMYksYUDuSfvtrnwQl9LBcxvk\u002BZ3eHCaAcHHQ/S5h/lAG5xbGaeE6A9woTMKrnqzXvL/XCg02gM01smgUxO7aIIcMquPaTJBc8rSd4wSihg1iRY93OAMVvj4U8ZqLwIt03Z8aIhrVvAmzkmlZ9YwvSXYBDg0KdMNKG4zrnRqWP7ge7ayb\u002BhPxN6UZ0E7Z3VoVw\u002B2R2NxjHE= fakesuser@fakehost"
                }
              ]
            },
            "count": 1,
            "vmSkuName": "NC_G4_v1"
          },
          "initialAgentPoolConfigurations": [
            {
              "agentOptions": {
                "hugepagesCount": 4,
                "hugepagesSize": "1G"
              },
              "count": 1,
              "mode": "System",
              "name": "agentPoolConfig",
              "upgradeSettings": {
                "maxSurge": "1"
              },
              "vmSkuName": "NC_G4_v1"
            }
          ],
          "kubernetesVersion": "1.24.9",
          "managedResourceGroupConfiguration": {
            "location": "eastus",
            "name": "kubernetesCluster785-MRG"
          },
          "networkConfiguration": {
            "bgpServiceLoadBalancerConfiguration": {
              "bgpAdvertisements": [
                {
                  "advertiseToFabric": "True",
                  "communities": [
                    "64512:100"
                  ],
                  "ipAddressPools": [
                    "pool1"
                  ],
                  "peers": [
                    "peer1"
                  ]
                }
              ],
              "fabricPeeringEnabled": "True",
              "ipAddressPools": [
                {
                  "addresses": [
                    "198.51.102.0/24"
                  ],
                  "autoAssign": "True",
                  "name": "pool1",
                  "onlyUseHostIps": "True"
                }
              ]
            },
            "cloudServicesNetworkId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6-cluster/providers/Microsoft.NetworkCloud/cloudServicesNetworks/pipelinecsn",
            "cniNetworkId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6-cluster/providers/Microsoft.NetworkCloud/l3Networks/l3network-729",
            "dnsServiceIp": "10.96.0.10",
            "podCidrs": [
              "10.244.0.0/16"
            ],
            "serviceCidrs": [
              "10.96.0.0/16"
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/0b11b463-5feb-4c12-accd-8c1710a01762*FE068027C568CB44CE85967CC299801D4E20804A27A9FA03050B87E2EE2FC593?api-version=2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223b00b57e-0000-0100-0000-6499cb790000\u0022",
        "mise-correlation-id": "69d6b8af-acb4-4bc4-881d-f1e45024e782",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6-cluster/providers/Microsoft.NetworkCloud/kubernetesClusters/kubernetesCluster785",
        "name": "kubernetesCluster785",
        "type": "microsoft.networkcloud/kubernetesclusters",
        "location": "eastus",
        "extendedLocation": {
          "name": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/dev6-1013a8b273c4-hostedresources-69088feb/providers/microsoft.extendedlocation/customlocations/dev6-1013a8b273c4-cstm-loc",
          "type": "CustomLocation"
        },
        "tags": {},
        "systemData": {
          "createdBy": "Sanitizied",
          "createdByType": "User",
          "createdAt": "2023-06-26T17:31:37.3428667Z",
          "lastModifiedBy": "Sanitizied",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2023-06-26T17:31:37.3428667Z"
        },
        "properties": {
          "aadConfiguration": {
            "adminGroupObjectIds": [
              "3d4c8620-ac8c-4bd6-9a92-f2b75923ef9f"
            ]
          },
          "administratorConfiguration": {
            "adminUsername": "fakesuser",
            "sshPublicKeys": [
              {
                "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCjxBjt9iSrZqTJOp\u002BLqGLJN/6x5BhbkReh1F9WtKY5I30NMm8NyJpoTef5tRKWJOFenyhHv92Q1CVbjIOf[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/0b11b463-5feb-4c12-accd-8c1710a01762*FE068027C568CB44CE85967CC299801D4E20804A27A9FA03050B87E2EE2FC593?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228200236a-0000-0100-0000-6499cb790000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11931"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/0b11b463-5feb-4c12-accd-8c1710a01762*FE068027C568CB44CE85967CC299801D4E20804A27A9FA03050B87E2EE2FC593",
        "name": "0b11b463-5feb-4c12-accd-8c1710a01762*FE068027C568CB44CE85967CC299801D4E20804A27A9FA03050B87E2EE2FC593",
        "resourceId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6-cluster/providers/Microsoft.NetworkCloud/kubernetesClusters/kubernetesCluster785",
        "status": "Accepted",
        "startTime": "2023-06-26T17:31:37.4090876Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6-cluster/providers/Microsoft.NetworkCloud/kubernetesClusters/kubernetesCluster785?api-version=2023-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "patch"
        },
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/5d94e64b-01ee-4c4b-9402-efd5d51d4fc6*FE068027C568CB44CE85967CC299801D4E20804A27A9FA03050B87E2EE2FC593?api-version=2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223b00b28a-0000-0100-0000-6499ce5e0000\u0022",
        "Location": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/5d94e64b-01ee-4c4b-9402-efd5d51d4fc6*FE068027C568CB44CE85967CC299801D4E20804A27A9FA03050B87E2EE2FC593?api-version=2023-05-01-preview",
        "mise-correlation-id": "da660536-3ba8-41c5-81de-a1c61999da8a",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/5d94e64b-01ee-4c4b-9402-efd5d51d4fc6*FE068027C568CB44CE85967CC299801D4E20804A27A9FA03050B87E2EE2FC593?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228200b2a5-0000-0100-0000-6499ce6a0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11892"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/5d94e64b-01ee-4c4b-9402-efd5d51d4fc6*FE068027C568CB44CE85967CC299801D4E20804A27A9FA03050B87E2EE2FC593",
        "name": "5d94e64b-01ee-4c4b-9402-efd5d51d4fc6*FE068027C568CB44CE85967CC299801D4E20804A27A9FA03050B87E2EE2FC593",
        "resourceId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6-cluster/providers/Microsoft.NetworkCloud/kubernetesClusters/kubernetesCluster785",
        "status": "Succeeded",
        "startTime": "2023-06-26T17:43:58.2227614Z",
        "endTime": "2023-06-26T17:44:10.5122908Z",
        "error": {},
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6-cluster/providers/Microsoft.NetworkCloud/kubernetesClusters?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "ccf7e8fb-cabc-475a-aac4-c51dd0339598",
          "c904a876-57bf-406f-bc10-ccb1123e7ff2",
          "fec93f93-92d3-4c45-8c98-22c54afd27e0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11890"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6-cluster/providers/Microsoft.NetworkCloud/kubernetesClusters/kubernetesCluster785",
            "name": "kubernetesCluster785",
            "type": "microsoft.networkcloud/kubernetesclusters",
            "location": "eastus",
            "extendedLocation": {
              "name": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/dev6-1013a8b273c4-hostedresources-69088feb/p[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/kubernetesClusters?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "50e57d2c-d7bf-4052-841a-3ccfd75c890b",
          "7091269b-b64c-457c-9b4b-c6ffc944a2da",
          "c998b871-03c0-47e7-8740-c7610266424a"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11889"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/k5-cluster-1/providers/Microsoft.NetworkCloud/kubernetesClusters/test-naks-manalva",
            "name": "test-naks-manalva",
            "type": "microsoft.networkcloud/kubernetesclusters",
            "location": "eastus",
            "extendedLocation": {
              "name": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/k5-0907401cb287-hostedresources-27fbcfcb/providers/microsoft.extendedlocation/customlocations/k5-0907401cb287-cstm-loc",
              "type": "CustomLocation"
            },
            "tags": {
              "ManagedBy": "nc-labs",
              "LabEnvironment": "k5",
              "ResourceType": "ncaks"
            },
            "systemData": {
              "createdBy": "Sanitizied",
              "createdByType": "User",
              "createdAt": "2023-05-11T17:31:20.7590147Z",
              "lastModifiedBy": "319f651f-7ddb-4fc6-9857-7aef9250bd05",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-05-12T06:07:18.3749877Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "aadConfiguration"[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/51ba3178-0ae1-45a0-9b5c-f4ff8bcdf888*FE068027C568CB44CE85967CC299801D4E20804A27A9FA03050B87E2EE2FC593?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002282004bcd-0000-0100-0000-6499d0d40000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11863"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/51ba3178-0ae1-45a0-9b5c-f4ff8bcdf888*FE068027C568CB44CE85967CC299801D4E20804A27A9FA03050B87E2EE2FC593",
        "name": "51ba3178-0ae1-45a0-9b5c-f4ff8bcdf888*FE068027C568CB44CE85967CC299801D4E20804A27A9FA03050B87E2EE2FC593",
        "resourceId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6-cluster/providers/Microsoft.NetworkCloud/kubernetesClusters/kubernetesCluster785",
        "status": "Succeeded",
        "startTime": "2023-06-26T17:44:18.3969338Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "CLOUD_SERVICES_NETWORK_ID": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6-cluster/providers/Microsoft.NetworkCloud/cloudServicesNetworks/pipelinecsn",
    "CLUSTER_EXTENDED_LOCATION": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/dev6-1013a8b273c4-hostedresources-69088feb/providers/microsoft.extendedlocation/customlocations/dev6-1013a8b273c4-cstm-loc",
    "L3_ISOLATION_DOMAIN_ID": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6-cluster/providers/Microsoft.NetworkCloud/l3Networks/l3network-729",
    "LOCATION": "eastus",
    "RandomSeed": "296036965",
    "RESOURCE_GROUP": "dev6-cluster",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "fca2e8ee-1179-48b8-9532-428ed0873a2e"
  }
}
