{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/networkcloud-sdk6584?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk6584",
        "name": "networkcloud-sdk6584",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6-cluster/providers/Microsoft.NetworkCloud/kubernetesClusters/kubernetesClusterTest?api-version=2023-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "extendedLocation": {
          "name": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/dev6-1013a8b273c4-hostedresources-69088feb/providers/microsoft.extendedlocation/customlocations/dev6-1013a8b273c4-cstm-loc",
          "type": "CustomLocation"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "aadConfiguration": {
            "adminGroupObjectIds": [
              "3d4c8620-ac8c-4bd6-9a92-f2b75923ef9f"
            ]
          },
          "administratorConfiguration": {
            "adminUsername": "azureuser",
            "sshPublicKeys": [
              {
                "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCjxBjt9iSrZqTJOp\u002BLqGLJN/6x5BhbkReh1F9WtKY5I30NMm8NyJpoTef5tRKWJOFenyhHv92Q1CVbjIOfToM1o\u002B0omzruJnWvzNOIqRfktBgpaAvI3NBW8jyP88dU370R79pCcHS258sEsYZu7Pt3bPHWnJynqqpi3e/icJ902gwR0ZCHWkLS\u002BKojn6\u002B60TdxnPBlACi/QDQcXE9BtuEO6O9Owtzd9j9q2WdaQTElZHyrjBudDcv8DGVErOl2yPRD9a2kGF3zE9OFemq75UH4YeXDb0FgUdgxq9vvXWlWSm7banZ681MgdMYksYUDuSfvtrnwQl9LBcxvk\u002BZ3eHCaAcHHQ/S5h/lAG5xbGaeE6A9woTMKrnqzXvL/XCg02gM01smgUxO7aIIcMquPaTJBc8rSd4wSihg1iRY93OAMVvj4U8ZqLwIt03Z8aIhrVvAmzkmlZ9YwvSXYBDg0KdMNKG4zrnRqWP7ge7ayb\u002BhPxN6UZ0E7Z3VoVw\u002B2R2NxjHE= azureuser@B37-VNET-DEP1"
              }
            ]
          },
          "controlPlaneNodeConfiguration": {
            "administratorConfiguration": {
              "adminUsername": "azureuser",
              "sshPublicKeys": [
                {
                  "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCjxBjt9iSrZqTJOp\u002BLqGLJN/6x5BhbkReh1F9WtKY5I30NMm8NyJpoTef5tRKWJOFenyhHv92Q1CVbjIOfToM1o\u002B0omzruJnWvzNOIqRfktBgpaAvI3NBW8jyP88dU370R79pCcHS258sEsYZu7Pt3bPHWnJynqqpi3e/icJ902gwR0ZCHWkLS\u002BKojn6\u002B60TdxnPBlACi/QDQcXE9BtuEO6O9Owtzd9j9q2WdaQTElZHyrjBudDcv8DGVErOl2yPRD9a2kGF3zE9OFemq75UH4YeXDb0FgUdgxq9vvXWlWSm7banZ681MgdMYksYUDuSfvtrnwQl9LBcxvk\u002BZ3eHCaAcHHQ/S5h/lAG5xbGaeE6A9woTMKrnqzXvL/XCg02gM01smgUxO7aIIcMquPaTJBc8rSd4wSihg1iRY93OAMVvj4U8ZqLwIt03Z8aIhrVvAmzkmlZ9YwvSXYBDg0KdMNKG4zrnRqWP7ge7ayb\u002BhPxN6UZ0E7Z3VoVw\u002B2R2NxjHE= azureuser@B37-VNET-DEP1"
                }
              ]
            },
            "count": 1,
            "vmSkuName": "NC_G4_v1"
          },
          "initialAgentPoolConfigurations": [
            {
              "agentOptions": {
                "hugepagesCount": 4,
                "hugepagesSize": "1G"
              },
              "count": 1,
              "mode": "System",
              "name": "agentPoolConfig",
              "upgradeSettings": {
                "maxSurge": "1"
              },
              "vmSkuName": "NC_G4_v1"
            }
          ],
          "kubernetesVersion": "1.24.9",
          "managedResourceGroupConfiguration": {
            "location": "eastus",
            "name": "kubernetesClusterTest-MRG"
          },
          "networkConfiguration": {
            "bgpServiceLoadBalancerConfiguration": {
              "bgpAdvertisements": [
                {
                  "advertiseToFabric": "True",
                  "communities": [
                    "64512:100"
                  ],
                  "ipAddressPools": [
                    "pool1"
                  ],
                  "peers": [
                    "peer1"
                  ]
                }
              ],
              "fabricPeeringEnabled": "True",
              "ipAddressPools": [
                {
                  "addresses": [
                    "198.51.102.0/24"
                  ],
                  "autoAssign": "True",
                  "name": "pool1",
                  "onlyUseHostIps": "True"
                }
              ]
            },
            "cloudServicesNetworkId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6-cluster/providers/Microsoft.NetworkCloud/cloudServicesNetworks/pipelinecsn",
            "cniNetworkId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6-cluster/providers/Microsoft.NetworkCloud/l3Networks/l3network-729",
            "dnsServiceIp": "10.96.0.10",
            "podCidrs": [
              "10.244.0.0/16"
            ],
            "serviceCidrs": [
              "10.96.0.0/16"
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/7846ddfd-dd58-48b3-935d-7339461f2b8b*43904E7E1D033CA1E9E9F0F3D31431137F69F3C3E633266B69DD359F81DF9BD5?api-version=2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002238004f1b-0000-0100-0000-64998ea30000\u0022",
        "mise-correlation-id": "e32f2933-712d-4ec7-94d6-51d7eeecda13",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6-cluster/providers/Microsoft.NetworkCloud/kubernetesClusters/kubernetesClusterTest",
        "name": "kubernetesClusterTest",
        "type": "microsoft.networkcloud/kubernetesclusters",
        "location": "eastus",
        "extendedLocation": {
          "name": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/dev6-1013a8b273c4-hostedresources-69088feb/providers/microsoft.extendedlocation/customlocations/dev6-1013a8b273c4-cstm-loc",
          "type": "CustomLocation"
        },
        "tags": {},
        "systemData": {
          "createdBy": "jmalcomb@microsoft.com",
          "createdByType": "User",
          "createdAt": "2023-06-26T13:12:02.9957591Z",
          "lastModifiedBy": "jmalcomb@microsoft.com",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2023-06-26T13:12:02.9957591Z"
        },
        "properties": {
          "aadConfiguration": {
            "adminGroupObjectIds": [
              "3d4c8620-ac8c-4bd6-9a92-f2b75923ef9f"
            ]
          },
          "administratorConfiguration": {
            "adminUsername": "azureuser",
            "sshPublicKeys": [
              {
                "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCjxBjt9iSrZqTJOp\u002BLqGLJN/6x5BhbkReh1F9WtKY5I30NMm8NyJpoTef5tRKWJOFenyhHv92Q1CVbjIOf[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/7846ddfd-dd58-48b3-935d-7339461f2b8b*43904E7E1D033CA1E9E9F0F3D31431137F69F3C3E633266B69DD359F81DF9BD5?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227d0064a9-0000-0100-0000-64998ea30000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11927"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/7846ddfd-dd58-48b3-935d-7339461f2b8b*43904E7E1D033CA1E9E9F0F3D31431137F69F3C3E633266B69DD359F81DF9BD5",
        "name": "7846ddfd-dd58-48b3-935d-7339461f2b8b*43904E7E1D033CA1E9E9F0F3D31431137F69F3C3E633266B69DD359F81DF9BD5",
        "resourceId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6-cluster/providers/Microsoft.NetworkCloud/kubernetesClusters/kubernetesClusterTest",
        "status": "Accepted",
        "startTime": "2023-06-26T13:12:03.4186079Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6-cluster/providers/Microsoft.NetworkCloud/kubernetesClusters/kubernetesClusterTest?api-version=2023-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "patch"
        },
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/dad941bf-46ac-48be-be07-a96d138ebca5*43904E7E1D033CA1E9E9F0F3D31431137F69F3C3E633266B69DD359F81DF9BD5?api-version=2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223800e853-0000-0100-0000-649991840000\u0022",
        "Location": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/dad941bf-46ac-48be-be07-a96d138ebca5*43904E7E1D033CA1E9E9F0F3D31431137F69F3C3E633266B69DD359F81DF9BD5?api-version=2023-05-01-preview",
        "mise-correlation-id": "dda7f8e1-e983-41bb-9766-c40f0c214ce1",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/dad941bf-46ac-48be-be07-a96d138ebca5*43904E7E1D033CA1E9E9F0F3D31431137F69F3C3E633266B69DD359F81DF9BD5?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227d00fbf6-0000-0100-0000-6499919a0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11983"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/dad941bf-46ac-48be-be07-a96d138ebca5*43904E7E1D033CA1E9E9F0F3D31431137F69F3C3E633266B69DD359F81DF9BD5",
        "name": "dad941bf-46ac-48be-be07-a96d138ebca5*43904E7E1D033CA1E9E9F0F3D31431137F69F3C3E633266B69DD359F81DF9BD5",
        "resourceId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6-cluster/providers/Microsoft.NetworkCloud/kubernetesClusters/kubernetesClusterTest",
        "status": "Succeeded",
        "startTime": "2023-06-26T13:24:19.5996843Z",
        "endTime": "2023-06-26T13:24:42.3511385Z",
        "error": {},
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6-cluster/providers/Microsoft.NetworkCloud/kubernetesClusters?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "0db019ed-3eb3-4456-b97a-95792efdfdb5",
          "90e6c227-10f0-4ebb-8f9a-f160c822bb12",
          "a6627f2a-7f56-41a8-9c50-67a9d7575a37"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11981"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6-cluster/providers/Microsoft.NetworkCloud/kubernetesClusters/kubernetesClusterTest",
            "name": "kubernetesClusterTest",
            "type": "microsoft.networkcloud/kubernetesclusters",
            "location": "eastus",
            "extendedLocation": {
              "name": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/dev6-1013a8b273c4-hostedresources-69088feb[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/kubernetesClusters?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "a87796ef-e9ac-4a67-ad5c-924189357a16",
          "bfc28214-ab92-4b49-8cfd-cbdb17c23b5e",
          "29dd1e56-3f20-4751-b63d-402aac772979"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11980"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/k5-cluster-1/providers/Microsoft.NetworkCloud/kubernetesClusters/test-naks-manalva",
            "name": "test-naks-manalva",
            "type": "microsoft.networkcloud/kubernetesclusters",
            "location": "eastus",
            "extendedLocation": {
              "name": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/k5-0907401cb287-hostedresources-27fbcfcb/providers/microsoft.extendedlocation/customlocations/k5-0907401cb287-cstm-loc",
              "type": "CustomLocation"
            },
            "tags": {
              "ManagedBy": "nc-labs",
              "LabEnvironment": "k5",
              "ResourceType": "ncaks"
            },
            "systemData": {
              "createdBy": "manalva@microsoft.com",
              "createdByType": "User",
              "createdAt": "2023-05-11T17:31:20.7590147Z",
              "lastModifiedBy": "319f651f-7ddb-4fc6-9857-7aef9250bd05",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-05-12T06:07:18.3749877Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "aadCon[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/67835e2f-d406-443b-88f0-9fb0c835a5e0*43904E7E1D033CA1E9E9F0F3D31431137F69F3C3E633266B69DD359F81DF9BD5?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225f00d358-0000-0500-0000-649993530000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/67835e2f-d406-443b-88f0-9fb0c835a5e0*43904E7E1D033CA1E9E9F0F3D31431137F69F3C3E633266B69DD359F81DF9BD5",
        "name": "67835e2f-d406-443b-88f0-9fb0c835a5e0*43904E7E1D033CA1E9E9F0F3D31431137F69F3C3E633266B69DD359F81DF9BD5",
        "resourceId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6-cluster/providers/Microsoft.NetworkCloud/kubernetesClusters/kubernetesClusterTest",
        "status": "Succeeded",
        "startTime": "2023-06-26T13:24:56.2073196Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "CLOUD_SERVICES_NETWORK_ID": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6-cluster/providers/Microsoft.NetworkCloud/cloudServicesNetworks/pipelinecsn",
    "CLUSTER_EXTENDED_LOCATION": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/dev6-1013a8b273c4-hostedresources-69088feb/providers/microsoft.extendedlocation/customlocations/dev6-1013a8b273c4-cstm-loc",
    "L3_ISOLATION_DOMAIN_ID": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6-cluster/providers/Microsoft.NetworkCloud/l3Networks/l3network-729",
    "LOCATION": "eastus",
    "RandomSeed": "40729326",
    "RESOURCE_GROUP": "dev6-cluster",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "fca2e8ee-1179-48b8-9532-428ed0873a2e"
  }
}
