{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-9617?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9617",
        "name": "testRG-9617",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9617/providers/Microsoft.AnalysisServices/servers/analysisservice7446?api-version=2017-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "S1",
          "tier": "Standard"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "asAdministrators": {},
          "backupBlobContainerUri": "https://aassdk1.blob.core.windows.net/azsdktest?dummykey1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.AnalysisServices/locations/eastus/operationstatuses/37CE9F00-A123-4CC3-BA00-8D65B07A599D?api-version=2016-05-16",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.AnalysisServices/locations/eastus/operationresults/37CE9F00-A123-4CC3-BA00-8D65B07A599D?api-version=2016-05-16",
        "x-ms-current-utc-date": "6/16/2023 7:15:42 AM",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Provisioning",
          "state": "Provisioning",
          "serverFullName": "asazure://eastus.asazure.windows.net/analysisservice7446",
          "managedMode": 1,
          "asAdministrators": {},
          "backupBlobContainerUri": "https://aassdk1.blob.core.windows.net/azsdktest",
          "serverMonitorMode": 1
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9617/providers/Microsoft.AnalysisServices/servers/analysisservice7446",
        "name": "analysisservice7446",
        "type": "Microsoft.AnalysisServices/servers",
        "location": "eastus",
        "sku": {
          "name": "S1",
          "tier": "Standard"
        },
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.AnalysisServices/locations/eastus/operationstatuses/37CE9F00-A123-4CC3-BA00-8D65B07A599D?api-version=2017-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-current-utc-date": "6/16/2023 7:15:47 AM",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/locations/eastus/operationstatuses/37CE9F00-A123-4CC3-BA00-8D65B07A599D",
        "name": "37CE9F00-A123-4CC3-BA00-8D65B07A599D",
        "status": "Provisioning",
        "startTime": "2023-06-16T07:15:42.4300000Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.AnalysisServices/locations/eastus/operationstatuses/37CE9F00-A123-4CC3-BA00-8D65B07A599D?api-version=2017-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-current-utc-date": "6/16/2023 7:17:27 AM",
        "x-ms-ratelimit-remaining-subscription-reads": "11979"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/locations/eastus/operationstatuses/37CE9F00-A123-4CC3-BA00-8D65B07A599D",
        "name": "37CE9F00-A123-4CC3-BA00-8D65B07A599D",
        "status": "Succeeded",
        "startTime": "2023-06-16T07:15:42.4300000Z",
        "endTime": "2023-06-16T07:17:13.0200000Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9617/providers/Microsoft.AnalysisServices/servers/analysisservice7446?api-version=2017-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-current-utc-date": "6/16/2023 7:17:27 AM",
        "x-ms-ratelimit-remaining-subscription-reads": "11978"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "state": "Succeeded",
          "serverFullName": "asazure://eastus.asazure.windows.net/analysisservice7446",
          "managedMode": 1,
          "asAdministrators": {
            "members": []
          },
          "backupBlobContainerUri": "https://aassdk1.blob.core.windows.net/azsdktest",
          "querypoolConnectionMode": "All",
          "serverMonitorMode": 1
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9617/providers/Microsoft.AnalysisServices/servers/analysisservice7446",
        "name": "analysisservice7446",
        "type": "Microsoft.AnalysisServices/servers",
        "location": "East US",
        "sku": {
          "name": "S1",
          "tier": "Standard",
          "capacity": 1
        },
        "tags": {}
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9617/providers/Microsoft.AnalysisServices/servers?api-version=2017-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-current-utc-date": "6/16/2023 7:21:12 AM",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "provisioningState": "Succeeded",
              "state": "Succeeded",
              "serverFullName": "asazure://eastus.asazure.windows.net/analysisservice3347",
              "managedMode": 1,
              "asAdministrators": {
                "members": []
              },
              "backupBlobContainerUri": "https://aassdk1.blob.core.windows.net/azsdktest",
              "querypoolConnectionMode": "All",
              "serverMonito[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9617/providers/Microsoft.AnalysisServices/servers/analysisservice74461?api-version=2017-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.AnalysisServices/servers/analysisservice74461\u0027 under resource group \u0027testRG-9617\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.AnalysisServices/locations/eastus/operationstatuses/203D5322-BE5A-449B-972A-E4EF098BD304?api-version=2017-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-current-utc-date": "6/16/2023 7:21:22 AM",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/locations/eastus/operationstatuses/203D5322-BE5A-449B-972A-E4EF098BD304",
        "name": "203D5322-BE5A-449B-972A-E4EF098BD304",
        "status": "Succeeded",
        "startTime": "2023-06-16T07:21:14.9400000Z",
        "endTime": "2023-06-16T07:21:20.5530000Z"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "LOCATION": "EastUS",
    "RandomSeed": "26242058",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
