{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2021-04-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 02 Apr 2022 02:36:04 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-05-01T00:00:00.0000000Z",
        "validUntil": "2022-05-02T00:00:00.0000000Z",
        "participants": {
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_be3a83c1-f5d9-49ee-a427-0e9b917c063e": {},
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_be3a83c1-f5d9-49ee-a427-0e9b917c063f": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99447847882772723",
        "MS-CV": "YKG1vSo4sEuWok7n0DzmQw.0"
      },
      "ResponseBody": {
        "room": {
          "id": "99447847882772723",
          "createdDateTime": "2022-04-02T02:36:05.8071076\u002B00:00",
          "validFrom": "2022-05-01T00:00:00\u002B00:00",
          "validUntil": "2022-05-02T00:00:00\u002B00:00",
          "participants": {
            "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_be3a83c1-f5d9-49ee-a427-0e9b917c063e": {},
            "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_be3a83c1-f5d9-49ee-a427-0e9b917c063f": {}
          }
        }
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99447847882772723?api-version=2021-04-07",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 02 Apr 2022 02:36:05 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-05-01T00:00:00.0000000Z",
        "validUntil": "2022-05-02T00:00:00.0000000Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "f5qWS7T1ZUiHV\u002BvD\u002BBNhLg.0"
      },
      "ResponseBody": {
        "room": {
          "id": "99447847882772723",
          "createdDateTime": "2022-04-02T02:36:05.8071076\u002B00:00",
          "validFrom": "2022-05-01T00:00:00\u002B00:00",
          "validUntil": "2022-05-02T00:00:00\u002B00:00",
          "participants": {
            "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_be3a83c1-f5d9-49ee-a427-0e9b917c063e": {},
            "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_be3a83c1-f5d9-49ee-a427-0e9b917c063f": {}
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99447847882772723?api-version=2021-04-07",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 02 Apr 2022 02:36:06 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "MS-CV": "za/XubrNBk\u002BC7H8Lyu2CAA.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "674991279"
  }
}
