{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 31 Mar 2023 01:24:58 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "BjH7VSiyI0uiBu7k\u002BszvNA.0",
        "X-Processing-Time": "32ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Fri, 31 Mar 2023 01:24:58 GMT",
        "Repeatability-Request-ID": "1e7a8590-094f-4ad1-8789-d44210a9c6d8",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 31 Mar 2023 01:24:58 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "participants": {
          "Sanitized": {},
          "Sanitized": {
            "role": "Presenter"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01, 2023-03-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99478863744914928",
        "MS-CV": "W3bAfBawgUuP8U\u002B84/R19Q.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99478863744914928",
        "createdAt": "2023-03-31T01:24:57.3893032\u002B00:00",
        "validFrom": "2023-03-31T01:24:58.5088342\u002B00:00",
        "validUntil": "2023-04-01T01:24:58.5088342\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-03-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 31 Mar 2023 01:24:58 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01, 2023-03-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "\u002B80C5vyQ70yqDzjQyyvz5g.0"
      },
      "ResponseBody": {
        "id": "99478863744914928",
        "createdAt": "2023-03-31T01:24:57.3893032\u002B00:00",
        "validFrom": "2023-03-31T01:24:58.5088342\u002B00:00",
        "validUntil": "2023-04-30T01:24:58.5088342\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-03-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 31 Mar 2023 01:24:59 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01, 2023-03-31-preview",
        "MS-CV": "DKXmavt8IkOsSYgXXuuuqg.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "2014480719"
  }
}
