{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 05 Jun 2023 21:21:00 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "JmMD\u002BqsdX0euNBaZ7NQ30w.0",
        "X-Processing-Time": "19ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_00000019-2d50-e5f5-a381-0948220023cb"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-06-14",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Mon, 05 Jun 2023 21:21:00 GMT",
        "Repeatability-Request-ID": "34c5b436-1acb-42f8-b4c5-f24aaf435973",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 05 Jun 2023 21:21:00 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "participants": {
          "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_00000019-2d50-e5f5-a381-0948220023cb": {
            "role": "Presenter"
          },
          "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_00000019-2d50-e634-a381-0948220023cc": {
            "role": "Presenter"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07",
        "api-supported-versions": "2022-02-01, 2023-03-31-preview, 2023-06-14",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99484475541588601",
        "MS-CV": "VGqKnOzxoUaaaYGhZMgASg.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99484475541588601",
        "createdAt": "2023-06-05T21:20:59.1523015\u002B00:00",
        "validFrom": "2023-06-05T21:21:00.4044956\u002B00:00",
        "validUntil": "2023-06-06T21:21:00.4044956\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized/participants?api-version=2023-06-14",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 05 Jun 2023 21:21:00 GMT"
      },
      "RequestBody": {
        "participants": {
          "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_00000019-2d50-e634-a381-0948220023cc": {
            "role": "Attendee"
          },
          "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_00000019-2d50-e81c-a381-0948220023cd": {
            "role": "Consumer"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-02-01, 2023-03-31-preview, 2023-06-14",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ReZqLJ1vgE\u002BVDFcCTX9q1w.0"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized/participants?api-version=2023-06-14",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 05 Jun 2023 21:21:01 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-02-01, 2023-03-31-preview, 2023-06-14",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "8gIJ1e8ByU6jBbByTpI4aQ.0"
      },
      "ResponseBody": {
        "value": [
          {
            "rawId": "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_00000019-2d50-e81c-a381-0948220023cd",
            "role": "Consumer"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "846158681"
  }
}
