{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 21 Nov 2022 09:13:09 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "KmCm\u002Bh/LLk\u002Bz1k76GXRMkg.2.0",
        "X-Processing-Time": "43ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-11-21T09:13:10.4173802Z",
        "Repeatability-Request-ID": "d2712f7a-1894-4451-8d29-59d8e8667d6a",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 21 Nov 2022 09:13:10 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "roomJoinPolicy": "InviteOnly"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99473470513922842",
        "MS-CV": "ZlIiFMQ2GkS\u002B/8n2izsxfg.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99473470513922842",
        "createdDateTime": "2022-11-21T09:13:17.3757279\u002B00:00",
        "validFrom": "2022-11-21T09:13:10.4173802\u002B00:00",
        "validUntil": "2022-11-22T09:13:10.4173802\u002B00:00",
        "roomJoinPolicy": "InviteOnly",
        "participants": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-e2e-prod.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "2140105092"
  }
}
