{
  "Entries": [
    {
      "RequestUri": "https://rooms-e2e-prod.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Apr 2022 19:47:11 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "EAd7L2\u002BajU6nNc2nJSbrpA.0",
        "X-Processing-Time": "87ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:42a0ff0c-356d-4487-a288-ad0aad95d504_00000011-16be-9146-290c-113a0d00f33a"
        }
      }
    },
[...]
    {
      "RequestUri": "https://rooms-e2e-prod.communication.azure.com/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-04-29T19:47:11.8225757Z",
        "Repeatability-Request-ID": "c46e126e-a057-4d5b-8670-4541f4c49f4b",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Apr 2022 19:47:11 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-05-01T00:00:00.0000000Z",
        "validUntil": "2022-05-02T00:00:00.0000000Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99492264088099003",
        "MS-CV": "l8DdH6aCMUCEm8e1yVwbDw.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99492264088099003",
        "createdDateTime": "2022-04-29T19:47:12.2727223\u002B00:00",
        "validFrom": "2022-05-01T00:00:00\u002B00:00",
        "validUntil": "2022-05-02T00:00:00\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-e2e-prod.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1258869311"
  }
}
