{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Apr 2023 19:28:04 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "oyCwMPiuAU6lF1UJxsqzZA.0",
        "X-Processing-Time": "17ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-11ab-c444-3400-08bd4560fb42"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Tue, 11 Apr 2023 19:28:04 GMT",
        "Repeatability-Request-ID": "8632e876-61f5-43c2-8993-4dff2aac35ee",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Apr 2023 19:28:04 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01, 2023-03-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99466565271915644",
        "MS-CV": "ujfsq3gTEEKJeXRpWBU\u002BEQ.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99466565271915644",
        "createdAt": "2023-04-11T19:28:04.9556798\u002B00:00",
        "validFrom": "2023-04-11T19:28:04.739623\u002B00:00",
        "validUntil": "2023-04-12T19:28:04.739623\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1873598808"
  }
}
