{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 30 Mar 2023 22:03:11 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ZhGCE7ZUcEehKcQnPkka5Q.0",
        "X-Processing-Time": "20ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Thu, 30 Mar 2023 22:03:11 GMT",
        "Repeatability-Request-ID": "a04d5c59-9ed5-486e-8a37-0994193866f9",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 30 Mar 2023 22:03:11 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01, 2023-03-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99430993039921849",
        "MS-CV": "4arqXwr\u002B1UG/Lx86HD05zA.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99430993039921849",
        "createdAt": "2023-03-30T22:03:10.6836915\u002B00:00",
        "validFrom": "2023-03-30T22:03:11.7212566\u002B00:00",
        "validUntil": "2023-03-31T22:03:11.7212566\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "197181259"
  }
}
