{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 04 Aug 2022 22:27:24 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "kbgXYSLI/0yo9pASb\u002BjeNA.0",
        "X-Processing-Time": "229ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000013-0ada-1ad0-07fd-08482200dffc"
        }
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-08-04T22:27:24.5434487Z",
        "Repeatability-Request-ID": "ba7f84a5-60c0-402f-918b-e52ad870d8b9",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 04 Aug 2022 22:27:24 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "roomJoinPolicy": "InviteOnly"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99437943855560364",
        "MS-CV": "sKNxC29D00y8yM\u002BS\u002Bhacfw.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99437943855560364",
        "createdDateTime": "2022-08-04T22:27:24.7139037\u002B00:00",
        "validFrom": "2022-08-04T22:27:24.5432255\u002B00:00",
        "validUntil": "2022-08-05T22:27:24.5432255\u002B00:00",
        "roomJoinPolicy": "InviteOnly",
        "participants": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1653066501"
  }
}
