{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 31 Mar 2023 17:15:55 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "aLUjB\u002BYq\u002B0ekiEGsgCicLg.0",
        "X-Processing-Time": "19ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000017-d88c-cb85-1788-094822004e72"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Fri, 31 Mar 2023 17:15:55 GMT",
        "Repeatability-Request-ID": "2cba93ee-8e12-437c-ae0c-54cdae2b39d5",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 31 Mar 2023 17:15:55 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01, 2023-03-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99412991183003400",
        "MS-CV": "u7QdCXD4M0yjqH4WzXUe5A.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99412991183003400",
        "createdAt": "2023-03-31T17:15:54.081569\u002B00:00",
        "validFrom": "2023-03-31T17:15:55.2482069\u002B00:00",
        "validUntil": "2023-04-01T17:15:55.2482069\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "364280657"
  }
}
