{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 21 Nov 2022 09:13:10 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "FgLb0XDrR0\u002BRqVVxTQqyWg.2.0",
        "X-Processing-Time": "83ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-11-21T09:13:13.4366123Z",
        "Repeatability-Request-ID": "69dc3087-eef5-46af-8cea-aac435ec5ebd",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 21 Nov 2022 09:13:13 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "roomJoinPolicy": "InviteOnly",
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "Sanitized"
              }
            },
            "role": "Presenter"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "Sanitized"
              }
            },
            "role": "Attendee"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "Sanitized"
              }
            },
            "role": "Attendee"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "Sanitized"
              }
            },
            "role": "Attendee"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99492608034973763",
        "MS-CV": "eAfpNo9pnUqG0xE1cWp0WQ.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99492608034973763",
        "createdDateTime": "2022-11-21T09:13:20.5322466\u002B00:00",
        "validFrom": "2022-11-21T09:13:13.4366123\u002B00:00",
        "validUntil": "2022-11-22T09:13:13.4366123\u002B00:00",
        "roomJoinPolicy": "InviteOnly",
        "participants": [
          {
            "communicationIdentifier": {
              "rawId": "Sanitized",
              "communicationUser": {
                "id": "Sanitized"
              }
            },
            "role": "Presenter"
          },
          {
            "communicationIdentifier": {
              "rawId": "Sanitized",
              "communicationUser": {
                "id": "Sanitized"
              }
            },
            "role": "Attendee"
          },
          {
            "communicationIdentifier": {
              "rawId": "Sanitized",
              "communicationUser": {
                "id": "Sanitized"
              }
            },
            "role": "Attendee"
          },
          {
            "communicationIdentifier": {
              "rawId": "Sanitized",
              "communicationUser": {
                "id": "Sanitized"
              }
            },
            "role": "Attendee"
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized/participants:update?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 21 Nov 2022 09:13:14 GMT"
      },
      "RequestBody": {
        "participants": [
          {
            "communicationIdentifier": {
              "communic[...]
