{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Apr 2023 19:28:05 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "CubVPEvsdkCTygatTlPCuQ.0",
        "X-Processing-Time": "18ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-11ab-c68b-3400-08bd4560fb44"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Tue, 11 Apr 2023 19:28:05 GMT",
        "Repeatability-Request-ID": "ff5abe80-5174-4e2b-85f1-a3cbc256edcf",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Apr 2023 19:28:05 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "participants": {
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-11ab-c68b-3400-08bd4560fb44": {
            "role": "Presenter"
          },
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-11ab-c7c8-3400-08bd4560fb45": {
            "role": "Presenter"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01, 2023-03-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99480208310411408",
        "MS-CV": "pmnR9b0v80iuniyIrHDQvA.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99480208310411408",
        "createdAt": "2023-04-11T19:28:06.1119549\u002B00:00",
        "validFrom": "2023-04-11T19:28:05.7081569\u002B00:00",
        "validUntil": "2023-04-12T19:28:05.7081569\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized/participants?api-version=2023-03-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Apr 2023 19:28:06 GMT"
      },
      "RequestBody": {
        "participants": {
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-11ab-c7c8-3400-08bd4560fb45": {
            "role": "Attendee"
          },
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-11ab-ca56-3400-08bd4560fb46": {
            "role": "Consumer"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-02-01, 2023-03-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "41liVqJeQEaLcogSFstB6Q.0"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized/participants?api-version=2023-03-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Apr 2023 19:28:06 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-02-01, 2023-03-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "z6eUl\u002BUjHEiwv2KfIPjuRQ.0"
      },
      "ResponseBody": {
        "value": [
          {
            "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-11ab-ca56-3400-08bd4560fb46",
            "role": "Consumer"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1335027723"
  }
}
