{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-01-15-preview3, 2020-07-20-preview1, 2020-07-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "zQ6iIgjHsUG2sgFDU9ZReA.0",
        "X-Processing-Time": "343ms"
      },
      "ResponseBody": {
        "id": "Sanitized"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_ENDPOINT_STRING": "https://prototype-communication.communication.azure.com",
    "RandomSeed": "1690082112"
  }
}