{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ry3SbC2WKU\u002BFD5aIyhndUQ.0",
        "X-Processing-Time": "18ms"
      },
      "ResponseBody": {
        "id": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities/sanitized/token?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "HCp63hzGvk2isgV2RUQ61Q.0",
        "X-Processing-Time": "26ms"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "token": "Sanitized",
        "expiresOn": "2021-01-20T17:32:19.8098459\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities/sanitized",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "tokensValidFrom": "2020-01-01T00:00:00.0000000Z"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "MS-CV": "2ABPNtyw6kuHZhVVbBQ60g.0",
        "X-Processing-Time": "12ms"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities/sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "MS-CV": "JWzwTOCuZkWw3/Nk16og\u002BQ.0",
        "X-Processing-Time": "959ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==;",
    "RandomSeed": "1537558793"
  }
}