{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-01-15-generalAvailability, 2020-07-20-preview1, 2020-07-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "5us82Nggw0SWlSEyWFYc9Q.0",
        "X-Processing-Time": "213ms"
      },
      "ResponseBody": {
        "id": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities/sanitized/token?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-01-15-generalAvailability, 2020-07-20-preview1, 2020-07-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "jJq5MrvAKk206VXobW3xMQ.0",
        "X-Processing-Time": "288ms"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "token": "Sanitized",
        "expiresOn": "2020-11-11T18:27:56.4163979\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities/sanitized",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "tokensValidFrom": "2020-01-01T00:00:00.0000000Z"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-01-15-generalAvailability, 2020-07-20-preview1, 2020-07-20-preview2",
        "MS-CV": "vFKWUkTiVEanyWPU\u002BrCa1A.0",
        "X-Processing-Time": "144ms"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities/sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-01-15-generalAvailability, 2020-07-20-preview1, 2020-07-20-preview2",
        "MS-CV": "DZ6vex4PPUaEEOmY0e0Cpg.0",
        "X-Processing-Time": "971ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==;",
    "RandomSeed": "1537558793"
  }
}