{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-01-15-generalAvailability, 2020-07-20-preview1, 2020-07-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "a2ztfIppf0yMb0zYyO03Gg.0",
        "X-Processing-Time": "206ms"
      },
      "ResponseBody": {
        "id": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities/sanitized/token?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-01-15-generalAvailability, 2020-07-20-preview1, 2020-07-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Wvns1yGL3EqTKe2KCYEOCQ.0",
        "X-Processing-Time": "274ms"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "token": "Sanitized",
        "expiresOn": "2020-11-11T23:34:56.918468\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities/sanitized",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "tokensValidFrom": "2020-01-01T00:00:00.0000000Z"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-01-15-generalAvailability, 2020-07-20-preview1, 2020-07-20-preview2",
        "MS-CV": "D\u002Be4SwFnp0qyUaYFOnpIqQ.0",
        "X-Processing-Time": "135ms"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities/sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-01-15-generalAvailability, 2020-07-20-preview1, 2020-07-20-preview2",
        "MS-CV": "VpQegsZ3GketGngqA//uRA.0",
        "X-Processing-Time": "1077ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==;",
    "RandomSeed": "1537558793"
  }
}