{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/mgmt-group-199?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/mgmt-group-199?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/mgmt-group-199?api-version=2021-04-01",
        "Retry-After": "10",
        "x-ba-restapi": "1.0.3.1640",
        "x-ms-ratelimit-remaining-managementgroups-requests": "58",
        "x-ms-ratelimit-remaining-tenant-writes": "1197"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/managementGroups/mgmt-group-199",
        "type": "Microsoft.Management/managementGroups",
        "name": "mgmt-group-199",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/mgmt-group-199?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/mgmt-group-199?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/mgmt-group-199?api-version=2021-04-01",
        "Retry-After": "10",
        "x-ba-restapi": "1.0.3.1640",
        "x-ms-ratelimit-remaining-tenant-reads": "11965"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/mgmt-group-199",
        "name": "mgmt-group-199",
        "status": "NotStarted"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/mgmt-group-199?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ba-restapi": "1.0.3.1640",
        "x-ms-ratelimit-remaining-tenant-reads": "11951"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/mgmt-group-199",
        "name": "mgmt-group-199",
        "status": "Succeeded",
        "properties": {
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "displayName": "mgmt-group-199",
          "details": {
            "version": 1,
            "updatedTime": "2021-10-14T02:43:36.4315234Z",
            "updatedBy": "7b8faa77-f564-4284-9992-813b178ef8e0"
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/mgmt-group-199?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ba-restapi": "1.0.3.1640",
        "x-ms-ratelimit-remaining-tenant-reads": "11950"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/managementGroups/mgmt-group-199",
        "type": "Microsoft.Management/managementGroups",
        "name": "mgmt-group-199",
        "properties": {
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "displayName": "mgmt-group-199",
          "details": {
            "version": 1,
            "updatedTime": "2021-10-14T02:43:36.4315234Z",
            "updatedBy": "7b8faa77-f564-4284-9992-813b178ef8e0",
            "parent": {
              "id": "/providers/Microsoft.Management/managementGroups/72f988bf-86f1-41af-91ab-2d7cd011db47",
              "name": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "displayName": "72f988bf-86f1-41af-91ab-2d7cd011db47"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/mgmt-group-199?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Management/operationResults/delete/asyncOperation/status/managementGroups/mgmt-group-199?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/providers/Microsoft.Management/operationResults/delete/managementGroups/mgmt-group-199?api-version=2021-04-01",
        "Retry-After": "10",
        "x-ba-restapi": "1.0.3.1640",
        "x-ms-ratelimit-remaining-managementgroups-requests": "59",
        "x-ms-ratelimit-remaining-tenant-deletes": "14998"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/managementGroups/mgmt-group-199",
        "type": "Microsoft.Management/managementGroups",
        "name": "mgmt-group-199",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/operationResults/delete/asyncOperation/status/managementGroups/mgmt-group-199?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Management/operationResults/delete/asyncOperation/status/managementGroups/mgmt-group-199?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/providers/Microsoft.Management/operationResults/delete/managementGroups/mgmt-group-199?api-version=2021-04-01",
        "Retry-After": "10",
        "x-ba-restapi": "1.0.3.1640",
        "x-ms-ratelimit-remaining-tenant-reads": "11949"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/operationResults/delete/asyncOperation/status/managementGroups/mgmt-group-199",
        "name": "mgmt-group-199",
        "status": "NotStarted"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/mgmt-group-199?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ba-restapi": "1.0.3.1640",
        "x-ms-ratelimit-remaining-tenant-reads": "11944"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "\u0027/providers/Microsoft.Management/managementGroups/mgmt-group-199\u0027 not found",
          "details": null
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "790070772",
    "RESOURCE_MANAGER_URL": "https://management.azure.com",
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}