{
  "Entries": [
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourcegroups/sqlcrudtest-6662?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Europe\",\r\n  \"tags\": {\r\n    \"sqlcrudtest-6662\": \"2018-03-27 21:30:05Z\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/sqlcrudtest-6662\",\r\n  \"name\": \"sqlcrudtest-6662\",\r\n  \"location\": \"westeurope\",\r\n  \"tags\": {\r\n    \"sqlcrudtest-6662\": \"2018-03-27 21:30:05Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/sqlcrudtest-6662/providers/Microsoft.Sql/servers/sqlcrudtest-9594?api-version=2015-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"dummylogin\",\r\n    \"administratorLoginPassword\": \"Un53cuRE!\",\r\n    \"version\": \"12.0\"\r\n  },\r\n  \"tags\": {},\r\n  \"location\": \"West Europe\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2018-03-27T21:30:13.36Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/sqlcrudtest-6662/providers/Microsoft.Sql/locations/westeurope/serverOperationResults/209204d9-531c-4ed0-8e41-d2b2e05d7807?api-version=2015-05-01-preview"
        ],
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/sqlcrudtest-6662/providers/Microsoft.Sql/locations/westeurope/serverAzureAsyncOperation/209204d9-531c-4ed0-8e41-d2b2e05d7807?api-version=2015-05-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/sqlcrudtest-6662/providers/Microsoft.Sql/locations/westeurope/serverAzureAsyncOperation/209204d9-531c-4ed0-8e41-d2b2e05d7807?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"209204d9-531c-4ed0-8e41-d2b2e05d7807\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2018-03-27T21:30:13.36Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "20"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14998"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/sqlcrudtest-6662/providers/Microsoft.Sql/servers/sqlcrudtest-9594?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"dummylogin\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"sqlcrudtest-9594.database.windows.net\"\r\n  },\r\n  \"location\": \"westeurope\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/sqlcrudtest-6662/providers/Microsoft.Sql/servers/sqlcrudtest-9594\",\r\n  \"name\": \"sqlcrudtest-9594\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14995"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/providers/Microsoft.Sql/checkNameAvailability?api-version=2014-04-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"sqlcrudtest-9594\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"sqlcrudtest-9594\",\r\n  \"available\": false,\r\n  \"reason\": \"AlreadyExists\",\r\n  \"message\": \"Specified server name is already used\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Preference-Applied": [
          "return-content"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourcegroups/sqlcrudtest-6662?api-version=2017-05-10",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TUUxDUlVEVEVTVDoyRDY2NjItV0VTVEVVUk9QRSIsImpvYkxvY2F0aW9uIjoid2VzdGV1cm9wZSJ9?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 202
    }
  ],
  "Names": {
    "CreateResourceGroup": [
      "sqlcrudtest-6662"
    ],
    "CreateServer": [
      "sqlcrudtest-9594"
    ]
  },
  "Variables": {
    "SubscriptionId": "df7c055c-6310-4374-9852-10ef71ce5f85",
    "DefaultLocation": "West Europe"
  }
}