{
  "Entries": [
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/query-knowledgebases/projects/TestProject1385284102?api-version=2021-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "description": "This is the description for a test project",
        "language": "en",
        "multilingualResource": false,
        "settings": {
          "defaultAnswer": "No answer found for your question."
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "projectName": "TestProject1385284102",
        "description": "This is the description for a test project",
        "language": "en",
        "multilingualResource": false,
        "createdDateTime": "2022-09-22T00:03:58Z",
        "lastModifiedDateTime": "2022-09-22T00:03:58Z",
        "settings": {
          "defaultAnswer": "No answer found for your question."
        }
      }
    },
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/query-knowledgebases/projects/TestProject1385284102/:export?api-version=2021-10-01\u0026format=json",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://languagesdkresource.cognitiveservices.azure.com:443/language/query-knowledgebases/projects/TestProject1385284102/export/jobs/cac3864a-b8f5-4c3a-9440-1251b7e1391e?api-version=2021-10-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/query-knowledgebases/projects/TestProject1385284102/export/jobs/cac3864a-b8f5-4c3a-9440-1251b7e1391e?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "30"
      },
      "ResponseBody": {
        "createdDateTime": "2022-09-22T00:03:59\u002B00:00",
        "expirationDateTime": "2022-09-22T06:03:59\u002B00:00",
        "jobId": "cac3864a-b8f5-4c3a-9440-1251b7e1391e",
        "lastUpdatedDateTime": "2022-09-22T00:03:59\u002B00:00",
        "status": "notStarted"
      }
    },
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/query-knowledgebases/projects/TestProject1385284102/export/jobs/cac3864a-b8f5-4c3a-9440-1251b7e1391e?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "createdDateTime": "2022-09-22T00:03:59\u002B00:00",
        "expirationDateTime": "2022-09-22T06:03:59\u002B00:00",
        "jobId": "cac3864a-b8f5-4c3a-9440-1251b7e1391e",
        "lastUpdatedDateTime": "2022-09-22T00:04:02\u002B00:00",
        "status": "succeeded",
        "resultUrl": "https://languagesdkresource.cognitiveservices.azure.com:443/language/query-knowledgebases/projects/TestProject1385284102/export/jobs/cac3864a-b8f5-4c3a-9440-1251b7e1391e/result?api-version=2021-10-01"
      }
    }
  ],
  "Variables": {
    "QUESTIONANSWERING_ENDPOINT": "https://languagesdkresource.cognitiveservices.azure.com/",
    "QUESTIONANSWERING_KEY": "Sanitized",
    "RandomSeed": "631143662"
  }
}
