{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/hierarchies/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "put": [
          {
            "id": "1606039739",
            "name": "hierarchycJChlnco",
            "source": {
              "instanceFieldNames": [
                "hierarchySource0QcyzO9S"
              ]
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "put": [
          {
            "hierarchy": {
              "id": "1606039739",
              "name": "hierarchycJChlnco",
              "source": {
                "instanceFieldNames": [
                  "hierarchySource0QcyzO9S"
                ]
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/hierarchies/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "get": {
          "names": [
            "hierarchycJChlnco"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "get": [
          {
            "hierarchy": {
              "id": "1606039739",
              "name": "hierarchycJChlnco",
              "source": {
                "instanceFieldNames": [
                  "hierarchySource0QcyzO9S"
                ]
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/hierarchies/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "get": {
          "hierarchyIds": [
            "1606039739"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "get": [
          {
            "hierarchy": {
              "id": "1606039739",
              "name": "hierarchycJChlnco",
              "source": {
                "instanceFieldNames": [
                  "hierarchySource0QcyzO9S",
                  "hierarchySourceHzpeJgc9"
                ]
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/hierarchies?api-version=2020-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "hierarchies": [
          {
            "id": "a2d2756c-47a5-4f53-9521-8ce7c4788c03",
            "name": "Smart Building Hierarchy",
            "source": {
              "instanceFieldNames": [
                "Country",
                "Building",
                "Floor",
                "Room"
              ]
            }
          },
          {
            "id": "2654ad60-40f8-43a3-90cf-c53e7b3e6f17",
            "name": "ddasdads",
            "source": {
              "instanceFieldNames": [
       [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/hierarchies/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "delete": {
          "names": [
            "hierarchycJChlnco",
            "hierarchyifwSzRJc"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "delete": [
          null,
          null
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "873496646",
    "TIMESERIESINSIGHTS_URL": "fakeHost.api.wus2.timeseriesinsights.azure.com"
  }
}