{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-c3889dc6-3b18-d970-a203-70203a730555?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:13 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1F3150865\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:54:13 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-c3889dc6-3b18-d970-a203-70203a730555/test-blob-39f81a5d-a759-a37f-c1c1-00cd444d6922?comp=block\u0026blockid=dGVzdC1ibG9jay0yY2YxYWZkMS04NTRhLWJlYjUtZmJiOS1lYjgyNDBlNDA4MWI%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:13 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "foFmM5HwDq/L5c[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-c3889dc6-3b18-d970-a203-70203a730555/test-blob-39f81a5d-a759-a37f-c1c1-00cd444d6922?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-cache-control": "swwwisvctnqlrqvkxthr",
        "x-ms-blob-content-disposition": "vgoeyapjatbvgreslnso",
        "x-ms-blob-content-encoding": "qthorpvbmqwiujamiswi",
        "x-ms-blob-content-language": "dmcylufyldxkbsbbxylj",
        "x-ms-blob-content-md5": "/j4gNWRibS69H2UT/SWZ6w==",
        "x-ms-blob-content-type": "doviwsawrrjspjkdqhcw",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:13 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": [
        "\u003cBlockList\u003e\r\n",
        "  \u003cUncommitted\u003edGVzdC1ibG9jay0yY2YxYWZkMS04NTRhLWJlYjUtZmJiOS1lYjgyNDBlNDA4MWI=\u003c/Uncommitted\u003e\r\n",
        "\u003c/BlockList\u003e"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "oM6E52T7N5GCGPnrQPyxEg==",
        "ETag": "\u00220x8D706F1F31A98D9\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:54:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-c3889dc6-3b18-d970-a203-70203a730555/test-blob-39f81a5d-a759-a37f-c1c1-00cd444d6922",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:13 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "vgoeyapjatbvgreslnso",
        "Content-Language": "dmcylufyldxkbsbbxylj",
        "Content-MD5": "/j4gNWRibS69H2UT/SWZ6w==",
        "Content-Type": "doviwsawrrjspjkdqhcw",
        "ETag": "\u00220x8D706F1F31A98D9\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:54:13 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 12 Jul 2019 17:54:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-c3889dc6-3b18-d970-a203-70203a730555?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:13 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-07-12T10:54:13.1453278-07:00",
    "RandomSeed": "969608423",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}