{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-4b5337f0-b08b-b691-b36b-8eb7bdf0c1c1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:52:24 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D760E3E54B2A\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:52:23 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-4b5337f0-b08b-b691-b36b-8eb7bdf0c1c1/test-blob-84d96bcd-6ac4-e4a7-a4a3-84024937a1c5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:52:25 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "x5nTgceZvYNz8wBUzRriipYujakUHzB5lESDYW5fIVzkeLAzaHBxM65WEdFqUxaJwPlsG6n4sadoWu2CFlsUE9Gjb1VpryIlvFn6vg5fDkAt\u002BaB18waz7McJyg2D7x1SQf3/x\u002BPBHxHXRl5Q/fKZCUusVR27nyDL8IOOYOQUos08qHwRX0ddbNmPnqynYu7Ub8DB1pkAl6HcNNZgM78swqORFFV1iKoDT\u002BlDKwFzI42UufAjUswzOxHbNCtx/DkaYtsIFU2ZXucWvYawvGugaBBJy3nOCG/XXthDmlN\u002BklKvKcklaw4/\u002BlsJDJRFgn\u002BlOssbJzHATFlsMb[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-4b5337f0-b08b-b691-b36b-8eb7bdf0c1c1/test-blob-84d96bcd-6ac4-e4a7-a4a3-84024937a1c5?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:52:25 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "0e3627f2-968b-0cde-ed83-f33ed0da0e71",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D760E48C1888\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:52:24 GMT",
        "x-ms-lease-id": "0e3627f2-968b-0cde-ed83-f33ed0da0e71",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-4b5337f0-b08b-b691-b36b-8eb7bdf0c1c1/test-blob-84d96bcd-6ac4-e4a7-a4a3-84024937a1c5?comp=blocklist\u0026blocklisttype=all",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:52:25 GMT",
        "x-ms-lease-id": "0e3627f2-968b-0cde-ed83-f33ed0da0e71",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8D7D760E48C1888\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:52:24 GMT",
        "x-ms-blob-content-length": "4096",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CBlockList\u003E\u003CCommittedBlocks /\u003E\u003CUncommittedBlocks /\u003E\u003C/BlockList\u003E"
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-4b5337f0-b08b-b691-b36b-8eb7bdf0c1c1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:52:25 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1676311746",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}