{
  "Entries": [
    {
      "RequestUri": "http://kasobolcanarytest.blob.core.windows.net/test-container-c1fd80a3-7950-94e6-c19f-9b4f635aa49e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 09 Sep 2020 20:46:42 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85501755781B8\u0022",
        "Last-Modified": "Wed, 09 Sep 2020 20:46:42 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanarytest.blob.core.windows.net/test-container-c1fd80a3-7950-94e6-c19f-9b4f635aa49e/test-blob-e9727d11-191a-09a8-a12a-417ee0b0759d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 09 Sep 2020 20:46:42 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D85501757D626B\u0022",
        "Last-Modified": "Wed, 09 Sep 2020 20:46:42 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-09-09T20:46:42.7404907Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanarytest.blob.core.windows.net/test-container-c1fd80a3-7950-94e6-c19f-9b4f635aa49e/test-blob-e9727d11-191a-09a8-a12a-417ee0b0759d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 09 Sep 2020 20:46:42 GMT",
        "x-ms-tags": "testkey=testvalue",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D85501758D1DAA\u0022",
        "Last-Modified": "Wed, 09 Sep 2020 20:46:42 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-09-09T20:46:42.8455895Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanarytest.blob.core.windows.net/test-container-c1fd80a3-7950-94e6-c19f-9b4f635aa49e/test-blob-e9727d11-191a-09a8-a12a-417ee0b0759d?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\u00220x8D85501758D1DAA\u0022",
        "x-ms-date": "Wed, 09 Sep 2020 20:46:42 GMT",
        "x-ms-tags": "testkey=testvalue",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u003CBlockList /\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8550175A05C3B\u0022",
        "Last-Modified": "Wed, 09 Sep 2020 20:46:42 GMT",
        "x-ms-content-crc64": "rXPHYIu7A/o=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-09-09T20:46:42.9707083Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanarytest.blob.core.windows.net/test-container-c1fd80a3-7950-94e6-c19f-9b4f635aa49e/test-blob-e9727d11-191a-09a8-a12a-417ee0b0759d?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Sep 2020 20:46:43 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003Etestkey\u003C/Key\u003E\u003CValue\u003Etestvalue\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E"
      ]
    },
    {
      "RequestUri": "http://kasobolcanarytest.blob.core.windows.net/test-container-c1fd80a3-7950-94e6-c19f-9b4f635aa49e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Sep 2020 20:46:43 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "796702351",
    "Storage_TestConfigDefault": "ProductionTenant\nkasobolcanarytest\nU2FuaXRpemVk\nhttp://kasobolcanarytest.blob.core.windows.net\nhttp://kasobolcanarytest.file.core.windows.net\nhttp://kasobolcanarytest.queue.core.windows.net\nhttp://kasobolcanarytest.table.core.windows.net\n\n\n\n\nhttp://kasobolcanarytest-secondary.blob.core.windows.net\nhttp://kasobolcanarytest-secondary.file.core.windows.net\nhttp://kasobolcanarytest-secondary.queue.core.windows.net\nhttp://kasobolcanarytest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://kasobolcanarytest.blob.core.windows.net/;QueueEndpoint=http://kasobolcanarytest.queue.core.windows.net/;FileEndpoint=http://kasobolcanarytest.file.core.windows.net/;BlobSecondaryEndpoint=http://kasobolcanarytest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://kasobolcanarytest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://kasobolcanarytest-secondary.file.core.windows.net/;AccountName=kasobolcanarytest;AccountKey=Kg==;\nencryptionScope"
  }
}