{
  "Entries": [
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-8edff7ff-3535-1931-eab3-fa9b4ff6ce27?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 27 Jul 2020 17:57:20 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D832568352B39C\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 17:57:22 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-8edff7ff-3535-1931-eab3-fa9b4ff6ce27/test-blob-cd326c09-ef7c-fd11-b2d8-36727f240e58",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 27 Jul 2020 17:57:20 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "F8AJGiZDKkbIm0FNEzMvqNTAA55fzr2jI9HYJHU/vZyIlfsXptTPxULsBeCtxOp/qY6dviFv\u002BUgCZfZUawXQiN2kxH43GAEA8D1cc8nd9l7nWXvnof57GJyzFEHdelo9G3wCCP9sR5GMnM7jE4V\u002BJW6XbRGJ6efeKazhgwO/InbiH1dN2u5fexHpWgQwmAQWNe/SRQ1JszGUI99TisOOzHpYAPQuMEqAOPL/oI7irpGny04T7dxomWsluLYPC/BOW46K2JcQ6ASkUQ0aShOjsnVNq791et\u002Bd72eICHiUcSwCsUUAWNX6luJKb5vPTk9YggZAwWAw2eCu7Okvh\u002BCMD\u0[...]
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-8edff7ff-3535-1931-eab3-fa9b4ff6ce27/test-blob-cd326c09-ef7c-fd11-b2d8-36727f240e58",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 27 Jul 2020 17:57:20 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D832568365817E\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 17:57:22 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-07-27T17:57:22.5979022Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-8edff7ff-3535-1931-eab3-fa9b4ff6ce27/test-blob-cd326c09-ef7c-fd11-b2d8-36727f240e58?comp=block\u0026blockid=NGIxOTA3NDMtMGJiNS00Y2ZjLWFkODEtMjQzNTNmYmI2ZGY5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 17:57:20 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "zGg8JsurAi6G01i4JNqHmdWH\u002BFopAEstQM[...]
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-8edff7ff-3535-1931-eab3-fa9b4ff6ce27/test-blob-cd326c09-ef7c-fd11-b2d8-36727f240e58?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\u00220x8D832568365817E\u0022",
        "x-ms-date": "Mon, 27 Jul 2020 17:57:21 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "\u003CBlockList\u003E\u003CLatest\u003ENGIxOTA3NDMtMGJiNS00Y2ZjLWFkODEtMjQzNTNmYmI2ZGY5\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D832568377D462\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 17:57:22 GMT",
        "x-ms-content-crc64": "4\u002Bhpkmw35EM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-07-27T17:57:22.7179890Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-8edff7ff-3535-1931-eab3-fa9b4ff6ce27/test-blob-cd326c09-ef7c-fd11-b2d8-36727f240e58",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 17:57:21 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D832568377D462\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 17:57:22 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 27 Jul 2020 17:57:22 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-07-27T17:57:22.7179890Z"
      },
      "ResponseBody": "zGg8JsurAi6G01i4JNqHmdWH\u002BFopAEstQM2XXVcwPMTNrjY6Guw7BYZAoj/3nsKM00HBBkB4mswdDuX\u002BE6TXVpeU63akTH7oTPLU6F4LNaIKC4kWbzWDVBRqHAwHPfHhaUuoY7JM54fC2LpOpLFuEtlC8wgaweZhEZZhOi9y4A8A8n8SYtLwviMCU5Z6NbBi\u002BwoyxEnpxqdkRlIb6q1XUPerTbExXK8GUjTkGG5Q59zm/j4lPxzFFyzXrRuA1NR1qwKez\u002Bf/MZ9bLHEVBK45FF91NetvMRHb5jWEWa6Thn5fb21rsRf05s2eyhOrrxJ\u002BnZi7Cp7pBXnww\u002[...]
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-8edff7ff-3535-1931-eab3-fa9b4ff6ce27?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 17:57:21 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "35177039",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmccprodca\nU2FuaXRpemVk\nhttps://seanmccprodca.blob.core.windows.net\nhttps://seanmccprodca.file.core.windows.net\nhttps://seanmccprodca.queue.core.windows.net\nhttps://seanmccprodca.table.core.windows.net\n\n\n\n\nhttps://seanmccprodca-secondary.blob.core.windows.net\nhttps://seanmccprodca-secondary.file.core.windows.net\nhttps://seanmccprodca-secondary.queue.core.windows.net\nhttps://seanmccprodca-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmccprodca.blob.core.windows.net/;QueueEndpoint=https://seanmccprodca.queue.core.windows.net/;FileEndpoint=https://seanmccprodca.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmccprodca-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmccprodca-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmccprodca-secondary.file.core.windows.net/;AccountName=seanmccprodca;AccountKey=Kg==;\nseanscope1"
  }
}