{
  "Entries": [
    {
      "RequestUri": "http://kasobolcanarytest.blob.core.windows.net/test-container-7295acdc-8523-3b22-5f61-6f60ff84da52?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 09 Sep 2020 17:32:09 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D854E647F0E2E7\u0022",
        "Last-Modified": "Wed, 09 Sep 2020 17:32:09 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanarytest.blob.core.windows.net/test-container-7295acdc-8523-3b22-5f61-6f60ff84da52/test-blob-7c5508e5-0f97-983b-8439-f46e88a4b62d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 09 Sep 2020 17:32:10 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D854E64814CC84\u0022",
        "Last-Modified": "Wed, 09 Sep 2020 17:32:10 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-09-09T17:32:10.1459076Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://kasobolcanarytest.blob.core.windows.net/test-container-7295acdc-8523-3b22-5f61-6f60ff84da52/test-blob-7c5508e5-0f97-983b-8439-f46e88a4b62d?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\u00220x8D854E648239D26\u0022",
        "x-ms-blob-content-language": "en",
        "x-ms-blob-content-type": "application/json",
        "x-ms-date": "Wed, 09 Sep 2020 17:32:10 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "\u003CBlockList /\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D854E64836DBB2\u0022",
        "Last-Modified": "Wed, 09 Sep 2020 17:32:10 GMT",
        "x-ms-content-crc64": "rXPHYIu7A/o=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-09-09T17:32:10.3701186Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanarytest.blob.core.windows.net/test-container-7295acdc-8523-3b22-5f61-6f60ff84da52/test-blob-7c5508e5-0f97-983b-8439-f46e88a4b62d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Sep 2020 17:32:10 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json",
        "ETag": "\u00220x8D854E64836DBB2\u0022",
        "Last-Modified": "Wed, 09 Sep 2020 17:32:10 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 09 Sep 2020 17:32:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-09-09T17:32:10.3701186Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanarytest.blob.core.windows.net/test-container-7295acdc-8523-3b22-5f61-6f60ff84da52?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Sep 2020 17:32:10 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1019321746",
    "Storage_TestConfigDefault": "ProductionTenant\nkasobolcanarytest\nU2FuaXRpemVk\nhttp://kasobolcanarytest.blob.core.windows.net\nhttp://kasobolcanarytest.file.core.windows.net\nhttp://kasobolcanarytest.queue.core.windows.net\nhttp://kasobolcanarytest.table.core.windows.net\n\n\n\n\nhttp://kasobolcanarytest-secondary.blob.core.windows.net\nhttp://kasobolcanarytest-secondary.file.core.windows.net\nhttp://kasobolcanarytest-secondary.queue.core.windows.net\nhttp://kasobolcanarytest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://kasobolcanarytest.blob.core.windows.net/;QueueEndpoint=http://kasobolcanarytest.queue.core.windows.net/;FileEndpoint=http://kasobolcanarytest.file.core.windows.net/;BlobSecondaryEndpoint=http://kasobolcanarytest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://kasobolcanarytest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://kasobolcanarytest-secondary.file.core.windows.net/;AccountName=kasobolcanarytest;AccountKey=Kg==;\nencryptionScope"
  }
}