{
  "Entries": [
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-7293cf20-9094-1dab-9a18-eadcd3210a74?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 27 Jul 2020 17:57:13 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D832567F367C14\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 17:57:15 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-7293cf20-9094-1dab-9a18-eadcd3210a74/test-blob-05520977-76fe-d77f-3007-0180da3d3e9e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 27 Jul 2020 17:57:14 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D832567F4AF4BB\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 17:57:15 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-07-27T17:57:15.7120187Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-7293cf20-9094-1dab-9a18-eadcd3210a74/test-blob-05520977-76fe-d77f-3007-0180da3d3e9e?comp=block\u0026blockid=OWE5OTMzM2ItYjYyNS00YzM0LWI1NDEtODhkNjc1ODg3NmU1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 17:57:14 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "jGjovQDjKrPueFEkEhqUwu9RUcNHafR\u002Bgh[...]
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-7293cf20-9094-1dab-9a18-eadcd3210a74/test-blob-05520977-76fe-d77f-3007-0180da3d3e9e?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\u00220x8D832567F5704DB\u0022",
        "x-ms-date": "Mon, 27 Jul 2020 17:57:14 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "\u003CBlockList\u003E\u003CLatest\u003EOWE5OTMzM2ItYjYyNS00YzM0LWI1NDEtODhkNjc1ODg3NmU1\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D832567F6E137B\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 17:57:15 GMT",
        "x-ms-content-crc64": "q7FH1f1iR3M=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-07-27T17:57:15.9431819Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-7293cf20-9094-1dab-9a18-eadcd3210a74/test-blob-05520977-76fe-d77f-3007-0180da3d3e9e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 17:57:14 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D832567F6E137B\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 17:57:15 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 27 Jul 2020 17:57:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-07-27T17:57:15.9431819Z"
      },
      "ResponseBody": "jGjovQDjKrPueFEkEhqUwu9RUcNHafR\u002Bgh2xm63IbxKWltjZhVmvS\u002BxC5zF5EJE2QlNiGE\u002BAhiNzajviMY8FJQg\u002BjXxBujyWogbWBILDBHKLellZZVbCFhC1ZhsezBldPcEoOoIU9YcXzHVJqoGgsGXIV7c1q8Cye3dsi1QheNbseMfAmsrwdoTRQpnheWuOFLa1VnRhKJEBdr4LqGkz9VSfXTG64BWb1\u002BAzZGkm0QIL3neeayFhilA1vyQL5c4ank1EQRw50zSgGn6ULsMo2qW8/8rylYkyPdLhhCDxj/ISGMUc4o/m0QpD/VGjzVuMDeV\u002BTuUEKAnDE[...]
[...]
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-42d0ba95-1dee-ed49-f1a9-5a10436dcebe/test-blob-24d41d06-9ed5-f9de-d8e7-2d119c866cf2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Sun, 26 Jul 2020 17:57:13 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 27 Jul 2020 17:57:14 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D832567FC14BA5\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 17:57:16 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-07-27T17:57:16.4885685Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-42d0ba95-1dee-ed49-f1a9-5a10436dcebe/test-blob-24d41d06-9ed5-f9de-d8e7-2d119c866cf2?comp=block\u0026blockid=ODYzYzhmNGItOTVlMi00ZDcyLTk0YTktNjNkMjhiOWI0M2U2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 17:57:14 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "lArX1A5W92wWOg6UtuZZ1CNw1AjKCMaHHyEtdD0[...]
[...]
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-743ee5d5-2a45-be19-a217-80c10ffedf55/test-blob-d10cebd3-104f-d51d-318d-0de5b0bee764",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Tue, 28 Jul 2020 17:57:13 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 27 Jul 2020 17:57:15 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D832568012FCDA\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 17:57:17 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-07-27T17:57:17.0239466Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-743ee5d5-2a45-be19-a217-80c10ffedf55/test-blob-d10cebd3-104f-d51d-318d-0de5b0bee764?comp=block\u0026blockid=ZTlmNjIwY2MtNjc3MS00ZDkzLWIzMWMtODdkODhmMDhlOGMy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 17:57:15 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "NKdcOm2HCGYQ7jQ6YYDgH841JRw3/DJDPJI9lCv[...]
[...]
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-bd05db0d-5271-dec1-b58d-d23260cabb56/test-blob-724c1700-b350-d682-1dd9-a7b1146114d8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 17:57:15 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8325680528255\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 17:57:17 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 27 Jul 2020 17:57:17 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-07-27T17:57:17.4392405Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-bd05db0d-5271-dec1-b58d-d23260cabb56/test-blob-724c1700-b350-d682-1dd9-a7b1146114d8?comp=block\u0026blockid=YmYwZDVlMDUtN2IwNC00ZDk4LWJiMzktMGY3ZmQ3OTVkZWZh",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 17:57:15 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "v3dyn5PRja1vFnOIjyv1BUORYZx4XDVYGMau9Z4[...]
[...]
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-8989cb3a-ac58-9c1a-c478-a3455fcfcfd3/test-blob-a12d8266-45b1-0b80-4d9b-bd768aafd074",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 27 Jul 2020 17:57:16 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D8325680B1F1C7\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 17:57:18 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-07-27T17:57:18.0656855Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-8989cb3a-ac58-9c1a-c478-a3455fcfcfd3/test-blob-a12d8266-45b1-0b80-4d9b-bd768aafd074?comp=block\u0026blockid=YjExNjgwY2QtOGIzMi00ZmE3LWI5ZmQtZWVkNmYwYmQ4ZDk4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 17:57:16 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "hhp5vpFsv8GgN8McykBpO7xcokSqh1INsLNjdce[...]
[...]
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-8989cb3a-ac58-9c1a-c478-a3455fcfcfd3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 17:57:16 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-07-27T12:57:13.3376386-05:00",
    "RandomSeed": "155671513",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmccprodca\nU2FuaXRpemVk\nhttps://seanmccprodca.blob.core.windows.net\nhttps://seanmccprodca.file.core.windows.net\nhttps://seanmccprodca.queue.core.windows.net\nhttps://seanmccprodca.table.core.windows.net\n\n\n\n\nhttps://seanmccprodca-secondary.blob.core.windows.net\nhttps://seanmccprodca-secondary.file.core.windows.net\nhttps://seanmccprodca-secondary.queue.core.windows.net\nhttps://seanmccprodca-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmccprodca.blob.core.windows.net/;QueueEndpoint=https://seanmccprodca.queue.core.windows.net/;FileEndpoint=https://seanmccprodca.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmccprodca-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmccprodca-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmccprodca-secondary.file.core.windows.net/;AccountName=seanmccprodca;AccountKey=Kg==;\nseanscope1"
  }
}