{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3163fdc4-47d0-d3c8-2068-5f1ef6674513?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Aug 2021 22:45:29 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9642C359F596D\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 22:45:29 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3163fdc4-47d0-d3c8-2068-5f1ef6674513/test-blob-e71c70a3-0eb8-c94d-b705-0084e29b041c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Aug 2021 22:45:29 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D9642C35A72BE1\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 22:45:29 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-20T22:45:29.1132668Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3163fdc4-47d0-d3c8-2068-5f1ef6674513/test-blob-e71c70a3-0eb8-c94d-b705-0084e29b041c?comp=block\u0026blockid=dGVzdC1ibG9jay00NjZlOTE0Ni1hMGJlLWNjN2MtZjJjZC1hM2E0MzQyMWY4MTY%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 20 Aug 2021 22:45:29 GMT",
        "x-ms-version": "2020-10-02"
   [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3163fdc4-47d0-d3c8-2068-5f1ef6674513/test-blob-e71c70a3-0eb8-c94d-b705-0084e29b041c?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Fri, 20 Aug 2021 22:45:29 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EdGVzdC1ibG9jay00NjZlOTE0Ni1hMGJlLWNjN2MtZjJjZC1hM2E0MzQyMWY4MTY=\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9642C35B649CF\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 22:45:29 GMT",
        "x-ms-content-crc64": "xXDfJR7jk2c=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-20T22:45:29.2123359Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3163fdc4-47d0-d3c8-2068-5f1ef6674513/test-blob-e71c70a3-0eb8-c94d-b705-0084e29b041c?comp=block\u0026blockid=AAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 20 Aug 2021 22:45:29 GMT",
        "x-ms-version": "2020-10-02"
     [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3163fdc4-47d0-d3c8-2068-5f1ef6674513/test-blob-e71c70a3-0eb8-c94d-b705-0084e29b041c?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\u00220x8D9642C35A72BE1\u0022",
        "x-ms-date": "Fri, 20 Aug 2021 22:45:29 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:97b7fff3-201e-006c-5715-9639c8000000\n",
        "Time:2021-08-20T22:45:29.3101796Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3163fdc4-47d0-d3c8-2068-5f1ef6674513?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 22:45:29 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1437715723",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Kg==;\ntestscope2\n\n"
  }
}