{
  "Entries": [
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-35efcacf-4b13-b88a-1ecc-1ec5f75f6f35?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 17:30:54 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993EF5EF7BAC5\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:30:54 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-35efcacf-4b13-b88a-1ecc-1ec5f75f6f35/test-blob-dd6d8237-fa4b-49b6-0a86-5fab6e46a7fe",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 20 Oct 2021 17:30:54 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "BWRrWIvQUG7/x1fbRevYIsZLDI6x6W9e6IqUXmp3Gae1Qc4rSEkFZzL/3YOj2wQfrTzkIzoYTBv1DXABPPIDh66vJgQcrdp9RqVcsQzruwyGdLAtk/VtnPSzNjrYAytA/FbU87T/AgBiZ92VvJsPCVJje8dB1fS4QYkPaXafpEJ5G7W2F8dYhnKvyysY2OBZoy3odYhk/idhG7Ir8JiKw8OaG6DlWfKLC/VUkgrIoGmotcZIti66FR2OVPsVLJbaJAdofbxAdEo7XWqTEGscmHtIgjrSQQ2U4AaDVwX2dd5eem0DYCKsaEF7DVjEJwWxcbt/zKlbB\u002BP50522vRxFROeLNJX\u002BGThZmx[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-35efcacf-4b13-b88a-1ecc-1ec5f75f6f35/test-blob-dd6d8237-fa4b-49b6-0a86-5fab6e46a7fe",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 20 Oct 2021 17:30:55 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D993EF5F111654\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:30:55 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12",
        "x-ms-version-id": "2021-10-20T17:30:55.1068004Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-35efcacf-4b13-b88a-1ecc-1ec5f75f6f35/test-blob-dd6d8237-fa4b-49b6-0a86-5fab6e46a7fe?comp=block\u0026blockid=AAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 20 Oct 2021 17:30:55 GMT",
        "x-ms-version": "2021-02-12"
   [...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-35efcacf-4b13-b88a-1ecc-1ec5f75f6f35/test-blob-dd6d8237-fa4b-49b6-0a86-5fab6e46a7fe?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\u00220x8D993EF5F111654\u0022",
        "x-ms-date": "Wed, 20 Oct 2021 17:30:55 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993EF5F2A6731\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:30:55 GMT",
        "x-ms-content-crc64": "17m5j6ScWgM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12",
        "x-ms-version-id": "2021-10-20T17:30:55.2727105Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-35efcacf-4b13-b88a-1ecc-1ec5f75f6f35/test-blob-dd6d8237-fa4b-49b6-0a86-5fab6e46a7fe",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:30:55 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993EF5F2A6731\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:30:55 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:30:55 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-02-12",
        "x-ms-version-id": "2021-10-20T17:30:55.2727105Z"
      },
      "ResponseBody": "GSLg1ZflI8Kn2zJGkd\u002B2fUz\u002B6EjZJPZi/Q61adK7lJ0ThuZr18X31W0F\u002BbI0gtcXiXh6L/sqB/QrftiIL7rw60aUMgv4SqWHBxLa1CtELno2nt9ZQWWi6X/yQFntb6WzFA1rn0/LHj/S8ijoTzLI51BdUZHal6rh8kmMBgpMmpdtJ78d2I4qan\u002Bfhk49uZlMKVgJjx0U2H1jiq0GPxg1hliQeyhyqw7BMuYROhBbpDmvQNyxQwp5WU5CuU7hIytmav/2rD1w2X5JR103Ap1sB\u002BVzV/88g0NNFiLaMPG/4A66q9AQZff7PmZeZ/utQlax1bJobcwsKue8qJYblq[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-35efcacf-4b13-b88a-1ecc-1ec5f75f6f35?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:30:55 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "121456812",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttps://amandacanary.blob.core.windows.net\nhttps://amandacanary.file.core.windows.net\nhttps://amandacanary.queue.core.windows.net\nhttps://amandacanary.table.core.windows.net\n\n\n\n\nhttps://amandacanary-secondary.blob.core.windows.net\nhttps://amandacanary-secondary.file.core.windows.net\nhttps://amandacanary-secondary.queue.core.windows.net\nhttps://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandacanary.blob.core.windows.net/;QueueEndpoint=https://amandacanary.queue.core.windows.net/;FileEndpoint=https://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Kg==;\ntestscope2\n\n"
  }
}