{
  "Entries": [
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-7a8ff65a-3415-c6a1-b029-7867e6513963?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 14 Oct 2020 18:34:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8706FD823BCE0\u0022",
        "Last-Modified": "Wed, 14 Oct 2020 18:34:54 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-7a8ff65a-3415-c6a1-b029-7867e6513963/test-blob-833f3b1c-fe3d-6a9e-b2f7-77fac29ba3b3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 14 Oct 2020 18:34:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "EFSZ/c3xmFaTJJ5MSE1LlinAoTibEKiVKZBprFnVLQDVN2Gk2gIaK6Pp8BlgUiFkq\u002BHRAfpqGP\u002BsA9Q9h\u002Bv9vfaddhHsp7wmpXaVsiCONdZuBQB3BCsGah9h\u002BNcu3aS36zIiwtsQeAQlqluE1WXfHc79z4LqhbnLlwzxi67k\u002BMjR3cbubHP7XYz8UlnQgZW5gdsJMA4izWZ4VyrPHuxVQLKSsvee8bFaAnH17jJf\u002BhV2OArT28e5rxBgdRRIKz\u002BgphKnPc\u002BeG48pri6dLN4zGF0UWObigmTr2ALmPXycEtcxVEcguLxG2Bx6qS2ZHIMyLVy3[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-7a8ff65a-3415-c6a1-b029-7867e6513963/test-blob-1cfac894-d0a4-efcf-9c78-eb71f97300e8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-7a8ff65a-3415-c6a1-b029-7867e6513963/test-blob-833f3b1c-fe3d-6a9e-b2f7-77fac29ba3b3",
        "x-ms-copy-source-blob-properties": "true",
        "x-ms-date": "Wed, 14 Oct 2020 18:34:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8706FD8404A4D\u0022",
        "Last-Modified": "Wed, 14 Oct 2020 18:34:54 GMT",
        "x-ms-content-crc64": "26AyVsbLbSI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-7a8ff65a-3415-c6a1-b029-7867e6513963/test-blob-1cfac894-d0a4-efcf-9c78-eb71f97300e8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Oct 2020 18:34:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "jY1oQ7w7aQZnzx7bythVzQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8706FD8404A4D\u0022",
        "Last-Modified": "Wed, 14 Oct 2020 18:34:54 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 14 Oct 2020 18:34:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "EFSZ/c3xmFaTJJ5MSE1LlinAoTibEKiVKZBprFnVLQDVN2Gk2gIaK6Pp8BlgUiFkq\u002BHRAfpqGP\u002BsA9Q9h\u002Bv9vfaddhHsp7wmpXaVsiCONdZuBQB3BCsGah9h\u002BNcu3aS36zIiwtsQeAQlqluE1WXfHc79z4LqhbnLlwzxi67k\u002BMjR3cbubHP7XYz8UlnQgZW5gdsJMA4izWZ4VyrPHuxVQLKSsvee8bFaAnH17jJf\u002BhV2OArT28e5rxBgdRRIKz\u002BgphKnPc\u002BeG48pri6dLN4zGF0UWObigmTr2ALmPXycEtcxVEcguLxG2Bx6qS2ZHIMyLVy3NNJYviStvGTNt90TjJtXa9iXEmCgzoDJZ9g3Ubx/tBAf5d4E2JUjc/xXeS[...]
[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-9e61c81b-e8cf-94da-dc8c-5f8779a1fc8b/test-blob-c2a2795d-1b50-1c06-0a3e-dd0bb6dd6b97",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-9e61c81b-e8cf-94da-dc8c-5f8779a1fc8b/test-blob-be1b3b71-af7f-cc73-5b7a-9fd292abe347",
        "x-ms-copy-source-blob-properties": "true",
        "x-ms-date": "Wed, 14 Oct 2020 18:34:54 GMT",
        "x-ms-source-if-modified-since": "Tue, 13 Oct 2020 18:34:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8706FD89E4A3B\u0022",
        "Last-Modified": "Wed, 14 Oct 2020 18:34:55 GMT",
        "x-ms-content-crc64": "VYw2Ln3QeJw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-4ca9af08-cbba-0bef-3563-6a3f2d4abf75/test-blob-570d1187-259a-590b-0302-28277700bcaf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-4ca9af08-cbba-0bef-3563-6a3f2d4abf75/test-blob-e943f8d0-60ee-3796-044c-ae47d23a6f2a",
        "x-ms-copy-source-blob-properties": "true",
        "x-ms-date": "Wed, 14 Oct 2020 18:34:54 GMT",
        "x-ms-source-if-unmodified-since": "Thu, 15 Oct 2020 18:34:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8706FD8FAC361\u0022",
        "Last-Modified": "Wed, 14 Oct 2020 18:34:55 GMT",
        "x-ms-content-crc64": "Szj3gDQd6BQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-7dfb3e36-0ac2-a9b1-11c7-b306573461c2/test-blob-cf1ba39f-741b-b03b-2dea-5e0607e9aae2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Oct 2020 18:34:55 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "JHiIQrSOGWIj/S7a5DL3rQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8706FD94CB52E\u0022",
        "Last-Modified": "Wed, 14 Oct 2020 18:34:56 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 14 Oct 2020 18:34:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-7dfb3e36-0ac2-a9b1-11c7-b306573461c2/test-blob-3c33db28-06ac-1a24-a5a6-54e25c32bb80",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-7dfb3e36-0ac2-a9b1-11c7-b306573461c2/test-blob-cf1ba39f-741b-b03b-2dea-5e0607e9aae2",
        "x-ms-copy-source-blob-properties": "true",
        "x-ms-date": "Wed, 14 Oct 2020 18:34:55 GMT",
        "x-ms-source-if-match": "\u00220x8D8706FD94CB52E\u0022",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8706FD967DE8A\u0022",
        "Last-Modified": "Wed, 14 Oct 2020 18:34:56 GMT",
        "x-ms-content-crc64": "qNtG0Us0N3U=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-14371d63-9343-50a5-4f84-33b5a54c97e1/test-blob-ddfd0f37-df70-7c93-67fb-6ae6476c0752",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-14371d63-9343-50a5-4f84-33b5a54c97e1/test-blob-db2cfd1f-ed96-7161-6b94-a43dbf1709ba",
        "x-ms-copy-source-blob-properties": "true",
        "x-ms-date": "Wed, 14 Oct 2020 18:34:56 GMT",
        "x-ms-source-if-none-match": "\u0022garbage\u0022",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8706FD9CCBC5F\u0022",
        "Last-Modified": "Wed, 14 Oct 2020 18:34:57 GMT",
        "x-ms-content-crc64": "gOG/1WvhoNQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-14371d63-9343-50a5-4f84-33b5a54c97e1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Oct 2020 18:34:56 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-10-14T13:34:53.0890126-05:00",
    "RandomSeed": "1194327549",
    "Storage_TestConfigDefault": "ProductionTenant\n0c2xscnapby3pev24a\nU2FuaXRpemVk\nhttps://0c2xscnapby3pev24a.blob.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a.file.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a.queue.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a.table.preprod.core.windows.net\n\n\n\n\nhttps://0c2xscnapby3pev24a-secondary.blob.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.file.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.queue.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.table.preprod.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/;QueueEndpoint=https://0c2xscnapby3pev24a.queue.preprod.core.windows.net/;FileEndpoint=https://0c2xscnapby3pev24a.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.file.preprod.core.windows.net/;AccountName=0c2xscnapby3pev24a;AccountKey=Kg==;\nseanscope1"
  }
}