{
  "Entries": [
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-container-561dee66-d0ac-96dc-b0be-b8e5516584e1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 27 Apr 2020 16:21:35 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EAC70EB60CB2\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 16:21:36 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-container-561dee66-d0ac-96dc-b0be-b8e5516584e1/test-blob-5971e357-b8d4-e97e-bbbd-482106b2aa49",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 27 Apr 2020 16:21:37 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "3puJBu/rlyiLCvPj2hXn8XZS0gj1hkijzY3di66N8vV/WD7ckw6Ia0tJzcrFmg6l1Vaqs\u002BCiVFdT5ThiDgx5/Rf9ZILWC15oyWe8q7l93TJ\u002BN7ZY4z4V3QPmiK3VJVw/0M\u002ByyDaLzsn3Qep45ame1QcG49dWIRrY54Z/74Kwk6MKfdvpyhX782jsYKFUnPdaSLOmzkKF6a\u002B12eCvC99HRq5GbmjNtQrxC/BvacB4hEuPJafPCsVhhZMsM/A1S\u002BeJpBnzDS6OjJKotMJRFn/uPFWVIOY3eDzp5enUoYEZvL8I5cWmhXccAJkVJlYCD24UPfebnysBUSzdCihEueo[...]
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-container-561dee66-d0ac-96dc-b0be-b8e5516584e1/test-blob-5971e357-b8d4-e97e-bbbd-482106b2aa49?comp=expiry",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2020 16:21:37 GMT",
        "x-ms-expiry-option": "Absolute",
        "x-ms-expiry-time": "Fri, 01 Jan 2100 00:00:00 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EAC70F687F12\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 16:21:37 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-container-561dee66-d0ac-96dc-b0be-b8e5516584e1/test-blob-5971e357-b8d4-e97e-bbbd-482106b2aa49",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2020 16:21:37 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "9Szg8eO\u002BLx0OkJ05csLukA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7EAC70F687F12\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 16:21:37 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 27 Apr 2020 16:21:37 GMT",
        "x-ms-expiry-time": "Fri, 01 Jan 2100 00:00:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-container-561dee66-d0ac-96dc-b0be-b8e5516584e1?restype=container\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2020 16:21:38 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": [...]
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-container-561dee66-d0ac-96dc-b0be-b8e5516584e1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2020 16:21:38 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1486106977",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary\nU2FuaXRpemVk\nhttp://amandaadlscanary.blob.core.windows.net\nhttp://amandaadlscanary.file.core.windows.net\nhttp://amandaadlscanary.queue.core.windows.net\nhttp://amandaadlscanary.table.core.windows.net\n\n\n\n\nhttp://amandaadlscanary-secondary.blob.core.windows.net\nhttp://amandaadlscanary-secondary.file.core.windows.net\nhttp://amandaadlscanary-secondary.queue.core.windows.net\nhttp://amandaadlscanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://amandaadlscanary.blob.core.windows.net/;QueueEndpoint=http://amandaadlscanary.queue.core.windows.net/;FileEndpoint=http://amandaadlscanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandaadlscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandaadlscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandaadlscanary-secondary.file.core.windows.net/;AccountName=amandaadlscanary;AccountKey=Sanitized\n\n\n"
  }
}