{
  "Entries": [
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-container-b12f273d-c756-1f3d-977f-f2e33ef1e375?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 27 Apr 2020 16:21:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EAC7193EFF33\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 16:21:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-container-b12f273d-c756-1f3d-977f-f2e33ef1e375/test-blob-e2a1dc70-af46-0949-52c2-2d2968e77411",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 27 Apr 2020 16:21:54 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "hJzQZbbJrMekjwolwKeos9jA5s3lGA9jkDLHBjX5yyK8Yqkn/\u002B/opzDZPbelI0irGnpQqAGmLGuMbdSDAaWRq8PoaV79gLPp2D6dC9pXvWzpHOy7qCIhFTY\u002BmpIaZKaLR5L0vbnqrZnGZ9DCCSGQNa9omuW51gKhxlQov\u002BUgz3SYEsNIYwCy/25S9EFSXgwUrWXjscrA0XGQUvZlwe6zpZdbKvddSNKutZp2ZuHATmhIExGAPR2q10BRtxAKTT1/n06q9jQUt2WTNPsvSmuQ0ASNHa7cM2h5sVK3DJDBpGhc98eSFlg0M1yr7Akieo3UwOcMfC\u002BPomvmMEThXarV0ZCT[...]
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-container-b12f273d-c756-1f3d-977f-f2e33ef1e375/test-blob-e2a1dc70-af46-0949-52c2-2d2968e77411?comp=expiry",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2020 16:21:54 GMT",
        "x-ms-expiry-option": "RelativeToCreation",
        "x-ms-expiry-time": "3600000",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EAC7194E9A3B\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 16:21:54 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-container-b12f273d-c756-1f3d-977f-f2e33ef1e375/test-blob-e2a1dc70-af46-0949-52c2-2d2968e77411",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2020 16:21:54 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "DS9AJMye2y7uMOF93s4Ucw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7EAC7194E9A3B\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 16:21:54 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 27 Apr 2020 16:21:54 GMT",
        "x-ms-expiry-time": "Mon, 27 Apr 2020 17:21:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-container-b12f273d-c756-1f3d-977f-f2e33ef1e375?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2020 16:21:54 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1752064784",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary\nU2FuaXRpemVk\nhttp://amandaadlscanary.blob.core.windows.net\nhttp://amandaadlscanary.file.core.windows.net\nhttp://amandaadlscanary.queue.core.windows.net\nhttp://amandaadlscanary.table.core.windows.net\n\n\n\n\nhttp://amandaadlscanary-secondary.blob.core.windows.net\nhttp://amandaadlscanary-secondary.file.core.windows.net\nhttp://amandaadlscanary-secondary.queue.core.windows.net\nhttp://amandaadlscanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://amandaadlscanary.blob.core.windows.net/;QueueEndpoint=http://amandaadlscanary.queue.core.windows.net/;FileEndpoint=http://amandaadlscanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandaadlscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandaadlscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandaadlscanary-secondary.file.core.windows.net/;AccountName=amandaadlscanary;AccountKey=Sanitized\n\n\n"
  }
}