{
  "Entries": [
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-container-e2073ea4-948c-779c-7b3e-fd0aa6ea2568?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 22 Apr 2020 21:32:55 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E704B783EE10\u0022",
        "Last-Modified": "Wed, 22 Apr 2020 21:32:54 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-container-e2073ea4-948c-779c-7b3e-fd0aa6ea2568/test-blob-9536fb92-662a-dd11-22a6-970e2fd2f315",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 22 Apr 2020 21:32:55 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "olDmXYUF3GRmxUK0\u002BbBS/mfmN4gvBYK8N4f95dTVfehduMi\u002BZrj5jR/SL2UjXORxVJmmSJtr5ZzNKSX9CPaQkUhZV0Dok5ev7KloXdYcmNqji5E6LjRN8dMr8D2S/IQoQZ0dygWjicAB91zxAofGsJBKWX1lVWITC2VtvaNaHe8kQBs4/87VAAHRODfXXO9LZD\u002BsR6IHw\u002Bs7Cb6fNswcp9lszMJsjbHBdVl7lB0qO692IlhkrdVNHXww/fUQNso1tJFeapAs39eN6tJIjC/OEM0OKBN0uPoDH69FO5C7sD6PRt\u002BLzNEeSkKA1sIDBJBMYewnAQ22wPuWWkvh5qN[...]
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-container-e2073ea4-948c-779c-7b3e-fd0aa6ea2568/test-blob-9536fb92-662a-dd11-22a6-970e2fd2f315?comp=expiry",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 22 Apr 2020 21:32:56 GMT",
        "x-ms-expiry-option": "RelativeToNow",
        "x-ms-expiry-time": "3600000",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E704B7942FC9\u0022",
        "Last-Modified": "Wed, 22 Apr 2020 21:32:54 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-container-e2073ea4-948c-779c-7b3e-fd0aa6ea2568/test-blob-9536fb92-662a-dd11-22a6-970e2fd2f315",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 22 Apr 2020 21:32:56 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "J8FMe8/af3hDNRIKOdUNPA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7E704B7942FC9\u0022",
        "Last-Modified": "Wed, 22 Apr 2020 21:32:54 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 22 Apr 2020 21:32:54 GMT",
        "x-ms-expiry-time": "Wed, 22 Apr 2020 22:32:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-container-e2073ea4-948c-779c-7b3e-fd0aa6ea2568?restype=container\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 22 Apr 2020 21:32:56 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-container-e2073ea4-948c-779c-7b3e-fd0aa6ea2568?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 22 Apr 2020 21:32:56 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "521611505",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttp://seannsecanary.blob.core.windows.net\nhttp://seannsecanary.file.core.windows.net\nhttp://seannsecanary.queue.core.windows.net\nhttp://seannsecanary.table.core.windows.net\n\n\n\n\nhttp://seannsecanary-secondary.blob.core.windows.net\nhttp://seannsecanary-secondary.file.core.windows.net\nhttp://seannsecanary-secondary.queue.core.windows.net\nhttp://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://seannsecanary.blob.core.windows.net/;QueueEndpoint=http://seannsecanary.queue.core.windows.net/;FileEndpoint=http://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=http://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}