{
  "Entries": [
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-container-6c9902b3-82bd-e9fa-53b7-013c2fca7b9b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 15 Apr 2020 21:48:29 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E186BC617ACF\u0022",
        "Last-Modified": "Wed, 15 Apr 2020 21:48:29 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-container-6c9902b3-82bd-e9fa-53b7-013c2fca7b9b/test-blob-f240ce1a-616b-bb81-f5cc-83275b576cb1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Apr 2020 21:48:29 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "fBGtMlJiHYJZN9762cBBCiReh65hSIQue7sisV46fZsdbNB5MT91t7G\u002BmTOCh\u002BE1i3gD/NC9TzSMfraWQGwjH7pD3G3vx9jk6c/9o69Qq/Ta7SXlNoHLYByb7bKJ3ndFmnp5P6p0RcSgHhIBv6yFO9LCvFJGPeg4d3xQVNolWwpXuAg012xJZahhRRhuyqBwFrHfxyIl/l2SQMcuJPHpesIIqQekUGRmeFeq5PjPyq3b3z0oRpToMrmropalGkC2d8pVZiCZy8VMeU7KehpkwnYZU0SzwDQuH3dN\u002Ba7OwF4W82wtemSNQRR43MxGHbefRuAfjMf8AreWJ0apTNIXfbjwtIatN[...]
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-container-6c9902b3-82bd-e9fa-53b7-013c2fca7b9b/test-blob-f240ce1a-616b-bb81-f5cc-83275b576cb1?comp=expiry",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Apr 2020 21:48:31 GMT",
        "x-ms-expiry-option": "RelativeToNow",
        "x-ms-expiry-time": "3600000",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E186BC718932\u0022",
        "Last-Modified": "Wed, 15 Apr 2020 21:48:29 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-container-6c9902b3-82bd-e9fa-53b7-013c2fca7b9b/test-blob-f240ce1a-616b-bb81-f5cc-83275b576cb1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Apr 2020 21:48:31 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "7MtCXm/mIfwfM4VqBZb8Zg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7E186BC718932\u0022",
        "Last-Modified": "Wed, 15 Apr 2020 21:48:29 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 15 Apr 2020 21:48:29 GMT",
        "x-ms-expiry-time": "Wed, 15 Apr 2020 22:48:31 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-container-6c9902b3-82bd-e9fa-53b7-013c2fca7b9b?restype=container\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Apr 2020 21:48:31 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-container-6c9902b3-82bd-e9fa-53b7-013c2fca7b9b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Apr 2020 21:48:31 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "976315430",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttp://seannsecanary.blob.core.windows.net\nhttp://seannsecanary.file.core.windows.net\nhttp://seannsecanary.queue.core.windows.net\nhttp://seannsecanary.table.core.windows.net\n\n\n\n\nhttp://seannsecanary-secondary.blob.core.windows.net\nhttp://seannsecanary-secondary.file.core.windows.net\nhttp://seannsecanary-secondary.queue.core.windows.net\nhttp://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://seannsecanary.blob.core.windows.net/;QueueEndpoint=http://seannsecanary.queue.core.windows.net/;FileEndpoint=http://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=http://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}