{
  "Entries": [
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-container-f48fb499-d7b2-02c6-ad70-96d46b5f5c2f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 15 Apr 2020 21:48:09 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E186B041797D\u0022",
        "Last-Modified": "Wed, 15 Apr 2020 21:48:09 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-container-f48fb499-d7b2-02c6-ad70-96d46b5f5c2f/test-blob-8d8d9eb7-191d-d7ec-268f-8150c49b0104",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Apr 2020 21:48:09 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "GqcRVPThOxytpDOwLbCpshMDcmIbyNCpKpNUZDWVzsddj8Kvr/kb1mNx33nlPKp15c49wSmf6FLXZyphjdfmGNVsUp7u\u002BgMZ6Jz\u002BqehXw\u002B3p3n9mVw2evaZv10fOuUiMisejeeoLh\u002BrKJNiNoD5qf6Q9eK9YgMHHzZT3fiK8Si5Tch8gtEoD3VaUmzI1ER1oBVijkUGZNAoG3KtVFAjIDtmqOS4fSctaOptYw\u002BSOkrx3j3nKGbntuT4UGtierslNzI1Zi9fvSLyNSFamQXAmeEnu3YSP/vQgvIDvCi7zu4zSCvdWNAfliEa8PNBiR3fO7qKOr9BEvs6ZOM5W/z6[...]
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-container-f48fb499-d7b2-02c6-ad70-96d46b5f5c2f/test-blob-8d8d9eb7-191d-d7ec-268f-8150c49b0104?comp=expiry",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Apr 2020 21:48:15 GMT",
        "x-ms-expiry-option": "Absolute",
        "x-ms-expiry-time": "Fri, 01 Jan 2100 00:00:00 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E186B3954664\u0022",
        "Last-Modified": "Wed, 15 Apr 2020 21:48:15 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-container-f48fb499-d7b2-02c6-ad70-96d46b5f5c2f/test-blob-8d8d9eb7-191d-d7ec-268f-8150c49b0104",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Apr 2020 21:48:17 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "2GyjJaJKHnmqJlF2Ksp\u002BRw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7E186B3954664\u0022",
        "Last-Modified": "Wed, 15 Apr 2020 21:48:15 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 15 Apr 2020 21:48:15 GMT",
        "x-ms-expiry-time": "Fri, 01 Jan 2100 00:00:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-container-f48fb499-d7b2-02c6-ad70-96d46b5f5c2f?restype=container\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Apr 2020 21:48:17 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-container-f48fb499-d7b2-02c6-ad70-96d46b5f5c2f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Apr 2020 21:48:18 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "201496462",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttp://seannsecanary.blob.core.windows.net\nhttp://seannsecanary.file.core.windows.net\nhttp://seannsecanary.queue.core.windows.net\nhttp://seannsecanary.table.core.windows.net\n\n\n\n\nhttp://seannsecanary-secondary.blob.core.windows.net\nhttp://seannsecanary-secondary.file.core.windows.net\nhttp://seannsecanary-secondary.queue.core.windows.net\nhttp://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://seannsecanary.blob.core.windows.net/;QueueEndpoint=http://seannsecanary.queue.core.windows.net/;FileEndpoint=http://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=http://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}