{
  "Entries": [
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-container-3c2f5646-2dad-9c5f-68c4-661e7462f531?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 15 Apr 2020 21:48:29 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E186BC0E42B7\u0022",
        "Last-Modified": "Wed, 15 Apr 2020 21:48:29 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-container-3c2f5646-2dad-9c5f-68c4-661e7462f531/test-blob-d3237a31-1b0b-5431-5cb8-dfa7aa0657a0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Apr 2020 21:48:29 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "4Y3SUu4DA84HnmwdQvudNG3\u002BJ8qkD80v8B\u002BVdYeK31a3Dx1LV0WWLnZVzG2uFBJgGqo6rN6M/NHAomHObY5GfL4WZTPdUd0nZ/lTTkNfgdwNNVrcTzN3KhNMi7Tjx8HoD0\u002BumK7egsjNE0TlOa2NYCGFwTczaSyLnjogkcYoQ584aj/zseguL7KSDzzukvFlviqTXgaJtaUiI/pzvfEBpc\u002BlrM5tmq84VpKFoFrwnAtJutKcleSZr7Wa0I7uu3HBkGpsSeUj\u002BCR6Wgd0AxRLMobuKQMeZQ/rDP0Y08khSpsgwxDwg1MlJcKtITvdJKugT54IAJFtoipagT3oCiR[...]
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-container-3c2f5646-2dad-9c5f-68c4-661e7462f531/test-blob-d3237a31-1b0b-5431-5cb8-dfa7aa0657a0?comp=expiry",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Apr 2020 21:48:29 GMT",
        "x-ms-expiry-option": "Absolute",
        "x-ms-expiry-time": "Fri, 01 Jan 2100 00:00:00 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E186BC1E148B\u0022",
        "Last-Modified": "Wed, 15 Apr 2020 21:48:29 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-container-3c2f5646-2dad-9c5f-68c4-661e7462f531/test-blob-d3237a31-1b0b-5431-5cb8-dfa7aa0657a0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Apr 2020 21:48:29 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "kAX6NpbtxrdHJTncX1SRRw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7E186BC1E148B\u0022",
        "Last-Modified": "Wed, 15 Apr 2020 21:48:29 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 15 Apr 2020 21:48:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-container-3c2f5646-2dad-9c5f-68c4-661e7462f531?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Apr 2020 21:48:29 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "12424938",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttp://seannsecanary.blob.core.windows.net\nhttp://seannsecanary.file.core.windows.net\nhttp://seannsecanary.queue.core.windows.net\nhttp://seannsecanary.table.core.windows.net\n\n\n\n\nhttp://seannsecanary-secondary.blob.core.windows.net\nhttp://seannsecanary-secondary.file.core.windows.net\nhttp://seannsecanary-secondary.queue.core.windows.net\nhttp://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://seannsecanary.blob.core.windows.net/;QueueEndpoint=http://seannsecanary.queue.core.windows.net/;FileEndpoint=http://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=http://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}