{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-5058f0c8-e983-4845-da17-6ecbe2fb5f54?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:56:40 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D7617C6CD7AC\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:56:39 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-5058f0c8-e983-4845-da17-6ecbe2fb5f54/test-blob-c0bac113-b413-fe2e-7034-68d0664a58a7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:56:40 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "KITM\u002BMVphVj13xPhnlalHA6ghOt0WqgRB3tdL5BVMljgI8Ye8RAI3XEuEMxNJGcOTMKXpmHWss3cuvFKDFbIn626AXuPhiv9l6Z5RUnbw\u002BITTuLOvov3CXD5QjYfvtEbZnAekiPsfsaWmQ66XG2EAPcONr1z\u002BuAhw/cKlkT13dnUXd7ZvTG\u002BJ88cOCV9PKwDdEE\u002BEYcTqGuP/M8s4eeCoLs05v6Oq0PFTw/uVsK7pIZKByICt8xSwLVyScBhkkXnmpdpSFaudMn\u002BeMF4JVGp01hI4drFf\u002Bnv4iVJHGGDZLzJB7wqUlswnJJYBD4K2ptkyXVoGbFqI[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-5058f0c8-e983-4845-da17-6ecbe2fb5f54/test-blob-41107528-3a4f-be4e-6a42-421559611e21?comp=block\u0026blockid=dGVzdC1ibG9jay0xNTIwYWI4Yi02ODhmLTE2MjMtMDQwMS02YzU5ODhjNWNkM2M%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary.blob.core.windows.net/test-container-5058f0c8-e983-4845-da17-6ecbe2fb5f54/test-blob-c0bac113-b413-fe2e-7034-68d0664a58a7",
        "x-ms-date": "Thu, 02 Apr 2020 23:56:40 GMT",
        "x-ms-source-if-modified-since": "Fri, 03 Apr 2020 23:56:40 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-2dcce0c6-1799-26ce-c8df-c174f166dc6e/test-blob-6d4a65b9-9969-54b0-1225-0e815a95f6a6?comp=block\u0026blockid=dGVzdC1ibG9jay03ZmM3ODA2NS01NWQ0LTNmOGUtNGY3Ny03ZDgyZDA3YmM2MmQ%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary.blob.core.windows.net/test-container-2dcce0c6-1799-26ce-c8df-c174f166dc6e/test-blob-88c38a6f-b113-040f-df7f-2c9777777a1e",
        "x-ms-date": "Thu, 02 Apr 2020 23:56:41 GMT",
        "x-ms-source-if-unmodified-since": "Wed, 01 Apr 2020 23:56:40 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ECannotVerifyCopySource\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:b7c750a7-401e-0065-184a-09e3e4000000\n",
        "Time:2020-04-02T23:56:40.3675860Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-9f0c7acb-9fd6-8143-ecde-19f3faf41fb2/test-blob-a1e461e3-4dd2-6273-8dd2-eb008f573498?comp=block\u0026blockid=dGVzdC1ibG9jay01Y2NmYTJlMS05NjBjLTlmNDktMGI2MS1iZjhjMmZlOGMzNzg%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary.blob.core.windows.net/test-container-9f0c7acb-9fd6-8143-ecde-19f3faf41fb2/test-blob-ae4d2d0c-46d8-248d-f472-73eb7ba067cc",
        "x-ms-date": "Thu, 02 Apr 2020 23:56:41 GMT",
        "x-ms-source-if-match": "\u0022garbage\u0022",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "SourceConditionNotMet",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ESourceConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe source condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:0c4d89dd-a01e-0020-734a-093607000000\n",
        "Time:2020-04-02T23:56:40.9911208Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-bca19efd-2ba8-5fc8-c0e5-6e778255f97e/test-blob-f0da651d-d4d7-fa11-e60a-9abeb5254a3c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:56:52 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "IbRZ9Y22FKxVk6fdRpsAkQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D761838D5648\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:56:51 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Apr 2020 23:56:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-bca19efd-2ba8-5fc8-c0e5-6e778255f97e/test-blob-31ccd4b9-dc27-f403-815a-67ada063fc94?comp=block\u0026blockid=dGVzdC1ibG9jay1mOWVmZWFjOS04MTFhLTZlYjAtZmQ1Zi0zYWU1Y2VhNTQ5YzU%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary.blob.core.windows.net/test-container-bca19efd-2ba8-5fc8-c0e5-6e778255f97e/test-blob-f0da651d-d4d7-fa11-e60a-9abeb5254a3c",
        "x-ms-date": "Thu, 02 Apr 2020 23:56:52 GMT",
        "x-ms-source-if-none-match": "\u00220x8D7D761838D5648\u0022",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 500,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ECannotVerifyCopySource\u003C/Code\u003E\u003CMessage\u003ECould not verify the copy source within the specified time.\n",
        "RequestId:c8015107-d01e-0067-4a4a-095d5c000000\n",
        "Time:2020-04-02T23:57:12.7211240Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-bca19efd-2ba8-5fc8-c0e5-6e778255f97e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:57:14 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-02T16:56:40.1526970-07:00",
    "RandomSeed": "1197259494",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}