{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-cae01e3a-c17d-ed92-28d8-081103842f4f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:53 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1E750052D\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:53 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-cae01e3a-c17d-ed92-28d8-081103842f4f/test-blob-866cc831-46e0-e893-55f7-45f91aeb6569",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:53 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "1eugGys9KiIG7IBu1J8LO0ykWa2ggpgCHABrDGVoZ1KnaDsY4xQjlFsPpTW4kwq/ZSDc4nyDAFJSnv4r0R69nYUux2xj81g4gMRSkN1iSoj1rKZEi4TVJGjpxUQV\u002bMM8UgiwicyeW3HIpGK4MW918FR2NSV4eREAWaMEei4TI4cBFT7VssC8VlA0e\u002bciHPP4dNXwn8KdxNn2rzApmuFDtYHathsxnz2Uut/URP0q3jyvCwVZI4TFY1Bl3wOPkrxv8MZmSGXXx9SXW\u002bTjyYDby9H0eY7b6ZH9FFPLy8A6BCciZVM3xJXW2EMxwsef4pnQiRMymhktkwc0aDMSC/wTXVe8wGQtp[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-cae01e3a-c17d-ed92-28d8-081103842f4f/test-blob-57ada8c2-7c0b-4ed4-d2cd-cea94a2bc901?comp=block\u0026blockid=dGVzdC1ibG9jay0yNWQwNjMzYy0wODgxLWY4YmMtYWYwYS00MGFmYWNiZjVjZDA%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-cae01e3a-c17d-ed92-28d8-081103842f4f/test-blob-866cc831-46e0-e893-55f7-45f91aeb6569",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:53 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "E1HJRm1h81zCTiNIHQTi\u002bg==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-cae01e3a-c17d-ed92-28d8-081103842f4f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:53 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "399385867",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}