{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-d8635a64-93e3-27ce-c8bc-a2d187d75aec?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 04:01:08 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEEC0D01C4B\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:01:08 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-d8635a64-93e3-27ce-c8bc-a2d187d75aec/test-blob-ba88f097-3bd4-5211-61b9-f749907faf08",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 11 Dec 2019 04:01:08 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "C2y7U9oueAoA\u002BwmVJ1Qs0LbuF87CZqLkDnAnG6vnaHNtjG6PPLLYi0AK80\u002BgX6Y1md67EUQSHaTK10RqB11eGJKWKJrmnJQDFYuNuHJTRK/J8oHNLFYvWm/JxWVuboTjq9u8CjYMTvxJt/u5hWUxd5KUoBTbkew8Zs4qHdcvlaYGqQyXljl4vKSEhHRbdtUKl07S2c5vBxrvgKNo4jAlGSJUsttYmuBZHONwVw134PD4IIaJXbvYl6HyqBaVENpzX2pSBsP5sfxueL3q/rAMd5\u002Byb8GpnLtmexs5ZvHJwwsI/feiJdot/26JG\u002BT\u002B7pjw5TB346AZysOv64qov0s[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-d8635a64-93e3-27ce-c8bc-a2d187d75aec/test-blob-33a8051e-4c80-7690-12bd-f9bb30a67960?comp=block\u0026blockid=dGVzdC1ibG9jay02OTU0NTRjNC1hMmFjLTFkYmYtZGIyYi1iMzI2ZjVmNGM2MWI%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://seanstagetest.blob.core.windows.net/test-container-d8635a64-93e3-27ce-c8bc-a2d187d75aec/test-blob-ba88f097-3bd4-5211-61b9-f749907faf08",
        "x-ms-date": "Wed, 11 Dec 2019 04:01:08 GMT",
        "x-ms-source-range": "bytes=256-511",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "BkdfEBHjNIw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-d8635a64-93e3-27ce-c8bc-a2d187d75aec/test-blob-33a8051e-4c80-7690-12bd-f9bb30a67960?comp=blocklist\u0026blocklisttype=all",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:01:08 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CBlockList\u003E\u003CCommittedBlocks /\u003E\u003CUncommittedBlocks\u003E\u003CBlock\u003E\u003CName\u003EdGVzdC1ibG9jay02OTU0NTRjNC1hMmFjLTFkYmYtZGIyYi1iMzI2ZjVmNGM2MWI=\u003C/Name\u003E\u003CSize\u003E256\u003C/Size\u003E\u003C/Block\u003E\u003C/UncommittedBlocks\u003E\u003C/BlockList\u003E"
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-d8635a64-93e3-27ce-c8bc-a2d187d75aec?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:01:08 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "217932686",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}