{
  "Entries": [
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-4f2ae88e-4f44-0cc6-77d0-275758713f45?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D9302549236CED\"",
        "Last-Modified": "Tue, 15 Jun 2021 17:44:54 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-4f2ae88e-4f44-0cc6-77d0-275758713f45/test-blob-ee59b053-fc2c-932b-d029-c558311b66d7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "ntExSRO3qgvwfVtkbNo0Kz9Xof+0IbUEXagYrWJ0iTAiAE0GGki8/q6yLBE6kpmuYPREzCK9Ln0bLOxqn/yofPQqQmyMLhH2mqNQAfSjysoOaU1uL7wOZNLQ6+5bUV+xCa8dD08sITLjTTJ+bCyId2EhWzWvOk04HN6au0Mjm0hEn/hFhrt74kgai+GJj/elSHOMOvUpAs5i5fNxkmXvv7LpOs0zQ/GmpnnslK9rrozm9HPPlmFSGpwp4qDICU/iK8svoFUpcgWC5pN7PG0f9zdmip3yHylRlh8xCmBQ3ZwqCmnkPA03vIJuTLDN190vCutpYX+x7wuh3Qk1+GekMgj3UTIEO7opL84bhNN5hL9CAgB15nwdeBpdQl4DAsQayRqn1YWrKs4wPzGwlms4KFlK8vZnL0uL2t[...]
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-4f2ae88e-4f44-0cc6-77d0-275758713f45/test-blob-eaacccae-bb19-4e4a-a7a1-b5218678f18b?comp=block&blockid=dGVzdC1ibG9jay0zOTQwYzdkNi1mMzA5LTA3ZTMtMDBmNS0xNGY2NzExMWVhZjU%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanoauthstage.blob.core.windows.net/test-container-4f2ae88e-4f44-0cc6-77d0-275758713f45/test-blob-ee59b053-fc2c-932b-d029-c558311b66d7",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>CannotVerifyCopySource</Code><Message>Authentication information is not given in the correct format. Check the value of Authorization header.\n",
        "RequestId:4f575746-601e-0013-5d0e-624833000000\n",
        "Time:2021-06-15T17:44:55.0396416Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-4f2ae88e-4f44-0cc6-77d0-275758713f45?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1709790977",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanoauthstage\nU2FuaXRpemVk\nhttps://seanoauthstage.blob.core.windows.net\nhttps://seanoauthstage.file.core.windows.net\nhttps://seanoauthstage.queue.core.windows.net\nhttps://seanoauthstage.table.core.windows.net\n\n\n\n\nhttps://seanoauthstage-secondary.blob.core.windows.net\nhttps://seanoauthstage-secondary.file.core.windows.net\nhttps://seanoauthstage-secondary.queue.core.windows.net\nhttps://seanoauthstage-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanoauthstage.blob.core.windows.net/;QueueEndpoint=https://seanoauthstage.queue.core.windows.net/;FileEndpoint=https://seanoauthstage.file.core.windows.net/;BlobSecondaryEndpoint=https://seanoauthstage-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanoauthstage-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanoauthstage-secondary.file.core.windows.net/;AccountName=seanoauthstage;AccountKey=Sanitized\n\n\n"
  }
}