{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-c35ca788-b52a-d543-61a5-2cbbf6f7c131?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:52:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D760F594A425\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:52:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-c35ca788-b52a-d543-61a5-2cbbf6f7c131/test-blob-ddb5c296-6580-f74e-6400-4457f7ca1953",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:52:54 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "UJAVlTk3qvgULJOb2\u002BfjOcW4Tn7sBQl1kpO7iW\u002BGI5pbSwphE0o6Nc4Sp/rw1AoP7edHUka0okuGnwKmeyCIjgn5P4/cgSV7fhmw2l4Phb2IrJyHPtBTp6m/23NHk7qtihjx9pV6MmzBy9MsBMjsdhpFHc6EAE84pZjmHaWyNOtfAk9FHo4oDnovxnL8J6Lh02RYAnXrKYnJuFD9lBTGD5fozQJ4pliLHA9UVDrcO371BUpBWTJ1c9nGfGU\u002BK3llabbaFFmgaSwLzOVml9RO7HzSB4/KhbVlc1kosSrzTfGV7uuDAickVZseNYxMDtwFd4/obCPqmuQBdaEAd7cBGH/00ajoy[...]
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-c35ca788-b52a-d543-61a5-2cbbf6f7c131/test-blob-dfbedcbf-88e7-6022-fbd9-ec398fd477e9?comp=block\u0026blockid=dGVzdC1ibG9jay1mOTdjN2Q5NS0xNjE0LWI5MzItYzQ2Ni04YTliOWZmZjkyODI%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary.blob.core.windows.net/test-container-c35ca788-b52a-d543-61a5-2cbbf6f7c131/test-blob-ddb5c296-6580-f74e-6400-4457f7ca1953",
        "x-ms-date": "Thu, 02 Apr 2020 23:52:54 GMT",
        "x-ms-lease-id": "82a63a9b-38b3-2950-8612-c10e98b2ea05",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseNotPresentWithBlobOperation\u003C/Code\u003E\u003CMessage\u003EThere is currently no lease on the blob.\n",
        "RequestId:aaf32053-501e-0056-6949-09bc4f000000\n",
        "Time:2020-04-02T23:52:53.6498375Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-c35ca788-b52a-d543-61a5-2cbbf6f7c131?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:52:54 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1294203461",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}