{
  "Entries": [
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-b3066ff2-09db-f6fd-71ee-a6e581d166c8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 25 Apr 2020 01:11:30 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B596A26485\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:11:31 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-b3066ff2-09db-f6fd-71ee-a6e581d166c8/test-blob-bc7d8ee4-8f04-ca1a-f44e-407251f6ad80",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 25 Apr 2020 01:11:31 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "xLdZMT4Ae3aoq\u002BP62A/zuO73f2pCVwkSUuRgJH14\u002B245UilKYM5wZZsZZhKGJJWEaUdgZ\u002BE8m22uRt5aoFf5MK91wIXmqVcfhhrOKfD2jC5O3Lo1F5SM/be7nBrwFsREIDZjEGMPnsDwQeHHbnJ8t7qwC8Ocwxgb6cPOKgw9L3BViQm6k3vKPj76RdayxI5FP\u002BVfQAoBqFwdRyegQXS0shFwcuRpwiM/5s2Fon5CaCQ1ieon3e9lVOGsnExTKf3KRZLEQlKq3H3BIFk9ewXe294Da7eJjdQiCh4CvCXW67zPu1zrfSbSiq1tZb2VKNjbzsFtUL5FQLi9oTc0px9X6jSd[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-b3066ff2-09db-f6fd-71ee-a6e581d166c8/test-blob-cf394774-4951-7734-f0bf-95d532262f63?comp=block\u0026blockid=dGVzdC1ibG9jay00ZjkzZDg1OC00ZTM5LWQ2ZTAtMWViOC1mYWIwZWUxOGU2MTM%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://amandacanary.blob.core.windows.net/test-container-b3066ff2-09db-f6fd-71ee-a6e581d166c8/test-blob-bc7d8ee4-8f04-ca1a-f44e-407251f6ad80",
        "x-ms-date": "Sat, 25 Apr 2020 01:11:31 GMT",
        "x-ms-source-content-md5": "GHAMp295ZXsWMC38xcJYXw==",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "GHAMp295ZXsWMC38xcJYXw==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-b3066ff2-09db-f6fd-71ee-a6e581d166c8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:11:31 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1815011192",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttp://amandacanary.blob.core.windows.net\nhttp://amandacanary.file.core.windows.net\nhttp://amandacanary.queue.core.windows.net\nhttp://amandacanary.table.core.windows.net\n\n\n\n\nhttp://amandacanary-secondary.blob.core.windows.net\nhttp://amandacanary-secondary.file.core.windows.net\nhttp://amandacanary-secondary.queue.core.windows.net\nhttp://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandacanary.blob.core.windows.net/;QueueEndpoint=http://amandacanary.queue.core.windows.net/;FileEndpoint=http://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Sanitized\n\nDefaultEndpointsProtocol=https;AccountName=ortestsaccountcbn1;AccountKey=OrRfzSm3ktQSklAGiL90/QusS7SdS6Y5S/AJoxZEeyKYDtnue7OKYIMLOraTnT4xcOyhYbqzWVmtTKappcc5Fg==;EndpointSuffix=core.windows.net\nDefaultEndpointsProtocol=https;AccountName=vbalaorcentral1;AccountKey=vlHMz/LZ3Sx7r/1bdTQT26pG0tqORQ4uTIcxGhHB0LQhIhqGxfv2TXV7u\u002BI2ra4UWXrWGGHG2N6l\u002BBfb5FgAcQ==;EndpointSuffix=core.windows.net"
  }
}