{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-86be5635-772b-c65c-fe94-728073f52097?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:52:56 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D760F702B7F1\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:52:55 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-86be5635-772b-c65c-fe94-728073f52097/test-blob-21692c64-bbbc-93e0-b582-a75bb27b3b8e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:52:57 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "odT355XoJcAKNCxEbtR8\u002BaCNt7bQaZp3kIjfJNlsfq81LuZ1DQxP35ZkrMmGtL521qI\u002BfvL8CTg5f1cNCQHmnrV8Dj/uBuuUPtgfbLzR8dzJaE03LQC9OCWuO421QdWVfQ4TCqV\u002BiNC3qj8Z3Jx7aI57Q6C0r3C1v9UZQMpd3vwCiu6tvuc2S\u002BB9f4PAo1yJMtP/Ov414c6dXUrPZUcFWctCF1KtzqqnRPjANy/t9Bt5jw73XqT\u002BzakgEGCcZ\u002BaYdya3fYwJ3GQpV/UGdKmfsGguVdU5DvsmREmpjb1KC90SKL8JNXePcLOqzgav91j/gV/3bREQXmkqkD[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-86be5635-772b-c65c-fe94-728073f52097/test-blob-cad9cd89-9e32-a804-956f-ab9414e3c09c?comp=block\u0026blockid=dGVzdC1ibG9jay00ZjNkN2MzOC0zZmFjLTgyNTItMGQ2Mi01NDA1ODE1NzVkZmI%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary.blob.core.windows.net/test-container-86be5635-772b-c65c-fe94-728073f52097/test-blob-21692c64-bbbc-93e0-b582-a75bb27b3b8e",
        "x-ms-date": "Thu, 02 Apr 2020 23:52:57 GMT",
        "x-ms-source-content-md5": "yOjfiVwsrhZrrQJ/3xUzWw==",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "Md5Mismatch",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EMd5Mismatch\u003C/Code\u003E\u003CMessage\u003EThe MD5 value specified in the request did not match with the MD5 value calculated by the server.\n",
        "RequestId:2943cc3d-e01e-0098-6249-096dc1000000\n",
        "Time:2020-04-02T23:52:56.9576089Z\u003C/Message\u003E\u003CUserSpecifiedMd5\u003EyOjfiVwsrhZrrQJ/3xUzWw==\u003C/UserSpecifiedMd5\u003E\u003CServerCalculatedMd5\u003E4RkGKsl5m/IPuM6wxwP0Qg==\u003C/ServerCalculatedMd5\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-86be5635-772b-c65c-fe94-728073f52097?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:52:57 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1555443953",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}