{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c813254d-b43e-e707-37ec-9a3eb5d09193?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:58:16 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D375FBDBB3AD\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:58:16 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c813254d-b43e-e707-37ec-9a3eb5d09193/test-blob-d8f3b0ad-c234-c14f-472d-60c2bb683264",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:58:16 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "GKXaVqIoXjwsB48sJOSZSDC6Fyta3tomI4fvk0oZUHBrgQuoFGQ9/io6h7ESBo61sX6vAbB7tDnKtDIbOcvxErYfwaLY8TTLfBkAIFYpEx34OeHMaU6/8M3R3V8xIcRfSHT68kTs3MBJ44WWepPjoaAVI//qJahoYNHVBhTUmVpVodjiLyDZDF0ggobJKHU57ju/HP7EdCPLkZJzFtWrdEkqQdm7AHF/PBeiyaIinzdbnBjYFX1bkCy0Fp6NZfWHdQ08nuacfe3KP+DnIquAqfJbF3q901/MzrGsBurT8dYhGlSV5QFRvx4qDdacdG2ANG2rMk56yqKucM8073YD900KxQhX6sPxClhbksWIL1pE[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c813254d-b43e-e707-37ec-9a3eb5d09193/test-blob-c5235d1a-0b6b-01c9-f10f-d4d0a3b28c30?comp=block&blockid=dGVzdC1ibG9jay1jYjE1OGJiYi0wMjM4LTg5NWItYzI3YS1jMGE2YThmZjU5ZTc%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-c813254d-b43e-e707-37ec-9a3eb5d09193/test-blob-d8f3b0ad-c234-c14f-472d-60c2bb683264",
        "x-ms-date": "Wed, 17 Feb 2021 18:58:16 GMT",
        "x-ms-encryption-scope": "seanscope1",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "yfY2hhS5Gaw=",
        "x-ms-encryption-scope": "seanscope1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c813254d-b43e-e707-37ec-9a3eb5d09193?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:58:16 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1731364785",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}