{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-c60cd8f8-c9fb-febd-ec55-443186231af5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:15 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1F460E59A\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:54:15 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-c60cd8f8-c9fb-febd-ec55-443186231af5/test-blob-8a3d0d0c-b9aa-a2d0-211c-39095fc40f61",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:15 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "gt2iiR0hLa5Svv\u002bCtdABku\u002bF6Hhei8PxtKEmtFRUf073NK\u002bogZHXmQ/yp\u002bgHobXPReJ4\u002bbXlsfYZsdV8\u002b3la/T\u002bxi4EhWBFerU5oa\u002bTb6hLrVm9y24aYEoK4j9C7W52WmKmpVRY0ru3QGktnfEYSPsbCkKUK6CG4GXj\u002baMlBo1Kx0dM6MpT7t6iBocE6MZU8plAJ\u002bcv4jLCI8DyeNUUkj3f4tqty1wsyxtj8iEZffefiwsJ4OKmGuEUiskFXXYFiXRJKQXvqyc5E1jLy\u002bwNpKHJVu3ODq1fNcv1lUCXK22hXmis0FTts\[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-c60cd8f8-c9fb-febd-ec55-443186231af5/test-blob-69059878-44a4-7d5b-fc9f-314fc72b0179?comp=block\u0026blockid=dGVzdC1ibG9jay02OTY0NDJiYi01NDMwLTcwZjktMzA3Ni02YjRjMDJiZWQ3Zjc%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-c60cd8f8-c9fb-febd-ec55-443186231af5/test-blob-8a3d0d0c-b9aa-a2d0-211c-39095fc40f61",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:15 GMT",
        "x-ms-source-content-md5": "Rsukv8r65E288CJ/79MKGQ==",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Rsukv8r65E288CJ/79MKGQ==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-c60cd8f8-c9fb-febd-ec55-443186231af5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:15 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "430868211",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}