{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-ee87ce3b-b0f5-8af9-05e5-533bfa39d4f7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 21:11:13 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C149BCA569E9\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:11:13 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-ee87ce3b-b0f5-8af9-05e5-533bfa39d4f7/test-blob-5c97259e-69bb-b35d-1452-12200e9529e9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 21:11:13 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "gcnnxt/gaXr6sXyubn1uLi34ODZYvdw8DJieqwEuoUFoivpS7/F7IllmHGm6ZUqQtZF4PPenX8PtqrpHQr15zBA6RuOCGz47fRbd8aFygaZNDfZvtmRKwCo2ZEQ2M\u002BCb7VBYfx9mDZlSPL7hym4ieygU\u002BTTHChar8IW5TLf6BEk1QQRQGQKH5wBdHHmmaPa7E\u002BkbIjqr1OM6rY\u002BZrMHhWDd0q4hq0mEmjRI0ae2cBYeP/jjO3uIPim0gFmxy7To\u002BfMRCMbxtUUGI9JUodmv1nqcHCq6JE3pVZSEbSbv0s5/X9ewpWdTLIa32RulN5xMBK3fFa\u002BOLtWlJ7M[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-ee87ce3b-b0f5-8af9-05e5-533bfa39d4f7/test-blob-1487516e-3a39-c2b2-d3c6-0397f577c131?comp=block\u0026blockid=dGVzdC1ibG9jay0yODgxYTVjMC0wZmZjLTIwZDktMTdlNS1kNTgwNmNiNWMyMTU%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanstagetest.blob.core.windows.net/test-container-ee87ce3b-b0f5-8af9-05e5-533bfa39d4f7/test-blob-5c97259e-69bb-b35d-1452-12200e9529e9",
        "x-ms-date": "Thu, 05 Mar 2020 21:11:14 GMT",
        "x-ms-source-if-modified-since": "Fri, 06 Mar 2020 21:11:13 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-f7452880-486b-55f7-6799-f5a48d8596e7/test-blob-7f03502f-2f83-b33c-ba54-8d0dab04680c?comp=block\u0026blockid=dGVzdC1ibG9jay04NjZmNTViMS04YWQ3LTU4MzctZTc5YS1iN2E1MGI1MjgzYzQ%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanstagetest.blob.core.windows.net/test-container-f7452880-486b-55f7-6799-f5a48d8596e7/test-blob-84804e38-07a0-7423-b9bd-e834837a0ab3",
        "x-ms-date": "Thu, 05 Mar 2020 21:11:14 GMT",
        "x-ms-source-if-unmodified-since": "Wed, 04 Mar 2020 21:11:13 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ECannotVerifyCopySource\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:0e6900a0-201e-003e-5a32-f30544000000\n",
        "Time:2020-03-05T21:11:14.7045924Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-4f575d48-08c0-521d-0b6b-0ce96901de0a/test-blob-afa3b8ef-b92d-2726-45db-afac8bc9841b?comp=block\u0026blockid=dGVzdC1ibG9jay1kNjZkYTVjYS04NTNiLTYwMDUtNzhiMy1iZDVmMmZiMzVmZDY%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanstagetest.blob.core.windows.net/test-container-4f575d48-08c0-521d-0b6b-0ce96901de0a/test-blob-dda9e66e-c25a-c0e7-79e6-d0affc6f3723",
        "x-ms-date": "Thu, 05 Mar 2020 21:11:15 GMT",
        "x-ms-source-if-match": "\u0022garbage\u0022",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "SourceConditionNotMet",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ESourceConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe source condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:b9ea1370-001e-0016-3c32-f364ec000000\n",
        "Time:2020-03-05T21:11:15.3953881Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-e6c6d914-3d38-25e5-9ac5-1f05dcfb50f0/test-blob-07f7c8dd-f770-0443-4450-404a74bf9a1e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:11:16 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "wNGQ6Y7fyFNzrEN7WMHYZQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C149BDE6BC48\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:11:15 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 05 Mar 2020 21:11:15 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-e6c6d914-3d38-25e5-9ac5-1f05dcfb50f0/test-blob-22cb4d47-caf0-1819-a7bc-a28a58551739?comp=block\u0026blockid=dGVzdC1ibG9jay1kNWNhNTc4My00YTE3LTc3MjAtYTBlOC05NGI3NTQyNmQ2NjE%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanstagetest.blob.core.windows.net/test-container-e6c6d914-3d38-25e5-9ac5-1f05dcfb50f0/test-blob-07f7c8dd-f770-0443-4450-404a74bf9a1e",
        "x-ms-date": "Thu, 05 Mar 2020 21:11:16 GMT",
        "x-ms-source-if-none-match": "\u00220x8D7C149BDE6BC48\u0022",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-e6c6d914-3d38-25e5-9ac5-1f05dcfb50f0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:11:16 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-03-05T13:11:13.6201004-08:00",
    "RandomSeed": "687558584",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}