{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-f7acc7b3-0dc7-00a7-6bb6-e803da06a5b7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:53 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1E7678A87\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:53 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-f7acc7b3-0dc7-00a7-6bb6-e803da06a5b7/test-blob-66c07775-0d8a-b621-83ca-c6f94f599953",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:53 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "3WMEb9LZxRKFpNXTDbUgag1X2FsXnR7Z2kPMVNh50aSgmSZ3ATbk8POqGzYEGFt1Usog1\u002b26Nz9FKpSODXA6DNMwMnOOqWnWcuhnbYHn1cLnVgIOWfq25mLmMtaiVuODcA9j0\u002bXn5qlhSmUFUsq\u002bXVTRp7dtK7LZeUwRqHaSMxwF5P1yhALc/29ZrA\u002bUsZSYKNSB0K8rFURcilmZ1j4yzhZJAG3MTNhS9adHFH6jRMi3eX\u002biEGNt2c64FfqoQykxJt74S7Emy9z8L9sH5AHFuEWR4Vy/kL6y3CefEzbdqbJ9Fe6gqvgXka6jpeCIZfTN81y0F2HMcpYfRW\u002[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-f7acc7b3-0dc7-00a7-6bb6-e803da06a5b7/test-blob-b326e587-a164-7317-3fce-7e2177ee9dae?comp=block\u0026blockid=dGVzdC1ibG9jay02YTkxNGQwYS04NmZmLTE3NTctNGNjZC1jOTllOWY3NDhmZjg%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-f7acc7b3-0dc7-00a7-6bb6-e803da06a5b7/test-blob-66c07775-0d8a-b621-83ca-c6f94f599953",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:53 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "J41pPxUuDZ5pQFMXTKFeQw==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-b2e0863f-337c-247a-5e9a-5c187fdd3742/test-blob-df3624bc-6e3f-af65-e7e6-69620c0d749c?comp=block\u0026blockid=dGVzdC1ibG9jay01ODhjNzI3Yy1iMmRhLWQzZWMtMGY4NS0wYjllMDIyZGYxZGU%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-b2e0863f-337c-247a-5e9a-5c187fdd3742/test-blob-3cd573fc-a090-1a0e-3d0f-45276d8eef69",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:53 GMT",
        "x-ms-source-if-modified-since": "Thu, 11 Jul 2019 17:53:53 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "lIml\u002bpojhrcNKWEN9yS9Gw==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6c9d8bf5-2aa1-6c44-48f9-bb2233e8130d/test-blob-95dc316c-607e-c320-49f6-0e708fc7a715?comp=block\u0026blockid=dGVzdC1ibG9jay1mMjVhN2MwYS02OWYxLTY3OTItN2JkMy1mODQwOWYwMzUyOTM%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-6c9d8bf5-2aa1-6c44-48f9-bb2233e8130d/test-blob-6da87f2d-1aef-2921-aa21-4be2004c2ab4",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:53 GMT",
        "x-ms-source-if-unmodified-since": "Sat, 13 Jul 2019 17:53:53 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "\u002bG\u002bqNm\u002bFeXh4W9utDw2YGA==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-633e7ba3-d850-75a5-4515-d93ff6a6b0e8/test-blob-5f7fdbac-d5bb-e78d-c91b-a83f5a3876fd",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:54 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "X4w90MhcIsDN2VpenLNxVA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D706F1E7A97AED\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:53 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 12 Jul 2019 17:53:53 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-633e7ba3-d850-75a5-4515-d93ff6a6b0e8/test-blob-8875952c-58a1-b4cb-c16b-060bab123e64?comp=block\u0026blockid=dGVzdC1ibG9jay04YWUwMGMyZS00MGI2LWQ1MzYtN2VhMS01NTkxMjExODM4YzY%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-633e7ba3-d850-75a5-4515-d93ff6a6b0e8/test-blob-5f7fdbac-d5bb-e78d-c91b-a83f5a3876fd",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:54 GMT",
        "x-ms-source-if-match": "\u00220x8D706F1E7A97AED\u0022",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "X4w90MhcIsDN2VpenLNxVA==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-65d03f33-2bc2-c874-12d9-86e8cbda04b9/test-blob-7fb97f7e-6fd0-64a3-5261-6bf6c4f0a508?comp=block\u0026blockid=dGVzdC1ibG9jay02MzAwNDFjMS1lYWFhLWNkNjMtNGY2Yy05OTNkOTc1OTgzY2U%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-65d03f33-2bc2-c874-12d9-86e8cbda04b9/test-blob-a53fb242-35a9-c69d-ba06-89d9f5da510d",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:54 GMT",
        "x-ms-source-if-none-match": "\u0022garbage\u0022",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "UCvu5Mn6\u002bvb2/N9VHVLaiw==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-65d03f33-2bc2-c874-12d9-86e8cbda04b9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:54 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-07-12T10:53:53.5543163-07:00",
    "RandomSeed": "993186878",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}