{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-15c135a6-7f09-7b10-335d-8cd6103e5680?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 21:11:09 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C149B9F9E871\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:11:09 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-15c135a6-7f09-7b10-335d-8cd6103e5680/test-blob-652a7e5e-d83c-0850-3e58-1545a793e1ae",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 21:11:09 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "RRXDfck1KCguVZpye2Dlvx0tVkV8ZCFDIoqkpwvfjy99V2qAscGWSqOZwwraoFfaFLMJr/TUMODzf1s\u002BkYAcTsVr9ST2ZA1clwuh4qEXaYEzypJY1d87qSaJjDFmV7kjfXREbqsy47ClrRjoMk4/3BXZCsftxHnmMEv9bdfc9T9SfmQs0/vWAebisijGUnbYSbAbjU3xNbj7XT5fNHXYyLjZlrPpEwgaAgnhChFRIN3VJSQnwWjxYUmrMXa8d8xwCupw7LvD7zanAIpDECunqj1gig9RsAdP5zVqPeGSXos9cP8n4TMiETXuf8DdrlAeBIc4W\u002By8H1riIASGWbFUFKL/BqArf8kKPn[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-15c135a6-7f09-7b10-335d-8cd6103e5680/test-blob-4f7b0247-8d31-7522-f680-b676aac5b1cc?comp=block\u0026blockid=dGVzdC1ibG9jay1mMmJhMmU5NS05MjkxLWViNTMtYTAzYy1iZjhlZDA5YTQzODc%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanstagetest.blob.core.windows.net/test-container-15c135a6-7f09-7b10-335d-8cd6103e5680/test-blob-652a7e5e-d83c-0850-3e58-1545a793e1ae",
        "x-ms-date": "Thu, 05 Mar 2020 21:11:09 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "lfXz/WLIOr0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-e09dfce7-2e58-801c-7637-beaf1a0a7a36/test-blob-2a044850-8d4f-f075-7fbf-5bd3e88abea1?comp=block\u0026blockid=dGVzdC1ibG9jay1jMzA3MTc4Yi0wMGRiLTZjOWMtNmY4Ny0xMmQ5MjRkMGEwYTk%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanstagetest.blob.core.windows.net/test-container-e09dfce7-2e58-801c-7637-beaf1a0a7a36/test-blob-b60ba1e5-2512-9c96-abba-8c7749914283",
        "x-ms-date": "Thu, 05 Mar 2020 21:11:10 GMT",
        "x-ms-source-if-modified-since": "Wed, 04 Mar 2020 21:11:09 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "lkNMkwP2IiU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-820712f9-4a43-885a-923e-a0848d8e1036/test-blob-ef76e623-5faa-4bd8-6168-394a79061101?comp=block\u0026blockid=dGVzdC1ibG9jay1jZGU0NzhiZS00NDY5LTJhZjMtNDRjZC03ODcyZGI2YWRlODk%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanstagetest.blob.core.windows.net/test-container-820712f9-4a43-885a-923e-a0848d8e1036/test-blob-17d621a4-e9b7-741f-56c5-59a9f1f33d38",
        "x-ms-date": "Thu, 05 Mar 2020 21:11:10 GMT",
        "x-ms-source-if-unmodified-since": "Fri, 06 Mar 2020 21:11:09 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "aWiuiczYt/c=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-1652a1cf-07e4-0e20-5af0-d3f2ee9331dd/test-blob-3669c0ea-f625-6d81-ca4e-0d36b084de87",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:11:11 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Q0XJbqqXh7EC7PlEKuTJ5g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C149BB53198A\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:11:11 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 05 Mar 2020 21:11:11 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-1652a1cf-07e4-0e20-5af0-d3f2ee9331dd/test-blob-3dcc9ae0-810a-1a5e-4d91-7b33ae221ca3?comp=block\u0026blockid=dGVzdC1ibG9jay1jODMyNGEwNS03Njk5LWZmZjktZmRhOS1lYTZjOWJjZWFhZmU%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanstagetest.blob.core.windows.net/test-container-1652a1cf-07e4-0e20-5af0-d3f2ee9331dd/test-blob-3669c0ea-f625-6d81-ca4e-0d36b084de87",
        "x-ms-date": "Thu, 05 Mar 2020 21:11:11 GMT",
        "x-ms-source-if-match": "\u00220x8D7C149BB53198A\u0022",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "MDqZ15F\u002Bv3I=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-63876939-ec52-50d5-f47d-0da22b1fdc15/test-blob-2f6ee023-ee4f-befe-6686-00f5c1efac1f?comp=block\u0026blockid=dGVzdC1ibG9jay01YTBkNmFhNS01ZDM1LWE1NmYtNGRlNy05ZThkZmY0ZWY0MGY%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanstagetest.blob.core.windows.net/test-container-63876939-ec52-50d5-f47d-0da22b1fdc15/test-blob-7c3658c3-455b-522f-51df-feaf0d57dc81",
        "x-ms-date": "Thu, 05 Mar 2020 21:11:12 GMT",
        "x-ms-source-if-none-match": "\u0022garbage\u0022",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "4I8Xm0uKQg0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-63876939-ec52-50d5-f47d-0da22b1fdc15?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:11:13 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-03-05T13:11:09.1497480-08:00",
    "RandomSeed": "976414183",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}