{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-58effc76-66c5-0eff-b1ce-2458c63032de?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:58:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D375FDD570D2\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:58:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-58effc76-66c5-0eff-b1ce-2458c63032de/test-blob-876e4852-b8f5-de0d-f879-abd55cd4b3a4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:58:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "8r/MfbISv0yO9FvS4xzra9Xl3TCjPh214LwB8cCS4z8jC/FjeXuLaNZAZczywj/ob/4GMt+f07OhFp32EM2M/BAcr9griPJZWnRZY9lRwx19GYLCjLBggzc9wWLdlVgJtGi71RNmvOcLrNhrRnDZT1OAePZLyXBgvCuh7saPfMQbUK5wlu0JF12att/Y9D3GY3EPXRxhver4WhnnxM4hezATT/XBablldmGZsRKQiMfu24pUgB6oupLDdzvTIlKOeDuvxKVHBPq4qua7xwzYaNJS+elEzfsRa5Rj/vF+kVQOCjjX4MMhptaPm9Y37fKF6w9ogShpSqtAnlkQ5AYIOhiSrL3UAIcPMFIStDEl2X6h[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-58effc76-66c5-0eff-b1ce-2458c63032de/test-blob-ce62db37-2a66-4256-4dab-25d301f85008?comp=block&blockid=dGVzdC1ibG9jay0xOGUxYmJlNy0wMTQ1LTM3ZTgtZTg4Yy1lYzMyNTRjMjMyZjc%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-58effc76-66c5-0eff-b1ce-2458c63032de/test-blob-876e4852-b8f5-de0d-f879-abd55cd4b3a4",
        "x-ms-date": "Wed, 17 Feb 2021 18:58:19 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "BcRXSAAYSN8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-58effc76-66c5-0eff-b1ce-2458c63032de?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:58:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "522641923",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}