{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-bd1f4ab0-c2a7-917a-43ac-43c8ba761605?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:52:54 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D760F60A2036\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:52:54 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-bd1f4ab0-c2a7-917a-43ac-43c8ba761605/test-blob-8c9a471d-73a2-d7d2-f01d-44f80c43f579",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:52:56 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "2RnH7wxgMM/ykT\u002BxuwEt\u002BFcKyADBQ7IJ5OUYRJiNDjajU55KhGYroInl4cEqcQgvYU90dX5S8ZZnvgomR\u002Bs3ZIMIDmdj4nPw3ih23GHw3nLd6eNIGJi4UGII48VcBFierXw\u002BIWOgzH7bg5ZW2xQ0dt\u002BXSV0H70zqUL0FW/\u002Buk9nP2C7lsbwPPB1lbJQCYXVN023mxbv6l74wVNGlm3B\u002BLfC8hgPmT8QihwxAoYK35\u002B5It4eSx84e1EFwtV3raqGs5j\u002BkRttyZ4Sowz2vuvU8eWziXOTp7GUhnbHCdZlnNh1qlLtDEqET1k8D6gSRbhp[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-bd1f4ab0-c2a7-917a-43ac-43c8ba761605/test-blob-fbf63661-b3ec-d49e-1def-a7b7b610329a?comp=block\u0026blockid=dGVzdC1ibG9jay1hZWI3MzU2OC01MmZhLWRmNWItMTIxMi1hODJkYzUyMDI1ZDY%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary.blob.core.windows.net/test-container-bd1f4ab0-c2a7-917a-43ac-43c8ba761605/test-blob-8c9a471d-73a2-d7d2-f01d-44f80c43f579",
        "x-ms-date": "Thu, 02 Apr 2020 23:52:56 GMT",
        "x-ms-source-content-md5": "4fPS9/9qClWa6zqlFEj3MQ==",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "4fPS9/9qClWa6zqlFEj3MQ==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-bd1f4ab0-c2a7-917a-43ac-43c8ba761605?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:52:56 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "179756627",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}