{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-43f9ebfa-4733-a5ca-5704-76f2b662da9b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:52:52 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D760F479A1FD\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:52:51 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-43f9ebfa-4733-a5ca-5704-76f2b662da9b/test-blob-38706fd1-99c9-dc79-0588-ff9842998f5f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:52:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "RhOxJAEiIyfz9o4/Bw4W\u002BmOxImrRWA6nJe3OA9YqZ\u002BGy6XV8q3vDrihpjZZw\u002BVJE0gJo6bHWhe4ECv8UVCBRyY\u002BtjR2Zmk7o7nNBZ8p4NiuaijDTwn4w22OHd6B8rloIGMQGw2w0qzizgPo9lR4jjNTTecnvfQYRfLG6EiKtaz8ZOE4FcXK/Zt74H0KD8kZFY\u002BvMqTWQGZq\u002B9Ua7epkVBRS6I1zPHRphFBPq9l3EjYlqdK434cIKiR\u002BzR3wsA\u002BtF4xktyM/pdUbRa5QhpSI8\u002Bme8UAbq3iRSr5k9G9WeNRAopBNElsS6gf5nZnUt6OT[...]
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-43f9ebfa-4733-a5ca-5704-76f2b662da9b/test-blob-f3c0800f-98aa-3e48-025c-515f0db10bad?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:52:53 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "57d6322d-87f1-7988-e9c8-04b184cd2731",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D760F52F1BCE\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:52:52 GMT",
        "x-ms-lease-id": "57d6322d-87f1-7988-e9c8-04b184cd2731",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-43f9ebfa-4733-a5ca-5704-76f2b662da9b/test-blob-f3c0800f-98aa-3e48-025c-515f0db10bad?comp=block\u0026blockid=dGVzdC1ibG9jay0xNmU2NmU1NC1iZjJiLWQ3ZGQtMzc5Zi1hOGViMmMyMDUxYzI%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary.blob.core.windows.net/test-container-43f9ebfa-4733-a5ca-5704-76f2b662da9b/test-blob-38706fd1-99c9-dc79-0588-ff9842998f5f",
        "x-ms-date": "Thu, 02 Apr 2020 23:52:53 GMT",
        "x-ms-lease-id": "57d6322d-87f1-7988-e9c8-04b184cd2731",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "fR9HBLqoPOw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-43f9ebfa-4733-a5ca-5704-76f2b662da9b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:52:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1677797431",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}