{
  "Entries": [
    {
      "RequestUri": "http://jamesschreppler.blob.core.windows.net/test-container-9468db89-2c63-548b-5aae-ec5582a7e24d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 Jun 2020 20:33:11 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D80CB45456D9CB\u0022",
        "Last-Modified": "Tue, 09 Jun 2020 20:33:12 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://jamesschreppler.blob.core.windows.net/test-container-9468db89-2c63-548b-5aae-ec5582a7e24d/test-\u03B2\u00A3\u00A9\u00FE\u203D%253A-c03ab298-5360-db41-638e-0729cdc08d8a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 09 Jun 2020 20:33:11 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "VCtgWPP7/48NJSwcW6v76fysvxNdQYi2ZYzESCPxg5t2UIssEFlLmnC6k59lRfG2qu3fEg29IhKjqvJnNrZrG6KQpQofztmiYSSio67oUCCaDZ42EnCNuS55iWVm5GS6T3f91J/nl9sTPLHoGn5kulnSzCgXNQkxAuvbpkV0PHzA6FM263yAs3bDItW/pJ\u002BwFc4LlBc7ohlty9G0DPCVnwA0KDIqLc/dURmxVBI0cl5MK5F2aKdlhUY6yR\u002BqzKeGLYPVinxshef/LkP\u002BiU0HOVlzaOBfHjdYz6Ps8GSvM4RyKyePXufh36apdzlkZ/v4Mo/FNmTGJg5MfbvZgJSDT/u\u002B[...]
    {
      "RequestUri": "http://jamesschreppler.blob.core.windows.net/test-container-9468db89-2c63-548b-5aae-ec5582a7e24d/test-blob-afdd3fd4-448e-ce5d-9cf6-fff6193a78bc?comp=block\u0026blockid=dGVzdC1ibG9jay1lM2NkNTIzYy00MzM2LWI1YTItMDhlMC1jZTljMDQyYzlhZGM%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://jamesschreppler.blob.core.windows.net/test-container-9468db89-2c63-548b-5aae-ec5582a7e24d/test-\u03B2\u00A3\u00A9\u00FE\u203D%253A-c03ab298-5360-db41-638e-0729cdc08d8a",
        "x-ms-date": "Tue, 09 Jun 2020 20:33:12 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "iShl0sKYdYw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://jamesschreppler.blob.core.windows.net/test-container-9468db89-2c63-548b-5aae-ec5582a7e24d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Jun 2020 20:33:12 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "287806187",
    "Storage_TestConfigDefault": "ProductionTenant\njamesschreppler\nU2FuaXRpemVk\nhttp://jamesschreppler.blob.core.windows.net\nhttp://jamesschreppler.file.core.windows.net\nhttp://jamesschreppler.queue.core.windows.net\nhttp://jamesschreppler.table.core.windows.net\n\n\n\n\nhttp://jamesschreppler-secondary.blob.core.windows.net\nhttp://jamesschreppler-secondary.file.core.windows.net\nhttp://jamesschreppler-secondary.queue.core.windows.net\nhttp://jamesschreppler-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://jamesschreppler.blob.core.windows.net/;QueueEndpoint=http://jamesschreppler.queue.core.windows.net/;FileEndpoint=http://jamesschreppler.file.core.windows.net/;BlobSecondaryEndpoint=http://jamesschreppler-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://jamesschreppler-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://jamesschreppler-secondary.file.core.windows.net/;AccountName=jamesschreppler;AccountKey=Sanitized\n"
  }
}