{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b3066ff2-09db-f6fd-71ee-a6e581d166c8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:58:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D375FD1B0E12\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:58:18 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b3066ff2-09db-f6fd-71ee-a6e581d166c8/test-blob-bc7d8ee4-8f04-ca1a-f44e-407251f6ad80",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:58:18 GMT"
      },
      "RequestBody": "xLdZMT4Ae3aoq\u002BP62A/zuO73f2pCVwkSUuRgJH14\u002B245UilKYM5wZZsZZhKGJJWEaUdgZ\u002BE8m22uRt5aoFf5MK91wIXmqVcfhhrOKfD2jC5O3Lo1F5SM/be7nBrwFsREIDZjEGMPnsDwQeHHbnJ8t7qwC8Ocwxgb6cPOKgw9L3BViQm6k3vKPj76RdayxI5FP\u002BVfQAoBqFwdRyegQXS0shFwcuRpwiM/5s2Fon5CaCQ1ieon3e9lVOGsnExTKf3KRZLEQlKq3H3BIFk9ewXe294Da7eJjdQiCh4CvCXW67zPu1zrfSbSiq1tZb2VKNjbzsFtUL5FQLi9oTc0px9X6jSdbb\u002Bp8l24MOAKGygXjeFFJu1jaZv9inqjL[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b3066ff2-09db-f6fd-71ee-a6e581d166c8/test-blob-cf394774-4951-7734-f0bf-95d532262f63?comp=block\u0026blockid=dGVzdC1ibG9jay00ZjkzZDg1OC00ZTM5LWQ2ZTAtMWViOC1mYWIwZWUxOGU2MTM%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-b3066ff2-09db-f6fd-71ee-a6e581d166c8/test-blob-bc7d8ee4-8f04-ca1a-f44e-407251f6ad80",
        "x-ms-date": "Wed, 17 Feb 2021 18:58:18 GMT",
        "x-ms-source-content-md5": "GHAMp295ZXsWMC38xcJYXw==",
        "x-ms-source-range": "bytes=0-",
         "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "GHAMp295ZXsWMC38xcJYXw==",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b3066ff2-09db-f6fd-71ee-a6e581d166c8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:58:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1815011192",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}