{
  "Entries": [
    {
      "RequestUri": "https://seanstageoauth.blob.core.windows.net/test-container-b8d7a2a0-9ccc-e7e8-d40a-5034840f384b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D91616FB1539A0\"",
        "Last-Modified": "Thu, 13 May 2021 13:57:00 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstageoauth.blob.core.windows.net/test-container-b8d7a2a0-9ccc-e7e8-d40a-5034840f384b/test-blob-3f04308c-20be-0da1-0159-f4fbe0f81207",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "YOEqt6AbZtC/99XoUfmqmttv11sWEIEdH4s3oaASxEq6fY9bD3dAQcIoadHURU6Pl5T1q8HNt1BfDJgU5MQvrDOKLtRpT4tjL5aY7aavSNk9qAkLHBmJ7cY//ALfK139+b2eSRd5JUgJknsqNMmpr8S+1zy7I48ZAUAOKlOJhAQ5m/TpEf7Cw4PBAoqdXrn9lUw+IFMhQtUthEjWa/r0gA138ZnVwJ7F+xO4+SAFfKKHEZQGSmSwGFgevIy27FiIzIJ9Jm0gKNWueCQ/aEm1KAilTlpl7jWpxthAtgQRDw+7MCyeh1U1Z+m/WNI/cLAPaZSEEZ39I95N1F+V33HRnGkUhDcdF6Cyb+dxpZViaVYoMU1vjf1yvQ1NULP2oId37rtoK+x48VLz0aG1jH1I6moJbK4jYQ9soc[...]
    {
      "RequestUri": "https://seanstageoauth.blob.core.windows.net/test-container-b8d7a2a0-9ccc-e7e8-d40a-5034840f384b/test-blob-6f919be9-0947-d26c-7a01-57fdc2cfe0c0?comp=block&blockid=dGVzdC1ibG9jay00M2MzYTEzOS1jNDU5LWY4MjQtMzlmMi01YjZkMTFkMTMyODY%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanstageoauth.blob.core.windows.net/test-container-b8d7a2a0-9ccc-e7e8-d40a-5034840f384b/test-blob-3f04308c-20be-0da1-0159-f4fbe0f81207",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "TQ0vjhQ7Kmw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstageoauth.blob.core.windows.net/test-container-b8d7a2a0-9ccc-e7e8-d40a-5034840f384b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1644349295",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanstageoauth\nU2FuaXRpemVk\nhttps://seanstageoauth.blob.core.windows.net\nhttps://seanstageoauth.file.core.windows.net\nhttps://seanstageoauth.queue.core.windows.net\nhttps://seanstageoauth.table.core.windows.net\n\n\n\n\nhttps://seanstageoauth-secondary.blob.core.windows.net\nhttps://seanstageoauth-secondary.file.core.windows.net\nhttps://seanstageoauth-secondary.queue.core.windows.net\nhttps://seanstageoauth-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanstageoauth.blob.core.windows.net/;QueueEndpoint=https://seanstageoauth.queue.core.windows.net/;FileEndpoint=https://seanstageoauth.file.core.windows.net/;BlobSecondaryEndpoint=https://seanstageoauth-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanstageoauth-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanstageoauth-secondary.file.core.windows.net/;AccountName=seanstageoauth;AccountKey=Sanitized\n\n\n"
  }
}