{
  "Entries": [
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-ee87ce3b-b0f5-8af9-05e5-533bfa39d4f7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 25 Apr 2020 01:11:00 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B5844AEAA9\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:11:00 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-ee87ce3b-b0f5-8af9-05e5-533bfa39d4f7/test-blob-5c97259e-69bb-b35d-1452-12200e9529e9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 25 Apr 2020 01:11:00 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "gcnnxt/gaXr6sXyubn1uLi34ODZYvdw8DJieqwEuoUFoivpS7/F7IllmHGm6ZUqQtZF4PPenX8PtqrpHQr15zBA6RuOCGz47fRbd8aFygaZNDfZvtmRKwCo2ZEQ2M\u002BCb7VBYfx9mDZlSPL7hym4ieygU\u002BTTHChar8IW5TLf6BEk1QQRQGQKH5wBdHHmmaPa7E\u002BkbIjqr1OM6rY\u002BZrMHhWDd0q4hq0mEmjRI0ae2cBYeP/jjO3uIPim0gFmxy7To\u002BfMRCMbxtUUGI9JUodmv1nqcHCq6JE3pVZSEbSbv0s5/X9ewpWdTLIa32RulN5xMBK3fFa\u002BOLtWlJ7M[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-ee87ce3b-b0f5-8af9-05e5-533bfa39d4f7/test-blob-1487516e-3a39-c2b2-d3c6-0397f577c131?comp=block\u0026blockid=dGVzdC1ibG9jay0yODgxYTVjMC0wZmZjLTIwZDktMTdlNS1kNTgwNmNiNWMyMTU%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://amandacanary.blob.core.windows.net/test-container-ee87ce3b-b0f5-8af9-05e5-533bfa39d4f7/test-blob-5c97259e-69bb-b35d-1452-12200e9529e9",
        "x-ms-date": "Sat, 25 Apr 2020 01:11:00 GMT",
        "x-ms-source-if-modified-since": "Sun, 26 Apr 2020 01:11:00 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-f7452880-486b-55f7-6799-f5a48d8596e7/test-blob-7f03502f-2f83-b33c-ba54-8d0dab04680c?comp=block\u0026blockid=dGVzdC1ibG9jay04NjZmNTViMS04YWQ3LTU4MzctZTc5YS1iN2E1MGI1MjgzYzQ%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://amandacanary.blob.core.windows.net/test-container-f7452880-486b-55f7-6799-f5a48d8596e7/test-blob-84804e38-07a0-7423-b9bd-e834837a0ab3",
        "x-ms-date": "Sat, 25 Apr 2020 01:11:00 GMT",
        "x-ms-source-if-unmodified-since": "Fri, 24 Apr 2020 01:11:00 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ECannotVerifyCopySource\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:727355ce-501e-003c-109e-1a0c6e000000\n",
        "Time:2020-04-25T01:11:00.7488476Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-4f575d48-08c0-521d-0b6b-0ce96901de0a/test-blob-afa3b8ef-b92d-2726-45db-afac8bc9841b?comp=block\u0026blockid=dGVzdC1ibG9jay1kNjZkYTVjYS04NTNiLTYwMDUtNzhiMy1iZDVmMmZiMzVmZDY%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://amandacanary.blob.core.windows.net/test-container-4f575d48-08c0-521d-0b6b-0ce96901de0a/test-blob-dda9e66e-c25a-c0e7-79e6-d0affc6f3723",
        "x-ms-date": "Sat, 25 Apr 2020 01:11:01 GMT",
        "x-ms-source-if-match": "\u0022garbage\u0022",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "SourceConditionNotMet",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ESourceConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe source condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:727355f1-501e-003c-2e9e-1a0c6e000000\n",
        "Time:2020-04-25T01:11:01.0796573Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-e6c6d914-3d38-25e5-9ac5-1f05dcfb50f0/test-blob-07f7c8dd-f770-0443-4450-404a74bf9a1e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:11:01 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "wNGQ6Y7fyFNzrEN7WMHYZQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7E8B584F09201\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:11:01 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 25 Apr 2020 01:11:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-e6c6d914-3d38-25e5-9ac5-1f05dcfb50f0/test-blob-22cb4d47-caf0-1819-a7bc-a28a58551739?comp=block\u0026blockid=dGVzdC1ibG9jay1kNWNhNTc4My00YTE3LTc3MjAtYTBlOC05NGI3NTQyNmQ2NjE%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://amandacanary.blob.core.windows.net/test-container-e6c6d914-3d38-25e5-9ac5-1f05dcfb50f0/test-blob-07f7c8dd-f770-0443-4450-404a74bf9a1e",
        "x-ms-date": "Sat, 25 Apr 2020 01:11:01 GMT",
        "x-ms-source-if-none-match": "\u00220x8D7E8B584F09201\u0022",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-e6c6d914-3d38-25e5-9ac5-1f05dcfb50f0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:11:01 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-24T18:11:00.1979918-07:00",
    "RandomSeed": "687558584",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttp://amandacanary.blob.core.windows.net\nhttp://amandacanary.file.core.windows.net\nhttp://amandacanary.queue.core.windows.net\nhttp://amandacanary.table.core.windows.net\n\n\n\n\nhttp://amandacanary-secondary.blob.core.windows.net\nhttp://amandacanary-secondary.file.core.windows.net\nhttp://amandacanary-secondary.queue.core.windows.net\nhttp://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandacanary.blob.core.windows.net/;QueueEndpoint=http://amandacanary.queue.core.windows.net/;FileEndpoint=http://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Sanitized\n\nDefaultEndpointsProtocol=https;AccountName=ortestsaccountcbn1;AccountKey=OrRfzSm3ktQSklAGiL90/QusS7SdS6Y5S/AJoxZEeyKYDtnue7OKYIMLOraTnT4xcOyhYbqzWVmtTKappcc5Fg==;EndpointSuffix=core.windows.net\nDefaultEndpointsProtocol=https;AccountName=vbalaorcentral1;AccountKey=vlHMz/LZ3Sx7r/1bdTQT26pG0tqORQ4uTIcxGhHB0LQhIhqGxfv2TXV7u\u002BI2ra4UWXrWGGHG2N6l\u002BBfb5FgAcQ==;EndpointSuffix=core.windows.net"
  }
}