{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-84420d48-8bce-e476-cf2c-4d49174fed0b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 04:01:05 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEEBF1862FB\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:01:05 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-84420d48-8bce-e476-cf2c-4d49174fed0b/test-blob-1c1e6fd9-277f-5fb7-9433-194611f28f34",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 11 Dec 2019 04:01:05 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "ynQOLE0ZzZGg7MxqHy\u002BOCcsPwM3VdBK9jKHRfObRzgmFnHzhuDTwb33o2Qz3HEDH48jQeO4R\u002BlViUJ\u002BsSFCrzx7D5YOzrFCXHlBQ7JoFxm9gCpgdAFUac6Emf2eURCcsPQruMze8Ezd3OVmewQ26XYowSz24jc7IqXHhjC3pAtopJK\u002BQFpI4pPZhpsb8fLKTayLdZPnpdK87JYrF2ocJjTZ\u002BdZ1eKkb396ZGVuYIyyy/TiALDJ7hP6//VPAIc8lvVxiQfgcVNUHb5mxSox3JM1pdBYxm/oGXnTXtX9VV7oTd1/7NeE0lqhjfLyUyj5yRNiGWqm08CFmX\u002BO[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-84420d48-8bce-e476-cf2c-4d49174fed0b/test-blob-011ab17f-7270-044c-49f8-1bb73f3d631c?comp=block\u0026blockid=dGVzdC1ibG9jay02MzM1MWEwNC01MGFmLWVmYTAtYjkzZi1lNWYzNzBmYTY1Njg%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://seanstagetest.blob.core.windows.net/test-container-84420d48-8bce-e476-cf2c-4d49174fed0b/test-blob-1c1e6fd9-277f-5fb7-9433-194611f28f34",
        "x-ms-date": "Wed, 11 Dec 2019 04:01:05 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Dki8R3mP\u002BNscfAJSn\u002BF5lDDN\u002BkpdI2AWfXS2Q5OXom0=",
        "x-ms-encryption-key-sha256": "TOqfOlhRsHPxpdid98opPI7sVsw8zcGTlpTaXA35RaA=",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "Xuk4j5Vs0ss=",
        "x-ms-encryption-key-sha256": "TOqfOlhRsHPxpdid98opPI7sVsw8zcGTlpTaXA35RaA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-84420d48-8bce-e476-cf2c-4d49174fed0b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:01:06 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1912019429",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}