{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6803aef4-46f9-e5cb-453a-26151b7f2e77?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:52 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1E6F992C2\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:52 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6803aef4-46f9-e5cb-453a-26151b7f2e77/test-blob-954682ff-f9bf-252c-3508-bc6963711d93",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:52 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "vYDBaiMUXcusY\u002bfvCc624o/ucYPBRrFKfSRqayKREApUnFebvsRTsZYmAKXCQdUv10Gq5clhyXbPd\u002bz/qvGoG1Pcmm12GyPLm8DtmkYLhzxPO5Th5ypB89PgzEfXVAakfeVR5aZnuLwd30oJdC4ww\u002b\u002bwr25dxzMom6ealU/c9Ea5SB1guaKW54LYwwfgN36ksAhXJqSYR7WxKUr\u002bzSNtQesDUCwQzwlNGsfshQQrSGMo9eVGhM2iIQBnr5BYlxpfa4Ic3OdSlOD\u002bCgzdq8KxheDm1tg9JrwdYS8rqSB59YKtjRmCDmt81WEFR3nAxXU\u002btSmvccFBI[...]
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6803aef4-46f9-e5cb-453a-26151b7f2e77/test-blob-652e43fc-7719-268b-8af3-5941ba4f3548?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:52 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "cbe273d3-0d31-a78c-4966-02758afb2dd4",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1E6FE6B51\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:52 GMT",
        "x-ms-lease-id": "cbe273d3-0d31-a78c-4966-02758afb2dd4",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6803aef4-46f9-e5cb-453a-26151b7f2e77/test-blob-652e43fc-7719-268b-8af3-5941ba4f3548?comp=block\u0026blockid=dGVzdC1ibG9jay04NWJkMDczOS01Y2Q0LTM0OWYtMWJmZS03NWM1ZDM2YWZlZmI%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-6803aef4-46f9-e5cb-453a-26151b7f2e77/test-blob-954682ff-f9bf-252c-3508-bc6963711d93",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:52 GMT",
        "x-ms-lease-id": "cbe273d3-0d31-a78c-4966-02758afb2dd4",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "eiAMNJuhX9pkwYf0de7HDw==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6803aef4-46f9-e5cb-453a-26151b7f2e77?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:52 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "546302608",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}