{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-800f8b5b-2952-0df7-e2b4-bc57aeaac55c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:56:12 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D7616BA8313E\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:56:11 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-800f8b5b-2952-0df7-e2b4-bc57aeaac55c/test-blob-34efd397-386f-8185-2154-eb3c020eef11",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:56:12 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "nWyr9XrA6AoYYKH\u002BBLSIphKpAyew8PA4MGaeepnTOGlpLqUYka2YlJ/uvAtER3JQxRCNzXHERKx8c8QTIW1wRCc4lNUPbxVkEG\u002BHwjPk8\u002BjzTbWIRmv3pOr4nB3ohXIxfXjkC7OdQVX7KLwCPIJ5mH/cH9O45/28QPDrFtL3fIv9VkS7AOg1VgxfjR6u9WhnfwSeDGWeeZV6KMrCsiqDBKsxBeY9vpiXpsnHWFrfDUuHg5fOWXAlXtyvQNcdcqTh3IhyfPCBKsBsBmab1yE6mhp/Oi6TtKo7C6YJjX3AejMl5XvRbZBaBljXYlIKiYe7dKW9nTd1TijeNnBKeJxCq4wydvGla[...]
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-800f8b5b-2952-0df7-e2b4-bc57aeaac55c/test-blob-9222d220-4716-d5b1-9f8b-dbe641df1e12?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:56:12 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "8e5fa528-5295-d51d-c73c-f2da076def05",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D7616BC504ED\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:56:11 GMT",
        "x-ms-lease-id": "8e5fa528-5295-d51d-c73c-f2da076def05",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-800f8b5b-2952-0df7-e2b4-bc57aeaac55c/test-blob-9222d220-4716-d5b1-9f8b-dbe641df1e12?comp=block\u0026blockid=dGVzdC1ibG9jay1jMjZkYTExNC03YzA3LTg0ZGUtMDQ3My1mYmYzODI2NzU0MDY%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary.blob.core.windows.net/test-container-800f8b5b-2952-0df7-e2b4-bc57aeaac55c/test-blob-34efd397-386f-8185-2154-eb3c020eef11",
        "x-ms-date": "Thu, 02 Apr 2020 23:56:13 GMT",
        "x-ms-lease-id": "8e5fa528-5295-d51d-c73c-f2da076def05",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "ZvIAFoaRVRI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-800f8b5b-2952-0df7-e2b4-bc57aeaac55c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:56:13 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1149572033",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}