{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-f7edfe80-52a3-23a3-722a-9513e8502a1e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:15 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1F4A8AE8F\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:54:15 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-f7edfe80-52a3-23a3-722a-9513e8502a1e/test-blob-a1f17ff3-994b-b79e-6222-840da13328ae",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:15 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "Ertv6i5u9twFRc9MBsN\u002bhC\u002bvaCjIa4EBA6hN\u002ba1E\u002bvYAygAt4EDvkVj1j6qurj7mLCAveBMBAqc5bueGIf0vwErZTDzCUKTvwNfQ09vWUlRpZs2MFYLi/8hZ83JYaXBaxc5f1GICJNt7QLg8MC7LYhuTHLowoqvI901zaV0yllZmdg0Ndn3xZkLxENXJpc6ZjZBWxU22KSMjl90Vj7t9Sali1rogvuueobZ4PpHV/lJ\u002b2dvM29AJsEzq6d\u002bg29eHdMcrZ88Uec\u002bkuCOWPuqSTZiLl7XgsW3ZWSVtNtQM/cbf8MrKqZeCamALJyOscnJhWJxGFUQip[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-f7edfe80-52a3-23a3-722a-9513e8502a1e/test-blob-11b4b83b-d5d6-ccd7-f3c7-5bcbc1242a93?comp=block\u0026blockid=dGVzdC1ibG9jay1kNWI5NTc0MC03N2IwLTVkMjctZTRiYy01MDc4YWNjNTZjYzE%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-f7edfe80-52a3-23a3-722a-9513e8502a1e/test-blob-a1f17ff3-994b-b79e-6222-840da13328ae",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:15 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "NaNL7Xer2Yy\u002bdjLmgpSqqQ==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-e16f995b-4152-2914-7ee8-393162be2415/test-blob-eeac97fb-54f5-2d64-f069-9cafac5f138c?comp=block\u0026blockid=dGVzdC1ibG9jay1kMWFjMWY5NS1mNjdlLWY4ODgtOTdjNC03Yzc2OTQ1ODM1MWI%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-e16f995b-4152-2914-7ee8-393162be2415/test-blob-388867f0-0b42-7f2d-06cf-905c110b9768",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:15 GMT",
        "x-ms-source-if-modified-since": "Thu, 11 Jul 2019 17:54:15 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "tjPAkaS8nZtP8VfuXwf2Hw==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-f5788133-99ff-ec2d-ad21-7503d78b9d77/test-blob-2466afb6-33be-eb91-e946-80a404b46d76?comp=block\u0026blockid=dGVzdC1ibG9jay1kNjFjNzM5Mi1kMWI1LTQ1YTAtOTAwOS0zODI0ZjZjMTAwOWM%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-f5788133-99ff-ec2d-ad21-7503d78b9d77/test-blob-36d8f3b5-17be-072e-4ed9-c366d83351cb",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:15 GMT",
        "x-ms-source-if-unmodified-since": "Sat, 13 Jul 2019 17:54:15 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "YMaAyejPefgM\u002bczuzcsBXw==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-2252e346-4405-65a9-676c-e2abb77456d1/test-blob-f8b2b04e-f1b0-cfb0-9bad-bde71af522f7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:16 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "hLHp1W2\u002bzAVzNVTvIgl66g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D706F1F4D02DA8\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:54:16 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 12 Jul 2019 17:54:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-2252e346-4405-65a9-676c-e2abb77456d1/test-blob-a53086c6-9e6e-1f94-63ec-9e9d3a46ad09?comp=block\u0026blockid=dGVzdC1ibG9jay1hNGY1Njc0ZS0wMzdkLTM0M2YtMDc5Ny1hOTVjZTczZjIyZjc%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-2252e346-4405-65a9-676c-e2abb77456d1/test-blob-f8b2b04e-f1b0-cfb0-9bad-bde71af522f7",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:16 GMT",
        "x-ms-source-if-match": "\u00220x8D706F1F4D02DA8\u0022",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "hLHp1W2\u002bzAVzNVTvIgl66g==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-bb39a6c9-12a1-94a8-80a0-c2254874e511/test-blob-148f26f2-2f3b-cd1e-e537-b74857f58388?comp=block\u0026blockid=dGVzdC1ibG9jay0yNzBiYmQ1NC04MTgyLWM4MzktMGI1NC1iMTE5ZGU1MjA0MDI%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-bb39a6c9-12a1-94a8-80a0-c2254874e511/test-blob-6158579f-f921-40d4-eb22-c807091ea005",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:16 GMT",
        "x-ms-source-if-none-match": "\u0022garbage\u0022",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "16CHruKshDnQmYJV4y2U4g==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-bb39a6c9-12a1-94a8-80a0-c2254874e511?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:16 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-07-12T10:54:15.7907891-07:00",
    "RandomSeed": "1012892561",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}