{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-b3066ff2-09db-f6fd-71ee-a6e581d166c8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Jul 2019 02:07:25 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B83126C50\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:07:25 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-b3066ff2-09db-f6fd-71ee-a6e581d166c8/test-blob-72b75ef3-18d3-9685-de21-c7a20a6d88d1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Jul 2019 02:07:25 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "ZRePDr5qH26TXf9PX2Gn3cS3WTE\u002bAHt2qKvj\u002btgP87ju939qQlcJElLkYCR9ePtuOVIpSmDOcGWbGWYShiSVhGlHYGfhPJttrkbeWqBX\u002bTCvdcCF5qlXH4Yazinw9owuTty6NReUjP23u5wa8BbERCA2YxBjD57A8EHhx25yfLe6sAvDnMMYG\u002bnDzioMPS9wVYkJupN7yj4\u002b\u002bkXWssSORT/lX0AKAahcHUcnoEF0tLIRcHLkacIjP\u002bbNhaJ\u002bQmgkNYnqJ93vZVThrJxMUyn9ykWSxEJSqtx9wSBZPXsF3tveA2u3iY3UIgoeArwl1uu8z7tc[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-b3066ff2-09db-f6fd-71ee-a6e581d166c8/test-blob-3e1c3b68-6c9d-bd9d-262e-5cf39a90f668?comp=block\u0026blockid=dGVzdC1ibG9jay01ZWJkMDJkZi05MjlmLTYzMWMtNDRlZC03ZDg1ZDcxMjQ1ZTc%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-b3066ff2-09db-f6fd-71ee-a6e581d166c8/test-blob-72b75ef3-18d3-9685-de21-c7a20a6d88d1",
        "x-ms-date": "Wed, 17 Jul 2019 02:07:25 GMT",
        "x-ms-source-content-md5": "//hfTW9ViQaHgJyV3FArgw==",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "//hfTW9ViQaHgJyV3FArgw==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-b3066ff2-09db-f6fd-71ee-a6e581d166c8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:07:25 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1815011192",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}