{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-ec7e1553-d6a1-219a-ea2f-478b58d5146c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 10 Jun 2020 19:57:21 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D80D787D240884\u0022",
        "Last-Modified": "Wed, 10 Jun 2020 19:57:21 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-ec7e1553-d6a1-219a-ea2f-478b58d5146c/test-\u03B2\u00A3\u00A9\u00FE\u203D%253A-89b7487f-01c6-d91b-1e0b-6ce93377ce2f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 10 Jun 2020 19:57:21 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "2eAdq5WvVldSsEVldKBhV7wih7u33OP6oQLdTYFhkSUZ4x/fdMePVEXF5dje2OOIPSKkGflnxv39IgmS0QnW8R4fTJGBgeL0kzJ18vcKHMkfVA9fvHgssRwi4lK9/II87/S5v4tRBrw/r4XH8dQF8gZAc335dzSm85p0Xp6QN5avOQICUVw9zU1TIA3yZb9IHPBLfYkFQnjAEsvx3KgdrnjuF7jRA6GqAqUvpVYntI7bLEKtRboNqveKQj6RTPGlNXKUA00HdxlOoXrk1pwhmF49FbBlcGi\u002B4WzBRsBjGba0iXDkkrBA1LUoXqQ/KdNaaanfUzZAQMUJ1iHhRTBZ64jDMEwsPAat/UH6PRH[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-ec7e1553-d6a1-219a-ea2f-478b58d5146c/test-blob-bcec32c0-ae20-3c5b-401b-2e5b24a1cc8d?comp=block\u0026blockid=dGVzdC1ibG9jay02NDAxZjU2ZC1kMTEyLTExOTQtZTkwNi04MjlmNzZjOGI2M2Q%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary.blob.core.windows.net/test-container-ec7e1553-d6a1-219a-ea2f-478b58d5146c/test-\u03B2\u00A3\u00A9\u00FE\u203D%253A-89b7487f-01c6-d91b-1e0b-6ce93377ce2f",
        "x-ms-date": "Wed, 10 Jun 2020 19:57:21 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "tUMkSUKO81Q=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-ec7e1553-d6a1-219a-ea2f-478b58d5146c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Jun 2020 19:57:21 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "402474866",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}