{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-1efffe0e-d6c9-6605-ab31-67f90831cd46?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:53 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1E72DF5F3\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:53 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-1efffe0e-d6c9-6605-ab31-67f90831cd46/test-blob-b5e43616-e9be-6006-5822-00c4b78719dc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:53 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "KjH1ItUEyHSVmqiWYoT86VyrOXfR\u002butxRnIAqbAYQvDnRs/XPKtwiHfL1enzIiqZIjyQd4LSTzBFg9xjAx7DfVe4rhy0Ja2xOrAABiUCfiRIZ4d0iMttFfefkrnODYVYB1eROnMO5P2O3jzR0UkKQgS4G5uXT/SMSpkkFZL04i0rqP7NcEOwOYOJ5amOnEOulE\u002b0FvLpwLdjBe/a6c5qmvwPpSlKPdHAB\u002bEYDWpL/a5WdoFDP8s7QudGamtU1VC0H0usf/YZY1Z\u002b9A4R0LNNFwhBhHJNJ1ow1GNCBNNmbDKQZO0fnn24PBIqxEu8KnE0\u002bVJiE1HdZ/jwe6uS11\[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-1efffe0e-d6c9-6605-ab31-67f90831cd46/test-blob-b495f582-3aa5-dbbf-9067-a1b8df965b94?comp=block\u0026blockid=dGVzdC1ibG9jay03MmUyN2I2YS0xMDRkLWUwZDEtNzZlYy0zZjY1Zjc2OTU1MTM%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-1efffe0e-d6c9-6605-ab31-67f90831cd46/test-blob-b5e43616-e9be-6006-5822-00c4b78719dc",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:53 GMT",
        "x-ms-source-content-md5": "rnU3vFp7MOXYtg7ThhwHAw==",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "rnU3vFp7MOXYtg7ThhwHAw==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-1efffe0e-d6c9-6605-ab31-67f90831cd46?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:53 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1942132873",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}