{
  "Entries": [
    {
      "RequestUri": "https://seanstageoauth.blob.core.windows.net/test-container-4f2ae88e-4f44-0cc6-77d0-275758713f45?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91616FB824391\u0022",
        "Last-Modified": "Thu, 13 May 2021 13:57:01 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstageoauth.blob.core.windows.net/test-container-4f2ae88e-4f44-0cc6-77d0-275758713f45/test-blob-ee59b053-fc2c-932b-d029-c558311b66d7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "ntExSRO3qgvwfVtkbNo0Kz9Xof\u002B0IbUEXagYrWJ0iTAiAE0GGki8/q6yLBE6kpmuYPREzCK9Ln0bLOxqn/yofPQqQmyMLhH2mqNQAfSjysoOaU1uL7wOZNLQ6\u002B5bUV\u002BxCa8dD08sITLjTTJ\u002BbCyId2EhWzWvOk04HN6au0Mjm0hEn/hFhrt74kgai\u002BGJj/elSHOMOvUpAs5i5fNxkmXvv7LpOs0zQ/GmpnnslK9rrozm9HPPlmFSGpwp4qDICU/iK8svoFUpcgWC5pN7PG0f9zdmip3yHylRlh8xCmBQ3ZwqCmnkPA03vIJuTLDN190vCutpYX\u002Bx7wuh3Qk1\u002BGekMgj3UTIEO7opL84bhNN5hL9CAgB15nwdeBpdQl4DAsQ[...]
    {
      "RequestUri": "https://seanstageoauth.blob.core.windows.net/test-container-4f2ae88e-4f44-0cc6-77d0-275758713f45/test-blob-eaacccae-bb19-4e4a-a7a1-b5218678f18b?comp=block\u0026blockid=dGVzdC1ibG9jay0zOTQwYzdkNi1mMzA5LTA3ZTMtMDBmNS0xNGY2NzExMWVhZjU%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanstageoauth.blob.core.windows.net/test-container-4f2ae88e-4f44-0cc6-77d0-275758713f45/test-blob-ee59b053-fc2c-932b-d029-c558311b66d7",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ECannotVerifyCopySource\u003C/Code\u003E\u003CMessage\u003EAuthentication information is not given in the correct format. Check the value of Authorization header.\n",
        "RequestId:ed84a7e7-501e-0003-59ff-47a3d1000000\n",
        "Time:2021-05-13T13:57:01.5954715Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanstageoauth.blob.core.windows.net/test-container-4f2ae88e-4f44-0cc6-77d0-275758713f45?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1709790977",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanstageoauth\nU2FuaXRpemVk\nhttps://seanstageoauth.blob.core.windows.net\nhttps://seanstageoauth.file.core.windows.net\nhttps://seanstageoauth.queue.core.windows.net\nhttps://seanstageoauth.table.core.windows.net\n\n\n\n\nhttps://seanstageoauth-secondary.blob.core.windows.net\nhttps://seanstageoauth-secondary.file.core.windows.net\nhttps://seanstageoauth-secondary.queue.core.windows.net\nhttps://seanstageoauth-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanstageoauth.blob.core.windows.net/;QueueEndpoint=https://seanstageoauth.queue.core.windows.net/;FileEndpoint=https://seanstageoauth.file.core.windows.net/;BlobSecondaryEndpoint=https://seanstageoauth-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanstageoauth-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanstageoauth-secondary.file.core.windows.net/;AccountName=seanstageoauth;AccountKey=Sanitized\n"
  }
}