{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-c813254d-b43e-e707-37ec-9a3eb5d09193?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:56:11 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D7616B47840E\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:56:10 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-c813254d-b43e-e707-37ec-9a3eb5d09193/test-blob-d8f3b0ad-c234-c14f-472d-60c2bb683264",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:56:11 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "GKXaVqIoXjwsB48sJOSZSDC6Fyta3tomI4fvk0oZUHBrgQuoFGQ9/io6h7ESBo61sX6vAbB7tDnKtDIbOcvxErYfwaLY8TTLfBkAIFYpEx34OeHMaU6/8M3R3V8xIcRfSHT68kTs3MBJ44WWepPjoaAVI//qJahoYNHVBhTUmVpVodjiLyDZDF0ggobJKHU57ju/HP7EdCPLkZJzFtWrdEkqQdm7AHF/PBeiyaIinzdbnBjYFX1bkCy0Fp6NZfWHdQ08nuacfe3KP\u002BDnIquAqfJbF3q901/MzrGsBurT8dYhGlSV5QFRvx4qDdacdG2ANG2rMk56yqKucM8073YD900KxQhX6sPxClhbksW[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-c813254d-b43e-e707-37ec-9a3eb5d09193/test-blob-c5235d1a-0b6b-01c9-f10f-d4d0a3b28c30?comp=block\u0026blockid=dGVzdC1ibG9jay1jYjE1OGJiYi0wMjM4LTg5NWItYzI3YS1jMGE2YThmZjU5ZTc%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary.blob.core.windows.net/test-container-c813254d-b43e-e707-37ec-9a3eb5d09193/test-blob-d8f3b0ad-c234-c14f-472d-60c2bb683264",
        "x-ms-date": "Thu, 02 Apr 2020 23:56:11 GMT",
        "x-ms-encryption-scope": "seanscope1",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "yfY2hhS5Gaw=",
        "x-ms-encryption-scope": "seanscope1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-c813254d-b43e-e707-37ec-9a3eb5d09193?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:56:11 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1731364785",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}