{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-58effc76-66c5-0eff-b1ce-2458c63032de?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 04:01:36 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEED1AF2393\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:01:36 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-58effc76-66c5-0eff-b1ce-2458c63032de/test-blob-876e4852-b8f5-de0d-f879-abd55cd4b3a4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 11 Dec 2019 04:01:37 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "8r/MfbISv0yO9FvS4xzra9Xl3TCjPh214LwB8cCS4z8jC/FjeXuLaNZAZczywj/ob/4GMt\u002Bf07OhFp32EM2M/BAcr9griPJZWnRZY9lRwx19GYLCjLBggzc9wWLdlVgJtGi71RNmvOcLrNhrRnDZT1OAePZLyXBgvCuh7saPfMQbUK5wlu0JF12att/Y9D3GY3EPXRxhver4WhnnxM4hezATT/XBablldmGZsRKQiMfu24pUgB6oupLDdzvTIlKOeDuvxKVHBPq4qua7xwzYaNJS\u002BelEzfsRa5Rj/vF\u002BkVQOCjjX4MMhptaPm9Y37fKF6w9ogShpSqtAnlkQ5AYIOhiSrL3UA[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-58effc76-66c5-0eff-b1ce-2458c63032de/test-blob-ce62db37-2a66-4256-4dab-25d301f85008?comp=block\u0026blockid=dGVzdC1ibG9jay0xOGUxYmJlNy0wMTQ1LTM3ZTgtZTg4Yy1lYzMyNTRjMjMyZjc%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://seanstagetest.blob.core.windows.net/test-container-58effc76-66c5-0eff-b1ce-2458c63032de/test-blob-876e4852-b8f5-de0d-f879-abd55cd4b3a4",
        "x-ms-date": "Wed, 11 Dec 2019 04:01:37 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "BcRXSAAYSN8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-58effc76-66c5-0eff-b1ce-2458c63032de?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:01:37 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "522641923",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}