{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3ecac4cc-c308-6873-79bb-57f0b7c3c7cd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:58:40 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3760A9D3628\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:58:41 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3ecac4cc-c308-6873-79bb-57f0b7c3c7cd/test-blob-ef6ab774-ff9b-3f74-e795-106293d068e6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:58:41 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "DpX0LWE5mdPwnVw5Go/aJGfqFIqxvHS4dxQmcaJ19pq3VT2I0iJiOx2W//6iOyVXuuz6qbvdNVEhPLVNEygxeqbBgcRSUlFFh9ltGr11FTzvz7e1ek3f2iDrZ5ZtFSj1ZYRY4LlgBWeatSLhbxqUqyZ4XURwewBZ4qajZuu62HKxd7U4HTSDjspPG8Ur/WoGV7tv9LfkhOmE//4SvJ574NyvMPhkXI7y9c55IGA6LuQ7nQ4vSuO6zfLMtB01cNIr1Droe81yofstff/pamSIStEa1x\u002BPS5X59WMFmKdwvIX8TkwlUbIXyPsTAs3k0WKOQ2pMG5mym4il74VpbQhTvMF67BsXY/geAg4kfEn[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3ecac4cc-c308-6873-79bb-57f0b7c3c7cd/test-blob-0d54ecb7-b206-8ad7-6b1f-3c4c1dc74fc4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-3ecac4cc-c308-6873-79bb-57f0b7c3c7cd/test-blob-ef6ab774-ff9b-3f74-e795-106293d068e6",
        "x-ms-date": "Wed, 17 Feb 2021 18:58:41 GMT",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3760BBD7307\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:58:42 GMT",
        "x-ms-content-crc64": "U\u002BY5i8rPCmE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T18:58:42.9491975Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3ecac4cc-c308-6873-79bb-57f0b7c3c7cd/test-blob-0d54ecb7-b206-8ad7-6b1f-3c4c1dc74fc4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:58:42 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "/zm5dz1\u002BXI56H0g2hL90JA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D3760BBD7307\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:58:42 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:58:42 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:58:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T18:58:42.9491975Z"
      },
      "ResponseBody": "DpX0LWE5mdPwnVw5Go/aJGfqFIqxvHS4dxQmcaJ19pq3VT2I0iJiOx2W//6iOyVXuuz6qbvdNVEhPLVNEygxeqbBgcRSUlFFh9ltGr11FTzvz7e1ek3f2iDrZ5ZtFSj1ZYRY4LlgBWeatSLhbxqUqyZ4XURwewBZ4qajZuu62HKxd7U4HTSDjspPG8Ur/WoGV7tv9LfkhOmE//4SvJ574NyvMPhkXI7y9c55IGA6LuQ7nQ4vSuO6zfLMtB01cNIr1Droe81yofstff/pamSIStEa1x\u002BPS5X59WMFmKdwvIX8TkwlUbIXyPsTAs3k0WKOQ2pMG5mym4il74VpbQhTvMF67BsXY/geAg4kfE[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-728997b0-fb8a-e1d9-4685-7be8a54a22d7/test-blob-34febb22-71f7-4ee5-8ec9-050a86c3eef3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-728997b0-fb8a-e1d9-4685-7be8a54a22d7/test-blob-986e81b6-115c-171c-471d-5f428af0ff09",
        "x-ms-date": "Wed, 17 Feb 2021 18:58:43 GMT",
        "x-ms-source-if-match": "",
        "x-ms-source-if-modified-since": "Tue, 16 Feb 2021 18:58:40 GMT",
        "x-ms-source-if-none-match": "",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3760C14F1EE\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:58:43 GMT",
        "x-ms-content-crc64": "PHyJPEjLxns=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T18:58:43.5226094Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-448bca89-8943-7e52-32f9-41252e0633ad/test-blob-07319707-117e-2f1c-7ed4-e8987f904848",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-448bca89-8943-7e52-32f9-41252e0633ad/test-blob-9e61a530-ae9d-5c4e-bc1b-bfdbe8f81bd1",
        "x-ms-date": "Wed, 17 Feb 2021 18:58:44 GMT",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
        "x-ms-source-if-unmodified-since": "Thu, 18 Feb 2021 18:58:40 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3760C71A1E7\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:58:44 GMT",
        "x-ms-content-crc64": "8mcpI2c3P1s=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T18:58:44.1310460Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b403c0b9-bd0c-35d4-382e-76df0431cf28/test-blob-617980f4-912f-8c86-662e-39d38606ef35",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:58:44 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "y484FGXNnrcyEAQh5l2u1g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D3760CB98D6D\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:58:44 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:58:44 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:58:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T18:58:44.6013805Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-09815e8d-b5ec-4c6a-bc19-68968de709d8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:58:45 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T12:58:40.8027400-06:00",
    "RandomSeed": "878201016",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}