{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4774c40d-c676-b466-f2e6-592ca5531192?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 01 Dec 2020 22:36:58 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D896499D5DF783\u0022",
        "Last-Modified": "Tue, 01 Dec 2020 22:36:58 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4774c40d-c676-b466-f2e6-592ca5531192/test-blob-d432fb56-0d49-f580-87a8-7070fb4f7acf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 01 Dec 2020 22:36:59 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D896499D76BE8E\u0022",
        "Last-Modified": "Tue, 01 Dec 2020 22:36:59 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-12-01T22:36:59.1509134Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4774c40d-c676-b466-f2e6-592ca5531192/test-blob-d432fb56-0d49-f580-87a8-7070fb4f7acf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-4774c40d-c676-b466-f2e6-592ca5531192/test-blob-782bfa0a-e574-0fd1-10fe-dcff307090b7",
        "x-ms-date": "Tue, 01 Dec 2020 22:36:59 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D896499D8F2D0B\u0022",
        "Last-Modified": "Tue, 01 Dec 2020 22:36:59 GMT",
        "x-ms-content-crc64": "AUR94cmkNws=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-12-01T22:36:59.3130288Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4774c40d-c676-b466-f2e6-592ca5531192/test-blob-d432fb56-0d49-f580-87a8-7070fb4f7acf",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 01 Dec 2020 22:36:59 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "G3D8v6GHae50uuLr03AzJw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D896499D8F2D0B\u0022",
        "Last-Modified": "Tue, 01 Dec 2020 22:36:59 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 01 Dec 2020 22:36:59 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 01 Dec 2020 22:36:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-12-01T22:36:59.3130288Z"
      },
      "ResponseBody": "gwz6QoRmqD8RHtZOG20ftUbaYbFCemdpj\u002B6v2SYdoJ3nMY7J1x4SqKLN7knGD\u002BEMFjqFmQBifwmlkLOVts4Y9H44Z\u002BnfVt0nyLgOdIseo4ANo8PrlwadhLKFJEdrfPLTtPnLjaf3LL9dXtFHUwp9h\u002B0yiBILLV13m\u002BI3WjGWu0vGO7\u002BSUhXYFXYDjjg0VTGnB51ZOfPfyIecU/HEwNKOxqKFgBhK6zTXWXOcB54kQ0axj1KUPYJY53I49v8kE1SjdceWrtQYXBtogd9/QsDodxCrEzCA\u002BYkgLZmlEvU1s0Ye\u002BJLXjpRxmTI3K7uj2KSyT37[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4774c40d-c676-b466-f2e6-592ca5531192?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 01 Dec 2020 22:36:59 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1013859728",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n"
  }
}