{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0833af1b-2490-0c31-0368-fe76b220c2a9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 01 Dec 2020 23:08:25 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8964E01E00BE8\u0022",
        "Last-Modified": "Tue, 01 Dec 2020 23:08:25 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0833af1b-2490-0c31-0368-fe76b220c2a9/test-blob-05fd3a90-ddfe-01fb-20ac-e1cad25cfced",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 01 Dec 2020 23:08:25 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "TUZD1RimtPwM9kLwPZeP9lsEurnozuMxLQitzVf42QgrPnyMGCbVFJaenTEdHLfBoZCoI13HuX5iEqgP\u002BealFBw5xf4aAt00LqYjSTGyExFR6yzHULarY4T\u002BKgV\u002Bxhuv\u002BYkU41e5pp6yc/S3pHBNsP6Wvg263sRmjmF5HNfYtmeLc1CnnTC5l0SNFNzB874UsHkH5wgN9RvErlT2QIrH2ryMLDEfpRLO3SbILMnnpJuiZGtd0c9ffX414\u002B/bw1e6xjofNMaN9QpnOAnhRMlR3Am5U9seaQntLa6z6sIj8hrPDmWOyHDUFW9h9pjFfTm04wflIXB7m10xMQcY2gp[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0833af1b-2490-0c31-0368-fe76b220c2a9/test-blob-aa9b4bbb-5f27-f40c-5830-8603271881a2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-0833af1b-2490-0c31-0368-fe76b220c2a9/test-blob-05fd3a90-ddfe-01fb-20ac-e1cad25cfced",
        "x-ms-date": "Tue, 01 Dec 2020 23:08:25 GMT",
        "x-ms-encryption-scope": "testscope1",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8964E039C2989\u0022",
        "Last-Modified": "Tue, 01 Dec 2020 23:08:28 GMT",
        "x-ms-content-crc64": "Y2HWw3Cvs\u002Bs=",
        "x-ms-encryption-scope": "testscope1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-12-01T23:08:28.5106569Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0833af1b-2490-0c31-0368-fe76b220c2a9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 01 Dec 2020 23:08:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1427514370",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\ntestscope1"
  }
}