{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-18fa7d2a-09cc-98aa-2fde-f35ad65dd16a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:35:03 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2ECA174F032\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:35:03 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-18fa7d2a-09cc-98aa-2fde-f35ad65dd16a/test-blob-d101238b-b030-ebc1-51c9-944c4914bf58",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:35:03 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D8D2ECA17E58A5\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:35:03 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:35:03.6452005Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-18fa7d2a-09cc-98aa-2fde-f35ad65dd16a/test-blob-d101238b-b030-ebc1-51c9-944c4914bf58",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-18fa7d2a-09cc-98aa-2fde-f35ad65dd16a/test-blob-7a0e66e6-78dd-4829-5507-68d7057fabd1",
        "x-ms-date": "Wed, 17 Feb 2021 02:35:03 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2ECA1A82F76\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:35:03 GMT",
        "x-ms-content-crc64": "iR5RSG2Z/LU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:35:03.9203974Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-18fa7d2a-09cc-98aa-2fde-f35ad65dd16a/test-blob-d101238b-b030-ebc1-51c9-944c4914bf58",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:35:03 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "\u002BUfGJ5rjyk2ruf88L6XJ/A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2ECA1A82F76\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:35:03 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 02:35:03 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 02:35:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:35:03.9203974Z"
      },
      "ResponseBody": "HcJPawkJg78Kc99JcLDebWK3YCS6jSzy2Pi7HKsyU7CtNVqnmDmobV0GEzEqvKJJ2w3HkInBF5CWXZMQTmcU2B8umzpWNtUpDvPGtHn7xxxWcUCda8Mn7B7KETqllx/28TsR/CBn86Q4nYGV\u002B2MWmpZ2utwmdm1cB68ciySag3bUz8I96cr77n2cZM1BkfG6tHakLt1C0HrOtfVxSmiAnhoLwSug2LDLe8xfiRKfG3W\u002BYdat9VSZkf9HbzTViaMUG8azNtDGGtvG2LMR40ZoLpl/s\u002BmR0qjFcTArWGl89fEoSm5M7OSl\u002BEf75xyhiK6430CaVta6g0kd7cSgmsFxSeP[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5c7bdf94-5422-28a8-448a-7105f6818bb6/test-blob-2b7d9d8a-3f03-0da2-12aa-9de7f936f3e3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 16 Feb 2021 02:35:03 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-5c7bdf94-5422-28a8-448a-7105f6818bb6/test-blob-f3a9109b-bac1-b500-e7be-5c2e333e4c37",
        "x-ms-date": "Wed, 17 Feb 2021 02:35:04 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2ECA20071C1\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:35:04 GMT",
        "x-ms-content-crc64": "RGxPEPQ2ggo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:35:04.4988113Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4e74979e-46fe-ed25-84c2-a0bfcca3a51e/test-blob-e78f3d6c-9891-31f8-ed6c-25b203980530",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 18 Feb 2021 02:35:03 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-4e74979e-46fe-ed25-84c2-a0bfcca3a51e/test-blob-3a560635-ba9c-59bc-286d-f0542b8bc1f1",
        "x-ms-date": "Wed, 17 Feb 2021 02:35:04 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2ECA25A61EB\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:35:05 GMT",
        "x-ms-content-crc64": "F9qO8xSBw80=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:35:05.0882299Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-507cbf66-3ca7-5258-4f3d-380563abc7c0/test-blob-72d1b9a4-b238-0c9a-8511-c6174e374b1d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:35:05 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2ECA29579F4\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:35:05 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 02:35:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 02:35:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:35:05.4745076Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-507cbf66-3ca7-5258-4f3d-380563abc7c0/test-blob-72d1b9a4-b238-0c9a-8511-c6174e374b1d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D2ECA29579F4",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-507cbf66-3ca7-5258-4f3d-380563abc7c0/test-blob-38d9c82a-0655-ef7f-d2b8-201bb058b9f6",
        "x-ms-date": "Wed, 17 Feb 2021 02:35:05 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2ECA2BEB463\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:35:05 GMT",
        "x-ms-content-crc64": "6ukEIj1Pugw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:35:05.7457011Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-499cb543-1704-1fb5-b31a-8b41636ef18e/test-blob-4c833aba-224d-f955-2b42-e8629eb9ea81",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-499cb543-1704-1fb5-b31a-8b41636ef18e/test-blob-bec151f5-3b88-b30b-c8de-69962b033a88",
        "x-ms-date": "Wed, 17 Feb 2021 02:35:06 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2ECAF9533B5\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:35:27 GMT",
        "x-ms-content-crc64": "lJQo80N9tU8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:35:27.2840901Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-499cb543-1704-1fb5-b31a-8b41636ef18e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:35:27 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-16T20:35:03.2598497-06:00",
    "RandomSeed": "831660253",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}