{
  "Entries": [
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-861e3b48-8e68-a040-cd04-53075c628f0f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D930254963529E\"",
        "Last-Modified": "Tue, 15 Jun 2021 17:44:55 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-861e3b48-8e68-a040-cd04-53075c628f0f/test-blob-32d8f510-8f44-bd7c-6ffd-2587677e2bf0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "AfGxgASkZk1AeUPM/sDlqTrwxpNyQAk0ryyAeyM0E5cWYIV1zKvsiEDdX7GZea3x48EOuRFUUsHofdDXJOspC2artp47cNyOAz1SleFYmjZ/j5hhJlqGwQ7DjU/aFWRVs1RL7sIPtnPlf7XTAb3gkOKaV5VSx+QLJPSPd+KNtO7Z/eGMDaxzcNklfKels8BR4/1sQL3PAuxvP8nOfz6QV8vH+QTbU4I1Jue7LUo9ZnE0PpTlIHMwCvr0Hc3jpfCalSTc3bm8dY96NhnWE9WhMtlXmkCqqjdXl+8J5za1UoH2IZgmYIi4eMkEa+lZWvclU+v0jAqv8OrthEbKso5ZxOSY3/I8e9FQnyF3pT5N/Tz45JNKwcZ2RjCtONxC7sU6q6YEwXoE6NcZo+zpN0qrn4cJ0c76DgMeIZ[...]
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-861e3b48-8e68-a040-cd04-53075c628f0f/test-blob-9f2aa72d-dc2b-ab45-b1c9-6b48a9d7e7c4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanoauthstage.blob.core.windows.net/test-container-861e3b48-8e68-a040-cd04-53075c628f0f/test-blob-32d8f510-8f44-bd7c-6ffd-2587677e2bf0",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>CannotVerifyCopySource</Code><Message>Authentication information is not given in the correct format. Check the value of Authorization header.\n",
        "RequestId:4f575757-601e-0013-6d0e-624833000000\n",
        "Time:2021-06-15T17:44:55.4334130Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-861e3b48-8e68-a040-cd04-53075c628f0f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "995273771",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanoauthstage\nU2FuaXRpemVk\nhttps://seanoauthstage.blob.core.windows.net\nhttps://seanoauthstage.file.core.windows.net\nhttps://seanoauthstage.queue.core.windows.net\nhttps://seanoauthstage.table.core.windows.net\n\n\n\n\nhttps://seanoauthstage-secondary.blob.core.windows.net\nhttps://seanoauthstage-secondary.file.core.windows.net\nhttps://seanoauthstage-secondary.queue.core.windows.net\nhttps://seanoauthstage-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanoauthstage.blob.core.windows.net/;QueueEndpoint=https://seanoauthstage.queue.core.windows.net/;FileEndpoint=https://seanoauthstage.file.core.windows.net/;BlobSecondaryEndpoint=https://seanoauthstage-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanoauthstage-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanoauthstage-secondary.file.core.windows.net/;AccountName=seanoauthstage;AccountKey=Sanitized\n\n\n"
  }
}