{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1bc022de-73d3-6417-2fc2-e07a8a40bc74?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 09 Jun 2023 21:39:47 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB69320C82B5C8\u0022",
        "Last-Modified": "Fri, 09 Jun 2023 21:39:48 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1bc022de-73d3-6417-2fc2-e07a8a40bc74/test-blob-fa5309b4-d552-a57d-90c4-6ef5d54d4b14",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 09 Jun 2023 21:39:48 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "RDIWD8ezud6SR\u002BX7UxithRHBJbavHxluVB2XU/XJQjlUN7CiNzxMYRvp5wtgueJKUlqjoTG5hiUZp7uqHGboyQSrpxtoCk3VdMSbxjcNDZo6TACbJqEImrCKiY\u002BBoUW0AB4HtBLG4kcMzSxsHcDtDJogb89lTaNjowxq3YG\u002BVNN/58UYBVmIdGq5j1h0m33wnH31YDJ1T7N7pBEFXATFTnlZ7Tb71QZAl/tkrL5L7gePekEEyPOgCZgSnGFIghhm80DeG61G9cd2tMg2EKL1MLYJduHCwYWGuOSe6Dil\u002BBXj/rl9bNJZSIV5jRQqavj1HWyrPgs2ozG7V2LJqAyP0byz[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1bc022de-73d3-6417-2fc2-e07a8a40bc74/test-blob-7ac7d414-4653-35b4-63ff-dfb462567036",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Hot",
        "x-ms-blob-cache-control": "rpqtgcgbdgqqjoecttno",
        "x-ms-blob-content-disposition": "kkvucqtawnvkkygtlnod",
        "x-ms-blob-content-encoding": "lwaabphtyjirhkwgsuqo",
        "x-ms-blob-content-language": "hfdpkggkhjpgfkcmkvtm",
        "x-ms-blob-content-type": "jaaneddybybpvyvgskot",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-1bc022de-73d3-6417-2fc2-e07a8a40bc74/test-blob-fa5309b4-d552-a57d-90c4-6ef5d54d4b14",
        "x-ms-copy-source-blob-properties": "false",
        "x-ms-date": "Fri, 09 Jun 2023 21:39:48 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-tags": "tagKey0=tagValue0\u0026tagKey1=tagValue1",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB69320CB11154\u0022",
        "Last-Modified": "Fri, 09 Jun 2023 21:39:48 GMT",
        "x-ms-content-crc64": "FYrYNRTXFSc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03",
        "x-ms-version-id": "2023-06-09T21:39:48.5269332Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1bc022de-73d3-6417-2fc2-e07a8a40bc74/test-blob-7ac7d414-4653-35b4-63ff-dfb462567036",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 09 Jun 2023 21:39:48 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "kkvucqtawnvkkygtlnod",
        "Content-Language": "hfdpkggkhjpgfkcmkvtm",
        "Content-MD5": "Kc\u002BAW74cZR1GbZwVzBxFWg==",
        "Content-Type": "jaaneddybybpvyvgskot",
        "ETag": "\u00220x8DB69320CB11154\u0022",
        "Last-Modified": "Fri, 09 Jun 2023 21:39:48 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 09 Jun 2023 21:39:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 09 Jun 2023 21:39:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "2",
        "x-ms-version": "2023-01-03",
        "x-ms-version-id": "2023-06-09T21:39:48.5269332Z"
      },
      "ResponseBody": "RDIWD8ezud6SR\u002BX7UxithRHBJbavHxluVB2XU/XJQjlUN7CiNzxMYRvp5wtgueJKUlqjoTG5hiUZp7uqHGboyQSrpxtoCk3VdMSbxjcNDZo6TACbJqEImrCKiY\u002BBoUW0AB4HtBLG4kcMzSxsHcDtDJogb89lTaNjowxq3YG\u002BVNN/58UYBVmIdGq5j1h0m33wnH31YDJ1T7N7pBEFXATFTnlZ7Tb71QZAl/tkrL5L7gePekEEyPOgCZgSnGFIghhm80DeG61G9cd2tMg2EKL1MLYJduHCwYWGuOSe6Dil\u002BBXj/rl9bNJZSIV5jRQqavj1HWyrPgs2ozG7V2LJqAyP0byzUx[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1bc022de-73d3-6417-2fc2-e07a8a40bc74/test-blob-7ac7d414-4653-35b4-63ff-dfb462567036",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 09 Jun 2023 21:39:48 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "kkvucqtawnvkkygtlnod",
        "Content-Language": "hfdpkggkhjpgfkcmkvtm",
        "Content-MD5": "Kc\u002BAW74cZR1GbZwVzBxFWg==",
        "Content-Type": "jaaneddybybpvyvgskot",
        "ETag": "\u00220x8DB69320CB11154\u0022",
        "Last-Modified": "Fri, 09 Jun 2023 21:39:48 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-change-time": "Fri, 09 Jun 2023 21:39:48 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 09 Jun 2023 21:39:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 09 Jun 2023 21:39:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "2",
        "x-ms-version": "2023-01-03",
        "x-ms-version-id": "2023-06-09T21:39:48.5269332Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1bc022de-73d3-6417-2fc2-e07a8a40bc74?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 09 Jun 2023 21:39:48 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-06-09T14:39:47.9219375-07:00",
    "RandomSeed": "1248651513",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
