{
  "Entries": [
    {
      "RequestUri": "https://seanstageoauth.blob.core.windows.net/test-container-0a8424ae-abb3-5c44-a54d-8e5340ee0571?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D91616FD44731D\"",
        "Last-Modified": "Thu, 13 May 2021 13:57:04 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstageoauth.blob.core.windows.net/test-container-0a8424ae-abb3-5c44-a54d-8e5340ee0571/test-blob-ff3ae410-5165-4316-7877-47eabe74ca8a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "ecS/rOGmACWSDlRPZBHYky+4MLAzuYvZOhkxMxMOG6VElHD5tR2oASa2BY3iWbu8WanXb6ODgL855nLIdM0ShPKvC9Cg3t4RDy6JfbT+9uBddNppNqwCwBSxwM6r4I1Zo4CaM03rG3rLxV90+QILOvCRav/zqE1FrEu87x4QZi+hMNkzY8OSclhgnnBNjscRpYXeGXaNZvozVIYCLixbu18w0skp2Ncs/vinkgrc+B6Dq0mYMUy4FMneAA48kEMsBOMRHLv+6M2usRp+5dPwVlxnfoPiwokSd73/StjI7260e40ny9tjhcN86n8yOi727qmy1RHASUJZ/6X9/p315sKryWpFyYqABPjAZtgK3zyOCFsuFRpd9DFLzcw2ZYYlhgS9hnHEsCUeMtAY/+NpTx9obvZBx9CnTt[...]
    {
      "RequestUri": "https://seanstageoauth.blob.core.windows.net/test-container-0a8424ae-abb3-5c44-a54d-8e5340ee0571/test-blob-97dc27a7-379b-20a9-ce31-3d0727d333b3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanstageoauth.blob.core.windows.net/test-container-0a8424ae-abb3-5c44-a54d-8e5340ee0571/test-blob-ff3ae410-5165-4316-7877-47eabe74ca8a",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D91616FD7A8732\"",
        "Last-Modified": "Thu, 13 May 2021 13:57:04 GMT",
        "x-ms-content-crc64": "oFQkC9g6eIc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstageoauth.blob.core.windows.net/test-container-0a8424ae-abb3-5c44-a54d-8e5340ee0571?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1021482601",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanstageoauth\nU2FuaXRpemVk\nhttps://seanstageoauth.blob.core.windows.net\nhttps://seanstageoauth.file.core.windows.net\nhttps://seanstageoauth.queue.core.windows.net\nhttps://seanstageoauth.table.core.windows.net\n\n\n\n\nhttps://seanstageoauth-secondary.blob.core.windows.net\nhttps://seanstageoauth-secondary.file.core.windows.net\nhttps://seanstageoauth-secondary.queue.core.windows.net\nhttps://seanstageoauth-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanstageoauth.blob.core.windows.net/;QueueEndpoint=https://seanstageoauth.queue.core.windows.net/;FileEndpoint=https://seanstageoauth.file.core.windows.net/;BlobSecondaryEndpoint=https://seanstageoauth-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanstageoauth-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanstageoauth-secondary.file.core.windows.net/;AccountName=seanstageoauth;AccountKey=Sanitized\n\n\n"
  }
}