{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5be8bc13-4482-1951-c2b7-d91f765f58d1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 03 Jun 2021 18:53:48 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D926C0EBDA7908\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 18:53:48 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5be8bc13-4482-1951-c2b7-d91f765f58d1/test-blob-c56e63c9-c2dd-61eb-ca04-b5e3956b259e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-cache-control": "kwjcysrjwvwvbrfsmitv",
        "x-ms-blob-content-disposition": "dfxkwqwnhcigatvajlmo",
        "x-ms-blob-content-encoding": "wwrxeokyhifbhpdfyxeh",
        "x-ms-blob-content-language": "uebtmqugvfjavexgmygh",
        "x-ms-blob-content-type": "gxfywhyjppalgetsuwln",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Jun 2021 18:53:48 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "sYsdkLVnmZh91ToAAqqj0tvEVXEp4Pp1ltUByE48Ebj1/jEKTZXpIskrjlMZzJUZcKHTi7ydjdCQqPnfZdBJQcOCCgR5mIRG2jOo/VKmW8o/6FisaIb8WHBgeqWbCr354kyPl8GRoNgcjLCI9Y9\u002B6Uwvn313nNk9hrKTGB7fq9B2rhsFF8QIrkiAkNvVc2Ph4pFYa2o/gUVzUhEP/oe5PeHfEkZ0eNKIJ/A19wz9aBJPsjaNhkBlNizVkcSz\u002BbDAxlL69WAcbGm\u002B0EN6Coo4dun\u002BwEtQLLahetwanucN1S5AdDG5A3KyMkXNzrX86yyinRvatDhkb5mcWHuEAs6CsfsVOZVYfnN3TI0Gg14ApI6wdwHLMiD13ASXHar2Li92Shy657KWSR6nY2irXes[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5be8bc13-4482-1951-c2b7-d91f765f58d1/test-blob-0cc4628a-5428-98cc-c414-74af4f110fb7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-5be8bc13-4482-1951-c2b7-d91f765f58d1/test-blob-c56e63c9-c2dd-61eb-ca04-b5e3956b259e",
        "x-ms-date": "Thu, 03 Jun 2021 18:53:48 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D926C0EC149864\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 18:53:48 GMT",
        "x-ms-content-crc64": "ImBAg9pl7n8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-06-03T18:53:48.5994879Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5be8bc13-4482-1951-c2b7-d91f765f58d1/test-blob-0cc4628a-5428-98cc-c414-74af4f110fb7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jun 2021 18:53:49 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "dfxkwqwnhcigatvajlmo",
        "Content-Language": "uebtmqugvfjavexgmygh",
        "Content-MD5": "7nsHA5oLB9ZR81V2WH3uyQ==",
        "Content-Type": "gxfywhyjppalgetsuwln",
        "ETag": "\u00220x8D926C0EC149864\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 18:53:48 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 03 Jun 2021 18:53:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 03 Jun 2021 18:53:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-06-03T18:53:48.5994879Z"
      },
      "ResponseBody": "sYsdkLVnmZh91ToAAqqj0tvEVXEp4Pp1ltUByE48Ebj1/jEKTZXpIskrjlMZzJUZcKHTi7ydjdCQqPnfZdBJQcOCCgR5mIRG2jOo/VKmW8o/6FisaIb8WHBgeqWbCr354kyPl8GRoNgcjLCI9Y9\u002B6Uwvn313nNk9hrKTGB7fq9B2rhsFF8QIrkiAkNvVc2Ph4pFYa2o/gUVzUhEP/oe5PeHfEkZ0eNKIJ/A19wz9aBJPsjaNhkBlNizVkcSz\u002BbDAxlL69WAcbGm\u002B0EN6Coo4dun\u002BwEtQLLahetwanucN1S5AdDG5A3KyMkXNzrX86yyinRvatDhkb5mcWHuEAs6Csfs[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5be8bc13-4482-1951-c2b7-d91f765f58d1/test-blob-0cc4628a-5428-98cc-c414-74af4f110fb7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jun 2021 18:53:49 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "dfxkwqwnhcigatvajlmo",
        "Content-Language": "uebtmqugvfjavexgmygh",
        "Content-MD5": "7nsHA5oLB9ZR81V2WH3uyQ==",
        "Content-Type": "gxfywhyjppalgetsuwln",
        "ETag": "\u00220x8D926C0EC149864\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 18:53:48 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 03 Jun 2021 18:53:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 03 Jun 2021 18:53:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-06-03T18:53:48.5994879Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5be8bc13-4482-1951-c2b7-d91f765f58d1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jun 2021 18:53:49 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-06-03T13:53:48.6231028-05:00",
    "RandomSeed": "1391433156",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}