{
  "Entries": [
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-a586b7d7-256c-309e-dc46-84b55e3fdf25?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 10 Jan 2022 22:07:53 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D485A600C416\u0022",
        "Last-Modified": "Mon, 10 Jan 2022 22:07:53 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-a586b7d7-256c-309e-dc46-84b55e3fdf25/test-blob-84327ae3-4631-0cb1-ff34-bbc829590f8a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 10 Jan 2022 22:07:53 GMT",
        "x-ms-tags": "source=tag",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "XsJgpR4E5RxtbvQA3or0JTfsPyHgBXP4ihViZFn0uENxBWln\u002BWlruIg20lb38D6X2MeFZ3yg1llOaBsJoYDCeLaxjtkhjSvOgIaZqTMcAZnWy4ySblDG0S8QGJBNYhcIdFmgRWFldkqbt\u002Bb2BywlMWeBM9bzMApl6r2pEHSbgB5ukTXZfLs4cFVB97dpz8kD6uYpzC5BFERPOluku2XVADfIh3b2TLWsScOAsTlS/BrzpiaOcbPvLXzxikFfk7TvbPZ/oUhSDJ0xfIJrwGIL/D5AsBU\u002BR46D2Fr5BMJ0TLYOkUVC01vSoZmIXPUxhG0a5o0DH\u002BKfsSRo/MjuWQjbvTDMXC8cyCnjbQ97teqZUlPs3x00cCzTb98h2daS5EeRrZ/EZCg\u002B[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-a586b7d7-256c-309e-dc46-84b55e3fdf25/test-blob-3f526dbd-ebc5-1df0-21cd-ecbd54bcc2b6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-a586b7d7-256c-309e-dc46-84b55e3fdf25/test-blob-84327ae3-4631-0cb1-ff34-bbc829590f8a?sv=2022-11-02\u0026se=2022-01-11T22%3A07%3A53Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-date": "Mon, 10 Jan 2022 22:07:53 GMT",
        "x-ms-tags": "dest=tag",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D485A61D5A2C\u0022",
        "Last-Modified": "Mon, 10 Jan 2022 22:07:53 GMT",
        "x-ms-content-crc64": "QkL5lsf34YU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-a586b7d7-256c-309e-dc46-84b55e3fdf25/test-blob-3f526dbd-ebc5-1df0-21cd-ecbd54bcc2b6?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 10 Jan 2022 22:07:53 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003Edest\u003C/Key\u003E\u003CValue\u003Etag\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E"
      ]
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-a586b7d7-256c-309e-dc46-84b55e3fdf25?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 10 Jan 2022 22:07:53 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-01-10T16:07:53.3387988-06:00",
    "RandomSeed": "1804330616",
    "Storage_TestConfigDefault": "ProductionTenant\n0c2xscnapby3pev24a\nU2FuaXRpemVk\nhttps://0c2xscnapby3pev24a.blob.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a.file.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a.queue.core.windows.net\nhttps://0c2xscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttps://0c2xscnapby3pev24a-secondary.blob.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.file.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.queue.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/;QueueEndpoint=https://0c2xscnapby3pev24a.queue.core.windows.net/;FileEndpoint=https://0c2xscnapby3pev24a.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.file.core.windows.net/;AccountName=0c2xscnapby3pev24a;AccountKey=Kg==;\nseanscope1\n\n"
  }
}