{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-968af7ce-bf43-b68e-69e3-a9e392cc9875?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:33:47 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EC7486C937\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:33:48 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-968af7ce-bf43-b68e-69e3-a9e392cc9875/test-blob-5c327aa0-f839-42c8-64e8-87c1a4d8897b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:33:48 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "NSMWsrsCxs5NqlVZJ6ce\u002B8gP4prk0RfCRvnsTZhbQDiLeYuAwta/guNOLjSI2hHHzGSl8knCKGMMU2zCFXk18mkdza0bnjjxT1\u002B3lqPiOWvnJYA0tU7vyVEodG5q/WxqGDzKaw1kqy4rtKLpCpK/KRkA2vD4ATwbLQNc8ynKhlLzTX1nF85eg3lSCAGrBb\u002B\u002BaUpUaSJ7chf/rz0JB7gEYS1Q9r0UWBJLold2pvg7cChEnYnfdhwvd9tmZ2iRVXvBTafUWg8BqRE4CcfLBcsexD4UxGouJesQIH7irvCpuU3btFhRZxUZQvN4p2xUZHIPR6MqfJARkyi8wzmQH/sgjk9671BzzV0p\u002B4F2tX1\u002Bu7wM02dMfz28ySEwlKPbiSP4Vxgd2nQ[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-968af7ce-bf43-b68e-69e3-a9e392cc9875/test-blob-7b1ca985-dedf-3933-6feb-5f6d012b5c0d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-968af7ce-bf43-b68e-69e3-a9e392cc9875/test-blob-5c327aa0-f839-42c8-64e8-87c1a4d8897b",
        "x-ms-date": "Wed, 17 Feb 2021 02:33:48 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-source-if-match": "",
        "x-ms-source-if-modified-since": "Thu, 18 Feb 2021 02:33:47 GMT",
        "x-ms-source-if-none-match": "",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f42e5821-7e54-4614-9c40-71daf5e2440b/test-blob-ffa674cc-3762-ee8e-4bf7-ab1c98fa5329",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-f42e5821-7e54-4614-9c40-71daf5e2440b/test-blob-ced71f70-f8b2-0668-0c73-3b6427f9d26b",
        "x-ms-date": "Wed, 17 Feb 2021 02:33:49 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
        "x-ms-source-if-unmodified-since": "Tue, 16 Feb 2021 02:33:47 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ECannotVerifyCopySource\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:6b00dcc3-201e-0033-10d5-048569000000\n",
        "Time:2021-02-17T02:33:49.5762039Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f85deaf7-b284-06a1-5a4c-ce3e9bb21e4e/test-blob-d95b3a36-c066-226a-fe00-d3cb115b6b87",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:33:50 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "y83YxNdi/VQDjnHvlWtLww==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2EC75D6BE51\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:33:50 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 02:33:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 02:33:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:33:50.4047697Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f85deaf7-b284-06a1-5a4c-ce3e9bb21e4e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:33:50 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-16T20:33:47.8438242-06:00",
    "RandomSeed": "723985475",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}