{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d18dec50-ee08-8ee5-fa69-670969e310ee?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:57:11 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D375D57B614C\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:57:11 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d18dec50-ee08-8ee5-fa69-670969e310ee/test-blob-6aa33f15-f208-11f3-f183-814a251c0ce0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:57:11 GMT"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D8D375D586A58E\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:57:11 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:57:11.9930766Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d18dec50-ee08-8ee5-fa69-670969e310ee/test-blob-6aa33f15-f208-11f3-f183-814a251c0ce0?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:57:12 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "60",
        "x-ms-proposed-lease-id": "61b750d6-1966-0aad-bc52-9983c8db9a95"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D375D586A58E\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:57:11 GMT",
        "x-ms-lease-id": "61b750d6-1966-0aad-bc52-9983c8db9a95"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d18dec50-ee08-8ee5-fa69-670969e310ee/test-blob-6aa33f15-f208-11f3-f183-814a251c0ce0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-d18dec50-ee08-8ee5-fa69-670969e310ee/test-blob-49f5f754-14a5-562e-f4e3-30367c7b5859",
        "x-ms-date": "Wed, 17 Feb 2021 18:57:12 GMT",
        "x-ms-lease-id": "61b750d6-1966-0aad-bc52-9983c8db9a95"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D375D5C47D25\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:57:12 GMT",
        "x-ms-content-crc64": "NFU9DAPEh\u002BM=",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:57:12.3993653Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d18dec50-ee08-8ee5-fa69-670969e310ee/test-blob-6aa33f15-f208-11f3-f183-814a251c0ce0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:57:12 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Ahl14gwRdfxDUc5vS//16w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D375D5C47D25\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:57:12 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:57:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:57:12 GMT",
        "x-ms-lease-duration": "fixed",
        "x-ms-lease-state": "leased",
        "x-ms-lease-status": "locked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:57:12.3993653Z"
      },
      "ResponseBody": "SMKVXeKFgSmMIJW03uVYXJOrL3aadPH4TtHdmwv5SAEYEn/vy2ELz9AXmoP\u002BMVDoYkU2o5sjjdTQnA4Rp\u002BYdkteUnMxmaZEyoF\u002Bmg9pu\u002BhyA9TjGw6Vm9ISqHi5S\u002Bifq\u002BQirapWEgvm0AwI7fQn6YqLxkLKtV84yLadHu0pi4KY3u4nSwo\u002BH/HM/EsCiKnZ6sLyMYGl1PKI5eTztPMavUSJcA8GAKJ8SapQ/bkQNjwMxzQuO1YA8wn/mmElSmcCskMCeRSe0\u002BogcefXVNs5eLOk5vG\u002B7IXuiIEFCmY9Wv9HTkt2Db0nbfNKDcVuKZ[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d18dec50-ee08-8ee5-fa69-670969e310ee?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:57:12 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1921296471",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}