{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-89e14b9b-0c55-7851-bb20-93df90bbebcb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:58:45 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3760D6FD223\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:58:45 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-89e14b9b-0c55-7851-bb20-93df90bbebcb/test-blob-6c533162-c2eb-2a98-152b-c61aebcfd57e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:58:45 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "WOQfceo/OquektPugXSJOYg37iKZiD9ggP2bBIwrbkIFEMIGr2OUMzLGu2wuwtRdXPzkhOQDHNClv/HspDUeciOQ6XCxgookorrv08zSMb0oPaeQRupeAvPxYe9yp4/9p0hIntlkq9pxwOEpE0kE0o4zw2eOjSw5MuZ8wCGasvsr8iuDiZPkxJHNHoYINO\u002Bq7I9gPuMobxkcD2vy5\u002Bu41w7m/SAdgUj7T/7VwG\u002BlMP320tOROnMXA4MRZnon8d2mFEd4IjbPjGtGZO/lUq6qd99t\u002BxQXJ52az/qcCxrO1F0hL6snLQ7GJ0ZoStWEMrDUZ\u002B\u002BauvbJju2q3V[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-89e14b9b-0c55-7851-bb20-93df90bbebcb/test-blob-5a726d73-02fe-55b1-d1e6-356cbbd325b6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-89e14b9b-0c55-7851-bb20-93df90bbebcb/test-blob-6c533162-c2eb-2a98-152b-c61aebcfd57e",
        "x-ms-date": "Wed, 17 Feb 2021 18:58:45 GMT",
        "x-ms-source-if-match": "",
        "x-ms-source-if-modified-since": "Thu, 18 Feb 2021 18:58:45 GMT",
        "x-ms-source-if-none-match": "",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-85525797-bfc1-6ac4-6768-51b4fc1cfe84/test-blob-db7daa8c-3fb8-0c72-d458-83c24904d3b2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-85525797-bfc1-6ac4-6768-51b4fc1cfe84/test-blob-0e8d7243-3ca4-b4a2-3125-f62a0cc71b16",
        "x-ms-date": "Wed, 17 Feb 2021 18:58:46 GMT",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
        "x-ms-source-if-unmodified-since": "Tue, 16 Feb 2021 18:58:45 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ECannotVerifyCopySource\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:697f16d8-701e-0001-225e-05851e000000\n",
        "Time:2021-02-17T18:58:46.5134962Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e4ed2c92-c7dc-a440-3928-7668e71c85c8/test-blob-c4af1040-093d-b8fe-4c63-7c4540b4ed7f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:58:47 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "whagIk22NPIReBl1Cs4Gfg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D3760E5587A4\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:58:47 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:58:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:58:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T18:58:47.3023166Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e4ed2c92-c7dc-a440-3928-7668e71c85c8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:58:47 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T12:58:45.5585930-06:00",
    "RandomSeed": "1107088124",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}