{
  "Entries": [
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-40f31cdb-ed06-35f1-624a-afeba3c7f8f3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D9302549D69CB2\"",
        "Last-Modified": "Tue, 15 Jun 2021 17:44:56 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-40f31cdb-ed06-35f1-624a-afeba3c7f8f3/test-blob-b16a0620-4a72-418c-eda8-47d44b45262a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "vgeLCM0OxbI3Bu7BHsywh2lKdJTrlRwDe6oPHvKuHb1pKRZEuh1ce7I7pngvyaHVo9B12buqMijriIwi/qa/iekwV/W1a81L7vnhr+6j1LIJOXshOUMCv/btWTGROXwMex2P/nGrIDcDKuvByIM6R7TaGMUrnlCmLZj+xxKburR81TPRFNVAXRlEHg9XQPdzsxF9tiC34d3M6NDZrFgkaG82RPJPaDPembus5oBBTuygixMAHgOTxfRVBCsEZ7DAH7WfIfwEI0renh1lC/pdi5rkOCFEJEpso3/9+WQH2jEK68bKoi3wm2fJIX/lLbn6+HmQIC6Pe/trMn18Bynm18PrWx8zk+lt8525ewLKh3XFAwHrdroDenDLXm+vdJQ+4kq7+dGaxmSQIyyQ1f/5oaoItgMo+2AJ6O[...]
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-40f31cdb-ed06-35f1-624a-afeba3c7f8f3/test-blob-deee7889-1d7f-bf8a-a253-58de24303e1e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanoauthstage.blob.core.windows.net/test-container-40f31cdb-ed06-35f1-624a-afeba3c7f8f3/test-blob-b16a0620-4a72-418c-eda8-47d44b45262a",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>CannotVerifyCopySource</Code><Message>Authentication information is not given in the correct format. Check the value of Authorization header.\n",
        "RequestId:4f575777-601e-0013-0a0e-624833000000\n",
        "Time:2021-06-15T17:44:56.1849767Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-40f31cdb-ed06-35f1-624a-afeba3c7f8f3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1519442769",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanoauthstage\nU2FuaXRpemVk\nhttps://seanoauthstage.blob.core.windows.net\nhttps://seanoauthstage.file.core.windows.net\nhttps://seanoauthstage.queue.core.windows.net\nhttps://seanoauthstage.table.core.windows.net\n\n\n\n\nhttps://seanoauthstage-secondary.blob.core.windows.net\nhttps://seanoauthstage-secondary.file.core.windows.net\nhttps://seanoauthstage-secondary.queue.core.windows.net\nhttps://seanoauthstage-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanoauthstage.blob.core.windows.net/;QueueEndpoint=https://seanoauthstage.queue.core.windows.net/;FileEndpoint=https://seanoauthstage.file.core.windows.net/;BlobSecondaryEndpoint=https://seanoauthstage-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanoauthstage-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanoauthstage-secondary.file.core.windows.net/;AccountName=seanoauthstage;AccountKey=Sanitized\n\n\n"
  }
}