{
  "Entries": [
    {
      "RequestUri": "https://hv3xscnapby3pev24a.blob.preprod.core.windows.net/test-container-9a714ec1-e2c2-cccc-eb01-f736cff29ee8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 18 Aug 2022 14:49:52 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA8128E8FEDB47\u0022",
        "Last-Modified": "Thu, 18 Aug 2022 14:49:53 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hv3xscnapby3pev24a.blob.preprod.core.windows.net/test-container-9a714ec1-e2c2-cccc-eb01-f736cff29ee8/test-blob-c4331c34-f9f6-9427-4731-49c1964227d2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 18 Aug 2022 14:49:52 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "QlRUiOW0x4XMl3p6JqZP7DigN6UU4i9X3saVEwuD2QHQxX9C7p/t1HIyEDBiw0aHkwBqGg67cGAk/akeHrN5SL14qWEnDf6ZsmMz4dH\u002B9RqADn8KGL7zFFUeHfH1z7W\u002Bucdz6RnlX4YC0Wirh46OJQePnhA0bjD\u002BhZQLCO8NpOOtdSgKiwwAm674CEdWR43GkPjpZTCliUqWdGOE2VaX9SyE/RJmg5n7jgNhPGbppz0HRHj3Iz6yB\u002BvedBeofMFXYBIa0Up6YAxe7tctRE3jrcwlfJTeoNHu0vUnhw\u002BCUhJBCdtTztXzjeRrmDRmhMOe\u002BsZKgv8seb9AK/[...]
    {
      "RequestUri": "https://hv3xscnapby3pev24a.blob.preprod.core.windows.net/test-container-9a714ec1-e2c2-cccc-eb01-f736cff29ee8/test-blob-dcb73988-dcc7-6c3d-2ee3-eda3ba466084",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://hv3xscnapby3pev24a.blob.preprod.core.windows.net/test-container-9a714ec1-e2c2-cccc-eb01-f736cff29ee8/test-blob-c4331c34-f9f6-9427-4731-49c1964227d2",
        "x-ms-date": "Thu, 18 Aug 2022 14:49:52 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA8128E916ABAA\u0022",
        "Last-Modified": "Thu, 18 Aug 2022 14:49:53 GMT",
        "x-ms-content-crc64": "mgOvkDauNtU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hv3xscnapby3pev24a.blob.preprod.core.windows.net/test-container-9a714ec1-e2c2-cccc-eb01-f736cff29ee8/test-blob-dcb73988-dcc7-6c3d-2ee3-eda3ba466084",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 18 Aug 2022 14:49:52 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "6Sd6fzVuzo9XwFOJS9j\u002BLA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA8128E916ABAA\u0022",
        "Last-Modified": "Thu, 18 Aug 2022 14:49:53 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Thu, 18 Aug 2022 14:49:53 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 18 Aug 2022 14:49:53 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hv3xscnapby3pev24a.blob.preprod.core.windows.net/test-container-9a714ec1-e2c2-cccc-eb01-f736cff29ee8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 18 Aug 2022 14:49:53 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-08-18T09:49:52.7496265-05:00",
    "RandomSeed": "130156397",
    "Storage_TestConfigDefault": "ProductionTenant\nhv3xscnapby3pev24a\nU2FuaXRpemVk\nhttps://hv3xscnapby3pev24a.blob.preprod.core.windows.net\nhttps://hv3xscnapby3pev24a.file.core.windows.net\nhttps://hv3xscnapby3pev24a.queue.core.windows.net\nhttps://hv3xscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttps://hv3xscnapby3pev24a-secondary.blob.core.windows.net\nhttps://hv3xscnapby3pev24a-secondary.file.core.windows.net\nhttps://hv3xscnapby3pev24a-secondary.queue.core.windows.net\nhttps://hv3xscnapby3pev24a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://hv3xscnapby3pev24a.blob.preprod.core.windows.net/;QueueEndpoint=https://hv3xscnapby3pev24a.queue.core.windows.net/;FileEndpoint=https://hv3xscnapby3pev24a.file.core.windows.net/;BlobSecondaryEndpoint=https://hv3xscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://hv3xscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://hv3xscnapby3pev24a-secondary.file.core.windows.net/;AccountName=hv3xscnapby3pev24a;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
