{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-54f98daa-0b2d-f807-ee64-6907e2d3f4f0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 13 Nov 2020 16:57:22 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D887F530D05790\u0022",
        "Last-Modified": "Fri, 13 Nov 2020 16:57:22 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-54f98daa-0b2d-f807-ee64-6907e2d3f4f0/test-blob-0ef478df-7199-5ea8-8908-d61fc876c8ba",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 13 Nov 2020 16:57:22 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D887F530D95DBD\u0022",
        "Last-Modified": "Fri, 13 Nov 2020 16:57:22 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-11-13T16:57:22.9214141Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-54f98daa-0b2d-f807-ee64-6907e2d3f4f0/test-blob-0ef478df-7199-5ea8-8908-d61fc876c8ba",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-54f98daa-0b2d-f807-ee64-6907e2d3f4f0/test-blob-9543c393-99a4-610c-1b65-4c0a22085105",
        "x-ms-date": "Fri, 13 Nov 2020 16:57:22 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D887F531289D83\u0022",
        "Last-Modified": "Fri, 13 Nov 2020 16:57:23 GMT",
        "x-ms-content-crc64": "nPgf2L\u002BlPx8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-11-13T16:57:23.4417811Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-54f98daa-0b2d-f807-ee64-6907e2d3f4f0/test-blob-0ef478df-7199-5ea8-8908-d61fc876c8ba",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 13 Nov 2020 16:57:22 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Co3ovHknz7ERtboWR2YFVg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D887F531289D83\u0022",
        "Last-Modified": "Fri, 13 Nov 2020 16:57:23 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 13 Nov 2020 16:57:23 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 13 Nov 2020 16:57:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-11-13T16:57:23.4417811Z"
      },
      "ResponseBody": "ttC8esQQetG38PDUyDAT\u002Bx9lTbSfdtFN/mtLrc7YLgeUTyZ\u002BYssirfOWJEMle348fvcTv1CH4T/\u002Bb3tZxM0C3sLoP3gJlJhUQp/ACVKNKILtDy7XxW\u002B3DG7mf/NPyeglk0WBPDwFMulev3ywxtjtcEf5bLWeKxlSMTMKIxWlBHi3mnUMDOtG591EeAXyBkWV\u002BA6rVl0yh2grLgsJ\u002Bw7UuLsD\u002BSxi4WRbs4XYWrIUYCrtdCsG\u002Ba0bhBMN4d7fPevOcL9J7g0ZMheqT6LYWi21F87hG4fjzr8N6HQYVQCGfHaZCenyynEc00EUW6kLQyrmV8k[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0a84e8d3-1757-8624-6492-44be6e666cf0/test-blob-5267849b-0e33-ba1e-390e-fdaf0202eec1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 12 Nov 2020 16:57:22 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-0a84e8d3-1757-8624-6492-44be6e666cf0/test-blob-6a1c2a3b-e6dd-ae86-dda8-b0287d2f63e9",
        "x-ms-date": "Fri, 13 Nov 2020 16:57:23 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D887F53186FB33\u0022",
        "Last-Modified": "Fri, 13 Nov 2020 16:57:24 GMT",
        "x-ms-content-crc64": "Fpt1N2rJa8c=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-11-13T16:57:24.0602179Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c1a2e2b8-f1a9-9bc5-3241-455e6fbb85e7/test-blob-261b89a6-9218-2d42-287d-b2f5d8576a24",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sat, 14 Nov 2020 16:57:22 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-c1a2e2b8-f1a9-9bc5-3241-455e6fbb85e7/test-blob-b7d2ca3e-c1d5-d079-3919-8a45af5a8300",
        "x-ms-date": "Fri, 13 Nov 2020 16:57:23 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D887F532019885\u0022",
        "Last-Modified": "Fri, 13 Nov 2020 16:57:24 GMT",
        "x-ms-content-crc64": "MxPHh0Fuduk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-11-13T16:57:24.8647850Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3c1f5f52-a6cd-0647-7505-6ef9cee0d766/test-blob-a45c48aa-4915-dfb2-b528-69638ddb1bc0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 13 Nov 2020 16:57:24 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D887F532436851\u0022",
        "Last-Modified": "Fri, 13 Nov 2020 16:57:25 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 13 Nov 2020 16:57:25 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 13 Nov 2020 16:57:25 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-11-13T16:57:25.2940881Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3c1f5f52-a6cd-0647-7505-6ef9cee0d766/test-blob-a45c48aa-4915-dfb2-b528-69638ddb1bc0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D887F532436851\u0022",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-3c1f5f52-a6cd-0647-7505-6ef9cee0d766/test-blob-b23b83c5-5334-4e7f-bc11-8136a1c3fe2e",
        "x-ms-date": "Fri, 13 Nov 2020 16:57:24 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D887F53296C77B\u0022",
        "Last-Modified": "Fri, 13 Nov 2020 16:57:25 GMT",
        "x-ms-content-crc64": "3N30EqLerBM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-11-13T16:57:25.8414731Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-dfe918cf-3865-9b22-20a1-0594527a17cb/test-blob-439b1b61-43eb-b0e6-0210-c0a2d858850f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-dfe918cf-3865-9b22-20a1-0594527a17cb/test-blob-702e341f-d1fe-4458-3dc2-28a691271c5a",
        "x-ms-date": "Fri, 13 Nov 2020 16:57:25 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D887F53324F066\u0022",
        "Last-Modified": "Fri, 13 Nov 2020 16:57:26 GMT",
        "x-ms-content-crc64": "/4SYseg03TM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-11-13T16:57:26.7731318Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-dfe918cf-3865-9b22-20a1-0594527a17cb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 13 Nov 2020 16:57:26 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-11-13T10:57:22.0009157-06:00",
    "RandomSeed": "1306106498",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\ntestscope1"
  }
}