{
  "Entries": [
    {
      "RequestUri": "https://ao4xscnapbl2prdev19a.blob.preprod.core.windows.net/test-container-75571179-fdd5-4d7a-8f4b-1eda5e33adb3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Aug 2021 23:47:39 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9586B697BF202\u0022",
        "Last-Modified": "Thu, 05 Aug 2021 23:47:40 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://ao4xscnapbl2prdev19a.blob.preprod.core.windows.net/test-container-75571179-fdd5-4d7a-8f4b-1eda5e33adb3/test-blob-241ea522-262c-0cac-43b7-e0ee163c6671",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Aug 2021 23:47:39 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "I2cbQP\u002BtZQE0ayKwXbyean/J70anRsTbWV86BP4B293ppcquICZyzCawSE8km2Itir0rZ3aGk92jQOefcmADM49Fxrjx70pZViIf9/10tr39DXpA1XNmYxHtC\u002BA\u002B0lnGrRW/39WqO5pz0hFUZ5zfLokqomXmwl4c3mOmA\u002BRpGoPJWUrotdfnU9HfzQJiEvx1Dd1WFC/03\u002Bq2owByAzi2CbeNiw1S93iyQk\u002BUB/VbucxnMfYGEwZT1HpfMRHWdU\u002BZKcNK1YfuIhZkpNHgYNj1WukzC9JCr/axObaT8sVn280A\u002B90xEeRFeA7fom41c3Shadcn[...]
    {
      "RequestUri": "https://ao4xscnapbl2prdev19a.blob.preprod.core.windows.net/test-container-75571179-fdd5-4d7a-8f4b-1eda5e33adb3/test-blob-7db28c79-47bb-bf4c-e928-28ab3165cd3b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Hot",
        "x-ms-blob-cache-control": "mfsncxnynhohgppnmwab",
        "x-ms-blob-content-disposition": "slvvyssfbqbmpckkmhgj",
        "x-ms-blob-content-encoding": "dtrfqbsjidtjagebjwni",
        "x-ms-blob-content-language": "ehwwgcrdffaeqpxxspex",
        "x-ms-blob-content-type": "ajwxvqlixiaptwfuvuxo",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://ao4xscnapbl2prdev19a.blob.preprod.core.windows.net/test-container-75571179-fdd5-4d7a-8f4b-1eda5e33adb3/test-blob-241ea522-262c-0cac-43b7-e0ee163c6671",
        "x-ms-copy-source-blob-properties": "false",
        "x-ms-date": "Thu, 05 Aug 2021 23:47:40 GMT",
        "x-ms-tags": "tagKey0=tagValue0\u0026tagKey1=tagValue1",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9586B69DB70B9\u0022",
        "Last-Modified": "Thu, 05 Aug 2021 23:47:41 GMT",
        "x-ms-content-crc64": "l3hjoGsV\u002BdE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://ao4xscnapbl2prdev19a.blob.preprod.core.windows.net/test-container-75571179-fdd5-4d7a-8f4b-1eda5e33adb3/test-blob-7db28c79-47bb-bf4c-e928-28ab3165cd3b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Aug 2021 23:47:40 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "slvvyssfbqbmpckkmhgj",
        "Content-Language": "ehwwgcrdffaeqpxxspex",
        "Content-MD5": "2lMOkiNxxFI0DuEBxpFeTA==",
        "Content-Type": "ajwxvqlixiaptwfuvuxo",
        "ETag": "\u00220x8D9586B69DB70B9\u0022",
        "Last-Modified": "Thu, 05 Aug 2021 23:47:41 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 05 Aug 2021 23:47:41 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "2",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": "I2cbQP\u002BtZQE0ayKwXbyean/J70anRsTbWV86BP4B293ppcquICZyzCawSE8km2Itir0rZ3aGk92jQOefcmADM49Fxrjx70pZViIf9/10tr39DXpA1XNmYxHtC\u002BA\u002B0lnGrRW/39WqO5pz0hFUZ5zfLokqomXmwl4c3mOmA\u002BRpGoPJWUrotdfnU9HfzQJiEvx1Dd1WFC/03\u002Bq2owByAzi2CbeNiw1S93iyQk\u002BUB/VbucxnMfYGEwZT1HpfMRHWdU\u002BZKcNK1YfuIhZkpNHgYNj1WukzC9JCr/axObaT8sVn280A\u002B90xEeRFeA7fom41c3Shadcno2p9VnnNmZvQWi9Q/cgE32X6xEkF7pLEYg2He8ZB8YnuPzhjg6RkZHdJdB3ej[...]
    {
      "RequestUri": "https://ao4xscnapbl2prdev19a.blob.preprod.core.windows.net/test-container-75571179-fdd5-4d7a-8f4b-1eda5e33adb3/test-blob-7db28c79-47bb-bf4c-e928-28ab3165cd3b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Aug 2021 23:47:40 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "slvvyssfbqbmpckkmhgj",
        "Content-Language": "ehwwgcrdffaeqpxxspex",
        "Content-MD5": "2lMOkiNxxFI0DuEBxpFeTA==",
        "Content-Type": "ajwxvqlixiaptwfuvuxo",
        "ETag": "\u00220x8D9586B69DB70B9\u0022",
        "Last-Modified": "Thu, 05 Aug 2021 23:47:41 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-change-time": "Thu, 05 Aug 2021 23:47:41 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 05 Aug 2021 23:47:41 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "2",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://ao4xscnapbl2prdev19a.blob.preprod.core.windows.net/test-container-75571179-fdd5-4d7a-8f4b-1eda5e33adb3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Aug 2021 23:47:40 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-08-05T18:47:39.1317189-05:00",
    "RandomSeed": "1076674783",
    "Storage_TestConfigDefault": "ProductionTenant\nao4xscnapbl2prdev19a\nU2FuaXRpemVk\nhttps://ao4xscnapbl2prdev19a.blob.preprod.core.windows.net\nhttps://ao4xscnapbl2prdev19a.file.core.windows.net\nhttps://ao4xscnapbl2prdev19a.queue.core.windows.net\nhttps://ao4xscnapbl2prdev19a.table.core.windows.net\n\n\n\n\nhttps://ao4xscnapbl2prdev19a-secondary.blob.core.windows.net\nhttps://ao4xscnapbl2prdev19a-secondary.file.core.windows.net\nhttps://ao4xscnapbl2prdev19a-secondary.queue.core.windows.net\nhttps://ao4xscnapbl2prdev19a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://ao4xscnapbl2prdev19a.blob.preprod.core.windows.net/;QueueEndpoint=https://ao4xscnapbl2prdev19a.queue.core.windows.net/;FileEndpoint=https://ao4xscnapbl2prdev19a.file.core.windows.net/;BlobSecondaryEndpoint=https://ao4xscnapbl2prdev19a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ao4xscnapbl2prdev19a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ao4xscnapbl2prdev19a-secondary.file.core.windows.net/;AccountName=ao4xscnapbl2prdev19a;AccountKey=Kg==;\nkey-name1\n\n"
  }
}