{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7340152a-18c8-463b-a9f2-a42402dd677d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 13 Nov 2020 16:58:00 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D887F547DE6719\u0022",
        "Last-Modified": "Fri, 13 Nov 2020 16:58:01 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7340152a-18c8-463b-a9f2-a42402dd677d/test-blob-9c238c6a-c869-bc5b-9387-2fcf30d6902a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 13 Nov 2020 16:58:00 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "5E36KVt790O8/ZXIV3Au38pTBNkSKHYsXgfC8oQly\u002B/rFuri3GfOXkvVLyWoZMNpSGRrnJ/CBbzWzcpUuAS\u002BlzKl3UGGTANjhaWOPflRg/lDWaoguS9QKREuCw6ceaZHF5jzA4eC4/tgCBb6NMjChUrQEV9and0DVbMwV0H1xgv/RiVhXYBywHauwLEYVvVIa4XEzGhH7Xm68K7UUou6akEL\u002Bu2jYSfJXlDoq90r6v6\u002B5\u002By7MfqjuFmrpm3SnW3r9FVvDVsIpQpd\u002Bm0XXkGcjwWvFWuf/jlHZ0KT97q698Di/beHu92jtkLhXTaMi1oXDxdnIogCS/UcKK[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7340152a-18c8-463b-a9f2-a42402dd677d/test-blob-eb1842d9-3e23-1b2d-da77-4435f0a39b18",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Hot",
        "x-ms-blob-cache-control": "wwnejxxlwmfbrgiowxhc",
        "x-ms-blob-content-disposition": "yjnagecnbigwflopfyrb",
        "x-ms-blob-content-encoding": "ggthholuilfhiyumjmwf",
        "x-ms-blob-content-language": "vkkofiufqsjwgfusofsr",
        "x-ms-blob-content-type": "rhfpdyngpcgrcmfvvfcy",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-7340152a-18c8-463b-a9f2-a42402dd677d/test-blob-9c238c6a-c869-bc5b-9387-2fcf30d6902a",
        "x-ms-copy-source-blob-properties": "false",
        "x-ms-date": "Fri, 13 Nov 2020 16:58:00 GMT",
        "x-ms-tags": "tagKey0=tagValue0\u0026tagKey1=tagValue1",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D887F5482CDDC9\u0022",
        "Last-Modified": "Fri, 13 Nov 2020 16:58:02 GMT",
        "x-ms-content-crc64": "TqhQjJW21eU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-11-13T16:58:02.0562377Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7340152a-18c8-463b-a9f2-a42402dd677d/test-blob-eb1842d9-3e23-1b2d-da77-4435f0a39b18",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 13 Nov 2020 16:58:01 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "yjnagecnbigwflopfyrb",
        "Content-Language": "vkkofiufqsjwgfusofsr",
        "Content-MD5": "CmpfCmJ5cbMZWXFvsx7r0Q==",
        "Content-Type": "rhfpdyngpcgrcmfvvfcy",
        "ETag": "\u00220x8D887F5482CDDC9\u0022",
        "Last-Modified": "Fri, 13 Nov 2020 16:58:02 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 13 Nov 2020 16:58:02 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 13 Nov 2020 16:58:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "2",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-11-13T16:58:02.0562377Z"
      },
      "ResponseBody": "5E36KVt790O8/ZXIV3Au38pTBNkSKHYsXgfC8oQly\u002B/rFuri3GfOXkvVLyWoZMNpSGRrnJ/CBbzWzcpUuAS\u002BlzKl3UGGTANjhaWOPflRg/lDWaoguS9QKREuCw6ceaZHF5jzA4eC4/tgCBb6NMjChUrQEV9and0DVbMwV0H1xgv/RiVhXYBywHauwLEYVvVIa4XEzGhH7Xm68K7UUou6akEL\u002Bu2jYSfJXlDoq90r6v6\u002B5\u002By7MfqjuFmrpm3SnW3r9FVvDVsIpQpd\u002Bm0XXkGcjwWvFWuf/jlHZ0KT97q698Di/beHu92jtkLhXTaMi1oXDxdnIogCS/UcKKUZ[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7340152a-18c8-463b-a9f2-a42402dd677d/test-blob-eb1842d9-3e23-1b2d-da77-4435f0a39b18",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 13 Nov 2020 16:58:01 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "yjnagecnbigwflopfyrb",
        "Content-Language": "vkkofiufqsjwgfusofsr",
        "Content-MD5": "CmpfCmJ5cbMZWXFvsx7r0Q==",
        "Content-Type": "rhfpdyngpcgrcmfvvfcy",
        "ETag": "\u00220x8D887F5482CDDC9\u0022",
        "Last-Modified": "Fri, 13 Nov 2020 16:58:02 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-change-time": "Fri, 13 Nov 2020 16:58:02 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 13 Nov 2020 16:58:02 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 13 Nov 2020 16:58:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "2",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-11-13T16:58:02.0562377Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7340152a-18c8-463b-a9f2-a42402dd677d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 13 Nov 2020 16:58:01 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-11-13T10:58:00.6648328-06:00",
    "RandomSeed": "1015480986",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\ntestscope1"
  }
}