{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c2c26b8d-a4db-af55-a48e-79067081780d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 19:50:39 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D37D4D47E19A\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:50:39 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c2c26b8d-a4db-af55-a48e-79067081780d/test-blob-7cafab0c-161c-2517-1ba3-d17130276fb4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 19:50:39 GMT"
      },
      "RequestBody": "ToqXxtbW8aIp5gUd3uCyNatC287boER/EAuQOOJYTTRoziEukfvGNrkNUzYR\u002BUc68JzF7kuh2a1FGLXKRrm/0ZnQtA\u002B/hKOwe6UUzU0ObRbEVUdGkl7pxvR06XlF/O//TYKdQUU3e2z4FXKmjQtfN6qfBfByeT865u0bS5oqan\u002B1FIDLcSvRjNraTn3sQznoFLLOpvb/jdRDYlpXHDDRzarz8HiLlMV/zXkWlyrBTaOzMjboW8SItYesiA7QeXCpCYDS\u002BVLBXYDsT9h96fapgRS3o\u002Br56HHlajrx3gu3rlMJbI6p71RQ8tS2/AzrC8yRAgf5GNaFsCAP7Y4Yz350NaCEdH1n/5HAZrEVQ\u002Bxk\u002BV9tYNw[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c2c26b8d-a4db-af55-a48e-79067081780d/test-blob-ab312795-b4db-7dc9-5cd8-836fb828c19c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-c2c26b8d-a4db-af55-a48e-79067081780d/test-blob-7cafab0c-161c-2517-1ba3-d17130276fb4",
        "x-ms-date": "Wed, 17 Feb 2021 19:50:39 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D37D4D67BA04\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:50:39 GMT",
        "x-ms-content-crc64": "QjG19vyRmU0=",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T19:50:39.5941380Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c2c26b8d-a4db-af55-a48e-79067081780d/test-blob-ab312795-b4db-7dc9-5cd8-836fb828c19c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 19:50:39 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "fllsLOWV3MDhBwOy2ePOaQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D37D4D67BA04\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:50:39 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 19:50:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 19:50:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T19:50:39.5941380Z"
      },
      "ResponseBody": "ToqXxtbW8aIp5gUd3uCyNatC287boER/EAuQOOJYTTRoziEukfvGNrkNUzYR\u002BUc68JzF7kuh2a1FGLXKRrm/0ZnQtA\u002B/hKOwe6UUzU0ObRbEVUdGkl7pxvR06XlF/O//TYKdQUU3e2z4FXKmjQtfN6qfBfByeT865u0bS5oqan\u002B1FIDLcSvRjNraTn3sQznoFLLOpvb/jdRDYlpXHDDRzarz8HiLlMV/zXkWlyrBTaOzMjboW8SItYesiA7QeXCpCYDS\u002BVLBXYDsT9h96fapgRS3o\u002Br56HHlajrx3gu3rlMJbI6p71RQ8tS2/AzrC8yRAgf5GNaFsCAP7Y4Yz[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-76f41b07-4670-5bdf-1365-096b0a9c46b6/test-blob-52c612c5-2c92-3b47-7f03-358cc83a3d1d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-76f41b07-4670-5bdf-1365-096b0a9c46b6/test-blob-fd9c3cc2-26bc-dcd8-8289-eaa00ada7669",
        "x-ms-date": "Wed, 17 Feb 2021 19:50:40 GMT",
        "x-ms-source-if-modified-since": "Tue, 16 Feb 2021 19:50:39 GMT",
         "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D37D4DC70287\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:50:40 GMT",
        "x-ms-content-crc64": "9D8WJY3MaOQ=",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T19:50:40.2185863Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3153972a-9295-823c-9680-077aacf845e0/test-blob-51de396d-a9bf-6350-5e2f-99f3f95c03f8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-3153972a-9295-823c-9680-077aacf845e0/test-blob-7ddff47d-ae87-dba3-75f7-d47a2c34e3b2",
        "x-ms-date": "Wed, 17 Feb 2021 19:50:40 GMT",
        "x-ms-source-if-unmodified-since": "Thu, 18 Feb 2021 19:50:39 GMT",
         "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D37D4E2EB0D2\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:50:40 GMT",
        "x-ms-content-crc64": "CU3OUdLpnmo=",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T19:50:40.8980690Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-cfcec1d2-ac1c-feef-8428-6ed46b6e65d5/test-blob-fc2bf54f-39ce-19bf-4335-315180fd8719",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 19:50:41 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "gYOe1SeNR2Z5AumKT6ra0g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D37D4E76EA99\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:50:41 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 19:50:41 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 19:50:41 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T19:50:41.3714073Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-cfcec1d2-ac1c-feef-8428-6ed46b6e65d5/test-blob-efc4e091-b330-7a1a-e3fa-eeb9b9699b94",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-cfcec1d2-ac1c-feef-8428-6ed46b6e65d5/test-blob-fc2bf54f-39ce-19bf-4335-315180fd8719",
        "x-ms-date": "Wed, 17 Feb 2021 19:50:41 GMT",
        "x-ms-source-if-match": "0x8D8D37D4E76EA99",
         "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D37D4E961113\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:50:41 GMT",
        "x-ms-content-crc64": "7aJffBdV\u002BkY=",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T19:50:41.5755539Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2564d348-1302-0ee0-3c33-6e0ae64a30a4/test-blob-85a90fa6-4194-64dd-3c0f-cbe991eabfc6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-2564d348-1302-0ee0-3c33-6e0ae64a30a4/test-blob-3c8cd1c0-23ba-c25e-4725-ff5140ba25d9",
        "x-ms-date": "Wed, 17 Feb 2021 19:50:42 GMT",
        "x-ms-source-if-none-match": "\u0022garbage\u0022",
         "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D37D4EEB93CF\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:50:42 GMT",
        "x-ms-content-crc64": "ulPMdW6qiMM=",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T19:50:42.1359567Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2564d348-1302-0ee0-3c33-6e0ae64a30a4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 19:50:42 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T13:50:39.1689592-06:00",
    "RandomSeed": "151312729",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}