{
  "Entries": [
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-55ea7830-3263-1eae-82b7-e5e83b0d767a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 14 Oct 2020 18:53:29 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8707271795A4D\u0022",
        "Last-Modified": "Wed, 14 Oct 2020 18:53:30 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-55ea7830-3263-1eae-82b7-e5e83b0d767a/test-blob-188cfcb5-c465-aa5e-f013-4c459f536084",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "fxppijwgrtddebdilgas",
        "x-ms-blob-content-disposition": "fxsamjquvrvtlfidmlbq",
        "x-ms-blob-content-encoding": "jqavmrbovhevxiqhfpdx",
        "x-ms-blob-content-language": "sckyxirxravyeijnxvmt",
        "x-ms-blob-content-type": "icxnmyvcoaxvidxggaxd",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 14 Oct 2020 18:53:29 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "OsulwXH0vZ/1MQRlovZVpmc8bj4t\u002B5Uz\u002B/PB3qnQ5YA99QvUrZ4TtQXk8v98mvdgMXQmiAGXKD42csZ9Mt72JUyEKKzqgfnJKbg5SAmVtmD8Ya00qV1\u002BpczMnTvYlYMm7syz\u002BHFKda97XV9IXd80oLtlgdExwXvuBYPfHeS98JM0E1o94r7usev9uEz\u002BNkftmPx/chOy9S1QxPPua1fLvmzLE0qF9779d9DlMwgv8M478oXnPX5/gh0s7B7LAEWTMvrgMiL9Z6E\u002BgvtDzMIkIdMks3nS44DuTJEtWAqfMneKUgAOTr2rPorkqbqCPLVbCMtLpkzMwE568eaR0A6Xn1CEuXrBFtIVeHTu7jrFaw/c0VA\u002BVIsqvZKxlF3XGm58TApq[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-55ea7830-3263-1eae-82b7-e5e83b0d767a/test-blob-e784c2aa-8131-9900-5687-1b8ec46fd656",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-55ea7830-3263-1eae-82b7-e5e83b0d767a/test-blob-188cfcb5-c465-aa5e-f013-4c459f536084",
        "x-ms-copy-source-blob-properties": "true",
        "x-ms-date": "Wed, 14 Oct 2020 18:53:29 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D87072719C21D4\u0022",
        "Last-Modified": "Wed, 14 Oct 2020 18:53:30 GMT",
        "x-ms-content-crc64": "I1Vit34KLlY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-55ea7830-3263-1eae-82b7-e5e83b0d767a/test-blob-e784c2aa-8131-9900-5687-1b8ec46fd656",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Oct 2020 18:53:29 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "fxsamjquvrvtlfidmlbq",
        "Content-Language": "sckyxirxravyeijnxvmt",
        "Content-MD5": "VJAHmFGPUvCAdNrYqIXcAg==",
        "Content-Type": "icxnmyvcoaxvidxggaxd",
        "ETag": "\u00220x8D87072719C21D4\u0022",
        "Last-Modified": "Wed, 14 Oct 2020 18:53:30 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 14 Oct 2020 18:53:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "OsulwXH0vZ/1MQRlovZVpmc8bj4t\u002B5Uz\u002B/PB3qnQ5YA99QvUrZ4TtQXk8v98mvdgMXQmiAGXKD42csZ9Mt72JUyEKKzqgfnJKbg5SAmVtmD8Ya00qV1\u002BpczMnTvYlYMm7syz\u002BHFKda97XV9IXd80oLtlgdExwXvuBYPfHeS98JM0E1o94r7usev9uEz\u002BNkftmPx/chOy9S1QxPPua1fLvmzLE0qF9779d9DlMwgv8M478oXnPX5/gh0s7B7LAEWTMvrgMiL9Z6E\u002BgvtDzMIkIdMks3nS44DuTJEtWAqfMneKUgAOTr2rPorkqbqCPLVbCMtLpkzMwE568eaR0A6Xn1CEuXrBFtIVeHTu7jrFaw/c0VA\u002BVIsqvZKxlF3XGm58TAp[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-55ea7830-3263-1eae-82b7-e5e83b0d767a/test-blob-e784c2aa-8131-9900-5687-1b8ec46fd656",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Oct 2020 18:53:29 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "fxsamjquvrvtlfidmlbq",
        "Content-Language": "sckyxirxravyeijnxvmt",
        "Content-MD5": "VJAHmFGPUvCAdNrYqIXcAg==",
        "Content-Type": "icxnmyvcoaxvidxggaxd",
        "ETag": "\u00220x8D87072719C21D4\u0022",
        "Last-Modified": "Wed, 14 Oct 2020 18:53:30 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 14 Oct 2020 18:53:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-55ea7830-3263-1eae-82b7-e5e83b0d767a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Oct 2020 18:53:30 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-10-14T13:53:29.3256846-05:00",
    "RandomSeed": "209997459",
    "Storage_TestConfigDefault": "ProductionTenant\n0c2xscnapby3pev24a\nU2FuaXRpemVk\nhttps://0c2xscnapby3pev24a.blob.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a.file.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a.queue.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a.table.preprod.core.windows.net\n\n\n\n\nhttps://0c2xscnapby3pev24a-secondary.blob.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.file.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.queue.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.table.preprod.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/;QueueEndpoint=https://0c2xscnapby3pev24a.queue.preprod.core.windows.net/;FileEndpoint=https://0c2xscnapby3pev24a.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.file.preprod.core.windows.net/;AccountName=0c2xscnapby3pev24a;AccountKey=Kg==;\nseanscope1"
  }
}