{
  "Entries": [
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-9bcf65f6-f74c-119a-9c99-eea1c66caa16?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 14 Oct 2020 18:34:26 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8706FC8394E11\u0022",
        "Last-Modified": "Wed, 14 Oct 2020 18:34:27 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-9bcf65f6-f74c-119a-9c99-eea1c66caa16/test-blob-5754ad55-b0ff-5253-640c-fdef28e1c285",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 14 Oct 2020 18:34:26 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D8706FC844E098\u0022",
        "Last-Modified": "Wed, 14 Oct 2020 18:34:27 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-9bcf65f6-f74c-119a-9c99-eea1c66caa16/test-blob-5754ad55-b0ff-5253-640c-fdef28e1c285",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-9bcf65f6-f74c-119a-9c99-eea1c66caa16/test-blob-d17698c8-78c3-b6bf-3b64-e46808be9f72",
        "x-ms-copy-source-blob-properties": "true",
        "x-ms-date": "Wed, 14 Oct 2020 18:34:26 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8706FC868BD65\u0022",
        "Last-Modified": "Wed, 14 Oct 2020 18:34:27 GMT",
        "x-ms-content-crc64": "g/UKclS2naI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-9bcf65f6-f74c-119a-9c99-eea1c66caa16/test-blob-5754ad55-b0ff-5253-640c-fdef28e1c285",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Oct 2020 18:34:26 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "v0GSA0QAOUwV\u002BLtgmo7Jgg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8706FC868BD65\u0022",
        "Last-Modified": "Wed, 14 Oct 2020 18:34:27 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 14 Oct 2020 18:34:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "bIvfMX0hw09D/DBtq3Q0I6AVtvJFFL2S4oazI1y6rrUMJ972OJNRj1IqR7hMpjJ4afj6tjRWYFjOTU73bp/yiE56YIOWPusNwyegG8wFRjxUOrpkwPeBtseFKOpEWiGzN79q0Uav4ioM7fINtkWMyAYSojPkjchW\u002Baq7EBYByGkF7eMMm3X1pViQWNIEc/\u002BC\u002BV/kMrfuzqn2E9eb89ETCyWJCMlhfy2RHP3aVDX2UYaqORe3HJaxFh85FoedWbGGfE2te2s2IHoxUhW6E3l0AMFR8bq6XO6O1/GqKGmm9MJLVNjnSNYadBmdhsqB9wOlxBXGS2j3zB9fHqN6jPgQi15Sbr\u002BhjbjqNnygHdYkDeDtBGNU4KhaVIe4iCkzoOghjPtrLolDBDdd2xTrVq[...]
[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-e880c502-0332-8975-feca-3040b099b42d/test-blob-8967f4d9-e200-5761-f5bf-24f47bd890fc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 13 Oct 2020 18:34:26 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-e880c502-0332-8975-feca-3040b099b42d/test-blob-cadd8fbe-f12f-86f0-a096-afdf3af0d277",
        "x-ms-copy-source-blob-properties": "true",
        "x-ms-date": "Wed, 14 Oct 2020 18:34:27 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8706FC8DDC787\u0022",
        "Last-Modified": "Wed, 14 Oct 2020 18:34:28 GMT",
        "x-ms-content-crc64": "FnpIix1SZv8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-0b8a46cb-9b96-bd09-784d-a908421a7400/test-blob-c2263437-a86b-5e36-73e3-7783c80b202b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 15 Oct 2020 18:34:26 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-0b8a46cb-9b96-bd09-784d-a908421a7400/test-blob-eaa14688-2aee-d52f-bda4-9785bed07a18",
        "x-ms-copy-source-blob-properties": "true",
        "x-ms-date": "Wed, 14 Oct 2020 18:34:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8706FC95039E2\u0022",
        "Last-Modified": "Wed, 14 Oct 2020 18:34:29 GMT",
        "x-ms-content-crc64": "rLWp5vMe/\u002Bw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-b43c2f3e-e2f1-db27-1e20-9d48df2d4a4c/test-blob-9d8665f9-729c-ac5b-fe10-c14ad4ff0f4f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Oct 2020 18:34:29 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8706FC9A511D0\u0022",
        "Last-Modified": "Wed, 14 Oct 2020 18:34:29 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 14 Oct 2020 18:34:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-b43c2f3e-e2f1-db27-1e20-9d48df2d4a4c/test-blob-9d8665f9-729c-ac5b-fe10-c14ad4ff0f4f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D8706FC9A511D0\u0022",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-b43c2f3e-e2f1-db27-1e20-9d48df2d4a4c/test-blob-02dcaa96-b229-8894-be92-156bb7b0d603",
        "x-ms-copy-source-blob-properties": "true",
        "x-ms-date": "Wed, 14 Oct 2020 18:34:29 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8706FC9D30041\u0022",
        "Last-Modified": "Wed, 14 Oct 2020 18:34:30 GMT",
        "x-ms-content-crc64": "ipJ5NGgUTU0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-bf944b8f-9d1a-97ff-a0ca-f060691eeb51/test-blob-eb97e43b-fbca-9631-2f9c-ac1bdc9a67ce",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-bf944b8f-9d1a-97ff-a0ca-f060691eeb51/test-blob-0e02cf23-8e40-9c07-660a-b1cccff71391",
        "x-ms-copy-source-blob-properties": "true",
        "x-ms-date": "Wed, 14 Oct 2020 18:34:29 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8706FCA3D3578\u0022",
        "Last-Modified": "Wed, 14 Oct 2020 18:34:30 GMT",
        "x-ms-content-crc64": "\u002Bc08\u002B5Qah/c=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-bf944b8f-9d1a-97ff-a0ca-f060691eeb51?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Oct 2020 18:34:30 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-10-14T13:34:26.3868570-05:00",
    "RandomSeed": "1824334996",
    "Storage_TestConfigDefault": "ProductionTenant\n0c2xscnapby3pev24a\nU2FuaXRpemVk\nhttps://0c2xscnapby3pev24a.blob.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a.file.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a.queue.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a.table.preprod.core.windows.net\n\n\n\n\nhttps://0c2xscnapby3pev24a-secondary.blob.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.file.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.queue.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.table.preprod.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/;QueueEndpoint=https://0c2xscnapby3pev24a.queue.preprod.core.windows.net/;FileEndpoint=https://0c2xscnapby3pev24a.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.file.preprod.core.windows.net/;AccountName=0c2xscnapby3pev24a;AccountKey=Kg==;\nseanscope1"
  }
}