{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-1809?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-1809",
        "name": "testRG-1809",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-1809/providers/Microsoft.ApiManagement/service/testapi-8754?api-version=2021-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Developer",
          "capacity": 1
        },
        "identity": {
          "type": "SystemAssigned"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "publisherEmail": "Sample@Sample.com",
          "publisherName": "sample"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022AAAAAABuIvw=\u0022",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-1809/providers/Microsoft.ApiManagement/service/testapi-8754/operationresults/ZWFzdHVzOnRlc3RhcGktODc1NF9BY3RfNThlMGNjNjA=?api-version=2021-08-01",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-1809/providers/Microsoft.ApiManagement/service/testapi-8754",
        "name": "testapi-8754",
        "type": "Microsoft.ApiManagement/service",
        "tags": {},
        "location": "East US",
        "etag": "AAAAAABuIvw=",
        "properties": {
          "publisherEmail": "Sample@Sample.com",
          "publisherName": "sample",
          "notificationSenderEmail": "apimgmt-noreply@mail.windowsazure.com",
          "provisioningState": "Created",
          "targetProvisioningState": "Activating",
          "createdAtUtc": "2022-08-07T07:12:35.1850423Z",
          "gatewayUrl": "https://testapi-8754.azure-api.net",
          "gatewayRegionalUrl": null,
          "portalUrl": null,
          "developerPortalUrl": null,
          "managementApiUrl": null,
          "scmUrl": null,
          "hostnameConfigurations": [
            {
              "type": "Proxy",
              "hostName": "testapi-8754.azure-api.net",
              "encodedCertificate": null,
              "keyVaultId": null,
              "certificatePassword": null,
              "negotiateClientCertificate": false,
              "certificate": null,
              "defaultSslBinding": true,
              "identityClientId": null,
              "certificateSource": "BuiltIn",
              "certificateStatus": null
            }
          ],
          "publicIPAddresses": null,
          "privateIPAddresses": null,
          "additionalLocations": null,
          "virtualNetworkConfiguration": null,
          "customProperties": null,
          "virtualNetworkType": "None",
          "certificates": null,
          "disableGateway": false,
          "apiVersionConstraint": {
            "minApiVersion": null
          },
          "publicIpAddressId": null,
          "publicNetworkAccess": "Enabled",
          "privateEndpointConnections": null,
          "platformVersion": "undetermined"
        },
        "sku": {
          "name": "Developer",
          "capacity": 1
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "34971e53-0462-41c3-a9db-427d99e5a67d",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "zones": null,
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2022-08-07T07:12:31.8153599Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-08-07T07:12:31.8153599Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-1809/providers/Microsoft.ApiManagement/service/testapi-8754/operationresults/ZWFzdHVzOnRlc3RhcGktODc1NF9BY3RfNThlMGNjNjA=?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-1809/providers/Microsoft.ApiManagement/service/testapi-8754/operationresults/ZWFzdHVzOnRlc3RhcGktODc1NF9BY3RfNThlMGNjNjA=?api-version=2021-08-01",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-1809/providers/Microsoft.ApiManagement/service/testapi-8754/backends/backendid4411?api-version=2021-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "description2266",
          "credentials": {
            "query": {
              "sv": [
                "xx",
                "bb",
                "cc"
              ]
            },
            "header": {
              "x-my-1": [
                "val1",
                "val2"
              ]
            },
            "authorization": {
              "scheme": "basic",
              "parameter": "opensemame"
            }
          },
          "tls": {
            "validateCertificateChain": true,
            "validateCertificateName": true
          },
          "url": "https://backendname2968/",
          "protocol": "http"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022AAAAAAAACSE=\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-1809/providers/Microsoft.ApiManagement/service/testapi-8754/backends/backendid4411",
        "type": "Microsoft.ApiManagement/service/backends",
        "name": "backendid4411",
        "properties": {
          "title": null,
          "description": "description2266",
          "url": "https://backendname2968/",
          "protocol": "http",
          "credentials": {
            "query": {
              "sv": [
                "xx",
                "bb",
                "cc"
              ]
            },
            "header": {
              "x-my-1": [
                "val1",
                "val2"
              ]
            },
            "authorization": {
              "scheme": "basic",
              "parameter": "opensemame"
            }
          },
          "tls": {
            "validateCertificateChain": true,
            "validateCertificateName": true
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-1809/providers/Microsoft.ApiManagement/service/testapi-8754/backends?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11936"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-1809/providers/Microsoft.ApiManagement/service/testapi-8754/backends/backendid4411",
            "type": "Microsoft.ApiManagement/service/backends",
            "name": "backendid4411",
            "properties": {
              "title": null,
              "description": "description2266",
              "url": "https://backendname2968/",
              "protocol": "http",
              "credentials": {
                "query": {
                  "sv": [
                    "xx",
                    "bb",
                    "cc"
                  ]
                },
                "header": {
                  "x-my-1": [
                    "val1",
                    "val2"
                  ]
                },
                "authorization": {
                  "scheme": "basic",
                  "parameter": "opensemame"
                }
              },
              "tls": {
                "validateCertificateChain": true,
                "validateCertificateName": true
              }
            }
          }
        ],
        "count": 1
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-1809/providers/Microsoft.ApiManagement/service/testapi-8754/backends/backendid4411?api-version=2021-08-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "*"
      },
      "RequestBody": {
        "properties": {
          "description": "patchedDescription8990"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022AAAAAAAACSQ=\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-1809/providers/Microsoft.ApiManagement/service/testapi-8754/backends/backendid4411",
        "type": "Microsoft.ApiManagement/service/backends",
        "name": "backendid4411",
        "properties": {
          "title": null,
          "description": "patchedDescription8990",
          "url": "https://backendname2968/",
          "protocol": "http",
          "credentials": {
            "query": {
              "sv": [
                "xx",
                "bb",
                "cc"
              ]
            },
            "header": {
              "x-my-1": [
                "val1",
                "val2"
              ]
            },
            "authorization": {
              "scheme": "basic",
              "parameter": "opensemame"
            }
          },
          "tls": {
            "validateCertificateChain": true,
            "validateCertificateName": true
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-1809/providers/Microsoft.ApiManagement/service/testapi-8754/backends/backendid4411?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11934"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "Backend not found.",
          "details": null
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "839507836",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
