{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-3232?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3232",
        "name": "testRG-3232",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3232/providers/Microsoft.ApiManagement/service/testapi-2620?api-version=2021-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Developer",
          "capacity": 1
        },
        "identity": {
          "type": "SystemAssigned"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "publisherEmail": "Sample@Sample.com",
          "publisherName": "sample"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022AAAAAABxRWw=\u0022",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3232/providers/Microsoft.ApiManagement/service/testapi-2620/operationresults/ZWFzdHVzOnRlc3RhcGktMjYyMF9BY3RfZjNmOGFmMQ==?api-version=2021-08-01",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3232/providers/Microsoft.ApiManagement/service/testapi-2620",
        "name": "testapi-2620",
        "type": "Microsoft.ApiManagement/service",
        "tags": {},
        "location": "East US",
        "etag": "AAAAAABxRWw=",
        "properties": {
          "publisherEmail": "Sample@Sample.com",
          "publisherName": "sample",
          "notificationSenderEmail": "apimgmt-noreply@mail.windowsazure.com",
          "provisioningState": "Created",
          "targetProvisioningState": "Activating",
          "createdAtUtc": "2022-08-20T11:27:31.0570106Z",
          "gatewayUrl": "https://testapi-2620.azure-api.net",
          "gatewayRegionalUrl": null,
          "portalUrl": null,
          "developerPortalUrl": null,
          "managementApiUrl": null,
          "scmUrl": null,
          "hostnameConfigurations": [
            {
              "type": "Proxy",
              "hostName": "testapi-2620.azure-api.net",
              "encodedCertificate": null,
              "keyVaultId": null,
              "certificatePassword": null,
              "negotiateClientCertificate": false,
              "certificate": null,
              "defaultSslBinding": true,
              "identityClientId": null,
              "certificateSource": "BuiltIn",
              "certificateStatus": null
            }
          ],
          "publicIPAddresses": null,
          "privateIPAddresses": null,
          "additionalLocations": null,
          "virtualNetworkConfiguration": null,
          "customProperties": null,
          "virtualNetworkType": "None",
          "certificates": null,
          "disableGateway": false,
          "apiVersionConstraint": {
            "minApiVersion": null
          },
          "publicIpAddressId": null,
          "publicNetworkAccess": "Enabled",
          "privateEndpointConnections": null,
          "platformVersion": "undetermined"
        },
        "sku": {
          "name": "Developer",
          "capacity": 1
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "c6ed2b7f-c3ef-4f0d-b8dc-971faf95e258",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "zones": null,
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2022-08-20T11:27:27.7021006Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-08-20T11:27:27.7021006Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3232/providers/Microsoft.ApiManagement/service/testapi-2620/operationresults/ZWFzdHVzOnRlc3RhcGktMjYyMF9BY3RfZjNmOGFmMQ==?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3232/providers/Microsoft.ApiManagement/service/testapi-2620/operationresults/ZWFzdHVzOnRlc3RhcGktMjYyMF9BY3RfZjNmOGFmMQ==?api-version=2021-08-01",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3232/providers/Microsoft.ApiManagement/service/testapi-2620/policies/policy?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022AAAAAAAACOw=\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11936"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3232/providers/Microsoft.ApiManagement/service/testapi-2620/policies/policy",
        "type": "Microsoft.ApiManagement/service/policies",
        "name": "policy",
        "properties": {
          "format": "xml",
          "value": "\u003C!--\r\n    IMPORTANT:\r\n    - Policy elements can appear only within the \u003Cinbound\u003E, \u003Coutbound\u003E, \u003Cbackend\u003E section elements.\r\n    - Only the \u003Cforward-request\u003E policy element can appear within the \u003Cbackend\u003E section element.\r\n    - To apply a policy to the incoming request (before it is forwarded to the backend service), place a corresponding policy element within the \u003Cinbound\u003E section element.\r\n    - To apply a policy to the outgoing response (before it is sent back to the caller), place a corresponding policy element within the \u003Coutbound\u003E section element.\r\n    - To add a policy position the cursor at the desired insertion point and click on the round button associated with the policy.\r\n    - To remove a policy, delete the corresponding policy statement from the policy document.\r\n    - Policies are applied in the order of their appearance, from the top down.\r\n--\u003E\r\n\u003Cpolicies\u003E\r\n\t\u003Cinbound /\u003E\r\n\t\u003Cbackend\u003E\r\n\t\t\u003Cforward-request /\u003E\r\n\t\u003C/backend\u003E\r\n\t\u003Coutbound /\u003E\r\n\u003C/policies\u003E"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3232/providers/Microsoft.ApiManagement/service/testapi-2620/policies/policy?format=xml\u0026api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag"[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3232/providers/Microsoft.ApiManagement/service/testapi-2620/policies/policy?api-version=2021-08-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3232/providers/Microsoft.ApiManagement/service/testapi-2620/policies/policy?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11934"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "PoliciesConfiguration not found.",
          "details": null
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3232/providers/Microsoft.ApiManagement/service/testapi-2620/apis?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11933"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3232/providers/Microsoft.ApiManagement/service/testapi-2620/apis/echo-api",
            "type": "Microsoft.ApiManagement/service/apis",
            "name": "echo-api",
            "properties": {
              "displayName": "Echo API",
              "apiRevision": "1",
              "description": null,
              "subscriptionRequired": true,
              "serviceUrl": "http://echoapi.cloudapp.net/api",
              "path": "echo",
              "protocols": [
                "https"
              ],
              "authenticationSettings": null,
              "subscriptionKeyParameterNames": null,
              "isCurrent": true
            }
          }
        ],
        "count": 1
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3232/providers/Microsoft.ApiManagement/service/testapi-2620/apis/echo-api/policies?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11932"
      },
      "ResponseBody": {
        "value": [],
        "count": 0
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3232/providers/Microsoft.ApiManagement/service/testapi-2620/apis/echo-api/policies/policy?api-version=2021-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "value": "\u003Cpolicies\u003E\r\n  \u003Cinbound\u00[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3232/providers/Microsoft.ApiManagement/service/testapi-2620/apis/echo-api/policies/policy?format=rawxml\u0026api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022AAAAAAAACSw=\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11930"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3232/providers/Microsoft.ApiManagement/service/testapi-2620/apis/echo-api/policies/policy",
        "type": "Microsoft.ApiManagement/service/apis/policies",
        "name": "policy",
        "properties": {
          "format": "rawxml",
          "value": "\u003Cpolicies\u003E\r\n\t\u003Cinbound\u003E\r\n\t\t\u003Cset-header name=\u0022x-sdk-call\u0022 exists-action=\u0022append\u0022\u003E\r\n\t\t\t\u003Cvalue\u003Etrue\u003C/value\u003E\r\n\t\t\u003C/set-header\u003E\r\n\t\t\u003Cbase /\u003E\r\n\t\u003C/inbound\u003E\r\n\t\u003Cbackend\u003E\r\n\t\t\u003Cbase /\u003E\r\n\t\u003C/backend\u003E\r\n\t\u003Coutbound\u003E\r\n\t\t\u003Cbase /\u003E\r\n\t\u003C/outbound\u003E\r\n\u003C/policies\u003E"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3232/providers/Microsoft.ApiManagement/service/testapi-2620/apis/echo-api/operations?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11928"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3232/providers/Microsoft.ApiManagement/service/testapi-2620/apis/echo-api/operations/create-resource",
            "type": "Microsoft.ApiManagement/service/apis/operations",
            "name": "create-resource",
            "properties": {
              "displayName": "Create resource",
              "method": "POST",
              "urlTemplate": "/resource",
              "templateParameters": [],
              "description": "A demonstration of a POST call based on the echo backend above. The request body is expected to contain JSON-formatted data (see example below). A policy is used to automatically transform any request sent in JSON directly to XML. In a real-world scenario this could be used to enable modern clients to speak to a legacy backend.",
              "request": {
                "queryParameters": [],
                "headers": [],
                "representations": [
                  {
                    "contentType": "application/json",
                    "examples": {
                      "default": {
                        "value": "{\r\n\t\u0022vehicleType\u0022: \u0022train\u0022,\r\n\t\u0022maxSpeed\u0022: 125,\r\n\t\u0022avgSpeed\u0022: 90,\r\n\t\u0022speedUnit\u0022: \u0022mph\u0022\r\n}"
                      }
                    },
                    "generatedSample": "{\r\n\t\u0022vehicleType\u0022: \u0022train\u0022,\r\n\t\u0022maxSpeed\u0022: 125,\r\n\t\u0022avgSpeed\u0022: 90,\r\n\t\u0022speedUnit\u0022: \u0022mph\u0022\r\n}",
                    "sample": "{\r\n\t\u0022vehicleType\u0022: \u0022train\u0022,\r\n\t\u0022maxSpeed\u0022: 125,\r\n\t\u0022avgSpeed\u0022: 90,\r\n\t\u0022speedUnit\u0022: \u0022mph\u0022\r\n}"
                  }
                ]
              },
              "responses": [
                {
                  "statusCode": 200,
                  "representations": [],
                  "headers": []
                }
              ],
              "policies": null
            }
          },
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3232/providers/Microsoft.ApiManagement/service/testapi-2620/apis/echo-api/operations/modify-resource",
            "type": "Microsoft.ApiManagement/service/apis/operations",
            "name": "modify-resource",
            "properties": {
              "displayName": "Modify Resource",
              "method": "PUT",
              "urlTemplate": "/resource",
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3232/providers/Microsoft.ApiManagement/service/testapi-2620/apis/echo-api/operations/modify-resource/policies?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11927"
      },
      "ResponseBody": {
        "value": [],
        "count": 0
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3232/providers/Microsoft.ApiManagement/service/testapi-2620/apis/echo-api/operations/modify-resource/policies/policy?api-version=2021-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "*"
      },
      "RequestBody": {
        "properties": {
          "[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3232/providers/Microsoft.ApiManagement/service/testapi-2620/apis/echo-api/operations/modify-resource/policies/policy?format=xml\u0026api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022AAAAAAAACTU=\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11930"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3232/providers/Microsoft.ApiManagement/service/testapi-2620/apis/echo-api/operations/modify-resource/policies/policy",
        "type": "Microsoft.ApiManagement/service/apis/operations/policies",
        "name": "policy",
        "properties": {
          "format": "xml",
          "value": "\u003Cpolicies\u003E\r\n\t\u003Cinbound\u003E\r\n\t\t\u003Crewrite-uri template=\u0022/resource\u0022 /\u003E\r\n\t\t\u003Cbase /\u003E\r\n\t\u003C/inbound\u003E\r\n\t\u003Coutbound\u003E\r\n\t\t\u003Cbase /\u003E\r\n\t\u003C/outbound\u003E\r\n\t\u003Cbackend\u003E\r\n\t\t\u003Cbase /\u003E\r\n\t\u003C/backend\u003E\r\n\u003C/policies\u003E"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3232/providers/Microsoft.ApiManagement/service/testapi-2620/products?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11928"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3232/providers/Microsoft.ApiManagement/service/testapi-2620/products/starter",
            "type": "Microsoft.ApiManagement/service/products",
            "name": "starter",
            "properties": {
              "displayName": "Starter",
              "description": "Subscribers will be able to run 5 calls/minute up to a maximum of 100 calls/week.",
              "terms": "",
              "subscriptionRequired": true,
              "approvalRequired": false,
              "subscriptionsLimit": 1,
              "state": "published"
            }
          },
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3232/providers/Microsoft.ApiManagement/service/testapi-2620/products/unlimited",
            "type": "Microsoft.ApiManagement/service/products",
            "name": "unlimited",
            "properties": {
              "displayName": "Unlimited",
              "description": "Subscribers have completely unlimited access to the API. Administrator approval is required.",
              "terms": null,
              "subscriptionRequired": true,
              "approvalRequired": true,
              "subscriptionsLimit": 1,
              "state": "published"
            }
          }
        ],
        "count": 2
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3232/providers/Microsoft.ApiManagement/service/testapi-2620/products/unlimited/policies?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [],
        "count": 0
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3232/providers/Microsoft.ApiManagement/service/testapi-2620/products/unlimited/policies/policy?api-version=2021-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "*"
      },
      "RequestBody": {
        "properties": {
          "value": "\u003Cpolicie[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3232/providers/Microsoft.ApiManagement/service/testapi-2620/products/unlimited/policies/policy?format=xml\u0026api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022AAAAAAAACT4=\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3232/providers/Microsoft.ApiManagement/service/testapi-2620/products/unlimited/policies/policy",
        "type": "Microsoft.ApiManagement/service/products/policies",
        "name": "policy",
        "properties": {
          "format": "xml",
          "value": "\u003Cpolicies\u003E\r\n\t\u003Cinbound\u003E\r\n\t\t\u003Crate-limit calls=\u00225\u0022 renewal-period=\u002260\u0022 /\u003E\r\n\t\t\u003Cquota calls=\u0022100\u0022 renewal-period=\u0022604800\u0022 /\u003E\r\n\t\t\u003Cbase /\u003E\r\n\t\u003C/inbound\u003E\r\n\t\u003Cbackend\u003E\r\n\t\t\u003Cbase /\u003E\r\n\t\u003C/backend\u003E\r\n\t\u003Coutbound\u003E\r\n\t\t\u003Cbase /\u003E\r\n\t\u003C/outbound\u003E\r\n\u003C/policies\u003E"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3232/providers/Microsoft.ApiManagement/service/testapi-2620/products/unlimited/policies/policy?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "PoliciesConfiguration not found.",
          "details": null
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "812257512",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
