{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e9d25eca-f008-e86c-db2d-bfd329c5c504?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 09:55:34 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE8282606523\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 09:55:34 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e9d25eca-f008-e86c-db2d-bfd329c5c504/foo%5C405c1d39-d9b8-b584-9915-f1e2a4116e03%5C96c33d93-0671-d0d3-e142-7d945932c63a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 15 Dec 2022 09:55:34 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "ySHlrFki/L\u002BnJ\u002BX2nzLSmYhN/041YpoySYtedVvwXGdOthmDK8GqcUEE70oh3TGvcOMMCzJ4BGaHsmPNw4Zkt8p\u002Bp\u002BgYT27Go44MMXNQEWxarwV35FE01rKz\u002B3he3K27oDh/ozZIliB1RWekbNPyNqH3cxOA7NJ5SdE2ZVP1aMfgUZE70G01ERnlAZ/pj2rewMTXZmiaOrNlBVlkETDMgNygxBpBt2YzwWL5m\u002Bozj7pnWKSPHQFeRRbe1ssT0P/oGIHCScpPnAleo6UGoJ/IMXaf/bmLPWLaQX8EY\u002BCaIPBiEIJpcUXwF7ubMHpcV6R2FaRVdNJFX[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e9d25eca-f008-e86c-db2d-bfd329c5c504/foo%5C984aeee0-3290-e442-0fb6-6d3b2a1d519a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 15 Dec 2022 09:55:34 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "b93Ue94tQIed/ktfqRQZP2HUb6j2[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e9d25eca-f008-e86c-db2d-bfd329c5c504?restype=container\u0026comp=list\u0026prefix=foo",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 09:55:34 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e9d25eca-f008-e86c-db2d-bfd329c5c504/foo/984aeee0-3290-e442-0fb6-6d3b2a1d519a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 09:55:34 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "68WvpGNf7T\u002BKTvyAxit02Q==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE828271495A\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 09:55:34 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 09:55:34 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T09:55:34.1923674Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e9d25eca-f008-e86c-db2d-bfd329c5c504/foo/984aeee0-3290-e442-0fb6-6d3b2a1d519a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 09:55:34 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE828271495A\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 09:55:34 GMT",
        "x-ms-blob-content-md5": "68WvpGNf7T\u002BKTvyAxit02Q==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 09:55:34 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T09:55:34.1923674Z"
      },
      "ResponseBody": "b93Ue94tQIed/ktfqRQZP2HUb6j2JFHMawKHDTZacaEaocklaPATsq7D\u002B5Ln4jv6n[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e9d25eca-f008-e86c-db2d-bfd329c5c504/foo/19e40111-f1aa-a2fe-b291-edec993fee4e%5Cec78e99b-fece-45e6-e7d7-39fa31c486f8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 09:55:34 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "wXOZCJXWTfuv5wlvQXZToQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE82826FC2ED\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 09:55:34 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 09:55:34 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T09:55:34.1833724Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e9d25eca-f008-e86c-db2d-bfd329c5c504?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 09:55:35 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "290884292",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
