{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-dac63f18-2a56-cbf7-3631-38f73d185d0d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 09:55:09 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE8273F9D1E8\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 09:55:09 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-dac63f18-2a56-cbf7-3631-38f73d185d0d/foo%5C73d2370a-60a8-3484-ec75-19dd60bd29b1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 15 Dec 2022 09:55:09 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "u2pDVoQO57IqsBCnwJVaAFjGL2qzAiVTY19hsbxXSxZrcgKLfcl//FAfSfdP3HNXGhmEmo6//bhF8PMlrDX202X5O06SzoKPRjIak7kuA4brCpaj0rCIrHRJRo3WWlAaKHaSVqAlxUuW9VRbpGr/F\u002B1tOqKfUwC0cY/aSIj1uOzi/2pCm63lxURKDN1cLAcKSi6faSCue9V13eQRS3zDoTxneaX/vHtAh3RdVEYjV0WIz/5ZVU/MM4SVzb7I1HnIh2ug9bJiC46zX\u002BGrUCeOUoafiXt\u002BaUvsmkUgae\u002B9d7P6lMzbgmKSJcRwpvZuIeNdBno3KUr9Sh4ftFptQaGf9egu[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-dac63f18-2a56-cbf7-3631-38f73d185d0d/foo%5Cc0503ca1-8c0f-d557-07c5-57bc1ae6c6da%5C82d2362b-0b1f-9c91-a432-0098d37e2910",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 15 Dec 2022 09:55:10 GMT",
        "x-ms-version": "2021-12-02"
      },
      "Requ[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-dac63f18-2a56-cbf7-3631-38f73d185d0d?restype=container\u0026comp=list\u0026prefix=foo",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 09:55:10 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-dac63f18-2a56-cbf7-3631-38f73d185d0d/foo/73d2370a-60a8-3484-ec75-19dd60bd29b1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 09:55:10 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "HpT29JGL0UbjRu\u002BTzPhcHw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE8274058E67\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 09:55:09 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 09:55:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T09:55:09.9982439Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-dac63f18-2a56-cbf7-3631-38f73d185d0d/foo/73d2370a-60a8-3484-ec75-19dd60bd29b1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 09:55:10 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE8274058E67\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 09:55:09 GMT",
        "x-ms-blob-content-md5": "HpT29JGL0UbjRu\u002BTzPhcHw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 09:55:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T09:55:09.9982439Z"
      },
      "ResponseBody": "u2pDVoQO57IqsBCnwJVaAFjGL2qzAiVTY19hsbxXSxZrcgKLfcl//FAfSfdP3HNXGhmEmo[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-dac63f18-2a56-cbf7-3631-38f73d185d0d/foo/c0503ca1-8c0f-d557-07c5-57bc1ae6c6da%5C82d2362b-0b1f-9c91-a432-0098d37e2910",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 09:55:12 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "3iI7/lKEBBMWR/9q2PIHgw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE827424357B\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 09:55:10 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 09:55:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T09:55:10.1991291Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-dac63f18-2a56-cbf7-3631-38f73d185d0d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 09:55:12 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "542543922",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
