{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-62898cc3-d858-4fcc-5b2c-2e0a27ebc69e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 09:54:59 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE826DC55DCE\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 09:54:59 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-62898cc3-d858-4fcc-5b2c-2e0a27ebc69e/foo%5Ca30ae329-c796-5da9-3beb-bdbdd19f0931",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 15 Dec 2022 09:54:59 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "6RW4FHiTmSQrjzu5VvMZHGLSHQe/tByh/VJdIOgMe/s/yMy4s\u002Bx8lkrmdweM7wdH0aBa/4IBcTT5FhcmNXk7HhM/eo0nYGh2VYe92TwUFQ1LFk5Isnt5PVeXv53UVmDQqljzTA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "2\u002BaELdRheUdmyjswDkqRDQ==",
        "ETag": "\u00220x8DADE826DD4778D\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 09:54:59 GMT",
        "x-ms-content-crc64": "qeWwA3xBOwU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T09:54:59.6102029Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-62898cc3-d858-4fcc-5b2c-2e0a27ebc69e/foo%5C70207975-e437-faa9-4498-f8e4000adb1f%5C976cf32a-3cc6-9036-a1cb-a1ff27ed2fe4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 15 Dec 2022 09:54:59 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "IMmX0fXdEM7Rfvm\u002Bn9qcyntAprfsW4Y5QpDPbEKq01dpFMQ3cgkpTOKexUdCd/DHLteE5kd498VDXo9lDqSLJ6qiVYsWZVdxF1nUTZY\u002B9sqfBz1rJe0P8Rz\u002B8xN5wz49E56cnw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "wTv1f812Dls9Q6cUlczU0w==",
        "ETag": "\u00220x8DADE826E001501\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 09:54:59 GMT",
        "x-ms-content-crc64": "\u002BaseJwuk1Q0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T09:54:59.8960385Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-62898cc3-d858-4fcc-5b2c-2e0a27ebc69e?restype=container\u0026comp=list\u0026prefix=foo",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 09:55:00 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-62898cc3-d858-4fcc-5b2c-2e0a27ebc69e/foo/b7872990-a5ca-0c03-8b7a-37f7edf48553",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 09:55:00 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "w5G3GZSOEl/EHJ6cN2d54Q==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE826DF1982A\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 09:54:59 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 09:54:59 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T09:54:59.8010922Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-62898cc3-d858-4fcc-5b2c-2e0a27ebc69e/foo/b7872990-a5ca-0c03-8b7a-37f7edf48553",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 09:55:00 GMT",
        "x-ms-range": "bytes=0-99",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/100",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE826DF1982A\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 09:54:59 GMT",
        "x-ms-blob-content-md5": "w5G3GZSOEl/EHJ6cN2d54Q==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 09:54:59 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T09:54:59.8010922Z"
      },
      "ResponseBody": "XUJ/hWmbMu8pDYasg7bhw1lBRqCAFyHlnnSf8SYHUl5/3uzr54I\u002B9faXjrweV4jVmXOerK7l00Yhmeb1\u002B0HIIbsoLaXK9dzWAlCp6Ilkx0fryleyaaavmQulyk2bSfq1zmwB9Q=="
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-62898cc3-d858-4fcc-5b2c-2e0a27ebc69e/foo/70207975-e437-faa9-4498-f8e4000adb1f%5C976cf32a-3cc6-9036-a1cb-a1ff27ed2fe4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 09:55:00 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "wTv1f812Dls9Q6cUlczU0w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE826E001501\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 09:54:59 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 09:54:59 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T09:54:59.8960385Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-62898cc3-d858-4fcc-5b2c-2e0a27ebc69e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 09:55:00 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1582108684",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
