{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d54a1fa8-4e53-6985-9333-aef0beff2a8f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Jan 2023 22:53:20 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFB39213C9A41\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:53:21 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d54a1fa8-4e53-6985-9333-aef0beff2a8f/destFolder%5Cblob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:53:21 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "lV/GMvftV2RXfeKGwuJi\u002Bd/fUrN3EBQlxQd9\u002BUiooY9KEudIdG4HTmbkNbwiQT7d3KbzkKREW4RKoWzwcF0brtxSO6/6GoRx2ARNk9pYA4PInxyitRDrBbZi/dMBFt4IyYfgzwWO4sIigbig98ep8p7pJ9BAefnLZzX5lxyxcMElRMpTeDN\u002BOr1afzNXSg7uuAs0GO8Nx0\u002BOFGjPlUqlcBH2erL9Vnprau0T5vnFdBwnCt4RfFjSGH16xWPKr6VytA8iYc9c8WKQya0B\u002BuFWyKBMqIprlPO4JGI1gpEWoLtIoTHqoxJMyxh8gLOr0B6cJPzDfgYaBh8baj1tJ2/[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d54a1fa8-4e53-6985-9333-aef0beff2a8f/destFolder%5Cblob2%2C",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:53:21 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "U4XGry5plC\u002BzeZTbKq351Gv1rgcA6\u002BlZTyFBrcL[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d54a1fa8-4e53-6985-9333-aef0beff2a8f/destFolder%5Cd4803b49-7bae-e6ae-995f-fd1c6dda7f9e%5Cblob3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:53:21 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "bhJ8S7pVqyJya[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d54a1fa8-4e53-6985-9333-aef0beff2a8f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:53:21 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1452268529",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
