{
  "Entries": [
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-e2296d8c-24d0-7bd1-1194-6efd2ef9d17a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 03 Aug 2020 16:00:21 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D837C653A2C0C8\u0022",
        "Last-Modified": "Mon, 03 Aug 2020 16:00:21 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-e2296d8c-24d0-7bd1-1194-6efd2ef9d17a/test-file-9c4df128-a2b6-5772-4801-0447121cfd46?resource=file\u0026blobtype=appendblob",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 03 Aug 2020 16:00:22 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D837C658040476\u0022",
        "Last-Modified": "Mon, 03 Aug 2020 16:00:29 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-e2296d8c-24d0-7bd1-1194-6efd2ef9d17a/test-file-9c4df128-a2b6-5772-4801-0447121cfd46?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "i8dzthKPoF3Ly/PGNAJxlw==",
        "x-ms-date": "Mon, 03 Aug 2020 16:00:29 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": "DwMuvsqBg4AnlvhaJSpsTZY9vGyPccf/Rj49LcUb1eRt3jjnzKz7CSIMZecDXukUTZQXowOCEJ47LneMQ1a6C8EU7UfyhIDqQbJJggzg/OhVKN8xBDLh682Zq540b8bMUlkl73ChIsgTLWFQOI2SWzKPNhp2iAePMgF5WNnitdLsfS\u002Byugx3swYWHtfQkLI/B1BrpTirVclSlrxuKMnvMHiOZLte36AmGIMUX2owvqFPOVGIdxCZQCdmYCNPCIo9J\u002B1fQiz34SiwRYy1l/VfIdgbH\u002B94Zrlo9SOT\u002BH581g/41jh80Xx1V1co2DGD46kyBj9LNOibx[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-e2296d8c-24d0-7bd1-1194-6efd2ef9d17a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 03 Aug 2020 16:00:36 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "158250260",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttps://seannsecanary.blob.core.windows.net\nhttps://seannsecanary.file.core.windows.net\nhttps://seannsecanary.queue.core.windows.net\nhttps://seannsecanary.table.core.windows.net\n\n\n\n\nhttps://seannsecanary-secondary.blob.core.windows.net\nhttps://seannsecanary-secondary.file.core.windows.net\nhttps://seannsecanary-secondary.queue.core.windows.net\nhttps://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannsecanary.blob.core.windows.net/;QueueEndpoint=https://seannsecanary.queue.core.windows.net/;FileEndpoint=https://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}