{
  "Entries": [
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-de431258-3630-a005-7cdb-08260b7811e3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 24 Mar 2022 15:30:17 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA0DAB339B9924\u0022",
        "Last-Modified": "Thu, 24 Mar 2022 15:30:18 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-de431258-3630-a005-7cdb-08260b7811e3/test-file-35114473-3ced-c6f7-8204-c4067ae43f51?resource=file\u0026blobtype=appendblob",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Mar 2022 15:30:18 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA0DAB341D7170\u0022",
        "Last-Modified": "Thu, 24 Mar 2022 15:30:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-de431258-3630-a005-7cdb-08260b7811e3/test-file-35114473-3ced-c6f7-8204-c4067ae43f51?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "ZdNaksoKxTTQxSDNJbm62w==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 24 Mar 2022 15:33:46 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "TeqVfR1ThGTmeRTTzotvkzzPuAI3IThy1yP8zY/dLJylsh5rWUrX\u002BvNJN5\u002BEThX/g\u002BxEnMxwgyuyI6b6VrbUCEx4LhttAzny970P7eqY7YkO/EqimZDQNC7yuTWj3aQ8dC5SDB/5kX\u002ByUqQOYZZBGTUd61lsMW\u002B8qPnse0oDThoZ0nm8RuFpFGvK70fswdOYsaAAhvFK0EK/lmMmDRY1rgSJ9Y8chdNTtNbuokIn0OYmU8mpA8gpzwI2/LB\u002BQgdUlUBDYsxDeyzNrNEaWy0Al8V8/7lNi6s7YCaN5ogi1XHPmg0B5G0a4tec3Fb2DnP[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-de431258-3630-a005-7cdb-08260b7811e3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Mar 2022 15:33:47 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1149520446",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttps://seannsecanary.blob.core.windows.net\nhttps://seannsecanary.file.core.windows.net\nhttps://seannsecanary.queue.core.windows.net\nhttps://seannsecanary.table.core.windows.net\n\n\n\n\nhttps://seannsecanary-secondary.blob.core.windows.net\nhttps://seannsecanary-secondary.file.core.windows.net\nhttps://seannsecanary-secondary.queue.core.windows.net\nhttps://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannsecanary.blob.core.windows.net/;QueueEndpoint=https://seannsecanary.queue.core.windows.net/;FileEndpoint=https://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n\n\n"
  }
}
