{
  "Entries": [
    {
      "RequestUri": "https://kujxscnapsn4prde12e.blob.preprod.core.windows.net/test-filesystem-f7699a36-97a5-4839-3b77-96203f8a758c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 03 Aug 2021 16:40:03 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9569D588B3BD5\u0022",
        "Last-Modified": "Tue, 03 Aug 2021 16:40:04 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kujxscnapsn4prde12e.dfs.preprod.core.windows.net/test-filesystem-f7699a36-97a5-4839-3b77-96203f8a758c/test-file-8cf29d94-e594-24ba-ace4-f573126cdc11?action=concurrentAppend\u0026appendmode=autoCreate",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Tue, 03 Aug 2021 16:40:03 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": [
        "\uFFFD\u0007\uFFFD|iY\uFFFDI\uFFFD\uFFFD\u0001w;\uFFFD1\uFFFDl\uFFFD9\uFFFD6\uFFFD\uFFFD\uFFFD\b\uFFFDo\uFFFD\uFFFD\u0248\uFFFDV\uFFFD\n",
        "K\u007FJ\uFFFD;\uFFFD\uFFFD\uFFFD\uFFFDB\u8F73,\u0006w3\r",
        "\uFFFD\uFFFD\f9sl\uFFFD1L\uFFFDb* w\uFFFD\uFFFDI!\u0019\uFFFD\u001D\uFFFD\fQ\uFFFD\uFFFD\u0013\uFFFD\b\uFFFD\uFFFD\u0010\uFFFDI\uF[...]
    {
      "RequestUri": "https://kujxscnapsn4prde12e.blob.preprod.core.windows.net/test-filesystem-f7699a36-97a5-4839-3b77-96203f8a758c/test-file-8cf29d94-e594-24ba-ace4-f573126cdc11",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Aug 2021 16:40:04 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9569D58948339\u0022",
        "Last-Modified": "Tue, 03 Aug 2021 16:40:04 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 03 Aug 2021 16:40:04 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "9Ae5fGlZ7Emj6gF3O\u002B4xyGyaOc429fqACPxvu/3JiNdWxApLf0qBO7Gp6ankQui9sywGdzMN2/8MOXNs6TFM2WIqIHfj5UkhGf0djQxRnMUTsQjQwhCjSegLPkbWFFGAXA9HuSJx2c3j5V41703yu52tWTcpexZRhteO2KYCSgSrnTD8CuKjotg67d2yblmbGIOoKbsZV\u002BD49TJK4gEm4JpZiVIc9rG6CrZf7o45nxh9878jWSFIkkVPBBSwWL/WEw1DWOQGfiLR7h8EumhSv1UZze9BA4Z4EPcNzPKcCbH3iduB9UczdnSdUmsCRNjd/US/lovQlRCGy0ft\u002BbEwNeRtDTCN0coO5ld6pLAbdcwfMM\u002Bt3XMmJ/PK\u002BioARnzCbRyGlDanTyt6s[...]
    {
      "RequestUri": "https://kujxscnapsn4prde12e.blob.preprod.core.windows.net/test-filesystem-f7699a36-97a5-4839-3b77-96203f8a758c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Aug 2021 16:40:04 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "878906585",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nkujxscnapsn4prde12e\nU2FuaXRpemVk\nhttps://kujxscnapsn4prde12e.blob.preprod.core.windows.net\nhttps://kujxscnapsn4prde12e.file.core.windows.net\nhttps://kujxscnapsn4prde12e.queue.core.windows.net\nhttps://kujxscnapsn4prde12e.table.core.windows.net\n\n\n\n\nhttps://kujxscnapsn4prde12e-secondary.blob.core.windows.net\nhttps://kujxscnapsn4prde12e-secondary.file.core.windows.net\nhttps://kujxscnapsn4prde12e-secondary.queue.core.windows.net\nhttps://kujxscnapsn4prde12e-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://kujxscnapsn4prde12e.blob.preprod.core.windows.net/;QueueEndpoint=https://kujxscnapsn4prde12e.queue.core.windows.net/;FileEndpoint=https://kujxscnapsn4prde12e.file.core.windows.net/;BlobSecondaryEndpoint=https://kujxscnapsn4prde12e-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://kujxscnapsn4prde12e-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://kujxscnapsn4prde12e-secondary.file.core.windows.net/;AccountName=kujxscnapsn4prde12e;AccountKey=Sanitized\n\nXClient\n"
  }
}