{
  "Entries": [
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-0dd553f6-51d6-bf57-e491-5e4ddd46d06c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 24 Mar 2022 14:25:40 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA0DA22CC24B1B\u0022",
        "Last-Modified": "Thu, 24 Mar 2022 14:25:41 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-0dd553f6-51d6-bf57-e491-5e4ddd46d06c/test-file-f28343b6-62b2-0ab6-6acd-32cf282cb24e?action=concurrentAppend\u0026appendmode=autoCreate",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 24 Mar 2022 14:25:40 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "6AILhRYuAaguo4Ryv5btplA2dckTtqneoSU4nml/tmqp3mkXKTDch0LaxA7eREvT4It\u002B8rboOzJZLOPw9mM\u002Bru0ayOEt1XwgWe2HOPGaAF3aZL3dAcOzwKI2vvxM7JHfnBUgw3tqpgsPXpnJYQNAviyGFZGlYa0qZwg\u002B9hZ/021bp5zbej3hcL2yzqMq6l6f9QDQxtYAOTpo9lxzK7D1j4orbblnZUTupaTU85IK/3ypngAVrg2WW21hc4PgbkQNvT4Y/nylOJC84SAxK0anXfbfyY2v3\u002BB8lRFLBfHADjZgxjZU8QH/BGZvWMzsZC8nuRWNAKW3X[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-0dd553f6-51d6-bf57-e491-5e4ddd46d06c/test-file-f28343b6-62b2-0ab6-6acd-32cf282cb24e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Mar 2022 14:25:41 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA0DA22D165C2A\u0022",
        "Last-Modified": "Thu, 24 Mar 2022 14:25:41 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 24 Mar 2022 14:25:41 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": "6AILhRYuAaguo4Ryv5btplA2dckTtqneoSU4nml/tmqp3mkXKTDch0LaxA7eREvT4It\u002B8rboOzJZLOPw9mM\u002Bru0ayOEt1XwgWe2HOPGaAF3aZL3dAcOzwKI2vvxM7JHfnBUgw3tqpgsPXpnJYQNAviyGFZGlYa0qZwg\u002B9hZ/021bp5zbej3hcL2yzqMq6l6f9QDQxtYAOTpo9lxzK7D1j4orbblnZUTupaTU85IK/3ypngAVrg2WW21hc4PgbkQNvT4Y/nylOJC84SAxK0anXfbfyY2v3\u002BB8lRFLBfHADjZgxjZU8QH/BGZvWMzsZC8nuRWNAKW3Xd1dnGlqWTKe/NPq0WUQU2z138QmP4YUjzDiJEzcMw2RqGhY9lWXlas00Fz5ApLKF2apmCDgkR[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-0dd553f6-51d6-bf57-e491-5e4ddd46d06c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Mar 2022 14:25:41 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "259990322",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttps://seannsecanary.blob.core.windows.net\nhttps://seannsecanary.file.core.windows.net\nhttps://seannsecanary.queue.core.windows.net\nhttps://seannsecanary.table.core.windows.net\n\n\n\n\nhttps://seannsecanary-secondary.blob.core.windows.net\nhttps://seannsecanary-secondary.file.core.windows.net\nhttps://seannsecanary-secondary.queue.core.windows.net\nhttps://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannsecanary.blob.core.windows.net/;QueueEndpoint=https://seannsecanary.queue.core.windows.net/;FileEndpoint=https://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n\n\n"
  }
}
