{
  "Entries": [
    {
      "RequestUri": "https://kujxscnapsn4prde12e.blob.preprod.core.windows.net/test-filesystem-bc8dd9d6-54d3-23b7-bc95-72e009c47540?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 03 Aug 2021 16:09:55 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9569922E9582C\u0022",
        "Last-Modified": "Tue, 03 Aug 2021 16:09:56 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kujxscnapsn4prde12e.dfs.preprod.core.windows.net/test-filesystem-bc8dd9d6-54d3-23b7-bc95-72e009c47540/test-file-7ea63c22-a4ea-98d8-ae16-1cb6d5756394?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Aug 2021 16:09:56 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9569922F82883\u0022",
        "Last-Modified": "Tue, 03 Aug 2021 16:09:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kujxscnapsn4prde12e.dfs.preprod.core.windows.net/test-filesystem-bc8dd9d6-54d3-23b7-bc95-72e009c47540/test-file-7ea63c22-a4ea-98d8-ae16-1cb6d5756394?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 03 Aug 2021 16:09:56 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "BJ4dYm\u002BLF8Qwqx5ev2qON6RWkTtU4BMWuZarb/PuF4l912lrWQ9XmYJbUtViiBNYzzJ4jUXTuCSKB6jZ36jRQZOV4ecBI96U//e5\u002BY0\u002BtDGCUp/AdopEqR5E4FJnfbnZiRBCzaYrV6tU5I5NGr\u002BWTFJ3V4wIEcsJUTjJvEOMLYE93299\u002B\u002BaLVvvza5H79o9frZP/8CYs0XdEOXxuYptoyLYMDzpPGVBr6wCRFKY5DVqoaQ6vjD1bEA74OMJqHPNgiqPa7\u002BZUEJRCkwQlm7zRCiwhxfmMuTt5sf4sV\u002BGOAc8NMYkDXh5zU[...]
    {
      "RequestUri": "https://kujxscnapsn4prde12e.blob.preprod.core.windows.net/test-filesystem-bc8dd9d6-54d3-23b7-bc95-72e009c47540?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Aug 2021 16:09:56 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "312937500",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nkujxscnapsn4prde12e\nU2FuaXRpemVk\nhttps://kujxscnapsn4prde12e.blob.preprod.core.windows.net\nhttps://kujxscnapsn4prde12e.file.core.windows.net\nhttps://kujxscnapsn4prde12e.queue.core.windows.net\nhttps://kujxscnapsn4prde12e.table.core.windows.net\n\n\n\n\nhttps://kujxscnapsn4prde12e-secondary.blob.core.windows.net\nhttps://kujxscnapsn4prde12e-secondary.file.core.windows.net\nhttps://kujxscnapsn4prde12e-secondary.queue.core.windows.net\nhttps://kujxscnapsn4prde12e-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://kujxscnapsn4prde12e.blob.preprod.core.windows.net/;QueueEndpoint=https://kujxscnapsn4prde12e.queue.core.windows.net/;FileEndpoint=https://kujxscnapsn4prde12e.file.core.windows.net/;BlobSecondaryEndpoint=https://kujxscnapsn4prde12e-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://kujxscnapsn4prde12e-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://kujxscnapsn4prde12e-secondary.file.core.windows.net/;AccountName=kujxscnapsn4prde12e;AccountKey=Sanitized\n\nXClient\n"
  }
}