{
  "Entries": [
    {
      "RequestUri": "https://sdktestfastpath.blob.preprod.core.windows.net/test-filesystem-bdece400-5e4e-5a74-18b1-4bd873fec166?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA0DBD7154DB33\u0022",
        "Last-Modified": "Thu, 24 Mar 2022 17:40:52 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdktestfastpath.dfs.preprod.core.windows.net/test-filesystem-bdece400-5e4e-5a74-18b1-4bd873fec166/test-file-9a5815c2-8a0e-c83c-1658-142eec08ab80?resource=file\u0026blobtype=appendblob",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA0DBD71CB1970\u0022",
        "Last-Modified": "Thu, 24 Mar 2022 17:40:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdktestfastpath.dfs.preprod.core.windows.net/test-filesystem-bdece400-5e4e-5a74-18b1-4bd873fec166/test-file-9a5815c2-8a0e-c83c-1658-142eec08ab80?action=concurrentAppend",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-fastpath-session-data": "refresh",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "KEEf5o1CQznnucHuAqZSddndic5fEkEEIX067GhNhcAyZ2w0gJioYtpvsYZHH2VX0qsGO48dwhYAG8QQCFbRmjQBu5o6HfVANSb072C7vAIX4hq8RkkwFKVVNGXTl1qDnhdSRmPLHbW2xgZpKdK2RV7C\u002BSU8FFPq0Kb15OmPbJ3McFBIaHWeTMVlBoBDxuvSn\u002B4GEZ41R4nEZ3W81TnLJllpnbiBbdzoI61g1g7Tpwq7I0T6iFv\u002BlinHhAEA4XaMmd8m2SkzUDESHu3x1XB78MBrAbH00Z7\u002BagaPuunb6EE20z0urc3giNMT52ptDcG4TJNBlODFl8dBJ24jo5VHNzWrugEzTEPyi3ne4OkzkV1E125VmlRhcTt17YZfveQ9y7A1wVLAhQBQTglm[...]
[...]
    {
      "RequestUri": "https://sdktestfastpath.blob.preprod.core.windows.net/test-filesystem-bdece400-5e4e-5a74-18b1-4bd873fec166?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "608220357",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsdktestfastpath\nU2FuaXRpemVk\nhttps://sdktestfastpath.blob.preprod.core.windows.net\nhttps://sdktestfastpath.file.core.windows.net\nhttps://sdktestfastpath.queue.core.windows.net\nhttps://sdktestfastpath.table.core.windows.net\n\n\n\n\nhttps://sdktestfastpath-secondary.blob.core.windows.net\nhttps://sdktestfastpath-secondary.file.core.windows.net\nhttps://sdktestfastpath-secondary.queue.core.windows.net\nhttps://sdktestfastpath-secondary.table.core.windows.net\nab05f944-835c-4c66-bc86-3a72bb84822c\nSanitized\n023e39f2-b57a-4d29-9eaa-1833df6d37ed\nhttps://login.windows-ppe.net/\nCloud\nBlobEndpoint=https://sdktestfastpath.blob.preprod.core.windows.net/;QueueEndpoint=https://sdktestfastpath.queue.core.windows.net/;FileEndpoint=https://sdktestfastpath.file.core.windows.net/;BlobSecondaryEndpoint=https://sdktestfastpath-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://sdktestfastpath-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://sdktestfastpath-secondary.file.core.windows.net/;AccountName=sdktestfastpath;AccountKey=Sanitized\n\n\n"
  }
}
