{
  "Entries": [
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-65cd0a59-78f0-5379-c217-fdabbeea8023?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 30 Jul 2020 03:14:55 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83436BC46A73B\u0022",
        "Last-Modified": "Thu, 30 Jul 2020 03:14:56 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-65cd0a59-78f0-5379-c217-fdabbeea8023/test-file-327eb18d-61b2-3f4d-2f96-ba0b978e1509?resource=file\u0026blobtype=appendblob",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jul 2020 03:14:56 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83436BCE5EA03\u0022",
        "Last-Modified": "Thu, 30 Jul 2020 03:14:57 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-65cd0a59-78f0-5379-c217-fdabbeea8023/test-file-327eb18d-61b2-3f4d-2f96-ba0b978e1509?action=concurrentAppend",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jul 2020 03:14:56 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": "32DyWhA\u002B5O2acZg5k/aOWDI0P6Ixic0/qN5GYu6gda8TdHhQ5Ah2jRBv8ck5l6GeFlhDY6rDJ1WSsrIx9[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-65cd0a59-78f0-5379-c217-fdabbeea8023/test-file-327eb18d-61b2-3f4d-2f96-ba0b978e1509",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jul 2020 03:14:57 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D83436BD0E3D5F\u0022",
        "Last-Modified": "Thu, 30 Jul 2020 03:14:57 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Jul 2020 03:14:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": "32DyWhA\u002B5O2acZg5k/aOWDI0P6Ixic0/qN5GYu6gda8TdHhQ5Ah2jRBv8ck5l6GeFlhDY6rDJ1WSsrIx94L\u002B\u002BvzoJh9\u002BPXMpvrGRwZgEBRA8p0yWXBIFT0wivjJWRJaOcffMUXGCINjlGaX4MWW9jayh9U82aJ3q49bSW39B03kbA1CgOLSfuYdzsENtDB3mZDCFtU5GWAhZ4m2asMRYo0Yr3S4VHVX3ATvIwrdafda46/dOux4r1KpIRlVHBAnCGg38QS/u0UfbjbMSfpVQ/2WX4sTNCucoAAiEzNb/sPwyBaeqXTunyRqwci1qGFYU90fwryJF9RAl1EEmagRx29y24HjupqIp8BiqHZe6veeyb9WODwHa7BCXhYj6gF4VP5dQszfdJlGkxr8Kmt[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-65cd0a59-78f0-5379-c217-fdabbeea8023?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jul 2020 03:14:57 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1021312285",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttps://seannsecanary.blob.core.windows.net\nhttps://seannsecanary.file.core.windows.net\nhttps://seannsecanary.queue.core.windows.net\nhttps://seannsecanary.table.core.windows.net\n\n\n\n\nhttps://seannsecanary-secondary.blob.core.windows.net\nhttps://seannsecanary-secondary.file.core.windows.net\nhttps://seannsecanary-secondary.queue.core.windows.net\nhttps://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannsecanary.blob.core.windows.net/;QueueEndpoint=https://seannsecanary.queue.core.windows.net/;FileEndpoint=https://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}