{
  "Entries": [
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-71fcd4bc-51ba-c40a-4f6c-141670b0732c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 30 Jul 2020 03:15:19 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83436CA9E5E12\u0022",
        "Last-Modified": "Thu, 30 Jul 2020 03:15:20 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-71fcd4bc-51ba-c40a-4f6c-141670b0732c/test-file-05b620ac-57c0-e1b6-5d74-90513f7143bc?resource=file\u0026blobtype=appendblob",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jul 2020 03:15:19 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83436CACC1C2C\u0022",
        "Last-Modified": "Thu, 30 Jul 2020 03:15:20 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-71fcd4bc-51ba-c40a-4f6c-141670b0732c/test-file-05b620ac-57c0-e1b6-5d74-90513f7143bc?action=concurrentAppend",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jul 2020 03:15:20 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": "4trsQUWla0l2/BgqMT6cgHCNffuE4uDyMnEn97GcPgEk\u002BJVq8MG\u002BLdej6t\u002Bi5vSKzzCd7W1[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-71fcd4bc-51ba-c40a-4f6c-141670b0732c/test-file-05b620ac-57c0-e1b6-5d74-90513f7143bc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jul 2020 03:15:20 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D83436CB23AFEF\u0022",
        "Last-Modified": "Thu, 30 Jul 2020 03:15:21 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Jul 2020 03:15:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": "4trsQUWla0l2/BgqMT6cgHCNffuE4uDyMnEn97GcPgEk\u002BJVq8MG\u002BLdej6t\u002Bi5vSKzzCd7W11qf/6\u002Bg7TfnSX2r4XBjmpMZCuz1Ak4fgAUEx9nCeA/lGTrk6VcPay6q5iCw8hi\u002BC74Z2g7h4dUcgH\u002BarCVuFMFttsg1fqE8GZ\u002B\u002BShwdXp38VswbuK4BAydl2GjnZL8JTMFvQztAeI0M3cBvI6e4/yHhnlVpQmwjbLOgz5ZIVKTQtP1KrhtSu94/Htrtke\u002BPvNk3BcZpn/plS9aHr7j2tIkbjm6qblEWnuKHOjOBRdrUERLNAV7edyUC5WI0ywwlSFpRwgNw5U6IIHbj4lXG1AYLs46WOaM6PRdJl4ju0cPWUfHpP3P[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-71fcd4bc-51ba-c40a-4f6c-141670b0732c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jul 2020 03:15:20 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "232217639",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttps://seannsecanary.blob.core.windows.net\nhttps://seannsecanary.file.core.windows.net\nhttps://seannsecanary.queue.core.windows.net\nhttps://seannsecanary.table.core.windows.net\n\n\n\n\nhttps://seannsecanary-secondary.blob.core.windows.net\nhttps://seannsecanary-secondary.file.core.windows.net\nhttps://seannsecanary-secondary.queue.core.windows.net\nhttps://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannsecanary.blob.core.windows.net/;QueueEndpoint=https://seannsecanary.queue.core.windows.net/;FileEndpoint=https://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}