{
  "Entries": [
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-01df23b2-bb45-986d-baf3-83aa4138e236?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 30 Jul 2020 03:15:22 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83436CC1362EA\u0022",
        "Last-Modified": "Thu, 30 Jul 2020 03:15:22 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-01df23b2-bb45-986d-baf3-83aa4138e236/test-file-2ef8f646-9beb-8e55-9079-f0231b18cd14?action=concurrentAppend\u0026appendmode=autoCreate",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jul 2020 03:15:22 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": "5bY6LFOZKmtC\u002BChiDi\u002BcUWszD9Ot3\u002BHUwFW3kjL4OUoE[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-01df23b2-bb45-986d-baf3-83aa4138e236/test-file-2ef8f646-9beb-8e55-9079-f0231b18cd14",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jul 2020 03:15:23 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83436CC966EA0\u0022",
        "Last-Modified": "Thu, 30 Jul 2020 03:15:23 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Jul 2020 03:15:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": "5bY6LFOZKmtC\u002BChiDi\u002BcUWszD9Ot3\u002BHUwFW3kjL4OUoE/30ThYkZrMyM6/Nz8n9h3Z\u002B35wj6ZgXUZmz94pc5Sb7dXg\u002BxicviGmIGIfTuYM3WVrWTQVJBCZh4Ph8dG8o0UqE0lpRwr1PT1cym80UR5QaeJ4zipQhsm1R2OUqrxP\u002BY0s5Susk5ZaZhv2uFmxZTZ1gZf/M\u002BUqyZx/o/\u002BXYIJxHNDSF2vys8ZcHlgOad5/89I9HykkULWoAhufPP\u002BWwvWJhauI713act3RkyWNHG\u002B\u002BD6AtakFpXMwrOhVAY3bGxVtihOQy9xSEUqxbUr2QKuWr0T1PeVikICjfXbVIih9XCt3KGoeLiwibmQelHgoemw8vl[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-01df23b2-bb45-986d-baf3-83aa4138e236?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jul 2020 03:15:23 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1974831231",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttps://seannsecanary.blob.core.windows.net\nhttps://seannsecanary.file.core.windows.net\nhttps://seannsecanary.queue.core.windows.net\nhttps://seannsecanary.table.core.windows.net\n\n\n\n\nhttps://seannsecanary-secondary.blob.core.windows.net\nhttps://seannsecanary-secondary.file.core.windows.net\nhttps://seannsecanary-secondary.queue.core.windows.net\nhttps://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannsecanary.blob.core.windows.net/;QueueEndpoint=https://seannsecanary.queue.core.windows.net/;FileEndpoint=https://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}