{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-d57d8469-ab69-d763-1cea-2d79f13d3426?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 13 Jul 2022 17:05:56 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA64F1F43CAA1C\u0022",
        "Last-Modified": "Wed, 13 Jul 2022 17:05:57 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-d57d8469-ab69-d763-1cea-2d79f13d3426/test-directory-c72f4bfa-e0da-d74b-1a82-d4fc1f165d62?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 13 Jul 2022 17:05:57 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA64F1F44CFFCE\u0022",
        "Last-Modified": "Wed, 13 Jul 2022 17:05:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-d57d8469-ab69-d763-1cea-2d79f13d3426/test-directory-c72f4bfa-e0da-d74b-1a82-d4fc1f165d62/test-file-6f1109fa-fdac-c72c-e200-1814ff75b266?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 13 Jul 2022 17:05:57 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA64F1F459EC9D\u0022",
        "Last-Modified": "Wed, 13 Jul 2022 17:05:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-f3098325-ae9e-db3b-0720-278aaa0c108e/test-directory-6bcf6ca8-a0c5-92b1-3d7a-59fe9d7b4579/test-file-23bab0fb-9923-fe34-4c5f-7a02b2c22ab1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 12 Jul 2022 17:05:56 GMT",
        "x-ms-date": "Wed, 13 Jul 2022 17:05:57 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA64F1F4A19076\u0022",
        "Last-Modified": "Wed, 13 Jul 2022 17:05:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-92353563-7319-41a1-a494-16b8af7d3eb4/test-directory-e879a838-1780-d1ac-7554-9fdc0299eb53/test-file-5de8823f-2ece-bc9a-6611-aaf7aae81442?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 14 Jul 2022 17:05:56 GMT",
        "x-ms-date": "Wed, 13 Jul 2022 17:05:58 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA64F1F4E91F5D\u0022",
        "Last-Modified": "Wed, 13 Jul 2022 17:05:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-a8c69009-6a08-6cb5-50a8-84e2a8f73479/test-directory-096b7743-16c8-3c6d-f096-5c065b9fd3e6/test-file-2b653d90-cbe1-671a-6038-f9ac6fec93f8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 13 Jul 2022 17:05:58 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA64F1F51918AA\u0022",
        "Last-Modified": "Wed, 13 Jul 2022 17:05:58 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 13 Jul 2022 17:05:58 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-a8c69009-6a08-6cb5-50a8-84e2a8f73479/test-directory-096b7743-16c8-3c6d-f096-5c065b9fd3e6/test-file-2b653d90-cbe1-671a-6038-f9ac6fec93f8?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DA64F1F51918AA",
        "x-ms-date": "Wed, 13 Jul 2022 17:05:58 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA64F1F52D3CD4\u0022",
        "Last-Modified": "Wed, 13 Jul 2022 17:05:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-ed18e027-8484-8950-ec81-9f2d1b9fedb2/test-directory-f2164a31-f8f3-8504-3d8f-356021bb98dd/test-file-a30a7fc7-2a47-76c7-d4a1-c526ebd13fac?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Wed, 13 Jul 2022 17:05:58 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA64F1F56EEF4F\u0022",
        "Last-Modified": "Wed, 13 Jul 2022 17:05:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-ee5d9ad0-3187-9a13-e893-edcf4c2aa60f/test-directory-bfb31c66-5b8d-2bb8-1c4d-d16cd52a4737/test-file-a845f65b-0dcd-45f9-7b4a-6e6db708b4e6?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 13 Jul 2022 17:05:59 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "b500814a-c253-49e2-bd14-95674bf88bfa",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA64F1F59BE4C8\u0022",
        "Last-Modified": "Wed, 13 Jul 2022 17:05:59 GMT",
        "x-ms-lease-id": "b500814a-c253-49e2-bd14-95674bf88bfa",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-ee5d9ad0-3187-9a13-e893-edcf4c2aa60f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 13 Jul 2022 17:05:59 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-13T12:05:56.9267625-05:00",
    "RandomSeed": "1681982690",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seancanaryv3.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seancanaryv3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\nseanscope1\nXClient\n"
  }
}
