{
  "Entries": [
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-2aa5cdd5-8ad9-2337-3dd3-5c7f4c595046?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 30 Jul 2020 03:15:45 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83436DA141A01\u0022",
        "Last-Modified": "Thu, 30 Jul 2020 03:15:46 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-2aa5cdd5-8ad9-2337-3dd3-5c7f4c595046/test-directory-9c8f0b39-d716-7f4f-019e-6371ab5299ff?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jul 2020 03:15:46 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83436DA6841AF\u0022",
        "Last-Modified": "Thu, 30 Jul 2020 03:15:47 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-2aa5cdd5-8ad9-2337-3dd3-5c7f4c595046/test-directory-9c8f0b39-d716-7f4f-019e-6371ab5299ff/test-file-bb10bef6-fed4-e754-4d3c-1fed08ede988?resource=file\u0026blobtype=appendblob",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Thu, 30 Jul 2020 03:15:46 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83436DA7A254B\u0022",
        "Last-Modified": "Thu, 30 Jul 2020 03:15:47 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-2aa5cdd5-8ad9-2337-3dd3-5c7f4c595046?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jul 2020 03:15:46 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "883083250",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttps://seannsecanary.blob.core.windows.net\nhttps://seannsecanary.file.core.windows.net\nhttps://seannsecanary.queue.core.windows.net\nhttps://seannsecanary.table.core.windows.net\n\n\n\n\nhttps://seannsecanary-secondary.blob.core.windows.net\nhttps://seannsecanary-secondary.file.core.windows.net\nhttps://seannsecanary-secondary.queue.core.windows.net\nhttps://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannsecanary.blob.core.windows.net/;QueueEndpoint=https://seannsecanary.queue.core.windows.net/;FileEndpoint=https://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}