{
  "Entries": [
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "I need a reservation for an indoor restaurant in China. Please don\u0027t stop the music. Play music and add it to my playlist",
              "language": "en"
            },
            {
              "id": "2",
              "text": "David Schmidt, senior vice president--Food Safety, International Food Information Council (IFIC), Washington, D.C., discussed the physical activity component.",
              "language": "en"
            }
          ]
        },
        "tasks": {
          "customSingleClassificationTasks": [
            {
              "parameters": {
                "project-name": "659c1851-be0b-4142-b12a-087da9785926",
                "deployment-name": "659c1851-be0b-4142-b12a-087da9785926"
              }
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze/jobs/071f898a-5b56-4062-a18f-b3b1a19f348c"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze/jobs/071f898a-5b56-4062-a18f-b3b1a19f348c?showStats=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "071f898a-5b56-4062-a18f-b3b1a19f348c",
        "lastUpdateDateTime": "2021-09-26T17:32:17Z",
        "createdDateTime": "2021-09-26T17:32:16Z",
        "expirationDateTime": "2021-09-27T17:32:16Z",
        "status": "notStarted",
        "errors": [],
        "displayName": "NA",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1
        }
      }
    },
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze/jobs/071f898a-5b56-4062-a18f-b3b1a19f348c?showStats=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "071f898a-5b56-4062-a18f-b3b1a19f348c",
        "lastUpdateDateTime": "2021-09-26T17:32:17Z",
        "createdDateTime": "2021-09-26T17:32:16Z",
        "expirationDateTime": "2021-09-27T17:32:16Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "NA",
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "customSingleClassificationTasks": [
            {
              "lastUpdateDateTime": "2021-09-26T17:32:17.6081578Z",
              "state": "succeeded",
              "results": {
                "statistics": {
                  "documentsCount": 2,
                  "validDocumentsCount": 2,
                  "erroneousDocumentsCount": 0,
                  "transactionsCount": 2
                },
                "documents": [
                  {
                    "id": "1",
                    "classification": {
                      "category": "BookRestaurant",
                      "confidenceScore": 1.0
                    },
                    "statistics": {
                      "charactersCount": 121,
                      "transactionsCount": 1
                    },
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "classification": {
                      "category": "RateBook",
                      "confidenceScore": 0.57
                    },
                    "statistics": {
                      "charactersCount": 158,
                      "transactionsCount": 1
                    },
                    "warnings": []
                  }
                ],
                "errors": [],
                "projectName": "659c1851-be0b-4142-b12a-087da9785926",
                "deploymentName": "659c1851-be0b-4142-b12a-087da9785926"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "884629089",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://cognitiveweppe.azure-api.net"
  }
}