{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Subject is taking 100mg of ibuprofen twice daily",
              "language": "en"
            },
            {
              "id": "1",
              "text": "",
              "language": "en"
            }
          ]
        },
        "tasks": {
          "customSingleClassificationTasks": [
            {
              "parameters": {
                "project-name": "659c1851-be0b-4142-b12a-087da9785926",
                "deployment-name": "659c1851-be0b-4142-b12a-087da9785926"
              }
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/60124a98-acfa-4258-a331-3d2170833ea1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/60124a98-acfa-4258-a331-3d2170833ea1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "60124a98-acfa-4258-a331-3d2170833ea1",
        "lastUpdateDateTime": "2021-10-25T23:44:53Z",
        "createdDateTime": "2021-10-25T23:44:53Z",
        "expirationDateTime": "2021-10-26T23:44:53Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1
        }
      }
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/60124a98-acfa-4258-a331-3d2170833ea1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "60124a98-acfa-4258-a331-3d2170833ea1",
        "lastUpdateDateTime": "2021-10-25T23:44:53Z",
        "createdDateTime": "2021-10-25T23:44:53Z",
        "expirationDateTime": "2021-10-26T23:44:53Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "customSingleClassificationTasks": [
            {
              "lastUpdateDateTime": "2021-10-25T23:44:53.8954709Z",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "classification": {
                      "category": "BookRestaurant",
                      "confidenceScore": 0.3
                    },
                    "warnings": []
                  }
                ],
                "errors": [
                  {
                    "id": "1",
                    "error": {
                      "code": "InvalidArgument",
                      "message": "Invalid document in request.",
                      "innererror": {
                        "code": "InvalidDocument",
                        "message": "Document text is empty."
                      }
                    }
                  }
                ],
                "projectName": "659c1851-be0b-4142-b12a-087da9785926",
                "deploymentName": "659c1851-be0b-4142-b12a-087da9785926"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1335292864",
    "TEXTANALYTICS_SINGLE_CATEGORY_CLASSIFY_DEPLOYMENT_NAME": "659c1851-be0b-4142-b12a-087da9785926",
    "TEXTANALYTICS_SINGLE_CATEGORY_CLASSIFY_PROJECT_NAME": "659c1851-be0b-4142-b12a-087da9785926",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}