{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "I need a reservation for an indoor restaurant in China. Please don\u0027t stop the music. Play music and add it to my playlist",
              "language": "en"
            },
            {
              "id": "1",
              "text": "David Schmidt, senior vice president--Food Safety, International Food Information Council (IFIC), Washington, D.C., discussed the physical activity component.",
              "language": "en"
            }
          ]
        },
        "tasks": {
          "customSingleClassificationTasks": [
            {
              "parameters": {
                "project-name": "659c1851-be0b-4142-b12a-087da9785926",
                "deployment-name": "659c1851-be0b-4142-b12a-087da9785926",
                "loggingOptOut": true
              },
              "taskName": "SingleCategoryClassifyWithDisabledServiceLogs"
            },
            {
              "parameters": {
                "project-name": "659c1851-be0b-4142-b12a-087da9785926",
                "deployment-name": "659c1851-be0b-4142-b12a-087da9785926"
              },
              "taskName": "SingleCategoryClassify"
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/cfa9ef2c-31bd-46e5-bf99-620bb5b3962f"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/cfa9ef2c-31bd-46e5-bf99-620bb5b3962f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "cfa9ef2c-31bd-46e5-bf99-620bb5b3962f",
        "lastUpdateDateTime": "2021-10-20T15:08:34Z",
        "createdDateTime": "2021-10-20T15:08:34Z",
        "expirationDateTime": "2021-10-21T15:08:34Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 2,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/cfa9ef2c-31bd-46e5-bf99-620bb5b3962f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "cfa9ef2c-31bd-46e5-bf99-620bb5b3962f",
        "lastUpdateDateTime": "2021-10-20T15:08:35Z",
        "createdDateTime": "2021-10-20T15:08:34Z",
        "expirationDateTime": "2021-10-21T15:08:34Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 2,
          "failed": 0,
          "inProgress": 0,
          "total": 2,
          "customSingleClassificationTasks": [
            {
              "lastUpdateDateTime": "2021-10-20T15:08:35.1829339Z",
              "taskName": "SingleCategoryClassifyWithDisabledServiceLogs",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "classification": {
                      "category": "BookRestaurant",
                      "confidenceScore": 1.0
                    },
                    "warnings": []
                  },
                  {
                    "id": "1",
                    "classification": {
                      "category": "RateBook",
                      "confidenceScore": 0.57
                    },
                    "warnings": []
                  }
                ],
                "errors": [],
                "projectName": "659c1851-be0b-4142-b12a-087da9785926",
                "deploymentName": "659c1851-be0b-4142-b12a-087da9785926"
              }
            },
            {
              "lastUpdateDateTime": "2021-10-20T15:08:35.2502644Z",
              "taskName": "SingleCategoryClassify",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "classification": {
                      "category": "BookRestaurant",
                      "confidenceScore": 1.0
                    },
                    "warnings": []
                  },
                  {
                    "id": "1",
                    "classification": {
                      "category": "RateBook",
                      "confidenceScore": 0.57
                    },
                    "warnings": []
                  }
                ],
                "errors": [],
                "projectName": "659c1851-be0b-4142-b12a-087da9785926",
                "deploymentName": "659c1851-be0b-4142-b12a-087da9785926"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "546593598",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com/"
  }
}