{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "id": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2",
        "authorizationSource": "Bypassed",
        "managedByTenants": [],
        "subscriptionId": "46841c0e-69c8-4b17-af46-6626ecb15fc2",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Avere_AscTIP1_Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourcegroups/rg-rdupuisstoragecache?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-rdupuisstoragecache",
        "name": "rg-rdupuisstoragecache",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "ServiceDirectory": "storagecache",
          "DeleteAfter": "2023-06-19T17:35:05.7616390Z",
          "Owners": "rdupuis"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.Network?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.Network",
        "namespace": "Microsoft.Network",
        "authorizations": [
          {
            "applicationId": "2cf9eb86-36b5-49dc-86ae-9a63135dfa8c",
            "roleDefinitionId": "13ba9ab4-19f0-4804-adc4-14ece36cc7a1"
          },
          {
            "applicationId": "7c33bfcb-8d33-48d6-8e60-dc6404003489",
            "roleDefinitionId": "ad6261e4-fa9a-4642-aa5f-104f1b67e9e3"
          },
          {
            "applicationId": "1e3e4475-288f-4018-a376-df66fd7fac5f",
            "roleDefinitionId": "1d538b69-3d87-4e56-8ff8-25786fd48261"
          },
          {
            "applicationId": "a0be0c72-870e-46f0-9c49-c98333a996f7",
            "roleDefinitionId": "7ce[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-rdupuisstoragecache/providers/Microsoft.Network/virtualNetworks/scTestVNet-2823?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "scTestSubnet-5341",
              "properties": {
                "addressPrefix": "10.0.0.0/16"
              }
            }
          ]
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.Network/locations/eastus/operations/37cda235-a6e3-4eb4-939a-fde04d503b85?api-version=2023-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "name": "scTestVNet-2823",
        "id": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-rdupuisstoragecache/providers/Microsoft.Network/virtualNetworks/scTestVNet-2823",
        "etag": "W/\u00221d7a9741-a379-44cc-bfba-d434f766a471\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "149ca185-76d0-43de-af4f-1b4fc86fabdc",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "scTestSubnet-5341",
              "id": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-rdupuisstoragecache/providers/Microsoft.Network/virtualNetworks/scTestVNet-2823/subnets/scTestSubnet-5341",
              "etag": "W/\u00221d7a9741-a379-44cc-bfba-d434f766a471\u0022",
              "properties": {
                "provisioningState": "Updating",
                "addressPrefix": "10.0.0.0/16",
                "delegations": [],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.Network/locations/eastus/operations/37cda235-a6e3-4eb4-939a-fde04d503b85?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-rdupuisstoragecache/providers/Microsoft.Network/virtualNetworks/scTestVNet-2823?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00222ed018d3-da9f-4d6a-b75f-9924bb462bd5\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "name": "scTestVNet-2823",
        "id": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-rdupuisstoragecache/providers/Microsoft.Network/virtualNetworks/scTestVNet-2823",
        "etag": "W/\u00222ed018d3-da9f-4d6a-b75f-9924bb462bd5\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eas[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourcegroups/rg-rdupuisstoragecache/providers/Microsoft.StorageCache/caches/testsc7779?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_2G"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "cacheSizeGB": 3072,
          "subnet": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-rdupuisstoragecache/providers/Microsoft.Network/virtualNetworks/scTestVNet-2823/subnets/scTestSubnet-5341",
          "zones": [
            "1"
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/49ae9b03-208b-4474-ab8e-eb44107e623b?api-version=2023-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/CreateOrUpdateCache1Min;59",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "name": "testsc7779",
        "id": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-rdupuisstoragecache/providers/Microsoft.StorageCache/caches/testsc7779",
        "type": "Microsoft.StorageCache/caches",
        "location": "eastus",
        "tags": {},
        "sku": {
          "name": "Standard_2G"
        },
        "properties": {
          "networkSettings": {
            "mtu": 1500,
            "ntpServer": "time.windows.com"
          },
          "securitySettings": {
            "accessPolicies": [
              {
                "name": "default",
                "accessRules": [
                  {
                    "scope": "default",
                    "access": "rw",
                    "suid": false,
                    "submountAccess": true,
                    "rootSquash": false
                  }
                ]
              }
            ]
          },
          "directoryServicesSettings": {},
          "zones": [
            "1"
          ],
          "cacheSizeGB": 3072,
          "health": {
            "state": "Transitioning",
            "statusDescription": "The cache is being allocated."
          },
          "provisioningState": "Creating",
          "subnet": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-rdupuisstoragecache/providers/Microsoft.Network/virtualNetworks/scTestVNet-2823/subnets/scTestSubnet-5341",
          "upgradeStatus": {
            "currentFirmwareVersion": "2023.04.2",
            "firmwareUpdateStatus": "unavailable",
            "firmwareUpdateDeadline": "0001-01-01T00:00:00Z",
            "lastFirmwareUpdate": "2023-06-15T22:27:31.1943527Z",
            "pendingFirmwareVersion": ""
          },
          "upgradeSettings": {
            "upgradeScheduleEnabled": false,
            "scheduledTime": "0001-01-01T00:00:00Z"
          }
        },
        "systemData": {
          "createdBy": "31027db9-d339-4593-9b44-454cb0ee04b7",
          "createdByType": "Application",
          "createdAt": "2023-06-15T22:27:30.9804136Z",
          "lastModifiedBy": "31027db9-d339-4593-9b44-454cb0ee04b7",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-15T22:27:30.9804136Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/49ae9b03-208b-4474-ab8e-eb44107e623b?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperationStatus1Min;236",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "startTime": "2023-06-15T22:27:31.0381007\u002B00:00",
        "status": "InProgress",
        "name": "49ae9b03-208b-4474-ab8e-eb44107e623b"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/49ae9b03-208b-4474-ab8e-eb44107e623b?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperationStatus1Min;230",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "startTime": "2023-06-15T22:27:31.0381007\u002B00:00",
        "endTime": "2023-06-15T22:38:13.1210197\u002B00:00",
        "status": "Succeeded",
        "name": "49ae9b03-208b-4474-ab8e-eb44107e623b"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourcegroups/rg-rdupuisstoragecache/providers/Microsoft.StorageCache/caches/testsc7779?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetCache1Min;117",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "name": "testsc7779",
        "id": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-rdupuisstoragecache/providers/Microsoft.StorageCache/caches/testsc7779",
        "type": "Microsoft.StorageCache/caches",
        "location": "eastus",
        "tags": {},
        "sku": {
          "name": "Standard_2G"
        },
        "properties": {
          "networkSettings": {
            "mtu": 1500,
            "utilityAddresses": [
              "10.0.0.10",
              "10.0.0.11",
              "10.0.0.12"
            ],
            "ntpServer": "time.windows.com"
          },
          "securitySettings": {
            "accessPolicies": [
              {
                "name": "default",
                "accessRules": [
                  {
                    "scope": "default",
                    "access": "rw",
                    "suid": false,
                    "submountAccess": true,
                    "rootSquash": false
                  }
                ]
              }
            ]
          },
          "directoryServicesSettings": {},
          "zones": [
            "1"
          ],
          "cacheSizeGB": 3072,
          "health": {
            "state": "Healthy",
            "statusDescription": "The cache is in Running state",
            "conditions": []
          },
          "mountAddresses": [
            "10.0.0.7",
            "10.0.0.8",
            "10.0.0.9"
          ],
          "provisioningState": "Succeeded",
          "subnet": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-rdupuisstoragecache/providers/Microsoft.Network/virtualNetworks/scTestVNet-2823/subnets/scTestSubnet-5341",
          "upgradeStatus": {
            "currentFirmwareVersion": "2023.04.2",
            "firmwareUpdateStatus": "unavailable",
            "firmwareUpdateDeadline": "0001-01-01T00:00:00Z",
            "lastFirmwareUpdate": "2023-06-15T22:27:31.1943527Z",
            "pendingFirmwareVersion": ""
          },
          "upgradeSettings": {
            "upgradeScheduleEnabled": false,
            "scheduledTime": "0001-01-01T00:00:00Z"
          }
        },
        "systemData": {
          "createdBy": "31027db9-d339-4593-9b44-454cb0ee04b7",
          "createdByType": "Application",
          "createdAt": "2023-06-15T22:27:30.9804136Z",
          "lastModifiedBy": "31027db9-d339-4593-9b44-454cb0ee04b7",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-15T22:27:30.9804136Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourcegroups/rg-rdupuisstoragecache/providers/Microsoft.StorageCache/caches/testsc7779/storageTargets/storagetarget7159?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "targetType": "nfs3",
          "nfs3": {
            "target": "10.0.2.4",
            "usageModel": "READ_ONLY",
            "verificationTimer": 30
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/1c46d603-18b2-42e4-9709-3b9a1500aec1?api-version=2023-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/CreateStorageTarget1Min;59",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "name": "storagetarget7159",
        "id": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-rdupuisstoragecache/providers/Microsoft.StorageCache/caches/testsc7779/storageTargets/storagetarget7159",
        "type": "Microsoft.StorageCache/caches/storageTargets",
        "location": "eastus",
        "properties": {
          "allocationPercentage": 100,
          "targetType": "nfs3",
          "provisioningState": "Creating",
          "state": "Busy",
          "junctions": [],
          "nfs3": {
            "target": "10.0.2.4",
            "usageModel": "READ_ONLY",
            "verificationTimer": 30
          }
        },
        "systemData": {
          "createdBy": "31027db9-d339-4593-9b44-454cb0ee04b7",
          "createdByType": "Application",
          "createdAt": "2023-06-15T22:38:16.6041731Z",
          "lastModifiedBy": "31027db9-d339-4593-9b44-454cb0ee04b7",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-15T22:38:16.6041731Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourcegroups/rg-rdupuisstoragecache/providers/Microsoft.StorageCache/caches/testsc7779/spaceAllocation?api-version=2023-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022name\u0022:\u0022storagetarget7159\u0022,\u0022allocationPercentage\u0022:100}]",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/a3178c1c-3ce6-4cb9-a3f8-0970eb2fdf87?api-version=2023-05-01",
        "Location": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/a3178c1c-3ce6-4cb9-a3f8-0970eb2fdf87?monitor=true\u0026api-version=2023-05-01",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/UpdateSpaceAllocation1Min;59",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/a3178c1c-3ce6-4cb9-a3f8-0970eb2fdf87?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperationStatus1Min;220",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": {
        "startTime": "2023-06-15T22:38:51.0272141\u002B00:00",
        "endTime": "2023-06-15T22:38:53.0282926\u002B00:00",
        "status": "Succeeded",
        "properties": {
          "output": "success"
        },
        "name": "a3178c1c-3ce6-4cb9-a3f8-0970eb2fdf87"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "380426011",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "46841c0e-69c8-4b17-af46-6626ecb15fc2"
  }
}
