{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Management/managementGroups/e16c61d4-c2c9-444d-9ee0-2f89561e6ef9?api-version=2017-08-31-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.Management/managementGroups/e16c61d4-c2c9-444d-9ee0-2f89561e6ef9\",\r\n  \"type\": \"/providers/Microsoft.Management/managementGroups\",\r\n  \"name\": \"e16c61d4-c2c9-444d-9ee0-2f89561e6ef9\",\r\n  \"properties\": {\r\n    \"tenantId\": \"eddd1d84-0039-4ead-b954-e59a7a523f42\",\r\n    \"displayName\": \"Contoso\",\r\n    \"details\": {\r\n      \"version\": 3,\r\n      \"updatedTime\": \"2017-09-23T10:59:52.8732375Z\",\r\n      \"updatedBy\": \"PartialResync\",\r\n      \"managementGroupType\": \"Enrollment\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14988"
        ],
        "x-ba-restapi": [
          "1.0.3.353"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "740daabe-7d03-47ed-8657-6aaa1cee10a7"
  }
}