{
  "Entries": [
    {
      "RequestUri": "https://content-safety-canary-test.cognitiveservices.azure.com/contentsafety/text:analyze?api-version=2023-04-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "text": "You are an idiot",
        "categories": [
          "Hate",
          "SelfHarm"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12-30-preview,2023-04-30-preview",
        "apim-subscription-id": "973fda3f71b6448db2933f4e72c9d160",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "blocklistsMatchResults": [],
        "hateResult": {
          "category": "Hate",
          "severity": 2
        },
        "selfHarmResult": {
          "category": "SelfHarm",
          "severity": 0
        }
      }
    }
  ],
  "Variables": {
    "CONTENT_SAFETY_ENDPOINT": "https://content-safety-canary-test.cognitiveservices.azure.com/",
    "CONTENT_SAFETY_KEY": "Sanitized",
    "RandomSeed": "322589143"
  }
}
