{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.scan.purview.azure.com/classificationrules/test_classificationrule1009?api-version=2018-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "test_classificationrule1009",
        "kind": "Custom",
        "properties": {
          "description": "test-description1009",
          "classificationName": "test_classification1009",
          "columnPatterns": [
            {
              "pattern": "classid",
              "kind": "Regex"
            },
            {
              "pattern": "part_name",
              "kind": "Regex"
            },
            {
              "pattern": "price",
              "kind": "Regex"
            }
          ]
        },
        "ruleStatus": "Enabled"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://dotnetllcpurviewaccount.scan.purview.azure.com/classificationrules/test_classificationrule1009?api-version=2018-12-01-preview\u0026api-version=2018-12-01-preview"
      },
      "ResponseBody": {
        "properties": {
          "minimumDistinctMatchCount": null,
          "minimumPercentageMatch": null,
          "classificationAction": "Keep",
          "dataPatterns": [],
          "columnPatterns": [
            {
              "pattern": "classid",
              "kind": "Regex"
            },
            {
              "pattern": "part_name",
              "kind": "Regex"
            },
            {
              "pattern": "price",
              "kind": "Regex"
            }
          ],
          "classificationRuleBloomFilter": null,
          "description": "test-description1009",
          "version": 1,
          "classificationName": "test_classification1009",
          "owner": null,
          "ruleStatus": "Enabled",
          "createdAt": "2021-10-14T09:03:49.0364382Z",
          "lastModifiedAt": "2021-10-14T09:03:49.0364386Z",
          "collection": null
        },
        "kind": "Custom",
        "id": "classificationrules/test_classificationrule1009",
        "name": "test_classificationrule1009"
      }
    },
[...]
    {
      "RequestUri": "https://dotnetllcpurviewaccount.scan.purview.azure.com/classificationrules/test_classificationrule1009/versions?api-version=2018-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "minimumDistinctMatchCount": null,
              "minimumPercentageMatch": null,
              "classificationAction": "Keep",
              "dataPatterns": [],
              "columnPatterns": [
                {
                  "pattern": "classid",
                  "kind": "Regex"
                },
                {
                  "pattern": "part_name",
                  "kind": "Regex"
                },
                {
      [...]
    {
      "RequestUri": "https://dotnetllcpurviewaccount.scan.purview.azure.com/classificationrules/test_classificationrule1009/versions/2/:tag?action=Keep\u0026api-version=2018-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "scanResultId": null,
        "startTime": null,
        "endTime": null,
        "status": "Accepted",
        "error": null
      }
    },
[...]
