{
  "Entries": [
    {
      "RequestUri": "/subscriptions/243b67d4-60ca-4dfd-a556-216ee06f77a1/providers/Microsoft.HDInsight/locations/East%20US/capabilities?api-version=2015-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"versions\": {\r\n    \"paas\": {\r\n      \"available\": [\r\n        {\r\n          \"friendlyName\": \"1.6\",\r\n          \"displayName\": \"HdInsight version 1.6.1.0.335536\",\r\n          \"isDefault\": false\r\n        },\r\n        {\r\n          \"friendlyName\": \"2.1\",\r\n          \"displayName\": \"Version 2.1.9.406.1221105\",\r\n          \"isDefault\": false,\r\n          \"componentVersions\": {\r\n            \"HDP\": \"1.3\",\r\n            \"Hadoop\": \"1.2.0\"\r\n          }\r\n        },\r\n        {\r\n          \"friendlyName\": \"3.0\",\r\n          \"displayName\": \"Version 3.0.6.803.1998096\",\r\n          \"isDefault\": false,\r\n          \"componentVersions\": {\r\n            \"HDP\": \"2.0\",\r\n            \"Hadoop\": \"2.2.0\"\r\n          }\r\n        },\r\n        {\r\n          \"friendlyName\": \"3.1\",\r\n          \"displayName\": \"Version 3.1.4.803.1998096\",\r\n          \"isDefault\": false,\r\n          \"componentVersions\": {\r\n            \"HDP\": \"2.1.7\",\r\n            \"Hadoop\": \"2.4.0\",\r\n            \"HBase\": \"0.98\"\r\n          }\r\n        },\r\n        {\r\n          \"friendlyName\": \"3.2\",\r\n          \"displayName\": \"Version 3.2.7.803.1998096\",\r\n          \"isDefault\": true,\r\n          \"componentVersions\": {\r\n            \"HDP\": \"2.2\",\r\n            \"Hadoop\": \"2.6.0\",\r\n            \"HBase\": \"0.98.4\",\r\n            \"Storm\": \"0.9.3\",\r\n            \"Spark\": \"1.3.1\"\r\n          }\r\n        },\r\n        {\r\n          \"friendlyName\": \"3.3\",\r\n          \"displayName\": \"Version 3.3.0.803.1998096\",\r\n          \"isDefault\": false,\r\n          \"componentVersions\": {\r\n            \"HDP\": \"2.3\",\r\n            \"Hadoop\": \"2.7.0\",\r\n            \"HBase\": \"1.1.2\",\r\n            \"Storm\": \"0.10.0\"\r\n          }\r\n        }\r\n      ]\r\n    },\r\n    \"iaas\": {\r\n      \"available\": [\r\n        {\r\n          \"friendlyName\": \"3.2\",\r\n          \"displayName\": \"Version 3.2.1000.0.6680626\",\r\n          \"isDefault\": true,\r\n          \"componentVersions\": {\r\n            \"HDP\": \"2.2\",\r\n            \"Hadoop\": \"2.6.0\",\r\n            \"HBase\": \"0.98.4\",\r\n            \"Storm\": \"0.9.3\"\r\n          }\r\n        },\r\n        {\r\n          \"friendlyName\": \"3.3\",\r\n          \"displayName\": \"Version 3.3.1000.0.6680626\",\r\n          \"isDefault\": false,\r\n          \"componentVersions\": {\r\n            \"HDP\": \"2.3\",\r\n            \"Hadoop\": \"2.7.0\",\r\n            \"HBase\": \"1.1.2\",\r\n            \"Storm\": \"0.10.0\"\r\n          }\r\n        },\r\n        {\r\n          \"friendlyName\": \"99.152\",\r\n          \"displayName\": \"Version 99.152.1000.0.6725198\",\r\n          \"isDefault\": false,\r\n          \"componentVersions\": {\r\n            \"HDP\": \"2.3\",\r\n            \"Spark\": \"1.5.2\"\r\n          }\r\n        }\r\n      ]\r\n    }\r\n  },\r\n  \"regions\": {\r\n    \"paas\": {\r\n      \"available\": [\r\n        \"AUSTRALIA EAST\",\r\n        \"AUSTRALIA SOUTHEAST\",\r\n        \"BRAZIL SOUTH\",\r\n        \"CENTRAL INDIA\",\r\n        \"CENTRAL US\",\r\n        \"EAST ASIA\",\r\n        \"EAST US\",\r\n        \"EAST US 2\",\r\n        \"JAPAN EAST\",\r\n        \"JAPAN WEST\",\r\n        \"NORTH CENTRAL US\",\r\n        \"NORTH EUROPE\",\r\n        \"SOUTH CENTRAL US\",\r\n        \"SOUTHEAST ASIA\",\r\n        \"WEST EUROPE\",\r\n        \"WEST US\"\r\n      ]\r\n    },\r\n    \"iaas\": {\r\n      \"available\": [\r\n        \"AUSTRALIA EAST\",\r\n        \"AUSTRALIA SOUTHEAST\",\r\n        \"CENTRAL US\",\r\n        \"EAST ASIA\",\r\n        \"EAST US\",\r\n        \"EAST US 2\",\r\n        \"JAPAN EAST\",\r\n        \"JAPAN WEST\",\r\n        \"NORTH CENTRAL US\",\r\n        \"NORTH EUROPE\",\r\n        \"SOUTH CENTRAL US\",\r\n        \"SOUTHEAST ASIA\",\r\n        \"WEST EUROPE\",\r\n        \"WEST US\"\r\n      ]\r\n    }\r\n  },\r\n  \"vmsizes\": {\r\n    \"paas\": {\r\n      \"available\": [\r\n        \"A10\",\r\n        \"A11\",\r\n        \"A5\",\r\n        \"A6\",\r\n        \"A7\",\r\n        \"A8\",\r\n        \"A9\",\r\n        \"EXTRALARGE\",\r\n        \"EXTRASMALL\",\r\n        \"LARGE\",\r\n        \"MEDIUM\",\r\n        \"SMALL\",\r\n        \"STANDARD_D1\",\r\n        \"STANDARD_D11\",\r\n        \"STANDARD_D12\",\r\n        \"STANDARD_D12_V2\",\r\n        \"STANDARD_D13\",\r\n        \"STANDARD_D14\",\r\n        \"STANDARD_D2\",\r\n        \"STANDARD_D3\",\r\n        \"STANDARD_D4\"\r\n      ]\r\n    },\r\n    \"iaas\": {\r\n      \"available\": [\r\n        \"A10\",\r\n        \"A11\",\r\n        \"A5\",\r\n        \"A6\",\r\n        \"A7\",\r\n        \"A8\",\r\n        \"A9\",\r\n        \"EXTRALARGE\",\r\n        \"EXTRASMALL\",\r\n        \"LARGE\",\r\n        \"MEDIUM\",\r\n        \"SMALL\",\r\n        \"STANDARD_D1\",\r\n        \"STANDARD_D11\",\r\n        \"STANDARD_D12\",\r\n        \"STANDARD_D12_V2\",\r\n        \"STANDARD_D13\",\r\n        \"STANDARD_D14\",\r\n        \"STANDARD_D2\",\r\n        \"STANDARD_D3\",\r\n        \"STANDARD_D4\"\r\n      ]\r\n    }\r\n  },\r\n  \"vmsize_filters\": [\r\n    {\r\n      \"FilterMode\": \"Exclude\",\r\n      \"Regions\": [\r\n        \"*\"\r\n      ],\r\n      \"ClusterFlavors\": [\r\n        \"*\"\r\n      ],\r\n      \"NodeTypes\": [\r\n        \"*\"\r\n      ],\r\n      \"ClusterVersions\": [\r\n        \"*\"\r\n      ],\r\n      \"VMSizes\": [\r\n        \"A10\"\r\n      ]\r\n    },\r\n    {\r\n      \"FilterMode\": \"Exclude\",\r\n      \"Regions\": [\r\n        \"*\"\r\n      ],\r\n      \"ClusterFlavors\": [\r\n        \"*\"\r\n      ],\r\n      \"NodeTypes\": [\r\n        \"*\"\r\n      ],\r\n      \"ClusterVersions\": [\r\n        \"*\"\r\n      ],\r\n      \"VMSizes\": [\r\n        \"A11\"\r\n      ]\r\n    },\r\n    {\r\n      \"FilterMode\": \"Exclude\",\r\n      \"Regions\": [\r\n        \"*\"\r\n      ],\r\n      \"Cluste[...]
