{
  "Entries": [
    {
      "RequestUri": "/subscriptions/3312c132-fc40-493f-9c97-82d80256a313/providers/Microsoft.HDInsight/locations/East%20US/capabilities?api-version=2015-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"versions\": {\r\n    \"paas\": {\r\n      \"available\": []\r\n    },\r\n    \"iaas\": {\r\n      \"available\": []\r\n    }\r\n  },\r\n  \"regions\": {\r\n    \"paas\": {\r\n      \"available\": [\r\n        \"EAST US\",\r\n        \"EAST US 2\",\r\n        \"NORTH EUROPE\",\r\n        \"SOUTHEAST ASIA\",\r\n        \"WEST US\"\r\n      ]\r\n    },\r\n    \"iaas\": {\r\n      \"available\": [\r\n        \"EAST US\",\r\n        \"NORTH CENTRAL US\",\r\n        \"WEST US\"\r\n      ]\r\n    }\r\n  },\r\n  \"vmsizes\": {\r\n    \"paas\": {\r\n      \"available\": [\r\n        \"A10\",\r\n        \"A11\",\r\n        \"A5\",\r\n        \"A6\",\r\n        \"A7\",\r\n        \"A8\",\r\n        \"A9\",\r\n        \"EXTRALARGE\",\r\n        \"EXTRASMALL\",\r\n        \"LARGE\",\r\n        \"MEDIUM\",\r\n        \"SMALL\",\r\n        \"STANDARD_D1\",\r\n        \"STANDARD_D11\",\r\n        \"STANDARD_D12\",\r\n        \"STANDARD_D13\",\r\n        \"STANDARD_D14\",\r\n        \"STANDARD_D2\",\r\n        \"STANDARD_D3\",\r\n        \"STANDARD_D4\"\r\n      ]\r\n    },\r\n    \"iaas\": {\r\n      \"available\": [\r\n        \"A10\",\r\n        \"A11\",\r\n        \"A5\",\r\n        \"A6\",\r\n        \"A7\",\r\n        \"A8\",\r\n        \"A9\",\r\n        \"EXTRALARGE\",\r\n        \"EXTRASMALL\",\r\n        \"LARGE\",\r\n        \"MEDIUM\",\r\n        \"SMALL\",\r\n        \"STANDARD_D1\",\r\n        \"STANDARD_D11\",\r\n        \"STANDARD_D12\",\r\n        \"STANDARD_D13\",\r\n        \"STANDARD_D14\",\r\n        \"STANDARD_D2\",\r\n        \"STANDARD_D3\",\r\n        \"STANDARD_D4\"\r\n      ]\r\n    }\r\n  },\r\n  \"vmsize_filters\": [\r\n    {\r\n      \"FilterMode\": \"Exclude\",\r\n      \"Regions\": [\r\n        \"*\"\r\n      ],\r\n      \"ClusterFlavors\": [\r\n        \"*\"\r\n      ],\r\n      \"NodeTypes\": [\r\n        \"*\"\r\n      ],\r\n      \"ClusterVersions\": [\r\n        \"*\"\r\n      ],\r\n      \"VMSizes\": [\r\n        \"A10\"\r\n      ]\r\n    },\r\n    {\r\n      \"FilterMode\": \"Exclude\",\r\n      \"Regions\": [\r\n        \"*\"\r\n      ],\r\n      \"ClusterFlavors\": [\r\n        \"*\"\r\n      ],\r\n      \"NodeTypes\": [\r\n        \"*\"\r\n      ],\r\n      \"ClusterVersions\": [\r\n        \"*\"\r\n      ],\r\n      \"VMSizes\": [\r\n        \"A11\"\r\n      ]\r\n    },\r\n    {\r\n      \"FilterMode\": \"Exclude\",\r\n      \"Regions\": [\r\n        \"*\"\r\n      ],\r\n      \"Cluste[...]
