{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Billing/billingAccounts/692a1ef6-595a-5578-8776-de10c9d64861:5869ea10-a21e-423f-9213-2ca0d1938908_2019-05-31/billingProfiles/DSNH-WUZE-BG7-TGB/policies/default?api-version=2020-05-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"marketplacePurchases\": \"AllAllowed\",\r\n    \"reservationPurchases\": \"Allowed\",\r\n    \"viewCharges\": \"NotAllowed\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-service-version": [
          "10.6.1249.547"
        ],
        "api-supported-versions": [
          "2018-11-01-preview, 2019-10-01-preview, 2020-05-01"
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.Billing/billingAccounts/692a1ef6-595a-5578-8776-de10c9d64861:5869ea10-a21e-423f-9213-2ca0d1938908_2019-05-31/billingProfiles/DSNH-WUZE-BG7-TGB/policies/default\",\r\n  \"name\": \"default\",\r\n  \"properties\": {\r\n    \"marketplacePurchases\": \"AllAllowed\",\r\n    \"reservationPurchases\": \"Allowed\",\r\n    \"viewCharges\": \"NotAllowed\"\r\n  },\r\n  \"type\": \"Microsoft.Billing/billingAccounts/billingProfiles/policies\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "0195fcc8-69cd-4440-852b-237bdae4e36c"
  }
}