{
  "Entries": [
    {
      "RequestUri": "/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/anullian-rg/providers/Microsoft.AVS/privateClouds/anullian-southcentralus-runcommand/scriptExecutions/scripting_execution8504?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"scriptCmdletId\": \"JSDR.Configuration/1.0.16/invoke-preflightjetdrsystemcheck\",\n    \"timeout\": \"PT1H\"\n  }\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/anullian-rg/providers/Microsoft.AVS/privateClouds/anullian-southcentralus-runcommand/scriptExecutions/scripting_execution8504/operationstatuses/3ebcf8f9-c318-4282-bc85-94b295f99f12?api-version=2021-06-01"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/anullian-rg/providers/Microsoft.AVS/privateClouds/anullian-southcentralus-runcommand/scriptExecutions/scripting_execution8504\",\n  \"name\": \"scripting_execution8504\",\n  \"properties\": {\n    \"namedOutputs\": {},\n    \"output\": [],\n    \"provisioningState\": \"Pending\",\n    \"scriptCmdletId\": \"JSDR.Configuration/1.0.16/invoke-preflightjetdrsystemcheck\",\n    \"submittedAt\": \"2021-05-14 16:18:28Z\",\n    \"timeout\": \"PT1H\"\n  },\n  \"type\": \"Microsoft.AVS/privateClouds/scriptExecutions\"\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/anullian-rg/providers/Microsoft.AVS/privateClouds/anullian-southcentralus-runcommand/scriptExecutions/scripting_execution8504/operationstatuses/3ebcf8f9-c318-4282-bc85-94b295f99f12?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/anullian-rg/providers/Microsoft.AVS/privateClouds/anullian-southcentralus-runcommand/scriptExecutions/scripting_execution8504/operationstatuses/3ebcf8f9-c318-4282-bc85-94b295f99f12\",\n  \"name\": \"3ebcf8f9-c318-4282-bc85-94b295f99f12\",\n  \"percentComplete\": 0,\n  \"startTime\": \"2021-05-14T11:18:28.3125027-05:00\",\n  \"status\": \"Pending\"\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/anullian-rg/providers/Microsoft.AVS/privateClouds/anullian-southcentralus-runcommand/scriptExecutions/scripting_execution8504/operationstatuses/3ebcf8f9-c318-4282-bc85-94b295f99f12?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14967"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"endTime\": \"2021-04-22T14:58:05.916814-05:00\",\n  \"id\": \"/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/anullian-rg/providers/Microsoft.AVS/privateClouds/anullian-southcentralus-runcommand/scriptExecutions/scripting_execution8504/operationstatuses/3ebcf8f9-c318-4282-bc85-94b295f99f12\",\n  \"name\": \"3ebcf8f9-c318-4282-bc85-94b295f99f12\",\n  \"percentComplete\": 100,\n  \"properties\": {\n    \"id\": \"/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/anullian-rg/providers/Microsoft.AVS/privateClouds/anullian-southcentralus-runcommand/scriptExecutions/scripting_execution8504\",\n    \"name\": \"scripting_execution8504\",\n    \"properties\": {\n      \"finishedAt\": \"2021-04-22 19:58:05Z\",\n      \"namedOutputs\": {\n        \"key\": \"value\"\n      },\n      \"output\": [\n        \"out\"\n      ],\n      \"provisioningState\": \"Succeeded\",\n      \"scriptCmdletId\": \"JSDR.Configuration/1.0.16/invoke-preflightjetdrsystemcheck\",\n      \"submittedAt\": \"2021-05-14 16:18:28Z\",\n      \"timeout\": \"PT1H\"\n    },\n    \"type\": \"Microsoft.AVS/privateClouds/scriptExecutions\"\n  },\n  \"startTime\": \"2021-05-14T11:18:28.3125027-05:00\",\n  \"status\": \"Succeeded\"\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/anullian-rg/providers/Microsoft.AVS/privateClouds/anullian-southcentralus-runcommand/scriptExecutions/scripting_execution8504/getExecutionLogs?api-version=2021-06-01",
      "RequestMethod": "POST",
      "RequestBody": "[\n  \"Output\"\n]",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"output\": [\n    \"out\"\n  ],\n  \"timeout\": \"PT1H\"\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/anullian-rg/providers/Microsoft.AVS/privateClouds/anullian-southcentralus-runcommand/scriptExecutions?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14964"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"value\": [\n    {\n      \"id\": \"/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/anullian-rg/providers/Microsoft.AVS/privateClouds/anullian-southcentralus-runcommand/scriptExecutions/anullian-Invoke-PreflightJetDRSystemCheck\",\n      \"name\": \"anullian-Invoke-PreflightJetDRSystemCheck\",\n      \"properties\": {\n        \"namedOutputs\": {},\n        \"output\": [],\n        \"provisioningState\": \"Pending\",\n        \"retention\": \"PT10H\",\n        \"scriptCmdletId\": \"JSDR.Configuration/1.0.16/Invoke-PreflightJetDRSystemCheck\",\n        \"submittedAt\": \"2021-05-14 14:16:10Z\",\n        \"timeout\": \"PT2H\"\n      },\n      \"type\": \"Microsoft.AVS/privateClouds/scriptExecutions\"\n    },\n    {\n      \"id\": \"/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/anullian-rg/providers/Microsoft.AVS/privateClouds/anullian-southcentralus-runcommand/scriptExecutions/dabechertest\",\n      \"name\": \"dabechertest\",\n      \"properties\": {\n        \"namedOutputs\": {},\n        \"output\": [\n          \"out\"\n        ],\n        \"parameters\": [\n          {\n            \"name\": \"Cluster\",\n            \"type\": \"Value\",\n            \"value\": \"cluster-1\"\n          },\n          {\n            \"name\": \"DrsGroupName\",\n            \"type\": \"Value\",\n            \"value\": \"drsgrouptest\"\n          },\n          {\n            \"name\": \"DrsRuleName\",\n            \"type\": \"Value\",\n            \"value\": \"drsruletest\"\n          },\n          {\n            \"name\": \"VMLHostist\",\n            \"type\": \"V[...]
    {
      "RequestUri": "/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/anullian-rg/providers/Microsoft.AVS/privateClouds/anullian-southcentralus-runcommand/scriptExecutions/scripting_execution8504?api-version=2021-06-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ],
        "Content-Type": [
          "text/html"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "ScriptExecutionsAll": [
      "scripting_execution8504"
    ]
  },
  "Variables": {
    "SubscriptionId": "ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5"
  }
}