{
  "Entries": [
    {
      "RequestUri": "/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/anullian-rg/providers/Microsoft.AVS/privateClouds/anullian-southcentralus-runcommand/scriptPackages/JSDR.Configuration%401.0.16/scriptCmdlets?api-version=2021-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/{subscription-id}/resourceGroups/group1/providers/Microsoft.AVS/privateClouds/cloud1/scriptPackages/{scriptPackageName}/scriptCmdlets/Set-AvsStoragePolicy\",\r\n      \"name\": \"Set-AvsStoragePolicy\",\r\n      \"type\": \"Microsoft.AVS/privateClouds/scriptPackages/scriptCmdlets\",\r\n      \"properties\": {\r\n        \"description\": \"Allow user to set the storage policy of the specified VM\",\r\n        \"timeout\": \"P0Y0M0DT0H60M0S\",\r\n        \"parameters\": [\r\n          {\r\n            \"type\": \"String\",\r\n            \"name\": \"VM\",\r\n            \"description\": \"VM to set the storage policy on\",\r\n            \"visibility\": \"Visible\",\r\n            \"optional\": \"Required\"\r\n          },\r\n          {\r\n            \"type\": \"String\",\r\n            \"name\": \"StoragePolicyName\",\r\n            \"description\": \"Name of the storage policy to set\",\r\n            \"visibility\": \"Visible\",\r\n            \"optional\": \"Required\"\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/{subscription-id}/resourceGroups/group1/providers/Microsoft.AVS/privateClouds/cloud1/scriptPackages/{scriptPackageName}/s[...]
    {
      "RequestUri": "/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/anullian-rg/providers/Microsoft.AVS/privateClouds/anullian-southcentralus-runcommand/scriptPackages/JSDR.Configuration%401.0.16/scriptCmdlets/invoke-preflightjetdrsystemcheck?api-version=2021-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "Response[...]
