{
  "Entries": [
    {
      "RequestUri": "/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourcegroups/sqlcrudtest-1627?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US 2\",\r\n  \"tags\": {\r\n    \"sqlcrudtest-1627\": \"2017-10-18 05:44:02Z\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/sqlcrudtest-1627\",\r\n  \"name\": \"sqlcrudtest-1627\",\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {\r\n    \"sqlcrudtest-1627\": \"2017-10-18 05:44:02Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1191"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/sqlcrudtest-1627/providers/Microsoft.Sql/servers/sqlcrudtest-6450?api-version=2015-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"dummylogin\",\r\n    \"administratorLoginPassword\": \"Un53cuRE!\",\r\n    \"version\": \"12.0\"\r\n  },\r\n  \"tags\": {},\r\n  \"location\": \"eastus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2017-10-18T05:44:08.067Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/sqlcrudtest-1627/providers/Microsoft.Sql/locations/eastus2/serverOperationResults/469782d3-583c-48f8-bd01-3ca3af761c93?api-version=2015-05-01-preview"
        ],
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/sqlcrudtest-1627/providers/Microsoft.Sql/locations/eastus2/serverAzureAsyncOperation/469782d3-583c-48f8-bd01-3ca3af761c93?api-version=2015-05-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/sqlcrudtest-1627/providers/Microsoft.Sql/locations/eastus2/serverAzureAsyncOperation/469782d3-583c-48f8-bd01-3ca3af761c93?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"469782d3-583c-48f8-bd01-3ca3af761c93\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2017-10-18T05:44:08.067Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "20"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/sqlcrudtest-1627/providers/Microsoft.Sql/servers/sqlcrudtest-6450?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"dummylogin\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"sqlcrudtest-6450.sqltest-eg1.mscds.com\"\r\n  },\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/sqlcrudtest-1627/providers/Microsoft.Sql/servers/sqlcrudtest-6450\",\r\n  \"name\": \"sqlcrudtest-6450\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14995"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/sqlcrudtest-1627/providers/Microsoft.Sql/servers/sqlcrudtest-6450/databases/sqlcrudtest-5404?api-version=2014-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"edition\": \"Basic\",\r\n    \"maxSizeBytes\": \"2147483648\",\r\n    \"requestedServiceObjectiveId\": \"dd6d99bb-f193-4ec1-86f2-43d3bccbc49c\",\r\n    \"requestedServiceObjectiveName\": \"Basic\"\r\n  },\r\n  \"tags\": {\r\n    \"tagKey1\": \"TagValue1\"\r\n  },\r\n  \"location\": \"eastus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"CreateLogicalDatabase\",\r\n  \"startTime\": \"2017-10-17T22:45:21.465-07:00\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/sqlcrudtest-1627/providers/Microsoft.Sql/servers/sqlcrudtest-6450/databases/sqlcrudtest-5404/operationResults/146562ea-e9bd-4a33-899a-b1e1d6e7319c?api-version=2014-04-01-Preview"
        ],
        "Retry-After": [
          "30"
        ],
        "Preference-Applied": [
          "return-content"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/sqlcrudtest-1627/providers/Microsoft.Sql/servers/sqlcrudtest-6450/databases/sqlcrudtest-5404/azureAsyncOperation/146562ea-e9bd-4a33-899a-b1e1d6e7319c?api-version=2014-04-01-Preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/sqlcrudtest-1627/providers/Microsoft.Sql/servers/sqlcrudtest-6450/databases/sqlcrudtest-5404?api-version=2014-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"edition\": \"Premium\",\r\n    \"zoneRedundant\": true\r\n  },\r\n  \"location\": \"eastus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"AlterDatabaseOperation\",\r\n  \"startTime\": \"2017-10-17T22:46:24.346-07:00\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/sqlcrudtest-1627/providers/Microsoft.Sql/servers/sqlcrudtest-6450/databases/sqlcrudtest-5404/operationResults/d037f6d1-5976-4fc5-94ed-b220fea888fd?api-version=2014-04-01-Preview"
        ],
        "Retry-After": [
          "30"
        ],
        "Preference-Applied": [
          "return-content"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/sqlcrudtest-1627/providers/Microsoft.Sql/servers/sqlcrudtest-6450/databases/sqlcrudtest-5404/azureAsyncOperation/d037f6d1-5976-4fc5-94ed-b220fea888fd?api-version=2014-04-01-Preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/sqlcrudtest-1627/providers/Microsoft.Sql/servers/sqlcrudtest-6450/databases/sqlcrudtest-5404?api-version=2014-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"tags\": {\r\n    \"asdf\": \"zxcv\"\r\n  },\r\n  \"location\": \"eastus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"AlterDatabaseOperation\",\r\n  \"startTime\": \"2017-10-17T23:01:01.025-07:00\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/sqlcrudtest-1627/providers/Microsoft.Sql/servers/sqlcrudtest-6450/databases/sqlcrudtest-5404/operationResults/c4644ec2-4344-4cbc-9d6b-079d295ba4c5?api-version=2014-04-01-Preview"
        ],
        "Retry-After": [
          "30"
        ],
        "Preference-Applied": [
          "return-content"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/sqlcrudtest-1627/providers/Microsoft.Sql/servers/sqlcrudtest-6450/databases/sqlcrudtest-5404/azureAsyncOperation/c4644ec2-4344-4cbc-9d6b-079d295ba4c5?api-version=2014-04-01-Preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1191"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/sqlcrudtest-1627/providers/Microsoft.Sql/servers/sqlcrudtest-6450/databases/sqlcrudtest-5404?api-version=2014-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"edition\": \"Premium\",\r\n    \"zoneRedundant\": true\r\n  },\r\n  \"location\": \"eastus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"tags\": {\r\n    \"asdf\": \"zxcv\"\r\n  },\r\n  \"id\": \"/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/sqlcrudtest-1627/providers/Microsoft.Sql/servers/sqlcrudtest-6450/databases/sqlcrudtest-5404\",\r\n  \"name\": \"sqlcrudtest-5404\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\",\r\n  \"location\": \"East US 2\",\r\n  \"kind\": \"v12.0,user\",\r\n  \"properties\": {\r\n    \"databaseId\": \"7948cec7-ce3c-472f-9c29-87acf9c664e0\",\r\n    \"edition\": \"Premium\",\r\n    \"status\": \"Online\",\r\n    \"serviceLevelObjective\": \"P2\",\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": \"268435456000\",\r\n    \"creationDate\": \"2017-10-18T05:45:21.717Z\",\r\n    \"currentServiceObjectiveId\": \"a7d1b92d-c987-4375-b54d-2b1d0e0f5bb0\",\r\n    \"requestedServiceObjectiveId\": \"a7d1b92d-c987-4375-b54d-2b1d0e0f5bb0\",\r\n    \"requestedServiceObjectiveName\": \"P2\",\r\n    \"sampleName\": null,\r\n    \"defaultSecondaryLocation\": \"East US 2\",\r\n    \"earliestRestoreDate\": \"2017-10-18T05:56:06.707Z\",\r\n    \"elasticPoolName\": null,\r\n    \"containmentState\": 2,\r\n    \"readScale\": \"Disabled\",\r\n    \"failoverGroupId\": null,\r\n    \"zoneRedundant\": true\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Preference-Applied": [
          "return-content"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1190"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/sqlcrudtest-1627/providers/Microsoft.Sql/servers/sqlcrudtest-6450/databases/sqlcrudtest-5404/azureAsyncOperation/146562ea-e9bd-4a33-899a-b1e1d6e7319c?api-version=2014-04-01-Preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"operationId\": \"146562ea-e9bd-4a33-899a-b1e1d6e7319c\",\r\n  \"status\": \"InProgress\",\r\n  \"error\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/sqlcrudtest-1627/providers/Microsoft.Sql/servers/sqlcrudtest-6450/databases/sqlcrudtest-5404/azureAsyncOperation/146562ea-e9bd-4a33-899a-b1e1d6e7319c?api-version=2014-04-01-Preview"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14994"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourcegroups/sqlcrudtest-1627?api-version=2017-05-10",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TUUxDUlVEVEVTVDoyRDE2MjctRUFTVFVTMiIsImpvYkxvY2F0aW9uIjoiZWFzdHVzMiJ9?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 202
    }
  ],
  "Names": {
    "CreateResourceGroup": [
      "sqlcrudtest-1627"
    ],
    "CreateServer": [
      "sqlcrudtest-6450"
    ],
    "TestUpdateDatabase": [
      "sqlcrudtest-5404"
    ]
  },
  "Variables": {
    "SubscriptionId": "fc083c6b-c3dd-47c4-bec7-ec4721548d07",
    "DefaultLocation": "East US 2"
  }
}