{
  "Entries": [
    {
      "RequestUri": "/subscriptions/21134442-3447-4e53-8f1d-8f0ee8c4b265/resourcegroups/sqlcrudtest-9681?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"North Europe\",\r\n  \"tags\": {\r\n    \"sqlcrudtest-9681\": \"2017-09-20 20:27:12Z\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/21134442-3447-4e53-8f1d-8f0ee8c4b265/resourceGroups/sqlcrudtest-9681\",\r\n  \"name\": \"sqlcrudtest-9681\",\r\n  \"location\": \"northeurope\",\r\n  \"tags\": {\r\n    \"sqlcrudtest-9681\": \"2017-09-20 20:27:12Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/21134442-3447-4e53-8f1d-8f0ee8c4b265/resourceGroups/sqlcrudtest-9681/providers/Microsoft.Sql/servers/sqlcrudtest-9143?api-version=2015-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"dummylogin\",\r\n    \"administratorLoginPassword\": \"Un53cuRE!\",\r\n    \"version\": \"12.0\"\r\n  },\r\n  \"tags\": {},\r\n  \"location\": \"northeurope\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2017-09-20T20:27:20Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/21134442-3447-4e53-8f1d-8f0ee8c4b265/resourceGroups/sqlcrudtest-9681/providers/Microsoft.Sql/locations/northeurope/serverOperationResults/a5144289-8e26-4a7a-89b7-a9d7fb22940b?api-version=2015-05-01-preview"
        ],
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/21134442-3447-4e53-8f1d-8f0ee8c4b265/resourceGroups/sqlcrudtest-9681/providers/Microsoft.Sql/locations/northeurope/serverAzureAsyncOperation/a5144289-8e26-4a7a-89b7-a9d7fb22940b?api-version=2015-05-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/21134442-3447-4e53-8f1d-8f0ee8c4b265/resourceGroups/sqlcrudtest-9681/providers/Microsoft.Sql/locations/northeurope/serverAzureAsyncOperation/a5144289-8e26-4a7a-89b7-a9d7fb22940b?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"a5144289-8e26-4a7a-89b7-a9d7fb22940b\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2017-09-20T20:27:20Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "20"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14992"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/21134442-3447-4e53-8f1d-8f0ee8c4b265/resourceGroups/sqlcrudtest-9681/providers/Microsoft.Sql/servers/sqlcrudtest-9143?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"dummylogin\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"sqlcrudtest-9143.sqltest-eg1.mscds.com\"\r\n  },\r\n  \"location\": \"northeurope\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/21134442-3447-4e53-8f1d-8f0ee8c4b265/resourceGroups/sqlcrudtest-9681/providers/Microsoft.Sql/servers/sqlcrudtest-9143\",\r\n  \"name\": \"sqlcrudtest-9143\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14989"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/21134442-3447-4e53-8f1d-8f0ee8c4b265/resourceGroups/sqlcrudtest-9681/providers/Microsoft.Sql/servers/sqlcrudtest-9143/databases/sqldblistcanceloperation-2841?api-version=2014-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"requestedServiceObjectiveName\": \"S0\"\r\n  },\r\n  \"location\": \"northeurope\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"CreateLogicalDatabase\",\r\n  \"startTime\": \"2017-09-20T13:28:15.237-07:00\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/21134442-3447-4e53-8f1d-8f0ee8c4b265/resourceGroups/sqlcrudtest-9681/providers/Microsoft.Sql/servers/sqlcrudtest-9143/databases/sqldblistcanceloperation-2841/operationResults/c7878625-787e-4257-813f-d3845be9fbda?api-version=2014-04-01-Preview"
        ],
        "Retry-After": [
          "30"
        ],
        "Preference-Applied": [
          "return-content"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/21134442-3447-4e53-8f1d-8f0ee8c4b265/resourceGroups/sqlcrudtest-9681/providers/Microsoft.Sql/servers/sqlcrudtest-9143/databases/sqldblistcanceloperation-2841/azureAsyncOperation/c7878625-787e-4257-813f-d3845be9fbda?api-version=2014-04-01-Preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/21134442-3447-4e53-8f1d-8f0ee8c4b265/resourceGroups/sqlcrudtest-9681/providers/Microsoft.Sql/servers/sqlcrudtest-9143/databases/sqldblistcanceloperation-2841/azureAsyncOperation/c7878625-787e-4257-813f-d3845be9fbda?api-version=2014-04-01-Preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"operationId\": \"c7878625-787e-4257-813f-d3845be9fbda\",\r\n  \"status\": \"InProgress\",\r\n  \"error\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/21134442-3447-4e53-8f1d-8f0ee8c4b265/resourceGroups/sqlcrudtest-9681/providers/Microsoft.Sql/servers/sqlcrudtest-9143/databases/sqldblistcanceloperation-2841/azureAsyncOperation/c7878625-787e-4257-813f-d3845be9fbda?api-version=2014-04-01-Preview"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14985"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/21134442-3447-4e53-8f1d-8f0ee8c4b265/resourceGroups/sqlcrudtest-9681/providers/Microsoft.Sql/servers/sqlcrudtest-9143/databases/sqldblistcanceloperation-2841?api-version=2014-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/21134442-3447-4e53-8f1d-8f0ee8c4b265/resourceGroups/sqlcrudtest-9681/providers/Microsoft.Sql/servers/sqlcrudtest-9143/databases/sqldblistcanceloperation-2841\",\r\n  \"name\": \"sqldblistcanceloperation-2841\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\",\r\n  \"location\": \"North Europe\",\r\n  \"kind\": \"v12.0,user\",\r\n  \"properties\": {\r\n    \"databaseId\": \"021cfbc0-2b73-493f-8de0-c25879cff7fe\",\r\n    \"edition\": \"Standard\",\r\n    \"status\": \"Online\",\r\n    \"serviceLevelObjective\": \"S0\",\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": \"268435456000\",\r\n    \"creationDate\": \"2017-09-20T20:28:15.613Z\",\r\n    \"currentServiceObjectiveId\": \"f1173c43-91bd-4aaa-973c-54e79e15235b\",\r\n    \"requestedServiceObjectiveId\": \"f1173c43-91bd-4aaa-973c-54e79e15235b\",\r\n    \"requestedServiceObjectiveName\": \"S0\",\r\n    \"sampleName\": null,\r\n    \"defaultSecondaryLocation\": \"Southeast Asia\",\r\n    \"earliestRestoreDate\": \"2017-09-20T20:38:54.183Z\",\r\n    \"elasticPoolName\": null,\r\n    \"containmentState\": 2,\r\n    \"readScale\": \"Disabled\",\r\n    \"failoverGroupId\": null\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14983"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/21134442-3447-4e53-8f1d-8f0ee8c4b265/resourceGroups/sqlcrudtest-9681/providers/Microsoft.Sql/servers/sqlcrudtest-9143/databases/sqldblistcanceloperation-2841/operations?api-version=2017-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"databaseName\": \"sqldblistcanceloperation-2841\",\r\n        \"operation\": \"UpdateLogicalDatabase\",\r\n        \"operationFriendlyName\": \"ALTER DATABASE\",\r\n        \"percentComplete\": 0,\r\n        \"serverName\": \"sqlcrudtest-9143\",\r\n        \"startTime\": \"2017-09-20T20:29:16.727Z\",\r\n        \"state\": \"InProgress\"\r\n      },\r\n      \"id\": \"/subscriptions/21134442-3447-4e53-8f1d-8f0ee8c4b265/resourceGroups/sqlcrudtest-9681/providers/Microsoft.Sql/servers/sqlcrudtest-9143/databases/sqldblistcanceloperation-2841/operations/c32433b8-a6fa-4ba4-ad5c-2f64e4a1751d\",\r\n      \"name\": \"c32433b8-a6fa-4ba4-ad5c-2f64e4a1751d\",\r\n      \"type\": \"Microsoft.Sql/servers/databases/operations\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14982"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/21134442-3447-4e53-8f1d-8f0ee8c4b265/resourceGroups/sqlcrudtest-9681/providers/Microsoft.Sql/servers/sqlcrudtest-9143/databases/sqldblistcanceloperation-2841/operations/c32433b8-a6fa-4ba4-ad5c-2f64e4a1751d/cancel?api-version=2017-03-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/21134442-3447-4e53-8f1d-8f0ee8c4b265/resourcegroups/sqlcrudtest-9681?api-version=2017-05-10",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/21134442-3447-4e53-8f1d-8f0ee8c4b265/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TUUxDUlVEVEVTVDoyRDk2ODEtTk9SVEhFVVJPUEUiLCJqb2JMb2NhdGlvbiI6Im5vcnRoZXVyb3BlIn0?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 202
    }
  ],
  "Names": {
    "CreateResourceGroup": [
      "sqlcrudtest-9681"
    ],
    "CreateServer": [
      "sqlcrudtest-9143"
    ],
    "TestCancelDatabaseOperation": [
      "sqldblistcanceloperation-2841"
    ]
  },
  "Variables": {
    "SubscriptionId": "21134442-3447-4e53-8f1d-8f0ee8c4b265"
  }
}