{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Billing/billingAccounts/723c8ce0-33ba-5ba7-ef23-e1b72f15f1d8%3A4ce5b530-c82b-44e8-97ec-49f3cce9f14d_2019-05-31/billingProfiles/H6RI-TXWC-BG7-PGB/invoiceSections/ICYS-ZE5B-PJA-PGB/billingPermissions?api-version=2019-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11999"
        ],
        "x-ms-service-version": [
          "9.11.1047.343"
        ],
        "api-supported-versions": [
          "2019-10-01-preview"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"actions\": [\r\n        \"30000000-aaaa-bbbb-cccc-200000000000\",\r\n        \"30000000-aaaa-bbbb-cccc-200000000001\",\r\n        \"30000000-aaaa-bbbb-cccc-200000000004\",\r\n        \"30000000-aaaa-bbbb-cccc-200000000007\",\r\n        \"30000000-aaaa-bbbb-cccc-200000000009\",\r\n        \"30000000-aaaa-bbbb-cccc-200000000010\",\r\n        \"30000000-aaaa-bbbb-cccc-200000000015\"\r\n      ]\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "df6e24cd-21d5-4f70-ac15-32bb1f8b4536"
  }
}