{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Billing/billingAccounts/692a1ef6-595a-5578-8776-de10c9d64861:5869ea10-a21e-423f-9213-2ca0d1938908_2019-05-31/billingProfiles/DSNH-WUZE-BG7-TGB/invoiceSections/CGPK-BEXW-PJA-TGB/billingPermissions?api-version=2020-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-service-version": [
          "10.5.1249.546"
        ],
        "api-supported-versions": [
          "2019-10-01-preview, 2020-05-01"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14993"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"actions\": [\r\n        \"30000000-aaaa-bbbb-cccc-200000000000\",\r\n        \"30000000-aaaa-bbbb-cccc-200000000001\",\r\n        \"30000000-aaaa-bbbb-cccc-200000000004\",\r\n        \"30000000-aaaa-bbbb-cccc-200000000007\",\r\n        \"30000000-aaaa-bbbb-cccc-200000000009\",\r\n        \"30000000-aaaa-bbbb-cccc-200000000010\",\r\n        \"30000000-aaaa-bbbb-cccc-200000000015\",\r\n        \"30000000-aaaa-bbbb-cccc-200000000013\",\r\n        \"30000000-aaaa-bbbb-cccc-200000000011\",\r\n        \"30000000-aaaa-bbbb-cccc-200000000006\",\r\n        \"30000000-aaaa-bbbb-cccc-200000000003\",\r\n        \"30000000-aaaa-bbbb-cccc-200000000005\",\r\n        \"30000000-aaaa-bbbb-cccc-200000000012\",\r\n        \"30000000-aaaa-bbbb-cccc-200000000008\",\r\n        \"30000000-aaaa-bbbb-cccc-200000000016\"\r\n      ]\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "0195fcc8-69cd-4440-852b-237bdae4e36c"
  }
}