{
  "Entries": [
    {
      "RequestUri": "https://api.cognitive.microsofttranslator.com/breaksentence?api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "Ocp-Apim-Subscription-Region": "westus"
      },
      "RequestBody": "[{\u0022Text\u0022:\u0022hello world\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-RequestId": "BKST.MW1P.99BD.0322T2104.A233B9A"
      },
      "ResponseBody": "[{\u0022detectedLanguage\u0022:{\u0022language\u0022:\u0022en\u0022,\u0022score\u0022:1.0},\u0022sentLen\u0022:[11]}]"
    }
  ],
  "Variables": {
    "RandomSeed": "1643161193",
    "TEXT_TRANSLATION_API_KEY": "Sanitized",
    "TEXT_TRANSLATION_ENDPOINT": "https://api.cognitive.microsofttranslator.com",
    "TEXT_TRANSLATION_REGION": "westus"
  }
}
