{
  "Entries": [
    {
      "RequestUri": "/vision/v3.1/tag",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"url\": \"https://raw.githubusercontent.com/Azure/azure-sdk-for-net/master/sdk/cognitiveservices/Vision.ComputerVision/tests/TestImages/house.jpg\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          ""
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "csp-billing-usage": [
          "CognitiveServices.ComputerVision.Tags=1,CognitiveServices.ComputerVision.Transaction=1"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"tags\": [\r\n    {\r\n      \"name\": \"grass\",\r\n      \"confidence\": 0.9999992847442627\r\n    },\r\n    {\r\n      \"name\": \"outdoor\",\r\n      \"confidence\": 0.99982964992523193\r\n    },\r\n    {\r\n      \"name\": \"sky\",\r\n      \"confidence\": 0.99498629570007324\r\n    },\r\n    {\r\n      \"name\": \"porch\",\r\n      \"confidence\": 0.989298939704895\r\n    },\r\n    {\r\n      \"name\": \"house\",\r\n      \"confidence\": 0.98929691314697266\r\n    },\r\n    {\r\n      \"name\": \"window\",\r\n      \"confidence\": 0.98132383823394775\r\n    },\r[...]
