{
  "Entries": [
    {
      "RequestUri": "/vision/v3.2/tag?model-version=latest",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"url\": \"https://raw.githubusercontent.com/Azure/azure-sdk-for-net/main/sdk/cognitiveservices/Vision.ComputerVision/tests/TestImages/house.jpg\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          ""
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "csp-billing-usage": [
          "CognitiveServices.ComputerVision.Tags=1,CognitiveServices.ComputerVision.Transaction=1"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"tags\": [\r\n    {\r\n      \"name\": \"grass\",\r\n      \"confidence\": 0.9968881607055664\r\n    },\r\n    {\r\n      \"name\": \"outdoor\",\r\n      \"confidence\": 0.9962877631187439\r\n    },\r\n    {\r\n      \"name\": \"building\",\r\n      \"confidence\": 0.9847874045372009\r\n    },\r\n    {\r\n      \"name\": \"plant\",\r\n      \"confidence\": 0.9815999269485474\r\n    },\r\n    {\r\n      \"name\": \"property\",\r\n      \"confidence\": 0.9783041477203369\r\n    },\r\n    {\r\n      \"name\": \"home\",\r\n      \"confidence\": 0.967095136642456\r\n    },[...]
