{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/0D7D9CF7020AAB0C742299B2E48AE6FD0564FF75298D60D22F?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 21:24:19 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy0D7D9CF7020AAB0C742299B2E48AE6FD0564FF75298D60D22F",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225c00cb54-0000-0700-0000-642de7040000\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 21:24:20 GMT",
        "trace-id": "2de78c0c-1b0f-9b4f-9205-841accf4cde8"
      },
      "ResponseBody": {
        "id": "0D7D9CF7020AAB0C742299B2E48AE6FD0564FF75298D60D22F",
        "name": "LongestIdleDistributionPolicy0D7D9CF7020AAB0C742299B2E48AE6FD0564FF75298D60D22F",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/F95229CE82273C0423639574AACE71A60DCF5AB3EF1A9E116F?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 21:24:20 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-TestF95229CE82273C0423639574AACE71A60DCF5AB3EF1A9E116F",
        "distributionPolicyId": "0D7D9CF7020AAB0C742299B2E48AE6FD0564FF75298D60D22F",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220b008a27-0000-0700-0000-642de7050000\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 21:24:21 GMT",
        "trace-id": "c706f939-74a2-4246-b5d0-7e7510a974c9"
      },
      "ResponseBody": {
        "id": "F95229CE82273C0423639574AACE71A60DCF5AB3EF1A9E116F",
        "name": "DefaultQueue-Sdk-TestF95229CE82273C0423639574AACE71A60DCF5AB3EF1A9E116F",
        "distributionPolicyId": "0D7D9CF7020AAB0C742299B2E48AE6FD0564FF75298D60D22F",
        "labels": {
          "Label_1": "Value_1",
          "Id": "F95229CE82273C0423639574AACE71A60DCF5AB3EF1A9E116F"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/0D7D9CF7020AAB0C742299B2E48AE6FD0564FF75298D60D22F?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 21:24:20 GMT"
      },
      "RequestBody": {
        "queueAssignments": {
          "F95229CE82273C0423639574AACE71A60DCF5AB3EF1A9E116F": {}
        },
        "totalCapacity": 100,
        "labels": {
          "test_label_1": "testLabel",
          "test_label_2": 12
        },
        "channelConfigurations": {
          "ACS_Chat_Channel": {
            "capacityCostPerJob": 20,
            "maxNumberOfJobs": 5
          }
        },
        "availableForOffers": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-0ab4-331f1c36db08\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 21:24:21 GMT",
        "trace-id": "29bab6b9-18d4-0f45-b466-63057292425e"
      },
      "ResponseBody": {
        "id": "0D7D9CF7020AAB0C742299B2E48AE6FD0564FF75298D60D22F",
        "state": "inactive",
        "queueAssignments": {
          "F95229CE82273C0423639574AACE71A60DCF5AB3EF1A9E116F": {}
        },
        "totalCapacity": 100,
        "labels": {
          "test_label_1": "testLabel",
          "test_label_2": 12,
          "Id": "0D7D9CF7020AAB0C742299B2E48AE6FD0564FF75298D60D22F"
        },
        "tags": {},
        "channelConfigurations": {
          "ACS_Chat_Channel": {
            "capacityCostPerJob": 20
          }
        },
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": false
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-pf7gdUR_qkSm9AVlxmkm2Q-",
    "RandomSeed": "239518311"
  }
}
