{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/96D63D8E91F34EBD951B36148505A359D34F97200273CC7EB0?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 20:19:59 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy96D63D8E91F34EBD951B36148505A359D34F97200273CC7EB0",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002259007704-0000-0700-0000-642dd7f00000\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 20:20:00 GMT",
        "trace-id": "7033d8b0-4525-7fd2-8c6d-edb9ed1816fb"
      },
      "ResponseBody": {
        "id": "96D63D8E91F34EBD951B36148505A359D34F97200273CC7EB0",
        "name": "LongestIdleDistributionPolicy96D63D8E91F34EBD951B36148505A359D34F97200273CC7EB0",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/9E86AC83F4D3C9C660BEAB0724DD94802AC6199AB7C80C5D83?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 20:20:00 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test9E86AC83F4D3C9C660BEAB0724DD94802AC6199AB7C80C5D83",
        "distributionPolicyId": "96D63D8E91F34EBD951B36148505A359D34F97200273CC7EB0",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220a0037dd-0000-0700-0000-642dd7f10000\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 20:20:01 GMT",
        "trace-id": "2eb8f641-a330-2d58-0019-e2368faad5e9"
      },
      "ResponseBody": {
        "id": "9E86AC83F4D3C9C660BEAB0724DD94802AC6199AB7C80C5D83",
        "name": "DefaultQueue-Sdk-Test9E86AC83F4D3C9C660BEAB0724DD94802AC6199AB7C80C5D83",
        "distributionPolicyId": "96D63D8E91F34EBD951B36148505A359D34F97200273CC7EB0",
        "labels": {
          "Label_1": "Value_1",
          "Id": "9E86AC83F4D3C9C660BEAB0724DD94802AC6199AB7C80C5D83"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/96D63D8E91F34EBD951B36148505A359D34F97200273CC7EB0?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 20:20:00 GMT"
      },
      "RequestBody": {
        "queueAssignments": {
          "9E86AC83F4D3C9C660BEAB0724DD94802AC6199AB7C80C5D83": {}
        },
        "totalCapacity": 100,
        "labels": {
          "test_label_1": "testLabel",
          "test_label_2": 12
        },
        "channelConfigurations": {
          "ACS_Chat_Channel": {
            "capacityCostPerJob": 20,
            "maxNumberOfJobs": 5
          }
        },
        "availableForOffers": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-c1f6-ae221336db08\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 20:20:01 GMT",
        "trace-id": "9a141fd8-0fa9-6cc2-4912-f7b685f9ca72"
      },
      "ResponseBody": {
        "id": "96D63D8E91F34EBD951B36148505A359D34F97200273CC7EB0",
        "state": "inactive",
        "queueAssignments": {
          "9E86AC83F4D3C9C660BEAB0724DD94802AC6199AB7C80C5D83": {}
        },
        "totalCapacity": 100,
        "labels": {
          "test_label_1": "testLabel",
          "test_label_2": 12,
          "Id": "96D63D8E91F34EBD951B36148505A359D34F97200273CC7EB0"
        },
        "tags": {},
        "channelConfigurations": {
          "ACS_Chat_Channel": {
            "capacityCostPerJob": 20
          }
        },
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": false
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-R7ZEU5FBEEKpeBkyxg3KPA-",
    "RandomSeed": "2069557051"
  }
}
