{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/824DBCDE6C22D19EF52B575E16B32FFB2C2E1D986522F22558?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:55:32 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy824DBCDE6C22D19EF52B575E16B32FFB2C2E1D986522F22558",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227101560f-0000-0700-0000-648ccc420000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:55:30 GMT",
        "trace-id": "a8eeb863-1b2f-05eb-616c-9ff9b76e7e55"
      },
      "ResponseBody": {
        "id": "824DBCDE6C22D19EF52B575E16B32FFB2C2E1D986522F22558",
        "name": "LongestIdleDistributionPolicy824DBCDE6C22D19EF52B575E16B32FFB2C2E1D986522F22558",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/528A8CC79C503CE476228FCB01A4221CA39A1FAAA037B3AAB5?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:55:33 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test528A8CC79C503CE476228FCB01A4221CA39A1FAAA037B3AAB5",
        "distributionPolicyId": "824DBCDE6C22D19EF52B575E16B32FFB2C2E1D986522F22558",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220800904b-0000-0700-0000-648ccc420000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:55:30 GMT",
        "trace-id": "a5401ebc-6c61-e506-bbb0-323548e748fb"
      },
      "ResponseBody": {
        "id": "528A8CC79C503CE476228FCB01A4221CA39A1FAAA037B3AAB5",
        "name": "DefaultQueue-Sdk-Test528A8CC79C503CE476228FCB01A4221CA39A1FAAA037B3AAB5",
        "distributionPolicyId": "824DBCDE6C22D19EF52B575E16B32FFB2C2E1D986522F22558",
        "labels": {
          "Label_1": "Value_1",
          "Id": "528A8CC79C503CE476228FCB01A4221CA39A1FAAA037B3AAB5"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/824DBCDE6C22D19EF52B575E16B32FFB2C2E1D986522F22558?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:55:33 GMT"
      },
      "RequestBody": {
        "queueAssignments": {
          "528A8CC79C503CE476228FCB01A4221CA39A1FAAA037B3AAB5": {}
        },
        "totalCapacity": 100,
        "labels": {
          "test_label_1": "testLabel",
          "test_label_2": 12
        },
        "channelConfigurations": {
          "ACS_Chat_Channel": {
            "capacityCostPerJob": 20,
            "maxNumberOfJobs": 5
          }
        },
        "availableForOffers": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-3f59-9805ac6edb08\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:55:31 GMT",
        "trace-id": "d2581cd3-7987-3d4e-0698-5739c477e42a"
      },
      "ResponseBody": {
        "id": "824DBCDE6C22D19EF52B575E16B32FFB2C2E1D986522F22558",
        "state": "inactive",
        "queueAssignments": {
          "528A8CC79C503CE476228FCB01A4221CA39A1FAAA037B3AAB5": {}
        },
        "totalCapacity": 100,
        "labels": {
          "test_label_1": "testLabel",
          "test_label_2": 12,
          "Id": "824DBCDE6C22D19EF52B575E16B32FFB2C2E1D986522F22558"
        },
        "tags": {},
        "channelConfigurations": {
          "ACS_Chat_Channel": {
            "capacityCostPerJob": 20,
            "maxNumberOfJobs": 5
          }
        },
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": false
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/824DBCDE6C22D19EF52B575E16B32FFB2C2E1D986522F22558?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:55:33 GMT"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "21c69ecb-ba5a-7a80-287e-df4bcff911aa"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "BadRequest",
          "message": "One or more validation errors occurred.",
          "target": "/routing/distributionPolicies/824DBCDE6C22D19EF52B575E16B32FFB2C2E1D986522F22558",
          "details": [
            {
              "code": "QueueExistsWithDistributionPolicy",
              "message": "There is a queue with this distribution policy"
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-3uT66mPpuEOX6dpzqH2gXA-",
    "RandomSeed": "1969396241"
  }
}
