{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/FA35F3341E171C2C2FA5588030BB801023747F38A9D365309F?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 21:24:21 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyFA35F3341E171C2C2FA5588030BB801023747F38A9D365309F",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225c002155-0000-0700-0000-642de7060000\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 21:24:22 GMT",
        "trace-id": "42e4c6bb-f905-4942-95fd-7e050aa32965"
      },
      "ResponseBody": {
        "id": "FA35F3341E171C2C2FA5588030BB801023747F38A9D365309F",
        "name": "LongestIdleDistributionPolicyFA35F3341E171C2C2FA5588030BB801023747F38A9D365309F",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/9404AF6F655530F9511D29929A29BFF62C94FDDD2F533E98A6?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 21:24:21 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test9404AF6F655530F9511D29929A29BFF62C94FDDD2F533E98A6",
        "distributionPolicyId": "FA35F3341E171C2C2FA5588030BB801023747F38A9D365309F",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220b009727-0000-0700-0000-642de7060000\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 21:24:22 GMT",
        "trace-id": "d8634598-b768-8847-9b7b-afc4d1f3352f"
      },
      "ResponseBody": {
        "id": "9404AF6F655530F9511D29929A29BFF62C94FDDD2F533E98A6",
        "name": "DefaultQueue-Sdk-Test9404AF6F655530F9511D29929A29BFF62C94FDDD2F533E98A6",
        "distributionPolicyId": "FA35F3341E171C2C2FA5588030BB801023747F38A9D365309F",
        "labels": {
          "Label_1": "Value_1",
          "Id": "9404AF6F655530F9511D29929A29BFF62C94FDDD2F533E98A6"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/FA35F3341E171C2C2FA5588030BB801023747F38A9D365309F?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 21:24:22 GMT"
      },
      "RequestBody": {
        "queueAssignments": {
          "9404AF6F655530F9511D29929A29BFF62C94FDDD2F533E98A6": {}
        },
        "totalCapacity": 100,
        "labels": {
          "test_label_1": "testLabel",
          "test_label_2": 12
        },
        "channelConfigurations": {
          "ACS_Chat_Channel": {
            "capacityCostPerJob": 20,
            "maxNumberOfJobs": 5
          }
        },
        "availableForOffers": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-7867-47201c36db08\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 21:24:23 GMT",
        "trace-id": "e036508f-624f-ef4d-89b4-70800bfd7699"
      },
      "ResponseBody": {
        "id": "FA35F3341E171C2C2FA5588030BB801023747F38A9D365309F",
        "state": "inactive",
        "queueAssignments": {
          "9404AF6F655530F9511D29929A29BFF62C94FDDD2F533E98A6": {}
        },
        "totalCapacity": 100,
        "labels": {
          "test_label_1": "testLabel",
          "test_label_2": 12,
          "Id": "FA35F3341E171C2C2FA5588030BB801023747F38A9D365309F"
        },
        "tags": {},
        "channelConfigurations": {
          "ACS_Chat_Channel": {
            "capacityCostPerJob": 20
          }
        },
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": false
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-HwLPStAatESPJ8-NheyJ3w-",
    "RandomSeed": "1953832168"
  }
}
