{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/0E8809C9288DE063902BB7428415B6701FDCB035D43244D24E?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 30 Jun 2023 00:38:14 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy0E8809C9288DE063902BB7428415B6701FDCB035D43244D24E",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220b002c92-0000-0d00-0000-649e23f70000\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 00:38:15 GMT",
        "trace-id": "8761955e-3c8a-2d77-1d33-01b55b94c456"
      },
      "ResponseBody": {
        "id": "0E8809C9288DE063902BB7428415B6701FDCB035D43244D24E",
        "name": "LongestIdleDistributionPolicy0E8809C9288DE063902BB7428415B6701FDCB035D43244D24E",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/926802567D698A097B3F91E0F309743607203853B6E230A661?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 30 Jun 2023 00:38:15 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test926802567D698A097B3F91E0F309743607203853B6E230A661",
        "distributionPolicyId": "0E8809C9288DE063902BB7428415B6701FDCB035D43244D24E",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002208012d73-0000-0d00-0000-649e23f80000\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 00:38:16 GMT",
        "trace-id": "51ed3ebd-5abd-ae65-e821-59d61135a5b0"
      },
      "ResponseBody": {
        "id": "926802567D698A097B3F91E0F309743607203853B6E230A661",
        "name": "DefaultQueue-Sdk-Test926802567D698A097B3F91E0F309743607203853B6E230A661",
        "distributionPolicyId": "0E8809C9288DE063902BB7428415B6701FDCB035D43244D24E",
        "labels": {
          "Label_1": "Value_1",
          "Id": "926802567D698A097B3F91E0F309743607203853B6E230A661"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/0E8809C9288DE063902BB7428415B6701FDCB035D43244D24E?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 30 Jun 2023 00:38:15 GMT"
      },
      "RequestBody": {
        "queueAssignments": {
          "926802567D698A097B3F91E0F309743607203853B6E230A661": {}
        },
        "totalCapacity": 100,
        "labels": {
          "test_label_1": "testLabel",
          "test_label_2": 12
        },
        "channelConfigurations": {
          "ACS_Chat_Channel": {
            "capacityCostPerJob": 20,
            "maxNumberOfJobs": 5
          }
        },
        "availableForOffers": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-e25a-694b0279db08\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 00:38:16 GMT",
        "trace-id": "4e3a90c6-8203-4940-6aa5-09e26900bfc7"
      },
      "ResponseBody": {
        "id": "0E8809C9288DE063902BB7428415B6701FDCB035D43244D24E",
        "state": "inactive",
        "queueAssignments": {
          "926802567D698A097B3F91E0F309743607203853B6E230A661": {}
        },
        "totalCapacity": 100,
        "labels": {
          "test_label_1": "testLabel",
          "test_label_2": 12,
          "Id": "0E8809C9288DE063902BB7428415B6701FDCB035D43244D24E"
        },
        "tags": {},
        "channelConfigurations": {
          "ACS_Chat_Channel": {
            "capacityCostPerJob": 20,
            "maxNumberOfJobs": 5
          }
        },
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": false
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-O4I3pWSnHE-6lCwjORbYzg-",
    "RandomSeed": "1907111154"
  }
}
