{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/sdk-jjMt3Xis8Umo_2HvZ-bswQ--WorkerIDRegisterWorker?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 21:24:22 GMT"
      },
      "RequestBody": {
        "queueAssignments": {},
        "totalCapacity": 100,
        "channelConfigurations": {},
        "availableForOffers": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-0a17-94201c36db08\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 21:24:23 GMT",
        "trace-id": "c74bcfe0-9a14-da4e-8354-d9e37728925d"
      },
      "ResponseBody": {
        "id": "sdk-jjMt3Xis8Umo_2HvZ-bswQ--WorkerIDRegisterWorker",
        "state": "active",
        "queueAssignments": {},
        "totalCapacity": 100,
        "labels": {
          "Id": "sdk-jjMt3Xis8Umo_2HvZ-bswQ--WorkerIDRegisterWorker"
        },
        "tags": {},
        "channelConfigurations": {},
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": true
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-jjMt3Xis8Umo_2HvZ-bswQ-",
    "RandomSeed": "644828708"
  }
}
