{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/workers/sdk-c5erwbuMl0Ol6fkrjEPshA--WorkerIDRegisterWorker?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jun 2022 01:20:55 GMT"
      },
      "RequestBody": {
        "totalCapacity": 100,
        "availableForOffers": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-048c-5576364fda08\u0022",
        "Last-Modified": "Thu, 16 Jun 2022 01:20:55 GMT",
        "trace-id": "fba2a75c59f96f4f8bf55ebab52cb655"
      },
      "ResponseBody": {
        "id": "sdk-c5erwbuMl0Ol6fkrjEPshA--WorkerIDRegisterWorker",
        "state": "active",
        "queueAssignments": {},
        "totalCapacity": 100,
        "labels": {
          "Id": "sdk-c5erwbuMl0Ol6fkrjEPshA--WorkerIDRegisterWorker"
        },
        "tags": {},
        "channelConfigurations": {},
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": true
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-c5erwbuMl0Ol6fkrjEPshA-",
    "RandomSeed": "1425929437"
  }
}
