{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/sdk-5JEjHgzeg06xD8rrUErmfQ--WorkerIDRegisterWorker?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:55:44 GMT"
      },
      "RequestBody": {
        "queueAssignments": {},
        "totalCapacity": 100,
        "channelConfigurations": {},
        "availableForOffers": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-d59e-7d0cac6edb08\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:55:42 GMT",
        "trace-id": "fcb515c5-45ae-9ec8-e1f6-0c867829d2ad"
      },
      "ResponseBody": {
        "id": "sdk-5JEjHgzeg06xD8rrUErmfQ--WorkerIDRegisterWorker",
        "state": "active",
        "queueAssignments": {},
        "totalCapacity": 100,
        "labels": {
          "Id": "sdk-5JEjHgzeg06xD8rrUErmfQ--WorkerIDRegisterWorker"
        },
        "tags": {},
        "channelConfigurations": {},
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": true
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/sdk-5JEjHgzeg06xD8rrUErmfQ--WorkerIDRegisterWorker?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:55:45 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-d59e-7d0cac6edb08\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:55:42 GMT",
        "trace-id": "13cf275f-78d7-097b-0762-d5ddfb07aab4"
      },
      "ResponseBody": {
        "id": "sdk-5JEjHgzeg06xD8rrUErmfQ--WorkerIDRegisterWorker",
        "state": "active",
        "queueAssignments": {},
        "totalCapacity": 100,
        "labels": {
          "Id": "sdk-5JEjHgzeg06xD8rrUErmfQ--WorkerIDRegisterWorker"
        },
        "tags": {},
        "channelConfigurations": {},
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": true
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-5JEjHgzeg06xD8rrUErmfQ-",
    "RandomSeed": "130413749"
  }
}
