{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11978"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-ResourceMover/providers/Microsoft.Migrate/moveCollections/testMoveCollection?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022000118ac-0000-0200-0000-645d919a0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11977"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-ResourceMover/providers/Microsoft.Migrate/moveCollections/testMoveCollection",
        "name": "testMoveCollection",
        "type": "Microsoft.Migrate/moveCollections",
        "etag": "\u0022000118ac-0000-0200-0000-645d919a0000\u0022",
        "location": "eastus2",
        "properties": {
          "sourceRegion": "eastus",
          "targetRegion": "westus",
          "provisioningState": "Succeeded",
          "errors": null
        },
        "identity": {
          "principalId": "825f1d1b-39a2-4a29-9444-15fbd10ba660",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "type": "SystemAssigned"
        },
        "systemData": {
          "createdBy": "yaokou@microsoft.com",
          "createdByType": "User",
          "createdAt": "2022-09-07T03:56:30.2590254Z",
          "lastModifiedBy": "yaokou@microsoft.com",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2022-09-07T03:56:30.2590254Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRg-ResourceMover-538?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-ResourceMover-538",
        "name": "testRg-ResourceMover-538",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-ResourceMover-538/providers/Microsoft.Network/virtualNetworks/Vnet-8699?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "Subnet-6924",
              "properties": {
                "addressPrefix": "10.0.0.0/24"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/eastus/operations/124520b6-b4c8-42a4-8192-f668e81f046f?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "name": "Vnet-8699",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-ResourceMover-538/providers/Microsoft.Network/virtualNetworks/Vnet-8699",
        "etag": "W/\u0022c2223dc4-62e8-402e-a234-19b40ebff718\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "d3bdc3b5-3fc0-4e3e-9995-d2446f630aaf",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "Subnet-6924",
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-ResourceMover-538/providers/Microsoft.Network/virtualNetworks/Vnet-8699/subnets/Subnet-6924",
              "etag": "W/\u0022c2223dc4-62e8-402e-a234-19b40ebff718\u0022",
              "properties": {
                "provisioningState": "Updating",
                "addressPrefix": "10.0.0.0/24",
                "delegations": [],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/eastus/operations/124520b6-b4c8-42a4-8192-f668e81f046f?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11976"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-ResourceMover/providers/Microsoft.Migrate/moveCollections/testMoveCollection/moveResources/MoverResource-9929?api-version=2021-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "sourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-ResourceMover-538/providers/Microsoft.Network/virtualNetworks/Vnet-8699",
          "resourceSettings": {
            "resourceType": "Microsoft.Network/virtualNetworks",
            "targetResourceName": "targetVnet-798"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-ResourceMover/providers/Microsoft.Migrate/moveCollections/testMoveCollection/operations/901b0b5b-75e2-46dc-9136-8f35c08f19fd?api-version=2021-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-ResourceMover/providers/Microsoft.Migrate/moveCollections/testMoveCollection/operations/901b0b5b-75e2-46dc-9136-8f35c08f19fd?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-ResourceMover/providers/Microsoft.Migrate/moveCollections/testMoveCollection/operations/901b0b5b-75e2-46dc-9136-8f35c08f19fd?api-version=2021-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11974"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-ResourceMover/providers/Microsoft.Migrate/moveCollections/testMoveCollection/operations/901b0b5b-75e2-46dc-9136-8f35c08f19fd",
        "name": "901b0b5b-75e2-46dc-9136-8f35c08f19fd",
        "status": "Running",
        "startTime": "5/12/2023 6:45:11 AM",
        "endTime": null,
        "error": null,
        "properties": {}
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-ResourceMover/providers/Microsoft.Migrate/moveCollections/testMoveCollection/moveResources/MoverResource-9929?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11972"
      },
      "ResponseBody": {
        "name": "MoverResource-9929",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-ResourceMover/providers/Microsoft.Migrate/moveCollections/testMoveCollection/moveResources/MoverResource-9929",
        "type": null,
        "properties": {
          "provisioningState": "Succeeded",
          "isResolveRequired": false,
          "sourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-ResourceMover-538/providers/Microsoft.Network/virtualNetworks/Vnet-8699",
          "targetId": null,
          "existingTargetId": null,
          "resourceSettings": {
            "resourceType": "Microsoft.Network/virtualNetworks",
            "enableDdosProtection": null,
            "addressSpace": null,
            "dnsServers": null,
            "subnets": null,
            "tags": null,
            "targetResourceName": "targetVnet-798"
          },
          "moveStatus": {
            "moveState": "PreparePending",
            "jobStatus": null,
            "errors": {
              "properties": {
                "code": "DependencyComputationPending",
                "message": "The dependency computation is not completed for resource - /subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-ResourceMover-538/providers/Microsoft.Network/virtualNetworks/Vnet-8699\u0027.\n    Possible Causes: Dependency computation is pending for resource.\n    Recommended Action: Validate dependencies to compute the dependencies.\n    ",
                "details": []
              }
            }
          },
          "dependsOn": [],
          "dependsOnOverrides": [],
          "errors": null,
          "sourceResourceSettings": {
            "resourceType": "Microsoft.Network/virtualNetworks",
            "enableDdosProtection": null,
            "addressSpace": [
              "10.0.0.0/16"
            ],
            "dnsServers": [],
            "subnets": [
              {
                "name": "Subnet-6924",
                "addressPrefix": "10.0.0.0/24",
                "networkSecurityGroup": null
              }
            ],
            "tags": null,
            "targetResourceName": "Vnet-8699"
          }
        },
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2023-05-12T06:45:11.3172022Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-05-12T06:45:11.3172022Z"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1069909445",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
