{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11990"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-ResourceMover?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-ResourceMover",
        "name": "testRG-ResourceMover",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-ResourceMover/providers/Microsoft.Network/virtualNetworks/Vnet-5971?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "Subnet-0824",
              "properties": {
                "addressPrefix": "10.0.0.0/24"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/eastus/operations/ec689330-fd5c-4748-ae76-5df29fb85e72?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "name": "Vnet-5971",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-ResourceMover/providers/Microsoft.Network/virtualNetworks/Vnet-5971",
        "etag": "W/\u00223e18493c-f873-4080-afac-89305325e75e\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "1b983375-2227-4e0b-944c-5b564062d370",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "Subnet-0824",
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-ResourceMover/providers/Microsoft.Network/virtualNetworks/Vnet-5971/subnets/Subnet-0824",
              "etag": "W/\u00223e18493c-f873-4080-afac-89305325e75e\u0022",
              "properties": {
                "provisioningState": "Updating",
                "addressPrefix": "10.0.0.0/24",
                "delegations": [],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/eastus/operations/ec689330-fd5c-4748-ae76-5df29fb85e72?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-ResourceMover/providers/Microsoft.Network/virtualNetworks/Vnet-5971?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002291f251f1-767d-4316-9d1f-1815c21cb99d\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": {
        "name": "Vnet-5971",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-ResourceMover/providers/Microsoft.Network/virtualNetworks/Vnet-5971",
        "etag": "W/\u002291f251f1-767d-4316-9d1f-1815c21cb99d\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus",
        [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-ResourceMover/providers/Microsoft.Migrate/moveCollections/testMoveCollection?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223700fa85-0000-0200-0000-6306d8750000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11986"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-ResourceMover/providers/Microsoft.Migrate/moveCollections/testMoveCollection",
        "name": "testMoveCollection",
        "type": "Microsoft.Migrate/moveCollections",
        "etag": "\u00223700fa85-0000-0200-0000-6306d8750000\u0022",
        "location": "eastus2",
        "properties": {
          "sourceRegion": "eastus",
          "targetRegion": "westus",
          "provisioningState": "Succeeded",
          "errors": null
        },
        "identity": {
          "principalId": "030c5fc6-bca6-404d-a769-47087e9e436a",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "type": "SystemAssigned"
        },
        "systemData": {
          "createdBy": "yaokou@microsoft.com",
          "createdByType": "User",
          "createdAt": "2022-08-25T02:03:30.8584381Z",
          "lastModifiedBy": "yaokou@microsoft.com",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2022-08-25T02:03:30.8584381Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-ResourceMover/providers/Microsoft.Migrate/moveCollections/testMoveCollection/moveResources/MoverResource-250?api-version=2021-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "sourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-ResourceMover/providers/Microsoft.Network/virtualNetworks/Vnet-5971",
          "resourceSettings": {
            "resourceType": "Microsoft.Network/virtualNetworks",
            "targetResourceName": "targetVnet-2756"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-ResourceMover/providers/Microsoft.Migrate/moveCollections/testMoveCollection/operations/18083a7d-362c-4d5f-bf1e-7d053b37ef1d?api-version=2021-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-ResourceMover/providers/Microsoft.Migrate/moveCollections/testMoveCollection/operations/18083a7d-362c-4d5f-bf1e-7d053b37ef1d?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-ResourceMover/providers/Microsoft.Migrate/moveCollections/testMoveCollection/operations/18083a7d-362c-4d5f-bf1e-7d053b37ef1d?api-version=2021-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11985"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-ResourceMover/providers/Microsoft.Migrate/moveCollections/testMoveCollection/operations/18083a7d-362c-4d5f-bf1e-7d053b37ef1d",
        "name": "18083a7d-362c-4d5f-bf1e-7d053b37ef1d",
        "status": "Running",
        "startTime": "8/25/2022 8:04:51 AM",
        "endTime": null,
        "error": null,
        "properties": {}
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-ResourceMover/providers/Microsoft.Migrate/moveCollections/testMoveCollection/moveResources/MoverResource-250?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11983"
      },
      "ResponseBody": {
        "name": "MoverResource-250",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-ResourceMover/providers/Microsoft.Migrate/moveCollections/testMoveCollection/moveResources/MoverResource-250",
        "type": null,
        "properties": {
          "provisioningState": "Succeeded",
          "isResolveRequired": false,
          "sourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-ResourceMover/providers/Microsoft.Network/virtualNetworks/Vnet-5971",
          "targetId": null,
          "existingTargetId": null,
          "resourceSettings": {
            "resourceType": "Microsoft.Network/virtualNetworks",
            "enableDdosProtection": null,
            "addressSpace": null,
            "dnsServers": null,
            "subnets": null,
            "tags": null,
            "targetResourceName": "targetVnet-2756"
          },
          "moveStatus": {
            "moveState": "PreparePending",
            "jobStatus": null,
            "errors": {
              "properties": {
                "code": "DependencyComputationPending",
                "message": "The dependency computation is not completed for resource - /subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-ResourceMover/providers/Microsoft.Network/virtualNetworks/Vnet-5971\u0027.\n    Possible Causes: Dependency computation is pending for resource.\n    Recommended Action: Validate dependencies to compute the dependencies.\n    ",
                "details": []
              }
            }
          },
          "dependsOn": [],
          "dependsOnOverrides": [],
          "errors": null,
          "sourceResourceSettings": {
            "resourceType": "Microsoft.Network/virtualNetworks",
            "enableDdosProtection": null,
            "addressSpace": [
              "10.0.0.0/16"
            ],
            "dnsServers": [],
            "subnets": [
              {
                "name": "Subnet-0824",
                "addressPrefix": "10.0.0.0/24",
                "networkSecurityGroup": null
              }
            ],
            "tags": null,
            "targetResourceName": "Vnet-5971"
          }
        },
        "systemData": {
          "createdBy": "ea0eddd2-3d60-47f8-b3bf-7ec8ae554d10",
          "createdByType": "Application",
          "createdAt": "2022-08-25T08:04:50.9619107Z",
          "lastModifiedBy": "ea0eddd2-3d60-47f8-b3bf-7ec8ae554d10",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-08-25T08:04:50.9619107Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-ResourceMover/providers/Microsoft.Migrate/moveCollections/testMoveCollection/moveResources/MoverResource-250?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11980"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The resource is not found.\n    Possible Causes: The resource doesn\u0027t exist or may have been deleted.\n    Recommended Action: Retry the operation with a valid resource.\n    "
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "39198689",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
