{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11973"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-3402?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3402",
        "name": "testRG-3402",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3402/providers/Microsoft.LabServices/labs/sdklab-1676?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "autoShutdownProfile": {
            "shutdownOnDisconnect": "Disabled",
            "shutdownWhenNotConnected": "Disabled",
            "shutdownOnIdle": "UserAbsence",
            "idleDelay": "PT15M"
          },
          "connectionProfile": {
            "webSshAccess": "None",
            "webRdpAccess": "None",
            "clientSshAccess": "Public",
            "clientRdpAccess": "Public"
          },
          "virtualMachineProfile": {
            "createOption": "TemplateVM",
            "imageReference": {
              "offer": "0001-com-ubuntu-server-focal",
              "publisher": "canonical",
              "sku": "20_04-lts",
              "version": "latest"
            },
            "sku": {
              "name": "Standard_Fsv2_2_4GB_64_S_SSD",
              "capacity": 0
            },
            "usageQuota": "PT2H",
            "useSharedPassword": "Enabled",
            "adminUser": {
              "username": "tester",
              "password": "Sanitized"
            }
          },
          "securityProfile": {
            "openAccess": "Disabled"
          },
          "title": "test lab"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-05-01-preview, 2021-10-01-preview, 2021-11-15-preview, 2022-05-01-preview, 2022-08-01",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.LabServices/locations/eastus/operationResults/33964657-e894-4b74-a369-5a4d47a05651?api-version=2022-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3402/providers/Microsoft.LabServices/labs/sdklab-1676?api-version=2022-08-01",
        "Operation-Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.LabServices/locations/eastus/operationResults/33964657-e894-4b74-a369-5a4d47a05651?api-version=2022-08-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2023-02-20T06:46:10.4617396Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-02-20T06:46:10.4617396Z"
        },
        "properties": {
          "provisioningState": "Creating",
          "state": "Draft",
          "autoShutdownProfile": {
            "shutdownOnDisconnect": "Disabled",
            "shutdownWhenNotConnected": "Disabled",
            "shutdownOnIdle": "UserAbsence",
            "idleDelay": "PT15M"
          },
          "connectionProfile": {
            "webSshAccess": "None",
            "webRdpAccess": "None",
            "clientSshAccess": "Public",
            "clientRdpAccess": "Public"
          },
          "virtualMachineProfile": {
            "createOption": "TemplateVM",
            "imageReference": {
              "offer": "0001-com-ubuntu-server-focal",
              "publisher": "canonical",
              "sku": "20_04-lts",
              "version": "latest"
            },
            "osType": "Linux",
            "sku": {
              "name": "Standard_Fsv2_2_4GB_64_S_SSD",
              "capacity": 0
            },
            "additionalCapabilities": {
              "installGpuDrivers": "Disabled"
            },
            "usageQuota": "PT2H",
            "useSharedPassword": "Enabled",
            "adminUser": {
              "username": "tester"
            }
          },
          "securityProfile": {
            "registrationCode": "qngoof570",
            "openAccess": "Disabled"
          },
          "title": "test lab"
        },
        "tags": {},
        "location": "eastus",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3402/providers/Microsoft.LabServices/labs/sdklab-1676",
        "name": "sdklab-1676",
        "type": "Microsoft.LabServices/labs"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.LabServices/locations/eastus/operationResults/33964657-e894-4b74-a369-5a4d47a05651?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-05-01-preview, 2021-10-01-preview, 2021-11-15-preview, 2022-05-01-preview, 2022-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11972"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.LabServices/locations/eastus/operationResults/33964657-e894-4b74-a369-5a4d47a05651",
        "name": "33964657-e894-4b74-a369-5a4d47a05651",
        "status": "InProgress",
        "startTime": "2023-02-20T06:46:12.3069056Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.LabServices/locations/eastus/operationResults/33964657-e894-4b74-a369-5a4d47a05651?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-05-01-preview, 2021-10-01-preview, 2021-11-15-preview, 2022-05-01-preview, 2022-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11956"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.LabServices/locations/eastus/operationResults/33964657-e894-4b74-a369-5a4d47a05651",
        "name": "33964657-e894-4b74-a369-5a4d47a05651",
        "status": "Succeeded",
        "startTime": "2023-02-20T06:46:12.3069056Z",
        "endTime": "2023-02-20T06:51:23.7630699Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3402/providers/Microsoft.LabServices/labs/sdklab-1676/users/testuser-7687?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "additionalUsageQuota": "PT10H",
          "email": "testuser@contoso.com"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-05-01-preview, 2021-10-01-preview, 2021-11-15-preview, 2022-05-01-preview, 2022-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3402/providers/Microsoft.LabServices/labs/sdklab-1676/users/testuser-7687?api-version=2022-08-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2023-02-20T06:51:43.949666Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-02-20T06:51:43.949666Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "email": "testuser@contoso.com",
          "registrationState": "NotRegistered",
          "invitationState": "NotSent",
          "totalUsage": "PT0S",
          "additionalUsageQuota": "PT10H"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3402/providers/Microsoft.LabServices/labs/sdklab-1676/users/testuser-7687",
        "name": "testuser-7687",
        "type": "Microsoft.LabServices/labs/users"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3402/providers/Microsoft.LabServices/labs/sdklab-1676/users?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-05-01-preview, 2021-10-01-preview, 2021-11-15-preview, 2022-05-01-preview, 2022-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11950"
      },
      "ResponseBody": {
        "value": [
          {
            "systemData": {
              "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
              "createdByType": "Application",
              "createdAt": "2023-02-20T06:51:43.949666Z",
              "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-02-20T06:51:46.9965915Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "email": "testuser@contoso.com",
              "registrationState": "NotRegistered",
              "invitationState": "NotSent",
              "totalUsage": "PT0S",
              "additionalUsageQuota": "PT6H"
            },
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3402/providers/Microsoft.LabServices/labs/sdklab-1676/users/testuser-7687",
            "name": "testuser-7687",
            "type": "Microsoft.LabServices/labs/users"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3402/providers/Microsoft.LabServices/labs/sdklab-1676/users/testuser-7687?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2020-05-01-preview, 2021-10-01-preview, 2021-11-15-preview, 2022-05-01-preview, 2022-08-01",
        "Content-Type": "application/problem\u002Bjson; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11947"
      },
      "ResponseBody": {
        "type": "https://tools.ietf.org/html/rfc7231#section-6.5.4",
        "title": "Not Found",
        "status": 404,
        "traceId": "00-4088ee5810236aeda5a718e762dfdcaa-fceb18cf2c2fccd5-01"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "154966875",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
