{
  "Entries": [
    {
      "RequestUri": "/subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourcegroups/System.Redmond/providers/Microsoft.Update.Admin/updateLocations/?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourceGroups/System.Redmond/providers/Microsoft.Update.Admin/updateLocations/redmond\",\r\n      \"name\": \"redmond\",\r\n      \"type\": \"Microsoft.Update.Admin/updateLocations\",\r\n      \"location\": \"redmond\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"currentVersion\": \"1.0.180302.1\",\r\n        \"currentOemVersion\": \"1.0.1709.3\",\r\n        \"lastUpdated\": \"2018-03-03T08:09:12.8824552Z\",\r\n        \"state\": \"AppliedSuccessfully\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvgu2ToNX72o1OOEenQX+N5ux1+A0uS7JNAi4eXEBuqNVJ3+lp2Wkj/6B9xz4FuMDnSJj2efJaK+6/u6fiBQeqgwvqingDcoSyxp6WDbT5H4cjpUwi0G3l1julEJgLIsxYknmkMXUxkn950Bk/P3kf"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "12865"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourcegroups/System.Redmond/providers/Microsoft.Update.Admin/updateLocations/redmond/updates?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourceGroups/System.Redmond/providers/Microsoft.Update.Admin/updateLocations/redmond/updates/Microsoft1.0.180302.1\",\r\n      \"name\": \"Microsoft1.0.180302.1\",\r\n      \"type\": \"Microsoft.Update.Admin/updateLocations/updates\",\r\n      \"location\": \"redmond\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"dateAvailable\": \"0001-01-01T00:00:00\",\r\n        \"installedDate\": \"2018-03-03T08:09:12.8824552Z\",\r\n        \"description\": \"MAS Update 1.0.180302.1\",\r\n        \"state\": \"Installed\",\r\n        \"kbLink\": \"https://aka.ms/azurestackupdate\",\r\n        \"minVersionRequired\": \"1.0.180103.2\",\r\n        \"packagePath\": \"\\\\\\\\SU1FileServer\\\\SU1_Infrastructure_2\\\\Updates\\\\Packages\\\\Microsoft1.0.180302.1\",\r\n        \"packageSizeInMb\": 2144,\r\n        \"updateName\": \"MAS - 1.0.180302.1\",\r\n        \"version\": \"1.0.180302.1\",\r\n        \"updateOemFile\": \"\",\r\n        \"publisher\": \"Microsoft\",\r\n        \"packageType\": \"Microsoft\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvg2NhAF3hydDw9nebHCy/+7pMfee/abRziAqNqbZ/JTsMBHtHyQkUi6Fw4PrOaG7v+ZqgujsGWKuEMLk/P4DlEbGRU+Vro+T0oq+ZfSsmw2TquV3vzfOQxAvDNhOiOjTvamx8tNX4NXYC4qBvA4yh"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "12864"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourcegroups/System.Redmond/providers/Microsoft.Update.Admin/updateLocations/redmond/updates/Microsoft1.0.180302.1/updateRuns?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourceGroups/System.Redmond/providers/Microsoft.Update.Admin/updateLocations/redmond/updates/Microsoft1.0.180302.1/updateRuns/407d9b8f-debf-4058-b374-a94a1bb4de30\",\r\n      \"name\": \"407d9b8f-debf-4058-b374-a94a1bb4de30\",\r\n      \"type\": \"Microsoft.Update.Admin/updateLocations/updates/updateRuns\",\r\n      \"location\": \"redmond\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"progress\": {\r\n          \"name\": \"Unnamed step\",\r\n          \"description\": \"Update Azure Stack.\",\r\n          \"errorMessage\": \"\",\r\n          \"status\": \"Success\",\r\n          \"startTimeUtc\": \"2018-03-02T09:25:37.4173123-08:00\",\r\n          \"endTimeUtc\": \"2018-03-03T00:09:04.9913191-08:00\",\r\n          \"steps\": [\r\n            {\r\n              \"name\": \"Pre-engine Update\",\r\n              \"description\": \"Perform pre-engine update.\",\r\n              \"errorMessage\": \"\",\r\n              \"status\": \"Success\",\r\n              \"startTimeUtc\": \"2018-03-02T09:25:37.4798089-08:00\",\r\n              \"endTimeUtc\": \"2018-03-02T10:28:55.8289013-08:00\",\r\n              \"steps\": [\r\n                {\r\n                  \"name\": \"PreUpdate Cloud\",\r\n                  \"descripti[...]
    {
      "RequestUri": "/subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourcegroups/System.Redmond/providers/Microsoft.Update.Admin/updateLocations/redmond/updates/Microsoft1.0.180302.1/updateRuns/407d9b8f-debf-4058-b374-a94a1bb4de30?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourcegroups/System.Redmond/providers/Microsoft[...]
