{
  "Entries": [
    {
      "RequestUri": "/subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourcegroups/System.Redmond/providers/Microsoft.Update.Admin/updateLocations/?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourceGroups/System.Redmond/providers/Microsoft.Update.Admin/updateLocations/redmond\",\r\n      \"name\": \"redmond\",\r\n      \"type\": \"Microsoft.Update.Admin/updateLocations\",\r\n      \"location\": \"redmond\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"currentVersion\": \"1.0.180302.1\",\r\n        \"currentOemVersion\": \"1.0.1709.3\",\r\n        \"lastUpdated\": \"2018-03-03T08:09:12.8824552Z\",\r\n        \"state\": \"AppliedSuccessfully\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvTj5YZ36JJouZHZ8Z2YBiBW6UeK3Ug5fnLRG/+x5d5LBSEG8f43IZugmcjn2e4O6HXG/pS8RocAGX+6kYfFUmvukfdIKUvYhcf2FvWf2X+zEG6W6rzfPROWn/L5Xqr4TLXJ8cD+W2XBxA5j2a4IJe"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "12855"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourcegroups/System.Redmond/providers/Microsoft.Update.Admin/updateLocations/redmond/updates?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourceGroups/System.Redmond/providers/Microsoft.Update.Admin/updateLocations/redmond/updates/Microsoft1.0.180302.1\",\r\n      \"name\": \"Microsoft1.0.180302.1\",\r\n      \"type\": \"Microsoft.Update.Admin/updateLocations/updates\",\r\n      \"location\": \"redmond\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"dateAvailable\": \"0001-01-01T00:00:00\",\r\n        \"installedDate\": \"2018-03-03T08:09:12.8824552Z\",\r\n        \"description\": \"MAS Update 1.0.180302.1\",\r\n        \"state\": \"Installed\",\r\n        \"kbLink\": \"https://aka.ms/azurestackupdate\",\r\n        \"minVersionRequired\": \"1.0.180103.2\",\r\n        \"packagePath\": \"\\\\\\\\SU1FileServer\\\\SU1_Infrastructure_2\\\\Updates\\\\Packages\\\\Microsoft1.0.180302.1\",\r\n        \"packageSizeInMb\": 2144,\r\n        \"updateName\": \"MAS - 1.0.180302.1\",\r\n        \"version\": \"1.0.180302.1\",\r\n        \"updateOemFile\": \"\",\r\n        \"publisher\": \"Microsoft\",\r\n        \"packageType\": \"Microsoft\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvD7CcjS1pdjtwS6ic+hTBQGJZGiUaKaHZD2zGsc2AKO91TtesP4xwCiF6RNlx+liiXOQ89XHtpFELx5EDj1VTiGBikhCiMiBj/K4rgjXDdEgLI3yJhH4rUenTaqgpQeSbQcehYFakPdOG/KO5RDGt"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "12849"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourcegroups/System.Redmond/providers/Microsoft.Update.Admin/updateLocations/redmond/updates/Microsoft1.0.180302.1?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourcegroups/System.Redmond/providers/Microsoft.Update.Admin/updateLocations/redmond/updates/Mi[...]
