{
  "Entries": [
    {
      "RequestUri": "/customvision/v3.0/prediction/7bbd16f5-6511-424e-81ac-e06bb54348d1/detect/iterations/Training%20Obj%20Detection%20UnitTest%20Iteration/url",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"url\": \"https://raw.githubusercontent.com/Microsoft/Cognitive-CustomVision-Windows/master/Samples/Images/Test/test_image.jpg\"\r\n}",
      "RequestHeaders": {
        "Prediction-Key": [
          ""
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"ddf8eec8-c7f3-4c7a-84dc-e9d617358d56\",\r\n  \"project\": \"7bbd16f5-6511-424e-81ac-e06bb54348d1\",\r\n  \"iteration\": \"6399e204-af95-4dd3-b76a-e661fe00a536\",\r\n  \"created\": \"2019-03-15T06:14:53.0952788Z\",\r\n  \"predictions\": [\r\n    {\r\n      \"probability\": 0.0249909777,\r\n      \"tagId\": \"985e53b8-fac7-4a4e-a38a-6e15d3345bf1\",\r\n      \"tagName\": \"fork\",\r\n      \"boundingBox\": {\r\n        \"left\": 0.351519644,\r\n        \"top\": 0.0192608833,\r\n        \"width\": 0.311661661,\r\n        \"height\": 0.7785555\r\n      }\r\n    },\r\n    {\r\n      \"probability\": 0.302729517,\r\n      \"tagId\": \"985e53b8-fac7-4a4e-a38a-6e15d3345bf1\",\r\n      \"tagName\": \"fork\",\r\n      \"boundingBox\": {\r\n        \"left\": 0.4764933,\r\n        \"top\": 0.001578927,\r\n        \"width\": 0.2774629,\r\n        \"height\": 0.8235794\r\n      }\r\n    },\r\n    {\r\n      \"probability\": 0.281207174,\r\n      \"tagId\": \"985e53b8-fac7-4a4e-a38a-6e15d3345bf1\",\r\n      \"tagName\": \"fork\",\r\n [...]
