{
  "Entries": [
    {
      "RequestUri": "https://ads-perf-westeurope-pv.purview.azure.com/share/sentShares/e802f487-92bf-4dc3-bf1d-86afe0d757a3/sentShareInvitations?api-version=2023-02-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "targetActiveDirectoryId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "targetObjectId": "fc010728-94f6-4e9c-be3c-c08687414bd4",
              "shareStatus": "Detached",
              "sentAt": "2023-02-14T05:23:14.0749535Z",
              "senderName": "SyMS",
              "senderTenantName": "Microsoft",
              "provisioningState": "Succeeded"
            },
            "invitationKind": "Service",
            "id": "e322785e-8fb0-4d7b-b7b3-521e0d602fae",
            "type": "sentShares/sentShareInvitations"
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "PURVIEW_SHARE_URL": "https://ads-perf-westeurope-pv.purview.azure.com/share",
    "RandomSeed": "1306199364"
  }
}
