{
  "Entries": [
    {
      "RequestUri": "https://FakeHost.net/devices/QueryDevice939180715?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "deviceId": "QueryDevice939180715"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022MTgzNjA0MTA2\u0022"
      },
      "ResponseBody": {
        "deviceId": "QueryDevice939180715",
        "generationId": "637335579492935983",
        "etag": "MTgzNjA0MTA2",
        "connectionState": "Disconnected",
        "status": "enabled",
        "statusReason": null,
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "statusUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "0\u002B8Ft8CgoStL8HJXoma2iQuZ5jkUqUSjVaq\u002B\u002BAt1Q9c=",
            "secondaryKey": "t7sZC890urBQxzXWLBmirV5bLaPIp1DJs58E9ZxWbM4="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        },
        "parentScopes": []
      }
    },
    {
      "RequestUri": "https://FakeHost.net/devices/QueryDevice939180715/modules/QueryModule1384101029?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "moduleId": "QueryModule1384101029",
        "deviceId": "QueryDevice939180715"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "moduleId": "QueryModule1384101029",
        "managedBy": null,
        "deviceId": "QueryDevice939180715",
        "generationId": "637335579493685581",
        "etag": "OTg4MDI0MTA3",
        "connectionState": "Disconnected",
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "Kxi1\u002B5f6hgsLw531Bk/qHzcwphKw4eKEXfgXKEE/5FU=",
            "secondaryKey": "PdfFNfEY1lnL5lrW0w7oJeOck8Fnc6jte2ZboIXbZy0="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        }
      }
    },
    {
      "RequestUri": "https://FakeHost.net/devices/query?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022query\u0022:\u0022SELECT * FROM devices.modules WHERE moduleId = \u0027QueryModule1384101029\u0027\u0022}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-item-type": "Twin"
      },
      "ResponseBody": "[]"
    },
[...]
    {
      "RequestUri": "https://FakeHost.net/devices/QueryDevice939180715?api-version=2020-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=FakeHost.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==",
    "RandomSeed": "1014759705"
  }
}