{
  "Entries": [
    {
      "RequestUri": "https://FakeHost.net/devices/QueryDevice714261162?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "deviceId": "QueryDevice714261162"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022MjE1MzE2Mzgx\u0022"
      },
      "ResponseBody": {
        "deviceId": "QueryDevice714261162",
        "generationId": "637333072304442717",
        "etag": "MjE1MzE2Mzgx",
        "connectionState": "Disconnected",
        "status": "enabled",
        "statusReason": null,
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "statusUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "VlQuZiEd4YIJveceIHFkzvIBtcIMpjo2dB5xyOuU/tY=",
            "secondaryKey": "pbtSbaemw9BloQF8kBlpw4Oci6P1EPKkXJ5QqCJWk8o="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        },
        "parentScopes": []
      }
    },
    {
      "RequestUri": "https://FakeHost.net/twins/QueryDevice714261162?api-version=2020-03-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "deviceId": "QueryDevice714261162",
        "etag": "AAAAAAAAAAE=",
        "deviceEtag": "MjE1MzE2Mzgx",
        "status": "enabled",
        "statusUpdateTime": "0001-01-01T00:00:00Z",
        "connectionState": "Disconnected",
        "lastActivityTime": "0001-01-01T00:00:00Z",
        "cloudToDeviceMessageCount": 0,
        "authenticationType": "sas",
        "x509Thumbprint": {
          "primaryThumbprint": null,
          "secondaryThumbprint": null
        },
        "version": 2,
        "properties": {
          "desired": {
            "$metadata": {
              "$lastUpdated": "2020-08-18T00:27:10.4442717Z"
            },
            "$version": 1
          },
          "reported": {
            "$metadata": {
              "$lastUpdated": "2020-08-18T00:27:10.4442717Z"
            },
            "$version": 1
          }
        },
        "capabilities": {
          "iotEdge": false
        }
      }
    },
    {
      "RequestUri": "https://FakeHost.net/twins/QueryDevice714261162?api-version=2020-03-13",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022AAAAAAAAAAE=\u0022"
      },
      "RequestBody": {
        "deviceId": "QueryDevice714261162",
        "tags": {
          "QueryDeviceTagKey": "QueryDeviceTagValue"
        },
        "properties": {
          "desired": {
            "$metadata": {
              "$lastUpdated": "2020-08-18T00:27:10.4442717Z"
            },
            "$version": 1
          },
          "reported": {
            "$metadata": {
              "$lastUpdated": "2020-08-18T00:27:10.4442717Z"
            },
            "$version": 1
          }
        },
        "etag": "AAAAAAAAAAE=",
        "version": 2,
        "deviceEtag": "MjE1MzE2Mzgx",
        "[...]
    {
      "RequestUri": "https://FakeHost.net/devices/query?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "SELECT  * FROM devices WHERE tags.QueryDeviceTagKey = \u0027QueryDeviceTagValue\u0027"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-item-type": "Twin"
      },
      "ResponseBody": "[{\u0022deviceId\u0022:\u0022QueryDevice2040180319\u0022,\u0022etag\u0022:\u0022AAAAAAAAAAI=\u0022,\u0022deviceEtag\u0022:\u0022OTcxODI5NjAx\u0022,\u0022status\u0022:\u0022enabled\u0022,\u0022statusUpdateTime\u0022:\u00220001-01-01T00:00:00Z\u0022,\u0022connectionState\u0022:\u0022Disconnected\u0022,\u0022lastActivityTime\u0022:\u00220001-01-01T00:00:00Z\u0022,\u0022cloudToDeviceMessageCount\u0022:0,\u0022authenticationType\u0022:\u0022sas\u0022,\u0022x509Thumbprint\u0022:{\u0022primaryThumbprint\u0022:null,\u0022secondaryThumbprint\u0022:null},\u0022version\u0022:3,\u0022tags\u0022:{\u0022QueryDeviceTagKey\u0022:\u0022QueryDeviceTagValue\u0022},\u0022properties\u0022:{\u0022desired\u0022:{\u0022$metadata\u0022:{\u0022$lastUpdated\u0022:\u00222020-08-18T00:27:10.4703946Z\u0022},\u0022$version\u0022:1},\u0022reported\u0022:{\u0022$metadata\u0022:{\u0022$lastUpdated\u0022:\u00222020-08-18T00:27:10.4703946Z\u0022},\u0022$version\u0022:1}},\u0022capabilities\u0022:{\u0022iotEdge\u0022:false}}]"
    },
    {
      "RequestUri": "https://FakeHost.net/devices/QueryDevice714261162?api-version=2020-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=FakeHost.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==;",
    "RandomSeed": "1156397047"
  }
}