{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-businessCard:analyze?stringIndexType=utf16CodeUnit\u0026api-version=2022-08-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-businessCard/analyzeResults/6671c6c3-7f5f-4c7d-94a6-96e2b11cdf52?api-version=2022-08-31"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-businessCard/analyzeResults/6671c6c3-7f5f-4c7d-94a6-96e2b11cdf52?api-version=2022-08-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2022-08-16T05:51:09Z",
        "lastUpdatedDateTime": "2022-08-16T05:51:09Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-businessCard/analyzeResults/6671c6c3-7f5f-4c7d-94a6-96e2b11cdf52?api-version=2022-08-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2022-08-16T05:51:09Z",
        "lastUpdatedDateTime": "2022-08-16T05:51:15Z",
        "analyzeResult": {
          "apiVersion": "2022-08-31",
          "modelId": "prebuilt-businessCard",
          "stringIndexType": "utf16CodeUnit",
          "content": "JOHN SINGER\nSoftware Engineer \u002B1 (425) 779-3479 johnsinger@contoso.com https://www.contoso.com\nDr. Avery Smith Senior Researcher Cloud \u0026 Al Department\navery.smith@contoso.com https://www.contoso.com/ mob: \u002B44 (0) 7911 123456 tel: \u002B44 (0) 20 9876 5432 fax: \u002B44 (0) 20 6789 2345\nContoso 2 Kingdom Street Paddington, London, W2 6BD\nO",
          "pages": [
            {
              "pageNumber": 1,
              "angle": 7.1374921798706055,
              "width": 8.5,
              "height": 11,
              "unit": "inch",
              "words": [
                {
                  "content": "JOHN",
                  "polygon": [
                    1.7478,
                    3.7478,
                    2.7744,
                    3.8767,
                    2.7315,
                    4.2014,
                    1.7096,
                    4.082
                  ],
                  "confidence": 0.988,
                  "span": {
                    "offset": 0,
                    "length": 4
                  }
                },
                {
                  "content": "SINGER",
                  "polygon": [
                    1.6952,
                    4.1441,
                    3.1851,
                    4.3303,
                    3.1326,
                    4.6693,
                    1.657,
                    4.4974
                  ],
                  "confidence": 0.997,
                  "span": {
                    "offset": 5,
                    "length[...]
