{
  "Entries": [
    {
      "RequestUri": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-read:analyze?stringIndexType=utf16CodeUnit\u0026api-version=2023-02-28-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "urlSource": "https://raw.githubusercontent.com/Azure/azure-sdk-for-net/main/sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Assets/Invoice_1.pdf"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-read/analyzeResults/d3b38dec-50c6-4b44-b1a8-981f7759600f?api-version=2023-02-28-preview",
        "x-ms-region": "West Europe"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-read/analyzeResults/d3b38dec-50c6-4b44-b1a8-981f7759600f?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Europe"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2023-03-07T01:06:34Z",
        "lastUpdatedDateTime": "2023-03-07T01:06:34Z"
      }
    },
[...]
    {
      "RequestUri": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-read/analyzeResults/d3b38dec-50c6-4b44-b1a8-981f7759600f?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Europe"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2023-03-07T01:06:34Z",
        "lastUpdatedDateTime": "2023-03-07T01:06:36Z",
        "analyzeResult": {
          "apiVersion": "2023-02-28-preview",
          "modelId": "prebuilt-read",
          "stringIndexType": "utf16CodeUnit",
          "content": "Contoso\nAddress:\n1 Redmond way Suite\n6000 Redmond, WA\n99243\nInvoice For: Microsoft 1020 Enterprise Way Sunnayvale, CA 87659\nInvoice Number\nInvoice Date\nInvoice Due Date\nCharges\nVAT ID\n34278587\n6/18/2017\n6/24/2017\n$56,651.49\nPT",
          "pages": [
            {
              "pageNumber": 1,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch",
              "words": [
                {
                  "content": "Contoso",
                  "polygon": [
                    0.5348,
                    1.1458,
                    1.4374,
                    1.1506,
                    1.4326,
                    1.375,
                    0.5301,
                    1.3798
                  ],
                  "confidence": 0.995,
                  "span": {
                    "offset": 0,
                    "length": 7
                  }
                },
                {
                  "content": "Address:",
                  "polygon": [
                    0.7975,
                    1.5087,
                    1.3992,
                    1.5039,
                    1.3992,
                    1.628,
                    0.8022,
                    1.628
                  ],
                  "confidence": 0.995,
                  "span": {
                    "offset": 8,
                    "lengt[...]
