{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2023-02-28-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelId": "78240011",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "https://sanitized.blob.core.windows.net"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31486462148_0a50b33f-5dc7-4b14-bb6d-ce6ca4e3b776?api-version=2023-02-28-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31486462148_0a50b33f-5dc7-4b14-bb6d-ce6ca4e3b776?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31486462148_0a50b33f-5dc7-4b14-bb6d-ce6ca4e3b776",
        "kind": "documentModelBuild",
        "status": "running",
        "createdDateTime": "2023-03-27T08:30:52Z",
        "lastUpdatedDateTime": "2023-03-27T08:30:55Z",
        "resourceLocation": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/78240011?api-version=2023-02-28-preview"
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31486462148_0a50b33f-5dc7-4b14-bb6d-ce6ca4e3b776?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31486462148_0a50b33f-5dc7-4b14-bb6d-ce6ca4e3b776",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2023-03-27T08:30:52Z",
        "lastUpdatedDateTime": "2023-03-27T08:30:55Z",
        "resourceLocation": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/78240011?api-version=2023-02-28-preview",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "78240011": {
              "fieldSchema": {
                "Gold": {
                  "type": "string"
                },
                "Silver": {
                  "type": "string"
                },
                "Bronze": {
                  "type": "string"
                },
                "Full": {
                  "type": "string"
                },
                "Half": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "Contact": {
                  "type": "string"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "Bronze": 0.995,
                "CompanyName": 0.8,
                "Contact": 0.995,
                "Full": 0.995,
                "Gold": 0.995,
                "Half": 0.995,
                "Silver": 0.995
              }
            }
          },
          "modelId": "78240011",
          "createdDateTime": "2023-03-27T08:30:55Z",
          "expirationDateTime": "2025-03-26T08:30:55Z",
          "apiVersion": "2023-02-28-preview"
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/78240011:analyze?stringIndexType=utf16CodeUnit\u0026api-version=2023-02-28-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/78240011/analyzeResults/df6caf2c-6dba-4996-bd2b-86fbb2e1340d?api-version=2023-02-28-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/78240011/analyzeResults/df6caf2c-6dba-4996-bd2b-86fbb2e1340d?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2023-03-27T08:30:56Z",
        "lastUpdatedDateTime": "2023-03-27T08:30:56Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/78240011/analyzeResults/df6caf2c-6dba-4996-bd2b-86fbb2e1340d?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2023-03-27T08:30:56Z",
        "lastUpdatedDateTime": "2023-03-27T08:31:00Z",
        "analyzeResult": {
          "apiVersion": "2023-02-28-preview",
          "modelId": "78240011",
          "stringIndexType": "utf16CodeUnit",
          "content": "Vendor #:121\nVendor Registration\nContoso Ltd. Conference will be held on May 28-29, 2020 at the Elm Conference Center in Maple City, Massachusetts. The conference has sold out of its 1,500 tickets, with a 400 person waitlist. Vendor applications are being accepted through Feb 28, 2020. Please fill in the form below, and attach a check made out to:\nContoso Ltd. 2345 Dogwood Lane Birch, Kansas 98123\nRates:\nPackage\nIncluded\nPrice\nGold Sponsor\nFull booth\n$1,500\nPre-keynote thank you\nLogo on poster\n. Full page ad in program guide\nSilver Sponsor\nFull booth\n$1,200\nPost-keynote thank you\nLogo on poster\nHalf page ad in program guide\nBronze Sponsor\nFull booth\n$1,000\n. Logo on poster\n50% discount on program guide advertisements\nFull Booth\n. Full booth\n$600\n. 50% discount on program guide advertisements\nHalf Booth\n. Full booth\n$350\n. 25% discount on program guide advertisements\nVendor #:121\nVendor Details: Company Name: Southridge Video Contact: Jamie@southridgevideo.com Preferred Package: Gold Special Requests: N/a",
          "pages": [
            {
              "pageNumber": 1,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch",
              "words": [
                {
                  "content": "Vendor",
                  "polygon": [
                    6.1276,
                    1.0667,
                    6.8657,
                    1.0667,
                    6.8657,
                    1.2403,
                    6.1276,
                    1.2403
                  ],
                  "confidence": 1,
                  "span": {
                    "offset": 0,
                    "length": 6
                  }
                },
                {
                  "content": "#:121",
                  "polygon": [
                    6.9307,
                    1.0759,
                    7.4833,
                    1.0759,
                    7.4833,
                    1.2391,
                    6.9307,
                    1.2391
                  ],
                  "confidence": 1,
                  "span": {
                    "offset": 7,
                    "length": 5[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/78240011?api-version=2023-02-28-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_ENDPOINT": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/",
    "FORM_RECOGNIZER_MULTIPAGE_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "RandomSeed": "818567029"
  }
}
