{
  "Entries": [
    {
      "RequestUri": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2023-02-28-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelId": "400289957",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "Sanitized"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/operations/31488216707_017f3a5c-9311-47ed-9dcf-45eeff95f263?api-version=2023-02-28-preview",
        "x-ms-region": "West Europe"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/operations/31488216707_017f3a5c-9311-47ed-9dcf-45eeff95f263?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Europe"
      },
      "ResponseBody": {
        "operationId": "31488216707_017f3a5c-9311-47ed-9dcf-45eeff95f263",
        "kind": "documentModelBuild",
        "status": "notStarted",
        "createdDateTime": "2023-03-07T01:08:12Z",
        "lastUpdatedDateTime": "2023-03-07T01:08:12Z",
        "resourceLocation": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/400289957?api-version=2023-02-28-preview"
      }
    },
[...]
    {
      "RequestUri": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/operations/31488216707_017f3a5c-9311-47ed-9dcf-45eeff95f263?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Europe"
      },
      "ResponseBody": {
        "operationId": "31488216707_017f3a5c-9311-47ed-9dcf-45eeff95f263",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2023-03-07T01:08:12Z",
        "lastUpdatedDateTime": "2023-03-07T01:08:18Z",
        "resourceLocation": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/400289957?api-version=2023-02-28-preview",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "400289957": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
                  "type": "string"
                },
                "VendorName": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "CompanyAddress": {
                  "type": "string"
                },
                "CompanyPhoneNumber": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Quantity": {
                  "type": "number"
                },
                "FullSignature": {
                  "type": "signature"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "CompanyAddress": 0.8,
                "CompanyName": 0.995,
                "CompanyPhoneNumber": 0.995,
                "DatedAs": 0.995,
                "Email": 0.8,
                "FullSignature": 0.6,
                "Merchant": 0.995,
                "PhoneNumber": 0.995,
                "PurchaseOrderNumber": 0.995,
                "Quantity": 0.995,
                "Signature": 0.995,
                "Subtotal": 0.995,
                "Tax": 0.995,
                "Total": 0.995,
                "VendorName": 0.995,
                "Website": 0.995
              }
            }
          },
          "modelId": "400289957",
          "createdDateTime": "2023-03-07T01:08:18Z",
          "expirationDateTime": "2025-03-06T01:08:18Z",
          "apiVersion": "2023-02-28-preview"
        }
      }
    },
    {
      "RequestUri": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/400289957:analyze?stringIndexType=utf16CodeUnit\u0026api-version=2023-02-28-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "urlSource": "https://raw.githubusercontent.com/Azure/azure-sdk-for-net/main/sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Assets/multipage_invoice1.pdf"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/400289957/analyzeResults/2440475d-813e-45ed-8b3c-b9453e5dbff0?api-version=2023-02-28-preview",
        "x-ms-region": "West Europe"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/400289957/analyzeResults/2440475d-813e-45ed-8b3c-b9453e5dbff0?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Europe"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2023-03-07T01:08:19Z",
        "lastUpdatedDateTime": "2023-03-07T01:08:19Z"
      }
    },
[...]
    {
      "RequestUri": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/400289957/analyzeResults/2440475d-813e-45ed-8b3c-b9453e5dbff0?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Europe"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2023-03-07T01:08:19Z",
        "lastUpdatedDateTime": "2023-03-07T01:08:22Z",
        "analyzeResult": {
          "apiVersion": "2023-02-28-preview",
          "modelId": "400289957",
          "stringIndexType": "utf16CodeUnit",
          "content": "Company A Invoice\nInvoice For:\nAddress:\n567 Main St.\nRedmond, WA\n555-555-5555\nBilbo Baggins 123 Hobbit Lane Redmond, WA 555-555-5555\nItem\nQuantity\nPrice\nA\n1\n10.99\nB\n2\n14.67\nC\n4\n15.66\nD\n1\n12.00\nE\n4\n10.00\nF\n6\n12.00\nG\n8\n22.00\nSubtotal: 300.00\nTax: 30.00\nTip: 100.00\nTotal: 430.00\nSignature: ____Bilbo Baggins__________\n\nCompany B Invoice\nInvoice For:\nAddress:\n567 Main St.\nRedmond, WA\n555-555-5555\nFrodo Baggins 123 Hobbit Lane Redmond, WA 555-555-5555\nItem\nQuantity\nPrice\nA\n10\n100.99\nB\n20\n140.67\nC\n40\n150.66\nD\n10\n120.00\nE\n40\n100.00\nF\n60\n120.00\nG\n80\n220.00\nSubtotal: 3000.00\nTax: 300.00 Tip: 1000.00 Total: 4300.00\nSignature: ____Frodo Baggins__________",
          "pages": [
            {
              "pageNumber": 1,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch",
              "words": [
                {
                  "content": "Company",
                  "polygon": [
                    0.8861,
                    1.1232,
                    1.6203,
                    1.1232,
                    1.6203,
                    1.2812,
                    0.8861,
                    1.2812
                  ],
                  "confidence": 1,
                  "span": {
                    "offset": 0,
                    "length": 7
                  }
                },
                {
                  "content": "A",
                  "polygon": [
                    1.6696,
                    1.1242,
                    1.7749,
                    1.1242,
                    1.7749,
                    1.2473,
                    1.6696,
                    1.2473
                  ],
                  "confidence": 1,
                  "span": {
                    "offset": 8,
                    "length": 1
   [...]
    {
      "RequestUri": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/400289957?api-version=2023-02-28-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "West Europe"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "FORM_RECOGNIZER_ENDPOINT": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/",
    "RandomSeed": "2223044"
  }
}
