{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2022-08-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelId": "735714442",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "Sanitized"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/formrecognizer/operations/31505738947_3d5f0490-9cd8-4f5f-8c2b-19672464efd3?api-version=2022-08-31"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/formrecognizer/operations/31505738947_3d5f0490-9cd8-4f5f-8c2b-19672464efd3?api-version=2022-08-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "operationId": "31505738947_3d5f0490-9cd8-4f5f-8c2b-19672464efd3",
        "kind": "documentModelBuild",
        "status": "notStarted",
        "createdDateTime": "2022-08-16T05:50:52Z",
        "lastUpdatedDateTime": "2022-08-16T05:50:52Z",
        "resourceLocation": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/formrecognizer/documentModels/735714442?api-version=2022-08-31"
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/formrecognizer/operations/31505738947_3d5f0490-9cd8-4f5f-8c2b-19672464efd3?api-version=2022-08-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "operationId": "31505738947_3d5f0490-9cd8-4f5f-8c2b-19672464efd3",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2022-08-16T05:50:52Z",
        "lastUpdatedDateTime": "2022-08-16T05:50:55Z",
        "resourceLocation": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/formrecognizer/documentModels/735714442?api-version=2022-08-31",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "735714442": {
              "fieldSchema": {
                "table": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Item": {
                        "type": "string"
                      },
                      "Price": {
                        "type": "string"
                      },
                      "Tax": {
                        "type": "string"
                      },
                      "Total": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "table": 0.995,
                "table: Item": 0.995,
                "table: Price": 0.995,
                "table: Tax": 0.995,
                "table: Total": 0.995
              }
            }
          },
          "modelId": "735714442",
          "createdDateTime": "2022-08-16T05:50:55Z",
          "apiVersion": "2022-08-31"
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/formrecognizer/documentModels/735714442:analyze?stringIndexType=utf16CodeUnit\u0026api-version=2022-08-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/formrecognizer/documentModels/735714442/analyzeResults/e0d9f0aa-b611-43a3-8689-b52f0299c204?api-version=2022-08-31"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/formrecognizer/documentModels/735714442/analyzeResults/e0d9f0aa-b611-43a3-8689-b52f0299c204?api-version=2022-08-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2022-08-16T05:50:55Z",
        "lastUpdatedDateTime": "2022-08-16T05:50:56Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/formrecognizer/documentModels/735714442/analyzeResults/e0d9f0aa-b611-43a3-8689-b52f0299c204?api-version=2022-08-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2022-08-16T05:50:55Z",
        "lastUpdatedDateTime": "2022-08-16T05:50:59Z",
        "analyzeResult": {
          "apiVersion": "2022-08-31",
          "modelId": "735714442",
          "stringIndexType": "utf16CodeUnit",
          "content": "Con t oso, Ltd.\nItem\nPrice\nTax\nTotal\nApple\n5.00\n2.00\n7.00\nOrange\n2.00\n1.00\n3.00\n1.00\n4.00\n5.00\nPear\n2.00\n2.00",
          "pages": [
            {
              "pageNumber": 1,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch",
              "words": [
                {
                  "content": "Con",
                  "polygon": [
                    1.0075,
                    1.0471,
                    1.2329,
                    1.0471,
                    1.2329,
                    1.1465,
                    1.0075,
                    1.1465
                  ],
                  "confidence": 1,
                  "span": {
                    "offset": 0,
                    "length": 3
                  }
                },
                {
                  "content": "t",
                  "polygon": [
                    1.2461,
                    1.0557,
                    1.2901,
                    1.0557,
                    1.2901,
                    1.1464,
                    1.2461,
                    1.1464
                  ],
                  "confidence": 1,
                  "span": {
                    "offset": 4,
                    "length": 1
   [...]
    {
      "RequestUri": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/formrecognizer/documentModels/735714442?api-version=2022-08-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_ENDPOINT": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/",
    "FORM_RECOGNIZER_TABLE_VARIABLE_ROWS_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "RandomSeed": "525512687"
  }
}
