{
  "Entries": [
    {
      "RequestUri": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-idDocument:analyze?stringIndexType=utf16CodeUnit\u0026api-version=2023-02-28-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-idDocument/analyzeResults/60081b24-8944-4ea3-9dc7-cc8ead8841d1?api-version=2023-02-28-preview",
        "x-ms-region": "West Europe"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-idDocument/analyzeResults/60081b24-8944-4ea3-9dc7-cc8ead8841d1?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Europe"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2023-03-07T01:02:23Z",
        "lastUpdatedDateTime": "2023-03-07T01:02:23Z"
      }
    },
[...]
    {
      "RequestUri": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-idDocument/analyzeResults/60081b24-8944-4ea3-9dc7-cc8ead8841d1?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Europe"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2023-03-07T01:02:23Z",
        "lastUpdatedDateTime": "2023-03-07T01:02:25Z",
        "analyzeResult": {
          "apiVersion": "2023-02-28-preview",
          "modelId": "prebuilt-idDocument",
          "stringIndexType": "utf16CodeUnit",
          "content": "USA\nWASHINGTON\nDRIVER LICENSE\nFEDERAL LIMITS APPLY\n4d LIC#WDLABCD456DG 9CLASS\nDONOR\n1 TALBOT\n2 LIAM R.\n3 DOB 01/06/1958\n4a ISS 01/06/2015\n8 123 STREET ADDRESS\nYOUR CITY WA 99999-1234\n20 1234567XX1101\n15 SEX M\n16 HGT 5\u0027-08\u0022\n18 EYES BLU\n17 WGT 165 lb\n12 RESTRICTIONS\n9a END L\nB\n4b EXP 08/12/2020\n5 DDWDLABCD456DG 1234567XX1101\nVeteran\nREV 07/01/2018",
          "pages": [
            {
              "pageNumber": 1,
              "angle": -0.4546999931335449,
              "width": 450,
              "height": 294,
              "unit": "pixel",
              "words": [
                {
                  "content": "USA",
                  "polygon": [
                    19,
                    32,
                    44,
                    32,
                    44,
                    48,
                    19,
                    49
                  ],
                  "confidence": 0.996,
                  "span": {
                    "offset": 0,
                    "length": 3
                  }
                },
                {
                  "content": "WASHINGTON",
                  "polygon": [
                    42,
                    24,
                    221,
                    22,
                    222,
                    49,
                    43,
                    49
                  ],
                  "confidence": 0.994,
                  "span": {
                    "offset": 4,
                    "length": 10
                  }[...]
