{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-receipt:analyze?stringIndexType=utf16CodeUnit\u0026api-version=2022-08-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-receipt/analyzeResults/c659d20f-9645-48df-a693-0736f968ea02?api-version=2022-08-31"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-receipt/analyzeResults/c659d20f-9645-48df-a693-0736f968ea02?api-version=2022-08-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2022-08-17T21:10:33Z",
        "lastUpdatedDateTime": "2022-08-17T21:10:33Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-receipt/analyzeResults/c659d20f-9645-48df-a693-0736f968ea02?api-version=2022-08-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2022-08-17T21:10:33Z",
        "lastUpdatedDateTime": "2022-08-17T21:10:41Z",
        "analyzeResult": {
          "apiVersion": "2022-08-31",
          "modelId": "prebuilt-receipt",
          "stringIndexType": "utf16CodeUnit",
          "content": "Contoso\nContoso\n123 Main Street\nRedmond, WA 98052\n123-456-7890\n6/10/2019 13:59\nSales Associate: Paul\n1 Surface Pro 6 256GB /Intel Core i5 / 8GB RAM (Black) $ 999.00\n1 SurfacePen $ 99.99\n-\n--\n-\nSub-Total\nTax\n$ 104.40\nTotal\n1098.99\n$ 1203.39",
          "pages": [
            {
              "pageNumber": 1,
              "angle": 0.08654925227165222,
              "width": 1688,
              "height": 3000,
              "unit": "pixel",
              "words": [
                {
                  "content": "Contoso",
                  "polygon": [
                    621,
                    284,
                    1039,
                    273,
                    1042,
                    385,
                    621,
                    400
                  ],
                  "confidence": 0.994,
                  "span": {
                    "offset": 0,
                    "length": 7
                  }
                },
                {
                  "content": "Contoso",
                  "polygon": [
                    324,
                    588,
                    498,
                    599,
                    495,
                    653,
                    322,
                    642
                  ],
                  "confidence": 0.994,
                  "span": {
                    "offset": 8,
                    "length": 7
                 [...]
