{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2023-02-28-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelId": "1740357167",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "https://sanitized.blob.core.windows.net"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31486462104_3e0632d6-e1d8-4d7a-81e6-64372e0f0962?api-version=2023-02-28-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31486462104_3e0632d6-e1d8-4d7a-81e6-64372e0f0962?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31486462104_3e0632d6-e1d8-4d7a-81e6-64372e0f0962",
        "kind": "documentModelBuild",
        "status": "notStarted",
        "createdDateTime": "2023-03-27T08:31:35Z",
        "lastUpdatedDateTime": "2023-03-27T08:31:35Z",
        "resourceLocation": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/1740357167?api-version=2023-02-28-preview"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31486462104_3e0632d6-e1d8-4d7a-81e6-64372e0f0962?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31486462104_3e0632d6-e1d8-4d7a-81e6-64372e0f0962",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2023-03-27T08:31:35Z",
        "lastUpdatedDateTime": "2023-03-27T08:31:40Z",
        "resourceLocation": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/1740357167?api-version=2023-02-28-preview",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "1740357167": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
                  "type": "string"
                },
                "VendorName": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "CompanyAddress": {
                  "type": "string"
                },
                "CompanyPhoneNumber": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Quantity": {
                  "type": "number"
                },
                "FullSignature": {
                  "type": "signature"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "CompanyAddress": 0.8,
                "CompanyName": 0.995,
                "CompanyPhoneNumber": 0.995,
                "DatedAs": 0.995,
                "Email": 0.8,
                "FullSignature": 0.6,
                "Merchant": 0.995,
                "PhoneNumber": 0.995,
                "PurchaseOrderNumber": 0.995,
                "Quantity": 0.995,
                "Signature": 0.995,
                "Subtotal": 0.995,
                "Tax": 0.995,
                "Total": 0.995,
                "VendorName": 0.995,
                "Website": 0.995
              }
            }
          },
          "modelId": "1740357167",
          "createdDateTime": "2023-03-27T08:31:40Z",
          "expirationDateTime": "2025-03-26T08:31:40Z",
          "apiVersion": "2023-02-28-preview"
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/1740357167:analyze?stringIndexType=utf16CodeUnit\u0026api-version=2023-02-28-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/1740357167/analyzeResults/1d62f34e-64ea-40ac-8343-d7e8a71df1e2?api-version=2023-02-28-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/1740357167/analyzeResults/1d62f34e-64ea-40ac-8343-d7e8a71df1e2?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2023-03-27T08:31:41Z",
        "lastUpdatedDateTime": "2023-03-27T08:31:41Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/1740357167/analyzeResults/1d62f34e-64ea-40ac-8343-d7e8a71df1e2?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2023-03-27T08:31:41Z",
        "lastUpdatedDateTime": "2023-03-27T08:31:44Z",
        "analyzeResult": {
          "apiVersion": "2023-02-28-preview",
          "modelId": "1740357167",
          "stringIndexType": "utf16CodeUnit",
          "content": "Contoso\nAddress:\n1 Redmond way Suite\n6000 Redmond, WA\n99243\nInvoice For: Microsoft\n1020 Enterprise Way\nSunnayvale, CA 87659\nInvoice Number\nInvoice Date\nInvoice Due Date\nCharges\nVAT ID\n34278587\n6/18/2017\n6/24/2017\n$56,651.49\nPT",
          "pages": [
            {
              "pageNumber": 1,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch",
              "words": [
                {
                  "content": "Contoso",
                  "polygon": [
                    0.5384,
                    1.1583,
                    1.4466,
                    1.1583,
                    1.4466,
                    1.3534,
                    0.5384,
                    1.3534
                  ],
                  "confidence": 1,
                  "span": {
                    "offset": 0,
                    "length": 7
                  }
                },
                {
                  "content": "Address:",
                  "polygon": [
                    0.7994,
                    1.5143,
                    1.3836,
                    1.5143,
                    1.3836,
                    1.6154,
                    0.7994,
                    1.6154
                  ],
                  "confidence": 1,
                  "span": {
                    "offset": 8,
                    "length"[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/1740357167?api-version=2023-02-28-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "FORM_RECOGNIZER_ENDPOINT": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/",
    "RandomSeed": "457941280"
  }
}
