{
  "Entries": [
    {
      "RequestUri": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-layout:analyze?stringIndexType=utf16CodeUnit\u0026api-version=2023-02-28-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-layout/analyzeResults/4989db99-395e-45a4-b25d-d3ef0684040f?api-version=2023-02-28-preview",
        "x-ms-region": "West Europe"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-layout/analyzeResults/4989db99-395e-45a4-b25d-d3ef0684040f?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Europe"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2023-03-07T01:08:59Z",
        "lastUpdatedDateTime": "2023-03-07T01:08:59Z"
      }
    },
[...]
    {
      "RequestUri": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-layout/analyzeResults/4989db99-395e-45a4-b25d-d3ef0684040f?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Europe"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2023-03-07T01:08:59Z",
        "lastUpdatedDateTime": "2023-03-07T01:09:01Z",
        "analyzeResult": {
          "apiVersion": "2023-02-28-preview",
          "modelId": "prebuilt-layout",
          "stringIndexType": "utf16CodeUnit",
          "content": "Contoso\nSTATE OF CALIFORNIA: CONTOSO BUREAU OF INSURANCE 124 Main Street Palo Alto CA 842325 (650)768-2322\nAUTHORIZATION OF CREDIT CARD PAYMENT\nCONTOSO BANK\nFees owed to this Department may be paid by the use of a credit card. If you wish to pay your fee(s) with your credit card, please complete this form and send it with your paperwork. Payment through credit cards will not be processed without this authorization form. Please print or type clearly.\nName (company/individual for whom payment is being made) (Please Include License # and SSN/FEIN): Contoso Insurance 54353T7A, 36-1222985\nPurpose of Payment: Balance on Account\nCard Type:\nVisa\nAMEX\nMaster Card\nName of Cardholder: John Singer\nContact persons phone #, if questions with this form. Telephone #: ( 425) 779- 3479\nEmail Address: johnsinger@hotmail.com\nMailing Address: 472 SE 74th ST\nCity: Lakewood\nState: WA Zip Code: 98712\nI authorize Contoso Department of Professional and Financial Regulation, Bureau of Insurance to charge my: Visa\nExpiration date: 09 / 21 in the amount of: $ 263.00\n(Card number - Please print clearly)\n4872876432425423\nSignature:\nJohn Singer\nDate:\n08\n23\n2018\n(must be signed by authorized person to validate)\nForm is available on our website: www.contoso.com/insurance You may fax the form to: 650-768-2322 or e-mail to: insurance@contoso.com\nOFFICES LOCATED AT 24 Main Street Palo Alto CA 842325 www.contoso.com/insurance :unselected: :selected: :unselected:",
          "pages": [
            {
              "pageNumber": 1,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch",
              "words": [
                {
                  "content": "Contoso",
                  "polygon": [
                    0.5205,
                    0.6541,
                    2.3494,
                    0.6541,
                    2.3542,
                    1.332,
                    0.5205,
                    1.3416
                  ],
                  "confidence": 0.962,
                  "span": {
                    "offset": 0,
                    "length": 7
                  }
                },
                {
                  "content": "STATE",
                  "polygon": [
                    3.2711,
                    0.7161,
                    3.5767,
                    0.7114,
                    3.5767,
                    0.826,
                    3.2758,
                    0.826
                  ],
                  "confidence": 0.995,
                  "span": {
                    "offset": 8,
                    "length":[...]
