{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-businessCard:analyze?stringIndexType=utf16CodeUnit\u0026api-version=2022-08-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-businessCard/analyzeResults/b6012104-9fc8-4f6d-96f8-fb9e3fd57fb5?api-version=2022-08-31"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-businessCard/analyzeResults/b6012104-9fc8-4f6d-96f8-fb9e3fd57fb5?api-version=2022-08-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2022-08-16T05:46:38Z",
        "lastUpdatedDateTime": "2022-08-16T05:46:38Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-businessCard/analyzeResults/b6012104-9fc8-4f6d-96f8-fb9e3fd57fb5?api-version=2022-08-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2022-08-16T05:46:38Z",
        "lastUpdatedDateTime": "2022-08-16T05:46:41Z",
        "analyzeResult": {
          "apiVersion": "2022-08-31",
          "modelId": "prebuilt-businessCard",
          "stringIndexType": "utf16CodeUnit",
          "content": "Dr. Avery Smith Senior Researcher Cloud \u0026 Al Department\navery.smith@contoso.com https://www.contoso.com/\nmob: \u002B44 (0) 7911 123456 tel: \u002B44 (0) 20 9876 5432 fax: \u002B44 (0) 20 6789 2345\nContoso 2 Kingdom Street Paddington, London, W2 6BD",
          "pages": [
            {
              "pageNumber": 1,
              "angle": -16.372400283813477,
              "width": 4032,
              "height": 3024,
              "unit": "pixel",
              "words": [
                {
                  "content": "Dr.",
                  "polygon": [
                    423,
                    1155,
                    657,
                    1103,
                    682,
                    1216,
                    448,
                    1260
                  ],
                  "confidence": 0.993,
                  "span": {
                    "offset": 0,
                    "length": 3
                  }
                },
                {
                  "content": "Avery",
                  "polygon": [
                    681,
                    1098,
                    1108,
                    998,
                    1136,
                    1115,
                    707,
                    1211
                  ],
                  "confidence": 0.997,
                  "span": {
                    "offset": 4,
                    "length": 5
              [...]
