{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-receipt:analyze?stringIndexType=utf16CodeUnit\u0026api-version=2022-06-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "urlSource": "https://raw.githubusercontent.com/Azure/azure-sdk-for-net/main/sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Assets/contoso-receipt.jpg"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-receipt/analyzeResults/731c5373-455c-49c8-8199-811efe835027?api-version=2022-06-30-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-receipt/analyzeResults/731c5373-455c-49c8-8199-811efe835027?api-version=2022-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2022-06-03T18:44:57Z",
        "lastUpdatedDateTime": "2022-06-03T18:44:57Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-receipt/analyzeResults/731c5373-455c-49c8-8199-811efe835027?api-version=2022-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2022-06-03T18:44:57Z",
        "lastUpdatedDateTime": "2022-06-03T18:45:00Z",
        "analyzeResult": {
          "apiVersion": "2022-06-30-preview",
          "modelId": "prebuilt-receipt",
          "stringIndexType": "utf16CodeUnit",
          "content": "Contoso\nContoso 123 Main Street Redmond, WA 98052\n123-456-7890\n6/10/2019 13:59\nSales Associate: Paul\n1 Surface Pro 6\n256GB /Intel Core i5 /\n8GB RAM (Black)\n1 SurfacePen $ 99.99\n------ -\nSub-Total\nTax\nTotal\n-- - --- --\n999.00\n------\n1098.99\n104.40\n1203.39",
          "pages": [
            {
              "pageNumber": 1,
              "angle": 0,
              "width": 1688,
              "height": 3000,
              "unit": "pixel",
              "words": [
                {
                  "content": "Contoso",
                  "polygon": [
                    618,
                    282,
                    1035,
                    273,
                    1038,
                    381,
                    621,
                    401
                  ],
                  "confidence": 0.995,
                  "span": {
                    "offset": 0,
                    "length": 7
                  }
                },
                {
                  "content": "Contoso",
                  "polygon": [
                    325,
                    592,
                    499,
                    600,
                    496,
                    652,
                    322,
                    640
                  ],
                  "confidence": 0.969,
                  "span": {
                    "offset": 8,
                    "length": 7
                 [...]
