{
  "Entries": [
    {
      "RequestUri": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2021-09-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelId": "1464944107",
        "azureBlobSource": {
          "containerUrl": "Sanitized"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/operations/31533524387_96d09ba7-ca43-44ee-b416-5af3d6ae3515?api-version=2021-09-30-preview"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/operations/31533524387_96d09ba7-ca43-44ee-b416-5af3d6ae3515?api-version=2021-09-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": [
        "{\n",
        "  \u0022operationId\u0022: \u002231533524387_96d09ba7-ca43-44ee-b416-5af3d6ae3515\u0022,\n",
        "  \u0022kind\u0022: \u0022documentModelBuild\u0022,\n",
        "  \u0022status\u0022: \u0022running\u0022,\n",
        "  \u0022createdDateTime\u0022: \u00222021-09-28T15:40:12Z\u0022,\n",
        "  \u0022lastUpdatedDateTime\u0022: \u00222021-09-28T15:40:15Z\u0022,\n",
        "  \u0022resourceLocation\u0022: \u0022https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/documentModels/1464944107?api-version=2021-09-30-preview\u0022\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/documentModels/1464944107:analyze?stringIndexType=utf16CodeUnit\u0026api-version=2021-09-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "urlSource": "https://raw.githubusercontent.com/Azure/azure-sdk-for-net/main/sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Assets/multipage_invoice1.pdf"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/documentModels/1464944107/analyzeResults/81021f70-ee37-49e9-9078-1a600d681249?api-version=2021-09-30-preview"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/documentModels/1464944107/analyzeResults/81021f70-ee37-49e9-9078-1a600d681249?api-version=2021-09-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2021-09-28T15:40:17Z",
        "lastUpdatedDateTime": "2021-09-28T15:40:17Z"
      }
    },
[...]
    {
      "RequestUri": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/documentModels/1464944107/analyzeResults/81021f70-ee37-49e9-9078-1a600d681249?api-version=2021-09-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2021-09-28T15:40:17Z",
        "lastUpdatedDateTime": "2021-09-28T15:40:21Z",
        "analyzeResult": {
          "apiVersion": "2021-09-30-preview",
          "modelId": "1464944107",
          "stringIndexType": "utf16CodeUnit",
          "content": "Company A Invoice\nInvoice For:\nAddress:\n567 Main St.\nRedmond, WA\n555-555-5555\nBilbo Baggins\n123 Hobbit Lane\nRedmond, WA\n555-555-5555\nItem\nQuantity\nPrice\nA\n1\n10.99\nB\n2\n14.67\nC\n4\n15.66\nD\n1\n12.00\nE\n4\n10.00\nF\n6\n12.00\nG\n8\n22.00\nSubtotal: 300.00\nTax: 30.00\nTip: 100.00\nTotal: 430.00\nSignature: ____Bilbo Baggins__________\n:unselected:\nCompany B Invoice\nInvoice For:\nAddress:\n567 Main St.\nRedmond, WA\n555-555-5555\nFrodo Baggins\n123 Hobbit Lane\nRedmond, WA\n555-555-5555\nItem\nQuantity\nPrice\nA\n10\n100.99\nB\n20\n140.67\nC\n40\n150.66\nD\n10\n120.00\nE\n40\n100.00\nF\n60\n120.00\nG\n80\n220.00\nSubtotal: 3000.00\nTax: 300.00\nTip: 1000.00\nTotal: 4300.00\nSignature: ____Frodo Baggins__________",
          "pages": [
            {
              "pageNumber": 1,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch",
              "words": [
                {
                  "content": "Company",
                  "boundingBox": [
                    0.8861,
                    1.1232,
                    1.6203,
                    1.1232,
                    1.6203,
                    1.2812,
                    0.8861,
                    1.2812
                  ],
                  "confidence": 1,
                  "span": {
                    "offset": 0,
                    "length": 7
                  }
                },
                {
                  "content": "A",
                  "boundingBox": [
                    1.6696,
                    1.1242,
                    1.7749,
                    1.1242,
                    1.7749,
                    1.2473,
                    1.6696,
                    1.2473
                  ],
                  "confidence": 1,
                  "span": {
                    "offset": 8,
                    "length": 1[...]
    {
      "RequestUri": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/documentModels/1464944107?api-version=2021-09-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "FORM_RECOGNIZER_ENDPOINT": "https://mariari-centraluseuap.cognitiveservices.azure.com/",
    "RandomSeed": "2127746887"
  }
}