{
  "Entries": [
    {
      "RequestUri": "https://formrecognizersdk.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-receipt:analyze?stringIndexType=utf16CodeUnit\u0026api-version=2022-06-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://formrecognizersdk.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-receipt/analyzeResults/418dea13-6cac-4d57-9512-d44c417b6824?api-version=2022-06-30-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://formrecognizersdk.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-receipt/analyzeResults/418dea13-6cac-4d57-9512-d44c417b6824?api-version=2022-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2022-05-20T22:30:01Z",
        "lastUpdatedDateTime": "2022-05-20T22:30:01Z"
      }
    },
[...]
    {
      "RequestUri": "https://formrecognizersdk.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-receipt/analyzeResults/418dea13-6cac-4d57-9512-d44c417b6824?api-version=2022-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2022-05-20T22:30:01Z",
        "lastUpdatedDateTime": "2022-05-20T22:30:06Z",
        "analyzeResult": {
          "apiVersion": "2022-06-30-preview",
          "modelId": "prebuilt-receipt",
          "stringIndexType": "utf16CodeUnit",
          "content": "Contoso\nContoso 123 Main Street Redmond, WA 98052\n987-654-3210\n6/10/2019 13:59 Sales Associate: Paul\n1 Cappuccino $2.20\n1 BACON \u0026 EGGS\n-\nSunny-side-up $9.5\n----- -\nSub-Total\nTax\nTip\nTotal\n$ 11.70\n$ 1.17\n$ 1,63\n$14,50\nContoso\nContoso 123 Main Street Redmond, WA 98052\n123-456-7890\n6/10/2019 13:59 Sales Associate: Paul\n1 Surface Pro 6 256GB /Intel Core i5 / 8GB RAM (Black) $ 999.00\n1 SurfacePen $ 99.99\n--\nSub-Total 1098.99 Tax $ 104.40\nTotal\n-- - -\n$ 1203.39",
          "pages": [
            {
              "pageNumber": 1,
              "angle": 0.36962971091270447,
              "width": 8.5,
              "height": 11,
              "unit": "inch",
              "words": [
                {
                  "content": "Contoso",
                  "polygon": [
                    2.9225,
                    2.5208,
                    4.1736,
                    2.4015,
                    4.2213,
                    2.6593,
                    2.9368,
                    2.8025
                  ],
                  "confidence": 0.9967424,
                  "span": {
                    "offset": 0,
                    "length": 7
                  }
                },
                {
                  "content": "Contoso",
                  "polygon": [
                    1.9244,
                    2.7118,
                    2.5452,
                    2.8694,
                    2.4975,
                    3.046,
                    1.8815,
                    2.898
                  ],
                  "confidence": 0.9632012,
                  "span": {
                    "offset": 8,
                    "le[...]
