{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-receipt:analyze?stringIndexType=utf16CodeUnit\u0026api-version=2022-01-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-receipt/analyzeResults/de748339-f2ec-4431-b8f4-cf9fa6d80ca6?api-version=2022-01-30-preview"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-receipt/analyzeResults/de748339-f2ec-4431-b8f4-cf9fa6d80ca6?api-version=2022-01-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2022-01-26T00:16:43Z",
        "lastUpdatedDateTime": "2022-01-26T00:16:43Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-receipt/analyzeResults/de748339-f2ec-4431-b8f4-cf9fa6d80ca6?api-version=2022-01-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2022-01-26T00:16:43Z",
        "lastUpdatedDateTime": "2022-01-26T00:16:49Z",
        "analyzeResult": {
          "apiVersion": "2022-01-30-preview",
          "modelId": "prebuilt-receipt",
          "stringIndexType": "utf16CodeUnit",
          "content": "Contoso\nContoso\n123 Main Street\nRedmond, WA 98052\n123-456-7890\n6/10/2019 13:59\nSales Associate: Paul\n1 Surface Pro 6\n256GB / Intel Core i5 /\n8GB RAM (Black)\n---\n--\n999.00\n1 SurfacePen\n99.99\n---\nSub-Total\nTax\nTotal\n1098.99\n$ 104.40\n1203.39",
          "pages": [
            {
              "pageNumber": 1,
              "angle": 0.2355,
              "width": 1688,
              "height": 3000,
              "unit": "pixel",
              "words": [
                {
                  "content": "Contoso",
                  "boundingBox": [
                    624,
                    278,
                    1040,
                    278,
                    1051,
                    388,
                    621,
                    399
                  ],
                  "confidence": 0.998,
                  "span": {
                    "offset": 0,
                    "length": 7
                  }
                },
                {
                  "content": "Contoso",
                  "boundingBox": [
                    327,
                    590,
                    499,
                    602,
                    495,
                    653,
                    324,
                    640
                  ],
                  "confidence": 0.968,
                  "span": {
                    "offset": 8,
                    "length": 7
             [...]
