{
  "Entries": [
    {
      "RequestUri": "https://formrecognizersdk.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-receipt:analyze?stringIndexType=utf16CodeUnit\u0026api-version=2022-06-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://formrecognizersdk.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-receipt/analyzeResults/dcc2d76e-d03e-430e-8f0f-9c818e2ecb9a?api-version=2022-06-30-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://formrecognizersdk.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-receipt/analyzeResults/dcc2d76e-d03e-430e-8f0f-9c818e2ecb9a?api-version=2022-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2022-05-20T22:33:06Z",
        "lastUpdatedDateTime": "2022-05-20T22:33:06Z"
      }
    },
[...]
    {
      "RequestUri": "https://formrecognizersdk.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-receipt/analyzeResults/dcc2d76e-d03e-430e-8f0f-9c818e2ecb9a?api-version=2022-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 500,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "InternalServerError",
          "message": "An unexpected error occurred."
        }
      }
    },
[...]
    {
      "RequestUri": "https://formrecognizersdk.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-receipt/analyzeResults/dcc2d76e-d03e-430e-8f0f-9c818e2ecb9a?api-version=2022-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 500,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "InternalServerError",
          "message": "An unexpected error occurred."
        }
      }
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_ENDPOINT": "https://formrecognizersdk.ppe.cognitiveservices.azure.com/",
    "RandomSeed": "1625975530"
  }
}
