{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2022-01-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelId": "417223745",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "Sanitized"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31523211721_a5ff4d61-2ed2-4f18-beee-983769cadee7?api-version=2022-01-30-preview"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31523211721_a5ff4d61-2ed2-4f18-beee-983769cadee7?api-version=2022-01-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": [
        "{\n",
        "  \u0022operationId\u0022: \u002231523211721_a5ff4d61-2ed2-4f18-beee-983769cadee7\u0022,\n",
        "  \u0022kind\u0022: \u0022documentModelBuild\u0022,\n",
        "  \u0022status\u0022: \u0022notStarted\u0022,\n",
        "  \u0022createdDateTime\u0022: \u00222022-01-26T00:17:58Z\u0022,\n",
        "  \u0022lastUpdatedDateTime\u0022: \u00222022-01-26T00:17:58Z\u0022,\n",
        "  \u0022resourceLocation\u0022: \u0022https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/417223745?api-version=2022-01-30-preview\u0022\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/417223745:analyze?stringIndexType=utf16CodeUnit\u0026api-version=2022-01-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/417223745/analyzeResults/bde389da-b0bd-4bd0-a58f-e789adff2d7c?api-version=2022-01-30-preview"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/417223745/analyzeResults/bde389da-b0bd-4bd0-a58f-e789adff2d7c?api-version=2022-01-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2022-01-26T00:18:05Z",
        "lastUpdatedDateTime": "2022-01-26T00:18:05Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/417223745/analyzeResults/bde389da-b0bd-4bd0-a58f-e789adff2d7c?api-version=2022-01-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2022-01-26T00:18:05Z",
        "lastUpdatedDateTime": "2022-01-26T00:18:09Z",
        "analyzeResult": {
          "apiVersion": "2022-01-30-preview",
          "modelId": "417223745",
          "stringIndexType": "utf16CodeUnit",
          "content": "Purchase Order\nHero Limited\nCompany Phone: 555-348-6512\nWebsite: www.herolimited.com\nEmail:\naccounts@herolimited.com\nShipped To\nVendor Name: Hillary Swank\nCompany Name: Higgly Wiggly Books\nAddress: 938 NE Burner Road\nBoulder City, CO 92848\nPhone: 938-294-2949\nShipped From\nName: Bernie Sanders\nCompany Name: Jupiter Book Supply\nAddress: 383 N Kinnick Road\nSeattle, WA 38383\nPurchase Order\nDated As: 12/20/2020\nPurchase Order #: 948284\nPhone: 932-299-0292\nDetails\nQuantity\nUnit Price\nTotal\nBindings\n20\n1.00\n20.00\nCovers Small\n20\n1.00\n20.00\nFeather Bookmark\n20\n5.00\n100.00\nCopper Swirl Marker\n20\n5.00\n100.00\nBernie Sanders\nBernie Sanders\nManager\nAdditional Notes:\nDo not Jostle Box. Unpack carefully. Enjoy.\nSUBTOTAL\n$140.00\nTAX\n$4.00\nTOTAL\n$144.00\nJupiter Book Supply will refund you 50% per book if returned within 60 days of reading and\noffer you 25% off you next total purchase.",
          "pages": [
            {
              "pageNumber": 1,
              "angle": 0,
              "width": 1700,
              "height": 2200,
              "unit": "pixel",
              "words": [
                {
                  "content": "Purchase",
                  "boundingBox": [
                    135,
                    136,
                    261,
                    137,
                    260,
                    170,
                    135,
                    168
                  ],
                  "confidence": 0.997,
                  "span": {
                    "offset": 0,
                    "length": 8
                  }
                },
                {
                  "content": "Order",
                  "boundingBox": [
                    267,
                    137,
                    351,
                    137,
                    350,
                    170,
                    267,
                    170
                  ],
                  "confidence": 0.999,
                  "span": {
                    "offset": 9,
                    "length": 5
               [...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/417223745?api-version=2022-01-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "FORM_RECOGNIZER_ENDPOINT": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com",
    "RandomSeed": "1663596579"
  }
}