{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-canary.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2021-09-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelId": "1577991340",
        "azureBlobSource": {
          "containerUrl": "Sanitized"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://camaiaor-canary.cognitiveservices.azure.com/formrecognizer/operations/31533528906_3fbe5f8e-9902-4573-8980-032ec6873497?api-version=2021-09-30-preview"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor-canary.cognitiveservices.azure.com/formrecognizer/operations/31533528906_3fbe5f8e-9902-4573-8980-032ec6873497?api-version=2021-09-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": [
        "{\n",
        "  \u0022operationId\u0022: \u002231533528906_3fbe5f8e-9902-4573-8980-032ec6873497\u0022,\n",
        "  \u0022kind\u0022: \u0022documentModelBuild\u0022,\n",
        "  \u0022status\u0022: \u0022notStarted\u0022,\n",
        "  \u0022createdDateTime\u0022: \u00222021-09-28T14:24:54Z\u0022,\n",
        "  \u0022lastUpdatedDateTime\u0022: \u00222021-09-28T14:24:54Z\u0022,\n",
        "  \u0022resourceLocation\u0022: \u0022https://camaiaor-canary.cognitiveservices.azure.com/formrecognizer/documentModels/1577991340?api-version=2021-09-30-preview\u0022\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://camaiaor-canary.cognitiveservices.azure.com/formrecognizer/documentModels/1577991340:analyze?stringIndexType=utf16CodeUnit\u0026api-version=2021-09-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": "JVBERlVVVQ==",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "Invalid request.",
          "innererror": {
            "code": "InvalidContent",
            "message": "The file is corrupted or format is unsupported. Refer to documentation for the list of supported formats."
          }
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-canary.cognitiveservices.azure.com/formrecognizer/documentModels/1577991340?api-version=2021-09-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "FORM_RECOGNIZER_ENDPOINT": "https://camaiaor-canary.cognitiveservices.azure.com/",
    "RandomSeed": "734524581"
  }
}