{
  "Entries": [
    {
      "RequestUri": "https://formrecognizersdk.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-read:analyze?stringIndexType=utf16CodeUnit\u0026api-version=2022-06-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "urlSource": "https://raw.githubusercontent.com/Azure/azure-sdk-for-net/main/sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Assets/Invoice_1.pdf"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://formrecognizersdk.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-read/analyzeResults/a2385336-ebd3-4d23-9db4-a221ef128705?api-version=2022-06-30-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://formrecognizersdk.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-read/analyzeResults/a2385336-ebd3-4d23-9db4-a221ef128705?api-version=2022-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2022-05-20T22:30:21Z",
        "lastUpdatedDateTime": "2022-05-20T22:30:21Z"
      }
    },
[...]
    {
      "RequestUri": "https://formrecognizersdk.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-read/analyzeResults/a2385336-ebd3-4d23-9db4-a221ef128705?api-version=2022-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2022-05-20T22:30:21Z",
        "lastUpdatedDateTime": "2022-05-20T22:30:24Z",
        "analyzeResult": {
          "apiVersion": "2022-06-30-preview",
          "modelId": "prebuilt-read",
          "stringIndexType": "utf16CodeUnit",
          "content": "Contoso\nAddress:\n1 Redmond way Suite\n6000 Redmond, WA\n99243\nInvoice For: Microsoft\n1020 Enterprise Way\nSunnayvale, CA 87659\nInvoice Number\nInvoice Date\nInvoice Due Date\nCharges\nVAT ID\n34278587\n6/18/2017\n6/24/2017\n$56,651.49\nPT",
          "pages": [
            {
              "pageNumber": 1,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch",
              "words": [
                {
                  "content": "Contoso",
                  "polygon": [
                    0.5384,
                    1.1583,
                    1.4466,
                    1.1583,
                    1.4466,
                    1.3534,
                    0.5384,
                    1.3534
                  ],
                  "confidence": 1,
                  "span": {
                    "offset": 0,
                    "length": 7
                  }
                },
                {
                  "content": "Address:",
                  "polygon": [
                    0.7994,
                    1.5143,
                    1.3836,
                    1.5143,
                    1.3836,
                    1.6154,
                    0.7994,
                    1.6154
                  ],
                  "confidence": 1,
                  "span": {
                    "offset": 8,
                    "length"[...]
