{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-businessCard:analyze?stringIndexType=utf16CodeUnit\u0026api-version=2022-01-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "urlSource": "https://raw.githubusercontent.com/Azure/azure-sdk-for-net/main/sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Assets/businessCard.jpg"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-businessCard/analyzeResults/fc1ab5f7-d84e-47be-bc68-dc5fcb240035?api-version=2022-01-30-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-businessCard/analyzeResults/fc1ab5f7-d84e-47be-bc68-dc5fcb240035?api-version=2022-01-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2022-01-25T22:22:30Z",
        "lastUpdatedDateTime": "2022-01-25T22:22:30Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-businessCard/analyzeResults/fc1ab5f7-d84e-47be-bc68-dc5fcb240035?api-version=2022-01-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2022-01-25T22:22:30Z",
        "lastUpdatedDateTime": "2022-01-25T22:22:34Z",
        "analyzeResult": {
          "apiVersion": "2022-01-30-preview",
          "modelId": "prebuilt-businessCard",
          "stringIndexType": "utf16CodeUnit",
          "content": "Dr. Avery Smith\nSenior Researcher\nCloud \u0026 Al Department\navery.smith@contoso.com\nhttps://www.contoso.com/\nmob: \u002B44 (0) 7911 123456\ntel: \u002B44 (0) 20 9876 5432\nfax: \u002B44 (0) 20 6789 2345\nContoso\n2 Kingdom Street\nPaddington, London, W2 6BD",
          "pages": [
            {
              "pageNumber": 1,
              "angle": -16.0258,
              "width": 4032,
              "height": 3024,
              "unit": "pixel",
              "words": [
                {
                  "content": "Dr.",
                  "boundingBox": [
                    417,
                    1158,
                    651,
                    1105,
                    680,
                    1212,
                    447,
                    1260
                  ],
                  "confidence": 0.994,
                  "span": {
                    "offset": 0,
                    "length": 3
                  }
                },
                {
                  "content": "Avery",
                  "boundingBox": [
                    683,
                    1098,
                    1104,
                    1000,
                    1132,
                    1109,
                    712,
                    1205
                  ],
                  "confidence": 0.999,
                  "span": {
                    "offset": 4,
                    "length": 5
         [...]
