{
  "Entries": [
    {
      "RequestUri": "https://formrecognizersdk.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-invoice:analyze?stringIndexType=utf16CodeUnit\u0026api-version=2022-06-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://formrecognizersdk.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-invoice/analyzeResults/fe9ebd5d-1721-423b-97b5-9d698286bba5?api-version=2022-06-30-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://formrecognizersdk.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-invoice/analyzeResults/fe9ebd5d-1721-423b-97b5-9d698286bba5?api-version=2022-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2022-05-20T22:31:03Z",
        "lastUpdatedDateTime": "2022-05-20T22:31:03Z"
      }
    },
[...]
    {
      "RequestUri": "https://formrecognizersdk.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-invoice/analyzeResults/fe9ebd5d-1721-423b-97b5-9d698286bba5?api-version=2022-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2022-05-20T22:31:03Z",
        "lastUpdatedDateTime": "2022-05-20T22:31:12Z",
        "analyzeResult": {
          "apiVersion": "2022-06-30-preview",
          "modelId": "prebuilt-invoice",
          "stringIndexType": "utf16CodeUnit",
          "content": "CONTOSO LTD.\nContoso Headquarters 123 456th St New York, NY, 10001\nINVOICE\nINVOICE: INV-100 INVOICE DATE: 11/15/2019 DUE DATE: 12/15/2019 CUSTOMER NAME: MICROSOFT CORPORATION SERVICE PERIOD: 10/14/2019 - 11/14/2019 CUSTOMER ID: CID-12345\nMicrosoft Corp\n123 Other St,\nRedmond WA, 98052\nBILL TO:\nMicrosoft Finance\n123 Bill St,\nRedmond WA, 98052\nSHIP TO:\nMicrosoft Delivery\n123 Ship St,\nRedmond WA, 98052\nSERVICE ADDRESS:\nMicrosoft Services\n123 Service St,\nRedmond WA, 98052\nSALESPERSON\nP.O. NUMBER\nREQUISITIONER\nSHIPPED VIA\nF.O.B. POINT\nTERMS\nPO-3333\nDATE\nITEM CODE\nDESCRIPTION\nQTY\nUM\nPRICE\nTAX\nAMOUNT\n3/4/2021\nA123\nConsulting Services\n2\nhours\n$30.00\n10%\n$60.00\n3/5/2021\nB456\nDocument Fee\n3\n$10.00\n5%\n$30.00\n3/6/2021\nC789\nPrinting Fee\n10\npages\n$1.00\n20%\n$10.00\nSUBTOTAL\n$100.00\nSALES TAX\n$10.00\nTOTAL\n$110.00\nPREVIOUS UNPAID BALANCE\n$500.00\nTHANK YOU FOR YOUR BUSINESS!\nREMIT TO:\nContoso Billing\n123 Remit St\nNew York, NY, 10001\nAMOUNT DUE\n$610.00",
          "pages": [
            {
              "pageNumber": 1,
              "angle": 0,
              "width": 1700,
              "height": 2200,
              "unit": "pixel",
              "words": [
                {
                  "content": "CONTOSO",
                  "polygon": [
                    114,
                    134,
                    333,
                    134,
                    332,
                    177,
                    114,
                    177
                  ],
                  "confidence": 0.9935831,
                  "span": {
                    "offset": 0,
                    "length": 7
                  }
                },
                {
                  "content": "LTD.",
                  "polygon": [
                    359,
                    134,
                    463,
                    134,
                    462,
                    177,
                    359,
                    177
                  ],
                  "confidence": 0.9884162,
                  "span": {
                    "offset": 8,
                    "length": 4
                [...]
