{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8a20b81d-31ab-059e-fe8b-391ff686a291?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 15 Dec 2022 10:36:48 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE8845B9BEF9\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:36:49 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8a20b81d-31ab-059e-fe8b-391ff686a291/sourceFolder%5Ctest-blob-bb93d3f0-a4a3-71f1-5cff-666c0c5c10cc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 15 Dec 2022 10:36:49 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8DADE8845D1B4A6\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:36:49 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:36:49.4646204Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8a20b81d-31ab-059e-fe8b-391ff686a291/sourceFolder%5Cbar%5Ctest-blob-cfa1a18f-3218-72ae-1c57-346a000a2c5d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 15 Dec 2022 10:36:49 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8DADE8845E6722E\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:36:49 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:36:49.5995438Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8a20b81d-31ab-059e-fe8b-391ff686a291/sourceFolder%5Cpik%5Ctest-blob-4a9e49e1-8e05-00b0-eabf-f63b3faf2b30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 15 Dec 2022 10:36:49 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8DADE8845FABA71\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:36:49 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:36:49.7324657Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8a20b81d-31ab-059e-fe8b-391ff686a291?restype=container\u0026comp=list\u0026prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:36:49 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
    [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8a20b81d-31ab-059e-fe8b-391ff686a291/sourceFolder/bar/test-blob-cfa1a18f-3218-72ae-1c57-346a000a2c5d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:36:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE8845E6722E\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:36:49 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 10:36:49 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:36:49.5995438Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8a20b81d-31ab-059e-fe8b-391ff686a291/destFolder%5Cbar/test-blob-cfa1a18f-3218-72ae-1c57-346a000a2c5d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-8a20b81d-31ab-059e-fe8b-391ff686a291/sourceFolder/bar/test-blob-cfa1a18f-3218-72ae-1c57-346a000a2c5d",
        "x-ms-date": "Thu, 15 Dec 2022 10:36:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE88463AA041\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:36:50 GMT",
        "x-ms-copy-id": "4ec50923-f17e-41f5-8908-62324f93e116",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:36:50.1512257Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8a20b81d-31ab-059e-fe8b-391ff686a291/destFolder%5Cbar/test-blob-cfa1a18f-3218-72ae-1c57-346a000a2c5d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:36:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE88463AA041\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:36:50 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Thu, 15 Dec 2022 10:36:50 GMT",
        "x-ms-copy-id": "4ec50923-f17e-41f5-8908-62324f93e116",
        "x-ms-copy-progress": "0/0",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-8a20b81d-31ab-059e-fe8b-391ff686a291/sourceFolder/bar/test-blob-cfa1a18f-3218-72ae-1c57-346a000a2c5d",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Thu, 15 Dec 2022 10:36:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:36:50.1512257Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8a20b81d-31ab-059e-fe8b-391ff686a291/sourceFolder/pik/test-blob-4a9e49e1-8e05-00b0-eabf-f63b3faf2b30",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:36:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE8845FABA71\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:36:49 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 10:36:49 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:36:49.7324657Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8a20b81d-31ab-059e-fe8b-391ff686a291/destFolder%5Cpik/test-blob-4a9e49e1-8e05-00b0-eabf-f63b3faf2b30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-8a20b81d-31ab-059e-fe8b-391ff686a291/sourceFolder/pik/test-blob-4a9e49e1-8e05-00b0-eabf-f63b3faf2b30",
        "x-ms-date": "Thu, 15 Dec 2022 10:36:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE884659E376\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:36:50 GMT",
        "x-ms-copy-id": "ed5b9894-408f-4bf3-894a-d01854612d2a",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:36:50.3571085Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8a20b81d-31ab-059e-fe8b-391ff686a291/sourceFolder/test-blob-5f7d09cf-ada9-3558-b544-dcc4956667bb",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:36:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE8845DCD69D\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:36:49 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 10:36:49 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:36:49.5365789Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8a20b81d-31ab-059e-fe8b-391ff686a291/destFolder%5Ctest-blob-5f7d09cf-ada9-3558-b544-dcc4956667bb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-8a20b81d-31ab-059e-fe8b-391ff686a291/sourceFolder/test-blob-5f7d09cf-ada9-3558-b544-dcc4956667bb",
        "x-ms-date": "Thu, 15 Dec 2022 10:36:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE884678D8A4\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:36:50 GMT",
        "x-ms-copy-id": "0f6ca677-f9b1-4804-94c5-f5537781a592",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:36:50.5589924Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8a20b81d-31ab-059e-fe8b-391ff686a291?restype=container\u0026comp=list\u0026prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:36:51 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
      [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8a20b81d-31ab-059e-fe8b-391ff686a291/destFolder/bar/test-blob-cfa1a18f-3218-72ae-1c57-346a000a2c5d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:36:51 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7P[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8a20b81d-31ab-059e-fe8b-391ff686a291/destFolder/pik/test-blob-4a9e49e1-8e05-00b0-eabf-f63b3faf2b30",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:36:51 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7P[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8a20b81d-31ab-059e-fe8b-391ff686a291/destFolder/test-blob-5f7d09cf-ada9-3558-b544-dcc4956667bb",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:36:51 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8a20b81d-31ab-059e-fe8b-391ff686a291?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:36:51 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "874310917",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
