{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fbc0bae6-d2f6-a215-037e-16007768ae46?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 15 Dec 2022 10:37:07 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE8850959EBE\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:37:07 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fbc0bae6-d2f6-a215-037e-16007768ae46/sourceFolder%5Ctest-blob-545e9f91-b427-5ae4-d8ca-1d6afd432bc8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 15 Dec 2022 10:37:07 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "7Z5A1tyjmCX4DD4t9aa29OdnOWhWBDX6Ue8Ygpvo/raTvHxfAlTs474BofRYIHmU7iQU9OfOCuloRYXtihWKEA2ImjkqV/GTe1aqVWNBojF1hJR20wrOxLGS9r3O/lmodpDmz4VAaZYygHmRJLWGJqNTeAaAFDwDudaHl2A0xHz8Ad7SW9KrNBr9Q1KQPKD8DNAae4ZSJ2JT4havudE2/rz9lCLWs8vQqEPrg9Dpc3w1iouQGkn1qtp8fni8/HtIx0WWkqd\u002BJlgFSdNDZ6SSaW\u002BaeS5GpuNyCOpHWjVSFKzHoryKU\u002BDUt2QyitB2sUI26RQJIoJNAiBiJIq9NswjszUne8ToB[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fbc0bae6-d2f6-a215-037e-16007768ae46/sourceFolder%5Cbar%5Ctest-blob-d5f6dd2d-fb37-c328-c134-142a41192a84",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 15 Dec 2022 10:37:07 GMT",
        "x-ms-version": "2021-12-02"
    [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fbc0bae6-d2f6-a215-037e-16007768ae46/sourceFolder%5Cpik%5Ctest-blob-f9a9ddbd-67ca-8414-a4d9-0154150e509f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 15 Dec 2022 10:37:07 GMT",
        "x-ms-version": "2021-12-02"
    [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fbc0bae6-d2f6-a215-037e-16007768ae46?restype=container\u0026comp=list\u0026prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:37:07 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
    [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fbc0bae6-d2f6-a215-037e-16007768ae46/sourceFolder/bar/test-blob-d5f6dd2d-fb37-c328-c134-142a41192a84",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:37:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "pM/dYHxM5TnKLuMIRqD2Cw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE8850B89D9D\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:37:07 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 10:37:07 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:37:07.7541277Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fbc0bae6-d2f6-a215-037e-16007768ae46/sourceFolder/pik/test-blob-f9a9ddbd-67ca-8414-a4d9-0154150e509f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:37:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1IHWviZJKZWoF5OBClMmRA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE8850C71A69\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:37:07 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 10:37:07 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:37:07.8490729Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fbc0bae6-d2f6-a215-037e-16007768ae46/sourceFolder/test-blob-545e9f91-b427-5ae4-d8ca-1d6afd432bc8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:37:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "j3zEiUnlpVrWgX6rgQkjSQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE8850A05E3F\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:37:07 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 10:37:07 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:37:07.5952191Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fbc0bae6-d2f6-a215-037e-16007768ae46/destFolder%5Cbar/test-blob-d5f6dd2d-fb37-c328-c134-142a41192a84",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-fbc0bae6-d2f6-a215-037e-16007768ae46/sourceFolder/bar/test-blob-d5f6dd2d-fb37-c328-c134-142a41192a84",
        "x-ms-date": "Thu, 15 Dec 2022 10:37:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE8850F54F97\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:37:08 GMT",
        "x-ms-copy-id": "45d827ea-8746-44e4-9477-c106d52f2a31",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:37:08.1518999Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fbc0bae6-d2f6-a215-037e-16007768ae46/destFolder%5Ctest-blob-545e9f91-b427-5ae4-d8ca-1d6afd432bc8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-fbc0bae6-d2f6-a215-037e-16007768ae46/sourceFolder/test-blob-545e9f91-b427-5ae4-d8ca-1d6afd432bc8",
        "x-ms-date": "Thu, 15 Dec 2022 10:37:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE8850F7992C\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:37:08 GMT",
        "x-ms-copy-id": "c85dbed1-5c4b-4765-aaed-1d1aaa794405",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:37:08.1668908Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fbc0bae6-d2f6-a215-037e-16007768ae46/destFolder%5Cpik/test-blob-f9a9ddbd-67ca-8414-a4d9-0154150e509f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-fbc0bae6-d2f6-a215-037e-16007768ae46/sourceFolder/pik/test-blob-f9a9ddbd-67ca-8414-a4d9-0154150e509f",
        "x-ms-date": "Thu, 15 Dec 2022 10:37:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE8850F6AEEF\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:37:08 GMT",
        "x-ms-copy-id": "a1eb7652-21f3-49f7-ab14-8f7e68d16acf",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:37:08.1608943Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fbc0bae6-d2f6-a215-037e-16007768ae46/destFolder%5Cbar/test-blob-d5f6dd2d-fb37-c328-c134-142a41192a84",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:37:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "pM/dYHxM5TnKLuMIRqD2Cw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE8850F54F97\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:37:08 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Thu, 15 Dec 2022 10:37:08 GMT",
        "x-ms-copy-id": "45d827ea-8746-44e4-9477-c106d52f2a31",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-fbc0bae6-d2f6-a215-037e-16007768ae46/sourceFolder/bar/test-blob-d5f6dd2d-fb37-c328-c134-142a41192a84",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Thu, 15 Dec 2022 10:37:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:37:08.1518999Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fbc0bae6-d2f6-a215-037e-16007768ae46?restype=container\u0026comp=list\u0026prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:37:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
      [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fbc0bae6-d2f6-a215-037e-16007768ae46/destFolder/bar/test-blob-d5f6dd2d-fb37-c328-c134-142a41192a84",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:37:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "pM/dYHxM5TnKLuMIRq[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fbc0bae6-d2f6-a215-037e-16007768ae46/destFolder/bar/test-blob-d5f6dd2d-fb37-c328-c134-142a41192a84",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:37:08 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE8850F54F97\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:37:08 GMT",
        "x-ms-blob-content-md5": "pM/dYHxM5TnKLuMIRqD2Cw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Thu, 15 Dec 2022 10:37:08 GMT",
        "x-ms-copy-id": "45d827ea-8746-44e4-9477-c106d52f2a31",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-fbc0bae6-d2f6-a215-037e-16007768ae46/sourceFolder/bar/test-blob-d5f6dd2d-fb37-c328-c134-142a41192a84",
        "x-ms-copy-status": "success",
        "x-ms-creation-time"[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fbc0bae6-d2f6-a215-037e-16007768ae46/destFolder/pik/test-blob-f9a9ddbd-67ca-8414-a4d9-0154150e509f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:37:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1IHWviZJKZWoF5OBCl[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fbc0bae6-d2f6-a215-037e-16007768ae46/destFolder/test-blob-545e9f91-b427-5ae4-d8ca-1d6afd432bc8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:37:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "j3zEiUnlpVrWgX6rgQkjSQ[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fbc0bae6-d2f6-a215-037e-16007768ae46?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:37:09 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1054207208",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
