{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bbd7bf92-6258-e751-fa6f-af139fe7044e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 15 Dec 2022 10:37:14 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE8854D319DB\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:37:14 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bbd7bf92-6258-e751-fa6f-af139fe7044e/sourceFolder%5Ctest-blob-97d05cc5-cbd2-2b6c-1dba-fba29a6edf75",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 15 Dec 2022 10:37:14 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "tYodq7O4mt4Jn7MLme3nCO7pbDXm1yGR1B/7qaOoJAYUi\u002BwPUDTCZqeKHnx/fBeuQR/VHapwid1pi9aTvfE6YXut9w0A17e6JwWOXLikEVgITWiE0wZbowEOpsRdLqi2T70B0oQJrWpnG/al4S0kxHp\u002Bi3CIto10UVML8jDzXPhc2A36oz7T/p/9HbcQtsLU6eJK3qM4LZkwjYEx/rs6dL79SAgfKSE7q43Qi5jVY5qRNghNqH1VJKt0yhW8oQDkw6n5E265tMDADjMVaKEAWirnn8ez7MtApyRdq18LfgmN68jv3FAr14FIjJlKP7sKc3Dr1QE4MdfduGtKXAhgtY8piH3ZEH7ZvM[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bbd7bf92-6258-e751-fa6f-af139fe7044e/sourceFolder%5Cbar%5Ctest-blob-d10867c1-14a8-7c47-a8c1-3b084918a145",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 15 Dec 2022 10:37:14 GMT",
        "x-ms-version": "2021-12-02"
    [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bbd7bf92-6258-e751-fa6f-af139fe7044e/sourceFolder%5Cpik%5Ctest-blob-3e4391fb-9dbf-bf44-47fc-620c51fe9956",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 15 Dec 2022 10:37:14 GMT",
        "x-ms-version": "2021-12-02"
    [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bbd7bf92-6258-e751-fa6f-af139fe7044e?restype=container\u0026comp=list\u0026prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:37:15 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
    [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bbd7bf92-6258-e751-fa6f-af139fe7044e/sourceFolder/bar/test-blob-d10867c1-14a8-7c47-a8c1-3b084918a145",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:37:15 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "6VurHhyGjDkaNQG9BNEbhg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE8854F88DBC\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:37:14 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 10:37:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:37:14.8840380Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bbd7bf92-6258-e751-fa6f-af139fe7044e/sourceFolder/pik/test-blob-3e4391fb-9dbf-bf44-47fc-620c51fe9956",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:37:15 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "bwVk7INnKlrd0DOpgnyu9w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE885502EC75\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:37:14 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 10:37:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:37:14.9519989Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bbd7bf92-6258-e751-fa6f-af139fe7044e/sourceFolder/test-blob-97d05cc5-cbd2-2b6c-1dba-fba29a6edf75",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:37:15 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "88qXurR3hcaHG4RBmGV12Q==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE8854DDDDBD\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:37:14 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 10:37:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:37:14.7091389Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bbd7bf92-6258-e751-fa6f-af139fe7044e/destFolder%5Cbar/test-blob-d10867c1-14a8-7c47-a8c1-3b084918a145",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-bbd7bf92-6258-e751-fa6f-af139fe7044e/sourceFolder/bar/test-blob-d10867c1-14a8-7c47-a8c1-3b084918a145",
        "x-ms-date": "Thu, 15 Dec 2022 10:37:15 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE885528BE70\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:37:15 GMT",
        "x-ms-copy-id": "d1caab8d-d408-406c-ba6a-708a6adb22f0",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:37:15.1998576Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bbd7bf92-6258-e751-fa6f-af139fe7044e/destFolder%5Cpik/test-blob-3e4391fb-9dbf-bf44-47fc-620c51fe9956",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-bbd7bf92-6258-e751-fa6f-af139fe7044e/sourceFolder/pik/test-blob-3e4391fb-9dbf-bf44-47fc-620c51fe9956",
        "x-ms-date": "Thu, 15 Dec 2022 10:37:15 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE885529F6BD\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:37:15 GMT",
        "x-ms-copy-id": "07d5bc33-ba9f-48ce-8a83-71685ac9a224",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:37:15.2078525Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bbd7bf92-6258-e751-fa6f-af139fe7044e/destFolder%5Ctest-blob-97d05cc5-cbd2-2b6c-1dba-fba29a6edf75",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-bbd7bf92-6258-e751-fa6f-af139fe7044e/sourceFolder/test-blob-97d05cc5-cbd2-2b6c-1dba-fba29a6edf75",
        "x-ms-date": "Thu, 15 Dec 2022 10:37:15 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE88552AE0F7\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:37:15 GMT",
        "x-ms-copy-id": "c664b935-c8db-4dd4-b5f3-6211c3fd469d",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:37:15.2148479Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bbd7bf92-6258-e751-fa6f-af139fe7044e/destFolder%5Cbar/test-blob-d10867c1-14a8-7c47-a8c1-3b084918a145",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:37:15 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "6VurHhyGjDkaNQG9BNEbhg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE885528BE70\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:37:15 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Thu, 15 Dec 2022 10:37:15 GMT",
        "x-ms-copy-id": "d1caab8d-d408-406c-ba6a-708a6adb22f0",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-bbd7bf92-6258-e751-fa6f-af139fe7044e/sourceFolder/bar/test-blob-d10867c1-14a8-7c47-a8c1-3b084918a145",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Thu, 15 Dec 2022 10:37:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:37:15.1998576Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bbd7bf92-6258-e751-fa6f-af139fe7044e?restype=container\u0026comp=list\u0026prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:37:15 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
      [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bbd7bf92-6258-e751-fa6f-af139fe7044e/destFolder/bar/test-blob-d10867c1-14a8-7c47-a8c1-3b084918a145",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:37:15 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "6VurHhyGjDkaNQG9BN[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bbd7bf92-6258-e751-fa6f-af139fe7044e/destFolder/bar/test-blob-d10867c1-14a8-7c47-a8c1-3b084918a145",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:37:15 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE885528BE70\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:37:15 GMT",
        "x-ms-blob-content-md5": "6VurHhyGjDkaNQG9BNEbhg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Thu, 15 Dec 2022 10:37:15 GMT",
        "x-ms-copy-id": "d1caab8d-d408-406c-ba6a-708a6adb22f0",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-bbd7bf92-6258-e751-fa6f-af139fe7044e/sourceFolder/bar/test-blob-d10867c1-14a8-7c47-a8c1-3b084918a145",
        "x-ms-copy-status": "success",
        "x-ms-creation-time"[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bbd7bf92-6258-e751-fa6f-af139fe7044e/destFolder/pik/test-blob-3e4391fb-9dbf-bf44-47fc-620c51fe9956",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:37:15 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "bwVk7INnKlrd0DOpgn[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bbd7bf92-6258-e751-fa6f-af139fe7044e/destFolder/test-blob-2869411f-331c-b088-9b28-27c30716a670",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:37:16 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ca7QMFz/Rl0uMFQ5EmIVIA[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bbd7bf92-6258-e751-fa6f-af139fe7044e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:37:16 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1159762753",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
