{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7a63b3aa-8e0c-cae7-537b-26d444e57625?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Jan 2023 22:56:34 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFB399495ECF6\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:56:35 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7a63b3aa-8e0c-cae7-537b-26d444e57625/sourceFolder%5Cblob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:56:34 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "UO74\u002BdkMBT7iIqMU/OfFOsDWmTTlbAldBWWb0PCFQzpDn68WH8J1LwvBJvn5IKEqzUGKJgOADOPlm/NzcDRNXd9p0Vw3rhr9YGkoJEUPY\u002BXEcAOv\u002Bhw3wpPLMYTPAr/XdMkakE5E8x4mjcaZV\u002Bie1TcNr/8wnmLCMg7IbHyVLl6qUa979dOWgH3liW1WnWqrLVxNwVLAptVnV14/e4aikF5n7gY4It9jdy6BSxX0bJSkHT4gSGwL6qraFJ11VgX2Q/gO769kcwp86kokPlvAcuvJm15IgUjyWwNbXQ1B7SApiggc5XzkQKk0o10i56xOGaGyq7umrsGwHJOsCBX8Ovwq[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7a63b3aa-8e0c-cae7-537b-26d444e57625/sourceFolder%5Cbar%5Cblob3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:56:34 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "QR6K6OdkkFDSHayYMmj\u002B2gfKUu2Upb\u002BDsB[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7a63b3aa-8e0c-cae7-537b-26d444e57625/sourceFolder%5Cpik%5Cblob4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:56:34 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "DLeXqcbRwvvUcIjUjW/TcIaPhV7cEcvEQ9q8V1BukVSQ[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7a63b3aa-8e0c-cae7-537b-26d444e57625/destFolder/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:56:34 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "r4SC6INE5bAKpt3in2MmSch2QroLPHOjgX/rG6sc4tbGya829cumVX[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7a63b3aa-8e0c-cae7-537b-26d444e57625?restype=container\u0026comp=list\u0026prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:56:34 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
    [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7a63b3aa-8e0c-cae7-537b-26d444e57625/sourceFolder/bar/blob3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:56:35 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "\u002BHGsFm3iD3JcpwIQT8Jekg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAFB3994BE80DD\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:56:35 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Jan 2023 22:56:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-20T22:56:35.3566941Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7a63b3aa-8e0c-cae7-537b-26d444e57625/sourceFolder/blob2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:56:35 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Zl2XGdSvwB3vrefM7d1WRQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAFB3994AECBBF\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:56:35 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Jan 2023 22:56:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-20T22:56:35.2537535Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7a63b3aa-8e0c-cae7-537b-26d444e57625/sourceFolder/pik/blob4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:56:35 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "qnRiVq2Mg/R7SW\u002BRj3gq4Q==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAFB3994C954B8\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:56:35 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Jan 2023 22:56:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-20T22:56:35.4276536Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7a63b3aa-8e0c-cae7-537b-26d444e57625/destFolder%5Cblob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-7a63b3aa-8e0c-cae7-537b-26d444e57625/sourceFolder/blob1",
        "x-ms-date": "Fri, 20 Jan 2023 22:56:35 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:0a19ecd2-e01e-0037-0822-2da74d000000\n",
        "Time:2023-01-20T22:56:35.8685967Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7a63b3aa-8e0c-cae7-537b-26d444e57625/destFolder%5Cbar/blob3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-7a63b3aa-8e0c-cae7-537b-26d444e57625/sourceFolder/bar/blob3",
        "x-ms-date": "Fri, 20 Jan 2023 22:56:35 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFB39950DCDAF\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:56:35 GMT",
        "x-ms-content-crc64": "pSmQ5dUtv8I=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-20T22:56:35.8763951Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7a63b3aa-8e0c-cae7-537b-26d444e57625/destFolder%5Cpik/blob4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-7a63b3aa-8e0c-cae7-537b-26d444e57625/sourceFolder/pik/blob4",
        "x-ms-date": "Fri, 20 Jan 2023 22:56:35 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFB3995156DA5\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:56:35 GMT",
        "x-ms-content-crc64": "BhTmWCyiTM8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-20T22:56:35.9263653Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7a63b3aa-8e0c-cae7-537b-26d444e57625?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:56:35 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "77942842",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
