{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b51f4c0a-aed5-b2f4-09dd-84c59e924f24?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Jan 2023 22:56:30 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFB3992495FFF\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:56:31 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b51f4c0a-aed5-b2f4-09dd-84c59e924f24/sourceFolder%5Cblob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:56:30 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "s1zym7kbcXShQYk3O4ue48cIdtBzx/T6mPWuP6o4WMVVLLW2MnnCM12q5\u002B8JYbpYxAirfO940utn9wPDbTHKaOjD4Q7V6LFNRkNyyeAF8TY6VXuhjdzV3FrJTjp2/sYs334HRX\u002Brg9xWXTWsBggLYgbMiRe1KNsL7QSzDJl210h8Rulh/au2jtKfSy\u002BmKNZSvus0qnWudrej\u002B1h793ZC4IbtMMAfqWVaFfpFFt2rZcQuYU6tQizTzs8yvgJTO5dbXGqoufgVMhSG2pR6aF/Z95WTTZUolZ5ZGWHx7etiBtpj6rpyAqzLGC45JmeYWGVvWMZsv\u002B4BMsbMT5\u002[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b51f4c0a-aed5-b2f4-09dd-84c59e924f24/sourceFolder%5Cbar%5Cblob3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:56:30 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "\u002B70ZlsOcGyDoMoQHYzJ0mBbBNiVeCv6IsKL0UT5[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b51f4c0a-aed5-b2f4-09dd-84c59e924f24/sourceFolder%5Cpik%5Cblob4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:56:30 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "jqh7pBnMGhOcemoq1qt9DUf/8wtatDC9OedsSMmG2mZi[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b51f4c0a-aed5-b2f4-09dd-84c59e924f24/destFolder/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:56:31 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "9hP7RCd7BKqzVTQx6EA1iGxA5G6GmcrW6A/jnA\u002BEtqnPYPGHe[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b51f4c0a-aed5-b2f4-09dd-84c59e924f24?restype=container\u0026comp=list\u0026prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:56:31 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
    [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b51f4c0a-aed5-b2f4-09dd-84c59e924f24/sourceFolder/bar/blob3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:56:31 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "dOGmPA9plS89tw0beTLshA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAFB3992753580\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:56:31 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Jan 2023 22:56:31 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-20T22:56:31.5209088Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b51f4c0a-aed5-b2f4-09dd-84c59e924f24/destFolder%5Cbar/blob3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-b51f4c0a-aed5-b2f4-09dd-84c59e924f24/sourceFolder/bar/blob3",
        "x-ms-date": "Fri, 20 Jan 2023 22:56:31 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFB3992C8A061\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:56:32 GMT",
        "x-ms-content-crc64": "HzK0Ff0hThU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-20T22:56:32.0685932Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b51f4c0a-aed5-b2f4-09dd-84c59e924f24/sourceFolder/blob1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:56:31 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "mop96vAecBYBK0CH2i4VDg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAFB3992592638\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:56:31 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Jan 2023 22:56:31 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-20T22:56:31.3380146Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b51f4c0a-aed5-b2f4-09dd-84c59e924f24/destFolder%5Cblob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-b51f4c0a-aed5-b2f4-09dd-84c59e924f24/sourceFolder/blob1",
        "x-ms-date": "Fri, 20 Jan 2023 22:56:31 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:ad14f519-501e-001d-6522-2d785d000000\n",
        "Time:2023-01-20T22:56:32.2100802Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b51f4c0a-aed5-b2f4-09dd-84c59e924f24?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:56:31 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "418999067",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
