{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11637"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/csmrg7300?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1104"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg7300",
        "name": "csmrg7300",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg7300/providers/Microsoft.Network/publicIPAddresses/azsmnet5278?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "tags": {
          "key": "value"
        },
        "properties": {
          "publicIPAllocationMethod": "Dynamic",
          "dnsSettings": {
            "domainNameLabel": "azsmnet8715"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus/operations/50afd38f-fdca-483d-8c35-5db48d2cb468?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-writes": "1103"
      },
      "ResponseBody": {
        "name": "azsmnet5278",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg7300/providers/Microsoft.Network/publicIPAddresses/azsmnet5278",
        "etag": "W/\u00223bc0c418-4a57-44eb-9110-52a3cf7e26a0\u0022",
        "location": "westus",
        "tags": {
          "key": "value"
        },
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "2f6e5c53-ae03-4d0f-8d29-9641c47ae9c1",
          "publicIPAddressVersion": "IPv4",
          "publicIPAllocationMethod": "Dynamic",
          "idleTimeoutInMinutes": 4,
          "dnsSettings": {
            "domainNameLabel": "azsmnet8715",
            "fqdn": "azsmnet8715.westus.cloudapp.azure.com"
          },
          "ipTags": []
        },
        "type": "Microsoft.Network/publicIPAddresses",
        "sku": {
          "name": "Basic",
          "tier": "Regional"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus/operations/50afd38f-fdca-483d-8c35-5db48d2cb468?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "2",
        "x-ms-ratelimit-remaining-subscription-reads": "11636"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg7300/providers/Microsoft.Network/publicIPAddresses/azsmnet5278?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002282353b2b-c3f5-4385-a6e4-26919e4aeb8d\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11634"
      },
      "ResponseBody": {
        "name": "azsmnet5278",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg7300/providers/Microsoft.Network/publicIPAddresses/azsmnet5278",
        "etag": "W/\u002282353b2b-c3f5-4385-a6e4-26919e4aeb8d\u0022",
        "location": "westus",
        "tags": {
          "key": "value"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "2f6e5c53-ae03-4d0f-8d29-9641c47ae9c1",
          "publicIPAddressVersion": "IPv4",
          "publicIPAllocationMethod": "Dynamic",
          "idleTimeoutInMinutes": 4,
          "dnsSettings": {
            "domainNameLabel": "azsmnet8715",
            "fqdn": "azsmnet8715.westus.cloudapp.azure.com"
          },
          "ipTags": []
        },
        "type": "Microsoft.Network/publicIPAddresses",
        "sku": {
          "name": "Basic",
          "tier": "Regional"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg7300/providers/Microsoft.Network/virtualNetworks/azsmnet2698?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "dhcpOptions": {
            "dnsServers": [
              "10.1.1.1",
              "10.1.2.4"
            ]
          },
          "subnets": [
            {
              "name": "azsmnet7869",
              "properties": {
                "addressPrefix": "10.0.0.0/24"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus/operations/5efb1cfe-a235-4a4a-9db9-4196dbaa6e96?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg7300/providers/Microsoft.Network/networkInterfaces/azsmnet2583?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "tags": {
          "key": "value"
        },
        "properties": {
          "ipConfigurations": [
            {
              "name": "ipconfig",
              "properties": {
                "privateIPAllocationMethod": "Dynamic",
                "subnet": {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg7300/providers/Microsoft.Network/virtualNetworks/azsmnet2698/subnets/azsmnet7869",
                  "properties": {}
                }
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2e[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg7300/providers/Microsoft.Network/loadBalancers/azsmnet3661?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "frontendIPConfigurations": [
            {
              "name": "azsmnet2616",
              "properties": {
                "publicIPAddress": {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg7300/providers/Microsoft.Network/publicIPAddresses/azsmnet5278",
                  "properties": {}
                }
              }
            }
          ],
          "backendAddressPools": [
            {
              "name": "azsmnet2025",
              "properties": {}
            }
          ],
          "loadBalancingRules": [
            {
              "name": "azsmnet2455",
              "properties": {
                "frontendIPConfiguration": {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg7300/providers/Microsoft.Network/loadBalancers/azsmnet3661/FrontendIPConfigurations/azsmnet2616"
                },
                "backendAddressPool": {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg7300/providers/Microsoft.Network/loadBalancers/azsmnet3661/backendAddressPools/azsmnet2025"
                },
                "probe": {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg7300/providers/Microsoft.Network/loadBalancers/azsmnet3661/probes/azsmnet3374"
                },
                "protocol": "Tcp",
                "frontendPort": 80,
                "backendPort": 80,
                "idleTimeoutInMinutes": 15,
                "enableFloatingIP": false
              }
            }
          ],
          "probes": [
            {
              "name": "azsmnet3374",
              "properties": {
                "protocol": "Http",
                "port": 80,
                "intervalInSeconds": 10,
                "numberOfProbes": 2,
                "requestPath": "healthcheck.aspx"
              }
            }
          ],
          "inboundNatRules": [
            {
              "name": "azsmnet7690",
              "properties": {
                "frontendIPConfiguration": {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg7300/providers/Microsoft.Network/loadBalancers/azsmnet3661/FrontendIPConfigurations/azsmnet2616"
                },
                "protocol": "Tcp",
                "frontendPort": 3389,
                "backendPort": 3389,
                "idleTimeoutInMinutes": 15,
    [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg7300/providers/Microsoft.Network/networkInterfaces/azsmnet2583?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg7300/providers/Microsoft.Network/networkInterfaces/azsmnet2583",
        "location": "westus",
        "tags": {
          "key": "value"
        },
        "properties": {
          "ipConfigurations": [
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg7300/providers/Microsoft.Network/networkInterfaces/azsmnet2583/ipConfigurations/ipconfig",
              "name": "ipconfig",
              "type": "Microsoft.Network/networkInterfaces/ipConfigurations",
              "properties": {
                "loadBalancerBackendAddressPools": [
                  {
                    "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg7300/providers/Microsoft.Network/loadBalancers/azsmnet3661/backendAddressPools/azsmnet2025",
                    "name": "azsmnet2025",
                    "properties": {}
                  }
                ],
                "loadBalancerInboundNatRules": [
                  {
                    "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg7300/providers/Microsoft.Network/loadBalancers/azsmnet3661/inboundNatRules/azsmnet7690",
                    "name": "azsmnet7690",
                    "properties": {
                      "frontendIPConfiguration": {
                        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg7300/providers/Microsoft.Network/loadBalancers/azsmnet3661/frontendIPConfigurations/azsmnet2616"
                      },
                      "protocol": "Tcp",
                      "frontendPort": 3389,
                      "backendPort": 3389,
                      "idleTimeoutInMinutes": 15,
                      "enableFloatingIP": false,
                      "enableTcpReset": false
                    }
                  }
                ],
                "privateIPAddress": "10.0.0.4",
                "privateIPAllocationMethod": "Dynamic",
                "privateIPAddressVersion": "IPv4",
                "subnet": {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg7300/providers/Microsoft.Network/virtualNetworks/azsmnet2698/subnets/azsmnet7869",
                  "properties": {}
                },
                "primary": true
              }
            }
          ],
          "dnsSettings": {
            "dnsServers": []
          },
          "enableIPForwarding": false,
          "nicType": "Standard"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus/operations/176d8be7-8922-4456-bc4f-8819f17c31c2?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1097"
      },
      "Re[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg7300/providers/Microsoft.Network/loadBalancers/azsmnet3661?api-version=2021-04-01\u0026$expand=InboundNatRules%2FbackendIPConfiguration",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg7300/providers/Microsoft.Network/loadBalancers/azsmnet3661/inboundNatRules?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11610"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "azsmnet7690",
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg7300/providers/Microsoft.Network/loadBalancers/azsmnet3661/inboundNatRules/azsmnet7690",
            "etag": "W/\u0022546da6f8-5fd4-4eff-bd38-757fbcde1926\u0022",
            "type": "Microsoft.Network/loadBalancers/inboundNatRules",
            "properties": {
              "provisioningState": "Succeeded",
              "frontendIPConfiguration": {
                "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg7300/providers/Microsoft.Network/loadBalancers/azsmnet3661/frontendIPConfigurations/azsmnet2616"
              },
              "frontendPort": 3389,
              "backendPort": 3389,
              "enableFloatingIP": false,
              "idleTimeoutInMinutes": 15,
              "protocol": "Tcp",
              "enableDestinationServiceEndpoint": false,
              "enableTcpReset": false,
              "allowBackendPortConflict": false,
              "backendIPConfiguration": {
                "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg7300/providers/Microsoft.Network/networkInterfaces/azsmnet2583/ipConfigurations/ipconfig"
              }
            }
          },
          {
            "name": "azsmnet4468",
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg7300/providers/Microsoft.Network/loadBalancers/azsmnet3661/inboundNatRules/azsmnet4468",
            "etag": "W/\u0022546da6f8-5fd4[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg7300/providers/Microsoft.Network/loadBalancers/azsmnet3661?api-version=2021-04-01\u0026$expand=BackendAddressPools%2FbackendIPConfigurations",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charse[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg7300/providers/Microsoft.Network/loadBalancers/azsmnet3661/backendAddressPools?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11608"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "azsmnet2025",
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg7300/providers/Microsoft.Network/loadBalancers/azsmnet3661/backendAddressPools/azsmnet2025",
            "etag": "W/\u0022546da6f8-5fd4-4eff-bd38-757fbcde1926\u0022",
            "properties": {
              "provisioningState": "Succeeded",
              "backendIPConfigurations": [
                {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg7300/providers/Microsoft.Network/networkInterfaces/azsmnet2583/ipConfigurations/ipconfig"
                },
                {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg7300/providers/Microsoft.Network/networkInterfaces/azsmnet8951/ipConfigurations/ipconfig"
                },
                {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg7300/providers/Microsoft.Network/networkInterfaces/azsmnet6013/ipConfigurations/ipconfig"
                }
              ],
              "loadBalancingRules": [
                {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg7300/providers/Microsoft.Network/loadBalancers/azsmnet3661/loadBalancingRules/azsmnet2455"
                }
              ]
            },
            "type": "Microsoft.Network/loadBalancers/backendAddressPools"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg7300/providers/Microsoft.Network/loadBalancers/azsmnet3661?api-version=2021-04-01\u0026$expand=FrontendIPConfigurations%2FPublicIPAddress",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=u[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg7300/providers/Microsoft.Network/loadBalancers/azsmnet3661?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus/operations/0b167a56-7f2a-4a91-ae2d-32b877c3b754?api-version=2021-04-01",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus/operationResults/0b167a56-7f2a-4a91-ae2d-32b877c3b754?api-version=2021-04-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-deletes": "14962"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg7300/providers/Microsoft.Network/loadBalancers?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11602"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "LOCATION": "westus",
    "RandomSeed": "116354168",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
