{
  "Entries": [
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": [],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "14997"
      },
      "ResponseBody": {
        "id": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network",
        "namespace": "Microsoft.Network",
        "authorization": {
          "applicationId": "2cf9eb86-36b5-49dc-86ae-9a63135dfa8c",
          "roleDefinitionId": "13ba9ab4-19f0-4804-adc4-14ece36cc7a1"
        },
        "resourceTypes": [
          {
            "resourceType": "virtualNetworks",
            "locations": [
              "East US",
              "North Europe",
              "West Europe",
              "East Asia",
              "Southeast Asia",
              "North Central US",
              "South Central US",
              "Central US",
              "East US 2",
              "Japan East",
              "Japan West",
              "Brazil South",
              "Australia East",
              "Australia Southeast",
              "Central India",
              "South India",
              "West India",
              "Canada Central",
              "Canada East",
              "West Central US",
              "West US 2",
              "UK West",
              "UK South",
              "Korea Central",
              "Korea South",
              "West US",
              "Central US EUAP",
              "East US 2 EUAP"
            ],
            "apiVersions": [
              "2017-06-01",
              "2017-04-01",
              "2017-03-01",
              "2016-12-01",
              "2016-11-01",
              "2016-10-01",
              "2016-09-01",
              "2016-08-01",
              "2016-07-01",
              "2016-06-01",
              "2016-03-30",
              "2015-06-15",
              "2015-05-01-preview",
              "2014-12-01-preview"
            ],
            "capabilities": "CrossResourceGroupResourceMove, CrossSubscriptionResourceMove"
          },
          {
            "resourceType": "publicIPAddresses",
            "locations": [
              "East US",
              "North Europe",
              "West Europe",
              "East Asia",
              "Southeast Asia",
              "North Central US",
              "South Central US",
              "Central US",
              "East US 2",
              "Japan East",
              "Japan West",
            [...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourcegroups/csmrg6334?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "RequestBody": {
        "location": "East US"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334",
        "name": "csmrg6334",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/publicIPAddresses/azsmnet9038?api-version=2017-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "RequestBody": {
        "properties": {
          "publicIPAllocationMethod": "Dynamic",
          "dnsSettings": {
            "domainNameLabel": "azsmnet4166"
          }
        },
        "location": "East US",
        "tags": {
          "key": "value"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network/locations/eastus/operations/50a2602c-1731-43c7-9cdb-7a23cbc3454e?api-version=2017-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "name": "azsmnet9038",
        "id": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/publicIPAddresses/azsmnet9038",
        "etag": "W/\u0022b4641386-3f4b-4871-aca0-ff243a1bb3cb\u0022",
        "location": "eastus",
        "tags": {
          "key": "value"
        },
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "64f5a083-7182-4e8c-b4de-cc39c4191155",
          "publicIPAddressVersion": "IPv4",
          "publicIPAllocationMethod": "Dynamic",
          "idleTimeoutInMinutes": 4,
          "dnsSettings": {
            "domainNameLabel": "azsmnet4166",
            "fqdn": "azsmnet4166.eastus.cloudapp.azure.com"
          }
        },
        "type": "Microsoft.Network/publicIPAddresses"
      }
    },
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network/locations/eastus/operations/50a2602c-1731-43c7-9cdb-7a23cbc3454e?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": [],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "14980"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    },
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/publicIPAddresses/azsmnet9038?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": [],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00222662dae0-0e4b-483c-8f62-821ad9b11802\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "14979"
      },
      "ResponseBody": {
        "name": "azsmnet9038",
        "id": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/publicIPAddresses/azsmnet9038",
        "etag": "W/\u00222662dae0-0e4b-483c-8f62-821ad9b11802\u0022",
        "location": "eastus",
        "tags": {
          "key": "value"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "64f5a083-7182-4e8c-b4de-cc39c4191155",
          "publicIPAddressVersion": "IPv4",
          "publicIPAllocationMethod": "Dynamic",
          "idleTimeoutInMinutes": 4,
          "dnsSettings": {
            "domainNameLabel": "azsmnet4166",
            "fqdn": "azsmnet4166.eastus.cloudapp.azure.com"
          }
        },
        "type": "Microsoft.Network/publicIPAddresses"
      }
    },
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/loadBalancers/azsmnet8560?api-version=2017-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "RequestBody": {
        "properties": {
          "frontendIPConfigurations": [
            {
              "properties": {
                "publicIPAddress": {
                  "id": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/publicIPAddresses/azsmnet9038"
                }
              },
              "name": "azsmnet3663"
            }
          ],
          "backendAddressPools": [
            {
              "name": "azsmnet2797"
            }
          ],
          "loadBalancingRules": [
            {
              "properties": {
                "frontendIPConfiguration": {
                  "id": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/loadBalancers/azsmnet8560/frontendIPConfigurations/azsmnet3663"
                },
                "backendAddressPool": {
                  "id": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/loadBalancers/azsmnet8560/backendAddressPools/azsmnet2797"
                },
                "probe": {
                  "id": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/loadBalancers/azsmnet8560/probes/azsmnet1113"
                },
                "protocol": "Tcp",
                "frontendPort": 80,
                "backendPort": 80,
                "idleTimeoutInMinutes": 15,
                "enableFloatingIP": false
              },
              "name": "azsmnet7102"
            }
          ],
          "probes": [
            {
              "properties": {
                "protocol": "Http",
                "port": 80,
                "intervalInSeconds": 10,
                "numberOfProbes": 2,
                "requestPath": "healthcheck.aspx"
              },
              "name": "azsmnet1113"
            }
          ],
          "inboundNatRules": [
            {
              "properties": {
                "frontendIPConfiguration": {
                  "id": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/loadBalancers/azsmnet8560/frontendIPConfigurations/azsmnet3663"
                },
                "protocol": "Tcp",
                "frontendPort": 3389,
                "backendPort": 3389,
                "idleTimeoutInMinutes": 15,
                "enableFloatingIP": false[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/loadBalancers/azsmnet8560?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": [],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002276815d46-4c5f-46d0-b820-d8e01bb82cdd\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "14977"
      },
      "ResponseBody": {
        "name": "azsmnet8560",
        "id": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/loadBalancers/azsmnet8560",
        "etag": "W/\u002276815d46-4c5f-46d0-b820-d8e01bb82cdd\u0022",
        "type": "Microsoft.Network/loadBalancers",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "69c065c9-ee6d-4903-af58-7eb5b5b6aed4",
          "frontendIPConfigurations": [
            {
              "name": "azsmnet3663",
              "id": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/loadBalancers/azsmnet8560/frontendIPConfigurations/azsmnet3663",
              "etag": "W/\u002276815d46-4c5f-46d0-b820-d8e01bb82cdd\u0022",
              "properties": {
                "provisioningState": "Succeeded",
                "privateIPAllocationMethod": "Dynamic",
                "publicIPAddress": {
                  "id": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/publicIPAddresses/azsmnet9038"
                },
                "loadBalancingRules": [
                  {
                    "id": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/loadBalancers/azsmnet8560/loadBalancingRules/azsmnet7102"
                  }
 [...]
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/loadBalancers?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": [],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "14975"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "azsmnet8560",
            "id": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/loadBalancers/azsmnet8560",
            "etag": "W/\u002276815d46-4c5f-46d0-b820-d8e01bb82cdd\u0022",
            "type": "Microsoft.Network/loadBalancers",
            "location": "eastus",
            "properties": {
              "provisioningState": "Succeeded",
              "resourceGuid": "69c065c9-ee6d-4903-af58-7eb5[...]
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network/loadBalancers?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": [],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "14974"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "azsmn[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/loadBalancers/azsmnet8560/backendAddressPools?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": [],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "14973"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "azsmnet2797",
            "id": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/loadBalancers/azsmnet8560/backendAddressPools/azsmnet2797",
            "etag": "W/\u002276815d46-4c5f-46d0-b820-d8e01bb82cdd\u0022",
            "properties": {
              "provisioningState": "Succeeded",
              "loadBalancingRules": [
                {
                  "id": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/loadBalancers/azsmnet8560/loadBalancingRules/azsmnet7102"
                }
              ]
            }
          }
        ]
      }
    },
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/loadBalancers/azsmnet8560/backendAddressPools/azsmnet2797?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": [],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002276815d46-4c5f-46d0-b820-d8e01bb82cdd\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "14972"
      },
      "ResponseBody": {
        "name": "azsmnet2797",
        "id": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/loadBalancers/azsmnet8560/backendAddressPools/azsmnet2797",
        "etag": "W/\u002276815d46-4c5f-46d0-b820-d8e01bb82cdd\u0022",
        "properties": {
          "provisioningState": "Succeeded",
          "loadBalancingRules": [
            {
              "id": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/loadBalancers/azsmnet8560/loadBalancingRules/azsmnet7102"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/loadBalancers/azsmnet8560/frontendIPConfigurations?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": [],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "14971"
      },
      "ResponseBody[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/loadBalancers/azsmnet8560/frontendIPConfigurations/azsmnet3663?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": [],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002276815d46-4c5f-46d0-b820-d8e01bb82cdd\u0022",
        "[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/loadBalancers/azsmnet8560/loadBalancingRules?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": [],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "14969"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "azsmnet7102",
            "id": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/loadBalancers/azsmnet8560/loadBalancingRules/azsmnet7102",
            "etag": "W/\u002276815d46-4c5f-46d0-b820-d8e01bb82cdd\u0022",
            "properties": {
              "provisioningState": "Succeeded",
              "frontendIPConfiguration": {
                "id": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/loadBalancers/azsmnet8560/frontendIPConfigurations/azsmnet3663"
              },
              "frontendPort": 80,
              "backendPort": 80,
              "enableFloatingIP": false,
              "idleTimeoutInMinutes": 15,
              "protocol": "Tcp",
              "loadDistribution": "Default",
              "backendAddressPool": {
                "id": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/loadBalancers/azsmnet8560/backendAddressPools/azsmnet2797"
              },
              "probe": {
                "id": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/loadBalancers/azsmnet8560/probes/azsmnet1113"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/loadBalancers/azsmnet8560/loadBalancingRules/azsmnet7102?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": [],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002276815d46-4c5f-46d0-b820-d8e01bb82cdd\u0022",
        "x-ms-r[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/loadBalancers/azsmnet8560/networkInterfaces?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": [],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "14967"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/loadBalancers/azsmnet8560/probes?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": [],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "14966"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "azsmnet1113",
            "id": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/loadBalancers/azsmnet8560/probes/azsmnet1113",
            "etag": "W/\u002276815d46-4c5f-46d0-b820-d8e01bb82cdd\u0022",
            "properties": {
              "provisioningState": "Succeeded",
              "protocol": "Http",
              "port": 80,
              "requestPath": "healthcheck.aspx",
              "intervalInSeconds": 10,
              "numberOfProbes": 2,
              "loadBalancingRules": [
                {
                  "id": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/loadBalancers/azsmnet8560/loadBalancingRules/azsmnet7102"
                }
              ]
            }
          }
        ]
      }
    },
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/loadBalancers/azsmnet8560/probes/azsmnet1113?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": [],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002276815d46-4c5f-46d0-b820-d8e01bb82cdd\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "14965"
      },
      "ResponseBody": {
        "name": "azsmnet1113",
        "id": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/loadBalancers/azsmnet8560/probes/azsmnet1113",
        "etag": "W/\u002276815d46-4c5f-46d0-b820-d8e01bb82cdd\u0022",
        "properties": {
          "provisioningState": "Succeeded",
          "protocol": "Http",
          "port": 80,
          "requestPath": "healthcheck.aspx",
          "intervalInSeconds": 10,
          "numberOfProbes": 2,
          "loadBalancingRules": [
            {
              "id": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/loadBalancers/azsmnet8560/loadBalancingRules/azsmnet7102"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/loadBalancers/azsmnet8560/inboundNatRules/azsmnet3198?api-version=2017-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "RequestBody": {
        "properties": {
          "frontendIPConfiguration": {
            "id": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceG[...]
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/loadBalancers/azsmnet8560/inboundNatRules?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": [],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "14962"
      },
      "ResponseBody": {
    [...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/csmrg6334/providers/Microsoft.Network/loadBalancers/azsmnet8560/inboundNatRules/azsmnet3198?api-version=2017-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": [],
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network/locations/eastus/operations/2538e34d-e31b-49ba-8e52-ac1af1ab39a8?api-version=2017-06-01",
        "Location": "https://management.azure.com/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network/locations/eastus/operationResults/2538e34d-e31b-49ba-8e52-ac1af1ab39a8?api-version=2017-06-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network/locations/eastus/operations/86503951-7837-4de4-a37d-1035d1449f4b?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": [],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "14958"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    }
  ],
  "Variables": {
    "SubscriptionId": "947d47b4-7883-4bb9-9d85-c5e8e2f572ce"
  }
}