<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!--
    The following are the public packages list needed to get the repository build wihtout internal nuget feed.
  -->
  <package id="Hyak.Common" version="1.0.1" />
  <package id="Hydra.HttpRecorder" version="1.0.5417.13285-prerelease" />
  <package id="Microsoft.Azure.Common" version="2.0.1" />
  <package id="Microsoft.Azure.Common.Dependencies" version="1.0.0" />
  <package id="Microsoft.Azure.Management.Resources" version="2.12.0-preview" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.3" />
  <package id="Microsoft.Bcl" version="1.1.9"  />
  <package id="Microsoft.Bcl.Async" version="1.0.168" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.11.10918.1222"/>
  <package id="Microsoft.Net.Http" version="2.2.28" />
  <!--TODO: why we need 2 versions-->
  <package id="Microsoft.Net.Http" version="2.2.22" />
  <package id="Microsoft.WindowsAzure.Management" version="4.0.1" />
  <package id="Newtonsoft.Json" version="6.0.4" />
  <package id="Moq" version="4.2.1409.1722" />
  <package id="Microsoft.Data.OData" version="5.6.0" />
  <package id="Microsoft.Data.Services.Client" version="5.6.0"  />
  <package id="Microsoft.Net.Http" version="2.2.22" />
  <package id="Newtonsoft.Json" version="6.0.4" />
  <package id="System.Spatial" version="5.6.0" />
  <package id="WindowsAzure.Storage" version="4.0.1" />
  <package id="xunit" version="1.9.2" />
  <package id="xunit.extensions" version="1.9.2"/>
</packages>