<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="12.0" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <Import Project="$(MSBuildExtensionsPath)\$(MSBuildToolsVersion)\Microsoft.Common.props" Condition="Exists('$(MSBuildExtensionsPath)\$(MSBuildToolsVersion)\Microsoft.Common.props')" />
  <PropertyGroup>
    <SDKTestProject>true</SDKTestProject>
    <Platform Condition=" '$(Platform)' == '' ">AnyCPU</Platform>
    <OutputType>Library</OutputType>
    <AppDesignerFolder>Properties</AppDesignerFolder>
    <FileAlignment>512</FileAlignment>
    <RestorePackages>true</RestorePackages>
  </PropertyGroup>
  <Choose> 
    <When Condition=" '$(AssemblyName)' != 'Storage.Tests' ">
      <ItemGroup>
        <Reference Include="Microsoft.WindowsAzure.Management.Storage">
          <HintPath>$(LibraryNugetPackageFolder)\Microsoft.WindowsAzure.Management.Storage.5.1.1\lib\net40\Microsoft.WindowsAzure.Management.Storage.dll</HintPath>
        </Reference>
      </ItemGroup>
    </When>
  </Choose>
  <Choose>
    <When Condition=" '$(AssemblyName)' != 'Resource.Tests' ">
      <ItemGroup >
        <Reference Include="Microsoft.Azure.ResourceManager">
          <HintPath>$(LibraryNugetPackageFolder)\Microsoft.Azure.Management.Resources.2.18.0-preview\lib\net40\Microsoft.Azure.ResourceManager.dll</HintPath>
        </Reference>
      </ItemGroup>
    </When>
  </Choose>
  <Choose>
    <When Condition=" '$(AssemblyName)' != 'Management.Tests' ">
      <ItemGroup>
        <Reference Include="Microsoft.WindowsAzure.Management">
          <HintPath>$(LibraryNugetPackageFolder)\Microsoft.WindowsAzure.Management.4.1.1\lib\net40\Microsoft.WindowsAzure.Management.dll</HintPath>
        </Reference>
      </ItemGroup>
    </When>
  </Choose>
  <ItemGroup>
    <Reference Include="Hyak.Common">
      <HintPath>$(LibraryNugetPackageFolder)\Hyak.Common.1.0.2\lib\net45\Hyak.Common.dll</HintPath>
    </Reference>
    <Reference Include="Microsoft.Azure.Common">
      <HintPath>$(LibraryNugetPackageFolder)\Microsoft.Azure.Common.2.1.0\lib\net45\Microsoft.Azure.Common.dll</HintPath>
    </Reference>
    <Reference Include="Microsoft.Azure.Common.NetFramework">
      <HintPath>$(LibraryNugetPackageFolder)\Microsoft.Azure.Common.2.1.0\lib\net45\Microsoft.Azure.Common.NetFramework.dll</HintPath>
    </Reference>
    <Reference Include="Microsoft.Azure.Test.Framework">
      <HintPath>$(LibraryNugetPackageFolder)\Microsoft.Azure.Test.Framework.1.0.5799.28345-prerelease\lib\net45\Microsoft.Azure.Test.Framework.dll</HintPath>
    </Reference>
    <Reference Include="Microsoft.Azure.Test.HttpRecorder">
      <HintPath>$(LibraryNugetPackageFolder)\Microsoft.Azure.Test.HttpRecorder.1.0.5799.28345-prerelease\lib\net45\Microsoft.Azure.Test.HttpRecorder.dll</HintPath>
    </Reference>
    <Reference Include="Microsoft.Data.Edm">
      <SpecificVersion>False</SpecificVersion>
      <HintPath>$(LibraryNugetPackageFolder)\Microsoft.Data.Edm.5.6.4\lib\net40\Microsoft.Data.Edm.dll</HintPath>
    </Reference>
    <Reference Include="Microsoft.Data.OData">
      <SpecificVersion>False</SpecificVersion>
      <HintPath>$(LibraryNugetPackageFolder)\Microsoft.Data.OData.5.6.4\lib\net40\Microsoft.Data.OData.dll</HintPath>
    </Reference>
    <Reference Include="System.Spatial">
      <SpecificVersion>False</SpecificVersion>
      <HintPath>$(LibraryNugetPackageFolder)\System.Spatial.5.6.4\lib\net40\System.Spatial.dll</HintPath>
    </Reference>
    <Reference Include="Microsoft.Data.Services.Client">
      <SpecificVersion>False</SpecificVersion>
      <HintPath>$(LibraryNugetPackageFolder)\Microsoft.Data.Services.Client.5.6.4\lib\net40\Microsoft.Data.Services.Client.dll</HintPath>
    </Reference>
    <Reference Include="Microsoft.IdentityModel.Clients.ActiveDirectory">
      <HintPath>$(LibraryNugetPackageFolder)\Microsoft.IdentityModel.Clients.ActiveDirectory.2.18.206251556\lib\net45\Microsoft.IdentityModel.Clients.ActiveDirectory.dll</HintPath>
    </Reference>
    <Reference Include="Microsoft.IdentityModel.Clients.ActiveDirectory.WindowsForms">
      <HintPath>$(LibraryNugetPackageFolder)\Microsoft.IdentityModel.Clients.ActiveDirectory.2.18.206251556\lib\net45\Microsoft.IdentityModel.Clients.ActiveDirectory.WindowsForms.dll</HintPath>
    </Reference>
    <Reference Include="Microsoft.WindowsAzure.Configuration">
      <SpecificVersion>False</SpecificVersion>
      <HintPath>$(LibraryNugetPackageFolder)\Microsoft.WindowsAzure.ConfigurationManager.3.2.0\lib\net40\Microsoft.WindowsAzure.Configuration.dll</HintPath>
    </Reference>
    <Reference Include="Microsoft.WindowsAzure.Storage">
      <SpecificVersion>False</SpecificVersion>
      <HintPath>$(LibraryNugetPackageFolder)\WindowsAzure.Storage.6.0.0\lib\net40\Microsoft.WindowsAzure.Storage.dll</HintPath>
    </Reference>
    <Reference Include="Microsoft.Azure.KeyVault.Core">
      <HintPath>$(LibraryNugetPackageFolder)\Microsoft.Azure.KeyVault.Core.1.0.0\lib\net40\Microsoft.Azure.KeyVault.Core.dll</HintPath>
      <Private>True</Private>
    </Reference>
    <Reference Include="xunit">
      <HintPath>$(LibraryNugetPackageFolder)\xunit.1.9.2\lib\net20\xunit.dll</HintPath>
    </Reference>
  </ItemGroup>
  <Import Project="$(LibraryNugetPackageFolder)\xunit.runner.visualstudio.0.99.9-build1021\build\net20\xunit.runner.visualstudio.props" Condition="Exists('$(LibraryNugetPackageFolder)\xunit.runner.visualstudio.0.99.9-build1021\build\net20\xunit.runner.visualstudio.props')" />
  <Import Project="$(MSBuildToolsPath)\Microsoft.CSharp.targets" />
 </Project>
