{
  "Entries": [
    {
      "RequestUri": "https://azs-net-wvqysflr.search.windows.net/indexes(\u0027bapsfvkb\u0027)/docs/search.post.suggest?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "fuzzy": true,
        "search": "hitel",
        "suggesterName": "sg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "13",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-wvqysflr.search.windows.net/indexes(\u0027bapsfvkb\u0027)/$metadata#docs(*)",
        "value": [
          {
            "@search.text": "Countryside Hotel",
            "hotelId": "10"
          },
          {
            "@search.text": "Pretty good hotel",
            "hotelId": "4"
          },
          {
            "@search.text": "Another good hotel",
            "hotelId": "5"
          },
          {
            "@search.text": "Very popular hotel in town",
            "hotelId": "3"
          },
          {
            "@search.text": "Cheapest hotel in town. Infact, a motel.",
            "hotelId": "2"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "171521149",
    "SearchIndexName": "bapsfvkb",
    "SearchServiceName": "azs-net-wvqysflr"
  }
}