{
  "Entries": [
    {
      "RequestUri": "https://azs-net-wvqysflr.search.windows.net/indexes(\u0027bapsfvkb\u0027)/docs/search.post.suggest?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "search": "hitel",
        "suggesterName": "sg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "6",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-wvqysflr.search.windows.net/indexes(\u0027bapsfvkb\u0027)/$metadata#docs(*)",
        "value": []
      }
    }
  ],
  "Variables": {
    "RandomSeed": "752411689",
    "SearchIndexName": "bapsfvkb",
    "SearchServiceName": "azs-net-wvqysflr"
  }
}