{
  "Entries": [
    {
      "RequestUri": "https://azs-net-wvqysflr.search.windows.net/indexes(\u0027bapsfvkb\u0027)/docs/search.post.suggest?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "search": "secret",
        "select": "hotelName,rating,address/city,rooms/type",
        "suggesterName": "sg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "8",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-wvqysflr.search.windows.net/indexes(\u0027bapsfvkb\u0027)/$metadata#docs(*)",
        "value": [
          {
            "@search.text": "Secret Point Motel",
            "hotelName": "Secret Point Motel",
            "rating": 4,
            "address": {
              "city": "New York"
            },
            "rooms": [
              {
                "type": "Budget Room"
              },
              {
                "type": "Budget Room"
              }
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "83938125",
    "SearchIndexName": "bapsfvkb",
    "SearchServiceName": "azs-net-wvqysflr"
  }
}