{
  "Entries": [
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/indexes(\u0027nkplulhj\u0027)/docs/search.post.suggest?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "search": "hotel",
        "suggesterName": "Invalid suggester"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "5",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "MissingRequiredParameter",
          "message": "The specified suggester name \u0027Invalid suggester\u0027 does not exist in this index definition.\r\nParameter name: name",
          "details": [
            {
              "code": "MissingSuggesterName",
              "message": "The specified suggester name \u0027Invalid suggester\u0027 does not exist in this index definition."
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "931425957",
    "SearchIndexName": "nkplulhj",
    "SEARCH_ENDPOINT_SUFFIX": null,
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "mohitc-acs"
  }
}