{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11966"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRg-5739?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-5739",
        "name": "testRg-5739",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-5739/providers/Microsoft.Cdn/profiles/AFDProfile-1030?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_AzureFrontDoor"
        },
        "tags": {},
        "location": "Global",
        "properties": {
          "originResponseTimeoutSeconds": 60
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRg-5739/providers/Microsoft.Cdn/operationresults/1d1acca0-3e6c-4537-8720-4112e28d8ba2?api-version=2021-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "22"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRg-5739/providers/Microsoft.Cdn/profiles/AFDProfile-1030",
        "type": "Microsoft.Cdn/profiles",
        "name": "AFDProfile-1030",
        "location": "Global",
        "kind": "frontdoor",
        "tags": {},
        "sku": {
          "name": "Standard_AzureFrontDoor"
        },
        "properties": {
          "originResponseTimeoutSeconds": 60,
          "frontDoorId": "ceafc39e-fd8d-4e08-8ef2-3c94ed1198d1",
          "resourceState": "Creating",
          "provisioningState": "Creating"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRg-5739/providers/Microsoft.Cdn/operationresults/1d1acca0-3e6c-4537-8720-4112e28d8ba2?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11965"
      },
      "ResponseBody": {
        "status": "InProgress",
        "error": {
          "code": "None",
          "message": null
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-5739/providers/Microsoft.Cdn/profiles/AFDProfile-1030/afdEndpoints/AFDEndpoint-5911?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRg-5739/providers/Microsoft.Cdn/operationresults/e0f8b9c9-758d-48c1-859f-1e521aec82fe?api-version=2021-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "97"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRg-5739/providers/Microsoft.Cdn/profiles/AFDProfile-1030/afdendpoints/AFDEndpoint-5911",
        "type": "Microsoft.Cdn/profiles/afdendpoints",
        "name": "AFDEndpoint-5911",
        "location": "WestUs",
        "tags": {},
        "properties": {
          "hostName": "AFDEndpoint-5911-fygaa3b2aqbsdrbm.z01.azurefd.net",
          "autoGeneratedDomainNameLabelScope": null,
          "enabledState": "Enabled",
          "provisioningState": "Creating",
          "deploymentStatus": "NotStarted"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-5739/providers/Microsoft.Cdn/profiles/AFDProfile-1030/afdEndpoints?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "45"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRg-5739/providers/Microsoft.Cdn/profiles/AFDProfile-1030/afdendpoints/AFDEndpoint-5911",
            "type": "Microsoft.Cdn/profiles/afdendpoints",
            "name": "AFDEndpoint-5911",
            "location": "WestUs",
            "tags": {},
            "properties": {
              "hostName": "AFDEndpoint-5911-fygaa3b2aqbsdrbm.z01.azurefd.net",
              "autoGeneratedDomainNameLabelScope": null,
              "enabledState": "Enabled",
              "provisioningState": "Succeeded",
              "deploymentStatus": "NotStarted"
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1535213558",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
