{
  "Entries": [
    {
      "RequestUri": "https://azs-net-heathsearch2.search.windows.net/datasources?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "tnufhitt",
        "type": "azureblob",
        "credentials": {
          "connectionString": "DefaultEndpointsProtocol=https;AccountName=heathsearch2stg;AccountKey=Sanitized;EndpointSuffix=core.windows.net"
        },
        "container": {
          "name": "ftnpmwkr"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "55",
        "ETag": "W/\u00220x8D7F31DF4AE5517\u0022",
        "Location": "https://azs-net-heathsearch2.search.windows.net/datasources(\u0027tnufhitt\u0027)?api-version=2019-05-06-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-heathsearch2.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\u00220x8D7F31DF4AE5517\u0022",
        "name": "tnufhitt",
        "description": null,
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "ftnpmwkr",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null
      }
    },
    {
      "RequestUri": "https://azs-net-heathsearch2.search.windows.net/indexers?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "aeermkkh",
        "dataSourceName": "tnufhitt",
        "targetIndexName": "fsfjbuge"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "199",
        "ETag": "W/\u00220x8D7F31DF4C711AE\u0022",
        "Location": "https://azs-net-heathsearch2.search.windows.net/indexers(\u0027aeermkkh\u0027)?api-version=2019-05-06-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-heathsearch2.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8D7F31DF4C711AE\u0022",
        "name": "aeermkkh",
        "description": null,
        "dataSourceName": "tnufhitt",
        "skillsetName": null,
        "targetIndexName": "fsfjbuge",
        "disabled": null,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null
      }
    },
    {
      "RequestUri": "https://azs-net-heathsearch2.search.windows.net/indexers(\u0027aeermkkh\u0027)?api-version=2019-05-06-Preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u00220x8D7F31DF4C711AE\u0022",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "aeermkkh",
        "description": "Updated description",
        "dataSourceName": "tnufhitt",
        "targetIndexName": "fsfjbuge",
        "fieldMappings": [],
        "outputFieldMappings": [],
        "@odata.etag": "\u00220x8D7F31DF4C711AE\u0022"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "99",
        "ETag": "W/\u00220x8D7F31DF4E8A97B\u0022",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-heathsearch2.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8D7F31DF4E8A97B\u0022",
        "name": "aeermkkh",
        "description": "Updated description",
        "dataSourceName": "tnufhitt",
        "skillsetName": null,
        "targetIndexName": "fsfjbuge",
        "disabled": null,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null
      }
    },
    {
      "RequestUri": "https://azs-net-heathsearch2.search.windows.net/indexers(\u0027aeermkkh\u0027)/search.status?api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "18",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-heathsearch2.search.windows.net/$metadata#Microsoft.Azure.Search.V2019_05_06_Preview.IndexerExecutionInfo",
        "name": "aeermkkh",
        "status": "running",
        "lastResult": {
          "status": "success",
          "errorMessage": null,
          "startTime": "2020-05-08T07:03:51.504Z",
          "endTime": "2020-05-08T07:03:52.02Z",
          "itemsProcessed": 10,
          "itemsFailed": 0,
          "initialTrackingState": "{\r\n  \u0022lastFullEnumerationStartTime\u0022: \u00220001-01-01T00:00:00Z\u0022,\r\n  \u0022lastAttemptedEnumerationStartTime\u0022: \u00222020-05-08T07:03:51.52Z\u0022,\r\n  \u0022nameHighWaterMark\u0022: null\r\n}",
          "finalTrackingState": "{\u0022LastFullEnumerationStartTime\u0022:\u00222020-05-08T07:03:21.5202412\u002B00:00\u0022,\u0022LastAttemptedEnumerationStartTime\u0022:\u00222020-05-08T07:03:21.5202412\u002B00:00\u0022,\u0022NameHighWaterMark\u0022:null}",
          "errors": [],
          "warnings": [],
          "metrics": null
        },
        "executionHistory": [
          {
            "status": "success",
            "errorMessage": null,
            "startTime": "2020-05-08T07:03:51.504Z",
            "endTime": "2020-05-08T07:03:52.02Z",
            "itemsProcessed": 10,
            "itemsFailed": 0,
            "initialTrackingState": "{\r\n  \u0022lastFullEnumerationStartTime\u0022: \u00220001-01-01T00:00:00Z\u0022,\r\n  \u0022lastAttemptedEnumerationStartTime\u0022: \u00222020-05-08T07:03:51.52Z\u0022,\r\n  \u0022nameHighWaterMark\u0022: null\r\n}",
            "finalTrackingState": "{\u0022LastFullEnumerationStartTime\u0022:\u00222020-05-08T07:03:21.5202412\u002B00:00\u0022,\u0022LastAttemptedEnumerationStartTime\u0022:\u00222020-05-08T07:03:21.5202412\u002B00:00\u0022,\u0022NameHighWaterMark\u0022:null}",
            "errors": [],
            "warnings": [],
            "metrics": null
          }
        ],
        "limits": {
          "maxRunTime": "PT2M",
          "maxDocumentExtractionSize": 16777216,
          "maxDocumentContentCharactersToExtract": 32768
        }
      }
    },
    {
      "RequestUri": "https://azs-net-heathsearch2.search.windows.net/indexers(\u0027aeermkkh\u0027)/search.run?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "elapsed-time": "44"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://azs-net-heathsearch2.search.windows.net/indexes(\u0027fsfjbuge\u0027)/docs/$count?api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "elapsed-time": "52",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": "\uFEFF10"
    },
    {
      "RequestUri": "https://azs-net-heathsearch2.search.windows.net/indexes(\u0027fsfjbuge\u0027)?api-version=2019-05-06-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "165"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "BlobContainerName": "ftnpmwkr",
    "RandomSeed": "939854059",
    "SearchIndexName": "fsfjbuge",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-heathsearch2",
    "SEARCH_STORAGE_KEY": "Sanitized",
    "SEARCH_STORAGE_NAME": "heathsearch2stg"
  }
}