{
  "Entries": [
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/datasources?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "tnufhitt",
        "type": "azureblob",
        "credentials": {
          "connectionString": "DefaultEndpointsProtocol=https;AccountName=mohitcsablob;AccountKey=Sanitized;EndpointSuffix=core.windows.net"
        },
        "container": {
          "name": "hhnguqgq"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "38",
        "ETag": "W/\u00220x8D927C28436E6C8\u0022",
        "Location": "https://mohitc-acs.search.windows.net/datasources(\u0027tnufhitt\u0027)?api-version=2020-06-30",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://mohitc-acs.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\u00220x8D927C28436E6C8\u0022",
        "name": "tnufhitt",
        "description": null,
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "hhnguqgq",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/indexers?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "hoxoyjdj",
        "dataSourceName": "tnufhitt",
        "targetIndexName": "xjwvjkym"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "338",
        "ETag": "W/\u00220x8D927C2845C01BC\u0022",
        "Location": "https://mohitc-acs.search.windows.net/indexers(\u0027hoxoyjdj\u0027)?api-version=2020-06-30",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://mohitc-acs.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8D927C2845C01BC\u0022",
        "name": "hoxoyjdj",
        "description": null,
        "dataSourceName": "tnufhitt",
        "skillsetName": null,
        "targetIndexName": "xjwvjkym",
        "disabled": null,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/indexers(\u0027hoxoyjdj\u0027)?api-version=2020-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u00220x8D927C2845C01BC\u0022",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "hoxoyjdj",
        "description": "Updated description",
        "dataSourceName": "tnufhitt",
        "targetIndexName": "xjwvjkym",
        "fieldMappings": [],
        "outputFieldMappings": [],
        "@odata.etag": "\u00220x8D927C2845C01BC\u0022"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "184",
        "ETag": "W/\u00220x8D927C284939696\u0022",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://mohitc-acs.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8D927C284939696\u0022",
        "name": "hoxoyjdj",
        "description": "Updated description",
        "dataSourceName": "tnufhitt",
        "skillsetName": null,
        "targetIndexName": "xjwvjkym",
        "disabled": null,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/indexers(\u0027hoxoyjdj\u0027)/search.status?api-version=2020-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "11",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://mohitc-acs.search.windows.net/$metadata#Microsoft.Azure.Search.V2020_06_30.IndexerExecutionInfo",
        "name": "hoxoyjdj",
        "status": "running",
        "lastResult": {
          "status": "success",
          "errorMessage": null,
          "startTime": "2021-06-05T01:37:49.88Z",
          "endTime": "2021-06-05T01:37:50.27Z",
          "itemsProcessed": 10,
          "itemsFailed": 0,
          "initialTrackingState": "{\r\n  \u0022lastFullEnumerationStartTime\u0022: \u00220001-01-01T00:00:00Z\u0022,\r\n  \u0022lastAttemptedEnumerationStartTime\u0022: \u00222021-06-05T01:37:49.885Z\u0022,\r\n  \u0022nameHighWaterMark\u0022: null\r\n}",
          "finalTrackingState": "{\u0022LastFullEnumerationStartTime\u0022:\u00222021-06-05T01:37:19.8855635\u002B00:00\u0022,\u0022LastAttemptedEnumerationStartTime\u0022:\u00222021-06-05T01:37:19.8855635\u002B00:00\u0022,\u0022NameHighWaterMark\u0022:null}",
          "errors": [],
          "warnings": [],
          "metrics": null
        },
        "executionHistory": [
          {
            "status": "success",
            "errorMessage": null,
            "startTime": "2021-06-05T01:37:49.88Z",
            "endTime": "2021-06-05T01:37:50.27Z",
            "itemsProcessed": 10,
            "itemsFailed": 0,
            "initialTrackingState": "{\r\n  \u0022lastFullEnumerationStartTime\u0022: \u00220001-01-01T00:00:00Z\u0022,\r\n  \u0022lastAttemptedEnumerationStartTime\u0022: \u00222021-06-05T01:37:49.885Z\u0022,\r\n  \u0022nameHighWaterMark\u0022: null\r\n}",
            "finalTrackingState": "{\u0022LastFullEnumerationStartTime\u0022:\u00222021-06-05T01:37:19.8855635\u002B00:00\u0022,\u0022LastAttemptedEnumerationStartTime\u0022:\u00222021-06-05T01:37:19.8855635\u002B00:00\u0022,\u0022NameHighWaterMark\u0022:null}",
            "errors": [],
            "warnings": [],
            "metrics": null
          }
        ],
        "limits": {
          "maxRunTime": "P1D",
          "maxDocumentExtractionSize": 134217728,
          "maxDocumentContentCharactersToExtract": 4194304
        }
      }
    },
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/indexers(\u0027hoxoyjdj\u0027)/search.run?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "elapsed-time": "30"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/indexes(\u0027xjwvjkym\u0027)/docs/$count?api-version=2020-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "elapsed-time": "4",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": "\uFEFF10"
    },
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/indexes(\u0027xjwvjkym\u0027)?api-version=2020-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "140"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "BlobContainerName": "hhnguqgq",
    "RandomSeed": "939854059",
    "SearchIndexName": "xjwvjkym",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": null,
    "SEARCH_SERVICE_NAME": "mohitc-acs",
    "SEARCH_STORAGE_KEY": "Sanitized",
    "SEARCH_STORAGE_NAME": "mohitcsablob",
    "STORAGE_ENDPOINT_SUFFIX": null
  }
}