{
  "Entries": [
    {
      "RequestUri": "https://azs-net-heathsrchtst.search.windows.net/datasources?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "tnufhitt",
        "type": "azureblob",
        "credentials": {
          "connectionString": "DefaultEndpointsProtocol=https;AccountName=heathsrchstg;AccountKey=Sanitized;EndpointSuffix=core.windows.net"
        },
        "container": {
          "name": "awshfspy"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "47",
        "ETag": "W/\u00220x8D8079E7CB95558\u0022",
        "Location": "https://azs-net-heathsrchtst.search.windows.net/datasources(\u0027tnufhitt\u0027)?api-version=2019-05-06-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-heathsrchtst.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\u00220x8D8079E7CB95558\u0022",
        "name": "tnufhitt",
        "description": null,
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "awshfspy",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null
      }
    },
    {
      "RequestUri": "https://azs-net-heathsrchtst.search.windows.net/indexers?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "hoxoyjdj",
        "dataSourceName": "tnufhitt",
        "targetIndexName": "pcdmcoxv"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "178",
        "ETag": "W/\u00220x8D8079E7CD3E8AC\u0022",
        "Location": "https://azs-net-heathsrchtst.search.windows.net/indexers(\u0027hoxoyjdj\u0027)?api-version=2019-05-06-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-heathsrchtst.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8D8079E7CD3E8AC\u0022",
        "name": "hoxoyjdj",
        "description": null,
        "dataSourceName": "tnufhitt",
        "skillsetName": null,
        "targetIndexName": "pcdmcoxv",
        "disabled": null,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null
      }
    },
    {
      "RequestUri": "https://azs-net-heathsrchtst.search.windows.net/indexers(\u0027hoxoyjdj\u0027)?api-version=2019-05-06-Preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u00220x8D8079E7CD3E8AC\u0022",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "hoxoyjdj",
        "description": "Updated description",
        "dataSourceName": "tnufhitt",
        "targetIndexName": "pcdmcoxv",
        "@odata.etag": "\u00220x8D8079E7CD3E8AC\u0022"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "103",
        "ETag": "W/\u00220x8D8079E7CF1D838\u0022",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-heathsrchtst.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8D8079E7CF1D838\u0022",
        "name": "hoxoyjdj",
        "description": "Updated description",
        "dataSourceName": "tnufhitt",
        "skillsetName": null,
        "targetIndexName": "pcdmcoxv",
        "disabled": null,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null
      }
    },
    {
      "RequestUri": "https://azs-net-heathsrchtst.search.windows.net/indexers(\u0027hoxoyjdj\u0027)/search.status?api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "14",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-heathsrchtst.search.windows.net/$metadata#Microsoft.Azure.Search.V2019_05_06_Preview.IndexerExecutionInfo",
        "name": "hoxoyjdj",
        "status": "running",
        "lastResult": {
          "status": "success",
          "errorMessage": null,
          "startTime": "2020-06-03T09:14:17.834Z",
          "endTime": "2020-06-03T09:14:18.334Z",
          "itemsProcessed": 10,
          "itemsFailed": 0,
          "initialTrackingState": "{\r\n  \u0022lastFullEnumerationStartTime\u0022: \u00220001-01-01T00:00:00Z\u0022,\r\n  \u0022lastAttemptedEnumerationStartTime\u0022: \u00222020-06-03T09:14:17.834Z\u0022,\r\n  \u0022nameHighWaterMark\u0022: null\r\n}",
          "finalTrackingState": "{\u0022LastFullEnumerationStartTime\u0022:\u00222020-06-03T09:13:47.8345111\u002B00:00\u0022,\u0022LastAttemptedEnumerationStartTime\u0022:\u00222020-06-03T09:13:47.8345111\u002B00:00\u0022,\u0022NameHighWaterMark\u0022:null}",
          "errors": [],
          "warnings": [],
          "metrics": null
        },
        "executionHistory": [
          {
            "status": "success",
            "errorMessage": null,
            "startTime": "2020-06-03T09:14:17.834Z",
            "endTime": "2020-06-03T09:14:18.334Z",
            "itemsProcessed": 10,
            "itemsFailed": 0,
            "initialTrackingState": "{\r\n  \u0022lastFullEnumerationStartTime\u0022: \u00220001-01-01T00:00:00Z\u0022,\r\n  \u0022lastAttemptedEnumerationStartTime\u0022: \u00222020-06-03T09:14:17.834Z\u0022,\r\n  \u0022nameHighWaterMark\u0022: null\r\n}",
            "finalTrackingState": "{\u0022LastFullEnumerationStartTime\u0022:\u00222020-06-03T09:13:47.8345111\u002B00:00\u0022,\u0022LastAttemptedEnumerationStartTime\u0022:\u00222020-06-03T09:13:47.8345111\u002B00:00\u0022,\u0022NameHighWaterMark\u0022:null}",
            "errors": [],
            "warnings": [],
            "metrics": null
          }
        ],
        "limits": {
          "maxRunTime": "PT2M",
          "maxDocumentExtractionSize": 16777216,
          "maxDocumentContentCharactersToExtract": 32768
        }
      }
    },
    {
      "RequestUri": "https://azs-net-heathsrchtst.search.windows.net/indexers(\u0027hoxoyjdj\u0027)/search.run?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "elapsed-time": "46"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://azs-net-heathsrchtst.search.windows.net/indexes(\u0027pcdmcoxv\u0027)/docs/$count?api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "elapsed-time": "109",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": "\uFEFF10"
    },
    {
      "RequestUri": "https://azs-net-heathsrchtst.search.windows.net/indexes(\u0027pcdmcoxv\u0027)?api-version=2019-05-06-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "760"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "BlobContainerName": "awshfspy",
    "RandomSeed": "939854059",
    "SearchIndexName": "pcdmcoxv",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-heathsrchtst",
    "SEARCH_STORAGE_KEY": "Sanitized",
    "SEARCH_STORAGE_NAME": "heathsrchstg"
  }
}