{
  "Entries": [
    {
      "RequestUri": "https://azs-net-heathsrchtst.search.windows.net/datasources?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "frgsqbma",
        "type": "azureblob",
        "credentials": {
          "connectionString": "DefaultEndpointsProtocol=https;AccountName=heathsrchtststg;AccountKey=Sanitized;EndpointSuffix=core.windows.net"
        },
        "container": {
          "name": "edqxdvgm"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "68",
        "ETag": "W/\u00220x8D81999FF9F2F70\u0022",
        "Location": "https://azs-net-heathsrchtst.search.windows.net/datasources(\u0027frgsqbma\u0027)?api-version=2020-06-30",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-heathsrchtst.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\u00220x8D81999FF9F2F70\u0022",
        "name": "frgsqbma",
        "description": null,
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "edqxdvgm",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-heathsrchtst.search.windows.net/indexers?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "mqmuncer",
        "dataSourceName": "frgsqbma",
        "targetIndexName": "wyfoqjwi"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "8360",
        "ETag": "W/\u00220x8D8199A048F0DF1\u0022",
        "Location": "https://azs-net-heathsrchtst.search.windows.net/indexers(\u0027mqmuncer\u0027)?api-version=2020-06-30",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-heathsrchtst.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8D8199A048F0DF1\u0022",
        "name": "mqmuncer",
        "description": null,
        "dataSourceName": "frgsqbma",
        "skillsetName": null,
        "targetIndexName": "wyfoqjwi",
        "disabled": null,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-heathsrchtst.search.windows.net/indexers(\u0027mqmuncer\u0027)?api-version=2020-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u00220x8D8199A048F0DF1\u0022",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "mqmuncer",
        "description": "Updated description",
        "dataSourceName": "frgsqbma",
        "targetIndexName": "wyfoqjwi",
        "@odata.etag": "\u00220x8D8199A048F0DF1\u0022"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "195",
        "ETag": "W/\u00220x8D8199A04C4A6A1\u0022",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-heathsrchtst.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8D8199A04C4A6A1\u0022",
        "name": "mqmuncer",
        "description": "Updated description",
        "dataSourceName": "frgsqbma",
        "skillsetName": null,
        "targetIndexName": "wyfoqjwi",
        "disabled": null,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-heathsrchtst.search.windows.net/indexers(\u0027mqmuncer\u0027)/search.status?api-version=2020-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "16",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-heathsrchtst.search.windows.net/$metadata#Microsoft.Azure.Search.V2020_06_30.IndexerExecutionInfo",
        "name": "mqmuncer",
        "status": "running",
        "lastResult": {
          "status": "success",
          "errorMessage": null,
          "startTime": "2020-06-26T06:27:37.685Z",
          "endTime": "2020-06-26T06:27:46.02Z",
          "itemsProcessed": 10,
          "itemsFailed": 0,
          "initialTrackingState": "{\r\n  \u0022lastFullEnumerationStartTime\u0022: \u00220001-01-01T00:00:00Z\u0022,\r\n  \u0022lastAttemptedEnumerationStartTime\u0022: \u00222020-06-26T06:27:37.685Z\u0022,\r\n  \u0022nameHighWaterMark\u0022: null\r\n}",
          "finalTrackingState": "{\u0022LastFullEnumerationStartTime\u0022:\u00222020-06-26T06:27:07.685159\u002B00:00\u0022,\u0022LastAttemptedEnumerationStartTime\u0022:\u00222020-06-26T06:27:07.685159\u002B00:00\u0022,\u0022NameHighWaterMark\u0022:null}",
          "errors": [],
          "warnings": [],
          "metrics": null
        },
        "executionHistory": [
          {
            "status": "success",
            "errorMessage": null,
            "startTime": "2020-06-26T06:27:37.685Z",
            "endTime": "2020-06-26T06:27:46.02Z",
            "itemsProcessed": 10,
            "itemsFailed": 0,
            "initialTrackingState": "{\r\n  \u0022lastFullEnumerationStartTime\u0022: \u00220001-01-01T00:00:00Z\u0022,\r\n  \u0022lastAttemptedEnumerationStartTime\u0022: \u00222020-06-26T06:27:37.685Z\u0022,\r\n  \u0022nameHighWaterMark\u0022: null\r\n}",
            "finalTrackingState": "{\u0022LastFullEnumerationStartTime\u0022:\u00222020-06-26T06:27:07.685159\u002B00:00\u0022,\u0022LastAttemptedEnumerationStartTime\u0022:\u00222020-06-26T06:27:07.685159\u002B00:00\u0022,\u0022NameHighWaterMark\u0022:null}",
            "errors": [],
            "warnings": [],
            "metrics": null
          }
        ],
        "limits": {
          "maxRunTime": "PT2M",
          "maxDocumentExtractionSize": 16777216,
          "maxDocumentContentCharactersToExtract": 32768
        }
      }
    },
    {
      "RequestUri": "https://azs-net-heathsrchtst.search.windows.net/indexers(\u0027mqmuncer\u0027)/search.run?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "elapsed-time": "66"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://azs-net-heathsrchtst.search.windows.net/indexes(\u0027wyfoqjwi\u0027)/docs/$count?api-version=2020-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "elapsed-time": "4",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": "\uFEFF10"
    },
    {
      "RequestUri": "https://azs-net-heathsrchtst.search.windows.net/indexes(\u0027wyfoqjwi\u0027)?api-version=2020-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "304"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "BlobContainerName": "edqxdvgm",
    "RandomSeed": "1401021797",
    "SearchIndexName": "wyfoqjwi",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-heathsrchtst",
    "SEARCH_STORAGE_KEY": "Sanitized",
    "SEARCH_STORAGE_NAME": "heathsrchtststg"
  }
}