{
  "Entries": [
    {
      "RequestUri": "https://azs-net-t50d8619e0b774b52.search.windows.net/skillsets?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "xnonjilg",
        "skills": [
          {
            "defaultLanguageCode": "en",
            "textSplitMode": "pages",
            "maximumPageLength": 5000,
            "@odata.type": "#Microsoft.Skills.Text.SplitSkill",
            "context": "/document/reviews_text",
            "inputs": [
              {
                "name": "text",
                "source": "/document/reviews_text"
              },
              {
                "name": "languageCode",
                "source": "/document/Language"
              }
            ],
            "outputs": [
              {
                "name": "textItems",
                "targetName": "pages"
              }
            ]
          },
          {
            "defaultLanguageCode": "en",
            "@odata.type": "#Microsoft.Skills.Text.SentimentSkill",
            "context": "/document/reviews_text/pages/*",
            "inputs": [
              {
                "name": "text",
                "source": "/documents/reviews_text/pages/*"
              },
              {
                "name": "languageCode",
                "source": "/document/Language"
              }
  [...]
    {
      "RequestUri": "https://azs-net-t50d8619e0b774b52.search.windows.net/skillsets(\u0027xnonjilg\u0027)?api-version=2020-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u00220x8D84536E264E989\u0022",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "xnonjilg",
        "description": "Update description",
        "skills": [
          {
            "defaultLanguageCode": "en",
            "textSplitMode": "pages",
            "maximumPageLength": 5000,
            "@odata.type": "#Microsoft.Skills.Text.SplitSkill",
            "context": "/document/reviews_text",
            "inputs": [
              {
                "name": "text",
                "source": "/document/reviews_text",
                "inputs": []
              },
              {
                "name": "lan[...]
    {
      "RequestUri": "https://azs-net-t50d8619e0b774b52.search.windows.net/skillsets(\u0027xnonjilg\u0027)?api-version=2020-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "33",
        "ETag": "W/\u00220x8D84536E27E6B23\u0022",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-t50d8619e0b774b52.search.windows.net/$metadata#skillsets/$entity",
        "@odata.etag": "\u00220x8D84536E27E6B23\u0022",
        "name": "xnonjilg",
        "description": "Update description",
        "skills": [
          {
            "@odata.type": "#Microsoft.Skills.Text.SplitSkill",
            "name": "#1",
            "description": null,
            "context": "/document/reviews_text",
            "defaultLanguageCode": "en",
            "textSplitMode": "pages",
            "maximumPageLength": 5000,
            "inputs": [
              {
                "name": "text",
                "source": "/document/reviews_text",
                "sourceContext": null,
                "inputs": []
              },
              {
                "name": "languageCode",
                "source": "/document/Language",
                "sourceContext": null,
                "inputs": []
              }
            ],
            "outputs": [
              {
                "name": "textItems",
                "targetName": "pages"
              }
            ]
          },
          {
            "@odata.type": "#Microsoft.Skills.Text.SentimentSkill",
     [...]
[...]
    {
      "RequestUri": "https://azs-net-t50d8619e0b774b52.search.windows.net/skillsets?$select=name\u0026api-version=2020-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "22",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-t50d8619e0b774b52.search.windows.net/$metadata#skillsets(name)",
        "value": []
      }
    },
    {
      "RequestUri": "https://azs-net-t50d8619e0b774b52.search.windows.net/indexes(\u0027cspmprow\u0027)?api-version=2020-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "546"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "BlobContainerName": "egnujwvk",
    "RandomSeed": "1971078882",
    "SearchIndexName": "cspmprow",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-t50d8619e0b774b52",
    "SEARCH_STORAGE_KEY": "Sanitized",
    "SEARCH_STORAGE_NAME": "t50d8619e0b774b52stg"
  }
}