{
  "Entries": [
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/datasources?api-version=2020-06-30-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "xvdofdnf",
        "type": "azureblob",
        "credentials": {
          "connectionString": "DefaultEndpointsProtocol=https;AccountName=mohitcsablob;AccountKey=Sanitized;EndpointSuffix=core.windows.net"
        },
        "container": {
          "name": "irgjhpyv"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "44",
        "ETag": "W/\u00220x8D91713163664A3\u0022",
        "Location": "https://mohitc-acs.search.windows.net/datasources(\u0027xvdofdnf\u0027)?api-version=2020-06-30-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://mohitc-acs.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\u00220x8D91713163664A3\u0022",
        "name": "xvdofdnf",
        "description": null,
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "irgjhpyv",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/datasources(\u0027xvdofdnf\u0027)?api-version=2020-06-30-Preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u00220x8D91713163664A3\u0022",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "xvdofdnf",
        "description": "Updated description",
        "type": "azureblob",
        "credentials": {
          "connectionString": "\u003Cunchanged\u003E"
        },
        "container": {
          "name": "irgjhpyv"
        },
        "@odata.etag": "\u00220x8D91713163664A3\u0022"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "32",
        "ETag": "W/\u00220x8D917131641FF85\u0022",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://mohitc-acs.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\u00220x8D917131641FF85\u0022",
        "name": "xvdofdnf",
        "description": "Updated description",
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "irgjhpyv",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null
      }
    },
[...]
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/datasources?$select=name\u0026api-version=2020-06-30-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "69",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://mohitc-acs.search.windows.net/$metadata#datasources(name)",
        "value": [
          {
            "name": "frgsqbma"
          },
          {
            "name": "tnufhitt"
          }
        ]
      }
    },
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/indexes(\u0027xtlliwft\u0027)?api-version=2020-06-30-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "148"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "BlobContainerName": "irgjhpyv",
    "RandomSeed": "1095428452",
    "SearchIndexName": "xtlliwft",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": null,
    "SEARCH_SERVICE_NAME": "mohitc-acs",
    "SEARCH_STORAGE_KEY": "Sanitized",
    "SEARCH_STORAGE_NAME": "mohitcsablob",
    "STORAGE_ENDPOINT_SUFFIX": null
  }
}