{
  "Entries": [
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/skillsets?api-version=2020-06-30-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "xnonjilg",
        "skills": [
          {
            "defaultLanguageCode": "en",
            "textSplitMode": "pages",
            "maximumPageLength": 5000,
            "@odata.type": "#Microsoft.Skills.Text.SplitSkill",
            "context": "/document/reviews_text",
            "inputs": [
              {
                "name": "text",
                "source": "/document/reviews_text"
              },
              {
                "name": "languageCode",
                "source": "/document/Language"
              }
            ],
            "outputs": [
              {
                "name": "textItems",
                "targetName": "pages"
              }
            ]
          },
          {
            "defaultLanguageCode": "en",
            "@odata.type": "#Microsoft.Skills.Text.SentimentSkill",
            "context": "/document/reviews_text/pages/*",
            "inputs": [
              {
                "name": "text",
                "source": "/documents/reviews_text/pages/*"
              },
              {
                "name": "languageCode",
                "source": "/document/Language"
              }
  [...]
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/skillsets(\u0027xnonjilg\u0027)?api-version=2020-06-30-Preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u00220x8D909A8209F391B\u0022",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "xnonjilg",
        "description": "Update description",
        "skills": [
          {
            "defaultLanguageCode": "en",
            "textSplitMode": "pages",
            "maximumPageLength": 5000,
            "@odata.type": "#Microsoft.Skills.Text.SplitSkill",
            "context": "/document/reviews_text",
            "inputs": [
              {
                "name": "text",
                "source": "/document/reviews_text",
                "inputs": []
              },
              {
                "name": "lan[...]
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/skillsets(\u0027xnonjilg\u0027)?api-version=2020-06-30-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "18",
        "ETag": "W/\u00220x8D909A820B535FA\u0022",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://mohitc-acs.search.windows.net/$metadata#skillsets/$entity",
        "@odata.etag": "\u00220x8D909A820B535FA\u0022",
        "name": "xnonjilg",
        "description": "Update description",
        "skills": [
          {
            "@odata.type": "#Microsoft.Skills.Text.SplitSkill",
            "name": "#1",
            "description": null,
            "context": "/document/reviews_text",
            "defaultLanguageCode": "en",
            "textSplitMode": "pages",
            "maximumPageLength": 5000,
            "inputs": [
              {
                "name": "text",
                "source": "/document/reviews_text",
                "sourceContext": null,
                "inputs": []
              },
              {
                "name": "languageCode",
                "source": "/document/Language",
                "sourceContext": null,
                "inputs": []
              }
            ],
            "outputs": [
              {
                "name": "textItems",
                "targetName": "pages"
              }
            ]
          },
          {
            "@odata.type": "#Microsoft.Skills.Text.SentimentSkill",
            "name": "#2",
            "description": null,
            "context": "/document/reviews_text/pages/*",
            "defaultLanguageCode": "en",
            "inputs": [
              {
                "name": "text",
                "source": "/documents/reviews_text/pages/*",
                "sourceContext": null,
                "inputs": []
              },
              {
                "name": "languageCode",
                "source": "/document/Language",
                "sourceContext": null,
                "inputs": []
              }
            ],
            "outputs": [
              {
                "name": "score",
                "targetName": "Sentiment"
              }
            ]
          },
          {
            "@odata.type": "#Microsoft.Skills.Text.LanguageDetectionSkill",
            "name": "#3",
            "description": null,
            "context": "/document",
            "defaultCountryHint": null,
            "modelVersion": null,
            "inputs": [
              {
                "name": "text",
                "source": "/document/reviews_text",
                "sourceContext": null,
                "inputs": []
              }
            ],
            "outputs": [
              {
                "name": "languageCode",
                "targetName": "Language"
              }
            ]
          },
          {
            "@odata.type": "#Microsoft.Skills.Text.KeyPhraseExtractionSkill",
            "name": "#4",
            "description": null,
            "context": "/document/reviews_text/pages/*",
            "defaultLanguageCode": "en",
            "maxKeyPhraseCount": null,
            "modelVersion": null,
            "inputs": [
              {
                "name": "text",
                "source": "/documents/reviews_Text/pages/*",
                "sourceContext": null,
                "inputs": []
              },
              {
                "name": "languageCode",
                "source": "/document/Language",
                "sourceContext": null,
                "inputs": []
              }
            ],
            "outputs": [
             [...]
[...]
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/skillsets?$select=name\u0026api-version=2020-06-30-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "18",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://mohitc-acs.search.windows.net/$metadata#skillsets(name)",
        "value": [
          {
            "name": "fpmjeogx"
          },
          {
            "name": "lefvvewn"
          }
        ]
      }
    },
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/indexes(\u0027idwwbyqm\u0027)?api-version=2020-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "177"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "BlobContainerName": "dlahstcp",
    "RandomSeed": "1971078882",
    "SearchIndexName": "idwwbyqm",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": null,
    "SEARCH_SERVICE_NAME": "mohitc-acs",
    "SEARCH_STORAGE_KEY": "Sanitized",
    "SEARCH_STORAGE_NAME": "mohitcsablob",
    "STORAGE_ENDPOINT_SUFFIX": null
  }
}