{
  "Entries": [
    {
      "RequestUri": "https://azs-net-t50d8619e0b774b52.search.windows.net/datasources?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "tulnjsnj",
        "type": "azureblob",
        "credentials": {
          "connectionString": "DefaultEndpointsProtocol=https;AccountName=t50d8619e0b774b52stg;AccountKey=Sanitized;EndpointSuffix=core.windows.net"
        },
        "container": {
          "name": "pcrhjxub"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "55",
        "ETag": "W/\u00220x8D845369A5C1055\u0022",
        "Location": "https://azs-net-t50d8619e0b774b52.search.windows.net/datasources(\u0027tulnjsnj\u0027)?api-version=2020-06-30",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-t50d8619e0b774b52.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\u00220x8D845369A5C1055\u0022",
        "name": "tulnjsnj",
        "description": null,
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "pcrhjxub",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-t50d8619e0b774b52.search.windows.net/datasources(\u0027tulnjsnj\u0027)?api-version=2020-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u00220x8D845369A5C1055\u0022",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "tulnjsnj",
        "description": "Updated description",
        "type": "azureblob",
        "credentials": {
          "connectionString": "\u003Cunchanged\u003E"
        },
        "container": {
          "name": "pcrhjxub"
        },
        "@odata.etag": "\u00220x8D845369A5C1055\u0022"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "45",
        "ETag": "W/\u00220x8D845369A6F9D14\u0022",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-t50d8619e0b774b52.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\u00220x8D845369A6F9D14\u0022",
        "name": "tulnjsnj",
        "description": "Updated description",
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "pcrhjxub",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null
      }
    },
[...]
    {
      "RequestUri": "https://azs-net-t50d8619e0b774b52.search.windows.net/datasources?$select=name\u0026api-version=2020-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "13",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-t50d8619e0b774b52.search.windows.net/$metadata#datasources(name)",
        "value": [
          {
            "name": "frgsqbma"
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-t50d8619e0b774b52.search.windows.net/indexes(\u0027hofuulfp\u0027)?api-version=2020-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "539"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "BlobContainerName": "pcrhjxub",
    "RandomSeed": "12959464",
    "SearchIndexName": "hofuulfp",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-t50d8619e0b774b52",
    "SEARCH_STORAGE_KEY": "Sanitized",
    "SEARCH_STORAGE_NAME": "t50d8619e0b774b52stg"
  }
}