{
  "Entries": [
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/skillsets?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "fpmjeogx",
        "skills": [
          {
            "@odata.type": "#Microsoft.Skills.Util.ConditionalSkill",
            "inputs": [
              {
                "name": "condition",
                "source": "/document/content"
              },
              {
                "name": "whenTrue",
                "source": "/document/content"
              },
              {
                "name": "whenFalse",
                "source": "/document/content"
              }
            ],
            "outputs": [
              {
                "name": "output",
                "targetName": "lgnlkuyy"
              }
            ]
          },
          {
            "@odata.type": "#Microsoft.Skills.Text.EntityRecognitionSkill",
            "inputs": [
              {
                "name": "languageCode",
                "source": "/document/content"
              },
              {
                "name": "text",
                "source": "/document/content"
              }
            ],
            "outputs": [
              {
                "name": "persons",
             [...]
