{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11769"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tagValue1",
          "tagKey2": "tagValue2"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testservicebusRG-8713?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "tags": {
          "test": "env"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1184"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-8713",
        "name": "testservicebusRG-8713",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.ServiceBus/CheckNameAvailability?api-version=2021-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "testnamespacemgmt8371"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "nameAvailable": true,
        "reason": "None",
        "message": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-8713/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt8371?api-version=2021-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1183"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-8713/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt8371",
        "name": "testnamespacemgmt8371",
        "type": "Microsoft.ServiceBus/Namespaces",
        "location": "East US 2",
        "tags": {},
        "properties": {
          "disableLocalAuth": false,
          "zoneRedundant": false,
          "provisioningState": "Created",
          "metricId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c:testnamespacemgmt8371",
          "createdAt": "2021-12-02T09:23:50.203Z",
          "updatedAt": "2021-12-02T09:23:50.203Z",
          "serviceBusEndpoint": "https://testnamespacemgmt8371.servicebus.windows.net:443/",
          "status": "Activating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-8713/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt8371/topics/topic1595?api-version=2021-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1182"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-8713/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt8371/topics/topic1595",
        "name": "topic1595",
        "type": "Microsoft.ServiceBus/Namespaces/Topics",
        "location": "East US 2",
        "properties": {
          "maxMessageSizeInKilobytes": 256,
          "defaultMessageTimeToLive": "P10675199DT2H48M5.4775807S",
          "maxSizeInMegabytes": 1024,
          "requiresDuplicateDetection": false,
          "duplicateDetectionHistoryTimeWindow": "PT10M",
          "enableBatchedOperations": true,
          "sizeInBytes": 0,
          "status": "Active",
          "supportOrdering": true,
          "autoDeleteOnIdle": "P10675199DT2H48M5.4775807S",
          "enablePartitioning": false,
          "enableExpress": false,
          "createdAt": "2021-12-02T09:24:36.817Z",
          "updatedAt": "2021-12-02T09:24:36.97Z",
          "accessedAt": "0001-01-01T00:00:00",
          "subscriptionCount": 0,
          "countDetails": {
            "activeMessageCount": 0,
            "deadLetterMessageCount": 0,
            "scheduledMessageCount": 0,
            "transferMessageCount": 0,
            "transferDeadLetterMessageCount": 0
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-8713/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt8371/topics/topic1595/subscriptions/subscription2367?api-version=2021-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "lockDuration": "PT3M",
          "defaultMessageTimeToLive": "PT5M",
          "deadLetteringOnFilterEvaluationExceptions": true,
          "deadLetteringOnMessageExpiration": true,
          "maxDeliveryCount": 14,
          "status": "Active",
          "enableBatchedOperations": true,
          "autoDeleteOnIdle": "PT7M"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1181"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-8713/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt8371/topics/topic1595/subscriptions/subscription2367",
        "name": "subscription2367",
        "type": "Microsoft.ServiceBus/Namespaces/Topics/Subscriptions",
        "location": "East US 2",
        "properties": {
          "isClientAffine": false,
          "lockDuration": "PT3M",
          "requiresSession": false,
          "defaultMessageTimeToLive": "PT5M",
          "deadLetteringOnMessageExpiration": true,
          "deadLetteringOnFilterEvaluationExceptions": true,
          "messageCount": 0,
          "maxDeliveryCount": 14,
          "status": "Active",
          "enableBatchedOperations": true,
          "createdAt": "2021-12-02T09:24:39.9314465Z",
          "updatedAt": "2021-12-02T09:24:39.9314465Z",
          "accessedAt": "0001-01-01T00:00:00",
          "countDetails": {
            "activeMessageCount": 0,
            "deadLetterMessageCount": 0,
            "scheduledMessageCount": 0,
            "transferMessageCount": 0,
            "transferDeadLetterMessageCount": 0
          },
          "autoDeleteOnIdle": "PT7M"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-8713/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt8371/topics/topic1595/subscriptions?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-inline-count": "",
        "x-ms-ratelimit-remaining-subscription-reads": "11694"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-8713/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt8371/topics/topic1595/subscriptions/subscription2367",
            "name": "subscription2367",
            "type": "Microsoft.ServiceBus/Namespaces/Topics/Subscriptions",
            "location": "East US 2",
            "properties": {
              "isClientAffine": false,
              "lockDuration": "PT3M",
              "requiresSession": false,
              "defaultMessageTimeToLive": "PT5M",
              "deadLetteringOnMessageExpiration": true,
              "deadLetteringOnFilterEvaluationExceptions": true,
              "messageCount": 0,
              "maxDeliveryCount": 14,
              "status": "Active",
              "enableBatchedOperations": true,
              "createdAt": "2021-12-02T09:24:39.935394Z",
              "updatedAt": "2021-12-02T09:24:39.935394Z",
              "accessedAt": "2021-12-02T09:24:39.937Z",
              "countDetails": {
                "activeMessageCount": 0,
                "deadLetterMessageCount": 0,
                "scheduledMessageCount": 0,
                "transferMessageCount": 0,
                "transferDeadLetterMessageCount": 0
              },
              "autoDeleteOnIdle": "PT7M"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-8713/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt8371/topics/topic1595/subscriptions/subscription2367?api-version=2021-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "deadLetteringOnMessageExpiration": true,
          "enableBatchedOperations": true,
          "forwardTo": "topic6520",
          "forwardDeadLetteredMessagesTo": "topic6520"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1179"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-8713/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt8371/topics/topic1595/subscriptions/subs[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-8713/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt8371/topics/topic1595/subscriptions/subscription2367?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-reads": "11693"
      },
      "ResponseBody": {
        "error": {
          "message": "Entity \u0027testnamespacemgmt8371:Topic:topic1595|subscription2367\u0027 was not found. To know more visit https://aka.ms/sbResourceMgrExceptions.  TrackingId:aab88391-721a-476d-8931-ac99aea83c75_B6, SystemTracker:NoSystemTracker, Timestamp:2021-12-02T09:24:49 CorrelationId: 4190cbb5-a348-4631-9c83-8fee4962f239",
          "code": "NotFound"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-8713/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt8371?api-version=2021-06-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-8713/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt8371/operationresults/testnamespacemgmt8371?api-version=2021-06-01-preview",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-deletes": "14986"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-8713/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt8371/operationresults/testnamespacemgmt8371?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-8713/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt8371/operationresults/testnamespacemgmt8371?api-version=2021-06-01-preview",
        "Retry-After": "38",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-reads": "11692"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-8713/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt8371",
        "name": "testnamespacemgmt8371",
        "type": "Microsoft.ServiceBus/Namespaces",
        "location": "East US 2",
        "tags": {},
        "properties": {
          "disableLocalAuth": false,
          "zoneRedundant": false,
          "provisioningState": "Succeeded",
          "metricId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c:testnamespacemgmt8371",
          "createdAt": "2021-12-02T09:23:50.203Z",
          "updatedAt": "2021-12-02T09:24:54.723Z",
          "serviceBusEndpoint": "https://testnamespacemgmt8371.servicebus.windows.net:443/",
          "status": "Removing"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-8713/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt8371/operationresults/testnamespacemgmt8371?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "11691"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "678070605",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}