{
  "Entries": [
    {
      "RequestUri": "/bing/v7.0/spellcheck",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n \"_type\": \"SpellCheck\",\r\n \"flaggedTokens\": [\r\n{\r\n\"_type\": \"Spelling/FlaggedToken\",\r\n \"offset\": 5,\r\n \"token\": \"Gatas\",\r\n \"type\": \"UnknownToken\",\r\n \"suggestions\": [\r\n{\r\n \"_type\": \"Spelling/TokenSuggestion\",\r\n \"suggestion\": \"Gates\"\r\n, \"score\": 0.887992481895458\r\n}\r\n ]\r\n }\r\n ]\r\n }",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}