{
  "Entries": [
    {
      "RequestUri": "/subscriptions/cea1c7f1-fbb5-4f4e-9f6c-b33317a5a26b/resourceGroups/AzsGroup/providers/Microsoft.AzureStack/registrations?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/cea1c7f1-fbb5-4f4e-9f6c-b33317a5a26b/resourceGroups/AzsGroup/providers/Microsoft.AzureStack/registrations/TestRegistration\",\r\n      \"name\": \"TestRegistration\",\r\n      \"type\": \"Microsoft.AzureStack/registrations\",\r\n      \"etag\": \"\\\"040091c4-0000-0600-0000-5cf50ddf0000\\\"\",\r\n      \"location\": \"global\",\r\n      \"properties\": {\r\n        \"cloudId\": \"cloud1\",\r\n        \"objectId\": \"cfcaef15-bb27-4b6e-9752-c332532a8802\",\r\n        \"billingModel\": \"Development\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/cea1c7f1-fbb5-4f4e-9f6c-b33317a5a26b/resourceGroups/AzsGroup/providers/Microsoft.AzureStack/registrations/TestRegistration?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/cea1c7f1-fbb5-4f4e-9f6c-b33317a5a26b/resourceGroups/AzsGroup/providers/Microsoft.AzureStack/registrations/TestRegistration\",\r\n  \"name\": \"TestRegistration\",\r\n  \"type\": \"Microsoft.AzureStack/registrations\",\r\n  \"etag\": \"\\\"040091c4-0000-0600-0000-5cf50ddf0000\\\"\",\r\n  \"location\": \"global\",\r\n  \"properties\": {\r\n    \"cloudId\": \"cloud1\",\r\n    \"objectId\": \"cfcaef15-bb27-4b6e-9752-c332532a8802\",\r\n    \"billingModel\": \"Development\"\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "cea1c7f1-fbb5-4f4e-9f6c-b33317a5a26b"
  }
}