{
  "Entries": [
    {
      "RequestUri": "/subscriptions/cea1c7f1-fbb5-4f4e-9f6c-b33317a5a26b/resourceGroups/AzsGroup/providers/Microsoft.AzureStack/registrations/TestRegistration/products?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/cea1c7f1-fbb5-4f4e-9f6c-b33317a5a26b/resourceGroups/AzsGroup/providers/Microsoft.AzureStack/registrations/TestRegistration/products/f5-networks.f5-big-ip-byolf5-big-ltm-2slot-byol-13.1.100000\",\r\n      \"name\": \"TestRegistration/f5-networks.f5-big-ip-byolf5-big-ltm-2slot-byol-13.1.100000\",\r\n      \"type\": \"Microsoft.AzureStack/registrations/products\",\r\n      \"properties\": {\r\n        \"displayName\": \"F5 BIG-IP VE – LTM/DNS   (BYOL, 2 Boot Locations)\",\r\n        \"publisherDisplayName\": \"F5 Networks\",\r\n        \"publisherIdentifier\": \"f5-networks\",\r\n        \"offer\": \"f5-big-ip-byol\",\r\n        \"offerVersion\": \"65\",\r\n        \"sku\": \"f5-big-ltm-2slot-byol\",\r\n        \"galleryItemIdentity\": \"f5-networks.f5-big-ip-byolf5-big-ltm-2slot-byol.1.0.2\",\r\n        \"iconUris\": {\r\n          \"hero\": \"https://azstmktprodwcu001.blob.core.windows.net/icons/27f57b98114242f782ea7c01a85dfb1c/Hero.png\",\r\n          \"large\": \"https://azstmktprodwcu001.blob.core.windows.net/icons/27f57b98114242f782ea7c01a85dfb1c/Large.png\",\r\n          \"wide\": \"https://azstmktprodwcu001.blob.core.windows.net/icons/27f57b98114242f782ea7c01a85dfb1c/Wide.png\",\r\n          \"medium\": \"https://azstmktprodwcu001.blob.core.windows.net/icons/27f57b98114242f782ea7c01a85dfb1c/Medium.png\",\r\n          \"small\": \"https://azstmktprodwcu001.blob.core.windows.net/icons/27f57b98114242f782ea7c01a85dfb1c/Small.png\"\r\n        },\r\n        \"payloadLength\": 45097489899,\r\n        \"productKind\": \"virtualMachine\",\r\n        \"productProperties\": {\r\n          \"version\": \"13.1.100000\"\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/cea1c7f1-fbb5-4f4e-9f6c-b33317a5a26b/resourceGroups/AzsGroup/providers/Microsoft.AzureStack/registrations/TestRegistration/products/bitnami.mongodbdefault-4.0.1807101011\",\r\n      \"name\": \"TestRegistration/bitnami.mongodbdefault-4.0.1807101011\",\r\n      \"type\": \"Microsoft.AzureStack/registrations/products\",\r\n      \"properties\": {\r\n        \"displayName\": \"MongoDB Certified by Bitnami\[...]
