{
  "Entries": [
    {
      "RequestUri": "/subscriptions/3c729b2a-4f86-4bb2-abe8-4b8647af156c/providers/Microsoft.Search/register?api-version=2016-09-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1188"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3c729b2a-4f86-4bb2-abe8-4b8647af156c/providers/Microsoft.Search\",\r\n  \"namespace\": \"Microsoft.Search\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"804f4a7a-7d6e-4df7-bf8c-e7f0106e16c2\",\r\n    \"roleDefinitionId\": \"20FA3191-87CF-4C3D-9510-74CCB594A310\"\r\n  },\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"searchServices\",\r\n      \"locations\": [\r\n        \"West US\",\r\n        \"East US\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2019-10-01-Preview\",\r\n        \"2015-08-19\",\r\n        \"2015-02-28\",\r\n        \"2014-07-31-Preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove, SystemAssignedResourceIdentity\"\r\n    },\r\n    {\r\n      \"resourceType\": \"searchServicesCit\",\r\n      \"locations\": [\r\n        \"West US\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2019-10-01-Preview\",\r\n        \"2015-08-19\",\r\n        \"2015-02-28\",\r\n        \"2014-07-31-Preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove, SystemAssignedRe[...]
    {
      "RequestUri": "/subscriptions/3c729b2a-4f86-4bb2-abe8-4b8647af156c/resourcegroups/azsmnet9608?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1190"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3c729b2a-4f86-4bb2-abe8-4b8647af156c/resourceGroups/azsmnet9608\",\r\n  \"name\": \"azsmnet9608\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/3c729b2a-4f86-4bb2-abe8-4b8647af156c/resourceGroups/azsmnet9608/providers/Microsoft.Search/searchServices/azs-4819?api-version=2019-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"free\"\r\n  },\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"datetime'2020-01-23T02%3A47%3A30.3526933Z'\""
        ],
        "elapsed-time": [
          "1531"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3c729b2a-4f86-4bb2-abe8-4b8647af156c/resourceGroups/azsmnet9608/providers/Microsoft.Search/searchServices/azs-4819\",\r\n  \"name\": \"azs-4819\",\r\n  \"type\": \"Microsoft.Search/searchServices\",\r\n  \"location\": \"West US\",\r\n  \"properties\": {\r\n    \"replicaCount\": 1,\r\n    \"partitionCount\": 1,\r\n    \"status\": \"running\",\r\n    \"statusDetails\": \"\",\r\n    \"provisioningState\": \"succeeded\",\r\n    \"hostingMode\": \"Default\",\r\n    \"networkRuleSet\": {\r\n      \"endpointAccess\": \"Public\",\r\n      \"ipRules\": [],\r\n      \"bypass\": \"None\"\r\n    },\r\n    \"privateEndpointConnections\": []\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"free\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/3c729b2a-4f86-4bb2-abe8-4b8647af156c/resourceGroups/azsmnet9608/providers/Microsoft.Search/searchServices/azs-4819/listAdminKeys?api-version=2019-10-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "elapsed-time": [
          "218"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"primaryKey\": \"BD5C59DD9213D51F53800FC232343A44\",\r\n  \"secondaryKey\": \"4B27C635732BD1CD74C9352FE5C3A00F\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/3c729b2a-4f86-4bb2-abe8-4b8647af156c/resourceGroups/azsmnet9608/providers/Microsoft.Search/searchServices/azs-4819/listQueryKeys?api-version=2019-10-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "elapsed-time": [
          "264"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": null,\r\n      \"key\": \"007EAB859F8E024019518886B005B794\"\r\n    }\r\n  ],\r\n  \"nextLink\": null\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/indexes?api-version=2019-05-06",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"azsmnet3524\",\r\n  \"fields\": [\r\n    {\r\n      \"name\": \"feature_id\",\r\n      \"type\": \"Edm.String\",\r\n      \"key\": true,\r\n      \"retrievable\": true,\r\n      \"searchable\": false,\r\n      \"filterable\": false,\r\n      \"sortable\": false,\r\n      \"facetable\": false\r\n    },\r\n    {\r\n      \"name\": \"feature_name\",\r\n      \"type\": \"Edm.String\",\r\n      \"key\": false,\r\n      \"retrievable\": true,\r\n      \"searchable\": true,\r\n      \"filterable\": true,\r\n      \"sortable\": false,\r\n      \"facetable\": false\r\n    },\r\n    {\r\n      \"name\": \"feature_class\",\r\n      \"type\": \"Edm.String\",\r\n      \"key\": false,\r\n      \"retrievable\": true,\r\n      \"searchable\": false,\r\n      \"filterable\": false,\r\n      \[...]
    {
      "RequestUri": "/datasources?api-version=2019-05-06",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"azsmnet9385\",\r\n  \"type\": \"azuresql\",\r\n  \"credentials\": {\r\n    \"connectionString\": \"Server=tcp:azs-playground.database.windows.net,1433;Database=usgs;User ID=reader;Password=EdrERBt3j6mZDP;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;\"\r\n  },\r\n  \"container\": {\r\n    \"name\": \"GeoNamesRI\"\r\n  }\r\n}",
      "RequestHeaders": {
        "api-key": [
          "BD5C59DD9213D51F53800FC232343A44"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"0x8D79FAE9B17ED50\""
        ],
        "Location": [
          "https://azs-4819.search-dogfood.windows-int.net/datasources('azsmnet9385')?api-version=2019-05-06"
        ],
        "elapsed-time": [
          "41"
        ],
        "OData-Version": [
          "4.0"
        ],
        "Preference-Applied": [
          "odata.include-annotations=\"*\""
        ],
        "Content-Type": [
          "application/json; odata.metadata=minimal"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://azs-4819.search-dogfood.windows-int.net/$metadata#datasources/$entity\",\r\n  \"@odata.etag\": \"\\\"0x8D79FAE9B17ED50\\\"\",\r\n  \"name\": \"azsmnet9385\",\r\n  \"description\": null,\r\n  \"type\": \"azuresql\",\r\n  \"subtype\": null,\r\n  \"credentials\": {\r\n    \"connectionString\": null\r\n  },\r\n  \"container\": {\r\n    \"name\": \"GeoNamesRI\",\r\n    \"query\": null\r\n  },\r\n  \"dataChangeDetectionPolicy\": null,\r\n  \"dataDeletionDetectionPolicy\": null\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/indexers?api-version=2019-05-06",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"azsmnet2029\",\r\n  \"dataSourceName\": \"azsmnet9385\",\r\n  \"targetIndexName\": \"azsmnet3524\",\r\n  \"schedule\": {\r\n    \"interval\": \"P1D\"\r\n  },\r\n  \"fieldMappings\": [\r\n    {\r\n      \"sourceFieldName\": \"feature_class\",\r\n      \"targetFieldName\": \"feature_class\",\r\n      \"mappingFunction\": {\r\n        \"name\": \"base64Encode\"\r\n      }\r\n    },\r\n    {\r\n      \"sourceFieldName\": \"state_alpha\",\r\n      \"targetFieldName\": \"state\",\r\n      \"mappingFunction\": {\r\n        \"name\": \"urlEncode\"\r\n      }\r\n    },\r\n    {\r\n      \"sourceFieldName\": \"county_name\",\r\n      \"targetFieldName\": \"county_name\",\r\n      \"mappingFunction\": {\r\n        \"name\": \"extractTokenAtPosition\",\r\n        \"parameters\": {\r\n          \"delimiter\": \" \",\r\n          \"position\": 0\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"sourceFieldName\": \"elev_in_m\",\r\n      \"targetFieldName\": \"elevation\",\r\n      \"mappingFunction\": {\r\n        \"name\": \"urlDecode\"\r\n      }\r\n    },\r\n    {\r\n      \"sourceFieldName\": \"map_name\",\r\n      \"targetFieldName\": \"map_name\",\r\n      \"mappingFunction\": {\r\n        \"name\": \"base64Decode\"\r\n      }\r\n    },\r\n    {\r\n      \"sourceFieldName\": \"history\",\r\n      \"targetFieldName\": \"hist[...]
    {
      "RequestUri": "/indexers('azsmnet2029')/search.reset?api-version=2019-05-06",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "api-key": [
          "BD5C59DD9213D51F53800FC232343A44"
        ]
      },
      "ResponseHeaders": {
        "elapsed-time": [
          "281"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
    {
      "RequestUri": "/indexers('azsmnet2029')/search.status?api-version=2019-05-06",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "api-key": [
          "BD5C59DD9213D51F53800FC232343A44"
        ]
      },
      "ResponseHeaders": {
        "elapsed-time": [
          "11"
        ],
        "OData-Version": [
          "4.0"
        ],
        "Preference-Applied": [
          "odata.include-annotations=\"*\""
        ],
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://azs-4819.search-dogfood.windows-int.net/$metadata#Microsoft.Azure.Search.V2019_05_06.IndexerExecutionInfo\",\r\n  \"name\": \"azsmnet2029\",\r\n  \"status\": \"running\",\r\n  \"lastResult\": {\r\n    \"status\": \"reset\",\r\n    \"errorMessage\": null,\r\n    \"startTime\": \"2020-01-23T02:47:39.358Z\",\r\n    \"endTime\": \"2020-01-23T02:47:39.358Z\",\r\n    \"itemsProcessed\": 0,\r\n    \"itemsFailed\": 0,\r\n    \"initialTrackingState\": null,\r\n    \"finalTrackingState\": null,\r\n    \"errors\": [],\r\n    \"warnings\": [],\r\n    \"metrics\": null\r\n  },\r\n  \"executionHistory\": [\r\n    {\r\n      \"status\": \"reset\",\r\n      \"errorMessage\": null,\r\n      \"startTime\": \"2020-01-23T02:47:39.358Z\",\r\n      \"endTime\": \"2020-01-23T02:47:39.358Z\",\r\n      \"itemsProcessed\": 0,\r\n      \"itemsFailed\": 0,\r\n      \"initialTrackingState\": null,\r\n      \"finalTrackingState\": null,\r\n      \"errors\": [],\r\n      \"warnings\": [],\r\n      \"metrics\": null\r\n    }\r\n  ],\r\n  \"limits\": null\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/3c729b2a-4f86-4bb2-abe8-4b8647af156c/resourceGroups/azsmnet9608/providers/Microsoft.Search/searchServices/azs-4819?api-version=2019-10-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "elapsed-time": [
          "1069"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14991"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "GenerateName": [
      "azsmnet9608",
      "azsmnet3524",
      "azsmnet9385",
      "azsmnet2029"
    ],
    "GenerateServiceName": [
      "azs-4819"
    ]
  },
  "Variables": {
    "SubscriptionId": "3c729b2a-4f86-4bb2-abe8-4b8647af156c"
  }
}