{
  "Entries": [
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
        "RequestHeaders": {
            "Authorization": "Sanitized",
            "Content-Type": "application/json",
            "x-ms-content-sha256": "Sanitized",
            "x-ms-date": "Wed, 16 Jun 2021 02:50:24 GMT"
        },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ekKTkoxIGUSgHaoVZHgOqQ.0",
        "X-Processing-Time": "79ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:016a7064-0581-40b9-be73-6dde64d69d72_0000000a-b29b-bde8-71bf-a43a0d00aaf1"
        }
      }
    },
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/callConnections?api-version=2021-06-15-preview",
      "RequestMethod": "POST",
        "RequestHeaders": {
            "Authorization": "Sanitized",
            "Content-Type": "application/json",
            "x-ms-content-sha256": "Sanitized",
            "x-ms-date": "Wed, 16 Jun 2021 02:50:24 GMT"
        },
      "RequestBody": {
        "alternateCallerId": {
          "value": "Sanitized"
        },
        "targets": [
          {
            "phoneNumber": {
              "value": "Sanitized"
            }
          }
        ],
        "source": {
          "communicationUser": {
            "id": "8:acs:016a7064-0581-40b9-be73-6dde64d69d72_0000000a-b29b-bde8-71bf-a43a0d00aaf1"
          }
        },
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "requestedMediaTypes": [
          "audio"
        ],
        "requestedCallEvents": [
          "participantsUpdated",
          "dtmfReceived"
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "09ee466e-f5c7-4654-aebc-f11bfcf30e2b"
      },
      "ResponseBody": {
        "callLegId": "01201300-3da1-4b5a-a4a9-8a91311037b7",
        "callConnectionId": "01201300-3da1-4b5a-a4a9-8a91311037b7"
      }
    },
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/callConnections/01201300-3da1-4b5a-a4a9-8a91311037b7/:playAudio?api-version=2021-06-15-preview",
      "RequestMethod": "POST",
        "RequestHeaders": {
            "Authorization": "Sanitized",
            "Content-Type": "application/json",
            "x-ms-content-sha256": "Sanitized",
            "x-ms-date": "Wed, 16 Jun 2021 02:50:34 GMT"
        },
      "RequestBody": {
        "audioFileUri": "https://dummy.ngrok.io/audio/sample-message.wav",
        "loop": false,
        "operationContext": "de346f03-7f8d-41ab-a232-cc5e14990769",
        "audioFileId": "ebb1d98d-fd86-4204-800c-f7bdfc2e515c"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "f4f5a7e9-4240-4a0c-b510-e30c27fbc358"
      },
      "ResponseBody": {
        "operationId": "c2123c45-5032-425a-9883-4742f8d74722",
        "status": "running",
        "operationContext": "de346f03-7f8d-41ab-a232-cc5e14990769"
      }
    },
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/callConnections/01201300-3da1-4b5a-a4a9-8a91311037b7/:cancelAllMediaOperations?api-version=2021-06-15-preview",
      "RequestMethod": "POST",
        "RequestHeaders": {
            "Authorization": "Sanitized",
            "Content-Type": "application/json",
            "x-ms-content-sha256": "Sanitized",
            "x-ms-date": "Wed, 16 Jun 2021 02:50:46 GMT"
        },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "323a1e39-8413-4e5b-9363-25f9e9add274"
      },
      "ResponseBody": {
        "operationId": "819edd7b-e769-4f4f-a1de-084beb66d8fe",
        "status": "completed"
      }
    },
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/callConnections/01201300-3da1-4b5a-a4a9-8a91311037b7/:hangup?api-version=2021-06-15-preview",
      "RequestMethod": "POST",
        "RequestHeaders": {
            "Authorization": "Sanitized",
            "x-ms-content-sha256": "Sanitized",
            "x-ms-date": "Wed, 16 Jun 2021 02:50:56 GMT"
        },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "a08d69d9-faf1-4e30-997e-7894ba55d133"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "ALTERNATE_CALLERID": "Sanitized",
    "AZURE_PHONE_NUMBER": "Sanitized",
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://acstestbot1.communication.azure.com/;accesskey=Kg==",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://acstestbot1.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1479243591"
  }
}
