{
  "Entries": [
    {
      "RequestUri": "https://acs-app-validations.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 28 Dec 2021 08:22:54 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1, 2021-10-31-preview, 2021-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "aj/ff4T9dkCAy1IU/E6ayQ.2.0",
        "X-Processing-Time": "211ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
    {
      "RequestUri": "https://acs-app-validations.communication.azure.com/calling/callConnections?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 28 Dec 2021 08:22:55 GMT"
      },
      "RequestBody": {
        "alternateCallerId": {
          "value": "Sanitized"
        },
        "targets": [
          {
            "phoneNumber": {
              "value": "Sanitized"
            }
          }
        ],
        "source": {
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "requestedMediaTypes": [
          "audio"
        ],
        "requestedCallEvents": [
          "participantsUpdated",
          "toneReceived"
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "f5173231-91df-42d8-9c33-58bb8e754871"
      },
      "ResponseBody": {
        "callConnectionId": "Sanitized"
      }
    },
    {
      "RequestUri": "https://acs-app-validations.communication.azure.com/calling/callConnections/Sanitized/participants?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 28 Dec 2021 08:23:09 GMT"
      },
      "RequestBody": {
        "participant": {
          "communicationUser": {
            "id": "Sanitized"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "f5173231-91df-42d8-9c33-58bb8e754871"
      },
      "ResponseBody": {
        "operationId": "5f5d04c9-71ab-4695-9a76-8fbde250c555",
        "status": "running"
      }
    },
    {
      "RequestUri": "https://acs-app-validations.communication.azure.com/calling/callConnections/Sanitized/participants:addToDefaultAudioGroup?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 28 Dec 2021 08:23:21 GMT"
      },
      "RequestBody": {
        "identifier": {
          "communicationUser": {
            "id": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "f5173231-91df-42d8-9c33-58bb8e754871"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://acs-app-validations.communication.azure.com/calling/callConnections/Sanitized/:createAudioGroup?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 28 Dec 2021 08:23:34 GMT"
      },
      "RequestBody": {
        "audioRoutingMode": "multicast",
        "targets": [
          {
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "f5173231-91df-42d8-9c33-58bb8e754871"
      },
      "ResponseBody": {
        "audioGroupId": "329f06b9-1d2a-4cf4-8653-cfb6b0cde473"
      }
    },
    {
      "RequestUri": "https://acs-app-validations.communication.azure.com/calling/callConnections/Sanitized/audioGroups/329f06b9-1d2a-4cf4-8653-cfb6b0cde473?api-version=2021-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 28 Dec 2021 08:23:36 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "f5173231-91df-42d8-9c33-58bb8e754871"
      },
      "ResponseBody": {
        "audioRoutingMode": "multicast",
        "targets": [
          {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://acs-app-validations.communication.azure.com/calling/callConnections/Sanitized/participants:removeFromDefaultAudioGroup?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 28 Dec 2021 08:24:09 GMT"
      },
      "RequestBody": {
        "identifier": {
          "communicationUser": {
            "id": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "f5173231-91df-42d8-9c33-58bb8e754871"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://acs-app-validations.communication.azure.com/calling/callConnections/Sanitized/participants:remove?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 28 Dec 2021 08:24:11 GMT"
      },
      "RequestBody": {
        "identifier": {
          "communicationUser": {
            "id": "Sanitized"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "f5173231-91df-42d8-9c33-58bb8e754871"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://acs-app-validations.communication.azure.com/calling/callConnections/Sanitized/:hangup?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 28 Dec 2021 08:24:15 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "f5173231-91df-42d8-9c33-58bb8e754871"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "ALTERNATE_CALLERID": "Sanitized",
    "AZURE_PHONE_NUMBER": "Sanitized",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://acs-app-validations.communication.azure.com/;accesskey=Kg==",
    "COMMUNICATION_LIVETEST_STATIC_RESOURCE_IDENTIFIER": "Sanitized",
    "RandomSeed": "1055126312"
  }
}