{
  "Entries": [
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 26 Aug 2021 17:46:35 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1, 2021-10-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "PduxV\u002BEpX0ONWpvU/ZRoAg.0",
        "X-Processing-Time": "82ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:016a7064-0581-40b9-be73-6dde64d69d72_0000000c-2373-c2aa-47b4-a43a0d0049a8"
        }
      }
    },
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/callConnections?api-version=2021-08-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 26 Aug 2021 17:46:36 GMT"
      },
      "RequestBody": {
        "alternateCallerId": {
          "value": "Sanitized"
        },
        "targets": [
          {
            "phoneNumber": {
              "value": "Sanitized"
            }
          }
        ],
        "source": {
          "communicationUser": {
            "id": "8:acs:016a7064-0581-40b9-be73-6dde64d69d72_0000000c-2373-c2aa-47b4-a43a0d0049a8"
          }
        },
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "requestedMediaTypes": [
          "audio"
        ],
        "requestedCallEvents": [
          "participantsUpdated",
          "dtmfReceived"
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "2581104d-2a88-4b64-8dd6-493cbcf686b7"
      },
      "ResponseBody": {
        "callConnectionId": "00000b80-2c02-4820-968e-ec00fce7cb3b"
      }
    },
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/callConnections/00000b80-2c02-4820-968e-ec00fce7cb3b/:playAudio?api-version=2021-08-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 26 Aug 2021 17:46:46 GMT"
      },
      "RequestBody": {
        "audioFileUri": "https://dummy.ngrok.io/audio/sample-message.wav",
        "loop": false,
        "operationContext": "de346f03-7f8d-41ab-a232-cc5e14990769",
        "audioFileId": "ebb1d98d-fd86-4204-800c-f7bdfc2e515c"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "cc29216e-ec56-48b1-85b3-d4bd706da0d3"
      },
      "ResponseBody": {
        "operationId": "b5f548fc-c536-4145-9b0d-eabeba0e6503",
        "status": "running",
        "operationContext": "de346f03-7f8d-41ab-a232-cc5e14990769"
      }
    },
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/callConnections/00000b80-2c02-4820-968e-ec00fce7cb3b/:cancelAllMediaOperations?api-version=2021-08-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 26 Aug 2021 17:46:56 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "0c056192-1743-420b-9c0f-397c11feffc6"
      },
      "ResponseBody": {
        "operationId": "7a52636a-987e-45ae-ac06-2dc241924e00",
        "status": "completed"
      }
    },
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/callConnections/00000b80-2c02-4820-968e-ec00fce7cb3b/:hangup?api-version=2021-08-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 26 Aug 2021 17:47:07 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "97acf7e7-f0ed-4a5a-bead-9fd420c3b00e"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "ALTERNATE_CALLERID": "Sanitized",
    "AZURE_PHONE_NUMBER": "Sanitized",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://acstestbot1.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1479243591"
  }
}