{
  "Entries": [
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Dec 2021 05:56:23 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1, 2021-10-31-preview, 2021-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "9NeHbDd7D02nSbj5LE48GQ.2.0",
        "X-Processing-Time": "212ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/callConnections?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Dec 2021 05:56:25 GMT"
      },
      "RequestBody": {
        "alternateCallerId": {
          "value": "Sanitized"
        },
        "targets": [
          {
            "phoneNumber": {
              "value": "Sanitized"
            }
          }
        ],
        "source": {
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "requestedMediaTypes": [
          "audio"
        ],
        "requestedCallEvents": [
          "participantsUpdated",
          "toneReceived"
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "19f07459-a321-4153-94a2-ae175fda5500"
      },
      "ResponseBody": {
        "callConnectionId": "Sanitized"
      }
    },
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/callConnections/Sanitized/participants?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Dec 2021 05:56:41 GMT"
      },
      "RequestBody": {
        "participant": {
          "communicationUser": {
            "id": "Sanitized"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "a3c3d469-956a-4925-903f-2f373e65fa30"
      },
      "ResponseBody": {
        "operationId": "3fc96718-a92f-4404-8ea4-deb76e0be241",
        "status": "running"
      }
    },
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/callConnections/Sanitized?api-version=2021-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Dec 2021 05:56:56 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "5c8aadf8-5fae-4d97-a6d4-a7736491d12b"
      },
      "ResponseBody": {
        "callConnectionId": "Sanitized",
        "source": {
          "rawId": "Sanitized",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "alternateCallerId": {
          "value": "\u002B18334241267"
        },
        "targets": [
          {
            "rawId": "Sanitized",
            "phoneNumber": {
              "value": "\u002B918009724858"
            }
          }
        ],
        "callConnectionState": "connected",
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "requestedMediaTypes": [
          "audio"
        ],
        "requestedCallEvents": [
          "toneReceived",
          "participantsUpdated"
        ],
        "callLocator": {
          "serverCallId": "aHR0cHM6Ly94LWNvbnYtdXN3ZS0wMS5jb252LnNreXBlLmNvbS9jb252L1FrcXg3YXBWblVtVGpQQmFPS0RhSnc_aT0yJmU9NjM3NzIzMDk2MTczNjc4OTg0",
          "kind": "serverCallLocator"
        }
      }
    },
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/callConnections/Sanitized/participants:holdMeetingAudio?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Dec 2021 05:57:06 GMT"
      },
      "RequestBody": {
        "identifier": {
          "communicationUser": {
            "id": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "3c3c2883-32c0-4860-8072-59d1164a98f9"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/callConnections/Sanitized/participants:resumeMeetingAudio?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Dec 2021 05:57:17 GMT"
      },
      "RequestBody": {
        "identifier": {
          "communicationUser": {
            "id": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "eb15c82a-3058-4d18-888b-afb6a0565bb9"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/callConnections/Sanitized/participants:remove?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Dec 2021 05:57:28 GMT"
      },
      "RequestBody": {
        "identifier": {
          "communicationUser": {
            "id": "Sanitized"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "84d28917-f8dc-4aaf-8203-a251857ded6a"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/callConnections/Sanitized/:hangup?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Dec 2021 05:57:39 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "ec36fb51-5b10-42df-b8ca-ce134811beb8"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "ALTERNATE_CALLERID": "Sanitized",
    "AZURE_PHONE_NUMBER": "Sanitized",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://acstelephonyportaltesting.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1654778087",
    "USER_IDENTIFIER": "Sanitized"
  }
}