{
  "Entries": [
    {
      "RequestUri": "/a5aa5997-33e5-46cc-8ab8-8bd89b76b7ba/cloudservices/RecoveryServices-T2RMT6H7QF7AENS66ZV7KS2QZA2BXRAUPOECQXGXX2Q4V3VQ6MUQ-West-US/resources/WAHyperVRecoveryManager/~/HyperVRecoveryManagerVault/Hosters-FC-BVT-Vault/Jobs?api-version=2015-04-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-03-01"
        ]
      },
      "ResponseBody": "<ArrayOfJob xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Job>\r\n    <ID>a70604de-0ed7-4f7a-9748-1b2b980a8288</ID>\r\n    <ActivityId>896c1f50-07a3-48a0-aab2-9c85acfc9520</ActivityId>\r\n    <AllowedActions xmlns:d3p1=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\" />\r\n    <DisplayName>Create a site</DisplayName>\r\n    <EndTime>2015-04-10T05:04:48Z</EndTime>\r\n    <Errors />\r\n    <Name>CreateSite</Name>\r\n    <StartTime>2015-04-10T05:04:47.7865915Z</StartTime>\r\n    <State>Succeeded</State>\r\n    <StateDescription>Completed</StateDescription>\r\n    <TargetObjectId>1a3e3e04-78fb-4eb7-877b-b48565ac16f7</TargetObjectId>\r\n    <TargetObjectName>TestSite123_HyperVSite</TargetObjectName>\r\n    <TargetObjectType>Server</TargetObjectType>\r\n    <Tasks>\r\n      <Task>\r\n        <ID>RegisterVMMTask</ID>\r\n        <Name>Registering the server</Name>\r\n        <Actions xmlns:d5p1=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\" />\r\n        <ChildJobId i:nil=\"true\" />\r\n        <EndTime>2015-04-10T05:04:48.8959679Z</EndTime>\r\n        <ExtendedDetails>&lt;Task xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://schemas.microsoft.com/windowsazure\"&gt;\r\n  &lt;ID i:nil=\"true\" /&gt;\r\n  &lt;Name i:nil=\"true\" /&gt;\r\n  &lt;Actions xmlns:d2p1=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\" i:nil=\"true\" /&gt;\r\n  &lt;ChildJobId i:nil=\"true\" /&gt;\r\n  &lt;EndTime&gt;0001-01-01T00:00:00&lt;/EndTime&gt;\r\n  &lt;ExtendedDetails i:nil=\"true\" /&gt;\r\n  &lt;StartTime&gt;0001-01-01T00:00:00&lt;/StartTime&gt;\r\n  &lt;State i:nil=\"true\" /&gt;\r\n  &lt;StateDescription i:nil=\"true\" /&gt;\r\n  &lt;TaskType i:nil=\"true\" /&gt;\r\n&lt;/Task&gt;</ExtendedDetails>\r\n        <StartTime>2015-04-10T05:04:48.8334507Z</StartTime>\r\n        <State>Succeeded</State>\r\n        <StateDescription>Completed</StateDescription>\r\n        <TaskType>TaskDetails</TaskType>\r\n      </Task>\r\n    </Tasks>\r\n  </Job>\r\n  <Job>\r\n    <ID>caf27a0b-ae24-4fea-b9b5-b0e73c383853</ID>\r\n    <ActivityId>7f30924c-efee-4d70-ae5d-b99177c72761</ActivityId>\r\n    <AllowedActions xmlns:d3p1=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\r\n      <d3p1:string>Cancel</d3p1:string>\r\n      <d3p1:string>Restart</d3p1:string>\r\n    </AllowedActions>\r\n    <DisplayName>Remove map</DisplayName>\r\n    <EndTime>2015-04-10T04:59:53Z</EndTime>\r\n    <Errors />\r\n    <Name>NetworkUnPairing</Name>\r\n    <StartTime>2015-04-10T04:59:50.6853785Z</StartTime>\r\n    <State>Succeeded</State>\r\n    <StateDescription>Completed</StateDescription>\r\n    <TargetObjectId>07a3a84b-09aa-4c16-888c-05003ce0ce68</TargetObjectId>\r\n    <TargetObjectName>phase2RecoveryVM[...]
    {
      "RequestUri": "/a5aa5997-33e5-46cc-8ab8-8bd89b76b7ba/cloudservices/RecoveryServices-T2RMT6H7QF7AENS66ZV7KS2QZA2BXRAUPOECQXGXX2Q4V3VQ6MUQ-West-US/resources/WAHyperVRecoveryManager/~/HyperVRecoveryManagerVault/Hosters-FC-BVT-Vault/Jobs?api-version=2015-04-10&ObjectId=1a3e3e04-78fb-4eb7-877b-b48565ac16f7",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-03-01"
        ]
      },
      "ResponseBody": "<ArrayOfJob[...]
