{
  "Entries": [
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/sqlPools?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "status": "Paused",
              "maxSizeBytes": 263882790666240,
              "collation": "SQL_Latin1_General_CP1_CI_AS",
              "restorePointInTime": "0001-01-01T00:00:00",
              "creationDate": "2020-12-21T08:27:23.163Z",
              "storageAccountType": "GRS",
              "sourceDatabaseDeletionDate": "0001-01-01T00:00:00",
              "provisioningState": "Succeeded"
            },
            "sku": {
              "name": "DW200c",
              "capacity": 0
            },
            "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/sqlPools/dwnewpool1221",
            "name": "dwnewpool1221",
            "type": "Microsoft.Synapse/workspaces/sqlPools",
            "location": "eastus",
            "tags": {}
          },
          {
            "properties": {
              "status": "Paused",
              "maxSizeBytes": 263882790666240,
              "collation": "SQL_Latin1_General_CP1_CI_AS",
              "restorePointInTime": "0001-01-01T00:00:00",
              "creationDate": "2020-12-30T06:49:25.41Z",
              "storageAccountType": "GRS",
              "sourceDatabaseDeletionDate": "0001-01-01T00:00:00",
              "provisioningState": "Succeeded"
            },
            "sk[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/sqlPools/dwnewpool1221?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "properties": {
          "status": "Paused",
          "maxSizeBytes": 263882790666240,
          "collation": "SQL_Latin1_General_CP1_CI_AS",
          "restorePointInTime": "0001-01-01T00:00:00",
          "creationDate": "2020-12-21T08:27:23.163Z",
          "storageAccountType": "GRS",
          "sourceDatabaseDeletionDate": "0001-01-01T00:00:00",
          "provisioningState": "Succeeded"
        },
        "sku": {
          "name": "DW200c",
          "capacity": 0
        },
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/sqlPools/dwnewpool1221",
        "name": "dwnewpool1221",
        "type": "Microsoft.Synapse/workspaces/sqlPools",
        "location": "eastus",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/sqlPools/dwtest1034?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "properties": {
          "status": "Paused",
          "maxSizeBytes": 263882790666240,
          "collation": "SQL_Latin1_General_CP1_CI_AS",
          "restorePointInTime": "0001-01-01T00:00:00",
          "creationDate": "2020-12-30T06:49:25.41Z",
          "storageAccountType": "GRS",
          "sourceDatabaseDeletionDate": "0001-01-01T00:00:00",
          "provisioningState": "Succeeded"
        },
        "sku": {
          "name": "DW200c",
          "capacity": 0
        },
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/sqlPools/dwtest1034",
        "name": "dwtest1034",
        "type": "Microsoft.Synapse/workspaces/sqlPools",
        "location": "eastus"
      }
    },
[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/sqlPools/dwtestbackup?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "properties": {
          "status": "Paused",
          "maxSizeBytes": 263882790666240,
          "collation": "SQL_Latin1_General_CP1_CI_AS",
          "restorePointInTime": "0001-01-01T00:00:00",
          "creationDate": "2021-01-11T11:33:42.26Z",
          "storageAccountType": "GRS",
          "sourceDatabaseDeletionDate": "0001-01-01T00:00:00",
          "provisioningState": "Succeeded"
        },
        "sku": {
          "name": "DW400c",
          "capacity": 0
        },
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/sqlPools/dwtestbackup",
        "name": "dwtestbackup",
        "type": "Microsoft.Synapse/workspaces/sqlPools",
        "location": "eastus",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/sqlPools/ps3416?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "properties": {
          "status": "Paused",
          "maxSizeBytes": 263882790666240,
          "collation": "SQL_Latin1_General_CP1_CI_AS",
          "restorePointInTime": "0001-01-01T00:00:00",
          "creationDate": "2021-01-12T04:57:02.723Z",
          "storageAccountType": "GRS",
          "sourceDatabaseDeletionDate": "0001-01-01T00:00:00",
          "provisioningState": "Succeeded"
        },
        "sku": {
          "name": "DW200c",
          "capacity": 0
        },
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/sqlPools/ps3416",
        "name": "ps3416",
        "type": "Microsoft.Synapse/workspaces/sqlPools",
        "location": "eastus"
      }
    },
[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/sqlPools/restorepool1?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "properties": {
          "status": "Paused",
          "maxSizeBytes": 263882790666240,
          "collation": "SQL_Latin1_General_CP1_CI_AS",
          "restorePointInTime": "0001-01-01T00:00:00",
          "creationDate": "2021-01-21T12:16:49.09Z",
          "storageAccountType": "GRS",
          "sourceDatabaseDeletionDate": "0001-01-01T00:00:00",
          "provisioningState": "Succeeded"
        },
        "sku": {
          "name": "DW200c",
          "capacity": 0
        },
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/sqlPools/restorepool1",
        "name": "restorepool1",
        "type": "Microsoft.Synapse/workspaces/sqlPools",
        "location": "eastus"
      }
    },
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/sqlPools/sqlpoolcli1?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "properties": {
          "status": "Paused",
          "maxSizeBytes": 263882790666240,
          "collation": "SQL_Latin1_General_CP1_CI_AS",
          "restorePointInTime": "0001-01-01T00:00:00",
          "creationDate": "2020-03-02T04:27:54.933Z",
          "storageAccountType": "GRS",
          "sourceDatabaseDeletionDate": "0001-01-01T00:00:00",
          "provisioningState": "Succeeded"
        },
        "sku": {
          "name": "DW1500c",
          "capacity": 0
        },
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/sqlPools/sqlpoolcli1",
        "name": "sqlpoolcli1",
        "type": "Microsoft.Synapse/workspaces/sqlPools",
        "location": "eastus"
      }
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://testsynapseworkspace.dev.azuresynapse.net",
    "RandomSeed": "1749395839"
  }
}