{
  "Entries": [
    {
      "RequestUri": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/providers/Microsoft.Chaos/locations/westus2/targetTypes/microsoft-cosmosdb/capabilityTypes/Failover-1.0?api-version=2021-09-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "49"
        ],
        "api-supported-versions": [
          "2021-09-15-preview"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"type\": \"Microsoft.Chaos/locations/targetTypes/capabilityTypes\",\r\n  \"id\": \"/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/providers/Microsoft.Chaos/locations/westus2/targetTypes/cosmosdb/capabilityTypes/Failover-1.0\",\r\n  \"name\": \"Failover-1.0\",\r\n  \"systemData\": {\r\n    \"createdAt\": \"1969-12-31T16:00:00-08:00\",\r\n    \"lastModifiedAt\": \"1969-12-31T16:00:00-08:00\",\r\n    \"createdByType\": \"Application\"\r\n  },\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"publisher\": \"Microsoft\",\r\n    \"targetType\": \"CosmosDB\",\r\n    \"displayName\": \"\",\r\n    \"description\": \"\",\r\n    \"parametersSchema\": \"https://schema-tc.westus2.chaos-test.azure.com/targetTypes/Microsoft-CosmosDB/capabilityTypes/Failover-1.0/parametersSchema.json\",\r\n    \"urn\": \"urn:csci:microsoft:cosmosDB:failover/1.0\"\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "fb74b135-894b-4c1d-9b2e-8a3c231abc14"
  }
}