{
  "Entries": [
    {
      "RequestUri": "/vision/v3.2/analyze?visualFeatures=Categories&model-version=latest",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"url\": \"https://invalidurl\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          ""
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "CSP-Billing-Usage": [
          "CognitiveServices.ComputerVision.Transaction=1"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"InvalidArgument\",\r\n    \"innererror\": {\r\n      \"code\": \"InvalidImageUrl\",\r\n      \"message\": \"Image URL is not accessible.\"\r\n    },\r\n    \"message\": \"Image URL is not accessible.\"\r\n  }\r\n}",
      "StatusCode": 400
    }
  ],
  "Names": {},
  "Variables": {}
}