{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/ipExtendedCommunities/nfa-tool-ts-sdk-ipExtendedCommunity062223?api-version=2023-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key5054": "key"
        },
        "location": "eastus",
        "properties": {
          "annotation": "annotationValue",
          "action": "Permit",
          "routeTargets": [
            "1234:5678"
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/d43f66b5-3d5f-4679-8276-75e0eb95894c*41F95340689F883BE205BB30DFCA55E5A546B14AC3EB012982F6427BE50109DE?api-version=2023-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022a803579f-0000-0100-0000-6493f3060000\u0022",
        "mise-correlation-id": "9d5d9544-1496-4831-bf8b-3089c42356c5",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/ipExtendedCommunities/nfa-tool-ts-sdk-ipExtendedCommunity062223",
        "name": "nfa-tool-ts-sdk-ipExtendedCommunity062223",
        "type": "microsoft.managednetworkfabric/ipextendedcommunities",
        "location": "eastus",
        "tags": {
          "key5054": "key"
        },
        "systemData": {
          "createdBy": "v-rmarimuthu@microsoft.com",
          "createdByType": "User",
          "createdAt": "2023-06-22T07:06:45.6133109Z",
          "lastModifiedBy": "v-rmarimuthu@microsoft.com",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2023-06-22T07:06:45.6133109Z"
        },
        "properties": {
          "action": "Permit",
          "routeTargets": [
            "1234:5678"
          ],
          "provisioningState": "Accepted",
          "annotation": "annotationValue"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/d43f66b5-3d5f-4679-8276-75e0eb95894c*41F95340689F883BE205BB30DFCA55E5A546B14AC3EB012982F6427BE50109DE?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224304a8ef-0000-0100-0000-6493f3060000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/d43f66b5-3d5f-4679-8276-75e0eb95894c*41F95340689F883BE205BB30DFCA55E5A546B14AC3EB012982F6427BE50109DE",
        "name": "d43f66b5-3d5f-4679-8276-75e0eb95894c*41F95340689F883BE205BB30DFCA55E5A546B14AC3EB012982F6427BE50109DE",
        "resourceId": "/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/ipExtendedCommunities/nfa-tool-ts-sdk-ipExtendedCommunity062223",
        "status": "Succeeded",
        "startTime": "2023-06-22T07:06:46.5467987Z",
        "endTime": "2023-06-22T07:06:46.8973532Z",
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/ipExtendedCommunities?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "52fb4b42-4611-4f3c-8269-ea4700e9f19c",
          "0cc54b16-85c4-4df9-95c4-d3c302f135d1",
          "ad33a5de-b528-41f6-9c2a-3e6b2e6e45ac",
          "223dfb0f-01f0-4238-8b9d-08c4e44cf880"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/ipExtendedCommunities/nfa-tool-ts-sdk-ipExtendedCommunity061623",
            "name": "nfa-tool-ts-sdk-ipExtendedCommunity061623",
            "type": "microsoft.managednetworkfabric/ipextendedcommunities",
            "location": "eastus",
            "tags": {
              "key5054": "key"
            },
            "sy[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/providers/Microsoft.ManagedNetworkFabric/ipExtendedCommunities?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "c5b3884[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/ipExtendedCommunities/nfa-tool-ts-sdk-ipExtendedCommunity062223?api-version=2023-02-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/f030f884-08b1-49cc-85dd-6440c4d3f0bf*41F95340689F883BE205BB30DFCA55E5A546B14AC3EB012982F6427BE50109DE?api-version=2023-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022a803eda0-0000-0100-0000-6493f30e0000\u0022",
        "Location": "https://management.azure.com/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/f030f884-08b1-49cc-85dd-6440c4d3f0bf*41F95340689F883BE205BB30DFCA55E5A546B14AC3EB012982F6427BE50109DE?api-version=2023-02-01-preview",
        "mise-correlation-id": "7ac88da2-f704-4b8f-b843-08f19cade07f",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": "null"
    },
[...]
