{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https%3A%2F%2Flogin.microsoftonline.com%2Fc54fac88-3dd3-461f-a7c4-8a368e0340b3%2Foauth2%2Fv2.0%2Fauthorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "return-client-request-id": "true",
        "x-app-name": "UnknownClient",
        "x-app-ver": "0.0.0.0",
        "x-client-OS": "Microsoft Windows 10.0.19042",
        "x-client-SKU": "MSAL.NetCore",
        "x-client-Ver": "4.23.0.0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/c54fac88-3dd3-461f-a7c4-8a368e0340b3/v2.0/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/c54fac88-3dd3-461f-a7c4-8a368e0340b3/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded",
        "return-client-request-id": "true",
        "x-app-name": "UnknownClient",
        "x-app-ver": "0.0.0.0",
        "x-client-current-telemetry": "2|1004,0|",
        "x-client-last-telemetry": "2|0|||",
        "x-client-OS": "Microsoft Windows 10.0.19042",
        "x-client-SKU": "MSAL.NetCore",
        "x-client-Ver": "4.23.0.0",
        "x-ms-lib-capability": "retry-after, h429",
        "x-ms-PKeyAuth": "1.0"
      },
      "RequestBody": "Sanitized",
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": "invalid_client",
        "error_description": "AADSTS7000215: Invalid client secret is provided.\r\nTrace ID: 7bf28be4-fc61-48f2-81a3-5a9775ca0700\r\nCorrelation ID: 6283823d-16a4-481c-8f40-32b27bcc1e9b\r\nTimestamp: 2021-02-05 20:01:47Z",
        "error_codes": [
          7000215
        ],
        "timestamp": "2021-02-05 20:01:47Z",
        "trace_id": "7bf28be4-fc61-48f2-81a3-5a9775ca0700",
        "correlation_id": "6283823d-16a4-481c-8f40-32b27bcc1e9b",
        "error_uri": "https://login.microsoftonline.com/error?code=7000215"
      }
    }
  ],
  "Variables": {
    "IDENTITY_SP_CLIENT_ID": "26790ce1-d05c-4de7-ba73-51837152f0bc",
    "IDENTITY_SP_TENANT_ID": "c54fac88-3dd3-461f-a7c4-8a368e0340b3",
    "RandomSeed": "116437804"
  }
}