{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https%3A%2F%2Flogin.microsoftonline.com%2Fc54fac88-3dd3-461f-a7c4-8a368e0340b3%2Foauth2%2Fv2.0%2Fauthorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "return-client-request-id": "true",
        "x-app-name": "UnknownClient",
        "x-app-ver": "0.0.0.0",
        "x-client-CPU": "x64",
        "x-client-OS": "Windows 10 Enterprise",
        "x-client-SKU": "MSAL.Desktop",
        "x-client-Ver": "4.39.0.0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/c54fac88-3dd3-461f-a7c4-8a368e0340b3/v2.0/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/c54fac88-3dd3-461f-a7c4-8a368e0340b3/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded",
        "return-client-request-id": "true",
        "x-app-name": "UnknownClient",
        "x-app-ver": "0.0.0.0",
        "x-client-CPU": "x64",
        "x-client-current-telemetry": "5|1004,2,,,|0,1",
        "x-client-last-telemetry": "5|0|||",
        "x-client-OS": "Windows 10 Enterprise",
        "x-client-SKU": "MSAL.Desktop",
        "x-client-Ver": "4.39.0.0",
        "x-ms-lib-capability": "retry-after, h429"
      },
      "RequestBody": "client_id=Sanitized\u0026client_info=Sanitized\u0026client_secret=Sanitized\u0026scope=Sanitized\u0026grant_type=Sanitized",
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": "{\u0022error\u0022:\u0022invalid_client\u0022,\u0022error_description\u0022:\u0022AADSTS7000215: Invalid client secret provided. Ensure the secret being sent in the request is the client secret value, not the client secret ID, for a secret added to app \u002726790ce1-d05c-4de7-ba73-51837152f0bc\u0027.\\r\\nTrace ID: df3a0add-1690-4822-b841-c317740bff01\\r\\nCorrelation ID: 45e03a5e-b550-428d-ab80-97516c7007bb\\r\\nTimestamp: 2022-02-07 17:03:53Z\u0022,\u0022error_codes\u0022:[7000215],\u0022timestamp\u0022:\u00222022-02-07 17:03:53Z\u0022,\u0022trace_id\u0022:\u0022df3a0add-1690-4822-b841-c317740bff01\u0022,\u0022correlation_id\u0022:\u002245e03a5e-b550-428d-ab80-97516c7007bb\u0022,\u0022error_uri\u0022:\u0022https://login.microsoftonline.com/error?code=Sanitized"
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "IDENTITY_SP_CLIENT_ID": "26790ce1-d05c-4de7-ba73-51837152f0bc",
    "IDENTITY_SP_TENANT_ID": "c54fac88-3dd3-461f-a7c4-8a368e0340b3",
    "RandomSeed": "398830316"
  }
}
