<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hydra.Generator" version="1.0.5290.16039-prerelease" targetFramework="portable-net45+sl50+win+wp80" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Net.Http" version="2.2.22" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Common" version="1.1.1" targetFramework="portable-net45+sl50+win+wp80" />
  <package id="Microsoft.WindowsAzure.Common.Dependencies" version="1.0.1" targetFramework="portable-net45+sl50+win+wp80" />
  <package id="Microsoft.WindowsAzure.Management.WebSites.Specification" version="3.0.5308.25268-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.WebSitesExtensions.Specification" version="3.0.5308.25274-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="portable-net45+sl50+wp80+win" />
</packages>