<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hydra.Generator" version="1.0.5143.30208-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Bcl" version="1.1.6" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Net.Http" version="2.2.18" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.WebSites.Specification" version="1.0.5149.30978-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.WebSitesExtensions.Specification" version="1.0.5144.28746-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="portable-net45+sl50+wp80+win" />
</packages>