{
  "Entries": [
    {
      "RequestUri": "https://myaccountname.purview.azure.com/share/sentShares/fe11781e-9a7d-488d-bd22-cc2c95536e96?api-version=2023-05-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "properties": {
          "displayName": "testDisplayName1",
          "description": "updatedDescription",
          "artifact": {
            "properties": {
              "paths": [
                {
                  "containerName": "container1",
                  "senderPath": "testfolder1",
                  "receiverPath": "testfolder1"
                }
              ],
              "location": "australiaeast"
            },
            "storeKind": "AdlsGen2Account",
            "storeReference": {
              "referenceName": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testResourceGroup/providers/Microsoft.Storage/storageAccounts/providerTestStorageAccount",
              "type": "ArmResourceReference"
            }
          },
          "state": "Succeeded",
          "createdAt": "2023-06-07T20:32:05.7129648Z",
          "dependsOn": [],
          "senderName": "sdk-05-30-share",
          "senderTenantName": "Microsoft"
        },
        "shareKind": "InPlace",
        "id": "fe11781e-9a7d-488d-bd22-cc2c95536e96",
        "type": "SentShare"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "PURVIEW_SHARE_URL": "https://myaccountname.purview.azure.com/share",
    "RandomSeed": "2027958113"
  }
}
