{
  "Entries": [
    {
      "RequestUri": "https://myaccountname.purview.azure.com/share/sentShares/7911b09b-9cb3-416a-a3f0-e242c0bfd574?api-version=2023-02-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "properties": {
          "displayName": "testDisplayName1",
          "description": "updatedDescription",
          "artifact": {
            "properties": {
              "paths": [
                {
                  "containerName": "container1",
                  "senderPath": "testfolder1",
                  "receiverPath": "testfolder1"
                }
              ],
              "location": "southafricanorth"
            },
            "storeKind": "AdlsGen2Account",
            "storeReference": {
              "referenceName": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testResourceGroup/providers/Microsoft.Storage/storageAccounts/providerTestStorageAccount",
              "type": "ArmResourceReference"
            }
          },
          "state": "Succeeded",
          "createdAt": "2023-02-23T04:33:06.6542174Z",
          "dependsOn": [],
          "senderName": "SyMS",
          "senderTenantName": "Microsoft"
        },
        "shareKind": "InPlace",
        "id": "7911b09b-9cb3-416a-a3f0-e242c0bfd574",
        "type": "SentShare"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "PURVIEW_SHARE_URL": "https://ads-dev-eastus-pv.purview.azure.com/share",
    "RandomSeed": "1212882543"
  }
}
