{
  "Entries": [
    {
      "RequestUri": "/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/sdk-refresh-2023/getExtendedInformation?api-version=2023-07-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"encryptionKeyThumbprint\": \"456D3942A05E6C7DE8D140B14682157362357FFE\",\r\n    \"encryptionKey\": \"EAAAALv8NXGKRfz1n9d18ZItQ1o+7zA7oZCoZHrvBkbWkPt/gWMPWADK3gGCC6UOmw4Wybp3hZAplHFROCjyFr1R1QO1VUMmeVTYhXbscKkMQ09LRAEogBDVrwLr01xOEZIGfygBFz4u26Jgk9WkjPDdELHrtHlRMvwSeqUTeiIyc9WWisZgi3lPQCznXX9Z99cvJchBe/kyvbDv9HqI6lzsH0aMGxFuObb04SbSDG7QVl/028ypoyFFDf2U0PzN5MF1Hz3jQeBNmABroVi5HybcWvjfW/Ifi4v50HQs+l9t56foCjLRuldz0eTELSSumKyUA78BFWKrsfyMQnednT/GqD76owVNx46K+j2yU3H8yLiIU/IWdGtbf1bu1sziwZlFcmWEsOODvj+N0Lu32A3nAt9KnjOMSlcqNwOMezT5T7xa9uRAm8toPraZ6o86UcQST5DF8Rkd2rfl9D4THujkxoPQCNOl2HyFricf1EuHQv5D+[...]
    {
      "RequestUri": "/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/sdk-refresh-2023/storageAccountCredentials/databoxedgeutdst?api-version=2023-07-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"alias\": \"databoxedgeutdst\",\r\n    \"userName\": \"databoxedgeutdst\",\r\n    \"accountKey\": {\r\n      \"value\": \"n5bj1IN8BSl/vmxxi56l+XadT/GhkV2gODpvkrM/t7MX2s3lX39zYtWrO6eITSY8y9T/u1avzjeSTExoV26mD+9gD8SlhgmTaguSsREOTPM9aKEfxJ3uj8zrfuzi1epElaXbr3zCRiiE99hi1QOGg0IyVrDszyO2Gwa8oTwNu7pmwMXWQktGqtQKELehCZ2dEkkhb/NmoOqzneaoFhiQGJqDiJrYmiWvrAEn6nP/NFdXUE++P41bc10yz0EEirWquwDcfD1U1RVh0lRlzJVNosC54eXl/UqNrFX4oLQZr0mDwo4nTlhRbzG2xZqhw7qtwR8NHXbnlIWQXAt1vwImAg==\",\r\n      \"encryptionCertThumbprint\": \"456D3942A05E6C7DE8D140B14682157362357FFE\",\r\n      \"encryptionAlgorithm\": \"AES256\"\r\n    },\r\n    \"sslStatus\": \"Disabled\",\r\n    \"accountType\": \"BlobStorage\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/sdk-refresh-2023/storageAccountCredentials/databoxedgeutdst/operationResults/92c422ee-a4fe-4f84-8e40-e23f3ad06960?api-version=2023-07-01"
        ],
        "Retry-After": [
          "30"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/sdk-refresh-2023/storageAccountCredentials/databoxedgeutdst/operationResults/92c422ee-a4fe-4f84-8e40-e23f3ad06960?api-version=2023-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/sdk-refresh-2023/storageAccountCredentials/databoxedgeutdst?api-version=2023-07-01"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/sdk-refresh-2023/storageAccountCredentials/databoxedgeutdst?api-version=2023-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"alias\": \"databoxedgeutdst\",\r\n    \"userName\": \"databoxedgeutdst\",\r\n    \"sslStatus\": \"Disabled\",\r\n    \"accountType\": \"BlobStorage\"\r\n  },\r\n  \"id\": \"/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/sdk-refresh-2023/storageAccountCredentials/databoxedgeutdst\",\r\n  \"name\": \"databoxedgeutdst\",\r\n  \"type\": \"Microsoft.DataBoxEdge/dataBoxEdgeDevices/storageAccountCredentials\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/sdk-refresh-2023/storageAccountCredentials?api-version=2023-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"alias\": \"asesdksa\",\r\n        \"userName\": \"asesdksa\",\r\n        \"sslStatus\": \"Enabled\",\r\n        \"blobDomainName\": \"blob.core.windows.net\",\r\n        \"accountType\": \"GeneralPurposeStorage\",\r\n        \"storageAccountId\": \"/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.Storage/storageAccounts/asesdksa\"\r\n      },\r\n      \"id\": \"/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/sdk-refresh-2023/storageAccountCredentials/asesdksa\",\r\n      \"name\": \"asesdksa\",\r\n      \"type\": \"Microsoft.DataBoxEdge/dataBoxEdgeDevices/storageAccountCredentials\"\r\n    },\r\n    {[...]
[...]
    {
      "RequestUri": "/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/sdk-refresh-2023/storageAccountCredentials/databoxedgeutdst/operationResults/c673d4bf-87e2-4cd2-8bbc-bbf7cb797fb9?api-version=2023-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/sdk-refresh-2023/storageAccountCredentials/databoxedgeutdst?api-version=2023-07-01"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11993"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "db4e2fdb-6d80-4e6e-b7cd-736098270664",
    "SubId": "db4e2fdb-6d80-4e6e-b7cd-736098270664"
  }
}