{
  "Entries": [
    {
      "RequestUri": "/subscriptions/3ca49042-782a-4cc9-89b5-ee1b487fe115/providers/microsoft.insights?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3ca49042-782a-4cc9-89b5-ee1b487fe115/providers/microsoft.insights\",\r\n  \"namespace\": \"microsoft.insights\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"11c174dc-1945-4a9a-a36b-c79a0f246b9b\",\r\n    \"roleDefinitionId\": \"dd9d4347-f397-45f2-b538-85f21c90037b\"\r\n  },\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"components\",\r\n      \"locations\": [\r\n        \"Central US\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-05-01\",\r\n        \"2014-08-01\",\r\n        \"2014-04-01\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"webtests\",\r\n      \"locations\": [\r\n        \"Central US\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-05-01\",\r\n        \"2014-08-01\",\r\n        \"2014-04-01\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"queries\",\r\n      \"locations\": [\r\n        [...]
    {
      "RequestUri": "/providers/microsoft.insights/operations?api-version=2015-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.Insights/AlertRules/Write\",\r\n      \"display\": {\r\n        \"publisher\": \"Microsoft\",\r\n        \"provider\": \"Microsoft Monitoring Insights\",\r\n        \"resource\": \"Alert Rules\",\r\n        \"operation\": \"Alert Rule write\",\r\n        \"description\": \"Writing to an alert rule configuration\"\r\n      },\r\n      \"properties\": {}\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Insights/AlertRules/Delete\",\r\n      \"display\": {\r\n        \"publisher\": \"Microsoft\",\r\n        \"provider\": \"Microsoft Monitoring Insights\",\r\n        \"resource\": \"Alert Rules\",\r\n        \"operation\": \"Alert Rule delete\",\r\n        \"description\": \"Deleting an alert rule configuration\"\r\n      },\r\n      \"properties\": {}\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Insights/AlertRules/Read\",\r\n      \"di[...]
    {
      "RequestUri": "/providers/microsoft.insights/operations?api-version=2015-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"InvalidResourceType\",\r\n    \"message\": \"The resource type 'operations' could not be found in the namespace 'microsoft.insights' for api version '2015-01-01'. The supported api-versions are '2014-04-01,2014-06-01,2015-04-01'.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14998"
        ]
      },
      "StatusCode": 404
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "3ca49042-782a-4cc9-89b5-ee1b487fe115"
  }
}